Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ci/prow/e2e-aws-ocp4-cis:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-cis-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-e8:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-pci-dss:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

Fix rule package_apparmor_installed for SLE15
  linux_os/guide/system/apparmor/package_apparmor_installed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

OCPBUGS-54486: Ensure platform is set appropriately when filtering rules
  ssg/entities/profile_base.py
Due: none

Convert user account watches STIG PSC to modern audit
  linux_os/guide/auditing/auditd_configure_rules/audit_login_events/audit_rules_login_events_faillock/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_sudoers/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_sudoers_d/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_usergroup_modification_group/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_usergroup_modification_gshadow/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_usergroup_modification_opasswd/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_usergroup_modification_passwd/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_usergroup_modification_shadow/policy/stig/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Change sudo augenrules --load to auditd restart in STIG PSC
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_umount/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_umount2/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_execution_acl_commands/audit_rules_execution_chacl/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_execution_acl_commands/audit_rules_execution_setfacl/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_execution_selinux_commands/audit_rules_execution_chcon/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_execution_selinux_commands/audit_rules_execution_semanage/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_execution_selinux_commands/audit_rules_execution_setfiles/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_execution_selinux_commands/audit_rules_execution_setsebool/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_privileged_commands_init/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_privileged_commands_poweroff/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_privileged_commands_reboot/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_privileged_commands_shutdown/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_chage/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_chsh/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_crontab/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_gpasswd/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_kmod/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_mount/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_newgrp/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_pam_timestamp_check/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_passwd/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_postdrop/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_postqueue/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_ssh_agent/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_ssh_keysign/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_su/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_sudo/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_sudoedit/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_umount/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_unix_chkpwd/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_unix_update/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_userhelper/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_usermod/policy/stig/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/policy/stig/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix OCIL in audit_rules_sudoers_d
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_sudoers_d/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update IA Control data for V3R2
  utils/srg_export/data.py
Due: none

Adjust IA Control column for XLSX export
  utils/create_srg_export.py
Due: none

Remove sysctl_user_max_user_namespaces from RHEL 10 STIG
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
  tests/data/profile_stability/rhel10/stig.profile
Due: none

Use template in audit_rules_mac_modification_usr_share
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/ansible/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/oval/shared.xml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/auditctl_correct.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/auditctl_correct_without_key.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/auditctl_missing.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/auditctl_wrong_value.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/augen_correct.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/augen_correct_without_key.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/augen_missing.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/augen_wrong_value.fail.sh
  shared/templates/audit_rules_watch/oval.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

rsyslog_remote_loghost: allow also Rainerscript syntax
  linux_os/guide/system/logging/rsyslog_sending_messages/rsyslog_remote_loghost/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add test scenario for rainerscript
  linux_os/guide/system/logging/rsyslog_sending_messages/rsyslog_remote_loghost/tests/remote_configured_rainer.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

rsyslog_remote_loghost: mention Rainer Script in description, ocil and other cases in rule.yml
  linux_os/guide/system/logging/rsyslog_sending_messages/rsyslog_remote_loghost/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add devcontainers.
  .devcontainer/cac-container_fedora/devcontainer.json
  .devcontainer/cac-container_rhel/devcontainer.json
  .devcontainer/cac-workshop1/devcontainer.json
  .devcontainer/cac-workshop2/devcontainer.json
  .devcontainer/cac-workshop3/devcontainer.json
  .devcontainer/cac-workshop4/devcontainer.json
  .devcontainer/cac-workshop5/devcontainer.json
  utils/setup_dev.sh
Due: none

Update workshop documentation with instructions for Github Codespaces.
  docs/workshop/lab1_introduction.adoc
  docs/workshop/lab2_openscap.adoc
  docs/workshop/lab3_profiles.adoc
  docs/workshop/lab4_ansible.adoc
  docs/workshop/lab5_oval.adoc
Due: none

Update k8s remediation for ARPC
  shared/templates/audit_rules_privileged_commands/kubernetes.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix PEP8 issues for utils/srg_export/data.py
  utils/srg_export/data.py
Due: none

Updating the condition based on e2e tests results
  applications/openshift/registry/imagestream_sets_schedule/rule.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Adjust permission to 0600 for file_permissions_etc_audit_rulesd
  linux_os/guide/auditing/file_permissions_auditd/file_permissions_etc_audit_rulesd/policy/stig/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

CMP-3277: Use consistent YAML formatting in OCP assertion files
  tests/assertions/ocp4/ocp4-cis-4.17.yml
  tests/assertions/ocp4/ocp4-cis-4.18.yml
  tests/assertions/ocp4/ocp4-cis-node-4.17.yml
  tests/assertions/ocp4/ocp4-cis-node-4.18.yml
  tests/assertions/ocp4/ocp4-high-4.17.yml
  tests/assertions/ocp4/ocp4-high-4.18.yml
  tests/assertions/ocp4/ocp4-high-node-4.17.yml
  tests/assertions/ocp4/ocp4-high-node-4.18.yml
  tests/assertions/ocp4/ocp4-moderate-4.17.yml
  tests/assertions/ocp4/ocp4-moderate-4.18.yml
  tests/assertions/ocp4/ocp4-moderate-node-4.17.yml
  tests/assertions/ocp4/ocp4-moderate-node-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.18.yml
  tests/assertions/ocp4/ocp4-stig-node-4.17.yml
  tests/assertions/ocp4/ocp4-stig-node-4.18.yml
  tests/assertions/ocp4/rhcos4-e8-4.13.yml
  tests/assertions/ocp4/rhcos4-e8-4.17.yml
  tests/assertions/ocp4/rhcos4-e8-4.18.yml
  tests/assertions/ocp4/rhcos4-high-4.17.yml
  tests/assertions/ocp4/rhcos4-high-4.18.yml
  tests/assertions/ocp4/rhcos4-moderate-4.17.yml
  tests/assertions/ocp4/rhcos4-moderate-4.18.yml
  tests/assertions/ocp4/rhcos4-stig-4.17.yml
  tests/assertions/ocp4/rhcos4-stig-4.18.yml
Due: none

Adjust PSC check text for RHEL 10 on package_policycoreutils_installed
  linux_os/guide/system/selinux/package_policycoreutils_installed/policy/stig/rhel10.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

OCPBUGS-52885: Exclude FIO notification check on ARM64
  applications/openshift/general/file_integrity_notification_enabled/rule.yml
  applications/openshift/integrity/file_integrity_exists/rule.yml
  tests/assertions/ocp4/ocp4-high-4.12.yml
  tests/assertions/ocp4/ocp4-high-4.13.yml
  tests/assertions/ocp4/ocp4-high-4.14.yml
  tests/assertions/ocp4/ocp4-high-4.15.yml
  tests/assertions/ocp4/ocp4-high-4.16.yml
  tests/assertions/ocp4/ocp4-high-4.17.yml
  tests/assertions/ocp4/ocp4-high-4.18.yml
  tests/assertions/ocp4/ocp4-moderate-4.12.yml
  tests/assertions/ocp4/ocp4-moderate-4.13.yml
  tests/assertions/ocp4/ocp4-moderate-4.14.yml
  tests/assertions/ocp4/ocp4-moderate-4.15.yml
  tests/assertions/ocp4/ocp4-moderate-4.16.yml
  tests/assertions/ocp4/ocp4-moderate-4.17.yml
  tests/assertions/ocp4/ocp4-moderate-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.18.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

CMP-3264: Update TLS assertions in moderate, high, pci-dss
  tests/assertions/ocp4/ocp4-high-4.12.yml
  tests/assertions/ocp4/ocp4-high-4.13.yml
  tests/assertions/ocp4/ocp4-high-4.14.yml
  tests/assertions/ocp4/ocp4-high-4.15.yml
  tests/assertions/ocp4/ocp4-high-4.16.yml
  tests/assertions/ocp4/ocp4-high-4.17.yml
  tests/assertions/ocp4/ocp4-high-4.18.yml
  tests/assertions/ocp4/ocp4-moderate-4.12.yml
  tests/assertions/ocp4/ocp4-moderate-4.13.yml
  tests/assertions/ocp4/ocp4-moderate-4.14.yml
  tests/assertions/ocp4/ocp4-moderate-4.15.yml
  tests/assertions/ocp4/ocp4-moderate-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.18.yml
Due: none

Use more specific individual rules
  controls/anssi.yml
  controls/ccn_rhel9.yml
  controls/cis_rhel10.yml
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  controls/hipaa.yml
  controls/ism_o.yml
  controls/pcidss_4.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_session_events_btmp/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_session_events_utmp/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_session_events_wtmp/rule.yml
  products/rhel10/profiles/default.profile
  products/rhel8/profiles/cjis.profile
  products/rhel8/profiles/default.profile
  products/rhel8/profiles/hipaa.profile
  products/rhel8/profiles/ism_o.profile
  products/rhel9/profiles/default.profile
  products/rhel9/profiles/hipaa.profile
  products/rhel9/profiles/ism_o.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel10/anssi_bp28_enhanced.profile
  tests/data/profile_stability/rhel10/anssi_bp28_high.profile
  tests/data/profile_stability/rhel10/cis.profile
  tests/data/profile_stability/rhel10/cis_workstation_l2.profile
  tests/data/profile_stability/rhel10/hipaa.profile
  tests/data/profile_stability/rhel10/ism_o.profile
  tests/data/profile_stability/rhel10/ism_o_secret.profile
  tests/data/profile_stability/rhel10/ism_o_top_secret.profile
  tests/data/profile_stability/rhel10/pci-dss.profile
  tests/data/profile_stability/rhel8/cis.profile
  tests/data/profile_stability/rhel8/cis_workstation_l2.profile
  tests/data/profile_stability/rhel8/pci-dss.profile
  tests/data/profile_stability/rhel9/cis.profile
  tests/data/profile_stability/rhel9/cis_workstation_l2.profile
  tests/data/profile_stability/rhel9/pci-dss.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

OCPBUGS-53041: Add missing assertions for OVS rules
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.18.yml
Due: none

Add RHEL 10 package PSC content for RHEL 10
  linux_os/guide/auditing/package_audispd-plugins_installed/policy/stig/rhel10.yml
  linux_os/guide/auditing/package_audit_installed/policy/stig/rhel10.yml
  linux_os/guide/services/fapolicyd/package_fapolicyd_installed/policy/stig/rhel10.yml
  linux_os/guide/services/mail/package_s-nail_installed/policy/stig/rhel10.yml
  linux_os/guide/services/ntp/package_chrony_installed/policy/stig/rhel10.yml
  linux_os/guide/services/ssh/package_openssh-clients_installed/policy/stig/rhel10.yml
  linux_os/guide/services/ssh/package_openssh-server_installed/policy/stig/rhel10.yml
  linux_os/guide/services/usbguard/package_usbguard_installed/policy/stig/rhel10.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/package_opensc_installed/policy/stig/rhel10.yml
  linux_os/guide/system/logging/package_rsyslog-gnutls_installed/policy/stig/rhel10.yml
  linux_os/guide/system/logging/package_rsyslog_installed/policy/stig/rhel10.yml
  linux_os/guide/system/network/network-firewalld/firewalld_activation/package_firewalld_installed/policy/stig/rhel10.yml
  linux_os/guide/system/network/network-ipsec/package_libreswan_installed/policy/stig/rhel10.yml
  linux_os/guide/system/selinux/package_policycoreutils-python-utils_installed/policy/stig/rhel10.yml
  linux_os/guide/system/software/integrity/crypto/package_crypto-policies_installed/policy/stig/rhel10.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/package_aide_installed/policy/stig/rhel10.yml
  linux_os/guide/system/software/sudo/package_sudo_installed/policy/stig/rhel10.yml
  linux_os/guide/system/software/system-tools/package_gnutls-utils_installed/policy/stig/rhel10.yml
  linux_os/guide/system/software/system-tools/package_nss-tools_installed/policy/stig/rhel10.yml
  linux_os/guide/system/software/system-tools/package_subscription-manager_installed/policy/stig/rhel10.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Adjust wording on fix text for system_booted_in_fips_mode
  linux_os/guide/system/software/integrity/fips/system_booted_in_fips_mode/policy/stig/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove duplicate line in ssh_keys_passphrase_protected
  linux_os/guide/services/ssh/ssh_client/ssh_keys_passphrase_protected/policy/stig/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add STIG PSC content for tftp
  linux_os/guide/services/obsolete/tftp/package_tftp_removed/policy/stig/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Initial Commit
  shared/templates/file_groupowner2/bash.template
  shared/templates/file_groupowner2/oval.template
  shared/templates/file_groupowner2/template.py
  shared/templates/file_groupowner2/template.yml
  shared/templates/file_groupowner2/tests/correct_groupowner.pass.sh
  shared/templates/file_groupowner2/tests/incorrect_groupowner.fail.sh
  shared/templates/file_owner2/ansible.template
  shared/templates/file_owner2/bash.template
  shared/templates/file_owner2/oval.template
  shared/templates/file_owner2/template.py
  shared/templates/file_owner2/template.yml
  shared/templates/file_owner2/tests/correct_owner.pass.sh
  shared/templates/file_owner2/tests/incorrect_owner.fail.sh
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove some last remnants of the macOS product
  CMakeLists.txt
  build_product
Due: none

Adjust products in build_product and CMake
  CMakeLists.txt
  build_product
Due: none

Add audit_rules_mac_modification_etc_selinux to the PCI DSS 4 control file
  controls/pcidss_4.yml
  products/rhel8/profiles/pci-dss.profile
  products/rhel9/profiles/pci-dss.profile
  products/sle12/profiles/pci-dss.profile
  products/sle15/profiles/pci-dss-4.profile
Due: none

Update audit rules for aarch64
  tests/assertions/ocp4/rhcos4-e8-4.12.yml
  tests/assertions/ocp4/rhcos4-e8-4.13.yml
  tests/assertions/ocp4/rhcos4-e8-4.14.yml
  tests/assertions/ocp4/rhcos4-e8-4.15.yml
  tests/assertions/ocp4/rhcos4-e8-4.16.yml
  tests/assertions/ocp4/rhcos4-e8-4.17.yml
  tests/assertions/ocp4/rhcos4-e8-4.18.yml
  tests/assertions/ocp4/rhcos4-high-4.12.yml
  tests/assertions/ocp4/rhcos4-high-4.13.yml
  tests/assertions/ocp4/rhcos4-high-4.14.yml
  tests/assertions/ocp4/rhcos4-high-4.15.yml
  tests/assertions/ocp4/rhcos4-high-4.16.yml
  tests/assertions/ocp4/rhcos4-high-4.17.yml
  tests/assertions/ocp4/rhcos4-high-4.18.yml
  tests/assertions/ocp4/rhcos4-high-4.2.yml
  tests/assertions/ocp4/rhcos4-moderate-4.12.yml
  tests/assertions/ocp4/rhcos4-moderate-4.13.yml
  tests/assertions/ocp4/rhcos4-moderate-4.14.yml
  tests/assertions/ocp4/rhcos4-moderate-4.15.yml
  tests/assertions/ocp4/rhcos4-moderate-4.16.yml
  tests/assertions/ocp4/rhcos4-moderate-4.17.yml
  tests/assertions/ocp4/rhcos4-moderate-4.18.yml
  tests/assertions/ocp4/rhcos4-stig-4.12.yml
  tests/assertions/ocp4/rhcos4-stig-4.13.yml
  tests/assertions/ocp4/rhcos4-stig-4.14.yml
  tests/assertions/ocp4/rhcos4-stig-4.15.yml
  tests/assertions/ocp4/rhcos4-stig-4.16.yml
  tests/assertions/ocp4/rhcos4-stig-4.17.yml
  tests/assertions/ocp4/rhcos4-stig-4.18.yml
Due: none

OCPBUGS-54212: Adjust api-server-tls-cipher-suite to include 4.18 suites
  applications/openshift/api-server/api_server_tls_cipher_suites/rule.yml
  tests/assertions/ocp4/ocp4-cis-4.18.yml
  tests/assertions/ocp4/ocp4-high-4.18.yml
  tests/assertions/ocp4/ocp4-moderate-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.18.yml
  tests/assertions/ocp4/ocp4-stig-4.18.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

OCPBUGS-54605: Set architecture in directory-access-var-log-audit remediation
  linux_os/guide/auditing/auditd_configure_rules/directory_access_var_log_audit/kubernetes/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
