Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

Fix macro regex and add BATS unit tests
  linux_os/guide/services/sssd/sssd_certificate_verification/bash/shared.sh
  linux_os/guide/services/sssd/sssd_run_as_sssd_user/bash/shared.sh
  shared/macros-bash.jinja
  tests/unit/bash/test_bash_sssd_set_option.bats.jinja
  tests/unit/bash/test_bash_sssd_set_option_new.bats.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Remove profiles tag for CI to pass
  linux_os/guide/services/sssd/sssd_memcache_timeout/tests/comment.fail.sh
  linux_os/guide/services/sssd/sssd_memcache_timeout/tests/correct_value.pass.sh
  linux_os/guide/services/sssd/sssd_memcache_timeout/tests/wrong_section.fail.sh
  linux_os/guide/services/sssd/sssd_memcache_timeout/tests/wrong_value.fail.sh
  linux_os/guide/services/sssd/sssd_ssh_known_hosts_timeout/tests/comment.fail.sh
  linux_os/guide/services/sssd/sssd_ssh_known_hosts_timeout/tests/correct_value.pass.sh
  linux_os/guide/services/sssd/sssd_ssh_known_hosts_timeout/tests/wrong_section.fail.sh
  linux_os/guide/services/sssd/sssd_ssh_known_hosts_timeout/tests/wrong_value.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add new sssd config macro and use it in remediations; fix comments
  linux_os/guide/services/sssd/sssd_certificate_verification/bash/shared.sh
  linux_os/guide/services/sssd/sssd_run_as_sssd_user/bash/shared.sh
  shared/macros-bash.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

use special language oval-platform when templating CPE ovals
  shared/templates/package_installed/oval_platform.template
  ssg/templates.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Initial implementation of templated and parameterized platforms
  build-scripts/build_templated_content.py
  cmake/SSGCommon.cmake
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/rule.yml
  shared/applicability/general.yml
  ssg/boolean_expression.py
  ssg/build_cpe.py
  ssg/templates.py
  tests/unit/ssg-module/test_boolean_expressions.py
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add missing argument passed to macro tested in BATS
  tests/unit/bash/test_bash_sssd_set_option.bats.jinja
Due: none

Fix condition logic, CI shellcheck issue and add BATS tests
  linux_os/guide/services/sssd/sssd_certificate_verification/bash/shared.sh
  linux_os/guide/services/sssd/sssd_run_as_sssd_user/bash/shared.sh
  shared/macros-bash.jinja
  tests/unit/bash/test_bash_ensure_ini_config.bats.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

remove calls to as_dict method for CPEItem
  ssg/build_cpe.py
Due: none

extract XCCDFEntity class to be used in other module files
  ssg/build_yaml.py
  ssg/data_structures.py
Due: none

change initialization ofProductCPEs class
  ssg/build_cpe.py
Due: none

allow compiled content file names to contain dots
  ssg/data_structures.py
Due: none

support for compiled cpe items
  ssg/build_cpe.py
  ssg/build_yaml.py
  ssg/templates.py
Due: none

skip templating of remediation conditionals for now
  ssg/build_cpe.py
Due: none

fix ProductCPEs initialization in tests for ssg test suite
  tests/ssg_test_suite/common.py
Due: none

create example platform with nonexisting packages
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

save compiled cpe items into cpe_items directory
  ssg/build_yaml.py
Due: none

remove initialization of product_cpes from products.py
  ssg/products.py
Due: none

finish modifications to template building
  ssg/templates.py
Due: none

change OVAL definition form for oval_platform so that it gets matched during build process
  shared/templates/package_installed/oval_platform.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

support reading content CPES from individual yaml files
  ssg/build_cpe.py
Due: none

make build scripts aware of cpe_items dir
  build-scripts/build_templated_content.py
  build-scripts/collect_remediations.py
  build-scripts/compile_all.py
  build-scripts/cpe_generate.py
  cmake/SSGCommon.cmake
Due: none

add forgotten oval_platform to supported languages
  shared/templates/package_installed/template.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

collect OVALs also from oval_platform directory
  cmake/SSGCommon.cmake
Due: none

modify ssg module test suite to reflect changes
  tests/unit/ssg-module/data/applicability/chrony.yml
  tests/unit/ssg-module/data/applicability/general.yml
  tests/unit/ssg-module/data/applicability/machine.yml
  tests/unit/ssg-module/data/applicability/ntp.yml
  tests/unit/ssg-module/data/applicability/systemd.yml
  tests/unit/ssg-module/data/applicability/virtualization.yml
  tests/unit/ssg-module/data/applicability/yum.yml
  tests/unit/ssg-module/test_build_cpe.py
  tests/unit/ssg-module/test_build_yaml.py
Due: none

propagate arguments given to platform to cpe items
  ssg/build_cpe.py
Due: none

use bogus platforms so that it does not collide with existing ones
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

let the ProductCPEs class load compiled cpe items
  ssg/build_yaml.py
Due: none

add new key to cpe item to distinguish product CPEs
  ssg/build_cpe.py
Due: none

add bogus bash_conditional for templated CPE so that test pass for now
  shared/applicability/package_installed.yml
Due: none

fix loading of CPEs when building derivatives
  build-scripts/enable_derivatives.py
  cmake/SSGCommon.cmake
  ssg/build_derivatives.py
Due: none

Add fix text to dconf_gnome_screensaver_mode_blank
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_mode_blank/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update SRG-OS-000031-GPOS-00012 for RHEL9 STIG
  controls/stig_rhel9/SRG-OS-000031-GPOS-00012.yml
Due: none

Update SRG-OS-000445-GPOS-00199 for RHEL9 STIG
  controls/stig_rhel9/SRG-OS-000445-GPOS-00199.yml
Due: none

Update selinux_policytype for RHEL9 STIG
  linux_os/guide/system/selinux/selinux_policytype/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add fix text to selinux_state
  linux_os/guide/system/selinux/selinux_state/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update SRG-OS-000437-GPOS-00194 for RHEL9 STIG
  controls/stig_rhel9/SRG-OS-000437-GPOS-00194.yml
Due: none

Update SRG-OS-000432-GPOS-00191 for RHEL9 STIG
  controls/stig_rhel9/SRG-OS-000432-GPOS-00191.yml
Due: none

When 'file_regex' is set do not operate on symlinks
  shared/templates/file_groupowner/bash.template
  shared/templates/file_owner/bash.template
  shared/templates/file_permissions/bash.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Prevent breaking the paths with spaces
  shared/templates/file_groupowner/bash.template
  shared/templates/file_owner/bash.template
  shared/templates/file_permissions/bash.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate
