Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

Add the ability to the run_scapval script to scan one file
  tests/run_scapval.py
Due: none

Add SCAPVal configuration options to root CMake
  CMakeLists.txt
Due: none

Add docs for SCAPVal testing
  docs/manual/developer/08_content_tests.md
Due: none

Move Stabilization to use ctest based scapval
  .github/workflows/stabilize.yaml
Due: none

Add a test for rule journald_storage
  linux_os/guide/system/logging/journald/journald_storage/tests/correct_value_in_quotes.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add a test for rule journald_compress
  linux_os/guide/system/logging/journald/journald_compress/tests/correct_value_in_quotes.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

OCP4: Add a new rule that checks that the IdP is either LDAP or OIDC
  applications/openshift/authentication/idp_is_configured/policy/stig/shared.yml
  applications/openshift/authentication/idp_is_oidc_or_ldap/policy/stig/shared.yml
  applications/openshift/authentication/idp_is_oidc_or_ldap/rule.yml
  applications/openshift/authentication/idp_is_oidc_or_ldap/tests/ocp4/e2e-remediation.sh
  applications/openshift/authentication/idp_is_oidc_or_ldap/tests/ocp4/e2e.yml
  controls/srg_ctr/SRG-APP-000024-CTR-000060.yml
  controls/srg_ctr/SRG-APP-000025-CTR-000065.yml
  controls/srg_ctr/SRG-APP-000065-CTR-000115.yml
  controls/srg_ctr/SRG-APP-000149-CTR-000355.yml
  controls/srg_ctr/SRG-APP-000150-CTR-000360.yml
  controls/srg_ctr/SRG-APP-000151-CTR-000365.yml
  controls/srg_ctr/SRG-APP-000152-CTR-000370.yml
  controls/srg_ctr/SRG-APP-000156-CTR-000380.yml
  controls/srg_ctr/SRG-APP-000157-CTR-000385.yml
  controls/srg_ctr/SRG-APP-000163-CTR-000395.yml
  controls/srg_ctr/SRG-APP-000164-CTR-000400.yml
  controls/srg_ctr/SRG-APP-000165-CTR-000405.yml
  controls/srg_ctr/SRG-APP-000166-CTR-000410.yml
  controls/srg_ctr/SRG-APP-000167-CTR-000415.yml
  controls/srg_ctr/SRG-APP-000168-CTR-000420.yml
  controls/srg_ctr/SRG-APP-000169-CTR-000425.yml
  controls/srg_ctr/SRG-APP-000170-CTR-000430.yml
  controls/srg_ctr/SRG-APP-000171-CTR-000435.yml
  controls/srg_ctr/SRG-APP-000172-CTR-000440.yml
  controls/srg_ctr/SRG-APP-000173-CTR-000445.yml
  controls/srg_ctr/SRG-APP-000174-CTR-000450.yml
  controls/srg_ctr/SRG-APP-000177-CTR-000465.yml
  controls/srg_ctr/SRG-APP-000317-CTR-000735.yml
  controls/srg_ctr/SRG-APP-000318-CTR-000740.yml
  controls/srg_ctr/SRG-APP-000345-CTR-000785.yml
  controls/srg_ctr/SRG-APP-000391-CTR-000935.yml
  controls/srg_ctr/SRG-APP-000397-CTR-000955.yml
  controls/srg_ctr/SRG-APP-000401-CTR-000965.yml
  controls/srg_ctr/SRG-APP-000402-CTR-000970.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

SRG-APP-000023-CTR-000055: Solved by both IDP set to LDAP or OIDC and removing kubeadmin
  applications/openshift/authentication/idp_is_configured/rule.yml
  controls/srg_ctr/SRG-APP-000023-CTR-000055.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

OCP4 STIG: Several IDP related controls are no longer Not Applicable
  controls/srg_ctr/SRG-APP-000024-CTR-000060.yml
  controls/srg_ctr/SRG-APP-000025-CTR-000065.yml
  controls/srg_ctr/SRG-APP-000065-CTR-000115.yml
  controls/srg_ctr/SRG-APP-000149-CTR-000355.yml
  controls/srg_ctr/SRG-APP-000150-CTR-000360.yml
  controls/srg_ctr/SRG-APP-000151-CTR-000365.yml
  controls/srg_ctr/SRG-APP-000152-CTR-000370.yml
  controls/srg_ctr/SRG-APP-000156-CTR-000380.yml
  controls/srg_ctr/SRG-APP-000157-CTR-000385.yml
  controls/srg_ctr/SRG-APP-000163-CTR-000395.yml
  controls/srg_ctr/SRG-APP-000164-CTR-000400.yml
  controls/srg_ctr/SRG-APP-000165-CTR-000405.yml
  controls/srg_ctr/SRG-APP-000166-CTR-000410.yml
  controls/srg_ctr/SRG-APP-000167-CTR-000415.yml
  controls/srg_ctr/SRG-APP-000168-CTR-000420.yml
  controls/srg_ctr/SRG-APP-000169-CTR-000425.yml
  controls/srg_ctr/SRG-APP-000170-CTR-000430.yml
  controls/srg_ctr/SRG-APP-000171-CTR-000435.yml
  controls/srg_ctr/SRG-APP-000172-CTR-000440.yml
  controls/srg_ctr/SRG-APP-000173-CTR-000445.yml
  controls/srg_ctr/SRG-APP-000174-CTR-000450.yml
  controls/srg_ctr/SRG-APP-000177-CTR-000465.yml
  controls/srg_ctr/SRG-APP-000317-CTR-000735.yml
  controls/srg_ctr/SRG-APP-000318-CTR-000740.yml
  controls/srg_ctr/SRG-APP-000345-CTR-000785.yml
  controls/srg_ctr/SRG-APP-000391-CTR-000935.yml
  controls/srg_ctr/SRG-APP-000397-CTR-000955.yml
  controls/srg_ctr/SRG-APP-000401-CTR-000965.yml
  controls/srg_ctr/SRG-APP-000402-CTR-000970.yml
Due: ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

OCP4 STIG: Substitute idp_is_configured for idp_is_oidc_or_ldap in related_rules of all OCP4 controls
  controls/srg_ctr/SRG-APP-000026-CTR-000070.yml
  controls/srg_ctr/SRG-APP-000027-CTR-000075.yml
  controls/srg_ctr/SRG-APP-000028-CTR-000080.yml
  controls/srg_ctr/SRG-APP-000029-CTR-000085.yml
  controls/srg_ctr/SRG-APP-000148-CTR-000335.yml
  controls/srg_ctr/SRG-APP-000148-CTR-000340.yml
  controls/srg_ctr/SRG-APP-000148-CTR-000345.yml
  controls/srg_ctr/SRG-APP-000148-CTR-000350.yml
  controls/srg_ctr/SRG-APP-000153-CTR-000375.yml
  controls/srg_ctr/SRG-APP-000234-CTR-000590.yml
  controls/srg_ctr/SRG-APP-000291-CTR-000675.yml
  controls/srg_ctr/SRG-APP-000292-CTR-000680.yml
  controls/srg_ctr/SRG-APP-000293-CTR-000685.yml
  controls/srg_ctr/SRG-APP-000294-CTR-000690.yml
  controls/srg_ctr/SRG-APP-000319-CTR-000745.yml
  controls/srg_ctr/SRG-APP-000320-CTR-000750.yml
  controls/srg_ctr/SRG-APP-000503-CTR-001275.yml
  controls/srg_ctr/SRG-APP-000505-CTR-001285.yml
  controls/srg_ctr/SRG-APP-000506-CTR-001290.yml
Due: ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

SRG-APP-000156-CTR-000380: Only this SRG should reference ocp_idp_no_htpasswd
  applications/openshift/authentication/ocp_idp_no_htpasswd/policy/stig/shared.yml
  applications/openshift/authentication/ocp_idp_no_htpasswd/rule.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Stop using "imp" module
  ssg/templates.py
Due: none

Implement rules for CIS OCP Section 1.3
  applications/openshift/controller/controller_insecure_port_disabled/rule.yml
  applications/openshift/controller/controller_secure_port/rule.yml
  applications/openshift/controller/controller_service_account_ca/rule.yml
  applications/openshift/controller/controller_service_account_private_key/rule.yml
  applications/openshift/controller/controller_use_service_account/rule.yml
  applications/openshift/rbac/rbac_debug_role_protects_pprof/rule.yml
  controls/cis_ocp_1_4_0/section-1.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Implement rules for CIS OCP Section 2
  applications/openshift/etcd/etcd_unique_ca/rule.yml
  controls/cis_ocp_1_4_0/section-2.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Update to RHEL 7 STIG to version V3R11
  products/rhel7/profiles/stig.profile
  shared/references/disa-stig-rhel7-v3r11-xccdf-manual.xml
  shared/references/disa-stig-rhel7-v3r11-xccdf-scap.xml
Due: none

Select ensure_redhat_gpgkey_installed in RHEL7 STIG
  linux_os/guide/system/software/updating/ensure_redhat_gpgkey_installed/rule.yml
  products/rhel7/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add dconf_gnome_disable_user_list to RHEL 7 STIG
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_disable_user_list/rule.yml
  products/rhel7/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add package_mailx_installed to RHEL 7 STIG
  linux_os/guide/services/mail/package_mailx_installed/rule.yml
  products/rhel7/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add RHEL7 CCE to package_mailx_installed
  linux_os/guide/services/mail/package_mailx_installed/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Move RHEL-07-010271 to account_temp_expire_date
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_emergency_expire_date/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_temp_expire_date/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update OL8 hipaa profile
  products/ol8/profiles/hipaa.profile
Due: none

OCP4 STIG: SRG-APP-000343-CTR-000780 and SRG-APP-000381-CTR-000905 are covered by audit_rules_suid_privilege_function
  controls/srg_ctr/SRG-APP-000343-CTR-000780.yml
  controls/srg_ctr/SRG-APP-000381-CTR-000905.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/kubernetes/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update RHEL 7 GUI profile to V3R11
  products/rhel7/profiles/stig_gui.profile
Due: none

Implement rules for CIS OCP Section 5.7
  controls/cis_ocp_1_4_0/section-5.yml
Due: none

Initial control file for CCN-STIC-610A22
  controls/ccn_rhel9.yml
Due: none

Include candidate rules for most requirements
  controls/ccn_rhel9.yml
Due: none

Translate the original titles to english
  controls/ccn_rhel9.yml
  docs/manual/developer/03_creating_content.md
  ssg/controls.py
Due: none

Include notes in pending requirements
  controls/ccn_rhel9.yml
Due: none

Include related_rules in A.24.SEC-RHEL2
  controls/ccn_rhel9.yml
Due: none

accounts_pam_faillock_deny: mention XCCDF variables in the rule description
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

rule accounts_passwords_pam_faillock_interval: show XCCDF variable in the description
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_interval/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

account_password_selinux_faillock_dir: show XCCDF variable in the description
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

accounts_passwords_pam_faillock_unlock_time: show XCCDF variable in the description
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_unlock_time/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update to RHEL 8 V1R10
  products/rhel8/profiles/stig.profile
  products/rhel8/profiles/stig_gui.profile
  shared/references/disa-stig-rhel8-v1r10-xccdf-manual.xml
  shared/references/disa-stig-rhel8-v1r9-xccdf-scap.xml
Due: none

Add ensure_redhat_gpgkey_installed to the RHEL 8 STIG
  linux_os/guide/system/software/updating/ensure_redhat_gpgkey_installed/rule.yml
  products/rhel8/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Move to account_temp_expire_date in the RHEL 8 STIG
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_emergency_expire_date/rule.yml
  products/rhel8/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add package_mailx_installed to the RHEL 8 STIG
  linux_os/guide/services/mail/package_mailx_installed/rule.yml
  products/rhel8/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Move to account_temp_expire_date in RHEL 7 STIG
  products/rhel7/profiles/stig.profile
Due: none

Remove deprecated rules from control file
  controls/srg_gpos/SRG-OS-000021-GPOS-00005.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_passwords_pam_faillock_audit/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_passwords_pam_faillock_dir/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate
