Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

OCP4 STIG: SRG-APP-000374-CTR-000865 is Inherently Met; add justification
  controls/srg_ctr/SRG-APP-000374-CTR-000865.yml
Due: ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

permissions_local_var_log: Add cis@ubuntu2204 reference
  linux_os/guide/system/permissions/files/permissions_local_var_log/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Include rule for checking password last change in RHEL
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_last_change_is_in_past/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Include test scenario for no password users
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_last_change_is_in_past/tests/no_password_defined.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ubuntu2204: cis_level1_server: Add rule permissions_local_var_log
  products/ubuntu2204/profiles/cis_level1_server.profile
Due: none

rsyslog_nolisten: Add cis@ubuntu2204 reference
  linux_os/guide/system/logging/rsyslog_accepting_remote_messages/rsyslog_nolisten/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ubuntu2204: cis_level1_server: Add rule rsyslog_nolisten
  products/ubuntu2204/profiles/cis_level1_server.profile
Due: none

service_chronyd_enabled: Add Ubuntu cis references
  linux_os/guide/services/ntp/service_chronyd_enabled/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

service_chronyd_or_ntpd_enabled: Remove Ubuntu cis references
  linux_os/guide/services/ntp/service_chronyd_or_ntpd_enabled/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ubuntu2004: cis_level1_server: Add rule service_chronyd_enabled
  products/ubuntu2004/profiles/cis_level1_server.profile
Due: none

ubuntu2204: cis_level1_server: Add rule service_chronyd_enabled
  products/ubuntu2204/profiles/cis_level1_server.profile
Due: none

Disable FIPS-related rule group for 'osbuild' platform
  linux_os/guide/system/software/integrity/fips/group.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix in USBGuard rules' platform
  linux_os/guide/services/usbguard/group.yml
  linux_os/guide/services/usbguard/service_usbguard_enabled/rule.yml
  linux_os/guide/services/usbguard/usbguard_generate_policy/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Increase the robustness of OVAL check
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_last_change_is_in_past/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Replace login_defs platform by package platform
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_logindefs/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_post_pw_expiration/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_maximum_age_login_defs/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_minimum_age_login_defs/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_minlen_login_defs/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_warn_age_login_defs/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_have_homedir_login_defs/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_logon_fail_delay/rule.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_login_defs/rule.yml
  shared/applicability/login_defs.yml
  shared/applicability/package.yml
  shared/checks/oval/installed_env_has_login_defs.xml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

OCP4 STIG: SRG-APP-000131-CTR-000285 is configurable with reject_unsigned_images_by_default
  applications/openshift/integrity/reject_unsigned_images_by_default/policy/stig/shared.yml
  applications/openshift/integrity/reject_unsigned_images_by_default/rule.yml
  applications/openshift/registry/ocp_allowed_registries/rule.yml
  applications/openshift/registry/ocp_allowed_registries_for_import/rule.yml
  controls/srg_ctr/SRG-APP-000131-CTR-000285.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

OCP4 STIG: The majority of controls related to CM-5 are inherently met
  controls/srg_ctr/SRG-APP-000131-CTR-000280.yml
  controls/srg_ctr/SRG-APP-000133-CTR-000290.yml
  controls/srg_ctr/SRG-APP-000133-CTR-000295.yml
  controls/srg_ctr/SRG-APP-000133-CTR-000300.yml
  controls/srg_ctr/SRG-APP-000133-CTR-000305.yml
  controls/srg_ctr/SRG-APP-000133-CTR-000310.yml
  controls/srg_ctr/SRG-APP-000380-CTR-000900.yml
  controls/srg_ctr/SRG-APP-000381-CTR-000905.yml
Due: ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Small corrections in bash and ansible code
  linux_os/guide/system/network/network-nftables/set_nftables_base_chain/ansible/shared.yml
  linux_os/guide/system/network/network-nftables/set_nftables_base_chain/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Corrections in rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_warn_age_existing/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

New tests added
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/tests/correct_value_1.pass.sh
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/tests/correct_value_2.pass.sh
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/tests/correct_value_3.pass.sh
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/tests/correct_value_4.pass.sh
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/tests/missing_value_1.fail.sh
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/tests/multiple_conflicting_value_1.fail.sh
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/tests/multiple_conflicting_value_2.fail.sh
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/tests/multiple_conflicting_value_3.fail.sh
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/tests/multiple_conflicting_value_4.fail.sh
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/tests/multiple_equal_value.fail.sh
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/tests/wrong_value_1.fail.sh
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/tests/wrong_value_2.fail.sh
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/tests/wrong_value_3.fail.sh
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/tests/wrong_value_4.fail.sh
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/tests/wrong_value_5.fail.sh
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/tests/wrong_value_6.fail.sh
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/tests/wrong_value_7.fail.sh
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/tests/wrong_value_8.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ubuntu2204: product: Fix oval feed name and add NetworkManager to
  products/ubuntu2204/product.yml
Due: none

wireless_disable_interfaces: Add ubuntu specific bash
  linux_os/guide/system/network/network-wireless/wireless_software/wireless_disable_interfaces/bash/ubuntu.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

package_iptables-persistent_removed: Fix typo in package name
  linux_os/guide/system/network/network-iptables/package_iptables-persistent_removed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

OCP: Add OCP 4.13 support for applicable rules
  applications/openshift/api-server/api_server_api_priority_v1beta2_flowschema_catch_all/rule.yml
  applications/openshift/api-server/api_server_api_priority_v1beta2_flowschema_catch_all/tests/ocp4/4.13.yml
  applications/openshift/api-server/api_server_kubelet_client_cert/rule.yml
  applications/openshift/api-server/api_server_kubelet_client_cert/tests/ocp4/4.13.yml
  applications/openshift/api-server/api_server_kubelet_client_key/rule.yml
  applications/openshift/api-server/api_server_kubelet_client_key/tests/ocp4/4.13.yml
  applications/openshift/api-server/ocp_api_server_audit_log_maxbackup/rule.yml
  applications/openshift/api-server/ocp_api_server_audit_log_maxsize/rule.yml
  applications/openshift/api-server/var_openshift_apiserver_config.var
  applications/openshift/api-server/var_openshift_apiserver_config_data_name.var
  applications/openshift/api-server/var_openshift_apiserver_namespace.var
  applications/openshift/kubelet/kubelet_configure_tls_cert/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_cert/tests/ocp4/4.13.yml
  applications/openshift/kubelet/kubelet_configure_tls_key/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_key/tests/ocp4/4.13.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

var_password_hashing_algorithm: Add yescrypt option
  linux_os/guide/system/accounts/accounts-pam/var_password_hashing_algorithm.var
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

set_password_hashing_algorithm_logindefs: Add ubuntu2204 prodtype and
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_logindefs/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

set_password_hashing_algorithm_logindefs: Adjust description to get
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_logindefs/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

set_password_hashing_algorithm_logindefs: bash: Add ubuntu platform
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_logindefs/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ubuntu2204: cis_level1_server: Add rule set_password_hashing_algorithm_logindefs
  products/ubuntu2204/profiles/cis_level1_server.profile
Due: none

Removal of $ from some parts in rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_warn_age_existing/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

iptables_rules_for_open_ports: Add sce check
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/iptables_rules_for_open_ports/sce/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add new rule iptables_rules_for_open_ports
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/iptables_rules_for_open_ports/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add new rule ip6tables_rules_for_open_ports
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/ip6tables_rules_for_open_ports/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ubuntu2204: cis_level1_server: Add rules iptables_rules_for_open_ports
  products/ubuntu2204/profiles/cis_level1_server.profile
Due: none

ip6tables_rules_for_open_ports: Add sce check
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/ip6tables_rules_for_open_ports/sce/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ubuntu2204: cis_level1_server: Add rule ufw_rules_for_open_ports
  products/ubuntu2204/profiles/cis_level1_server.profile
Due: none

ubuntu2004: cis_level1_server: Add rule set_ufw_loopback_traffic
  products/ubuntu2004/profiles/cis_level1_server.profile
Due: none

set_ufw_default_rule: Add sce check
  linux_os/guide/system/network/network-ufw/set_ufw_default_rule/sce/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ubuntu2004: cis_level1_server: Add rule set_ufw_default_rule
  products/ubuntu2004/profiles/cis_level1_server.profile
Due: none

set_ufw_loopback_traffic: Add sce check
  linux_os/guide/system/network/network-ufw/set_ufw_loopback_traffic/sce/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate
