Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

Add test for imports of 'all' controls
  tests/unit/ssg-module/test_controls.py
Due: none

Import OCP4 CIS rather than extending it
  controls/cis_ocp_1_4_0/section-4.yml
  controls/pcidss_4_ocp4.yml
  products/ocp4/profiles/cis-1-4.profile
  products/ocp4/profiles/cis-1-5.profile
  products/ocp4/profiles/pci-dss-4-0.profile
  products/ocp4/profiles/pci-dss-node-4-0.profile
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Add the references to the selected rules
  ssg/controls.py
Due: none

Exclude auditd_audispd_syslog_plugin_activated from RHEL 10 HIPAA
  products/rhel10/profiles/hipaa.profile
Due: none

Remove SSH 2 Config From RHEL 10 HIPAA
  products/rhel10/profiles/hipaa.profile
Due: none

Exclude more package rules for RHEL 10 HIPAA
  products/rhel10/profiles/hipaa.profile
Due: none

Add variables to HIPAA control
  controls/hipaa.yml
Due: none

Remove sshd_set_keepalive_0 from RHEL 10 control file
  controls/hipaa.yml
Due: none

Allow kerb5 Auth for RHEL 10 HIPAA
  products/rhel10/profiles/hipaa.profile
Due: none

Update comments in OL9 ISM profile
  products/ol9/profiles/ism_o.profile
Due: none

Update ism control
  controls/ism_o.yml
Due: none

Create ism profile for OL9
  products/ol9/profiles/ism_o.profile
Due: none

Update OL9 ism_o profile comment
  products/ol9/profiles/ism_o.profile
Due: none

Include authselect variable in pcidss control file
  controls/pcidss_4.yml
Due: none

Inform correct hashing algorithm for pcidss rhel10
  products/rhel10/profiles/pci-dss.profile
Due: none

Clean comments based on RHEL 9
  products/rhel10/profiles/pci-dss.profile
Due: none

Confirm rules not applicable to RHEL 10
  products/rhel10/profiles/pci-dss.profile
Due: none

Remove ip6tables rule from pcidss RHEL 10
  products/rhel10/profiles/pci-dss.profile
Due: none

Remove exclusion for rules already compatible with RHEL 10
  products/rhel10/profiles/pci-dss.profile
Due: none

Update profile stability references for pci-dss
  tests/data/profile_stability/rhel8/pci-dss.profile
  tests/data/profile_stability/rhel9/pci-dss.profile
Due: none

Fix double sshd_disable_empty_passwords in controls/hipaa.yml
  controls/hipaa.yml
Due: none

Update titles for upgrade to SRG GPOS to V3R1
  controls/srg_gpos/SRG-OS-000024-GPOS-00007.yml
  controls/srg_gpos/SRG-OS-000069-GPOS-00037.yml
  controls/srg_gpos/SRG-OS-000070-GPOS-00038.yml
  controls/srg_gpos/SRG-OS-000072-GPOS-00040.yml
  controls/srg_gpos/SRG-OS-000075-GPOS-00043.yml
  controls/srg_gpos/SRG-OS-000076-GPOS-00044.yml
  controls/srg_gpos/SRG-OS-000108-GPOS-00055.yml
  controls/srg_gpos/SRG-OS-000113-GPOS-00058.yml
  controls/srg_gpos/SRG-OS-000123-GPOS-00064.yml
  controls/srg_gpos/SRG-OS-000138-GPOS-00069.yml
  controls/srg_gpos/SRG-OS-000228-GPOS-00088.yml
  controls/srg_gpos/SRG-OS-000269-GPOS-00103.yml
  controls/srg_gpos/SRG-OS-000276-GPOS-00106.yml
  controls/srg_gpos/SRG-OS-000304-GPOS-00121.yml
  controls/srg_gpos/SRG-OS-000324-GPOS-00125.yml
  controls/srg_gpos/SRG-OS-000341-GPOS-00132.yml
  controls/srg_gpos/SRG-OS-000355-GPOS-00143.yml
  controls/srg_gpos/SRG-OS-000395-GPOS-00175.yml
  controls/srg_gpos/SRG-OS-000403-GPOS-00182.yml
Due: none

Remove in the project that SRG GPSO V3R1 removed
  controls/srg_gpos/SRG-OS-000077-GPOS-00045.yml
  controls/srg_gpos/SRG-OS-000126-GPOS-00066.yml
  controls/srg_gpos/SRG-OS-000191-GPOS-00080.yml
  controls/srg_gpos/SRG-OS-000373-GPOS-00156.yml
  controls/srg_gpos/SRG-OS-000373-GPOS-00157.yml
  controls/srg_gpos/SRG-OS-000373-GPOS-00158.yml
  controls/srg_gpos/SRG-OS-000374-GPOS-00159.yml
  controls/srg_gpos/SRG-OS-000380-GPOS-00165.yml
Due: none

Add new controls from SRG GPOS V3R1
  controls/srg_gpos/SRG-OS-000590-GPOS-00110.yml
  controls/srg_gpos/SRG-OS-000690-GPOS-00140.yml
  controls/srg_gpos/SRG-OS-000705-GPOS-00150.yml
  controls/srg_gpos/SRG-OS-000710-GPOS-00160.yml
  controls/srg_gpos/SRG-OS-000720-GPOS-00170.yml
  controls/srg_gpos/SRG-OS-000725-GPOS-00180.yml
  controls/srg_gpos/SRG-OS-000730-GPOS-00190.yml
  controls/srg_gpos/SRG-OS-000745-GPOS-00210.yml
  controls/srg_gpos/SRG-OS-000755-GPOS-00220.yml
  controls/srg_gpos/SRG-OS-000775-GPOS-00230.yml
  controls/srg_gpos/SRG-OS-000780-GPOS-00240.yml
  controls/srg_gpos/SRG-OS-000785-GPOS-00250.yml
  controls/srg_gpos/SRG-OS-000805-GPOS-00260.yml
Due: none

Update SRG GPOS to V3R1
  .github/workflows/srg-mapping-table.yaml
  cmake/SSGCommon.cmake
  controls/srg_gpos.yml
  docs/manual/developer/03_creating_content.md
  shared/references/disa-os-srg-v2r7.xml
  shared/references/disa-os-srg-v3r1.xml
  shared/transforms/shared_xccdf2table-profileccirefs.xslt
  utils/create_srg_export.py
Due: none

Add package_dnf-automatic_installed to SRG-OS-000805-GPOS-00260.yml
  controls/srg_gpos/SRG-OS-000805-GPOS-00260.yml
  linux_os/guide/system/software/updating/package_dnf-automatic_installed/policy/stig/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add dnf-automatic_apply_updates to SRG-OS-000805-GPOS-00260
  controls/srg_gpos/SRG-OS-000805-GPOS-00260.yml
  linux_os/guide/system/software/updating/dnf-automatic_apply_updates/policy/stig/shared.yml
  linux_os/guide/system/software/updating/dnf-automatic_apply_updates/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rules to SRG-OS-000755-GPOS-00220
  controls/srg_gpos/SRG-OS-000755-GPOS-00220.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_su/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_sudo/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_sudoedit/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_sudo_log_events/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rules to SRG-OS-000730-GPOS-00190
  controls/srg_gpos/SRG-OS-000730-GPOS-00190.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_dictcheck/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_maxclassrepeat/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix up package_install_sudo PSC content
  linux_os/guide/system/software/sudo/package_sudo_installed/policy/stig/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Clean up titles in new SRG control files from V3R1
  controls/srg_gpos/SRG-OS-000590-GPOS-00110.yml
  controls/srg_gpos/SRG-OS-000690-GPOS-00140.yml
  controls/srg_gpos/SRG-OS-000705-GPOS-00150.yml
  controls/srg_gpos/SRG-OS-000710-GPOS-00160.yml
  controls/srg_gpos/SRG-OS-000720-GPOS-00170.yml
  controls/srg_gpos/SRG-OS-000725-GPOS-00180.yml
  controls/srg_gpos/SRG-OS-000775-GPOS-00230.yml
  controls/srg_gpos/SRG-OS-000780-GPOS-00240.yml
  controls/srg_gpos/SRG-OS-000785-GPOS-00250.yml
Due: none

Should fix #12349
  linux_os/guide/system/software/sudo/sudoers_explicit_command_args/oval/shared.xml
  linux_os/guide/system/software/sudo/sudoers_explicit_command_args/tests/defaults_entries.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix CI for XLSX RHEL9 build
  .github/workflows/srg-mapping-table.yaml
Due: none

Updated packages related to openssh to support slem
  controls/stig_slmicro5.yml
  linux_os/guide/services/ssh/package_openssh-server_installed/rule.yml
  linux_os/guide/services/ssh/service_sshd_enabled/rule.yml
  shared/references/cce-slmicro5-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rule accounts_password_all_shadowed_sha512 to sle micro 5 stig profile
  controls/stig_slmicro5.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_all_shadowed_sha512/rule.yml
  shared/references/cce-slmicro5-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rule accounts_passwords_pam_tally2 to sle micro 5 stig profile
  controls/stig_slmicro5.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/tests/missing_pam_tally2.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/tests/pam_tally2_big_deny.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/tests/pam_tally2_commented.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/tests/pam_tally2_configured.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/tests/pam_tally2_empty_deny.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/tests/pam_tally2_zero_deny.fail.sh
  shared/references/cce-slmicro5-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rule account_unique_id to sle micro 5 stig profile
  controls/stig_slmicro5.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_unique_id/rule.yml
  shared/references/cce-slmicro5-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rule grub2_password to sle micro 5 stig profile
  controls/stig_slmicro5.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/grub2_password/rule.yml
  shared/references/cce-slmicro5-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rule account_temp_expire_date to sle micro 5 stig profile
  controls/stig_slmicro5.yml
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_temp_expire_date/rule.yml
  shared/references/cce-slmicro5-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rule kernel_module_usb-storage_disabled to sle micro 5 stig profile
  controls/stig_slmicro5.yml
  linux_os/guide/system/permissions/mounting/kernel_module_usb-storage_disabled/rule.yml
  shared/references/cce-slmicro5-avail.txt
  shared/templates/kernel_module_disabled/ansible.template
  shared/templates/kernel_module_disabled/bash.template
  shared/templates/kernel_module_disabled/oval.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate
