Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

Use of variables in calculations and PEP8 fixes
  utils/controleval.py
Due: none

Added 6 SLES 15/12 CCE codes to the rules sshd_...
  linux_os/guide/services/ssh/ssh_server/sshd_disable_tcp_forwarding/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_pam/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_max_auth_tries/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Added sle support to sshd_set_max_auth_tries/ansible/shared.yml file
  linux_os/guide/services/ssh/ssh_server/sshd_set_max_auth_tries/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Delete test from accounts_umask_etc_login_defs
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_login_defs/tests/wrong_multiple.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Cover the CIS 1.8.3 requirement for RHEL8 v2.0.0
  controls/cis_rhel8.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_disable_user_list/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Cover the CIS 1.8.4 requirement for RHEL8 v2.0.0
  controls/cis_rhel8.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/gnome_gdm_disable_xdmcp/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Cover the CIS 1.8.5 requirement for RHEL8 v2.0.0
  controls/cis_rhel8.yml
  linux_os/guide/system/software/gnome/gnome_media_settings/dconf_gnome_disable_automount/rule.yml
  linux_os/guide/system/software/gnome/gnome_media_settings/dconf_gnome_disable_automount_open/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add unit tests for ssg/build_renumber.py
  ssg/build_renumber.py
  tests/unit/ssg-module/data/oval_with_broken_extend_definition.xml
  tests/unit/ssg-module/data/oval_with_correct_extend_definition.xml
  tests/unit/ssg-module/test_build_renumber.py
Due: none

Fix Code Climate problems
  ssg/build_renumber.py
Due: none

incorporated comments to add ocil_clause
  applications/openshift/registry/ocp_insecure_registries/rule.yml
  applications/openshift/registry/ocp_insecure_registries/tests/ocp4/e2e.yml
  applications/openshift/registry/ocp_secure_allowed_registries_for_import/rule.yml
  applications/openshift/registry/ocp_secure_allowed_registries_for_import/tests/ocp4/e2e.yml
  controls/srg_ctr/SRG-APP-000014-CTR-000035.yml
  products/ocp4/profiles/e8.profile
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

corrected identifiers format
  applications/openshift/registry/ocp_insecure_registries/rule.yml
  applications/openshift/registry/ocp_secure_allowed_registries_for_import/rule.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Add PCI-DSS Rules
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_warn_age_login_defs/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_warn_age_login_defs/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/use_pam_wheel_for_su/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/use_pam_wheel_for_su/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/use_pam_wheel_for_su/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_max_log_file_action/rule.yml
  products/sle15/profiles/pci-dss.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix order of cce-ids
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_max_log_file_action/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Create mount_option_home_usrquota rule for CIS
  controls/cis_rhel8.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_usrquota/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Create mount_option_home_grpquota rule for CIS
  controls/cis_rhel8.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_grpquota/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Create unit tests for ssg.id_translate
  tests/unit/ssg-module/data/draft_ocil.xml
  tests/unit/ssg-module/data/draft_oval.xml
  tests/unit/ssg-module/test_id_translate.py
Due: none

Refactor by using a dictionary
  tests/unit/ssg-module/test_id_translate.py
Due: none

Add missing asserts
  tests/unit/ssg-module/test_id_translate.py
Due: none

Reduce test data input
  tests/unit/ssg-module/data/draft_oval.xml
Due: none

Change unit tests for translate()
  tests/unit/ssg-module/test_id_translate.py
Due: none

Make oval_unix_namespace defintion a global
  tests/unit/ssg-module/test_id_translate.py
Due: none

Add a test with xmldiff
  .github/workflows/gate.yaml
  tests/unit/ssg-module/test_id_translate.py
Due: none

Skip test if xmldiff isn't available
  tests/unit/ssg-module/test_id_translate.py
Due: none

Add import-or-skip for lxml
  tests/unit/ssg-module/test_id_translate.py
Due: none

Fix postfix_client_configure_mail_alias_postmaster checktext
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias_postmaster/policy/stig/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix path in /var/log/faillock psc
  linux_os/guide/system/auditing/auditd_configure_rules/audit_login_events/audit_rules_login_events_faillock/policy/stig/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add sudo sysctl_kernel_kptr_restrict psc
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_kptr_restrict/policy/stig/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove double text from sysctl_fs_protected_symlinks checktext
  linux_os/guide/system/permissions/files/sysctl_fs_protected_symlinks/policy/stig/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Clean up checktext in audit_rules_login_events_tallylog
  linux_os/guide/system/auditing/auditd_configure_rules/audit_login_events/audit_rules_login_events_tallylog/policy/stig/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add PSC for dconf_gnome_disable_user_list
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_disable_user_list/policy/stig/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add dconf_gnome_disable_user_list to the RHEL 9 STIG
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
Due: none

incorporated comments to remove CCE reference IDs used
  applications/openshift/registry/ocp_insecure_registries/rule.yml
  applications/openshift/registry/ocp_secure_allowed_registries_for_import/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Check if the values are not None
  ssg/build_yaml.py
Due: none

Add unit tests for conversion to XCCDF 1.2
  tests/unit/ssg-module/data/accounts_tmout.yml
  tests/unit/ssg-module/data/ospp.profile
  tests/unit/ssg-module/data/selinux.yml
  tests/unit/ssg-module/data/var_system_crypto_policy.yml
  tests/unit/ssg-module/test_build_yaml.py
Due: none

New rules for owner check on user.cfg file
  controls/cis_rhel8.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/file_owner_user_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/uefi/file_owner_efi_user_cfg/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

New rules for groupowner check on user.cfg file
  controls/cis_rhel8.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/file_groupowner_user_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/uefi/file_groupowner_efi_user_cfg/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

New rules for permissions check on user.cfg file
  controls/cis_rhel8.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/file_permissions_user_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/uefi/file_permissions_efi_user_cfg/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Complete 1.4.2 requirement for CIS RHEL7 v3.1.1
  controls/cis_rhel7.yml
Due: none

Fix typos.
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_selinux_faillock_dir/oval/shared.xml
  linux_os/guide/system/selinux/selinux_state/policy/stig/shared.yml
  shared/transforms/shared_constants.xslt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Refactor json output function in controleval.py
  utils/controleval.py
Due: none
