Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

Map rules to NIST 800-53 Configuration Management (CM) family
  products/rhel10/controls/nist_800_53/cm.yml
  products/rhel8/controls/nist_800_53/cm.yml
  products/rhel9/controls/nist_800_53/cm.yml
Due: none

Map rules to NIST 800-53 Audit and Accountability (AU) family
  products/rhel10/controls/nist_800_53/au.yml
  products/rhel10/profiles/cis_nist.profile
  products/rhel8/controls/nist_800_53/au.yml
  products/rhel8/profiles/cis_nist.profile
  products/rhel9/controls/nist_800_53/au.yml
  products/rhel9/profiles/cis_nist.profile
Due: none

Map rules to NIST 800-53 System and Communications Protection (SC) family
  products/rhel10/controls/nist_800_53/sc.yml
  products/rhel8/controls/nist_800_53/sc.yml
  products/rhel9/controls/nist_800_53/sc.yml
Due: none

Map rules to NIST 800-53 Identification and Authentication (IA) family
  products/rhel10/controls/nist_800_53/ia.yml
  products/rhel8/controls/nist_800_53/ia.yml
  products/rhel9/controls/nist_800_53/ia.yml
Due: none

Fix rsyslog_remote_access_monitoring OVAL to match RainerScript syntax
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_remote_access_monitoring/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add test for rsyslog_remote_access_monitoring with RainerScript syntax
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_remote_access_monitoring/tests/rainerscript_action.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix RHEL 10 profile descriptions
  products/rhel10/profiles/anssi_bp28_enhanced.profile
  products/rhel10/profiles/anssi_bp28_high.profile
  products/rhel10/profiles/anssi_bp28_intermediary.profile
  products/rhel10/profiles/anssi_bp28_minimal.profile
  products/rhel10/profiles/e8.profile
  products/rhel10/profiles/hipaa.profile
  products/rhel10/profiles/ism_o.profile
  products/rhel10/profiles/ism_o_secret.profile
  products/rhel10/profiles/ism_o_top_secret.profile
  products/rhel10/profiles/ospp.profile
  products/rhel10/profiles/pci-dss.profile
Due: none

file_permission_user_init_files_root: include /root in OCIL check
  linux_os/guide/system/accounts/accounts-session/file_permission_user_init_files_root/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

package_rng-tools_installed: change applicability
  linux_os/guide/system/software/system-tools/package_rng-tools_installed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix RH references for OL10
  linux_os/guide/system/secureboot/group.yml
  linux_os/guide/system/software/disk_partitioning/encrypt_partitions/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_build_database/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update severity rules for OL8 V2R8
  products/ol8/profiles/stig.profile
Due: none

Update OL8 STIG profile to DISA STIG V2R8
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_minlen_login_defs/rule.yml
  linux_os/guide/system/software/integrity/crypto/configure_bind_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/crypto/configure_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/crypto/configure_gnutls_tls_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/crypto/configure_libreswan_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/crypto/configure_openssl_tls_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/crypto/configure_ssh_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_openssh_conf_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/crypto/package_crypto-policies_installed/rule.yml
  linux_os/guide/system/software/integrity/fips/enable_fips_mode/rule.yml
  linux_os/guide/system/software/integrity/fips/fips_crypto_subpolicy/rule.yml
  linux_os/guide/system/software/integrity/fips/fips_custom_stig_sub_policy/rule.yml
  products/ol8/profiles/stig.profile
  products/ol8/profiles/stig_gui.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update OL8 DISA STIG V2R8 references
  shared/references/disa-stig-ol8-v2r8-xccdf-manual.xml
  shared/references/disa-stig-ol8-v2r8-xccdf-scap.xml
Due: none

remove draft status from RHEL 10 OSPP profile.
  products/rhel10/profiles/ospp.profile
Due: none

Make sure that distro delivered config in /usr/etc/ssh/sshd_config is also checked for permissions
  products/sle16/product.yml
Due: none

Add sed separator changes as in PR#14698
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
  shared/macros/10-oval.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update sshd_lineinfile template to better fit SLE16 platform
  shared/templates/sshd_lineinfile/ansible.template
  shared/templates/sshd_lineinfile/bash.template
  shared/templates/sshd_lineinfile/oval.template
  shared/templates/sshd_lineinfile/tests/common.sh
  shared/templates/sshd_lineinfile/tests/correct_value_directory.pass.sh
  shared/templates/sshd_lineinfile/tests/correct_value_usr_config_dir.pass.sh
  shared/templates/sshd_lineinfile/tests/correct_value_usr_config_path.pass.sh
  shared/templates/sshd_lineinfile/tests/duplicated_param.pass.sh
  shared/templates/sshd_lineinfile/tests/duplicated_param_directory.pass.sh
  shared/templates/sshd_lineinfile/tests/line_not_there.fail.sh
  shared/templates/sshd_lineinfile/tests/main_config_missing.fail.sh
  shared/templates/sshd_lineinfile/tests/param_conflict.fail.sh
  shared/templates/sshd_lineinfile/tests/param_conflict_directory.fail.sh
  shared/templates/sshd_lineinfile/tests/param_conflict_file_with_directory.fail.sh
  shared/templates/sshd_lineinfile/tests/wrong_value.fail.sh
  shared/templates/sshd_lineinfile/tests/wrong_value_directory.fail.sh
  shared/templates/sshd_lineinfile/tests/wrong_value_usr_config_dir.fail.sh
  shared/templates/sshd_lineinfile/tests/wrong_value_usr_config_path.fail.sh
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

remove draft status from RHEL 10 OSPP profile
  products/rhel10/profiles/ospp.profile
Due: none

Add rule crypto_policy_not_overridden for RHEL-09-672020
  components/crypto-policies.yml
  linux_os/guide/system/software/integrity/crypto/crypto_policy_not_overridden/ansible/shared.yml
  linux_os/guide/system/software/integrity/crypto/crypto_policy_not_overridden/bash/shared.sh
  linux_os/guide/system/software/integrity/crypto/crypto_policy_not_overridden/rule.yml
  linux_os/guide/system/software/integrity/crypto/crypto_policy_not_overridden/sce/shared.sh
  linux_os/guide/system/software/integrity/crypto/crypto_policy_not_overridden/tests/backend_file_overridden.fail.sh
  linux_os/guide/system/software/integrity/crypto/crypto_policy_not_overridden/tests/config_changed_not_applied.fail.sh
  linux_os/guide/system/software/integrity/crypto/crypto_policy_not_overridden/tests/correct_policy_applied.pass.sh
  products/rhel9/controls/stig_rhel9.yml
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update documentation for grub2_bootloader_argument template
  docs/templates/template_reference.md
  shared/templates/grub2_bootloader_argument/oval.template
  shared/templates/grub2_bootloader_argument/template.py
  ssg/yaml.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Quote arg_value in grub2_bootloader_argument templated rules
  linux_os/guide/system/bootloader-grub2/grub2_spectre_v2_argument/rule.yml
  linux_os/guide/system/bootloader-grub2/grub2_vsyscall_argument/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix arg_variable handling in correct_value_etcdefault_dir.pass.sh
  shared/templates/grub2_bootloader_argument/tests/correct_value_etcdefault_dir.pass.sh
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix pwquality_path for SLE16
  tests/data/product_stability/sle16.yml
Due: none

nist_800_53: distribute other.yml entries into NIST family files
  products/rhel10/controls/nist_800_53/ac.yml
  products/rhel10/controls/nist_800_53/au.yml
  products/rhel10/controls/nist_800_53/cm.yml
  products/rhel10/controls/nist_800_53/ia.yml
  products/rhel10/controls/nist_800_53/other.yml
  products/rhel10/controls/nist_800_53/sc.yml
  products/rhel8/controls/nist_800_53/ac.yml
  products/rhel8/controls/nist_800_53/au.yml
  products/rhel8/controls/nist_800_53/cm.yml
  products/rhel8/controls/nist_800_53/ia.yml
  products/rhel8/controls/nist_800_53/other.yml
  products/rhel8/controls/nist_800_53/sc.yml
  products/rhel9/controls/nist_800_53/ac.yml
  products/rhel9/controls/nist_800_53/au.yml
  products/rhel9/controls/nist_800_53/cm.yml
  products/rhel9/controls/nist_800_53/ia.yml
  products/rhel9/controls/nist_800_53/other.yml
  products/rhel9/controls/nist_800_53/sc.yml
  shared/references/controls/nist_800_53_cis_reference_rhel10/ac.yml
  shared/references/controls/nist_800_53_cis_reference_rhel10/au.yml
  shared/references/controls/nist_800_53_cis_reference_rhel10/cm.yml
  shared/references/controls/nist_800_53_cis_reference_rhel10/ia.yml
  shared/references/controls/nist_800_53_cis_reference_rhel10/other.yml
  shared/references/controls/nist_800_53_cis_reference_rhel10/sc.yml
  shared/references/controls/nist_800_53_cis_reference_rhel8/ac.yml
  shared/references/controls/nist_800_53_cis_reference_rhel8/au.yml
  shared/references/controls/nist_800_53_cis_reference_rhel8/cm.yml
  shared/references/controls/nist_800_53_cis_reference_rhel8/ia.yml
  shared/references/controls/nist_800_53_cis_reference_rhel8/other.yml
  shared/references/controls/nist_800_53_cis_reference_rhel8/sc.yml
  shared/references/controls/nist_800_53_cis_reference_rhel9/ac.yml
  shared/references/controls/nist_800_53_cis_reference_rhel9/au.yml
  shared/references/controls/nist_800_53_cis_reference_rhel9/cm.yml
  shared/references/controls/nist_800_53_cis_reference_rhel9/ia.yml
  shared/references/controls/nist_800_53_cis_reference_rhel9/other.yml
  shared/references/controls/nist_800_53_cis_reference_rhel9/sc.yml
Due: none

refactor: remove utils/oscal/ OSCAL component definition package
  utils/oscal/__init__.py
  utils/oscal/build_cd_from_policy.py
  utils/oscal/cd_generator.py
  utils/oscal/control_selector.py
  utils/oscal/params_extractor.py
  utils/oscal/rules_transformer.py
Due: none

test: remove tests for utils/oscal/ package
  tests/unit/utils/oscal/data/build-config.yml
  tests/unit/utils/oscal/data/rule_dirs.json
  tests/unit/utils/oscal/data/simplified_nist_catalog.json
  tests/unit/utils/oscal/data/simplified_nist_profile.json
  tests/unit/utils/oscal/data/test_root/applications/test_application/rule_1/rule.yml
  tests/unit/utils/oscal/data/test_root/applications/test_application/rule_2/rule.yml
  tests/unit/utils/oscal/data/test_root/applications/test_application/var_test.var
  tests/unit/utils/oscal/data/test_root/controls/test_policy.yml
  tests/unit/utils/oscal/data/test_root/products/test_product/product.yml
  tests/unit/utils/oscal/test_cd_generator.py
  tests/unit/utils/oscal/test_control_selector.py
  tests/unit/utils/oscal/test_rules_transformer.py
Due: none

ci: remove update-oscal workflow and complyscribe helper script
  .github/workflows/update-oscal.yml
  utils/complyscribe-cli-compd.sh
Due: none

build: remove compliance-trestle from CMake build system
  CMakeLists.txt
  tests/CMakeLists.txt
Due: none

fix: remove compliance-trestle dependency
  .github/workflows/automatus-debian12.yaml
  .github/workflows/automatus-ubuntu2204.yaml
  requirements.txt
Due: none

docs: remove build_cd_from_policy.py documentation
  docs/manual/developer/05_tools_and_utilities.md
Due: none

Fix stig references for DISA STIG OL8 V2R8
  linux_os/guide/services/obsolete/r_services/package_rsh-server_removed/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/rule.yml
  linux_os/guide/system/software/updating/ensure_epel_repos_disabled/rule.yml
  products/ol8/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

fix: address review feedback for trestle removal
  .gitignore
  CMakeLists.txt
  test-requirements.txt
Due: none

Add SLE16 to SUSE gating
  .github/workflows/gate.yaml
Due: none

Change title of SLE gating testing from SLE15 to Latest.
  .github/workflows/gate.yaml
Due: none

Add build-time test for ansible variable conflicts
  cmake/SSGCommon.cmake
  tests/test_ansible_variable_conflicts.py
Due: none
