Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

Document default SSHD parameters in description
  linux_os/guide/services/ssh/ssh_server/disable_host_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_empty_passwords/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_gssapi_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_kerb_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_rhosts/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_x11_forwarding/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_do_not_permit_user_env/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_pubkey_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_strictmodes/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_print_last_log/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_loglevel_info/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_x11_use_localhost/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

remove no longer used functions
  ssg/build_cpe.py
Due: none

change way of getting a CPEALFactref name
  ssg/build_cpe.py
Due: none

Fix default value of LogLevel in sshd_set_loglevel_verbose
  linux_os/guide/services/ssh/ssh_server/sshd_set_loglevel_verbose/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_loglevel_verbose/tests/comment.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_loglevel_verbose/tests/line_not_there.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

monkey patch pkg_resources.safe_name to overcome problem with underscores in platform namtes
  ssg/boolean_expression.py
Due: none

Describe where the distributed ssh config is added
  linux_os/guide/services/ssh/ssh_server/disable_host_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_empty_passwords/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_gssapi_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_kerb_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_pubkey_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_rhosts/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_root_login/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_root_password_login/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_tcp_forwarding/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_user_known_hosts/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_x11_forwarding/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_do_not_permit_user_env/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_gssapi_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_pam/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_pubkey_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_strictmodes/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_warning_banner/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_warning_banner_net/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_x11_forwarding/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_print_last_log/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive_0/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_loglevel_info/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_loglevel_verbose/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_x11_use_localhost/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

banner_etc_issue: Make it clearer that /etc/issue should not be modified on RHCOS
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update list of contributors for 0.1.59 release
  Contributors.md
  Contributors.xml
  ssg/contributors.py
Due: none

Update OL7 030360 DISA requirement
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/rule.yml
  products/ol7/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Specify the Fedora version for the release builds
  .github/workflows/release.yaml
Due: none

Remove mentions of RHEL-08-010180 since it was removed from RHEL8 STIG.
  controls/stig_rhel8.yml
  products/rhel8/profiles/stig.profile
  products/rhel9/profiles/stig.profile
Due: none

Bump version to 0.1.60
  CMakeLists.txt
Due: none

fix bash remediation
  linux_os/guide/system/software/integrity/fips/enable_fips_mode/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

fix ansible remediation
  linux_os/guide/system/software/integrity/fips/enable_fips_mode/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Some modifications
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_rename/rule.yml
  shared/templates/audit_rules_syscall_events/ansible.template
  shared/templates/audit_rules_syscall_events/bash.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Improved docs and usability for utils/build_stig_control.py
  docs/manual/developer/05_tools_and_utilities.md
  utils/build_stig_control.py
Due: none

Add RHEL-08-020353 to more rules and select them into RHEL8 STIG.
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_csh_cshrc/rule.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_profile/rule.yml
  products/rhel8/profiles/stig.profile
  products/rhel9/profiles/stig.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update RHEL8 STIG profile artifacts and version to V1R4.
  docs/manual/developer/05_tools_and_utilities.md
  products/rhel8/profiles/stig.profile
  products/rhel8/profiles/stig_gui.profile
  products/rhel9/profiles/stig.profile
  shared/references/disa-stig-rhel8-v1r4-xccdf-manual.xml
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Due: none

Add initial draft OL8 stig v1r1 profile
  products/ol8/CMakeLists.txt
  products/ol8/product.yml
  products/ol8/profiles/stig.profile
  products/ol8/transforms/xccdf-apply-overlay-stig.xslt
  products/ol8/transforms/xccdf2stigformat.xslt
  products/ol8/transforms/xccdf2table-stig.xslt
  shared/references/disa-stig-ol8-v1r1-xccdf-manual.xml
Due: none

NIST SC-7(5): route_ip_whitelist
  applications/openshift/networking/route_ip_whitelist/rule.yml
  applications/openshift/networking/route_ip_whitelist/tests/have_multiple_non_openshift_routes.fail.sh
  applications/openshift/networking/route_ip_whitelist/tests/have_non_openshfit_route.fail.sh
  applications/openshift/networking/route_ip_whitelist/tests/have_non_openshfit_route.pass.sh
  applications/openshift/networking/route_ip_whitelist/tests/no_non_openshift_routes.pass.sh
  applications/openshift/networking/route_ip_whitelist/tests/no_routes.pass.sh
  applications/openshift/networking/route_ip_whitelist/tests/ocp4/e2e.yml
  controls/nist_ocp4.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node

Assess PCI-DSS:Req-1.3.5
  controls/pcidss_ocp4.yml
Due: none

Parametrize SSHD distributed config in product.yml
  linux_os/guide/services/ssh/ssh_server/disable_host_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_empty_passwords/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_gssapi_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_kerb_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_pubkey_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_rhosts/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_root_login/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_root_password_login/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_tcp_forwarding/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_user_known_hosts/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_x11_forwarding/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_do_not_permit_user_env/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_gssapi_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_pam/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_pubkey_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_strictmodes/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_warning_banner/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_x11_forwarding/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_print_last_log/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive_0/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_loglevel_info/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_loglevel_verbose/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_x11_use_localhost/rule.yml
  products/fedora/product.yml
  products/rhel9/product.yml
  shared/macros-bash.jinja
  shared/macros-oval.jinja
  shared/templates/sshd_lineinfile/bash.template
  shared/templates/sshd_lineinfile/oval.template
  ssg/constants.py
  ssg/products.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Make SSH's default behavior more clear
  linux_os/guide/services/ssh/ssh_server/disable_host_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_empty_passwords/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_gssapi_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_kerb_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_rhosts/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_x11_forwarding/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_do_not_permit_user_env/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_pubkey_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_strictmodes/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_print_last_log/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_loglevel_info/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Describe correct file to check/remediate in SSH OCIL
  linux_os/guide/services/ssh/ssh_server/sshd_disable_gssapi_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_kerb_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_pubkey_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_do_not_permit_user_env/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_gssapi_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_pam/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_pubkey_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_strictmodes/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_print_last_log/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive_0/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_loglevel_info/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_loglevel_verbose/rule.yml
  shared/macros.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Move conditionals for sshd config file to a macro
  linux_os/guide/services/ssh/ssh_server/disable_host_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_empty_passwords/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_gssapi_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_kerb_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_pubkey_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_rhosts/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_root_login/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_root_password_login/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_tcp_forwarding/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_user_known_hosts/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_disable_x11_forwarding/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_do_not_permit_user_env/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_gssapi_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_pam/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_pubkey_auth/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_strictmodes/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_warning_banner/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_enable_x11_forwarding/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_print_last_log/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive_0/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_loglevel_info/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_set_loglevel_verbose/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_x11_use_localhost/rule.yml
  shared/macros.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

HIPAA Rules in test
  linux_os/guide/system/accounts/accounts-physical/grub2_disable_interactive_boot/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/grub2_disable_interactive_boot/rule.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_local_packages/ansible/shared.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_local_packages/bash/shared.sh
  linux_os/guide/system/software/updating/ensure_gpgcheck_local_packages/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add rule to hipaa.profile
  products/sle15/profiles/hipaa.profile
Due: none

Add stig_gui profile for ol7
  products/ol7/CMakeLists.txt
  products/ol7/profiles/stig_gui.profile
Due: none

Add rule file_integrity_notification_enabled for PCI-DSS: Req-11.5.1 & 12.10.5
  applications/openshift/general/file_integrity_notification_enabled/rule.yml
  controls/pcidss_ocp4.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node

Add CentOS Stream 9 derivative product from RHEL9.
  build-scripts/enable_derivatives.py
  products/rhel9/CMakeLists.txt
  products/rhel9/product.yml
  shared/applicability/derivatives.yml
  shared/checks/oval/installed_OS_is_centos9.xml
  ssg/constants.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add comment explaining why profiles are kept in CentOS Stream 9.
  build-scripts/enable_derivatives.py
Due: none

Use forking point commit as base for compare ds job.
  .github/workflows/compare-ds.yaml
Due: none

Fix broken test scenario
  linux_os/guide/system/selinux/selinux_state/tests/selinux_permissive.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

File attributes template: Create directory first if doesn't exist.
  shared/templates/file_groupowner/tests/correct_groupowner.pass.sh
  shared/templates/file_groupowner/tests/incorrect_groupowner.fail.sh
  shared/templates/file_owner/tests/correct_owner.pass.sh
  shared/templates/file_owner/tests/incorrect_owner.fail.sh
  shared/templates/file_permissions/tests/correct_permissions.pass.sh
  shared/templates/file_permissions/tests/lenient_permissions.fail.sh
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Fix jinja issue on fedora rawhide.
  tests/unit/ssg-module/test_playbook_builder.py
  utils/duplicated_prodtypes.py
  utils/fix_file_ocilclause.py
  utils/move_rules.py
Due: none

Added first draft of control to SRG script
  controls/stig_rhel9.yml
  shared/references/disa-os-srg-v2r1.xml
  utils/create_srg_export.py
Due: none

Fix build issues with having two DISA OS SRG xml files
  shared/references/disa-os-srg-v1r6.xml
Due: none

Update package_install_tmux to use fix
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/package_tmux_installed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add more fileds and the abitily not have rules to SRG export
  utils/create_srg_export.py
Due: none
