Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

feat: use go template rendering for openshift_kube_controller_manager config resources
  applications/openshift/controller/controller_insecure_port_disabled/rule.yml
  applications/openshift/controller/controller_rotate_kubelet_server_certs/rule.yml
  applications/openshift/controller/controller_secure_port/rule.yml
  applications/openshift/controller/controller_service_account_ca/rule.yml
  applications/openshift/controller/controller_service_account_private_key/rule.yml
  applications/openshift/controller/controller_use_service_account/rule.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node

chore: delete unused commented-out description
  applications/openshift/api-server/api_server_openshift_https_serving_cert/rule.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node

feat: revert changes on disabled rules
  applications/openshift/api-server/audit_log_forwarding_enabled/rule.yml
  applications/openshift/api-server/var_openshift_logging_clusterlogforwarders_instance.var
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node

feat: revert addition of FILEPATH_XCCDF_VARIABLE
  shared/templates/yamlfile_value/oval.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

feat: use go template rendering for openshift_sdn_daemonsets config resources
  applications/openshift/worker/file_permissions_proxy_kubeconfig/rule.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node

feat: use go template rendering for openshift_kube_scheduler_pod config resources
  applications/openshift/scheduler/scheduler_no_bind_address/rule.yml
  applications/openshift/scheduler/scheduler_port_is_zero/rule.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node

feat: use go template rendering for openshift_ingress_operator config resources
  applications/openshift/kubelet/kubelet_configure_tls_cipher_suites_ingresscontroller/rule.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node

Update test kickstarts wrt password lifetime restrictions
  tests/kickstarts/test_suite.cfg
  tests/kickstarts/test_suite_rhel7.cfg
  tests/unselect_rules_list
Due: none

Fix missing argument for grep command in bash remediation
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Fix ansible remediation of accounts_umask_* rules.
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/tests/missing.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/tests/wrong_multiple.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_csh_cshrc/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_csh_cshrc/tests/missing.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_csh_cshrc/tests/stig_correct.pass.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_csh_cshrc/tests/super_compliant.pass.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_csh_cshrc/tests/wrong.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_csh_cshrc/tests/wrong_multiple.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_login_defs/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_login_defs/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_login_defs/tests/missing.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_login_defs/tests/super_compliance.pass.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_login_defs/tests/wrong_configuration.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_login_defs/tests/wrong_multiple.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_login_defs/tests/wrong_value.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_profile/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_profile/tests/missing.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Determine the platform name for CIS profile descriptions and rationale
  applications/openshift/kubelet/kubelet_anonymous_auth/rule.yml
  applications/openshift/kubelet/kubelet_authorization_mode/rule.yml
  applications/openshift/kubelet/kubelet_disable_hostname_override/rule.yml
  applications/openshift/worker/file_groupowner_kubelet_conf/rule.yml
  applications/openshift/worker/file_groupowner_worker_kubeconfig/rule.yml
  applications/openshift/worker/file_owner_kubelet_conf/rule.yml
  applications/openshift/worker/file_permissions_kubelet_conf/rule.yml
  applications/openshift/worker/file_permissions_worker_kubeconfig/rule.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node

Fix require_emergency_target_auth and require_singleuser_auth in RHEL9.
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/rule.yml
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/rule.yml
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/tests/correct_value.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Revert temporary removal of rule
  products/rhel8/profiles/ospp.profile
  tests/data/profile_stability/rhel8/ospp.profile
Due: none

Generate a SHA512 checksum of the source tarball
  CMakeLists.txt
Due: none

Generate a checksum of the content zipfiles
  cmake/SSGCommon.cmake
Due: none

Include the checksum files in the Git Hub release
  .github/workflows/release.yaml
Due: none

modify vsyscall rules according to rhel9 ospp
  linux_os/guide/system/bootloader-grub2/grub2_vsyscall_argument/rule.yml
  linux_os/guide/system/bootloader-zipl/zipl_vsyscall_argument/rule.yml
  products/rhel9/profiles/ospp.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

add ospp references to fips rules
  linux_os/guide/system/software/integrity/fips/enable_dracut_fips_module/rule.yml
  linux_os/guide/system/software/integrity/fips/enable_fips_mode/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

drop no longer needed rules from ospp rhel9 profile
  products/rhel9/profiles/ospp.profile
Due: none

Fix a quite broken pam options template
  shared/templates/pam_options/bash.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

add different file content for rhel9
  linux_os/guide/system/auditing/policy_rules/audit_ospp_general/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

fix tests
  linux_os/guide/system/auditing/policy_rules/audit_ospp_general/tests/correct_rules.pass.sh
  linux_os/guide/system/auditing/policy_rules/audit_ospp_general/tests/correct_rules_rhel9.pass.sh
  tests/shared/audit/30-ospp-v42_rhel9.rules
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add backends attribute to template in rules schema
  shared/schemas/rule.json
Due: none

In SRG export script move some fields to the base rows and reword errors
  utils/create_srg_export.py
Due: none

add grub2_init_on_alloc rule
  linux_os/guide/system/bootloader-grub2/grub2_init_on_alloc_argument/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

add zipl_init_on_alloc_argument rule
  linux_os/guide/system/bootloader-zipl/zipl_init_on_alloc_argument/rule.yml
  linux_os/guide/system/bootloader-zipl/zipl_init_on_alloc_argument/tests/correct_option.pass.sh
  linux_os/guide/system/bootloader-zipl/zipl_init_on_alloc_argument/tests/missing_in_cmdline.fail.sh
  linux_os/guide/system/bootloader-zipl/zipl_init_on_alloc_argument/tests/missing_in_entry.fail.sh
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

add new rules to rhel9 ospp
  products/rhel9/profiles/ospp.profile
Due: none

drop rules
  products/rhel9/profiles/ospp.profile
Due: none

docs: Document boolean expressions in "platform" definitions
  docs/manual/developer/06_contributing_with_content.md
Due: none

CFE-214 : SC-6 : CaC rule that checks workloads for resource requests/limits
  applications/openshift/general/resource_requests_limits_in_daemonset/rule.yml
  applications/openshift/general/resource_requests_limits_in_daemonset/tests/has_resource_request_limits_but_not_complete_set.fail.sh
  applications/openshift/general/resource_requests_limits_in_daemonset/tests/has_resource_requests_Limits.pass.sh
  applications/openshift/general/resource_requests_limits_in_daemonset/tests/no_daemonsets.pass.sh
  applications/openshift/general/resource_requests_limits_in_daemonset/tests/no_resource_request_limits.fail.sh
  applications/openshift/general/resource_requests_limits_in_daemonset/tests/ocp4/e2e.yml
  applications/openshift/general/resource_requests_limits_in_daemonset/tests/skip_openshif_kube_ns_resource_requests_Limits.pass.sh
  applications/openshift/general/resource_requests_limits_in_deployment/rule.yml
  applications/openshift/general/resource_requests_limits_in_deployment/tests/has_resource_request_limits_but_not_complete_set.fail.sh
  applications/openshift/general/resource_requests_limits_in_deployment/tests/has_resource_requests_Limits.pass.sh
  applications/openshift/general/resource_requests_limits_in_deployment/tests/no_deployments.pass.sh
  applications/openshift/general/resource_requests_limits_in_deployment/tests/no_resource_request_limits.fail.sh
  applications/openshift/general/resource_requests_limits_in_deployment/tests/ocp4/e2e.yml
  applications/openshift/general/resource_requests_limits_in_deployment/tests/skip_openshift_kube_ns_resource_requests_Limits.pass.sh
  applications/openshift/general/resource_requests_limits_in_statefulset/rule.yml
  applications/openshift/general/resource_requests_limits_in_statefulset/tests/has_resource_request_limits_but_not_complete_set.fail.sh
  applications/openshift/general/resource_requests_limits_in_statefulset/tests/has_resource_requests_Limits.pass.sh
  applications/openshift/general/resource_requests_limits_in_statefulset/tests/no_resource_request_limits.fail.sh
  applications/openshift/general/resource_requests_limits_in_statefulset/tests/no_statfulsets.pass.sh
  applications/openshift/general/resource_requests_limits_in_statefulset/tests/ocp4/e2e.yml
  applications/openshift/general/resource_requests_limits_in_statefulset/tests/skip_openshift_kubesystem_ns_resource_requests_Limits.pass.sh
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node

Adding control file for resource request and limits
  controls/nist_ocp4.yml
Due: none

adding Resource limits and requests for daemonset, Statfulset and deployment
  applications/openshift/general/resource_requests_limits_in_daemonset/rule.yml
  applications/openshift/general/resource_requests_limits_in_daemonset/tests/has_resource_request_limits_but_not_complete_set.fail.sh
  applications/openshift/general/resource_requests_limits_in_daemonset/tests/has_resource_requests_Limits.pass.sh
  applications/openshift/general/resource_requests_limits_in_daemonset/tests/no_daemonsets.pass.sh
  applications/openshift/general/resource_requests_limits_in_daemonset/tests/no_resource_request_limits.fail.sh
  applications/openshift/general/resource_requests_limits_in_daemonset/tests/ocp4/e2e.yml
  applications/openshift/general/resource_requests_limits_in_daemonset/tests/skip_openshif_kube_ns_resource_requests_Limits.pass.sh
  applications/openshift/general/resource_requests_limits_in_deployment/rule.yml
  applications/openshift/general/resource_requests_limits_in_deployment/tests/has_resource_request_limits_but_not_complete_set.fail.sh
  applications/openshift/general/resource_requests_limits_in_deployment/tests/has_resource_requests_Limits.pass.sh
  applications/openshift/general/resource_requests_limits_in_deployment/tests/no_deployments.pass.sh
  applications/openshift/general/resource_requests_limits_in_deployment/tests/no_resource_request_limits.fail.sh
  applications/openshift/general/resource_requests_limits_in_deployment/tests/ocp4/e2e.yml
  applications/openshift/general/resource_requests_limits_in_deployment/tests/skip_openshift_kube_ns_resource_requests_Limits.pass.sh
  applications/openshift/general/resource_requests_limits_in_statefulset/rule.yml
  applications/openshift/general/resource_requests_limits_in_statefulset/tests/has_resource_request_limits_but_not_complete_set.fail.sh
  applications/openshift/general/resource_requests_limits_in_statefulset/tests/has_resource_requests_Limits.pass.sh
  applications/openshift/general/resource_requests_limits_in_statefulset/tests/no_resource_request_limits.fail.sh
  applications/openshift/general/resource_requests_limits_in_statefulset/tests/no_statfulsets.pass.sh
  applications/openshift/general/resource_requests_limits_in_statefulset/tests/ocp4/e2e.yml
  applications/openshift/general/resource_requests_limits_in_statefulset/tests/skip_openshift_kubesystem_ns_resource_requests_Limits.pass.sh
  controls/nist_ocp4.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node

Update list of contributors for 0.1.60 release
  Contributors.md
  Contributors.xml
Due: none

Update control rules and response text for CM-8(3)
  controls/nist_ocp4.yml
Due: none

Correcting Unit test case in statefulsets
  applications/openshift/general/resource_requests_limits_in_statefulset/tests/no_resource_request_limits.fail.sh
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node

OCP: Only run controller_insecure_port_disabled for OCP 4.6-4.9
  applications/openshift/controller/controller_insecure_port_disabled/rule.yml
  applications/openshift/controller/controller_insecure_port_disabled/tests/ocp4/4.10.yml
  applications/openshift/controller/controller_insecure_port_disabled/tests/ocp4/4.6.yml
  applications/openshift/controller/controller_insecure_port_disabled/tests/ocp4/4.7.yml
  applications/openshift/controller/controller_insecure_port_disabled/tests/ocp4/4.8.yml
  applications/openshift/controller/controller_insecure_port_disabled/tests/ocp4/4.9.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node

Update path where to look for NIC configuration
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update OVAL to acually check all NIC configuration
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate
