Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

Update remediarions for time syscalls rules
  linux_os/guide/system/auditing/auditd_configure_rules/audit_time_rules/audit_rules_time_clock_settime/bash/shared.sh
  shared/bash_remediation_functions/perform_audit_adjtimex_settimeofday_stime_remediation.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Set syscall grouping for create, open and truncate rules
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_creat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_ftruncate/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_open/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_open_by_handle_at/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_openat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_truncate/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Move suid_privileged_function to new fix_audit_sycall_rule
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Set syscall groupings for set/remove xattr rules
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fremovexattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fsetxattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_lremovexattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_lsetxattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_removexattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_setxattr/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Enhance fix_audit_syscall_rule to handle rules without auid
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_finit/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_init/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_networkconfig_modification/bash/shared.sh
  shared/bash_remediation_functions/fix_audit_syscall_rule.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Enhance fix_audit_syscall_rule to handle multiple syscalls
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification/bash/shared.sh
  shared/bash_remediation_functions/fix_audit_syscall_rule.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Print filenames in sed command
  shared/bash_remediation_functions/fix_audit_syscall_rule.sh
Due: none

Move template audit_rules_path_syscall to Ansible macro
  shared/templates/audit_rules_path_syscall/ansible.template
  shared/templates/audit_rules_path_syscall/template.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Move template audit_rules_dac_modification to Ansible macro
  shared/templates/audit_rules_dac_modification/ansible.template
  shared/templates/audit_rules_dac_modification/template.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Set syscall groupings for remove and delete rules
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_rename/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_renameat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_rmdir/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_unlink/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_unlinkat/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Move template audit_rules_unsuccessfull_file_modification to Ansible macro
  shared/templates/audit_rules_unsuccessful_file_modification/ansible.template
  shared/templates/audit_rules_unsuccessful_file_modification/template.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Merge with head
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_chmod/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_chown/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_fchmod/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_fchmodat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_fchown/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_fchownat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_fsetxattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_lchown/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_lsetxattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_rename/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_renameat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_renameat2/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_setxattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_unlink/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_unlinkat/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Enable sudo_require_reauthentication in RHEL7 and select it in STIG.
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/rule.yml
  products/rhel7/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Enable accounts_authorized_local_users in RHEL7 and select it in STIG.
  linux_os/guide/system/accounts/accounts-restrictions/accounts_authorized_local_users/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/var_accounts_authorized_local_users_regex.var
  products/rhel7/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Enable auditd_overflow_action in RHEL7 and select it in STIG.
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_overflow_action/rule.yml
  products/rhel7/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Enable auditd_name_format in RHEL7 and select it in STIG.
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_name_format/rule.yml
  products/rhel7/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Remove STIG id RHEL-07-010090 from package_screen_installed.
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/package_screen_installed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Added missing documentation
  shared/macros-oval.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Modified logic to remove exit; added documentation of arguments
  shared/macros-bash.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Added quoting to bash variable
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faildelay_delay/bash/ubuntu.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Converted function syntax to macro
  shared/macros-bash.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Removed old function; changed semantics to jinja; changed function calls to macro invocations
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/bash/shared.sh
  shared/bash_remediation_functions/perform_audit_rules_privileged_commands_remediation.sh
  shared/macros-bash.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Fixed array initialization
  shared/macros-bash.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

removed declare -a
  shared/macros-bash.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Allow HID USB in the ISM profile
  products/rhel8/profiles/ism_o.profile
  products/rhel9/profiles/ism_o.profile
Due: none

Converted create_audit_remediation_unsuccessful_file_modification_detailed and its calls to a jinja macro; removed the old function
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_open_by_handle_at_o_creat/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_open_by_handle_at_o_trunc_write/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_open_by_handle_at_rule_order/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_open_o_creat/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_open_o_trunc_write/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_open_rule_order/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_openat_o_creat/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_openat_o_trunc_write/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_openat_rule_order/bash/shared.sh
  shared/bash_remediation_functions/create_audit_remediation_unsuccessful_file_modification_detailed.sh
  shared/macros-bash.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Removed unused die.sh function
  shared/bash_remediation_functions/die.sh
Due: none

Bug 1942281 - Set postfix rules to notapplicable when package is not installed
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_relayhost/rule.yml
  linux_os/guide/services/mail/postfix_client/postfix_network_listening_disabled/rule.yml
  linux_os/guide/services/mail/postfix_harden_os/group.yml
  linux_os/guide/services/mail/postfix_harden_os/postfix_server_cfg/postfix_server_relay/postfix_prevent_unrestricted_relay/rule.yml
  products/rhel8/profiles/stig.profile
  products/rhel9/profiles/stig.profile
  shared/applicability/general.yml
  shared/checks/oval/installed_env_has_postfix_package.xml
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Edited documentation to reflect the deletion of die.sh script
  docs/manual/developer/06_contributing_with_content.md
Due: none

Add sort_prodtypes to fix_rules
  docs/manual/developer/05_tools_and_utilities.md
  tests/CMakeLists.txt
  utils/fix_rules.py
Due: none

Automatically sorted prodtypes
  linux_os/guide/services/ntp/chronyd_or_ntpd_specify_multiple_servers/rule.yml
  linux_os/guide/services/ntp/chronyd_or_ntpd_specify_remote_server/rule.yml
  linux_os/guide/services/ntp/ntpd_configure_restrictions/rule.yml
  linux_os/guide/services/ntp/ntpd_run_as_ntp_user/rule.yml
  linux_os/guide/services/ntp/service_chronyd_or_ntpd_enabled/rule.yml
  linux_os/guide/services/obsolete/r_services/no_host_based_files/rule.yml
  linux_os/guide/services/obsolete/r_services/no_user_host_based_files/rule.yml
  linux_os/guide/services/ssh/ssh_client/ssh_client_rekey_limit/rule.yml
  linux_os/guide/services/sssd/sssd_enable_smartcards/rule.yml
  linux_os/guide/services/sssd/sssd_run_as_sssd_user/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/accounts_authorized_local_users/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_have_homedir_login_defs/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_no_world_writable_programs/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_home_paths_only/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_interactive_home_directory_defined/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_groupownership/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_ownership/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_permissions/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/file_permissions_var_log_audit/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_forwarding/rule.yml
  linux_os/guide/system/network/network-ipv6/disabling_ipv6/grub2_ipv6_disable_argument/rule.yml
  linux_os/guide/system/network/network-wireless/wireless_software/service_bluetooth_disabled/rule.yml
  linux_os/guide/system/permissions/files/dir_perms_world_writable_system_owned_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_group_ownership_library_dirs/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/root_permissions_syslibrary_files/rule.yml
  linux_os/guide/system/software/integrity/certified-vendor/installed_OS_is_FIPS_certified/rule.yml
  linux_os/guide/system/software/integrity/crypto/configure_gnutls_tls_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/crypto/harden_openssl_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/crypto/harden_sshd_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/fips/etc_system_fips_exists/rule.yml
  linux_os/guide/system/software/integrity/fips/grub2_enable_fips_mode/rule.yml
  linux_os/guide/system/software/integrity/fips/package_dracut-fips-aesni_installed/rule.yml
  linux_os/guide/system/software/integrity/fips/package_dracut-fips_installed/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

OL8 was prevent build all from working
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_cert_checking/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Fix a failing test scenarios
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_cron_logging/tests/no_cron_logging.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add docs on status proposal for controls structure
  docs/manual/developer/03_creating_content.md
Due: none

Added test cases related to files permissions and ownership
  linux_os/guide/services/ssh/file_permissions_sshd_config/tests/correct_permissions.pass.sh
  linux_os/guide/services/ssh/file_permissions_sshd_config/tests/open_permissions.fail.sh
  linux_os/guide/services/ssh/file_permissions_sshd_config/tests/read_permissions.fail.sh
  linux_os/guide/services/ssh/file_permissions_sshd_private_key/tests/correct_value.pass.sh
  linux_os/guide/services/ssh/file_permissions_sshd_pub_key/tests/correct_value.pass.sh
  linux_os/guide/services/ssh/file_permissions_sshd_pub_key/tests/multiple_keys.fail.sh
  linux_os/guide/services/ssh/file_permissions_sshd_pub_key/tests/wrong_value.fail.sh
  linux_os/guide/system/accounts/accounts-session/file_permissions_home_dirs/tests/correct_permissions.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_permissions_home_dirs/tests/group_write.fail.sh
  linux_os/guide/system/accounts/accounts-session/file_permissions_home_dirs/tests/others_read.fail.sh
  linux_os/guide/system/accounts/accounts-session/file_permissions_home_dirs/tests/special_permissions.fail.sh
  linux_os/guide/system/permissions/files/file_permissions_unauthorized_world_writable/tests/no_world_writable.pass.sh
  linux_os/guide/system/permissions/files/file_permissions_unauthorized_world_writable/tests/world_writable.fail.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_group/tests/correct.pass.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_group/tests/incorrect.fail.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_gshadow/tests/correct.pass.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_gshadow/tests/incorrect.fail.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_passwd/tests/correct.pass.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_passwd/tests/incorrect.fail.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_shadow/tests/correct.pass.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_groupowner_backup_etc_shadow/tests/incorrect.fail.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_group/tests/correct.pass.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_group/tests/incorrect.fail.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_gshadow/tests/correct.pass.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_gshadow/tests/incorrect.fail.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_passwd/tests/correct.pass.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_passwd/tests/incorrect.fail.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_shadow/tests/correct.pass.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_backup_etc_shadow/tests/incorrect.fail.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_group/tests/correct_permissions.pass.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_group/tests/open_permissions.fail.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_group/tests/write_permissions.fail.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_gshadow/tests/correct_permissions.pass.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_gshadow/tests/open_permissions.fail.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_gshadow/tests/read_permissions.fail.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_shadow/tests/correct_permissions.pass.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_shadow/tests/open_permissions.fail.sh
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_backup_etc_shadow/tests/read_permissions.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add audit_rules_dac_modification_umount specific rule only for 32bit arch
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_umount/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_umount/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_umount/oval/shared.xml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_umount/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Added macro error raise and fixed formatting
  shared/macros-bash.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Removed unnecessary indentation of rules; added better macro description
  shared/macros-bash.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Convert function syntax to macro
  shared/macros-bash.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate
