Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

Pass enable_gpgcheck_for_all_repositories when there are no repos
  linux_os/guide/system/software/updating/enable_gpgcheck_for_all_repositories/oval/shared.xml
  linux_os/guide/system/software/updating/enable_gpgcheck_for_all_repositories/tests/no_repositories.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Make sure to have existing pkg_manager_config_file and containing dir
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/ansible/shared.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix remediations for restrict_serial_port_logins to copy vendor config in case /etc/pam.d/login file does not exist in etc
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/restrict_serial_port_logins/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/restrict_serial_port_logins/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add tests for audit_rules_dac_modification_umount
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_umount/tests/auditctl_correct_rule.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_umount/tests/augenrules_correct_rule.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_umount/tests/augenrules_correct_with_other_syscalls.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_umount/tests/augenrules_rules_not_there.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_umount/tests/augenrules_wrong_list_action.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_umount/tests/augenrules_wrong_syscall.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add tests for ssh_keys_passphrase_protected
  linux_os/guide/services/ssh/ssh_client/ssh_keys_passphrase_protected/tests/key_with_passphrase.pass.sh
  linux_os/guide/services/ssh/ssh_client/ssh_keys_passphrase_protected/tests/key_without_passphrase.fail.sh
  linux_os/guide/services/ssh/ssh_client/ssh_keys_passphrase_protected/tests/no_keys.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix sysctl_kernel_exec_shield OVAL to check BLS entries and add tests
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_exec_shield/oval/shared.xml
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_exec_shield/tests/noexec_absent.pass.sh
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_exec_shield/tests/noexec_off.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Potential fix for pull request finding
  shared/checks/oval/installed_OS_is_sle16.xml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

update profiles for rsyslog tailoring
  linux_os/guide/system/logging/ensure_journald_and_rsyslog_not_active_together/rule.yml
  products/rhel10/profiles/default.profile
  products/rhel9/controls/cis_rhel9.yml
  products/rhel9/profiles/default.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel9/cis.profile
  tests/data/profile_stability/rhel9/cis_server_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l2.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

nist_sync: reuse ssg product.yml full_name, fix resource leak, add type hints
  utils/nist_sync/export_to_gemara.py
  utils/nist_sync/gemara/catalog.py
  utils/nist_sync/gemara/guidance.py
  utils/nist_sync/gemara/mapping.py
  utils/nist_sync/gemara/policy.py
  utils/nist_sync/gemara/schema.py
  utils/nist_sync/gemara/status_map.py
  utils/nist_sync/generate_complyctl_bundle.py
  utils/nist_sync/generate_policies_pr.py
  utils/nist_sync/test_gemara_export.py
Due: none

ci: checksum CUE download, drop dead code, avoid PAT in clone URL argv
  .github/workflows/export-to-gemara.yml
  .github/workflows/update-policies.yml
Due: none

nist_sync: use FQCN for Ansible modules in setup/scan playbooks
  utils/nist_sync/ansible/scan.yml
  utils/nist_sync/ansible/setup.yml
  utils/nist_sync/ansible/tasks/scan_baseline.yml
Due: none

nist_sync: drop VirtualBox provider from Vagrantfile, libvirt only
  utils/nist_sync/vagrant/Vagrantfile
Due: none

docs: move NIST 800-53 Gemara walkthrough/testing guides under docs/
  docs/manual/developer/15_nist_800_53_gemara_walkthrough.md
  docs/manual/developer/16_nist_800_53_gemara_testing.md
Due: none

CMP-4513: Add cis-vm-extension-node profile (CIS OCP-Virt node-level controls)
  products/ocp4/profiles/cis-vm-extension-node.profile
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

CMP-4443: Add rule kubevirt-nested-virtualization-disabled (CIS OCP-Virt 6.1)
  applications/openshift-virtualization/kubevirt-nested-virtualization-disabled/oval/shared.xml
  applications/openshift-virtualization/kubevirt-nested-virtualization-disabled/rule.yml
Due: none

Remove dead sle12 condition from pwhistory_remember shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Consolidate per-distro OVAL files into shared.xml for two PAM rules
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember/oval/debian.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_enabled/oval/debian.xml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_enabled/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_enabled/oval/ubuntu.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add Debian 13 PAM support to existing rules
  linux_os/guide/system/accounts/accounts-pam/accounts_password_pam_unix_enabled/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_enabled/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember/bash/debian.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember/oval/debian.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_use_authtok/bash/debian.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/bash/debian.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_enabled/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_enabled/oval/debian.xml
  linux_os/guide/system/accounts/accounts-pam/var_password_hashing_algorithm.var
  linux_os/guide/system/accounts/accounts-pam/var_password_hashing_algorithm_pam.var
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_no_remember/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_unix/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Guard OVAL def-group for debian/ubuntu/sle products only
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_enabled/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

revert block: indentation change in tftp_uses_secure_mode_systemd
  linux_os/guide/services/obsolete/tftp/tftp_uses_secure_mode_systemd/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

fix yamllint errors introduced by mode: additions
  linux_os/guide/services/ntp/chronyd_configure_pool_and_server/ansible/shared.yml
  linux_os/guide/services/obsolete/tftp/tftp_uses_secure_mode_systemd/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_csh_cshrc/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_login_defs/ansible/shared.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_remote_access_monitoring/ansible/ubuntu.yml
  linux_os/guide/system/permissions/files/dir_system_commands_group_root_owned/ansible/shared.yml
  linux_os/guide/system/permissions/files/dir_system_commands_root_owned/ansible/shared.yml
  linux_os/guide/system/software/integrity/crypto/harden_openssl_crypto_policy/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

macros: add explicit mode/chmod to file-creating macros
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

fix review findings from PR #14947 review round 1
  linux_os/guide/auditing/policy_rules/audit_rules_for_ospp/bash/shared.sh
  linux_os/guide/services/obsolete/tftp/tftp_uses_secure_mode_systemd/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_selinux_faillock_dir/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_auth/bash/shared.sh
  linux_os/guide/system/logging/log_rotation/ensure_logrotate_activated/bash/shared.sh
  linux_os/guide/system/permissions/files/dir_system_commands_group_root_owned/ansible/shared.yml
  linux_os/guide/system/permissions/files/dir_system_commands_root_owned/ansible/shared.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_bind/bash/shared.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_opensshserver_conf_crypto_policy/bash/shared.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_crypto_policy/bash/shared.sh
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_opensshserver_conf_crypto_policy/bash/shared.sh
  shared/macros/10-bash.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

templates: add mode/chmod to file-creating templates
  shared/templates/accounts_password/ansible.template
  shared/templates/audit_rules_syscall_events/ansible.template
  shared/templates/cis_banner/ansible.template
  shared/templates/cis_banner/bash.template
  shared/templates/dconf_ini_file/ansible.template
  shared/templates/kernel_module_disabled/ansible.template
  shared/templates/pam_account_password_faillock/bash.template
  shared/templates/systemd_dropin_configuration/ansible.template
  shared/templates/zipl_bls_entries_option/ansible.template
  shared/templates/zipl_bls_entries_option/bash.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Set explicit permissions for remediations creating drop-in files
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_immutable_login_uids/bash/shared.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_directory_configuration/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/bash/shared.sh
  linux_os/guide/system/permissions/files/rootfiles/rootfiles_configured/ansible/shared.yml
  linux_os/guide/system/permissions/permissions_local/permissions_local_var_log_audit/ansible/shared.yml
  linux_os/guide/system/permissions/restrictions/coredumps/disable_users_coredumps/ansible/shared.yml
  linux_os/guide/system/permissions/restrictions/coredumps/disable_users_coredumps/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

CMP-4432: Add VLAN segmentation CEL rules for CIS OCP-Virt 4.1
  applications/openshift-virtualization/kubevirt-localnet-vlan-required/cel/shared.yml
  applications/openshift-virtualization/kubevirt-localnet-vlan-required/cel/tests/cases.yaml
  applications/openshift-virtualization/kubevirt-localnet-vlan-required/rule.yml
  applications/openshift-virtualization/kubevirt-sriov-vlan-required/cel/shared.yml
  applications/openshift-virtualization/kubevirt-sriov-vlan-required/cel/tests/cases.yaml
  applications/openshift-virtualization/kubevirt-sriov-vlan-required/rule.yml
  products/ocp4/profiles/cis-vm-extension.profile
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

CMP-4433: Add MAC spoof filtering CEL rules for CIS OCP-Virt 4.2
  applications/openshift-virtualization/kubevirt-bridge-mac-spoof-filtering/cel/shared.yml
  applications/openshift-virtualization/kubevirt-bridge-mac-spoof-filtering/cel/tests/cases.yaml
  applications/openshift-virtualization/kubevirt-bridge-mac-spoof-filtering/rule.yml
  applications/openshift-virtualization/kubevirt-sriov-spoofchk-on/cel/shared.yml
  applications/openshift-virtualization/kubevirt-sriov-spoofchk-on/cel/tests/cases.yaml
  applications/openshift-virtualization/kubevirt-sriov-spoofchk-on/rule.yml
  products/ocp4/profiles/cis-vm-extension.profile
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Update SLE15 CHOST profile
  products/sle15/profiles/pcs-hardening-chost.profile
Due: none

CMP-4448: Fix kubevirt-nonroot-feature-gate false positive on OCP 4.18+
  applications/openshift-virtualization/kubevirt-nonroot-feature-gate-is-enabled/cel/shared.yml
  applications/openshift-virtualization/kubevirt-nonroot-feature-gate-is-enabled/cel/tests/cases.yaml
  applications/openshift-virtualization/kubevirt-nonroot-feature-gate-is-enabled/rule.yml
Due: none

CMP-4447: Fix kubevirt-no-permitted-host-devices false FAIL on partial allowlist
  applications/openshift-virtualization/kubevirt-no-permitted-host-devices/cel/shared.yml
  applications/openshift-virtualization/kubevirt-no-permitted-host-devices/cel/tests/cases.yaml
Due: none

CMP-4449: kubevirt-persistent-reservation-disabled: treat absent field as compliant
  applications/openshift-virtualization/kubevirt-persistent-reservation-disabled/cel/shared.yml
  applications/openshift-virtualization/kubevirt-persistent-reservation-disabled/cel/tests/cases.yaml
Due: none

CMP-4451: Fix kubevirt-no-vms-overcommitting-guest-memory list iteration
  applications/openshift-virtualization/kubevirt-no-vms-overcommitting-guest-memory/cel/shared.yml
  applications/openshift-virtualization/kubevirt-no-vms-overcommitting-guest-memory/cel/tests/cases.yaml
  tests/unit/kubernetes/known_broken_cel_rules.yml
Due: none

CMP-4450: kubevirt-enforce-trusted-tls-registries: guard missing insecureRegistries key
  applications/openshift-virtualization/kubevirt-enforce-trusted-tls-registries/cel/shared.yml
  applications/openshift-virtualization/kubevirt-enforce-trusted-tls-registries/cel/tests/cases.yaml
Due: none

Address review: prose test-case names, drop Jira refs and parentheticals
  applications/openshift-virtualization/kubevirt-enforce-trusted-tls-registries/cel/tests/cases.yaml
  applications/openshift-virtualization/kubevirt-no-permitted-host-devices/cel/tests/cases.yaml
  applications/openshift-virtualization/kubevirt-no-vms-overcommitting-guest-memory/cel/tests/cases.yaml
  applications/openshift-virtualization/kubevirt-nonroot-feature-gate-is-enabled/cel/shared.yml
  applications/openshift-virtualization/kubevirt-nonroot-feature-gate-is-enabled/cel/tests/cases.yaml
  applications/openshift-virtualization/kubevirt-persistent-reservation-disabled/cel/shared.yml
  applications/openshift-virtualization/kubevirt-persistent-reservation-disabled/cel/tests/cases.yaml
Due: none

Add mode: to ansible_auditd_set and ansible_sshd_set
  shared/macros/10-ansible.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Prevent file_ownership/groupownership_home_directories from chowning /
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

CMP-4434: Add manual rule kubevirt-use-multi-network-policies (CIS OCP-Virt 4.3)
  applications/openshift-virtualization/kubevirt-use-multi-network-policies/rule.yml
  build-scripts/build_cel_content.py
  docs/manual/developer/13_cel_content.md
  products/ocp4/profiles/cis-vm-extension.profile
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Update description with CustomRule guidance per review- explains manual status and points organizations to CustomRules for automation.
  applications/openshift-virtualization/kubevirt-use-multi-network-policies/rule.yml
Due: none

CMP-4436: Add manual rule kubevirt-restrict-exec-access-to-pods (CIS OCP-Virt 1.11)
  applications/openshift-virtualization/kubevirt-restrict-exec-access-to-pods/rule.yml
  build-scripts/build_cel_content.py
  docs/manual/developer/13_cel_content.md
  products/ocp4/profiles/cis-vm-extension.profile
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node
