Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

Fix indentation in SRG-OS-000191-GPOS-00080 for RHEL9 STIG
  controls/stig_rhel9/SRG-OS-000191-GPOS-00080.yml
Due: none

fix grub2 remediations for sle12 ans sle15
  shared/macros-bash.jinja
  shared/templates/grub2_bootloader_argument/ansible.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update SRG-OS-000370-GPOS-00155 for RHEL9 STIG
  controls/stig_rhel9/SRG-OS-000370-GPOS-00155.yml
Due: none

Add fix text to service_fapolicyd_enabled
  linux_os/guide/services/fapolicyd/service_fapolicyd_enabled/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add fix text to package_fapolicyd_installed
  linux_os/guide/services/fapolicyd/package_fapolicyd_installed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update SRG-OS-000364-GPOS-00151 for RHEL9 STIG
  controls/stig_rhel9/SRG-OS-000364-GPOS-00151.yml
Due: none

Update test scenario to align with OVAL behavior
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_ownership_library_dirs/tests/incorrect_symlink.fail.sh
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_ownership_library_dirs/tests/incorrect_symlink.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Exclude user nfsnobody when checking home directories
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/file_permissions_home_directories/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Ansible: When 'file_regex` is set, only operate on files
  shared/templates/file_groupowner/ansible.template
  shared/templates/file_owner/ansible.template
  shared/templates/file_permissions/ansible.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Define list of excluded users to check as shared variable
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_groupownership/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_ownership/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_permissions/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/file_permissions_home_directories/oval/shared.xml
  shared/macros-oval.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Revert commit.
  products/ol8/profiles/stig.profile
Due: none

Revert changes from OL8 STIG profile that cause conflict with master.
  products/ol8/profiles/stig.profile
Due: none

Make grub2_password rule compliant for ol8
  linux_os/guide/system/bootloader-grub2/non-uefi/grub2_password/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Make grub2_password rule compliant for rhel8
  linux_os/guide/system/bootloader-grub2/non-uefi/grub2_password/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update grub2_password to use CPE
  linux_os/guide/system/bootloader-grub2/non-uefi/grub2_password/oval/shared.xml
  linux_os/guide/system/bootloader-grub2/non-uefi/grub2_password/tests/no-grub.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update value_regex variable for rhel8 in 2 rules
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_disk_error_action/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_disk_full_action/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Partially migrate rule to template
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_disk_full_action/oval/shared.xml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_disk_full_action/rule.yml
  shared/templates/auditd_lineinfile/oval.template
  shared/templates/auditd_lineinfile/template.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Partially migrate rule to template
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_disk_error_action/oval/shared.xml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_disk_error_action/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Introducce new var to auditd_lineinfile template
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_freq/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_local_events/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_log_format/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_name_format/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_write_logs/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Allow more values in auditd_name_format for rhel8
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_name_format/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Fix CCE key for sle12 with right notation
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_lsetxattr/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add rule audit_rules_dac_modification_lsetxattr to SLE12
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_lsetxattr/rule.yml
  products/sle12/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Bump Fedora version, rawhide is now 37, drop 33
  products/fedora/product.yml
Due: none

Stop using oscap xccdf resolve
  cmake/SSGCommon.cmake
Due: none

Split command line arguments of add_stig_references.py
  build-scripts/add_stig_references.py
  cmake/SSGCommon.cmake
  ssg/build_stig.py
Due: none

Do not insist on resolved Benchmarks
  build-scripts/unselect_empty_xccdf_groups.py
Due: none

Use the correct command in bash to list fingerprint of RHEL9 gpg keys.
  linux_os/guide/system/software/updating/ensure_redhat_gpgkey_installed/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Remove shared_xccdf-removeaux.xslt
  cmake/SSGCommon.cmake
  shared/transforms/shared_xccdf-removeaux.xslt
Due: none

Introduce CPE for tftp-server
  linux_os/guide/services/obsolete/tftp/tftpd_uses_secure_mode/rule.yml
  shared/applicability/general.yml
  shared/checks/oval/installed_env_has_tftp_server_package.xml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update accounts_password template OVAL for ol8
  shared/templates/accounts_password/oval.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Ensure that headers and the Requirement field for create_srg_export are correct
  utils/create_srg_export.py
Due: none

Update oval_line_in_file_state macro
  shared/macros-oval.jinja
  shared/templates/auditd_lineinfile/oval.template
  shared/templates/auditd_lineinfile/template.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update auditd_data_disk_<error/full>_action rules
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_disk_error_action/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_disk_full_action/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update grub2_uefi_password to use CPE
  linux_os/guide/system/bootloader-grub2/uefi/grub2_uefi_password/oval/shared.xml
  linux_os/guide/system/bootloader-grub2/uefi/grub2_uefi_password/tests/no-grub.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update grub2_uefi_admin_username to use CPE
  linux_os/guide/system/bootloader-grub2/uefi/grub2_uefi_admin_username/oval/shared.xml
  linux_os/guide/system/bootloader-grub2/uefi/grub2_uefi_admin_username/tests/no-grub.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Make grub2_uefi_password rule compliant for ol8
  linux_os/guide/system/bootloader-grub2/uefi/grub2_uefi_password/oval/shared.xml
  products/ol8/product.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Apply grub2_uefi_password changes to rhel8
  linux_os/guide/system/bootloader-grub2/uefi/grub2_uefi_password/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add variables for SRG-OS-000445-GPOS-00199
  controls/stig_rhel9/SRG-OS-000445-GPOS-00199.yml
Due: none

Add text to selinux_policytype to fix and OCIL for better support to
  linux_os/guide/system/selinux/selinux_policytype/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add text to selinux_state to fix and OCIL for better support to
  linux_os/guide/system/selinux/selinux_state/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate
