Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ci/prow/e2e-aws-ocp4-cis:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-cis-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-e8:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-pci-dss:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

Implemented a fix to make the compliance operator compatible with RHCOS10
  products/rhcos4/product.yml
  shared/checks/oval/installed_OS_is_rhcos4.xml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rule package_authselect_enabled to authselect component
  components/authselect.yml
  components/pam.yml
Due: none

New rule accounts_password_pam_modules_in_authselect_profile
  components/pam.yml
  linux_os/guide/system/accounts/accounts-pam/accounts_password_pam_modules_in_authselect_profile/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/accounts_password_pam_modules_in_authselect_profile/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/accounts_password_pam_modules_in_authselect_profile/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/accounts_password_pam_modules_in_authselect_profile/rule.yml
  linux_os/guide/system/accounts/accounts-pam/accounts_password_pam_modules_in_authselect_profile/tests/rhel_correct.pass.sh
  linux_os/guide/system/accounts/accounts-pam/accounts_password_pam_modules_in_authselect_profile/tests/rhel_wrong.fail.sh
  products/rhel10/controls/cis_rhel10.yml
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel10/cis.profile
  tests/data/profile_stability/rhel10/cis_server_l1.profile
  tests/data/profile_stability/rhel10/cis_workstation_l1.profile
  tests/data/profile_stability/rhel10/cis_workstation_l2.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Use command module instead of shell module
  linux_os/guide/system/accounts/accounts-pam/accounts_password_pam_modules_in_authselect_profile/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rule to other CIS profiles
  controls/cis_fedora.yml
  products/rhel8/controls/cis_rhel8.yml
  products/rhel9/controls/cis_rhel9.yml
  tests/data/profile_stability/rhel8/cis.profile
  tests/data/profile_stability/rhel8/cis_server_l1.profile
  tests/data/profile_stability/rhel8/cis_workstation_l1.profile
  tests/data/profile_stability/rhel8/cis_workstation_l2.profile
  tests/data/profile_stability/rhel9/cis.profile
  tests/data/profile_stability/rhel9/cis_server_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l2.profile
Due: none

Update the version check for rhcos4 and rhel versions
  products/rhcos4/product.yml
  shared/applicability/rhcos4-rhel10.yml
  shared/applicability/rhcos4-rhel9.yml
  shared/checks/oval/installed_OS_is_rhcos4.xml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update rule directory_permissions_var_log_audit
  linux_os/guide/auditing/auditd_configure_rules/directory_permissions_var_log_audit/ansible/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/directory_permissions_var_log_audit/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/directory_permissions_var_log_audit/oval/shared.xml
  linux_os/guide/auditing/auditd_configure_rules/directory_permissions_var_log_audit/oval/sle15.xml
  linux_os/guide/auditing/auditd_configure_rules/directory_permissions_var_log_audit/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/directory_permissions_var_log_audit/tests/common_0700.sh
  linux_os/guide/auditing/auditd_configure_rules/directory_permissions_var_log_audit/tests/correct_permissions.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/directory_permissions_var_log_audit/tests/correct_permissions_group_adm.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/directory_permissions_var_log_audit/tests/correct_permissions_group_adm_custom_path.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/directory_permissions_var_log_audit/tests/correct_permissions_group_not_set.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/directory_permissions_var_log_audit/tests/correct_permissions_group_not_set_custom_path.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/directory_permissions_var_log_audit/tests/correct_permissions_group_root.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/directory_permissions_var_log_audit/tests/correct_permissions_group_root_custom_path.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/directory_permissions_var_log_audit/tests/correct_value_0700.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/directory_permissions_var_log_audit/tests/correct_value_default_0700.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/directory_permissions_var_log_audit/tests/incorrect_permissions.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/directory_permissions_var_log_audit/tests/incorrect_permissions_group_adm.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/directory_permissions_var_log_audit/tests/incorrect_permissions_group_adm_custom_path.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/directory_permissions_var_log_audit/tests/incorrect_permissions_group_not_set.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/directory_permissions_var_log_audit/tests/incorrect_permissions_group_not_set_custom_path.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/directory_permissions_var_log_audit/tests/incorrect_permissions_group_root.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/directory_permissions_var_log_audit/tests/incorrect_permissions_group_root_custom_path.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/directory_permissions_var_log_audit/tests/incorrect_value_0700.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/directory_permissions_var_log_audit/tests/incorrect_value_default_file_0700.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix how new repositories are initialized.
  utils/ansible_playbook_to_role.py
Due: none

Invert logic of detecting the main branch in the RedHatOfficial.
  utils/ansible_playbook_to_role.py
Due: none

Add dependencies to our ansible roles meta data.
  utils/ansible_galaxy_meta_template.yml
Due: none

Change logic of updating ansible roles to galaxy.
  utils/ansible_playbook_to_role.py
Due: none

Instruct user to install specific pygithub version in ansible roles.
  utils/ansible_playbook_to_role.py
Due: none

Add CCEs
  linux_os/guide/system/accounts/accounts-pam/accounts_password_pam_modules_in_authselect_profile/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add release documentation for ansible galaxy update.
  docs/release_process.md
Due: none

Update script that fetches repo for ansible galaxy update.
  docs/release_process.md
  utils/update_ansible_galaxy_roles.py
Due: none

Update rule file_permissions_var_log_audit
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/ansible/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/oval/shared.xml
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/tests/common_0600.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/tests/correct_permissions.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/tests/correct_permissions_default.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/tests/correct_permissions_group_adm.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/tests/correct_permissions_group_not_set.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/tests/correct_permissions_group_root.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/tests/correct_value_0600.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/tests/correct_value_default_file_0600.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/tests/incorrect_permissions.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/tests/incorrect_permissions_default.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/tests/incorrect_permissions_group_adm.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/tests/incorrect_permissions_group_not_set.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/tests/incorrect_permissions_group_root.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/tests/incorrect_value_0600.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/tests/incorrect_value_default_file_0600.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix compare ds artifacts retrieval.
  .github/workflows/compare-ds.yaml
Due: none

install ATEX version 0.11 specifically
  .github/workflows/atex-test.yaml
Due: none

Move back to dhcp on RHEL 8 CIS
  products/rhel8/controls/cis_rhel8.yml
  tests/data/profile_stability/rhel8/cis.profile
  tests/data/profile_stability/rhel8/cis_server_l1.profile
  tests/data/profile_stability/rhel8/cis_workstation_l1.profile
  tests/data/profile_stability/rhel8/cis_workstation_l2.profile
Due: none

Remove empty lines in TSs
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/tests/correct_permissions_default.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/tests/correct_permissions_group_adm.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/tests/correct_permissions_group_not_set.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/tests/correct_permissions_group_root.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/tests/incorrect_permissions_default.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/tests/incorrect_permissions_group_adm.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/tests/incorrect_permissions_group_not_set.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/tests/incorrect_permissions_group_root.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add enable_authselect back to RHEL 8 CIS
  products/rhel8/controls/cis_rhel8.yml
  products/rhel8/profiles/cis.profile
  products/rhel8/profiles/cis_server_l1.profile
  products/rhel8/profiles/cis_workstation_l1.profile
  products/rhel8/profiles/cis_workstation_l2.profile
  tests/data/profile_stability/rhel8/cis.profile
  tests/data/profile_stability/rhel8/cis_server_l1.profile
  tests/data/profile_stability/rhel8/cis_workstation_l1.profile
  tests/data/profile_stability/rhel8/cis_workstation_l2.profile
Due: none

fix accounts_password_pam_unix_enabled
  linux_os/guide/system/accounts/accounts-pam/accounts_password_pam_unix_enabled/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/accounts_password_pam_unix_enabled/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/accounts_password_pam_unix_enabled/tests/correct.pass.sh
  shared/macros/10-bash.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove usage of /etc/systemd/timesyncd.d
  linux_os/guide/services/ntp/service_timesyncd_configured/ansible/shared.yml
  linux_os/guide/services/ntp/service_timesyncd_configured/bash/shared.sh
  linux_os/guide/services/ntp/service_timesyncd_configured/oval/shared.xml
  linux_os/guide/services/ntp/service_timesyncd_configured/tests/common.sh
  linux_os/guide/services/ntp/service_timesyncd_configured/tests/dropin_config.pass.sh
  linux_os/guide/services/ntp/service_timesyncd_configured/tests/missing_time.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix rules file/directory_permissions_var_log_audit
  linux_os/guide/auditing/auditd_configure_rules/directory_permissions_var_log_audit/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/ansible/shared.yml
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

fix accounts_passwords_pam_faillock_unlock_time_with_zero
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_unlock_time_with_zero/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_unlock_time_with_zero/tests/high.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_unlock_time_with_zero/tests/no_unlock_time.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix audit_rules_privileged_commands_unix_chkpwd misalignment with DISA
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_unix_chkpwd/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ignore package-removed tests to package_policycoreutils_installed rule
  linux_os/guide/system/selinux/package_policycoreutils_installed/tests/test_config.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

new line in test_config.yml and no_unlock_time.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_unlock_time_with_zero/tests/no_unlock_time.fail.sh
  linux_os/guide/system/selinux/package_policycoreutils_installed/tests/test_config.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove qlty
  .qlty/.gitignore
  .qlty/configs/.hadolint.yaml
  .qlty/configs/.shellcheckrc
  .qlty/qlty.toml
Due: none

Remove Code Climate config
  .codeclimate.yml
Due: none

Add support for RHCOS4 nodes based on RHEL8
  shared/applicability/rhcos4-rhel8.yml
  shared/checks/oval/installed_OS_is_rhcos4.xml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

fix a closed I/O stream error in run_tests_testingfarm.py
  tests/run_tests_testingfarm.py
Due: none

Fix ansible roles dependencies.
  utils/ansible_galaxy_meta_template.yml
Due: none

Fixup PR number in GitHub Action
  .github/workflows/atex-test.yaml
  .github/workflows/compare-ds.yaml
Due: none

Adjust target for ctf.yaml
  .github/workflows/ctf.yaml
Due: none

change ansible_conditional, add authselect reselect macro
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_pam_faillock_password_auth/bash/shared.sh
  shared/applicability/non-uefi.yml
  shared/macros/10-bash.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update AIDE Ansible rule's titles to follow the style guide
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_scan_notification/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

authselet reselect macro for ansible
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_pam_faillock_password_auth/ansible/shared.yml
  shared/macros/10-ansible.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

New rule accounts_password_pam_modules_in_authselect_profile
  components/pam.yml
  controls/cis_fedora.yml
  linux_os/guide/system/accounts/accounts-pam/accounts_password_pam_modules_in_authselect_profile/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/accounts_password_pam_modules_in_authselect_profile/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/accounts_password_pam_modules_in_authselect_profile/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/accounts_password_pam_modules_in_authselect_profile/rule.yml
  linux_os/guide/system/accounts/accounts-pam/accounts_password_pam_modules_in_authselect_profile/tests/rhel_correct.pass.sh
  linux_os/guide/system/accounts/accounts-pam/accounts_password_pam_modules_in_authselect_profile/tests/rhel_wrong.fail.sh
  products/rhel10/controls/cis_rhel10.yml
  products/rhel8/controls/cis_rhel8.yml
  products/rhel9/controls/cis_rhel9.yml
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel10/cis.profile
  tests/data/profile_stability/rhel10/cis_server_l1.profile
  tests/data/profile_stability/rhel10/cis_workstation_l1.profile
  tests/data/profile_stability/rhel10/cis_workstation_l2.profile
  tests/data/profile_stability/rhel8/cis.profile
  tests/data/profile_stability/rhel8/cis_server_l1.profile
  tests/data/profile_stability/rhel8/cis_workstation_l1.profile
  tests/data/profile_stability/rhel8/cis_workstation_l2.profile
  tests/data/profile_stability/rhel9/cis.profile
  tests/data/profile_stability/rhel9/cis_server_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l2.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

quote authselect command in macros
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
