Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

adapt styling
  build-scripts/generate_guides.py
Due: none

Use correct HTML element for inline code
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Ignore none as possible root dir
  build-scripts/generate_guides.py
Due: none

fix: service_timesyncd_configured
  linux_os/guide/services/ntp/service_timesyncd_configured/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

fix: better with absolute path
  linux_os/guide/services/ntp/service_timesyncd_configured/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update GitHub Artifacts Action Steps to v4
  .github/workflows/automatus-cs8.yaml
  .github/workflows/automatus-cs9.yaml
  .github/workflows/automatus-sanity.yaml
  .github/workflows/automatus-sle15.yaml
  .github/workflows/automatus.yaml
  .github/workflows/gh-pages.yaml
  .github/workflows/nightly_build.yml
  .github/workflows/srg-mapping-table.yaml
Due: none

Fix Ansible in rule ensure_redhat_gpgkey_installed
  linux_os/guide/system/software/updating/ensure_redhat_gpgkey_installed/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

We should raise NotImplementedError
  utils/generate_profile.py
Due: none

Add Windows CI
  .github/workflows/gate.yaml
Due: none

Fix README
  README.md
Due: none

Fix type hints in utils/render_all_policies.py
  utils/render_all_policies.py
Due: none

Remove unused imports from tests/unit/ssg-module/test_controls.py
  tests/unit/ssg-module/test_controls.py
Due: none

Fail load a control if the level is a string
  ssg/controls.py
  tests/unit/ssg-module/test_controls.py
Due: none

Fix levels in CIS OCP 1.4.0
  controls/cis_ocp_1_4_0/section-1.yml
  controls/cis_ocp_1_4_0/section-2.yml
  controls/cis_ocp_1_4_0/section-3.yml
  controls/cis_ocp_1_4_0/section-4.yml
  controls/cis_ocp_1_4_0/section-5.yml
Due: none

Update Install VM to use Fedora 39
  tests/install_vm.py
Due: none

Fix a duplication of the code ID 3.5.2.1
  controls/cis_sle15.yml
Due: none

Add reference title mapping
  cmake/SSGCommon.cmake
  ssg/build_yaml.py
  tests/test_reference_titles_in_benchmark.py
Due: none

fix compilation errors
  controls/std_openeuler2203.yml
  ssg/constants.py
Due: none

fix ctest fail
  linux_os/guide/system/network/network-iptables/iptables_activation/set_ipv6_loopback_traffic/rule.yml
  linux_os/guide/system/network/network-iptables/iptables_activation/set_loopback_traffic/rule.yml
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/set_iptables_default_rule/rule.yml
  linux_os/guide/system/network/network-wireless/wireless_software/wireless_disable_interfaces/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Convert tftpd_uses_secure_mode to use FQCN in Ansible
  linux_os/guide/services/obsolete/tftp/tftpd_uses_secure_mode/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add sed_separator to bash_ensure_ini_config
  shared/macros/10-bash.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rule tftpd_uses_secure_mode_systemd
  components/tftp.yml
  linux_os/guide/services/obsolete/tftp/tftpd_uses_secure_mode/rule.yml
  linux_os/guide/services/obsolete/tftp/tftpd_uses_secure_mode_systemd/ansible/shared.yml
  linux_os/guide/services/obsolete/tftp/tftpd_uses_secure_mode_systemd/bash/shared.sh
  linux_os/guide/services/obsolete/tftp/tftpd_uses_secure_mode_systemd/oval/shared.xml
  linux_os/guide/services/obsolete/tftp/tftpd_uses_secure_mode_systemd/rule.yml
  linux_os/guide/services/obsolete/tftp/tftpd_uses_secure_mode_systemd/tests/default.pass.sh
  linux_os/guide/services/obsolete/tftp/tftpd_uses_secure_mode_systemd/tests/not_there.fail.sh
  linux_os/guide/services/obsolete/tftp/tftpd_uses_secure_mode_systemd/tests/package_removed.notapplicable.sh
  linux_os/guide/services/obsolete/tftp/tftpd_uses_secure_mode_systemd/tests/there.pass.sh
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Clean up bash remedation for tftpd_uses_secure_mode
  linux_os/guide/services/obsolete/tftp/tftpd_uses_secure_mode/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add libxml2 and libxslt dev packages to Debian 10 CI
  .github/workflows/gate.yaml
Due: none

Add zlib1g-dev to debain 10 CI deps
  .github/workflows/gate.yaml
Due: none

Updates tools_and_utilities.md based on code review feedback
  docs/manual/developer/05_tools_and_utilities.md
Due: none

remove spaces for code check
  CMakeLists.txt
  products/openeuler2203/CMakeLists.txt
Due: none

Add support to disable wifi interfaces via wicked
  linux_os/guide/system/network/network-wireless/wireless_software/wireless_disable_interfaces/ansible/shared.yml
  linux_os/guide/system/network/network-wireless/wireless_software/wireless_disable_interfaces/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Consider checking for iptables service only if we don't have firewalld service enabled
  linux_os/guide/system/network/network-iptables/iptables_activation/service_iptables_enabled/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Do not check for yum on dnf systems
  components/dnf.yml
  linux_os/guide/system/software/updating/clean_components_post_updating/rule.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/rule.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_local_packages/rule.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_repo_metadata/rule.yml
  shared/applicability/package.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add function validating policy levels
  ssg/controls.py
Due: none

ensure that loaded Policy class has always list of levels
  ssg/controls.py
Due: none

fix invalid level
  controls/cis_alinux2.yml
Due: none

add tests for the function validating policy levels
  tests/unit/ssg-module/data/policy_with_different_than_implicit_default_level.yml
  tests/unit/ssg-module/data/policy_with_invalid_level.yml
  tests/unit/ssg-module/test_controls.py
Due: none

Move install_mcafee_hbss shared OVAL to the install_hids rule
  linux_os/guide/system/software/integrity/endpoint_security_software/install_hids/oval/shared.xml
  shared/checks/oval/install_mcafee_hbss.xml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Allow spaces in rule sudo_custom_logfile
  linux_os/guide/system/software/sudo/sudo_custom_logfile/rule.yml
  linux_os/guide/system/software/sudo/sudo_custom_logfile/tests/logfile_enabled_spaces.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix Code Climate problem
  ssg/constants.py
Due: none
