Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

ci/prow/e2e-aws-ocp4-cis:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-ocp4-cis-node:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-ocp4-e8:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-ocp4-moderate:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-ocp4-moderate-node:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-rhcos4-e8:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-rhcos4-moderate:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

fix an error in ubuntu version of macro
  shared/macros.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

more modifications to description and ocil
  shared/macros.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

use new jinja macros in all grub2 related rules
  linux_os/guide/system/auditing/grub2_audit_backlog_limit_argument/rule.yml
  linux_os/guide/system/bootloader-grub2/grub2_enable_iommu_force/rule.yml
  linux_os/guide/system/bootloader-grub2/grub2_init_on_alloc_argument/rule.yml
  linux_os/guide/system/bootloader-grub2/grub2_kernel_trust_cpu_rng/rule.yml
  linux_os/guide/system/bootloader-grub2/grub2_pti_argument/rule.yml
  linux_os/guide/system/bootloader-grub2/grub2_vsyscall_argument/rule.yml
  linux_os/guide/system/network/network-ipv6/disabling_ipv6/grub2_ipv6_disable_argument/rule.yml
  linux_os/guide/system/permissions/restrictions/poisoning/grub2_page_poison_argument/rule.yml
  linux_os/guide/system/permissions/restrictions/poisoning/grub2_slub_debug_argument/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update shared/macros.jinja
  shared/macros.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

use new macros in grub2_audit_argument
  linux_os/guide/system/auditing/grub2_audit_argument/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

remove warnings from rules
  linux_os/guide/system/auditing/grub2_audit_argument/rule.yml
  linux_os/guide/system/auditing/grub2_audit_backlog_limit_argument/rule.yml
  linux_os/guide/system/bootloader-grub2/grub2_pti_argument/rule.yml
  linux_os/guide/system/bootloader-grub2/grub2_vsyscall_argument/rule.yml
  linux_os/guide/system/network/network-ipv6/disabling_ipv6/grub2_ipv6_disable_argument/rule.yml
  linux_os/guide/system/permissions/restrictions/poisoning/grub2_page_poison_argument/rule.yml
  linux_os/guide/system/permissions/restrictions/poisoning/grub2_slub_debug_argument/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update RHEL-08-010385 to allow only one occurrence of config.
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/ansible/shared.yml
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/bash/shared.sh
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/oval/shared.xml
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/rule.yml
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/tests/multiple_correct_value.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add tests for sudo file and dir includes in /etc/sudoers.d
  linux_os/guide/system/software/sudo/sudoers_default_includedir/tests/sudoers.d_with_include.fail.sh
  linux_os/guide/system/software/sudo/sudoers_default_includedir/tests/sudoers.d_with_includedir.fail.sh
  linux_os/guide/system/software/sudo/sudoers_default_includedir/tests/sudoers_with_include.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update rule catch and remove other sudo includes
  linux_os/guide/system/software/sudo/sudoers_default_includedir/ansible/shared.yml
  linux_os/guide/system/software/sudo/sudoers_default_includedir/bash/shared.sh
  linux_os/guide/system/software/sudo/sudoers_default_includedir/oval/shared.xml
  linux_os/guide/system/software/sudo/sudoers_default_includedir/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add SRG to sudoers_default_includedir
  linux_os/guide/system/software/sudo/sudoers_default_includedir/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update RHEL8 STIG profile stability data
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Due: none

Extend bash_package_remove macro in SSGTS context
  shared/macros-bash.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Fix Ansible remediation metadata
  linux_os/guide/system/software/sudo/sudoers_default_includedir/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update shared/templates/firefox_lockparameter/tests/wrong_value.fail.sh
  shared/templates/firefox_lockparameter/tests/wrong_value.fail.sh
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update shared/templates/firefox_lockparameter/tests/correct_value.pass.sh
  shared/templates/firefox_lockparameter/tests/correct_value.pass.sh
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

add `prodtype: firefox` as workaround for diff system
  products/firefox/guide/firefox/firefox_preferences-cryptomining/rule.yml
Due: none

Introduce CPE for aarch64 and make package_rear_installed n/a aarch64.
  linux_os/guide/system/software/system-tools/package_rear_installed/rule.yml
  shared/applicability/arch.yml
  shared/checks/oval/proc_sys_kernel_osrelease_arch_aarch64.xml
  shared/checks/oval/proc_sys_kernel_osrelease_arch_not_aarch64.xml
  ssg/constants.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Handle case when /etc/sudoers.d doesn't exist
  linux_os/guide/system/software/sudo/sudoers_default_includedir/bash/shared.sh
  linux_os/guide/system/software/sudo/sudoers_default_includedir/tests/sudoers.d_with_include.fail.sh
  linux_os/guide/system/software/sudo/sudoers_default_includedir/tests/sudoers.d_with_includedir.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Set prodtype for all new rules
  products/firefox/guide/firefox/firefox_preferences-disable_ssl_weak_ciphers/rule.yml
  products/firefox/guide/firefox/firefox_preferences-enhanced_tracking/rule.yml
  products/firefox/guide/firefox/firefox_preferences-extension_recommendation/rule.yml
  products/firefox/guide/firefox/firefox_preferences-fingerprinting-protection/rule.yml
  products/firefox/guide/firefox/firefox_preferences-telemetry-archive/rule.yml
  products/firefox/guide/firefox/firefox_preferences-telemetry/rule.yml
Due: none

trivial: Fix minor spelling issues in OCP4 unit test docs
  docs/manual/developer/06_contributing_with_content.md
Due: none

Update the podman build command in OCP unit tests guide
  docs/manual/developer/06_contributing_with_content.md
Due: none

OCP4: add SC-6 rules under SC-6 controls
  controls/nist_ocp4.yml
Due: none

OCP: SI-7(2) Control response
  applications/openshift/general/file_integrity_notification_enabled/rule.yml
  applications/openshift/integrity/file_integrity_exists/rule.yml
  controls/nist_ocp4.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node

RHCOS: Control Response for AC-2(11)
  controls/nist_rhcos4.yml
Due: none

Add Dockerfiles for OL7 and OL8
  Dockerfiles/test_suite-ol7
  Dockerfiles/test_suite-ol8
Due: none

Set INACTIVE=035 in RHEL7 STIG profile as update of V3R6.
  products/rhel7/profiles/stig.profile
Due: none

Assign RHEL-07-010339 to sudoers_default_includedir.
  linux_os/guide/system/software/sudo/sudoers_default_includedir/rule.yml
  products/rhel7/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Improve error handling in the test suite
  tests/ssg_test_suite/common.py
  tests/ssg_test_suite/oscap.py
  tests/ssg_test_suite/rule.py
  tests/ssg_test_suite/test_env.py
Due: none

Assign RHEL-07-020029 to package_aide_installed.
  linux_os/guide/system/software/integrity/software-integrity/aide/package_aide_installed/rule.yml
  products/rhel7/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Set var_time_service_set_maxpoll to 18_hours in RHEL7 STIG profile.
  products/rhel7/profiles/stig.profile
Due: none

Group RHEL7 STIG audit rules.
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchown/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchownat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_lchown/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Group RHEL7 STIG audit rules.
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchmod/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchmodat/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Group RHEL7 STIG audit rules.
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fremovexattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fsetxattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_lremovexattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_lsetxattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_removexattr/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Group RHEL7 STIG audit rules.
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_creat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_ftruncate/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_open_by_handle_at/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_openat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_truncate/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Group RHEL7 STIG audit rules.
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_finit/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Group RHEL7 STIG audit rules.
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_rename/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_renameat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_rmdir/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_unlinkat/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Simply mask services that should be disabled
  shared/templates/service_disabled/ansible.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update applications/intro/site-local/group.yml
  applications/intro/site-local/group.yml
Due: none

Enforce rule to obtain results from only one file
  linux_os/guide/system/software/sudo/sudoers_validate_passwd/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Enforce rule to obtain results from only one file
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
