Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

Recognize all 64bit architectures in audit_rules templates
  shared/templates/audit_rules_dac_modification/ansible.template
  shared/templates/audit_rules_file_deletion_events/ansible.template
  shared/templates/audit_rules_path_syscall/ansible.template
  shared/templates/audit_rules_syscall_events/ansible.template
  shared/templates/audit_rules_unsuccessful_file_modification/ansible.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Refactor templates
  ssg/build_sce.py
  ssg/templates.py
  tests/unit/ssg-module/test_templates.py
Due: none

Refactor common.Templatable
  ssg/entities/common.py
  ssg/templates.py
Due: none

Refactor templates
  ssg/entities/common.py
  ssg/templates.py
  tests/unit/ssg-module/test_templates.py
Due: none

Refactor entities/common
  ssg/entities/common.py
Due: none

Add max_line_length parameter to .editorconfig
  .editorconfig
Due: none

Recognize all 64bit architectures in audit rules
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_create/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_finit/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_init/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_networkconfig_modification/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_time_rules/audit_rules_time_adjtimex/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_time_rules/audit_rules_time_clock_settime/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_time_rules/audit_rules_time_settimeofday/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix line length in build_sce.py
  ssg/build_sce.py
Due: none

Remove offending stigid from apple_os/auditing/service_com_apple_auditd_enabled rule
  apple_os/auditing/service_com_apple_auditd_enabled/rule.yml
Due: none

Recognize all 64bit architectures in sysctl_kernel_exec_shield rule
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_exec_shield/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update OL7 STIG id on mount_option_ rules
  linux_os/guide/system/permissions/partitions/mount_option_dev_shm_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_dev_shm_nosuid/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update grub2_password for OL7 to not check grub.cfg
  linux_os/guide/system/bootloader-grub2/non-uefi/grub2_password/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update kernel_module_disabled for OL systems
  shared/templates/kernel_module_disabled/oval.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update space_left rule in OL7 STIG to use percentage
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_space_left/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_space_left_percentage/rule.yml
  products/ol7/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Needs an automated rule to check IngressController tlsSecurityProfile
  applications/openshift/networking/ingress_controller_tls_security_profile/oval/shared.xml
  applications/openshift/networking/ingress_controller_tls_security_profile/rule.yml
  applications/openshift/networking/ingress_controller_tls_security_profile/tests/no_file.fail.sh
  applications/openshift/networking/ingress_controller_tls_security_profile/tests/ocp4/e2e.yml
  applications/openshift/networking/ingress_controller_tls_security_profile/tests/tls_security_profile.fail.sh
  applications/openshift/networking/ingress_controller_tls_security_profile/tests/tls_security_profile.pass.sh
  applications/openshift/networking/ingress_controller_tls_security_profile_custom_min_tls_version/kubernetes/shared.yml
  applications/openshift/networking/ingress_controller_tls_security_profile_custom_min_tls_version/rule.yml
  applications/openshift/networking/ingress_controller_tls_security_profile_custom_min_tls_version/tests/no_file.fail.sh
  applications/openshift/networking/ingress_controller_tls_security_profile_custom_min_tls_version/tests/ocp4/e2e.yml
  applications/openshift/networking/ingress_controller_tls_security_profile_custom_min_tls_version/tests/tls_security_profile.pass.sh
  applications/openshift/networking/ingress_controller_tls_security_profile_custom_min_tls_version/tests/tls_security_profile_custom.fail.sh
  applications/openshift/networking/ingress_controller_tls_security_profile_not_old/kubernetes/shared.yml
  applications/openshift/networking/ingress_controller_tls_security_profile_not_old/rule.yml
  applications/openshift/networking/ingress_controller_tls_security_profile_not_old/tests/no_file.fail.sh
  applications/openshift/networking/ingress_controller_tls_security_profile_not_old/tests/ocp4/e2e.yml
  applications/openshift/networking/ingress_controller_tls_security_profile_not_old/tests/tls_security_profile.pass.sh
  applications/openshift/networking/ingress_controller_tls_security_profile_not_old/tests/tls_security_profile_old.fail.sh
  controls/nist_ocp4.yml
  controls/srg_ctr/SRG-APP-000014-CTR-000040.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Map selinux_user_login_roles to RHEL-08-040400
  linux_os/guide/system/selinux/selinux_user_login_roles/rule.yml
  products/rhel8/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Sort conditional remediation platform checks.
  ssg/build_remediations.py
Due: none

Refactor OVAL for sshd_set_keepalive
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update the test scenario scripts for newer sshd versions
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/comment.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/correct_value.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/correct_value_dot_dir.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/line_not_there.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/param_conflict.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/param_conflict_directory.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/wrong_value.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/tests/wrong_value_dot_dir.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Set the proper rule for RHEL8 STIG control file
  controls/stig_rhel8.yml
Due: none

Replace fixed value by the proper variable value
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/policy/stig/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Check packages against platform_package_overrides before installing in tests
  tests/ssg_test_suite/rule.py
Due: none

Update rule tests to rely on platform_package_overrides + add needed alternatives to products
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_cert_checking/tests/commented.fail.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_cert_checking/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/smartcard_configure_cert_checking/tests/missing_ocsp.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/tests/correct_rules.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/tests/rules_not_there.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/tests/wrong_list_action.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/tests/wrong_syscall.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_finit/tests/correct_rules.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_finit/tests/default.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_init/tests/correct_rules.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_init/tests/default.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/file_group_ownership_var_log_audit/tests/correct_value.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/file_group_ownership_var_log_audit/tests/correct_value_default_file.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/file_group_ownership_var_log_audit/tests/correct_value_non-root_group.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/file_group_ownership_var_log_audit/tests/wrong_value.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/file_group_ownership_var_log_audit/tests/wrong_value_default_file.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/file_group_ownership_var_log_audit/tests/wrong_value_non-root_group.fail.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_disk_error_action/tests/wrong_value.fail.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_disk_full_action/tests/correct_and_wrong_value_multiple_possible.fail.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_disk_full_action/tests/correct_and_wrong_value_one_possible.fail.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_disk_full_action/tests/correct_value_multiple_possible.pass.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_disk_full_action/tests/correct_value_one_possible.pass.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_disk_full_action/tests/no_value.fail.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_disk_full_action/tests/wrong_value.fail.sh
  products/ol7/product.yml
  products/rhel7/product.yml
  products/ubuntu1604/product.yml
  products/ubuntu1804/product.yml
  products/ubuntu2004/product.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Provide documentation for automatic detection of platform_package_overrides in tests
  tests/README.md
Due: none

Use dry run in test-create_scap_delta_tailoring_resolved
  tests/CMakeLists.txt
Due: none

Add audit rule for create_module to OL7 STIG
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_create/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_create/tests/default.fail.sh
  products/ol7/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Apply suggestions from code review
  docs/README.md
Due: none

Fix typo.
  linux_os/guide/services/ssh/ssh_server/sshd_set_keepalive/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rule to set ipv4 tcp_invalid_ratelimit in OL7
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/configure_firewalld_rate_limiting/rule.yml
  products/ol7/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add package_firewalld_installed to OL7 STIG
  linux_os/guide/system/network/network-firewalld/firewalld_activation/package_firewalld_installed/rule.yml
  products/ol7/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

CPE AL: Introduce templated platforms (CPEs)
  shared/applicability/package.yml
  shared/templates/cond_package/oval.template
  shared/templates/cond_package/template.yml
  ssg/build_cpe.py
  ssg/build_yaml.py
  ssg/templates.py
  tests/unit/ssg-module/data/package_ntp.yml
  tests/unit/ssg-module/test_build_yaml.py
  tests/unit/ssg-module/test_templates.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Extend Ansible remediation to avoid fatal errors
  linux_os/guide/system/selinux/grub2_enable_selinux/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Ensure style guide alignment in OVAL
  linux_os/guide/system/selinux/grub2_enable_selinux/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Improve test scenario scripts in alignment to OVAL
  linux_os/guide/system/selinux/grub2_enable_selinux/tests/selinux_disabled_default_grub.fail.sh
  linux_os/guide/system/selinux/grub2_enable_selinux/tests/selinux_disabled_default_grub_missing.pass.sh
  linux_os/guide/system/selinux/grub2_enable_selinux/tests/selinux_disabled_everywhere.fail.sh
  linux_os/guide/system/selinux/grub2_enable_selinux/tests/selinux_disabled_grub_cfg.fail.sh
  linux_os/guide/system/selinux/grub2_enable_selinux/tests/selinux_disabled_grub_d.fail.sh
  linux_os/guide/system/selinux/grub2_enable_selinux/tests/selinux_enable_similar_line.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate
