Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

Include small function to order output list
  utils/controleval.py
Due: none

Sort the list of ids in json output
  utils/controleval.py
Due: none

Added CCE number for SLES_15 in the rule sshd_use_approved_ciphers
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers/bash/shared.sh
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Added SLES 15 CCE and STIG ID code to the rule
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Added 4 SLES 15/12 codes to the rules group_unique_id/name
  linux_os/guide/system/accounts/accounts-restrictions/group_unique_id/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/group_unique_name/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove Travis CI
  .travis.yml
Due: none

Add rpm_verify_permissions and rpm_verify_hashes rules sle12 support
  linux_os/guide/system/software/integrity/software-integrity/rpm_verification/rpm_verify_hashes/ansible/shared.yml
  linux_os/guide/system/software/integrity/software-integrity/rpm_verification/rpm_verify_hashes/bash/shared.sh
  linux_os/guide/system/software/integrity/software-integrity/rpm_verification/rpm_verify_hashes/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/rpm_verification/rpm_verify_permissions/bash/shared.sh
  linux_os/guide/system/software/integrity/software-integrity/rpm_verification/rpm_verify_permissions/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix CCE ids
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_unlink/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_max_log_file_action/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

OCP: change default kubelet tlscipher
  applications/openshift/kubelet/kubelet_configure_tls_cipher_suites/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_cipher_suites/tests/ocp4/e2e.yml
  applications/openshift/kubelet/kubelet_configure_tls_cipher_suites_master/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_cipher_suites_worker/rule.yml
  applications/openshift/kubelet/var_kubelet_tls_cipher_suites.var
  applications/openshift/kubelet/var_kubelet_tls_cipher_suites_regex.var
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Remove definition_location paths
  tests/unit/ssg-module/data/accounts_tmout.yml
  tests/unit/ssg-module/data/ospp.profile
  tests/unit/ssg-module/data/selinux.yml
  tests/unit/ssg-module/data/var_system_crypto_policy.yml
Due: none

Remove comparison utilities
  shared/transforms/xccdf-get-only-ovals-sorted.xslt
  shared/transforms/xccdf-get-only-remediations-sorted.xslt
  tests/python2_vs_python3_sanity.sh
  utils/compare_generated.sh
  utils/compare_remediations.sh
Due: none

Add unit tests for CPEAL when conditionals are empty.
  tests/unit/ssg-module/data/applicability/general.yml
  tests/unit/ssg-module/test_build_yaml.py
Due: none

Use negative condition and continue
  ssg/build_ovals.py
Due: none

Use a negative condition and a continue
  ssg/build_ovals.py
Due: none

Extract variable oval_file_path
  ssg/build_ovals.py
Due: none

Do not process checks from templates by Jinja
  ssg/build_ovals.py
Due: none

Ignore the not found errors in rsyslog_remote_tls
  linux_os/guide/system/logging/rsyslog_sending_messages/rsyslog_remote_tls/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix the total used to calculate general stats
  utils/controleval.py
Due: none

Include the status tag in SRG-OS-000163-GPOS-00072
  controls/srg_gpos/SRG-OS-000163-GPOS-00072.yml
Due: none

root_permissions_syslibrary_files: Re-add file_regex otherwise
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/root_permissions_syslibrary_files/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add tests to sebool template
  linux_os/guide/system/selinux/selinux-booleans/sebool_secure_mode_policyload/tests/test_config.yml
  shared/templates/sebool/template.py
  shared/templates/sebool/tests/correct_value.pass.sh
  shared/templates/sebool/tests/wrong_value.fail.sh
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix config file and interpreter check control flow
  shared/templates/firefox_policy-setting/bash.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

renamed ocp_secure_allowed_registries_for_import rule
  applications/openshift/registry/ocp_insecure_allowed_registries_for_import/rule.yml
  applications/openshift/registry/ocp_insecure_allowed_registries_for_import/tests/correct.pass.sh
  applications/openshift/registry/ocp_insecure_allowed_registries_for_import/tests/no_file.fail.sh
  applications/openshift/registry/ocp_insecure_allowed_registries_for_import/tests/ocp4/e2e.yml
  applications/openshift/registry/ocp_insecure_allowed_registries_for_import/tests/registries.fail.sh
  applications/openshift/registry/ocp_insecure_registries/rule.yml
  controls/nist_ocp4.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

6 SLES 12/15 CCE codes related to coredumps
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_backtraces/rule.yml
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_storage/rule.yml
  linux_os/guide/system/permissions/restrictions/coredumps/disable_users_coredumps/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Revert "6 SLES 12/15 CCE codes related to coredumps"
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_backtraces/rule.yml
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_storage/rule.yml
  linux_os/guide/system/permissions/restrictions/coredumps/disable_users_coredumps/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Assigned 6 SLES 12/15 CCE codes to rules related to coredumps
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_backtraces/rule.yml
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_storage/rule.yml
  linux_os/guide/system/permissions/restrictions/coredumps/disable_users_coredumps/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Refactor DISA content diff functions.
  ssg/content_diff.py
Due: none

Add tests to rule
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_idle_activation_enabled/tests/comment.fail.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_idle_activation_enabled/tests/correct_value.pass.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_idle_activation_enabled/tests/missing_lock.fail.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_idle_activation_enabled/tests/setting_not_there.fail.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_idle_activation_enabled/tests/wrong_value.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix OL documentation links
  linux_os/guide/services/ldap/openldap_client/group.yml
  linux_os/guide/services/ntp/group.yml
  linux_os/guide/services/sssd/group.yml
  linux_os/guide/system/selinux/group.yml
  linux_os/guide/system/software/disk_partitioning/encrypt_partitions/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix links in tests/README.md
  tests/README.md
Due: none

Allow linking to headers
  docs/conf.py
Due: none

Update docs about SCAP 1.2 content.
  docs/manual/developer/02_building_complianceascode.md
Due: none

Remove docs for utils scripts that have been moved
  docs/manual/developer/05_tools_and_utilities.md
  docs/manual/developer/06_contributing_with_content.md
  docs/modules/utils.rst
Due: none

Update links to documents for myst
  docs/manual/developer/02_building_complianceascode.md
  docs/manual/developer/03_creating_content.md
  docs/manual/developer/04_style_guide.md
  docs/manual/developer/06_contributing_with_content.md
Due: none

Rename pcidss 3.2.1 to pcidss 3
  controls/pcidss_3.yml
  products/sle12/profiles/pci-dss.profile
  products/sle15/profiles/pci-dss.profile
Due: none

Fix syntax errors in control format
  controls/pcidss_321.yml
Due: none

Fix missing CCEs for PCI-DSS
  linux_os/guide/services/ntp/ntpd_specify_multiple_servers/rule.yml
  linux_os/guide/services/ntp/ntpd_specify_remote_server/rule.yml
  linux_os/guide/services/ntp/package_ntp_installed/rule.yml
  linux_os/guide/services/ntp/service_ntp_enabled/rule.yml
  linux_os/guide/services/ntp/service_ntpd_enabled/rule.yml
  linux_os/guide/services/ntp/service_timesyncd_enabled/rule.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_commonauth/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/service_pcscd_enabled/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_login_events/audit_rules_login_events/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_login_events/audit_rules_login_events_faillock/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_usergroup_modification/rule.yml
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_data_retention_max_log_file_action_stig/rule.yml
  linux_os/guide/system/network/network-ipsec/package_libreswan_installed/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_passwd/rule.yml
  linux_os/guide/system/software/integrity/disable_prelink/rule.yml
  linux_os/guide/system/software/integrity/endpoint_security_software/mcafee_security_software/mcafee_hbss_software/package_MFEhiplsm_installed/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/rpm_verification/rpm_verify_ownership/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add PCI-DSS control for v.3.2.1 and SLE profiles to include it
  controls/pcidss_321.yml
  products/sle12/profiles/pci-dss.profile
  products/sle15/profiles/pci-dss.profile
Due: none

Update products/sle12/profiles/pci-dss.profile
  products/sle12/profiles/pci-dss.profile
Due: none
