Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

Remove unused data definitions
  shared/templates/platform_service_disabled/template.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Enable dconf gdm/user profiles in Ubuntu profiles
  products/ubuntu2004/profiles/stig.profile
  products/ubuntu2204/profiles/cis_level1_server.profile
Due: none

CMP-2455: Requirement 3.3 is not applicable
  controls/pcidss_4_ocp4.yml
Due: none

Add rule file_groupowner_journalctl
  components/systemd.yml
  linux_os/guide/system/logging/journald/file_groupowner_journalctl/rule.yml
  products/ubuntu2204/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add new rules package_ntp_removed, package_timesyncd_removed
  components/ntp.yml
  components/systemd.yml
  linux_os/guide/services/ntp/package_ntp_removed/rule.yml
  linux_os/guide/services/ntp/package_timesyncd_removed/rule.yml
  products/ubuntu2204/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

CMP-2455: Requirement 3.4 is not applicable
  controls/pcidss_4_ocp4.yml
Due: none

CMP-2455: Requirement 3.5 is partially applicable
  controls/pcidss_4_ocp4.yml
Due: none

CMP-2455: Requirement 3.6 is inherently met
  controls/pcidss_4_ocp4.yml
Due: none

CMP-2455: Requirement 3.7 is not applicable
  controls/pcidss_4_ocp4.yml
Due: none

Include test scenario for multiple partitions
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/tests/augenrules_rules_multiple_partitions.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rule file_permissions_journalctl
  components/systemd.yml
  linux_os/guide/system/logging/journald/file_permissions_journalctl/rule.yml
  products/ubuntu2204/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix tests for sssd_offline_cred_expiration for Ubuntu
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/tests/cache_credentials_false.pass.sh
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/tests/comment.fail.sh
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/tests/common.sh
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/tests/correct_value.pass.sh
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/tests/correct_value_conf_d.pass.sh
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/tests/correct_value_dropin.pass.sh
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/tests/wrong_section.fail.sh
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/tests/wrong_value.fail.sh
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/tests/wrong_value_conf_d.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

CMP-2455: Adjust text and typos
  controls/pcidss_4_ocp4.yml
Due: none

Modify rule file_groupowner_system_journal
  linux_os/guide/system/logging/journald/file_groupowner_system_journal/rule.yml
  products/ubuntu2204/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

make Ansible remediation of zipl_bootmap_is_up_to_date available in all products
  linux_os/guide/system/bootloader-zipl/zipl_bootmap_is_up_to_date/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

OCP Update variable filter to consider go_template
  build-scripts/build_xccdf.py
Due: none

Modify rule file_owner_system_journal
  linux_os/guide/system/logging/journald/file_owner_system_journal/rule.yml
  products/ubuntu2204/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Recollect facts in mount_option_nodev_nonroot_local_partitions
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix accounts_umask_etc_bashrc
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/tests/wrong_and_mangled_and_not_at_the_begining_of_line.fail.sh
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/tests/wrong_and_not_at_the_begining_of_line.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix rule dconf_gnome_banner_enabled on Ubuntu
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_banner_enabled/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix ubuntu tests for dconf_gnome_banner_enabled
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_banner_enabled/tests/commented.fail.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_banner_enabled/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_banner_enabled/tests/empty.fail.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_banner_enabled/tests/wrong_value.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Prioritize chronyd_specify_remote_server
  ssg/build_yaml.py
Due: none

Update products stability data
  tests/data/product_stability/alinux2.yml
  tests/data/product_stability/alinux3.yml
  tests/data/product_stability/anolis23.yml
  tests/data/product_stability/anolis8.yml
  tests/data/product_stability/chromium.yml
  tests/data/product_stability/debian10.yml
  tests/data/product_stability/debian11.yml
  tests/data/product_stability/debian12.yml
  tests/data/product_stability/eks.yml
  tests/data/product_stability/example.yml
  tests/data/product_stability/fedora.yml
  tests/data/product_stability/firefox.yml
  tests/data/product_stability/macos1015.yml
  tests/data/product_stability/ocp4.yml
  tests/data/product_stability/ol7.yml
  tests/data/product_stability/ol8.yml
  tests/data/product_stability/ol9.yml
  tests/data/product_stability/openembedded.yml
  tests/data/product_stability/opensuse.yml
  tests/data/product_stability/rhcos4.yml
  tests/data/product_stability/rhel7.yml
  tests/data/product_stability/rhel8.yml
  tests/data/product_stability/rhel9.yml
  tests/data/product_stability/rhv4.yml
  tests/data/product_stability/sle12.yml
  tests/data/product_stability/sle15.yml
  tests/data/product_stability/ubuntu1604.yml
  tests/data/product_stability/ubuntu1804.yml
  tests/data/product_stability/ubuntu2004.yml
  tests/data/product_stability/ubuntu2204.yml
  tests/data/product_stability/uos20.yml
Due: none

Add new test scenarios
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/tests/chrony_d_one_pool_misconfigured.fail.sh
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/tests/chrony_d_one_server_misconfigured.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix HTML tags in rule description
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Define path for chrony.d configuration directory
  products/debian10/product.yml
  products/ubuntu1604/product.yml
  products/ubuntu1804/product.yml
  products/ubuntu2004/product.yml
  products/ubuntu2204/product.yml
  ssg/constants.py
  ssg/products.py
Due: none

Fix Ansible in chronyd_or_ntpd_set_maxpoll
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rule file_permissions_etc_audit_rules
  components/audit.yml
  components/filesystem.yml
  linux_os/guide/system/permissions/files/file_permissions_etc_audit_rules/rule.yml
  linux_os/guide/system/permissions/files/file_permissions_etc_audit_rules/tests/lenient_permissions.fail.sh
  linux_os/guide/system/permissions/files/file_permissions_etc_audit_rules/tests/stricter_permissions.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rule file_permissions_etc_audit_rules to Ubuntu 22.04 STIG profile
  products/ubuntu2204/profiles/stig.profile
Due: none

Fix typos in notes for ocp4 controls
  controls/nist_ocp4.yml
Due: none

Minor fixes only related to style
  shared/templates/service_disabled/ansible.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Similar style fixes also for service_enabled
  shared/templates/service_enabled/ansible.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Support all boolean values in dnf.conf
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Include test scenarios for boolean values
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/tests/correct_value_true.pass.sh
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/tests/correct_value_yes.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Minor updates regarding extra spaces
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/tests/correct_value.pass.sh
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/tests/line_not_there.fail.sh
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/tests/wrong_value.fail.sh
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/tests/wrong_value_false.fail.sh
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/tests/wrong_value_no.fail.sh
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/tests/wrong_value_off.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add new rule file_permissions_var_log_audit_stig
  components/audit.yml
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit_stig/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit_stig/oval/shared.xml
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit_stig/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit_stig/tests/common.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit_stig/tests/correct_value.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit_stig/tests/correct_value_default_file.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit_stig/tests/incorrect_value.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit_stig/tests/incorrect_value2.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit_stig/tests/incorrect_value_default_file.fail.sh
  products/ubuntu2204/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove STIG ID from unused rule
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_var_log_audit/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update shared/templates/service_disabled/ansible.template
  shared/templates/service_disabled/ansible.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add missing rule package_pam_pwquality to Ubuntu 22.04 CIS profile
  linux_os/guide/system/accounts/accounts-pam/package_pam_pwquality_installed/rule.yml
  products/ubuntu2204/profiles/cis_level1_server.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Disable check for 'auditd_audispd_configure_sufficiently_large_partition' on Ubuntu 22.04
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_configure_sufficiently_large_partition/oval/shared.xml
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_audispd_configure_sufficiently_large_partition/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate
