Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

deduplicate code which retrieves remediation conditionals
  ssg/build_cpe.py
  ssg/constants.py
Due: none

change parameters of build scripts
  build-scripts/collect_remediations.py
  cmake/SSGCommon.cmake
Due: none

reflect changes in API in build_derivatives.py
  ssg/build_derivatives.py
Due: none

adopt new structure also for product CPE item definitions
  products/chromium/product.yml
  products/debian10/product.yml
  products/debian11/product.yml
  products/eks/product.yml
  products/example/product.yml
  products/fedora/product.yml
  products/firefox/product.yml
  products/macos1015/product.yml
  products/ocp4/product.yml
  products/ol7/product.yml
  products/ol8/product.yml
  products/ol9/product.yml
  products/opensuse/product.yml
  products/rhcos4/product.yml
  products/rhel7/product.yml
  products/rhel8/product.yml
  products/rhel9/product.yml
  products/rhv4/product.yml
  products/sle12/product.yml
  products/sle15/product.yml
  products/ubuntu1604/product.yml
  products/ubuntu1804/product.yml
  products/ubuntu2004/product.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add new parametrized CPE item which checks for Linux release
  shared/applicability/os_linux.yml
  shared/templates/cond_os_release/ansible.template
  shared/templates/cond_os_release/bash.template
  shared/templates/cond_os_release/oval.template
  shared/templates/cond_os_release/template.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

change the way how CPE platforms are loaded
  ssg/build_cpe.py
  ssg/build_yaml.py
Due: none

fix a typo in Jinja macro which prevented generation of some conditionals
  shared/templates/cond_package/ansible.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

exception was raised in a wrong way, fixed it
  ssg/templates.py
Due: none

deduplicate code for getting conditionals from rules
  ssg/build_remediations.py
Due: none

extract a method for getting stripped remediation conditionals
  ssg/build_remediations.py
Due: none

if there are no bash conditionals for CPE item, do not create empty braces
  ssg/build_cpe.py
Due: none

remove forgotten fake Bash conditional
  ssg/build_remediations.py
Due: none

move definition of namedtuple for remediation object into common data structures
  ssg/build_cpe.py
  ssg/build_remediations.py
  ssg/entities/common.py
Due: none

Align bash dconf macros with corresponding OVAL
  shared/macros/10-bash.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update tests in dconf related rules
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_banner_enabled/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_banner_enabled/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_banner_enabled/tests/wrong_value.fail.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_login_banner_text/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_login_banner_text/tests/correct_value_stig_wrong_db.fail.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_login_banner_text/tests/wrapped_banner.fail.sh
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_login_banner_text/tests/wrong_value.fail.sh
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_disable_restart_shutdown/tests/correct_value.pass.sh
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_disable_restart_shutdown/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_disable_restart_shutdown/tests/wrong_value.fail.sh
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_disable_user_list/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_enable_smartcard_auth/tests/correct_value.pass.sh
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_enable_smartcard_auth/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_enable_smartcard_auth/tests/wrong_value.fail.sh
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_login_retries/tests/correct_value.pass.sh
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_login_retries/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_login_retries/tests/wrong_value.fail.sh
  linux_os/guide/system/software/gnome/gnome_media_settings/dconf_gnome_disable_automount/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_media_settings/dconf_gnome_disable_automount_open/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_media_settings/dconf_gnome_disable_autorun/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_idle_activation_locked/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_idle_delay/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_lock_delay/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_lock_enabled/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_lock_locked/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_mode_blank/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_user_locks/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_session_idle_user_locks/tests/correct_value_wrong_db.fail.sh
  linux_os/guide/system/software/gnome/gnome_system_settings/dconf_gnome_disable_ctrlaltdel_reboot/tests/correct_value_wrong_db.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

OCP4 update rule general-default-seccomp-profile
  applications/openshift/general/general_default_seccomp_profile/rule.yml
  products/ocp4/profiles/cis.profile
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Extract non-building functions from Builder()
  ssg/templates.py
  tests/ssg_test_suite/common.py
Due: none

Rename and align extracted functions
  tests/ssg_test_suite/common.py
Due: none

Remove Builder() from RuleChecker()
  tests/ssg_test_suite/common.py
  tests/ssg_test_suite/rule.py
Due: none

Updates according to DISA updates published on 21.10.2022
  linux_os/guide/services/ssh/ssh_server/sshd_print_last_log/rule.yml
  linux_os/guide/system/accounts/accounts-pam/display_login_attempts/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

CCI -> CCE in srg_diff
  utils/srg_diff.py
Due: none

Define more strings ssg test suite constants
  tests/ssg_test_suite/common.py
  tests/ssg_test_suite/rule.py
Due: none

Load and preprocess the template individually
  tests/ssg_test_suite/common.py
Due: none

OCP4: Add more test manifests
  applications/openshift/accounts/accounts_restrict_service_account_tokens/tests/ocp4/e2e.yml
  applications/openshift/api-server/api_server_oauth_https_serving_cert/tests/ocp4/e2e.yml
  applications/openshift/api-server/api_server_openshift_https_serving_cert/tests/ocp4/e2e.yml
  applications/openshift/authentication/ocp_idp_no_htpasswd/tests/ocp4/e2e.yml
  applications/openshift/general/general_apply_scc/tests/ocp4/e2e.yml
  applications/openshift/general/general_configure_imagepolicywebhook/tests/ocp4/e2e.yml
  applications/openshift/general/general_default_namespace_use/tests/ocp4/e2e.yml
  applications/openshift/general/general_default_seccomp_profile/tests/ocp4/e2e.yml
  applications/openshift/general/general_namespaces_in_use/tests/ocp4/e2e.yml
  applications/openshift/general/kubeadmin_removed/tests/ocp4/e2e.yml
  applications/openshift/logging/audit_profile_set/tests/ocp4/e2e.yml
  applications/openshift/rbac/rbac_limit_cluster_admin/tests/ocp4/e2e.yml
  applications/openshift/rbac/rbac_limit_secrets_access/tests/ocp4/e2e.yml
  applications/openshift/rbac/rbac_pod_creation_access/tests/ocp4/e2e.yml
  applications/openshift/rbac/rbac_wildcard_use/tests/ocp4/e2e.yml
  applications/openshift/registry/ocp_allowed_registries/tests/ocp4/e2e.yml
  applications/openshift/registry/ocp_allowed_registries_for_import/tests/ocp4/e2e.yml
  applications/openshift/secrets/secrets_consider_external_storage/tests/ocp4/e2e.yml
  applications/openshift/secrets/secrets_no_environment_variables/tests/ocp4/e2e.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

OCP4: lowercase several rules
  applications/openshift/api-server/api_server_admission_control_plugin_alwaysadmit/rule.yml
  applications/openshift/api-server/api_server_admission_control_plugin_alwaysadmit/tests/ocp4/e2e.yml
  applications/openshift/api-server/api_server_admission_control_plugin_alwayspullimages/rule.yml
  applications/openshift/api-server/api_server_admission_control_plugin_alwayspullimages/tests/ocp4/e2e.yml
  applications/openshift/api-server/api_server_admission_control_plugin_namespacelifecycle/rule.yml
  applications/openshift/api-server/api_server_admission_control_plugin_namespacelifecycle/tests/ocp4/e2e.yml
  applications/openshift/api-server/api_server_admission_control_plugin_noderestriction/rule.yml
  applications/openshift/api-server/api_server_admission_control_plugin_noderestriction/tests/ocp4/e2e.yml
  applications/openshift/api-server/api_server_admission_control_plugin_scc/rule.yml
  applications/openshift/api-server/api_server_admission_control_plugin_scc/tests/ocp4/e2e.yml
  applications/openshift/api-server/api_server_admission_control_plugin_securitycontextdeny/rule.yml
  applications/openshift/api-server/api_server_admission_control_plugin_securitycontextdeny/tests/ocp4/e2e.yml
  applications/openshift/api-server/api_server_admission_control_plugin_service_account/rule.yml
  applications/openshift/api-server/api_server_admission_control_plugin_service_account/tests/ocp4/e2e.yml
  applications/openshift/logging/audit_profile_set/tests/ocp4/e2e.yml
  controls/nist_ocp4.yml
  controls/srg_ctr/SRG-APP-000516-CTR-001325.yml
  controls/srg_ctr/SRG-APP-000516-CTR-001330.yml
  controls/srg_ctr/SRG-APP-000516-CTR-001335.yml
  products/ocp4/profiles/cis.profile
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Consider the last field the log file path
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add test cases identical to the cloudinit conf
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/include_perms_0600_cloudinit.pass.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/tests/include_perms_0601_cloudinit.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

OCP4 update rule general-default-seccomp-profile
  applications/openshift/general/general_apply_scc/rule.yml
  applications/openshift/general/general_default_namespace_use/rule.yml
  applications/openshift/general/general_default_seccomp_profile/rule.yml
  applications/openshift/general/general_namespaces_in_use/rule.yml
  products/ocp4/profiles/cis.profile
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Added multi-arch support for content image
  .github/workflows/multi-arch_content_release-latest.yml
  .github/workflows/multi-arch_content_release.yml
Due: none

Add CIS and ANSSI machine hardening tests for TF
  tests/fmf-plans/anssi.fmf
  tests/fmf-plans/cis.fmf
Due: none

Add shadow rule to pci-dss-4
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/ensure_shadow_group_empty/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/ensure_shadow_group_empty/rule.yml
  products/sle15/profiles/pci-dss-4.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add new rule ensure_shadow_group_empty
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/ensure_shadow_group_empty/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove cces and fix bash
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/ensure_shadow_group_empty/bash/shared.sh
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add section to SRG Diff to highlight missing CCEs
  utils/srg_diff.html
  utils/srg_diff.py
Due: none

Remove text
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/ensure_shadow_group_empty/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix Automatus --duplicate-templates
  tests/ssg_test_suite/rule.py
Due: none

OCP4: improve rule scc_limit_container_allowed_capabilities instruction
  applications/openshift/scc/scc_limit_container_allowed_capabilities/rule.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Make the utils/srg_diff.py more generic
  docs/manual/developer/05_tools_and_utilities.md
  utils/srg_diff.html
  utils/srg_diff.py
Due: none

Add loopback rules
  linux_os/guide/system/network/network-iptables/iptables_activation/set_ipv6_loopback_traffic/bash/shared.sh
  linux_os/guide/system/network/network-iptables/iptables_activation/set_ipv6_loopback_traffic/rule.yml
  products/sle15/profiles/pci-dss-4.profile
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate
