Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

Update import SRG to use policy specific content fields
  utils/import_srg_spreadsheet.py
Due: none

Add docs for mypy
  docs/manual/developer/02_building_complianceascode.md
Due: none

Add python3-mypy to CI dependencies
  .github/workflows/gate.yaml
Due: none

Add content testing docs
  docs/manual/developer/08_content_tests.md
  docs/manual/developer/09_legacy_notice.md
Due: none

Fix case where get_policy_specific_content may return None vs empty string
  utils/create_srg_export.py
Due: none

Add profile for SUSE SAP Public Cloud Images
  products/sle15/profiles/pcs-hardening-sap.profile
Due: none

Unselect configure_gnutls_tls_crypto_policy in RHEL9 STIG.
  controls/srg_gpos/SRG-OS-000250-GPOS-00093.yml
  controls/srg_gpos/SRG-OS-000423-GPOS-00187.yml
Due: none

Fix create_output args in utils/import_srg_spreadsheet.py
  utils/import_srg_spreadsheet.py
Due: none

Change to use extend and remove logic
  products/sle15/profiles/pcs-hardening-sap.profile
Due: none

Fix Markdown issues in 02_building_complianceascode.md
  docs/manual/developer/02_building_complianceascode.md
Due: none

Add mount_option_boot_efi_nosuid to RHEL8 STIG profile.
  products/rhel8/profiles/stig.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Due: none

Fix bash conditional for and add ansible cond for container CPE.
  shared/applicability/virtualization.yml
Due: none

Make rule applicable only to uefi systems mount_option_boot_efi_nosuid.
  linux_os/guide/system/permissions/partitions/mount_option_boot_efi_nosuid/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add custom bash/ansible conditionals for UEFI/non-UEFI CPE checks.
  shared/applicability/firmware.yml
  tests/unit/ssg-module/test_playbook_builder_data/applicability/firmware.yml
Due: none

Unselect rules that remove GUI from RHEL9 stig_gui
  products/rhel9/profiles/stig_gui.profile
Due: none

Update documentation after shorthand removal
  docs/manual/developer/07_understanding_build_system.md
Due: none

Remove mentions of "shorthand" from CMake
  cmake/SSGCommon.cmake
Due: none

OCP4: Add 4.12-specific test manifests
  applications/openshift/api-server/api_server_api_priority_v1beta1_flowschema_catch_all/tests/ocp4/4.12.yml
  applications/openshift/api-server/api_server_api_priority_v1beta2_flowschema_catch_all/rule.yml
  applications/openshift/api-server/api_server_api_priority_v1beta2_flowschema_catch_all/tests/ocp4/4.12.yml
  applications/openshift/api-server/api_server_insecure_port/tests/ocp4/4.12.yml
  applications/openshift/api-server/api_server_kubelet_client_cert/rule.yml
  applications/openshift/api-server/api_server_kubelet_client_cert/tests/ocp4/4.12.yml
  applications/openshift/api-server/api_server_kubelet_client_key/rule.yml
  applications/openshift/api-server/api_server_kubelet_client_key/tests/ocp4/4.12.yml
  applications/openshift/kubelet/kubelet_configure_tls_cert/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_cert/tests/ocp4/4.12.yml
  applications/openshift/kubelet/kubelet_configure_tls_key/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_key/tests/ocp4/4.12.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Add gitmailmap
  .mailmap
Due: none

Added gitmailmap validation job
  .github/workflows/gate.yaml
Due: none

Update contributors.py based on new mailmap
  ssg/contributors.py
Due: none

Fix unit tests for contributors
  tests/unit/utils/test_generate_contributors.py
Due: none

Use variable to remediate rule
  linux_os/guide/services/sssd/sssd_certificate_verification/ansible/shared.yml
  linux_os/guide/services/sssd/sssd_certificate_verification/tests/wrong_value_not_default.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove RPM verify rules from RHEL 9 STIG
  controls/srg_gpos/SRG-OS-000278-GPOS-00108.yml
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
Due: none

xwindows_remove_packages: update srg_requirement based on RHEL9 STIG
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_remove_packages/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

xwindows_runlevel_target: update ocil and fixtext wrt RHEL9 STIG
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_runlevel_target/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix var_auditd_max_log_file_action for RHEL 9 STIG
  controls/srg_gpos/SRG-OS-000047-GPOS-00023.yml
Due: none

Update the docs to use `'` vs `’`
  docs/manual/developer/01_introduction.md
  docs/manual/developer/03_creating_content.md
  docs/manual/developer/06_contributing_with_content.md
Due: none

Style guide clean up
  docs/manual/developer/04_style_guide.md
Due: none

OCP4: Fix OCIL of machine_volume_encrypted
  applications/openshift/integrity/crypto/machine_volume_encrypted/rule.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Re add the rule to RHEL9 data stream
  linux_os/guide/system/network/network-uncommon/kernel_module_dccp_disabled/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Bump version to 0.1.65
  CMakeLists.txt
Due: none

Update contributors for 0.1.64 release
  Contributors.md
  Contributors.xml
Due: none

wireless_disable_interfaces: updated ocil and fixtext wrt RHEL9 STIG
  linux_os/guide/system/network/network-wireless/wireless_software/wireless_disable_interfaces/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

use_pam_wheel_for_su: update fixtext, srg_requirement and add vuldiscussion (RHEL9 STIG)
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/use_pam_wheel_for_su/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

tftpd_uses_secure_mode: update rule wrt RHEL9 STIG
  linux_os/guide/services/obsolete/tftp/tftpd_uses_secure_mode/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

usbguard_generate_policy: update ocil and fixtext wrt RHEL9 STIG
  linux_os/guide/services/usbguard/usbguard_generate_policy/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate
