Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

Make sure the directory for the compare ds exists.
  .github/workflows/compare-ds.yaml
Due: none

Move to nproc over hard coded 2 to ensure we are fully using CI boxes.
  .github/workflows/gate-lint-ansible-roles.yaml
  .github/workflows/gate.yaml
  .github/workflows/gate_fedora.yml
  .github/workflows/gh-pages.yaml
  .github/workflows/nightly_build.yml
  .github/workflows/release.yaml
  .github/workflows/srg-mapping-table.yaml
  .github/workflows/stabilize.yaml
Due: none

Add default for undefined variables to false
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add paren in when clause for clarity
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

rhel9: modify kickstarts
  products/rhel9/kickstart/ssg-rhel9-anssi_bp28_enhanced-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-anssi_bp28_high-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-anssi_bp28_intermediary-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-bsi-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-ccn_advanced-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-ccn_basic-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-ccn_intermediate-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis_server_l1-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis_workstation_l1-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis_workstation_l2-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cui-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-ospp-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-pci-dss-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-stig-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-stig_gui-ks.cfg
Due: none

rhel8: align kickstart mount options with rules in profiles
  products/rhel8/kickstart/ssg-rhel8-anssi_bp28_enhanced-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-anssi_bp28_high-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-anssi_bp28_intermediary-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-cis-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-cis_server_l1-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-cis_workstation_l1-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-cis_workstation_l2-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-cui-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-ospp-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-stig-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-stig_gui-ks.cfg
Due: none

rhel9: align kickstarts with rules in the profile regarding mount options
  products/rhel9/kickstart/ssg-rhel9-anssi_bp28_enhanced-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-anssi_bp28_high-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-anssi_bp28_intermediary-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-ccn_advanced-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-ccn_basic-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-ccn_intermediate-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis_server_l1-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis_workstation_l1-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-cis_workstation_l2-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-stig-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-stig_gui-ks.cfg
Due: none

rhel8: update kickstarts
  products/rhel8/kickstart/ssg-rhel8-anssi_bp28_enhanced-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-anssi_bp28_high-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-anssi_bp28_intermediary-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-cis-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-cis_server_l1-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-cis_workstation_l1-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-cis_workstation_l2-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-cui-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-ospp-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-pci-dss-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-stig-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-stig_gui-ks.cfg
Due: none

update rhel9 stig reference files to v2r7
  shared/references/disa-stig-rhel9-v2r7-xccdf-manual.xml
  shared/references/disa-stig-rhel9-v2r7-xccdf-scap.xml
Due: none

mount_option_nodev_nonroot_local_partitions: ignore vfat partitions
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/ansible/shared.yml
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/bash/shared.sh
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/oval/shared.xml
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/tests/vfat_without_nodev.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add audit watcher rule for /var/lib/selinux
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_var_lib_selinux/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add audit watcher rule to fedora cis controls
  controls/cis_fedora.yml
Due: none

enable oval checks for audit tools on fedora and fix failing tests
  shared/checks/oval/audit_rules_auditctl.xml
  shared/checks/oval/audit_rules_augenrules.xml
  shared/macros/20-test-scenarios.jinja
  shared/templates/audit_rules_watch/tests/augenrules_correct.pass.sh
  shared/templates/audit_rules_watch/tests/augenrules_correct_extra_permission.pass.sh
  shared/templates/audit_rules_watch/tests/augenrules_correct_without_key.pass.sh
  shared/templates/audit_rules_watch/tests/augenrules_remove_all_rules.fail.sh
  shared/templates/audit_rules_watch/tests/augenrules_wrong_rule.fail.sh
  shared/templates/audit_rules_watch/tests/augenrules_wrong_rule_without_key.fail.sh
  shared/templates/audit_rules_watch/tests/rules_not_there.fail.sh
  tests/shared/audit_rules_watch/auditctl_wrong_rule.fail.sh
  tests/shared/audit_rules_watch/auditctl_wrong_rule_without_key.fail.sh
  tests/shared/audit_rules_watch/augenrules_wrong_rule.fail.sh
  tests/shared/audit_rules_watch/augenrules_wrong_rule_without_key.fail.sh
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add audit watcher rule to audit components
  components/audit.yml
Due: none

use better rule for RHEL-09-232240
  linux_os/guide/system/permissions/files/dir_perms_world_writable_system_owned/rule.yml
  products/rhel9/controls/stig_rhel9.yml
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

set gnome idle timeout to 10 minutes according to updated RHEL-09-271065
  products/rhel9/controls/stig_rhel9.yml
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Due: none

add a warning about a large log volume
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification_var_lib_selinux/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove ssg/shims.py
  ssg/build_guides.py
  ssg/contributors.py
  ssg/shims.py
  tests/ssg_test_suite/oscap.py
  utils/fix_rules.py
Due: none

Add flake8-bugbear to ruff
  ruff.toml
Due: none

Remove assert False
  tests/unit/ssg-module/test_build_renumber.py
Due: none

Adjust exception chaining
  build-scripts/collect_remediations.py
  ssg/build_cpe.py
  ssg/build_renumber.py
  ssg/build_yaml.py
  ssg/controls.py
  ssg/entities/common.py
  ssg/entities/profile_base.py
  ssg/jinja.py
  ssg/playbook_builder.py
  ssg/templates.py
  tests/automatus.py
  tests/ssg_test_suite/oscap.py
  tests/ssg_test_suite/rule.py
  tests/ssg_test_suite/test_env.py
  tests/ssg_test_suite/virt.py
  tests/unit/utils/oscal/test_cd_generator.py
  utils/ansible_playbook_to_role.py
  utils/fix_rules.py
  utils/oscal/params_extractor.py
Due: none

Adjust re.sub inn ssg/ansible.py
  ssg/ansible.py
Due: none

Don't compare types with `is` use isinstance
  ssg/boolean_expression.py
  ssg/build_remediations.py
  ssg/controls.py
  utils/ansible_shell_diff.py
Due: none

Remove mutable defaults from functions
  ssg/controls.py
  ssg/yaml.py
Due: none

Remove loop variable shadowing utils/generate_profile.py
  utils/generate_profile.py
Due: none

Remove unused variables in loops
  tests/ssg_test_suite/rule.py
  tests/ssg_test_suite/virt.py
  tests/stable_profile_ids.py
  tests/test_profile_stability.py
Due: none

Adjust pytest.raises to be more specific
  tests/unit/ssg-module/test_build_yaml.py
Due: none

Fix Multi character string in strip is misleading
  utils/ansible_playbook_to_role.py
Due: none

Replace ineffective next with continue
  utils/ansible_playbook_to_role.py
Due: none

Make the pyproject reflect 3.6+ nature of the project.
  pyproject.toml
Due: none

Fix potential NameError in params_extractor exception handler
  utils/oscal/params_extractor.py
Due: none

Adjust formatting for comment in tests/unit/ssg-module/test_build_renumber.py
  tests/unit/ssg-module/test_build_renumber.py
Due: none

Fix variable shadowing in ssg/build_guides.py
  ssg/build_guides.py
Due: none

Fix compare ds by extracting to the right folder
  .github/workflows/compare-ds.yaml
Due: none

audit_rules_watch fail tests sed update
  tests/shared/audit_rules_watch/auditctl_wrong_rule.fail.sh
  tests/shared/audit_rules_watch/auditctl_wrong_rule_without_key.fail.sh
  tests/shared/audit_rules_watch/augenrules_wrong_rule_without_key.fail.sh
Due: none

rhel9: logind_session_timeout switch to dropin file
  linux_os/guide/system/accounts/accounts-physical/logind_session_timeout/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/logind_session_timeout/bash/shared.sh
  linux_os/guide/system/accounts/accounts-physical/logind_session_timeout/oval/shared.xml
  linux_os/guide/system/accounts/accounts-physical/logind_session_timeout/tests/common.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add benchmark
  products/bascontrol22d4/guide/benchmark.yml
Due: none

fixed errors bascontrol22d4 commented out in ./CMakeLists.txt
  CMakeLists.txt
  build/.gitkeep
  products/bascontrol22d4/CMakeCache.txt
  products/bascontrol22d4/product.yml
  products/bascontrol22d4/profiles/standard.profile
  ssg/constants.py
Due: none

update rule for RHEL-09-611195
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate
