Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ci/prow/e2e-aws-ocp4-cis:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-cis-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-e8:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-pci-dss:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

Update rsyslog_nolisten PSC for RHEL 9 STIG
  linux_os/guide/system/logging/rsyslog_accepting_remote_messages/rsyslog_nolisten/policy/stig/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update harden_sshd_macs_openssh_conf_crypto_policy PSC for RHEL 9 STIG
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_openssh_conf_crypto_policy/policy/stig/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update bios_enable_execution_restrictions PSC for RHEL 9 STIG
  linux_os/guide/system/permissions/restrictions/enable_nx/bios_enable_execution_restrictions/policy/stig/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add implementation for rsyslog_logging_configured rule
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_logging_configured/ansible/shared.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_logging_configured/bash/shared.sh
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_logging_configured/oval/shared.xml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_logging_configured/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update test scenarios for accounts_password_last_change_is_in_past
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_last_change_is_in_past/tests/all_password_change_time_in_past.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_last_change_is_in_past/tests/user_password_change_time_in_future.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update rules for RHEL 9 SIG
  controls/srg_gpos/SRG-OS-000023-GPOS-00006.yml
  controls/srg_gpos/SRG-OS-000057-GPOS-00027.yml
  controls/srg_gpos/SRG-OS-000058-GPOS-00028.yml
  controls/srg_gpos/SRG-OS-000059-GPOS-00029.yml
  controls/srg_gpos/SRG-OS-000120-GPOS-00061.yml
  controls/srg_gpos/SRG-OS-000228-GPOS-00088.yml
  controls/srg_gpos/SRG-OS-000368-GPOS-00154.yml
  controls/srg_gpos/SRG-OS-000392-GPOS-00172.yml
  controls/srg_gpos/SRG-OS-000433-GPOS-00192.yml
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
Due: none

Convert the user guide to markdown and read the docs
  docs/index.rst
  docs/manual/developer/01_introduction.md
  docs/manual/user/01_introduction.md
  docs/manual/user/10_install.md
  docs/manual/user/20_scanning.md
  docs/manual/user/30_content_notes.md
Due: none

Add deprecation notice to docs/manual/user_guide.adoc
  docs/manual/user_guide.adoc
Due: none

Fix in sudo_require_reauthentication
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix broken link to statistics page.
  docs/manual/developer/05_tools_and_utilities.md
Due: none

OVAL: Do not treat empty HyperShift file as an indication that HyperShift is installed
  shared/checks/oval/installed_app_is_ocp4.xml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update accounts_umask_interactive_users to use OVAL macro
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_interactive_users/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_interactive_users/tests/interactive_user_nologin_ignored.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update file_groupownership_home_directories to use OVAL macro
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/rule.yml
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/tests/interactive_user_nologin_ignored.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update accounts_user_dot_no_world_writable_programs to use OVAL macro
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_no_world_writable_programs/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_no_world_writable_programs/tests/common.sh
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_no_world_writable_programs/tests/interactive_user_nologin_ignored.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_no_world_writable_programs/tests/no_world_writable_in_dot_file.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_no_world_writable_programs/tests/world_writable_in_dot_file.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update accounts_user_interactive_home_directory_defined to use OVAL macro
  linux_os/guide/system/accounts/accounts-session/accounts_user_interactive_home_directory_defined/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/accounts_user_interactive_home_directory_defined/tests/interactive_user_nologin_ignored.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Include macro to create interactive users object
  shared/macros/10-oval.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update file_permissions_home_dirs to use OVAL macro
  linux_os/guide/system/accounts/accounts-session/file_permissions_home_dirs/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/file_permissions_home_dirs/tests/interactive_user_nologin_ignored.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update accounts_users_home_files_groupownership to use OVAL macro
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_groupownership/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_groupownership/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_groupownership/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_groupownership/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_groupownership/tests/interactive_user_nologin_ignored.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update accounts_user_dot_user_ownership to use OVAL macro
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_user_ownership/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_user_ownership/tests/interactive_user_nologin_ignored.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update file_ownership_home_directories to use OVAL macro
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/tests/interactive_user_nologin_ignored.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update accounts_user_interactive_home_directory_exists to use OVAL macro
  linux_os/guide/system/accounts/accounts-session/accounts_user_interactive_home_directory_exists/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/accounts_user_interactive_home_directory_exists/tests/interactive_user_nologin_ignored.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update accounts_users_home_files_permissions to use OVAL macro
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_permissions/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_permissions/tests/acceptable_permission.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_permissions/tests/interactive_user_nologin_ignored.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update accounts_user_dot_group_ownership to use OVAL macro
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_group_ownership/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_group_ownership/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_group_ownership/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_group_ownership/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_group_ownership/tests/interactive_user_nologin_ignored.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update file_permissions_home_directories to use OVAL macro
  linux_os/guide/system/accounts/accounts-session/file_permissions_home_directories/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/file_permissions_home_directories/tests/interactive_user_nologin_ignored.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update no_forward_files to use OVAL macro
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_forward_files/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_forward_files/tests/interactive_user_nologin_ignored.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update accounts_users_home_files_ownership to use OVAL macro
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_ownership/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_ownership/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_ownership/tests/interactive_user_nologin_ignored.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Ensure that the old .adoc files are consistent with each other
  docs/manual/developer_guide.adoc
Due: none

Fix typo in dev guide around product removal
  docs/manual/developer/01_introduction.md
Due: none

In the user guide upgrade to RHEL 9 from RHEL 6
  docs/manual/user/20_scanning.md
Due: none

Introduce commit messages style guidelines
  docs/manual/developer/04_style_guide.md
Due: none

A coorecting checkig for sudo package
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/oval/shared.xml
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

New SLE 15 rule set_nftables_base_chain
  controls/cis_sle15.yml
  linux_os/guide/system/network/network-nftables/set_nftables_base_chain/ansible/shared.yml
  linux_os/guide/system/network/network-nftables/set_nftables_base_chain/bash/shared.sh
  linux_os/guide/system/network/network-nftables/set_nftables_base_chain/rule.yml
  linux_os/guide/system/network/network-nftables/var_nftables_base_chain_hooks.var
  linux_os/guide/system/network/network-nftables/var_nftables_base_chain_names.var
  linux_os/guide/system/network/network-nftables/var_nftables_base_chain_number.var
  linux_os/guide/system/network/network-nftables/var_nftables_base_chain_policies.var
  linux_os/guide/system/network/network-nftables/var_nftables_base_chain_priorities.var
  linux_os/guide/system/network/network-nftables/var_nftables_base_chain_types.var
  linux_os/guide/system/network/network-nftables/var_nftables_family.var
  shared/references/cce-sle15-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

OCP4 fix version dection for OCP
  applications/openshift/general/version_detect_in_hypershift/rule.yml
  shared/checks/oval/installed_app_is_ocp4.xml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

CIS numbers for SLE 12/15 rule audit_rules_login_events_tallylog
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_login_events/audit_rules_login_events_tallylog/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

New SLE 12/15 rule audit_rules_mac_modification_usr_share
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/oval/shared.xml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/auditctl_correct.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/auditctl_correct_without_key.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/auditctl_missing.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/auditctl_wrong_value.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/augen_correct.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/augen_correct_without_key.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/augen_missing.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_mac_modification_usr_share/tests/augen_wrong_value.fail.sh
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update OCP4 for HyperShift for better user experience
  applications/openshift/controller/controller_insecure_port_disabled/rule.yml
  applications/openshift/controller/controller_rotate_kubelet_server_certs/rule.yml
  applications/openshift/controller/controller_secure_port/rule.yml
  applications/openshift/controller/controller_service_account_ca/rule.yml
  applications/openshift/controller/controller_service_account_private_key/rule.yml
  applications/openshift/controller/controller_use_service_account/rule.yml
  applications/openshift/etcd/etcd_auto_tls/rule.yml
  applications/openshift/etcd/etcd_cert_file/rule.yml
  applications/openshift/etcd/etcd_client_cert_auth/rule.yml
  applications/openshift/etcd/etcd_key_file/rule.yml
  applications/openshift/etcd/etcd_peer_auto_tls/rule.yml
  applications/openshift/etcd/etcd_peer_cert_file/rule.yml
  applications/openshift/etcd/etcd_peer_client_cert_auth/rule.yml
  applications/openshift/etcd/etcd_peer_key_file/rule.yml
  applications/openshift/scheduler/scheduler_no_bind_address/rule.yml
  applications/openshift/scheduler/scheduler_port_is_zero/rule.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

OCP4 Modify etcd encryption check rule for hypershift
  applications/openshift/api-server/api_server_encryption_provider_cipher/rule.yml
  applications/openshift/api-server/api_server_encryption_provider_config/rule.yml
  applications/openshift/api-server/var_apiserver_encryption_filter.var
  applications/openshift/api-server/var_apiserver_encryption_path.var
  applications/openshift/api-server/var_apiserver_encryption_type.var
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Add 1 more CIS SLE reference to remove nftables rule
  linux_os/guide/system/network/network-nftables/package_nftables_removed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

OVAL changes for accounts_password_last_change_is_in_past rule
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_last_change_is_in_past/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Rework OVAL rule to check time difference between now and last change date of shadow entry
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_last_change_is_in_past/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
