Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

Pull the explicit rules for USB guard
  controls/srg_gpos/SRG-OS-000114-GPOS-00059.yml
Due: none

Fix the check for SRG-OS-000191-GPOS-00080
  controls/srg_gpos/SRG-OS-000191-GPOS-00080.yml
Due: none

Fix "the operating system" in fixtext for accounts_password_pam_dcredit
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_dcredit/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update OCIL clause for accounts_password_pam_enforce_root
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_enforce_root/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Clean up accounts_password_pam_lcredit
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_lcredit/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Fix Jinja error force_opensc_card_drivers
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/force_opensc_card_drivers/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Grammer fix in gid_passwd_group_same
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/gid_passwd_group_same/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add srg_requirement to package_firewalld_installed
  linux_os/guide/system/network/network-firewalld/firewalld_activation/package_firewalld_installed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add srg_requirement to sysctl_net_ipv4_tcp_syncookies
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_tcp_syncookies/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add srg_requirement to dir_perms_world_writable_root_owned
  linux_os/guide/system/permissions/files/dir_perms_world_writable_root_owned/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add srg_requirement to dir_perms_world_writable_sticky_bits
  linux_os/guide/system/permissions/files/dir_perms_world_writable_sticky_bits/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add srg_requirement to dir_group_ownership_library_dirs
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_group_ownership_library_dirs/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add srg_requirement to file_groupownership_system_commands_dirs
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add srg_requirement to file_ownership_binary_dirs
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_ownership_binary_dirs/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add srg_requirement to file_ownership_library_dirs
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_ownership_library_dirs/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add srg_requirement to file_permissions_binary_dirs
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_permissions_binary_dirs/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add srg_requirement to file_permissions_library_dirs
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_permissions_library_dirs/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add srg_requirement to root_permissions_syslibrary_files
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/root_permissions_syslibrary_files/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add srg_requirement to kernel_module_usb-storage_disabled
  linux_os/guide/system/permissions/mounting/kernel_module_usb-storage_disabled/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add srg_requirement to service_autofs_disabled
  linux_os/guide/system/permissions/mounting/service_autofs_disabled/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add srg_requirement to grub2_slub_debug_argument
  linux_os/guide/system/permissions/restrictions/poisoning/grub2_slub_debug_argument/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add srg_requirement to package_policycoreutils_installed
  linux_os/guide/system/selinux/package_policycoreutils_installed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add srg_requirement to selinux_state
  linux_os/guide/system/selinux/selinux_state/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add srg_requirement to dconf_gnome_disable_automount_open
  linux_os/guide/system/software/gnome/gnome_media_settings/dconf_gnome_disable_automount_open/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add srg_requirement to dconf_gnome_disable_autorun
  linux_os/guide/system/software/gnome/gnome_media_settings/dconf_gnome_disable_autorun/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add srg_requirement to configure_gnutls_tls_crypto_policy
  linux_os/guide/system/software/integrity/crypto/configure_gnutls_tls_crypto_policy/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Fix fixtext in sysctl_crypto_fips_enabled
  linux_os/guide/system/software/integrity/fips/sysctl_crypto_fips_enabled/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add srg_requirement to sysctl_crypto_fips_enabled
  linux_os/guide/system/software/integrity/fips/sysctl_crypto_fips_enabled/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add srg_requirement to aide_check_audit_tools
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_check_audit_tools/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add ocil_clause to service_ufw_enabled
  linux_os/guide/system/network/network-ufw/service_ufw_enabled/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add template mode to SSGTS
  tests/README.md
  tests/ssg_test_suite/template.py
  tests/test_suite.py
Due: none

Publish content pages to a different repository.
  .github/workflows/gh-pages.yaml
  .github/workflows/srg-mapping-table.yaml
Due: none

Workaround for git unsafe repository CVE-2022-24765
  .github/workflows/compare-ds.yaml
  .github/workflows/ctf.yaml
  .github/workflows/k8s-content.yaml
  .github/workflows/ssgts.yaml
Due: none

Document recent changes to sysctl template
  docs/templates/template_reference.md
Due: none

Add templated tests for dconf_ini_file.
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_lock_screen_on_smartcard_removal/tests/correct_value.pass.sh
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_lock_screen_on_smartcard_removal/tests/wrong_value.fail.sh
  linux_os/guide/system/software/gnome/gnome_system_settings/dconf_gnome_disable_user_admin/tests/correct_value.pass.sh
  linux_os/guide/system/software/gnome/gnome_system_settings/dconf_gnome_disable_user_admin/tests/wrong_value.fail.sh
  linux_os/guide/system/software/gnome/gnome_system_settings/dconf_gnome_disable_user_admin/tests/wrong_value_2.fail.sh
  shared/templates/dconf_ini_file/tests/correct_value.pass.sh
  shared/templates/dconf_ini_file/tests/missing.fail.sh
  shared/templates/dconf_ini_file/tests/wrong_value.fail.sh
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Don't scan /usr/lib/sysctl.d/ for conf files
  shared/templates/sysctl/oval.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Sysctl: template Remediate files in /run/sysctl.d
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_default_accept_source_route/tests/wrong_value_run_sysctl_d.fail.sh
  shared/templates/sysctl/ansible.template
  shared/templates/sysctl/bash.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update Fedora-based Actions to latest Fedora
  .github/workflows/gate.yaml
  .github/workflows/release.yaml
Due: none

Include snapshot cleanup functions for SSGTS
  tests/ssg_test_suite/common.py
  tests/ssg_test_suite/rule.py
  tests/ssg_test_suite/test_env.py
Due: none

Simplify the snapshot_lookup function
  tests/ssg_test_suite/rule.py
  tests/ssg_test_suite/test_env.py
Due: none
