Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

Include rule mount_option_proc_hidepid
  controls/anssi.yml
  linux_os/guide/system/permissions/partitions/mount_option_proc_hidepid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_proc_hidepid/tests/fstab_and_runtime.pass.sh
  linux_os/guide/system/permissions/partitions/mount_option_proc_hidepid/tests/fstab_only.fail.sh
  linux_os/guide/system/permissions/partitions/mount_option_proc_hidepid/tests/missing_option.fail.sh
  linux_os/guide/system/permissions/partitions/mount_option_proc_hidepid/tests/runtime_only.pass.sh
  linux_os/guide/system/permissions/partitions/mount_option_proc_hidepid/tests/wrong_value.fail.sh
  linux_os/guide/system/permissions/partitions/var_mount_option_proc_hidepid.var
  shared/references/cce-redhat-avail.txt
  shared/templates/mount_option/ansible.template
  shared/templates/mount_option/bash.template
  shared/templates/mount_option/oval.template
  shared/templates/mount_option/template.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Adjust var_mount_option_proc_hidepid.var to string
  linux_os/guide/system/permissions/partitions/var_mount_option_proc_hidepid.var
  shared/templates/mount_option/oval.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

hidepid option compatibility with kernel > 5.8
  controls/anssi.yml
  linux_os/guide/system/permissions/partitions/mount_option_proc_hidepid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_proc_hidepid/tests/fstab_and_runtime.pass.sh
  linux_os/guide/system/permissions/partitions/mount_option_proc_hidepid/tests/fstab_only.fail.sh
  linux_os/guide/system/permissions/partitions/mount_option_proc_hidepid/tests/missing_option.fail.sh
  linux_os/guide/system/permissions/partitions/mount_option_proc_hidepid/tests/runtime_only.pass.sh
  linux_os/guide/system/permissions/partitions/mount_option_proc_hidepid/tests/wrong_value.fail.sh
  linux_os/guide/system/permissions/partitions/var_mount_option_proc_hidepid.var
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update grub2_admin_username to use CPE
  linux_os/guide/system/bootloader-grub2/non-uefi/grub2_admin_username/oval/shared.xml
  linux_os/guide/system/bootloader-grub2/non-uefi/grub2_admin_username/tests/no-grub.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add rule sysctl_fs_protected_regular
  linux_os/guide/system/permissions/files/sysctl_fs_protected_regular/rule.yml
  linux_os/guide/system/permissions/files/sysctl_fs_protected_regular/tests/expected_value.pass.sh
  linux_os/guide/system/permissions/files/sysctl_fs_protected_regular/tests/missing_parameter.fail.sh
  linux_os/guide/system/permissions/files/sysctl_fs_protected_regular/tests/unexpected_value.fail.sh
  shared/references/cce-redhat-avail.txt
  shared/templates/sysctl/oval.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

OL8 STIG profile severity adjustments
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias/rule.yml
  linux_os/guide/services/rng/service_rngd_enabled/rule.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_rng/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/no_tmux_in_shells/rule.yml
  linux_os/guide/system/auditing/grub2_audit_backlog_limit_argument/rule.yml
  linux_os/guide/system/bootloader-grub2/grub2_pti_argument/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/grub2_admin_username/rule.yml
  linux_os/guide/system/bootloader-grub2/uefi/grub2_uefi_admin_username/rule.yml
  linux_os/guide/system/network/network-uncommon/kernel_module_firewire-core_disabled/rule.yml
  linux_os/guide/system/network/network-uncommon/kernel_module_tipc_disabled/rule.yml
  linux_os/guide/system/network/network_configure_name_resolution/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_dev_shm_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_dev_shm_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_dev_shm_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_nodev_removable_partitions/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_dmesg_restrict/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_perf_event_paranoid/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_user_max_user_namespaces/rule.yml
  linux_os/guide/system/selinux/package_policycoreutils_installed/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_var_log/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_var_tmp/rule.yml
  linux_os/guide/system/software/integrity/crypto/configure_bind_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/crypto/configure_kerberos_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/crypto/configure_libreswan_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/crypto/configure_ssh_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_openssh_conf_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_openssh_conf_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/endpoint_security_software/mcafee_security_software/mcafee_endpoint_security_software/agent_mfetpd_running/rule.yml
  linux_os/guide/system/software/integrity/fips/enable_dracut_fips_module/rule.yml
  linux_os/guide/system/software/system-tools/package_gssproxy_removed/rule.yml
  linux_os/guide/system/software/system-tools/package_iprutils_removed/rule.yml
  linux_os/guide/system/software/system-tools/package_rng-tools_installed/rule.yml
  linux_os/guide/system/software/system-tools/package_tuned_removed/rule.yml
  linux_os/guide/system/software/updating/security_patches_up_to_date/rule.yml
  products/ol8/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

On sle15 accounts_authorized_local_users removes accounts it should not
  linux_os/guide/system/accounts/accounts-restrictions/var_accounts_authorized_local_users_regex.var
  products/sle12/profiles/stig.profile
  products/sle15/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

OCP4: Added control response for SI-4(24)
  applications/openshift/general/compliance_notification_enabled/rule.yml
  applications/openshift/general/file_integrity_notification_enabled/rule.yml
  applications/openshift/integrity/file_integrity_exists/rule.yml
  controls/nist_ocp4.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node

Mark no_empty_passwords_etc_shadow as machine only
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords_etc_shadow/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

For no_empty_passwords, move container note to warning section
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Delete test scenario that removes SSH keys from machine
  linux_os/guide/services/ssh/file_permissions_sshd_private_key/tests/missing_file_test.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Remove grub2_pti_argument tests because they are templated
  linux_os/guide/system/bootloader-grub2/grub2_pti_argument/tests/arg_not_there.fail.sh
  linux_os/guide/system/bootloader-grub2/grub2_pti_argument/tests/correct.pass.sh
  linux_os/guide/system/bootloader-grub2/grub2_pti_argument/tests/wrong_value.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Remove RHEL7 platform from invalid_rescue.pass.sh
  shared/templates/grub2_bootloader_argument/tests/invalid_rescue.pass.sh
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Use FQDN comparison when finding the profile in STIG tailoring.
  utils/create_scap_delta_tailoring.py
Due: none

Update chronyd_or_ntpd_set_maxpoll OVAL to check both configs (ntpd and chronyd)
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Fix title and remove redundant rules in SRG-OS-000004-GPOS-00004 for RHEL9 STIG
  controls/stig_rhel9/SRG-OS-000004-GPOS-00004.yml
Due: none

Add details to rationale on audit_rules_sudoers and audit_rules_sudoers
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_sudoers/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_sudoers_d/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update SRG-OS-000023-GPOS-00006 for RHEL9 STIG
  controls/stig_rhel9/SRG-OS-000023-GPOS-00006.yml
Due: none

Added fix for rules SRG-OS-000023-GPOS-00006
  linux_os/guide/services/ssh/ssh_server/sshd_enable_warning_banner/rule.yml
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue/rule.yml
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_banner_enabled/rule.yml
  linux_os/guide/system/accounts/accounts-banners/gui_login_banner/dconf_gnome_login_banner_text/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Drop trailing whitespaces
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_exec_shield/ansible/shared.yml
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_exec_shield/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Replace Red Hat Enterprise Linux 7 with {{{ full_name }}}
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_exec_shield/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add rule to configure kernel to panicking on oops
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_panic_on_oops/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Fix reporting of remediation errors
  tests/ssg_test_suite/oscap.py
Due: none

Enable XCCDF variables substitution in Blueprints
  shared/templates/grub2_bootloader_argument/blueprint.template
  ssg/build_remediations.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Fix spacing and quoting in the Ansible template
  shared/templates/grub2_bootloader_argument/ansible.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update accounts_umask_etc_bashrc/rule.yml to match rule and remediation changes
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add custom ansible remediation for service_pcscd_enabled.
  .github/workflows/gate-lint-ansible-roles.yaml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/service_pcscd_enabled/ansible/shared.yml
  tests/ansible-lint_config.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add rule sysctl_fs_protected_fifos
  linux_os/guide/system/permissions/files/sysctl_fs_protected_fifos/rule.yml
  linux_os/guide/system/permissions/files/sysctl_fs_protected_fifos/tests/expected_value.pass.sh
  linux_os/guide/system/permissions/files/sysctl_fs_protected_fifos/tests/missing_parameter.fail.sh
  linux_os/guide/system/permissions/files/sysctl_fs_protected_fifos/tests/unexpected_value.fail.sh
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add a macro for donf_ini_file_fix
  shared/macros.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update SRG-OS-000028-GPOS-00009 for RHEL9 STIG
  controls/stig_rhel9/SRG-OS-000028-GPOS-00009.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_tmux_lock_command/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/no_tmux_in_shells/rule.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_lock_screen_on_smartcard_removal/rule.yml
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_lock_enabled/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

RHCOS: IA-2(4) control response
  controls/nist_rhcos4.yml
  linux_os/guide/services/ssh/package_openssh_removed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

grub2_audit_argument test scenarios cleanup
  linux_os/guide/system/auditing/grub2_audit_argument/tests/arg_not_there_etcdefaultgrub.fail.sh
  linux_os/guide/system/auditing/grub2_audit_argument/tests/arg_not_there_rhel8.fail.sh
  linux_os/guide/system/auditing/grub2_audit_argument/tests/correct_grubby.pass.sh
  linux_os/guide/system/auditing/grub2_audit_argument/tests/correct_grubenv.pass.sh
  linux_os/guide/system/auditing/grub2_audit_argument/tests/correct_value.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add rule for l1tf mitigation
  linux_os/guide/system/bootloader-grub2/grub2_l1tf_argument/rule.yml
  linux_os/guide/system/bootloader-grub2/var_l1tf_options.var
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add rule to mitigate Spec Store Bypass vuln
  linux_os/guide/system/bootloader-grub2/grub2_spec_store_bypass_disable_argument/rule.yml
  linux_os/guide/system/bootloader-grub2/var_spec_store_bypass_disable_options.var
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add rule to force spectre_v2 mitigation
  linux_os/guide/system/bootloader-grub2/grub2_spectre_v2_argument/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update template_reference.md
  docs/templates/template_reference.md
Due: none

Add rule for MDS vulnerability
  linux_os/guide/system/bootloader-grub2/grub2_mds_argument/rule.yml
  linux_os/guide/system/bootloader-grub2/var_mds_options.var
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add rule for HWRNG contribution to pool entropy
  linux_os/guide/system/bootloader-grub2/grub2_rng_core_default_quality_argument/rule.yml
  linux_os/guide/system/bootloader-grub2/var_rng_core_default_quality.var
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Fix reference to local_variable
  shared/templates/grub2_bootloader_argument/oval.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add auid criteria to rule to meet OL08-00-030390
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/oval/shared.xml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate
