Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ci/prow/e2e-aws-ocp4-cis:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-cis-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-e8:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-pci-dss:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

Update linux_os/guide/system/network/network-firewalld/ruleset_modifications/ensure_firewall_rules_for_open_ports/tests/correct.pass.sh
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/ensure_firewall_rules_for_open_ports/tests/correct.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update linux_os/guide/system/network/network-firewalld/ruleset_modifications/ensure_firewall_rules_for_open_ports/tests/wrong.fail.sh
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/ensure_firewall_rules_for_open_ports/tests/wrong.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update linux_os/guide/system/network/network-firewalld/ruleset_modifications/ensure_firewall_rules_for_open_ports/oval/shared.xml
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/ensure_firewall_rules_for_open_ports/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Modify oval rule on missing/incorrect config to return fail
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/ensure_firewall_rules_for_open_ports/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update linux_os/guide/system/network/network-nftables/nftables_rules_permanent/rule.yml
  linux_os/guide/system/network/network-nftables/nftables_rules_permanent/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add tests if no service listens we consider it pass
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/ensure_firewall_rules_for_open_ports/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Optimize loop through protocol families
  linux_os/guide/system/network/network-nftables/nftables_rules_permanent/ansible/sle15.yml
  linux_os/guide/system/network/network-nftables/nftables_rules_permanent/oval/sle15.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Corrections in bash, ansible and variables
  linux_os/guide/system/network/network-nftables/set_nftables_base_chain/ansible/shared.yml
  linux_os/guide/system/network/network-nftables/set_nftables_base_chain/bash/shared.sh
  linux_os/guide/system/network/network-nftables/var_nftables_base_chain_hooks.var
  linux_os/guide/system/network/network-nftables/var_nftables_base_chain_names.var
  linux_os/guide/system/network/network-nftables/var_nftables_base_chain_policies.var
  linux_os/guide/system/network/network-nftables/var_nftables_base_chain_priorities.var
  linux_os/guide/system/network/network-nftables/var_nftables_base_chain_types.var
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

From vmmsrg from documentation and test data
  docs/manual/developer/06_contributing_with_content.md
  docs/workshop/data/accounts_tmout/rule_yml
  ssg/constants.py
  tests/unit/ssg-module/data/sshd_disable_root_login.yml
Due: none

Remove vsrg reference from rules
  linux_os/guide/system/selinux/selinux_state/rule.yml
  linux_os/guide/system/software/sudo/sudo_remove_no_authenticate/rule.yml
  linux_os/guide/system/software/sudo/sudo_remove_nopasswd/rule.yml
  tests/unit/ssg-module/test_playbook_builder_data/guide/selinux_state/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Apply suggestions from code review
  linux_os/guide/system/permissions/partitions/mount_option_boot_efi_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_dev_shm_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_dev_shm_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_dev_shm_nosuid/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Corrections in the rule.yml
  linux_os/guide/system/software/updating/ensure_GPG_keys_are_configured/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix CCE URI
  shared/transforms/shared_constants.xslt
  ssg/constants.py
  tests/unit/ssg-module/data/accounts_tmout.xml
Due: none

Add /dev/shm to RHEL 7 CIS Server Level 1 kickstart
  products/rhel7/kickstart/ssg-rhel7-cis_server_l1-ks.cfg
Due: none

Add /dev/shm to RHEL 7 CIS Workstation Level 1 kickstart
  products/rhel7/kickstart/ssg-rhel7-cis_workstation_l1-ks.cfg
Due: none

Add /dev/shm to RHEL 7 CIS Workstation Level 2 kickstart
  products/rhel7/kickstart/ssg-rhel7-cis_workstation_l2-ks.cfg
Due: none

Add /dev/shm to RHEL 9 CIS Server Level 2 kickstart
  products/rhel9/kickstart/ssg-rhel9-cis-ks.cfg
Due: none

Add /dev/shm to RHEL 9 CIS Workstation Level 1 kickstart
  products/rhel9/kickstart/ssg-rhel9-cis_workstation_l1-ks.cfg
Due: none

Add /dev/shm to RHEL 9 CIS Server Level 1 kickstart
  products/rhel9/kickstart/ssg-rhel9-cis_server_l1-ks.cfg
Due: none

Add /dev/shm to CIS Server Level 2 Kickstart on RHEL 7
  products/rhel7/kickstart/ssg-rhel7-cis-ks.cfg
Due: none

Remove VMM reference from unit tests
  tests/unit/ssg-module/data/accounts_tmout.xml
Due: none

make rule accounts_password_last_change_is_in_past not applicable to containers
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_last_change_is_in_past/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

sudo_add_use_pty: depend on sudo being installed
  linux_os/guide/system/software/sudo/sudo_add_use_pty/rule.yml
  linux_os/guide/system/software/sudo/sudo_add_use_pty/tests/use_pty_absent.fail.sh
  linux_os/guide/system/software/sudo/sudo_add_use_pty/tests/use_pty_enabled.pass.sh
  linux_os/guide/system/software/sudo/sudo_add_use_pty/tests/use_pty_enabled_dir.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

all_apparmor_profiles_in_enforce_complain_mode: Add ubuntu prodtypes and
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

all_apparmor_profiles_in_enforce_complain_mode: bash: Add ubuntu
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

all_apparmor_profiles_in_enforce_complain_mode: Add SCE check
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/sce/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ubuntu2004: cis_level1_server: Add rule all_apparmor_profiles_in_enforce_complain_mode
  products/ubuntu2004/profiles/cis_level1_server.profile
Due: none

ubuntu2204: cis_level1_server: Add rule all_apparmor_profiles_in_enforce_complain_mode
  products/ubuntu2204/profiles/cis_level1_server.profile
Due: none

ubuntu2204: cis_level1_server: Fix typo in rule name
  products/ubuntu2204/profiles/cis_level1_server.profile
Due: none

ubuntu2204: cis_level2_workstation: Fix title and description
  products/ubuntu2204/profiles/cis_level2_workstation.profile
Due: none

installed_OS_is_ubuntu*: Improve title and description
  shared/applicability/oval/installed_OS_is_ubuntu2204.xml
  shared/checks/oval/installed_OS_is_ubuntu1604.xml
  shared/checks/oval/installed_OS_is_ubuntu1804.xml
  shared/checks/oval/installed_OS_is_ubuntu2004.xml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

sshd_use_strong_kex: Add ubuntu2204 prodtype and cis reference
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_kex/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

sshd_use_strong_kex: oval: Remove fips check
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_kex/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

sshd_use_strong_kex: oval: Make comments more generic
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_kex/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ubuntu2204: cis_level1_server: Add rule sshd_use_strong_kex
  products/ubuntu2204/profiles/cis_level1_server.profile
Due: none

OCP4 STIG: SRG-APP-000142-CTR-000330 is implemented via several manual rules
  applications/openshift/scc/scc_limit_host_dir_volume_plugin/policy/stig/shared.yml
  applications/openshift/scc/scc_limit_host_dir_volume_plugin/rule.yml
  applications/openshift/scc/scc_limit_host_dir_volume_plugin/tests/ocp4/e2e.yml
  applications/openshift/scc/scc_limit_host_ports/policy/stig/shared.yml
  applications/openshift/scc/scc_limit_host_ports/rule.yml
  applications/openshift/scc/scc_limit_host_ports/tests/ocp4/e2e.yml
  applications/openshift/scc/scc_limit_network_namespace/policy/stig/shared.yml
  applications/openshift/scc/scc_limit_network_namespace/rule.yml
  applications/openshift/scc/scc_limit_privileged_containers/rule.yml
  controls/srg_ctr/SRG-APP-000142-CTR-000330.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
