Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ci/prow/e2e-aws-ocp4-cis:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-cis-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-e8:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-pci-dss:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

Add rule to ubuntu2404 CIS control 6.1.1.4
  controls/cis_ubuntu2404.yml
Due: none

add rule fapolicy_default_deny to rhel9 stig
  controls/stig_rhel9.yml
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Due: none

Workaround package_nfs-utils_removed issue on bootable containers
  linux_os/guide/services/nfs_and_rpc/package_nfs-utils_removed/bash/rhel10.sh
  linux_os/guide/services/nfs_and_rpc/package_nfs-utils_removed/rule.yml
  linux_os/guide/system/software/system-tools/package_gssproxy_removed/bash/rhel10.sh
  linux_os/guide/system/software/system-tools/package_gssproxy_removed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix audit_rules_privileged_commands_unix2_chkpwd.
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_unix2_chkpwd/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_unix2_chkpwd/tests/only_chkpwd_rule.fail.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_unix_chkpwd/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_unix_chkpwd/tests/only_chkpwd_rule.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fixed whitespace issue causing ctests to fail
  products/debian12/profiles/anssi_bp28_minimal.profile
Due: none

Some more work on profiles
  linux_os/guide/auditing/service_auditd_enabled/kubernetes/shared.yml
  linux_os/guide/services/base/service_kdump_disabled/anaconda/shared.anaconda
  linux_os/guide/services/ldap/openldap_client/ldap_client_start_tls/bash/shared.sh
  linux_os/guide/services/sssd/sssd-ldap/sssd_ldap_configure_tls_ca_dir/ansible/shared.yml
  linux_os/guide/services/sssd/sssd-ldap/sssd_ldap_configure_tls_ca_dir/bash/shared.sh
  linux_os/guide/services/sssd/sssd-ldap/sssd_ldap_configure_tls_reqcert/ansible/shared.yml
  linux_os/guide/services/sssd/sssd-ldap/sssd_ldap_configure_tls_reqcert/bash/shared.sh
  linux_os/guide/services/sssd/sssd-ldap/sssd_ldap_start_tls/ansible/shared.yml
  linux_os/guide/services/sssd/sssd-ldap/sssd_ldap_start_tls/bash/shared.sh
  linux_os/guide/services/sssd/sssd_certificate_verification/ansible/shared.yml
  linux_os/guide/services/sssd/sssd_certificate_verification/bash/shared.sh
  linux_os/guide/services/sssd/sssd_enable_pam_services/bash/shared.sh
  linux_os/guide/services/sssd/sssd_memcache_timeout/ansible/shared.yml
  linux_os/guide/services/sssd/sssd_memcache_timeout/bash/shared.sh
  linux_os/guide/services/sssd/sssd_run_as_sssd_user/bash/shared.sh
  linux_os/guide/services/sssd/sssd_ssh_known_hosts_timeout/ansible/shared.yml
  linux_os/guide/services/sssd/sssd_ssh_known_hosts_timeout/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update tests for RHEL 10 on rule sssd_enable_smartcards
  linux_os/guide/services/sssd/sssd_enable_smartcards/tests/authselect_modified_pam.fail.sh
  linux_os/guide/services/sssd/sssd_enable_smartcards/tests/authselect_smartcard_disabled.fail.sh
  linux_os/guide/services/sssd/sssd_enable_smartcards/tests/authselect_smartcard_enabled.pass.sh
  linux_os/guide/services/sssd/sssd_enable_smartcards/tests/authselect_smartcard_enabled_conf_d.pass.sh
  linux_os/guide/services/sssd/sssd_enable_smartcards/tests/authselect_smartcard_enabled_lower.pass.sh
  linux_os/guide/services/sssd/sssd_enable_smartcards/tests/authselect_sssd_parameter_false.fail.sh
  linux_os/guide/services/sssd/sssd_enable_smartcards/tests/authselect_sssd_parameter_false_conf_d.fail.sh
  linux_os/guide/services/sssd/sssd_enable_smartcards/tests/authselect_sssd_parameter_missing.fail.sh
  linux_os/guide/services/sssd/sssd_enable_smartcards/tests/authselect_sssd_parameter_missing_file.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Create variable with default xwindows packages in relation to xwindows_remove_packages rule
  ssg/constants.py
  ssg/products.py
Due: none

Add per products ol7,sle12 and sle15 definition for xwindows_packages
  products/ol7/product.yml
  products/sle12/product.yml
  products/sle15/product.yml
Due: none

Drop code duplication in favour of product variable
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_remove_packages/anaconda/shared.anaconda
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_remove_packages/ansible/shared.yml
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_remove_packages/bash/shared.sh
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_remove_packages/tests/packages_installed.fail.sh
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_remove_packages/tests/packages_installed_removed.pass.sh
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_remove_packages/tests/packages_removed.pass.sh
  linux_os/guide/services/xwindows/xwindows_base_packages.var
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rule no_invalid_shell_accounts_unlocked
  components/pam.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/no_invalid_shell_accounts_unlocked/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add oval and tests
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/no_invalid_shell_accounts_unlocked/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/no_invalid_shell_accounts_unlocked/tests/asterisks.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/no_invalid_shell_accounts_unlocked/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/no_invalid_shell_accounts_unlocked/tests/invalid_shell.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update anssi profiles for OL8
  products/ol8/profiles/anssi_bp28_enhanced.profile
  products/ol8/profiles/anssi_bp28_high.profile
  products/ol8/profiles/anssi_bp28_intermediary.profile
  products/ol8/profiles/anssi_bp28_minimal.profile
Due: none

Update ospp profile for OL8
  products/ol8/profiles/ospp.profile
Due: none

Update pci-dss profile for OL8
  products/ol8/profiles/pci-dss.profile
  products/ol9/profiles/pci-dss.profile
Due: none

Update cui profile for OL8
  products/ol8/profiles/cui.profile
Due: none

Update stig profile for OL8
  products/ol8/profiles/stig.profile
Due: none

Update ism_o profile for OL8
  products/ol8/profiles/ism_o.profile
Due: none

Update stig_gui profile for OL8
  products/ol8/profiles/stig_gui.profile
Due: none

RHEL now checks no other users have primary group ID 0
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/accounts_root_gid_zero/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/accounts_root_gid_zero/tests/other_user_uid_0.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix NERC CIP Link
  ssg/constants.py
  tests/data/product_stability/alinux2.yml
  tests/data/product_stability/alinux3.yml
  tests/data/product_stability/anolis23.yml
  tests/data/product_stability/anolis8.yml
  tests/data/product_stability/chromium.yml
  tests/data/product_stability/debian11.yml
  tests/data/product_stability/debian12.yml
  tests/data/product_stability/eks.yml
  tests/data/product_stability/example.yml
  tests/data/product_stability/fedora.yml
  tests/data/product_stability/firefox.yml
  tests/data/product_stability/macos1015.yml
  tests/data/product_stability/ocp4.yml
  tests/data/product_stability/ol7.yml
  tests/data/product_stability/ol8.yml
  tests/data/product_stability/ol9.yml
  tests/data/product_stability/openembedded.yml
  tests/data/product_stability/opensuse.yml
  tests/data/product_stability/rhcos4.yml
  tests/data/product_stability/rhel8.yml
  tests/data/product_stability/rhel9.yml
  tests/data/product_stability/rhv4.yml
  tests/data/product_stability/sle12.yml
  tests/data/product_stability/sle15.yml
  tests/data/product_stability/ubuntu1604.yml
  tests/data/product_stability/ubuntu1804.yml
  tests/data/product_stability/ubuntu2004.yml
  tests/data/product_stability/ubuntu2204.yml
  tests/data/product_stability/ubuntu2404.yml
Due: none

Move tests to use the correct ssh group based on the OS
  linux_os/guide/services/ssh/file_groupownership_sshd_private_key/tests/correct_groupowner.pass.sh
  linux_os/guide/services/ssh/file_groupownership_sshd_private_key/tests/multiple_keys.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix unit tests for NERC CIP update
  shared/transforms/shared_constants.xslt
  tests/unit/ssg-module/data/accounts_tmout.xml
Due: none

Move RHEL 10 to use package_gdm_removed over package_xorg-x11-server-common_removed
  controls/cis_rhel10.yml
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
Due: none

Modernize xwindows_runlevel_target
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_runlevel_target/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Adjust `kernel_module_disabled/missing_blacklist.fail.sh`
  shared/templates/kernel_module_disabled/tests/missing_blacklist.fail.sh
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Move to enable_fips_mode from grub2_enable_fips_mode in RHEL 10
  controls/ism_o.yml
  controls/srg_gpos/SRG-OS-000396-GPOS-00176.yml
  controls/srg_gpos/SRG-OS-000478-GPOS-00223.yml
Due: none

Use new template for firewall package/service rules on Ubuntu 24.04
  linux_os/guide/system/network/network-iptables/package_iptables_installed/rule.yml
  linux_os/guide/system/network/network-nftables/package_nftables_installed/rule.yml
  linux_os/guide/system/network/network-nftables/service_nftables_disabled/rule.yml
  linux_os/guide/system/network/network-nftables/service_nftables_enabled/rule.yml
  linux_os/guide/system/network/network-ufw/package_ufw_installed/rule.yml
  linux_os/guide/system/network/network-ufw/package_ufw_removed/rule.yml
  linux_os/guide/system/network/network-ufw/service_ufw_enabled/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Make _guard_var templates applicable to all platforms
  shared/templates/package_installed_guard_var/ansible.template
  shared/templates/package_installed_guard_var/bash.template
  shared/templates/package_installed_guard_var/oval.template
  shared/templates/package_removed_guard_var/ansible.template
  shared/templates/package_removed_guard_var/bash.template
  shared/templates/package_removed_guard_var/oval.template
  shared/templates/service_disabled_guard_var/oval.template
  shared/templates/service_enabled_guard_var/ansible.template
  shared/templates/service_enabled_guard_var/bash.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add tests for _guard_var templates
  shared/templates/package_installed_guard_var/tests/package-installed-removed.fail.sh
  shared/templates/package_installed_guard_var/tests/package-installed.pass.sh
  shared/templates/package_installed_guard_var/tests/package-removed-wrong-var.pass.sh
  shared/templates/package_installed_guard_var/tests/package-removed.fail.sh
  shared/templates/package_removed_guard_var/tests/package-installed-correct-var.pass.sh
  shared/templates/package_removed_guard_var/tests/package-installed-removed.pass.sh
  shared/templates/package_removed_guard_var/tests/package-installed.fail.sh
  shared/templates/package_removed_guard_var/tests/package-removed.pass.sh
  shared/templates/service_disabled_guard_var/tests/service_disabled.pass.sh
  shared/templates/service_disabled_guard_var/tests/service_enabled-var_is_value.pass.sh
  shared/templates/service_disabled_guard_var/tests/service_enabled-var_not_value.fail.sh
  shared/templates/service_enabled_guard_var/tests/service_disabled-var_not_value.pass.sh
  shared/templates/service_enabled_guard_var/tests/service_disabled.fail.sh
  shared/templates/service_enabled_guard_var/tests/service_enabled.pass.sh
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Modify available options for var_network_filtering_service on Ubuntu
  linux_os/guide/system/network/var_network_filtering_service.var
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Limit package_iptables_installed tests to rhel platforms
  linux_os/guide/system/network/network-iptables/package_iptables_installed/tests/rhel8.fail.sh
  linux_os/guide/system/network/network-iptables/package_iptables_installed/tests/rhel9.2.notapplicable.sh
  linux_os/guide/system/network/network-iptables/package_iptables_installed/tests/rhel9.notapplicable.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Define var_network_filtering_service for Ubuntu 24.04 CIS profiles
  controls/cis_ubuntu2404.yml
Due: none

Remove package_nftables_removed from Ubuntu 24.04 CIS profile
  controls/cis_ubuntu2404.yml
Due: none

Expand install_vm with default osinfo for unreleased distros.
  tests/install_vm.py
Due: none

Update install_vm documentation with information about unr distros.
  tests/install_vm.py
Due: none

Update several controls for Ubuntu 24.04 CIS
  controls/cis_ubuntu2404.yml
Due: none

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
