Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ci/prow/e2e-aws-ocp4-cis:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-cis-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-e8:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-pci-dss:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

Add sysctl_kernel_pid_max to ANSSI SLE profile
  controls/anssi_sle.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_pid_max/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

change remediations to include the "=" sign
  linux_os/guide/system/software/integrity/crypto/configure_openssl_crypto_policy/ansible/shared.yml
  linux_os/guide/system/software/integrity/crypto/configure_openssl_crypto_policy/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add sysctl_vm_mmap_min_addr rule to ANSSI SLE profile
  controls/anssi_sle.yml
  linux_os/guide/system/permissions/restrictions/sysctl_vm_mmap_min_addr/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add headers to remediations in faillock_dir rule
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add sebool rules for execheap insmod and ssh login to ANSSI SLE profile
  controls/anssi_sle.yml
  linux_os/guide/system/selinux/selinux-booleans/sebool_deny_execmem/rule.yml
  linux_os/guide/system/selinux/selinux-booleans/sebool_secure_mode_insmod/rule.yml
  linux_os/guide/system/selinux/selinux-booleans/sebool_selinuxuser_execheap/rule.yml
  linux_os/guide/system/selinux/selinux-booleans/sebool_selinuxuser_execstack/rule.yml
  linux_os/guide/system/selinux/selinux-booleans/sebool_ssh_sysadm_login/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add NX/DX setting rules to ANSSI SLE profile
  controls/anssi_sle.yml
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_exec_shield/rule.yml
  linux_os/guide/system/permissions/restrictions/enable_nx/bios_enable_execution_restrictions/rule.yml
  linux_os/guide/system/permissions/restrictions/enable_nx/install_PAE_kernel_on_x86-32/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix usage of fix_file_prompt in utils/fix_rules.py
  utils/fix_rules.py
Due: none

Add rule sysctl_fs_suid_dumpable to ANSSI SLE profile
  controls/anssi_sle.yml
  linux_os/guide/system/permissions/restrictions/coredumps/sysctl_fs_suid_dumpable/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rules for Uninstalling SELinux Policy Debugging Tools to ANSSI SLE high profile
  controls/anssi_sle.yml
  linux_os/guide/system/selinux/package_setroubleshoot-plugins_removed/rule.yml
  linux_os/guide/system/selinux/package_setroubleshoot-server_removed/rule.yml
  linux_os/guide/system/selinux/package_setroubleshoot_removed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add pass and fail tests for auditd_audispd_disk_full_action rule
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_audispd_disk_full_action/tests/audisp_disk_full_action_absent.fail.sh
  linux_os/guide/system/auditing/configure_auditd_data_retention/auditd_audispd_disk_full_action/tests/audisp_disk_full_action_set.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add ANSSI high profile for SLE platforms
  products/sle12/profiles/anssi_bp28_high.profile
  products/sle15/profiles/anssi_bp28_high.profile
Due: none

Add rules that restricts the use of the perf system to ANSSI SLE profiles
  controls/anssi_sle.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_perf_cpu_time_max_percent/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_perf_event_max_sample_rate/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_perf_event_paranoid/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add new rule
  linux_os/guide/services/mail/package_postfix_installed/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add user session timeout rules to ANSSI enhanced profile
  controls/anssi_sle.yml
Due: none

Add sebool_polyinstantiation_enabled to ANSSI SLE profile
  controls/anssi_sle.yml
  linux_os/guide/system/selinux/selinux-booleans/sebool_polyinstantiation_enabled/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Introduce sebool description and ocil macros
  linux_os/guide/system/selinux/selinux-booleans/sebool_deny_execmem/rule.yml
  linux_os/guide/system/selinux/selinux-booleans/sebool_polyinstantiation_enabled/rule.yml
  linux_os/guide/system/selinux/selinux-booleans/sebool_secure_mode_insmod/rule.yml
  shared/macros/01-general.jinja
  shared/macros/10-ocil.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add sysctl_kernel_yama_ptrace_scope to ANSSI SLE profile
  controls/anssi_sle.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_yama_ptrace_scope/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add tests for accounts_passwords_pam_faillock_dir
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/tests/common.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/tests/conflicting_settings_authselect.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/tests/expected_faillock_conf.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/tests/expected_pam_files.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/tests/missing_dir_in_authfail.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/tests/missing_dir_in_preauth.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/tests/wrong_faillock_conf.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/tests/wrong_pam_files.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add more sysctl rules to intermediary profile
  products/sle15/profiles/anssi_bp28_intermediary.profile
Due: none

add audit_modify_failed ppc64le
  linux_os/guide/system/auditing/policy_rules/audit_modify_failed_ppc64le/kubernetes/shared.yml
  linux_os/guide/system/auditing/policy_rules/audit_modify_failed_ppc64le/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add audit_delete_success ppc64le
  linux_os/guide/system/auditing/policy_rules/audit_delete_success_ppc64le/kubernetes/shared.yml
  linux_os/guide/system/auditing/policy_rules/audit_delete_success_ppc64le/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

correct ansible remediatiation postfix_client_configure_mail_alias
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add audit_owner_change_success aarch64
  linux_os/guide/system/auditing/policy_rules/audit_owner_change_success_ppc64le/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

fix CCE assignments after rebase
  linux_os/guide/system/auditing/policy_rules/audit_access_failed_ppc64le/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_access_success_ppc64le/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_create_failed_ppc64le/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_create_success_ppc64le/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_delete_failed_ppc64le/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_delete_success_ppc64le/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_modify_failed_ppc64le/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_modify_success_ppc64le/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_module_load_ppc64le/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_ospp_general_ppc64le/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

use fixtext macro
  linux_os/guide/services/mail/package_postfix_installed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add audit_owner_change_failed ppc64le
  linux_os/guide/system/auditing/policy_rules/audit_owner_change_failed_ppc64le/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add new rules to rhel9 ospp profile
  products/rhel9/profiles/ospp.profile
Due: none

add rule to rhel8 stig profiles
  products/rhel8/profiles/stig.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Due: none

make rule rhel9 aware and add it to stig profile
  linux_os/guide/services/mail/package_postfix_installed/rule.yml
  products/rhel9/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

remove rule from rhel9 ospp
  products/rhel9/profiles/ospp.profile
Due: none

Update linux_os/guide/services/mail/package_postfix_installed/rule.yml
  linux_os/guide/services/mail/package_postfix_installed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add audit_module_load ppc64le
  linux_os/guide/system/auditing/policy_rules/audit_module_load_ppc64le/kubernetes/shared.yml
  linux_os/guide/system/auditing/policy_rules/audit_module_load_ppc64le/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

make newly added rules RHEL9 only
  linux_os/guide/system/auditing/policy_rules/audit_access_failed/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_access_failed_ppc64le/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_access_success/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_access_success_ppc64le/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_create_failed/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_create_failed_ppc64le/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_create_success/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_create_success_ppc64le/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_delete_failed/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_delete_failed_ppc64le/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_delete_success/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_delete_success_ppc64le/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_modify_failed/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_modify_failed_ppc64le/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_modify_success/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_modify_success_ppc64le/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_module_load/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_module_load_ppc64le/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_ospp_general/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_ospp_general_ppc64le/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_owner_change_failed/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_owner_change_failed_ppc64le/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_owner_change_success/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_owner_change_success_ppc64le/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_perm_change_failed/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_perm_change_failed_ppc64le/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_perm_change_success/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_perm_change_success_ppc64le/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove unused build option
  CMakeLists.txt
  build-scripts/oscap_svg_support.py
  docs/manual/developer/07_understanding_build_system.md
Due: none

add audit_create_success ppc64le
  linux_os/guide/system/auditing/policy_rules/audit_create_success_ppc64le/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update rule no_empty_passwords
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/authselect_modified_pam.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/authselect_nullok_absent.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/authselect_nullok_present.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/no_nullok.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/nullok_commented.pass.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/nullok_present.fail.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/no_empty_passwords/tests/nullok_present_password_auth.fail.sh
  products/ol8/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

remove 4 rules from rhel9 ospp
  products/rhel9/profiles/ospp.profile
Due: none

add audit_delete_failed ppc64le
  linux_os/guide/system/auditing/policy_rules/audit_delete_failed_ppc64le/kubernetes/shared.yml
  linux_os/guide/system/auditing/policy_rules/audit_delete_failed_ppc64le/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add audit_create_failed ppc64le
  linux_os/guide/system/auditing/policy_rules/audit_create_failed_ppc64le/kubernetes/shared.yml
  linux_os/guide/system/auditing/policy_rules/audit_create_failed_ppc64le/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update linux_os/guide/system/auditing/policy_rules/audit_immutable_login_uids/rule.yml
  linux_os/guide/system/auditing/policy_rules/audit_immutable_login_uids/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
