Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ci/prow/e2e-aws-ocp4-cis:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-cis-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-e8:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-pci-dss:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

modify Aide config directive for RHEL 10
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_build_database/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

merge JInja booleans for checking of referenced options in /boot/loader/entries and options in grubenv
  shared/templates/grub2_bootloader_argument/oval.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove test.profile from OCP4 profiles
  products/ocp4/profiles/test.profile
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

modify the oval of grub2_argument template so that it is aligned with argument parsing in RHEL 8
  shared/templates/grub2_bootloader_argument/oval.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add test scenarios testing newly introduced OVAL tests
  shared/templates/grub2_bootloader_argument/tests/correct_value_grubenv_only.pass.sh
  shared/templates/grub2_bootloader_argument/tests/correct_value_mix_entries_and_grubenv.pass.sh
  shared/templates/grub2_bootloader_argument/tests/correct_value_remediated.pass.sh
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

revise other test scenarios of grub2_argument template
  shared/templates/grub2_bootloader_argument/tests/arg_not_in_entries.fail.sh
  shared/templates/grub2_bootloader_argument/tests/arg_not_in_etcdefaultgrub.fail.sh
  shared/templates/grub2_bootloader_argument/tests/arg_not_in_etcdefaultgrub_recovery_disabled.fail.sh
  shared/templates/grub2_bootloader_argument/tests/arg_not_in_grubenv_and_not_referenced.pass.sh
  shared/templates/grub2_bootloader_argument/tests/arg_not_in_grubenv_but_referenced.fail.sh
  shared/templates/grub2_bootloader_argument/tests/correct_value.pass.sh
  shared/templates/grub2_bootloader_argument/tests/wrong_value_entries.fail.sh
  shared/templates/grub2_bootloader_argument/tests/wrong_value_grubenv.fail.sh
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

remove rule accounts_password_pam_retry from rhel10 profiles
  products/rhel10/profiles/anssi_bp28_enhanced.profile
  products/rhel10/profiles/anssi_bp28_high.profile
  products/rhel10/profiles/anssi_bp28_intermediary.profile
  products/rhel10/profiles/anssi_bp28_minimal.profile
Due: none

Update selections for RHEL 10 STIG
  controls/srg_gpos.yml
  controls/srg_gpos/SRG-OS-000031-GPOS-00012.yml
  controls/srg_gpos/SRG-OS-000073-GPOS-00041.yml
  controls/srg_gpos/SRG-OS-000163-GPOS-00072.yml
  controls/srg_gpos/SRG-OS-000324-GPOS-00125.yml
  controls/srg_gpos/SRG-OS-000343-GPOS-00134.yml
  controls/srg_gpos/SRG-OS-000363-GPOS-00150.yml
  controls/srg_gpos/SRG-OS-000433-GPOS-00192.yml
  controls/srg_gpos/SRG-OS-000478-GPOS-00223.yml
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
  controls/srg_gpos/SRG-OS-000730-GPOS-00190.yml
Due: none

Remove package_MFEhiplsm_installed from RHEL 10 STIG
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
Due: none

Remove rules longer in the RHEL 9 STIG as V2R1
  controls/stig_rhel9.yml
Due: none

Update RHEL 9 STIG Stable Profiles
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Due: none

Add missing CCEs for RHEL 10
  linux_os/guide/services/xwindows/disabling_xwindows/xwindows_remove_packages/rule.yml
  linux_os/guide/system/accounts/accounts-session/file_permission_user_init_files_root/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_forwarding/rule.yml
  linux_os/guide/system/selinux/selinux_all_devicefiles_labeled/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_use_fips_hashes/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update assertions for kubelet-client-cert|key rules
  tests/assertions/ocp4/ocp4-cis-4.17.yml
  tests/assertions/ocp4/ocp4-high-4.17.yml
  tests/assertions/ocp4/ocp4-moderate-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.17.yml
Due: none

product.yml: Add avahi and dconf to platform_package_overrides
  products/ubuntu2004/product.yml
Due: none

product_stability: Add avahi and dconf to platform_package_overrides
  tests/data/product_stability/ubuntu2004.yml
Due: none

Fix typo in rule id
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.17.yml
Due: none

Fix jq filters for resource request limits
  applications/openshift/general/resource_requests_limits_in_deployment/rule.yml
  applications/openshift/general/resource_requests_limits_in_statefulset/rule.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Remove configure_bashrc_exec_tmux from RHEL 10
  controls/srg_gpos/SRG-OS-000028-GPOS-00009.yml
  controls/srg_gpos/SRG-OS-000031-GPOS-00012.yml
Due: none

Add package install instructions to package_tmux_installed
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/package_tmux_installed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Change directory_permissions_etc_iptables to 700
  linux_os/guide/system/network/network-iptables/directory_permissions_etc_iptables/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

id_provider no longer accepts files
  linux_os/guide/services/sssd/service_sssd_enabled/tests/common.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix the package for sssd in test scenarios
  linux_os/guide/services/sssd/service_sssd_enabled/tests/service_disabled.fail.sh
  linux_os/guide/services/sssd/service_sssd_enabled/tests/service_enabled.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove assumptions and unnecessary changes
  linux_os/guide/services/sssd/sssd_enable_pam_services/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix sssd package name in test scenarios scripts
  linux_os/guide/services/sssd/sssd_enable_pam_services/tests/custom_conf_services_pam_missing.fail.sh
  linux_os/guide/services/sssd/sssd_enable_pam_services/tests/missing_sections.fail.sh
  linux_os/guide/services/sssd/sssd_enable_pam_services/tests/multiple_wrong_entries.fail.sh
  linux_os/guide/services/sssd/sssd_enable_pam_services/tests/services_pam_missing.fail.sh
  linux_os/guide/services/sssd/sssd_enable_pam_services/tests/services_pam_wrong_section.fail.sh
  linux_os/guide/services/sssd/sssd_enable_pam_services/tests/sssd_config_missing.fail.sh
  linux_os/guide/services/sssd/sssd_enable_pam_services/tests/sssd_pam_services.pass.sh
  linux_os/guide/services/sssd/sssd_enable_pam_services/tests/sssd_pam_services_conf_d.pass.sh
  linux_os/guide/services/sssd/sssd_enable_pam_services/tests/wrong_sssd.conf
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remediation should not create files
  linux_os/guide/services/sssd/sssd_enable_pam_services/tests/sssd_config_missing.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Use sssd_conf_files_present applicability in sssd_enable_pam_services
  linux_os/guide/services/sssd/sssd_enable_pam_services/rule.yml
  linux_os/guide/services/sssd/sssd_enable_pam_services/tests/sssd_config_missing.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Aling Ansible remediation with Bash
  linux_os/guide/services/sssd/sssd_enable_pam_services/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Introduce applicability for sssd config files
  shared/applicability/oval/sssd_conf_files_present.xml
  shared/applicability/sssd_conf_files_present.yml
Due: none

Simplify and align logic in test scenarios
  linux_os/guide/services/sssd/sssd_enable_pam_services/tests/custom_conf_services_pam_missing.fail.sh
  linux_os/guide/services/sssd/sssd_enable_pam_services/tests/missing_sections.fail.sh
  linux_os/guide/services/sssd/sssd_enable_pam_services/tests/multiple_wrong_entries.fail.sh
  linux_os/guide/services/sssd/sssd_enable_pam_services/tests/services_pam_missing.fail.sh
  linux_os/guide/services/sssd/sssd_enable_pam_services/tests/services_pam_wrong_section.fail.sh
  linux_os/guide/services/sssd/sssd_enable_pam_services/tests/sssd_config_missing.fail.sh
  linux_os/guide/services/sssd/sssd_enable_pam_services/tests/sssd_pam_services.pass.sh
  linux_os/guide/services/sssd/sssd_enable_pam_services/tests/sssd_pam_services_conf_d.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

exclude more sssd related rules as they are being modified right now
  products/rhel10/profiles/anssi_bp28_enhanced.profile
  products/rhel10/profiles/anssi_bp28_high.profile
  products/rhel10/profiles/anssi_bp28_intermediary.profile
Due: none

Remove excess quotes
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_permissions_library_dirs/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add new version of conntrols file for SYS.1.6.A14
  controls/bsi_sys_1_6.yml
Due: none

Remove zipl_vsyscall_argument from OSPP control file.
  controls/ospp.yml
Due: none

Don't autoremove packages on dnf package uninstall
  shared/macros/10-bash.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove sshd_allow_only_protocol2 from RHEL 10
  controls/ism_o.yml
  products/rhel10/profiles/hipaa.profile
Due: none

Update snmpd_not_default_password to use systemctl
  linux_os/guide/services/snmp/snmp_configure_server/snmpd_not_default_password/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Move snmpd_use_newer_protocol to use systemctl for restart
  linux_os/guide/services/snmp/snmp_configure_server/snmpd_use_newer_protocol/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

dnf erase -> dnf remove
  shared/macros/01-general.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Move snmpd_no_rwusers to use systemctl for restart
  linux_os/guide/services/snmp/snmp_configure_server/snmpd_no_rwusers/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add new product kylinserver10 supporting
  CMakeLists.txt
  build_product
  controls/std_kylinserver10.yml
  linux_os/guide/services/obsolete/service_rsyncd_disabled/rule.yml
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_accept_source_route/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_forwarding/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_accept_source_route/rule.yml
  products/kylinserver10/CMakeLists.txt
  products/kylinserver10/product.yml
  products/kylinserver10/profiles/standard.profile
  products/kylinserver10/transforms/constants.xslt
  shared/applicability/package.yml
  shared/checks/oval/installed_OS_is_kylinserver10.xml
  shared/checks/oval/sysctl_kernel_ipv6_disable.xml
  shared/templates/pam_account_password_faillock/oval.template
  ssg/constants.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
