Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

OVAL, tests and remediation for file_groupownership_home_directories rule
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/rule.yml
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/tests/expected_groupowner.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/tests/home_dirs_all_absent.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/tests/home_dirs_one_absent.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/tests/home_dirs_with_same_groupowner.fail.sh
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/tests/interactive_users_absent.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/tests/unexpected_groupowner_system_id.fail.sh
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/tests/unexpected_groupowner_unknown_id.fail.sh
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/tests/warning_home_dirs_crossed_groupowner.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Included test scenarios for and fixed OVAL logic
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/tests/home_dir_absent.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/tests/home_dirs_all_absent.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/tests/home_dirs_one_absent.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/tests/interactive_users_absent.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/tests/warning_home_dirs_crossed_owner.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Introduced DEFAULT_GID_MIN constant
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/rule.yml
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/tests/home_dirs_all_absent.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/tests/warning_home_dirs_crossed_groupowner.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/tests/warning_home_dirs_swapped_groupowner.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/rule.yml
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/tests/home_dirs_all_absent.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/tests/warning_home_dirs_crossed_owner.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/tests/warning_home_dirs_swapped_owner.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_permissions_home_directories/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/file_permissions_home_directories/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/file_permissions_home_directories/oval/shared.xml
  ssg/constants.py
  ssg/products.py
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

OVAL, tests and remediation for file_ownership_home_directories rule
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/rule.yml
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/tests/expected_owner.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/tests/home_dir_absent.pass.sh
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/tests/home_dirs_with_same_owner.fail.sh
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/tests/unexpected_owner_system_id.fail.sh
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/tests/unexpected_owner_unknown_id.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update templated service disabled/enabled test scenarios
  shared/templates/service_disabled/tests/service_disabled.pass.sh
  shared/templates/service_disabled/tests/service_enabled.fail.sh
  shared/templates/service_enabled/tests/service_disabled.fail.sh
  shared/templates/service_enabled/tests/service_enabled.pass.sh
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Always esacpe parameter in ansible_set_config_file
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_encrypt_offload_actionsendstreamdriverauthmode/ansible/shared.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_encrypt_offload_actionsendstreamdrivermode/ansible/shared.yml
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_encrypt_offload_defaultnetstreamdriver/ansible/shared.yml
  shared/macros-ansible.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

accounts_no_uid_except_zero: Don't run passwd if awk returns nothing
  linux_os/guide/system/accounts/accounts-restrictions/root_logins/accounts_no_uid_except_zero/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add recursive parameter to file templates ansible remediation
  shared/templates/file_groupowner/ansible.template
  shared/templates/file_owner/ansible.template
  shared/templates/file_permissions/ansible.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add rule ebs_encryption_enabled for ocp4; Update rule fips_mode_enabled_on_workers
  applications/openshift/integrity/crypto/ebs_encryption_enabled/rule.yml
  controls/pcidss_ocp4.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node

Add recursive parameter to templates documentation
  docs/templates/template_reference.md
Due: none

Add github workflow action to output the diff of datastreams.
  .github/workflows/compare-ds.yaml
Due: none

fix configure_network_policies_namespaces check to compare netpol's namespace name instead of netpol name
  applications/openshift/networking/configure_network_policies_namespaces/oval/shared.xml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node

fix configure_network_policies_namespaces rule.yaml to compare netpol's namespace name instead of netpol name
  applications/openshift/networking/configure_network_policies_namespaces/rule.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node

Fix bash remediation spurious variable substitution
  shared/macros-bash.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Make sure files have newline during bash lineinfile remediation.
  shared/macros-bash.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add tests to file_ownership_audit_configuration
  linux_os/guide/system/auditing/auditd_configure_rules/file_ownership_audit_configuration/tests/correct_owner.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/file_ownership_audit_configuration/tests/incorrect_owner.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add rule dir_ownership_binary_dirs
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_ownership_binary_dirs/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add file_ownership_audit_configuration to Ubuntu 20.04 STIG profile
  products/ubuntu2004/profiles/stig.profile
Due: none

Add rule file_ownership_audit_binaries
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_ownership_audit_binaries/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add file_owner_var_log_syslog to Ubuntu 20.04 STIG profile
  products/ubuntu2004/profiles/stig.profile
Due: none

Add file_ownership_audit_binaries to Ubuntu 20.04 STIG
  products/ubuntu2004/profiles/stig.profile
Due: none

Fix bug in ansible remediation of file_owner template
  shared/templates/file_owner/ansible.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add rule file_ownership_audit_configuration
  linux_os/guide/system/auditing/auditd_configure_rules/file_ownership_audit_configuration/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add rule file_owner_var_log_syslog
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_owner_var_log_syslog/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add dir_ownership_binary_dirs to Ubuntu 20.04 STIG profile
  products/ubuntu2004/profiles/stig.profile
Due: none

Create a rule ebs_encrypted_or_fips_enabled
  applications/openshift/integrity/crypto/ebs_encrypted_or_fips_enabled/oval/shared.xml
  applications/openshift/integrity/crypto/ebs_encrypted_or_fips_enabled/rule.yml
  controls/pcidss_ocp4.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node

Fix Req 3.4.1 PCIDSS rule identifiers
  applications/openshift/integrity/crypto/ebs_encrypted_or_fips_enabled/rule.yml
  applications/openshift/integrity/crypto/ebs_encryption_enabled/rule.yml
  applications/openshift/integrity/crypto/fips_mode_enabled_on_workers/rule.yml
  controls/pcidss_ocp4.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node

Add incomplete tests for new rules
  applications/openshift/integrity/crypto/ebs_encrypted_or_fips_enabled/tests/ocp4/e2e.yml
  applications/openshift/integrity/crypto/ebs_encryption_enabled/tests/ocp4/e2e.yml
  applications/openshift/integrity/crypto/fips_mode_enabled_on_workers/tests/ocp4/e2e.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node

Fix a couple items from reviewers on ansible_lineinfile escaping
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_encrypt_offload_defaultnetstreamdriver/ansible/shared.yml
  shared/macros-ansible.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

DISA STIG reference update for SLE12 and SLE15
  products/sle12/profiles/stig.profile
  products/sle15/profiles/stig.profile
  shared/references/disa-stig-sle12-v2r5-xccdf-manual.xml
  shared/references/disa-stig-sle15-v1r4-xccdf-manual.xml
Due: none

Compare OCIL checks in compare_ds.py
  utils/compare_ds.py
Due: none

Add ability to generate OCIL directly
  build-scripts/build_shorthand.py
  ssg/build_yaml.py
  ssg/constants.py
Due: none

Generate OCIL alongside shorthand XML
  cmake/SSGCommon.cmake
  shared/transforms/shared_shorthand2xccdf.xslt
  shared/transforms/xccdf-create-ocil.xslt
  shared/transforms/xccdf-ocilcheck2ref.xslt
  ssg/build_yaml.py
Due: none

Refactor the export_ocil_to_file method
  ssg/build_yaml.py
Due: none

Rename CMake target
  cmake/SSGCommon.cmake
Due: none

Handle empty ocil_clause
  ssg/build_yaml.py
Due: none

Add LUKS encryption check to ebs_encrypted_or_fips_enabled rule
  applications/openshift/integrity/crypto/ebs_encrypted_or_fips_enabled/oval/shared.xml
  applications/openshift/integrity/crypto/ebs_encrypted_or_fips_enabled/rule.yml
  applications/openshift/integrity/crypto/ebs_encryption_enabled/rule.yml
  applications/openshift/integrity/crypto/ebs_encryption_enabled/tests/all_false.fail.sh
  applications/openshift/integrity/crypto/ebs_encryption_enabled/tests/correct.pass.sh
  applications/openshift/integrity/crypto/ebs_encryption_enabled/tests/no_file.fail.sh
  applications/openshift/integrity/crypto/luks_enabled_on_workers/rule.yml
  applications/openshift/integrity/crypto/luks_enabled_on_workers/tests/ocp4/e2e.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node

Update oval macros docs
  shared/macros-oval.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Various improvements in the style guide
  docs/manual/developer/04_style_guide.md
Due: none
