Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

controls: PCI-DSS section 10
  applications/openshift/integrity/file_integrity_exists/rule.yml
  applications/openshift/logging/directory_permissions_var_log_kube_audit/rule.yml
  applications/openshift/logging/directory_permissions_var_log_oauth_audit/rule.yml
  applications/openshift/logging/directory_permissions_var_log_ocp_audit/rule.yml
  applications/openshift/logging/file_ownership_var_log_kube_audit/rule.yml
  applications/openshift/logging/file_ownership_var_log_oauth_audit/rule.yml
  applications/openshift/logging/file_ownership_var_log_ocp_audit/rule.yml
  applications/openshift/logging/file_permissions_var_log_kube_audit/rule.yml
  applications/openshift/logging/file_permissions_var_log_oauth_audit/rule.yml
  applications/openshift/logging/file_permissions_var_log_ocp_audit/rule.yml
  applications/openshift/logging/partition_for_var_log_kube_apiserver/rule.yml
  applications/openshift/logging/partition_for_var_log_oauth_apiserver/rule.yml
  applications/openshift/logging/partition_for_var_log_openshift_apiserver/rule.yml
  applications/openshift/rbac/rbac_limit_cluster_admin/rule.yml
  controls/pcidss_ocp4.yml
  linux_os/guide/services/ntp/service_chronyd_or_ntpd_enabled/rule.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add rule audit_rules_privileged_commands_apparmor_parser
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_apparmor_parser/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add audit_rules_privileged_commands_apparmor_parser to ubuntu stig
  products/ubuntu2004/profiles/stig.profile
Due: none

Add ubuntu prodtype and references to audit_rules_privileged_commands_unix_update
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_unix_update/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add rule audit_rules_privileged_commands_unix_update to ubuntu stig
  products/ubuntu2004/profiles/stig.profile
Due: none

Add rule audit_rules_privileged_commands_fdisk
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_fdisk/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Introduce templated test scenarios for package_removed rules
  shared/templates/package_removed/tests/package-installed-removed.pass.sh
  shared/templates/package_removed/tests/package-installed.fail.sh
  shared/templates/package_removed/tests/package-removed.pass.sh
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add oval for audit_rules_privileged_commands_fdisk
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_fdisk/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add tests for audit_rules_privileged_commands_fdisk
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_fdisk/tests/auditctl_correct.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_fdisk/tests/auditctl_remove_all_rules.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_fdisk/tests/auditctl_wrong_rule.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_fdisk/tests/augenrules_correct.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_fdisk/tests/augenrules_remove_all_rules.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_fdisk/tests/augenrules_wrong_rule.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add bash for audit_rules_privileged_commands_fdisk
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_fdisk/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Fix requirements of section3
  controls/pcidss_ocp4.yml
Due: none

Update linux_os/guide/system/auditing/configure_auditd_data_retention/var_auditd_max_log_file_action.var
  linux_os/guide/system/auditing/configure_auditd_data_retention/var_auditd_max_log_file_action.var
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add audit_rules_privileged_commands_fdisk to ubuntu stig profile
  products/ubuntu2004/profiles/stig.profile
Due: none

Add rule audit_sudo_log_events
  linux_os/guide/system/auditing/auditd_configure_rules/audit_sudo_log_events/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add audit_sudo_log_events to Ubuntu STIG profile
  products/ubuntu2004/profiles/stig.profile
Due: none

Add directory to add tailorings for OCP
  ocp-resources/tailorings/rhcos4-moderate.yaml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Fix yaml indentation in pcidss_ocp4.yml
  controls/pcidss_ocp4.yml
Due: none

remove rule from rhel7 cis
  controls/cis_rhel7.yml
Due: none

Add packages metadata to configure_crypto_policy test scenarios
  linux_os/guide/system/software/integrity/crypto/configure_crypto_policy/tests/config_and_current_same_time.pass.sh
  linux_os/guide/system/software/integrity/crypto/configure_crypto_policy/tests/config_newer_than_current.fail.sh
  linux_os/guide/system/software/integrity/crypto/configure_crypto_policy/tests/missing_nss_config.fail.sh
  linux_os/guide/system/software/integrity/crypto/configure_crypto_policy/tests/missing_policy.fail.sh
  linux_os/guide/system/software/integrity/crypto/configure_crypto_policy/tests/missing_policy_file.fail.sh
  linux_os/guide/system/software/integrity/crypto/configure_crypto_policy/tests/nss_config_as_file.pass.sh
  linux_os/guide/system/software/integrity/crypto/configure_crypto_policy/tests/nss_config_as_symlink.pass.sh
  linux_os/guide/system/software/integrity/crypto/configure_crypto_policy/tests/policy_default_cis_l1.pass.sh
  linux_os/guide/system/software/integrity/crypto/configure_crypto_policy/tests/policy_default_nosha1_set.pass.sh
  linux_os/guide/system/software/integrity/crypto/configure_crypto_policy/tests/policy_default_set.pass.sh
  linux_os/guide/system/software/integrity/crypto/configure_crypto_policy/tests/policy_fips_ospp_set.pass.sh
  linux_os/guide/system/software/integrity/crypto/configure_crypto_policy/tests/policy_future_cis_l2.pass.sh
  linux_os/guide/system/software/integrity/crypto/configure_crypto_policy/tests/wrong_policy.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add initial support kube remediation templating
  linux_os/guide/services/ntp/chronyd_or_ntpd_specify_remote_server/tests/ocp4/e2e-remediation.sh
  shared/macros-kubernetes.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

removed the pass/fail tests, kept a single test
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/bash/cis_rhel7_require_emergency_target_auth.pass.sh
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/bash/cis_rhel7_require_emergency_target_auth.sh
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/bash/cis_rhel_7_require_singleuser_auth.pass.sh
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/bash/cis_rhel_7_require_singleuser_auth.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

removed line for specific cis profile to make test work with every profile
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/bash/cis_rhel7_require_emergency_target_auth.sh
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/bash/cis_rhel_7_require_singleuser_auth.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

moved the tests to the correct folder (bash -> tests)
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/tests/cis_rhel7_require_emergency_target_auth.sh
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/tests/cis_rhel_7_require_singleuser_auth.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Introduced documentation for ansible-role-openscap
  docs/manual/developer/02_building_complianceascode.md
Due: none

Introduced packit support.
  .packit.yaml
Due: none

RHCOS4: Mark wireless_disable_interfaces as NOT-APPLICABLE in e2e tests
  linux_os/guide/system/network/network-wireless/wireless_software/wireless_disable_interfaces/tests/ocp4/e2e.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update chronyd_specify_remote_server test platform and remove unnecessary empty lines
  linux_os/guide/services/ntp/chronyd_specify_remote_server/tests/correct.pass.sh
  linux_os/guide/services/ntp/chronyd_specify_remote_server/tests/correct_pool.pass.sh
  linux_os/guide/services/ntp/chronyd_specify_remote_server/tests/file_empty.fail.sh
  linux_os/guide/services/ntp/chronyd_specify_remote_server/tests/file_missing.fail.sh
  linux_os/guide/services/ntp/chronyd_specify_remote_server/tests/line_missing.fail.sh
  linux_os/guide/services/ntp/chronyd_specify_remote_server/tests/multiple_servers.pass.sh
  linux_os/guide/services/ntp/chronyd_specify_remote_server/tests/server_not_specified.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add ntpd_specify_remote_serve Bash and Ansible remediations
  linux_os/guide/services/ntp/ntpd_specify_remote_server/ansible/shared.yml
  linux_os/guide/services/ntp/ntpd_specify_remote_server/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add ntpd_specify_remote_serve tests
  linux_os/guide/services/ntp/ntpd_specify_remote_server/tests/correct.pass.sh
  linux_os/guide/services/ntp/ntpd_specify_remote_server/tests/file_empty.fail.sh
  linux_os/guide/services/ntp/ntpd_specify_remote_server/tests/file_missing.fail.sh
  linux_os/guide/services/ntp/ntpd_specify_remote_server/tests/multiple_servers.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add test scenarios specific for CIS
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_password_auth/tests/correct_value_cis_l2.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_remember_system_auth/tests/correct_value_cis_l2.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Fix issues with configure_crypto_policy when running in container
  linux_os/guide/system/software/integrity/crypto/configure_crypto_policy/tests/missing_nss_config.fail.sh
  linux_os/guide/system/software/integrity/crypto/configure_crypto_policy/tests/nss_config_as_symlink.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add ubuntu2004 to prodtype in bios_enable_execution_restrictions
  linux_os/guide/system/permissions/restrictions/enable_nx/bios_enable_execution_restrictions/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add disa and stigid references to bios_enable_execution_restrictions
  linux_os/guide/system/permissions/restrictions/enable_nx/bios_enable_execution_restrictions/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Make bios_enable_execution_restrictions oval check for dmesg instead of
  linux_os/guide/system/permissions/restrictions/enable_nx/bios_enable_execution_restrictions/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add bios_enable_execution_restrictions to Ubuntu 20.04 STIG profile
  products/ubuntu2004/profiles/stig.profile
Due: none

Add ubuntu2004 to prodtype on file_permissions_var_log_audit
  linux_os/guide/system/auditing/auditd_configure_rules/file_permissions_var_log_audit/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add stigid@ubuntu2004 to file_permissions_var_log_audit
  linux_os/guide/system/auditing/auditd_configure_rules/file_permissions_var_log_audit/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Adjust file_permissions_var_log_audit ocil
  linux_os/guide/system/auditing/auditd_configure_rules/file_permissions_var_log_audit/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add multi_platform_ubuntu to bash in file_permissions_var_log_audit
  linux_os/guide/system/auditing/auditd_configure_rules/file_permissions_var_log_audit/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Make file_permissions_var_log_audit bash script address log_file
  linux_os/guide/system/auditing/auditd_configure_rules/file_permissions_var_log_audit/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate
