Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

SUSE update chronyd max poll to support chrony.d
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/ansible/shared.yml
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update SRG-APP-000039-CTR-000110 for OCP4 STIG
  applications/openshift/networking/configure_network_policies/rule.yml
  controls/srg_ctr/SRG-APP-000039-CTR-000110.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Update SRG-APP-000068-CTR-000120 for OCP4 STIG
  controls/srg_ctr/SRG-APP-000068-CTR-000120.yml
Due: ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Update SRG-APP-000069-CTR-000125 for OCP4 STIG
  controls/srg_ctr/SRG-APP-000069-CTR-000125.yml
Due: ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Separate finding paths from loading test scenarios
  tests/ssg_test_suite/common.py
  tests/ssg_test_suite/rule.py
Due: none

Move variable definition nearer its usage
  tests/ssg_test_suite/rule.py
Due: none

Update SRG-APP-000131-CTR-000285 for OCP4 STIG
  controls/srg_ctr/SRG-APP-000131-CTR-000285.yml
Due: ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Extract function load_templated_test_scenarios
  tests/ssg_test_suite/common.py
  tests/ssg_test_suite/rule.py
Due: none

Extract function load_local_test_scenarios
  tests/ssg_test_suite/common.py
  tests/ssg_test_suite/rule.py
Due: none

Update shared.yml
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add system account owned file test scenario
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/tests/system_account_groupownership.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update rule to accept binaries with GID > 1000
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/oval/shared.xml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_groupownership_system_commands_dirs/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix PEP 8 problems
  tests/ssg_test_suite/common.py
Due: none

SUSE SLE15 add messagebus and nscd to authorized_local_users
  linux_os/guide/system/accounts/accounts-restrictions/var_accounts_authorized_local_users_regex.var
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Align test scenario value with variable's values.
  applications/openshift/kubelet/kubelet_enable_streaming_connections/tests/match.pass.sh
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Update gitpod HTML preview extension.
  .gitpod.yml
Due: none

Update contributors for v0.1.63 release
  Contributors.md
  Contributors.xml
Due: none

Add automated content to a rule
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_passwords_pam_faillock_audit/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_passwords_pam_faillock_audit/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_passwords_pam_faillock_audit/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_passwords_pam_faillock_audit/rule.yml
  products/ol8/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add tests to accounts_passwords_pam_faillock_audit
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_passwords_pam_faillock_audit/tests/common.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_passwords_pam_faillock_audit/tests/conflicting_settings_authselect.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_passwords_pam_faillock_audit/tests/expected_faillock_conf.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_passwords_pam_faillock_audit/tests/expected_pam_files.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_passwords_pam_faillock_audit/tests/missing_parameter.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

OCP: Fix rule kubelet_configure_event_creation
  applications/openshift/kubelet/kubelet_configure_event_creation/kubernetes/shared.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Fix Code Climate problem
  tests/ssg_test_suite/common.py
Due: none

Extract method _find_tests_paths
  tests/ssg_test_suite/rule.py
Due: none

Avoid confusion
  tests/ssg_test_suite/common.py
  tests/ssg_test_suite/rule.py
Due: none

Avoid data duplication
  tests/ssg_test_suite/common.py
  tests/ssg_test_suite/rule.py
Due: none

Avoid data duplication
  tests/ssg_test_suite/rule.py
Due: none

Double quote sysctl values
  shared/templates/sysctl/tests/symlink_different_option.pass.sh
  shared/templates/sysctl/tests/symlink_repeated_sysctl_conf.pass.sh
  shared/templates/sysctl/tests/symlink_root_duplicate.fail.sh
  shared/templates/sysctl/tests/symlink_root_incompliant.fail.sh
  shared/templates/sysctl/tests/symlink_same_option.fail.sh
  shared/templates/sysctl/tests/symlinks_to_same_file.pass.sh
  shared/templates/sysctl/tests/two_sysctls_on_d.fail.sh
  shared/templates/sysctl/tests/two_sysctls_on_same_file.pass.sh
  shared/templates/sysctl/tests/two_sysctls_on_same_file_name.fail.sh
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove unused import
  tests/ssg_test_suite/rule.py
Due: none

Remove unused setup.sh from workshop files.
  docs/workshop/setup.sh
Due: none

Update gitpod with workshop.
  .gitpod.yml
  docs/workshop/data/accounts_tmout/rule_yml
  docs/workshop/data/fix_build.patch
  docs/workshop/labs_setup.yml
Due: none

Make lab build individually with parameter.
  docs/workshop/data/accounts_tmout/rule.yml
  docs/workshop/labs_setup.yml
  docs/workshop/setup.sh
Due: none

Add lab1_introduction module.
  docs/workshop/README.md
  docs/workshop/images/0-01-resize_window.png
  docs/workshop/images/0-01-setup.png
  docs/workshop/images/0-01-workshop-menu.png
  docs/workshop/images/0-02-post_build.png
  docs/workshop/images/0-03-remediation.png
  docs/workshop/images/0-04-find_in_page.png
  docs/workshop/images/0-05-supersearch.png
  docs/workshop/images/0-06-ipaddress.png
  docs/workshop/images/2-01-guide.png
  docs/workshop/images/2-02-terminal.png
  docs/workshop/images/2-03-report.png
  docs/workshop/images/2-04-rule.png
  docs/workshop/images/4-01-guide.png
  docs/workshop/images/accounts_tmout_folder.png
  docs/workshop/images/browser-refresh.png
  docs/workshop/images/desktopfilefolder.png
  docs/workshop/images/files-navi.png
  docs/workshop/images/getting-report.png
  docs/workshop/images/html_guide.png
  docs/workshop/images/lab1.1-labuserlogin.png
  docs/workshop/images/lab1.1-scapreport.png
  docs/workshop/images/lab1.1-workstationconsole.png
  docs/workshop/images/lab1.2-newprofileID.png
  docs/workshop/images/lab1.2-savecustomization.png
  docs/workshop/images/lab1.2-scapworkbenchscan.png
  docs/workshop/images/labinfopage.png
  docs/workshop/images/load_content.png
  docs/workshop/images/navigateospp.png
  docs/workshop/images/scap_report_fail.png
  docs/workshop/images/scap_report_pass.png
  docs/workshop/images/scap_workbench_opened.png
  docs/workshop/images/scap_workbench_tailoring.png
  docs/workshop/images/select_profile.png
  docs/workshop/images/session_timeout.png
  docs/workshop/images/vmconsole.png
  docs/workshop/lab1_introduction.md
Due: none

Update how to open the guide in the workshop.
  docs/workshop/images/navigateospp.png
  docs/workshop/lab1_introduction.md
Due: none

Do not copy RHEL8 OSPP profiles in the workshop setup.
  docs/workshop/labs_setup.yml
Due: none

Initial import of workshop setup files.
  docs/workshop/data/Dockerfiles/test_suite-fedora
  docs/workshop/data/Dockerfiles/test_suite-rhel8
  docs/workshop/data/accounts_tmout/ansible/shared.yml
  docs/workshop/data/accounts_tmout/bash/shared.sh
  docs/workshop/data/accounts_tmout/oval/shared.xml
  docs/workshop/data/accounts_tmout/rule.yml
  docs/workshop/data/fix_build.patch
  docs/workshop/data/ospp-fedora.profile
  docs/workshop/data/ospp-rhel7.profile
  docs/workshop/data/ospp-rhel8.profile
  docs/workshop/data/rule_accounts_tmout/comment.fail.sh
  docs/workshop/data/rule_accounts_tmout/correct_value.pass.sh
  docs/workshop/data/rule_accounts_tmout/line_not_there.fail.sh
  docs/workshop/data/rule_accounts_tmout/wrong_value.fail.sh
  docs/workshop/data/ssh_config
  docs/workshop/labs_setup.yml
  docs/workshop/setup.sh
Due: none

Add step to copy ospp profile back to workshop setup.
  docs/workshop/labs_setup.yml
Due: none

Fixes to lab1 exercise documentation.
  docs/workshop/lab1_introduction.md
Due: none

Add adoc version of the lab exercise 1.
  docs/workshop/lab1_introduction.adoc
Due: none

Update images of lab exercise 1.
  docs/workshop/images/0-02-post_build.png
  docs/workshop/images/0-03-remediation.png
  docs/workshop/images/html_guide.png
  docs/workshop/images/session_timeout.png
  docs/workshop/lab1_introduction.adoc
  docs/workshop/lab1_introduction.md
Due: none

Lab exercise 1: Update section about commenting on bash remediation.
  docs/workshop/lab1_introduction.adoc
  docs/workshop/lab1_introduction.md
Due: none

fix white space problem
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate
