Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ci/prow/e2e-aws-ocp4-cis:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-cis-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-e8:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-pci-dss:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

update list of contributors
  Contributors.md
  Contributors.xml
Due: none

align Bash remediation with rule description
  linux_os/guide/system/software/integrity/crypto/configure_openssl_crypto_policy/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

update bash remediation to align with OVAL check
  linux_os/guide/system/software/integrity/crypto/configure_openssl_crypto_policy/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

align behavior of Ansible remediation to Bash remediation
  linux_os/guide/system/software/integrity/crypto/configure_openssl_crypto_policy/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Apply suggestions from code review
  linux_os/guide/system/software/integrity/crypto/configure_openssl_crypto_policy/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

align Ansible remediation with the rule description
  linux_os/guide/system/software/integrity/crypto/configure_openssl_crypto_policy/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Implement rules for CIS OCP Section 5.5
  applications/openshift/registry/ocp_allowed_registries/rule.yml
  applications/openshift/registry/ocp_allowed_registries_for_import/rule.yml
  applications/openshift/registry/ocp_insecure_allowed_registries_for_import/rule.yml
  applications/openshift/registry/ocp_insecure_registries/rule.yml
  controls/cis_ocp_1_4_0/section-5.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Add support for multiple STIG id assignments.
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_interval/rule.yml
  ssg/build_yaml.py
  tests/unit/ssg-module/test_build_yaml.py
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix test_suite_sle15
  Dockerfiles/id_dsa_test_key
  Dockerfiles/id_dsa_test_key.pub
  Dockerfiles/id_ecdsa_test_key
  Dockerfiles/id_ecdsa_test_key.pub
  Dockerfiles/id_rsa_test_key
  Dockerfiles/id_rsa_test_key.pub
  Dockerfiles/sle15-sp3v2
  Dockerfiles/test_suite-sle15
Due: none

Apply suggestions from code review
  .github/workflows/automatus-sle15.yaml
Due: none

Delete sshd_config
  Dockerfiles/sshd_config
Due: none

Added automatus-sle15.ymal and modifiied gate.yaml and test_suite-sle15 files
  .github/workflows/automatus-sle15.yaml
  .github/workflows/gate.yaml
  Dockerfiles/test_suite-sle15
Due: none

Update Dockerfiles/test_suite-sle15
  Dockerfiles/test_suite-sle15
Due: none

Files relates to SLES 15 SP 3 test container - podman
  Dockerfiles/id_dsa_test_key
  Dockerfiles/id_dsa_test_key.pub
  Dockerfiles/id_ecdsa_test_key
  Dockerfiles/id_ecdsa_test_key.pub
  Dockerfiles/id_rsa_test_key
  Dockerfiles/id_rsa_test_key.pub
  Dockerfiles/sle15-sp3v2
  Dockerfiles/sshd_config
Due: none

Update .github/workflows/automatus-sle15.yaml
  .github/workflows/automatus-sle15.yaml
Due: none

Modifications which support installation of bats and ShellCheck on SLE15
  .github/workflows/gate.yaml
Due: none

Add a small test scenario to prevent quoting issues
  linux_os/guide/system/network/network-firewalld/firewalld-backend/tests/extra_quotes.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Prevent quoting issues in rule firewalld-backend
  linux_os/guide/system/network/network-firewalld/firewalld-backend/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Change OVAL in accounts_users_home_files_ownership
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_ownership/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Change OVAL in accounts_user_dot_user_ownership
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_user_ownership/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Change OVAL in file_ownership_home_directories
  linux_os/guide/system/accounts/accounts-session/file_ownership_home_directories/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Change OVAL in file_permissions_home_directories
  linux_os/guide/system/accounts/accounts-session/file_permissions_home_directories/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Refactor OVAL code
  shared/macros/10-oval.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Change OVAL in accounts_users_home_files_permissions
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_permissions/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Change OVAL in accounts_umask_interactive_users
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_interactive_users/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Change OVAL in accounts_users_home_files_groupownership
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_groupownership/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix a wrong data type
  shared/macros/10-oval.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Change OVAL in file_groupownership_home_directories
  linux_os/guide/system/accounts/accounts-session/file_groupownership_home_directories/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Change OVAL in accounts_user_dot_group_ownership
  linux_os/guide/system/accounts/accounts-session/accounts_user_dot_group_ownership/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add an explanatory comment
  shared/macros/10-oval.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Check only local users home directories
  linux_os/guide/system/accounts/accounts-session/accounts_user_interactive_home_directory_exists/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/accounts_user_interactive_home_directory_exists/rule.yml
  shared/macros/10-oval.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add documentation of macro
  shared/macros/10-oval.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Extract code to a macro
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/oval/shared.xml
  shared/macros/10-oval.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Check password warning age only for local users
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_warn_age_existing/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Extract macro
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_warn_age_existing/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_set_post_pw_existing/oval/shared.xml
  shared/macros/10-oval.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove a parameter
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_min_life_existing/oval/shared.xml
  shared/macros/10-oval.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Check password max age only for local users
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_max_life_existing/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Use macro in OVAL
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_set_warn_age_existing/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Check password inactivity only for local users
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_set_post_pw_existing/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Extract macro
  shared/macros/10-oval.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
