Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

Include CEL content in PBs created by build_ds_container.py
  ocp-resources/ds-build-remote.yaml
  ocp-resources/ds-from-local-build.yaml
  utils/build_ds_container.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Adjust CEL Rules keys to snake case
  .claude/CLAUDE.md
  applications/openshift-virtualization/kubevirt-enforce-trusted-tls-registries/rule.yml
  applications/openshift-virtualization/kubevirt-no-permitted-host-devices/rule.yml
  applications/openshift-virtualization/kubevirt-no-vms-overcommitting-guest-memory/rule.yml
  applications/openshift-virtualization/kubevirt-nonroot-feature-gate-is-enabled/rule.yml
  applications/openshift-virtualization/kubevirt-persistent-reservation-disabled/rule.yml
  build-scripts/build_cel_content.py
  docs/manual/developer/07_understanding_build_system.md
  docs/manual/developer/13_cel_content.md
  products/ocp4/profiles/cis-vm-extension.profile
  ssg/build_yaml.py
  ssg/entities/profile_base.py
  tests/unit/ssg-module/test_build_cel_content.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

build_product: Set --datastream-only as deprecated
  build_product
Due: none

Remove wrong remediation metadata from test scenario.
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/tests/chrony_d_missing_main_conf_misconfigured.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

User remote_src for ansible copy to make sure the correct source file is used
  shared/templates/pam_account_password_faillock/ansible.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix Ansible remediation for sshd rules
  shared/macros/10-ansible.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix MCP server name
  .claude/skills/build-product/SKILL.md
  .claude/skills/create-rule/SKILL.md
  .claude/skills/draft-pr/SKILL.md
  .claude/skills/inspect-control/SKILL.md
  .claude/skills/map-controls/SKILL.md
  .claude/skills/map-requirement/SKILL.md
  .claude/skills/onboard-control/SKILL.md
  .claude/skills/run-tests/SKILL.md
  .claude/skills/shared/mcp_fallbacks.md
  .claude/skills/test-rule/SKILL.md
Due: none

Improve Claude Skills front matter
  .claude/skills/find-rule/SKILL.md
  .claude/skills/manage-profile/SKILL.md
Due: none

Update Ubuntu 22.04 STIG version and reference
  controls/stig_ubuntu2204.yml
  shared/references/disa-stig-ubuntu2204-v2r8-xccdf-manual.xml
Due: none

removing package_postfix_installed from sle12, sle15 defaults
  products/sle12/profiles/default.profile
  products/sle12/profiles/pci-dss-4.profile
  products/sle12/profiles/pci-dss.profile
  products/sle15/profiles/default.profile
  products/sle15/profiles/pci-dss-4.profile
Due: none

Update RHEL 8 DISA STIG from V2R6 to V2R7
  linux_os/guide/system/permissions/partitions/mount_option_boot_efi_nosuid/policy/stig/shared.yml
  linux_os/guide/system/permissions/partitions/mount_option_boot_efi_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_boot_efi_nosuid/tests/vfat_with_nosuid.pass.sh
  linux_os/guide/system/permissions/partitions/mount_option_boot_efi_nosuid/tests/vfat_without_nosuid.fail.sh
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_kptr_restrict/rule.yml
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_kptr_restrict/tests/value_2_rhel8.fail.sh
  linux_os/guide/system/permissions/restrictions/kernel_module_uvcvideo_disabled/rule.yml
  linux_os/guide/system/software/integrity/crypto/configure_libreswan_crypto_policy/policy/stig/shared.yml
  linux_os/guide/system/software/integrity/crypto/configure_libreswan_crypto_policy/rule.yml
  linux_os/guide/system/software/updating/security_patches_up_to_date/policy/stig/shared.yml
  products/rhel8/controls/stig_rhel8.yml
  products/rhel8/profiles/stig.profile
  products/rhel8/profiles/stig_gui.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Change template.py of grub2_bootloader_argument to support numeric comparison
  shared/templates/grub2_bootloader_argument/template.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Modify grub2_bootloader_argument OVAL template to support numeric comparison
  shared/templates/grub2_bootloader_argument/oval.template
  shared/templates/grub2_bootloader_argument/tests/arg_not_in_entries.fail.sh
  shared/templates/grub2_bootloader_argument/tests/arg_not_in_etcdefaultgrub.fail.sh
  shared/templates/grub2_bootloader_argument/tests/arg_not_in_etcdefaultgrub_recovery_disabled.fail.sh
  shared/templates/grub2_bootloader_argument/tests/arg_not_in_grubenv_and_not_referenced.pass.sh
  shared/templates/grub2_bootloader_argument/tests/arg_not_in_grubenv_but_referenced.fail.sh
  shared/templates/grub2_bootloader_argument/tests/arg_value_below_minimal.fail.sh
  shared/templates/grub2_bootloader_argument/tests/arg_value_meets_minimal.pass.sh
  shared/templates/grub2_bootloader_argument/tests/correct_recovery_disabled.pass.sh
  shared/templates/grub2_bootloader_argument/tests/correct_value_etcdefault_dir_noupdate.fail.sh
  shared/templates/grub2_bootloader_argument/tests/correct_value_grubenv_only.pass.sh
  shared/templates/grub2_bootloader_argument/tests/correct_value_mix_entries_and_grubenv.pass.sh
  shared/templates/grub2_bootloader_argument/tests/correct_value_noupdate.fail.sh
  shared/templates/grub2_bootloader_argument/tests/correct_value_remediated.pass.sh
  shared/templates/grub2_bootloader_argument/tests/correct_value_substring_right.pass.sh
  shared/templates/grub2_bootloader_argument/tests/invalid_rescue.pass.sh
  shared/templates/grub2_bootloader_argument/tests/wrong_value_entries.fail.sh
  shared/templates/grub2_bootloader_argument/tests/wrong_value_etcdefault.fail.sh
  shared/templates/grub2_bootloader_argument/tests/wrong_value_etcdefault_dir.fail.sh
  shared/templates/grub2_bootloader_argument/tests/wrong_value_etcdefaultgrub_recovery_disabled.fail.sh
  shared/templates/grub2_bootloader_argument/tests/wrong_value_grubenv.fail.sh
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Enable >= comparison for audit_backlog_limit and add docs
  docs/templates/template_reference.md
  linux_os/guide/auditing/grub2_audit_backlog_limit_argument/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

mount_option_nodev_nonroot_local_partitions: stop ignoring vfat partitions
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/ansible/shared.yml
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/bash/shared.sh
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/oval/shared.xml
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/tests/vfat_without_nodev.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

RHEL-09-671010: align with updated STIG
  products/rhel9/controls/stig_rhel9.yml
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Due: none

updated RHEL 9 STIG reference files
  shared/references/disa-stig-rhel9-v2r8-xccdf-manual.xml
  shared/references/disa-stig-rhel9-v2r8-xccdf-scap.xml
Due: none

aligning with updated RHEL-09-231105
  linux_os/guide/system/permissions/partitions/mount_option_boot_efi_nosuid/policy/stig/shared.yml
  linux_os/guide/system/permissions/partitions/mount_option_boot_efi_nosuid/tests/vfat_with_nosuid.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

remove rule from default profile, it is present in rhel9 stig profile so it does not belong in the default
  products/rhel9/profiles/default.profile
Due: none

RHEL-09-433016: align with the change by allowing more keywords in the policy
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/oval/shared.xml
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/rule.yml
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/tests/deny_audit_policy.pass.sh
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/tests/deny_log_policy.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

fix yaml lint issues
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_boot_efi_nosuid/policy/stig/shared.yml
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/ansible/shared.yml
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/rule.yml
  products/rhel9/controls/stig_rhel9.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

update STIG versions in control file and profiles
  products/rhel9/controls/stig_rhel9.yml
  products/rhel9/profiles/stig.profile
  products/rhel9/profiles/stig_gui.profile
Due: none

ssg/rule_yaml.py allow list of subkeys to be split over multiple lines when sorting them
  ssg/rule_yaml.py
Due: none

add tests to cover modified function for sorting keys
  tests/unit/ssg-module/test_rule_yaml.py
Due: none

fix yamllint problem
  products/rhel9/profiles/stig_gui.profile
Due: none

Add Claude Skill for creating Automatus test scenarios
  .claude/skills/create-test-scenarios/SKILL.md
Due: none

fix redundant characters
  linux_os/guide/system/permissions/partitions/mount_option_nodev_nonroot_local_partitions/rule.yml
  products/rhel9/controls/stig_rhel9.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Change status of CIS control 5.4.2.2 for Hummingbird
  products/hummingbird/controls/cis_hummingbird.yml
Due: none

Add rule package_rsyslog-gnutls_installed to ISM_O
  controls/ism_o.yml
  tests/data/profile_stability/rhel10/ism_o.profile
  tests/data/profile_stability/rhel10/ism_o_secret.profile
  tests/data/profile_stability/rhel10/ism_o_top_secret.profile
  tests/data/profile_stability/rhel8/ism_o.profile
  tests/data/profile_stability/rhel9/ism_o.profile
Due: none

update hipaa references
  ssg/constants.py
  tests/data/product_stability/alinux2.yml
  tests/data/product_stability/alinux3.yml
  tests/data/product_stability/anolis23.yml
  tests/data/product_stability/anolis8.yml
  tests/data/product_stability/debian11.yml
  tests/data/product_stability/debian12.yml
  tests/data/product_stability/debian13.yml
  tests/data/product_stability/eks.yml
  tests/data/product_stability/example.yml
  tests/data/product_stability/fedora.yml
  tests/data/product_stability/firefox.yml
  tests/data/product_stability/ocp4.yml
  tests/data/product_stability/ol7.yml
  tests/data/product_stability/ol8.yml
  tests/data/product_stability/ol9.yml
  tests/data/product_stability/openembedded.yml
  tests/data/product_stability/opensuse.yml
  tests/data/product_stability/rhcos4.yml
  tests/data/product_stability/rhel10.yml
  tests/data/product_stability/rhel8.yml
  tests/data/product_stability/rhel9.yml
  tests/data/product_stability/rhv4.yml
  tests/data/product_stability/sle12.yml
  tests/data/product_stability/sle15.yml
  tests/data/product_stability/ubuntu2204.yml
  tests/data/product_stability/ubuntu2404.yml
Due: none

add hipaa reference to rule package_postfix_installed
  linux_os/guide/services/mail/package_postfix_installed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Move 'failure_reason' from rule to CEL file
  .claude/CLAUDE.md
  applications/openshift-virtualization/kubevirt-enforce-trusted-tls-registries/cel/shared.yml
  applications/openshift-virtualization/kubevirt-enforce-trusted-tls-registries/rule.yml
  applications/openshift-virtualization/kubevirt-no-permitted-host-devices/cel/shared.yml
  applications/openshift-virtualization/kubevirt-no-permitted-host-devices/rule.yml
  applications/openshift-virtualization/kubevirt-no-vms-overcommitting-guest-memory/cel/shared.yml
  applications/openshift-virtualization/kubevirt-no-vms-overcommitting-guest-memory/rule.yml
  applications/openshift-virtualization/kubevirt-nonroot-feature-gate-is-enabled/cel/shared.yml
  applications/openshift-virtualization/kubevirt-nonroot-feature-gate-is-enabled/rule.yml
  applications/openshift-virtualization/kubevirt-persistent-reservation-disabled/cel/shared.yml
  applications/openshift-virtualization/kubevirt-persistent-reservation-disabled/rule.yml
  docs/manual/developer/04_style_guide.md
  docs/manual/developer/06_contributing_with_content.md
  docs/manual/developer/13_cel_content.md
  shared/schemas/rule.json
  ssg/build_yaml.py
Due: none

Small clarification on how CEL rules are picked up
  docs/manual/developer/07_understanding_build_system.md
  docs/manual/developer/13_cel_content.md
Due: none

Fix profile description typo
  products/ocp4/profiles/cis-vm-extension.profile
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Update references to CEL documentation
  .claude/CLAUDE.md
  docs/manual/developer/02_building_complianceascode.md
  docs/manual/developer/03_creating_content.md
  docs/manual/developer/06_contributing_with_content.md
  docs/manual/developer/07_understanding_build_system.md
Due: none

Fix authselect remediation with multiple features
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_pam_faillock_password_auth/tests/correct_value_with_features.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_pam_faillock_password_auth/tests/no_faillock_with_other_features.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_pam_faillock_password_auth/tests/sssd_profile_with_features.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_pam_faillock_password_auth/tests/sssd_single_feature_no_faillock.fail.sh
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Create Claude Skill for creating new product
  .claude/skills/create-product/SKILL.md
Due: none

Fix renovate.json syntax
  renovate.json
Due: none

account_password_pam_faillock_password_auth: remove redundant metadata from test scenario
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/account_password_pam_faillock_password_auth/tests/correct_value_with_features.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

enable more Packit-based Contest testing
  .packit.yaml
Due: none
