Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

[OL9 STIG V2R3] Add stigid@ol9 — Network DoS Prevention (27 rules)
  linux_os/guide/system/network/network-firewalld/firewalld-backend/rule.yml
  linux_os/guide/system/network/network-ipsec/libreswan_approved_tunnels/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_accept_ra/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_accept_redirects/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_accept_source_route/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_forwarding/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_accept_ra/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_accept_redirects/rule.yml
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_default_accept_source_route/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_accept_redirects/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_accept_source_route/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_forwarding/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_log_martians/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_rp_filter/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_default_accept_redirects/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_default_accept_source_route/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_default_log_martians/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_default_rp_filter/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_icmp_echo_ignore_broadcasts/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_icmp_ignore_bogus_error_responses/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_tcp_syncookies/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_parameters/sysctl_net_ipv4_conf_all_send_redirects/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_parameters/sysctl_net_ipv4_conf_default_send_redirects/rule.yml
  linux_os/guide/system/network/network-wireless/wireless_software/wireless_disable_interfaces/rule.yml
  linux_os/guide/system/network/network_configure_name_resolution/rule.yml
  linux_os/guide/system/network/network_sniffer_disabled/rule.yml
  linux_os/guide/system/network/networkmanager/networkmanager_dns_mode/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

[OL9 STIG V2R3] Add stigid@ol9 — Auditing (Immutable Rules) (2 rules)
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_immutable/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_immutable_login_uids/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

[OL9 STIG V2R3] Add stigid@ol9 — System Config (PKI / DoD CAs) (1 rules)
  linux_os/guide/system/network/network_ssl/only_allow_dod_certs/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

[OL9 STIG V2R3] Add stigid@ol9 — Kernel Modules (8 rules)
  linux_os/guide/system/network/network-uncommon/kernel_module_atm_disabled/rule.yml
  linux_os/guide/system/network/network-uncommon/kernel_module_can_disabled/rule.yml
  linux_os/guide/system/network/network-uncommon/kernel_module_firewire-core_disabled/rule.yml
  linux_os/guide/system/network/network-uncommon/kernel_module_sctp_disabled/rule.yml
  linux_os/guide/system/network/network-uncommon/kernel_module_tipc_disabled/rule.yml
  linux_os/guide/system/network/network-wireless/wireless_software/kernel_module_bluetooth_disabled/rule.yml
  linux_os/guide/system/permissions/mounting/kernel_module_cramfs_disabled/rule.yml
  linux_os/guide/system/permissions/mounting/kernel_module_usb-storage_disabled/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Enable for sle16 package_kea_removed rule
  linux_os/guide/services/dhcp/disabling_dhcp_server/package_kea_removed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Enable for sle16 package_sendmail_removed rule
  linux_os/guide/services/mail/package_sendmail_removed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Enable for sle16 service_chronyd_enabled rule
  linux_os/guide/services/ntp/service_chronyd_enabled/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Enable for sle16 package_xinetd_removed rule
  linux_os/guide/services/obsolete/inetd_and_xinetd/package_xinetd_removed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Enable for sle16 package_talk-server_removed rule
  linux_os/guide/services/obsolete/talk/package_talk-server_removed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Enable for sle16 package_talk_removed rule
  linux_os/guide/services/obsolete/talk/package_talk_removed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add accounts_passwords_pam_faillock rules for sle16
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny_root/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_interval/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_unlock_time/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Enabe for sle16 ensure_logrotate_activated rule
  linux_os/guide/system/logging/log_rotation/ensure_logrotate_activated/ansible/shared.yml
  linux_os/guide/system/logging/log_rotation/ensure_logrotate_activated/bash/shared.sh
  linux_os/guide/system/logging/log_rotation/ensure_logrotate_activated/oval/shared.xml
  linux_os/guide/system/logging/log_rotation/ensure_logrotate_activated/tests/logrotate_conf_weekly.fail.sh
  linux_os/guide/system/logging/log_rotation/ensure_logrotate_activated/tests/logrotate_no_cron_daily_no_timer.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Enable sysctl_net_ipv4_conf_all_drop_gratuitous_arp for sle16
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_drop_gratuitous_arp/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Enable for sle16 rule mount_option_tmp_noexec
  linux_os/guide/system/permissions/partitions/mount_option_tmp_noexec/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Adapt for SLE15/16 bash_ensure_pam_module_configuration macro
  shared/macros/10-bash.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add accounts_password_pam_unix_rounds_password_auth rule and remediations for sle16
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_password_auth/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_password_auth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_password_auth/oval/shared.xml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_password_auth/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Enable for sle16 sysctl_fs_protected* rules
  linux_os/guide/system/permissions/files/sysctl_fs_protected_fifos/rule.yml
  linux_os/guide/system/permissions/files/sysctl_fs_protected_regular/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Enable for sle16 sysctl_net_ipv6_conf_all_autoconf rule
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_autoconf/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Reserve for SLE16 CCE rules
  shared/references/cce-sle16-avail.txt
Due: none

Enable more rules for SLE16 ANSSI
  products/sle16/profiles/anssi_bp28_enhanced.profile
  products/sle16/profiles/anssi_bp28_high.profile
  products/sle16/profiles/anssi_bp28_intermediary.profile
  products/sle16/profiles/anssi_bp28_minimal.profile
Due: none

Enable sle16 specific checks and remediations for mount_option_tmp_noexec
  linux_os/guide/system/permissions/partitions/mount_option_tmp_noexec/ansible/sle16.yml
  linux_os/guide/system/permissions/partitions/mount_option_tmp_noexec/bash/sle16.sh
  linux_os/guide/system/permissions/partitions/mount_option_tmp_noexec/oval/sle16.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add sysctl_kernel_unprivileged_bpf_disabled and sysctl_kernel_yama_ptrace_scope sysctl_net_core_bpf_jit_harden rules
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_unprivileged_bpf_disabled/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_yama_ptrace_scope/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_net_core_bpf_jit_harden/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ensure:redhat_gpgkey_installed: in ansible remediation use direct command instead of rpmkey Ansible module
  linux_os/guide/system/software/updating/ensure_redhat_gpgkey_installed/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

clear entries before logind_session_timeout remediation
  linux_os/guide/system/accounts/accounts-physical/logind_session_timeout/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/logind_session_timeout/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

RHEL8 ANSSI kickstarts: align partitio sizes among files
  products/rhel8/kickstart/ssg-rhel8-anssi_bp28_enhanced-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-anssi_bp28_high-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-anssi_bp28_intermediary-ks.cfg
Due: none

Adjust RHEL 8 and RHEL 9 kickstarts to fit in 20 GB
  products/rhel8/kickstart/ssg-rhel8-anssi_bp28_enhanced-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-anssi_bp28_high-ks.cfg
  products/rhel8/kickstart/ssg-rhel8-anssi_bp28_intermediary-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-anssi_bp28_enhanced-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-anssi_bp28_high-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-anssi_bp28_intermediary-ks.cfg
  products/rhel9/kickstart/ssg-rhel9-ccn_intermediate-ks.cfg
Due: none

Move to service_dnsmasq_disabled for CIS in RHEL
  products/rhel10/controls/cis_rhel10.yml
  products/rhel8/controls/cis_rhel8.yml
  products/rhel9/controls/cis_rhel9.yml
Due: none

update profile stability tests
  tests/data/profile_stability/rhel10/cis.profile
  tests/data/profile_stability/rhel10/cis_server_l1.profile
  tests/data/profile_stability/rhel10/cis_workstation_l1.profile
  tests/data/profile_stability/rhel10/cis_workstation_l2.profile
  tests/data/profile_stability/rhel8/cis.profile
  tests/data/profile_stability/rhel8/cis_server_l1.profile
  tests/data/profile_stability/rhel8/cis_workstation_l1.profile
  tests/data/profile_stability/rhel8/cis_workstation_l2.profile
  tests/data/profile_stability/rhel9/cis.profile
  tests/data/profile_stability/rhel9/cis_server_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l2.profile
Due: none

add cces to service_dnsmasq_disabled
  linux_os/guide/services/dns/service_dnsmasq_disabled/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add package_dnsmasq_removed to default profiles for rhels
  products/rhel10/profiles/default.profile
  products/rhel8/profiles/default.profile
  products/rhel9/profiles/default.profile
Due: none

enlarge /usr partition in bsi kickstart
  products/rhel9/kickstart/ssg-rhel9-bsi-ks.cfg
Due: none

Add Claude Code skills for content development workflows
  .claude/skills/build-product/SKILL.md
  .claude/skills/create-rule/SKILL.md
  .claude/skills/draft-pr/SKILL.md
  .claude/skills/inspect-control/SKILL.md
  .claude/skills/map-controls/SKILL.md
  .claude/skills/map-requirement/SKILL.md
  .claude/skills/onboard-control/SKILL.md
  .claude/skills/run-tests/SKILL.md
  .claude/skills/shared/mcp_fallbacks.md
  .claude/skills/test-rule/SKILL.md
Due: none

add brief documentation regarding skills
  docs/manual/developer/12_ai_skills.md
Due: none

Update find-rule skill to look for sibling rules
  .claude/skills/find-rule/SKILL.md
Due: none
