Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

Enable sshd distributed config checking for OCP4
  products/ocp4/product.yml
  tests/data/product_stability/ocp4.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Use separate ansible variables for sq and gpg.
  linux_os/guide/system/software/updating/ensure_redhat_gpgkey_installed/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Implement parameter to build cel-content
  .claude/CLAUDE.md
  .github/workflows/ocp-test-profiles.yaml
  Dockerfiles/compliance-operator-content-konflux.Containerfile
  Dockerfiles/ocp4_content
  Dockerfiles/quay_publish
  build_product
  docs/manual/developer/02_building_complianceascode.md
  docs/manual/developer/12_cel_content.md
  ocp-resources/ds-build-remote.yaml
  utils/add_kubernetes_rule.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

CI yamllint: lint all changed files
  .github/workflows/ci_lint.yml
Due: none

yamllint config: lint only certain file extensions
  .yamllint
Due: none

Add hummingbird product definition
  CMakeLists.txt
  build_product
  products/hummingbird/CMakeLists.txt
  products/hummingbird/product.yml
  products/hummingbird/profiles/cis.profile
  products/hummingbird/profiles/stig.profile
  shared/checks/oval/installed_OS_is_hummingbird.xml
  shared/checks/oval/sysctl_kernel_ipv6_disable.xml
  ssg/constants.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add --datastream parameter to build datastreams
  .claude/CLAUDE.md
  .github/workflows/ocp-test-profiles.yaml
  Dockerfiles/compliance-operator-content-konflux.Containerfile
  Dockerfiles/ocp4_content
  Dockerfiles/quay_publish
  build_product
  docs/manual/developer/02_building_complianceascode.md
  docs/manual/developer/12_cel_content.md
  ocp-resources/ds-build-remote.yaml
  utils/add_kubernetes_rule.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add hummingbird CIS and STIG control files
  products/hummingbird/controls/cis_hummingbird.yml
  products/hummingbird/controls/stig_hummingbird.yml
Due: none

Adapt existing rules and macros for hummingbird
  linux_os/guide/services/obsolete/package_rsync_removed/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_group_ownership_library_dirs/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_ownership_library_dirs/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/dir_permissions_library_dirs/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_ownership_library_dirs/rule.yml
  linux_os/guide/system/permissions/files/permissions_within_important_dirs/file_permissions_library_dirs/rule.yml
  linux_os/guide/system/software/integrity/certified-vendor/installed_OS_is_vendor_supported/oval/shared.xml
  linux_os/guide/system/software/integrity/certified-vendor/installed_OS_is_vendor_supported/rule.yml
  linux_os/guide/system/software/integrity/crypto/configure_crypto_policy/rule.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_never_disabled/rule.yml
  linux_os/guide/system/software/updating/ensure_redhat_gpgkey_installed/rule.yml
  linux_os/guide/system/software/updating/group.yml
  shared/macros/01-general.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add container default user exception in OVAL macro
  shared/macros/10-oval.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

yamllint config: add comments and disable truthy rule
  .yamllint
Due: none

fix lint error in the workflow file
  .github/workflows/ci_lint.yml
Due: none

fix lint errors in the yamllint configuration it self
  .yamllint
Due: none

CMP-4112: Update kubeletconfig OVAL path to /var/run/compliance-operator
  applications/openshift/kubelet/kubelet_anonymous_auth/rule.yml
  applications/openshift/kubelet/kubelet_authorization_mode/rule.yml
  applications/openshift/kubelet/kubelet_configure_client_ca/rule.yml
  applications/openshift/kubelet/kubelet_configure_event_creation/rule.yml
  applications/openshift/kubelet/kubelet_configure_event_creation/tests/match.pass.sh
  applications/openshift/kubelet/kubelet_configure_event_creation/tests/nomatch.fail.sh
  applications/openshift/kubelet/kubelet_configure_tls_cipher_suites/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_cipher_suites/tests/match.pass.sh
  applications/openshift/kubelet/kubelet_configure_tls_cipher_suites/tests/nomatch.fail.sh
  applications/openshift/kubelet/kubelet_configure_tls_min_version/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_min_version/tests/match.pass.sh
  applications/openshift/kubelet/kubelet_configure_tls_min_version/tests/nomatch.fail.sh
  applications/openshift/kubelet/kubelet_disable_hostname_override/rule.yml
  applications/openshift/kubelet/kubelet_enable_cert_rotation/rule.yml
  applications/openshift/kubelet/kubelet_enable_client_cert_rotation/rule.yml
  applications/openshift/kubelet/kubelet_enable_iptables_util_chains/rule.yml
  applications/openshift/kubelet/kubelet_enable_protect_kernel_defaults/rule.yml
  applications/openshift/kubelet/kubelet_enable_server_cert_rotation/rule.yml
  applications/openshift/kubelet/kubelet_enable_streaming_connections/rule.yml
  applications/openshift/kubelet/kubelet_enable_streaming_connections/tests/match.pass.sh
  applications/openshift/kubelet/kubelet_enable_streaming_connections/tests/nomatch.fail.sh
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_hard_imagefs_available/rule.yml
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_hard_imagefs_available/tests/match.pass.sh
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_hard_imagefs_available/tests/nomatch.fail.sh
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_hard_imagefs_inodesfree/rule.yml
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_hard_memory_available/rule.yml
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_hard_memory_available/tests/match.pass.sh
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_hard_memory_available/tests/nomatch.fail.sh
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_hard_nodefs_available/rule.yml
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_hard_nodefs_available/tests/match.pass.sh
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_hard_nodefs_available/tests/nomatch.fail.sh
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_hard_nodefs_inodesfree/rule.yml
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_hard_nodefs_inodesfree/tests/match.pass.sh
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_hard_nodefs_inodesfree/tests/nomatch.fail.sh
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_soft_imagefs_available/rule.yml
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_soft_imagefs_inodesfree/rule.yml
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_soft_memory_available/rule.yml
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_soft_nodefs_available/rule.yml
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_soft_nodefs_inodesfree/rule.yml
  applications/openshift/kubelet/kubelet_read_only_port_secured/rule.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Use sufficient in remediation for pam_faillock rules
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_commonauth/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_commonauth/rule.yml
  shared/macros/10-bash.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Replace unsupported cracklib with pwquality rules
  products/sle16/profiles/pci-dss-4.profile
Due: none

Add rule ensure_gpgcheck_never_disabled to the dnf component
  components/dnf.yml
Due: none

cover also .profile files
  .yamllint
Due: none

Ensure dot files permissions are 0740 or less.
  linux_os/guide/system/accounts/accounts-session/file_permission_user_init_files/rule.yml
  linux_os/guide/system/accounts/accounts-session/file_permission_user_init_files_root/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add auditd_data_retention_action_mail_acct for cis rhel 10
  products/rhel10/controls/cis_rhel10.yml
Due: none

add package_postfix_installed to multiple controls
  controls/hipaa.yml
  controls/pcidss_3.yml
  controls/pcidss_4.yml
  controls/srg_gpos/SRG-OS-000046-GPOS-00022.yml
  products/rhel9/controls/cis_rhel9.yml
Due: none

Change platforms in sysctl_kernel_ipv6_disable
  shared/checks/oval/sysctl_kernel_ipv6_disable.xml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Limit the dnf platform in ensure_gpgcheck_never_disabled
  linux_os/guide/system/software/updating/ensure_gpgcheck_never_disabled/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

remove forgotten conditional from workflow
  .github/workflows/ci_lint.yml
Due: none

strip Jinja constructs before running yamllint
  .github/workflows/ci_lint.yml
  utils/strip_jinja_for_yamllint.py
Due: none

update profile stability for cis, hipaa, pcidss
  linux_os/guide/services/mail/package_postfix_installed/rule.yml
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel10/cis.profile
  tests/data/profile_stability/rhel10/cis_workstation_l2.profile
  tests/data/profile_stability/rhel10/hipaa.profile
  tests/data/profile_stability/rhel10/pci-dss.profile
  tests/data/profile_stability/rhel10/stig.profile
  tests/data/profile_stability/rhel10/stig_gui.profile
  tests/data/profile_stability/rhel8/hipaa.profile
  tests/data/profile_stability/rhel8/pci-dss.profile
  tests/data/profile_stability/rhel9/cis.profile
  tests/data/profile_stability/rhel9/cis_workstation_l2.profile
  tests/data/profile_stability/rhel9/hipaa.profile
  tests/data/profile_stability/rhel9/pci-dss.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update notes and statuses in control files
  products/hummingbird/controls/cis_hummingbird.yml
Due: none

Remove chrony_set_nts from STIG profiles
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
  linux_os/guide/services/ntp/chrony_set_nts/rule.yml
  products/rhel10/profiles/default.profile
  tests/data/profile_stability/rhel10/stig.profile
  tests/data/profile_stability/rhel10/stig_gui.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add sysctl_net_ipv6_conf_all_disable_ipv6 to ocp4
  products/ocp4/profiles/default.profile
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Fix error message for no platform on fix
  ssg/fixes.py
Due: none

Fix augenrules OVAL check for Fedora and flatten conditionals
  shared/checks/oval/audit_rules_augenrules.xml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

use default /etc/security/faillock.conf for sle16.
  product_properties/10-pam-faillock-conf.yml
  shared/templates/pam_account_password_faillock/ansible.template
  shared/templates/pam_account_password_faillock/bash.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

/etc/pam.d/password-auth and /etc/pam.d/system-auth are not used by SUSE OS So skip all Ansible steps related to those
  shared/macros/10-ansible.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add package installation command for OL10
  tests/ssg_test_suite/common.py
Due: none

Introduce new remediation type hummingbird
  docs/manual/developer/06_contributing_with_content.md
  products/hummingbird/CMakeLists.txt
  ssg/build_remediations.py
  ssg/constants.py
  ssg/templates.py
Due: none

Improve format of generated script
  build-scripts/generate_profile_remediations.py
Due: none

Add an example remediation for Hummingbird
  linux_os/guide/services/obsolete/r_services/no_host_based_files/hummingbird/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add unit tests for generate_profile_remediations.py
  tests/CMakeLists.txt
  tests/unit/build-scripts/test_generate_profile_remediations.py
  tox.ini
Due: none

Add an explanatory comment
  build-scripts/generate_profile_remediations.py
Due: none
