Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

OCP4 adds OVN,SDN networkType CPE
  products/ocp4/product.yml
  shared/checks/oval/installed_app_is_ocp4.xml
  shared/checks/oval/installed_app_is_ocp4_node.xml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add github workflow to publish statistics, guides and tables.
  .github/workflows/gh-pages.yaml
  utils/generate_html_pages.sh
Due: none

Update README page with new link to statistics workflow page.
  README.md
Due: none

Update RHEL8 STIG manual benchmark to V1R5.
  shared/references/disa-stig-rhel8-v1r5-xccdf-manual.xml
Due: none

Update DISA RHEL8 STIG scap content to V1R4.
  shared/references/disa-stig-rhel8-v1r4-xccdf-scap.xml
Due: none

Bump RHEL8 STIG profiles and docs to V1R5.
  docs/manual/developer/05_tools_and_utilities.md
  products/rhel8/profiles/stig.profile
  products/rhel8/profiles/stig_gui.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Due: none

Update RHEL7 STIG manual benchmark to V3R6.
  shared/references/disa-stig-rhel7-v3r6-xccdf-manual.xml
Due: none

Update DISA RHEL7 STIG scap content to V3R6.
  shared/references/disa-stig-rhel7-v3r6-xccdf-scap.xml
Due: none

Bump RHEL7 STIG profiles and docs to V3R6.
  products/rhel7/profiles/stig.profile
  products/rhel7/profiles/stig_gui.profile
Due: none

Update EKS CIS section 2
  controls/cis_eks.yml
Due: none

Add script that generates an HTML page to display guides.
  utils/choosing_policy_page.py
  utils/generate_html_pages.sh
Due: none

Remove duplicated STIG rule. RHEL-08-010560 is now removed from V1R5.
  controls/stig_rhel8.yml
  products/rhel8/profiles/stig.profile
  products/rhel9/profiles/stig.profile
Due: none

Update configure_bashrc_exec_tmux to consider .d directory.
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/oval/shared.xml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/rule.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/tests/correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/tests/correct_value_d_directory.pass.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/tests/duplicate_value_multiple_files.fail.sh
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/tests/wrong_value.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Added utils/compare_disa_xml.py
  docs/manual/developer/05_tools_and_utilities.md
  utils/compare_disa_xml.py
Due: none

Evaluate EKS Section 5.1
  controls/cis_eks.yml
Due: none

Base the gh-pages workflow on Fedora.
  .github/workflows/gh-pages.yaml
Due: none

Add tests for distributed SSHD RekeyLimit config
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/tests/bad_size_directory.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/tests/bad_time_directory.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/tests/no_line_directory.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/tests/rhel8_ok.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/tests/rhel9_ok.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update rule to handle distributed config
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/ansible/shared.yml
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/bash/shared.sh
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_rekey_limit/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Evaluate CIS EKS benchmark section 5.2
  controls/cis_eks.yml
Due: none

Evaluate CIS EKS benchmark section 5.3
  controls/cis_eks.yml
Due: none

Add missing rsync dependency to gh-pages workflow.
  .github/workflows/gh-pages.yaml
Due: none

Evaluate EKS CIS section 5.4
  controls/cis_eks.yml
Due: none

Evaluate EKS CIS benchmark section 5.5
  controls/cis_eks.yml
Due: none

Evaluate EKS CIS benchmark section 5.6
  controls/cis_eks.yml
Due: none

Evaluate EKS CIS benchmark section 4.1
  controls/cis_eks.yml
Due: none

Add workaround to gitpod so the container image can be built.
  .gitpod.yml
Due: none

Run SSGTS docker container with seccomp=unconfined option.
  tests/ssg_test_suite/test_env.py
Due: none

Update denylisted folders in choosing_policy_page.py script.
  utils/choosing_policy_page.py
Due: none

Introduce nonzero_check to accounts_password
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_maxclassrepeat/rule.yml
  shared/templates/accounts_password/oval.template
  shared/templates/accounts_password/template.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Implement OVAL selinux_context_elevation_for_sudo
  linux_os/guide/system/selinux/selinux_context_elevation_for_sudo/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Select an older version of Fedora image (34) in gitpod.
  .gitpod.launch.json
  .gitpod.yml
  Dockerfiles/test_suite-fedora
Due: none

Update vars in ol7 STIG profile to meet v2r6
  products/ol7/profiles/stig.profile
Due: none

Update STIG IDs to meet ol7 v2r6
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchmod/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchmodat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchown/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchownat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fremovexattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fsetxattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_lchown/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_lremovexattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_lsetxattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_removexattr/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_rename/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_renameat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_rmdir/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_unlinkat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_creat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_ftruncate/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_open_by_handle_at/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_openat/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification_truncate/rule.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_finit/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/package_aide_installed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update ol7 stig profile version info
  products/ol7/profiles/stig.profile
  products/ol7/profiles/stig_gui.profile
  shared/references/disa-stig-ol7-v2r6-xccdf-manual.xml
Due: none

Update accounts_authorized_local_users for OL
  linux_os/guide/system/accounts/accounts-restrictions/accounts_authorized_local_users/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/accounts_authorized_local_users/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/var_accounts_authorized_local_users_regex.var
  products/ol7/profiles/stig.profile
  products/ol8/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update ensure_oracle_gpgkey_installed
  linux_os/guide/system/software/updating/ensure_oracle_gpgkey_installed/bash/shared.sh
  linux_os/guide/system/software/updating/ensure_oracle_gpgkey_installed/oval/shared.xml
  linux_os/guide/system/software/updating/ensure_oracle_gpgkey_installed/rule.yml
  products/ol7/product.yml
  products/ol8/product.yml
  products/ol9/product.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Fix the directory for products stats script
  utils/generate_html_pages.sh
Due: none

Update accounts_password_pam_maxclassrepeat rule
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_maxclassrepeat/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Fix the PR URL in the Gitpod workflow that adds the comment to a PR.
  .github/workflows/ctf.yaml
Due: none

Fix gh-pages build.
  utils/generate_html_pages.sh
Due: none
