Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

Do not change comments by remediations
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_algorithm_logindefs/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_maximum_age_login_defs/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_minimum_age_login_defs/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_minlen_login_defs/bash/shared.sh
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_warn_age_login_defs/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add ocp platforms to some eks shared OVALs
  shared/applicability/oval/installed_app_is_eks.xml
  shared/applicability/oval/installed_app_is_eks_node.xml
Due: none

Support drop-in config in journald rules on RHEL
  linux_os/guide/system/logging/journald/journald_compress/rule.yml
  linux_os/guide/system/logging/journald/journald_forward_to_syslog/rule.yml
  linux_os/guide/system/logging/journald/journald_storage/rule.yml
  products/fedora/product.yml
  products/rhel8/product.yml
  products/rhel9/product.yml
  products/sle15/product.yml
  shared/templates/systemd_dropin_configuration/ansible.template
  shared/templates/systemd_dropin_configuration/bash.template
  shared/templates/systemd_dropin_configuration/tests/correct_dir.pass.sh
  shared/templates/systemd_dropin_configuration/tests/correct_master.pass.sh
  shared/templates/systemd_dropin_configuration/tests/multiple_vals.fail.sh
  shared/templates/systemd_dropin_configuration/tests/wrong_dir.fail.sh
  shared/templates/systemd_dropin_configuration/tests/wrong_master.fail.sh
  tests/data/product_stability/fedora.yml
  tests/data/product_stability/rhel8.yml
  tests/data/product_stability/rhel9.yml
  tests/data/product_stability/sle15.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Removes shebang from files that are not directly executed
  utils/oscal/__init__.py
  utils/oscal/cd_generator.py
  utils/oscal/control_selector.py
  utils/oscal/params_extractor.py
  utils/oscal/rules_transformer.py
Due: none

xccdf_org.ssgproject.content_rule_accounts_tmout: replace 'declare' by 'typeset'
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/bash/shared.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/policy/stig/shared.yml
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/tests/conflicting_values_diff_file.fail.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/tests/conflicting_values_same_file.fail.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/tests/correct_value_bashrc.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/tests/correct_value_profile.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/tests/correct_value_profile_d.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/tests/duplicate_correct_value_diff_files.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/tests/duplicate_correct_value_profile.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/tests/duplicate_correct_value_profile_d.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/tests/supercompliance_profile.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/tests/supercompliance_profile_d.pass.sh
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/tests/wrong_value_bashrc.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Allow using declare keyword
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/rule.yml
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/tests/correct_value_profile_declare.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add a note to the description
  linux_os/guide/system/accounts/accounts-session/accounts_tmout/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add new rule file_cron_allow_exists
  components/cronie.yml
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  linux_os/guide/services/cron_and_at/restrict_at_cron_users/file_cron_allow_exists/rule.yml
  linux_os/guide/services/cron_and_at/restrict_at_cron_users/file_cron_allow_exists/tests/dne.fail.sh
  linux_os/guide/services/cron_and_at/restrict_at_cron_users/file_cron_allow_exists/tests/exists.pass.sh
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add bsi constant
  shared/transforms/shared_constants.xslt
  ssg/constants.py
Due: none

Define notes and rules for BSI APP.4.4.A12
  applications/openshift/registry/ocp_insecure_allowed_registries_for_import/rule.yml
  applications/openshift/registry/ocp_insecure_registries/rule.yml
  controls/bsi_app_4_4.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Update product_stability test data with BSI reference
  tests/data/product_stability/alinux2.yml
  tests/data/product_stability/alinux3.yml
  tests/data/product_stability/anolis23.yml
  tests/data/product_stability/anolis8.yml
  tests/data/product_stability/chromium.yml
  tests/data/product_stability/debian10.yml
  tests/data/product_stability/debian11.yml
  tests/data/product_stability/debian12.yml
  tests/data/product_stability/eks.yml
  tests/data/product_stability/fedora.yml
  tests/data/product_stability/firefox.yml
  tests/data/product_stability/macos1015.yml
  tests/data/product_stability/ocp4.yml
  tests/data/product_stability/ol7.yml
  tests/data/product_stability/ol8.yml
  tests/data/product_stability/ol9.yml
  tests/data/product_stability/openembedded.yml
  tests/data/product_stability/opensuse.yml
  tests/data/product_stability/rhcos4.yml
  tests/data/product_stability/rhel7.yml
  tests/data/product_stability/rhel8.yml
  tests/data/product_stability/rhel9.yml
  tests/data/product_stability/rhv4.yml
  tests/data/product_stability/sle12.yml
  tests/data/product_stability/sle15.yml
  tests/data/product_stability/ubuntu1604.yml
  tests/data/product_stability/ubuntu1804.yml
  tests/data/product_stability/ubuntu2004.yml
  tests/data/product_stability/ubuntu2204.yml
  tests/data/product_stability/uos20.yml
Due: none

Add optional parameters to file_existence template
  docs/templates/template_reference.md
  shared/templates/file_existence/ansible.template
  shared/templates/file_existence/bash.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Create the cron.allow file with correct permissions
  linux_os/guide/services/cron_and_at/restrict_at_cron_users/file_cron_allow_exists/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add explaining comment to mount_option bash template
  shared/templates/mount_option/bash.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add missing ocil part
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

align the audit line with remediations and check
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update k8s action to build image on new PR
  .github/workflows/k8s-content-pr.yaml
Due: none

Separate subparsers to functions
  build-scripts/profile_tool.py
Due: none

Format via black tool
  build-scripts/profile_tool.py
Due: none

Fix typo
  build-scripts/profile_tool.py
Due: none

Rename functions
  build-scripts/profile_tool.py
Due: none

Decompose statistics generation in html
  build-scripts/profile_tool.py
Due: none

Move import to top of file
  utils/profile_tool/stats.py
Due: none

Separate commands to functions
  build-scripts/profile_tool.py
Due: none

Move command processing to separate files
  build-scripts/profile_tool.py
  utils/profile_tool/__init__.py
  utils/profile_tool/stats.py
  utils/profile_tool/sub.py
Due: none

Remove unnessary conditionals
  utils/profile_tool/sub.py
Due: none

Update CIS version in RHEL8 control file
  controls/cis_rhel8.yml
Due: none

Update CIS RHEL8 section 1.1.1
  controls/cis_rhel8.yml
Due: none

Fix import problem
  utils/profile_tool/stats.py
Due: none

Update rules related to CIS RHEL8 1.1.1
  linux_os/guide/system/permissions/mounting/kernel_module_freevxfs_disabled/rule.yml
  linux_os/guide/system/permissions/mounting/kernel_module_hfs_disabled/rule.yml
  linux_os/guide/system/permissions/mounting/kernel_module_hfsplus_disabled/rule.yml
  linux_os/guide/system/permissions/mounting/kernel_module_jffs2_disabled/rule.yml
  linux_os/guide/system/permissions/mounting/kernel_module_squashfs_disabled/rule.yml
  linux_os/guide/system/permissions/mounting/kernel_module_udf_disabled/rule.yml
  linux_os/guide/system/permissions/mounting/kernel_module_usb-storage_disabled/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update CIS RHEL8 section 1.1.2
  controls/cis_rhel8.yml
Due: none

Update rules related to CIS RHEL8 1.1.2
  linux_os/guide/system/permissions/partitions/mount_option_dev_shm_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_dev_shm_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_dev_shm_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_grpquota/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_usrquota/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_tmp_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_tmp_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_tmp_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_audit_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_audit_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_audit_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_nosuid/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_dev_shm/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_home/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_tmp/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_var/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_var_log/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_var_log_audit/rule.yml
  linux_os/guide/system/software/disk_partitioning/partition_for_var_tmp/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove dropped filesystem requiremens from CIS RHEL8 1
  controls/cis_rhel8.yml
  linux_os/guide/system/permissions/mounting/service_autofs_disabled/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update CIS RHEL8 section 1.2
  controls/cis_rhel8.yml
Due: none

Update rules related to CIS RHEL8 1.2
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/rule.yml
  linux_os/guide/system/software/updating/ensure_redhat_gpgkey_installed/rule.yml
  linux_os/guide/system/software/updating/security_patches_up_to_date/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update CIS RHEL8 section 1.3
  controls/cis_rhel8.yml
Due: none

Update rules related to CIS RHEL8 1.3
  linux_os/guide/system/bootloader-grub2/non-uefi/file_groupowner_grub2_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/file_groupowner_user_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/file_owner_grub2_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/file_owner_user_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/file_permissions_grub2_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/file_permissions_user_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/grub2_password/rule.yml
  linux_os/guide/system/bootloader-grub2/uefi/file_groupowner_efi_grub2_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/uefi/file_groupowner_efi_user_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/uefi/file_owner_efi_grub2_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/uefi/file_owner_efi_user_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/uefi/file_permissions_efi_grub2_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/uefi/file_permissions_efi_user_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/uefi/grub2_uefi_password/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_build_database/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_periodic_cron_checking/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/package_aide_installed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update CIS RHEL8 section 1.4
  controls/cis_rhel8.yml
Due: none

Update rules related to CIS RHEL8 1.4
  linux_os/guide/system/accounts/accounts-physical/require_emergency_target_auth/rule.yml
  linux_os/guide/system/accounts/accounts-physical/require_singleuser_auth/rule.yml
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_backtraces/rule.yml
  linux_os/guide/system/permissions/restrictions/coredumps/coredump_disable_storage/rule.yml
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_randomize_va_space/rule.yml
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_yama_ptrace_scope/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update CIS RHEL8 section 1.5
  controls/cis_rhel8.yml
Due: none
