Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ci/prow/e2e-aws-ocp4-cis:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-cis-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-e8:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-pci-dss:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

Revert change in test scenario script
  linux_os/guide/system/accounts/enable_authselect/tests/remediable.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

shared/applicability: Replace partition-tmp and partition-var-tmp with a new templated platform mount[]
  shared/applicability/mount.yml
  shared/applicability/oval/installed_env_mounts_tmp.xml
  shared/applicability/oval/installed_env_mounts_var_tmp.xml
  shared/applicability/partition-tmp.yml
  shared/applicability/partition-var-tmp.yml
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
  shared/macros/10-oval.jinja
  shared/templates/platform_mount/oval.template
  shared/templates/platform_mount/template.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

permissions/partitions: Add mount[] platform to mount_option_tmp* and mount_option_var_tmp* rules
  linux_os/guide/system/permissions/partitions/mount_option_tmp_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_tmp_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_tmp_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_nosuid/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

templates/mount_option: Switch mount Ansible remediation module's state back to 'mounted'
  shared/templates/mount_option/ansible.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update of ansible part
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Optimizations in bash and ansible parts
  controls/cis_sle15.yml
  linux_os/guide/system/network/network-nftables/set_nftables_base_chain/ansible/shared.yml
  linux_os/guide/system/network/network-nftables/set_nftables_base_chain/bash/shared.sh
  linux_os/guide/system/network/network-nftables/var_nftables_base_chain_hooks.var
  linux_os/guide/system/network/network-nftables/var_nftables_base_chain_names.var
  linux_os/guide/system/network/network-nftables/var_nftables_base_chain_number.var
  linux_os/guide/system/network/network-nftables/var_nftables_base_chain_policies.var
  linux_os/guide/system/network/network-nftables/var_nftables_base_chain_priorities.var
  linux_os/guide/system/network/network-nftables/var_nftables_base_chain_types.var
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Missing wrong_value_2.fail.sh test added
  linux_os/guide/system/software/sudo/sudo_require_reauthentication/tests/wrong_value_2.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Move template platform_mount to use cpe-oval from oval
  shared/templates/platform_mount/cpe-oval.template
  shared/templates/platform_mount/template.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update OL9 stig_gui
  products/ol9/profiles/stig_gui.profile
Due: none

Fix change in Ansible remediation
  linux_os/guide/system/accounts/enable_authselect/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Include rule_title in Ansible tasks names
  linux_os/guide/system/accounts/enable_authselect/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Revert package version enforcing for xmldiff in CI.
  .github/workflows/gate.yaml
Due: none

No remediation warning for fapolicy_default_deny
  linux_os/guide/services/fapolicyd/fapolicy_default_deny/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add mount[var-tmp] platform to mount_option_var_tmp_bind
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_bind/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

SRG-APP-000447-CTR-001100: This control is inherently met
  controls/srg_ctr/SRG-APP-000447-CTR-001100.yml
Due: ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Make the scapval waiving easier to update
  tests/run_scapval.py
Due: none

SRG-APP-000456-CTR-001130 is not applicable
  controls/srg_ctr/SRG-APP-000456-CTR-001130.yml
Due: ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Add nftables_ensure_default_deny_policy to CIS SLE15 control
  controls/cis_sle15.yml
Due: none

Add OVAL check for nftables_ensure_default_deny_policy rule
  linux_os/guide/system/network/network-nftables/nftables_ensure_default_deny_policy/oval/sle15.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rule definition for nftables default deny policy
  linux_os/guide/system/network/network-nftables/nftables_ensure_default_deny_policy/rule.yml
  shared/references/cce-sle15-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add option to keep machine platforms in test_rule_in_container.sh.
  tests/test_rule_in_container.sh
Due: none

Add --no-remove-machine-only to runs of AutoMatus in gating.
  .github/workflows/automatus-cs8.yaml
  .github/workflows/automatus-cs9.yaml
  .github/workflows/automatus.yaml
Due: none

Test to trigger automatus.
  linux_os/guide/system/logging/service_rsyslog_enabled/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Updates in bash and ansible remediation
  linux_os/guide/system/network/network-nftables/set_nftables_base_chain/ansible/shared.yml
  linux_os/guide/system/network/network-nftables/set_nftables_base_chain/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

all_apparmor_profiles_enforced: Add Ubuntu bits to description
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

all_apparmor_profiles_enforced: bash: Add Ubuntu bits
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

all_apparmor_profiles_enforced: Add SCE check
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/sce/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

all_apparmor_profiles_in_enforce_complain_mode: Add Ubuntu bits to
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

all_apparmor_profiles_in_enforce_complain_mode: bash: Add Ubuntu bits
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ubuntu2004: cis_level2_server: Add rule all_apparmor_profiles_enforced
  products/ubuntu2004/profiles/cis_level2_server.profile
Due: none

ubuntu2004: cis_level2_workstation: Add rule all_apparmor_profiles_enforced
  products/ubuntu2004/profiles/cis_level2_workstation.profile
Due: none

ubuntu2204: cis_level2_server: Add rule all_apparmor_profiles_enforced
  products/ubuntu2204/profiles/cis_level2_server.profile
Due: none

ubuntu2204: cis_level2_workstation: Add rule all_apparmor_profiles_enforced
  products/ubuntu2204/profiles/cis_level2_workstation.profile
Due: none

OCPBUGS 7816: Fix remediation for sshd-set-loglevel-info
  linux_os/guide/services/ssh/ssh_server/sshd_set_loglevel_info/test/e2e.yml
  shared/macros/10-kubernetes.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

update rule sles 15-010340 and file_permissions template
  docs/templates/template_reference.md
  linux_os/guide/system/permissions/files/permissions_local_var_log/ansible/shared.yml
  linux_os/guide/system/permissions/files/permissions_local_var_log/rule.yml
  linux_os/guide/system/permissions/files/permissions_local_var_log/tests/group_writable_btmp.pass.sh
  linux_os/guide/system/permissions/files/permissions_local_var_log/tests/group_writable_lastlog.pass.sh
  linux_os/guide/system/permissions/files/permissions_local_var_log/tests/group_writable_wtmp.pass.sh
  shared/templates/file_permissions/ansible.template
  shared/templates/file_permissions/bash.template
  shared/templates/file_permissions/oval.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
