Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

Add ansible remediation
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_cron_logging/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update oval file to include OL9
  linux_os/guide/system/software/integrity/certified-vendor/installed_OS_is_vendor_supported/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Updated rules based on template service_enabled to support SLEM
  controls/stig_slmicro5.yml
  linux_os/guide/auditing/service_auditd_enabled/rule.yml
  linux_os/guide/system/network/network-firewalld/firewalld_activation/service_firewalld_enabled/rule.yml
  shared/references/cce-slmicro5-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Updated rules based on template service_disabled to support slem
  controls/stig_slmicro5.yml
  linux_os/guide/services/base/service_kdump_disabled/rule.yml
  linux_os/guide/system/permissions/mounting/service_autofs_disabled/rule.yml
  shared/references/cce-slmicro5-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update cce-slmicro5-avail.txt
  shared/references/cce-slmicro5-avail.txt
Due: none

etcd_unique_ca: updated assertion results
  tests/assertions/ocp4/ocp4-cis-node-4.17.yml
  tests/assertions/ocp4/ocp4-high-node-4.17.yml
  tests/assertions/ocp4/ocp4-moderate-node-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4.17.yml
  tests/assertions/ocp4/ocp4-stig-node-4.17.yml
Due: none

Remove template option
  README.md
  tests/ssg_test_suite/oscap.py
Due: none

chronyd_or_ntpd_specify_remote_server: update assertion results
  tests/assertions/ocp4/rhcos4-high-4.17.yml
  tests/assertions/ocp4/rhcos4-moderate-4.17.yml
Due: none

Add rule pam_disable_automatic_configuration to SLE Micro 5 stig profile
  controls/stig_slmicro5.yml
  linux_os/guide/system/accounts/accounts-pam/pam_disable_automatic_configuration/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/pam_disable_automatic_configuration/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/pam_disable_automatic_configuration/rule.yml
  shared/references/cce-slmicro5-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rule file_permissions_sshd_private_key to SLE Micro 5 stig profile
  controls/stig_slmicro5.yml
  linux_os/guide/services/ssh/file_permissions_sshd_private_key/ansible/shared.yml
  linux_os/guide/services/ssh/file_permissions_sshd_private_key/bash/shared.sh
  linux_os/guide/services/ssh/file_permissions_sshd_private_key/oval/shared.xml
  linux_os/guide/services/ssh/file_permissions_sshd_private_key/rule.yml
  shared/references/cce-slmicro5-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rule network_sniffer_disabled to SLE Micro 5 stig profile
  controls/stig_slmicro5.yml
  linux_os/guide/system/network/network_sniffer_disabled/rule.yml
  shared/references/cce-slmicro5-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rule accounts_umask_etc_login_defs to SLE Micro 5 stig profile
  controls/stig_slmicro5.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_login_defs/rule.yml
  shared/references/cce-slmicro5-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rule gnome_gdm_disable_unattended_automatic_login to SLE Micro 5 stig profile
  controls/stig_slmicro5.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/gnome_gdm_disable_unattended_automatic_login/ansible/shared.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/gnome_gdm_disable_unattended_automatic_login/bash/shared.sh
  linux_os/guide/system/software/gnome/gnome_login_screen/gnome_gdm_disable_unattended_automatic_login/rule.yml
  shared/references/cce-slmicro5-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rule vlock_installed to SLE Micro 5 stig profile
  controls/stig_slmicro5.yml
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/vlock_installed/rule.yml
  shared/references/cce-slmicro5-avail.txt
  shared/templates/package_installed/bash.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rule package_audit_installed to SLE Micro 5 stig profile
  controls/stig_slmicro5.yml
  linux_os/guide/auditing/package_audit_installed/rule.yml
  shared/references/cce-slmicro5-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rule package_telnet-server_removed to SLE Micro 5 stig profile
  controls/stig_slmicro5.yml
  shared/references/cce-slmicro5-avail.txt
Due: none

Align with PR#12331
  shared/references/cce-slmicro5-avail.txt
Due: none

Add test to ensure_oracle_gpgkey_installed
  linux_os/guide/system/software/updating/ensure_oracle_gpgkey_installed/tests/key_installed.pass.sh
  linux_os/guide/system/software/updating/ensure_oracle_gpgkey_installed/tests/missing_key.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update installed_OS_is_rhel8
  shared/checks/oval/installed_OS_is_rhel8.xml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update installed_OS_is_rhel9
  shared/checks/oval/installed_OS_is_rhel9.xml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix SLEM-05-654175
  controls/stig_slmicro5.yml
Due: none

add rule audit_rules_dac_modification_umount2 to slmicro5 stig profile
  controls/stig_slmicro5.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_umount2/rule.yml
  shared/references/cce-slmicro5-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add rule audit_rules_usergroup_modification_shadow to slmicro5 stig profile
  controls/stig_slmicro5.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_usergroup_modification_shadow/rule.yml
  shared/references/cce-slmicro5-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add rule audit_rules_dac_modification to slmicro5 stig profile
  controls/stig_slmicro5.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_media_export/rule.yml
  shared/references/cce-slmicro5-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add rule audit_rules_dac_modification_lchown to slmicro5 stig profile
  controls/stig_slmicro5.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_lchown/rule.yml
  shared/references/cce-slmicro5-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add rule audit_rules_usergroup_modification_group to slmicro5 stig profile
  controls/stig_slmicro5.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_usergroup_modification_group/rule.yml
  shared/references/cce-slmicro5-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add rule audit_rules_dac_modification_fremovexattr to slmicro5 stig profile
  controls/stig_slmicro5.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fremovexattr/rule.yml
  shared/references/cce-slmicro5-avail.txt
  shared/templates/audit_rules_dac_modification/ansible.template
  shared/templates/audit_rules_dac_modification/bash.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add rule audit_rules_dac_modification_fchmod to slmicro5 stig profile
  controls/stig_slmicro5.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_dac_actions/audit_rules_dac_modification_fchmod/rule.yml
  shared/references/cce-slmicro5-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add rule audit_rules_usergroup_modification_opasswd to slmicro5 stig profile
  controls/stig_slmicro5.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_usergroup_modification_opasswd/rule.yml
  shared/references/cce-slmicro5-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Align CCE availability
  shared/references/cce-slmicro5-avail.txt
Due: none

Enable these rules on OCP 4.17
  applications/openshift/api-server/api_server_kubelet_client_cert/rule.yml
  applications/openshift/api-server/api_server_kubelet_client_key/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_cert/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_key/rule.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

security-profile-operator-exists: update assertion
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.17.yml
Due: none

etcd_unique_ca: update assertion file
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.17.yml
Due: none

Add PCI-DSS v4.0 assertion files
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-node-4-0-4.17.yml
Due: none

Update of the rule encrypt_partitions to support SLEM
  controls/stig_slmicro5.yml
  linux_os/guide/system/software/disk_partitioning/encrypt_partitions/rule.yml
  shared/references/cce-slmicro5-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove ocp4 rule from rhel control
  controls/pcidss_4.yml
Due: none

Update version-less PCI-DSS profile to v4.0
  products/ocp4/profiles/pci-dss-node.profile
  products/ocp4/profiles/pci-dss.profile
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Add pcidss4 reference to OCP4 control
  controls/pcidss_4_ocp4.yml
Due: none

Update PCI-DSS platform profile filters
  products/ocp4/profiles/pci-dss-3-2.profile
  products/ocp4/profiles/pci-dss-4-0.profile
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Expand control processing to 'all' key
  docs/manual/developer/03_creating_content.md
  ssg/controls.py
Due: none
