Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ci/prow/e2e-aws-ocp4-cis:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-cis-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-e8:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-pci-dss:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

Ubuntu 24.04 STIG rule UBTU-24-100860
  linux_os/guide/services/ssh/ssh_client/ssh_use_approved_macs_ordered_stig/ansible/shared.yml
  linux_os/guide/services/ssh/ssh_client/ssh_use_approved_macs_ordered_stig/bash/shared.sh
  linux_os/guide/services/ssh/ssh_client/ssh_use_approved_macs_ordered_stig/oval/shared.xml
  linux_os/guide/services/ssh/ssh_required.var
  shared/checks/oval/ssh_not_required_or_unset.xml
  shared/checks/oval/ssh_required_or_unset.xml
  shared/checks/oval/ssh_requirement_unset.xml
  shared/macros/10-ansible.jinja
  shared/macros/10-bash.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix(OVAL): Correct variable reference in account_disable_inactivity_password_auth
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_inactivity_password_auth/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ci: introduce yamllint check for controls and profiles
  .github/workflows/ci_lint.yml
  .yamllint
Due: none

Make grep quiet to not repeat found files
  .github/workflows/ci_lint.yml
Due: none

Fix(OVAL): Correct variable reference in account_disable_inactivity_system_auth
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/account_disable_inactivity_system_auth/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

docs: include ADR to define jinja2 boundaries
  docs/adr/0002_jinja2_boundaries.md
Due: none

Fix typo in title and description of the profile definition
  products/slmicro5/profiles/general.profile
Due: none

Delete installed_OS_is_FIPS_certified or ssh(d) related rules
  linux_os/guide/services/ssh/ssh_client/ssh_client_use_approved_ciphers_ordered_stig/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers_ordered_stig/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_ciphers_ordered_stig/oval/ubuntu.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_kex_ordered_stig/oval/ubuntu.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/oval/shared.xml
  linux_os/guide/services/ssh/ssh_server/sshd_use_approved_macs_ordered_stig/oval/ubuntu.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove uefi/non-uefi from grub2 rules in case they do not need.
  linux_os/guide/system/bootloader-grub2/non-uefi/group.yml
  linux_os/guide/system/bootloader-grub2/uefi/group.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Enable ubuntu in oval
  linux_os/guide/system/software/disk_partitioning/encrypt_partitions/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Include another related PR
  docs/adr/0002_jinja2_boundaries.md
Due: none

Update the prefix for rules used when generating components gh page.
  utils/render_components.py
Due: none

Fix GRUB 2 UEFI selections in RHEL 9 ANSSI profiles
  products/rhel9/profiles/anssi_bp28_enhanced.profile
  products/rhel9/profiles/anssi_bp28_high.profile
  products/rhel9/profiles/anssi_bp28_intermediary.profile
Due: none

Exclude temporary bind mount_point
  linux_os/guide/system/software/disk_partitioning/encrypt_partitions/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update .github/workflows/ci_lint.yml
  .github/workflows/ci_lint.yml
Due: none

Fized code review issues
  linux_os/guide/services/ssh/ssh_approved_macs.var
  linux_os/guide/services/ssh/ssh_client/ssh_use_approved_macs_ordered_stig/bash/shared.sh
  linux_os/guide/services/ssh/ssh_client/ssh_use_approved_macs_ordered_stig/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add sanity test for utils/import_srg_spreadsheet.py
  tests/CMakeLists.txt
Due: none

Fix imports for utils/import_srg_spreadsheet.py
  utils/import_srg_spreadsheet.py
  utils/srg_utils/__init__.py
  utils/srg_utils/yaml.py
Due: none

Only test import_srg_spreadsheet-sanity or 3.7 and newer
  tests/CMakeLists.txt
Due: none

Fix missing replace_yaml_key in utils/srg_utils/__init__.py
  utils/srg_utils/__init__.py
Due: none

improvement for sync-cac-oscal
  .github/workflows/sync-cac-oscal.yml
Due: none

Move suse specific reference to product definition
  controls/general_slmicro5.yml
  products/slmicro5/product.yml
  ssg/constants.py
Due: none

Add missing profile stability data
  tests/data/profile_stability/rhel8/anssi_bp28_enhanced.profile
  tests/data/profile_stability/rhel8/anssi_bp28_high.profile
  tests/data/profile_stability/rhel8/anssi_bp28_intermediary.profile
  tests/data/profile_stability/rhel8/anssi_bp28_minimal.profile
  tests/data/profile_stability/rhel8/cjis.profile
  tests/data/profile_stability/rhel8/cui.profile
  tests/data/profile_stability/rhel8/rht-ccp.profile
  tests/data/profile_stability/rhel8/standard.profile
  tests/data/profile_stability/rhel9/anssi_bp28_enhanced.profile
  tests/data/profile_stability/rhel9/anssi_bp28_high.profile
  tests/data/profile_stability/rhel9/anssi_bp28_intermediary.profile
  tests/data/profile_stability/rhel9/anssi_bp28_minimal.profile
  tests/data/profile_stability/rhel9/ccn_advanced.profile
  tests/data/profile_stability/rhel9/ccn_basic.profile
  tests/data/profile_stability/rhel9/ccn_intermediate.profile
Due: none

Change platform of GRUB 2 file rules
  linux_os/guide/system/bootloader-grub2/non-uefi/file_groupowner_grub2_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/file_groupowner_user_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/file_owner_grub2_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/file_owner_user_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/file_permissions_grub2_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/file_permissions_user_cfg/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix yamllint indentation errors
  controls/general_slmicro5.yml
  products/slmicro5/profiles/general.profile
Due: none

Unselect rhel and ol rules in ANSSI profiles for debian
  products/debian12/profiles/anssi_bp28_enhanced.profile
  products/debian12/profiles/anssi_bp28_high.profile
  products/debian12/profiles/anssi_bp28_intermediary.profile
  products/debian13/profiles/anssi_bp28_enhanced.profile
  products/debian13/profiles/anssi_bp28_intermediary.profile
Due: none

Remove Jinja2 in ANSSI control file R32
  controls/anssi.yml
Due: none

Unselect rhel and ol rules in ANSSI profiles for sle
  products/sle12/profiles/anssi_bp28_enhanced.profile
  products/sle12/profiles/anssi_bp28_high.profile
  products/sle12/profiles/anssi_bp28_intermediary.profile
  products/sle12/profiles/anssi_bp28_minimal.profile
  products/sle15/profiles/anssi_bp28_enhanced.profile
  products/sle15/profiles/anssi_bp28_high.profile
  products/sle15/profiles/anssi_bp28_intermediary.profile
  products/sle15/profiles/anssi_bp28_minimal.profile
Due: none

Remove Jinja2 in ANSSI control file R62
  controls/anssi.yml
Due: none

Treat ANSSI exceptions for rhel in profiles
  products/rhel8/profiles/anssi_bp28_enhanced.profile
  products/rhel8/profiles/anssi_bp28_high.profile
  products/rhel8/profiles/anssi_bp28_intermediary.profile
  products/rhel8/profiles/anssi_bp28_minimal.profile
  products/rhel9/profiles/anssi_bp28_enhanced.profile
  products/rhel9/profiles/anssi_bp28_high.profile
  products/rhel9/profiles/anssi_bp28_intermediary.profile
  products/rhel9/profiles/anssi_bp28_minimal.profile
Due: none

Treat e8 exceptions for rhel in profiles
  products/rhel8/profiles/e8.profile
  products/rhel9/profiles/e8.profile
Due: none

Remove unnecessary Jinja2 macro in HIPAA control file
  controls/hipaa.yml
Due: none

Remove unnecessary Jinja2 in e8 control file
  controls/e8.yml
Due: none

add anssi BP28 high profile to debian13 product
  products/debian13/profiles/anssi_bp28_high.profile
Due: none

Remove excess dashes in Jinja 2 expression
  linux_os/guide/system/bootloader-grub2/non-uefi/group.yml
  linux_os/guide/system/bootloader-grub2/uefi/group.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove leftover from ubuntu2004
  products/ubuntu2004/product.yml
Due: none

FIx stig rule UBTU-24-700100
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_groupowner_var_log/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

chore: fix indentation in anssi control file
  controls/anssi.yml
Due: none

chore: fix indentation in e8 control file
  controls/e8.yml
Due: none

chore: fix indentation in hipaa control file
  controls/hipaa.yml
Due: none

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
