Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

AlmaLinux OS 9 as a new product with just a CIS benchmark profile, flattened
  CMakeLists.txt
  build_product
  controls/cis_almalinux9.yml
  linux_os/guide/services/ntp/var_multiple_time_servers.var
  products/almalinux9/CMakeLists.txt
  products/almalinux9/overlays/.gitkeep
  products/almalinux9/product.yml
  products/almalinux9/profiles/cis.profile
  products/almalinux9/profiles/cis_server_l1.profile
  products/almalinux9/profiles/cis_workstation_l1.profile
  products/almalinux9/profiles/cis_workstation_l2.profile
  products/almalinux9/profiles/standard.profile
  products/almalinux9/transforms/constants.xslt
  products/almalinux9/transforms/table-style.xslt
  products/almalinux9/transforms/xccdf-apply-overlay-stig.xslt
  products/almalinux9/transforms/xccdf2table-cce.xslt
  products/almalinux9/transforms/xccdf2table-profileccirefs.xslt
  shared/checks/oval/installed_OS_is_almalinux9.xml
  shared/checks/oval/sysctl_kernel_ipv6_disable.xml
  ssg/constants.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Excluded the requirement for the almalinux gpgkey from the RHEL 10 profile
  products/rhel10/profiles/hipaa.profile
Due: none

Fixed truthiness in hipaa profile
  build-scripts/verify_references.py
  products/almalinux9/profiles/hipaa.profile
Due: none

Added HIPAA profile for AlmaLinux 9
  components/rpm.yml
  controls/hipaa.yml
  linux_os/guide/system/software/updating/ensure_almalinux_gpgkey_installed/ansible/shared.yml
  linux_os/guide/system/software/updating/ensure_almalinux_gpgkey_installed/bash/shared.sh
  linux_os/guide/system/software/updating/ensure_almalinux_gpgkey_installed/oval/shared.xml
  linux_os/guide/system/software/updating/ensure_almalinux_gpgkey_installed/rule.yml
  linux_os/guide/system/software/updating/ensure_almalinux_gpgkey_installed/tests/key_installed.pass.sh
  linux_os/guide/system/software/updating/ensure_almalinux_gpgkey_installed/tests/missing_key.fail.sh
  products/almalinux9/profiles/hipaa.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Removed bullseye - was added for my own interest
  build-scripts/verify_references.py
Due: none

Added PCI-DSS 4.0.1 to almalinux9 product
  build-scripts/verify_references.py
  controls/pcidss_4.yml
  products/alinux2/profiles/pci-dss.profile
  products/alinux3/profiles/pci-dss.profile
  products/almalinux9/product.yml
  products/almalinux9/profiles/pci-dss.profile
  products/almalinux9/profiles/standard.profile
  products/anolis23/profiles/pci-dss.profile
  products/anolis8/profiles/pci-dss.profile
  products/ol8/profiles/pci-dss.profile
  products/ol9/profiles/pci-dss.profile
  products/rhel10/profiles/pci-dss.profile
  products/rhel8/profiles/pci-dss.profile
  products/sle15/profiles/pci-dss-4.profile
Due: none

Ubuntu 24.04 5.3.3.4.4 Ensure pam_unix includes use_authtok
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/tests/ubuntu_missing_value.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Ubuntu 24.04 5.3.3.4.4 Ensure pam_unix includes use_authtok
  components/pam.yml
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/tests/ubuntu_correct_value.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/tests/ubuntu_missing_value.fail.sh
  shared/macros/10-bash.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Attempting to fix Ubuntu 24.04 5.3.3.4.4 remdiation on server
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/tests/ubuntu_missing_value.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix test issues
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/tests/ubuntu_common.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/tests/ubuntu_conflicting_values.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/tests/ubuntu_conflicting_values2.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/tests/ubuntu_missing_value.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/tests/ubuntu_missing_value_initial.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Ubuntu 24.04 5.3.3.4.4 Ensure pam_unix includes use_authtok
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/tests/ubuntu_missing_value.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Attempt to fix pam_unix authtok failure test
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Introduce stig profiles for ol10
  products/ol10/profiles/stig.profile
  products/ol10/profiles/stig_gui.profile
Due: none

Introduce e8 profile for ol10
  products/ol10/profiles/e8.profile
Due: none

Update anssi profiles for ol10
  products/ol10/profiles/anssi_bp28_enhanced.profile
  products/ol10/profiles/anssi_bp28_high.profile
  products/ol10/profiles/anssi_bp28_intermediary.profile
  products/ol10/profiles/anssi_bp28_minimal.profile
Due: none

Introduce ism profiles for ol10
  products/ol10/profiles/ism_o.profile
  products/ol10/profiles/ism_o_secret.profile
  products/ol10/profiles/ism_o_top_secret.profile
Due: none

Introduce hipaa profile for ol10
  products/ol10/profiles/hipaa.profile
Due: none

Introduce pci-dss profile for ol10
  products/ol10/profiles/pci-dss.profile
Due: none

Introduce ospp profile for ol10
  products/ol10/profiles/ospp.profile
Due: none

Ensure correct and consistent package name
  linux_os/guide/services/cron_and_at/package_cron_installed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix failing file_permissions_crontab
  controls/pcidss_4.yml
  linux_os/guide/services/cron_and_at/package_cron_installed/rule.yml
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/pci-dss.profile
  tests/data/profile_stability/rhel9/pci-dss.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

rhel9 stig: make rule syscl_user_max_user_namespaces not scored and informational
  products/rhel9/profiles/stig.profile
  tests/data/profile_stability/rhel9/stig.profile
Due: none

rhel9 stig_gui: add rule back, it stays informational and does no harm
  products/rhel9/profiles/stig_gui.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Due: none

Fix auditd rule to watch apparmor instead of selinux on Ubuntu
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification/bash/shared.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification/bash/ubuntu.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification/oval/ubuntu.xml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification/rule.yml
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification/tests/auditctl_correct.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification/tests/auditctl_correct_without_key.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification/tests/augen_correct.pass.sh
  linux_os/guide/auditing/auditd_configure_rules/audit_rules_mac_modification/tests/augen_correct_without_key.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove type hints due to Python2 support
  ssg/jinja.py
Due: none

Quote negated bash conditionals
  shared/applicability/not_aarch64_arch.yml
  shared/applicability/not_s390x_arch.yml
Due: none

Implement firewall_single_service_active
  components/nftables.yml
  linux_os/guide/system/network/firewall_single_service_active/oval/shared.xml
  linux_os/guide/system/network/firewall_single_service_active/rule.yml
  linux_os/guide/system/network/firewall_single_service_active/tests/multiple.fail.sh
  linux_os/guide/system/network/firewall_single_service_active/tests/none.fail.sh
  linux_os/guide/system/network/firewall_single_service_active/tests/single.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rules to ubuntu2404 CIS control 4.1.1
  controls/cis_ubuntu2404.yml
Due: none

Fix timestamps for data-stream composition.
  build-scripts/compose_ds.py
Due: none

Use timestamp variable in the status field of the benchmark.
  ssg/build_yaml.py
Due: none

add new variable expressing ninimum number of password hashing rounds in /etc/login.defs
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/var_password_hashing_min_rounds_login_defs.var
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

use variable in rule.yaml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/policy/stig/shared.yml
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

rewrite OVAL check to use the variable
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

change bash remediation to use the variable
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

modify and extend tests
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/tests/correct_values.pass.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/tests/missing_max_parameter.pass.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/tests/missing_min_parameter_higher_value.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/tests/missing_parameters_higher_value.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/tests/only_max_value_wrong.pass.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/tests/only_min_value_wrong.fail.sh
  linux_os/guide/system/accounts/accounts-pam/set_password_hashing_algorithm/set_password_hashing_min_rounds_logindefs/tests/wrong_values.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add oval check logic for has_nonlocal_mta to also check port 465 587
  linux_os/guide/services/mail/has_nonlocal_mta/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Use macro to generate oval listen port parts
  linux_os/guide/services/mail/has_nonlocal_mta/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add variable var_postfix_inet_interfaces into Ubuntu2404
  controls/cis_ubuntu2404.yml
Due: none

Avoid systemd in container environment
  linux_os/guide/services/mail/has_nonlocal_mta/tests/correct.pass.sh
  linux_os/guide/services/mail/has_nonlocal_mta/tests/wrong.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Exlucde # in oval of pam_options template
  shared/templates/pam_options/oval.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate
