Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

ci/prow/e2e-aws-ocp4-cis:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-ocp4-cis-node:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-ocp4-e8:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-ocp4-moderate:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-ocp4-moderate-node:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-rhcos4-e8:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-rhcos4-moderate:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Add fixtext and SRG and update configure_openssl_tls_crypto_policy
  linux_os/guide/system/software/integrity/crypto/configure_openssl_tls_crypto_policy/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update OCIL, add fixtext and srg in configure_ssh_crypto_policy
  linux_os/guide/system/software/integrity/crypto/configure_ssh_crypto_policy/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Remove harden_* rules
  controls/srg_gpos/SRG-OS-000250-GPOS-00093.yml
Due: none

Remove double "that" from Ansible task title
  linux_os/guide/services/mail/postfix_client/postfix_client_configure_mail_alias/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Improve Ansible remediation for accounts_umask_etc_profile
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_profile/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Separate tests for blacklist and install
  shared/templates/kernel_module_disabled/oval.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update sysctl_net_ipv4_conf_default_send_redirects
  linux_os/guide/system/network/network-kernel/network_host_parameters/sysctl_net_ipv4_conf_default_send_redirects/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Fix RHEL8 STIG ID for sysctl_net_ipv4_ip_forward
  linux_os/guide/system/network/network-kernel/network_host_parameters/sysctl_net_ipv4_ip_forward/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update sysctl_net_ipv4_ip_forward
  linux_os/guide/system/network/network-kernel/network_host_parameters/sysctl_net_ipv4_ip_forward/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update sysctl_kernel_kexec_load_disabled
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_kexec_load_disabled/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add OL7 ncp profile
  products/ol7/profiles/ncp.profile
Due: none

Add file system kernel modules rules to OL7 ncp
  linux_os/guide/system/permissions/mounting/kernel_module_jffs2_disabled/kubernetes/shared.yml
  linux_os/guide/system/permissions/mounting/kernel_module_jffs2_disabled/rule.yml
  linux_os/guide/system/permissions/mounting/kernel_module_squashfs_disabled/kubernetes/shared.yml
  linux_os/guide/system/permissions/mounting/kernel_module_squashfs_disabled/rule.yml
  products/ol7/profiles/ncp.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Define grub2 uefi boot path for OL7
  products/ol7/product.yml
  shared/templates/grub2_bootloader_argument/oval.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update sysctl_kernel_unprivileged_bpf_disabled
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_unprivileged_bpf_disabled/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update sysctl_kernel_yama_ptrace_scope
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_yama_ptrace_scope/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update sysctl_net_core_bpf_jit_harden
  linux_os/guide/system/permissions/restrictions/sysctl_net_core_bpf_jit_harden/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update sysctl_user_max_user_namespaces
  linux_os/guide/system/permissions/restrictions/sysctl_user_max_user_namespaces/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update sysctl_kernel_kptr_restrict
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_kptr_restrict/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update sysctl_kernel_randomize_va_space
  linux_os/guide/system/permissions/restrictions/enable_execshield_settings/sysctl_kernel_randomize_va_space/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Include SRG reference for dconf_gnome_disable_user_list
  controls/stig_rhel8.yml
  linux_os/guide/system/software/gnome/gnome_login_screen/dconf_gnome_disable_user_list/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Remove aide_use_fips_hashes
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
Due: none

Update aide_verify_acls
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_verify_acls/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

OCP4: Split node and platform DISA STIG profiles
  products/ocp4/profiles/stig-node.profile
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node

Adjust for different syntax
  linux_os/guide/system/software/integrity/crypto/configure_openssl_crypto_policy/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add a rule to STIG profile in OL8 and RHEL8
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_groupownership/rule.yml
  products/ol8/profiles/stig.profile
  products/rhel8/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add rule to RHEL8 stability test
  tests/data/profile_stability/rhel8/stig.profile
Due: none

Add CCE to rule and this to RHEL8 sability test
  linux_os/guide/system/accounts/accounts-session/accounts_users_home_files_groupownership/rule.yml
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/stig_gui.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

OCP:Fix rule kubelet_enable_streaming_connections
  applications/openshift/kubelet/kubelet_enable_streaming_connections/rule.yml
  applications/openshift/kubelet/kubelet_enable_streaming_connections/tests/match.pass.sh
  applications/openshift/kubelet/kubelet_enable_streaming_connections/tests/notmatch.fail.sh
  applications/openshift/kubelet/kubelet_enable_streaming_connections/tests/ocp4/e2e.yml
  applications/openshift/kubelet/var_streaming_connection_timeouts.var
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node

Enable timer_dnf-automatic_enabled for SLE12 platform
  linux_os/guide/system/software/updating/timer_dnf-automatic_enabled/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Drop irrelevant rules for SLE platform
  controls/anssi_sle.yml
Due: none

Add ANSSI minimal profile to SLE12
  products/sle12/profiles/anssi_bp28_minmal.profile
Due: none

Enable SLE12 for ANSSI minimal profile rules and add relevant CCEs
  linux_os/guide/services/dhcp/disabling_dhcp_server/package_dhcp_removed/rule.yml
  linux_os/guide/services/mail/package_sendmail_removed/rule.yml
  linux_os/guide/services/obsolete/inetd_and_xinetd/package_xinetd_removed/rule.yml
  linux_os/guide/services/obsolete/nis/package_ypbind_removed/rule.yml
  linux_os/guide/services/obsolete/nis/package_ypserv_removed/rule.yml
  linux_os/guide/services/obsolete/r_services/package_rsh-server_removed/rule.yml
  linux_os/guide/services/obsolete/r_services/package_rsh_removed/rule.yml
  linux_os/guide/services/obsolete/talk/package_talk-server_removed/rule.yml
  linux_os/guide/services/obsolete/talk/package_talk_removed/rule.yml
  linux_os/guide/services/obsolete/telnet/package_telnet_removed/rule.yml
  linux_os/guide/services/obsolete/tftp/package_tftp_removed/rule.yml
  linux_os/guide/services/sssd/sssd_enable_smartcards/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_remember/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_deny_root/rule.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_interval/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_lcredit/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_expiration/accounts_password_minlen_login_defs/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_password_auth/rule.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/accounts_password_pam_unix_rounds_system_auth/rule.yml
  linux_os/guide/system/logging/package_rsyslog_installed/rule.yml
  linux_os/guide/system/logging/service_rsyslog_enabled/rule.yml
  linux_os/guide/system/network/network-firewalld/firewalld_activation/package_firewalld_installed/rule.yml
  linux_os/guide/system/network/network-firewalld/firewalld_activation/service_firewalld_enabled/rule.yml
  linux_os/guide/system/permissions/files/file_permissions_unauthorized_sgid/rule.yml
  linux_os/guide/system/permissions/files/file_permissions_unauthorized_suid/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_owner_etc_shadow/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_group/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_passwd/rule.yml
  linux_os/guide/system/permissions/files/permissions_important_account_files/file_permissions_etc_shadow/rule.yml
  linux_os/guide/system/software/updating/dnf-automatic_apply_updates/rule.yml
  linux_os/guide/system/software/updating/dnf-automatic_security_updates_only/rule.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_local_packages/rule.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_never_disabled/rule.yml
  linux_os/guide/system/software/updating/package_dnf-automatic_installed/rule.yml
  linux_os/guide/system/software/updating/timer_dnf-automatic_enabled/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add ensure_suse_gpgkey_installed rule to ansi sle minimal profile
  controls/anssi_sle.yml
Due: none

Add SLE support for ensure_gpgcheck_never_disabled remediations
  linux_os/guide/system/software/updating/ensure_gpgcheck_never_disabled/ansible/shared.yml
  linux_os/guide/system/software/updating/ensure_gpgcheck_never_disabled/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add missing cce for sle12
  linux_os/guide/system/software/updating/ensure_suse_gpgkey_installed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update visible email in Contributors.md
  Contributors.md
Due: none

Update README.md
  README.md
Due: none

Add file_owner_etc_shadow to anssi
  products/sle15/profiles/anssi_bp28_minmal.profile
Due: none

Append email_mappings dict
  ssg/contributors.py
Due: none

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
