Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

updating chronyd_specify_remote_server
  linux_os/guide/services/ntp/chronyd_specify_remote_server/tests/commented_sourcedir.fail.sh
  linux_os/guide/services/ntp/chronyd_specify_remote_server/tests/confdir.pass.sh
  linux_os/guide/services/ntp/chronyd_specify_remote_server/tests/correct.pass.sh
  linux_os/guide/services/ntp/chronyd_specify_remote_server/tests/correct_pool.pass.sh
  linux_os/guide/services/ntp/chronyd_specify_remote_server/tests/empty_sourcedir_main.pass.sh
  linux_os/guide/services/ntp/chronyd_specify_remote_server/tests/file_empty.fail.sh
  linux_os/guide/services/ntp/chronyd_specify_remote_server/tests/file_missing.fail.sh
  linux_os/guide/services/ntp/chronyd_specify_remote_server/tests/line_missing.fail.sh
  linux_os/guide/services/ntp/chronyd_specify_remote_server/tests/multiple_incorrect.fail.sh
  linux_os/guide/services/ntp/chronyd_specify_remote_server/tests/multiple_servers.pass.sh
  linux_os/guide/services/ntp/chronyd_specify_remote_server/tests/multiple_sourcedir.pass.sh
  linux_os/guide/services/ntp/chronyd_specify_remote_server/tests/server_not_specified.fail.sh
  linux_os/guide/services/ntp/chronyd_specify_remote_server/tests/sourcedir.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

updating ansible remediation for chronyd_specify_remote_server
  linux_os/guide/services/ntp/chronyd_specify_remote_server/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Define journald config dir path on Ubuntu products
  products/ubuntu2204/product.yml
  products/ubuntu2404/product.yml
  tests/data/product_stability/ubuntu2204.yml
  tests/data/product_stability/ubuntu2404.yml
Due: none

Support journald drop-in configs on Ubuntu
  linux_os/guide/system/logging/journald/journald_compress/rule.yml
  linux_os/guide/system/logging/journald/journald_disable_forward_to_syslog/rule.yml
  linux_os/guide/system/logging/journald/journald_forward_to_syslog/rule.yml
  linux_os/guide/system/logging/journald/journald_storage/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove accounts_user_dot_no_world_writable_programs from CIS
  controls/cis_rhel10.yml
  products/rhel9/controls/cis_rhel9.yml
  tests/data/profile_stability/rhel10/cis.profile
  tests/data/profile_stability/rhel10/cis_server_l1.profile
  tests/data/profile_stability/rhel10/cis_workstation_l1.profile
  tests/data/profile_stability/rhel10/cis_workstation_l2.profile
  tests/data/profile_stability/rhel9/cis.profile
  tests/data/profile_stability/rhel9/cis_server_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l2.profile
Due: none

Move RHEL 8 controls to product folder
  products/rhel8/controls/cis_rhel8.yml
  products/rhel8/controls/stig_rhel8.yml
Due: none

Move RHEL 10 controls to product folder
  products/rhel10/controls/bsi_sys_1_1_rhel10.yml
  products/rhel10/controls/bsi_sys_1_3_rhel10.yml
  products/rhel10/controls/cis_rhel10.yml
Due: none

Fix help text formatting in build_ds_container.py
  utils/build_ds_container.py
Due: none

Add notes about RHEL 10 CIS requirement 2.1.19
  products/rhel10/controls/cis_rhel10.yml
Due: none

Remove rule configure_ssh_crypto_policy from RHEL 9 and 19
  products/rhel10/profiles/default.profile
  products/rhel10/profiles/e8.profile
  products/rhel10/profiles/hipaa.profile
  products/rhel10/profiles/ism_o.profile
  products/rhel10/profiles/ism_o_secret.profile
  products/rhel10/profiles/ism_o_top_secret.profile
  products/rhel10/profiles/ospp.profile
  products/rhel10/profiles/pci-dss.profile
  products/rhel9/controls/ccn_rhel9.yml
  products/rhel9/controls/cis_rhel9.yml
  products/rhel9/profiles/default.profile
  products/rhel9/profiles/e8.profile
  products/rhel9/profiles/hipaa.profile
  products/rhel9/profiles/ism_o.profile
  products/rhel9/profiles/ospp.profile
  products/rhel9/profiles/pci-dss.profile
  tests/data/profile_stability/rhel10/e8.profile
  tests/data/profile_stability/rhel10/hipaa.profile
  tests/data/profile_stability/rhel10/ism_o.profile
  tests/data/profile_stability/rhel10/ism_o_secret.profile
  tests/data/profile_stability/rhel10/ism_o_top_secret.profile
  tests/data/profile_stability/rhel10/ospp.profile
  tests/data/profile_stability/rhel10/pci-dss.profile
  tests/data/profile_stability/rhel9/ccn_advanced.profile
  tests/data/profile_stability/rhel9/ccn_basic.profile
  tests/data/profile_stability/rhel9/ccn_intermediate.profile
  tests/data/profile_stability/rhel9/cis.profile
  tests/data/profile_stability/rhel9/cis_server_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l2.profile
  tests/data/profile_stability/rhel9/cui.profile
  tests/data/profile_stability/rhel9/e8.profile
  tests/data/profile_stability/rhel9/hipaa.profile
  tests/data/profile_stability/rhel9/ism_o.profile
  tests/data/profile_stability/rhel9/ospp.profile
  tests/data/profile_stability/rhel9/pci-dss.profile
Due: none

Add rule accounts_password_pam_pwhistory_enforce_for_root
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_enforce_for_root/rule.yml
  products/rhel8/controls/cis_rhel8.yml
  products/rhel9/controls/cis_rhel9.yml
  shared/references/cce-redhat-avail.txt
  tests/data/profile_stability/rhel8/cis.profile
  tests/data/profile_stability/rhel8/cis_server_l1.profile
  tests/data/profile_stability/rhel8/cis_workstation_l1.profile
  tests/data/profile_stability/rhel8/cis_workstation_l2.profile
  tests/data/profile_stability/rhel9/cis.profile
  tests/data/profile_stability/rhel9/cis_server_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l2.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Shadow test scenario
  linux_os/guide/system/logging/journald/service_systemd-journal-upload_enabled/tests/service_disabled.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove rule sshd_use_strong_kex from CIS profiles
  products/rhel10/controls/cis_rhel10.yml
  products/rhel10/profiles/default.profile
  products/rhel8/controls/cis_rhel8.yml
  products/rhel9/controls/cis_rhel9.yml
  products/rhel9/profiles/default.profile
  tests/data/profile_stability/rhel10/cis.profile
  tests/data/profile_stability/rhel10/cis_server_l1.profile
  tests/data/profile_stability/rhel10/cis_workstation_l1.profile
  tests/data/profile_stability/rhel10/cis_workstation_l2.profile
  tests/data/profile_stability/rhel8/cis.profile
  tests/data/profile_stability/rhel8/cis_server_l1.profile
  tests/data/profile_stability/rhel8/cis_workstation_l1.profile
  tests/data/profile_stability/rhel8/cis_workstation_l2.profile
  tests/data/profile_stability/rhel9/cis.profile
  tests/data/profile_stability/rhel9/cis_server_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l1.profile
  tests/data/profile_stability/rhel9/cis_workstation_l2.profile
Due: none

Generate CCE table using Jinja template
  cmake/SSGCommon.cmake
  utils/gen_cce_table.py
  utils/tables/cce_tables_template.html
Due: none

Remove XSLT xccdf2table-cce.xslt
  docs/manual/developer/03_creating_content.md
  products/al2023/transforms/xccdf2table-cce.xslt
  products/alinux2/transforms/xccdf2table-cce.xslt
  products/alinux3/transforms/xccdf2table-cce.xslt
  products/almalinux9/transforms/xccdf2table-cce.xslt
  products/anolis23/transforms/xccdf2table-cce.xslt
  products/anolis8/transforms/xccdf2table-cce.xslt
  products/debian11/transforms/xccdf2table-cce.xslt
  products/debian12/transforms/xccdf2table-cce.xslt
  products/debian13/transforms/xccdf2table-cce.xslt
  products/example/new_product.sh
  products/firefox/transforms/xccdf2table-cce.xslt
  products/ol10/transforms/xccdf2table-cce.xslt
  products/openembedded/transforms/xccdf2table-cce.xslt
  products/rhcos4/transforms/xccdf2table-cce.xslt
  products/rhel10/transforms/xccdf2table-cce.xslt
  products/rhel8/transforms/xccdf2table-cce.xslt
  products/rhel9/transforms/xccdf2table-cce.xslt
  products/rhv4/transforms/xccdf2table-cce.xslt
  products/sle12/transforms/xccdf2table-cce.xslt
  products/sle15/transforms/xccdf2table-cce.xslt
  products/sle16/transforms/xccdf2table-cce.xslt
  products/slmicro5/transforms/xccdf2table-cce.xslt
  products/slmicro6/transforms/xccdf2table-cce.xslt
  products/tencentos4/transforms/xccdf2table-cce.xslt
  products/ubuntu2204/transforms/xccdf2table-cce.xslt
  products/ubuntu2404/transforms/xccdf2table-cce.xslt
  shared/transforms/shared_xccdf2table-cce.xslt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Refactor: Prevent code duplication
  utils/gen_cce_table.py
  utils/tables/table_renderer.py
  utils/template_renderer.py
Due: none

Move code
  utils/gen_cce_table.py
  utils/template_renderer.py
Due: none

Generate testinfo tables using Jinja template
  cmake/SSGCommon.cmake
  utils/gen_testinfo_table.py
  utils/tables/testinfo_template.html
  utils/template_renderer.py
Due: none

Remove XSLT template xccdf2table-profileccirefs.xslt
  docs/manual/developer/03_creating_content.md
  products/alinux2/transforms/xccdf2table-profileccirefs.xslt
  products/alinux3/transforms/xccdf2table-profileccirefs.xslt
  products/almalinux9/transforms/xccdf2table-profileccirefs.xslt
  products/anolis23/transforms/xccdf2table-profileccirefs.xslt
  products/anolis8/transforms/xccdf2table-profileccirefs.xslt
  products/debian11/transforms/xccdf2table-profileccirefs.xslt
  products/debian12/transforms/xccdf2table-profileccirefs.xslt
  products/debian13/transforms/xccdf2table-profileccirefs.xslt
  products/example/new_product.sh
  products/firefox/transforms/xccdf2table-profileccirefs.xslt
  products/ol10/transforms/xccdf2table-profileccirefs.xslt
  products/ol7/transforms/xccdf2table-profileccirefs.xslt
  products/ol8/transforms/xccdf2table-profileccirefs.xslt
  products/ol9/transforms/xccdf2table-profileccirefs.xslt
  products/openembedded/transforms/xccdf2table-profileccirefs.xslt
  products/rhcos4/transforms/xccdf2table-profileccirefs.xslt
  products/rhel10/transforms/xccdf2table-profileccirefs.xslt
  products/rhel8/transforms/xccdf2table-profileccirefs.xslt
  products/rhel9/transforms/xccdf2table-profileccirefs.xslt
  products/rhv4/transforms/xccdf2table-profileccirefs.xslt
  products/sle12/transforms/xccdf2table-profileccirefs.xslt
  products/sle15/transforms/xccdf2table-profileccirefs.xslt
  products/sle16/transforms/xccdf2table-profileccirefs.xslt
  products/slmicro5/transforms/xccdf2table-profileccirefs.xslt
  products/slmicro6/transforms/xccdf2table-profileccirefs.xslt
  products/tencentos4/transforms/xccdf2table-profileccirefs.xslt
  products/ubuntu2204/transforms/xccdf2table-profileccirefs.xslt
  products/ubuntu2404/transforms/xccdf2table-profileccirefs.xslt
  shared/transforms/shared_xccdf2table-profileccirefs.xslt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Create unlinked STIG XCCDF differently
  cmake/SSGCommon.cmake
  utils/create_unlinked_stig_xccdf.py
Due: none

Remove xccdf-apply-overlay-stig.xslt
  docs/manual/developer/03_creating_content.md
  products/alinux2/transforms/xccdf-apply-overlay-stig.xslt
  products/alinux3/transforms/xccdf-apply-overlay-stig.xslt
  products/almalinux9/transforms/xccdf-apply-overlay-stig.xslt
  products/anolis8/transforms/xccdf-apply-overlay-stig.xslt
  products/debian11/transforms/xccdf-apply-overlay-stig.xslt
  products/debian12/transforms/xccdf-apply-overlay-stig.xslt
  products/debian13/transforms/xccdf-apply-overlay-stig.xslt
  products/example/new_product.sh
  products/firefox/transforms/xccdf-apply-overlay-stig.xslt
  products/ol10/transforms/xccdf-apply-overlay-stig.xslt
  products/ol7/transforms/xccdf-apply-overlay-stig.xslt
  products/ol8/transforms/xccdf-apply-overlay-stig.xslt
  products/ol9/transforms/xccdf-apply-overlay-stig.xslt
  products/openembedded/transforms/xccdf-apply-overlay-stig.xslt
  products/rhcos4/transforms/xccdf-apply-overlay-stig.xslt
  products/rhel10/transforms/xccdf-apply-overlay-stig.xslt
  products/rhel8/transforms/xccdf-apply-overlay-stig.xslt
  products/rhel9/transforms/xccdf-apply-overlay-stig.xslt
  products/rhv4/transforms/xccdf-apply-overlay-stig.xslt
  products/sle12/transforms/xccdf-apply-overlay-stig.xslt
  products/sle15/transforms/xccdf-apply-overlay-stig.xslt
  products/sle16/transforms/xccdf-apply-overlay-stig.xslt
  products/slmicro5/transforms/xccdf-apply-overlay-stig.xslt
  products/slmicro6/transforms/xccdf-apply-overlay-stig.xslt
  products/ubuntu2204/transforms/xccdf-apply-overlay-stig.xslt
  products/ubuntu2404/transforms/xccdf-apply-overlay-stig.xslt
  shared/transforms/shared_xccdf-apply-overlay-stig.xslt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Stop using constants.xslt in profile_tool.py
  ssg/build_profile.py
Due: none

Remove unused files shorthand2xccdf.xslt
  products/alinux2/transforms/shorthand2xccdf.xslt
  products/alinux3/transforms/shorthand2xccdf.xslt
  products/eks/transforms/shorthand2xccdf.xslt
Due: none

Remove unused files table-srgmap.xslt
  products/alinux2/transforms/table-srgmap.xslt
  products/alinux3/transforms/table-srgmap.xslt
Due: none

Remove constants.xslt
  docs/manual/developer/03_creating_content.md
  products/al2023/transforms/constants.xslt
  products/alinux2/transforms/constants.xslt
  products/alinux3/transforms/constants.xslt
  products/almalinux9/transforms/constants.xslt
  products/anolis23/transforms/constants.xslt
  products/anolis8/transforms/constants.xslt
  products/debian11/transforms/constants.xslt
  products/debian12/transforms/constants.xslt
  products/debian13/transforms/constants.xslt
  products/eks/transforms/constants.xslt
  products/example/new_product.sh
  products/example/transforms/constants.xslt
  products/fedora/transforms/constants.xslt
  products/firefox/transforms/constants.xslt
  products/kylinserver10/transforms/constants.xslt
  products/ocp4/transforms/constants.xslt
  products/ol10/transforms/constants.xslt
  products/ol7/transforms/constants.xslt
  products/ol8/transforms/constants.xslt
  products/ol9/transforms/constants.xslt
  products/openembedded/transforms/constants.xslt
  products/openeuler2203/transforms/constants.xslt
  products/opensuse/transforms/constants.xslt
  products/rhcos4/transforms/constants.xslt
  products/rhel10/transforms/constants.xslt
  products/rhel8/transforms/constants.xslt
  products/rhel9/transforms/constants.xslt
  products/rhv4/transforms/constants.xslt
  products/sle12/transforms/constants.xslt
  products/sle15/transforms/constants.xslt
  products/sle16/transforms/constants.xslt
  products/slmicro5/transforms/constants.xslt
  products/slmicro6/transforms/constants.xslt
  products/tencentos4/transforms/constants.xslt
  products/ubuntu2204/transforms/constants.xslt
  products/ubuntu2404/transforms/constants.xslt
  shared/transforms/shared_constants.xslt
  ssg/constants.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove table-style.xslt
  docs/manual/developer/03_creating_content.md
  products/al2023/transforms/table-style.xslt
  products/alinux2/transforms/table-style.xslt
  products/alinux3/transforms/table-style.xslt
  products/almalinux9/transforms/table-style.xslt
  products/anolis23/transforms/table-style.xslt
  products/anolis8/transforms/table-style.xslt
  products/debian11/transforms/table-style.xslt
  products/debian12/transforms/table-style.xslt
  products/debian13/transforms/table-style.xslt
  products/example/new_product.sh
  products/firefox/transforms/table-style.xslt
  products/ol10/transforms/table-style.xslt
  products/ol7/transforms/table-style.xslt
  products/ol8/transforms/table-style.xslt
  products/ol9/transforms/table-style.xslt
  products/openembedded/transforms/table-style.xslt
  products/rhcos4/transforms/table-style.xslt
  products/rhel10/transforms/table-style.xslt
  products/rhel8/transforms/table-style.xslt
  products/rhel9/transforms/table-style.xslt
  products/rhv4/transforms/table-style.xslt
  products/sle12/transforms/table-style.xslt
  products/sle15/transforms/table-style.xslt
  products/sle16/transforms/table-style.xslt
  products/slmicro5/transforms/table-style.xslt
  products/slmicro6/transforms/table-style.xslt
  products/tencentos4/transforms/table-style.xslt
  products/ubuntu2204/transforms/table-style.xslt
  products/ubuntu2404/transforms/table-style.xslt
  shared/transforms/shared_table-style.xslt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove 'transforms' directories from docs
  CMakeLists.txt
  docs/flowcharts/flowchart_products.md
  docs/flowcharts/flowchart_shared.md
  docs/manual/developer/03_creating_content.md
  docs/manual/developer/06_contributing_with_content.md
  products/example/new_product.sh
Due: none

Fix numbering
  docs/manual/developer/03_creating_content.md
Due: none

Indent output only if the method is available
  utils/create_unlinked_stig_xccdf.py
Due: none

Update Fedora CIS profile
  controls/cis_fedora.yml
  linux_os/guide/auditing/configure_auditd_data_retention/var_auditd_admin_space_left_action.var
  linux_os/guide/auditing/configure_auditd_data_retention/var_auditd_disk_error_action.var
  linux_os/guide/auditing/configure_auditd_data_retention/var_auditd_disk_full_action.var
  linux_os/guide/auditing/configure_auditd_data_retention/var_auditd_space_left_action.var
  linux_os/guide/system/accounts/accounts-pam/var_password_hashing_algorithm.var
  linux_os/guide/system/software/integrity/crypto/configure_custom_crypto_policy_cis/rule.yml
  shared/applicability/package.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add quiet mode to tests/missing_cces.py
  tests/missing_cces.py
Due: none

Add support for sle 15/16 for the logind_session_timeout rule
  linux_os/guide/system/accounts/accounts-physical/logind_session_timeout/rule.yml
  shared/references/cce-sle15-avail.txt
  shared/references/cce-sle16-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add logind_session_timeout rule for sle15/16 relevant profiles
  products/sle15/profiles/anssi_bp28_enhanced.profile
  products/sle15/profiles/anssi_bp28_high.profile
  products/sle15/profiles/anssi_bp28_intermediary.profile
  products/sle16/profiles/base.profile
Due: none

Add specifics for sle15/sle16 for logind_session_timeout rule
  linux_os/guide/system/accounts/accounts-physical/logind_session_timeout/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-physical/logind_session_timeout/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Use variable for the configuration logind configuration
  linux_os/guide/system/accounts/accounts-physical/logind_session_timeout/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Adapt tests in logind_session_timeout
  linux_os/guide/system/accounts/accounts-physical/logind_session_timeout/tests/common.sh
  linux_os/guide/system/accounts/accounts-physical/logind_session_timeout/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-physical/logind_session_timeout/tests/correct_not_directly_after_section.pass.sh
  linux_os/guide/system/accounts/accounts-physical/logind_session_timeout/tests/correct_value_no_section.fail.sh
  linux_os/guide/system/accounts/accounts-physical/logind_session_timeout/tests/correct_value_wrong_section.fail.sh
  linux_os/guide/system/accounts/accounts-physical/logind_session_timeout/tests/file_missing.fail.sh
  linux_os/guide/system/accounts/accounts-physical/logind_session_timeout/tests/incorrect.fail.sh
  linux_os/guide/system/accounts/accounts-physical/logind_session_timeout/tests/not_configured.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update sync-cac-oscal CI for getting changed files
  .github/workflows/sync-cac-oscal.yml
Due: none

Enable dropin files in sysctl template for OL
  products/ol10/product.yml
  products/ol8/product.yml
  products/ol9/product.yml
Due: none

Parametrize gen_testinfo_table.py with profile ID
  cmake/SSGCommon.cmake
  utils/gen_testinfo_table.py
  utils/tables/testinfo_template.html
Due: none

Fix rule accounts_password_pam_pwhistory_use_authtok
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_use_authtok/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_use_authtok/bash/shared.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_use_authtok/tests/rhel_correct.pass.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_pwhistory_use_authtok/tests/rhel_wrong.fail.sh
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_password_pam_unix_authtok/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate
