Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

ci/prow/e2e-aws-ocp4-cis:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-ocp4-cis-node:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-ocp4-e8:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-ocp4-moderate:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-ocp4-moderate-node:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-rhcos4-e8:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-rhcos4-moderate:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Set variables used by rule ssh_client_rekey_limit
  controls/srg_gpos/SRG-OS-000423-GPOS-00187.yml
Due: none

Improve OCIL
  linux_os/guide/services/ssh/ssh_client/ssh_client_rekey_limit/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add fixtext to ssh_client_rekey_limit
  linux_os/guide/services/ssh/ssh_client/ssh_client_rekey_limit/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add missing prodtype
  linux_os/guide/system/software/integrity/crypto/configure_gnutls_tls_crypto_policy/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Improve OCIL
  linux_os/guide/system/software/integrity/crypto/configure_gnutls_tls_crypto_policy/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add fixtext to configure_gnutls_tls_crypto_policy
  linux_os/guide/system/software/integrity/crypto/configure_gnutls_tls_crypto_policy/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update controls/srg_gpos/SRG-OS-000266-GPOS-00101.yml
  controls/srg_gpos/SRG-OS-000266-GPOS-00101.yml
Due: none

Remove rules from SRG files that are not expected to be there.
  controls/srg_gpos/SRG-OS-000062-GPOS-00031.yml
  controls/srg_gpos/SRG-OS-000064-GPOS-00033.yml
  controls/srg_gpos/SRG-OS-000303-GPOS-00120.yml
  controls/srg_gpos/SRG-OS-000327-GPOS-00127.yml
  controls/srg_gpos/SRG-OS-000337-GPOS-00129.yml
  controls/srg_gpos/SRG-OS-000348-GPOS-00136.yml
  controls/srg_gpos/SRG-OS-000350-GPOS-00138.yml
  controls/srg_gpos/SRG-OS-000351-GPOS-00139.yml
  controls/srg_gpos/SRG-OS-000352-GPOS-00140.yml
  controls/srg_gpos/SRG-OS-000353-GPOS-00141.yml
  controls/srg_gpos/SRG-OS-000354-GPOS-00142.yml
  controls/srg_gpos/SRG-OS-000358-GPOS-00145.yml
  controls/srg_gpos/SRG-OS-000365-GPOS-00152.yml
  controls/srg_gpos/SRG-OS-000458-GPOS-00203.yml
  controls/srg_gpos/SRG-OS-000461-GPOS-00205.yml
  controls/srg_gpos/SRG-OS-000462-GPOS-00206.yml
  controls/srg_gpos/SRG-OS-000463-GPOS-00207.yml
  controls/srg_gpos/SRG-OS-000465-GPOS-00209.yml
  controls/srg_gpos/SRG-OS-000466-GPOS-00210.yml
  controls/srg_gpos/SRG-OS-000467-GPOS-00211.yml
  controls/srg_gpos/SRG-OS-000468-GPOS-00212.yml
  controls/srg_gpos/SRG-OS-000470-GPOS-00214.yml
  controls/srg_gpos/SRG-OS-000471-GPOS-00215.yml
  controls/srg_gpos/SRG-OS-000471-GPOS-00216.yml
  controls/srg_gpos/SRG-OS-000474-GPOS-00219.yml
  controls/srg_gpos/SRG-OS-000475-GPOS-00220.yml
  controls/srg_gpos/SRG-OS-000476-GPOS-00221.yml
  controls/srg_gpos/SRG-OS-000477-GPOS-00222.yml
Due: none

Add fixtext to accounts_password_pam_dictcheck
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_dictcheck/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add fixtext to accounts_password_pam_retry
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add variable var_accounts_fail_delay to SRG
  controls/srg_gpos/SRG-OS-000480-GPOS-00226.yml
Due: none

Add fixtext to accounts_logon_fail_delay
  linux_os/guide/system/accounts/accounts-session/accounts_logon_fail_delay/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update rule accounts_umask_etc_bashrc
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_bashrc/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add variable var_accounts_user_umask to SRG
  controls/srg_gpos/SRG-OS-000480-GPOS-00228.yml
Due: none

Update OCIL and add fixtext accounts_umask_etc_csh_cshrc
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_csh_cshrc/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update OCIL and add fixtext accounts_umask_etc_login_defs
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_login_defs/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update OCIL and add fixtext accounts_umask_etc_profile
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_profile/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update wording in OCIL clause in accounts_umask rules
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_login_defs/rule.yml
  linux_os/guide/system/accounts/accounts-session/user_umask/accounts_umask_etc_profile/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add fixtext to sysctl_kernel_kexec_load_disabled
  linux_os/guide/system/permissions/restrictions/sysctl_kernel_kexec_load_disabled/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add fixtext to package_subscription-manager_installed
  linux_os/guide/system/software/system-tools/package_subscription-manager_installed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add fixtext to ensure_gpgcheck_globally_activated
  linux_os/guide/system/software/updating/ensure_gpgcheck_globally_activated/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add fixtext to ensure_gpgcheck_local_packages
  linux_os/guide/system/software/updating/ensure_gpgcheck_local_packages/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add fixtext to ensure_gpgcheck_never_disabled
  linux_os/guide/system/software/updating/ensure_gpgcheck_never_disabled/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add fixtext to ensure_redhat_gpgkey_installed
  linux_os/guide/system/software/updating/ensure_redhat_gpgkey_installed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Fix a typo
  linux_os/guide/system/software/updating/ensure_redhat_gpgkey_installed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

fix: audit_ospp_general/tests/correct_rules.pass.sh: add missing bash shebang
  linux_os/guide/system/auditing/policy_rules/audit_ospp_general/tests/correct_rules.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add SUSE to remediation for: audit_rules_...
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_file_modification/audit_rules_unsuccessful_file_modification/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_usergroup_modification/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Update from review comments:
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

OCP: Added control response for SI group
  applications/openshift/api-server/audit_log_forwarding_enabled/rule.yml
  applications/openshift/logging/audit_profile_set/rule.yml
  applications/openshift/networking/configure_network_policies_namespaces/rule.yml
  applications/openshift/networking/routes_protected_by_tls/rule.yml
  controls/nist_ocp4.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node

Kubernetes container image: Use lowercase for image repository
  .github/workflows/k8s-content.yaml
Due: none

Fix typo in accounts_passwords_pam_faillock_unlock_time ocil.
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_unlock_time/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Remove SRG-OS-000480-GPOS-00225
  controls/srg_gpos/SRG-OS-000480-GPOS-00225.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_retry/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Replace the system by full name
  linux_os/guide/services/ssh/ssh_client/ssh_client_rekey_limit/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add ssh_client_rekey_limit to SRG-OS-000424-GPOS-00188
  controls/srg_gpos/SRG-OS-000424-GPOS-00188.yml
  linux_os/guide/services/ssh/ssh_client/ssh_client_rekey_limit/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

configure_openssl_crypto_policy: OpenSSL v3.0 has = in include
  linux_os/guide/system/software/integrity/crypto/configure_openssl_crypto_policy/oval/shared.xml
  linux_os/guide/system/software/integrity/crypto/configure_openssl_crypto_policy/tests/include_with_equal_sign.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Move the appropriate comment to a Jinja var
  shared/templates/sysctl/oval.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add tests two definitions of sysctl parameters
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_default_accept_source_route/tests/one_sysctl_conf_one_sysctl_d.fail.sh
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_default_accept_source_route/tests/two_sysctls_on_d.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
