Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

Move timeout to 10 minutes in RHEL 9 STIG
  controls/stig_rhel9.yml
Due: none

Add RHEL-09-431016 for RHEL 10
  controls/stig_rhel9.yml
Due: none

Remove RHEL-09-611205 from RHEL 9 STIG
  controls/stig_rhel9.yml
Due: none

Update RHEL 9 STIG to V2R4
  controls/stig_rhel9.yml
  products/rhel9/profiles/stig.profile
  products/rhel9/profiles/stig_gui.profile
  shared/references/disa-stig-rhel9-v2r4-xccdf-manual.xml
  shared/references/disa-stig-rhel9-v2r4-xccdf-scap.xml
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Due: none

Update stable profiles for RHEL 9 STIG
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Due: none

Add RHEL 9 cce to selinux_context_elevation_for_sudo
  linux_os/guide/system/selinux/selinux_context_elevation_for_sudo/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Improve description in accounts_passwords_pam_faillock_dir
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faillock_dir/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Change the algorithm to yescript
  products/rhel10/profiles/anssi_bp28_enhanced.profile
  products/rhel10/profiles/anssi_bp28_high.profile
  products/rhel10/profiles/anssi_bp28_intermediary.profile
  products/rhel10/profiles/anssi_bp28_minimal.profile
  tests/data/profile_stability/rhel10/anssi_bp28_enhanced.profile
  tests/data/profile_stability/rhel10/anssi_bp28_high.profile
  tests/data/profile_stability/rhel10/anssi_bp28_intermediary.profile
  tests/data/profile_stability/rhel10/anssi_bp28_minimal.profile
Due: none

add new rule sysctl_user_max_user_namespaces_no_remediation
  components/kernel.yml
  linux_os/guide/system/permissions/restrictions/sysctl_user_max_user_namespaces_no_remediation/policy/stig/shared.yml
  linux_os/guide/system/permissions/restrictions/sysctl_user_max_user_namespaces_no_remediation/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

sysctl_user_max_user_namespaces: remove STIG specific policy and stig references as it is no longer part of stig
  linux_os/guide/system/permissions/restrictions/sysctl_user_max_user_namespaces/policy/stig/shared.yml
  linux_os/guide/system/permissions/restrictions/sysctl_user_max_user_namespaces/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

RHEL STIG profiles: use sysctl_user_max_user_namespaces_no_remediation everywhere
  controls/stig_rhel9.yml
  products/rhel8/profiles/stig.profile
  products/rhel8/profiles/stig_gui.profile
  products/rhel9/profiles/stig.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Due: none

Add a new rule for libpam-sss package
  components/pam.yml
  components/sssd.yml
  controls/stig_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-pam/package_pam_sss_installed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Set sssd package name for Ubuntu in applicability
  shared/applicability/package.yml
Due: none

Set package applicability for rule service_sssd_enabled
  linux_os/guide/services/sssd/service_sssd_enabled/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Enable rule service_sssd_enabled for UBTU-24-100660
  controls/stig_ubuntu2404.yml
Due: none

Add kerberos_disable_no_keytab to RHEL 9 default
  products/rhel9/profiles/default.profile
Due: none

Add a new rule for libnss-sss package
  components/pam.yml
  components/sssd.yml
  controls/stig_ubuntu2404.yml
  linux_os/guide/system/accounts/accounts-pam/package_nss_sss_installed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Move rules that are not owned by pam
  components/operating-system.yml
  components/pam.yml
Due: none

Add recommendation about authselect
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_password_auth/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_system_auth/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add test for rule removal
  tests/rule_removal.py
Due: none

Add test removal test to build system
  CMakeLists.txt
  tests/CMakeLists.txt
Due: none

Fix ocp4 file groupowner template to allow group lookup in both /etc/group and /usr/lib/group
  shared/templates/file_groupowner/oval.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Ubuntu 24.04 SITG rule UBTU-24-400360 sssd_certification_path_trust_anchor
  components/sssd.yml
  controls/stig_ubuntu2404.yml
  linux_os/guide/services/sssd/sssd_certification_path_trust_anchor/bash/shared.sh
  linux_os/guide/services/sssd/sssd_certification_path_trust_anchor/oval/shared.xml
  linux_os/guide/services/sssd/sssd_certification_path_trust_anchor/rule.yml
  linux_os/guide/services/sssd/sssd_certification_path_trust_anchor/tests/correct_value.pass.sh
  linux_os/guide/services/sssd/sssd_certification_path_trust_anchor/tests/not_configured.fail.sh
  linux_os/guide/services/sssd/sssd_certification_path_trust_anchor/tests/partial_config.fail.sh
  linux_os/guide/services/sssd/sssd_certification_path_trust_anchor/tests/partial_config2.fail.sh
  linux_os/guide/services/sssd/sssd_certification_path_trust_anchor/tests/partial_config3.fail.sh
  linux_os/guide/services/sssd/sssd_certification_path_trust_anchor/tests/wrong_section.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add docs for removed rules tests
  docs/manual/developer/08_content_tests.md
Due: none

Add rule removal to CI
  .github/workflows/gate_fedora.yml
Due: none

Fix rule removal test for RHEl 10
  products/rhel10/profiles/default.profile
Due: none

Add mypy for tests/rule_removal.py and fix error
  tests/CMakeLists.txt
  tests/rule_removal.py
Due: none

Fixed status to automated
  controls/stig_ubuntu2404.yml
Due: none

Ubuntu 24.04 STIG 400360 add sssd_enable_pam_services
  controls/stig_ubuntu2404.yml
  linux_os/guide/services/sssd/sssd_enable_pam_services/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add configure_openssl_tls_crypto_policy to RHEL 10 default profile
  products/rhel10/profiles/default.profile
Due: none

Ubuntu 24.04 STIG 400360 add sssd_enable_smartcards
  controls/stig_ubuntu2404.yml
  linux_os/guide/services/sssd/sssd_enable_smartcards/tests/sssd_parameter_false.fail.sh
  linux_os/guide/services/sssd/sssd_enable_smartcards/tests/sssd_parameter_missing.fail.sh
  linux_os/guide/services/sssd/sssd_enable_smartcards/tests/sssd_parameter_missing_file.fail.sh
  linux_os/guide/services/sssd/sssd_enable_smartcards/tests/sssd_parameter_true.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update CMakeLists.txt
  CMakeLists.txt
Due: none

Fix issues found in #13358
  CMakeLists.txt
  docs/manual/developer/08_content_tests.md
Due: none

Add new rule grub2_init_on_free for RHEL 8 STIG
  components/grub2.yml
  linux_os/guide/system/bootloader-grub2/grub2_init_on_free/rule.yml
  products/rhel8/profiles/stig.profile
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add selinux_context_elevation_for_sudo to RHEL 8 STIG
  linux_os/guide/system/selinux/selinux_context_elevation_for_sudo/rule.yml
  products/rhel8/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove drop in files for sssd_offline_cred_expiration on RHEL 8
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/oval/shared.xml
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/tests/correct_value_conf_d.pass.sh
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/tests/correct_value_dropin.pass.sh
  linux_os/guide/services/sssd/sssd_offline_cred_expiration/tests/wrong_value_conf_d.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

RHEL-08-020102 and RHEL-08-020103 have been removed.
  products/rhel8/profiles/stig.profile
Due: none

Move RHEL-08-040350 to use systemd
  linux_os/guide/services/obsolete/tftp/tftp_uses_secure_mode_systemd/rule.yml
  linux_os/guide/services/obsolete/tftp/tftpd_uses_secure_mode/rule.yml
  products/rhel8/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add missing cces
  linux_os/guide/services/obsolete/tftp/tftp_uses_secure_mode_systemd/rule.yml
  linux_os/guide/system/selinux/selinux_context_elevation_for_sudo/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate
