Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ci/prow/e2e-aws-ocp4-cis:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-cis-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-e8:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-pci-dss:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

Build content in debug mode when generating coverage statistics.
  .github/workflows/gh-pages.yaml
Due: none

Update testing container name in gitpod integration.
  .gitpod.launch.json
  .gitpod.yml
Due: none

Select rule for RHEL8 STIG
  products/rhel8/profiles/stig.profile
Due: none

Fix RHEL8 STIG selection for sysctl forwarding
  linux_os/guide/system/network/network-ipv6/configuring_ipv6/sysctl_net_ipv6_conf_all_forwarding/rule.yml
  products/rhel8/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add ansible remediation for postfix_prevent_unrestricted_relay.
  linux_os/guide/services/mail/postfix_harden_os/postfix_server_cfg/postfix_server_relay/postfix_prevent_unrestricted_relay/ansible/shared.yml
  linux_os/guide/services/mail/postfix_harden_os/postfix_server_cfg/postfix_server_relay/postfix_prevent_unrestricted_relay/tests/absent.fail.sh
  linux_os/guide/services/mail/postfix_harden_os/postfix_server_cfg/postfix_server_relay/postfix_prevent_unrestricted_relay/tests/defective.fail.sh
  linux_os/guide/services/mail/postfix_harden_os/postfix_server_cfg/postfix_server_relay/postfix_prevent_unrestricted_relay/tests/ok.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Initial implementation of templated and parameterized platforms
  build-scripts/build_templated_content.py
  cmake/SSGCommon.cmake
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/rule.yml
  shared/applicability/general.yml
  ssg/boolean_expression.py
  ssg/build_cpe.py
  ssg/templates.py
  tests/unit/ssg-module/test_boolean_expressions.py
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Extract XCCDFEntity class to be used in other module files
  ssg/build_yaml.py
  ssg/data_structures.py
Due: none

Allow compiled content file names to contain dots
  ssg/data_structures.py
Due: none

Support for compiled CPE items
  build-scripts/build_templated_content.py
  build-scripts/collect_remediations.py
  build-scripts/compile_all.py
  build-scripts/cpe_generate.py
  cmake/SSGCommon.cmake
  ssg/build_cpe.py
  ssg/build_yaml.py
  ssg/products.py
  ssg/templates.py
Due: none

Extend support for OVAL templates in CPE platforms
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/rule.yml
  shared/applicability/os_release.yml
  shared/applicability/package_installed.yml
  shared/templates/os_release/conditional.oval.template
  shared/templates/package_installed/conditional.oval.template
  ssg/boolean_expression.py
  tests/unit/ssg-module/test_boolean_expressions.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

deduplicate code for getting conditionals from rules
  ssg/build_remediations.py
Due: none

fix product platform definition in product.yml of alinux2
  products/alinux2/product.yml
Due: none

CPE OVAL templates cleanup
  shared/applicability/arch.yml
  shared/applicability/os_linux.yml
  shared/applicability/package.yml
  shared/templates/arch/conditional.oval.template
  shared/templates/arch/template.yml
  shared/templates/os_release/conditional.oval.template
  shared/templates/package/conditional.oval.template
  shared/templates/package/template.py
  shared/templates/package/template.yml
  ssg/boolean_expression.py
  ssg/build_cpe.py
  ssg/build_yaml.py
  ssg/templates.py
  tests/unit/ssg-module/test_boolean_expressions.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Propagate arguments given to platform to CPE items
  ssg/build_cpe.py
Due: none

Move *_conditional from CPE definition root to conditional->bash and conditional->ansible respectively. For templated CPEs bash.template and ansible.template are used as the source of conditionals.
  build-scripts/collect_remediations.py
  shared/applicability/aarch64_arch.yml
  shared/applicability/arch.yml
  shared/applicability/audit.yml
  shared/applicability/chrony.yml
  shared/applicability/container.yml
  shared/applicability/gdm.yml
  shared/applicability/grub2.yml
  shared/applicability/libuser.yml
  shared/applicability/login_defs.yml
  shared/applicability/machine.yml
  shared/applicability/net-snmp.yml
  shared/applicability/not_aarch64_arch.yml
  shared/applicability/not_s390x_arch.yml
  shared/applicability/nss-pam-ldapd.yml
  shared/applicability/ntp.yml
  shared/applicability/os_linux.yml
  shared/applicability/package.yml
  shared/applicability/pam.yml
  shared/applicability/postfix.yml
  shared/applicability/s390x_arch.yml
  shared/applicability/sssd.yml
  shared/applicability/sudo.yml
  shared/applicability/systemd.yml
  shared/applicability/yum.yml
  shared/applicability/zypper.yml
  ssg/build_cpe.py
  ssg/build_remediations.py
  ssg/build_yaml.py
  tests/unit/ssg-module/data/applicability/chrony.yml
  tests/unit/ssg-module/data/applicability/machine.yml
  tests/unit/ssg-module/data/applicability/ntp.yml
  tests/unit/ssg-module/data/applicability/systemd.yml
  tests/unit/ssg-module/data/applicability/yum.yml
  tests/unit/ssg-module/data/machine.yml
  tests/unit/ssg-module/test_build_cpe.py
Due: none

Add templated Ansible conditionals for CPEs
  shared/applicability/os_linux.yml
  shared/templates/cond_arch/ansible.template
  shared/templates/cond_arch/template.yml
  shared/templates/cond_os_release/ansible.template
  shared/templates/cond_os_release/template.yml
  shared/templates/cond_package/ansible.template
  shared/templates/cond_package/template.yml
  ssg/build_cpe.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add 99-combined.jinja file for macros that use other macros of different type (e.g. ocil and bash)
  shared/macros/01-general.jinja
  shared/macros/99-combined.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

removed no longer used and commented out code
  ssg/build_cpe.py
Due: none

Remove 'include' metadata keyword (WIP)
  ssg/build_cpe.py
  ssg/build_remediations.py
  ssg/remediations.py
  tests/unit/ssg-module/test_build_remediations.py
Due: none

Purely stylistic changes and comments removal. Also ignore Idea dirs.
  .gitignore
  ssg/boolean_expression.py
  ssg/build_cpe.py
  ssg/build_remediations.py
  ssg/templates.py
  tests/unit/ssg-module/test_boolean_expressions.py
  tests/unit/ssg-module/test_build_remediations.py
Due: none

Fix versions parsing
  ssg/boolean_expression.py
  tests/unit/ssg-module/test_boolean_expressions.py
Due: none

Clean up platform template generation code and drop formerly required var: entry in CPE template definitions.
  shared/applicability/arch.yml
  shared/applicability/os_linux.yml
  shared/applicability/package.yml
  ssg/templates.py
Due: none

Fix unit tests
  tests/unit/ssg-module/test_build_cpe.py
  tests/unit/ssg-module/test_build_remediations.py
  tests/unit/ssg-module/test_build_yaml.py
Due: none

remove language specific functions for getting remediation conditionals
  ssg/build_cpe.py
  ssg/build_remediations.py
  ssg/build_yaml.py
Due: none

Change platforms in the experimental rule
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Make conditional templates independent entities.
  shared/applicability/arch.yml
  shared/applicability/os_linux.yml
  shared/applicability/package.yml
  shared/macros/10-bash.jinja
  shared/templates/cond_arch/oval.template
  shared/templates/cond_arch/template.yml
  shared/templates/cond_os_release/bash.template
  shared/templates/cond_os_release/oval.template
  shared/templates/cond_os_release/template.yml
  shared/templates/cond_package/bash.template
  shared/templates/cond_package/oval.template
  shared/templates/cond_package/template.py
  shared/templates/cond_package/template.yml
  shared/templates/package_installed/conditional.oval.template
  shared/templates/package_installed/template.yml
  ssg/templates.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Introduce conditional prefixes (shared blocks of code) and refactor the way platforms are being loaded
  shared/applicability/aarch64_arch.yml
  shared/applicability/audit.yml
  shared/applicability/chrony.yml
  shared/applicability/container.yml
  shared/applicability/gdm.yml
  shared/applicability/grub2.yml
  shared/applicability/libuser.yml
  shared/applicability/login_defs.yml
  shared/applicability/machine.yml
  shared/applicability/net-snmp.yml
  shared/applicability/not_aarch64_arch.yml
  shared/applicability/not_s390x_arch.yml
  shared/applicability/nss-pam-ldapd.yml
  shared/applicability/ntp.yml
  shared/applicability/os_release.yml
  shared/applicability/package_installed.yml
  shared/applicability/pam.yml
  shared/applicability/postfix.yml
  shared/applicability/s390x_arch.yml
  shared/applicability/sssd.yml
  shared/applicability/sudo.yml
  shared/applicability/systemd.yml
  shared/applicability/yum.yml
  shared/applicability/zypper.yml
  ssg/build_cpe.py
  ssg/build_remediations.py
  ssg/build_yaml.py
  tests/unit/ssg-module/data/applicability/chrony.yml
  tests/unit/ssg-module/data/applicability/machine.yml
  tests/unit/ssg-module/data/applicability/ntp.yml
  tests/unit/ssg-module/data/applicability/systemd.yml
  tests/unit/ssg-module/data/applicability/yum.yml
  tests/unit/ssg-module/data/machine.yml
  tests/unit/ssg-module/test_build_cpe.py
  tests/unit/ssg-module/test_build_remediations.py
  tests/unit/ssg-module/test_build_yaml.py
Due: none

Fix multi-arg specs matching
  ssg/boolean_expression.py
  tests/unit/ssg-module/test_boolean_expressions.py
Due: none

deduplicate code which retrieves remediation conditionals
  ssg/build_cpe.py
  ssg/constants.py
Due: none

Fix a bug in Ansible conditionals rendering
  ssg/build_remediations.py
Due: none

fix generation of CPE oval IDs when generating derivatives
  ssg/build_derivatives.py
Due: none

Improve product CPEs
  build-scripts/enable_derivatives.py
  cmake/SSGCommon.cmake
  shared/applicability/package_installed.yml
  ssg/build_cpe.py
  ssg/build_derivatives.py
  ssg/build_yaml.py
Due: none

Use special language oval_platform when templating CPEs OVAL
  cmake/SSGCommon.cmake
  shared/templates/package_installed/oval_platform.template
  shared/templates/package_installed/template.yml
  ssg/templates.py
  tests/ssg_test_suite/common.py
  tests/unit/ssg-module/data/applicability/chrony.yml
  tests/unit/ssg-module/data/applicability/general.yml
  tests/unit/ssg-module/data/applicability/machine.yml
  tests/unit/ssg-module/data/applicability/ntp.yml
  tests/unit/ssg-module/data/applicability/systemd.yml
  tests/unit/ssg-module/data/applicability/virtualization.yml
  tests/unit/ssg-module/data/applicability/yum.yml
  tests/unit/ssg-module/test_build_cpe.py
  tests/unit/ssg-module/test_build_yaml.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add krb5_* and tmux platform definitions
  shared/applicability/krb5_server_older_than_1_17-18.yml
  shared/applicability/krb5_workstation_older_than_1_17-18.yml
  shared/applicability/tmux.yml
Due: none

Add initial version and argument support for platform OVALs
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/bash/shared.sh
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/rule.yml
  shared/applicability/os_release.yml
  shared/applicability/package_installed.yml
  shared/macros/10-oval.jinja
  shared/templates/os_release/conditional.oval.template
  shared/templates/os_release/template.yml
  shared/templates/package_installed/conditional.oval.template
  shared/templates/package_installed/template.yml
  ssg/boolean_expression.py
  ssg/build_cpe.py
  ssg/build_yaml.py
  ssg/templates.py
  tests/unit/ssg-module/test_boolean_expressions.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add missing tftp-server, usbguard CPEs and fix fedora_37 product CPE.
  products/fedora/product.yml
  shared/applicability/tftp-server.yml
  shared/applicability/usbguard.yml
Due: none

Extract remediation-specific utility functions from build_remediations.py into a separate module (remediations.py)
  ssg/build_remediations.py
  ssg/jinja.py
  ssg/playbook_builder.py
  ssg/remediations.py
Due: none

Create example platform with nonexisting packages
  linux_os/guide/services/ntp/chronyd_or_ntpd_set_maxpoll/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
