Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ci/prow/e2e-aws-ocp4-cis:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-cis-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-e8:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-pci-dss:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

rsyslog_filecreatemode: Add OVAL audit
  linux_os/guide/system/logging/rsyslog_filecreatemode/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

rsyslog_filecreatemode: Add tests
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_0600.pass.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_0601.fail.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_0640.pass.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_0755.fail.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_duplicate.fail.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_missing.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ubuntu2004: cis_level1_server: Add rule rsyslog_filecreatemode
  products/ubuntu2004/profiles/cis_level1_server.profile
Due: none

ubuntu2204: cis_level1_server: Add rule rsyslog_filecreatemode
  products/ubuntu2204/profiles/cis_level1_server.profile
Due: none

rsyslog_files_permissions: Remove reference cis@ubuntu2004
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_files_permissions/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

rsyslog_filecreatemode: oval: Simplify tests
  linux_os/guide/system/logging/rsyslog_filecreatemode/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

rsyslog_filecreatemode: tests: Remove platform
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_0600.pass.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_0601.fail.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_0640.pass.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_0755.fail.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_duplicate.fail.sh
  linux_os/guide/system/logging/rsyslog_filecreatemode/tests/filecreatemode_missing.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

rsyslog_filecreatemode: Improve ocil_clause
  linux_os/guide/system/logging/rsyslog_filecreatemode/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

rsyslog_filecreatemode: bash: Make it multi_platform_all
  linux_os/guide/system/logging/rsyslog_filecreatemode/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

rsyslog_filecreatemode: oval: Improve comments
  linux_os/guide/system/logging/rsyslog_filecreatemode/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Introduce rule to remove cyrus-imapd package
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
  linux_os/guide/services/imap/disabling_cyrus-imapd/group.yml
  linux_os/guide/services/imap/disabling_cyrus-imapd/package_cyrus-imapd_removed/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Introduce rule to remove nginx package
  linux_os/guide/services/http/disabling_nginx/group.yml
  linux_os/guide/services/http/disabling_nginx/package_nginx_removed/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update CIS RHEL control files regarging nginx
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
Due: none

Ensure checks on mount options return 'notapplicable' when mount does not exist
  linux_os/guide/system/permissions/partitions/mount_option_var_log_audit_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_audit_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_audit_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_nosuid/rule.yml
  shared/applicability/partition-var-log-audit.yml
  shared/applicability/partition-var-log.yml
  shared/checks/oval/installed_env_mounts_var_log.xml
  shared/checks/oval/installed_env_mounts_var_log_audit.xml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update pam_pwquality requirements in CIS
  controls/cis_rhel7.yml
  controls/cis_rhel8.yml
  controls/cis_rhel9.yml
Due: none

Add package_dnsmasq_removed rule
  controls/cis_rhel9.yml
  linux_os/guide/services/dns/package_dnsmasq_removed/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Implemented a template 'partition.yml'
  linux_os/guide/system/permissions/partitions/mount_option_boot_efi_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_boot_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_boot_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_boot_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_dev_shm_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_dev_shm_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_dev_shm_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_home_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_opt_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_srv_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_tmp_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_tmp_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_tmp_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_audit_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_audit_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_audit_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_log_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_nosuid/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_bind/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_nodev/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_noexec/rule.yml
  linux_os/guide/system/permissions/partitions/mount_option_var_tmp_nosuid/rule.yml
  shared/applicability/partition-tmp.yml
  shared/applicability/partition-var-log-audit.yml
  shared/applicability/partition-var-log.yml
  shared/applicability/partition-var-tmp.yml
  shared/applicability/partition.yml
  shared/checks/oval/installed_env_mounts_tmp.xml
  shared/checks/oval/installed_env_mounts_var_log.xml
  shared/checks/oval/installed_env_mounts_var_log_audit.xml
  shared/checks/oval/installed_env_mounts_var_tmp.xml
  shared/templates/platform_partition/oval.template
  shared/templates/platform_partition/template.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

rsyslog_filecreatemode: bash: Improve remediation
  linux_os/guide/system/logging/rsyslog_filecreatemode/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add /dev/shm to CIS Workstation Level 2 Kickstart on RHEL 9
  products/rhel9/kickstart/ssg-rhel9-cis_workstation_l2-ks.cfg
Due: none

nist_rhcos4: Fix typo in rule name
  controls/nist_rhcos4.yml
Due: none

OCP4 STIG: Fix status of SRG-APP-000360-CTR-000815
  controls/srg_ctr/SRG-APP-000360-CTR-000815.yml
Due: ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

package_nginx_removed: Add ubuntu prodtypes and cis references
  linux_os/guide/services/http/disabling_nginx/package_nginx_removed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ubuntu2004: cis_level1_server: Add rule package_nginx_removed
  products/ubuntu2004/profiles/cis_level1_server.profile
Due: none

ubuntu2204: cis_level1_server: Add rule package_nginx_removed
  products/ubuntu2204/profiles/cis_level1_server.profile
Due: none

package_cyrus-imapd_removed: Add ubuntu prodtypes and cis references
  linux_os/guide/services/imap/disabling_cyrus-imapd/package_cyrus-imapd_removed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ubuntu2004: cis_level1_server: Add rule package_cyrus-imapd_removed
  products/ubuntu2004/profiles/cis_level1_server.profile
Due: none

ubuntu2204: cis_level1_server: Add rule package_cyrus-imapd_removed
  products/ubuntu2204/profiles/cis_level1_server.profile
Due: none

apparmor: apply only to platform machine
  linux_os/guide/system/apparmor/apparmor_configured/rule.yml
  linux_os/guide/system/apparmor/group.yml
  linux_os/guide/system/apparmor/package_pam_apparmor_installed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

accounts_passwords_pam_faildelay_delay: depend on pam
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_faildelay_delay/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

accounts_passwords_pam_tally2: depend on pam being installed
  linux_os/guide/system/accounts/accounts-pam/locking_out_password_attempts/accounts_passwords_pam_tally2/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

package_pam_pwquality_installed: depend on pam being installed
  linux_os/guide/system/accounts/accounts-pam/package_pam_pwquality_installed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

vlock_installed: apply only to platform machine
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/vlock_installed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add package_ftp_removed rule
  controls/cis_rhel9.yml
  linux_os/guide/services/ftp/package_ftp_removed/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

A new rule as a part of CIS profile for SLE 12/15 - all_apparmor_profiles_enforced
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/ansible/shared.yml
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/bash/shared.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/oval/shared.xml
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/rule.yml
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/tests/correct_apparmor_profiles_enforced.pass.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/tests/incorrect_apparmor_profiles.fail.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/tests/incorrect_apparmor_profiles_enforced.fail.sh
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove OVAL part
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

New SLE 12/15 rule all_apparmor_profiles_in_enforce_complain_mode which covers CIS recommendation
  controls/cis_sle12.yml
  controls/cis_sle15.yml
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/ansible/shared.yml
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/bash/shared.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/oval/sle.xml
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/rule.yml
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/tests/correct_all_apparmor_profiles_in_complain.pass.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/tests/correct_all_apparmor_profiles_in_enforce.pass.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/tests/incorrect_all_apparmor_profiles.fail.sh
  linux_os/guide/system/apparmor/var_apparmor_mode.var
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove of OVAL part
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/oval/sle.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

banner_etc_motd: Add ubuntu prodtypes and cis references
  linux_os/guide/system/accounts/accounts-banners/banner_etc_motd/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

banner_etc_motd: bash: Add ubuntu platform
  linux_os/guide/system/accounts/accounts-banners/banner_etc_motd/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ubuntu2204: cis_level1_server: Add rule banner_etc_motd
  products/ubuntu2204/profiles/cis_level1_server.profile
Due: none

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
