Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

fix ugly grammar from previous PR
  products/rhel8/profiles/pci-dss.profile
  products/rhel9/profiles/pci-dss.profile
Due: none

add suggested rules to warnings
  linux_os/guide/services/ntp/service_ntp_enabled/rule.yml
  linux_os/guide/system/auditing/package_audit-audispd-plugins_installed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update grub2_mitigation_argument texts
  linux_os/guide/system/bootloader-grub2/grub2_mitigation_argument/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

enable sshd_distributed_config for ubuntu2204
  products/ubuntu2204/product.yml
  tests/data/product_stability/ubuntu2204.yml
Due: none

enable sshd_distributed_config for ubuntu2004
  products/ubuntu2004/product.yml
  tests/data/product_stability/ubuntu2004.yml
Due: none

add multi_platform_ubuntu to sshd_lineinfile/tests
  shared/templates/sshd_lineinfile/tests/correct_value_directory.pass.sh
  shared/templates/sshd_lineinfile/tests/duplicated_param_directory.pass.sh
  shared/templates/sshd_lineinfile/tests/param_conflict_directory.fail.sh
  shared/templates/sshd_lineinfile/tests/param_conflict_file_with_directory.fail.sh
  shared/templates/sshd_lineinfile/tests/wrong_value_directory.fail.sh
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Revert "Modification of ansible part and test files, 2 additional tests added"
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/commented_execstartpost.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/correct_value.audit.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/correct_value.privileged.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/correct_value_augenrules.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/miss_arch.audit.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/miss_arch.privileged.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/miss_c.audit.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/miss_c.privileged.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/no_rules.audit.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/no_rules.privileged.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/no_rules_augenrules.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/other_key.audit.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/other_key.privileged.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/use_f_key.audit.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/use_f_key.privileged.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_a.audit.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_a.privileged.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_c_egid.audit.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_c_egid.privileged.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_c_euid.audit.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_c_euid.privileged.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_f_egid.audit.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_f_egid.privileged.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_f_euid.audit.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_f_euid.privileged.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Revert "Additional changes into ansible part"
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Revert "Created test cases covering /etc/audit/rules.d/privileged.rules and /etc/audit/audit.rules"
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/correct_value.audit.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/correct_value.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/miss_arch.audit.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/miss_arch.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/miss_c.audit.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/miss_c.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/no_rules.audit.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/no_rules.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/other_key.audit.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/other_key.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/use_f_key.audit.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/use_f_key.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_a.audit.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_a.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_c_egid.audit.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_c_egid.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_c_euid.audit.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_c_euid.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_f_egid.audit.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_f_egid.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_f_euid.audit.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_suid_privilege_function/tests/wrong_f_euid.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Generate a subset of an OVAL document according to the OVALDefinitionReference class
  ssg/oval_object_model/__init__.py
  ssg/oval_object_model/oval_document.py
Due: none

Add parameter for generation of OVAL document for each rule
  build-scripts/build_xccdf.py
  build-scripts/combine_ovals.py
  cmake/SSGCommon.cmake
  ssg/build_renumber.py
Due: none

Fix FutureWarning: The behavior of this method will change in future versions.
  ssg/oval_object_model/oval_document.py
Due: none

Disable the build of OVAL intermediate files
  cmake/SSGCommon.cmake
Due: none

Add test
  tests/unit/ssg-module/test_oval_object_model/test_oval_document.py
Due: none

Implement generation of OVAL documents for each rule
  ssg/build_renumber.py
Due: none

Update linux_os/guide/system/network/network-nftables/set_nftables_base_chain/ansible/shared.yml
  linux_os/guide/system/network/network-nftables/set_nftables_base_chain/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

update list of contributors before 0.1.71 release
  Contributors.md
  Contributors.xml
Due: none

Fix audit key check in audit_rules_privileged_commands_fdisk
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_fdisk/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fixed auditd package name
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_fdisk/tests/auditctl_correct.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_fdisk/tests/auditctl_correct_without_key.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_fdisk/tests/auditctl_remove_all_rules.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_fdisk/tests/auditctl_wrong_rule.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_fdisk/tests/augenrules_correct.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_fdisk/tests/augenrules_correct_without_key.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_fdisk/tests/augenrules_remove_all_rules.fail.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_fdisk/tests/augenrules_wrong_rule.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

bump version to 0.1.72
  CMakeLists.txt
Due: none

OCP4: Fix e2e result on CIS kube file permission issues
  applications/openshift/master/file_permissions_controller_manager_kubeconfig/tests/ocp4/4.10.yml
  applications/openshift/master/file_permissions_controller_manager_kubeconfig/tests/ocp4/4.11.yml
  applications/openshift/master/file_permissions_controller_manager_kubeconfig/tests/ocp4/4.12.yml
  applications/openshift/master/file_permissions_controller_manager_kubeconfig/tests/ocp4/4.13.yml
  applications/openshift/master/file_permissions_controller_manager_kubeconfig/tests/ocp4/4.14.yml
  applications/openshift/master/file_permissions_controller_manager_kubeconfig/tests/ocp4/e2e.yml
  applications/openshift/master/file_permissions_etcd_member/tests/ocp4/4.10.yml
  applications/openshift/master/file_permissions_etcd_member/tests/ocp4/4.11.yml
  applications/openshift/master/file_permissions_etcd_member/tests/ocp4/4.12.yml
  applications/openshift/master/file_permissions_etcd_member/tests/ocp4/4.13.yml
  applications/openshift/master/file_permissions_etcd_member/tests/ocp4/4.14.yml
  applications/openshift/master/file_permissions_etcd_member/tests/ocp4/e2e.yml
  applications/openshift/master/file_permissions_kube_apiserver/tests/ocp4/4.10.yml
  applications/openshift/master/file_permissions_kube_apiserver/tests/ocp4/4.11.yml
  applications/openshift/master/file_permissions_kube_apiserver/tests/ocp4/4.12.yml
  applications/openshift/master/file_permissions_kube_apiserver/tests/ocp4/4.13.yml
  applications/openshift/master/file_permissions_kube_apiserver/tests/ocp4/4.14.yml
  applications/openshift/master/file_permissions_kube_apiserver/tests/ocp4/e2e.yml
  applications/openshift/master/file_permissions_kube_controller_manager/tests/ocp4/4.10.yml
  applications/openshift/master/file_permissions_kube_controller_manager/tests/ocp4/4.11.yml
  applications/openshift/master/file_permissions_kube_controller_manager/tests/ocp4/4.12.yml
  applications/openshift/master/file_permissions_kube_controller_manager/tests/ocp4/4.13.yml
  applications/openshift/master/file_permissions_kube_controller_manager/tests/ocp4/4.14.yml
  applications/openshift/master/file_permissions_kube_controller_manager/tests/ocp4/e2e.yml
  applications/openshift/master/file_permissions_scheduler_kubeconfig/tests/ocp4/4.10.yml
  applications/openshift/master/file_permissions_scheduler_kubeconfig/tests/ocp4/4.11.yml
  applications/openshift/master/file_permissions_scheduler_kubeconfig/tests/ocp4/4.12.yml
  applications/openshift/master/file_permissions_scheduler_kubeconfig/tests/ocp4/4.13.yml
  applications/openshift/master/file_permissions_scheduler_kubeconfig/tests/ocp4/4.14.yml
  applications/openshift/master/file_permissions_scheduler_kubeconfig/tests/ocp4/e2e.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

remove calls to exit from Bash remediations
  linux_os/guide/services/ssh/ssh_server/firewalld_sshd_port_enabled/bash/shared.sh
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_restricted/bash/shared.sh
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/firewalld_loopback_traffic_trusted/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update OL8 stig selection for OL08-00-040259
  linux_os/guide/system/network/network-kernel/network_host_and_router_parameters/sysctl_net_ipv4_conf_all_forwarding/rule.yml
  linux_os/guide/system/network/network-kernel/network_host_parameters/sysctl_net_ipv4_ip_forward/rule.yml
  products/ol8/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update Oracle Linux anssi profiles
  linux_os/guide/system/auditing/auditd_configure_rules/audit_sudo_log_events/rule.yml
  linux_os/guide/system/bootloader-grub2/grub2_mds_argument/rule.yml
  linux_os/guide/system/permissions/files/sysctl_fs_protected_fifos/rule.yml
  linux_os/guide/system/permissions/files/sysctl_fs_protected_regular/rule.yml
  products/ol9/profiles/anssi_bp28_enhanced.profile
  products/ol9/profiles/anssi_bp28_high.profile
  products/ol9/profiles/anssi_bp28_intermediary.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add profile aliases for OpenShift versioned profiles
  products/ocp4/profiles/cis-1-4.profile
  products/ocp4/profiles/cis-node-1-4.profile
  products/ocp4/profiles/cis-node.profile
  products/ocp4/profiles/high-node-rev-4.profile
  products/ocp4/profiles/high-node.profile
  products/ocp4/profiles/high-rev-4.profile
  products/ocp4/profiles/moderate-node-rev-4.profile
  products/ocp4/profiles/moderate-node.profile
  products/ocp4/profiles/moderate-rev-4.profile
  products/ocp4/profiles/moderate.profile
  products/ocp4/profiles/pci-dss-3-2.profile
  products/ocp4/profiles/pci-dss-node-3-2.profile
  products/ocp4/profiles/pci-dss.profile
  products/ocp4/profiles/stig-node-v1r1.profile
  products/ocp4/profiles/stig-v1r1.profile
  products/rhcos4/profiles/high-rev-4.profile
  products/rhcos4/profiles/high.profile
  products/rhcos4/profiles/moderate-rev-4.profile
  products/rhcos4/profiles/moderate.profile
  products/rhcos4/profiles/stig-v1r1.profile
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix wrong_value test in sudo_require_authentication
  linux_os/guide/system/software/sudo/sudo_require_authentication/tests/wrong_value.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add docs for ansible_sudo_remove_config
  shared/macros/10-ansible.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Move ansible_sudo_remove_config to FQCN
  shared/macros/10-ansible.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove all contributors file
  .all-contributorsrc
Due: none

remove explicit remediations, check and tests from templated rule audit_rules_privileged_commands_kmod
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_kmod/ansible/shared.yml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_kmod/bash/shared.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_kmod/oval/shared.xml
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_kmod/tests/auditctl_correct_value.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_kmod/tests/augenrules_correct_value.pass.sh
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_kmod/tests/ocp4/e2e.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix quoting for runtime_kernel_fips_enabled CPE check
  shared/applicability/runtime_kernel_fips_enabled.yml
Due: none

Fix ShellCheck in secure_boot_enabled
  shared/applicability/secure_boot.yml
Due: none

Exclude mypy_cache from check_eof
  utils/check_eof.py
Due: none

Add more type hints for methods in check_eof script
  utils/check_eof.py
Due: none

OCP4: Add option to deploy profile without upstrem prefix
  utils/build_ds_container.py
Due: none

add aide_disable_silentreports rule for UBTU-20-010437
  components/aide.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_disable_silentreports/rule.yml
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_disable_silentreports/tests/correct.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_disable_silentreports/tests/not_config.fail.sh
  products/ubuntu2004/product.yml
  products/ubuntu2004/profiles/stig.profile
  tests/data/product_stability/ubuntu2004.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate
