Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ci/prow/e2e-aws-ocp4-cis:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-cis-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-e8:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-pci-dss:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

Add getter of profiles stats
  ssg/build_profile.py
Due: none

Add calculation of most used rules
  build-scripts/profile_tool.py
  utils/profile_tool/__init__.py
  utils/profile_tool/most_used_rules.py
Due: none

Add documentation for a new script capability
  docs/manual/developer/05_tools_and_utilities.md
Due: none

Change command line arguments
  build-scripts/profile_tool.py
  tests/unit/utils/test_generate_most_used_rules.py
Due: none

Add test
  tests/unit/utils/test_generate_most_used_rules.py
Due: none

Update ANSSI R29
  controls/anssi.yml
Due: none

Unselect R29 rules not applicable for RHEL9
  products/rhel9/profiles/anssi_bp28_enhanced.profile
Due: none

Add profile collected from controll files
  utils/profile_tool/profile.py
Due: none

Fix invalid number usage in oauth variable
  applications/openshift/authentication/var_oauth_token_maxage.var
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Add processing of controlfiles
  utils/profile_tool/most_used_rules.py
Due: none

Update docuentation
  docs/manual/developer/05_tools_and_utilities.md
Due: none

Fix python2 support
  tests/unit/utils/test_generate_most_used_rules.py
  utils/profile_tool/most_used_rules.py
Due: none

Update SRG GPOS Control to v2r7
  controls/srg_gpos.yml
  controls/srg_gpos/SRG-OS-000024-GPOS-00007.yml
  controls/srg_gpos/SRG-OS-000027-GPOS-00008.yml
  controls/srg_gpos/SRG-OS-000033-GPOS-00014.yml
  controls/srg_gpos/SRG-OS-000073-GPOS-00041.yml
  controls/srg_gpos/SRG-OS-000074-GPOS-00042.yml
  controls/srg_gpos/SRG-OS-000109-GPOS-00056.yml
  controls/srg_gpos/SRG-OS-000113-GPOS-00058.yml
  controls/srg_gpos/SRG-OS-000125-GPOS-00065.yml
  controls/srg_gpos/SRG-OS-000191-GPOS-00080.yml
  controls/srg_gpos/SRG-OS-000228-GPOS-00088.yml
  controls/srg_gpos/SRG-OS-000250-GPOS-00093.yml
  controls/srg_gpos/SRG-OS-000274-GPOS-00104.yml
  controls/srg_gpos/SRG-OS-000275-GPOS-00105.yml
  controls/srg_gpos/SRG-OS-000278-GPOS-00108.yml
  controls/srg_gpos/SRG-OS-000324-GPOS-00125.yml
  controls/srg_gpos/SRG-OS-000341-GPOS-00132.yml
  controls/srg_gpos/SRG-OS-000342-GPOS-00133.yml
  controls/srg_gpos/SRG-OS-000343-GPOS-00134.yml
  controls/srg_gpos/SRG-OS-000348-GPOS-00136.yml
  controls/srg_gpos/SRG-OS-000349-GPOS-00137.yml
  controls/srg_gpos/SRG-OS-000350-GPOS-00138.yml
  controls/srg_gpos/SRG-OS-000351-GPOS-00139.yml
  controls/srg_gpos/SRG-OS-000352-GPOS-00140.yml
  controls/srg_gpos/SRG-OS-000359-GPOS-00146.yml
  controls/srg_gpos/SRG-OS-000366-GPOS-00153.yml
  controls/srg_gpos/SRG-OS-000393-GPOS-00173.yml
  controls/srg_gpos/SRG-OS-000394-GPOS-00174.yml
  controls/srg_gpos/SRG-OS-000395-GPOS-00175.yml
  controls/srg_gpos/SRG-OS-000396-GPOS-00176.yml
  controls/srg_gpos/SRG-OS-000404-GPOS-00183.yml
  controls/srg_gpos/SRG-OS-000405-GPOS-00184.yml
  controls/srg_gpos/SRG-OS-000423-GPOS-00187.yml
  controls/srg_gpos/SRG-OS-000424-GPOS-00188.yml
  controls/srg_gpos/SRG-OS-000439-GPOS-00195.yml
  controls/srg_gpos/SRG-OS-000478-GPOS-00223.yml
  controls/srg_gpos/SRG-OS-000480-GPOS-00229.yml
  controls/srg_gpos/SRG-OS-000481-GPOS-00481.yml
Due: none

Add scripts to Update SRG
  utils/build_stig_control.py
  utils/import_srg_spreadsheet.py
  utils/update_stig_control.py
Due: none

Revert "Add scripts to Update SRG"
  utils/build_stig_control.py
  utils/import_srg_spreadsheet.py
  utils/update_stig_control.py
Due: none

profile_tool.py: Fix traceback in sub command
  utils/profile_tool/sub.py
Due: none

Stop pretty formatting unlinked OVALs
  cmake/SSGCommon.cmake
Due: none

Indent using 2 spaces
  ssg/oval_object_model/oval_document.py
Due: none

Do not reformat if not needed
  cmake/SSGCommon.cmake
Due: none

update notes of the R36 requirement for ANSSI
  controls/anssi.yml
Due: none

Use indent for OCIL if possible
  ssg/build_renumber.py
Due: none

Do not reformat OCIL if not needed
  cmake/SSGCommon.cmake
Due: none

Update file_permissions_systemmap rule
  linux_os/guide/system/permissions/files/file_permissions_systemmap/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove local OVAL in favor of template
  linux_os/guide/system/permissions/files/file_permissions_systemmap/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

New templated rule file_owner_systemmap
  components/filesystem.yml
  linux_os/guide/system/permissions/files/file_owner_systemmap/rule.yml
  linux_os/guide/system/permissions/files/file_owner_systemmap/tests/correct_owner.pass.sh
  linux_os/guide/system/permissions/files/file_owner_systemmap/tests/correct_owner_multiple_files.pass.sh
  linux_os/guide/system/permissions/files/file_owner_systemmap/tests/incorrect_owner.fail.sh
  linux_os/guide/system/permissions/files/file_owner_systemmap/tests/incorrect_owner_multiple_files.fail.sh
  linux_os/guide/system/permissions/files/file_owner_systemmap/tests/missing_file_test.pass.sh
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Ensure proper test scenarios for templated rule
  linux_os/guide/system/permissions/files/file_permissions_systemmap/tests/correct_multiple_files.pass.sh
  linux_os/guide/system/permissions/files/file_permissions_systemmap/tests/correct_permissions.pass.sh
  linux_os/guide/system/permissions/files/file_permissions_systemmap/tests/lenient_multiple_files.fail.sh
  linux_os/guide/system/permissions/files/file_permissions_systemmap/tests/lenient_permissions.fail.sh
  linux_os/guide/system/permissions/files/file_permissions_systemmap/tests/missing_file_test.pass.sh
  linux_os/guide/system/permissions/files/file_permissions_systemmap/tests/stricter_permisions.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

New templated rule file_groupowner_systemmap
  components/filesystem.yml
  linux_os/guide/system/permissions/files/file_groupowner_systemmap/rule.yml
  linux_os/guide/system/permissions/files/file_groupowner_systemmap/tests/correct_groupowner.pass.sh
  linux_os/guide/system/permissions/files/file_groupowner_systemmap/tests/correct_groupowner_multiple_files.pass.sh
  linux_os/guide/system/permissions/files/file_groupowner_systemmap/tests/incorrect_groupowner.fail.sh
  linux_os/guide/system/permissions/files/file_groupowner_systemmap/tests/incorrect_groupowner_multiple_files.fail.sh
  linux_os/guide/system/permissions/files/file_groupowner_systemmap/tests/missing_file_test.pass.sh
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update ANSSI requirement R29
  controls/anssi.yml
  products/rhel7/profiles/default.profile
  products/rhel8/profiles/default.profile
  products/rhel9/profiles/default.profile
Due: none

Include RHEL9 CCE for file_permissions_systemmap
  linux_os/guide/system/permissions/files/file_permissions_systemmap/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update controls/anssi.yml
  controls/anssi.yml
Due: none

Improve XCCDF output format
  build-scripts/build_xccdf.py
  ssg/build_yaml.py
Due: none

Do not reformat XCCDF if not needed
  cmake/SSGCommon.cmake
Due: none

Refactor CMake macros
  cmake/SSGCommon.cmake
Due: none

k8s content images: Don't tag PR images as latest
  .github/workflows/k8s-content-pr.yaml
Due: none

Apply suggestions from code review
  linux_os/guide/system/permissions/files/file_groupowner_systemmap/rule.yml
  linux_os/guide/system/permissions/files/file_owner_systemmap/rule.yml
  linux_os/guide/system/permissions/files/file_permissions_systemmap/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

k8s content image: Comment the commit used
  .github/workflows/k8s-content-pr.yaml
Due: none

Update github workflows PR runs
  .github/workflows/automatus-cs8.yaml
  .github/workflows/automatus-cs9.yaml
  .github/workflows/automatus-sanity.yaml
  .github/workflows/automatus-sle15.yaml
  .github/workflows/automatus.yaml
  .github/workflows/gate-lint-ansible-roles.yaml
  .github/workflows/gate.yaml
  .github/workflows/gate_fedora.yml
  .github/workflows/gh-pages.yaml
  .github/workflows/k8s-content-pr-trigger.yaml
  .github/workflows/srg-mapping-table.yaml
Due: none

Changes in template service_disabled - ansible part
  shared/templates/service_disabled/ansible.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

update description of the "automated" status for control files
  docs/manual/developer/03_creating_content.md
Due: none

update R36 in ANSSI
  controls/anssi.yml
Due: none

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
