Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

Add STIG Tables for RHEL 9
  products/rhel9/CMakeLists.txt
Due: none

Fix duplicate OVAL ids (gpgkey package, GDM login)
  linux_os/guide/system/software/gnome/gnome_login_screen/gnome_gdm_disable_unattended_automatic_login/oval/shared.xml
  linux_os/guide/system/software/updating/ensure_fedora_gpgkey_installed/oval/shared.xml
  linux_os/guide/system/software/updating/ensure_oracle_gpgkey_installed/oval/shared.xml
  linux_os/guide/system/software/updating/ensure_redhat_gpgkey_installed/oval/shared.xml
  linux_os/guide/system/software/updating/ensure_suse_gpgkey_installed/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove bogus specifier from audit_rules_privileged_commands_unix2_chkpwd rule's template
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands_unix2_chkpwd/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

escape pipefail for debian in rsyslog_logfiles_attributes_modify
  shared/templates/rsyslog_logfiles_attributes_modify/ansible.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

enable debian ansible remediation in audit_rules_kernel_module_loading_finit
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_finit/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

enable debian ansible remediation in audit_rules_kernel_module_loading_delete
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_delete/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

enable debian ansible remediation in audit_rules_kernel_module_loading_init
  linux_os/guide/system/auditing/auditd_configure_rules/audit_kernel_module_loading/audit_rules_kernel_module_loading_init/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

enable debian ansible remediation audit_rules_privileged_commands
  linux_os/guide/system/auditing/auditd_configure_rules/audit_privileged_commands/audit_rules_privileged_commands/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

enable debian ansible remediation in audit_rules_session_events
  linux_os/guide/system/auditing/auditd_configure_rules/audit_rules_session_events/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

enable all_apparmor_profiles_enforced for Debian12
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/ansible/shared.yml
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/bash/shared.sh
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/rule.yml
  linux_os/guide/system/apparmor/all_apparmor_profiles_enforced/sce/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

enable apparmor_configured for Debian
  linux_os/guide/system/apparmor/apparmor_configured/ansible/shared.yml
  linux_os/guide/system/apparmor/apparmor_configured/bash/shared.sh
  linux_os/guide/system/apparmor/apparmor_configured/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

enable grub2_enable_apparmor for Debian
  linux_os/guide/system/apparmor/grub2_enable_apparmor/bash/shared.sh
  linux_os/guide/system/apparmor/grub2_enable_apparmor/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

enable package_apparmor_installed for Debian
  linux_os/guide/system/apparmor/package_apparmor_installed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add enhanced ANSSI-BP-028 profile for Debian
  products/debian12/profiles/anssi_bp28_enhanced.profile
Due: none

add high ANSSI-BP-028 profile for Debian
  products/debian12/profiles/anssi_bp28_high.profile
Due: none

enable package_pam_apparmor_installed for Debian
  linux_os/guide/system/apparmor/package_pam_apparmor_installed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Revert "OCPBUGS-11932: Disable checks for Open vSwitch on NSX cluster"
  applications/openshift/master/file_groupowner_openvswitch/rule.yml
  applications/openshift/master/file_groupowner_ovs_conf_db/rule.yml
  applications/openshift/master/file_groupowner_ovs_conf_db_lock/rule.yml
  applications/openshift/master/file_groupowner_ovs_conf_db_lock_not_s390x/rule.yml
  applications/openshift/master/file_groupowner_ovs_conf_db_lock_s390x/rule.yml
  applications/openshift/master/file_groupowner_ovs_conf_db_not_s390x/rule.yml
  applications/openshift/master/file_groupowner_ovs_conf_db_s390x/rule.yml
  applications/openshift/master/file_groupowner_ovs_pid/rule.yml
  applications/openshift/master/file_groupowner_ovs_sys_id_conf/rule.yml
  applications/openshift/master/file_groupowner_ovs_sys_id_conf_not_s390x/rule.yml
  applications/openshift/master/file_groupowner_ovs_sys_id_conf_s390x/rule.yml
  applications/openshift/master/file_groupowner_ovs_vswitchd_pid/rule.yml
  applications/openshift/master/file_groupowner_ovsdb_server_pid/rule.yml
  applications/openshift/master/file_owner_openvswitch/rule.yml
  applications/openshift/master/file_owner_ovs_conf_db/rule.yml
  applications/openshift/master/file_owner_ovs_conf_db_lock/rule.yml
  applications/openshift/master/file_owner_ovs_pid/rule.yml
  applications/openshift/master/file_owner_ovs_sys_id_conf/rule.yml
  applications/openshift/master/file_owner_ovs_vswitchd_pid/rule.yml
  applications/openshift/master/file_owner_ovsdb_server_pid/rule.yml
  applications/openshift/master/file_permissions_openvswitch/rule.yml
  applications/openshift/master/file_permissions_ovs_conf_db/rule.yml
  applications/openshift/master/file_permissions_ovs_conf_db_lock/rule.yml
  applications/openshift/master/file_permissions_ovs_pid/rule.yml
  applications/openshift/master/file_permissions_ovs_sys_id_conf/rule.yml
  applications/openshift/master/file_permissions_ovs_vswitchd_pid/rule.yml
  applications/openshift/master/file_permissions_ovsdb_server_pid/rule.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Revert "Update e2e results for OVS-related checks"
  applications/openshift/master/file_permissions_ovs_conf_db/tests/ocp4/e2e.yml
  applications/openshift/master/file_permissions_ovs_conf_db_lock/tests/ocp4/e2e.yml
  applications/openshift/master/file_permissions_ovs_pid/tests/ocp4/e2e.yml
  applications/openshift/master/file_permissions_ovs_sys_id_conf/tests/ocp4/e2e.yml
  applications/openshift/master/file_permissions_ovs_vswitchd_pid/tests/ocp4/e2e.yml
  applications/openshift/master/file_permissions_ovsdb_server_pid/tests/ocp4/e2e.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Revert "Amend: Update e2e results for OVS-related checks"
  applications/openshift/master/file_groupowner_ovs_conf_db/tests/ocp4/e2e.yml
  applications/openshift/master/file_groupowner_ovs_conf_db_lock/tests/ocp4/e2e.yml
  applications/openshift/master/file_groupowner_ovs_conf_db_lock_not_s390x/tests/ocp4/e2e.yml
  applications/openshift/master/file_groupowner_ovs_conf_db_not_s390x/tests/ocp4/e2e.yml
  applications/openshift/master/file_groupowner_ovs_pid/tests/ocp4/e2e.yml
  applications/openshift/master/file_groupowner_ovs_sys_id_conf/tests/ocp4/e2e.yml
  applications/openshift/master/file_groupowner_ovs_sys_id_conf_not_s390x/tests/ocp4/e2e.yml
  applications/openshift/master/file_groupowner_ovs_vswitchd_pid/tests/ocp4/e2e.yml
  applications/openshift/master/file_groupowner_ovsdb_server_pid/tests/ocp4/e2e.yml
  applications/openshift/master/file_owner_ovs_conf_db/tests/ocp4/e2e.yml
  applications/openshift/master/file_owner_ovs_conf_db_lock/tests/ocp4/e2e.yml
  applications/openshift/master/file_owner_ovs_pid/tests/ocp4/e2e.yml
  applications/openshift/master/file_owner_ovs_sys_id_conf/tests/ocp4/e2e.yml
  applications/openshift/master/file_owner_ovs_vswitchd_pid/tests/ocp4/e2e.yml
  applications/openshift/master/file_owner_ovsdb_server_pid/tests/ocp4/e2e.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Update k8s action to build image on new PR
  .github/workflows/k8s-content.yaml
Due: none

Minor update in default ini file name
  utils/release_helper.py
Due: none

configure_bashrc_exec_tmux: escape braces within regex
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_exec_tmux/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

configure_bashrc_tmux: escape braces within regex
  linux_os/guide/system/accounts/accounts-physical/screen_locking/console_screen_locking/configure_bashrc_tmux/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

add template path prefix with environment override
  build-scripts/generate_guides.py
Due: none

Rename inconsistent shared OVAL IDs (Oracle Linux)
  linux_os/guide/system/software/integrity/certified-vendor/installed_OS_is_FIPS_certified/oval/shared.xml
  linux_os/guide/system/software/integrity/certified-vendor/installed_OS_is_vendor_supported/oval/shared.xml
  linux_os/guide/system/software/updating/ensure_oracle_gpgkey_installed/oval/shared.xml
  products/ol7/product.yml
  products/ol8/product.yml
  products/ol9/product.yml
  shared/checks/oval/installed_OS_is_ol7.xml
  shared/checks/oval/installed_OS_is_ol8.xml
  shared/checks/oval/installed_OS_is_ol9.xml
  tests/data/product_stability/ol7.yml
  tests/data/product_stability/ol8.yml
  tests/data/product_stability/ol9.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix value of sshd_strong_kex variable on Ubuntu
  linux_os/guide/services/ssh/sshd_strong_kex.var
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add invoke parent's init function
  ssg/oval_object_model/oval_container.py
Due: none

Remove unnecessary overwrite of the init function
  ssg/oval_object_model/oval_document.py
  ssg/oval_object_model/oval_entities/definition.py
  ssg/oval_object_model/oval_entities/object.py
  ssg/oval_object_model/oval_entities/state.py
  ssg/oval_object_model/oval_shorthand.py
Due: none

Add alinux2/alinux3 support for pci-dss compliance.
  products/alinux2/profiles/pci-dss.profile
  products/alinux3/profiles/pci-dss.profile
Due: none

Add anolis23/anolis8 support for pci-dss compliance.
  products/anolis23/profiles/pci-dss.profile
  products/anolis8/profiles/pci-dss.profile
Due: none

Update test-check-eof for smoke test
  utils/check_eof.py
Due: none

Fix broken formatting
  docs/manual/developer/03_creating_content.md
Due: none

Finish rename to Automatus
  CONTRIBUTING.md
  docs/index.rst
  docs/manual/developer/02_building_complianceascode.md
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_scan_notification/tests/cron_weekly_configured.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_scan_notification/tests/crontab_configured.pass.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/aide_scan_notification/tests/var_cron_configured.pass.sh
  tests/README.md
  tests/install_vm.py
  tests/kickstarts/test_suite.cfg
  tests/kickstarts/test_suite_rhel7.cfg
  tests/ssg_test_suite/virt.py
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

move bsi os checks into os profile
  controls/bsi_app_4_4.yml
  products/ocp4/profiles/bsi-node.profile
  products/ocp4/profiles/bsi.profile
  products/rhcos4/profiles/bsi.profile
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Added OCP4 Profile and Controls for BSI APP.4.4
  controls/bsi_app_4_4.yml
  products/ocp4/profiles/bsi.profile
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

split bsi profile into node and not node
  products/ocp4/profiles/bsi-node.profile
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Find xccdf_1.1_to_1.2.xsl on Windows
  cmake/FindOpenSCAP.cmake
Due: none

Account for division by zero
  utils/gen_stig_table.py
Due: none

Find xccdf-guide.xsl by pssible openscap root dirs (adds Windows support)
  build-scripts/generate_guides.py
Due: none

Use XSLT_PREFIX
  build-scripts/generate_guides.py
Due: none
