Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

Ensure specific version of Python
  .github/workflows/gate.yaml
Due: none

Update OL9 ospp profile
  products/ol9/profiles/ospp.profile
Due: none

Update OL9 cui profile
  products/ol9/profiles/cui.profile
Due: none

Update OL9 ccn profile
  controls/ccn_ol9.yml
Due: none

Update OL9 ism_o profile
  products/ol9/profiles/ism_o.profile
Due: none

Update OL9 anssi profile
  products/ol9/profiles/anssi_bp28_enhanced.profile
  products/ol9/profiles/anssi_bp28_high.profile
  products/ol9/profiles/anssi_bp28_intermediary.profile
  products/ol9/profiles/anssi_bp28_minimal.profile
Due: none

Apply 1.1.1.8 to server_l1 to match the benchmark
  controls/cis_rhel8.yml
Due: none

Update references for profile stability tests
  tests/data/profile_stability/rhel8/cis_server_l1.profile
Due: none

Disable remediation for all_apparmor_profiles_in_enforce_complain_mode on Ubuntu
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/apparmor/all_apparmor_profiles_in_enforce_complain_mode/bash/shared.sh
  linux_os/guide/system/apparmor/var_apparmor_mode.var
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Files to support debian12 scap guide.
  controls/cis_debian12.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_pwquality_enabled/oval/shared.xml
  linux_os/guide/system/bootloader-grub2/uefi/grub2_uefi_password/oval/debian.xml
  linux_os/guide/system/network/network-iptables/iptables_activation/set_loopback_traffic/sce/debian.sh
  linux_os/guide/system/network/network-iptables/iptables_ruleset_modifications/set_iptables_default_rule/sce/debian.sh
  linux_os/guide/system/software/integrity/software-integrity/aide/package_aide_common_installed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix typos in file_ownerships_var_log
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_ownerships_var_log/oval/shared.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Exclude symlinks in file_(group)ownerships_var_log rules
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_groupownerships_var_log/oval/shared.xml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_groupownerships_var_log/tests/symlink.pass.sh
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_ownerships_var_log/oval/shared.xml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_ownerships_var_log/tests/symlink.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Fix dconf key for idle-delay lock on Ubuntu
  linux_os/guide/system/software/gnome/gnome_screen_locking/dconf_gnome_screensaver_idle_delay/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add new product tencentos4 supporting
  CMakeLists.txt
  build_product
  controls/std_tencentos4.yml
  products/tencentos4/CMakeLists.txt
  products/tencentos4/overlays/.gitkeep
  products/tencentos4/product.yml
  products/tencentos4/profiles/basic.profile
  products/tencentos4/profiles/standard.profile
  products/tencentos4/transforms/constants.xslt
  products/tencentos4/transforms/table-style.xslt
  products/tencentos4/transforms/xccdf2table-cce.xslt
  products/tencentos4/transforms/xccdf2table-profileccirefs.xslt
  shared/checks/oval/installed_OS_is_tencentos4.xml
  shared/checks/oval/sysctl_kernel_ipv6_disable.xml
  ssg/constants.py
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove copied comments
  .github/workflows/gate.yaml
Due: none

Use correct Python version variable name
  cmake/SSGCommon.cmake
  tests/CMakeLists.txt
Due: none

Bug fix - version number changed from 1.5.0 to 1.7.0
  products/ocp4/profiles/cis-node.profile
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Move stablization to the third Monday of the second month
  docs/manual/developer/10_stabilization_phase.md
Due: none

Make Delta tailoring for RHEL 8 only
  cmake/SSGCommon.cmake
Due: none

Prefer unversioned python interpreter
  CMakeLists.txt
Due: none

Adjust applicable OCP version
  applications/openshift/api-server/api_server_kubelet_client_cert/rule.yml
  applications/openshift/api-server/api_server_kubelet_client_key/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_cert/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_key/rule.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Delete _pre_4_9 rules
  applications/openshift/api-server/api_server_kubelet_client_cert_pre_4_9/rule.yml
  applications/openshift/api-server/api_server_kubelet_client_cert_pre_4_9/tests/ocp4/4.10.yml
  applications/openshift/api-server/api_server_kubelet_client_cert_pre_4_9/tests/ocp4/4.6.yml
  applications/openshift/api-server/api_server_kubelet_client_cert_pre_4_9/tests/ocp4/4.7.yml
  applications/openshift/api-server/api_server_kubelet_client_cert_pre_4_9/tests/ocp4/4.8.yml
  applications/openshift/api-server/api_server_kubelet_client_cert_pre_4_9/tests/ocp4/4.9.yml
  applications/openshift/api-server/api_server_kubelet_client_cert_pre_4_9/tests/ocp4/e2e.yml
  applications/openshift/api-server/api_server_kubelet_client_key_pre_4_9/rule.yml
  applications/openshift/api-server/api_server_kubelet_client_key_pre_4_9/tests/ocp4/4.10.yml
  applications/openshift/api-server/api_server_kubelet_client_key_pre_4_9/tests/ocp4/4.6.yml
  applications/openshift/api-server/api_server_kubelet_client_key_pre_4_9/tests/ocp4/4.7.yml
  applications/openshift/api-server/api_server_kubelet_client_key_pre_4_9/tests/ocp4/4.8.yml
  applications/openshift/api-server/api_server_kubelet_client_key_pre_4_9/tests/ocp4/4.9.yml
  applications/openshift/api-server/api_server_kubelet_client_key_pre_4_9/tests/ocp4/e2e.yml
  applications/openshift/kubelet/kubelet_configure_tls_cert_pre_4_9/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_cert_pre_4_9/tests/ocp4/4.10.yml
  applications/openshift/kubelet/kubelet_configure_tls_cert_pre_4_9/tests/ocp4/4.6.yml
  applications/openshift/kubelet/kubelet_configure_tls_cert_pre_4_9/tests/ocp4/4.7.yml
  applications/openshift/kubelet/kubelet_configure_tls_cert_pre_4_9/tests/ocp4/4.8.yml
  applications/openshift/kubelet/kubelet_configure_tls_cert_pre_4_9/tests/ocp4/4.9.yml
  applications/openshift/kubelet/kubelet_configure_tls_cert_pre_4_9/tests/ocp4/e2e.yml
  applications/openshift/kubelet/kubelet_configure_tls_key_pre_4_9/rule.yml
  applications/openshift/kubelet/kubelet_configure_tls_key_pre_4_9/tests/ocp4/4.10.yml
  applications/openshift/kubelet/kubelet_configure_tls_key_pre_4_9/tests/ocp4/4.6.yml
  applications/openshift/kubelet/kubelet_configure_tls_key_pre_4_9/tests/ocp4/4.7.yml
  applications/openshift/kubelet/kubelet_configure_tls_key_pre_4_9/tests/ocp4/4.8.yml
  applications/openshift/kubelet/kubelet_configure_tls_key_pre_4_9/tests/ocp4/4.9.yml
  applications/openshift/kubelet/kubelet_configure_tls_key_pre_4_9/tests/ocp4/e2e.yml
  controls/cis_ocp_1_4_0/section-1.yml
  controls/nist_ocp4.yml
  controls/pcidss_ocp4.yml
  controls/srg_ctr/SRG-APP-000441-CTR-001090.yml
  controls/srg_ctr/SRG-APP-000516-CTR-001325.yml
  products/ocp4/profiles/stig-v1r1.profile
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Adjust resource-requests rule assertsion for 4.18
  applications/openshift/general/resource_requests_quota/tests/ocp4/4.18.yml
  applications/openshift/general/resource_requests_quota_cluster/tests/ocp4/4.18.yml
  applications/openshift/general/resource_requests_quota_per_project/tests/ocp4/4.18.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Adjust 4.18 default tls-cipher-suites assertion
  tests/assertions/ocp4/ocp4-cis-4.18.yml
  tests/assertions/ocp4/ocp4-high-4.18.yml
  tests/assertions/ocp4/ocp4-moderate-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.18.yml
  tests/assertions/ocp4/ocp4-stig-4.18.yml
Due: none

Update OCP 4 CIS 1.2.32
  controls/cis_ocp_1_4_0/section-1.yml
Due: none

Update CLO install channel to 6.1
  ocp-resources/e2e/cluster-logging-install-observability.yaml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add new test to bash_sudo_remove_config
  linux_os/guide/system/software/sudo/sudo_remove_nopasswd/tests/wrong_value_specific_commands.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update bash_sudo_remove_config macro
  shared/macros/10-bash.jinja
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add template tmpfile_config
  shared/applicability/package.yml
  shared/templates/tmpfile_config/ansible.template
  shared/templates/tmpfile_config/bash.template
  shared/templates/tmpfile_config/oval.template
  shared/templates/tmpfile_config/template.yml
  shared/templates/tmpfile_config/tests/correct.pass.sh
  shared/templates/tmpfile_config/tests/default.fail.sh
  shared/templates/tmpfile_config/tests/wrong_mode.fail.sh
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rootfiles_root_bash_bash_profile
  components/rootfiles.yml
  linux_os/guide/system/permissions/files/rootfiles/group.yml
  linux_os/guide/system/permissions/files/rootfiles/rootfiles_root_bash_bash_profile/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rootfiles_root_bash_bashrc
  components/rootfiles.yml
  linux_os/guide/system/permissions/files/rootfiles/rootfiles_root_bash_bashrc/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rootfiles_root_bash_cshrc
  components/rootfiles.yml
  linux_os/guide/system/permissions/files/rootfiles/rootfiles_root_bash_cshrc/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rootfiles_root_bash_bash_logout
  components/rootfiles.yml
  linux_os/guide/system/permissions/files/rootfiles/rootfiles_root_bash_logout/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rootfiles_root_bash_cshrc
  components/rootfiles.yml
  linux_os/guide/system/permissions/files/rootfiles/rootfiles_root_bash_tcshrc/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rootfiles rules to RHEL 10 STIG
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
Due: none

Add rootfiles rules to RHEL 9 STIG
  controls/stig_rhel9.yml
Due: none

Add secureboot check to ISM profile
  controls/ism_o.yml
Due: none

Add cce identifiers for secureboot
  linux_os/guide/system/secureboot/secure_boot_enabled/rule.yml
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate
