Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

Move to my fork of napoleon as the upstream is no longer being maintained
  docs/requirements.txt
Due: none

Update SRG-OS-000710-GPOS-00160
  controls/srg_gpos/SRG-OS-000710-GPOS-00160.yml
Due: none

Update SRG-OS-000480-GPOS-00230
  controls/srg_gpos/SRG-OS-000480-GPOS-00230.yml
Due: none

OCPBUGS-52885: Exclude FIO notification check on ARM64
  applications/openshift/general/file_integrity_notification_enabled/rule.yml
  tests/assertions/ocp4/ocp4-high-4.12.yml
  tests/assertions/ocp4/ocp4-high-4.13.yml
  tests/assertions/ocp4/ocp4-high-4.14.yml
  tests/assertions/ocp4/ocp4-high-4.15.yml
  tests/assertions/ocp4/ocp4-high-4.16.yml
  tests/assertions/ocp4/ocp4-high-4.17.yml
  tests/assertions/ocp4/ocp4-high-4.18.yml
  tests/assertions/ocp4/ocp4-moderate-4.12.yml
  tests/assertions/ocp4/ocp4-moderate-4.13.yml
  tests/assertions/ocp4/ocp4-moderate-4.14.yml
  tests/assertions/ocp4/ocp4-moderate-4.15.yml
  tests/assertions/ocp4/ocp4-moderate-4.16.yml
  tests/assertions/ocp4/ocp4-moderate-4.17.yml
  tests/assertions/ocp4/ocp4-moderate-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4-0-4.18.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.12.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.13.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.14.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.15.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.16.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.17.yml
  tests/assertions/ocp4/ocp4-pci-dss-4.18.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

fix double mknod in char_device_unlabeled_t.fail.sh
  linux_os/guide/system/selinux/selinux_all_devicefiles_labeled/tests/char_device_unlabeled_t.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

expect PATH entries not existing in accounts_root_path_* tests
  linux_os/guide/system/accounts/accounts-session/root_paths/accounts_root_path_dirs_no_write/tests/correct.pass.sh
  linux_os/guide/system/accounts/accounts-session/root_paths/accounts_root_path_dirs_no_write/tests/wrong.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update command to check the etcd encryption provider being used
  applications/openshift/api-server/api_server_encryption_provider_cipher/rule.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Remove the 1.3.1 references for the OCP garbage collection rules
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_hard_imagefs_available/rule.yml
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_hard_memory_available/rule.yml
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_hard_nodefs_available/rule.yml
  applications/openshift/kubelet/kubelet_eviction_thresholds_set_hard_nodefs_inodesfree/rule.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Add an empty line
  docs/templates/template_reference.md
Due: none

Update shared/templates/xinetd_service_disabled/ansible.template
  shared/templates/xinetd_service_disabled/ansible.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

OCPBUGS-54212: Update kubelet tls cipher rule to support new ciphers
  applications/openshift/kubelet/kubelet_configure_tls_cipher_suites/rule.yml
  applications/openshift/kubelet/var_kubelet_tls_cipher_suites.var
  applications/openshift/kubelet/var_kubelet_tls_cipher_suites_regex.var
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Update RHEL 10 STIG FIPS
  linux_os/guide/system/accounts/accounts-physical/screen_locking/smart_card_login/install_smartcard_packages/policy/stig/rhel10.yml
  linux_os/guide/system/software/integrity/crypto/configure_crypto_policy/policy/stig/shared.yml
  linux_os/guide/system/software/integrity/fips/sysctl_crypto_fips_enabled/policy/stig/rhel10.yml
  linux_os/guide/system/software/integrity/fips/system_booted_in_fips_mode/policy/stig/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove tmux rules from RHEL 10 STIG
  controls/srg_gpos/SRG-OS-000028-GPOS-00009.yml
  controls/srg_gpos/SRG-OS-000029-GPOS-00010.yml
  controls/srg_gpos/SRG-OS-000030-GPOS-00011.yml
  controls/srg_gpos/SRG-OS-000031-GPOS-00012.yml
  controls/srg_gpos/SRG-OS-000324-GPOS-00125.yml
  tests/data/profile_stability/rhel10/stig.profile
  tests/data/profile_stability/rhel10/stig_gui.profile
Due: none

Update instruction for rule ocp4-etcd-unique-ca
  applications/openshift/etcd/etcd_unique_ca/rule.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

fix typo lapd-utils
  linux_os/guide/services/ldap/openldap_client/package_openldap-clients_removed/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add missing references
  linux_os/guide/auditing/auditd_configure_rules/audit_file_deletion_events/audit_rules_file_deletion_events_renameat2/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/grub2_password/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add tmux rules to default profile in RHEL 10
  products/rhel10/profiles/default.profile
Due: none

Remove erroneous line in description
  linux_os/guide/system/network/network-nftables/nftables_ensure_default_deny_policy/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add rules to SRG-OS-000373-GPOS-00156
  controls/srg_gpos/SRG-OS-000373-GPOS-00156.yml
Due: none

Add rules to SRG-OS-000373-GPOS-00157
  controls/srg_gpos/SRG-OS-000373-GPOS-00157.yml
Due: none

Add rules to SRG-OS-000373-GPOS-00158
  controls/srg_gpos/SRG-OS-000373-GPOS-00158.yml
Due: none

Add rules to SRG-OS-000439-GPOS-00195
  controls/srg_gpos/SRG-OS-000439-GPOS-00195.yml
Due: none

Update SRG-OS-000590-GPOS-00110 to be NA
  controls/srg_gpos/SRG-OS-000590-GPOS-00110.yml
Due: none

Add rules to SRG-OS-000690-GPOS-00140
  controls/srg_gpos/SRG-OS-000690-GPOS-00140.yml
Due: none

Set SRG-OS-000720-GPOS-00170 to does not meet
  controls/srg_gpos/SRG-OS-000720-GPOS-00170.yml
Due: none

Set SRG-OS-000725-GPOS-00180 to inherently met
  controls/srg_gpos/SRG-OS-000725-GPOS-00180.yml
Due: none

Set SRG-OS-000745-GPOS-00210 to does not meet
  controls/srg_gpos/SRG-OS-000745-GPOS-00210.yml
Due: none

Add rules to SRG-OS-000775-GPOS-00230
  controls/srg_gpos/SRG-OS-000775-GPOS-00230.yml
Due: none

Add rules to SRG-OS-000785-GPOS-00250
  controls/srg_gpos/SRG-OS-000785-GPOS-00250.yml
Due: none

Add dnf-automatic_apply_updates to RHEL 10 stable profiles.
  tests/data/profile_stability/rhel10/stig.profile
  tests/data/profile_stability/rhel10/stig_gui.profile
Due: none

Fix typo
  linux_os/guide/system/logging/journald/journald_storage/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove sysctl_user_max_user_namespaces from RHEL 10 STIG
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
  products/rhel10/profiles/default.profile
  tests/data/profile_stability/rhel10/stig.profile
Due: none

Initial Commit
  shared/templates/file_groupowner2/bash.template
  shared/templates/file_groupowner2/oval.template
  shared/templates/file_groupowner2/template.py
  shared/templates/file_groupowner2/template.yml
  shared/templates/file_groupowner2/tests/correct_groupowner.pass.sh
  shared/templates/file_groupowner2/tests/incorrect_groupowner.fail.sh
  shared/templates/file_owner2/ansible.template
  shared/templates/file_owner2/bash.template
  shared/templates/file_owner2/oval.template
  shared/templates/file_owner2/template.py
  shared/templates/file_owner2/template.yml
  shared/templates/file_owner2/tests/correct_owner.pass.sh
  shared/templates/file_owner2/tests/incorrect_owner.fail.sh
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update file_groupowner template to support multiple groups
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_groupowner_var_log_auth/rule.yml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_groupowner_var_log_cloud_init/rule.yml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_groupowner_var_log_journal/rule.yml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_groupowner_var_log_lastlog/rule.yml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_groupowner_var_log_localmessages/rule.yml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_groupowner_var_log_messages/rule.yml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_groupowner_var_log_secure/rule.yml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_groupowner_var_log_syslog/rule.yml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_groupowner_var_log_waagent/rule.yml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_groupowner_var_log_wbtmp/rule.yml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_groupownerships_var_log_apt/rule.yml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_groupownerships_var_log_gdm/rule.yml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_groupownerships_var_log_gdm3/rule.yml
  linux_os/guide/system/permissions/files/permissions_var_log_dir/file_groupownerships_var_log_sssd/rule.yml
  shared/templates/file_groupowner/ansible.template
  shared/templates/file_groupowner/bash.template
  shared/templates/file_groupowner/oval.template
  shared/templates/file_groupowner/tests/correct_groupowner.pass.sh
  shared/templates/file_groupowner/tests/incorrect_groupowner.fail.sh
  shared/templates/file_groupowner/tests/no_file.pass.sh
  shared/templates/file_groupowner2/bash.template
  shared/templates/file_groupowner2/oval.template
  shared/templates/file_groupowner2/template.py
  shared/templates/file_groupowner2/template.yml
  shared/templates/file_groupowner2/tests/correct_groupowner.pass.sh
  shared/templates/file_groupowner2/tests/incorrect_groupowner.fail.sh
  shared/templates/file_owner2/ansible.template
  shared/templates/file_owner2/bash.template
  shared/templates/file_owner2/oval.template
  shared/templates/file_owner2/template.py
  shared/templates/file_owner2/template.yml
  shared/templates/file_owner2/tests/correct_owner.pass.sh
  shared/templates/file_owner2/tests/incorrect_owner.fail.sh
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove from OL8 STIG not STIG related rules
  linux_os/guide/system/software/integrity/crypto/harden_sshd_ciphers_openssh_conf_crypto_policy/rule.yml
  linux_os/guide/system/software/integrity/crypto/harden_sshd_macs_openssh_conf_crypto_policy/rule.yml
  products/ol8/profiles/stig.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

napoleon is no longer needed, it is built in now.
  docs/requirements.txt
Due: none
