Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

ci/prow/e2e-aws-ocp4-cis:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-cis-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-e8:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-high-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-moderate-node:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ocp4-pci-dss:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

Update variable sshd_approved_ciphers for RHEL 9
  linux_os/guide/services/ssh/sshd_approved_ciphers.var
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update SSH MAC rules
  controls/stig_rhel9.yml
  linux_os/guide/services/ssh/ssh_server/sshd_use_strong_macs/rule.yml
  linux_os/guide/services/ssh/sshd_strong_macs.var
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update template accounts_password to use drop in files
  shared/templates/accounts_password/ansible.template
  shared/templates/accounts_password/bash.template
  shared/templates/accounts_password/oval.template
  shared/templates/accounts_password/tests/conflicting_values_directory.fail.sh
  shared/templates/accounts_password/tests/correct_value_directory.pass.sh
  shared/templates/accounts_password/tests/wrong_value_directory.fail.sh
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update password hashing round to 100,000
  controls/stig_rhel9.yml
  linux_os/guide/system/accounts/accounts-restrictions/password_storage/var_password_pam_unix_rounds.var
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add usbguard_service_enabled for RHEL-09-291015
  controls/stig_rhel9.yml
Due: none

Update rule for RHEL-09-653110
  controls/stig_rhel9.yml
Due: none

Make accounts_password_pam_enforce_root also check drop in files
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_enforce_root/oval/shared.xml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_enforce_root/rule.yml
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_enforce_root/tests/commented_out.fail.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_enforce_root/tests/correct_config.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_enforce_root/tests/correct_drop_in.pass.sh
  linux_os/guide/system/accounts/accounts-pam/password_quality/password_quality_pwquality/accounts_password_pam_enforce_root/tests/not_there.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove RHEL-09-652035 from the RHEL 9 STIG
  controls/stig_rhel9.yml
Due: none

Update RHEL 9 STIG reference file to V2R3
  linux_os/guide/services/ssh/file_groupowner_sshd_drop_in_config/rule.yml
  linux_os/guide/services/ssh/file_owner_sshd_drop_in_config/rule.yml
  linux_os/guide/services/ssh/file_permissions_sshd_drop_in_config/rule.yml
  shared/references/disa-stig-rhel9-v2r2-xccdf-manual.xml
  shared/references/disa-stig-rhel9-v2r3-xccdf-manual.xml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update RHEL 8 V2R2
  products/rhel8/profiles/stig.profile
  products/rhel8/profiles/stig_gui.profile
  tests/data/profile_stability/rhel8/stig.profile
  tests/data/profile_stability/rhel8/stig_gui.profile
Due: none

Update RHEL 8 STIG reference file to V2R2
  shared/references/disa-stig-rhel8-v2r2-xccdf-manual.xml
Due: none

Add ansible header
  linux_os/guide/system/accounts/accounts-restrictions/account_expiration/ensure_shadow_group_empty/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Override tests removing pam-runtime and pam-modules
  linux_os/guide/system/accounts/accounts-pam/package_pam_modules_installed/tests/package-installed-removed.fail.sh
  linux_os/guide/system/accounts/accounts-pam/package_pam_modules_installed/tests/package-removed.fail.sh
  linux_os/guide/system/accounts/accounts-pam/package_pam_runtime_installed/tests/package-installed-removed.fail.sh
  linux_os/guide/system/accounts/accounts-pam/package_pam_runtime_installed/tests/package-removed.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Re-add ubuntu platform to grub2_bootloader_argument template
  shared/templates/grub2_bootloader_argument/bash.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add ubuntu platforms to auditd_data_disk_error_action remediation
  linux_os/guide/auditing/configure_auditd_data_retention/auditd_data_disk_error_action/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add minimal Python version
  docs/manual/developer/04_style_guide.md
Due: none

Add missing rule to Ubuntu 24.04 CIS control 2.4.1.8
  controls/cis_ubuntu2404.yml
Due: none

update bash remediation
  linux_os/guide/services/ssh/ssh_server/sshd_include_crypto_policy/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

update prose
  linux_os/guide/services/ssh/ssh_server/sshd_include_crypto_policy/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

update ansible remediation
  linux_os/guide/services/ssh/ssh_server/sshd_include_crypto_policy/ansible/shared.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

fix test scenarios which were throwing errors
  linux_os/guide/services/ssh/ssh_server/sshd_include_crypto_policy/tests/default_pass.pass.sh
  linux_os/guide/services/ssh/ssh_server/sshd_include_crypto_policy/tests/no_crypto.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_include_crypto_policy/tests/no_drop_in.fail.sh
  linux_os/guide/services/ssh/ssh_server/sshd_include_crypto_policy/tests/no_includes.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update OL8 V2R3
  products/ol8/profiles/stig.profile
  products/ol8/profiles/stig_gui.profile
Due: none

Update OL8 STIG reference file to V2R3
  shared/references/disa-stig-ol8-v2r3-xccdf-manual.xml
Due: none

Update RHEL 9 Stable Products
  tests/data/profile_stability/rhel9/stig.profile
  tests/data/profile_stability/rhel9/stig_gui.profile
Due: none

Add references to file_permissions_audit_configuration
  linux_os/guide/auditing/auditd_configure_rules/file_permissions_audit_configuration/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Ubuntu 24.04 6.1.2.1.2 Ensure systemd-journal-upload authentication is configured
  controls/cis_ubuntu2404.yml
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/oval/shared.xml
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-servercert-missing.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-servercert.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-serverkey-missing.fail sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-serverkey.fail sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-trustedcert-missing.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-trustedcert.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf.pass.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/oval/shared.xml
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/tests/journald-conf-url-missing.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/tests/journald-conf-url.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/tests/journald-conf-url.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Ubuntu 24.04 6.1.2.1.2 Ensure systemd-journal-upload authentication is configured
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/rule.yml
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Ubuntu 24.04 6.1.2.1.2 Ensure systemd-journal-upload authentication is configured
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/bash/shared.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/rule.yml
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-d.pass.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-servercert-missing.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-serverkey-missing.fail sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-serverkey.fail sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-trustedcert-missing.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-trustedcert.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf.pass.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/bash/shared.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/rule.yml
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/tests/journald-conf-d-url.pass.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/tests/journald-conf-url-missing.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/tests/journald-conf-url.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/tests/journald-conf-url.pass.sh
  linux_os/guide/system/logging/journald/var_journal_upload_conf_file.var
  linux_os/guide/system/logging/journald/var_journal_upload_server_certificate_file.var
  linux_os/guide/system/logging/journald/var_journal_upload_server_key_file.var
  linux_os/guide/system/logging/journald/var_journal_upload_server_trusted_certificate_file.var
  linux_os/guide/system/logging/journald/var_journal_upload_url.var
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Ubuntu 24.04 6.1.2.1.2 Ensure systemd-journal-upload authentication is configured
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-d.pass.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-mixed.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-servercert-missing.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-servercert.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-serverkey-missing.fail sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-serverkey.fail sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-trustedcert-missing.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-trustedcert.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/tests/journald-conf-d-url.pass.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/tests/journald-conf-mixed-url.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/tests/journald-conf-url-missing.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/tests/journald-conf-url.fail.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Ubuntu 24.04 6.1.2.1.2 Ensure systemd-journal-upload authentication is configured
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/bash/shared.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Ubuntu 24.04 6.1.2.1.2 Ensure systemd-journal-upload authentication is configured
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/bash/shared.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/rule.yml
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/empty-conf-file.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-d.pass.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-mixed.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-servercert-missing.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-servercert.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-serverkey-missing.fail sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-serverkey.fail sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf-trustedcert.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_server_tls/tests/journald-conf.pass.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/bash/shared.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/rule.yml
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/tests/empty-conf-file-url.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/tests/journald-conf-d-url.pass.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/tests/journald-conf-mixed-url.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/tests/journald-conf-url-missing.fail.sh
  linux_os/guide/system/logging/journald/systemd_journal_upload_url/tests/journald-conf-url.pass.sh
  linux_os/guide/system/logging/journald/var_journal_upload_conf_file.var
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove xwindows_remove_packages from RHEL 10
  controls/srg_gpos/SRG-OS-000480-GPOS-00227.yml
Due: none

Add missing packages to pam components file
  components/pam.yml
Due: none

Move auditd file permission rules to auditing group to fix rule order
  linux_os/guide/auditing/file_permissions_auditd/file_groupownership_audit_binaries/rule.yml
  linux_os/guide/auditing/file_permissions_auditd/file_ownership_audit_binaries/rule.yml
  linux_os/guide/auditing/file_permissions_auditd/file_permissions_audit_binaries/rule.yml
  linux_os/guide/auditing/file_permissions_auditd/file_permissions_etc_audit_auditd/policy/stig/shared.yml
  linux_os/guide/auditing/file_permissions_auditd/file_permissions_etc_audit_auditd/rule.yml
  linux_os/guide/auditing/file_permissions_auditd/file_permissions_etc_audit_auditd/tests/stricter_permissions.pass.sh
  linux_os/guide/auditing/file_permissions_auditd/file_permissions_etc_audit_rules/rule.yml
  linux_os/guide/auditing/file_permissions_auditd/file_permissions_etc_audit_rules/tests/lenient_permissions.fail.sh
  linux_os/guide/auditing/file_permissions_auditd/file_permissions_etc_audit_rules/tests/stricter_permissions.pass.sh
  linux_os/guide/auditing/file_permissions_auditd/file_permissions_etc_audit_rulesd/policy/stig/shared.yml
  linux_os/guide/auditing/file_permissions_auditd/file_permissions_etc_audit_rulesd/rule.yml
  linux_os/guide/auditing/file_permissions_auditd/file_permissions_etc_audit_rulesd/tests/lenient_permissions.fail.sh
  linux_os/guide/auditing/file_permissions_auditd/file_permissions_etc_audit_rulesd/tests/stricter_permissions.pass.sh
  linux_os/guide/auditing/file_permissions_auditd/group.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add missing rule to Ubuntu 24.04 CIS control 6.2.4.5
  controls/cis_ubuntu2404.yml
Due: none

Disable bootc applicability checks on Ubuntu
  linux_os/guide/system/bootloader-grub2/non-uefi/file_groupowner_grub2_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/file_owner_grub2_cfg/rule.yml
  linux_os/guide/system/bootloader-grub2/non-uefi/file_permissions_grub2_cfg/rule.yml
  linux_os/guide/system/permissions/partitions/group.yml
  linux_os/guide/system/software/disk_partitioning/group.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Remove non-compliant MACs on Ubuntu
  linux_os/guide/services/ssh/sshd_strong_macs.var
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Update RHEL 8 STIG SCAP Contenet to V2R2
  shared/references/disa-stig-rhel8-v2r1-xccdf-scap.xml
  shared/references/disa-stig-rhel8-v2r2-xccdf-scap.xml
Due: none

Update RHEL 9 STIG SCAP Content to V2R3
  shared/references/disa-stig-rhel9-v2r3-xccdf-scap.xml
Due: none

Add PAM rules to default RHCOS profiles
  products/rhcos4/profiles/default.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
