Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-high-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-pci-dss-node: any of: ^(controls/pcidss_ocp4.yml|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-stig-node: any of: ^(controls/srg_ctr/.*|applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-high: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

Manually add rules to keep rule selection stable
  controls/stig_ocp4.yml
Due: none

Do not use raise from
  ssg/controls.py
Due: none

Move SRG rules from control to the ocp4 profile
  controls/stig_ocp4.yml
  products/ocp4/profiles/stig-node-v1r1.profile
  products/ocp4/profiles/stig-v1r1.profile
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Refactor functions too complex for code climate
  utils/build_stig_control.py
Due: none

Avoid adding duplicate rules to a control
  controls/stig_ocp4.yml
  utils/build_stig_control.py
Due: none

Identify and avoid duplicate references
  ssg/build_yaml.py
  ssg/controls.py
Due: none

CNTR-OS-000500 status is manual
  controls/stig_ocp4.yml
Due: none

CNTR-OS-000390 status is manual
  controls/stig_ocp4.yml
Due: none

CNTR-OS-000380 status is manual
  controls/stig_ocp4.yml
Due: none

CNTR-OS-00430 and CNTR-OS-00460 are not applicable
  controls/stig_ocp4.yml
Due: none

OCP4 STIG: Add spacing between the controls
  controls/stig_ocp4.yml
Due: none

CNTR-OS-000440 status is automated
  controls/srg_ctr/SRG-APP-000156-CTR-000380.yml
  controls/stig_ocp4.yml
Due: ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

CNTR-OS-000770 status is manual
  controls/stig_ocp4.yml
Due: none

CNTR-OS-000820 status is manual
  controls/stig_ocp4.yml
Due: none

CNTR-OS-000690 is still pending
  controls/stig_ocp4.yml
Due: none

Be more strict on the captured exception
  ssg/controls.py
Due: none

Updates in ansible part from service_dsabled template
  shared/templates/service_disabled/ansible.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Create new template systemd_mount_enabled
  shared/templates/systemd_mount_enabled/anaconda.template
  shared/templates/systemd_mount_enabled/ansible.template
  shared/templates/systemd_mount_enabled/bash.template
  shared/templates/systemd_mount_enabled/oval.template
  shared/templates/systemd_mount_enabled/template.py
  shared/templates/systemd_mount_enabled/template.yml
  shared/templates/systemd_mount_enabled/tests/mount_disabled.fail.sh
  shared/templates/systemd_mount_enabled/tests/mount_enabled.pass.sh
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Small changes in the ansible part of the template service_disabled
  shared/templates/service_disabled/ansible.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Defined notes and rules for control BSI APP4.4.A2
  controls/bsi_app_4_4.yml
Due: none

Defined notes and rules for control BSI APP4.4.A3
  controls/bsi_app_4_4.yml
Due: none

add manual rule to check application to namespace assignment
  applications/openshift/general/general_namespace_separation/rule.yml
  applications/openshift/general/general_namespace_separation/tests/ocp4/e2e.yml
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node

Defined notes and rules for control BSI APP4.4.A1
  controls/bsi_app_4_4.yml
Due: none

OCPBUGS-28797: Clarify banner instructions for RHCOS nodes
  linux_os/guide/system/accounts/accounts-banners/banner_etc_issue/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add package_firewalld_installed to PCI-DSS profile
  controls/pcidss_4.yml
Due: none

Update profile stability for pci-dss
  tests/data/profile_stability/rhel7/pci-dss.profile
  tests/data/profile_stability/rhel8/pci-dss.profile
  tests/data/profile_stability/rhel9/pci-dss.profile
Due: none

Add SLE cce-ids to newly added mcaffee rules
  linux_os/guide/system/software/integrity/endpoint_security_software/mcafee_security_software/install_mcafee_antivirus/rule.yml
  linux_os/guide/system/software/integrity/endpoint_security_software/mcafee_security_software/mcafee_endpoint_security_software/agent_mfetpd_running/rule.yml
  linux_os/guide/system/software/integrity/endpoint_security_software/mcafee_security_software/mcafee_endpoint_security_software/package_mcafeetp_installed/rule.yml
  shared/references/cce-sle12-avail.txt
  shared/references/cce-sle15-avail.txt
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Stop requiring the directory
  linux_os/guide/system/accounts/accounts-session/accounts_polyinstantiated_tmp/ansible/shared.yml
  linux_os/guide/system/accounts/accounts-session/accounts_polyinstantiated_tmp/oval/shared.xml
  linux_os/guide/system/accounts/accounts-session/accounts_polyinstantiated_tmp/tests/directory_doesnt_exist.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Create new rule systemd_tmp_mount_enabled
  components/systemd.yml
  controls/anssi.yml
  linux_os/guide/system/software/disk_partitioning/systemd_tmp_mount_enabled/rule.yml
  shared/macros/10-ocil.jinja
  shared/references/cce-redhat-avail.txt
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-high, ci/prow/e2e-aws-ocp4-high-node, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-ocp4-pci-dss, ci/prow/e2e-aws-ocp4-pci-dss-node, ci/prow/e2e-aws-ocp4-stig, ci/prow/e2e-aws-ocp4-stig-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-high, ci/prow/e2e-aws-rhcos4-moderate

Add docs for the systemd_mount_enabled template
  docs/templates/template_reference.md
Due: none

Format argument parsing
  build-scripts/cpe_generate.py
Due: none

Use OVAL object model to generate linked CPE OVAL
  build-scripts/cpe_generate.py
Due: none

Decompose CPE OVAL and CPE dictionary generation
  build-scripts/cpe_generate.py
Due: none

Translation of IDs to valid OVAL IDs
  build-scripts/cpe_generate.py
  ssg/build_cpe.py
Due: none

Remove unused ID checks and translations
  build-scripts/cpe_generate.py
Due: none

Use format string
  build-scripts/cpe_generate.py
Due: none

Use base name of file
  build-scripts/cpe_generate.py
Due: none
