Repository ComplianceAsCode/content: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Path conditions:
  ci/prow/e2e-aws-ocp4-cis: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-cis-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-e8: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-ocp4-moderate-node: any of: ^(applications/openshift/.*|products/ocp4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-e8: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$
  ci/prow/e2e-aws-rhcos4-moderate: any of: ^(linux_os/guide/.*|products/rhcos4/.*|ocp-resources/.*|shared/(macros.*jinja|checks/.*|templates/.*)|Dockerfiles/ocp4_content|Dockerfiles/quay_publish)$

Remove shared directory
  cmake/SSGCommon.cmake
Due: none

Rewrite combine_remediations.py
  build-scripts/combine_remediations.py
Due: none

Change behavior of process()
  build-scripts/combine_remediations.py
  ssg/build_remediations.py
  tests/unit/ssg-module/test_build_remediations.py
Due: none

Use env_yaml for loading rules
  build-scripts/combine_remediations.py
Due: none

Refactor: Extract functions
  build-scripts/collect_remediations.py
Due: none

Add service related rules to SLE15 HIPAA profile
  linux_os/guide/services/cron_and_at/service_cron_enabled/rule.yml
  linux_os/guide/services/obsolete/r_services/service_rexec_disabled/rule.yml
  linux_os/guide/services/obsolete/r_services/service_rlogin_disabled/rule.yml
  linux_os/guide/services/obsolete/telnet/service_telnet_disabled/rule.yml
  linux_os/guide/services/routing/disabling_quagga/service_zebra_disabled/rule.yml
  linux_os/guide/system/accounts/accounts-physical/service_debug-shell_disabled/rule.yml
  products/sle15/profiles/hipaa.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

SLE15 drop unused service_crond_enabled from HIPAA profile
  linux_os/guide/services/cron_and_at/service_crond_enabled/rule.yml
  products/sle15/profiles/hipaa.profile
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add a Fedora Rawhide CI test
  .github/workflows/gate.yaml
Due: none

Fix up GRUB template for RHEL9
  shared/templates/grub2_bootloader_argument/ansible.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Remove rules not supported in RHEL9 in RHEL9 STIG
  products/rhel9/profiles/stig.profile
Due: none

Fix configure_firewalld_ports bash remedation fer RHEL9
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/configure_firewalld_ports/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Fix spelling error in accounts_authorized_local_users
  linux_os/guide/system/accounts/accounts-restrictions/accounts_authorized_local_users/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Changed many rules to multi_platform_rhel vs rhel8 only
  linux_os/guide/system/logging/ensure_rsyslog_log_file_configuration/rsyslog_remote_access_monitoring/bash/shared.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add test for configure_firewalld_ports
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/configure_firewalld_ports/tests/ssh_port_enabled.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Remove outdated rules from RHEL9
  linux_os/guide/services/obsolete/r_services/service_rexec_disabled/rule.yml
  linux_os/guide/services/routing/disabling_quagga/service_zebra_disabled/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add the ability to load controls from folder
  docs/manual/developer/03_creating_content.md
  ssg/controls.py
Due: none

OCP/RHCOS: Kick off NIST High Impact profiles
  products/ocp4/profiles/high-node.profile
  products/ocp4/profiles/high.profile
  products/rhcos4/profiles/high.profile
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

fix description also for grub_password
  linux_os/guide/system/bootloader-grub2/non-uefi/grub2_password/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Fix ansible remediation of grub2_bootloader_argument.
  linux_os/guide/system/auditing/grub2_audit_argument/tests/blank_grubenv_rhel8.fail.sh
  linux_os/guide/system/auditing/grub2_audit_argument/tests/grubenv
  shared/templates/grub2_bootloader_argument/ansible.template
Due: ci/prow/e2e-aws-ocp4-cis, ci/prow/e2e-aws-ocp4-cis-node, ci/prow/e2e-aws-ocp4-e8, ci/prow/e2e-aws-ocp4-moderate, ci/prow/e2e-aws-ocp4-moderate-node, ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Add CentOS 7 build to CI
  .github/workflows/gate.yaml
Due: none

Update RHEL9 profile descriptions and remove RHEL8 references.
  products/rhel9/profiles/cui.profile
  products/rhel9/profiles/standard.profile
  products/rhel9/profiles/stig.profile
  products/rhel9/profiles/stig_gui.profile
Due: none

Fix tests for rule configure_firewalld_ports
  linux_os/guide/system/network/network-firewalld/ruleset_modifications/configure_firewalld_ports/tests/ssh_port_enabled.pass.sh
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Generate new tables for the RHEL8 product
  products/rhel8/CMakeLists.txt
Due: none

Implement alternative way of generating tables
  utils/gen_profile_table.py
  utils/gen_reference_table.py
  utils/tables/profile_tables_template.html
  utils/tables/reference_tables_template.html
  utils/tables/table_renderer.py
  utils/tables/tables_template_common.html
Due: none

Add new table generation macros to our current CMake library
  cmake/SSGCommon.cmake
Due: none

Deduce template directory
  utils/tables/table_renderer.py
  utils/template_renderer.py
Due: none

Refactoring of table generation
  cmake/SSGCommon.cmake
  products/sle15/CMakeLists.txt
  ssg/constants.py
  utils/gen_multiple_reference_tables.py
  utils/gen_profile_table.py
  utils/gen_reference_table.py
  utils/tables/profile_tables_template.html
  utils/tables/table_renderer.py
  utils/template_renderer.py
Due: none

Add a possibility to generate multiple ref tables at once
  ssg/constants.py
  utils/gen_multiple_reference_tables.py
  utils/gen_profile_table.py
  utils/gen_reference_table.py
  utils/tables/reference_tables_template.html
  utils/tables/table_renderer.py
Due: none

Integrate mass ref table build into the build system
  cmake/SSGCommon.cmake
  products/rhel8/CMakeLists.txt
Due: none

Convert utils/create_scap_delta_tailoring.py
  utils/create_scap_delta_tailoring.py
Due: none

Build everything on CentOS 7
  .github/workflows/gate.yaml
Due: none

Fix typo in audit_immutable_login_uids
  linux_os/guide/system/auditing/policy_rules/audit_immutable_login_uids/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate

Make OSCI question text unicode
  ssg/build_yaml.py
Due: none

Remove sle12, sle15, and ubuntu from CentOS 7 build
  .github/workflows/gate.yaml
Due: none

Remove type hint in utils/fix_rules.py
  utils/fix_rules.py
Due: none

Add tests for loading controls from a directory
  ssg/controls.py
  tests/unit/ssg-module/data/controls_dir/jklm.yml
  tests/unit/ssg-module/data/controls_dir/jklm/r1.yml
  tests/unit/ssg-module/data/controls_dir/jklm/r3.yml
  tests/unit/ssg-module/test_controls.py
Due: none

Prevent Python 2 encoding error
  ssg/build_yaml.py
Due: none

Add HIPAA Rules
  linux_os/guide/system/network/network-ipsec/libreswan_approved_tunnels/rule.yml
  linux_os/guide/system/software/integrity/crypto/configure_crypto_policy/rule.yml
Due: ci/prow/e2e-aws-rhcos4-e8, ci/prow/e2e-aws-rhcos4-moderate
