Repository openshift/cluster-control-plane-machine-set-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-periodic-pre, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

Path conditions:
  e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-ovn-serial: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-periodic-pre: any of: .*periodic.*
  e2e-azure-operator: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*azure.*
  e2e-gcp-operator: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*gcp.*
  e2e-vsphere-operator: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*vsphere.*
  e2e-vsphere-multi-zone-operator: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*vsphere.*
  e2e-openstack-operator: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*openstack.*
  e2e-openstack-operator-zone: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*openstack.*
  e2e-aws-ovn-etcd-scaling: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp-ovn-etcd-scaling: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*gcp.*
  e2e-azure-ovn-etcd-scaling: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*azure.*
  e2e-vsphere-ovn-etcd-scaling: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*vsphere.*
  e2e-nutanix-ovn: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*nutanix.*

Ensure non-temporary errors are logged
  test/e2e/helpers/machine.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

RunCheckUntil should use offset
  test/e2e/framework/utils.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

add unreadyNodeGracePeriod for allowing brief node hiccups
  pkg/machineproviders/providers/openshift/machine/v1beta1/provider.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/provider_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

HTTP2 connection drops should be retried during tests
  test/e2e/helpers/machine.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Wait for ControlPlaneMachineSet to be created when waiting for it to be updated
  test/e2e/helpers/controlplanemachineset.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

CPMS Cluster Operator should set related objects
  pkg/controllers/controlplanemachineset/cluster_operator.go
  pkg/controllers/controlplanemachineset/cluster_operator_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Sync OWNERS file
  OWNERS
Due: none

react on client-go changes for applyConfiguration
  pkg/controllers/controlplanemachinesetgenerator/utils.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Added o/api bump for capacity reservation
  go.mod
  go.sum
  vendor/github.com/openshift/api/console/install.go
  vendor/github.com/openshift/api/console/v1alpha1/Makefile
  vendor/github.com/openshift/api/console/v1alpha1/doc.go
  vendor/github.com/openshift/api/console/v1alpha1/register.go
  vendor/github.com/openshift/api/console/v1alpha1/types.go
  vendor/github.com/openshift/api/console/v1alpha1/types_console_plugin.go
  vendor/github.com/openshift/api/console/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/console/v1alpha1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/console/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/machine/v1beta1/types_azureprovider.go
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-aws-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling

Updated makefile unit test builder
  Makefile
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Bump openshift/api@c9a91940bf0f77ae5293cc2652088cf46bf40107
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1alpha1/types_cluster_image_policy.go
  vendor/github.com/openshift/api/config/v1alpha1/types_image_policy.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/machine/v1beta1/types_awsprovider.go
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Add 1 minute grace period before declaring Nodes unmanaged
  pkg/controllers/controlplanemachineset/controller.go
  pkg/controllers/controlplanemachineset/controller_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Fixed issues with template and resource formatting.
  pkg/controllers/controlplanemachinesetgenerator/utils.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/providerconfig.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/vsphere.go
  pkg/webhooks/controlplanemachineset/suite_test.go
  pkg/webhooks/controlplanemachineset/webhooks.go
  pkg/webhooks/controlplanemachineset/webhooks_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

DNM increase log level for CPMS
  manifests/0000_30_control-plane-machine-set-operator_03_deployment.yaml
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

fixed network extraction for failure domain.
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/vsphere.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn
