Repository openshift/cluster-control-plane-machine-set-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-periodic-pre, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

Path conditions:
  e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-ovn-serial: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-periodic-pre: any of: .*periodic.*
  e2e-azure-operator: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*azure.*
  e2e-gcp-operator: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*gcp.*
  e2e-vsphere-operator: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*vsphere.*
  e2e-vsphere-multi-zone-operator: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*vsphere.*
  e2e-openstack-operator: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*openstack.*
  e2e-openstack-operator-zone: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*openstack.*
  e2e-aws-ovn-etcd-scaling: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp-ovn-etcd-scaling: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*gcp.*
  e2e-azure-ovn-etcd-scaling: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*azure.*
  e2e-vsphere-ovn-etcd-scaling: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*vsphere.*
  e2e-nutanix-ovn: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*nutanix.*

incorporate review feedback
  pkg/webhooks/controlplanemachineset/test_util.go
  pkg/webhooks/controlplanemachineset/webhooks.go
  pkg/webhooks/controlplanemachineset/webhooks_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Changes to support vm-host group and api bump
  cmd/control-plane-machine-set-operator/main.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/vsphere.go
  pkg/util/feature_gate.go
  pkg/webhooks/controlplanemachineset/webhooks.go
  pkg/webhooks/controlplanemachineset/webhooks_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

Address review comments
  pkg/controllers/controlplanemachineset/cluster_operator_test.go
  pkg/controllers/controlplanemachineset/controller_test.go
  pkg/controllers/controlplanemachineset/suite_test.go
  pkg/controllers/controlplanemachinesetgenerator/controller_test.go
  pkg/machineproviders/providers/machineproviders_test.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/provider_test.go
  pkg/util/feature_gate.go
  test/e2e/helpers/controlplanemachineset.go
  test/e2e/helpers/feature_gate.go
  test/e2e/helpers/machine.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

add e2e and fix lint
  test/e2e/helpers/feature_gate.go
  test/e2e/presubmit_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

add e2e and fix lint
  test/e2e/helpers/feature_gate.go
  test/e2e/helpers/machine.go
  test/e2e/presubmit_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Add e2e periodic job for machine name prefix
  test/e2e/periodic_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-periodic-pre, e2e-aws-ovn-etcd-scaling

update support matrix
  docs/user/README.md
  pkg/controllers/controlplanemachinesetgenerator/controller.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

add unreadyNodeGracePeriod for allowing brief node hiccups
  pkg/machineproviders/providers/openshift/machine/v1beta1/provider.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/provider_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

vm host zonal tests
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/vsphere_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

Updated library-go usage
  cmd/control-plane-machine-set-operator/main.go
  pkg/controllers/controlplanemachineset/cluster_operator.go
  pkg/util/feature_gate.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Vendor updates
  go.mod
  go.sum
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/machine/v1beta1/types_vsphereprovider.go
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/library-go/pkg/config/clusteroperator/v1helpers/status.go
  vendor/github.com/openshift/library-go/pkg/operator/v1helpers/helpers.go
  vendor/modules.txt
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-aws-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling

Updated library-go usage
  pkg/controllers/controlplanemachineset/cluster_operator.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Update go.mod to K8s 1.32
  go.mod
  go.sum
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Update envtest to version 1.32.1
  Makefile
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

a fake change for triggering tests
  README.md
Due: none

Dummy change
  README.md
Due: none

Fix MachineNamePrefix periodic on OpenStack
  pkg/controllers/controlplanemachineset/controller_test.go
  test/e2e/framework/framework.go
  test/e2e/helpers/controlplanemachineset.go
  test/e2e/helpers/machine.go
  test/e2e/periodic_test.go
  test/e2e/presubmit_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-periodic-pre, e2e-aws-ovn-etcd-scaling

Workaround static pod controller bug by doubling timeout
  test/e2e/helpers/cases.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Include CPMSMachineNamePrefix gate name in e2e tests
  test/e2e/periodic_test.go
  test/e2e/presubmit_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-periodic-pre, e2e-aws-ovn-etcd-scaling

bump to golang.org/x/oauth2@v0.27.0
  go.mod
  go.sum
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/pkce.go
  vendor/modules.txt
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

e2e: MachineNamePrefix with OnDelete update strategy
  test/e2e/periodic_test.go
  test/e2e/presubmit_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-periodic-pre, e2e-aws-ovn-etcd-scaling

Removed VSphereControlPlaneMachineset feature gate
  pkg/controllers/controlplanemachinesetgenerator/controller.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Extend E2E tests for MachineNamePrefix when the field is reset
  test/e2e/helpers/controlplanemachineset.go
  test/e2e/helpers/machine.go
  test/e2e/periodic_test.go
  test/e2e/presubmit_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-periodic-pre, e2e-aws-ovn-etcd-scaling

Remove gathering of failure domains from machine sets
  pkg/controllers/controlplanemachinesetgenerator/aws.go
  pkg/controllers/controlplanemachinesetgenerator/azure.go
  pkg/controllers/controlplanemachinesetgenerator/controller.go
  pkg/controllers/controlplanemachinesetgenerator/controller_test.go
  pkg/controllers/controlplanemachinesetgenerator/gcp.go
  pkg/controllers/controlplanemachinesetgenerator/nutanix.go
  pkg/controllers/controlplanemachinesetgenerator/openstack.go
  pkg/controllers/controlplanemachinesetgenerator/utils.go
  pkg/controllers/controlplanemachinesetgenerator/vsphere.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/providerconfig.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

wip: add unmanaged grace period for new node
  pkg/controllers/controlplanemachineset/controller.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Increase e2e suite timeout
  hack/e2e.sh
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Remove gathering of failure domains from machine sets
  pkg/controllers/controlplanemachineset/suite_test.go
  pkg/controllers/controlplanemachinesetgenerator/aws.go
  pkg/controllers/controlplanemachinesetgenerator/azure.go
  pkg/controllers/controlplanemachinesetgenerator/controller.go
  pkg/controllers/controlplanemachinesetgenerator/controller_test.go
  pkg/controllers/controlplanemachinesetgenerator/gcp.go
  pkg/controllers/controlplanemachinesetgenerator/nutanix.go
  pkg/controllers/controlplanemachinesetgenerator/openstack.go
  pkg/controllers/controlplanemachinesetgenerator/suite_test.go
  pkg/controllers/controlplanemachinesetgenerator/utils.go
  pkg/controllers/controlplanemachinesetgenerator/utils_test.go
  pkg/controllers/controlplanemachinesetgenerator/vsphere.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/providerconfig.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/suite_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

Wait for operators to be stable for 2 minutes before accepting cluster is stable
  test/e2e/helpers/cases.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Run E2E suite Ordered
  test/e2e/presubmit_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Wait for CPMS status to stabilize
  test/e2e/helpers/cases.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling
