Repository openshift/cluster-control-plane-machine-set-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-periodic-pre, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

e2e-aws-ovn:
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws

e2e-aws-ovn-serial:
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-serial

e2e-aws-ovn-upgrade:
  steps:
    cluster_profile: aws
    workflow: openshift-upgrade-aws

e2e-aws-operator:
  steps:
    cluster_profile: aws
    test:
    - as: test
      commands: 'make e2e-presubmit
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
    workflow: ipi-aws

e2e-aws-periodic-pre:
  optional: true
  steps:
    cluster_profile: aws
    test:
    - as: test
      commands: 'make e2e-periodic
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
      timeout: 3h0m0s
    workflow: ipi-aws

e2e-azure-operator:
  optional: true
  steps:
    cluster_profile: azure4
    test:
    - as: test
      commands: 'make e2e-presubmit
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
    workflow: ipi-azure

e2e-gcp-operator:
  optional: true
  steps:
    cluster_profile: gcp
    test:
    - as: test
      commands: 'make e2e-presubmit
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
    workflow: ipi-gcp

e2e-vsphere-operator:
  optional: true
  steps:
    cluster_profile: vsphere-2
    env:
      FEATURE_SET: TechPreviewNoUpgrade
    test:
    - as: test
      commands: 'make e2e-presubmit
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
    workflow: openshift-e2e-vsphere

e2e-vsphere-multi-zone-operator:
  optional: true
  steps:
    cluster_profile: vsphere-multizone-2
    env:
      FEATURE_SET: TechPreviewNoUpgrade
    test:
    - as: test
      commands: 'make e2e-presubmit
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
    workflow: openshift-e2e-vsphere-zones

e2e-openstack-operator:
  optional: true
  steps:
    cluster_profile: openstack-vexxhost
    test:
    - as: test
      commands: 'export OPENSTACK_CONTROLPLANE_FLAVOR_ALTERNATE="$(<"${SHARED_DIR}/OPENSTACK_CONTROLPLANE_FLAVOR_ALTERNATE")"
  
        make e2e-presubmit
  
        '
      from: src
      resources:
        requests:
  ...

e2e-openstack-operator-zone:
  optional: true
  steps:
    cluster_profile: openstack-vh-mecha-az0
    test:
    - as: test
      commands: 'test -f "${SHARED_DIR}/proxy-conf.sh" && source "${SHARED_DIR}/proxy-conf.sh"
  
        export OPENSTACK_CONTROLPLANE_FLAVOR_ALTERNATE="$(<"${SHARED_DIR}/OPENSTACK_CONTROLPLANE_FLAVOR_ALTERNATE")"
  
  ...

e2e-aws-ovn-etcd-scaling:
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-etcd-scaling

e2e-gcp-ovn-etcd-scaling:
  optional: true
  steps:
    cluster_profile: gcp
    workflow: openshift-e2e-gcp-etcd-scaling

e2e-azure-ovn-etcd-scaling:
  optional: true
  steps:
    cluster_profile: azure4
    workflow: openshift-e2e-azure-etcd-scaling

bump k8s 1.33, go 1.24
  .ci-operator.yaml
  Dockerfile
  Makefile
  go.mod
  go.sum
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

fix units, linting
  .golangci.yaml
  pkg/controllers/controlplanemachineset/controller.go
  pkg/controllers/controlplanemachinesetgenerator/controller.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/mapping.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/vsphere.go
  pkg/webhooks/controlplanemachineset/suite_test.go
  pkg/webhooks/controlplanemachineset/webhooks_test.go
  test/e2e/framework/utils_test.go
  test/e2e/helpers/controlplanemachineset.go
  test/integration/machine_manager.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

Sync OWNERS file
  OWNERS
Due: none

dnm: noop
  README.md
Due: none

Disable activation of CPMS with deletionTimestamp
  pkg/webhooks/controlplanemachineset/webhooks.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Create cluster-control-plane-machine-set-operator-tests-ext command for origin e2e
  .golangci.yaml
  Dockerfile
  Makefile
  cmd/control-plane-machine-set-tests-ext/main.go
  test/e2e/framework/framework.go
  test/e2e/periodic.go
  test/e2e/presubmit.go
  test/e2e/suite_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-periodic-pre, e2e-aws-ovn-etcd-scaling

Fix authoritativeAPI re-create loop
  pkg/controllers/controlplanemachineset/controller_test.go
  pkg/controllers/controlplanemachinesetgenerator/controller_test.go
  pkg/controllers/controlplanemachinesetgenerator/utils.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Remove gathering of failure domains from machine sets
  pkg/controllers/controlplanemachineset/suite_test.go
  pkg/controllers/controlplanemachinesetgenerator/aws.go
  pkg/controllers/controlplanemachinesetgenerator/azure.go
  pkg/controllers/controlplanemachinesetgenerator/controller.go
  pkg/controllers/controlplanemachinesetgenerator/controller_test.go
  pkg/controllers/controlplanemachinesetgenerator/gcp.go
  pkg/controllers/controlplanemachinesetgenerator/nutanix.go
  pkg/controllers/controlplanemachinesetgenerator/openstack.go
  pkg/controllers/controlplanemachinesetgenerator/suite_test.go
  pkg/controllers/controlplanemachinesetgenerator/utils.go
  pkg/controllers/controlplanemachinesetgenerator/utils_test.go
  pkg/controllers/controlplanemachinesetgenerator/vsphere.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/providerconfig.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/suite_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

add boot image exception to Azure provider config
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/azure.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/azure_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

use new Diffs in providerconfig interface
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/providerconfig.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/providerconfig_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

add boot image exception to AWS provider config
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/aws.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/aws_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

add boot image exception to GCP provider config
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/gcp.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/gcp_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

bump k8s 1.34
  Makefile
  go.mod
  go.sum
  pkg/webhooks/controlplanemachineset/webhooks.go
  pkg/webhooks/controlplanemachineset/webhooks_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Created cluster-control-plane-machine-set-operator-ext command for origin e2e
  .golangci.yaml
  Dockerfile
  Makefile
  openshift-tests-extension/cmd/main.go
  test/e2e/framework/framework.go
  test/e2e/periodic.go
  test/e2e/presubmit.go
  test/e2e/suite_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-periodic-pre, e2e-aws-ovn-etcd-scaling

Add ClusterRole to ClusterOperator relatedObjects
  manifests/0000_30_control-plane-machine-set-operator_04_clusteroperator.yaml
  pkg/controllers/controlplanemachineset/cluster_operator.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

wip: add unmanaged grace period for new node
  pkg/controllers/controlplanemachineset/controller.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

mockgen deprecated: use uber-go/mock instead
  go.mod
  go.sum
  pkg/controllers/controlplanemachineset/updates_test.go
  pkg/machineproviders/doc.go
  pkg/machineproviders/mock/zz_generated_machine_provider_mock.go
  tools/tools.go
  vendor/github.com/golang/mock/CONTRIBUTORS
  vendor/github.com/golang/mock/mockgen/reflect.go
  vendor/github.com/golang/mock/mockgen/version.1.11.go
  vendor/go.uber.org/mock/AUTHORS
  vendor/go.uber.org/mock/LICENSE
  vendor/go.uber.org/mock/gomock/call.go
  vendor/go.uber.org/mock/gomock/callset.go
  vendor/go.uber.org/mock/gomock/controller.go
  vendor/go.uber.org/mock/gomock/doc.go
  vendor/go.uber.org/mock/gomock/matchers.go
  vendor/go.uber.org/mock/gomock/string.go
  vendor/go.uber.org/mock/mockgen/archive.go
  vendor/go.uber.org/mock/mockgen/deprecated.go
  vendor/go.uber.org/mock/mockgen/generic.go
  vendor/go.uber.org/mock/mockgen/gob.go
  vendor/go.uber.org/mock/mockgen/mockgen.go
  vendor/go.uber.org/mock/mockgen/model/model.go
  vendor/go.uber.org/mock/mockgen/model/model_gotypes.go
  vendor/go.uber.org/mock/mockgen/package_mode.go
  vendor/go.uber.org/mock/mockgen/parse.go
  vendor/go.uber.org/mock/mockgen/version.go
  vendor/modules.txt
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

migrate cpms cases from openshift-tests-private
  hack/e2e.sh
  test/e2e/helpers/cases.go
  test/e2e/periodic.go
  test/e2e/presubmit.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-periodic-pre, e2e-aws-ovn-etcd-scaling

Add go.work file to define workspace with main module and submodule
  Makefile
  go.mod
  go.sum
  go.work
  go.work.sum
  hack/e2e.sh
  hack/test.sh
  openshift-tests-extension/go.mod
  openshift-tests-extension/go.sum
  openshift-tests-extension/vendor/modules.txt
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Update hack/vendor.sh to handle workspace sync gracefully
  Makefile
  hack/vendor.sh
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

migrate cpms cases from openshift-tests-private
  hack/e2e.sh
  test/e2e/helpers/cases.go
  test/e2e/helpers/failuredomain.go
  test/e2e/periodic.go
  test/e2e/presubmit.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-periodic-pre, e2e-aws-ovn-etcd-scaling

wait controller
  test/e2e/helpers/cases.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

address Zhaohua's comment
  test/e2e/helpers/cases.go
  test/e2e/helpers/failuredomain.go
  test/e2e/presubmit.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Add RBAC and webhook resources to ClusterOperator relatedObjects
  manifests/0000_30_control-plane-machine-set-operator_04_clusteroperator.yaml
  pkg/controllers/controlplanemachineset/cluster_operator.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Fix Makefile to use vendor mode and eliminate cachi2 dependency
  Makefile
  go.mod
  vendor/modules.txt
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

test
  openstack.txt
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling

Testing adding sharding option to cpms tests
  openshift-tests-extension/cmd/main.go
  openshift-tests-extension/pkg/cmd/runsuite.go
  openshift-tests-extension/pkg/cmd/runtest.go
  openshift-tests-extension/pkg/flags/shard.go
  openshift-tests-extension/pkg/shard/filter.go
  openshift-tests-extension/pkg/shard/sharder.go
  openshift-tests-extension/pkg/shard/sharder_test.go
  test-sharding.sh
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Path conditions:
  e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-ovn-serial: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-periodic-pre: any of: .*periodic.*
  e2e-azure-operator: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*azure.*
  e2e-gcp-operator: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*gcp.*
  e2e-vsphere-operator: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*vsphere.*
  e2e-vsphere-multi-zone-operator: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*vsphere.*
  e2e-openstack-operator: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*openstack.*
  e2e-openstack-operator-zone: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*openstack.*
  e2e-aws-ovn-etcd-scaling: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp-ovn-etcd-scaling: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*gcp.*
  e2e-azure-ovn-etcd-scaling: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*azure.*
  e2e-vsphere-ovn-etcd-scaling: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*vsphere.*
  e2e-nutanix-ovn: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*nutanix.*
