Repository openshift/cluster-control-plane-machine-set-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-periodic-pre, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

e2e-aws-ovn:
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws

e2e-aws-ovn-serial:
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-serial

e2e-aws-ovn-upgrade:
  steps:
    cluster_profile: aws
    workflow: openshift-upgrade-aws

e2e-aws-operator:
  steps:
    cluster_profile: aws
    test:
    - as: test
      commands: 'make e2e-presubmit
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
    workflow: ipi-aws

e2e-aws-periodic-pre:
  optional: true
  steps:
    cluster_profile: aws
    test:
    - as: test
      commands: 'make e2e-periodic
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
      timeout: 3h0m0s
    workflow: ipi-aws

e2e-azure-operator:
  optional: true
  steps:
    cluster_profile: azure4
    test:
    - as: test
      commands: 'make e2e-presubmit
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
    workflow: ipi-azure

e2e-gcp-operator:
  optional: true
  steps:
    cluster_profile: gcp
    test:
    - as: test
      commands: 'make e2e-presubmit
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
    workflow: ipi-gcp

e2e-vsphere-operator:
  optional: true
  steps:
    cluster_profile: vsphere-2
    env:
      FEATURE_SET: TechPreviewNoUpgrade
    test:
    - as: test
      commands: 'make e2e-presubmit
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
    workflow: openshift-e2e-vsphere

e2e-vsphere-multi-zone-operator:
  optional: true
  steps:
    cluster_profile: vsphere-multizone-2
    env:
      FEATURE_SET: TechPreviewNoUpgrade
    test:
    - as: test
      commands: 'make e2e-presubmit
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
    workflow: openshift-e2e-vsphere-zones

e2e-openstack-operator:
  optional: true
  steps:
    cluster_profile: openstack-vexxhost
    test:
    - as: test
      commands: 'export OPENSTACK_CONTROLPLANE_FLAVOR_ALTERNATE="$(<"${SHARED_DIR}/OPENSTACK_CONTROLPLANE_FLAVOR_ALTERNATE")"
  
        make e2e-presubmit
  
        '
      from: src
      resources:
        requests:
  ...

e2e-openstack-operator-zone:
  optional: true
  steps:
    cluster_profile: openstack-vh-mecha-az0
    test:
    - as: test
      commands: 'test -f "${SHARED_DIR}/proxy-conf.sh" && source "${SHARED_DIR}/proxy-conf.sh"
  
        export OPENSTACK_CONTROLPLANE_FLAVOR_ALTERNATE="$(<"${SHARED_DIR}/OPENSTACK_CONTROLPLANE_FLAVOR_ALTERNATE")"
  
  ...

e2e-aws-ovn-etcd-scaling:
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-etcd-scaling

e2e-gcp-ovn-etcd-scaling:
  optional: true
  steps:
    cluster_profile: gcp
    workflow: openshift-e2e-gcp-etcd-scaling

e2e-azure-ovn-etcd-scaling:
  optional: true
  steps:
    cluster_profile: azure4
    workflow: openshift-e2e-azure-etcd-scaling

o/api bump for capacity reservation
  go.mod
  go.sum
  manifests/0000_30_control-plane-machine-set-operator_00_controlplanemachineset.crd.yaml
  pkg/controllers/controlplanemachinesetgenerator/azure.go
  pkg/controllers/controlplanemachinesetgenerator/controller_test.go
  pkg/controllers/controlplanemachinesetgenerator/gcp.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/azure.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/providerconfig_test.go
  test/e2e/framework/framework.go
  vendor/github.com/openshift/api/config/v1/0000_00_cluster-version-operator_01_clusterversion.crd.yaml
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_infrastructure-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_infrastructure-Default.crd.yaml
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_infrastructure-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/config/v1/0000_10_openshift-controller-manager-operator_01_build.crd.yaml
  vendor/github.com/openshift/api/config/v1/feature_gates.go
  vendor/github.com/openshift/api/config/v1/stable.build.testsuite.yaml
  vendor/github.com/openshift/api/config/v1/stable.clusterversion.testsuite.yaml
  vendor/github.com/openshift/api/config/v1/stable.infrastructure.testsuite.yaml
  vendor/github.com/openshift/api/config/v1/types_cluster_version.go
  vendor/github.com/openshift/api/config/v1/types_feature.go
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/machine/v1/0000_10_controlplanemachineset.crd.yaml
  vendor/github.com/openshift/api/machine/v1/types_controlplanemachineset.go
  vendor/github.com/openshift/api/machine/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/machine/v1beta1/types_azureprovider.go
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/cluster-api-actuator-pkg/testutils/resourcebuilder/machine/v1/azure_failure_domains.go
  vendor/github.com/openshift/cluster-api-actuator-pkg/testutils/resourcebuilder/machine/v1beta1/azure_provider_spec.go
  vendor/modules.txt
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

Add 1 minute stabilisation for clusteroperators after rollout
  test/e2e/helpers/clusteroperators.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Pass minimum availability from call site
  pkg/controllers/controlplanemachineset/controller_test.go
  test/e2e/helpers/cases.go
  test/e2e/helpers/clusteroperators.go
  test/e2e/periodic_test.go
  test/e2e/presubmit_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-periodic-pre, e2e-aws-ovn-etcd-scaling

Update output to account for 1 minute grace
  pkg/controllers/controlplanemachineset/controller_test.go
  test/e2e/helpers/formatters.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Make timeout and interval explicit args
  test/e2e/helpers/cases.go
  test/e2e/helpers/clusteroperators.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Fixed issues with template and resource formatting.
  pkg/controllers/controlplanemachinesetgenerator/utils.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/providerconfig.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/vsphere.go
  pkg/webhooks/controlplanemachineset/suite_test.go
  pkg/webhooks/controlplanemachineset/webhooks.go
  pkg/webhooks/controlplanemachineset/webhooks_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

fixed network extraction for failure domain.
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/vsphere.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

OWNERS: update subcomponent
  OWNERS
Due: none

manifests: set required-scc for openshift workloads
  manifests/0000_30_control-plane-machine-set-operator_03_deployment.yaml
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

dont validate against infra resource if cpms failure domains are not specified
  pkg/webhooks/controlplanemachineset/test_util.go
  pkg/webhooks/controlplanemachineset/webhooks.go
  pkg/webhooks/controlplanemachineset/webhooks_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

bump deps to k8s v1.31
  Makefile
  go.mod
  go.sum
  pkg/controllers/controlplanemachineset/cluster_operator_test.go
  pkg/controllers/controlplanemachineset/controller.go
  pkg/controllers/controlplanemachineset/controller_test.go
  pkg/controllers/controlplanemachinesetgenerator/controller.go
  pkg/controllers/controlplanemachinesetgenerator/controller_test.go
  pkg/controllers/controlplanemachinesetgenerator/suite_test.go
  pkg/webhooks/controlplanemachineset/suite_test.go
  pkg/webhooks/controlplanemachineset/webhooks_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Add vSphere host vm group zonal
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/vsphere.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

bump cluster-api-actuator-pkg/testutils to latest
  go.mod
  go.sum
  vendor/github.com/openshift/cluster-api-actuator-pkg/testutils/resourcebuilder/coalesce.go
  vendor/github.com/openshift/cluster-api-actuator-pkg/testutils/resourcebuilder/machine/v1beta1/aws_provider_spec.go
  vendor/github.com/openshift/cluster-api-actuator-pkg/testutils/resourcebuilder/machine/v1beta1/coalesce.go
  vendor/github.com/openshift/cluster-api-actuator-pkg/testutils/resourcebuilder/machine/v1beta1/machine.go
  vendor/github.com/openshift/cluster-api-actuator-pkg/testutils/resourcebuilder/machine/v1beta1/machineset.go
  vendor/modules.txt
  vendor/sigs.k8s.io/controller-runtime/tools/setup-envtest/README.md
  vendor/sigs.k8s.io/controller-runtime/tools/setup-envtest/env/env.go
  vendor/sigs.k8s.io/controller-runtime/tools/setup-envtest/main.go
  vendor/sigs.k8s.io/controller-runtime/tools/setup-envtest/remote/gcs_client.go
  vendor/sigs.k8s.io/controller-runtime/tools/setup-envtest/store/store.go
  vendor/sigs.k8s.io/controller-runtime/tools/setup-envtest/versions/parse.go
  vendor/sigs.k8s.io/controller-runtime/tools/setup-envtest/versions/platform.go
  vendor/sigs.k8s.io/controller-runtime/tools/setup-envtest/versions/version.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

incorporate review feedback
  pkg/webhooks/controlplanemachineset/test_util.go
  pkg/webhooks/controlplanemachineset/webhooks.go
  pkg/webhooks/controlplanemachineset/webhooks_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

changes from api bump
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/vsphere.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

api changes vendor
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_infrastructures-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_infrastructures-Default.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_infrastructures-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_infrastructures-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/features/util.go
  vendor/github.com/openshift/api/operator/v1/types.go
  vendor/github.com/openshift/library-go/pkg/apiserver/jsonpatch/jsonpatch.go
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourceapply/monitoring.go
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourcemerge/object_merger.go
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourceread/admission.go
  vendor/github.com/openshift/library-go/pkg/operator/v1helpers/informers.go
  vendor/github.com/openshift/library-go/pkg/operator/v1helpers/interfaces.go
  vendor/github.com/openshift/library-go/pkg/operator/v1helpers/test_helpers.go
  vendor/modules.txt
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

client go codegen
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_infrastructures-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_infrastructures-Default.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_infrastructures-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.crd-manifests/0000_10_config-operator_01_infrastructures-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/awsplatformstatus.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vspherefailuredomainhostgroup.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vspherefailuredomainregionaffinity.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vspherefailuredomainzoneaffinity.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vsphereplatformfailuredomainspec.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vsphereplatformtopology.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/internal/internal.go
  vendor/github.com/openshift/client-go/operator/applyconfigurations/internal/internal.go
  vendor/github.com/openshift/client-go/operator/applyconfigurations/operator/v1/openstackloadbalancerparameters.go
  vendor/modules.txt
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling

fix panic
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/vsphere.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

kubebuilder assets can refer o/api index file
  Makefile
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

fix unit related to VMGroup
  pkg/webhooks/controlplanemachineset/webhooks_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

support cpms machine name prefix
  cmd/control-plane-machine-set-operator/main.go
  pkg/controllers/controlplanemachineset/controller.go
  pkg/machineproviders/providers/machineproviders.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/provider.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

add unit tests for machineNamePrefix
  pkg/controllers/controlplanemachineset/cluster_operator_test.go
  pkg/controllers/controlplanemachineset/controller_test.go
  pkg/controllers/controlplanemachineset/suite_test.go
  pkg/machineproviders/providers/machineproviders_test.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/provider_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

Path conditions:
  e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-ovn-serial: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-periodic-pre: any of: .*periodic.*
  e2e-azure-operator: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*azure.*
  e2e-gcp-operator: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*gcp.*
  e2e-vsphere-operator: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*vsphere.*
  e2e-vsphere-multi-zone-operator: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*vsphere.*
  e2e-openstack-operator: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*openstack.*
  e2e-openstack-operator-zone: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*openstack.*
  e2e-aws-ovn-etcd-scaling: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp-ovn-etcd-scaling: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*gcp.*
  e2e-azure-ovn-etcd-scaling: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*azure.*
  e2e-vsphere-ovn-etcd-scaling: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*vsphere.*
  e2e-nutanix-ovn: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*nutanix.*
