Repository openshift/cluster-control-plane-machine-set-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-periodic-pre, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

Path conditions:
  e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-ovn-serial: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-periodic-pre: any of: .*periodic.*
  e2e-azure-operator: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*azure.*
  e2e-gcp-operator: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*gcp.*
  e2e-vsphere-operator: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*vsphere.*
  e2e-vsphere-multi-zone-operator: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*vsphere.*
  e2e-openstack-operator: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*openstack.*
  e2e-openstack-operator-zone: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*openstack.*
  e2e-aws-ovn-etcd-scaling: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp-ovn-etcd-scaling: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*gcp.*
  e2e-azure-ovn-etcd-scaling: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*azure.*
  e2e-vsphere-ovn-etcd-scaling: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*vsphere.*
  e2e-nutanix-ovn: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*nutanix.*

Increase test timeout to 15m
  hack/test.sh
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Update Build image to Go 1.21
  Makefile
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Update env test to use 1.29 binaries
  Makefile
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Avoid installing all of config/v1 in unit tests
  pkg/controllers/controlplanemachineset/suite_test.go
  pkg/controllers/controlplanemachinesetgenerator/suite_test.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/suite_test.go
  pkg/machineproviders/providers/suite_test.go
  pkg/util/suite_test.go
  pkg/webhooks/controlplanemachineset/suite_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

vendor
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/feature_gates.go
  vendor/github.com/openshift/api/config/v1/types_feature.go
  vendor/github.com/openshift/api/machine/v1/0000_10_controlplanemachineset-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/machine/v1/0000_10_controlplanemachineset-Default.crd.yaml
  vendor/github.com/openshift/api/machine/v1/0000_10_controlplanemachineset-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/machine/v1/types_controlplanemachineset.go
  vendor/github.com/openshift/api/machine/v1beta1/types_gcpprovider.go
  vendor/github.com/openshift/api/machine/v1beta1/types_vsphereprovider.go
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/client-go/machine/applyconfigurations/internal/internal.go
  vendor/modules.txt
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling

sync CRDs
  manifests/0000_30_control-plane-machine-set-operator_00_controlplanemachineset-customnoupgrade.crd.yaml
  manifests/0000_30_control-plane-machine-set-operator_00_controlplanemachineset-default.crd.yaml
  manifests/0000_30_control-plane-machine-set-operator_00_controlplanemachineset-techpreviewnoupgrade.crd.yaml
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

OCPBUGS-28230: add FallbackToLogsOnError for easier debugging
  manifests/0000_30_control-plane-machine-set-operator_03_deployment.yaml
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Fixed control plane machine set handling of static IPs when AddressesFromPools is not in use.
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/vsphere.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

Added unit tests for static ip checks.
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/vsphere_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

add snyk configuration file
  .snyk
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Never delete a Machine when there's a single Machine in an index
  pkg/controllers/controlplanemachineset/updates.go
  pkg/controllers/controlplanemachineset/updates_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Modified vSphere config provider to not lose AddressesFromPools when applying Failure Domains.
  go.mod
  go.sum
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/vsphere.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/vsphere_test.go
  vendor/github.com/openshift/cluster-api-actuator-pkg/testutils/resourcebuilder/machine/v1beta1/vsphere_provider_spec.go
  vendor/modules.txt
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

Fix InjectFailureDomain to handle empty network device list.
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/vsphere.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/vsphere_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

manifests: set required-scc for openshift workloads
  manifests/0000_30_control-plane-machine-set-operator_03_deployment.yaml
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

updates from feedback
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/vsphere.go
  pkg/webhooks/controlplanemachineset/suite_test.go
  pkg/webhooks/controlplanemachineset/webhooks_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

cpms CRD sync
  manifests/0000_30_control-plane-machine-set-operator_00_controlplanemachineset-customnoupgrade.crd.yaml
  manifests/0000_30_control-plane-machine-set-operator_00_controlplanemachineset-default.crd.yaml
  manifests/0000_30_control-plane-machine-set-operator_00_controlplanemachineset-techpreviewnoupgrade.crd.yaml
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

only consider a template namechange as a difference to rollout
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/providerconfig.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/vsphere.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

clean up generated paths
  pkg/controllers/controlplanemachinesetgenerator/utils.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/vsphere.go
  pkg/webhooks/controlplanemachineset/webhooks_test.go
  test/e2e/framework/framework.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

update unit tests
  pkg/webhooks/controlplanemachineset/webhooks_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

do not iterate nil failure domains
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/vsphere.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

test presubmit
  docs/contributing.md
Due: none

Unit test improvements
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/vsphere.go
  pkg/webhooks/controlplanemachineset/suite_test.go
  pkg/webhooks/controlplanemachineset/webhooks_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

Added logic to handler older infrastructure definitions where platform spec is not present.
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/vsphere.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/vsphere_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

Modified webhook to allow templates by name instead of just by path.
  pkg/webhooks/controlplanemachineset/webhooks.go
  pkg/webhooks/controlplanemachineset/webhooks_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Modified webhook to allow templates by name instead of just by path.
  pkg/webhooks/controlplanemachineset/suite_test.go
  pkg/webhooks/controlplanemachineset/webhooks.go
  pkg/webhooks/controlplanemachineset/webhooks_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Updated vSphere e2e framework to remove failure domain info before comparison.
  test/e2e/framework/framework.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Drop CRDs for CPMS
  Makefile
  hack/crds-sync.sh
  manifests/0000_30_control-plane-machine-set-operator_00_controlplanemachineset-customnoupgrade.crd.yaml
  manifests/0000_30_control-plane-machine-set-operator_00_controlplanemachineset-default.crd.yaml
  manifests/0000_30_control-plane-machine-set-operator_00_controlplanemachineset-techpreviewnoupgrade.crd.yaml
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

Modified webhook to reject changes to vsphere fields coming from failure domains.
  pkg/webhooks/controlplanemachineset/suite_test.go
  pkg/webhooks/controlplanemachineset/webhooks.go
  pkg/webhooks/controlplanemachineset/webhooks_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-aws-ovn-etcd-scaling

bump deps to k8s v1.30, go 1.22
  .ci-operator.yaml
  .golangci.yaml
  Dockerfile
  Makefile
  cmd/control-plane-machine-set-operator/main.go
  go.mod
  go.sum
  pkg/controllers/controlplanemachineset/controller_test.go
  pkg/controllers/controlplanemachineset/suite_test.go
  pkg/controllers/controlplanemachineset/updates_test.go
  pkg/controllers/controlplanemachinesetgenerator/controller.go
  pkg/controllers/controlplanemachinesetgenerator/suite_test.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/providerconfig/providerconfig.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/suite_test.go
  pkg/machineproviders/providers/suite_test.go
  pkg/util/suite_test.go
  pkg/webhooks/controlplanemachineset/suite_test.go
  pkg/webhooks/controlplanemachineset/webhooks.go
  test/e2e/framework/framework.go
  test/e2e/framework/utils_test.go
  test/e2e/helpers/cases.go
  tools/tools.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn

add unreadyNodeGracePeriod for allowing brief node hiccups
  pkg/machineproviders/providers/openshift/machine/v1beta1/provider.go
  pkg/machineproviders/providers/openshift/machine/v1beta1/provider_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-serial, e2e-aws-ovn-upgrade, e2e-aws-operator, e2e-azure-operator, e2e-gcp-operator, e2e-vsphere-operator, e2e-vsphere-multi-zone-operator, e2e-openstack-operator, e2e-openstack-operator-zone, e2e-aws-ovn-etcd-scaling, e2e-gcp-ovn-etcd-scaling, e2e-azure-ovn-etcd-scaling, e2e-vsphere-ovn-etcd-scaling, e2e-nutanix-ovn
