Repository openshift/cloud-provider-gcp: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade, ci/prow/regression-clusterinfra-gcp-ipi-ccm

Path conditions:
  e2e-gcp-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-gcp-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-gcp-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/regression-clusterinfra-gcp-ipi-ccm: any of: ^(go\.mod|go\.sum)$

UPSTREAM: <carry>: Remove custom vendor scripts in favour of upstream go.work
  openshift-hack/update-vendor.sh
  openshift-hack/verify-vendor.sh
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade

UPSTREAM: <carry>: Sync OWNERS file
  OWNERS
Due: none

UPSTREAM: <carry>: Resolve dynamic resource allocation unknown revision
  go.mod
  vendor/modules.txt
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade, ci/prow/regression-clusterinfra-gcp-ipi-ccm

UPSTREAM: <carry>: Replace use of deprecated sets.String
  providers/gce/gce_loadbalancer_internal_openshift.go
  providers/gce/gce_loadbalancer_internal_openshift_test.go
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade

UPSTREAM: <carry>: Fix OSD ILB bug
  providers/gce/gce_loadbalancer_internal.go
  providers/gce/gce_loadbalancer_internal_openshift.go
  providers/gce/gce_loadbalancer_internal_openshift_test.go
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade

UPSTREAM: <carry>: Remove upstream owner aliases
  OWNERS_ALIASES
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade

UPSTREAM: <carry>: Fix node.kubernetes.io/exclude-from-external-load-balancers on masters
  providers/gce/gce_loadbalancer_internal_openshift.go
  providers/gce/gce_loadbalancer_internal_openshift_test.go
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade

UPSTREAM: <carry>: Sync OWNERS file
  OWNERS
  pkg/controller/service/OWNERS
Due: none

UPSTREAM: <carry>: Remove symlink for providers by using go.work
  .gitignore
  openshift-hack/update-vendor.sh
  openshift-hack/verify-vendor.sh
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade

UPSTREAM: <carry>: Reuse instance-groups for internal load balancers
  providers/gce/gce.go
  providers/gce/gce_fake.go
  providers/gce/gce_instancegroup.go
  providers/gce/gce_loadbalancer_internal.go
  providers/gce/gce_loadbalancer_internal_openshift.go
  providers/gce/gce_loadbalancer_internal_test.go
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade

UPSTREAM: <drop>: Updating and vendoring go modules after an upstream rebase
  go.mod
  vendor/modules.txt
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade, ci/prow/regression-clusterinfra-gcp-ipi-ccm

UPSTREAM: <carry>: Adds auth-provider-gcp .spec file and build script
  .ci-operator.yaml
  gcr-credential-provider.spec
  openshift-hack/build-rpms.sh
  openshift-hack/images/Dockerfile.openshift
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade

UPSTREAM: <carry>: Add files required for OpenShift
  .ci-operator.yaml
  .snyk
  CLAUDE.md
  OWNERS
  cmd/auth-provider-gcp/OWNERS
  cmd/cloud-controller-manager/OWNERS
  cmd/gke-gcloud-auth-plugin/OWNERS
  go.mod
  openshift-hack/images/Dockerfile.openshift
  openshift-hack/test-unit.sh
  openshift-hack/update-vendor.sh
  openshift-hack/verify-vendor.sh
  pkg/controller/nodeipam/OWNERS
  providers/gce/OWNERS
  test/OWNERS
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade, ci/prow/regression-clusterinfra-gcp-ipi-ccm

UPSTREAM: <carry>: OCPBUGS-123142: Bump Go builder to 1.26 and protobuf to v1.36.12
  .ci-operator.yaml
  go.mod
  go.sum
  go.work.sum
  metis/go.mod
  metis/go.sum
  openshift-hack/images/Dockerfile.openshift
  providers/go.mod
  providers/go.sum
  test/e2e/go.mod
  test/e2e/go.sum
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade, ci/prow/regression-clusterinfra-gcp-ipi-ccm

UPSTREAM: <drop>: vendor
  vendor/google.golang.org/protobuf/encoding/protodelim/protodelim.go
  vendor/google.golang.org/protobuf/encoding/protojson/decode.go
  vendor/google.golang.org/protobuf/encoding/protojson/well_known_types.go
  vendor/google.golang.org/protobuf/encoding/prototext/decode.go
  vendor/google.golang.org/protobuf/internal/descfmt/stringer.go
  vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  vendor/google.golang.org/protobuf/internal/encoding/defval/default.go
  vendor/google.golang.org/protobuf/internal/encoding/tag/tag.go
  vendor/google.golang.org/protobuf/internal/encoding/text/decode.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc_lazy.go
  vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  vendor/google.golang.org/protobuf/internal/impl/codec_map.go
  vendor/google.golang.org/protobuf/internal/impl/decode.go
  vendor/google.golang.org/protobuf/internal/impl/validate.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/google.golang.org/protobuf/proto/decode.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_init.go
  vendor/google.golang.org/protobuf/reflect/protodesc/editions.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/source_gen.go
  vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  vendor/google.golang.org/protobuf/types/known/anypb/any.pb.go
  vendor/google.golang.org/protobuf/types/known/fieldmaskpb/field_mask.pb.go
  vendor/google.golang.org/protobuf/types/known/structpb/struct.pb.go
  vendor/google.golang.org/protobuf/types/known/timestamppb/timestamp.pb.go
  vendor/modules.txt
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade
