Repository openshift/cloud-provider-gcp: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade, ci/prow/regression-clusterinfra-gcp-ipi-ccm

e2e-gcp-ovn:
  optional: true
  steps:
    cluster_profile: gcp-3
    workflow: openshift-e2e-gcp

e2e-gcp-ovn-upgrade:
  optional: true
  steps:
    cluster_profile: gcp
    workflow: openshift-e2e-gcp-upgrade

ci/prow/e2e-gcp-ovn:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-gcp-ovn-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/regression-clusterinfra-gcp-ipi-ccm:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

UPSTREAM: <carry>: Sync OWNERS file
  OWNERS
Due: none

UPSTREAM: <carry>: replace golang.org/x/net with openshift-sustaining/net v0.50.0-sec.4
  go.mod
  go.sum
  go.work
  providers/go.mod
  providers/go.sum
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade, ci/prow/regression-clusterinfra-gcp-ipi-ccm

UPSTREAM: <carry>: replace golang.org/x/net with openshift-sustaining/net v0.35.0-sec.4
  go.mod
  go.sum
  providers/go.mod
  providers/go.sum
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade, ci/prow/regression-clusterinfra-gcp-ipi-ccm

UPSTREAM: <carry>: Remove symlink for providers by using go.work
  .gitignore
  openshift-hack/update-vendor.sh
  openshift-hack/verify-vendor.sh
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade

UPSTREAM: <carry>: Adds auth-provider-gcp .spec file and build script
  .ci-operator.yaml
  gcr-credential-provider.spec
  openshift-hack/build-rpms.sh
  openshift-hack/images/Dockerfile.openshift
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade

UPSTREAM: <carry>: Resolve dynamic resource allocation unknown revision
  go.mod
  vendor/modules.txt
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade, ci/prow/regression-clusterinfra-gcp-ipi-ccm

UPSTREAM: <carry>: Add files required for OpenShift
  .ci-operator.yaml
  .snyk
  CLAUDE.md
  OWNERS
  cmd/auth-provider-gcp/OWNERS
  cmd/cloud-controller-manager/OWNERS
  cmd/gke-gcloud-auth-plugin/OWNERS
  go.mod
  openshift-hack/images/Dockerfile.openshift
  openshift-hack/test-unit.sh
  openshift-hack/update-vendor.sh
  openshift-hack/verify-vendor.sh
  pkg/controller/nodeipam/OWNERS
  providers/gce/OWNERS
  test/OWNERS
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade, ci/prow/regression-clusterinfra-gcp-ipi-ccm

UPSTREAM: <carry>: Fix OSD ILB bug
  providers/gce/gce_loadbalancer_internal.go
  providers/gce/gce_loadbalancer_internal_openshift.go
  providers/gce/gce_loadbalancer_internal_openshift_test.go
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade

UPSTREAM: <carry>: Fix node.kubernetes.io/exclude-from-external-load-balancers on masters
  providers/gce/gce_loadbalancer_internal_openshift.go
  providers/gce/gce_loadbalancer_internal_openshift_test.go
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade

UPSTREAM: <carry>: Reuse instance-groups for internal load balancers
  providers/gce/gce.go
  providers/gce/gce_fake.go
  providers/gce/gce_instancegroup.go
  providers/gce/gce_loadbalancer_internal.go
  providers/gce/gce_loadbalancer_internal_openshift.go
  providers/gce/gce_loadbalancer_internal_test.go
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade

UPSTREAM: <carry>: Remove custom vendor scripts in favour of upstream go.work
  openshift-hack/update-vendor.sh
  openshift-hack/verify-vendor.sh
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade

UPSTREAM: <carry>: Sync OWNERS file
  OWNERS
  pkg/controller/service/OWNERS
Due: none

UPSTREAM: <carry>: Remove upstream owner aliases
  OWNERS_ALIASES
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade

UPSTREAM: <carry>: Replace use of deprecated sets.String
  providers/gce/gce_loadbalancer_internal_openshift.go
  providers/gce/gce_loadbalancer_internal_openshift_test.go
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade

UPSTREAM: 911: allow users to manage their own firewall rules
  providers/gce/gce.go
  providers/gce/gce_fake.go
  providers/gce/gce_firewall.go
  providers/gce/gce_loadbalancer_external.go
  providers/gce/gce_loadbalancer_external_test.go
  providers/gce/gce_loadbalancer_internal.go
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade

UPSTREAM: <drop>: Updating and vendoring go modules after an upstream rebase
  go.mod
  vendor/modules.txt
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade, ci/prow/regression-clusterinfra-gcp-ipi-ccm

UPSTREAM: <carry>: replace golang.org/x/net with openshift-sustaining/net v0.50.0-sec.4
  go.mod
  go.sum
  go.work
  go.work.sum
  providers/go.mod
  providers/go.sum
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade, ci/prow/regression-clusterinfra-gcp-ipi-ccm

UPSTREAM: <carry>: replace golang.org/x/net with openshift-sustaining/net v0.43.0-sec.4
  go.mod
  go.sum
  providers/go.mod
  providers/go.sum
  test/e2e/go.mod
  test/e2e/go.sum
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade, ci/prow/regression-clusterinfra-gcp-ipi-ccm

UPSTREAM: <carry>: replace golang.org/x/net with openshift-sustaining/net v0.35.0-sec.4
  go.mod
  go.sum
  providers/go.mod
  providers/go.sum
  test/e2e/go.mod
  test/e2e/go.sum
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade, ci/prow/regression-clusterinfra-gcp-ipi-ccm

UPSTREAM: <carry>: Bump golang.org/x/net to v0.55.0
  go.mod
  go.sum
  providers/go.mod
  providers/go.sum
Due: e2e-gcp-ovn, e2e-gcp-ovn-upgrade, ci/prow/e2e-gcp-ovn, ci/prow/e2e-gcp-ovn-upgrade, ci/prow/regression-clusterinfra-gcp-ipi-ccm

Path conditions:
  e2e-gcp-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-gcp-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-gcp-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/regression-clusterinfra-gcp-ipi-ccm: any of: ^(go\.mod|go\.sum)$
