Repository openshift/route-monitor-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-binary-build-success, ci/prow/e2e-binary-build-success

Path conditions:
  e2e-binary-build-success: any of: ^(osde2e/.*|go\.mod|go\.sum)$
  ci/prow/e2e-binary-build-success: any of: ^(test/e2e/.*|go\.mod|go\.sum)$

ROSA-745: boilerplate-update after openshift/boilerplate#748
  .github/dependabot.yml
  .pre-commit-config.yaml
  OWNERS_ALIASES
  boilerplate/_data/last-boilerplate-commit
  boilerplate/_lib/container-make
  boilerplate/_lib/subscriber-propose-update
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/dependabot.yml
  boilerplate/openshift/golang-osd-operator/docs/pre-commit.md
  boilerplate/openshift/golang-osd-operator/olm_pko_migration.py
  boilerplate/openshift/golang-osd-operator/pre-commit-config.yaml
  boilerplate/openshift/golang-osd-operator/standard.mk
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: none

ROSA-745: sync dependabot and MintMaker gomod config
  .github/dependabot.yml
  .github/renovate.json
Due: none

ROSA-745: boilerplate-update and enable MintMaker gomod
  .github/dependabot.yml
  .github/renovate.json
  .pre-commit-config.yaml
  OWNERS_ALIASES
  boilerplate/_data/last-boilerplate-commit
  boilerplate/_lib/container-make
  boilerplate/_lib/subscriber-propose-update
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/dependabot.yml
  boilerplate/openshift/golang-osd-operator/docs/pre-commit.md
  boilerplate/openshift/golang-osd-operator/olm_pko_migration.py
  boilerplate/openshift/golang-osd-operator/pre-commit-config.yaml
  boilerplate/openshift/golang-osd-operator/standard.mk
  build/Dockerfile
  build/Dockerfile.olm-registry
  deploy_pko/CustomResourceDefinition-clusterurlmonitors.monitoring.openshift.io.yaml
  deploy_pko/CustomResourceDefinition-routemonitors.monitoring.openshift.io.yaml
Due: none

chore: remove agents README.md
  .claude/agents/README.md
Due: none

Update boilerplate to latest version
  .pre-commit-config.yaml
  OWNERS_ALIASES
  boilerplate/_data/last-boilerplate-commit
  boilerplate/_lib/container-make
  boilerplate/_lib/subscriber-propose-update
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/dependabot.yml
  boilerplate/openshift/golang-osd-operator/docs/pre-commit.md
  boilerplate/openshift/golang-osd-operator/olm_pko_migration.py
  boilerplate/openshift/golang-osd-operator/pre-commit-config.yaml
  boilerplate/openshift/golang-osd-operator/standard.mk
  build/Dockerfile
  build/Dockerfile.olm-registry
  deploy_pko/CustomResourceDefinition-clusterurlmonitors.monitoring.openshift.io.yaml
  deploy_pko/CustomResourceDefinition-routemonitors.monitoring.openshift.io.yaml
Due: none

Fix test struct field alignment
  controllers/hostedcontrolplane/hostedcontrolplane_test.go
  controllers/hostedcontrolplane/synthetics_test.go
Due: none

Fix struct field alignment in test tables
  controllers/hostedcontrolplane/hostedcontrolplane_test.go
  controllers/hostedcontrolplane/synthetics_test.go
Due: none

Fix struct field alignment in test files
  controllers/hostedcontrolplane/hostedcontrolplane_test.go
  controllers/hostedcontrolplane/synthetics_test.go
Due: none

Fix test table alignment formatting
  controllers/hostedcontrolplane/hostedcontrolplane_test.go
  controllers/hostedcontrolplane/synthetics_test.go
Due: none

Update boilerplate to latest version
  .ci-operator.yaml
  .tekton/OWNERS
  OWNERS_ALIASES
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/update
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/docs/pre-commit.md
  boilerplate/openshift/golang-osd-operator/update
  build/Dockerfile
  build/Dockerfile.olm-registry
  test/e2e/Dockerfile
Due: ci/prow/e2e-binary-build-success

ran make boilerplate update
  boilerplate/_data/last-boilerplate-commit
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: none

update tekton shas to get the pipeline to pass.
  .tekton/route-monitor-operator-e2e-pull-request.yaml
  .tekton/route-monitor-operator-e2e-push.yaml
  .tekton/route-monitor-operator-pko-pull-request.yaml
  .tekton/route-monitor-operator-pko-push.yaml
  .tekton/route-monitor-operator-pull-request.yaml
  .tekton/route-monitor-operator-push.yaml
Due: none

ROSA-745: enable MintMaker gomod managers
  .github/renovate.json
Due: none

Update boilerplate
  OWNERS
  OWNERS_ALIASES
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/OWNERS
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/update
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: none

Trigger Konflux rebuild with trusted task digests
  README.md
Due: none

Trigger Konflux rebuild after trusted task fix
  README.md
Due: none

fix: pin boilerplate pipeline to commit with trusted git-clone-oci-ta digest
  .tekton/route-monitor-operator-e2e-pull-request.yaml
  .tekton/route-monitor-operator-e2e-push.yaml
  .tekton/route-monitor-operator-pko-pull-request.yaml
  .tekton/route-monitor-operator-pko-push.yaml
  .tekton/route-monitor-operator-pull-request.yaml
  .tekton/route-monitor-operator-push.yaml
Due: none

feat: add Claude Code infrastructure adapted for route-monitor-operator
  .claude/agents/ci-agent.md
  .claude/agents/docs-agent.md
  .claude/agents/lint-agent.md
  .claude/agents/security-agent.md
  .claude/agents/test-agent.md
  .claude/hooks/README.md
  .claude/hooks/pre-edit.sh
  .claude/hooks/session-start-prek-setup.sh
  .claude/hooks/stop-prek-validation.sh
  .claude/settings.json
  .claude/skills/README.md
  .claude/skills/prow-ci/SKILL.md
  .claude/skills/prow-ci/analyze_failure.py
  .claude/skills/prow-ci/fetch_prow_artifacts.py
  .gitignore
  .gitleaks.toml
  .prek-version
  AGENTS.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  TESTING.md
  hack/ci.sh
  hack/prek.ci.toml
  prek.toml
Due: none

fix: address CodeRabbit review findings
  .claude/agents/ci-agent.md
  .claude/agents/docs-agent.md
  .claude/hooks/pre-edit-hook.sh
  .claude/hooks/stop-prek-validation.sh
  .claude/settings.json
  .claude/skills/README.md
  .claude/skills/prow-ci/analyze_failure.py
  .claude/skills/prow-ci/fetch_prow_artifacts.py
  .gitleaks.toml
  CONTRIBUTING.md
  TESTING.md
  hack/prek.ci.toml
Due: none

fix: scope subagent Bash permissions to specific commands
  .claude/agents/ci-agent.md
  .claude/agents/docs-agent.md
  .claude/agents/lint-agent.md
  .claude/agents/security-agent.md
  .claude/agents/test-agent.md
Due: none

Update boilerplate
  .tekton/route-monitor-operator-agentic-sdlc-check-pull-request.yaml
  OWNERS_ALIASES
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/agentic-sdlc-check-pull-request.yaml.tmpl
  boilerplate/openshift/golang-osd-operator/update
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: none

Increase e2e polling timeout to reduce flakiness
  .tekton/route-monitor-operator-agentic-sdlc-check-pull-request.yaml
  OWNERS_ALIASES
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/agentic-sdlc-check-pull-request.yaml.tmpl
  boilerplate/openshift/golang-osd-operator/update
  build/Dockerfile
  build/Dockerfile.olm-registry
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

fix(security): [Project Darkstar] remediate CVE-2026-45447 -- update ubi9/ubi-minimal to 9.8-1784092902
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: none

Print Prow URL prominently in gangway-bridge output
  test/e2e/gangway-bridge-template.yml
Due: ci/prow/e2e-binary-build-success

Update boilerplate (gangway-bridge template now managed by bp)
  .tekton/route-monitor-operator-agentic-sdlc-check-pull-request.yaml
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/gangway-bridge-template.yml
  boilerplate/openshift/golang-osd-e2e/update
  boilerplate/openshift/golang-osd-operator/agentic-sdlc-check-pull-request.yaml.tmpl
Due: none

ROSAENG-60066: Remove Konflux e2e pipeline files (migrated to Prow)
  .tekton/route-monitor-operator-e2e-pull-request.yaml
  .tekton/route-monitor-operator-e2e-push.yaml
Due: none

mockgen deprecated: use uber-go/mock instead
  go.mod
  go.sum
  pkg/reconcile/common_test.go
  pkg/util/reconcile/reconcile_wrapper.go
  pkg/util/test/generated/mocks/client/cr-client.go
  pkg/util/test/generated/mocks/client/status-writer.go
  pkg/util/test/generated/mocks/controllers/interfaces.go
  pkg/util/test/generated/mocks/reconcile/common.go
  test/e2e/agent_manager.go
  test/e2e/helpers.go
  test/e2e/probe_deletion_retry_test.go
  test/e2e/process_manager.go
  test/e2e/route_monitor_operator_tests.go
Due: e2e-binary-build-success, ci/prow/e2e-binary-build-success

ROSAENG-15500: Set ServiceAccountName for blackbox-exporter deployment
  .golangci.yaml
  pkg/blackboxexporter/blackboxexporter.go
  pkg/blackboxexporter/blackboxexporter_test.go
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

Remove RMO exclusion filtering for hypershift config
  hack/hypershift-package/hypershift-artifacts-template.yaml
  hack/olm-registry/rmo-config-template.yaml
Due: none

Fix createMCStyleHCP to pass real MC CRD validation
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

Update boilerplate and UBI base image
  .tekton/route-monitor-operator-agentic-sdlc-check-pull-request.yaml
  .tours/rmo-intro.tour
  .vscode/extensions.json
  OWNERS_ALIASES
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/README.md
  boilerplate/openshift/golang-osd-e2e/gangway-bridge-template.yml
  boilerplate/openshift/golang-osd-e2e/standard.mk
  boilerplate/openshift/golang-osd-e2e/update
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/agentic-sdlc-check-pull-request.yaml.tmpl
  boilerplate/openshift/golang-osd-operator/update
  boilerplate/update
  build/Dockerfile
  build/Dockerfile.olm-registry
  ci/README.md
  ci/pipeline-run.yaml
  ci/pipeline-trigger.yaml
  ci/pipeline.yaml
  ci/serviceaccount.yaml
  ci/task-fetch-deployed-version.yaml
  ci/task-int-test.yaml
  config/certmanager/certificate.yaml
  config/certmanager/kustomizeconfig.yaml
  config/crd/bases/monitoring.openshift.io_clusterurlmonitors.yaml
  config/crd/bases/monitoring.openshift.io_routemonitors.yaml
  config/default/kustomization.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/rbac/role.yaml
  hack/boilerplate.go.txt
  hack/generate-syncset.sh
  hack/pipeline.dockerfile
  hack/test-integration.sh
  packaging/README.md
  packaging/manifest.yaml
  test/e2e/README.md
  test/e2e/gangway-bridge-template.yml
Due: ci/prow/e2e-binary-build-success

Update Go dependencies
  go.mod
  go.sum
Due: e2e-binary-build-success, ci/prow/e2e-binary-build-success

Increase RHOBS probe polling timeout from 3m to 5m
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

Removing unused kustomize files created prior to boilerplate
  ci/README.md
  ci/namespace.yaml
  ci/pipeline-operator-subscription.yaml
  ci/pipeline-run.yaml
  ci/pipeline-trigger.yaml
  ci/pipeline.yaml
  ci/pvc-ci.yaml
  ci/serviceaccount.yaml
  ci/task-fetch-deployed-version.yaml
  ci/task-int-test.yaml
  config/certmanager/certificate.yaml
  config/certmanager/kustomization.yaml
  config/certmanager/kustomizeconfig.yaml
  config/crd/patches/cainjection_in_clusterurlmonitors.yaml
  config/crd/patches/cainjection_in_routemonitors.yaml
  config/crd/patches/webhook_in_clusterurlmonitors.yaml
  config/crd/patches/webhook_in_routemonitors.yaml
  config/default/manager_webhook_patch.yaml
  config/default/webhookcainjection_patch.yaml
  config/scorecard/bases/config.yaml
  config/scorecard/kustomization.yaml
  config/scorecard/patches/basic.config.yaml
  config/scorecard/patches/olm.config.yaml
  config/webhook/kustomization.yaml
  config/webhook/kustomizeconfig.yaml
  config/webhook/service.yaml
Due: none

Fix HCP status update to use status subresource on real MCs
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

Add MC Probe Verification e2e test for real HCPs
  test/e2e/mc_probe_verification_test.go
Due: ci/prow/e2e-binary-build-success

Fix MC e2e test to match HCP by OCM label or spec clusterID
  test/e2e/mc_probe_verification_test.go
Due: ci/prow/e2e-binary-build-success
