Repository openshift/route-monitor-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-binary-build-success, ci/prow/e2e-binary-build-success

Path conditions:
  e2e-binary-build-success: any of: ^(osde2e/.*|go\.mod|go\.sum)$
  ci/prow/e2e-binary-build-success: any of: ^(test/e2e/.*|go\.mod|go\.sum)$

SREP-3714: Enable RMO metrics collection for RHOBS HCP tenant
  hack/olm-registry/rmo-config-template.yaml
Due: none

SREP-3517: fix RMO config SSS selector to use cluster-sector instead of cluster-region
  hack/olm-registry/rmo-config-template.yaml
Due: none

SDCICD-1721 create dynamic e2e secrets
  test/e2e/e2e-template.yml
  test/e2e/rmo_secret.yml
Due: ci/prow/e2e-binary-build-success

SREP-3845: Add region label to RHOBS probe requests
  controllers/hostedcontrolplane/synthetics.go
  pkg/rhobs/client.go
  pkg/rhobs/client_test.go
Due: none

bp-update
  .ci-operator.yaml
  OWNERS_ALIASES
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/e2e-template.yml
  boilerplate/openshift/golang-osd-operator/Dockerfile.olm-registry
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/olm_pko_migration.py
  boilerplate/openshift/golang-osd-operator/standard.mk
  boilerplate/openshift/golang-osd-operator/test_olm_pko_migration.py
  build/Dockerfile
  build/Dockerfile.olm-registry
  test/e2e/e2e-template.yml
Due: ci/prow/e2e-binary-build-success

SDCICD-1721 adding secrets template for PD jobs
  test/e2e/rmo_secret.yml
Due: ci/prow/e2e-binary-build-success

SREP-3872: Delete probes for limited support clusters
  controllers/hostedcontrolplane/synthetics.go
Due: none

more boilerplate update
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/e2e-template.yml
  test/e2e/e2e-template.yml
Due: ci/prow/e2e-binary-build-success

add more passthru data to pd secret
  test/e2e/rmo_secret.yml
Due: ci/prow/e2e-binary-build-success

bp update
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/e2e-template.yml
  test/e2e/e2e-template.yml
Due: ci/prow/e2e-binary-build-success

bp update
  .ci-operator.yaml
  OWNERS_ALIASES
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/e2e-template.yml
  boilerplate/openshift/golang-osd-operator/Dockerfile.olm-registry
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/olm_pko_migration.py
  boilerplate/openshift/golang-osd-operator/standard.mk
  boilerplate/openshift/golang-osd-operator/test_olm_pko_migration.py
  build/Dockerfile
  build/Dockerfile.olm-registry
  test/e2e/e2e-template.yml
Due: ci/prow/e2e-binary-build-success

adding secrets yaml for PD jobs
  test/e2e/rmo_secret.yml
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

SREP-3872: Fix private label match and add ensureRHOBSProbe tests
  controllers/hostedcontrolplane/synthetics.go
  controllers/hostedcontrolplane/synthetics_test.go
Due: none

adding missing env
  test/e2e/e2e-template.yml
Due: ci/prow/e2e-binary-build-success

SREP-3225 - default 'PROBE_API_URL' value to clusterdeployment label value if undefined
  hack/olm-registry/rmo-config-template.yaml
Due: none

Address review: add path validation to mock server and POST assertion
  controllers/hostedcontrolplane/synthetics_test.go
Due: none

Fix probe label mismatch loop by updating labels in place
  controllers/hostedcontrolplane/synthetics.go
  controllers/hostedcontrolplane/synthetics_test.go
  pkg/rhobs/client.go
Due: none

Create e2e tests for RMO on hypershift.
  controllers/hostedcontrolplane/healthcheck.go
  controllers/hostedcontrolplane/hostedcontrolplane.go
  go.mod
  go.sum
  test/e2e/route_monitor_operator_tests.go
Due: e2e-binary-build-success, ci/prow/e2e-binary-build-success

Clean up unused labels and functions that remained after troubleshooting.
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

removed defined api endpoints into app-interface.
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

Remove dead code for clusterDeployment simulation.
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

make generate results and update rhobs api paths.
  deploy/route-monitor-operator-controller-manager.Deployment.yaml
  pkg/rhobs/client_test.go
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

switched healthchecks to feature flags.
  config/manager/manager.yaml
  controllers/hostedcontrolplane/healthcheck.go
  controllers/hostedcontrolplane/hostedcontrolplane.go
  controllers/hostedcontrolplane/hostedcontrolplane_test.go
  controllers/hostedcontrolplane/synthetics.go
  go.mod
  go.sum
  hack/olm-registry/rmo-config-template.yaml
  main.go
  test/e2e/route_monitor_operator_tests.go
Due: e2e-binary-build-success, ci/prow/e2e-binary-build-success

updated to read env var from saas file.
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

moved the environment setting to it's own function.
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

Cleaned up code according to coderabbit suggestions.
  test/e2e/README.md
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

add emergency kill switch for case where RMO breaks the rhobsAPI but we need the rhobsAPI to pass the e2e pipeline.
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

Update readme with details for new tests.
  test/e2e/README.md
Due: ci/prow/e2e-binary-build-success

update skip health check variable for better clarity.
  config/manager/manager.yaml
  controllers/hostedcontrolplane/healthcheck.go
  controllers/hostedcontrolplane/hostedcontrolplane.go
  controllers/hostedcontrolplane/synthetics.go
  deploy/route-monitor-operator-controller-manager.Deployment.yaml
  hack/olm-registry/rmo-config-template.yaml
  main.go
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

SREP-3946: add last-reconciled heartbeat to RHOBS probe labels
  controllers/hostedcontrolplane/synthetics.go
  controllers/hostedcontrolplane/synthetics_test.go
  pkg/rhobs/client.go
  pkg/rhobs/client_test.go
Due: none

Fix last-reconciled timestamp format for K8s label compatibility
  controllers/hostedcontrolplane/synthetics.go
  controllers/hostedcontrolplane/synthetics_test.go
  pkg/rhobs/client.go
  pkg/rhobs/client_test.go
Due: none

SREP-3225 - Add 'https://' prefix to default RHOBS_API_URL
  hack/olm-registry/rmo-config-template.yaml
Due: none

SREP-3949 - Add URL validation for --probe-api-url flag
  main.go
  pkg/util/util.go
  pkg/util/util_test.go
Due: none

Add RHOBS API integration and HCP osde2e tests
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

SREP-3946: Send heartbeat before label match check
  controllers/hostedcontrolplane/synthetics.go
Due: none

refactor after working with cicd team
  hack/olm-registry/rmo-config-template.yaml
  test/e2e/README.md
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

Fix the rate limit e2e tests issue
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

Revert "Merge pull request #487 from rpodishe/SREP-3211/rhobs-hcp-osde2e-tests-fix"
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

Revert "Merge pull request #468 from rpodishe/SREP-3211/add-rhobs-hcp-osde2e-tests"
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success
