Repository openshift/route-monitor-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-binary-build-success, ci/prow/e2e-binary-build-success

e2e-binary-build-success:
  commands: 'make e2e-harness-build
  
    '
  container:
    from: src

ci/prow/e2e-binary-build-success:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.12'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Split RMO config SSS into per-region template
  hack/olm-registry/olm-artifacts-template.yaml
  hack/olm-registry/rmo-config-template.yaml
Due: none

Update dynatrace http monitor api error to include response body
  pkg/dynatrace/dynatrace.go
Due: none

SREP-3273: Add ConfigMap watching to dynamically reload configuration
  controllers/hostedcontrolplane/deletion_timeout_test.go
  controllers/hostedcontrolplane/hostedcontrolplane.go
  controllers/hostedcontrolplane/hostedcontrolplane_test.go
  controllers/hostedcontrolplane/synthetics.go
  controllers/hostedcontrolplane/synthetics_test.go
Due: none

Update boilerplate to v8.3.2
  .ci-operator.yaml
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator/TEST_README.md
  boilerplate/openshift/golang-osd-operator/olm_pko_migration.py
  boilerplate/openshift/golang-osd-operator/standard.mk
  boilerplate/openshift/golang-osd-operator/test-requirements.txt
  boilerplate/openshift/golang-osd-operator/test_olm_pko_migration.py
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: none

Create e2e tests for RMO on hypershift.
  controllers/hostedcontrolplane/healthcheck.go
  controllers/hostedcontrolplane/hostedcontrolplane.go
  go.mod
  go.sum
  test/e2e/route_monitor_operator_tests.go
Due: e2e-binary-build-success, ci/prow/e2e-binary-build-success

Update boilerplate base images
  boilerplate/_data/last-boilerplate-commit
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: none

Clean up unused labels and functions that remained after troubleshooting.
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

SREP-3211: Add Prometheus metrics for RHOBS probe lifecycle operations
  controllers/hostedcontrolplane/hostedcontrolplane.go
  deploy/route-monitor-operator-manager-config.ConfigMap.yaml
  go.mod
  pkg/rhobs/client.go
  pkg/rhobs/metrics.go
  pkg/rhobs/metrics_test.go
Due: e2e-binary-build-success, ci/prow/e2e-binary-build-success

Use deferred metric recording in RHOBS client methods
  pkg/rhobs/client.go
Due: none

Call rhobs.SetInfo at startup to emit operator info metric
  main.go
Due: none

Fix metrics registration to use controller-runtime registry
  pkg/rhobs/metrics.go
  pkg/rhobs/metrics_test.go
Due: none

Added dynatrace_enabled flag rmo config
  controllers/hostedcontrolplane/hostedcontrolplane.go
  controllers/hostedcontrolplane/hostedcontrolplane_test.go
  controllers/hostedcontrolplane/synthetics.go
  hack/olm-registry/rmo-config-template.yaml
Due: none

Added docs/comments
  README.md
  controllers/hostedcontrolplane/synthetics.go
  hack/olm-registry/rmo-config-template.yaml
Due: none

Changed dynatrace-enabled flag to default to disabled
  README.md
  controllers/hostedcontrolplane/hostedcontrolplane.go
  controllers/hostedcontrolplane/hostedcontrolplane_test.go
  controllers/hostedcontrolplane/synthetics.go
  hack/olm-registry/rmo-config-template.yaml
Due: none

switched healthchecks to feature flags.
  config/manager/manager.yaml
  controllers/hostedcontrolplane/healthcheck.go
  controllers/hostedcontrolplane/hostedcontrolplane.go
  controllers/hostedcontrolplane/hostedcontrolplane_test.go
  controllers/hostedcontrolplane/synthetics.go
  go.mod
  go.sum
  hack/olm-registry/rmo-config-template.yaml
  main.go
  test/e2e/route_monitor_operator_tests.go
Due: e2e-binary-build-success, ci/prow/e2e-binary-build-success

go mod tidy after merge conflix fix.
  go.mod
Due: e2e-binary-build-success, ci/prow/e2e-binary-build-success

make generate results and update rhobs api paths.
  deploy/route-monitor-operator-controller-manager.Deployment.yaml
  pkg/rhobs/client_test.go
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

updated to read env var from saas file.
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

removed defined api endpoints into app-interface.
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

moved the environment setting to it's own function.
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

Remove dead code for clusterDeployment simulation.
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

update skip health check variable for better clarity.
  config/manager/manager.yaml
  controllers/hostedcontrolplane/healthcheck.go
  controllers/hostedcontrolplane/hostedcontrolplane.go
  controllers/hostedcontrolplane/synthetics.go
  deploy/route-monitor-operator-controller-manager.Deployment.yaml
  hack/olm-registry/rmo-config-template.yaml
  main.go
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

Update readme with details for new tests.
  test/e2e/README.md
Due: ci/prow/e2e-binary-build-success

SREP-3415: Update Go to 1.25.6 and UBI9-minimal to address CVEs
  build/Dockerfile
  build/Dockerfile.olm-registry
  go.mod
Due: e2e-binary-build-success, ci/prow/e2e-binary-build-success

Fix Go version to 1.25.5 to match boilerplate builder image
  go.mod
Due: e2e-binary-build-success, ci/prow/e2e-binary-build-success

Add RHOBS API integration and HCP osde2e tests
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

added emergency switch to allow tests to pass a case where RMO breaks the rhobs API.
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

add emergency kill switch for case where RMO breaks the rhobsAPI but we need the rhobsAPI to pass the e2e pipeline.
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

Cleaned up code according to coderabbit suggestions.
  test/e2e/README.md
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

Path conditions:
  e2e-binary-build-success: any of: ^(osde2e/.*|go\.mod|go\.sum)$
  ci/prow/e2e-binary-build-success: any of: ^(test/e2e/.*|go\.mod|go\.sum)$
