Repository openshift/route-monitor-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-binary-build-success, ci/prow/e2e-binary-build-success

Path conditions:
  e2e-binary-build-success: any of: ^(osde2e/.*|go\.mod|go\.sum)$
  ci/prow/e2e-binary-build-success: any of: ^(test/e2e/.*|go\.mod|go\.sum)$

Add configurable reconcile-interval for MC e2e testing
  controllers/hostedcontrolplane/hostedcontrolplane.go
  controllers/hostedcontrolplane/synthetics.go
Due: none

Increase MC e2e probe timeout to 20 minutes
  test/e2e/mc_probe_verification_test.go
Due: ci/prow/e2e-binary-build-success

ROSAENG-1331: Simplify MC e2e to verify reconciliation not probe creation
  test/e2e/mc_probe_verification_test.go
Due: ci/prow/e2e-binary-build-success

Update boilerplate to v8.4.3
  .ci-operator.yaml
  .github/dependabot.yml
  .tekton/route-monitor-operator-agentic-sdlc-check-pull-request.yaml
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/README.md
  boilerplate/openshift/golang-osd-operator/dependabot.yml
  boilerplate/openshift/golang-osd-operator/update
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: none

Update Konflux pipeline reference to boilerplate v8.4.3
  .tekton/route-monitor-operator-pko-pull-request.yaml
  .tekton/route-monitor-operator-pko-push.yaml
  .tekton/route-monitor-operator-pull-request.yaml
  .tekton/route-monitor-operator-push.yaml
Due: none

Update Konflux pipeline reference to boilerplate master
  .tekton/route-monitor-operator-pko-pull-request.yaml
  .tekton/route-monitor-operator-pko-push.yaml
  .tekton/route-monitor-operator-pull-request.yaml
  .tekton/route-monitor-operator-push.yaml
Due: none

Update boilerplate
  .tekton/route-monitor-operator-agentic-sdlc-check-pull-request.yaml
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/gangway-bridge-template.yml
  boilerplate/openshift/golang-osd-operator/codecov.sh
  build/Dockerfile
  build/Dockerfile.olm-registry
  test/e2e/gangway-bridge-template.yml
Due: ci/prow/e2e-binary-build-success

Remove Dynatrace integration and unused Secret RBAC.
  AGENTS.md
  DEVELOPMENT.md
  README.md
  config/rbac/role.yaml
  controllers/hostedcontrolplane/hostedcontrolplane.go
  controllers/hostedcontrolplane/hostedcontrolplane_test.go
  controllers/hostedcontrolplane/synthetics.go
  controllers/hostedcontrolplane/synthetics_test.go
  deploy/route-monitor-operator-manager-role.ClusterRole.yaml
  deploy_pko/ClusterRole-route-monitor-operator-manager-role.yaml
  hack/olm-registry/rmo-config-template.yaml
  pkg/dynatrace/dynatrace.go
  pkg/dynatrace/dynatrace_test.go
  test/e2e/README_CICD_TESTS.md
  test/e2e/full_integration_test.go
  test/e2e/helpers.go
  test/e2e/probe_deletion_retry_test.go
Due: ci/prow/e2e-binary-build-success

Update gangway template to support retries
  .tekton/route-monitor-operator-agentic-sdlc-check-pull-request.yaml
  OWNERS_ALIASES
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/gangway-bridge-template.yml
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/codecov.sh
  build/Dockerfile
  build/Dockerfile.olm-registry
  test/e2e/gangway-bridge-template.yml
Due: ci/prow/e2e-binary-build-success

chore: run make boilerplate-update
  .tekton/route-monitor-operator-agentic-sdlc-check-pull-request.yaml
  OWNERS_ALIASES
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/gangway-bridge-template.yml
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/codecov.sh
  build/Dockerfile
  build/Dockerfile.olm-registry
  test/e2e/gangway-bridge-template.yml
Due: ci/prow/e2e-binary-build-success

bp test
  test/e2e/gangway-bridge-template.yml
Due: ci/prow/e2e-binary-build-success

chore: run make boilerplate-update
  .tekton/route-monitor-operator-agentic-sdlc-check-pull-request.yaml
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/gangway-bridge-template.yml
  test/e2e/gangway-bridge-template.yml
Due: ci/prow/e2e-binary-build-success

remove olm cleanup job from deployment.
  deploy_pko/Cleanup-OLM-Job.yaml.gotmpl
  deploy_pko/manifest.yaml
Due: none

Exclude boilerplate from CodeRabbit reviews
  .coderabbit.yaml
Due: none

Boilerplate: Update to a8a3172411f3f2b8848f64333843e028ef4b3ed1
  .tekton/route-monitor-operator-agentic-sdlc-check-pull-request.yaml
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator/.coderabbit.yaml
  boilerplate/openshift/golang-osd-operator/update
Due: none

Boilerplate: Update to d0a07945463759cf0e3489cb46737dae08d66713
  .tekton/route-monitor-operator-agentic-sdlc-check-pull-request.yaml
  boilerplate/_data/last-boilerplate-commit
Due: none

Update blackbox-exporter image
  config/manager/manager.yaml
  deploy/route-monitor-operator-controller-manager.Deployment.yaml
  main.go
Due: none

Update blackbox-exporter image in PKO deployment template
  deploy_pko/Deployment-route-monitor-operator-controller-manager.yaml.gotmpl
Due: none

Boilerplate: Update to 195c29d18279f69ea5b4e53ae9d90a795c27144a
  .tekton/route-monitor-operator-agentic-sdlc-check-pull-request.yaml
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/.coderabbit.yaml
  boilerplate/openshift/golang-osd-e2e/update
  boilerplate/openshift/golang-osd-operator/update
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: none

test/e2e: make 'has all required resources' spec self-contained
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

test/e2e: self-contained console RouteMonitor create/cleanup
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

test/e2e: wait for stale console RouteMonitor deletion before recreate
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

bp update for RMO
  .ci-operator.yaml
  .tekton/route-monitor-operator-agentic-sdlc-check-pull-request.yaml
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/_lib/common.sh
  boilerplate/openshift/golang-osd-e2e/.coderabbit.yaml
  boilerplate/openshift/golang-osd-e2e/update
  boilerplate/openshift/golang-osd-operator/.coderabbit.yaml
  boilerplate/openshift/golang-osd-operator/update
  boilerplate/update
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: none

Boilerplate Update 9-18-26
  .ci-operator.yaml
  .tekton/route-monitor-operator-agentic-sdlc-check-pull-request.yaml
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/_lib/common.sh
  boilerplate/openshift/golang-osd-e2e/.coderabbit.yaml
  boilerplate/openshift/golang-osd-e2e/update
  boilerplate/openshift/golang-osd-operator/update
  boilerplate/update
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: none

Update blackbox-exporter image
  config/manager/manager.yaml
  deploy/route-monitor-operator-controller-manager.Deployment.yaml
  deploy_pko/Deployment-route-monitor-operator-controller-manager.yaml.gotmpl
  main.go
Due: none

Update blackbox-exporter image to v0.28.0
  config/manager/manager.yaml
  deploy/route-monitor-operator-controller-manager.Deployment.yaml
  deploy_pko/Deployment-route-monitor-operator-controller-manager.yaml.gotmpl
  main.go
Due: none

Boilerplate update for RMO
  .ci-operator.yaml
  .tekton/route-monitor-operator-agentic-sdlc-check-pull-request.yaml
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/update
  build/Dockerfile
  build/Dockerfile.olm-registry
Due: none

update to go 1.26.6
  go.mod
  go.sum
Due: e2e-binary-build-success, ci/prow/e2e-binary-build-success

update to golang 1.26.6
  go.mod
  go.sum
Due: e2e-binary-build-success, ci/prow/e2e-binary-build-success

Boilerplate: Update to 4c24f96aa26a08cc8c022120f55c54dfa245afb3
  .ci-operator.yaml
  .tekton/route-monitor-operator-agentic-sdlc-check-pull-request.yaml
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/e2e-template.yml
  boilerplate/openshift/golang-osd-e2e/e2e_client.go
  boilerplate/openshift/golang-osd-e2e/gangway-bridge-template.yml
  boilerplate/openshift/golang-osd-e2e/update
  boilerplate/update
  build/Dockerfile
  build/Dockerfile.olm-registry
  test/e2e/Dockerfile
  test/e2e/README.md
  test/e2e/e2e-template.yml
  test/e2e/e2e_client.go
  test/e2e/gangway-bridge-template.yml
Due: ci/prow/e2e-binary-build-success

Boilerplate: Update to 8db279cf52d8bbda8fa4654a2d3c3252aabaa394
  .ci-operator.yaml
  .tekton/route-monitor-operator-agentic-sdlc-check-pull-request.yaml
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/e2e-template.yml
  boilerplate/openshift/golang-osd-e2e/e2e_client.go
  boilerplate/openshift/golang-osd-e2e/gangway-bridge-template.yml
  boilerplate/openshift/golang-osd-e2e/update
  boilerplate/openshift/golang-osd-operator/standard.mk
  boilerplate/update
  build/Dockerfile
  build/Dockerfile.olm-registry
  test/e2e/Dockerfile
  test/e2e/README.md
  test/e2e/e2e-template.yml
  test/e2e/e2e_client.go
  test/e2e/gangway-bridge-template.yml
Due: ci/prow/e2e-binary-build-success

Boilerplate update: bump ubi-minimal base image to fix CVEs
  .ci-operator.yaml
  .tekton/route-monitor-operator-agentic-sdlc-check-pull-request.yaml
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/e2e-template.yml
  boilerplate/openshift/golang-osd-e2e/e2e_client.go
  boilerplate/openshift/golang-osd-e2e/gangway-bridge-template.yml
  boilerplate/openshift/golang-osd-e2e/update
  boilerplate/openshift/golang-osd-operator/standard.mk
  boilerplate/update
  build/Dockerfile
  build/Dockerfile.olm-registry
  test/e2e/Dockerfile
  test/e2e/README.md
  test/e2e/e2e-template.yml
  test/e2e/e2e_client.go
  test/e2e/gangway-bridge-template.yml
Due: ci/prow/e2e-binary-build-success
