Repository openshift/route-monitor-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-binary-build-success, ci/prow/e2e-binary-build-success

e2e-binary-build-success:
  commands: 'make e2e-harness-build
  
    '
  container:
    from: src

ci/prow/e2e-binary-build-success:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.12'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

SREP-3117: Add E2E tests for RHOBS Synthetic Monitoring on HyperShift (#461)
  config/manager/manager.yaml
  controllers/hostedcontrolplane/healthcheck.go
  controllers/hostedcontrolplane/hostedcontrolplane.go
  controllers/hostedcontrolplane/hostedcontrolplane_test.go
  controllers/hostedcontrolplane/synthetics.go
  deploy/route-monitor-operator-controller-manager.Deployment.yaml
  go.mod
  go.sum
  hack/olm-registry/rmo-config-template.yaml
  main.go
  pkg/rhobs/client_test.go
  test/e2e/README.md
  test/e2e/route_monitor_operator_tests.go
Due: e2e-binary-build-success, ci/prow/e2e-binary-build-success

Add periodic reconciliation for HCP probes
  controllers/hostedcontrolplane/hostedcontrolplane.go
Due: none

Skip RHOBS e2e tests when OIDC credentials are missing
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

Use sentinel error to only skip on missing credentials
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

SREP-4216: gracefully degrade on malformed probe API URL
  main.go
  pkg/util/util_test.go
Due: none

go fmt alignment fixes
  controllers/hostedcontrolplane/synthetics.go
  main.go
Due: none

use Info log level for malformed probe URL degradation
  main.go
Due: none

initial PKO migration commit.
  .tekton/route-monitor-operator-pko-pull-request.yaml
  .tekton/route-monitor-operator-pko-push.yaml
  build/Dockerfile.pko
  deploy_pko/Cleanup-OLM-Job.yaml
  deploy_pko/ClusterRole-route-monitor-operator-manager-role.yaml
  deploy_pko/ClusterRoleBinding-route-monitor-operator-manager-rolebinding.yaml
  deploy_pko/ConfigMap-route-monitor-operator-manager-config.yaml
  deploy_pko/CustomResourceDefinition-clusterurlmonitors.monitoring.openshift.io.yaml
  deploy_pko/CustomResourceDefinition-routemonitors.monitoring.openshift.io.yaml
  deploy_pko/Deployment-route-monitor-operator-controller-manager.yaml.gotmpl
  deploy_pko/Role-prometheus-k8s.yaml
  deploy_pko/Role-route-monitor-operator-leader-election-role.yaml
  deploy_pko/RoleBinding-prometheus-k8s.yaml
  deploy_pko/RoleBinding-route-monitor-operator-leader-election-rolebinding.yaml
  deploy_pko/ServiceAccount-route-monitor-operator-system.yaml
  deploy_pko/ServiceMonitor-controller-manager-metrics-monitor.yaml
  deploy_pko/manifest.yaml
  hack/pko/clusterpackage.yaml
Due: none

Red Hat Konflux kflux-prd-rh03 update route-monitor-operator-pko
  .tekton/route-monitor-operator-pko-pull-request.yaml
  .tekton/route-monitor-operator-pko-push.yaml
Due: none

Add pko configs from merged konflux-release-images-pr 16304
  .tekton/route-monitor-operator-pko-pull-request.yaml
  .tekton/route-monitor-operator-pko-push.yaml
Due: none

added skip-checks = "true" back
  .tekton/route-monitor-operator-pko-pull-request.yaml
  .tekton/route-monitor-operator-pko-push.yaml
Due: none

Boilerplate updates
  OWNERS_ALIASES
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/e2e-template.yml
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/olm_pko_migration.py
  build/Dockerfile
  build/Dockerfile.olm-registry
  test/e2e/README.md
Due: ci/prow/e2e-binary-build-success

Add PKO migration files generated by make pko-migrate
  .tekton/route-monitor-operator-pko-pull-request.yaml
  .tekton/route-monitor-operator-pko-push.yaml
  build/Dockerfile.pko
  deploy_pko/Cleanup-OLM-Job.yaml
  deploy_pko/ClusterRole-route-monitor-operator-manager-role.yaml
  deploy_pko/ClusterRoleBinding-route-monitor-operator-manager-rolebinding.yaml
  deploy_pko/ConfigMap-route-monitor-operator-manager-config.yaml
  deploy_pko/CustomResourceDefinition-clusterurlmonitors.monitoring.openshift.io.yaml
  deploy_pko/CustomResourceDefinition-routemonitors.monitoring.openshift.io.yaml
  deploy_pko/Deployment-route-monitor-operator-controller-manager.yaml.gotmpl
  deploy_pko/Role-prometheus-k8s.yaml
  deploy_pko/Role-route-monitor-operator-leader-election-role.yaml
  deploy_pko/RoleBinding-prometheus-k8s.yaml
  deploy_pko/RoleBinding-route-monitor-operator-leader-election-rolebinding.yaml
  deploy_pko/ServiceAccount-route-monitor-operator-system.yaml
  deploy_pko/ServiceMonitor-controller-manager-metrics-monitor.yaml
  deploy_pko/manifest.yaml
  hack/pko/clusterpackage.yaml
Due: none

Fix PKO phase ordering and add missing resources from OLM SelectorSyncSets (Namespace, Service, RHOBS ServiceMonitor)
  deploy_pko/Namespace-openshift-route-monitor-operator.yaml
  deploy_pko/Service-route-monitor-operator-metrics.yaml
  deploy_pko/ServiceMonitor-route-monitor-operator-rhobs.yaml
  deploy_pko/manifest.yaml
Due: none

ran boilerplate update then pko-migration.
  .tekton/route-monitor-operator-pko-pull-request.yaml
  .tekton/route-monitor-operator-pko-push.yaml
  OWNERS_ALIASES
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/e2e-template.yml
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/olm_pko_migration.py
  build/Dockerfile
  build/Dockerfile.olm-registry
  build/Dockerfile.pko
  deploy_pko/Cleanup-OLM-Job.yaml
  deploy_pko/manifest.yaml
  test/e2e/README.md
Due: ci/prow/e2e-binary-build-success

Change cleanup order for OLM resources.
  deploy_pko/manifest.yaml
Due: none

Revert "boilerplate update"
  boilerplate/_data/last-boilerplate-commit
  boilerplate/_lib/container-make
  boilerplate/openshift/golang-osd-operator/standard.mk
  build/Dockerfile
  build/Dockerfile.olm-registry
  test/e2e/README.md
Due: ci/prow/e2e-binary-build-success

Change syncSet name and add deployment of a namespace for route-monitor-operator.
  deploy_pko/Namespace-route-monitor-operator.yaml
  hack/pko/clusterpackage.yaml
Due: none

move namespace out of deploy_pko dir and into the clusterpackage.
  deploy_pko/Namespace-route-monitor-operator.yaml
  hack/pko/clusterpackage.yaml
Due: none

added permissions to get list and watch clusterurlmonitors and routemonitors.
  deploy_pko/ClusterRole-route-monitor-operator-dedicated-admins-cluster.yaml
Due: none

fix rbac to apply to backplane users.
  deploy_pko/ClusterRole-route-monitor-operator-dedicated-admins-cluster.yaml
Due: none

change olm selector sync set to upsert.
  hack/olm-registry/olm-artifacts-template.yaml
Due: none

Add namespace creation Job to prevent deletion on ClusterPackage removal
  deploy_pko/Create-Namespace-Job.yaml
Due: none

SREP-4303 - Check for NLB only when running on AWS cluster
  pkg/blackboxexporter/blackboxexporter_test.go
  pkg/util/util.go
Due: none

initial commit for readme for cicd e2e tests
  test/e2e/README_CICD_TESTS.md
Due: ci/prow/e2e-binary-build-success

SREP-4340: Handle missing rhobs-cell label in PROBE_API_URL default
  hack/olm-registry/rmo-config-template.yaml
Due: none

SREP-4344: Treat PublicAndPrivate HCPs as private for probe labeling
  controllers/hostedcontrolplane/synthetics.go
Due: none

SREP-4344: Treat PublicAndPrivate as non-public in health checks
  controllers/hostedcontrolplane/healthcheck.go
Due: none

fix formatting and coderabbit suggestions.
  test/e2e/README_CICD_TESTS.md
Due: ci/prow/e2e-binary-build-success

switched trigger to 'incoming' rather than deleting the whole file.
  .tekton/route-monitor-operator-pko-push.yaml
Due: none

SREP-4317: Improved testcoverage for RMO
  test/e2e/route_monitor_operator_tests.go
Due: ci/prow/e2e-binary-build-success

Gate probe deployment on HCP Available condition
  controllers/hostedcontrolplane/hostedcontrolplane.go
Due: none

Extract isHCPAvailable helper and add unit tests
  controllers/hostedcontrolplane/hostedcontrolplane.go
  controllers/hostedcontrolplane/hostedcontrolplane_test.go
Due: none

ROSA-447: Add AGENTS.md and CLAUDE.md for AI agent development guidance
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: none

Add reconcile-level test for HCP Available gate
  controllers/hostedcontrolplane/hostedcontrolplane_test.go
Due: none

Exclude private label from probe PATCH updates
  controllers/hostedcontrolplane/synthetics.go
  controllers/hostedcontrolplane/synthetics_test.go
Due: none

fix osde2e tests by skipping validation.
  controllers/hostedcontrolplane/hostedcontrolplane.go
  controllers/hostedcontrolplane/hostedcontrolplane_test.go
Due: none

SREP-4395: Add TLS reachability check before deploying monitoring
  controllers/hostedcontrolplane/healthcheck.go
  controllers/hostedcontrolplane/hostedcontrolplane.go
  controllers/hostedcontrolplane/hostedcontrolplane_test.go
Due: none

SREP-4478: Fix PublicAndPrivate detection -- only Private should be private=true
  controllers/hostedcontrolplane/healthcheck.go
  controllers/hostedcontrolplane/synthetics.go
Due: none

Add terminationMessagePolicy and required-scc annotation for OCP 4.21 conformance
  deploy/route-monitor-operator-controller-manager.Deployment.yaml
  deploy_pko/Deployment-route-monitor-operator-controller-manager.yaml.gotmpl
Due: none

Path conditions:
  e2e-binary-build-success: any of: ^(osde2e/.*|go\.mod|go\.sum)$
  ci/prow/e2e-binary-build-success: any of: ^(test/e2e/.*|go\.mod|go\.sum)$
