Repository openshift/machine-os-images: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

shellcheck:
  commands: find . -type f -path "./scripts/*" -o -name "*.sh" -exec shellcheck -s bash {} \+
  container:
    from: src

e2e-metal-ipi-ovn-ipv6:
  cluster: build05
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-ovn-ipv6

e2e-metal-ipi-serial-ipv4:
  cluster: build05
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-serial-ipv4

ci/prow/e2e-metal-ipi-ovn-ipv6:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci-operator.openshift.io/cluster: build05
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
  ...

ci/prow/e2e-metal-ipi-serial-ipv4:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci-operator.openshift.io/cluster: build05
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
  ...

ci/prow/shellcheck:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Force rebuild of CI image
  README.md
Due: none

Force updating 4.15 CI images
  README.md
Due: none

Dummy change to force bumping fcos image to 39.20231101.3.0
  README.md
Due: none

CORS-2797: Image to rhel9
  Dockerfile
Due: e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4

DNM: test
  Dockerfile
Due: e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4

Enable fips in iso kernel options on fips systems
  scripts/copy-iso
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Add missing space before square bracket
  scripts/copy-iso
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

OCPBUGS-43991: Properly escape KERNEL_ARGS
  scripts/copy-iso
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Fix shellcheck complaints
  scripts/copy-pxe
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Fix shellcheck
  scripts/copy-iso
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Allow external configuration of download host for production builds
  Dockerfile
  fetch_image.sh
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Update OWNERS
  OWNERS
Due: none

DNM: Dummy PR for multi-testing
  Dockerfile
Due: e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4

Decompress pxe file only if it's a valid compressed file
  scripts/copy-pxe
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Change to new host
  Dockerfile
Due: e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4

Change rhcos release browser url
  Dockerfile
  fetch_image.sh
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Dummy change to force a rebuild for 4.20
  fetch_image.sh
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Add aarch64 images
  fetch_image.sh
  scripts/copy-metal
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Run fetch_image with tracing
  fetch_image.sh
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Force rebuild for OCP 4.21
  Dockerfile
Due: e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4

Acquire aarch64 ISO at runtime
  Dockerfile
  fetch_image.sh
  scripts/copy-metal
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Use extracted ca bundle
  scripts/copy-metal
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Provide SHA checksum for aarch64 iso
  Dockerfile
  scripts/copy-metal
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Write sha checksum file to /coreos
  scripts/copy-metal
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Test with base-rhel9-minimal-test
  Dockerfile
Due: e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4

Use the writable mount, same as DEST_DIR, to store coreos iso images extracted during the container runtime. And copy and extract iso files from both /coreos and the writable iso path.
  scripts/copy-iso
  scripts/copy-metal
  scripts/copy-pxe
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

test
  README.md
Due: none

Add AGENTS.md file and symlink CLAUDE.md to it
  AGENTS.md
  CLAUDE.md
Due: none

Path conditions:
  shellcheck: any of: (^scripts/)|(\.sh$)|(^\.ci-operator\.yaml$)
  e2e-metal-ipi-ovn-ipv6: unless all of: (^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-metal-ipi-serial-ipv4: unless all of: (^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-ovn-ipv6: unless all of: (^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-serial-ipv4: unless all of: (^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/shellcheck: any of: (^scripts/)|(\.sh$)|(^\.ci-operator\.yaml$)
