Repository openshift/machine-os-images: changes, and which Prow jobs are due for each by the changed paths.
All: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Path conditions:
  shellcheck: any of: (^scripts/)|(\.sh$)|(^\.ci-operator\.yaml$)
  e2e-metal-ipi-ovn-ipv6: unless all of: (^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-metal-ipi-serial-ipv4: unless all of: (^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-ovn-ipv6: unless all of: (^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-serial-ipv4: unless all of: (^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/shellcheck: any of: (^scripts/)|(\.sh$)|(^\.ci-operator\.yaml$)

Provide SHA checksum for aarch64 iso
  Dockerfile
  scripts/copy-metal
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Write sha checksum file to /coreos
  scripts/copy-metal
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

OWNERS: Remove me
  OWNERS
Due: none

Add aarch64 symlinks for initramfs
  scripts/copy-metal
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Swap uname -p to uname -m
  fetch_image.sh
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Add dual CoreOS version support for RHCOS 9 and 10
  Dockerfile
  Makefile
  fetch_image.sh
  scripts/copy-metal
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Include RHEL10 in image
  Dockerfile
Due: e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4

Add stream symlinks for multi-stream support
  Dockerfile
  scripts/copy-metal
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Add stream symlinks for multi-stream support
  scripts/copy-metal
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Force rebuild for OCP 4.20
  Dockerfile
Due: e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4

Force rebuild for OCP 5.0
  Dockerfile
Due: e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4

Force rebuild for OCP 4.22
  Dockerfile
Due: e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4

Force rebuild for OCP 4.21
  Dockerfile
Due: e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4

wip do not merge
  Dockerfile
Due: e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4

Fix OKD builds to use centos streams instead of rhel
  fetch_image.sh
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Add IDMS mirror support for disconnected aarch64 ISO extraction
  scripts/copy-metal
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Fix OKD/SCOS builds to use centos CoreOS streams
  Dockerfile
  fetch_image.sh
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Probe installer for supported CoreOS streams instead of hardcoding
  Dockerfile
  fetch_image.sh
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Use /etc/os-release to detect OKD builds instead of TAGS build arg
  Dockerfile
  fetch_image.sh
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Skip unsupported centos-9 stream for OKD builds
  fetch_image.sh
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Fix shellcheck SC1091 and simplify centos-9 handling
  fetch_image.sh
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Reject centos-9 as a valid CoreOS stream
  fetch_image.sh
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Validate aarch64 ISO checksum after cross-arch extraction
  scripts/copy-metal
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Treat aarch64 ISO checksum mismatch as a fatal error
  scripts/copy-metal
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

TRT-2935: Revert "Merge pull request #110 from jadhaj/OCPBUGS-112613"
  scripts/copy-metal
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Fail aarch64 extract only when the payload includes arm64
  scripts/copy-metal
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck

Always pass IDMS flags to oc image info
  scripts/copy-metal
Due: shellcheck, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/shellcheck
