Repository opendatahub-io/modelmesh-serving: changes, and which Prow jobs are due for each by the changed paths.
All: modelmesh-serving-unit, modelmesh-serving-fvt, modelmesh-serving-pr-image-mirror, modelmesh-serving-fast-image-mirror

ci-operator/config/opendatahub-io/modelmesh-serving/opendatahub-io-modelmesh-serving-main.yaml:

build_root:
  project_image:
    dockerfile_path: Dockerfile.develop
images:
- build_args:
  - name: COMMIT_SHA
    value: ci-sha
  - name: IMAGE_VERSION
    value: ci-test-img
  context_dir: .
  dockerfile_path: Dockerfile
  from: src
  inputs:
    root:
      as:
      - ${DEV_IMAGE}
  to: modelmesh-serving
promotion:
  namespace: opendatahub-io
  tag: latest
releases:
  latest:
    release:
      architecture: amd64
      channel: fast
      version: "4.12"
resources:
  '*':
    limits:
      memory: 4Gi
    requests:
      cpu: 100m
      memory: 200Mi
tests:
- as: modelmesh-serving-unit
  commands: |
    export HOME=/go
    make test
  container:
    from: src
  run_if_changed: ^(apis/.*|controllers/.*|pkg/.*|Dockerfile|main\.go|go\.mod|go\.sum)
- as: modelmesh-serving-fvt
  run_if_changed: ^(apis/.*|controllers/.*|fvt/.*|pkg/.*|scripts/.*|proto/.*|config/.*|Makefile|main\.go|Dockerfile|go\.mod|go\.sum)
  steps:
    cluster_profile: gcp
    env:
      COMPUTE_NODE_TYPE: n2-standard-8
    test:
    - as: fvt
      commands: |
        export HOME=/go
        export NAMESPACE=modelmesh-serving
        export MODELMESH_SERVING_IMAGE=${PR_MODELMESH_SERVING_IMAGE}
        cat  ./config/internal/base/deployment.yaml.tmpl
        make e2e-test
      dependencies:
      - env: PR_MODELMESH_SERVING_IMAGE
        name: modelmesh-serving
      from: src
      resources:
        requests:
          cpu: 2000m
          memory: 3Gi
    workflow: ipi-gcp
- as: modelmesh-serving-pr-image-mirror
  run_if_changed: ^(apis/.*|controllers/.*|fvt/.*|pkg/.*|scripts/.*|proto/.*|config/.*|Makefile|main\.go|Dockerfile|version|go\.mod|go\.sum)
  steps:
    dependencies:
      SOURCE_IMAGE_REF: modelmesh-serving
    env:
      IMAGE_REPO: modelmesh-controller
    workflow: opendatahub-io-ci-image-mirror
- as: modelmesh-serving-fast-image-mirror
  postsubmit: true
  run_if_changed: ^(apis/.*|controllers/.*|fvt/.*|pkg/.*|scripts/.*|proto/.*|config/.*|Makefile|main\.go|Dockerfile|version|go\.mod|go\.sum)
  steps:
    dependencies:
      SOURCE_IMAGE_REF: modelmesh-serving
    env:
      IMAGE_REPO: modelmesh-controller
      RELEASE_VERSION: fast
    workflow: opendatahub-io-ci-image-mirror
zz_generated_metadata:
  branch: main
  org: opendatahub-io
  repo: modelmesh-serving

fix scripts for e2e
  opendatahub/scripts/repeat_fvt.sh
Due: none

add odh-model-controller modelmesh-controller to download images
  opendatahub/scripts/download_images_on_nodes.sh
Due: none

downloading required binaries
  .gitignore
  opendatahub/scripts/deploy_fvt.sh
  opendatahub/scripts/env.sh
  opendatahub/scripts/install_odh.sh
Due: none

fix rhods-8873 and remove unnecessary manifests
  opendatahub/odh-manifests/model-mesh_stable/odh-model-controller/rbac/role.yaml
  opendatahub/odh-manifests/model-mesh_stable/odh-model-controller/rbac/role_binding.yaml
  opendatahub/odh-manifests/model-mesh_stable/odh-modelmesh-controller/internal/base/deployment.yaml.tmpl
  opendatahub/odh-manifests/model-mesh_stable/odh-modelmesh-controller/rbac/common/networkpolicy-webhook.yaml
  opendatahub/odh-manifests/model-mesh_stable/odh-modelmesh-controller/webhook/kustomization.yaml
  opendatahub/odh-manifests/model-mesh_stable/odh-modelmesh-controller/webhook/kustomizeconfig.yaml
  opendatahub/odh-manifests/model-mesh_stable/odh-modelmesh-controller/webhook/manifests.yaml
  opendatahub/odh-manifests/model-mesh_stable/odh-modelmesh-controller/webhook/service.yaml
Due: none

add/update OWNER file
  opendatahub/odh-manifests/model-mesh/OWNERS
  opendatahub/odh-manifests/model-mesh_stable/OWNERS
  opendatahub/odh-manifests/model-mesh_templates/OWNERS
Due: none

updated the necessary commands
  opendatahub/quickstart/basic/README.md
Due: none

add tls to mm deployment for grpc inferencing
  config/internal/base/deployment.yaml.tmpl
  opendatahub/odh-manifests/model-mesh/odh-modelmesh-controller/internal/base/deployment.yaml.tmpl
  opendatahub/odh-manifests/model-mesh_stable/odh-modelmesh-controller/internal/base/deployment.yaml.tmpl
Due: modelmesh-serving-fvt, modelmesh-serving-pr-image-mirror, modelmesh-serving-fast-image-mirror

enhance generate manifests script
  opendatahub/docs/generate-manifests.md
  opendatahub/odh-manifests/model-mesh_templates_stable/OWNERS
  opendatahub/odh-manifests/model-mesh_templates_stable/README.md
  opendatahub/odh-manifests/model-mesh_templates_stable/base/kustomization.yaml
  opendatahub/odh-manifests/model-mesh_templates_stable/base/params.env
  opendatahub/odh-manifests/model-mesh_templates_stable/odh-model-controller/base/kustomization.yaml
  opendatahub/odh-manifests/model-mesh_templates_stable/odh-model-controller/overlays/odh/kustomization.yaml
  opendatahub/odh-manifests/model-mesh_templates_stable/odh-model-controller/overlays/odh/odh_model_controller_manager_patch.yaml
  opendatahub/odh-manifests/model-mesh_templates_stable/odh-model-controller/overlays/odh/params.yaml
  opendatahub/odh-manifests/model-mesh_templates_stable/odh-modelmesh-controller/base/kustomization.yaml
  opendatahub/odh-manifests/model-mesh_templates_stable/odh-modelmesh-controller/overlays/odh/kustomization.yaml
  opendatahub/odh-manifests/model-mesh_templates_stable/odh-modelmesh-controller/overlays/odh/manager/kustomization.yaml
  opendatahub/odh-manifests/model-mesh_templates_stable/odh-modelmesh-controller/overlays/odh/manager/service.yaml
  opendatahub/odh-manifests/model-mesh_templates_stable/odh-modelmesh-controller/overlays/odh/params.yaml
  opendatahub/odh-manifests/model-mesh_templates_stable/odh-modelmesh-controller/overlays/odh/quickstart.yaml
  opendatahub/odh-manifests/model-mesh_templates_stable/odh-modelmesh-controller/overlays/odh/rbac/kustomization.yaml
  opendatahub/odh-manifests/model-mesh_templates_stable/odh-modelmesh-controller/overlays/odh/rbac/networkpolicy_etcd.yaml
  opendatahub/odh-manifests/model-mesh_templates_stable/odh-modelmesh-controller/overlays/odh/rbac/remove_networkpolicy_rumtime_patch.yaml
  opendatahub/odh-manifests/model-mesh_templates_stable/odh-modelmesh-controller/overlays/odh/rbac/role_apps_metrics_access.yaml
  opendatahub/odh-manifests/model-mesh_templates_stable/odh-modelmesh-controller/overlays/odh/rbac/user_cluster_roles.yaml
  opendatahub/odh-manifests/model-mesh_templates_stable/odh-modelmesh-controller/overlays/odh/scripts/enable_auth.sh
  opendatahub/odh-manifests/model-mesh_templates_stable/odh-modelmesh-controller/overlays/odh/scripts/kustomization.yaml
  opendatahub/scripts/gen-manifests/odh_model_manifests.sh
  opendatahub/scripts/gen-manifests/odh_model_manifests_stable.sh
  opendatahub/scripts/gen-manifests/odh_modelmesh_manifests.sh
  opendatahub/scripts/gen-manifests/odh_modelmesh_manifests_stable.sh
  opendatahub/scripts/gen_copy_new_manifests.sh
  opendatahub/scripts/gen_odh_model_manifests.sh
  opendatahub/scripts/gen_odh_modelmesh_manifests.sh
  opendatahub/scripts/install_odh.sh
Due: none

Add pod anti-affinity to odh-model-controller manifests
  opendatahub/odh-manifests/model-mesh/odh-model-controller/manager/manager.yaml
  opendatahub/odh-manifests/model-mesh_stable/odh-model-controller/manager/manager.yaml
Due: none

Fix instruction sequence in Quick start guide
  opendatahub/quickstart/common_docs/modelmesh-install.md
Due: none

adding sklearn notebook
  opendatahub/quickstart/sample_notebooks/sklearn_MNIST_LogReg.ipynb
Due: none

adding the tensorflow notebook
  opendatahub/quickstart/sample_notebooks/tensorflow_MNIST_CNN.ipynb
Due: none

added the tensorflow model
  opendatahub/quickstart/sample_notebooks/tensorflow_MNIST_CNN.ipynb
Due: none

added the sklearn model
  opendatahub/quickstart/sample_notebooks/sklearn_MNIST_LogReg.ipynb
Due: none

updated fvt.yaml file to use the correct image
  opendatahub/odh-manifests/model-mesh/odh-modelmesh-controller/dependencies/fvt.yaml
Due: none

updated the image for the minio deployment
  opendatahub/odh-manifests/model-mesh/odh-modelmesh-controller/dependencies/fvt.yaml
Due: none

updating notebooks
  config/example-isvcs/example-mlserver-sklearn-mnist-isvc.yaml
  config/runtimes/mlserver-1.x.yaml
  opendatahub/quickstart/pvc/cleanup.sh
  temp/bash.yaml
  temp/sklearn_input
Due: modelmesh-serving-fvt, modelmesh-serving-pr-image-mirror, modelmesh-serving-fast-image-mirror

corrected cleanup script to have STABLE_MANIFEST
  opendatahub/quickstart/pvc/cleanup.sh
Due: none

ose-oauth-proxy image unified to be based on v4.10 tag
  config/internal/base/deployment.yaml.tmpl
Due: modelmesh-serving-fvt, modelmesh-serving-pr-image-mirror, modelmesh-serving-fast-image-mirror

Kustomize version chnage for ppc64le,Update build_devimage.sh
  scripts/build_devimage.sh
Due: modelmesh-serving-fvt, modelmesh-serving-pr-image-mirror, modelmesh-serving-fast-image-mirror

update odh-model-controller manifests
  opendatahub/odh-manifests/model-mesh/odh-model-controller/default/kustomization.yaml
  opendatahub/odh-manifests/model-mesh/odh-model-controller/overlays/odh/odh_model_controller_manager_patch.yaml
  opendatahub/odh-manifests/model-mesh/odh-model-controller/rbac/role.yaml
  opendatahub/odh-manifests/model-mesh_stable/odh-model-controller/default/kustomization.yaml
  opendatahub/odh-manifests/model-mesh_stable/odh-model-controller/overlays/odh/odh_model_controller_manager_patch.yaml
  opendatahub/odh-manifests/model-mesh_stable/odh-model-controller/rbac/role.yaml
Due: none

Manifest updates resulting from #174
  opendatahub/odh-manifests/model-mesh/odh-modelmesh-controller/crd/bases/serving.kserve.io_clusterservingruntimes.yaml
  opendatahub/odh-manifests/model-mesh/odh-modelmesh-controller/crd/bases/serving.kserve.io_inferenceservices.yaml
  opendatahub/odh-manifests/model-mesh/odh-modelmesh-controller/crd/bases/serving.kserve.io_servingruntimes.yaml
Due: none

update manifests
  opendatahub/odh-manifests/model-mesh_stable/base/params.env
  opendatahub/odh-manifests/model-mesh_stable/odh-model-controller/rbac/role.yaml
Due: none

Add back kserve-enabled flag Update params.env Signed-off-by: Vaibhav Jain <vajain@redhat.com>
  opendatahub/odh-manifests/model-mesh/base/params.env
  opendatahub/odh-manifests/model-mesh/odh-model-controller/overlays/odh/odh_model_controller_manager_patch.yaml
  opendatahub/odh-manifests/model-mesh_stable/odh-model-controller/overlays/odh/odh_model_controller_manager_patch.yaml
Due: none

format sources
  main.go
  opendatahub/docs/generate-manifests.md
  opendatahub/odh-manifests/model-mesh/odh-model-controller/rbac/kserve_prometheus_clusterrole.yaml
  opendatahub/odh-manifests/model-mesh/odh-model-controller/rbac/role.yaml
  opendatahub/odh-manifests/model-mesh_stable/odh-model-controller/rbac/kserve_prometheus_clusterrole.yaml
  opendatahub/scripts/manifests/fvt/kustomization.yaml
  opendatahub/scripts/manifests/runtimes/kustomization.yaml
Due: modelmesh-serving-unit, modelmesh-serving-fvt, modelmesh-serving-pr-image-mirror, modelmesh-serving-fast-image-mirror

update template
  opendatahub/odh-manifests/model-mesh_templates_stable/base/params.env
Due: none

update model-mesh_templates
  opendatahub/odh-manifests/model-mesh_templates/base/params.env
Due: none

sync stable branc from main branch and format sources
  main.go
  opendatahub/docs/generate-manifests.md
  opendatahub/odh-manifests/model-mesh/base/params.env
  opendatahub/odh-manifests/model-mesh/odh-model-controller/rbac/role.yaml
  opendatahub/odh-manifests/model-mesh_stable/odh-model-controller/rbac/kserve_prometheus_clusterrole.yaml
  opendatahub/odh-manifests/model-mesh_stable/odh-modelmesh-controller/dashboard/ModelMeshMetricsDashboard.json
  opendatahub/odh-manifests/model-mesh_stable/odh-modelmesh-controller/prometheus/servicemonitor.yaml
  opendatahub/odh-manifests/model-mesh_stable/odh-modelmesh-controller/rbac/common/networkpolicy-webhook.yaml
  opendatahub/odh-manifests/model-mesh_stable/odh-modelmesh-controller/runtimes/mlserver-1.x.yaml
  opendatahub/odh-manifests/model-mesh_stable/odh-modelmesh-controller/webhook/kustomization.yaml
  opendatahub/odh-manifests/model-mesh_stable/odh-modelmesh-controller/webhook/kustomizeconfig.yaml
  opendatahub/odh-manifests/model-mesh_stable/odh-modelmesh-controller/webhook/manifests.yaml
  opendatahub/odh-manifests/model-mesh_stable/odh-modelmesh-controller/webhook/service.yaml
  opendatahub/odh-manifests/model-mesh_templates/base/params.env
  opendatahub/odh-manifests/model-mesh_templates_stable/base/params.env
  opendatahub/scripts/gen-manifests/odh_modelmesh_manifests_stable.sh
  opendatahub/scripts/manifests/fvt/kustomization.yaml
Due: modelmesh-serving-unit, modelmesh-serving-fvt, modelmesh-serving-pr-image-mirror, modelmesh-serving-fast-image-mirror

updating the tags
  config/default/config-defaults.yaml
  config/dependencies/fvt.yaml
  config/dependencies/quickstart.yaml
  config/manager/kustomization.yaml
Due: modelmesh-serving-fvt, modelmesh-serving-pr-image-mirror, modelmesh-serving-fast-image-mirror

move manifests to config/
  config/base/kustomization.yaml
  config/base/params.env
  config/overlays/odh/kustomization.yaml
  config/overlays/odh/manager/kustomization.yaml
  config/overlays/odh/manager/service.yaml
  config/overlays/odh/params.yaml
  config/overlays/odh/quickstart.yaml
  config/overlays/odh/rbac/kustomization.yaml
  config/overlays/odh/rbac/networkpolicy_etcd.yaml
  config/overlays/odh/rbac/remove_networkpolicy_rumtime_patch.yaml
  config/overlays/odh/rbac/role_apps_metrics_access.yaml
  config/overlays/odh/rbac/user_cluster_roles.yaml
  config/overlays/odh/scripts/enable_auth.sh
  config/overlays/odh/scripts/kustomization.yaml
Due: modelmesh-serving-fvt, modelmesh-serving-pr-image-mirror, modelmesh-serving-fast-image-mirror

update manifests from odh-manifests/master
  opendatahub/manifests/base/params.env
  opendatahub/manifests/dependencies/quickstart.yaml
  opendatahub/manifests/manager/kustomization.yaml
  opendatahub/manifests/manager/manager.yaml
  opendatahub/manifests/overlays/odh/kustomization.yaml
Due: none

fix mesh params map
  opendatahub/manifests/base/kustomization.yaml
Due: none

remove env ref to odh model controller
  opendatahub/manifests/base/kustomization.yaml
Due: none

bug fix
  opendatahub/manifests/base/kustomization.yaml
Due: none
