Repository opendatahub-io/modelmesh-serving: changes, and which Prow jobs are due for each by the changed paths.
All: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

Path conditions:
  unit: any of: ^(apis/.*|controllers/.*|pkg/.*|Dockerfile|main\.go|go\.mod|go\.sum)
  fvt-odh-manifests: any of: ^(apis/.*|controllers/.*|fvt/.*|pkg/.*|scripts/.*|proto/.*|config/.*|Makefile|main\.go|Dockerfile|go\.mod|go\.sum|opendatahub/odh-manifests)
  pr-image-mirror: any of: ^(apis/.*|controllers/.*|fvt/.*|pkg/.*|scripts/.*|proto/.*|config/.*|Makefile|main\.go|Dockerfile|version|go\.mod|go\.sum)
  fast-image-mirror: any of: ^(apis/.*|controllers/.*|fvt/.*|pkg/.*|scripts/.*|proto/.*|config/.*|Makefile|main\.go|Dockerfile|version|go\.mod|go\.sum)
  branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror: any of: ^(apis/.*|controllers/.*|fvt/.*|pkg/.*|scripts/.*|proto/.*|config/.*|Makefile|main\.go|Dockerfile|version|go\.mod|go\.sum)

feat: update static reference to oauth-proxy
  config/internal/base/deployment.yaml.tmpl
  controllers/testdata/servingruntime_controller.golden
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

Update image refs for odh release.
  config/overlays/odh/params.env
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

[RHOAIENG-32568] - Model serving builds for ODH community 2.34
  .tekton/odh-modelmesh-serving-controller-push.yaml
Due: none

Add reference to etcd and ose-cli rhel9 manifest list image (#369)
  config/dependencies/fvt.yaml
  config/internal/base/deployment.yaml.tmpl
  config/overlays/odh/kustomization.yaml
  config/overlays/odh/params.env
  config/overlays/odh/params.yaml
  config/overlays/odh/quickstart.yaml
  controllers/testdata/servingruntime_controller.golden
  opendatahub/scripts/README.md
  opendatahub/scripts/manifests/fvt/fvt.yaml
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

Allow running the controller on arm64
  config/overlays/odh/manager/kustomization.yaml
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

Add Konflux ODH tag bump automation to our existing release workflow.
  .github/workflows/create-release.yml
Due: none

Update Tekton output-image tags to version odh-v2.36
  .tekton/odh-modelmesh-serving-controller-push.yaml
Due: none

updated sed command to update image tags with latest version
  .github/workflows/create-release.yml
Due: none

chore(workflows): create PRs instead of direct push for ODH tag bumps
  .github/workflows/create-release.yml
Due: none

feat(workflow): add comprehensive summary with clickable links
  .github/workflows/create-release.yml
Due: none

[RHOAIENG-44773] - CVE-2025-61729: Excessive resource consumption when printing error string for host certificate validation in crypto/x509
  .pre-commit-config.yaml
  Dockerfile.develop
  Dockerfile.develop.ci
  go.mod
  go.sum
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

Fix CVE-2025-61729 by upgrading to Go 1.25
  .pre-commit-config.yaml
  go.mod
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

Update to Go 1.25.7
  Dockerfile.develop
  Dockerfile.develop.ci
  go.mod
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

Fix CI - update setup-envtest
  Dockerfile.develop.ci
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

Address CI build error and update manifests
  Dockerfile.develop.ci
  config/default/config-defaults.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/overlays/odh/crd/clusterservingruntime_patch_delete.yaml
  config/overlays/odh/crd/kustomization.yaml
  config/overlays/odh/kustomization.yaml
  config/overlays/odh/manager/controller_manager_patch_replace.yaml
  config/overlays/odh/manager/kustomization.yaml
  config/overlays/odh/webhook/kustomization.yaml
  config/overlays/odh/webhook/webhook_service_annotation_patch.yaml
  go.sum
  opendatahub/docs/upstream-code-sync-process.md
  opendatahub/scripts/manifests/dsc.yaml
  opendatahub/scripts/manifests/fvt/kustomization.yaml
  opendatahub/scripts/manifests/runtimes/kustomization.yaml
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

align k8s version
  Makefile
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

Update controller-gen to 0.17.0
  Dockerfile.develop
  Dockerfile.develop.ci
  Makefile
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

Add jlost and remove hdefazio, rnetser from OWNERS
  OWNERS
Due: none

[RHOAIENG-55280] CVE-2026-33186: gRPC-Go auth bypass via HTTP/2 path
  go.mod
  go.sum
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

[RHOAIENG-55280] Fix go-jose/go-jose/v4 uncaught exception
  go.mod
  go.sum
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

feat: set NextProtos and MinVersion on gRPC and etcd TLS configs
  controllers/service_controller.go
  pkg/mmesh/etcdrangewatcher.go
  pkg/mmesh/modelmesh_service.go
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

[RHOAIENG-72637] CVE-2026-25681: XSS via golang.org/x/net/html
  go.mod
  go.sum
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

fix(deps): upgrade golang to 1.26 bump golang to 1.26 and tidy go mod.
  Dockerfile.develop
  Dockerfile.develop.ci
  go.mod
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

fix(deps): bump google.golang.org/grpc to v1.83.2
  go.mod
  go.sum
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror
