Repository opendatahub-io/modelmesh-serving: changes, and which Prow jobs are due for each by the changed paths.
All: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

unit:
  commands: make test
  container:
    from: modelmesh-serving-develop

fvt-odh-manifests:
  steps:
    cluster_profile: aws
    env:
      COMPUTE_NODE_TYPE: m5.2xlarge
    test:
    - as: fvt-odh-manifests
      commands: 'export HOME=/go
  
  ...

pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: modelmesh-serving
    env:
      IMAGE_REPO: modelmesh-controller
    workflow: opendatahub-io-ci-image-mirror

fast-image-mirror:
  postsubmit: true
  steps:
    dependencies:
      SOURCE_IMAGE_REF: modelmesh-serving
    env:
      IMAGE_REPO: modelmesh-controller
      RELEASE_VERSION: fast
    workflow: opendatahub-io-ci-image-mirror

branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
      - --report-credentials-file=/etc/report/credentials
  ...

add ubi9 as default devimage for Konflux builds
  .tekton/listener.yaml
  .tekton/pipeline.yaml
  .tekton/task.yaml
  Dockerfile
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

Add USER root to the dockerfile
  Dockerfile
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

Added network policy and isolated isvc test
  fvt/predictor/predictor_test.go
  opendatahub/scripts/deploy_fvt.sh
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

Got the tests to run
  config/manager/kustomization.yaml
  fvt/globals.go
  opendatahub/scripts/deploy_fvt.sh
  opendatahub/scripts/install_odh.sh
  opendatahub/scripts/manifests/dsc.yaml
  opendatahub/scripts/manifests/fvt/fvt.yaml
  opendatahub/scripts/manifests/fvt/kustomization.yaml
  opendatahub/scripts/manifests/mm-configmap.yaml
  opendatahub/scripts/manifests/subs_odh_operator.yaml
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

Added logic to recreate the service account if not present before the hpa tests are ran
  fvt/fvtclient.go
  fvt/hpa/hpa_test.go
  fvt/predictor/predictor_test.go
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

Updated images. Commented out tests
  Makefile
  fvt/hpa/hpa_test.go
  fvt/predictor/predictor_test.go
  opendatahub/scripts/deploy_fvt.sh
  opendatahub/scripts/install_odh.sh
  opendatahub/scripts/manifests/fvt/fvt.yaml
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

Commented out one test
  fvt/predictor/predictor_test.go
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

update to go 1.23
  Dockerfile.develop
  Dockerfile.develop.ci
  go.mod
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

Update image refs for odh release.
  config/overlays/odh/params.env
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

add security.md
  SECURITY.md
Due: none

Update CRD with latest version from KServe v0.15
  config/crd/bases/serving.kserve.io_inferenceservices.yaml
  config/crd/bases/serving.kserve.io_servingruntimes.yaml
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

fix to CVE-2023-44487
  go.mod
  go.sum
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

updated the utils script to extract the kustomize version accurately
  opendatahub/scripts/utils.sh
Due: none

adding a timeout buffer for the BeforeSuite tests
  fvt/predictor/predictor_suite_test.go
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

Add step to build the development image
  .tekton/odh-modelmesh-serving-controller-push.yaml
Due: none

Cleanup
  .tekton/odh-modelmesh-serving-controller-push.yaml
Due: none

Fix params reference
  .tekton/odh-modelmesh-serving-controller-push.yaml
Due: none

Fix list of buildah args
  .tekton/odh-modelmesh-serving-controller-push.yaml
Due: none

Fix params and variable references
  .tekton/odh-modelmesh-serving-controller-push.yaml
Due: none

Fix dockerfile path
  .tekton/odh-modelmesh-serving-controller-push.yaml
Due: none

Correctly build the image:tag value in the pipelineSpec field
  .tekton/odh-modelmesh-serving-controller-push.yaml
Due: none

Remove the extra image from build-develop-container
  .tekton/odh-modelmesh-serving-controller-push.yaml
Due: none

Update Tekton output-image tags to version odh-v2.33
  .tekton/odh-modelmesh-serving-controller-push.yaml
Due: none

fix(kustomize): ensures compatibility with v5
  config/overlays/odh/default/kustomization.yaml
  config/overlays/odh/default/params.yaml
  config/overlays/odh/kustomization.yaml
  config/overlays/odh/params.yaml
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

Update Tekton output-image tags to version odh-v2.34
  .tekton/odh-modelmesh-serving-controller-push.yaml
Due: none

feat(RHOAIENG-32222): add reference to etcd rhel9 manifest list image
  config/dependencies/fvt.yaml
  config/overlays/odh/kustomization.yaml
  config/overlays/odh/params.env
  config/overlays/odh/quickstart.yaml
  opendatahub/scripts/README.md
  opendatahub/scripts/manifests/fvt/fvt.yaml
  opendatahub/scripts/manifests/params.env
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

fix(RHOAIENG-32222): substitute vars in initContainers
  config/overlays/odh/params.yaml
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

feat(RHOAIENG-32222): add reference to ose-cli rhel9 manifest list image
  config/overlays/odh/kustomization.yaml
  config/overlays/odh/params.env
  config/overlays/odh/quickstart.yaml
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

feat(RHOAIENG-32222): rename etcd image
  config/dependencies/fvt.yaml
  config/overlays/odh/kustomization.yaml
  config/overlays/odh/params.env
  config/overlays/odh/quickstart.yaml
  opendatahub/scripts/manifests/fvt/fvt.yaml
  opendatahub/scripts/manifests/params.env
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

feat(RHOAIENG-32222): set specific image to etcd deployment in opendatahub
  opendatahub/scripts/manifests/fvt/fvt.yaml
  opendatahub/scripts/manifests/params.env
Due: none

[RHOAIENG-31975] - Onboard metrics to the centralized metrics platform
  controllers/service_controller.go
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

feat: rename etcd to ose-etcd
  config/dependencies/fvt.yaml
  config/overlays/odh/kustomization.yaml
  config/overlays/odh/params.env
  config/overlays/odh/quickstart.yaml
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror, branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror

Path conditions:
  unit: any of: ^(apis/.*|controllers/.*|pkg/.*|Dockerfile|main\.go|go\.mod|go\.sum)
  fvt-odh-manifests: any of: ^(apis/.*|controllers/.*|fvt/.*|pkg/.*|scripts/.*|proto/.*|config/.*|Makefile|main\.go|Dockerfile|go\.mod|go\.sum|opendatahub/odh-manifests)
  pr-image-mirror: any of: ^(apis/.*|controllers/.*|fvt/.*|pkg/.*|scripts/.*|proto/.*|config/.*|Makefile|main\.go|Dockerfile|version|go\.mod|go\.sum)
  fast-image-mirror: any of: ^(apis/.*|controllers/.*|fvt/.*|pkg/.*|scripts/.*|proto/.*|config/.*|Makefile|main\.go|Dockerfile|version|go\.mod|go\.sum)
  branch-ci-opendatahub-io-modelmesh-serving-main-fast-image-mirror: any of: ^(apis/.*|controllers/.*|fvt/.*|pkg/.*|scripts/.*|proto/.*|config/.*|Makefile|main\.go|Dockerfile|version|go\.mod|go\.sum)
