Repository opendatahub-io/modelmesh-serving: changes, and which Prow jobs are due for each by the changed paths.
All: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror

ci-operator/config/opendatahub-io/modelmesh-serving/opendatahub-io-modelmesh-serving-main.yaml:

base_images:
  ubi_minimal:
    name: ubi-minimal
    namespace: ocp
    tag: "8"
build_root:
  project_image:
    dockerfile_literal: "FROM registry.access.redhat.com/ubi8/go-toolset:1.19\nENV
      GOBIN=/go/bin\nENV PATH=/usr/local/go/bin:${GOBIN}:$PATH\nUSER root\n# Prow
      expects to be able to check out a repo under /go \nWORKDIR /go\nRUN umask 0111
      && find /go -type d -not -perm -0775 | xargs --max-procs 10 --max-args 100 --no-run-if-empty
      chmod g+xw"
images:
- build_args:
  - name: TARGETOS
    value: linux
  - name: TARGETARCH
    value: amd64
  context_dir: .
  dockerfile_path: Dockerfile.develop.ci
  from: src
  to: modelmesh-serving-develop
- build_args:
  - name: COMMIT_SHA
    value: ci-sha
  - name: IMAGE_VERSION
    value: ci-test-img
  context_dir: .
  dockerfile_path: Dockerfile
  from: ubi_minimal
  inputs:
    modelmesh-serving-develop:
      as:
      - ${DEV_IMAGE}
  to: modelmesh-serving
promotion:
  namespace: opendatahub-io
  tag: latest
releases:
  latest:
    release:
      architecture: amd64
      channel: fast
      version: "4.12"
resources:
  '*':
    limits:
      memory: 4Gi
    requests:
      cpu: 100m
      memory: 200Mi
tests:
- as: unit
  commands: make test
  container:
    from: modelmesh-serving-develop
  run_if_changed: ^(apis/.*|controllers/.*|pkg/.*|Dockerfile|main\.go|go\.mod|go\.sum)
- as: fvt-odh-manifests
  run_if_changed: ^(apis/.*|controllers/.*|fvt/.*|pkg/.*|scripts/.*|proto/.*|config/.*|Makefile|main\.go|Dockerfile|go\.mod|go\.sum|opendatahub/odh-manifests)
  steps:
    cluster_profile: aws
    env:
      COMPUTE_NODE_TYPE: m5.2xlarge
    test:
    - as: fvt-odh-manifests
      commands: |
        export HOME=/go
        TAG=fast CONTROLLERNAMESPACE=modelmesh-serving NAMESPACE=modelmesh-serving NAMESPACESCOPEMODE=true CUSTOM_IMG=odh-modelmesh-controller=${PR_MODELMESH_SERVING_IMAGE} make e2e-test-for-odh
      dependencies:
      - env: PR_MODELMESH_SERVING_IMAGE
        name: modelmesh-serving
      from: modelmesh-serving-develop
      resources:
        requests:
          cpu: 2000m
          memory: 3Gi
    workflow: ipi-aws
- as: pr-image-mirror
  run_if_changed: ^(apis/.*|controllers/.*|fvt/.*|pkg/.*|scripts/.*|proto/.*|config/.*|Makefile|main\.go|Dockerfile|version|go\.mod|go\.sum)
  steps:
    dependencies:
      SOURCE_IMAGE_REF: modelmesh-serving
    env:
      IMAGE_REPO: modelmesh-controller
    workflow: opendatahub-io-ci-image-mirror
- as: fast-image-mirror
  postsubmit: true
  run_if_changed: ^(apis/.*|controllers/.*|fvt/.*|pkg/.*|scripts/.*|proto/.*|config/.*|Makefile|main\.go|Dockerfile|version|go\.mod|go\.sum)
  steps:
    dependencies:
      SOURCE_IMAGE_REF: modelmesh-serving
    env:
      IMAGE_REPO: modelmesh-controller
      RELEASE_VERSION: fast
    workflow: opendatahub-io-ci-image-mirror
zz_generated_metadata:
  branch: main
  org: opendatahub-io
  repo: modelmesh-serving

change images to stable
  opendatahub/manifests/base/kustomization.yaml
  opendatahub/manifests/base/params.env
Due: none

Update manifest to support generic route
  opendatahub/odh-manifests/model-mesh/odh-model-controller/rbac/role.yaml
Due: fvt-odh-manifests

move all changes into an overlay
  config/crd/kustomization.yaml
  config/default/kustomization.yaml
  config/manager/manager.yaml
  config/overlays/odh/default/kustomization.yaml
  config/overlays/odh/default/manager/config-defaults.yaml
  config/overlays/odh/default/manager/kustomization.yaml
  config/overlays/odh/default/manager/service.yaml
  config/overlays/odh/default/params.yaml
  config/overlays/odh/default/quickstart.yaml
  config/overlays/odh/default/rbac/kustomization.yaml
  config/overlays/odh/default/rbac/networkpolicy_etcd.yaml
  config/overlays/odh/default/rbac/remove_networkpolicy_rumtime_patch.yaml
  config/overlays/odh/default/rbac/role_apps_metrics_access.yaml
  config/overlays/odh/default/rbac/user_cluster_roles.yaml
  config/overlays/odh/default/scripts/enable_auth.sh
  config/overlays/odh/default/scripts/kustomization.yaml
  config/overlays/odh/kustomization.yaml
  config/overlays/odh/manager/kustomization.yaml
  config/overlays/odh/params.env
  config/overlays/odh/patches/certmanager_certificate_patch_delete.yaml
  config/overlays/odh/patches/certmanager_issuer_patch_delete.yaml
  config/overlays/odh/patches/clusterservingruntime_patch_delete.yaml
  config/overlays/odh/patches/config_defaults_upstream_patch_delete.yaml
  config/overlays/odh/patches/controller_manager_patch_replace.yaml
  config/overlays/odh/patches/ovms_image_patch_replace.yaml
  config/overlays/odh/patches/webhook_manifests_patch_replace.yaml
  config/overlays/odh/patches/webhook_service_patch_replace.yaml
  config/webhook/kustomization.yaml
  config/webhook/service.yaml
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror

move everything into an overlay
  config/overlays/odh/default/kustomization.yaml
  config/overlays/odh/default/manager/kustomization.yaml
  config/overlays/odh/default/manager/params.yaml
  config/overlays/odh/default/rbac/kustomization.yaml
  config/overlays/odh/default/webhook/kustomization.yaml
  config/overlays/odh/default/webhook/kustomizeconfig.yaml
  config/overlays/odh/default/webhook/manifests.yaml
  config/overlays/odh/default/webhook/service.yaml
  config/overlays/odh/kustomization.yaml
  config/overlays/odh/patches/certmanager_certificate_patch_delete.yaml
  config/overlays/odh/patches/certmanager_issuer_patch_delete.yaml
  config/overlays/odh/patches/config_defaults_upstream_patch_delete.yaml
  config/overlays/odh/patches/controller_manager_patch_replace.yaml
  config/overlays/odh/patches/ovms_image_patch_replace.yaml
  config/overlays/odh/patches/webhook_manifests_patch_replace.yaml
  config/overlays/odh/patches/webhook_service_patch_replace.yaml
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror

restructure manifests so that kustomize does not need LoadRestrictorNone flag
  config/overlays/odh/default/kustomization.yaml
  config/overlays/odh/default/params.yaml
  config/overlays/odh/kustomization.yaml
  config/overlays/odh/manager/controller_manager_patch_replace.yaml
  config/overlays/odh/manager/kustomization.yaml
  config/overlays/odh/new.yaml
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror

correct label mismatch
  config/overlays/odh/crd/kustomization.yaml
  config/overlays/odh/default/kustomization.yaml
  config/overlays/odh/kustomization.yaml
  config/overlays/odh/manager/controller_manager_patch_replace.yaml
  config/overlays/odh/manager/service.yaml
  config/overlays/odh/prometheus/kustomization.yaml
  config/overlays/odh/prometheus/serviceMonitorMetadataLabelTransformer.yaml
  config/overlays/odh/quickstart.yaml
  config/overlays/odh/rbac/kustomization.yaml
  config/overlays/odh/rbac/networkpolicy_etcd.yaml
  config/overlays/odh/rbac/rbacMetadataLabelTransformer.yaml
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror

final modifications
  config/overlays/odh/kustomization.yaml
  config/overlays/odh/manager/controller_manager_patch_replace.yaml
  config/overlays/odh/manager/kustomization.yaml
  config/overlays/odh/manager/service.yaml
  config/overlays/odh/prometheus/kustomization.yaml
  config/overlays/odh/prometheus/serviceMonitorMetadataLabelTransformer.yaml
  config/overlays/odh/quickstart.yaml
  config/overlays/odh/rbac/kustomization.yaml
  config/overlays/odh/rbac/networkpolicy_etcd.yaml
  config/overlays/odh/rbac/rbacMetadataLabelTransformer.yaml
  opendatahub/odh-manifests/model-mesh/base/kustomization.yaml
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror

remove openvino variable as it is unused
  config/overlays/odh/kustomization.yaml
  config/overlays/odh/params.env
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror

Manifest readiness for Operator v2 (#237)
  config/manager/manager.yaml
  config/overlays/odh/crd/clusterservingruntime_patch_delete.yaml
  config/overlays/odh/crd/kustomization.yaml
  config/overlays/odh/default/config-defaults.yaml
  config/overlays/odh/default/kustomization.yaml
  config/overlays/odh/default/metadataLabelTransformer.yaml
  config/overlays/odh/default/params.yaml
  config/overlays/odh/kustomization.yaml
  config/overlays/odh/manager/controller_manager_patch_replace.yaml
  config/overlays/odh/manager/kustomization.yaml
  config/overlays/odh/manager/params.yaml
  config/overlays/odh/manager/service.yaml
  config/overlays/odh/params.env
  config/overlays/odh/params.yaml
  config/overlays/odh/quickstart.yaml
  config/overlays/odh/rbac/kustomization.yaml
  config/overlays/odh/rbac/networkpolicy_etcd.yaml
  config/overlays/odh/rbac/remove_networkpolicy_rumtime_patch.yaml
  config/overlays/odh/rbac/role_apps_metrics_access.yaml
  config/overlays/odh/rbac/user_cluster_roles.yaml
  config/overlays/odh/scripts/enable_auth.sh
  config/overlays/odh/scripts/kustomization.yaml
  config/overlays/odh/webhook/kustomization.yaml
  config/overlays/odh/webhook/webhook_service_annotation_patch.yaml
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror

change image tags to 0.11.1
  config/overlays/odh/params.env
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror

fix docker build fail issue
  Dockerfile.develop
  Dockerfile.develop.ci
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror

Fix Stack-based Buffer Overflow on protobuf
  go.mod
  go.sum
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror

Update knative-serving
  go.mod
  go.sum
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror

Use a more fine-grained RBAC check in oauth-proxy
  config/internal/base/deployment.yaml.tmpl
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror

[RHOAIENG-11043] - Konflux Build failure for modelmesh-serving component
  Dockerfile
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror

Updated the manifest to include requests and limits for the etcd secret container initializer.
  config/overlays/odh/quickstart.yaml
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror

Updated etcd manifest
  config/overlays/odh/quickstart.yaml
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror

Updated etcd manifest (#305)
  config/overlays/odh/quickstart.yaml
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror

Updated the OWNERS file to remove previous members and added new members.
  OWNERS
Due: none

Update image refs for odh release.
  config/overlays/odh/params.env
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror

[RHOAIENG-17337] - Denial of Service on golang.org/x/net/html
  go.mod
  go.sum
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror

update crd to the latest(0.14) of kserve
  config/crd/bases/serving.kserve.io_inferenceservices.yaml
  config/crd/bases/serving.kserve.io_servingruntimes.yaml
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror

Add release metadata for MM
  config/component_metadata.yaml
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror

Add release metadata for MM (#312)
  config/component_metadata.yaml
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror

Update the oauth-proxy to the latest (#315)
  config/internal/base/deployment.yaml.tmpl
  controllers/testdata/servingruntime_controller.golden
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror

[RHOAIENG-18240] - Update ETCD in ModelMesh (#313)
  config/dependencies/fvt.yaml
  config/overlays/odh/quickstart.yaml
  opendatahub/scripts/manifests/fvt/fvt.yaml
Due: fvt-odh-manifests, pr-image-mirror, fast-image-mirror

adding brettmthompson as approver and reviewer in OWNERS file
  OWNERS
Due: none

adding andresllh as approver and reviewer in OWNERS file
  OWNERS
Due: none

[RHOAIENG-14237] Adding REST_PROXY_SKIP_VERIFY env var. (#536)
  controllers/modelmesh/modelmesh.go
  controllers/modelmesh/proxy.go
  controllers/testdata/servingruntime_controller.golden
  pkg/config/config.go
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror

Update GoLang, python and base images (#538)
  .github/workflows/fvt-base.yml
  .pre-commit-config.yaml
  Dockerfile
  Dockerfile.develop
  controllers/modelmesh/cluster_config.go
  controllers/servingruntime_controller.go
  fvt/fvtclient.go
  fvt/globals.go
  fvt/predictor/predictor_suite_test.go
  fvt/predictor/predictor_test.go
  go.mod
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror

[RHOAIENG-7286] - update GoLang and ubi on Dockerfile.develop.ci (#321)
  Dockerfile.develop.ci
  Makefile
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror

use unversioned python
  Dockerfile.develop
Due: unit, fvt-odh-manifests, pr-image-mirror, fast-image-mirror

Red Hat Konflux update modelmesh-serving-controller-odh-poc Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/modelmesh-serving-controller-odh-poc-pull-request.yaml
  .tekton/modelmesh-serving-controller-odh-poc-push.yaml
Due: none
