Repository openshift-assisted/assisted-installer-deployment: changes, and which Prow jobs are due for each by the changed paths.
All: bump-ocp-dry-run, ci-status-report-dry-run, triage-status-report-dry-run, snapshot-repos-dry-run, ci/prow/ci-status-report-dry-run, ci/prow/snapshot-repos-dry-run, ci/prow/triage-status-report-dry-run

bump-ocp-dry-run:
  steps:
    env:
      DRY_RUN: 'true'
    workflow: assisted-tools-bump-ocp

ci-status-report-dry-run:
  steps:
    env:
      DRY_RUN: 'true'
    workflow: assisted-tools-ci-report

triage-status-report-dry-run:
  steps:
    env:
      DRY_RUN: 'true'
    workflow: assisted-tools-triage-report

snapshot-repos-dry-run:
  steps:
    env:
      DRY_RUN: 'true'
    workflow: assisted-tools-snapshot-repos

ci/prow/ci-status-report-dry-run:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/snapshot-repos-dry-run:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/triage-status-report-dry-run:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Fix image tagging and git tagging (#336)
  tools/assisted_installer_stable_promotion.py
Due: none

Automatic snapshot of repositories' current git revisions
  assisted-installer.yaml
Due: none

Updated hashes for v2.13.6
  assisted-installer.yaml
Due: none

NO-ISSUE: Try to make triage report relient to errors
  tools/triage_status_report.py
Due: triage-status-report-dry-run, ci/prow/triage-status-report-dry-run

NO-ISSUE: Try to make triage report relient to errors (#337)
  tools/triage_status_report.py
Due: triage-status-report-dry-run, ci/prow/triage-status-report-dry-run

Apply black for the whole dir of 'tools'
  Makefile
  tools/assisted_installer_stable_promotion.py
  tools/check_ai_images.py
  tools/consts.py
  tools/create_triage_tickets.py
  tools/github_prs_stats.py
  tools/jira_cmd.py
  tools/release_tickets.py
  tools/skopeo_utils.py
  tools/trace_go_mod_dependencies.py
  tools/triage_stats.py
  tools/update_assisted_installer_yaml.py
  tools/update_hash.py
  tools/utils.py
  tools/version_documentation.py
Due: snapshot-repos-dry-run, ci/prow/snapshot-repos-dry-run

Tell triagers to focus on OCP 4.12 tickets
  tools/triage_status_report.py
Due: triage-status-report-dry-run, ci/prow/triage-status-report-dry-run

Tell triagers to focus on OCP 4.12 tickets (#339)
  tools/triage_status_report.py
Due: triage-status-report-dry-run, ci/prow/triage-status-report-dry-run

Updated hashes for v2.13.7
  assisted-installer.yaml
Due: none

Fix ccx installation missing openssl
  Dockerfile.assisted-installer-deployment
Due: none

Fix ccx installation missing openssl (#341)
  Dockerfile.assisted-installer-deployment
Due: none

Clarify message for slow OS installation
  tools/add_triage_signature.py
Due: none

Remove SMART column from host storage signature
  tools/add_triage_signature.py
Due: none

Clarify message for slow OS installation (#343)
  tools/add_triage_signature.py
Due: none

Remove SMART column from host storage signature (#342)
  tools/add_triage_signature.py
Due: none

Apply black for the whole dir of 'tools' (#340)
  Makefile
  tools/assisted_installer_stable_promotion.py
  tools/check_ai_images.py
  tools/consts.py
  tools/create_triage_tickets.py
  tools/github_prs_stats.py
  tools/jira_cmd.py
  tools/release_tickets.py
  tools/skopeo_utils.py
  tools/trace_go_mod_dependencies.py
  tools/triage_stats.py
  tools/update_assisted_installer_yaml.py
  tools/update_hash.py
  tools/utils.py
  tools/version_documentation.py
Due: snapshot-repos-dry-run, ci/prow/snapshot-repos-dry-run

bump to Python 3.11.0
  .pylintrc
  Dockerfile.assisted-installer-deployment
  dev-requirements.in
  dev-requirements.txt
  release/gittools.py
  release/main.py
Due: none

bump to Python 3.11.0 (#344)
  .pylintrc
  Dockerfile.assisted-installer-deployment
  dev-requirements.in
  dev-requirements.txt
  release/gittools.py
  release/main.py
Due: none

filter-out placeholder tickets in triage status
  tools/triage_status_report.py
Due: triage-status-report-dry-run, ci/prow/triage-status-report-dry-run

filter-out placeholder tickets in triage status (#345)
  tools/triage_status_report.py
Due: triage-status-report-dry-run, ci/prow/triage-status-report-dry-run

Updated hashes for v2.13.8
  assisted-installer.yaml
Due: none

Path conditions:
  bump-ocp-dry-run: any of: tools/bump_ocp_releases.py
  ci-status-report-dry-run: any of: tools/ci_status_report.py
  triage-status-report-dry-run: any of: tools/triage_status_report.py
  snapshot-repos-dry-run: any of: tools/update_assisted_installer_yaml.py
  ci/prow/ci-status-report-dry-run: any of: tools/ci_status_report.py
  ci/prow/snapshot-repos-dry-run: any of: tools/update_assisted_installer_yaml.py
  ci/prow/triage-status-report-dry-run: any of: tools/triage_status_report.py
