Repository openshift-assisted/assisted-installer-deployment: changes, and which Prow jobs are due for each by the changed paths.
All: bump-ocp-dry-run, ci-status-report-dry-run, triage-status-report-dry-run, snapshot-repos-dry-run, ci/prow/bump-ocp-dry-run, ci/prow/ci-status-report-dry-run, ci/prow/snapshot-repos-dry-run, ci/prow/triage-status-report-dry-run

Path conditions:
  bump-ocp-dry-run: any of: tools/bump_ocp_releases.py
  ci-status-report-dry-run: any of: tools/ci_status_report.py
  triage-status-report-dry-run: any of: tools/triage_status_report.py
  snapshot-repos-dry-run: any of: tools/update_assisted_installer_yaml.py
  ci/prow/bump-ocp-dry-run: any of: tools/bump_ocp_releases.py
  ci/prow/ci-status-report-dry-run: any of: tools/ci_status_report.py
  ci/prow/snapshot-repos-dry-run: any of: tools/update_assisted_installer_yaml.py
  ci/prow/triage-status-report-dry-run: any of: tools/triage_status_report.py

Add hosts summary to HostsStatusSignature (#258)
  tools/add_triage_signature.py
Due: none

Add FlappingValidations
  tools/add_triage_signature.py
Due: none

Add FlappingValidations (#259)
  tools/add_triage_signature.py
Due: none

Automatic snapshot of repositories' current git revisions
  assisted-installer.yaml
Due: none

triage signatures: added WrongBootOrderSignature
  tools/add_triage_signature.py
Due: none

Trigger OCP jobs when bumping versions (#257)
  tools/bump_ocp_releases.py
Due: bump-ocp-dry-run, ci/prow/bump-ocp-dry-run

triage signatures: added WrongBootOrderSignature (#234)
  tools/add_triage_signature.py
Due: none

Updated hashes for v2.5.1
  assisted-installer.yaml
Due: none

Updated hashes for v2.5.2
  assisted-installer.yaml
Due: none

Take UI snapshot for PSI from latest release
  assisted-installer.yaml
  tools/update_assisted_installer_yaml.py
Due: snapshot-repos-dry-run, ci/prow/snapshot-repos-dry-run

Take UI snapshot for PSI from latest release (#260)
  assisted-installer.yaml
  tools/update_assisted_installer_yaml.py
Due: snapshot-repos-dry-run, ci/prow/snapshot-repos-dry-run

validations: group flapping messages by validation name
  tools/add_triage_signature.py
Due: none

validations: group flapping messages by validation name (#261)
  tools/add_triage_signature.py
Due: none

signatures: add ReleasePullErrorSignature
  tools/add_triage_signature.py
Due: none

FlappingValidations: bump threshold
  tools/add_triage_signature.py
Due: none

FlappingValidations: bump threshold (#262)
  tools/add_triage_signature.py
Due: none

HostsStatusSignature: add a line break for hosts status summary
  tools/add_triage_signature.py
Due: none

HostsStatusSignature: add a line break for hosts status summary (#263)
  tools/add_triage_signature.py
Due: none

signatures: add ReleasePullErrorSignature (#230)
  tools/add_triage_signature.py
Due: none

Fix RHCOS image comparison and setting
  requirements.in
  requirements.txt
  tools/bump_ocp_releases.py
Due: bump-ocp-dry-run, ci/prow/bump-ocp-dry-run

Fix RHCOS image comparison and setting (#264)
  requirements.in
  requirements.txt
  tools/bump_ocp_releases.py
Due: bump-ocp-dry-run, ci/prow/bump-ocp-dry-run

Apply code formatting on tools/close_by_signature.py
  Makefile
  tools/close_by_signature.py
Due: none

Apply code formatting on tools/close_by_signature.py (#250)
  Makefile
  tools/close_by_signature.py
Due: none

format triage-report with black
  Makefile
  tools/triage_status_report.py
Due: triage-status-report-dry-run, ci/prow/triage-status-report-dry-run

format triage-report with black (#265)
  Makefile
  tools/triage_status_report.py
Due: triage-status-report-dry-run, ci/prow/triage-status-report-dry-run

Correctly terminate OSInstallationTime(Signature) unknown host green color
  tools/add_triage_signature.py
Due: none

Correctly terminate OSInstallationTime(Signature) unknown host green color (#266)
  tools/add_triage_signature.py
Due: none

MGMT-11123: allow skipping CCX installations with build-arg
  Dockerfile.assisted-installer-deployment
  Dockerfile.build
  ccx/install.sh
  ccx/requirements-rht.txt
  setup_env.sh
Due: none

MGMT-11123: allow skipping CCX installations with build-arg (#267)
  Dockerfile.assisted-installer-deployment
  Dockerfile.build
  ccx/install.sh
  ccx/requirements-rht.txt
  setup_env.sh
Due: none

`_generate_hosts_summary` add Joined status description
  tools/add_triage_signature.py
Due: none

`_generate_hosts_summary` add Joined status description (#268)
  tools/add_triage_signature.py
Due: none

Better handling of events file containing events from multiple installation attempts
  tools/add_triage_signature.py
Due: none
