Repository openshift-assisted/assisted-installer-deployment: changes, and which Prow jobs are due for each by the changed paths.
All: bump-ocp-dry-run, ci-status-report-dry-run, triage-status-report-dry-run, snapshot-repos-dry-run, ci/prow/ci-status-report-dry-run, ci/prow/snapshot-repos-dry-run, ci/prow/triage-status-report-dry-run

Path conditions:
  bump-ocp-dry-run: any of: tools/bump_ocp_releases.py
  ci-status-report-dry-run: any of: tools/ci_status_report.py
  triage-status-report-dry-run: any of: tools/triage_status_report.py
  snapshot-repos-dry-run: any of: tools/update_assisted_installer_yaml.py
  ci/prow/ci-status-report-dry-run: any of: tools/ci_status_report.py
  ci/prow/snapshot-repos-dry-run: any of: tools/update_assisted_installer_yaml.py
  ci/prow/triage-status-report-dry-run: any of: tools/triage_status_report.py

add isort and fix all violating files
  Makefile
  dev-requirements.in
  dev-requirements.txt
  release/main.py
  tests/tools/jira/test_jira_api.py
  tests/tools/jira/test_jira_client_factory.py
  tests/tools/jira/test_jira_dryrun_client.py
  tests/tools/triage/test_filters.py
  tools/assisted_installer_stable_promotion.py
  tools/github_prs_stats.py
  tools/jira_client/jira_api.py
  tools/jira_client/jira_client_factory.py
  tools/jira_cmd.py
  tools/skopeo_utils.py
  tools/trace_go_mod_dependencies.py
  tools/triage/add_triage_signature.py
  tools/triage/close_by_signature.py
  tools/triage/common.py
  tools/triage/create_triage_tickets.py
  tools/triage/filters.py
  tools/triage_stats.py
  tools/triage_status_report.py
  tools/update_assisted_installer_yaml.py
  tools/update_hash.py
  tools/version_documentation.py
Due: triage-status-report-dry-run, snapshot-repos-dry-run, ci/prow/snapshot-repos-dry-run, ci/prow/triage-status-report-dry-run

resolve deadlock between isort and black
  Makefile
  release/gittools.py
  release/main.py
  tests/tools/triage/test_filters.py
  tools/triage/create_triage_tickets.py
Due: none

MGMT-13442 add generic issue filtering for triage (#352)
  Makefile
  dev-requirements.in
  dev-requirements.txt
  pyproject.toml
  release/gittools.py
  release/main.py
  requirements.txt
  tests/__init__.py
  tests/tools/__init__.py
  tests/tools/jira/test_jira_api.py
  tests/tools/jira/test_jira_client_factory.py
  tests/tools/jira/test_jira_dryrun_client.py
  tests/tools/triage/fixtures/example_filters.json
  tests/tools/triage/test_add_triage_signature.py
  tests/tools/triage/test_filters.py
  tools/assisted_installer_stable_promotion.py
  tools/github_prs_stats.py
  tools/jira_client/__init__.py
  tools/jira_client/consts.py
  tools/jira_client/jira_api.py
  tools/jira_client/jira_client_factory.py
  tools/jira_client/jira_dryrun_client.py
  tools/jira_cmd.py
  tools/release_tickets.py
  tools/skopeo_utils.py
  tools/trace_go_mod_dependencies.py
  tools/triage/__init__.py
  tools/triage/add_triage_signature.py
  tools/triage/close_by_signature.py
  tools/triage/common.py
  tools/triage/create_triage_tickets.py
  tools/triage/filters.py
  tools/triage/triage_resolving_filters.json
  tools/triage_stats.py
  tools/triage_status_report.py
  tools/update_assisted_installer_yaml.py
  tools/update_hash.py
  tools/version_documentation.py
  triage_resolving_filters.json
Due: triage-status-report-dry-run, snapshot-repos-dry-run, ci/prow/snapshot-repos-dry-run, ci/prow/triage-status-report-dry-run

MGMT-13667: Signature to detect user login to the cluster hosts.
  tools/triage/add_triage_signature.py
Due: none

Update tools/triage/add_triage_signature.py
  tools/triage/add_triage_signature.py
Due: none

Automatic snapshot of repositories' current git revisions
  assisted-installer.yaml
Due: none

MGMT-13667: Signature to detect user login to the cluster hosts. (#359)
  tools/triage/add_triage_signature.py
Due: none

Reduce warnings emitted for currently acceptable access
  tools/triage/add_triage_signature.py
Due: none

Reduce warnings emitted for currently acceptable access (#361)
  tools/triage/add_triage_signature.py
Due: none

MGMT-13401: store cluster logs as Jira attachments
  Jenkinsfile.download_logs
  requirements.in
  requirements.txt
  skipper.yaml
  tests/tools/triage/test_attach_logs_in_jira.py
  tools/triage/add_triage_signature.py
  tools/triage/attach_logs_in_jira.py
  tools/triage/create_triage_tickets.py
  tools/utils.py
Due: none

MGMT-13401: store cluster logs as Jira attachments (#338)
  Jenkinsfile.download_logs
  requirements.in
  requirements.txt
  skipper.yaml
  tests/tools/triage/test_attach_logs_in_jira.py
  tools/triage/add_triage_signature.py
  tools/triage/attach_logs_in_jira.py
  tools/triage/create_triage_tickets.py
  tools/utils.py
Due: none

pass issue key instead of issue object from jira dry run client to real jira client
  tests/tools/jira/test_jira_dryrun_client.py
  tools/jira_client/jira_dryrun_client.py
Due: none

retry filter instantation if jira GET issue fails
  Makefile
  tools/triage/filters.py
Due: none

retry filter instantation if jira GET issue fails (#360)
  Makefile
  tools/triage/filters.py
Due: none

bump jira client to v3.4.1
  requirements.in
  requirements.txt
Due: none

bump jira client to v3.4.1 (#363)
  requirements.in
  requirements.txt
Due: none

Split long triage status reports
  requirements.in
  requirements.txt
  tools/triage_status_report.py
Due: triage-status-report-dry-run, ci/prow/triage-status-report-dry-run

Split long triage status reports (#364)
  requirements.in
  requirements.txt
  tools/triage_status_report.py
Due: triage-status-report-dry-run, ci/prow/triage-status-report-dry-run

Fix arguments for issue links creation
  tests/tools/jira/test_jira_dryrun_client.py
  tools/jira_client/jira_api.py
  tools/jira_client/jira_dryrun_client.py
  tools/jira_cmd.py
  tools/triage/create_triage_tickets.py
Due: none

Fix arguments for issue links creation (#365)
  tests/tools/jira/test_jira_dryrun_client.py
  tools/jira_client/jira_api.py
  tools/jira_client/jira_dryrun_client.py
  tools/jira_cmd.py
  tools/triage/create_triage_tickets.py
Due: none

fix to the new assisted-installer UI repo name
  assisted-installer.yaml
  tools/release_tickets.py
  tools/update_assisted_installer_yaml.py
Due: snapshot-repos-dry-run, ci/prow/snapshot-repos-dry-run

MGMT-13301: signature for detecting overlap nameservers
  tools/triage/add_triage_signature.py
Due: none

MGMT-13301: signature for detecting overlap nameservers (#366)
  tools/triage/add_triage_signature.py
Due: none

Updated hashes for v2.16.1
  assisted-installer.yaml
Due: none

Updated hashes for v2.16.2
  assisted-installer.yaml
Due: none

MGMT-13999: Change triage focus to multi node clusters
  tools/triage_status_report.py
Due: triage-status-report-dry-run, ci/prow/triage-status-report-dry-run

MGMT-13999: Change triage focus to multi node clusters (#368)
  tools/triage_status_report.py
Due: triage-status-report-dry-run, ci/prow/triage-status-report-dry-run
