Repository openshift-assisted/assisted-installer-deployment: changes, and which Prow jobs are due for each by the changed paths.
All: bump-ocp-dry-run, ci-status-report-dry-run, triage-status-report-dry-run, snapshot-repos-dry-run, ci/prow/bump-ocp-dry-run, ci/prow/ci-status-report-dry-run, ci/prow/snapshot-repos-dry-run, ci/prow/triage-status-report-dry-run

bump-ocp-dry-run:
  steps:
    env:
      DRY_RUN: 'true'
    workflow: assisted-tools-bump-ocp

ci-status-report-dry-run:
  steps:
    env:
      DRY_RUN: 'true'
    workflow: assisted-tools-ci-report

triage-status-report-dry-run:
  steps:
    env:
      DRY_RUN: 'true'
    workflow: assisted-tools-triage-report

snapshot-repos-dry-run:
  steps:
    env:
      DRY_RUN: 'true'
    workflow: assisted-tools-snapshot-repos

ci/prow/bump-ocp-dry-run:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/ci-status-report-dry-run:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/snapshot-repos-dry-run:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/triage-status-report-dry-run:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

MGMT-11688: enable bumping 4.11 RHCOS
  tools/bump_ocp_releases.py
Due: bump-ocp-dry-run, ci/prow/bump-ocp-dry-run

MGMT-11688: enable bumping 4.11 RHCOS (#290)
  tools/bump_ocp_releases.py
Due: bump-ocp-dry-run, ci/prow/bump-ocp-dry-run

Automatic snapshot of repositories' current git revisions
  assisted-installer.yaml
Due: none

MGMT-11723: remove redundant openshit versions section
  assisted-installer.yaml
Due: none

MGMT-11723: remove redundant openshit versions section (#291)
  assisted-installer.yaml
Due: none

Updated hashes for v2.8.1
  assisted-installer.yaml
Due: none

MGMT-8890: Make bump_ocp_releases safe for missing data
  tools/bump_ocp_releases.py
Due: bump-ocp-dry-run, ci/prow/bump-ocp-dry-run

MGMT-8890: Make bump_ocp_releases safe for missing data (#292)
  tools/bump_ocp_releases.py
Due: bump-ocp-dry-run, ci/prow/bump-ocp-dry-run

MGMT-8890: Support -multi stream for OCP releases
  tools/bump_ocp_releases.py
Due: bump-ocp-dry-run, ci/prow/bump-ocp-dry-run

Update Assisted UI to v2.9.1
  assisted-installer.yaml
Due: none

Update Assisted UI to v2.9.1 (#294)
  assisted-installer.yaml
Due: none

Make DualStackBadRoute an ErrorSignature rather than a Signature
  tools/add_triage_signature.py
Due: none

Make DualStackBadRoute an ErrorSignature rather than a Signature (#295)
  tools/add_triage_signature.py
Due: none

Don't fail on repos without base_ref
  tools/ci_status_report.py
Due: ci-status-report-dry-run, ci/prow/ci-status-report-dry-run

More specific error on missing base_ref
  tools/ci_status_report.py
Due: ci-status-report-dry-run, ci/prow/ci-status-report-dry-run

Don't fail on repos without base_ref (#296)
  tools/ci_status_report.py
Due: ci-status-report-dry-run, ci/prow/ci-status-report-dry-run

MGMT-11987: skip OCP 4.12 updates
  tools/bump_ocp_releases.py
Due: bump-ocp-dry-run, ci/prow/bump-ocp-dry-run

MGMT-11987: skip OCP 4.12 updates (#298)
  tools/bump_ocp_releases.py
Due: bump-ocp-dry-run, ci/prow/bump-ocp-dry-run

MGMT-11940: Add signature for user_managed_networking and load-balancer issues
  tools/add_triage_signature.py
Due: none

MGMT-11940: Add signature for user_managed_networking and load-balancer issues (#297)
  tools/add_triage_signature.py
Due: none

Path conditions:
  bump-ocp-dry-run: any of: tools/bump_ocp_releases.py
  ci-status-report-dry-run: any of: tools/ci_status_report.py
  triage-status-report-dry-run: any of: tools/triage_status_report.py
  snapshot-repos-dry-run: any of: tools/update_assisted_installer_yaml.py
  ci/prow/bump-ocp-dry-run: any of: tools/bump_ocp_releases.py
  ci/prow/ci-status-report-dry-run: any of: tools/ci_status_report.py
  ci/prow/snapshot-repos-dry-run: any of: tools/update_assisted_installer_yaml.py
  ci/prow/triage-status-report-dry-run: any of: tools/triage_status_report.py
