Repository openshift-assisted/assisted-installer-deployment: changes, and which Prow jobs are due for each by the changed paths.
All: bump-ocp-dry-run, ci-status-report-dry-run, triage-status-report-dry-run, snapshot-repos-dry-run, ci/prow/bump-ocp-dry-run, ci/prow/ci-status-report-dry-run, ci/prow/snapshot-repos-dry-run, ci/prow/triage-status-report-dry-run

Path conditions:
  bump-ocp-dry-run: any of: tools/bump_ocp_releases.py
  ci-status-report-dry-run: any of: tools/ci_status_report.py
  triage-status-report-dry-run: any of: tools/triage_status_report.py
  snapshot-repos-dry-run: any of: tools/update_assisted_installer_yaml.py
  ci/prow/bump-ocp-dry-run: any of: tools/bump_ocp_releases.py
  ci/prow/ci-status-report-dry-run: any of: tools/ci_status_report.py
  ci/prow/snapshot-repos-dry-run: any of: tools/update_assisted_installer_yaml.py
  ci/prow/triage-status-report-dry-run: any of: tools/triage_status_report.py

Automatic snapshot of repositories' current git revisions
  assisted-installer.yaml
Due: none

stop bumping 4.7 releases
  tools/bump_ocp_releases.py
Due: bump-ocp-dry-run, ci/prow/bump-ocp-dry-run

stop bumping 4.7 releases (#212)
  tools/bump_ocp_releases.py
Due: bump-ocp-dry-run, ci/prow/bump-ocp-dry-run

Delete add_pr_link_to_jira.py (#211)
  tools/add_pr_link_to_jira.py
Due: none

Add manual feature flag for User Managed Networking
  tools/add_triage_signature.py
Due: none

Simplify AITRIAGE links section
  tools/add_triage_signature.py
Due: none

Simplify AITRIAGE links section (#213)
  tools/add_triage_signature.py
Due: none

Add manual feature flag for User Managed Networking (#214)
  tools/add_triage_signature.py
Due: none

dummy file
  dummy.txt
Due: none

Raise a more graceful error when fields are None
  tools/triage_status_report.py
Due: triage-status-report-dry-run, ci/prow/triage-status-report-dry-run

Fix case of no available RHCOS updates
  tools/bump_ocp_releases.py
Due: bump-ocp-dry-run, ci/prow/bump-ocp-dry-run

Fix case of no available RHCOS updates (#217)
  tools/bump_ocp_releases.py
Due: bump-ocp-dry-run, ci/prow/bump-ocp-dry-run

Update README.md
  README.md
Due: none

Mount known_hosts files to fix 'git push tag' (#208)
  skipper.yaml
  tools/assisted_installer_stable_promotion.py
Due: none

Updated hashes for v2.4.3
  assisted-installer.yaml
Due: none

Add 'release' makefile target
  Makefile
Due: none

Raise a more graceful error when fields are None (#216)
  tools/triage_status_report.py
Due: triage-status-report-dry-run, ci/prow/triage-status-report-dry-run

Updated hashes for v2.4.4
  assisted-installer.yaml
Due: none

MGMT-10715: Skip creation of triage tickets for OCP 4.11
  tools/create_triage_tickets.py
Due: none

add_triage_signature.py: autoclose nissho-ele.co.jp tickets
  tools/add_triage_signature.py
Due: none

add_triage_signature.py: autoclose nissho-ele.co.jp tickets (#221)
  tools/add_triage_signature.py
Due: none

Add 'release' makefile target (#219)
  Makefile
Due: none

Add platform type to the triage ticket
  tools/add_triage_signature.py
Due: none
