Repository openshift/hypershift: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

e2e-aws-pooled:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: hypershift
    product: ocp
    timeout: 1h30m0s
    version: '4.8'
  steps:
    test:
    - as: install-hypershift
      cli: latest
      commands: make ci-install-hypershift
      credentials:
      - mount_path: /etc/hypershift-pool-aws-credentials
  ...

ci/prow/e2e-aws:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-ibmcloud-iks:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-ibmcloud-roks:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-e2e-kubevirt-aws-ovn:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci-operator.openshift.io/variant: kubevirt
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/verify:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Update RHTAP references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

HOSTEDCP-1407: Add steps for seting up azure CI cluster
  contrib/ci/AzureCI/README.md
  contrib/ci/AzureCI/hypershift-install-azure.yaml
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

*: update generated files
  cmd/install/assets/hypershift-operator/certificates.hypershift.openshift.io_certificaterevocationrequests.yaml
  hack/app-sre/saas_template.yaml
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Revert "CNV-36608: Enable InPlace NodePool upgrade test for kubevirt"
  test/e2e/nodepool_upgrade_test.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Remove CLI inspection of release image
  cmd/cluster/cluster.go
  cmd/cluster/core/create.go
  product-cli/cmd/cluster/cluster.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Fix default release image lookup
  support/supportedversion/version.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Dependency updates
  go.mod
  go.sum
  vendor/github.com/clarketm/json/decode.go
  vendor/github.com/clarketm/json/encode.go
  vendor/github.com/clarketm/json/fuzz.go
  vendor/github.com/clarketm/json/scanner.go
  vendor/github.com/openshift/cluster-node-tuning-operator/pkg/apis/tuned/v1/tuned_types.go
  vendor/github.com/openshift/cluster-node-tuning-operator/pkg/apis/tuned/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/custom-resource-status/conditions/v1/conditions.go
  vendor/github.com/sirupsen/logrus/README.md
  vendor/github.com/sirupsen/logrus/writer.go
  vendor/modules.txt
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Reduce the Policy Access scope to specific instance
  cmd/infra/powervs/create.go
  cmd/infra/powervs/destroy.go
  cmd/infra/powervs/service_id.go
  cmd/infra/powervs/service_id_test.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Revert "Always include AWS default security group in worker security groups"
  api/hypershift/v1alpha1/hostedcluster_types.go
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/cluster/aws/create.go
  cmd/infra/aws/create.go
  cmd/infra/aws/ec2_sg.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  docs/content/reference/api.md
  examples/fixtures/example.go
  examples/fixtures/example_aws.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/aws_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1alpha1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

control-plane-pki-operator: validate CN for CSR
  control-plane-pki-operator/certificates/validation.go
  control-plane-pki-operator/certificates/validation_test.go
  control-plane-pki-operator/certificatesigningcontroller/certificatesigningcontroller_test.go
  control-plane-pki-operator/certrotationcontroller/certrotationcontroller.go
  test/integration/control_plane_pki_operator.go
  test/integration/framework/pki.go
  test/integration/framework/testdata/csr.pem
  test/integration/framework/testdata/tls.crt
  test/integration/framework/testdata/tls.key
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

shrink validity time of break-glass trust to about a day
  control-plane-pki-operator/certrotationcontroller/certrotationcontroller.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

test: wait longer for certificate signing, revocation
  test/integration/control_plane_pki_operator.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Contribute dev namespace template for CI clusters
  contrib/ci/README.md
  contrib/ci/dev-namespace-template.yaml
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Reduce nodepool test cases for KubeVirt due to infra perf issues
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_nto_machineconfig_test.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

control-plane-pki-operator: add a signer for SRE break-glass
  api/certificates/v1alpha1/certificaterevocationrequest_types.go
  cmd/install/assets/hypershift-operator/certificates.hypershift.openshift.io_certificaterevocationrequests.yaml
  control-plane-pki-operator/certificaterevocationcontroller/certificaterevocationcontroller.go
  control-plane-pki-operator/certificates/validation.go
  control-plane-pki-operator/certificates/validation_test.go
  control-plane-pki-operator/certificatesigningcontroller/certificatesigningcontroller_test.go
  control-plane-pki-operator/certrotationcontroller/certrotationcontroller.go
  control-plane-pki-operator/manifests/pki.go
  control-plane-pki-operator/operator.go
  control-plane-pki-operator/targetconfigcontroller/targetconfigcontroller.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/manifests/controlplanepkioperator/reconcile_test.go
  hypershift-operator/controllers/manifests/controlplanepkioperator/testdata/zz_fixture_TestReconcileCSRApproverClusterRole.yaml
  hypershift-operator/controllers/manifests/controlplanepkioperator/testdata/zz_fixture_TestReconcileCSRSignerClusterRole.yaml
  test/integration/control_plane_pki_operator.go
  test/integration/framework/pki.go
  test/integration/framework/pki_test.go
  test/integration/framework/testdata/csr.pem
  test/integration/framework/testdata/customer-break-glass-csr.pem
  test/integration/framework/testdata/customer-break-glass-tls.crt
  test/integration/framework/testdata/customer-break-glass-tls.key
  test/integration/framework/testdata/sre-break-glass-csr.pem
  test/integration/framework/testdata/sre-break-glass-tls.crt
  test/integration/framework/testdata/sre-break-glass-tls.key
  test/integration/framework/testdata/tls.crt
  test/integration/framework/testdata/tls.key
  vendor/github.com/openshift/hypershift/api/certificates/v1alpha1/certificaterevocationrequest_types.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Add assisted-service agent resource in dump
  cmd/cluster/core/dump.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

contrib/ci: add clusters namespace to CI manifests
  contrib/ci/hypershift-ci-1.yaml
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

hypershift-operator: don't create PKI rbac when disabled
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

control-plane-pki-operator: add a signer for SRE break-glass
  api/certificates/v1alpha1/certificaterevocationrequest_types.go
  cmd/install/assets/hypershift-operator/certificates.hypershift.openshift.io_certificaterevocationrequests.yaml
  control-plane-pki-operator/certificaterevocationcontroller/certificaterevocationcontroller.go
  control-plane-pki-operator/certificates/validation.go
  control-plane-pki-operator/certificates/validation_test.go
  control-plane-pki-operator/certificatesigningcontroller/certificatesigningcontroller_test.go
  control-plane-pki-operator/certrotationcontroller/certrotationcontroller.go
  control-plane-pki-operator/manifests/pki.go
  control-plane-pki-operator/operator.go
  control-plane-pki-operator/targetconfigcontroller/targetconfigcontroller.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/manifests/controlplanepkioperator/reconcile_test.go
  hypershift-operator/controllers/manifests/controlplanepkioperator/testdata/zz_fixture_TestReconcileCSRApproverClusterRole.yaml
  hypershift-operator/controllers/manifests/controlplanepkioperator/testdata/zz_fixture_TestReconcileCSRSignerClusterRole.yaml
  test/integration/control_plane_pki_operator.go
  test/integration/framework/pki.go
  test/integration/framework/pki_test.go
  test/integration/framework/testdata/csr.pem
  test/integration/framework/testdata/customer-break-glass-csr.pem
  test/integration/framework/testdata/customer-break-glass-tls.crt
  test/integration/framework/testdata/customer-break-glass-tls.key
  test/integration/framework/testdata/sre-break-glass-csr.pem
  test/integration/framework/testdata/sre-break-glass-tls.crt
  test/integration/framework/testdata/sre-break-glass-tls.key
  test/integration/framework/testdata/tls.crt
  test/integration/framework/testdata/tls.key
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

OCPBUGS-23997: add HCP pullsecret to HCCO cache
  control-plane-operator/hostedclusterconfigoperator/operator/config.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

support to disable machine management components
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Add additional K8s RBAC to control-plane-operator
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

OCPBUGS-28538: Add docs for other SDN providers (Cilium & Calico)
  docs/content/how-to/agent/other-sdn-providers.md
  docs/content/how-to/aws/other-sdn-providers.md
  docs/content/how-to/sdn/other-sdn-providers.md
  docs/mkdocs.yml
Due: none

Adding Disable PKI Reconciliation annotation as an option
  hack/ci-test-e2e.sh
  test/e2e/control_plane_upgrade_test.go
  test/e2e/e2e_test.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Added regression tests ensuring certain deployment fields do not get set.
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/reconcile_test.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/deployment_test.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

OCPBUGS-29115: Default NodeUpgradeType on day2 nodepool creation
  cmd/nodepool/core/create.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

force StructuredAuthenticationConfiguration to enabled in 4.15 hypershift guest clusters
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

api/v1beta1/hostedcluster_types: Add spec.upstream
  api/hypershift/v1alpha1/hosted_controlplane.go
  api/hypershift/v1alpha1/hostedcluster_types.go
  api/hypershift/v1beta1/hosted_controlplane.go
  api/hypershift/v1beta1/hostedcluster_types.go
  client/applyconfiguration/hypershift/v1alpha1/hostedclusterspec.go
  client/applyconfiguration/hypershift/v1beta1/hostedclusterspec.go
  client/applyconfiguration/hypershift/v1beta1/hostedcontrolplanespec.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1alpha1/hosted_controlplane.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1alpha1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hosted_controlplane.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

remove dead code from kas config
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Approvers update
  OWNERS
Due: none

Update RHTAP references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

make nodepool.spec.aws.subnet required
  api/hypershift/v1alpha1/nodepool_types.go
  api/hypershift/v1alpha1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  cmd/nodepool/aws/create.go
  docs/content/reference/api.md
  examples/fixtures/example.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
  hypershift-operator/controllers/platform/aws/controller.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1alpha1/nodepool_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Path conditions:
  e2e-aws-pooled: unless all of: (^(docs|examples|enhancements)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-aws: unless all of: (^(docs|examples|enhancements)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-ibmcloud-iks: any of: ^api/
  ci/prow/e2e-ibmcloud-roks: any of: ^api/
  ci/prow/kubevirt-e2e-kubevirt-aws-ovn: unless all of: (^(docs|examples|enhancements)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/unit: unless all of: (^(docs|examples|enhancements)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/verify: unless all of: (^(docs|examples|enhancements)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
