Repository openshift/hypershift: changes, and which Prow jobs are due for each by the changed paths.
All: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Path conditions:
  verify: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  unit: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-azure: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-aws: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-kubevirt-aws-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-ibmcloud-iks: any of: ^api/
  e2e-ibmcloud-roks: any of: ^api/
  ci/prow/e2e-aws: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-azure: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-ibmcloud-iks: any of: ^api/
  ci/prow/e2e-ibmcloud-roks: any of: ^api/
  ci/prow/e2e-kubevirt-aws-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-kubevirt-azure-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/unit: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/verify: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)

feat(api): add NodePool.Status.NodesInfo for node version distribution
  api/hypershift/v1beta1/nodepool_types.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

test(e2e): add Wait for NodesInfo in update upgrade tests
  test/e2e/nodepool_upgrade_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat(cpo): annotate Machines with release version for version tracking
  control-plane-operator/hostedclusterconfigoperator/controllers/inplaceupgrader/inplaceupgrader.go
  control-plane-operator/hostedclusterconfigoperator/controllers/inplaceupgrader/inplaceupgrader_test.go
  hypershift-operator/controllers/nodepool/capi.go
  hypershift-operator/controllers/nodepool/token.go
  hypershift-operator/controllers/nodepool/token_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat(HCCO): add guest cluster metrics forwarder for control plane metrics
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/AROSwift/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/GCP/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/configoperator/role.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/monitoring.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/monitoring/metricsforwarder.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

build(aws): add EC2 SDK v2 interface and regenerate delegating client
  cmd/infra/aws/delegating_client.go
  cmd/infra/aws/delegatingclientgenerator/main.go
  support/awsapi/ec2.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(catalogs): update catalog image version cap to 4.21
  support/catalogs/images.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat: OCPBUGS-50003 add error cache to skip EC2/Pricing APIs for unknown instance types
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  hypershift-operator/controllers/nodepool/metrics/metrics_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(HCCO): use mTLS with per-endpoint CA override for metrics forwarder
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/monitoring.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/monitoring/metricsforwarder.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(CPO): default scrape config scheme to http to match Prometheus Operator
  control-plane-operator/controllers/hostedcontrolplane/v2/metrics_proxy/scrape_config.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat(ci): add self-hosted GitHub Actions runner workflow
  .github/runner/Dockerfile
  .github/workflows/test-arc-runner.yaml
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

simplify e2e checking HC FG instead of global
  test/e2e/create_cluster_test.go
  test/e2e/util/aws_ccm.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

CNTRLPLANE-2203: remove temporary upgrade exclusion for ControlPlaneConnectionAvailable
  test/e2e/util/util.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Red Hat Konflux update hypershift-cli-mce-50
  .tekton/hypershift-cli-mce-50-pull-request.yaml
  .tekton/hypershift-cli-mce-50-push.yaml
Due: none

Red Hat Konflux update hypershift-release-mce-50
  .tekton/hypershift-release-mce-50-pull-request.yaml
  .tekton/hypershift-release-mce-50-push.yaml
Due: none

experimenting non-global gate configuration
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/aws/config.go
  control-plane-operator/featuregates/featuregates.go
  test/e2e/util/aws_ccm.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat(karpenter): expose MetadataOptions on OpenshiftEC2NodeClass
  api/karpenter/v1beta1/karpenter_types.go
  api/karpenter/v1beta1/util.go
  api/karpenter/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/karpenter/v1beta1/metadataoptions.go
  client/applyconfiguration/karpenter/v1beta1/openshiftec2nodeclassspec.go
  client/applyconfiguration/utils.go
  karpenter-operator/controllers/karpenter/assets/karpenter.hypershift.openshift.io_openshiftec2nodeclasses.yaml
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller.go
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller_test.go
  test/e2e/karpenter_test.go
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/karpenter_types.go
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/util.go
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/zz_generated.deepcopy.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

ci(claude): add konflux-build command for manual non-expiring builds
  .claude/commands/konflux-build.md
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

support/releaseinfo/cincinnati_version_resolver: Media type versioning
  support/releaseinfo/cincinnati_version_resolver.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

karpenter-operator/controllers/karpenterignition/karpenterignition_controller: Default to fast-* channel
  karpenter-operator/controllers/karpenterignition/karpenterignition_controller.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

support/releaseinfo/cincinnati_version_resolver: Push channel defaulting down
  karpenter-operator/controllers/karpenterignition/karpenterignition_controller.go
  support/releaseinfo/cincinnati_version_resolver.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fixup! support/releaseinfo/cincinnati_version_resolver: Push channel defaulting down
  support/releaseinfo/cincinnati_version_resolver.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

support/releaseinfo/cincinnati_version_resolver: Include architecture in cache key
  support/releaseinfo/cincinnati_version_resolver.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

support/releaseinfo/cincinnati_version_resolver: Remove channel from cache key
  support/releaseinfo/cincinnati_version_resolver.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

api/karpenter/v1beta1/karpenter_types: Allow more SemVer in OpenshiftEC2NodeClassSpec.Version
  api/karpenter/v1beta1/karpenter_types.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

'make update' to push SemVer regexp into downstream locations
  karpenter-operator/controllers/karpenter/assets/karpenter.hypershift.openshift.io_openshiftec2nodeclasses.yaml
  vendor/github.com/openshift/hypershift/api/karpenter/v1beta1/karpenter_types.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Revert "Merge pull request #7746 from sdminonne/CNTRLPLANE-2203-revert-plus-fix"
  api/hypershift/v1beta1/hostedcluster_conditions.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/kasconnectionchecker.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/rbac/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/conditions/conditions.go
  test/e2e/util/util.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

hosted-cluster changes
  PRIMARY-UDN-CHANGES.md
  cluster-sync.sh
  cluster-up.sh
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/infra/infra.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/GCP/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/hosted-cluster-config-operator/role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/ignition-server-proxy/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/etcd/statefulset.go
  control-plane-operator/hostedclusterconfigoperator/controllers/machine/machine.go
  control-plane-operator/hostedclusterconfigoperator/controllers/machine/machine_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  hypershift-operator/controllers/nodepool/token.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

kubevirt: add hosted cluster on Primary UDN install flags
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/cluster/kubevirt/create.go
  cmd/install/assets/hypershift_operator.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/primaryudn/management_udn.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

hostedclusterconfigoperator: reconcile UDN EndpointSlices for etcd
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/GCP/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/hosted-cluster-config-operator/zz_fixture_TestControlPlaneComponents_hosted_cluster_config_operator_role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/hosted-cluster-config-operator/role.yaml
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  control-plane-operator/hostedclusterconfigoperator/controllers/etcd/endpointslices.go
  control-plane-operator/hostedclusterconfigoperator/controllers/etcd/endpointslices_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/etcd/setup.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

kubevirt: default Primary UDN for conformance CI lane
  cmd/cluster/kubevirt/create.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

[DBG] force CAPK image
  hypershift-operator/controllers/hostedcluster/internal/platform/kubevirt/kubevirt.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

hostedclusterconfigoperator: reconcile Primary UDN guest DNS and oauth bridge
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  control-plane-operator/hostedclusterconfigoperator/controllers/primaryudn/dns_operator.go
  control-plane-operator/hostedclusterconfigoperator/controllers/primaryudn/guest_info.go
  control-plane-operator/hostedclusterconfigoperator/controllers/primaryudn/internal_dns.go
  control-plane-operator/hostedclusterconfigoperator/controllers/primaryudn/mgmt_oauth.go
  control-plane-operator/hostedclusterconfigoperator/controllers/primaryudn/oauth_bridge.go
  control-plane-operator/hostedclusterconfigoperator/controllers/primaryudn/reconciler.go
  control-plane-operator/hostedclusterconfigoperator/controllers/primaryudn/setup.go
  control-plane-operator/hostedclusterconfigoperator/controllers/primaryudn/util.go
  control-plane-operator/hostedclusterconfigoperator/operator/config.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

e2e: Add option to create kubevirt with primaruUDN
  test/e2e/e2e_test.go
  test/e2e/util/options.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat(aws): migrate EC2 client to AWS SDK v2
  cmd/bastion/aws/create.go
  cmd/bastion/aws/destroy.go
  cmd/consolelogs/aws/getlogs.go
  cmd/infra/aws/create.go
  cmd/infra/aws/destroy.go
  cmd/infra/aws/ec2.go
  cmd/infra/aws/route53.go
  cmd/infra/aws/util/util.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_test.go
  control-plane-operator/controllers/healthcheck/aws.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  hypershift-operator/controllers/nodepool/instancetype/aws/provider.go
  hypershift-operator/controllers/nodepool/instancetype/aws/provider_test.go
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  hypershift-operator/controllers/nodepool/metrics/metrics_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/platform/aws/controller.go
  hypershift-operator/controllers/platform/aws/controller_test.go
  hypershift-operator/main.go
  karpenter-operator/controllers/karpenter/machine_approver.go
  karpenter-operator/controllers/karpenter/machine_approver_test.go
  support/awsclient/client.go
  support/awsclient/fake/fake.go
  support/awsutil/sg.go
  test/e2e/karpenter_test.go
  test/e2e/nodepool_autorepair_test.go
  test/e2e/nodepool_day2_tags_test.go
  test/e2e/nodepool_imagetype_test.go
  test/e2e/nodepool_kms_root_volume_test.go
  test/e2e/util/aws.go
  test/e2e/util/dump/journals.go
  test/e2e/util/util.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

refactor(cleanzones): migrate AWS SDK from v1 to v2
  contrib/cleanzones/go.mod
  contrib/cleanzones/go.sum
  contrib/cleanzones/main.go
Due: none

feat(cpo): inject token-minter as native sidecar init container
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/main.go
  control-plane-operator/main_test.go
  support/controlplane-component/controlplane-component.go
  support/controlplane-component/token-minter-container.go
  support/controlplane-component/token-minter-container_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(e2e): remove GCP CCM crash toleration
  test/e2e/util/util.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

kubevirt: recreate HCP namespace when Primary UDN annotation is missing
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify
