Repository openshift/hypershift: changes, and which Prow jobs are due for each by the changed paths.
All: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Path conditions:
  verify: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  unit: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-azure: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-aws: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-kubevirt-aws-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-ibmcloud-iks: any of: ^api/
  e2e-ibmcloud-roks: any of: ^api/
  ci/prow/e2e-aws: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-azure: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-ibmcloud-iks: any of: ^api/
  ci/prow/e2e-ibmcloud-roks: any of: ^api/
  ci/prow/e2e-kubevirt-aws-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-kubevirt-azure-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/unit: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/verify: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)

OCPBUGS-48708: correct aro azureFile config and permissions
  control-plane-operator/controllers/hostedcontrolplane/v2/storage/azure.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

OCPBUGS-48688: propogate MANAGED_SERVICE env variable to HCCO v2
  control-plane-operator/controllers/hostedcontrolplane/v2/configoperator/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/configoperator/deployment.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Adds contributor role over VNET for Cloud Provider
  cmd/infra/azure/create.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Remove client secret references for managed Azure
  cmd/cluster/azure/create.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_complicated_invocation_from_bryan.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_availability_ones.yaml
  cmd/infra/azure/create.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/providerconfig.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Assign appropriate roles for CP IDs for ARO HCP
  cmd/infra/azure/create.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Refactor cluster-network-operator
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-network-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-network-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-network-operator/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-network-operator/zz_fixture_TestControlPlaneComponents_component_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-network-operator/azure-secretprovider.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-network-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-network-operator/role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-network-operator/rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-network-operator/serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cno/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cno/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cno/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cno/rbac.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Update managed Azure contrib documents
  contrib/managed-azure/README.md
  contrib/managed-azure/Setting up workload identity for Azure HC.md
  contrib/managed-azure/create_basic_hosted_cluster.sh
  contrib/managed-azure/setup_aks_cluster.sh
  contrib/managed-azure/setup_dev_environment.md
Due: none

OCPBUGS-46342: Allow ARM64 arch deployment on Agent platform
  api/hypershift/v1beta1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  hack/app-sre/saas_template.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Update Create Azure Cluster on AKS Upstream Docs
  contrib/managed-azure/README.md
  docs/content/how-to/azure/create-azure-cluster_on_aks.md
Due: none

OCPBUGS-49370: openstack: update CAPI provider deployment spec
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Remove MachineIdentityID from Azure HyperShift API
  api/hypershift/v1beta1/azure.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Run `make update`
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/azurenodepoolplatform.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/azure.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

HOSTEDCP-2169: Add Azure Scheduler
  docs/content/how-to/azure/scheduler.md
  hypershift-operator/controllers/hostedcluster/karpenter.go
  hypershift-operator/controllers/scheduler/aws/autoscaler.go
  hypershift-operator/controllers/scheduler/aws/autoscaler_test.go
  hypershift-operator/controllers/scheduler/aws/dedicated_request_serving_nodes.go
  hypershift-operator/controllers/scheduler/aws/dedicated_request_serving_nodes_test.go
  hypershift-operator/controllers/scheduler/aws/placeholders.go
  hypershift-operator/controllers/scheduler/aws/placeholders_test.go
  hypershift-operator/controllers/scheduler/azure/controller.go
  hypershift-operator/controllers/scheduler/azure/controllers_test.go
  hypershift-operator/controllers/scheduler/util/scheduler.go
  hypershift-operator/controllers/scheduler/util/scheduler_test.go
  hypershift-operator/main.go
  test/e2e/karpenter_test.go
  test/e2e/util/requestserving.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Fix IsProgressing condition in HostedClusters
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/deployment.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  ignition-server/controllers/local_ignitionprovider.go
  support/util/imagemetadata.go
  support/util/imagemetadata_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Remove MachineIdentityID from CLI & NP controller
  cmd/cluster/azure/create.go
  cmd/cluster/azure/create_test.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_complicated_invocation_from_bryan.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_create_with_a_ure_marketplace_image.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_availability_ones.yaml
  cmd/infra/azure/create.go
  hypershift-operator/controllers/nodepool/azure.go
  hypershift-operator/controllers/nodepool/azure_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Update export USER_ACCOUNT_ID cmd to remove quotes
  docs/content/how-to/azure/create-azure-cluster_on_aks.md
Due: none

Update Azure contrib README.md step 1 hyperlink
  contrib/managed-azure/README.md
  docs/content/how-to/azure/create-azure-cluster_on_aks.md
Due: none

Add instructions for ccoctl and fix minor issues
  docs/content/how-to/azure/create-azure-cluster_on_aks.md
Due: none

add ValidIDPConfiguration condition to report IDP config issues
  api/v1beta1/hostedcluster_conditions.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/config.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

cpo: produce valid oauth config even if idp config is invalid
  control-plane-operator/controllers/hostedcontrolplane/oauth/config.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Expose TenantID directly in the Azure API
  api/hypershift/v1beta1/azure.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Bump hypershift go module to go 1.20
  Dockerfile
  go.mod
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Fix overwriting of PKI operator HCP conditions
  control-plane-pki-operator/certrotationcontroller/certrotationcontroller.go
  control-plane-pki-operator/clienthelpers/conditions.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

switch to resource.k8s.io/v1beta1 after kube 1.32 rebase
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

CI test - don't review
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Run `make api`
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HCPPodsLabels.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/azureplatformspec.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/azure.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

NO-JIRA: add assignServicePrincipal check before assignign roles to WI
  cmd/infra/azure/create.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/karpenter.go
  test/e2e/karpenter_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Refactor cluster-node-tuning-operator
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-node-tuning-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-node-tuning-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-node-tuning-operator/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-node-tuning-operator/zz_fixture_TestControlPlaneComponents_component_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-node-tuning-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-node-tuning-operator/role.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-node-tuning-operator/rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-node-tuning-operator/service.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-node-tuning-operator/serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-node-tuning-operator/servicemonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/nto/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/nto/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/nto/servicemonitor.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Update CLI & HO for TenantID for Azure
  cmd/cluster/azure/create.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_complicated_invocation_from_bryan.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_create_with_a_ure_marketplace_image.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_availability_ones.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/azure/azure.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Update CPO for TenantID for Azure
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cno/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/storage/azure.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Run `make api`
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/HCPPodsLabels.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/azureplatformspec.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/azure.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Update CPO for TenantID for Azure
  control-plane-operator/controllers/hostedcontrolplane/cloud/azure/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/azure/config.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

DNM - e2e/openstack: don't check ValidatingAdmissionPolicy
  test/e2e/util/hypershift_framework.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Perform 0.2 to 0.3 migration of buildah tktn task
  .tekton/hypershift-release-414-pull-request.yaml
  .tekton/hypershift-release-414-push.yaml
Due: none
