Repository openshift/hypershift: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

e2e-aws-pooled:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: hypershift
    product: ocp
    timeout: 1h30m0s
    version: '4.8'
  steps:
    test:
    - as: install-hypershift
      cli: latest
      commands: make ci-install-hypershift
      credentials:
      - mount_path: /etc/hypershift-pool-aws-credentials
  ...

ci/prow/e2e-aws:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-ibmcloud-iks:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-ibmcloud-roks:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-e2e-kubevirt-aws-ovn:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci-operator.openshift.io/variant: kubevirt
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/verify:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Remove unused exported functions
  control-plane-operator/controllers/hostedcontrolplane/manifests/ingress.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/oauth.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/openshift_oauth_apiserver.go
  control-plane-operator/controllers/hostedcontrolplane/pki/ca.go
  control-plane-operator/controllers/hostedcontrolplane/pki/openshift.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/creds.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/monitoring.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/openshift_apiserver.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/openshift_controllermanager.go
  support/assets/readasset.go
  support/certs/tls.go
  support/rhobsmonitoring/scheme.go
  support/util/networking.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Remove unused global variables
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/pki/cert.go
  support/api/scheme.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Unwrap unneeded parentheses
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/main.go
  support/assets/readasset.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Copy condition from hcp
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Validate etcd KMS config
  api/v1beta1/hostedcluster_conditions.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/aws_kms.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/kas.go
  docs/content/reference/api.md
  support/awsutil/sts.go
  support/util/svcaccounts.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Remove validation webhook
  Makefile
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
  hypershift-operator/main.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Remove unused functions & minor fixes
  control-plane-operator/controllers/hostedcontrolplane/pki/ca.go
  support/certs/tls.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Clone CA key/cert to TLS key/cert
  support/certs/tls.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Associate all kubevirt infra cluster resources with a cluster using an infra id label
  api/v1alpha1/hostedcluster_types.go
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/kubevirt.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/ingress.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

create external route for Private clusters
  api/fixtures/example.go
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/infra.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/route.go
  hack/app-sre/saas_template.yaml
  support/util/route.go
  test/e2e/util/oauth.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Modified AWSPrivateLinkController and AWSEndpointServiceController to respect PausedUntil spec field
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  hypershift-operator/controllers/platform/aws/controller.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Update HCP version in capi cluster ref
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Update the pull secret source for ignition payload
  control-plane-operator/controllers/hostedcontrolplane/mcs/reconcile.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  ignition-server/cmd/run_local_ignitionprovider.go
  ignition-server/controllers/local_ignitionprovider.go
  ignition-server/controllers/machineconfigserver_ignitionprovider.go
  ignition-server/controllers/tokensecret_controller.go
  ignition-server/controllers/tokensecret_controller_test.go
  support/util/util.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

fix(HO+CPO): Use HC annotation for override
  api/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/params.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/params.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/params.go
  control-plane-operator/controllers/hostedcontrolplane/dnsoperator/dnsoperator.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/params.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/params.go
  control-plane-operator/controllers/hostedcontrolplane/machineapprover/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/params.go
  control-plane-operator/controllers/hostedcontrolplane/olm/params.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/params.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/params.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

WIP: add CCM to HCP
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/manifests.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/namespaces.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

OSD-15099: Delaying the creation of servicemonitor and podmonitor resources till the hostedcluster is Completed
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Add PodMonitor for ingress-operator pods in HCP namespaces
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/ingressoperator.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Drop conversion webhook and v1alpha1 code
  api/scheme.go
  api/v1alpha1/capi_types.go
  api/v1alpha1/clusterconfig.go
  api/v1alpha1/conditions.go
  api/v1alpha1/doc.go
  api/v1alpha1/endpointservice_types.go
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/hosted_controlplane.go
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/nodepool_types.go
  api/v1alpha1/zz_conversion.go
  api/v1alpha1/zz_conversion_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/conversion.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_awsendpointservices.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  cmd/install/install.go
  cmd/util/client.go
  cmd/util/v1alpha1_wrapper.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  hypershift-operator/main.go
  support/api/scheme.go
  support/config/ownerref.go
  support/config/ownerref_test.go
  support/util/route.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Add AWS cloud controller manager
  api/v1beta1/hostedcluster_types.go
  cmd/infra/aws/iam.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/manifests.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/namespaces.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  test/e2e/nodepool_test.go
  test/e2e/nodepool_upgrade_test.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

OCPBUGS-8381: Use appropriate serving certificate for OAuth
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/config.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/pki/oauth.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/oauth/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

HOSTEDCP-501: Added detailed documentation about Hypershift release process
  docs/content/contribute/release-process.md
Due: none

HOSTEDCP-919: Clean up and API doc
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/manifests.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Ensure identity provider health check condition is persisted and remove awsendpoint control plane finalizer if invalid aws creds
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

E2E NodePool Upgrade Test refactored
  test/e2e/nodepool_test.go
  test/e2e/nodepool_upgrade_test.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

HOSTEDCP-445: Documented the possible issues found during a HostedCluster migration
  docs/content/how-to/aws/disaster-recovery.md
  docs/content/how-to/aws/troubleshooting.md
  docs/mkdocs.yml
Due: none

Appstudio update hypershift-azjx
  .tekton/hypershift-azjx-pull-request.yaml
  .tekton/hypershift-azjx-push.yaml
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Force controleplane upgrade always
  test/e2e/control_plane_upgrade_test.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

HOSTEDCP-839: Audit log sidecars for openshift-apiserver and openshift-oauth-apiserver
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/auditcfg.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/config.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

This PR creates a second scheme, InstallScheme
  api/scheme.go
  cmd/install/install.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Path conditions:
  e2e-aws-pooled: unless all of: (^(docs|examples|enhancements)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-aws: unless all of: (^(docs|examples|enhancements)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-ibmcloud-iks: any of: ^api/
  ci/prow/e2e-ibmcloud-roks: any of: ^api/
  ci/prow/kubevirt-e2e-kubevirt-aws-ovn: unless all of: (^(docs|examples|enhancements)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/unit: unless all of: (^(docs|examples|enhancements)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/verify: unless all of: (^(docs|examples|enhancements)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
