Repository openshift/hypershift: changes, and which Prow jobs are due for each by the changed paths.
All: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

verify:
  commands: make verify
  container:
    from: src

unit:
  commands: make test
  container:
    from: src

e2e-azure:
  optional: true
  steps:
    cluster_profile: hypershift
    env:
      ENABLE_HYPERSHIFT_CERT_ROTATION_SCALE: 'true'
    workflow: hypershift-azure-e2e-nested

e2e-aws:
  steps:
    cluster_profile: hypershift
    env:
      ENABLE_HYPERSHIFT_CERT_ROTATION_SCALE: 'true'
      OCP_IMAGE_LATEST: release:multi-latest
      OCP_IMAGE_PREVIOUS: release:multi-initial
    workflow: hypershift-aws-e2e-nested

e2e-kubevirt-aws-ovn:
  steps:
    cluster_profile: aws
    env:
      COMPUTE_NODE_REPLICAS: '1'
      COMPUTE_NODE_TYPE: c5n.metal
      ENABLE_HYPERSHIFT_CERT_ROTATION_SCALE: 'true'
      ENABLE_HYPERSHIFT_OPERATOR_DEFAULTING_WEBHOOK: 'true'
      ETCD_STORAGE_CLASS: gp3-csi
      KUBEVIRT_CSI_INFRA: gp3-csi
  ...

e2e-ibmcloud-iks:
  optional: true
  steps:
    env:
      BOM_VERSION: 4.12.0_openshift
      MANAGED_CLUSTER_TYPE: iks
      MANAGEMENT_CLUSTER_KUBECONFIG: /etc/ibmcloud/secrets/iks.kubeconfig
      TEST_TYPE: main
      VERIFY_COMPLIANCE_OPERATOR_SCAN: 'false'
    workflow: hypershift-ibmcloud-e2e

e2e-ibmcloud-roks:
  optional: true
  steps:
    env:
      BOM_VERSION: 4.13.0_openshift
      MANAGED_CLUSTER_TYPE: openshift
      MANAGEMENT_CLUSTER_KUBECONFIG: /etc/ibmcloud/secrets/roks.kubeconfig
      TEST_TYPE: main
      VERIFY_COMPLIANCE_OPERATOR_SCAN: 'true'
    workflow: hypershift-ibmcloud-e2e

ci/prow/e2e-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: hypershift
    ci-operator.openshift.io/cloud-cluster-profile: hypershift
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-azure:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: hypershift
    ci-operator.openshift.io/cloud-cluster-profile: hypershift
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-ibmcloud-iks:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-ibmcloud-roks:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Document automated release process in release-process.md
  docs/content/contribute/release-process.md
Due: none

docs: document CAPI provider image override mechanisms
  docs/content/reference/aggregated-docs.md
  docs/content/reference/capi-image-overrides.md
  docs/mkdocs.yml
Due: none

fix(test): update golden fixtures after gating capabilities field
  cmd/cluster/agent/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_successfully.yaml
  cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_When_KubeAPIServerDNSName_is_provided__it_should_configure_custom_DNS_name.yaml
  cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_When_OVNKubernetesMTU_is_provided__it_should_configure_custom_MTU.yaml
  cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_When_default_creation_flags_are_provided__it_should_create_cluster_with_expected_configuration.yaml
  cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_successfully.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_Azure_Marketplace_image_flags_are_provided__it_should_configure_marketplace_image.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_KubeAPIServerDNSName_is_provided__it_should_configure_custom_DNS_name.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_availability_zones_and_image_generation_Gen1_are_provided__it_should_configure_zones_with_Gen1.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_availability_zones_are_provided__it_should_configure_zones.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_complex_configuration_flags_are_provided__it_should_create_cluster_with_all_options.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_endpoint_access_is_Private_with_private_flags__it_should_configure_private_endpoint_access.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_image_generation_Gen1_is_provided__it_should_configure_Gen1_images.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_image_generation_Gen2_is_provided__it_should_configure_Gen2_images.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_marketplace_flags_and_image_generation_Gen1_are_provided__it_should_configure_marketplace_with_Gen1.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_successfully.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_When_oauth_publishing_strategy_is_LoadBalancer__it_should_configure_OAuth_LoadBalancer.yaml
  cmd/cluster/gcp/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_successfully.yaml
  cmd/cluster/kubevirt/testdata/zz_fixture_TestCreateCluster_When_complex_configuration_flags_are_provided__it_should_create_cluster_with_all_options.yaml
  cmd/cluster/kubevirt/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_successfully.yaml
  cmd/cluster/none/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_successfully.yaml
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_When_default_creation_flags_are_provided__it_should_render_successfully.yaml
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_successfully.yaml
  cmd/cluster/powervs/testdata/zz_fixture_TestCreateCluster_When_minimal_flags_are_provided__it_should_render_successfully.yaml
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

test(e2e): consolidate Azure lifecycle test lanes
  test/e2e/v2/lifecycle/azure.go
  test/e2e/v2/lifecycle/azure_test.go
  test/e2e/v2/lifecycle/platform.go
  test/e2e/v2/lifecycle/testplan_test.go
  test/e2e/v2/tests/azure_test_matrix_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

docs: document Azure lifecycle lane consolidation
  docs/content/how-to/ci/v2-testing/ci-pipeline.md
  docs/content/how-to/ci/v2-testing/test-flow.md
  docs/content/reference/aggregated-docs.md
Due: none

build(deps): patch library-go for Kubernetes 1.37
  hack/patch-vendor.sh
  hack/patches/library-go-k8s-1.37-builder.patch
  hack/patches/library-go-k8s-1.37-manifest.patch
  vendor/github.com/openshift/library-go/pkg/controller/controllercmd/builder.go
  vendor/github.com/openshift/library-go/pkg/manifestclient/read_roundtripper.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

build(api): bump Kubernetes dependencies to 1.37
  api/go.mod
  api/go.sum
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

build(deps): bump root Kubernetes dependencies to 1.37
  go.mod
  go.sum
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

test(e2e): add Kubernetes 1.37 envtest coverage
  .github/workflows/envtest-kube-reusable.yaml
  AGENTS.md
  Makefile
  test/envtest/README.md
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

test(e2e): port scale-from-zero autoscaling test to v2 framework
  test/e2e/v2/tests/nodepool_autoscaling_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

docs(gcp): explain workload identity webhook mutation
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/gcp_workload_identity_federation_webhook_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/how-to/gcp/index.md
  docs/content/how-to/gcp/workload-identity-webhook.md
  docs/mkdocs.yml
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

docs: update v2 test flow for Azure lifecycle sharding
  docs/content/how-to/ci/v2-testing/test-flow.md
  docs/content/reference/aggregated-docs.md
Due: none

docs: update Azure lifecycle test flow
  docs/content/how-to/ci/v2-testing/test-flow.md
Due: none

docs: regenerate aggregated test-flow documentation
  docs/content/reference/aggregated-docs.md
Due: none

docs(gcp): regenerate aggregated docs
  docs/content/reference/aggregated-docs.md
Due: none

test(e2e): consolidate Azure lifecycle test lanes
  test/e2e/v2/lifecycle/azure.go
  test/e2e/v2/lifecycle/azure_test.go
  test/e2e/v2/tests/azure_test_matrix_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

test(e2e): reject variants shared by concurrent lanes
  test/e2e/v2/lifecycle/platform.go
  test/e2e/v2/lifecycle/testplan_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

refactor(cmd): move dump.go to its own cmd/cluster/dump package
  cmd/cluster/dump/dump.go
  cmd/cluster/dump/dump_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

docs: complete Azure lifecycle lane details
  docs/content/how-to/ci/v2-testing/test-flow.md
  docs/content/reference/aggregated-docs.md
Due: none

fix(cmd): update callers to import dump from new package path
  cmd/dump/dump.go
  test/e2e/util/dump/dump.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Revert "Merge pull request #9543 from ironcladlou/e2e-promotion"
  .codespellignore
  .golangci.yml
  hack/tools/hypershiftlinter/README.md
  hack/tools/hypershiftlinter/analyzers/e2eteststate/e2eteststate.go
  hack/tools/hypershiftlinter/analyzers/e2eteststate/e2eteststate_test.go
  hack/tools/hypershiftlinter/analyzers/e2eteststate/testdata/src/test/e2e/v2/bad/bad_test.go
  hack/tools/hypershiftlinter/analyzers/e2eteststate/testdata/src/test/e2e/v2/good/good_test.go
  hack/tools/hypershiftlinter/plugin.go
  test/e2e/v2/AGENTS.md
  test/e2e/v2/internal/fail_handler.go
  test/e2e/v2/tests/backup_restore_test.go
  test/e2e/v2/tests/control_plane_infrastructure_test.go
  test/e2e/v2/tests/control_plane_tls_operator_test.go
  test/e2e/v2/tests/control_plane_upgrade_test.go
  test/e2e/v2/tests/control_plane_workloads_test.go
  test/e2e/v2/tests/etcd_chaos_test.go
  test/e2e/v2/tests/hosted_cluster_aws_test.go
  test/e2e/v2/tests/hosted_cluster_azure_test.go
  test/e2e/v2/tests/hosted_cluster_ccm_test.go
  test/e2e/v2/tests/hosted_cluster_compliance_test.go
  test/e2e/v2/tests/hosted_cluster_cpo_test.go
  test/e2e/v2/tests/hosted_cluster_dns_test.go
  test/e2e/v2/tests/hosted_cluster_external_oidc_test.go
  test/e2e/v2/tests/hosted_cluster_health_test.go
  test/e2e/v2/tests/hosted_cluster_image_registry_test.go
  test/e2e/v2/tests/hosted_cluster_ingress_test.go
  test/e2e/v2/tests/hosted_cluster_metrics_test.go
  test/e2e/v2/tests/hosted_cluster_node_communication_test.go
  test/e2e/v2/tests/hosted_cluster_psc_test.go
  test/e2e/v2/tests/hosted_cluster_pull_secret_test.go
  test/e2e/v2/tests/hosted_cluster_secret_encryption_test.go
  test/e2e/v2/tests/hosted_cluster_security_test.go
  test/e2e/v2/tests/karpenter_control_plane_upgrade_test.go
  test/e2e/v2/tests/karpenter_test.go
  test/e2e/v2/tests/nodepool_arm64_create_test.go
  test/e2e/v2/tests/nodepool_autoscaling_test.go
  test/e2e/v2/tests/nodepool_lifecycle_test.go
  test/e2e/v2/tests/nodepool_osimagestream_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

test(gcp): add informing label to workload identity test
  test/e2e/v2/tests/hosted_cluster_gcp_wif_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

build(cli): replace broad COPY with targeted COPY statements
  Containerfile.cli
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

ci(cli): pass COMMIT_HASH build arg in CLI Tekton pipelines
  .tekton/hypershift-cli-mce-51-pull-request.yaml
  .tekton/hypershift-cli-mce-51-push.yaml
Due: none

fix(OCPBUGS-121208): filter AWS-reserved tag keys before calling DeleteTags
  support/awsutil/sg.go
  support/awsutil/sg_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

refactor(e2e): migrate Karpenter AWS flows to v2 helpers
  test/e2e/v2/tests/karpenter_test.go
  test/e2e/v2/util/aws.go
  test/e2e/v2/util/aws_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

refactor(e2e): add v2 helpers independent of testing.TB
  test/e2e/v2/internal/test_context.go
  test/e2e/v2/internal/test_context_test.go
  test/e2e/v2/util/eventually.go
  test/e2e/v2/util/eventually_test.go
  test/e2e/v2/util/nodes.go
  test/e2e/v2/util/nodes_test.go
  test/e2e/v2/util/object.go
  test/e2e/v2/util/object_test.go
  test/e2e/v2/util/pod_exec.go
  test/e2e/v2/util/pod_exec_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

ci(e2e): enforce testing.TB helper boundary in v2
  .golangci.yml
  hack/tools/hypershiftlinter/README.md
  hack/tools/hypershiftlinter/analyzers/e2eutilallowlist/e2eutilallowlist.go
  hack/tools/hypershiftlinter/analyzers/e2eutiltestingtb/e2eutiltestingtb.go
  hack/tools/hypershiftlinter/analyzers/e2eutiltestingtb/e2eutiltestingtb_test.go
  hack/tools/hypershiftlinter/analyzers/e2eutiltestingtb/testdata/src/github.com/openshift/hypershift/test/e2e/util/util.go
  hack/tools/hypershiftlinter/analyzers/e2eutiltestingtb/testdata/src/test/e2e/v2/bad/bad_test.go
  hack/tools/hypershiftlinter/analyzers/e2eutiltestingtb/testdata/src/test/e2e/v2/good/good_test.go
  hack/tools/hypershiftlinter/plugin.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

refactor(e2e): port Azure validation flows from testing.TB
  test/e2e/v2/tests/hosted_cluster_azure_test.go
  test/e2e/v2/util/azure.go
  test/e2e/v2/util/azure_test.go
  test/e2e/v2/util/cidr.go
  test/e2e/v2/util/cidr_test.go
  test/e2e/v2/util/ingress.go
  test/e2e/v2/util/ingress_test.go
  test/e2e/v2/util/oauth.go
  test/e2e/v2/util/oauth_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

refactor(e2e): migrate suites from testing.TB helpers
  test/e2e/v2/tests/control_plane_upgrade_test.go
  test/e2e/v2/tests/etcd_chaos_test.go
  test/e2e/v2/tests/hosted_cluster_aws_test.go
  test/e2e/v2/tests/hosted_cluster_ccm_test.go
  test/e2e/v2/tests/hosted_cluster_pull_secret_test.go
  test/e2e/v2/tests/karpenter_control_plane_upgrade_test.go
  test/e2e/v2/tests/nodepool_arm64_create_test.go
  test/e2e/v2/tests/nodepool_autoscaling_test.go
  test/e2e/v2/tests/nodepool_lifecycle_test.go
  test/e2e/v2/tests/nodepool_osimagestream_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(e2e): register port-forward cleanup inside helper to prevent goroutine leaks
  test/e2e/util/oauth.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

test(e2ev2): add Azure OAuth LoadBalancer private topology test
  hack/tools/hypershiftlinter/analyzers/e2eutilallowlist/e2eutilallowlist.go
  test/e2e/util/oauth.go
  test/e2e/v2/lifecycle/azure.go
  test/e2e/v2/lifecycle/azure_test.go
  test/e2e/v2/tests/hosted_cluster_azure_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(dump): address review feedback for platform CRD gating
  cmd/cluster/core/dump.go
  cmd/cluster/core/dump_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(e2e): Make InstallHyperShiftOperator platform aware
  test/e2e/e2e_test.go
  test/e2e/util/install.go
  test/e2e/util/options.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(capi): serve all core CAPI CRDs at cluster.x-k8s.io/v1beta2
  Makefile
  cmd/install/assets/cluster-api/cluster.x-k8s.io_clusterclasses.yaml
  cmd/install/assets/cluster-api/cluster.x-k8s.io_clusters.yaml
  cmd/install/assets/cluster-api/cluster.x-k8s.io_machinedeployments.yaml
  cmd/install/assets/cluster-api/cluster.x-k8s.io_machinedrainrules.yaml
  cmd/install/assets/cluster-api/cluster.x-k8s.io_machinehealthchecks.yaml
  cmd/install/assets/cluster-api/cluster.x-k8s.io_machinepools.yaml
  cmd/install/assets/cluster-api/cluster.x-k8s.io_machines.yaml
  cmd/install/assets/cluster-api/cluster.x-k8s.io_machinesets.yaml
  hack/patch-capi-crds-v1beta2.sh
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

refactor(ho): improve --hcp-egress-block-cidrs validation
  cmd/install/install.go
  cmd/util/util.go
  cmd/util/util_test.go
  hypershift-operator/main.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat(api): add control plane component configuration
  api/hypershift/v1beta1/hosted_controlplane.go
  api/hypershift/v1beta1/hostedcluster_types.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat(hypershift-operator): propagate component configuration
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Path conditions:
  verify: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  unit: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-azure: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-aws: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-kubevirt-aws-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-ibmcloud-iks: any of: ^api/
  e2e-ibmcloud-roks: any of: ^api/
  ci/prow/e2e-aws: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-azure: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-ibmcloud-iks: any of: ^api/
  ci/prow/e2e-ibmcloud-roks: any of: ^api/
  ci/prow/e2e-kubevirt-aws-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-kubevirt-azure-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/unit: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/verify: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
