Repository openshift/hypershift: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

e2e-aws-pooled:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: hypershift
    product: ocp
    timeout: 1h30m0s
    version: '4.8'
  steps:
    test:
    - as: install-hypershift
      cli: latest
      commands: make ci-install-hypershift
      credentials:
      - mount_path: /etc/hypershift-pool-aws-credentials
  ...

ci/prow/e2e-aws:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-ibmcloud-iks:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-ibmcloud-roks:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-e2e-kubevirt-aws-ovn:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci-operator.openshift.io/variant: kubevirt
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/verify:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

update to golang 1.19 and 4.13 base image
  .ci-operator.yaml
  Dockerfile
  Dockerfile.control-plane
  Dockerfile.fast
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Refactored NTO MachineConfig InPlace and Replace E2E Tests
  test/e2e/nodepool_machineconfig_test.go
  test/e2e/nodepool_nto_machineconfig_test.go
  test/e2e/nodepool_test.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

fix(nto): Disable service account token automount
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Do not include deprecated global config for HostedCluster
  api/v1alpha1/zz_conversion.go
  api/v1alpha1/zz_conversion_test.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

test: skip ovnkube-master in crashing pods check
  test/e2e/util/util.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Add e2e test for cluster creation with AWS KMS
  control-plane-operator/controllers/hostedcontrolplane/kas/aws_kms.go
  go.mod
  go.sum
  test/e2e/create_cluster_test.go
  test/e2e/util/aws.go
  vendor/modules.txt
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

fix(ibmcloud): Initialize image registry config on creates and bad config
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/registry/reconcile_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/registry/registry.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Dcoumentation modified about the disaster recovery method known as HostedCluster migration
  docs/content/how-to/aws/disaster-recovery.md
  docs/content/how-to/aws/external-dns.md
  docs/mkdocs.yml
Due: none

fix(cpo): Separate RBAC for NTO + CNO
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/cno.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/nto.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Set k8s.io/kubernetes dependency to v0.23.3
  go.mod
  vendor/modules.txt
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

fix openshift-route-controller-manager ServiceMonitor regex
  support/metrics/sets.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

AWS: remove finalizer from deleted awsmachines if lost STS
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/aws/aws.go
  hypershift-operator/controllers/hostedcluster/internal/platform/platform.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

fix(cpo): Allow KAS profiling disablement
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

fix(cpo): Restart registry operator on annotation
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Add dns docs clarification for private topology
  docs/content/how-to/aws/external-dns.md
Due: none

OpenID add support for groups claim in the config
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert_test.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Fix CAPA crd generation
  Makefile
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsclustercontrolleridentities.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsclusterroleidentities.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsclusterstaticidentities.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsmachinepools.yaml
  cmd/install/assets/cluster-api-provider-aws/infrastructure.cluster.x-k8s.io_awsmanagedmachinepools.yaml
  hack/app-sre/saas_template.yaml
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Fix Getting Started note
  docs/content/getting-started.md
Due: none

Update UpgradeType note on NodePool Upgrades page
  docs/content/how-to/automated-machine-management/nodepool-upgrades.md
Due: none

reduce ignition server scope
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

reduce cno rules
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

reduce capi rbac
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

remove olm collect for ibmcloud environments to reduce configmap artifact load and rbac scope
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

reduce ignition server rbac
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

reduce access of cno when calico is being used as network provider
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Use KAS kubeconfig for PowerVS CCM Instead of external kubeconfig
  control-plane-operator/controllers/hostedcontrolplane/cloud/powervs/powervs.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Update HCP version in capi cluster ref
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

reduce ignition server scope (#2124)
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Changes autoscalling replica number the nodepool replica is not set
  hypershift-operator/controllers/nodepool/inplace.go
  hypershift-operator/controllers/nodepool/inplace_test.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/nodepool_controller_test.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

konnectivity: fix hosted clusters trust
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/konnectivity/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/konnectivity.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  support/util/util.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Disaster recovery procedure for private Hosted Clusters
  docs/content/how-to/aws/disaster-recovery.md
Due: none

Add external DNS health condition
  api/v1beta1/hostedcluster_conditions.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/util/expose.go
  support/util/util.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Path conditions:
  e2e-aws-pooled: unless all of: (^(docs|examples|enhancements)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-aws: unless all of: (^(docs|examples|enhancements)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-ibmcloud-iks: any of: ^api/
  ci/prow/e2e-ibmcloud-roks: any of: ^api/
  ci/prow/kubevirt-e2e-kubevirt-aws-ovn: unless all of: (^(docs|examples|enhancements)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/unit: unless all of: (^(docs|examples|enhancements)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/verify: unless all of: (^(docs|examples|enhancements)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
