Repository openshift/hypershift: changes, and which Prow jobs are due for each by the changed paths.
All: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

verify:
  commands: make verify
  container:
    from: src

unit:
  commands: make test
  container:
    from: src

e2e-azure:
  optional: true
  steps:
    cluster_profile: hypershift
    env:
      ENABLE_HYPERSHIFT_CERT_ROTATION_SCALE: 'true'
    workflow: hypershift-azure-e2e-nested

e2e-aws:
  steps:
    cluster_profile: hypershift
    env:
      ENABLE_HYPERSHIFT_CERT_ROTATION_SCALE: 'true'
      OCP_IMAGE_LATEST: release:multi-latest
      OCP_IMAGE_PREVIOUS: release:multi-initial
    workflow: hypershift-aws-e2e-nested

e2e-kubevirt-aws-ovn:
  steps:
    cluster_profile: aws
    env:
      COMPUTE_NODE_REPLICAS: '1'
      COMPUTE_NODE_TYPE: c5n.metal
      ENABLE_HYPERSHIFT_CERT_ROTATION_SCALE: 'true'
      ENABLE_HYPERSHIFT_OPERATOR_DEFAULTING_WEBHOOK: 'true'
      ETCD_STORAGE_CLASS: gp3-csi
      KUBEVIRT_CSI_INFRA: gp3-csi
  ...

e2e-ibmcloud-iks:
  optional: true
  steps:
    env:
      BOM_VERSION: 4.12.0_openshift
      MANAGED_CLUSTER_TYPE: iks
      MANAGEMENT_CLUSTER_KUBECONFIG: /etc/ibmcloud/secrets/iks.kubeconfig
      TEST_TYPE: main
      VERIFY_COMPLIANCE_OPERATOR_SCAN: 'false'
    workflow: hypershift-ibmcloud-e2e

e2e-ibmcloud-roks:
  optional: true
  steps:
    env:
      BOM_VERSION: 4.13.0_openshift
      MANAGED_CLUSTER_TYPE: openshift
      MANAGEMENT_CLUSTER_KUBECONFIG: /etc/ibmcloud/secrets/roks.kubeconfig
      TEST_TYPE: main
      VERIFY_COMPLIANCE_OPERATOR_SCAN: 'true'
    workflow: hypershift-ibmcloud-e2e

ci/prow/e2e-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: hypershift
    ci-operator.openshift.io/cloud-cluster-profile: hypershift
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-azure:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: hypershift
    ci-operator.openshift.io/cloud-cluster-profile: hypershift
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-ibmcloud-iks:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-ibmcloud-roks:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

add region to AWS creds passed to operators
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

test/e2e: use test name for base of HC name
  test/e2e/autoscaling_test.go
  test/e2e/azure_scheduler_test.go
  test/e2e/chaos_test.go
  test/e2e/control_plane_upgrade_test.go
  test/e2e/create_cluster_test.go
  test/e2e/karpenter_test.go
  test/e2e/nodepool_test.go
  test/e2e/olm_test.go
  test/e2e/upgrade_hypershift_operator_test.go
  test/e2e/util/hypershift_framework.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Skip hashing config.image.imageStreamImportMode
  control-plane-operator/controllers/hostedcontrolplane/mcs/params.go
  hypershift-operator/controllers/nodepool/config.go
  hypershift-operator/controllers/nodepool/token.go
  support/backwardcompat/backwardcompat.go
  support/backwardcompat/backwardcompat_test.go
  support/util/util.go
  support/util/util_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Add HostedCluster additional trustbundles to konnectivity-https-proxy
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/testdata/zz_fixture_TestReconcileOauthDeploymentNoChanges.yaml
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

CNTRLPLANE-35: skip EnsureValidatingAdmissionPoliciesExists/EnsureValidatingAdmissionPoliciesCheckDeniedRequests based on HC CPO version
  test/e2e/util/util.go
  test/e2e/util/version.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Add support for cronJobs workloads in cpov2
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/assets.go
  support/config/deployment.go
  support/controlplane-component/builder.go
  support/controlplane-component/controlplane-component.go
  support/controlplane-component/controlplane-component_test.go
  support/controlplane-component/cronjob.go
  support/controlplane-component/defaults.go
  support/controlplane-component/deployment.go
  support/controlplane-component/kubeconfig.go
  support/controlplane-component/statefulset.go
  support/controlplane-component/status.go
  support/util/containers.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Refactor snapshotcontroller into cpov2
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/csi-snapshot-controller-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/csi-snapshot-controller-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/csi-snapshot-controller-operator/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/csi-snapshot-controller-operator/zz_fixture_TestControlPlaneComponents_component_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/csi-snapshot-controller-operator/04_serviceaccount-hypershift.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/csi-snapshot-controller-operator/05_operator_role-hypershift.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/csi-snapshot-controller-operator/06_operator_rolebinding-hypershift.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/csi-snapshot-controller-operator/README.md
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/csi-snapshot-controller-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/snapshotcontroller/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/snapshotcontroller/deployment.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

HOSTEDCP-1960: Add KubeAPIExteralName api
  api/hypershift/v1beta1/hosted_controlplane.go
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/kas.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/custom-admin-kubeconfig.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/kubeconfig.go
  docs/content/how-to/aws/define-custom-kube-api-name.md
  docs/mkdocs.yml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/manifests/manifests.go
  support/globalconfig/infrastructure.go
  support/util/util.go
  test/e2e/create_cluster_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

HOSTEDCP-1960: Add autogenerated code and files
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DisableClusterCapabilities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AROHCPManagedIdentities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/hostedclusterspec.go
  client/applyconfiguration/hypershift/v1beta1/hostedclusterstatus.go
  client/applyconfiguration/hypershift/v1beta1/hostedcontrolplanespec.go
  client/applyconfiguration/hypershift/v1beta1/hostedcontrolplanestatus.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hosted_controlplane.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

OCPBUGS-49825: use registryOverrides when automaitcally retrieving catalog images for hosted control plane
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/olm/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  control-plane-operator/hostedclusterconfigoperator/operator/config.go
  control-plane-operator/main.go
  support/releaseinfo/registryclient/client.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

ho: watch AWSEndpointServices
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

OCPBUGS-49825: add a new fakeImageMetaDataProvider for HCCO resources.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/olm/params.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  control-plane-operator/hostedclusterconfigoperator/operator/config.go
  support/util/fakeimagemetadataprovider/fakeimagemetadataprovider.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Introduce OpenshiftEC2NodeClass type
  Makefile
  api/go.mod
  api/go.sum
  api/karpenter/register.go
  api/karpenter/v1beta1/doc.go
  api/karpenter/v1beta1/karpenter_types.go
  api/karpenter/v1beta1/register.go
  api/karpenter/v1beta1/util.go
  api/karpenter/v1beta1/zz_generated.deepcopy.go
  karpenter-operator/controllers/karpenter/karpenter_controller.go
  karpenter-operator/controllers/karpenter/karpenter_controller_test.go
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller.go
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller_test.go
  karpenter-operator/main.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Update contribute-docs page
  docs/content/contribute/contribute-docs.md
Due: none

Remove Context
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Add precommit helpful tips docs page
  docs/content/contribute/index.md
  docs/content/contribute/precommit-hook-help.md
Due: none

test/e2e: fix WaitForImageRollout to actually wait on upgrade case
  test/e2e/control_plane_upgrade_test.go
  test/e2e/create_cluster_test.go
  test/e2e/nodepool_test.go
  test/e2e/util/util.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Enable gosimple in golangci-lint
  .golangci.yml
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

openstack: Sync CA cert to new key
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cloud_controller_manager/openstack/config.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Fix golangci-lint govet issues
  etcd-defrag/etcddefrag_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  test/e2e/util/eventually.go
  test/e2e/util/hypershift_framework.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Fix gosimple issues
  hypershift-operator/controlplaneoperator-overrides/overrides_test.go
  pkg/etcdcli/health.go
  pkg/etcdcli/helpers.go
  support/azureutil/azureutil.go
  support/globalconfig/imagecontentsource.go
  support/secretproviderclass/secretproviderclass.go
  support/thirdparty/library-go/pkg/image/reference/reference.go
  support/thirdparty/oc/pkg/cli/image/manifest/manifest.go
  support/util/containers.go
  support/util/util.go
  test/e2e/util/eventually.go
  test/e2e/util/util.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Enable govet in golangci-lint
  .golangci.yml
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

use NodeSpec in ClusterConfiguration
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DisableClusterCapabilities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/MinimumKubeletVersion.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DisableClusterCapabilities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/MinimumKubeletVersion.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

update vendor to include new library-go node package
  go.mod
  vendor/github.com/openshift/library-go/pkg/apiserver/node/minimum_kubelet_version.go
  vendor/modules.txt
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

update fixtures
  cmd/cluster/agent/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_default_creation_flags_for_cesar.yaml
  cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_complicated_invocation_from_bryan.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_create_with_a_ure_marketplace_image.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_availability_ones.yaml
  cmd/cluster/kubevirt/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/kubevirt/testdata/zz_fixture_TestCreateCluster_test_from_dvossel.yaml
  cmd/cluster/none/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_default_creation_flags.yaml
  cmd/cluster/openstack/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/cluster/powervs/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

hostedcluster: bubble up OldestKubeletVersion from HCP
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

api: add oldestKubeletVersion
  api/hypershift/v1beta1/hosted_controlplane.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/MinimumKubeletVersion.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/MinimumKubeletVersion.yaml
  client/applyconfiguration/hypershift/v1beta1/clusterconfiguration.go
  client/applyconfiguration/hypershift/v1beta1/hostedclusterstatus.go
  client/applyconfiguration/hypershift/v1beta1/hostedcontrolplanestatus.go
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  docs/content/reference/api.md
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hosted_controlplane.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

hostedcluster: set condition if OldestKubeletVersion < MinimumKubeletVersion
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

add feature gate controller to HCCO
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  control-plane-operator/hostedclusterconfigoperator/controllers/featuregate/controller.go
  control-plane-operator/hostedclusterconfigoperator/controllers/featuregate/setup.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

add featuregate for minimum kubelet verison
  cmd/install/assets/hypershift_operator_test.go
  hypershift-operator/featuregate/feature.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Add HCP annotation for karpenter upstream e2e testing purposes
  api/hypershift/v1beta1/hostedcluster_types.go
  karpenter-operator/controllers/karpenter/karpenter_controller.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

asset
  cmd/install/assets/hypershift_operator_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Refactor image-registry-operator into cpov2
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/zz_fixture_TestControlPlaneComponents_component.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/zz_fixture_TestControlPlaneComponents_component_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-image-registry-operator/azure-secretprovider.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-image-registry-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-image-registry-operator/podmonitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/azure.go
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/podmonitor.go
  support/util/containers.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

update apis
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DisableClusterCapabilities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/MinimumKubeletVersion.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/OpenStack.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DisableClusterCapabilities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/MinimumKubeletVersion.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Add upstream karpenter core e2e tests to hypershift
  Makefile
  karpenter-operator/e2e/adjust-ec2nodeclass.sh
  karpenter-operator/e2e/default_nodepool.yaml
  karpenter-operator/e2e/upstream-e2e.sh
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

chore(deps): update github.com/openshift/cluster-api-provider-kubevirt digest to ebbc1f6
  go.mod
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Path conditions:
  verify: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  unit: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-azure: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-aws: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-kubevirt-aws-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-ibmcloud-iks: any of: ^api/
  e2e-ibmcloud-roks: any of: ^api/
  ci/prow/e2e-aws: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-azure: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-ibmcloud-iks: any of: ^api/
  ci/prow/e2e-ibmcloud-roks: any of: ^api/
  ci/prow/e2e-kubevirt-aws-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-kubevirt-azure-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/unit: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/verify: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
