Repository openshift/hypershift: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

e2e-aws-pooled:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: hypershift
    product: ocp
    timeout: 1h30m0s
    version: '4.8'
  steps:
    test:
    - as: install-hypershift
      cli: latest
      commands: make ci-install-hypershift
      credentials:
      - mount_path: /etc/hypershift-pool-aws-credentials
  ...

ci/prow/e2e-aws:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-ibmcloud-iks:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-ibmcloud-roks:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-e2e-kubevirt-aws-ovn:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci-operator.openshift.io/variant: kubevirt
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/verify:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Add dev flags in destroy cluster powervs command
  cmd/cluster/core/destroy.go
  cmd/cluster/powervs/create.go
  cmd/cluster/powervs/destroy.go
  cmd/infra/powervs/create.go
  cmd/infra/powervs/destroy.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Add volume mode to kubevirt root volume api
  api/fixtures/example_kubevirt.go
  api/v1alpha1/nodepool_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/nodepool_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/cluster/core/create.go
  cmd/cluster/kubevirt/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  cmd/nodepool/kubevirt/create.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/kubevirt/imagecacher.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  product-cli/cmd/cluster/kubevirt/create.go
  product-cli/cmd/nodepool/kubevirt/create.go
  test/e2e/e2e_test.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Update RHTAP references
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Update RHTAP references
  .tekton/hypershift-operator-release-413-pull-request.yaml
  .tekton/hypershift-operator-release-413-push.yaml
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

validate ignition server release images
  api/v1beta1/hostedcluster_conditions.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/imageprovider/imageprovider.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/params.go
  docs/content/reference/api.md
  ignition-server/controllers/local_ignitionprovider.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Validate release payload images
  api/v1beta1/hostedcluster_conditions.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/powervs/powervs.go
  control-plane-operator/controllers/hostedcontrolplane/clusterpolicy/params.go
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/params.go
  control-plane-operator/controllers/hostedcontrolplane/csi/kubevirt/kubevirt.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/params.go
  control-plane-operator/controllers/hostedcontrolplane/dnsoperator/dnsoperator.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/params.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/params_test.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/imageprovider/imageprovider.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params_test.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/params.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/params.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/params.go
  control-plane-operator/controllers/hostedcontrolplane/olm/params.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile_test.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/params.go
  control-plane-operator/controllers/hostedcontrolplane/scheduler/params.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/operator_test.go
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/params.go
  control-plane-operator/controllers/hostedcontrolplane/storage/params.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Fix haproxy image name in ignition server
  api/v1beta1/hostedcluster_conditions.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/aws/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  ignition-server/controllers/local_ignitionprovider.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

default replica count based on ControllerAvailabilityPolicy
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/konnectivity/params.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Add api and cli validation for kubevirt volume mode
  api/v1alpha1/nodepool_types.go
  api/v1beta1/nodepool_types.go
  cmd/cluster/kubevirt/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  cmd/nodepool/kubevirt/create.go
  hack/app-sre/saas_template.yaml
  product-cli/cmd/cluster/kubevirt/create.go
  product-cli/cmd/nodepool/kubevirt/create.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Add IDMS to the list of valid config manifests
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

MULTIARCH-3684: PowerVS - Upgrade capi to use v1beta2 APIs
  Makefile
  api/scheme.go
  api/v1alpha1/capi_types.go
  api/v1alpha1/nodepool_types.go
  api/v1beta1/capi_types.go
  api/v1beta1/nodepool_types.go
  cmd/install/assets/assets.go
  cmd/install/assets/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmpowervsclusters.yaml
  cmd/install/assets/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmpowervsclustertemplates.yaml
  cmd/install/assets/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmpowervsimages.yaml
  cmd/install/assets/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmpowervsmachines.yaml
  cmd/install/assets/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmpowervsmachinetemplates.yaml
  cmd/install/assets/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmvpcclusters.yaml
  cmd/install/assets/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmvpcmachines.yaml
  cmd/install/assets/cluster-api-provider-ibmcloud/infrastructure.cluster.x-k8s.io_ibmvpcmachinetemplates.yaml
  cmd/install/assets/cluster-api/cluster.x-k8s.io_clusterclasses.yaml
  cmd/install/assets/cluster-api/cluster.x-k8s.io_clusters.yaml
  cmd/install/assets/cluster-api/cluster.x-k8s.io_machinedeployments.yaml
  cmd/install/assets/cluster-api/cluster.x-k8s.io_machinepools.yaml
  cmd/install/assets/cluster-api/cluster.x-k8s.io_machines.yaml
  cmd/install/assets/cluster-api/cluster.x-k8s.io_machinesets.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  cmd/util/v1alpha1_wrapper.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/ibmcloud/ibmcloud.go
  hypershift-operator/controllers/hostedcluster/internal/platform/ibmcloud/ibmcloud_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/powervs/powervs.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/powervs.go
  support/api/scheme.go
  support/labelenforcingclient/labelenforcer_test.go
  support/upsert/upsert.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

react to route-controller-manager refactoring
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/openshift_cm.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/config.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/config.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/params.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

add tests for ReconcileOpenShiftRouteControllerManagerConfig and ReconcileOpenShiftControllerManagerConfig
  control-plane-operator/controllers/hostedcontrolplane/ocm/config_test.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/testdata/zz_fixture_TestReconcileOpenShiftControllerManagerConfig.yaml
  control-plane-operator/controllers/hostedcontrolplane/routecm/config_test.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/testdata/zz_fixture_TestReconcileOpenShiftRouteControllerManagerConfig.yaml
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

[WRKLDS-730] react to route-controller-manager refactoring (#2674)
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/openshift_cm.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/config.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/config_test.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/testdata/zz_fixture_TestReconcileOpenShiftControllerManagerConfig.yaml
  control-plane-operator/controllers/hostedcontrolplane/routecm/config.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/config_test.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/params.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/testdata/zz_fixture_TestReconcileOpenShiftRouteControllerManagerConfig.yaml
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Add ImageDigestMirrorSet to Config API comment
  api/v1beta1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Enable HCCO to set owner references on configmaps it reconciles
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Switch API documentation to v1beta1
  docs/content/reference/api.md
  hack/gen-api-docs.sh
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

post-cherry-pick
  docs/content/reference/api.md
  hypershift-operator/controllers/util/deployment_test.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

update deps
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_awsendpointservices.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  docs/content/reference/api.md
  go.mod
  go.sum
  hack/app-sre/saas_template.yaml
  vendor/k8s.io/api/imagepolicy/v1alpha1/doc.go
  vendor/k8s.io/api/imagepolicy/v1alpha1/generated.pb.go
  vendor/k8s.io/api/imagepolicy/v1alpha1/generated.proto
  vendor/k8s.io/api/imagepolicy/v1alpha1/register.go
  vendor/k8s.io/api/imagepolicy/v1alpha1/types.go
  vendor/k8s.io/api/imagepolicy/v1alpha1/types_swagger_doc_generated.go
  vendor/k8s.io/api/imagepolicy/v1alpha1/zz_generated.deepcopy.go
  vendor/k8s.io/apimachinery/pkg/api/apitesting/fuzzer/valuefuzz.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/generated.pb.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/generated.proto
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/types.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/zz_generated.conversion.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/zz_generated.deepcopy.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/zz_generated.defaults.go
  vendor/k8s.io/kube-aggregator/pkg/apis/apiregistration/zz_generated.deepcopy.go
  vendor/k8s.io/kubectl/LICENSE
  vendor/k8s.io/kubectl/pkg/scheme/install.go
  vendor/k8s.io/kubectl/pkg/scheme/scheme.go
  vendor/modules.txt
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

add need-management-kas-access label to olm-collect-profiles pods
  control-plane-operator/controllers/hostedcontrolplane/olm/olm-collect-profiles.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

use default /healthz path for readiness probe in OCM and RCM
  control-plane-operator/controllers/hostedcontrolplane/ocm/params.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/params.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Add record rules for kas qps
  cmd/install/assets/recordingrules/hypershift.yaml
  hack/app-sre/saas_template.yaml
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Defaulting webhook for self managed HCP
  api/v1beta1/hostedcluster_types.go
  cmd/cluster/core/create.go
  cmd/cluster/core/create_test.go
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook.go
  support/supportedversion/version.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Fix kubevirt how-to doc mkdocs index
  docs/mkdocs.yml
Due: none

Transition kubevirt docs to reference hcp tool instead of hypershift
  docs/content/how-to/kubevirt/configuring-storage.md
  docs/content/how-to/kubevirt/create-kubevirt-cluster.md
  docs/content/how-to/kubevirt/external-infrastructure.md
  docs/content/how-to/kubevirt/ingress-and-dns.md
Due: none

api: add ControlPlaneRelease field
  api/v1alpha1/hosted_controlplane.go
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/hosted_controlplane.go
  api/v1beta1/hostedcluster_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Update OLM catalog image tags
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

use ControlPlaneImage for provider-side HCP updates
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/params.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/dnsoperator/dnsoperator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile_test.go
  control-plane-operator/controllers/hostedcontrolplane/storage/envreplace.go
  control-plane-operator/controllers/hostedcontrolplane/storage/envreplace_test.go
  control-plane-operator/controllers/hostedcontrolplane/storage/params.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/config/deployment.go
  support/util/imagemetadata.go
  support/util/util.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

disallow webhooks urls targeting controlplane services
  api/v1beta1/hostedcluster_types.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/operator/config.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Add e2e validation for guest webhooks
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Ensure SG reconciliation for aws endpoint
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller_test.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

OCPBUGS-17374: Fast specific dockerignore
  .gitignore
  Makefile
  fast.Dockerfile
  hack/container-run.sh
  hack/utils.sh
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Add HCP CLI Command to Create a Cluster on AWS
  cmd/cluster/aws/create.go
  cmd/cluster/aws/create_test.go
  product-cli/cmd/cluster/aws/create.go
  product-cli/cmd/cluster/cluster.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Remove iam-json flag from HCP CLI
  product-cli/cmd/cluster/aws/create.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Fix nodepool upgrade docs link
  docs/content/how-to/upgrades.md
Due: none

Also link to upgrades section
  docs/content/how-to/upgrades.md
Due: none

Path conditions:
  e2e-aws-pooled: unless all of: (^(docs|examples|enhancements)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-aws: unless all of: (^(docs|examples|enhancements)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-ibmcloud-iks: any of: ^api/
  ci/prow/e2e-ibmcloud-roks: any of: ^api/
  ci/prow/kubevirt-e2e-kubevirt-aws-ovn: unless all of: (^(docs|examples|enhancements)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/unit: unless all of: (^(docs|examples|enhancements)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/verify: unless all of: (^(docs|examples|enhancements)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
