Repository openshift/hypershift: changes, and which Prow jobs are due for each by the changed paths.
All: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

verify:
  commands: make verify
  container:
    from: src

unit:
  commands: make test
  container:
    from: src

e2e-azure:
  optional: true
  steps:
    cluster_profile: hypershift
    env:
      ENABLE_HYPERSHIFT_CERT_ROTATION_SCALE: 'true'
    workflow: hypershift-azure-e2e-nested

e2e-aws:
  steps:
    cluster_profile: hypershift
    env:
      ENABLE_HYPERSHIFT_CERT_ROTATION_SCALE: 'true'
      OCP_IMAGE_LATEST: release:multi-latest
      OCP_IMAGE_PREVIOUS: release:multi-initial
    workflow: hypershift-aws-e2e-nested

e2e-kubevirt-aws-ovn:
  steps:
    cluster_profile: aws
    env:
      COMPUTE_NODE_REPLICAS: '1'
      COMPUTE_NODE_TYPE: c5n.metal
      ENABLE_HYPERSHIFT_CERT_ROTATION_SCALE: 'true'
      ENABLE_HYPERSHIFT_OPERATOR_DEFAULTING_WEBHOOK: 'true'
      ETCD_STORAGE_CLASS: gp3-csi
      KUBEVIRT_CSI_INFRA: gp3-csi
  ...

e2e-ibmcloud-iks:
  optional: true
  steps:
    env:
      BOM_VERSION: 4.12.0_openshift
      MANAGED_CLUSTER_TYPE: iks
      MANAGEMENT_CLUSTER_KUBECONFIG: /etc/ibmcloud/secrets/iks.kubeconfig
      TEST_TYPE: main
      VERIFY_COMPLIANCE_OPERATOR_SCAN: 'false'
    workflow: hypershift-ibmcloud-e2e

e2e-ibmcloud-roks:
  optional: true
  steps:
    env:
      BOM_VERSION: 4.13.0_openshift
      MANAGED_CLUSTER_TYPE: openshift
      MANAGEMENT_CLUSTER_KUBECONFIG: /etc/ibmcloud/secrets/roks.kubeconfig
      TEST_TYPE: main
      VERIFY_COMPLIANCE_OPERATOR_SCAN: 'true'
    workflow: hypershift-ibmcloud-e2e

ci/prow/e2e-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: hypershift
    ci-operator.openshift.io/cloud-cluster-profile: hypershift
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-azure:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: hypershift
    ci-operator.openshift.io/cloud-cluster-profile: hypershift
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-ibmcloud-iks:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-ibmcloud-roks:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

openstack: ingress API & octavia ingress provider
  api/hypershift/v1beta1/hostedcluster_types.go
  client/applyconfiguration/hypershift/v1beta1/openstackplatformspec.go
  cmd/cluster/openstack/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/ingress.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/how-to/openstack/create-openstack-cluster.md
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  support/openstackutil/ingress.go
  support/openstackutil/ingress_test.go
  test/e2e/e2e_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Allow setting Kube APIServer maximum requests in flight
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/params.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Add HTTP konnectivity proxy to OAuth server
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/testdata/zz_fixture_TestReconcileOauthDeploymentNoChanges.yaml
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Add HTTP konnectivity proxy to OAuth server
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/params.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Use HTTP proxy for ingress controller
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Add MSI Support in Azure HC API
  api/hypershift/v1alpha1/hostedcluster_types.go
  api/hypershift/v1alpha1/zz_generated.deepcopy.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.deepcopy.go
  client/applyconfiguration/hypershift/v1alpha1/azureplatformspec.go
  client/applyconfiguration/hypershift/v1alpha1/controlplanemanagedserviceidentities.go
  client/applyconfiguration/hypershift/v1beta1/azureplatformspec.go
  client/applyconfiguration/hypershift/v1beta1/controlplanemanagedserviceidentities.go
  client/applyconfiguration/utils.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Set Azure MSI override for cluster-image-registry
  control-plane-operator/controllers/hostedcontrolplane/registryoperator/reconcile.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Set Azure MSI override in cluster-ingress-operator
  control-plane-operator/controllers/hostedcontrolplane/ingressoperator/ingressoperator.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Set Azure MSI override in cluster-storage-operator
  control-plane-operator/controllers/hostedcontrolplane/storage/operator.go
  control-plane-operator/controllers/hostedcontrolplane/storage/params.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Set Azure MSI override in cluster-network-operator
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

HOSTEDCP-1764: retrieve registryOverrides when ImageStream is not available
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  support/releaseinfo/registryclient/client.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Support Arm NodePools from a Marketplace Image
  api/hypershift/v1beta1/nodepool_types.go
  cmd/cluster/azure/create.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_minimal_flags_necessary_to_render.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  cmd/nodepool/azure/create.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/nodepool/nodepool_controller.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

HOSTEDCP-1764: addressing comments
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

OCPBUGS-36680: ensure additionalTrustBundle propogates to workers
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  ignition-server/cmd/run_local_ignitionprovider.go
  ignition-server/controllers/local_ignitionprovider.go
  ignition-server/controllers/tokensecret_controller.go
  ignition-server/controllers/tokensecret_controller_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Add ability to provide a StatefulSet Reconciler
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/config.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/config_test.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/servicemonitor.go
  support/controlplane-component/controlplane-component.go
  support/controlplane-component/generic-reconciler.go
  support/controlplane-component/konnectivity-container.go
  support/controlplane-component/manifests.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Update upgrades doc
  docs/content/how-to/upgrades.md
Due: none

e2e/openstack: support cluster destroy
  test/e2e/util/fixture.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

openstack: add missing AutomountServiceAccountToken to CCM
  control-plane-operator/controllers/hostedcontrolplane/cloud/openstack/reconcile.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

e2e/util: override CLUSTER_NAME for platform OpenStack
  test/e2e/util/hypershift_framework.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

openstack: add missing resources fields to CAPO
  hypershift-operator/controllers/hostedcluster/internal/platform/openstack/openstack.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Update version support docs
  docs/content/reference/versioning-support.md
Due: none

Create konnectivity dialer for CPO oidc checks
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

hcp/kas: support kms v2 for AWS
  control-plane-operator/controllers/hostedcontrolplane/kas/kms.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/aws.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/azure.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/ibmcloud.go
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/kms.go
  control-plane-operator/controllers/hostedcontrolplane/kas/secretencryption.go
  control-plane-operator/controllers/hostedcontrolplane/kas/secretencryption_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

test/e2e: test KMS v2 on AWS
  test/e2e/create_cluster_test.go
  test/e2e/util/util.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

hcp/kas: disable encryption config auto reload
  control-plane-operator/controllers/hostedcontrolplane/kas/kms/aws.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

OCPBUGS-38042:consider non extrenal-dns hc.services during azure hc validation
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  hack/app-sre/saas_template.yaml
  test/e2e/assets/azure-services-missing-services.yaml
  test/e2e/create_cluster_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

OCPBUGS-35905: E2E test to verify openshift-apiserver TLS certificates
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment_test.go
  test/e2e/util/util.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

improve how we construct volumes and volume mounts
  control-plane-operator/controllers/hostedcontrolplane/routecm/config.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/deployment.go
  support/util/volumemounts.go
  support/util/volumemounts_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

docs/openstack: fix typo
  docs/content/how-to/openstack/create-openstack-cluster.md
Due: none

HOSTEDCP-1764: use dockerImageRef approach
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

KubeVirt: add label to DataVolume
  api/hypershift/v1beta1/hostedcluster_types.go
  hypershift-operator/controllers/nodepool/kubevirt/imagecacher.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Fix CEL rules in the CRD
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

OCPBUGS-38183: make use of azure-disk-driver-control-plane-image
  control-plane-operator/controllers/hostedcontrolplane/storage/envreplace.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

OSASINFRA-3553: openstack: relax PodAffinityTerm for zone spreading in HA
  docs/content/how-to/openstack/create-openstack-cluster.md
  support/config/deployment.go
  support/config/deployment_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Path conditions:
  verify: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  unit: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-azure: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-aws: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-kubevirt-aws-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-ibmcloud-iks: any of: ^api/
  e2e-ibmcloud-roks: any of: ^api/
  ci/prow/e2e-aws: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-azure: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-ibmcloud-iks: any of: ^api/
  ci/prow/e2e-ibmcloud-roks: any of: ^api/
  ci/prow/e2e-kubevirt-aws-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-kubevirt-azure-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/unit: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/verify: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
