Repository openshift/hypershift: changes, and which Prow jobs are due for each by the changed paths.
All: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Path conditions:
  verify: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  unit: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-azure: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-aws: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-kubevirt-aws-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-ibmcloud-iks: any of: ^api/
  e2e-ibmcloud-roks: any of: ^api/
  ci/prow/e2e-aws: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-azure: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-ibmcloud-iks: any of: ^api/
  ci/prow/e2e-ibmcloud-roks: any of: ^api/
  ci/prow/e2e-kubevirt-aws-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-kubevirt-azure-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/unit: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/verify: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)

Always compress and encode payload in token secret for inplace upgrades
  control-plane-operator/hostedclusterconfigoperator/controllers/inplaceupgrader/inplaceupgrader.go
  ignition-server/controllers/tokensecret_controller.go
  ignition-server/controllers/tokensecret_controller_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat(aws): support EC2 CapacityReservationPreference in NodePool
  api/hypershift/v1beta1/aws.go
  hypershift-operator/controllers/nodepool/aws.go
  hypershift-operator/controllers/nodepool/aws_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

test(e2e): add AWS placement options validation tests
  test/e2e/create_cluster_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(infra/azure): make role assignment creation idempotent and robust
  cmd/infra/azure/create.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix (OCPBUGS-50003): add GetProducts from AWS pricing service in case nodePool EC2 instance type is unknown
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  hypershift-operator/controllers/nodepool/metrics/metrics_test.go
  vendor/github.com/aws/aws-sdk-go/service/pricing/api.go
  vendor/github.com/aws/aws-sdk-go/service/pricing/doc.go
  vendor/github.com/aws/aws-sdk-go/service/pricing/errors.go
  vendor/github.com/aws/aws-sdk-go/service/pricing/pricingiface/interface.go
  vendor/github.com/aws/aws-sdk-go/service/pricing/service.go
  vendor/modules.txt
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix (OCPBUGS-50003): increase coverage adding un case in unit test
  hypershift-operator/controllers/nodepool/metrics/metrics_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix (OCPBUGS-50003): add pricing GetProducts and types to unmarshal json output
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  hypershift-operator/controllers/nodepool/metrics/metrics_test.go
  hypershift-operator/controllers/nodepool/metrics/pricing_types.go
  hypershift-operator/main.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

test(autonode): allow ValidateMetrics to query karpenter pods
  test/e2e/karpenter_test.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

chore(autonode): fix spelling of ProvisionerKarpenter constant
  api/hypershift/v1beta1/hostedcluster_types.go
  cmd/cluster/aws/create.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  hypershift-operator/controllers/hostedcluster/karpenter_test.go
  support/karpenter/karpenter.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Due: none

feat(validations): Added unit tests for powervs nodepool
  hypershift-operator/controllers/nodepool/powervs_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Red Hat Konflux purge ho-hotfix-ocpbugs-58200
  .tekton/ho-hotfix-ocpbugs-58200-pull-request.yaml
  .tekton/ho-hotfix-ocpbugs-58200-push.yaml
Due: none

Use the hcco-kubeconfig into right place
  kas-bootstrap/kas_boostrap.go
  kas-bootstrap/kas_boostrap_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Rename hcco-rolebinding.yaml to 98_hcco-rolebinding.yaml
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/kube-apiserver/deployment.yaml
  kas-bootstrap/testdata/98_hcco-rolebinding.yaml
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat: enable global pull secret for ROSA HCP
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/v2/controlplaneoperator/deployment.go
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  support/awsutil/tags.go
  support/awsutil/tags_test.go
  test/e2e/util/util.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

OCPBUGS-56430: Add DR operations after HC restoration
  api/hypershift/v1beta1/hostedcluster_conditions.go
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/recovery/recovery.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

OCPBUGS-56430: Fix restarting prometheus Sts after HCP restoration
  .gitignore
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/recovery/recovery.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat(sharedingress): support Azure Public IP tagging for router service
  hypershift-operator/controllers/sharedingress/router.go
  hypershift-operator/controllers/sharedingress/sharedingress_controller.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(cpo/ingress): do not set aws-load-balancer-subnets on private router Service
  api/hypershift/v1beta1/hostedcluster_types.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router.go
  control-plane-operator/controllers/hostedcontrolplane/ingress/router_test.go
  support/util/util.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Use client.Patch instead of ctrl.CreateOrUpdate
  kas-bootstrap/kas_boostrap.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Use system trust bundle in CPO IDP https client
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/idp_convert_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat: enable global pull secret for AWS
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  test/e2e/util/util.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix: OCPBUGS-50003: add GetProducts from AWS Pricing APIs in case instance type is not know to EC2 DescribeInstanceTypes
  hypershift-operator/controllers/nodepool/metrics/metrics.go
  hypershift-operator/controllers/nodepool/metrics/metrics_test.go
  hypershift-operator/controllers/nodepool/metrics/pricing_types.go
  hypershift-operator/main.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix: OCPBUGS-50003 improve the coverage in case of AWS Error for EC2 DescribeInstanceTypes
  hypershift-operator/controllers/nodepool/metrics/metrics_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix: OCPBUGS-50003 add vendor
  vendor/github.com/aws/aws-sdk-go/service/pricing/api.go
  vendor/github.com/aws/aws-sdk-go/service/pricing/doc.go
  vendor/github.com/aws/aws-sdk-go/service/pricing/errors.go
  vendor/github.com/aws/aws-sdk-go/service/pricing/pricingiface/interface.go
  vendor/github.com/aws/aws-sdk-go/service/pricing/service.go
  vendor/modules.txt
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Add FieldOwner
  kas-bootstrap/kas_boostrap.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat(claude): add e2e-analyze command for CI failure analysis
  .claude/commands/e2e-analyze.md
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(globalps): replace privileged container with specific capabilities
  control-plane-operator/hostedclusterconfigoperator/controllers/globalps/globalps.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat(supportedversion): add OCP 4.21 support; update e2e constants and tests
  support/supportedversion/version.go
  support/supportedversion/version_test.go
  test/e2e/util/version.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

docs(create-jira-items): document OCPBUGS issue creation and default versions
  .cursor/rules/create-jira-items.mdc
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify
