Repository openshift/hypershift: changes, and which Prow jobs are due for each by the changed paths.
All: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Path conditions:
  verify: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  unit: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-azure: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-aws: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-kubevirt-aws-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-ibmcloud-iks: any of: ^api/
  e2e-ibmcloud-roks: any of: ^api/
  ci/prow/e2e-aws: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-azure: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-ibmcloud-iks: any of: ^api/
  ci/prow/e2e-ibmcloud-roks: any of: ^api/
  ci/prow/e2e-kubevirt-aws-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-kubevirt-azure-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/unit: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/verify: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)

Run make update
  cmd/install/assets/cluster-api-provider-openstack/openstack.k-orc.cloud_images.yaml
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(builds): CPO Konflux CEL path fix
  .tekton/control-plane-operator-main-pull-request.yaml
  .tekton/control-plane-operator-main-push.yaml
Due: none

fix(builds): drop unsupported, old JAVA build-container
  .tekton/hypershift-release-mce-27-pull-request.yaml
  .tekton/hypershift-release-mce-27-push.yaml
Due: none

Sync labels between CPO and RHTAP CPO dockerfile
  Containerfile.control-plane
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

test/e2e: output pod name on EnsureHCPPodsAffinitiesAndTolerations failure
  test/e2e/util/util.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Add check for expected conditions before running NodePool tests
  test/e2e/nodepool_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

introduce image registry capability behind feature gate
  api/hypershift/v1beta1/hosted_controlplane.go
  api/hypershift/v1beta1/hostedcluster_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DisableClusterCapabilities.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DisableClusterCapabilities.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/config.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/config.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/config_test.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-version-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/params.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oapi/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ocm/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ocm/config_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ocm/testdata/zz_fixture_TestReconcileOpenShiftControllerManagerConfig_WithAllCapabilitiesEnabled.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/ocm/testdata/zz_fixture_TestReconcileOpenShiftControllerManagerConfig_WithImageRegistryCapabilityDisabled.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/capabilities/hosted_control_plane_capabilities.go
  support/capabilities/hosted_control_plane_capabilities_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hosted_controlplane.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

cmd/cluster/core: add test coverage to prototypeResources and Validate
  cmd/cluster/core/create_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

cmd/cluster/azure: add capability test
  cmd/cluster/azure/create_test.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_disabled_capabilities.yaml
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

add disable cluster capabilities flag to cluster create cmd
  cmd/cluster/core/create.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

api: bump openshift/api to latest commit
  api/go.mod
  api/go.sum
  api/vendor/github.com/openshift/api/config/v1/types_apiserver.go
  api/vendor/github.com/openshift/api/config/v1/types_authentication.go
  api/vendor/github.com/openshift/api/config/v1/types_cluster_operator.go
  api/vendor/github.com/openshift/api/config/v1/types_cluster_version.go
  api/vendor/github.com/openshift/api/config/v1/types_feature.go
  api/vendor/github.com/openshift/api/config/v1/types_image.go
  api/vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  api/vendor/github.com/openshift/api/config/v1/types_kmsencryption.go
  api/vendor/github.com/openshift/api/config/v1/types_network.go
  api/vendor/github.com/openshift/api/config/v1/types_node.go
  api/vendor/github.com/openshift/api/config/v1/zz_generated.deepcopy.go
  api/vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  api/vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  api/vendor/modules.txt
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

regenerate APIs
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/AutoNodeKarpenter.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ClusterVersionOperatorConfiguration.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/DynamicResourceAllocation.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ExternalOIDC.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/ImageStreamImportMode.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/KMSEncryptionProvider.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/NetworkDiagnosticsConfig.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Default.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

e2e: add autonode karpenter drift hcp upgrade e2e test
  test/e2e/assets/karpenter-workloads.yaml
  test/e2e/karpenter_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

KAS: Bump audit-webhook-initial-backoff and TerminationGracePeriodSeconds when audit webhook is enabled
  control-plane-operator/controllers/hostedcontrolplane/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/config.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/testdata/zz_fixture_TestReconcileOauthDeploymentNoChanges.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oapi/config.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/oauth_apiserver/deployment.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Change KASGoMemLimit to a string pointer type
  api/scheduling/v1alpha1/clustersizingconfiguration_types.go
  api/scheduling/v1alpha1/zz_generated.deepcopy.go
  client/applyconfiguration/scheduling/v1alpha1/effects.go
  cmd/install/assets/hypershift-operator/scheduling.hypershift.openshift.io_clustersizingconfigurations.yaml
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  hypershift-operator/controllers/scheduler/aws/dedicated_request_serving_nodes_test.go
  hypershift-operator/controllers/scheduler/azure/controllers_test.go
  hypershift-operator/controllers/scheduler/util/scheduler.go
  hypershift-operator/controllers/scheduler/util/scheduler_test.go
  vendor/github.com/openshift/hypershift/api/scheduling/v1alpha1/clustersizingconfiguration_types.go
  vendor/github.com/openshift/hypershift/api/scheduling/v1alpha1/zz_generated.deepcopy.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(ci): Add missing required tekton tasks
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
  .tekton/hypershift-operator-main-tag.yaml
Due: none

Red Hat Konflux purge hypershift-operator-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Due: none

Add limit CRD install functionality
  cmd/install/assets/assets.go
  cmd/install/install.go
  cmd/install/install_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Red Hat Konflux update hypershift-operator-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Due: none

fix(tekton): fix hypershift-operator-main pull and push
  .tekton/hypershift-operator-main-pull-request.yaml
  .tekton/hypershift-operator-main-push.yaml
Due: none

Set KAS GOMEMLIMIT node label to what OSDFM expects
  hypershift-operator/controllers/scheduler/util/scheduler.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

wip: initial stab at featureset-based featuregates
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/featuregates/featuregates.go
  control-plane-operator/main.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fixup! use constant
  control-plane-operator/featuregates/featuregates.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

WIP destroy
  cmd/cluster/azure/destroy.go
  cmd/cluster/core/destroy.go
  cmd/infra/azure/destroy.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

update test fixtures
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-policy-controller/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-policy-controller/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-controller-manager/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-controller-manager/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-scheduler/zz_fixture_TestControlPlaneComponents_TechPreviewNoUpgrade.yaml
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

add some unit tests
  control-plane-operator/featuregates/featuregates_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

CNTRLPLANE-233: Add --kas-dns-name CLI flag to consume KubeAPIServerDNSName API
  cmd/cluster/aws/create_test.go
  cmd/cluster/aws/testdata/zz_fixture_TestCreateCluster_minimal_with_KubeAPIServerDNSName.yaml
  cmd/cluster/azure/create_test.go
  cmd/cluster/azure/testdata/zz_fixture_TestCreateCluster_with_KubeAPIServerDNSName.yaml
  cmd/cluster/core/create.go
  cmd/cluster/core/create_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Add polling for kas-bootstrap kas network requests
  kas-bootstrap/kas_boostrap.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Remove non-matching feature-gated CVO manifests from payload
  control-plane-operator/controllers/hostedcontrolplane/cvo/params.go
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/zz_fixture_TestControlPlaneComponents.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/deployment.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Add cluster-baremetal-operator as control plane component
  Dockerfile.control-plane
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-baremetal-operator/configmap-images.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-baremetal-operator/configmap-kube-rbac-proxy.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-baremetal-operator/configmap-trusted-ca.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-baremetal-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-baremetal-operator/rbac.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-baremetal-operator/service-monitor.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-baremetal-operator/service-webhook.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-baremetal-operator/service.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/cluster-baremetal-operator/serviceaccount.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cluster_baremetal_operator/component.go
  control-plane-operator/main.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/controlplane-component/controlplane-component.go
  support/controlplane-component/status.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

move generic featureset aware featuregate logic to higher-level package
  control-plane-operator/featuregates/featuregates.go
  pkg/featuregates/featuregates.go
  pkg/featuregates/featuregates_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Enable NetworkPolicy tests for non-AWS environment
  hypershift-operator/controllers/hostedcluster/etcd_recovery.go
  hypershift-operator/controllers/hostedcluster/network_policies.go
  test/e2e/util/util.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Apply ManagementKASNetworkPolicy on all platforms
  hypershift-operator/controllers/hostedcluster/network_policies.go
  test/e2e/util/util.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

wire up featureset pipeline, adding featureset aware featuregate support to hypershift operate
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  control-plane-operator/featuregates/featuregates.go
  control-plane-operator/main.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/featuregate/feature.go
  hypershift-operator/featuregate/gates.go
  hypershift-operator/main.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

make verify
  cmd/install/assets/hypershift_operator.go
  cmd/install/install.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/featuregate/feature.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify
