Repository openshift/hypershift: changes, and which Prow jobs are due for each by the changed paths.
All: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

verify:
  commands: make verify
  container:
    from: src

unit:
  commands: make test
  container:
    from: src

e2e-azure:
  optional: true
  steps:
    cluster_profile: hypershift
    env:
      ENABLE_HYPERSHIFT_CERT_ROTATION_SCALE: 'true'
    workflow: hypershift-azure-e2e-nested

e2e-aws:
  steps:
    cluster_profile: hypershift
    env:
      ENABLE_HYPERSHIFT_CERT_ROTATION_SCALE: 'true'
      OCP_IMAGE_LATEST: release:multi-latest
      OCP_IMAGE_PREVIOUS: release:multi-initial
    workflow: hypershift-aws-e2e-nested

e2e-kubevirt-aws-ovn:
  steps:
    cluster_profile: aws
    env:
      COMPUTE_NODE_REPLICAS: '1'
      COMPUTE_NODE_TYPE: c5n.metal
      ENABLE_HYPERSHIFT_CERT_ROTATION_SCALE: 'true'
      ENABLE_HYPERSHIFT_OPERATOR_DEFAULTING_WEBHOOK: 'true'
      ETCD_STORAGE_CLASS: gp3-csi
      KUBEVIRT_CSI_INFRA: gp3-csi
  ...

e2e-ibmcloud-iks:
  optional: true
  steps:
    env:
      BOM_VERSION: 4.12.0_openshift
      MANAGED_CLUSTER_TYPE: iks
      MANAGEMENT_CLUSTER_KUBECONFIG: /etc/ibmcloud/secrets/iks.kubeconfig
      TEST_TYPE: main
      VERIFY_COMPLIANCE_OPERATOR_SCAN: 'false'
    workflow: hypershift-ibmcloud-e2e

e2e-ibmcloud-roks:
  optional: true
  steps:
    env:
      BOM_VERSION: 4.13.0_openshift
      MANAGED_CLUSTER_TYPE: openshift
      MANAGEMENT_CLUSTER_KUBECONFIG: /etc/ibmcloud/secrets/roks.kubeconfig
      TEST_TYPE: main
      VERIFY_COMPLIANCE_OPERATOR_SCAN: 'true'
    workflow: hypershift-ibmcloud-e2e

ci/prow/e2e-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: hypershift
    ci-operator.openshift.io/cloud-cluster-profile: hypershift
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-azure:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: hypershift
    ci-operator.openshift.io/cloud-cluster-profile: hypershift
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-ibmcloud-iks:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-ibmcloud-roks:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Due: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296-0170
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-push.yaml
Due: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Due: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Due: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Due: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Due: none

chore(deps): update module github.com/cyphar/filepath-securejoin to v0.6.1
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/cyphar/filepath-securejoin/.golangci.yml
  hack/tools/vendor/github.com/cyphar/filepath-securejoin/CHANGELOG.md
  hack/tools/vendor/github.com/cyphar/filepath-securejoin/COPYING.md
  hack/tools/vendor/github.com/cyphar/filepath-securejoin/LICENSE.BSD
  hack/tools/vendor/github.com/cyphar/filepath-securejoin/LICENSE.MPL-2.0
  hack/tools/vendor/github.com/cyphar/filepath-securejoin/README.md
  hack/tools/vendor/github.com/cyphar/filepath-securejoin/VERSION
  hack/tools/vendor/github.com/cyphar/filepath-securejoin/codecov.yml
  hack/tools/vendor/github.com/cyphar/filepath-securejoin/doc.go
  hack/tools/vendor/github.com/cyphar/filepath-securejoin/internal/consts/consts.go
  hack/tools/vendor/github.com/cyphar/filepath-securejoin/join.go
  hack/tools/vendor/github.com/cyphar/filepath-securejoin/vfs.go
  hack/tools/vendor/modules.txt
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/fd/openat2_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gocompat/gocompat_atomic_go119.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gocompat/gocompat_atomic_unsupported.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gopathrs/lookup_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/gopathrs/openat2_linux.go
  vendor/github.com/cyphar/filepath-securejoin/pathrs-lite/internal/linux/openat2_linux.go
  vendor/modules.txt
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

chore(deps): update module github.com/emicklei/go-restful/v3 to v3.13.0
  api/go.mod
  api/go.sum
  api/vendor/github.com/emicklei/go-restful/v3/.travis.yml
  api/vendor/github.com/emicklei/go-restful/v3/CHANGES.md
  api/vendor/github.com/emicklei/go-restful/v3/README.md
  api/vendor/github.com/emicklei/go-restful/v3/curly.go
  api/vendor/github.com/emicklei/go-restful/v3/custom_verb.go
  api/vendor/github.com/emicklei/go-restful/v3/doc.go
  api/vendor/modules.txt
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/emicklei/go-restful/v3/.travis.yml
  hack/tools/vendor/github.com/emicklei/go-restful/v3/CHANGES.md
  hack/tools/vendor/github.com/emicklei/go-restful/v3/README.md
  hack/tools/vendor/github.com/emicklei/go-restful/v3/curly.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/custom_verb.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/doc.go
  hack/tools/vendor/modules.txt
  vendor/github.com/emicklei/go-restful/v3/.travis.yml
  vendor/github.com/emicklei/go-restful/v3/CHANGES.md
  vendor/github.com/emicklei/go-restful/v3/README.md
  vendor/github.com/emicklei/go-restful/v3/curly.go
  vendor/github.com/emicklei/go-restful/v3/custom_verb.go
  vendor/github.com/emicklei/go-restful/v3/doc.go
  vendor/modules.txt
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Path conditions:
  verify: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  unit: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-azure: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-aws: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-kubevirt-aws-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-ibmcloud-iks: any of: ^api/
  e2e-ibmcloud-roks: any of: ^api/
  ci/prow/e2e-aws: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-azure: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-ibmcloud-iks: any of: ^api/
  ci/prow/e2e-ibmcloud-roks: any of: ^api/
  ci/prow/e2e-kubevirt-aws-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-kubevirt-azure-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/unit: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/verify: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
