Repository openshift/hypershift: changes, and which Prow jobs are due for each by the changed paths.
All: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Path conditions:
  verify: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  unit: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-azure: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-aws: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-kubevirt-aws-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-ibmcloud-iks: any of: ^api/
  e2e-ibmcloud-roks: any of: ^api/
  ci/prow/e2e-aws: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-azure: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-ibmcloud-iks: any of: ^api/
  ci/prow/e2e-ibmcloud-roks: any of: ^api/
  ci/prow/e2e-kubevirt-aws-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-kubevirt-azure-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/unit: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/verify: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)

fix(control-plane-operator): tolerate TLS option skew with a CPO override
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/AROSwift/zz_fixture_TestControlPlaneComponents_cluster_image_registry_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/EtcdRestore/zz_fixture_TestControlPlaneComponents_cluster_image_registry_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/GCP/zz_fixture_TestControlPlaneComponents_cluster_image_registry_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_cluster_image_registry_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/ModernTLS/zz_fixture_TestControlPlaneComponents_cluster_image_registry_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cluster_image_registry_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-image-registry-operator/zz_fixture_TestControlPlaneComponents_cluster_image_registry_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/AROSwift/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/EtcdRestore/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/GCP/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/ModernTLS/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/cluster-version-operator/zz_fixture_TestControlPlaneComponents_cluster_version_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/AROSwift/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/EtcdRestore/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/GCP/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/IBMCloud/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/ModernTLS/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/machine-approver/AROSwift/zz_fixture_TestControlPlaneComponents_machine_approver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/machine-approver/EtcdRestore/zz_fixture_TestControlPlaneComponents_machine_approver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/machine-approver/GCP/zz_fixture_TestControlPlaneComponents_machine_approver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/machine-approver/IBMCloud/zz_fixture_TestControlPlaneComponents_machine_approver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/machine-approver/ModernTLS/zz_fixture_TestControlPlaneComponents_machine_approver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/machine-approver/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_machine_approver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/machine-approver/zz_fixture_TestControlPlaneComponents_machine_approver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/azure_workload_identity_webhook_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/machine_approver/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/machine_approver/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/registryoperator/deployment_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(ingress): handle CPO override and split-payload HAProxy compatibility
  control-plane-operator/controllers/hostedcontrolplane/testdata/ingress-operator/AROSwift/zz_fixture_TestControlPlaneComponents_ingress_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ingress-operator/EtcdRestore/zz_fixture_TestControlPlaneComponents_ingress_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ingress-operator/GCP/zz_fixture_TestControlPlaneComponents_ingress_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ingress-operator/IBMCloud/zz_fixture_TestControlPlaneComponents_ingress_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ingress-operator/ModernTLS/zz_fixture_TestControlPlaneComponents_ingress_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ingress-operator/TechPreviewNoUpgrade/zz_fixture_TestControlPlaneComponents_ingress_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/testdata/ingress-operator/zz_fixture_TestControlPlaneComponents_ingress_operator_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/assets/ingress-operator/deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/ingressoperator/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/ingressoperator/deployment_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(e2e): restore Eventually retry for post-upgrade health condition check
  test/e2e/v2/tests/hosted_cluster_health_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat(console): Phase 2 monitoring backend — konnectivity socks5 sidecar + service-ca trust; guest geneve firewall fix
  CONSOLE_CONTROL_PLANE_DOCS/CONSOLE_CONTROL_PLANE_PHASE2_PLAN.md
  CONSOLE_CONTROL_PLANE_DOCS/CONSOLE_CONTROL_PLANE_STUDY.md
  CONSOLE_CONTROL_PLANE_DOCS/UPSTREAM_PATCHES.md
  console/guest/allow-geneve-firewall.sh
  console/kustomize/hypershift/kustomization.yaml
  console/kustomize/pat-console/kustomization.yaml
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

docs(console): link gcp-hcp-ctl#36 as the upstream geneve firewall fix
  CONSOLE_CONTROL_PLANE_DOCS/CONSOLE_CONTROL_PLANE_PHASE2_PLAN.md
  CONSOLE_CONTROL_PLANE_DOCS/CONSOLE_CONTROL_PLANE_STUDY.md
  CONSOLE_CONTROL_PLANE_DOCS/UPSTREAM_PATCHES.md
  console/guest/allow-geneve-firewall.sh
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(OCPBUGS-123793): use multiarch CI build root
  .ci-operator.yaml
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat(api): propose size-class container resource policies
  api/hypershift/v1beta1/hostedcluster_types.go
  api/scheduling/v1alpha1/clustersizingconfiguration_types.go
  api/scheduling/v1alpha1/clustersizingconfiguration_types_test.go
  api/scheduling/v1alpha1/zz_generated.deepcopy.go
  client/applyconfiguration/scheduling/v1alpha1/containerrequests.go
  client/applyconfiguration/scheduling/v1alpha1/containerresourcepolicy.go
  client/applyconfiguration/scheduling/v1alpha1/containerresources.go
  client/applyconfiguration/scheduling/v1alpha1/effects.go
  client/applyconfiguration/utils.go
  cmd/install/assets/crds/hypershift-operator/scheduling.hypershift.openshift.io_clustersizingconfigurations.yaml
  hypershift-operator/controllers/scheduler/util/container_resource_policy_validation_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_types.go
  vendor/github.com/openshift/hypershift/api/scheduling/v1alpha1/clustersizingconfiguration_types.go
  vendor/github.com/openshift/hypershift/api/scheduling/v1alpha1/zz_generated.deepcopy.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat(controlplane-component): project container resource policies
  support/controlplane-component/container-resource-policy.go
  support/controlplane-component/container-resource-policy_test.go
  support/controlplane-component/controlplane-component.go
  support/controlplane-component/defaults.go
  support/controlplane-component/defaults_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat(hypershift-operator): propagate and bootstrap container resource policies
  hypershift-operator/controllers/hostedcluster/container_resource_policy.go
  hypershift-operator/controllers/hostedcluster/container_resource_policy_test.go
  hypershift-operator/controllers/hostedcluster/etcd_recovery.go
  hypershift-operator/controllers/hostedcluster/etcd_recovery_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
  hypershift-operator/controllers/scheduler/util/scheduler.go
  hypershift-operator/controllers/scheduler/util/scheduler_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(aws): redact Route53 ownership errors
  cmd/infra/aws/route53.go
  cmd/infra/aws/route53_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

docs: align Azure lifecycle flow with test matrix
  docs/content/how-to/ci/v2-testing/test-flow.md
  docs/content/reference/aggregated-docs.md
Due: none

fix(aws): detect Route53 pagination cycles
  cmd/infra/aws/route53.go
  cmd/infra/aws/route53_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

docs: include trust bundle in Azure test flow
  docs/content/how-to/ci/v2-testing/test-flow.md
  docs/content/reference/aggregated-docs.md
Due: none

docs(versioning): establish an OpenShift 4.21 management baseline
  .github/workflows/envtest-kube-reusable.yaml
  .github/workflows/envtest-ocp-reusable.yaml
  AGENTS.md
  Makefile
  docs/content/getting-started/quick-setup.md
  docs/content/reference/aggregated-docs.md
  docs/content/reference/versioning-support.md
  test/envtest/README.md
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(cpo): preserve immutable AWS load balancer annotations
  control-plane-operator/controllers/hostedcontrolplane/infra/infra_test.go
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_AWS_Private_Route.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_AWS_PublicAndPrivate_Route.yaml
  control-plane-operator/controllers/hostedcontrolplane/infra/testdata/zz_fixture_TestReconcileInfrastructure_AWS_Public_Route.yaml
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat(gcp): add HCP finalizer for PSC cleanup during deletion
  control-plane-operator/controllers/gcpprivateserviceconnect/psc_endpoint_controller.go
  control-plane-operator/controllers/gcpprivateserviceconnect/psc_endpoint_controller_test.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat(karpenter): deploy karpenter-provider-azure on HCP Azure
  control-plane-operator/controllers/hostedcontrolplane/v2/karpenteroperator/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/karpenteroperator/component_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/karpenteroperator/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/karpenteroperator/deployment_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/karpenteroperator/secret.go
  control-plane-operator/controllers/hostedcontrolplane/v2/karpenteroperator/secret_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hypershift-operator/controllers/hostedcluster/testdata/karpenter-operator/zz_fixture_TestReconcileComponents.yaml
  hypershift-operator/controllers/nodepool/token.go
  hypershift-operator/controllers/nodepool/token_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat(karpenter): gate Azure karpenter-operator on standalone flag
  control-plane-operator/controllers/hostedcontrolplane/v2/karpenteroperator/component.go
  control-plane-operator/controllers/hostedcontrolplane/v2/karpenteroperator/component_test.go
  control-plane-operator/controllers/hostedcontrolplane/v2/karpenteroperator/secret.go
  control-plane-operator/controllers/hostedcontrolplane/v2/karpenteroperator/secret_test.go
  support/karpenter/karpenter_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

test(e2e): address NodePool runtime review feedback
  test/e2e/nodepool_major_version_upgrade_test.go
  test/e2e/util/util.go
  test/e2e/util/util_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat(kubevirt): OCPBUGS-55974: add CPU model configuration for NodePool VMs
  api/hypershift/v1beta1/kubevirt.go
  api/hypershift/v1beta1/kubevirt_test.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OSStreams.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  client/applyconfiguration/hypershift/v1beta1/kubevirtcompute.go
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  hypershift-operator/controllers/nodepool/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/kubevirt.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

docs(console): close Phase 2 as DONE; move Alerting UI to Phase 3
  CONSOLE_CONTROL_PLANE_DOCS/CONSOLE_CONTROL_PLANE_PHASE1_PLAN.md
  CONSOLE_CONTROL_PLANE_DOCS/CONSOLE_CONTROL_PLANE_PHASE2_PLAN.md
  CONSOLE_CONTROL_PLANE_DOCS/CONSOLE_CONTROL_PLANE_STUDY.md
  CONSOLE_CONTROL_PLANE_DOCS/UPSTREAM_PATCHES.md
  console/guest/allow-geneve-firewall.sh
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

refactor(CNTRLPLANE-4090): move metric name constants to shared packages
  pkg/metrics/hostedcluster/names.go
  pkg/metrics/nodepool/names.go
  test/e2e/karpenter_test.go
  test/e2e/util/hypershift_framework.go
  test/e2e/util/util.go
  test/e2e/v2/tests/hosted_cluster_metrics_test.go
  test/e2e/v2/tests/karpenter_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat(gcp): GCP-1221 | manage worker firewall rule in CPO
  api/hypershift/v1beta1/gcp.go
  api/hypershift/v1beta1/hostedcluster_conditions.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  cmd/infra/gcp/create_infra.go
  cmd/infra/gcp/destroy_infra.go
  cmd/infra/gcp/iam-bindings.json
  cmd/infra/gcp/networking.go
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedclusters-Hypershift-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-Hypershift-TechPreviewNoUpgrade.crd.yaml
  control-plane-operator/controllers/hostedcontrolplane/cloud/gcp/client.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/gcp/errors.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/gcp/firewall.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/gcp/firewall_test.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/gcp/manager.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/gcp/manager_test.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  docs/content/how-to/gcp/create-gcp-iam.md
  docs/content/how-to/gcp/create-gcp-infra.md
  docs/content/reference/aggregated-docs.md
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/reconcile_legacy.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcp.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/hostedcluster_conditions.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat: implement cpu options
  api/karpenter/v1/karpenter_types.go
  api/karpenter/v1/zz_generated.deepcopy.go
  client/applyconfiguration/karpenter/v1/cpuoptions.go
  client/applyconfiguration/karpenter/v1/openshiftec2nodeclassspec.go
  client/applyconfiguration/utils.go
  karpenter-operator/controllers/karpenter/assets/karpenter.hypershift.openshift.io_openshiftec2nodeclasses.yaml
  karpenter-operator/controllers/karpenter/assets/zz_generated.crd-manifests/openshiftec2nodeclasses.crd.yaml
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller.go
  karpenter-operator/controllers/nodeclass/ec2_nodeclass_controller_test.go
  karpenter-operator/controllers/nodeclass/karpenter_util.go
  test/e2e/v2/tests/karpenter_test.go
  vendor/github.com/openshift/hypershift/api/karpenter/v1/karpenter_types.go
  vendor/github.com/openshift/hypershift/api/karpenter/v1/zz_generated.deepcopy.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(e2e): skip TLS flag propagation tests for older operator versions
  test/e2e/v2/tests/control_plane_tls_operator_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(azure): skip KMS validation for private Key Vaults on ARO HCP
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  support/conditions/conditions.go
  support/conditions/conditions_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix: clarify private Key Vault validation comments
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  support/conditions/conditions.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(gcp): address nodepool CLI review feedback
  cmd/nodepool/gcp/create.go
  cmd/nodepool/gcp/create_test.go
  cmd/nodepool/gcp/testdata/zz_fixture_TestCLIFlow_When_minimal_flags_are_provided__it_should_use_defaults.yaml
  cmd/nodepool/gcp/testdata/zz_fixture_TestCLIFlow_When_resource_labels_are_provided_in_non_alphabetical_order__it_should_sort_them.yaml
  cmd/util/gcp.go
  cmd/util/gcp_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

docs: fix Mermaid test flow rendering
  docs/content/how-to/ci/v2-testing/test-flow.md
  docs/content/reference/aggregated-docs.md
Due: none

feat(cpo): GCP-gated strip of console-operator from the guest CVO payload
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/cvo/deployment_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat(console): Phase 3 plugin support + token-minter + dev-patmarti MC
  console/Dockerfile.dev.fast
  console/build.sh
  console/guest/README.md
  console/guest/allow-geneve-firewall.sh
  console/guest/apply.sh
  console/guest/consoleclidownloads-crd.yaml
  console/guest/oc-cli-downloads.yaml
  console/hostedcluster/certificate.yaml
  console/hostedcluster/hostedcluster.yaml
  console/hostedcluster/nodepool.yaml
  console/kustomize/README.md
  console/kustomize/hypershift/kustomization.yaml
  console/kustomize/pat-console/apply.sh
  console/kustomize/pat-console/kustomization.yaml
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

docs(console): close Phase 3 as DONE; reorganize docs
  CONSOLE_CONTROL_PLANE_DOCS/CONSOLE_CONTROL_PLANE_PHASE1_PLAN.md
  CONSOLE_CONTROL_PLANE_DOCS/CONSOLE_CONTROL_PLANE_PHASE2_PLAN.md
  CONSOLE_CONTROL_PLANE_DOCS/CONSOLE_CONTROL_PLANE_PHASE3_PLAN.md
  CONSOLE_CONTROL_PLANE_DOCS/CONSOLE_CONTROL_PLANE_POC_PLAN.md
  CONSOLE_CONTROL_PLANE_DOCS/CONSOLE_CONTROL_PLANE_PROGRESS.md
  CONSOLE_CONTROL_PLANE_DOCS/CONSOLE_CONTROL_PLANE_STUDY.md
  CONSOLE_CONTROL_PLANE_DOCS/gaps/CNO_RESTRICTED_PSA_GAP.md
  CONSOLE_CONTROL_PLANE_DOCS/gaps/CONSOLE_CONTROL_PLANE_GAPS.md
  CONSOLE_CONTROL_PLANE_DOCS/reference/CONSOLE_AUTH_OPTIONS.md
  CONSOLE_CONTROL_PLANE_DOCS/reference/GOOGLE_OIDC_CLIENT_SETUP.md
  CONSOLE_CONTROL_PLANE_DOCS/reference/PRIVATE_ENDPOINT_ACCESS.md
  CONSOLE_CONTROL_PLANE_DOCS/reference/STUDY_COMPONENTS_DEPLOYMENT_PATTERNS.md
  CONSOLE_CONTROL_PLANE_DOCS/reference/UPSTREAM_PATCHES.md
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(capi): exclude ipam CRDs from storage version migration
  cmd/install/assets/crds/assets.go
  cmd/install/install.go
  hypershift-operator/main.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat(gcp): add load balancer Service annotations webhook
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/pki/gcp_lb_service_annotations_webhook.go
  control-plane-operator/controllers/hostedcontrolplane/testdata/kube-apiserver/GCP/zz_fixture_TestControlPlaneComponents_kube_apiserver_deployment.yaml
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/v2/kas/gcp_lb_service_annotations_webhook_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/gcp_lb_service_annotations_webhook_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/manifests/gcp_lb_service_annotations_webhook.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/main.go
  control-plane-operator/webhooks/gcp-lb-service-annotations/webhook.go
  control-plane-operator/webhooks/gcp-lb-service-annotations/webhook_test.go
  support/gcputil/gcputil.go
  support/gcputil/gcputil_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix: OCPBUGS-94251: Add CEL duration validation to NodePool drain/detach timeouts
  api/hypershift/v1beta1/nodepool_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/AAA_ungated.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OSStreams.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/nodepools.hypershift.openshift.io/OpenStack.yaml
  cmd/install/assets/crds/hypershift-operator/tests/nodepools.hypershift.openshift.io/stable.nodepools.validation.testsuite.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-CustomNoUpgrade.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-Default.crd.yaml
  cmd/install/assets/crds/hypershift-operator/zz_generated.crd-manifests/nodepools-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/nodepool_types.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat: OCPBUGS-94252: Implement degraded-mode NodePool informer for pre-existing invalid durations
  hypershift-operator/controllers/nodepool/degraded_lister.go
  hypershift-operator/controllers/nodepool/degraded_lister_test.go
  hypershift-operator/main.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(console): inject POD_NAME for multi-replica OIDC sessions; correct docs
  CONSOLE_CONTROL_PLANE_DOCS/CONSOLE_CONTROL_PLANE_PHASE3_PLAN.md
  CONSOLE_CONTROL_PLANE_DOCS/CONSOLE_CONTROL_PLANE_PROGRESS.md
  console/kustomize/README.md
  console/kustomize/hypershift/kustomization.yaml
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify
