Repository openshift/hypershift: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

e2e-aws-pooled:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: hypershift
    product: ocp
    timeout: 1h30m0s
    version: '4.8'
  steps:
    test:
    - as: install-hypershift
      cli: latest
      commands: make ci-install-hypershift
      credentials:
      - mount_path: /etc/hypershift-pool-aws-credentials
  ...

ci/prow/e2e-aws:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-ibmcloud-iks:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-ibmcloud-roks:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-e2e-kubevirt-aws-ovn:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci-operator.openshift.io/variant: kubevirt
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/verify:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Add support for external infra clusters in KubeVirt platform
  api/fixtures/example.go
  api/fixtures/example_kubevirt.go
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/hostedcluster_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/cluster/aws/destroy.go
  cmd/cluster/core/create.go
  cmd/cluster/kubevirt/create.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  cmd/kubeconfig/create.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/manifests.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/providerconfig.go
  control-plane-operator/controllers/hostedcontrolplane/cloud/kubevirt/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/configoperator/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/hostedclusterconfigoperator/cmd.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/ingress/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/operator/config.go
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
  hack/ci/install-cnv.sh
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/internal/platform/kubevirt/kubevirt.go
  hypershift-operator/controllers/manifests/manifests.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt.go
  hypershift-operator/controllers/nodepool/kubevirt/kubevirt_test.go
  support/upsert/upsert.go
  support/util/deployment.go
  test/e2e/e2e_test.go
  test/e2e/util/util.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

create external route for Private clusters
  api/fixtures/example.go
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/infra.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/route.go
  hack/app-sre/saas_template.yaml
  support/util/route.go
  test/e2e/util/oauth.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Propagate AWSEndpointService conditions
  api/v1beta1/endpointservice_types.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Post cherry-pick fixes
  api/fixtures/example.go
  api/fixtures/example_ibmcloud_powervs.go
  cmd/cluster/core/create.go
  cmd/cluster/powervs/create.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/hostedclusterconfigoperator/controllers/hcpstatus/hcpstatus.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_webhook_test.go
  hypershift-operator/controllers/hostedcluster/internal/platform/powervs/powervs.go
  hypershift-operator/controllers/nodepool/nodepool_controller.go
  hypershift-operator/controllers/nodepool/powervs.go
  hypershift-operator/controllers/util/deployment.go
  hypershift-operator/metrics.go
  test/e2e/util/util.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Switch NTO metrics auth to certs generated by HCP controller
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
  control-plane-operator/controllers/hostedcontrolplane/pki/nto.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

OCPBUGS-8381: Use appropriate serving certificate for OAuth
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/pki.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/config.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/pki/oauth.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/oauth/reconcile.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources_test.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

HOSTEDCP-839: Audit log sidecars for openshift-apiserver and openshift-oauth-apiserver
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/kas/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/auditcfg.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/config.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/oauth_deployment.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/params.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Add validation for taint.value in nodePool
  api/v1beta1/nodepool_types.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_nodepools.yaml
  hack/app-sre/saas_template.yaml
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

HOSTEDCP-924: Exposing LastCompletedVersion as a new status.condition
  api/v1alpha1/conditions.go
  api/v1beta1/hostedcluster_conditions.go
  docs/content/reference/api.md
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Add storage operators perms. to watch HostedControlPlane
  control-plane-operator/controllers/hostedcontrolplane/snapshotcontroller/assets/05_operator_role-hypershift.yaml
  control-plane-operator/controllers/hostedcontrolplane/storage/assets/role.yaml
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

[release-4.13] Disable inplace upgrade e2e tests
  test/e2e/nodepool_test.go
  test/e2e/nodepool_upgrade_test.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Add SLOs alert on CI
  Makefile
  cmd/install/assets/assets.go
  cmd/install/assets/hypershift_operator.go
  cmd/install/assets/slos/hypershift.yaml
  cmd/install/install.go
  test/e2e/create_cluster_test.go
  test/e2e/e2e_test.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Revendor
  go.mod
  vendor/github.com/openshift/client-go/route/clientset/versioned/clientset.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/doc.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/scheme/doc.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/scheme/register.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/typed/route/v1/doc.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/typed/route/v1/generated_expansion.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/typed/route/v1/route.go
  vendor/github.com/openshift/client-go/route/clientset/versioned/typed/route/v1/route_client.go
  vendor/github.com/openshift/library-go/test/library/metrics/query.go
  vendor/modules.txt
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

api/v1beta1/hostedcluster_types: Add channel, availableUpdates, and conditionalUpdates
  api/v1beta1/hosted_controlplane.go
  api/v1beta1/hostedcluster_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  control-plane-operator/hostedclusterconfigoperator/controllers/hcpstatus/hcpstatus.go
  control-plane-operator/hostedclusterconfigoperator/controllers/resources/resources.go
  hack/app-sre/saas_template.yaml
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller_test.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

api/v1alpha1: Catch up with channel, availableUpdates, and conditionalUpdates
  api/v1alpha1/hosted_controlplane.go
  api/v1alpha1/hostedcluster_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedclusters.yaml
  cmd/install/assets/hypershift-operator/hypershift.openshift.io_hostedcontrolplanes.yaml
  docs/content/reference/api.md
  hack/app-sre/saas_template.yaml
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

HOSTEDCP-801: Expose external DNS for private cluster endpoints
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/infra.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/route.go
  control-plane-operator/controllers/hostedcontrolplane/pki/kas.go
  control-plane-operator/main.go
  hack/app-sre/saas_template.yaml
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

fix(ho): Use v1alpha1 ownerRef for future CPO managed components
  control-plane-operator/controllers/hostedcontrolplane/autoscaler/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/machineapprover/reconcile.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
  support/config/ownerref.go
  support/config/ownerref_test.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

OCPBUGS-10504: Deletion of the VPCEnpoint on conflicting service names
  control-plane-operator/controllers/awsprivatelink/awsprivatelink_controller.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Update tekton references
  .tekton/hypershift-azjx-pull-request.yaml
  .tekton/hypershift-azjx-push.yaml
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Switch API documentation to v1beta1
  docs/content/reference/api.md
  hack/gen-api-docs.sh
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

This PR creates a second scheme, InstallScheme
  api/scheme.go
  cmd/install/install.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

create external route for Private clusters
  api/fixtures/example.go
  api/v1beta1/hostedcluster_types.go
  cmd/install/assets/hypershift_operator.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller_test.go
  control-plane-operator/controllers/hostedcontrolplane/kas/service.go
  control-plane-operator/controllers/hostedcontrolplane/manifests/infra.go
  control-plane-operator/controllers/hostedcontrolplane/oauth/route.go
  go.mod
  go.sum
  hack/app-sre/saas_template.yaml
  support/util/route.go
  test/e2e/util/oauth.go
  vendor/github.com/openshift/api/user/v1/doc.go
  vendor/github.com/openshift/api/user/v1/generated.pb.go
  vendor/github.com/openshift/api/user/v1/generated.proto
  vendor/github.com/openshift/api/user/v1/legacy.go
  vendor/github.com/openshift/api/user/v1/register.go
  vendor/github.com/openshift/api/user/v1/types.go
  vendor/github.com/openshift/api/user/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/user/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/client-go/LICENSE
  vendor/github.com/openshift/client-go/user/clientset/versioned/scheme/doc.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/scheme/register.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/doc.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/generated_expansion.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/group.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/identity.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/user.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/user_client.go
  vendor/github.com/openshift/client-go/user/clientset/versioned/typed/user/v1/useridentitymapping.go
  vendor/modules.txt
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Do not proxy when guest cluster resolution fails
  control-plane-operator/controllers/hostedcontrolplane/oauth/deployment.go
  konnectivity-socks5-proxy/main.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Re-enable inplace node upgrade tests
  test/e2e/nodepool_test.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

HOSTEDCP-736: Docs on how we handle aws permissions
  docs/content/reference/infrastructure/aws.md
Due: none

Pass runAsUser to CNO
  control-plane-operator/controllers/hostedcontrolplane/cno/clusternetworkoperator.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

ensure well known public domains do not get proxied on image imports
  control-plane-operator/controllers/hostedcontrolplane/oapi/deployment.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Fix ValidAWSKMSConfig condition
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

SDA-8609: Making sure that servicemonitors & podmonitors are created with at least a 30s scrape interval
  control-plane-operator/controllers/hostedcontrolplane/cvo/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/etcd/reconcile.go
  control-plane-operator/controllers/hostedcontrolplane/hostedcontrolplane_controller.go
  control-plane-operator/controllers/hostedcontrolplane/ignitionserver/ignitionserver.go
  control-plane-operator/controllers/hostedcontrolplane/kas/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/kcm/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/nto/clusternodetuningoperator.go
  control-plane-operator/controllers/hostedcontrolplane/oapi/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/ocm/servicemonitor.go
  control-plane-operator/controllers/hostedcontrolplane/olm/catalogs.go
  control-plane-operator/controllers/hostedcontrolplane/olm/operator.go
  control-plane-operator/controllers/hostedcontrolplane/routecm/servicemonitor.go
  hypershift-operator/controllers/hostedcluster/hostedcluster_controller.go
Due: e2e-aws-pooled, ci/prow/e2e-aws, ci/prow/kubevirt-e2e-kubevirt-aws-ovn, ci/prow/unit, ci/prow/verify

Path conditions:
  e2e-aws-pooled: unless all of: (^(docs|examples|enhancements)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-aws: unless all of: (^(docs|examples|enhancements)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-ibmcloud-iks: any of: ^api/
  ci/prow/e2e-ibmcloud-roks: any of: ^api/
  ci/prow/kubevirt-e2e-kubevirt-aws-ovn: unless all of: (^(docs|examples|enhancements)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/unit: unless all of: (^(docs|examples|enhancements)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/verify: unless all of: (^(docs|examples|enhancements)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
