Repository openshift/hypershift: changes, and which Prow jobs are due for each by the changed paths.
All: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Path conditions:
  verify: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  unit: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-azure: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-aws: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-kubevirt-aws-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-ibmcloud-iks: any of: ^api/
  e2e-ibmcloud-roks: any of: ^api/
  ci/prow/e2e-aws: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-azure: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-ibmcloud-iks: any of: ^api/
  ci/prow/e2e-ibmcloud-roks: any of: ^api/
  ci/prow/e2e-kubevirt-aws-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-kubevirt-azure-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/unit: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/verify: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-push.yaml
Due: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Due: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Due: none

Red Hat Konflux update hypershift-operator-hotfix-ocpbugs-61296-0170
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-pull-request.yaml
  .tekton/hypershift-operator-hotfix-ocpbugs-61296-0170-push.yaml
Due: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Due: none

Red Hat Konflux update control-plane-operator-4-20
  .tekton/control-plane-operator-4-20-pull-request.yaml
  .tekton/control-plane-operator-4-20-push.yaml
Due: none

chore(deps): update module github.com/mailru/easyjson to v0.9.1
  api/go.mod
  api/go.sum
  api/vendor/modules.txt
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/mailru/easyjson/jlexer/bytestostr.go
  hack/tools/vendor/github.com/mailru/easyjson/jlexer/lexer.go
  hack/tools/vendor/github.com/mailru/easyjson/jwriter/writer.go
  hack/tools/vendor/modules.txt
  vendor/modules.txt
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

chore(deps): update module github.com/pjbgf/sha1cd to v0.5.0
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/klauspost/cpuid/v2/.gitignore
  hack/tools/vendor/github.com/klauspost/cpuid/v2/.goreleaser.yml
  hack/tools/vendor/github.com/klauspost/cpuid/v2/CONTRIBUTING.txt
  hack/tools/vendor/github.com/klauspost/cpuid/v2/LICENSE
  hack/tools/vendor/github.com/klauspost/cpuid/v2/README.md
  hack/tools/vendor/github.com/klauspost/cpuid/v2/cpuid.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/cpuid_386.s
  hack/tools/vendor/github.com/klauspost/cpuid/v2/cpuid_amd64.s
  hack/tools/vendor/github.com/klauspost/cpuid/v2/cpuid_arm64.s
  hack/tools/vendor/github.com/klauspost/cpuid/v2/detect_arm64.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/detect_ref.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/detect_x86.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/featureid_string.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/os_darwin_arm64.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/os_linux_arm64.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/os_other_arm64.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/os_safe_linux_arm64.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/os_unsafe_linux_arm64.go
  hack/tools/vendor/github.com/klauspost/cpuid/v2/test-architectures.sh
  hack/tools/vendor/github.com/pjbgf/sha1cd/Dockerfile.arm
  hack/tools/vendor/github.com/pjbgf/sha1cd/Dockerfile.arm64
  hack/tools/vendor/github.com/pjbgf/sha1cd/LICENSE
  hack/tools/vendor/github.com/pjbgf/sha1cd/Makefile
  hack/tools/vendor/github.com/pjbgf/sha1cd/README.md
  hack/tools/vendor/github.com/pjbgf/sha1cd/sha1cd.go
  hack/tools/vendor/github.com/pjbgf/sha1cd/sha1cdblock_amd64.s
  hack/tools/vendor/github.com/pjbgf/sha1cd/sha1cdblock_arm64.go
  hack/tools/vendor/github.com/pjbgf/sha1cd/sha1cdblock_arm64.s
  hack/tools/vendor/github.com/pjbgf/sha1cd/sha1cdblock_generic.go
  hack/tools/vendor/github.com/pjbgf/sha1cd/sha1cdblock_noasm.go
  hack/tools/vendor/github.com/pjbgf/sha1cd/ubc/doc.go
  hack/tools/vendor/github.com/pjbgf/sha1cd/ubc/ubc.go
  hack/tools/vendor/modules.txt
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat(e2e): Add Prometheus metric for control plane rollout duration
  test/e2e/controlplanemetrics/controlplanemetrics.go
  test/e2e/e2e_test.go
  test/e2e/util/util.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

feat(api): Add ValidProxyConfiguration condition
  api/hypershift/v1beta1/hostedcluster_conditions.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

test(metrics): Set ValidProxyConfiguration condition in test
  hypershift-operator/controllers/hostedcluster/metrics/metrics_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

refactor(test): Use strings.Contains instead of custom function
  hypershift-operator/controllers/hostedcluster/internal/proxy/validation_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

refactor(proxy): Extract proxy validation to shared package
  hypershift-operator/controllers/hostedcluster/internal/proxy/validation.go
  hypershift-operator/controllers/hostedcluster/internal/proxy/validation_test.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify
