Repository openshift/hypershift: changes, and which Prow jobs are due for each by the changed paths.
All: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

verify:
  commands: make verify
  container:
    from: src

unit:
  commands: make test
  container:
    from: src

e2e-azure:
  optional: true
  steps:
    cluster_profile: hypershift
    env:
      ENABLE_HYPERSHIFT_CERT_ROTATION_SCALE: 'true'
    workflow: hypershift-azure-e2e-nested

e2e-aws:
  steps:
    cluster_profile: hypershift
    env:
      ENABLE_HYPERSHIFT_CERT_ROTATION_SCALE: 'true'
      OCP_IMAGE_LATEST: release:multi-latest
      OCP_IMAGE_PREVIOUS: release:multi-initial
    workflow: hypershift-aws-e2e-nested

e2e-kubevirt-aws-ovn:
  steps:
    cluster_profile: aws
    env:
      COMPUTE_NODE_REPLICAS: '1'
      COMPUTE_NODE_TYPE: c5n.metal
      ENABLE_HYPERSHIFT_CERT_ROTATION_SCALE: 'true'
      ENABLE_HYPERSHIFT_OPERATOR_DEFAULTING_WEBHOOK: 'true'
      ETCD_STORAGE_CLASS: gp3-csi
      KUBEVIRT_CSI_INFRA: gp3-csi
  ...

e2e-ibmcloud-iks:
  optional: true
  steps:
    env:
      BOM_VERSION: 4.12.0_openshift
      MANAGED_CLUSTER_TYPE: iks
      MANAGEMENT_CLUSTER_KUBECONFIG: /etc/ibmcloud/secrets/iks.kubeconfig
      TEST_TYPE: main
      VERIFY_COMPLIANCE_OPERATOR_SCAN: 'false'
    workflow: hypershift-ibmcloud-e2e

e2e-ibmcloud-roks:
  optional: true
  steps:
    env:
      BOM_VERSION: 4.13.0_openshift
      MANAGED_CLUSTER_TYPE: openshift
      MANAGEMENT_CLUSTER_KUBECONFIG: /etc/ibmcloud/secrets/roks.kubeconfig
      TEST_TYPE: main
      VERIFY_COMPLIANCE_OPERATOR_SCAN: 'true'
    workflow: hypershift-ibmcloud-e2e

ci/prow/e2e-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: hypershift
    ci-operator.openshift.io/cloud-cluster-profile: hypershift
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-azure:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: hypershift
    ci-operator.openshift.io/cloud-cluster-profile: hypershift
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-ibmcloud-iks:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-ibmcloud-roks:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

fix(api): relax GCP resource name validation to allow consecutive hyphens
  api/hypershift/v1beta1/gcp.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

docs(api): remove implementation note from natSubnet
  api/hypershift/v1beta1/gcpprivateserviceconnect_types.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/gcpprivateserviceconnects.hypershift.openshift.io/GCPPlatform.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/gcpprivateserviceconnects-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/gcpprivateserviceconnects-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(api): pluralize PSC subnet description
  api/hypershift/v1beta1/gcp.go
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedclusters.hypershift.openshift.io/GCPPlatform.yaml
  api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests/hostedcontrolplanes.hypershift.openshift.io/GCPPlatform.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedclusters-TechPreviewNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-CustomNoUpgrade.crd.yaml
  cmd/install/assets/hypershift-operator/zz_generated.crd-manifests/hostedcontrolplanes-TechPreviewNoUpgrade.crd.yaml
  docs/content/reference/api.md
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(deps): update github.com/openshift/library-go digest to 277736d
  go.mod
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(deps): update github.com/ppc64le-cloud/powervs-utils digest to d58d915
  go.mod
  go.sum
  vendor/github.com/ppc64le-cloud/powervs-utils/region.go
  vendor/modules.txt
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(deps): update k8s.io/utils digest to bc988d5
  api/go.mod
  api/go.sum
  api/vendor/k8s.io/utils/buffer/ring_growing.go
  api/vendor/k8s.io/utils/clock/testing/fake_clock.go
  api/vendor/k8s.io/utils/net/multi_listen.go
  api/vendor/modules.txt
  contrib/aws-tag-lb-service-webhook/go.mod
  contrib/aws-tag-lb-service-webhook/go.sum
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/k8s.io/utils/clock/testing/fake_clock.go
  hack/tools/vendor/k8s.io/utils/lru/lru.go
  hack/tools/vendor/k8s.io/utils/net/multi_listen.go
  hack/tools/vendor/modules.txt
  vendor/k8s.io/utils/buffer/ring_growing.go
  vendor/k8s.io/utils/clock/testing/fake_clock.go
  vendor/k8s.io/utils/net/multi_listen.go
  vendor/modules.txt
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

chore(deps): update module github.com/gabriel-vasile/mimetype to v1.4.11
  go.mod
  go.sum
  vendor/github.com/gabriel-vasile/mimetype/.git-blame-ignore-revs
  vendor/github.com/gabriel-vasile/mimetype/.golangci.yml
  vendor/github.com/gabriel-vasile/mimetype/CODE_OF_CONDUCT.md
  vendor/github.com/gabriel-vasile/mimetype/CONTRIBUTING.md
  vendor/github.com/gabriel-vasile/mimetype/README.md
  vendor/github.com/gabriel-vasile/mimetype/internal/charset/charset.go
  vendor/github.com/gabriel-vasile/mimetype/internal/csv/parser.go
  vendor/github.com/gabriel-vasile/mimetype/internal/json/json.go
  vendor/github.com/gabriel-vasile/mimetype/internal/json/parser.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/archive.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/audio.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/binary.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/database.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/document.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/font.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/ftyp.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/geo.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/image.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/magic.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/ms_office.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/netpbm.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/text.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/text_csv.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/video.go
  vendor/github.com/gabriel-vasile/mimetype/internal/magic/zip.go
  vendor/github.com/gabriel-vasile/mimetype/internal/markup/markup.go
  vendor/github.com/gabriel-vasile/mimetype/internal/scan/bytes.go
  vendor/github.com/gabriel-vasile/mimetype/mime.go
  vendor/github.com/gabriel-vasile/mimetype/mimetype.go
  vendor/github.com/gabriel-vasile/mimetype/supported_mimes.md
  vendor/github.com/gabriel-vasile/mimetype/tree.go
  vendor/modules.txt
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(deps): update sigs.k8s.io/kube-api-linter digest to dda830a
  hack/tools/go.mod
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

chore(deps): update module github.com/moby/term to v0.5.2
  go.mod
  go.sum
  vendor/github.com/Azure/go-ansiterm/osc_string_state.go
  vendor/github.com/moby/term/term_unix.go
  vendor/modules.txt
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

chore(deps): update module github.com/stoewer/go-strcase to v1.3.1
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/stoewer/go-strcase/.golangci.yml
  hack/tools/vendor/github.com/stoewer/go-strcase/camel.go
  hack/tools/vendor/github.com/stoewer/go-strcase/helper.go
  hack/tools/vendor/modules.txt
  vendor/github.com/stoewer/go-strcase/.golangci.yml
  vendor/github.com/stoewer/go-strcase/camel.go
  vendor/github.com/stoewer/go-strcase/helper.go
  vendor/modules.txt
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

chore(deps): update module github.com/cenkalti/backoff/v5 to v5.0.3
  go.mod
  go.sum
  vendor/github.com/cenkalti/backoff/v5/exponential.go
  vendor/github.com/cenkalti/backoff/v5/retry.go
  vendor/modules.txt
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

chore(deps): update module go.etcd.io/etcd/client/v2 to v2.305.24
  go.mod
  go.sum
  vendor/go.etcd.io/etcd/api/v3/version/version.go
  vendor/modules.txt
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

chore(deps): update module go.etcd.io/etcd/raft/v3 to v3.5.24
  go.mod
  go.sum
  vendor/modules.txt
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(deps): update module github.com/spf13/pflag to v1.0.10
  api/go.mod
  api/go.sum
  api/vendor/github.com/spf13/pflag/flag.go
  api/vendor/github.com/spf13/pflag/golangflag.go
  api/vendor/github.com/spf13/pflag/string_to_string.go
  api/vendor/github.com/spf13/pflag/time.go
  api/vendor/modules.txt
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/spf13/pflag/README.md
  hack/tools/vendor/github.com/spf13/pflag/bool_func.go
  hack/tools/vendor/github.com/spf13/pflag/count.go
  hack/tools/vendor/github.com/spf13/pflag/errors.go
  hack/tools/vendor/github.com/spf13/pflag/flag.go
  hack/tools/vendor/github.com/spf13/pflag/func.go
  hack/tools/vendor/github.com/spf13/pflag/golangflag.go
  hack/tools/vendor/github.com/spf13/pflag/ipnet_slice.go
  hack/tools/vendor/github.com/spf13/pflag/string_to_string.go
  hack/tools/vendor/github.com/spf13/pflag/text.go
  hack/tools/vendor/github.com/spf13/pflag/time.go
  hack/tools/vendor/modules.txt
  vendor/github.com/spf13/pflag/flag.go
  vendor/github.com/spf13/pflag/golangflag.go
  vendor/github.com/spf13/pflag/string_to_string.go
  vendor/modules.txt
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

chore(deps): update module go.mongodb.org/mongo-driver to v1.17.6
  go.mod
  go.sum
  vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/default_value_decoders.go
  vendor/go.mongodb.org/mongo-driver/bson/bsonrw/extjson_writer.go
  vendor/go.mongodb.org/mongo-driver/bson/unmarshal.go
  vendor/modules.txt
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(client): correct typo in Apache License boilerplate
  client/clientset/clientset/typed/hypershift/v1beta1/fake/fake_certificatesigningrequestapproval.go
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

fix(deps): update module sigs.k8s.io/cluster-api-provider-azure to v1.21.1
  go.mod
  go.sum
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/internal/resource/resource_identifier.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/internal/shared/constants.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/policy_api_version.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime/poller.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/CHANGELOG.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/TROUBLESHOOTING.md
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/assets.json
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/azure_cli_credential.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/azure_developer_cli_credential.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/ci.yml
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/default_azure_credential.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/developer_credential_util.go
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/managed-identity-matrix.json
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/test-resources-post.ps1
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/test-resources.bicep
  vendor/github.com/Azure/azure-sdk-for-go/sdk/azidentity/version.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/local/server.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/ops/authority/authority.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/resolvers.go
  vendor/github.com/stretchr/testify/assert/assertion_compare.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_order.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/doc.go
  vendor/github.com/stretchr/testify/assert/http_assertions.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_custom.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_default.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_fail.go
  vendor/github.com/stretchr/testify/require/doc.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/modules.txt
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

chore(deps): update module github.com/felixge/fgprof to v0.9.5
  go.mod
  go.sum
  vendor/github.com/felixge/fgprof/fgprof.go
  vendor/modules.txt
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

chore(vendor): update vendored API definitions
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcp.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/gcpprivateserviceconnect_types.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift/hypershift/api/hypershift/v1beta1/zz_generated.featuregated-crd-manifests.yaml
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63639
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63639-push.yaml
Due: none

Red Hat Konflux update hypershift-cpo-hotfix-ocpbugs-63638
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-pull-request.yaml
  .tekton/hypershift-cpo-hotfix-ocpbugs-63638-push.yaml
Due: none

Red Hat Konflux update control-plane-operator-4-19
  .tekton/control-plane-operator-4-19-pull-request.yaml
  .tekton/control-plane-operator-4-19-push.yaml
Due: none

chore(deps): update module github.com/aws/smithy-go to v1.23.1
  contrib/cleanroles/go.mod
  contrib/cleanroles/go.sum
  go.mod
  go.sum
  vendor/github.com/aws/smithy-go/CHANGELOG.md
  vendor/github.com/aws/smithy-go/Makefile
  vendor/github.com/aws/smithy-go/README.md
  vendor/github.com/aws/smithy-go/go_module_metadata.go
  vendor/modules.txt
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

chore(deps): update module github.com/azuread/microsoft-authentication-library-for-go to v1.5.0
  go.mod
  go.sum
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/local/server.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/ops/authority/authority.go
  vendor/github.com/AzureAD/microsoft-authentication-library-for-go/apps/internal/oauth/resolvers.go
  vendor/modules.txt
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

chore(deps): update module github.com/coreos/go-systemd/v22 to v22.6.0
  go.mod
  go.sum
  vendor/github.com/coreos/go-systemd/v22/journal/journal.go
  vendor/github.com/coreos/go-systemd/v22/journal/journal_unix.go
  vendor/github.com/coreos/go-systemd/v22/unit/deserialize.go
  vendor/github.com/coreos/go-systemd/v22/unit/doc.go
  vendor/github.com/coreos/go-systemd/v22/unit/option.go
  vendor/github.com/coreos/go-systemd/v22/unit/serialize.go
  vendor/modules.txt
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

chore(deps): update module github.com/emicklei/go-restful/v3 to v3.13.0
  api/go.mod
  api/go.sum
  api/vendor/github.com/emicklei/go-restful/v3/.travis.yml
  api/vendor/github.com/emicklei/go-restful/v3/CHANGES.md
  api/vendor/github.com/emicklei/go-restful/v3/README.md
  api/vendor/github.com/emicklei/go-restful/v3/curly.go
  api/vendor/github.com/emicklei/go-restful/v3/custom_verb.go
  api/vendor/github.com/emicklei/go-restful/v3/doc.go
  api/vendor/modules.txt
  contrib/gomaxprocs-webhook/go.mod
  contrib/gomaxprocs-webhook/go.sum
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  hack/tools/vendor/github.com/emicklei/go-restful/v3/.travis.yml
  hack/tools/vendor/github.com/emicklei/go-restful/v3/CHANGES.md
  hack/tools/vendor/github.com/emicklei/go-restful/v3/README.md
  hack/tools/vendor/github.com/emicklei/go-restful/v3/compress.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/curly.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/custom_verb.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/doc.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/entity_accessors.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/json.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/jsoniter.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/jsr311.go
  hack/tools/vendor/github.com/emicklei/go-restful/v3/route.go
  hack/tools/vendor/modules.txt
  vendor/github.com/emicklei/go-restful/v3/.travis.yml
  vendor/github.com/emicklei/go-restful/v3/CHANGES.md
  vendor/github.com/emicklei/go-restful/v3/README.md
  vendor/github.com/emicklei/go-restful/v3/curly.go
  vendor/github.com/emicklei/go-restful/v3/custom_verb.go
  vendor/github.com/emicklei/go-restful/v3/doc.go
  vendor/modules.txt
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, e2e-ibmcloud-iks, e2e-ibmcloud-roks, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-ibmcloud-iks, ci/prow/e2e-ibmcloud-roks, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

chore(deps): update module github.com/go-jose/go-jose/v4 to v4.1.3
  go.mod
  go.sum
  vendor/github.com/go-jose/go-jose/v4/CHANGELOG.md
  vendor/github.com/go-jose/go-jose/v4/README.md
  vendor/github.com/go-jose/go-jose/v4/crypter.go
  vendor/github.com/go-jose/go-jose/v4/jwe.go
  vendor/github.com/go-jose/go-jose/v4/jwk.go
  vendor/github.com/go-jose/go-jose/v4/jws.go
  vendor/github.com/go-jose/go-jose/v4/shared.go
  vendor/github.com/go-jose/go-jose/v4/signing.go
  vendor/github.com/go-jose/go-jose/v4/symmetric.go
  vendor/modules.txt
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

chore(deps): update module github.com/gophercloud/gophercloud/v2 to v2.8.0
  go.mod
  go.sum
  vendor/github.com/gophercloud/gophercloud/v2/CHANGELOG.md
  vendor/github.com/gophercloud/gophercloud/v2/Makefile
  vendor/github.com/gophercloud/gophercloud/v2/endpoint_search.go
  vendor/github.com/gophercloud/gophercloud/v2/provider_client.go
  vendor/github.com/gophercloud/gophercloud/v2/results.go
  vendor/github.com/gophercloud/gophercloud/v2/service_client.go
  vendor/modules.txt
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

chore(deps): update module github.com/grpc-ecosystem/go-grpc-middleware to v1.4.0
  go.mod
  go.sum
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/.travis.yml
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/CHANGELOG.md
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/README.md
  vendor/github.com/grpc-ecosystem/go-grpc-middleware/chain.go
  vendor/modules.txt
Due: verify, unit, e2e-azure, e2e-aws, e2e-kubevirt-aws-ovn, ci/prow/e2e-aws, ci/prow/e2e-azure, ci/prow/e2e-kubevirt-aws-ovn, ci/prow/e2e-kubevirt-azure-ovn, ci/prow/unit, ci/prow/verify

Path conditions:
  verify: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  unit: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-azure: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-aws: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-kubevirt-aws-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  e2e-ibmcloud-iks: any of: ^api/
  e2e-ibmcloud-roks: any of: ^api/
  ci/prow/e2e-aws: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-azure: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-ibmcloud-iks: any of: ^api/
  ci/prow/e2e-ibmcloud-roks: any of: ^api/
  ci/prow/e2e-kubevirt-aws-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-kubevirt-azure-ovn: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/unit: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
  ci/prow/verify: unless all of: (^(\.tekton|docs|examples|enhancements|contrib)/)|(^[A-Z]+\.md$)|((^|/)OWNERS$)
