Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

Update stackrox-stackrox-master.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/stackrox-stackrox-stackrox-stackrox-check

LOG-6722: Prep clo master for upgrading dependencies
  ci-operator/config/openshift/cluster-logging-operator/openshift-cluster-logging-operator-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Update image tag to console-plugin-test-cypress (#58913)
  ci-operator/config/openshift-pipelines/console-plugin/openshift-pipelines-console-plugin-main.yaml
  ci-operator/config/openshift-pipelines/console-plugin/openshift-pipelines-console-plugin-release-4.15.yaml
  ci-operator/config/openshift-pipelines/console-plugin/openshift-pipelines-console-plugin-release-4.16.yaml
  ci-operator/config/openshift-pipelines/console-plugin/openshift-pipelines-console-plugin-release-4.17.yaml
  ci-operator/config/openshift-pipelines/console-plugin/openshift-pipelines-console-plugin-release-4.18.yaml
  ci-operator/config/openshift-pipelines/console-plugin/openshift-pipelines-console-plugin-release-4.19.yaml
  ci-operator/config/openshift-pipelines/console-plugin/openshift-pipelines-console-plugin-release-4.20.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add vsphere7 qe jobs
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__amd64-nightly-4.18-upgrade-from-stable-4.18.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-nightly-4.19-upgrade-from-stable-4.18.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-nightly-4.19-upgrade-from-stable-4.19.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19-periodics.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/vsphere/ipi/vsphere7/OWNERS
  ci-operator/step-registry/cucushift/installer/rehearse/vsphere/ipi/vsphere7/cucushift-installer-rehearse-vsphere-ipi-vsphere7-workflow.metadata.json
  ci-operator/step-registry/cucushift/installer/rehearse/vsphere/ipi/vsphere7/cucushift-installer-rehearse-vsphere-ipi-vsphere7-workflow.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/vsphere/ipi/vsphere7/provision/OWNERS
  ci-operator/step-registry/cucushift/installer/rehearse/vsphere/ipi/vsphere7/provision/cucushift-installer-rehearse-vsphere-ipi-vsphere7-provision-chain.metadata.json
  ci-operator/step-registry/cucushift/installer/rehearse/vsphere/ipi/vsphere7/provision/cucushift-installer-rehearse-vsphere-ipi-vsphere7-provision-chain.yaml
  ci-operator/step-registry/ipi/conf/vsphere/nested/ipi-conf-vsphere-nested-commands.py
  ci-operator/step-registry/ipi/conf/vsphere/nested/zones/ipi-conf-vsphere-nested-zones-commands.py
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

missed one report
  ci-operator/step-registry/redhat-chaos/pod-scenarios/etcd-disruption/redhat-chaos-pod-scenarios-etcd-disruption-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix branches stanza
  core-services/prow/02_config/openshift-assisted/assisted-installer-ui/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

make update
  ci-operator/jobs/openshift-priv/cluster-etcd-operator/openshift-priv-cluster-etcd-operator-release-4.11-presubmits.yaml
  ci-operator/jobs/openshift/apiserver-network-proxy/openshift-apiserver-network-proxy-release-4.15-postsubmits.yaml
  ci-operator/jobs/openshift/containernetworking-plugins/openshift-containernetworking-plugins-release-4.19-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

update base images and workload step
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-netobserv-perf-tests__netobserv-aws-4.19-nightly-x86.yaml
  ci-operator/step-registry/netobserv/perf-test/node-density-heavy/netobserv-perf-test-node-density-heavy-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix branches stanza (#63069)
  core-services/prow/02_config/openshift-assisted/assisted-installer-ui/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Use cucushift to install mgmt cluster
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19-periodics.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/aws/ipi/cilium/hypershift/private/guest/OWNERS
  ci-operator/step-registry/cucushift/installer/rehearse/aws/ipi/cilium/hypershift/private/guest/cucushift-installer-rehearse-aws-ipi-cilium-hypershift-private-guest-workflow.metadata.json
  ci-operator/step-registry/cucushift/installer/rehearse/aws/ipi/cilium/hypershift/private/guest/cucushift-installer-rehearse-aws-ipi-cilium-hypershift-private-guest-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix registry-metadata
  ci-operator/step-registry/cucushift/installer/rehearse/aws/ipi/cilium/hypershift/private/OWNERS
  ci-operator/step-registry/cucushift/installer/rehearse/aws/ipi/cilium/hypershift/private/guest/cucushift-installer-rehearse-aws-ipi-cilium-hypershift-private-guest-workflow.metadata.json
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Allow multiple PGT for concurrent Spoke deployments
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/deploy/telcov10n-metal-single-node-spoke-policies-deploy-commands.sh
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/site-config/deploy/telcov10n-metal-single-node-spoke-site-config-deploy-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Move Spoke DNS setup to the spoke job
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-ztp-left-shifting-kpi__ci-4.19.yaml
  ci-operator/step-registry/telcov10n/metal-single-node-spoke-kpis/hacks/telcov10n-metal-single-node-spoke-kpis-hacks-commands.sh
  ci-operator/step-registry/telcov10n/virtualised-single-node-hub-ztp/deploy-hub/telcov10n-virtualised-single-node-hub-ztp-deploy-hub-commands.sh
  ci-operator/step-registry/telcov10n/virtualised-single-node-hub-ztp/deploy-hub/telcov10n-virtualised-single-node-hub-ztp-deploy-hub-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Now more than one baremetal host can be used concurrently
  ci-operator/step-registry/telcov10n/metal-single-node-spoke-kpis/hacks/clean-up/OWNERS
  ci-operator/step-registry/telcov10n/metal-single-node-spoke-kpis/hacks/clean-up/telcov10n-metal-single-node-spoke-kpis-hacks-clean-up-commands.sh
  ci-operator/step-registry/telcov10n/metal-single-node-spoke-kpis/hacks/clean-up/telcov10n-metal-single-node-spoke-kpis-hacks-clean-up-ref.metadata.json
  ci-operator/step-registry/telcov10n/metal-single-node-spoke-kpis/hacks/clean-up/telcov10n-metal-single-node-spoke-kpis-hacks-clean-up-ref.yaml
  ci-operator/step-registry/telcov10n/metal-single-node-spoke-kpis/hacks/deploy/OWNERS
  ci-operator/step-registry/telcov10n/metal-single-node-spoke-kpis/hacks/deploy/telcov10n-metal-single-node-spoke-kpis-hacks-deploy-commands.sh
  ci-operator/step-registry/telcov10n/metal-single-node-spoke-kpis/hacks/deploy/telcov10n-metal-single-node-spoke-kpis-hacks-deploy-ref.metadata.json
  ci-operator/step-registry/telcov10n/metal-single-node-spoke-kpis/hacks/deploy/telcov10n-metal-single-node-spoke-kpis-hacks-deploy-ref.yaml
  ci-operator/step-registry/telcov10n/metal-single-node-spoke-kpis/hacks/telcov10n-metal-single-node-spoke-kpis-hacks-ref.metadata.json
  ci-operator/step-registry/telcov10n/metal-single-node-spoke-kpis/telcov10n-metal-single-node-spoke-kpis-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Activate Debug Mode
  ci-operator/step-registry/wait/wait-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Env vars clean up
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__nightly-4.18-ztp-kpis.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__nightly-4.19-ztp-kpis.yaml
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/deploy/telcov10n-metal-single-node-spoke-policies-deploy-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Use PreGA 4.18 catalog
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__nightly-4.18-ztp-kpis.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-ztp-left-shifting-kpi__ci-4.19.yaml
  ci-operator/step-registry/telcov10n/virtualised-single-node-hub-ztp/deploy-hub/telcov10n-virtualised-single-node-hub-ztp-deploy-hub-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Make use of PreGA catalogs for Spoke deployment
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__nightly-4.19-ztp-kpis.yaml
  ci-operator/jobs/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main-periodics.yaml
  ci-operator/step-registry/telcov10n/metal-single-node-spoke-kpis/telcov10n-metal-single-node-spoke-kpis-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update metadata
  ci-operator/step-registry/telcov10n/metal-single-node-spoke-kpis/hacks/clean-up/telcov10n-metal-single-node-spoke-kpis-hacks-clean-up-ref.metadata.json
  ci-operator/step-registry/telcov10n/metal-single-node-spoke-kpis/hacks/deploy/telcov10n-metal-single-node-spoke-kpis-hacks-deploy-ref.metadata.json
  ci-operator/step-registry/telcov10n/metal-single-node-spoke-kpis/telcov10n-metal-single-node-spoke-kpis-workflow.metadata.json
  ci-operator/step-registry/telcov10n/metal-single-node-spoke-kpis/tests/telcov10n-metal-single-node-spoke-kpis-tests-ref.metadata.json
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/clean-up/telcov10n-metal-single-node-spoke-policies-clean-up-ref.metadata.json
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/deploy/telcov10n-metal-single-node-spoke-policies-deploy-ref.metadata.json
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/verify/telcov10n-metal-single-node-spoke-policies-verify-ref.metadata.json
  ci-operator/step-registry/telcov10n/virtualised-single-node-hub-ztp/deploy-hub/telcov10n-virtualised-single-node-hub-ztp-deploy-hub-ref.metadata.json
  ci-operator/step-registry/telcov10n/virtualised-single-node-hub-ztp/telcov10n-virtualised-single-node-hub-ztp-workflow.metadata.json
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

make update
  ci-operator/jobs/openshift/cloud-credential-operator/openshift-cloud-credential-operator-release-4.14-presubmits.yaml
  ci-operator/jobs/openshift/cluster-machine-approver/openshift-cluster-machine-approver-release-4.3-postsubmits.yaml
  ci-operator/jobs/openshift/multus-admission-controller/openshift-multus-admission-controller-release-4.1-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

To update the MCO TP jobs execute daily (#63066)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__arm64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add ecoeng accounts
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/OWNERS
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__cloud-governance.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-periodics.yaml
  ci-operator/step-registry/openshift-qe/cloud-governance/policies/openshift-qe-cloud-governance-policies-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

sippy-config-generator: explicitly specify `main` as PR base
  ci-operator/jobs/infra-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

make update
  ci-operator/jobs/openshift/multus-admission-controller/openshift-multus-admission-controller-release-4.1-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Vsphere job for mco
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

update code to support hypershift BM
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__hypershift_bm-4.18-nightly-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-periodics.yaml
  ci-operator/step-registry/openshift-qe/cluster-density-v2/openshift-qe-cluster-density-v2-commands.sh
  ci-operator/step-registry/openshift-qe/crd-scale/openshift-qe-crd-scale-commands.sh
  ci-operator/step-registry/openshift-qe/installer/hypershift-mce-agent-metal3/OWNERS
  ci-operator/step-registry/openshift-qe/installer/hypershift-mce-agent-metal3/openshift-qe-installer-hypershift-mce-agent-metal3-workflow.metadata.json
  ci-operator/step-registry/openshift-qe/installer/hypershift-mce-agent-metal3/openshift-qe-installer-hypershift-mce-agent-metal3-workflow.yaml
  ci-operator/step-registry/openshift-qe/node-density-cni/openshift-qe-node-density-cni-commands.sh
  ci-operator/step-registry/openshift-qe/node-density-heavy/openshift-qe-node-density-heavy-commands.sh
  ci-operator/step-registry/openshift-qe/node-density/openshift-qe-node-density-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

AGENT-1135: CI job to build OVE ISO
  ci-operator/config/openshift/agent-installer-utils/openshift-agent-installer-utils-main.yaml
  ci-operator/jobs/openshift/agent-installer-utils/openshift-agent-installer-utils-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

update konflux placeholder templates
  ci-operator/config/openshift/ci-tools/openshift-ci-tools-master.yaml
  ci-operator/jobs/openshift/ci-tools/openshift-ci-tools-master-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Metric path (#63041)
  ci-operator/step-registry/redhat-chaos/application-outages/console/redhat-chaos-application-outages-console-ref.yaml
  ci-operator/step-registry/redhat-chaos/container-scenarios/etcd-hangup/redhat-chaos-container-scenarios-etcd-hangup-ref.yaml
  ci-operator/step-registry/redhat-chaos/hog-scenarios/cpu/redhat-chaos-hog-scenarios-cpu-ref.yaml
  ci-operator/step-registry/redhat-chaos/hog-scenarios/io/redhat-chaos-hog-scenarios-io-ref.yaml
  ci-operator/step-registry/redhat-chaos/hog-scenarios/memory/redhat-chaos-hog-scenarios-memory-ref.yaml
  ci-operator/step-registry/redhat-chaos/krkn-hub-tests/redhat-chaos-krkn-hub-tests-chain.yaml
  ci-operator/step-registry/redhat-chaos/network-chaos/redhat-chaos-network-chaos-ref.yaml
  ci-operator/step-registry/redhat-chaos/node-disruptions/infra-outage/redhat-chaos-node-disruptions-infra-outage-ref.yaml
  ci-operator/step-registry/redhat-chaos/node-disruptions/master-outage/redhat-chaos-node-disruptions-master-outage-ref.yaml
  ci-operator/step-registry/redhat-chaos/node-disruptions/worker-outage/redhat-chaos-node-disruptions-worker-outage-ref.yaml
  ci-operator/step-registry/redhat-chaos/pod-network-chaos/redhat-chaos-pod-network-chaos-ref.yaml
  ci-operator/step-registry/redhat-chaos/pod-scenarios/etcd-disruption/redhat-chaos-pod-scenarios-etcd-disruption-ref.yaml
  ci-operator/step-registry/redhat-chaos/pod-scenarios/kube-apiserver-disruption/redhat-chaos-pod-scenarios-kube-apiserver-disruption-ref.yaml
  ci-operator/step-registry/redhat-chaos/pod-scenarios/ovn-cp-disruption/redhat-chaos-pod-scenarios-ovn-cp-disruption-ref.yaml
  ci-operator/step-registry/redhat-chaos/pod-scenarios/ovn-disruption/redhat-chaos-pod-scenarios-ovn-disruption-ref.yaml
  ci-operator/step-registry/redhat-chaos/pod-scenarios/prometheus-disruption/redhat-chaos-pod-scenarios-prometheus-disruption-ref.yaml
  ci-operator/step-registry/redhat-chaos/pod-scenarios/random-system-pods/redhat-chaos-pod-scenarios-random-system-pods-ref.yaml
  ci-operator/step-registry/redhat-chaos/power-outage/redhat-chaos-power-outage-ref.yaml
  ci-operator/step-registry/redhat-chaos/pvc-scenarios/prometheus-pod/redhat-chaos-pvc-scenarios-prometheus-pod-ref.yaml
  ci-operator/step-registry/redhat-chaos/service-disruption/etcd/redhat-chaos-service-disruption-etcd-ref.yaml
  ci-operator/step-registry/redhat-chaos/service-disruption/regex/redhat-chaos-service-disruption-regex-ref.yaml
  ci-operator/step-registry/redhat-chaos/syn-flood/prometheus-disruption/redhat-chaos-syn-flood-prometheus-disruption-ref.yaml
  ci-operator/step-registry/redhat-chaos/time-scenarios/redhat-chaos-time-scenarios-ref.yaml
  ci-operator/step-registry/redhat-chaos/zone-outage/redhat-chaos-zone-outage-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

new changes
  ci-operator/config/openshift/agent-installer-utils/openshift-agent-installer-utils-main.yaml
  ci-operator/jobs/openshift/agent-installer-utils/openshift-agent-installer-utils-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

make update
  ci-operator/jobs/openshift/cloud-credential-operator/openshift-cloud-credential-operator-release-4.14-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

debug
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-master__installer-rehearse-4.19.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames
