Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, branch-ci-openshift-release-master-label-sync, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/arm01-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hive-dry, ci/prow/jira-lifecycle-config, ci/build-farm/multi01-dry, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/prow/supplemental-ci-images-mapping-files, ci/build-farm/vsphere-dry, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

ci/openshift/promrules:
  decorate: true
  spec:
    containers:
    - command:
      - /go/entrypoint.sh
      image: registry.svc.ci.openshift.org/ci/promrules:latest
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
          cpu: 500m
        requests:
          cpu: 10m

ci/prow/pylint:
  decorate: true
  spec:
    containers:
    - args:
      - --rcfile=hack/.pylintrc
      - --ignore=lib
      - --persistent=n
      - hack
      command:
      - pylint
      image: registry.svc.ci.openshift.org/ci/python-validation
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
  ...

branch-ci-openshift-release-master-label-sync:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/prow/02_config/_labels.yaml
      - --confirm=true
  ...

ci/prow/check-gh-automation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --bot=openshift-merge-robot
      - --bot=openshift-ci-robot
      - --app=openshift-ci
      - --app-check-mode=standard
      - --candidate-path=.
  ...

ci/prow/check-gh-automation-tide:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --app=openshift-merge-bot
      - --app-check-mode=tide
      - --candidate-path=.
      - --config-path=./core-services/prow/02_config/_config.yaml
  ...

ci/prow/ci-secret-bootstrap-config-validation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - command:
      - ./hack/validate-ci-secret-boostrap.sh
      image: registry.ci.openshift.org/ci/ci-secret-bootstrap:latest
      imagePullPolicy: Always
      name: ''
      resources:
        requests:
  ...

ci/prow/clusterimageset-validate:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --pools
      - ./clusters/hive/pools
      - --imagesets
      - ./clusters/hive/pools
      command:
      - clusterimageset-updater
  ...

ci/build-farm/app-ci-config-dry:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --config-dir=clusters/app.ci
      - --confirm=false
      - --as=
      command:
      - applyconfig
      env:
      - name: HOME
        value: /tmp
      - name: PAGERDUTY_INTEGRATION_KEY
  ...

ci/build-farm/arm01-dry:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --config-dir
      - clusters/build-clusters/arm01
      - --ignore-file
      - clusters/build-clusters/common/assets/pod-scaler-admission.yaml
      - --kubeconfig
  ...

Sync Serverless CI config/eventing-istio.yaml
  core-services/image-mirroring/knative/mapping_knative_knative-v1.10_eventing-istio_quay
  core-services/image-mirroring/knative/mapping_knative_knative-v1.11_eventing-istio_quay
  core-services/image-mirroring/knative/mapping_knative_knative-v1.12_eventing-istio_quay
  core-services/image-mirroring/knative/mapping_knative_knative-v1.9_eventing-istio_quay
Due: none

Sync Serverless CI config/eventing-kafka-broker.yaml
  core-services/image-mirroring/knative/mapping_knative_knative-v1.10_eventing-kafka-broker_quay
  core-services/image-mirroring/knative/mapping_knative_knative-v1.11_eventing-kafka-broker_quay
  core-services/image-mirroring/knative/mapping_knative_knative-v1.12_eventing-kafka-broker_quay
  core-services/image-mirroring/knative/mapping_knative_knative-v1.9_eventing-kafka-broker_quay
Due: none

Sync Serverless CI config/serving.yaml
  ci-operator/config/openshift-knative/serving/openshift-knative-serving-release-v1.11__411.yaml
  ci-operator/config/openshift-knative/serving/openshift-knative-serving-release-v1.11__414.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add aws-edge-infra cluster profile
  core-services/ci-secret-bootstrap/_config.yaml
  core-services/cluster-profiles/_config.yaml
  core-services/prow/02_config/_boskos.yaml
  core-services/prow/02_config/generate-boskos.py
Due: ci/prow/ci-secret-bootstrap-config-validation, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config, ci/prow/secret-generator-config-valid

Sync Serverless CI config/serverless-operator.yaml
  ci-operator/jobs/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Sync Serverless CI (#47926)
  ci-operator/jobs/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Use standard Windows server 2022 image
  ci-operator/step-registry/upi/conf/vsphere/ova/windows/upi-conf-vsphere-ova-windows-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

config-brancher --config-dir ./ci-operator/config --current-release 4.16 --skip-periodics --future-release 4.17 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.16.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.16.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.17.yaml
  ci-operator/config/openshift/okd-machine-os/openshift-okd-machine-os-release-4.16.yaml
  ci-operator/config/openshift/okd-machine-os/openshift-okd-machine-os-release-4.17.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-openstack/openshift-priv-cluster-api-provider-openstack-main.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-master.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.8.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.9.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-master.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.9.yaml
  ci-operator/config/openshift-priv/hypershift/openshift-priv-hypershift-main.yaml
  ci-operator/config/openshift-priv/hypershift/openshift-priv-hypershift-release-4.16.yaml
  ci-operator/config/openshift-priv/hypershift/openshift-priv-hypershift-release-4.17.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.7.yaml
  ci-operator/config/openshift-priv/kubernetes/openshift-priv-kubernetes-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

OCPBUGS-27486: Build ecr-credential-provider in CI
  ci-operator/config/openshift/cloud-provider-aws/openshift-cloud-provider-aws-release-4.15.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

adding configuration for GCP-IPI-SDN-private cluster.
  ci-operator/config/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main__gcp-4.15-nightly-x86.yaml
  ci-operator/jobs/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main-periodics.yaml
  ci-operator/jobs/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main-postsubmits.yaml
  ci-operator/jobs/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main-presubmits.yaml
  ci-operator/step-registry/openshift-qe/installer/gcp/ipi/OWNERS
  ci-operator/step-registry/openshift-qe/installer/gcp/ipi/sdn/OWNERS
  ci-operator/step-registry/openshift-qe/installer/gcp/ipi/sdn/private/OWNERS
  ci-operator/step-registry/openshift-qe/installer/gcp/ipi/sdn/private/openshift-qe-installer-gcp-ipi-sdn-private-workflow.metadata.json
  ci-operator/step-registry/openshift-qe/installer/gcp/ipi/sdn/private/openshift-qe-installer-gcp-ipi-sdn-private-workflow.yaml
  ci-operator/step-registry/openshift-qe/move-pods-infra/openshift-qe-move-pods-infra-commands.sh
  ci-operator/step-registry/openshift-qe/workers-infra-workload/openshift-qe-workers-infra-workload-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update osde2e PR checks to use OCP 4.15
  ci-operator/config/openshift/osde2e/openshift-osde2e-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

hypershift: initial image should match release
  ci-operator/config/openshift/hypershift/openshift-hypershift-main.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.16.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.17.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

DNM - testing ocp registry as push registry
  ci-operator/step-registry/openstack-k8s-operators/build/openstack-k8s-operators-build-commands.sh
  ci-operator/step-registry/openstack-k8s-operators/deploy/openstack-k8s-operators-deploy-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

OSSM maistra: Update maistra builder image mapping
  core-services/image-mirroring/supplemental-ci-images/mapping_supplemental_ci_images_ci
Due: ci/prow/supplemental-ci-images-mapping-files

hypershift: initial image should match release (#47930)
  ci-operator/config/openshift/hypershift/openshift-hypershift-main.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.16.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.17.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

trt-1450: add upgrade true flag
  core-services/release-controller/_releases/priv/release-ocp-4.16.json
  core-services/release-controller/_releases/release-ocp-4.16.json
Due: ci/prow/ci-testgrid-allow-list, ci/prow/release-config

OSSM maistra: Add test-infra 2.6 jobs
  ci-operator/config/maistra/test-infra/maistra-test-infra-main.yaml
  ci-operator/jobs/maistra/test-infra/maistra-test-infra-main-postsubmits.yaml
  ci-operator/jobs/maistra/test-infra/maistra-test-infra-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

trt-1450: add upgrade true flag (#47933)
  core-services/release-controller/_releases/priv/release-ocp-4.16.json
  core-services/release-controller/_releases/release-ocp-4.16.json
Due: ci/prow/ci-testgrid-allow-list, ci/prow/release-config

use openshift-ci-aws.rhaiseng.com as base domain (#46783)
  ci-operator/config/opendatahub-io/rest-proxy/opendatahub-io-rest-proxy-release-v0.10.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

added pr-image-mirror job to discovery component
  ci-operator/config/stolostron/discovery/stolostron-discovery-backplane-2.2.yaml
  ci-operator/config/stolostron/discovery/stolostron-discovery-backplane-2.3.yaml
  ci-operator/config/stolostron/discovery/stolostron-discovery-backplane-2.4.yaml
  ci-operator/config/stolostron/discovery/stolostron-discovery-backplane-2.5.yaml
  ci-operator/config/stolostron/discovery/stolostron-discovery-main.yaml
  ci-operator/jobs/stolostron/discovery/stolostron-discovery-backplane-2.2-presubmits.yaml
  ci-operator/jobs/stolostron/discovery/stolostron-discovery-backplane-2.3-presubmits.yaml
  ci-operator/jobs/stolostron/discovery/stolostron-discovery-backplane-2.4-presubmits.yaml
  ci-operator/jobs/stolostron/discovery/stolostron-discovery-backplane-2.5-presubmits.yaml
  ci-operator/jobs/stolostron/discovery/stolostron-discovery-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

config-brancher --config-dir ./ci-operator/config --current-release 4.16 --skip-periodics --future-release 4.17 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.16.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.17.yaml
  ci-operator/config/openshift/okd-machine-os/openshift-okd-machine-os-release-4.16.yaml
  ci-operator/config/openshift/okd-machine-os/openshift-okd-machine-os-release-4.17.yaml
  ci-operator/config/openshift/sdn/openshift-sdn-release-4.16.yaml
  ci-operator/config/openshift/sdn/openshift-sdn-release-4.17.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-openstack/openshift-priv-cluster-api-provider-openstack-main.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-master.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.8.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.9.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-master.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.9.yaml
  ci-operator/config/openshift-priv/hypershift/openshift-priv-hypershift-main.yaml
  ci-operator/config/openshift-priv/hypershift/openshift-priv-hypershift-release-4.16.yaml
  ci-operator/config/openshift-priv/hypershift/openshift-priv-hypershift-release-4.17.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.7.yaml
  ci-operator/config/openshift-priv/kubernetes/openshift-priv-kubernetes-master.yaml
  ci-operator/config/openshift-priv/sdn/openshift-priv-sdn-master.yaml
  ci-operator/config/openshift-priv/sdn/openshift-priv-sdn-release-4.16.yaml
  ci-operator/config/openshift-priv/sdn/openshift-priv-sdn-release-4.17.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

remove deprecated StackRox Scanner versions
  ci-operator/config/stackrox/scanner/stackrox-scanner-release-2.26.yaml
  ci-operator/config/stackrox/scanner/stackrox-scanner-release-2.27.yaml
  ci-operator/config/stackrox/scanner/stackrox-scanner-release-2.29.yaml
  ci-operator/config/stackrox/scanner/stackrox-scanner-release-2.30.yaml
  ci-operator/jobs/stackrox/scanner/stackrox-scanner-release-2.26-postsubmits.yaml
  ci-operator/jobs/stackrox/scanner/stackrox-scanner-release-2.26-presubmits.yaml
  ci-operator/jobs/stackrox/scanner/stackrox-scanner-release-2.27-postsubmits.yaml
  ci-operator/jobs/stackrox/scanner/stackrox-scanner-release-2.27-presubmits.yaml
  ci-operator/jobs/stackrox/scanner/stackrox-scanner-release-2.29-postsubmits.yaml
  ci-operator/jobs/stackrox/scanner/stackrox-scanner-release-2.29-presubmits.yaml
  ci-operator/jobs/stackrox/scanner/stackrox-scanner-release-2.30-postsubmits.yaml
  ci-operator/jobs/stackrox/scanner/stackrox-scanner-release-2.30-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

add post-installation check of userTags for image-registry bucket
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-master__installer-rehearse-4.15.yaml
  ci-operator/step-registry/cucushift/installer/check/gcp/user-tags/OWNERS
  ci-operator/step-registry/cucushift/installer/check/gcp/user-tags/cucushift-installer-check-gcp-user-tags-commands.sh
  ci-operator/step-registry/cucushift/installer/check/gcp/user-tags/cucushift-installer-check-gcp-user-tags-ref.metadata.json
  ci-operator/step-registry/cucushift/installer/check/gcp/user-tags/cucushift-installer-check-gcp-user-tags-ref.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/gcp/ipi/user-labels-tags/provision/cucushift-installer-rehearse-gcp-ipi-user-labels-tags-provision-chain.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Increase the application-service cluster_claim timeout
  ci-operator/config/redhat-appstudio/application-service/redhat-appstudio-application-service-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

[oko] Update CDC floating IPs
  clusters/hive/pools/openstack-k8s-operators/openstack-k8s-operators-cdc-vexx-12.yaml
  clusters/hive/pools/openstack-k8s-operators/openstack-k8s-operators-cdc-vexx-13.yaml
  clusters/hive/pools/openstack-k8s-operators/openstack-k8s-operators-cdc-vexx-14.yaml
  clusters/hive/pools/openstack-k8s-operators/openstack-k8s-operators-cdc-vexx-17.yaml
  clusters/hive/pools/openstack-k8s-operators/openstack-k8s-operators-cdc-vexx-18.yaml
  clusters/hive/pools/openstack-k8s-operators/openstack-k8s-operators-cdc-vexx-19.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/arm01-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/build-farm/hive-dry, ci/build-farm/multi01-dry, ci/build-farm/vsphere-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

update code
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.15__amd64-nightly.yaml
  ci-operator/step-registry/openshift-extended/test/openshift-extended-test-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

[oko] Update CDC floating IPs (#47946)
  clusters/hive/pools/openstack-k8s-operators/openstack-k8s-operators-cdc-vexx-12.yaml
  clusters/hive/pools/openstack-k8s-operators/openstack-k8s-operators-cdc-vexx-13.yaml
  clusters/hive/pools/openstack-k8s-operators/openstack-k8s-operators-cdc-vexx-14.yaml
  clusters/hive/pools/openstack-k8s-operators/openstack-k8s-operators-cdc-vexx-17.yaml
  clusters/hive/pools/openstack-k8s-operators/openstack-k8s-operators-cdc-vexx-18.yaml
  clusters/hive/pools/openstack-k8s-operators/openstack-k8s-operators-cdc-vexx-19.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/arm01-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/build-farm/hive-dry, ci/build-farm/multi01-dry, ci/build-farm/vsphere-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

update code
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.15__amd64-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Update OVMS build
  ci-operator/config/red-hat-data-services/openvino_model_server/red-hat-data-services-openvino_model_server-2023.1-release.yaml
  ci-operator/config/red-hat-data-services/openvino_model_server/red-hat-data-services-openvino_model_server-v2022.3-release.yaml
  ci-operator/jobs/red-hat-data-services/openvino_model_server/red-hat-data-services-openvino_model_server-2023.1-release-postsubmits.yaml
  ci-operator/jobs/red-hat-data-services/openvino_model_server/red-hat-data-services-openvino_model_server-v2022.3-release-postsubmits.yaml
  ci-operator/jobs/red-hat-data-services/openvino_model_server/red-hat-data-services-openvino_model_server-v2022.3-release-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^ci-operator/config/.*
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/build-farm/arm01-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hive-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/build-farm/multi01-dry: any of: ^clusters/.*
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/prow/supplemental-ci-images-mapping-files: any of: ^(core-services/image-mirroring/supplemental-ci-images/mapping_supplemental_ci_images_.*)
  ci/build-farm/vsphere-dry: any of: ^clusters/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)
