Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

Add ipv6 supoort to LB step
  ci-operator/step-registry/baremetal/lab/ipi/conf/load-balancer/baremetal-lab-ipi-conf-load-balancer-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add ipv6 single stack test config
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18-periodics.yaml
  ci-operator/step-registry/baremetal/lab/ipi/virtual-media/ipv6/baremetal-lab-ipi-virtual-media-ipv6-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add ipv6 static step
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18-periodics.yaml
  ci-operator/step-registry/baremetal/lab/ipi/conf/virtual-media/ipv6/baremetal-lab-ipi-conf-virtual-media-ipv6-chain.yaml
  ci-operator/step-registry/baremetal/lab/ipi/conf/virtual-media/ipv6/static/OWNERS
  ci-operator/step-registry/baremetal/lab/ipi/conf/virtual-media/ipv6/static/baremetal-lab-ipi-conf-virtual-media-ipv6-static-commands.sh
  ci-operator/step-registry/baremetal/lab/ipi/conf/virtual-media/ipv6/static/baremetal-lab-ipi-conf-virtual-media-ipv6-static-ref.metadata.json
  ci-operator/step-registry/baremetal/lab/ipi/conf/virtual-media/ipv6/static/baremetal-lab-ipi-conf-virtual-media-ipv6-static-ref.yaml
  ci-operator/step-registry/baremetal/lab/ipi/virtual-media/ipv6/static/OWNERS
  ci-operator/step-registry/baremetal/lab/ipi/virtual-media/ipv6/static/baremetal-lab-ipi-virtual-media-ipv6-static-workflow.metadata.json
  ci-operator/step-registry/baremetal/lab/ipi/virtual-media/ipv6/static/baremetal-lab-ipi-virtual-media-ipv6-static-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Run RHOSDT 3.5 disconnected tests
  ci-operator/step-registry/distributed-tracing/install/disconnected/distributed-tracing-install-disconnected-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Skip GPU operator builds on some changes (#62646)
  ci-operator/config/rh-ecosystem-edge/nvidia-ci/rh-ecosystem-edge-nvidia-ci-main.yaml
  ci-operator/jobs/rh-ecosystem-edge/nvidia-ci/rh-ecosystem-edge-nvidia-ci-main-postsubmits.yaml
  ci-operator/jobs/rh-ecosystem-edge/nvidia-ci/rh-ecosystem-edge-nvidia-ci-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

NO-ISSUE: Add assisted-installer CIR types to ofcir-acquire step
  ci-operator/step-registry/ofcir/acquire/ofcir-acquire-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

changes 1
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-4.18-nightly-x86.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add 'false' for specific OVN PerfScale jobs (#61950)
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-master.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-master-presubmits.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.17-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

skip recert jobs for productisation exclusive logic (#62545)
  ci-operator/config/rh-ecosystem-edge/recert/rh-ecosystem-edge-recert-main.yaml
  ci-operator/jobs/rh-ecosystem-edge/recert/rh-ecosystem-edge-recert-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add agent-qe-base image to remove OCI CLI steps (#62594)
  ci-operator/step-registry/cucushift/agent/oci/conf/cucushift-agent-oci-conf-ref.yaml
  ci-operator/step-registry/cucushift/agent/oci/deprovision/cucushift-agent-oci-deprovision-commands.sh
  ci-operator/step-registry/cucushift/agent/oci/deprovision/cucushift-agent-oci-deprovision-ref.yaml
  ci-operator/step-registry/cucushift/agent/oci/provision/cucushift-agent-oci-provision-commands.sh
  ci-operator/step-registry/cucushift/agent/oci/provision/cucushift-agent-oci-provision-ref.yaml
  ci-operator/step-registry/cucushift/agent/oci/setup/cucushift-agent-oci-setup-commands.sh
  ci-operator/step-registry/cucushift/agent/oci/setup/cucushift-agent-oci-setup-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update Openstack repos for 4.19 and 4.20 (#62647)
  core-services/release-controller/_repos/ocp-4.19-openstack.repo
  core-services/release-controller/_repos/ocp-4.20-openstack.repo
Due: none

update: opendatahub-operator (#62558)
  ci-operator/config/opendatahub-io/opendatahub-operator/opendatahub-io-opendatahub-operator-feature-operator-refactor.yaml
  ci-operator/config/opendatahub-io/opendatahub-operator/opendatahub-io-opendatahub-operator-incubation.yaml
  ci-operator/config/opendatahub-io/opendatahub-operator/opendatahub-io-opendatahub-operator-main.yaml
  ci-operator/config/opendatahub-io/opendatahub-operator/opendatahub-io-opendatahub-operator-rhoai.yaml
  ci-operator/jobs/opendatahub-io/opendatahub-operator/opendatahub-io-opendatahub-operator-feature-operator-refactor-postsubmits.yaml
  ci-operator/jobs/opendatahub-io/opendatahub-operator/opendatahub-io-opendatahub-operator-feature-operator-refactor-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

NO-ISSUE: Add assisted-installer CIR types to ofcir-acquire step (#62650)
  ci-operator/step-registry/ofcir/acquire/ofcir-acquire-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update cypress image
  clusters/app.ci/supplemental-ci-images/origin-stable/release.yaml
  core-services/image-mirroring/_config.yaml
Due: ci/prow/image-mirroring-config-validation, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

test
  ci-operator/config/openshift/ci-tools/openshift-ci-tools-master.yaml
  ci-operator/jobs/openshift/ci-tools/openshift-ci-tools-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

[DO NOT MERGE] just trigger quay new UI testing
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__quay-newui.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Use eastus2 for CAPZ hypershift e2e tests
  ci-operator/config/openshift-priv/cluster-api-provider-azure/openshift-priv-cluster-api-provider-azure-master.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-azure/openshift-priv-cluster-api-provider-azure-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-azure/openshift-priv-cluster-api-provider-azure-release-4.19.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-azure/openshift-priv-cluster-api-provider-azure-release-4.20.yaml
  ci-operator/config/openshift/cluster-api-provider-azure/openshift-cluster-api-provider-azure-master.yaml
  ci-operator/config/openshift/cluster-api-provider-azure/openshift-cluster-api-provider-azure-release-4.18.yaml
  ci-operator/config/openshift/cluster-api-provider-azure/openshift-cluster-api-provider-azure-release-4.19.yaml
  ci-operator/config/openshift/cluster-api-provider-azure/openshift-cluster-api-provider-azure-release-4.20.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

test azurepermission
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.12__amd64-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

o/cincinnati: remove stale `releases` from customrust cfgs
  ci-operator/config/openshift/cincinnati/openshift-cincinnati-master__customrust.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

`make update`
  ci-operator/jobs/openshift/cincinnati/openshift-cincinnati-master-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

ptp-test
  ci-operator/step-registry/telco5g/ptp-cluster-setup/telco5g-ptp-cluster-setup-commands.sh
  ci-operator/step-registry/telco5g/ptp/telco5g-ptp-workflow.yaml
  ci-operator/step-registry/telco5g/ptp/tests/telco5g-ptp-tests-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

fix dual follower
  ci-operator/step-registry/telco5g/ptp/tests/telco5g-ptp-tests-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update conf of job
  ci-operator/config/openshift/insights-operator/openshift-insights-operator-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

[main] Initialize Serverless Operator CI config
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__414.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__417-aws-ovn.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__417-azure.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__417-gcp.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__417-hypershift.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__417-osd.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__417-single-node.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__417-vsphere.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__417.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__ocp4.17-lp-rosa-classic.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__ocp4.18-lp-interop.yaml
  ci-operator/jobs/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

openstack/e2e/mirror: add missing image for e2e-1-registry-k8s-io-e2e-test-images-agnhost-2-52
  ci-operator/step-registry/openstack/test/e2e/images/openstack-test-e2e-images-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

deprecate network-policy-v1 test cases
  ci-operator/config/cloud-bulldozer/e2e-benchmarking/cloud-bulldozer-e2e-benchmarking-master.yaml
  ci-operator/jobs/cloud-bulldozer/e2e-benchmarking/cloud-bulldozer-e2e-benchmarking-master-presubmits.yaml
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/networkpolicy-matchexpressions/OWNERS
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/networkpolicy-matchexpressions/cloud-bulldozer-e2e-benchmarking-networkpolicy-matchexpressions-commands.sh
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/networkpolicy-matchexpressions/cloud-bulldozer-e2e-benchmarking-networkpolicy-matchexpressions-ref.metadata.json
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/networkpolicy-matchexpressions/cloud-bulldozer-e2e-benchmarking-networkpolicy-matchexpressions-ref.yaml
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/networkpolicy-matchlabels/OWNERS
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/networkpolicy-matchlabels/cloud-bulldozer-e2e-benchmarking-networkpolicy-matchlabels-commands.sh
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/networkpolicy-matchlabels/cloud-bulldozer-e2e-benchmarking-networkpolicy-matchlabels-ref.metadata.json
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/networkpolicy-matchlabels/cloud-bulldozer-e2e-benchmarking-networkpolicy-matchlabels-ref.yaml
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/networkpolicy-multitenant/OWNERS
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/networkpolicy-multitenant/cloud-bulldozer-e2e-benchmarking-networkpolicy-multitenant-commands.sh
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/networkpolicy-multitenant/cloud-bulldozer-e2e-benchmarking-networkpolicy-multitenant-ref.metadata.json
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/networkpolicy-multitenant/cloud-bulldozer-e2e-benchmarking-networkpolicy-multitenant-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

CNTRLPLANE-310: Fix unit tests and add security job execution for OADP plugin (#62596)
  ci-operator/config/openshift/hypershift-oadp-plugin/openshift-hypershift-oadp-plugin-main.yaml
  ci-operator/jobs/openshift/hypershift-oadp-plugin/openshift-hypershift-oadp-plugin-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

[INTEROP-8102] Update AMQ Streams to 2.9 + release image. (#62626)
  ci-operator/config/amq-streams-qe/strimzi-kafka-operator/.config.prowgen
  ci-operator/config/amq-streams-qe/strimzi-kafka-operator/amq-streams-qe-strimzi-kafka-operator-main__amq-streams-ocp4.14-lp-interop.yaml
  ci-operator/config/amq-streams-qe/strimzi-kafka-operator/amq-streams-qe-strimzi-kafka-operator-main__amq-streams-ocp4.14-lp-rosa-classic.yaml
  ci-operator/config/amq-streams-qe/strimzi-kafka-operator/amq-streams-qe-strimzi-kafka-operator-main__amq-streams-ocp4.15-lp-interop.yaml
  ci-operator/config/amq-streams-qe/strimzi-kafka-operator/amq-streams-qe-strimzi-kafka-operator-main__amq-streams-ocp4.16-lp-interop.yaml
  ci-operator/config/amq-streams-qe/strimzi-kafka-operator/amq-streams-qe-strimzi-kafka-operator-main__amq-streams-ocp4.16-lp-rosa-classic.yaml
  ci-operator/config/amq-streams-qe/strimzi-kafka-operator/amq-streams-qe-strimzi-kafka-operator-main__amq-streams-ocp4.17-lp-interop.yaml
  ci-operator/config/amq-streams-qe/strimzi-kafka-operator/amq-streams-qe-strimzi-kafka-operator-main__amq-streams-ocp4.17-lp-rosa-classic.yaml
  ci-operator/config/amq-streams-qe/strimzi-kafka-operator/amq-streams-qe-strimzi-kafka-operator-main__amq-streams-ocp4.18-lp-interop.yaml
  ci-operator/config/amq-streams-qe/strimzi-kafka-operator/amq-streams-qe-strimzi-kafka-operator-main__amq-streams-ocp4.19-lp-interop.yaml
  ci-operator/jobs/amq-streams-qe/strimzi-kafka-operator/amq-streams-qe-strimzi-kafka-operator-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Update e2e-openstack-ovn-serial timeout
  ci-operator/config/openshift/origin/openshift-origin-main.yaml
  ci-operator/config/openshift/origin/openshift-origin-release-4.16.yaml
  ci-operator/config/openshift/origin/openshift-origin-release-4.17.yaml
  ci-operator/config/openshift/origin/openshift-origin-release-4.18.yaml
  ci-operator/config/openshift/origin/openshift-origin-release-4.19.yaml
  ci-operator/config/openshift/origin/openshift-origin-release-4.20.yaml
  ci-operator/config/shiftstack/ci/shiftstack-ci-release-4.16.yaml
  ci-operator/config/shiftstack/ci/shiftstack-ci-release-4.17.yaml
  ci-operator/config/shiftstack/ci/shiftstack-ci-release-4.17__techpreview.yaml
  ci-operator/config/shiftstack/ci/shiftstack-ci-release-4.18.yaml
  ci-operator/config/shiftstack/ci/shiftstack-ci-release-4.18__techpreview.yaml
  ci-operator/config/shiftstack/ci/shiftstack-ci-release-4.19.yaml
  ci-operator/config/shiftstack/ci/shiftstack-ci-release-4.19__techpreview.yaml
  ci-operator/jobs/openshift/origin/openshift-origin-main-presubmits.yaml
  ci-operator/jobs/openshift/origin/openshift-origin-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift/origin/openshift-origin-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift/origin/openshift-origin-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift/origin/openshift-origin-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift/origin/openshift-origin-release-4.20-presubmits.yaml
  ci-operator/jobs/shiftstack/ci/shiftstack-ci-release-4.16-periodics.yaml
  ci-operator/jobs/shiftstack/ci/shiftstack-ci-release-4.17-periodics.yaml
  ci-operator/jobs/shiftstack/ci/shiftstack-ci-release-4.18-periodics.yaml
  ci-operator/jobs/shiftstack/ci/shiftstack-ci-release-4.19-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

check to see if there are any VMs before checking hardware version
  ci-operator/step-registry/ipi/deprovision/vsphere/diags/vcm/ipi-deprovision-vsphere-diags-vcm-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck
