Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

ci/openshift/promrules:
  decorate: true
  spec:
    containers:
    - command:
      - /go/entrypoint.sh
      image: registry.svc.ci.openshift.org/ci/promrules:latest
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
          cpu: 500m
        requests:
          cpu: 10m

ci/prow/pylint:
  decorate: true
  spec:
    containers:
    - args:
      - --rcfile=hack/.pylintrc
      - --ignore=lib
      - --persistent=n
      - hack
      command:
      - pylint
      image: registry.svc.ci.openshift.org/ci/python-validation
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
  ...

branch-ci-openshift-release-master-label-sync:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/prow/02_config/_labels.yaml
      - --confirm=true
  ...

ci/prow/check-cluster-profiles-config:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    automountServiceAccountToken: true
    containers:
    - args:
      - --config-path=./ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml
      command:
      - check-cluster-profiles-config
  ...

ci/prow/check-gh-automation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --bot=openshift-merge-robot
      - --bot=openshift-ci-robot
      - --app=openshift-ci
      - --app-check-mode=standard
      - --candidate-path=.
  ...

ci/prow/check-gh-automation-tide:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --app=openshift-merge-bot
      - --app-check-mode=tide
      - --candidate-path=.
      - --config-path=./core-services/prow/02_config/_config.yaml
  ...

ci/prow/image-mirroring-config-validation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --release-repo-git-sync-path=.
      - --registry-config=/etc/pull/.dockerconfigjson
      - --config=./core-services/image-mirroring/_config.yaml
      - --validate-config-only=true
  ...

ci/prow/ci-secret-bootstrap-config-validation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - command:
      - ./hack/validate-ci-secret-boostrap.sh
      image: registry.ci.openshift.org/ci/ci-secret-bootstrap:latest
      imagePullPolicy: Always
      name: ''
      resources:
        requests:
  ...

ci/prow/clusterimageset-validate:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --pools
      - ./clusters/hosted-mgmt/hive/pools
      - --imagesets
      - ./clusters/hosted-mgmt/hive/pools
      command:
      - clusterimageset-updater
  ...

update cred
  ci-operator/step-registry/p2p/acm-cnv-additional-test-setup/p2p-acm-cnv-additional-test-setup-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

PERFSCALE-4094: Add pull-ci-openshift-eng-ocp-qe-perfscale-ci-main-metal-x86-deploy-mno-hybrid-120nodes job
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__metal-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-presubmits.yaml
  ci-operator/step-registry/openshift-qe/installer/bm/deploy/openshift-qe-installer-bm-deploy-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Updated release controller job names
  core-services/release-controller/_releases/priv/release-ocp-4.19-multi.json
  core-services/release-controller/_releases/priv/release-ocp-4.19-ppc64le.json
  core-services/release-controller/_releases/priv/release-ocp-4.20-multi.json
  core-services/release-controller/_releases/priv/release-ocp-4.20-ppc64le.json
  core-services/release-controller/_releases/release-ocp-4.19-multi.json
  core-services/release-controller/_releases/release-ocp-4.19-ppc64le.json
  core-services/release-controller/_releases/release-ocp-4.20-multi.json
  core-services/release-controller/_releases/release-ocp-4.20-ppc64le.json
Due: ci/prow/ci-testgrid-allow-list, ci/prow/release-config

PowerVS-test-powervs-config
  ci-operator/step-registry/ipi/install/powervs/install/ipi-install-powervs-install-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Adding ollama installation in cluster
  ci-operator/config/openshift/lightspeed-service/openshift-lightspeed-service-main__4.17.yaml
  ci-operator/jobs/openshift/lightspeed-service/openshift-lightspeed-service-main-periodics.yaml
  ci-operator/step-registry/openshift/lightspeed-service/install/disconnected/openshift-lightspeed-service-install-disconnected-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

token
  ci-operator/config/openshift/release-tests/openshift-release-tests-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

cao: move external oidc tests from presubmits to periodics
  ci-operator/config/openshift/cluster-authentication-operator/openshift-cluster-authentication-operator-master.yaml
  ci-operator/config/openshift/cluster-authentication-operator/openshift-cluster-authentication-operator-release-4.20__periodics.yaml
  ci-operator/jobs/openshift/cluster-authentication-operator/openshift-cluster-authentication-operator-master-presubmits.yaml
  ci-operator/jobs/openshift/cluster-authentication-operator/openshift-cluster-authentication-operator-release-4.20-periodics.yaml
  ci-operator/jobs/openshift/cluster-authentication-operator/openshift-cluster-authentication-operator-release-4.20-postsubmits.yaml
  ci-operator/jobs/openshift/cluster-authentication-operator/openshift-cluster-authentication-operator-release-4.20-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

bump e2e version to latest tag
  ci-operator/step-registry/olmv1/performance/olmv1-performance-ref.yaml
  ci-operator/step-registry/openshift-qe/cluster-density-v2/observer/openshift-qe-cluster-density-v2-observer-observer.yaml
  ci-operator/step-registry/openshift-qe/cluster-density-v2/openshift-qe-cluster-density-v2-ref.yaml
  ci-operator/step-registry/openshift-qe/conc-builds/openshift-qe-conc-builds-ref.yaml
  ci-operator/step-registry/openshift-qe/crd-scale/openshift-qe-crd-scale-ref.yaml
  ci-operator/step-registry/openshift-qe/ingress-perf/openshift-qe-ingress-perf-ref.yaml
  ci-operator/step-registry/openshift-qe/kube-burner-index/openshift-qe-kube-burner-index-ref.yaml
  ci-operator/step-registry/openshift-qe/kube-burner-ingress-perf/openshift-qe-kube-burner-ingress-perf-ref.yaml
  ci-operator/step-registry/openshift-qe/netpol-v2/openshift-qe-netpol-v2-ref.yaml
  ci-operator/step-registry/openshift-qe/network-perf/openshift-qe-network-perf-ref.yaml
  ci-operator/step-registry/openshift-qe/network-smoke/openshift-qe-network-smoke-ref.yaml
  ci-operator/step-registry/openshift-qe/network-vm-perf/openshift-qe-network-vm-perf-ref.yaml
  ci-operator/step-registry/openshift-qe/node-density-cni/openshift-qe-node-density-cni-ref.yaml
  ci-operator/step-registry/openshift-qe/node-density-heavy/openshift-qe-node-density-heavy-ref.yaml
  ci-operator/step-registry/openshift-qe/node-density/openshift-qe-node-density-ref.yaml
  ci-operator/step-registry/openshift-qe/rds-core/openshift-qe-rds-core-ref.yaml
  ci-operator/step-registry/openshift-qe/router-perf/openshift-qe-router-perf-ref.yaml
  ci-operator/step-registry/openshift-qe/udn-density-pods/openshift-qe-udn-density-pods-ref.yaml
  ci-operator/step-registry/openshift-qe/upgrade/openshift-qe-upgrade-ref.yaml
  ci-operator/step-registry/openshift-qe/virt-density/openshift-qe-virt-density-ref.yaml
  ci-operator/step-registry/openshift-qe/virt-udn-density/openshift-qe-virt-udn-density-ref.yaml
  ci-operator/step-registry/openshift-qe/web-burner/openshift-qe-web-burner-ref.yaml
  ci-operator/step-registry/openshift-qe/workers-scale/openshift-qe-workers-scale-ref.yaml
  ci-operator/step-registry/openshift/svt/network-mixed-scenario/openshift-svt-network-mixed-scenario-ref.yaml
  ci-operator/step-registry/openshift/svt/storage-csi-intree-driver/openshift-svt-storage-csi-intree-driver-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Implement SNO disk and etcd encryption with day2_workers (#66916)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.14__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.15__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.17__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.14-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.15-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.17-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20-periodics.yaml
  ci-operator/step-registry/baremetal/lab/ipi/conf/virtual-media/baremetal-lab-ipi-conf-virtual-media-chain.yaml
  ci-operator/step-registry/baremetal/lab/ipi/virtual-media/baremetal-lab-ipi-virtual-media-workflow.yaml
  ci-operator/step-registry/baremetal/lab/pre/console-kargs/baremetal-lab-pre-console-kargs-commands.sh
  ci-operator/step-registry/baremetal/lab/pre/pull-artifacts/baremetal-lab-pre-pull-artifacts-commands.sh
  ci-operator/step-registry/baremetal/lab/pre/pull-artifacts/baremetal-lab-pre-pull-artifacts-ref.yaml
  ci-operator/step-registry/baremetal/lab/sno/baremetal-lab-sno-workflow.yaml
  ci-operator/step-registry/baremetal/lab/sno/conf/baremetal-lab-sno-conf-chain.yaml
  ci-operator/step-registry/baremetal/lab/storage/OWNERS
  ci-operator/step-registry/baremetal/lab/storage/baremetal-lab-storage-commands.sh
  ci-operator/step-registry/baremetal/lab/storage/baremetal-lab-storage-ref.metadata.json
  ci-operator/step-registry/baremetal/lab/storage/baremetal-lab-storage-ref.yaml
  ci-operator/step-registry/baremetal/lab/upi/install/baremetal-lab-upi-install-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

remove lingering konflux-ci/release-service references
  core-services/prow/02_config/konflux-ci/release-service/_pluginconfig.yaml
  core-services/prow/02_config/konflux-ci/release-service/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

update index images for SPO 0.9.0 test
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.12__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.13__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.14__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.15__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.17__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__amd64-nightly.yaml
  ci-operator/step-registry/file-integrity/konflux-catalogsource/file-integrity-konflux-catalogsource-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

NO-JIRA: HCP AutoNode e2e test changes (#68109)
  ci-operator/config/openshift/hypershift/openshift-hypershift-main.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

MGMT-21459: temporarily stop nutanix jobs
  ci-operator/config/openshift/assisted-service/openshift-assisted-service-assisted-version-placeholder.yaml
  ci-operator/config/openshift/assisted-service/openshift-assisted-service-cloud_hotfix_releases.yaml
  ci-operator/config/openshift/assisted-service/openshift-assisted-service-master__edge.yaml
  ci-operator/config/openshift/assisted-service/openshift-assisted-service-v2.42.yaml
  ci-operator/config/openshift/assisted-service/openshift-assisted-service-v2.43.yaml
  ci-operator/config/openshift/assisted-test-infra/openshift-assisted-test-infra-master.yaml
  ci-operator/jobs/openshift/assisted-service/openshift-assisted-service-assisted-version-placeholder-presubmits.yaml
  ci-operator/jobs/openshift/assisted-service/openshift-assisted-service-cloud_hotfix_releases-presubmits.yaml
  ci-operator/jobs/openshift/assisted-service/openshift-assisted-service-master-presubmits.yaml
  ci-operator/jobs/openshift/assisted-service/openshift-assisted-service-v2.42-presubmits.yaml
  ci-operator/jobs/openshift/assisted-service/openshift-assisted-service-v2.43-presubmits.yaml
  ci-operator/jobs/openshift/assisted-test-infra/openshift-assisted-test-infra-master-periodics.yaml
  ci-operator/jobs/openshift/assisted-test-infra/openshift-assisted-test-infra-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

[DEBUG] [DO NOT MERGE]
  ci-operator/config/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel__downstream-candidate416.yaml
  ci-operator/config/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel__downstream-candidate417.yaml
  ci-operator/config/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel__downstream-candidate418.yaml
  ci-operator/jobs/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Use go1.21 from ubi9 for access-transparency-service
  ci-operator/config/openshift-online/access-transparency-service/openshift-online-access-transparency-service-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add machine C155F2U31 to S2S lease
  core-services/prow/02_config/_boskos.yaml
  core-services/prow/02_config/generate-boskos.py
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Added ability to pull VM spec config from vault
  ci-operator/step-registry/ipi/conf/vsphere/vcm/ipi-conf-vsphere-vcm-commands.sh
  ci-operator/step-registry/upi/conf/vsphere/vcm/upi-conf-vsphere-vcm-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

MGMT-21459: temporarily stop nutanix jobs (#68133)
  ci-operator/config/openshift/assisted-service/openshift-assisted-service-assisted-version-placeholder.yaml
  ci-operator/config/openshift/assisted-service/openshift-assisted-service-cloud_hotfix_releases.yaml
  ci-operator/config/openshift/assisted-service/openshift-assisted-service-master__edge.yaml
  ci-operator/config/openshift/assisted-service/openshift-assisted-service-v2.42.yaml
  ci-operator/config/openshift/assisted-service/openshift-assisted-service-v2.43.yaml
  ci-operator/config/openshift/assisted-test-infra/openshift-assisted-test-infra-master.yaml
  ci-operator/jobs/openshift/assisted-service/openshift-assisted-service-assisted-version-placeholder-presubmits.yaml
  ci-operator/jobs/openshift/assisted-service/openshift-assisted-service-cloud_hotfix_releases-presubmits.yaml
  ci-operator/jobs/openshift/assisted-service/openshift-assisted-service-master-presubmits.yaml
  ci-operator/jobs/openshift/assisted-service/openshift-assisted-service-v2.42-presubmits.yaml
  ci-operator/jobs/openshift/assisted-service/openshift-assisted-service-v2.43-presubmits.yaml
  ci-operator/jobs/openshift/assisted-test-infra/openshift-assisted-test-infra-master-periodics.yaml
  ci-operator/jobs/openshift/assisted-test-infra/openshift-assisted-test-infra-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

remove lingering konflux-ci/release-service references (#68131)
  core-services/prow/02_config/konflux-ci/release-service/_pluginconfig.yaml
  core-services/prow/02_config/konflux-ci/release-service/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

lightspeed-operator: golang 1.24 upgrades
  ci-operator/config/openshift/lightspeed-operator/openshift-lightspeed-operator-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

use daily for kueue operator jobs
  ci-operator/config/openshift/kueue-operator/openshift-kueue-operator-main.yaml
  ci-operator/config/openshift/kueue-operator/openshift-kueue-operator-release-1.0.yaml
  ci-operator/jobs/openshift/kueue-operator/openshift-kueue-operator-main-periodics.yaml
  ci-operator/jobs/openshift/kueue-operator/openshift-kueue-operator-release-1.0-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

OPCT jobs refresh: review according to OCP release (#68104)
  ci-operator/config/redhat-openshift-ecosystem/opct/redhat-openshift-ecosystem-opct-main__4.14.yaml
  ci-operator/config/redhat-openshift-ecosystem/opct/redhat-openshift-ecosystem-opct-main__4.16.yaml
  ci-operator/config/redhat-openshift-ecosystem/opct/redhat-openshift-ecosystem-opct-main__4.17.yaml
  ci-operator/config/redhat-openshift-ecosystem/opct/redhat-openshift-ecosystem-opct-main__4.18.yaml
  ci-operator/config/redhat-openshift-ecosystem/opct/redhat-openshift-ecosystem-opct-main__4.19.yaml
  ci-operator/config/redhat-openshift-ecosystem/opct/redhat-openshift-ecosystem-opct-main__4.20.yaml
  ci-operator/jobs/redhat-openshift-ecosystem/opct/redhat-openshift-ecosystem-opct-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

use release-0.12 for operator main e2e (#68100)
  ci-operator/config/openshift/kueue-operator/openshift-kueue-operator-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Make the presumit jobs of das-operator blocking for PRs
  ci-operator/config/openshift/instaslice-operator/openshift-instaslice-operator-next.yaml
  ci-operator/jobs/openshift/instaslice-operator/openshift-instaslice-operator-next-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

MGMT-21239: adding the eval tests to prow (#67993)
  ci-operator/config/rh-ecosystem-edge/assisted-chat/rh-ecosystem-edge-assisted-chat-main.yaml
  ci-operator/jobs/rh-ecosystem-edge/assisted-chat/rh-ecosystem-edge-assisted-chat-main-presubmits.yaml
  ci-operator/step-registry/rh-ecosystem-edge/OWNERS
  ci-operator/step-registry/rh-ecosystem-edge/assisted-chat/OWNERS
  ci-operator/step-registry/rh-ecosystem-edge/assisted-chat/certificates-setup/OWNERS
  ci-operator/step-registry/rh-ecosystem-edge/assisted-chat/certificates-setup/rh-ecosystem-edge-assisted-chat-certificates-setup-commands.sh
  ci-operator/step-registry/rh-ecosystem-edge/assisted-chat/certificates-setup/rh-ecosystem-edge-assisted-chat-certificates-setup-ref.metadata.json
  ci-operator/step-registry/rh-ecosystem-edge/assisted-chat/certificates-setup/rh-ecosystem-edge-assisted-chat-certificates-setup-ref.yaml
  ci-operator/step-registry/rh-ecosystem-edge/assisted-chat/install/OWNERS
  ci-operator/step-registry/rh-ecosystem-edge/assisted-chat/install/rh-ecosystem-edge-assisted-chat-install-commands.sh
  ci-operator/step-registry/rh-ecosystem-edge/assisted-chat/install/rh-ecosystem-edge-assisted-chat-install-ref.metadata.json
  ci-operator/step-registry/rh-ecosystem-edge/assisted-chat/install/rh-ecosystem-edge-assisted-chat-install-ref.yaml
  ci-operator/step-registry/rh-ecosystem-edge/assisted-chat/rh-ecosystem-edge-assisted-chat-workflow.metadata.json
  ci-operator/step-registry/rh-ecosystem-edge/assisted-chat/rh-ecosystem-edge-assisted-chat-workflow.yaml
  ci-operator/step-registry/rh-ecosystem-edge/assisted-chat/test/OWNERS
  ci-operator/step-registry/rh-ecosystem-edge/assisted-chat/test/rh-ecosystem-edge-assisted-chat-test-commands.sh
  ci-operator/step-registry/rh-ecosystem-edge/assisted-chat/test/rh-ecosystem-edge-assisted-chat-test-ref.metadata.json
  ci-operator/step-registry/rh-ecosystem-edge/assisted-chat/test/rh-ecosystem-edge-assisted-chat-test-ref.yaml
  ci-operator/step-registry/rh-ecosystem-edge/assisted-mcp/OWNERS
  ci-operator/step-registry/rh-ecosystem-edge/assisted-mcp/install/OWNERS
  ci-operator/step-registry/rh-ecosystem-edge/assisted-mcp/install/rh-ecosystem-edge-assisted-mcp-install-commands.sh
  ci-operator/step-registry/rh-ecosystem-edge/assisted-mcp/install/rh-ecosystem-edge-assisted-mcp-install-ref.metadata.json
  ci-operator/step-registry/rh-ecosystem-edge/assisted-mcp/install/rh-ecosystem-edge-assisted-mcp-install-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

gather-extra: use correct container name for ovn-k in IC mode (#68096)
  ci-operator/step-registry/gather/extra/gather-extra-commands.sh
  ci-operator/step-registry/redhat-appstudio/rhtap-gather/redhat-appstudio-rhtap-gather-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

winc: use owner aliases in GCP steps (#68073)
  ci-operator/step-registry/ipi/conf/gcp/windows-machineset/OWNERS
  ci-operator/step-registry/ipi/conf/gcp/windows-machineset/ipi-conf-gcp-windows-machineset-ref.metadata.json
  ci-operator/step-registry/openshift/e2e/gcp/windows-node/OWNERS
  ci-operator/step-registry/openshift/e2e/gcp/windows-node/openshift-e2e-gcp-windows-node-workflow.metadata.json
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

debug secret creation
  ci-operator/step-registry/p2p/acm-cnv-additional-test-setup/p2p-acm-cnv-additional-test-setup-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update multiarch cron timings part 1
  ci-operator/config/openshift/multiarch/openshift-multiarch-master__nightly-4.10.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-master__nightly-4.11-upgrade-from-nightly-4.10.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-master__nightly-4.11-upgrade-from-stable-4.10.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-master__nightly-4.11.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-master__nightly-4.12-upgrade-from-nightly-4.11.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-master__nightly-4.12-upgrade-from-stable-4.11.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-master__nightly-4.12.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-master__nightly-4.13-upgrade-from-nightly-4.12.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-master__nightly-4.13-upgrade-from-stable-4.12.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-master__nightly-4.13.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-master__nightly-4.9.yaml
  ci-operator/jobs/openshift/multiarch/openshift-multiarch-master-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Remove konflux nightlies from gitops and 4.11 testing
  core-services/release-controller/_releases/priv/release-ocp-4.11-arm64.json
  core-services/release-controller/_releases/priv/release-ocp-4.11-multi.json
  core-services/release-controller/_releases/priv/release-ocp-4.11.json
  core-services/release-controller/_releases/release-konflux-ocp-4.12.json
  core-services/release-controller/_releases/release-konflux-ocp-4.13.json
  core-services/release-controller/_releases/release-konflux-ocp-4.14.json
  core-services/release-controller/_releases/release-konflux-ocp-4.15.json
  core-services/release-controller/_releases/release-konflux-ocp-4.16.json
  core-services/release-controller/_releases/release-konflux-ocp-4.17.json
  core-services/release-controller/_releases/release-konflux-ocp-4.18-arm64.json
  core-services/release-controller/_releases/release-konflux-ocp-4.18.json
  core-services/release-controller/_releases/release-konflux-ocp-4.19-arm64.json
  core-services/release-controller/_releases/release-konflux-ocp-4.19-multi.json
  core-services/release-controller/_releases/release-konflux-ocp-4.19.json
  core-services/release-controller/_releases/release-ocp-4.11-arm64.json
  core-services/release-controller/_releases/release-ocp-4.11-ci.json
  core-services/release-controller/_releases/release-ocp-4.11-multi.json
  core-services/release-controller/_releases/release-ocp-4.11.json
Due: ci/prow/ci-testgrid-allow-list, ci/prow/release-config

Remove konflux nightlies from gitops and 4.11 testing (#68143)
  core-services/release-controller/_releases/priv/release-ocp-4.11-arm64.json
  core-services/release-controller/_releases/priv/release-ocp-4.11-multi.json
  core-services/release-controller/_releases/priv/release-ocp-4.11.json
  core-services/release-controller/_releases/release-konflux-ocp-4.12.json
  core-services/release-controller/_releases/release-konflux-ocp-4.13.json
  core-services/release-controller/_releases/release-konflux-ocp-4.14.json
  core-services/release-controller/_releases/release-konflux-ocp-4.15.json
  core-services/release-controller/_releases/release-konflux-ocp-4.16.json
  core-services/release-controller/_releases/release-konflux-ocp-4.17.json
  core-services/release-controller/_releases/release-konflux-ocp-4.18-arm64.json
  core-services/release-controller/_releases/release-konflux-ocp-4.18.json
  core-services/release-controller/_releases/release-konflux-ocp-4.19-arm64.json
  core-services/release-controller/_releases/release-konflux-ocp-4.19-multi.json
  core-services/release-controller/_releases/release-konflux-ocp-4.19.json
  core-services/release-controller/_releases/release-ocp-4.11-arm64.json
  core-services/release-controller/_releases/release-ocp-4.11-ci.json
  core-services/release-controller/_releases/release-ocp-4.11-multi.json
  core-services/release-controller/_releases/release-ocp-4.11.json
Due: ci/prow/ci-testgrid-allow-list, ci/prow/release-config

Add workaround for boot mode detection in openshift-qe-installer-bm-foreman-commands
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__metal-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-presubmits.yaml
  ci-operator/step-registry/openshift-qe/installer/bm/foreman/openshift-qe-installer-bm-foreman-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Added ability to pull VM spec config from vault (#68126)
  ci-operator/step-registry/ipi/conf/vsphere/vcm/ipi-conf-vsphere-vcm-commands.sh
  ci-operator/step-registry/upi/conf/vsphere/vcm/upi-conf-vsphere-vcm-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

allow TRT to delete PRPQRs
  clusters/app.ci/trt/admin_prpqr_rbac.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Fix ANSIBLE_SKIP_TAGS and debug EDU_PTP
  ci-operator/step-registry/telcov10n/slcm/slcm-project-01-container-tests/telcov10n-slcm-slcm-project-01-container-tests-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)
