Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

Worker machine health check exclude control-plane (#70388)
  clusters/build-clusters/common_ocp/machinehealthcheck.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

config-brancher --config-dir ./ci-operator/config --current-release 4.21 --skip-periodics --future-release 4.22 --confirm
  ci-operator/config/openshift/cloud-provider-vsphere/openshift-cloud-provider-vsphere-release-4.22.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.22.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/cvp/cvp-fips-ocp-4-19-amd64-aws-us-west-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/cvp/cvp-ocp-4-19-amd64-aws-us-west-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.18.26-x86-64-for-4.18.0-0-to-4.19.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.19.17-x86-64-for-4.19.0-0-to-4.20.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/openshift-ci/ci-ocp-4-19-0-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-ci/ci-ocp-4-19-0-arm64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-logging-ocp-4-19-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-ocp-4-19-0-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-ocp-4-19-0-fips-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/rh-openshift-ecosystem/rhoe-ocp-4-19-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/rh-openshift-ecosystem/rhoe-ocp-4-19-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/rhdh/rhdh-ocp-4-19-0-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/serverless/serverless-ocp-4-19-amd64-aws-us-east-1_clusterpool.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

update logic for hypershift management and hosted tests
  ci-operator/step-registry/openshift-extended/web-tests/openshift-extended-web-tests-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

FIXME: test how timeouts affects post-execution
  ci-operator/config/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel__downstream-candidate.yaml
  ci-operator/step-registry/sandboxed-containers-operator/e2e/aws/sandboxed-containers-operator-e2e-aws-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Sync OWNERS files by autoowners job at Fri, 17 Oct 2025 07:41:23 UTC (#70390)
  ci-operator/config/redhat-appstudio/infra-deployments/OWNERS
  ci-operator/config/redhat-appstudio/tssc-sample-pipelines/OWNERS
  ci-operator/jobs/redhat-appstudio/infra-deployments/OWNERS
  ci-operator/jobs/redhat-appstudio/tssc-sample-pipelines/OWNERS
  core-services/prow/02_config/openshift-eng/ai-helpers/OWNERS
  core-services/prow/02_config/redhat-appstudio/infra-deployments/OWNERS
  core-services/prow/02_config/redhat-appstudio/tssc-sample-pipelines/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

USHIFT-6188: Turn 4.14 periodics into presubmits
  ci-operator/config/openshift/microshift/openshift-microshift-release-4.14.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-4.14-periodics.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-4.14-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

USHIFT-6188: Turn 4.16 periodics into presubmits
  ci-operator/config/openshift/microshift/openshift-microshift-release-4.16.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-4.16-periodics.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-4.16-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

adding pf5 build to the release
  ci-operator/config/openshift/lightspeed-console/openshift-lightspeed-console-pattern-fly-5.yaml
  ci-operator/jobs/openshift/lightspeed-console/openshift-lightspeed-console-pattern-fly-5-postsubmits.yaml
  ci-operator/jobs/openshift/lightspeed-console/openshift-lightspeed-console-pattern-fly-5-presubmits.yaml
  core-services/image-mirroring/openshift-lightspeed/mapping_openshift_lightspeed
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

test: run gcp 4.20 stable
  ci-operator/step-registry/osd-ccs/cluster/private/osd-ccs-cluster-private-commands.sh
  ci-operator/step-registry/osd-ccs/cluster/provision/gcp/osd-ccs-cluster-provision-gcp-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

orion: telco cpu test changepoint detection updates (#70081)
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__orion-nightly.yaml
  ci-operator/step-registry/telcov10n/orion/tests/telcov10n-orion-tests-commands.sh
  ci-operator/step-registry/telcov10n/orion/tests/telcov10n-orion-tests-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

USHIFT-6188: Turn 4.17 periodics into presubmits
  ci-operator/config/openshift/microshift/openshift-microshift-release-4.17.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-4.17-periodics.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-4.17-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Bump OS image from rhcos-418-94 to rhcos-9-6 on build04
  clusters/build-clusters/build04/ci-scheduling-webhook/ci-builds-worker-amd64.yaml
  clusters/build-clusters/build04/ci-scheduling-webhook/ci-longtests-worker-amd64.yaml
  clusters/build-clusters/build04/ci-scheduling-webhook/ci-prowjobs-worker-amd64.yaml
  clusters/build-clusters/build04/ci-scheduling-webhook/ci-tests-worker-amd64.yaml
  clusters/build-clusters/build04/openshift-machine-api/build04-g4f6n-infra-a_machineset.yaml
  clusters/build-clusters/build04/openshift-machine-api/build04-g4f6n-infra-b_machineset.yaml
  clusters/build-clusters/build04/openshift-machine-api/build04-g4f6n-infra-c_machineset.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

test
  ci-operator/config/openshift-eng/agent-qe-infra/openshift-eng-agent-qe-infra-release-4.19__amd64-stable.yaml
  ci-operator/config/openshift-eng/agent-qe-infra/openshift-eng-agent-qe-infra-release-4.20__amd64-nightly.yaml
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/agent-tui/agent-qe-baremetal-install-ove-disconnected-agent-tui-commands.sh
  ci-operator/step-registry/cucushift/agent/oci/cucushift-agent-oci-workflow.yaml
  ci-operator/step-registry/cucushift/agent/oci/day2/OWNERS
  ci-operator/step-registry/cucushift/agent/oci/day2/add-nodes/OWNERS
  ci-operator/step-registry/cucushift/agent/oci/day2/add-nodes/cucushift-agent-oci-day2-add-nodes-commands.sh
  ci-operator/step-registry/cucushift/agent/oci/day2/add-nodes/cucushift-agent-oci-day2-add-nodes-ref.metadata.json
  ci-operator/step-registry/cucushift/agent/oci/day2/add-nodes/cucushift-agent-oci-day2-add-nodes-ref.yaml
  ci-operator/step-registry/cucushift/agent/vsphere/provision/cucushift-agent-vsphere-provision-commands.sh
  ci-operator/step-registry/cucushift/agent/vsphere/provision/cucushift-agent-vsphere-provision-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Revise service-ca-operator extension job
  ci-operator/config/openshift/service-ca-operator/openshift-service-ca-operator-main.yaml
  ci-operator/config/openshift/service-ca-operator/openshift-service-ca-operator-release-4.20.yaml
  ci-operator/config/openshift/service-ca-operator/openshift-service-ca-operator-release-4.21.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

expanding mirroring owners
  core-services/image-mirroring/openshift-lightspeed/OWNERS
Due: none

USHIFT-6188: Turn <=4.17 periodics into presubmits (#70393)
  ci-operator/config/openshift/microshift/openshift-microshift-release-4.14.yaml
  ci-operator/config/openshift/microshift/openshift-microshift-release-4.16.yaml
  ci-operator/config/openshift/microshift/openshift-microshift-release-4.17.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-4.14-periodics.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-4.14-presubmits.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-4.16-periodics.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-4.17-periodics.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-4.17-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Only for test
  ci-operator/config/openshift-online/ocm-cli/openshift-online-ocm-cli-main__images.yaml
  ci-operator/step-registry/ocm-api/setup/ocm-api-setup-commands.sh
  ci-operator/step-registry/rosa/setup/rosa-setup-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Increase mirroring timeout to be 4 hour for multipayload
  ci-operator/step-registry/mirror-images/by-oc-adm/mirror-images-by-oc-adm-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

feat: skip cmd folder from e2e run in odh operator repository (#70313)
  ci-operator/config/opendatahub-io/opendatahub-operator/opendatahub-io-opendatahub-operator-incubation.yaml
  ci-operator/config/opendatahub-io/opendatahub-operator/opendatahub-io-opendatahub-operator-main.yaml
  ci-operator/config/opendatahub-io/opendatahub-operator/opendatahub-io-opendatahub-operator-rhoai.yaml
  ci-operator/config/opendatahub-io/opendatahub-operator/opendatahub-io-opendatahub-operator-stable-2.x.yaml
  ci-operator/jobs/opendatahub-io/opendatahub-operator/opendatahub-io-opendatahub-operator-incubation-postsubmits.yaml
  ci-operator/jobs/opendatahub-io/opendatahub-operator/opendatahub-io-opendatahub-operator-incubation-presubmits.yaml
  ci-operator/jobs/opendatahub-io/opendatahub-operator/opendatahub-io-opendatahub-operator-main-presubmits.yaml
  ci-operator/jobs/opendatahub-io/opendatahub-operator/opendatahub-io-opendatahub-operator-rhoai-postsubmits.yaml
  ci-operator/jobs/opendatahub-io/opendatahub-operator/opendatahub-io-opendatahub-operator-rhoai-presubmits.yaml
  ci-operator/jobs/opendatahub-io/opendatahub-operator/opendatahub-io-opendatahub-operator-stable-2.x-postsubmits.yaml
  ci-operator/jobs/opendatahub-io/opendatahub-operator/opendatahub-io-opendatahub-operator-stable-2.x-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Bump OS image from rhcos-418-94 to rhcos-9-6 on build04 (#70394)
  clusters/build-clusters/build04/ci-scheduling-webhook/ci-builds-worker-amd64.yaml
  clusters/build-clusters/build04/ci-scheduling-webhook/ci-longtests-worker-amd64.yaml
  clusters/build-clusters/build04/ci-scheduling-webhook/ci-prowjobs-worker-amd64.yaml
  clusters/build-clusters/build04/ci-scheduling-webhook/ci-tests-worker-amd64.yaml
  clusters/build-clusters/build04/openshift-machine-api/build04-g4f6n-infra-a_machineset.yaml
  clusters/build-clusters/build04/openshift-machine-api/build04-g4f6n-infra-b_machineset.yaml
  clusters/build-clusters/build04/openshift-machine-api/build04-g4f6n-infra-c_machineset.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Update orion version for tests
  ci-operator/step-registry/openshift-qe/orion/cluster-density/openshift-qe-orion-cluster-density-ref.yaml
  ci-operator/step-registry/openshift-qe/orion/crd-scale/openshift-qe-orion-crd-scale-ref.yaml
  ci-operator/step-registry/openshift-qe/orion/data-path/openshift-qe-orion-data-path-ref.yaml
  ci-operator/step-registry/openshift-qe/orion/node-density-cni/openshift-qe-orion-node-density-cni-ref.yaml
  ci-operator/step-registry/openshift-qe/orion/node-density/openshift-qe-orion-node-density-ref.yaml
  ci-operator/step-registry/openshift-qe/orion/virt-density/openshift-qe-orion-virt-density-ref.yaml
  ci-operator/step-registry/openshift-qe/orion/virt-udn-density/openshift-qe-orion-virt-udn-density-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

adding pf5 build to the release (#70281)
  ci-operator/config/openshift/lightspeed-console/openshift-lightspeed-console-pattern-fly-5.yaml
  ci-operator/jobs/openshift/lightspeed-console/openshift-lightspeed-console-pattern-fly-5-postsubmits.yaml
  ci-operator/jobs/openshift/lightspeed-console/openshift-lightspeed-console-pattern-fly-5-presubmits.yaml
  core-services/image-mirroring/openshift-lightspeed/mapping_openshift_lightspeed
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

RHDH increase cluster pool size to 25
  clusters/hosted-mgmt/hive/pools/rhdh/rhdh-ocp-4-18-0-amd64-aws-us-east-2_clusterpool.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Debug
  ci-operator/config/lightspeed-core/lightspeed-stack/lightspeed-core-lightspeed-stack-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

RHDH increase cluster pool size to 25 (#70397)
  clusters/hosted-mgmt/hive/pools/rhdh/rhdh-ocp-4-18-0-amd64-aws-us-east-2_clusterpool.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

add pf5 image to lightspeed operator
  ci-operator/config/openshift/lightspeed-operator/openshift-lightspeed-operator-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Updated 4.21 jobs cron timing
  ci-operator/config/openshift/multiarch/openshift-multiarch-master__nightly-4.21-upgrade-from-nightly-4.20.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-master__nightly-4.21.yaml
  ci-operator/jobs/openshift/multiarch/openshift-multiarch-master-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

config-brancher --config-dir ./ci-operator/config --current-release 4.21 --skip-periodics --future-release 4.22 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.22.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-operator-prowgen --from-dir ./ci-operator/config --to-dir ./ci-operator/jobs
  ci-operator/jobs/openshift-priv/microshift/openshift-priv-microshift-release-4.14-presubmits.yaml
  ci-operator/jobs/openshift-priv/microshift/openshift-priv-microshift-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift-priv/microshift/openshift-priv-microshift-release-4.17-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

sanitize-prow-jobs --prow-jobs-dir ./ci-operator/jobs --config-path ./core-services/sanitize-prow-jobs/_config.yaml
  ci-operator/jobs/openshift-priv/microshift/openshift-priv-microshift-release-4.14-presubmits.yaml
  ci-operator/jobs/openshift-priv/microshift/openshift-priv-microshift-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift-priv/microshift/openshift-priv-microshift-release-4.17-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.15.58-x86-64-for-4.15.0-0-to-4.16.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.16.50-x86-64-for-4.16.0-0-to-4.17.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.18.26-x86-64-for-4.18.0-0-to-4.19.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Add debug parameter to COO operator-sdk command
  ci-operator/config/rhobs/observability-operator/rhobs-observability-operator-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

NO-JIRA: Updated baremetalds-e2e-test to allow passthrough of hypervisor credentials to test suite
  ci-operator/config/openshift/release/openshift-release-master__nightly-4.19.yaml
  ci-operator/config/openshift/release/openshift-release-master__nightly-4.20.yaml
  ci-operator/step-registry/baremetalds/e2e/test/baremetalds-e2e-test-commands.sh
  ci-operator/step-registry/baremetalds/e2e/test/baremetalds-e2e-test-ref.yaml
  ci-operator/step-registry/baremetalds/two-node/fencing/baremetalds-two-node-fencing-workflow.yaml
  ci-operator/step-registry/baremetalds/two-node/fencing/techpreview/baremetalds-two-node-fencing-techpreview-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck
