Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

update main periodics
  ci-operator/jobs/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

update
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__telco-operators-dast-4.16.yaml
  ci-operator/config/openshift/distributed-tracing-qe/openshift-distributed-tracing-qe-main__ocp-4.14-dast.yaml
  ci-operator/step-registry/install-operators/install-operators-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add 4.18 CPOU jobs (#56735)
  ci-operator/jobs/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main-periodics.yaml
  ci-operator/jobs/openshift/distributed-tracing-qe/openshift-distributed-tracing-qe-main-presubmits.yaml
  ci-operator/step-registry/install-operators/install-operators-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

remove dual stack
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__telco-operators-dast-4.16.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

update
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__telco-operators-dast-4.16.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

test
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__telco-operators-dast-4.16.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Sync OWNERS files by autoowners job at Mon, 21 Oct 2024 07:41:32 UTC
  ci-operator/config/openshift/lightspeed-console/OWNERS
  ci-operator/jobs/openshift/lightspeed-console/OWNERS
  core-services/prow/02_config/openshift/lightspeed-console/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Remove the bucket name from endpoint (#57914)
  ci-operator/step-registry/configure-registry-storage/set-nutanix-object/configure-registry-storage-set-nutanix-object-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

origin, ovn-k: add presubmit for virt (#57947)
  ci-operator/config/openshift/origin/openshift-origin-master.yaml
  ci-operator/jobs/openshift/origin/openshift-origin-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

chore: Update Eclipse Che test branches (#57975)
  ci-operator/config/che-incubator/chectl/che-incubator-chectl-7.100.x__v14.yaml
  ci-operator/config/che-incubator/chectl/che-incubator-chectl-7.94.x__v14.yaml
  ci-operator/config/che-incubator/chectl/che-incubator-chectl-7.95.x__v14.yaml
  ci-operator/config/che-incubator/chectl/che-incubator-chectl-7.96.x__v14.yaml
  ci-operator/config/che-incubator/chectl/che-incubator-chectl-7.97.x__v14.yaml
  ci-operator/config/che-incubator/chectl/che-incubator-chectl-7.98.x__v14.yaml
  ci-operator/config/che-incubator/chectl/che-incubator-chectl-7.99.x__v14.yaml
  ci-operator/config/eclipse-che/che-operator/eclipse-che-che-operator-7.100.x__v14.yaml
  ci-operator/config/eclipse-che/che-operator/eclipse-che-che-operator-7.94.x__v14.yaml
  ci-operator/config/eclipse-che/che-operator/eclipse-che-che-operator-7.95.x__v14.yaml
  ci-operator/config/eclipse-che/che-operator/eclipse-che-che-operator-7.96.x__v14.yaml
  ci-operator/config/eclipse-che/che-operator/eclipse-che-che-operator-7.97.x__v14.yaml
  ci-operator/config/eclipse-che/che-operator/eclipse-che-che-operator-7.98.x__v14.yaml
  ci-operator/config/eclipse-che/che-operator/eclipse-che-che-operator-7.99.x__v14.yaml
  ci-operator/config/eclipse-che/che-operator/eclipse-che-che-operator-main__v14.yaml
  ci-operator/jobs/che-incubator/chectl/che-incubator-chectl-7.100.x-presubmits.yaml
  ci-operator/jobs/che-incubator/chectl/che-incubator-chectl-7.94.x-presubmits.yaml
  ci-operator/jobs/che-incubator/chectl/che-incubator-chectl-7.95.x-presubmits.yaml
  ci-operator/jobs/che-incubator/chectl/che-incubator-chectl-7.96.x-presubmits.yaml
  ci-operator/jobs/che-incubator/chectl/che-incubator-chectl-7.97.x-presubmits.yaml
  ci-operator/jobs/che-incubator/chectl/che-incubator-chectl-7.98.x-presubmits.yaml
  ci-operator/jobs/che-incubator/chectl/che-incubator-chectl-7.99.x-presubmits.yaml
  ci-operator/jobs/eclipse-che/che-operator/eclipse-che-che-operator-7.100.x-presubmits.yaml
  ci-operator/jobs/eclipse-che/che-operator/eclipse-che-che-operator-7.94.x-presubmits.yaml
  ci-operator/jobs/eclipse-che/che-operator/eclipse-che-che-operator-7.95.x-presubmits.yaml
  ci-operator/jobs/eclipse-che/che-operator/eclipse-che-che-operator-7.96.x-presubmits.yaml
  ci-operator/jobs/eclipse-che/che-operator/eclipse-che-che-operator-7.97.x-presubmits.yaml
  ci-operator/jobs/eclipse-che/che-operator/eclipse-che-che-operator-7.98.x-presubmits.yaml
  ci-operator/jobs/eclipse-che/che-operator/eclipse-che-che-operator-7.99.x-presubmits.yaml
  ci-operator/jobs/eclipse-che/che-operator/eclipse-che-che-operator-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add two-node-openshift group to app.ci cluster (#58009)
  core-services/sync-rover-groups/_config.yaml
Due: ci/prow/sync-rover-groups

Sync OWNERS files by autoowners job at Mon, 21 Oct 2024 07:41:32 UTC (#58010)
  ci-operator/config/openshift/lightspeed-console/OWNERS
  ci-operator/jobs/openshift/lightspeed-console/OWNERS
  core-services/prow/02_config/openshift/lightspeed-console/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

STOR-2049: Add e2e-gcp-csi-n4 test to gcp-filestore and pd-csi-driver (#57974)
  ci-operator/config/openshift/gcp-filestore-csi-driver-operator/openshift-gcp-filestore-csi-driver-operator-main.yaml
  ci-operator/config/openshift/gcp-filestore-csi-driver-operator/openshift-gcp-filestore-csi-driver-operator-release-4.18.yaml
  ci-operator/config/openshift/gcp-filestore-csi-driver-operator/openshift-gcp-filestore-csi-driver-operator-release-4.19.yaml
  ci-operator/config/openshift/gcp-filestore-csi-driver/openshift-gcp-filestore-csi-driver-master.yaml
  ci-operator/config/openshift/gcp-filestore-csi-driver/openshift-gcp-filestore-csi-driver-release-4.18.yaml
  ci-operator/config/openshift/gcp-filestore-csi-driver/openshift-gcp-filestore-csi-driver-release-4.19.yaml
  ci-operator/config/openshift/gcp-pd-csi-driver-operator/openshift-gcp-pd-csi-driver-operator-master.yaml
  ci-operator/config/openshift/gcp-pd-csi-driver-operator/openshift-gcp-pd-csi-driver-operator-release-4.18.yaml
  ci-operator/config/openshift/gcp-pd-csi-driver-operator/openshift-gcp-pd-csi-driver-operator-release-4.19.yaml
  ci-operator/config/openshift/gcp-pd-csi-driver/openshift-gcp-pd-csi-driver-master.yaml
  ci-operator/config/openshift/gcp-pd-csi-driver/openshift-gcp-pd-csi-driver-release-4.18.yaml
  ci-operator/config/openshift/gcp-pd-csi-driver/openshift-gcp-pd-csi-driver-release-4.19.yaml
  ci-operator/jobs/openshift/gcp-filestore-csi-driver-operator/openshift-gcp-filestore-csi-driver-operator-main-presubmits.yaml
  ci-operator/jobs/openshift/gcp-filestore-csi-driver-operator/openshift-gcp-filestore-csi-driver-operator-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift/gcp-filestore-csi-driver-operator/openshift-gcp-filestore-csi-driver-operator-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift/gcp-filestore-csi-driver/openshift-gcp-filestore-csi-driver-master-presubmits.yaml
  ci-operator/jobs/openshift/gcp-filestore-csi-driver/openshift-gcp-filestore-csi-driver-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift/gcp-filestore-csi-driver/openshift-gcp-filestore-csi-driver-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift/gcp-pd-csi-driver-operator/openshift-gcp-pd-csi-driver-operator-master-presubmits.yaml
  ci-operator/jobs/openshift/gcp-pd-csi-driver-operator/openshift-gcp-pd-csi-driver-operator-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift/gcp-pd-csi-driver-operator/openshift-gcp-pd-csi-driver-operator-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift/gcp-pd-csi-driver/openshift-gcp-pd-csi-driver-master-presubmits.yaml
  ci-operator/jobs/openshift/gcp-pd-csi-driver/openshift-gcp-pd-csi-driver-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift/gcp-pd-csi-driver/openshift-gcp-pd-csi-driver-release-4.19-presubmits.yaml
  ci-operator/step-registry/openshift/e2e/gcp/csi/custom-worker/openshift-e2e-gcp-csi-custom-worker-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ZTP Telco Left shifting
  ci-operator/step-registry/telcov10n/sno-hub-ztp/share-hub-cluster-profile/telcov10n-sno-hub-ztp-share-hub-cluster-profile-commands.sh
  ci-operator/step-registry/telcov10n/sno-hub-ztp/verify-hub/telcov10n-sno-hub-ztp-verify-hub-commands.sh
  ci-operator/step-registry/telcov10n/sno-spoke/get-and-share-hub-cluster-profile/telcov10n-sno-spoke-get-and-share-hub-cluster-profile-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

MULTIARCH-4696: modify script to get successful run
  ci-operator/step-registry/upi/install/powervs/cluster/upi-install-powervs-cluster-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

hypershift: fix jobs for MCO & 4.17 (#57993)
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.17.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.17__periodics.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.18.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.19.yaml
  ci-operator/config/openshift/machine-config-operator/openshift-machine-config-operator-master.yaml
  ci-operator/config/openshift/machine-config-operator/openshift-machine-config-operator-release-4.17.yaml
  ci-operator/config/openshift/machine-config-operator/openshift-machine-config-operator-release-4.18.yaml
  ci-operator/config/openshift/machine-config-operator/openshift-machine-config-operator-release-4.19.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.19-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Update released OMR testing with correct image download URL (#58005)
  ci-operator/step-registry/quay-tests/provisioning-omr-disconnected/quay-tests-provisioning-omr-disconnected-commands.sh
  ci-operator/step-registry/quay-tests/provisioning-omr-disconnected/quay-tests-provisioning-omr-disconnected-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Ignore newly added test TestZtunnelFromPreviousMinorRelease
  ci-operator/config/openshift-service-mesh/istio/openshift-service-mesh-istio-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

GitOps| Enable CI for v1.12 (#56022)
  ci-operator/config/redhat-developer/gitops-operator/redhat-developer-gitops-operator-v1.12.yaml
  ci-operator/config/redhat-developer/gitops-operator/redhat-developer-gitops-operator-v1.12__v4.14.yaml
  ci-operator/jobs/redhat-developer/gitops-operator/redhat-developer-gitops-operator-v1.12-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Fix breaking change: new layout for clusters config
  core-services/sanitize-prow-jobs/_clusters.yaml
Due: none

Add workflow for e2e in openshift-pipelines console-plugin (#54820)
  ci-operator/config/openshift-pipelines/console-plugin/openshift-pipelines-console-plugin-main.yaml
  ci-operator/config/openshift-pipelines/console-plugin/openshift-pipelines-console-plugin-main__4.12.yaml
  ci-operator/config/openshift-pipelines/console-plugin/openshift-pipelines-console-plugin-main__4.13.yaml
  ci-operator/config/openshift-pipelines/console-plugin/openshift-pipelines-console-plugin-release-4.15.yaml
  ci-operator/config/openshift-pipelines/console-plugin/openshift-pipelines-console-plugin-release-4.16.yaml
  ci-operator/config/openshift-pipelines/console-plugin/openshift-pipelines-console-plugin-release-4.17.yaml
  ci-operator/config/openshift-pipelines/console-plugin/openshift-pipelines-console-plugin-release-4.18.yaml
  ci-operator/config/openshift-pipelines/console-plugin/openshift-pipelines-console-plugin-release-4.19.yaml
  ci-operator/jobs/openshift-pipelines/console-plugin/openshift-pipelines-console-plugin-main-presubmits.yaml
  ci-operator/jobs/openshift-pipelines/console-plugin/openshift-pipelines-console-plugin-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift-pipelines/console-plugin/openshift-pipelines-console-plugin-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift-pipelines/console-plugin/openshift-pipelines-console-plugin-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift-pipelines/console-plugin/openshift-pipelines-console-plugin-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift-pipelines/console-plugin/openshift-pipelines-console-plugin-release-4.19-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Ignore newly added test TestZtunnelFromPreviousMinorRelease (#58013)
  ci-operator/config/openshift-service-mesh/istio/openshift-service-mesh-istio-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

openshift-loki: Use loki v3.2.1 in supported operator branches
  ci-operator/config/openshift/loki/openshift-loki-main.yaml
  ci-operator/config/openshift/loki/openshift-loki-release-5.8.yaml
  ci-operator/config/openshift/loki/openshift-loki-release-6.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ZTP Telco Left shifting (#58011)
  ci-operator/step-registry/telcov10n/sno-hub-ztp/share-hub-cluster-profile/telcov10n-sno-hub-ztp-share-hub-cluster-profile-commands.sh
  ci-operator/step-registry/telcov10n/sno-hub-ztp/verify-hub/telcov10n-sno-hub-ztp-verify-hub-commands.sh
  ci-operator/step-registry/telcov10n/sno-spoke/get-and-share-hub-cluster-profile/telcov10n-sno-spoke-get-and-share-hub-cluster-profile-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

feat: use different secret for pulling windows disks
  ci-operator/config/kubevirt/common-templates/kubevirt-common-templates-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames
