Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

MULTIARCH-5196: stop using release specific branches and switching to mono branch
  ci-operator/step-registry/upi/deprovision/heterogeneous/vpc/upi-deprovision-heterogeneous-vpc-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

gcp dedicated dns zone: unset static base domain
  ci-operator/step-registry/openshift/e2e/gcp/xpn/dedicated-dns-project/openshift-e2e-gcp-xpn-dedicated-dns-project-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add comment for the usage of +10240k in find
  ci-operator/step-registry/junit2reportportal/junit2reportportal-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add comment for the usage of +10240k in find (#68381)
  ci-operator/step-registry/junit2reportportal/junit2reportportal-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

WIP: Enable minimal permission for GCP pre-submit jobs
  ci-operator/config/openshift/installer/openshift-installer-release-4.19.yaml
  ci-operator/step-registry/gcp/provision/minimal-permission/gcp-provision-minimal-permission-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

update GCP UPI installation steps to drop google cloud deployment manager
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__installer-rehearse-4.20.yaml
  ci-operator/jobs/openshift/verification-tests/openshift-verification-tests-main-periodics.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/gcp/upi/private/xpn/ingress-glb/provision/cucushift-installer-rehearse-gcp-upi-private-xpn-ingress-glb-provision-chain.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/gcp/upi/private/xpn/provision/cucushift-installer-rehearse-gcp-upi-private-xpn-provision-chain.yaml
  ci-operator/step-registry/gcp/provision/vpc/gcp-provision-vpc-commands.sh
  ci-operator/step-registry/upi/deprovision/gcp/upi-deprovision-gcp-commands.sh
  ci-operator/step-registry/upi/install/gcp/upi-install-gcp-commands.sh
  ci-operator/step-registry/upi/install/gcp/upi-install-gcp-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

config-brancher --config-dir ./ci-operator/config --current-release 4.20 --skip-periodics --future-release 4.21 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.21.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-master.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.19.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.21.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.8.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.9.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-master.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.19.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.21.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.9.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.19.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.7.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/cvp/cvp-fips-ocp-4-15-amd64-aws-eu-west-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/cvp/cvp-fips-ocp-4-17-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/cvp/cvp-ocp-4-15-amd64-aws-eu-west-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/cvp/cvp-ocp-4-17-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/gitops/gitops-ocp-4-15-0-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/konflux/konflux-ocp-4-15-0-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/konflux/konflux-ocp-4-15-0-amd64-aws-us-west-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.15.57-x86-64-for-4.15.0-0-to-4.16.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.16.46-x86-64-for-4.16.0-0-to-4.17.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.17.38-x86-64-for-4.17.0-0-to-4.18.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.18.22-x86-64-for-4.18.0-0-to-4.19.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/openshift-ci/ci-ocp-4-15-0-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-ci/ci-ocp-4-17-0-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-logging-ocp-4-15-0-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-logging-ocp-4-17-0-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-ocp-4-15-0-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-ocp-4-15-0-fips-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-ocp-4-17-0-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-ocp-4-17-0-fips-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openstack-k8s-operators/openstack-k8s-operators-4-15-vexxhost-hybrid_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/rh-openshift-ecosystem/rhoe-ocp-4-15-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/rh-openshift-ecosystem/rhoe-ocp-4-15-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/rh-openshift-ecosystem/rhoe-ocp-4-17-amd64-aws-us-west-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/rh-openshift-ecosystem/rhoe-ocp-4-17-amd64-aws-us-west-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/rhdh/rhdh-ocp-4-17-0-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/rhoam/rhoam-ocp-4.17-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/rhtap/rhtap-ocp-4-15-0-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/rhtap/rhtap-ocp-4-15-0-amd64-aws-us-west-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/serverless/serverless-ocp-4-15-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/serverless/serverless-ocp-4-17-amd64-aws-us-east-1_clusterpool.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Sync OWNERS files by autoowners job at Fri, 22 Aug 2025 07:42:10 UTC
  ci-operator/config/netobserv/network-observability-operator/OWNERS
  ci-operator/config/openshift/hypershift-dataplane-metrics-forwarder/OWNERS
  ci-operator/config/openshift/operator-framework-olm/OWNERS
  ci-operator/config/openshift/operator-framework-operator-controller/OWNERS
  ci-operator/jobs/netobserv/network-observability-operator/OWNERS
  ci-operator/jobs/openshift/hypershift-dataplane-metrics-forwarder/OWNERS
  ci-operator/jobs/openshift/operator-framework-olm/OWNERS
  ci-operator/jobs/openshift/operator-framework-operator-controller/OWNERS
  ci-operator/jobs/validatedpatterns/docs/OWNERS
  core-services/prow/02_config/netobserv/network-observability-operator/OWNERS
  core-services/prow/02_config/openshift/hypershift-dataplane-metrics-forwarder/OWNERS
  core-services/prow/02_config/openshift/operator-framework-olm/OWNERS
  core-services/prow/02_config/openshift/operator-framework-operator-controller/OWNERS
  core-services/prow/02_config/validatedpatterns/docs/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.16.46-x86-64-for-4.16.0-0-to-4.17.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.17.38-x86-64-for-4.17.0-0-to-4.18.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Sync OWNERS files by autoowners job at Fri, 22 Aug 2025 07:42:10 UTC (#68382)
  ci-operator/config/netobserv/network-observability-operator/OWNERS
  ci-operator/config/openshift/hypershift-dataplane-metrics-forwarder/OWNERS
  ci-operator/config/openshift/operator-framework-olm/OWNERS
  ci-operator/config/openshift/operator-framework-operator-controller/OWNERS
  ci-operator/jobs/netobserv/network-observability-operator/OWNERS
  ci-operator/jobs/openshift/hypershift-dataplane-metrics-forwarder/OWNERS
  ci-operator/jobs/openshift/operator-framework-olm/OWNERS
  ci-operator/jobs/openshift/operator-framework-operator-controller/OWNERS
  ci-operator/jobs/validatedpatterns/docs/OWNERS
  core-services/prow/02_config/netobserv/network-observability-operator/OWNERS
  core-services/prow/02_config/openshift/hypershift-dataplane-metrics-forwarder/OWNERS
  core-services/prow/02_config/openshift/operator-framework-olm/OWNERS
  core-services/prow/02_config/openshift/operator-framework-operator-controller/OWNERS
  core-services/prow/02_config/validatedpatterns/docs/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

CNTRLPLANE-945: cao: Add aws,azure,gcp,vsphere TPNU periodics for OIDC feature (#68366)
  ci-operator/config/openshift/cluster-authentication-operator/openshift-cluster-authentication-operator-master.yaml
  ci-operator/config/openshift/cluster-authentication-operator/openshift-cluster-authentication-operator-release-4.20__periodics.yaml
  ci-operator/jobs/openshift/cluster-authentication-operator/openshift-cluster-authentication-operator-master-presubmits.yaml
  ci-operator/jobs/openshift/cluster-authentication-operator/openshift-cluster-authentication-operator-release-4.20-periodics.yaml
  ci-operator/jobs/openshift/cluster-authentication-operator/openshift-cluster-authentication-operator-release-4.20-postsubmits.yaml
  ci-operator/jobs/openshift/cluster-authentication-operator/openshift-cluster-authentication-operator-release-4.20-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

reduce time
  ci-operator/step-registry/baremetal/lab/wait/baremetal-lab-wait-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

config-brancher --config-dir ./ci-operator/config --current-release 4.20 --skip-periodics --future-release 4.21 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.21.yaml
  ci-operator/config/openshift/cluster-authentication-operator/openshift-cluster-authentication-operator-release-4.20.yaml
  ci-operator/config/openshift/cluster-authentication-operator/openshift-cluster-authentication-operator-release-4.21.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-master.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.19.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.21.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.8.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.9.yaml
  ci-operator/config/openshift-priv/cluster-authentication-operator/openshift-priv-cluster-authentication-operator-master.yaml
  ci-operator/config/openshift-priv/cluster-authentication-operator/openshift-priv-cluster-authentication-operator-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-authentication-operator/openshift-priv-cluster-authentication-operator-release-4.20__periodics.yaml
  ci-operator/config/openshift-priv/cluster-authentication-operator/openshift-priv-cluster-authentication-operator-release-4.21.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-master.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.19.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.21.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.9.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.19.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.7.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-operator-prowgen --from-dir ./ci-operator/config --to-dir ./ci-operator/jobs
  ci-operator/jobs/openshift-priv/cluster-authentication-operator/openshift-priv-cluster-authentication-operator-master-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-authentication-operator/openshift-priv-cluster-authentication-operator-release-4.20-postsubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-authentication-operator/openshift-priv-cluster-authentication-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-authentication-operator/openshift-priv-cluster-authentication-operator-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift/cluster-authentication-operator/openshift-cluster-authentication-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/cluster-authentication-operator/openshift-cluster-authentication-operator-release-4.21-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

sanitize-prow-jobs --prow-jobs-dir ./ci-operator/jobs --config-path ./core-services/sanitize-prow-jobs/_config.yaml
  ci-operator/jobs/openshift-priv/cluster-authentication-operator/openshift-priv-cluster-authentication-operator-release-4.20-postsubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-authentication-operator/openshift-priv-cluster-authentication-operator-release-4.20-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.15.57-x86-64-for-4.15.0-0-to-4.16.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

ARO-HCP production tests
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main.yaml
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main__periodic.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

[ODF] Enable backports for z-streams
  core-services/jira-lifecycle-plugin/config.yaml
Due: ci/prow/jira-lifecycle-config

generated artifacts
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-periodics.yaml
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

config-brancher --config-dir ./ci-operator/config --current-release 4.20 --skip-periodics --future-release 4.21 --confirm
  ci-operator/config/openshift/cluster-api-provider-aws/openshift-cluster-api-provider-aws-release-4.21.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.21.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-aws/openshift-priv-cluster-api-provider-aws-main.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-aws/openshift-priv-cluster-api-provider-aws-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-aws/openshift-priv-cluster-api-provider-aws-release-4.21.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-master.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.19.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.21.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.8.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.9.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-master.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.19.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.21.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.9.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.19.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.7.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.15.57-x86-64-for-4.15.0-0-to-4.16.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.17.38-x86-64-for-4.17.0-0-to-4.18.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

run ovnk d/s merge job once per hour
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.20__periodics.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.20-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.17.38-x86-64-for-4.17.0-0-to-4.18.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.18.22-x86-64-for-4.18.0-0-to-4.19.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.19.9-x86-64-for-4.19.0-0-to-4.20.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

ARO-HCP production uksouth tests (#68387)
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main.yaml
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main__periodic.yaml
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-periodics.yaml
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

MULTIARCH-5196: stop running p-px and x-px jobs while we rehearse (#68141)
  ci-operator/config/openshift/multiarch/openshift-multiarch-master__nightly-4.14.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-master__nightly-4.15.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-master__nightly-4.16.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-master__nightly-4.17.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-master__nightly-4.18.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-master__nightly-4.19.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-master__nightly-4.20.yaml
  ci-operator/jobs/openshift/multiarch/openshift-multiarch-master-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

MULTIARCH-5196: stop using release specific branches and switching to mono branch (#68375)
  ci-operator/step-registry/upi/deprovision/heterogeneous/powervs/upi-deprovision-heterogeneous-powervs-commands.sh
  ci-operator/step-registry/upi/deprovision/heterogeneous/vpc/upi-deprovision-heterogeneous-vpc-commands.sh
  ci-operator/step-registry/upi/install/heterogeneous/powervs/upi-install-heterogeneous-powervs-commands.sh
  ci-operator/step-registry/upi/install/heterogeneous/vpc/upi-install-heterogeneous-vpc-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Replace Last level cache tests to use 4.20 instead of 4.21
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__llc-cnf-4.21.yaml
  ci-operator/jobs/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

debug aro hcp
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__amd64-nightly.yaml
  ci-operator/step-registry/cucushift/hypershift-extended/health-check/cucushift-hypershift-extended-health-check-commands.sh
  ci-operator/step-registry/hypershift/azure/create/hypershift-azure-create-chain.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Adapt tang url for IPv6 only
  ci-operator/step-registry/baremetal/lab/storage/baremetal-lab-storage-commands.sh
  ci-operator/step-registry/baremetal/lab/storage/baremetal-lab-storage-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Increase timeout for ironic-image ci jobs to 5h30m0s
  ci-operator/config/openshift-priv/ironic-image/openshift-priv-ironic-image-main.yaml
  ci-operator/config/openshift/ironic-image/openshift-ironic-image-main.yaml
  ci-operator/jobs/openshift-priv/ironic-image/openshift-priv-ironic-image-main-presubmits.yaml
  ci-operator/jobs/openshift/ironic-image/openshift-ironic-image-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

wait for infraenv
  ci-operator/step-registry/hypershift/agent/create/add-worker-metal3/lab/hypershift-agent-create-add-worker-metal3-lab-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

IPSec post user MC workflow
  ci-operator/step-registry/ovn/conf/ipsec-user-mc/OWNERS
  ci-operator/step-registry/ovn/conf/ipsec-user-mc/ovn-conf-ipsec-user-mc-commands.sh
  ci-operator/step-registry/ovn/conf/ipsec-user-mc/ovn-conf-ipsec-user-mc-ref.metadata.json
  ci-operator/step-registry/ovn/conf/ipsec-user-mc/ovn-conf-ipsec-user-mc-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck
