Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/prow/stackrox-stackrox-stackrox-stackrox-check

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox

remove rosa conformance jobs (#52793)
  ci-operator/config/openshift/osde2e/openshift-osde2e-main__nightly-4.15.yaml
  ci-operator/config/openshift/osde2e/openshift-osde2e-main__nightly-4.16.yaml
  ci-operator/config/openshift/osde2e/openshift-osde2e-main__nightly-4.17.yaml
  ci-operator/jobs/openshift/osde2e/openshift-osde2e-main-periodics.yaml
  core-services/release-controller/_releases/priv/release-ocp-4.15.json
  core-services/release-controller/_releases/priv/release-ocp-4.16.json
  core-services/release-controller/_releases/priv/release-ocp-4.17.json
  core-services/release-controller/_releases/release-ocp-4.15.json
  core-services/release-controller/_releases/release-ocp-4.16.json
  core-services/release-controller/_releases/release-ocp-4.17.json
Due: none

Bumping Prow and Boskos (#52855)
  Makefile
  ci-operator/jobs/infra-periodics.yaml
  ci-operator/jobs/openshift/release/openshift-release-master-presubmits.yaml
  clusters/app.ci/ci-arm64/arm64_adapter_imagestreams.yaml
  clusters/app.ci/prow/03_deployment/adapter_imagestreams.yaml
  clusters/app.ci/prow/03_deployment/cherrypick.yaml
  clusters/app.ci/prow/03_deployment/crier.yaml
  clusters/app.ci/prow/03_deployment/deck.yaml
  clusters/app.ci/prow/03_deployment/exporter.yaml
  clusters/app.ci/prow/03_deployment/gangway.yaml
  clusters/app.ci/prow/03_deployment/ghproxy.yaml
  clusters/app.ci/prow/03_deployment/hook.yaml
  clusters/app.ci/prow/03_deployment/horologium.yaml
  clusters/app.ci/prow/03_deployment/needs_rebase.yaml
  clusters/app.ci/prow/03_deployment/prow-controller-manager.yaml
  clusters/app.ci/prow/03_deployment/qe_private_deck.yaml
  clusters/app.ci/prow/03_deployment/refresh.yaml
  clusters/app.ci/prow/03_deployment/sinker.yaml
  clusters/app.ci/prow/03_deployment/statusreconciler.yaml
  clusters/app.ci/prow/03_deployment/tide.yaml
  clusters/app.ci/prow/03_deployment/tot.yaml
  clusters/app.ci/prow/staging/crier.yaml
  clusters/app.ci/prow/staging/deck.yaml
  clusters/app.ci/prow/staging/ghproxy.yaml
  clusters/app.ci/prow/staging/hook.yaml
  clusters/app.ci/prow/staging/horologium.yaml
  clusters/app.ci/prow/staging/prow-config.yaml
  clusters/app.ci/prow/staging/prow-controller-manager.yaml
  clusters/app.ci/prow/staging/sinker.yaml
  clusters/app.ci/prow/staging/statusreconciler.yaml
  clusters/app.ci/prow/staging/tide.yaml
  clusters/build-clusters/ppc64le01/assests/ppc64le_adapter_imagestreams.yaml
  core-services/prow/02_config/_config.yaml
  hack/images.sh
Due: ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry

config-brancher --config-dir ./ci-operator/config --current-release 4.17 --skip-periodics --future-release 4.18 --confirm
  ci-operator/config/openshift/cloud-network-config-controller/openshift-cloud-network-config-controller-release-4.18.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.18.yaml
  ci-operator/config/openshift/cluster-api-provider-vsphere/openshift-cluster-api-provider-vsphere-release-4.17.yaml
  ci-operator/config/openshift/cluster-api-provider-vsphere/openshift-cluster-api-provider-vsphere-release-4.18.yaml
  ci-operator/config/openshift/kubernetes-kube-storage-version-migrator/openshift-kubernetes-kube-storage-version-migrator-release-4.18.yaml
  ci-operator/config/openshift/machine-api-provider-gcp/openshift-machine-api-provider-gcp-release-4.18.yaml
Due: none

openstack: Upgrade the base images of our tooling (#52757)
  ci-operator/config/shiftstack/bugwatcher/shiftstack-bugwatcher-main.yaml
  ci-operator/config/shiftstack/ci-configs/shiftstack-ci-configs-main.yaml
  ci-operator/config/shiftstack/prune/shiftstack-prune-main.yaml
  ci-operator/config/shiftstack/shiftstack-ci/shiftstack-shiftstack-ci-main.yaml
  ci-operator/jobs/shiftstack/bugwatcher/shiftstack-bugwatcher-main-periodics.yaml
  ci-operator/jobs/shiftstack/bugwatcher/shiftstack-bugwatcher-main-presubmits.yaml
Due: none

ci-operator-prowgen --from-dir ./ci-operator/config --to-dir ./ci-operator/jobs
  ci-operator/jobs/openshift-priv/cluster-api-provider-vsphere/openshift-priv-cluster-api-provider-vsphere-master-postsubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-vsphere/openshift-priv-cluster-api-provider-vsphere-master-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-vsphere/openshift-priv-cluster-api-provider-vsphere-release-4.11-postsubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-vsphere/openshift-priv-cluster-api-provider-vsphere-release-4.11-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-vsphere/openshift-priv-cluster-api-provider-vsphere-release-4.12-postsubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-vsphere/openshift-priv-cluster-api-provider-vsphere-release-4.12-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-vsphere/openshift-priv-cluster-api-provider-vsphere-release-4.13-postsubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-vsphere/openshift-priv-cluster-api-provider-vsphere-release-4.13-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-vsphere/openshift-priv-cluster-api-provider-vsphere-release-4.14-postsubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-vsphere/openshift-priv-cluster-api-provider-vsphere-release-4.14-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-vsphere/openshift-priv-cluster-api-provider-vsphere-release-4.15-postsubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-vsphere/openshift-priv-cluster-api-provider-vsphere-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-vsphere/openshift-priv-cluster-api-provider-vsphere-release-4.16-postsubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-vsphere/openshift-priv-cluster-api-provider-vsphere-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-vsphere/openshift-priv-cluster-api-provider-vsphere-release-4.17-postsubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-vsphere/openshift-priv-cluster-api-provider-vsphere-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-vsphere/openshift-priv-cluster-api-provider-vsphere-release-4.18-postsubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-vsphere/openshift-priv-cluster-api-provider-vsphere-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-vsphere/openshift-cluster-api-provider-vsphere-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-vsphere/openshift-cluster-api-provider-vsphere-release-4.18-presubmits.yaml
Due: none

feat(ibm): Enable verify on release testing (#52510)
  ci-operator/config/openshift-priv/hypershift/openshift-priv-hypershift-release-4.10.yaml
  ci-operator/config/openshift-priv/hypershift/openshift-priv-hypershift-release-4.11.yaml
  ci-operator/config/openshift-priv/hypershift/openshift-priv-hypershift-release-4.12.yaml
  ci-operator/config/openshift-priv/hypershift/openshift-priv-hypershift-release-4.13.yaml
  ci-operator/config/openshift-priv/hypershift/openshift-priv-hypershift-release-4.14.yaml
  ci-operator/config/openshift-priv/hypershift/openshift-priv-hypershift-release-4.15.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.10.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.11.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.12.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.13.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.14.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.15.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.9.yaml
  ci-operator/step-registry/hypershift/ibmcloud/e2e/release/hypershift-ibmcloud-e2e-release-workflow.yaml
Due: none

Add user to openshift-observability owners (#52805)
  clusters/hosted-mgmt/hive/pools/openshift-observability/OWNERS
Due: ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry

Re-apply ClusterPodPlacementConfig (#52850)
  clusters/build-clusters/build10/multiarch-manager-operator/admin_10-pod-placement-config.yaml
Due: ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry

Update MTO and pin to a pre-release version (#52849)
  clusters/build-clusters/build10/multiarch-manager-operator/admin_01-operator.yaml
Due: ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry

Temporarily remove MTO (#52847)
  clusters/build-clusters/build10/multiarch-manager-operator/admin_01-operator.yaml
  clusters/build-clusters/build10/multiarch-manager-operator/admin_10-pod-placement-config.yaml
Due: ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry

sanitize-prow-jobs --prow-jobs-dir ./ci-operator/jobs --config-path ./core-services/sanitize-prow-jobs/_config.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-vsphere/openshift-priv-cluster-api-provider-vsphere-master-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-vsphere/openshift-priv-cluster-api-provider-vsphere-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-vsphere/openshift-priv-cluster-api-provider-vsphere-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-vsphere/openshift-cluster-api-provider-vsphere-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-vsphere/openshift-cluster-api-provider-vsphere-release-4.18-presubmits.yaml
Due: none

config-brancher --config-dir ./ci-operator/config --current-release 4.17 --skip-periodics --future-release 4.18 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.18.yaml
  ci-operator/config/openshift/installer/openshift-installer-release-4.18.yaml
  ci-operator/config/openshift/machine-config-operator/openshift-machine-config-operator-release-4.18.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.18.yaml
Due: none

update code to create rhel dns (#52808)
  ci-operator/step-registry/workers-rhel/vsphere-provision/dns/workers-rhel-vsphere-provision-dns-commands.sh
Due: none

Use oc adm upgrade --to-image instead of rollback command in nightly (#52751)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16__amd64-rollback-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16-periodics.yaml
Due: none

always enable Ingress cap in install-config (#52812)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16__multi-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.17__multi-nightly.yaml
  ci-operator/step-registry/cucushift/installer/check/capability/cucushift-installer-check-capability-commands.sh
Due: none

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.15.16-x86-64-for-4.15.0-0-to-4.16.0-0_clusterimageset.yaml
Due: ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry

Lower test frequency for 4.17 temporarely (#52860)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.17__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.17__multi-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.17-periodics.yaml
Due: none

sanitize-prow-jobs --prow-jobs-dir ./ci-operator/jobs --config-path ./core-services/sanitize-prow-jobs/_config.yaml
  ci-operator/jobs/openshift-priv/installer/openshift-priv-installer-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift-priv/machine-config-operator/openshift-priv-machine-config-operator-master-presubmits.yaml
  ci-operator/jobs/openshift-priv/machine-config-operator/openshift-priv-machine-config-operator-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift-priv/machine-config-operator/openshift-priv-machine-config-operator-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift/installer/openshift-installer-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift/machine-config-operator/openshift-machine-config-operator-release-4.18-presubmits.yaml
Due: none

Adding qci-cache-pull-through credentials (#52732)
  core-services/ci-secret-bootstrap/_config.yaml
Due: none

add ovn to mce-agent-connected-ipv4-metal3-compact-conformance job name (#52255)
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.15__periodics.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.15-periodics.yaml
Due: none

Stop 4.14 rollback testing (#52864)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.13__amd64-rollback-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.14__amd64-rollback-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.14__amd64-rollback-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.15__amd64-rollback-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.13-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.14-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.15-periodics.yaml
Due: none

Openstack: Fix extension of the netid file. (#52869)
  ci-operator/step-registry/upi/deprovision/openstack/upi-deprovision-openstack-commands.sh
  ci-operator/step-registry/upi/install/openstack/upi-install-openstack-commands.sh
Due: none

Update provision SG (#52741)
  ci-operator/step-registry/aws/deprovision/security-group/aws-deprovision-security-group-commands.sh
  ci-operator/step-registry/aws/provision/security-group/aws-provision-security-group-commands.sh
  ci-operator/step-registry/aws/provision/security-group/aws-provision-security-group-ref.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/aws/ipi/disconnected/private/cco-manual-security-token-service/deprovision/cucushift-installer-rehearse-aws-ipi-disconnected-private-cco-manual-security-token-service-deprovision-chain.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/aws/ipi/disconnected/private/cco-manual-security-token-service/provision/cucushift-installer-rehearse-aws-ipi-disconnected-private-cco-manual-security-token-service-provision-chain.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/aws/ipi/disconnected/private/deprovision/cucushift-installer-rehearse-aws-ipi-disconnected-private-deprovision-chain.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/aws/ipi/disconnected/private/network-mtu/edge-zone/provision/cucushift-installer-rehearse-aws-ipi-disconnected-private-network-mtu-edge-zone-provision-chain.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/aws/ipi/disconnected/private/provision/cucushift-installer-rehearse-aws-ipi-disconnected-private-provision-chain.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/aws/ipi/disconnected/private/sno/provision/cucushift-installer-rehearse-aws-ipi-disconnected-private-sno-provision-chain.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/aws/ipi/disconnected/private/techpreview/provision/cucushift-installer-rehearse-aws-ipi-disconnected-private-techpreview-provision-chain.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/aws/ipi/ovn/hypershift/private/deprovision/cucushift-installer-rehearse-aws-ipi-ovn-hypershift-private-deprovision-chain.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/aws/ipi/private/cco-manual-security-token-service/provision/cucushift-installer-rehearse-aws-ipi-private-cco-manual-security-token-service-provision-chain.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/aws/ipi/private/deprovision/cucushift-installer-rehearse-aws-ipi-private-deprovision-chain.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/aws/ipi/private/ovn/ipsec/provision/cucushift-installer-rehearse-aws-ipi-private-ovn-ipsec-provision-chain.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/aws/ipi/private/provision/cucushift-installer-rehearse-aws-ipi-private-provision-chain.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/aws/ipi/private/shared-vpc-phz/sts/provision/cucushift-installer-rehearse-aws-ipi-private-shared-vpc-phz-sts-provision-chain.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/aws/ipi/proxy/deprovision/cucushift-installer-rehearse-aws-ipi-proxy-deprovision-chain.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/aws/ipi/proxy/provision/cucushift-installer-rehearse-aws-ipi-proxy-provision-chain.yaml
  ci-operator/step-registry/ipi/conf/aws/custom-security-groups/ipi-conf-aws-custom-security-groups-commands.sh
Due: none

config-brancher --config-dir ./ci-operator/config --current-release 4.17 --skip-periodics --future-release 4.18 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.18.yaml
Due: none

Bump golangci-lint (#52723)
  ci-operator/config/openshift/installer/openshift-installer-master.yaml
  ci-operator/config/openshift/installer/openshift-installer-release-4.17.yaml
Due: none

Update admin_30-rolebinding.yaml with mto (#52883)
  clusters/build-clusters/build10/multiarch-manager-operator/admin_30-rolebinding.yaml
Due: ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry

Set minimal replica to 1 for b10 to workaround a bug (#52873)
  clusters/build-clusters/build10/ci-scheduling-webhook/ci-builds-worker-aarch64.yaml
  clusters/build-clusters/build10/ci-scheduling-webhook/ci-builds-worker-amd64.yaml
  clusters/build-clusters/build10/ci-scheduling-webhook/ci-longtests-worker-aarch64.yaml
  clusters/build-clusters/build10/ci-scheduling-webhook/ci-longtests-worker-amd64.yaml
  clusters/build-clusters/build10/ci-scheduling-webhook/ci-prowjobs-worker-aarch64.yaml
  clusters/build-clusters/build10/ci-scheduling-webhook/ci-prowjobs-worker-amd64.yaml
  clusters/build-clusters/build10/ci-scheduling-webhook/ci-tests-worker-aarch64.yaml
  clusters/build-clusters/build10/ci-scheduling-webhook/ci-tests-worker-amd64.yaml
Due: ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry

Use the git-sync image from QCI (#52672)
  clusters/app.ci/assets/admin_ci-images-mirror.yaml
  clusters/app.ci/assets/dptp-controller-manager.yaml
  clusters/app.ci/assets/slack-bot.yaml
  clusters/app.ci/ci-chat-bot/ci-chat-bot.yaml
  clusters/app.ci/ci-operator-configresolver/ci-operator-configresolver.yaml
  clusters/app.ci/prow/03_deployment/crier.yaml
  clusters/app.ci/prow/03_deployment/deck.yaml
  clusters/app.ci/prow/03_deployment/gangway.yaml
  clusters/app.ci/prow/03_deployment/hook.yaml
  clusters/app.ci/prow/03_deployment/horologium.yaml
  clusters/app.ci/prow/03_deployment/payload-testing-prow-plugin.yaml
  clusters/app.ci/prow/03_deployment/pipeline-controller.yaml
  clusters/app.ci/prow/03_deployment/prow-controller-manager.yaml
  clusters/app.ci/prow/03_deployment/qe_private_deck.yaml
  clusters/app.ci/prow/03_deployment/retester.yaml
  clusters/app.ci/prow/03_deployment/sinker.yaml
  clusters/app.ci/prow/03_deployment/statusreconciler.yaml
  clusters/app.ci/prow/03_deployment/tide.yaml
  clusters/app.ci/prow/03_deployment/tot.yaml
  clusters/app.ci/release-controller/deploy-ocp-arm64-controller.yaml
  clusters/app.ci/release-controller/deploy-ocp-arm64-priv-controller.yaml
  clusters/app.ci/release-controller/deploy-ocp-controller.yaml
  clusters/app.ci/release-controller/deploy-ocp-multi-2-controller.yaml
  clusters/app.ci/release-controller/deploy-ocp-multi-2-priv-controller.yaml
  clusters/app.ci/release-controller/deploy-ocp-multi-controller.yaml
  clusters/app.ci/release-controller/deploy-ocp-multi-priv-controller.yaml
  clusters/app.ci/release-controller/deploy-ocp-ppc64le-controller.yaml
  clusters/app.ci/release-controller/deploy-ocp-ppc64le-priv-controller.yaml
  clusters/app.ci/release-controller/deploy-ocp-priv-controller.yaml
  clusters/app.ci/release-controller/deploy-ocp-s390x-controller.yaml
  clusters/app.ci/release-controller/deploy-ocp-s390x-priv-controller.yaml
  clusters/app.ci/release-controller/deploy-origin-controller.yaml
  hack/generators/release-controllers/content/origin_resources.py
  hack/generators/release-controllers/content/osd_rc_deployments.py
Due: ci/prow/pylint, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry

Use Distributed Tracing cluster pools in CI jobs (#52863)
  ci-operator/config/openshift/distributed-tracing-qe/openshift-distributed-tracing-qe-main__ocp4.14-acceptance.yaml
  ci-operator/config/openshift/distributed-tracing-qe/openshift-distributed-tracing-qe-main__ocp4.14-dast.yaml
  ci-operator/config/openshift/grafana-tempo-operator/openshift-grafana-tempo-operator-main.yaml
  ci-operator/config/openshift/grafana-tempo-operator/openshift-grafana-tempo-operator-main__ocp4.13-amd64-upgrade.yaml
  ci-operator/config/openshift/grafana-tempo-operator/openshift-grafana-tempo-operator-main__ocp4.14-amd64.yaml
  ci-operator/config/openshift/grafana-tempo-operator/openshift-grafana-tempo-operator-main__tempo-product-ocp-4.13-stage.yaml
  ci-operator/config/openshift/grafana-tempo-operator/openshift-grafana-tempo-operator-main__tempo-product-ocp-4.14-stage.yaml
  ci-operator/config/openshift/grafana-tempo-operator/openshift-grafana-tempo-operator-main__tempo-product-ocp-4.15-stage.yaml
  ci-operator/config/openshift/jaegertracing-jaeger-operator/openshift-jaegertracing-jaeger-operator-main.yaml
  ci-operator/config/openshift/jaegertracing-jaeger-operator/openshift-jaegertracing-jaeger-operator-main__jaeger-product-ocp-4.12-stage.yaml
  ci-operator/config/openshift/jaegertracing-jaeger-operator/openshift-jaegertracing-jaeger-operator-main__jaeger-product-ocp-4.13-stage.yaml
  ci-operator/config/openshift/jaegertracing-jaeger-operator/openshift-jaegertracing-jaeger-operator-main__jaeger-product-ocp-4.14-stage.yaml
  ci-operator/config/openshift/jaegertracing-jaeger-operator/openshift-jaegertracing-jaeger-operator-main__jaeger-product-ocp-4.15-stage.yaml
  ci-operator/config/openshift/jaegertracing-jaeger-operator/openshift-jaegertracing-jaeger-operator-main__ocp-4.14-amd64.yaml
  ci-operator/config/openshift/open-telemetry-opentelemetry-operator/openshift-open-telemetry-opentelemetry-operator-main.yaml
  ci-operator/config/openshift/open-telemetry-opentelemetry-operator/openshift-open-telemetry-opentelemetry-operator-main__ocp-4.13-amd64-upgrade.yaml
  ci-operator/config/openshift/open-telemetry-opentelemetry-operator/openshift-open-telemetry-opentelemetry-operator-main__ocp-4.14-amd64.yaml
  ci-operator/config/openshift/open-telemetry-opentelemetry-operator/openshift-open-telemetry-opentelemetry-operator-main__opentelemetry-product-ocp-4.12-stage.yaml
  ci-operator/config/openshift/open-telemetry-opentelemetry-operator/openshift-open-telemetry-opentelemetry-operator-main__opentelemetry-product-ocp-4.13-stage.yaml
  ci-operator/config/openshift/open-telemetry-opentelemetry-operator/openshift-open-telemetry-opentelemetry-operator-main__opentelemetry-product-ocp-4.14-stage.yaml
  ci-operator/config/openshift/open-telemetry-opentelemetry-operator/openshift-open-telemetry-opentelemetry-operator-main__opentelemetry-product-ocp-4.15-stage.yaml
  ci-operator/jobs/openshift/jaegertracing-jaeger-operator/openshift-jaegertracing-jaeger-operator-main-periodics.yaml
  ci-operator/jobs/openshift/open-telemetry-opentelemetry-operator/openshift-open-telemetry-opentelemetry-operator-main-periodics.yaml
  ci-operator/step-registry/distributed-tracing/tests/opentelemetry/downstream/distributed-tracing-tests-opentelemetry-downstream-ref.yaml
Due: none

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-master.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.8.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.9.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-master.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.9.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.7.yaml
Due: none

update Node JS Version (#52867)
  ci-operator/config/quay/quay-tests/quay-quay-tests-master.yaml
Due: none

CI profile work for Masq and Transit subnet (#52779)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16-periodics.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/vsphere/ipi/ovn/custom-transit-switch-masquerade-subnet/OWNERS
  ci-operator/step-registry/cucushift/installer/rehearse/vsphere/ipi/ovn/custom-transit-switch-masquerade-subnet/cucushift-installer-rehearse-vsphere-ipi-ovn-custom-transit-switch-masquerade-subnet-workflow.metadata.json
  ci-operator/step-registry/cucushift/installer/rehearse/vsphere/ipi/ovn/custom-transit-switch-masquerade-subnet/cucushift-installer-rehearse-vsphere-ipi-ovn-custom-transit-switch-masquerade-subnet-workflow.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/vsphere/ipi/ovn/custom-transit-switch-masquerade-subnet/provision/OWNERS
  ci-operator/step-registry/cucushift/installer/rehearse/vsphere/ipi/ovn/custom-transit-switch-masquerade-subnet/provision/cucushift-installer-rehearse-vsphere-ipi-ovn-custom-transit-switch-masquerade-subnet-provision-chain.metadata.json
  ci-operator/step-registry/cucushift/installer/rehearse/vsphere/ipi/ovn/custom-transit-switch-masquerade-subnet/provision/cucushift-installer-rehearse-vsphere-ipi-ovn-custom-transit-switch-masquerade-subnet-provision-chain.yaml
Due: none

osdfm: fix provision shard not populated when SC in maintenance (#52814)
  ci-operator/step-registry/osd-ccs/fleet-manager/sc/provision/osd-ccs-fleet-manager-sc-provision-commands.sh
Due: none

ci-tools: force-schedule all of non-e2e jobs to arm64 nodes (#52872)
  ci-operator/config/openshift/ci-tools/openshift-ci-tools-master.yaml
  ci-operator/jobs/openshift/ci-tools/openshift-ci-tools-master-presubmits.yaml
Due: none
