Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

ci/openshift/promrules:
  decorate: true
  spec:
    containers:
    - command:
      - /go/entrypoint.sh
      image: registry.svc.ci.openshift.org/ci/promrules:latest
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
          cpu: 500m
        requests:
          cpu: 10m

ci/prow/pylint:
  decorate: true
  spec:
    containers:
    - args:
      - --rcfile=hack/.pylintrc
      - --ignore=lib
      - --persistent=n
      - hack
      command:
      - pylint
      image: registry.svc.ci.openshift.org/ci/python-validation
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
  ...

branch-ci-openshift-release-master-label-sync:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/prow/02_config/_labels.yaml
      - --confirm=true
  ...

ci/prow/check-cluster-profiles-config:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    automountServiceAccountToken: true
    containers:
    - args:
      - --config-path=./ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml
      command:
      - check-cluster-profiles-config
  ...

ci/prow/check-gh-automation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --bot=openshift-merge-robot
      - --bot=openshift-ci-robot
      - --app=openshift-ci
      - --app-check-mode=standard
      - --candidate-path=.
  ...

ci/prow/check-gh-automation-tide:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --app=openshift-merge-bot
      - --app-check-mode=tide
      - --candidate-path=.
      - --config-path=./core-services/prow/02_config/_config.yaml
  ...

ci/prow/image-mirroring-config-validation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --release-repo-git-sync-path=.
      - --registry-config=/etc/pull/.dockerconfigjson
      - --config=./core-services/image-mirroring/_config.yaml
      - --validate-config-only=true
  ...

ci/prow/ci-secret-bootstrap-config-validation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - command:
      - ./hack/validate-ci-secret-boostrap.sh
      image: registry.ci.openshift.org/ci/ci-secret-bootstrap:latest
      imagePullPolicy: Always
      name: ''
      resources:
        requests:
  ...

ci/prow/clusterimageset-validate:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --pools
      - ./clusters/hosted-mgmt/hive/pools
      - --imagesets
      - ./clusters/hosted-mgmt/hive/pools
      command:
      - clusterimageset-updater
  ...

Sync OWNERS files by autoowners job at Fri, 10 Jan 2025 07:41:08 UTC
  ci-operator/config/openshift-kni/cnf-features-deploy/OWNERS
  ci-operator/config/openshift/kube-compare/OWNERS
  ci-operator/config/openshift/oauth-proxy/OWNERS
  ci-operator/config/openshift/osd-metrics-exporter/OWNERS
  ci-operator/jobs/openshift-kni/cnf-features-deploy/OWNERS
  ci-operator/jobs/openshift/kube-compare/OWNERS
  ci-operator/jobs/openshift/oauth-proxy/OWNERS
  ci-operator/jobs/openshift/osd-metrics-exporter/OWNERS
  core-services/prow/02_config/openshift-kni/cnf-features-deploy/OWNERS
  core-services/prow/02_config/openshift/kube-compare/OWNERS
  core-services/prow/02_config/openshift/oauth-proxy/OWNERS
  core-services/prow/02_config/openshift/osd-metrics-exporter/OWNERS
  core-services/prow/02_config/red-hat-storage/kubernetes-csi-addons/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Sync OWNERS files by autoowners job at Fri, 10 Jan 2025 07:41:08 UTC (#60506)
  ci-operator/config/openshift-kni/cnf-features-deploy/OWNERS
  ci-operator/config/openshift/kube-compare/OWNERS
  ci-operator/config/openshift/oauth-proxy/OWNERS
  ci-operator/config/openshift/osd-metrics-exporter/OWNERS
  ci-operator/jobs/openshift-kni/cnf-features-deploy/OWNERS
  ci-operator/jobs/openshift/kube-compare/OWNERS
  ci-operator/jobs/openshift/oauth-proxy/OWNERS
  ci-operator/jobs/openshift/osd-metrics-exporter/OWNERS
  core-services/prow/02_config/openshift-kni/cnf-features-deploy/OWNERS
  core-services/prow/02_config/openshift/kube-compare/OWNERS
  core-services/prow/02_config/openshift/oauth-proxy/OWNERS
  core-services/prow/02_config/openshift/osd-metrics-exporter/OWNERS
  core-services/prow/02_config/red-hat-storage/kubernetes-csi-addons/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

opendatahub/vllm: increase timeout for all builds
  ci-operator/config/opendatahub-io/vllm/opendatahub-io-vllm-ibm-dev.yaml
  ci-operator/config/opendatahub-io/vllm/opendatahub-io-vllm-main.yaml
  ci-operator/config/opendatahub-io/vllm/opendatahub-io-vllm-release.yaml
  ci-operator/jobs/opendatahub-io/vllm/opendatahub-io-vllm-ibm-dev-postsubmits.yaml
  ci-operator/jobs/opendatahub-io/vllm/opendatahub-io-vllm-main-postsubmits.yaml
  ci-operator/jobs/opendatahub-io/vllm/opendatahub-io-vllm-main-presubmits.yaml
  ci-operator/jobs/opendatahub-io/vllm/opendatahub-io-vllm-release-postsubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

config-brancher --config-dir ./ci-operator/config --current-release 4.19 --skip-periodics --future-release 4.20 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.19.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.20.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-master.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.19.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.8.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.9.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-master.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.19.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.9.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.7.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.15.42-x86-64-for-4.15.0-0-to-4.16.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

corrected the base domain
  ci-operator/config/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main__azure-4.17-nightly-x86.yaml
  ci-operator/config/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main__azure-4.18-nightly-x86.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

changes
  ci-operator/config/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main__azure-4.17-nightly-x86.yaml
  ci-operator/config/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main__azure-4.18-nightly-x86.yaml
  ci-operator/jobs/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

OCPQE-26733 azure npt
  ci-operator/config/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main__azure-4.17-nightly-x86.yaml
  ci-operator/config/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main__azure-4.18-nightly-x86.yaml
  ci-operator/jobs/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

rehearse
  ci-operator/config/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main__azure-4.17-nightly-x86.yaml
  ci-operator/config/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main__azure-4.18-nightly-x86.yaml
  ci-operator/jobs/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

hetero
  ci-operator/config/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main__azure-4.17-nightly-x86.yaml
  ci-operator/config/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main__azure-4.18-nightly-x86.yaml
  ci-operator/jobs/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main-periodics.yaml
  ci-operator/jobs/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

multi-azure-node120density
  ci-operator/config/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main__azure-4.18-nightly-x86.yaml
  ci-operator/jobs/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main-periodics.yaml
  ci-operator/jobs/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Comment in ingress filen as I was unable to rehearse
  ci-operator/step-registry/openshift-qe/ingress-perf/openshift-qe-ingress-perf-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

irr
  ci-operator/step-registry/openshift-qe/ingress-perf/openshift-qe-ingress-perf-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

bug-repr
  ci-operator/config/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main__azure-4.18-nightly-x86.yaml
  ci-operator/jobs/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main-periodics.yaml
  ci-operator/jobs/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

001
  ci-operator/config/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main__azure-4.17-nightly-x86.yaml
  ci-operator/config/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main__azure-4.18-nightly-x86.yaml
  ci-operator/jobs/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main-presubmits.yaml
  ci-operator/step-registry/openshift-qe/ingress-perf/openshift-qe-ingress-perf-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

no reh
  ci-operator/config/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main__azure-4.17-nightly-x86.yaml
  ci-operator/config/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main__azure-4.18-nightly-x86.yaml
  ci-operator/jobs/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main-presubmits.yaml
  ci-operator/step-registry/openshift-qe/ingress-perf/openshift-qe-ingress-perf-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

fix01
  ci-operator/config/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main__azure-4.18-nightly-x86.yaml
  ci-operator/jobs/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

enable more platforms for a test
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-nightly-4.19-upgrade-from-stable-4.18.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

add a new env to support pre-merge testing (#60499)
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-master__installer-rehearse-4.18.yaml
  ci-operator/jobs/openshift/verification-tests/openshift-verification-tests-master-periodics.yaml
  ci-operator/step-registry/ipi/install/install/aws/ipi-install-install-aws-commands.sh
  ci-operator/step-registry/ipi/install/install/aws/ipi-install-install-aws-ref.yaml
  ci-operator/step-registry/ipi/install/install/in-bastion/ipi-install-install-in-bastion-commands.sh
  ci-operator/step-registry/ipi/install/install/in-bastion/ipi-install-install-in-bastion-ref.yaml
  ci-operator/step-registry/ipi/install/install/ipi-install-install-commands.sh
  ci-operator/step-registry/ipi/install/install/ipi-install-install-ref.yaml
  ci-operator/step-registry/mirror-images/by-oc-adm-in-bastion/mirror-images-by-oc-adm-in-bastion-commands.sh
  ci-operator/step-registry/mirror-images/by-oc-adm-in-bastion/mirror-images-by-oc-adm-in-bastion-ref.yaml
  ci-operator/step-registry/mirror-images/by-oc-adm/mirror-images-by-oc-adm-commands.sh
  ci-operator/step-registry/mirror-images/by-oc-adm/mirror-images-by-oc-adm-ref.yaml
  ci-operator/step-registry/mirror-images/by-oc-mirror/mirror-images-by-oc-mirror-commands.sh
  ci-operator/step-registry/mirror-images/by-oc-mirror/mirror-images-by-oc-mirror-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

opendatahub/vllm: increase timeout for all builds (#60508)
  ci-operator/config/opendatahub-io/vllm/opendatahub-io-vllm-ibm-dev.yaml
  ci-operator/config/opendatahub-io/vllm/opendatahub-io-vllm-main.yaml
  ci-operator/config/opendatahub-io/vllm/opendatahub-io-vllm-release.yaml
  ci-operator/jobs/opendatahub-io/vllm/opendatahub-io-vllm-ibm-dev-postsubmits.yaml
  ci-operator/jobs/opendatahub-io/vllm/opendatahub-io-vllm-main-postsubmits.yaml
  ci-operator/jobs/opendatahub-io/vllm/opendatahub-io-vllm-main-presubmits.yaml
  ci-operator/jobs/opendatahub-io/vllm/opendatahub-io-vllm-release-postsubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Remove gather
  ci-operator/step-registry/cucushift/installer/rehearse/azure/ipi/deprovision/cucushift-installer-rehearse-azure-ipi-deprovision-chain.yaml
  ci-operator/step-registry/gather/gather-chain.yaml
  ci-operator/step-registry/openshift-extended/test/longduration/openshift-extended-test-longduration-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

[do not merge] Debug
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.14__arm64-nightly.yaml
  ci-operator/step-registry/assisted/common/setup/infra/assisted-common-setup-infra-commands.sh
  ci-operator/step-registry/assisted/common/test/assisted-common-test-commands.sh
  ci-operator/step-registry/baremetal/lab/agent/install/baremetal-lab-agent-install-commands.sh
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cucushift-installer-rehearse-azure-workflow.metadata.json
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cucushift-installer-rehearse-azure-workflow.yaml
  ci-operator/step-registry/fips-check/fips-or-die/fips-check-fips-or-die-commands.sh
  ci-operator/step-registry/openshift-extended/test/disruptive/openshift-extended-test-disruptive-commands.sh
  ci-operator/step-registry/openshift-extended/test/longduration/openshift-extended-test-longduration-commands.sh
  ci-operator/step-registry/openshift-extended/test/openshift-extended-test-commands.sh
  ci-operator/step-registry/openshift-extended/upgrade/post/openshift-extended-upgrade-post-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

do not set the vm type of master when default
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-master__installer-rehearse-4.19.yaml
  ci-operator/step-registry/ipi/conf/ibmcloud/ipi-conf-ibmcloud-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Document changes in CSI driver deployment
  clusters/build-clusters/common/csi-secrets-gcp/README.md
  clusters/build-clusters/common/csi-secrets-gcp/csidriver.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Add post check capability into baremetal-lab-ipi workflow (#60467)
  ci-operator/step-registry/baremetal/lab/ipi/baremetal-lab-ipi-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Adding region
  ci-operator/config/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main__azure-4.18-nightly-multi-loaded-upgrade-from-4.17.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Rename credentials volume and edit tolerations
  clusters/build-clusters/common/csi-secrets-gcp/README.md
  clusters/build-clusters/common/csi-secrets-gcp/provider-gcp-plugin.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

debug 4.18
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__amd64-nightly.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-master__installer-rehearse-4.18.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18-periodics.yaml
  ci-operator/jobs/openshift/verification-tests/openshift-verification-tests-master-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

rebase
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.15__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.15-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

update
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__multi-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

update the squid image
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-master__installer-rehearse-4.18.yaml
  ci-operator/jobs/openshift/verification-tests/openshift-verification-tests-master-periodics.yaml
  ci-operator/step-registry/ignition/bastionhost/ignition-bastionhost-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

[o/cert-manager-operator] update pipeline image tags to use v1.15.4
  ci-operator/config/openshift/cert-manager-operator/openshift-cert-manager-operator-cert-manager-1.15.yaml
  ci-operator/config/openshift/cert-manager-operator/openshift-cert-manager-operator-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)
