Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

config-brancher --config-dir ./ci-operator/config --current-release 4.20 --skip-periodics --future-release 4.21 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.21.yaml
  ci-operator/config/openshift/insights-operator/openshift-insights-operator-release-4.21.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Adding app health check (#64344)
  ci-operator/step-registry/redhat-chaos/application-outages/console/redhat-chaos-application-outages-console-commands.sh
  ci-operator/step-registry/redhat-chaos/container-scenarios/etcd-hangup/redhat-chaos-container-scenarios-etcd-hangup-commands.sh
  ci-operator/step-registry/redhat-chaos/hog-scenarios/cpu/redhat-chaos-hog-scenarios-cpu-commands.sh
  ci-operator/step-registry/redhat-chaos/hog-scenarios/io/redhat-chaos-hog-scenarios-io-commands.sh
  ci-operator/step-registry/redhat-chaos/hog-scenarios/memory/redhat-chaos-hog-scenarios-memory-commands.sh
  ci-operator/step-registry/redhat-chaos/network-chaos/redhat-chaos-network-chaos-commands.sh
  ci-operator/step-registry/redhat-chaos/node-disruptions/master-outage/redhat-chaos-node-disruptions-master-outage-commands.sh
  ci-operator/step-registry/redhat-chaos/pod-network-chaos/redhat-chaos-pod-network-chaos-commands.sh
  ci-operator/step-registry/redhat-chaos/pod-scenarios/etcd-disruption/redhat-chaos-pod-scenarios-etcd-disruption-commands.sh
  ci-operator/step-registry/redhat-chaos/power-outage/redhat-chaos-power-outage-commands.sh
  ci-operator/step-registry/redhat-chaos/pvc-scenarios/prometheus-pod/redhat-chaos-pvc-scenarios-prometheus-pod-commands.sh
  ci-operator/step-registry/redhat-chaos/service-disruption/redhat-chaos-service-disruption-commands.sh
  ci-operator/step-registry/redhat-chaos/syn-flood/redhat-chaos-syn-flood-commands.sh
  ci-operator/step-registry/redhat-chaos/time-scenarios/redhat-chaos-time-scenarios-commands.sh
  ci-operator/step-registry/redhat-chaos/zone-outage/redhat-chaos-zone-outage-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

increasing to 13 nodes (#62107)
  ci-operator/config/redhat-chaos/prow-scripts/.config.prowgen
  ci-operator/config/redhat-chaos/prow-scripts/redhat-chaos-prow-scripts-main__4.15-nightly.yaml
  ci-operator/config/redhat-chaos/prow-scripts/redhat-chaos-prow-scripts-main__4.16-nightly-upgrade.yaml
  ci-operator/config/redhat-chaos/prow-scripts/redhat-chaos-prow-scripts-main__4.16-nightly.yaml
  ci-operator/config/redhat-chaos/prow-scripts/redhat-chaos-prow-scripts-main__4.17-nightly.yaml
  ci-operator/config/redhat-chaos/prow-scripts/redhat-chaos-prow-scripts-main__4.18-nightly.yaml
  ci-operator/config/redhat-chaos/prow-scripts/redhat-chaos-prow-scripts-main__4.19-nightly.yaml
  ci-operator/config/redhat-chaos/prow-scripts/redhat-chaos-prow-scripts-main__rosa-4.15-nightly.yaml
  ci-operator/config/redhat-chaos/prow-scripts/redhat-chaos-prow-scripts-main__rosa-4.17-nightly.yaml
  ci-operator/config/redhat-chaos/prow-scripts/redhat-chaos-prow-scripts-main__rosa-4.18-nightly.yaml
  ci-operator/config/redhat-chaos/prow-scripts/redhat-chaos-prow-scripts-main__rosa-4.19-nightly.yaml
  ci-operator/jobs/redhat-chaos/prow-scripts/redhat-chaos-prow-scripts-main-periodics.yaml
  ci-operator/jobs/redhat-chaos/prow-scripts/redhat-chaos-prow-scripts-main-presubmits.yaml
  ci-operator/step-registry/redhat-chaos/cerberus/redhat-chaos-cerberus-commands.sh
  ci-operator/step-registry/redhat-chaos/hog-scenarios/cpu/redhat-chaos-hog-scenarios-cpu-ref.yaml
  ci-operator/step-registry/redhat-chaos/hog-scenarios/memory/redhat-chaos-hog-scenarios-memory-ref.yaml
  ci-operator/step-registry/redhat-chaos/krkn-hub-node-tests/redhat-chaos-krkn-hub-node-tests-chain.yaml
  ci-operator/step-registry/redhat-chaos/krkn-hub-tests/redhat-chaos-krkn-hub-tests-chain.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add konflux bot as trusted app (#67183)
  core-services/prow/02_config/stolostron/cluster-curator-controller/_pluginconfig.yaml
  core-services/prow/02_config/stolostron/cluster-image-set-controller/_pluginconfig.yaml
  core-services/prow/02_config/stolostron/cluster-permission/_pluginconfig.yaml
  core-services/prow/02_config/stolostron/provider-credential-controller/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Build root from repository bond-cni 4.16 (#67391)
  ci-operator/config/openshift/bond-cni/openshift-bond-cni-release-4.16.yaml
  ci-operator/jobs/openshift/bond-cni/openshift-bond-cni-release-4.16-postsubmits.yaml
  ci-operator/jobs/openshift/bond-cni/openshift-bond-cni-release-4.16-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

stackrox: perfscale nightly (#67406)
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-nightlies__ocp-4-19.yaml
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-nightlies-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/stackrox-stackrox-stackrox-stackrox-check

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/bond-cni/openshift-priv-bond-cni-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-master.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.19.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.21.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.8.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.9.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-master.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.19.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.21.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.9.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-master.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.19.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.20.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.21.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.7.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.16.44-x86-64-for-4.16.0-0-to-4.17.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

sanitize-prow-jobs --prow-jobs-dir ./ci-operator/jobs --config-path ./core-services/sanitize-prow-jobs/_config.yaml
  ci-operator/jobs/openshift-priv/bond-cni/openshift-priv-bond-cni-release-4.16-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

ci-operator-prowgen --from-dir ./ci-operator/config --to-dir ./ci-operator/jobs
  ci-operator/jobs/openshift-priv/bond-cni/openshift-priv-bond-cni-release-4.16-postsubmits.yaml
  ci-operator/jobs/openshift-priv/bond-cni/openshift-priv-bond-cni-release-4.16-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.15.55-x86-64-for-4.15.0-0-to-4.16.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.17.36-x86-64-for-4.17.0-0-to-4.18.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.18.20-x86-64-for-4.18.0-0-to-4.19.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.19.5-x86-64-for-4.19.0-0-to-4.20.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Adding CPU/Memory profiles for node-density (#67407)
  ci-operator/step-registry/openshift-qe/node-density/openshift-qe-node-density-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-master.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.19.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.21.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.8.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.9.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-master.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.19.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.21.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.9.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-master.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.19.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.20.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.21.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.7.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Use rosa aws cli latest tag (#67058)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__amd64-nightly.yaml
  ci-operator/step-registry/rosa/cluster/provision/rosa-cluster-provision-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Enhance the check-user-provisioned-dns-command (#67387)
  ci-operator/step-registry/cucushift/installer/check/user-provisioned-dns/cucushift-installer-check-user-provisioned-dns-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

hypershift: add prow-job-id annotation to mgmt HostedCluster (#67413)
  ci-operator/step-registry/hypershift/setup-nested-management-cluster/hypershift-setup-nested-management-cluster-chain.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Refine test frequency for 4.18 (#67425)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__amd64-nightly-4.18-upgrade-from-stable-4.17.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__amd64-nightly-openshift-logging-6.1.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__amd64-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__arm64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__arm64-stable-openshift-logging-6.3.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__multi-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__multi-stable-openshift-logging-6.2.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__multi-stable-openshift-logging-6.3.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__ppc64le-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add allow_skip_on_success to stable jobs (#67427)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.12__amd64-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.13__amd64-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.13__arm64-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.14__amd64-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.14__arm64-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.14__multi-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.15__amd64-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.15__arm64-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.15__multi-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16__amd64-rollback-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16__amd64-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16__arm64-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16__multi-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.17__amd64-rollback-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.17__amd64-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.17__arm64-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.17__multi-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__amd64-rollback-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__amd64-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__arm64-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__multi-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-rollback-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__arm64-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__multi-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__amd64-rollback-stable.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Sync OWNERS files by autoowners job at Thu, 24 Jul 2025 07:43:07 UTC (#67435)
  ci-operator/config/openshift/cloud-network-config-controller/OWNERS
  ci-operator/config/openshift/cluster-etcd-operator/OWNERS
  ci-operator/config/openshift/deadmanssnitch-operator/OWNERS
  ci-operator/jobs/openshift-assisted/assisted-service-mcp/OWNERS
  ci-operator/jobs/openshift/cloud-network-config-controller/OWNERS
  ci-operator/jobs/openshift/cluster-etcd-operator/OWNERS
  ci-operator/jobs/openshift/deadmanssnitch-operator/OWNERS
  ci-operator/jobs/rh-ecosystem-edge/assisted-chat/OWNERS
  core-services/prow/02_config/openshift-assisted/assisted-service-mcp/OWNERS
  core-services/prow/02_config/openshift/cloud-network-config-controller/OWNERS
  core-services/prow/02_config/openshift/cluster-etcd-operator/OWNERS
  core-services/prow/02_config/openshift/deadmanssnitch-operator/OWNERS
  core-services/prow/02_config/rh-ecosystem-edge/assisted-chat/OWNERS
  core-services/prow/02_config/stolostron/cluster-image-set-controller/OWNERS
  core-services/prow/02_config/stolostron/cluster-permission/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

ironic-agent-image presubmit timeout 5h30 (#67403)
  ci-operator/config/openshift/ironic-agent-image/openshift-ironic-agent-image-main__prevalidation.yaml
  ci-operator/jobs/openshift/ironic-agent-image/openshift-ironic-agent-image-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

[operator-framework] - Add e2e call for OTE as it is done by ocp/origin (#67301)
  ci-operator/config/openshift/operator-framework-operator-controller/openshift-operator-framework-operator-controller-main.yaml
  ci-operator/config/openshift/operator-framework-operator-controller/openshift-operator-framework-operator-controller-release-4.20.yaml
  ci-operator/config/openshift/operator-framework-operator-controller/openshift-operator-framework-operator-controller-release-4.21.yaml
  ci-operator/jobs/openshift/operator-framework-operator-controller/openshift-operator-framework-operator-controller-main-presubmits.yaml
  ci-operator/jobs/openshift/operator-framework-operator-controller/openshift-operator-framework-operator-controller-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/operator-framework-operator-controller/openshift-operator-framework-operator-controller-release-4.21-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

[ODF] Enable backports for z-streams (#67431)
  core-services/jira-lifecycle-plugin/config.yaml
Due: ci/prow/jira-lifecycle-config

cert-rotation: fix 8 hours test invocation (#67390)
  ci-operator/step-registry/openshift/e2e/cert-rotation/test/openshift-e2e-cert-rotation-test-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix osus-e2e (#67419)
  ci-operator/config/openshift/cincinnati/openshift-cincinnati-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.15.55-x86-64-for-4.15.0-0-to-4.16.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

sanitize-prow-jobs --prow-jobs-dir ./ci-operator/jobs --config-path ./core-services/sanitize-prow-jobs/_config.yaml
  ci-operator/jobs/openshift-priv/operator-framework-operator-controller/openshift-priv-operator-framework-operator-controller-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/operator-framework-operator-controller/openshift-priv-operator-framework-operator-controller-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/operator-framework-operator-controller/openshift-priv-operator-framework-operator-controller-release-4.21-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

oadp: update owners file (#67402)
  ci-operator/config/oadp-qe/oadp-qe-automation/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

allow ci-operator to get and list metrics from nodes (#67440)
  clusters/build-clusters/common/ci-operator/admin_ci-operator_rbac.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

ci-operator-prowgen --from-dir ./ci-operator/config --to-dir ./ci-operator/jobs
  ci-operator/jobs/openshift-priv/ironic-agent-image/openshift-priv-ironic-agent-image-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/operator-framework-operator-controller/openshift-priv-operator-framework-operator-controller-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/operator-framework-operator-controller/openshift-priv-operator-framework-operator-controller-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/operator-framework-operator-controller/openshift-priv-operator-framework-operator-controller-release-4.21-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

remove mockgen installation (#67441)
  ci-operator/config/openshift-eng/ofcir/openshift-eng-ofcir-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Update the Orion tag (#67415)
  ci-operator/step-registry/openshift-qe/orion/cluster-density/openshift-qe-orion-cluster-density-ref.yaml
  ci-operator/step-registry/openshift-qe/orion/crd-scale/openshift-qe-orion-crd-scale-ref.yaml
  ci-operator/step-registry/openshift-qe/orion/node-density-cni/openshift-qe-orion-node-density-cni-ref.yaml
  ci-operator/step-registry/openshift-qe/orion/node-density/openshift-qe-orion-node-density-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

oadp: change filename to indicate it is no-interop (#67438)
  ci-operator/config/oadp-qe/oadp-qe-automation/oadp-qe-oadp-qe-automation-main__oadp1.5-ocp4.19-testing.yaml
  ci-operator/jobs/oadp-qe/oadp-qe-automation/oadp-qe-oadp-qe-automation-main-periodics.yaml
  ci-operator/jobs/oadp-qe/oadp-qe-automation/oadp-qe-oadp-qe-automation-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Group cucushift upgrade tests (#67324)
  ci-operator/step-registry/cucushift/upgrade/check/cucushift-upgrade-check-commands.sh
  ci-operator/step-registry/cucushift/upgrade/prepare/cucushift-upgrade-prepare-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck
