Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

preserve concurrency
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-master-postsubmits.yaml
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-nightlies-postsubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics, ci/prow/stackrox-stackrox-stackrox-stackrox-check

MGMT-19450: Tidy-up assisted/OCI jobs (#62007)
  ci-operator/config/openshift/assisted-service/openshift-assisted-service-master__edge.yaml
  ci-operator/config/openshift/assisted-test-infra/openshift-assisted-test-infra-master.yaml
  ci-operator/jobs/openshift/assisted-service/openshift-assisted-service-master-presubmits.yaml
  ci-operator/jobs/openshift/assisted-test-infra/openshift-assisted-test-infra-master-periodics.yaml
  ci-operator/jobs/openshift/assisted-test-infra/openshift-assisted-test-infra-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Modify clo bundle substitutions (#62022)
  ci-operator/config/openshift/cluster-logging-operator/openshift-cluster-logging-operator-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Open gangway access for anyone authenticated on app.ci (#62025)
  clusters/app.ci/prow/03_deployment/gangway.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

makeupdate
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-master-postsubmits.yaml
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-master-presubmits.yaml
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-nightlies-periodics.yaml
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-nightlies-postsubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics, ci/prow/stackrox-stackrox-stackrox-stackrox-check

Turn off aggregation for 4.18 at GA
  core-services/release-controller/_releases/priv/release-ocp-4.18.json
  core-services/release-controller/_releases/release-ocp-4.18-ci.json
  core-services/release-controller/_releases/release-ocp-4.18.json
Due: ci/prow/ci-testgrid-allow-list, ci/prow/release-config

config-brancher --config-dir ./ci-operator/config --current-release 4.19 --skip-periodics --future-release 4.20 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.19.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.20.yaml
  ci-operator/config/openshift/monitoring-plugin/openshift-monitoring-plugin-release-4.20.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-master.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.19.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.8.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.9.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-master.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.19.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.9.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.7.yaml
  ci-operator/config/openshift-priv/monitoring-plugin/openshift-priv-monitoring-plugin-main.yaml
  ci-operator/config/openshift-priv/monitoring-plugin/openshift-priv-monitoring-plugin-release-4.19.yaml
  ci-operator/config/openshift-priv/monitoring-plugin/openshift-priv-monitoring-plugin-release-4.20.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.17.18-x86-64-for-4.17.0-0-to-4.18.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.18.1-x86-64-for-4.18.0-0-to-4.19.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/rh-openshift-ecosystem/rhoe-ocp-4-16-amd64-aws-us-east-1_clusterpool.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Add new konveyor/builder:ubi9-v1.22.8 image
  core-services/image-mirroring/_config.yaml
Due: ci/prow/image-mirroring-config-validation

OCPBUGS-49305: rename 'master' to 'main' for ironic-static-ip-manager (#60967)
  ci-operator/config/openshift-priv/ironic-static-ip-manager/openshift-priv-ironic-static-ip-manager-main.yaml
  ci-operator/config/openshift/ironic-static-ip-manager/openshift-ironic-static-ip-manager-main.yaml
  ci-operator/config/openshift/ironic-static-ip-manager/openshift-ironic-static-ip-manager-main__okd-scos.yaml
  ci-operator/jobs/openshift-priv/ironic-static-ip-manager/openshift-priv-ironic-static-ip-manager-main-postsubmits.yaml
  ci-operator/jobs/openshift-priv/ironic-static-ip-manager/openshift-priv-ironic-static-ip-manager-main-presubmits.yaml
  ci-operator/jobs/openshift/ironic-static-ip-manager/openshift-ironic-static-ip-manager-main-postsubmits.yaml
  ci-operator/jobs/openshift/ironic-static-ip-manager/openshift-ironic-static-ip-manager-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

OCPBUGS-49945: rename 'master' to 'main' for cloud-provider-vsphere (#61348)
  ci-operator/config/openshift-priv/cloud-provider-vsphere/openshift-priv-cloud-provider-vsphere-main.yaml
  ci-operator/config/openshift/cloud-provider-vsphere/openshift-cloud-provider-vsphere-main.yaml
  ci-operator/config/openshift/cloud-provider-vsphere/openshift-cloud-provider-vsphere-main__okd-scos.yaml
  ci-operator/jobs/openshift-priv/cloud-provider-vsphere/openshift-priv-cloud-provider-vsphere-main-postsubmits.yaml
  ci-operator/jobs/openshift-priv/cloud-provider-vsphere/openshift-priv-cloud-provider-vsphere-main-presubmits.yaml
  ci-operator/jobs/openshift/cloud-provider-vsphere/openshift-cloud-provider-vsphere-main-postsubmits.yaml
  ci-operator/jobs/openshift/cloud-provider-vsphere/openshift-cloud-provider-vsphere-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Ignite if not defined
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/site-config/deploy/telcov10n-metal-single-node-spoke-site-config-deploy-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

[WIP] ZTP Left shifting for the Telco QE KPI testing
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-ztp-left-shifting-kpi__ci-4.17.yaml
  ci-operator/jobs/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-ztp-left-shifting-kpi-periodics.yaml
  ci-operator/step-registry/telcov10n/metal-single-node-hub-ztp/verify-hub/telcov10n-metal-single-node-hub-ztp-verify-hub-commands.sh
  ci-operator/step-registry/telcov10n/virtualised-single-node-hub-ztp/OWNERS
  ci-operator/step-registry/telcov10n/virtualised-single-node-hub-ztp/deploy-hub/OWNERS
  ci-operator/step-registry/telcov10n/virtualised-single-node-hub-ztp/deploy-hub/telcov10n-virtualised-single-node-hub-ztp-deploy-hub-commands.sh
  ci-operator/step-registry/telcov10n/virtualised-single-node-hub-ztp/deploy-hub/telcov10n-virtualised-single-node-hub-ztp-deploy-hub-ref.metadata.json
  ci-operator/step-registry/telcov10n/virtualised-single-node-hub-ztp/deploy-hub/telcov10n-virtualised-single-node-hub-ztp-deploy-hub-ref.yaml
  ci-operator/step-registry/telcov10n/virtualised-single-node-hub-ztp/telcov10n-virtualised-single-node-hub-ztp-workflow.metadata.json
  ci-operator/step-registry/telcov10n/virtualised-single-node-hub-ztp/telcov10n-virtualised-single-node-hub-ztp-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Improve troubleshooting info
  ci-operator/step-registry/telcov10n/virtualised-single-node-hub-ztp/deploy-hub/telcov10n-virtualised-single-node-hub-ztp-deploy-hub-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Adjust some values
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-ztp-left-shifting-kpi__ci-4.17.yaml
  ci-operator/step-registry/telcov10n/virtualised-single-node-hub-ztp/deploy-hub/telcov10n-virtualised-single-node-hub-ztp-deploy-hub-commands.sh
  ci-operator/step-registry/telcov10n/virtualised-single-node-hub-ztp/deploy-hub/telcov10n-virtualised-single-node-hub-ztp-deploy-hub-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Use vault to set parameters
  ci-operator/step-registry/telcov10n/virtualised-single-node-hub-ztp/deploy-hub/telcov10n-virtualised-single-node-hub-ztp-deploy-hub-commands.sh
  ci-operator/step-registry/telcov10n/virtualised-single-node-hub-ztp/deploy-hub/telcov10n-virtualised-single-node-hub-ztp-deploy-hub-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Adapt legacy Prow steps that deploy the Spokes to use this new Hub
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__nightly-4.18-ztp-kpis.yaml
  ci-operator/jobs/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main-periodics.yaml
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/site-config/deploy/telcov10n-metal-single-node-spoke-site-config-deploy-commands.sh
  ci-operator/step-registry/telcov10n/single-node-spoke-kpis/OWNERS
  ci-operator/step-registry/telcov10n/single-node-spoke-kpis/hacks/OWNERS
  ci-operator/step-registry/telcov10n/single-node-spoke-kpis/hacks/telcov10n-single-node-spoke-kpis-hacks-commands.sh
  ci-operator/step-registry/telcov10n/single-node-spoke-kpis/hacks/telcov10n-single-node-spoke-kpis-hacks-ref.metadata.json
  ci-operator/step-registry/telcov10n/single-node-spoke-kpis/hacks/telcov10n-single-node-spoke-kpis-hacks-ref.yaml
  ci-operator/step-registry/telcov10n/single-node-spoke-kpis/telcov10n-single-node-spoke-kpis-workflow.metadata.json
  ci-operator/step-registry/telcov10n/single-node-spoke-kpis/telcov10n-single-node-spoke-kpis-workflow.yaml
  ci-operator/step-registry/telcov10n/single-node-spoke-kpis/tests/OWNERS
  ci-operator/step-registry/telcov10n/single-node-spoke-kpis/tests/telcov10n-single-node-spoke-kpis-tests-commands.sh
  ci-operator/step-registry/telcov10n/single-node-spoke-kpis/tests/telcov10n-single-node-spoke-kpis-tests-ref.metadata.json
  ci-operator/step-registry/telcov10n/single-node-spoke-kpis/tests/telcov10n-single-node-spoke-kpis-tests-ref.yaml
  ci-operator/step-registry/telcov10n/virtualised-single-node-hub-ztp/deploy-hub/telcov10n-virtualised-single-node-hub-ztp-deploy-hub-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Using parameterized VM resource values
  ci-operator/step-registry/telcov10n/virtualised-single-node-hub-ztp/deploy-hub/telcov10n-virtualised-single-node-hub-ztp-deploy-hub-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Updates after rebase
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-ztp-left-shifting-kpi__ci-4.17.yaml
  ci-operator/jobs/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main-periodics.yaml
  ci-operator/step-registry/telcov10n/single-node-spoke-kpis/telcov10n-single-node-spoke-kpis-workflow.yaml
  ci-operator/step-registry/telcov10n/sno-spoke/tests/telcov10n-sno-spoke-tests-commands.sh
  ci-operator/step-registry/telcov10n/virtualised-single-node-hub-ztp/telcov10n-virtualised-single-node-hub-ztp-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Adding missing values
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__nightly-4.18-ztp-kpis.yaml
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/site-config/deploy/telcov10n-metal-single-node-spoke-site-config-deploy-commands.sh
  ci-operator/step-registry/telcov10n/single-node-spoke-kpis/hacks/telcov10n-single-node-spoke-kpis-hacks-commands.sh
  ci-operator/step-registry/telcov10n/virtualised-single-node-hub-ztp/deploy-hub/telcov10n-virtualised-single-node-hub-ztp-deploy-hub-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Improve LVM operator detection condition
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/site-config/deploy/telcov10n-metal-single-node-spoke-site-config-deploy-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update credentials path
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/site-config/deploy/telcov10n-metal-single-node-spoke-site-config-deploy-commands.sh
  ci-operator/step-registry/telcov10n/single-node-spoke-kpis/hacks/telcov10n-single-node-spoke-kpis-hacks-commands.sh
  ci-operator/step-registry/telcov10n/single-node-spoke-kpis/hacks/telcov10n-single-node-spoke-kpis-hacks-ref.yaml
  ci-operator/step-registry/telcov10n/virtualised-single-node-hub-ztp/deploy-hub/telcov10n-virtualised-single-node-hub-ztp-deploy-hub-commands.sh
  ci-operator/step-registry/telcov10n/virtualised-single-node-hub-ztp/deploy-hub/telcov10n-virtualised-single-node-hub-ztp-deploy-hub-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Use SOCKS5 proxy
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__nightly-4.18-ztp-kpis.yaml
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/cluster/install/telcov10n-metal-single-node-spoke-cluster-install-commands.sh
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/cluster/install/telcov10n-metal-single-node-spoke-cluster-install-ref.yaml
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/gitea/deploy/telcov10n-metal-single-node-spoke-gitea-deploy-commands.sh
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/gitea/deploy/telcov10n-metal-single-node-spoke-gitea-deploy-ref.yaml
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/gitea/verify/telcov10n-metal-single-node-spoke-gitea-verify-commands.sh
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/gitea/verify/telcov10n-metal-single-node-spoke-gitea-verify-ref.yaml
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/tests/telcov10n-metal-single-node-spoke-tests-ref.yaml
  ci-operator/step-registry/telcov10n/single-node-spoke-kpis/tests/telcov10n-single-node-spoke-kpis-tests-ref.yaml
  ci-operator/step-registry/telcov10n/sno-spoke/tests/telcov10n-sno-spoke-tests-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Generate and store the Spoke cluster name that match expected DNS value
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/cluster/clean-up/telcov10n-metal-single-node-spoke-cluster-clean-up-commands.sh
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/cluster/install/telcov10n-metal-single-node-spoke-cluster-install-commands.sh
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/cluster/verify/telcov10n-metal-single-node-spoke-cluster-verify-commands.sh
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/site-config/clean-up/telcov10n-metal-single-node-spoke-site-config-clean-up-commands.sh
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/tests/telcov10n-metal-single-node-spoke-tests-commands.sh
  ci-operator/step-registry/telcov10n/single-node-spoke-kpis/hacks/telcov10n-single-node-spoke-kpis-hacks-commands.sh
  ci-operator/step-registry/telcov10n/single-node-spoke-kpis/tests/telcov10n-single-node-spoke-kpis-tests-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Disable dual stack deployment
  ci-operator/step-registry/telcov10n/virtualised-single-node-hub-ztp/deploy-hub/telcov10n-virtualised-single-node-hub-ztp-deploy-hub-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Improve Networking settings
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__nightly-4.18-ztp-kpis.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-ztp-left-shifting-kpi__ci-4.17.yaml
  ci-operator/step-registry/telcov10n/virtualised-single-node-hub-ztp/deploy-hub/telcov10n-virtualised-single-node-hub-ztp-deploy-hub-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Improve stabilization conditions before run testing
  ci-operator/step-registry/telcov10n/metal-single-node-hub-ztp/verify-hub/telcov10n-metal-single-node-hub-ztp-verify-hub-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Allow the use of the shared ssh keys from vault
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/gitea/deploy/telcov10n-metal-single-node-spoke-gitea-deploy-commands.sh
  ci-operator/step-registry/telcov10n/single-node-spoke-kpis/hacks/telcov10n-single-node-spoke-kpis-hacks-commands.sh
  ci-operator/step-registry/telcov10n/single-node-spoke-kpis/hacks/telcov10n-single-node-spoke-kpis-hacks-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Added PGT generation
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__nightly-4.18-ztp-kpis.yaml
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/deploy/telcov10n-metal-single-node-spoke-deploy-chain.yaml
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/clean-up/telcov10n-metal-single-node-spoke-policies-clean-up-commands.sh
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/clean-up/telcov10n-metal-single-node-spoke-policies-clean-up-ref.metadata.json
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/deploy/telcov10n-metal-single-node-spoke-policies-deploy-commands.sh
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/deploy/telcov10n-metal-single-node-spoke-policies-deploy-ref.metadata.json
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/deploy/telcov10n-metal-single-node-spoke-policies-deploy-ref.yaml
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/verify/telcov10n-metal-single-node-spoke-policies-verify-commands.sh
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/verify/telcov10n-metal-single-node-spoke-policies-verify-ref.metadata.json
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/site-config/verify/telcov10n-metal-single-node-spoke-site-config-verify-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Added NodePort k8s service to get access to the Gitea repo
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/gitea/deploy/telcov10n-metal-single-node-spoke-gitea-deploy-commands.sh
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/OWNERS
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/clean-up/OWNERS
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/clean-up/telcov10n-metal-single-node-spoke-policies-clean-up-commands.sh
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/clean-up/telcov10n-metal-single-node-spoke-policies-clean-up-ref.yaml
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/deploy/OWNERS
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/deploy/telcov10n-metal-single-node-spoke-policies-deploy-commands.sh
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/deploy/telcov10n-metal-single-node-spoke-policies-deploy-ref.yaml
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/verify/OWNERS
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/verify/telcov10n-metal-single-node-spoke-policies-verify-commands.sh
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/verify/telcov10n-metal-single-node-spoke-policies-verify-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add proxy support for Spokes
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/cluster/install/telcov10n-metal-single-node-spoke-cluster-install-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck
