Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, branch-ci-openshift-release-master-label-sync, ci/prow/check-gh-automation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/arm01-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hive-dry, ci/prow/jira-lifecycle-config, ci/build-farm/multi01-dry, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/prow/supplemental-ci-images-mapping-files, ci/build-farm/vsphere-dry, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/build-farm/arm01-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hive-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/build-farm/multi01-dry: any of: ^clusters/.*
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/prow/supplemental-ci-images-mapping-files: any of: ^(core-services/image-mirroring/supplemental-ci-images/mapping_supplemental_ci_images_.*)
  ci/build-farm/vsphere-dry: any of: ^clusters/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

Add back job/pull-ci-openshift-release-master-build-clusters (#45866)
  ci-operator/jobs/openshift/release/openshift-release-master-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Added slack channel
  ci-operator/jobs/amq-streams-qe/strimzi-kafka-operator/amq-streams-qe-strimzi-kafka-operator-main-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Onboard jboss EAP Interop testing scenario
  ci-operator/config/jboss-eap-qe/openshift-eap-tests/.config.prowgen
  ci-operator/config/jboss-eap-qe/openshift-eap-tests/OWNERS
  ci-operator/config/jboss-eap-qe/openshift-eap-tests/jboss-eap-qe-openshift-eap-tests-7.4.x__eap-ocp4.15-lp-interop.yaml
  ci-operator/jobs/jboss-eap-qe/openshift-eap-tests/OWNERS
  ci-operator/jobs/jboss-eap-qe/openshift-eap-tests/jboss-eap-qe-openshift-eap-tests-7.4.x-periodics.yaml
  ci-operator/jobs/jboss-eap-qe/openshift-eap-tests/jboss-eap-qe-openshift-eap-tests-7.4.x-presubmits.yaml
  ci-operator/step-registry/eap/OWNERS
  ci-operator/step-registry/eap/deploy-resources/eap-deploy-resources-commands.sh
  ci-operator/step-registry/eap/deploy-resources/eap-deploy-resources-ref.metadata.json
  ci-operator/step-registry/eap/deploy-resources/eap-deploy-resources-ref.yaml
  ci-operator/step-registry/eap/execute-tests/OWNERS
  ci-operator/step-registry/eap/execute-tests/eap-execute-tests-commands.sh
  ci-operator/step-registry/eap/execute-tests/eap-execute-tests-ref.metadata.json
  ci-operator/step-registry/eap/execute-tests/eap-execute-tests-ref.yaml
  core-services/prow/02_config/jboss-eap-qe/openshift-eap-tests/_pluginconfig.yaml
  core-services/prow/02_config/jboss-eap-qe/openshift-eap-tests/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

fix cluster config
  ci-operator/config/CSPI-QE/MSI/CSPI-QE-MSI-rhoai-addon-interop__v4.14-GA-production.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

test: test for backup expressions
  ci-operator/step-registry/osd-ccs/fleet-manager/test/osd-ccs-fleet-manager-test-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

config-brancher --config-dir ./ci-operator/config --current-release 4.15 --skip-periodics --future-release 4.16 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.15.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.16.yaml
  ci-operator/config/openshift/microshift/openshift-microshift-release-4.15.yaml
  ci-operator/config/openshift/microshift/openshift-microshift-release-4.16.yaml
  ci-operator/config/openshift/okd-machine-os/openshift-okd-machine-os-release-4.15.yaml
  ci-operator/config/openshift/okd-machine-os/openshift-okd-machine-os-release-4.16.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-master.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.8.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.9.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-master.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.9.yaml
  ci-operator/config/openshift-priv/kubernetes/openshift-priv-kubernetes-master.yaml
  ci-operator/config/openshift-priv/microshift/openshift-priv-microshift-main.yaml
  ci-operator/config/openshift-priv/microshift/openshift-priv-microshift-release-4.15.yaml
  ci-operator/config/openshift-priv/microshift/openshift-priv-microshift-release-4.16.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-operator-prowgen --from-dir ./ci-operator/config --to-dir ./ci-operator/jobs
  ci-operator/jobs/openshift-priv/microshift/openshift-priv-microshift-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/microshift/openshift-priv-microshift-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift-priv/microshift/openshift-priv-microshift-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-4.16-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

add wrokflow: hypershift-mce-agent-dualstack
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.14__periodics.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.14-periodics.yaml
  ci-operator/step-registry/hypershift/agent/create/config-dns/hypershift-agent-create-config-dns-commands.sh
  ci-operator/step-registry/hypershift/agent/create/config-dns/hypershift-agent-create-config-dns-ref.yaml
  ci-operator/step-registry/hypershift/conformance/hypershift-conformance-chain.yaml
  ci-operator/step-registry/hypershift/mce/agent/disconnected/create/hostedcluster/hypershift-mce-agent-disconnected-create-hostedcluster-commands.sh
  ci-operator/step-registry/hypershift/mce/agent/disconnected/dualstack/OWNERS
  ci-operator/step-registry/hypershift/mce/agent/disconnected/dualstack/conformance/OWNERS
  ci-operator/step-registry/hypershift/mce/agent/disconnected/dualstack/conformance/hypershift-mce-agent-disconnected-dualstack-conformance-workflow.metadata.json
  ci-operator/step-registry/hypershift/mce/agent/disconnected/dualstack/conformance/hypershift-mce-agent-disconnected-dualstack-conformance-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

HyperShift: dualstack connected
  ci-operator/step-registry/hypershift/mce/agent/disconnected/dualstack/conformance/hypershift-mce-agent-disconnected-dualstack-conformance-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

HyperShift: dualstack debug
  ci-operator/step-registry/hypershift/mce/agent/disconnected/create/hostedcluster/hypershift-mce-agent-disconnected-create-hostedcluster-commands.sh
  ci-operator/step-registry/hypershift/mce/agent/disconnected/dualstack/conformance/hypershift-mce-agent-disconnected-dualstack-conformance-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

USHIFT-1777: Add test-rpm image and job for main (#44662)
  ci-operator/config/openshift/microshift/openshift-microshift-main.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-main-postsubmits.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Remove post step for CodeFlare and DW pipelines (#45846)
  ci-operator/config/opendatahub-io/codeflare-operator/opendatahub-io-codeflare-operator-main.yaml
  ci-operator/config/opendatahub-io/distributed-workloads/opendatahub-io-distributed-workloads-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

removing python image
  core-services/image-mirroring/supplemental-ci-images/mapping_supplemental_ci_images_ocp
Due: ci/prow/supplemental-ci-images-mapping-files

Update Jaeger version to 1.51.0 in CI jobs. (#45835)
  ci-operator/config/jaegertracing/jaeger-operator/jaegertracing-jaeger-operator-main.yaml
  ci-operator/config/jaegertracing/jaeger-operator/jaegertracing-jaeger-operator-main__ocp-4.13-hypershift.yaml
  ci-operator/config/jaegertracing/jaeger-operator/jaegertracing-jaeger-operator-main__ocp-4.14-amd64.yaml
  ci-operator/config/openshift/grafana-tempo-operator/openshift-grafana-tempo-operator-main.yaml
  ci-operator/config/openshift/grafana-tempo-operator/openshift-grafana-tempo-operator-main__ocp4.13-amd64-upgrade.yaml
  ci-operator/config/openshift/grafana-tempo-operator/openshift-grafana-tempo-operator-main__ocp4.13-hypershift.yaml
  ci-operator/config/openshift/grafana-tempo-operator/openshift-grafana-tempo-operator-main__ocp4.14-amd64.yaml
  ci-operator/config/openshift/open-telemetry-opentelemetry-operator/openshift-open-telemetry-opentelemetry-operator-main.yaml
  ci-operator/config/openshift/open-telemetry-opentelemetry-operator/openshift-open-telemetry-opentelemetry-operator-main__ocp-4.13-amd64-upgrade.yaml
  ci-operator/config/openshift/open-telemetry-opentelemetry-operator/openshift-open-telemetry-opentelemetry-operator-main__ocp-4.13-hypershift.yaml
  ci-operator/config/openshift/open-telemetry-opentelemetry-operator/openshift-open-telemetry-opentelemetry-operator-main__ocp-4.14-amd64.yaml
  ci-operator/step-registry/distributed-tracing/tests/jaeger/distributed-tracing-tests-jaeger-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

KMM: install Python packages before running Snyk
  ci-operator/config/rh-ecosystem-edge/kernel-module-management/rh-ecosystem-edge-kernel-module-management-main.yaml
  ci-operator/config/rh-ecosystem-edge/kernel-module-management/rh-ecosystem-edge-kernel-module-management-release-2.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add new oran-o2ims component to openshift-kni (#45726)
  ci-operator/config/openshift-kni/oran-o2ims/OWNERS
  ci-operator/config/openshift-kni/oran-o2ims/openshift-kni-oran-o2ims-main.yaml
  ci-operator/jobs/openshift-kni/oran-o2ims/OWNERS
  ci-operator/jobs/openshift-kni/oran-o2ims/openshift-kni-oran-o2ims-main-postsubmits.yaml
  ci-operator/jobs/openshift-kni/oran-o2ims/openshift-kni-oran-o2ims-main-presubmits.yaml
  core-services/image-mirroring/openshift-kni/mapping_openshift-kni_quay
  core-services/prow/02_config/openshift-kni/oran-o2ims/_pluginconfig.yaml
  core-services/prow/02_config/openshift-kni/oran-o2ims/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

new structure
  ci-operator/step-registry/stackrox/stackrox/OWNERS
  ci-operator/step-registry/stackrox/stackrox/e2e/OWNERS
  ci-operator/step-registry/stackrox/stackrox/e2e/stackrox-stackrox-e2e-commands.sh
  ci-operator/step-registry/stackrox/stackrox/e2e/stackrox-stackrox-e2e-ref.metadata.json
  ci-operator/step-registry/stackrox/stackrox/e2e/stackrox-stackrox-e2e-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

anticipate sharing
  ci-operator/step-registry/stackrox/automation-flavors/aks-e2e/stackrox-automation-flavors-aks-e2e-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

workflow
  ci-operator/step-registry/stackrox/stackrox/e2e-job/stackrox-stackrox-e2e-job-workflow.metadata.json
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

fix
  ci-operator/step-registry/stackrox/stackrox/e2e-job/stackrox-stackrox-e2e-job-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

shorten names and fix debug
  ci-operator/step-registry/stackrox/stackrox/begin/stackrox-stackrox-begin-commands.sh
  ci-operator/step-registry/stackrox/stackrox/begin/stackrox-stackrox-begin-ref.yaml
  ci-operator/step-registry/stackrox/stackrox/e2e-test/stackrox-stackrox-e2e-test-ref.yaml
  ci-operator/step-registry/stackrox/stackrox/end/stackrox-stackrox-end-commands.sh
  ci-operator/step-registry/stackrox/stackrox/end/stackrox-stackrox-end-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

begin
  ci-operator/step-registry/stackrox/stackrox/begin/OWNERS
  ci-operator/step-registry/stackrox/stackrox/begin/stackrox-stackrox-begin-commands.sh
  ci-operator/step-registry/stackrox/stackrox/begin/stackrox-stackrox-begin-ref.metadata.json
  ci-operator/step-registry/stackrox/stackrox/begin/stackrox-stackrox-begin-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

use
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

namespace
  ci-operator/step-registry/stackrox/stackrox/e2e-test/stackrox-stackrox-e2e-test-ref.metadata.json
  ci-operator/step-registry/stackrox/stackrox/e2e-test/stackrox-stackrox-e2e-test-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

rely on builtin
  ci-operator/step-registry/stackrox/automation-flavors/aks-e2e/stackrox-automation-flavors-aks-e2e-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

different structure
  ci-operator/step-registry/stackrox/stackrox/e2e-test/OWNERS
  ci-operator/step-registry/stackrox/stackrox/e2e-test/stackrox-stackrox-e2e-test-commands.sh
  ci-operator/step-registry/stackrox/stackrox/e2e-test/stackrox-stackrox-e2e-test-ref.metadata.json
  ci-operator/step-registry/stackrox/stackrox/e2e-test/stackrox-stackrox-e2e-test-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

use
  ci-operator/step-registry/stackrox/automation-flavors/aks-e2e/stackrox-automation-flavors-aks-e2e-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck
