Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

ci/openshift/promrules:
  decorate: true
  spec:
    containers:
    - command:
      - /go/entrypoint.sh
      image: registry.svc.ci.openshift.org/ci/promrules:latest
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
          cpu: 500m
        requests:
          cpu: 10m

ci/prow/pylint:
  decorate: true
  spec:
    containers:
    - args:
      - --rcfile=hack/.pylintrc
      - --ignore=lib
      - --persistent=n
      - hack
      command:
      - pylint
      image: registry.svc.ci.openshift.org/ci/python-validation
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
  ...

branch-ci-openshift-release-master-label-sync:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/prow/02_config/_labels.yaml
      - --confirm=true
  ...

ci/prow/check-cluster-profiles-config:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    automountServiceAccountToken: true
    containers:
    - args:
      - --config-path=./ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml
      command:
      - check-cluster-profiles-config
  ...

ci/prow/check-gh-automation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --bot=openshift-merge-robot
      - --bot=openshift-ci-robot
      - --app=openshift-ci
      - --app-check-mode=standard
      - --candidate-path=.
  ...

ci/prow/check-gh-automation-tide:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --app=openshift-merge-bot
      - --app-check-mode=tide
      - --candidate-path=.
      - --config-path=./core-services/prow/02_config/_config.yaml
  ...

ci/prow/image-mirroring-config-validation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --release-repo-git-sync-path=.
      - --registry-config=/etc/pull/.dockerconfigjson
      - --config=./core-services/image-mirroring/_config.yaml
      - --validate-config-only=true
  ...

ci/prow/ci-secret-bootstrap-config-validation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - command:
      - ./hack/validate-ci-secret-boostrap.sh
      image: registry.ci.openshift.org/ci/ci-secret-bootstrap:latest
      imagePullPolicy: Always
      name: ''
      resources:
        requests:
  ...

ci/prow/clusterimageset-validate:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --pools
      - ./clusters/hosted-mgmt/hive/pools
      - --imagesets
      - ./clusters/hosted-mgmt/hive/pools
      command:
      - clusterimageset-updater
  ...

HyperShift: hypershift-mce-mutilversion-test
  ci-operator/step-registry/hypershift/mce/agent/metal3/conformance/hypershift-mce-agent-metal3-conformance-workflow.yaml
  ci-operator/step-registry/hypershift/mce/mutilversion-test/OWNERS
  ci-operator/step-registry/hypershift/mce/mutilversion-test/hypershift-mce-mutilversion-test-commands.sh
  ci-operator/step-registry/hypershift/mce/mutilversion-test/hypershift-mce-mutilversion-test-ref.metadata.json
  ci-operator/step-registry/hypershift/mce/mutilversion-test/hypershift-mce-mutilversion-test-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

test quay-operator-bundle-container-v3.12.8-4
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__quay-operator-test.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__quay-upgrade.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

HyperShift: hypershift-mce-mutilversion-test (#61693)
  ci-operator/step-registry/hypershift/mce/agent/metal3/conformance/hypershift-mce-agent-metal3-conformance-workflow.yaml
  ci-operator/step-registry/hypershift/mce/mutilversion-test/OWNERS
  ci-operator/step-registry/hypershift/mce/mutilversion-test/hypershift-mce-mutilversion-test-commands.sh
  ci-operator/step-registry/hypershift/mce/mutilversion-test/hypershift-mce-mutilversion-test-ref.metadata.json
  ci-operator/step-registry/hypershift/mce/mutilversion-test/hypershift-mce-mutilversion-test-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

remainign test run manual
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__amd64-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Check the kubelet directory
  ci-operator/step-registry/cucushift/upgrade/rhel-worker/cucushift-upgrade-rhel-worker-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Removing unused credentials
  ci-operator/step-registry/hypershift/powervs/run-e2e/hypershift-powervs-run-e2e-chain.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

config-brancher --config-dir ./ci-operator/config --current-release 4.19 --skip-periodics --future-release 4.20 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.19.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.20.yaml
  ci-operator/config/openshift/frr/openshift-frr-release-4.19.yaml
  ci-operator/config/openshift/frr/openshift-frr-release-4.20.yaml
  ci-operator/config/openshift/installer/openshift-installer-release-4.19.yaml
  ci-operator/config/openshift/installer/openshift-installer-release-4.20.yaml
  ci-operator/config/openshift/jobset-operator/openshift-jobset-operator-release-4.20.yaml
  ci-operator/config/openshift/kubernetes-sigs-lws/openshift-kubernetes-sigs-lws-release-4.19.yaml
  ci-operator/config/openshift/kubernetes-sigs-lws/openshift-kubernetes-sigs-lws-release-4.20.yaml
  ci-operator/config/openshift/lws-operator/openshift-lws-operator-release-4.20.yaml
  ci-operator/config/openshift/metallb-operator/openshift-metallb-operator-release-4.19.yaml
  ci-operator/config/openshift/metallb-operator/openshift-metallb-operator-release-4.20.yaml
  ci-operator/config/openshift/metallb/openshift-metallb-release-4.19.yaml
  ci-operator/config/openshift/metallb/openshift-metallb-release-4.20.yaml
  ci-operator/config/openshift/openstack-resource-controller/openshift-openstack-resource-controller-release-4.19.yaml
  ci-operator/config/openshift/openstack-resource-controller/openshift-openstack-resource-controller-release-4.20.yaml
  ci-operator/config/openshift/openstack-test/openshift-openstack-test-release-4.19.yaml
  ci-operator/config/openshift/origin/openshift-origin-release-4.19.yaml
  ci-operator/config/openshift/origin/openshift-origin-release-4.20.yaml
  ci-operator/config/openshift/os/openshift-os-release-4.19.yaml
  ci-operator/config/openshift/os/openshift-os-release-4.20.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

private-prow-configs-mirror --release-repo-path . --github-token-path /etc/github/oauth --github-endpoint http://ghproxy --dry-run false --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  core-services/prow/02_config/openshift-priv/jobset-operator/_pluginconfig.yaml
  core-services/prow/02_config/openshift-priv/kubernetes-sigs-lws/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

sanitize-prow-jobs --prow-jobs-dir ./ci-operator/jobs --config-path ./core-services/sanitize-prow-jobs/_config.yaml
  ci-operator/jobs/openshift-priv/installer/openshift-priv-installer-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift-priv/jobset-operator/openshift-priv-jobset-operator-main-postsubmits.yaml
  ci-operator/jobs/openshift-priv/jobset-operator/openshift-priv-jobset-operator-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/jobset-operator/openshift-priv-jobset-operator-release-4.19-postsubmits.yaml
  ci-operator/jobs/openshift-priv/jobset-operator/openshift-priv-jobset-operator-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift-priv/jobset-operator/openshift-priv-jobset-operator-release-4.20-postsubmits.yaml
  ci-operator/jobs/openshift-priv/jobset-operator/openshift-priv-jobset-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes-sigs-lws/openshift-priv-kubernetes-sigs-lws-main-postsubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes-sigs-lws/openshift-priv-kubernetes-sigs-lws-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes-sigs-lws/openshift-priv-kubernetes-sigs-lws-release-4.19-postsubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes-sigs-lws/openshift-priv-kubernetes-sigs-lws-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes-sigs-lws/openshift-priv-kubernetes-sigs-lws-release-4.20-postsubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes-sigs-lws/openshift-priv-kubernetes-sigs-lws-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/openstack-resource-controller/openshift-priv-openstack-resource-controller-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/openstack-resource-controller/openshift-priv-openstack-resource-controller-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift-priv/openstack-resource-controller/openshift-priv-openstack-resource-controller-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/origin/openshift-priv-origin-master-presubmits.yaml
  ci-operator/jobs/openshift-priv/origin/openshift-priv-origin-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift-priv/origin/openshift-priv-origin-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/os/openshift-priv-os-master-presubmits.yaml
  ci-operator/jobs/openshift-priv/os/openshift-priv-os-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift-priv/os/openshift-priv-os-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/kubernetes-sigs-lws/openshift-kubernetes-sigs-lws-release-4.19-postsubmits.yaml
  ci-operator/jobs/openshift/kubernetes-sigs-lws/openshift-kubernetes-sigs-lws-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift/kubernetes-sigs-lws/openshift-kubernetes-sigs-lws-release-4.20-postsubmits.yaml
  ci-operator/jobs/openshift/kubernetes-sigs-lws/openshift-kubernetes-sigs-lws-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/openstack-resource-controller/openshift-openstack-resource-controller-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift/openstack-resource-controller/openshift-openstack-resource-controller-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/origin/openshift-origin-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift/origin/openshift-origin-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/os/openshift-os-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift/os/openshift-os-release-4.20-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Fix file saving to shared directory
  ci-operator/step-registry/cucushift/agent/vsphere/conf/cucushift-agent-vsphere-conf-commands.sh
  ci-operator/step-registry/cucushift/agent/vsphere/conf/cucushift-agent-vsphere-conf-ref.yaml
  ci-operator/step-registry/cucushift/agent/vsphere/provision/cucushift-agent-vsphere-provision-commands.sh
  ci-operator/step-registry/cucushift/agent/vsphere/provision/cucushift-agent-vsphere-provision-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

test
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__arm64-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add secrets-store-csi-driver and gcp-provider (#59527)
  clusters/build-clusters/common/csi-secrets-gcp/README.md
  clusters/build-clusters/common/csi-secrets-gcp/SS_csidriver.yaml
  clusters/build-clusters/common/csi-secrets-gcp/provider-gcp-plugin.yaml
  clusters/build-clusters/common/csi-secrets-gcp/rbac-secretproviderclass.yaml
  clusters/build-clusters/common/csi-secrets-gcp/secrets-store-csi-driver.yaml
  clusters/build-clusters/common/csi-secrets-gcp/secrets-store.csi.x-k8s.io_secretproviderclasses.yaml
  clusters/build-clusters/common/csi-secrets-gcp/secrets-store.csi.x-k8s.io_secretproviderclasspodstatuses.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

HyperShift: hypershift-mce-mutilversion-test
  ci-operator/step-registry/hypershift/mce/mutilversion-test/hypershift-mce-mutilversion-test-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

HyperShift: hypershift-mce-mutilversion-test (#61705)
  ci-operator/step-registry/hypershift/mce/mutilversion-test/hypershift-mce-mutilversion-test-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

cert-rotation: mirror httpd image
  ci-operator/step-registry/openshift/e2e/cert-rotation/conf/mirror/openshift-e2e-cert-rotation-conf-mirror-commands.sh
  ci-operator/step-registry/openshift/e2e/cert-rotation/test/openshift-e2e-cert-rotation-test-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

cert-rotation: run tests which runs deployment and creates projects
  ci-operator/step-registry/openshift/e2e/cert-rotation/test/openshift-e2e-cert-rotation-test-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

cert-rotation: better tqdm output
  ci-operator/step-registry/openshift/e2e/cert-rotation/prepare-for-shutdown/openshift-e2e-cert-rotation-prepare-for-shutdown-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

cert-rotation: show which command failed and output status code
  ci-operator/step-registry/openshift/e2e/cert-rotation/prepare-for-shutdown/openshift-e2e-cert-rotation-prepare-for-shutdown-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

cert-rotation: use tqdm to show shutdown progress
  ci-operator/step-registry/openshift/e2e/cert-rotation/shutdown/openshift-e2e-cert-rotation-shutdown-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

cert-rotation: set +e
  ci-operator/step-registry/openshift/e2e/cert-rotation/prepare-for-shutdown/openshift-e2e-cert-rotation-prepare-for-shutdown-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

cert-rotation: improve timeout error reporting
  ci-operator/step-registry/openshift/e2e/cert-rotation/emulate-age/openshift-e2e-cert-rotation-emulate-age-commands.sh
  ci-operator/step-registry/openshift/e2e/cert-rotation/prepare-for-shutdown/openshift-e2e-cert-rotation-prepare-for-shutdown-commands.sh
  ci-operator/step-registry/openshift/e2e/cert-rotation/shutdown/openshift-e2e-cert-rotation-shutdown-commands.sh
  ci-operator/step-registry/openshift/e2e/cert-rotation/test/openshift-e2e-cert-rotation-test-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

cert-rotation: debug ssh connection status
  ci-operator/step-registry/openshift/e2e/cert-rotation/conf/mirror/openshift-e2e-cert-rotation-conf-mirror-commands.sh
  ci-operator/step-registry/openshift/e2e/cert-rotation/emulate-age/openshift-e2e-cert-rotation-emulate-age-commands.sh
  ci-operator/step-registry/openshift/e2e/cert-rotation/prepare-for-shutdown/openshift-e2e-cert-rotation-prepare-for-shutdown-commands.sh
  ci-operator/step-registry/openshift/e2e/cert-rotation/shutdown/openshift-e2e-cert-rotation-shutdown-commands.sh
  ci-operator/step-registry/openshift/e2e/cert-rotation/suspend/openshift-e2e-cert-rotation-suspend-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

cert-rotation: update traps
  ci-operator/step-registry/openshift/e2e/cert-rotation/prepare-for-shutdown/openshift-e2e-cert-rotation-prepare-for-shutdown-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Downsize resources
  ci-operator/config/red-hat-data-services/openvino_model_server/red-hat-data-services-openvino_model_server-rhoai-2.18.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

add a test ci job
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.17__amd64-stable.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.17-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Remove set +e and trap
  ci-operator/step-registry/openshift/e2e/cert-rotation/prepare-for-shutdown/openshift-e2e-cert-rotation-prepare-for-shutdown-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Downsize resources (#61707)
  ci-operator/config/red-hat-data-services/openvino_model_server/red-hat-data-services-openvino_model_server-rhoai-2.18.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)
