Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

changing worker replicas
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-4.17-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-4.18-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-4.19-nightly-x86-loaded-upgrade-from-4.18.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-4.19-nightly-x86.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

updating quotes
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/OWNERS
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-4.14-nightly-x86-loaded-upgrade-from-4.12.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Adding chaos user tag (#62498)
  ci-operator/config/redhat-chaos/prow-scripts/redhat-chaos-prow-scripts-main__4.15-nightly.yaml
  ci-operator/config/redhat-chaos/prow-scripts/redhat-chaos-prow-scripts-main__4.16-nightly-upgrade.yaml
  ci-operator/config/redhat-chaos/prow-scripts/redhat-chaos-prow-scripts-main__4.16-nightly-x86-cpou-upgrade-4.14.yaml
  ci-operator/config/redhat-chaos/prow-scripts/redhat-chaos-prow-scripts-main__4.16-nightly.yaml
  ci-operator/config/redhat-chaos/prow-scripts/redhat-chaos-prow-scripts-main__4.17-nightly.yaml
  ci-operator/config/redhat-chaos/prow-scripts/redhat-chaos-prow-scripts-main__4.18-nightly-upgrade.yaml
  ci-operator/config/redhat-chaos/prow-scripts/redhat-chaos-prow-scripts-main__4.18-nightly-x86-cpou-upgrade-4.16.yaml
  ci-operator/config/redhat-chaos/prow-scripts/redhat-chaos-prow-scripts-main__4.18-nightly.yaml
  ci-operator/config/redhat-chaos/prow-scripts/redhat-chaos-prow-scripts-main__cr-4.17-nightly.yaml
  ci-operator/config/redhat-chaos/prow-scripts/redhat-chaos-prow-scripts-main__cr-4.18-nightly.yaml
  ci-operator/config/redhat-chaos/prow-scripts/redhat-chaos-prow-scripts-main__cr-4.19-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

add `stability-fix-approved` label and restrict its use to `openshift-team-leads` and `openshift-staff-engineers` (#62500)
  core-services/prow/02_config/_labels.yaml
  core-services/prow/02_config/_plugins.yaml
Due: branch-ci-openshift-release-master-label-sync, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

adding config changes
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__cloud-governance.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__gcp-4.18-nightly-x86-loaded-upgrade-from-4.17.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__metal-selfsched-x86.yaml
  core-services/sanitize-prow-jobs/_config.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

jobs
  ci-operator/jobs/openshift-eng/agent-qe-infra/openshift-eng-agent-qe-infra-master-presubmits.yaml
  ci-operator/jobs/openshift-eng/baremetal-qe-infra/openshift-eng-baremetal-qe-infra-master-presubmits.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-periodics.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Define sno_use_lab_dhcp for latest jetlag-ci
  ci-operator/step-registry/openshift-qe/installer/bm/deploy/openshift-qe-installer-bm-deploy-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

adding slack back
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

config-brancher --config-dir ./ci-operator/config --current-release 4.19 --skip-periodics --future-release 4.20 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.19.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.20.yaml
  ci-operator/config/openshift/machine-config-operator/openshift-machine-config-operator-release-4.19.yaml
  ci-operator/config/openshift/machine-config-operator/openshift-machine-config-operator-release-4.20.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

owners update
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-master.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.19.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.8.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.9.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-master.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.19.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.9.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.7.yaml
  ci-operator/config/openshift-priv/machine-config-operator/openshift-priv-machine-config-operator-release-4.19.yaml
  ci-operator/config/openshift-priv/machine-config-operator/openshift-priv-machine-config-operator-release-4.20.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/cvp/cvp-fips-ocp-4-12-amd64-aws-eu-west-3_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/cvp/cvp-ocp-4-12-amd64-aws-eu-west-3_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/gitops/gitops-ocp-4-12-0-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/msp/msp-ocp-4-12-medium-single-az-aws_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/msp/msp-ocp-4-12-small-single-az-aws_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.12.74-x86-64-for-4.12.0-0-to-4.13.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.15.46-x86-64-for-4.15.0-0-to-4.16.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.16.37-x86-64-for-4.16.0-0-to-4.17.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.17.19-x86-64-for-4.17.0-0-to-4.18.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.18.3-x86-64-for-4.18.0-0-to-4.19.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/openshift-ci/ci-ocp-4-12-0-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-coo-ocp-4-12-0-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-logging-ocp-4-12-0-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-tracing-ocp-4-12-0-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obsint-dvo-ocp-4-12-0-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openstack-k8s-operators/openstack-k8s-operators-4-12-vexxhost-hybrid_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/rh-openshift-ecosystem/rhoe-ocp-4-12-amd64-aws-us-west-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/rhtap/rhtap-ocp-4-12-0-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/rhtap/rhtap-ocp-4-12-0-amd64-aws-us-west-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/stackrox/ocp-4.12_clusterpool.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

owner changes
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

2 more small changes
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-4.19-nightly-x86-loaded-upgrade-from-4.18.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__metal-4.18-latest-x86.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

job owner file
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/OWNERS
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

OSD-28456 : Update Documentation as a part of every release : Creating jobs and configuration in PROW to Verify Documentation as a part of every PR push
  ci-operator/config/openshift/osdctl/openshift-osdctl-master.yaml
  ci-operator/jobs/openshift/osdctl/openshift-osdctl-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

release controller
  core-services/release-controller/_releases/release-ocp-4.15.json
  core-services/release-controller/_releases/release-ocp-4.16.json
  core-services/release-controller/_releases/release-ocp-4.17.json
  core-services/release-controller/_releases/release-ocp-4.18.json
  core-services/release-controller/_releases/release-ocp-4.19.json
Due: ci/prow/ci-testgrid-allow-list, ci/prow/release-config

config change from make
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-4.19-nightly-x86-loaded-upgrade-from-4.18.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

update release
  core-services/release-controller/_releases/priv/release-ocp-4.15.json
  core-services/release-controller/_releases/priv/release-ocp-4.16.json
  core-services/release-controller/_releases/priv/release-ocp-4.17.json
  core-services/release-controller/_releases/priv/release-ocp-4.18.json
  core-services/release-controller/_releases/priv/release-ocp-4.19.json
Due: ci/prow/ci-testgrid-allow-list, ci/prow/release-config

[o/cert-manager-operator] Updates e2e-operator-tech-preview to use generic claim workflow faster cluster spin up
  ci-operator/config/openshift/cert-manager-operator/openshift-cert-manager-operator-master.yaml
  ci-operator/jobs/openshift/cert-manager-operator/openshift-cert-manager-operator-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

OCPBUGS-50521 testing -570 with MM change reverted
  ci-operator/step-registry/openshift-qe/workers-infra-workload/openshift-qe-workers-infra-workload-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fixed the error of firewatch configuration
  ci-operator/config/stolostron/policy-collection/stolostron-policy-collection-main__ocp4.17.yaml
  ci-operator/config/stolostron/policy-collection/stolostron-policy-collection-main__ocp4.18.yaml
  ci-operator/jobs/stolostron/policy-collection/stolostron-policy-collection-main-periodics.yaml
  ci-operator/jobs/stolostron/policy-collection/stolostron-policy-collection-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

NO-JIRA: cincinnati: use 4.17 cluster for e2e testing
  ci-operator/config/openshift/cincinnati/openshift-cincinnati-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

adding validate release job to openshift-eng
  hack/validate-release-jobs.py
Due: ci/prow/pylint

OTA-1351: Migrate base of image of e2e test to ubi9
  ci-operator/config/openshift/cincinnati/openshift-cincinnati-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

OCPBUGS-52389: rename 'master' to 'main' for kubevirt-csi-driver (#62426)
  ci-operator/config/openshift-priv/kubevirt-csi-driver/openshift-priv-kubevirt-csi-driver-main.yaml
  ci-operator/config/openshift/kubevirt-csi-driver/openshift-kubevirt-csi-driver-main.yaml
  ci-operator/config/openshift/kubevirt-csi-driver/openshift-kubevirt-csi-driver-main__okd-scos.yaml
  ci-operator/jobs/openshift-priv/kubevirt-csi-driver/openshift-priv-kubevirt-csi-driver-main-postsubmits.yaml
  ci-operator/jobs/openshift-priv/kubevirt-csi-driver/openshift-priv-kubevirt-csi-driver-main-presubmits.yaml
  ci-operator/jobs/openshift/kubevirt-csi-driver/openshift-kubevirt-csi-driver-main-postsubmits.yaml
  ci-operator/jobs/openshift/kubevirt-csi-driver/openshift-kubevirt-csi-driver-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

OCPBUGS-52390: rename 'master' to 'main' for machine-api-provider-openstack (#62428)
  ci-operator/config/openshift-priv/machine-api-provider-openstack/openshift-priv-machine-api-provider-openstack-main.yaml
  ci-operator/config/openshift/machine-api-provider-openstack/openshift-machine-api-provider-openstack-main.yaml
  ci-operator/config/openshift/machine-api-provider-openstack/openshift-machine-api-provider-openstack-main__okd-scos.yaml
  ci-operator/jobs/openshift-priv/machine-api-provider-openstack/openshift-priv-machine-api-provider-openstack-main-postsubmits.yaml
  ci-operator/jobs/openshift-priv/machine-api-provider-openstack/openshift-priv-machine-api-provider-openstack-main-presubmits.yaml
  ci-operator/jobs/openshift/machine-api-provider-openstack/openshift-machine-api-provider-openstack-main-postsubmits.yaml
  ci-operator/jobs/openshift/machine-api-provider-openstack/openshift-machine-api-provider-openstack-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

CMP-3115: Add periodic jobs for CO on ARM64
  ci-operator/config/ComplianceAsCode/content/ComplianceAsCode-content-master__4.17.yaml
  ci-operator/config/ComplianceAsCode/content/ComplianceAsCode-content-master__4.18.yaml
  ci-operator/jobs/ComplianceAsCode/content/ComplianceAsCode-content-master-periodics.yaml
  ci-operator/jobs/ComplianceAsCode/content/ComplianceAsCode-content-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

dpu-operator: add CI test for Marvell DPU
  ci-operator/config/openshift-priv/dpu-operator/openshift-priv-dpu-operator-main.yaml
  ci-operator/config/openshift-priv/dpu-operator/openshift-priv-dpu-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/dpu-operator/openshift-priv-dpu-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/dpu-operator/openshift-priv-dpu-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/dpu-operator/openshift-priv-dpu-operator-release-4.19.yaml
  ci-operator/config/openshift-priv/dpu-operator/openshift-priv-dpu-operator-release-4.20.yaml
  ci-operator/config/openshift/dpu-operator/openshift-dpu-operator-main.yaml
  ci-operator/config/openshift/dpu-operator/openshift-dpu-operator-release-4.16.yaml
  ci-operator/config/openshift/dpu-operator/openshift-dpu-operator-release-4.17.yaml
  ci-operator/config/openshift/dpu-operator/openshift-dpu-operator-release-4.18.yaml
  ci-operator/config/openshift/dpu-operator/openshift-dpu-operator-release-4.19.yaml
  ci-operator/config/openshift/dpu-operator/openshift-dpu-operator-release-4.20.yaml
  ci-operator/jobs/openshift-priv/dpu-operator/openshift-priv-dpu-operator-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/dpu-operator/openshift-priv-dpu-operator-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift-priv/dpu-operator/openshift-priv-dpu-operator-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift-priv/dpu-operator/openshift-priv-dpu-operator-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift-priv/dpu-operator/openshift-priv-dpu-operator-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift-priv/dpu-operator/openshift-priv-dpu-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/dpu-operator/openshift-dpu-operator-main-presubmits.yaml
  ci-operator/jobs/openshift/dpu-operator/openshift-dpu-operator-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift/dpu-operator/openshift-dpu-operator-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift/dpu-operator/openshift-dpu-operator-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift/dpu-operator/openshift-dpu-operator-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift/dpu-operator/openshift-dpu-operator-release-4.20-presubmits.yaml
  ci-operator/step-registry/dpu-operator/e2e-tests-marvell/OWNERS
  ci-operator/step-registry/dpu-operator/e2e-tests-marvell/dpu-operator-e2e-tests-marvell-workflow.metadata.json
  ci-operator/step-registry/dpu-operator/e2e-tests-marvell/dpu-operator-e2e-tests-marvell-workflow.yaml
  ci-operator/step-registry/dpu-operator/e2e-tests-marvell/dpu-operator-e2e-tests-marvell.metadata.json
  ci-operator/step-registry/dpu-operator/e2e-tests-marvell/tests/OWNERS
  ci-operator/step-registry/dpu-operator/e2e-tests-marvell/tests/dpu-operator-e2e-tests-marvell-tests-commands.sh
  ci-operator/step-registry/dpu-operator/e2e-tests-marvell/tests/dpu-operator-e2e-tests-marvell-tests-ref.metadata.json
  ci-operator/step-registry/dpu-operator/e2e-tests-marvell/tests/dpu-operator-e2e-tests-marvell-tests-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Changed the default value for OPENSHIFT_INSTALL_AWS_PUBLIC_ONLY to true
  ci-operator/step-registry/ipi/aws/pre/publicsubnets/ipi-aws-pre-publicsubnets-chain.yaml
  ci-operator/step-registry/ipi/conf/aws/publicsubnets/ipi-conf-aws-publicsubnets-commands.sh
  ci-operator/step-registry/ipi/conf/aws/user-min-permissions/ipi-conf-aws-user-min-permissions-commands.sh
  ci-operator/step-registry/ipi/install/install/aws/ipi-install-install-aws-ref.yaml
  ci-operator/step-registry/ipi/install/install/ipi-install-install-ref.yaml
  ci-operator/step-registry/ipi/install/ipi-install-chain.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

OPCT: bump release to v0.5.2 and refresh periodics (#62447)
  ci-operator/config/redhat-openshift-ecosystem/opct/redhat-openshift-ecosystem-opct-main__4.14.yaml
  ci-operator/config/redhat-openshift-ecosystem/opct/redhat-openshift-ecosystem-opct-main__4.16.yaml
  ci-operator/config/redhat-openshift-ecosystem/opct/redhat-openshift-ecosystem-opct-main__4.17.yaml
  ci-operator/config/redhat-openshift-ecosystem/opct/redhat-openshift-ecosystem-opct-main__4.18.yaml
  ci-operator/config/redhat-openshift-ecosystem/opct/redhat-openshift-ecosystem-opct-main__4.19.yaml
  ci-operator/jobs/redhat-openshift-ecosystem/opct/redhat-openshift-ecosystem-opct-main-periodics.yaml
  ci-operator/step-registry/opct/conformance/external-aws/opct-conformance-external-aws-workflow.yaml
  ci-operator/step-registry/opct/test/platform-external-vsphere/opct-test-platform-external-vsphere-workflow.yaml
  ci-operator/step-registry/opct/test/platform-none-vsphere/opct-test-platform-none-vsphere-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck
