Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

ci/openshift/promrules:
  decorate: true
  spec:
    containers:
    - command:
      - /go/entrypoint.sh
      image: registry.svc.ci.openshift.org/ci/promrules:latest
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
          cpu: 500m
        requests:
          cpu: 10m

ci/prow/pylint:
  decorate: true
  spec:
    containers:
    - args:
      - --rcfile=hack/.pylintrc
      - --ignore=lib
      - --persistent=n
      - hack
      command:
      - pylint
      image: registry.svc.ci.openshift.org/ci/python-validation
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
  ...

branch-ci-openshift-release-master-label-sync:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/prow/02_config/_labels.yaml
      - --confirm=true
  ...

ci/prow/check-cluster-profiles-config:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    automountServiceAccountToken: true
    containers:
    - args:
      - --config-path=./ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml
      command:
      - check-cluster-profiles-config
  ...

ci/prow/check-gh-automation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --bot=openshift-merge-robot
      - --bot=openshift-ci-robot
      - --app=openshift-ci
      - --app-check-mode=standard
      - --candidate-path=.
  ...

ci/prow/check-gh-automation-tide:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --app=openshift-merge-bot
      - --app-check-mode=tide
      - --candidate-path=.
      - --config-path=./core-services/prow/02_config/_config.yaml
  ...

ci/prow/image-mirroring-config-validation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --release-repo-git-sync-path=.
      - --registry-config=/etc/pull/.dockerconfigjson
      - --config=./core-services/image-mirroring/_config.yaml
      - --validate-config-only=true
  ...

ci/prow/ci-secret-bootstrap-config-validation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - command:
      - ./hack/validate-ci-secret-boostrap.sh
      image: registry.ci.openshift.org/ci/ci-secret-bootstrap:latest
      imagePullPolicy: Always
      name: ''
      resources:
        requests:
  ...

ci/prow/clusterimageset-validate:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --pools
      - ./clusters/hosted-mgmt/hive/pools
      - --imagesets
      - ./clusters/hosted-mgmt/hive/pools
      command:
      - clusterimageset-updater
  ...

add junit.xml output for ARO-HCP e2e testing (#67189)
  ci-operator/step-registry/aro-hcp/tests/run-aro-hcp-tests/aro-hcp-tests-run-aro-hcp-tests-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Sync OWNERS files by autoowners job at Fri, 18 Jul 2025 07:43:16 UTC (#67204)
  ci-operator/config/openshift-knative/backstage-plugins/OWNERS
  ci-operator/config/openshift-knative/eventing-integrations/OWNERS
  ci-operator/config/openshift-knative/eventing-istio/OWNERS
  ci-operator/config/openshift-knative/eventing-kafka-broker/OWNERS
  ci-operator/config/openshift-knative/eventing/OWNERS
  ci-operator/config/openshift/lightspeed-service/OWNERS
  ci-operator/config/openshift/os/OWNERS
  ci-operator/jobs/openshift-knative/backstage-plugins/OWNERS
  ci-operator/jobs/openshift-knative/eventing-integrations/OWNERS
  ci-operator/jobs/openshift-knative/eventing-istio/OWNERS
  ci-operator/jobs/openshift-knative/eventing-kafka-broker/OWNERS
  ci-operator/jobs/openshift-knative/eventing/OWNERS
  ci-operator/jobs/openshift/lightspeed-service/OWNERS
  ci-operator/jobs/openshift/os/OWNERS
  core-services/prow/02_config/openshift-knative/backstage-plugins/OWNERS
  core-services/prow/02_config/openshift-knative/eventing-integrations/OWNERS
  core-services/prow/02_config/openshift-knative/eventing-istio/OWNERS
  core-services/prow/02_config/openshift-knative/eventing-kafka-broker/OWNERS
  core-services/prow/02_config/openshift-knative/eventing/OWNERS
  core-services/prow/02_config/openshift/lightspeed-service/OWNERS
  core-services/prow/02_config/openshift/os/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Unblock build09 (#67195)
  core-services/sanitize-prow-jobs/_clusters.yaml
Due: none

NO-JIRA: make microshift optional during rebase (#67180)
  ci-operator/config/openshift/origin/openshift-origin-main.yaml
  ci-operator/jobs/openshift/origin/openshift-origin-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

ci-operator-prowgen --from-dir ./ci-operator/config --to-dir ./ci-operator/jobs
  ci-operator/jobs/openshift-priv/origin/openshift-priv-origin-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/origin/openshift-priv-origin-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/origin/openshift-priv-origin-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift/origin/openshift-origin-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/origin/openshift-origin-release-4.21-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

[machine-config-operator] remove the "experimental/reliability/minimal" TEST_SUITE from openstack jobs (#67127)
  ci-operator/config/openshift-priv/machine-config-operator/openshift-priv-machine-config-operator-main.yaml
  ci-operator/config/openshift-priv/machine-config-operator/openshift-priv-machine-config-operator-release-4.20.yaml
  ci-operator/config/openshift-priv/machine-config-operator/openshift-priv-machine-config-operator-release-4.21.yaml
  ci-operator/config/openshift/machine-config-operator/openshift-machine-config-operator-main.yaml
  ci-operator/config/openshift/machine-config-operator/openshift-machine-config-operator-release-4.20.yaml
  ci-operator/config/openshift/machine-config-operator/openshift-machine-config-operator-release-4.21.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Drop image build for boilerplate, konflux handles it (#67179)
  ci-operator/config/openshift/boilerplate/openshift-boilerplate-master.yaml
  ci-operator/jobs/openshift/boilerplate/openshift-boilerplate-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

config-brancher --config-dir ./ci-operator/config --current-release 4.20 --skip-periodics --future-release 4.21 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.21.yaml
  ci-operator/config/openshift/insights-operator/openshift-insights-operator-release-4.21.yaml
  ci-operator/config/openshift/metallb-operator/openshift-metallb-operator-release-4.20.yaml
  ci-operator/config/openshift/metallb-operator/openshift-metallb-operator-release-4.21.yaml
  ci-operator/config/openshift/origin/openshift-origin-release-4.20.yaml
  ci-operator/config/openshift/origin/openshift-origin-release-4.21.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.21.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add --wait for "droute send" (#67211)
  ci-operator/step-registry/junit2reportportal/junit2reportportal-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add capabilities intranet to aws job in verification-tests (#67207)
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__installation-nightly-4.14.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__installation-nightly-4.15.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__installation-nightly-4.16.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__installation-nightly-4.17.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__installation-nightly-4.18.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__installation-nightly-4.19.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__installation-nightly-arm64-4.19.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__ota-multi-stable-4.15-upgrade-from-stable-4.14.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__ota-multi-stable-4.16-upgrade-from-stable-4.15.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__ota-multi-stable-4.17-upgrade-from-stable-4.16.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__ota-multi-stable-4.18-upgrade-from-stable-4.17.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__ota-multi-stable-4.19-upgrade-from-stable-4.18.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__ota-multi-stable-4.20-upgrade-from-stable-4.19.yaml
  ci-operator/jobs/openshift/verification-tests/openshift-verification-tests-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Remove the "experimental/reliability/minimal" TEST_SUITE from openstack baremetal jobs (#67108)
  ci-operator/config/openshift-priv/baremetal-runtimecfg/openshift-priv-baremetal-runtimecfg-main.yaml
  ci-operator/config/openshift-priv/baremetal-runtimecfg/openshift-priv-baremetal-runtimecfg-release-4.20.yaml
  ci-operator/config/openshift-priv/baremetal-runtimecfg/openshift-priv-baremetal-runtimecfg-release-4.21.yaml
  ci-operator/config/openshift/baremetal-runtimecfg/openshift-baremetal-runtimecfg-main.yaml
  ci-operator/config/openshift/baremetal-runtimecfg/openshift-baremetal-runtimecfg-release-4.20.yaml
  ci-operator/config/openshift/baremetal-runtimecfg/openshift-baremetal-runtimecfg-release-4.21.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add 4.18 to kueue main jobs (#67191)
  ci-operator/config/openshift/kubernetes-sigs-kueue/openshift-kubernetes-sigs-kueue-main.yaml
  ci-operator/config/openshift/kubernetes-sigs-kueue/openshift-kubernetes-sigs-kueue-release-0.12.yaml
  ci-operator/jobs/openshift/kubernetes-sigs-kueue/openshift-kubernetes-sigs-kueue-main-presubmits.yaml
  ci-operator/jobs/openshift/kubernetes-sigs-kueue/openshift-kubernetes-sigs-kueue-release-0.12-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Increase timeout for oauth-apiserver's e2e-aws-serial presubmit. (#66854)
  ci-operator/config/openshift/oauth-apiserver/openshift-oauth-apiserver-master.yaml
  ci-operator/jobs/openshift/oauth-apiserver/openshift-oauth-apiserver-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

OLMv1: Add test-experimental-e2e to techpreview e2e (#67078)
  ci-operator/config/openshift-priv/operator-framework-operator-controller/openshift-priv-operator-framework-operator-controller-main.yaml
  ci-operator/config/openshift-priv/operator-framework-operator-controller/openshift-priv-operator-framework-operator-controller-release-4.20.yaml
  ci-operator/config/openshift-priv/operator-framework-operator-controller/openshift-priv-operator-framework-operator-controller-release-4.21.yaml
  ci-operator/config/openshift/operator-framework-operator-controller/openshift-operator-framework-operator-controller-main.yaml
  ci-operator/config/openshift/operator-framework-operator-controller/openshift-operator-framework-operator-controller-release-4.20.yaml
  ci-operator/config/openshift/operator-framework-operator-controller/openshift-operator-framework-operator-controller-release-4.21.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Remove doctoc check from CI pipeline (#67168)
  ci-operator/config/openshift/ops-sop/openshift-ops-sop-master.yaml
  ci-operator/jobs/openshift/ops-sop/openshift-ops-sop-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Updating Devspaces scenario for ROSA HCP Testing on OCP 4.19 (#67068)
  ci-operator/config/redhat-developer/devspaces-interop-tests/redhat-developer-devspaces-interop-tests-main__devspaces-ocp4.19-lp-rosa-hypershift.yaml
  ci-operator/jobs/redhat-developer/devspaces-interop-tests/redhat-developer-devspaces-interop-tests-main-periodics.yaml
  ci-operator/jobs/redhat-developer/devspaces-interop-tests/redhat-developer-devspaces-interop-tests-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.16.44-x86-64-for-4.16.0-0-to-4.17.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.17.36-x86-64-for-4.17.0-0-to-4.18.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

CM-605: [o/cert-manager-operator] Update Golang builder image to 1.24, create new config for 1.17 branch (#67197)
  ci-operator/config/openshift/cert-manager-operator/openshift-cert-manager-operator-cert-manager-1.17.yaml
  ci-operator/jobs/openshift/cert-manager-operator/openshift-cert-manager-operator-cert-manager-1.17-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add phase1 build id to send-slack (#67118)
  ci-operator/step-registry/telcov10n/functional/cnf-network/send-slack-notification/telcov10n-functional-cnf-network-send-slack-notification-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix wrong naming of CI hive cluster pool (#67217)
  clusters/hosted-mgmt/hive/pools/openshift-ci/ci-ocp-4-20-0-amd64-aws-us-east-1_clusterpool.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Fix catalog source image tag selection for OpenShift 4.20 clusters (#67160)
  ci-operator/step-registry/enable-qe-catalogsource/enable-qe-catalogsource-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

cnf network: fix frr image version issue (#67186)
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-network-4.16.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-network-4.17.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-network-phase2-4.18.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

config-brancher --config-dir ./ci-operator/config --current-release 4.20 --skip-periodics --future-release 4.21 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.21.yaml
  ci-operator/config/openshift/insights-operator/openshift-insights-operator-release-4.21.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

[hypershift] remove the "experimental/reliability/minimal" TEST_SUITE from openstack jobs (#67130)
  ci-operator/config/openshift-priv/hypershift/openshift-priv-hypershift-main.yaml
  ci-operator/config/openshift-priv/hypershift/openshift-priv-hypershift-release-4.20.yaml
  ci-operator/config/openshift-priv/hypershift/openshift-priv-hypershift-release-4.21.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-main.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.20.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.20__periodics.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.21.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

chore: update lvms 4.20 to us golang 1.24 builder (#67215)
  ci-operator/config/openshift/lvm-operator/openshift-lvm-operator-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-master.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.19.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.21.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.8.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.9.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-master.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.19.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.21.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.9.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-master.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.19.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.20.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.21.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.7.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Ztp left shifting telco qe revert virt sno workaround (#67209)
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-ztp-left-shifting-kpi__ci-4.20.yaml
  ci-operator/step-registry/telcov10n/virtualised-single-node-hub-ztp/deploy-hub/telcov10n-virtualised-single-node-hub-ztp-deploy-hub-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

[cloud-credential-operator] remove the "experimental/reliability/minimal" TEST_SUITE from openstack jobs (#67122)
  ci-operator/config/openshift-priv/cloud-credential-operator/openshift-priv-cloud-credential-operator-master.yaml
  ci-operator/config/openshift-priv/cloud-credential-operator/openshift-priv-cloud-credential-operator-release-4.20.yaml
  ci-operator/config/openshift-priv/cloud-credential-operator/openshift-priv-cloud-credential-operator-release-4.21.yaml
  ci-operator/config/openshift/cloud-credential-operator/openshift-cloud-credential-operator-master.yaml
  ci-operator/config/openshift/cloud-credential-operator/openshift-cloud-credential-operator-release-4.20.yaml
  ci-operator/config/openshift/cloud-credential-operator/openshift-cloud-credential-operator-release-4.21.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

remove builds for tensorflow rocm - runtimes and run make jobs (#67173)
  ci-operator/config/opendatahub-io/notebooks/opendatahub-io-notebooks-main.yaml
  ci-operator/jobs/opendatahub-io/notebooks/opendatahub-io-notebooks-main-postsubmits.yaml
  ci-operator/jobs/opendatahub-io/notebooks/opendatahub-io-notebooks-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

ci-operator-prowgen --from-dir ./ci-operator/config --to-dir ./ci-operator/jobs
  ci-operator/jobs/openshift-priv/kubernetes-sigs-kueue/openshift-priv-kubernetes-sigs-kueue-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes-sigs-kueue/openshift-priv-kubernetes-sigs-kueue-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes-sigs-kueue/openshift-priv-kubernetes-sigs-kueue-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift-priv/oauth-apiserver/openshift-priv-oauth-apiserver-master-presubmits.yaml
  ci-operator/jobs/openshift-priv/oauth-apiserver/openshift-priv-oauth-apiserver-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/oauth-apiserver/openshift-priv-oauth-apiserver-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift/kubernetes-sigs-kueue/openshift-kubernetes-sigs-kueue-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/kubernetes-sigs-kueue/openshift-kubernetes-sigs-kueue-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift/oauth-apiserver/openshift-oauth-apiserver-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/oauth-apiserver/openshift-oauth-apiserver-release-4.21-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.16.44-x86-64-for-4.16.0-0-to-4.17.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.17.36-x86-64-for-4.17.0-0-to-4.18.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.19.5-x86-64-for-4.19.0-0-to-4.20.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

sanitize-prow-jobs --prow-jobs-dir ./ci-operator/jobs --config-path ./core-services/sanitize-prow-jobs/_config.yaml
  ci-operator/jobs/openshift-priv/kubernetes-sigs-kueue/openshift-priv-kubernetes-sigs-kueue-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes-sigs-kueue/openshift-priv-kubernetes-sigs-kueue-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes-sigs-kueue/openshift-priv-kubernetes-sigs-kueue-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift/kubernetes-sigs-kueue/openshift-kubernetes-sigs-kueue-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/kubernetes-sigs-kueue/openshift-kubernetes-sigs-kueue-release-4.21-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

OCPBUGS-59554: bump crontab builder to node 18 (#67236)
  ci-operator/config/openshift/console-crontab-plugin/openshift-console-crontab-plugin-main.yaml
  ci-operator/config/openshift/console-crontab-plugin/openshift-console-crontab-plugin-release-4.19.yaml
  ci-operator/config/openshift/console-crontab-plugin/openshift-console-crontab-plugin-release-4.20.yaml
  ci-operator/config/openshift/console-crontab-plugin/openshift-console-crontab-plugin-release-4.21.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

builds 1.5 release (#67226)
  ci-operator/config/openshift/openshift-docs/openshift-openshift-docs-build-docs-1.5.yaml
  ci-operator/jobs/openshift/openshift-docs/openshift-openshift-docs-build-docs-1.5-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

[installer] remove the "experimental/reliability/minimal" TEST_SUITE from openstack jobs (#67126)
  ci-operator/config/openshift-priv/installer/openshift-priv-installer-main.yaml
  ci-operator/config/openshift-priv/installer/openshift-priv-installer-release-4.20.yaml
  ci-operator/config/openshift-priv/installer/openshift-priv-installer-release-4.21.yaml
  ci-operator/config/openshift/installer/openshift-installer-main.yaml
  ci-operator/config/openshift/installer/openshift-installer-release-4.20.yaml
  ci-operator/config/openshift/installer/openshift-installer-release-4.21.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)
