Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

test
  ci-operator/step-registry/cucushift/agent/vsphere/conf/cucushift-agent-vsphere-conf-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

[PERFSCALE-3635] New self-scheduling step
  ci-operator/config/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main__metal-x86.yaml
  ci-operator/jobs/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main-presubmits.yaml
  ci-operator/step-registry/openshift-qe/installer/bm/self-sched/OWNERS
  ci-operator/step-registry/openshift-qe/installer/bm/self-sched/openshift-qe-installer-bm-self-sched-chain.metadata.json
  ci-operator/step-registry/openshift-qe/installer/bm/self-sched/openshift-qe-installer-bm-self-sched-chain.yaml
  ci-operator/step-registry/openshift-qe/installer/bm/self-sched/openshift-qe-installer-bm-self-sched-commands.sh
  ci-operator/step-registry/openshift-qe/installer/bm/self-sched/openshift-qe-installer-bm-self-sched-ref.metadata.json
  ci-operator/step-registry/openshift-qe/installer/bm/self-sched/openshift-qe-installer-bm-self-sched-ref.yaml
  ci-operator/step-registry/openshift-qe/installer/bm/self-sched/openshift-qe-installer-bm-self-sched-workflow.metadata.json
  ci-operator/step-registry/openshift-qe/installer/bm/self-sched/openshift-qe-installer-bm-self-sched-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Try other secrets
  ci-operator/step-registry/openshift-qe/installer/bm/self-sched/openshift-qe-installer-bm-self-sched-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix quoted vars
  ci-operator/step-registry/openshift-qe/installer/bm/self-sched/openshift-qe-installer-bm-self-sched-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add self-sched-terminate step
  ci-operator/config/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main__metal-x86.yaml
  ci-operator/step-registry/openshift-qe/installer/bm/self-sched-terminate/OWNERS
  ci-operator/step-registry/openshift-qe/installer/bm/self-sched-terminate/openshift-qe-installer-bm-self-sched-terminate-chain.metadata.json
  ci-operator/step-registry/openshift-qe/installer/bm/self-sched-terminate/openshift-qe-installer-bm-self-sched-terminate-chain.yaml
  ci-operator/step-registry/openshift-qe/installer/bm/self-sched-terminate/openshift-qe-installer-bm-self-sched-terminate-commands.sh
  ci-operator/step-registry/openshift-qe/installer/bm/self-sched-terminate/openshift-qe-installer-bm-self-sched-terminate-ref.metadata.json
  ci-operator/step-registry/openshift-qe/installer/bm/self-sched-terminate/openshift-qe-installer-bm-self-sched-terminate-ref.yaml
  ci-operator/step-registry/openshift-qe/installer/bm/self-sched-terminate/openshift-qe-installer-bm-self-sched-terminate-workflow.metadata.json
  ci-operator/step-registry/openshift-qe/installer/bm/self-sched-terminate/openshift-qe-installer-bm-self-sched-terminate-workflow.yaml
  ci-operator/step-registry/openshift-qe/installer/bm/self-sched/openshift-qe-installer-bm-self-sched-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Change quads_pwd var name
  ci-operator/step-registry/openshift-qe/installer/bm/self-sched-terminate/openshift-qe-installer-bm-self-sched-terminate-commands.sh
  ci-operator/step-registry/openshift-qe/installer/bm/self-sched/openshift-qe-installer-bm-self-sched-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update secret vault name
  ci-operator/step-registry/openshift-qe/installer/bm/self-sched/openshift-qe-installer-bm-self-sched-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Simpler query with jq
  ci-operator/step-registry/openshift-qe/installer/bm/self-sched/openshift-qe-installer-bm-self-sched-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Use the bastion var to avoid shellcheck error
  ci-operator/step-registry/openshift-qe/installer/bm/self-sched/openshift-qe-installer-bm-self-sched-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix credentials name
  ci-operator/step-registry/openshift-qe/installer/bm/self-sched-terminate/openshift-qe-installer-bm-self-sched-terminate-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Added PGT generation
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__nightly-4.18-ztp-kpis.yaml
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/deploy/telcov10n-metal-single-node-spoke-deploy-chain.yaml
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/clean-up/telcov10n-metal-single-node-spoke-policies-clean-up-commands.sh
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/clean-up/telcov10n-metal-single-node-spoke-policies-clean-up-ref.metadata.json
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/deploy/telcov10n-metal-single-node-spoke-policies-deploy-commands.sh
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/deploy/telcov10n-metal-single-node-spoke-policies-deploy-ref.metadata.json
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/deploy/telcov10n-metal-single-node-spoke-policies-deploy-ref.yaml
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/verify/telcov10n-metal-single-node-spoke-policies-verify-commands.sh
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/policies/verify/telcov10n-metal-single-node-spoke-policies-verify-ref.metadata.json
  ci-operator/step-registry/telcov10n/metal-single-node-spoke/site-config/verify/telcov10n-metal-single-node-spoke-site-config-verify-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add ovn ipsec upgrade job for 4.15
  ci-operator/config/openshift-priv/cluster-network-operator/openshift-priv-cluster-network-operator-release-4.15.yaml
  ci-operator/config/openshift/cluster-network-operator/openshift-cluster-network-operator-release-4.15.yaml
  ci-operator/jobs/openshift-priv/cluster-network-operator/openshift-priv-cluster-network-operator-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift/cluster-network-operator/openshift-cluster-network-operator-release-4.15-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Make ipsec upgrade jobs as mandatory and periodic ones
  ci-operator/config/openshift-priv/cluster-network-operator/openshift-priv-cluster-network-operator-master.yaml
  ci-operator/config/openshift-priv/cluster-network-operator/openshift-priv-cluster-network-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-network-operator/openshift-priv-cluster-network-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-network-operator/openshift-priv-cluster-network-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-network-operator/openshift-priv-cluster-network-operator-release-4.19.yaml
  ci-operator/config/openshift/cluster-network-operator/openshift-cluster-network-operator-master.yaml
  ci-operator/config/openshift/cluster-network-operator/openshift-cluster-network-operator-release-4.16.yaml
  ci-operator/config/openshift/cluster-network-operator/openshift-cluster-network-operator-release-4.17.yaml
  ci-operator/config/openshift/cluster-network-operator/openshift-cluster-network-operator-release-4.18.yaml
  ci-operator/config/openshift/cluster-network-operator/openshift-cluster-network-operator-release-4.19.yaml
  ci-operator/jobs/openshift-priv/cluster-network-operator/openshift-priv-cluster-network-operator-master-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-network-operator/openshift-priv-cluster-network-operator-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-network-operator/openshift-priv-cluster-network-operator-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-network-operator/openshift-priv-cluster-network-operator-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-network-operator/openshift-priv-cluster-network-operator-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-network-operator/openshift-priv-cluster-network-operator-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift/cluster-network-operator/openshift-cluster-network-operator-master-presubmits.yaml
  ci-operator/jobs/openshift/cluster-network-operator/openshift-cluster-network-operator-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift/cluster-network-operator/openshift-cluster-network-operator-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift/cluster-network-operator/openshift-cluster-network-operator-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift/cluster-network-operator/openshift-cluster-network-operator-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift/cluster-network-operator/openshift-cluster-network-operator-release-4.19-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

fix
  ci-operator/step-registry/ipi/install/install/ipi-install-install-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

fix
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-master__installer-rehearse-4.19.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

debug
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-master__installer-rehearse-4.18.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-master__installer-rehearse-4.19.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

fix
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-master__installer-rehearse-4.19.yaml
  ci-operator/jobs/openshift/verification-tests/openshift-verification-tests-master-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

pre-merge test
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-master__installer-rehearse-4.19.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

revert
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-master__installer-rehearse-4.18.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

debug
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-master__installer-rehearse-4.19.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

fix
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-master__installer-rehearse-4.19.yaml
  ci-operator/step-registry/ipi/install/install/ipi-install-install-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

OCPBUGS-50629: rename 'master' to 'main' for image-registry
  ci-operator/config/openshift-priv/image-registry/openshift-priv-image-registry-main.yaml
  ci-operator/config/openshift/image-registry/openshift-image-registry-main.yaml
  ci-operator/config/openshift/image-registry/openshift-image-registry-main__okd-scos.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

OCPBUGS-50629: run 'make jobs'
  ci-operator/jobs/openshift-priv/image-registry/openshift-priv-image-registry-main-postsubmits.yaml
  ci-operator/jobs/openshift-priv/image-registry/openshift-priv-image-registry-main-presubmits.yaml
  ci-operator/jobs/openshift/image-registry/openshift-image-registry-main-postsubmits.yaml
  ci-operator/jobs/openshift/image-registry/openshift-image-registry-main-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

OCPBUGS-50630: rename 'master' to 'main' for cluster-image-registry-operator
  ci-operator/config/openshift-priv/cluster-image-registry-operator/openshift-priv-cluster-image-registry-operator-main.yaml
  ci-operator/config/openshift/cluster-image-registry-operator/openshift-cluster-image-registry-operator-main.yaml
  ci-operator/config/openshift/cluster-image-registry-operator/openshift-cluster-image-registry-operator-main__okd-scos.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

OCPBUGS-50630: run 'make jobs'
  ci-operator/jobs/openshift-priv/cluster-image-registry-operator/openshift-priv-cluster-image-registry-operator-main-postsubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-image-registry-operator/openshift-priv-cluster-image-registry-operator-main-presubmits.yaml
  ci-operator/jobs/openshift/cluster-image-registry-operator/openshift-cluster-image-registry-operator-main-postsubmits.yaml
  ci-operator/jobs/openshift/cluster-image-registry-operator/openshift-cluster-image-registry-operator-main-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

add cloud-governance
  ci-operator/config/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main__cloud-governance-ping.yaml
  ci-operator/jobs/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main-presubmits.yaml
  ci-operator/step-registry/openshift-qe/cloud-governance/OWNERS
  ci-operator/step-registry/openshift-qe/cloud-governance/perf-dept/OWNERS
  ci-operator/step-registry/openshift-qe/cloud-governance/perf-dept/openshift-qe-cloud-governance-perf-dept-commands.sh
  ci-operator/step-registry/openshift-qe/cloud-governance/perf-dept/openshift-qe-cloud-governance-perf-dept-ref.metadata.json
  ci-operator/step-registry/openshift-qe/cloud-governance/perf-dept/openshift-qe-cloud-governance-perf-dept-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck
