Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, branch-ci-openshift-release-master-label-sync, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/arm01-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hive-dry, ci/prow/jira-lifecycle-config, ci/build-farm/multi01-dry, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/prow/supplemental-ci-images-mapping-files, ci/build-farm/vsphere-dry, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

ci/openshift/promrules:
  decorate: true
  spec:
    containers:
    - command:
      - /go/entrypoint.sh
      image: registry.svc.ci.openshift.org/ci/promrules:latest
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
          cpu: 500m
        requests:
          cpu: 10m

ci/prow/pylint:
  decorate: true
  spec:
    containers:
    - args:
      - --rcfile=hack/.pylintrc
      - --ignore=lib
      - --persistent=n
      - hack
      command:
      - pylint
      image: registry.svc.ci.openshift.org/ci/python-validation
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
  ...

branch-ci-openshift-release-master-label-sync:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/prow/02_config/_labels.yaml
      - --confirm=true
  ...

ci/prow/check-gh-automation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --bot=openshift-merge-robot
      - --bot=openshift-ci-robot
      - --app=openshift-ci
      - --app-check-mode=standard
      - --candidate-path=.
  ...

ci/prow/check-gh-automation-tide:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --app=openshift-merge-bot
      - --app-check-mode=tide
      - --candidate-path=.
      - --config-path=./core-services/prow/02_config/_config.yaml
  ...

ci/prow/ci-secret-bootstrap-config-validation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - command:
      - ./hack/validate-ci-secret-boostrap.sh
      image: registry.ci.openshift.org/ci/ci-secret-bootstrap:latest
      imagePullPolicy: Always
      name: ''
      resources:
        requests:
  ...

ci/prow/clusterimageset-validate:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --pools
      - ./clusters/hive/pools
      - --imagesets
      - ./clusters/hive/pools
      command:
      - clusterimageset-updater
  ...

ci/build-farm/app-ci-config-dry:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --config-dir=clusters/app.ci
      - --confirm=false
      - --as=
      command:
      - applyconfig
      env:
      - name: HOME
        value: /tmp
      - name: PAGERDUTY_INTEGRATION_KEY
  ...

ci/build-farm/arm01-dry:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --config-dir
      - clusters/build-clusters/arm01
      - --ignore-file
      - clusters/build-clusters/common/assets/pod-scaler-admission.yaml
      - --kubeconfig
  ...

OCPQE-18638: Use one folder/repo for easier maintain (#48099)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.15__automated-release.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.15-periodics.yaml
  ci-operator/jobs/openshift/verification-tests/openshift-verification-tests-master-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

OSSM-5831: update slack channel names for OSSM (#48151)
  ci-operator/jobs/maistra/istio-operator/maistra-istio-operator-maistra-3.0-periodics.yaml
  ci-operator/jobs/maistra/maistra-test-tool/maistra-maistra-test-tool-main-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

[CVP-3974] bugfix: Reset values of size and maxsize parameters (#48161)
  clusters/hive/pools/cvp/cvp-ocp-4-16-amd64-aws-us-west-1_clusterpool.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/arm01-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/build-farm/hive-dry, ci/build-farm/multi01-dry, ci/build-farm/vsphere-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Fixing jenkins plugin periodics
  ci-operator/config/openshift/jenkins-client-plugin/openshift-jenkins-client-plugin-master.yaml
  ci-operator/config/openshift/jenkins-client-plugin/openshift-jenkins-client-plugin-release-4.11.yaml
  ci-operator/config/openshift/jenkins-client-plugin/openshift-jenkins-client-plugin-release-4.12.yaml
  ci-operator/config/openshift/jenkins-client-plugin/openshift-jenkins-client-plugin-release-4.13.yaml
  ci-operator/config/openshift/jenkins-client-plugin/openshift-jenkins-client-plugin-release-4.14.yaml
  ci-operator/config/openshift/jenkins-client-plugin/openshift-jenkins-client-plugin-release-4.15.yaml
  ci-operator/config/openshift/jenkins-sync-plugin/openshift-jenkins-sync-plugin-master.yaml
  ci-operator/config/openshift/jenkins-sync-plugin/openshift-jenkins-sync-plugin-release-4.11.yaml
  ci-operator/config/openshift/jenkins-sync-plugin/openshift-jenkins-sync-plugin-release-4.12.yaml
  ci-operator/config/openshift/jenkins-sync-plugin/openshift-jenkins-sync-plugin-release-4.13.yaml
  ci-operator/config/openshift/jenkins-sync-plugin/openshift-jenkins-sync-plugin-release-4.14.yaml
  ci-operator/config/openshift/jenkins-sync-plugin/openshift-jenkins-sync-plugin-release-4.15.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

SDN Live migration: create dependent namespace before migration
  ci-operator/config/openshift-priv/cluster-network-operator/openshift-priv-cluster-network-operator-master.yaml
  ci-operator/config/openshift-priv/cluster-network-operator/openshift-priv-cluster-network-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-network-operator/openshift-priv-cluster-network-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-network-operator/openshift-priv-cluster-network-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/ovn-kubernetes/openshift-priv-ovn-kubernetes-master.yaml
  ci-operator/config/openshift-priv/ovn-kubernetes/openshift-priv-ovn-kubernetes-release-4.15.yaml
  ci-operator/config/openshift-priv/ovn-kubernetes/openshift-priv-ovn-kubernetes-release-4.16.yaml
  ci-operator/config/openshift-priv/ovn-kubernetes/openshift-priv-ovn-kubernetes-release-4.17.yaml
  ci-operator/config/openshift/cluster-network-operator/openshift-cluster-network-operator-master.yaml
  ci-operator/config/openshift/cluster-network-operator/openshift-cluster-network-operator-release-4.15.yaml
  ci-operator/config/openshift/cluster-network-operator/openshift-cluster-network-operator-release-4.16.yaml
  ci-operator/config/openshift/cluster-network-operator/openshift-cluster-network-operator-release-4.17.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-master.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.15.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.16.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.17.yaml
  ci-operator/step-registry/ovn/sdn-live-migration-init/OWNERS
  ci-operator/step-registry/ovn/sdn-live-migration-init/ovn-sdn-live-migration-init-commands.sh
  ci-operator/step-registry/ovn/sdn-live-migration-init/ovn-sdn-live-migration-init-ref.metadata.json
  ci-operator/step-registry/ovn/sdn-live-migration-init/ovn-sdn-live-migration-init-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

export GOCACHE and GOMODCACHE (#48153)
  ci-operator/config/openshift/assisted-image-service/openshift-assisted-image-service-main__edge.yaml
  ci-operator/config/openshift/assisted-installer-agent/openshift-assisted-installer-agent-master__edge.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Update TEST_CONFIG in openshift-osde2e-main__nightly_blocking-4.15.yaml
  ci-operator/config/openshift/osde2e/openshift-osde2e-main__nightly_blocking-4.15.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

init
  ci-operator/config/terraform-redhat/terraform-rhcs-rosa/terraform-redhat-terraform-rhcs-rosa-main.yaml
  ci-operator/jobs/terraform-redhat/terraform-rhcs-rosa/terraform-redhat-terraform-rhcs-rosa-main-periodics.yaml
  ci-operator/step-registry/rosa/terraform/e2e/tests/tmp/OWNERS
  ci-operator/step-registry/rosa/terraform/e2e/tests/tmp/rosa-terraform-e2e-tests-tmp-commands.sh
  ci-operator/step-registry/rosa/terraform/e2e/tests/tmp/rosa-terraform-e2e-tests-tmp-ref.metadata.json
  ci-operator/step-registry/rosa/terraform/e2e/tests/tmp/rosa-terraform-e2e-tests-tmp-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

CMA: add security scan as optional test
  ci-operator/config/openshift/custom-metrics-autoscaler-operator/openshift-custom-metrics-autoscaler-operator-main.yaml
  ci-operator/config/openshift/custom-metrics-autoscaler-operator/openshift-custom-metrics-autoscaler-operator-release-4.11.yaml
  ci-operator/config/openshift/custom-metrics-autoscaler-operator/openshift-custom-metrics-autoscaler-operator-release-4.12.yaml
  ci-operator/config/openshift/custom-metrics-autoscaler-operator/openshift-custom-metrics-autoscaler-operator-release-4.13.yaml
  ci-operator/config/openshift/custom-metrics-autoscaler-operator/openshift-custom-metrics-autoscaler-operator-release-4.14.yaml
  ci-operator/config/openshift/custom-metrics-autoscaler-operator/openshift-custom-metrics-autoscaler-operator-release-4.15.yaml
  ci-operator/config/openshift/custom-metrics-autoscaler-operator/openshift-custom-metrics-autoscaler-operator-release-4.16.yaml
  ci-operator/config/openshift/custom-metrics-autoscaler-operator/openshift-custom-metrics-autoscaler-operator-release-4.17.yaml
  ci-operator/jobs/openshift/custom-metrics-autoscaler-operator/openshift-custom-metrics-autoscaler-operator-main-presubmits.yaml
  ci-operator/jobs/openshift/custom-metrics-autoscaler-operator/openshift-custom-metrics-autoscaler-operator-release-4.11-presubmits.yaml
  ci-operator/jobs/openshift/custom-metrics-autoscaler-operator/openshift-custom-metrics-autoscaler-operator-release-4.12-presubmits.yaml
  ci-operator/jobs/openshift/custom-metrics-autoscaler-operator/openshift-custom-metrics-autoscaler-operator-release-4.13-presubmits.yaml
  ci-operator/jobs/openshift/custom-metrics-autoscaler-operator/openshift-custom-metrics-autoscaler-operator-release-4.14-presubmits.yaml
  ci-operator/jobs/openshift/custom-metrics-autoscaler-operator/openshift-custom-metrics-autoscaler-operator-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift/custom-metrics-autoscaler-operator/openshift-custom-metrics-autoscaler-operator-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift/custom-metrics-autoscaler-operator/openshift-custom-metrics-autoscaler-operator-release-4.17-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

VPA: add security scan as optional test
  ci-operator/config/openshift/vertical-pod-autoscaler-operator/openshift-vertical-pod-autoscaler-operator-master.yaml
  ci-operator/config/openshift/vertical-pod-autoscaler-operator/openshift-vertical-pod-autoscaler-operator-release-4.11.yaml
  ci-operator/config/openshift/vertical-pod-autoscaler-operator/openshift-vertical-pod-autoscaler-operator-release-4.12.yaml
  ci-operator/config/openshift/vertical-pod-autoscaler-operator/openshift-vertical-pod-autoscaler-operator-release-4.13.yaml
  ci-operator/config/openshift/vertical-pod-autoscaler-operator/openshift-vertical-pod-autoscaler-operator-release-4.14.yaml
  ci-operator/config/openshift/vertical-pod-autoscaler-operator/openshift-vertical-pod-autoscaler-operator-release-4.15.yaml
  ci-operator/config/openshift/vertical-pod-autoscaler-operator/openshift-vertical-pod-autoscaler-operator-release-4.16.yaml
  ci-operator/config/openshift/vertical-pod-autoscaler-operator/openshift-vertical-pod-autoscaler-operator-release-4.17.yaml
  ci-operator/jobs/openshift/vertical-pod-autoscaler-operator/openshift-vertical-pod-autoscaler-operator-master-presubmits.yaml
  ci-operator/jobs/openshift/vertical-pod-autoscaler-operator/openshift-vertical-pod-autoscaler-operator-release-4.11-presubmits.yaml
  ci-operator/jobs/openshift/vertical-pod-autoscaler-operator/openshift-vertical-pod-autoscaler-operator-release-4.12-presubmits.yaml
  ci-operator/jobs/openshift/vertical-pod-autoscaler-operator/openshift-vertical-pod-autoscaler-operator-release-4.13-presubmits.yaml
  ci-operator/jobs/openshift/vertical-pod-autoscaler-operator/openshift-vertical-pod-autoscaler-operator-release-4.14-presubmits.yaml
  ci-operator/jobs/openshift/vertical-pod-autoscaler-operator/openshift-vertical-pod-autoscaler-operator-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift/vertical-pod-autoscaler-operator/openshift-vertical-pod-autoscaler-operator-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift/vertical-pod-autoscaler-operator/openshift-vertical-pod-autoscaler-operator-release-4.17-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

KEDA: add security scan as optional test
  ci-operator/config/openshift/kedacore-keda/openshift-kedacore-keda-main.yaml
  ci-operator/config/openshift/kedacore-keda/openshift-kedacore-keda-release-4.11.yaml
  ci-operator/config/openshift/kedacore-keda/openshift-kedacore-keda-release-4.12.yaml
  ci-operator/config/openshift/kedacore-keda/openshift-kedacore-keda-release-4.13.yaml
  ci-operator/config/openshift/kedacore-keda/openshift-kedacore-keda-release-4.14.yaml
  ci-operator/config/openshift/kedacore-keda/openshift-kedacore-keda-release-4.15.yaml
  ci-operator/config/openshift/kedacore-keda/openshift-kedacore-keda-release-4.16.yaml
  ci-operator/config/openshift/kedacore-keda/openshift-kedacore-keda-release-4.17.yaml
  ci-operator/jobs/openshift/kedacore-keda/openshift-kedacore-keda-main-presubmits.yaml
  ci-operator/jobs/openshift/kedacore-keda/openshift-kedacore-keda-release-4.11-presubmits.yaml
  ci-operator/jobs/openshift/kedacore-keda/openshift-kedacore-keda-release-4.12-presubmits.yaml
  ci-operator/jobs/openshift/kedacore-keda/openshift-kedacore-keda-release-4.13-presubmits.yaml
  ci-operator/jobs/openshift/kedacore-keda/openshift-kedacore-keda-release-4.14-presubmits.yaml
  ci-operator/jobs/openshift/kedacore-keda/openshift-kedacore-keda-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift/kedacore-keda/openshift-kedacore-keda-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift/kedacore-keda/openshift-kedacore-keda-release-4.17-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

CRO operand: add security scan as optional test
  ci-operator/config/openshift/cluster-resource-override-admission/openshift-cluster-resource-override-admission-master.yaml
  ci-operator/config/openshift/cluster-resource-override-admission/openshift-cluster-resource-override-admission-release-4.11.yaml
  ci-operator/config/openshift/cluster-resource-override-admission/openshift-cluster-resource-override-admission-release-4.12.yaml
  ci-operator/config/openshift/cluster-resource-override-admission/openshift-cluster-resource-override-admission-release-4.13.yaml
  ci-operator/config/openshift/cluster-resource-override-admission/openshift-cluster-resource-override-admission-release-4.14.yaml
  ci-operator/config/openshift/cluster-resource-override-admission/openshift-cluster-resource-override-admission-release-4.15.yaml
  ci-operator/config/openshift/cluster-resource-override-admission/openshift-cluster-resource-override-admission-release-4.16.yaml
  ci-operator/config/openshift/cluster-resource-override-admission/openshift-cluster-resource-override-admission-release-4.17.yaml
  ci-operator/jobs/openshift/cluster-resource-override-admission/openshift-cluster-resource-override-admission-master-presubmits.yaml
  ci-operator/jobs/openshift/cluster-resource-override-admission/openshift-cluster-resource-override-admission-release-4.11-presubmits.yaml
  ci-operator/jobs/openshift/cluster-resource-override-admission/openshift-cluster-resource-override-admission-release-4.12-presubmits.yaml
  ci-operator/jobs/openshift/cluster-resource-override-admission/openshift-cluster-resource-override-admission-release-4.13-presubmits.yaml
  ci-operator/jobs/openshift/cluster-resource-override-admission/openshift-cluster-resource-override-admission-release-4.14-presubmits.yaml
  ci-operator/jobs/openshift/cluster-resource-override-admission/openshift-cluster-resource-override-admission-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift/cluster-resource-override-admission/openshift-cluster-resource-override-admission-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift/cluster-resource-override-admission/openshift-cluster-resource-override-admission-release-4.17-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

CRO operator: add security scan as optional test
  ci-operator/config/openshift/cluster-resource-override-admission-operator/openshift-cluster-resource-override-admission-operator-master.yaml
  ci-operator/config/openshift/cluster-resource-override-admission-operator/openshift-cluster-resource-override-admission-operator-release-4.11.yaml
  ci-operator/config/openshift/cluster-resource-override-admission-operator/openshift-cluster-resource-override-admission-operator-release-4.12.yaml
  ci-operator/config/openshift/cluster-resource-override-admission-operator/openshift-cluster-resource-override-admission-operator-release-4.13.yaml
  ci-operator/config/openshift/cluster-resource-override-admission-operator/openshift-cluster-resource-override-admission-operator-release-4.14.yaml
  ci-operator/config/openshift/cluster-resource-override-admission-operator/openshift-cluster-resource-override-admission-operator-release-4.15.yaml
  ci-operator/config/openshift/cluster-resource-override-admission-operator/openshift-cluster-resource-override-admission-operator-release-4.16.yaml
  ci-operator/config/openshift/cluster-resource-override-admission-operator/openshift-cluster-resource-override-admission-operator-release-4.17.yaml
  ci-operator/jobs/openshift/cluster-resource-override-admission-operator/openshift-cluster-resource-override-admission-operator-master-presubmits.yaml
  ci-operator/jobs/openshift/cluster-resource-override-admission-operator/openshift-cluster-resource-override-admission-operator-release-4.11-presubmits.yaml
  ci-operator/jobs/openshift/cluster-resource-override-admission-operator/openshift-cluster-resource-override-admission-operator-release-4.12-presubmits.yaml
  ci-operator/jobs/openshift/cluster-resource-override-admission-operator/openshift-cluster-resource-override-admission-operator-release-4.13-presubmits.yaml
  ci-operator/jobs/openshift/cluster-resource-override-admission-operator/openshift-cluster-resource-override-admission-operator-release-4.14-presubmits.yaml
  ci-operator/jobs/openshift/cluster-resource-override-admission-operator/openshift-cluster-resource-override-admission-operator-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift/cluster-resource-override-admission-operator/openshift-cluster-resource-override-admission-operator-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift/cluster-resource-override-admission-operator/openshift-cluster-resource-override-admission-operator-release-4.17-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Revise dpu operator jobs (#48142)
  ci-operator/config/openshift/dpu-operator/openshift-dpu-operator-main.yaml
  ci-operator/jobs/openshift/dpu-operator/openshift-dpu-operator-main-postsubmits.yaml
  ci-operator/jobs/openshift/dpu-operator/openshift-dpu-operator-main-presubmits.yaml
  core-services/image-mirroring/openshift/mapping_origin_4_16
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

init
  ci-operator/config/terraform-redhat/terraform-rhcs-rosa/terraform-redhat-terraform-rhcs-rosa-main.yaml
  ci-operator/jobs/terraform-redhat/terraform-rhcs-rosa/terraform-redhat-terraform-rhcs-rosa-main-periodics.yaml
  ci-operator/step-registry/rosa/terraform/e2e/tests/tmp/rosa-terraform-e2e-tests-tmp-commands.sh
  ci-operator/step-registry/rosa/terraform/e2e/tests/tmp/rosa-terraform-e2e-tests-tmp-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

hypershift/kubevirt e2e: Introduce hcp destroy cluster in CI (#47714)
  ci-operator/step-registry/hypershift/kubevirt/run-e2e-external/hypershift-kubevirt-run-e2e-external-chain.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update MDR base image to UBI 9 (#48082)
  ci-operator/config/medik8s/machine-deletion-remediation/medik8s-machine-deletion-remediation-main__4.12.yaml
  ci-operator/config/medik8s/machine-deletion-remediation/medik8s-machine-deletion-remediation-main__4.13.yaml
  ci-operator/config/medik8s/machine-deletion-remediation/medik8s-machine-deletion-remediation-main__4.14.yaml
  ci-operator/config/medik8s/machine-deletion-remediation/medik8s-machine-deletion-remediation-main__4.15.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

modify cluster
  ci-operator/jobs/openshift/osde2e/openshift-osde2e-main-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

init
  ci-operator/config/terraform-redhat/terraform-rhcs-rosa/terraform-redhat-terraform-rhcs-rosa-main.yaml
  ci-operator/jobs/terraform-redhat/terraform-rhcs-rosa/terraform-redhat-terraform-rhcs-rosa-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add dualstack jobs to openstack-test repo (#47870)
  ci-operator/config/openshift/openstack-test/openshift-openstack-test-main.yaml
  ci-operator/config/openshift/openstack-test/openshift-openstack-test-release-4.15.yaml
  ci-operator/config/openshift/openstack-test/openshift-openstack-test-release-4.16.yaml
  ci-operator/jobs/openshift/openstack-test/openshift-openstack-test-main-presubmits.yaml
  ci-operator/jobs/openshift/openstack-test/openshift-openstack-test-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift/openstack-test/openshift-openstack-test-release-4.16-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

MGMT-16656: remove e2e-metal-assisted-prod job (#48173)
  ci-operator/config/openshift/assisted-test-infra/openshift-assisted-test-infra-master.yaml
  ci-operator/jobs/openshift/assisted-test-infra/openshift-assisted-test-infra-master-periodics.yaml
  ci-operator/jobs/openshift/assisted-test-infra/openshift-assisted-test-infra-master-presubmits.yaml
  ci-operator/step-registry/assisted/common/setup/prepare/assisted-common-setup-prepare-commands.sh
  ci-operator/step-registry/assisted/common/setup/prepare/assisted-common-setup-prepare-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update ci-operator/config/stolostron/policy-collection/stolostron-policy-collection-main__opp-ocp4.15-interop.yaml
  ci-operator/config/stolostron/policy-collection/stolostron-policy-collection-main__opp-ocp4.15-interop.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

OSSM-4947, OSSM-4948: Jobs for envoy & proxy 2.5
  ci-operator/config/maistra/envoy/maistra-envoy-maistra-2.5.yaml
  ci-operator/config/maistra/proxy/maistra-proxy-maistra-2.5.yaml
  ci-operator/jobs/maistra/envoy/maistra-envoy-maistra-2.5-postsubmits.yaml
  ci-operator/jobs/maistra/envoy/maistra-envoy-maistra-2.5-presubmits.yaml
  ci-operator/jobs/maistra/proxy/maistra-proxy-maistra-2.5-postsubmits.yaml
  ci-operator/jobs/maistra/proxy/maistra-proxy-maistra-2.5-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Increase quay-aws leases
  core-services/prow/02_config/_boskos.yaml
  core-services/prow/02_config/generate-boskos.py
Due: ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Increase quay-aws leases (#48180)
  core-services/prow/02_config/_boskos.yaml
  core-services/prow/02_config/generate-boskos.py
Due: ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

add nightlies__ocp-4-15
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-nightlies__ocp-4-15.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/stackrox-stackrox-stackrox-stackrox-check

make update
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-nightlies-postsubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics, ci/prow/stackrox-stackrox-stackrox-stackrox-check

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^ci-operator/config/.*
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/build-farm/arm01-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hive-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/build-farm/multi01-dry: any of: ^clusters/.*
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/prow/supplemental-ci-images-mapping-files: any of: ^(core-services/image-mirroring/supplemental-ci-images/mapping_supplemental_ci_images_.*)
  ci/build-farm/vsphere-dry: any of: ^clusters/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)
