Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

add qe-approved and px-approved labels to obs-ui repos (#62185)
  core-services/prow/02_config/_labels.yaml
  core-services/prow/02_config/openshift/distributed-tracing-console-plugin/_prowconfig.yaml
  core-services/prow/02_config/openshift/logging-view-plugin/_prowconfig.yaml
  core-services/prow/02_config/openshift/monitoring-plugin/_prowconfig.yaml
  core-services/prow/02_config/openshift/troubleshooting-panel-console-plugin/_prowconfig.yaml
Due: branch-ci-openshift-release-master-label-sync, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

taking out duplicate
  ci-operator/step-registry/cucushift/chainupgrade/toimage/cucushift-chainupgrade-toimage-commands.sh
  ci-operator/step-registry/openshift-qe/cluster-density-v2/one/OWNERS
  ci-operator/step-registry/openshift-qe/cluster-density-v2/one/openshift-qe-cluster-density-v2-one-commands.sh
  ci-operator/step-registry/openshift-qe/cluster-density-v2/one/openshift-qe-cluster-density-v2-one-ref.metadata.json
  ci-operator/step-registry/openshift-qe/cluster-density-v2/one/openshift-qe-cluster-density-v2-one-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Adding ACK file support for OLS
  ci-operator/config/openshift/ols-load-generator/openshift-ols-load-generator-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Revert "taking out duplicate"
  ci-operator/step-registry/cucushift/chainupgrade/toimage/cucushift-chainupgrade-toimage-commands.sh
  ci-operator/step-registry/openshift-qe/cluster-density-v2/one/OWNERS
  ci-operator/step-registry/openshift-qe/cluster-density-v2/one/openshift-qe-cluster-density-v2-one-commands.sh
  ci-operator/step-registry/openshift-qe/cluster-density-v2/one/openshift-qe-cluster-density-v2-one-ref.metadata.json
  ci-operator/step-registry/openshift-qe/cluster-density-v2/one/openshift-qe-cluster-density-v2-one-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

more gather
  ci-operator/step-registry/openshift-qe/installer/aws/openshift-qe-installer-aws-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

adding no gather
  ci-operator/config/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main__aws-4.16-nightly-x86-cpou-loaded-upgrade-from-4.14.yaml
  ci-operator/jobs/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main-presubmits.yaml
  ci-operator/step-registry/openshift-qe/installer/aws/openshift-qe-installer-aws-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

add ux-approved to additional_labels
  core-services/prow/02_config/_plugins.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

operator-marketplace: Add make verify check
  ci-operator/config/openshift-priv/operator-marketplace/openshift-priv-operator-marketplace-master.yaml
  ci-operator/config/openshift-priv/operator-marketplace/openshift-priv-operator-marketplace-release-4.16.yaml
  ci-operator/config/openshift-priv/operator-marketplace/openshift-priv-operator-marketplace-release-4.17.yaml
  ci-operator/config/openshift-priv/operator-marketplace/openshift-priv-operator-marketplace-release-4.18.yaml
  ci-operator/config/openshift-priv/operator-marketplace/openshift-priv-operator-marketplace-release-4.19.yaml
  ci-operator/config/openshift-priv/operator-marketplace/openshift-priv-operator-marketplace-release-4.20.yaml
  ci-operator/config/operator-framework/operator-marketplace/operator-framework-operator-marketplace-master.yaml
  ci-operator/config/operator-framework/operator-marketplace/operator-framework-operator-marketplace-release-4.16.yaml
  ci-operator/config/operator-framework/operator-marketplace/operator-framework-operator-marketplace-release-4.17.yaml
  ci-operator/config/operator-framework/operator-marketplace/operator-framework-operator-marketplace-release-4.18.yaml
  ci-operator/config/operator-framework/operator-marketplace/operator-framework-operator-marketplace-release-4.19.yaml
  ci-operator/config/operator-framework/operator-marketplace/operator-framework-operator-marketplace-release-4.20.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add optional CI jobs for testing Compliance Operator on ARM64
  ci-operator/config/ComplianceAsCode/compliance-operator/ComplianceAsCode-compliance-operator-master.yaml
  ci-operator/jobs/ComplianceAsCode/compliance-operator/ComplianceAsCode-compliance-operator-master-postsubmits.yaml
  ci-operator/jobs/ComplianceAsCode/compliance-operator/ComplianceAsCode-compliance-operator-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Set arm64 as an additional architecture for testcontent
  ci-operator/config/ComplianceAsCode/compliance-operator/ComplianceAsCode-compliance-operator-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

revert: OCP version in kubevirt-tekton-tasks to 4.18 (#62228)
  ci-operator/config/kubevirt/kubevirt-tekton-tasks/kubevirt-kubevirt-tekton-tasks-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Bug fix: Correcting kube-burner ocp wrapper directory
  ci-operator/config/cloud-bulldozer/e2e-benchmarking/cloud-bulldozer-e2e-benchmarking-master.yaml
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/cluster-density-ms/cloud-bulldozer-e2e-benchmarking-cluster-density-ms-commands.sh
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/crd-scale/cloud-bulldozer-e2e-benchmarking-crd-scale-commands.sh
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/network-policy/cloud-bulldozer-e2e-benchmarking-network-policy-commands.sh
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/networkpolicy-matchexpressions/cloud-bulldozer-e2e-benchmarking-networkpolicy-matchexpressions-commands.sh
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/networkpolicy-matchlabels/cloud-bulldozer-e2e-benchmarking-networkpolicy-matchlabels-commands.sh
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/networkpolicy-multitenant/cloud-bulldozer-e2e-benchmarking-networkpolicy-multitenant-commands.sh
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/pvc-density/cloud-bulldozer-e2e-benchmarking-pvc-density-commands.sh
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/whereabouts/cloud-bulldozer-e2e-benchmarking-whereabouts-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Resolve conflicts
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/networkpolicy-matchlabels/cloud-bulldozer-e2e-benchmarking-networkpolicy-matchlabels-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

infra-periodics.yaml: use branch main in periodic-update-origin-disruption-alert-data (#62235)
  ci-operator/jobs/infra-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

[Bug fix] Update kube-burner ocp wrapper path in e2e tests (#62241)
  ci-operator/config/cloud-bulldozer/e2e-benchmarking/cloud-bulldozer-e2e-benchmarking-master.yaml
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/cluster-density-ms/cloud-bulldozer-e2e-benchmarking-cluster-density-ms-commands.sh
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/crd-scale/cloud-bulldozer-e2e-benchmarking-crd-scale-commands.sh
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/network-policy/cloud-bulldozer-e2e-benchmarking-network-policy-commands.sh
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/networkpolicy-matchexpressions/cloud-bulldozer-e2e-benchmarking-networkpolicy-matchexpressions-commands.sh
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/networkpolicy-matchlabels/cloud-bulldozer-e2e-benchmarking-networkpolicy-matchlabels-commands.sh
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/networkpolicy-multitenant/cloud-bulldozer-e2e-benchmarking-networkpolicy-multitenant-commands.sh
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/pvc-density/cloud-bulldozer-e2e-benchmarking-pvc-density-commands.sh
  ci-operator/step-registry/cloud-bulldozer/e2e-benchmarking/whereabouts/cloud-bulldozer-e2e-benchmarking-whereabouts-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

periodic-update-origin-disruption-alert-data use 'main' for prcreator
  ci-operator/jobs/infra-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

QCI and quayio pull through cache migration
  clusters/app.ci/quayio-pull-through-cache/qci-pull-through-cache-us-east-1.yaml
  clusters/app.ci/quayio-pull-through-cache/quayio-pull-through-cache-gcs.yaml
  clusters/master/apps/qci-pull-through-cache/machineset/qci-cache-worker-amd64.yaml
  clusters/master/apps/qci-pull-through-cache/qci-pull-through-cache-us-east-1.yaml
  clusters/master/apps/quayio-pull-through-cache/quayio-pull-through-cache-gcs.yaml
  clusters/master/manifests/qci-pull-through-cache.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

QCI and quayio pull through cache migration (#62246)
  clusters/app.ci/quayio-pull-through-cache/qci-pull-through-cache-us-east-1.yaml
  clusters/app.ci/quayio-pull-through-cache/quayio-pull-through-cache-gcs.yaml
  clusters/master/apps/qci-pull-through-cache/machineset/qci-cache-worker-amd64.yaml
  clusters/master/apps/qci-pull-through-cache/qci-pull-through-cache-us-east-1.yaml
  clusters/master/apps/quayio-pull-through-cache/quayio-pull-through-cache-gcs.yaml
  clusters/master/manifests/qci-pull-through-cache.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

periodic-update-origin-disruption-alert-data use 'main' for prcreator (#62244)
  ci-operator/jobs/infra-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

update the presubmit tests
  ci-operator/jobs/openshift-psap/topsail/openshift-psap-topsail-main-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

mac_ai-ci: reduce the hw requests
  ci-operator/config/openshift-psap/topsail/openshift-psap-topsail-main__mac_ai.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

jump-ci: use the prebuilt topsail-ligth image
  ci-operator/config/openshift-psap/topsail/openshift-psap-topsail-main__jump.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

macai: remove this unused test
  ci-operator/config/openshift-psap/topsail/openshift-psap-topsail-main__macai.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add RHDH upgrade test
  ci-operator/config/redhat-developer/rhdh/redhat-developer-rhdh-main.yaml
  ci-operator/jobs/redhat-developer/rhdh/redhat-developer-rhdh-main-periodics.yaml
  ci-operator/jobs/redhat-developer/rhdh/redhat-developer-rhdh-main-presubmits.yaml
  ci-operator/step-registry/redhat-developer/rhdh/upgrade/OWNERS
  ci-operator/step-registry/redhat-developer/rhdh/upgrade/nightly/OWNERS
  ci-operator/step-registry/redhat-developer/rhdh/upgrade/nightly/redhat-developer-rhdh-upgrade-nightly-commands.sh
  ci-operator/step-registry/redhat-developer/rhdh/upgrade/nightly/redhat-developer-rhdh-upgrade-nightly-ref.metadata.json
  ci-operator/step-registry/redhat-developer/rhdh/upgrade/nightly/redhat-developer-rhdh-upgrade-nightly-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add optional CI jobs for testing Compliance Operator on ARM64 (#61066)
  ci-operator/config/ComplianceAsCode/compliance-operator/ComplianceAsCode-compliance-operator-master.yaml
  ci-operator/jobs/ComplianceAsCode/compliance-operator/ComplianceAsCode-compliance-operator-master-postsubmits.yaml
  ci-operator/jobs/ComplianceAsCode/compliance-operator/ComplianceAsCode-compliance-operator-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

dont copy metadata.json to artifacts. some platforms store credentials.
  ci-operator/step-registry/ipi/deprovision/deprovision/ipi-deprovision-deprovision-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Increase resource for installer OKD scos images job
  ci-operator/config/openshift/installer/openshift-installer-main__okd-scos.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Increase hypershift job timeouts
  core-services/prow/02_config/_config.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

OCPQE-28700: add 'MULTISTAGE_PARAM_OVERRIDE_LVM_OPERATOR_SUB_CHANNEL' Optional
  ci-operator/step-registry/operatorhub/subscribe/lvm-operator/operatorhub-subscribe-lvm-operator-commands.sh
  ci-operator/step-registry/operatorhub/subscribe/lvm-operator/operatorhub-subscribe-lvm-operator-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Sync OWNERS files by autoowners job at Sat, 01 Mar 2025 07:41:34 UTC
  ci-operator/config/openshift-assisted/assisted-installer-ui/OWNERS
  ci-operator/jobs/openshift-assisted/assisted-installer-ui/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics
