Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

oauth-server: add myself to backport-risk-assessed allowed_users (#66878)
  core-services/prow/02_config/openshift/oauth-server/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

config-brancher --config-dir ./ci-operator/config --current-release 4.20 --skip-periodics --future-release 4.21 --confirm
  ci-operator/config/openshift/cloud-provider-aws/openshift-cloud-provider-aws-release-4.21.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.21.yaml
  ci-operator/config/openshift/insights-operator/openshift-insights-operator-release-4.21.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

add support for adding 'run-integration-tests' label to opendatahub-operator (#66888)
  core-services/prow/02_config/_labels.yaml
Due: branch-ci-openshift-release-master-label-sync, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

List all the members of a load balancer pool in gather-ibmcloud-resource step (#66869)
  ci-operator/step-registry/gather/ibmcloud-resource/gather-ibmcloud-resource-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

MCE hypershift addon 2.10 (#66894)
  ci-operator/config/stolostron/hypershift-addon-operator/stolostron-hypershift-addon-operator-backplane-2.10.yaml
  ci-operator/config/stolostron/hypershift-addon-operator/stolostron-hypershift-addon-operator-main.yaml
  ci-operator/jobs/stolostron/hypershift-addon-operator/stolostron-hypershift-addon-operator-backplane-2.10-postsubmits.yaml
  ci-operator/jobs/stolostron/hypershift-addon-operator/stolostron-hypershift-addon-operator-backplane-2.10-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

USHIFT-5614: Fix RELEASE_IMAGE_INITIAL logic (#66885)
  ci-operator/step-registry/openshift/microshift/infra/rpm-install-aws/openshift-microshift-infra-rpm-install-aws-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

add exclude default (#66890)
  core-services/jira-lifecycle-plugin/config.yaml
Due: ci/prow/jira-lifecycle-config

windows_exporter: bump image to ocp 4.20 and stop cloning WMCO in favor of openshift/promu (#66844)
  ci-operator/config/openshift/prometheus-community-windows_exporter/openshift-prometheus-community-windows_exporter-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

[crc-org/llama.cpp] Update from TOPSAIL main (#66886)
  ci-operator/config/crc-org/llama.cpp/crc-org-llama.cpp-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Fix missing params in jq command (#66917)
  ci-operator/step-registry/junit2reportportal/junit2reportportal-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

USHIFT-5620: Nightly jobs for MicroShift and Nvidia Device Plugin (#66698)
  ci-operator/config/openshift/microshift/openshift-microshift-release-4.14.yaml
  ci-operator/config/openshift/microshift/openshift-microshift-release-4.15.yaml
  ci-operator/config/openshift/microshift/openshift-microshift-release-4.16.yaml
  ci-operator/config/openshift/microshift/openshift-microshift-release-4.17.yaml
  ci-operator/config/openshift/microshift/openshift-microshift-release-4.18__periodics.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-4.14-periodics.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-4.15-periodics.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-4.16-periodics.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-4.17-periodics.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-4.18-periodics.yaml
  ci-operator/step-registry/openshift/microshift/e2e/bare-metal-tests/openshift-microshift-e2e-bare-metal-tests-commands.sh
  ci-operator/step-registry/openshift/microshift/e2e/bare-metal-tests/openshift-microshift-e2e-bare-metal-tests-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

udpate-custom-dns-format (#66772)
  ci-operator/step-registry/aws/provision/route53/public-record-sets/aws-provision-route53-public-record-sets-commands.sh
  ci-operator/step-registry/aws/provision/route53/public-record-sets/aws-provision-route53-public-record-sets-ref.yaml
  ci-operator/step-registry/gcp/provision/public-custom-dns/gcp-provision-public-custom-dns-commands.sh
  ci-operator/step-registry/gcp/provision/public-custom-dns/gcp-provision-public-custom-dns-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add e2e tests to cluster-api-provider-metal3 (#66830)
  ci-operator/config/openshift/cluster-api-provider-metal3/openshift-cluster-api-provider-metal3-main.yaml
  ci-operator/jobs/openshift/cluster-api-provider-metal3/openshift-cluster-api-provider-metal3-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

feat(io): add periodics to sippy (#66494)
  ci-operator/config/openshift/insights-operator/openshift-insights-operator-release-4.20__periodics.yaml
  ci-operator/jobs/openshift/insights-operator/openshift-insights-operator-release-4.20-periodics.yaml
  ci-operator/jobs/openshift/insights-operator/openshift-insights-operator-release-4.20-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.15.54-x86-64-for-4.15.0-0-to-4.16.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.18.19-x86-64-for-4.18.0-0-to-4.19.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

config-brancher --config-dir ./ci-operator/config --current-release 4.20 --skip-periodics --future-release 4.21 --confirm
  ci-operator/config/openshift/cluster-api-provider-metal3/openshift-cluster-api-provider-metal3-release-4.20.yaml
  ci-operator/config/openshift/cluster-api-provider-metal3/openshift-cluster-api-provider-metal3-release-4.21.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.21.yaml
  ci-operator/config/openshift/insights-operator/openshift-insights-operator-release-4.21.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Install container-tools and runc (#66845)
  ci-operator/step-registry/baremetalds/devscripts/proxy/baremetalds-devscripts-proxy-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update DT Konflux catatalogsource ICSP (#66910)
  ci-operator/step-registry/distributed-tracing/install/otel-konflux-catalogsource/distributed-tracing-install-otel-konflux-catalogsource-commands.sh
  ci-operator/step-registry/distributed-tracing/install/tempo-konflux-catalogsource/distributed-tracing-install-tempo-konflux-catalogsource-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

[operator-controller]: Add CI check to call all test from OTE bin (#66619)
  ci-operator/config/openshift/operator-framework-operator-controller/openshift-operator-framework-operator-controller-main.yaml
  ci-operator/config/openshift/operator-framework-operator-controller/openshift-operator-framework-operator-controller-release-4.20.yaml
  ci-operator/config/openshift/operator-framework-operator-controller/openshift-operator-framework-operator-controller-release-4.21.yaml
  ci-operator/jobs/openshift/operator-framework-operator-controller/openshift-operator-framework-operator-controller-main-presubmits.yaml
  ci-operator/jobs/openshift/operator-framework-operator-controller/openshift-operator-framework-operator-controller-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/operator-framework-operator-controller/openshift-operator-framework-operator-controller-release-4.21-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Run even more tests (#66907)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__amd64-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

USHIFT-5614: Use RELEASE_IMAGE_LATEST instead of initial (#66892)
  ci-operator/step-registry/openshift/microshift/infra/rpm-install-aws/openshift-microshift-infra-rpm-install-aws-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ci-operator-prowgen --from-dir ./ci-operator/config --to-dir ./ci-operator/jobs
  ci-operator/jobs/openshift-priv/cluster-api-provider-metal3/openshift-priv-cluster-api-provider-metal3-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-metal3/openshift-priv-cluster-api-provider-metal3-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-metal3/openshift-priv-cluster-api-provider-metal3-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-metal3/openshift-cluster-api-provider-metal3-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-metal3/openshift-cluster-api-provider-metal3-release-4.21-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.17.35-x86-64-for-4.17.0-0-to-4.18.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.19.3-x86-64-for-4.19.0-0-to-4.20.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

MGDAPI-6613 delete test-cases from integreatly-operator repo (#66889)
  ci-operator/config/integr8ly/integreatly-operator/integr8ly-integreatly-operator-master.yaml
  ci-operator/jobs/integr8ly/integreatly-operator/integr8ly-integreatly-operator-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

add 'run-integration-tests' label to prow plugin config (#66929)
  core-services/prow/02_config/_plugins.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Sync OWNERS files by autoowners job at Thu, 10 Jul 2025 07:42:31 UTC (#66921)
  ci-operator/config/crc-org/llama.cpp/OWNERS
  ci-operator/config/operator-framework/operator-lifecycle-manager/OWNERS
  ci-operator/jobs/crc-org/llama.cpp/OWNERS
  ci-operator/jobs/operator-framework/operator-lifecycle-manager/OWNERS
  core-services/prow/02_config/crc-org/llama.cpp/OWNERS
  core-services/prow/02_config/operator-framework/operator-lifecycle-manager/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Install hypershift operator with --enable-cpo-overrides when testing CPO overrides (#66903)
  ci-operator/step-registry/hypershift/install/hypershift-install-commands.sh
  ci-operator/step-registry/hypershift/install/hypershift-install-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

debug: run io periodics every hour (#66919)
  ci-operator/config/openshift/insights-operator/openshift-insights-operator-release-4.20__periodics.yaml
  ci-operator/jobs/openshift/insights-operator/openshift-insights-operator-release-4.20-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

fix ci daily (#66927)
  ci-operator/config/codeready-toolchain/toolchain-e2e/codeready-toolchain-toolchain-e2e-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-operator: coreos-assembler: update skip job list (#66738)
  ci-operator/config/openshift/cluster-autoscaler-operator/openshift-cluster-autoscaler-operator-main.yaml
  ci-operator/config/openshift/cluster-autoscaler-operator/openshift-cluster-autoscaler-operator-main__okd-scos.yaml
  ci-operator/config/openshift/cluster-autoscaler-operator/openshift-cluster-autoscaler-operator-release-4.13.yaml
  ci-operator/config/openshift/cluster-autoscaler-operator/openshift-cluster-autoscaler-operator-release-4.14.yaml
  ci-operator/config/openshift/cluster-autoscaler-operator/openshift-cluster-autoscaler-operator-release-4.15.yaml
  ci-operator/config/openshift/cluster-autoscaler-operator/openshift-cluster-autoscaler-operator-release-4.16.yaml
  ci-operator/config/openshift/cluster-autoscaler-operator/openshift-cluster-autoscaler-operator-release-4.17.yaml
  ci-operator/config/openshift/cluster-autoscaler-operator/openshift-cluster-autoscaler-operator-release-4.18.yaml
  ci-operator/config/openshift/cluster-autoscaler-operator/openshift-cluster-autoscaler-operator-release-4.18__okd-scos.yaml
  ci-operator/config/openshift/cluster-autoscaler-operator/openshift-cluster-autoscaler-operator-release-4.19.yaml
  ci-operator/config/openshift/cluster-autoscaler-operator/openshift-cluster-autoscaler-operator-release-4.19__okd-scos.yaml
  ci-operator/config/openshift/cluster-autoscaler-operator/openshift-cluster-autoscaler-operator-release-4.20.yaml
  ci-operator/config/openshift/cluster-autoscaler-operator/openshift-cluster-autoscaler-operator-release-4.21.yaml
  ci-operator/jobs/coreos/coreos-assembler/coreos-coreos-assembler-main-presubmits.yaml
  ci-operator/jobs/openshift/cluster-autoscaler-operator/openshift-cluster-autoscaler-operator-main-presubmits.yaml
  ci-operator/jobs/openshift/cluster-autoscaler-operator/openshift-cluster-autoscaler-operator-release-4.13-presubmits.yaml
  ci-operator/jobs/openshift/cluster-autoscaler-operator/openshift-cluster-autoscaler-operator-release-4.14-presubmits.yaml
  ci-operator/jobs/openshift/cluster-autoscaler-operator/openshift-cluster-autoscaler-operator-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift/cluster-autoscaler-operator/openshift-cluster-autoscaler-operator-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift/cluster-autoscaler-operator/openshift-cluster-autoscaler-operator-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift/cluster-autoscaler-operator/openshift-cluster-autoscaler-operator-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift/cluster-autoscaler-operator/openshift-cluster-autoscaler-operator-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift/cluster-autoscaler-operator/openshift-cluster-autoscaler-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/cluster-autoscaler-operator/openshift-cluster-autoscaler-operator-release-4.21-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

cnf network: setup phase-1/2 for 4.18 CI lane (#66661)
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-network-phase1-4.18.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-network-phase2-4.18.yaml
  ci-operator/jobs/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main-periodics.yaml
  ci-operator/step-registry/telcov10n/functional/cnf-network/gather-artifacts-from-bastion/OWNERS
  ci-operator/step-registry/telcov10n/functional/cnf-network/gather-artifacts-from-bastion/telcov10n-functional-cnf-network-gather-artifacts-from-bastion-commands.sh
  ci-operator/step-registry/telcov10n/functional/cnf-network/gather-artifacts-from-bastion/telcov10n-functional-cnf-network-gather-artifacts-from-bastion-ref.metadata.json
  ci-operator/step-registry/telcov10n/functional/cnf-network/gather-artifacts-from-bastion/telcov10n-functional-cnf-network-gather-artifacts-from-bastion-ref.yaml
  ci-operator/step-registry/telcov10n/functional/cnf-network/store-artifacts-on-bastion/OWNERS
  ci-operator/step-registry/telcov10n/functional/cnf-network/store-artifacts-on-bastion/telcov10n-functional-cnf-network-store-artifacts-on-bastion-commands.sh
  ci-operator/step-registry/telcov10n/functional/cnf-network/store-artifacts-on-bastion/telcov10n-functional-cnf-network-store-artifacts-on-bastion-ref.metadata.json
  ci-operator/step-registry/telcov10n/functional/cnf-network/store-artifacts-on-bastion/telcov10n-functional-cnf-network-store-artifacts-on-bastion-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Disable monitor test service-type-load-balancer-availability and skip etcd testcase for PowerVS runs (#64412)
  ci-operator/step-registry/openshift/e2e/libvirt/conf/openshift-e2e-libvirt-conf-commands.sh
  ci-operator/step-registry/openshift/e2e/libvirt/test/openshift-e2e-libvirt-test-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add kubectl in PATH (#66914)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-master.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.12.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.13.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.14.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.15.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.17.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.21.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

mirror golangci-lint:v1.64.8 which is compatible with golang v1.24 (#66928)
  core-services/image-mirroring/_config.yaml
Due: ci/prow/image-mirroring-config-validation

Update maistra/istio builder image (#66362)
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-main__ocp-4.18.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-main__ocp-4.19.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.1__ocp-4.18.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.1__ocp-4.19.yaml
  core-services/image-mirroring/_config.yaml
Due: ci/prow/check-gh-automation, ci/prow/image-mirroring-config-validation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Exclude test results from junit_cypress-*.xml files (#66924)
  ci-operator/step-registry/junit2reportportal/junit2reportportal-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck
