Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

ci/openshift/promrules:
  decorate: true
  spec:
    containers:
    - command:
      - /go/entrypoint.sh
      image: registry.svc.ci.openshift.org/ci/promrules:latest
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
          cpu: 500m
        requests:
          cpu: 10m

ci/prow/pylint:
  decorate: true
  spec:
    containers:
    - args:
      - --rcfile=hack/.pylintrc
      - --ignore=lib
      - --persistent=n
      - hack
      command:
      - pylint
      image: registry.svc.ci.openshift.org/ci/python-validation
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
  ...

ci/prow/check-cluster-profiles-config:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    automountServiceAccountToken: true
    containers:
    - args:
      - --config-path=./ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml
      command:
      - check-cluster-profiles-config
  ...

ci/prow/check-gh-automation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --bot=openshift-merge-robot
      - --bot=openshift-ci-robot
      - --app=openshift-ci
      - --app-check-mode=standard
      - --candidate-path=.
  ...

ci/prow/check-gh-automation-tide:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --app=openshift-merge-bot
      - --app-check-mode=tide
      - --candidate-path=.
      - --config-path=./core-services/prow/02_config/_config.yaml
  ...

ci/prow/image-mirroring-config-validation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --release-repo-git-sync-path=.
      - --registry-config=/etc/pull/.dockerconfigjson
      - --config=./core-services/image-mirroring/_config.yaml
      - --validate-config-only=true
  ...

ci/prow/ci-secret-bootstrap-config-validation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - command:
      - ./hack/validate-ci-secret-boostrap.sh
      image: registry.ci.openshift.org/ci/ci-secret-bootstrap:latest
      imagePullPolicy: Always
      name: ''
      resources:
        requests:
  ...

ci/prow/clusterimageset-validate:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --pools
      - ./clusters/hosted-mgmt/hive/pools
      - --imagesets
      - ./clusters/hosted-mgmt/hive/pools
      command:
      - clusterimageset-updater
  ...

ci/build-farm/build01-dry:
  decorate: true
  labels:
    ci.openshift.io/build-farm: build01
    ci.openshift.io/generator: cluster-init
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --config-dir=clusters/build-clusters/build01
      - --as=
  ...

OCPQE-21261 sast scans-kautoscaler/autoscaleroperator/cloudprovider-aws/azure/ibm (#57636)
  ci-operator/config/openshift/cloud-provider-aws/openshift-cloud-provider-aws-master.yaml
  ci-operator/config/openshift/cloud-provider-azure/openshift-cloud-provider-azure-master.yaml
  ci-operator/config/openshift/cloud-provider-ibm/openshift-cloud-provider-ibm-master.yaml
  ci-operator/config/openshift/cluster-autoscaler-operator/openshift-cluster-autoscaler-operator-master.yaml
  ci-operator/config/openshift/kubernetes-autoscaler/openshift-kubernetes-autoscaler-master.yaml
  ci-operator/jobs/openshift/cloud-provider-aws/openshift-cloud-provider-aws-master-presubmits.yaml
  ci-operator/jobs/openshift/cloud-provider-azure/openshift-cloud-provider-azure-master-presubmits.yaml
  ci-operator/jobs/openshift/cloud-provider-ibm/openshift-cloud-provider-ibm-master-presubmits.yaml
  ci-operator/jobs/openshift/cluster-autoscaler-operator/openshift-cluster-autoscaler-operator-master-presubmits.yaml
  ci-operator/jobs/openshift/kubernetes-autoscaler/openshift-kubernetes-autoscaler-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Update the slack channel to team-camel-quarkus-qe
  ci-operator/config/jboss-fuse/camel-quarkus-openshift-interop/.config.prowgen
  ci-operator/jobs/jboss-fuse/camel-quarkus-openshift-interop/jboss-fuse-camel-quarkus-openshift-interop-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

cleanup
  ci-operator/step-registry/ipi/conf/vsphere/lb/external/ipi-conf-vsphere-lb-external-commands.py
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Var fix
  ci-operator/step-registry/openshift-qe/installer/bm/foreman/openshift-qe-installer-bm-foreman-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

vSphere: Add python image for steps (#57722)
  core-services/image-mirroring/_config.yaml
Due: ci/prow/image-mirroring-config-validation

Fix slack channel name for CAPI Agent prow config
  core-services/prow/02_config/openshift/cluster-api-provider-agent/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Fix slack channel name for CAPI Agent prow config (#57726)
  core-services/prow/02_config/openshift/cluster-api-provider-agent/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Add bpfman and bpfman-operator to openshift-ci
  ci-operator/config/openshift/bpfman-operator/OWNERS
  ci-operator/config/openshift/bpfman-operator/openshift-bpfman-operator-main.yaml
  ci-operator/config/openshift/bpfman/OWNERS
  ci-operator/config/openshift/bpfman/openshift-bpfman-main.yaml
  ci-operator/jobs/openshift/bpfman-operator/OWNERS
  ci-operator/jobs/openshift/bpfman-operator/openshift-bpfman-operator-main-postsubmits.yaml
  ci-operator/jobs/openshift/bpfman-operator/openshift-bpfman-operator-main-presubmits.yaml
  ci-operator/jobs/openshift/bpfman/OWNERS
  ci-operator/jobs/openshift/bpfman/openshift-bpfman-main-postsubmits.yaml
  ci-operator/jobs/openshift/bpfman/openshift-bpfman-main-presubmits.yaml
  core-services/prow/02_config/openshift/bpfman-operator/OWNERS
  core-services/prow/02_config/openshift/bpfman-operator/_pluginconfig.yaml
  core-services/prow/02_config/openshift/bpfman-operator/_prowconfig.yaml
  core-services/prow/02_config/openshift/bpfman/OWNERS
  core-services/prow/02_config/openshift/bpfman/_pluginconfig.yaml
  core-services/prow/02_config/openshift/bpfman/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Update the slack channel to team-camel-quarkus-qe (#57725)
  ci-operator/config/jboss-fuse/camel-quarkus-openshift-interop/.config.prowgen
  ci-operator/jobs/jboss-fuse/camel-quarkus-openshift-interop/jboss-fuse-camel-quarkus-openshift-interop-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

crio: add periodic jobs for node-e2e
  ci-operator/config/cri-o/cri-o/cri-o-cri-o-main__periodics.yaml
  ci-operator/jobs/cri-o/cri-o/cri-o-cri-o-main-periodics.yaml
  ci-operator/step-registry/cri-o/gather/cri-o-gather-commands.sh
  ci-operator/step-registry/cri-o/node/OWNERS
  ci-operator/step-registry/cri-o/node/e2e/OWNERS
  ci-operator/step-registry/cri-o/node/e2e/conformance/OWNERS
  ci-operator/step-registry/cri-o/node/e2e/conformance/cri-o-node-e2e-conformance-workflow.metadata.json
  ci-operator/step-registry/cri-o/node/e2e/conformance/cri-o-node-e2e-conformance-workflow.yaml
  ci-operator/step-registry/cri-o/node/e2e/conformance/test/OWNERS
  ci-operator/step-registry/cri-o/node/e2e/conformance/test/cri-o-node-e2e-conformance-test-commands.sh
  ci-operator/step-registry/cri-o/node/e2e/conformance/test/cri-o-node-e2e-conformance-test-ref.metadata.json
  ci-operator/step-registry/cri-o/node/e2e/conformance/test/cri-o-node-e2e-conformance-test-ref.yaml
  ci-operator/step-registry/cri-o/node/e2e/nodeconformance/OWNERS
  ci-operator/step-registry/cri-o/node/e2e/nodeconformance/cri-o-node-e2e-nodeconformance-workflow.metadata.json
  ci-operator/step-registry/cri-o/node/e2e/nodeconformance/cri-o-node-e2e-nodeconformance-workflow.yaml
  ci-operator/step-registry/cri-o/node/e2e/nodeconformance/test/OWNERS
  ci-operator/step-registry/cri-o/node/e2e/nodeconformance/test/cri-o-node-e2e-nodeconformance-test-commands.sh
  ci-operator/step-registry/cri-o/node/e2e/nodeconformance/test/cri-o-node-e2e-nodeconformance-test-ref.metadata.json
  ci-operator/step-registry/cri-o/node/e2e/nodeconformance/test/cri-o-node-e2e-nodeconformance-test-ref.yaml
  ci-operator/step-registry/cri-o/node/e2e/nodefeature/OWNERS
  ci-operator/step-registry/cri-o/node/e2e/nodefeature/cri-o-node-e2e-nodefeature-workflow.metadata.json
  ci-operator/step-registry/cri-o/node/e2e/nodefeature/cri-o-node-e2e-nodefeature-workflow.yaml
  ci-operator/step-registry/cri-o/node/e2e/nodefeature/test/OWNERS
  ci-operator/step-registry/cri-o/node/e2e/nodefeature/test/cri-o-node-e2e-nodefeature-test-commands.sh
  ci-operator/step-registry/cri-o/node/e2e/nodefeature/test/cri-o-node-e2e-nodefeature-test-ref.metadata.json
  ci-operator/step-registry/cri-o/node/e2e/nodefeature/test/cri-o-node-e2e-nodefeature-test-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

rename sd-cicd-alerts to hcm-cicd-alerts
  ci-operator/jobs/openshift/osde2e/openshift-osde2e-main-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

make ci-operator-config
  ci-operator/config/openshift/release/openshift-release-master__nightly-4.18.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

rename sd-cicd-alerts to hcm-cicd-alerts (#57727)
  ci-operator/jobs/openshift/osde2e/openshift-osde2e-main-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

clean up string
  ci-operator/step-registry/ipi/conf/vsphere/lb/external/ipi-conf-vsphere-lb-external-commands.py
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

fixed artifacts copy bug orion
  ci-operator/step-registry/openshift-qe/orion/openshift-qe-orion-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Adding Day2 Featuregate to avoid problems
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-master.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.18.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.18-presubmits.yaml
  ci-operator/step-registry/openshift-qe/installer/featuregate/OWNERS
  ci-operator/step-registry/openshift-qe/installer/featuregate/openshift-qe-installer-featuregate-chain.metadata.json
  ci-operator/step-registry/openshift-qe/installer/featuregate/openshift-qe-installer-featuregate-chain.yaml
  ci-operator/step-registry/openshift-qe/installer/featuregate/openshift-qe-installer-featuregate-commands.sh
  ci-operator/step-registry/openshift-qe/installer/featuregate/openshift-qe-installer-featuregate-ref.metadata.json
  ci-operator/step-registry/openshift-qe/installer/featuregate/openshift-qe-installer-featuregate-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add bpfman and bpfman-operator to openshift-ci (#57708)
  ci-operator/config/openshift/bpfman-operator/OWNERS
  ci-operator/config/openshift/bpfman-operator/openshift-bpfman-operator-main.yaml
  ci-operator/config/openshift/bpfman/OWNERS
  ci-operator/config/openshift/bpfman/openshift-bpfman-main.yaml
  ci-operator/jobs/openshift/bpfman-operator/OWNERS
  ci-operator/jobs/openshift/bpfman-operator/openshift-bpfman-operator-main-postsubmits.yaml
  ci-operator/jobs/openshift/bpfman-operator/openshift-bpfman-operator-main-presubmits.yaml
  ci-operator/jobs/openshift/bpfman/OWNERS
  ci-operator/jobs/openshift/bpfman/openshift-bpfman-main-postsubmits.yaml
  ci-operator/jobs/openshift/bpfman/openshift-bpfman-main-presubmits.yaml
  core-services/prow/02_config/openshift/bpfman-operator/OWNERS
  core-services/prow/02_config/openshift/bpfman-operator/_pluginconfig.yaml
  core-services/prow/02_config/openshift/bpfman-operator/_prowconfig.yaml
  core-services/prow/02_config/openshift/bpfman/OWNERS
  core-services/prow/02_config/openshift/bpfman/_pluginconfig.yaml
  core-services/prow/02_config/openshift/bpfman/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

debug
  ci-operator/step-registry/ipi/conf/vsphere/lb/external/ipi-conf-vsphere-lb-external-commands.py
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update cluster profiles for Hypershift Azure
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__amd64-nightly.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/azure/aks/hypershift/byo-vnet/deprovision/cucushift-installer-rehearse-azure-aks-hypershift-byo-vnet-deprovision-chain.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/azure/aks/hypershift/byo-vnet/provision/cucushift-installer-rehearse-azure-aks-hypershift-byo-vnet-provision-chain.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/azure/aks/hypershift/disaster-recovery/infra/deprovision/cucushift-installer-rehearse-azure-aks-hypershift-disaster-recovery-infra-deprovision-chain.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/azure/aks/hypershift/disaster-recovery/infra/provision/cucushift-installer-rehearse-azure-aks-hypershift-disaster-recovery-infra-provision-chain.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/azure/aks/hypershift/registry-overrides/deprovision/cucushift-installer-rehearse-azure-aks-hypershift-registry-overrides-deprovision-chain.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/azure/aks/hypershift/registry-overrides/provision/cucushift-installer-rehearse-azure-aks-hypershift-registry-overrides-provision-chain.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

use hosts() in ip network
  ci-operator/step-registry/ipi/conf/vsphere/lb/external/ipi-conf-vsphere-lb-external-commands.py
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

add helm ocp 4.18 osci config + fips (#57592)
  ci-operator/config/redhat-developer/helm/.config.prowgen
  ci-operator/config/redhat-developer/helm/redhat-developer-helm-release-3.11__helm-ocp4.18-lp-interop.yaml
  ci-operator/jobs/redhat-developer/helm/redhat-developer-helm-release-3.11-periodics.yaml
  ci-operator/jobs/redhat-developer/helm/redhat-developer-helm-release-3.11-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

fix image pull in ptp e2e
  ci-operator/config/openshift/ptp-operator/openshift-ptp-operator-master.yaml
  ci-operator/config/openshift/ptp-operator/openshift-ptp-operator-release-4.18.yaml
  ci-operator/config/openshift/ptp-operator/openshift-ptp-operator-release-4.19.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add an optional OpenStack job to cluster-ingress-operator (#57477)
  ci-operator/config/openshift/cluster-ingress-operator/openshift-cluster-ingress-operator-master.yaml
  ci-operator/config/openshift/cluster-ingress-operator/openshift-cluster-ingress-operator-release-4.18.yaml
  ci-operator/config/openshift/cluster-ingress-operator/openshift-cluster-ingress-operator-release-4.19.yaml
  ci-operator/jobs/openshift/cluster-ingress-operator/openshift-cluster-ingress-operator-master-presubmits.yaml
  ci-operator/jobs/openshift/cluster-ingress-operator/openshift-cluster-ingress-operator-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift/cluster-ingress-operator/openshift-cluster-ingress-operator-release-4.19-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

update inframachineset ipi commands script
  ci-operator/step-registry/ipi/conf/inframachineset/ipi-conf-inframachineset-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

wrong dns key
  ci-operator/step-registry/ipi/conf/vsphere/lb/external/ipi-conf-vsphere-lb-external-commands.py
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

add oscp 4.18 osci configs for fuse-xpaas: (#57599)
  ci-operator/config/jboss-fuse/fuse-xpaas-qe-container/.config.prowgen
  ci-operator/config/jboss-fuse/fuse-xpaas-qe-container/jboss-fuse-fuse-xpaas-qe-container-main__jboss-fuse-ocp4.18-lp-interop.yaml
  ci-operator/jobs/jboss-fuse/fuse-xpaas-qe-container/jboss-fuse-fuse-xpaas-qe-container-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Change QUADS_INSTANCE var
  ci-operator/step-registry/openshift-qe/installer/bm/foreman/openshift-qe-installer-bm-foreman-commands.sh
  ci-operator/step-registry/openshift-qe/installer/bm/foreman/openshift-qe-installer-bm-foreman-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

add osci 4.18 configs for jboss eap: (#57596)
  ci-operator/config/jboss-eap-qe/openshift-eap-tests/.config.prowgen
  ci-operator/config/jboss-eap-qe/openshift-eap-tests/jboss-eap-qe-openshift-eap-tests-pit-7.4.x__eap-ocp4.18-lp-interop.yaml
  ci-operator/jobs/jboss-eap-qe/openshift-eap-tests/jboss-eap-qe-openshift-eap-tests-pit-7.4.x-periodics.yaml
  ci-operator/jobs/jboss-eap-qe/openshift-eap-tests/jboss-eap-qe-openshift-eap-tests-pit-7.4.x-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

dpu-operator: update owners
  ci-operator/step-registry/dpu-operator/OWNERS
  ci-operator/step-registry/dpu-operator/e2e-tests-workflow/dpu-operator-e2e-tests-workflow-workflow.metadata.json
  ci-operator/step-registry/dpu-operator/e2e-tests-workflow/dpu-operator-e2e-tests-workflow.metadata.json
  ci-operator/step-registry/dpu-operator/e2e-tests-workflow/tests/dpu-operator-e2e-tests-workflow-tests-ref.metadata.json
  ci-operator/step-registry/dpu-operator/tests-workflow/dpu-operator-tests-workflow-workflow.metadata.json
  ci-operator/step-registry/dpu-operator/tests-workflow/dpu-operator-tests-workflow.metadata.json
  ci-operator/step-registry/dpu-operator/tests-workflow/tests/dpu-operator-tests-workflow-tests-ref.metadata.json
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)
