Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/prow/stackrox-stackrox-stackrox-stackrox-check

ci/openshift/promrules:
  decorate: true
  spec:
    containers:
    - command:
      - /go/entrypoint.sh
      image: registry.svc.ci.openshift.org/ci/promrules:latest
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
          cpu: 500m
        requests:
          cpu: 10m

ci/prow/pylint:
  decorate: true
  spec:
    containers:
    - args:
      - --rcfile=hack/.pylintrc
      - --ignore=lib
      - --persistent=n
      - hack
      command:
      - pylint
      image: registry.svc.ci.openshift.org/ci/python-validation
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
  ...

ci/build-farm/build01-dry:
  decorate: true
  labels:
    ci.openshift.io/build-farm: build01
    ci.openshift.io/generator: cluster-init
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --config-dir=clusters/build-clusters/build01
      - --as=
  ...

ci/build-farm/build02-dry:
  decorate: true
  labels:
    ci.openshift.io/build-farm: build02
    ci.openshift.io/generator: cluster-init
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --config-dir=clusters/build-clusters/build02
      - --as=
  ...

ci/build-farm/build03-dry:
  decorate: true
  labels:
    ci.openshift.io/build-farm: build03
    ci.openshift.io/generator: cluster-init
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --config-dir=clusters/build-clusters/build03
      - --as=
  ...

ci/build-farm/build04-dry:
  decorate: true
  labels:
    ci.openshift.io/build-farm: build04
    ci.openshift.io/generator: cluster-init
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --config-dir=clusters/build-clusters/build04
      - --as=
  ...

ci/build-farm/build05-dry:
  decorate: true
  labels:
    ci.openshift.io/build-farm: build05
    ci.openshift.io/generator: cluster-init
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --config-dir=clusters/build-clusters/build05
      - --as=
  ...

ci/build-farm/build09-dry:
  decorate: true
  labels:
    ci.openshift.io/build-farm: build09
    ci.openshift.io/generator: cluster-init
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --config-dir=clusters/build-clusters/build09
      - --as=
  ...

ci/build-farm/build10-dry:
  decorate: true
  labels:
    ci.openshift.io/build-farm: build10
    ci.openshift.io/generator: cluster-init
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --config-dir=clusters/build-clusters/build10
      - --as=
  ...

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.16.3-x86-64-for-4.16.0-0-to-4.17.0-0_clusterimageset.yaml
Due: ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry

Update Designate, Glance, Heat, Horizon and Infra jobs to OCP 4.16 (#54380)
  ci-operator/config/openstack-k8s-operators/designate-operator/openstack-k8s-operators-designate-operator-18.0.0-proposed.yaml
  ci-operator/config/openstack-k8s-operators/designate-operator/openstack-k8s-operators-designate-operator-main.yaml
  ci-operator/config/openstack-k8s-operators/glance-operator/openstack-k8s-operators-glance-operator-18.0.0-proposed.yaml
  ci-operator/config/openstack-k8s-operators/glance-operator/openstack-k8s-operators-glance-operator-main.yaml
  ci-operator/config/openstack-k8s-operators/heat-operator/openstack-k8s-operators-heat-operator-18.0.0-proposed.yaml
  ci-operator/config/openstack-k8s-operators/heat-operator/openstack-k8s-operators-heat-operator-main.yaml
  ci-operator/config/openstack-k8s-operators/horizon-operator/openstack-k8s-operators-horizon-operator-18.0.0-proposed.yaml
  ci-operator/config/openstack-k8s-operators/horizon-operator/openstack-k8s-operators-horizon-operator-main.yaml
  ci-operator/config/openstack-k8s-operators/infra-operator/openstack-k8s-operators-infra-operator-18.0.0-proposed.yaml
  ci-operator/config/openstack-k8s-operators/infra-operator/openstack-k8s-operators-infra-operator-main.yaml
Due: none

[mariadb-operator] Align tests like other operators to run functional instead of unit (#54445)
  ci-operator/config/openstack-k8s-operators/mariadb-operator/openstack-k8s-operators-mariadb-operator-18.0.0-proposed.yaml
  ci-operator/config/openstack-k8s-operators/mariadb-operator/openstack-k8s-operators-mariadb-operator-main.yaml
  ci-operator/jobs/openstack-k8s-operators/mariadb-operator/openstack-k8s-operators-mariadb-operator-18.0.0-proposed-presubmits.yaml
  ci-operator/jobs/openstack-k8s-operators/mariadb-operator/openstack-k8s-operators-mariadb-operator-main-presubmits.yaml
Due: none

GCP UPI: detect api internal backend-service name dynamically (#54389)
  ci-operator/step-registry/upi/install/gcp/upi-install-gcp-commands.sh
Due: none

Skipping new integration istio upstream test for istio fork (#54407)
  ci-operator/config/openshift-service-mesh/istio/openshift-service-mesh-istio-master.yaml
Due: none

[cnv-ci] enable v4.17 (#54482)
  ci-operator/config/openshift-cnv/cnv-ci/openshift-cnv-cnv-ci-release-4.17.yaml
  ci-operator/jobs/openshift-cnv/cnv-ci/openshift-cnv-cnv-ci-release-4.17-postsubmits.yaml
  ci-operator/jobs/openshift-cnv/cnv-ci/openshift-cnv-cnv-ci-release-4.17-presubmits.yaml
Due: none

enable external dns for hypershift azure conformance (#54465)
  ci-operator/step-registry/hypershift/azure/conformance/hypershift-azure-conformance-workflow.yaml
Due: none

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/cvp/cvp-fips-ocp-4-16-amd64-aws-us-west-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/cvp/cvp-fips-ocp-4-17-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.16.3-x86-64-for-4.16.0-0-to-4.17.0-0_clusterimageset.yaml
Due: ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry

sanitize-prow-jobs --prow-jobs-dir ./ci-operator/jobs --config-path ./core-services/sanitize-prow-jobs/_config.yaml
  ci-operator/jobs/openshift-priv/bond-cni/openshift-priv-bond-cni-master-presubmits.yaml
  ci-operator/jobs/openshift-priv/bond-cni/openshift-priv-bond-cni-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift-priv/bond-cni/openshift-priv-bond-cni-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift/bond-cni/openshift-bond-cni-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift/bond-cni/openshift-bond-cni-release-4.18-presubmits.yaml
Due: none

ci-operator-prowgen --from-dir ./ci-operator/config --to-dir ./ci-operator/jobs
  ci-operator/jobs/openshift-priv/bond-cni/openshift-priv-bond-cni-master-presubmits.yaml
  ci-operator/jobs/openshift-priv/bond-cni/openshift-priv-bond-cni-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift-priv/bond-cni/openshift-priv-bond-cni-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes-nmstate/openshift-priv-kubernetes-nmstate-master-presubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes-nmstate/openshift-priv-kubernetes-nmstate-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes-nmstate/openshift-priv-kubernetes-nmstate-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift/bond-cni/openshift-bond-cni-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift/bond-cni/openshift-bond-cni-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift/kubernetes-nmstate/openshift-kubernetes-nmstate-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift/kubernetes-nmstate/openshift-kubernetes-nmstate-release-4.18-presubmits.yaml
Due: none

config-brancher --config-dir ./ci-operator/config --current-release 4.17 --skip-periodics --future-release 4.18 --confirm
  ci-operator/config/openshift/bond-cni/openshift-bond-cni-release-4.17.yaml
  ci-operator/config/openshift/bond-cni/openshift-bond-cni-release-4.18.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.18.yaml
  ci-operator/config/openshift/csi-external-snapshotter/openshift-csi-external-snapshotter-release-4.17.yaml
  ci-operator/config/openshift/csi-external-snapshotter/openshift-csi-external-snapshotter-release-4.18.yaml
  ci-operator/config/openshift/gcp-pd-csi-driver/openshift-gcp-pd-csi-driver-release-4.18.yaml
  ci-operator/config/openshift/kubernetes-nmstate/openshift-kubernetes-nmstate-release-4.17.yaml
  ci-operator/config/openshift/kubernetes-nmstate/openshift-kubernetes-nmstate-release-4.18.yaml
  ci-operator/config/openshift/vmware-vsphere-csi-driver/openshift-vmware-vsphere-csi-driver-release-4.17.yaml
  ci-operator/config/openshift/vmware-vsphere-csi-driver/openshift-vmware-vsphere-csi-driver-release-4.18.yaml
Due: none

ptp ci: Add bundle-check as pre-submit job (#54256)
  ci-operator/config/openshift/ptp-operator/openshift-ptp-operator-master.yaml
  ci-operator/jobs/openshift/ptp-operator/openshift-ptp-operator-master-presubmits.yaml
Due: none

[4.17] Add conformance periodic for hypershift kubevirt on azure infra (#52508)
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.17__periodics.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.17-periodics.yaml
  ci-operator/step-registry/hypershift/kubevirt/azure/OWNERS
  ci-operator/step-registry/hypershift/kubevirt/azure/conformance/OWNERS
  ci-operator/step-registry/hypershift/kubevirt/azure/conformance/hypershift-kubevirt-azure-conformance-workflow.metadata.json
  ci-operator/step-registry/hypershift/kubevirt/azure/conformance/hypershift-kubevirt-azure-conformance-workflow.yaml
Due: none

[CI-Framework] Update approve and lgtm plugin config (#54472)
  core-services/prow/02_config/openstack-k8s-operators/ci-framework/_pluginconfig.yaml
Due: none

add 4.16->4.17 upgrade jobs to ovnk presubmits (#53504)
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-master__4.17-upgrade-from-stable-4.16.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.16__4.16-upgrade-from-stable-4.15.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-master-presubmits.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.16-presubmits.yaml
Due: none

Openjdk zstream 4.16 and firewatch updates (#54456)
  ci-operator/config/rh-openjdk/jdkContainerOcpTests/rh-openjdk-jdkContainerOcpTests-main__openjdk-ocp4.14-lp-interop.yaml
  ci-operator/config/rh-openjdk/jdkContainerOcpTests/rh-openjdk-jdkContainerOcpTests-main__openjdk-ocp4.15-lp-interop.yaml
  ci-operator/config/rh-openjdk/jdkContainerOcpTests/rh-openjdk-jdkContainerOcpTests-main__openjdk-ocp4.16-lp-interop.yaml
  ci-operator/jobs/rh-openjdk/jdkContainerOcpTests/rh-openjdk-jdkContainerOcpTests-main-periodics.yaml
Due: none

CVP-4201: Increase OCP v4.17 pool size (#54466)
  clusters/hosted-mgmt/hive/pools/cvp/cvp-fips-ocp-4-16-amd64-aws-us-west-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/cvp/cvp-fips-ocp-4-17-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/cvp/cvp-ocp-4-16-amd64-aws-us-west-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/cvp/cvp-ocp-4-17-amd64-aws-us-east-1_clusterpool.yaml
Due: ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry

Add aws e2e job to bond cni (#54415)
  ci-operator/config/openshift/bond-cni/openshift-bond-cni-master.yaml
  ci-operator/jobs/openshift/bond-cni/openshift-bond-cni-master-presubmits.yaml
Due: none

Adding zone outage run (#52576)
  ci-operator/config/redhat-chaos/prow-scripts/redhat-chaos-prow-scripts-main__4.16-nightly.yaml
  ci-operator/jobs/redhat-chaos/prow-scripts/redhat-chaos-prow-scripts-main-periodics.yaml
  ci-operator/step-registry/redhat-chaos/zone-outage/OWNERS
  ci-operator/step-registry/redhat-chaos/zone-outage/redhat-chaos-zone-outage-commands.sh
  ci-operator/step-registry/redhat-chaos/zone-outage/redhat-chaos-zone-outage-ref.metadata.json
  ci-operator/step-registry/redhat-chaos/zone-outage/redhat-chaos-zone-outage-ref.yaml
Due: none

Revert "Revert "Revert "Failover build02 to build09 (#54360)" (#54363)" (#54490)" (#54495)
  clusters/app.ci/release-controller/deploy-ocp-controller.yaml
  clusters/app.ci/release-controller/deploy-ocp-priv-controller.yaml
  core-services/prow/02_config/_config.yaml
  hack/generators/release-controllers/content/osd_rc_deployments.py
Due: ci/prow/pylint, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-master.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.8.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.9.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-master.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.9.yaml
  ci-operator/config/openshift-priv/gcp-filestore-csi-driver-operator/openshift-priv-gcp-filestore-csi-driver-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/gcp-filestore-csi-driver-operator/openshift-priv-gcp-filestore-csi-driver-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.7.yaml
  ci-operator/config/openshift-priv/ptp-operator/openshift-priv-ptp-operator-master.yaml
  ci-operator/config/openshift-priv/ptp-operator/openshift-priv-ptp-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/ptp-operator/openshift-priv-ptp-operator-release-4.18.yaml
Due: none

config-brancher --config-dir ./ci-operator/config --current-release 4.17 --skip-periodics --future-release 4.18 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.18.yaml
  ci-operator/config/openshift/ptp-operator/openshift-ptp-operator-release-4.17.yaml
  ci-operator/config/openshift/ptp-operator/openshift-ptp-operator-release-4.18.yaml
Due: none

hypershift/openstack: add missing args (#54492)
  ci-operator/step-registry/hypershift/openstack/e2e/execute/hypershift-openstack-e2e-execute-commands.sh
Due: none

Add missing ci/managed-clonerefs:latest to QCI (#54494)
  core-services/image-mirroring/_config.yaml
Due: none

Use golang 1.22 for File Integrity Operator (#54443)
  ci-operator/config/openshift/file-integrity-operator/openshift-file-integrity-operator-master.yaml
Due: none

Revert "Failover build02 to build09 (#54360)" (#54363)
  clusters/app.ci/release-controller/deploy-ocp-controller.yaml
  clusters/app.ci/release-controller/deploy-ocp-priv-controller.yaml
  core-services/prow/02_config/_config.yaml
  hack/generators/release-controllers/content/osd_rc_deployments.py
Due: ci/prow/pylint, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry

Bumping Prow and Boskos (#54496)
  Makefile
  ci-operator/jobs/infra-periodics.yaml
  ci-operator/jobs/openshift/release/openshift-release-master-presubmits.yaml
  clusters/app.ci/ci-arm64/arm64_adapter_imagestreams.yaml
  clusters/app.ci/prow/03_deployment/adapter_imagestreams.yaml
  clusters/app.ci/prow/03_deployment/cherrypick.yaml
  clusters/app.ci/prow/03_deployment/crier.yaml
  clusters/app.ci/prow/03_deployment/deck.yaml
  clusters/app.ci/prow/03_deployment/exporter.yaml
  clusters/app.ci/prow/03_deployment/gangway.yaml
  clusters/app.ci/prow/03_deployment/ghproxy.yaml
  clusters/app.ci/prow/03_deployment/hook.yaml
  clusters/app.ci/prow/03_deployment/horologium.yaml
  clusters/app.ci/prow/03_deployment/needs_rebase.yaml
  clusters/app.ci/prow/03_deployment/prow-controller-manager.yaml
  clusters/app.ci/prow/03_deployment/qe_private_deck.yaml
  clusters/app.ci/prow/03_deployment/refresh.yaml
  clusters/app.ci/prow/03_deployment/sinker.yaml
  clusters/app.ci/prow/03_deployment/statusreconciler.yaml
  clusters/app.ci/prow/03_deployment/tide.yaml
  clusters/app.ci/prow/03_deployment/tot.yaml
  clusters/app.ci/prow/staging/crier.yaml
  clusters/app.ci/prow/staging/deck.yaml
  clusters/app.ci/prow/staging/ghproxy.yaml
  clusters/app.ci/prow/staging/hook.yaml
  clusters/app.ci/prow/staging/horologium.yaml
  clusters/app.ci/prow/staging/prow-config.yaml
  clusters/app.ci/prow/staging/prow-controller-manager.yaml
  clusters/app.ci/prow/staging/sinker.yaml
  clusters/app.ci/prow/staging/statusreconciler.yaml
  clusters/app.ci/prow/staging/tide.yaml
  clusters/build-clusters/ppc64le01/assests/ppc64le_adapter_imagestreams.yaml
  core-services/prow/02_config/_config.yaml
  hack/images.sh
Due: ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry

sanitize-prow-jobs --prow-jobs-dir ./ci-operator/jobs --config-path ./core-services/sanitize-prow-jobs/_config.yaml
  ci-operator/jobs/openshift-priv/ptp-operator/openshift-priv-ptp-operator-master-presubmits.yaml
  ci-operator/jobs/openshift-priv/ptp-operator/openshift-priv-ptp-operator-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift-priv/ptp-operator/openshift-priv-ptp-operator-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift/ptp-operator/openshift-ptp-operator-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift/ptp-operator/openshift-ptp-operator-release-4.18-presubmits.yaml
Due: none

Update Compliance Operator to use golang 1.21 (#54489)
  ci-operator/config/ComplianceAsCode/compliance-operator/ComplianceAsCode-compliance-operator-master.yaml
Due: none

Update Install_yamls, Ironic, Keystone, Manila and Neutron jobs to OCP 4.16 (#54381)
  ci-operator/config/openstack-k8s-operators/install_yamls/openstack-k8s-operators-install_yamls-18.0.0-proposed.yaml
  ci-operator/config/openstack-k8s-operators/install_yamls/openstack-k8s-operators-install_yamls-main.yaml
  ci-operator/config/openstack-k8s-operators/ironic-operator/openstack-k8s-operators-ironic-operator-18.0.0-proposed.yaml
  ci-operator/config/openstack-k8s-operators/ironic-operator/openstack-k8s-operators-ironic-operator-main.yaml
  ci-operator/config/openstack-k8s-operators/keystone-operator/openstack-k8s-operators-keystone-operator-18.0.0-proposed.yaml
  ci-operator/config/openstack-k8s-operators/keystone-operator/openstack-k8s-operators-keystone-operator-main.yaml
  ci-operator/config/openstack-k8s-operators/manila-operator/openstack-k8s-operators-manila-operator-18.0.0-proposed.yaml
  ci-operator/config/openstack-k8s-operators/manila-operator/openstack-k8s-operators-manila-operator-main.yaml
  ci-operator/config/openstack-k8s-operators/neutron-operator/openstack-k8s-operators-neutron-operator-18.0.0-proposed.yaml
  ci-operator/config/openstack-k8s-operators/neutron-operator/openstack-k8s-operators-neutron-operator-main.yaml
Due: none

Revert "Revert "Failover build02 to build09 (#54360)" (#54363)" (#54490)
  clusters/app.ci/release-controller/deploy-ocp-controller.yaml
  clusters/app.ci/release-controller/deploy-ocp-priv-controller.yaml
  core-services/prow/02_config/_config.yaml
  hack/generators/release-controllers/content/osd_rc_deployments.py
Due: ci/prow/pylint, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.15.22-x86-64-for-4.15.0-0-to-4.16.0-0_clusterimageset.yaml
Due: ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry

ci-operator-prowgen --from-dir ./ci-operator/config --to-dir ./ci-operator/jobs
  ci-operator/jobs/openshift-priv/ptp-operator/openshift-priv-ptp-operator-master-presubmits.yaml
  ci-operator/jobs/openshift-priv/ptp-operator/openshift-priv-ptp-operator-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift-priv/ptp-operator/openshift-priv-ptp-operator-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift/ptp-operator/openshift-ptp-operator-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift/ptp-operator/openshift-ptp-operator-release-4.18-presubmits.yaml
Due: none

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-master.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.8.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.9.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-master.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.9.yaml
  ci-operator/config/openshift-priv/file-integrity-operator/openshift-priv-file-integrity-operator-master.yaml
  ci-operator/config/openshift-priv/file-integrity-operator/openshift-priv-file-integrity-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/file-integrity-operator/openshift-priv-file-integrity-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.7.yaml
Due: none

config-brancher --config-dir ./ci-operator/config --current-release 4.17 --skip-periodics --future-release 4.18 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.18.yaml
  ci-operator/config/openshift/file-integrity-operator/openshift-file-integrity-operator-release-4.17.yaml
  ci-operator/config/openshift/file-integrity-operator/openshift-file-integrity-operator-release-4.18.yaml
Due: none

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-master.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.8.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.9.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-master.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.9.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.7.yaml
Due: none

add reporter config (#54503)
  ci-operator/jobs/openshift/release-tests/openshift-release-tests-master-periodics.yaml
Due: none

config-brancher --config-dir ./ci-operator/config --current-release 4.17 --skip-periodics --future-release 4.18 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.18.yaml
Due: none

MCO-1052 MCO add a step to pin release images before upgrades (#52159)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16__amd64-nightly-4.16-upgrade-from-stable-4.16.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16-periodics.yaml
  ci-operator/step-registry/mco/conf/day2/pintargetrelease/OWNERS
  ci-operator/step-registry/mco/conf/day2/pintargetrelease/mco-conf-day2-pintargetrelease-commands.sh
  ci-operator/step-registry/mco/conf/day2/pintargetrelease/mco-conf-day2-pintargetrelease-ref.metadata.json
  ci-operator/step-registry/mco/conf/day2/pintargetrelease/mco-conf-day2-pintargetrelease-ref.yaml
  ci-operator/step-registry/openshift/upgrade/qe/sanity/disconnected/openshift-upgrade-qe-sanity-disconnected-chain.yaml
Due: none

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
