Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, branch-ci-openshift-release-master-label-sync, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/arm01-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hive-dry, ci/prow/jira-lifecycle-config, ci/build-farm/multi01-dry, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/prow/supplemental-ci-images-mapping-files, ci/build-farm/vsphere-dry, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^ci-operator/config/.*
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/build-farm/arm01-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hive-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/build-farm/multi01-dry: any of: ^clusters/.*
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/prow/supplemental-ci-images-mapping-files: any of: ^(core-services/image-mirroring/supplemental-ci-images/mapping_supplemental_ci_images_.*)
  ci/build-farm/vsphere-dry: any of: ^clusters/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

update image
  ci-operator/step-registry/quay-tests/quay-upgrade/quay-tests-quay-upgrade-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

[INTEROP-7251] Move reporter_config slackbot to OCP 4.15 self-managed prow job.
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-master-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics, ci/prow/stackrox-stackrox-stackrox-stackrox-check

[azure] fix vault name confilict issue
  ci-operator/step-registry/azure/provision/disk-encryption-set/azure-provision-disk-encryption-set-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

outpost job for cloud (#48248)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.15__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.15-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

update image
  ci-operator/step-registry/quay-tests/quay-upgrade/quay-tests-quay-upgrade-commands.sh
  ci-operator/step-registry/quay-tests/quay-upgrade/quay-tests-quay-upgrade-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Create a debug cluster
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.14__amd64-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

config-brancher --config-dir ./ci-operator/config --current-release 4.16 --skip-periodics --future-release 4.17 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.16.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift/okd-machine-os/openshift-okd-machine-os-release-4.16.yaml
  ci-operator/config/openshift/okd-machine-os/openshift-okd-machine-os-release-4.17.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-openstack/openshift-priv-cluster-api-provider-openstack-main.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-master.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.8.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.9.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-master.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.9.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.7.yaml
  ci-operator/config/openshift-priv/kubernetes/openshift-priv-kubernetes-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Automate OpenLDAP Configuration and User Setup in OpenShift (#47342)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.15__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.15-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16-periodics.yaml
  ci-operator/step-registry/idp/htpasswd/idp-htpasswd-commands.sh
  ci-operator/step-registry/idp/openldap/OWNERS
  ci-operator/step-registry/idp/openldap/idp-openldap-commands.sh
  ci-operator/step-registry/idp/openldap/idp-openldap-ref.metadata.json
  ci-operator/step-registry/idp/openldap/idp-openldap-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Address changes required in ibmcloud cli command due to latest power-iaas plugin
  ci-operator/step-registry/hypershift/mce/power/create/hypershift-mce-power-create-commands.sh
  ci-operator/step-registry/hypershift/mce/power/destroy/hypershift-mce-power-destroy-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

update image
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__quay-upgrade.yaml
  ci-operator/step-registry/quay-tests/quay-upgrade/quay-tests-quay-upgrade-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

update image
  ci-operator/step-registry/quay-tests/quay-upgrade/quay-tests-quay-upgrade-ref.yaml
  ci-operator/step-registry/quay-tests/test-quay-dast/quay-tests-test-quay-dast-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

[azure] fix vault name confilict issue (#48303)
  ci-operator/step-registry/azure/provision/disk-encryption-set/azure-provision-disk-encryption-set-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

quay test trial
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__quay-trial.yaml
  ci-operator/jobs/quay/quay-tests/quay-quay-tests-master-postsubmits.yaml
  ci-operator/jobs/quay/quay-tests/quay-quay-tests-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

OpenStack: Restore mergebot periodics to stable branches
  ci-operator/config/shiftstack/merge-bot/shiftstack-merge-bot-main.yaml
  ci-operator/config/shiftstack/merge-bot/shiftstack-merge-bot-release-4.11__periodic-4.11.yaml
  ci-operator/config/shiftstack/merge-bot/shiftstack-merge-bot-release-4.12__periodic-4.12.yaml
  ci-operator/config/shiftstack/merge-bot/shiftstack-merge-bot-release-4.13__periodic-4.13.yaml
  ci-operator/config/shiftstack/merge-bot/shiftstack-merge-bot-release-4.14__periodic-4.14.yaml
  ci-operator/config/shiftstack/merge-bot/shiftstack-merge-bot-release-4.15__periodic-4.15.yaml
  ci-operator/jobs/shiftstack/merge-bot/shiftstack-merge-bot-main-periodics.yaml
  ci-operator/jobs/shiftstack/merge-bot/shiftstack-merge-bot-release-4.11-periodics.yaml
  ci-operator/jobs/shiftstack/merge-bot/shiftstack-merge-bot-release-4.11-presubmits.yaml
  ci-operator/jobs/shiftstack/merge-bot/shiftstack-merge-bot-release-4.12-periodics.yaml
  ci-operator/jobs/shiftstack/merge-bot/shiftstack-merge-bot-release-4.12-presubmits.yaml
  ci-operator/jobs/shiftstack/merge-bot/shiftstack-merge-bot-release-4.13-periodics.yaml
  ci-operator/jobs/shiftstack/merge-bot/shiftstack-merge-bot-release-4.13-presubmits.yaml
  ci-operator/jobs/shiftstack/merge-bot/shiftstack-merge-bot-release-4.14-periodics.yaml
  ci-operator/jobs/shiftstack/merge-bot/shiftstack-merge-bot-release-4.14-presubmits.yaml
  ci-operator/jobs/shiftstack/merge-bot/shiftstack-merge-bot-release-4.15-periodics.yaml
  ci-operator/jobs/shiftstack/merge-bot/shiftstack-merge-bot-release-4.15-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add periodic compliance jobs for OpenShift 4.13 (#48090)
  ci-operator/config/ComplianceAsCode/content/ComplianceAsCode-content-master__4.13.yaml
  ci-operator/jobs/ComplianceAsCode/content/ComplianceAsCode-content-master-periodics.yaml
  ci-operator/jobs/ComplianceAsCode/content/ComplianceAsCode-content-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

stackrox: import HCP image (#48301)
  core-services/image-mirroring/stackrox/mapping_supplemental_ci_images_stackrox_automation_flavors
Due: none

lvms: fix: pre-commit run and operator-sdk
  ci-operator/config/openshift/lvm-operator/openshift-lvm-operator-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Sync OWNERS files by autoowners job at Thu, 01 Feb 2024 07:44:25 UTC
  ci-operator/config/devfile/devworkspace-operator/OWNERS
  ci-operator/config/kubevirt/kubevirt/OWNERS
  ci-operator/config/openshift-knative/net-istio/OWNERS
  ci-operator/config/openshift-knative/net-kourier/OWNERS
  ci-operator/config/openshift-knative/serving/OWNERS
  ci-operator/config/openshift-qe/ocp-qe-perfscale-ci/OWNERS
  ci-operator/config/openshift/lightspeed-console/OWNERS
  ci-operator/config/openshift/lightspeed-operator/OWNERS
  ci-operator/config/openshift/rosa/OWNERS
  ci-operator/config/stolostron/multicluster-observability-operator/OWNERS
  ci-operator/jobs/devfile/devworkspace-operator/OWNERS
  ci-operator/jobs/kubevirt/kubevirt/OWNERS
  ci-operator/jobs/openshift-knative/net-istio/OWNERS
  ci-operator/jobs/openshift-knative/net-kourier/OWNERS
  ci-operator/jobs/openshift-knative/serving/OWNERS
  ci-operator/jobs/openshift/lightspeed-console/OWNERS
  ci-operator/jobs/openshift/lightspeed-operator/OWNERS
  ci-operator/jobs/openshift/managed-release-bundle/OWNERS
  ci-operator/jobs/openshift/rosa/OWNERS
  ci-operator/jobs/stolostron/multicluster-observability-operator/OWNERS
  core-services/prow/02_config/devfile/devworkspace-operator/OWNERS
  core-services/prow/02_config/kubevirt/kubevirt/OWNERS
  core-services/prow/02_config/openshift-knative/net-istio/OWNERS
  core-services/prow/02_config/openshift-knative/net-kourier/OWNERS
  core-services/prow/02_config/openshift-knative/serverless-operator/OWNERS
  core-services/prow/02_config/openshift-knative/serving/OWNERS
  core-services/prow/02_config/openshift/managed-release-bundle/OWNERS
  core-services/prow/02_config/openshift/rosa/OWNERS
  core-services/prow/02_config/stolostron/multicluster-observability-operator/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

lvms: fix: pre-commit run and operator-sdk (#48309)
  ci-operator/config/openshift/lvm-operator/openshift-lvm-operator-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

cert-rotation: apply Multus/OVN restart workaround for shutdown too
  ci-operator/step-registry/openshift/e2e/cert-rotation/shutdown/openshift-e2e-cert-rotation-shutdown-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

fix: osdfm resources naming on MC (#48289)
  ci-operator/step-registry/osd-ccs/fleet-manager/test/osd-ccs-fleet-manager-test-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

update
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__quay-upgrade.yaml
  ci-operator/step-registry/quay-tests/quay-upgrade/quay-tests-quay-upgrade-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

CI for Dance installer test (#48146)
  ci-operator/config/redhat-appstudio/rhtap-installer/OWNERS
  ci-operator/config/redhat-appstudio/rhtap-installer/redhat-appstudio-rhtap-installer-master.yaml
  ci-operator/jobs/redhat-appstudio/rhtap-installer/OWNERS
  ci-operator/jobs/redhat-appstudio/rhtap-installer/redhat-appstudio-rhtap-installer-master-presubmits.yaml
  ci-operator/step-registry/redhat-appstudio/rhtap-installer/OWNERS
  ci-operator/step-registry/redhat-appstudio/rhtap-installer/e2e-test/OWNERS
  ci-operator/step-registry/redhat-appstudio/rhtap-installer/e2e-test/redhat-appstudio-rhtap-installer-e2e-test-commands.sh
  ci-operator/step-registry/redhat-appstudio/rhtap-installer/e2e-test/redhat-appstudio-rhtap-installer-e2e-test-ref.metadata.json
  ci-operator/step-registry/redhat-appstudio/rhtap-installer/e2e-test/redhat-appstudio-rhtap-installer-e2e-test-ref.yaml
  ci-operator/step-registry/redhat-appstudio/rhtap-installer/static-checks/OWNERS
  ci-operator/step-registry/redhat-appstudio/rhtap-installer/static-checks/redhat-appstudio-rhtap-installer-static-checks-chain.metadata.json
  ci-operator/step-registry/redhat-appstudio/rhtap-installer/static-checks/redhat-appstudio-rhtap-installer-static-checks-chain.yaml
  ci-operator/step-registry/redhat-appstudio/rhtap-installer/static-checks/shellcheck/OWNERS
  ci-operator/step-registry/redhat-appstudio/rhtap-installer/static-checks/shellcheck/redhat-appstudio-rhtap-installer-static-checks-shellcheck-commands.sh
  ci-operator/step-registry/redhat-appstudio/rhtap-installer/static-checks/shellcheck/redhat-appstudio-rhtap-installer-static-checks-shellcheck-ref.metadata.json
  ci-operator/step-registry/redhat-appstudio/rhtap-installer/static-checks/shellcheck/redhat-appstudio-rhtap-installer-static-checks-shellcheck-ref.yaml
  ci-operator/step-registry/redhat-appstudio/rhtap-installer/static-checks/yamllint/OWNERS
  ci-operator/step-registry/redhat-appstudio/rhtap-installer/static-checks/yamllint/redhat-appstudio-rhtap-installer-static-checks-yamllint-commands.sh
  ci-operator/step-registry/redhat-appstudio/rhtap-installer/static-checks/yamllint/redhat-appstudio-rhtap-installer-static-checks-yamllint-ref.metadata.json
  ci-operator/step-registry/redhat-appstudio/rhtap-installer/static-checks/yamllint/redhat-appstudio-rhtap-installer-static-checks-yamllint-ref.yaml
  core-services/image-mirroring/supplemental-ci-images/mapping_supplemental_ci_images_ci
  core-services/prow/02_config/redhat-appstudio/rhtap-installer/OWNERS
  core-services/prow/02_config/redhat-appstudio/rhtap-installer/_pluginconfig.yaml
  core-services/prow/02_config/redhat-appstudio/rhtap-installer/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/prow/supplemental-ci-images-mapping-files

Onboard openshift-pipelines/pipeline-service repository
  ci-operator/config/openshift-pipelines/pipeline-service/OWNERS
  ci-operator/config/openshift-pipelines/pipeline-service/openshift-pipelines-pipeline-service-main.yaml
  ci-operator/jobs/openshift-pipelines/pipeline-service/OWNERS
  ci-operator/jobs/openshift-pipelines/pipeline-service/openshift-pipelines-pipeline-service-main-presubmits.yaml
  core-services/prow/02_config/openshift-pipelines/pipeline-service/OWNERS
  core-services/prow/02_config/openshift-pipelines/pipeline-service/_pluginconfig.yaml
  core-services/prow/02_config/openshift-pipelines/pipeline-service/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

build quay-test-upgrade image
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__quay-upgrade.yaml
  ci-operator/jobs/quay/quay-tests/quay-quay-tests-master-postsubmits.yaml
  ci-operator/jobs/quay/quay-tests/quay-quay-tests-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

terraform-rhcs-rosa: Add pre-merge job - running example (#48014)
  ci-operator/config/terraform-redhat/terraform-rhcs-rosa/terraform-redhat-terraform-rhcs-rosa-main.yaml
  ci-operator/jobs/terraform-redhat/terraform-rhcs-rosa/terraform-redhat-terraform-rhcs-rosa-main-postsubmits.yaml
  ci-operator/jobs/terraform-redhat/terraform-rhcs-rosa/terraform-redhat-terraform-rhcs-rosa-main-presubmits.yaml
  ci-operator/step-registry/rhcs/module/OWNERS
  ci-operator/step-registry/rhcs/module/run-example/OWNERS
  ci-operator/step-registry/rhcs/module/run-example/rhcs-module-run-example-commands.sh
  ci-operator/step-registry/rhcs/module/run-example/rhcs-module-run-example-ref.metadata.json
  ci-operator/step-registry/rhcs/module/run-example/rhcs-module-run-example-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix 4.15 periodics for NVIDIA GPU operator (#48285)
  ci-operator/config/rh-ecosystem-edge/ci-tools-nvidia-gpu-operator/rh-ecosystem-edge-ci-tools-nvidia-gpu-operator-main__4.15.yaml
  ci-operator/jobs/rh-ecosystem-edge/ci-tools-nvidia-gpu-operator/rh-ecosystem-edge-ci-tools-nvidia-gpu-operator-main-periodics.yaml
  ci-operator/jobs/rh-ecosystem-edge/ci-tools-nvidia-gpu-operator/rh-ecosystem-edge-ci-tools-nvidia-gpu-operator-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics
