Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, branch-ci-openshift-release-master-label-sync, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/arm01-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hive-dry, ci/prow/jira-lifecycle-config, ci/build-farm/multi01-dry, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/prow/supplemental-ci-images-mapping-files, ci/build-farm/vsphere-dry, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^ci-operator/config/.*
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/build-farm/arm01-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hive-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/build-farm/multi01-dry: any of: ^clusters/.*
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/prow/supplemental-ci-images-mapping-files: any of: ^(core-services/image-mirroring/supplemental-ci-images/mapping_supplemental_ci_images_.*)
  ci/build-farm/vsphere-dry: any of: ^clusters/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

MCE-disconnected: add to run multiple times
  ci-operator/step-registry/hypershift/mce/install/disconnected/hypershift-mce-install-disconnected-commands.sh
  ci-operator/step-registry/hypershift/mce/install/disconnected/hypershift-mce-install-disconnected-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Address changes required in ibmcloud cli command due to latest power-iaas plugin (#48243)
  ci-operator/step-registry/hypershift/mce/power/create/hypershift-mce-power-create-commands.sh
  ci-operator/step-registry/hypershift/mce/power/destroy/hypershift-mce-power-destroy-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Sync OWNERS files by autoowners job at Thu, 01 Feb 2024 07:44:25 UTC (#48250)
  ci-operator/config/devfile/devworkspace-operator/OWNERS
  ci-operator/config/kubevirt/kubevirt/OWNERS
  ci-operator/config/openshift-knative/net-istio/OWNERS
  ci-operator/config/openshift-knative/net-kourier/OWNERS
  ci-operator/config/openshift-knative/serving/OWNERS
  ci-operator/config/openshift-qe/ocp-qe-perfscale-ci/OWNERS
  ci-operator/config/openshift/lightspeed-console/OWNERS
  ci-operator/config/openshift/lightspeed-operator/OWNERS
  ci-operator/config/openshift/rosa/OWNERS
  ci-operator/config/stolostron/multicluster-observability-operator/OWNERS
  ci-operator/jobs/devfile/devworkspace-operator/OWNERS
  ci-operator/jobs/kubevirt/kubevirt/OWNERS
  ci-operator/jobs/openshift-knative/net-istio/OWNERS
  ci-operator/jobs/openshift-knative/net-kourier/OWNERS
  ci-operator/jobs/openshift-knative/serving/OWNERS
  ci-operator/jobs/openshift/lightspeed-console/OWNERS
  ci-operator/jobs/openshift/lightspeed-operator/OWNERS
  ci-operator/jobs/openshift/managed-release-bundle/OWNERS
  ci-operator/jobs/openshift/rosa/OWNERS
  ci-operator/jobs/stolostron/multicluster-observability-operator/OWNERS
  core-services/prow/02_config/devfile/devworkspace-operator/OWNERS
  core-services/prow/02_config/kubevirt/kubevirt/OWNERS
  core-services/prow/02_config/openshift-knative/net-istio/OWNERS
  core-services/prow/02_config/openshift-knative/net-kourier/OWNERS
  core-services/prow/02_config/openshift-knative/serverless-operator/OWNERS
  core-services/prow/02_config/openshift-knative/serving/OWNERS
  core-services/prow/02_config/openshift/managed-release-bundle/OWNERS
  core-services/prow/02_config/openshift/rosa/OWNERS
  core-services/prow/02_config/stolostron/multicluster-observability-operator/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Use cluster profile for GPU operator pre-/post-submit
  ci-operator/config/rh-ecosystem-edge/ci-tools-nvidia-gpu-operator/rh-ecosystem-edge-ci-tools-nvidia-gpu-operator-main.yaml
  ci-operator/config/rh-ecosystem-edge/ci-tools-nvidia-gpu-operator/rh-ecosystem-edge-ci-tools-nvidia-gpu-operator-main__4.11.yaml
  ci-operator/config/rh-ecosystem-edge/ci-tools-nvidia-gpu-operator/rh-ecosystem-edge-ci-tools-nvidia-gpu-operator-main__4.12.yaml
  ci-operator/config/rh-ecosystem-edge/ci-tools-nvidia-gpu-operator/rh-ecosystem-edge-ci-tools-nvidia-gpu-operator-main__4.13.yaml
  ci-operator/config/rh-ecosystem-edge/ci-tools-nvidia-gpu-operator/rh-ecosystem-edge-ci-tools-nvidia-gpu-operator-main__4.14.yaml
  ci-operator/config/rh-ecosystem-edge/ci-tools-nvidia-gpu-operator/rh-ecosystem-edge-ci-tools-nvidia-gpu-operator-main__4.15.yaml
  ci-operator/jobs/rh-ecosystem-edge/ci-tools-nvidia-gpu-operator/rh-ecosystem-edge-ci-tools-nvidia-gpu-operator-main-postsubmits.yaml
  ci-operator/jobs/rh-ecosystem-edge/ci-tools-nvidia-gpu-operator/rh-ecosystem-edge-ci-tools-nvidia-gpu-operator-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Update registry with pvc in nutanix platform
  ci-operator/step-registry/ipi/install/nutanix/registry/ipi-install-nutanix-registry-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Onboard openshift-pipelines/pipeline-service repository (#48279)
  ci-operator/config/openshift-pipelines/pipeline-service/OWNERS
  ci-operator/config/openshift-pipelines/pipeline-service/openshift-pipelines-pipeline-service-main.yaml
  ci-operator/jobs/openshift-pipelines/pipeline-service/OWNERS
  ci-operator/jobs/openshift-pipelines/pipeline-service/openshift-pipelines-pipeline-service-main-presubmits.yaml
  core-services/prow/02_config/openshift-pipelines/pipeline-service/OWNERS
  core-services/prow/02_config/openshift-pipelines/pipeline-service/_pluginconfig.yaml
  core-services/prow/02_config/openshift-pipelines/pipeline-service/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Fix hcp 415 presubmit base image name
  ci-operator/config/openshift/api/openshift-api-release-4.15.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

MCE-disconnected: add to run multiple times (#48313)
  ci-operator/step-registry/hypershift/mce/install/disconnected/hypershift-mce-install-disconnected-commands.sh
  ci-operator/step-registry/hypershift/mce/install/disconnected/hypershift-mce-install-disconnected-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

OCPBUGS-28683: Remove openshift-sdn-based CI jobs by 4.17 (cluster-etcd-operator)
  ci-operator/config/openshift/cluster-etcd-operator/openshift-cluster-etcd-operator-master.yaml
  ci-operator/config/openshift/cluster-etcd-operator/openshift-cluster-etcd-operator-release-4.15.yaml
  ci-operator/config/openshift/cluster-etcd-operator/openshift-cluster-etcd-operator-release-4.16.yaml
  ci-operator/config/openshift/cluster-etcd-operator/openshift-cluster-etcd-operator-release-4.17.yaml
  ci-operator/jobs/openshift/cluster-etcd-operator/openshift-cluster-etcd-operator-master-presubmits.yaml
  ci-operator/jobs/openshift/cluster-etcd-operator/openshift-cluster-etcd-operator-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift/cluster-etcd-operator/openshift-cluster-etcd-operator-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift/cluster-etcd-operator/openshift-cluster-etcd-operator-release-4.17-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Update base image of image-customization-controller to rhel-9 (#48258)
  ci-operator/config/openshift/image-customization-controller/openshift-image-customization-controller-main.yaml
  ci-operator/config/openshift/image-customization-controller/openshift-image-customization-controller-release-4.16.yaml
  ci-operator/config/openshift/image-customization-controller/openshift-image-customization-controller-release-4.17.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

kubevirt: vm-console-proxy: Update Golang to 1.21
  ci-operator/config/kubevirt/vm-console-proxy/kubevirt-vm-console-proxy-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

kube-apiserver-operator: add optional tests to skew time for 2 and 3 years
  ci-operator/config/openshift/cluster-kube-apiserver-operator/openshift-cluster-kube-apiserver-operator-master.yaml
  ci-operator/jobs/openshift/cluster-kube-apiserver-operator/openshift-cluster-kube-apiserver-operator-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

added comment to test
  ci-operator/step-registry/baremetal/lab/upi/install/baremetal-lab-upi-install-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

OCPBUGS-28683: Remove openshift-sdn-based CI jobs by 4.17 (cluster-etcd-operator) (#48318)
  ci-operator/config/openshift/cluster-etcd-operator/openshift-cluster-etcd-operator-master.yaml
  ci-operator/config/openshift/cluster-etcd-operator/openshift-cluster-etcd-operator-release-4.15.yaml
  ci-operator/config/openshift/cluster-etcd-operator/openshift-cluster-etcd-operator-release-4.16.yaml
  ci-operator/config/openshift/cluster-etcd-operator/openshift-cluster-etcd-operator-release-4.17.yaml
  ci-operator/jobs/openshift/cluster-etcd-operator/openshift-cluster-etcd-operator-master-presubmits.yaml
  ci-operator/jobs/openshift/cluster-etcd-operator/openshift-cluster-etcd-operator-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift/cluster-etcd-operator/openshift-cluster-etcd-operator-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift/cluster-etcd-operator/openshift-cluster-etcd-operator-release-4.17-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Fix build_root for openstack sushy in older releases
  ci-operator/config/openshift/openstack-sushy/openshift-openstack-sushy-release-4.12.yaml
  ci-operator/config/openshift/openstack-sushy/openshift-openstack-sushy-release-4.13.yaml
  ci-operator/config/openshift/openstack-sushy/openshift-openstack-sushy-release-4.14.yaml
  ci-operator/config/openshift/openstack-sushy/openshift-openstack-sushy-release-4.15.yaml
  ci-operator/jobs/openshift/openstack-sushy/openshift-openstack-sushy-release-4.12-postsubmits.yaml
  ci-operator/jobs/openshift/openstack-sushy/openshift-openstack-sushy-release-4.12-presubmits.yaml
  ci-operator/jobs/openshift/openstack-sushy/openshift-openstack-sushy-release-4.13-postsubmits.yaml
  ci-operator/jobs/openshift/openstack-sushy/openshift-openstack-sushy-release-4.13-presubmits.yaml
  ci-operator/jobs/openshift/openstack-sushy/openshift-openstack-sushy-release-4.14-postsubmits.yaml
  ci-operator/jobs/openshift/openstack-sushy/openshift-openstack-sushy-release-4.14-presubmits.yaml
  ci-operator/jobs/openshift/openstack-sushy/openshift-openstack-sushy-release-4.15-postsubmits.yaml
  ci-operator/jobs/openshift/openstack-sushy/openshift-openstack-sushy-release-4.15-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Updated the firewatch-rosa-aws-sts workflow with removing redundant env vars
  ci-operator/step-registry/firewatch/rosa/aws/sts/firewatch-rosa-aws-sts-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Increase TrustyAI's CPU allowance (#48111)
  ci-operator/config/trustyai-explainability/trustyai-explainability/trustyai-explainability-trustyai-explainability-main.yaml
  ci-operator/config/trustyai-explainability/trustyai-service-operator/trustyai-explainability-trustyai-service-operator-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Use cluster profile for GPU operator pre-/post-submit (#48314)
  ci-operator/config/rh-ecosystem-edge/ci-tools-nvidia-gpu-operator/rh-ecosystem-edge-ci-tools-nvidia-gpu-operator-main.yaml
  ci-operator/config/rh-ecosystem-edge/ci-tools-nvidia-gpu-operator/rh-ecosystem-edge-ci-tools-nvidia-gpu-operator-main__4.11.yaml
  ci-operator/config/rh-ecosystem-edge/ci-tools-nvidia-gpu-operator/rh-ecosystem-edge-ci-tools-nvidia-gpu-operator-main__4.12.yaml
  ci-operator/config/rh-ecosystem-edge/ci-tools-nvidia-gpu-operator/rh-ecosystem-edge-ci-tools-nvidia-gpu-operator-main__4.13.yaml
  ci-operator/config/rh-ecosystem-edge/ci-tools-nvidia-gpu-operator/rh-ecosystem-edge-ci-tools-nvidia-gpu-operator-main__4.14.yaml
  ci-operator/config/rh-ecosystem-edge/ci-tools-nvidia-gpu-operator/rh-ecosystem-edge-ci-tools-nvidia-gpu-operator-main__4.15.yaml
  ci-operator/jobs/rh-ecosystem-edge/ci-tools-nvidia-gpu-operator/rh-ecosystem-edge-ci-tools-nvidia-gpu-operator-main-postsubmits.yaml
  ci-operator/jobs/rh-ecosystem-edge/ci-tools-nvidia-gpu-operator/rh-ecosystem-edge-ci-tools-nvidia-gpu-operator-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

config-brancher --config-dir ./ci-operator/config --current-release 4.16 --skip-periodics --future-release 4.17 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.16.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift/okd-machine-os/openshift-okd-machine-os-release-4.16.yaml
  ci-operator/config/openshift/okd-machine-os/openshift-okd-machine-os-release-4.17.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-openstack/openshift-priv-cluster-api-provider-openstack-main.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-master.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.8.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.9.yaml
  ci-operator/config/openshift-priv/cluster-etcd-operator/openshift-priv-cluster-etcd-operator-master.yaml
  ci-operator/config/openshift-priv/cluster-etcd-operator/openshift-priv-cluster-etcd-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-etcd-operator/openshift-priv-cluster-etcd-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-etcd-operator/openshift-priv-cluster-etcd-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-master.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.9.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.7.yaml
  ci-operator/config/openshift-priv/kubernetes/openshift-priv-kubernetes-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-operator-prowgen --from-dir ./ci-operator/config --to-dir ./ci-operator/jobs
  ci-operator/jobs/openshift-priv/cluster-etcd-operator/openshift-priv-cluster-etcd-operator-master-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-etcd-operator/openshift-priv-cluster-etcd-operator-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-etcd-operator/openshift-priv-cluster-etcd-operator-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-etcd-operator/openshift-priv-cluster-etcd-operator-release-4.17-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Add MDR relese-0.3 configs (#48257)
  ci-operator/config/medik8s/machine-deletion-remediation/medik8s-machine-deletion-remediation-release-0.3__4.12.yaml
  ci-operator/config/medik8s/machine-deletion-remediation/medik8s-machine-deletion-remediation-release-0.3__4.13.yaml
  ci-operator/config/medik8s/machine-deletion-remediation/medik8s-machine-deletion-remediation-release-0.3__4.14.yaml
  ci-operator/config/medik8s/machine-deletion-remediation/medik8s-machine-deletion-remediation-release-0.3__4.15.yaml
  ci-operator/jobs/medik8s/machine-deletion-remediation/medik8s-machine-deletion-remediation-release-0.3-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

OpenStack: Restore mergebot periodics to stable branches (#48280)
  ci-operator/config/shiftstack/merge-bot/shiftstack-merge-bot-main.yaml
  ci-operator/config/shiftstack/merge-bot/shiftstack-merge-bot-release-4.11__periodic-4.11.yaml
  ci-operator/config/shiftstack/merge-bot/shiftstack-merge-bot-release-4.12__periodic-4.12.yaml
  ci-operator/config/shiftstack/merge-bot/shiftstack-merge-bot-release-4.13__periodic-4.13.yaml
  ci-operator/config/shiftstack/merge-bot/shiftstack-merge-bot-release-4.14__periodic-4.14.yaml
  ci-operator/config/shiftstack/merge-bot/shiftstack-merge-bot-release-4.15__periodic-4.15.yaml
  ci-operator/jobs/shiftstack/merge-bot/shiftstack-merge-bot-main-periodics.yaml
  ci-operator/jobs/shiftstack/merge-bot/shiftstack-merge-bot-release-4.11-periodics.yaml
  ci-operator/jobs/shiftstack/merge-bot/shiftstack-merge-bot-release-4.11-presubmits.yaml
  ci-operator/jobs/shiftstack/merge-bot/shiftstack-merge-bot-release-4.12-periodics.yaml
  ci-operator/jobs/shiftstack/merge-bot/shiftstack-merge-bot-release-4.12-presubmits.yaml
  ci-operator/jobs/shiftstack/merge-bot/shiftstack-merge-bot-release-4.13-periodics.yaml
  ci-operator/jobs/shiftstack/merge-bot/shiftstack-merge-bot-release-4.13-presubmits.yaml
  ci-operator/jobs/shiftstack/merge-bot/shiftstack-merge-bot-release-4.14-periodics.yaml
  ci-operator/jobs/shiftstack/merge-bot/shiftstack-merge-bot-release-4.14-presubmits.yaml
  ci-operator/jobs/shiftstack/merge-bot/shiftstack-merge-bot-release-4.15-periodics.yaml
  ci-operator/jobs/shiftstack/merge-bot/shiftstack-merge-bot-release-4.15-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

update AMQ Streams 2.6.0 version after respin (#48290)
  ci-operator/config/amq-streams-qe/strimzi-kafka-operator/amq-streams-qe-strimzi-kafka-operator-main__amq-streams-ocp4.14-lp-interop.yaml
  ci-operator/config/amq-streams-qe/strimzi-kafka-operator/amq-streams-qe-strimzi-kafka-operator-main__amq-streams-ocp4.14-lp-rosa-classic.yaml
  ci-operator/config/amq-streams-qe/strimzi-kafka-operator/amq-streams-qe-strimzi-kafka-operator-main__amq-streams-ocp4.15-lp-interop.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Setting TechPreviewNoUpgrade temporarily for vSphere static IP until API changes are merged. (#48284)
  ci-operator/config/openshift/installer/openshift-installer-master.yaml
  ci-operator/config/openshift/installer/openshift-installer-release-4.16.yaml
  ci-operator/config/openshift/installer/openshift-installer-release-4.17.yaml
  ci-operator/config/openshift/machine-api-operator/openshift-machine-api-operator-release-4.16.yaml
  ci-operator/config/openshift/machine-api-operator/openshift-machine-api-operator-release-4.17.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames
