Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

[PERFSCALE-3728] Introduce OKD-scos 4.19 deployments (2)
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-4.19-okd-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-periodics.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Use new aws-perfscale-okd cluster profile
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-4.19-okd-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

change brew version dir structure
  ci-operator/step-registry/openshift/microshift/infra/iso-build/openshift-microshift-infra-iso-build-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

fix error
  ci-operator/step-registry/openshift/microshift/infra/iso-build/openshift-microshift-infra-iso-build-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

test rebases with e2e-tests on aws (#65068)
  ci-operator/config/openshift/cluster-api/openshift-cluster-api-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add wait
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Fix cluster domain leading to DNS issues in IBIO CI
  ci-operator/step-registry/image-based-install-operator/image-based-install-operator-commands.sh
  ci-operator/step-registry/image-based-install-operator/reinstall/create-secrets/image-based-install-operator-reinstall-create-secrets-commands.sh
  ci-operator/step-registry/image-based-install-operator/reinstall/verify/image-based-install-operator-reinstall-verify-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

CNTRLPLANE-708 Build CI to cover Calico CNI for HCP on baremetal with Agent
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.18__periodics-mce.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.18-periodics.yaml
  ci-operator/step-registry/calico/OWNERS
  ci-operator/step-registry/calico/conf/OWNERS
  ci-operator/step-registry/calico/conf/calico-conf-commands.sh
  ci-operator/step-registry/calico/conf/calico-conf-ref.metadata.json
  ci-operator/step-registry/calico/conf/calico-conf-ref.yaml
  ci-operator/step-registry/cucushift/hypershift-extended/calico/cucushift-hypershift-extended-calico-commands.sh
  ci-operator/step-registry/hypershift/mce/agent/metal3/conformance/calico/OWNERS
  ci-operator/step-registry/hypershift/mce/agent/metal3/conformance/calico/hypershift-mce-agent-metal3-conformance-calico-workflow.metadata.json
  ci-operator/step-registry/hypershift/mce/agent/metal3/conformance/calico/hypershift-mce-agent-metal3-conformance-calico-workflow.yaml
  ci-operator/step-registry/hypershift/mce/agent/metal3/create/calico/OWNERS
  ci-operator/step-registry/hypershift/mce/agent/metal3/create/calico/hypershift-mce-agent-metal3-create-calico-chain.metadata.json
  ci-operator/step-registry/hypershift/mce/agent/metal3/create/calico/hypershift-mce-agent-metal3-create-calico-chain.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

CNTRLPLANE-707 Build CI to cover Calico CNI for HCP on kubevirt
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.19__periodics.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.19-periodics.yaml
  ci-operator/step-registry/hypershift/kubevirt/baremetalds/conformance-calico/OWNERS
  ci-operator/step-registry/hypershift/kubevirt/baremetalds/conformance-calico/hypershift-kubevirt-baremetalds-conformance-calico-workflow.metadata.json
  ci-operator/step-registry/hypershift/kubevirt/baremetalds/conformance-calico/hypershift-kubevirt-baremetalds-conformance-calico-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

STOR-2380: Add aws efs csi cross account CI
  ci-operator/config/openshift/csi-operator/openshift-csi-operator-main.yaml
  ci-operator/config/openshift/csi-operator/openshift-csi-operator-release-4.20.yaml
  ci-operator/jobs/openshift/csi-operator/openshift-csi-operator-main-presubmits.yaml
  ci-operator/jobs/openshift/csi-operator/openshift-csi-operator-release-4.20-presubmits.yaml
  ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml
  ci-operator/step-registry/openshift/e2e/aws/csi/efs/cross-account/OWNERS
  ci-operator/step-registry/openshift/e2e/aws/csi/efs/cross-account/openshift-e2e-aws-csi-efs-cross-account-workflow.metadata.json
  ci-operator/step-registry/openshift/e2e/aws/csi/efs/cross-account/openshift-e2e-aws-csi-efs-cross-account-workflow.yaml
  ci-operator/step-registry/openshift/e2e/aws/csi/efs/sts/OWNERS
  ci-operator/step-registry/openshift/e2e/aws/csi/efs/sts/cross-account/OWNERS
  ci-operator/step-registry/openshift/e2e/aws/csi/efs/sts/cross-account/openshift-e2e-aws-csi-efs-sts-cross-account-workflow.metadata.json
  ci-operator/step-registry/openshift/e2e/aws/csi/efs/sts/cross-account/openshift-e2e-aws-csi-efs-sts-cross-account-workflow.yaml
  ci-operator/step-registry/storage/conf/csi-optional/aws-efs/cross-account/OWNERS
  ci-operator/step-registry/storage/conf/csi-optional/aws-efs/cross-account/storage-conf-csi-optional-aws-efs-cross-account-chain.metadata.json
  ci-operator/step-registry/storage/conf/csi-optional/aws-efs/cross-account/storage-conf-csi-optional-aws-efs-cross-account-chain.yaml
  ci-operator/step-registry/storage/conf/csi-optional/aws-efs/sts/cross-account/OWNERS
  ci-operator/step-registry/storage/conf/csi-optional/aws-efs/sts/cross-account/storage-conf-csi-optional-aws-efs-sts-cross-account-chain.metadata.json
  ci-operator/step-registry/storage/conf/csi-optional/aws-efs/sts/cross-account/storage-conf-csi-optional-aws-efs-sts-cross-account-chain.yaml
  ci-operator/step-registry/storage/create/csi-aws-efs/cross-account/OWNERS
  ci-operator/step-registry/storage/create/csi-aws-efs/cross-account/storage-create-csi-aws-efs-cross-account-commands.sh
  ci-operator/step-registry/storage/create/csi-aws-efs/cross-account/storage-create-csi-aws-efs-cross-account-ref.metadata.json
  ci-operator/step-registry/storage/create/csi-aws-efs/cross-account/storage-create-csi-aws-efs-cross-account-ref.yaml
  ci-operator/step-registry/storage/create/csi-aws-efs/storage-create-csi-aws-efs-commands.sh
  ci-operator/step-registry/storage/create/csi-aws-efs/storage-create-csi-aws-efs-ref.yaml
  ci-operator/step-registry/storage/destroy/csi-aws-efs/storage-destroy-csi-aws-efs-commands.sh
  ci-operator/step-registry/storage/destroy/csi-aws-efs/storage-destroy-csi-aws-efs-ref.yaml
  ci-operator/step-registry/storage/destroy/csi-aws-efs/sts-operator-role/storage-destroy-csi-aws-efs-sts-operator-role-commands.sh
  ci-operator/step-registry/storage/destroy/csi-aws-efs/sts-operator-role/storage-destroy-csi-aws-efs-sts-operator-role-ref.yaml
Due: ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

add 4.19 regression job (#65511)
  ci-operator/config/openshift/svt/openshift-svt-master__regression-aws-4.19-nightly-x86.yaml
  ci-operator/jobs/openshift/svt/openshift-svt-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

crc: fix integration test missed during 71ac8e0c9e01f5139b16dc018432fd0e51097fa2
  ci-operator/step-registry/code-ready/crc/integration/test/code-ready-crc-integration-test-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

update code
  ci-operator/step-registry/openshift-qe/cluster-density-v2/openshift-qe-cluster-density-v2-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

quay-operator-bundle-container-v3.15.0-16
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__quay-upgrade.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

pull-secrets for bare metal cluster profiles
  core-services/ci-secret-bootstrap/_config.yaml
Due: ci/prow/ci-secret-bootstrap-config-validation, ci/prow/secret-generator-config-valid

crc: fix integration test missed during 71ac8e0c9e01f5139b16dc018432fd0e51097fa2 (#66260)
  ci-operator/step-registry/code-ready/crc/integration/test/code-ready-crc-integration-test-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ci: add odh/rag repo
  core-services/prow/02_config/opendatahub-io/rag/_pluginconfig.yaml
  core-services/prow/02_config/opendatahub-io/rag/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

add DISABLE_BOOT_IMAGE_UPDATE to dsiable boot image update in certain upgrade jobs
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-nightly-4.19-upgrade-from-stable-4.18.yaml
  ci-operator/step-registry/cucushift/chainupgrade/toimage/cucushift-chainupgrade-toimage-commands.sh
  ci-operator/step-registry/cucushift/chainupgrade/toimage/cucushift-chainupgrade-toimage-ref.yaml
  ci-operator/step-registry/cucushift/upgrade/toimage/cucushift-upgrade-toimage-commands.sh
  ci-operator/step-registry/cucushift/upgrade/toimage/cucushift-upgrade-toimage-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ci: add odh/rag repo (#66262)
  core-services/prow/02_config/opendatahub-io/rag/_pluginconfig.yaml
  core-services/prow/02_config/opendatahub-io/rag/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

ossm: ztunnel: automatic upstream->downstream sync for 1.26 branch
  ci-operator/config/openshift-service-mesh/ztunnel/openshift-service-mesh-ztunnel-release-1.26.yaml
  ci-operator/jobs/openshift-service-mesh/ztunnel/openshift-service-mesh-ztunnel-release-1.26-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

HCO: bump golang to 1.24, OCP to 4.20 (#66168)
  ci-operator/config/kubevirt/hyperconverged-cluster-operator/kubevirt-hyperconverged-cluster-operator-main.yaml
  ci-operator/jobs/kubevirt/hyperconverged-cluster-operator/kubevirt-hyperconverged-cluster-operator-main-periodics.yaml
  ci-operator/jobs/kubevirt/hyperconverged-cluster-operator/kubevirt-hyperconverged-cluster-operator-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

OCPQE-29929 - Add QE Catalogsource
  ci-operator/step-registry/rosa/aws/sts/shared-vpc/rosa-aws-sts-shared-vpc-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

pull-secrets for bare metal cluster profiles (#66261)
  core-services/ci-secret-bootstrap/_config.yaml
Due: ci/prow/ci-secret-bootstrap-config-validation, ci/prow/secret-generator-config-valid

adding go-toolset:1.23.9 image to image-mirroring config and using the image in odh-model-controller CI jobs
  ci-operator/config/opendatahub-io/odh-model-controller/opendatahub-io-odh-model-controller-incubating.yaml
  ci-operator/config/opendatahub-io/odh-model-controller/opendatahub-io-odh-model-controller-main.yaml
  core-services/image-mirroring/_config.yaml
Due: ci/prow/check-gh-automation, ci/prow/image-mirroring-config-validation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

fixing linter error
  core-services/image-mirroring/_config.yaml
Due: ci/prow/image-mirroring-config-validation

Add Openshift-ci pipeline of ovms for rhoai-2.22
  ci-operator/config/red-hat-data-services/openvino_model_server/red-hat-data-services-openvino_model_server-rhoai-2.22.yaml
  ci-operator/jobs/red-hat-data-services/openvino_model_server/red-hat-data-services-openvino_model_server-rhoai-2.22-postsubmits.yaml
  ci-operator/jobs/red-hat-data-services/openvino_model_server/red-hat-data-services-openvino_model_server-rhoai-2.22-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Fix Machine Health Check for bare metal
  clusters/build-clusters/common_ocp/machinehealthcheck.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Release image in jetlag deployments!
  ci-operator/step-registry/openshift-qe/installer/bm/deploy/openshift-qe-installer-bm-deploy-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Test Jetlag PR
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__metal-4.19-latest-x86.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

removing references to new image in CI
  ci-operator/config/opendatahub-io/odh-model-controller/opendatahub-io-odh-model-controller-incubating.yaml
  ci-operator/config/opendatahub-io/odh-model-controller/opendatahub-io-odh-model-controller-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

remove nightly version type param
  ci-operator/step-registry/openshift/microshift/infra/iso-build/openshift-microshift-infra-iso-build-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update pull-secret path
  ci-operator/step-registry/openshift-qe/installer/bm/deploy/openshift-qe-installer-bm-deploy-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

refactor cnv-test script
  ci-operator/step-registry/interop-tests/openshift-virtualization-tests/interop-tests-openshift-virtualization-tests-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add CNV 4.19
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-cnv-4.19__cnv-odf-ocp4.19-lp-interop.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

rename
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-cnv-4.18__cnv-odf-ocp4.19-lp-interop.yaml
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-cnv-4.19__cnv-odf-ocp4.19-lp-interop.yaml
  ci-operator/jobs/RedHatQE/interop-testing/RedHatQE-interop-testing-cnv-4.19-periodics.yaml
  ci-operator/jobs/RedHatQE/interop-testing/RedHatQE-interop-testing-cnv-4.19-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

??! what the ... 😵❓
  ci-operator/step-registry/interop-tests/openshift-virtualization-tests/interop-tests-openshift-virtualization-tests-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add CNV_SUBSCRIPTION_CHANNEL overwrite to cnv-tests step
  ci-operator/step-registry/interop-tests/cnv-tests-e2e-deploy/interop-tests-cnv-tests-e2e-deploy-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Oh no
  ci-operator/step-registry/interop-tests/openshift-virtualization-tests/interop-tests-openshift-virtualization-tests-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck
