Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

Add agent gather for OVE cluster
  ci-operator/step-registry/agent-qe/baremetal/install/ove/agent-qe-baremetal-install-ove-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

steps.sandboxed-containers-operator: Improve GA variables handling (#71303)
  ci-operator/config/openshift/sandboxed-containers-operator/README.md
  ci-operator/config/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel__downstream-candidate.yaml
  ci-operator/config/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel__downstream-release.yaml
  ci-operator/step-registry/sandboxed-containers-operator/create-prowjob/sandboxed-containers-operator-create-prowjob-commands.sh
  ci-operator/step-registry/sandboxed-containers-operator/env-cm/sandboxed-containers-operator-env-cm-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Bump quota for openstack-vexxhost-quota-slice
  core-services/prow/02_config/_boskos.yaml
  core-services/prow/02_config/generate-boskos.py
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Add prow jobs for standalone monitoring 4.21 branch
  ci-operator/config/openshift/openshift-docs/openshift-openshift-docs-monitoring-docs-4.21.yaml
  ci-operator/jobs/openshift/openshift-docs/openshift-openshift-docs-monitoring-docs-4.21-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

add capability
  ci-operator/config/stolostron/policy-collection/stolostron-policy-collection-main__ocp4.19.yaml
  ci-operator/config/stolostron/policy-collection/stolostron-policy-collection-main__ocp4.20.yaml
  ci-operator/jobs/stolostron/policy-collection/stolostron-policy-collection-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Disable build05 for ofcir migration
  core-services/sanitize-prow-jobs/_clusters.yaml
Due: none

test 3096
  ci-operator/config/openshift/cloud-provider-nutanix/openshift-cloud-provider-nutanix-release-4.21.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Disable build05 for ofcir migration (#71508)
  core-services/sanitize-prow-jobs/_clusters.yaml
Due: none

MCO-1917: create prow steps to configure osimagestream in day1 and day2
  ci-operator/step-registry/mco/conf/day1/set-os-image-stream/OWNERS
  ci-operator/step-registry/mco/conf/day1/set-os-image-stream/mco-conf-day1-set-os-image-stream-commands.sh
  ci-operator/step-registry/mco/conf/day1/set-os-image-stream/mco-conf-day1-set-os-image-stream-ref.metadata.json
  ci-operator/step-registry/mco/conf/day1/set-os-image-stream/mco-conf-day1-set-os-image-stream-ref.yaml
  ci-operator/step-registry/mco/conf/day2/set-os-image-stream/OWNERS
  ci-operator/step-registry/mco/conf/day2/set-os-image-stream/mco-conf-day2-set-os-image-stream-commands.sh
  ci-operator/step-registry/mco/conf/day2/set-os-image-stream/mco-conf-day2-set-os-image-stream-ref.metadata.json
  ci-operator/step-registry/mco/conf/day2/set-os-image-stream/mco-conf-day2-set-os-image-stream-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add agent gather for OVE cluster (#71502)
  ci-operator/step-registry/agent-qe/baremetal/install/ove/agent-qe-baremetal-install-ove-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Debug timeout
  ci-operator/config/openshift/tls-scanner/openshift-tls-scanner-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

update santize-prow-jobs for ofcir
  core-services/sanitize-prow-jobs/_config.yaml
Due: ci/prow/ordered-prow-config

update santize-prow-jobs for ofcir (#71509)
  core-services/sanitize-prow-jobs/_config.yaml
Due: ci/prow/ordered-prow-config

Updated test profile for ROSA HCP setup
  ci-operator/config/openshift/cluster-nfd-operator/openshift-cluster-nfd-operator-release-4.20__ocp4.20-lp-rosa-hypershift.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Expansion of NFD operator on ROSA HCP to OCP4.20
  ci-operator/config/openshift/cluster-nfd-operator/openshift-cluster-nfd-operator-release-4.20__ocp4.20-lp-rosa-hypershift.yaml
  ci-operator/jobs/openshift/cluster-nfd-operator/openshift-cluster-nfd-operator-release-4.20-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Created .config.prowgen file for slack reporter
  ci-operator/config/openshift/cluster-nfd-operator/.config.prowgen
  ci-operator/jobs/openshift/cluster-nfd-operator/openshift-cluster-nfd-operator-release-4.14-periodics.yaml
  ci-operator/jobs/openshift/cluster-nfd-operator/openshift-cluster-nfd-operator-release-4.15-periodics.yaml
  ci-operator/jobs/openshift/cluster-nfd-operator/openshift-cluster-nfd-operator-release-4.16-periodics.yaml
  ci-operator/jobs/openshift/cluster-nfd-operator/openshift-cluster-nfd-operator-release-4.19-periodics.yaml
  ci-operator/jobs/openshift/cluster-nfd-operator/openshift-cluster-nfd-operator-release-4.20-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

make jobs
  ci-operator/jobs/openshift/cluster-nfd-operator/openshift-cluster-nfd-operator-release-4.20-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Mirror spoke operators (#71496)
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-standard-4.19.yaml
  ci-operator/step-registry/telcov10n/functional/cnf-ran/mirror-spoke-operators/OWNERS
  ci-operator/step-registry/telcov10n/functional/cnf-ran/mirror-spoke-operators/telcov10n-functional-cnf-ran-mirror-spoke-operators-commands.sh
  ci-operator/step-registry/telcov10n/functional/cnf-ran/mirror-spoke-operators/telcov10n-functional-cnf-ran-mirror-spoke-operators-ref.metadata.json
  ci-operator/step-registry/telcov10n/functional/cnf-ran/mirror-spoke-operators/telcov10n-functional-cnf-ran-mirror-spoke-operators-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

test for OCP-76537
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__amd64-nightly.yaml
  ci-operator/step-registry/netobserv/apply-redhat-operators/OWNERS
  ci-operator/step-registry/netobserv/apply-redhat-operators/netobserv-apply-redhat-operators-commands.sh
  ci-operator/step-registry/netobserv/apply-redhat-operators/netobserv-apply-redhat-operators-ref.metadata.json
  ci-operator/step-registry/netobserv/apply-redhat-operators/netobserv-apply-redhat-operators-ref.yaml
  ci-operator/step-registry/netobserv/deploy-nfs-provisioner/OWNERS
  ci-operator/step-registry/netobserv/deploy-nfs-provisioner/netobserv-deploy-nfs-provisioner-commands.sh
  ci-operator/step-registry/netobserv/deploy-nfs-provisioner/netobserv-deploy-nfs-provisioner-ref.metadata.json
  ci-operator/step-registry/netobserv/deploy-nfs-provisioner/netobserv-deploy-nfs-provisioner-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

make jobs; make metadata
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20-periodics.yaml
  ci-operator/step-registry/netobserv/apply-redhat-operators/netobserv-apply-redhat-operators-ref.metadata.json
  ci-operator/step-registry/netobserv/deploy-nfs-provisioner/netobserv-deploy-nfs-provisioner-ref.metadata.json
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

[INTEROP-8584] Expansion of NFD operator on ROSA HCP to OCP4.20 (#71463)
  ci-operator/config/openshift/cluster-nfd-operator/.config.prowgen
  ci-operator/config/openshift/cluster-nfd-operator/openshift-cluster-nfd-operator-release-4.20__ocp4.20-lp-rosa-hypershift.yaml
  ci-operator/jobs/openshift/cluster-nfd-operator/openshift-cluster-nfd-operator-release-4.14-periodics.yaml
  ci-operator/jobs/openshift/cluster-nfd-operator/openshift-cluster-nfd-operator-release-4.16-periodics.yaml
  ci-operator/jobs/openshift/cluster-nfd-operator/openshift-cluster-nfd-operator-release-4.19-periodics.yaml
  ci-operator/jobs/openshift/cluster-nfd-operator/openshift-cluster-nfd-operator-release-4.20-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add prow jobs for standalone monitoring 4.21 branch (#71505)
  ci-operator/config/openshift/openshift-docs/openshift-openshift-docs-monitoring-docs-4.21.yaml
  ci-operator/jobs/openshift/openshift-docs/openshift-openshift-docs-monitoring-docs-4.21-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

rpm from task 69451075
  ci-operator/config/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel__downstream-candidate420.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

debug
  ci-operator/config/openshift/tls-scanner/openshift-tls-scanner-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

[DEBUG] [DO NOT MERGE]
  ci-operator/config/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel__downstream-candidate420.yaml
  ci-operator/jobs/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

add ocp4.21 jobs for OADP dev branch
  ci-operator/config/openshift/oadp-operator/openshift-oadp-operator-oadp-dev__4.21.yaml
  ci-operator/jobs/openshift/oadp-operator/openshift-oadp-operator-oadp-dev-periodics.yaml
  ci-operator/jobs/openshift/oadp-operator/openshift-oadp-operator-oadp-dev-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Update cincinnati-approvers (#71259)
  OWNERS_ALIASES
Due: none

`ship-help-bot`: change build_root base image to version with python (#71404)
  ci-operator/config/openshift-eng/ship-help-bot/openshift-eng-ship-help-bot-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

update ash job to make sure it can be ran in pre-submit jobs for rebase prs (#71430)
  ci-operator/config/openshift/cloud-provider-azure/openshift-cloud-provider-azure-main.yaml
  ci-operator/jobs/openshift/cloud-provider-azure/openshift-cloud-provider-azure-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

config-brancher --config-dir ./ci-operator/config --current-release 4.21 --skip-periodics --future-release 4.22 --confirm
  ci-operator/config/openshift/cloud-provider-azure/openshift-cloud-provider-azure-release-4.21.yaml
  ci-operator/config/openshift/cloud-provider-azure/openshift-cloud-provider-azure-release-4.22.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.22.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-operator-prowgen --from-dir ./ci-operator/config --to-dir ./ci-operator/jobs
  ci-operator/jobs/openshift-priv/cloud-provider-azure/openshift-priv-cloud-provider-azure-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/cloud-provider-azure/openshift-priv-cloud-provider-azure-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift-priv/cloud-provider-azure/openshift-priv-cloud-provider-azure-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift-priv/installer/openshift-priv-installer-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/installer/openshift-priv-installer-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift-priv/installer/openshift-priv-installer-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift-priv/installer/openshift-priv-installer-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/installer/openshift-priv-installer-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift-priv/installer/openshift-priv-installer-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/cloud-provider-azure/openshift-cloud-provider-azure-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift/cloud-provider-azure/openshift-cloud-provider-azure-release-4.22-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.18.28-x86-64-for-4.18.0-0-to-4.19.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.19.19-x86-64-for-4.19.0-0-to-4.20.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Bump quota for openstack-vexxhost-quota-slice (#71507)
  core-services/prow/02_config/_boskos.yaml
  core-services/prow/02_config/generate-boskos.py
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Limit e2e suite parallel runs to 1 given environment constraints.
  core-services/prow/02_config/_boskos.yaml
  core-services/prow/02_config/generate-boskos.py
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

remove trailing dashes
  ci-operator/step-registry/stackrox/perfscale/stackrox-perfscale-chain.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Enabling 1000 workers job with cron
  ci-operator/config/openshift/ols-load-generator/openshift-ols-load-generator-main.yaml
  ci-operator/jobs/openshift/ols-load-generator/openshift-ols-load-generator-main-periodics.yaml
  ci-operator/jobs/openshift/ols-load-generator/openshift-ols-load-generator-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Excluding lease libvirt-ppc64le-s2s-1-* from lease pool
  _boskos.yaml
  core-services/prow/02_config/_boskos.yaml
  core-services/prow/02_config/generate-boskos.py
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config
