Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

MULTIARCH-5305 Creating a s390x VPN nightly POC job
  ci-operator/config/openshift/multiarch/openshift-multiarch-master__nightly-4.19.yaml
  ci-operator/jobs/openshift/multiarch/openshift-multiarch-master-periodics.yaml
  ci-operator/step-registry/openshift/e2e/libvirt/vpn/OWNERS
  ci-operator/step-registry/openshift/e2e/libvirt/vpn/openshift-e2e-libvirt-vpn-workflow.metadata.json
  ci-operator/step-registry/openshift/e2e/libvirt/vpn/openshift-e2e-libvirt-vpn-workflow.yaml
  ci-operator/step-registry/upi/libvirt/vpn/OWNERS
  ci-operator/step-registry/upi/libvirt/vpn/post/OWNERS
  ci-operator/step-registry/upi/libvirt/vpn/post/upi-libvirt-vpn-post-commands.sh
  ci-operator/step-registry/upi/libvirt/vpn/post/upi-libvirt-vpn-post-ref.metadata.json
  ci-operator/step-registry/upi/libvirt/vpn/post/upi-libvirt-vpn-post-ref.yaml
  ci-operator/step-registry/upi/libvirt/vpn/pre/OWNERS
  ci-operator/step-registry/upi/libvirt/vpn/pre/upi-libvirt-vpn-pre-commands.sh
  ci-operator/step-registry/upi/libvirt/vpn/pre/upi-libvirt-vpn-pre-ref.metadata.json
  ci-operator/step-registry/upi/libvirt/vpn/pre/upi-libvirt-vpn-pre-ref.yaml
  ci-operator/step-registry/upi/libvirt/vpn/upi-libvirt-vpn-commands.sh
  ci-operator/step-registry/upi/libvirt/vpn/upi-libvirt-vpn-ref.metadata.json
  ci-operator/step-registry/upi/libvirt/vpn/upi-libvirt-vpn-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

rebase oct9
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__vsphere-4.19-nightly-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-presubmits.yaml
  ci-operator/step-registry/openshift-qe/network-perf/openshift-qe-network-perf-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Bump Go version to 1.24 for cluster image set controller in MCE 2.10 (#70110)
  ci-operator/config/stolostron/cluster-image-set-controller/stolostron-cluster-image-set-controller-backplane-2.10.yaml
  ci-operator/config/stolostron/cluster-image-set-controller/stolostron-cluster-image-set-controller-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

fixed jobs
  ci-operator/jobs/lightspeed-core/lightspeed-stack/lightspeed-core-lightspeed-stack-rhoai-provider-main-periodics.yaml
  ci-operator/jobs/lightspeed-core/lightspeed-stack/lightspeed-core-lightspeed-stack-rhoai-provider-main-postsubmits.yaml
  ci-operator/jobs/lightspeed-core/lightspeed-stack/lightspeed-core-lightspeed-stack-rhoai-provider-main-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Update command
  ci-operator/step-registry/psalajova/echo/echo/psalajova-echo-echo-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Changing cluster join cli checking env
  ci-operator/config/stolostron/multicluster-observability-operator/stolostron-multicluster-observability-operator-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

node-density-cni-vSphere
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__vsphere-4.21-nightly-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

OADP: Introduce rebasebot into oadp project
  ci-operator/config/migtools/rebasebot/OWNERS
  ci-operator/config/migtools/rebasebot/migtools-rebasebot-main.yaml
  ci-operator/jobs/migtools/rebasebot/OWNERS
  ci-operator/jobs/migtools/rebasebot/migtools-rebasebot-main-periodics.yaml
  ci-operator/jobs/migtools/rebasebot/migtools-rebasebot-main-presubmits.yaml
  core-services/openshift-priv/_whitelist.yaml
  core-services/prow/02_config/_plugins.yaml
  core-services/prow/02_config/migtools/rebasebot/OWNERS
  core-services/prow/02_config/migtools/rebasebot/_pluginconfig.yaml
  core-services/prow/02_config/migtools/rebasebot/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

docs(claude): update CLAUDE.md
  CLAUDE.md
Due: none

MCO use the right PinnedImageSet api version
  ci-operator/step-registry/mco/conf/day2/pintargetrelease/mco-conf-day2-pintargetrelease-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

bump minor upgrade presubmit jobs in CNO, OVNK
  ci-operator/config/openshift/cluster-network-operator/openshift-cluster-network-operator-master__4.21-upgrade-from-stable-4.20.yaml
  ci-operator/config/openshift/cluster-network-operator/openshift-cluster-network-operator-release-4.20__4.20-upgrade-from-stable-4.19.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-master__4.21-upgrade-from-stable-4.20.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.20__4.20-upgrade-from-stable-4.19.yaml
  ci-operator/jobs/openshift/cluster-network-operator/openshift-cluster-network-operator-master-presubmits.yaml
  ci-operator/jobs/openshift/cluster-network-operator/openshift-cluster-network-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-master-presubmits.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.20-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

sriov: increase timeout for conformance test step
  ci-operator/config/openshift/sriov-network-operator/openshift-sriov-network-operator-main.yaml
  ci-operator/config/openshift/sriov-network-operator/openshift-sriov-network-operator-release-4.21.yaml
  ci-operator/config/openshift/sriov-network-operator/openshift-sriov-network-operator-release-4.22.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Installer: azure default config basedomain fix (#70104)
  ci-operator/step-registry/ipi/conf/azure/default/ipi-conf-azure-default-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

config-brancher --config-dir ./ci-operator/config --current-release 4.21 --skip-periodics --future-release 4.22 --confirm
  ci-operator/config/openshift/cloud-provider-powervs/openshift-cloud-provider-powervs-release-4.22.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.22.yaml
  ci-operator/config/openshift/cluster-storage-operator/openshift-cluster-storage-operator-release-4.22.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.17.41-x86-64-for-4.17.0-0-to-4.18.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Added 6 hour wait for ipv6 testing
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

test: OCPBUGS-61829
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.19__periodics-mce.yaml
  ci-operator/step-registry/hypershift/mce/agent/metal3/conformance/hypershift-mce-agent-metal3-conformance-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

taking out my changes
  ci-operator/step-registry/kubevirt/install/kubevirt-install-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

feat(tools): add HyperShift Jira Agent container image
  tools/hypershift-jira-agent/Dockerfile
  tools/hypershift-jira-agent/README.md
Due: none

feat(tools): add local testing script for Jira Agent
  tools/hypershift-jira-agent/test-locally.sh
Due: none

feat(step-registry): add HyperShift Jira Agent setup step
  ci-operator/step-registry/hypershift/jira-agent/setup/hypershift-jira-agent-setup-commands.sh
  ci-operator/step-registry/hypershift/jira-agent/setup/hypershift-jira-agent-setup-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

feat(step-registry): add HyperShift Jira Agent report step
  ci-operator/step-registry/hypershift/jira-agent/report/hypershift-jira-agent-report-commands.sh
  ci-operator/step-registry/hypershift/jira-agent/report/hypershift-jira-agent-report-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

feat(step-registry): add HyperShift Jira Agent process step
  ci-operator/step-registry/hypershift/jira-agent/process/hypershift-jira-agent-process-commands.sh
  ci-operator/step-registry/hypershift/jira-agent/process/hypershift-jira-agent-process-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

docs(step-registry): add HyperShift Jira Agent documentation
  ci-operator/step-registry/hypershift/jira-agent/OWNERS
  ci-operator/step-registry/hypershift/jira-agent/README.md
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

feat(ci-operator): add hypershift-jira-agent image build
  ci-operator/config/openshift/release/openshift-release-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

feat(step-registry): add HyperShift Jira Agent workflow
  ci-operator/step-registry/hypershift/jira-agent/hypershift-jira-agent-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

feat(ci-operator): add periodic-jira-agent job for HyperShift
  ci-operator/config/openshift/hypershift/openshift-hypershift-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

bump minor upgrade presubmit jobs in CNO, OVNK (#69152)
  ci-operator/config/openshift/cluster-network-operator/openshift-cluster-network-operator-master__4.21-upgrade-from-stable-4.20.yaml
  ci-operator/config/openshift/cluster-network-operator/openshift-cluster-network-operator-release-4.20__4.20-upgrade-from-stable-4.19.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-master__4.21-upgrade-from-stable-4.20.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.20__4.20-upgrade-from-stable-4.19.yaml
  ci-operator/jobs/openshift/cluster-network-operator/openshift-cluster-network-operator-master-presubmits.yaml
  ci-operator/jobs/openshift/cluster-network-operator/openshift-cluster-network-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-master-presubmits.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.20-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Revert "Remove all CI jobs for bpfman release branches 4.20-4.22" (#70133)
  ci-operator/config/openshift-priv/bpfman-operator/openshift-priv-bpfman-operator-release-4.20.yaml
  ci-operator/config/openshift-priv/bpfman-operator/openshift-priv-bpfman-operator-release-4.21.yaml
  ci-operator/config/openshift-priv/bpfman-operator/openshift-priv-bpfman-operator-release-4.22.yaml
  ci-operator/config/openshift-priv/bpfman/openshift-priv-bpfman-release-4.20.yaml
  ci-operator/config/openshift-priv/bpfman/openshift-priv-bpfman-release-4.21.yaml
  ci-operator/config/openshift-priv/bpfman/openshift-priv-bpfman-release-4.22.yaml
  ci-operator/config/openshift/bpfman-operator/openshift-bpfman-operator-release-4.20.yaml
  ci-operator/config/openshift/bpfman-operator/openshift-bpfman-operator-release-4.21.yaml
  ci-operator/config/openshift/bpfman-operator/openshift-bpfman-operator-release-4.22.yaml
  ci-operator/config/openshift/bpfman/openshift-bpfman-release-4.20.yaml
  ci-operator/config/openshift/bpfman/openshift-bpfman-release-4.21.yaml
  ci-operator/config/openshift/bpfman/openshift-bpfman-release-4.22.yaml
  ci-operator/jobs/openshift-priv/bpfman-operator/openshift-priv-bpfman-operator-release-4.20-postsubmits.yaml
  ci-operator/jobs/openshift-priv/bpfman-operator/openshift-priv-bpfman-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/bpfman-operator/openshift-priv-bpfman-operator-release-4.21-postsubmits.yaml
  ci-operator/jobs/openshift-priv/bpfman-operator/openshift-priv-bpfman-operator-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift-priv/bpfman-operator/openshift-priv-bpfman-operator-release-4.22-postsubmits.yaml
  ci-operator/jobs/openshift-priv/bpfman-operator/openshift-priv-bpfman-operator-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift-priv/bpfman/openshift-priv-bpfman-release-4.20-postsubmits.yaml
  ci-operator/jobs/openshift-priv/bpfman/openshift-priv-bpfman-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/bpfman/openshift-priv-bpfman-release-4.21-postsubmits.yaml
  ci-operator/jobs/openshift-priv/bpfman/openshift-priv-bpfman-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift-priv/bpfman/openshift-priv-bpfman-release-4.22-postsubmits.yaml
  ci-operator/jobs/openshift-priv/bpfman/openshift-priv-bpfman-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/bpfman-operator/openshift-bpfman-operator-release-4.20-postsubmits.yaml
  ci-operator/jobs/openshift/bpfman-operator/openshift-bpfman-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/bpfman-operator/openshift-bpfman-operator-release-4.21-postsubmits.yaml
  ci-operator/jobs/openshift/bpfman-operator/openshift-bpfman-operator-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift/bpfman-operator/openshift-bpfman-operator-release-4.22-postsubmits.yaml
  ci-operator/jobs/openshift/bpfman-operator/openshift-bpfman-operator-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/bpfman/openshift-bpfman-release-4.20-postsubmits.yaml
  ci-operator/jobs/openshift/bpfman/openshift-bpfman-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/bpfman/openshift-bpfman-release-4.21-postsubmits.yaml
  ci-operator/jobs/openshift/bpfman/openshift-bpfman-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift/bpfman/openshift-bpfman-release-4.22-postsubmits.yaml
  ci-operator/jobs/openshift/bpfman/openshift-bpfman-release-4.22-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Updated profiles for zVSIs
  ci-operator/step-registry/hypershift/mce/ibmz/create/s390xmgmt/hypershift-mce-ibmz-create-s390xmgmt-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

change maxRetries
  core-services/release-controller/_releases/priv/release-ocp-4.12-arm64.json
  core-services/release-controller/_releases/priv/release-ocp-4.13-arm64.json
  core-services/release-controller/_releases/priv/release-ocp-4.13-multi.json
  core-services/release-controller/_releases/priv/release-ocp-4.14-arm64.json
  core-services/release-controller/_releases/priv/release-ocp-4.14-multi.json
  core-services/release-controller/_releases/priv/release-ocp-4.15-arm64.json
  core-services/release-controller/_releases/priv/release-ocp-4.15-multi.json
  core-services/release-controller/_releases/priv/release-ocp-4.19-arm64.json
  core-services/release-controller/_releases/priv/release-ocp-4.19-multi.json
  core-services/release-controller/_releases/priv/release-ocp-4.19-ppc64le.json
  core-services/release-controller/_releases/priv/release-ocp-4.19-s390x.json
  core-services/release-controller/_releases/priv/release-ocp-4.20-multi.json
  core-services/release-controller/_releases/priv/release-ocp-4.20-ppc64le.json
  core-services/release-controller/_releases/priv/release-ocp-4.20-s390x.json
  core-services/release-controller/_releases/priv/release-ocp-4.21-arm64.json
  core-services/release-controller/_releases/priv/release-ocp-4.21-multi.json
  core-services/release-controller/_releases/priv/release-ocp-4.21-ppc64le.json
  core-services/release-controller/_releases/priv/release-ocp-4.21-s390x.json
  core-services/release-controller/_releases/release-ocp-4.12-arm64.json
  core-services/release-controller/_releases/release-ocp-4.13-arm64.json
  core-services/release-controller/_releases/release-ocp-4.13-multi.json
  core-services/release-controller/_releases/release-ocp-4.14-arm64.json
  core-services/release-controller/_releases/release-ocp-4.14-multi.json
  core-services/release-controller/_releases/release-ocp-4.15-arm64.json
  core-services/release-controller/_releases/release-ocp-4.15-multi.json
  core-services/release-controller/_releases/release-ocp-4.19-arm64.json
  core-services/release-controller/_releases/release-ocp-4.19-multi.json
  core-services/release-controller/_releases/release-ocp-4.19-ppc64le.json
  core-services/release-controller/_releases/release-ocp-4.19-s390x.json
  core-services/release-controller/_releases/release-ocp-4.20-multi.json
  core-services/release-controller/_releases/release-ocp-4.20-ppc64le.json
  core-services/release-controller/_releases/release-ocp-4.20-s390x.json
  core-services/release-controller/_releases/release-ocp-4.21-arm64.json
  core-services/release-controller/_releases/release-ocp-4.21-multi.json
  core-services/release-controller/_releases/release-ocp-4.21-ppc64le.json
  core-services/release-controller/_releases/release-ocp-4.21-s390x.json
Due: ci/prow/ci-testgrid-allow-list, ci/prow/release-config

CNF-19753: 4.20 cloud-event-proxy e2e-aws temp fix for QCI auth
  ci-operator/config/redhat-cne/cloud-event-proxy/redhat-cne-cloud-event-proxy-release-4.20.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

cvo: Update z-approvers to be up to date
  core-services/prow/02_config/openshift/cluster-version-operator/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Update PowerVS CI Cron Schedules for 4.15–4.19 in dal10, wdc06, and lon06 (#70035)
  ci-operator/config/openshift/multiarch/openshift-multiarch-master__nightly-4.15.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-master__nightly-4.16.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-master__nightly-4.17.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-master__nightly-4.18.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-master__nightly-4.19.yaml
  ci-operator/jobs/openshift/multiarch/openshift-multiarch-master-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Remove bmc reset for aarch64 (#70050)
  ci-operator/step-registry/baremetal/lab/pre/reserve-nodes/baremetal-lab-pre-reserve-nodes-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

takingout starting csv
  ci-operator/step-registry/kubevirt/install/kubevirt-install-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

spacing
  ci-operator/step-registry/kubevirt/install/kubevirt-install-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Check for leaked resources after AWS destroy
  ci-operator/step-registry/aws/deprovision/verification/OWNERS
  ci-operator/step-registry/aws/deprovision/verification/aws-deprovision-verification-commands.sh
  ci-operator/step-registry/aws/deprovision/verification/aws-deprovision-verification-ref.metadata.json
  ci-operator/step-registry/aws/deprovision/verification/aws-deprovision-verification-ref.yaml
  ci-operator/step-registry/ipi/aws/post/ipi-aws-post-chain.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

core-services/release-controller/_repos: use e4s repos for rhel 9.2
  core-services/release-controller/_repos/ocp-4.14-rhel92.repo
  core-services/release-controller/_repos/ocp-4.15-rhel92.repo
Due: none
