Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

Remove build03 (#64129) (#63555)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-nightly-4.19-upgrade-from-stable-4.12.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__multi-nightly-4.19-upgrade-from-stable-4.13.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19-periodics.yaml
  ci-operator/step-registry/cucushift/chainupgrade/toimage/cucushift-chainupgrade-toimage-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

add 4.19 stable jobs (#64312)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__arm64-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__multi-stable.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

save user tags to artifacts dir (#64313)
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__installer-rehearse-4.18.yaml
  ci-operator/step-registry/cucushift/installer/check/gcp/user-tags/cucushift-installer-check-gcp-user-tags-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add vSphere host groups e2e test (#64155)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19-periodics.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/vsphere/ipi/nested/host-groups/provision/cucushift-installer-rehearse-vsphere-ipi-nested-host-groups-provision-chain.yaml
  ci-operator/step-registry/ipi/conf/vsphere/zones/customize/OWNERS
  ci-operator/step-registry/ipi/conf/vsphere/zones/customize/ipi-conf-vsphere-zones-customize-commands.sh
  ci-operator/step-registry/ipi/conf/vsphere/zones/customize/ipi-conf-vsphere-zones-customize-ref.metadata.json
  ci-operator/step-registry/ipi/conf/vsphere/zones/customize/ipi-conf-vsphere-zones-customize-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

apply image tag mirror/digest set (#64292)
  ci-operator/config/openshift/instaslice-operator/openshift-instaslice-operator-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

sanitize-prow-jobs --prow-jobs-dir ./ci-operator/jobs --config-path ./core-services/sanitize-prow-jobs/_config.yaml
  ci-operator/jobs/openshift-priv/jobset-operator/openshift-priv-jobset-operator-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/jobset-operator/openshift-priv-jobset-operator-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift-priv/jobset-operator/openshift-priv-jobset-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes-sigs-jobset/openshift-priv-kubernetes-sigs-jobset-main-postsubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes-sigs-jobset/openshift-priv-kubernetes-sigs-jobset-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes-sigs-jobset/openshift-priv-kubernetes-sigs-jobset-release-4.19-postsubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes-sigs-jobset/openshift-priv-kubernetes-sigs-jobset-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes-sigs-jobset/openshift-priv-kubernetes-sigs-jobset-release-4.20-postsubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes-sigs-jobset/openshift-priv-kubernetes-sigs-jobset-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/origin/openshift-priv-origin-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/origin/openshift-priv-origin-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift-priv/origin/openshift-priv-origin-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/origin/openshift-origin-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift/origin/openshift-origin-release-4.20-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Remove hypershift-e2e-aks job from release-4.18 presubmits (#64310)
  ci-operator/config/openshift/cluster-image-registry-operator/openshift-cluster-image-registry-operator-release-4.18.yaml
  ci-operator/jobs/openshift/cluster-image-registry-operator/openshift-cluster-image-registry-operator-release-4.18-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

ci-operator-prowgen --from-dir ./ci-operator/config --to-dir ./ci-operator/jobs
  ci-operator/jobs/openshift-priv/jobset-operator/openshift-priv-jobset-operator-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift-priv/jobset-operator/openshift-priv-jobset-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes-sigs-jobset/openshift-priv-kubernetes-sigs-jobset-main-postsubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes-sigs-jobset/openshift-priv-kubernetes-sigs-jobset-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes-sigs-jobset/openshift-priv-kubernetes-sigs-jobset-release-4.19-postsubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes-sigs-jobset/openshift-priv-kubernetes-sigs-jobset-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes-sigs-jobset/openshift-priv-kubernetes-sigs-jobset-release-4.20-postsubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes-sigs-jobset/openshift-priv-kubernetes-sigs-jobset-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/openshift-tests-private/openshift-priv-openshift-tests-private-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift-priv/origin/openshift-priv-origin-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/origin/openshift-priv-origin-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift-priv/origin/openshift-priv-origin-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/origin/openshift-origin-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift/origin/openshift-origin-release-4.20-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

gcp custom dns (#63849)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__multi-nightly.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__installation-nightly-4.18.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__installation-nightly-4.19.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__installer-rehearse-4.19.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19-periodics.yaml
  ci-operator/jobs/openshift/verification-tests/openshift-verification-tests-main-periodics.yaml
  ci-operator/step-registry/aws/deprovision/route53/public-record-sets/OWNERS
  ci-operator/step-registry/aws/deprovision/route53/public-record-sets/aws-deprovision-route53-public-record-sets-commands.sh
  ci-operator/step-registry/aws/deprovision/route53/public-record-sets/aws-deprovision-route53-public-record-sets-ref.metadata.json
  ci-operator/step-registry/aws/deprovision/route53/public-record-sets/aws-deprovision-route53-public-record-sets-ref.yaml
  ci-operator/step-registry/aws/provision/route53/public-record-sets/OWNERS
  ci-operator/step-registry/aws/provision/route53/public-record-sets/aws-provision-route53-public-record-sets-commands.sh
  ci-operator/step-registry/aws/provision/route53/public-record-sets/aws-provision-route53-public-record-sets-ref.metadata.json
  ci-operator/step-registry/aws/provision/route53/public-record-sets/aws-provision-route53-public-record-sets-ref.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/gcp/ipi/user-provisioned-dns/cucushift-installer-rehearse-gcp-ipi-user-provisioned-dns-workflow.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/gcp/ipi/user-provisioned-dns/private/cucushift-installer-rehearse-gcp-ipi-user-provisioned-dns-private-workflow.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/gcp/ipi/user-provisioned-dns/provision/cucushift-installer-rehearse-gcp-ipi-user-provisioned-dns-provision-chain.yaml
  ci-operator/step-registry/gcp/provision/private-custom-dns/gcp-provision-private-custom-dns-commands.sh
  ci-operator/step-registry/gcp/provision/private-custom-dns/gcp-provision-private-custom-dns-ref.yaml
  ci-operator/step-registry/gcp/provision/public-custom-dns/OWNERS
  ci-operator/step-registry/gcp/provision/public-custom-dns/gcp-provision-public-custom-dns-commands.sh
  ci-operator/step-registry/gcp/provision/public-custom-dns/gcp-provision-public-custom-dns-ref.metadata.json
  ci-operator/step-registry/gcp/provision/public-custom-dns/gcp-provision-public-custom-dns-ref.yaml
  ci-operator/step-registry/ipi/conf/gcp/ipi-conf-gcp-commands.sh
  ci-operator/step-registry/ipi/conf/gcp/ipi-conf-gcp-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

config-brancher --config-dir ./ci-operator/config --current-release 4.19 --skip-periodics --future-release 4.20 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.19.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.20.yaml
  ci-operator/config/openshift/insights-operator/openshift-insights-operator-release-4.19.yaml
  ci-operator/config/openshift/insights-operator/openshift-insights-operator-release-4.20.yaml
  ci-operator/config/openshift/instaslice-operator/openshift-instaslice-operator-release-4.19.yaml
  ci-operator/config/openshift/instaslice-operator/openshift-instaslice-operator-release-4.20.yaml
  ci-operator/config/openshift/microshift/openshift-microshift-release-4.19.yaml
  ci-operator/config/openshift/microshift/openshift-microshift-release-4.20.yaml
  ci-operator/config/openshift/origin/openshift-origin-release-4.19.yaml
  ci-operator/config/openshift/origin/openshift-origin-release-4.20.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

private-prow-configs-mirror --release-repo-path . --github-token-path /etc/github/oauth --github-endpoint http://ghproxy --dry-run false --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  core-services/prow/02_config/openshift-priv/kubernetes-sigs-jobset/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/cvp/cvp-fips-ocp-4-17-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/cvp/cvp-ocp-4-17-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.15.49-x86-64-for-4.15.0-0-to-4.16.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.17.27-x86-64-for-4.17.0-0-to-4.18.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/openshift-ci/ci-ocp-4-17-0-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-logging-ocp-4-17-0-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-ocp-4-14-0-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-ocp-4-14-0-fips-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-ocp-4-16-0-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-ocp-4-16-0-fips-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-ocp-4-17-0-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-ocp-4-17-0-fips-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-powermon-ocp-4-17-0-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obsint-dvo-ocp-4-17-0-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/ols-ocp-4-17-0-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/rh-openshift-ecosystem/rhoe-ocp-4-17-amd64-aws-us-west-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/rh-openshift-ecosystem/rhoe-ocp-4-17-amd64-aws-us-west-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/rhdh/rhdh-ocp-4-17-0-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/serverless/serverless-ocp-4-17-amd64-aws-us-east-1_clusterpool.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

more-lb-checkpoints (#64311)
  ci-operator/step-registry/cucushift/installer/rehearse/aws/cases/valid-lb-subnet/provision/cucushift-installer-rehearse-aws-cases-valid-lb-subnet-provision-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Remove hypershift-e2e-aks job from release-4.18 presubmits configuration (#64247)
  ci-operator/config/openshift/cluster-storage-operator/openshift-cluster-storage-operator-release-4.18.yaml
  ci-operator/jobs/openshift/cluster-storage-operator/openshift-cluster-storage-operator-release-4.18-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Remove hypershift-e2e-aks job from release-4.18 presubmits (#64322)
  ci-operator/config/openshift/cloud-network-config-controller/openshift-cloud-network-config-controller-release-4.18.yaml
  ci-operator/jobs/openshift/cloud-network-config-controller/openshift-cloud-network-config-controller-release-4.18-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Remove hypershift e2e AKS job from release-4.18 presubmits configuration (#64308)
  ci-operator/config/openshift/csi-operator/openshift-csi-operator-release-4.18.yaml
  ci-operator/jobs/openshift/csi-operator/openshift-csi-operator-release-4.18-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.16.39-x86-64-for-4.16.0-0-to-4.17.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.17.27-x86-64-for-4.17.0-0-to-4.18.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.18.10-x86-64-for-4.18.0-0-to-4.19.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

reduce poll interval (#64329)
  ci-operator/step-registry/dpu-operator/e2e-tests-workflow/tests/dpu-operator-e2e-tests-workflow-tests-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

config-brancher --config-dir ./ci-operator/config --current-release 4.19 --skip-periodics --future-release 4.20 --confirm
  ci-operator/config/openshift/azure-service-operator/openshift-azure-service-operator-release-4.20.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.19.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.20.yaml
  ci-operator/config/openshift/insights-operator/openshift-insights-operator-release-4.19.yaml
  ci-operator/config/openshift/insights-operator/openshift-insights-operator-release-4.20.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Remove hypershift-e2e-aks job from release-4.18 presubmits (#64332)
  ci-operator/config/openshift/cluster-api-provider-azure/openshift-cluster-api-provider-azure-release-4.18.yaml
  ci-operator/jobs/openshift/cluster-api-provider-azure/openshift-cluster-api-provider-azure-release-4.18-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

ci-operator-prowgen --from-dir ./ci-operator/config --to-dir ./ci-operator/jobs
  ci-operator/jobs/openshift-priv/cloud-network-config-controller/openshift-priv-cloud-network-config-controller-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-image-registry-operator/openshift-priv-cluster-image-registry-operator-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-storage-operator/openshift-priv-cluster-storage-operator-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift-priv/csi-operator/openshift-priv-csi-operator-release-4.18-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

e2e-cert-rotation-test: don't collect junits (#63785)
  ci-operator/step-registry/openshift/e2e/cert-rotation/test/openshift-e2e-cert-rotation-test-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add orion and cerberus for payload node-density-cni job (#63770)
  ci-operator/step-registry/openshift-qe/node-density-cni/openshift-qe-node-density-cni-chain.yaml
  ci-operator/step-registry/openshift-qe/orion/consolidated/openshift-qe-orion-consolidated-chain.yaml
  ci-operator/step-registry/openshift-qe/orion/node-density-cni/OWNERS
  ci-operator/step-registry/openshift-qe/orion/node-density-cni/openshift-qe-orion-node-density-cni-commands.sh
  ci-operator/step-registry/openshift-qe/orion/node-density-cni/openshift-qe-orion-node-density-cni-ref.metadata.json
  ci-operator/step-registry/openshift-qe/orion/node-density-cni/openshift-qe-orion-node-density-cni-ref.yaml
  ci-operator/step-registry/redhat-chaos/cerberus/one-run/node-density-cni/OWNERS
  ci-operator/step-registry/redhat-chaos/cerberus/one-run/node-density-cni/redhat-chaos-cerberus-one-run-node-density-cni-commands.sh
  ci-operator/step-registry/redhat-chaos/cerberus/one-run/node-density-cni/redhat-chaos-cerberus-one-run-node-density-cni-ref.metadata.json
  ci-operator/step-registry/redhat-chaos/cerberus/one-run/node-density-cni/redhat-chaos-cerberus-one-run-node-density-cni-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

core-services/release-controller/repos: Update 4.20 repos to rhel 10 (#63561)
  clusters/build-clusters/common/release-controller/rpms-ocp-4.19.yaml
  clusters/build-clusters/common/release-controller/rpms-ocp-4.20.yaml
  clusters/build-clusters/vsphere02/release-controller/rpms-ocp-4.19.yaml
  clusters/build-clusters/vsphere02/release-controller/rpms-ocp-4.20.yaml
  core-services/release-controller/_repos/ocp-4.19-rhel100.repo
  core-services/release-controller/_repos/ocp-4.20-rhel10.repo
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/cloud-network-config-controller/openshift-priv-cloud-network-config-controller-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-master.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.19.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.8.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.9.yaml
  ci-operator/config/openshift-priv/cluster-image-registry-operator/openshift-priv-cluster-image-registry-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-master.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.19.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.9.yaml
  ci-operator/config/openshift-priv/cluster-storage-operator/openshift-priv-cluster-storage-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/csi-operator/openshift-priv-csi-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-master.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.19.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.20.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.7.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add OSSM security test suite (#64307)
  ci-operator/config/openshift-service-mesh/istio/openshift-service-mesh-istio-master.yaml
  ci-operator/jobs/openshift-service-mesh/istio/openshift-service-mesh-istio-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Adjust cache job times to 0:30 AM (#64324)
  ci-operator/config/openshift/microshift/openshift-microshift-main.yaml
  ci-operator/config/openshift/microshift/openshift-microshift-release-4.17.yaml
  ci-operator/config/openshift/microshift/openshift-microshift-release-4.18__periodics.yaml
  ci-operator/config/openshift/microshift/openshift-microshift-release-4.19__periodics.yaml
  ci-operator/config/openshift/microshift/openshift-microshift-release-4.20__periodics.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-main-periodics.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-4.17-periodics.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-4.18-periodics.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-4.19-periodics.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-4.20-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Remove hypershift-e2e-aks job from release-4.18 presubmits (#64320)
  ci-operator/config/openshift/cluster-network-operator/openshift-cluster-network-operator-release-4.18.yaml
  ci-operator/jobs/openshift/cluster-network-operator/openshift-cluster-network-operator-release-4.18-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

config-brancher --config-dir ./ci-operator/config --current-release 4.19 --skip-periodics --future-release 4.20 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.19.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.20.yaml
  ci-operator/config/openshift/insights-operator/openshift-insights-operator-release-4.19.yaml
  ci-operator/config/openshift/insights-operator/openshift-insights-operator-release-4.20.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

[ODF] Enable backports for z-streams (#64325)
  core-services/jira-lifecycle-plugin/config.yaml
Due: ci/prow/jira-lifecycle-config

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/azure-service-operator/openshift-priv-azure-service-operator-main.yaml
  ci-operator/config/openshift-priv/azure-service-operator/openshift-priv-azure-service-operator-release-4.19.yaml
  ci-operator/config/openshift-priv/azure-service-operator/openshift-priv-azure-service-operator-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-azure/openshift-priv-cluster-api-provider-azure-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-master.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.19.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.8.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.9.yaml
  ci-operator/config/openshift-priv/cluster-network-operator/openshift-priv-cluster-network-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-master.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.19.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.9.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-master.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.19.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.20.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.7.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

GCP-OVN-FIPS-EtcdEncrypt control-plane - 120 nodes (#63881)
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__gcp-4.18-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__gcp-4.19-nightly-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Update kmm-{approvers,reviews} (#62145)
  OWNERS_ALIASES
Due: none

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.15.49-x86-64-for-4.15.0-0-to-4.16.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.17.27-x86-64-for-4.17.0-0-to-4.18.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.18.10-x86-64-for-4.18.0-0-to-4.19.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

NO-JIRA: pext/aws: get change domain from profile. Fix #64080 (#64346)
  ci-operator/step-registry/opct/conformance/external-aws/opct-conformance-external-aws-workflow.yaml
  ci-operator/step-registry/openshift/e2e/external/aws/clusterbot/openshift-e2e-external-aws-clusterbot-workflow.yaml
  ci-operator/step-registry/openshift/e2e/external/aws/openshift-e2e-external-aws-workflow.yaml
  ci-operator/step-registry/platform-external/pre/conf/platform-external-pre-conf-commands.sh
  ci-operator/step-registry/platform-external/pre/conf/platform-external-pre-conf-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck
