Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

feat: setting up prow job for llm-inference-service (#67571)
  ci-operator/config/opendatahub-io/kserve/opendatahub-io-kserve-release-v0.15.yaml
  ci-operator/jobs/opendatahub-io/kserve/opendatahub-io-kserve-release-v0.15-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

sanitize-prow-jobs --prow-jobs-dir ./ci-operator/jobs --config-path ./core-services/sanitize-prow-jobs/_config.yaml
  ci-operator/jobs/openshift-priv/machine-config-operator/openshift-priv-machine-config-operator-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/machine-config-operator/openshift-priv-machine-config-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/machine-config-operator/openshift-priv-machine-config-operator-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift/machine-config-operator/openshift-machine-config-operator-release-4.21-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Add nutanix gpu day2 test (#67164)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20-periodics.yaml
  ci-operator/step-registry/cucushift/installer/check/nutanix/day2/OWNERS
  ci-operator/step-registry/cucushift/installer/check/nutanix/day2/gpu/OWNERS
  ci-operator/step-registry/cucushift/installer/check/nutanix/day2/gpu/cucushift-installer-check-nutanix-day2-gpu-commands.sh
  ci-operator/step-registry/cucushift/installer/check/nutanix/day2/gpu/cucushift-installer-check-nutanix-day2-gpu-ref.metadata.json
  ci-operator/step-registry/cucushift/installer/check/nutanix/day2/gpu/cucushift-installer-check-nutanix-day2-gpu-ref.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/nutanix/ipi/preload-image/provision/cucushift-installer-rehearse-nutanix-ipi-preload-image-provision-chain.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

add boilerplate v8.0.0 to image mirroring (#67591)
  core-services/image-mirroring/_config.yaml
Due: ci/prow/image-mirroring-config-validation

MCO-1784: Add disruptive pre-submits back (#67567)
  ci-operator/config/openshift/machine-config-operator/openshift-machine-config-operator-main.yaml
  ci-operator/config/openshift/machine-config-operator/openshift-machine-config-operator-release-4.20.yaml
  ci-operator/config/openshift/machine-config-operator/openshift-machine-config-operator-release-4.21.yaml
  ci-operator/jobs/openshift/machine-config-operator/openshift-machine-config-operator-main-presubmits.yaml
  ci-operator/jobs/openshift/machine-config-operator/openshift-machine-config-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/machine-config-operator/openshift-machine-config-operator-release-4.21-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

ci-operator-prowgen --from-dir ./ci-operator/config --to-dir ./ci-operator/jobs
  ci-operator/jobs/openshift-priv/ibm-vpc-block-csi-driver/openshift-priv-ibm-vpc-block-csi-driver-release-4.12-presubmits.yaml
  ci-operator/jobs/openshift-priv/ibm-vpc-block-csi-driver/openshift-priv-ibm-vpc-block-csi-driver-release-4.13-presubmits.yaml
  ci-operator/jobs/openshift-priv/ibm-vpc-block-csi-driver/openshift-priv-ibm-vpc-block-csi-driver-release-4.14-presubmits.yaml
  ci-operator/jobs/openshift-priv/ibm-vpc-block-csi-driver/openshift-priv-ibm-vpc-block-csi-driver-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift-priv/ibm-vpc-block-csi-driver/openshift-priv-ibm-vpc-block-csi-driver-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift-priv/ibm-vpc-block-csi-driver/openshift-priv-ibm-vpc-block-csi-driver-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift-priv/ibm-vpc-block-csi-driver/openshift-priv-ibm-vpc-block-csi-driver-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift-priv/ibm-vpc-node-label-updater/openshift-priv-ibm-vpc-node-label-updater-release-4.12-presubmits.yaml
  ci-operator/jobs/openshift-priv/ibm-vpc-node-label-updater/openshift-priv-ibm-vpc-node-label-updater-release-4.13-presubmits.yaml
  ci-operator/jobs/openshift-priv/ibm-vpc-node-label-updater/openshift-priv-ibm-vpc-node-label-updater-release-4.14-presubmits.yaml
  ci-operator/jobs/openshift-priv/ibm-vpc-node-label-updater/openshift-priv-ibm-vpc-node-label-updater-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift-priv/kueue-operator/openshift-priv-kueue-operator-main-postsubmits.yaml
  ci-operator/jobs/openshift-priv/kueue-operator/openshift-priv-kueue-operator-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/machine-config-operator/openshift-priv-machine-config-operator-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/machine-config-operator/openshift-priv-machine-config-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/machine-config-operator/openshift-priv-machine-config-operator-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift/machine-config-operator/openshift-machine-config-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/machine-config-operator/openshift-machine-config-operator-release-4.21-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Revert "Fix catalog source image tag selection for OpenShift 4.20 clusters (#…" (#67572)
  ci-operator/step-registry/enable-qe-catalogsource/enable-qe-catalogsource-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add support for MCE 2.9 version in hypershift MCE installation scripts (#67570)
  ci-operator/step-registry/hypershift/mce/install/hypershift-mce-install-commands.sh
  ci-operator/step-registry/hypershift/mce/install/hypershift-mce-install-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Disabling userDataCollection for OLS (#67422)
  ci-operator/step-registry/openshift/ols-load-generator/tests/openshift-ols-load-generator-tests-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

OCPQE-30189: Implement SNO etcd encryption with RT kernel and cpu limit (#67152)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.14__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.15__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.17__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.14-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.15-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.17-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20-periodics.yaml
  ci-operator/step-registry/baremetal/lab/kdump/OWNERS
  ci-operator/step-registry/baremetal/lab/kdump/baremetal-lab-kdump-commands.sh
  ci-operator/step-registry/baremetal/lab/kdump/baremetal-lab-kdump-ref.metadata.json
  ci-operator/step-registry/baremetal/lab/kdump/baremetal-lab-kdump-ref.yaml
  ci-operator/step-registry/baremetal/lab/rt-kernel/baremetal-lab-rt-kernel-commands.sh
  ci-operator/step-registry/baremetal/lab/rt-kernel/baremetal-lab-rt-kernel-ref.yaml
  ci-operator/step-registry/baremetal/lab/sno-bip/OWNERS
  ci-operator/step-registry/baremetal/lab/sno-bip/baremetal-lab-sno-bip-commands.sh
  ci-operator/step-registry/baremetal/lab/sno-bip/baremetal-lab-sno-bip-ref.metadata.json
  ci-operator/step-registry/baremetal/lab/sno-bip/baremetal-lab-sno-bip-ref.yaml
  ci-operator/step-registry/baremetal/lab/sno/OWNERS
  ci-operator/step-registry/baremetal/lab/sno/baremetal-lab-sno-workflow.metadata.json
  ci-operator/step-registry/baremetal/lab/sno/baremetal-lab-sno-workflow.yaml
  ci-operator/step-registry/baremetal/lab/sno/conf/OWNERS
  ci-operator/step-registry/baremetal/lab/sno/conf/baremetal-lab-sno-conf-chain.metadata.json
  ci-operator/step-registry/baremetal/lab/sno/conf/baremetal-lab-sno-conf-chain.yaml
  ci-operator/step-registry/baremetal/lab/upi/conf/grub2/baremetal-lab-upi-conf-grub2-commands.sh
  ci-operator/step-registry/baremetal/lab/upi/conf/grub2/baremetal-lab-upi-conf-grub2-ref.yaml
  ci-operator/step-registry/baremetal/lab/upi/install/baremetal-lab-upi-install-commands.sh
  ci-operator/step-registry/baremetal/lab/upi/install/baremetal-lab-upi-install-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

config-brancher --config-dir ./ci-operator/config --current-release 4.20 --skip-periodics --future-release 4.21 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.21.yaml
  ci-operator/config/openshift/machine-config-operator/openshift-machine-config-operator-release-4.20.yaml
  ci-operator/config/openshift/machine-config-operator/openshift-machine-config-operator-release-4.21.yaml
  ci-operator/config/openshift/metallb-operator/openshift-metallb-operator-release-4.21.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Revert "remove verify-deps job from IBM VPC CSI driver and node label updater (#63730)" (#64814)
  ci-operator/config/openshift/ibm-vpc-block-csi-driver/openshift-ibm-vpc-block-csi-driver-release-4.12.yaml
  ci-operator/config/openshift/ibm-vpc-block-csi-driver/openshift-ibm-vpc-block-csi-driver-release-4.13.yaml
  ci-operator/config/openshift/ibm-vpc-block-csi-driver/openshift-ibm-vpc-block-csi-driver-release-4.14.yaml
  ci-operator/config/openshift/ibm-vpc-block-csi-driver/openshift-ibm-vpc-block-csi-driver-release-4.15.yaml
  ci-operator/config/openshift/ibm-vpc-block-csi-driver/openshift-ibm-vpc-block-csi-driver-release-4.16.yaml
  ci-operator/config/openshift/ibm-vpc-block-csi-driver/openshift-ibm-vpc-block-csi-driver-release-4.17.yaml
  ci-operator/config/openshift/ibm-vpc-block-csi-driver/openshift-ibm-vpc-block-csi-driver-release-4.18.yaml
  ci-operator/config/openshift/ibm-vpc-node-label-updater/openshift-ibm-vpc-node-label-updater-release-4.12.yaml
  ci-operator/config/openshift/ibm-vpc-node-label-updater/openshift-ibm-vpc-node-label-updater-release-4.13.yaml
  ci-operator/config/openshift/ibm-vpc-node-label-updater/openshift-ibm-vpc-node-label-updater-release-4.14.yaml
  ci-operator/config/openshift/ibm-vpc-node-label-updater/openshift-ibm-vpc-node-label-updater-release-4.15.yaml
  ci-operator/jobs/openshift/ibm-vpc-block-csi-driver/openshift-ibm-vpc-block-csi-driver-release-4.12-presubmits.yaml
  ci-operator/jobs/openshift/ibm-vpc-block-csi-driver/openshift-ibm-vpc-block-csi-driver-release-4.13-presubmits.yaml
  ci-operator/jobs/openshift/ibm-vpc-block-csi-driver/openshift-ibm-vpc-block-csi-driver-release-4.14-presubmits.yaml
  ci-operator/jobs/openshift/ibm-vpc-block-csi-driver/openshift-ibm-vpc-block-csi-driver-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift/ibm-vpc-block-csi-driver/openshift-ibm-vpc-block-csi-driver-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift/ibm-vpc-block-csi-driver/openshift-ibm-vpc-block-csi-driver-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift/ibm-vpc-block-csi-driver/openshift-ibm-vpc-block-csi-driver-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift/ibm-vpc-node-label-updater/openshift-ibm-vpc-node-label-updater-release-4.12-presubmits.yaml
  ci-operator/jobs/openshift/ibm-vpc-node-label-updater/openshift-ibm-vpc-node-label-updater-release-4.13-presubmits.yaml
  ci-operator/jobs/openshift/ibm-vpc-node-label-updater/openshift-ibm-vpc-node-label-updater-release-4.14-presubmits.yaml
  ci-operator/jobs/openshift/ibm-vpc-node-label-updater/openshift-ibm-vpc-node-label-updater-release-4.15-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Automate publicize configuration sync Tue, 29 Jul 2025 01:52:58 UTC (#67594)
  clusters/app.ci/publicize/_config.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

sanitize-prow-jobs --prow-jobs-dir ./ci-operator/jobs --config-path ./core-services/sanitize-prow-jobs/_config.yaml
  ci-operator/jobs/openshift-priv/ibm-vpc-block-csi-driver/openshift-priv-ibm-vpc-block-csi-driver-release-4.12-presubmits.yaml
  ci-operator/jobs/openshift-priv/ibm-vpc-block-csi-driver/openshift-priv-ibm-vpc-block-csi-driver-release-4.13-presubmits.yaml
  ci-operator/jobs/openshift-priv/ibm-vpc-block-csi-driver/openshift-priv-ibm-vpc-block-csi-driver-release-4.14-presubmits.yaml
  ci-operator/jobs/openshift-priv/ibm-vpc-block-csi-driver/openshift-priv-ibm-vpc-block-csi-driver-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift-priv/ibm-vpc-block-csi-driver/openshift-priv-ibm-vpc-block-csi-driver-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift-priv/ibm-vpc-block-csi-driver/openshift-priv-ibm-vpc-block-csi-driver-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift-priv/ibm-vpc-block-csi-driver/openshift-priv-ibm-vpc-block-csi-driver-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift-priv/ibm-vpc-node-label-updater/openshift-priv-ibm-vpc-node-label-updater-release-4.12-presubmits.yaml
  ci-operator/jobs/openshift-priv/ibm-vpc-node-label-updater/openshift-priv-ibm-vpc-node-label-updater-release-4.13-presubmits.yaml
  ci-operator/jobs/openshift-priv/ibm-vpc-node-label-updater/openshift-priv-ibm-vpc-node-label-updater-release-4.14-presubmits.yaml
  ci-operator/jobs/openshift-priv/ibm-vpc-node-label-updater/openshift-priv-ibm-vpc-node-label-updater-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift-priv/machine-config-operator/openshift-priv-machine-config-operator-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/machine-config-operator/openshift-priv-machine-config-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/machine-config-operator/openshift-priv-machine-config-operator-release-4.21-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

enable 4.20 test jobs for stable builds (#67550)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__amd64-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__arm64-stable.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__multi-stable.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.16.45-x86-64-for-4.16.0-0-to-4.17.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.17.36-x86-64-for-4.17.0-0-to-4.18.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.18.21-x86-64-for-4.18.0-0-to-4.19.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Sync OWNERS files by autoowners job at Tue, 29 Jul 2025 07:41:36 UTC (#67605)
  ci-operator/config/red-hat-storage/odf-multicluster-orchestrator/OWNERS
  ci-operator/jobs/red-hat-storage/odf-multicluster-orchestrator/OWNERS
  core-services/prow/02_config/operator-framework/operator-controller/OWNERS
  core-services/prow/02_config/red-hat-storage/odf-multicluster-orchestrator/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

OCPQE-29207: Implement UPI single stack IPv6 with Realtime Kernel (#67430)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.14__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.15__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.17__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.14-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.15-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.17-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20-periodics.yaml
  ci-operator/step-registry/baremetal/lab/pre/console-kargs/baremetal-lab-pre-console-kargs-commands.sh
  ci-operator/step-registry/baremetal/lab/pre/console-kargs/baremetal-lab-pre-console-kargs-ref.yaml
  ci-operator/step-registry/baremetal/lab/pre/dns/baremetal-lab-pre-dns-commands.sh
  ci-operator/step-registry/baremetal/lab/pre/load-balancer/run/baremetal-lab-pre-load-balancer-run-commands.sh
  ci-operator/step-registry/baremetal/lab/upi/conf/grub2/ipv6/OWNERS
  ci-operator/step-registry/baremetal/lab/upi/conf/grub2/ipv6/static/OWNERS
  ci-operator/step-registry/baremetal/lab/upi/conf/grub2/ipv6/static/baremetal-lab-upi-conf-grub2-ipv6-static-commands.sh
  ci-operator/step-registry/baremetal/lab/upi/conf/grub2/ipv6/static/baremetal-lab-upi-conf-grub2-ipv6-static-ref.metadata.json
  ci-operator/step-registry/baremetal/lab/upi/conf/grub2/ipv6/static/baremetal-lab-upi-conf-grub2-ipv6-static-ref.yaml
  ci-operator/step-registry/baremetal/lab/upi/conf/ipv6/OWNERS
  ci-operator/step-registry/baremetal/lab/upi/conf/ipv6/static/OWNERS
  ci-operator/step-registry/baremetal/lab/upi/conf/ipv6/static/baremetal-lab-upi-conf-ipv6-static-chain.metadata.json
  ci-operator/step-registry/baremetal/lab/upi/conf/ipv6/static/baremetal-lab-upi-conf-ipv6-static-chain.yaml
  ci-operator/step-registry/baremetal/lab/upi/ipv6/OWNERS
  ci-operator/step-registry/baremetal/lab/upi/ipv6/static/OWNERS
  ci-operator/step-registry/baremetal/lab/upi/ipv6/static/baremetal-lab-upi-ipv6-static-workflow.metadata.json
  ci-operator/step-registry/baremetal/lab/upi/ipv6/static/baremetal-lab-upi-ipv6-static-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

config-brancher --config-dir ./ci-operator/config --current-release 4.20 --skip-periodics --future-release 4.21 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.21.yaml
  ci-operator/config/openshift/cluster-openshift-apiserver-operator/openshift-cluster-openshift-apiserver-operator-release-4.21.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

cnv-odf-ocp4.20: restore firewatch failure rules from ocp4.19 config in ocp4.20 config for interop tests. (#67297)
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__cnv-odf-ocp4.20-lp-interop.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Fix issue of az login with sp (#67596)
  ci-operator/step-registry/azure/provision/service-principal/minimal-permission/azure-provision-service-principal-minimal-permission-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

CI chore: adapt osdk-generic-claim workflow for cert-manager-operator (#67268)
  ci-operator/config/openshift/cert-manager-operator/openshift-cert-manager-operator-cert-manager-1.17.yaml
  ci-operator/config/openshift/cert-manager-operator/openshift-cert-manager-operator-master.yaml
  ci-operator/jobs/openshift/cert-manager-operator/openshift-cert-manager-operator-cert-manager-1.17-presubmits.yaml
  ci-operator/jobs/openshift/cert-manager-operator/openshift-cert-manager-operator-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Remove the module_hotfixes as it caused chaos (#67593)
  ci-operator/step-registry/workers-rhel/repos/workers-rhel-repos-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add new Job to test OMR with OCP 4.20 (#67569)
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__omr-ocp420-unreleased.yaml
  ci-operator/jobs/quay/quay-tests/quay-quay-tests-master-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Build datarouter image (#67554)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__images.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-master.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.19.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.21.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.8.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.9.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-master.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.19.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.21.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.9.yaml
  ci-operator/config/openshift-priv/cluster-openshift-apiserver-operator/openshift-priv-cluster-openshift-apiserver-operator-main.yaml
  ci-operator/config/openshift-priv/cluster-openshift-apiserver-operator/openshift-priv-cluster-openshift-apiserver-operator-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-openshift-apiserver-operator/openshift-priv-cluster-openshift-apiserver-operator-release-4.21.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.19.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.7.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

config-brancher --config-dir ./ci-operator/config --current-release 4.20 --skip-periodics --future-release 4.21 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.21.yaml
  ci-operator/config/openshift/cluster-etcd-operator/openshift-cluster-etcd-operator-release-4.21.yaml
  ci-operator/config/openshift/secrets-store-csi-driver-operator/openshift-secrets-store-csi-driver-operator-release-4.20.yaml
  ci-operator/config/openshift/secrets-store-csi-driver-operator/openshift-secrets-store-csi-driver-operator-release-4.21.yaml
  ci-operator/config/openshift/secrets-store-csi-driver/openshift-secrets-store-csi-driver-release-4.20.yaml
  ci-operator/config/openshift/secrets-store-csi-driver/openshift-secrets-store-csi-driver-release-4.21.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-operator-prowgen --from-dir ./ci-operator/config --to-dir ./ci-operator/jobs
  ci-operator/jobs/openshift-priv/secrets-store-csi-driver-operator/openshift-priv-secrets-store-csi-driver-operator-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/secrets-store-csi-driver-operator/openshift-priv-secrets-store-csi-driver-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/secrets-store-csi-driver-operator/openshift-priv-secrets-store-csi-driver-operator-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift-priv/secrets-store-csi-driver/openshift-priv-secrets-store-csi-driver-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/secrets-store-csi-driver/openshift-priv-secrets-store-csi-driver-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/secrets-store-csi-driver/openshift-priv-secrets-store-csi-driver-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift/secrets-store-csi-driver-operator/openshift-secrets-store-csi-driver-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/secrets-store-csi-driver-operator/openshift-secrets-store-csi-driver-operator-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift/secrets-store-csi-driver/openshift-secrets-store-csi-driver-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/secrets-store-csi-driver/openshift-secrets-store-csi-driver-release-4.21-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.16.45-x86-64-for-4.16.0-0-to-4.17.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.17.36-x86-64-for-4.17.0-0-to-4.18.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Run SSCSI driver's upstream azure e2e tests as pre-submit (#67071)
  ci-operator/config/openshift/secrets-store-csi-driver-operator/openshift-secrets-store-csi-driver-operator-main.yaml
  ci-operator/config/openshift/secrets-store-csi-driver/openshift-secrets-store-csi-driver-main.yaml
  ci-operator/jobs/openshift/secrets-store-csi-driver-operator/openshift-secrets-store-csi-driver-operator-main-presubmits.yaml
  ci-operator/jobs/openshift/secrets-store-csi-driver/openshift-secrets-store-csi-driver-main-presubmits.yaml
  ci-operator/step-registry/openshift/e2e/azure/csi/secrets-store/azure/OWNERS
  ci-operator/step-registry/openshift/e2e/azure/csi/secrets-store/azure/openshift-e2e-azure-csi-secrets-store-azure-workflow.metadata.json
  ci-operator/step-registry/openshift/e2e/azure/csi/secrets-store/azure/openshift-e2e-azure-csi-secrets-store-azure-workflow.yaml
  ci-operator/step-registry/openshift/e2e/azure/csi/secrets-store/azure/operand/OWNERS
  ci-operator/step-registry/openshift/e2e/azure/csi/secrets-store/azure/operand/openshift-e2e-azure-csi-secrets-store-azure-operand-workflow.metadata.json
  ci-operator/step-registry/openshift/e2e/azure/csi/secrets-store/azure/operand/openshift-e2e-azure-csi-secrets-store-azure-operand-workflow.yaml
  ci-operator/step-registry/openshift/e2e/azure/csi/secrets-store/azure/test/OWNERS
  ci-operator/step-registry/openshift/e2e/azure/csi/secrets-store/azure/test/openshift-e2e-azure-csi-secrets-store-azure-test-commands.sh
  ci-operator/step-registry/openshift/e2e/azure/csi/secrets-store/azure/test/openshift-e2e-azure-csi-secrets-store-azure-test-ref.metadata.json
  ci-operator/step-registry/openshift/e2e/azure/csi/secrets-store/azure/test/openshift-e2e-azure-csi-secrets-store-azure-test-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

NETOBSERV-2300 integrate CLI tests in ebpf repo (#67418)
  ci-operator/config/netobserv/netobserv-ebpf-agent/netobserv-netobserv-ebpf-agent-main.yaml
  ci-operator/jobs/netobserv/netobserv-ebpf-agent/netobserv-netobserv-ebpf-agent-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Remove indiviudal images and make use of autoconfigbrancher in Makefile (#67614)
  Makefile
Due: none

sanitize-prow-jobs --prow-jobs-dir ./ci-operator/jobs --config-path ./core-services/sanitize-prow-jobs/_config.yaml
  ci-operator/jobs/openshift-priv/secrets-store-csi-driver-operator/openshift-priv-secrets-store-csi-driver-operator-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/secrets-store-csi-driver-operator/openshift-priv-secrets-store-csi-driver-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/secrets-store-csi-driver-operator/openshift-priv-secrets-store-csi-driver-operator-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift-priv/secrets-store-csi-driver/openshift-priv-secrets-store-csi-driver-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/secrets-store-csi-driver/openshift-priv-secrets-store-csi-driver-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/secrets-store-csi-driver/openshift-priv-secrets-store-csi-driver-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift/secrets-store-csi-driver-operator/openshift-secrets-store-csi-driver-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/secrets-store-csi-driver-operator/openshift-secrets-store-csi-driver-operator-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift/secrets-store-csi-driver/openshift-secrets-store-csi-driver-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/secrets-store-csi-driver/openshift-secrets-store-csi-driver-release-4.21-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics
