Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift/promrules, ci/prow/pylint, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/prow/stackrox-stackrox-stackrox-stackrox-check

ci/openshift/promrules:
  decorate: true
  spec:
    containers:
    - command:
      - /go/entrypoint.sh
      image: registry.svc.ci.openshift.org/ci/promrules:latest
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
          cpu: 500m
        requests:
          cpu: 10m

ci/prow/pylint:
  decorate: true
  spec:
    containers:
    - args:
      - --rcfile=hack/.pylintrc
      - --ignore=lib
      - --persistent=n
      - hack
      command:
      - pylint
      image: registry.svc.ci.openshift.org/ci/python-validation
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
  ...

ci/build-farm/build01-dry:
  decorate: true
  labels:
    ci.openshift.io/build-farm: build01
    ci.openshift.io/generator: cluster-init
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --config-dir=clusters/build-clusters/build01
      - --as=
  ...

ci/build-farm/build02-dry:
  decorate: true
  labels:
    ci.openshift.io/build-farm: build02
    ci.openshift.io/generator: cluster-init
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --config-dir=clusters/build-clusters/build02
      - --as=
  ...

ci/build-farm/build03-dry:
  decorate: true
  labels:
    ci.openshift.io/build-farm: build03
    ci.openshift.io/generator: cluster-init
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --config-dir=clusters/build-clusters/build03
      - --as=
  ...

ci/build-farm/build04-dry:
  decorate: true
  labels:
    ci.openshift.io/build-farm: build04
    ci.openshift.io/generator: cluster-init
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --config-dir=clusters/build-clusters/build04
      - --as=
  ...

ci/build-farm/build05-dry:
  decorate: true
  labels:
    ci.openshift.io/build-farm: build05
    ci.openshift.io/generator: cluster-init
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --config-dir=clusters/build-clusters/build05
      - --as=
  ...

ci/build-farm/build09-dry:
  decorate: true
  labels:
    ci.openshift.io/build-farm: build09
    ci.openshift.io/generator: cluster-init
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --config-dir=clusters/build-clusters/build09
      - --as=
  ...

ci/build-farm/build10-dry:
  decorate: true
  labels:
    ci.openshift.io/build-farm: build10
    ci.openshift.io/generator: cluster-init
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --config-dir=clusters/build-clusters/build10
      - --as=
  ...

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.15.16-x86-64-for-4.15.0-0-to-4.16.0-0_clusterimageset.yaml
Due: ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry

move sdn jobs to ovn in baremetal-runtimecfg 4.17+
  ci-operator/config/openshift/baremetal-runtimecfg/openshift-baremetal-runtimecfg-master.yaml
  ci-operator/config/openshift/baremetal-runtimecfg/openshift-baremetal-runtimecfg-release-4.17.yaml
  ci-operator/config/openshift/baremetal-runtimecfg/openshift-baremetal-runtimecfg-release-4.18.yaml
  ci-operator/jobs/openshift/baremetal-runtimecfg/openshift-baremetal-runtimecfg-master-presubmits.yaml
  ci-operator/jobs/openshift/baremetal-runtimecfg/openshift-baremetal-runtimecfg-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift/baremetal-runtimecfg/openshift-baremetal-runtimecfg-release-4.18-presubmits.yaml
Due: none

change in workflow
  ci-operator/config/openshift-qe/ocp-qe-perfscale-ci/openshift-qe-ocp-qe-perfscale-ci-main__azure-4.16-nightly-arm-loaded-upgrade-from-4.15.yaml
Due: none

adding commands for debugging
  ci-operator/step-registry/acm/tests/clc-create/acm-tests-clc-create-commands.sh
Due: none

add branchcleaner plugin to konflux-workspaces/workspaces
  core-services/prow/02_config/konflux-workspaces/workspaces/_pluginconfig.yaml
Due: none

wip: create osde2e test job which provisions using osde2e and runs ocp test registry step
  ci-operator/config/openshift/osde2e/openshift-osde2e-main__nightly-4.15.yaml
  ci-operator/jobs/openshift/osde2e/openshift-osde2e-main-presubmits.yaml
Due: none

FIPS do not fail CI for warnings
  ci-operator/step-registry/openshift/release/fips/openshift-release-fips-commands.sh
Due: none

add branchcleaner plugin to konflux-workspaces/workspaces (#52794)
  core-services/prow/02_config/konflux-workspaces/workspaces/_pluginconfig.yaml
Due: none

remove rosa conformance jobs
  ci-operator/config/openshift/osde2e/openshift-osde2e-main__nightly-4.15.yaml
  ci-operator/config/openshift/osde2e/openshift-osde2e-main__nightly-4.16.yaml
  ci-operator/config/openshift/osde2e/openshift-osde2e-main__nightly-4.17.yaml
  ci-operator/jobs/openshift/osde2e/openshift-osde2e-main-periodics.yaml
  core-services/release-controller/_releases/priv/release-ocp-4.15.json
  core-services/release-controller/_releases/priv/release-ocp-4.16.json
  core-services/release-controller/_releases/priv/release-ocp-4.17.json
  core-services/release-controller/_releases/release-ocp-4.15.json
  core-services/release-controller/_releases/release-ocp-4.16.json
  core-services/release-controller/_releases/release-ocp-4.17.json
Due: none

make jobs
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-12.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-14-lp-interop.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-15-lp-interop.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-15.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-16-lp-interop.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-candidate.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-preview.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-stable-scanner-v4.yaml
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests-periodics.yaml
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests-postsubmits.yaml
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests-presubmits.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check

Updated branch name
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-12.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-14-lp-interop.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-15-lp-interop.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-15.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-16-lp-interop.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-candidate.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-preview.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-stable-scanner-v4.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check

make ci-operator-config
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-12.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-15.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-candidate.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-preview.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-stable-scanner-v4.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check

Set some ebpf jobs to always
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-12.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-15.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-candidate.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-preview.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-stable-scanner-v4.yaml
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests-presubmits.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check

Updated branch again
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-12.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-14-lp-interop.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-15-lp-interop.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-15.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-16-lp-interop.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-candidate.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-4-preview.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-rox-23611-force-ebpf-collection-method-for-stackrox-ebpf-tests__ocp-stable-scanner-v4.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check

testing with ipi-conf-inframachineset
  ci-operator/config/shiftstack/shiftstack-ci/shiftstack-shiftstack-ci-main__periodic-4.16.yaml
  ci-operator/step-registry/openshift/e2e/openstack/perfscale/ingress-perf/openshift-e2e-openstack-perfscale-ingress-perf-workflow.yaml
Due: none

config-brancher --config-dir ./ci-operator/config --current-release 4.17 --skip-periodics --future-release 4.18 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.18.yaml
Due: none

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-master.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.8.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-ovirt/openshift-priv-cluster-api-provider-ovirt-release-4.9.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-master.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.12.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.13.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.14.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.15.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.16.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.17.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.18.yaml
  ci-operator/config/openshift-priv/cluster-nfd-operator/openshift-priv-cluster-nfd-operator-release-4.9.yaml
  ci-operator/config/openshift-priv/insights-operator/openshift-priv-insights-operator-release-4.7.yaml
Due: none

Start moving Prow jobs over from 4.14 to 4.15 Hive cluster (#52265)
  ci-operator/config/openstack-k8s-operators/horizon-operator/openstack-k8s-operators-horizon-operator-main.yaml
  ci-operator/config/openstack-k8s-operators/manila-operator/openstack-k8s-operators-manila-operator-main.yaml
Due: none

Move Cinder and dataplane prow jobs over from 4.14 to 4.15 Hive cluster (#52331)
  ci-operator/config/openstack-k8s-operators/cinder-operator/openstack-k8s-operators-cinder-operator-main.yaml
  ci-operator/config/openstack-k8s-operators/dataplane-operator/openstack-k8s-operators-dataplane-operator-main.yaml
Due: none

Move infra and install_yamls prow jobs over from 4.14 to 4.15 Hive cluster (#52353)
  ci-operator/config/openstack-k8s-operators/infra-operator/openstack-k8s-operators-infra-operator-main.yaml
  ci-operator/config/openstack-k8s-operators/install_yamls/openstack-k8s-operators-install_yamls-main.yaml
Due: none

Move ironic and keystone prow jobs over from 4.14 to 4.15 Hive cluster (#52354)
  ci-operator/config/openstack-k8s-operators/ironic-operator/openstack-k8s-operators-ironic-operator-main.yaml
  ci-operator/config/openstack-k8s-operators/keystone-operator/openstack-k8s-operators-keystone-operator-main.yaml
Due: none

move sdn jobs to ovn in baremetal-runtimecfg 4.17+ (#52327)
  ci-operator/config/openshift/baremetal-runtimecfg/openshift-baremetal-runtimecfg-master.yaml
  ci-operator/config/openshift/baremetal-runtimecfg/openshift-baremetal-runtimecfg-release-4.17.yaml
  ci-operator/config/openshift/baremetal-runtimecfg/openshift-baremetal-runtimecfg-release-4.18.yaml
  ci-operator/jobs/openshift/baremetal-runtimecfg/openshift-baremetal-runtimecfg-master-presubmits.yaml
  ci-operator/jobs/openshift/baremetal-runtimecfg/openshift-baremetal-runtimecfg-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift/baremetal-runtimecfg/openshift-baremetal-runtimecfg-release-4.18-presubmits.yaml
Due: none

Move 4 nodes from oko-op-05(OCP4.14) to oko-op-06(OCP4.15) (#52774)
  clusters/hosted-mgmt/hive/pools/openstack-k8s-operators/openstack-k8s-operators-4-14-vexxhost-hybrid_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openstack-k8s-operators/openstack-k8s-operators-4-15-vexxhost-hybrid_clusterpool.yaml
Due: ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry

Remove private keys in tempest logs
  ci-operator/step-registry/openstack-k8s-operators/tempest/openstack-k8s-operators-tempest-commands.sh
Due: none

Add nutanix os image step (#52204)
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-master__installation-nightly-4.16.yaml
  ci-operator/jobs/openshift/verification-tests/openshift-verification-tests-master-periodics.yaml
  ci-operator/step-registry/cucushift/installer/check/nutanix/os-image/OWNERS
  ci-operator/step-registry/cucushift/installer/check/nutanix/os-image/cucushift-installer-check-nutanix-os-image-commands.sh
  ci-operator/step-registry/cucushift/installer/check/nutanix/os-image/cucushift-installer-check-nutanix-os-image-ref.metadata.json
  ci-operator/step-registry/cucushift/installer/check/nutanix/os-image/cucushift-installer-check-nutanix-os-image-ref.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/nutanix/ipi/zones/provision/cucushift-installer-rehearse-nutanix-ipi-zones-provision-chain.yaml
  ci-operator/step-registry/ipi/conf/osimage/nutanix/OWNERS
  ci-operator/step-registry/ipi/conf/osimage/nutanix/ipi-conf-osimage-nutanix-commands.sh
  ci-operator/step-registry/ipi/conf/osimage/nutanix/ipi-conf-osimage-nutanix-ref.metadata.json
  ci-operator/step-registry/ipi/conf/osimage/nutanix/ipi-conf-osimage-nutanix-ref.yaml
Due: none

Path conditions:
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
