Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Path conditions:
  ci/prow/e2e-metal-assisted: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-kube-api: any of: ^(internal/controller/.*)$
  ci/prow/images: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-kubeapi-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$

OCPBUGSM-28784,OCPBUGSM-28949: Fix cluster validation for OCS
  internal/operators/ocs/consts.go
  internal/operators/ocs/ocs_operator.go
  internal/operators/ocs/ocs_operator_test.go
  internal/operators/ocs/validation_test.go
  internal/operators/ocs/validations.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE kube-api: full format for release version
  internal/versions/versions.go
  internal/versions/versions_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-29303: fix crash on undefined pull-secret (#1755)
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  internal/controller/controllers/common.go
  internal/controller/controllers/error_utils.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: Add docs/enhancements directory (#1227)
  docs/enhancements/README.md
  docs/enhancements/template.md
Due: none

MGMT-6473 - adding mirror registry documentation
  docs/Kube-API.md
Due: none

NO-ISSUE fix case of AgentCluster
  subsystem/kubeapi_test.go
Due: ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6495 Parameterize OPENSHIFT_INSTALL_INVOKER
  deploy/olm-catalog/metadata/annotations.yaml
  internal/ignition/ignition.go
  internal/ignition/ignition_test.go
  pkg/generator/generator.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5430 Move assisted service image to stream8
  Dockerfile.assisted-service
Due: none

MGMT-6282: Split openshift_cluster_id and status 'Active' update in AMS. (#1718)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/cluster/cluster.go
  internal/cluster/transition_test.go
  pkg/ocm/accounts_mgmt.go
  pkg/ocm/mock_accounts_mgmt.go
  subsystem/ams_subscriptions_test.go
  subsystem/cluster_test.go
  subsystem/wiremock_stubs.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

BUG 1941606: add IMAGES_BY_DIGEST to generate-bundle (#1743)
  Makefile
  config/manifests/bases/assisted-service-operator.clusterserviceversion.yaml
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/olm-catalog/metadata/annotations.yaml
  hack/generate.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6063 Minor improvements to DHCP kernel arg (#1749)
  internal/host/hostcommands/install_cmd.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE make cnv subscription configurable (#1421)
  internal/operators/cnv/cnv_operator.go
  internal/operators/cnv/config.go
  internal/operators/cnv/manifest.go
  internal/operators/cnv/manifests_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-23667 - add validation for mac/nic uniqueness for static network (#1742)
  cmd/main.go
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/ignition/ignition_test.go
  pkg/staticnetworkconfig/generator.go
  pkg/staticnetworkconfig/generator_test.go
  pkg/staticnetworkconfig/mock_generator.go
  subsystem/image_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6473 - adding mirror registry documentation (#1759)
  docs/Kube-API.md
Due: none

NO-ISSUE kube-api: full format for release version (#1760)
  internal/versions/versions.go
  internal/versions/versions_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6497 Extend swagger to store route information in inventory
  models/inventory.go
  models/route.go
  restapi/embedded_spec.go
  swagger.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6282: Split openshift_cluster_id and status 'Active' update in AMS. (#1718) (#1764)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/cluster/cluster.go
  internal/cluster/transition_test.go
  pkg/ocm/accounts_mgmt.go
  pkg/ocm/mock_accounts_mgmt.go
  subsystem/ams_subscriptions_test.go
  subsystem/cluster_test.go
  subsystem/wiremock_stubs.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6495 Parameterize OPENSHIFT_INSTALL_INVOKER (#1756)
  internal/ignition/ignition.go
  internal/ignition/ignition_test.go
  pkg/generator/generator.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5430 Move assisted service image to stream8 (#1763)
  Dockerfile.assisted-service
Due: none

NO-ISSUE Add note about Skipper to the operator build docs
  docs/operator.md
Due: none

OCPBUGSM-29306 Allow creating SNO cluster with any 4.8.0-x version
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE Extend BMAC documentation
  docs/baremetal-agent-controller.md
Due: none

Revert "MGMT-5430 Move assisted service image to stream8 (#1763)"
  Dockerfile.assisted-service
Due: none

MGMT-5274 Check nodes disks before attach/detach script
  deploy/operator/libvirt_disks.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: don't overwrite bundle metadata
  hack/generate.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5274 Allow override SERVICE_BASE_URL for test-infra port-forwarding
  internal/controller/controllers/agentserviceconfig_controller.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6532: Update Dockerfile.bundle for prow/ci-index
  Dockerfile.bundle
  Makefile
  hack/generate.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6549 Removing support for min CPU and RAM env variables
  internal/hardware/validator.go
  internal/host/host_test.go
  internal/host/monitor_test.go
  internal/host/transition_test.go
  internal/host/validator.go
  pkg/mathutils/mathutils.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: don't overwrite bundle metadata (#1766)
  hack/generate.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: Fixing doc typos
  README.md
  docs/installer-stand-alone.md
Due: none

NO-ISSUE Use a ClusterIP service rather than LoadBalancer
  internal/controller/controllers/agentserviceconfig_controller.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6284 install hive without OLM (#1698)
  Dockerfile.assisted-service-build
  Makefile
  deploy/operator/deploy.sh
  deploy/operator/setup_hive.sh
  hack/setup_env.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-29119 Can't change Installation disk (#1762)
  internal/bminventory/inventory.go
  internal/hardware/validator.go
  internal/hardware/validator_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE fix case of AgentCluster (#1761)
  subsystem/kubeapi_test.go
Due: ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5274 Check nodes disks before attach/detach script (#1777)
  deploy/operator/libvirt_disks.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6411 Discovery image deleted on cluster removal (#1720)
  subsystem/cluster_test.go
Due: ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE Add note about Skipper to the operator build docs (#1768)
  docs/operator.md
Due: none

MGMT-4966 Mapping /run/media directory to the next_step agent (#1780)
  internal/host/hostcommands/next_step_runner_cmd.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws
