Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Path conditions:
  ci/prow/e2e-metal-assisted: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-kube-api: any of: ^(internal/controller/.*)$
  ci/prow/images: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-kubeapi-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$

MGMT-4849 Watch the InfraEnv resource for BMH reconcile
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5274 Adjust operator scripts for test-infra usage (#1643)
  deploy/operator/deploy.sh
  deploy/operator/destroy.sh
  deploy/operator/libvirt_disks.sh
  deploy/operator/setup_assisted_operator.sh
  deploy/operator/setup_hive.sh
  deploy/operator/setup_lso.sh
  deploy/operator/utils.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6010 kubeAPI subsystem tests should cleanup the pull-secret
  subsystem/cluster_test.go
  subsystem/kubeapi_test.go
Due: ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6011 Add monitoring for duration and number of clusters/hosts for host/cluster monitors (#1646)
  internal/cluster/cluster.go
  internal/cluster/cluster_test.go
  internal/host/monitor.go
  internal/host/monitor_test.go
  internal/metrics/metricsManager.go
  internal/metrics/mock_metrics_manager_api.go
  pkg/commonutils/common_utils.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4795 - operator should configure Assisted Service deployment to include mirror registries configuration
  docs/operator.md
  internal/common/common.go
  internal/controller/api/v1beta1/agentserviceconfig_types.go
  internal/controller/api/v1beta1/zz_generated.deepcopy.go
  internal/controller/config/crd/bases/agent-install.openshift.io_agentserviceconfigs.yaml
  internal/controller/config/crd/resources.yaml
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/controller/controllers/agentserviceconfig_controller_test.go
  internal/controller/controllers/common.go
  pkg/mirrorregistries/generator.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4849 Watch the InfraEnv resource for BMH reconcile (#1586)
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE Increase timeout for assisted-service pod in operator deployment
  deploy/operator/utils.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE add workers to cluster and host monitors
  internal/cluster/cluster.go
  internal/host/host.go
  internal/host/host_test.go
  internal/host/monitor.go
  internal/host/monitor_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Revert "Revert "MGMT-5441 assisted-service should use oc client with ICSP support (#1615)" (#1629)"
  Dockerfile.assisted-service
Due: none

MGMT-4795 - operator should configure Assisted Service deployment to include mirror registries configuration (#1595)
  docs/operator.md
  internal/common/common.go
  internal/controller/api/v1beta1/agentserviceconfig_types.go
  internal/controller/api/v1beta1/zz_generated.deepcopy.go
  internal/controller/config/crd/bases/agent-install.openshift.io_agentserviceconfigs.yaml
  internal/controller/config/crd/resources.yaml
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/controller/controllers/agentserviceconfig_controller_test.go
  internal/controller/controllers/common.go
  pkg/mirrorregistries/generator.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6023 kubeAPI subsystem test - wait for URLs
  subsystem/kubeapi_test.go
Due: ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Update Dockerfile.assisted-service
  Dockerfile.assisted-service
Due: none

NO-ISSUE Verify release_version as part of handle_ocp_versions.py script
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  default_ocp_versions.json
  onprem-environment
  openshift/template.yaml
  tools/handle_ocp_versions.py
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE support using a local registry
  Makefile
  README.md
  deploy/assisted-service.yaml
  docs/dev/debug.md
  hack/update_local_image.sh
  skipper.env
  tools/deploy_assisted_installer.py
  tools/deployment_options.py
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5441 assisted-service should use oc client with ICSP support
  Dockerfile.assisted-service
Due: none

NO-ISSUE Verify release_version as part of handle_ocp_versions.py script (#1653)
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  default_ocp_versions.json
  onprem-environment
  openshift/template.yaml
  tools/handle_ocp_versions.py
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-27596 Update KubeAPI docs for nmstate
  docs/Kube-API.md
Due: none

MGMT-6027 - documentation update for deploying via Operator with mirror configuration
  docs/operator.md
Due: none

OCPBUGSM-27596 Update KubeAPI docs for nmstate (#1656)
  docs/Kube-API.md
Due: none

NO-ISSUE Set release_version when overriding ocp image
  tools/handle_ocp_versions.py
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5441 assisted-service should use oc client with ICSP support (#1655)
  Dockerfile.assisted-service
Due: none

MGMT-4529 convert host and cluster metrics to ELK
  cmd/main.go
  internal/cluster/cluster.go
  internal/cluster/cluster_test.go
  internal/host/host.go
  internal/metrics/metricsManager.go
  internal/metrics/mock_metrics_manager_api.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5331 Subsystem test for filesystem usage metrics
  subsystem/metrics_test.go
Due: ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5274 Order alphabetically operator env vars
  deploy/operator/setup_assisted_operator.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5391 Configure ironic to pull ISOs from the http API
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6026 Update default OCP version 4.8.0-fc.0 -> 4.8.0-fc.2
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  default_ocp_versions.json
  onprem-environment
  openshift/template.yaml
Due: none

OCPBUGSM-27416 Handle AAAA DNS records in Route53 (#1538)
  internal/bminventory/inventory.go
  internal/cluster/transition.go
  internal/cluster/validations/validation_test.go
  internal/cluster/validations/validations.go
  internal/dns/dns.go
  internal/dns/dns_test.go
  internal/dns/mock_dns.go
  internal/dns/mock_dns_vendor.go
  internal/dns/mocks.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE support using a local registry (#1611)
  Makefile
  README.md
  deploy/assisted-service.yaml
  docs/dev/debug.md
  hack/update_local_image.sh
  skipper.env
  tools/deploy_assisted_installer.py
  tools/deployment_options.py
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE Use correct validation ID for CNV host validation (#1623)
  internal/operators/cnv/cnv_operator.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6027 - documentation update for deploying via Operator with mirror configuration (#1654)
  docs/operator.md
Due: none

MGMT-5390 Additional improvements to host monitoring (#1658)
  internal/host/conditions.go
  internal/host/refresh_status_preprocessor.go
  internal/host/statemachine.go
  internal/host/transition.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4736 Calculate SR-IOV NICs-related memory overhead (#1527)
  internal/operators/cnv/cnv_operator.go
  internal/operators/cnv/cnv_operator_test.go
  internal/operators/cnv/config.go
  internal/operators/cnv/config_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5274 Order alphabetically operator env vars (#1660)
  deploy/operator/setup_assisted_operator.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5456 docs: hive integ - z-stream support (#1625)
  docs/Kube-API.md
  docs/kube-api-select-ocp-versions.md
Due: none

MGMT-6026 Update default OCP version 4.8.0-fc.0 -> 4.8.0-fc.2 (#1663)
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  default_ocp_versions.json
  onprem-environment
  openshift/template.yaml
Due: none

MGMT-5449 Provide Minimum HW requirements for SNO
  client/installer/get_host_requirements_parameters.go
  internal/bminventory/inventory.go
  internal/hardware/mock_validator.go
  internal/hardware/validator.go
  internal/hardware/validator_test.go
  internal/host/validator.go
  restapi/embedded_spec.go
  restapi/operations/installer/get_host_requirements_parameters.go
  swagger.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6034 fix enabing mirror registry certificate in Assisted Service pod
  internal/common/common.go
  internal/installcfg/installcfg.go
  internal/installcfg/installcfg_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4529 convert host and cluster metrics to ELK (#1560)
  cmd/main.go
  internal/cluster/cluster.go
  internal/cluster/cluster_test.go
  internal/host/host.go
  internal/metrics/metricsManager.go
  internal/metrics/mock_metrics_manager_api.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: Change the memory unit from GB to GiB for ocs (#1601)
  internal/operators/ocs/consts.go
  internal/operators/ocs/ocs_operator.go
  internal/operators/ocs/ocs_operator_test.go
  internal/operators/ocs/validation_test.go
  internal/operators/ocs/validations.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws
