Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

ci/prow/e2e-metal-assisted:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-metal-assisted-kube-api:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/subsystem-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/subsystem-kubeapi-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

NO-ISSUE: gather hive logs on CI (#2006)
  deploy/operator/gather.sh
  deploy/operator/setup_hive.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: Make operator deploy.sh exit in case of error (#2014)
  deploy/operator/deploy.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-30076: Add role, bootstrap and ntp sources to Agent CR
  config/crd/bases/agent-install.openshift.io_agents.yaml
  config/crd/resources.yaml
  deploy/olm-catalog/manifests/agent-install.openshift.io_agents.yaml
  internal/controller/api/v1beta1/agent_types.go
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agent_controller_test.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: fix hive installation to create namespace and OperatorGroup
  deploy/operator/setup_hive.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: fix hive installation to create namespace and OperatorGroup (#2017)
  deploy/operator/setup_hive.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-30350: Add Progress info to Agent Status
  config/crd/bases/agent-install.openshift.io_agents.yaml
  config/crd/resources.yaml
  deploy/olm-catalog/manifests/agent-install.openshift.io_agents.yaml
  internal/controller/api/v1beta1/agent_types.go
  internal/controller/api/v1beta1/zz_generated.deepcopy.go
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agent_controller_test.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-26021: Can't proceed beyond the first wizard screen, if a cluster already has VIPs but no hosts (#1990)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/bminventory/mock_installer_internal.go
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agent_controller_test.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  internal/controller/controllers/infraenv_controller.go
  internal/controller/controllers/infraenv_controller_test.go
  internal/network/machine_network_cidr.go
  subsystem/cluster_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1968124: Clarify "Mirror Registry Configuration" doc
  docs/operator.md
Due: none

NO-ISSUE: Add lranjbar to OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

Bug 1968125: AgentServiceConfig examples in operator.md doc should each contain databaseStorage + filesystemStorage (#2002)
  docs/operator.md
Due: none

Bug 1968125: AgentServiceConfig examples in operator.md doc should each contain databaseStorage + filesystemStorage
  docs/operator.md
Due: none

OCPBUGSM-30089: parsing error indication for config override
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1967956: Propagate proxy config to service
  internal/controller/controllers/agentserviceconfig_controller.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6286: add image mirroring in operator installation on CI (#1950)
  deploy/operator/deploy.sh
  deploy/operator/mirror_utils.sh
  deploy/operator/setup_assisted_operator.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1971589: Change default telemeter server of installed clusters to prod. (#1988) (#2003)
  internal/network/manifests_generator.go
  internal/network/manifests_generator_test.go
  subsystem/manifests_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1968425: Apply labels from infraenv to Agents
  config/crd/bases/agent-install.openshift.io_infraenvs.yaml
  config/crd/resources.yaml
  deploy/olm-catalog/manifests/agent-install.openshift.io_infraenvs.yaml
  docs/crds/infraEnv.yaml
  internal/controller/api/v1beta1/infraenv_types.go
  internal/controller/api/v1beta1/zz_generated.deepcopy.go
  internal/controller/controllers/crd_utils.go
  internal/controller/controllers/crd_utils_test.go
  internal/controller/controllers/infraenv_controller.go
  internal/controller/controllers/infraenv_controller_test.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1969975: Create warning about Agent without corresponding BMH
  internal/controller/controllers/bmh_agent_controller.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6628: Exposing the deregistration time on cluster API. (#1995)
  cmd/main.go
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  models/cluster_default_config.go
  restapi/embedded_spec.go
  subsystem/cluster_default_config_test.go
  subsystem/subsystem_suite_test.go
  swagger.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE Add results to cluster.installation.results internal event
  internal/metrics/metricsManager.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: Add lranjbar to OWNERS_ALIASES (#2024)
  OWNERS_ALIASES
Due: none

Bug 1964591: Remove AI Agent image in case of service failure
  internal/ignition/ignition.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6764: Apply timeouts for waiting for amount of agents and waiting for agentclusterinstall to be completed
  deploy/operator/utils.sh
  deploy/operator/ztp/deploy_spoke_cluster.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6938: Wait for Hive to be ready
  deploy/operator/setup_hive.sh
  deploy/operator/utils.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1973315: Fix logging Image URL when regenerating ISO
  internal/controller/controllers/infraenv_controller.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6860: Add config for the spoke cluster in ztp flow
  deploy/operator/ztp/assisted-installer-crds-playbook.yaml
  deploy/operator/ztp/deploy_spoke_cluster.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-30211: cache image fetched from release (#1997)
  internal/oc/release.go
  internal/oc/release_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1971162: OCS check if the disks are Installation eligible (#1999)
  internal/operators/manager_test.go
  internal/operators/ocs/ocs_operator_test.go
  internal/operators/ocs/validation_test.go
  internal/operators/ocs/validations.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-30350: Add Progress info to Agent Status (#2004)
  config/crd/bases/agent-install.openshift.io_agents.yaml
  config/crd/resources.yaml
  deploy/olm-catalog/manifests/agent-install.openshift.io_agents.yaml
  internal/controller/api/v1beta1/agent_types.go
  internal/controller/api/v1beta1/zz_generated.deepcopy.go
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agent_controller_test.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6942: Bump OCP versions 4.8.0-fc.8 -> 4.8.0-fc.9 (#2012)
  config/manager/manager.yaml
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  data/default_ocp_versions.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  onprem-environment
  openshift/template.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6806: Rename DEBUG and DEBUG_PORT flags to DEBUG_SERVICE and DEBUG_SERVICE_PORT (#2019)
  Dockerfile.assisted-service-debug
  Makefile
  docs/dev/debug.md
  hack/update_local_image.sh
  skipper.env
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE Add results to cluster.installation.results internal event (#2028)
  internal/metrics/metricsManager.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4585: Enable flexible scaling for OCS
  internal/operators/ocs/manifest.go
  internal/operators/ocs/validation_test.go
  internal/operators/ocs/validations.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1967956: Propagate proxy config to service (#2026)
  internal/controller/controllers/agentserviceconfig_controller.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1968124: Clarify "Mirror Registry Configuration" doc (#2021)
  docs/operator.md
Due: none

NO-ISSUE: Add pawanpinjarkar to code-reviewers
  OWNERS_ALIASES
Due: none

Bug 1972096: Use .invalid domain instead of dummy.com (#1993)
  internal/bminventory/inventory_test.go
  internal/cluster/cluster_test.go
  internal/common/test_configuration.go
  internal/host/host_test.go
  internal/network/manifests_generator.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1972096: Use .invalid domain instead of dummy.com
  internal/bminventory/inventory_test.go
  internal/cluster/cluster_test.go
  internal/common/test_configuration.go
  internal/host/host_test.go
  internal/network/manifests_generator.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-2955 POST /assisted-service-iso should return presigned url
  client/assisted_service_iso/create_i_s_o_and_upload_to_s3_responses.go
  internal/assistedserviceiso/assistedserviceiso_api.go
  internal/assistedserviceiso/assistedserviceiso_api_test.go
  restapi/embedded_spec.go
  restapi/operations/assisted_service_iso/create_i_s_o_and_upload_to_s3_responses.go
  swagger.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-30146: Fixing the issue with missing data in /etc/resolv.conf after reboot of SNO host (#1989)
  internal/network/manifests_generator.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6712: Enable host validations for network latency and packet loss by default
  Makefile
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  data/default_hw_requirements.json
  deploy/assisted-service-configmap.yaml
  docs/dev/hardware-requirements.md
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/hardware/validator_test.go
  internal/host/host.go
  internal/host/hostutil/test_utils.go
  internal/host/transition_test.go
  onprem-environment
  openshift/template.yaml
  skipper.env
  subsystem/cluster_test.go
  subsystem/day2_cluster_test.go
  subsystem/utils_test.go
  tools/deploy_assisted_installer_configmap.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Path conditions:
  ci/prow/e2e-metal-assisted: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-kube-api: any of: ^(internal/controller/.*)$
  ci/prow/images: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-kubeapi-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
