Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

ci/prow/e2e-metal-assisted:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-metal-assisted-kube-api:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/subsystem-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/subsystem-kubeapi-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

MGMT-5274 Destroy test assisted-service test catalogsource
  deploy/operator/destroy.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: remove internal/controller/config
  internal/controller/config/crd/bases/extensions.hive.openshift.io_agentclusterinstalls.yaml
  internal/controller/config/crd/kustomization.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4640 set default OCP requirements (#1458)
  Makefile
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  data/default_hw_requirements.json
  deploy/assisted-service-configmap.yaml
  hack/generate.sh
  onprem-environment
  tools/deploy_assisted_installer_configmap.py
  tools/update_bm_cm.py
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5270 handle_ocp_versions: ignore default key (#1700)
  tools/handle_ocp_versions.py
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-28705: replace MiB unit with GiB when ocs host requirement fails (#1667)
  internal/operators/ocs/ocs_operator.go
  internal/operators/ocs/ocs_operator_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5274 Destroy test assisted-service test catalogsource (#1708)
  deploy/operator/destroy.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4261 Deregister Host on agent CR deletion
  config/rbac/role.yaml
  internal/bminventory/inventory.go
  internal/bminventory/mock_installer_internal.go
  internal/common/db.go
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agent_controller_test.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE Add retry for any curl command
  Dockerfile.assisted-service
  Dockerfile.bundle
  Jenkinsfile
  deploy/operator/mirror_utils.sh
  hack/setup_env.sh
  hack/update_local_image.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5302 Removing deprecated /host_requirements endpoint and related model (#1549)
  client/installer/get_host_requirements_parameters.go
  client/installer/get_host_requirements_responses.go
  client/installer/installer_client.go
  internal/bminventory/inventory.go
  mocks/mock_assisted_service.go
  models/host_requirements.go
  models/host_requirements_role.go
  pkg/auth/auth_assisted_service_mock_test.go
  pkg/auth/authz_handler_test.go
  restapi/configure_assisted_install.go
  restapi/embedded_spec.go
  restapi/operations/assisted_install_api.go
  restapi/operations/installer/get_host_requirements.go
  restapi/operations/installer/get_host_requirements_parameters.go
  restapi/operations/installer/get_host_requirements_responses.go
  restapi/operations/installer/get_host_requirements_urlbuilder.go
  swagger.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5398 Update kubeapi docs for AgentClusterInstall (#1636)
  docs/Kube-API.md
  docs/crds/agentClusterInstall-SNO.yaml
  docs/crds/agentClusterInstall.yaml
  docs/crds/clusterDeployment-SNO.yaml
  docs/crds/clusterDeployment.yaml
  docs/kube-api-conditions.md
Due: none

NO-ISSUE add /etc/pki/tls/certs/ca-bundle.crt volume mount to skipper.yaml This will add trusted root certificates from the host to the build container
  skipper.yaml
Due: none

MGMT-6451 Skip flaky subsystem kubeapi test deploy clusterDeployment with agent
  subsystem/kubeapi_test.go
Due: ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE add /etc/pki/tls/certs/ca-bundle.crt volume mount to skipper.yaml (#1712)
  skipper.yaml
Due: none

OCPBUGSM-28332 - Fix enable/disable host operations returns cluster resource with only enabled hosts list
  internal/bminventory/inventory.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5396 Remove unneeded yaml - rebase leftovers Signed-off-by: Fred Rolland <frolland@redhat.com>
  internal/controller/config/crd/bases/extensions.hive.openshift.io_agentclusterinstalls.yaml
  internal/controller/config/crd/kustomization.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5415: Adding filter to GET /clusters API.
  client/installer/list_clusters_parameters.go
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/common/db.go
  restapi/embedded_spec.go
  restapi/operations/installer/list_clusters_parameters.go
  restapi/operations/installer/list_clusters_urlbuilder.go
  subsystem/cluster_test.go
  swagger.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE test
  go.sum
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/bmh_agent_controller.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4942 Add rootfs url to openshift version model
  config/manager/manager.yaml
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  default_ocp_versions.json
  models/openshift_version.go
  onprem-environment
  openshift/template.yaml
  restapi/embedded_spec.go
  swagger.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4942 Use rootfs url from versions rather than our service
  internal/isoeditor/mock_editor.go
  internal/isoeditor/rhcos.go
  internal/isoeditor/rhcos_test.go
  internal/versions/mock_versions.go
  internal/versions/versions.go
  pkg/s3wrapper/client.go
  pkg/s3wrapper/client_test.go
  pkg/s3wrapper/filesystem.go
  pkg/s3wrapper/filesystem_test.go
  pkg/s3wrapper/util.go
  pkg/s3wrapper/util_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4942 Remove openshift version from WithEditor
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/isoeditor/factory.go
  internal/isoeditor/mock_editor.go
  internal/isoeditor/mock_factory.go
  internal/isoeditor/rhcos.go
  internal/isoeditor/rhcos_test.go
  pkg/s3wrapper/util.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4261 Deregister Host on agent CR deletion (#1642)
  config/rbac/role.yaml
  internal/bminventory/inventory.go
  internal/bminventory/mock_installer_internal.go
  internal/common/db.go
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agent_controller_test.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6451 Skip flaky subsystem kubeapi test deploy clusterDeployment with agent (#1714)
  subsystem/kubeapi_test.go
Due: ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE test
  internal/controller/controllers/bmh_agent_controller.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE fixing subsystem race
  subsystem/kubeapi_test.go
Due: ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-28332 - Fix enable/disable host operations returns cluster resource with only enabled hosts list (#1702)
  internal/bminventory/inventory.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5415: Adding filter to GET /clusters API. (#1705)
  client/installer/list_clusters_parameters.go
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/common/db.go
  restapi/embedded_spec.go
  restapi/operations/installer/list_clusters_parameters.go
  restapi/operations/installer/list_clusters_urlbuilder.go
  subsystem/cluster_test.go
  swagger.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6001 Misleading status after prepare-for-install error (#1706)
  internal/cluster/cluster.go
  internal/host/common.go
  internal/host/host.go
  internal/host/host_test.go
  internal/host/statemachine.go
  internal/host/transition_test.go
  internal/host/validation_id.go
  internal/host/validator.go
  models/host_validation_id.go
  restapi/embedded_spec.go
  swagger.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE Add retry for any curl command (#1710)
  Dockerfile.assisted-service
  Dockerfile.bundle
  Jenkinsfile
  deploy/operator/mirror_utils.sh
  hack/setup_env.sh
  hack/update_local_image.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5396 Remove unneeded yaml - rebase leftovers (#1716)
  internal/controller/config/crd/bases/extensions.hive.openshift.io_agentclusterinstalls.yaml
  internal/controller/config/crd/kustomization.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6458 - Don't override hw master requirements with sno one
  internal/hardware/validator.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4942 Download rootfs from mirror.openshift.com (take 2) (#1697)
  config/manager/manager.yaml
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  default_ocp_versions.json
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/isoeditor/factory.go
  internal/isoeditor/mock_factory.go
  internal/isoeditor/rhcos.go
  internal/isoeditor/rhcos_test.go
  internal/versions/mock_versions.go
  internal/versions/versions.go
  models/openshift_version.go
  onprem-environment
  openshift/template.yaml
  pkg/s3wrapper/client.go
  pkg/s3wrapper/client_test.go
  pkg/s3wrapper/filesystem.go
  pkg/s3wrapper/filesystem_test.go
  pkg/s3wrapper/util.go
  pkg/s3wrapper/util_test.go
  restapi/embedded_spec.go
  swagger.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6458 - Don't override hw master requirements with sno one (#1724)
  internal/hardware/validator.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6458 Add a test for sno hw req bug
  internal/hardware/validator_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4137 - Add day2 usage
  internal/bminventory/inventory.go
  internal/usage/consts.go
  subsystem/day2_cluster_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5399 Add support for conditions Failed Stopped
  docs/kube-api-conditions.md
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  internal/controller/controllers/conditions.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6465 Move default_ocp_versions.json and default_public_container_registries.txt to data directory
  Makefile
  data/default_ocp_versions.json
  data/default_public_container_registries.txt
  default_ocp_versions.json
  hack/generate.sh
  hack/get_ocp_versions_for_testing.sh
  internal/versions/versions_test.go
  tools/handle_ocp_versions.py
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE Add examples to the contributor guide
  CONTRIBUTING.md
Due: none

MGMT-5847 Move InstallConfig annotation to AgentClusterInstall CRD Signed-off-by: Fred Rolland <frolland@redhat.com>
  docs/Kube-API.md
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6438 Removed deprecated requirements env variables.
  hack/generate.sh
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/hardware/mock_validator.go
  internal/hardware/validator.go
  internal/hardware/validator_test.go
  internal/hardware/versioned-requirements.go
  internal/hardware/versioned-requirements_test.go
  internal/host/transition_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6438 Removed deprecated requirements env variables. (#1715)
  hack/generate.sh
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/hardware/mock_validator.go
  internal/hardware/validator.go
  internal/hardware/validator_test.go
  internal/hardware/versioned-requirements.go
  internal/hardware/versioned-requirements_test.go
  internal/host/transition_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Path conditions:
  ci/prow/e2e-metal-assisted: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-kube-api: any of: ^(internal/controller/.*)$
  ci/prow/images: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-kubeapi-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
