Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Path conditions:
  ci/prow/e2e-metal-assisted: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-kube-api: any of: ^(internal/controller/.*)$
  ci/prow/images: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-kubeapi-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$

OCPBUGSM-24075 - Correct the spelling of 'canceled' on canceled by user event
  internal/bminventory/inventory.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4143 Usage API and metrics (#1361)
  cmd/main.go
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/usage/consts.go
  internal/usage/manager.go
  internal/usage/manager_test.go
  internal/usage/mock_usage_manager.go
  models/cluster.go
  models/usage.go
  restapi/embedded_spec.go
  subsystem/cluster_test.go
  subsystem/operators_test.go
  subsystem/utils_test.go
  swagger.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-25356 Handle net prefix for single node
  internal/network/cidr_validations.go
  internal/network/cidr_validations_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-3443: Adding Grafana dashboards for validations metrics.
  dashboards/grafana-dashboard-assisted-installer-validations.configmap.yaml
Due: none

OCPBUGSM-24075 - Correct the spelling of 'canceled' on canceled by user event (#1488)
  internal/bminventory/inventory.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE Replace gorm.IsRecordNotFoundError with errors.Is (#1521)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/cluster/cluster_test.go
  internal/cluster/common.go
  internal/cluster/registrar.go
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/infraenv_controller.go
  internal/host/host.go
  internal/operators/handler/handler.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-27929 - Make transition for cancel installation from known state not to fail (#1523)
  internal/cluster/validator.go
  internal/host/statemachine.go
  internal/host/transition_test.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE Document Deploying the operator on a k8s cluster
  docs/operator.md
Due: none

MGMT-3443: Adding Grafana dashboards for validations metrics. (#1496)
  dashboards/grafana-dashboard-assisted-installer-validations.configmap.yaml
Due: none

MGMT-5188 Deprecate UpdateClusterInstallProgress API (#1509)
  client/installer/installer_client.go
  client/installer/update_cluster_install_progress_parameters.go
  client/installer/update_cluster_install_progress_responses.go
  cmd/main.go
  internal/bminventory/inventory.go
  internal/cluster/cluster.go
  internal/cluster/common.go
  internal/cluster/mock_cluster_api.go
  internal/cluster/statemachine.go
  internal/cluster/transition.go
  internal/operators/handler/handler.go
  internal/operators/handler/handler_test.go
  mocks/mock_assisted_service.go
  models/cluster.go
  models/cluster_progress_info.go
  pkg/auth/auth_assisted_service_mock_test.go
  restapi/configure_assisted_install.go
  restapi/embedded_spec.go
  restapi/operations/assisted_install_api.go
  restapi/operations/installer/update_cluster_install_progress.go
  restapi/operations/installer/update_cluster_install_progress_parameters.go
  restapi/operations/installer/update_cluster_install_progress_responses.go
  restapi/operations/installer/update_cluster_install_progress_urlbuilder.go
  subsystem/cluster_test.go
  subsystem/utils_test.go
  swagger.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4477 Pre-flight host requirements API
  client/installer/get_preflight_requirements_parameters.go
  client/installer/get_preflight_requirements_responses.go
  client/installer/installer_client.go
  internal/bminventory/inventory.go
  mocks/mock_assisted_service.go
  models/host_type_hardware_requirements.go
  models/host_type_hardware_requirements_wrapper.go
  models/operator_hardware_requirements.go
  models/preflight_hardware_requirements.go
  pkg/auth/auth_assisted_service_mock_test.go
  restapi/configure_assisted_install.go
  restapi/embedded_spec.go
  restapi/operations/assisted_install_api.go
  restapi/operations/installer/get_preflight_requirements.go
  restapi/operations/installer/get_preflight_requirements_parameters.go
  restapi/operations/installer/get_preflight_requirements_responses.go
  restapi/operations/installer/get_preflight_requirements_urlbuilder.go
  swagger.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5265 Add the ability to disable host validations via configuration
  cmd/main.go
  go.mod
  go.sum
  internal/host/host.go
  internal/host/host_test.go
  internal/host/monitor_test.go
  internal/host/refresh_status_preprocessor.go
  internal/host/refresh_status_preprocessor_test.go
  internal/host/statemachine.go
  internal/host/statemachine_test.go
  internal/host/transition_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4477 Pre-flight host requirements API (#1508)
  client/installer/get_preflight_requirements_parameters.go
  client/installer/get_preflight_requirements_responses.go
  client/installer/installer_client.go
  internal/bminventory/inventory.go
  mocks/mock_assisted_service.go
  models/host_type_hardware_requirements.go
  models/host_type_hardware_requirements_wrapper.go
  models/operator_hardware_requirements.go
  models/preflight_hardware_requirements.go
  pkg/auth/auth_assisted_service_mock_test.go
  restapi/configure_assisted_install.go
  restapi/embedded_spec.go
  restapi/operations/assisted_install_api.go
  restapi/operations/installer/get_preflight_requirements.go
  restapi/operations/installer/get_preflight_requirements_parameters.go
  restapi/operations/installer/get_preflight_requirements_responses.go
  restapi/operations/installer/get_preflight_requirements_urlbuilder.go
  swagger.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4477 Add preflight requirements method to operators.Manager
  internal/operators/manager.go
  internal/operators/manager_test.go
  internal/operators/mock_operators_api.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4477 Add operator generic API method for providing preflight hardware requirements
  internal/operators/api/api.go
  internal/operators/api/mock_operator_api.go
  internal/operators/cnv/cnv_operator.go
  internal/operators/cnv/cnv_operator_test.go
  internal/operators/lso/ls_operator.go
  internal/operators/ocs/ocs_operator.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-3512 Report FS usage metrics
  cmd/main.go
  go.mod
  internal/metrics/metricsManager.go
  internal/metrics/mock_metrics_manager_api.go
  pkg/s3wrapper/filesystem.go
  pkg/s3wrapper/filesystem_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-3512 Use decorator to collect metrics for filesystem
  pkg/s3wrapper/filesystem.go
  pkg/s3wrapper/filesystem_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: Fixing validations dashboards name.
  dashboards/grafana-dashboard-assisted-installer-validations.configmap.yaml
Due: none

MGMT-4477 Implement GetPreflightRequirements handler
  internal/bminventory/inventory.go
  internal/hardware/mock_validator.go
  internal/hardware/validator.go
  internal/hardware/validator_test.go
  internal/host/host.go
  internal/host/mock_host_api.go
  internal/host/transition_test.go
  subsystem/cluster_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5265 Add the ability to disable host validations via configuration (#1528)
  cmd/main.go
  go.mod
  go.sum
  internal/host/host.go
  internal/host/host_test.go
  internal/host/monitor_test.go
  internal/host/refresh_status_preprocessor.go
  internal/host/refresh_status_preprocessor_test.go
  internal/host/statemachine.go
  internal/host/statemachine_test.go
  internal/host/transition_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4477 After code review
  internal/hardware/validator.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: Fixing validations dashboards name. (#1531)
  dashboards/grafana-dashboard-assisted-installer-validations.configmap.yaml
Due: none

MGMT-5266 Add API endpoint for resetting failed host validation The reset operation is for validations that failed in preparing for installation
  client/installer/installer_client.go
  client/installer/reset_host_validation_parameters.go
  client/installer/reset_host_validation_responses.go
  internal/bminventory/inventory.go
  mocks/mock_assisted_service.go
  pkg/auth/auth_assisted_service_mock_test.go
  restapi/configure_assisted_install.go
  restapi/embedded_spec.go
  restapi/operations/assisted_install_api.go
  restapi/operations/installer/reset_host_validation.go
  restapi/operations/installer/reset_host_validation_parameters.go
  restapi/operations/installer/reset_host_validation_responses.go
  restapi/operations/installer/reset_host_validation_urlbuilder.go
  swagger.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-25356 Handle net prefix for single node (#1525)
  internal/network/cidr_validations.go
  internal/network/cidr_validations_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4965: Fixing OCM-Operations Grafana dashboard.
  dashboards/grafana-dashboard-assisted-installer-ocm-operations.configmap.yaml
Due: none

MGMT-5280 move installcfg package to use interface as an external API
  cmd/main.go
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/installcfg/installcfg.go
  internal/installcfg/installcfg_test.go
  internal/installcfg/mock_installcfg.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4477 Getting requirements for all OLM operators, not only configured for the cluster
  internal/operators/manager.go
  internal/operators/manager_test.go
  subsystem/cluster_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5288 Handle NOOP transition for host "preparation-successful" state
  internal/host/statemachine.go
  internal/host/transition_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4965: Fixing OCM-Operations Grafana dashboard. (#1533)
  dashboards/grafana-dashboard-assisted-installer-ocm-operations.configmap.yaml
Due: none

MGMT-5266 Add API endpoint for resetting failed host validation (#1530)
  client/installer/installer_client.go
  client/installer/reset_host_validation_parameters.go
  client/installer/reset_host_validation_responses.go
  internal/bminventory/inventory.go
  mocks/mock_assisted_service.go
  pkg/auth/auth_assisted_service_mock_test.go
  restapi/configure_assisted_install.go
  restapi/embedded_spec.go
  restapi/operations/assisted_install_api.go
  restapi/operations/installer/reset_host_validation.go
  restapi/operations/installer/reset_host_validation_parameters.go
  restapi/operations/installer/reset_host_validation_responses.go
  restapi/operations/installer/reset_host_validation_urlbuilder.go
  swagger.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5280 move installcfg package to use interface as an external API (#1534)
  cmd/main.go
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/installcfg/installcfg.go
  internal/installcfg/installcfg_test.go
  internal/installcfg/mock_installcfg.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4914 BMAC sets IgnitionConfigOverride to agent (#1476)
  internal/controller/api/v1beta1/agent_types.go
  internal/controller/config/crd/bases/agent-install.openshift.io_agents.yaml
  internal/controller/config/crd/resources.yaml
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5268 SetStatusCondition causes controllers reconcile endless loop (#1529)
  go.mod
  go.sum
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/controller/controllers/infraenv_controller.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5288 Handle NOOP transition for host "preparation-successful" state (#1535)
  internal/host/statemachine.go
  internal/host/transition_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-17327 Handle asterisk in NoProxy values
  internal/cluster/validations/validation_test.go
  internal/cluster/validations/validations.go
  internal/host/hostcommands/install_cmd.go
  internal/host/hostcommands/install_cmd_test.go
  internal/ignition/ignition_test.go
  internal/installcfg/installcfg.go
  internal/installcfg/installcfg_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: Bump baremetal-operator and hive dependencies' versions
  go.mod
  go.sum
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agent_controller_test.go
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  internal/controller/controllers/crd_events_handler.go
  internal/controller/controllers/crd_utils_test.go
  internal/controller/controllers/infraenv_controller.go
  internal/controller/controllers/infraenv_controller_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: Add APIGroup and resource to kube_api leader election role
  internal/controller/config/rbac/kube_api_roles.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: Disable automated cleaning and set online true in BMH
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE Set `online: true` and disable autoamted cleaning in the BMH resource (#1512)
  go.mod
  go.sum
  internal/controller/config/rbac/kube_api_roles.yaml
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agent_controller_test.go
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  internal/controller/controllers/crd_events_handler.go
  internal/controller/controllers/crd_utils_test.go
  internal/controller/controllers/infraenv_controller.go
  internal/controller/controllers/infraenv_controller_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5282: kubeapi: Added info log on reconcile entering
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/infraenv_controller.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws
