Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

ci/prow/e2e-metal-assisted:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-metal-assisted-kube-api:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/subsystem-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/subsystem-kubeapi-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Bug 1968425: Apply labels from infraenv to Agents
  config/crd/bases/agent-install.openshift.io_infraenvs.yaml
  config/crd/resources.yaml
  deploy/olm-catalog/manifests/agent-install.openshift.io_infraenvs.yaml
  docs/crds/infraEnv.yaml
  internal/controller/api/v1beta1/infraenv_types.go
  internal/controller/api/v1beta1/zz_generated.deepcopy.go
  internal/controller/controllers/crd_utils.go
  internal/controller/controllers/crd_utils_test.go
  internal/controller/controllers/infraenv_controller.go
  internal/controller/controllers/infraenv_controller_test.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1972262: Change default value for BMH_DETACHED_ANNOTATION
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-30089: parsing error indication for config override
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1968425: Apply labels from infraenv to Agents (#2054)
  config/crd/bases/agent-install.openshift.io_infraenvs.yaml
  config/crd/resources.yaml
  deploy/olm-catalog/manifests/agent-install.openshift.io_infraenvs.yaml
  docs/crds/infraEnv.yaml
  internal/controller/api/v1beta1/infraenv_types.go
  internal/controller/api/v1beta1/zz_generated.deepcopy.go
  internal/controller/controllers/crd_utils.go
  internal/controller/controllers/crd_utils_test.go
  internal/controller/controllers/infraenv_controller.go
  internal/controller/controllers/infraenv_controller_test.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1964623: Tune FS disk usage log messages (#1888)
  pkg/s3wrapper/filesystem.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1972525: CD controller to notify InfraEnv for backend cluster registration (#2046)
  internal/controller/controllers/clusterdeployments_controller.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1972525: CD controller to notify InfraEnv for backend cluster registration
  internal/controller/controllers/clusterdeployments_controller.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: increase timeout of waiting for pod for disconnected flow
  deploy/operator/utils.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE Adding sagidayan as a code-reviewer
  OWNERS_ALIASES
Due: none

OCPBUGSM-30296: Delete unregistered hosts agents by namespace (#2018)
  internal/bminventory/inventory.go
  internal/bminventory/mock_installer_internal.go
  internal/common/db.go
  internal/controller/controllers/agent_controller.go
  internal/host/host.go
  internal/host/host_test.go
  internal/host/mock_host_api.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1969547: Create KubeConfig Secret when install starts (#2041)
  internal/bminventory/inventory.go
  internal/bminventory/mock_installer_internal.go
  internal/constants/files.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-30203: remove cluster_id from prometheus metrics + update tests (#2045)
  go.mod
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/cluster/transition.go
  internal/cluster/transition_test.go
  internal/host/host.go
  internal/host/host_test.go
  internal/metrics/metricsManager.go
  internal/metrics/mock_metrics_manager_api.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-30296: Delete unregistered hosts agents by namespace
  internal/bminventory/inventory.go
  internal/bminventory/mock_installer_internal.go
  internal/common/db.go
  internal/controller/controllers/agent_controller.go
  internal/host/host.go
  internal/host/host_test.go
  internal/host/mock_host_api.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE Adding sagidayan as a code-reviewer (#2062)
  OWNERS_ALIASES
Due: none

OCPBUGSM-30121: Add Image CreatedAt to InfraEnv status (#2038)
  config/crd/bases/agent-install.openshift.io_infraenvs.yaml
  config/crd/resources.yaml
  deploy/olm-catalog/manifests/agent-install.openshift.io_infraenvs.yaml
  internal/controller/api/v1beta1/infraenv_types.go
  internal/controller/api/v1beta1/zz_generated.deepcopy.go
  internal/controller/controllers/infraenv_controller.go
  internal/controller/controllers/infraenv_controller_test.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-30203: remove cluster_id from prometheus metrics + update tests (#2045)
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/cluster/transition.go
  internal/cluster/transition_test.go
  internal/host/host.go
  internal/host/host_test.go
  internal/metrics/metricsManager.go
  internal/metrics/mock_metrics_manager_api.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1964623: Tune FS disk usage log messages
  pkg/s3wrapper/filesystem.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1974421: Skip latency & packet loss when role auto assigned
  internal/host/transition_test.go
  internal/host/validator.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1967956: Propagate proxy config to service
  internal/controller/controllers/agentserviceconfig_controller.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: Update BMAC documentation
  docs/baremetal-agent-controller.md
Due: none

MGMT-5171: Deploy assisted operator in disconnected ipv6 env
  deploy/operator/deploy.sh
  deploy/operator/libvirt_disks.sh
  deploy/operator/mirror_utils.sh
  deploy/operator/setup_assisted_operator.sh
  deploy/operator/setup_hive.sh
  deploy/operator/setup_lso.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1968552: Wait for ISO for 1 minute before using it
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: Update BMAC documentation (#2069)
  docs/baremetal-agent-controller.md
Due: none

Bug 1972262: Change default value for BMH_DETACHED_ANNOTATION (#2011)
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: increase timeout of waiting for pod for disconnected flow (#2044)
  deploy/operator/utils.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: Fix a PR template typo (#2047)
  docs/pull_request_template.md
Due: none

Bug 1974501: infrastructure operator rename
  config/manager/manager.yaml
  config/manifests/bases/assisted-service-operator.clusterserviceversion.yaml
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  docs/operator.md
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bz1974085 wrong ip network latency validation (#2053)
  internal/host/transition_test.go
  internal/host/validator.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1971654: InfraEnv should always requeue on HTTP 409 backend response (#2022)
  internal/controller/controllers/infraenv_controller.go
  internal/controller/controllers/infraenv_controller_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1968423: Document kube api teardown process
  docs/Kube-API.md
Due: none

MGMT-5171: Deploy assisted operator in disconnected ipv6 env (#2052)
  deploy/operator/deploy.sh
  deploy/operator/libvirt_disks.sh
  deploy/operator/mirror_utils.sh
  deploy/operator/setup_assisted_operator.sh
  deploy/operator/setup_hive.sh
  deploy/operator/setup_lso.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1964623: Tune FS disk usage log messages (#2066)
  pkg/s3wrapper/filesystem.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1968572: Assisted Service does not escape backslash characters on public SSH keys
  internal/ignition/ignition.go
  internal/ignition/ignition_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1975218: Move conditions const to CRDs
  internal/controller/api/hiveextension/v1beta1/agentclusterinstall_types.go
  internal/controller/api/v1beta1/agent_types.go
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agent_controller_test.go
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  internal/controller/controllers/conditions.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: Remove duplicated transition tests
  internal/cluster/transition_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1967956: Propagate proxy config to service (#2068)
  internal/controller/controllers/agentserviceconfig_controller.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Bug 1968125: AgentServiceConfig examples in operator.md doc should each contain databaseStorage + filesystemStorage (#2025)
  docs/operator.md
Due: none

OCPBUGSM-31316: reduce poll interval for check NTP source
  subsystem/kubeapi_test.go
Due: ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-7054: Use MinIO over scality for object storage
  .golangci.yml
  Makefile
  README.md
  deploy/s3/deployment.yaml
  deploy/s3/public-secret.yaml
  deploy/s3/pvc.yaml
  deploy/s3/scality-deployment.yaml
  deploy/s3/secret.yaml
  pkg/s3wrapper/client.go
  tools/deploy_s3.py
  tools/deploy_s3_secrets.py
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Path conditions:
  ci/prow/e2e-metal-assisted: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-kube-api: any of: ^(internal/controller/.*)$
  ci/prow/images: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-kubeapi-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
