Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

ci/prow/e2e-metal-assisted:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-metal-assisted-kube-api:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/subsystem-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/subsystem-kubeapi-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Revert "NO-ISSUE Publish susbsystem reports (#517)"
  Dockerfile.assisted-service-build
  Jenkinsfile
  Makefile
  dev-requirements.txt
  hack/setup_env.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE use a specific k8s.io/api vesion to fix the build
  hack/setup_env.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE Updated Minimal Deployment RAM Requirements to 57GB
  internal/operators/ocs/validation_test.go
  internal/operators/ocs/validations.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Refactor, add into operator bundle
  .gitignore
  Makefile
  config/assisted-service/kustomization.yaml
  tools/deploy_assisted_installer_configmap_registry_ca.py
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE Pin k8s.io/api to v0.20.0
  go.mod
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE Pin k8s.io/api to v0.20.0 (#1482)
  go.mod
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4848 Return the newest agent in findAgent (#1471)
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4314 KubeAPI: InstallEnv support for nmstate config (#1316)
  docs/crds/installEnv.yaml
  docs/crds/nmstate.yaml
  internal/controller/api/v1alpha1/nmstate_config_types.go
  internal/controller/api/v1alpha1/nmstate_util.go
  internal/controller/api/v1alpha1/zz_generated.deepcopy.go
  internal/controller/config/crd/bases/adi.io.my.domain_nmstateconfigs.yaml
  internal/controller/config/crd/kustomization.yaml
  internal/controller/config/crd/resources.yaml
  internal/controller/config/rbac/role.yaml
  internal/controller/controllers/installenv_controller.go
  internal/controller/controllers/installenv_controller_test.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4739: AgentServiceConfig controller cleanup
  cmd/operator/main.go
  config/manager/manager.yaml
  config/manifests/bases/assisted-service-operator.clusterserviceversion.yaml
  docs/operator.md
  internal/controller/api/v1alpha1/agentserviceconfig_types.go
  internal/controller/config/crd/bases/adi.io.my.domain_agentserviceconfigs.yaml
  internal/controller/config/crd/resources.yaml
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/controller/controllers/common.go
  internal/controller/controllers/images.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4734 Adjust GPU data model (#1474)
  models/gpu.go
  restapi/embedded_spec.go
  swagger.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4363 mark the default ocp version (#1427)
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  default_ocp_versions.json
  internal/versions/versions_test.go
  models/openshift_version.go
  onprem-environment
  openshift/template.yaml
  restapi/embedded_spec.go
  swagger.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4955 Update OCP default version 4.7.5 -> 4.7.6
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  default_ocp_versions.json
  onprem-environment
  openshift/template.yaml
Due: none

MGMT-4704 - add CA and mirror registry to install-config. (#1433)
  internal/bminventory/inventory.go
  internal/ignition/ignition.go
  internal/ignition/ignition_test.go
  internal/installcfg/installcfg.go
  internal/installcfg/installcfg_test.go
  models/mirror_registry.go
  pkg/mirrorregistries/generator.go
  pkg/mirrorregistries/generator_test.go
  restapi/embedded_spec.go
  swagger.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE Updated Minimal Deployment RAM Requirements to 57GB (#1477)
  internal/operators/ocs/validation_test.go
  internal/operators/ocs/validations.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4739: AgentServiceConfig controller cleanup (#1475)
  cmd/operator/main.go
  config/manager/manager.yaml
  config/manifests/bases/assisted-service-operator.clusterserviceversion.yaml
  docs/operator.md
  internal/controller/api/v1alpha1/agentserviceconfig_types.go
  internal/controller/config/crd/bases/adi.io.my.domain_agentserviceconfigs.yaml
  internal/controller/config/crd/resources.yaml
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/controller/controllers/common.go
  internal/controller/controllers/images.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4638 Rename Group/Version to agent-install.openshift.io/v1beta1
  cmd/main.go
  cmd/operator/main.go
  config/crd/bases/assistedservice.openshift.io.openshift.io_assistedservices.yaml
  config/manifests/bases/assisted-service-operator.clusterserviceversion.yaml
  docs/Kube-API-examples.md
  docs/baremetal-agent-controller.md
  docs/crds/installEnv.yaml
  docs/crds/nmstate.yaml
  docs/operator.md
  internal/controller/api/v1beta1/agent_types.go
  internal/controller/api/v1beta1/agentserviceconfig_types.go
  internal/controller/api/v1beta1/groupversion_info.go
  internal/controller/api/v1beta1/installenv_types.go
  internal/controller/api/v1beta1/nmstate_config_types.go
  internal/controller/api/v1beta1/nmstate_util.go
  internal/controller/api/v1beta1/zz_generated.deepcopy.go
  internal/controller/config/crd/bases/agent-install.openshift.io_agents.yaml
  internal/controller/config/crd/bases/agent-install.openshift.io_agentserviceconfigs.yaml
  internal/controller/config/crd/bases/agent-install.openshift.io_installenvs.yaml
  internal/controller/config/crd/bases/agent-install.openshift.io_nmstateconfigs.yaml
  internal/controller/config/crd/kustomization.yaml
  internal/controller/config/crd/resources.yaml
  internal/controller/config/rbac/agentserviceconfig_editor_role.yaml
  internal/controller/config/rbac/agentserviceconfig_viewer_role.yaml
  internal/controller/config/rbac/role.yaml
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agent_controller_test.go
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/common.go
  internal/controller/controllers/controllers_suite_test.go
  internal/controller/controllers/crd_utils.go
  internal/controller/controllers/crd_utils_test.go
  internal/controller/controllers/installenv_controller.go
  internal/controller/controllers/installenv_controller_test.go
  subsystem/kubeapi_test.go
  subsystem/subsystem_suite_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4937 Events doc
  docs/events.md
Due: none

MGMT-4955 Update OCP default version 4.7.5 -> 4.7.6 (#1483)
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  default_ocp_versions.json
  onprem-environment
  openshift/template.yaml
Due: none

MGMT-4937 Events doc (#1484)
  docs/events.md
Due: none

OCPBUGSM-24075 - Fix spelling of `canceled` in both american and british
  docs/ClusterStatus.dot
  docs/HostStatus.dot
  internal/cluster/cluster.go
  internal/cluster/cluster_test.go
  internal/cluster/common.go
  internal/cluster/statemachine.go
  internal/cluster/transition_test.go
  internal/host/host_test.go
  internal/host/hostcommands/instruction_manager.go
  internal/host/hostcommands/instruction_manager_test.go
  internal/host/monitor.go
  internal/host/statemachine.go
  internal/host/transition_test.go
  models/cluster.go
  models/host.go
  pkg/leader/leaderelector.go
  restapi/embedded_spec.go
  site/ClusterStatus.dot
  site/HostStatus.dot
  subsystem/cluster_test.go
  swagger.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4981: crds and dependencies for custom version support
  cmd/main.go
  docs/crds/clusterImageSet.yaml
  hack/crds/hive.openshift.io_clusterimagesets.yaml
  internal/controller/config/rbac/role.yaml
  internal/controller/controllers/clusterdeployments_controller.go
  models/cluster.go
  models/cluster_create_params.go
  models/openshift_version.go
  restapi/embedded_spec.go
  swagger.yaml
  tools/handle_ocp_versions.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4638 Rename Group/Version to agent-install.openshift.io/v1beta1 (#1363)
  cmd/main.go
  cmd/operator/main.go
  config/crd/bases/assistedservice.openshift.io.openshift.io_assistedservices.yaml
  config/manifests/bases/assisted-service-operator.clusterserviceversion.yaml
  docs/Kube-API-examples.md
  docs/baremetal-agent-controller.md
  docs/crds/installEnv.yaml
  docs/crds/nmstate.yaml
  docs/operator.md
  internal/controller/api/v1beta1/agent_types.go
  internal/controller/api/v1beta1/agentserviceconfig_types.go
  internal/controller/api/v1beta1/groupversion_info.go
  internal/controller/api/v1beta1/installenv_types.go
  internal/controller/api/v1beta1/nmstate_config_types.go
  internal/controller/api/v1beta1/nmstate_util.go
  internal/controller/api/v1beta1/zz_generated.deepcopy.go
  internal/controller/config/crd/bases/agent-install.openshift.io_agents.yaml
  internal/controller/config/crd/bases/agent-install.openshift.io_agentserviceconfigs.yaml
  internal/controller/config/crd/bases/agent-install.openshift.io_installenvs.yaml
  internal/controller/config/crd/bases/agent-install.openshift.io_nmstateconfigs.yaml
  internal/controller/config/crd/kustomization.yaml
  internal/controller/config/crd/resources.yaml
  internal/controller/config/rbac/agentserviceconfig_editor_role.yaml
  internal/controller/config/rbac/agentserviceconfig_viewer_role.yaml
  internal/controller/config/rbac/role.yaml
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agent_controller_test.go
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/common.go
  internal/controller/controllers/controllers_suite_test.go
  internal/controller/controllers/crd_utils.go
  internal/controller/controllers/crd_utils_test.go
  internal/controller/controllers/installenv_controller.go
  internal/controller/controllers/installenv_controller_test.go
  subsystem/kubeapi_test.go
  subsystem/subsystem_suite_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-27561 Updating the host get to wrong boot order event to contain the disk name in addition to the disk installation path
  internal/host/transition.go
  internal/host/transition_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-27561 Updating the host get to wrong boot order event to contain the disk name in addition to the disk installation path (#1490)
  internal/host/transition.go
  internal/host/transition_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE Remove error log when iso template versions is missing
  pkg/s3wrapper/util.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4464 autogenerated
  go.mod
  go.sum
  internal/bminventory/mock_installer_internal.go
  internal/controller/config/crd/bases/agent-install.openshift.io_agents.yaml
  internal/controller/config/crd/resources.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4912, MGMT-4464 Support InstallerArgs customization - adding documentation
  docs/Kube-API-examples.md
Due: none

MGMT-4912 BACM support InstallerArgs configuration for the agent MGMT-4464 Support InstallerArgs customization
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/controller/api/v1beta1/agent_types.go
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/bmh_agent_controller.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4464 adding tests
  internal/controller/controllers/agent_controller_test.go
  internal/controller/controllers/bmh_agent_controller_test.go
  subsystem/kubeapi_test.go
  subsystem/subsystem_suite_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Igal/support installer args (#1494)
  docs/Kube-API-examples.md
  go.mod
  go.sum
  internal/bminventory/inventory.go
  internal/bminventory/inventory_test.go
  internal/bminventory/mock_installer_internal.go
  internal/controller/api/v1beta1/agent_types.go
  internal/controller/config/crd/bases/agent-install.openshift.io_agents.yaml
  internal/controller/config/crd/resources.yaml
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agent_controller_test.go
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
  subsystem/kubeapi_test.go
  subsystem/subsystem_suite_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-26455 - Change misleading message indicates we can support more than 3 masters
  internal/cluster/transition_test.go
  internal/cluster/validator.go
  internal/operators/ocs/validation_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE making subsystem for ignition override less flaky
  subsystem/kubeapi_test.go
Due: ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-27612 - Fix typo in dnsmasq description Fixing error message in GetIpForSingleNodeInstallation
  internal/network/machine_network_cidr.go
  internal/network/manifests_generator.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE improving doc for installer args override with crd flow
  docs/Kube-API-examples.md
Due: none

NO-ISSUE improving doc for installer args override with crd flow (#1503)
  docs/Kube-API-examples.md
Due: none

MGMT-4921 Rename InstallEnv --> InfraEnv
  cmd/main.go
  config/manifests/bases/assisted-service-operator.clusterserviceversion.yaml
  docs/Kube-API-examples.md
  docs/baremetal-agent-controller.md
  docs/crds/infraEnv.yaml
  internal/controller/api/v1beta1/infraenv_types.go
  internal/controller/api/v1beta1/zz_generated.deepcopy.go
  internal/controller/config/crd/bases/agent-install.openshift.io_infraenvs.yaml
  internal/controller/config/crd/kustomization.yaml
  internal/controller/config/crd/resources.yaml
  internal/controller/config/rbac/role.yaml
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/common.go
  internal/controller/controllers/controller_event_wrapper.go
  internal/controller/controllers/crd_events_handler.go
  internal/controller/controllers/infraenv_controller.go
  internal/controller/controllers/infraenv_controller_test.go
  internal/controller/controllers/mock_crd_events_handler.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE documents how to configure baremetal-operator to watch all namespaces
  docs/user-guide/assisted-service-on-openshift.md
Due: none

MGMT-4141: cluster controller: clear any APIErrors after successful update
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-26455 - Change misleading message indicates we can support more than 3 masters (#1487)
  internal/cluster/transition_test.go
  internal/cluster/validator.go
  internal/operators/ocs/validation_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE Remove error log when iso template versions is missing (#1497)
  pkg/s3wrapper/util.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Path conditions:
  ci/prow/e2e-metal-assisted: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-kube-api: any of: ^(internal/controller/.*)$
  ci/prow/images: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-kubeapi-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
