Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

ci/prow/e2e-metal-assisted:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-metal-assisted-kube-api:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/subsystem-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/subsystem-kubeapi-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

MGMT-5372 added scripts for operator installation (#1568)
  deploy/operator/deploy.sh
  deploy/operator/gather.sh
  deploy/operator/setup_assisted_operator.sh
  deploy/operator/setup_hive.sh
  deploy/operator/setup_lso.sh
  deploy/operator/utils.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5362: Add CapabilityReview to OCM's cache. (#1574)
  pkg/auth/rhsso_authenticator.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-28289 - Assisted installer fails to allocate VIPs Updated MinMachineMaskDelta to 4, it should allow /28 for machine network CIDR
  internal/network/cidr_validations.go
  internal/network/cidr_validations_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-24075 - fix events using English spelling canceled
  internal/cluster/cluster.go
  internal/cluster/cluster_test.go
  internal/host/host.go
  internal/host/host_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Mgmt 4967 Create a standard way to run a debugger on the service (#1576)
  Dockerfile.assisted-service-debug
  Makefile
  debug.md
  deploy/assisted-service.yaml
  skipper-mac.yaml
  tools/deploy_assisted_installer.py
  tools/deploy_inventory_service.py
  tools/deployment_options.py
  tools/wait_for_assisted_service.py
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-28353 Modified LSO Subscription manifest to use default channel (#1597)
  internal/operators/lso/ls_operator.go
  internal/operators/lso/manifest.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5323 cluster deployment manifests customizing cluster installation
  cmd/main.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/manifests/manifests.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5323 auto generated
  go.mod
  internal/controller/config/rbac/role.yaml
  internal/manifests/mock_manifests_internal.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5323 documentation
  docs/Kube-API.md
Due: none

MGMT-5323 tests
  internal/controller/controllers/clusterdeployments_controller_test.go
  internal/manifests/manifests_test.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE Remove unnecessary mock controller from service config test
  internal/controller/controllers/agentserviceconfig_controller_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: Adding debug info for failing validations subsystem tests. (#1605)
  subsystem/metrics_test.go
Due: ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE - Improve the docs example script for changing discovery ISO password (#1607)
  docs/set-discovery-password.md
Due: none

OCPBUGSM-28289 - Assisted installer fails to allocate VIPs (#1602)
  internal/network/cidr_validations.go
  internal/network/cidr_validations_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5373 filter events by category (#1569)
  client/events/list_events_parameters.go
  internal/cluster/cluster_test.go
  internal/controller/controllers/controller_event_wrapper.go
  internal/events/event.go
  internal/events/event_test.go
  internal/events/events_api.go
  internal/events/mock_event.go
  models/event.go
  restapi/embedded_spec.go
  restapi/operations/events/list_events_parameters.go
  restapi/operations/events/list_events_urlbuilder.go
  swagger.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5408 Fix kernel arg for dhcp in none-platform
  internal/host/hostcommands/install_cmd.go
  internal/host/hostcommands/install_cmd_test.go
  internal/network/machine_network_cidr.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5441 assisted-service should use oc client with ICSP support
  Dockerfile.assisted-service
Due: none

Igal/mgmt 5323 allow adding costum manifests (#1567)
  cmd/main.go
  docs/Kube-API.md
  go.mod
  internal/controller/config/rbac/role.yaml
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  internal/manifests/manifests.go
  internal/manifests/manifests_test.go
  internal/manifests/mock_manifests_internal.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5359 Fix comments from recent PR (https://github.com/openshift/assisted-service/pull/1573) (#1594)
  internal/cluster/cluster.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE Check that CD PullSecretRef is not nil
  internal/controller/controllers/clusterdeployments_controller.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-24075 - fix events using English spelling canceled (#1610)
  internal/cluster/cluster.go
  internal/cluster/cluster_test.go
  internal/host/host.go
  internal/host/host_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE enable providing SERVICE_BASE_URL in operator's installation
  deploy/operator/setup_assisted_operator.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4741 Use the ingress cert to ensure trusted https connections (#1537)
  internal/controller/controllers/agentserviceconfig_controller.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5408 Fix kernel arg for dhcp in none-platform (#1591)
  internal/host/hostcommands/install_cmd.go
  internal/host/hostcommands/install_cmd_test.go
  internal/network/machine_network_cidr.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5420 Always return 401 for local auth errors
  pkg/auth/local_authenticator.go
  pkg/auth/local_authenticator_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5441 assisted-service should use oc client with ICSP support (#1615)
  Dockerfile.assisted-service
Due: none

NO-ISSUE Check that CD PullSecretRef is not nil (#1616)
  internal/controller/controllers/clusterdeployments_controller.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-3700 Add dedicated subsystem tests for BMAC day0 (#1584)
  hack/crds/metal3.io_baremetalhosts.yaml
  internal/controller/controllers/bmh_agent_controller.go
  subsystem/cluster_test.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5216 Add detached annotation to hub BMH before creating spoke BMH (#1552)
  internal/controller/controllers/bmh_agent_controller.go
  internal/controller/controllers/bmh_agent_controller_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5408 Warning if day 2 host is dual stack
  internal/host/hostcommands/install_cmd.go
  internal/host/hostcommands/install_cmd_test.go
  internal/host/hostutil/host_utils.go
  internal/host/hostutil/host_utils_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-28374,OCPBUGSM-28418,OCPBUGSM-28414: fix host requirements for ocs
  internal/host/hostutil/test_utils.go
  internal/host/transition_test.go
  internal/operators/manager_test.go
  internal/operators/ocs/ocs_operator.go
  internal/operators/ocs/ocs_operator_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-28374,OCPBUGSM-28418,OCPBUGSM-28414: fix host requirements for ocs (#1596)
  internal/host/hostutil/test_utils.go
  internal/host/transition_test.go
  internal/operators/manager_test.go
  internal/operators/ocs/ocs_operator.go
  internal/operators/ocs/ocs_operator_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5408 Warning if day 2 host is dual stack (#1621)
  internal/host/hostcommands/install_cmd.go
  internal/host/hostcommands/install_cmd_test.go
  internal/host/hostutil/host_utils.go
  internal/host/hostutil/host_utils_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE Use correct validation ID for CNV host validation
  internal/operators/cnv/cnv_operator.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE Remove unnecessary mock controller from service config test (#1612)
  internal/controller/controllers/agentserviceconfig_controller_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

OCPBUGSM-28382: Accept cm annotation on ASC
  docs/operator.md
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/controller/controllers/agentserviceconfig_controller_test.go
  internal/controller/controllers/controllers_suite_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE enable providing SERVICE_BASE_URL in operator's installation (#1618)
  deploy/operator/setup_assisted_operator.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5248 - add configuration of mirror registry and its CA to AI deployment (#1563)
  Makefile
  deploy/assisted-service-configmap-registry-ca.yaml
  deploy/assisted-service.yaml
  tools/deploy_assisted_installer_configmap_registry_ca.py
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5281: Handle conflicts in CRDs status updates
  cmd/operator/main.go
  go.mod
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agentserviceconfig_controller.go
  internal/controller/controllers/agentserviceconfig_controller_test.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/crd_utils.go
  internal/controller/controllers/infraenv_controller.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5420 Always return 401 for local auth errors (#1622)
  pkg/auth/local_authenticator.go
  pkg/auth/local_authenticator_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Path conditions:
  ci/prow/e2e-metal-assisted: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-kube-api: any of: ^(internal/controller/.*)$
  ci/prow/images: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-kubeapi-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
