Repository openshift/assisted-service: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

ci/prow/e2e-metal-assisted:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-metal-assisted-kube-api:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/subsystem-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/subsystem-kubeapi-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

MGMT-4668: Generate OLM opeartor manifest to bootstrap ignition
  cmd/main.go
  internal/cluster/cluster.go
  internal/cluster/transition_test.go
  internal/host/transition_test.go
  internal/ignition/ignition_test.go
  internal/operators/api/api.go
  internal/operators/api/mock_operator_api.go
  internal/operators/builder.go
  internal/operators/builder_test.go
  internal/operators/cnv/cnv_operator.go
  internal/operators/cnv/manifest.go
  internal/operators/cnv/manifests_test.go
  internal/operators/lso/ls_operator.go
  internal/operators/lso/manifest.go
  internal/operators/lso/manifests_test.go
  internal/operators/manager.go
  internal/operators/manager_test.go
  internal/operators/ocs/manifest.go
  internal/operators/ocs/manifests_test.go
  internal/operators/ocs/ocs_operator.go
  internal/operators/ocs/validation_test.go
  restapi/embedded_spec.go
  restapi/operations/installer/download_cluster_files_parameters.go
  subsystem/operators_test.go
  swagger.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE Extend BMAC documentation (#1772)
  docs/baremetal-agent-controller.md
Due: none

NO-ISSUE: upgrade operator-sdk binary
  .gitignore
  Dockerfile.bundle
  deploy/olm-catalog/bundle.Dockerfile
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/olm-catalog/metadata/annotations.yaml
  hack/generate.sh
  hack/setup_env.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6022 - Hyperthreading support in AgentClusterInstall
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5255 Add events URL to CRD
  cmd/main.go
  config/crd/bases/extensions.hive.openshift.io_agentclusterinstalls.yaml
  config/crd/resources.yaml
  deploy/olm-catalog/manifests/extensions.hive.openshift.io_agentclusterinstalls.yaml
  docs/Kube-API.md
  internal/controller/api/hiveextension/v1beta1/agentclusterinstall_types.go
  internal/controller/api/hiveextension/v1beta1/zz_generated.deepcopy.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  restapi/embedded_spec.go
  subsystem/kubeapi_test.go
  swagger.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: Fixing doc typos (#1784)
  README.md
  docs/installer-stand-alone.md
Due: none

TEST-8888 Updating versions to latest releases
  config/manager/manager.yaml
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  data/default_ocp_versions.json
  onprem-environment
  openshift/template.yaml
Due: none

MGMT-6582 Updating versions to latest releases
  config/manager/manager.yaml
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  data/default_ocp_versions.json
  onprem-environment
  openshift/template.yaml
Due: none

MGMT-4668: Generate OLM opeartor manifest to bootstrap ignition (#1609)
  cmd/main.go
  internal/cluster/cluster.go
  internal/cluster/transition_test.go
  internal/host/transition_test.go
  internal/ignition/ignition_test.go
  internal/operators/api/api.go
  internal/operators/api/mock_operator_api.go
  internal/operators/builder.go
  internal/operators/builder_test.go
  internal/operators/cnv/cnv_operator.go
  internal/operators/cnv/manifest.go
  internal/operators/cnv/manifests_test.go
  internal/operators/lso/ls_operator.go
  internal/operators/lso/manifest.go
  internal/operators/lso/manifests_test.go
  internal/operators/manager.go
  internal/operators/manager_test.go
  internal/operators/ocs/manifest.go
  internal/operators/ocs/manifests_test.go
  internal/operators/ocs/ocs_operator.go
  internal/operators/ocs/validation_test.go
  restapi/embedded_spec.go
  restapi/operations/installer/download_cluster_files_parameters.go
  subsystem/operators_test.go
  swagger.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6585 Updating versions to latest releases
  config/manager/manager.yaml
  config/onprem-iso-fcc.yaml
  data/default_ocp_versions.json
  onprem-environment
  openshift/template.yaml
Due: none

MGMT-6413 fix installer-deployment-overview configmap, (indentation issue)
  dashboards/grafana-dashboard-assisted-installer-deployment-overview.configmap.yaml
Due: none

MGMT-6025 Enable day2 subsystem for kubeapi
  subsystem/kubeapi_test.go
Due: ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6577 Production logs are spammed on "Failed to determine installation path"
  internal/hardware/boot_device.go
  internal/host/host.go
  internal/host/hostcommands/disk_performance_cmd.go
  internal/host/hostcommands/install_cmd.go
  internal/host/hostcommands/instruction_manager.go
  internal/host/validator.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE perf test - setting db max connectio
  cmd/main.go
  pkg/commonutils/common_utils.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6576 - Bump 4.8 OCP to fc.5 (#1791)
  config/manager/manager.yaml
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  data/default_ocp_versions.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  onprem-environment
  openshift/template.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6410: Adding documentation for OCM integration.
  docs/ocm-integration.md
Due: none

MGMT-6584 Add host progress stages while waiting for control plane
  internal/host/host.go
  internal/host/transition_test.go
  models/host_stage.go
  restapi/embedded_spec.go
  swagger.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE perf test - setting db max connectio (#1799)
  cmd/main.go
  pkg/commonutils/common_utils.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5255 Add events URL to CRD (#1776)
  cmd/main.go
  config/crd/bases/extensions.hive.openshift.io_agentclusterinstalls.yaml
  config/crd/resources.yaml
  deploy/olm-catalog/manifests/extensions.hive.openshift.io_agentclusterinstalls.yaml
  docs/Kube-API.md
  internal/controller/api/hiveextension/v1beta1/agentclusterinstall_types.go
  internal/controller/api/hiveextension/v1beta1/zz_generated.deepcopy.go
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  restapi/embedded_spec.go
  subsystem/kubeapi_test.go
  swagger.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5274 Setup assisted operator ConfigMap
  deploy/operator/setup_assisted_operator.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6022 - Hyperthreading support in AgentClusterInstall (#1783)
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6413 fix installer-deployment-overview configmap, (indentation issue) (#1771)
  dashboards/grafana-dashboard-assisted-installer-deployment-overview.configmap.yaml
Due: none

MGMT-5274 Setup assisted operator ConfigMap (#1781)
  deploy/operator/setup_assisted_operator.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE: upgrade operator-sdk binary (#1790)
  .gitignore
  Dockerfile.bundle
  deploy/olm-catalog/bundle.Dockerfile
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  deploy/olm-catalog/metadata/annotations.yaml
  hack/generate.sh
  hack/setup_env.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6410: Adding documentation for OCM integration. (#1795)
  docs/ocm-integration.md
Due: none

MGMT-6025 Enable day2 subsystem for kubeapi (#1800)
  subsystem/kubeapi_test.go
Due: ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6014: Missing VIP values in SNO cluster In case of SNO cluster, set the api_vip and ingress_vip property in the backend upon starting the installation, and remove it upon reset.
  internal/cluster/transition.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6577 Production logs are spammed on "Failed to determine installation path" (#1796)
  internal/hardware/boot_device.go
  internal/host/host.go
  internal/host/hostcommands/disk_performance_cmd.go
  internal/host/hostcommands/install_cmd.go
  internal/host/hostcommands/instruction_manager.go
  internal/host/validator.go
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6584 Add host progress stages while waiting for control plane (#1797)
  internal/host/host.go
  internal/host/transition_test.go
  models/host_stage.go
  restapi/embedded_spec.go
  swagger.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Revert "MGMT-6576 - Bump 4.8 OCP to fc.5 (#1791)"
  config/manager/manager.yaml
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  data/default_ocp_versions.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  onprem-environment
  openshift/template.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE TEST CI
  subsystem/kubeapi_test.go
Due: ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Revert "MGMT-6576 - Bump 4.8 OCP to fc.5 (#1791)" (#1805)
  config/manager/manager.yaml
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  data/default_ocp_versions.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  onprem-environment
  openshift/template.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5255 KubeAPI Update event URL only once
  internal/controller/controllers/clusterdeployments_controller.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

NO-ISSUE WIP - just trying
  config/manager/manager.yaml
  config/onprem-iso-config.ign
  config/onprem-iso-fcc.yaml
  data/default_ocp_versions.json
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  onprem-environment
  openshift/template.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-5255 KubeAPI Update event URL only once (#1804)
  internal/controller/controllers/clusterdeployments_controller.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4261 Agent CR and ACI cleanup when deleting CD
  config/rbac/role.yaml
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-6562 Agent CRD Validated fails on pending-for-input
  docs/kube-api-conditions.md
  internal/controller/controllers/agent_controller.go
  internal/controller/controllers/agent_controller_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4261 Agent CR and ACI cleanup when deleting CD (#1606)
  config/rbac/role.yaml
  deploy/olm-catalog/manifests/assisted-service-operator.clusterserviceversion.yaml
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/clusterdeployments_controller_test.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

MGMT-4758 use InfraEnv namespace to create the Agent
  internal/controller/controllers/clusterdeployments_controller.go
  internal/controller/controllers/common.go
  internal/controller/controllers/crd_utils.go
  internal/controller/controllers/crd_utils_test.go
  subsystem/kubeapi_test.go
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/images, ci/prow/subsystem-aws, ci/prow/subsystem-kubeapi-aws

Path conditions:
  ci/prow/e2e-metal-assisted: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/e2e-metal-assisted-kube-api: any of: ^(internal/controller/.*)$
  ci/prow/images: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
  ci/prow/subsystem-kubeapi-aws: any of: ^(cmd/.*|deploy/.*|hack/.*|internal/.*|pkg/.*|tools/.*|subsystem/.*|Makefile|go\.mod|go\.sum|swagger.yaml)$
