Repository openshift/osd-example-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-binary-build-success, lint

e2e-binary-build-success:
  commands: 'make e2e-harness-build
  
    '
  container:
    from: src

lint:
  commands: 'export HOME=$(mktemp -d)
  
    export REPORT_DIR=/tmp/artifacts
  
    make lint
  
    '
  container:
    from: src

Boilerplate: Update to 889d74b4737a85a22407d69be4706d6c6ba63dcf
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/_lib/boilerplate-commit
  boilerplate/generated-includes.mk
  boilerplate/openshift/golang-osd-e2e/OWNERS
  boilerplate/openshift/golang-osd-e2e/README.md
  boilerplate/openshift/golang-osd-e2e/e2e-template.yml
  boilerplate/openshift/golang-osd-e2e/project.mk
  boilerplate/openshift/golang-osd-e2e/standard.mk
  boilerplate/openshift/golang-osd-e2e/update
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/build-opm-catalog.sh
  boilerplate/openshift/golang-osd-operator/prow-config
  boilerplate/openshift/golang-osd-operator/rvmo-bundle.sh
  boilerplate/openshift/golang-osd-operator/standard.mk
  boilerplate/openshift/golang-osd-operator/update
  boilerplate/update
  test/e2e/Dockerfile
  test/e2e/README.md
  test/e2e/e2e-template.yml
Due: lint

SDCICD-1612: rescaffold controller
  .ci-operator.yaml
  .github/dependabot.yml
  .gitignore
  Makefile
  OWNERS_ALIASES
  PROJECT
  api/v1alpha1/example_types.go
  api/v1alpha1/groupversion_info.go
  build/Dockerfile
  build/Dockerfile.olm-registry
  build/bin/entrypoint
  build/bin/user_setup
  config/manifests/bases/osd-example-operator.clusterserviceversion.yaml
  config/manifests/kustomization.yaml
  config/metadata/additional-labels.txt
  config/templates/csv-template.yaml
  controllers/suite_test.go
  deploy/crds/managed.openshift.io_examples.yaml
  deploy/rbac.yaml
  go.mod
  go.sum
  hack/boilerplate.go.txt
  hack/olm-registry/olm-artifacts-template.yaml
  hack/release-bundle/resources.yaml.gotmpl
  internal/controller/example_controller.go
  internal/controller/example_controller_test.go
  internal/controller/suite_test.go
  main.go
Due: e2e-binary-build-success, lint

boilerplate: swap e2e conventions
  boilerplate/update.cfg
Due: lint

config/templates/csv-template: set required annotations
  config/templates/csv-template.yaml
Due: lint

config/manifests: add back base CSV for konflux
  config/manifests/bases/osd-example-operator.clusterserviceversion.yaml
  config/manifests/kustomization.yaml
  config/metadata/additional-labels.txt
Due: lint

fix konflux config branch name from master to main
  .tekton/bundle-main-pull-request.yaml
  .tekton/bundle-main-push.yaml
  .tekton/catalog-main-pull-request.yaml
  .tekton/catalog-main-push.yaml
Due: none

update image
  deploy/argo-workflows/README.md
  deploy/argo-workflows/config/osde2e-int-config.yaml
  deploy/argo-workflows/config/osde2e-stage-config.yaml
  deploy/argo-workflows/deployment-workflow.yaml
  deploy/argo-workflows/setup-kubeconfig-secrets.sh
Due: lint

Add Argo Workflows deployment pipeline
  deploy/argo-workflows/README.md
  deploy/argo-workflows/config/osde2e-int-config.yaml
  deploy/argo-workflows/config/osde2e-stage-config.yaml
  deploy/argo-workflows/deployment-workflow.yaml
  deploy/argo-workflows/setup-kubeconfig-secrets.sh
Due: lint

run osde2e test
  deploy/argo-workflows/README.md
  deploy/argo-workflows/config/osde2e-int-config.yaml
  deploy/argo-workflows/config/osde2e-stage-config.yaml
  deploy/argo-workflows/deployment-workflow.yaml
  deploy/argo-workflows/osde2e-gate.yaml
  deploy/argo-workflows/rbac.yaml
  deploy/argo-workflows/run.sh
  deploy/argo-workflows/secrets.yaml
  deploy/argo-workflows/setup-kubeconfig-secrets.sh
  deploy/argo-workflows/setup.sh
  deploy/argo-workflows/verify-setup.sh
Due: lint

add scripts
  deploy/argo-workflows/README.md
  deploy/argo-workflows/fix-ui.sh
  deploy/argo-workflows/osde2e-gate.yaml
  deploy/argo-workflows/rbac.yaml
  deploy/argo-workflows/run.sh
  deploy/argo-workflows/setup.sh
Due: lint

Add dummy e2e test assertion
  go.mod
  test/e2e/osd_example_operator_tests.go
Due: e2e-binary-build-success, lint

change image
  deploy/argo-workflows/README.md
  deploy/argo-workflows/osde2e-gate.yaml
  deploy/argo-workflows/osde2e-workflow.yaml
  deploy/argo-workflows/rbac.yaml
  deploy/argo-workflows/run-standard-osde2e.sh
  deploy/argo-workflows/setup.sh
  deploy/argo-workflows/verify-setup.sh
Due: lint

attepting to resume e2e image publish konflux task
  .tekton/e2e-main-push.yaml
Due: none

attempting to resume e2e image publish konflux task
  .tekton/e2e-main-push.yaml
Due: none

Red Hat Konflux update e2e-main
  .tekton/e2e-main-pull-request.yaml
  .tekton/e2e-main-push.yaml
Due: none

change image
  deploy/argo-workflows/README.md
  deploy/argo-workflows/fix-ui.sh
  deploy/argo-workflows/osde2e-gate.yaml
  deploy/argo-workflows/osde2e-workflow.yaml
  deploy/argo-workflows/rbac.yaml
  deploy/argo-workflows/run.sh
  deploy/argo-workflows/secrets.yaml
  deploy/argo-workflows/setup.sh
  deploy/argo-workflows/ui.sh
  deploy/argo-workflows/verify-setup.sh
Due: lint

set Konflux flag to true to pick allowed image
  Makefile
Due: lint

update gitignore
  .gitignore
Due: none

bp update
  .ci-operator.yaml
  OWNERS_ALIASES
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-e2e/e2e-template.yml
  boilerplate/openshift/golang-osd-e2e/update
  boilerplate/openshift/golang-osd-operator/Dockerfile.olm-registry
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/update
  build/Dockerfile
  build/Dockerfile.olm-registry
  test/e2e/Dockerfile
  test/e2e/e2e-template.yml
Due: lint

Add S3 artifact repository
  deploy/argo-workflows/.gitignore
  deploy/argo-workflows/ARCHITECTURE-DEEP-DIVE.md
  deploy/argo-workflows/QUALITY-GATES.md
  deploy/argo-workflows/README.md
  deploy/argo-workflows/S3-ARTIFACT-SETUP.md
  deploy/argo-workflows/TROUBLESHOOTING.md
  deploy/argo-workflows/osde2e-workflow.yaml
  deploy/argo-workflows/run.sh
  deploy/argo-workflows/s3-artifact-config.yaml
  deploy/argo-workflows/secrets.yaml
  deploy/argo-workflows/setup-external-access.sh
  deploy/argo-workflows/setup-s3-artifacts.sh
  deploy/argo-workflows/setup.sh
  deploy/argo-workflows/ui.sh
  deploy/argo-workflows/verify-setup.sh
Due: lint

cleanup
  deploy/argo-workflows/README.md
  deploy/argo-workflows/S3-ARTIFACT-SETUP.md
  deploy/argo-workflows/TROUBLESHOOTING.md
  deploy/argo-workflows/osde2e-workflow.yaml
  deploy/argo-workflows/run.sh
  deploy/argo-workflows/setup-external-access.sh
  deploy/argo-workflows/setup-s3-artifacts.sh
  deploy/argo-workflows/setup.sh
  deploy/argo-workflows/ui.sh
Due: lint

Add multi-env workflow
  deploy/argo-workflows/MULTI-ENV-README.md
  deploy/argo-workflows/QUALITY-GATES.md
  deploy/argo-workflows/README.md
  deploy/argo-workflows/multi-env-osde2e-workflow.yaml
  deploy/argo-workflows/multi-env-run.sh
  deploy/argo-workflows/multi-env-setup.sh
  deploy/argo-workflows/osde2e-workflow.yaml
  deploy/argo-workflows/run.sh
  deploy/argo-workflows/secrets.yaml
Due: lint

shorten job name per k8s limits
  test/e2e/e2e-template.yml
Due: lint

remove konflux for operator build
  Makefile
Due: lint

updating konflux pipelines
  .tekton/bundle-main-pull-request.yaml
  .tekton/bundle-main-push.yaml
  .tekton/catalog-main-pull-request.yaml
  .tekton/catalog-main-push.yaml
  .tekton/osd-example-operator-e2e-pull-request.yaml
  .tekton/osd-example-operator-e2e-push.yaml
  .tekton/osd-example-operator-pull-request.yaml
  .tekton/osd-example-operator-push.yaml
Due: none

Red Hat Konflux purge e2e-main
  .tekton/e2e-main-pull-request.yaml
  .tekton/e2e-main-push.yaml
Due: none

Red Hat Konflux purge catalog-main
  .tekton/catalog-main-pull-request.yaml
  .tekton/catalog-main-push.yaml
Due: none

Red Hat Konflux purge bundle-main
  .tekton/bundle-main-pull-request.yaml
  .tekton/bundle-main-push.yaml
Due: none

Red Hat Konflux purge operator-main
  .tekton/operator-main-pull-request.yaml
  .tekton/operator-main-push.yaml
Due: none

update branch name to main
  .tekton/osd-example-operator-e2e-pull-request.yaml
  .tekton/osd-example-operator-e2e-push.yaml
  .tekton/osd-example-operator-pull-request.yaml
  .tekton/osd-example-operator-push.yaml
Due: none

Path conditions:
  e2e-binary-build-success: any of: ^(osde2e/.*|go\.mod|go\.sum)$
  lint: unless all of: ^(?:\.github|\.tekton)|\.md$|^(?:\.gitignore|OWNERS|LICENSE)$
