Repository openshift/osd-example-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-binary-build-success, lint

e2e-binary-build-success:
  commands: 'make e2e-harness-build
  
    '
  container:
    from: src

lint:
  commands: 'export HOME=$(mktemp -d)
  
    export REPORT_DIR=/tmp/artifacts
  
    make lint
  
    '
  container:
    from: src

.tekton/bundle*: drop optional params
  .tekton/bundle-main-pull-request.yaml
  .tekton/bundle-main-push.yaml
Due: none

build/Dockerfile: copy api and fips.go
  build/Dockerfile
Due: lint

build: add missing scripts
  .gitignore
  build/Dockerfile
  build/bin/entrypoint
  build/bin/user_setup
Due: lint

migrate to go.kubebuilder.io/v4
  PROJECT
  cmd/main.go
  internal/controllers/example_controller.go
  internal/controllers/suite_test.go
Due: lint

fixup! build: add missing scripts
  build/Dockerfile
Due: lint

THROWAWAY: patch bp go-build target
  boilerplate/openshift/golang-osd-operator/standard.mk
Due: lint

migrate to go.kubebuilder.io/v4
  PROJECT
  build/Dockerfile
  cmd/main.go
  internal/controllers/example_controller.go
  internal/controllers/suite_test.go
Due: lint

Remove MrSantamaria as OSDe2e owner
  OWNERS
Due: none

test pr check
  osde2e/README
Due: e2e-binary-build-success, lint

test pr check
  README.md
Due: none

make bp-update
  .ci-operator.yaml
  .tekton/OWNERS
  OWNERS_ALIASES
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/_lib/common.sh
  boilerplate/openshift/golang-osd-operator-osde2e/README.md
  boilerplate/openshift/golang-osd-operator-osde2e/e2e-harness-generate.sh
  boilerplate/openshift/golang-osd-operator-osde2e/standard.mk
  boilerplate/openshift/golang-osd-operator-osde2e/update
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/csv-generate/csv-generate.sh
  boilerplate/openshift/golang-osd-operator/dependabot.yml
  boilerplate/openshift/golang-osd-operator/prow-config
  boilerplate/openshift/golang-osd-operator/standard.mk
  boilerplate/openshift/golang-osd-operator/update
  boilerplate/update
  build/Dockerfile
  build/Dockerfile.olm-registry
  test/e2e/Dockerfile
  test/e2e/osd_example_operator_runner_test.go
  test/e2e/osd_example_operator_tests.go
  test/e2e/test-harness-template.yml
Due: lint

make container-validate
  api/v1alpha1/zz_generated.deepcopy.go
  deploy/crds/managed.openshift.io_examples.yaml
Due: lint

remove konflux for test
  Makefile
Due: lint

remove objects - fix main pipeline
  hack/olm-registry/olm-artifacts-template.yaml
Due: lint

test
  test-file.txt
Due: lint

bp-update
  .ci-operator.yaml
  OWNERS_ALIASES
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/_lib/boilerplate-commit
  boilerplate/_lib/common.sh
  boilerplate/_lib/freeze-check
  boilerplate/openshift/golang-osd-operator-osde2e/README.md
  boilerplate/openshift/golang-osd-operator-osde2e/e2e-harness-generate.sh
  boilerplate/openshift/golang-osd-operator-osde2e/standard.mk
  boilerplate/openshift/golang-osd-operator-osde2e/update
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/build-opm-catalog.sh
  boilerplate/openshift/golang-osd-operator/csv-generate/catalog-publish.sh
  boilerplate/openshift/golang-osd-operator/csv-generate/csv-generate.sh
  boilerplate/openshift/golang-osd-operator/dependabot.yml
  boilerplate/openshift/golang-osd-operator/ensure.sh
  boilerplate/openshift/golang-osd-operator/golangci.yml
  boilerplate/openshift/golang-osd-operator/prow-config
  boilerplate/openshift/golang-osd-operator/standard.mk
  boilerplate/openshift/golang-osd-operator/update
  boilerplate/update
  build/Dockerfile
  build/Dockerfile.olm-registry
  config/metadata/additional-labels.txt
  test/e2e/Dockerfile
  test/e2e/osd_example_operator_runner_test.go
  test/e2e/osd_example_operator_tests.go
  test/e2e/test-harness-template.yml
Due: lint

Konflux build pipeline service account migration for bundle-main Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/bundle-main-pull-request.yaml
  .tekton/bundle-main-push.yaml
Due: none

Konflux build pipeline service account migration for catalog-main Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/catalog-main-pull-request.yaml
  .tekton/catalog-main-push.yaml
Due: none

Konflux build pipeline service account migration for e2e-main Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/e2e-main-pull-request.yaml
  .tekton/e2e-main-push.yaml
Due: none

Konflux build pipeline service account migration for operator-main Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-main-pull-request.yaml
  .tekton/operator-main-push.yaml
Due: none

go mod update
  go.mod
  go.sum
Due: e2e-binary-build-success, lint

bp-update
  .ci-operator.yaml
  OWNERS_ALIASES
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator-osde2e/README.md
  boilerplate/openshift/golang-osd-operator-osde2e/standard.mk
  boilerplate/openshift/golang-osd-operator-osde2e/test-harness-template.yml
  boilerplate/openshift/golang-osd-operator-osde2e/update
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/README.md
  boilerplate/openshift/golang-osd-operator/ensure.sh
  boilerplate/openshift/golang-osd-operator/golangci.yml
  boilerplate/openshift/golang-osd-operator/standard.mk
  boilerplate/openshift/golang-osd-operator/update
  build/Dockerfile
  build/Dockerfile.olm-registry
  test/e2e/README.md
  test/e2e/test-harness-template.yml
Due: lint

fix version
  go.sum
Due: e2e-binary-build-success, lint

fix version
  go.mod
Due: e2e-binary-build-success, lint

dummy template to run job
  osde2e/dummy.yml
Due: e2e-binary-build-success, lint

Boilerplate: Update to ebfdd4a78a053ed97bdb21e846e9ec30d47e5fd2
  .ci-operator.yaml
  OWNERS_ALIASES
  boilerplate/_data/backing-image-tag
  boilerplate/_data/last-boilerplate-commit
  boilerplate/openshift/golang-osd-operator-osde2e/README.md
  boilerplate/openshift/golang-osd-operator-osde2e/standard.mk
  boilerplate/openshift/golang-osd-operator-osde2e/test-harness-template.yml
  boilerplate/openshift/golang-osd-operator-osde2e/update
  boilerplate/openshift/golang-osd-operator/OWNERS_ALIASES
  boilerplate/openshift/golang-osd-operator/README.md
  boilerplate/openshift/golang-osd-operator/ensure.sh
  boilerplate/openshift/golang-osd-operator/golangci.yml
  boilerplate/openshift/golang-osd-operator/standard.mk
  boilerplate/openshift/golang-osd-operator/update
  build/Dockerfile
  build/Dockerfile.olm-registry
  test/e2e/README.md
  test/e2e/test-harness-template.yml
Due: lint

mark params as not required
  hack/olm-registry/olm-artifacts-template.yaml
Due: lint

.tekton/*: point to pipeline bundle
  .tekton/e2e-main-pull-request.yaml
  .tekton/e2e-main-push.yaml
  .tekton/operator-main-pull-request.yaml
  .tekton/operator-main-push.yaml
Due: none

bump ginkgo/gomega
  go.mod
  go.sum
Due: e2e-binary-build-success, lint

go mod tidy
  go.mod
  go.sum
Due: e2e-binary-build-success, lint

.tekton/catalog*: branch is main not master
  .tekton/catalog-main-pull-request.yaml
  .tekton/catalog-main-push.yaml
Due: none

Update github.com/golang/groupcache digest to 2c02b82
  go.mod
Due: e2e-binary-build-success, lint

Update github.com/google/pprof digest to c008609
  go.mod
Due: e2e-binary-build-success, lint

Update golang.org/x/exp digest to ce4c2cf
  go.mod
Due: e2e-binary-build-success, lint

Update k8s.io/kube-openapi digest to c8a335a
  go.mod
Due: e2e-binary-build-success, lint

test commit
  README.md
Due: none

Red Hat Konflux update operator-main Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/operator-main-pull-request.yaml
  .tekton/operator-main-push.yaml
Due: none

.tekton: reconfigure pipelines
  .tekton/operator-main-pull-request.yaml
  .tekton/operator-main-push.yaml
  renovate.json
Due: lint

Path conditions:
  e2e-binary-build-success: any of: ^(osde2e/.*|go\.mod|go\.sum)$
  lint: unless all of: ^(?:\.github|\.tekton)|\.md$|^(?:\.gitignore|OWNERS|LICENSE)$
