Repository openshift/osd-example-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-binary-build-success, lint

e2e-binary-build-success:
  commands: 'make e2e-harness-build
  
    '
  container:
    from: src

lint:
  commands: 'export HOME=$(mktemp -d)
  
    export REPORT_DIR=/tmp/artifacts
  
    make lint
  
    '
  container:
    from: src

add test file
  test-file.txt
Due: lint

.tekton/*: sbom-json-check deprecation
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
  .tekton/catalog-pull-request.yaml
  .tekton/catalog-push.yaml
  .tekton/e2e-pull-request.yaml
  .tekton/e2e-push.yaml
  .tekton/operator-pull-request.yaml
  .tekton/operator-push.yaml
Due: none

chore(deps): update operator to f86f430
  deploy/operator.yaml
Due: lint

chore(deps): update bundle to 42322fa
  .tekton/catalog-pull-request.yaml
  .tekton/catalog-push.yaml
Due: none

config/manifests: add feature annotations
  config/manifests/bases/osd-example-operator.clusterserviceversion.yaml
Due: lint

chore(deps): update bundle to 5977a74
  .tekton/catalog-pull-request.yaml
  .tekton/catalog-push.yaml
Due: none

config/*: remove containerImage and add additional labels
  config/manifests/bases/osd-example-operator.clusterserviceversion.yaml
  config/metadata/additional-labels.txt
Due: lint

chore(deps): update bundle to 7a57e42
  .tekton/catalog-pull-request.yaml
  .tekton/catalog-push.yaml
Due: none

config/metadata: set sample labels
  config/metadata/additional-labels.txt
Due: lint

.tekton/bundle*: on changed for config/metadata
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
Due: none

chore(deps): update bundle to 088fa34
  .tekton/catalog-pull-request.yaml
  .tekton/catalog-push.yaml
Due: none

Test pr
  test
Due: lint

chore(deps): update operator to 5f66fa2
  deploy/operator.yaml
Due: lint

.tekton/bundle*: set additional-labels-file
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
Due: none

config/metadata: fix vendor value
  config/metadata/additional-labels.txt
Due: lint

misc: trigger rebuild of operator
  .tekton/operator-pull-request.yaml
  .tekton/operator-push.yaml
  go.mod
  go.sum
  main.go
Due: e2e-binary-build-success, lint

chore(deps): update operator to 99be3d5
  deploy/operator.yaml
Due: lint

deploy/: set release image
  deploy/operator.yaml
Due: lint

deploy: retrigger bundle build
  deploy/operator.yaml
Due: lint

.tekton/bundle*: remove java param
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
Due: none

.tekton/bundle*: rm ecosystem-cert-preflight-checks task
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
Due: none

.tekton/bundle*: use git-commit results to build version
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
Due: none

.tekton/bundle*: add back required tasks
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
Due: none

.tekton/bundle*: don't skip-checks
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
Due: none

chore(deps): update bundle to 38b4faa
  .tekton/catalog-pull-request.yaml
  .tekton/catalog-push.yaml
Due: none

DNM: testing blunderbuss disabling
  README.md
Due: none

Test
  test.txt
Due: lint

Red Hat Konflux update bundle2 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/bundle2-pull-request.yaml
  .tekton/bundle2-push.yaml
Due: none

misc: migrate from "testoperator" -> "example"
  api/v1alpha1/example_types.go
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/default/kustomization.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/default/manager_config_patch.yaml
  config/templates/csv-template.yaml
  controllers/example_controller.go
  deploy/crds/cache.example.com_testoperators.yaml
  deploy/crds/managed.openshift.io_examples.yaml
  deploy/operator.yaml
  deploy/service_account.yaml
Due: lint

chore(deps): update operator to ca8adca
  deploy/operator.yaml
Due: lint

misc: onboard onto konflux - prereqs
  PROJECT
  config/manifests/bases/osd-example-operator.clusterserviceversion.yaml
  config/manifests/kustomization.yaml
  config/metadata/additional-labels.txt
  test-file.txt
Due: lint

Red Hat Konflux purge e2e Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/e2e-pull-request.yaml
  .tekton/e2e-push.yaml
Due: none

Path conditions:
  e2e-binary-build-success: any of: ^(osde2e/.*|go\.mod|go\.sum)$
  lint: unless all of: ^(?:\.github|\.tekton)|\.md$|^(?:\.gitignore|OWNERS|LICENSE)$
