Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Path conditions:
  openshift-oldest-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/gke-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-postgres-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  ci/prow/ocp-4-10-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-10-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-12-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-12-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)

chore(log): Add more context to clusterinit bundle errors (#8245)
  central/clusterinit/backend/backend_impl.go
  central/clusterinit/backend/backend_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

add maple to changes in sensor listeners
  .github/CODEOWNERS
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

WIP: testing diagnostic with timeout
  central/debug/service/service.go
  sensor/kubernetes/telemetry/command_handler.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

code review updates
  sensor/common/registry/tlscheck.go
  sensor/common/registry/tlscheck_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

update generated
  pkg/registrymirror/mocks/store.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

call hash reconciler on sync events
  sensor/common/sensor/central_communication.go
  sensor/common/sensor/central_communication_impl.go
  sensor/common/sensor/central_communication_test.go
  sensor/common/sensor/central_sender.go
  sensor/common/sensor/central_sender_impl.go
  sensor/common/sensor/sensor.go
  sensor/common/store/mocks/types.go
  sensor/common/store/types.go
  sensor/kubernetes/sensor/sensor.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-20289: RBAC store reconcile (#8254)
  sensor/kubernetes/listener/resources/hash_reconciliation.go
  sensor/kubernetes/listener/resources/hash_reconciliation_test.go
  sensor/kubernetes/listener/resources/rbac/namespaced_binding.go
  sensor/kubernetes/listener/resources/rbac/store_impl.go
  sensor/kubernetes/listener/resources/rbac/store_impl_test.go
  sensor/kubernetes/listener/resources/store_provider.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-20316: Add conditional RBAC for ShowAdministrationUsage
  ui/apps/platform/src/Containers/SystemHealth/DashboardPage.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

update otel dependencies
  operator/tools/go.mod
  operator/tools/go.sum
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

pr comments
  pkg/registries/ecr/ecr.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

propagate error
  central/debug/service/service.go
  pkg/postgres/stats/stats.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

fix(tests): Ignore intermittent error in Sensor k8s library (#8248)
  scripts/ci/logcheck/allowlist-patterns
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Fixed CI issues
  migrator/migrations/m_192_to_m_193_report_config_migrations/migration_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

fix(test): Fix upgrade test by allowing Sensor restart
  scripts/ci/logcheck/restart-ok-patterns.json
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

ROX-20317: Add CodeBlockCode for administration event message
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventHintMessage.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Reduce code duplication
  central/cluster/datastore/datastore_impl.go
  central/namespace/datastore/datastore.go
  central/reports/common/query_builder_test.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl_test.go
  central/role/service/service_impl_test.go
  central/sac/authorizer/builtin_scoped_authorizer_test.go
  pkg/sac/effectiveaccessscope/test_datasets.go
  pkg/sac/effectiveaccessscope/types.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Refactor
  central/notifiers/awssh/notifier.go
  central/notifiers/email/email.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Updates to AWSSecurityHub notifier for creds
  central/notifiers/awssh/notifier.go
  central/notifiers/email/email.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Update error messages
  central/notifiers/awssh/notifier.go
  central/notifiers/email/email.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Remove key checks
  central/notifiers/awssh/notifier.go
  central/notifiers/email/email.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Fix shell scripts to pass shellcheck linter
  deploy/openshift/deploy-local.sh
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Disbale v1 reporting api in 4.3 (#8193)
  central/main.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

nits
  central/convert/storagetov2/vuln_exception_service.go
  central/convert/v2tostorage/vuln_exception_service.go
  central/vulnerabilityrequest/datastore/datastore_impl_test.go
  central/vulnerabilityrequest/manager/requestmgr/manager.go
  central/vulnerabilityrequest/manager/requestmgr/manager_impl.go
  central/vulnerabilityrequest/service/v2/service_impl.go
  generated/api/v1/vuln_req_service.swagger.json
  generated/storage/vuln_requests.pb.go
  proto/storage/vuln_requests.proto
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

First
  .github/workflows/update-vulnerabilties.yaml
  scanner/updater/version/RELEASE_VERSION
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Update pkg/postgres/stats/stats.go
  pkg/postgres/stats/stats.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

ROX-20316: Add conditional RBAC for ShowAdministrationUsage (#8264)
  ui/apps/platform/src/Containers/SystemHealth/DashboardPage.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

ROX-20303: Fix image integration hostname mismatch (#8239)
  CHANGELOG.md
  pkg/registries/docker/docker.go
  pkg/registries/docker/docker_test.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Add ability to defer CVEs in VM 2.0 deferral form
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/CompletedExceptionRequestModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/DeferralForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/ExceptionRequestModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/utils.ts
  ui/apps/platform/src/services/VulnerabilityExceptionService.ts
  ui/apps/platform/src/services/VulnerabilityRequestsService.ts
  ui/apps/platform/src/types/vuln_request.proto.ts
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

style
  central/vulnerabilityrequest/datastore/datastore_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-20078: Multi-arch handling in DeploymentTest for ppc64le (#8209)
  qa-tests-backend/src/test/groovy/DeploymentTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-20317: Add CodeBlockCode for administration event message (#8265)
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventHintMessage.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

ROX-20246: Update and cancel vuln exception v2 service (#8244)
  central/convert/storagetov2/vuln_exception_service.go
  central/convert/testutils/vuln_exception.go
  central/convert/testutils/vuln_request.go
  central/convert/v2tostorage/vuln_exception_service.go
  central/vulnerabilityrequest/common/types.go
  central/vulnerabilityrequest/datastore/datastore.go
  central/vulnerabilityrequest/datastore/datastore_impl.go
  central/vulnerabilityrequest/datastore/datastore_impl_test.go
  central/vulnerabilityrequest/datastore/mocks/datastore.go
  central/vulnerabilityrequest/manager/requestmgr/manager.go
  central/vulnerabilityrequest/manager/requestmgr/manager_impl.go
  central/vulnerabilityrequest/manager/requestmgr/mocks/manager.go
  central/vulnerabilityrequest/service/v2/service_impl.go
  central/vulnerabilityrequest/validator/validate.go
  central/vulnerabilityrequest/validator/validator_test.go
  generated/api/v1/vuln_req_service.swagger.json
  generated/api/v2/vuln_exception_service.pb.go
  generated/storage/vuln_requests.pb.go
  proto/api/v2/vuln_exception_service.proto
  proto/storage/vuln_requests.proto
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests
