Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: gke-qa-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-compliance-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests, ci/prow/ocp-4-20-ui-e2e-tests

Path conditions:
  gke-qa-e2e-tests: unless all of: ^ui/
  gke-sensor-integration-tests: any of: ^sensor/
  gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  gke-scanner-v4-install-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|operator|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  merge-gke-nongroovy-compatibility-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests: unless all of: ^ui/
  ci/prow/gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-scanner-v4-install-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|operator|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/gke-sensor-integration-tests: any of: ^sensor/
  ci/prow/ocp-4-12-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-12-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-12-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-12-scanner-v4-install-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|operator|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-4-20-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-20-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-20-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-20-scanner-v4-install-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|operator|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-4-20-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)

scanner -> 2.39.9
  SCANNER_VERSION
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

scanner -> 2.38.11
  SCANNER_VERSION
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

ROX-35285: remove SHA-1 sub-benchmark from fingerprint test
  pkg/cryptoutils/fingerprint_test.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

ROX-35285: remove MD5 and SHA-1 from checksum reader test matrix
  pkg/ioutils/checksum_reader_test.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

ROX-35285: allow reconcile_tls_test.go in large files list
  tools/allowed-large-files
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

ROX-35285: regenerate test client cert with 2048-bit RSA key
  pkg/metrics/testdata/client.crt
  pkg/metrics/testdata/client.key
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

ROX-35285: wrap GORM naming strategy SHA-1 with fips140.WithoutEnforcement
  pkg/postgres/pgutils/naming.go
  pkg/postgres/pgutils/utils.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

ROX-35285: wrap third-party tests with fips140.WithoutEnforcement
  compliance/node/index/main_test.go
  pkg/scanners/clairv4/main_test.go
  pkg/scannerv4/mappers/main_test.go
  roxctl/netpol/connectivity/diff/main_test.go
  roxctl/netpol/connectivity/map/main_test.go
  scanner/datastore/postgres/main_test.go
  scanner/e2etests/main_test.go
  scanner/enricher/csaf/main_test.go
  scanner/enricher/fixedby/main_test.go
  scanner/enricher/nvd/main_test.go
  scanner/indexer/main_test.go
  scanner/matcher/updater/vuln/main_test.go
  scanner/sbom/main_test.go
  scanner/services/main_test.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-compliance-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests

ROX-35285: fix sort order in allowed-large-files
  tools/allowed-large-files
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

Convert helpers to TS
  ui/apps/platform/cypress/helpers/nav.ts
  ui/apps/platform/cypress/helpers/visit.js
  ui/apps/platform/cypress/integration/policies/Policies.helpers.ts
  ui/apps/platform/cypress/integration/policies/Policies.selectors.ts
Due: ci/prow/ocp-4-20-ui-e2e-tests

ROX-35285: alias os import to avoid roxvet shadowing conflict
  pkg/scanners/clairv4/main_test.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

test(e2e): add reachability precondition for decoy bundle URL
  tests/redhat_signing_key_test.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

test(e2e): add offline mode test for signing keys
  tests/redhat_signing_key_test.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

ROX-32912: Enable VEX not-affected filtering by default (#21416)
  pkg/features/list.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-ui-e2e-tests

ROX-35300: Raise cert-watcher CPU limit to fix throttling (#21410)
  image/templates/helm/shared/templates/_cert-watcher.tpl
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests

chore(release): bump scanner version to 2.40.2 (#21371)
  SCANNER_VERSION
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

fix(ci): remove stale logcheck patterns and update BYODB job regex (#21253)
  scripts/ci/logcheck/check-restart-logs_test.bats
  scripts/ci/logcheck/restart-ok-patterns.json
  scripts/ci/logcheck/test_fixtures/ebpf-collector-previous.log
  scripts/ci/logcheck/test_fixtures/exception-collector-previous.log
  scripts/ci/logcheck/test_fixtures/kernel-collector-previous.log
  scripts/ci/logcheck/test_fixtures/other-process-previous.log
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests

Update pkg/grpc/server.go
  pkg/grpc/server.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

ROX-35285: fix code review findings from cfssl removal
  central/metadata/service/service_impl_test.go
  pkg/x509utils/pem.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-ui-e2e-tests

chore: bump collector and fact for 4.11.1 (#21413)
  COLLECTOR_VERSION
  FACT_VERSION
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

fix(grpc): address PR review comments on serve error messages
  pkg/grpc/server.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

add CEL and CustomRule status fields to compliance rule protos
  generated/api/v2/compliance_common.pb.go
  generated/api/v2/compliance_common_vtproto.pb.go
  generated/api/v2/compliance_profile_service.swagger.json
  generated/api/v2/compliance_rule_service.swagger.json
  generated/internalapi/central/compliance_operator.pb.go
  generated/internalapi/central/compliance_operator_vtproto.pb.go
  generated/internalapi/central/v1/token_service.pb.go
  generated/storage/compliance_operator_v2.pb.go
  generated/storage/compliance_operator_v2_vtproto.pb.go
  proto/api/v2/compliance_common.proto
  proto/internalapi/central/compliance_operator.proto
  proto/storage/compliance_operator_v2.proto
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests, ci/prow/ocp-4-20-ui-e2e-tests

populate CEL and CustomRule status fields in sensor dispatchers
  sensor/kubernetes/complianceoperator/dispatchers/complianceoperatorcustomrules.go
  sensor/kubernetes/complianceoperator/dispatchers/complianceoperatorcustomrules_test.go
  sensor/kubernetes/complianceoperator/dispatchers/complianceoperatorrules.go
  sensor/kubernetes/complianceoperator/dispatchers/complianceoperatorrules_test.go
  sensor/kubernetes/complianceoperator/dispatchers/convert_util.go
Due: gke-qa-e2e-tests, gke-sensor-integration-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

pass through CEL and CustomRule status fields in converters
  central/convert/internaltov2storage/compliance_rule.go
  central/convert/internaltov2storage/compliance_rule_test.go
  central/convert/storagetov2/compliance_rule_service.go
  central/convert/storagetov2/compliance_rule_service_test.go
  central/convert/testutils/compliance_rules.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

fix(test): add workflow-level process wait, simplify Cypress check
  .github/workflows/ui-e2e.yaml
  ui/apps/platform/cypress/integration/risk/Risk.helpers.js
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-20-ui-e2e-tests

fix review findings: add missing ParentRule to fixture, add Next tag comment
  central/convert/testutils/compliance_rules.go
  generated/api/v2/compliance_common.pb.go
  generated/api/v2/compliance_profile_service.swagger.json
  generated/api/v2/compliance_rule_service.swagger.json
  proto/api/v2/compliance_common.proto
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests, ci/prow/ocp-4-20-ui-e2e-tests

fix(e2e): retry reachability check for service endpoint propagation
  tests/redhat_signing_key_test.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

bump compliance-operator from v1.8.2 to v1.9.0
  go.mod
  go.sum
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

fix e2e test for CO v1.9.0: CustomRulePayload merged into RulePayload
  tests/compliance_operator_v2_test.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

ci: use compile-time godebug fips140=auto per golang-fips recommendation
  go.mod
  image/rhel/konflux.Dockerfile
  image/roxctl/konflux.Dockerfile
  operator/konflux.Dockerfile
  scanner/image/scanner/konflux.Dockerfile
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests

ci: use fips140=on instead of auto
  go.mod
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

ci: use fips140=only to reject non-FIPS algorithms at compile time
  go.mod
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

Update CHANGELOG with permission requirement for metrics
  CHANGELOG.md
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

ci: use fips140=on at compile time, reserve only for test discovery
  go.mod
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

Update changelog for ROX-35181 with global permission
  CHANGELOG.md
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

Update .github/contributing.md
  .github/contributing.md
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

ci: support GHA images in FIPS check-payload via image-prefix input
  .github/workflows/fips.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

ROX-35285: restore CRS cert profile with 24h default validity
  pkg/mtls/crypto.go
  pkg/mtls/issue_options.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

build: centralize FIPS settings in Makefile and go-tool.sh
  make/env.mk
  scripts/go-tool.sh
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests
