Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: shell-unit-tests, gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-4-12-ebpf-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-compliance-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-next-candidate-scanner-v4-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-compliance-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests, ci/prow/ocp-stable-scanner-v4-tests, ci/prow/ocp-stable-ui-e2e-tests, ci/prow/shell-unit-tests, ci/prow/ui-component-tests

shell-unit-tests:
  steps:
    test:
    - ref: stackrox-initial

gke-qa-e2e-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job
  timeout: 5h0m0s

gke-ui-e2e-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job
  timeout: 5h0m0s

gke-nongroovy-e2e-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

gke-sensor-integration-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

gke-operator-e2e-tests:
  optional: true
  steps:
    workflow: stackrox-stackrox-e2e-job
  timeout: 5h0m0s

gke-upgrade-tests:
  optional: true
  steps:
    workflow: stackrox-stackrox-e2e-job

merge-gke-operator-e2e-tests:
  postsubmit: true
  steps:
    workflow: stackrox-stackrox-e2e-job
  timeout: 5h0m0s

merge-gke-qa-e2e-tests:
  postsubmit: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job
  timeout: 5h0m0s

merge-gke-nongroovy-e2e-tests:
  postsubmit: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

merge-gke-sensor-integration-tests:
  postsubmit: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

merge-gke-upgrade-tests:
  postsubmit: true
  steps:
    workflow: stackrox-stackrox-e2e-job

merge-gke-version-compatibility-tests:
  postsubmit: true
  steps:
    workflow: stackrox-stackrox-e2e-job

branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
      - --report-credentials-file=/etc/report/credentials
  ...

ci/prow/gke-operator-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-qa-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-scanner-v4-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

a nightly update script
  .openshift-ci/nightlies.sh
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/shell-unit-tests

match *.x tags for nightly prefix
  .openshift-ci/nightlies.sh
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/shell-unit-tests

Update SCANNER_VERSION
  SCANNER_VERSION
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

rebased
  central/reports/scheduler/v2/reportgenerator/report_gen_impl.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Fixed tests
  central/reports/scheduler/v2/reportgenerator/report_gen_impl.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl_flat_data_model_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Fixed comments
  central/image/service/test_deferred_cves.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl_flat_data_model_test.go
  pkg/features/list.go
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests, ci/prow/ocp-stable-ui-e2e-tests

Added large pagination limit to sql query
  central/reports/scheduler/v2/reportgenerator/consts.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl.go
  pkg/features/list.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

Fixed comments
  central/reports/scheduler/v2/reportgenerator/consts.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl.go
  pkg/env/vulnerability_management.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

paginate select query and build cve responses list
  central/reports/scheduler/v2/reportgenerator/consts.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

remove file
  central/image/service/test_deferred_cves.go
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-ui-e2e-tests

chore(CI): only use quay.io/stackrox-io/apollo-ci images for CI (#17563)
  scale/signatures/deploy.yaml
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

update comment
  .tekton/main-pipeline.yaml
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

paginate select query and build cve responses list (#17290)
  central/reports/scheduler/v2/reportgenerator/report_gen_impl.go
  pkg/env/vulnerability_management.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

fix style
  ui/apps/platform/src/Containers/Integrations/utils/tableColumnDescriptor.ts
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-ui-e2e-tests, ci/prow/ui-component-tests

chore(ai): improve AI agents execution of testify unit tests (#17580)
  AGENTS.md
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

master-base/gualvare/vm-relay-split-relay-go: restacked on master-base/gualvare/vm-relay-extract-handle-vsock-connection
  branches/master-base/gualvare/vm-relay-split-relay-go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Extract vsock server creation to newVsockServer()
  compliance/virtualmachines/relay/relay.go
  compliance/virtualmachines/relay/relay_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-next-candidate-compliance-e2e-tests, ci/prow/ocp-stable-compliance-e2e-tests

Combine sem acquire/release in test
  compliance/virtualmachines/relay/relay_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-next-candidate-compliance-e2e-tests, ci/prow/ocp-stable-compliance-e2e-tests

Add basic test
  compliance/virtualmachines/relay/relay_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-next-candidate-compliance-e2e-tests, ci/prow/ocp-stable-compliance-e2e-tests

Increase VsockConnectionsAccepted right after accepting connection
  compliance/virtualmachines/relay/relay.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-next-candidate-compliance-e2e-tests, ci/prow/ocp-stable-compliance-e2e-tests

ROX-31241: Add semaphore-based limit of concurrent vsock connections
  compliance/virtualmachines/relay/metrics/metrics.go
  compliance/virtualmachines/relay/relay.go
  pkg/env/virtualmachine.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-compliance-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-compliance-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

Add missing parentheses in debug log
  compliance/virtualmachines/relay/relay.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-next-candidate-compliance-e2e-tests, ci/prow/ocp-stable-compliance-e2e-tests

Acquire semaphore after accepting connections
  compliance/virtualmachines/relay/relay.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-next-candidate-compliance-e2e-tests, ci/prow/ocp-stable-compliance-e2e-tests

Track all failures to acquire conn-handling semaphore
  compliance/virtualmachines/relay/metrics/metrics.go
  compliance/virtualmachines/relay/relay.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-next-candidate-compliance-e2e-tests, ci/prow/ocp-stable-compliance-e2e-tests

Revert "Acquire the semaphore in the connection-handling goroutine"
  compliance/virtualmachines/relay/relay.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-next-candidate-compliance-e2e-tests, ci/prow/ocp-stable-compliance-e2e-tests

rate-limit semaphore acquisition failure timeout
  compliance/virtualmachines/relay/relay.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-next-candidate-compliance-e2e-tests, ci/prow/ocp-stable-compliance-e2e-tests

Acquire the semaphore in the connection-handling goroutine
  compliance/virtualmachines/relay/relay.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-next-candidate-compliance-e2e-tests, ci/prow/ocp-stable-compliance-e2e-tests

Check ctx cancellation to prevent tight loop
  compliance/virtualmachines/relay/relay.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-next-candidate-compliance-e2e-tests, ci/prow/ocp-stable-compliance-e2e-tests

Change too many concurrent connections log to debug
  compliance/virtualmachines/relay/relay.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-next-candidate-compliance-e2e-tests, ci/prow/ocp-stable-compliance-e2e-tests

Use errors.Wrap instead of multierror
  compliance/virtualmachines/relay/relay.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-next-candidate-compliance-e2e-tests, ci/prow/ocp-stable-compliance-e2e-tests

rename maxSemaphoreWaitTime to semaphoreTimeout
  compliance/virtualmachines/relay/relay.go
  compliance/virtualmachines/relay/relay_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-next-candidate-compliance-e2e-tests, ci/prow/ocp-stable-compliance-e2e-tests

Shadow outer err variable
  compliance/virtualmachines/relay/relay.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-next-candidate-compliance-e2e-tests, ci/prow/ocp-stable-compliance-e2e-tests

Remove upper limit to MAX_CONCURRENT_VSOCK_CONNECTIONS
  pkg/env/virtualmachine.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

Make semaphore timeout configurable
  compliance/virtualmachines/relay/relay.go
  pkg/env/virtualmachine.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-compliance-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-compliance-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

master-base/gualvare/relay-concurrency-control: restacked on master
  branches/master-base/gualvare/relay-concurrency-control
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Reduce semaphore timeout to 5 seconds
  pkg/env/virtualmachine.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

master-base/gualvare/vm-relay-vsock-server-interface: restacked on master-base/gualvare/relay-concurrency-control
  branches/master-base/gualvare/vm-relay-vsock-server-interface
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

master-base/gualvare/vm-relay-extract-handle-vsock-connection: restacked on master-base/gualvare/vm-relay-vsock-server-interface
  branches/master-base/gualvare/vm-relay-extract-handle-vsock-connection
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

interrupted: restack branch master-base/gualvare/vm-relay-split-relay-go
  rebase-continue
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Path conditions:
  shell-unit-tests: any of: (\\.sh|\\.bat)$
  gke-qa-e2e-tests: unless all of: ^ui/
  gke-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service)/
  gke-nongroovy-e2e-tests: unless all of: ^ui/
  gke-sensor-integration-tests: unless all of: ^ui/
  gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  gke-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  merge-gke-operator-e2e-tests: unless all of: ^ui/
  merge-gke-qa-e2e-tests: unless all of: ^ui/
  merge-gke-nongroovy-e2e-tests: unless all of: ^ui/
  merge-gke-sensor-integration-tests: unless all of: ^ui/
  merge-gke-upgrade-tests: unless all of: ^ui/
  merge-gke-version-compatibility-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests: unless all of: ^ui/
  ci/prow/gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-scanner-v4-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/gke-sensor-integration-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)/
  ci/prow/ocp-4-12-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-12-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  ci/prow/ocp-4-12-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-12-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-12-scanner-v4-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-4-12-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)/
  ci/prow/ocp-next-candidate-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-next-candidate-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-next-candidate-scanner-v4-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-next-candidate-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)/
  ci/prow/ocp-stable-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-stable-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-stable-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-stable-scanner-v4-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-stable-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)/
  ci/prow/shell-unit-tests: any of: ((\.sh)|(\.bat))$
  ci/prow/ui-component-tests: any of: ^ui/
