Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Path conditions:
  openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/gke-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-upgrade-tests: any of: ^(migrator/|^image/)
  ci/prow/openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)

Revert "ROX-13819: Recreate groups bucket (#4068)" (#4091)
  migrator/migrations/m_112_to_m_113_recreate_groups_bucket/migration.go
  migrator/migrations/m_112_to_m_113_recreate_groups_bucket/migration_test.go
  migrator/runner/all.go
  pkg/migrations/internal/seq_num.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

CI: Fix version compat test
  qa-tests-backend/scripts/run-compatibility.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Add deployments to Network Graph filter
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/DeploymentSelector.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/NamespaceSelector.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/NetworkBreadcrumbs.tsx
  ui/apps/platform/src/hooks/useFetchClusterNamespaces.ts
  ui/apps/platform/src/hooks/useFetchNamespaceDeployments.ts
  ui/apps/platform/src/services/NetworkService.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

style for the style gods
  scripts/ci/create-webhookserver.sh
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

CI: Fix version compat test (#4092)
  qa-tests-backend/scripts/run-compatibility.sh
  scripts/ci/create-webhookserver.sh
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

hide telemetry options in UI
  operator/apis/platform/v1alpha1/central_types.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/pkg/central/values/translation/translation_test.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Jv update collector version to use falco for processes listening on ports (#4089)
  COLLECTOR_VERSION
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-13830: Upgrade redoc library to fix disappearing menu (#4075)
  ui/apps/platform/package.json
  ui/yarn.lock
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Dashrews/ROX-13243 do not copy databases if no migrations are to run (#3979)
  migrator/clone/clone_test.go
  migrator/clone/postgres/db_clone_manager_impl.go
  migrator/clone/postgres/db_clone_manager_impl_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

drop default value
  operator/apis/platform/v1alpha1/central_types.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

ROX-11752: Add SAC tests for ImageCVEEdge objects
  central/imagecveedge/datastore/datastore_sac_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-13593: Add telemetry options to central Helm chart (#4030)
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml
  image/templates/helm/stackrox-central/values-public.yaml.example.htpl
  image/templates/helm/stackrox-central/values.yaml.htpl
  pkg/helm/charts/tests/centralservices/testdata/helmtest/telemetry.test.yaml
  pkg/renderer/helm_values.go
  pkg/renderer/templater.go
  roxctl/central/generate/generate.go
  roxctl/central/generate/k8s.go
  roxctl/helm/derivelocalvalues/derivelocalvalues.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Add PLOP insert tests
  central/processlisteningonport/datastore/datastore_impl_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Fix old network graph e2e tests
  ui/apps/platform/src/sagas/networkSagas.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

ROX-13805: Add check-style to GHA (#2916)
  .github/actions/cache-go-dependencies/action.yaml
  .github/actions/cache-gradle-dependencies/action.yaml
  .github/actions/cache-ui-dependencies/action.yaml
  .github/workflows/style.yaml
  .golangci.yml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Add more verbose dev docs.
  central/processlisteningonport/README.md
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Gavo woz ere!
  generated/api/v1/alert_service.pb.go
  generated/api/v1/alert_service.swagger.json
  proto/api/v1/alert_service.proto
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

X-Smart-Squash: Squashed 9 commits:
  central/processlisteningonport/service/service_impl.go
  central/processlisteningonport/store/postgres/store.go
  generated/api/v1/process_listening_on_port_service.swagger.json
  generated/storage/process_listening_on_port.pb.go
  proto/storage/process_listening_on_port.proto
  qa-tests-backend/src/test/groovy/ProcessesListeningOnPortsTest.groovy
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

initial
  .github/CODEOWNERS
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

pkg postgres
  .github/CODEOWNERS
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

comment
  .github/CODEOWNERS
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Move helpers into same subfolder as Vulnerability Management Reporting integration tests
  ui/apps/platform/cypress/constants/VulnManagementPage.js
  ui/apps/platform/cypress/helpers/vulnmanagement/reporting.js
  ui/apps/platform/cypress/integration/vulnmanagement/reporting/displayReports.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/reporting/manageReports.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/reporting/reporting.helpers.js
  ui/apps/platform/cypress/integration/vulnmanagement/reporting/reportingForm.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/reporting/reportingTable.test.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

set db
  tests/e2e/run-e2e-tests.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-13746: Add Deployments to Network Graph filter (#4093)
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/ClusterSelector.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/DeploymentSelector.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/NamespaceSelector.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/NetworkBreadcrumbs.tsx
  ui/apps/platform/src/hooks/useFetchClusterNamespaces.ts
  ui/apps/platform/src/hooks/useFetchNamespaceDeployments.ts
  ui/apps/platform/src/sagas/networkSagas.js
  ui/apps/platform/src/services/NetworkService.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Docs update for release 3.71.3-rc.1
  .gitmodules
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Fix typo conntains pseudo-selector
  ui/apps/platform/cypress/integration/vulnmanagement/reporting/reportingTable.test.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests
