Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Path conditions:
  openshift-oldest-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/gke-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-postgres-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  ci/prow/ocp-4-10-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-10-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-12-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-12-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)

style
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Add logs to investigate backend behaviour
  central/cluster/datastore/datastore_impl.go
  central/graphql/resolvers/clusters.go
  central/graphql/resolvers/deployments.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-11462: Allow graceful stop on `pkg/grpc` (#6602)
  central/main.go
  pkg/grpc/endpoints.go
  pkg/grpc/server.go
  pkg/grpc/server_test.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

ROX-18085 Upgrade helm operator version
  go.mod
  go.sum
  scanner/go.mod
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

add service-ca.crt to the rootCAs pool
  pkg/notifiers/generic/generic.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Update TLSChallenge error messages for clarity.
  central/metadata/service/service_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

remove .openshift-ci/nightlies.sh
  .openshift-ci/nightlies.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Add Cypress tests for workload cve image single page
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.selectors.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageSingle.test.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/SeverityCountLabels.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

rox-11796-define-timeout-for-commands
  roxctl/central/debug/dump.go
  roxctl/central/initbundles/constants.go
  roxctl/central/initbundles/fetch_ca.go
  roxctl/central/initbundles/generate.go
  roxctl/central/initbundles/initbundles.go
  roxctl/central/initbundles/list.go
  roxctl/central/initbundles/revoke.go
  roxctl/cluster/cluster.go
  roxctl/collector/supportpackages/upload/command.go
  roxctl/collector/supportpackages/upload/upload.go
  roxctl/common/flags/timeout.go
  roxctl/deployment/deployment.go
  roxctl/helm/derivelocalvalues/command.go
  roxctl/helm/derivelocalvalues/command_test.go
  roxctl/helm/derivelocalvalues/derivelocalvalues.go
  roxctl/scanner/scanner.go
  roxctl/scanner/uploaddb/uploaddb.go
  roxctl/sensor/sensor.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Fix test + retrieval of timeout flag value.
  roxctl/common/flags/timeout.go
  roxctl/scanner/uploaddb/uploaddb_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Even better message.
  central/metadata/service/service_impl.go
  central/metadata/service/service_impl_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Collateral comment fix
  pkg/errox/roxerror.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

ROX-18065: Avoid permission crash on Deployment Overview page (#6698)
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Deployment/VulnMgmtDeploymentOverview.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

ROX-7046: check edge with external sources in NetworkFlowTest (#5822)
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-17320: [offline v1] AlertHandler is now connection aware (#6630)
  sensor/admission-control/alerts/sender_test.go
  sensor/common/admissioncontroller/alert_handler.go
  sensor/common/admissioncontroller/alert_handler_test.go
  sensor/common/admissioncontroller/management_service.go
  sensor/common/admissioncontroller/management_service_test.go
  sensor/common/admissioncontroller/mocks/alert_handler.go
  sensor/common/admissioncontroller/singleton.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

adjust calls
  central/graphql/resolvers/deployments.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

migrations test had conflicts merge by hand
  migrator/migrations/m_105_to_m_106_group_id/migration.go
  migrator/migrations/n_56_to_n_57_postgres_groups/legacy/store.go
  migrator/migrations/n_56_to_n_57_postgres_groups/legacy/store_impl.go
  migrator/migrations/n_56_to_n_57_postgres_groups/migration_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

ROX-11796, ROX-16835, ROX-17416: Fix timeouts for roxctl (#6620)
  roxctl/central/debug/dump.go
  roxctl/central/initbundles/constants.go
  roxctl/central/initbundles/fetch_ca.go
  roxctl/central/initbundles/generate.go
  roxctl/central/initbundles/initbundles.go
  roxctl/central/initbundles/list.go
  roxctl/central/initbundles/revoke.go
  roxctl/cluster/cluster.go
  roxctl/collector/supportpackages/upload/command.go
  roxctl/collector/supportpackages/upload/upload.go
  roxctl/common/flags/timeout.go
  roxctl/deployment/deployment.go
  roxctl/helm/derivelocalvalues/command.go
  roxctl/helm/derivelocalvalues/command_test.go
  roxctl/helm/derivelocalvalues/derivelocalvalues.go
  roxctl/scanner/scanner.go
  roxctl/scanner/uploaddb/uploaddb.go
  roxctl/scanner/uploaddb/uploaddb_test.go
  roxctl/sensor/sensor.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

missed a file
  migrator/migrations/n_56_to_n_57_postgres_groups/legacy/serialize.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

Better data
  central/graphql/resolvers/deployments.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

more traces
  central/cluster/datastore/datastore_impl.go
  central/graphql/resolvers/clusters.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Add a test.
  central/metadata/service/service_impl_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

fix-scanner-generate-command
  roxctl/scanner/generate/generate.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-17329: Kubernetes Listener: offline mode (#6376)
  sensor/common/admissioncontroller/message_forwarder.go
  sensor/common/sensor/sensor.go
  sensor/kubernetes/eventpipeline/pipeline.go
  sensor/kubernetes/eventpipeline/pipeline_impl.go
  sensor/kubernetes/listener/listener_impl.go
  sensor/tests/connection/connection_test.go
  sensor/tests/connection/k8sreconciliation/reconcile_test.go
  sensor/tests/connection/k8sreconciliation/yaml/nginx.yaml
  sensor/tests/connection/k8sreconciliation/yaml/nginx2.yaml
  sensor/tests/helper/helper.go
  sensor/tests/resource/pod/pod_test.go
  sensor/tests/resource/role/role_test.go
  sensor/tests/resource/service/service_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

refactor: Delete unused dackbox code (#6708)
  migrator/dackboxhelper/singleton.go
  pkg/dackbox/cached_search.go
  pkg/dackbox/graph/testutils/graph.go
  pkg/dackbox/keys/pair.go
  pkg/dackbox/keys/transformation/transformations.go
  pkg/dackbox/keys/transformation/transformations_test.go
  pkg/dackbox/path.go
  pkg/dackbox/path_test.go
  pkg/dackbox/raw/singleton.go
  pkg/dackbox/searcher.go
  pkg/dackbox/tests/cached_search_test.go
  pkg/derivedfields/counter/graph_based_counter.go
  pkg/derivedfields/counter/graph_based_counter_bench_test.go
  pkg/derivedfields/counter/graph_based_counter_test.go
  pkg/derivedfields/counter/type.go
  pkg/rocksdb/instance/singleton.go
  pkg/search/compound/build.go
  pkg/search/compound/build_test.go
  pkg/search/compound/condense.go
  pkg/search/compound/condense_test.go
  pkg/search/compound/execute.go
  pkg/search/compound/execute_test.go
  pkg/search/compound/result_set.go
  pkg/search/compound/result_set_test.go
  pkg/search/compound/searcher.go
  pkg/search/compound/sort.go
  pkg/search/compound/sort_test.go
  pkg/search/compound/spec.go
  pkg/search/compound/transform.go
  pkg/search/compound/transform_test.go
  pkg/search/derivedfields/searcher.go
  pkg/search/filtered/edge_filter.go
  pkg/search/filtered/global_sac_filter.go
  pkg/search/filtered/sac_filter.go
  pkg/search/filtered/scoped_sac_filter.go
  pkg/search/filtered/searcher.go
  pkg/search/filtered/searcher_test.go
  pkg/search/scoped/searcher.go
  pkg/search/scoped/searcher_test.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Proof of concept: make migrator and central cross compilable
  central/globaldb/postgres_test.go
  central/globaldb/v2backuprestore/formats/roxdbv1/bolt.go
  central/globaldb/v2backuprestore/formats/roxdbv1/file.go
  central/globaldb/v2backuprestore/formats/roxdbv1/format.go
  central/globaldb/v2backuprestore/formats/roxdbv1/rocks.go
  migrator/main.go
  migrator/runner/all.go
  migrator/runner/all_rocksdb.go
  migrator/runner/version.go
  migrator/runner/version_amd64.go
  migrator/types/databases.go
  migrator/types/databases_amd64.go
  migrator/types/migration.go
  migrator/upgrade.go
  migrator/upgrade_amd64.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

rm log
  central/globaldb/postgres_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

flag
  migrator/runner/version_amd64.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

imports
  migrator/upgrade_amd64.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

fix runner test
  migrator/runner/all_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

style
  tools/roxvet/analyzers/validateimports/analyzer.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

fixed
  central/globaldb/v2backuprestore/formats/roxdbv1/file.go
  migrator/runner/all_test.go
  migrator/runner/version_amd64.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

work around missing bold db
  migrator/migrations/n_08_to_n_09_postgres_auth_providers/migration.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests
