Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: shell-unit-tests, gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-ebpf-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-ebpf-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-4-12-ebpf-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-4-15-compliance-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests, ci/prow/ocp-4-15-scanner-v4-tests, ci/prow/ocp-4-15-ui-e2e-tests, ci/prow/shell-unit-tests, ci/prow/ui-component-tests

Path conditions:
  shell-unit-tests: any of: (\\.sh|\\.bat)$
  gke-qa-e2e-tests: unless all of: ^ui/
  gke-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service)/
  gke-nongroovy-e2e-tests: unless all of: ^ui/
  gke-sensor-integration-tests: unless all of: ^ui/
  gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  gke-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  merge-gke-operator-e2e-tests: unless all of: ^ui/
  merge-gke-qa-e2e-tests: unless all of: ^ui/
  merge-gke-nongroovy-e2e-tests: unless all of: ^ui/
  merge-gke-sensor-integration-tests: unless all of: ^ui/
  merge-gke-upgrade-tests: unless all of: ^ui/
  merge-gke-version-compatibility-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-ocp-4-11-merge-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  branch-ci-stackrox-stackrox-master-ocp-4-11-merge-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-ocp-4-14-merge-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  branch-ci-stackrox-stackrox-master-ocp-4-14-merge-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-scanner-v4-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/gke-sensor-integration-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)/
  ci/prow/ocp-4-12-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-12-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  ci/prow/ocp-4-12-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-12-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-12-scanner-v4-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-4-12-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)/
  ci/prow/ocp-4-15-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-15-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-15-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-15-scanner-v4-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-4-15-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)/
  ci/prow/shell-unit-tests: any of: ((\.sh)|(\.bat))$
  ci/prow/ui-component-tests: any of: ^ui/

Point to CC fork for fixed scanners
  go.mod
  go.sum
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Introduce central pipeline for Node Index Report processing
  central/sensor/service/pipeline/all/factory.go
  central/sensor/service/pipeline/nodeindex/pipeline.go
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-4-15-ui-e2e-tests

Initialize indexReportWraps channel, add logs, add updated mock
  sensor/common/compliance/mocks/service.go
  sensor/common/compliance/node_inventory_handler_impl.go
  sensor/common/compliance/service.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Fix import cycle, add key to sensor deduper
  pkg/deduperkey/key.go
  sensor/common/compliance/index/interfaces.go
  sensor/common/compliance/mocks/service.go
  sensor/common/compliance/node_inventory_handler.go
  sensor/common/compliance/node_inventory_handler_impl.go
  sensor/common/compliance/node_inventory_handler_test.go
  sensor/common/compliance/service.go
  sensor/common/compliance/service_impl.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests

Connect incoming and outgoing Sensor components
  generated/internalapi/central/sensor_events.pb.go
  generated/internalapi/central/sensor_events_vtproto.pb.go
  proto/internalapi/central/sensor_events.proto
  sensor/common/compliance/node_inventory_handler.go
  sensor/common/compliance/node_inventory_handler_impl.go
  sensor/common/compliance/service.go
  sensor/common/compliance/service_impl.go
  sensor/kubernetes/sensor/sensor.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests, ci/prow/ocp-4-15-scanner-v4-tests

Tidy dependencies
  go.mod
  go.sum
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Switch to uber gomock
  scanner/indexer/indexer_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-15-scanner-v4-tests

fix(KONFLUX-3663): format Tekton PipelineRun files
  .tekton/basic-component-pipeline.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

fix(KONFLUX-3663): upload SAST results to quay.io
  .tekton/basic-component-pipeline.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

ROX-11587: Prevent port 0 from being used as a server (#12332)
  pkg/netutil/ephemeral_port.go
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/networkflow/manager/manager_impl_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests

Fix unit tests
  central/graphql/resolvers/node_components_postgres_test.go
  central/graphql/resolvers/node_vulnerabilities_postgres_test.go
  central/graphql/resolvers/test_utils.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Move to latest master claircore
  go.mod
  go.sum
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Upload SAST results
  .tekton/basic-component-pipeline.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

fix(ui): microtask useURLParameter fix (#12282)
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ClusterDetailsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileChecksPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileClustersPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedDeferrals.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedFalsePositives.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/DeniedRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/PendingRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/NodeCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/NodeCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/ClusterPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/PlatformCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/PlatformCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/NamespaceView/NamespaceViewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/DeploymentsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/hooks/useURLPagination.test.tsx
  ui/apps/platform/src/hooks/useURLParameter.test.tsx
  ui/apps/platform/src/hooks/useURLParameter.ts
  ui/apps/platform/src/hooks/useURLSort.test.js
  ui/apps/platform/src/hooks/useURLStringUnion.test.tsx
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-4-15-ui-e2e-tests, ci/prow/ui-component-tests

Remove unused SAToken namespace function from satoken package
  pkg/satoken/load.go
  pkg/satoken/paths.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests

Remove SAToken namespace usage in GetPodNamespace
  pkg/pods/namespace.go
  sensor/kubernetes/clusterhealth/updater.go
  sensor/kubernetes/sensor/sensor.go
  sensor/kubernetes/upgrade/command_handler_impl.go
  sensor/kubernetes/upgrade/deployment.go
  sensor/kubernetes/upgrade/process.go
  sensor/upgrader/bundle/dynamic_objects.go
  sensor/upgrader/common/namespaces.go
  sensor/upgrader/common/shared_objects.go
  sensor/upgrader/config/config.go
  sensor/upgrader/preflight/namespace.go
  sensor/upgrader/snapshot/snapshot.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests

Add POD_NAMESPACE to admission-controller.yaml
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller.yaml
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests, ci/prow/ocp-4-15-scanner-v4-tests

Fix style (?)
  pkg/pods/namespace.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests

Remove SAToken namespace usage from admission-control
  sensor/admission-control/main.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Make comment more verbose
  pkg/pods/namespace.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests

Remove remaining pods.NoSATokennamespace uses
  sensor/kubernetes/upgrade/deployment.go
  sensor/upgrader/preflight/namespace.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

ROX-23846: Failed policy enforcement fix in config mgmt (#12390)
  ui/apps/platform/src/Containers/ConfigManagement/Entity/widgets/FailedPoliciesAcrossDeployment.js
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-4-15-ui-e2e-tests, ci/prow/ui-component-tests

wait up to 5 minutes for prefetch metrics api
  scripts/ci/lib.sh
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests, ci/prow/ocp-4-15-scanner-v4-tests, ci/prow/shell-unit-tests

backport from follow-up PR
  tests/scripts/launch-upgrader-test.sh
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/shell-unit-tests

tab->spaces
  tests/scripts/launch-upgrader-test.sh
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/shell-unit-tests

Fix CVE-2024-41110
  SCANNER_VERSION
  go.mod
  go.sum
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests

ROX-25748: Workload CVE a11y fixes (#12416)
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ImageNameLink.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/VulnerabilityStateTabs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/AdvancedFiltersToolbar.tsx
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-4-15-ui-e2e-tests, ci/prow/ui-component-tests

Update docker dep to the latest version
  go.mod
  go.sum
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Bump oras to 1.2.5
  go.mod
  go.sum
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

operator-sdk -> kubebuilder
  config-controller/.gitignore
  config-controller/Makefile
  config-controller/PROJECT
  config-controller/README.md
  config-controller/api/v1alpha1/groupversion_info.go
  config-controller/api/v1alpha1/policy_types.go
  config-controller/cmd/main.go
  config-controller/config/crd/bases/config.stackrox.io_policies.yaml
  config-controller/config/crd/kustomization.yaml
  config-controller/config/crd/kustomizeconfig.yaml
  config-controller/config/default/kustomization.yaml
  config-controller/config/default/manager_metrics_patch.yaml
  config-controller/config/default/metrics_service.yaml
  config-controller/config/manager/kustomization.yaml
  config-controller/config/manager/manager.yaml
  config-controller/config/rbac/kustomization.yaml
  config-controller/config/rbac/leader_election_role.yaml
  config-controller/config/rbac/leader_election_role_binding.yaml
  config-controller/config/rbac/metrics_auth_role.yaml
  config-controller/config/rbac/metrics_auth_role_binding.yaml
  config-controller/config/rbac/metrics_reader_role.yaml
  config-controller/config/rbac/policy_editor_role.yaml
  config-controller/config/rbac/policy_viewer_role.yaml
  config-controller/config/rbac/role_binding.yaml
  config-controller/config/rbac/service_account.yaml
  config-controller/internal/controller/policy_controller_test.go
  config-controller/internal/controller/suite_test.go
  config-controller/test/utils/utils.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Bump oras to 1.2.5 and update docker deps
  go.mod
  go.sum
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests
