Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

openshift-oldest-operator-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.8'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

openshift-newest-operator-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.11'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

ci/prow/gke-nongroovy-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-postgres-qa-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-postgres-ui-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-qa-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-ui-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-upgrade-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/openshift-newest-operator-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

Network graph: PF polish bugs (#4637)
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/Topology.css
  ui/apps/platform/src/Containers/NetworkGraph/components/EdgeStateSelect.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Use unique name for collection and report in E2E
  qa-tests-backend/src/main/groovy/services/CollectionsService.groovy
  qa-tests-backend/src/main/groovy/services/VulnReportService.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Cleanup in reverse order
  qa-tests-backend/src/test/groovy/VulnReportingTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Set the position and height of search modal using javascript
  ui/apps/platform/src/Containers/Search/SearchModal.js
  ui/apps/platform/src/app.tw.css
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Use unique name for collection and report in E2E (#4639)
  qa-tests-backend/src/main/groovy/services/CollectionsService.groovy
  qa-tests-backend/src/main/groovy/services/VulnReportService.groovy
  qa-tests-backend/src/test/groovy/VulnReportingTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-14670: Remove shadow number on Policy Wizard steps (#4636)
  ui/apps/platform/src/css/trumps.css
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

ROX-13489: add automated tests for Clair v4 integration (#4517)
  qa-tests-backend/scripts/lib.sh
  qa-tests-backend/scripts/run-part-1.sh
  qa-tests-backend/src/main/groovy/objects/ImageIntegration.groovy
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
  scripts/ci/clair/README.md
  scripts/ci/clairv4/.gitignore
  scripts/ci/clairv4/Dockerfile
  scripts/ci/clairv4/README.md
  scripts/ci/clairv4/clairv4-kubernetes.yaml
  scripts/ci/clairv4/config.yaml
  scripts/ci/clairv4/deploy.sh
  scripts/ci/clairv4/teardown.sh
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Collection Regex Error Message
  central/resourcecollection/datastore/datastore_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-13754: Trim fields in Policy Wizard form before dryrun and save (#4632)
  ui/apps/platform/src/Containers/Policies/policies.utils.ts
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Set min width for new network drawer (#4633)
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.css
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentDetails.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

ROX-14619: fix metadata retrieval errors in scan time test (#4635)
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Fix vuln report using collections migration
  migrator/migrations/m_171_to_m_172_move_scope_to_collection_in_report_configurations/migration.go
  migrator/migrations/m_171_to_m_172_move_scope_to_collection_in_report_configurations/migration_test.go
  migrator/migrations/m_171_to_m_172_move_scope_to_collection_in_report_configurations/reportConfigurationPostgresStore/postgres_plugin.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

cleanup
  migrator/migrations/m_171_to_m_172_move_scope_to_collection_in_report_configurations/migration.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

comments
  migrator/migrations/m_171_to_m_172_move_scope_to_collection_in_report_configurations/migration.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

move the eventPipeline's queue size initialization to CreateOptions (#4569)
  pkg/env/sensor.go
  sensor/kubernetes/eventpipeline/pipeline.go
  sensor/kubernetes/eventpipeline/resolver/resolver.go
  sensor/kubernetes/eventpipeline/resolver/resolver_test.go
  sensor/kubernetes/sensor/options.go
  sensor/kubernetes/sensor/sensor.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Mitigate panic on compliance monitoring port
  compliance/collection/main.go
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

ROX-13799: Mitigate panic of compliance monitoring port clashing with collector (#4647)
  compliance/collection/main.go
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

ROX-14631: Stackrox branded images on GHA (#4537)
  .github/workflows/build.yaml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Address PR comments
  migrator/migrations/m_171_to_m_172_move_scope_to_collection_in_report_configurations/migration.go
  migrator/migrations/m_171_to_m_172_move_scope_to_collection_in_report_configurations/migration_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

Extend Enricher to accept NodeInventory as a second parameter
  central/imageintegration/service/service_impl_test.go
  central/sensor/service/pipeline/nodeinventory/pipeline.go
  go.mod
  go.sum
  pkg/nodes/enricher/enricher.go
  pkg/nodes/enricher/enricher_impl.go
  pkg/nodes/enricher/enricher_impl_test.go
  pkg/nodes/enricher/mocks/enricher.go
  pkg/scanners/clairify/clairify.go
  pkg/scanners/clairify/convert.go
  pkg/scanners/clairify/convert_test.go
  pkg/scanners/types/types.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Add imageScanServiceClient to clairify node scanner
  pkg/scanners/clairify/clairify.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Add comments explaining the data race between the pipelines
  central/sensor/service/pipeline/nodeinventory/pipeline.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Fixes and tmp changes: - convertNodeToVulnRequest when inventory is nil - use scanner from branch - addd debug logging
  pkg/scanners/clairify/clairify.go
  pkg/scanners/clairify/convert.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Bump scanner version and dependency
  go.mod
  go.sum
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Update Scanner dep from master
  go.mod
  go.sum
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Rename import to riskManager
  central/sensor/service/pipeline/nodeinventory/pipeline.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Fix typo
  central/sensor/service/pipeline/nodeinventory/pipeline.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Path conditions:
  openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/gke-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-upgrade-tests: any of: ^(migrator/|^image/)
  ci/prow/openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
