Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: gke-qa-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-4-12-ebpf-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-compliance-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-next-candidate-scanner-v4-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-compliance-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests, ci/prow/ocp-stable-scanner-v4-tests, ci/prow/ocp-stable-ui-e2e-tests, ci/prow/shell-unit-tests, ci/prow/ui-component-tests

gke-qa-e2e-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

gke-sensor-integration-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

gke-operator-e2e-tests:
  optional: true
  steps:
    workflow: stackrox-stackrox-e2e-job

gke-scanner-v4-install-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

merge-gke-nongroovy-compatibility-tests:
  postsubmit: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
      - --report-credentials-file=/etc/report/credentials
  ...

ci/prow/gke-operator-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-qa-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-scanner-v4-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-sensor-integration-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-ui-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

update generated file whitespace to make CI happy
  generated/internalapi/central/v1/token_service.pb.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

added feature flag usage
  central/policy/service/validator.go
  central/policy/service/validator_test.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-ui-e2e-tests

update generated files
  generated/api/v1/alert_service.swagger.json
  generated/api/v1/detection_service.swagger.json
  generated/api/v1/policy_service.swagger.json
  generated/internalapi/central/v1/token_service.pb.go
  generated/storage/scope.pb.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

ROX-32883: Implement concurrent lane (#18788)
  pkg/safe/channel.go
  pkg/safe/channel_test.go
  pkg/safe/errors.go
  sensor/common/pubsub/lane/blocking.go
  sensor/common/pubsub/lane/blocking_test.go
  sensor/common/pubsub/lane/concurrent.go
  sensor/common/pubsub/lane/concurrent_test.go
  sensor/common/pubsub/metrics/metrics.go
  sensor/kubernetes/sensor/sensor.go
Due: gke-qa-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

Add metrics tracking to BufferedConsumer
  sensor/common/pubsub/consumer/buffered.go
  sensor/common/pubsub/consumer/buffered_test.go
Due: gke-qa-e2e-tests, gke-sensor-integration-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Implement error propagation for BufferedConsumer callback errors
  sensor/common/pubsub/consumer/buffered.go
Due: gke-qa-e2e-tests, gke-sensor-integration-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Add unit tests for BufferedConsumer
  sensor/common/pubsub/consumer/buffered_test.go
Due: gke-qa-e2e-tests, gke-sensor-integration-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Implement BufferedConsumer with non-blocking cancellation logic
  sensor/common/pubsub/consumer/buffered.go
Due: gke-qa-e2e-tests, gke-sensor-integration-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

fix SafeChannel references after the rebase
  sensor/common/pubsub/consumer/buffered.go
  sensor/common/pubsub/consumer/buffered_test.go
Due: gke-qa-e2e-tests, gke-sensor-integration-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

sourcery review Remove unncessary goroutine Documented why the goroutine is not necessary Extracted out the event handling to handleEvent Extracted the recording of metrics to recordMetrics
  sensor/common/pubsub/consumer/buffered.go
Due: gke-qa-e2e-tests, gke-sensor-integration-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

chore: add missing environment variables to the operator bundle
  operator/konflux.bundle.Dockerfile
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

chore(upgrade): Bump 4.8 previous version in upgrade test to 4.8.8 (#18829)
  tests/upgrade/postgres_run.sh
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/shell-unit-tests

sourcery review: Drain buffered events on Stop to prevent channel leaks
  sensor/common/pubsub/consumer/buffered.go
  sensor/common/pubsub/consumer/buffered_test.go
Due: gke-qa-e2e-tests, gke-sensor-integration-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

fix comparison
  tests/compliance_operator_v2_test.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

use constant instead of hardcoded size
  sensor/common/pubsub/consumer/buffered.go
Due: gke-qa-e2e-tests, gke-sensor-integration-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

test: Bump opensearch version for performance tests
  tests/performance/scripts/opensearch-upload/requirements.txt
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

docs(ocp-plugin): Add Tech Preview notice in Operator CSV
  operator/config/ui-metadata/bases/rhacs-operator.clusterserviceversion.yaml
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

ROX-321249: Add cluster_label and namespace_label to Scope proto (#18631)
  central/graphql/resolvers/generated.go
  central/policy/customresource/policy.go
  central/policy/service/validator.go
  central/policy/service/validator_test.go
  generated/api/v1/alert_service.swagger.json
  generated/api/v1/detection_service.swagger.json
  generated/api/v1/policy_service.swagger.json
  generated/storage/scope.pb.go
  generated/storage/scope_vtproto.pb.go
  pkg/scopecomp/scope_test.go
  proto/storage/proto.lock
  proto/storage/scope.proto
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-next-candidate-scanner-v4-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests, ci/prow/ocp-stable-scanner-v4-tests, ci/prow/ocp-stable-ui-e2e-tests

fix: fact uses rhel9 on master
  .tekton/operator-bundle-pipeline.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Running scripts/fixxxers/operator/40-bundle.sh
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

build: Use PyYAML dependency as RPM in bundle build (#18778)
  .tekton/operator-bundle-build.yaml
  .tekton/operator-bundle-pipeline.yaml
  operator/Makefile
  operator/bundle_helpers/.gitignore
  operator/bundle_helpers/README.md
  operator/bundle_helpers/requirements-build.txt
  operator/bundle_helpers/requirements-gha.txt
  operator/bundle_helpers/requirements.in
  operator/bundle_helpers/requirements.txt
  operator/konflux.bundle.Dockerfile
  rpms.in.yaml
  rpms.lock.yaml
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

Unconflict bundle dockerfile
  operator/konflux.bundle.Dockerfile
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

Unconflict rpms lockfile by regenerating it
  rpms.lock.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

ROX-31779: [part 3] Fix layout on VM->K8s components pages (#18820)
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/ClusterPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/ClusterPageDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/ClusterPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/PlatformCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/PlatformCvePage.tsx
Due: ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-ui-e2e-tests, ci/prow/ui-component-tests

ROX-24311: Detection and enforcement for pods/attach event
  generated/storage/kube_event.pb.go
  generated/storage/kube_event_vtproto.pb.go
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller.yaml
  operator/tests/common/secured-cluster-cr-assert.yaml
  pkg/booleanpolicy/default_policies_test.go
  pkg/booleanpolicy/value_regex.go
  pkg/booleanpolicy/violationmessages/printer/kube_event.go
  pkg/booleanpolicy/violationmessages/printer/kube_event_test.go
  pkg/defaults/policies/files/pod_attach.json
  pkg/kubernetes/event.go
  proto/storage/kube_event.proto
  proto/storage/proto.lock
  qa-tests-backend/src/main/groovy/objects/Deployment.groovy
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
  qa-tests-backend/src/test/groovy/K8sEventDetectionTest.groovy
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaDescriptors.tsx
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-next-candidate-scanner-v4-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests, ci/prow/ocp-stable-scanner-v4-tests, ci/prow/ocp-stable-ui-e2e-tests, ci/prow/ui-component-tests

test: Bump opensearch version for performance tests (#18839)
  tests/performance/scripts/opensearch-upload/requirements.txt
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Fix default autocomplete behavior in search UI.
  ui/apps/platform/src/Components/CompoundSearchFilter/components/AutocompleteSelect.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.cy.jsx
  ui/apps/platform/src/utils/searchUtils.test.ts
  ui/apps/platform/src/utils/searchUtils.ts
Due: ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-ui-e2e-tests, ci/prow/ui-component-tests

docs(ocp-plugin): Add Tech Preview notice in Operator CSV (#18848)
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/config/ui-metadata/bases/rhacs-operator.clusterserviceversion.yaml
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

docs(ocp-plugin): Add Tech Preview notice in Operator CSV (#18853)
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/config/ui-metadata/bases/rhacs-operator.clusterserviceversion.yaml
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

ROX-32925 : Address bugs causing flappy fix timestamp (#18821)
  central/cve/converter/utils/convert_utils_v2.go
  central/cve/converter/utils/convert_utils_v2_test.go
  central/cve/image/info/datastore/datastore_impl.go
  central/cve/image/info/datastore/datastore_impl_test.go
  central/image/datastore/datastore_impl.go
  central/image/service/service_impl.go
  central/imagev2/datastore/datastore_impl.go
  central/vulnmgmt/service/service_impl.go
  generated/storage/cve.pb.go
  generated/storage/cve_vtproto.pb.go
  pkg/images/utils/test/utils_test.go
  pkg/images/utils/utils.go
  proto/storage/cve.proto
  proto/storage/proto.lock
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-next-candidate-scanner-v4-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests, ci/prow/ocp-stable-scanner-v4-tests, ci/prow/ocp-stable-ui-e2e-tests

feat(db): add indexed CVE column to ImageCVEInfo table (#18822)
  central/cve/image/info/datastore/datastore_impl_test.go
  central/cve/image/info/datastore/store/postgres/store.go
  central/image/datastore/datastore_impl.go
  central/image/datastore/datastore_impl_flat_postgres_test.go
  central/imagev2/datastore/datastore_impl.go
  generated/storage/cve.pb.go
  generated/storage/cve_vtproto.pb.go
  pkg/postgres/schema/image_cve_infos.go
  proto/storage/cve.proto
  proto/storage/proto.lock
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-next-candidate-scanner-v4-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests, ci/prow/ocp-stable-scanner-v4-tests, ci/prow/ocp-stable-ui-e2e-tests

feat(db): add indexed CVE column to ImageCVEInfo table (#18846)
  central/cve/image/info/datastore/datastore_impl_test.go
  central/cve/image/info/datastore/store/postgres/store.go
  central/image/datastore/datastore_impl.go
  central/image/datastore/datastore_impl_flat_postgres_test.go
  central/imagev2/datastore/datastore_impl.go
  generated/storage/cve.pb.go
  generated/storage/cve_vtproto.pb.go
  pkg/postgres/schema/image_cve_infos.go
  proto/storage/cve.proto
  proto/storage/proto.lock
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-next-candidate-scanner-v4-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests, ci/prow/ocp-stable-scanner-v4-tests, ci/prow/ocp-stable-ui-e2e-tests

fix: add setup-go before cache-go-dependencies for containerless jobs
  .github/workflows/build.yaml
  .github/workflows/style.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

fix: remove init-tls-certs (moved to Sensor) and add setup-node
  .github/workflows/build.yaml
  Makefile
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

Path conditions:
  gke-qa-e2e-tests: unless all of: ^ui/
  gke-sensor-integration-tests: any of: ^sensor/
  gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  gke-scanner-v4-install-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|operator|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  merge-gke-nongroovy-compatibility-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests: unless all of: ^ui/
  ci/prow/gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-scanner-v4-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/gke-sensor-integration-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)/
  ci/prow/ocp-4-12-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-12-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  ci/prow/ocp-4-12-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-12-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-12-scanner-v4-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-4-12-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)/
  ci/prow/ocp-next-candidate-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-next-candidate-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-next-candidate-scanner-v4-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-next-candidate-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)/
  ci/prow/ocp-stable-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-stable-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-stable-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-stable-scanner-v4-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-stable-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)/
  ci/prow/shell-unit-tests: any of: ((\.sh)|(\.bat))$
  ci/prow/ui-component-tests: any of: ^ui/
