Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Path conditions:
  openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/gke-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-upgrade-tests: any of: ^(migrator/|^image/)
  ci/prow/openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)

Fix segment api typing
  ui/apps/platform/src/global/initializeAnalytics.js
  ui/apps/platform/src/react-app-env.d.ts
  ui/apps/platform/src/reducers/telemetryConfig.js
  ui/apps/platform/src/utils/analytics.ts
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

setup segment analytics
  ui/apps/platform/package.json
  ui/apps/platform/src/Containers/Clusters/ClustersPage.js
  ui/apps/platform/src/Containers/Clusters/ClustersSidePanel.tsx
  ui/apps/platform/src/global/analytics.js
  ui/apps/platform/src/index.tsx
  ui/apps/platform/src/react-app-env.d.ts
  ui/apps/platform/src/reducers/index.js
  ui/apps/platform/src/reducers/telemetryConfig.js
  ui/apps/platform/src/services/TelemetryConfigService.ts
  ui/apps/platform/src/types/telemetryConfigService.proto.ts
  ui/apps/platform/src/utils/analytics.ts
  ui/yarn.lock
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

send all page visits to segment
  ui/apps/platform/src/Containers/Clusters/ClustersSidePanel.tsx
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/global/initializeAnalytics.js
  ui/apps/platform/src/services/TelemetryConfigService.ts
  ui/apps/platform/src/types/telemetryConfigService.proto.ts
  ui/apps/platform/src/utils/analytics.ts
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

clean up telemetry config reducer
  ui/apps/platform/src/reducers/telemetryConfig.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

ROX-14647-14671: Reduce confusion about policy categories (#4652)
  ui/apps/platform/src/Containers/PolicyCategories/CreatePolicyCategoryModal.tsx
  ui/apps/platform/src/Containers/PolicyCategories/PolicyCategoriesPage.tsx
  ui/apps/platform/src/Containers/PolicyCategories/PolicyCategorySidePanel.tsx
  ui/apps/platform/src/css/trumps.css
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Allow < and > characters for collection names in UI validation
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Fix bug In MergeResourceEvents where values could get overridden incorrectly (#4657)
  sensor/kubernetes/eventpipeline/component/message.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-14657 Add inline errors for collection form fields (#4651)
  ui/apps/platform/src/Components/PatternFly/SeverityLabelsList.tsx
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByLabelSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByNameSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.css
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

add
  migrator/version/convert_versions.go
  migrator/version/convert_versions_test.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

ROX-14632: migrate slack notice
  .github/workflows/tagged-ci.yaml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Update front end check for regex rule message (#4654)
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/errorUtils.ts
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

skip for wip
  .github/workflows/release-ci.yaml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

style
  ui/apps/platform/src/routePaths.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

slack it
  .github/workflows/tagged-ci.yaml
  scripts/ci/jobs/push-images.sh
  scripts/ci/lib.sh
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Collection Regex Error Message (#4642)
  central/resourcecollection/datastore/datastore_impl.go
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/errorUtils.ts
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-ui-e2e-tests

secrets
  .github/workflows/tagged-ci.yaml
  scripts/ci/lib.sh
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Network graph: PF - External to cluster url and page title fixes (#4644)
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/TopologyComponent.tsx
  ui/apps/platform/src/constants/useCaseTypes.js
  ui/apps/platform/src/messages/useCase.js
  ui/apps/platform/src/routePaths.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

update image
  scripts/ci/clairv4/clairv4-kubernetes.yaml
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

remove test ignore
  .github/workflows/release-ci.yaml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-14426: Fix CVE exports in Findings sections (#4656)
  ui/apps/platform/src/Containers/VulnMgmt/Entity/TableWidgetFixableCves.js
  ui/apps/platform/src/Containers/VulnMgmt/VulnMgmtComponents/FixableCveExportButton.js
  ui/apps/platform/src/services/VulnerabilitiesService.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Turn on PatternFly Network Graph by default
  pkg/features/list.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

ROX-14642 add dismissible postgres announcement banner
  ui/apps/platform/src/Containers/MainPage/AnnouncementBanner.tsx
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

adding reset graph callback for smooth edge state change
  ui/apps/platform/src/Containers/NetworkGraph/TopologyComponent.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

update
  qa-tests-backend/scripts/run-part-1.sh
  qa-tests-backend/src/main/groovy/objects/ImageIntegration.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Fix collection name validation regex
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

clean up
  ui/apps/platform/src/Containers/NetworkGraph/TopologyComponent.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

ROX-14754: Turn on PatternFly Network Graph by default (#4665)
  pkg/features/list.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

adding clear URL on mismatched state
  ui/apps/platform/src/Containers/NetworkGraph/TopologyComponent.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

fix: layout fixes to optimize spacing
  ui/apps/platform/src/Containers/NetworkGraph/cidr/CidrBlockSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentBaselines.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/ExternalGroupSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/externalEntities/ExternalEntitiesSideBar.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

fix: hide anomalous traffic label when the num of traffic is 0
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentDetails.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests
