Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Path conditions:
  openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/gke-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-upgrade-tests: any of: ^(migrator/|^image/)
  ci/prow/openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)

Add teams
  .github/workflows/update_collector_and_scanner.yaml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Remove run on push
  .github/workflows/update_collector_and_scanner.yaml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-13480: Add view active yamls tab
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/hooks/apis/useFetchActiveYAMLs.ts
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPolicySimulatorSidePanel.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/ViewActiveYAMLs.tsx
  ui/apps/platform/src/services/NetworkService.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

/v1.TelemetryService/GetConfig
  central/telemetry/service/service_impl.go
  generated/api/v1/telemetry_service.pb.go
  generated/api/v1/telemetry_service.pb.gw.go
  generated/api/v1/telemetry_service.swagger.json
  generated/internalapi/central/telemetry.pb.go
  proto/api/v1/telemetry_service.proto
  proto/internalapi/central/telemetry.proto
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

ROX-13480: Add view active yamls tab (#4090)
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/hooks/apis/useFetchActiveYAMLs.ts
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPolicySimulatorSidePanel.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/ViewActiveYAMLs.tsx
  ui/apps/platform/src/services/NetworkService.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Restore all package imported unit test (#4137)
  migrator/runner/all_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

PR comments
  ui/apps/platform/src/Containers/NetworkGraph/components/DefaultFakeGroup.tsx
  ui/apps/platform/src/Containers/NetworkGraph/types/topology.type.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/modelUtils.tsx
  ui/apps/platform/src/hooks/useFetchDeploymentCount.ts
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

revert test
  scripts/ci/gke.sh
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Revert metadata changes
  central/graphql/resolvers/generated.go
  central/metadata/service/service_impl.go
  generated/api/v1/metadata_service.pb.go
  generated/api/v1/metadata_service.swagger.json
  proto/api/v1/metadata_service.proto
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

formatting
  proto/internalapi/central/telemetry.proto
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Fix selector mistake and improve name of helper function
  ui/apps/platform/cypress/integration/configmanagement/ConfigurationManagement.helpers.js
  ui/apps/platform/cypress/integration/configmanagement/ciscontrols.test.js
  ui/apps/platform/cypress/integration/configmanagement/clusters.test.js
  ui/apps/platform/cypress/integration/configmanagement/deployments.test.js
  ui/apps/platform/cypress/integration/configmanagement/images.test.js
  ui/apps/platform/cypress/integration/configmanagement/namespaces.test.js
  ui/apps/platform/cypress/integration/configmanagement/nodes.test.js
  ui/apps/platform/cypress/integration/configmanagement/policies.test.js
  ui/apps/platform/cypress/integration/configmanagement/roles.test.js
  ui/apps/platform/cypress/integration/configmanagement/secrets.test.js
  ui/apps/platform/cypress/integration/configmanagement/serviceaccount.test.js
  ui/apps/platform/cypress/integration/configmanagement/usersandgroups.test.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

ROX-13433: Adding extraneous node/flows count to extraneous graph (#4122)
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/DefaultFakeGroup.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/StyleFakeGroup.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/stylesComponentFactory.tsx
  ui/apps/platform/src/Containers/NetworkGraph/types/topology.type.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/modelUtils.tsx
  ui/apps/platform/src/hooks/useFetchDeploymentCount.ts
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

stage
  roxctl/central/db/db.go
  roxctl/central/db/generate/generate.go
  roxctl/central/db/generate/generate_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

update
  central/enrichment/singleton.go
  central/image/service/service_impl.go
  central/imageintegration/datastore/datastore_impl.go
  central/imageintegration/datastore/singleton.go
  central/sensor/service/pipeline/imageintegrations/pipeline.go
  pkg/features/list.go
  pkg/images/enricher/enricher_impl.go
  pkg/registries/factory_impl.go
  pkg/registries/set_impl_test.go
  pkg/registries/types/types.go
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
  sensor/common/detector/enricher.go
  sensor/kubernetes/listener/resources/secrets.go
  sensor/kubernetes/listener/resources/serviceaccount.go
  sensor/kubernetes/listener/resources/singleton.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

updates
  central/enrichment/singleton.go
  central/imageintegration/datastore/singleton.go
  pkg/features/list.go
  sensor/kubernetes/listener/resources/singleton.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

flip
  sensor/kubernetes/listener/resources/secrets.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

style
  pkg/registries/factory_impl.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

ROX-13875: Handle GKE create timeout (#4138)
  scripts/ci/gke.sh
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

PR updates
  CHANGELOG.md
  central/imageintegration/datastore/singleton.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

forgot .0
  CHANGELOG.md
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

add another log
  central/imageintegration/datastore/singleton.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

X-Smart-Squash: Squashed 2 commits:
  central/processlisteningonport/store/postgres/store.go
  generated/api/v1/process_listening_on_port_service.swagger.json
  generated/storage/process_listening_on_port.pb.go
  proto/storage/process_listening_on_port.proto
  qa-tests-backend/src/test/groovy/ProcessesListeningOnPortsTest.groovy
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Fixes for reviews
  .github/workflows/update_collector_and_scanner.yaml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

RUN
  .github/workflows/update_collector_and_scanner.yaml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Revert "RUN"
  .github/workflows/update_collector_and_scanner.yaml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Add scanner devs reviewers
  .github/workflows/update_collector_and_scanner.yaml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Use curl
  scripts/ci/lib.sh
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Updates to write telemetry out in diagnostic
  central/globaldb/postgres.go
  central/telemetry/gatherers/central.go
  central/telemetry/gatherers/database.go
  central/telemetry/gatherers/postgres.go
  central/telemetry/gatherers/singleton.go
  pkg/telemetry/data/central.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Run VulnMgmtSACTest first
  qa-tests-backend/Makefile
  qa-tests-backend/src/test/groovy/VulnMgmtSACTest.groovy
  qa-tests-backend/src/test/groovy/groups/groups.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-11755: SAC tests for ClusterCVEEdge object (#4034)
  central/clustercveedge/datastore/datastore_test_constructors.go
  central/clustercveedge/datastoretest/datastore_sac_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-13819-roxctl-command
  central/group/datastore/datastore_impl.go
  central/group/service/service_impl.go
  pkg/groups/validate.go
  pkg/groups/validate_test.go
  roxctl/central/db/bolt/bolt.go
  roxctl/central/db/bolt/list/list.go
  roxctl/central/db/bolt/recreate/groups/groups.go
  roxctl/central/db/bolt/recreate/groups/groups_test.go
  roxctl/central/db/bolt/recreate/groups/testdata/stderr.txt
  roxctl/central/db/bolt/recreate/recreate.go
  roxctl/central/db/db.go
  roxctl/help/help.properties
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Simplify flow
  ui/apps/platform/src/Containers/Collections/CollectionFormDrawer.tsx
  ui/apps/platform/src/Containers/Collections/CollectionResults.tsx
  ui/apps/platform/src/Containers/Collections/hooks/useDryRunConfiguration.ts
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Add refresh button to collection results panel
  ui/apps/platform/src/Containers/Collections/CollectionFormDrawer.tsx
  ui/apps/platform/src/Containers/Collections/hooks/useDryRunConfiguration.ts
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Disable button while refreshing
  ui/apps/platform/src/Containers/Collections/CollectionResults.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests
