Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-8-operator-e2e-tests, ci/prow/ocp-4-8-qa-e2e-tests

openshift-oldest-qa-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.8'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

openshift-newest-qa-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.12'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

openshift-oldest-operator-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.8'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

openshift-newest-operator-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.12'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

ci/prow/gke-nongroovy-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.13'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/gke-postgres-nongroovy-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.13'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/gke-postgres-qa-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.13'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/gke-postgres-ui-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.13'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/gke-postgres-upgrade-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.13'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/gke-qa-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    job-release: '4.13'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

Use deviation to duration instead of %
  compliance/collection/intervals/intervals.go
  compliance/collection/intervals/intervals_test.go
  compliance/collection/main.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Update env
  pkg/env/node_scan.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-8-operator-e2e-tests, ci/prow/ocp-4-8-qa-e2e-tests

Some refactoring
  central/processlisteningonport/datastore/datastore_impl.go
  central/reprocessor/reprocessor.go
  central/reprocessor/reprocessor_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

sensor-proxy-aware (#5049)
  sensor/common/centralclient/client.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Auto-merge dependabot PRs when all checks pass
  .github/workflows/auto-merge.yml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Run junit2jira after copy artifacts
  scripts/ci/lib.sh
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-8-operator-e2e-tests, ci/prow/ocp-4-8-qa-e2e-tests

Create tasks only for failures
  scripts/ci/lib.sh
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-8-operator-e2e-tests, ci/prow/ocp-4-8-qa-e2e-tests

Propagate `$POD_SECURITY_POLICIES` to `roxctl` when installing sensor.
  deploy/common/k8sbased.sh
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-8-operator-e2e-tests, ci/prow/ocp-4-8-qa-e2e-tests

try importing static withRetry
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

just a few more imports
  qa-tests-backend/src/main/groovy/objects/Notifiers.groovy
  qa-tests-backend/src/test/groovy/NetworkBaselineTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Import ObjectReference.
  qa-tests-backend/src/main/groovy/objects/K8sServiceAccount.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

CompileStatic and related fixes.
  qa-tests-backend/src/main/groovy/common/Constants.groovy
  qa-tests-backend/src/main/groovy/objects/K8sRbacObjects.groovy
  qa-tests-backend/src/main/groovy/objects/K8sServiceAccount.groovy
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
  qa-tests-backend/src/main/groovy/orchestratormanager/OpenShift.groovy
  qa-tests-backend/src/main/groovy/orchestratormanager/OrchestratorMain.groovy
  qa-tests-backend/src/main/groovy/util/ChaosMonkey.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

make rules iteration NPE-safe
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

remove Object ignored
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
  qa-tests-backend/src/main/groovy/util/Helpers.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Fix imports
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
  qa-tests-backend/src/main/groovy/services/NetworkPolicyService.groovy
  qa-tests-backend/src/main/groovy/util/SplunkUtil.groovy
  qa-tests-backend/src/test/groovy/AttemptedAlertsTest.groovy
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
  qa-tests-backend/src/test/groovy/CSVTest.groovy
  qa-tests-backend/src/test/groovy/CertRotationTest.groovy
  qa-tests-backend/src/test/groovy/ComplianceTest.groovy
  qa-tests-backend/src/test/groovy/DeploymentEventGraphQLTest.groovy
  qa-tests-backend/src/test/groovy/GlobalSearch.groovy
  qa-tests-backend/src/test/groovy/ImageManagementTest.groovy
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
  qa-tests-backend/src/test/groovy/IntegrationsSplunkViolationsTest.groovy
  qa-tests-backend/src/test/groovy/IntegrationsTest.groovy
  qa-tests-backend/src/test/groovy/K8sEventDetectionTest.groovy
  qa-tests-backend/src/test/groovy/K8sRbacTest.groovy
  qa-tests-backend/src/test/groovy/NetworkSimulator.groovy
  qa-tests-backend/src/test/groovy/PolicyConfigurationTest.groovy
  qa-tests-backend/src/test/groovy/ProcessBaselinesTest.groovy
  qa-tests-backend/src/test/groovy/SACTest.groovy
  qa-tests-backend/src/test/groovy/SecretsTest.groovy
  qa-tests-backend/src/test/groovy/SummaryTest.groovy
  qa-tests-backend/src/test/groovy/VulnReportingTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Keep deploymentCount a list, other code depends on it.
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

import static Helpers.*Retry
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Fix unit tests.
  central/group/datastore/datastore_impl_postgres_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Address review comments.
  central/group/datastore/datastore_impl.go
  central/group/datastore/datastore_impl_postgres_test.go
  central/group/datastore/internal/store/postgres/store_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

unique-groups-index
  central/group/datastore/datastore_impl_postgres_test.go
  central/group/datastore/datastore_impl_test.go
  central/group/datastore/internal/store/postgres/gen.go
  central/group/datastore/internal/store/postgres/store.go
  central/group/datastore/internal/store/postgres/store_test.go
  generated/storage/group.pb.go
  pkg/postgres/pgutils/error.go
  pkg/postgres/schema/groups.go
  pkg/search/options.go
  proto/storage/group.proto
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-8-operator-e2e-tests, ci/prow/ocp-4-8-qa-e2e-tests

Address final review comments.
  central/group/datastore/datastore_impl_postgres_test.go
  central/group/datastore/internal/store/postgres/store.go
  central/group/datastore/internal/store/postgres/store_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Move to 173 sequence; re-upsert groups after schema migration.
  migrator/migrations/m_173_to_m_174_group_unique_constraint/migration.go
  migrator/migrations/m_173_to_m_174_group_unique_constraint/migration_test.go
  migrator/migrations/m_173_to_m_174_group_unique_constraint/stores/previous/postgres_plugin.go
  migrator/migrations/m_173_to_m_174_group_unique_constraint/stores/updated/postgres_plugin.go
  pkg/migrations/internal/seq_num.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-8-operator-e2e-tests, ci/prow/ocp-4-8-qa-e2e-tests

unqiue-groups-migration
  migrator/migrations/m_173_to_m_174_group_unique_constraint/frozenschema/groups.go
  migrator/migrations/m_173_to_m_174_group_unique_constraint/groupspostgresstore/postgres_plugin.go
  migrator/migrations/m_173_to_m_174_group_unique_constraint/migration.go
  migrator/migrations/m_173_to_m_174_group_unique_constraint/migration_test.go
  migrator/runner/all.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

Comment changes.
  migrator/migrations/m_173_to_m_174_group_unique_constraint/stores/previous/postgres_plugin.go
  migrator/migrations/m_173_to_m_174_group_unique_constraint/stores/updated/postgres_plugin.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

Label dependabot PRs
  .github/dependabot.yaml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

always return config if available
  central/telemetry/centralclient/instance_config.go
  central/telemetry/service/service_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

more NPE protection
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

debug expectDigestedImage
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Renamed InfoFromDB to PlopInfo. Removed unused arguments
  central/processlisteningonport/datastore/datastore_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

migration statement timeout testing
  migrator/migrations/m_172_to_m_173_network_flows_partition/migration.go
  migrator/postgreshelper/load.go
  pkg/env/postgres_default_timeout.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-8-operator-e2e-tests, ci/prow/ocp-4-8-qa-e2e-tests

Please linter
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Automerge opt-in
  .github/dependabot.yaml
  .github/workflows/auto-merge.yml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

LRU
  central/processbaseline/datastore/datastore.go
  central/processbaseline/datastore/datastore_impl_test.go
  central/processbaseline/datastore/singleton.go
  central/processbaseline/service/service_impl_test.go
  central/processbaseline/store/postgres/cache.go
  central/processbaseline/store/postgres/store_cache_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

scopes
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/deployments_test.go
  central/graphql/resolvers/images.go
  central/graphql/resolvers/test_utils.go
  central/views/imagecve/view_test.go
  pkg/search/postgres/common.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-8-operator-e2e-tests, ci/prow/ocp-4-8-qa-e2e-tests

[VM2.0][ROX-13860][ROX-13867] CVE count by severity graphQL
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/image_cve_core.go
  central/graphql/resolvers/images.go
  central/graphql/resolvers/resource_count_by_severity.go
  central/views/common/types.go
  central/views/imagecve/image_cve.go
  central/views/imagecve/mocks/types.go
  central/views/imagecve/types.go
  central/views/imagecve/view_impl.go
  central/views/imagecve/view_test.go
  central/views/read_options.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

update test
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/image_components_postgres_test.go
  central/graphql/resolvers/vulnerability_counter_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

turn off indexes
  migrator/migrations/m_172_to_m_173_network_flows_partition/schema/network_flows_v2.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

comment
  central/processbaseline/store/postgres/cache.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Add query duration and query error metrics for query times in pgxpool wrapper (#5131)
  pkg/postgres/batch.go
  pkg/postgres/conn.go
  pkg/postgres/metrics.go
  pkg/postgres/pool.go
  pkg/postgres/rows.go
  pkg/postgres/tx.go
  pkg/search/postgres/common.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-8-operator-e2e-tests, ci/prow/ocp-4-8-qa-e2e-tests

Path conditions:
  openshift-oldest-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/gke-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-postgres-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  ci/prow/ocp-4-12-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-12-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-8-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-8-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
