Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: shell-unit-tests, gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-4-12-ebpf-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-4-15-compliance-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests, ci/prow/ocp-4-15-scanner-v4-tests, ci/prow/ocp-4-15-ui-e2e-tests, ci/prow/shell-unit-tests, ci/prow/ui-component-tests

Path conditions:
  shell-unit-tests: any of: (\\.sh|\\.bat)$
  gke-qa-e2e-tests: unless all of: ^ui/
  gke-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service)/
  gke-nongroovy-e2e-tests: unless all of: ^ui/
  gke-sensor-integration-tests: unless all of: ^ui/
  gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  gke-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  merge-gke-operator-e2e-tests: unless all of: ^ui/
  merge-gke-qa-e2e-tests: unless all of: ^ui/
  merge-gke-nongroovy-e2e-tests: unless all of: ^ui/
  merge-gke-sensor-integration-tests: unless all of: ^ui/
  merge-gke-upgrade-tests: unless all of: ^ui/
  merge-gke-version-compatibility-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests: unless all of: ^ui/
  ci/prow/gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-scanner-v4-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/gke-sensor-integration-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)/
  ci/prow/ocp-4-12-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-12-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  ci/prow/ocp-4-12-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-12-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-12-scanner-v4-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-4-12-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)/
  ci/prow/ocp-4-15-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-15-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-15-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-15-scanner-v4-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-4-15-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)/
  ci/prow/shell-unit-tests: any of: ((\.sh)|(\.bat))$
  ci/prow/ui-component-tests: any of: ^ui/

Always set central.persistence.none=true
  deploy/common/k8sbased.sh
  qa-tests-backend/scripts/run-compatibility.sh
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests, ci/prow/ocp-4-15-scanner-v4-tests, ci/prow/shell-unit-tests

fix: missing whitespace in Makefile around LOCAL_VOLUME_ARGS (#12938)
  Makefile
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests

PR feedback: implement --related-images-mode
  operator/Makefile
  operator/bundle_helpers/patch-csv.py
  operator/konflux.bundle.Dockerfile
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests

chore(perf): Refactor metrics and update the list of collected metrics (#12925)
  tests/performance/scale/config/metrics-acs-base.yml
  tests/performance/scale/config/metrics-acs-central.yml
  tests/performance/scale/config/metrics-acs-collector.yml
  tests/performance/scale/config/metrics-acs-sensor.yml
  tests/performance/scale/config/metrics-acs.yml
  tests/performance/scale/config/metrics-full.yml
  tests/performance/scale/config/metrics-ocp-base.yml
  tests/performance/scale/tests/kube-burner/cluster-density/run-workload.sh
  tools/allowed-large-files
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/shell-unit-tests

(feat) support override admission control namespace selector
  image/templates/helm/stackrox-secured-cluster/internal/config-shape.yaml
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller.yaml
  image/templates/helm/stackrox-secured-cluster/values-public.yaml.example
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/admission-control.test.yaml
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests, ci/prow/ocp-4-15-scanner-v4-tests

ROX-25797: Central Scanner v4 communication (#12448)
  central/enrichment/integration.go
  central/enrichment/integration_test.go
  central/enrichment/singleton.go
  central/imageintegration/service/convert.go
  central/imageintegration/service/service_impl.go
  central/imageintegration/service/service_impl_test.go
  central/imageintegration/store/defaults.go
  central/sensor/service/pipeline/nodeindex/pipeline.go
  central/sensor/service/pipeline/nodeinventory/pipeline.go
  central/sensor/service/pipeline/nodeinventory/pipeline_test.go
  central/sensor/service/pipeline/nodeinventory/two_pipelines_test.go
  compliance/collection/compliance/compliance.go
  generated/storage/node_integration.pb.go
  generated/storage/node_integration_vtproto.pb.go
  pkg/nodes/enricher/enricher.go
  pkg/nodes/enricher/enricher_impl.go
  pkg/nodes/enricher/enricher_impl_test.go
  pkg/nodes/enricher/metrics.go
  pkg/nodes/enricher/mocks/enricher.go
  pkg/scanners/clairify/clairify.go
  pkg/scanners/scannerv4/scannerv4.go
  pkg/scanners/types/mocks/types.go
  pkg/scanners/types/semaphore.go
  pkg/scanners/types/types.go
  proto/storage/node_integration.proto
  proto/storage/proto.lock
  qa-tests-backend/src/test/groovy/NodeInventoryTest.groovy
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-4-15-compliance-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests, ci/prow/ocp-4-15-scanner-v4-tests, ci/prow/ocp-4-15-ui-e2e-tests

prefetch dependencies as wheels
  .tekton/operator-bundle-build.yaml
  operator/bundle_helpers/requirements-build.txt
  operator/bundle_helpers/requirements.txt
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests

add attrs as requirement for pytest
  operator/bundle_helpers/requirements-build.txt
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests

WIP
  central/resourcecollection/datastore/datastore_impl.go
  central/resourcecollection/service/service_impl.go
  central/resourcecollection/service/service_impl_test.go
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-4-15-ui-e2e-tests

Update operator/bundle_helpers/patch-csv.py
  operator/bundle_helpers/patch-csv.py
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests

does that work?
  operator/Makefile
  operator/bundle_helpers/requirements-build.txt
  operator/bundle_helpers/requirements.txt
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests

ROX-24990: alert time index to help pruning (#12923)
  generated/storage/alert.pb.go
  pkg/postgres/schema/alerts.go
  proto/storage/alert.proto
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests, ci/prow/ocp-4-15-scanner-v4-tests, ci/prow/ocp-4-15-ui-e2e-tests

ROX-26428: Ensure image ID is not lost when evaluating mirrors (#12834)
  CHANGELOG.md
  pkg/registrymirror/store.go
  pkg/registrymirror/store_test.go
  sensor/common/scan/scan.go
  sensor/common/scan/scan_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests

ROX-25828: Add index on process_indicators.signal_time (#12919)
  generated/storage/process_indicator.pb.go
  pkg/postgres/schema/process_indicators.go
  proto/storage/process_indicator.proto
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests, ci/prow/ocp-4-15-scanner-v4-tests, ci/prow/ocp-4-15-ui-e2e-tests

Help text for new parameter
  operator/bundle_helpers/patch-csv.py
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests

chore(fix): Fix descriptions in swagger json (#12924)
  generated/api/v1/alert_service.swagger.json
  generated/api/v1/auth_service.swagger.json
  generated/api/v1/authprovider_service.swagger.json
  generated/api/v1/backup_service.swagger.json
  generated/api/v1/cloud_source_service.swagger.json
  generated/api/v1/cluster_service.swagger.json
  generated/api/v1/deployment_service.swagger.json
  generated/api/v1/detection_service.swagger.json
  generated/api/v1/group_service.swagger.json
  generated/api/v1/image_integration_service.swagger.json
  generated/api/v1/image_service.swagger.json
  generated/api/v1/network_baseline_service.swagger.json
  generated/api/v1/network_graph_service.swagger.json
  generated/api/v1/network_policy_service.swagger.json
  generated/api/v1/node_service.swagger.json
  generated/api/v1/notifier_service.swagger.json
  generated/api/v1/pod_service.swagger.json
  generated/api/v1/policy_service.swagger.json
  generated/api/v1/process_baseline_service.swagger.json
  generated/api/v1/rbac_service.swagger.json
  generated/api/v1/role_service.swagger.json
  generated/api/v1/service_identity_service.swagger.json
  generated/api/v1/vuln_mgmt_req_service.swagger.json
  generated/api/v1/vuln_mgmt_service.swagger.json
  generated/storage/deployment.pb.go
  generated/storage/service_identity.pb.go
  make/protogen.mk
  proto/storage/deployment.proto
  proto/storage/service_identity.proto
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests, ci/prow/ocp-4-15-scanner-v4-tests, ci/prow/ocp-4-15-ui-e2e-tests

ROX-26042: Refactor OpenShift auth provider certificate watch
  central/authprovider/service/service_impl_test.go
  central/user/datastore/datastore_test_constructors.go
  pkg/auth/authproviders/openshift/backend_factory_impl.go
  pkg/auth/authproviders/openshift/backend_impl.go
  pkg/auth/authproviders/openshift/testutils.go
  pkg/auth/authproviders/openshift/watcher.go
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests, ci/prow/ocp-4-15-ui-e2e-tests

Extend test coverage
  central/user/datastore/datastore_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

chore: Add CGO_ENABLED for konflux operator bundle
  operator/konflux.bundle.Dockerfile
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests

no golang used in operatorbundle build?
  operator/konflux.bundle.Dockerfile
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests

remove supported arches
  operator/Makefile
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests

remove other arches
  .tekton/basic-component-pipeline.yaml
  .tekton/main-build.yaml
  .tekton/main-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Squashed commit of the following:
  generated/storage/policy.pb.go
  generated/storage/scope.pb.go
  proto/storage/policy.proto
  proto/storage/scope.proto
  tools/generate-helpers/common/render.go
  tools/generate-helpers/pg-table-bindings/main.go
  tools/generate-helpers/policy-as-code-helper-wrapper
  tools/generate-helpers/policy-as-code-helper/main.go
  tools/generate-helpers/policy-as-code-helper/policy.go.tpl
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests, ci/prow/ocp-4-15-scanner-v4-tests, ci/prow/ocp-4-15-ui-e2e-tests

chore: Remove ROX_POLICY_AS_CODE feature flag
  central/auth/datastore/datastore_impl.go
  central/auth/datastore/datastore_impl_test.go
  image/templates/helm/stackrox-central/.helmtplignore.htpl
  pkg/features/list.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests, ci/prow/ocp-4-15-scanner-v4-tests

Fix failing helm unit tests
  Makefile
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-central/templates/00-securitypolicies-crd.yaml
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests, ci/prow/ocp-4-15-scanner-v4-tests

Update COLLECTOR_VERSION
  COLLECTOR_VERSION
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-ebpf-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests

Revert "Help text for new parameter"
  operator/bundle_helpers/patch-csv.py
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests
