Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: shell-unit-tests, gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-4-12-ebpf-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-compliance-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-next-candidate-scanner-v4-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-compliance-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests, ci/prow/ocp-stable-scanner-v4-tests, ci/prow/ocp-stable-ui-e2e-tests, ci/prow/shell-unit-tests, ci/prow/ui-component-tests

Path conditions:
  shell-unit-tests: any of: (\\.sh|\\.bat)$
  gke-qa-e2e-tests: unless all of: ^ui/
  gke-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service)/
  gke-nongroovy-e2e-tests: unless all of: ^ui/
  gke-sensor-integration-tests: unless all of: ^ui/
  gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  gke-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  merge-gke-operator-e2e-tests: unless all of: ^ui/
  merge-gke-qa-e2e-tests: unless all of: ^ui/
  merge-gke-nongroovy-e2e-tests: unless all of: ^ui/
  merge-gke-sensor-integration-tests: unless all of: ^ui/
  merge-gke-upgrade-tests: unless all of: ^ui/
  merge-gke-version-compatibility-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests: unless all of: ^ui/
  ci/prow/gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-scanner-v4-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/gke-sensor-integration-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)/
  ci/prow/ocp-4-12-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-12-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  ci/prow/ocp-4-12-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-12-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-12-scanner-v4-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-4-12-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)/
  ci/prow/ocp-next-candidate-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-next-candidate-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-next-candidate-scanner-v4-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-next-candidate-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)/
  ci/prow/ocp-stable-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-stable-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-stable-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-stable-scanner-v4-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-stable-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)/
  ci/prow/shell-unit-tests: any of: ((\.sh)|(\.bat))$
  ci/prow/ui-component-tests: any of: ^ui/

Add secondary CA to additionalCAs in TLS challenge
  central/metadata/service/service_impl.go
  generated/api/v1/metadata_service.pb.go
  generated/api/v1/metadata_service.swagger.json
  generated/api/v1/metadata_service_vtproto.pb.go
  pkg/mtls/crypto.go
  pkg/mtls/env.go
  proto/api/v1/metadata_service.proto
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-next-candidate-scanner-v4-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests, ci/prow/ocp-stable-scanner-v4-tests, ci/prow/ocp-stable-ui-e2e-tests

Support secondary CA in service extractor
  pkg/grpc/authn/service/extractor.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

Add Sensor support for secondary CA certificate
  sensor/common/centralclient/client.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Sign Sensor certs with newer CA
  central/securedclustercertgen/certificates.go
  central/securedclustercertgen/certificates_test.go
  central/sensor/service/connection/connection_impl.go
  central/sensor/service/service_impl.go
  pkg/centralsensor/caps_list.go
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests, ci/prow/ocp-stable-ui-e2e-tests

Refactor: do not use additionalCAs to pass Central CAs
  central/metadata/service/service_impl.go
  sensor/common/centralclient/client.go
  sensor/common/centralclient/client_test.go
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-ui-e2e-tests

Use DefaultRedHatSignatureIntegration directly from pkg/signatures
  central/signatureintegration/datastore/singleton.go
  central/signatureintegration/datastore/singleton_test.go
  central/signatureintegration/store/defaults.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Use string formatting in log statement
  pkg/images/enricher/enricher_impl.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

Document IsRedHatImage with details on heuristics
  pkg/images/utils/utils.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

Move static vars from IsRedHatImage to the package level
  pkg/images/utils/utils.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

Add TODO for dynamic key fetching implementation
  pkg/signatures/types.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

Add note about changing default sig integration ID
  pkg/signatures/types.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

ROX-29160 Add default policy to verify all RH images are signed
  pkg/defaults/policies/files/red_hat_images_signed.json
  pkg/defaults/policies/policies.go
  pkg/defaults/policies/policies_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

ROX-29160-Add-default-policy-red-hat-images-signed: restacked on ROX-29160-Add-default-signature-integration-rh-rk3
  branches/ROX-29160-Add-default-policy-red-hat-images-signed
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

fix wait call
  tests/byodb/run.sh
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/shell-unit-tests

ROX-29716: Fix signature verification for OCP images (#15739)
  pkg/signatures/cosign_sig_verifier.go
  pkg/signatures/cosign_sig_verifier_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

ROX-29716: Fix signature verification for OCP images (#15741)
  pkg/signatures/cosign_sig_verifier.go
  pkg/signatures/cosign_sig_verifier_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

chore(release): Add 4.7.5 to scanner updater configuration (#15860)
  scanner/updater/version/RELEASE_VERSION
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-next-candidate-scanner-v4-tests, ci/prow/ocp-stable-scanner-v4-tests

ROX-20527: skip NetworkFlowTest verify connections to ext sources (#15891)
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Use string specifier to display ID in logs
  central/imageintegration/datastore/singleton.go
  central/signatureintegration/datastore/singleton.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

skip backup on byodb
  scripts/grab-data-from-central.sh
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests, ci/prow/shell-unit-tests

First
  .github/workflows/scripts/scanner-sanity-check-definitions.yaml
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

add vuln bundle sanity check
  .github/workflows/scripts/scanner-sanity-check-definitions.yaml
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Use embed to inject Red Hats release key
  pkg/signatures/release-key-3.pub.txt
  pkg/signatures/types.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

Use set.NewFrozenStringSet to store Red Hat registries/repos
  pkg/images/utils/utils.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

mutex
  central/group/datastore/singleton.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Apply suggestions from code review
  roxctl/central/backup/backup.go
  roxctl/central/cert/cert.go
  roxctl/central/crs/generate.go
  roxctl/central/crs/list.go
  roxctl/central/crs/revoke.go
  roxctl/central/db/restore/v2_restorer.go
  roxctl/central/generate/generate.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-next-candidate-scanner-v4-tests, ci/prow/ocp-stable-scanner-v4-tests

chore(roxctl): wrap errors with context messages
  .golangci.yml
  roxctl/central/backup/backup.go
  roxctl/central/cert/cert.go
  roxctl/central/crs/generate.go
  roxctl/central/crs/list.go
  roxctl/central/crs/revoke.go
  roxctl/central/db/restore/common.go
  roxctl/central/db/restore/v1.go
  roxctl/central/db/restore/v2.go
  roxctl/central/db/restore/v2_cancel.go
  roxctl/central/db/restore/v2_restorer.go
  roxctl/central/db/transfer/transfer.go
  roxctl/central/debug/authz_trace.go
  roxctl/central/debug/debug.go
  roxctl/central/debug/download_diagnostics.go
  roxctl/central/generate/generate.go
  roxctl/central/generate/interactive.go
  roxctl/central/generate/validate.go
  roxctl/central/initbundles/fetch_ca.go
  roxctl/central/initbundles/generate.go
  roxctl/central/initbundles/list.go
  roxctl/central/initbundles/revoke.go
  roxctl/central/login/login.go
  roxctl/central/userpki/create/create.go
  roxctl/central/userpki/delete/delete.go
  roxctl/central/userpki/list/list.go
  roxctl/central/whoami/whoami.go
  roxctl/scanner/downloaddb/downloaddb.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-next-candidate-scanner-v4-tests, ci/prow/ocp-stable-scanner-v4-tests

Apply suggestions from code review
  roxctl/central/crs/revoke.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-next-candidate-scanner-v4-tests, ci/prow/ocp-stable-scanner-v4-tests

Apply suggestions from code review
  .golangci.yml
  roxctl/central/backup/backup.go
  roxctl/central/cert/cert.go
  roxctl/central/db/restore/common.go
  roxctl/central/db/restore/v1.go
  roxctl/central/db/restore/v2_restorer.go
  roxctl/central/debug/authz_trace.go
  roxctl/central/debug/debug.go
  roxctl/central/generate/generate.go
  roxctl/central/initbundles/fetch_ca.go
  roxctl/central/initbundles/generate.go
  roxctl/central/initbundles/list.go
  roxctl/central/initbundles/revoke.go
  roxctl/central/login/login.go
  roxctl/central/userpki/create/create.go
  roxctl/central/userpki/delete/delete.go
  roxctl/central/userpki/list/list.go
  roxctl/central/whoami/whoami.go
  roxctl/scanner/downloaddb/downloaddb.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-next-candidate-scanner-v4-tests, ci/prow/ocp-stable-scanner-v4-tests

fix script
  scripts/grab-data-from-central.sh
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests, ci/prow/shell-unit-tests

Apply `-4-7` suffixes
  .tekton/central-db-build.yaml
  .tekton/main-build.yaml
  .tekton/operator-build.yaml
  .tekton/operator-bundle-build.yaml
  .tekton/retag-collector.yaml
  .tekton/retag-scanner-db-slim.yaml
  .tekton/retag-scanner-db.yaml
  .tekton/retag-scanner-slim.yaml
  .tekton/retag-scanner.yaml
  .tekton/roxctl-build.yaml
  .tekton/scanner-v4-build.yaml
  .tekton/scanner-v4-db-build.yaml
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Bump SCANNER_ and COLLECTOR_VERSION
  COLLECTOR_VERSION
  SCANNER_VERSION
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-ebpf-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

add scoped query
  pkg/search/postgres/common.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

test
  .github/workflows/scanner-sanity-check-definitions.yaml
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

ROX-29650: bump go to 1.24 (#15895)
  .golangci.yml
  go.mod
  operator/tools/controller-gen/go.mod
  operator/tools/envtest/go.mod
  operator/tools/kustomize/go.mod
  operator/tools/kuttl/go.mod
  operator/tools/operator-sdk/go.mod
  scanner/hack/quay/go.mod
  tests/performance/scale/go.mod
  tools/check-workflow-run/go.mod
  tools/linters/go.mod
  tools/test/go.mod
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-next-candidate-scanner-v4-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests, ci/prow/ocp-stable-scanner-v4-tests

remove with coping stuff
  central/activecomponent/datastore/search/searcher_impl_v2.go
  central/blob/datastore/search/searcher.go
  central/blob/datastore/search/searcher_impl.go
  central/cluster/datastore/internal/search/searcher_impl_v2.go
  central/clustercveedge/search/searcher_impl_v2.go
  central/componentcveedge/search/searcher_impl_v2.go
  central/cve/cluster/datastore/search/searcher.go
  central/cve/image/datastore/search/searcher.go
  central/cve/image/v2/datastore/search/searcher.go
  central/cve/node/datastore/search/searcher.go
  central/deployment/datastore/internal/search/searcher_impl_v2.go
  central/image/datastore/search/searcher_impl_v2.go
  central/imagecomponent/search/searcher_impl_v2.go
  central/imagecomponent/v2/datastore/search/searcher_impl_v2.go
  central/imagecomponentedge/search/searcher_impl_v2.go
  central/imagecveedge/search/searcher_impl_v2.go
  central/namespace/datastore/datastore.go
  central/node/datastore/search/searcher_impl_v2.go
  central/nodecomponent/datastore/search/searcher.go
  central/nodecomponentcveedge/datastore/search/searcher.go
  central/nodecomponentedge/search/searcher.go
  central/policycategoryedge/search/searcher_impl.go
  central/reports/snapshot/datastore/search/searcher.go
  central/resourcecollection/datastore/search/searcher.go
  pkg/search/postgres/common_test.go
  pkg/search/scoped/postgres/searcher.go
  pkg/search/scoped/postgres/searcher_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

fix script again
  scripts/grab-data-from-central.sh
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests, ci/prow/shell-unit-tests
