Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: shell-unit-tests, gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-ebpf-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-ebpf-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-compliance-e2e-tests, ci/prow/ocp-4-10-ebpf-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-10-ui-e2e-tests, ci/prow/ocp-4-13-compliance-e2e-tests, ci/prow/ocp-4-13-ebpf-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests, ci/prow/ocp-4-13-ui-e2e-tests

Path conditions:
  shell-unit-tests: any of: (\\.sh|\\.bat)$
  gke-qa-e2e-tests: unless all of: ^ui/
  gke-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service)/
  gke-nongroovy-e2e-tests: unless all of: ^ui/
  gke-sensor-integration-tests: unless all of: ^ui/
  gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  gke-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  merge-gke-operator-e2e-tests: unless all of: ^ui/
  merge-gke-qa-e2e-tests: unless all of: ^ui/
  merge-gke-nongroovy-e2e-tests: unless all of: ^ui/
  merge-gke-sensor-integration-tests: unless all of: ^ui/
  merge-gke-upgrade-tests: unless all of: ^ui/
  merge-gke-version-compatibility-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-ocp-4-10-merge-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  branch-ci-stackrox-stackrox-master-ocp-4-10-merge-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-ocp-4-13-merge-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  branch-ci-stackrox-stackrox-master-ocp-4-13-merge-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|COLLECTOR_VERSION|EXPECTED_GO_VERSION)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-sensor-integration-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service)/
  ci/prow/gke-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  ci/prow/ocp-4-10-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-10-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  ci/prow/ocp-4-10-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|COLLECTOR_VERSION|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-10-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|COLLECTOR_VERSION|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-10-ui-e2e-tests: any of: ^ui/
  ci/prow/ocp-4-13-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-13-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  ci/prow/ocp-4-13-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|COLLECTOR_VERSION|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-13-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|COLLECTOR_VERSION|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-13-ui-e2e-tests: any of: ^ui/

ROX-20787: Prefactor notifiers for STS/WIF (#8825)
  central/graphql/resolvers/generated.go
  generated/api/v1/notifier_service.swagger.json
  generated/storage/notifier.pb.go
  proto/storage/notifier.proto
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

fix: Prune listening endpoints by deploymentid even if poduid is null (#8785)
  central/postgres/pruning.go
  central/postgres/pruning_test.go
  central/pruning/pruning_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

just what the default was
  .tekton/enterprise-contract/policy.yaml
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

simplify testing
  .tekton/roxctl-pull-request.yaml
  image/roxctl/rhtap.Dockerfile
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

same as old
  .tekton/enterprise-contract/data.yml
  .tekton/enterprise-contract/policy.yaml
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

is it the problem?
  .tekton/enterprise-contract/data.yml
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Collector probe download while in offline mode
  scripts/ci/logcheck/allowlist-patterns
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

fix(docker): use author instead of createdby (#8805)
  pkg/registries/docker/metadata_v1.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

fix(deps): remove dex dependency
  go.mod
  go.sum
  pkg/auth/authproviders/openshift/backend_impl.go
  pkg/auth/authproviders/openshift/internal/connector/connector.go
  pkg/auth/authproviders/openshift/internal/dexconnector/openshift.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

move conntecto to dexconnector
  pkg/auth/authproviders/openshift/backend_impl.go
  pkg/auth/authproviders/openshift/internal/dexconnector/connector.go
  pkg/auth/authproviders/openshift/internal/dexconnector/openshift.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

misc
  .golangci.yml
  tests/common_test.go
  tests/endpoints_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

operator
  .golangci.yml
  central/complianceoperator/v2/checkresults/service/service_impl.go
  central/complianceoperator/v2/compliancemanager/manager_impl_test.go
  central/complianceoperator/v2/integration/datastore/datastore.go
  central/complianceoperator/v2/integration/service/service_impl.go
  central/complianceoperator/v2/integration/service/service_impl_test.go
  central/complianceoperator/v2/profiles/datastore/datastore.go
  central/complianceoperator/v2/rules/datastore/datastore.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore.go
  central/complianceoperator/v2/scanconfigurations/service/convert.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl.go
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-10-compliance-e2e-tests, ci/prow/ocp-4-13-compliance-e2e-tests

sensor
  .golangci.yml
  central/sensor/service/connection/sensorevents.go
  central/sensor/service/connection/upgradecontroller/stateutils/state_machine.go
  central/sensor/service/pipeline/complianceoperatorresults/pipeline.go
  sensor/common/compliance/service_impl.go
  sensor/common/detector/enricher_test.go
  sensor/common/networkflow/manager/testing_test.go
  sensor/common/networkflow/service/service.go
  sensor/kubernetes/eventpipeline/output/output_impl.go
  sensor/kubernetes/fake/flows.go
  sensor/kubernetes/orchestrator/kubernetes.go
  sensor/tests/helper/helper.go
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests

scanner
  .golangci.yml
  scanner/e2etests/image_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

pkg
  .golangci.yml
  operator/pkg/common/extensions/mapkubeapis.go
  pkg/auth/authproviders/basic/backend_factory_impl.go
  pkg/auth/authproviders/iap/backend_impl.go
  pkg/auth/authproviders/saml/backend_impl.go
  pkg/channelmultiplexer/channelmultiplexer.go
  pkg/concurrency/value_stream.go
  pkg/cve/cve.go
  pkg/dackbox/indexer/lazy.go
  pkg/dackbox/indexer/metrics.go
  pkg/detection/runtime/detector.go
  pkg/expiringcache/mapped_queue.go
  pkg/grpc/authn/basic/identity_test_constructors.go
  pkg/grpc/authn/service/extractor.go
  pkg/grpc/server_test.go
  pkg/images/utils/utils.go
  pkg/k8sintrospect/collector.go
  pkg/k8srbac/subjects.go
  pkg/netutil/cidr.go
  pkg/nodes/enricher/enricher.go
  pkg/postgres/log.go
  pkg/postgres/tx.go
  pkg/process/filter/filter.go
  pkg/profiling/profiling.go
  pkg/registries/nexus/nexus.go
  pkg/registries/rhel/rhel.go
  pkg/renderer/auth.go
  pkg/renderer/helm_values.go
  pkg/renderer/templater.go
  pkg/rocksdb/crud/transactions.go
  pkg/sac/observe/context.go
  pkg/sac/resources/list.go
  pkg/scancomponent/component_id.go
  pkg/scanners/clair/clair.go
  pkg/scanners/quay/quay.go
  pkg/search/postgres/graph_queries_test.go
  pkg/search/postgres/query/test/uuid/index_test.go
  pkg/sliceutils/reverse.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

fix quay integration test
  pkg/scanners/quay/quay_integration_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

fix CI failures
  .golangci.yml
  Makefile
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

Update todo with follow up ticket
  pkg/helm/charts/tests/centralservices/testdata/helmtest/central.test.yaml
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

fix(deps): remove dex dependency (#8806)
  go.mod
  go.sum
  pkg/auth/authproviders/openshift/backend_impl.go
  pkg/auth/authproviders/openshift/internal/dexconnector/connector.go
  pkg/auth/authproviders/openshift/internal/dexconnector/openshift.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

ROX-20876: Adjust returned errors from tlsutils (#8840)
  pkg/tlsutils/dial_context.go
  pkg/tlsutils/dial_context_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

fix allow large files
  tools/allowed-large-files
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Try different paths
  deploy/common/k8sbased.sh
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

remove recently added unused objects
  central/cloudproviders/gcp/singleton.go
  central/convert/internaltostorage/compliance_operator_profile.go
  central/sensor/service/pipeline/complianceoperatorprofiles/pipeline.go
  central/sensor/service/pipeline/complianceoperatorprofiles/pipeline_test.go
  pkg/cloudproviders/gcp/auth/client_manager_impl.go
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

ROX-19952: Fix layout shift in Workload CVE tables (#8848)
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-10-ui-e2e-tests, ci/prow/ocp-4-13-ui-e2e-tests

Bump Collector version
  COLLECTOR_VERSION
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-ebpf-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-ebpf-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-ebpf-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-ebpf-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

send the DeduperState with the fake connection in local-sensor if the FF is enabled
  tools/local-sensor/main.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests
