Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-ebpf-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-ebpf-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-compliance-e2e-tests, ci/prow/ocp-4-10-ebpf-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-10-ui-e2e-tests, ci/prow/ocp-4-13-compliance-e2e-tests, ci/prow/ocp-4-13-ebpf-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests, ci/prow/ocp-4-13-ui-e2e-tests

openshift-oldest-qa-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.8'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

openshift-newest-qa-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.12'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

openshift-oldest-operator-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.8'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

openshift-newest-operator-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.12'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
      - --report-credentials-file=/etc/report/credentials
  ...

branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
      - --report-credentials-file=/etc/report/credentials
  ...

branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
      - --report-credentials-file=/etc/report/credentials
  ...

branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
      - --report-credentials-file=/etc/report/credentials
  ...

branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
      - --report-credentials-file=/etc/report/credentials
  ...

increase time for all osci tests
  .openshift-ci/ci_tests.py
Due: branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

image-names-in-enricher
  pkg/images/enricher/enricher_impl_test.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

ROX-17898: Work around useless error message. (#8402)
  operator/tests/upgrade/upgrade/20-upgrade-operator.yaml
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

fix(reconciliation): Revert client reconciliation (#8408)
  pkg/features/list.go
  qa-tests-backend/src/test/groovy/ReconciliationTest.groovy
  sensor/common/reconciliation/component.go
  sensor/common/sensor/central_communication_impl.go
  sensor/debugger/central/communicate_server.go
  sensor/tests/connection/connection_test.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

ROX-20535: Rename sensor InMemory stores (#8401)
  sensor/kubernetes/eventpipeline/pipeline.go
  sensor/kubernetes/listener/listener.go
  sensor/kubernetes/listener/listener_impl.go
  sensor/kubernetes/listener/resources/dispatcher.go
  sensor/kubernetes/listener/resources/hash_reconciliation.go
  sensor/kubernetes/listener/resources/hash_reconciliation_test.go
  sensor/kubernetes/listener/resources/store_provider.go
  sensor/kubernetes/listener/resources/store_provider_test.go
Due: branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

ROX-20391: disable http/2 webhook in operator - CVE-2023-44487 (#8392)
  go.mod
  go.sum
  operator/main.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

ROX-20323: Create new policy criteria modal (#8414)
  ui/apps/platform/cypress/integration/policies/policyWizardStep3.test.js
  ui/apps/platform/src/Containers/MainPage/InviteUsers/InviteUsersModal.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/PolicyCriteriaModal.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/PolicySection.tsx
Due: ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-10-ui-e2e-tests, ci/prow/ocp-4-13-ui-e2e-tests

Style fix - pass 1
  performance-scale-tests/tests/kube-burner/cluster-density/run-workload.sh
  performance-scale-tests/tests/metadata-collector/main.go
Due: branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Remove tests (module independance make tests break)
  performance-scale-tests/go.mod
  performance-scale-tests/go.sum
  performance-scale-tests/tests/metadata-collector/utility_func_test.go
Due: branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

ROX-15131: Generate test metadata and pass it to kubeburner
  performance-scale-tests/go.mod
  performance-scale-tests/go.sum
  performance-scale-tests/tests/kube-burner/cluster-density/run-workload.sh
  performance-scale-tests/tests/metadata-collector/main.go
Due: branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Add some unit tests
  performance-scale-tests/go.mod
  performance-scale-tests/go.sum
  performance-scale-tests/tests/metadata-collector/main.go
  performance-scale-tests/tests/metadata-collector/utility_func_test.go
Due: branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Address some review comments
  performance-scale-tests/tests/metadata-collector/main.go
Due: branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Add sync resources test
  central/sensor/service/pipeline/deploymentevents/pipeline_test.go
Due: branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests

Add sync resources test
  central/sensor/service/pipeline/secrets/pipeline_test.go
Due: branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests

Add sync resources test
  central/sensor/service/pipeline/networkpolicies/pipeline_test.go
Due: branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests

merge dave's branch
  image/templates/helm/shared/templates/02-scanner-v4-06-db-pvc.yaml
  image/templates/helm/shared/templates/02-scanner-v4-07-db-deployment.yaml
  image/templates/helm/shared/templates/_scanner-v4_init.tpl.htpl
  image/templates/helm/shared/templates/_scanner-v4_volume.tpl
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-central/internal/expandables.yaml
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/internal/defaults/70-scanner-v4.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/templates/sensor.yaml.htpl
  pkg/features/list.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

fix typo
  image/templates/helm/stackrox-secured-cluster/templates/sensor.yaml.htpl
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

Fixed tests for helm charts
  image/templates/helm/shared/internal/scanner-v4-config-shape.yaml
  image/templates/helm/shared/templates/02-scanner-v4-08-indexer-service.yaml
  image/templates/helm/shared/templates/02-scanner-v4-08-matcher-service.yaml
  image/templates/helm/shared/templates/_crypto.tpl
  image/templates/helm/shared/templates/_scanner-v4_init.tpl.htpl
  image/templates/helm/shared/templates/_scanner-v4_volume.tpl
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/internal/config-shape.yaml
  pkg/helm/charts/tests/centralservices/testdata/all-values-explicit.yaml
  pkg/helm/charts/tests/centralservices/testdata/autogenerate-all.yaml
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

WIP
  image/templates/helm/shared/templates/02-scanner-v4-06-db-pvc.yaml
  image/templates/helm/shared/templates/_scanner-v4_init.tpl.htpl
  pkg/helm/charts/tests/centralservices/flavor/testdata/helmtest/suite.yaml
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

Add test
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner-v4.test.yaml
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

WIP
  image/templates/helm/shared/templates/02-scanner-v4-07-indexer-deployment.yaml
  image/templates/helm/shared/templates/_scanner-v4_init.tpl.htpl
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

Tests
  .gitignore
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner-v4.test.yaml
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

WIP
  image/templates/helm/shared/templates/02-scanner-v4-03-db-tls-secret.yaml
  image/templates/helm/shared/templates/02-scanner-v4-07-indexer-deployment.yaml
  image/templates/helm/shared/templates/02-scanner-v4-07-matcher-deployment.yaml
  image/templates/helm/shared/templates/_scanner-v4_init.tpl.htpl
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  pkg/helm/charts/tests/centralservices/flavor/testdata/helmtest/suite.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/suite.yaml
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

Modified scanner v4 configs and resources for deployment
  image/templates/helm/shared/config-templates/scanner-v4/indexer-config.yaml.tpl
  image/templates/helm/shared/config-templates/scanner-v4/matcher-config.yaml.tpl
  image/templates/helm/shared/templates/02-scanner-v4-07-indexer-deployment.yaml
  image/templates/helm/shared/templates/02-scanner-v4-07-matcher-deployment.yaml
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

Inject password file into scanner v4 db init container
  image/templates/helm/shared/templates/02-scanner-v4-07-db-deployment.yaml
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

Work on scanner v4 integration into Helm chart
  image/templates/helm/shared/templates/02-scanner-v4-07-db-deployment.yaml
  image/templates/helm/shared/templates/_scanner-v4_init.tpl.htpl
  image/templates/helm/shared/templates/_scanner-v4_volume.tpl
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-central/templates/NOTES.txt.htpl
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/internal/defaults/70-scanner-v4.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/NOTES.txt.htpl
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

Simplify Helm code
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

Removed persistence line
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

Only configure Scanner V4 certs when deploying central-services
  image/templates/helm/shared/templates/_scanner-v4_init.tpl.htpl
  image/templates/helm/stackrox-central/templates/NOTES.txt.htpl
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

Use sslrootcert= in DB connection string and provide db password in indexer & matcher config
  image/templates/helm/shared/config-templates/scanner-v4/indexer-config.yaml.tpl
  image/templates/helm/shared/config-templates/scanner-v4/matcher-config.yaml.tpl
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-13-operator-e2e-tests, ci/prow/ocp-4-13-qa-e2e-tests

Add sync resources test
  central/sensor/service/pipeline/serviceaccounts/pipeline_test.go
Due: branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests

Add sync resources test
  central/sensor/service/pipeline/roles/pipeline_test,go.go
Due: branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests

Add EXPECT statements
  central/sensor/service/pipeline/roles/pipeline_test,go.go
Due: branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests

ROX-17653: add pods names to pod restart junit
  tests/e2e/lib.sh
Due: branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Path conditions:
  openshift-oldest-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-ocp-4-10-merge-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  branch-ci-stackrox-stackrox-master-ocp-4-10-merge-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  branch-ci-stackrox-stackrox-master-ocp-4-10-merge-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  branch-ci-stackrox-stackrox-master-ocp-4-10-merge-qa-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-ocp-4-13-merge-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  branch-ci-stackrox-stackrox-master-ocp-4-13-merge-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  branch-ci-stackrox-stackrox-master-ocp-4-13-merge-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  branch-ci-stackrox-stackrox-master-ocp-4-13-merge-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|COLLECTOR_VERSION|EXPECTED_GO_VERSION)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-sensor-integration-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service)/
  ci/prow/gke-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  ci/prow/ocp-4-10-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-10-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  ci/prow/ocp-4-10-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|COLLECTOR_VERSION|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-10-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|COLLECTOR_VERSION|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-10-ui-e2e-tests: any of: ^ui/
  ci/prow/ocp-4-13-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-13-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  ci/prow/ocp-4-13-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|COLLECTOR_VERSION|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-13-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|COLLECTOR_VERSION|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-13-ui-e2e-tests: any of: ^ui/
