Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: gke-qa-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-compliance-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests, ci/prow/ocp-4-20-ui-e2e-tests

gke-qa-e2e-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

gke-sensor-integration-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

gke-operator-e2e-tests:
  optional: true
  steps:
    workflow: stackrox-stackrox-e2e-job

gke-scanner-v4-install-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

merge-gke-nongroovy-compatibility-tests:
  postsubmit: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
      - --report-credentials-file=/etc/report/credentials
  ...

ci/prow/gke-operator-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-qa-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-scanner-v4-install-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-sensor-integration-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/ocp-4-12-compliance-e2e-tests:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: ocp-4-12
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ROX-33389: Fix misc tsc errors in PF6 migration (#19221)
  ui/apps/platform/src/Containers/BaseImages/BaseImagesModal.tsx
  ui/apps/platform/src/Containers/BaseImages/BaseImagesPage.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/AgingImagesChart.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ComplianceLevelsByStandardChart.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicyCategoryChart.tsx
  ui/apps/platform/src/Containers/MainPage/Navigation/NavigationSidebar.tsx
  ui/apps/platform/src/Containers/Violations/Details/ViolationDetails.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

Another v5
  ui/apps/platform/src/Containers/Policies/Wizard/Step4/InclusionScopeCard.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

ROX-31794: Fix remaining pf6 codemod errors (#19235)
  ui/apps/platform/src/Components/CompoundSearchFilter/components/SearchFilterAutocompleteSelect.tsx
  ui/apps/platform/src/Components/NotifierConfiguration/NotifierConfigurationForm.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopeForm.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CoveragesPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/ProfileDetailsHeader.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/EditScanConfigDetail.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/IntegrationTile.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step4/PolicyScopeCardBase.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/VerifiedSignatureLabel.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

fix(ui): Fix PF6 component test failures (#19275)
  ui/apps/platform/src/Containers/BaseImages/BaseImagesModal.cy.jsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicyCategory.cy.jsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/components/NodeComponentsTable.cy.jsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

ROX-31791: PF6 fixes for System Config (#19198)
  ui/apps/platform/cypress/integration/systemConfig/systemConfig.selectors.js
  ui/apps/platform/cypress/integration/systemConfig/systemConfig.test.js
  ui/apps/platform/src/Containers/SystemConfig/Details/SystemConfigDetails.tsx
  ui/apps/platform/src/Containers/SystemConfig/Form/SystemConfigForm.tsx
  ui/apps/platform/src/Containers/SystemConfig/SystemConfigPage.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

ROX-31764: Clean up remaining pf-v5 overrides (#19266)
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopes.css
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/LabelSelectorCard.tsx
  ui/apps/platform/src/Containers/Dashboard/DashboardPage.tsx
  ui/apps/platform/src/Containers/Dashboard/NamespaceSelect.css
  ui/apps/platform/src/Containers/Dashboard/NamespaceSelect.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/SyslogIntegrationForm.css
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/SyslogIntegrationForm.tsx
  ui/apps/platform/src/Containers/MainPage/Header/OrchestratorComponentsToggle.css
  ui/apps/platform/src/Containers/MainPage/Header/OrchestratorComponentsToggle.tsx
  ui/apps/platform/src/Containers/MainPage/Navigation/HorizontalSubnav.css
  ui/apps/platform/src/Containers/NetworkGraph/Topology.css
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentDetails.css
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentDetails.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/SimulationFrame.tsx
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTable.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step1/MitreAttackVectorsFormSection.css
  ui/apps/platform/src/Containers/Policies/Wizard/Step1/MitreAttackVectorsFormSection.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step5/PolicyEnforcementForm.css
  ui/apps/platform/src/Containers/Policies/Wizard/Step5/PolicyEnforcementForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/VirtualMachine/VirtualMachineComponentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/ConfigReportsTab.tsx
  ui/apps/platform/src/css/acs.css
  ui/apps/platform/src/css/trumps.css
Due: ci/prow/ocp-4-20-ui-e2e-tests

Fix branding test
  ui/apps/platform/cypress/integration/productBranding.test.js
Due: ci/prow/ocp-4-20-ui-e2e-tests

ROX-33553: CheckboxSelect onBlur regression breaks Formik validation (#19360)
  ui/apps/platform/cypress/integration/compliance-enhanced/complianceEnhancedScanConfigs.test.js
  ui/apps/platform/src/Components/PatternFly/CheckboxSelect.tsx
  ui/apps/platform/src/Components/PatternFly/DayPickerDropdown.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ScanConfigOptions.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

ROX-30627: Testing and adapting for cloud JIRA (#213)
  .github/properties
  .github/workflows/cut-rc.yml
  .github/workflows/notify-milestone-change.yml
  .github/workflows/scripts/check-jira-issues.sh
  .github/workflows/scripts/check-jira-release.sh
  .github/workflows/scripts/common.sh
  .github/workflows/scripts/verify-release.sh
  .github/workflows/start-release.yml
  .github/workflows/verify-release.yml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

add missing backport
  .github/workflows/scripts/local-env.sh
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

Undo ignoring shellcheck directive
  .github/workflows/scripts/local-env.sh
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

fix(roxctl): Move RPM prefetch params to basic-component-pipeline
  .tekton/basic-component-pipeline.yaml
  .tekton/roxctl-build.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

master-base/gualvare/fix-compliance-custom-rules-gotchas: save prepared branch
  prepared/master-base/gualvare/fix-compliance-custom-rules-gotchas
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

branch submit master-base/gualvare/fix-compliance-custom-rules-gotchas
  branches/master-base/gualvare/fix-compliance-custom-rules-gotchas
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

master-base/gualvare/fix-compliance-custom-rules-gotchas: clear prepared branch
  prepared/master-base/gualvare/fix-compliance-custom-rules-gotchas
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

Post stack navigation comments
  branches/master-base/gualvare/fix-compliance-custom-rules-gotchas
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

ROX-33193: update junit2jira (#19436)
  .github/actions/junit2jira/action.yaml
  .github/workflows/build.yaml
  .github/workflows/scanner-build.yaml
  .github/workflows/unit-tests.yaml
  scripts/ci/lib.sh
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests

ROX-33097: add time-of-day picker, DAILY interval, and retry logic (#19048)
  central/reports/scheduler/v2/scheduler_impl.go
  central/reports/scheduler/v2/scheduler_impl_test.go
  central/reports/service/v2/convert.go
  central/reports/service/v2/convert_test.go
  central/reports/validation/validate.go
  central/reports/validation/validate_test.go
  generated/api/v2/report_service.pb.go
  generated/api/v2/report_service.swagger.json
  pkg/env/vulnerability_management.go
  pkg/protoconv/schedule/schedule.go
  pkg/protoconv/schedule/schedule_test.go
  proto/api/v2/report_service.proto
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests, ci/prow/ocp-4-20-ui-e2e-tests

ROX-33569: Rotate TLS session ticket keys on TLS certificate rotation (#19384)
  pkg/mtls/certwatch/tls_config_holder.go
  pkg/mtls/certwatch/tls_config_holder_test.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

ROX-33555: Add sensor cap checks for SensorAck for node scanning (#19418)
  central/sensor/service/common/message_injector.go
  central/sensor/service/common/sensor_ack.go
  central/sensor/service/connection/upgradecontroller/register_connection_test.go
  central/sensor/service/connection/upgradecontroller/upgrade_controller_test.go
  central/sensor/service/pipeline/nodeindex/pipeline.go
  central/sensor/service/pipeline/nodeindex/pipeline_test.go
  central/sensor/service/pipeline/nodeinventory/pipeline.go
  central/sensor/service/pipeline/nodeinventory/pipeline_test.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-20-ui-e2e-tests

chore(upgrade): Bump 4.8 and 4.9 versions
  tests/upgrade/postgres_run.sh
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

fix(CI): update triage periodic to jira cloud
  .github/workflows/triage-report_periodic.yml
  scripts/run-support-triage-report.sh
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

ROX-30627: Testing and adapting for cloud JIRA (#213) (#19438)
  .github/properties
  .github/workflows/cut-rc.yml
  .github/workflows/notify-milestone-change.yml
  .github/workflows/scripts/check-jira-issues.sh
  .github/workflows/scripts/check-jira-release.sh
  .github/workflows/scripts/common.sh
  .github/workflows/scripts/local-env.sh
  .github/workflows/scripts/verify-release.sh
  .github/workflows/start-release.yml
  .github/workflows/verify-release.yml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

ROX-33206: Update cypress 15.12.0 (#19423)
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
Due: ci/prow/ocp-4-20-ui-e2e-tests

X-Smart-Squash: Squashed 2 commits:
  doc/PATTERNS.md
  doc/SPEC.md
  doc/features/README.md
  doc/features/admission-control.md
  doc/features/alerts-notifications.md
  doc/features/audit-logging.md
  doc/features/authentication.md
  doc/features/backup-restore.md
  doc/features/certificate-management.md
  doc/features/cluster-management.md
  doc/features/compliance.md
  doc/features/helm-configuration.md
  doc/features/image-registry-integration.md
  doc/features/network-visibility.md
  doc/features/operator-deployment.md
  doc/features/policy-engine.md
  doc/features/rbac-access-control.md
  doc/features/risk-scoring.md
  doc/features/roxctl-cli.md
  doc/features/runtime-detection.md
  doc/features/vulnerability-scanning.md
  doc/features/workload-visibility.md
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

fix(ui): hide Attempted tab in Node violations view
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

test(ui): add e2e tests for hidden Attempted tab in Node view
  ui/apps/platform/cypress/integration/violations/Violations.helpers.js
  ui/apps/platform/cypress/integration/violations/violations.test.js
Due: ci/prow/ocp-4-20-ui-e2e-tests

fix(ui): inline nodeWorkflowView constant for Attempted tab hiding
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

ROX-30588: Update claircore
  compliance/node/index/indexer.go
  go.mod
  go.sum
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-4-20-compliance-e2e-tests

style(ui): fix prettier formatting in ViolationsTablePage
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

feat(clusters): allow operator install method on non-OpenShift platforms
  ui/apps/platform/src/Containers/Clusters/ClusterRegistrationSecrets/SecureClusterUsingOperator.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundleForm.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/SecureClusterUsingOperator.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

ROX-33574: Don't forget to configure scanner pull secrets (#19383)
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/image-pull-secrets.test.yaml
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests

master-base/gualvare/fix-compliance-use-tp-metadata-always: restacked on master-base/gualvare/ROX-31229-tailored-profiles-tracking
  branches/master-base/gualvare/fix-compliance-use-tp-metadata-always
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

master-base/gualvare/ROX-33477-update-ssb-logic-to-handle-tp: restacked on master-base/gualvare/fix-compliance-use-tp-metadata-always
  branches/master-base/gualvare/ROX-33477-update-ssb-logic-to-handle-tp
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

master-base/gualvare/fix-compliance-custom-rules-gotchas: restacked on master-base/gualvare/ROX-33477-update-ssb-logic-to-handle-tp
  branches/master-base/gualvare/fix-compliance-custom-rules-gotchas
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

fix(clusters): simplify onChangePlatform and fix ClipboardCopy whitespace
  ui/apps/platform/src/Containers/Clusters/ClusterRegistrationSecrets/SecureClusterUsingOperator.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundleForm.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

refactor(clusters): narrow InstallationKey and PlatformKey types
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundleForm.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundleForm.utils.ts
Due: ci/prow/ocp-4-20-ui-e2e-tests

Path conditions:
  gke-qa-e2e-tests: unless all of: ^ui/
  gke-sensor-integration-tests: any of: ^sensor/
  gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  gke-scanner-v4-install-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|operator|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  merge-gke-nongroovy-compatibility-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests: unless all of: ^ui/
  ci/prow/gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-scanner-v4-install-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|operator|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/gke-sensor-integration-tests: any of: ^sensor/
  ci/prow/ocp-4-12-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-12-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-12-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-12-scanner-v4-install-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|operator|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-4-20-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-20-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-20-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-20-scanner-v4-install-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|operator|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-4-20-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)
