Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Path conditions:
  openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/gke-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-upgrade-tests: any of: ^(migrator/|^image/)
  ci/prow/openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)

Add fix for unstable component key and fill out tests (#3491)
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByLabelSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByNameSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.test.tsx
  ui/apps/platform/src/hooks/useIndexKey.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Added logging
  central/processlisteningonport/service/service_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Add field IDs to name and label selector components
  ui/apps/platform/src/Containers/Collections/RuleSelector/AutoCompleteSelect.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByLabelSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByNameSelector.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Update typeahead aria label text
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByLabelSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByNameSelector.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

fix tests
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByLabelSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.test.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

remove
  central/cve/fetcher/fetch_utils.go
  central/cve/fetcher/istio.go
  central/cve/fetcher/manager_impl.go
  central/cve/fetcher/manager_impl_test.go
  central/cve/fetcher/testdata/checksum
  central/cve/fetcher/testdata/correct_cves.json
  central/cve/fetcher/testdata/cve-list.json
  central/cve/fetcher/testdata/cve_checksum
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

feat: added gosec G101
  .golangci.yml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Add field IDs to name and label selector components (#3556)
  ui/apps/platform/src/Containers/Collections/RuleSelector/AutoCompleteSelect.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByLabelSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByNameSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.test.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

feat: added gosec G103
  .golangci.yml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Added logging. Passing in deployment from API request to query. Removed deployments from test
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/service/service_impl.go
  qa-tests-backend/src/test/groovy/ProcessesListeningOnPortsTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

update nil checks and add tests with current data
  central/cve/converter/utils/convert_utils.go
  central/cve/converter/utils/convert_utils_test.go
  central/cve/converter/utils/testdata/cve-list.json
  central/cve/fetcher/istio.go
  central/cve/fetcher/manager_impl_postgres_test.go
  central/cve/fetcher/manager_impl_test.go
  central/cve/fetcher/mock_scanner.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

fix error message
  central/cve/converter/utils/convert_utils.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

add large file
  tools/allowed-large-files
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

fix: fixed gosec warnings
  central/idmap/shared_storage.go
  pkg/concurrency/error_signal.go
  pkg/concurrency/signal.go
  pkg/concurrency/value_stream.go
  pkg/grpc/authn/basic/manager.go
  pkg/grpc/util/lazy_conn.go
  pkg/protoreflect/slice_id.go
  pkg/sac/effectiveaccessscope/conversion.go
  pkg/testutils/full_init.go
  sensor/admission-control/manager/manager_impl.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Return blank response if there is an error
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/service/service_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

fix: fixed gosec warnings
  central/main.go
  central/metadata/service/service_impl_test.go
  central/notifiers/pagerduty/pagerduty_test.go
  operator/pkg/proxy/status_condition.go
  pkg/auth/authproviders/oidc/backend_impl.go
  pkg/auth/htpasswd/reader_test.go
  pkg/booleanpolicy/violationmessages/printer/automountserviceaccounttoken.go
  pkg/satoken/paths.go
  pkg/testutils/centralgrpc/connect_to_central.go
  roxctl/common/auth.go
  roxctl/common/report/report.go
  sensor/common/centralclient/client_test.go
  sensor/kubernetes/sensor/deployment_identification.go
  sensor/upgrader/common/filter_test.go
  sensor/upgrader/snapshot/defs.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Swap myPermissions and loginAuthProviders in routeMatcherMap
  ui/apps/platform/cypress/helpers/visit.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Fix shell check linter for deploy/common/deploy.sh - address review comments
  deploy/common/deploy.sh
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

ROX-13204: Create endpoint to generate central db certificates
  central/certgen/central_scanner.go
  central/certgen/service.go
  pkg/mtls/crypto.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Trying to fix tests
  qa-tests-backend/src/main/groovy/services/ProcessesListeningOnPortsService.groovy
  qa-tests-backend/src/test/groovy/ProcessesListeningOnPortsTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

style
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Trying to return multiple processes listening on ports
  central/processlisteningonport/datastore/datastore.go
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/service/service_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

fix: shellcheck fixes for roxctl.sh
  dev-tools/roxctl.sh
  scripts/style/shellcheck_skip.txt
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Update deploy-local.sh
  deploy/k8s/deploy-local.sh
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Update shellcheck_skip.txt
  scripts/style/shellcheck_skip.txt
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

fix: cherry-pick finish-release to avoid auto-trigger on release publish (#3575)
  .github/workflows/finish-release.yml
  .github/workflows/variables.yml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-12976: fix: cherry-pick finish-release to avoid auto-trigger on release publish (#3574)
  .github/workflows/finish-release.yml
  .github/workflows/variables.yml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

dummy
  README.md
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

implement RBAC dependency resolution
  sensor/kubernetes/eventpipeline/message/message.go
  sensor/kubernetes/eventpipeline/resolver/resolver.go
  sensor/kubernetes/listener/resource_event_handler.go
  sensor/kubernetes/listener/resources/deployment_dependency.go
  sensor/kubernetes/listener/resources/deployment_store.go
  sensor/kubernetes/listener/resources/rbac/dispatcher.go
  sensor/kubernetes/listener/resources/rbac/store.go
  sensor/kubernetes/listener/resources/rbac/store_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Reformat go.mod
  go.mod
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

feat: added gosec G101 (#3566)
  .golangci.yml
  central/main.go
  central/metadata/service/service_impl_test.go
  central/notifiers/pagerduty/pagerduty_test.go
  operator/pkg/proxy/status_condition.go
  pkg/auth/authproviders/oidc/backend_impl.go
  pkg/auth/htpasswd/reader_test.go
  pkg/booleanpolicy/violationmessages/printer/automountserviceaccounttoken.go
  pkg/satoken/paths.go
  pkg/testutils/centralgrpc/connect_to_central.go
  roxctl/common/auth.go
  roxctl/common/report/report.go
  sensor/common/centralclient/client_test.go
  sensor/kubernetes/sensor/deployment_identification.go
  sensor/upgrader/common/filter_test.go
  sensor/upgrader/snapshot/defs.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests
