Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Path conditions:
  openshift-oldest-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/gke-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-postgres-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  ci/prow/ocp-4-10-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-10-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-12-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-12-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)

Correct the job name
  .github/workflows/unit-tests.yaml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Adjust type for migration VersionAfter field
  tools/generate-helpers/bootstrap-migration/migration.go.tpl
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Add missing imports to migration template + adjust source root in wrapper script
  tools/generate-helpers/bootstrap-migration/migration.go.tpl
  tools/generate-helpers/bootstrap_new_migration
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Add utility to prepare datastore migration
  tools/generate-helpers/bootstrap-migration/main.go
  tools/generate-helpers/bootstrap-migration/migration.go.tpl
  tools/generate-helpers/bootstrap-migration/migration_test.go.tpl
  tools/generate-helpers/bootstrap-migration/seq_num.go.tpl
  tools/generate-helpers/bootstrap_new_migration
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Adjust TODO format so it fails style checks
  tools/generate-helpers/bootstrap-migration/migration_impl.go.tpl
  tools/generate-helpers/bootstrap-migration/migration_test.go.tpl
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

add TODO to clean the TODOs + fix gosec issue on file close
  tools/generate-helpers/bootstrap-migration/main.go
  tools/generate-helpers/bootstrap-migration/migration.go.tpl
  tools/generate-helpers/bootstrap-migration/migration_test.go.tpl
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Re-generate
  migrator/migrations/m_186_to_m_187_test_new_migration_generation/migration_impl.go
  migrator/migrations/m_186_to_m_187_test_new_migration_generation/migration_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

Add some TODO actions to generated files
  tools/generate-helpers/bootstrap-migration/migration.go.tpl
  tools/generate-helpers/bootstrap-migration/migration_test.go.tpl
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Re-generate showcase migration
  migrator/migrations/m_186_to_m_187_test_new_migration_generation/migration_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

Update TODO format
  migrator/migrations/m_186_to_m_187_test_new_migration_generation/migration_impl.go
  migrator/migrations/m_186_to_m_187_test_new_migration_generation/migration_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

chore(tooling): test make bootstrap_migration
  migrator/migrations/m_186_to_m_187_test_new_migration_generation/migration.go
  migrator/migrations/m_186_to_m_187_test_new_migration_generation/migration_impl.go
  migrator/migrations/m_186_to_m_187_test_new_migration_generation/migration_test.go
  migrator/runner/all.go
  pkg/migrations/internal/seq_num.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Re-factor migration template to separate infrastructure code from user-written code
  Makefile
  tools/generate-helpers/bootstrap-migration/main.go
  tools/generate-helpers/bootstrap-migration/migration.go.tpl
  tools/generate-helpers/bootstrap-migration/migration_impl.go.tpl
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Address review comments
  migrator/README.md
  tools/generate-helpers/bootstrap-migration/main.go
  tools/generate-helpers/bootstrap-migration/migration.go.tpl
  tools/generate-helpers/bootstrap-migration/migration_impl.go.tpl
  tools/generate-helpers/bootstrap-migration/migration_test.go.tpl
  tools/generate-helpers/bootstrap-migration/seq_num.go.tpl
  tools/generate-helpers/bootstrap_new_migration
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

Style fix (gofmt)
  migrator/migrations/m_186_to_m_187_test_new_migration_generation/migration_impl.go
  migrator/migrations/m_186_to_m_187_test_new_migration_generation/migration_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

Fix generated test file
  tools/generate-helpers/bootstrap-migration/migration_test.go.tpl
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Make indentation consistent in generated files
  tools/generate-helpers/bootstrap-migration/migration.go.tpl
  tools/generate-helpers/bootstrap-migration/migration_impl.go.tpl
  tools/generate-helpers/bootstrap-migration/migration_test.go.tpl
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Style fix on template files
  tools/generate-helpers/bootstrap-migration/migration_impl.go.tpl
  tools/generate-helpers/bootstrap-migration/migration_test.go.tpl
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Re-generate with consistent indent in template files
  migrator/migrations/m_186_to_m_187_test_new_migration_generation/migration.go
  migrator/migrations/m_186_to_m_187_test_new_migration_generation/migration_impl.go
  migrator/migrations/m_186_to_m_187_test_new_migration_generation/migration_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

Update todo in templates to not trigger style checks
  tools/generate-helpers/bootstrap-migration/migration_impl.go.tpl
  tools/generate-helpers/bootstrap-migration/migration_test.go.tpl
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

fix auto-generated comment in runner file
  tools/generate-helpers/bootstrap-migration/main.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Adjust Makefile target
  Makefile
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Isolate MinimumSupportedDBVersionSeqNum variable and its management
  migrator/runner/all.go
  pkg/migrations/internal/fallback_seq_num.go
  pkg/migrations/internal/seq_num.go
  tools/generate-helpers/bootstrap-migration/migration_impl.go.tpl
  tools/generate-helpers/bootstrap-migration/seq_num.go.tpl
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Attempt to cleanup helm command
  deploy/common/k8sbased.sh
  tests/e2e/lib.sh
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

the start
  generated/storage/compliance_integration.pb.go
  proto/storage/compliance_integration.proto
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

proto and stores
  central/complianceoperatorintegration/store/postgres/gen.go
  central/complianceoperatorintegration/store/postgres/store.go
  central/complianceoperatorintegration/store/postgres/store_test.go
  pkg/postgres/schema/compliance_integrations.go
  pkg/search/options.go
  tools/generate-helpers/pg-table-bindings/list.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

new line
  proto/storage/compliance_integration.proto
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-18200: Handle error object when networkpolicy request fails (#6798)
  ui/apps/platform/src/Containers/NetworkGraph/common/NetworkPolicies.tsx
  ui/apps/platform/src/hooks/useFetchNetworkPolicies.ts
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Allow network policy YAML to display in UI after partial errors
  ui/apps/platform/src/Containers/NetworkGraph/common/NetworkPolicies.tsx
  ui/apps/platform/src/hooks/useFetchNetworkPolicies.ts
  ui/apps/platform/src/services/NetworkService.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Prefer warning alert variant
  ui/apps/platform/src/Containers/NetworkGraph/common/NetworkPolicies.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

ROX-18162: Delete Network Graph 1.0 reducers and sagas (#6782)
  ui/apps/platform/cypress/integration/networkGraphPF/networkGraph.helpers.js
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/MainPage/Header/MastheadToolbar.tsx
  ui/apps/platform/src/Containers/MainPage/Header/OrchestratorComponentsToggle.tsx
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/TopologyComponent.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/SimulateNetworkPolicyButton.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/networkGraphURLUtils.ts
  ui/apps/platform/src/constants/useCaseTypes.js
  ui/apps/platform/src/messages/useCase.js
  ui/apps/platform/src/reducers/clusters.js
  ui/apps/platform/src/reducers/index.js
  ui/apps/platform/src/reducers/network/backend.js
  ui/apps/platform/src/reducers/network/baselineSimulation.ts
  ui/apps/platform/src/reducers/network/dialogue.js
  ui/apps/platform/src/reducers/network/graph.js
  ui/apps/platform/src/reducers/network/page.js
  ui/apps/platform/src/reducers/network/reducer.js
  ui/apps/platform/src/reducers/network/search.js
  ui/apps/platform/src/reducers/network/sidepanel.js
  ui/apps/platform/src/reducers/pageSearch.ts
  ui/apps/platform/src/routePaths.js
  ui/apps/platform/src/sagas/clusterSagas.js
  ui/apps/platform/src/sagas/index.js
  ui/apps/platform/src/sagas/integrationSagas.js
  ui/apps/platform/src/sagas/networkSagas.js
  ui/apps/platform/src/sagas/searchAutocompleteSagas.js
  ui/apps/platform/src/services/ClustersService.ts
  ui/apps/platform/src/utils/networkLink.utils.js
  ui/apps/platform/src/utils/networkNode.utils.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Fix syntax
  tests/e2e/lib.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

feat: Add utility to prepare datastore migrations (#5193)
  Makefile
  migrator/README.md
  migrator/runner/all.go
  pkg/migrations/internal/fallback_seq_num.go
  tools/generate-helpers/bootstrap-migration/main.go
  tools/generate-helpers/bootstrap-migration/migration.go.tpl
  tools/generate-helpers/bootstrap-migration/migration_impl.go.tpl
  tools/generate-helpers/bootstrap-migration/migration_test.go.tpl
  tools/generate-helpers/bootstrap-migration/seq_num.go.tpl
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

refactor(ui): Allow netpol YAML to display in UI after partial errors (#6802)
  ui/apps/platform/src/Containers/NetworkGraph/common/NetworkPolicies.tsx
  ui/apps/platform/src/hooks/useFetchNetworkPolicies.ts
  ui/apps/platform/src/services/NetworkService.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Added extra test case
  central/reportconfigurations/datastore/datastore_impl_v2_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Added sql directive
  central/reportconfigurations/datastore/datastore_impl_v2_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests
