Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Path conditions:
  openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/gke-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-upgrade-tests: any of: ^(migrator/|^image/)
  ci/prow/openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)

Pass contexts instead of copying them to honor context cancellations (#4735)
  pkg/search/postgres/common.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

ROX-14904, ROX-14661: fix OSCI config PR and improve cherry-picking in Release GHA workflows
  .github/workflows/lint.yml
  .github/workflows/scripts/cherry-pick.sh
  .github/workflows/scripts/patch-changelog.sh
  .github/workflows/start-release.yml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-15040: Remove Central DB enabled option (#4842)
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-central/templates/01-central-00-db-serviceaccount.yaml
  image/templates/helm/stackrox-central/templates/01-central-02-db-psps.yaml
  image/templates/helm/stackrox-central/templates/01-central-02-db-security.yaml
  image/templates/helm/stackrox-central/templates/01-central-08-db-configmap.yaml
  image/templates/helm/stackrox-central/templates/01-central-08-external-db-configmap.yaml
  image/templates/helm/stackrox-central/templates/01-central-10-db-networkpolicy.yaml
  image/templates/helm/stackrox-central/templates/01-central-11-db-pvc.yaml
  image/templates/helm/stackrox-central/templates/01-central-12-central-db.yaml
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml
  image/templates/helm/stackrox-central/templates/_central_setup.tpl
  image/templates/helm/stackrox-central/values-public.yaml.example.htpl
  image/templates/helm/stackrox-central/values.yaml.htpl
  operator/pkg/central/values/translation/translation.go
  operator/pkg/central/values/translation/translation_test.go
  operator/tests/central/basic/80-assert.yaml
  operator/tests/central/basic/81-assert.yaml
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

adjust sleep so we can try for 100 seconds
  tests/external_backup_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Add routing and stubbed page components for Workload CVEs (#4888)
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesDeploymentSinglePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesImageSinglePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesSinglePage.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Fix service account removal test by using scoped query (#4889)
  qa-tests-backend/src/main/groovy/services/ServiceAccountService.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Ignore context cancelled errors in logging
  pkg/search/postgres/common.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Support for min, max, count, sum, avg in queries
  generated/api/v1/search_service.pb.go
  generated/storage/operation_status.pb.go
  pkg/search/postgres/aggr_func.go
  pkg/search/postgres/common.go
  pkg/search/postgres/common_test.go
  pkg/search/postgres/joins.go
  pkg/search/postgres/select_query_test.go
  pkg/search/query_builder.go
  proto/api/v1/search_service.proto
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

rename proto message
  generated/api/v1/search_service.pb.go
  pkg/search/postgres/common.go
  pkg/search/postgres/common_test.go
  pkg/search/postgres/select_query_test.go
  pkg/search/query_builder.go
  proto/api/v1/search_service.proto
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

misc proto cleanup
  proto/storage/operation_status.proto
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

address comments+refactor
  pkg/search/postgres/aggr_func.go
  pkg/search/postgres/common.go
  pkg/search/postgres/common_test.go
  pkg/search/postgres/select_query_test.go
  pkg/search/postgres/testutils.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

style
  pkg/search/postgres/select_query_test.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

comprehensive aggr func name
  pkg/search/postgres/aggr_func.go
  pkg/search/postgres/common.go
  pkg/search/postgres/common_test.go
  pkg/search/postgres/select_query_test.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

ROX-14973: Support CronJobs in a backwards compatible way (#4853) (#4875)
  sensor/admission-control/manager/k8s_object.go
  sensor/kubernetes/listener/resource_event_handler.go
  sensor/kubernetes/listener/resources/convert.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-14973: Support CronJobs in a backwards compatible way (#4853) (#4877)
  sensor/admission-control/manager/k8s_object.go
  sensor/kubernetes/listener/resource_event_handler.go
  sensor/kubernetes/listener/resources/convert.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Postgres search enhancements: part 3 (#4714)
  generated/api/v1/search_service.pb.go
  generated/storage/operation_status.pb.go
  pkg/search/postgres/aggr_func.go
  pkg/search/postgres/common.go
  pkg/search/postgres/common_test.go
  pkg/search/postgres/joins.go
  pkg/search/postgres/select_query_test.go
  pkg/search/postgres/testutils.go
  pkg/search/query_builder.go
  proto/api/v1/search_service.proto
  proto/storage/operation_status.proto
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Ignore context canceled errors in logging (#4893)
  pkg/search/postgres/common.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

ROX-15059: Catch initial restarts
  COLLECTOR_VERSION
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Fixed check for postgres in e2e test
  qa-tests-backend/src/test/groovy/ProcessesListeningOnPortsTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Uncommented assert
  qa-tests-backend/src/test/groovy/ProcessesListeningOnPortsTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Removed ProcessListeningOnPort from SensorEvent
  proto/internalapi/central/sensor_events.proto
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Addressed PR review comments
  central/main.go
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/service/service.go
  central/processlisteningonport/service/service_impl.go
  qa-tests-backend/src/test/groovy/ProcessesListeningOnPortsTest.groovy
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/ResourceDescription.tsx
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-ui-e2e-tests

Removed unused import in sensor_events.proto
  proto/internalapi/central/sensor_events.proto
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Process Listening On Port Public API
  central/main.go
  central/processlisteningonport/service/service.go
  central/processlisteningonport/service/service_impl.go
  central/processlisteningonport/service/singleton.go
  generated/api/v1/process_listening_on_port_service.pb.go
  generated/api/v1/process_listening_on_port_service.pb.gw.go
  generated/api/v1/process_listening_on_port_service.swagger.json
  proto/api/v1/process_listening_on_port_service.proto
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Process Listening On Port E2E tests
  qa-tests-backend/src/main/groovy/services/ProcessesListeningOnPortsService.groovy
  qa-tests-backend/src/test/groovy/ProcessesListeningOnPortsTest.groovy
  tests/e2e/lib.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Improved the check for postgres in the e2e test
  qa-tests-backend/src/test/groovy/ProcessesListeningOnPortsTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Changed name of processes listening on ports service
  central/processlisteningonport/service/service_impl.go
  generated/api/v1/process_listening_on_port_service.pb.go
  generated/api/v1/process_listening_on_port_service.pb.gw.go
  generated/api/v1/process_listening_on_port_service.swagger.json
  proto/api/v1/process_listening_on_port_service.proto
  qa-tests-backend/src/test/groovy/ProcessesListeningOnPortsTest.groovy
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Fixed style error
  central/processlisteningonport/service/service_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

make proto-generated-srcs
  generated/internalapi/central/sensor_events.pb.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Internal API support for PLOP
  generated/internalapi/central/sensor_events.pb.go
  proto/internalapi/central/sensor_events.proto
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests
