Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Path conditions:
  openshift-oldest-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/gke-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-postgres-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  ci/prow/ocp-4-10-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-10-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-12-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-12-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)

feat(scanner): Introduce the initial Scanner Matcher (#7843)
  scanner/cmd/scanner/main.go
  scanner/cmd/scannerctl/main.go
  scanner/indexer/indexer.go
  scanner/matcher/matcher.go
  scanner/matcher/mocks/matcher.go
  scanner/services/converters/converters_test.go
  scanner/services/indexer.go
  scanner/services/matcher.go
  scanner/services/matcher_test.go
  scanner/services/validators/validators.go
  scanner/services/validators/validators_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

clean up and use Contains
  central/processlisteningonport/datastore/datastore.go
  central/pruning/pruning_test.go
  migrator/migrations/m_190_to_m_191_plop_add_closed_time_column/migration_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

Add config name to report config details in email preview (#7949)
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/EmailTemplatePreview.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Fix style-check
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-14127: VulnScanWithGraphQLTest multi-arch image update (#6569)
  qa-tests-backend/src/test/groovy/VulnScanWithGraphQLTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-19910: Add administration events query string to page address
  ui/apps/platform/cypress/integration/administration/events/AdministrationEvents.helpers.js
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEvent.tsx
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventDescription.tsx
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventHintMessage.tsx
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventsPage.tsx
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventsTable.tsx
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventsToolbar.tsx
  ui/apps/platform/src/services/AdministrationEventsService.ts
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

fix(bug): Use set hash on exposure infos due to same service name (#7956)
  generated/storage/deployment.pb.go
  proto/storage/deployment.proto
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Add encryption util pkg
  central/notifiers/utils/encryption.go
  pkg/crypto/aes_gcm.go
  pkg/crypto/aes_gcm_test.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

initial
  pkg/env/sensor.go
  sensor/common/registry/registry_store.go
  sensor/common/registry/registry_store_test.go
  sensor/kubernetes/listener/resources/secrets.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

changelog
  CHANGELOG.md
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

register
  central/graphql/resolvers/images.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

cleanup tls cache
  sensor/common/registry/registry_store.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

unrelated change
  ui/apps/platform/src/Components/CVEStackedPill/CVEStackedPill.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

fix(scanner): Enable background updaters
  scanner/matcher/matcher.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Move cert generation to a separate target
  scanner/.gitignore
  scanner/Makefile
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Fixes
  scanner/config/config.go
  scanner/config/config_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

fix(scanner): Enable Matcher background updaters (#7964)
  scanner/matcher/matcher.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

a nightly update script
  .openshift-ci/nightlies.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Fix style
  scanner/cmd/scannerctl/main.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-19920: Make NetworkFlowTest multi-arch compliant (#7955)
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-19885: Set gRPC max receive size for client connection (#7930)
  pkg/clientconn/client.go
  pkg/grpc/server.go
  sensor/common/centralclient/grpc_connection.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

ROX-19139: Split config read into private and public parts (#7790)
  central/cluster/service/service_impl.go
  central/cluster/service/service_impl_test.go
  central/config/datastore/datastore.go
  central/config/datastore/datastore_test.go
  central/config/datastore/mocks/datastore.go
  central/config/datastore/singleton.go
  central/config/service/service.go
  central/main.go
  central/pruning/pruning.go
  central/pruning/pruning_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Dummy change to test presubmit on release-x.y
  operator/Makefile
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

ROX-17670: prune plop with SQL instead of a walk (#7747)
  central/postgres/pruning.go
  central/processlisteningonport/datastore/datastore.go
  central/processlisteningonport/store/postgres/store.go
  central/pruning/pruning.go
  central/pruning/pruning_test.go
  central/pruning/singleton.go
  generated/storage/process_listening_on_port.pb.go
  migrator/migrations/m_188_to_m_189_logimbues_add_time_column/migration_impl.go
  migrator/migrations/m_188_to_m_189_logimbues_add_time_column/migration_test.go
  migrator/migrations/m_190_to_m_191_plop_add_closed_time_column/migration.go
  migrator/migrations/m_190_to_m_191_plop_add_closed_time_column/migration_impl.go
  migrator/migrations/m_190_to_m_191_plop_add_closed_time_column/migration_test.go
  migrator/migrations/m_190_to_m_191_plop_add_closed_time_column/referenceschema/clusters.go
  migrator/migrations/m_190_to_m_191_plop_add_closed_time_column/referenceschema/deployments.go
  migrator/migrations/m_190_to_m_191_plop_add_closed_time_column/referenceschema/images.go
  migrator/migrations/m_190_to_m_191_plop_add_closed_time_column/referenceschema/namespaces.go
  migrator/migrations/m_190_to_m_191_plop_add_closed_time_column/referenceschema/process_indicators.go
  migrator/migrations/m_190_to_m_191_plop_add_closed_time_column/schema/convert_listening_endpoints.go
  migrator/migrations/m_190_to_m_191_plop_add_closed_time_column/schema/convert_listening_endpoints_test.go
  migrator/migrations/m_190_to_m_191_plop_add_closed_time_column/schema/listening_endpoints.go
  migrator/migrations/m_190_to_m_191_plop_add_closed_time_column/test/schema/convert_listening_endpoints.go
  migrator/migrations/m_190_to_m_191_plop_add_closed_time_column/test/schema/listening_endpoints.go
  migrator/runner/all.go
  pkg/migrations/internal/seq_num.go
  pkg/search/options.go
  proto/storage/process_listening_on_port.proto
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Make PolicyConfigurationTest multi-arch compliant
  qa-tests-backend/src/test/groovy/PolicyConfigurationTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

updated nginx latest image
  qa-tests-backend/src/test/groovy/PolicyConfigurationTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

reverting nginx latest image
  qa-tests-backend/src/test/groovy/PolicyConfigurationTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Fix broken file search in ca-setup.sh
  image/templates/common/ca-setup.sh
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests
