Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: gke-qa-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-compliance-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests, ci/prow/ocp-4-20-ui-e2e-tests

Path conditions:
  gke-qa-e2e-tests: unless all of: ^ui/
  gke-sensor-integration-tests: any of: ^sensor/
  gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  gke-scanner-v4-install-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|operator|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  merge-gke-nongroovy-compatibility-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests: unless all of: ^ui/
  ci/prow/gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-scanner-v4-install-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|operator|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/gke-sensor-integration-tests: any of: ^sensor/
  ci/prow/ocp-4-12-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-12-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-12-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-12-scanner-v4-install-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|operator|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-4-20-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-20-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-20-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-20-scanner-v4-install-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|operator|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-4-20-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)

tidy up unit tests
  roxctl/central/version/version_test.go
Due: gke-qa-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-scanner-v4-install-tests

Remove RemovePLOPsWithoutPodUID
  central/processlisteningonport/datastore/datastore.go
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/datastore/datastore_impl_test.go
  central/processlisteningonport/datastore/mocks/datastore.go
  central/processlisteningonport/datastore/pruning.go
  central/pruning/pruning.go
  central/pruning/pruning_test.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

ROX-34167: reject non-lowercase compliance node roles instead of normalizing
  central/complianceoperator/v2/scanconfigurations/service/service_impl.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
  tests/compliance_operator_v2_test.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-4-20-compliance-e2e-tests, ci/prow/ocp-4-20-ui-e2e-tests

chore(deps): bump golang.org/x/mod and x/tools (#23110)
  go.mod
  go.sum
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

Remove not used RemoveProcessListeningOnPort
  central/processlisteningonport/datastore/datastore.go
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/datastore/mocks/datastore.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

Remove PruneOrphanedPLOPsByProcessIndicators
  central/processlisteningonport/datastore/datastore.go
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/datastore/datastore_impl_test.go
  central/processlisteningonport/datastore/mocks/datastore.go
  central/processlisteningonport/datastore/pruning.go
  central/pruning/pruning.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

Add StorageClass-es to after-test resource collection
  scripts/ci/collect-service-logs.sh
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests

ROX-37178: Wrap delegated cluster validation errors at callers
  central/delegatedregistryconfig/delegator/delegator.go
  central/delegatedregistryconfig/delegator/delegator_test.go
  pkg/delegatedregistry/delegator.go
  pkg/delegatedregistry/mocks/delegator.go
  pkg/images/enricher/enricher_impl.go
  pkg/images/enricher/enricher_impl_test.go
  pkg/images/enricher/enricher_v2_impl.go
  pkg/images/enricher/enricher_v2_impl_test.go
  tests/delegated_scanning_test.go
  ui/apps/platform/src/services/imageService.ts
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-ui-e2e-tests

docs: Document CI image location in AGENTS.md (#21700)
  AGENTS.md
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

ROX-37178: Restore scoped names for explicit cluster validation
  central/delegatedregistryconfig/delegator/delegator.go
  central/delegatedregistryconfig/delegator/delegator_test.go
  pkg/delegatedregistry/delegator.go
  pkg/delegatedregistry/mocks/delegator.go
  pkg/images/enricher/enricher_impl.go
  pkg/images/enricher/enricher_impl_test.go
  pkg/images/enricher/enricher_v2_impl.go
  pkg/images/enricher/enricher_v2_impl_test.go
  tests/delegated_scanning_test.go
  ui/apps/platform/src/services/imageService.ts
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-ui-e2e-tests

Renamings & prow experiments
  ci/exploration/fixture.toml
  ci/exploration/resolver.py
  ci/exploration/test_dispatcher.py
  ci/exploration/test_production_map.py
  ci/exploration/test_resolver.py
  ci/test-domains.toml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

Add Slack user ID for @rhmdnd
  scripts/ci/get-slack-user-id.sh
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests

feat(policy): add proto fields for audit log custom resources
  central/alert/datastore/internal/store/postgres/store.go
  central/graphql/resolvers/generated.go
  generated/api/v1/alert_service.swagger.json
  generated/api/v1/detection_service.swagger.json
  generated/internalapi/sensor/compliance_iservice.pb.go
  generated/internalapi/sensor/compliance_iservice_vtproto.pb.go
  generated/storage/alert.pb.go
  generated/storage/alert_vtproto.pb.go
  generated/storage/kube_event.pb.go
  generated/storage/kube_event_vtproto.pb.go
  pkg/features/list.go
  pkg/postgres/schema/alerts.go
  pkg/search/options.go
  proto/internalapi/sensor/compliance_iservice.proto
  proto/storage/alert.proto
  proto/storage/kube_event.proto
  proto/storage/proto.lock
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests, ci/prow/ocp-4-20-ui-e2e-tests

feat(compliance): collect audit events for requested API resources
  compliance/collection/auditlog/auditevent.go
  compliance/collection/auditlog/auditlog.go
  compliance/collection/auditlog/auditlog_impl.go
  compliance/collection/auditlog/auditlog_impl_test.go
  compliance/compliance.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-4-20-compliance-e2e-tests

ROX-36859: Properly clean up files (#23131)
  pkg/registrymirror/store_test.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

feat(policy): add Kubernetes API Resource audit log policy criterion
  central/policy/service/validator.go
  central/policy/service/validator_test.go
  pkg/booleanpolicy/augmentedobjs/custom_types.go
  pkg/booleanpolicy/field_metadata.go
  pkg/booleanpolicy/fieldnames/list.go
  pkg/booleanpolicy/validate.go
  pkg/booleanpolicy/validate_test.go
  pkg/booleanpolicy/value_regex.go
  pkg/detection/runtime/detector_test.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-ui-e2e-tests

feat(sensor): send API resources from audit log policies to compliance
  pkg/booleanpolicy/util.go
  pkg/booleanpolicy/util_test.go
  sensor/common/compliance/auditlog_manager.go
  sensor/common/compliance/auditlog_manager_impl.go
  sensor/common/compliance/auditlog_manager_test.go
  sensor/common/compliance/mocks/auditlog_manager.go
  sensor/common/detector/detector.go
  sensor/common/detector/detector_helpers_test.go
Due: gke-qa-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

feat(alerts): raise CUSTOM resource alerts for API resource audit events
  central/alert/datastore/datastore_impl_test.go
  central/alert/views/list_alert_scanner.go
  central/alert/views/list_alert_scanner_test.go
  central/alert/views/views.go
  central/detection/alertmanager/alert_manager_impl.go
  central/detection/alertmanager/alert_manager_impl_test.go
  central/detection/alertmanager/filter_options.go
  central/detection/lifecycle/manager_impl.go
  central/detection/lifecycle/manager_impl_test.go
  central/notifiers/metadatagetter/datastore_impl.go
  generated/api/v1/alert_service.swagger.json
  generated/storage/alert.pb.go
  generated/storage/alert_vtproto.pb.go
  pkg/alert/convert/convert.go
  pkg/alert/convert/convert_test.go
  pkg/booleanpolicy/violationmessages/printer/kube_event.go
  pkg/booleanpolicy/violationmessages/printer/kube_event_test.go
  pkg/kubernetes/event.go
  pkg/notifiers/format.go
  proto/storage/alert.proto
  proto/storage/proto.lock
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests, ci/prow/ocp-4-20-ui-e2e-tests

Ensure policy deletion error can be propagated
  qa-tests-backend/src/test/groovy/AdmissionControllerTest.groovy
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

feat(ui): add Kubernetes API resource audit log policy criterion
  ui/apps/platform/src/Components/PatternFly/ResourceIcon/ResourceIcon.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/MostRecentViolations.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaDescriptors.test.ts
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaDescriptors.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaValidators.test.ts
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaValidators.ts
  ui/apps/platform/src/Containers/Violations/Details/ViolationDetailsPage.tsx
  ui/apps/platform/src/Containers/Violations/violationsTableColumnDescriptors.tsx
  ui/apps/platform/src/types/alert.proto.ts
  ui/apps/platform/src/types/featureFlag.ts
Due: ci/prow/ocp-4-20-ui-e2e-tests

feat(qa): e2e test for audit log policies on API resources
  qa-tests-backend/src/test/groovy/AuditLogAlertsTest.groovy
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

Try generate allure report
  .github/workflows/unit-tests.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

Upload as a single file now
  .github/workflows/unit-tests.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

ROX-35665: avoid race condition in Cluster deletion (#23047)
  central/cluster/datastore/datastore_impl.go
  central/cluster/datastore/datastore_impl_test.go
  central/cluster/lifecycle/gate.go
  central/cluster/lifecycle/gate_test.go
  central/sensor/service/pipeline/nodeindex/pipeline.go
  central/sensor/service/pipeline/nodeindex/pipeline_test.go
  central/sensor/service/pipeline/nodeindex/three_pipelines_test.go
  central/sensor/service/pipeline/nodeinventory/pipeline.go
  central/sensor/service/pipeline/nodeinventory/pipeline_test.go
  central/sensor/service/pipeline/nodeinventory/two_pipelines_test.go
  central/sensor/service/pipeline/nodes/pipeline.go
  central/sensor/service/pipeline/nodes/pipeline_test.go
  tests/cluster_delete_test.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-20-ui-e2e-tests

remove permissions to github bot, be explicit about persisting credentials, execute the script w/o python3, and add a dry-run channel for the slack notification
  .github/workflows/scripts/sync-major-version-bumps.py
  .github/workflows/sync-major-version-bumps.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

fake failure to test slack notification
  .github/workflows/scripts/sync-major-version-bumps.py
  .github/workflows/sync-major-version-bumps.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

Revert "fake failure to test slack notification"
  .github/workflows/scripts/sync-major-version-bumps.py
  .github/workflows/sync-major-version-bumps.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

Try switch from `awesome` to `classic`
  .github/workflows/unit-tests.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

docs(changelog): note roxctl HTTP proxy fix (ROX-37149)
  CHANGELOG.md
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

fix(roxctl): honor HTTP(S)_PROXY when talking to Central over HTTP
  roxctl/common/client.go
  roxctl/common/client_test.go
Due: gke-qa-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-scanner-v4-install-tests

feat(ui): clarify plural resource names for Kubernetes API resource
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaDescriptors.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

fix(ci): Removes scannerV4 memory overrides (#23101) (#23127)
  deploy/common/scanner-v4-matcher-patch.yaml
  tests/e2e/lib-compat.sh
  tests/e2e/yaml/central-cr-with-scanner-v4.envsubst.yaml
  tests/e2e/yaml/central-cr.envsubst.yaml
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests

Pull proper logs for RHEL8
  scripts/ci/collect-vm-guest-logs.sh
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests

fix(tests): clean up created policies first in AdmissionControllerTest (#23103)
  qa-tests-backend/src/test/groovy/AdmissionControllerTest.groovy
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

Try generate Ant report
  .github/workflows/unit-tests.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

ROX-37206: delete workloads before namespace cleanup
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
  qa-tests-backend/src/test/groovy/AdmissionControllerTest.groovy
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

test(ci): isolate Konflux branch regression test
  tests/e2e/bats/prepare_for_konflux.bats
Due: gke-qa-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-scanner-v4-install-tests

bump linter deps
  tools/linters/go.mod
  tools/linters/go.sum
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

bump golang.org/x/vuln once more
  tools/linters/go.mod
  tools/linters/go.sum
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

chore(linters): fixes for reflecttypeassert, slicesclip and nolintlint
  pkg/booleanpolicy/evaluator/base_evaluators.go
  pkg/concurrency/value_stream.go
  pkg/postgres/walker/walker.go
  pkg/protocompat/oneof.go
  pkg/protoconv/resources/resources.go
  pkg/protoreflect/field.go
  pkg/search/predicate/base_predicates.go
  pkg/search/predicate/timestamp_predicate.go
  pkg/search/walker.go
  pkg/telemetry/data/data_test.go
  roxctl/central/generate/interactive.go
  sensor/kubernetes/listener/resources/convert.go
  tools/roxvet/common/traverse.go
Due: gke-qa-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests
