Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: gke-qa-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-compliance-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests, ci/prow/ocp-4-20-ui-e2e-tests

Path conditions:
  gke-qa-e2e-tests: unless all of: ^ui/
  gke-sensor-integration-tests: any of: ^sensor/
  gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  gke-scanner-v4-install-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|operator|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  merge-gke-nongroovy-compatibility-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests: unless all of: ^ui/
  ci/prow/gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-scanner-v4-install-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|operator|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/gke-sensor-integration-tests: any of: ^sensor/
  ci/prow/ocp-4-12-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-12-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-12-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-12-scanner-v4-install-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|operator|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-4-20-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-20-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-20-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-20-scanner-v4-install-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|operator|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-4-20-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)

feat(co-importer): add run.sh wrapper for easy container usage
  scripts/compliance-operator-importer/run.sh
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

feat(co-importer): add container image build (IMP-IMG-001..006)
  scripts/compliance-operator-importer/.dockerignore
  scripts/compliance-operator-importer/Dockerfile
  scripts/compliance-operator-importer/Makefile
  scripts/compliance-operator-importer/specs/07-container-image.md
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

fix(co-importer): include response body in ACS HTTP error messages
  scripts/compliance-operator-importer/internal/acs/client.go
  scripts/compliance-operator-importer/internal/acs/client_test.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

feat(co-importer): adopt SSBs after ACS scan config creation (IMP-ADOPT-001..008)
  scripts/compliance-operator-importer/internal/adopt/adopt.go
  scripts/compliance-operator-importer/internal/adopt/adopt_test.go
  scripts/compliance-operator-importer/internal/cofetch/client.go
  scripts/compliance-operator-importer/internal/cofetch/types.go
  scripts/compliance-operator-importer/internal/merge/merge.go
  scripts/compliance-operator-importer/internal/merge/merge_test.go
  scripts/compliance-operator-importer/internal/run/run.go
  scripts/compliance-operator-importer/internal/run/run_test.go
  scripts/compliance-operator-importer/internal/status/status.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

fix(co-importer): skip adoption when target ScanSetting pre-exists on cluster
  scripts/compliance-operator-importer/internal/adopt/adopt.go
  scripts/compliance-operator-importer/internal/adopt/adopt_test.go
  scripts/compliance-operator-importer/internal/run/multi_cluster.go
  scripts/compliance-operator-importer/internal/run/run.go
  scripts/compliance-operator-importer/internal/run/run_test.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

ROX-33770: Replace PropTypes in KeepBothSection component (#19583)
  ui/apps/platform/eslint.config.js
  ui/apps/platform/src/Containers/Policies/Modal/KeepBothSection.tsx
  ui/apps/platform/src/Containers/Policies/Modal/RenamePolicySection.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

restructure tests
  central/auth/internaltokens/service/role_manager_test.go
  central/auth/internaltokens/service/service_impl_test.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-20-ui-e2e-tests

ROX-33783: Delete obsolete react-transition-group from dependencies (#19584)
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
Due: ci/prow/ocp-4-20-ui-e2e-tests

Move GetAll to PR3: Remove from sensor label providers
  sensor/kubernetes/listener/resources/namespace_store.go
  sensor/kubernetes/listener/resources/namespace_store_test.go
Due: gke-qa-e2e-tests, gke-sensor-integration-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

unit-tests fail at 27GB
  .github/workflows/unit-tests.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

ROX-27677: Eliminate Python dependency from operator build (#18947)
  .github/workflows/test-bundle-helpers.yaml
  .tekton/operator-bundle-build.yaml
  operator/Makefile
  operator/bundle_helpers/README.md
  operator/bundle_helpers/cmd/fix_descriptors.go
  operator/bundle_helpers/cmd/output.go
  operator/bundle_helpers/cmd/patch_csv.go
  operator/bundle_helpers/compare-implementations.sh
  operator/bundle_helpers/dispatch.sh
  operator/bundle_helpers/main.go
  operator/bundle_helpers/pkg/csv/patcher.go
  operator/bundle_helpers/pkg/csv/patcher_test.go
  operator/bundle_helpers/pkg/csv/version.go
  operator/bundle_helpers/pkg/csv/version_test.go
  operator/bundle_helpers/pkg/descriptor/sorter.go
  operator/bundle_helpers/pkg/descriptor/sorter_test.go
  operator/bundle_helpers/pkg/rewrite/rewriter.go
  operator/bundle_helpers/pkg/rewrite/rewriter_test.go
  operator/bundle_helpers/pkg/values/values.go
  operator/bundle_helpers/pkg/values/values_test.go
  operator/bundle_helpers/prepare-bundle-manifests.sh
  operator/bundle_helpers/requirements.txt
  operator/bundle_helpers/yaml-normalizer.py
  operator/konflux.bundle.Dockerfile
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests

Update proto lock
  generated/api/v1/report_configuration_service.swagger.json
  generated/internalapi/central/v1/token_service.pb.go
  generated/storage/report_configuration.pb.go
  generated/storage/report_configuration_vtproto.pb.go
  generated/storage/report_snapshot.pb.go
  proto/storage/proto.lock
  proto/storage/report_configuration.proto
  proto/storage/report_snapshot.proto
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests, ci/prow/ocp-4-20-ui-e2e-tests

refactor: move access scope protobuf validation to pkg/sac (#19502)
  central/role/service/service_impl.go
  central/role/validate.go
  pkg/sac/accessscope/validate.go
  pkg/sac/accessscope/validate_test.go
  roxctl/declarativeconfig/create/access_scope.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests, ci/prow/ocp-4-20-ui-e2e-tests

Migrate selection from map[string]bool to set.StringSet
  pkg/sac/effectiveaccessscope/conversion.go
  pkg/sac/effectiveaccessscope/conversion_test.go
  pkg/sac/effectiveaccessscope/effective_access_scope.go
  pkg/sac/effectiveaccessscope/effective_access_scope_test.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

Address AI review comments
  pkg/sac/effectiveaccessscope/conversion.go
  pkg/sac/effectiveaccessscope/conversion_test.go
  pkg/sac/effectiveaccessscope/effective_access_scope_test.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

ROX-33511: Fix cluster selection by name
  pkg/sac/effectiveaccessscope/conversion.go
  pkg/sac/effectiveaccessscope/conversion_test.go
  pkg/sac/effectiveaccessscope/effective_access_scope.go
  pkg/sac/effectiveaccessscope/effective_access_scope_test.go
  pkg/sac/effectiveaccessscope/test_datasets.go
  tools/allowed-large-files
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

Add error test for the rules to selectors conversion
  pkg/sac/effectiveaccessscope/conversion_test.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

remove now unused newUnvalidatedRequirement
  pkg/sac/effectiveaccessscope/conversion.go
  pkg/sac/effectiveaccessscope/effective_access_scope_test.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

perf(ci): disable go buildvcs stamping (#19585)
  scripts/go-tool.sh
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

address review comment
  pkg/sac/effectiveaccessscope/conversion.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

add ScannerV4Integration type, deletable trait, and update testability flag
  qa-tests-backend/src/main/groovy/objects/ImageIntegration.groovy
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

add scanner v4 enabled flag
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

add null guard to enable retries waiting for image vulns
  qa-tests-backend/src/test/groovy/Services.groovy
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

fix(co-importer): clean stale manifest before creating new one
  scripts/compliance-operator-importer/Makefile
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

update TEST_IMAGE to one that can be scanned by V2 and V4
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

test: ComplianceTest
  qa-tests-backend/src/test/groovy/ComplianceTest.groovy
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

ROX-33522: Fix fake wokloads by disabling WatchListClient k8s FF (#19413)
  sensor/kubernetes/main.go
Due: gke-qa-e2e-tests, gke-sensor-integration-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

ROX-33574: Don't forget to configure scanner pull secrets (#19449)
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/image-pull-secrets.test.yaml
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests

ROX-33325,ROX-33326: Backport #19412 and #19416 to release 4.10 (#19632)
  pkg/booleanpolicy/field_metadata.go
  pkg/booleanpolicy/policyfields/fields.go
  pkg/booleanpolicy/policyfields/fields_test.go
  pkg/detection/compiled_policy.go
  pkg/detection/mocks/policy_set.go
  pkg/detection/policy_set.go
  pkg/detection/policy_set_impl.go
  sensor/admission-control/manager/evaluate_deploytime.go
  sensor/admission-control/manager/evaluate_runtime.go
  sensor/admission-control/manager/manager_impl.go
  sensor/admission-control/manager/responses.go
  sensor/common/admissioncontroller/settings_manager_impl.go
Due: gke-qa-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

ROX-33295: Fix SearchImages not returning image names (#19145)
  central/image/datastore/datastore_impl.go
  central/image/datastore/datastore_impl_flat_postgres_test.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

match *.x tags for nightly prefix
  .openshift-ci/nightlies.sh
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

a nightly update script
  .openshift-ci/nightlies.sh
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

ROX-33851: bump claircore to v1.5.52
  go.mod
  go.sum
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

ROX-33686: Disable dynamic plugin for OpenShift >= 4.22 (#19527)
  image/templates/helm/stackrox-secured-cluster/templates/console-plugin.yaml.htpl
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/config/ui-metadata/bases/rhacs-operator.clusterserviceversion.yaml
  ui/apps/platform/webpack.ocp-plugin.config.js
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests, ci/prow/ocp-4-20-ui-e2e-tests

ROX-33557: fix node resolution from hostname (#19461)
  sensor/common/detector/detector.go
  sensor/common/store/mocks/types.go
  sensor/common/store/types.go
  sensor/kubernetes/listener/resources/node_store.go
Due: gke-qa-e2e-tests, gke-sensor-integration-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

chore(scale): randomize node IPs and ports in fake workloads (#19610)
  sensor/kubernetes/fake/nodes.go
  sensor/kubernetes/fake/service.go
Due: gke-qa-e2e-tests, gke-sensor-integration-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Replace runlockWithMetric with simpler solution
  sensor/common/clusterentities/store.go
  sensor/common/clusterentities/store_container_id.go
  sensor/common/clusterentities/store_endpoints.go
  sensor/common/clusterentities/store_ips.go
  sensor/common/clusterentities/store_lock_metrics.go
Due: gke-qa-e2e-tests, gke-sensor-integration-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

ROX-33511: Fix cluster selection by name (#19503)
  pkg/sac/effectiveaccessscope/conversion.go
  pkg/sac/effectiveaccessscope/conversion_test.go
  pkg/sac/effectiveaccessscope/effective_access_scope.go
  pkg/sac/effectiveaccessscope/effective_access_scope_test.go
  pkg/sac/effectiveaccessscope/test_datasets.go
  tools/allowed-large-files
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests
