Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

openshift-oldest-qa-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.8'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

openshift-newest-qa-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.12'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

openshift-oldest-operator-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.8'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

openshift-newest-operator-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.12'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

ci/prow/gke-nongroovy-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-postgres-nongroovy-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-postgres-qa-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-postgres-ui-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-postgres-upgrade-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ROX-12724: Warn external without source or password
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

ROX-18759: Add GetMyReportHistory endpoint
  central/reports/service/v2/service_impl.go
  central/reports/service/v2/service_impl_test.go
  central/reports/snapshot/datastore/store/postgres/store.go
  generated/api/v2/report_service.pb.go
  generated/api/v2/report_service.pb.gw.go
  generated/storage/compliance_operator_v2.pb.go
  generated/storage/report_configuration.pb.go
  generated/storage/resource_collection.pb.go
  generated/storage/system_info.pb.go
  generated/storage/user.pb.go
  generated/storage/vuln_requests.pb.go
  pkg/postgres/schema/report_snapshots.go
  pkg/postgres/walker/walker.go
  pkg/search/options.go
  proto/api/v2/report_service.proto
  proto/storage/compliance_operator_v2.proto
  proto/storage/report_configuration.proto
  proto/storage/resource_collection.proto
  proto/storage/system_info.proto
  proto/storage/user.proto
  proto/storage/vuln_requests.proto
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Fixed comments
  central/reports/common/report_formatter.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

create mirror store
  pkg/registrymirror/registrymirrorsstore.go
  pkg/registrymirror/registrymirrorsstore_test.go
  pkg/registrymirrors/registrymirrorsservice.go
  pkg/registrymirrors/registrymirrrorservice_test.go
  sensor/common/registry/registry_store.go
  sensor/common/registry/registry_store_test.go
  sensor/kubernetes/listener/resources/dispatcher.go
  sensor/kubernetes/listener/resources/registrymirrorsets.go
  sensor/kubernetes/listener/resources/registrymirrorsets_test.go
  sensor/kubernetes/listener/resources/store_provider.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

batman defeats mr. J
  pkg/registrymirror/registrymirrorsstore.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Move to svg
  scanner/decisions/0002-local-scanning-with-scanner-v4.md
  scanner/decisions/images/local-scanning-diagram.png
  scanner/decisions/images/local-scanning-diagram.svg
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Optimize SVG
  scanner/decisions/images/local-scanning-diagram.svg
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

style
  central/reports/service/v2/service_impl.go
  central/reports/service/v2/service_impl_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-18810: Add ImageScanningTest to the parallel set
  qa-tests-backend/src/main/groovy/common/Constants.groovy
  qa-tests-backend/src/main/groovy/services/PolicyService.groovy
  qa-tests-backend/src/test/groovy/AdmissionControllerTest.groovy
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
  tests/e2e/run-e2e-tests.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-18686: Add missing resourceAccessRequirements in routePaths (#7236)
  ui/apps/platform/cypress/helpers/visit.js
  ui/apps/platform/cypress/integration/accessControl/accessControl.helpers.js
  ui/apps/platform/cypress/integration/accessControl/accessControlAccessScopes.test.js
  ui/apps/platform/cypress/integration/accessControl/accessControlAuthProviders.test.js
  ui/apps/platform/cypress/integration/accessControl/accessControlPermissionSets.test.js
  ui/apps/platform/cypress/integration/accessControl/accessControlRoles.test.js
  ui/apps/platform/cypress/integration/collections/permissions.test.js
  ui/apps/platform/cypress/integration/credentialExpiry/credentialExpiry.test.js
  ui/apps/platform/cypress/integration/systemConfig/systemConfig.test.js
  ui/apps/platform/src/Components/NotFoundMessage/NotFoundMessage.tsx
  ui/apps/platform/src/Components/PageNotFound.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersPage.js
  ui/apps/platform/src/Containers/Clusters/ClustersSidePanel.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.js
  ui/apps/platform/src/Containers/Clusters/clustersTableColumnDescriptors.js
  ui/apps/platform/src/Containers/Dashboard/DashboardPage.tsx
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTable.tsx
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTablePage.tsx
  ui/apps/platform/src/Containers/PolicyCategories/PolicyCategoriesPage.tsx
  ui/apps/platform/src/Containers/Risk/RiskSidePanelContent.js
  ui/apps/platform/src/Containers/SystemHealth/DashboardPage.js
  ui/apps/platform/src/routePaths.ts
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Kube-burner works
  .github/workflows/other-configs/cluster-density-kube-burner.yml
  .github/workflows/other-configs/templates/configmap.yml
  .github/workflows/other-configs/templates/deployment.yml
  .github/workflows/other-configs/templates/route.yml
  .github/workflows/other-configs/templates/secret.yml
  .github/workflows/other-configs/templates/service.yml
  .github/workflows/patch-both-clusters.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Trying to split patch-both-clusters.sh into smaller scripts
  .github/workflows/scripts/start-acs.sh
  .github/workflows/scripts/start-secured-cluster.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

start-secured-cluster.sh doesn't create central
  .github/workflows/scripts/start-acs.sh
  .github/workflows/scripts/start-secured-cluster.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

initial_support
  go.mod
  go.sum
  roxctl/connectivity-map/netpol_test.go
  roxctl/connectivity-map/testdata/demo-app-with-routes-and-ingress/hello-world-deployment-and-service.yaml
  roxctl/connectivity-map/testdata/demo-app-with-routes-and-ingress/hello-world-ingress.yaml
  roxctl/connectivity-map/testdata/demo-app-with-routes-and-ingress/hello-world-route.yaml
  roxctl/connectivity-map/testdata/demo-app-with-routes-and-ingress/ingress-world-deployment-and-service.yaml
  roxctl/connectivity-map/testdata/demo-app-with-routes-and-ingress/ingress-world-ingress.yaml
  roxctl/connectivity-map/testdata/demo-app-with-routes-and-ingress/route-world-deployment-and-service.yaml
  roxctl/connectivity-map/testdata/demo-app-with-routes-and-ingress/route-world-route.yaml
  tests/roxctl/bats-tests/local/roxctl-connectivity-map-development.bats
  tests/roxctl/bats-tests/local/roxctl-connectivity-map-release.bats
  tests/roxctl/bats-tests/test-data/np-guard/irrelevant-oc-resource-example/irrelevant_oc_resource.yaml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

adding bats tests for netpol-analyzer v0.3.1
  go.mod
  go.sum
  tests/roxctl/bats-tests/local/roxctl-connectivity-map-development.bats
  tests/roxctl/bats-tests/local/roxctl-connectivity-map-release.bats
  tests/roxctl/bats-tests/test-data/np-guard/demo-app-with-routes-and-ingress/hello-world-deployment-and-service.yaml
  tests/roxctl/bats-tests/test-data/np-guard/demo-app-with-routes-and-ingress/hello-world-ingress.yaml
  tests/roxctl/bats-tests/test-data/np-guard/demo-app-with-routes-and-ingress/hello-world-route.yaml
  tests/roxctl/bats-tests/test-data/np-guard/demo-app-with-routes-and-ingress/ingress-world-deployment-and-service.yaml
  tests/roxctl/bats-tests/test-data/np-guard/demo-app-with-routes-and-ingress/ingress-world-ingress.yaml
  tests/roxctl/bats-tests/test-data/np-guard/demo-app-with-routes-and-ingress/route-world-deployment-and-service.yaml
  tests/roxctl/bats-tests/test-data/np-guard/demo-app-with-routes-and-ingress/route-world-route.yaml
  tests/roxctl/bats-tests/test-data/np-guard/ingress-with-multiple-services-example/deployment_with_multiple_services.yaml
  tests/roxctl/bats-tests/test-data/np-guard/ingress-with-multiple-services-example/ingress_multiple_rules.yaml
  tests/roxctl/bats-tests/test-data/np-guard/k8s-ingress-example/default_pods_list.yaml
  tests/roxctl/bats-tests/test-data/np-guard/k8s-ingress-example/k8s_ingress_policies.yaml
  tests/roxctl/bats-tests/test-data/np-guard/k8s-ingress-example/services.yaml
  tests/roxctl/bats-tests/test-data/np-guard/multiple-routes-example/deployment_with_multiple_ports.yaml
  tests/roxctl/bats-tests/test-data/np-guard/multiple-routes-example/route-1.yaml
  tests/roxctl/bats-tests/test-data/np-guard/multiple-routes-example/route-2.yaml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

adding acs-security-demo test
  tests/roxctl/bats-tests/local/roxctl-connectivity-map-development.bats
  tests/roxctl/bats-tests/local/roxctl-connectivity-map-release.bats
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/acs_netpols.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/backend/catalog/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/backend/checkout/configmap.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/backend/checkout/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/backend/notification/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/backend/recommendation/configmap.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/backend/recommendation/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/backend/reports/configmap.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/backend/reports/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/backend/shipping/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/frontend/asset-cache/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/frontend/asset-cache/route.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/frontend/webapp/configmap.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/frontend/webapp/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/frontend/webapp/route.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/payments/gateway/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/payments/mastercard-processor/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/payments/visa-processor/deployment.yaml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

fixing large file lint err; removed unnecessary info
  tests/roxctl/bats-tests/test-data/np-guard/k8s-ingress-example/default_pods_list.yaml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

eof fixes
  roxctl/connectivity-map/testdata/demo-app-with-routes-and-ingress/hello-world-ingress.yaml
  roxctl/connectivity-map/testdata/demo-app-with-routes-and-ingress/hello-world-route.yaml
  roxctl/connectivity-map/testdata/demo-app-with-routes-and-ingress/ingress-world-ingress.yaml
  roxctl/connectivity-map/testdata/demo-app-with-routes-and-ingress/route-world-route.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/backend/catalog/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/backend/checkout/configmap.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/backend/checkout/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/backend/notification/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/backend/recommendation/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/backend/reports/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/backend/shipping/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/frontend/asset-cache/route.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/frontend/webapp/configmap.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/frontend/webapp/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/frontend/webapp/route.yaml
  tests/roxctl/bats-tests/test-data/np-guard/demo-app-with-routes-and-ingress/hello-world-ingress.yaml
  tests/roxctl/bats-tests/test-data/np-guard/demo-app-with-routes-and-ingress/hello-world-route.yaml
  tests/roxctl/bats-tests/test-data/np-guard/demo-app-with-routes-and-ingress/ingress-world-ingress.yaml
  tests/roxctl/bats-tests/test-data/np-guard/demo-app-with-routes-and-ingress/route-world-route.yaml
  tests/roxctl/bats-tests/test-data/np-guard/ingress-with-multiple-services-example/deployment_with_multiple_services.yaml
  tests/roxctl/bats-tests/test-data/np-guard/ingress-with-multiple-services-example/ingress_multiple_rules.yaml
  tests/roxctl/bats-tests/test-data/np-guard/irrelevant-oc-resource-example/irrelevant_oc_resource.yaml
  tests/roxctl/bats-tests/test-data/np-guard/k8s-ingress-example/default_pods_list.yaml
  tests/roxctl/bats-tests/test-data/np-guard/k8s-ingress-example/k8s_ingress_policies.yaml
  tests/roxctl/bats-tests/test-data/np-guard/multiple-routes-example/route-1.yaml
  tests/roxctl/bats-tests/test-data/np-guard/multiple-routes-example/route-2.yaml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

update version
  go.mod
  go.sum
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

additional documentation update
  roxctl/connectivity-map/README.md
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

adding expected_output file to the new unit test + fix existing outpust to match new version
  roxctl/connectivity-map/netpol_test.go
  roxctl/connectivity-map/testdata/acs-security-demos/output.txt
  roxctl/connectivity-map/testdata/minimal/output.json
  roxctl/connectivity-map/testdata/minimal/output.txt
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

update documentation
  roxctl/connectivity-map/README.md
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

removed duplicated tests dirs , and updated bats tests dir paths to unit-tests-dir-paths
  tests/roxctl/bats-tests/local/roxctl-connectivity-map-development.bats
  tests/roxctl/bats-tests/local/roxctl-connectivity-map-release.bats
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/acs_netpols.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/backend/catalog/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/backend/checkout/configmap.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/backend/checkout/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/backend/notification/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/backend/recommendation/configmap.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/backend/recommendation/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/backend/reports/configmap.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/backend/reports/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/backend/shipping/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/frontend/asset-cache/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/frontend/asset-cache/route.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/frontend/webapp/configmap.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/frontend/webapp/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/frontend/webapp/route.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/payments/gateway/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/payments/mastercard-processor/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/acs-security-demos/payments/visa-processor/deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/security-frontend-demo/asset-cache-deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/security-frontend-demo/asset-cache-route.yaml
  tests/roxctl/bats-tests/test-data/np-guard/security-frontend-demo/frontend-netpols.yaml
  tests/roxctl/bats-tests/test-data/np-guard/security-frontend-demo/webapp-deployment.yaml
  tests/roxctl/bats-tests/test-data/np-guard/security-frontend-demo/webapp-route.yaml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Update roxctl/connectivity-map/README.md
  roxctl/connectivity-map/README.md
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Saving central-ip to GITHUB_OUTPUT
  .github/workflows/scripts/start-acs.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Trying to pass password correctly
  .github/workflows/scripts/start-acs.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Update SCANNER_VERSION
  SCANNER_VERSION
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

a nightly update script
  .openshift-ci/nightlies.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Upload support package to central for ppc64le
  tests/e2e/lib.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Add port to central address
  tests/e2e/lib.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Update operator/hack/build-index-image.sh
  operator/hack/build-index-image.sh
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

ROX-17298 Bump controller-runtime to 0.15
  go.mod
  go.sum
  operator/apis/platform/v1alpha1/central_webhook.go
  operator/main.go
  operator/pkg/central/extensions/common_test.go
  operator/pkg/central/extensions/reconcile_tls_test.go
  operator/pkg/central/reconciler/reconciler.go
  operator/pkg/reconciler/reconciler_factory.go
  operator/pkg/securedcluster/reconciler/reconciler.go
  operator/pkg/utils/testutils/intercept.go
  operator/pkg/utils/watch.go
  sensor/upgrader/common/schema_validator.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Trace Compliance SAC test
  central/compliance/datastore/datastore_impl.go
  central/compliance/datastore/internal/store/postgres/store.go
  central/compliance/manager/manager_impl.go
  central/compliance/manager/service/service_impl.go
  central/sac/authorizer/builtin_scoped_authorizer.go
  pkg/search/postgres/store.go
  qa-tests-backend/src/main/groovy/objects/ImageIntegration.groovy
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
  qa-tests-backend/src/test/groovy/ComplianceTest.groovy
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

ROX-17298 Fix gomod
  go.mod
  go.sum
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-17298 Fix gomod
  sensor/admission-control/settingswatch/k8s.go
  sensor/kubernetes/listener/namespace_patcher.go
  sensor/kubernetes/listener/resource_event_handler_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

more traces
  central/compliance/manager/manager_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Expose metrics on 9091 for compliance and 9092 for node-inventory
  image/templates/helm/stackrox-secured-cluster/templates/collector-netpol.yaml
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Path conditions:
  openshift-oldest-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/gke-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-postgres-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  ci/prow/ocp-4-10-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-10-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-12-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-12-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
