Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: gke-qa-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-compliance-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests, ci/prow/ocp-4-20-ui-e2e-tests

gke-qa-e2e-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

gke-sensor-integration-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

gke-operator-e2e-tests:
  optional: true
  steps:
    workflow: stackrox-stackrox-e2e-job

gke-scanner-v4-install-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

merge-gke-nongroovy-compatibility-tests:
  postsubmit: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
      - --report-credentials-file=/etc/report/credentials
  ...

ci/prow/gke-operator-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-qa-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-scanner-v4-install-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-sensor-integration-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/ocp-4-12-compliance-e2e-tests:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: ocp-4-12
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

fix(risk): use WorkflowAdministration permission for plugin service
  central/risk/pluginconfig/service/service_impl.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-20-ui-e2e-tests

ROX-34133: Use ImageVulnerabilityReportConfiguration for feature work
  ui/apps/platform/src/Containers/Vulnerabilities/ImageVulnerabilityReports/View/ImageVulnerabilityFiltersView.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ImageVulnerabilityReports/View/ImageVulnerabilityFiltersViewForCollection.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ImageVulnerabilityReports/Wizard/Step3/ImageVulnerabilityFiltersStep.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ImageVulnerabilityReports/Wizard/Step3/ImageVulnerabilityFiltersStepForCollection.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ImageVulnerabilityReports/imageVulnerabilityReports.types.ts
  ui/apps/platform/src/Containers/Vulnerabilities/NodeVulnerabilityReports/nodeVulnerabilityReports.types.ts
  ui/apps/platform/src/services/ReportsService.types.ts
Due: ci/prow/ocp-4-20-ui-e2e-tests

Improve types and utils for future ImageVulnerabilityReportView
  ui/apps/platform/src/Containers/Vulnerabilities/ImageVulnerabilityReports/View/ImageVulnerabilityResourcesView.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ImageVulnerabilityReports/imageVulnerabilityReports.types.ts
  ui/apps/platform/src/Containers/Vulnerabilities/ImageVulnerabilityReports/imageVulnerabilityReports.utils.ts
Due: ci/prow/ocp-4-20-ui-e2e-tests

Replace Parameters with Filters in Title elements
  ui/apps/platform/src/Containers/Vulnerabilities/ImageVulnerabilityReports/View/ImageVulnerabilityFiltersView.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ImageVulnerabilityReports/View/ImageVulnerabilityFiltersViewForCollection.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ImageVulnerabilityReports/Wizard/Step3/ImageVulnerabilityFiltersStep.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ImageVulnerabilityReports/Wizard/Step3/ImageVulnerabilityFiltersStepForCollection.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

Fix typo in type name
  ui/apps/platform/src/Containers/Vulnerabilities/ImageVulnerabilityReports/Wizard/Step3/ImageVulnerabilityFiltersStepForCollection.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

Improve comment about hasConfigurationForEntity function
  ui/apps/platform/src/Containers/Vulnerabilities/ImageVulnerabilityReports/imageVulnerabilityReports.utils.ts
Due: ci/prow/ocp-4-20-ui-e2e-tests

ROX-34154: dump PVs and PVCs on failures too (#20045)
  operator/tests/common/central-cr-assert.yaml
  operator/tests/common/pods-debug.yaml
  operator/tests/common/secured-cluster-cr-assert.yaml
  operator/tests/upgrade/upgrade/021-assert-status-conditions.yaml
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests

ROX-32873: Metrics for process arguments (#18794)
  central/processindicator/datastore/datastore_impl.go
  central/processindicator/datastore/metrics.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

ROX-33774: broad pattern warnings for file paths (#19847)
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/PolicyCriteriaFieldInput.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaDescriptors.test.ts
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaDescriptors.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

ROX-34170: add GH Action to build VM scanning ContainerDisk images
  .github/workflows/build-vm-images.yaml
  vm-image-chroot.sh
  vm-image-virt-customize.sh
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

Fixed error from rebase
  central/processindicator/datastore/metrics.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

Removed incrementPrunedProcessesMetric
  central/processindicator/datastore/datastore_impl.go
  central/processindicator/datastore/metrics.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

X-Smart-Squash: Squashed 5 commits:
  central/detection/lifecycle/manager_impl.go
  central/postgres/pruning_test.go
  central/processbaseline/evaluator/evaluator_integration_test.go
  central/processindicator/datastore/bench_test.go
  central/processindicator/datastore/datastore.go
  central/processindicator/datastore/datastore_impl.go
  central/processindicator/datastore/datastore_impl_test.go
  central/processindicator/datastore/datastore_sac_test.go
  central/processindicator/datastore/metrics.go
  central/processindicator/datastore/mocks/datastore.go
  central/processindicator/store/mocks/store.go
  central/processindicator/store/store.go
  central/processlisteningonport/datastore/datastore_impl_test.go
  central/pruning/pruning.go
  central/pruning/pruning_test.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

Add a temporary action trigger on push to branch
  .github/workflows/build-vm-images.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

Add required env checks
  .github/workflows/build-vm-images.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

Improve container display components: remove nesting, clean up spacing, fix readOnly display
  ui/apps/platform/src/Components/ContainerArgumentsInfo.tsx
  ui/apps/platform/src/Components/ContainerResourcesInfo.tsx
  ui/apps/platform/src/Components/ContainerSecretsInfo.tsx
  ui/apps/platform/src/Components/ContainerVolumesInfo.tsx
  ui/apps/platform/src/Components/SecurityContext.tsx
  ui/apps/platform/src/utils/securityContextUtils.test.js
  ui/apps/platform/src/utils/securityContextUtils.ts
Due: ci/prow/ocp-4-20-ui-e2e-tests

.
  ui/apps/platform/src/Containers/Risk/DeploymentDetails.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

Use general Container components across three instances.
  ui/apps/platform/src/Components/ContainerImageInfo.tsx
  ui/apps/platform/src/Components/DeploymentContainerConfig.tsx
  ui/apps/platform/src/Components/DeploymentContainersCard.tsx
  ui/apps/platform/src/Components/SecurityContextCard.test.tsx
  ui/apps/platform/src/Components/SecurityContextCard.tsx
  ui/apps/platform/src/Containers/Risk/ContainerConfigurations.tsx
  ui/apps/platform/src/Containers/Risk/DeploymentDetails.tsx
  ui/apps/platform/src/Containers/Risk/SecurityContext.tsx
  ui/apps/platform/src/Containers/Violations/Details/Deployment/ContainerConfiguration.tsx
  ui/apps/platform/src/Containers/Violations/Details/Deployment/ContainerConfigurationDescriptionList.tsx
  ui/apps/platform/src/Containers/Violations/Details/Deployment/ContainerImage.tsx
  ui/apps/platform/src/Containers/Violations/Details/Deployment/ContainerResourcesDescriptionList.tsx
  ui/apps/platform/src/Containers/Violations/Details/Deployment/ContainerSecretDescriptionList.tsx
  ui/apps/platform/src/Containers/Violations/Details/Deployment/ContainerVolumeDescriptionList.tsx
  ui/apps/platform/src/Containers/Violations/Details/Deployment/DeploymentTabWithReadAccessForDeployment.tsx
  ui/apps/platform/src/Containers/Violations/Details/Deployment/SecurityContext.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

perf(ci): Add ESLint caching to CI style checks (#20023)
  .github/actions/cache-eslint/action.yaml
  .github/workflows/style.yaml
  ui/apps/platform/README.md
  ui/apps/platform/package.json
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-20-ui-e2e-tests

ROX-30352: add VM-scoped vulnerability and component endpoints (#19666)
  central/convert/storagetov2/virtual_machine_v2.go
  central/virtualmachine/v2/service/service_impl.go
  central/virtualmachine/v2/service/service_impl_test.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-20-ui-e2e-tests

[FORK-ONLY] flip workflow owner gate to vikin91 for fork iteration
  .github/workflows/build-vm-images.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

fix(vm-image): pass placeholder cmd to podman create
  vm-image-chroot.sh
  vm-image-virt-customize.sh
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

ROX-33664: Replace archived jackc/pgtype with pgx/v5/pgtype
  go.mod
  pkg/search/postgres/query_metadata.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

wip(vm-image): switch push-default to virt-customize
  .github/workflows/build-vm-images.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

wip(vm-image): fix libguestfs prerequisites on ubuntu-latest
  .github/workflows/build-vm-images.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

wip(vm-image): debug passt failure in virt-customize
  .github/workflows/build-vm-images.yaml
  vm-image-virt-customize.sh
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

wip(vm-image): unload passt AppArmor profile on runner
  .github/workflows/build-vm-images.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

wip(vm-image): also unload qemu/libvirt AppArmor profiles
  .github/workflows/build-vm-images.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

wip(vm-image): fully disable AppArmor on the CI runner
  .github/workflows/build-vm-images.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

wip(vm-image): chown extracted disk and put workdir under /var/tmp
  vm-image-virt-customize.sh
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

wip(vm-image): force public DNS in guest during customization
  vm-image-virt-customize.sh
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

ROX-34016: Display init container info next to standard containers (ai-assisted)
  ui/apps/platform/src/Components/DeploymentContainerConfig.tsx
  ui/apps/platform/src/Components/DeploymentContainersCard.test.tsx
  ui/apps/platform/src/Components/DeploymentContainersCard.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentDetails.tsx
  ui/apps/platform/src/types/deployment.proto.ts
  ui/apps/platform/src/types/featureFlag.ts
Due: ci/prow/ocp-4-20-ui-e2e-tests

fix(ui): Apply feature flag filtering to search configs in ImageCvePageRoute and CveDetailPage (ai-assisted)
  ui/apps/platform/src/ConsolePlugin/CveDetailPage/CveDetailPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePageRoute.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

wip(vm-image): override host resolv.conf before virt-customize
  .github/workflows/build-vm-images.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

wip(vm-image): add in-guest network diagnostics
  vm-image-virt-customize.sh
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

ROX-34133: Use ImageVulnerabilityReportConfiguration for feature work (#19970)
  ui/apps/platform/src/Containers/Vulnerabilities/ImageVulnerabilityReports/View/ImageVulnerabilityFiltersView.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ImageVulnerabilityReports/View/ImageVulnerabilityFiltersViewForCollection.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ImageVulnerabilityReports/View/ImageVulnerabilityResourcesView.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ImageVulnerabilityReports/Wizard/Step3/ImageVulnerabilityFiltersStep.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ImageVulnerabilityReports/Wizard/Step3/ImageVulnerabilityFiltersStepForCollection.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ImageVulnerabilityReports/imageVulnerabilityReports.types.ts
  ui/apps/platform/src/Containers/Vulnerabilities/ImageVulnerabilityReports/imageVulnerabilityReports.utils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/NodeVulnerabilityReports/nodeVulnerabilityReports.types.ts
  ui/apps/platform/src/services/ReportsService.types.ts
Due: ci/prow/ocp-4-20-ui-e2e-tests

wip(vm-image): install dhclient so appliance gets DHCP
  .github/workflows/build-vm-images.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

ROX-30352: add CVE detail and affected VMs endpoints
  central/virtualmachine/v2/service/service_impl.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-20-ui-e2e-tests

Path conditions:
  gke-qa-e2e-tests: unless all of: ^ui/
  gke-sensor-integration-tests: any of: ^sensor/
  gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  gke-scanner-v4-install-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|operator|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  merge-gke-nongroovy-compatibility-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests: unless all of: ^ui/
  ci/prow/gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-scanner-v4-install-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|operator|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/gke-sensor-integration-tests: any of: ^sensor/
  ci/prow/ocp-4-12-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-12-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-12-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-12-scanner-v4-install-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|operator|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-4-20-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-20-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-20-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-20-scanner-v4-install-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|operator|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-4-20-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)
