Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: shell-unit-tests, gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-ebpf-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-ebpf-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-11-compliance-e2e-tests, ci/prow/ocp-4-11-ebpf-qa-e2e-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-11-scanner-v4-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-compliance-e2e-tests, ci/prow/ocp-4-14-ebpf-qa-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests, ci/prow/ocp-4-14-scanner-v4-tests, ci/prow/ocp-4-14-ui-e2e-tests, ci/prow/shell-unit-tests, ci/prow/ui-component-tests

Path conditions:
  shell-unit-tests: any of: (\\.sh|\\.bat)$
  gke-qa-e2e-tests: unless all of: ^ui/
  gke-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service)/
  gke-nongroovy-e2e-tests: unless all of: ^ui/
  gke-sensor-integration-tests: unless all of: ^ui/
  gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  gke-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  merge-gke-operator-e2e-tests: unless all of: ^ui/
  merge-gke-qa-e2e-tests: unless all of: ^ui/
  merge-gke-nongroovy-e2e-tests: unless all of: ^ui/
  merge-gke-sensor-integration-tests: unless all of: ^ui/
  merge-gke-upgrade-tests: unless all of: ^ui/
  merge-gke-version-compatibility-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-ocp-4-11-merge-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  branch-ci-stackrox-stackrox-master-ocp-4-11-merge-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-ocp-4-14-merge-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  branch-ci-stackrox-stackrox-master-ocp-4-14-merge-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-scanner-v4-tests: unless all of: ^ui/
  ci/prow/gke-sensor-integration-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service)/
  ci/prow/gke-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  ci/prow/ocp-4-11-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-11-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  ci/prow/ocp-4-11-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-11-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-11-scanner-v4-tests: unless all of: ^ui/
  ci/prow/ocp-4-11-ui-e2e-tests: any of: ^ui/
  ci/prow/ocp-4-14-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-14-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  ci/prow/ocp-4-14-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-14-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-14-scanner-v4-tests: unless all of: ^ui/
  ci/prow/ocp-4-14-ui-e2e-tests: any of: ^ui/
  ci/prow/shell-unit-tests: any of: ((\.sh)|(\.bat))$
  ci/prow/ui-component-tests: any of: ^ui/

Rename prop to be less hook-like
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedDeferrals.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedFalsePositives.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/DeniedRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/PendingRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/WorkloadTableToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/FilterAutocomplete.tsx
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests, ci/prow/ui-component-tests

Fix test due to new default regex syntax
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageSingle.test.js
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests, ci/prow/ui-component-tests

Fix attempt
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-11-scanner-v4-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests, ci/prow/ocp-4-14-scanner-v4-tests

chore(scanner): Improve indexer config readability (#9476)
  scanner/indexer/indexer.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-scanner-v4-tests, ci/prow/ocp-4-14-scanner-v4-tests

chore(scanner): Replace interface{} with any
  scanner/e2etests/image_test.go
  scanner/indexer/indexer.go
  scanner/updater/rhel/fetch_test.go
  scanner/updater/rhel/parse_test.go
  scanner/updater/rhel/updaterset.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-scanner-v4-tests, ci/prow/ocp-4-14-scanner-v4-tests

bump claircore dep
  go.mod
  go.sum
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-scanner-v4-tests, ci/prow/ocp-4-14-scanner-v4-tests

Re-arrange imports
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProviderForm.tsx
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests, ci/prow/ui-component-tests

fix: data race in event stream test (#9507)
  central/administration/events/handler/handler_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-scanner-v4-tests, ci/prow/ocp-4-14-scanner-v4-tests

fix upgrade test
  central/sensor/service/pipeline/complianceoperatorrulesv2/pipeline.go
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-scanner-v4-tests, ci/prow/ocp-4-14-scanner-v4-tests

chore(scanner): Replace interface{} with any (#9523)
  scanner/e2etests/image_test.go
  scanner/indexer/indexer.go
  scanner/updater/rhel/fetch_test.go
  scanner/updater/rhel/parse_test.go
  scanner/updater/rhel/updaterset.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-scanner-v4-tests, ci/prow/ocp-4-14-scanner-v4-tests

ROX-21838: Factor out reusable ExternalLink component (#9506)
  ui/apps/platform/src/Components/PatternFly/IconText/ExternalLink.tsx
  ui/apps/platform/src/Containers/Clusters/Components/ClusterStatus.tsx
  ui/apps/platform/src/Containers/Collections/CollectionFormModal.tsx
  ui/apps/platform/src/Containers/SystemHealth/CertificateHealth/CertificateCard.tsx
  ui/apps/platform/src/Containers/SystemHealth/DiagnosticBundle/GenerateDiagnosticBundle.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePageHeader.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/CveSelections.tsx
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests, ci/prow/ui-component-tests

reconciliation test too
  qa-tests-backend/src/test/groovy/ReconciliationTest.groovy
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-scanner-v4-tests, ci/prow/ocp-4-14-scanner-v4-tests

style fix x2
  ui/apps/platform/src/Containers/Clusters/Components/Scanner/ScannerStatusTotals.tsx
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests, ci/prow/ui-component-tests

fix style and nan
  ui/apps/platform/src/Containers/Clusters/Components/Scanner/ScannerStatusTotals.tsx
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests, ci/prow/ui-component-tests

Fix test
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner-v4.test.yaml
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-11-scanner-v4-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests, ci/prow/ocp-4-14-scanner-v4-tests

Only attempt to automatically generate Scanner V4 certs when upgrading
  image/templates/helm/shared/templates/_scanner-v4_init.tpl.htpl
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-11-scanner-v4-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests, ci/prow/ocp-4-14-scanner-v4-tests

ROX-21210: Adding image scan notes popover (#9463)
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ImageDetailBadges.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ImageScanningErrorLabelLayout.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/utils/getImageScanMessage.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/utils/getImageScanMessage.ts
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests, ci/prow/ui-component-tests

ROX-21479: Remove ability to cancel a denied request (#9504)
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/denyRequestFlow.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionRequestDetailsPage.tsx
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests, ci/prow/ui-component-tests

Adapt global resource ValidatingWebHook to custom namespaces
  image/templates/helm/shared/templates/_metadata.tpl
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/scanner-v4.test.yaml
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-11-scanner-v4-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests, ci/prow/ocp-4-14-scanner-v4-tests

Use parameterized namespace within webhook match rule
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller.yaml
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-11-scanner-v4-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests, ci/prow/ocp-4-14-scanner-v4-tests

Allow custom namespaces for PSPSs
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller-pod-security.yaml
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-11-scanner-v4-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests, ci/prow/ocp-4-14-scanner-v4-tests

Prefix more global resources for custom namespaces
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller-pod-security.yaml
  image/templates/helm/stackrox-secured-cluster/templates/collector-pod-security.yaml
  image/templates/helm/stackrox-secured-cluster/templates/sensor-pod-security.yaml
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-11-scanner-v4-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests, ci/prow/ocp-4-14-scanner-v4-tests

fix(test): compliance upgrade unexpected (#9526)
  central/sensor/service/pipeline/complianceoperatorrulesv2/pipeline.go
  qa-tests-backend/src/test/groovy/ReconciliationTest.groovy
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-scanner-v4-tests, ci/prow/ocp-4-14-scanner-v4-tests

mocks
  central/alert/datastore/internal/store/mocks/store.go
  central/alert/datastore/mocks/datastore.go
  central/deployment/datastore/internal/store/mocks/store.go
  central/deployment/datastore/mocks/datastore.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-scanner-v4-tests, ci/prow/ocp-4-14-scanner-v4-tests

fix(bug): Ensure future processing when error is unretryable
  central/hash/manager/deduper.go
  central/sensor/service/connection/sensorevents.go
  central/sensor/service/connection/worker_queue.go
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-scanner-v4-tests, ci/prow/ocp-4-14-scanner-v4-tests

register
  pkg/deduperkey/key.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-11-scanner-v4-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests, ci/prow/ocp-4-14-scanner-v4-tests

fix(bug): Ensure future processing when error is unretryable
  central/hash/manager/deduper.go
  central/sensor/service/connection/sensorevents.go
  central/sensor/service/connection/worker_queue.go
  pkg/deduperkey/key.go
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-11-scanner-v4-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests, ci/prow/ocp-4-14-scanner-v4-tests

mark canceled as well
  central/sensor/service/connection/worker_queue.go
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-scanner-v4-tests, ci/prow/ocp-4-14-scanner-v4-tests

m
  central/hash/manager/mocks/deduper.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-scanner-v4-tests, ci/prow/ocp-4-14-scanner-v4-tests

align interface
  central/processlisteningonport/store/store.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-scanner-v4-tests, ci/prow/ocp-4-14-scanner-v4-tests

NaN fix
  ui/apps/platform/src/Containers/Clusters/Components/Scanner/ScannerStatusTotals.tsx
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests, ci/prow/ui-component-tests
