Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

openshift-oldest-operator-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.6'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

openshift-newest-operator-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.11'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

ci/prow/gke-nongroovy-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-postgres-qa-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-postgres-ui-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-qa-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-ui-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-upgrade-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/openshift-newest-operator-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ROX-13882: Generate and simulate network policies integration (#4170)
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPoliciesYAML.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPolicySimulatorSidePanel.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/ViewActiveYAMLs.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/simulatorUtils.ts
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

ROX-13832: Fix the flaky active vuln test (#4204)
  tests/active_vuln_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Enable postgres on non-goovy test
  tests/active_vuln_test.go
  tests/backup_test.go
  tests/container_instances_test.go
  tests/excluded_scopes_test.go
  tests/feature_flag_test.go
  tests/networkpolicy_test.go
  tests/pods_test.go
  tests/roxctl/istio-support.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Update COLLECTOR_VERSION
  COLLECTOR_VERSION
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-13887: Revert rules to previously applied YAML
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPoliciesYAML.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPolicySimulatorSidePanel.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/simulatorUtils.ts
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

fix
  .openshift-ci/dispatch.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

fix env setting usage
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/main.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

do not return after first dump, continue to wait for backoff
  pkg/profiling/profiling.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

fix build
  operator/main.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

PR changes
  pkg/profiling/fifo_dir_test.go
  pkg/profiling/profiling.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

changed assert to require for some assertions
  pkg/profiling/fifo_dir_test.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

start profiler in goroutine
  operator/main.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

handle os.Remove errors
  pkg/profiling/fifo_dir.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

added error wrapping
  pkg/profiling/profiling.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

changed error logging for heap dump from debug to error lvl and default dir to /tmp
  operator/main.go
  pkg/profiling/profiling.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

PR changes
  operator/main.go
  pkg/profiling/fifo_dir.go
  pkg/profiling/fifo_dir_test.go
  pkg/profiling/profiling.go
  pkg/profiling/profiling_test.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

initial implementation of FIFO directory
  pkg/profiling/profiling.go
  pkg/profiling/profiling_test.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

revert change to build-index-image.sh
  operator/hack/build-index-image.sh
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

rename HEAP_DUMP_DIR to HEAP_DUMP_PARENT_DIR
  operator/hack/build-index-image.sh
  operator/main.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

use heap dump in operator
  operator/main.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

some PR polishing
  pkg/debug/debug.go
  pkg/profiling/profiling.go
  pkg/profiling/profiling_test.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

implemented dump and added unit tests
  pkg/debug/debug.go
  pkg/debug/debug_test.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

fixed assert import
  pkg/profiling/fifo_dir_test.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

implement heap profiler draft
  operator/main.go
  pkg/debug/debug.go
  pkg/debug/debug_test.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

make threshhold configurable
  operator/main.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

changed usage of deprecated ioutil package
  pkg/profiling/fifo_dir.go
  pkg/profiling/fifo_dir_test.go
  pkg/profiling/profiling_test.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

add MEMORY_LIMIT_BYTES env variable to manager container
  operator/config/manager/manager.yaml
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

use fifo dir in HeapProfiler
  pkg/profiling/profiling.go
  pkg/profiling/profiling_test.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

PR changes
  operator/main.go
  pkg/profiling/fifo_dir_test.go
  pkg/profiling/profiling.go
  pkg/profiling/profiling_test.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

tests refactoring
  central/telemetry/centralclient/interceptors.go
  central/telemetry/centralclient/interceptors_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Update COLLECTOR_VERSION (#4156)
  COLLECTOR_VERSION
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-12936: added pprof profiling option to operator (#3912)
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/manager/manager.yaml
  operator/main.go
  pkg/profiling/fifo_dir.go
  pkg/profiling/fifo_dir_test.go
  pkg/profiling/profiling.go
  pkg/profiling/profiling_test.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

return Path as Method for gRPC requests
  pkg/telemetry/phonehome/request_params.go
  pkg/telemetry/phonehome/request_params_test.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

fix path (again)
  qa-tests-backend/scripts/run-compatibility.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Use `user.With()` to verify successful authn in telemetry service.
  central/telemetry/service/service_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Path conditions:
  openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/gke-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-upgrade-tests: any of: ^(migrator/|^image/)
  ci/prow/openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
