Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Path conditions:
  openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/gke-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-upgrade-tests: any of: ^(migrator/|^image/)
  ci/prow/openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)

Add namespace to the storage api
  central/processlisteningonport/datastore/datastore.go
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/store/postgres/store.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Pruning for PLOP
  central/processindicator/datastore/datastore_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-13023: Use database count rather than result count in postgres scoped access control context
  pkg/sac/search_helper.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Update scripts/ci/gke.sh
  scripts/ci/gke.sh
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

here-doc
  scripts/ci/gke.sh
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Dashrews/ROX-13703 fix autocomplete test (#4014)
  Makefile
  central/search/service/service_impl_test.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

ROX-13506: add UI for extra fields in syslog notifier (#4025)
  ui/apps/platform/cypress/integration/integrations/notifiers.test.js
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/SyslogIntegrationForm.tsx
  ui/apps/platform/src/types/notifier.proto.ts
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Update tests/e2e/run-e2e-tests-README.md
  tests/e2e/run-e2e-tests-README.md
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-9115: Docs for e2e test runner (#4027)
  tests/e2e/run-e2e-tests-README.md
  tests/e2e/run-e2e-tests.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Factor out helpers for Access Control integration tests (#4000)
  ui/apps/platform/cypress/helpers/request.js
  ui/apps/platform/cypress/integration/accessControl/accessControl.helpers.js
  ui/apps/platform/cypress/integration/accessControl/accessControl.selectors.js
  ui/apps/platform/cypress/integration/accessControl/accessControlAccessScopes.test.js
  ui/apps/platform/cypress/integration/accessControl/accessControlAuthProviders.test.js
  ui/apps/platform/cypress/integration/accessControl/accessControlPermissionSets.test.js
  ui/apps/platform/cypress/integration/accessControl/accessControlRoles.test.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Rename import of integrations helper in systemHealth test file
  ui/apps/platform/cypress/integration/systemHealth/integrations.test.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Move helpers and selectors into same subfolder as integrations integration tests
  ui/apps/platform/cypress/integration/integrations/apiTokens.test.js
  ui/apps/platform/cypress/integration/integrations/clusterInitBundles.test.js
  ui/apps/platform/cypress/integration/integrations/externalBackups.test.js
  ui/apps/platform/cypress/integration/integrations/general.test.js
  ui/apps/platform/cypress/integration/integrations/imageIntegrations.test.js
  ui/apps/platform/cypress/integration/integrations/integrations.helpers.js
  ui/apps/platform/cypress/integration/integrations/integrations.selectors.js
  ui/apps/platform/cypress/integration/integrations/notifiers.test.js
  ui/apps/platform/cypress/integration/integrations/signatureIntegrations.test.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

ROX-13768: Avoid prow error highlights in IntegrationsSplunkViolationsTest
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Add typing to collection results and refactor
  ui/apps/platform/src/Containers/Collections/CollectionResults.tsx
  ui/apps/platform/src/services/CollectionsService.ts
  ui/apps/platform/src/services/types.ts
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

fix autogenerated docker reg insecure
  central/sensor/service/pipeline/imageintegrations/pipeline.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-13676: Create external entities side panel layout (#4005)
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/cidr/CidrBlockSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/FlowsTable.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/NetworkGraphIcons.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentBaselines.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/ExternalEntitiesSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/modelUtils.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

remove unused proto import in resource collection service api
  generated/api/v1/resource_collection_service.pb.go
  proto/api/v1/resource_collection_service.proto
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

L->R
  scripts/ci/gke.sh
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

force failure
  qa-tests-backend/src/test/groovy/IntegrationsTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-13686: regex matching and filter query in collections e2e (#4021)
  tests/resourcecollection_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

wip
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/modelUtils.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Move helpers and selectors into same subfolder as integrations integration tests (#4029)
  ui/apps/platform/cypress/integration/integrations/apiTokens.test.js
  ui/apps/platform/cypress/integration/integrations/clusterInitBundles.test.js
  ui/apps/platform/cypress/integration/integrations/externalBackups.test.js
  ui/apps/platform/cypress/integration/integrations/general.test.js
  ui/apps/platform/cypress/integration/integrations/imageIntegrations.test.js
  ui/apps/platform/cypress/integration/integrations/integrations.helpers.js
  ui/apps/platform/cypress/integration/integrations/integrations.selectors.js
  ui/apps/platform/cypress/integration/integrations/notifiers.test.js
  ui/apps/platform/cypress/integration/integrations/signatureIntegrations.test.js
  ui/apps/platform/cypress/integration/systemHealth/integrations.test.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

ROX-13371: Add GKE Log links for life of cluster (#4006)
  scripts/ci/gke.sh
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

fix autogenerated image integration insecure setting (#4039)
  central/sensor/service/pipeline/imageintegrations/pipeline.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Update Istio scanning by using the new Istio pipeline (#3871)
  central/cve/fetcher/istio.go
  central/cve/fetcher/istio_test.go
  central/cve/fetcher/manager.go
  central/cve/fetcher/manager_impl.go
  central/cve/fetcher/manager_impl_postgres_test.go
  central/cve/fetcher/manager_impl_test.go
  central/cve/fetcher/mock_scanner.go
  central/cve/fetcher/orchestrator.go
  central/cve/matcher/matcher.go
  go.mod
  go.sum
  pkg/scanners/clairify/clairify.go
  pkg/scanners/clairify/convert.go
  pkg/scanners/types/types.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

fix-image-signature-query (#3909)
  central/reprocessor/reprocessor.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests
