Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Path conditions:
  openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/gke-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-upgrade-tests: any of: ^(migrator/|^image/)
  ci/prow/openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)

add store provider and simplify deployment wrapper helper functions
  sensor/common/service/port_ref.go
  sensor/kubernetes/eventpipeline/pipeline.go
  sensor/kubernetes/listener/listener.go
  sensor/kubernetes/listener/listener_impl.go
  sensor/kubernetes/listener/resource_event_handler.go
  sensor/kubernetes/listener/resources/convert.go
  sensor/kubernetes/listener/resources/deployment_store.go
  sensor/kubernetes/listener/resources/deployments.go
  sensor/kubernetes/listener/resources/dispatcher.go
  sensor/kubernetes/listener/resources/endpoints.go
  sensor/kubernetes/listener/resources/port_exposure_reconciler.go
  sensor/kubernetes/listener/resources/rbac/store_impl.go
  sensor/kubernetes/listener/resources/service_store.go
  sensor/kubernetes/listener/resources/store_provider.go
  sensor/kubernetes/sensor/sensor.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Revert fine-grained host paths for compliance mounts (#3850)
  CHANGELOG.md
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Remove Get
  pkg/sizeboundedcache/size_bounded_cache.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

clean up
  central/globaldb/v2backuprestore/manager/restore_process.go
  migrator/clone/clone_test.go
  migrator/clone/mock_central.go
  migrator/clone/postgres/db_clone_manager.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

wait on api to return after restore before proceeding
  tests/upgrade/postgres_run.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

restore rocks DB to Postgres
  central/main.go
  migrator/clone/clone_test.go
  migrator/clone/db_clone_manager_impl.go
  migrator/clone/mock_central.go
  migrator/clone/postgres/db_clone_manager.go
  migrator/clone/postgres/db_clone_manager_impl.go
  migrator/clone/postgres/db_clone_manager_impl_test.go
  pkg/postgres/pgadmin/admin_utils.go
  tests/upgrade/postgres_run.sh
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

clean up
  migrator/clone/postgres/db_clone_manager_impl.go
  tests/upgrade/postgres_run.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

getting started
  central/globaldb/v2backuprestore/manager/restore_process.go
  migrator/clone/db_clone_manager_impl.go
  migrator/clone/mock_central.go
  migrator/clone/postgres/db_clone_manager.go
  migrator/clone/postgres/db_clone_manager_impl.go
  migrator/clone/rocksdb/db_clone_manager.go
  migrator/clone/rocksdb/db_clone_manager_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

PR comments
  central/globaldb/v2backuprestore/manager/restore_process.go
  migrator/clone/clone_test.go
  migrator/clone/db_clone_manager_impl.go
  pkg/postgres/pgadmin/admin_utils.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

implement specific function for deployment secured clusters using helm charts other than repo deploy scripts
  qa-tests-backend/scripts/run-compatibility.sh
  scripts/ci/jobs/gke_version_compatibility_tests.py
  tests/e2e/lib.sh
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

fix shellcheck
  qa-tests-backend/scripts/run-compatibility.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-13167: Adding search filter by entity (#3791)
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

add nil check for deployment wraps
  sensor/kubernetes/listener/resources/deployment_store.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

error if deployment wrap is nil
  sensor/kubernetes/listener/resources/deployment_store.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

CI: Use COS with containerd for some E2E
  scripts/ci/jobs/gke_postgres_qa_e2e_tests.py
  scripts/ci/jobs/gke_qa_e2e_tests.py
  scripts/ci/jobs/gke_race_condition_qa_e2e_tests.py
  tests/e2e/lib.sh
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

add deployment store tests for building deployment object with external dependencies
  sensor/kubernetes/listener/resources/deployment_store_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

use helm opensource repository
  tests/e2e/lib.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Address more UI style comments
  central/role/validate_test.go
  ui/apps/platform/cypress/integration/accessControl/accessControlPermissionSets.test.js
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopeFormWrapper.tsx
  ui/apps/platform/src/Containers/AccessControl/Roles/Roles.tsx
  ui/apps/platform/src/services/AccessScopesService.ts
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-ui-e2e-tests

fix update function call
  central/resourcecollection/datastore/datastore_bench_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-13228: Performance benchmarking baselines for collection workflows
  central/resourcecollection/datastore/datastore_bench_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

cleanup
  qa-tests-backend/scripts/run-compatibility.sh
  tests/e2e/lib.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

update .editorconfig with .sh indent
  .editorconfig
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-13228: Performance benchmarking baselines for collection workflows (#3814)
  central/resourcecollection/datastore/datastore_bench_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-13497: Utilize Deployment matching on Collection API endpoints
  central/resourcecollection/datastore/datastore.go
  central/resourcecollection/datastore/datastore_impl.go
  central/resourcecollection/service/service_impl.go
  generated/api/v1/resource_collection_service.pb.go
  generated/api/v1/resource_collection_service.swagger.json
  proto/api/v1/resource_collection_service.proto
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

combine options messages into one since both are the same ; factor out query handling flow ; factor out deployment matching flow
  central/resourcecollection/service/service_impl.go
  generated/api/v1/policy_service.swagger.json
  generated/api/v1/resource_collection_service.pb.go
  generated/api/v1/resource_collection_service.swagger.json
  proto/api/v1/resource_collection_service.proto
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

update mock datastore
  central/resourcecollection/datastore/mocks/datastore.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

resolve query function
  central/resourcecollection/service/service_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

test update for new options proto type
  central/resourcecollection/service/service_impl_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

CI: Use COS with containerd for some E2E (#3855)
  scripts/ci/jobs/gke_postgres_qa_e2e_tests.py
  scripts/ci/jobs/gke_qa_e2e_tests.py
  scripts/ci/jobs/gke_race_condition_qa_e2e_tests.py
  tests/e2e/lib.sh
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Tests the api after deployments are destroyed
  qa-tests-backend/src/test/groovy/ProcessesListeningOnPortsTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-13326: Use UUID columns for roles, permissionsets and simpleaccessscopes in postgres mode. (#3802)
  central/role/accessscope_ids.go
  central/role/datastore/permissionset_ids.go
  central/role/datastore/singleton.go
  central/role/default.go
  central/role/store/permissionset/postgres/store.go
  central/role/store/simpleaccessscope/postgres/store.go
  central/role/validate.go
  central/role/validate_test.go
  generated/storage/role.pb.go
  migrator/migrations/frozenschema/v73/permission_sets.go
  migrator/migrations/frozenschema/v73/simple_access_scopes.go
  migrator/migrations/n_37_to_n_38_postgres_permission_sets/migration.go
  migrator/migrations/n_37_to_n_38_postgres_permission_sets/migration_test.go
  migrator/migrations/n_46_to_n_47_postgres_roles/migration.go
  migrator/migrations/n_46_to_n_47_postgres_roles/migration_test.go
  migrator/migrations/n_52_to_n_53_postgres_simple_access_scopes/legacypermissionsets/rocksdb_plugin.go
  migrator/migrations/n_52_to_n_53_postgres_simple_access_scopes/legacyroles/rocksdb_plugin.go
  migrator/migrations/n_52_to_n_53_postgres_simple_access_scopes/legacysimpleaccessscopes/rocksdb_plugin.go
  migrator/migrations/n_52_to_n_53_postgres_simple_access_scopes/migration.go
  migrator/migrations/n_52_to_n_53_postgres_simple_access_scopes/migration_test.go
  migrator/migrations/n_52_to_n_53_postgres_simple_access_scopes/postgrespermissionsets/postgres_plugin.go
  migrator/migrations/n_52_to_n_53_postgres_simple_access_scopes/postgresroles/postgres_plugin.go
  migrator/migrations/n_52_to_n_53_postgres_simple_access_scopes/postgressimpleaccessscopes/postgres_plugin.go
  pkg/postgres/schema/permission_sets.go
  pkg/postgres/schema/simple_access_scopes.go
  proto/storage/role.proto
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
  qa-tests-backend/src/test/groovy/SACTest.groovy
  ui/apps/platform/cypress/integration/accessControl/accessControlPermissionSets.test.js
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopeForm.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopeFormWrapper.tsx
  ui/apps/platform/src/Containers/AccessControl/Roles/Roles.tsx
  ui/apps/platform/src/services/AccessScopesService.ts
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Replace object with string union and declare type of useState hook
  ui/apps/platform/src/Containers/Clusters/ClustersSidePanel.tsx
  ui/apps/platform/src/Containers/Clusters/cluster.helpers.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Update scripts/ci/jobs/gke_version_compatibility_tests.py
  scripts/ci/jobs/gke_version_compatibility_tests.py
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests
