Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

openshift-oldest-qa-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.8'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

openshift-newest-qa-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.12'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

openshift-oldest-operator-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.8'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

openshift-newest-operator-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.12'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

ci/prow/gke-nongroovy-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-postgres-nongroovy-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-postgres-qa-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-postgres-ui-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-postgres-upgrade-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Bulk action cve to policy breaks without custom policies
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/CveBulkActionDialogue.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Look at full the scope tree to evaluate layer index and location (#5356)
  central/graphql/resolvers/image_components.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Add filter query support to imageCVE graphQL resolver
  central/graphql/resolvers/image_cve_core.go
  central/graphql/resolvers/image_cve_core_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

format arg
  central/graphql/resolvers/image_cve_core.go
  central/graphql/resolvers/image_cve_core_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

component cve edges dedupe
  migrator/migrations/n_04_to_n_05_postgres_images/postgres/store.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

:oops
  migrator/migrations/n_04_to_n_05_postgres_images/postgres/store.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

Clean up Collections error message on a not found request
  central/resourcecollection/service/service_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Never logging arguments. Removed unused fetchIndicators function
  central/processlisteningonport/datastore/datastore_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Removed logging from pipeline.go
  central/sensor/service/pipeline/processlisteningonport/pipeline.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Scanner 2.29.2 (#5631)
  SCANNER_VERSION
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

bump
  migrator/migrations/n_04_to_n_05_postgres_images/postgres/store.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

Fixed style
  central/processlisteningonport/datastore/datastore_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

X-Smart-Squash: Squashed 3 commits:
  COLLECTOR_VERSION
  pkg/features/list.go
  tests/e2e/lib.sh
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Setting collect udp feature flag to true by default
  pkg/features/list.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Fixed style error
  pkg/features/list.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

distinct
  central/graphql/resolvers/image_cve_core_test.go
  central/views/imagecve/view_impl.go
  central/views/imagecve/view_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Address comments
  central/image/datastore/store/postgres/store.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Address PR comments
  central/image/datastore/store/postgres/store.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Fix length check
  central/image/datastore/store/postgres/store.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Fix imageCVEEdges not getting added to postgres
  central/image/datastore/store/postgres/store.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Skip failing CI test
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Fix watched images not getting re-scanned
  pkg/images/enricher/enricher_impl.go
  pkg/images/enricher/enricher_impl_test.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Remove debug logs
  central/image/datastore/store/postgres/store.go
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Revert image store changes as they have been added in a separate PR
  central/image/datastore/store/postgres/store.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Add debug log
  central/image/datastore/store/postgres/store.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Re-enable test and add debug logs
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

switch nginx image for Splunk QA tests away from dockerhub (#5593)
  qa-tests-backend/src/test/groovy/IntegrationsTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

oops
  tests/e2e/lib.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Apply suggestions from code review
  scripts/ci/store-artifacts.sh
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Correct appearance through cosmetic changes
  scripts/ci/store-artifacts.sh
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

support a ci-fail-fast label
  qa-tests-backend/Makefile
  tests/e2e/lib.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Apply more cosmetic improvements
  scripts/ci/store-artifacts.sh
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Path conditions:
  openshift-oldest-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/gke-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-postgres-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  ci/prow/ocp-4-10-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-10-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-12-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-12-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
