Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

openshift-oldest-qa-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.8'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

openshift-newest-qa-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.12'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

openshift-oldest-operator-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.8'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

openshift-newest-operator-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.12'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

ci/prow/gke-nongroovy-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-postgres-nongroovy-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-postgres-qa-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-postgres-ui-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-postgres-upgrade-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Authenticate internal dev endpoints
  central/development/service/service_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Use admin credentials to check reconciliation stats
  qa-tests-backend/src/test/groovy/ReconciliationTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Align development service with authorizer pattern
  central/development/service/service_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

fix(hardening): require authentication for some public endpoints
  central/auth/service/service_impl.go
  central/role/service/service_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Revert unrelated change
  pkg/grpc/authz/or/or.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

fix(plop): use the correct counters (#7752)
  sensor/common/metrics/init.go
  sensor/common/metrics/metrics.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Change array of tests to map
  central/sensor/service/pipeline/nodeinventory/two_pipelines_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Remove extra InOrder
  central/sensor/service/pipeline/nodeinventory/two_pipelines_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Remove wantErr
  central/sensor/service/pipeline/nodeinventory/two_pipelines_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Change assert.NoError to require.NoError
  central/sensor/service/pipeline/nodeinventory/two_pipelines_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Style: Remove blank line
  central/sensor/service/pipeline/nodeinventory/two_pipelines_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-19653 Fix issue where user is unable to unset resource requirements
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  pkg/helm/charts/tests/centralservices/resources_test.go
  pkg/helm/charts/tests/securedclusterservices/resources_test.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

ROX-19653 add cases for local scanner deployment
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  pkg/helm/charts/tests/securedclusterservices/resources_test.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Update .github/workflows/update-NVD-data.yaml
  .github/workflows/scripts/download-nvd.sh
  .github/workflows/scripts/update-NVD-data.yaml
  .github/workflows/update-NVD-data.yaml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

added error handling for downloading
  .github/workflows/scripts/update-NVD-data.yaml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

First commit
  .github/workflows/scripts/update-NVD-data.yaml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

removed test
  scanner/updater/enrichment/cvss_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

update .sh file
  .github/workflows/scripts/download-nvd.sh
  .github/workflows/update-NVD-data.yaml
  scanner/updater/enrichment/cvss_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Update .github/workflows/scripts/download-nvd.sh
  .github/workflows/scripts/fetch-update-nvd.sh
  .github/workflows/update-NVD-data.yaml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

move breaking change
  image/templates/CHANGING_CHARTS.md
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Remove whitespace
  tests/e2e/run-e2e-tests.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

chore(deps): copy code from unmatinained dep
  central/debug/service/service_test.go
  central/reports/metadata/datastore/store/postgres/store.go
  go.mod
  go.sum
  pkg/mocks/github.com/jackc/pgx/v5/mocks/mocks.go
  pkg/mocks/github.com/jackc/pgx/v5/mocks/rows.go
  pkg/mocks/mocks.go
  pkg/postgres/tests/conn_test.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

ROX-18575 - Add operator breaking changes documentation (#7753)
  operator/EXTENDING_CRDS.md
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

feat(doc): Add Helm breaking changes documentation (#7754)
  image/templates/CHANGING_CHARTS.md
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

ROX-19530: Add conditional rendering in AuthenticationTokensSection
  ui/apps/platform/src/Containers/Integrations/IntegrationPage.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/IntegrationTile.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/IntegrationTilesPage.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/IntegrationsSection.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTilesPage/IntegrationTile.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTilesPage/IntegrationTilesPage.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTilesPage/IntegrationsSection.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTilesPage/index.ts
  ui/apps/platform/src/Containers/Integrations/IntegrationsListPage/IntegrationsListPage.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationsPage.tsx
  ui/apps/platform/src/Containers/Integrations/utils/integrationUtils.ts
  ui/apps/platform/src/Containers/Integrations/utils/integrationsList.ts
  ui/apps/platform/src/Containers/Policies/policies.utils.ts
  ui/apps/platform/src/Containers/SystemHealth/Components/BackupIntegrationHealthWidget.tsx
  ui/apps/platform/src/Containers/SystemHealth/Components/ImageIntegrationHealthWidget.tsx
  ui/apps/platform/src/Containers/SystemHealth/Components/NotifierIntegrationHealthWidget.tsx
  ui/apps/platform/src/Containers/SystemHealth/utils/integrations.ts
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Add untracked files
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/APITokensTile.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/AuthenticationTokensSection.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/BackupIntegrationsSection.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/ClusterInitBundlesTile.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/ImageIntegrationsSection.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/NotifierIntegrationsSection.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/SignatureIntegrationsSection.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/integrationTiles.utils.ts
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

chore(e2e): Update cypress 13.1.0 devDependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

First commit
  scanner/decisions/0004-scannerv4-read-vulneralbilities.md
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

minor change
  scanner/decisions/0004-scannerv4-read-vulneralbilities.md
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-18117: replace button with Link component
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/ScanResultsOverviewTable.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Fix bulk suppress/reobserve CVEs in VM 1.0
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/VulnMgmtListCves.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

ROX-19159 Added report config name to report csv name (#7707)
  central/reports/common/report_formatter.go
  central/reports/scheduler/schedule.go
  central/reports/scheduler/v2/reportgenerator/report_gen.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl.go
  central/reports/scheduler/v2/reportgenerator/singleton.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

update
  central/scannerV4Definitions/cvss/cvssupdater.go
  central/scannerV4Definitions/cvss/cvssupdater_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

chore(e2e): Update cypress 13.1.0 devDependencies in ui (#7764)
  ui/apps/platform/package.json
  ui/yarn.lock
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Path conditions:
  openshift-oldest-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/gke-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-postgres-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  ci/prow/ocp-4-10-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-10-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-12-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-12-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
