Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: gke-qa-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-compliance-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests, ci/prow/ocp-4-20-ui-e2e-tests

gke-qa-e2e-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

gke-sensor-integration-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

gke-operator-e2e-tests:
  optional: true
  steps:
    workflow: stackrox-stackrox-e2e-job

gke-scanner-v4-install-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

merge-gke-nongroovy-compatibility-tests:
  postsubmit: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
      - --report-credentials-file=/etc/report/credentials
  ...

ci/prow/gke-operator-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-qa-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-scanner-v4-install-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-sensor-integration-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/ocp-4-12-compliance-e2e-tests:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: ocp-4-12
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

Prevent clipping of redocly badge link
  ui/apps/platform/src/app.tw.css
Due: ci/prow/ocp-4-20-ui-e2e-tests

Fix Compliance pages spacing
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ClusterDetailsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CoveragesPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CoveragesPageHeader.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfilesToggleGroup.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/ScanConfigurationSelect.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/EditScanConfigDetail.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ViewScanConfigDetail.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

Fix collections preview sidebar layout
  ui/apps/platform/src/Containers/Collections/CollectionResults.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

Fix spacing of policy form buttons
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/PolicyGroupCard.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/PolicySection.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step4/PolicyScopeCardLegacy.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

Fix regression in Search link after style fixes
  ui/apps/platform/src/Containers/MainPage/Header/GlobalSearchButton.tsx
  ui/apps/platform/src/Containers/MainPage/Header/MastheadToolbar.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

Fix policy scope dropdown border-right issue
  ui/apps/platform/src/Components/TypeaheadSelect/TypeaheadSelect.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

Fix policy criteria highlight cutoff
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/PolicyCriteriaKeys.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

Fix overrides for Masthead menu links
  ui/apps/platform/src/css/trumps.css
Due: ci/prow/ocp-4-20-ui-e2e-tests

Move banners up one level to avoid PF6 layout changes that break display
  ui/apps/platform/src/Containers/MainPage/Header/Header.tsx
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

Fix non-postgres unit tests
  central/cve/converter/utils/convert_utils_v2_test.go
  central/graphql/resolvers/image_scan_test.go
  central/image/datastore/store/common/v2/parts_test.go
  central/image/service/service_impl.go
  central/image/service/service_impl_test.go
  pkg/images/utils/test/utils_test.go
  pkg/search/postgres/common_test.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-ui-e2e-tests

Enable feature flag by default
  pkg/features/list.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-ui-e2e-tests

Reinstate rename events are rebase mistake
  pkg/booleanpolicy/node_criteria_test.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests

Fix a bunch of more tests
  central/cve/image/v2/datastore/datastore_sac_test.go
  central/deployment/datastore/search_comparison_test.go
  central/deployment/datastore/test/datastore_sac_test.go
  central/graphdb/testutils/datastore.go
  central/graphql/resolvers/deployments_test.go
  central/graphql/resolvers/image_components_v2_postgres_test.go
  central/graphql/resolvers/image_scan_benchmark_test.go
  central/graphql/resolvers/image_vulnerabilities_v2_test.go
  central/graphql/resolvers/images_test.go
  central/graphql/resolvers/test_setup_utils.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

perf(ci): add page cache warming experiment
  .github/actions/page-cache-warm/action.yaml
  .github/workflows/test-page-cache.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

fix(ci): add fetch-depth/handle-tagged-build, add pre-build-go jobs
  .github/workflows/test-page-cache.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

Fix formatting
  central/deployment/datastore/datastore.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

ROX-33338: VM v2 generate schemas (#19238)
  central/virtualmachine/component/v2/datastore/store/postgres/gen.go
  central/virtualmachine/cve/v2/datastore/store/postgres/gen.go
  central/virtualmachine/scan/v2/datastore/store/postgres/gen.go
  central/virtualmachine/v2/datastore/store/postgres/gen.go
  generated/api/v1/search_service.pb.go
  generated/api/v1/search_service.swagger.json
  pkg/postgres/schema/virtual_machine_component_v2.go
  pkg/postgres/schema/virtual_machine_cvev2.go
  pkg/postgres/schema/virtual_machine_scan_v2.go
  pkg/postgres/schema/virtual_machine_v2.go
  pkg/search/options.go
  proto/api/v1/search_service.proto
  tools/generate-helpers/pg-table-bindings/list.go
Due: gke-qa-e2e-tests, gke-operator-e2e-tests, gke-scanner-v4-install-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-install-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-install-tests, ci/prow/ocp-4-20-operator-e2e-tests, ci/prow/ocp-4-20-qa-e2e-tests, ci/prow/ocp-4-20-scanner-v4-install-tests, ci/prow/ocp-4-20-ui-e2e-tests

Remove --schema-only from VM v2 gen.go files to generate full stores
  central/virtualmachine/component/v2/datastore/store/postgres/gen.go
  central/virtualmachine/component/v2/datastore/store/postgres/store.go
  central/virtualmachine/component/v2/datastore/store/postgres/store_test.go
  central/virtualmachine/cve/v2/datastore/store/postgres/gen.go
  central/virtualmachine/cve/v2/datastore/store/postgres/store.go
  central/virtualmachine/cve/v2/datastore/store/postgres/store_test.go
  central/virtualmachine/scan/v2/datastore/store/postgres/gen.go
  central/virtualmachine/scan/v2/datastore/store/postgres/store.go
  central/virtualmachine/scan/v2/datastore/store/postgres/store_test.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

Generate full VM v2 postgres store with --no-copy-from flag
  central/virtualmachine/v2/datastore/store/postgres/gen.go
  central/virtualmachine/v2/datastore/store/postgres/store.go
  central/virtualmachine/v2/datastore/store/postgres/store_test.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

regen
  central/virtualmachine/scan/v2/datastore/store/postgres/store.go
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

fix(ci): warm immediately after checkout, add tmpfs, fix vmtouch-lock
  .github/actions/page-cache-warm/action.yaml
  .github/workflows/test-page-cache.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

fix(ci): use git describe instead of BUILD_TAG for version
  .github/actions/job-preamble/action.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

perf(ci): add docker --tmpfs overlay mode to page cache experiment
  .github/workflows/test-page-cache.yaml
Due: gke-qa-e2e-tests, merge-gke-nongroovy-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests

ROX-31767: Fix selectors for logout test (#17952)
  ui/apps/platform/cypress/constants/TopNavigation.js
  ui/apps/platform/cypress/selectors/pf6.ts
Due: ci/prow/ocp-4-20-ui-e2e-tests

ROX-31761: Migrate screen reader utility class (#17935)
  ui/apps/platform/cypress/integration/accessControl/accessControlAccessScopes.test.js
  ui/apps/platform/cypress/integration/accessControl/accessControlAuthProviders.test.js
  ui/apps/platform/cypress/integration/accessControl/accessControlPermissionSets.test.js
  ui/apps/platform/cypress/integration/accessControl/accessControlRoles.test.js
  ui/apps/platform/cypress/integration/integrations/apiTokens.test.js
  ui/apps/platform/eslint-plugins/pluginAccessibility.js
  ui/apps/platform/eslint-plugins/pluginPatternFly.js
  ui/apps/platform/src/Components/ExpandRowTh.tsx
  ui/apps/platform/src/Components/ReportJob/ReportJobsTable.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopesList.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/LabelSelectorCard.tsx
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProvidersList.tsx
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/PermissionSetsList.tsx
  ui/apps/platform/src/Containers/AccessControl/Roles/AccessScopesTable.tsx
  ui/apps/platform/src/Containers/AccessControl/Roles/PermissionSetsTable.tsx
  ui/apps/platform/src/Containers/AccessControl/Roles/RolesList.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterRegistrationSecrets/ClusterRegistrationSecretsTable.tsx
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/Components/DelegatedRegistriesTable.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundlesTable.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ProfileSelection.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationsListPage/IntegrationsTable.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/FlowsTable.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/FlowTable.tsx
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTable.tsx
  ui/apps/platform/src/Containers/SystemHealth/ClustersHealth/ClustersHealthTable.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePanel.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestCVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/AffectedNodesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ReportJobs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/ConfigReportsTab.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/WorkloadCVEOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WatchedImages/WatchedImagesTable.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

ROX-31766: Fix colors of logos and login page (#17950)
  ui/apps/platform/src/Containers/Login/LoginPage.jsx
  ui/apps/platform/src/css/style.css
  ui/apps/platform/src/images/RHACS-Logo.svg
  ui/apps/platform/src/images/StackRox-Logo.svg
Due: ci/prow/ocp-4-20-ui-e2e-tests

ROX-31762: Remove references to unused dark theme (#17934)
  ui/apps/platform/src/Components/CodeViewer.cy.jsx
  ui/apps/platform/src/Components/CodeViewer.tsx
  ui/apps/platform/src/app.tw.css
  ui/apps/platform/src/css/dark.theme.css
  ui/apps/platform/src/css/trumps.css
  ui/apps/platform/src/services/PDFExportService.ts
Due: ci/prow/ocp-4-20-ui-e2e-tests

ROX-31763: Fix unmigrated instances of v5 fontfamily vars (#17948)
  ui/apps/platform/src/Components/TimelineGraph/EventsGraph/ClusteredEventMarker/ClusteredGenericEvent.tsx
  ui/apps/platform/src/Components/TimelineGraph/EventsGraph/ClusteredEventMarker/ClusteredPolicyViolationEvent.tsx
  ui/apps/platform/src/Components/TimelineGraph/EventsGraph/ClusteredEventMarker/ClusteredProcessActivityEvent.tsx
  ui/apps/platform/src/Components/TimelineGraph/EventsGraph/ClusteredEventMarker/ClusteredRestartEvent.tsx
  ui/apps/platform/src/Components/TimelineGraph/EventsGraph/ClusteredEventMarker/ClusteredTerminationEvent.tsx
  ui/apps/platform/src/Components/TimelineGraph/EventsGraph/ClusteredEventMarker/__snapshots__/ClusteredEventMarker.test.tsx.snap
Due: ci/prow/ocp-4-20-ui-e2e-tests

ROX-31771: Fix user profile integration tests (#18007)
  ui/apps/platform/cypress/constants/UserPage.js
  ui/apps/platform/cypress/integration/userinfo.test.js
  ui/apps/platform/src/Containers/User/UserPage.jsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

ROX-31772: Fix Cypress selectors for nav and dashboard links (#18022)
  ui/apps/platform/cypress/integration/configmanagement/ConfigurationManagement.selectors.js
  ui/apps/platform/cypress/selectors/navigation.ts
  ui/apps/platform/src/Containers/Dashboard/ScopeBar.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

ROX-31770: Import required CSS for FeedbackModal styling (#18008)
  ui/apps/platform/src/Containers/MainPage/AcsFeedbackModal.tsx
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

ROX-31774: Fix Listening Endpoints Page (#18156)
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsPage.tsx
  ui/apps/platform/src/css/style.css
Due: ci/prow/ocp-4-20-ui-e2e-tests

ROX-31775: Fix Violations Page issues for v6 upgrade (#18194)
  ui/apps/platform/cypress/helpers/nav.ts
  ui/apps/platform/cypress/integration/violations/Violations.selectors.ts
  ui/apps/platform/cypress/integration/violations/violations.test.js
  ui/apps/platform/cypress/selectors/navigation.ts
  ui/apps/platform/cypress/selectors/pf6.ts
  ui/apps/platform/src/Containers/Policies/Detail/PolicyDetailContent.tsx
  ui/apps/platform/src/Containers/Violations/Details/FileAccessCardContent.tsx
  ui/apps/platform/src/Containers/Violations/Details/NetworkFlowCard.tsx
  ui/apps/platform/src/Containers/Violations/Details/NetworkPolicies/NetworkPolicyModal.tsx
  ui/apps/platform/src/Containers/Violations/Details/ViolationDetails.tsx
  ui/apps/platform/src/Containers/Violations/Details/ViolationDetailsPage.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsBreadcrumbs.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePanel.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

ROX-31785: Fix clusters page styles (#18902)
  ui/apps/platform/cypress/integration/clusters/discovered-clusters/DiscoveredClusters.helpers.js
  ui/apps/platform/src/Components/CodeViewer.tsx
  ui/apps/platform/src/Components/PatternFly/ErrorBoundary/ErrorBoundaryCodeBlock.tsx
  ui/apps/platform/src/Components/PatternFly/ErrorBoundary/ErrorBoundaryPage.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterPage.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterRegistrationSecrets/ClusterRegistrationSecretForm.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterRegistrationSecrets/ClusterRegistrationSecretPage.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterRegistrationSecrets/ClusterRegistrationSecretsHeader.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterRegistrationSecrets/ClusterRegistrationSecretsPage.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterRegistrationSecrets/SecureClusterPage.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterRegistrationSecrets/SecureClusterUsingHelmChart.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.tsx
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/DelegateScanningPage.tsx
  ui/apps/platform/src/Containers/Clusters/DiscoveredClusters/DiscoveredClustersPage.tsx
  ui/apps/platform/src/Containers/Clusters/DiscoveredClusters/DiscoveredClustersTable.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundleForm.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundlePage.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundlesHeader.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundlesPage.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/SecureClusterPage.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/SecureClusterUsingHelmChart.tsx
  ui/apps/platform/src/Containers/Clusters/NoClustersPage.tsx
  ui/apps/platform/src/Containers/Clusters/cluster.helpers.tsx
Due: ci/prow/ocp-4-20-ui-e2e-tests

chore(ui): Fix remaining lint issues for PF6 migration (#19212)
  ui/apps/platform/src/Components/CodeViewer.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/AutocompleteSelect.tsx
  ui/apps/platform/src/Components/ContainerArgumentsInfo.tsx
  ui/apps/platform/src/Components/DescriptionListCompact/DescriptionListCompact.tsx
  ui/apps/platform/src/Components/DescriptionListCompact/index.ts
  ui/apps/platform/src/Components/DetailedTooltipContent.tsx
  ui/apps/platform/src/Components/ExpandRowTh.tsx
  ui/apps/platform/src/Components/PatternFly/WidgetCard.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopeForm.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/EffectiveAccessScopeTable.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/RequirementRow.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/RequirementRowAddKey.tsx
  ui/apps/platform/src/Containers/BaseImages/BaseImagesTable.tsx
  ui/apps/platform/src/Containers/Dashboard/DashboardPage.tsx
  ui/apps/platform/src/Containers/MainPage/Header/UserMenu.tsx
  ui/apps/platform/src/Containers/MainPage/PublicConfig/PublicConfig.utils.ts
  ui/apps/platform/src/Containers/NetworkGraph/components/LegendContent.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/CompareYAMLModal.tsx
  ui/apps/platform/src/Containers/User/UserPage.jsx
  ui/apps/platform/src/Containers/User/UserPermissionsForRolesTable.tsx
  ui/apps/platform/src/Containers/Violations/Details/FileAccessCard.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/BaseImageAssessmentCard.tsx
  ui/apps/platform/src/react-app-env.d.ts
Due: ci/prow/ocp-4-20-ui-e2e-tests

ROX-31768: Fixes for global search (#18784)
  ui/apps/platform/eslint-plugins/pluginLimited.js
  ui/apps/platform/src/Components/URLSearchInputWithAutocomplete.jsx
  ui/apps/platform/src/Containers/Search/SearchPage.tsx
  ui/apps/platform/src/css/trumps.css
Due: ci/prow/ocp-4-20-ui-e2e-tests

Path conditions:
  gke-qa-e2e-tests: unless all of: ^ui/
  gke-sensor-integration-tests: any of: ^sensor/
  gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  gke-scanner-v4-install-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|operator|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  merge-gke-nongroovy-compatibility-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests: unless all of: ^ui/
  ci/prow/gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-scanner-v4-install-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|operator|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/gke-sensor-integration-tests: any of: ^sensor/
  ci/prow/ocp-4-12-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-12-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-12-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-12-scanner-v4-install-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|operator|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-4-20-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-20-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-20-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-20-scanner-v4-install-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|operator|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-4-20-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)
