Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: shell-unit-tests, gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-4-12-ebpf-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-compliance-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-next-candidate-scanner-v4-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-compliance-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests, ci/prow/ocp-stable-scanner-v4-tests, ci/prow/ocp-stable-ui-e2e-tests, ci/prow/shell-unit-tests, ci/prow/ui-component-tests

Path conditions:
  shell-unit-tests: any of: (\\.sh|\\.bat)$
  gke-qa-e2e-tests: unless all of: ^ui/
  gke-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service)/
  gke-nongroovy-e2e-tests: unless all of: ^ui/
  gke-sensor-integration-tests: unless all of: ^ui/
  gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  gke-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  merge-gke-operator-e2e-tests: unless all of: ^ui/
  merge-gke-qa-e2e-tests: unless all of: ^ui/
  merge-gke-nongroovy-e2e-tests: unless all of: ^ui/
  merge-gke-sensor-integration-tests: unless all of: ^ui/
  merge-gke-upgrade-tests: unless all of: ^ui/
  merge-gke-version-compatibility-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests: unless all of: ^ui/
  ci/prow/gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-scanner-v4-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/gke-sensor-integration-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)/
  ci/prow/ocp-4-12-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-12-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  ci/prow/ocp-4-12-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-12-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-12-scanner-v4-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-4-12-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)/
  ci/prow/ocp-next-candidate-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-next-candidate-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-next-candidate-scanner-v4-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-next-candidate-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)/
  ci/prow/ocp-stable-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-stable-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-stable-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-stable-scanner-v4-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-stable-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)/
  ci/prow/shell-unit-tests: any of: ((\.sh)|(\.bat))$
  ci/prow/ui-component-tests: any of: ^ui/

Add TODO for dynamic key fetching implementation
  pkg/signatures/types.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

Add note about changing default sig integration ID
  pkg/signatures/types.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

Use right format when linking TODO and Jira ID
  pkg/signatures/types.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

Move static vars from IsRedHatImage to the package level
  pkg/images/utils/utils.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

Ensure default integration doesn't exist if feature flag is disabled
  central/signatureintegration/datastore/singleton.go
  central/signatureintegration/datastore/singleton_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Remove helpers for default integration upsert/delete
  central/signatureintegration/datastore/singleton.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Use string formatting in log statement
  pkg/images/enricher/enricher_impl.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

Use embed to inject Red Hats release key
  pkg/signatures/release-key-3.pub.txt
  pkg/signatures/types.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

Document IsRedHatImage with details on heuristics
  pkg/images/utils/utils.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

Refactor default signature setup
  central/signatureintegration/datastore/singleton.go
  central/signatureintegration/datastore/singleton_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

ROX-29160-Add-default-policy-red-hat-images-signed: restacked on ROX-29160-Add-default-signature-integration-rh-rk3
  branches/ROX-29160-Add-default-policy-red-hat-images-signed
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

ROX-30557: cluster sort order inconsistent (#16418)
  central/cluster/datastore/datastore_impl_postgres_test.go
  pkg/search/postgres/store.go
  pkg/search/postgres/store_cache.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

aggregator
  central/metrics/custom/tracker/aggregator.go
  central/metrics/custom/tracker/aggregator_test.go
  central/metrics/custom/tracker/ordered_values.go
  central/metrics/custom/tracker/ordered_values_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

minimal configuration
  central/config/service/service.go
  central/metrics/custom/image_vulnerabilities/labels.go
  central/metrics/custom/singleton.go
  central/metrics/custom/tracker/configuration.go
  central/metrics/custom/tracker/testing_test.go
  central/metrics/custom/tracker/tracker_base.go
  central/metrics/custom/tracker/tracker_base_test.go
  central/metrics/custom/tracker/validator.go
  central/metrics/custom/tracker/validator_test.go
  generated/api/v1/config_service.swagger.json
  generated/storage/config.pb.go
  generated/storage/config_vtproto.pb.go
  proto/storage/config.proto
  proto/storage/proto.lock
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-next-candidate-scanner-v4-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests, ci/prow/ocp-stable-scanner-v4-tests, ci/prow/ocp-stable-ui-e2e-tests

tracker
  central/metrics/custom/tracker/configuration.go
  central/metrics/custom/tracker/testing_test.go
  central/metrics/custom/tracker/tracker_base.go
  central/metrics/custom/tracker/tracker_base_test.go
  central/metrics/custom/tracker/validator.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

CustomRegistry
  central/metrics/custom_registry.go
  central/metrics/custom_registry_test.go
  central/metrics/mocks/custom_registry.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

cached runner
  CHANGELOG.md
  central/config/service/service.go
  central/config/service/service_test.go
  central/config/service/singleton.go
  central/main.go
  central/metrics/custom/image_vulnerabilities/labels.go
  central/metrics/custom/image_vulnerabilities/tracker.go
  central/metrics/custom/image_vulnerabilities/tracker_test.go
  central/metrics/custom/singleton.go
  central/metrics/custom/singleton_test.go
  central/metrics/custom/tracker/tracker_base.go
  central/metrics/custom_registry.go
  central/metrics/mocks/custom_registry.go
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-ui-e2e-tests

add global access scope checker
  central/metrics/custom/image_vulnerabilities/tracker.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

feat: alerts as custom prometheus metrics
  central/metrics/custom/alerts/labels.go
  central/metrics/custom/alerts/tracker.go
  central/metrics/custom/singleton.go
  generated/api/v1/config_service.swagger.json
  generated/storage/config.pb.go
  generated/storage/config_vtproto.pb.go
  proto/storage/config.proto
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-next-candidate-scanner-v4-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests, ci/prow/ocp-stable-scanner-v4-tests, ci/prow/ocp-stable-ui-e2e-tests

fixes, tests
  central/metrics/custom/alerts/tracker.go
  central/metrics/custom/image_vulnerabilities/tracker.go
  central/metrics/custom/singleton.go
  central/metrics/custom/singleton_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

rename alerts to policy_violations
  central/metrics/custom/policy_violations/labels.go
  central/metrics/custom/policy_violations/tracker.go
  central/metrics/custom/singleton.go
  central/metrics/custom/singleton_test.go
  generated/api/v1/config_service.swagger.json
  generated/storage/config.pb.go
  generated/storage/config_vtproto.pb.go
  proto/storage/config.proto
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-next-candidate-scanner-v4-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests, ci/prow/ocp-stable-scanner-v4-tests, ci/prow/ocp-stable-ui-e2e-tests

use type import
  ui/apps/platform/src/providers/MetadataProvider.tsx
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-ui-e2e-tests, ci/prow/ui-component-tests

Add some tests
  ui/apps/platform/src/hooks/useMetadata.test.tsx
  ui/apps/platform/src/hooks/useMetadata.ts
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-ui-e2e-tests, ci/prow/ui-component-tests

Use context instead of redux for metadata
  ui/apps/platform/src/ConsolePlugin/PluginProvider.tsx
  ui/apps/platform/src/Containers/MainPage/Banners/OutdatedVersionBanner.tsx
  ui/apps/platform/src/hooks/useMetadata.ts
  ui/apps/platform/src/index.tsx
  ui/apps/platform/src/providers/MetadataProvider.tsx
  ui/apps/platform/src/reducers/index.js
  ui/apps/platform/src/reducers/metadata.ts
  ui/apps/platform/src/sagas/index.js
  ui/apps/platform/src/sagas/metadataSagas.js
  ui/apps/platform/src/services/MetadataService.ts
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-ui-e2e-tests, ci/prow/ui-component-tests

chore(sensor): cleanup k8s test helper (#16393)
  sensor/tests/helper/k8s.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Add component count
  central/graphql/resolvers/images.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

add ocp openshift_console_* vars
  tests/e2e/lib.sh
  ui/apps/platform/cypress/helpers/ocpAuth.ts
  ui/apps/platform/scripts/cypress-ocp.sh
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-scanner-v4-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-scanner-v4-tests, ci/prow/ocp-stable-ui-e2e-tests, ci/prow/shell-unit-tests, ci/prow/ui-component-tests

add integration-ocp path and allow internet access
  ui/apps/platform/cypress.config.js
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-ui-e2e-tests, ci/prow/ui-component-tests

Add other missing functions
  central/graphql/resolvers/images.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

ROX-30035: Migration to fix adm cntrl config (#16412)
  CHANGELOG.md
  migrator/migrations/m_211_to_m_212_admission_control_config/migration.go
  migrator/migrations/m_211_to_m_212_admission_control_config/migration_impl.go
  migrator/migrations/m_211_to_m_212_admission_control_config/migration_test.go
  migrator/migrations/m_211_to_m_212_admission_control_config/schema/clusters.go
  migrator/migrations/m_211_to_m_212_admission_control_config/test/store.go
  migrator/runner/all.go
  pkg/migrations/internal/seq_num.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

Add more missing functions
  central/graphql/resolvers/images.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

style
  ui/apps/platform/cypress/helpers/ocpAuth.ts
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-ui-e2e-tests, ci/prow/ui-component-tests

lint
  ui/apps/platform/src/hooks/useMetadata.test.tsx
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-ui-e2e-tests, ci/prow/ui-component-tests

Add missing function
  central/graphql/resolvers/images.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Add last missing functions according to Cursor
  central/graphql/resolvers/images.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

proto.lock
  proto/storage/proto.lock
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-next-candidate-scanner-v4-tests, ci/prow/ocp-next-candidate-ui-e2e-tests, ci/prow/ocp-stable-scanner-v4-tests, ci/prow/ocp-stable-ui-e2e-tests

CustomRegistry per user ID
  central/metrics/custom/image_vulnerabilities/tracker.go
  central/metrics/custom/image_vulnerabilities/tracker_test.go
  central/metrics/custom/singleton.go
  central/metrics/custom/singleton_test.go
  central/metrics/custom/tracker/tracker_base.go
  central/metrics/custom/tracker/tracker_base_test.go
  central/metrics/custom_registry.go
  central/metrics/custom_registry_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

phonehome telemetry
  central/metrics/custom/singleton.go
  central/metrics/custom/tracker/configuration.go
  central/metrics/custom/tracker/tracker_base.go
  central/metrics/custom/tracker/tracker_base_test.go
  central/metrics/custom_registry.go
  pkg/telemetry/phonehome/segment/segment.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-next-candidate-qa-e2e-tests, ci/prow/ocp-stable-operator-e2e-tests, ci/prow/ocp-stable-qa-e2e-tests

setup_e2e_cluster for ocpjobs
  .openshift-ci/dispatch.sh
  tests/e2e/lib.sh
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-compatibility-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-next-candidate-scanner-v4-tests, ci/prow/ocp-stable-scanner-v4-tests, ci/prow/shell-unit-tests
