Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: shell-unit-tests, gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-ebpf-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-ebpf-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-11-compliance-e2e-tests, ci/prow/ocp-4-11-ebpf-qa-e2e-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-compliance-e2e-tests, ci/prow/ocp-4-14-ebpf-qa-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests, ci/prow/shell-unit-tests

shell-unit-tests:
  steps:
    test:
    - ref: stackrox-initial

gke-qa-e2e-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job
  timeout: 5h0m0s

gke-ui-e2e-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job
  timeout: 5h0m0s

gke-nongroovy-e2e-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

gke-sensor-integration-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

gke-operator-e2e-tests:
  optional: true
  steps:
    workflow: stackrox-stackrox-e2e-job
  timeout: 5h0m0s

gke-upgrade-tests:
  optional: true
  steps:
    workflow: stackrox-stackrox-e2e-job

merge-gke-operator-e2e-tests:
  postsubmit: true
  steps:
    workflow: stackrox-stackrox-e2e-job
  timeout: 5h0m0s

merge-gke-qa-e2e-tests:
  postsubmit: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job
  timeout: 5h0m0s

merge-gke-nongroovy-e2e-tests:
  postsubmit: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

merge-gke-sensor-integration-tests:
  postsubmit: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

merge-gke-upgrade-tests:
  postsubmit: true
  steps:
    workflow: stackrox-stackrox-e2e-job

merge-gke-version-compatibility-tests:
  postsubmit: true
  steps:
    workflow: stackrox-stackrox-e2e-job

branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
      - --report-credentials-file=/etc/report/credentials
  ...

branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
      - --report-credentials-file=/etc/report/credentials
  ...

branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
      - --report-credentials-file=/etc/report/credentials
  ...

branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: ocp-4-11
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Fix import
  pkg/printers/sarif.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests

Bump toolchain in go.mod
  go.mod
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests

Undo disabling fail-fast
  qa-tests-backend/Makefile
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests

ROX-23077: Add CVE table to cluster detail page (#10872)
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/ClusterPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/ClusterPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/useClusterVulnerabilities.ts
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/PartialCVEDataAlert.tsx
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests

Renaming refactor
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/AffectedNodesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/utils/vulnerabilityUtils.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/utils/vulnerabilityUtils.ts
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests

Add CVE table to Node detail page
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedDeferrals.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedFalsePositives.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/DeniedRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/PendingRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestCVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/useNodeVulnerabilities.ts
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/NodeCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/NodeCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/components/NodeComponentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/ClusterPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/PlatformCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/NamespaceView/NamespaceViewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/table.utils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/constants.ts
  ui/apps/platform/src/Containers/Vulnerabilities/utils/vulnerabilityUtils.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/utils/vulnerabilityUtils.ts
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests

fix(CI): better cancelation support (#10894)
  .openshift-ci/end.sh
  scripts/ci/lib.sh
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests, ci/prow/shell-unit-tests

ROX-23503: Create type mappings for compound search filter config
  ui/apps/platform/src/Components/CompoundSearchFilter/types.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/imageFilterConfig.test.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/imageFilterConfig.ts
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests

ROX-19615: Network Graph Flake (#9255)
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests

ROX-23946: Factor out email template from vulnerability reporting
  ui/apps/platform/src/Components/EmailTemplate/EmailTemplate.utils.ts
  ui/apps/platform/src/Components/EmailTemplate/EmailTemplateForm.tsx
  ui/apps/platform/src/Components/EmailTemplate/EmailTemplateModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/DeliveryDestinationsForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/EmailTemplateFormModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/emailTemplateFormUtils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/useReportFormValues.tsx
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests

Reorder props in type
  ui/apps/platform/src/Components/EmailTemplate/EmailTemplateModal.tsx
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests

ROX-23051: Add CVE table for node page (#10889)
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedDeferrals.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedFalsePositives.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/DeniedRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/PendingRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestCVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/useNodeVulnerabilities.ts
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/NodeCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/NodeCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/components/NodeComponentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/ClusterPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/PlatformCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/NamespaceView/NamespaceViewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/table.utils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/constants.ts
  ui/apps/platform/src/Containers/Vulnerabilities/utils/vulnerabilityUtils.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/utils/vulnerabilityUtils.ts
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests

Add node components table to Node CVE single pages
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/AffectedNodesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/components/NodeComponentsTable.cy.jsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/components/NodeComponentsTable.tsx
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests

Simplify children type
  ui/apps/platform/src/Containers/Vulnerabilities/components/SummaryCardLayout.tsx
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests

Abstract out summary card layout and logic
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/NodeCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/PlatformCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/SummaryCardLayout.cy.jsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/SummaryCardLayout.tsx
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests

Add Node detail page summary cards
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/useNodeSummaryData.tsx
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests

requestinfo fixes and tests
  pkg/grpc/requestinfo/requestinfo.go
  pkg/grpc/requestinfo/requestinfo_test.go
  pkg/telemetry/phonehome/interceptor.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests

ROX-23638: Fix snapshots added before configs in migration (#10736)
  migrator/migrations/m_192_to_m_193_report_config_migrations/migration_impl.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-upgrade-tests

ROX-23682: Enable ROX_CLEANUP_NOTIFIER_CREDS env var (#10757)
  pkg/env/notifier_secret_encryption.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests

ROX-23565: Adding annotations to namespace view (#10692)
  ui/apps/platform/src/Components/KeyValueListModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/NamespaceView/NamespaceViewPage.tsx
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests

Remove OS column and replace top level OS field
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePageHeader.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/AffectedNodesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/components/NodeComponentsTable.cy.jsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/components/NodeComponentsTable.tsx
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests

fix telemetry interceptor
  pkg/telemetry/phonehome/interceptor.go
  pkg/telemetry/phonehome/interceptor_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests

Test fix
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/AffectedNodesTable.cy.jsx
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests

chore(ui): Split up compliance service files (#10900)
  ui/apps/platform/src/Components/PatternFly/DayPickerDropdown.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/Clusters/ClusterDetails.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/Clusters/ClusterDetailsContent.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/Clusters/ClusterDetailsHeader.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/Clusters/ClusterDetailsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ClustersCoverageTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/compliance.coverage.utils.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/CheckStatusModal.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/RadioButtonWithStats.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/EditScanConfigDetail.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigDetailPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Table/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ViewScanConfigDetail.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ClusterSelection.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ProfileSelection.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ReviewConfig.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ScanConfigWizardForm.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/compliance.scanConfigs.utils.test.ts
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/compliance.scanConfigs.utils.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ScanConfigClustersTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ScanConfigParameterView.tsx
  ui/apps/platform/src/services/ComplianceCommon.ts
  ui/apps/platform/src/services/ComplianceEnhancedService.ts
  ui/apps/platform/src/services/ComplianceIntegrationService.ts
  ui/apps/platform/src/services/ComplianceProfileService.ts
  ui/apps/platform/src/services/ComplianceResultsService.ts
  ui/apps/platform/src/services/ComplianceScanConfigurationService.ts
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests

chore(ui): Remove compliance coverage code
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/Clusters/ClusterDetails.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/Clusters/ClusterDetailsContent.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/Clusters/ClusterDetailsHeader.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/Clusters/ClusterDetailsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ClustersCoverageTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CoveragePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CoveragesPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/compliance.coverage.routes.ts
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/CoverageTableViewToggleGroup.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/RadioButtonWithStats.tsx
  ui/apps/platform/src/services/ComplianceResultsService.ts
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests

ROX-23925: Proto changes for on demand compliance reports
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
  central/complianceoperator/v2/scanconfigurations/store/postgres/gen.go
  central/complianceoperator/v2/scanconfigurations/store/postgres/store.go
  generated/storage/compliance_operator_v2.pb.go
  generated/storage/report_configuration.pb.go
  generated/storage/report_notifier_configuration.pb.go
  generated/storage/report_snapshot.pb.go
  pkg/postgres/schema/compliance_operator_scan_configuration_v2.go
  proto/storage/compliance_operator_v2.proto
  proto/storage/report_configuration.proto
  proto/storage/report_notifier_configuration.proto
  proto/storage/report_snapshot.proto
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-compliance-e2e-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-14-compliance-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests

fix(scanner): Fix db init updater call (#10877)
  .github/workflows/scanner-db-init-dump.yaml
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests

fix: cherry pick fixes for ROX-23682 and ROX-23638 (#10953)
  migrator/migrations/m_192_to_m_193_report_config_migrations/migration_impl.go
  pkg/env/notifier_secret_encryption.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests

updates
  ui/apps/platform/src/Components/CompoundSearchFilter/types.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/imageFilterConfig.test.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/imageFilterConfig.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/searchFilterConfig.test.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/searchFilterConfig.ts
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests

chore(lint): remove deprecated golangci-lint configs
  .golangci.yml
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests

regen lock
  proto/storage/proto.lock
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests

ROX-23911: Add node components table (#10920)
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePageHeader.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/AffectedNodesTable.cy.jsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/AffectedNodesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/components/NodeComponentsTable.cy.jsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/components/NodeComponentsTable.tsx
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests

Path conditions:
  shell-unit-tests: any of: (\\.sh|\\.bat)$
  gke-qa-e2e-tests: unless all of: ^ui/
  gke-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service)/
  gke-nongroovy-e2e-tests: unless all of: ^ui/
  gke-sensor-integration-tests: unless all of: ^ui/
  gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  gke-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  merge-gke-operator-e2e-tests: unless all of: ^ui/
  merge-gke-qa-e2e-tests: unless all of: ^ui/
  merge-gke-nongroovy-e2e-tests: unless all of: ^ui/
  merge-gke-sensor-integration-tests: unless all of: ^ui/
  merge-gke-upgrade-tests: unless all of: ^ui/
  merge-gke-version-compatibility-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-ocp-4-11-merge-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  branch-ci-stackrox-stackrox-master-ocp-4-11-merge-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-ocp-4-14-merge-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  branch-ci-stackrox-stackrox-master-ocp-4-14-merge-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-scanner-v4-tests: unless all of: ^ui/
  ci/prow/gke-sensor-integration-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service)/
  ci/prow/gke-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  ci/prow/ocp-4-11-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-11-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  ci/prow/ocp-4-11-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-11-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-11-ui-e2e-tests: any of: ^ui/
  ci/prow/ocp-4-14-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-14-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  ci/prow/ocp-4-14-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-14-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-14-ui-e2e-tests: any of: ^ui/
  ci/prow/shell-unit-tests: any of: ((\.sh)|(\.bat))$
