Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Path conditions:
  openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/gke-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-upgrade-tests: any of: ^(migrator/|^image/)
  ci/prow/openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)

X-Smart-Squash: Squashed 8 commits:
  central/processlisteningonport/datastore/datastore.go
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/datastore/mocks/datastore.go
  central/processlisteningonport/service/service_impl.go
  central/processlisteningonport/store/postgres/store.go
  generated/api/v1/process_listening_on_port_service.pb.go
  generated/api/v1/process_listening_on_port_service.pb.gw.go
  generated/api/v1/process_listening_on_port_service.swagger.json
  pkg/metrics/op_string.go
  pkg/metrics/operations.go
  proto/api/v1/process_listening_on_port_service.proto
  qa-tests-backend/src/main/groovy/services/ProcessesListeningOnPortsService.groovy
  qa-tests-backend/src/test/groovy/ProcessesListeningOnPortsTest.groovy
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Verify presense of the process information
  central/processlisteningonport/datastore/datastore_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

X-Smart-Squash: Squashed 23 commits:
  central/processlisteningonport/datastore/datastore.go
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/datastore/datastore_impl_test.go
  central/processlisteningonport/datastore/mocks/datastore.go
  central/processlisteningonport/store/postgres/store.go
  generated/api/v1/process_listening_on_port_service.swagger.json
  generated/internalapi/central/process_listening_on_ports_update.pb.go
  generated/storage/process_listening_on_port.pb.go
  proto/internalapi/central/process_listening_on_ports_update.proto
  proto/storage/process_listening_on_port.proto
  qa-tests-backend/src/test/groovy/ProcessesListeningOnPortsTest.groovy
  sensor/common/networkflow/manager/manager_impl.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Initalize results with proper size value
  central/processlisteningonport/service/service_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Add PLOP insert tests
  central/processlisteningonport/datastore/datastore_impl_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Disable generation checks
  central/processindicator/store/postgres/gen.go
  central/processlisteningonport/store/postgres/gen.go
  central/processlisteningonport/store/postgres/index.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Fix process pruning
  central/processindicator/datastore/bench_test.go
  central/processindicator/datastore/datastore.go
  central/processindicator/datastore/datastore_impl.go
  central/processindicator/datastore/datastore_impl_test.go
  central/processindicator/datastore/singleton.go
  central/processlisteningonport/store/postgres/gen.go
  pkg/postgres/schema/process_listening_on_ports.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Fixed style error
  central/processlisteningonport/datastore/datastore_impl_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Temporary downgrade generated files to normal
  central/processlisteningonport/store/postgres/store.go
  pkg/postgres/schema/process_indicators.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Add PLOP gen file with schema-only option
  central/processlisteningonport/store/postgres/gen.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Type in the name
  central/processlisteningonport/datastore/singleton.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Update e2e tests for PLOP
  qa-tests-backend/src/test/groovy/ProcessesListeningOnPortsTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Public API implementation for PLOP
  central/main.go
  central/processlisteningonport/service/service.go
  central/processlisteningonport/service/service_impl.go
  central/processlisteningonport/service/singleton.go
  generated/api/v1/process_listening_on_port_service.pb.go
  generated/api/v1/process_listening_on_port_service.pb.gw.go
  generated/api/v1/process_listening_on_port_service.swagger.json
  proto/api/v1/process_listening_on_port_service.proto
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Use DeploymentExtension SAC
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/service/service_impl.go
  central/processlisteningonport/store/postgres/store.go
  central/role/resources/list.go
  tools/generate-helpers/pg-table-bindings/list.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Guards for PLOP to run only on PG
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/service/service_impl.go
  qa-tests-backend/src/test/groovy/ProcessesListeningOnPortsTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Moved port and protocol to endpoint struct
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/store/postgres/store.go
  generated/api/v1/process_listening_on_port_service.swagger.json
  generated/storage/process_listening_on_port.pb.go
  proto/storage/process_listening_on_port.proto
  qa-tests-backend/src/test/groovy/ProcessesListeningOnPortsTest.groovy
  sensor/common/networkflow/manager/manager_impl.go
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Add more verbose dev docs.
  central/processlisteningonport/README.md
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Adjust unit tests
  central/processlisteningonport/datastore/datastore_impl_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Update generated PLOP store
  central/processlisteningonport/store/postgres/store.go
  central/processlisteningonport/store/postgres/store_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Allow PLOP reopening
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/datastore/datastore_impl_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Extend readme
  central/processlisteningonport/README.md
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Add batch normalization
  central/processlisteningonport/datastore/datastore_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Add tests for closing lifecycle
  central/processlisteningonport/datastore/datastore_impl_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

X-Smart-Squash: Squashed 2 commits:
  central/processlisteningonport/store/postgres/store.go
  generated/api/v1/process_listening_on_port_service.swagger.json
  generated/storage/process_listening_on_port.pb.go
  proto/storage/process_listening_on_port.proto
  qa-tests-backend/src/test/groovy/ProcessesListeningOnPortsTest.groovy
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Refactor AddProcessListeningOnPort
  central/processlisteningonport/datastore/datastore.go
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/datastore/datastore_impl_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Implement pruning for PLOP
  central/processlisteningonport/datastore/datastore.go
  central/processlisteningonport/datastore/datastore_impl.go
  central/pruning/pruning.go
  central/pruning/pruning_test.go
  central/pruning/singleton.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Move port and protocol fields out of serialized
  central/processlisteningonport/store/postgres/store.go
  generated/storage/process_listening_on_port.pb.go
  pkg/postgres/schema/process_listening_on_ports.go
  proto/storage/process_listening_on_port.proto
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Add ProcessIndicatorUniqueKey
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/datastore/datastore_impl_test.go
  generated/storage/process_listening_on_port.pb.go
  proto/storage/process_listening_on_port.proto
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Implement closing lifecycle for PLOP
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/store/postgres/store.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Add Closed column
  central/processlisteningonport/store/postgres/store.go
  generated/storage/process_listening_on_port.pb.go
  pkg/postgres/schema/process_listening_on_ports.go
  pkg/search/options.go
  proto/storage/process_listening_on_port.proto
Due: openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/openshift-newest-operator-e2e-tests, ci/prow/openshift-oldest-operator-e2e-tests

Add e2e tests for collection deployment matching
  ui/apps/platform/cypress/helpers/collections.js
  ui/apps/platform/cypress/integration/collections/Collections.helpers.js
  ui/apps/platform/cypress/integration/collections/Collections.selectors.js
  ui/apps/platform/cypress/integration/collections/collectionsCrudWorkflow.test.js
  ui/apps/platform/cypress/integration/collections/collectionsTable.test.js
  ui/apps/platform/cypress/integration/collections/deploymentMatching.test.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

.
  ui/apps/platform/cypress/integration/collections/deploymentMatching.test.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

More specific selector
  ui/apps/platform/cypress/integration/collections/Collections.selectors.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

(WIP) Rework of collection rule selectors
  ui/apps/platform/cypress/integration/collections/collectionsCrudWorkflow.test.js
  ui/apps/platform/cypress/integration/collections/deploymentMatching.test.js
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/AutoCompleteSelect.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByLabelSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByNameSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/MatchTypeSelect.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.css
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.test.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.tsx
  ui/apps/platform/src/Containers/Collections/converter.test.ts
  ui/apps/platform/src/Containers/Collections/converter.ts
  ui/apps/platform/src/Containers/Collections/types.ts
  ui/apps/platform/src/services/CollectionsService.ts
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

style
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByNameSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.css
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

POC to handle P/Z changes using CLUSTER_HW_ARCH env variable
  qa-tests-backend/src/main/groovy/util/Env.groovy
  qa-tests-backend/src/test/groovy/CertExpiryTest.groovy
  qa-tests-backend/src/test/groovy/CertRotationTest.groovy
  qa-tests-backend/src/test/groovy/IntegrationsSplunkViolationsTest.groovy
  qa-tests-backend/src/test/groovy/TLSChallengeTest.groovy
  qa-tests-backend/src/test/groovy/UpgradesTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests
