Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: shell-unit-tests, gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-ebpf-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-ebpf-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-compliance-e2e-tests, ci/prow/ocp-4-12-ebpf-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-4-15-compliance-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests, ci/prow/ocp-4-15-scanner-v4-tests, ci/prow/ocp-4-15-ui-e2e-tests, ci/prow/shell-unit-tests, ci/prow/ui-component-tests

shell-unit-tests:
  steps:
    test:
    - ref: stackrox-initial

gke-qa-e2e-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job
  timeout: 5h0m0s

gke-ui-e2e-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job
  timeout: 5h0m0s

gke-nongroovy-e2e-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

gke-sensor-integration-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

gke-operator-e2e-tests:
  optional: true
  steps:
    workflow: stackrox-stackrox-e2e-job
  timeout: 5h0m0s

gke-upgrade-tests:
  optional: true
  steps:
    workflow: stackrox-stackrox-e2e-job

merge-gke-operator-e2e-tests:
  postsubmit: true
  steps:
    workflow: stackrox-stackrox-e2e-job
  timeout: 5h0m0s

merge-gke-qa-e2e-tests:
  postsubmit: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job
  timeout: 5h0m0s

merge-gke-nongroovy-e2e-tests:
  postsubmit: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

merge-gke-sensor-integration-tests:
  postsubmit: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

merge-gke-upgrade-tests:
  postsubmit: true
  steps:
    workflow: stackrox-stackrox-e2e-job

merge-gke-version-compatibility-tests:
  postsubmit: true
  steps:
    workflow: stackrox-stackrox-e2e-job

branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
      - --report-credentials-file=/etc/report/credentials
  ...

branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
      - --report-credentials-file=/etc/report/credentials
  ...

branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
      - --report-credentials-file=/etc/report/credentials
  ...

branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: ocp-4-11
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

try something
  central/graphql/resolvers/deployments.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

try something
  central/graphql/resolvers/image_cve_core.go
  central/views/imagecve/view_impl.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

prep for ui test
  central/graphql/resolvers/image_cve_core.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

cleaning up
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/image_cve_core.go
  central/views/common/queries.go
  pkg/search/postgres/common.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests

ROX-26306: Upgrade typescript-eslint 7.18.0 devDependencies in ui
  CHANGELOG.md
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicyCategoryChart.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/CIDRForm.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/CIDRFormModal.tsx
  ui/apps/platform/src/types/widgetConfig.ts
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-4-15-ui-e2e-tests, ci/prow/ui-component-tests

Fold into existing code generation targets
  Makefile
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests

Removed cluster_scope_config and added individual configs
  central/graphql/resolvers/generated.go
  generated/api/v1/cluster_service.swagger.json
  generated/storage/cluster.pb.go
  generated/storage/cluster_vtproto.pb.go
  proto/storage/cluster.proto
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests, ci/prow/ocp-4-15-scanner-v4-tests, ci/prow/ocp-4-15-ui-e2e-tests

Updated proto/storage/proto.lock
  proto/storage/proto.lock
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-4-15-scanner-v4-tests, ci/prow/ocp-4-15-ui-e2e-tests

Added comments
  proto/storage/cluster.proto
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-4-15-scanner-v4-tests, ci/prow/ocp-4-15-ui-e2e-tests

Generated code again
  generated/api/v1/cluster_service.swagger.json
  generated/storage/cluster.pb.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests

Switch to prod subscription-manager key
  .konflux/scripts/subscription-manager/subscription-manager-bro.sh
  .tekton/main-pipeline.yaml
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/shell-unit-tests

Update pkg/k8sintrospect/collector.go
  pkg/k8sintrospect/collector.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests

ROX-25183: Dummy compatibility target (#12749)
  scripts/ci/jobs/gke_nongroovy_compatibility_tests.py
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests, ci/prow/ocp-4-15-scanner-v4-tests

X-Smart-Squash: Squashed 16 commits:
  central/graphql/resolvers/generated.go
  central/notifiers/microsoftsentinel/README.md
  central/notifiers/microsoftsentinel/sentinel.go
  central/notifiers/microsoftsentinel/sentinel_test.go
  central/notifiers/microsoftsentinel/testdata/sentinel-ca-cert.pem
  central/notifiers/microsoftsentinel/testdata/sentinel-ca-key.pem
  generated/api/v1/notifier_service.swagger.json
  generated/storage/notifier.pb.go
  generated/storage/notifier_vtproto.pb.go
  pkg/x509utils/convert.go
  pkg/x509utils/convert_test.go
  proto/storage/notifier.proto
  proto/storage/proto.lock
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests, ci/prow/ocp-4-15-scanner-v4-tests, ci/prow/ocp-4-15-ui-e2e-tests

ROX-25440: Add stackrox CRs to diagnostic bundle (#12141)
  pkg/k8sintrospect/collector.go
  pkg/k8sintrospect/default_config.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests

chmod +x gke_nongroovy_compatibility_tests.py
  scripts/ci/jobs/gke_nongroovy_compatibility_tests.py
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests, ci/prow/ocp-4-15-scanner-v4-tests

another one
  operator/bundle_helpers/requirements-build.txt
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests

ROX-25739: Sentinel notifier support client cert authentication (#12671)
  central/graphql/resolvers/generated.go
  central/notifiers/microsoftsentinel/README.md
  central/notifiers/microsoftsentinel/sentinel.go
  central/notifiers/microsoftsentinel/sentinel_test.go
  central/notifiers/microsoftsentinel/testdata/sentinel-ca-cert.pem
  central/notifiers/microsoftsentinel/testdata/sentinel-ca-key.pem
  generated/api/v1/notifier_service.swagger.json
  generated/storage/notifier.pb.go
  generated/storage/notifier_vtproto.pb.go
  pkg/x509utils/convert.go
  pkg/x509utils/convert_test.go
  proto/storage/notifier.proto
  proto/storage/proto.lock
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests, ci/prow/ocp-4-15-scanner-v4-tests, ci/prow/ocp-4-15-ui-e2e-tests

WIP
  CHANGELOG.md
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests

Add dummy target for gke-nongroovy-compatibility-tests
  scripts/ci/jobs/gke_nongroovy_compatibility_tests.py
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests, ci/prow/ocp-4-15-scanner-v4-tests

lmaa
  operator/bundle_helpers/requirements-build.txt
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests

ROX-25183: Make dummy target executable for CI (#12754)
  scripts/ci/jobs/gke_nongroovy_compatibility_tests.py
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests, ci/prow/ocp-4-15-scanner-v4-tests

ROX-26274: Improve the UI text for upgradability of clusters (#12720)
  ui/apps/platform/src/Containers/Clusters/ClusterDeployment.tsx
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-12-ui-e2e-tests, ci/prow/ocp-4-15-ui-e2e-tests, ci/prow/ui-component-tests

Cython
  operator/bundle_helpers/requirements-build.txt
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests

Add 4.5.3 to scanner updater configuration
  scanner/updater/version/RELEASE_VERSION
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-15-scanner-v4-tests

Add 4.4.6 to scanner updater configuration
  scanner/updater/version/RELEASE_VERSION
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-15-scanner-v4-tests

chore(CI): Add collector DaemonSet state check before checking pods (#12718)
  tests/e2e/lib.sh
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-15-scanner-v4-tests, ci/prow/shell-unit-tests

ci: Validate config-controller artifacts are generated (#12747)
  Makefile
  scripts/ci/jobs/check-generated.sh
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests, ci/prow/ocp-4-12-scanner-v4-tests, ci/prow/ocp-4-15-operator-e2e-tests, ci/prow/ocp-4-15-qa-e2e-tests, ci/prow/ocp-4-15-scanner-v4-tests, ci/prow/shell-unit-tests

Path conditions:
  shell-unit-tests: any of: (\\.sh|\\.bat)$
  gke-qa-e2e-tests: unless all of: ^ui/
  gke-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service)/
  gke-nongroovy-e2e-tests: unless all of: ^ui/
  gke-sensor-integration-tests: unless all of: ^ui/
  gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  gke-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  merge-gke-operator-e2e-tests: unless all of: ^ui/
  merge-gke-qa-e2e-tests: unless all of: ^ui/
  merge-gke-nongroovy-e2e-tests: unless all of: ^ui/
  merge-gke-sensor-integration-tests: unless all of: ^ui/
  merge-gke-upgrade-tests: unless all of: ^ui/
  merge-gke-version-compatibility-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-ocp-4-11-merge-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  branch-ci-stackrox-stackrox-master-ocp-4-11-merge-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-ocp-4-14-merge-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  branch-ci-stackrox-stackrox-master-ocp-4-14-merge-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-scanner-v4-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/gke-sensor-integration-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)/
  ci/prow/ocp-4-12-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-12-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  ci/prow/ocp-4-12-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-12-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-12-scanner-v4-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-4-12-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)/
  ci/prow/ocp-4-15-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-15-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-15-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-15-scanner-v4-tests: any of: ^(scanner|image|central/localscanner|sensor/kubernetes/localscanner|roxctl|deploy|proto|scripts/ci|tests/e2e)/.*
  ci/prow/ocp-4-15-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service|pkg/features/list.go|tests/e2e/lib.sh)/
  ci/prow/shell-unit-tests: any of: ((\.sh)|(\.bat))$
  ci/prow/ui-component-tests: any of: ^ui/
