Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Path conditions:
  openshift-oldest-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/gke-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-postgres-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  ci/prow/ocp-4-10-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-10-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-12-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-12-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)

ROX-17225: install service monitor in monitoring (#6847)
  image/templates/helm/stackrox-central/templates/99-openshift-monitoring.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/openshift-monitoring.test.yaml
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

chore(ui): Gate Workload CVE e2e tests behind feature flag (#6912)
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageCveSingle.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageSingle.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadTableToolbar.test.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

fix(ui): Fix accessibility problems in Clusters (#6904)
  ui/apps/platform/src/Containers/Clusters/ClusterDeployment.js
  ui/apps/platform/src/Containers/Clusters/ClusterLabelsTable.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersSidePanel.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.js
  ui/apps/platform/src/Containers/Clusters/DownloadHelmValues.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

PR feedback
  ui/apps/platform/cypress/integration/violations/violations.test.js
  ui/apps/platform/src/Containers/Violations/Details/DeploymentDetails.tsx
  ui/apps/platform/src/Containers/Violations/Details/NetworkPolicyModal.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

WIP
  operator/apis/platform/v1alpha1/central_types.go
  operator/pkg/central/extensions/reconcile_pvc.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

WIP
  operator/apis/platform/v1alpha1/central_types.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

ROX-11034: Add ability to view NetPol in modal on Violation/Deploy tab (#6908)
  ui/apps/platform/cypress/fixtures/network/networkPoliciesInNamespace.json
  ui/apps/platform/cypress/integration/violations/Violations.helpers.js
  ui/apps/platform/cypress/integration/violations/Violations.selectors.js
  ui/apps/platform/cypress/integration/violations/violations.test.js
  ui/apps/platform/src/Components/PatternFly/CodeEditorDarkModeControl.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/NetworkPolicies.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPoliciesYAML.tsx
  ui/apps/platform/src/Containers/Violations/Details/DeploymentDetails.tsx
  ui/apps/platform/src/Containers/Violations/Details/NetworkPolicyModal.tsx
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Factor out filterEventsByType helper function
  ui/apps/platform/cypress/integration/risk/Risk.helpers.js
  ui/apps/platform/cypress/integration/risk/deploymentTimeline.test.js
  ui/apps/platform/cypress/integration/risk/podTimeline.test.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

the start
  generated/api/v2/compliance_integration_service.pb.go
  generated/api/v2/compliance_integration_service.pb.gw.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

X-Smart-Squash: Squashed 10 commits:
  central/complianceoperatorintegration/datastore/datastore.go
  central/complianceoperatorintegration/datastore/datastore_impl.go
  central/complianceoperatorintegration/datastore/datastore_impl_test.go
  central/complianceoperatorintegration/datastore/mocks/datastore.go
  central/complianceoperatorintegration/datastore/singleton.go
  central/complianceoperatorintegration/store/postgres/gen.go
  central/complianceoperatorintegration/store/postgres/index.go
  central/complianceoperatorintegration/store/postgres/store.go
  generated/api/v1/search_service.pb.go
  generated/api/v1/search_service.swagger.json
  generated/api/v2/compliance_integration_service.pb.go
  generated/api/v2/compliance_integration_service.pb.gw.go
  generated/storage/compliance_integration.pb.go
  pkg/fixtures/fixtureconsts/fixture_consts.go
  pkg/postgres/schema/compliance_integrations.go
  proto/api/v1/search_service.proto
  proto/storage/compliance_integration.proto
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

rebase of generated
  central/complianceoperatorintegration/store/postgres/store.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Move unique selectors and delete unused selectors
  ui/apps/platform/cypress/integration/risk/Risk.selectors.js
  ui/apps/platform/cypress/integration/risk/risk.test.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

ROX-16929: Make CSVTest multi-arch compliant (#6813)
  qa-tests-backend/src/test/groovy/CSVTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

[ROX-18093] Sensor workflow for ad hoc compliance scans (#6903)
  generated/internalapi/central/compliance_operator.pb.go
  generated/internalapi/central/sensor_iservice.pb.go
  pkg/complianceoperator/gvk.go
  pkg/complianceoperator/gvr.go
  proto/internalapi/central/compliance_operator.proto
  proto/internalapi/central/sensor_iservice.proto
  sensor/kubernetes/complianceoperator/handler_impl.go
  sensor/kubernetes/complianceoperator/handler_impl_test.go
  sensor/kubernetes/complianceoperator/mocks/types.go
  sensor/kubernetes/complianceoperator/types.go
  sensor/kubernetes/complianceoperator/updater.go
  sensor/kubernetes/complianceoperator/updater_test.go
  sensor/kubernetes/complianceoperator/utils.go
  sensor/kubernetes/listener/compliance.go
  sensor/kubernetes/sensor/sensor.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

[ROX-18094] Sensor workflow for applying scheduled scans
  generated/internalapi/central/compliance_operator.pb.go
  go.mod
  go.sum
  pkg/env/compliance_operator.go
  proto/internalapi/central/compliance_operator.proto
  sensor/kubernetes/complianceoperator/handler_impl.go
  sensor/kubernetes/complianceoperator/handler_impl_test.go
  sensor/kubernetes/complianceoperator/utils.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

chore(deps): bump docker-registry-client (#6740)
  go.mod
  go.sum
  scanner/go.mod
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

style
  sensor/kubernetes/complianceoperator/handler_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Address comments
  central/reports/service/v2/service_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

fix(operator): nil-pointer exception with empty Central CR (#6925)
  operator/apis/platform/v1alpha1/central_types.go
  operator/pkg/central/extensions/reconcile_pvc.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

ROX-18288: compliance metadata datastores (#6878)
  central/complianceoperatorintegration/datastore/datastore.go
  central/complianceoperatorintegration/datastore/datastore_impl.go
  central/complianceoperatorintegration/datastore/datastore_impl_test.go
  central/complianceoperatorintegration/datastore/mocks/datastore.go
  central/complianceoperatorintegration/datastore/singleton.go
  central/complianceoperatorintegration/store/postgres/gen.go
  central/complianceoperatorintegration/store/postgres/index.go
  central/complianceoperatorintegration/store/postgres/store.go
  generated/api/v1/search_service.pb.go
  generated/api/v1/search_service.swagger.json
  generated/storage/compliance_integration.pb.go
  pkg/fixtures/fixtureconsts/fixture_consts.go
  pkg/postgres/schema/compliance_integrations.go
  proto/api/v1/search_service.proto
  proto/storage/compliance_integration.proto
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Update based on comments
  .github/workflows/start-vulnerability-updater.yaml
  scanner/cmd/updater/update.go
  scanner/updater/export.go
  scanner/updater/manual/manual.go
  scanner/updater/manual/manual_example_test.go
  scanner/updater/manual/test/test_data.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

test GetFlowForDeployment with a finished flow
  central/networkgraph/flow/datastore/internal/store/postgres/store_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

first cut at wrapping in a transaction
  migrator/migrations/m_168_to_m_169_postgres_remove_clustercve_permission/migration.go
  migrator/migrations/m_169_to_m_170_collections_sac_resource_migration/migration.go
  migrator/migrations/m_170_to_m_171_create_policy_categories_and_edges/migration.go
  migrator/migrations/m_171_to_m_172_move_scope_to_collection_in_report_configurations/migration.go
  migrator/migrations/m_172_to_m_173_network_flows_partition/migration.go
  migrator/migrations/m_173_to_m_174_group_unique_constraint/migration.go
  migrator/migrations/m_174_to_m_175_enable_search_on_api_tokens/migration.go
  migrator/migrations/m_176_to_m_177_network_baselines_cidr/migration.go
  migrator/migrations/m_177_to_m_178_group_permissions/migration.go
  migrator/migrations/m_178_to_m_179_embedded_collections_search_label/migration.go
  migrator/migrations/m_179_to_m_180_openshift_policy_exclusions/migration.go
  migrator/migrations/m_179_to_m_180_openshift_policy_exclusions/postgres/policy_migrator.go
  migrator/migrations/m_180_to_m_181_move_to_blobstore/migration.go
  migrator/migrations/m_181_to_m_182_group_role_permission_with_access_one/migration_impl.go
  migrator/migrations/m_182_to_m_183_remove_default_scope_manager_role/migration_impl.go
  migrator/migrations/m_183_to_m_184_move_declarative_config_health/migration.go
  migrator/migrations/m_184_to_m_185_remove_policy_vulnerability_report_resources/migration_impl.go
  migrator/migrations/m_185_to_m_186_more_policy_migrations/migration.go
  migrator/migrations/policymigrationhelper/postgres_policy_migrator.go
  migrator/runner/runner.go
  migrator/types/databases.go
  migrator/types/databases_amd64.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

gomod
  scanner/go.mod
  scanner/go.sum
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

test addBaseline with a finished flow
  central/networkbaseline/manager/manager_impl_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests
