Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

openshift-oldest-qa-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.8'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

openshift-newest-qa-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.12'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

openshift-oldest-operator-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.8'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

openshift-newest-operator-e2e-tests:
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 5h0m0s
    version: '4.12'
  optional: true
  steps:
    test:
    - ref: stackrox-e2e
  timeout: 5h0m0s

ci/prow/gke-nongroovy-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-postgres-nongroovy-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-postgres-qa-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-postgres-ui-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/gke-postgres-upgrade-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

fix(ui): Skip hideScanResults integration tests for openshift (#6393)
  ui/apps/platform/cypress/integration/compliance/hideScanResults.test.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

fix-complianceruns-test
  qa-tests-backend/src/test/groovy/ComplianceTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

remove-typo-declarative-config-test
  qa-tests-backend/src/test/groovy/DeclarativeConfigTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Add sac check to blob upsert (#6342)
  central/blob/datastore/store/store.go
  central/blob/datastore/store/store_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

a nightly update script
  .openshift-ci/nightlies.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

push the tag
  .openshift-ci/nightlies.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

skip in rehearse jobs
  .openshift-ci/nightlies.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

ROX-17413: Fix ComplianceTest (#6395)
  qa-tests-backend/src/test/groovy/ComplianceTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

fix(e2e): remove typo in declarative config test (#6396)
  qa-tests-backend/src/test/groovy/DeclarativeConfigTest.groovy
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Try stackrox-test-user image
  .github/workflows/unit-tests.yaml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Revert "Try stackrox-test-user image"
  .github/workflows/unit-tests.yaml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Prepare separation of sensor integration tests
  .openshift-ci/ci_tests.py
  scripts/ci/jobs/ocp_sensor_integration.py
  tests/e2e/run.sh
  tests/e2e/sensor.sh
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

chmod a+r repo directory
  .github/workflows/unit-tests.yaml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

fix(deploy): revert deploy changes for declarative configuration (#6385)
  deploy/common/env.sh
  deploy/common/k8sbased.sh
  tests/e2e/lib.sh
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

bump the sleep to allow sensor finish processing all messages
  sensor/tests/replay/helper.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Update cypress 12.14.0 devDependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

ROX-17642: Filter according to hideScanResults in EntityCompliance (#6381)
  ui/apps/platform/src/Containers/Compliance/widgets/EntityCompliance.js
Due: ci/prow/gke-postgres-ui-e2e-tests, ci/prow/gke-ui-e2e-tests

Add more policy migrations
  migrator/migrations/m_185_to_m_186_more_policy_migrations/migration.go
  migrator/migrations/m_185_to_m_186_more_policy_migrations/migration_test.go
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policies_before_and_after/after/add_instruction.json
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policies_before_and_after/after/apk.json
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policies_before_and_after/after/automount_service_account_token.json
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policies_before_and_after/after/dnf.json
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policies_before_and_after/after/exec-dnf.json
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policies_before_and_after/after/exec-remote-copy.json
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policies_before_and_after/after/host_network.json
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policies_before_and_after/after/no_resources_specified.json
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policies_before_and_after/after/pod_exec.json
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policies_before_and_after/after/privileged.json
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policies_before_and_after/after/restricted_host_ports.json
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policies_before_and_after/after/root_user.json
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policies_before_and_after/after/secret_env.json
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policies_before_and_after/before/add_instruction.json
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policies_before_and_after/before/apk.json
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policies_before_and_after/before/automount_service_account_token.json
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policies_before_and_after/before/dnf.json
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policies_before_and_after/before/exec-dnf.json
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policies_before_and_after/before/exec-remote-copy.json
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policies_before_and_after/before/host_network.json
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policies_before_and_after/before/no_resources_specified.json
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policies_before_and_after/before/pod_exec.json
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policies_before_and_after/before/privileged.json
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policies_before_and_after/before/restricted_host_ports.json
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policies_before_and_after/before/root_user.json
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policies_before_and_after/before/secret_env.json
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policypostgresstore/postgres_plugin.go
  migrator/runner/all.go
  pkg/migrations/internal/seq_num.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Add test_sensor_wip to unlock the PR in openshift/release
  tests/e2e/sensor.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Remove Postgres flag from pkg (#6161)
  pkg/cve/cve.go
  pkg/dackbox/indexer/metrics.go
  pkg/fixtures/dackbox.go
  pkg/migrations/paths.go
  pkg/migrations/seq_num.go
  pkg/nodes/enricher/enricher_impl.go
  pkg/nodes/enricher/enricher_impl_test.go
  pkg/postgres/deprecated_call.go
  pkg/postgres/pgadmin/admin_utils_test.go
  pkg/postgres/pgutils/retry.go
  pkg/scancomponent/component_id.go
  pkg/scancomponent/scan_component.go
  pkg/search/policycategory/transform.go
  pkg/search/sortfields/fields_map.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

remove unreachable
  migrator/clone/db_clone_manager_impl.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-postgres-upgrade-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-upgrade-tests

Readd the sensor tests to non-groovy. They will be moved again in ROX-17674
  tests/e2e/run.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Add TODOs after splitting the work into two tickets
  tests/e2e/run.sh
  tests/e2e/sensor.sh
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

testing downloading supported version of stackrox
  .github/workflows/scripts/updater-support-versions.py
  .github/workflows/start-updater.yaml
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Remove in-memory bleve from compliance
  central/compliance/aggregation/aggregation.go
  central/compliance/standards/control/gen.go
  central/compliance/standards/control/index.go
  central/compliance/standards/control/store.go
  central/compliance/standards/control/store_test.go
  central/compliance/standards/index/indexer.go
  central/compliance/standards/registry.go
  central/compliance/standards/registry_singleton.go
  central/compliance/standards/registry_test.go
  central/compliance/standards/standard/gen.go
  central/compliance/standards/standard/index.go
  central/compliance/standards/standard/store.go
  central/compliance/standards/standard/store_test.go
  central/compliance/standards/standards.go
  central/compliance/standards/types.go
  central/complianceoperator/manager/manager.go
  central/complianceoperator/manager/manager_test.go
  central/graphql/resolvers/compliance.go
  generated/api/v1/debug_service.pb.go
  generated/storage/compliance.pb.go
  proto/storage/compliance.proto
  tools/generate-helpers/pg-table-bindings/list.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

Remove extra proto
  generated/storage/compliance.pb.go
  proto/storage/compliance.proto
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

yeah pkg
  pkg/postgres/schema/compliance_controls.go
  pkg/postgres/schema/compliance_standards.go
Due: openshift-oldest-qa-e2e-tests, openshift-newest-qa-e2e-tests, openshift-oldest-operator-e2e-tests, openshift-newest-operator-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/ocp-4-10-operator-e2e-tests, ci/prow/ocp-4-10-qa-e2e-tests, ci/prow/ocp-4-12-operator-e2e-tests, ci/prow/ocp-4-12-qa-e2e-tests

test and style
  central/pod/datastore/datastore_bench_test.go
  central/pod/datastore/internal/search/searcher_impl.go
  central/pod/service/service_impl_test.go
Due: ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-postgres-nongroovy-e2e-tests, ci/prow/gke-postgres-qa-e2e-tests, ci/prow/gke-qa-e2e-tests

Path conditions:
  openshift-oldest-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-oldest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  openshift-newest-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/gke-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-postgres-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-postgres-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^ui/
  ci/prow/gke-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  ci/prow/ocp-4-10-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-10-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-12-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
  ci/prow/ocp-4-12-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|EXPECTED_GO_VERSION)
