Repository stackrox/stackrox: changes, and which Prow jobs are due for each by the changed paths.
All: shell-unit-tests, gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, gke-upgrade-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-ebpf-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-ebpf-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/gke-upgrade-tests, ci/prow/ocp-4-11-compliance-e2e-tests, ci/prow/ocp-4-11-ebpf-qa-e2e-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-compliance-e2e-tests, ci/prow/ocp-4-14-ebpf-qa-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests, ci/prow/shell-unit-tests

shell-unit-tests:
  steps:
    test:
    - ref: stackrox-initial

gke-qa-e2e-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job
  timeout: 5h0m0s

gke-ui-e2e-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job
  timeout: 5h0m0s

gke-nongroovy-e2e-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

gke-sensor-integration-tests:
  optional: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

gke-operator-e2e-tests:
  optional: true
  steps:
    workflow: stackrox-stackrox-e2e-job
  timeout: 5h0m0s

gke-upgrade-tests:
  optional: true
  steps:
    workflow: stackrox-stackrox-e2e-job

merge-gke-operator-e2e-tests:
  postsubmit: true
  steps:
    workflow: stackrox-stackrox-e2e-job
  timeout: 5h0m0s

merge-gke-qa-e2e-tests:
  postsubmit: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job
  timeout: 5h0m0s

merge-gke-nongroovy-e2e-tests:
  postsubmit: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

merge-gke-sensor-integration-tests:
  postsubmit: true
  steps:
    env:
      COLLECTION_METHOD: core_bpf
    workflow: stackrox-stackrox-e2e-job

merge-gke-upgrade-tests:
  postsubmit: true
  steps:
    workflow: stackrox-stackrox-e2e-job

merge-gke-version-compatibility-tests:
  postsubmit: true
  steps:
    workflow: stackrox-stackrox-e2e-job

branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
      - --report-credentials-file=/etc/report/credentials
  ...

branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
      - --report-credentials-file=/etc/report/credentials
  ...

branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
      - --report-credentials-file=/etc/report/credentials
  ...

branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: ocp-4-11
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Add serviceaccount exception to default policy
  pkg/defaults/policies/files/access_kubeadmin_secret.json
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests

ROX-24099: Add profile clusters sorting (#11200)
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileClustersPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileClustersTable.tsx
  ui/apps/platform/src/services/ComplianceResultsStatsService.ts
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests

ROX-24096: Add profile checks sorting (#11179)
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileChecksPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileChecksTable.tsx
  ui/apps/platform/src/services/ComplianceResultsService.ts
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests

feat(central): defs: Serve multibundle definitions
  central/scannerdefinitions/handler/handler.go
  pkg/features/list.go
  scanner/matcher/updater/vuln/updater.go
  scanner/matcher/updater/vuln/updater_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests

Fix imagecveView not returning results for offsets > 0
  central/views/imagecve/view_impl.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests

Rename 'CVE Count' search tag in image proto
  generated/storage/image.pb.go
  pkg/search/options.go
  proto/storage/image.proto
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests

feat(central): defs: Switch to multi bundle definitions (#11167)
  central/scannerdefinitions/handler/handler.go
  pkg/features/list.go
  scanner/matcher/updater/vuln/updater.go
  scanner/matcher/updater/vuln/updater_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests

refactor(scanner): Use testutils.MustUpdateFeature
  scanner/matcher/updater/vuln/updater_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests

add test, update go mod
  go.mod
  go.sum
  pkg/registries/docker/metadata_v2_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests

chore(ui): Remove compliance standard logos
  ui/apps/platform/src/Components/ControlDetails.js
  ui/apps/platform/src/images/cis.svg
  ui/apps/platform/src/images/hipaa.svg
  ui/apps/platform/src/images/nist.svg
  ui/apps/platform/src/images/pci.svg
Due: gke-ui-e2e-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-ui-e2e-tests, ci/prow/ocp-4-14-ui-e2e-tests

ROX-24045: Telemetry `WithMessageIDPrefix` option (#11113)
  central/cluster/datastore/telemetry.go
  pkg/telemetry/phonehome/segment/segment.go
  pkg/telemetry/phonehome/segment/segment_test.go
  pkg/telemetry/phonehome/telemeter/telemeter.go
  pkg/telemetry/phonehome/telemeter/telemeter_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests

make use of salty message ID
  central/cluster/datastore/telemetry.go
  central/cluster/datastore/telemetry_test.go
  pkg/telemetry/phonehome/segment/segment.go
  pkg/telemetry/phonehome/segment/segment_test.go
  pkg/telemetry/phonehome/telemeter/telemeter.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests

try to workaround roxvet panic
  central/cluster/datastore/telemetry_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests

cache: refresh timestamp on access
  pkg/telemetry/phonehome/segment/segment.go
  pkg/telemetry/phonehome/segment/segment_test.go
  pkg/telemetry/phonehome/telemeter/telemeter.go
  pkg/telemetry/phonehome/telemeter/telemeter_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests

removed unused code
  pkg/telemetry/phonehome/client_config.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests

add expirable cache
  central/cluster/datastore/telemetry.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests

unit test
  central/cluster/datastore/telemetry.go
  central/cluster/datastore/telemetry_test.go
  pkg/telemetry/phonehome/client_config.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests

use pkg/expiringcache, store hash
  central/cluster/datastore/telemetry.go
  central/cluster/datastore/telemetry_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests

refactoring, tests
  pkg/telemetry/phonehome/segment/segment.go
  pkg/telemetry/phonehome/segment/segment_test.go
  pkg/telemetry/phonehome/telemeter/telemeter_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests

test eviction on time
  central/cluster/datastore/telemetry_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests

ROX-22051: retry tls dial in test (#11153)
  tests/endpoints_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests

ROX-21977: compliance profile pagination (#11052)
  central/complianceoperator/v2/profiles/datastore/datastore.go
  central/complianceoperator/v2/profiles/datastore/datastore_impl.go
  central/complianceoperator/v2/profiles/datastore/datastore_impl_test.go
  central/complianceoperator/v2/profiles/datastore/mocks/datastore.go
  central/complianceoperator/v2/profiles/service/service_impl.go
  central/complianceoperator/v2/profiles/service/service_impl_test.go
  central/convert/storagetov2/compliance_profile_service.go
  generated/api/v1/search_service.pb.go
  generated/api/v1/search_service.swagger.json
  generated/api/v2/compliance_profile_service.pb.go
  generated/api/v2/compliance_profile_service.swagger.json
  pkg/search/options.go
  pkg/search/postgres/common.go
  proto/api/v1/search_service.proto
  proto/api/v2/compliance_profile_service.proto
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-compliance-e2e-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-14-compliance-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests

ROX-23940: re-enable roxctl scan (#11197)
  .github/workflows/build.yaml
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests

load benchmark on startup
  central/complianceoperator/v2/benchmarks/datastore/singleton.go
  central/main.go
  generated/storage/compliance_operator_v2.pb.go
  pkg/defaults/complianceoperator/files/cis-benchmarks.json
  proto/storage/compliance_operator_v2.proto
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-compliance-e2e-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-14-compliance-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests

wip upsert benchmarks
  central/complianceoperator/v2/benchmarks/datastore/singleton.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-compliance-e2e-tests, ci/prow/ocp-4-14-compliance-e2e-tests

load benchmarks function
  pkg/defaults/complianceoperator/benchmarks.go
  pkg/defaults/complianceoperator/files/cis-benchmarks.json
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests

add data store layers for benchmarks
  central/complianceoperator/v2/benchmarks/datastore/datastore.go
  central/complianceoperator/v2/benchmarks/datastore/datastore_impl.go
  central/complianceoperator/v2/benchmarks/datastore/datastore_impl_test.go
  central/complianceoperator/v2/benchmarks/datastore/singleton.go
  central/complianceoperator/v2/benchmarks/store/postgres/gen.go
  central/complianceoperator/v2/benchmarks/store/postgres/store.go
  central/complianceoperator/v2/benchmarks/store/postgres/store_test.go
  generated/storage/compliance_operator_v2.pb.go
  pkg/postgres/schema/compliance_operator_benchmark_v2.go
  pkg/search/options.go
  proto/storage/compliance_operator_v2.proto
  tools/generate-helpers/pg-table-bindings/list.go
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-compliance-e2e-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-14-compliance-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests

add profile names field to the proto
  generated/storage/compliance_operator_v2.pb.go
  pkg/defaults/complianceoperator/files/cis-benchmarks.json
  proto/storage/compliance_operator_v2.proto
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests

update json file
  pkg/defaults/complianceoperator/files/cis-benchmarks.json
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests

update profiles field to make it searchable
  central/complianceoperator/v2/benchmarks/store/postgres/gen.go
  central/complianceoperator/v2/benchmarks/store/postgres/store.go
  generated/api/v1/search_service.pb.go
  generated/storage/compliance_operator_v2.pb.go
  pkg/postgres/schema/compliance_operator_benchmark_v2.go
  proto/storage/compliance_operator_v2.proto
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-compliance-e2e-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-14-compliance-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests

update proto/store
  central/complianceoperator/v2/benchmarks/datastore/mocks/datastore.go
  central/complianceoperator/v2/benchmarks/store/postgres/store.go
  generated/api/v1/search_service.pb.go
  generated/storage/compliance_operator_v2.pb.go
  pkg/defaults/complianceoperator/files/cis-benchmarks.json
  pkg/postgres/schema/compliance_operator_benchmark_v2.go
  proto/storage/compliance_operator_v2.proto
Due: gke-qa-e2e-tests, gke-ui-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/gke-ui-e2e-tests, ci/prow/ocp-4-11-compliance-e2e-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-14-compliance-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests

add unit tests to the datastore
  central/complianceoperator/v2/benchmarks/datastore/datastore_impl_test.go
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-compliance-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-compliance-e2e-tests, ci/prow/ocp-4-14-compliance-e2e-tests

udpate json file
  pkg/defaults/complianceoperator/files/cis-benchmarks.json
Due: gke-qa-e2e-tests, gke-nongroovy-e2e-tests, gke-sensor-integration-tests, gke-operator-e2e-tests, merge-gke-operator-e2e-tests, merge-gke-qa-e2e-tests, merge-gke-nongroovy-e2e-tests, merge-gke-sensor-integration-tests, merge-gke-upgrade-tests, merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests, branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests, branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests, branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests, branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests, ci/prow/gke-nongroovy-e2e-tests, ci/prow/gke-operator-e2e-tests, ci/prow/gke-qa-e2e-tests, ci/prow/gke-scanner-v4-tests, ci/prow/gke-sensor-integration-tests, ci/prow/ocp-4-11-operator-e2e-tests, ci/prow/ocp-4-11-qa-e2e-tests, ci/prow/ocp-4-14-operator-e2e-tests, ci/prow/ocp-4-14-qa-e2e-tests

Path conditions:
  shell-unit-tests: any of: (\\.sh|\\.bat)$
  gke-qa-e2e-tests: unless all of: ^ui/
  gke-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service)/
  gke-nongroovy-e2e-tests: unless all of: ^ui/
  gke-sensor-integration-tests: unless all of: ^ui/
  gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  gke-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  merge-gke-operator-e2e-tests: unless all of: ^ui/
  merge-gke-qa-e2e-tests: unless all of: ^ui/
  merge-gke-nongroovy-e2e-tests: unless all of: ^ui/
  merge-gke-sensor-integration-tests: unless all of: ^ui/
  merge-gke-upgrade-tests: unless all of: ^ui/
  merge-gke-version-compatibility-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-nongroovy-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-operator-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-qa-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-sensor-integration-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-upgrade-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-merge-gke-version-compatibility-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-ocp-4-11-merge-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  branch-ci-stackrox-stackrox-master-ocp-4-11-merge-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  branch-ci-stackrox-stackrox-master-ocp-4-11-merge-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  branch-ci-stackrox-stackrox-master-ocp-4-11-merge-qa-e2e-tests: unless all of: ^ui/
  branch-ci-stackrox-stackrox-master-ocp-4-14-merge-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  branch-ci-stackrox-stackrox-master-ocp-4-14-merge-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  branch-ci-stackrox-stackrox-master-ocp-4-14-merge-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  branch-ci-stackrox-stackrox-master-ocp-4-14-merge-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-nongroovy-e2e-tests: unless all of: ^ui/
  ci/prow/gke-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/gke-qa-e2e-tests: unless all of: ^ui/
  ci/prow/gke-scanner-v4-tests: unless all of: ^ui/
  ci/prow/gke-sensor-integration-tests: unless all of: ^ui/
  ci/prow/gke-ui-e2e-tests: any of: ^(ui|proto/(storage|api)|central/.+?/service)/
  ci/prow/gke-upgrade-tests: any of: ^(COLLECTOR_VERSION|SCANNER_VERSION|tests/upgrade/|qa-tests-backend/src/test/groovy/UpgradesTest.groovy|migrator/|image/)
  ci/prow/ocp-4-11-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-11-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  ci/prow/ocp-4-11-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-11-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-11-ui-e2e-tests: any of: ^ui/
  ci/prow/ocp-4-14-compliance-e2e-tests: any of: ^(compliance|central\/compliance.*)
  ci/prow/ocp-4-14-ebpf-qa-e2e-tests: any of: ^COLLECTOR_VERSION
  ci/prow/ocp-4-14-operator-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-14-qa-e2e-tests: any of: ^((generated|image|operator|pkg|make|deploy|scripts)/.*|Makefile|status\.sh|[A-Z_]+_VERSION)
  ci/prow/ocp-4-14-ui-e2e-tests: any of: ^ui/
  ci/prow/shell-unit-tests: any of: ((\.sh)|(\.bat))$
