Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

NO-ISSUE: Fixes for crypto-scanner in MicroShift (#83243)
  ci-operator/config/openshift/microshift/openshift-microshift-main.yaml
  ci-operator/config/openshift/microshift/openshift-microshift-release-5.0.yaml
  ci-operator/config/openshift/microshift/openshift-microshift-release-5.0__periodics.yaml
  ci-operator/config/openshift/microshift/openshift-microshift-release-5.1.yaml
  ci-operator/config/openshift/microshift/openshift-microshift-release-5.1__periodics.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-5.1-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

oran-o2ims: add step-registry OWNERS and metadata
  ci-operator/step-registry/oran-o2ims/OWNERS
  ci-operator/step-registry/oran-o2ims/wait-for-tls-pods/oran-o2ims-wait-for-tls-pods-ref.metadata.json
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Cleanup unused ACS env variable COLLECTION_METHOD
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master__ocp-4-12.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master__ocp-4-22-rhcos10.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master__ocp-4-22.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master__ocp-5-0.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master__ocp-dev-preview.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master__ocp-next-candidate.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master__ocp-stable-scanner-v4-install.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-nightlies.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-nightlies__ocp-4-12.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-nightlies__ocp-4-22-rhcos10.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-nightlies__ocp-4-22.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.10.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.10__ocp-4-12.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.10__ocp-4-22.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.10__ocp-dev-preview.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.10__ocp-next-candidate.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.11.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.11__ocp-4-12.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.11__ocp-4-22.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.11__ocp-dev-preview.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.11__ocp-next-candidate.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.9.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.9__ocp-4-12.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.9__ocp-4-21.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.9__ocp-dev-preview.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.9__ocp-next-candidate.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-x.y.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-x.y__ocp-4-12.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-x.y__ocp-4-22.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-x.y__ocp-dev-preview.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-x.y__ocp-next-candidate.yaml
  ci-operator/step-registry/stackrox/compliance-e2e/stackrox-compliance-e2e-ref.yaml
  ci-operator/step-registry/stackrox/e2e/stackrox-e2e-ref.yaml
  ci-operator/step-registry/stackrox/operator-e2e/stackrox-operator-e2e-ref.yaml
  ci-operator/step-registry/stackrox/qa-e2e/stackrox-qa-e2e-ref.yaml
  ci-operator/step-registry/stackrox/stackrox/e2e-test/stackrox-stackrox-e2e-test-ref.yaml
  ci-operator/step-registry/stackrox/ui-e2e/stackrox-ui-e2e-ref.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

updating nfd base image job to 5.0
  ci-operator/config/openshift/cluster-nfd-operator/openshift-cluster-nfd-operator-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Enable require_signed_commits for cert-manager-operator
  core-services/prow/02_config/openshift/cert-manager-operator/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Updated the cluster profile to oz profile
  ci-operator/config/openshift/kueue-operator/openshift-kueue-operator-release-1.4__libvirt-s390x.yaml
  ci-operator/jobs/openshift/kueue-operator/openshift-kueue-operator-release-1.4-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

chore(RHIDP-15703): add CPT job for RHDH UI (#82471)
  ci-operator/config/redhat-performance/backstage-performance/redhat-performance-backstage-performance-main.yaml
  ci-operator/jobs/redhat-performance/backstage-performance/redhat-performance-backstage-performance-main-periodics.yaml
  ci-operator/step-registry/redhat-performance/backstage-performance/redhat-performance-backstage-performance-ref.yaml
  ci-operator/step-registry/redhat-performance/backstage-performance/xl/redhat-performance-backstage-performance-xl-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

collect sos report when test fails
  ci-operator/config/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main__aws-5.0-nightly-x86.yaml
  ci-operator/step-registry/openshift-qe/sos-report/OWNERS
  ci-operator/step-registry/openshift-qe/sos-report/openshift-qe-sos-report-commands.sh
  ci-operator/step-registry/openshift-qe/sos-report/openshift-qe-sos-report-ref.metadata.json
  ci-operator/step-registry/openshift-qe/sos-report/openshift-qe-sos-report-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ci: re-enable tls-scanner as best_effort post step for RHOAI e2e
  ci-operator/config/opendatahub-io/opendatahub-operator/opendatahub-io-opendatahub-operator-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

SPLAT-2831: Add CI and prow periodic changes for CI job pass rate (#83202)
  ci-operator/config/openshift-splat-team/ci-cluster-monitor/openshift-splat-team-ci-cluster-monitor-main__periodics.yaml
  ci-operator/jobs/openshift-splat-team/ci-cluster-monitor/openshift-splat-team-ci-cluster-monitor-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add OCP 4.22, 4.23 and 5.0 testing jobs for distributed tracing operators (#83223)
  ci-operator/config/openshift/distributed-tracing-console-plugin/openshift-distributed-tracing-console-plugin-main__upstream-ocp-4.23-amd64-gcp.yaml
  ci-operator/config/openshift/distributed-tracing-console-plugin/openshift-distributed-tracing-console-plugin-main__upstream-ocp-5.0-amd64-aws.yaml
  ci-operator/config/openshift/grafana-tempo-operator/openshift-grafana-tempo-operator-main__tempo-product-ocp-4.22-stage.yaml
  ci-operator/config/openshift/grafana-tempo-operator/openshift-grafana-tempo-operator-main__tempo-product-ocp-4.23-downstream.yaml
  ci-operator/config/openshift/grafana-tempo-operator/openshift-grafana-tempo-operator-main__tempo-product-ocp-4.23-stage.yaml
  ci-operator/config/openshift/grafana-tempo-operator/openshift-grafana-tempo-operator-main__tempo-product-ocp-5.0-downstream.yaml
  ci-operator/config/openshift/grafana-tempo-operator/openshift-grafana-tempo-operator-main__tempo-product-ocp-5.0-stage.yaml
  ci-operator/config/openshift/grafana-tempo-operator/openshift-grafana-tempo-operator-main__upstream-ocp-4.23-amd64.yaml
  ci-operator/config/openshift/grafana-tempo-operator/openshift-grafana-tempo-operator-main__upstream-ocp-5.0-amd64.yaml
  ci-operator/config/openshift/insights-runtime-extractor/openshift-insights-runtime-extractor-main.yaml
  ci-operator/config/openshift/open-telemetry-opentelemetry-operator/openshift-open-telemetry-opentelemetry-operator-main__opentelemetry-product-ocp-4.22-stage.yaml
  ci-operator/config/openshift/open-telemetry-opentelemetry-operator/openshift-open-telemetry-opentelemetry-operator-main__opentelemetry-product-ocp-4.23-downstream.yaml
  ci-operator/config/openshift/open-telemetry-opentelemetry-operator/openshift-open-telemetry-opentelemetry-operator-main__opentelemetry-product-ocp-4.23-stage.yaml
  ci-operator/config/openshift/open-telemetry-opentelemetry-operator/openshift-open-telemetry-opentelemetry-operator-main__opentelemetry-product-ocp-5.0-downstream.yaml
  ci-operator/config/openshift/open-telemetry-opentelemetry-operator/openshift-open-telemetry-opentelemetry-operator-main__opentelemetry-product-ocp-5.0-stage.yaml
  ci-operator/config/openshift/open-telemetry-opentelemetry-operator/openshift-open-telemetry-opentelemetry-operator-main__upstream-ocp-4.23-amd64.yaml
  ci-operator/config/openshift/open-telemetry-opentelemetry-operator/openshift-open-telemetry-opentelemetry-operator-main__upstream-ocp-5.0-amd64.yaml
  ci-operator/jobs/openshift/distributed-tracing-console-plugin/openshift-distributed-tracing-console-plugin-main-presubmits.yaml
  ci-operator/jobs/openshift/grafana-tempo-operator/openshift-grafana-tempo-operator-main-periodics.yaml
  ci-operator/jobs/openshift/grafana-tempo-operator/openshift-grafana-tempo-operator-main-presubmits.yaml
  ci-operator/jobs/openshift/open-telemetry-opentelemetry-operator/openshift-open-telemetry-opentelemetry-operator-main-periodics.yaml
  ci-operator/jobs/openshift/open-telemetry-opentelemetry-operator/openshift-open-telemetry-opentelemetry-operator-main-presubmits.yaml
  ci-operator/step-registry/distributed-tracing/tests/opentelemetry/downstream/distributed-tracing-tests-opentelemetry-downstream-commands.sh
  ci-operator/step-registry/distributed-tracing/tests/opentelemetry/stage/distributed-tracing-tests-opentelemetry-stage-commands.sh
  ci-operator/step-registry/distributed-tracing/tests/opentelemetry/upstream/distributed-tracing-tests-opentelemetry-upstream-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Cleanup unused ACS env variable COLLECTION_METHOD (#83235)
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master__ocp-4-12.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master__ocp-4-22-rhcos10.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master__ocp-4-22.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master__ocp-5-0.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master__ocp-dev-preview.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master__ocp-next-candidate.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master__ocp-stable-scanner-v4-install.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-nightlies.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-nightlies__ocp-4-12.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-nightlies__ocp-4-22-rhcos10.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-nightlies__ocp-4-22.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.10.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.10__ocp-4-12.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.10__ocp-4-22.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.10__ocp-dev-preview.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.10__ocp-next-candidate.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.11.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.11__ocp-4-12.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.11__ocp-4-22.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.11__ocp-dev-preview.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.11__ocp-next-candidate.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.9.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.9__ocp-4-12.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.9__ocp-4-21.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.9__ocp-dev-preview.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.9__ocp-next-candidate.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-x.y.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-x.y__ocp-4-12.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-x.y__ocp-4-22.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-x.y__ocp-dev-preview.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-x.y__ocp-next-candidate.yaml
  ci-operator/step-registry/stackrox/compliance-e2e/stackrox-compliance-e2e-ref.yaml
  ci-operator/step-registry/stackrox/e2e/stackrox-e2e-ref.yaml
  ci-operator/step-registry/stackrox/operator-e2e/stackrox-operator-e2e-ref.yaml
  ci-operator/step-registry/stackrox/qa-e2e/stackrox-qa-e2e-ref.yaml
  ci-operator/step-registry/stackrox/stackrox/e2e-test/stackrox-stackrox-e2e-test-ref.yaml
  ci-operator/step-registry/stackrox/ui-e2e/stackrox-ui-e2e-ref.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Disable 5.1 ushift periodics (#83246)
  ci-operator/config/openshift/microshift/openshift-microshift-release-5.1__periodics.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-5.1-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Restore quay/quay-tests master ci-operator config for image building
  ci-operator/config/quay/quay-tests/quay-quay-tests-master.yaml
  ci-operator/jobs/quay/quay-tests/quay-quay-tests-master-postsubmits.yaml
  ci-operator/jobs/quay/quay-tests/quay-quay-tests-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add OTE extension jobs for jobset-operator and lws-operator
  ci-operator/config/openshift/jobset-operator/openshift-jobset-operator-main.yaml
  ci-operator/config/openshift/lws-operator/openshift-lws-operator-main.yaml
  ci-operator/jobs/openshift/jobset-operator/openshift-jobset-operator-main-presubmits.yaml
  ci-operator/jobs/openshift/lws-operator/openshift-lws-operator-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

enable fips jobs for rhdh
  ci-operator/config/redhat-developer/rhdh/redhat-developer-rhdh-main.yaml
  ci-operator/jobs/redhat-developer/rhdh/redhat-developer-rhdh-main-periodics.yaml
  ci-operator/jobs/redhat-developer/rhdh/redhat-developer-rhdh-main-presubmits.yaml
  clusters/hosted-mgmt/hive/pools/rhdh/rhdh-fips-aws-us-east-2.yaml
  clusters/hosted-mgmt/hive/pools/rhdh/rhdh-fips-ocp-4-22-0-amd64-aws-us-east-2_clusterpool.yaml
Due: ci/prow/check-gh-automation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/build-farm/hosted-mgmt-dry, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Add tls-scanner-run to RHOAI e2e job
  ci-operator/config/opendatahub-io/opendatahub-operator/opendatahub-io-opendatahub-operator-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

gather-must-gather: retry camgi download, don't fail gather on it
  ci-operator/step-registry/gather/must-gather/gather-must-gather-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

bmctest: add openshift 5.0 test (#83239)
  ci-operator/config/openshift-metal3/bmctest/openshift-metal3-bmctest-main__servercheck.yaml
  ci-operator/jobs/openshift-metal3/bmctest/openshift-metal3-bmctest-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

bmctest: remove derekhiggins from OWNERS (#83240)
  ci-operator/config/openshift-metal3/bmctest/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ROSAENG-1331: Add MC e2e presubmit and promotion jobs for RMO and AVO
  ci-operator/config/openshift/aws-vpce-operator/openshift-aws-vpce-operator-main.yaml
  ci-operator/config/openshift/route-monitor-operator/openshift-route-monitor-operator-master.yaml
  ci-operator/jobs/openshift/aws-vpce-operator/openshift-aws-vpce-operator-main-periodics.yaml
  ci-operator/jobs/openshift/aws-vpce-operator/openshift-aws-vpce-operator-main-presubmits.yaml
  ci-operator/jobs/openshift/route-monitor-operator/openshift-route-monitor-operator-master-periodics.yaml
  ci-operator/jobs/openshift/route-monitor-operator/openshift-route-monitor-operator-master-presubmits.yaml
  ci-operator/step-registry/rosa/operator/cleanup/rosa-operator-cleanup-commands.sh
  ci-operator/step-registry/rosa/operator/mc-e2e/setup/rosa-operator-mc-e2e-setup-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

using only cloning
  ci-operator/step-registry/baremetalds/metallb-e2e/test/baremetalds-metallb-e2e-test-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Switch rosa-boundary nightly e2e to dedicated rosa-boundary-ci cluster profile
  ci-operator/config/openshift-online/rosa-boundary/openshift-online-rosa-boundary-main.yaml
  ci-operator/jobs/openshift-online/rosa-boundary/openshift-online-rosa-boundary-main-periodics.yaml
  ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml
  ci-operator/step-registry/rosa-boundary/nightly-e2e/rosa-boundary-nightly-e2e-workflow.yaml
  ci-operator/step-registry/rosa-boundary/nightly-provision/rosa-boundary-nightly-provision-commands.sh
  ci-operator/step-registry/rosa-boundary/nightly-provision/rosa-boundary-nightly-provision-ref.yaml
  ci-operator/step-registry/rosa-boundary/nightly-teardown/rosa-boundary-nightly-teardown-commands.sh
  ci-operator/step-registry/rosa-boundary/nightly-teardown/rosa-boundary-nightly-teardown-ref.yaml
  core-services/prow/02_config/_boskos.yaml
  core-services/prow/02_config/generate-boskos.py
Due: ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

rosa-e2e: allow best-effort post steps for classic STS and HCP jobs
  ci-operator/config/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main__periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

gather-must-gather: address CodeRabbit findings on camgi retry fix
  ci-operator/step-registry/gather/must-gather/gather-must-gather-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add OCP 5.0 RHCOS OS images patch for AgentServiceConfig
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.0__amd64-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add workflow-based periodic jobs for ROSA gap-analysis Classic and HCP validation
  ci-operator/config/openshift-online/rosa-gap-analysis/openshift-online-rosa-gap-analysis-main__workflow-periodics.yaml
  ci-operator/jobs/openshift-online/rosa-gap-analysis/openshift-online-rosa-gap-analysis-main-periodics.yaml
  ci-operator/step-registry/rosa/gap-analysis/OWNERS
  ci-operator/step-registry/rosa/gap-analysis/classic/OWNERS
  ci-operator/step-registry/rosa/gap-analysis/classic/rosa-gap-analysis-classic-workflow.metadata.json
  ci-operator/step-registry/rosa/gap-analysis/classic/rosa-gap-analysis-classic-workflow.yaml
  ci-operator/step-registry/rosa/gap-analysis/hcp/OWNERS
  ci-operator/step-registry/rosa/gap-analysis/hcp/rosa-gap-analysis-hcp-workflow.metadata.json
  ci-operator/step-registry/rosa/gap-analysis/hcp/rosa-gap-analysis-hcp-workflow.yaml
  ci-operator/step-registry/rosa/gap-analysis/test/OWNERS
  ci-operator/step-registry/rosa/gap-analysis/test/rosa-gap-analysis-test-commands.sh
  ci-operator/step-registry/rosa/gap-analysis/test/rosa-gap-analysis-test-ref.metadata.json
  ci-operator/step-registry/rosa/gap-analysis/test/rosa-gap-analysis-test-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Test OS_IMAGE_STREAM: rhel-9 for fips-24nodes perf job
  ci-operator/config/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main__aws-5.0-nightly-x86.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Restore quay/quay-tests master ci-operator config for image building (#83255)
  ci-operator/config/quay/quay-tests/quay-quay-tests-master.yaml
  ci-operator/jobs/quay/quay-tests/quay-quay-tests-master-postsubmits.yaml
  ci-operator/jobs/quay/quay-tests/quay-quay-tests-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

api: adapt hypershift verification test to be multi-module
  ci-operator/config/openshift/api/openshift-api-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add Prow & Unit Testing to DRA Driver SR-IOV
  ci-operator/config/openshift/dra-driver-sriov/OWNERS
  ci-operator/config/openshift/dra-driver-sriov/openshift-dra-driver-sriov-main.yaml
  ci-operator/jobs/openshift/dra-driver-sriov/OWNERS
  ci-operator/jobs/openshift/dra-driver-sriov/openshift-dra-driver-sriov-main-postsubmits.yaml
  ci-operator/jobs/openshift/dra-driver-sriov/openshift-dra-driver-sriov-main-presubmits.yaml
  core-services/image-mirroring/openshift/mapping_origin_sriov-5_0
  core-services/prow/02_config/openshift/dra-driver-sriov/_pluginconfig.yaml
  core-services/prow/02_config/openshift/dra-driver-sriov/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

OCPQE-30425: Add metal SNO IPv6 http-proxy jobs for 4.18-5.0
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__arm64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__arm64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__arm64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.21__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.21__arm64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22__arm64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.0__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.0__arm64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.21-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.0-periodics.yaml
  ci-operator/step-registry/baremetal/lab/sno/ipv6/static/OWNERS
  ci-operator/step-registry/baremetal/lab/sno/ipv6/static/baremetal-lab-sno-ipv6-static-workflow.metadata.json
  ci-operator/step-registry/baremetal/lab/sno/ipv6/static/baremetal-lab-sno-ipv6-static-workflow.yaml
  ci-operator/step-registry/baremetal/lab/sno/ipv6/static/conf/OWNERS
  ci-operator/step-registry/baremetal/lab/sno/ipv6/static/conf/baremetal-lab-sno-ipv6-static-conf-chain.metadata.json
  ci-operator/step-registry/baremetal/lab/sno/ipv6/static/conf/baremetal-lab-sno-ipv6-static-conf-chain.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

PTPCI: restore host namespaces for flip_kernel rpm-ostree/dbus
  ci-operator/step-registry/telco5g/ptp-cluster-setup/telco5g-ptp-cluster-setup-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

NO-ISSUE: Fix golang version for lvms z-stream tests
  ci-operator/config/openshift/lvm-operator/openshift-lvm-operator-release-management__zstream-4.14.yaml
  ci-operator/config/openshift/lvm-operator/openshift-lvm-operator-release-management__zstream-4.16.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

TRT-2692: Replace eval step bash with prow-agent-eval CLI (#83130)
  ci-operator/config/openshift/release/openshift-release-main__jira-solver-eval.yaml
  ci-operator/step-registry/openshift/agentic/trt/eval/cleanup/openshift-agentic-trt-eval-cleanup-commands.sh
  ci-operator/step-registry/openshift/agentic/trt/eval/cleanup/openshift-agentic-trt-eval-cleanup-ref.yaml
  ci-operator/step-registry/openshift/agentic/trt/eval/init/openshift-agentic-trt-eval-init-commands.sh
  ci-operator/step-registry/openshift/agentic/trt/eval/init/openshift-agentic-trt-eval-init-ref.yaml
  ci-operator/step-registry/openshift/agentic/trt/eval/judge/openshift-agentic-trt-eval-judge-commands.sh
  ci-operator/step-registry/openshift/agentic/trt/eval/judge/openshift-agentic-trt-eval-judge-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix OWNERS symlinks for baremetal-lab-sno-ipv6-static. Use one-level OWNERS symlinks to match baremetal lab conventions and resolve do-not-merge/invalid-owners-file on the PR.
  ci-operator/step-registry/baremetal/lab/sno/ipv6/static/OWNERS
  ci-operator/step-registry/baremetal/lab/sno/ipv6/static/conf/OWNERS
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

gather-must-gather: close remaining errexit gaps in installCamgi (CodeRabbit round 2)
  ci-operator/step-registry/gather/must-gather/gather-must-gather-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

CNF-26477: oran-o2ims: extract wait-for-tls-pods into step-registry ref
  ci-operator/config/openshift-kni/oran-o2ims/openshift-kni-oran-o2ims-main.yaml
  ci-operator/config/openshift-kni/oran-o2ims/openshift-kni-oran-o2ims-release-4.22.yaml
  ci-operator/step-registry/oran-o2ims/wait-for-tls-pods/OWNERS
  ci-operator/step-registry/oran-o2ims/wait-for-tls-pods/oran-o2ims-wait-for-tls-pods-commands.sh
  ci-operator/step-registry/oran-o2ims/wait-for-tls-pods/oran-o2ims-wait-for-tls-pods-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck
