Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

services-valid:
  commands: make check-services
  container:
    from: src

ci/openshift/promrules:
  decorate: true
  spec:
    containers:
    - command:
      - /go/entrypoint.sh
      image: registry.svc.ci.openshift.org/ci/promrules:latest
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
          cpu: 500m
        requests:
          cpu: 10m

ci/prow/pylint:
  decorate: true
  spec:
    containers:
    - args:
      - --rcfile=hack/.pylintrc
      - --ignore=lib
      - --persistent=n
      - hack
      command:
      - pylint
      image: registry.svc.ci.openshift.org/ci/python-validation
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
  ...

ci/prow/services-valid:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/stackrox-stackrox-stackrox-stackrox-check:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: stackrox-stackrox
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

branch-ci-openshift-release-master-gsm-secrets-reconciler:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/sync-rover-groups/_config.yaml
      - --log-level=info
      - --gcp-service-account-key-file=/tmp/gcp-credentials/key.json
      command:
      - gsm-secret-sync
      env:
  ...

branch-ci-openshift-release-master-label-sync:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/prow/02_config/_labels.yaml
      - --confirm=true
  ...

ci/prow/check-cluster-profiles-config:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    automountServiceAccountToken: true
    containers:
    - args:
      - --config-path=./ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml
      command:
      - check-cluster-profiles-config
  ...

ci/prow/check-gh-automation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --bot=openshift-merge-robot
      - --bot=openshift-ci-robot
      - --app=openshift-ci
      - --app-check-mode=standard
      - --candidate-path=.
  ...

ci/prow/check-gh-automation-tide:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --app=openshift-merge-bot
      - --app-check-mode=tide
      - --candidate-path=.
      - --config-path=./core-services/prow/02_config/_config.yaml
  ...

acm: omit nodes from MCH failure diagnostics
  ci-operator/step-registry/acm/mch/acm-mch-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

INTEROP-9527: clarify ACS CSV failure exit code
  ci-operator/step-registry/interop/opp/product-upgrade/acs/interop-opp-product-upgrade-acs-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix VM controller env var
  ci-operator/config/codeready-toolchain/workload-analyzer/codeready-toolchain-workload-analyzer-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

add map tests trap for upgrade tests
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__ocp-5.0-lpMainline-lp-interop--acm-virt--p2p.yaml
  ci-operator/step-registry/interop-tests/openshift-virtualization-upgrade-tests/interop-tests-openshift-virtualization-upgrade-tests-commands.sh
  ci-operator/step-registry/interop-tests/openshift-virtualization-upgrade-tests/interop-tests-openshift-virtualization-upgrade-tests-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

crio-residual: capture khugepaged tunables and THP vmstat counters
  ci-operator/config/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main__aws-4.22-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main__aws-5.0-nightly-x86.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

cluster-density-v2: add CRI-O heap pprof and Prometheus dump job variants
  ci-operator/config/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main__aws-4.22-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main__aws-5.0-nightly-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main-presubmits.yaml
  ci-operator/step-registry/openshift-qe/cluster-density-v2/openshift-qe-cluster-density-v2-commands.sh
  ci-operator/step-registry/openshift-qe/cluster-density-v2/openshift-qe-cluster-density-v2-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

cdv2: add el9-kernel variant for 5.0 kernel isolation test
  ci-operator/config/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main__aws-5.0-nightly-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

cdv2: add no-thp-2m variant for 5.0 el10 THP isolation test
  ci-operator/config/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main__aws-5.0-nightly-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

regenerate ci-operator configs and prowjobs
  ci-operator/jobs/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

fix code rabit comments
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__ocp-5.0-lpMainline-lp-interop--acm-virt--p2p.yaml
  ci-operator/step-registry/interop-tests/openshift-virtualization-upgrade-tests/interop-tests-openshift-virtualization-upgrade-tests-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

interop/opp: standardize BASH_SOURCE[0] index and simplify prefix (#86686)
  ci-operator/step-registry/interop/opp/smoke/interop-opp-smoke-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix vm key
  ci-operator/config/codeready-toolchain/workload-analyzer/codeready-toolchain-workload-analyzer-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add prow jobs for kueue-operator release-1.5 (#86567)
  ci-operator/config/openshift/kueue-operator/openshift-kueue-operator-release-1.5.yaml
  ci-operator/config/openshift/kueue-operator/openshift-kueue-operator-release-1.5__upgrade-from-4.18.yaml
  ci-operator/config/openshift/kueue-operator/openshift-kueue-operator-release-1.5__upgrade-from-4.19.yaml
  ci-operator/config/openshift/kueue-operator/openshift-kueue-operator-release-1.5__upgrade-from-4.20.yaml
  ci-operator/config/openshift/kueue-operator/openshift-kueue-operator-release-1.5__upgrade-from-4.21.yaml
  ci-operator/config/openshift/kueue-operator/openshift-kueue-operator-release-1.5__upgrade-from-4.22.yaml
  ci-operator/jobs/openshift/kueue-operator/openshift-kueue-operator-release-1.5-periodics.yaml
  ci-operator/jobs/openshift/kueue-operator/openshift-kueue-operator-release-1.5-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

INTEROP-9527: harden skip-ratio-gate JUnit parsing and docs
  ci-operator/step-registry/interop/opp/skip-ratio-gate/interop-opp-skip-ratio-gate-commands.sh
  ci-operator/step-registry/interop/opp/skip-ratio-gate/interop-opp-skip-ratio-gate-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

interop/opp: harden skip-ratio-gate JUnit parser
  ci-operator/step-registry/interop/opp/skip-ratio-gate/interop-opp-skip-ratio-gate-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Increase timeout
  ci-operator/config/codeready-toolchain/workload-analyzer/codeready-toolchain-workload-analyzer-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

interop: fix jq metadata construction in data-router-reporter
  ci-operator/step-registry/mpiit/data-router-reporter/mpiit-data-router-reporter-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

regenerate
  ci-operator/jobs/codeready-toolchain/workload-analyzer/codeready-toolchain-workload-analyzer-master-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Day 0 resource measurements for netobserv
  ci-operator/config/netobserv/netobserv-perf-tests/netobserv-netobserv-perf-tests-main__netobserv-aws-5.0-nightly-x86.yaml
  ci-operator/jobs/netobserv/netobserv-perf-tests/netobserv-netobserv-perf-tests-main-periodics.yaml
  ci-operator/step-registry/netobserv/day0/diff-resource/OWNERS
  ci-operator/step-registry/netobserv/day0/diff-resource/netobserv-day0-diff-resource-commands.sh
  ci-operator/step-registry/netobserv/day0/diff-resource/netobserv-day0-diff-resource-ref.yaml
  ci-operator/step-registry/netobserv/day0/install-config/OWNERS
  ci-operator/step-registry/netobserv/day0/install-config/netobserv-day0-install-config-commands.sh
  ci-operator/step-registry/netobserv/day0/install-config/netobserv-day0-install-config-ref.yaml
  ci-operator/step-registry/netobserv/day0/measure-resource/after/OWNERS
  ci-operator/step-registry/netobserv/day0/measure-resource/after/netobserv-day0-measure-resource-after-commands.sh
  ci-operator/step-registry/netobserv/day0/measure-resource/after/netobserv-day0-measure-resource-after-ref.yaml
  ci-operator/step-registry/netobserv/day0/measure-resource/before/OWNERS
  ci-operator/step-registry/netobserv/day0/measure-resource/before/netobserv-day0-measure-resource-before-commands.sh
  ci-operator/step-registry/netobserv/day0/measure-resource/before/netobserv-day0-measure-resource-before-ref.yaml
  ci-operator/step-registry/netobserv/day0/patch-cno/OWNERS
  ci-operator/step-registry/netobserv/day0/patch-cno/netobserv-day0-patch-cno-commands.sh
  ci-operator/step-registry/netobserv/day0/patch-cno/netobserv-day0-patch-cno-ref.yaml
  ci-operator/step-registry/netobserv/installer/aws/day0/OWNERS
  ci-operator/step-registry/netobserv/installer/aws/day0/netobserv-installer-aws-day0-workflow.metadata.json
  ci-operator/step-registry/netobserv/installer/aws/day0/netobserv-installer-aws-day0-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

use correct featureGate
  ci-operator/config/netobserv/netobserv-perf-tests/netobserv-netobserv-perf-tests-main__netobserv-aws-5.0-nightly-x86.yaml
  ci-operator/step-registry/netobserv/day0/install-config/netobserv-day0-install-config-commands.sh
  ci-operator/step-registry/netobserv/day0/install-config/netobserv-day0-install-config-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

remove worker_nodes
  ci-operator/step-registry/netobserv/day0/patch-cno/netobserv-day0-patch-cno-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

fixes to scripts
  ci-operator/config/netobserv/netobserv-perf-tests/netobserv-netobserv-perf-tests-main__netobserv-aws-5.0-nightly-x86.yaml
  ci-operator/step-registry/netobserv/day0/measure-resource/after/netobserv-day0-measure-resource-after-commands.sh
  ci-operator/step-registry/netobserv/day0/measure-resource/after/netobserv-day0-measure-resource-after-ref.yaml
  ci-operator/step-registry/netobserv/day0/measure-resource/before/netobserv-day0-measure-resource-before-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

reduce number of nodes for testing
  ci-operator/config/netobserv/netobserv-perf-tests/netobserv-netobserv-perf-tests-main__netobserv-aws-5.0-nightly-x86.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

python instead of python3
  ci-operator/step-registry/netobserv/day0/diff-resource/netobserv-day0-diff-resource-commands.sh
  ci-operator/step-registry/netobserv/day0/measure-resource/after/netobserv-day0-measure-resource-after-commands.sh
  ci-operator/step-registry/netobserv/day0/measure-resource/before/netobserv-day0-measure-resource-before-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

separate var for CNO patch
  ci-operator/step-registry/netobserv/day0/patch-cno/netobserv-day0-patch-cno-commands.sh
  ci-operator/step-registry/netobserv/day0/patch-cno/netobserv-day0-patch-cno-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

update diff metric
  ci-operator/step-registry/netobserv/day0/diff-resource/netobserv-day0-diff-resource-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Revert "in-flight query and orion config"
  ci-operator/config/netobserv/netobserv-perf-tests/netobserv-netobserv-perf-tests-main__netobserv-aws-5.0-nightly-x86.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

in-flight query and orion config
  ci-operator/config/netobserv/netobserv-perf-tests/netobserv-netobserv-perf-tests-main__netobserv-aws-5.0-nightly-x86.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

rebase
  ci-operator/config/openshift/cluster-kube-descheduler-operator/openshift-cluster-kube-descheduler-operator-main.yaml
  ci-operator/step-registry/wait/wait-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Increase openshift-observability-logging-e2e-tests step timeout to 4h30m
  ci-operator/step-registry/openshift-observability/logging-e2e-tests/openshift-observability-logging-e2e-tests-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add mce-2.8 to ocp-build-data Tide branches.
  core-services/prow/02_config/openshift-eng/ocp-build-data/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

rosa: run PR-built CPO in rosa-e2e via HostedCluster annotation (ROSAENG-74212)
  ci-operator/config/openshift/hypershift/openshift-hypershift-main__rosa-e2e.yaml
  ci-operator/step-registry/rosa/operator/annotate-cpo/OWNERS
  ci-operator/step-registry/rosa/operator/annotate-cpo/rosa-operator-annotate-cpo-commands.sh
  ci-operator/step-registry/rosa/operator/annotate-cpo/rosa-operator-annotate-cpo-ref.metadata.json
  ci-operator/step-registry/rosa/operator/annotate-cpo/rosa-operator-annotate-cpo-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

fix(acm): preserve exit status through product exit-class path
  ci-operator/step-registry/interop/opp/product-upgrade/acm/interop-opp-product-upgrade-acm-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add a CI job for WA VM tests (#86464)
  ci-operator/config/codeready-toolchain/workload-analyzer/OWNERS
  ci-operator/config/codeready-toolchain/workload-analyzer/codeready-toolchain-workload-analyzer-master.yaml
  ci-operator/jobs/codeready-toolchain/workload-analyzer/codeready-toolchain-workload-analyzer-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

INTEROP-9527: Check ClusterVersion Failing condition
  ci-operator/step-registry/interop/opp/upgrade/interop-opp-upgrade-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

rosa: add samanthajayasinghe and bpresnel-rh to deploy-pr OWNERS
  ci-operator/step-registry/rosa/operator/deploy-pr/OWNERS
  ci-operator/step-registry/rosa/operator/deploy-pr/rosa-operator-deploy-pr-ref.metadata.json
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add cr--debug--aws unscheduled debug test for OPP 4.22
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__ocp-4.22-lpMainline-lp-interop--opp.yaml
  ci-operator/jobs/RedHatQE/interop-testing/RedHatQE-interop-testing-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Fix OPP debug hold and manual optional trigger
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__ocp-4.22-lpMainline-lp-interop--opp.yaml
  ci-operator/jobs/RedHatQE/interop-testing/RedHatQE-interop-testing-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

CCO-766: Add manual credential upgrade CI
  ci-operator/config/openshift/cloud-credential-operator/openshift-cloud-credential-operator-master__5.1-upgrade-from-stable-5.0.yaml
  ci-operator/config/openshift/cloud-credential-operator/openshift-cloud-credential-operator-release-5.1__upgrade-from-stable-5.0.yaml
  ci-operator/jobs/openshift/cloud-credential-operator/openshift-cloud-credential-operator-master-presubmits.yaml
  ci-operator/jobs/openshift/cloud-credential-operator/openshift-cloud-credential-operator-release-5.1-presubmits.yaml
  ci-operator/step-registry/openshift/e2e/aws/manual-oidc-sts/upgrade/OWNERS
  ci-operator/step-registry/openshift/e2e/aws/manual-oidc-sts/upgrade/openshift-e2e-aws-manual-oidc-sts-upgrade-workflow.metadata.json
  ci-operator/step-registry/openshift/e2e/aws/manual-oidc-sts/upgrade/openshift-e2e-aws-manual-oidc-sts-upgrade-workflow.yaml
  ci-operator/step-registry/openshift/e2e/azure/manual-oidc-workload-identity/upgrade/OWNERS
  ci-operator/step-registry/openshift/e2e/azure/manual-oidc-workload-identity/upgrade/openshift-e2e-azure-manual-oidc-workload-identity-upgrade-workflow.metadata.json
  ci-operator/step-registry/openshift/e2e/azure/manual-oidc-workload-identity/upgrade/openshift-e2e-azure-manual-oidc-workload-identity-upgrade-workflow.yaml
  ci-operator/step-registry/openshift/e2e/gcp/manual-oidc-workload-identity/upgrade/OWNERS
  ci-operator/step-registry/openshift/e2e/gcp/manual-oidc-workload-identity/upgrade/openshift-e2e-gcp-manual-oidc-workload-identity-upgrade-workflow.metadata.json
  ci-operator/step-registry/openshift/e2e/gcp/manual-oidc-workload-identity/upgrade/openshift-e2e-gcp-manual-oidc-workload-identity-upgrade-workflow.yaml
  ci-operator/step-registry/openshift/upgrade/manual-oidc-credentials/OWNERS
  ci-operator/step-registry/openshift/upgrade/manual-oidc-credentials/openshift-upgrade-manual-oidc-credentials-commands.sh
  ci-operator/step-registry/openshift/upgrade/manual-oidc-credentials/openshift-upgrade-manual-oidc-credentials-ref.metadata.json
  ci-operator/step-registry/openshift/upgrade/manual-oidc-credentials/openshift-upgrade-manual-oidc-credentials-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)
