Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

Automate publicize configuration sync Sun, 01 Mar 2026 03:36:38 UTC (#75505)
  clusters/app.ci/publicize/_config.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

WiP: config.kata_containers: Deploy via helm
  ci-operator/config/kata-containers/kata-containers/kata-containers-kata-containers-main__peer-pods.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

GCP-368: Fix image extract path in hypershift-gcp-create
  ci-operator/step-registry/hypershift/gcp/create/hypershift-gcp-create-chain.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

WINC-1608: Add vsphere-ipi-proxy-ovn-winc-f28 periodic test
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22-periodics.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/vsphere/ipi/proxy/ovn/OWNERS
  ci-operator/step-registry/cucushift/installer/rehearse/vsphere/ipi/proxy/ovn/winc/OWNERS
  ci-operator/step-registry/cucushift/installer/rehearse/vsphere/ipi/proxy/ovn/winc/cucushift-installer-rehearse-vsphere-ipi-proxy-ovn-winc-workflow.metadata.json
  ci-operator/step-registry/cucushift/installer/rehearse/vsphere/ipi/proxy/ovn/winc/cucushift-installer-rehearse-vsphere-ipi-proxy-ovn-winc-workflow.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/vsphere/ipi/proxy/ovn/winc/provision/OWNERS
  ci-operator/step-registry/cucushift/installer/rehearse/vsphere/ipi/proxy/ovn/winc/provision/cucushift-installer-rehearse-vsphere-ipi-proxy-ovn-winc-provision-chain.metadata.json
  ci-operator/step-registry/cucushift/installer/rehearse/vsphere/ipi/proxy/ovn/winc/provision/cucushift-installer-rehearse-vsphere-ipi-proxy-ovn-winc-provision-chain.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add benchmark-runner step-registry and test config for Prow CI migration
  ci-operator/config/redhat-performance/benchmark-runner/redhat-performance-benchmark-runner-main__test-step.yaml
  ci-operator/jobs/redhat-performance/benchmark-runner/redhat-performance-benchmark-runner-main-presubmits.yaml
  ci-operator/step-registry/redhat-performance/benchmark-runner/OWNERS
  ci-operator/step-registry/redhat-performance/benchmark-runner/redhat-performance-benchmark-runner-commands.sh
  ci-operator/step-registry/redhat-performance/benchmark-runner/redhat-performance-benchmark-runner-ref.metadata.json
  ci-operator/step-registry/redhat-performance/benchmark-runner/redhat-performance-benchmark-runner-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add AWS UPI Windows Containers CI jobs for OCP 4.18-4.22
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.21.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22-presubmits.yaml
  ci-operator/step-registry/aws/windows/OWNERS
  ci-operator/step-registry/aws/windows/ami-discover/OWNERS
  ci-operator/step-registry/aws/windows/ami-discover/aws-windows-ami-discover-commands.sh
  ci-operator/step-registry/aws/windows/ami-discover/aws-windows-ami-discover-ref.metadata.json
  ci-operator/step-registry/aws/windows/ami-discover/aws-windows-ami-discover-ref.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/aws/upi/ovn/winc/provision/cucushift-installer-rehearse-aws-upi-ovn-winc-provision-chain.yaml
  ci-operator/step-registry/upi/install/aws/cluster/upi-install-aws-cluster-commands.sh
  ci-operator/step-registry/windows/byoh/destroy/windows-byoh-destroy-commands.sh
  ci-operator/step-registry/windows/byoh/provision/windows-byoh-provision-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

recover registry.2.crt
  ci-operator/step-registry/hypershift/kubevirt/create/disconnected/workarounds/hypershift-kubevirt-create-disconnected-workarounds-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Test proxy issue
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Making amd-ci use custom amd gpu versions
  ci-operator/config/rh-ecosystem-edge/amd-ci/rh-ecosystem-edge-amd-ci-main__4.16-stable.yaml
  ci-operator/config/rh-ecosystem-edge/amd-ci/rh-ecosystem-edge-amd-ci-main__4.17-stable.yaml
  ci-operator/config/rh-ecosystem-edge/amd-ci/rh-ecosystem-edge-amd-ci-main__4.18-stable.yaml
  ci-operator/config/rh-ecosystem-edge/amd-ci/rh-ecosystem-edge-amd-ci-main__4.19-stable.yaml
  ci-operator/config/rh-ecosystem-edge/amd-ci/rh-ecosystem-edge-amd-ci-main__4.20-stable.yaml
  ci-operator/config/rh-ecosystem-edge/amd-ci/rh-ecosystem-edge-amd-ci-main__4.21-stable.yaml
  ci-operator/config/rh-ecosystem-edge/amd-ci/rh-ecosystem-edge-amd-ci-main__4.22-stable.yaml
  ci-operator/jobs/rh-ecosystem-edge/amd-ci/rh-ecosystem-edge-amd-ci-main-presubmits.yaml
  ci-operator/step-registry/amd-gpu-operator/install-operators/amd-gpu-operator-install-operators-commands.sh
  ci-operator/step-registry/amd-gpu-operator/install-operators/amd-gpu-operator-install-operators-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

SBR onboarding
  ci-operator/config/medik8s/storage-based-remediation/OWNERS
  ci-operator/config/medik8s/storage-based-remediation/README.txt
  ci-operator/config/medik8s/storage-based-remediation/medik8s-storage-based-remediation-main__4.20.yaml
  ci-operator/jobs/medik8s/storage-based-remediation/OWNERS
  ci-operator/jobs/medik8s/storage-based-remediation/medik8s-storage-based-remediation-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

feat: enable stalld for realtime e2e
  ci-operator/step-registry/optional-operators/configure-realtime-tuned-profile/optional-operators-configure-realtime-tuned-profile-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Extend oc wrapper to return InternalDNS for hostname queries in UPI
  ci-operator/step-registry/windows/byoh/provision/windows-byoh-provision-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

GCP-368: Fix flag names in hypershift-gcp-create
  ci-operator/step-registry/hypershift/gcp/create/hypershift-gcp-create-chain.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix on-demand-e2e to use fork repo URL for PRs
  ci-operator/config/openshift-online/rosa-regional-platform/openshift-online-rosa-regional-platform-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

GCP-368: Fix --tech-preview-no-upgrade to --feature-set TechPreviewNoUpgrade
  ci-operator/step-registry/hypershift/gcp/create/hypershift-gcp-create-chain.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add debug logging to oc wrapper to diagnose hostname query interception
  ci-operator/step-registry/windows/byoh/provision/windows-byoh-provision-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Rename mta tests name in config to avoid repetition in job name
  ci-operator/config/konveyor/tackle2-ui/.config.prowgen
  ci-operator/config/konveyor/tackle2-ui/konveyor-tackle2-ui-release-0.8__mta-ocp-4.22-lp-interop.yaml
  ci-operator/jobs/konveyor/tackle2-ui/konveyor-tackle2-ui-release-0.8-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add grace_period to windows-byoh-provision step for trap handler
  ci-operator/step-registry/windows/byoh/provision/windows-byoh-provision-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

test with dev scripts
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__amd64-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add smoke testing of NVIDIA DRA driver for GPU
  ci-operator/config/rh-ecosystem-edge/nvidia-ci/.config.prowgen
  ci-operator/config/rh-ecosystem-edge/nvidia-ci/rh-ecosystem-edge-nvidia-ci-main__4.21-dra.yaml
  ci-operator/jobs/rh-ecosystem-edge/nvidia-ci/rh-ecosystem-edge-nvidia-ci-main-periodics.yaml
  ci-operator/jobs/rh-ecosystem-edge/nvidia-ci/rh-ecosystem-edge-nvidia-ci-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

OTA-174_add_ota_4.22_jobs
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__ota-multi-stable-4.22-upgrade-from-stable-4.21.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__ota-multi-stable-4.22-upgrade-from-stable-4.22.yaml
  ci-operator/jobs/openshift/verification-tests/openshift-verification-tests-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

custom image
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__amd64-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Update test.as name to include -cr
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__cnv-odf-ocp-4.22-lp-interop-cr.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Disable 4.21 job
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__cnv-odf-ocp-4.21-lp-interop-cr.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Fix AWS UPI hostname discovery by forcing nslookup path in byoh.sh
  ci-operator/step-registry/windows/byoh/provision/windows-byoh-provision-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix Konflux 4.20 pools to use multi-arch ClusterImageSet (again)
  clusters/hosted-mgmt/hive/pools/konflux/konflux-ocp-4-20-0-amd64-aws-us-west-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/konflux/konflux-ocp-4-20-0-arm64-aws-us-west-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.20.15-multi-for-4.20.0-0-to-4.21.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

add new oadp-1.6 git repos
  core-services/openshift-priv/_whitelist.yaml
Due: none

add oadp-cli
  core-services/openshift-priv/_whitelist.yaml
Due: none

Remove obsoleted multiarch_builds symlinks in build10
  clusters/build-clusters/build10/multiarch_builds
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Automate publicize configuration sync Mon, 02 Mar 2026 03:36:37 UTC
  clusters/app.ci/publicize/_config.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

stolostron/managedcluster-import-controller: scope sonar tests to pkg
  ci-operator/config/stolostron/managedcluster-import-controller/stolostron-managedcluster-import-controller-backplane-2.10.yaml
  ci-operator/config/stolostron/managedcluster-import-controller/stolostron-managedcluster-import-controller-backplane-2.11.yaml
  ci-operator/config/stolostron/managedcluster-import-controller/stolostron-managedcluster-import-controller-backplane-2.17.yaml
  ci-operator/config/stolostron/managedcluster-import-controller/stolostron-managedcluster-import-controller-backplane-2.6.yaml
  ci-operator/config/stolostron/managedcluster-import-controller/stolostron-managedcluster-import-controller-backplane-2.7.yaml
  ci-operator/config/stolostron/managedcluster-import-controller/stolostron-managedcluster-import-controller-backplane-2.8.yaml
  ci-operator/config/stolostron/managedcluster-import-controller/stolostron-managedcluster-import-controller-backplane-2.9.yaml
  ci-operator/config/stolostron/managedcluster-import-controller/stolostron-managedcluster-import-controller-main.yaml
  ci-operator/jobs/stolostron/managedcluster-import-controller/stolostron-managedcluster-import-controller-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Configure rosa-lifecycle workflows to use latest rosa CLI for openshift-tests-private rosa hcp jobs
  ci-operator/step-registry/rosa/lifecycle/advanced/rosa-lifecycle-advanced-workflow.yaml
  ci-operator/step-registry/rosa/lifecycle/external-auth-advanced/rosa-lifecycle-external-auth-advanced-workflow.yaml
  ci-operator/step-registry/rosa/lifecycle/private-advanced/rosa-lifecycle-private-advanced-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Test netpol perf and scale workload
  ci-operator/step-registry/openshift-qe/netpol-v2/openshift-qe-netpol-v2-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add Windows images to CI registry for WINC tests
  ci-operator/step-registry/cucushift/winc/prepare/cucushift-winc-prepare-commands.sh
  core-services/image-mirroring/_config.yaml
Due: ci/prow/image-mirroring-config-validation, ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

merge ACM alering UI test into CI test job
  ci-operator/config/rhobs/observability-operator/rhobs-observability-operator-main__amd64-ocp-4.21-azure.yaml
  ci-operator/step-registry/rhobs/acm-alerting-ui-test/OWNERS
  ci-operator/step-registry/rhobs/acm-alerting-ui-test/rhobs-acm-alerting-ui-test-commands.sh
  ci-operator/step-registry/rhobs/acm-alerting-ui-test/rhobs-acm-alerting-ui-test-ref.metadata.json
  ci-operator/step-registry/rhobs/acm-alerting-ui-test/rhobs-acm-alerting-ui-test-ref.yaml
  ci-operator/step-registry/rhobs/acm-setup-observability/rhobs-acm-setup-observability-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Migrate ocp-e2e-serial-ovn-remote-libvirt-multi-z-z to orange zone (VPN)
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.22.yaml
  ci-operator/jobs/openshift/multiarch/openshift-multiarch-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add Azure OVN and Workload Identity CI coverage for cert-manager-operator
  ci-operator/config/openshift/cert-manager-operator/openshift-cert-manager-operator-master.yaml
  ci-operator/jobs/openshift/cert-manager-operator/openshift-cert-manager-operator-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

MULTIARCH-5196: x-px Cleanup fix for VPC GW
  ci-operator/step-registry/ipi/conf/powervs/ipi-conf-powervs-commands.sh
  ci-operator/step-registry/upi/deprovision/heterogeneous/powervs/upi-deprovision-heterogeneous-powervs-commands.sh
  ci-operator/step-registry/upi/install/heterogeneous/powervs/upi-install-heterogeneous-powervs-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Remove unused collections
  ci-operator/config/openshift/ci-tools/openshift-ci-tools-main.yaml
  ci-operator/config/openshift/must-gather-operator/openshift-must-gather-operator-master.yaml
  ci-operator/config/openshift/must-gather-operator/openshift-must-gather-operator-release-4.22.yaml
  ci-operator/config/openshift/must-gather-operator/openshift-must-gather-operator-release-4.23.yaml
  ci-operator/config/openshift/must-gather-operator/openshift-must-gather-operator-release-5.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Remove outdated ClusterRoleBinding ci-sudoers
  clusters/build-clusters/01_cluster/assets/admin_cluster-admin-0_list.yaml
  clusters/build-clusters/build02/assets/admin_cluster-admin-0_list.yaml
  clusters/build-clusters/build04/assets/admin_cluster-admin-0_list.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups
