Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

Remove informing jobs from 4.19 (#74543)
  core-services/release-controller/_releases/priv/release-ocp-4.19-multi.json
  core-services/release-controller/_releases/priv/release-ocp-4.19.json
  core-services/release-controller/_releases/release-ocp-4.19-ci.json
  core-services/release-controller/_releases/release-ocp-4.19-multi.json
  core-services/release-controller/_releases/release-ocp-4.19.json
Due: ci/prow/ci-testgrid-allow-list, ci/prow/release-config

Update openshift-online-ocm-service-common-master.yaml without gotestsum (#74770)
  ci-operator/config/openshift-online/ocm-service-common/openshift-online-ocm-service-common-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

[OSSM] Add ztunnel release 1.28 CI (#74527)
  ci-operator/config/openshift-service-mesh/ztunnel/openshift-service-mesh-ztunnel-release-1.28.yaml
  ci-operator/jobs/openshift-service-mesh/ztunnel/openshift-service-mesh-ztunnel-release-1.28-postsubmits.yaml
  ci-operator/jobs/openshift-service-mesh/ztunnel/openshift-service-mesh-ztunnel-release-1.28-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

ci-operator-prowgen --from-dir ./ci-operator/config --to-dir ./ci-operator/jobs
  ci-operator/jobs/openshift-priv/velero/openshift-priv-velero-oadp-1.6-postsubmits.yaml
  ci-operator/jobs/openshift-priv/velero/openshift-priv-velero-oadp-1.6-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

hypershift: run conformance directly on the root cluster (#74707)
  ci-operator/step-registry/hypershift/aws/conformance/hypershift-aws-conformance-workflow.yaml
  ci-operator/step-registry/hypershift/setup-root-management-cluster/OWNERS
  ci-operator/step-registry/hypershift/setup-root-management-cluster/hypershift-setup-root-management-cluster-chain.metadata.json
  ci-operator/step-registry/hypershift/setup-root-management-cluster/hypershift-setup-root-management-cluster-chain.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix cluster destroy leak verification volume check (#74765)
  ci-operator/step-registry/aws/deprovision/verification/aws-deprovision-verification-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.16.56-x86-64-for-4.16.0-0-to-4.17.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.17.48-x86-64-for-4.17.0-0-to-4.18.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.18.33-x86-64-for-4.18.0-0-to-4.19.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.15.61-x86-64-for-4.15.0-0-to-4.16.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.16.56-x86-64-for-4.16.0-0-to-4.17.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.17.48-x86-64-for-4.17.0-0-to-4.18.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.18.33-x86-64-for-4.18.0-0-to-4.19.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.19.23-x86-64-for-4.19.0-0-to-4.20.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Add lint job for CNCC (#73766)
  ci-operator/config/openshift/cloud-network-config-controller/openshift-cloud-network-config-controller-main.yaml
  ci-operator/config/openshift/cloud-network-config-controller/openshift-cloud-network-config-controller-release-4.22.yaml
  ci-operator/config/openshift/cloud-network-config-controller/openshift-cloud-network-config-controller-release-4.23.yaml
  ci-operator/jobs/openshift/cloud-network-config-controller/openshift-cloud-network-config-controller-main-presubmits.yaml
  ci-operator/jobs/openshift/cloud-network-config-controller/openshift-cloud-network-config-controller-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/cloud-network-config-controller/openshift-cloud-network-config-controller-release-4.23-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

HYPERFLEET-576 | Add Hyperfleet E2E workflow (#74590)
  ci-operator/config/openshift-hyperfleet/hyperfleet-e2e/openshift-hyperfleet-hyperfleet-e2e-main__e2e.yaml
  ci-operator/jobs/openshift-hyperfleet/hyperfleet-e2e/openshift-hyperfleet-hyperfleet-e2e-main-periodics.yaml
  ci-operator/step-registry/openshift-hyperfleet/e2e/cleanup/OWNERS
  ci-operator/step-registry/openshift-hyperfleet/e2e/cleanup/cloud-provider/OWNERS
  ci-operator/step-registry/openshift-hyperfleet/e2e/cleanup/cloud-provider/openshift-hyperfleet-e2e-cleanup-cloud-provider-commands.sh
  ci-operator/step-registry/openshift-hyperfleet/e2e/cleanup/cloud-provider/openshift-hyperfleet-e2e-cleanup-cloud-provider-ref.metadata.json
  ci-operator/step-registry/openshift-hyperfleet/e2e/cleanup/cloud-provider/openshift-hyperfleet-e2e-cleanup-cloud-provider-ref.yaml
  ci-operator/step-registry/openshift-hyperfleet/e2e/cleanup/cluster-resources/OWNERS
  ci-operator/step-registry/openshift-hyperfleet/e2e/cleanup/cluster-resources/openshift-hyperfleet-e2e-cleanup-cluster-resources-commands.sh
  ci-operator/step-registry/openshift-hyperfleet/e2e/cleanup/cluster-resources/openshift-hyperfleet-e2e-cleanup-cluster-resources-ref.metadata.json
  ci-operator/step-registry/openshift-hyperfleet/e2e/cleanup/cluster-resources/openshift-hyperfleet-e2e-cleanup-cluster-resources-ref.yaml
  ci-operator/step-registry/openshift-hyperfleet/e2e/openshift-hyperfleet-e2e-ref.yaml
  ci-operator/step-registry/openshift-hyperfleet/e2e/openshift-hyperfleet-e2e-workflow.metadata.json
  ci-operator/step-registry/openshift-hyperfleet/e2e/openshift-hyperfleet-e2e-workflow.yaml
  ci-operator/step-registry/openshift-hyperfleet/e2e/setup/OWNERS
  ci-operator/step-registry/openshift-hyperfleet/e2e/setup/openshift-hyperfleet-e2e-setup-commands.sh
  ci-operator/step-registry/openshift-hyperfleet/e2e/setup/openshift-hyperfleet-e2e-setup-ref.metadata.json
  ci-operator/step-registry/openshift-hyperfleet/e2e/setup/openshift-hyperfleet-e2e-setup-ref.yaml
  ci-operator/step-registry/openshift-hyperfleet/e2e/test/OWNERS
  ci-operator/step-registry/openshift-hyperfleet/e2e/test/openshift-hyperfleet-e2e-test-commands.sh
  ci-operator/step-registry/openshift-hyperfleet/e2e/test/openshift-hyperfleet-e2e-test-ref.metadata.json
  ci-operator/step-registry/openshift-hyperfleet/e2e/test/openshift-hyperfleet-e2e-test-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Enable 4.22 Lane and minor cron changes to Compute CNF LLC Jobs (#74581)
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-compute-llc-4.19.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-compute-llc-4.21.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-compute-llc-4.22.yaml
  ci-operator/jobs/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Change rosa cli to latest release version inrosa-setup, rosa-setup-re… (#74721)
  ci-operator/step-registry/rosa/setup/readiness/cluster/rosa-setup-readiness-cluster-ref.yaml
  ci-operator/step-registry/rosa/setup/rosa-setup-ref.yaml
  ci-operator/step-registry/rosa/teardown/rosa-teardown-ref.yaml
  ci-operator/step-registry/rosa/tests/rosa-tests-ref.yaml
  ci-operator/step-registry/rosa/tests/runtime/day1-post/rosa-tests-runtime-day1-post-ref.yaml
  ci-operator/step-registry/rosa/tests/runtime/day2/rosa-tests-runtime-day2-ref.yaml
  ci-operator/step-registry/rosa/tests/runtime/destroy-post/rosa-tests-runtime-destroy-post-ref.yaml
  ci-operator/step-registry/rosa/tests/runtime/destroy/rosa-tests-runtime-destroy-ref.yaml
  ci-operator/step-registry/rosa/tests/runtime/destructive/rosa-tests-runtime-destructive-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.15.61-x86-64-for-4.15.0-0-to-4.16.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.16.56-x86-64-for-4.16.0-0-to-4.17.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.19.23-x86-64-for-4.19.0-0-to-4.20.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.20.14-x86-64-for-4.20.0-0-to-4.21.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

ci-operator-prowgen --from-dir ./ci-operator/config --to-dir ./ci-operator/jobs
  ci-operator/jobs/openshift-priv/cloud-network-config-controller/openshift-priv-cloud-network-config-controller-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/cloud-network-config-controller/openshift-priv-cloud-network-config-controller-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift-priv/cloud-network-config-controller/openshift-priv-cloud-network-config-controller-release-4.23-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

sanitize-prow-jobs --prow-jobs-dir ./ci-operator/jobs --config-path ./core-services/sanitize-prow-jobs/_config.yaml
  ci-operator/jobs/openshift-priv/cloud-network-config-controller/openshift-priv-cloud-network-config-controller-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/cloud-network-config-controller/openshift-priv-cloud-network-config-controller-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift-priv/cloud-network-config-controller/openshift-priv-cloud-network-config-controller-release-4.23-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.16.56-x86-64-for-4.16.0-0-to-4.17.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.18.33-x86-64-for-4.18.0-0-to-4.19.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.20.14-x86-64-for-4.20.0-0-to-4.21.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

cnf ran: updated reportportal template name (#74750)
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-standard-4.14.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-standard-4.16.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-standard-4.18.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-standard-4.19.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-standard-4.20.yaml
  ci-operator/step-registry/telcov10n/functional/cnf-ran/report-compact/telcov10n-functional-cnf-ran-report-compact-commands.sh
  ci-operator/step-registry/telcov10n/functional/cnf-ran/report-compact/telcov10n-functional-cnf-ran-report-compact-ref.yaml
  ci-operator/step-registry/telcov10n/functional/cnf-ran/report-standard/telcov10n-functional-cnf-ran-report-standard-commands.sh
  ci-operator/step-registry/telcov10n/functional/cnf-ran/report-standard/telcov10n-functional-cnf-ran-report-standard-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Adding leasing for AMD CI jobs (#72568)
  ci-operator/step-registry/amd-gpu-operator/e2e/amd-gpu-operator-e2e-workflow.yaml
  core-services/prow/02_config/_boskos.yaml
  core-services/prow/02_config/generate-boskos.py
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/prow-config, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

amd-ci: Remove 4.14, 4.15 jobs and add 4.22 job (#74597)
  ci-operator/config/rh-ecosystem-edge/amd-ci/rh-ecosystem-edge-amd-ci-main__4.14-stable.yaml
  ci-operator/config/rh-ecosystem-edge/amd-ci/rh-ecosystem-edge-amd-ci-main__4.22-stable.yaml
  ci-operator/jobs/rh-ecosystem-edge/amd-ci/rh-ecosystem-edge-amd-ci-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

DPTP-4634: Fix missing secret multi-arch-builder-controller-registry-credentials (#74777)
  core-services/ci-secret-bootstrap/_config.yaml
Due: ci/prow/ci-secret-bootstrap-config-validation, ci/prow/secret-generator-config-valid

Switch FR5 storage kuttl/tempest jobs to zuul (#74787)
  ci-operator/config/openstack-k8s-operators/cinder-operator/openstack-k8s-operators-cinder-operator-18.0-fr5.yaml
  ci-operator/config/openstack-k8s-operators/glance-operator/openstack-k8s-operators-glance-operator-18.0-fr5.yaml
  ci-operator/config/openstack-k8s-operators/manila-operator/openstack-k8s-operators-manila-operator-18.0-fr5.yaml
  ci-operator/config/openstack-k8s-operators/swift-operator/openstack-k8s-operators-swift-operator-18.0-fr5.yaml
  ci-operator/jobs/openstack-k8s-operators/cinder-operator/openstack-k8s-operators-cinder-operator-18.0-fr5-presubmits.yaml
  ci-operator/jobs/openstack-k8s-operators/glance-operator/openstack-k8s-operators-glance-operator-18.0-fr5-presubmits.yaml
  ci-operator/jobs/openstack-k8s-operators/manila-operator/openstack-k8s-operators-manila-operator-18.0-fr5-presubmits.yaml
  ci-operator/jobs/openstack-k8s-operators/swift-operator/openstack-k8s-operators-swift-operator-18.0-fr5-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

cnf ran: Add standard 4.21 job (#74788)
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-standard-4.21.yaml
  ci-operator/jobs/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

MPIIT: Update CNV Firewatch config (#74261)
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__cnv-odf-ocp-4.21-lp-interop-cr.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Switch dev e2e-parallel to uksouth (#74790)
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main.yaml
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main__periodic.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add cluster-secrets-azure-cnv-devops to ci-secret-bootstrap (#74794)
  core-services/ci-secret-bootstrap/_config.yaml
Due: ci/prow/ci-secret-bootstrap-config-validation, ci/prow/secret-generator-config-valid

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.16.56-x86-64-for-4.16.0-0-to-4.17.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.17.48-x86-64-for-4.17.0-0-to-4.18.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.18.33-x86-64-for-4.18.0-0-to-4.19.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.19.23-x86-64-for-4.19.0-0-to-4.20.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.20.14-x86-64-for-4.20.0-0-to-4.21.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

keel: use quay instead of docker (#74733)
  clusters/app.ci/keel/config.yaml
  clusters/build-clusters/common_except_app.ci/keel/config.yaml
  clusters/build-clusters/vsphere02/keel/config.yaml
  clusters/hosted-mgmt/keel/config.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Replace EXTRA_FLAGS by CD_V2_EXTRA_FLAGS (#74795)
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-4.20-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-4.21-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-4.22-nightly-x86.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Move build05-dry and build11-dry out of optional (#74782)
  ci-operator/jobs/openshift/release/openshift-release-main-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Add Konflux config for 2.17 release (#74769)
  core-services/prow/02_config/stolostron/console/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Change workflow to add ipv4 job (#74735)
  ci-operator/config/openshift/insights-operator/openshift-insights-operator-release-4.22__periodics.yaml
  ci-operator/jobs/openshift/insights-operator/openshift-insights-operator-release-4.22-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

ocp-virt-validation-checkup: update build root images to go1.24 (#74793)
  ci-operator/config/openshift-cnv/ocp-virt-validation-checkup/openshift-cnv-ocp-virt-validation-checkup-main.yaml
  ci-operator/config/openshift-cnv/ocp-virt-validation-checkup/openshift-cnv-ocp-virt-validation-checkup-main__periodics.yaml
  ci-operator/config/openshift-cnv/ocp-virt-validation-checkup/openshift-cnv-ocp-virt-validation-checkup-release-4.20.yaml
  ci-operator/config/openshift-cnv/ocp-virt-validation-checkup/openshift-cnv-ocp-virt-validation-checkup-release-4.20__periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames
