Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

services-valid:
  commands: make check-services
  container:
    from: src

ci/openshift/promrules:
  decorate: true
  spec:
    containers:
    - command:
      - /go/entrypoint.sh
      image: registry.svc.ci.openshift.org/ci/promrules:latest
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
          cpu: 500m
        requests:
          cpu: 10m

ci/prow/pylint:
  decorate: true
  spec:
    containers:
    - args:
      - --rcfile=hack/.pylintrc
      - --ignore=lib
      - --persistent=n
      - hack
      command:
      - pylint
      image: registry.svc.ci.openshift.org/ci/python-validation
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
  ...

ci/prow/services-valid:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/stackrox-stackrox-stackrox-stackrox-check:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: stackrox-stackrox
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

branch-ci-openshift-release-master-gsm-secrets-reconciler:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/sync-rover-groups/_config.yaml
      - --log-level=info
      - --gcp-service-account-key-file=/tmp/gcp-credentials/key.json
      command:
      - gsm-secret-sync
      env:
  ...

branch-ci-openshift-release-master-label-sync:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/prow/02_config/_labels.yaml
      - --confirm=true
  ...

ci/prow/check-cluster-profiles-config:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    automountServiceAccountToken: true
    containers:
    - args:
      - --config-path=./ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml
      command:
      - check-cluster-profiles-config
  ...

ci/prow/check-gh-automation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --bot=openshift-merge-robot
      - --bot=openshift-ci-robot
      - --app=openshift-ci
      - --app-check-mode=standard
      - --candidate-path=.
  ...

ci/prow/check-gh-automation-tide:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --app=openshift-merge-bot
      - --app-check-mode=tide
      - --candidate-path=.
      - --config-path=./core-services/prow/02_config/_config.yaml
  ...

5.0 mirror mappings (#75144)
  core-services/image-mirroring/openshift/_config.yaml
  core-services/image-mirroring/openshift/mapping_origin_5_0
  core-services/image-mirroring/openshift/mapping_origin_metallb-5_0
  core-services/image-mirroring/openshift/mapping_origin_ptp-5_0
  core-services/image-mirroring/openshift/mapping_origin_sriov-5_0
Due: none

cnf network: added 4.22 lane (#74751)
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-network-phase1-4.22.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-network-phase2-4.22.yaml
  ci-operator/jobs/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

CNTRLPLANE-2737: Add pre-commit quality review to jira-agent pipeline (#74809)
  ci-operator/step-registry/hypershift/jira-agent/hypershift-jira-agent-workflow.yaml
  ci-operator/step-registry/hypershift/jira-agent/process/hypershift-jira-agent-process-commands.sh
  ci-operator/step-registry/hypershift/jira-agent/process/hypershift-jira-agent-process-ref.yaml
  ci-operator/step-registry/hypershift/jira-agent/report/OWNERS
  ci-operator/step-registry/hypershift/jira-agent/report/hypershift-jira-agent-report-commands.sh
  ci-operator/step-registry/hypershift/jira-agent/report/hypershift-jira-agent-report-ref.metadata.json
  ci-operator/step-registry/hypershift/jira-agent/report/hypershift-jira-agent-report-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add plugins to llm-d-inference-scheduler and odh-model-controller (#75137)
  core-services/prow/02_config/red-hat-data-services/llm-d-inference-scheduler/OWNERS
  core-services/prow/02_config/red-hat-data-services/llm-d-inference-scheduler/_pluginconfig.yaml
  core-services/prow/02_config/red-hat-data-services/odh-model-controller/OWNERS
  core-services/prow/02_config/red-hat-data-services/odh-model-controller/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

PowerVC: Update to version 0.9.2 (#75114)
  ci-operator/step-registry/ipi/conf/powervc/ipi-conf-powervc-commands.sh
  ci-operator/step-registry/ipi/install/powervc/install/ipi-install-powervc-install-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

use from_rep:true for build root in ovnk 4.18-4.20 (#75115)
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.18.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.19.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.20.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.18-periodics.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.18-postsubmits.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.19-periodics.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.19-postsubmits.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.20-periodics.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.20-postsubmits.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.20-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

update golang to 1.25 (#75130)
  ci-operator/config/opendatahub-io/modelmesh-runtime-adapter/opendatahub-io-modelmesh-runtime-adapter-main.yaml
  ci-operator/config/opendatahub-io/modelmesh-runtime-adapter/opendatahub-io-modelmesh-runtime-adapter-stable-2.x.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

fix the image used in unit/verify tests (#75148)
  ci-operator/step-registry/aro-hcp/test-unit/aro-hcp-test-unit-ref.yaml
  ci-operator/step-registry/aro-hcp/verify/aro-hcp-verify-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

baremetalds-devscripts-proxy allow port 5000 (#75141)
  ci-operator/step-registry/baremetalds/devscripts/proxy/baremetalds-devscripts-proxy-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

aro-hcp: add a write-config pre step (#74954)
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main.yaml
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main__periodic.yaml
  ci-operator/step-registry/aro-hcp/e2e/aro-hcp-e2e-workflow.yaml
  ci-operator/step-registry/aro-hcp/local-e2e/aro-hcp-local-e2e-workflow.yaml
  ci-operator/step-registry/aro-hcp/write-config/OWNERS
  ci-operator/step-registry/aro-hcp/write-config/aro-hcp-write-config-commands.sh
  ci-operator/step-registry/aro-hcp/write-config/aro-hcp-write-config-ref.metadata.json
  ci-operator/step-registry/aro-hcp/write-config/aro-hcp-write-config-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

remove approve plugin from rhdh-* repos (#75164)
  core-services/prow/02_config/redhat-developer/rhdh-chart/_pluginconfig.yaml
  core-services/prow/02_config/redhat-developer/rhdh-chart/_prowconfig.yaml
  core-services/prow/02_config/redhat-developer/rhdh-operator/_pluginconfig.yaml
  core-services/prow/02_config/redhat-developer/rhdh-operator/_prowconfig.yaml
  core-services/prow/02_config/redhat-developer/rhdh-plugin-export-overlays/_pluginconfig.yaml
  core-services/prow/02_config/redhat-developer/rhdh-test-instance/_pluginconfig.yaml
  core-services/prow/02_config/redhat-developer/rhdh-test-instance/_prowconfig.yaml
  core-services/prow/02_config/redhat-developer/rhdh/_pluginconfig.yaml
  core-services/prow/02_config/redhat-developer/rhdh/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Rename EXTRA_FLAGS in virt workloads (#75154)
  ci-operator/config/redhat-chaos/prow-scripts/redhat-chaos-prow-scripts-main__4.19-nightly.yaml
  ci-operator/step-registry/openshift-qe/virt-density/openshift-qe-virt-density-commands.sh
  ci-operator/step-registry/openshift-qe/virt-density/openshift-qe-virt-density-ref.yaml
  ci-operator/step-registry/openshift-qe/virt-udn-density/openshift-qe-virt-udn-density-commands.sh
  ci-operator/step-registry/openshift-qe/virt-udn-density/openshift-qe-virt-udn-density-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

add missing branches for ART (#75170)
  core-services/prow/02_config/openshift-eng/ocp-build-data/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Delete subnets and routes (#75160)
  core-services/ipi-deprovision/gcp.sh
Due: none

Add osac-installer to test infra e2e tests (#73966)
  ci-operator/config/osac-project/osac-test-infra/osac-project-osac-test-infra-main.yaml
  ci-operator/step-registry/osac-project/installer/OWNERS
  ci-operator/step-registry/osac-project/installer/osac-project-installer-commands.sh
  ci-operator/step-registry/osac-project/installer/osac-project-installer-ref.metadata.json
  ci-operator/step-registry/osac-project/installer/osac-project-installer-ref.yaml
  ci-operator/step-registry/osac-project/ofcir/baremetal/osac-project-ofcir-baremetal-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ocp-perf-dash (#75087)
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-4.21-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-4.22-nightly-x86.yaml
  ci-operator/step-registry/openshift-qe/cluster-density-v2/openshift-qe-cluster-density-v2-commands.sh
  ci-operator/step-registry/openshift-qe/node-density-cni/openshift-qe-node-density-cni-commands.sh
  ci-operator/step-registry/openshift-qe/node-density/openshift-qe-node-density-commands.sh
  ci-operator/step-registry/openshift-qe/udn-density-pods/openshift-qe-udn-density-pods-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Sync Serverless CI config/ (#75079)
  ci-operator/config/openshift-knative/client/openshift-knative-client-release-v1.21__420.yaml
  ci-operator/config/openshift-knative/client/openshift-knative-client-release-v1.21__421.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__420-aws-ovn.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__420-azure.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__420-gcp.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__420-hypershift.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__420-single-node.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__420-vsphere.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__420.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__421.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-release-1.37__422.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-release-1.37__ocp-4.22-lp-interop-cr.yaml
  ci-operator/jobs/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main-periodics.yaml
  ci-operator/jobs/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main-presubmits.yaml
  ci-operator/jobs/openshift-knative/serverless-operator/openshift-knative-serverless-operator-release-1.37-periodics.yaml
  ci-operator/jobs/openshift-knative/serverless-operator/openshift-knative-serverless-operator-release-1.37-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add JIRA_AGENT_ISSUE_KEY env variable to override jira-agent issue discovery (#75157)
  ci-operator/step-registry/hypershift/jira-agent/process/hypershift-jira-agent-process-commands.sh
  ci-operator/step-registry/hypershift/jira-agent/process/hypershift-jira-agent-process-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Sync jira-agent fork with upstream before processing issues (#75149)
  ci-operator/step-registry/hypershift/jira-agent/process/hypershift-jira-agent-process-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Change nested vcenter naming (#75158)
  ci-operator/step-registry/ipi/conf/vsphere/nested/host-groups/ipi-conf-vsphere-nested-host-groups-commands.py
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Review agent: defer push to after comments are posted (#75165)
  ci-operator/step-registry/hypershift/review-agent/process/hypershift-review-agent-process-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

change branch name for ship-status-dash image-mirroring (#75174)
  ci-operator/jobs/infra-image-mirroring.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Add a new periodic job to test pre-release OSSM images (#74420)
  ci-operator/config/openshift/cluster-ingress-operator/openshift-cluster-ingress-operator-master__periodics.yaml
  ci-operator/jobs/openshift/cluster-ingress-operator/openshift-cluster-ingress-operator-master-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Added scripts for sanity-existing and e2e test on hypervisor (#75171)
  ci-operator/config/rh-ecosystem-edge/openshift-dpf/rh-ecosystem-edge-openshift-dpf-main.yaml
  ci-operator/jobs/rh-ecosystem-edge/openshift-dpf/rh-ecosystem-edge-openshift-dpf-main-presubmits.yaml
  ci-operator/step-registry/dpf/hypervisor/deploy-cluster/dpf-hypervisor-deploy-cluster-commands.sh
  ci-operator/step-registry/dpf/hypervisor/sanity-existing/dpf-hypervisor-sanity-existing-commands.sh
  ci-operator/step-registry/dpf/hypervisor/sanity-existing/dpf-hypervisor-sanity-existing-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

feat: add image build for aws-node-termination-handler (#74926)
  ci-operator/config/openshift/aws-node-termination-handler/openshift-aws-node-termination-handler-main.yaml
  ci-operator/jobs/openshift/aws-node-termination-handler/openshift-aws-node-termination-handler-main-postsubmits.yaml
  ci-operator/jobs/openshift/aws-node-termination-handler/openshift-aws-node-termination-handler-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

PowerVC: Send metadata cleanup (#75132)
  ci-operator/step-registry/ipi/deprovision/deprovision/powervc/deprovision/ipi-deprovision-deprovision-powervc-deprovision-commands.sh
  ci-operator/step-registry/ipi/install/powervc/install/ipi-install-powervc-install-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add OSAC AAP and Templates (#75163)
  ci-operator/config/osac-project/osac-aap/OWNERS
  ci-operator/config/osac-project/osac-aap/osac-project-osac-aap-main.yaml
  ci-operator/config/osac-project/osac-templates/OWNERS
  ci-operator/config/osac-project/osac-templates/osac-project-osac-templates-main.yaml
  ci-operator/jobs/osac-project/osac-aap/OWNERS
  ci-operator/jobs/osac-project/osac-aap/osac-project-osac-aap-main-presubmits.yaml
  ci-operator/jobs/osac-project/osac-templates/OWNERS
  ci-operator/jobs/osac-project/osac-templates/osac-project-osac-templates-main-presubmits.yaml
  core-services/prow/02_config/osac-project/osac-aap/_pluginconfig.yaml
  core-services/prow/02_config/osac-project/osac-aap/_prowconfig.yaml
  core-services/prow/02_config/osac-project/osac-templates/_pluginconfig.yaml
  core-services/prow/02_config/osac-project/osac-templates/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Pin Hive operator to v1.2.5060 (Manual approval) to avoid legacy AWS deprovision panic (#75184)
  clusters/hosted-mgmt/hive/operator.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

trusted-execution-clusters-ci: up setup timeout (#75162)
  ci-operator/step-registry/trusted-execution-clusters/ref/operator/beaker-kind-provision/trusted-execution-clusters-ref-operator-beaker-kind-provision-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

kueue-operator: rename disruptive tests from upstream to downstream (#75168)
  ci-operator/config/openshift/kueue-operator/openshift-kueue-operator-main.yaml
  ci-operator/config/openshift/kueue-operator/openshift-kueue-operator-release-1.3.yaml
  ci-operator/jobs/openshift/kueue-operator/openshift-kueue-operator-main-periodics.yaml
  ci-operator/jobs/openshift/kueue-operator/openshift-kueue-operator-main-presubmits.yaml
  ci-operator/jobs/openshift/kueue-operator/openshift-kueue-operator-release-1.3-periodics.yaml
  ci-operator/jobs/openshift/kueue-operator/openshift-kueue-operator-release-1.3-presubmits.yaml
  ci-operator/step-registry/kueue-operator/test/e2e/downstream/disruptive/OWNERS
  ci-operator/step-registry/kueue-operator/test/e2e/downstream/disruptive/kueue-operator-test-e2e-downstream-disruptive-chain.metadata.json
  ci-operator/step-registry/kueue-operator/test/e2e/downstream/disruptive/kueue-operator-test-e2e-downstream-disruptive-chain.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ci: add python 3.12 to build_root image for MaaS jobs (#75181)
  ci-operator/config/opendatahub-io/models-as-a-service/opendatahub-io-models-as-a-service-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Istio 1.28: skip tests which require BackendTLSPolicy CRD (#75187)
  ci-operator/config/openshift-service-mesh/istio/openshift-service-mesh-istio-release-1.28.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Remove ES_SECRETS_PATH from 5.0 jobs (#75147)
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-5.0-nightly-x86.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

hypershift: add 4.21 HCM periodics (#75161)
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.21__periodics-hcm.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.21-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

NVIDIA-555: Onboarding dpf-hcp-provisioner-operator (#75112)
  ci-operator/config/rh-ecosystem-edge/dpf-hcp-provisioner-operator/OWNERS
  ci-operator/config/rh-ecosystem-edge/dpf-hcp-provisioner-operator/rh-ecosystem-edge-dpf-hcp-provisioner-operator-main.yaml
  ci-operator/jobs/rh-ecosystem-edge/dpf-hcp-provisioner-operator/OWNERS
  ci-operator/jobs/rh-ecosystem-edge/dpf-hcp-provisioner-operator/rh-ecosystem-edge-dpf-hcp-provisioner-operator-main-presubmits.yaml
  core-services/prow/02_config/rh-ecosystem-edge/dpf-hcp-provisioner-operator/_pluginconfig.yaml
  core-services/prow/02_config/rh-ecosystem-edge/dpf-hcp-provisioner-operator/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Sync OWNERS files by autoowners job at Tue, 24 Feb 2026 07:42:11 UTC (#75195)
  ci-operator/config/openshift/boilerplate/OWNERS
  ci-operator/config/openshift/ops-sop/OWNERS
  ci-operator/config/openshift/os/OWNERS
  ci-operator/config/openstack-k8s-operators/designate-operator/OWNERS
  ci-operator/config/openstack-k8s-operators/octavia-operator/OWNERS
  ci-operator/jobs/openshift/boilerplate/OWNERS
  ci-operator/jobs/openshift/ops-sop/OWNERS
  ci-operator/jobs/openshift/os/OWNERS
  ci-operator/jobs/openstack-k8s-operators/designate-operator/OWNERS
  ci-operator/jobs/openstack-k8s-operators/octavia-operator/OWNERS
  ci-operator/jobs/rh-ecosystem-edge/dpf-hcp-provisioner-operator/OWNERS
  core-services/prow/02_config/openshift/boilerplate/OWNERS
  core-services/prow/02_config/openshift/ops-sop/OWNERS
  core-services/prow/02_config/openshift/os/OWNERS
  core-services/prow/02_config/openstack-k8s-operators/designate-operator/OWNERS
  core-services/prow/02_config/openstack-k8s-operators/octavia-operator/OWNERS
  core-services/prow/02_config/red-hat-data-services/llm-d-inference-scheduler/OWNERS
  core-services/prow/02_config/red-hat-data-services/odh-model-controller/OWNERS
  core-services/prow/02_config/rh-ecosystem-edge/dpf-hcp-provisioner-operator/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Prune ClusterImageSets (#75185)
  core-services/ipi-deprovision/clusterpool-pruner.sh
Due: none

Updated build11 secrets to libvirt-ppc64le (#75155)
  core-services/ci-secret-bootstrap/_config.yaml
Due: ci/prow/ci-secret-bootstrap-config-validation, ci/prow/secret-generator-config-valid

fix: update platform-api make target (#75177)
  ci-operator/config/openshift-online/rosa-regional-platform-api/openshift-online-rosa-regional-platform-api-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)
