Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

Exclude Konflux branches from branch protection for bpfman repos (#77796)
  core-services/prow/02_config/openshift/bpfman-catalog/_prowconfig.yaml
  core-services/prow/02_config/openshift/bpfman-operator/_prowconfig.yaml
  core-services/prow/02_config/openshift/bpfman/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Fix neuron operator version detection in test step (#77908)
  ci-operator/step-registry/aws-neuron-operator/test/aws-neuron-operator-test-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add registry step for adding a worker node to a spoke SNO cluster (#77493)
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-sno-day2-worker-4.20.yaml
  ci-operator/step-registry/telcov10n/functional/cnf-ran/deploy-spoke-sno-day2-worker/OWNERS
  ci-operator/step-registry/telcov10n/functional/cnf-ran/deploy-spoke-sno-day2-worker/telcov10n-functional-cnf-ran-deploy-spoke-sno-day2-worker-commands.sh
  ci-operator/step-registry/telcov10n/functional/cnf-ran/deploy-spoke-sno-day2-worker/telcov10n-functional-cnf-ran-deploy-spoke-sno-day2-worker-ref.metadata.json
  ci-operator/step-registry/telcov10n/functional/cnf-ran/deploy-spoke-sno-day2-worker/telcov10n-functional-cnf-ran-deploy-spoke-sno-day2-worker-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

[jira-lifecycle-plugin] 4.23/5.0 fix (#77912)
  core-services/jira-lifecycle-plugin/config.yaml
Due: ci/prow/jira-lifecycle-config

ci(kserve): pass GOTAGS=distro when building the kserve-controller image (#77866)
  ci-operator/config/opendatahub-io/kserve/opendatahub-io-kserve-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

USHIFT-6821: Readjust periodics for 5.0 (#77894)
  ci-operator/config/openshift/microshift/openshift-microshift-release-5.0__periodics.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-5.0-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

NO-ISSUE: fix volue mount options (#77909)
  Makefile
Due: none

[openshift-psap/forge] Include 'oc' in the light image (#77708)
  clusters/app.ci/supplemental-ci-images/forge-light.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

NTOP: add all lanes for full cluster (#77902)
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__compute-nrop.yaml
  ci-operator/jobs/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Model controller Kserve tests using in-repo Makefile target (#76623)
  ci-operator/config/opendatahub-io/odh-model-controller/opendatahub-io-odh-model-controller-incubating.yaml
  ci-operator/config/opendatahub-io/odh-model-controller/opendatahub-io-odh-model-controller-main.yaml
  ci-operator/jobs/opendatahub-io/odh-model-controller/opendatahub-io-odh-model-controller-incubating-postsubmits.yaml
  ci-operator/jobs/opendatahub-io/odh-model-controller/opendatahub-io-odh-model-controller-incubating-presubmits.yaml
  ci-operator/jobs/opendatahub-io/odh-model-controller/opendatahub-io-odh-model-controller-main-postsubmits.yaml
  ci-operator/jobs/opendatahub-io/odh-model-controller/opendatahub-io-odh-model-controller-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

[openshift-psap] New fournos-wip test and capture the logs in the entrypoint (#77910)
  ci-operator/config/openshift-psap/forge/openshift-psap-forge-main.yaml
  ci-operator/config/openshift-psap/forge/openshift-psap-forge-main__jump.yaml
  ci-operator/config/openshift-psap/fournos/openshift-psap-fournos-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add retry logic for telco5gci git clone in CI step scripts (#77877)
  ci-operator/step-registry/telco5g/cnf/tests/telco5g-cnf-tests-commands.sh
  ci-operator/step-registry/telco5g/log-gather/telco5g-log-gather-commands.sh
  ci-operator/step-registry/telco5g/ptp/tests/telco5g-ptp-tests-commands.sh
  ci-operator/step-registry/telco5g/sriov/tests/telco5g-sriov-tests-commands.sh
  ci-operator/step-registry/telcov10n/functional/cnf-compute/hcp-nrop/tests/telcov10n-functional-cnf-compute-hcp-nrop-tests-commands.sh
  ci-operator/step-registry/telcov10n/functional/cnf-compute/hcp-nto/tests/telcov10n-functional-cnf-compute-hcp-nto-tests-commands.sh
  ci-operator/step-registry/telcov10n/functional/cnf-compute/llc/tests/telcov10n-functional-cnf-compute-llc-tests-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

aro hcp: add boskos lease for image push and cspr cd (#77407)
  core-services/prow/02_config/_boskos.yaml
  core-services/prow/02_config/generate-boskos.py
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

HYPERFLEET-983: Fix broken Go toolchain in HyperFleet CI build image (#77920)
  ci-operator/config/openshift-hyperfleet/adapter-pull-secret/openshift-hyperfleet-adapter-pull-secret-main.yaml
  ci-operator/config/openshift-hyperfleet/adapter-pull-secret/openshift-hyperfleet-adapter-pull-secret-main__presubmits.yaml
  ci-operator/config/openshift-hyperfleet/hyperfleet-adapter/openshift-hyperfleet-hyperfleet-adapter-main.yaml
  ci-operator/config/openshift-hyperfleet/hyperfleet-adapter/openshift-hyperfleet-hyperfleet-adapter-main__presubmits.yaml
  ci-operator/config/openshift-hyperfleet/hyperfleet-adapter/openshift-hyperfleet-hyperfleet-adapter-release-0.2__presubmits.yaml
  ci-operator/config/openshift-hyperfleet/hyperfleet-api/openshift-hyperfleet-hyperfleet-api-main.yaml
  ci-operator/config/openshift-hyperfleet/hyperfleet-api/openshift-hyperfleet-hyperfleet-api-main__presubmits.yaml
  ci-operator/config/openshift-hyperfleet/hyperfleet-api/openshift-hyperfleet-hyperfleet-api-release-0.2__presubmits.yaml
  ci-operator/config/openshift-hyperfleet/hyperfleet-broker/openshift-hyperfleet-hyperfleet-broker-main.yaml
  ci-operator/config/openshift-hyperfleet/hyperfleet-broker/openshift-hyperfleet-hyperfleet-broker-main__presubmits.yaml
  ci-operator/config/openshift-hyperfleet/hyperfleet-sentinel/openshift-hyperfleet-hyperfleet-sentinel-main.yaml
  ci-operator/config/openshift-hyperfleet/hyperfleet-sentinel/openshift-hyperfleet-hyperfleet-sentinel-main__presubmits.yaml
  ci-operator/config/openshift-hyperfleet/hyperfleet-sentinel/openshift-hyperfleet-hyperfleet-sentinel-release-0.2__presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add hypershift-specific stale PR management periodic jobs (#77924)
  ci-operator/jobs/infra-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

USHIFT-6847: Switch MicroShift CI doctor to use edge-tooling repository (#77676)
  ci-operator/step-registry/openshift/microshift/claude/ci-doctor/openshift-microshift-claude-ci-doctor-commands.sh
  ci-operator/step-registry/openshift/microshift/claude/ci-doctor/openshift-microshift-claude-ci-doctor-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update Prow config for SBR operator rename (#77897)
  ci-operator/config/medik8s/storage-based-remediation/medik8s-storage-based-remediation-main__4.20-sbr-rename.yaml
  ci-operator/config/medik8s/storage-based-remediation/medik8s-storage-based-remediation-main__4.20.yaml
  ci-operator/jobs/medik8s/storage-based-remediation/medik8s-storage-based-remediation-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

increase the resource requests of the multi-arch-build-controller (#77918)
  clusters/build-clusters/multiarch_builds/multi-arch-builder-controller/100_deploy.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

fix image drift issues for release-1.3 (#77863)
  ci-operator/config/openshift/kueue-operator/openshift-kueue-operator-release-1.3.yaml
  ci-operator/jobs/openshift/kueue-operator/openshift-kueue-operator-release-1.3-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

MGMT-23943: Add OCP 5 presubmit / periodic jobs (#77914)
  ci-operator/config/openshift/assisted-service/openshift-assisted-service-master__edge.yaml
  ci-operator/config/openshift/assisted-test-infra/openshift-assisted-test-infra-master.yaml
  ci-operator/jobs/openshift/assisted-service/openshift-assisted-service-master-presubmits.yaml
  ci-operator/jobs/openshift/assisted-test-infra/openshift-assisted-test-infra-master-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

cleanup the ci-tools-build-root Dockerfile build (#77913)
  clusters/build-clusters/multiarch_builds/supplemental-ci-images/ci-tools-build-root_mabc.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

NO-JIRA: CVO: Add a serial test suite presubmit job to 4.21 and 4.20 releases (#75219)
  ci-operator/config/openshift/cluster-version-operator/openshift-cluster-version-operator-release-4.20.yaml
  ci-operator/config/openshift/cluster-version-operator/openshift-cluster-version-operator-release-4.21.yaml
  ci-operator/jobs/openshift/cluster-version-operator/openshift-cluster-version-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/cluster-version-operator/openshift-cluster-version-operator-release-4.21-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

[openshift-psap/fournos] Correctly expose the fournos-wip commit (#77917)
  ci-operator/config/openshift-psap/fournos/openshift-psap-fournos-main.yaml
  ci-operator/jobs/openshift-psap/fournos/openshift-psap-fournos-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

sanitize-prow-jobs --prow-jobs-dir ./ci-operator/jobs --config-path ./core-services/sanitize-prow-jobs/_config.yaml
  ci-operator/jobs/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-release-4.21-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

rename build/test with Node in rhdh required checks (#77802)
  core-services/prow/02_config/redhat-developer/rhdh/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

[INTEROP-8947] Disable acs-stable on OCP 4.21; update `.config.progen` (#77933)
  ci-operator/config/stackrox/stackrox/.config.prowgen
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master__ocp-4-14-lp-interop.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master__ocp-4-15-lp-interop.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master__ocp-4-16-lp-interop.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master__ocp-4-17-lp-interop.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master__ocp-4-18-lp-interop.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master__ocp-4-19-lp-interop.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master__ocp-4-20-lp-interop.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.9__ocp-4-21-lp-interop-cr.yaml
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-master-periodics.yaml
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-release-4.9-periodics.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Onboard openshift-online/platform-engineering-skills to OpenShift CI (#77852)
  ci-operator/config/openshift-online/platform-engineering-skills/.config.prowgen
  ci-operator/config/openshift-online/platform-engineering-skills/OWNERS
  ci-operator/config/openshift-online/platform-engineering-skills/openshift-online-platform-engineering-skills-main.yaml
  ci-operator/jobs/openshift-online/platform-engineering-skills/OWNERS
  ci-operator/jobs/openshift-online/platform-engineering-skills/openshift-online-platform-engineering-skills-main-presubmits.yaml
  core-services/prow/02_config/openshift-online/platform-engineering-skills/OWNERS
  core-services/prow/02_config/openshift-online/platform-engineering-skills/_pluginconfig.yaml
  core-services/prow/02_config/openshift-online/platform-engineering-skills/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

add new jobs for version variant (#77880)
  ci-operator/config/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main.yaml
  ci-operator/config/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main__periodics.yaml
  ci-operator/jobs/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main-periodics.yaml
  ci-operator/jobs/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Fix OKD SCOS stable AWS upgrade periodic UNRESOLVED_CONFIG (drop openshift_installer) (#77943)
  ci-operator/jobs/openshift/release/openshift-release-infra-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/cvp/cvp-fips-ocp-4-20-amd64-aws-eu-west-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/cvp/cvp-ocp-4-20-amd64-aws-eu-west-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/konflux/konflux-ocp-4-20-0-amd64-aws-us-west-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/konflux/konflux-ocp-4-20-0-arm64-aws-us-west-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.20.19-multi-for-4.20.0-0-to-4.21.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/opendatahub/opendatahub-ocp-4-20-amd64-aws_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-ci/ci-ocp-4-20-0-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-logging-ocp-4-20-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-ocp-4-20-0-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-ocp-4-20-0-fips-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-ocp-4-20-0-gpu-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/rh-openshift-ecosystem/rhoe-ocp-4-20-amd64-aws-us-west-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/rh-openshift-ecosystem/rhoe-ocp-4-20-amd64-aws-us-west-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/rhdh/rhdh-ocp-4-20-0-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/serverless/serverless-ocp-4-20-amd64-aws-us-east-1_clusterpool.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

ci-operator-prowgen --from-dir ./ci-operator/config --to-dir ./ci-operator/jobs
  ci-operator/jobs/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-release-4.21-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

aws-account-operator: Rename image and add OPERATOR_IMAGE dependency (#77860)
  ci-operator/config/openshift/aws-account-operator/openshift-aws-account-operator-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-release-4.21.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Use prow for service ci build, push and cspr dev (#76898)
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main.yaml
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-presubmits.yaml
  ci-operator/step-registry/aro-hcp/cspr/OWNERS
  ci-operator/step-registry/aro-hcp/cspr/aro-hcp-cspr-workflow.metadata.json
  ci-operator/step-registry/aro-hcp/cspr/aro-hcp-cspr-workflow.yaml
  ci-operator/step-registry/aro-hcp/cspr/infra/OWNERS
  ci-operator/step-registry/aro-hcp/cspr/infra/aro-hcp-cspr-infra-commands.sh
  ci-operator/step-registry/aro-hcp/cspr/infra/aro-hcp-cspr-infra-ref.metadata.json
  ci-operator/step-registry/aro-hcp/cspr/infra/aro-hcp-cspr-infra-ref.yaml
  ci-operator/step-registry/aro-hcp/cspr/services-mgmt/OWNERS
  ci-operator/step-registry/aro-hcp/cspr/services-mgmt/aro-hcp-cspr-services-mgmt-commands.sh
  ci-operator/step-registry/aro-hcp/cspr/services-mgmt/aro-hcp-cspr-services-mgmt-ref.metadata.json
  ci-operator/step-registry/aro-hcp/cspr/services-mgmt/aro-hcp-cspr-services-mgmt-ref.yaml
  ci-operator/step-registry/aro-hcp/cspr/services-svc/OWNERS
  ci-operator/step-registry/aro-hcp/cspr/services-svc/aro-hcp-cspr-services-svc-commands.sh
  ci-operator/step-registry/aro-hcp/cspr/services-svc/aro-hcp-cspr-services-svc-ref.metadata.json
  ci-operator/step-registry/aro-hcp/cspr/services-svc/aro-hcp-cspr-services-svc-ref.yaml
  ci-operator/step-registry/aro-hcp/images-push/OWNERS
  ci-operator/step-registry/aro-hcp/images-push/aro-hcp-images-push-commands.sh
  ci-operator/step-registry/aro-hcp/images-push/aro-hcp-images-push-ref.metadata.json
  ci-operator/step-registry/aro-hcp/images-push/aro-hcp-images-push-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix CLUSTER_SWITCH bug and skip flaky conformance tests (#77602)
  ci-operator/config/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main.yaml
  ci-operator/config/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main__periodics.yaml
  ci-operator/jobs/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main-periodics.yaml
  ci-operator/step-registry/rosa/aws/hcp/conformance/rosa-aws-hcp-conformance-workflow.yaml
  ci-operator/step-registry/rosa/aws/sts/conformance/rosa-aws-sts-conformance-workflow.yaml
  ci-operator/step-registry/rosa/sts/account-roles/create/rosa-sts-account-roles-create-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Adding rhaiis credentials for rhaiis vllm tests (#77654)
  ci-operator/config/openshift/lightspeed-service/openshift-lightspeed-service-main.yaml
  ci-operator/config/openshift/lightspeed-service/openshift-lightspeed-service-main__4.16.yaml
  ci-operator/config/openshift/lightspeed-service/openshift-lightspeed-service-main__4.17.yaml
  ci-operator/config/openshift/lightspeed-service/openshift-lightspeed-service-main__4.18.yaml
  ci-operator/config/openshift/lightspeed-service/openshift-lightspeed-service-main__4.19.yaml
  ci-operator/config/openshift/lightspeed-service/openshift-lightspeed-service-main__4.20.yaml
  ci-operator/config/openshift/lightspeed-service/openshift-lightspeed-service-main__4.21.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

updating rhoe 4.22 clusters back to x86_64 and updating name so bot doesn't update changes (#77941)
  clusters/hosted-mgmt/hive/pools/ocp-release-4.22.0-ec.5-for-4.22.0-0-to-4.23.0-0__clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/rh-openshift-ecosystem/rhoe-ocp-4-22-amd64-aws-us-west-1__clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/rh-openshift-ecosystem/rhoe-ocp-4-22-amd64-aws-us-west-2__clusterpool.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

sanitize-prow-jobs --prow-jobs-dir ./ci-operator/jobs --config-path ./core-services/sanitize-prow-jobs/_config.yaml
  ci-operator/jobs/openshift-priv/assisted-installer-agent/openshift-priv-assisted-installer-agent-release-4.12-postsubmits.yaml
  ci-operator/jobs/openshift-priv/assisted-installer-agent/openshift-priv-assisted-installer-agent-release-4.12-presubmits.yaml
  ci-operator/jobs/openshift-priv/assisted-installer/openshift-priv-assisted-installer-release-4.12-postsubmits.yaml
  ci-operator/jobs/openshift-priv/assisted-installer/openshift-priv-assisted-installer-release-4.12-presubmits.yaml
  ci-operator/jobs/openshift-priv/assisted-service/openshift-priv-assisted-service-release-4.12-postsubmits.yaml
  ci-operator/jobs/openshift-priv/assisted-service/openshift-priv-assisted-service-release-4.12-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Revert "Use prow for service ci build, push and cspr dev (#76898)" (#77944)
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main.yaml
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-presubmits.yaml
  ci-operator/step-registry/aro-hcp/cspr/OWNERS
  ci-operator/step-registry/aro-hcp/cspr/aro-hcp-cspr-workflow.metadata.json
  ci-operator/step-registry/aro-hcp/cspr/aro-hcp-cspr-workflow.yaml
  ci-operator/step-registry/aro-hcp/cspr/infra/OWNERS
  ci-operator/step-registry/aro-hcp/cspr/infra/aro-hcp-cspr-infra-commands.sh
  ci-operator/step-registry/aro-hcp/cspr/infra/aro-hcp-cspr-infra-ref.metadata.json
  ci-operator/step-registry/aro-hcp/cspr/infra/aro-hcp-cspr-infra-ref.yaml
  ci-operator/step-registry/aro-hcp/cspr/services-mgmt/OWNERS
  ci-operator/step-registry/aro-hcp/cspr/services-mgmt/aro-hcp-cspr-services-mgmt-commands.sh
  ci-operator/step-registry/aro-hcp/cspr/services-mgmt/aro-hcp-cspr-services-mgmt-ref.metadata.json
  ci-operator/step-registry/aro-hcp/cspr/services-mgmt/aro-hcp-cspr-services-mgmt-ref.yaml
  ci-operator/step-registry/aro-hcp/cspr/services-svc/OWNERS
  ci-operator/step-registry/aro-hcp/cspr/services-svc/aro-hcp-cspr-services-svc-commands.sh
  ci-operator/step-registry/aro-hcp/cspr/services-svc/aro-hcp-cspr-services-svc-ref.metadata.json
  ci-operator/step-registry/aro-hcp/cspr/services-svc/aro-hcp-cspr-services-svc-ref.yaml
  ci-operator/step-registry/aro-hcp/images-push/OWNERS
  ci-operator/step-registry/aro-hcp/images-push/aro-hcp-images-push-commands.sh
  ci-operator/step-registry/aro-hcp/images-push/aro-hcp-images-push-ref.metadata.json
  ci-operator/step-registry/aro-hcp/images-push/aro-hcp-images-push-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/assisted-installer-agent/openshift-priv-assisted-installer-agent-release-4.12.yaml
  ci-operator/config/openshift-priv/assisted-installer/openshift-priv-assisted-installer-release-4.12.yaml
  ci-operator/config/openshift-priv/assisted-service/openshift-priv-assisted-service-release-4.12.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames
