Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

copy mac from enp6s0
  ci-operator/step-registry/baremetalds/devscripts/conf/nmstate-brex-bond/baremetalds-devscripts-conf-nmstate-brex-bond-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add new prow-failure-analysis step to step-registry
  ci-operator/step-registry/prow-failure-analysis/OWNERS
  ci-operator/step-registry/prow-failure-analysis/prow-failure-analysis-commands.sh
  ci-operator/step-registry/prow-failure-analysis/prow-failure-analysis-ref.metadata.json
  ci-operator/step-registry/prow-failure-analysis/prow-failure-analysis-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add OCP 4.21 and Component Readiness variants for ibm-fusion-access-operator (#72016)
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__ibm-fusion-access-operator-ocp4.20-lp-interop-cr.yaml
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__ibm-fusion-access-operator-ocp4.21-lp-interop-cr.yaml
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__ibm-fusion-access-operator-ocp4.21-lp-interop.yaml
  ci-operator/jobs/RedHatQE/interop-testing/RedHatQE-interop-testing-master-periodics.yaml
  ci-operator/jobs/RedHatQE/interop-testing/RedHatQE-interop-testing-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

TRT-2452: Create missing 4.22 periodic variants (#72630)
  ci-operator/config/openshift/aws-karpenter-provider-aws/openshift-aws-karpenter-provider-aws-release-4.22__periodics.yaml
  ci-operator/config/openshift/cluster-authentication-operator/openshift-cluster-authentication-operator-release-4.22__periodics.yaml
  ci-operator/config/openshift/cluster-node-tuning-operator/openshift-cluster-node-tuning-operator-release-4.22__periodics.yaml
  ci-operator/config/openshift/cluster-storage-operator/openshift-cluster-storage-operator-release-4.22__periodics.yaml
  ci-operator/config/openshift/csi-operator/openshift-csi-operator-release-4.22__periodics.yaml
  ci-operator/config/openshift/gcp-filestore-csi-driver-operator/openshift-gcp-filestore-csi-driver-operator-release-4.22__periodics.yaml
  ci-operator/config/openshift/gcp-pd-csi-driver-operator/openshift-gcp-pd-csi-driver-operator-release-4.22__periodics.yaml
  ci-operator/config/openshift/image-registry/openshift-image-registry-release-4.22__periodics.yaml
  ci-operator/config/openshift/insights-operator/openshift-insights-operator-release-4.22__periodics.yaml
  ci-operator/config/openshift/operator-framework-olm/openshift-operator-framework-olm-release-4.22__periodics.yaml
  ci-operator/config/openshift/operator-framework-operator-controller/openshift-operator-framework-operator-controller-release-4.22__periodics.yaml
  ci-operator/jobs/openshift/aws-karpenter-provider-aws/openshift-aws-karpenter-provider-aws-release-4.22-periodics.yaml
  ci-operator/jobs/openshift/cluster-authentication-operator/openshift-cluster-authentication-operator-release-4.22-periodics.yaml
  ci-operator/jobs/openshift/cluster-authentication-operator/openshift-cluster-authentication-operator-release-4.22-postsubmits.yaml
  ci-operator/jobs/openshift/cluster-authentication-operator/openshift-cluster-authentication-operator-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/cluster-node-tuning-operator/openshift-cluster-node-tuning-operator-release-4.22-periodics.yaml
  ci-operator/jobs/openshift/cluster-storage-operator/openshift-cluster-storage-operator-release-4.22-periodics.yaml
  ci-operator/jobs/openshift/csi-operator/openshift-csi-operator-release-4.22-periodics.yaml
  ci-operator/jobs/openshift/csi-operator/openshift-csi-operator-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/gcp-filestore-csi-driver-operator/openshift-gcp-filestore-csi-driver-operator-release-4.22-periodics.yaml
  ci-operator/jobs/openshift/gcp-filestore-csi-driver-operator/openshift-gcp-filestore-csi-driver-operator-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/gcp-pd-csi-driver-operator/openshift-gcp-pd-csi-driver-operator-release-4.22-periodics.yaml
  ci-operator/jobs/openshift/image-registry/openshift-image-registry-release-4.22-periodics.yaml
  ci-operator/jobs/openshift/image-registry/openshift-image-registry-release-4.22-postsubmits.yaml
  ci-operator/jobs/openshift/image-registry/openshift-image-registry-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/insights-operator/openshift-insights-operator-release-4.22-periodics.yaml
  ci-operator/jobs/openshift/insights-operator/openshift-insights-operator-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/operator-framework-olm/openshift-operator-framework-olm-release-4.22-periodics.yaml
  ci-operator/jobs/openshift/operator-framework-operator-controller/openshift-operator-framework-operator-controller-release-4.22-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add timeout
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.21__amd64-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add new CNV test steps and chain for IBM Fusion Access (#72018)
  ci-operator/step-registry/interop-tests/ibm-fusion-access/cnv-test-chain/OWNERS
  ci-operator/step-registry/interop-tests/ibm-fusion-access/cnv-test-chain/interop-tests-ibm-fusion-access-cnv-test-chain-chain.metadata.json
  ci-operator/step-registry/interop-tests/ibm-fusion-access/cnv-test-chain/interop-tests-ibm-fusion-access-cnv-test-chain-chain.yaml
  ci-operator/step-registry/interop-tests/ibm-fusion-access/configure-cnv-shared-storage/OWNERS
  ci-operator/step-registry/interop-tests/ibm-fusion-access/configure-cnv-shared-storage/interop-tests-ibm-fusion-access-configure-cnv-shared-storage-commands.sh
  ci-operator/step-registry/interop-tests/ibm-fusion-access/configure-cnv-shared-storage/interop-tests-ibm-fusion-access-configure-cnv-shared-storage-ref.metadata.json
  ci-operator/step-registry/interop-tests/ibm-fusion-access/configure-cnv-shared-storage/interop-tests-ibm-fusion-access-configure-cnv-shared-storage-ref.yaml
  ci-operator/step-registry/interop-tests/ibm-fusion-access/create-shared-filesystem/OWNERS
  ci-operator/step-registry/interop-tests/ibm-fusion-access/create-shared-filesystem/interop-tests-ibm-fusion-access-create-shared-filesystem-commands.sh
  ci-operator/step-registry/interop-tests/ibm-fusion-access/create-shared-filesystem/interop-tests-ibm-fusion-access-create-shared-filesystem-ref.metadata.json
  ci-operator/step-registry/interop-tests/ibm-fusion-access/create-shared-filesystem/interop-tests-ibm-fusion-access-create-shared-filesystem-ref.yaml
  ci-operator/step-registry/interop-tests/ibm-fusion-access/ebs-integration-chain/interop-tests-ibm-fusion-access-ebs-integration-chain-chain.yaml
  ci-operator/step-registry/interop-tests/ibm-fusion-access/environment-setup-chain/interop-tests-ibm-fusion-access-environment-setup-chain-chain.yaml
  ci-operator/step-registry/interop-tests/ibm-fusion-access/test-cnv-shared-storage/OWNERS
  ci-operator/step-registry/interop-tests/ibm-fusion-access/test-cnv-shared-storage/interop-tests-ibm-fusion-access-test-cnv-shared-storage-commands.sh
  ci-operator/step-registry/interop-tests/ibm-fusion-access/test-cnv-shared-storage/interop-tests-ibm-fusion-access-test-cnv-shared-storage-ref.metadata.json
  ci-operator/step-registry/interop-tests/ibm-fusion-access/test-cnv-shared-storage/interop-tests-ibm-fusion-access-test-cnv-shared-storage-ref.yaml
  ci-operator/step-registry/interop-tests/ibm-fusion-access/test-vm-lifecycle/OWNERS
  ci-operator/step-registry/interop-tests/ibm-fusion-access/test-vm-lifecycle/interop-tests-ibm-fusion-access-test-vm-lifecycle-commands.sh
  ci-operator/step-registry/interop-tests/ibm-fusion-access/test-vm-lifecycle/interop-tests-ibm-fusion-access-test-vm-lifecycle-ref.metadata.json
  ci-operator/step-registry/interop-tests/ibm-fusion-access/test-vm-lifecycle/interop-tests-ibm-fusion-access-test-vm-lifecycle-ref.yaml
  ci-operator/step-registry/interop-tests/ibm-fusion-access/test-vm-migration/OWNERS
  ci-operator/step-registry/interop-tests/ibm-fusion-access/test-vm-migration/interop-tests-ibm-fusion-access-test-vm-migration-commands.sh
  ci-operator/step-registry/interop-tests/ibm-fusion-access/test-vm-migration/interop-tests-ibm-fusion-access-test-vm-migration-ref.metadata.json
  ci-operator/step-registry/interop-tests/ibm-fusion-access/test-vm-migration/interop-tests-ibm-fusion-access-test-vm-migration-ref.yaml
  ci-operator/step-registry/interop-tests/ibm-fusion-access/test-vm-snapshots/OWNERS
  ci-operator/step-registry/interop-tests/ibm-fusion-access/test-vm-snapshots/interop-tests-ibm-fusion-access-test-vm-snapshots-commands.sh
  ci-operator/step-registry/interop-tests/ibm-fusion-access/test-vm-snapshots/interop-tests-ibm-fusion-access-test-vm-snapshots-ref.metadata.json
  ci-operator/step-registry/interop-tests/ibm-fusion-access/test-vm-snapshots/interop-tests-ibm-fusion-access-test-vm-snapshots-ref.yaml
  ci-operator/step-registry/interop-tests/ibm-fusion-access/verify-shared-storage/OWNERS
  ci-operator/step-registry/interop-tests/ibm-fusion-access/verify-shared-storage/interop-tests-ibm-fusion-access-verify-shared-storage-commands.sh
  ci-operator/step-registry/interop-tests/ibm-fusion-access/verify-shared-storage/interop-tests-ibm-fusion-access-verify-shared-storage-ref.metadata.json
  ci-operator/step-registry/interop-tests/ibm-fusion-access/verify-shared-storage/interop-tests-ibm-fusion-access-verify-shared-storage-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Bumping Prow and Boskos and TestInfra
  Makefile
  ci-operator/jobs/infra-periodics.yaml
  ci-operator/jobs/openshift/release/openshift-release-master-presubmits.yaml
  clusters/app.ci/prow/03_deployment/cherrypick.yaml
  clusters/app.ci/prow/03_deployment/crier.yaml
  clusters/app.ci/prow/03_deployment/deck.yaml
  clusters/app.ci/prow/03_deployment/exporter.yaml
  clusters/app.ci/prow/03_deployment/gangway.yaml
  clusters/app.ci/prow/03_deployment/ghproxy.yaml
  clusters/app.ci/prow/03_deployment/hook.yaml
  clusters/app.ci/prow/03_deployment/horologium.yaml
  clusters/app.ci/prow/03_deployment/needs_rebase.yaml
  clusters/app.ci/prow/03_deployment/prow-controller-manager.yaml
  clusters/app.ci/prow/03_deployment/qe_private_deck.yaml
  clusters/app.ci/prow/03_deployment/refresh.yaml
  clusters/app.ci/prow/03_deployment/sinker.yaml
  clusters/app.ci/prow/03_deployment/statusreconciler.yaml
  clusters/app.ci/prow/03_deployment/tide.yaml
  clusters/app.ci/prow/03_deployment/tot.yaml
  clusters/app.ci/prow/staging/crier.yaml
  clusters/app.ci/prow/staging/deck.yaml
  clusters/app.ci/prow/staging/ghproxy.yaml
  clusters/app.ci/prow/staging/hook.yaml
  clusters/app.ci/prow/staging/horologium.yaml
  clusters/app.ci/prow/staging/prow-config.yaml
  clusters/app.ci/prow/staging/prow-controller-manager.yaml
  clusters/app.ci/prow/staging/sinker.yaml
  clusters/app.ci/prow/staging/statusreconciler.yaml
  clusters/app.ci/prow/staging/tide.yaml
  core-services/image-mirroring/_config.yaml
  core-services/prow/02_config/_config.yaml
  hack/images.sh
Due: ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/config, ci/prow/generated-config, ci/build-farm/hosted-mgmt-dry, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-semantics, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Bumping Prow and Boskos and TestInfra (#72749)
  Makefile
  ci-operator/jobs/infra-periodics.yaml
  ci-operator/jobs/openshift/release/openshift-release-master-presubmits.yaml
  clusters/app.ci/prow/03_deployment/cherrypick.yaml
  clusters/app.ci/prow/03_deployment/crier.yaml
  clusters/app.ci/prow/03_deployment/deck.yaml
  clusters/app.ci/prow/03_deployment/exporter.yaml
  clusters/app.ci/prow/03_deployment/gangway.yaml
  clusters/app.ci/prow/03_deployment/ghproxy.yaml
  clusters/app.ci/prow/03_deployment/hook.yaml
  clusters/app.ci/prow/03_deployment/horologium.yaml
  clusters/app.ci/prow/03_deployment/needs_rebase.yaml
  clusters/app.ci/prow/03_deployment/prow-controller-manager.yaml
  clusters/app.ci/prow/03_deployment/qe_private_deck.yaml
  clusters/app.ci/prow/03_deployment/refresh.yaml
  clusters/app.ci/prow/03_deployment/sinker.yaml
  clusters/app.ci/prow/03_deployment/statusreconciler.yaml
  clusters/app.ci/prow/03_deployment/tide.yaml
  clusters/app.ci/prow/03_deployment/tot.yaml
  clusters/app.ci/prow/staging/crier.yaml
  clusters/app.ci/prow/staging/deck.yaml
  clusters/app.ci/prow/staging/ghproxy.yaml
  clusters/app.ci/prow/staging/hook.yaml
  clusters/app.ci/prow/staging/horologium.yaml
  clusters/app.ci/prow/staging/prow-config.yaml
  clusters/app.ci/prow/staging/prow-controller-manager.yaml
  clusters/app.ci/prow/staging/sinker.yaml
  clusters/app.ci/prow/staging/statusreconciler.yaml
  clusters/app.ci/prow/staging/tide.yaml
  core-services/image-mirroring/_config.yaml
  core-services/prow/02_config/_config.yaml
  hack/images.sh
Due: ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/config, ci/prow/generated-config, ci/build-farm/hosted-mgmt-dry, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-semantics, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

another test
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.19.yaml
  ci-operator/step-registry/hypershift/aws/run-e2e/external/hypershift-aws-run-e2e-external-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Azure/ARO-HCP: create HTML visualization from tests
  ci-operator/step-registry/aro-hcp/test/persistent/aro-hcp-test-persistent-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

CNTRLPLANE-946:Add Prow jobs for aks hypershift external oidc e2e tests (#68741)
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.20__periodics.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.21__periodics.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.20-periodics.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.21-periodics.yaml
  ci-operator/step-registry/hypershift/azure/aks/external-oidc/OWNERS
  ci-operator/step-registry/hypershift/azure/aks/external-oidc/hypershift-azure-aks-external-oidc-workflow.metadata.json
  ci-operator/step-registry/hypershift/azure/aks/external-oidc/hypershift-azure-aks-external-oidc-workflow.yaml
  ci-operator/step-registry/hypershift/azure/run-e2e/hypershift-azure-run-e2e-commands.sh
  ci-operator/step-registry/hypershift/azure/run-e2e/hypershift-azure-run-e2e-ref.yaml
  ci-operator/step-registry/idp/external-oidc/keycloak/aks/OWNERS
  ci-operator/step-registry/idp/external-oidc/keycloak/aks/cleanup/OWNERS
  ci-operator/step-registry/idp/external-oidc/keycloak/aks/cleanup/idp-external-oidc-keycloak-aks-cleanup-commands.sh
  ci-operator/step-registry/idp/external-oidc/keycloak/aks/cleanup/idp-external-oidc-keycloak-aks-cleanup-ref.metadata.json
  ci-operator/step-registry/idp/external-oidc/keycloak/aks/cleanup/idp-external-oidc-keycloak-aks-cleanup-ref.yaml
  ci-operator/step-registry/idp/external-oidc/keycloak/aks/server/OWNERS
  ci-operator/step-registry/idp/external-oidc/keycloak/aks/server/idp-external-oidc-keycloak-aks-server-commands.sh
  ci-operator/step-registry/idp/external-oidc/keycloak/aks/server/idp-external-oidc-keycloak-aks-server-ref.metadata.json
  ci-operator/step-registry/idp/external-oidc/keycloak/aks/server/idp-external-oidc-keycloak-aks-server-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

[Debug] Add wait step to azure-ipi-confidential-trustedlaunch-f28-destructive for OCP 4.20
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__amd64-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

config-brancher --config-dir ./ci-operator/config --current-release 4.22 --skip-periodics --future-release 4.23 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.23.yaml
  ci-operator/config/openshift/local-storage-operator/openshift-local-storage-operator-release-4.23.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-operator-prowgen --from-dir ./ci-operator/config --to-dir ./ci-operator/jobs
  ci-operator/jobs/openshift-priv/cluster-authentication-operator/openshift-priv-cluster-authentication-operator-release-4.22-postsubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-authentication-operator/openshift-priv-cluster-authentication-operator-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift-priv/image-registry/openshift-priv-image-registry-release-4.22-postsubmits.yaml
  ci-operator/jobs/openshift-priv/image-registry/openshift-priv-image-registry-release-4.22-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

sanitize-prow-jobs --prow-jobs-dir ./ci-operator/jobs --config-path ./core-services/sanitize-prow-jobs/_config.yaml
  ci-operator/jobs/openshift-priv/cluster-authentication-operator/openshift-priv-cluster-authentication-operator-release-4.22-postsubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-authentication-operator/openshift-priv-cluster-authentication-operator-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift-priv/image-registry/openshift-priv-image-registry-release-4.22-postsubmits.yaml
  ci-operator/jobs/openshift-priv/image-registry/openshift-priv-image-registry-release-4.22-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.15.60-x86-64-for-4.15.0-0-to-4.16.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.19.21-x86-64-for-4.19.0-0-to-4.20.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

final image
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-418-quay.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-419-quay.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__quay-operator-test.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__quay-performance.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__quay-upgrade.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

update and add logging 6.2 jobs
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-stable-openshift-logging-6.2.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__multi-stable-openshift-logging-6.2.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__multi-stable-openshift-logging-6.3.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Use 4.22 images in 4.22
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22__images.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

security: apply security improvements
  ci-operator/step-registry/aro-hcp/automation/image-update/aro-hcp-automation-image-update-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

refactor: extract all env vars to job spec
  ci-operator/step-registry/aro-hcp/automation/image-update/aro-hcp-automation-image-update-commands.sh
  ci-operator/step-registry/aro-hcp/automation/image-update/aro-hcp-automation-image-update-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

fix: use mkdow for notification url
  ci-operator/step-registry/aro-hcp/automation/image-update/aro-hcp-automation-image-update-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

fix: SC2155 shellcheck
  ci-operator/step-registry/aro-hcp/automation/image-update/aro-hcp-automation-image-update-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

use only 'make test' for ovnk unit test job
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-master.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.17.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.18.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.19.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.20.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.21.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.22.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.23.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add new prow-failure-analysis step to step-registry (#72748)
  ci-operator/step-registry/prow-failure-analysis/OWNERS
  ci-operator/step-registry/prow-failure-analysis/prow-failure-analysis-commands.sh
  ci-operator/step-registry/prow-failure-analysis/prow-failure-analysis-ref.metadata.json
  ci-operator/step-registry/prow-failure-analysis/prow-failure-analysis-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Introduce slash command /effective-env to find out the effective environments values from a job config (#72567)
  .claude/commands/README.md
  .claude/commands/effective-env.md
  .claude/scripts/effective_env.py
Due: none

Adds 4.19 jobs for global pull secret feature
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Adds 4.18 jobs for global pull secret feature
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Use own built cpo image for testing
  ci-operator/step-registry/hypershift/aws/create/hypershift-aws-create-chain.yaml
  ci-operator/step-registry/hypershift/azure/create/hypershift-azure-create-chain.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Azure: test all regions
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__installation-nightly-4.20.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__installation-nightly-4.21.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__installer-rehearse-4.20.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__installer-rehearse-4.21.yaml
  ci-operator/jobs/openshift/verification-tests/openshift-verification-tests-main-periodics.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cases/all-regions/OWNERS
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cases/all-regions/cucushift-installer-rehearse-azure-cases-all-regions-workflow.metadata.json
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cases/all-regions/cucushift-installer-rehearse-azure-cases-all-regions-workflow.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cases/all-regions/provision/OWNERS
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cases/all-regions/provision/cucushift-installer-rehearse-azure-cases-all-regions-provision-chain.metadata.json
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cases/all-regions/provision/cucushift-installer-rehearse-azure-cases-all-regions-provision-chain.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cases/all-regions/provision/cucushift-installer-rehearse-azure-cases-all-regions-provision-commands.sh
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cases/all-regions/provision/cucushift-installer-rehearse-azure-cases-all-regions-provision-ref.metadata.json
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cases/all-regions/provision/cucushift-installer-rehearse-azure-cases-all-regions-provision-ref.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cases/multi-clusters/same-clustername-diff-basedomain/provision/cucushift-installer-rehearse-azure-cases-multi-clusters-same-clustername-diff-basedomain-provision-ref.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cases/multi-clusters/same-subnets/provision/cucushift-installer-rehearse-azure-cases-multi-clusters-same-subnets-provision-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

OCPQE-31305: update TEST_FILTERS for baremetal-upi-ovn-ipv4-disconnected-ipsec-fips (#72634)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.15__arm64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.17__arm64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__arm64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.21__amd64-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Automate publicize configuration sync Thu, 18 Dec 2025 03:01:24 UTC
  clusters/app.ci/publicize/_config.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Use 4.22 images in 4.22 (#72754)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22__images.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

OLM: Ensure SCOS mappings use the same ocp version
  ci-operator/config/openshift/cluster-olm-operator/openshift-cluster-olm-operator-main__okd-scos.yaml
  ci-operator/config/openshift/operator-framework-olm/openshift-operator-framework-olm-main__okd-scos.yaml
  ci-operator/config/openshift/operator-framework-operator-controller/openshift-operator-framework-operator-controller-main__okd-scos.yaml
  ci-operator/config/operator-framework/operator-marketplace/operator-framework-operator-marketplace-master__okd-scos.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add presubmit check for openshift-tests-private master branch
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-master__images.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-master-postsubmits.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Automate publicize configuration sync Thu, 18 Dec 2025 03:01:24 UTC (#72757)
  clusters/app.ci/publicize/_config.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups
