Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

Load HuggingFace token and fix OCP version detection for ROSA HCP (#75745)
  ci-operator/step-registry/aws-neuron-operator/rosa-cluster-provision/aws-neuron-operator-rosa-cluster-provision-commands.sh
  ci-operator/step-registry/aws-neuron-operator/test/aws-neuron-operator-test-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add CI configuration for openshift/cri-o (#75748)
  ci-operator/config/openshift/cri-o/OWNERS
  ci-operator/config/openshift/cri-o/openshift-cri-o-main.yaml
  ci-operator/config/openshift/cri-o/openshift-cri-o-release-4.22.yaml
  ci-operator/jobs/openshift/cri-o/OWNERS
  ci-operator/jobs/openshift/cri-o/openshift-cri-o-main-presubmits.yaml
  ci-operator/jobs/openshift/cri-o/openshift-cri-o-release-4.22-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Update secret-manager CLI venv and logging (#75381)
  .gitignore
  hack/gcp-secret-manager/commands/login.py
  hack/gcp-secret-manager/main.py
  hack/gcp-secret-manager/requirements.in
  hack/gcp-secret-manager/requirements.txt
  hack/secret-manager.sh
Due: ci/prow/pylint

cnf ran: added 4.20 two-sno lane (#75660)
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-two-sno-4.20.yaml
  ci-operator/jobs/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main-periodics.yaml
  ci-operator/step-registry/telcov10n/functional/cnf-ran/hub-deploy/telcov10n-functional-cnf-ran-hub-deploy-commands.sh
  ci-operator/step-registry/telcov10n/functional/cnf-ran/hub-deploy/telcov10n-functional-cnf-ran-hub-deploy-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

add rm to prevent duplicatoin of copying files
  ci-operator/step-registry/telcov10n/functional/dast/tests/telcov10n-functional-dast-tests-commands.sh
  ci-operator/step-registry/telcov10n/functional/dast/tests/telcov10n-functional-dast-tests-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Adding OVMS Stable Workflow (#75412)
  ci-operator/config/opendatahub-io/openvino_model_server/opendatahub-io-openvino_model_server-stable.yaml
  ci-operator/jobs/opendatahub-io/openvino_model_server/opendatahub-io-openvino_model_server-stable-postsubmits.yaml
  ci-operator/jobs/opendatahub-io/openvino_model_server/opendatahub-io-openvino_model_server-stable-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

ci(quay): update OO_PACKAGE to project-quay (#75749)
  ci-operator/config/quay/quay-operator/quay-quay-operator-master__ocp-latest.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Handle arm64 architecture in gather-must-gather step
  ci-operator/step-registry/gather/must-gather/gather-must-gather-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

add pipefail so the error send back to ssh call (#75684)
  ci-operator/step-registry/openshift-qe/rhoso/browbeat-install/openshift-qe-rhoso-browbeat-install-commands.sh
  ci-operator/step-registry/openshift-qe/rhoso/browbeat-results-backup/openshift-qe-rhoso-browbeat-results-backup-commands.sh
  ci-operator/step-registry/openshift-qe/rhoso/browbeat-run/openshift-qe-rhoso-browbeat-run-commands.sh
  ci-operator/step-registry/openshift-qe/rhoso/installer/pre-provisioned/openshift-qe-rhoso-installer-pre-provisioned-commands.sh
  ci-operator/step-registry/openshift-qe/rhoso/uninstaller/openshift-qe-rhoso-uninstaller-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

hypershift: make e2e-azure-self-managed required for pipeline stage-2
  ci-operator/config/openshift/hypershift/openshift-hypershift-main.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.22.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.23.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-5.0.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-main-presubmits.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-5.0-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

MPIIT: Onboard 4.22 Fusionaccess jobs, diasble 4.21 job (#75692)
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__ibm-fusion-access-operator-ocp-4.21-lp-interop-cr.yaml
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__ibm-fusion-access-operator-ocp-4.22-lp-interop.yaml
  ci-operator/jobs/RedHatQE/interop-testing/RedHatQE-interop-testing-master-periodics.yaml
  ci-operator/jobs/RedHatQE/interop-testing/RedHatQE-interop-testing-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Onboard openshift/coderabbit for lgtm/approve and tide merging
  core-services/prow/02_config/openshift/coderabbit/_pluginconfig.yaml
  core-services/prow/02_config/openshift/coderabbit/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

GCP-401: Add image-registry SA support for GCP-391
  ci-operator/step-registry/hypershift/gcp/hosted-cluster-setup/hypershift-gcp-hosted-cluster-setup-commands.sh
  ci-operator/step-registry/hypershift/gcp/run-e2e/hypershift-gcp-run-e2e-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add promotion config for openshift/cri-o
  ci-operator/config/openshift/cri-o/openshift-cri-o-main.yaml
  ci-operator/config/openshift/cri-o/openshift-cri-o-release-4.22.yaml
  ci-operator/jobs/openshift/cri-o/openshift-cri-o-main-postsubmits.yaml
  ci-operator/jobs/openshift/cri-o/openshift-cri-o-main-presubmits.yaml
  ci-operator/jobs/openshift/cri-o/openshift-cri-o-release-4.22-postsubmits.yaml
  ci-operator/jobs/openshift/cri-o/openshift-cri-o-release-4.22-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

mco: run AMI updater once a month
  ci-operator/config/openshift/machine-config-operator/openshift-machine-config-operator-release-4.22__periodics.yaml
  ci-operator/jobs/openshift/machine-config-operator/openshift-machine-config-operator-release-4.22-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

mco: run AMI updater once a month (#75766)
  ci-operator/config/openshift/machine-config-operator/openshift-machine-config-operator-release-4.22__periodics.yaml
  ci-operator/jobs/openshift/machine-config-operator/openshift-machine-config-operator-release-4.22-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

removed rm and trying alternative solution
  ci-operator/step-registry/telcov10n/functional/dast/tests/telcov10n-functional-dast-tests-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add auto-merge for aro-hcp-image-bumper[bot] PRs on Azure/ARO-HCP (#75755)
  core-services/prow/02_config/Azure/ARO-HCP/_pluginconfig.yaml
  core-services/prow/02_config/Azure/ARO-HCP/_prowconfig.yaml
  core-services/prow/02_config/_config.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

hypershift: make e2e-azure-self-managed required for pipeline stage-2 (#75746)
  ci-operator/config/openshift/hypershift/openshift-hypershift-main.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.22.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.23.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-5.0.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-main-presubmits.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-5.0-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Make prow-config
  core-services/prow/02_config/_config.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

azure: Adding azure ipv6 presubmit jobs
  ci-operator/config/openshift/installer/openshift-installer-main.yaml
  ci-operator/jobs/openshift/installer/openshift-installer-main-presubmits.yaml
  ci-operator/step-registry/ipi/conf/azure/ipi-conf-azure-commands.sh
  ci-operator/step-registry/ipi/conf/azure/ipi-conf-azure-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Onboard openshift/coderabbit for lgtm/approve and tide merging (#75753)
  core-services/prow/02_config/openshift/coderabbit/_pluginconfig.yaml
  core-services/prow/02_config/openshift/coderabbit/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

rosa-regional-platform: set repo and branch in on-demand-e2e teardown and update step names
  ci-operator/config/openshift-online/rosa-regional-platform/openshift-online-rosa-regional-platform-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

rosa-regional-platform: set repo and branch in on-demand-e2e teardown and update step names (#75767)
  ci-operator/config/openshift-online/rosa-regional-platform/openshift-online-rosa-regional-platform-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

rosa-regional-platform: fix pre-merge.py path to ci/pre-merge.py
  ci-operator/config/openshift-online/rosa-regional-platform/openshift-online-rosa-regional-platform-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/hypershift/openshift-priv-hypershift-main.yaml
  ci-operator/config/openshift-priv/hypershift/openshift-priv-hypershift-release-4.22.yaml
  ci-operator/config/openshift-priv/hypershift/openshift-priv-hypershift-release-4.23.yaml
  ci-operator/config/openshift-priv/hypershift/openshift-priv-hypershift-release-5.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-operator-prowgen --from-dir ./ci-operator/config --to-dir ./ci-operator/jobs
  ci-operator/jobs/openshift-priv/hypershift/openshift-priv-hypershift-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/hypershift/openshift-priv-hypershift-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift-priv/hypershift/openshift-priv-hypershift-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift-priv/hypershift/openshift-priv-hypershift-release-5.0-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.15.61-multi-for-4.15.0-0-to-4.16.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.16.57-multi-for-4.16.0-0-to-4.17.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.18.34-multi-for-4.18.0-0-to-4.19.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

kserve: move must-gather steps from test to post phase
  ci-operator/config/opendatahub-io/kserve/opendatahub-io-kserve-master.yaml
  ci-operator/config/opendatahub-io/kserve/opendatahub-io-kserve-release-v0.14.yaml
  ci-operator/config/opendatahub-io/kserve/opendatahub-io-kserve-release-v0.15.yaml
  ci-operator/config/opendatahub-io/kserve/opendatahub-io-kserve-stable-2.x.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

[tls-scanner] Bump ci step to `COMPUTE_NODE_TYPE: m5.2xlarge` (#75751)
  ci-operator/config/openshift/tls-scanner/openshift-tls-scanner-main.yaml
  ci-operator/config/openshift/tls-scanner/openshift-tls-scanner-release-4.22.yaml
  ci-operator/config/openshift/tls-scanner/openshift-tls-scanner-release-4.23.yaml
  ci-operator/config/openshift/tls-scanner/openshift-tls-scanner-release-5.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

rosa-regional-platform: fix pre-merge.py path to ci/pre-merge.py (#75768)
  ci-operator/config/openshift-online/rosa-regional-platform/openshift-online-rosa-regional-platform-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

kserve: move must-gather steps from test to post phase (#75771)
  ci-operator/config/opendatahub-io/kserve/opendatahub-io-kserve-master.yaml
  ci-operator/config/opendatahub-io/kserve/opendatahub-io-kserve-release-v0.14.yaml
  ci-operator/config/opendatahub-io/kserve/opendatahub-io-kserve-release-v0.15.yaml
  ci-operator/config/opendatahub-io/kserve/opendatahub-io-kserve-stable-2.x.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Block build06 and build07 and take it out of rotation (#75760)
  core-services/sanitize-prow-jobs/_clusters.yaml
Due: none

rosa-regional-platform: reorder test before post in on-demand-e2e
  ci-operator/config/openshift-online/rosa-regional-platform/openshift-online-rosa-regional-platform-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

OCPBUGS-77559: Remove agent-based installer informing jobs
  core-services/release-controller/_releases/priv/release-ocp-4.20.json
  core-services/release-controller/_releases/priv/release-ocp-4.21.json
  core-services/release-controller/_releases/priv/release-ocp-4.22.json
  core-services/release-controller/_releases/release-ocp-4.20.json
  core-services/release-controller/_releases/release-ocp-4.21.json
  core-services/release-controller/_releases/release-ocp-4.22.json
Due: ci/prow/ci-testgrid-allow-list, ci/prow/release-config

Revert reorder
  ci-operator/config/openshift-online/rosa-regional-platform/openshift-online-rosa-regional-platform-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

OCPBUGS-77559: Remove agent-based installer informing jobs (#75775)
  core-services/release-controller/_releases/priv/release-ocp-4.20.json
  core-services/release-controller/_releases/priv/release-ocp-4.21.json
  core-services/release-controller/_releases/priv/release-ocp-4.22.json
  core-services/release-controller/_releases/release-ocp-4.20.json
  core-services/release-controller/_releases/release-ocp-4.21.json
  core-services/release-controller/_releases/release-ocp-4.22.json
Due: ci/prow/ci-testgrid-allow-list, ci/prow/release-config

Fix rrp teardown
  ci-operator/config/openshift-online/rosa-regional-platform/openshift-online-rosa-regional-platform-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Use main as upstream branch for prow-job-dispatcher and periodics
  ci-operator/jobs/infra-periodics.yaml
  clusters/app.ci/prow/03_deployment/prowjob-dispatcher.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/config, ci/prow/generated-config, ci/build-farm/hosted-mgmt-dry, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Use main as upstream branch for prow-job-dispatcher and periodics (#75777)
  ci-operator/jobs/infra-periodics.yaml
  clusters/app.ci/prow/03_deployment/prowjob-dispatcher.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/config, ci/prow/generated-config, ci/build-farm/hosted-mgmt-dry, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups
