Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

Istio 1.28: skip tests which require BackendTLSPolicy CRD (#75187)
  ci-operator/config/openshift-service-mesh/istio/openshift-service-mesh-istio-release-1.28.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

CNTRLPLANE-2651: Add serial and parallel OTE CI jobs for cluster-image-registry-operator
  ci-operator/config/openshift/cluster-image-registry-operator/openshift-cluster-image-registry-operator-main.yaml
  ci-operator/jobs/openshift/cluster-image-registry-operator/openshift-cluster-image-registry-operator-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

feat: add maas-controller image builds
  ci-operator/config/opendatahub-io/models-as-a-service/opendatahub-io-models-as-a-service-main.yaml
  ci-operator/jobs/opendatahub-io/models-as-a-service/opendatahub-io-models-as-a-service-main-postsubmits.yaml
  ci-operator/jobs/opendatahub-io/models-as-a-service/opendatahub-io-models-as-a-service-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

[PERFSCALE-4445] Updated the cron to run the job at 17h
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__metal-4.20-nightly-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Sync OWNERS files by autoowners job at Tue, 24 Feb 2026 07:42:11 UTC
  ci-operator/config/openshift/boilerplate/OWNERS
  ci-operator/config/openshift/ops-sop/OWNERS
  ci-operator/config/openshift/os/OWNERS
  ci-operator/config/openstack-k8s-operators/designate-operator/OWNERS
  ci-operator/config/openstack-k8s-operators/octavia-operator/OWNERS
  ci-operator/jobs/openshift/boilerplate/OWNERS
  ci-operator/jobs/openshift/ops-sop/OWNERS
  ci-operator/jobs/openshift/os/OWNERS
  ci-operator/jobs/openstack-k8s-operators/designate-operator/OWNERS
  ci-operator/jobs/openstack-k8s-operators/octavia-operator/OWNERS
  ci-operator/jobs/rh-ecosystem-edge/dpf-hcp-provisioner-operator/OWNERS
  core-services/prow/02_config/openshift/boilerplate/OWNERS
  core-services/prow/02_config/openshift/ops-sop/OWNERS
  core-services/prow/02_config/openshift/os/OWNERS
  core-services/prow/02_config/openstack-k8s-operators/designate-operator/OWNERS
  core-services/prow/02_config/openstack-k8s-operators/octavia-operator/OWNERS
  core-services/prow/02_config/red-hat-data-services/llm-d-inference-scheduler/OWNERS
  core-services/prow/02_config/red-hat-data-services/odh-model-controller/OWNERS
  core-services/prow/02_config/rh-ecosystem-edge/dpf-hcp-provisioner-operator/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Sync OWNERS files by autoowners job at Tue, 24 Feb 2026 07:42:11 UTC (#75195)
  ci-operator/config/openshift/boilerplate/OWNERS
  ci-operator/config/openshift/ops-sop/OWNERS
  ci-operator/config/openshift/os/OWNERS
  ci-operator/config/openstack-k8s-operators/designate-operator/OWNERS
  ci-operator/config/openstack-k8s-operators/octavia-operator/OWNERS
  ci-operator/jobs/openshift/boilerplate/OWNERS
  ci-operator/jobs/openshift/ops-sop/OWNERS
  ci-operator/jobs/openshift/os/OWNERS
  ci-operator/jobs/openstack-k8s-operators/designate-operator/OWNERS
  ci-operator/jobs/openstack-k8s-operators/octavia-operator/OWNERS
  ci-operator/jobs/rh-ecosystem-edge/dpf-hcp-provisioner-operator/OWNERS
  core-services/prow/02_config/openshift/boilerplate/OWNERS
  core-services/prow/02_config/openshift/ops-sop/OWNERS
  core-services/prow/02_config/openshift/os/OWNERS
  core-services/prow/02_config/openstack-k8s-operators/designate-operator/OWNERS
  core-services/prow/02_config/openstack-k8s-operators/octavia-operator/OWNERS
  core-services/prow/02_config/red-hat-data-services/llm-d-inference-scheduler/OWNERS
  core-services/prow/02_config/red-hat-data-services/odh-model-controller/OWNERS
  core-services/prow/02_config/rh-ecosystem-edge/dpf-hcp-provisioner-operator/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

baremetal jobs
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.21__amd64-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

added power cluster
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.21__ppc64le-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

416 debug cluster
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16__amd64-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

416 baremetal cluster
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16__amd64-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

SREP-2510: remove hypershift-dataplane-metrics-forwarder prow config
  ci-operator/config/openshift/hypershift-dataplane-metrics-forwarder/OWNERS
  ci-operator/config/openshift/hypershift-dataplane-metrics-forwarder/openshift-hypershift-dataplane-metrics-forwarder-main.yaml
  ci-operator/jobs/openshift/hypershift-dataplane-metrics-forwarder/OWNERS
  ci-operator/jobs/openshift/hypershift-dataplane-metrics-forwarder/openshift-hypershift-dataplane-metrics-forwarder-main-presubmits.yaml
  core-services/prow/02_config/openshift/hypershift-dataplane-metrics-forwarder/OWNERS
  core-services/prow/02_config/openshift/hypershift-dataplane-metrics-forwarder/_pluginconfig.yaml
  core-services/prow/02_config/openshift/hypershift-dataplane-metrics-forwarder/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Use JOB_TYPE as conditional
  ci-operator/step-registry/openshift-qe/cluster-density-v2/openshift-qe-cluster-density-v2-commands.sh
  ci-operator/step-registry/openshift-qe/node-density-cni/openshift-qe-node-density-cni-commands.sh
  ci-operator/step-registry/openshift-qe/node-density/openshift-qe-node-density-commands.sh
  ci-operator/step-registry/openshift-qe/udn-density-pods/openshift-qe-udn-density-pods-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Remove FEATURE_SET from non-techpreview two-node-fencing workflows
  ci-operator/step-registry/baremetalds/two-node/fencing/baremetalds-two-node-fencing-workflow.yaml
  ci-operator/step-registry/baremetalds/two-node/fencing/degraded/baremetalds-two-node-fencing-degraded-workflow.yaml
  ci-operator/step-registry/baremetalds/two-node/fencing/extended/baremetalds-two-node-fencing-extended-workflow.yaml
  ci-operator/step-registry/baremetalds/two-node/fencing/post-install/validation/baremetalds-two-node-fencing-post-install-validation-workflow.yaml
  ci-operator/step-registry/baremetalds/two-node/fencing/recovery/baremetalds-two-node-fencing-recovery-workflow.yaml
  ci-operator/step-registry/baremetalds/two-node/fencing/upgrade/baremetalds-two-node-fencing-upgrade-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Configure submariner-addon branch for 2.17
  ci-operator/config/stolostron/submariner-addon/stolostron-submariner-addon-release-2.16.yaml
  ci-operator/config/stolostron/submariner-addon/stolostron-submariner-addon-release-2.17.yaml
  ci-operator/jobs/stolostron/submariner-addon/stolostron-submariner-addon-release-2.17-postsubmits.yaml
  ci-operator/jobs/stolostron/submariner-addon/stolostron-submariner-addon-release-2.17-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add cli-operator-sdk as base image dependency for step optional-operators-operator-sdk
  ci-operator/config/openshift/cert-manager-operator/openshift-cert-manager-operator-cert-manager-1.17.yaml
  ci-operator/config/openshift/cert-manager-operator/openshift-cert-manager-operator-cert-manager-1.18.yaml
  ci-operator/config/openshift/cert-manager-operator/openshift-cert-manager-operator-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Restore 4.21 and add 4.22 ROSA Classic and HCP jobs
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__rosa-4.21-candidate-x86-loaded-upgrade-from-4.20.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__rosa-4.21-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__rosa-4.22-candidate-x86-loaded-upgrade-from-4.21.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__rosa-4.22-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__rosa_hcp-4.21-candidate-x86-loaded-upgrade-from-4.20.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__rosa_hcp-4.21-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__rosa_hcp-4.22-candidate-x86-loaded-upgrade-from-4.21.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__rosa_hcp-4.22-nightly-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-periodics.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

remove upgrade-from-4.20 jobs
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__rosa-4.21-candidate-x86-loaded-upgrade-from-4.20.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__rosa_hcp-4.21-candidate-x86-loaded-upgrade-from-4.20.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

ROX32601 Enabling Prow checks for rhacs-docs-4.10
  ci-operator/config/openshift/openshift-docs/openshift-openshift-docs-rhacs-docs-4.10.yaml
  ci-operator/jobs/openshift/openshift-docs/openshift-openshift-docs-rhacs-docs-4.10-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

[DO NOT MERGE] just trigger quay 3.13.11 testing
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__quay-api.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__quay-operator-test.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__quay-upgrade.yaml
  ci-operator/jobs/quay/quay-tests/quay-quay-tests-master-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Remove dedicated verify-deps test step
  ci-operator/config/openshift/cert-manager-operator/openshift-cert-manager-operator-master.yaml
  ci-operator/jobs/openshift/cert-manager-operator/openshift-cert-manager-operator-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Promote aro-hcp-e2e-tools on merge to main with latest and commit hash tags
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main.yaml
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-postsubmits.yaml
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Set baseimage-generator images presubmit job to tolerated run only when Dockerfile changes
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Add verify-deps for cluster-api-provider-libvirt 4.12-4.18
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.12.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.13.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.14.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.15.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.16.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.17.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.18.yaml
  ci-operator/jobs/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.12-presubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.13-presubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.14-presubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.18-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Fix verify deps in cluster-api-provider-libvirt 4.19+
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-main.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.19.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.20.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.21.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.22.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.23.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-5.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Restore 4.21 and add 4.22 ROSA Classic and HCP jobs (#75031)
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__rosa-4.21-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__rosa-4.22-candidate-x86-loaded-upgrade-from-4.21.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__rosa-4.22-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__rosa_hcp-4.21-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__rosa_hcp-4.22-candidate-x86-loaded-upgrade-from-4.21.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__rosa_hcp-4.22-nightly-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-periodics.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

fix: use build_root
  ci-operator/config/konflux-ci/konflux-ci/konflux-ci-konflux-ci-main.yaml
  ci-operator/config/konflux-ci/konflux-ci/konflux-ci-konflux-ci-main__ocp420-arm64.yaml
  ci-operator/config/konflux-ci/konflux-ci/konflux-ci-konflux-ci-main__ocp420.yaml
  ci-operator/step-registry/konflux-ci/install-operator/konflux-ci-install-operator-commands.sh
  ci-operator/step-registry/konflux-ci/install-operator/konflux-ci-install-operator-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

add only UDN with VMs test back in to debug
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.21__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.21-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Stackrox: Add OCP 4.21 target and removes 4.14,4.15 targets for ppc64le-stackrox jobs (#75081)
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master.yaml
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-master-periodics.yaml
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-master-presubmits.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Making the amd gpu opretaor ci run the tests from amd-ci repo
  ci-operator/config/rh-ecosystem-edge/amd-ci/rh-ecosystem-edge-amd-ci-main__4.16-stable.yaml
  ci-operator/config/rh-ecosystem-edge/amd-ci/rh-ecosystem-edge-amd-ci-main__4.17-stable.yaml
  ci-operator/config/rh-ecosystem-edge/amd-ci/rh-ecosystem-edge-amd-ci-main__4.18-stable.yaml
  ci-operator/config/rh-ecosystem-edge/amd-ci/rh-ecosystem-edge-amd-ci-main__4.19-stable.yaml
  ci-operator/config/rh-ecosystem-edge/amd-ci/rh-ecosystem-edge-amd-ci-main__4.20-stable.yaml
  ci-operator/config/rh-ecosystem-edge/amd-ci/rh-ecosystem-edge-amd-ci-main__4.21-stable.yaml
  ci-operator/config/rh-ecosystem-edge/amd-ci/rh-ecosystem-edge-amd-ci-main__4.22-stable.yaml
  ci-operator/step-registry/amd-gpu-operator/e2e/amd-gpu-operator-e2e-workflow.yaml
  ci-operator/step-registry/amd-gpu-operator/install-operators/OWNERS
  ci-operator/step-registry/amd-gpu-operator/install-operators/amd-gpu-operator-install-operators-commands.sh
  ci-operator/step-registry/amd-gpu-operator/install-operators/amd-gpu-operator-install-operators-ref.metadata.json
  ci-operator/step-registry/amd-gpu-operator/install-operators/amd-gpu-operator-install-operators-ref.yaml
  ci-operator/step-registry/amd-gpu-operator/provision/amd-gpu-operator-provision-commands.sh
  ci-operator/step-registry/amd-gpu-operator/test/amd-gpu-operator-test-commands.sh
  ci-operator/step-registry/amd-gpu-operator/test/amd-gpu-operator-test-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

hypershift: add optional e2e-azure-kubevirt-ovn presubmit (#75142)
  ci-operator/config/openshift/hypershift/openshift-hypershift-main.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Use $SHARED_DIR/config.yaml in gather prov failure step
  ci-operator/step-registry/aro-hcp/gather/provision-failure/aro-hcp-gather-provision-failure-commands.sh
  ci-operator/step-registry/aro-hcp/provision/environment/aro-hcp-provision-environment-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

MPIIT: Complete test mapping for Fusionaccess (#74980)
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__ibm-fusion-access-operator-ocp4.21-lp-interop-cr.yaml
  ci-operator/step-registry/interop-tests/ibm-fusion-access/check-crds/interop-tests-ibm-fusion-access-check-crds-commands.sh
  ci-operator/step-registry/interop-tests/ibm-fusion-access/check-crds/interop-tests-ibm-fusion-access-check-crds-ref.yaml
  ci-operator/step-registry/interop-tests/ibm-fusion-access/check-nodes/interop-tests-ibm-fusion-access-check-nodes-commands.sh
  ci-operator/step-registry/interop-tests/ibm-fusion-access/check-nodes/interop-tests-ibm-fusion-access-check-nodes-ref.yaml
  ci-operator/step-registry/interop-tests/ibm-fusion-access/configure-kmm-registry/interop-tests-ibm-fusion-access-configure-kmm-registry-commands.sh
  ci-operator/step-registry/interop-tests/ibm-fusion-access/configure-kmm-registry/interop-tests-ibm-fusion-access-configure-kmm-registry-ref.yaml
  ci-operator/step-registry/interop-tests/ibm-fusion-access/create-cluster/interop-tests-ibm-fusion-access-create-cluster-commands.sh
  ci-operator/step-registry/interop-tests/ibm-fusion-access/create-cluster/interop-tests-ibm-fusion-access-create-cluster-ref.yaml
  ci-operator/step-registry/interop-tests/ibm-fusion-access/prepare-worker-nodes/interop-tests-ibm-fusion-access-prepare-worker-nodes-commands.sh
  ci-operator/step-registry/interop-tests/ibm-fusion-access/prepare-worker-nodes/interop-tests-ibm-fusion-access-prepare-worker-nodes-ref.yaml
  ci-operator/step-registry/interop-tests/ibm-fusion-access/verify-cluster/interop-tests-ibm-fusion-access-verify-cluster-commands.sh
  ci-operator/step-registry/interop-tests/ibm-fusion-access/verify-cluster/interop-tests-ibm-fusion-access-verify-cluster-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Configure submariner-addon branch for 2.17 (#75191)
  ci-operator/config/stolostron/submariner-addon/stolostron-submariner-addon-release-2.16.yaml
  ci-operator/config/stolostron/submariner-addon/stolostron-submariner-addon-release-2.17.yaml
  ci-operator/jobs/stolostron/submariner-addon/stolostron-submariner-addon-release-2.17-postsubmits.yaml
  ci-operator/jobs/stolostron/submariner-addon/stolostron-submariner-addon-release-2.17-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

updated odf 4.18.17
  core-services/jira-lifecycle-plugin/config.yaml
Due: ci/prow/jira-lifecycle-config

Pre-branching to 5.0 (#75151)
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__metal-5.0-nightly-x86.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-network-phase1-5.0.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-network-phase2-5.0.yaml
  ci-operator/config/openshift/appliance/openshift-appliance-release-5.0.yaml
  ci-operator/config/openshift/cluster-api-actuator-pkg/openshift-cluster-api-actuator-pkg-release-5.0.yaml
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-5.0.yaml
  ci-operator/config/openshift/cluster-kube-scheduler-operator/openshift-cluster-kube-scheduler-operator-release-4.22.yaml
  ci-operator/config/openshift/cluster-kube-scheduler-operator/openshift-cluster-kube-scheduler-operator-release-5.0.yaml
  ci-operator/config/openshift/cluster-network-operator/openshift-cluster-network-operator-release-5.0.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.22.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-5.0.yaml
  ci-operator/config/openshift/jenkins-client-plugin/openshift-jenkins-client-plugin-release-5.0.yaml
  ci-operator/config/openshift/jenkins-sync-plugin/openshift-jenkins-sync-plugin-release-5.0.yaml
  ci-operator/config/openshift/kubernetes-nmstate/openshift-kubernetes-nmstate-release-5.0.yaml
  ci-operator/config/openshift/kubernetes/openshift-kubernetes-release-5.0.yaml
  ci-operator/config/openshift/microshift/openshift-microshift-release-5.0.yaml
  ci-operator/config/openshift/operator-framework-operator-controller/openshift-operator-framework-operator-controller-release-5.0.yaml
  ci-operator/config/openshift/os/openshift-os-release-4.22.yaml
  ci-operator/config/openshift/os/openshift-os-release-5.0.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-5.0.yaml
  ci-operator/config/openshift/windows-machine-config-operator/openshift-windows-machine-config-operator-release-5.0.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-periodics.yaml
  ci-operator/jobs/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main-periodics.yaml
  ci-operator/jobs/openshift/appliance/openshift-appliance-release-5.0-periodics.yaml
  ci-operator/jobs/openshift/cluster-api-actuator-pkg/openshift-cluster-api-actuator-pkg-release-5.0-periodics.yaml
  ci-operator/jobs/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-5.0-periodics.yaml
  ci-operator/jobs/openshift/cluster-kube-scheduler-operator/openshift-cluster-kube-scheduler-operator-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/cluster-kube-scheduler-operator/openshift-cluster-kube-scheduler-operator-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift/cluster-network-operator/openshift-cluster-network-operator-release-5.0-periodics.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-5.0-periodics.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift/jenkins-client-plugin/openshift-jenkins-client-plugin-release-5.0-periodics.yaml
  ci-operator/jobs/openshift/jenkins-sync-plugin/openshift-jenkins-sync-plugin-release-5.0-periodics.yaml
  ci-operator/jobs/openshift/kubernetes-nmstate/openshift-kubernetes-nmstate-release-5.0-periodics.yaml
  ci-operator/jobs/openshift/kubernetes/openshift-kubernetes-release-5.0-periodics.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-5.0-periodics.yaml
  ci-operator/jobs/openshift/operator-framework-operator-controller/openshift-operator-framework-operator-controller-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift/windows-machine-config-operator/openshift-windows-machine-config-operator-release-5.0-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

[5.0] Remove medik8s configs (layered product, not OCP component)
  ci-operator/config/medik8s/fence-agents-remediation/medik8s-fence-agents-remediation-main__5.0.yaml
  ci-operator/config/medik8s/fence-agents-remediation/medik8s-fence-agents-remediation-release-0.6__5.0.yaml
  ci-operator/config/medik8s/fence-agents-remediation/medik8s-fence-agents-remediation-release-0.7__5.0.yaml
  ci-operator/config/medik8s/machine-deletion-remediation/medik8s-machine-deletion-remediation-main__5.0.yaml
  ci-operator/config/medik8s/machine-deletion-remediation/medik8s-machine-deletion-remediation-release-0.5__5.0.yaml
  ci-operator/config/medik8s/machine-deletion-remediation/medik8s-machine-deletion-remediation-release-0.6__5.0.yaml
  ci-operator/config/medik8s/node-healthcheck-operator/medik8s-node-healthcheck-operator-main__5.0.yaml
  ci-operator/config/medik8s/node-healthcheck-operator/medik8s-node-healthcheck-operator-release-0.10__5.0.yaml
  ci-operator/config/medik8s/node-healthcheck-operator/medik8s-node-healthcheck-operator-release-0.11__5.0.yaml
  ci-operator/config/medik8s/node-maintenance-operator/medik8s-node-maintenance-operator-main__5.0.yaml
  ci-operator/config/medik8s/node-maintenance-operator/medik8s-node-maintenance-operator-release-0.19__5.0.yaml
  ci-operator/config/medik8s/node-maintenance-operator/medik8s-node-maintenance-operator-release-0.20__5.0.yaml
  ci-operator/config/medik8s/self-node-remediation/medik8s-self-node-remediation-main__5.0.yaml
  ci-operator/config/medik8s/self-node-remediation/medik8s-self-node-remediation-release-0.11__5.0.yaml
  ci-operator/config/medik8s/self-node-remediation/medik8s-self-node-remediation-release-0.12__5.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

[5.0] Bump release gating jobs from Sippy
  ci-operator/config/medik8s/fence-agents-remediation/medik8s-fence-agents-remediation-main__5.0.yaml
  ci-operator/config/medik8s/fence-agents-remediation/medik8s-fence-agents-remediation-release-0.6__5.0.yaml
  ci-operator/config/medik8s/fence-agents-remediation/medik8s-fence-agents-remediation-release-0.7__5.0.yaml
  ci-operator/config/medik8s/machine-deletion-remediation/medik8s-machine-deletion-remediation-main__5.0.yaml
  ci-operator/config/medik8s/machine-deletion-remediation/medik8s-machine-deletion-remediation-release-0.5__5.0.yaml
  ci-operator/config/medik8s/machine-deletion-remediation/medik8s-machine-deletion-remediation-release-0.6__5.0.yaml
  ci-operator/config/medik8s/node-healthcheck-operator/medik8s-node-healthcheck-operator-main__5.0.yaml
  ci-operator/config/medik8s/node-healthcheck-operator/medik8s-node-healthcheck-operator-release-0.10__5.0.yaml
  ci-operator/config/medik8s/node-healthcheck-operator/medik8s-node-healthcheck-operator-release-0.11__5.0.yaml
  ci-operator/config/medik8s/node-maintenance-operator/medik8s-node-maintenance-operator-main__5.0.yaml
  ci-operator/config/medik8s/node-maintenance-operator/medik8s-node-maintenance-operator-release-0.19__5.0.yaml
  ci-operator/config/medik8s/node-maintenance-operator/medik8s-node-maintenance-operator-release-0.20__5.0.yaml
  ci-operator/config/medik8s/self-node-remediation/medik8s-self-node-remediation-main__5.0.yaml
  ci-operator/config/medik8s/self-node-remediation/medik8s-self-node-remediation-release-0.11__5.0.yaml
  ci-operator/config/medik8s/self-node-remediation/medik8s-self-node-remediation-release-0.12__5.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Reconfigure fast forwarding: 5.0 always to 4.23
  ci-operator/jobs/infra-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Fast forwarding 5.0 to 4.23 (#75208)
  ci-operator/jobs/infra-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Move ipi disconnected to arch job file
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__multi-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__multi-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__multi-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.21__arm64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.21__multi-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22__arm64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22__multi-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.21-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics
