Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

services-valid:
  commands: make check-services
  container:
    from: src

ci/openshift/promrules:
  decorate: true
  spec:
    containers:
    - command:
      - /go/entrypoint.sh
      image: registry.svc.ci.openshift.org/ci/promrules:latest
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
          cpu: 500m
        requests:
          cpu: 10m

ci/prow/pylint:
  decorate: true
  spec:
    containers:
    - args:
      - --rcfile=hack/.pylintrc
      - --ignore=lib
      - --persistent=n
      - hack
      command:
      - pylint
      image: registry.svc.ci.openshift.org/ci/python-validation
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
  ...

ci/prow/services-valid:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/stackrox-stackrox-stackrox-stackrox-check:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: stackrox-stackrox
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

branch-ci-openshift-release-master-gsm-secrets-reconciler:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/sync-rover-groups/_config.yaml
      - --log-level=info
      - --gcp-service-account-key-file=/tmp/gcp-credentials/key.json
      command:
      - gsm-secret-sync
      env:
  ...

branch-ci-openshift-release-master-label-sync:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/prow/02_config/_labels.yaml
      - --confirm=true
  ...

ci/prow/check-cluster-profiles-config:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    automountServiceAccountToken: true
    containers:
    - args:
      - --config-path=./ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml
      command:
      - check-cluster-profiles-config
  ...

ci/prow/check-gh-automation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --bot=openshift-merge-robot
      - --bot=openshift-ci-robot
      - --app=openshift-ci
      - --app-check-mode=standard
      - --candidate-path=.
  ...

ci/prow/check-gh-automation-tide:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --app=openshift-merge-bot
      - --app-check-mode=tide
      - --candidate-path=.
      - --config-path=./core-services/prow/02_config/_config.yaml
  ...

setup assisted-installer version v2.54 (#80898)
  ci-operator/config/openshift/assisted-image-service/openshift-assisted-image-service-v2.54.yaml
  ci-operator/config/openshift/assisted-installer-agent/openshift-assisted-installer-agent-v2.54.yaml
  ci-operator/config/openshift/assisted-installer/openshift-assisted-installer-v2.54.yaml
  ci-operator/config/openshift/assisted-service/openshift-assisted-service-v2.54.yaml
  ci-operator/jobs/openshift/assisted-image-service/openshift-assisted-image-service-v2.54-postsubmits.yaml
  ci-operator/jobs/openshift/assisted-image-service/openshift-assisted-image-service-v2.54-presubmits.yaml
  ci-operator/jobs/openshift/assisted-installer-agent/openshift-assisted-installer-agent-v2.54-postsubmits.yaml
  ci-operator/jobs/openshift/assisted-installer-agent/openshift-assisted-installer-agent-v2.54-presubmits.yaml
  ci-operator/jobs/openshift/assisted-installer/openshift-assisted-installer-v2.54-postsubmits.yaml
  ci-operator/jobs/openshift/assisted-installer/openshift-assisted-installer-v2.54-presubmits.yaml
  ci-operator/jobs/openshift/assisted-service/openshift-assisted-service-v2.54-postsubmits.yaml
  ci-operator/jobs/openshift/assisted-service/openshift-assisted-service-v2.54-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Centralizing multi-arch-builder-controller on build10
  clusters/build-clusters/build10/multi-arch-builder-controller/000_mabc-updater_rbac.yaml
  clusters/build-clusters/build10/multi-arch-builder-controller/100_deploy.yaml
  clusters/build-clusters/build10/multi-arch-builder-controller/admin_multi-arch-builder-controller_rbac.yaml
  core-services/ci-secret-bootstrap/_config.yaml
  core-services/ci-secret-generator/_config.yaml
Due: ci/prow/ci-secret-bootstrap-config-validation, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/prow/secret-generator-config-valid, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

feat: Add konflux-kargo-bot bot to trusted applications for infra common deployments
  core-services/prow/02_config/redhat-appstudio/infra-common-deployments/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Update konflux-nudge tide author to red-hat-konflux[bot] for network-observability repos
  core-services/prow/02_config/openshift/network-observability-console-plugin/_prowconfig.yaml
  core-services/prow/02_config/openshift/network-observability-ebpf-agent/_prowconfig.yaml
  core-services/prow/02_config/openshift/network-observability-flowlogs-pipeline/_prowconfig.yaml
  core-services/prow/02_config/openshift/network-observability-operator/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Add promoted component images for OSAC Netris CI
  ci-operator/config/osac-project/fulfillment-service/osac-project-fulfillment-service-main.yaml
  ci-operator/config/osac-project/osac-aap/osac-project-osac-aap-main.yaml
  ci-operator/config/osac-project/osac-operator/osac-project-osac-operator-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

HYPERFLEET-1057 - feat: Update e2e jobs to use hyperfleet-infra repo
  ci-operator/config/openshift-hyperfleet/hyperfleet-infra/openshift-hyperfleet-hyperfleet-infra-main.yaml
  ci-operator/step-registry/openshift-hyperfleet/e2e/cleanup/cloud-provider/openshift-hyperfleet-e2e-cleanup-cloud-provider-commands.sh
  ci-operator/step-registry/openshift-hyperfleet/e2e/cleanup/cluster-resources/openshift-hyperfleet-e2e-cleanup-cluster-resources-commands.sh
  ci-operator/step-registry/openshift-hyperfleet/e2e/setup/openshift-hyperfleet-e2e-setup-commands.sh
  ci-operator/step-registry/openshift-hyperfleet/e2e/setup/openshift-hyperfleet-e2e-setup-ref.yaml
  ci-operator/step-registry/openshift-hyperfleet/e2e/test/openshift-hyperfleet-e2e-test-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

RHCL 1.5 docs jobs
  ci-operator/config/openshift/openshift-docs/openshift-openshift-docs-rhcl-docs-1.5.yaml
  ci-operator/jobs/openshift/openshift-docs/openshift-openshift-docs-rhcl-docs-1.5-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

skip test, use baremetal-qe-base for wait
  ci-operator/step-registry/baremetal/lab/post/baremetal-lab-post-chain.yaml
  ci-operator/step-registry/baremetal/lab/wait/baremetal-lab-wait-ref.yaml
  ci-operator/step-registry/openshift/e2e/test/qe/openshift-e2e-test-qe-chain.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add upi primaryv6 job
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22__amd64-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

test 857
  ci-operator/step-registry/baremetal/lab/ipi/install/baremetal-lab-ipi-install-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add OCP 4.22 to prow
  ci-operator/config/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel__downstream-candidate419.yaml
  ci-operator/config/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel__downstream-candidate420.yaml
  ci-operator/config/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel__downstream-candidate422.yaml
  ci-operator/jobs/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Adding TLS scanner job for hypershift
  ci-operator/step-registry/hypershift/modern-tls/hypershift-modern-tls-commands.sh
  ci-operator/step-registry/tls/scanner/run/tls-scanner-run-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Bump ocm-api-metamodel Prow build image to Go 1.25 (#80472)
  ci-operator/config/openshift-online/ocm-api-metamodel/openshift-online-ocm-api-metamodel-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

feat: Add konflux-kargo-bot bot to trusted applications for infra common deployments (#80928)
  core-services/prow/02_config/redhat-appstudio/infra-common-deployments/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

hypershift: skip readyz conformance test on shared management clusters
  ci-operator/step-registry/hypershift/aws/conformance/hypershift-aws-conformance-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add 4.22 AWS HCM periodics with request serving test (#80098)
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.22__periodics-hcm.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.22-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Centralizing multi-arch-builder-controller on build10 (#80920)
  clusters/build-clusters/build10/multi-arch-builder-controller/000_mabc-updater_rbac.yaml
  clusters/build-clusters/build10/multi-arch-builder-controller/100_deploy.yaml
  clusters/build-clusters/build10/multi-arch-builder-controller/admin_multi-arch-builder-controller_rbac.yaml
  core-services/ci-secret-bootstrap/_config.yaml
  core-services/ci-secret-generator/_config.yaml
Due: ci/prow/ci-secret-bootstrap-config-validation, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/prow/secret-generator-config-valid, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Add boilerplate v8.4.1 to image mirroring
  core-services/image-mirroring/_config.yaml
Due: ci/prow/image-mirroring-config-validation

baremetalds-sno-setup: fix trap double-fire on SIGTERM and add cleanup logging (#80923)
  ci-operator/step-registry/baremetalds/sno/setup/baremetalds-sno-setup-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

test
  clusters/app.ci/prow/03_deployment/00_namespaces.yaml
  clusters/build-clusters/build-shared/managed/log-forwarder.yaml
  clusters/build-clusters/build-shared/ship-status/namespace.yaml
  clusters/build-clusters/build01/loki/cluster-name_cm.yaml
  clusters/build-clusters/coredns/deployment.yaml
  clusters/build-clusters/coredns/not-permitted-cronjob.yaml
  clusters/build-clusters/wrong-app/test.yaml
  clusters/core-ci/argocd/namespaces.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

hypershift/openstack: Increase timeout for jobs (#80833)
  ci-operator/config/openshift/hypershift/openshift-hypershift-main.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.23.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-5.0.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-5.1.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-main-presubmits.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-5.1-presubmits.yaml
  ci-operator/step-registry/hypershift/openstack/e2e/execute/hypershift-openstack-e2e-execute-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

regression tests for quay-3.12.19
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-412-quay-operator-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-412-quay-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-412-quay-upgrade-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-413-quay-operator-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-413-quay-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-413-quay-upgrade-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-414-quay-operator-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-414-quay-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-414-quay-upgrade-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-415-quay-operator-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-415-quay-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-415-quay-upgrade-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-416-quay-operator-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-416-quay-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-416-quay-upgrade-regression.yaml
  ci-operator/jobs/quay/quay-tests/quay-quay-tests-master-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Use aws-stackrox for CO aws arm results (#80309)
  ci-operator/config/ComplianceAsCode/compliance-operator/ComplianceAsCode-compliance-operator-master.yaml
  ci-operator/jobs/ComplianceAsCode/compliance-operator/ComplianceAsCode-compliance-operator-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Migrate payload agent to agentic-ci local backend (#80680)
  ci-operator/step-registry/openshift/claude/payload/agent/openshift-claude-payload-agent-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update Istio jobs from 4.21 to 4.22 OCP version
  ci-operator/config/openshift-service-mesh/istio/openshift-service-mesh-istio-master.yaml
  ci-operator/config/openshift-service-mesh/istio/openshift-service-mesh-istio-release-1.24.yaml
  ci-operator/config/openshift-service-mesh/istio/openshift-service-mesh-istio-release-1.26.yaml
  ci-operator/config/openshift-service-mesh/istio/openshift-service-mesh-istio-release-1.27.yaml
  ci-operator/config/openshift-service-mesh/istio/openshift-service-mesh-istio-release-1.28.yaml
  ci-operator/config/openshift-service-mesh/istio/openshift-service-mesh-istio-release-1.30.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Update Proxy jobs from 4.21 to 4.22 OCP version
  ci-operator/config/openshift-service-mesh/proxy/openshift-service-mesh-proxy-release-1.24.yaml
  ci-operator/config/openshift-service-mesh/proxy/openshift-service-mesh-proxy-release-1.26.yaml
  ci-operator/config/openshift-service-mesh/proxy/openshift-service-mesh-proxy-release-1.27.yaml
  ci-operator/config/openshift-service-mesh/proxy/openshift-service-mesh-proxy-release-1.28.yaml
  ci-operator/config/openshift-service-mesh/proxy/openshift-service-mesh-proxy-release-1.30.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Update Ztunnel jobs from 4.21 to 4.22 OCP version
  ci-operator/config/openshift-service-mesh/ztunnel/openshift-service-mesh-ztunnel-release-1.24.yaml
  ci-operator/config/openshift-service-mesh/ztunnel/openshift-service-mesh-ztunnel-release-1.27.yaml
  ci-operator/config/openshift-service-mesh/ztunnel/openshift-service-mesh-ztunnel-release-1.28.yaml
  ci-operator/config/openshift-service-mesh/ztunnel/openshift-service-mesh-ztunnel-release-1.30.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

monitoring-plugin e2e-incidents: add pre-Cypress operator-sdk bundle install step
  ci-operator/config/openshift/monitoring-plugin/openshift-monitoring-plugin-main__periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

feat(cnv): add JUnit report to vm-snapshot step and migrate to external CI image (#79900)
  ci-operator/config/redhat-chaos/lp-chaos/redhat-chaos-lp-chaos-main__ocp4.21-nightly--cnv-4.21-stable-cnvcases--aws.yaml
  ci-operator/jobs/redhat-chaos/lp-chaos/redhat-chaos-lp-chaos-main-periodics.yaml
  ci-operator/jobs/redhat-chaos/lp-chaos/redhat-chaos-lp-chaos-main-postsubmits.yaml
  ci-operator/jobs/redhat-chaos/lp-chaos/redhat-chaos-lp-chaos-main-presubmits.yaml
  ci-operator/step-registry/redhat-lp-chaos/lp/cnv/vm/snapshot/redhat-lp-chaos-lp-cnv-vm-snapshot-commands.sh
  ci-operator/step-registry/redhat-lp-chaos/lp/cnv/vm/snapshot/redhat-lp-chaos-lp-cnv-vm-snapshot-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add boilerplate v8.4.1 to image mirroring (#80933)
  core-services/image-mirroring/_config.yaml
Due: ci/prow/image-mirroring-config-validation

Updated vSphere VCF 9 jobs to use VCF 9.1 env (#80860)
  ci-operator/config/openshift/release/openshift-release-main__nightly-5.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add stale PR management for openshift-online/rosa-enhancements
  ci-operator/jobs/infra-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Enable DRA Partitionable Devices support in kueue-operator CI
  ci-operator/config/openshift/kueue-operator/openshift-kueue-operator-main.yaml
  ci-operator/config/openshift/kueue-operator/openshift-kueue-operator-release-1.4.yaml
  ci-operator/step-registry/dra-example-driver/install/dra-example-driver-install-commands.sh
  ci-operator/step-registry/dra-example-driver/install/dra-example-driver-install-ref.yaml
  ci-operator/step-registry/kueue-operator/test/e2e/dra/enable-feature-gate/kueue-operator-test-e2e-dra-enable-feature-gate-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

RHCL 1.5 docs jobs (#80931)
  ci-operator/config/openshift/openshift-docs/openshift-openshift-docs-rhcl-docs-1.5.yaml
  ci-operator/jobs/openshift/openshift-docs/openshift-openshift-docs-rhcl-docs-1.5-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

use the vault official image, remove the customized local imagestreams
  clusters/app.ci/vault/manifests.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

regression tests for quay-3.10.23
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-412-quay-operator-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-412-quay-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-412-quay-upgrade-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-413-quay-operator-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-413-quay-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-413-quay-upgrade-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-414-quay-operator-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-414-quay-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-414-quay-upgrade-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-415-quay-operator-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-415-quay-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-415-quay-upgrade-regression.yaml
  ci-operator/jobs/quay/quay-tests/quay-quay-tests-master-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

add the cluster-manifest-verifier image to ci-tools-standalone config
  ci-operator/config/openshift/ci-tools-standalone/openshift-ci-tools-standalone-main.yaml
  ci-operator/jobs/openshift/ci-tools-standalone/openshift-ci-tools-standalone-main-postsubmits.yaml
  ci-operator/jobs/openshift/ci-tools-standalone/openshift-ci-tools-standalone-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)
