Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

Add missing gitops-operator/aws OWNERS and fix registry metadata newlines
  ci-operator/step-registry/gitops-operator/aws/OWNERS
  ci-operator/step-registry/gitops-operator/aws/cleanup-leftover-dns/gitops-operator-aws-cleanup-leftover-dns-ref.metadata.json
  ci-operator/step-registry/gitops-operator/ipi-aws/gitops-operator-ipi-aws-workflow.metadata.json
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

fix(csi): disable secret rotation in secret csi driver
  clusters/app.ci/csi-secrets-gcp/operator.yaml
  clusters/build-clusters/build-shared/csi-secrets-gcp/secrets-store-csi-driver-operator.yaml
  clusters/core-ci/csi-secrets-gcp/operator.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

make jobs truly optional (#85063)
  ci-operator/config/openshift/kueue-operator/openshift-kueue-operator-release-1.3.yaml
  ci-operator/config/openshift/kueue-operator/openshift-kueue-operator-release-1.4.yaml
  ci-operator/jobs/openshift/kueue-operator/openshift-kueue-operator-release-1.3-presubmits.yaml
  ci-operator/jobs/openshift/kueue-operator/openshift-kueue-operator-release-1.4-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Reuse existing GCSWeb OAuth identity
  clusters/app.ci/prow/03_deployment/admin_gcsweb-private_rbac.yaml
  clusters/app.ci/prow/03_deployment/admin_gcsweb-test-platform-results_rbac.yaml
  clusters/app.ci/prow/03_deployment/gcsweb-test-platform-results.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

ci(quay): escape jsonpath dot when reading the ingress CA bundle
  ci-operator/step-registry/quay/deploy-custom-image/quay-deploy-custom-image-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ROSAENG-65233 | fix(ci): save MC terraform outputs for ZOA on-demand e2e
  ci-operator/step-registry/rosa-hyperfleet/provision/rosa-hyperfleet-provision-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Remove failing tests from aws arm proxy
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22__arm64-nightly.yaml
  ci-operator/step-registry/cucushift/upgrade/toimage/cucushift-upgrade-toimage-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

dont use cli in upi-installer
  ci-operator/step-registry/mco/check/day1-enable-ocl/mco-check-day1-enable-ocl-commands.sh
  ci-operator/step-registry/mco/conf/day2/add-mcoqe-robot-to-pull-secret/mco-conf-day2-add-mcoqe-robot-to-pull-secret-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

[DO NOT MERGE] DEBUG
  ci-operator/step-registry/baremetalds/e2e/test/baremetalds-e2e-test-commands.sh
  ci-operator/step-registry/openshift-extended/test/disruptive/openshift-extended-test-disruptive-commands.sh
  ci-operator/step-registry/openshift-extended/test/longduration/openshift-extended-test-longduration-commands.sh
  ci-operator/step-registry/openshift-extended/test/openshift-extended-test-commands.sh
  ci-operator/step-registry/openshift/e2e/test/openshift-e2e-test-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Remove the machine-config-operator image
  ci-operator/config/openshift/machine-config-operator/openshift-machine-config-operator-release-4.20__periodics.yaml
  ci-operator/config/openshift/machine-config-operator/openshift-machine-config-operator-release-5.0__periodics.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.0__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.1__amd64-nightly.yaml
  ci-operator/jobs/openshift/machine-config-operator/openshift-machine-config-operator-release-4.20-periodics.yaml
  ci-operator/jobs/openshift/machine-config-operator/openshift-machine-config-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/machine-config-operator/openshift-machine-config-operator-release-4.21-periodics.yaml
  ci-operator/jobs/openshift/machine-config-operator/openshift-machine-config-operator-release-4.22-periodics.yaml
  ci-operator/jobs/openshift/machine-config-operator/openshift-machine-config-operator-release-5.0-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.0-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.1-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

add vspehere disc+proxy job
  ci-operator/config/openshift/machine-config-operator/openshift-machine-config-operator-release-4.22__periodics.yaml
  ci-operator/config/openshift/machine-config-operator/openshift-machine-config-operator-release-5.0__periodics.yaml
  ci-operator/jobs/openshift/machine-config-operator/openshift-machine-config-operator-release-4.22-periodics.yaml
  ci-operator/jobs/openshift/machine-config-operator/openshift-machine-config-operator-release-5.0-periodics.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/vsphere/ipi/disc-proxy/OWNERS
  ci-operator/step-registry/cucushift/installer/rehearse/vsphere/ipi/disc-proxy/cucushift-installer-rehearse-vsphere-ipi-disc-proxy-workflow.metadata.json
  ci-operator/step-registry/cucushift/installer/rehearse/vsphere/ipi/disc-proxy/cucushift-installer-rehearse-vsphere-ipi-disc-proxy-workflow.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/vsphere/ipi/disc-proxy/provision/OWNERS
  ci-operator/step-registry/cucushift/installer/rehearse/vsphere/ipi/disc-proxy/provision/cucushift-installer-rehearse-vsphere-ipi-disc-proxy-provision-chain.metadata.json
  ci-operator/step-registry/cucushift/installer/rehearse/vsphere/ipi/disc-proxy/provision/cucushift-installer-rehearse-vsphere-ipi-disc-proxy-provision-chain.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Block if install fails
  ci-operator/config/openshift/machine-config-operator/openshift-machine-config-operator-release-4.20__periodics.yaml
  ci-operator/config/openshift/machine-config-operator/openshift-machine-config-operator-release-4.21__periodics.yaml
  ci-operator/config/openshift/machine-config-operator/openshift-machine-config-operator-release-4.22__periodics.yaml
  ci-operator/config/openshift/machine-config-operator/openshift-machine-config-operator-release-5.0__periodics.yaml
  ci-operator/jobs/openshift/machine-config-operator/openshift-machine-config-operator-release-4.20-periodics.yaml
  ci-operator/jobs/openshift/machine-config-operator/openshift-machine-config-operator-release-4.21-periodics.yaml
  ci-operator/jobs/openshift/machine-config-operator/openshift-machine-config-operator-release-5.0-periodics.yaml
  ci-operator/step-registry/ipi/install/install/ipi-install-install-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

fix(RHIDP-12941): adjust RHDH deployment timeouts
  ci-operator/config/redhat-performance/backstage-performance/redhat-performance-backstage-performance-main.yaml
  ci-operator/jobs/redhat-performance/backstage-performance/redhat-performance-backstage-performance-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Drop deprecated cluster: build11 pin from s390x VPN smoke job.
  ci-operator/config/kubevirt/ssp-operator/kubevirt-ssp-operator-main.yaml
  ci-operator/jobs/kubevirt/ssp-operator/kubevirt-ssp-operator-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

[ci-fix] rosa-cluster-lease: recover stuck refresh-maintenance clusters
  ci-operator/step-registry/rosa/cluster-lease/controller/rosa-cluster-lease-controller-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

create a new configmap to pass the additionalCA
  ci-operator/step-registry/ipi/openstack/pre/disconnected/ipi-openstack-pre-disconnected-chain.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

add the CA bundle as trusted on openstack disconnected
  ci-operator/step-registry/ipi/openstack/pre/disconnected/ipi-openstack-pre-disconnected-chain.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Move SPR-EE lanes to use spree-01 spoke for Prod runs
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__telco-kpis-4.22.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__telco-kpis-5.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

[FIO] Builder image version bump (#84538)
  ci-operator/config/openshift/file-integrity-operator/openshift-file-integrity-operator-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

fix(csi): disable secret rotation in secret csi driver (#85105)
  clusters/app.ci/csi-secrets-gcp/operator.yaml
  clusters/build-clusters/build-shared/csi-secrets-gcp/secrets-store-csi-driver-operator.yaml
  clusters/core-ci/csi-secrets-gcp/operator.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Revert "Temporarily use openshift-ci for merge automation"
  ci-operator/jobs/infra-periodics.yaml
  ci-operator/jobs/openshift/release/openshift-release-main-presubmits.yaml
  clusters/app.ci/openshift-user-workload-monitoring/mixins/_grafana_dashboards/tide.jsonnet
  clusters/app.ci/openshift-user-workload-monitoring/mixins/grafana_dashboards_out/tide_grafanadashboard.yaml
  clusters/app.ci/prow/03_deployment/pipeline-controller.yaml
  clusters/app.ci/prow/03_deployment/pj-rehearse-plugin.yaml
  clusters/app.ci/prow/03_deployment/retester.yaml
  clusters/app.ci/prow/03_deployment/tide.yaml
  hack/check-repo.sh
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

gcp-hcp-infra: bypass make for gitops-promoter-test on hi/go:1.27
  ci-operator/config/openshift-online/gcp-hcp-infra/openshift-online-gcp-hcp-infra-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add rhosdt-3.11 branch to Tide config for openshift-eng/ocp-build-data
  core-services/prow/02_config/openshift-eng/ocp-build-data/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

rosa-cluster-lease: check patch results and fix dry-run reporting
  ci-operator/step-registry/rosa/cluster-lease/controller/rosa-cluster-lease-controller-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

sync-rover-groups: claim openshift-knative secret collection for openshift-serverless-admins (#84970)
  core-services/sync-rover-groups/_config.yaml
Due: branch-ci-openshift-release-master-gsm-secrets-reconciler, ci/prow/sync-rover-groups

feat(KONFLUX-15842): Claim Konflux perf&scale team and OpenShift Pipelines perf&scale team secrets (#85078)
  core-services/sync-rover-groups/_config.yaml
Due: branch-ci-openshift-release-master-gsm-secrets-reconciler, ci/prow/sync-rover-groups

NNO sm collection migration (#85085)
  core-services/sync-rover-groups/_config.yaml
Due: branch-ci-openshift-release-master-gsm-secrets-reconciler, ci/prow/sync-rover-groups

DPF operator: test PRs by deploying cluster
  ci-operator/config/rh-ecosystem-edge/dpf-hcp-provisioner-operator/rh-ecosystem-edge-dpf-hcp-provisioner-operator-main.yaml
  ci-operator/jobs/rh-ecosystem-edge/dpf-hcp-provisioner-operator/rh-ecosystem-edge-dpf-hcp-provisioner-operator-main-presubmits.yaml
  ci-operator/step-registry/dpf/hypervisor/deploy-cluster/dpf-hypervisor-deploy-cluster-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Merge CI registry credentials
  ci-operator/step-registry/dpf/hypervisor/deploy-cluster/dpf-hypervisor-deploy-cluster-commands.sh
  ci-operator/step-registry/dpf/hypervisor/deploy-cluster/dpf-hypervisor-deploy-cluster-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

OCPBUGS-123177: align payload analysis budget
  ci-operator/step-registry/openshift/release/analysis/test-case-analysis/openshift-release-analysis-test-case-analysis-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add lifecycle-agent release-5.0 CI config and bump main to 5.1
  ci-operator/config/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-main__nightly-5.1-upgrade-from-stable-5.0.yaml
  ci-operator/config/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-main__nightly-5.1.yaml
  ci-operator/config/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-release-5.0.yaml
  ci-operator/config/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-release-5.0__nightly-5.0-upgrade-from-stable-4.22.yaml
  ci-operator/config/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-release-5.0__nightly-5.0.yaml
  ci-operator/jobs/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-release-5.0-periodics.yaml
  ci-operator/jobs/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-release-5.0-postsubmits.yaml
  ci-operator/jobs/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-release-5.0-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add library-go downstream KMS e2e jobs for the three apiserver operators
  ci-operator/config/openshift/library-go/openshift-library-go-master__downstream-kms.yaml
  ci-operator/jobs/openshift/library-go/openshift-library-go-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

DPTP-5189: Retire openshift-build-robot and openshift-publish-robot (#84833)
  ci-operator/SECRETS.md
  ci-operator/jobs/infra-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

update openshift-qe-hypershift-infra-commands for sso client (#85096)
  ci-operator/step-registry/openshift-qe/hypershift-infra/openshift-qe-hypershift-infra-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ARO-27714: Add CAPZ E2E periodic job for INT environment
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main__capz-e2e.yaml
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

ARO-27714: enable manual CAPZ E2E triggers
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main__capz-e2e.yaml
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-periodics.yaml
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

ARO-27715: Add CAPZ E2E periodic job for STG environment
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main__capz-e2e.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames
