Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

fix: fix job openshift-installer-main-e2e-agent-two-node-fencing-ipv4 (#80195)
  ci-operator/config/openshift/installer/openshift-installer-main.yaml
  ci-operator/jobs/openshift/installer/openshift-installer-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Updated OWNERS file
  ci-operator/step-registry/stackrox/stackrox/perf-scale-post/OWNERS
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Save admin password
  ci-operator/step-registry/stackrox/install-helm/stackrox-install-helm-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Trying to get diagnostic bundle for perf scale test
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-run-perf-scale-using-comment-get-diagnostic-bundle__perf-scale.yaml
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-jv-run-perf-scale-using-comment-get-diagnostic-bundle-presubmits.yaml
  ci-operator/step-registry/stackrox/stackrox/perf-scale-post/OWNERS
  ci-operator/step-registry/stackrox/stackrox/perf-scale-post/stackrox-stackrox-perf-scale-post-commands.sh
  ci-operator/step-registry/stackrox/stackrox/perf-scale-post/stackrox-stackrox-perf-scale-post-ref.metadata.json
  ci-operator/step-registry/stackrox/stackrox/perf-scale-post/stackrox-stackrox-perf-scale-post-ref.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Removed --set runtimeDataControl.excludeOpenshift=true
  ci-operator/step-registry/stackrox/install-helm/stackrox-install-helm-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Reduced node count to 36
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-run-perf-scale-using-comment-get-diagnostic-bundle__perf-scale.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

make registry-metadata
  ci-operator/step-registry/stackrox/stackrox/perf-scale-post/stackrox-stackrox-perf-scale-post-ref.metadata.json
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Increased node count to 48
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-run-perf-scale-using-comment-get-diagnostic-bundle__perf-scale.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

make update
  ci-operator/jobs/openshift/app-netutil/openshift-app-netutil-release-5.1-presubmits.yaml
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-jv-run-perf-scale-using-comment-get-diagnostic-bundle-presubmits.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

--set runtimeDataControl.excludeOpenshift=true
  ci-operator/step-registry/stackrox/install-helm/stackrox-install-helm-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Pointing to new branch jv-run-perf-scale-using-comment-get-diagnostic-bundle-2. Using 24 nodes
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-jv-run-perf-scale-using-comment-get-diagnostic-bundle-2__perf-scale.yaml
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-jv-run-perf-scale-using-comment-get-diagnostic-bundle-2-presubmits.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Simplified comment
  ci-operator/step-registry/stackrox/stackrox/perf-scale-post/stackrox-stackrox-perf-scale-post-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Nightlies get diagnostic bundles too
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-nightlies__perf-scale.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Not checking if script exists before running it
  ci-operator/step-registry/stackrox/stackrox/perf-scale-post/stackrox-stackrox-perf-scale-post-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Removes unused env var
  ci-operator/step-registry/stackrox/stackrox/perf-scale-post/stackrox-stackrox-perf-scale-post-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

feat(quay): add dependent_bug_target_versions to quay and quay-operator
  core-services/jira-lifecycle-plugin/config.yaml
Due: ci/prow/jira-lifecycle-config

ROSAENG-8186 | feat: add new env for rosa e2e test
  ci-operator/config/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main__ocm-fvt-rosa-hcp-integration.yaml
  ci-operator/step-registry/rosa/e2e/ocm-fvt/rosa-e2e-ocm-fvt-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

regression
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.0__multi-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

amis
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.0__multi-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add go fix test to crt projects
  ci-operator/config/openshift-eng/jira-lifecycle-plugin/openshift-eng-jira-lifecycle-plugin-main.yaml
  ci-operator/config/openshift/ci-chat-bot/openshift-ci-chat-bot-main.yaml
  ci-operator/config/openshift/release-controller/openshift-release-controller-main.yaml
  ci-operator/jobs/openshift-eng/jira-lifecycle-plugin/openshift-eng-jira-lifecycle-plugin-main-presubmits.yaml
  ci-operator/jobs/openshift/ci-chat-bot/openshift-ci-chat-bot-main-presubmits.yaml
  ci-operator/jobs/openshift/release-controller/openshift-release-controller-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

no-jira: add upgrade testing/step for rosa hcp
  ci-operator/config/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main__upgrade.yaml
  ci-operator/jobs/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main-periodics.yaml
  ci-operator/step-registry/rosa/cluster/upgrade/hcp/rosa-cluster-upgrade-hcp-commands.sh
  ci-operator/step-registry/rosa/cluster/upgrade/hcp/rosa-cluster-upgrade-hcp-ref.yaml
  ci-operator/step-registry/rosa/cluster/upgrade/machinepool/OWNERS
  ci-operator/step-registry/rosa/cluster/upgrade/machinepool/rosa-cluster-upgrade-machinepool-commands.sh
  ci-operator/step-registry/rosa/cluster/upgrade/machinepool/rosa-cluster-upgrade-machinepool-ref.metadata.json
  ci-operator/step-registry/rosa/cluster/upgrade/machinepool/rosa-cluster-upgrade-machinepool-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Always gather resources from fips 6node jobs (#80249)
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-4.21-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-4.22-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-4.23-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-5.0-nightly-x86.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

feat(quay): add dependent_bug_target_versions to quay and quay-operator (#80258)
  core-services/jira-lifecycle-plugin/config.yaml
Due: ci/prow/jira-lifecycle-config

OCPBUGS-86962: Remove broken REQUEST_SERVING_COMPONENT_TEST from e2e-aws-upgrade (#80186)
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.22__periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

fix: update aws-karpenter-provider-aws configs (#80128)
  ci-operator/config/openshift/aws-karpenter-provider-aws/openshift-aws-karpenter-provider-aws-main.yaml
  ci-operator/config/openshift/aws-karpenter-provider-aws/openshift-aws-karpenter-provider-aws-release-4.19__periodics.yaml
  ci-operator/config/openshift/aws-karpenter-provider-aws/openshift-aws-karpenter-provider-aws-release-4.20__periodics.yaml
  ci-operator/config/openshift/aws-karpenter-provider-aws/openshift-aws-karpenter-provider-aws-release-4.21.yaml
  ci-operator/config/openshift/aws-karpenter-provider-aws/openshift-aws-karpenter-provider-aws-release-4.21__periodics.yaml
  ci-operator/config/openshift/aws-karpenter-provider-aws/openshift-aws-karpenter-provider-aws-release-4.22.yaml
  ci-operator/config/openshift/aws-karpenter-provider-aws/openshift-aws-karpenter-provider-aws-release-4.22__periodics.yaml
  ci-operator/config/openshift/aws-karpenter-provider-aws/openshift-aws-karpenter-provider-aws-release-4.23__periodics.yaml
  ci-operator/config/openshift/aws-karpenter-provider-aws/openshift-aws-karpenter-provider-aws-release-5.0__periodics.yaml
  ci-operator/jobs/openshift/aws-karpenter-provider-aws/openshift-aws-karpenter-provider-aws-release-4.19-periodics.yaml
  ci-operator/jobs/openshift/aws-karpenter-provider-aws/openshift-aws-karpenter-provider-aws-release-4.20-periodics.yaml
  ci-operator/jobs/openshift/aws-karpenter-provider-aws/openshift-aws-karpenter-provider-aws-release-4.21-periodics.yaml
  ci-operator/jobs/openshift/aws-karpenter-provider-aws/openshift-aws-karpenter-provider-aws-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift/aws-karpenter-provider-aws/openshift-aws-karpenter-provider-aws-release-4.22-periodics.yaml
  ci-operator/jobs/openshift/aws-karpenter-provider-aws/openshift-aws-karpenter-provider-aws-release-4.23-periodics.yaml
  ci-operator/jobs/openshift/aws-karpenter-provider-aws/openshift-aws-karpenter-provider-aws-release-5.0-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

ROSA-745: branch-protection for non-boilerplate repos
  core-services/prow/02_config/_config.yaml
  core-services/prow/02_config/openshift/backplane-cli/_prowconfig.yaml
  core-services/prow/02_config/openshift/backplane-tools/_prowconfig.yaml
  core-services/prow/02_config/openshift/cluster-api-provider-aws/_prowconfig.yaml
  core-services/prow/02_config/openshift/managed-cluster-config/_prowconfig.yaml
  core-services/prow/02_config/openshift/osdctl/_prowconfig.yaml
  core-services/prow/02_config/openshift/rosa/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Fix _config.yaml repo ordering for prow-config (release before rosa)
  core-services/prow/02_config/_config.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Switch CI Doctor jobs to the new directory structure
  ci-operator/config/openshift-eng/edge-tooling/openshift-eng-edge-tooling-main.yaml
  ci-operator/jobs/openshift-eng/edge-tooling/openshift-eng-edge-tooling-main-periodics.yaml
  ci-operator/step-registry/openshift/edge-tooling/lvms-ci/post/openshift-edge-tooling-lvms-ci-post-commands.sh
  ci-operator/step-registry/openshift/edge-tooling/microshift-ci/post/openshift-edge-tooling-microshift-ci-post-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

WINC-1871: Remove vSphere connected debug jobs from WINC presubmits 4.23, 5.0, 5.1, and main
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-main.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.23.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.0.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.1.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-main-presubmits.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.1-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Fix tests-private-base/baseui DockerBuildFailed on release-4.18 and release-4.20 (#80257)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__images.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

fix: add arm64 config to aws-usgov-ipi-custom-dns-mini-perm-arm job
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__installation-nightly-4.20.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__installation-nightly-4.21.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__installation-nightly-4.22.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__installation-nightly-5.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add optional E2E presubmits for all medik8s operators in system-tests
  ci-operator/config/medik8s/system-tests/medik8s-system-tests-main__4.22-konflux.yaml
  ci-operator/jobs/medik8s/system-tests/medik8s-system-tests-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

handle skip tests
  ci-operator/config/openshift/hive/openshift-hive-master__periodic.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

multiarch: migrate nightly-4.14 s390x conformance to VPN UPI
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.14.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.16.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.17-upgrade-from-nightly-4.16.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.17.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.18-upgrade-from-nightly-4.17.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.18.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.19-upgrade-from-nightly-4.18.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.19.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.20-upgrade-from-nightly-4.19.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.20.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.21-upgrade-from-nightly-4.20.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.21.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.22-upgrade-from-nightly-4.21.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.22.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.23.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-5.0-upgrade-from-nightly-4.22.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-5.0.yaml
  ci-operator/config/openshift/operator-framework-olm/openshift-operator-framework-olm-release-4.21__periodics.yaml
  ci-operator/config/openshift/operator-framework-olm/openshift-operator-framework-olm-release-4.22__periodics.yaml
  ci-operator/config/openshift/operator-framework-olm/openshift-operator-framework-olm-release-4.23__periodics.yaml
  ci-operator/config/openshift/operator-framework-olm/openshift-operator-framework-olm-release-5.0__periodics.yaml
  ci-operator/config/openshift/operator-framework-operator-controller/openshift-operator-framework-operator-controller-release-4.21__periodics.yaml
  ci-operator/config/openshift/operator-framework-operator-controller/openshift-operator-framework-operator-controller-release-4.22__periodics.yaml
  ci-operator/config/openshift/operator-framework-operator-controller/openshift-operator-framework-operator-controller-release-4.23__periodics.yaml
  ci-operator/config/openshift/operator-framework-operator-controller/openshift-operator-framework-operator-controller-release-5.0__periodics.yaml
  ci-operator/jobs/openshift/multiarch/openshift-multiarch-main-periodics.yaml
  ci-operator/step-registry/upi/install/libvirt/upi-install-libvirt-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Revert managed-cluster-config from ROSA-745 branch-protection PR
  core-services/prow/02_config/openshift/managed-cluster-config/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

chore: ARO-HCP: rename prow deploy environment to ci00 (#79950)
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main__periodic-cleanup.yaml
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-periodics.yaml
  ci-operator/step-registry/aro-hcp/deprovision/environment/aro-hcp-deprovision-environment-ref.yaml
  ci-operator/step-registry/aro-hcp/gather/custom-link-tools/aro-hcp-gather-custom-link-tools-ref.yaml
  ci-operator/step-registry/aro-hcp/gather/observability/aro-hcp-gather-observability-ref.yaml
  ci-operator/step-registry/aro-hcp/gather/provision-failure/aro-hcp-gather-provision-failure-ref.yaml
  ci-operator/step-registry/aro-hcp/provision/environment/aro-hcp-provision-environment-ref.yaml
  ci-operator/step-registry/aro-hcp/provision/global-pipeline/aro-hcp-provision-global-pipeline-commands.sh
  ci-operator/step-registry/aro-hcp/provision/global-pipeline/aro-hcp-provision-global-pipeline-ref.yaml
  ci-operator/step-registry/aro-hcp/test/local/aro-hcp-test-local-ref.yaml
  ci-operator/step-registry/aro-hcp/write-config/aro-hcp-write-config-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

multiarch: use s390x release images for VPN upgrade jobs
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.15-upgrade-from-nightly-4.14.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.16-upgrade-from-nightly-4.15.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

RHDH: Add disconnected OCP 4.21 nightly CI jobs (helm + operator)
  ci-operator/config/redhat-developer/rhdh/redhat-developer-rhdh-main.yaml
  ci-operator/jobs/redhat-developer/rhdh/redhat-developer-rhdh-main-periodics.yaml
  ci-operator/jobs/redhat-developer/rhdh/redhat-developer-rhdh-main-presubmits.yaml
  ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml
  ci-operator/step-registry/redhat-developer/rhdh/ocp/helm/disconnected/OWNERS
  ci-operator/step-registry/redhat-developer/rhdh/ocp/helm/disconnected/nightly/OWNERS
  ci-operator/step-registry/redhat-developer/rhdh/ocp/helm/disconnected/nightly/redhat-developer-rhdh-ocp-helm-disconnected-nightly-commands.sh
  ci-operator/step-registry/redhat-developer/rhdh/ocp/helm/disconnected/nightly/redhat-developer-rhdh-ocp-helm-disconnected-nightly-ref.metadata.json
  ci-operator/step-registry/redhat-developer/rhdh/ocp/helm/disconnected/nightly/redhat-developer-rhdh-ocp-helm-disconnected-nightly-ref.yaml
  ci-operator/step-registry/redhat-developer/rhdh/ocp/operator/disconnected/OWNERS
  ci-operator/step-registry/redhat-developer/rhdh/ocp/operator/disconnected/nightly/OWNERS
  ci-operator/step-registry/redhat-developer/rhdh/ocp/operator/disconnected/nightly/redhat-developer-rhdh-ocp-operator-disconnected-nightly-commands.sh
  ci-operator/step-registry/redhat-developer/rhdh/ocp/operator/disconnected/nightly/redhat-developer-rhdh-ocp-operator-disconnected-nightly-ref.metadata.json
  ci-operator/step-registry/redhat-developer/rhdh/ocp/operator/disconnected/nightly/redhat-developer-rhdh-ocp-operator-disconnected-nightly-ref.yaml
Due: ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck
