Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

services-valid:
  commands: make check-services
  container:
    from: src

ci/openshift/promrules:
  decorate: true
  spec:
    containers:
    - command:
      - /go/entrypoint.sh
      image: registry.svc.ci.openshift.org/ci/promrules:latest
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
          cpu: 500m
        requests:
          cpu: 10m

ci/prow/pylint:
  decorate: true
  spec:
    containers:
    - args:
      - --rcfile=hack/.pylintrc
      - --ignore=lib
      - --persistent=n
      - hack
      command:
      - pylint
      image: registry.svc.ci.openshift.org/ci/python-validation
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
  ...

ci/prow/services-valid:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/stackrox-stackrox-stackrox-stackrox-check:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: stackrox-stackrox
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

branch-ci-openshift-release-master-gsm-secrets-reconciler:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/sync-rover-groups/_config.yaml
      - --log-level=info
      - --gcp-service-account-key-file=/tmp/gcp-credentials/key.json
      command:
      - gsm-secret-sync
      env:
  ...

branch-ci-openshift-release-master-label-sync:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/prow/02_config/_labels.yaml
      - --confirm=true
  ...

ci/prow/check-cluster-profiles-config:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    automountServiceAccountToken: true
    containers:
    - args:
      - --config-path=./ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml
      command:
      - check-cluster-profiles-config
  ...

ci/prow/check-gh-automation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --bot=openshift-merge-robot
      - --bot=openshift-ci-robot
      - --app=openshift-ci
      - --app-check-mode=standard
      - --candidate-path=.
  ...

ci/prow/check-gh-automation-tide:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --app=openshift-merge-bot
      - --app-check-mode=tide
      - --candidate-path=.
      - --config-path=./core-services/prow/02_config/_config.yaml
  ...

ci: fix Karpenter NodePool validation errors
  ci-operator/step-registry/aks/provision/aks-provision-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Change terraform-redhat ci-operator config to use from_repository
  ci-operator/config/terraform-redhat/terraform-provider-rhcs/terraform-redhat-terraform-provider-rhcs-main.yaml
  ci-operator/config/terraform-redhat/terraform-provider-rhcs/terraform-redhat-terraform-provider-rhcs-main__e2e-presubmits.yaml
  ci-operator/config/terraform-redhat/terraform-provider-rhcs/terraform-redhat-terraform-provider-rhcs-main__e2e.yaml
  ci-operator/jobs/terraform-redhat/terraform-provider-rhcs/terraform-redhat-terraform-provider-rhcs-main-periodics.yaml
  ci-operator/jobs/terraform-redhat/terraform-provider-rhcs/terraform-redhat-terraform-provider-rhcs-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Disable netobserv 4.23 jobs (#76927)
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-netobserv-perf-tests__netobserv-aws-4.22-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-netobserv-perf-tests__netobserv-aws-4.23-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-netobserv-perf-tests__netobserv-aws-5.0-nightly-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-netobserv-perf-tests-periodics.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-netobserv-perf-tests-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

IPV6 NPT and Retis; fix2
  ci-operator/step-registry/openshift-qe/network-perf/openshift-qe-network-perf-commands.sh
  ci-operator/step-registry/openshift-qe/retis-packet-analysis/openshift-qe-retis-packet-analysis-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add always_run: false to 4.23 perfscale presubmit jobs
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-4.23-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__gcp-4.23-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__rosa-4.23-nightly-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add ocm-fvt periodic job (cs-rosa-hcp-ad-staging-main)
  ci-operator/config/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main.yaml
  ci-operator/jobs/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

update vector v0.54.0 e2e tests
  ci-operator/config/ViaQ/vector/ViaQ-vector-v0.54.0-rh.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add stolostron and ACM-related repos to openshift-priv whitelist
  core-services/openshift-priv/_whitelist.yaml
Due: none

NO-JIRA: ART: add mta-8.2 branch
  core-services/prow/02_config/openshift-eng/ocp-build-data/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Add stolostron and ACM-related repos to openshift-priv whitelist (#76996)
  core-services/openshift-priv/_whitelist.yaml
Due: none

Make e2e-aws-ovn-upgrade-fips-no-nat-instance optional on 4.22
  core-services/release-controller/_releases/priv/release-ocp-4.22.json
  core-services/release-controller/_releases/release-ocp-4.22.json
Due: ci/prow/ci-testgrid-allow-list, ci/prow/release-config

Add CodeRabbit configuration for AI safety and CI secret protection
  .coderabbit.yaml
Due: none

Add always_run: false to 4.23 perfscale presubmit jobs (#76994)
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-4.23-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__gcp-4.23-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__rosa-4.23-nightly-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

deterministic schedule for cd-v2
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-netobserv-perf-tests__netobserv-aws-4.22-nightly-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-netobserv-perf-tests-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

build-clusters: align manifests with cluster-init and openshift/release
  ci-operator/jobs/openshift/release/openshift-release-main-presubmits.yaml
  clusters/_cluster-install/build01.yaml
  clusters/_cluster-install/build02.yaml
  clusters/_cluster-install/build06.yaml
  clusters/_cluster-install/build11.yaml
  clusters/app.ci/dex/manifests.yaml
  clusters/build-clusters/build01/cloudability-agent.yaml
  clusters/build-clusters/build01/openshift-monitoring/cluster-monitoring-config.yaml
  clusters/build-clusters/build02/cloudability-agent.yaml
  clusters/build-clusters/build02/nested-podman/rbac.yaml
  clusters/build-clusters/build02/openshift-monitoring/cluster-monitoring-config.yaml
  clusters/build-clusters/build05/assets/quayio-pull-through-cache-icsp.yaml
  clusters/build-clusters/build06/ci-operator/admin_ci-operator_rbac.yaml
  clusters/build-clusters/build06/cloudability-agent.yaml
  clusters/build-clusters/build06/nested-podman/rbac.yaml
  clusters/build-clusters/build07/ci-operator/admin_ci-operator_rbac.yaml
  clusters/build-clusters/build07/cloudability-agent.yaml
  clusters/build-clusters/build07/nested-podman/rbac.yaml
  clusters/build-clusters/build10/ci-scheduling-webhook/ci-builds-worker-aarch64.yaml
  clusters/build-clusters/build10/ci-scheduling-webhook/ci-builds-worker-amd64.yaml
  clusters/build-clusters/build10/ci-scheduling-webhook/ci-prowjobs-worker-aarch64.yaml
  clusters/build-clusters/build11/ci-operator/admin_ci-operator_rbac.yaml
  clusters/build-clusters/build11/ci-scheduling-webhook/ci-builds-worker-aarch64.yaml
  clusters/build-clusters/build11/ci-scheduling-webhook/ci-builds-worker-amd64.yaml
  clusters/build-clusters/build11/ci-scheduling-webhook/ci-longtests-worker-aarch64.yaml
  clusters/build-clusters/build11/ci-scheduling-webhook/ci-longtests-worker-amd64.yaml
  clusters/build-clusters/build11/ci-scheduling-webhook/ci-prowjobs-worker-aarch64.yaml
  clusters/build-clusters/build11/ci-scheduling-webhook/ci-prowjobs-worker-amd64.yaml
  clusters/build-clusters/build11/ci-scheduling-webhook/ci-tests-worker-aarch64.yaml
  clusters/build-clusters/build11/ci-scheduling-webhook/ci-tests-worker-amd64.yaml
  clusters/build-clusters/build11/cloudability-agent.yaml
  clusters/build-clusters/build11/machineset/infra-aarch64.yaml
  clusters/build-clusters/build11/machineset/worker-aarch64.yaml
  core-services/ci-secret-bootstrap/_config.yaml
  core-services/ci-secret-generator/_config.yaml
  core-services/sanitize-prow-jobs/_config.yaml
  hack/validate-yaml-indentation.py
Due: ci/prow/pylint, ci/prow/ci-secret-bootstrap-config-validation, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/config, ci/prow/generated-config, ci/build-farm/hosted-mgmt-dry, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics, ci/prow/secret-generator-config-valid, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

cluster-api-provider-libvirt: remove builds and tests for 4.22+ (#75837)
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-main.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-main__okd-scos.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.22.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.23.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-5.0.yaml
  ci-operator/jobs/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-main-postsubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-main-presubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.22-postsubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.23-postsubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-5.0-postsubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-5.0-presubmits.yaml
  core-services/image-mirroring/openshift/mapping_origin_scos-4_22
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

[DO NOT MERGE] Test catalog quay.io/wainersm/openshift-sandboxed-containers-operator-catalog:v1.12.0
  ci-operator/config/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel__downstream-candidate418.yaml
  ci-operator/config/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel__downstream-candidate420.yaml
  ci-operator/config/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel__downstream-candidate421.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

build11: infra-aarch64 MachineAutoscaler maxReplicas 1 (multi-arch standard)
  clusters/build-clusters/build11/machineset/infra-aarch64.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

fix verify images for origin rebase
  ci-operator/config/openshift/origin/openshift-origin-main.yaml
  ci-operator/config/openshift/origin/openshift-origin-release-4.22.yaml
  ci-operator/config/openshift/origin/openshift-origin-release-5.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Feat: add rosa-regional-platform e2e workflow and use it for -api (#76818)
  ci-operator/config/openshift-online/rosa-regional-platform-api/openshift-online-rosa-regional-platform-api-main.yaml
  ci-operator/jobs/openshift-online/rosa-regional-platform-api/openshift-online-rosa-regional-platform-api-main-presubmits.yaml
  ci-operator/step-registry/rosa-regional-platform/OWNERS
  ci-operator/step-registry/rosa-regional-platform/e2e/OWNERS
  ci-operator/step-registry/rosa-regional-platform/e2e/rosa-regional-platform-e2e-commands.sh
  ci-operator/step-registry/rosa-regional-platform/e2e/rosa-regional-platform-e2e-ref.metadata.json
  ci-operator/step-registry/rosa-regional-platform/e2e/rosa-regional-platform-e2e-ref.yaml
  ci-operator/step-registry/rosa-regional-platform/ephemeral-e2e/OWNERS
  ci-operator/step-registry/rosa-regional-platform/ephemeral-e2e/rosa-regional-platform-ephemeral-e2e-workflow.metadata.json
  ci-operator/step-registry/rosa-regional-platform/ephemeral-e2e/rosa-regional-platform-ephemeral-e2e-workflow.yaml
  ci-operator/step-registry/rosa-regional-platform/image-push/OWNERS
  ci-operator/step-registry/rosa-regional-platform/image-push/rosa-regional-platform-image-push-commands.sh
  ci-operator/step-registry/rosa-regional-platform/image-push/rosa-regional-platform-image-push-ref.metadata.json
  ci-operator/step-registry/rosa-regional-platform/image-push/rosa-regional-platform-image-push-ref.yaml
  ci-operator/step-registry/rosa-regional-platform/provision/OWNERS
  ci-operator/step-registry/rosa-regional-platform/provision/rosa-regional-platform-provision-commands.sh
  ci-operator/step-registry/rosa-regional-platform/provision/rosa-regional-platform-provision-ref.metadata.json
  ci-operator/step-registry/rosa-regional-platform/provision/rosa-regional-platform-provision-ref.yaml
  ci-operator/step-registry/rosa-regional-platform/teardown/OWNERS
  ci-operator/step-registry/rosa-regional-platform/teardown/rosa-regional-platform-teardown-commands.sh
  ci-operator/step-registry/rosa-regional-platform/teardown/rosa-regional-platform-teardown-ref.metadata.json
  ci-operator/step-registry/rosa-regional-platform/teardown/rosa-regional-platform-teardown-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Test with updated ubi 9.7base image
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.21__multi-stable-openshift-logging-6.5.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.21-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

OCPBUGS-80930 | Add VolumeAttributesClass e2e test for Azure Disk CSI driver with UltraSSD support
  ci-operator/config/openshift/csi-operator/openshift-csi-operator-main.yaml
  ci-operator/config/openshift/csi-operator/openshift-csi-operator-release-4.22.yaml
  ci-operator/jobs/openshift/csi-operator/openshift-csi-operator-main-presubmits.yaml
  ci-operator/jobs/openshift/csi-operator/openshift-csi-operator-release-4.22-presubmits.yaml
  ci-operator/step-registry/openshift/e2e/azure/csi/ultrassd/OWNERS
  ci-operator/step-registry/openshift/e2e/azure/csi/ultrassd/openshift-e2e-azure-csi-ultrassd-workflow.metadata.json
  ci-operator/step-registry/openshift/e2e/azure/csi/ultrassd/openshift-e2e-azure-csi-ultrassd-workflow.yaml
  ci-operator/step-registry/storage/conf/csi-azure-disk/storage-conf-csi-azure-disk-commands.sh
  ci-operator/step-registry/storage/conf/csi-azure-disk/storage-conf-csi-azure-disk-ref.yaml
  ci-operator/step-registry/storage/conf/storageclass/pre-set-default-azure-disk-ultrassd/OWNERS
  ci-operator/step-registry/storage/conf/storageclass/pre-set-default-azure-disk-ultrassd/storage-conf-storageclass-pre-set-default-azure-disk-ultrassd-commands.sh
  ci-operator/step-registry/storage/conf/storageclass/pre-set-default-azure-disk-ultrassd/storage-conf-storageclass-pre-set-default-azure-disk-ultrassd-ref.metadata.json
  ci-operator/step-registry/storage/conf/storageclass/pre-set-default-azure-disk-ultrassd/storage-conf-storageclass-pre-set-default-azure-disk-ultrassd-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

clusters/app.ci/prow/03_deployment/tide: Bump Tide to 20 GiB
  clusters/app.ci/prow/03_deployment/tide.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Remove rhel-9-openstack-17-rpms from base rhel9 repo files (#76590)
  ci-operator/config/openshift/origin/openshift-origin-main.yaml
  ci-operator/config/openshift/origin/openshift-origin-release-4.16.yaml
  ci-operator/config/openshift/origin/openshift-origin-release-4.17.yaml
  ci-operator/config/openshift/origin/openshift-origin-release-4.18.yaml
  ci-operator/config/openshift/origin/openshift-origin-release-4.19.yaml
  ci-operator/config/openshift/origin/openshift-origin-release-4.20.yaml
  ci-operator/config/openshift/origin/openshift-origin-release-4.21.yaml
  ci-operator/config/openshift/origin/openshift-origin-release-4.22.yaml
  ci-operator/config/openshift/origin/openshift-origin-release-4.23.yaml
  ci-operator/config/openshift/origin/openshift-origin-release-5.0.yaml
  core-services/release-controller/_repos/ocp-4.16-rhel9.repo
  core-services/release-controller/_repos/ocp-4.17-rhel9.repo
  core-services/release-controller/_repos/ocp-4.18-rhel9.repo
  core-services/release-controller/_repos/ocp-4.19-rhel9.repo
  core-services/release-controller/_repos/ocp-4.20-rhel9.repo
  core-services/release-controller/_repos/ocp-4.21-rhel9.repo
  core-services/release-controller/_repos/ocp-4.22-rhel9.repo
  core-services/release-controller/_repos/ocp-4.23-rhel9.repo
  core-services/release-controller/_repos/ocp-5.0-rhel9.repo
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Make e2e-aws-ovn-upgrade-fips-no-nat-instance optional on 4.22 (#76999)
  core-services/release-controller/_releases/priv/release-ocp-4.22.json
  core-services/release-controller/_releases/release-ocp-4.22.json
Due: ci/prow/ci-testgrid-allow-list, ci/prow/release-config

clusters/app.ci/prow/03_deployment/tide: Bump Tide to 20 GiB (#77012)
  clusters/app.ci/prow/03_deployment/tide.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Revert "hypershift: add AI-driven e2e failure analysis post-step (#76905)"
  ci-operator/config/openshift/hypershift/openshift-hypershift-main.yaml
  ci-operator/step-registry/hypershift/analyze-e2e-failure/OWNERS
  ci-operator/step-registry/hypershift/analyze-e2e-failure/hypershift-analyze-e2e-failure-commands.sh
  ci-operator/step-registry/hypershift/analyze-e2e-failure/hypershift-analyze-e2e-failure-ref.metadata.json
  ci-operator/step-registry/hypershift/analyze-e2e-failure/hypershift-analyze-e2e-failure-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

debug
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22__amd64-nightly.yaml
  ci-operator/step-registry/ipi/conf/vsphere/check/vcm/ipi-conf-vsphere-check-vcm-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

build-clusters: align manifests with cluster-init (#77006)
  ci-operator/jobs/openshift/release/openshift-release-main-presubmits.yaml
  clusters/_cluster-install/build01.yaml
  clusters/_cluster-install/build02.yaml
  clusters/_cluster-install/build06.yaml
  clusters/_cluster-install/build11.yaml
  clusters/app.ci/dex/manifests.yaml
  clusters/build-clusters/build01/cloudability-agent.yaml
  clusters/build-clusters/build01/openshift-monitoring/cluster-monitoring-config.yaml
  clusters/build-clusters/build02/cloudability-agent.yaml
  clusters/build-clusters/build02/nested-podman/rbac.yaml
  clusters/build-clusters/build02/openshift-monitoring/cluster-monitoring-config.yaml
  clusters/build-clusters/build05/assets/quayio-pull-through-cache-icsp.yaml
  clusters/build-clusters/build06/ci-operator/admin_ci-operator_rbac.yaml
  clusters/build-clusters/build06/cloudability-agent.yaml
  clusters/build-clusters/build06/nested-podman/rbac.yaml
  clusters/build-clusters/build07/ci-operator/admin_ci-operator_rbac.yaml
  clusters/build-clusters/build07/cloudability-agent.yaml
  clusters/build-clusters/build07/nested-podman/rbac.yaml
  clusters/build-clusters/build10/ci-scheduling-webhook/ci-builds-worker-aarch64.yaml
  clusters/build-clusters/build10/ci-scheduling-webhook/ci-builds-worker-amd64.yaml
  clusters/build-clusters/build10/ci-scheduling-webhook/ci-prowjobs-worker-aarch64.yaml
  clusters/build-clusters/build11/ci-operator/admin_ci-operator_rbac.yaml
  clusters/build-clusters/build11/ci-scheduling-webhook/ci-builds-worker-aarch64.yaml
  clusters/build-clusters/build11/ci-scheduling-webhook/ci-builds-worker-amd64.yaml
  clusters/build-clusters/build11/ci-scheduling-webhook/ci-longtests-worker-aarch64.yaml
  clusters/build-clusters/build11/ci-scheduling-webhook/ci-longtests-worker-amd64.yaml
  clusters/build-clusters/build11/ci-scheduling-webhook/ci-prowjobs-worker-aarch64.yaml
  clusters/build-clusters/build11/ci-scheduling-webhook/ci-prowjobs-worker-amd64.yaml
  clusters/build-clusters/build11/ci-scheduling-webhook/ci-tests-worker-aarch64.yaml
  clusters/build-clusters/build11/ci-scheduling-webhook/ci-tests-worker-amd64.yaml
  clusters/build-clusters/build11/cloudability-agent.yaml
  clusters/build-clusters/build11/machineset/worker-aarch64.yaml
  core-services/ci-secret-bootstrap/_config.yaml
  core-services/ci-secret-generator/_config.yaml
  core-services/sanitize-prow-jobs/_config.yaml
  hack/validate-yaml-indentation.py
Due: ci/prow/pylint, ci/prow/ci-secret-bootstrap-config-validation, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/config, ci/prow/generated-config, ci/build-farm/hosted-mgmt-dry, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics, ci/prow/secret-generator-config-valid, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Remove base-rhel9 override to use RHEL10 from Dockerfile (#76957)
  ci-operator/config/openshift/ocp-release-operator-sdk/openshift-ocp-release-operator-sdk-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Sync OWNERS files by autoowners job at Sat, 28 Mar 2026 07:39:23 UTC
  ci-operator/config/openshift/assisted-image-service/OWNERS
  ci-operator/jobs/openshift/assisted-image-service/OWNERS
  core-services/prow/02_config/openshift/assisted-image-service/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Sync OWNERS files by autoowners job at Sat, 28 Mar 2026 07:39:23 UTC (#77017)
  ci-operator/config/openshift/assisted-image-service/OWNERS
  ci-operator/jobs/openshift/assisted-image-service/OWNERS
  core-services/prow/02_config/openshift/assisted-image-service/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add ci-doctor workflow in step-registry
  ci-operator/step-registry/openshift/microshift/claude/OWNERS
  ci-operator/step-registry/openshift/microshift/claude/ci-doctor/OWNERS
  ci-operator/step-registry/openshift/microshift/claude/ci-doctor/openshift-microshift-claude-ci-doctor-commands.sh
  ci-operator/step-registry/openshift/microshift/claude/ci-doctor/openshift-microshift-claude-ci-doctor-ref.metadata.json
  ci-operator/step-registry/openshift/microshift/claude/ci-doctor/openshift-microshift-claude-ci-doctor-ref.yaml
  ci-operator/step-registry/openshift/microshift/claude/ci-doctor/openshift-microshift-claude-ci-doctor-workflow.metadata.json
  ci-operator/step-registry/openshift/microshift/claude/ci-doctor/openshift-microshift-claude-ci-doctor-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add ci-doctor cron job in main release
  ci-operator/config/openshift/microshift/openshift-microshift-main.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Update microshift-alert slack notification rules
  ci-operator/config/openshift/microshift/.config.prowgen
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-4.16-periodics.yaml
  ci-operator/jobs/openshift/microshift/openshift-microshift-release-4.17-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add microshift-claude-post workflow
  ci-operator/step-registry/openshift/microshift/claude/post/OWNERS
  ci-operator/step-registry/openshift/microshift/claude/post/openshift-microshift-claude-post-commands.sh
  ci-operator/step-registry/openshift/microshift/claude/post/openshift-microshift-claude-post-ref.metadata.json
  ci-operator/step-registry/openshift/microshift/claude/post/openshift-microshift-claude-post-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Use microshift-claude-post workflow as ci-doctor post step
  ci-operator/step-registry/openshift/microshift/claude/ci-doctor/openshift-microshift-claude-ci-doctor-commands.sh
  ci-operator/step-registry/openshift/microshift/claude/ci-doctor/openshift-microshift-claude-ci-doctor-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

perses
  ci-operator/config/openshift/monitoring-plugin/openshift-monitoring-plugin-main.yaml
  ci-operator/jobs/openshift/monitoring-plugin/openshift-monitoring-plugin-main-presubmits.yaml
  ci-operator/step-registry/monitoring-plugin/tests/perses-ui/OWNERS
  ci-operator/step-registry/monitoring-plugin/tests/perses-ui/monitoring-plugin-tests-perses-ui-commands.sh
  ci-operator/step-registry/monitoring-plugin/tests/perses-ui/monitoring-plugin-tests-perses-ui-ref.metadata.json
  ci-operator/step-registry/monitoring-plugin/tests/perses-ui/monitoring-plugin-tests-perses-ui-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Present ci-doctor report as-is in spyglass
  ci-operator/config/openshift/microshift/.config.prowgen
  ci-operator/jobs/openshift/microshift/openshift-microshift-main-periodics.yaml
  ci-operator/step-registry/openshift/microshift/claude/ci-doctor/openshift-microshift-claude-ci-doctor-commands.sh
  ci-operator/step-registry/openshift/microshift/claude/post/openshift-microshift-claude-post-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)
