Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

services-valid:
  commands: make check-services
  container:
    from: src

ci/openshift/promrules:
  decorate: true
  spec:
    containers:
    - command:
      - /go/entrypoint.sh
      image: registry.svc.ci.openshift.org/ci/promrules:latest
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
          cpu: 500m
        requests:
          cpu: 10m

ci/prow/pylint:
  decorate: true
  spec:
    containers:
    - args:
      - --rcfile=hack/.pylintrc
      - --ignore=lib
      - --persistent=n
      - hack
      command:
      - pylint
      image: registry.svc.ci.openshift.org/ci/python-validation
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
  ...

ci/prow/services-valid:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/stackrox-stackrox-stackrox-stackrox-check:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: stackrox-stackrox
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

branch-ci-openshift-release-master-gsm-secrets-reconciler:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/sync-rover-groups/_config.yaml
      - --log-level=info
      - --gcp-service-account-key-file=/tmp/gcp-credentials/key.json
      command:
      - gsm-secret-sync
      env:
  ...

branch-ci-openshift-release-master-label-sync:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/prow/02_config/_labels.yaml
      - --confirm=true
  ...

ci/prow/check-cluster-profiles-config:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    automountServiceAccountToken: true
    containers:
    - args:
      - --config-path=./ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml
      command:
      - check-cluster-profiles-config
  ...

ci/prow/check-gh-automation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --bot=openshift-merge-robot
      - --bot=openshift-ci-robot
      - --app=openshift-ci
      - --app-check-mode=standard
      - --candidate-path=.
  ...

ci/prow/check-gh-automation-tide:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --app=openshift-merge-bot
      - --app-check-mode=tide
      - --candidate-path=.
      - --config-path=./core-services/prow/02_config/_config.yaml
  ...

Revert "hypershift: add AI-driven e2e failure analysis post-step (#76905)" (#77014)
  ci-operator/config/openshift/hypershift/openshift-hypershift-main.yaml
  ci-operator/step-registry/hypershift/analyze-e2e-failure/OWNERS
  ci-operator/step-registry/hypershift/analyze-e2e-failure/hypershift-analyze-e2e-failure-commands.sh
  ci-operator/step-registry/hypershift/analyze-e2e-failure/hypershift-analyze-e2e-failure-ref.metadata.json
  ci-operator/step-registry/hypershift/analyze-e2e-failure/hypershift-analyze-e2e-failure-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

private-prow-configs-mirror --release-repo-path . --github-token-path /etc/github/oauth --github-endpoint http://ghproxy --dry-run false --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  core-services/prow/02_config/openshift-priv/karpenter-operator/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Add gangway token configuration for quaykonflux (#76942)
  clusters/app.ci/gangway-tokens/quaykonflux/admin_rbac.yaml
  clusters/app.ci/prow/03_deployment/gangway.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

update image for interop testing (#76883)
  ci-operator/step-registry/quay-tests/quay-interop-test/quay-tests-quay-interop-test-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.19.27-multi-for-4.19.0-0-to-4.20.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.21.8-multi-for-4.21.0-0-to-4.22.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

telco5g: Fix AWS cluster detection (#77028)
  ci-operator/step-registry/telco5g/add-interface/telco5g-add-interface-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Remove base-rhel9 override to use RHEL10 from Dockerfile (#76956)
  ci-operator/config/openshift/zero-trust-workload-identity-manager/openshift-zero-trust-workload-identity-manager-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

support proxy-blocklist for aws proxy cluster (#76802)
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__installation-nightly-4.22.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__installation-nightly-4.23.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__installation-nightly-5.0.yaml
  ci-operator/jobs/openshift/verification-tests/openshift-verification-tests-main-periodics.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/aws/ipi/proxy/blocklist/OWNERS
  ci-operator/step-registry/cucushift/installer/rehearse/aws/ipi/proxy/blocklist/cucushift-installer-rehearse-aws-ipi-proxy-blocklist-workflow.metadata.json
  ci-operator/step-registry/cucushift/installer/rehearse/aws/ipi/proxy/blocklist/cucushift-installer-rehearse-aws-ipi-proxy-blocklist-workflow.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/aws/ipi/proxy/blocklist/provision/OWNERS
  ci-operator/step-registry/cucushift/installer/rehearse/aws/ipi/proxy/blocklist/provision/cucushift-installer-rehearse-aws-ipi-proxy-blocklist-provision-chain.metadata.json
  ci-operator/step-registry/cucushift/installer/rehearse/aws/ipi/proxy/blocklist/provision/cucushift-installer-rehearse-aws-ipi-proxy-blocklist-provision-chain.yaml
  ci-operator/step-registry/proxy/blocklist/OWNERS
  ci-operator/step-registry/proxy/blocklist/enable/OWNERS
  ci-operator/step-registry/proxy/blocklist/enable/proxy-blocklist-enable-commands.sh
  ci-operator/step-registry/proxy/blocklist/enable/proxy-blocklist-enable-ref.metadata.json
  ci-operator/step-registry/proxy/blocklist/enable/proxy-blocklist-enable-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

enable QE rhcos10 ci jobs (#74657)
  ci-operator/config/openshift/openshift-tests-private/.config.prowgen
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22__arm64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22__multi-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Remove Vault secrets conflicting with GSM bundles (#77046)
  core-services/ci-secret-bootstrap/_config.yaml
Due: ci/prow/ci-secret-bootstrap-config-validation, ci/prow/secret-generator-config-valid

NO-JIRA: ART: add mta-8.2 branch (#76997)
  core-services/prow/02_config/openshift-eng/ocp-build-data/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Promote COO bundle image for use by other CI jobs (#75479)
  ci-operator/config/rhobs/observability-operator/rhobs-observability-operator-main.yaml
  ci-operator/jobs/rhobs/observability-operator/rhobs-observability-operator-main-postsubmits.yaml
  ci-operator/jobs/rhobs/observability-operator/rhobs-observability-operator-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.18.36-multi-for-4.18.0-0-to-4.19.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.20.17-multi-for-4.20.0-0-to-4.21.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.21.8-multi-for-4.21.0-0-to-4.22.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

improve debug info and wait step (#76596)
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__installer-rehearse-4.22.yaml
  ci-operator/jobs/openshift/verification-tests/openshift-verification-tests-main-periodics.yaml
  ci-operator/step-registry/cucushift/installer/wait/cucushift-installer-wait-ref.yaml
  ci-operator/step-registry/gather/mirror-registry/gather-mirror-registry-commands.sh
  ci-operator/step-registry/ipi/conf/vsphere/check/ipi-conf-vsphere-check-commands.sh
  ci-operator/step-registry/mirror-images/by-oc-adm-in-bastion/mirror-images-by-oc-adm-in-bastion-commands.sh
  ci-operator/step-registry/mirror-images/by-oc-adm/mirror-images-by-oc-adm-commands.sh
  ci-operator/step-registry/mirror-images/by-oc-mirror/mirror-images-by-oc-mirror-commands.sh
  ci-operator/step-registry/vsphere/provision/bastionhost/vsphere-provision-bastionhost-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add nested-podman to all build farm clusters (#77036)
  clusters/_cluster-install/build01.yaml
  clusters/_cluster-install/build11.yaml
  clusters/build-clusters/build02/nested-podman/rbac.yaml
  clusters/build-clusters/build06/nested-podman/rbac.yaml
  clusters/build-clusters/build07/nested-podman/rbac.yaml
  clusters/build-clusters/build10/nested-podman/rbac.yaml
  clusters/build-clusters/common_except_app.ci/nested-podman/rbac.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Change MCO pin job frequency from f60 to f14 for release-4.20 z-stream (#76874)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__amd64-nightly-4.20-upgrade-from-stable-4.20.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Update ci-secret-bootstrap validation to also trigger for gsm-config.yaml changes (#76955)
  ci-operator/jobs/openshift/release/openshift-release-main-presubmits.yaml
  hack/validate-ci-secret-boostrap.sh
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Add build information for hyperfleet release image (#77044)
  ci-operator/config/openshift-hyperfleet/hyperfleet-adapter/openshift-hyperfleet-hyperfleet-adapter-release-0.2__images.yaml
  ci-operator/config/openshift-hyperfleet/hyperfleet-api/openshift-hyperfleet-hyperfleet-api-release-0.2__images.yaml
  ci-operator/config/openshift-hyperfleet/hyperfleet-e2e/openshift-hyperfleet-hyperfleet-e2e-release-0.2__images.yaml
  ci-operator/config/openshift-hyperfleet/hyperfleet-sentinel/openshift-hyperfleet-hyperfleet-sentinel-release-0.2__images.yaml
  ci-operator/jobs/openshift-hyperfleet/hyperfleet-sentinel/openshift-hyperfleet-hyperfleet-sentinel-release-0.2-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Change MCO pin job frequency from f60 to f14 for release-4.22 (#76878)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22__amd64-nightly-4.22-upgrade-from-stable-4.21.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22__amd64-nightly-4.22-upgrade-from-stable-4.22.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Change MCO pin job frequency from f60 to f14 for release-4.21 (#76876)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.21__amd64-nightly-4.21-upgrade-from-stable-4.20.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.21__amd64-nightly-4.21-upgrade-from-stable-4.21.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.21-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Change MCO pin job frequency from f60 to f14 for release-4.20 y-stream (#76875)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__amd64-nightly-4.20-upgrade-from-stable-4.19.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Change MCO pin job frequency from f60 to f14 for release-4.19 (#76873)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-nightly-4.19-upgrade-from-stable-4.19.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

neuron-ci: best_effort stack cleanup to prevent false job failures (#77032)
  ci-operator/step-registry/aws-neuron-operator/conditional-e2e-rosa/aws-neuron-operator-conditional-e2e-rosa-workflow.yaml
  ci-operator/step-registry/aws-neuron-operator/deprovision-stacks/OWNERS
  ci-operator/step-registry/aws-neuron-operator/deprovision-stacks/aws-neuron-operator-deprovision-stacks-commands.sh
  ci-operator/step-registry/aws-neuron-operator/deprovision-stacks/aws-neuron-operator-deprovision-stacks-ref.metadata.json
  ci-operator/step-registry/aws-neuron-operator/deprovision-stacks/aws-neuron-operator-deprovision-stacks-ref.yaml
  ci-operator/step-registry/aws-neuron-operator/e2e-rosa/aws-neuron-operator-e2e-rosa-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

split GCP MCO g1/g2 longduration jobs into p1/p2/p3 for release-4.19 (#76308)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Initial backup/restore setup for AWS (#75798)
  ci-operator/config/openshift/hypershift/openshift-hypershift-main.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.22.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.22__periodics.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.23.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-main-presubmits.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.22-periodics.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.23-presubmits.yaml
  ci-operator/step-registry/hypershift/aws/e2e-backuprestore/OWNERS
  ci-operator/step-registry/hypershift/aws/e2e-backuprestore/hypershift-aws-e2e-backuprestore-workflow.metadata.json
  ci-operator/step-registry/hypershift/aws/e2e-backuprestore/hypershift-aws-e2e-backuprestore-workflow.yaml
  ci-operator/step-registry/hypershift/aws/oadp-destroy/OWNERS
  ci-operator/step-registry/hypershift/aws/oadp-destroy/hypershift-aws-oadp-destroy-commands.sh
  ci-operator/step-registry/hypershift/aws/oadp-destroy/hypershift-aws-oadp-destroy-ref.metadata.json
  ci-operator/step-registry/hypershift/aws/oadp-destroy/hypershift-aws-oadp-destroy-ref.yaml
  ci-operator/step-registry/hypershift/aws/oadp-setup/OWNERS
  ci-operator/step-registry/hypershift/aws/oadp-setup/hypershift-aws-oadp-setup-commands.sh
  ci-operator/step-registry/hypershift/aws/oadp-setup/hypershift-aws-oadp-setup-ref.metadata.json
  ci-operator/step-registry/hypershift/aws/oadp-setup/hypershift-aws-oadp-setup-ref.yaml
  ci-operator/step-registry/hypershift/conformance/hypershift-conformance-chain.yaml
  ci-operator/step-registry/hypershift/e2e-backuprestore/OWNERS
  ci-operator/step-registry/hypershift/e2e-backuprestore/hypershift-e2e-backuprestore-chain.metadata.json
  ci-operator/step-registry/hypershift/e2e-backuprestore/hypershift-e2e-backuprestore-chain.yaml
  ci-operator/step-registry/operatorhub/subscribe/oadp-operator/operatorhub-subscribe-oadp-operator-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Move e2e-azure-self-managed to 2nd stage pipeline (#76757)
  ci-operator/config/openshift/hypershift/openshift-hypershift-main.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Fix Nutanix WinC jobs by adding missing OVERRIDE_RHCOS_IMAGE (#77031)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-main.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.23.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

[o/cert-manager-operator] CM-854: Updates gingko label for e2e tests (#77041)
  ci-operator/config/openshift/cert-manager-operator/openshift-cert-manager-operator-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Disable gc-metrics across all perfscale workloads (#76871)
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__metal-4.20-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__metal-4.22-nightly-x86.yaml
  ci-operator/step-registry/openshift-qe/build-farm/openshift-qe-build-farm-commands.sh
  ci-operator/step-registry/openshift-qe/cluster-density-v2/observer/openshift-qe-cluster-density-v2-observer-commands.sh
  ci-operator/step-registry/openshift-qe/cluster-density-v2/openshift-qe-cluster-density-v2-ref.yaml
  ci-operator/step-registry/openshift-qe/crd-scale/openshift-qe-crd-scale-commands.sh
  ci-operator/step-registry/openshift-qe/egressip/openshift-qe-egressip-commands.sh
  ci-operator/step-registry/openshift-qe/kube-burner-ingress-perf/openshift-qe-kube-burner-ingress-perf-commands.sh
  ci-operator/step-registry/openshift-qe/netpol-v2/openshift-qe-netpol-v2-commands.sh
  ci-operator/step-registry/openshift-qe/node-density-cni/openshift-qe-node-density-cni-ref.yaml
  ci-operator/step-registry/openshift-qe/node-density-heavy/openshift-qe-node-density-heavy-commands.sh
  ci-operator/step-registry/openshift-qe/node-density/openshift-qe-node-density-commands.sh
  ci-operator/step-registry/openshift-qe/udn-bgp/openshift-qe-udn-bgp-commands.sh
  ci-operator/step-registry/openshift-qe/udn-density-pods/openshift-qe-udn-density-pods-commands.sh
  ci-operator/step-registry/openshift-qe/virt-density-nomount/observer/openshift-qe-virt-density-nomount-observer-commands.sh
  ci-operator/step-registry/openshift-qe/virt-density-nomount/openshift-qe-virt-density-nomount-commands.sh
  ci-operator/step-registry/openshift-qe/virt-density/observer/openshift-qe-virt-density-observer-commands.sh
  ci-operator/step-registry/openshift-qe/virt-density/openshift-qe-virt-density-commands.sh
  ci-operator/step-registry/openshift-qe/virt-udn-density/openshift-qe-virt-udn-density-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Split gcp mco g1g2 to p1p2p3 4.16 (#76437)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

remove REMOTE_HOST from step refs to allow boskos injection (#77030)
  ci-operator/step-registry/amd-gpu-operator/deprovision/amd-gpu-operator-deprovision-ref.yaml
  ci-operator/step-registry/amd-gpu-operator/install-operators/amd-gpu-operator-install-operators-ref.yaml
  ci-operator/step-registry/amd-gpu-operator/provision/amd-gpu-operator-provision-ref.yaml
  ci-operator/step-registry/amd-gpu-operator/test/amd-gpu-operator-test-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add SOP for periodic-trigger-mabc-images (#77056)
  docs/dptp-triage-sop/infrastructure-jobs.md
Due: none

rhdh: replace QUAY_REPO override with IMAGE_REPO and IMAGE_REGISTRY (#76964)
  ci-operator/step-registry/redhat-developer/rhdh/aks/helm/nightly/redhat-developer-rhdh-aks-helm-nightly-commands.sh
  ci-operator/step-registry/redhat-developer/rhdh/aks/helm/nightly/redhat-developer-rhdh-aks-helm-nightly-ref.yaml
  ci-operator/step-registry/redhat-developer/rhdh/aks/operator/nightly/redhat-developer-rhdh-aks-operator-nightly-ref.yaml
  ci-operator/step-registry/redhat-developer/rhdh/eks/helm/nightly/redhat-developer-rhdh-eks-helm-nightly-commands.sh
  ci-operator/step-registry/redhat-developer/rhdh/eks/helm/nightly/redhat-developer-rhdh-eks-helm-nightly-ref.yaml
  ci-operator/step-registry/redhat-developer/rhdh/eks/operator/nightly/redhat-developer-rhdh-eks-operator-nightly-ref.yaml
  ci-operator/step-registry/redhat-developer/rhdh/gke/helm/nightly/redhat-developer-rhdh-gke-helm-nightly-commands.sh
  ci-operator/step-registry/redhat-developer/rhdh/gke/helm/nightly/redhat-developer-rhdh-gke-helm-nightly-ref.yaml
  ci-operator/step-registry/redhat-developer/rhdh/gke/operator/nightly/redhat-developer-rhdh-gke-operator-nightly-ref.yaml
  ci-operator/step-registry/redhat-developer/rhdh/ocp/helm/nightly/redhat-developer-rhdh-ocp-helm-nightly-commands.sh
  ci-operator/step-registry/redhat-developer/rhdh/ocp/helm/nightly/redhat-developer-rhdh-ocp-helm-nightly-ref.yaml
  ci-operator/step-registry/redhat-developer/rhdh/ocp/helm/redhat-developer-rhdh-ocp-helm-commands.sh
  ci-operator/step-registry/redhat-developer/rhdh/ocp/helm/redhat-developer-rhdh-ocp-helm-ref.yaml
  ci-operator/step-registry/redhat-developer/rhdh/ocp/helm/upgrade/nightly/redhat-developer-rhdh-ocp-helm-upgrade-nightly-commands.sh
  ci-operator/step-registry/redhat-developer/rhdh/ocp/helm/upgrade/nightly/redhat-developer-rhdh-ocp-helm-upgrade-nightly-ref.yaml
  ci-operator/step-registry/redhat-developer/rhdh/ocp/operator/nightly/redhat-developer-rhdh-ocp-operator-nightly-ref.yaml
  ci-operator/step-registry/redhat-developer/rhdh/osd-gcp/helm/nightly/redhat-developer-rhdh-osd-gcp-helm-nightly-commands.sh
  ci-operator/step-registry/redhat-developer/rhdh/send/data-router/redhat-developer-rhdh-send-data-router-commands.sh
  ci-operator/step-registry/redhat-developer/rhdh/send/data-router/redhat-developer-rhdh-send-data-router-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

neuron-ci: increase deprovision-stacks timeout to 30m (#77078)
  ci-operator/step-registry/aws-neuron-operator/deprovision-stacks/aws-neuron-operator-deprovision-stacks-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Allow group propagates to dex (#77079)
  clusters/app.ci/dex/manifests.yaml
  core-services/ci-secret-generator/_config.yaml
Due: ci/prow/ci-secret-bootstrap-config-validation, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/prow/secret-generator-config-valid, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)
