Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

Offboard archived opendatahub-io/vllm
  ci-operator/config/opendatahub-io/vllm/OWNERS
  ci-operator/config/opendatahub-io/vllm/opendatahub-io-vllm-ibm-dev.yaml
  ci-operator/config/opendatahub-io/vllm/opendatahub-io-vllm-main.yaml
  ci-operator/config/opendatahub-io/vllm/opendatahub-io-vllm-release.yaml
  ci-operator/jobs/opendatahub-io/vllm/OWNERS
  ci-operator/jobs/opendatahub-io/vllm/opendatahub-io-vllm-ibm-dev-postsubmits.yaml
  ci-operator/jobs/opendatahub-io/vllm/opendatahub-io-vllm-ibm-dev-presubmits.yaml
  ci-operator/jobs/opendatahub-io/vllm/opendatahub-io-vllm-main-postsubmits.yaml
  ci-operator/jobs/opendatahub-io/vllm/opendatahub-io-vllm-main-presubmits.yaml
  ci-operator/jobs/opendatahub-io/vllm/opendatahub-io-vllm-release-postsubmits.yaml
  ci-operator/jobs/opendatahub-io/vllm/opendatahub-io-vllm-release-presubmits.yaml
  core-services/prow/02_config/opendatahub-io/vllm/OWNERS
  core-services/prow/02_config/opendatahub-io/vllm/_pluginconfig.yaml
  core-services/prow/02_config/opendatahub-io/vllm/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Offboard archived openshift-agent-team/fleeting
  ci-operator/config/openshift-agent-team/fleeting/OWNERS
  ci-operator/config/openshift-agent-team/fleeting/openshift-agent-team-fleeting-main.yaml
  ci-operator/jobs/openshift-agent-team/fleeting/OWNERS
  ci-operator/jobs/openshift-agent-team/fleeting/openshift-agent-team-fleeting-main-presubmits.yaml
  core-services/prow/02_config/openshift-agent-team/fleeting/OWNERS
  core-services/prow/02_config/openshift-agent-team/fleeting/_pluginconfig.yaml
  core-services/prow/02_config/openshift-agent-team/fleeting/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Offboard archived openshift/cluster-api-provider-powervs
  ci-operator/config/openshift/cluster-api-provider-powervs/OWNERS
  ci-operator/config/openshift/cluster-api-provider-powervs/openshift-cluster-api-provider-powervs-main.yaml
  ci-operator/config/openshift/cluster-api-provider-powervs/openshift-cluster-api-provider-powervs-release-4.10.yaml
  ci-operator/config/openshift/cluster-api-provider-powervs/openshift-cluster-api-provider-powervs-release-4.11.yaml
  ci-operator/config/openshift/cluster-api-provider-powervs/openshift-cluster-api-provider-powervs-release-4.9.yaml
  ci-operator/jobs/openshift/cluster-api-provider-powervs/OWNERS
  ci-operator/jobs/openshift/cluster-api-provider-powervs/openshift-cluster-api-provider-powervs-main-postsubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-powervs/openshift-cluster-api-provider-powervs-main-presubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-powervs/openshift-cluster-api-provider-powervs-release-4.10-postsubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-powervs/openshift-cluster-api-provider-powervs-release-4.10-presubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-powervs/openshift-cluster-api-provider-powervs-release-4.11-postsubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-powervs/openshift-cluster-api-provider-powervs-release-4.11-presubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-powervs/openshift-cluster-api-provider-powervs-release-4.9-postsubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-powervs/openshift-cluster-api-provider-powervs-release-4.9-presubmits.yaml
  core-services/prow/02_config/openshift/cluster-api-provider-powervs/OWNERS
  core-services/prow/02_config/openshift/cluster-api-provider-powervs/_pluginconfig.yaml
  core-services/prow/02_config/openshift/cluster-api-provider-powervs/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Offboard archived openshift/community
  core-services/prow/02_config/openshift/community/OWNERS
  core-services/prow/02_config/openshift/community/_pluginconfig.yaml
  core-services/prow/02_config/openshift/community/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Offboard archived openshift-eng/edge-hiring
  core-services/prow/02_config/openshift-eng/edge-hiring/OWNERS
  core-services/prow/02_config/openshift-eng/edge-hiring/_pluginconfig.yaml
  core-services/prow/02_config/openshift-eng/edge-hiring/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Offboard archived openshift-eng/ocp-build-data-validator
  core-services/prow/02_config/openshift-eng/ocp-build-data-validator/OWNERS
  core-services/prow/02_config/openshift-eng/ocp-build-data-validator/_pluginconfig.yaml
  core-services/prow/02_config/openshift-eng/ocp-build-data-validator/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Offboard archived openshift/hac-core
  ci-operator/config/openshift/hac-core/OWNERS
  ci-operator/config/openshift/hac-core/openshift-hac-core-main.yaml
  ci-operator/jobs/openshift/hac-core/OWNERS
  ci-operator/jobs/openshift/hac-core/openshift-hac-core-main-postsubmits.yaml
  ci-operator/jobs/openshift/hac-core/openshift-hac-core-main-presubmits.yaml
  core-services/prow/02_config/openshift/hac-core/OWNERS
  core-services/prow/02_config/openshift/hac-core/_pluginconfig.yaml
  core-services/prow/02_config/openshift/hac-core/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Offboard archived openshift/hac-dev
  ci-operator/config/openshift/hac-dev/OWNERS
  ci-operator/config/openshift/hac-dev/openshift-hac-dev-main.yaml
  ci-operator/jobs/openshift/hac-dev/OWNERS
  ci-operator/jobs/openshift/hac-dev/openshift-hac-dev-main-postsubmits.yaml
  ci-operator/jobs/openshift/hac-dev/openshift-hac-dev-main-presubmits.yaml
  core-services/prow/02_config/openshift/hac-dev/OWNERS
  core-services/prow/02_config/openshift/hac-dev/_pluginconfig.yaml
  core-services/prow/02_config/openshift/hac-dev/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Offboard archived openshift-hyperfleet/adapter-landing-zone
  ci-operator/config/openshift-hyperfleet/adapter-landing-zone/OWNERS
  ci-operator/config/openshift-hyperfleet/adapter-landing-zone/openshift-hyperfleet-adapter-landing-zone-main.yaml
  ci-operator/jobs/openshift-hyperfleet/adapter-landing-zone/OWNERS
  ci-operator/jobs/openshift-hyperfleet/adapter-landing-zone/openshift-hyperfleet-adapter-landing-zone-main-presubmits.yaml
  core-services/prow/02_config/openshift-hyperfleet/adapter-landing-zone/OWNERS
  core-services/prow/02_config/openshift-hyperfleet/adapter-landing-zone/_pluginconfig.yaml
  core-services/prow/02_config/openshift-hyperfleet/adapter-landing-zone/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Offboard archived openshift-hyperfleet/adapter-pull-secret
  ci-operator/config/openshift-hyperfleet/adapter-pull-secret/OWNERS
  ci-operator/config/openshift-hyperfleet/adapter-pull-secret/openshift-hyperfleet-adapter-pull-secret-main.yaml
  ci-operator/config/openshift-hyperfleet/adapter-pull-secret/openshift-hyperfleet-adapter-pull-secret-main__images.yaml
  ci-operator/config/openshift-hyperfleet/adapter-pull-secret/openshift-hyperfleet-adapter-pull-secret-main__presubmits.yaml
  ci-operator/jobs/openshift-hyperfleet/adapter-pull-secret/OWNERS
  ci-operator/jobs/openshift-hyperfleet/adapter-pull-secret/openshift-hyperfleet-adapter-pull-secret-main-postsubmits.yaml
  ci-operator/jobs/openshift-hyperfleet/adapter-pull-secret/openshift-hyperfleet-adapter-pull-secret-main-presubmits.yaml
  core-services/prow/02_config/openshift-hyperfleet/adapter-pull-secret/OWNERS
  core-services/prow/02_config/openshift-hyperfleet/adapter-pull-secret/_pluginconfig.yaml
  core-services/prow/02_config/openshift-hyperfleet/adapter-pull-secret/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Offboard archived openshift-hyperfleet/adapter-validation-gcp
  core-services/prow/02_config/openshift-hyperfleet/adapter-validation-gcp/OWNERS
  core-services/prow/02_config/openshift-hyperfleet/adapter-validation-gcp/_pluginconfig.yaml
  core-services/prow/02_config/openshift-hyperfleet/adapter-validation-gcp/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Offboard archived openshift-hyperfleet/hyperfleet-chart
  ci-operator/config/openshift-hyperfleet/hyperfleet-chart/OWNERS
  ci-operator/config/openshift-hyperfleet/hyperfleet-chart/openshift-hyperfleet-hyperfleet-chart-main__deployment.yaml
  ci-operator/jobs/openshift-hyperfleet/hyperfleet-chart/OWNERS
  ci-operator/jobs/openshift-hyperfleet/hyperfleet-chart/openshift-hyperfleet-hyperfleet-chart-main-periodics.yaml
  ci-operator/jobs/openshift-hyperfleet/hyperfleet-chart/openshift-hyperfleet-hyperfleet-chart-main-presubmits.yaml
  core-services/prow/02_config/openshift-hyperfleet/hyperfleet-chart/OWNERS
  core-services/prow/02_config/openshift-hyperfleet/hyperfleet-chart/_pluginconfig.yaml
  core-services/prow/02_config/openshift-hyperfleet/hyperfleet-chart/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Offboard archived openshift-hyperfleet/status-reporter
  ci-operator/config/openshift-hyperfleet/status-reporter/OWNERS
  ci-operator/config/openshift-hyperfleet/status-reporter/openshift-hyperfleet-status-reporter-main.yaml
  ci-operator/config/openshift-hyperfleet/status-reporter/openshift-hyperfleet-status-reporter-main__images.yaml
  ci-operator/config/openshift-hyperfleet/status-reporter/openshift-hyperfleet-status-reporter-main__presubmits.yaml
  ci-operator/jobs/openshift-hyperfleet/status-reporter/OWNERS
  ci-operator/jobs/openshift-hyperfleet/status-reporter/openshift-hyperfleet-status-reporter-main-postsubmits.yaml
  ci-operator/jobs/openshift-hyperfleet/status-reporter/openshift-hyperfleet-status-reporter-main-presubmits.yaml
  core-services/prow/02_config/openshift-hyperfleet/status-reporter/OWNERS
  core-services/prow/02_config/openshift-hyperfleet/status-reporter/_pluginconfig.yaml
  core-services/prow/02_config/openshift-hyperfleet/status-reporter/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Offboard archived openshift/hypershift-toolkit
  ci-operator/config/openshift/hypershift-toolkit/OWNERS
  ci-operator/config/openshift/hypershift-toolkit/openshift-hypershift-toolkit-master.yaml
  ci-operator/config/openshift/hypershift-toolkit/openshift-hypershift-toolkit-release-4.2.yaml
  ci-operator/config/openshift/hypershift-toolkit/openshift-hypershift-toolkit-release-4.3.yaml
  ci-operator/config/openshift/hypershift-toolkit/openshift-hypershift-toolkit-release-4.4.yaml
  ci-operator/config/openshift/hypershift-toolkit/openshift-hypershift-toolkit-release-4.5.yaml
  ci-operator/jobs/openshift/hypershift-toolkit/OWNERS
  ci-operator/jobs/openshift/hypershift-toolkit/openshift-hypershift-toolkit-master-postsubmits.yaml
  ci-operator/jobs/openshift/hypershift-toolkit/openshift-hypershift-toolkit-master-presubmits.yaml
  ci-operator/jobs/openshift/hypershift-toolkit/openshift-hypershift-toolkit-release-4.2-postsubmits.yaml
  ci-operator/jobs/openshift/hypershift-toolkit/openshift-hypershift-toolkit-release-4.2-presubmits.yaml
  ci-operator/jobs/openshift/hypershift-toolkit/openshift-hypershift-toolkit-release-4.3-periodics.yaml
  ci-operator/jobs/openshift/hypershift-toolkit/openshift-hypershift-toolkit-release-4.3-postsubmits.yaml
  ci-operator/jobs/openshift/hypershift-toolkit/openshift-hypershift-toolkit-release-4.3-presubmits.yaml
  ci-operator/jobs/openshift/hypershift-toolkit/openshift-hypershift-toolkit-release-4.4-periodics.yaml
  ci-operator/jobs/openshift/hypershift-toolkit/openshift-hypershift-toolkit-release-4.4-postsubmits.yaml
  ci-operator/jobs/openshift/hypershift-toolkit/openshift-hypershift-toolkit-release-4.4-presubmits.yaml
  ci-operator/jobs/openshift/hypershift-toolkit/openshift-hypershift-toolkit-release-4.5-postsubmits.yaml
  ci-operator/jobs/openshift/hypershift-toolkit/openshift-hypershift-toolkit-release-4.5-presubmits.yaml
  core-services/prow/02_config/openshift/hypershift-toolkit/OWNERS
  core-services/prow/02_config/openshift/hypershift-toolkit/_pluginconfig.yaml
  core-services/prow/02_config/openshift/hypershift-toolkit/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Offboard archived openshift/installer-aro
  ci-operator/jobs/openshift/installer-aro/OWNERS
  core-services/prow/02_config/openshift/installer-aro/OWNERS
  core-services/prow/02_config/openshift/installer-aro/_pluginconfig.yaml
  core-services/prow/02_config/openshift/installer-aro/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-semantics

Offboard archived openshift/knative-eventing
  core-services/prow/02_config/openshift/knative-eventing/OWNERS
  core-services/prow/02_config/openshift/knative-eventing/_pluginconfig.yaml
  core-services/prow/02_config/openshift/knative-eventing/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Offboard archived openshift-kni/mixed-cpu-node-plugin
  ci-operator/config/openshift-kni/mixed-cpu-node-plugin/OWNERS
  ci-operator/config/openshift-kni/mixed-cpu-node-plugin/openshift-kni-mixed-cpu-node-plugin-main.yaml
  ci-operator/jobs/openshift-kni/mixed-cpu-node-plugin/OWNERS
  ci-operator/jobs/openshift-kni/mixed-cpu-node-plugin/openshift-kni-mixed-cpu-node-plugin-main-postsubmits.yaml
  ci-operator/jobs/openshift-kni/mixed-cpu-node-plugin/openshift-kni-mixed-cpu-node-plugin-main-presubmits.yaml
  core-services/prow/02_config/openshift-kni/mixed-cpu-node-plugin/OWNERS
  core-services/prow/02_config/openshift-kni/mixed-cpu-node-plugin/_pluginconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Offboard archived openshift-kni/node-label-operator
  ci-operator/jobs/openshift-kni/node-label-operator/OWNERS
  core-services/prow/02_config/openshift-kni/node-label-operator/OWNERS
  core-services/prow/02_config/openshift-kni/node-label-operator/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-semantics

Offboard archived openshift-kni/resource-topology-exporter
  ci-operator/jobs/openshift-kni/resource-topology-exporter/OWNERS
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Offboard archived openshift/lvm-driver
  ci-operator/jobs/openshift/lvm-driver/OWNERS
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Offboard archived openshift/managed-release-bundle-osd
  ci-operator/config/openshift/managed-release-bundle-osd/OWNERS
  ci-operator/config/openshift/managed-release-bundle-osd/openshift-managed-release-bundle-osd-main.yaml
  ci-operator/config/openshift/managed-release-bundle-osd/openshift-managed-release-bundle-osd-release-4.12.yaml
  ci-operator/config/openshift/managed-release-bundle-osd/openshift-managed-release-bundle-osd-release-4.13.yaml
  ci-operator/config/openshift/managed-release-bundle-osd/openshift-managed-release-bundle-osd-release-4.14.yaml
  ci-operator/config/openshift/managed-release-bundle-osd/openshift-managed-release-bundle-osd-release-4.15.yaml
  ci-operator/config/openshift/managed-release-bundle-osd/openshift-managed-release-bundle-osd-release-4.16.yaml
  ci-operator/config/openshift/managed-release-bundle-osd/openshift-managed-release-bundle-osd-release-4.17.yaml
  ci-operator/jobs/openshift/managed-release-bundle-osd/OWNERS
  ci-operator/jobs/openshift/managed-release-bundle-osd/openshift-managed-release-bundle-osd-main-presubmits.yaml
  ci-operator/jobs/openshift/managed-release-bundle-osd/openshift-managed-release-bundle-osd-release-4.12-presubmits.yaml
  ci-operator/jobs/openshift/managed-release-bundle-osd/openshift-managed-release-bundle-osd-release-4.13-presubmits.yaml
  ci-operator/jobs/openshift/managed-release-bundle-osd/openshift-managed-release-bundle-osd-release-4.14-presubmits.yaml
  ci-operator/jobs/openshift/managed-release-bundle-osd/openshift-managed-release-bundle-osd-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift/managed-release-bundle-osd/openshift-managed-release-bundle-osd-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift/managed-release-bundle-osd/openshift-managed-release-bundle-osd-release-4.17-presubmits.yaml
  core-services/prow/02_config/openshift/managed-release-bundle-osd/OWNERS
  core-services/prow/02_config/openshift/managed-release-bundle-osd/_pluginconfig.yaml
  core-services/prow/02_config/openshift/managed-release-bundle-osd/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Offboard archived openshift-online/ocm-cluster-service
  ci-operator/config/openshift-online/ocm-cluster-service/OWNERS
  ci-operator/config/openshift-online/ocm-cluster-service/openshift-online-ocm-cluster-service-main.yaml
  ci-operator/jobs/openshift-online/ocm-cluster-service/OWNERS
  ci-operator/jobs/openshift-online/ocm-cluster-service/openshift-online-ocm-cluster-service-main-presubmits.yaml
  core-services/prow/02_config/openshift-online/ocm-cluster-service/OWNERS
  core-services/prow/02_config/openshift-online/ocm-cluster-service/_pluginconfig.yaml
  core-services/prow/02_config/openshift-online/ocm-cluster-service/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Offboard archived openshift/osd-alert-analysis
  ci-operator/config/openshift/osd-alert-analysis/OWNERS
  ci-operator/config/openshift/osd-alert-analysis/openshift-osd-alert-analysis-main.yaml
  ci-operator/jobs/openshift/osd-alert-analysis/OWNERS
  ci-operator/jobs/openshift/osd-alert-analysis/openshift-osd-alert-analysis-main-presubmits.yaml
  core-services/prow/02_config/openshift/osd-alert-analysis/OWNERS
  core-services/prow/02_config/openshift/osd-alert-analysis/_pluginconfig.yaml
  core-services/prow/02_config/openshift/osd-alert-analysis/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Offboard archived openshift-pipelines/setup-tektoncd
  core-services/prow/02_config/openshift-pipelines/setup-tektoncd/OWNERS
  core-services/prow/02_config/openshift-pipelines/setup-tektoncd/_pluginconfig.yaml
  core-services/prow/02_config/openshift-pipelines/setup-tektoncd/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Offboard archived openshift-priv/cluster-api-provider-powervs
  ci-operator/config/openshift-priv/cluster-api-provider-powervs/openshift-priv-cluster-api-provider-powervs-main.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-powervs/openshift-priv-cluster-api-provider-powervs-release-4.10.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-powervs/openshift-priv-cluster-api-provider-powervs-release-4.11.yaml
  ci-operator/config/openshift-priv/cluster-api-provider-powervs/openshift-priv-cluster-api-provider-powervs-release-4.9.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-powervs/openshift-priv-cluster-api-provider-powervs-main-postsubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-powervs/openshift-priv-cluster-api-provider-powervs-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-powervs/openshift-priv-cluster-api-provider-powervs-release-4.10-postsubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-powervs/openshift-priv-cluster-api-provider-powervs-release-4.10-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-powervs/openshift-priv-cluster-api-provider-powervs-release-4.11-postsubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-powervs/openshift-priv-cluster-api-provider-powervs-release-4.11-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-powervs/openshift-priv-cluster-api-provider-powervs-release-4.9-postsubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-api-provider-powervs/openshift-priv-cluster-api-provider-powervs-release-4.9-presubmits.yaml
  core-services/prow/02_config/openshift-priv/cluster-api-provider-powervs/_pluginconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Offboard archived openshift-priv/installer-aro
  core-services/prow/02_config/openshift-priv/installer-aro/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Offboard archived openshift-priv/managed-release-bundle-osd
  ci-operator/config/openshift-priv/managed-release-bundle-osd/openshift-priv-managed-release-bundle-osd-release-4.12.yaml
  ci-operator/config/openshift-priv/managed-release-bundle-osd/openshift-priv-managed-release-bundle-osd-release-4.13.yaml
  ci-operator/config/openshift-priv/managed-release-bundle-osd/openshift-priv-managed-release-bundle-osd-release-4.14.yaml
  ci-operator/config/openshift-priv/managed-release-bundle-osd/openshift-priv-managed-release-bundle-osd-release-4.15.yaml
  ci-operator/config/openshift-priv/managed-release-bundle-osd/openshift-priv-managed-release-bundle-osd-release-4.16.yaml
  ci-operator/config/openshift-priv/managed-release-bundle-osd/openshift-priv-managed-release-bundle-osd-release-4.17.yaml
  ci-operator/jobs/openshift-priv/managed-release-bundle-osd/openshift-priv-managed-release-bundle-osd-release-4.12-presubmits.yaml
  ci-operator/jobs/openshift-priv/managed-release-bundle-osd/openshift-priv-managed-release-bundle-osd-release-4.13-presubmits.yaml
  ci-operator/jobs/openshift-priv/managed-release-bundle-osd/openshift-priv-managed-release-bundle-osd-release-4.14-presubmits.yaml
  ci-operator/jobs/openshift-priv/managed-release-bundle-osd/openshift-priv-managed-release-bundle-osd-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift-priv/managed-release-bundle-osd/openshift-priv-managed-release-bundle-osd-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift-priv/managed-release-bundle-osd/openshift-priv-managed-release-bundle-osd-release-4.17-presubmits.yaml
  core-services/prow/02_config/openshift-priv/managed-release-bundle-osd/_pluginconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Offboard archived openshift-priv/stolostron-addon-framework
  core-services/prow/02_config/openshift-priv/stolostron-addon-framework/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Offboard archived openshift-priv/stolostron-search-v2-operator-bundle
  core-services/prow/02_config/openshift-priv/stolostron-search-v2-operator-bundle/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Offboard archived openshift-psap/ci-artifacts
  ci-operator/jobs/openshift-psap/ci-artifacts/OWNERS
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Offboard archived openshift/redhat-release-coreos
  core-services/prow/02_config/openshift/redhat-release-coreos/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Offboard archived openshift/rhcos-tools
  ci-operator/config/openshift/rhcos-tools/OWNERS
  ci-operator/jobs/openshift/rhcos-tools/OWNERS
  core-services/prow/02_config/openshift/rhcos-tools/OWNERS
  core-services/prow/02_config/openshift/rhcos-tools/_pluginconfig.yaml
  core-services/prow/02_config/openshift/rhcos-tools/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Offboard archived openshift/static-config-operator
  ci-operator/config/openshift/static-config-operator/OWNERS
  ci-operator/config/openshift/static-config-operator/openshift-static-config-operator-master.yaml
  ci-operator/jobs/openshift/static-config-operator/OWNERS
  ci-operator/jobs/openshift/static-config-operator/openshift-static-config-operator-master-presubmits.yaml
  core-services/prow/02_config/openshift/static-config-operator/OWNERS
  core-services/prow/02_config/openshift/static-config-operator/_pluginconfig.yaml
  core-services/prow/02_config/openshift/static-config-operator/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Offboard archived openstack-k8s-operators/openstack-ansibleee-operator
  ci-operator/config/openstack-k8s-operators/openstack-ansibleee-operator/OWNERS
  ci-operator/config/openstack-k8s-operators/openstack-ansibleee-operator/openstack-k8s-operators-openstack-ansibleee-operator-18.0-fr5.yaml
  ci-operator/config/openstack-k8s-operators/openstack-ansibleee-operator/openstack-k8s-operators-openstack-ansibleee-operator-main.yaml
  ci-operator/jobs/openstack-k8s-operators/openstack-ansibleee-operator/OWNERS
  ci-operator/jobs/openstack-k8s-operators/openstack-ansibleee-operator/openstack-k8s-operators-openstack-ansibleee-operator-18.0-fr5-presubmits.yaml
  ci-operator/jobs/openstack-k8s-operators/openstack-ansibleee-operator/openstack-k8s-operators-openstack-ansibleee-operator-main-presubmits.yaml
  core-services/prow/02_config/openstack-k8s-operators/openstack-ansibleee-operator/OWNERS
  core-services/prow/02_config/openstack-k8s-operators/openstack-ansibleee-operator/_pluginconfig.yaml
  core-services/prow/02_config/openstack-k8s-operators/openstack-ansibleee-operator/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Offboard archived openstack-k8s-operators/openstack-tests-list
  core-services/prow/02_config/openstack-k8s-operators/openstack-tests-list/OWNERS
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Offboard archived operator-framework/community-operators
  ci-operator/config/operator-framework/community-operators/OWNERS
  ci-operator/config/operator-framework/community-operators/operator-framework-community-operators-master__4.6.yaml
  ci-operator/config/operator-framework/community-operators/operator-framework-community-operators-master__4.7.yaml
  ci-operator/config/operator-framework/community-operators/operator-framework-community-operators-master__4.8.yaml
  ci-operator/jobs/operator-framework/community-operators/OWNERS
  ci-operator/jobs/operator-framework/community-operators/operator-framework-community-operators-master-presubmits.yaml
  core-services/prow/02_config/operator-framework/community-operators/_pluginconfig.yaml
  core-services/prow/02_config/operator-framework/community-operators/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Offboard archived quay/config-tool
  core-services/prow/02_config/quay/config-tool/OWNERS
  core-services/prow/02_config/quay/config-tool/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Offboard archived quay/quay-ui
  core-services/prow/02_config/quay/quay-ui/OWNERS
  core-services/prow/02_config/quay/quay-ui/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Offboard archived redhat-appstudio/rhtap-installer
  ci-operator/jobs/redhat-appstudio/rhtap-installer/OWNERS
  core-services/prow/02_config/redhat-appstudio/rhtap-installer/OWNERS
  core-services/prow/02_config/redhat-appstudio/rhtap-installer/_pluginconfig.yaml
  core-services/prow/02_config/redhat-appstudio/rhtap-installer/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-semantics

Offboard archived redhat-developer/devconsole-api
  ci-operator/config/redhat-developer/devconsole-api/OWNERS
  ci-operator/config/redhat-developer/devconsole-api/redhat-developer-devconsole-api-master.yaml
  ci-operator/jobs/redhat-developer/devconsole-api/OWNERS
  ci-operator/jobs/redhat-developer/devconsole-api/redhat-developer-devconsole-api-master-presubmits.yaml
  core-services/prow/02_config/redhat-developer/devconsole-api/OWNERS
  core-services/prow/02_config/redhat-developer/devconsole-api/_pluginconfig.yaml
  core-services/prow/02_config/redhat-developer/devconsole-api/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics
