Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

services-valid:
  commands: make check-services
  container:
    from: src

ci/openshift/promrules:
  decorate: true
  spec:
    containers:
    - command:
      - /go/entrypoint.sh
      image: registry.svc.ci.openshift.org/ci/promrules:latest
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
          cpu: 500m
        requests:
          cpu: 10m

ci/prow/pylint:
  decorate: true
  spec:
    containers:
    - args:
      - --rcfile=hack/.pylintrc
      - --ignore=lib
      - --persistent=n
      - hack
      command:
      - pylint
      image: registry.svc.ci.openshift.org/ci/python-validation
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
  ...

ci/prow/services-valid:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/stackrox-stackrox-stackrox-stackrox-check:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: stackrox-stackrox
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

branch-ci-openshift-release-master-gsm-secrets-reconciler:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/sync-rover-groups/_config.yaml
      - --log-level=info
      - --gcp-service-account-key-file=/tmp/gcp-credentials/key.json
      command:
      - gsm-secret-sync
      env:
  ...

branch-ci-openshift-release-master-label-sync:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/prow/02_config/_labels.yaml
      - --confirm=true
  ...

ci/prow/check-cluster-profiles-config:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    automountServiceAccountToken: true
    containers:
    - args:
      - --config-path=./ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml
      command:
      - check-cluster-profiles-config
  ...

ci/prow/check-gh-automation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --bot=openshift-merge-robot
      - --bot=openshift-ci-robot
      - --app=openshift-ci
      - --app-check-mode=standard
      - --candidate-path=.
  ...

ci/prow/check-gh-automation-tide:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --app=openshift-merge-bot
      - --app-check-mode=tide
      - --candidate-path=.
      - --config-path=./core-services/prow/02_config/_config.yaml
  ...

fix: disable errexit so missing commands don't abort
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-skip-test-bin-build.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

fix: use from:root to skip src clone entirely
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-skip-test-bin-build.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

cert-manager-operator: increase CI pod memory resources
  ci-operator/config/openshift/cert-manager-operator/openshift-cert-manager-operator-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci: improve image-based e2e step reliability with retries and validation
  ci-operator/step-registry/openshift/image-based/infra/aws/ec2/openshift-image-based-infra-aws-ec2-commands.sh
  ci-operator/step-registry/openshift/image-based/install/openshift-image-based-install-commands.sh
  ci-operator/step-registry/openshift/image-based/network-configuration/configure/openshift-image-based-network-configuration-configure-commands.sh
  ci-operator/step-registry/openshift/image-based/network-configuration/configure/openshift-image-based-network-configuration-configure-ref.yaml
  ci-operator/step-registry/openshift/image-based/upgrade/metal/config/openshift-image-based-upgrade-metal-config-commands.sh
  ci-operator/step-registry/openshift/image-based/upgrade/seed/create/openshift-image-based-upgrade-seed-create-commands.sh
  ci-operator/step-registry/openshift/image-based/upgrade/target/openshift-image-based-upgrade-target-commands.sh
  ci-operator/step-registry/openshift/image-based/upgrade/target/openshift-image-based-upgrade-target-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ci: fold seed-gather retry and dual-stack upgrade timeout from #84218
  ci-operator/config/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-main.yaml
  ci-operator/step-registry/openshift/image-based/upgrade/seed/gather/lca/openshift-image-based-upgrade-seed-gather-lca-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

DPTP-5324: move periodic-ipi-deprovision-aws jobs to STS
  ci-operator/jobs/infra-build-farm-periodics.yaml
  core-services/ipi-deprovision/aws.sh
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

cert-manager-operator: improve resources and quoting for metal-ipi job
  ci-operator/config/openshift/cert-manager-operator/openshift-cert-manager-operator-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

CM-716: Add baremetal e2e CI job for cert-manager-operator
  ci-operator/config/openshift/cert-manager-operator/openshift-cert-manager-operator-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci: regenerate cert-manager-operator metal-ipi presubmit after rebase
  ci-operator/jobs/openshift/cert-manager-operator/openshift-cert-manager-operator-master-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

NO-JIRA: Refresh GitHub App tokens before review-responder writes. (#85421)
  ci-operator/step-registry/openshift/agentic/trt/eval/init/openshift-agentic-trt-eval-init-commands.sh
  ci-operator/step-registry/openshift/agentic/trt/eval/solve/openshift-agentic-trt-eval-solve-commands.sh
  ci-operator/step-registry/openshift/agentic/trt/github-app-auth/openshift-agentic-trt-github-app-auth-commands.sh
  ci-operator/step-registry/openshift/agentic/trt/github-app-auth/openshift-agentic-trt-github-app-auth-ref.yaml
  ci-operator/step-registry/openshift/agentic/trt/init/openshift-agentic-trt-init-commands.sh
  ci-operator/step-registry/openshift/agentic/trt/jira-solver/openshift-agentic-trt-jira-solver-commands.sh
  ci-operator/step-registry/openshift/agentic/trt/pr-followup/openshift-agentic-trt-pr-followup-commands.sh
  ci-operator/step-registry/openshift/agentic/trt/review-responder-eval/init/openshift-agentic-trt-review-responder-eval-init-commands.sh
  ci-operator/step-registry/openshift/agentic/trt/review-responder-eval/respond/openshift-agentic-trt-review-responder-eval-respond-commands.sh
  ci-operator/step-registry/openshift/agentic/trt/review-responder/openshift-agentic-trt-review-responder-commands.sh
  ci-operator/step-registry/openshift/agentic/trt/review-responder/openshift-agentic-trt-review-responder-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Adding PerfScale IBMCloud jp (#85436)
  core-services/prow/02_config/_boskos.yaml
  core-services/prow/02_config/generate-boskos.py
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Configure MLflow operator to use squash merges
  core-services/prow/02_config/opendatahub-io/mlflow-operator/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

fix: capture full env values to private bucket, delete local copies
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-skip-test-bin-build.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

fix: read GCP key file directly, don't bulk-export vault secrets
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-skip-test-bin-build.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

fix: export vault creds with VAULT_{collection}__{name} prefix
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-skip-test-bin-build.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Sort Boskos running-clusters tooltip values descending.
  clusters/app.ci/openshift-user-workload-monitoring/mixins/_grafana_dashboards/boskos.jsonnet
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

fix: claim abandoned quay-tests secrets for quay-devel rover group
  core-services/sync-rover-groups/_config.yaml
Due: branch-ci-openshift-release-master-gsm-secrets-reconciler, ci/prow/sync-rover-groups

NO-JIRA: move KMS dual-stack periodics to release-5.1
  ci-operator/config/openshift/cluster-kube-apiserver-operator/openshift-cluster-kube-apiserver-operator-main__periodics.yaml
  ci-operator/config/openshift/cluster-kube-apiserver-operator/openshift-cluster-kube-apiserver-operator-release-5.1__periodics.yaml
  ci-operator/jobs/openshift/cluster-kube-apiserver-operator/openshift-cluster-kube-apiserver-operator-main-periodics.yaml
  ci-operator/jobs/openshift/cluster-kube-apiserver-operator/openshift-cluster-kube-apiserver-operator-release-5.1-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

feat(jira): trust Chai for HyperShift verification
  core-services/jira-lifecycle-plugin/config.yaml
Due: ci/prow/jira-lifecycle-config

Update migtools/oadp-cli oadp-dev, oadp-1.5, oadp-1.6 builder to ubi9-v1.26
  ci-operator/config/migtools/oadp-cli/migtools-oadp-cli-oadp-1.5.yaml
  ci-operator/config/migtools/oadp-cli/migtools-oadp-cli-oadp-1.6.yaml
  ci-operator/config/migtools/oadp-cli/migtools-oadp-cli-oadp-dev.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Remove leftover ship-help-bot deployment from app.ci
  clusters/app.ci/assets/ship-help-bot.yaml
  core-services/ci-secret-bootstrap/gsm-config.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

rosa-operator-install: add diagnostics on ClusterPackage pause timeout
  ci-operator/step-registry/rosa/operator/install/rosa-operator-install-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

OLS-3673: run Lightspeed evaluation periodics only on 4.22
  ci-operator/config/openshift/lightspeed-service/openshift-lightspeed-service-main__4.20.yaml
  ci-operator/config/openshift/lightspeed-service/openshift-lightspeed-service-main__4.22.yaml
  ci-operator/jobs/openshift/lightspeed-service/openshift-lightspeed-service-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

rosa-backend-tests: update build root to Go 1.26 for Go 1.26.8 compatibility
  ci-operator/config/openshift-online/rosa-backend-tests/openshift-online-rosa-backend-tests-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add AWS disruptive OTE CI lane for ovn-kubernetes (#85072)
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-main.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add jq to cli-with-git image for stolostron/policy-collection configs (#85235)
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__opp--ocp-4.22-lpMainline-lp-interop.yaml
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__opp--ocp-5.0-lpMainline-lp-interop.yaml
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__opp--ocp-5.1-lpMainline-lp-interop.yaml
  ci-operator/config/stolostron/policy-collection/stolostron-policy-collection-main__ocp4.22-fips.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

SDCICD-2002: Enable jira-lifecycle-plugin for openshift-online repos (#85420)
  core-services/prow/02_config/openshift-online/argya/_pluginconfig.yaml
  core-services/prow/02_config/openshift-online/argya/_prowconfig.yaml
  core-services/prow/02_config/openshift-online/hp-gitops-manifests/_pluginconfig.yaml
  core-services/prow/02_config/openshift-online/hp-gitops-manifests/_prowconfig.yaml
  core-services/prow/02_config/openshift-online/hp-gitops-tenants/_pluginconfig.yaml
  core-services/prow/02_config/openshift-online/hp-gitops-tenants/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

ci(hypershift): pass explicit --zone to GCP cluster creation (#85479)
  ci-operator/step-registry/hypershift/gcp/create/hypershift-gcp-create-chain.yaml
  ci-operator/step-registry/hypershift/gcp/gke/e2e-v2/hypershift-gcp-gke-e2e-v2-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

INTEROP-9457: Enable OPP Component Readiness jobs for OCP 5.0 (#85485)
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__opp--ocp-5.0-lpMainline-lp-interop.yaml
  ci-operator/jobs/RedHatQE/interop-testing/RedHatQE-interop-testing-master-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

INTEROP-9458: Enable OPP Component Readiness jobs for OCP 5.1 (#85486)
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__opp--ocp-5.1-lpMainline-lp-interop.yaml
  ci-operator/jobs/RedHatQE/interop-testing/RedHatQE-interop-testing-master-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

ci-operator: config: openshift-psap/forge/openshift-psap-forge-main: add the psap-fournos-intlab-ci secret (#85488)
  ci-operator/config/openshift-psap/forge/openshift-psap-forge-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

DPF: move to multi arch (#85490)
  ci-operator/config/rh-ecosystem-edge/openshift-dpf/rh-ecosystem-edge-openshift-dpf-main.yaml
  ci-operator/config/rh-ecosystem-edge/openshift-dpf/rh-ecosystem-edge-openshift-dpf-main__nightly-4.22.yaml
  ci-operator/config/rh-ecosystem-edge/openshift-dpf/rh-ecosystem-edge-openshift-dpf-release-4.22.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Removing the claude AI analysis test step from multi-arch workflows (#85491)
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.22.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.23.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-5.0.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-5.1.yaml
  ci-operator/step-registry/openshift/e2e/libvirt/upi/fips/openshift-e2e-libvirt-upi-fips-workflow.yaml
  ci-operator/step-registry/openshift/e2e/libvirt/vpn/fips/openshift-e2e-libvirt-vpn-fips-workflow.yaml
  ci-operator/step-registry/openshift/e2e/powervc/ipi/openshift-e2e-powervc-ipi-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update OADP builder images to ubi9-v1.26
  ci-operator/config/openshift/hypershift-oadp-plugin/openshift-hypershift-oadp-plugin-main.yaml
  ci-operator/config/openshift/hypershift-oadp-plugin/openshift-hypershift-oadp-plugin-release-4.20.yaml
  ci-operator/config/openshift/hypershift-oadp-plugin/openshift-hypershift-oadp-plugin-release-4.21.yaml
  ci-operator/config/openshift/hypershift-oadp-plugin/openshift-hypershift-oadp-plugin-release-4.22.yaml
  ci-operator/config/openshift/hypershift-oadp-plugin/openshift-hypershift-oadp-plugin-release-4.23.yaml
  ci-operator/config/openshift/hypershift-oadp-plugin/openshift-hypershift-oadp-plugin-release-5.0.yaml
  ci-operator/config/openshift/hypershift-oadp-plugin/openshift-hypershift-oadp-plugin-release-5.1.yaml
  ci-operator/config/openshift/hypershift-oadp-plugin/openshift-hypershift-oadp-plugin-release-5.2.yaml
  ci-operator/config/openshift/oadp-must-gather/openshift-oadp-must-gather-oadp-1.4.yaml
  ci-operator/config/openshift/oadp-must-gather/openshift-oadp-must-gather-oadp-1.5.yaml
  ci-operator/config/openshift/oadp-must-gather/openshift-oadp-must-gather-oadp-dev.yaml
  ci-operator/config/openshift/openshift-velero-plugin/openshift-openshift-velero-plugin-oadp-1.4.yaml
  ci-operator/config/openshift/openshift-velero-plugin/openshift-openshift-velero-plugin-oadp-1.5.yaml
  ci-operator/config/openshift/openshift-velero-plugin/openshift-openshift-velero-plugin-oadp-1.6.yaml
  ci-operator/config/openshift/openshift-velero-plugin/openshift-openshift-velero-plugin-oadp-dev.yaml
  ci-operator/config/openshift/velero-plugin-for-aws/openshift-velero-plugin-for-aws-oadp-1.4.yaml
  ci-operator/config/openshift/velero-plugin-for-aws/openshift-velero-plugin-for-aws-oadp-1.5.yaml
  ci-operator/config/openshift/velero-plugin-for-aws/openshift-velero-plugin-for-aws-oadp-dev.yaml
  ci-operator/config/openshift/velero-plugin-for-csi/openshift-velero-plugin-for-csi-oadp-dev.yaml
  ci-operator/config/openshift/velero-plugin-for-gcp/openshift-velero-plugin-for-gcp-oadp-1.4.yaml
  ci-operator/config/openshift/velero-plugin-for-gcp/openshift-velero-plugin-for-gcp-oadp-1.5.yaml
  ci-operator/config/openshift/velero-plugin-for-gcp/openshift-velero-plugin-for-gcp-oadp-dev.yaml
  ci-operator/config/openshift/velero-plugin-for-legacy-aws/openshift-velero-plugin-for-legacy-aws-oadp-1.4.yaml
  ci-operator/config/openshift/velero-plugin-for-legacy-aws/openshift-velero-plugin-for-legacy-aws-oadp-1.5.yaml
  ci-operator/config/openshift/velero-plugin-for-legacy-aws/openshift-velero-plugin-for-legacy-aws-oadp-1.6.yaml
  ci-operator/config/openshift/velero-plugin-for-legacy-aws/openshift-velero-plugin-for-legacy-aws-oadp-dev.yaml
  ci-operator/config/openshift/velero-plugin-for-microsoft-azure/openshift-velero-plugin-for-microsoft-azure-oadp-1.4.yaml
  ci-operator/config/openshift/velero-plugin-for-microsoft-azure/openshift-velero-plugin-for-microsoft-azure-oadp-1.5.yaml
  ci-operator/config/openshift/velero-plugin-for-microsoft-azure/openshift-velero-plugin-for-microsoft-azure-oadp-dev.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci(hypershift): skip e2e pipeline for .chai-bot, hack/, and OWNERS_ALIASES-only changes
  ci-operator/config/openshift/hypershift/openshift-hypershift-main.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

fix: use find for vault creds, add pull secret analysis + envsubst test
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-skip-test-bin-build.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

openshift-sandboxed-containers: Add rust runtime (#85127)
  ci-operator/step-registry/sandboxed-containers-operator/install-osc-operator/sandboxed-containers-operator-install-osc-operator-commands.sh
  ci-operator/step-registry/sandboxed-containers-operator/install-osc-operator/sandboxed-containers-operator-install-osc-operator-ref.yaml
  ci-operator/step-registry/sandboxed-containers-operator/update-kata-rpm/sandboxed-containers-operator-update-kata-rpm-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

step-registry/firewatch: default to public GCS bucket when private deck is not enabled (#85241)
  ci-operator/step-registry/firewatch/report-issues/firewatch-report-issues-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

NO-JIRA: shard all OCP 4.22+ TNF recovery periodic jobs (#85410)
  ci-operator/config/openshift/release/openshift-release-main__nightly-4.22.yaml
  ci-operator/config/openshift/release/openshift-release-main__nightly-4.23.yaml
  ci-operator/config/openshift/release/openshift-release-main__nightly-5.0.yaml
  ci-operator/config/openshift/release/openshift-release-main__nightly-5.1.yaml
  ci-operator/jobs/openshift/release/openshift-release-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)
