Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

services-valid:
  commands: make check-services
  container:
    from: src

ci/openshift/promrules:
  decorate: true
  spec:
    containers:
    - command:
      - /go/entrypoint.sh
      image: registry.svc.ci.openshift.org/ci/promrules:latest
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
          cpu: 500m
        requests:
          cpu: 10m

ci/prow/pylint:
  decorate: true
  spec:
    containers:
    - args:
      - --rcfile=hack/.pylintrc
      - --ignore=lib
      - --persistent=n
      - hack
      command:
      - pylint
      image: registry.svc.ci.openshift.org/ci/python-validation
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
  ...

ci/prow/services-valid:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/stackrox-stackrox-stackrox-stackrox-check:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: stackrox-stackrox
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

branch-ci-openshift-release-master-gsm-secrets-reconciler:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/sync-rover-groups/_config.yaml
      - --log-level=info
      - --gcp-service-account-key-file=/tmp/gcp-credentials/key.json
      command:
      - gsm-secret-sync
      env:
  ...

branch-ci-openshift-release-master-label-sync:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/prow/02_config/_labels.yaml
      - --confirm=true
  ...

ci/prow/check-cluster-profiles-config:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    automountServiceAccountToken: true
    containers:
    - args:
      - --config-path=./ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml
      command:
      - check-cluster-profiles-config
  ...

ci/prow/check-gh-automation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --bot=openshift-merge-robot
      - --bot=openshift-ci-robot
      - --app=openshift-ci
      - --app-check-mode=standard
      - --candidate-path=.
  ...

ci/prow/check-gh-automation-tide:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --app=openshift-merge-bot
      - --app-check-mode=tide
      - --candidate-path=.
      - --config-path=./core-services/prow/02_config/_config.yaml
  ...

Disable the sleep loop in CNV tests
  ci-operator/step-registry/cnv/openshift-virtualization-tests/cnv-openshift-virtualization-tests-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

dualstack AWS debug cluster
  ci-operator/step-registry/openshift/e2e/aws/openshift-e2e-aws-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

test latest 4.22 ove
  ci-operator/config/openshift-eng/agent-qe-infra/openshift-eng-agent-qe-infra-release-4.22__amd64-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

use custom build
  ci-operator/step-registry/baremetal/lab/ipi/install/baremetal-lab-ipi-install-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

enabling translations and unit test
  ci-operator/config/openshift/monitoring-plugin/openshift-monitoring-plugin-main.yaml
  ci-operator/config/openshift/monitoring-plugin/openshift-monitoring-plugin-release-4.19.yaml
  ci-operator/config/openshift/monitoring-plugin/openshift-monitoring-plugin-release-4.20.yaml
  ci-operator/config/openshift/monitoring-plugin/openshift-monitoring-plugin-release-4.21.yaml
  ci-operator/config/openshift/monitoring-plugin/openshift-monitoring-plugin-release-4.22.yaml
  ci-operator/config/openshift/monitoring-plugin/openshift-monitoring-plugin-release-4.23.yaml
  ci-operator/config/openshift/monitoring-plugin/openshift-monitoring-plugin-release-5.0.yaml
  ci-operator/config/openshift/monitoring-plugin/openshift-monitoring-plugin-release-5.1.yaml
  ci-operator/config/openshift/monitoring-plugin/openshift-monitoring-plugin-release-coo-ocp-4.19.yaml
  ci-operator/config/openshift/monitoring-plugin/openshift-monitoring-plugin-release-coo-ocp-4.22.yaml
  ci-operator/jobs/openshift/monitoring-plugin/openshift-monitoring-plugin-main-presubmits.yaml
  ci-operator/jobs/openshift/monitoring-plugin/openshift-monitoring-plugin-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift/monitoring-plugin/openshift-monitoring-plugin-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/monitoring-plugin/openshift-monitoring-plugin-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift/monitoring-plugin/openshift-monitoring-plugin-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/monitoring-plugin/openshift-monitoring-plugin-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift/monitoring-plugin/openshift-monitoring-plugin-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift/monitoring-plugin/openshift-monitoring-plugin-release-5.1-presubmits.yaml
  ci-operator/jobs/openshift/monitoring-plugin/openshift-monitoring-plugin-release-coo-ocp-4.19-presubmits.yaml
  ci-operator/jobs/openshift/monitoring-plugin/openshift-monitoring-plugin-release-coo-ocp-4.22-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Support concurrent operator e2e runs on the same lease cluster (#82265)
  ci-operator/step-registry/rosa/cluster-lease/checkin/rosa-cluster-lease-checkin-commands.sh
  ci-operator/step-registry/rosa/cluster-lease/checkout/rosa-cluster-lease-checkout-commands.sh
  ci-operator/step-registry/rosa/cluster-lease/checkout/rosa-cluster-lease-checkout-ref.yaml
  ci-operator/step-registry/rosa/cluster-lease/controller/rosa-cluster-lease-controller-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

fix CLO e2e-using-bundle test job (#82282)
  ci-operator/config/openshift/cluster-logging-operator/openshift-cluster-logging-operator-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

AUTOSCALE-893: implement tls-scanner for cluster-autoscaler-operator (#82216)
  ci-operator/config/openshift/cluster-autoscaler-operator/openshift-cluster-autoscaler-operator-main.yaml
  ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml
Due: ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Release flock for dhclient process (#82289)
  ci-operator/step-registry/baremetal/lab/pre/load-balancer/run/baremetal-lab-pre-load-balancer-run-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ROSAENG-61951 | chore: add codecov jobs (#82291)
  ci-operator/config/openshift-online/osd-fleet-manager/openshift-online-osd-fleet-manager-main.yaml
  ci-operator/jobs/openshift-online/osd-fleet-manager/openshift-online-osd-fleet-manager-main-postsubmits.yaml
  ci-operator/jobs/openshift-online/osd-fleet-manager/openshift-online-osd-fleet-manager-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add kafka.json secret to rosa-account-manager-service CI tests
  ci-operator/config/openshift-online/rosa-account-manager-service/openshift-online-rosa-account-manager-service-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Sync backport-risk-assessed lists in Core Networking repos
  core-services/prow/02_config/openshift/cloud-network-config-controller/_pluginconfig.yaml
  core-services/prow/02_config/openshift/cluster-network-operator/_pluginconfig.yaml
  core-services/prow/02_config/openshift/egress-router-cni/_pluginconfig.yaml
  core-services/prow/02_config/openshift/ingress-node-firewall/_pluginconfig.yaml
  core-services/prow/02_config/openshift/network-tools/_pluginconfig.yaml
  core-services/prow/02_config/openshift/ovn-kubernetes/_pluginconfig.yaml
  core-services/prow/02_config/openshift/sdn/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Bump CAPA CI memory limit to 8Gi
  ci-operator/config/openshift/cluster-api-provider-aws/openshift-cluster-api-provider-aws-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Remove ROSACLI Report Portal integration
  ci-operator/config/openshift/rosa/openshift-rosa-master__e2e.yaml
  ci-operator/step-registry/rosa/tests/e2e/fullcycle/rosa-tests-e2e-fullcycle-chain.yaml
  ci-operator/step-registry/rosa/tests/pull-request/rosa-tests-pull-request-chain.yaml
  ci-operator/step-registry/rosa/tests/pull-request/rosa-tests-pull-request-commands.sh
  ci-operator/step-registry/rosa/tests/report/OWNERS
  ci-operator/step-registry/rosa/tests/report/rosa-tests-report-commands.sh
  ci-operator/step-registry/rosa/tests/report/rosa-tests-report-ref.metadata.json
  ci-operator/step-registry/rosa/tests/report/rosa-tests-report-ref.yaml
  ci-operator/step-registry/rosa/tests/rosa-tests-commands.sh
  ci-operator/step-registry/rosa/tests/rosa-tests-ref.yaml
  ci-operator/step-registry/rosa/tests/runtime/day1-post/rosa-tests-runtime-day1-post-commands.sh
  ci-operator/step-registry/rosa/tests/runtime/day2/rosa-tests-runtime-day2-commands.sh
  ci-operator/step-registry/rosa/tests/runtime/destroy-post/rosa-tests-runtime-destroy-post-commands.sh
  ci-operator/step-registry/rosa/tests/runtime/destroy/rosa-tests-runtime-destroy-commands.sh
  ci-operator/step-registry/rosa/tests/runtime/destructive/rosa-tests-runtime-destructive-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

chore: update openshift-tests-private build_root
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

fix(ipi-deprovision): enhance HyperShift teardown with tiered finalizer removal
  core-services/ipi-deprovision/aws.sh
Due: none

fix(ipi-deprovision): scope finalizer stripping and preserve infraID/region
  core-services/ipi-deprovision/aws.sh
Due: none

WINC-1966: Skip destroy suite in aws-e2e-ote job
  ci-operator/config/openshift/windows-machine-config-operator/openshift-windows-machine-config-operator-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add Azure self-managed HCP performance testing
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-5.0__periodics-azure-perf.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-5.0-periodics.yaml
  ci-operator/step-registry/hypershift/azure/performance-test/OWNERS
  ci-operator/step-registry/hypershift/azure/performance-test/README.md
  ci-operator/step-registry/hypershift/azure/performance-test/hypershift-azure-performance-test-commands.sh
  ci-operator/step-registry/hypershift/azure/performance-test/hypershift-azure-performance-test-ref.metadata.json
  ci-operator/step-registry/hypershift/azure/performance-test/hypershift-azure-performance-test-ref.yaml
  ci-operator/step-registry/hypershift/azure/performance-test/hypershift-azure-performance-test-workflow.metadata.json
  ci-operator/step-registry/hypershift/azure/performance-test/hypershift-azure-performance-test-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

NO-ISSUE: Remove MCO OCB test cases
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.21__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.0__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.21-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.0-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add separate metric for full data plane startup
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-5.0__periodics-azure-perf.yaml
  ci-operator/step-registry/hypershift/OWNERS
  ci-operator/step-registry/hypershift/aws/conformance-calico-private/hypershift-aws-conformance-calico-private-workflow.metadata.json
  ci-operator/step-registry/hypershift/aws/conformance-calico/hypershift-aws-conformance-calico-workflow.metadata.json
  ci-operator/step-registry/hypershift/aws/conformance-cilium-private/hypershift-aws-conformance-cilium-private-workflow.metadata.json
  ci-operator/step-registry/hypershift/aws/conformance-cilium/hypershift-aws-conformance-cilium-workflow.metadata.json
  ci-operator/step-registry/hypershift/aws/conformance-proxy/hypershift-aws-conformance-proxy-workflow.metadata.json
  ci-operator/step-registry/hypershift/aws/conformance/hypershift-aws-conformance-workflow.metadata.json
  ci-operator/step-registry/hypershift/aws/create/hypershift-aws-create-chain.metadata.json
  ci-operator/step-registry/hypershift/aws/destroy/hypershift-aws-destroy-chain.metadata.json
  ci-operator/step-registry/hypershift/aws/e2e-backuprestore/hypershift-aws-e2e-backuprestore-workflow.metadata.json
  ci-operator/step-registry/hypershift/aws/e2e-v2/hypershift-aws-e2e-v2-workflow.metadata.json
  ci-operator/step-registry/hypershift/aws/oadp-destroy/hypershift-aws-oadp-destroy-ref.metadata.json
  ci-operator/step-registry/hypershift/aws/oadp-setup/hypershift-aws-oadp-setup-ref.metadata.json
  ci-operator/step-registry/hypershift/azure/aks/conformance/hypershift-azure-aks-conformance-workflow.metadata.json
  ci-operator/step-registry/hypershift/azure/e2e/self-managed/hypershift-azure-e2e-self-managed-workflow.metadata.json
  ci-operator/step-registry/hypershift/azure/performance-test/hypershift-azure-performance-test-commands.sh
  ci-operator/step-registry/hypershift/azure/performance-test/hypershift-azure-performance-test-ref.metadata.json
  ci-operator/step-registry/hypershift/azure/performance-test/hypershift-azure-performance-test-ref.yaml
  ci-operator/step-registry/hypershift/azure/performance-test/hypershift-azure-performance-test-workflow.metadata.json
  ci-operator/step-registry/hypershift/conformance/hypershift-conformance-chain.metadata.json
  ci-operator/step-registry/hypershift/debug/hypershift-debug-ref.metadata.json
  ci-operator/step-registry/hypershift/destroy-nested-management-cluster/hypershift-destroy-nested-management-cluster-chain.metadata.json
  ci-operator/step-registry/hypershift/dump/hypershift-dump-chain.metadata.json
  ci-operator/step-registry/hypershift/e2e-backuprestore/hypershift-e2e-backuprestore-chain.metadata.json
  ci-operator/step-registry/hypershift/e2e-v2/hypershift-e2e-v2-chain.metadata.json
  ci-operator/step-registry/hypershift/hostedcluster/fips-check/hypershift-hostedcluster-fips-check-ref.metadata.json
  ci-operator/step-registry/hypershift/install/hypershift-install-ref.metadata.json
  ci-operator/step-registry/hypershift/must-gather/hostedcluster/hypershift-must-gather-hostedcluster-ref.metadata.json
  ci-operator/step-registry/hypershift/performanceprofile/hypershift-performanceprofile-ref.metadata.json
  ci-operator/step-registry/hypershift/setup-nested-management-cluster/hypershift-setup-nested-management-cluster-chain.metadata.json
  ci-operator/step-registry/hypershift/setup-root-management-cluster/hypershift-setup-root-management-cluster-chain.metadata.json
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update 252nodes cluster-density-v2 timeout to 5h
  ci-operator/config/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main__aws-4.22-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main__aws-4.23-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main__aws-5.0-nightly-x86.yaml
  ci-operator/step-registry/openshift-qe/cluster-density-v2/openshift-qe-cluster-density-v2-commands.sh
  ci-operator/step-registry/openshift-qe/node-density-cni/openshift-qe-node-density-cni-commands.sh
  ci-operator/step-registry/openshift-qe/node-density/openshift-qe-node-density-commands.sh
  ci-operator/step-registry/openshift-qe/udn-density-pods/openshift-qe-udn-density-pods-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Adding CI tests for kmm 2.7 release (#82195)
  ci-operator/config/rh-ecosystem-edge/kernel-module-management/rh-ecosystem-edge-kernel-module-management-release-2.7.yaml
  ci-operator/jobs/rh-ecosystem-edge/kernel-module-management/rh-ecosystem-edge-kernel-module-management-release-2.7-postsubmits.yaml
  ci-operator/jobs/rh-ecosystem-edge/kernel-module-management/rh-ecosystem-edge-kernel-module-management-release-2.7-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

VPA: Add PQC ML-KEM CI test (#82247)
  ci-operator/config/openshift/vertical-pod-autoscaler-operator/openshift-vertical-pod-autoscaler-operator-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

AMD-CI; Adds support for useSourceImage (#82211)
  ci-operator/config/rh-ecosystem-edge/amd-ci/rh-ecosystem-edge-amd-ci-main__4.20-stable.yaml
  ci-operator/config/rh-ecosystem-edge/amd-ci/rh-ecosystem-edge-amd-ci-main__4.21-stable.yaml
  ci-operator/config/rh-ecosystem-edge/amd-ci/rh-ecosystem-edge-amd-ci-main__4.22-stable.yaml
  ci-operator/config/rh-ecosystem-edge/amd-ci/rh-ecosystem-edge-amd-ci-main__4.23-stable.yaml
  ci-operator/step-registry/amd-gpu-operator/install-operators/amd-gpu-operator-install-operators-commands.sh
  ci-operator/step-registry/amd-gpu-operator/install-operators/amd-gpu-operator-install-operators-ref.yaml
  ci-operator/step-registry/amd-gpu-operator/provision/amd-gpu-operator-provision-commands.sh
  ci-operator/step-registry/amd-gpu-operator/provision/amd-gpu-operator-provision-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Bump CAPA CI memory limit to 8Gi (#82302)
  ci-operator/config/openshift/cluster-api-provider-aws/openshift-cluster-api-provider-aws-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Exclude vsphere-csi-driver-operator extension binary override for ppc64le jobs
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.22.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-5.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Map OKD stream names to canonical types for autodl JSON
  ci-operator/step-registry/openshift/claude/payload/agent/openshift-claude-payload-agent-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

oran-o2ims: Add new e2e CI job to run make test-e2e
  ci-operator/config/openshift-kni/oran-o2ims/openshift-kni-oran-o2ims-main.yaml
  ci-operator/config/openshift-kni/oran-o2ims/openshift-kni-oran-o2ims-release-4.22.yaml
  ci-operator/jobs/openshift-kni/oran-o2ims/openshift-kni-oran-o2ims-main-presubmits.yaml
  ci-operator/jobs/openshift-kni/oran-o2ims/openshift-kni-oran-o2ims-release-4.22-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

rh-ecosystem-edge/ibm-ci: onboard IBM Spyre operator CI to Prow
  ci-operator/config/rh-ecosystem-edge/ibm-ci/OWNERS
  ci-operator/config/rh-ecosystem-edge/ibm-ci/rh-ecosystem-edge-ibm-ci-main.yaml
  ci-operator/jobs/rh-ecosystem-edge/ibm-ci/OWNERS
  ci-operator/jobs/rh-ecosystem-edge/ibm-ci/rh-ecosystem-edge-ibm-ci-main-presubmits.yaml
  core-services/prow/02_config/rh-ecosystem-edge/ibm-ci/_pluginconfig.yaml
  core-services/prow/02_config/rh-ecosystem-edge/ibm-ci/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

fix: inline exec-wrapper scripts under upi/libvirt/infra
  ci-operator/step-registry/upi/libvirt/infra/conf/agent/upi-libvirt-infra-conf-agent-commands.sh
  ci-operator/step-registry/upi/libvirt/infra/conf/etcd-ramfs/upi-libvirt-infra-conf-etcd-ramfs-commands.sh
  ci-operator/step-registry/upi/libvirt/infra/conf/install-config/upi-libvirt-infra-conf-install-config-commands.sh
  ci-operator/step-registry/upi/libvirt/infra/conf/kdump/upi-libvirt-infra-conf-kdump-commands.sh
  ci-operator/step-registry/upi/libvirt/infra/conf/network/upi-libvirt-infra-conf-network-commands.sh
  ci-operator/step-registry/upi/libvirt/infra/debug/static-pod/upi-libvirt-infra-debug-static-pod-commands.sh
  ci-operator/step-registry/upi/libvirt/infra/install/install/upi-libvirt-infra-install-install-commands.sh
  ci-operator/step-registry/upi/libvirt/infra/install/network/upi-libvirt-infra-install-network-commands.sh
  ci-operator/step-registry/upi/libvirt/infra/install/osstream/upi-libvirt-infra-install-osstream-commands.sh
  ci-operator/step-registry/upi/libvirt/infra/rbac/upi-libvirt-infra-rbac-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

openshift-logging: Update cluster-logging-operator builds to Go 1.26 (#82239)
  ci-operator/config/openshift/cluster-logging-operator/openshift-cluster-logging-operator-release-6.0.yaml
  ci-operator/config/openshift/cluster-logging-operator/openshift-cluster-logging-operator-release-6.2.yaml
  ci-operator/config/openshift/cluster-logging-operator/openshift-cluster-logging-operator-release-6.4.yaml
  ci-operator/config/openshift/cluster-logging-operator/openshift-cluster-logging-operator-release-6.5.yaml
  ci-operator/config/openshift/cluster-logging-operator/openshift-cluster-logging-operator-release-6.6.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

WINC-1966: Skip destroy suite in aws-e2e-ote job (#82304)
  ci-operator/config/openshift/windows-machine-config-operator/openshift-windows-machine-config-operator-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add timeouts and 4.21 job to see if issue stems there too
  ci-operator/config/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main__aws-4.21-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main__aws-4.22-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main__aws-4.23-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main__aws-5.0-nightly-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main-periodics.yaml
  ci-operator/jobs/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

rh-ecosystem-edge/ibm-ci: move deploy step to step-registry
  ci-operator/config/rh-ecosystem-edge/ibm-ci/rh-ecosystem-edge-ibm-ci-main.yaml
  ci-operator/step-registry/ibm-ci/deploy/OWNERS
  ci-operator/step-registry/ibm-ci/deploy/ibm-ci-deploy-commands.sh
  ci-operator/step-registry/ibm-ci/deploy/ibm-ci-deploy-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

update instance type
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__acm-virt-ocp4.22-hub-spoke.yaml
  ci-operator/jobs/RedHatQE/interop-testing/RedHatQE-interop-testing-master-periodics.yaml
  ci-operator/jobs/RedHatQE/interop-testing/RedHatQE-interop-testing-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

rh-ecosystem-edge/ibm-ci: fix deploy script for CI execution
  ci-operator/step-registry/ibm-ci/deploy/ibm-ci-deploy-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

chore: update openshift-tests-private build_root (#82303)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

rh-ecosystem-edge/ibm-ci: use group_vars for pull secret instead of VERBOSE
  ci-operator/step-registry/ibm-ci/deploy/ibm-ci-deploy-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

attempt fix
  ci-operator/config/openshift/network-observability-operator/openshift-network-observability-operator-release-2.0__nightly-4.14.yaml
  ci-operator/config/openshift/network-observability-operator/openshift-network-observability-operator-release-2.0__nightly-4.16.yaml
  ci-operator/config/openshift/network-observability-operator/openshift-network-observability-operator-release-2.0__nightly-4.18.yaml
  ci-operator/config/openshift/network-observability-operator/openshift-network-observability-operator-release-2.0__nightly-4.19.yaml
  ci-operator/config/openshift/network-observability-operator/openshift-network-observability-operator-release-2.0__nightly-4.20.yaml
  ci-operator/config/openshift/network-observability-operator/openshift-network-observability-operator-release-2.0__nightly-4.21.yaml
  ci-operator/config/openshift/network-observability-operator/openshift-network-observability-operator-release-2.0__nightly-4.22.yaml
  ci-operator/config/openshift/network-observability-operator/openshift-network-observability-operator-release-2.0__nightly-5.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)
