Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

Fix NTO cleanup only related clusters
  ci-operator/step-registry/telcov10n/functional/compute-nrop/ocp-deploy/telcov10n-functional-compute-nrop-ocp-deploy-commands.sh
  ci-operator/step-registry/telcov10n/functional/compute-nto/cleanup-old-clusters/telcov10n-functional-compute-nto-cleanup-old-clusters-commands.sh
  ci-operator/step-registry/telcov10n/functional/compute-nto/ocp-deploy/telcov10n-functional-compute-nto-ocp-deploy-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Rerun job for 4.15.64 multiarch failures
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.15-upgrade-from-nightly-4.14.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.15.yaml
  ci-operator/jobs/openshift/multiarch/openshift-multiarch-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

fix(core-ci): prevent highmem MachineSets from starving CI node scale-up
  clusters/core-ci/machineset/worker-highmem.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

OCM-23800 | feat: fix cs-rosa-hcp-zero-egress-staging-main FVT migration
  ci-operator/config/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main__ocm-fvt-rosa-hcp-staging.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

feat: tune ClusterAutoscaler to reduce waste and churn on build farms
  clusters/build-clusters/common/machineset/cluster-autoscaler-priority-expander.yaml
  clusters/build-clusters/common/machineset/clusterautoscaler.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

STS conformance: Skip CSR approver test failing with 401 on 4.22+
  ci-operator/step-registry/rosa/aws/sts/conformance/rosa-aws-sts-conformance-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Revert "Testing config-updater"
  core-services/ci-secret-bootstrap/_config.yaml
Due: ci/prow/ci-secret-bootstrap-config-validation, ci/prow/secret-generator-config-valid

onboard openshift-virtualization/virt-platform-autopilot to Prow
  ci-operator/config/openshift-virtualization/virt-platform-autopilot/OWNERS
  ci-operator/config/openshift-virtualization/virt-platform-autopilot/openshift-virtualization-virt-platform-autopilot-main.yaml
  ci-operator/config/openshift-virtualization/virt-platform-autopilot/openshift-virtualization-virt-platform-autopilot-release-4.22.yaml
  ci-operator/jobs/openshift-virtualization/virt-platform-autopilot/OWNERS
  ci-operator/jobs/openshift-virtualization/virt-platform-autopilot/openshift-virtualization-virt-platform-autopilot-main-presubmits.yaml
  ci-operator/jobs/openshift-virtualization/virt-platform-autopilot/openshift-virtualization-virt-platform-autopilot-release-4.22-presubmits.yaml
  core-services/prow/02_config/openshift-virtualization/virt-platform-autopilot/_pluginconfig.yaml
  core-services/prow/02_config/openshift-virtualization/virt-platform-autopilot/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

OCPBUGS-85346: Revert 4.22 and 4.23 from C4A to T2A instances to avoid hyperdisk costs
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.22-upgrade-from-nightly-4.21.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.22-upgrade-from-stable-4.21.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.22.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.23-upgrade-from-nightly-4.22.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.23-upgrade-from-stable-4.22.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.23.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add bw in the EnsureReqs
  ci-operator/step-registry/abi/install/bmc/abi-install-bmc-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

fix: delete existing Jobs before kustomize apply
  ci-operator/step-registry/osac-project/cluster-tool/boot/osac-project-cluster-tool-boot-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

TMP: do not merge
  ci-operator/config/maxcao13/karpenter-operator/maxcao13-karpenter-operator-status-controller.yaml
  ci-operator/jobs/maxcao13/karpenter-operator/maxcao13-karpenter-operator-status-controller-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

MGMT-24219: consolidate vmaas presubmits with cluster-tool
  ci-operator/config/osac-project/fulfillment-service/osac-project-fulfillment-service-main.yaml
  ci-operator/config/osac-project/osac-installer/osac-project-osac-installer-main.yaml
  ci-operator/config/osac-project/osac-operator/osac-project-osac-operator-main.yaml
  ci-operator/config/osac-project/osac-test-infra/osac-project-osac-test-infra-main.yaml
  ci-operator/jobs/osac-project/fulfillment-service/osac-project-fulfillment-service-main-presubmits.yaml
  ci-operator/jobs/osac-project/osac-installer/osac-project-osac-installer-main-presubmits.yaml
  ci-operator/jobs/osac-project/osac-operator/osac-project-osac-operator-main-presubmits.yaml
  ci-operator/jobs/osac-project/osac-test-infra/osac-project-osac-test-infra-main-presubmits.yaml
  ci-operator/step-registry/osac-project/cluster-tool/OWNERS
  ci-operator/step-registry/osac-project/cluster-tool/boot/OWNERS
  ci-operator/step-registry/osac-project/cluster-tool/boot/osac-project-cluster-tool-boot-commands.sh
  ci-operator/step-registry/osac-project/cluster-tool/boot/osac-project-cluster-tool-boot-ref.metadata.json
  ci-operator/step-registry/osac-project/cluster-tool/boot/osac-project-cluster-tool-boot-ref.yaml
  ci-operator/step-registry/osac-project/cluster-tool/destroy/OWNERS
  ci-operator/step-registry/osac-project/cluster-tool/destroy/osac-project-cluster-tool-destroy-commands.sh
  ci-operator/step-registry/osac-project/cluster-tool/destroy/osac-project-cluster-tool-destroy-ref.metadata.json
  ci-operator/step-registry/osac-project/cluster-tool/destroy/osac-project-cluster-tool-destroy-ref.yaml
  ci-operator/step-registry/osac-project/cluster-tool/test/OWNERS
  ci-operator/step-registry/osac-project/cluster-tool/test/osac-project-cluster-tool-test-commands.sh
  ci-operator/step-registry/osac-project/cluster-tool/test/osac-project-cluster-tool-test-ref.metadata.json
  ci-operator/step-registry/osac-project/cluster-tool/test/osac-project-cluster-tool-test-ref.yaml
  ci-operator/step-registry/osac-project/cluster-tool/vmaas/OWNERS
  ci-operator/step-registry/osac-project/cluster-tool/vmaas/osac-project-cluster-tool-vmaas-workflow.metadata.json
  ci-operator/step-registry/osac-project/cluster-tool/vmaas/osac-project-cluster-tool-vmaas-workflow.yaml
  ci-operator/step-registry/osac-project/gather/osac-project-gather-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Adjust slack notifications to only ping on a failure
  core-services/prow/02_config/openshift-online/rosa-e2e/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Test gcp-sustaining-autorelease-412 cluster profile for better n4a-standard-4 availability
  ci-operator/config/openshift/multiarch-tuning-operator/openshift-multiarch-tuning-operator-main__ocp422.yaml
  ci-operator/jobs/openshift/multiarch-tuning-operator/openshift-multiarch-tuning-operator-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

prowgen: regenerate jobs after slack_reporter migration
  ci-operator/jobs/openshift/machine-config-operator/openshift-machine-config-operator-release-4.21-periodics.yaml
  ci-operator/jobs/openshift/machine-config-operator/openshift-machine-config-operator-release-4.22-periodics.yaml
  ci-operator/jobs/openshift/machine-config-operator/openshift-machine-config-operator-release-4.23-periodics.yaml
  ci-operator/jobs/openshift/machine-config-operator/openshift-machine-config-operator-release-5.0-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Fix BMC Wipe.
  ci-operator/step-registry/abi/install/bmc/abi-install-bmc-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add jacobsee and jubittajohn to allowed users for cherry-pick-approved and backport-risk-assessed labels
  core-services/prow/02_config/openshift/kubernetes/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Add exceptional labelling powers for repo admins
  core-services/prow/02_config/Azure/ARO-HCP/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

rosa-e2e: Exclude Access:MC tests from HCP nightly jobs
  ci-operator/config/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main__periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add ROSA Classic STS e2e nightly jobs
  ci-operator/config/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main__periodics.yaml
  ci-operator/jobs/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main-periodics.yaml
  ci-operator/step-registry/rosa/e2e/classic/rosa-e2e-classic-workflow.yaml
  ci-operator/step-registry/rosa/e2e/test/rosa-e2e-test-commands.sh
  ci-operator/step-registry/rosa/e2e/test/rosa-e2e-test-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Scope rosa-e2e nightly jobs to 4.19-4.22, add Classic STS coverage
  ci-operator/config/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main__periodics.yaml
  ci-operator/jobs/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

MGMT-24219: add CaaS presubmit E2E jobs to osac-installer
  ci-operator/config/osac-project/osac-installer/osac-project-osac-installer-main.yaml
  ci-operator/step-registry/osac-project/baremetal/test/osac-project-baremetal-test-commands.sh
  ci-operator/step-registry/osac-project/baremetal/test/osac-project-baremetal-test-ref.yaml
  ci-operator/step-registry/osac-project/caas/OWNERS
  ci-operator/step-registry/osac-project/caas/agent-setup/OWNERS
  ci-operator/step-registry/osac-project/caas/agent-setup/osac-project-caas-agent-setup-commands.sh
  ci-operator/step-registry/osac-project/caas/agent-setup/osac-project-caas-agent-setup-ref.metadata.json
  ci-operator/step-registry/osac-project/caas/agent-setup/osac-project-caas-agent-setup-ref.yaml
  ci-operator/step-registry/osac-project/installer/osac-project-installer-commands.sh
  ci-operator/step-registry/osac-project/installer/osac-project-installer-ref.yaml
  ci-operator/step-registry/osac-project/ofcir/caas/OWNERS
  ci-operator/step-registry/osac-project/ofcir/caas/osac-project-ofcir-caas-workflow.metadata.json
  ci-operator/step-registry/osac-project/ofcir/caas/osac-project-ofcir-caas-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

MGMT-24219: add CaaS presubmit E2E jobs to osac-installer
  ci-operator/config/osac-project/osac-installer/osac-project-osac-installer-main.yaml
  ci-operator/jobs/osac-project/osac-installer/osac-project-osac-installer-main-presubmits.yaml
  ci-operator/step-registry/osac-project/baremetal/test/osac-project-baremetal-test-commands.sh
  ci-operator/step-registry/osac-project/baremetal/test/osac-project-baremetal-test-ref.yaml
  ci-operator/step-registry/osac-project/caas/agent-setup/osac-project-caas-agent-setup-commands.sh
  ci-operator/step-registry/osac-project/caas/agent-setup/osac-project-caas-agent-setup-ref.yaml
  ci-operator/step-registry/osac-project/caas/installer/OWNERS
  ci-operator/step-registry/osac-project/caas/installer/osac-project-caas-installer-commands.sh
  ci-operator/step-registry/osac-project/caas/installer/osac-project-caas-installer-ref.metadata.json
  ci-operator/step-registry/osac-project/caas/installer/osac-project-caas-installer-ref.yaml
  ci-operator/step-registry/osac-project/caas/test/OWNERS
  ci-operator/step-registry/osac-project/caas/test/osac-project-caas-test-commands.sh
  ci-operator/step-registry/osac-project/caas/test/osac-project-caas-test-ref.metadata.json
  ci-operator/step-registry/osac-project/caas/test/osac-project-caas-test-ref.yaml
  ci-operator/step-registry/osac-project/installer/osac-project-installer-ref.yaml
  ci-operator/step-registry/osac-project/ofcir/caas/osac-project-ofcir-caas-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add back HCP 5.0 nightly (enabled in staging)
  ci-operator/config/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main__periodics.yaml
  ci-operator/jobs/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Fix WipeDisks rmtScript heredoc for empty wipe method
  ci-operator/step-registry/abi/install/bmc/abi-install-bmc-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Overcome `bw` issue.
  ci-operator/step-registry/abi/install/bmc/abi-install-bmc-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ART-14263: Migrate OCP 4.13 RPM repos to R2 CloudFlare
  core-services/release-controller/_repos/ocp-4.13-default.repo
  core-services/release-controller/_repos/ocp-4.13-openstack-beta.repo
  core-services/release-controller/_repos/ocp-4.13-openstack.repo
  core-services/release-controller/_repos/ocp-4.13-ppc64le.repo
  core-services/release-controller/_repos/ocp-4.13-rhel-8-ironic-prevalidation.repo
  core-services/release-controller/_repos/ocp-4.13-rhel-8-server-ironic.repo
  core-services/release-controller/_repos/ocp-4.13-rhel-9-ironic-prevalidation.repo
  core-services/release-controller/_repos/ocp-4.13-rhel-9-server-ironic.repo
  core-services/release-controller/_repos/ocp-4.13-rhel8-aarch64.repo
  core-services/release-controller/_repos/ocp-4.13-rhel8.repo
  core-services/release-controller/_repos/ocp-4.13-rhel810.repo
  core-services/release-controller/_repos/ocp-4.13-rhel9.repo
  core-services/release-controller/_repos/ocp-4.13-rhel92.repo
  core-services/release-controller/_repos/ocp-4.13-s390x.repo
Due: none

ROSAENG-1083: switch periodic jobs from nightly to stable/candidate channel groups
  ci-operator/config/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main__periodics.yaml
  ci-operator/jobs/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main-periodics.yaml
  core-services/testgrid-config-generator/_allow-list.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

[Agent Installer OVE] Install LSO+ODF and set up persistent storage
  ci-operator/config/openshift-eng/agent-qe-infra/openshift-eng-agent-qe-infra-release-4.19__amd64-stable.yaml
  ci-operator/jobs/openshift-eng/agent-qe-infra/openshift-eng-agent-qe-infra-release-4.19-periodics.yaml
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/agent-qe-baremetal-install-ove-disconnected-chain.yaml
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/agent-qe-baremetal-install-ove-disconnected-workflow.yaml
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/agent-tui/agent-qe-baremetal-install-ove-disconnected-agent-tui-commands.sh
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/assisted-ui/agent-qe-baremetal-install-ove-disconnected-assisted-ui-commands.sh
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/configure-lso/OWNERS
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/configure-lso/agent-qe-baremetal-install-ove-disconnected-configure-lso-commands.sh
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/configure-lso/agent-qe-baremetal-install-ove-disconnected-configure-lso-ref.metadata.json
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/configure-lso/agent-qe-baremetal-install-ove-disconnected-configure-lso-ref.yaml
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/install-lso/OWNERS
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/install-lso/agent-qe-baremetal-install-ove-disconnected-install-lso-commands.sh
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/install-lso/agent-qe-baremetal-install-ove-disconnected-install-lso-ref.metadata.json
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/install-lso/agent-qe-baremetal-install-ove-disconnected-install-lso-ref.yaml
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/install-odf/OWNERS
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/install-odf/agent-qe-baremetal-install-ove-disconnected-install-odf-commands.sh
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/install-odf/agent-qe-baremetal-install-ove-disconnected-install-odf-ref.metadata.json
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/install-odf/agent-qe-baremetal-install-ove-disconnected-install-odf-ref.yaml
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/mirror-operators/OWNERS
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/mirror-operators/agent-qe-baremetal-install-ove-disconnected-mirror-operators-commands.sh
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/mirror-operators/agent-qe-baremetal-install-ove-disconnected-mirror-operators-ref.metadata.json
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/mirror-operators/agent-qe-baremetal-install-ove-disconnected-mirror-operators-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add OCP-Virt Self validation steps
  ci-operator/config/openshift-eng/agent-qe-infra/openshift-eng-agent-qe-infra-release-4.19__amd64-stable.yaml
  ci-operator/config/openshift-eng/agent-qe-infra/openshift-eng-agent-qe-infra-release-4.21__amd64-nightly.yaml
  ci-operator/jobs/openshift-eng/agent-qe-infra/openshift-eng-agent-qe-infra-release-4.19-periodics.yaml
  ci-operator/jobs/openshift-eng/agent-qe-infra/openshift-eng-agent-qe-infra-release-4.21-periodics.yaml
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/agent-qe-baremetal-install-ove-disconnected-chain.yaml
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/agent-qe-baremetal-install-ove-disconnected-workflow.yaml
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/agent-tui/agent-qe-baremetal-install-ove-disconnected-agent-tui-commands.sh
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/assisted-ui/agent-qe-baremetal-install-ove-disconnected-assisted-ui-commands.sh
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/assisted-ui/agent-qe-baremetal-install-ove-disconnected-assisted-ui-ref.yaml
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/install-odf/agent-qe-baremetal-install-ove-disconnected-install-odf-ref.yaml
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/konflux/agent-qe-baremetal-install-ove-disconnected-konflux-chain.yaml
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/konflux/agent-qe-baremetal-install-ove-disconnected-konflux-workflow.yaml
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/mirror-operators/agent-qe-baremetal-install-ove-disconnected-mirror-operators-commands.sh
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/mirror-operators/agent-qe-baremetal-install-ove-disconnected-mirror-operators-ref.yaml
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/mirror-utility-images/OWNERS
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/mirror-utility-images/agent-qe-baremetal-install-ove-disconnected-mirror-utility-images-commands.sh
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/mirror-utility-images/agent-qe-baremetal-install-ove-disconnected-mirror-utility-images-ref.metadata.json
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/mirror-utility-images/agent-qe-baremetal-install-ove-disconnected-mirror-utility-images-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Remove multi_arch from .config.prowgen files
  ci-operator/config/fleetshift/fleetshift-poc/.config.prowgen
  ci-operator/config/fleetshift/fleetshift-user-interface/.config.prowgen
  ci-operator/config/migtools/filebrowser/.config.prowgen
  ci-operator/config/migtools/kubevirt-datamover-controller/.config.prowgen
  ci-operator/config/migtools/kubevirt-datamover-plugin/.config.prowgen
  ci-operator/config/migtools/oadp-cli/.config.prowgen
  ci-operator/config/migtools/oadp-non-admin/.config.prowgen
  ci-operator/config/migtools/oadp-vm-file-restore/.config.prowgen
  ci-operator/config/migtools/oadp-vmdp/.config.prowgen
  ci-operator/config/oadp-qe/oadp-operator/.config.prowgen
  ci-operator/config/openshift-eng/agent-qe-infra/.config.prowgen
  ci-operator/config/openshift-eng/baremetal-qe-infra/.config.prowgen
  ci-operator/config/openshift/ci-tools-standalone/.config.prowgen
  ci-operator/config/openshift/ci-tools/.config.prowgen
  ci-operator/config/openshift/kueue-operator/.config.prowgen
  ci-operator/config/openshift/loki/.config.prowgen
  ci-operator/config/openshift/machine-config-operator/.config.prowgen
  ci-operator/config/openshift/multiarch-tuning-operator/.config.prowgen
  ci-operator/config/openshift/oadp-must-gather/.config.prowgen
  ci-operator/config/openshift/oadp-operator/.config.prowgen
  ci-operator/config/openshift/openshift-velero-plugin/.config.prowgen
  ci-operator/config/openshift/velero-plugin-for-aws/.config.prowgen
  ci-operator/config/openshift/velero-plugin-for-gcp/.config.prowgen
  ci-operator/config/openshift/velero-plugin-for-legacy-aws/.config.prowgen
  ci-operator/config/openshift/velero-plugin-for-microsoft-azure/.config.prowgen
  ci-operator/config/openshift/velero/.config.prowgen
  ci-operator/config/outrigger-project/multiarch-tuning-operator/.config.prowgen
  ci-operator/config/stolostron/image-builder/.config.prowgen
  migrate_slack_to_inline.py
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

no-jira: aws: add AWS GovCloud UPI private cluster step-registry workflow and periodic jobs
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.0__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.0-periodics.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/aws/usgov/upi/OWNERS
  ci-operator/step-registry/cucushift/installer/rehearse/aws/usgov/upi/cucushift-installer-rehearse-aws-usgov-upi-workflow.metadata.json
  ci-operator/step-registry/cucushift/installer/rehearse/aws/usgov/upi/cucushift-installer-rehearse-aws-usgov-upi-workflow.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/aws/usgov/upi/deprovision/OWNERS
  ci-operator/step-registry/cucushift/installer/rehearse/aws/usgov/upi/deprovision/cucushift-installer-rehearse-aws-usgov-upi-deprovision-chain.metadata.json
  ci-operator/step-registry/cucushift/installer/rehearse/aws/usgov/upi/deprovision/cucushift-installer-rehearse-aws-usgov-upi-deprovision-chain.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/aws/usgov/upi/provision/OWNERS
  ci-operator/step-registry/cucushift/installer/rehearse/aws/usgov/upi/provision/cucushift-installer-rehearse-aws-usgov-upi-provision-chain.metadata.json
  ci-operator/step-registry/cucushift/installer/rehearse/aws/usgov/upi/provision/cucushift-installer-rehearse-aws-usgov-upi-provision-chain.yaml
  ci-operator/step-registry/upi/install/aws/usgov/OWNERS
  ci-operator/step-registry/upi/install/aws/usgov/private/OWNERS
  ci-operator/step-registry/upi/install/aws/usgov/private/cluster/OWNERS
  ci-operator/step-registry/upi/install/aws/usgov/private/cluster/upi-install-aws-usgov-private-cluster-commands.sh
  ci-operator/step-registry/upi/install/aws/usgov/private/cluster/upi-install-aws-usgov-private-cluster-ref.metadata.json
  ci-operator/step-registry/upi/install/aws/usgov/private/cluster/upi-install-aws-usgov-private-cluster-ref.yaml
  ci-operator/step-registry/upi/install/aws/usgov/private/upi-install-aws-usgov-private-chain.metadata.json
  ci-operator/step-registry/upi/install/aws/usgov/private/upi-install-aws-usgov-private-chain.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

CNF-22981: Enable Tide auto-merge for red-hat-konflux[bot] on scheduler-plugins
  core-services/prow/02_config/openshift-kni/scheduler-plugins/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Remove migration script accidentally committed in #79173
  migrate_slack_to_inline.py
Due: none

RHDH: Fix AKS spot VM creation by switching to Standard_D4as_v5
  ci-operator/step-registry/redhat-developer/rhdh/aks/mapt/create/redhat-developer-rhdh-aks-mapt-create-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

adding vertex credentials to both evaluation and e2e tests
  ci-operator/config/openshift/lightspeed-service/openshift-lightspeed-service-main.yaml
  ci-operator/config/openshift/lightspeed-service/openshift-lightspeed-service-main__4.16.yaml
  ci-operator/config/openshift/lightspeed-service/openshift-lightspeed-service-main__4.17.yaml
  ci-operator/config/openshift/lightspeed-service/openshift-lightspeed-service-main__4.18.yaml
  ci-operator/config/openshift/lightspeed-service/openshift-lightspeed-service-main__4.19.yaml
  ci-operator/config/openshift/lightspeed-service/openshift-lightspeed-service-main__4.20.yaml
  ci-operator/config/openshift/lightspeed-service/openshift-lightspeed-service-main__4.21.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames
