Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

OCPBUGS-84684: skip tarring Azure dump artifacts to avoid gcs-filter censoring
  ci-operator/step-registry/hypershift/destroy-nested-management-cluster/hypershift-destroy-nested-management-cluster-chain.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

prow: enable rerun/abort for Azure/ARO-HCP jobs (#78600)
  core-services/prow/02_config/_config.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Fix SKIP_MONITOR_TEST detection for MonitorTest-only failures
  ci-operator/step-registry/rosa/aws/sts/conformance/test/rosa-aws-sts-conformance-test-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

CNTRLPLANE-3351: enable CPU resource request overrides for Azure self-managed e2e
  ci-operator/config/openshift/hypershift/openshift-hypershift-main.yaml
  ci-operator/step-registry/hypershift/azure/run-e2e-self-managed/hypershift-azure-run-e2e-self-managed-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Run `make update`
  ci-operator/jobs/openshift/cluster-version-operator/openshift-cluster-version-operator-main-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

cvo: Add tls-13 presubmit
  ci-operator/config/openshift/cluster-version-operator/openshift-cluster-version-operator-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

cvo: Add PQC check for default tls profile presubmit
  ci-operator/config/openshift/cluster-version-operator/openshift-cluster-version-operator-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add version artifacts to KServe test step for dashboard tracking (#78631)
  ci-operator/step-registry/aws-neuron-operator/kserve-test/aws-neuron-operator-kserve-test-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

HYPERFLEET-877 - ci: bump hyperfleet-hooks to v0.1.2
  ci-operator/step-registry/hyperfleet/commitlint/hyperfleet-commitlint-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add gsm_dptp_collection and remove collection from dockerconfig registries entries
  core-services/ci-secret-bootstrap/gsm-config.yaml
Due: none

quay/quay: encrypt kubeconfig artifacts with AES-256-CBC
  ci-operator/config/quay/quay/quay-quay-master__claim.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

chore: update `policy-collection` protections
  core-services/prow/02_config/open-cluster-management-io/policy-collection/_prowconfig.yaml
  core-services/prow/02_config/stolostron/policy-collection/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

updating rhoe 4.22 pool to rc.1 imageset
  clusters/hosted-mgmt/hive/pools/rh-openshift-ecosystem/rhoe-ocp-4-22-amd64-aws-us-west-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/rh-openshift-ecosystem/rhoe-ocp-4-22-amd64-aws-us-west-2_clusterpool.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Ran make update to generate jobs
  ci-operator/jobs/fleetshift/fleetshift-user-interface/fleetshift-fleetshift-user-interface-main-postsubmits.yaml
  ci-operator/jobs/fleetshift/fleetshift-user-interface/fleetshift-fleetshift-user-interface-main-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

improvements
  ci-operator/step-registry/codeready-toolchain/devsandbox-dashboard-prod/codeready-toolchain-devsandbox-dashboard-prod-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

improvements
  ci-operator/step-registry/codeready-toolchain/devsandbox-dashboard-prod/codeready-toolchain-devsandbox-dashboard-prod-commands.sh
  ci-operator/step-registry/codeready-toolchain/devsandbox-dashboard-prod/codeready-toolchain-devsandbox-dashboard-prod-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Migrate 3 broad OCM FVT jobs to Prow (#78493)
  ci-operator/config/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main.yaml
  ci-operator/jobs/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Harden curl in ironic-image and ironic-agent-image CI configs (#78628)
  ci-operator/config/openshift/ironic-agent-image/openshift-ironic-agent-image-main.yaml
  ci-operator/config/openshift/ironic-agent-image/openshift-ironic-agent-image-main__prevalidation.yaml
  ci-operator/config/openshift/ironic-agent-image/openshift-ironic-agent-image-release-4.16.yaml
  ci-operator/config/openshift/ironic-agent-image/openshift-ironic-agent-image-release-4.16__prevalidation.yaml
  ci-operator/config/openshift/ironic-agent-image/openshift-ironic-agent-image-release-4.17.yaml
  ci-operator/config/openshift/ironic-agent-image/openshift-ironic-agent-image-release-4.17__prevalidation.yaml
  ci-operator/config/openshift/ironic-agent-image/openshift-ironic-agent-image-release-4.18.yaml
  ci-operator/config/openshift/ironic-agent-image/openshift-ironic-agent-image-release-4.18__prevalidation.yaml
  ci-operator/config/openshift/ironic-agent-image/openshift-ironic-agent-image-release-4.19.yaml
  ci-operator/config/openshift/ironic-agent-image/openshift-ironic-agent-image-release-4.19__prevalidation.yaml
  ci-operator/config/openshift/ironic-agent-image/openshift-ironic-agent-image-release-4.20.yaml
  ci-operator/config/openshift/ironic-agent-image/openshift-ironic-agent-image-release-4.20__prevalidation.yaml
  ci-operator/config/openshift/ironic-agent-image/openshift-ironic-agent-image-release-4.21.yaml
  ci-operator/config/openshift/ironic-agent-image/openshift-ironic-agent-image-release-4.21__prevalidation.yaml
  ci-operator/config/openshift/ironic-agent-image/openshift-ironic-agent-image-release-4.22.yaml
  ci-operator/config/openshift/ironic-agent-image/openshift-ironic-agent-image-release-4.22__prevalidation.yaml
  ci-operator/config/openshift/ironic-agent-image/openshift-ironic-agent-image-release-4.23.yaml
  ci-operator/config/openshift/ironic-agent-image/openshift-ironic-agent-image-release-5.0.yaml
  ci-operator/config/openshift/ironic-agent-image/openshift-ironic-agent-image-release-5.1.yaml
  ci-operator/config/openshift/ironic-image/openshift-ironic-image-main.yaml
  ci-operator/config/openshift/ironic-image/openshift-ironic-image-main__prevalidation.yaml
  ci-operator/config/openshift/ironic-image/openshift-ironic-image-release-4.16.yaml
  ci-operator/config/openshift/ironic-image/openshift-ironic-image-release-4.16__prevalidation.yaml
  ci-operator/config/openshift/ironic-image/openshift-ironic-image-release-4.17.yaml
  ci-operator/config/openshift/ironic-image/openshift-ironic-image-release-4.17__prevalidation.yaml
  ci-operator/config/openshift/ironic-image/openshift-ironic-image-release-4.18.yaml
  ci-operator/config/openshift/ironic-image/openshift-ironic-image-release-4.18__prevalidation.yaml
  ci-operator/config/openshift/ironic-image/openshift-ironic-image-release-4.19.yaml
  ci-operator/config/openshift/ironic-image/openshift-ironic-image-release-4.19__prevalidation.yaml
  ci-operator/config/openshift/ironic-image/openshift-ironic-image-release-4.20.yaml
  ci-operator/config/openshift/ironic-image/openshift-ironic-image-release-4.20__prevalidation.yaml
  ci-operator/config/openshift/ironic-image/openshift-ironic-image-release-4.21.yaml
  ci-operator/config/openshift/ironic-image/openshift-ironic-image-release-4.21__prevalidation.yaml
  ci-operator/config/openshift/ironic-image/openshift-ironic-image-release-4.22.yaml
  ci-operator/config/openshift/ironic-image/openshift-ironic-image-release-4.22__prevalidation.yaml
  ci-operator/config/openshift/ironic-image/openshift-ironic-image-release-4.23.yaml
  ci-operator/config/openshift/ironic-image/openshift-ironic-image-release-5.0.yaml
  ci-operator/config/openshift/ironic-image/openshift-ironic-image-release-5.1.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add cnf-gotests downstream test step for SNO day-2 worker
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-sno-day2-worker-4.20.yaml
  ci-operator/step-registry/telcov10n/functional/cnf-ran/cnf-gotests-sno-worker/OWNERS
  ci-operator/step-registry/telcov10n/functional/cnf-ran/cnf-gotests-sno-worker/telcov10n-functional-cnf-ran-cnf-gotests-sno-worker-commands.sh
  ci-operator/step-registry/telcov10n/functional/cnf-ran/cnf-gotests-sno-worker/telcov10n-functional-cnf-ran-cnf-gotests-sno-worker-ref.metadata.json
  ci-operator/step-registry/telcov10n/functional/cnf-ran/cnf-gotests-sno-worker/telcov10n-functional-cnf-ran-cnf-gotests-sno-worker-ref.yaml
  ci-operator/step-registry/telcov10n/functional/cnf-ran/hub-deploy/telcov10n-functional-cnf-ran-hub-deploy-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ship-help: openshift-monitoring read RBAC on app.ci and common_managed (#78482)
  clusters/app.ci/assets/ship-help_rbac.yaml
  clusters/build-clusters/common/assets/ship-help_rbac.yaml
  clusters/build-clusters/common_managed/ship-help_rbac.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Strip whitespace from TEST_SKIPS in STS conformance step (#78574)
  ci-operator/step-registry/rosa/aws/sts/conformance/rosa-aws-sts-conformance-workflow.yaml
  ci-operator/step-registry/rosa/aws/sts/conformance/test/rosa-aws-sts-conformance-test-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Exclude autoscaling tests from kserve e2e-llm-inference-service (#78584)
  ci-operator/config/opendatahub-io/kserve/opendatahub-io-kserve-master.yaml
  ci-operator/config/opendatahub-io/kserve/opendatahub-io-kserve-release-v0.17.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Reduce Azure self-managed e2e management cluster nodes from 6 to 2 (#78602)
  ci-operator/step-registry/hypershift/azure/e2e/self-managed/hypershift-azure-e2e-self-managed-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

autoowners: do not ignore openshift/build-machinery-go and openshift/oauth-apiserver (#78640)
  ci-operator/jobs/infra-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

HYPERFLEET-877 - ci: bump hyperfleet-hooks to v0.1.2 (#78645)
  ci-operator/step-registry/hyperfleet/commitlint/hyperfleet-commitlint-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

quay/quay: encrypt kubeconfig artifacts with AES-256-CBC (#78646)
  ci-operator/config/quay/quay/quay-quay-master__claim.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

step-registry: restructure ABI steps to abi/conf/bm and abi/install/bmc
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__gs-bm--ocp-4.19--lp-interop.yaml
  ci-operator/step-registry/abi/README.md
  ci-operator/step-registry/abi/bm/OWNERS
  ci-operator/step-registry/abi/bm/conf/OWNERS
  ci-operator/step-registry/abi/bm/install/OWNERS
  ci-operator/step-registry/abi/bm/postinstall/OWNERS
  ci-operator/step-registry/abi/conf/bm/OWNERS
  ci-operator/step-registry/abi/conf/bm/abi-conf-bm-commands.sh
  ci-operator/step-registry/abi/conf/bm/abi-conf-bm-ref.metadata.json
  ci-operator/step-registry/abi/conf/bm/abi-conf-bm-ref.yaml
  ci-operator/step-registry/abi/install/bmc/OWNERS
  ci-operator/step-registry/abi/install/bmc/abi-install-bmc-commands.sh
  ci-operator/step-registry/abi/install/bmc/abi-install-bmc-ref.metadata.json
  ci-operator/step-registry/abi/install/bmc/abi-install-bmc-ref.yaml
  ci-operator/step-registry/gs-baremetal/CI-ABI-JOB-CONFIG.md
  ci-operator/step-registry/gs-baremetal/README.md
  ci-operator/step-registry/gs-baremetal/agent-install/gs-baremetal-agent-install-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update docs and missing ISO generation mode logic.
  ci-operator/step-registry/abi/README.md
  ci-operator/step-registry/abi/bm/conf/abi-bm-conf-commands.sh
  ci-operator/step-registry/abi/bm/conf/abi-bm-conf-ref.yaml
  ci-operator/step-registry/abi/bm/install/abi-bm-install-commands.sh
  ci-operator/step-registry/abi/bm/install/abi-bm-install-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix shellcheck errors in ABI step scripts and add OWNERS files
  ci-operator/step-registry/abi/conf/OWNERS
  ci-operator/step-registry/abi/conf/bm/abi-conf-bm-commands.sh
  ci-operator/step-registry/abi/install/OWNERS
  ci-operator/step-registry/abi/install/bmc/abi-install-bmc-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update Steps with workind and validated workflow.
  ci-operator/step-registry/abi/bm/conf/abi-bm-conf-commands.sh
  ci-operator/step-registry/abi/bm/install/abi-bm-install-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Remove gs-bm job config & related files
  ci-operator/config/RedHatQE/interop-testing/.config.prowgen
  ci-operator/config/RedHatQE/interop-testing/README.md
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__gs-baremetal-localnet-ocp4.19-lp-gs.yaml
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__gs-bm--ocp-4.19--lp-interop.yaml
  ci-operator/jobs/RedHatQE/interop-testing/RedHatQE-interop-testing-master-periodics.yaml
  ci-operator/jobs/RedHatQE/interop-testing/RedHatQE-interop-testing-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Update grace_period 5m & remove CI-ABI-JOB-CONFIG
  ci-operator/step-registry/abi/conf/bm/abi-conf-bm-ref.yaml
  ci-operator/step-registry/abi/install/bmc/abi-install-bmc-commands.sh
  ci-operator/step-registry/abi/install/bmc/abi-install-bmc-ref.yaml
  ci-operator/step-registry/gs-baremetal/CI-ABI-JOB-CONFIG.md
  ci-operator/step-registry/gs-baremetal/README.md
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Create gs-baremetal Agent-Based Install workflow, harden scripts, and document step envs
  ci-operator/config/RedHatQE/interop-testing/.config.prowgen
  ci-operator/config/RedHatQE/interop-testing/README.md
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__gs-baremetal-localnet-ocp4.19-lp-gs.yaml
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__gs-bm--ocp-4.19--lp-interop.yaml
  ci-operator/jobs/RedHatQE/interop-testing/RedHatQE-interop-testing-master-periodics.yaml
  ci-operator/jobs/RedHatQE/interop-testing/RedHatQE-interop-testing-master-presubmits.yaml
  ci-operator/step-registry/abi/OWNERS
  ci-operator/step-registry/abi/README.md
  ci-operator/step-registry/abi/bm/OWNERS
  ci-operator/step-registry/abi/bm/conf/OWNERS
  ci-operator/step-registry/abi/bm/conf/abi-bm-conf-commands.sh
  ci-operator/step-registry/abi/bm/conf/abi-bm-conf-ref.metadata.json
  ci-operator/step-registry/abi/bm/conf/abi-bm-conf-ref.yaml
  ci-operator/step-registry/abi/bm/install/OWNERS
  ci-operator/step-registry/abi/bm/install/abi-bm-install-commands.sh
  ci-operator/step-registry/abi/bm/install/abi-bm-install-ref.metadata.json
  ci-operator/step-registry/abi/bm/install/abi-bm-install-ref.yaml
  ci-operator/step-registry/abi/bm/postinstall/OWNERS
  ci-operator/step-registry/gs-baremetal/CI-ABI-JOB-CONFIG.md
  ci-operator/step-registry/gs-baremetal/OWNERS
  ci-operator/step-registry/gs-baremetal/README.md
  ci-operator/step-registry/gs-baremetal/agent-install/OWNERS
  ci-operator/step-registry/gs-baremetal/agent-install/gs-baremetal-agent-install-workflow.metadata.json
  ci-operator/step-registry/gs-baremetal/agent-install/gs-baremetal-agent-install-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Remove OCP__ABI__MIN_ISO from test config
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__abi-test.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Simplify DAY0_SCRIPTS_YAML to avoid CLUSTER_PROFILE_DIR dependency
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__abi-test.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Stabilize Node booting.
  ci-operator/step-registry/abi/README.md
  ci-operator/step-registry/abi/conf/bm/abi-conf-bm-commands.sh
  ci-operator/step-registry/abi/conf/bm/abi-conf-bm-ref.yaml
  ci-operator/step-registry/abi/install/bmc/abi-install-bmc-commands.sh
  ci-operator/step-registry/abi/install/bmc/abi-install-bmc-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Regenerate CI operator configs for abi-test
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__abi-test.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

[WIP] CI Operator Emulator - ABI Test Jobs for Image Retrieval
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__abi-test.yaml
  ci-operator/jobs/RedHatQE/interop-testing/RedHatQE-interop-testing-master-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add SIGCHLD handling.
  ci-operator/step-registry/abi/install/bmc/abi-install-bmc-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add cluster_profile to abi-test jobs
  ci-operator/config/RedHatQE/interop-testing/RedHatQE-interop-testing-master__abi-test.yaml
  ci-operator/jobs/RedHatQE/interop-testing/RedHatQE-interop-testing-master-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics
