Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

Make security jobs in OVNK/CNO required for 4.23+ (#80698)
  ci-operator/config/openshift/cluster-network-operator/openshift-cluster-network-operator-master.yaml
  ci-operator/config/openshift/cluster-network-operator/openshift-cluster-network-operator-release-4.23.yaml
  ci-operator/config/openshift/cluster-network-operator/openshift-cluster-network-operator-release-5.0.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-main.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.23.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-5.0.yaml
  ci-operator/jobs/openshift/cluster-network-operator/openshift-cluster-network-operator-master-presubmits.yaml
  ci-operator/jobs/openshift/cluster-network-operator/openshift-cluster-network-operator-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift/cluster-network-operator/openshift-cluster-network-operator-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-main-presubmits.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-5.0-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

NO-ISSUE: Always run ISO_NO_REGISTRY job on assisted UI
  ci-operator/config/openshift-assisted/assisted-installer-ui/openshift-assisted-assisted-installer-ui-master.yaml
  ci-operator/config/openshift-assisted/assisted-installer-ui/openshift-assisted-assisted-installer-ui-release-4.20.yaml
  ci-operator/config/openshift-assisted/assisted-installer-ui/openshift-assisted-assisted-installer-ui-release-4.21.yaml
  ci-operator/config/openshift-assisted/assisted-installer-ui/openshift-assisted-assisted-installer-ui-release-4.22.yaml
  ci-operator/config/openshift-assisted/assisted-installer-ui/openshift-assisted-assisted-installer-ui-release-4.23.yaml
  ci-operator/config/openshift-assisted/assisted-installer-ui/openshift-assisted-assisted-installer-ui-release-5.0.yaml
  ci-operator/config/openshift-assisted/assisted-installer-ui/openshift-assisted-assisted-installer-ui-release-5.1.yaml
  ci-operator/jobs/openshift-assisted/assisted-installer-ui/openshift-assisted-assisted-installer-ui-master-presubmits.yaml
  ci-operator/jobs/openshift-assisted/assisted-installer-ui/openshift-assisted-assisted-installer-ui-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-assisted/assisted-installer-ui/openshift-assisted-assisted-installer-ui-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift-assisted/assisted-installer-ui/openshift-assisted-assisted-installer-ui-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift-assisted/assisted-installer-ui/openshift-assisted-assisted-installer-ui-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift-assisted/assisted-installer-ui/openshift-assisted-assisted-installer-ui-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift-assisted/assisted-installer-ui/openshift-assisted-assisted-installer-ui-release-5.1-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Reduce cron frequency for cudn 500 and 250 (#81009)
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-5.0-nightly-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

updated submariner-addon release version to 5.0 (#81158)
  ci-operator/config/stolostron/submariner-addon/stolostron-submariner-addon-release-5.0.yaml
  ci-operator/config/stolostron/submariner-addon/stolostron-submariner-addon-release-5.1.yaml
  ci-operator/jobs/stolostron/submariner-addon/stolostron-submariner-addon-release-5.0-postsubmits.yaml
  ci-operator/jobs/stolostron/submariner-addon/stolostron-submariner-addon-release-5.0-presubmits.yaml
  ci-operator/jobs/stolostron/submariner-addon/stolostron-submariner-addon-release-5.1-postsubmits.yaml
  ci-operator/jobs/stolostron/submariner-addon/stolostron-submariner-addon-release-5.1-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

coderabbit change to protect Fail fast on invalid setup-script output.
  ci-operator/step-registry/openshift/claude/agent-eval/openshift-claude-agent-eval-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

remove sleeps and extra debug comments and code (#81165)
  ci-operator/step-registry/dpf/hypervisor/deploy-cluster/dpf-hypervisor-deploy-cluster-commands.sh
  ci-operator/step-registry/dpf/hypervisor/network-tests/dpf-hypervisor-network-tests-commands.sh
  ci-operator/step-registry/dpf/hypervisor/sanity-existing/dpf-hypervisor-sanity-existing-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix PI_MODEL default and regenerate registry metadata
  ci-operator/step-registry/mpiit/agent-post/mpiit-agent-post-ref.metadata.json
  ci-operator/step-registry/mpiit/agent-post/mpiit-agent-post-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

no-jira: workaround: remove capi credentialsRequest in Default cluster
  ci-operator/step-registry/aws/provision/cco-manual-users/static/aws-provision-cco-manual-users-static-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

By default, use --included for extracting cred reqs
  ci-operator/step-registry/aws/c2s/init-token-service/aws-c2s-init-token-service-ref.yaml
  ci-operator/step-registry/aws/provision/cco-manual-users/static/aws-provision-cco-manual-users-static-ref.yaml
  ci-operator/step-registry/gcp/provision/cco-manual-users/static/gcp-provision-cco-manual-users-static-ref.yaml
  ci-operator/step-registry/ipi/conf/aws/oidc-creds-provision/ipi-conf-aws-oidc-creds-provision-ref.yaml
  ci-operator/step-registry/ipi/conf/azure/oidc-creds-provision/ipi-conf-azure-oidc-creds-provision-ref.yaml
  ci-operator/step-registry/ipi/conf/azurestack/creds/ipi-conf-azurestack-creds-ref.yaml
  ci-operator/step-registry/ipi/conf/gcp/oidc-creds-provision/ipi-conf-gcp-oidc-creds-provision-ref.yaml
  ci-operator/step-registry/ipi/conf/manual-creds/remove-unnecessary-creds/ipi-conf-manual-creds-remove-unnecessary-creds-ref.yaml
  ci-operator/step-registry/ipi/conf/nutanix/manual-creds/ipi-conf-nutanix-manual-creds-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

no-jira: workaround: remove capi credentialsRequest in aws-c2s-init-token-service
  ci-operator/step-registry/aws/c2s/init-token-service/aws-c2s-init-token-service-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

redebug: move n unused steps to ease debugging
  ci-operator/step-registry/cucushift/installer/rehearse/aws/c2s/ipi/disconnected/private/provision/cucushift-installer-rehearse-aws-c2s-ipi-disconnected-private-provision-chain.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

debug: add openshift-extended-test step to extract kubeconfig
  ci-operator/step-registry/cucushift/installer/rehearse/aws/c2s/ipi/disconnected/private/cucushift-installer-rehearse-aws-c2s-ipi-disconnected-private-workflow.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/aws/sc2s/ipi/disconnected/private/cucushift-installer-rehearse-aws-sc2s-ipi-disconnected-private-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

debug: make test sleep 4hrs
  ci-operator/step-registry/openshift-extended/test/openshift-extended-test-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ROSAENG-60416: Add Prow periodic for OSDFM SC autoscaling
  ci-operator/config/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main__ocm-fvt-osdfm-integration.yaml
  ci-operator/jobs/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

remove runc jobs from presubmits as they are covered by periodics
  ci-operator/config/openshift-priv/kubernetes/openshift-priv-kubernetes-master.yaml
  ci-operator/config/openshift-priv/kubernetes/openshift-priv-kubernetes-release-4.23.yaml
  ci-operator/config/openshift-priv/kubernetes/openshift-priv-kubernetes-release-5.0.yaml
  ci-operator/config/openshift-priv/kubernetes/openshift-priv-kubernetes-release-5.1.yaml
  ci-operator/config/openshift/kubernetes/openshift-kubernetes-master.yaml
  ci-operator/config/openshift/kubernetes/openshift-kubernetes-release-4.23.yaml
  ci-operator/config/openshift/kubernetes/openshift-kubernetes-release-5.0.yaml
  ci-operator/config/openshift/kubernetes/openshift-kubernetes-release-5.1.yaml
  ci-operator/jobs/openshift-priv/kubernetes/openshift-priv-kubernetes-master-presubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes/openshift-priv-kubernetes-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes/openshift-priv-kubernetes-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes/openshift-priv-kubernetes-release-5.1-presubmits.yaml
  ci-operator/jobs/openshift/kubernetes/openshift-kubernetes-master-presubmits.yaml
  ci-operator/jobs/openshift/kubernetes/openshift-kubernetes-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift/kubernetes/openshift-kubernetes-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift/kubernetes/openshift-kubernetes-release-5.1-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

update images
  ci-operator/config/netobserv/netobserv-perf-tests/netobserv-netobserv-perf-tests-main__netobserv-aws-5.0-nightly-x86.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

remove runc jobs from presubmits as they are covered by periodics (#81169)
  ci-operator/config/openshift-priv/kubernetes/openshift-priv-kubernetes-master.yaml
  ci-operator/config/openshift-priv/kubernetes/openshift-priv-kubernetes-release-4.23.yaml
  ci-operator/config/openshift-priv/kubernetes/openshift-priv-kubernetes-release-5.0.yaml
  ci-operator/config/openshift-priv/kubernetes/openshift-priv-kubernetes-release-5.1.yaml
  ci-operator/config/openshift/kubernetes/openshift-kubernetes-master.yaml
  ci-operator/config/openshift/kubernetes/openshift-kubernetes-release-4.23.yaml
  ci-operator/config/openshift/kubernetes/openshift-kubernetes-release-5.0.yaml
  ci-operator/config/openshift/kubernetes/openshift-kubernetes-release-5.1.yaml
  ci-operator/jobs/openshift-priv/kubernetes/openshift-priv-kubernetes-master-presubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes/openshift-priv-kubernetes-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes/openshift-priv-kubernetes-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes/openshift-priv-kubernetes-release-5.1-presubmits.yaml
  ci-operator/jobs/openshift/kubernetes/openshift-kubernetes-master-presubmits.yaml
  ci-operator/jobs/openshift/kubernetes/openshift-kubernetes-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift/kubernetes/openshift-kubernetes-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift/kubernetes/openshift-kubernetes-release-5.1-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add redhat-ai-dev/rhess jobs on aws-devflie profile
  ci-operator/config/redhat-ai-dev/rhess/OWNERS
  ci-operator/config/redhat-ai-dev/rhess/redhat-ai-dev-rhess-main.yaml
  ci-operator/jobs/redhat-ai-dev/rhess/redhat-ai-dev-rhess-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

SSCSI-280: [secrets-store-csi-driver-operator]: add weekly AWS e2e against Konflux FBC image (#80647)
  ci-operator/config/openshift/secrets-store-csi-driver-operator/openshift-secrets-store-csi-driver-operator-main.yaml
  ci-operator/jobs/openshift/secrets-store-csi-driver-operator/openshift-secrets-store-csi-driver-operator-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

PKI config test job addition (#80948)
  ci-operator/config/openshift/origin/openshift-origin-main.yaml
  ci-operator/jobs/openshift/origin/openshift-origin-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

openshift-logging: Add configuration for Loki v3.7.3 (#81077)
  ci-operator/config/openshift/loki/openshift-loki-upstream-v3.7.3.yaml
  ci-operator/jobs/openshift/loki/openshift-loki-upstream-v3.7.3-postsubmits.yaml
  ci-operator/jobs/openshift/loki/openshift-loki-upstream-v3.7.3-presubmits.yaml
  core-services/image-mirroring/openshift-logging/mapping_logging_loki_quay
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

update to 4.20
  ci-operator/config/redhat-ai-dev/rhess/redhat-ai-dev-rhess-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

re run make update
  ci-operator/jobs/redhat-ai-dev/rhess/redhat-ai-dev-rhess-main-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Add CUDN churn, incremental, and density tests for 4.22, 4.23, 5.0
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-4.22-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-4.23-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-5.0-nightly-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-periodics.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-presubmits.yaml
  ci-operator/step-registry/openshift-qe/cudn-density/openshift-qe-cudn-density-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add owners
  ci-operator/jobs/redhat-ai-dev/rhess/OWNERS
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Add CUDN churn, incremental, and density tests for 4.22, 4.23, 5.0 (#80485)
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-4.22-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-4.23-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__aws-5.0-nightly-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-periodics.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-presubmits.yaml
  ci-operator/step-registry/openshift-qe/cudn-density/openshift-qe-cudn-density-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Enable trigger
  core-services/prow/02_config/redhat-ai-dev/rhess/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

rhcos10: update how fips mode is checked
  ci-operator/step-registry/cucushift/installer/check/fips/cucushift-installer-check-fips-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Alphabetize ignore-repo lines in periodic-prow-auto-owners job
  ci-operator/jobs/infra-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Add core-networking repos to autoowners ignore list
  ci-operator/jobs/infra-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Add jluhrsen as approver to core-networking team OWNERS files
  ci-operator/config/openshift/cloud-network-config-controller/OWNERS
  ci-operator/config/openshift/cluster-network-operator/OWNERS
  ci-operator/config/openshift/egress-router-cni/OWNERS
  ci-operator/config/openshift/ingress-node-firewall/OWNERS
  ci-operator/config/openshift/network-tools/OWNERS
  ci-operator/config/openshift/network.offline_migration_sdn_to_ovnk/OWNERS
  ci-operator/config/openshift/ovn-kubernetes/OWNERS
  ci-operator/config/openshift/sdn/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add ci-operator config for SNO day2-worker 4.22 CI lane
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-sno-day2-worker-4.22.yaml
  ci-operator/jobs/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Update OPERATOR_RELEASED_VERSION for fence-agents-remediation
  ci-operator/config/medik8s/fence-agents-remediation/medik8s-fence-agents-remediation-main__4.22.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Update OPERATOR_RELEASED_VERSION for fence-agents-remediation
  ci-operator/config/medik8s/fence-agents-remediation/medik8s-fence-agents-remediation-main__4.23.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Update OPERATOR_RELEASED_VERSION for fence-agents-remediation
  ci-operator/config/medik8s/fence-agents-remediation/medik8s-fence-agents-remediation-main__5.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Update OPERATOR_RELEASED_VERSION for node-maintenance-operator
  ci-operator/config/medik8s/node-maintenance-operator/medik8s-node-maintenance-operator-main__4.22.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Update OPERATOR_RELEASED_VERSION for node-maintenance-operator
  ci-operator/config/medik8s/node-maintenance-operator/medik8s-node-maintenance-operator-main__4.23.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Update OPERATOR_RELEASED_VERSION for node-maintenance-operator
  ci-operator/config/medik8s/node-maintenance-operator/medik8s-node-maintenance-operator-main__5.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames
