Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

services-valid:
  commands: make check-services
  container:
    from: src

ci/openshift/promrules:
  decorate: true
  spec:
    containers:
    - command:
      - /go/entrypoint.sh
      image: registry.svc.ci.openshift.org/ci/promrules:latest
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
          cpu: 500m
        requests:
          cpu: 10m

ci/prow/pylint:
  decorate: true
  spec:
    containers:
    - args:
      - --rcfile=hack/.pylintrc
      - --ignore=lib
      - --persistent=n
      - hack
      command:
      - pylint
      image: registry.svc.ci.openshift.org/ci/python-validation
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
  ...

branch-ci-openshift-release-master-gsm-secrets-reconciler:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/sync-rover-groups/_config.yaml
      - --log-level=info
      - --gcp-service-account-key-file=/tmp/gcp-credentials/key.json
      command:
      - gsm-secret-sync
      env:
  ...

branch-ci-openshift-release-master-label-sync:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/prow/02_config/_labels.yaml
      - --confirm=true
  ...

ci/prow/check-cluster-profiles-config:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    automountServiceAccountToken: true
    containers:
    - args:
      - --config-path=./ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml
      command:
      - check-cluster-profiles-config
  ...

ci/prow/check-gh-automation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --bot=openshift-merge-robot
      - --bot=openshift-ci-robot
      - --app=openshift-ci
      - --app-check-mode=standard
      - --candidate-path=.
  ...

ci/prow/check-gh-automation-tide:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --app=openshift-merge-bot
      - --app-check-mode=tide
      - --candidate-path=.
      - --config-path=./core-services/prow/02_config/_config.yaml
  ...

ci/prow/image-mirroring-config-validation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --release-repo-git-sync-path=.
      - --registry-config=/etc/pull/.dockerconfigjson
      - --config=./core-services/image-mirroring/_config.yaml
      - --validate-config-only=true
  ...

ci/prow/clusterimageset-validate:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --pools
      - ./clusters/hosted-mgmt/hive/pools
      - --imagesets
      - ./clusters/hosted-mgmt/hive/pools
      command:
      - clusterimageset-updater
  ...

Correcting dependency issue causing an error in the perodic job
  ci-operator/config/openshift-online/rosa-regional-platform/openshift-online-rosa-regional-platform-main.yaml
  ci-operator/jobs/openshift-online/rosa-regional-platform/openshift-online-rosa-regional-platform-main-periodics.yaml
  ci-operator/jobs/openshift-online/rosa-regional-platform/openshift-online-rosa-regional-platform-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

just test basic steps
  ci-operator/config/openshift-online/rosa-regional-platform/openshift-online-rosa-regional-platform-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ran make ci-operator-config
  ci-operator/config/openshift-online/rosa-regional-platform/openshift-online-rosa-regional-platform-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

updating openshift-preflight build image to go 1.25.7 to address CVE CVE-2025-61726
  ci-operator/config/redhat-openshift-ecosystem/openshift-preflight/redhat-openshift-ecosystem-openshift-preflight-main__4.13.yaml
  ci-operator/config/redhat-openshift-ecosystem/openshift-preflight/redhat-openshift-ecosystem-openshift-preflight-main__4.21.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add e2e-metal-ipi-ovn-dualstack-bgp-local-gw-techpreview job for CNO and OVNK 4.22
  ci-operator/config/openshift/cluster-network-operator/openshift-cluster-network-operator-release-4.22.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.22.yaml
  ci-operator/jobs/openshift/cluster-network-operator/openshift-cluster-network-operator-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.22-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

step-registry: Add custom FRR image support to BGP pre step
  ci-operator/step-registry/baremetalds/e2e/ovn/bgp/pre/baremetalds-e2e-ovn-bgp-pre-commands.sh
  ci-operator/step-registry/baremetalds/e2e/ovn/bgp/pre/baremetalds-e2e-ovn-bgp-pre-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

step-registry: Bump frr-k8s to v0.0.21 in BGP pre step
  ci-operator/step-registry/baremetalds/e2e/ovn/bgp/pre/baremetalds-e2e-ovn-bgp-pre-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

feat(rhdh): skip gather chain on successful PR runs via allow_skip_on_success
  ci-operator/config/redhat-developer/rhdh/redhat-developer-rhdh-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ARO HCP: remove go.work.sum from source image after build
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

update golang version
  ci-operator/config/opendatahub-io/rest-proxy/opendatahub-io-rest-proxy-main.yaml
  ci-operator/config/opendatahub-io/rest-proxy/opendatahub-io-rest-proxy-stable-2.x.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

use from_rep:true for build root in ovnk 4.18-4.20
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.18.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.19.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.20.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.18-periodics.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.18-postsubmits.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.19-periodics.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.19-postsubmits.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.20-periodics.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.20-postsubmits.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.20-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Allow specifying AWS availability zones explicitly (#74999)
  ci-operator/step-registry/ipi/conf/aws/custom-az/ipi-conf-aws-custom-az-commands.sh
  ci-operator/step-registry/ipi/conf/aws/custom-az/ipi-conf-aws-custom-az-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix orion UDN config mismatch: add L2/L3 dynamic selection and missing VERSION env var (#74985)
  ci-operator/step-registry/openshift-qe/orion/openshift-qe-orion-commands.sh
  ci-operator/step-registry/openshift-qe/orion/udn-density/OWNERS
  ci-operator/step-registry/openshift-qe/orion/udn-density/openshift-qe-orion-udn-density-commands.sh
  ci-operator/step-registry/openshift-qe/orion/udn-density/openshift-qe-orion-udn-density-ref.metadata.json
  ci-operator/step-registry/openshift-qe/orion/udn-density/openshift-qe-orion-udn-density-ref.yaml
  ci-operator/step-registry/openshift-qe/udn-density-pods/openshift-qe-udn-density-pods-chain.yaml
  ci-operator/step-registry/openshift-qe/udn-density-pods/openshift-qe-udn-density-pods-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add a new periodic job to test pre-release OSSM images
  ci-operator/config/openshift/cluster-ingress-operator/openshift-cluster-ingress-operator-master__periodics.yaml
  ci-operator/jobs/openshift/cluster-ingress-operator/openshift-cluster-ingress-operator-master-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

update golang version (#75110)
  ci-operator/config/opendatahub-io/rest-proxy/opendatahub-io-rest-proxy-main.yaml
  ci-operator/config/opendatahub-io/rest-proxy/opendatahub-io-rest-proxy-stable-2.x.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Periodic job for 500 nodes (#70734)
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-netobserv-perf-tests__netobserv-aws-4.22-nightly-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-netobserv-perf-tests-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

updating openshift-preflight build image to go 1.25.7 to address CVE CVE-2025-61726 (#75113)
  ci-operator/config/redhat-openshift-ecosystem/openshift-preflight/redhat-openshift-ecosystem-openshift-preflight-main__4.13.yaml
  ci-operator/config/redhat-openshift-ecosystem/openshift-preflight/redhat-openshift-ecosystem-openshift-preflight-main__4.21.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

PowerVC: Update to version 0.9.2
  ci-operator/step-registry/ipi/conf/powervc/ipi-conf-powervc-commands.sh
  ci-operator/step-registry/ipi/install/powervc/install/ipi-install-powervc-install-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ARO HCP: remove go.work.sum from source image after build (#75105)
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

remove 4.21 netobserv perf jobs, update 4.22 frequency
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-netobserv-perf-tests__netobserv-aws-4.21-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-netobserv-perf-tests__netobserv-aws-4.22-nightly-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-netobserv-perf-tests-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

config-brancher --config-dir ./ci-operator/config --current-release 4.22 --skip-periodics --future-release 4.23 --confirm
  ci-operator/config/openshift/cluster-api-provider-ovirt/openshift-cluster-api-provider-ovirt-release-4.23.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.15.60-x86-64-for-4.15.0-0-to-4.16.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.16.55-x86-64-for-4.16.0-0-to-4.17.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.17.46-x86-64-for-4.17.0-0-to-4.18.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.18.31-x86-64-for-4.18.0-0-to-4.19.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Add new claim-failure-analysis workflow with a failure-analysis post step (#73447)
  ci-operator/config/redhat-appstudio/infra-deployments/redhat-appstudio-infra-deployments-main.yaml
  ci-operator/step-registry/redhat-appstudio/claim-failure-analysis/OWNERS
  ci-operator/step-registry/redhat-appstudio/claim-failure-analysis/redhat-appstudio-claim-failure-analysis-workflow.metadata.json
  ci-operator/step-registry/redhat-appstudio/claim-failure-analysis/redhat-appstudio-claim-failure-analysis-workflow.yaml
  ci-operator/step-registry/redhat-appstudio/prow-failure-analysis/redhat-appstudio-prow-failure-analysis-commands.sh
  ci-operator/step-registry/redhat-appstudio/prow-failure-analysis/redhat-appstudio-prow-failure-analysis-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ci-operator-prowgen --from-dir ./ci-operator/config --to-dir ./ci-operator/jobs
  ci-operator/jobs/openshift-priv/instaslice-operator/openshift-priv-instaslice-operator-next-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

sanitize-prow-jobs --prow-jobs-dir ./ci-operator/jobs --config-path ./core-services/sanitize-prow-jobs/_config.yaml
  ci-operator/jobs/openshift-priv/instaslice-operator/openshift-priv-instaslice-operator-next-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

hypershift: use shared-role for AWS mgmt and conformance clusters (#72383)
  ci-operator/step-registry/hypershift/aws/create/hypershift-aws-create-chain.yaml
  ci-operator/step-registry/hypershift/setup-nested-management-cluster/hypershift-setup-nested-management-cluster-chain.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

add prowgen to generate forum-node-jira notifications automatically (#73463)
  ci-operator/config/openshift/kueue-operator/.config.prowgen
  ci-operator/jobs/openshift/kueue-operator/openshift-kueue-operator-main-periodics.yaml
  ci-operator/jobs/openshift/kueue-operator/openshift-kueue-operator-main-presubmits.yaml
  ci-operator/jobs/openshift/kueue-operator/openshift-kueue-operator-release-1.1-periodics.yaml
  ci-operator/jobs/openshift/kueue-operator/openshift-kueue-operator-release-1.1-presubmits.yaml
  ci-operator/jobs/openshift/kueue-operator/openshift-kueue-operator-release-1.2-periodics.yaml
  ci-operator/jobs/openshift/kueue-operator/openshift-kueue-operator-release-1.2-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

add ARO-HCP integration test job (#72812)
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main.yaml
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-presubmits.yaml
  ci-operator/step-registry/aro-hcp/frontend/run-integration-tests/OWNERS
  ci-operator/step-registry/aro-hcp/frontend/run-integration-tests/aro-hcp-frontend-run-integration-tests-commands.sh
  ci-operator/step-registry/aro-hcp/frontend/run-integration-tests/aro-hcp-frontend-run-integration-tests-ref.metadata.json
  ci-operator/step-registry/aro-hcp/frontend/run-integration-tests/aro-hcp-frontend-run-integration-tests-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.16.55-x86-64-for-4.16.0-0-to-4.17.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.20.10-x86-64-for-4.20.0-0-to-4.21.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

OCM-21643 | chore:update golang to 1.24 for sdk (#73462)
  ci-operator/config/openshift-online/ocm-sdk-go/openshift-online-ocm-sdk-go-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

update OLM QE info (#73467)
  core-services/prow/02_config/openshift/cluster-olm-operator/_pluginconfig.yaml
  core-services/prow/02_config/openshift/operator-framework-olm/_pluginconfig.yaml
  core-services/prow/02_config/openshift/operator-framework-operator-controller/_pluginconfig.yaml
  core-services/prow/02_config/operator-framework/operator-marketplace/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

HYPERFLEET-369 | Add pre-submit CI jobs for adapter-pull-secret (#73291)
  ci-operator/config/openshift-hyperfleet/adapter-pull-secret/OWNERS
  ci-operator/config/openshift-hyperfleet/adapter-pull-secret/openshift-hyperfleet-adapter-pull-secret-main.yaml
  ci-operator/config/openshift-hyperfleet/adapter-pull-secret/openshift-hyperfleet-adapter-pull-secret-main__presubmits.yaml
  ci-operator/jobs/openshift-hyperfleet/adapter-pull-secret/OWNERS
  ci-operator/jobs/openshift-hyperfleet/adapter-pull-secret/openshift-hyperfleet-adapter-pull-secret-main-presubmits.yaml
  core-services/prow/02_config/openshift-hyperfleet/adapter-pull-secret/OWNERS
  core-services/prow/02_config/openshift-hyperfleet/adapter-pull-secret/_pluginconfig.yaml
  core-services/prow/02_config/openshift-hyperfleet/adapter-pull-secret/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

DPTP-4634: Run build05 with full capacity (#73466)
  core-services/sanitize-prow-jobs/_clusters.yaml
Due: none

Get credentials from vault to hyperfleet-e2e workflow via volume mount way (#73259)
  ci-operator/step-registry/openshift-hyperfleet/e2e/cluster/openshift-hyperfleet-e2e-cluster-commands.sh
  ci-operator/step-registry/openshift-hyperfleet/e2e/cluster/openshift-hyperfleet-e2e-cluster-ref.yaml
  core-services/ci-secret-bootstrap/_config.yaml
Due: ci/prow/ci-secret-bootstrap-config-validation, ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)
