Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

services-valid:
  commands: make check-services
  container:
    from: src

ci/openshift/promrules:
  decorate: true
  spec:
    containers:
    - command:
      - /go/entrypoint.sh
      image: registry.svc.ci.openshift.org/ci/promrules:latest
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
          cpu: 500m
        requests:
          cpu: 10m

ci/prow/pylint:
  decorate: true
  spec:
    containers:
    - args:
      - --rcfile=hack/.pylintrc
      - --ignore=lib
      - --persistent=n
      - hack
      command:
      - pylint
      image: registry.svc.ci.openshift.org/ci/python-validation
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
  ...

ci/prow/services-valid:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/stackrox-stackrox-stackrox-stackrox-check:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: stackrox-stackrox
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

branch-ci-openshift-release-master-gsm-secrets-reconciler:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/sync-rover-groups/_config.yaml
      - --log-level=info
      - --gcp-service-account-key-file=/tmp/gcp-credentials/key.json
      command:
      - gsm-secret-sync
      env:
  ...

branch-ci-openshift-release-master-label-sync:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/prow/02_config/_labels.yaml
      - --confirm=true
  ...

ci/prow/check-cluster-profiles-config:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    automountServiceAccountToken: true
    containers:
    - args:
      - --config-path=./ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml
      command:
      - check-cluster-profiles-config
  ...

ci/prow/check-gh-automation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --bot=openshift-merge-robot
      - --bot=openshift-ci-robot
      - --app=openshift-ci
      - --app-check-mode=standard
      - --candidate-path=.
  ...

ci/prow/check-gh-automation-tide:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --app=openshift-merge-bot
      - --app-check-mode=tide
      - --candidate-path=.
      - --config-path=./core-services/prow/02_config/_config.yaml
  ...

step-registry: add local PTP CI runner (run-in-container.sh)
  ci-operator/step-registry/telco5g/ptp/tests/Dockerfile.telco-runner
  ci-operator/step-registry/telco5g/ptp/tests/run-in-container.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ci: add metal BGP dual-stack serial presubmit with dedicated workflow
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-main.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.22.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.23.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-5.0.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-main-presubmits.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-5.0-presubmits.yaml
  ci-operator/step-registry/baremetalds/e2e/ovn/bgp/dualstack-local-gw-serial/OWNERS
  ci-operator/step-registry/baremetalds/e2e/ovn/bgp/dualstack-local-gw-serial/baremetalds-e2e-ovn-bgp-dualstack-local-gw-serial-workflow.metadata.json
  ci-operator/step-registry/baremetalds/e2e/ovn/bgp/dualstack-local-gw-serial/baremetalds-e2e-ovn-bgp-dualstack-local-gw-serial-workflow.yaml
  ci-operator/step-registry/baremetalds/e2e/test/baremetalds-e2e-test-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

fix: harden baremetalds BGP pre-step for serial metal e2e
  ci-operator/step-registry/baremetalds/e2e/ovn/bgp/pre/baremetalds-e2e-ovn-bgp-pre-commands.sh
  ci-operator/step-registry/baremetalds/e2e/ovn/bgp/pre/baremetalds-e2e-ovn-bgp-pre-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Bump CLUSTER_TIMEOUT default from 7200 to 9000 in rosa wait-ready step
  ci-operator/step-registry/rosa/cluster/wait-ready/cluster/rosa-cluster-wait-ready-cluster-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

stackrox: test bootstrap retry workaround on OCP 4.22
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master__ocp-4-22-bootstrap-retry.yaml
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-master-presubmits.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

generated: add cluster assignment and formatting for bootstrap-retry jobs
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-master-presubmits.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Bump CLUSTER_TIMEOUT default from 7200 to 9000 in rosa wait-ready step (#82935)
  ci-operator/step-registry/rosa/cluster/wait-ready/cluster/rosa-cluster-wait-ready-cluster-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

step-registry/rosa: resolve VERSION_OFFSET_FROM_LATEST in account-roles-create
  ci-operator/step-registry/rosa/sts/account-roles/create/rosa-sts-account-roles-create-commands.sh
  ci-operator/step-registry/rosa/sts/account-roles/create/rosa-sts-account-roles-create-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Assign soak-test periodic to intranet-capable build cluster
  ci-operator/jobs/openshift/insights-runtime-extractor/openshift-insights-runtime-extractor-main-periodics.yaml
  core-services/sanitize-prow-jobs/_config.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

fix
  ci-operator/config/openshift/insights-runtime-extractor/openshift-insights-runtime-extractor-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add soak-test CI job for insights-runtime-extractor
  ci-operator/config/openshift/insights-runtime-extractor/openshift-insights-runtime-extractor-main.yaml
  ci-operator/jobs/openshift/insights-runtime-extractor/openshift-insights-runtime-extractor-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

increase step timeout
  ci-operator/config/openshift/insights-runtime-extractor/openshift-insights-runtime-extractor-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add periodic CI jobs to execute user iniated evals with different llmproviders
  ci-operator/config/rhobs/troubleshooting-scenarios/rhobs-troubleshooting-scenarios-main__4.22.yaml
  ci-operator/jobs/rhobs/troubleshooting-scenarios/rhobs-troubleshooting-scenarios-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

openshift-dpf Fixes to git rebase (2)
  ci-operator/step-registry/dpf/hypervisor/network-tests/dpf-hypervisor-network-tests-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Configure cluster Thanos querier for s390x Kuadrant metrics tests
  ci-operator/step-registry/kuadrant/s390x/deploy-tools/kuadrant-s390x-deploy-tools-commands.sh
  ci-operator/step-registry/kuadrant/s390x/deploy-tools/kuadrant-s390x-deploy-tools-ref.yaml
  ci-operator/step-registry/kuadrant/s390x/run-testsuite/kuadrant-s390x-run-testsuite-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Disable pytest reruns for s390x make kuadrant
  ci-operator/step-registry/kuadrant/s390x/run-testsuite/kuadrant-s390x-run-testsuite-commands.sh
  ci-operator/step-registry/kuadrant/s390x/run-testsuite/kuadrant-s390x-run-testsuite-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Improve report generation: filter empty XMLs, merge first, then generate reports
  ci-operator/step-registry/telcov10n/functional/cnf-compute/llc/tests/telcov10n-functional-cnf-compute-llc-tests-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

console and ingress COs failure fix
  ci-operator/step-registry/hypershift/mce/ibmz/create/zvsicomputes390x/hypershift-mce-ibmz-create-zvsicomputes390x-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Temporarily use mrniranjan/cluster-node-tuning-operator all_fixes branch
  ci-operator/step-registry/telcov10n/functional/cnf-compute/llc/tests/telcov10n-functional-cnf-compute-llc-tests-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

sleep 15 mins before hcp bin download
  ci-operator/step-registry/hypershift/mce/install/hypershift-mce-install-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

adding TomerNewman user to allow backport-risk-assessed in nfd
  core-services/prow/02_config/openshift/cluster-nfd-operator/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

feat(hypershift): add optional e2e-aws-backport job for release branches
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.19.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.20.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.21.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.22.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.22-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

fix(hypershift): set INSTALL_FROM_LATEST for e2e-aws-backport jobs
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.19.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.20.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.21.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.22.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

fix(hypershift): build hypershift-tests from branch source for 4.20/4.21
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.20.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.21.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.20-postsubmits.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.21-postsubmits.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.21-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

test ove
  ci-operator/config/openshift-eng/agent-qe-infra/openshift-eng-agent-qe-infra-release-4.21__amd64-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

wip
  ci-operator/config/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel__downstream-candidate.yaml
  ci-operator/jobs/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel-periodics.yaml
  ci-operator/step-registry/sandboxed-containers-operator/e2e/aws-sts/OWNERS
  ci-operator/step-registry/sandboxed-containers-operator/e2e/aws-sts/sandboxed-containers-operator-e2e-aws-sts-workflow.metadata.json
  ci-operator/step-registry/sandboxed-containers-operator/e2e/aws-sts/sandboxed-containers-operator-e2e-aws-sts-workflow.yaml
  ci-operator/step-registry/sandboxed-containers-operator/ipi/aws-sts-pre/OWNERS
  ci-operator/step-registry/sandboxed-containers-operator/ipi/aws-sts-pre/sandboxed-containers-operator-ipi-aws-sts-pre-chain.metadata.json
  ci-operator/step-registry/sandboxed-containers-operator/ipi/aws-sts-pre/sandboxed-containers-operator-ipi-aws-sts-pre-chain.yaml
  ci-operator/step-registry/sandboxed-containers-operator/peerpods/param-cm/sandboxed-containers-operator-peerpods-param-cm-commands.sh
  ci-operator/step-registry/sandboxed-containers-operator/post/sandboxed-containers-operator-post-commands.sh
  ci-operator/step-registry/sandboxed-containers-operator/post/sandboxed-containers-operator-post-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

fix cron and installation chains
  ci-operator/config/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel__downstream-candidate.yaml
  ci-operator/jobs/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel-periodics.yaml
  ci-operator/step-registry/sandboxed-containers-operator/e2e/aws-sts/sandboxed-containers-operator-e2e-aws-sts-workflow.yaml
  ci-operator/step-registry/sandboxed-containers-operator/e2e/azure-sts/sandboxed-containers-operator-e2e-azure-sts-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Inline ipi-sts-pre chains into their workflows
  ci-operator/step-registry/sandboxed-containers-operator/e2e/aws-sts/sandboxed-containers-operator-e2e-aws-sts-workflow.yaml
  ci-operator/step-registry/sandboxed-containers-operator/e2e/azure-sts/sandboxed-containers-operator-e2e-azure-sts-workflow.yaml
  ci-operator/step-registry/sandboxed-containers-operator/ipi/aws-sts-pre/OWNERS
  ci-operator/step-registry/sandboxed-containers-operator/ipi/aws-sts-pre/sandboxed-containers-operator-ipi-aws-sts-pre-chain.metadata.json
  ci-operator/step-registry/sandboxed-containers-operator/ipi/aws-sts-pre/sandboxed-containers-operator-ipi-aws-sts-pre-chain.yaml
  ci-operator/step-registry/sandboxed-containers-operator/ipi/azure-sts-pre/OWNERS
  ci-operator/step-registry/sandboxed-containers-operator/ipi/azure-sts-pre/sandboxed-containers-operator-ipi-azure-sts-pre-chain.metadata.json
  ci-operator/step-registry/sandboxed-containers-operator/ipi/azure-sts-pre/sandboxed-containers-operator-ipi-azure-sts-pre-chain.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add Azure STS mode support for kata peer-pods/CoCo testing
  ci-operator/config/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel__downstream-candidate.yaml
  ci-operator/jobs/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel-periodics.yaml
  ci-operator/step-registry/sandboxed-containers-operator/e2e/azure-sts/OWNERS
  ci-operator/step-registry/sandboxed-containers-operator/e2e/azure-sts/sandboxed-containers-operator-e2e-azure-sts-workflow.metadata.json
  ci-operator/step-registry/sandboxed-containers-operator/e2e/azure-sts/sandboxed-containers-operator-e2e-azure-sts-workflow.yaml
  ci-operator/step-registry/sandboxed-containers-operator/env-cm/sandboxed-containers-operator-env-cm-commands.sh
  ci-operator/step-registry/sandboxed-containers-operator/env-cm/sandboxed-containers-operator-env-cm-ref.yaml
  ci-operator/step-registry/sandboxed-containers-operator/ipi/azure-sts-pre/OWNERS
  ci-operator/step-registry/sandboxed-containers-operator/ipi/azure-sts-pre/sandboxed-containers-operator-ipi-azure-sts-pre-chain.metadata.json
  ci-operator/step-registry/sandboxed-containers-operator/ipi/azure-sts-pre/sandboxed-containers-operator-ipi-azure-sts-pre-chain.yaml
  ci-operator/step-registry/sandboxed-containers-operator/peerpods/param-cm/sandboxed-containers-operator-peerpods-param-cm-commands.sh
  ci-operator/step-registry/sandboxed-containers-operator/peerpods/param-cm/sandboxed-containers-operator-peerpods-param-cm-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

osc/azure-sts: clean up subscription-level role assignments on teardown
  ci-operator/step-registry/sandboxed-containers-operator/e2e/azure-sts/sandboxed-containers-operator-e2e-azure-sts-workflow.yaml
  ci-operator/step-registry/sandboxed-containers-operator/peerpods/param-cm/sandboxed-containers-operator-peerpods-param-cm-commands.sh
  ci-operator/step-registry/sandboxed-containers-operator/post/sandboxed-containers-operator-post-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Skipping qe_app_registry due to bug OCPQE-32096 (#82894)
  ci-operator/config/openshift/lvm-operator/openshift-lvm-operator-main__nightly-upgrade.yaml
  ci-operator/config/openshift/lvm-operator/openshift-lvm-operator-main__nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ocp-build-data: add 5.1 prow jobs
  ci-operator/config/openshift-eng/ocp-build-data/openshift-eng-ocp-build-data-openshift-5.1.yaml
  ci-operator/config/openshift-eng/ocp-build-data/openshift-eng-ocp-build-data-openshift-5.1__periodics.yaml
  ci-operator/jobs/openshift-eng/ocp-build-data/openshift-eng-ocp-build-data-openshift-5.1-periodics.yaml
  ci-operator/jobs/openshift-eng/ocp-build-data/openshift-eng-ocp-build-data-openshift-5.1-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add download timeouts and function guard to MAP_TESTS helper acquisition
  ci-operator/step-registry/acm/tests/alc/acm-tests-alc-commands.sh
  ci-operator/step-registry/acm/tests/grc/acm-tests-grc-commands.sh
  ci-operator/step-registry/acm/tests/observability/acm-tests-observability-commands.sh
  ci-operator/step-registry/quay-tests/quay-interop-test/quay-tests-quay-interop-test-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Wait for Ceph MGR 2/2 Ready before VM migration check after fencing
  ci-operator/step-registry/baremetalds/two-node/fencing/cnv-vm-ha/baremetalds-two-node-fencing-cnv-vm-ha-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

adding TomerNewman user to allow backport-risk-assessed in nfd (#82941)
  core-services/prow/02_config/openshift/cluster-nfd-operator/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Add CI config for ajaggapa/metallb-openshift testrelease branch
  ci-operator/config/ajaggapa/metallb-openshift/ajaggapa-metallb-testrelease.yaml
  ci-operator/jobs/ajaggapa/metallb-openshift/ajaggapa-metallb-openshift-ajaggapa-metallb-testrelease-postsubmits.yaml
  ci-operator/jobs/ajaggapa/metallb-openshift/ajaggapa-metallb-openshift-ajaggapa-metallb-testrelease-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

bgp-vip/ovn-bgp: address review findings
  ci-operator/step-registry/baremetalds/e2e/bgp-vip/ovn-bgp/verify/baremetalds-e2e-bgp-vip-ovn-bgp-verify-commands.sh
  ci-operator/step-registry/baremetalds/e2e/ovn/bgp/pre/baremetalds-e2e-ovn-bgp-pre-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

add slack notifications
  ci-operator/config/openshift/insights-runtime-extractor/openshift-insights-runtime-extractor-main.yaml
  ci-operator/jobs/openshift/insights-runtime-extractor/openshift-insights-runtime-extractor-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

bgp-vip/ovn-bgp: document security justification in workflow docs
  ci-operator/step-registry/baremetalds/e2e/bgp-vip/ovn-bgp/baremetalds-e2e-bgp-vip-ovn-bgp-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add openshift-qe-installer-bm-gather-extra step for bare metal (#82875)
  ci-operator/config/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main__metal-5.0-nightly-x86.yaml
  ci-operator/step-registry/openshift-qe/installer/bm/gather-extra/OWNERS
  ci-operator/step-registry/openshift-qe/installer/bm/gather-extra/openshift-qe-installer-bm-gather-extra-commands.sh
  ci-operator/step-registry/openshift-qe/installer/bm/gather-extra/openshift-qe-installer-bm-gather-extra-ref.metadata.json
  ci-operator/step-registry/openshift-qe/installer/bm/gather-extra/openshift-qe-installer-bm-gather-extra-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)
