Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

fix: updates for `deployOnHub` framework test name (#76164)
  core-services/prow/02_config/stolostron/cert-policy-controller/_prowconfig.yaml
  core-services/prow/02_config/stolostron/config-policy-controller/_prowconfig.yaml
  core-services/prow/02_config/stolostron/go-template-utils/_prowconfig.yaml
  core-services/prow/02_config/stolostron/governance-policy-addon-controller/_prowconfig.yaml
  core-services/prow/02_config/stolostron/governance-policy-framework-addon/_prowconfig.yaml
  core-services/prow/02_config/stolostron/governance-policy-framework/_prowconfig.yaml
  core-services/prow/02_config/stolostron/governance-policy-propagator/_prowconfig.yaml
  core-services/prow/02_config/stolostron/policy-generator-plugin/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

feat: set presubmit prow jobs as optional for models-as-a-service (#76360)
  ci-operator/config/opendatahub-io/models-as-a-service/opendatahub-io-models-as-a-service-main.yaml
  ci-operator/config/opendatahub-io/models-as-a-service/opendatahub-io-models-as-a-service-rhoai.yaml
  ci-operator/config/opendatahub-io/models-as-a-service/opendatahub-io-models-as-a-service-stable.yaml
  ci-operator/jobs/opendatahub-io/models-as-a-service/opendatahub-io-models-as-a-service-main-presubmits.yaml
  ci-operator/jobs/opendatahub-io/models-as-a-service/opendatahub-io-models-as-a-service-rhoai-presubmits.yaml
  ci-operator/jobs/opendatahub-io/models-as-a-service/opendatahub-io-models-as-a-service-stable-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

hive: pass basedomain for azure clusters (#76389)
  ci-operator/config/openshift/hive/openshift-hive-master.yaml
  ci-operator/config/openshift/hive/openshift-hive-master__periodic.yaml
  ci-operator/step-registry/ipi/conf/azure/ipi-conf-azure-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Updating the scenario on ROSA HCP to OCP4.21 (#76358)
  ci-operator/config/redhat-developer/devspaces-interop-tests/redhat-developer-devspaces-interop-tests-main__devspaces-ocp4.21-lp-rosa-hypershift.yaml
  ci-operator/jobs/redhat-developer/devspaces-interop-tests/redhat-developer-devspaces-interop-tests-main-periodics.yaml
  ci-operator/jobs/redhat-developer/devspaces-interop-tests/redhat-developer-devspaces-interop-tests-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

add all oadp func test ocp5.0 (#76361)
  ci-operator/config/openshift/oadp-operator/openshift-oadp-operator-oadp-1.6__5.0.yaml
  ci-operator/jobs/openshift/oadp-operator/openshift-oadp-operator-oadp-1.6-periodics.yaml
  ci-operator/jobs/openshift/oadp-operator/openshift-oadp-operator-oadp-1.6-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

USHIFT-6707: Fix microshift branch selection for clone (#76380)
  ci-operator/step-registry/openshift/microshift/includes/openshift-microshift-includes-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Sync Serverless CI config/ (#76094)
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__4.20-techpreview.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__414.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__420-aws-ovn.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__420-azure.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__420-gcp.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__420-hypershift.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__420-single-node.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__420-vsphere.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__420.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__421.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-release-1.37__ocp-4.23-lp-interop-cr.yaml
  ci-operator/jobs/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main-periodics.yaml
  ci-operator/jobs/openshift-knative/serverless-operator/openshift-knative-serverless-operator-release-1.37-periodics.yaml
  ci-operator/jobs/openshift-knative/serverless-operator/openshift-knative-serverless-operator-release-1.37-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

config-brancher --config-dir ./ci-operator/config --current-release 4.22 --skip-periodics --future-release 4.23 --future-release 5.0 --confirm
  ci-operator/config/openshift/cluster-kube-scheduler-operator/openshift-cluster-kube-scheduler-operator-release-5.0.yaml
  ci-operator/config/openshift/cluster-version-operator/openshift-cluster-version-operator-release-4.22.yaml
  ci-operator/config/openshift/cluster-version-operator/openshift-cluster-version-operator-release-4.23.yaml
  ci-operator/config/openshift/cluster-version-operator/openshift-cluster-version-operator-release-5.0.yaml
  ci-operator/config/openshift/monitoring-plugin/openshift-monitoring-plugin-release-4.22.yaml
  ci-operator/config/openshift/monitoring-plugin/openshift-monitoring-plugin-release-4.23.yaml
  ci-operator/config/openshift/monitoring-plugin/openshift-monitoring-plugin-release-5.0.yaml
  ci-operator/config/openshift/vcf-migration-operator/openshift-vcf-migration-operator-release-4.22.yaml
  ci-operator/config/openshift/vcf-migration-operator/openshift-vcf-migration-operator-release-4.23.yaml
  ci-operator/config/openshift/vcf-migration-operator/openshift-vcf-migration-operator-release-5.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Update oc-mirror integration tests (#76146)
  ci-operator/config/openshift/oc-mirror/openshift-oc-mirror-main.yaml
  ci-operator/config/openshift/oc-mirror/openshift-oc-mirror-release-4.21.yaml
  ci-operator/config/openshift/oc-mirror/openshift-oc-mirror-release-4.22.yaml
  ci-operator/config/openshift/oc-mirror/openshift-oc-mirror-release-4.23.yaml
  ci-operator/config/openshift/oc-mirror/openshift-oc-mirror-release-5.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-operator-prowgen --from-dir ./ci-operator/config --to-dir ./ci-operator/jobs
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift-priv/monitoring-plugin/openshift-priv-monitoring-plugin-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/monitoring-plugin/openshift-priv-monitoring-plugin-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift-priv/monitoring-plugin/openshift-priv-monitoring-plugin-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift-priv/monitoring-plugin/openshift-priv-monitoring-plugin-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift-priv/oadp-operator/openshift-priv-oadp-operator-oadp-1.6-presubmits.yaml
  ci-operator/jobs/openshift/cluster-kube-scheduler-operator/openshift-cluster-kube-scheduler-operator-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift/cluster-version-operator/openshift-cluster-version-operator-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/cluster-version-operator/openshift-cluster-version-operator-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift/cluster-version-operator/openshift-cluster-version-operator-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift/monitoring-plugin/openshift-monitoring-plugin-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/monitoring-plugin/openshift-monitoring-plugin-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift/monitoring-plugin/openshift-monitoring-plugin-release-5.0-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-main.yaml
  ci-operator/config/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.19.yaml
  ci-operator/config/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.21.yaml
  ci-operator/config/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.22.yaml
  ci-operator/config/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.23.yaml
  ci-operator/config/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-5.0.yaml
  ci-operator/config/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-main.yaml
  ci-operator/config/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-release-4.22.yaml
  ci-operator/config/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-release-4.23.yaml
  ci-operator/config/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-release-5.0.yaml
  ci-operator/config/openshift-priv/monitoring-plugin/openshift-priv-monitoring-plugin-main.yaml
  ci-operator/config/openshift-priv/monitoring-plugin/openshift-priv-monitoring-plugin-release-4.22.yaml
  ci-operator/config/openshift-priv/monitoring-plugin/openshift-priv-monitoring-plugin-release-4.23.yaml
  ci-operator/config/openshift-priv/monitoring-plugin/openshift-priv-monitoring-plugin-release-5.0.yaml
  ci-operator/config/openshift-priv/oadp-operator/openshift-priv-oadp-operator-oadp-1.6__5.0.yaml
  ci-operator/config/openshift-priv/vcf-migration-operator/openshift-priv-vcf-migration-operator-main.yaml
  ci-operator/config/openshift-priv/vcf-migration-operator/openshift-priv-vcf-migration-operator-release-4.22.yaml
  ci-operator/config/openshift-priv/vcf-migration-operator/openshift-priv-vcf-migration-operator-release-4.23.yaml
  ci-operator/config/openshift-priv/vcf-migration-operator/openshift-priv-vcf-migration-operator-release-5.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

private-prow-configs-mirror --release-repo-path . --github-token-path /etc/github/oauth --github-endpoint http://ghproxy --dry-run false --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  core-services/prow/02_config/openshift-priv/vcf-migration-operator/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

sanitize-prow-jobs --prow-jobs-dir ./ci-operator/jobs --config-path ./core-services/sanitize-prow-jobs/_config.yaml
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift-priv/monitoring-plugin/openshift-priv-monitoring-plugin-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/monitoring-plugin/openshift-priv-monitoring-plugin-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift-priv/monitoring-plugin/openshift-priv-monitoring-plugin-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift-priv/monitoring-plugin/openshift-priv-monitoring-plugin-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift-priv/oadp-operator/openshift-priv-oadp-operator-oadp-1.6-presubmits.yaml
  ci-operator/jobs/openshift/cluster-kube-scheduler-operator/openshift-cluster-kube-scheduler-operator-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift/cluster-version-operator/openshift-cluster-version-operator-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/cluster-version-operator/openshift-cluster-version-operator-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift/cluster-version-operator/openshift-cluster-version-operator-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift/monitoring-plugin/openshift-monitoring-plugin-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/monitoring-plugin/openshift-monitoring-plugin-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift/monitoring-plugin/openshift-monitoring-plugin-release-5.0-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.16.58-multi-for-4.16.0-0-to-4.17.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.17.51-multi-for-4.17.0-0-to-4.18.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.21.6-multi-for-4.21.0-0-to-4.22.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Automate publicize configuration sync Tue, 17 Mar 2026 15:49:02 UTC (#76407)
  clusters/app.ci/publicize/_config.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

add wait time for unstable pulling time (#76398)
  ci-operator/step-registry/openshift/ols-load-generator/tests/openshift-ols-load-generator-tests-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

neuron: upgrade ROSA compute nodes to inf2.8xlarge for vLLM memory (#76415)
  ci-operator/step-registry/aws-neuron-operator/conditional-e2e-rosa/aws-neuron-operator-conditional-e2e-rosa-workflow.yaml
  ci-operator/step-registry/aws-neuron-operator/e2e-rosa/aws-neuron-operator-e2e-rosa-workflow.yaml
  ci-operator/step-registry/aws-neuron-operator/rosa-cluster-provision/aws-neuron-operator-rosa-cluster-provision-commands.sh
  ci-operator/step-registry/aws-neuron-operator/rosa-cluster-provision/aws-neuron-operator-rosa-cluster-provision-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

[openshift-psap/topsail-ng] fix the secret path and exec into our entrypoint (#76401)
  ci-operator/config/openshift-psap/topsail-ng/openshift-psap-topsail-ng-main__jump.yaml
  ci-operator/config/openshift-psap/topsail-ng/openshift-psap-topsail-ng-main__llmd.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

[INTEROP-8913] NFD: Updating the scenario on ROSA HCP to OCP4.21 (#76354)
  ci-operator/config/openshift/cluster-nfd-operator/openshift-cluster-nfd-operator-release-4.21__ocp4.21-lp-rosa-hypershift.yaml
  ci-operator/jobs/openshift/cluster-nfd-operator/openshift-cluster-nfd-operator-release-4.21-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Multiarch: Migrate ocp-heavy-build-ovn-remote-libvirt-multi-z-z to VPN (#76302)
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.17.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.18.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.19.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.20.yaml
  ci-operator/jobs/openshift/multiarch/openshift-multiarch-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Updating automated triggering and reporting for ROSA HCP 4.21 (#76416)
  ci-operator/config/rhpit/interop-tests/rhpit-interop-tests-main__weekly_trigger.yaml
  ci-operator/jobs/rhpit/interop-tests/rhpit-interop-tests-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

[kserve] Add v0.17 CI and llmisvc tests on master (#76351)
  ci-operator/config/opendatahub-io/kserve/opendatahub-io-kserve-release-v0.17.yaml
  ci-operator/jobs/opendatahub-io/kserve/opendatahub-io-kserve-release-v0.17-postsubmits.yaml
  ci-operator/jobs/opendatahub-io/kserve/opendatahub-io-kserve-release-v0.17-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Use aos-team-dp-testplatform@redhat.com for Jira auth in periodics, slack-bot, and hook (#76421)
  ci-operator/jobs/infra-periodics-migrated.yaml
  clusters/app.ci/assets/slack-bot.yaml
  clusters/app.ci/prow/03_deployment/hook.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/config, ci/prow/generated-config, ci/build-farm/hosted-mgmt-dry, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/oc-mirror/openshift-priv-oc-mirror-main.yaml
  ci-operator/config/openshift-priv/oc-mirror/openshift-priv-oc-mirror-release-4.21.yaml
  ci-operator/config/openshift-priv/oc-mirror/openshift-priv-oc-mirror-release-4.22.yaml
  ci-operator/config/openshift-priv/oc-mirror/openshift-priv-oc-mirror-release-4.23.yaml
  ci-operator/config/openshift-priv/oc-mirror/openshift-priv-oc-mirror-release-5.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add rhcos10 techpreview job for IBM Z (orange zone) (#76263)
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.22.yaml
  ci-operator/jobs/openshift/multiarch/openshift-multiarch-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add rhel-9-server-ose repo injection to OKD SCOS 4.21 base image build (#76377)
  ci-operator/config/openshift/images/openshift-images-release-4.21__okd-scos.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Consle operator OKD SCOS need to use Dockerfile.ocp image (#76399)
  ci-operator/config/openshift/console-operator/openshift-console-operator-main__okd-scos.yaml
  ci-operator/config/openshift/console-operator/openshift-console-operator-release-4.21__okd-scos.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

LOG-8958: Create CI for CLO v6.5, update master (#76414)
  ci-operator/config/openshift/cluster-logging-operator/openshift-cluster-logging-operator-release-6.5.yaml
  ci-operator/jobs/openshift/cluster-logging-operator/openshift-cluster-logging-operator-release-6.5-postsubmits.yaml
  ci-operator/jobs/openshift/cluster-logging-operator/openshift-cluster-logging-operator-release-6.5-presubmits.yaml
  core-services/image-mirroring/openshift-logging/mapping_logging_6_5_quay
  core-services/image-mirroring/openshift-logging/mapping_logging_latest_quay
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.15.62-multi-for-4.15.0-0-to-4.16.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.16.58-multi-for-4.16.0-0-to-4.17.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.20.16-multi-for-4.20.0-0-to-4.21.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

[OCP CI] GitOps ocp 4.22 FIPS + CR expansion (#75467)
  ci-operator/config/redhat-developer/gitops-operator/redhat-developer-gitops-operator-v1.19__gitops-ocp-4.22-lp-interop.yaml
  ci-operator/jobs/redhat-developer/gitops-operator/redhat-developer-gitops-operator-v1.19-periodics.yaml
  ci-operator/jobs/redhat-developer/gitops-operator/redhat-developer-gitops-operator-v1.19-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/cluster-logging-operator/openshift-priv-cluster-logging-operator-release-6.5.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

HYPERFLEET-334 - ci: add helm-test pre-submit jobs for adapter, API, and sentinel (#76372)
  ci-operator/config/openshift-hyperfleet/hyperfleet-adapter/openshift-hyperfleet-hyperfleet-adapter-main.yaml
  ci-operator/config/openshift-hyperfleet/hyperfleet-api/openshift-hyperfleet-hyperfleet-api-main.yaml
  ci-operator/config/openshift-hyperfleet/hyperfleet-sentinel/openshift-hyperfleet-hyperfleet-sentinel-main.yaml
  ci-operator/jobs/openshift-hyperfleet/hyperfleet-adapter/openshift-hyperfleet-hyperfleet-adapter-main-presubmits.yaml
  ci-operator/jobs/openshift-hyperfleet/hyperfleet-api/openshift-hyperfleet-hyperfleet-api-main-presubmits.yaml
  ci-operator/jobs/openshift-hyperfleet/hyperfleet-sentinel/openshift-hyperfleet-hyperfleet-sentinel-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

ci-operator-prowgen --from-dir ./ci-operator/config --to-dir ./ci-operator/jobs
  ci-operator/jobs/openshift-priv/cluster-logging-operator/openshift-priv-cluster-logging-operator-release-6.5-postsubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-logging-operator/openshift-priv-cluster-logging-operator-release-6.5-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.16.58-multi-for-4.16.0-0-to-4.17.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

sanitize-prow-jobs --prow-jobs-dir ./ci-operator/jobs --config-path ./core-services/sanitize-prow-jobs/_config.yaml
  ci-operator/jobs/openshift-priv/cluster-logging-operator/openshift-priv-cluster-logging-operator-release-6.5-postsubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-logging-operator/openshift-priv-cluster-logging-operator-release-6.5-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.16.58-multi-for-4.16.0-0-to-4.17.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.17.51-multi-for-4.17.0-0-to-4.18.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.18.35-multi-for-4.18.0-0-to-4.19.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Update quay-bridge-operator ocp-latest CI config to OCP 4.16 (#76393)
  ci-operator/config/quay/quay-bridge-operator/quay-quay-bridge-operator-master__ocp-latest.yaml
  ci-operator/jobs/quay/quay-bridge-operator/quay-quay-bridge-operator-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics
