Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

services-valid:
  commands: make check-services
  container:
    from: src

ci/openshift/promrules:
  decorate: true
  spec:
    containers:
    - command:
      - /go/entrypoint.sh
      image: registry.svc.ci.openshift.org/ci/promrules:latest
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
          cpu: 500m
        requests:
          cpu: 10m

ci/prow/pylint:
  decorate: true
  spec:
    containers:
    - args:
      - --rcfile=hack/.pylintrc
      - --ignore=lib
      - --persistent=n
      - hack
      command:
      - pylint
      image: registry.svc.ci.openshift.org/ci/python-validation
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
  ...

ci/prow/services-valid:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/stackrox-stackrox-stackrox-stackrox-check:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: stackrox-stackrox
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

branch-ci-openshift-release-master-gsm-secrets-reconciler:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/sync-rover-groups/_config.yaml
      - --log-level=info
      - --gcp-service-account-key-file=/tmp/gcp-credentials/key.json
      command:
      - gsm-secret-sync
      env:
  ...

branch-ci-openshift-release-master-label-sync:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/prow/02_config/_labels.yaml
      - --confirm=true
  ...

ci/prow/check-cluster-profiles-config:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    automountServiceAccountToken: true
    containers:
    - args:
      - --config-path=./ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml
      command:
      - check-cluster-profiles-config
  ...

ci/prow/check-gh-automation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --bot=openshift-merge-robot
      - --bot=openshift-ci-robot
      - --app=openshift-ci
      - --app-check-mode=standard
      - --candidate-path=.
  ...

ci/prow/check-gh-automation-tide:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --app=openshift-merge-bot
      - --app-check-mode=tide
      - --candidate-path=.
      - --config-path=./core-services/prow/02_config/_config.yaml
  ...

SPLAT-2830: Add CI changes and periodic PROW changes for CI-Cluster Capacity monitoring
  ci-operator/config/openshift-splat-team/ci-cluster-monitor/openshift-splat-team-ci-cluster-monitor-main__periodics.yaml
  ci-operator/jobs/openshift-splat-team/ci-cluster-monitor/openshift-splat-team-ci-cluster-monitor-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add Jetson periodic Prow jobs with JP6/JP7 variant configs
  ci-operator/config/rh-ecosystem-edge/qe-rhel-jetson/rh-ecosystem-edge-qe-rhel-jetson-main__jp6-rhel9.yaml
  ci-operator/config/rh-ecosystem-edge/qe-rhel-jetson/rh-ecosystem-edge-qe-rhel-jetson-main__jp7-rhel10.yaml
  ci-operator/jobs/rh-ecosystem-edge/qe-rhel-jetson/rh-ecosystem-edge-qe-rhel-jetson-main-periodics.yaml
  ci-operator/jobs/rh-ecosystem-edge/qe-rhel-jetson/rh-ecosystem-edge-qe-rhel-jetson-main-presubmits.yaml
  ci-operator/step-registry/qe-rhel-jetson/bootc-e2e/OWNERS
  ci-operator/step-registry/qe-rhel-jetson/bootc-e2e/qe-rhel-jetson-bootc-e2e-workflow.metadata.json
  ci-operator/step-registry/qe-rhel-jetson/bootc-e2e/qe-rhel-jetson-bootc-e2e-workflow.yaml
  ci-operator/step-registry/qe-rhel-jetson/e2e/OWNERS
  ci-operator/step-registry/qe-rhel-jetson/e2e/qe-rhel-jetson-e2e-workflow.metadata.json
  ci-operator/step-registry/qe-rhel-jetson/e2e/qe-rhel-jetson-e2e-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add ROSA HCP 5.0 perf jobs and update orion steps for HCP (#82658)
  ci-operator/config/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main__rosa_hcp-5.0-nightly-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main-periodics.yaml
  ci-operator/jobs/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main-presubmits.yaml
  ci-operator/step-registry/openshift-qe/orion/openshift-qe-orion-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

fixes
  ci-operator/config/openshift-splat-team/ci-cluster-monitor/openshift-splat-team-ci-cluster-monitor-main__periodics.yaml
  ci-operator/jobs/openshift-splat-team/ci-cluster-monitor/openshift-splat-team-ci-cluster-monitor-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

feat(aro-hcp): use second ARM helper identity (#83084)
  ci-operator/step-registry/aro-hcp/provision/environment/aro-hcp-provision-environment-commands.sh
  ci-operator/step-registry/aro-hcp/provision/from-main/aro-hcp-provision-from-main-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

fix(aro-hcp): include exporter in upgrade overrides
  ci-operator/step-registry/aro-hcp/provision/from-main/aro-hcp-provision-from-main-commands.sh
  ci-operator/step-registry/aro-hcp/test/local-upgrade/aro-hcp-test-local-upgrade-commands.sh
  ci-operator/step-registry/aro-hcp/test/local-upgrade/aro-hcp-test-local-upgrade-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Remove post wait ibu
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-ibu-4.20.yaml
  ci-operator/step-registry/telcov10n/functional/cnf-ran/ibu/telcov10n-functional-cnf-ran-ibu-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add JP7/RHEL10.2 periodic jobs and fix ordered-prow-config
  ci-operator/config/rh-ecosystem-edge/qe-rhel-jetson/rh-ecosystem-edge-qe-rhel-jetson-main__jp7-rhel10.yaml
  ci-operator/jobs/rh-ecosystem-edge/qe-rhel-jetson/rh-ecosystem-edge-qe-rhel-jetson-main-periodics.yaml
  ci-operator/jobs/rh-ecosystem-edge/qe-rhel-jetson/rh-ecosystem-edge-qe-rhel-jetson-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Set BOOTC_IMAGE_TAG to latest for jp6 and jp7 bootc jobs
  ci-operator/config/rh-ecosystem-edge/qe-rhel-jetson/rh-ecosystem-edge-qe-rhel-jetson-main__jp6-rhel9.yaml
  ci-operator/config/rh-ecosystem-edge/qe-rhel-jetson/rh-ecosystem-edge-qe-rhel-jetson-main__jp7-rhel10.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

shiftstack: pin openstack-installer to 4.21 for quotas jobs
  ci-operator/config/shiftstack/ci/shiftstack-ci-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

metallb fallback logic
  ci-operator/step-registry/hypershift/mce/ibmz/install/metallb-oz/hypershift-mce-ibmz-install-metallb-oz-commands.sh
  ci-operator/step-registry/hypershift/mce/ibmz/install/metallb-oz/hypershift-mce-ibmz-install-metallb-oz-ref.yaml
  ci-operator/step-registry/hypershift/mce/ibmz/install/metallb-oz/infra/hypershift-mce-ibmz-install-metallb-oz-infra-commands.sh
  ci-operator/step-registry/hypershift/mce/ibmz/install/metallb-oz/infra/hypershift-mce-ibmz-install-metallb-oz-infra-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

KFLUXINFRA-2236: Point DR ginkgo at infra-deployments test directory - continued from #80198 (#81360)
  ci-operator/config/redhat-appstudio/infra-deployments/redhat-appstudio-infra-deployments-main.yaml
  ci-operator/step-registry/redhat-appstudio/konflux-disaster-recovery/redhat-appstudio-konflux-disaster-recovery-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

[release-controller] Adding default release configs for OKD ARM64 (#83131)
  clusters/app.ci/openshift-user-workload-monitoring/blackbox_probe.yaml
  core-services/release-controller/_releases/release-okd-4.y-stable-arm64.json
  core-services/release-controller/_releases/release-okd-scos-4.21-art-arm64.json
  core-services/release-controller/_releases/release-okd-scos-4.21-ci-arm64.json
  core-services/release-controller/_releases/release-okd-scos-4.22-art-arm64.json
  core-services/release-controller/_releases/release-okd-scos-4.22-ci-arm64.json
  core-services/release-controller/_releases/release-okd-scos-4.23-art-arm64.json
  core-services/release-controller/_releases/release-okd-scos-4.23-ci-arm64.json
  core-services/release-controller/_releases/release-okd-scos-4.y-next-arm64.json
  core-services/release-controller/_releases/release-okd-scos-4.y-stable-arm64.json
  core-services/release-controller/_releases/release-okd-scos-5.0-art-arm64.json
  core-services/release-controller/_releases/release-okd-scos-5.0-ci-arm64.json
  core-services/release-controller/_releases/release-okd-scos-5.1-art-arm64.json
  core-services/release-controller/_releases/release-okd-scos-5.1-ci-arm64.json
  core-services/release-controller/_releases/release-okd-scos-5.y-next-arm64.json
  core-services/release-controller/_releases/release-okd-scos-5.y-stable-arm64.json
  hack/annotate.sh
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-testgrid-allow-list, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/release-config, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

metallb fallback logic
  ci-operator/step-registry/hypershift/mce/ibmz/install/metallb-oz/hypershift-mce-ibmz-install-metallb-oz-commands.sh
  ci-operator/step-registry/hypershift/mce/ibmz/install/metallb-oz/infra/hypershift-mce-ibmz-install-metallb-oz-infra-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

removing test_skips
  ci-operator/config/openshift/release/openshift-release-main__nightly-5.0-upgrade-from-stable-4.22.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Fix OKD release-controller-api registry auth
  clusters/app.ci/release-controller/deploy-origin-arm64-controller.yaml
  clusters/app.ci/release-controller/deploy-origin-controller.yaml
  hack/generators/release-controllers/content/origin_resources.py
Due: ci/prow/pylint, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Adding e2e perf ote jobs
  ci-operator/config/openshift/cluster-kube-apiserver-operator/openshift-cluster-kube-apiserver-operator-main.yaml
  ci-operator/jobs/openshift/cluster-kube-apiserver-operator/openshift-cluster-kube-apiserver-operator-main-presubmits.yaml
  ci-operator/step-registry/openshift/e2e/test/openshift-e2e-test-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

multiarch: add libvirt-s390x-vpn-hcp Boskos + secret bootstrap (1/2) (#83082)
  core-services/ci-secret-bootstrap/_config.yaml
  core-services/prow/02_config/_boskos.yaml
  core-services/prow/02_config/generate-boskos.py
Due: ci/prow/check-gh-automation-tide, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config, ci/prow/secret-generator-config-valid

fixes
  ci-operator/config/openshift-splat-team/ci-cluster-monitor/openshift-splat-team-ci-cluster-monitor-main__periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

fix(aro-hcp): include exporter in upgrade overrides (#83113)
  ci-operator/step-registry/aro-hcp/provision/from-main/aro-hcp-provision-from-main-commands.sh
  ci-operator/step-registry/aro-hcp/test/local-upgrade/aro-hcp-test-local-upgrade-commands.sh
  ci-operator/step-registry/aro-hcp/test/local-upgrade/aro-hcp-test-local-upgrade-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Remove post wait ibu (#83155)
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-ibu-4.20.yaml
  ci-operator/step-registry/telcov10n/functional/cnf-ran/ibu/telcov10n-functional-cnf-ran-ibu-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

remove bastion secrets
  ci-operator/step-registry/telcov10n/functional/cnf-ran/deploy-spoke-master-vms/telcov10n-functional-cnf-ran-deploy-spoke-master-vms-commands.sh
  ci-operator/step-registry/telcov10n/functional/cnf-ran/deploy-spoke-master-vms/telcov10n-functional-cnf-ran-deploy-spoke-master-vms-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

OLS-3353 Add tls-scan presubmit job for lightspeed-service
  ci-operator/config/openshift/lightspeed-service/openshift-lightspeed-service-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

cnv-must-gather: add promtool backfill validation to test-incident CI step
  ci-operator/config/kubevirt/must-gather/kubevirt-must-gather-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Fix OKD release-controller-api registry auth (#83163)
  clusters/app.ci/release-controller/deploy-origin-arm64-controller.yaml
  clusters/app.ci/release-controller/deploy-origin-controller.yaml
  hack/generators/release-controllers/content/origin_resources.py
Due: ci/prow/pylint, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

running make jobs
  ci-operator/jobs/openshift/lightspeed-service/openshift-lightspeed-service-main-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

migrate CLO e2e-using-bundle from deprecated index image to operator-sdk
  ci-operator/config/openshift/cluster-logging-operator/openshift-cluster-logging-operator-master.yaml
  ci-operator/jobs/openshift/cluster-logging-operator/openshift-cluster-logging-operator-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

dns: add paas.redhat.com to intranet forward zones (#83112)
  clusters/build-clusters/build-shared/managed/dns.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

[PERFSCALE-5187] Enable telco-core daily job for OCP 5.0 Nightly builds
  ci-operator/config/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main__metal-5.0-nightly-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

AUTOSCALE-966: Update dockerfile paths of kedacore-http-add-on
  ci-operator/config/openshift/kedacore-http-add-on/openshift-kedacore-http-add-on-main.yaml
  ci-operator/jobs/openshift/kedacore-http-add-on/openshift-kedacore-http-add-on-main-postsubmits.yaml
  ci-operator/jobs/openshift/kedacore-http-add-on/openshift-kedacore-http-add-on-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

[PERFSCALE-5187] Add IDMS fallback mechanism and broader OCP version support in prega-operators step
  ci-operator/step-registry/openshift-qe/installer/bm/day2/prega-operators/openshift-qe-installer-bm-day2-prega-operators-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Increase TNA day-2 workers master VCPU to avoid upgrade scheduling failures.
  ci-operator/step-registry/baremetalds/two-node/arbiter/upgrade/day-2-workers/baremetalds-two-node-arbiter-upgrade-day-2-workers-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

metallb-oz: merge abi-pull-secret, add ICSP brew-registry, wait for MCP, use registry.redhat.io v4.22 fallback
  ci-operator/step-registry/hypershift/mce/ibmz/install/metallb-oz/hypershift-mce-ibmz-install-metallb-oz-commands.sh
  ci-operator/step-registry/hypershift/mce/ibmz/install/metallb-oz/hypershift-mce-ibmz-install-metallb-oz-ref.yaml
  ci-operator/step-registry/hypershift/mce/ibmz/install/metallb-oz/infra/hypershift-mce-ibmz-install-metallb-oz-infra-commands.sh
  ci-operator/step-registry/hypershift/mce/ibmz/install/metallb-oz/infra/hypershift-mce-ibmz-install-metallb-oz-infra-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Removed version and channel from cert-manager (#83154)
  clusters/build-clusters/build-shared/cert-manager-operator/operator.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Add TLS strict-adherence and PQC-readiness scanner jobs for SDK operators
  ci-operator/config/openshift/ansible-operator-plugins/openshift-ansible-operator-plugins-main.yaml
  ci-operator/config/openshift/ocp-release-operator-sdk/openshift-ocp-release-operator-sdk-main.yaml
  ci-operator/jobs/openshift/ansible-operator-plugins/openshift-ansible-operator-plugins-main-periodics.yaml
  ci-operator/jobs/openshift/ansible-operator-plugins/openshift-ansible-operator-plugins-main-presubmits.yaml
  ci-operator/jobs/openshift/ocp-release-operator-sdk/openshift-ocp-release-operator-sdk-main-periodics.yaml
  ci-operator/jobs/openshift/ocp-release-operator-sdk/openshift-ocp-release-operator-sdk-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Workaround missing pull-secret on build10 by routing to build09
  ci-operator/config/openshift/cluster-network-operator/openshift-cluster-network-operator-release-5.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

OSSM: update OCP versions to match oficial supported releases (#82814)
  ci-operator/config/openshift-service-mesh/istio/openshift-service-mesh-istio-release-1.24.yaml
  ci-operator/config/openshift-service-mesh/istio/openshift-service-mesh-istio-release-1.26.yaml
  ci-operator/config/openshift-service-mesh/istio/openshift-service-mesh-istio-release-1.30.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Restore daily cron for 4.21 powervc job
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.21.yaml
  ci-operator/jobs/openshift/multiarch/openshift-multiarch-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)
