Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

services-valid:
  commands: make check-services
  container:
    from: src

ci/openshift/promrules:
  decorate: true
  spec:
    containers:
    - command:
      - /go/entrypoint.sh
      image: registry.svc.ci.openshift.org/ci/promrules:latest
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
          cpu: 500m
        requests:
          cpu: 10m

ci/prow/pylint:
  decorate: true
  spec:
    containers:
    - args:
      - --rcfile=hack/.pylintrc
      - --ignore=lib
      - --persistent=n
      - hack
      command:
      - pylint
      image: registry.svc.ci.openshift.org/ci/python-validation
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
  ...

ci/prow/services-valid:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/stackrox-stackrox-stackrox-stackrox-check:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: stackrox-stackrox
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

branch-ci-openshift-release-master-gsm-secrets-reconciler:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/sync-rover-groups/_config.yaml
      - --log-level=info
      - --gcp-service-account-key-file=/tmp/gcp-credentials/key.json
      command:
      - gsm-secret-sync
      env:
  ...

branch-ci-openshift-release-master-label-sync:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/prow/02_config/_labels.yaml
      - --confirm=true
  ...

ci/prow/check-cluster-profiles-config:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    automountServiceAccountToken: true
    containers:
    - args:
      - --config-path=./ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml
      command:
      - check-cluster-profiles-config
  ...

ci/prow/check-gh-automation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --bot=openshift-merge-robot
      - --bot=openshift-ci-robot
      - --app=openshift-ci
      - --app-check-mode=standard
      - --candidate-path=.
  ...

ci/prow/check-gh-automation-tide:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --app=openshift-merge-bot
      - --app-check-mode=tide
      - --candidate-path=.
      - --config-path=./core-services/prow/02_config/_config.yaml
  ...

Configure pipeline-controller for agentic job selection + onboard ci-tools (#86296)
  clusters/app.ci/prow/03_deployment/admin_pipeline-controller_rbac.yaml
  clusters/app.ci/prow/03_deployment/pipeline-controller.yaml
  core-services/pipeline-controller/config.yaml
  core-services/prow/02_config/_config.yaml
  core-services/prow/02_config/openshift/ci-tools/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/config, ci/build-farm/hosted-mgmt-dry, ci/prow/prow-config, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

update default connection uri
  ci-operator/step-registry/upi/install/libvirt/heterogeneous/upi-install-libvirt-heterogeneous-chain.yaml
  ci-operator/step-registry/upi/install/libvirt/heterogeneous/upi-install-libvirt-heterogeneous-commands.sh
  ci-operator/step-registry/upi/install/libvirt/heterogeneous/upi-install-libvirt-heterogeneous-ref.yaml
  ci-operator/step-registry/upi/libvirt/cleanup/heterogeneous/post/upi-libvirt-cleanup-heterogeneous-post-commands.sh
  ci-operator/step-registry/upi/libvirt/cleanup/heterogeneous/post/upi-libvirt-cleanup-heterogeneous-post-ref.yaml
  ci-operator/step-registry/upi/libvirt/cleanup/heterogeneous/pre/upi-libvirt-cleanup-heterogeneous-pre-commands.sh
  ci-operator/step-registry/upi/libvirt/cleanup/heterogeneous/pre/upi-libvirt-cleanup-heterogeneous-pre-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ci(hypershift): update MCE multi-version test matrix
  ci-operator/step-registry/hypershift/mce/multi-version-test/trigger-jobs/hypershift-mce-multi-version-test-trigger-jobs-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

medik8s: paginate + retry Quay tag lookup in resolve_commit_sha (#86202)
  ci-operator/step-registry/medik8s/lib/medik8s-lib-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add wait-for-stable-cluster to iso-no-registry validation (#86210)
  ci-operator/step-registry/agent/e2e/compact/ipv4/iso-no-registry/validation/agent-e2e-compact-ipv4-iso-no-registry-validation-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add a Boskos-Hypershift SHIP Status component so Hypershift payload quota failures are attributed on their own accounts. (#86297)
  core-services/ship-status/component-monitor-config.yaml
  core-services/ship-status/dashboard-config.yaml
Due: none

ci(kueue-operator): add libvirt-s390x e2e workflow and config for release-1.4,release-1.3 and main
  ci-operator/config/openshift/kueue-operator/openshift-kueue-operator-main__libvirt-s390x.yaml
  ci-operator/config/openshift/kueue-operator/openshift-kueue-operator-release-1.3__libvirt-s390x.yaml
  ci-operator/config/openshift/kueue-operator/openshift-kueue-operator-release-1.4__libvirt-s390x.yaml
  ci-operator/jobs/openshift/kueue-operator/openshift-kueue-operator-main-periodics.yaml
  ci-operator/jobs/openshift/kueue-operator/openshift-kueue-operator-main-presubmits.yaml
  ci-operator/jobs/openshift/kueue-operator/openshift-kueue-operator-release-1.3-periodics.yaml
  ci-operator/jobs/openshift/kueue-operator/openshift-kueue-operator-release-1.3-presubmits.yaml
  ci-operator/jobs/openshift/kueue-operator/openshift-kueue-operator-release-1.4-periodics.yaml
  ci-operator/jobs/openshift/kueue-operator/openshift-kueue-operator-release-1.4-presubmits.yaml
  ci-operator/step-registry/kueue-operator/libvirt-s390x/OWNERS
  ci-operator/step-registry/kueue-operator/libvirt-s390x/kueue-operator-libvirt-s390x-workflow.metadata.json
  ci-operator/step-registry/kueue-operator/libvirt-s390x/kueue-operator-libvirt-s390x-workflow.yaml
  ci-operator/step-registry/kueue-operator/libvirt-s390x/test/OWNERS
  ci-operator/step-registry/kueue-operator/libvirt-s390x/test/e2e/OWNERS
  ci-operator/step-registry/kueue-operator/libvirt-s390x/test/e2e/kueue-operator-libvirt-s390x-test-e2e-chain.metadata.json
  ci-operator/step-registry/kueue-operator/libvirt-s390x/test/e2e/kueue-operator-libvirt-s390x-test-e2e-chain.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

POC cross repo testing
  ci-operator/config/medik8s/storage-based-remediation/OWNERS
  ci-operator/config/medik8s/storage-based-remediation/README.txt
  ci-operator/config/medik8s/storage-based-remediation/medik8s-storage-based-remediation-main__5.0.yaml
  ci-operator/jobs/medik8s/storage-based-remediation/medik8s-storage-based-remediation-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

add 4.23 job acm-virt
  ci-operator/jobs/RedHatQE/interop-testing/RedHatQE-interop-testing-master-periodics.yaml
  ci-operator/jobs/RedHatQE/interop-testing/RedHatQE-interop-testing-master-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Exclude the same tests as in hypershift-azure-aks-conformance workflow
  ci-operator/step-registry/hypershift/self-managed-azure/e2e-backuprestore/hypershift-self-managed-azure-e2e-backuprestore-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Provide kubectl via oc symlink in mcp-lifecycle deploy step
  ci-operator/config/opendatahub-io/mcp-lifecycle-module-operator/opendatahub-io-mcp-lifecycle-module-operator-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

openstack-k8s-operators: honor Depends-On for the meta operator itself in rehearsals
  ci-operator/step-registry/openstack-k8s-operators/build/openstack-k8s-operators-build-commands.sh
  ci-operator/step-registry/openstack-k8s-operators/chainsaw/openstack-k8s-operators-chainsaw-commands.sh
  ci-operator/step-registry/openstack-k8s-operators/deploy/openstack-k8s-operators-deploy-commands.sh
  ci-operator/step-registry/openstack-k8s-operators/kuttl/openstack-k8s-operators-kuttl-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

openstack-k8s-operators: allow skipping the OLM minor update in kuttl/chainsaw
  ci-operator/step-registry/openstack-k8s-operators/chainsaw/openstack-k8s-operators-chainsaw-commands.sh
  ci-operator/step-registry/openstack-k8s-operators/chainsaw/openstack-k8s-operators-chainsaw-ref.yaml
  ci-operator/step-registry/openstack-k8s-operators/kuttl/openstack-k8s-operators-kuttl-commands.sh
  ci-operator/step-registry/openstack-k8s-operators/kuttl/openstack-k8s-operators-kuttl-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add prowgen enable secrets store csi driver true to jobs (#86222)
  ci-operator/config/RedHatInsights/uhc-portal/RedHatInsights-uhc-portal-main.yaml
  ci-operator/config/openshift-eng/kubernetes-integration-testing/openshift-eng-kubernetes-integration-testing-main.yaml
  ci-operator/config/openshift-online/rosa-marketplace-release-generator/openshift-online-rosa-marketplace-release-generator-main.yaml
  ci-operator/config/openshift-priv/ironic-agent-image/openshift-priv-ironic-agent-image-release-5.1__prevalidation.yaml
  ci-operator/config/openshift-priv/ironic-agent-image/openshift-priv-ironic-agent-image-release-5.2__prevalidation.yaml
  ci-operator/config/openshift-priv/ironic-image/openshift-priv-ironic-image-release-5.1__prevalidation.yaml
  ci-operator/config/openshift-priv/ironic-image/openshift-priv-ironic-image-release-5.2__prevalidation.yaml
  ci-operator/config/openshift-priv/kubernetes-sigs-lws/openshift-priv-kubernetes-sigs-lws-release-0.10.yaml
  ci-operator/config/openshift-priv/open-telemetry-opentelemetry-operator/openshift-priv-open-telemetry-opentelemetry-operator-rhosdt-3.11__art-build-ocp-4.23.yaml
  ci-operator/config/openshift/ironic-agent-image/openshift-ironic-agent-image-release-5.1__prevalidation.yaml
  ci-operator/config/openshift/ironic-agent-image/openshift-ironic-agent-image-release-5.2__prevalidation.yaml
  ci-operator/config/openshift/ironic-image/openshift-ironic-image-release-5.1__prevalidation.yaml
  ci-operator/config/openshift/ironic-image/openshift-ironic-image-release-5.2__prevalidation.yaml
  ci-operator/config/openshift/kubernetes-sigs-lws/openshift-kubernetes-sigs-lws-release-0.10.yaml
  ci-operator/config/openshift/open-telemetry-opentelemetry-operator/openshift-open-telemetry-opentelemetry-operator-rhosdt-3.11__art-build-ocp-4.23.yaml
  ci-operator/config/openshift/release/openshift-release-main__deprovision.yaml
  ci-operator/config/openshift/release/openshift-release-main__quay-quay.yaml
  ci-operator/config/shiftstack/merge-bot/shiftstack-merge-bot-main.yaml
  ci-operator/jobs/openshift-priv/ironic-agent-image/openshift-priv-ironic-agent-image-release-5.1-presubmits.yaml
  ci-operator/jobs/openshift-priv/ironic-agent-image/openshift-priv-ironic-agent-image-release-5.2-presubmits.yaml
  ci-operator/jobs/openshift-priv/ironic-image/openshift-priv-ironic-image-release-5.1-presubmits.yaml
  ci-operator/jobs/openshift-priv/ironic-image/openshift-priv-ironic-image-release-5.2-presubmits.yaml
  ci-operator/jobs/openshift-priv/kubernetes-sigs-lws/openshift-priv-kubernetes-sigs-lws-release-0.10-presubmits.yaml
  ci-operator/jobs/openshift/ironic-agent-image/openshift-ironic-agent-image-release-5.1-presubmits.yaml
  ci-operator/jobs/openshift/ironic-agent-image/openshift-ironic-agent-image-release-5.2-presubmits.yaml
  ci-operator/jobs/openshift/ironic-image/openshift-ironic-image-release-5.1-presubmits.yaml
  ci-operator/jobs/openshift/ironic-image/openshift-ironic-image-release-5.2-presubmits.yaml
  ci-operator/jobs/openshift/kubernetes-sigs-lws/openshift-kubernetes-sigs-lws-release-0.10-presubmits.yaml
  ci-operator/jobs/openshift/release/openshift-release-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

adding lseval periodics (daily)
  ci-operator/config/openshift/lightspeed-service/openshift-lightspeed-service-main.yaml
  ci-operator/config/openshift/lightspeed-service/openshift-lightspeed-service-main__4.22.yaml
  ci-operator/jobs/openshift/lightspeed-service/openshift-lightspeed-service-main-periodics.yaml
  ci-operator/jobs/openshift/lightspeed-service/openshift-lightspeed-service-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Update Ironic, Keystone, Manila, Mariadb to OCP 4.22 (#85475)
  ci-operator/config/openstack-k8s-operators/ironic-operator/openstack-k8s-operators-ironic-operator-18-stable.yaml
  ci-operator/config/openstack-k8s-operators/ironic-operator/openstack-k8s-operators-ironic-operator-18.0-fr7.yaml
  ci-operator/config/openstack-k8s-operators/ironic-operator/openstack-k8s-operators-ironic-operator-main.yaml
  ci-operator/config/openstack-k8s-operators/keystone-operator/openstack-k8s-operators-keystone-operator-18-stable.yaml
  ci-operator/config/openstack-k8s-operators/keystone-operator/openstack-k8s-operators-keystone-operator-18.0-fr7.yaml
  ci-operator/config/openstack-k8s-operators/keystone-operator/openstack-k8s-operators-keystone-operator-main.yaml
  ci-operator/config/openstack-k8s-operators/manila-operator/openstack-k8s-operators-manila-operator-18-stable.yaml
  ci-operator/config/openstack-k8s-operators/manila-operator/openstack-k8s-operators-manila-operator-18.0-fr7.yaml
  ci-operator/config/openstack-k8s-operators/manila-operator/openstack-k8s-operators-manila-operator-main.yaml
  ci-operator/config/openstack-k8s-operators/mariadb-operator/openstack-k8s-operators-mariadb-operator-18-stable.yaml
  ci-operator/config/openstack-k8s-operators/mariadb-operator/openstack-k8s-operators-mariadb-operator-18.0-fr7.yaml
  ci-operator/config/openstack-k8s-operators/mariadb-operator/openstack-k8s-operators-mariadb-operator-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

openstack-conf-installconfig: gate dnsRecordsType on TechPreview FEATURE_SET
  ci-operator/step-registry/openstack/conf/installconfig/openstack-conf-installconfig-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

[ospk8s] Move 3 nodes from 4.20 to 4.22
  clusters/hosted-mgmt/hive/pools/openstack-k8s-operators/openstack-k8s-operators-4-20-vexxhost-hybrid_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openstack-k8s-operators/openstack-k8s-operators-4-22-vexxhost-hybrid_clusterpool.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Day 0 resource measurements for netobserv
  ci-operator/config/netobserv/netobserv-perf-tests/netobserv-netobserv-perf-tests-main__netobserv-aws-5.0-nightly-x86.yaml
  ci-operator/jobs/netobserv/netobserv-perf-tests/netobserv-netobserv-perf-tests-main-periodics.yaml
  ci-operator/step-registry/netobserv/day0/diff-resource/OWNERS
  ci-operator/step-registry/netobserv/day0/diff-resource/netobserv-day0-diff-resource-commands.sh
  ci-operator/step-registry/netobserv/day0/diff-resource/netobserv-day0-diff-resource-ref.yaml
  ci-operator/step-registry/netobserv/day0/install-config/OWNERS
  ci-operator/step-registry/netobserv/day0/install-config/netobserv-day0-install-config-commands.sh
  ci-operator/step-registry/netobserv/day0/install-config/netobserv-day0-install-config-ref.yaml
  ci-operator/step-registry/netobserv/day0/measure-resource/after/OWNERS
  ci-operator/step-registry/netobserv/day0/measure-resource/after/netobserv-day0-measure-resource-after-commands.sh
  ci-operator/step-registry/netobserv/day0/measure-resource/after/netobserv-day0-measure-resource-after-ref.yaml
  ci-operator/step-registry/netobserv/day0/measure-resource/before/OWNERS
  ci-operator/step-registry/netobserv/day0/measure-resource/before/netobserv-day0-measure-resource-before-commands.sh
  ci-operator/step-registry/netobserv/day0/measure-resource/before/netobserv-day0-measure-resource-before-ref.yaml
  ci-operator/step-registry/netobserv/day0/patch-cno/OWNERS
  ci-operator/step-registry/netobserv/day0/patch-cno/netobserv-day0-patch-cno-commands.sh
  ci-operator/step-registry/netobserv/day0/patch-cno/netobserv-day0-patch-cno-ref.yaml
  ci-operator/step-registry/netobserv/installer/aws/day0/OWNERS
  ci-operator/step-registry/netobserv/installer/aws/day0/netobserv-installer-aws-day0-workflow.metadata.json
  ci-operator/step-registry/netobserv/installer/aws/day0/netobserv-installer-aws-day0-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

quay: drop the trailing arch suffix from ci-generator job names (#86299)
  ci-operator/config/quay/quay/_generator/README.md
  ci-operator/config/quay/quay/_generator/model.py
  ci-operator/config/quay/quay/_generator/tests/fixtures/quay-quay-master__arm64.yaml.in
  ci-operator/config/quay/quay/_generator/tests/fixtures/quay-quay-redhat-3.18__aws-arm64-ocp422-e2e-install.yaml.in
  ci-operator/config/quay/quay/_generator/tests/test_generate.py
  ci-operator/config/quay/quay/quay-quay-redhat-3.18__aws-arm64-ocp422-e2e-install.yaml
  ci-operator/config/quay/quay/quay-quay-redhat-3.18__libvirt-s390x-ocp422-e2e-install.yaml
  ci-operator/jobs/quay/quay/quay-quay-redhat-3.18-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

ci(hypershift): agentic-qe holds the environment for Chai instead of running test plans
  ci-operator/step-registry/hypershift/agentic-qe/aws/hypershift-agentic-qe-aws-workflow.yaml
  ci-operator/step-registry/hypershift/agentic-qe/process/hypershift-agentic-qe-process-commands.sh
  ci-operator/step-registry/hypershift/agentic-qe/process/hypershift-agentic-qe-process-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add a daily nvidia-ci doca2 job for the NNO e2e suite.
  ci-operator/config/rh-ecosystem-edge/nvidia-ci/rh-ecosystem-edge-nvidia-ci-main__doca2.yaml
  ci-operator/jobs/rh-ecosystem-edge/nvidia-ci/rh-ecosystem-edge-nvidia-ci-main-periodics.yaml
  ci-operator/jobs/rh-ecosystem-edge/nvidia-ci/rh-ecosystem-edge-nvidia-ci-main-presubmits.yaml
  ci-operator/step-registry/dpf/hypervisor/deploy-cluster/dpf-hypervisor-deploy-cluster-commands.sh
  ci-operator/step-registry/dpf/hypervisor/deploy-cluster/dpf-hypervisor-deploy-cluster-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

quay: add FIPS job support to the ci-generator, first Quay 3.18 AWS S3 FIPS periodic
  ci-operator/config/quay/quay/_generator/README.md
  ci-operator/config/quay/quay/_generator/generate.py
  ci-operator/config/quay/quay/_generator/matrix.yaml.in
  ci-operator/config/quay/quay/_generator/model.py
  ci-operator/config/quay/quay/_generator/templates/tests/e2e-install.yaml.j2
  ci-operator/config/quay/quay/_generator/tests/test_generate.py
  ci-operator/config/quay/quay/quay-quay-redhat-3.18__aws-ocp422-e2e-install.yaml
  ci-operator/jobs/quay/quay/quay-quay-redhat-3.18-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Query Jaeger wasm-shim for dataplane tracing on RHCL 1.4.x.
  ci-operator/config/Kuadrant/testsuite/Kuadrant-testsuite-main.yaml
  ci-operator/step-registry/kuadrant/s390x/deploy-tools/kuadrant-s390x-deploy-tools-commands.sh
  ci-operator/step-registry/kuadrant/s390x/deploy-tools/kuadrant-s390x-deploy-tools-ref.yaml
  ci-operator/step-registry/kuadrant/s390x/run-testsuite/kuadrant-s390x-run-testsuite-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

trying fqdn with new port
  ci-operator/step-registry/upi/install/libvirt/heterogeneous/upi-install-libvirt-heterogeneous-commands.sh
  ci-operator/step-registry/upi/libvirt/cleanup/heterogeneous/post/upi-libvirt-cleanup-heterogeneous-post-commands.sh
  ci-operator/step-registry/upi/libvirt/cleanup/heterogeneous/pre/upi-libvirt-cleanup-heterogeneous-pre-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add e2e-aws-nodes-isolated jobs for OCP 5.0 nightly
  ci-operator/config/openshift/release/openshift-release-main__nightly-5.0.yaml
  ci-operator/jobs/openshift/release/openshift-release-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

KPI: fix cpu tests failing due to ulimit
  ci-operator/step-registry/telcov10n/metal-single-node-spoke-kpis/tests/cpu-util/telcov10n-metal-single-node-spoke-kpis-tests-cpu-util-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

switching to default catalog
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__nightly-4.20.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__nightly-4.21.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__nightly-4.22.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__nightly-4.23.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__nightly-5.0.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__nightly-5.1.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

squashed diff
  ci-operator/step-registry/stackrox/automation-flavors/eks-e2e/stackrox-automation-flavors-eks-e2e-workflow.yaml
  ci-operator/step-registry/stackrox/automation-flavors/ocp-4-e2e/stackrox-automation-flavors-ocp-4-e2e-workflow.yaml
  ci-operator/step-registry/stackrox/stackrox/begin/stackrox-stackrox-begin-ref.yaml
  ci-operator/step-registry/stackrox/stackrox/e2e-test/stackrox-stackrox-e2e-test-commands.sh
  ci-operator/step-registry/stackrox/stackrox/e2e-test/stackrox-stackrox-e2e-test-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

add dev branch
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-fix-ipv6-deploy__eks-ipv6.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-fix-ipv6-deploy__ocp-5-0-aws-dualstack.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-fix-ipv6-deploy__ocp-aws-dual-ipv6.yaml
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-fix-ipv6-deploy-presubmits.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Ensure OPP EXIT traps complete cleanup
  ci-operator/step-registry/interop/opp/backup/interop-opp-backup-commands.sh
  ci-operator/step-registry/interop/opp/product-upgrade/acm/interop-opp-product-upgrade-acm-commands.sh
  ci-operator/step-registry/interop/opp/product-upgrade/acs/interop-opp-product-upgrade-acs-commands.sh
  ci-operator/step-registry/interop/opp/product-upgrade/odf/interop-opp-product-upgrade-odf-commands.sh
  ci-operator/step-registry/interop/opp/product-upgrade/quay/interop-opp-product-upgrade-quay-commands.sh
  ci-operator/step-registry/interop/opp/wait-mcp/interop-opp-wait-mcp-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add JUnit XML wrappers to OPP binary-only test steps
  ci-operator/step-registry/install-operators/install-operators-commands.sh
  ci-operator/step-registry/interop/opp/backup/interop-opp-backup-commands.sh
  ci-operator/step-registry/interop/opp/product-upgrade/acm/interop-opp-product-upgrade-acm-commands.sh
  ci-operator/step-registry/interop/opp/product-upgrade/acs/interop-opp-product-upgrade-acs-commands.sh
  ci-operator/step-registry/interop/opp/product-upgrade/odf/interop-opp-product-upgrade-odf-commands.sh
  ci-operator/step-registry/interop/opp/product-upgrade/quay/interop-opp-product-upgrade-quay-commands.sh
  ci-operator/step-registry/interop/opp/wait-mcp/interop-opp-wait-mcp-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add grace period to install-operators step
  ci-operator/step-registry/install-operators/install-operators-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Propagate OPP upgrade reports to shared storage
  ci-operator/step-registry/interop/opp/backup/interop-opp-backup-commands.sh
  ci-operator/step-registry/interop/opp/product-upgrade/acm/interop-opp-product-upgrade-acm-commands.sh
  ci-operator/step-registry/interop/opp/product-upgrade/acs/interop-opp-product-upgrade-acs-commands.sh
  ci-operator/step-registry/interop/opp/product-upgrade/odf/interop-opp-product-upgrade-odf-commands.sh
  ci-operator/step-registry/interop/opp/product-upgrade/quay/interop-opp-product-upgrade-quay-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Propagate OPP JUnit reports to shared storage
  ci-operator/step-registry/install-operators/install-operators-commands.sh
  ci-operator/step-registry/interop/opp/wait-mcp/interop-opp-wait-mcp-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix PR-D: SHORT naming, remove extras, add missing wrappers
  ci-operator/step-registry/install-operators/install-operators-commands.sh
  ci-operator/step-registry/install-operators/install-operators-ref.yaml
  ci-operator/step-registry/interop/opp/backup/interop-opp-backup-commands.sh
  ci-operator/step-registry/interop/opp/deploy-acs/interop-opp-deploy-acs-commands.sh
  ci-operator/step-registry/interop/opp/deploy-odf/interop-opp-deploy-odf-commands.sh
  ci-operator/step-registry/interop/opp/post-upgrade-policy-check/interop-opp-post-upgrade-policy-check-commands.sh
  ci-operator/step-registry/interop/opp/pre-upgrade-checks/interop-opp-pre-upgrade-checks-commands.sh
  ci-operator/step-registry/interop/opp/product-upgrade/acm/interop-opp-product-upgrade-acm-commands.sh
  ci-operator/step-registry/interop/opp/product-upgrade/acs/interop-opp-product-upgrade-acs-commands.sh
  ci-operator/step-registry/interop/opp/product-upgrade/odf/interop-opp-product-upgrade-odf-commands.sh
  ci-operator/step-registry/interop/opp/product-upgrade/quay/interop-opp-product-upgrade-quay-commands.sh
  ci-operator/step-registry/interop/opp/readiness/interop-opp-readiness-commands.sh
  ci-operator/step-registry/interop/opp/restore/interop-opp-restore-commands.sh
  ci-operator/step-registry/interop/opp/wait-mcp/interop-opp-wait-mcp-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Address CodeRabbit review: add JUnit to remaining OPP steps and docstrings
  ci-operator/step-registry/install-operators/install-operators-commands.sh
  ci-operator/step-registry/install-operators/install-operators-ref.yaml
  ci-operator/step-registry/interop/opp/backup/interop-opp-backup-commands.sh
  ci-operator/step-registry/interop/opp/deploy-acs/interop-opp-deploy-acs-commands.sh
  ci-operator/step-registry/interop/opp/deploy-odf/interop-opp-deploy-odf-commands.sh
  ci-operator/step-registry/interop/opp/post-upgrade-policy-check/interop-opp-post-upgrade-policy-check-commands.sh
  ci-operator/step-registry/interop/opp/pre-upgrade-checks/interop-opp-pre-upgrade-checks-commands.sh
  ci-operator/step-registry/interop/opp/product-upgrade/acm/interop-opp-product-upgrade-acm-commands.sh
  ci-operator/step-registry/interop/opp/product-upgrade/acs/interop-opp-product-upgrade-acs-commands.sh
  ci-operator/step-registry/interop/opp/product-upgrade/odf/interop-opp-product-upgrade-odf-commands.sh
  ci-operator/step-registry/interop/opp/product-upgrade/quay/interop-opp-product-upgrade-quay-commands.sh
  ci-operator/step-registry/interop/opp/readiness/interop-opp-readiness-commands.sh
  ci-operator/step-registry/interop/opp/restore/interop-opp-restore-commands.sh
  ci-operator/step-registry/interop/opp/wait-mcp/interop-opp-wait-mcp-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

quay: add FIPS job support to the ci-generator, first Quay 3.18 AWS S3 FIPS periodic (#86288)
  ci-operator/config/quay/quay/_generator/README.md
  ci-operator/config/quay/quay/_generator/generate.py
  ci-operator/config/quay/quay/_generator/matrix.yaml.in
  ci-operator/config/quay/quay/_generator/model.py
  ci-operator/config/quay/quay/_generator/templates/tests/e2e-install.yaml.j2
  ci-operator/config/quay/quay/_generator/tests/test_generate.py
  ci-operator/config/quay/quay/quay-quay-redhat-3.18__aws-ocp422-e2e-install.yaml
  ci-operator/jobs/quay/quay/quay-quay-redhat-3.18-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Fix false-green JUnit in 3 OPP scripts
  ci-operator/step-registry/interop/opp/post-upgrade-policy-check/interop-opp-post-upgrade-policy-check-commands.sh
  ci-operator/step-registry/interop/opp/pre-upgrade-checks/interop-opp-pre-upgrade-checks-commands.sh
  ci-operator/step-registry/interop/opp/restore/interop-opp-restore-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Retry OPP readiness checks safely
  ci-operator/step-registry/interop/opp/readiness/interop-opp-readiness-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)
