Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

services-valid:
  commands: make check-services
  container:
    from: src

ci/openshift/promrules:
  decorate: true
  spec:
    containers:
    - command:
      - /go/entrypoint.sh
      image: registry.svc.ci.openshift.org/ci/promrules:latest
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
          cpu: 500m
        requests:
          cpu: 10m

ci/prow/pylint:
  decorate: true
  spec:
    containers:
    - args:
      - --rcfile=hack/.pylintrc
      - --ignore=lib
      - --persistent=n
      - hack
      command:
      - pylint
      image: registry.svc.ci.openshift.org/ci/python-validation
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
  ...

ci/prow/services-valid:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/stackrox-stackrox-stackrox-stackrox-check:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: stackrox-stackrox
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

branch-ci-openshift-release-master-gsm-secrets-reconciler:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/sync-rover-groups/_config.yaml
      - --log-level=info
      - --gcp-service-account-key-file=/tmp/gcp-credentials/key.json
      command:
      - gsm-secret-sync
      env:
  ...

branch-ci-openshift-release-master-label-sync:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/prow/02_config/_labels.yaml
      - --confirm=true
  ...

ci/prow/check-cluster-profiles-config:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    automountServiceAccountToken: true
    containers:
    - args:
      - --config-path=./ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml
      command:
      - check-cluster-profiles-config
  ...

ci/prow/check-gh-automation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --bot=openshift-merge-robot
      - --bot=openshift-ci-robot
      - --app=openshift-ci
      - --app-check-mode=standard
      - --candidate-path=.
  ...

ci/prow/check-gh-automation-tide:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --app=openshift-merge-bot
      - --app-check-mode=tide
      - --candidate-path=.
      - --config-path=./core-services/prow/02_config/_config.yaml
  ...

Replace ARO Classic explicit OWNERS lists with alias
  ci-operator/config/Azure/ARO-RP/OWNERS
  ci-operator/jobs/Azure/ARO-RP/OWNERS
  ci-operator/step-registry/aro-classic/OWNERS
  ci-operator/step-registry/aro-classic/e2e/OWNERS
  ci-operator/step-registry/aro-classic/test/OWNERS
  ci-operator/step-registry/aro-classic/test/persistent/OWNERS
  ci-operator/step-registry/aro-classic/test/persistent/aro-classic-test-persistent-ref.metadata.json
  ci-operator/step-registry/aro-e2e/OWNERS
  clusters/app.ci/registry-access/aro-classic/OWNERS
Due: ci/prow/check-gh-automation, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/build-farm/hosted-mgmt-dry, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Remove mociarain from ARO Classic maintainers
  ci-operator/step-registry/aro-classic/e2e/aro-classic-e2e-workflow.metadata.json
  core-services/prow/02_config/_config.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/prow-config, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update OPP preflight compatibility matrix for ACM 2.17 on OCP 4.22
  ci-operator/step-registry/interop/opp/preflight/interop-opp-preflight-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ading cluster 128 to target hub deploy
  ci-operator/step-registry/telcov10n/functional/cnf-ran/ibu-target-hub-deploy/telcov10n-functional-cnf-ran-ibu-target-hub-deploy-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

multiarch: remove IBM Z TechPreview jobs from OCP 4.22 (#82868)
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.22.yaml
  ci-operator/jobs/openshift/multiarch/openshift-multiarch-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

add forced failure
  ci-operator/step-registry/medik8s/analyze-e2e-failure/medik8s-analyze-e2e-failure-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

setup assisted-installer version v2.55
  ci-operator/config/openshift/assisted-installer-agent/openshift-assisted-installer-agent-v2.55.yaml
  ci-operator/config/openshift/assisted-installer/openshift-assisted-installer-v2.55.yaml
  ci-operator/jobs/openshift/assisted-installer-agent/openshift-assisted-installer-agent-v2.55-presubmits.yaml
  ci-operator/jobs/openshift/assisted-installer/openshift-assisted-installer-v2.55-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

openshift-dpf Fixes to git rebase (#82899)
  ci-operator/step-registry/dpf/hypervisor/deploy-cluster/dpf-hypervisor-deploy-cluster-commands.sh
  ci-operator/step-registry/dpf/hypervisor/network-tests/dpf-hypervisor-network-tests-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

tide: set github_merge_blocks_policy to block for OADP repos
  core-services/prow/02_config/_config.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Use upstream eval-kubevirt.yaml instead of generic eval-core.yaml
  ci-operator/config/openshift/openshift-mcp-server/openshift-openshift-mcp-server-release-5.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

OTA-2024: Add unit test CI job for openshift/agentic-skills (#81732)
  ci-operator/config/openshift/agentic-skills/openshift-agentic-skills-main.yaml
  ci-operator/jobs/openshift/agentic-skills/openshift-agentic-skills-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Fix BIOS configs to current settings
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__telco-kpis.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

use test-bin for all tests via test_binary_build_commands
  ci-operator/config/openshift/faas-console-plugin/openshift-faas-console-plugin-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ROSAENG-58795 | chore: split pr-check jobs - reactive codecov
  ci-operator/config/openshift-online/rosa-clusters-service/openshift-online-rosa-clusters-service-konflux-master.yaml
  ci-operator/jobs/openshift-online/rosa-clusters-service/openshift-online-rosa-clusters-service-konflux-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Use --set-string for helm providersConfigs to fix type mismatch
  ci-operator/step-registry/sandboxed-containers-operator/install-osc-operator/sandboxed-containers-operator-install-osc-operator-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ROSAENG-59003 | chore: Clusters cleaner prow onboarding
  ci-operator/config/openshift-online/rosa-clusters-cleaner/OWNERS
  ci-operator/config/openshift-online/rosa-clusters-cleaner/openshift-online-rosa-clusters-cleaner-master.yaml
  ci-operator/jobs/openshift-online/rosa-clusters-cleaner/OWNERS
  ci-operator/jobs/openshift-online/rosa-clusters-cleaner/openshift-online-rosa-clusters-cleaner-master-presubmits.yaml
  core-services/prow/02_config/openshift-online/rosa-clusters-cleaner/_pluginconfig.yaml
  core-services/prow/02_config/openshift-online/rosa-clusters-cleaner/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Fix BIOS configs to current settings (#82901)
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__telco-kpis.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

TRT-2827: Enable ai-helpers plugins via settings.json in all agentic-dev images
  ci-operator/config/openshift/origin/openshift-origin-main__agentic.yaml
  ci-operator/config/openshift/release/openshift-release-main__jira-solver-eval.yaml
  ci-operator/config/openshift/sippy/openshift-sippy-main__agentic.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add Splunk HEC integration to telco-kpis generate-report Prow step
  ci-operator/step-registry/telcov10n/system/telco-kpis/reporting/generate-report/telcov10n-system-telco-kpis-reporting-generate-report-commands.sh
  ci-operator/step-registry/telcov10n/system/telco-kpis/reporting/generate-report/telcov10n-system-telco-kpis-reporting-generate-report-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

OCPMCP-108: weekly mcpchecker eval periodic for openshift-mcp-server
  ci-operator/config/openshift/openshift-mcp-server/openshift-openshift-mcp-server-main.yaml
  ci-operator/jobs/openshift/openshift-mcp-server/openshift-openshift-mcp-server-main-periodics.yaml
  ci-operator/step-registry/openshift/mcp-server/mcpchecker-eval/README.md
  ci-operator/step-registry/openshift/mcp-server/mcpchecker-eval/credentials-setup/openshift-mcp-server-mcpchecker-eval-credentials-setup-commands.sh
  ci-operator/step-registry/openshift/mcp-server/mcpchecker-eval/credentials-setup/openshift-mcp-server-mcpchecker-eval-credentials-setup-ref.yaml
  ci-operator/step-registry/openshift/mcp-server/mcpchecker-eval/model-api/openshift-mcp-server-mcpchecker-eval-model-api-chain.yaml
  ci-operator/step-registry/openshift/mcp-server/mcpchecker-eval/openshift-mcp-server-mcpchecker-eval-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ROSAENG-58795 | chore: split pr-check jobs - reactive codecov (#82857)
  ci-operator/config/openshift-online/rosa-clusters-service/openshift-online-rosa-clusters-service-konflux-master.yaml
  ci-operator/jobs/openshift-online/rosa-clusters-service/openshift-online-rosa-clusters-service-konflux-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

stolostron/cluster-backup-operator: clear Go cache before sonar
  ci-operator/config/stolostron/cluster-backup-operator/stolostron-cluster-backup-operator-main.yaml
  ci-operator/config/stolostron/cluster-backup-operator/stolostron-cluster-backup-operator-release-2.11.yaml
  ci-operator/config/stolostron/cluster-backup-operator/stolostron-cluster-backup-operator-release-2.12.yaml
  ci-operator/config/stolostron/cluster-backup-operator/stolostron-cluster-backup-operator-release-2.13.yaml
  ci-operator/config/stolostron/cluster-backup-operator/stolostron-cluster-backup-operator-release-2.14.yaml
  ci-operator/config/stolostron/cluster-backup-operator/stolostron-cluster-backup-operator-release-2.15.yaml
  ci-operator/config/stolostron/cluster-backup-operator/stolostron-cluster-backup-operator-release-2.16.yaml
  ci-operator/config/stolostron/cluster-backup-operator/stolostron-cluster-backup-operator-release-2.17.yaml
  ci-operator/config/stolostron/cluster-backup-operator/stolostron-cluster-backup-operator-release-5.0.yaml
  ci-operator/config/stolostron/cluster-backup-operator/stolostron-cluster-backup-operator-release-5.1.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

tide: set github_merge_blocks_policy to block for OADP repos (#82902)
  core-services/prow/02_config/_config.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

PTPCI: add 90m between paired nightly PTP jobs
  ci-operator/config/openshift/release/openshift-release-main__nightly-4.22.yaml
  ci-operator/config/openshift/release/openshift-release-main__nightly-5.0.yaml
  ci-operator/jobs/openshift/release/openshift-release-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

OPNET-803: installer: add e2e-metal-ipi-bgp-vip-ovn-bgp coexistence lane
  ci-operator/config/openshift/installer/openshift-installer-main.yaml
  ci-operator/jobs/openshift/installer/openshift-installer-main-presubmits.yaml
  ci-operator/step-registry/baremetalds/e2e/bgp-vip/ovn-bgp/OWNERS
  ci-operator/step-registry/baremetalds/e2e/bgp-vip/ovn-bgp/baremetalds-e2e-bgp-vip-ovn-bgp-workflow.metadata.json
  ci-operator/step-registry/baremetalds/e2e/bgp-vip/ovn-bgp/baremetalds-e2e-bgp-vip-ovn-bgp-workflow.yaml
  ci-operator/step-registry/baremetalds/e2e/bgp-vip/ovn-bgp/verify/OWNERS
  ci-operator/step-registry/baremetalds/e2e/bgp-vip/ovn-bgp/verify/baremetalds-e2e-bgp-vip-ovn-bgp-verify-commands.sh
  ci-operator/step-registry/baremetalds/e2e/bgp-vip/ovn-bgp/verify/baremetalds-e2e-bgp-vip-ovn-bgp-verify-ref.metadata.json
  ci-operator/step-registry/baremetalds/e2e/bgp-vip/ovn-bgp/verify/baremetalds-e2e-bgp-vip-ovn-bgp-verify-ref.yaml
  ci-operator/step-registry/baremetalds/e2e/ovn/bgp/pre/baremetalds-e2e-ovn-bgp-pre-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

OPCT: change vSphere periodic job frequency from weekly to monthly (#82908)
  ci-operator/config/redhat-openshift-ecosystem/opct/redhat-openshift-ecosystem-opct-main__4.19.yaml
  ci-operator/config/redhat-openshift-ecosystem/opct/redhat-openshift-ecosystem-opct-main__4.20.yaml
  ci-operator/config/redhat-openshift-ecosystem/opct/redhat-openshift-ecosystem-opct-main__4.21.yaml
  ci-operator/config/redhat-openshift-ecosystem/opct/redhat-openshift-ecosystem-opct-main__4.22.yaml
  ci-operator/jobs/redhat-openshift-ecosystem/opct/redhat-openshift-ecosystem-opct-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Fix missing OperatorGroup for rhacs-operator and odf-operator in OPP 4.22 upgrade
  ci-operator/config/stolostron/policy-collection/stolostron-policy-collection-main__ocp4.22-upgrade.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ovn/bgp: wait for RouteAdvertisements CRD before applying CRs
  ci-operator/step-registry/baremetalds/e2e/ovn/bgp/pre/baremetalds-e2e-ovn-bgp-pre-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ROSAENG-64530: add weekly full lifecycle CAPA e2e job
  ci-operator/config/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main_capa-e2e.yaml
  ci-operator/jobs/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main_capa-e2e-periodics.yaml
  ci-operator/step-registry/rosa/e2e/capa/rosa-e2e-capa-commands.sh
  ci-operator/step-registry/rosa/e2e/capa/rosa-e2e-capa-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update registry-metadata for aro-classic and aro-e2e
  ci-operator/step-registry/aro-classic/e2e/aro-classic-e2e-workflow.metadata.json
  ci-operator/step-registry/aro-classic/test/persistent/aro-classic-test-persistent-ref.metadata.json
  ci-operator/step-registry/aro-e2e/classic/aro-e2e-classic-workflow.metadata.json
  ci-operator/step-registry/aro-e2e/classic/bootstrap/create/aro-e2e-classic-bootstrap-create-ref.metadata.json
  ci-operator/step-registry/aro-e2e/classic/bootstrap/delete/aro-e2e-classic-bootstrap-delete-ref.metadata.json
  ci-operator/step-registry/aro-e2e/classic/cluster/create/aro-e2e-classic-cluster-create-ref.metadata.json
  ci-operator/step-registry/aro-e2e/classic/cluster/delete/aro-e2e-classic-cluster-delete-ref.metadata.json
  ci-operator/step-registry/aro-e2e/classic/test/aro-e2e-classic-test-ref.metadata.json
  ci-operator/step-registry/aro-e2e/config/aro-e2e-config-chain.metadata.json
  ci-operator/step-registry/aro-e2e/config/login-script/aro-e2e-config-login-script-ref.metadata.json
  ci-operator/step-registry/aro-e2e/config/secrets/aro-e2e-config-secrets-ref.metadata.json
  ci-operator/step-registry/aro-e2e/config/vars/aro-e2e-config-vars-ref.metadata.json
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

up informers memory limit to 800Mi for cd-v2
  ci-operator/step-registry/netobserv/perf-test/deploy/netobserv-perf-test-deploy-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix SBR disconnected job and add 4.22 disconnected SBR jobs
  ci-operator/config/medik8s/system-tests/medik8s-system-tests-main__4.21-disconnected.yaml
  ci-operator/config/medik8s/system-tests/medik8s-system-tests-main__4.22-disconnected.yaml
  ci-operator/jobs/medik8s/system-tests/medik8s-system-tests-main-periodics.yaml
  ci-operator/jobs/medik8s/system-tests/medik8s-system-tests-main-presubmits.yaml
  ci-operator/step-registry/medik8s/disconnected-catalogsource/medik8s-disconnected-catalogsource-commands.sh
  ci-operator/step-registry/medik8s/sbr/nfs-bastion/medik8s-sbr-nfs-bastion-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Remove periodic-check-gh-automation from scope
  ci-operator/jobs/infra-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Prow jobs creation for the builds-1.9 branch
  ci-operator/config/openshift/openshift-docs/openshift-openshift-docs-build-docs-1.9.yaml
  ci-operator/jobs/openshift/openshift-docs/openshift-openshift-docs-build-docs-1.9-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

[ossm3] Update skip label
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-lpinterop-3.4__ocp-4.22-lp-interop.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Harden OPP upgrade script: eliminate jq dependency and improve error handling
  ci-operator/config/stolostron/policy-collection/stolostron-policy-collection-main__ocp5.0-upgrade.yaml
  ci-operator/step-registry/interop/opp/upgrade/interop-opp-upgrade-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ROSAENG-59003 | chore: Clusters cleaner prow onboarding (#82906)
  ci-operator/config/openshift-online/rosa-clusters-cleaner/OWNERS
  ci-operator/config/openshift-online/rosa-clusters-cleaner/openshift-online-rosa-clusters-cleaner-master.yaml
  ci-operator/jobs/openshift-online/rosa-clusters-cleaner/OWNERS
  ci-operator/jobs/openshift-online/rosa-clusters-cleaner/openshift-online-rosa-clusters-cleaner-master-presubmits.yaml
  core-services/prow/02_config/openshift-online/rosa-clusters-cleaner/_pluginconfig.yaml
  core-services/prow/02_config/openshift-online/rosa-clusters-cleaner/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add adversary security scan CI job for rosa-hyperfleet
  ci-operator/config/openshift-online/rosa-hyperfleet/openshift-online-rosa-hyperfleet-main.yaml
  ci-operator/jobs/openshift-online/rosa-hyperfleet/openshift-online-rosa-hyperfleet-main-presubmits.yaml
  ci-operator/step-registry/security/adversary-scan/OWNERS
  ci-operator/step-registry/security/adversary-scan/security-adversary-scan-commands.sh
  ci-operator/step-registry/security/adversary-scan/security-adversary-scan-ref.metadata.json
  ci-operator/step-registry/security/adversary-scan/security-adversary-scan-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

USHIFT-6378: MicroShift deployment on self-scheduled baremetal hosts (#72356)
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__microshift-metal-selfsched-4.22-candidate-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-presubmits.yaml
  ci-operator/step-registry/openshift-qe/microshift-deploy/OWNERS
  ci-operator/step-registry/openshift-qe/microshift-deploy/openshift-qe-microshift-deploy-commands.sh
  ci-operator/step-registry/openshift-qe/microshift-deploy/openshift-qe-microshift-deploy-ref.metadata.json
  ci-operator/step-registry/openshift-qe/microshift-deploy/openshift-qe-microshift-deploy-ref.yaml
  ci-operator/step-registry/openshift-qe/microshift-kube-burner/OWNERS
  ci-operator/step-registry/openshift-qe/microshift-kube-burner/openshift-qe-microshift-kube-burner-commands.sh
  ci-operator/step-registry/openshift-qe/microshift-kube-burner/openshift-qe-microshift-kube-burner-ref.metadata.json
  ci-operator/step-registry/openshift-qe/microshift-kube-burner/openshift-qe-microshift-kube-burner-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)
