Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

Disabling threshold for virt runs (#78550)
  ci-operator/step-registry/openshift-qe/virt-density-nomount/openshift-qe-virt-density-nomount-ref.yaml
  ci-operator/step-registry/openshift-qe/virt-density/openshift-qe-virt-density-ref.yaml
  ci-operator/step-registry/openshift-qe/virt-udn-density/openshift-qe-virt-udn-density-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

cnf ran: added two_sno lane for ocp 4.22 (#78611)
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-two-sno-4.22.yaml
  ci-operator/jobs/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

OCPBUGS-84670: OpenStack: fix NFV jobs failing to provision performance profile (#78549)
  ci-operator/step-registry/openshift/e2e/openstack/nfv/cgroupsv1/openshift-e2e-openstack-nfv-cgroupsv1-workflow.yaml
  ci-operator/step-registry/openshift/e2e/openstack/nfv/openshift-e2e-openstack-nfv-workflow.yaml
  ci-operator/step-registry/openstack/provision/performanceprofile/openstack-provision-performanceprofile-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

feat: add html link for pr dashboard (#78677)
  ci-operator/step-registry/openshift/edge-tooling/gh-notifier/openshift-edge-tooling-gh-notifier-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Remove vsphere rhcos9-10 mixed jobs and set cron for vsphere rhcos9 jobs (#78685)
  ci-operator/config/openshift/release/openshift-release-main__nightly-5.0.yaml
  ci-operator/jobs/openshift/release/openshift-release-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

qci-pruner: log digest when deleting prune retention tags (#78686)
  hack/qci_registry_pruner.py
Due: ci/prow/pylint

fleetshift-poc: add local image mirroring jobs (#78675)
  ci-operator/config/fleetshift/fleetshift-poc/fleetshift-fleetshift-poc-main.yaml
  ci-operator/jobs/fleetshift/fleetshift-poc/fleetshift-fleetshift-poc-main-postsubmits.yaml
  ci-operator/jobs/fleetshift/fleetshift-poc/fleetshift-fleetshift-poc-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

CNF-22982: Remove CI jobs for OCP 4.10, 4.11, 4.13, 4.15, 4.17 for cluster-group-upgrades-operator (#78666)
  ci-operator/config/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.10.yaml
  ci-operator/config/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.11.yaml
  ci-operator/config/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.13.yaml
  ci-operator/config/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.15.yaml
  ci-operator/config/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.17.yaml
  ci-operator/jobs/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.10-postsubmits.yaml
  ci-operator/jobs/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.10-presubmits.yaml
  ci-operator/jobs/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.11-postsubmits.yaml
  ci-operator/jobs/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.11-presubmits.yaml
  ci-operator/jobs/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.13-postsubmits.yaml
  ci-operator/jobs/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.13-presubmits.yaml
  ci-operator/jobs/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.15-postsubmits.yaml
  ci-operator/jobs/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.17-postsubmits.yaml
  ci-operator/jobs/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.17-presubmits.yaml
  core-services/image-mirroring/openshift-kni/mapping_openshift-kni_quay
  core-services/sanitize-prow-jobs/_config.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

feat(GCP-431): pass network service account to v2 GKE create chain (#78662)
  ci-operator/step-registry/hypershift/gcp/create/hypershift-gcp-create-chain.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

CNF-22982: Remove tekton linting job from cluster-group-upgrades-operator (#78687)
  ci-operator/config/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-main.yaml
  ci-operator/config/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.19.yaml
  ci-operator/config/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.20.yaml
  ci-operator/config/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.21.yaml
  ci-operator/config/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.22.yaml
  ci-operator/jobs/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-main-presubmits.yaml
  ci-operator/jobs/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.22-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

CNF-22982: Remove CI jobs for OCP 4.15, 4.17 for lifecycle-agent (#78665)
  ci-operator/config/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-release-4.15.yaml
  ci-operator/config/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-release-4.15__nightly-4.15-upgrade-from-stable-4.14.yaml
  ci-operator/config/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-release-4.15__nightly-4.15.yaml
  ci-operator/config/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-release-4.16__nightly-4.16-upgrade-from-stable-4.15.yaml
  ci-operator/config/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-release-4.17.yaml
  ci-operator/config/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-release-4.17__nightly-4.17-upgrade-from-stable-4.16.yaml
  ci-operator/config/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-release-4.17__nightly-4.17.yaml
  ci-operator/config/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-release-4.18.yaml
  ci-operator/config/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-release-4.18__nightly-4.18-upgrade-from-stable-4.17.yaml
  ci-operator/jobs/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-release-4.15-periodics.yaml
  ci-operator/jobs/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-release-4.15-postsubmits.yaml
  ci-operator/jobs/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-release-4.16-periodics.yaml
  ci-operator/jobs/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-release-4.17-periodics.yaml
  ci-operator/jobs/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-release-4.17-postsubmits.yaml
  ci-operator/jobs/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-release-4.18-periodics.yaml
  core-services/image-mirroring/openshift-kni/mapping_openshift-kni_quay
  core-services/sanitize-prow-jobs/_config.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

feat: add gh-token binary as ci image (#78667)
  ci-operator/config/openshift-eng/edge-tooling/openshift-eng-edge-tooling-main.yaml
  ci-operator/jobs/openshift-eng/edge-tooling/openshift-eng-edge-tooling-main-postsubmits.yaml
  ci-operator/jobs/openshift-eng/edge-tooling/openshift-eng-edge-tooling-main-presubmits.yaml
  core-services/sanitize-prow-jobs/_config.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

CNF-22982: Update CI triggers and job names for cluster-group-upgrades-operator (#78688)
  ci-operator/config/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-main.yaml
  ci-operator/config/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.12.yaml
  ci-operator/config/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.14.yaml
  ci-operator/config/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.16.yaml
  ci-operator/config/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.18.yaml
  ci-operator/config/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.19.yaml
  ci-operator/config/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.20.yaml
  ci-operator/config/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.21.yaml
  ci-operator/config/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.22.yaml
  ci-operator/jobs/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-main-presubmits.yaml
  ci-operator/jobs/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.12-presubmits.yaml
  ci-operator/jobs/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.14-presubmits.yaml
  ci-operator/jobs/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift-kni/cluster-group-upgrades-operator/openshift-kni-cluster-group-upgrades-operator-release-4.22-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Bump volume size for kubernetes integration tests on the master branch (#78700)
  ci-operator/config/openshift/kubernetes/openshift-kubernetes-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

4.23 informers (#78698)
  core-services/release-controller/_releases/priv/release-ocp-4.23.json
  core-services/release-controller/_releases/release-ocp-4.23-ci.json
  core-services/release-controller/_releases/release-ocp-4.23.json
Due: ci/prow/ci-testgrid-allow-list, ci/prow/release-config

Collect pprof data and metrics when kube-burner tests fail (#78220)
  ci-operator/step-registry/openshift-qe/cluster-density-v2/openshift-qe-cluster-density-v2-commands.sh
  ci-operator/step-registry/openshift-qe/node-density-cni/openshift-qe-node-density-cni-commands.sh
  ci-operator/step-registry/openshift-qe/node-density-heavy/openshift-qe-node-density-heavy-commands.sh
  ci-operator/step-registry/openshift-qe/node-density/openshift-qe-node-density-commands.sh
  ci-operator/step-registry/openshift-qe/udn-density-pods/openshift-qe-udn-density-pods-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

feat: add edge-tooling shellcheck presubmit (#78704)
  ci-operator/config/openshift-eng/edge-tooling/openshift-eng-edge-tooling-main.yaml
  ci-operator/jobs/openshift-eng/edge-tooling/openshift-eng-edge-tooling-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Sync OWNERS files by autoowners job at Sat, 02 May 2026 07:41:18 UTC (#78711)
  ci-operator/config/kubevirt/kubevirt/OWNERS
  ci-operator/config/openshift/must-gather-clean/OWNERS
  ci-operator/config/redhat-cne/downstream-ptp-operator-monorepo/OWNERS
  ci-operator/config/stolostron/managed-serviceaccount-e2e/OWNERS
  ci-operator/jobs/kubevirt/kubevirt/OWNERS
  ci-operator/jobs/openshift/must-gather-clean/OWNERS
  ci-operator/jobs/redhat-cne/downstream-ptp-operator-monorepo/OWNERS
  ci-operator/jobs/stolostron/managed-serviceaccount-e2e/OWNERS
  core-services/prow/02_config/kubevirt/kubevirt/OWNERS
  core-services/prow/02_config/openshift/must-gather-clean/OWNERS
  core-services/prow/02_config/redhat-cne/downstream-ptp-operator-monorepo/OWNERS
  core-services/prow/02_config/stolostron/managed-serviceaccount-e2e/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

OCM-23805: migrate cs-osd-rh-aws-staging-main FVT to Prow (#78695)
  ci-operator/config/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main.yaml
  ci-operator/jobs/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Remove vSphere CI jobs for OpenShift 4.6 through 4.11 (#76424)
  ci-operator/config/openshift/release/openshift-release-main__ci-4.10-upgrade-from-stable-4.9.yaml
  ci-operator/config/openshift/release/openshift-release-main__ci-4.11-upgrade-from-stable-4.10.yaml
  ci-operator/config/openshift/release/openshift-release-main__ci-4.12-upgrade-from-stable-4.11.yaml
  ci-operator/config/openshift/release/openshift-release-main__ci-4.6-upgrade-from-stable-4.5.yaml
  ci-operator/config/openshift/release/openshift-release-main__ci-4.7-upgrade-from-stable-4.6.yaml
  ci-operator/config/openshift/release/openshift-release-main__ci-4.8-upgrade-from-stable-4.7.yaml
  ci-operator/config/openshift/release/openshift-release-main__ci-4.9-upgrade-from-stable-4.8.yaml
  ci-operator/config/openshift/release/openshift-release-main__nightly-4.10.yaml
  ci-operator/config/openshift/release/openshift-release-main__nightly-4.11.yaml
  ci-operator/config/openshift/release/openshift-release-main__nightly-4.6.yaml
  ci-operator/config/openshift/release/openshift-release-main__nightly-4.7.yaml
  ci-operator/config/openshift/release/openshift-release-main__nightly-4.8.yaml
  ci-operator/config/openshift/release/openshift-release-main__nightly-4.9.yaml
  ci-operator/jobs/openshift/release/openshift-release-main-periodics.yaml
  core-services/release-controller/_releases/priv/release-ocp-4.10.json
  core-services/release-controller/_releases/priv/release-ocp-4.7.json
  core-services/release-controller/_releases/priv/release-ocp-4.8.json
  core-services/release-controller/_releases/priv/release-ocp-4.9.json
  core-services/release-controller/_releases/release-ocp-4.10.json
  core-services/release-controller/_releases/release-ocp-4.7.json
  core-services/release-controller/_releases/release-ocp-4.8.json
  core-services/release-controller/_releases/release-ocp-4.9.json
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config

cnf ran: added 4.16 trigger to 4.14 job (#78374)
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-two-sno-4.14.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-two-sno-4.16.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-two-sno-4.18.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-two-sno-4.20.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-two-sno-4.21.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-two-sno-4.22.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Remove kmm-pull-secret credentials block from KMM test step (#78721)
  ci-operator/step-registry/aws-neuron-operator/kmm-test/aws-neuron-operator-kmm-test-commands.sh
  ci-operator/step-registry/aws-neuron-operator/kmm-test/aws-neuron-operator-kmm-test-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Sync OWNERS files by autoowners job at Sun, 03 May 2026 07:40:03 UTC (#78713)
  ci-operator/config/openshift/community.okd/OWNERS
  ci-operator/jobs/openshift/community.okd/OWNERS
  core-services/prow/02_config/openshift/community.okd/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

telco5g: Fix image version for 4.22 tests (#78720)
  ci-operator/step-registry/telco5g/cnf/tests/telco5g-cnf-tests-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix 4.19 minor upgrade to use prerelease with version_bounds (#78629)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__automated-release-stable-4.19-upgrade-from-stable-4.18.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add OpenShift Pipelines 1.22 performance cron jobs (#78732)
  ci-operator/config/openshift-pipelines/performance/openshift-pipelines-performance-main.yaml
  ci-operator/jobs/openshift-pipelines/performance/openshift-pipelines-performance-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

CCO: e2e-gcp-manual-oidc to run when specific files changed (#78217)
  ci-operator/config/openshift/cloud-credential-operator/openshift-cloud-credential-operator-master.yaml
  ci-operator/config/openshift/cloud-credential-operator/openshift-cloud-credential-operator-release-4.16.yaml
  ci-operator/config/openshift/cloud-credential-operator/openshift-cloud-credential-operator-release-4.17.yaml
  ci-operator/config/openshift/cloud-credential-operator/openshift-cloud-credential-operator-release-4.18.yaml
  ci-operator/config/openshift/cloud-credential-operator/openshift-cloud-credential-operator-release-4.19.yaml
  ci-operator/config/openshift/cloud-credential-operator/openshift-cloud-credential-operator-release-4.20.yaml
  ci-operator/config/openshift/cloud-credential-operator/openshift-cloud-credential-operator-release-4.21.yaml
  ci-operator/config/openshift/cloud-credential-operator/openshift-cloud-credential-operator-release-4.22.yaml
  ci-operator/config/openshift/cloud-credential-operator/openshift-cloud-credential-operator-release-4.23.yaml
  ci-operator/config/openshift/cloud-credential-operator/openshift-cloud-credential-operator-release-5.0.yaml
  ci-operator/jobs/openshift/cloud-credential-operator/openshift-cloud-credential-operator-master-presubmits.yaml
  ci-operator/jobs/openshift/cloud-credential-operator/openshift-cloud-credential-operator-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift/cloud-credential-operator/openshift-cloud-credential-operator-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift/cloud-credential-operator/openshift-cloud-credential-operator-release-4.18-presubmits.yaml
  ci-operator/jobs/openshift/cloud-credential-operator/openshift-cloud-credential-operator-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift/cloud-credential-operator/openshift-cloud-credential-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/cloud-credential-operator/openshift-cloud-credential-operator-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift/cloud-credential-operator/openshift-cloud-credential-operator-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/cloud-credential-operator/openshift-cloud-credential-operator-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift/cloud-credential-operator/openshift-cloud-credential-operator-release-5.0-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

ARO-HCP: Use ARO_HCP_DEPLOY_ENV to determine env (#78619)
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main.yaml
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-presubmits.yaml
  ci-operator/step-registry/aro-hcp/deprovision/environment/aro-hcp-deprovision-environment-commands.sh
  ci-operator/step-registry/aro-hcp/deprovision/environment/aro-hcp-deprovision-environment-ref.yaml
  ci-operator/step-registry/aro-hcp/gather/custom-link-tools/aro-hcp-gather-custom-link-tools-commands.sh
  ci-operator/step-registry/aro-hcp/gather/custom-link-tools/aro-hcp-gather-custom-link-tools-ref.yaml
  ci-operator/step-registry/aro-hcp/gather/observability/aro-hcp-gather-observability-commands.sh
  ci-operator/step-registry/aro-hcp/gather/observability/aro-hcp-gather-observability-ref.yaml
  ci-operator/step-registry/aro-hcp/gather/provision-failure/aro-hcp-gather-provision-failure-commands.sh
  ci-operator/step-registry/aro-hcp/gather/provision-failure/aro-hcp-gather-provision-failure-ref.yaml
  ci-operator/step-registry/aro-hcp/local-e2e/aro-hcp-local-e2e-workflow.yaml
  ci-operator/step-registry/aro-hcp/provision/environment/aro-hcp-provision-environment-commands.sh
  ci-operator/step-registry/aro-hcp/provision/environment/aro-hcp-provision-environment-ref.yaml
  ci-operator/step-registry/aro-hcp/test/local/aro-hcp-test-local-commands.sh
  ci-operator/step-registry/aro-hcp/test/local/aro-hcp-test-local-ref.metadata.json
  ci-operator/step-registry/aro-hcp/test/local/aro-hcp-test-local-ref.yaml
  ci-operator/step-registry/aro-hcp/test/local/run/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Sync OWNERS files by autoowners job at Mon, 04 May 2026 07:40:00 UTC (#78734)
  ci-operator/config/opendatahub-io/feast/OWNERS
  ci-operator/config/rh-ecosystem-edge/nvidia-ci/OWNERS
  ci-operator/jobs/opendatahub-io/feast/OWNERS
  ci-operator/jobs/rh-ecosystem-edge/nvidia-ci/OWNERS
  core-services/prow/02_config/opendatahub-io/feast/OWNERS
  core-services/prow/02_config/rh-ecosystem-edge/nvidia-ci/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

neuron-ci: exclude simple-kmod tests from KMM sanity on ROSA (#78726)
  ci-operator/step-registry/aws-neuron-operator/kmm-test/aws-neuron-operator-kmm-test-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

MGMT-24194: add OSAC pod log gathering to E2E workflow (#78714)
  ci-operator/step-registry/osac-project/gather/OWNERS
  ci-operator/step-registry/osac-project/gather/osac-project-gather-commands.sh
  ci-operator/step-registry/osac-project/gather/osac-project-gather-ref.metadata.json
  ci-operator/step-registry/osac-project/gather/osac-project-gather-ref.yaml
  ci-operator/step-registry/osac-project/ofcir/baremetal/osac-project-ofcir-baremetal-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update quay 3.18 API testing with latest konflux build (#78558)
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__quay-api.yaml
  ci-operator/step-registry/quay-tests/test/quay-api/quay-tests-test-quay-api-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

chore(osso,rodoo): add missing release-22 branch tide configuration (#78737)
  core-services/prow/02_config/openshift/run-once-duration-override-operator/_prowconfig.yaml
  core-services/prow/02_config/openshift/run-once-duration-override/_prowconfig.yaml
  core-services/prow/02_config/openshift/secondary-scheduler-operator/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

MGMT-24194: add component installer step and workflow (#78715)
  ci-operator/step-registry/osac-project/installer/component/OWNERS
  ci-operator/step-registry/osac-project/installer/component/osac-project-installer-component-commands.sh
  ci-operator/step-registry/osac-project/installer/component/osac-project-installer-component-ref.metadata.json
  ci-operator/step-registry/osac-project/installer/component/osac-project-installer-component-ref.yaml
  ci-operator/step-registry/osac-project/ofcir/baremetal/component/OWNERS
  ci-operator/step-registry/osac-project/ofcir/baremetal/component/osac-project-ofcir-baremetal-component-workflow.metadata.json
  ci-operator/step-registry/osac-project/ofcir/baremetal/component/osac-project-ofcir-baremetal-component-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

RHDH: Update EKS mapt to v0.13.0 (#78747)
  ci-operator/config/redhat-developer/rhdh/redhat-developer-rhdh-main.yaml
  ci-operator/step-registry/redhat-developer/rhdh/eks/mapt/create/redhat-developer-rhdh-eks-mapt-create-commands.sh
  ci-operator/step-registry/redhat-developer/rhdh/eks/mapt/destroy/redhat-developer-rhdh-eks-mapt-destroy-commands.sh
  ci-operator/step-registry/redhat-developer/rhdh/eks/mapt/destroy/redhat-developer-rhdh-eks-mapt-destroy-ref.yaml
  ci-operator/step-registry/redhat-developer/rhdh/eks/mapt/orphaned/cleanup/OWNERS
  ci-operator/step-registry/redhat-developer/rhdh/eks/mapt/orphaned/cleanup/redhat-developer-rhdh-eks-mapt-orphaned-cleanup-commands.sh
  ci-operator/step-registry/redhat-developer/rhdh/eks/mapt/orphaned/cleanup/redhat-developer-rhdh-eks-mapt-orphaned-cleanup-ref.metadata.json
  ci-operator/step-registry/redhat-developer/rhdh/eks/mapt/orphaned/cleanup/redhat-developer-rhdh-eks-mapt-orphaned-cleanup-ref.yaml
  ci-operator/step-registry/redhat-developer/rhdh/eks/mapt/orphaned/destroy/redhat-developer-rhdh-eks-mapt-orphaned-destroy-commands.sh
  ci-operator/step-registry/redhat-developer/rhdh/eks/mapt/orphaned/destroy/redhat-developer-rhdh-eks-mapt-orphaned-destroy-ref.yaml
  core-services/image-mirroring/_config.yaml
Due: ci/prow/check-gh-automation, ci/prow/image-mirroring-config-validation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

OCPERT-361: Update Cluster profiles for 4.17.z stream (#77755)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.17__automated-release-stable-4.17-upgrade-from-stable-4.16.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.17__automated-release-stable-4.17-upgrade-from-stable-4.17.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.17__automated-release.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.17__stage-testing.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.17-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

CNF-22982: Remove CI jobs for OCP 4.15, 4.17 for recert (#78664)
  ci-operator/config/rh-ecosystem-edge/recert/rh-ecosystem-edge-recert-release-4.15.yaml
  ci-operator/config/rh-ecosystem-edge/recert/rh-ecosystem-edge-recert-release-4.17.yaml
  ci-operator/jobs/rh-ecosystem-edge/recert/rh-ecosystem-edge-recert-release-4.15-periodics.yaml
  ci-operator/jobs/rh-ecosystem-edge/recert/rh-ecosystem-edge-recert-release-4.15-postsubmits.yaml
  ci-operator/jobs/rh-ecosystem-edge/recert/rh-ecosystem-edge-recert-release-4.15-presubmits.yaml
  ci-operator/jobs/rh-ecosystem-edge/recert/rh-ecosystem-edge-recert-release-4.17-periodics.yaml
  ci-operator/jobs/rh-ecosystem-edge/recert/rh-ecosystem-edge-recert-release-4.17-postsubmits.yaml
  ci-operator/jobs/rh-ecosystem-edge/recert/rh-ecosystem-edge-recert-release-4.17-presubmits.yaml
  core-services/image-mirroring/edge-infrastructure/mapping_edge_infrastructure_recert
  core-services/sanitize-prow-jobs/_config.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

NO_ISSUE: drop temp CI jobs from osac-aap and osac-operator, add members to osac-cicd (#78723)
  OWNERS_ALIASES
  ci-operator/config/osac-project/osac-aap/osac-project-osac-aap-main.yaml
  ci-operator/config/osac-project/osac-operator/osac-project-osac-operator-main.yaml
  ci-operator/jobs/osac-project/osac-aap/osac-project-osac-aap-main-postsubmits.yaml
  ci-operator/jobs/osac-project/osac-aap/osac-project-osac-aap-main-presubmits.yaml
  ci-operator/jobs/osac-project/osac-operator/osac-project-osac-operator-main-postsubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics
