Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

Declare TEST_FUNC env variable in baremetalds-sno-test ref (#82160)
  ci-operator/step-registry/baremetalds/sno/test/baremetalds-sno-test-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

INTEROP-9103: Replace awk text parsing with jq/jsonpath per best practices
  ci-operator/step-registry/acm/policies/openshift-plus/acm-policies-openshift-plus-commands.sh
  ci-operator/step-registry/interop/opp/backup/interop-opp-backup-commands.sh
  ci-operator/step-registry/interop/opp/upgrade/interop-opp-upgrade-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Address reviewer feedback: SC2155, file perms, error handling
  ci-operator/step-registry/acm/opp-app/acm-opp-app-commands.sh
  ci-operator/step-registry/acm/policies/openshift-plus/acm-policies-openshift-plus-commands.sh
  ci-operator/step-registry/interop/opp/smoke/interop-opp-smoke-commands.sh
  ci-operator/step-registry/interop/opp/upgrade/interop-opp-upgrade-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

INTEROP-9103: Address CodeRabbit review feedback
  ci-operator/step-registry/acm/opp-app/acm-opp-app-commands.sh
  ci-operator/step-registry/acm/policies/openshift-plus/acm-policies-openshift-plus-commands.sh
  ci-operator/step-registry/interop/opp/backup/interop-opp-backup-commands.sh
  ci-operator/step-registry/interop/opp/smoke/interop-opp-smoke-commands.sh
  ci-operator/step-registry/interop/opp/upgrade/interop-opp-upgrade-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

INTEROP-9103: Update OPP step scripts to adhere to Integrity best practices
  ci-operator/step-registry/acm/opp-app/acm-opp-app-commands.sh
  ci-operator/step-registry/acm/policies/openshift-plus/acm-policies-openshift-plus-commands.sh
  ci-operator/step-registry/interop/opp/backup/interop-opp-backup-commands.sh
  ci-operator/step-registry/interop/opp/smoke/interop-opp-smoke-commands.sh
  ci-operator/step-registry/interop/opp/upgrade/interop-opp-upgrade-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

INTEROP-9103: Handle API flakes in policy compliance loop
  ci-operator/step-registry/acm/policies/openshift-plus/acm-policies-openshift-plus-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

INTEROP-9103: Fix naming conventions per Integrity best practices
  ci-operator/step-registry/acm/opp-app/acm-opp-app-commands.sh
  ci-operator/step-registry/interop/opp/backup/interop-opp-backup-commands.sh
  ci-operator/step-registry/interop/opp/smoke/interop-opp-smoke-commands.sh
  ci-operator/step-registry/interop/opp/upgrade/interop-opp-upgrade-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

chore: make jobs
  ci-operator/jobs/openshift/assisted-test-infra/openshift-assisted-test-infra-master-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

INTEROP-9103: Guard retry loop against silent success on exhaustion
  ci-operator/step-registry/acm/policies/openshift-plus/acm-policies-openshift-plus-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add CI configs for upstream k8snetworkplumbingwg PTP repos
  ci-operator/config/k8snetworkplumbingwg/linuxptp-daemon/k8snetworkplumbingwg-linuxptp-daemon-main.yaml
  ci-operator/config/k8snetworkplumbingwg/ptp-operator/k8snetworkplumbingwg-ptp-operator-main.yaml
  ci-operator/jobs/k8snetworkplumbingwg/linuxptp-daemon/k8snetworkplumbingwg-linuxptp-daemon-main-postsubmits.yaml
  ci-operator/jobs/k8snetworkplumbingwg/linuxptp-daemon/k8snetworkplumbingwg-linuxptp-daemon-main-presubmits.yaml
  ci-operator/jobs/k8snetworkplumbingwg/ptp-operator/k8snetworkplumbingwg-ptp-operator-main-postsubmits.yaml
  ci-operator/jobs/k8snetworkplumbingwg/ptp-operator/k8snetworkplumbingwg-ptp-operator-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Refactor telco5g PTP tests to use CI-built images
  ci-operator/config/k8snetworkplumbingwg/linuxptp-daemon/OWNERS
  ci-operator/config/k8snetworkplumbingwg/ptp-operator/OWNERS
  ci-operator/jobs/k8snetworkplumbingwg/linuxptp-daemon/OWNERS
  ci-operator/jobs/k8snetworkplumbingwg/ptp-operator/OWNERS
  ci-operator/step-registry/telco5g/ptp/tests/telco5g-ptp-tests-commands.sh
  ci-operator/step-registry/telco5g/ptp/tests/telco5g-ptp-tests-ref.yaml
  core-services/prow/02_config/k8snetworkplumbingwg/linuxptp-daemon/_pluginconfig.yaml
  core-services/prow/02_config/k8snetworkplumbingwg/ptp-operator/_pluginconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Added secret bootstra/generator for hypershift-konflux
  core-services/ci-secret-bootstrap/_config.yaml
  core-services/ci-secret-bootstrap/gsm-config.yaml
  core-services/ci-secret-generator/_config.yaml
Due: ci/prow/ci-secret-bootstrap-config-validation, ci/prow/secret-generator-config-valid

MCO: in main branch skip pipeline second stage for extended-test-only changes
  ci-operator/config/openshift/machine-config-operator/openshift-machine-config-operator-main.yaml
  ci-operator/jobs/openshift/machine-config-operator/openshift-machine-config-operator-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

chore: make jobs (#82165)
  ci-operator/jobs/openshift/assisted-test-infra/openshift-assisted-test-infra-master-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Rework OMR v2 to bastion-local, add ZONES_COUNT + ADD_INGRESS_RECORDS_MANUALLY, revert Boskos
  ci-operator/config/quay/mirror-registry/quay-mirror-registry-main__ocp422.yaml
  ci-operator/step-registry/aws/provision/bastionhost/aws-provision-bastionhost-commands.sh
  ci-operator/step-registry/aws/provision/bastionhost/aws-provision-bastionhost-ref.yaml
  ci-operator/step-registry/quay-tests/aws-ipi-disconnected-private-deprovision/quay-tests-aws-ipi-disconnected-private-deprovision-chain.yaml
  ci-operator/step-registry/quay-tests/aws-ipi-disconnected-private-provision/quay-tests-aws-ipi-disconnected-private-provision-chain.yaml
  ci-operator/step-registry/quay-tests/gather-omr/OWNERS
  ci-operator/step-registry/quay-tests/gather-omr/quay-tests-gather-omr-commands.sh
  ci-operator/step-registry/quay-tests/gather-omr/quay-tests-gather-omr-ref.metadata.json
  ci-operator/step-registry/quay-tests/gather-omr/quay-tests-gather-omr-ref.yaml
  ci-operator/step-registry/quay-tests/mirror-images-oc-mirror/quay-tests-mirror-images-oc-mirror-commands.sh
  ci-operator/step-registry/quay-tests/mirror-images-oc-mirror/quay-tests-mirror-images-oc-mirror-ref.yaml
  ci-operator/step-registry/quay-tests/provisioning-omr-disconnected/quay-tests-provisioning-omr-disconnected-commands.sh
  ci-operator/step-registry/quay-tests/recycle-omr/quay-tests-recycle-omr-commands.sh
  ci-operator/step-registry/quay-tests/recycle-omr/quay-tests-recycle-omr-ref.yaml
  core-services/prow/02_config/_boskos.yaml
  core-services/prow/02_config/generate-boskos.py
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Remove us-west-1 from Quay QE Boskos quota slices
  core-services/prow/02_config/_boskos.yaml
  core-services/prow/02_config/generate-boskos.py
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Migrate OMR OCP 4.22 periodic to quay/mirror-registry build-from-source
  ci-operator/config/quay/mirror-registry/OWNERS
  ci-operator/config/quay/mirror-registry/quay-mirror-registry-main__ocp422.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__omr-ocp422-unreleased.yaml
  ci-operator/jobs/quay/mirror-registry/OWNERS
  ci-operator/jobs/quay/mirror-registry/quay-mirror-registry-main-periodics.yaml
  ci-operator/jobs/quay/mirror-registry/quay-mirror-registry-main-presubmits.yaml
  ci-operator/jobs/quay/quay-tests/quay-quay-tests-master-periodics.yaml
  ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml
  ci-operator/step-registry/quay-tests/mirror-images-oc-adm/quay-tests-mirror-images-oc-adm-chain.yaml
  ci-operator/step-registry/quay-tests/mirror-images-oc-mirror/OWNERS
  ci-operator/step-registry/quay-tests/mirror-images-oc-mirror/quay-tests-mirror-images-oc-mirror-commands.sh
  ci-operator/step-registry/quay-tests/mirror-images-oc-mirror/quay-tests-mirror-images-oc-mirror-ref.metadata.json
  ci-operator/step-registry/quay-tests/mirror-images-oc-mirror/quay-tests-mirror-images-oc-mirror-ref.yaml
  ci-operator/step-registry/quay-tests/provisioning-omr-disconnected/quay-tests-provisioning-omr-disconnected-commands.sh
  ci-operator/step-registry/quay-tests/provisioning-omr-disconnected/quay-tests-provisioning-omr-disconnected-ref.yaml
  ci-operator/step-registry/quay-tests/recycle-omr/quay-tests-recycle-omr-commands.sh
  core-services/prow/02_config/quay/mirror-registry/_pluginconfig.yaml
Due: ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix OMR bastion provisioning: use bastion_private_address and add bootc usroverlay
  ci-operator/step-registry/quay-tests/provisioning-omr-disconnected/quay-tests-provisioning-omr-disconnected-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix read-only credential mount in oc-mirror step
  ci-operator/step-registry/quay-tests/mirror-images-oc-mirror/quay-tests-mirror-images-oc-mirror-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Revert bastion-local OMR, keep ADD_INGRESS_RECORDS_MANUALLY + ZONES_COUNT
  ci-operator/config/quay/mirror-registry/quay-mirror-registry-main__ocp422.yaml
  ci-operator/step-registry/aws/provision/bastionhost/aws-provision-bastionhost-commands.sh
  ci-operator/step-registry/aws/provision/bastionhost/aws-provision-bastionhost-ref.yaml
  ci-operator/step-registry/quay-tests/aws-ipi-disconnected-private-provision/quay-tests-aws-ipi-disconnected-private-provision-chain.yaml
  ci-operator/step-registry/quay-tests/mirror-images-oc-mirror/quay-tests-mirror-images-oc-mirror-commands.sh
  ci-operator/step-registry/quay-tests/mirror-images-oc-mirror/quay-tests-mirror-images-oc-mirror-ref.yaml
  ci-operator/step-registry/quay-tests/provisioning-omr-disconnected/quay-tests-provisioning-omr-disconnected-commands.sh
  ci-operator/step-registry/quay-tests/provisioning-omr-disconnected/quay-tests-provisioning-omr-disconnected-ref.yaml
  ci-operator/step-registry/quay-tests/recycle-omr/quay-tests-recycle-omr-commands.sh
  ci-operator/step-registry/quay-tests/recycle-omr/quay-tests-recycle-omr-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix registry auth for oc-mirror step: mount CI credentials and set REGISTRY_AUTH_FILE
  ci-operator/step-registry/quay-tests/mirror-images-oc-mirror/quay-tests-mirror-images-oc-mirror-commands.sh
  ci-operator/step-registry/quay-tests/mirror-images-oc-mirror/quay-tests-mirror-images-oc-mirror-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix oc auth: pass --registry-config explicitly to all registry-accessing oc commands
  ci-operator/step-registry/quay-tests/mirror-images-oc-mirror/quay-tests-mirror-images-oc-mirror-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix combined pull secret to include CI registry credentials
  ci-operator/step-registry/quay-tests/mirror-images-oc-mirror/quay-tests-mirror-images-oc-mirror-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix OWNERS: replace quay-qe with symlinks to parent OWNERS
  ci-operator/step-registry/quay-tests/gather-omr/OWNERS
  ci-operator/step-registry/quay-tests/gather-omr/quay-tests-gather-omr-ref.metadata.json
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix oc auth: copy merged credentials to HOME/.docker/config.json
  ci-operator/step-registry/quay-tests/mirror-images-oc-mirror/quay-tests-mirror-images-oc-mirror-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Adopt v3 TLS/auth patterns for oc-mirror step to fix unauthorized errors
  ci-operator/step-registry/quay-tests/mirror-images-oc-mirror/quay-tests-mirror-images-oc-mirror-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Install OMR CA cert into system trust store for oc-mirror TLS
  ci-operator/step-registry/quay-tests/mirror-images-oc-mirror/quay-tests-mirror-images-oc-mirror-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix TLS trust: remove sudo (not available in CI pod)
  ci-operator/step-registry/quay-tests/mirror-images-oc-mirror/quay-tests-mirror-images-oc-mirror-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix TLS trust: use SSL_CERT_FILE instead of system trust store (non-root compatible)
  ci-operator/step-registry/quay-tests/mirror-images-oc-mirror/quay-tests-mirror-images-oc-mirror-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix PTP test image deps so downstream jobs do not require ptp-upstream
  ci-operator/config/openshift/release/openshift-release-main__nightly-5.0.yaml
  ci-operator/step-registry/telco5g/ptp/tests/telco5g-ptp-tests-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add authenticated MCP image build for ship-status-dash
  ci-operator/config/openshift-eng/ship-status-dash/openshift-eng-ship-status-dash-main.yaml
  ci-operator/jobs/openshift-eng/ship-status-dash/openshift-eng-ship-status-dash-main-postsubmits.yaml
  ci-operator/jobs/openshift-eng/ship-status-dash/openshift-eng-ship-status-dash-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

fix(origin): remove undeclared TEST_FUNC parameter from baremetalds-sno test configs
  ci-operator/config/openshift-priv/origin/openshift-priv-origin-main.yaml
  ci-operator/config/openshift-priv/origin/openshift-priv-origin-release-4.18.yaml
  ci-operator/config/openshift-priv/origin/openshift-priv-origin-release-4.19.yaml
  ci-operator/config/openshift-priv/origin/openshift-priv-origin-release-4.20.yaml
  ci-operator/config/openshift-priv/origin/openshift-priv-origin-release-4.21.yaml
  ci-operator/config/openshift-priv/origin/openshift-priv-origin-release-4.22.yaml
  ci-operator/config/openshift-priv/origin/openshift-priv-origin-release-4.23.yaml
  ci-operator/config/openshift-priv/origin/openshift-priv-origin-release-5.0.yaml
  ci-operator/config/openshift-priv/origin/openshift-priv-origin-release-5.1.yaml
  ci-operator/jobs/openshift/assisted-test-infra/openshift-assisted-test-infra-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

feat(hypershift): add optional e2e-aws-backport job for release branches
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.19.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.20.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.21.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.22.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.22-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Initial fixes for conformance tests
  ci-operator/config/rh-ecosystem-edge/openshift-dpf/rh-ecosystem-edge-openshift-dpf-main.yaml
  ci-operator/step-registry/dpf/setup-image-registry/OWNERS
  ci-operator/step-registry/dpf/setup-image-registry/dpf-setup-image-registry-commands.sh
  ci-operator/step-registry/dpf/setup-image-registry/dpf-setup-image-registry-ref.metadata.json
  ci-operator/step-registry/dpf/setup-image-registry/dpf-setup-image-registry-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix CoreDNS RBAC permissions to read DNSRecord CRDs
  ci-operator/step-registry/kuadrant/s390x/install-coredns/kuadrant-s390x-install-coredns-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

INTEROP-9272: Deprecate OCP 4.21 OPP interop periodic job configs (#81836)
  ci-operator/config/stolostron/policy-collection/stolostron-policy-collection-main__ocp4.21.yaml
  ci-operator/jobs/stolostron/policy-collection/stolostron-policy-collection-main-periodics.yaml
  ci-operator/jobs/stolostron/policy-collection/stolostron-policy-collection-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

ROSAENG-58795 | task: add nested podman image for on-demand to rosa-clusters-service (#82109)
  ci-operator/config/openshift-online/rosa-clusters-service/openshift-online-rosa-clusters-service-konflux-master.yaml
  ci-operator/jobs/openshift-online/rosa-clusters-service/openshift-online-rosa-clusters-service-konflux-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

NROP: adding scheduled masters (#82142)
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-compute-nrop-scheduled-prod.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-compute-nrop-scheduled-stage.yaml
  ci-operator/jobs/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main-periodics.yaml
  ci-operator/step-registry/telcov10n/functional/cnf-compute/nrop/process-inventory/telcov10n-functional-cnf-compute-nrop-process-inventory-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

WINC-1858: Add missing upi-installer base image to WMCO FBC config (#82150)
  ci-operator/config/openshift/windows-machine-config-operator-fbc/openshift-windows-machine-config-operator-fbc-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames
