Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

OSSM: Update istio builder image job to include istio configs + sync images (#85278)
  ci-operator/config/maistra/test-infra/maistra-test-infra-main.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-main__ocp-4.22.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-main__ocp-4.23.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.3__ocp-4.23.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

add updates for 4.23
  ci-operator/config/openshift-pipelines/release-tests-ginkgo/openshift-pipelines-release-tests-ginkgo-main__openshift-pipelines-ocp4.22-e2e-osp.yaml
  ci-operator/config/openshift-pipelines/release-tests/openshift-pipelines-release-tests-release-v1.23__openshift-pipelines-ocp-4.23-lp-interop.yaml
  ci-operator/config/openshift-pipelines/release-tests/openshift-pipelines-release-tests-release-v1.23__openshift-pipelines-ocp4.22-e2e-osp.yaml
  ci-operator/config/openshift-pipelines/release-tests/openshift-pipelines-release-tests-release-v1.23__openshift-pipelines-ocp4.23-e2e-osp.yaml
  ci-operator/config/openshift-pipelines/release-tests/openshift-pipelines-release-tests-release-v1.23__openshift-pipelines-ocp4.23-lp-rosa-hypershift.yaml
  ci-operator/jobs/openshift-pipelines/release-tests/openshift-pipelines-release-tests-release-v1.23-periodics.yaml
  ci-operator/jobs/openshift-pipelines/release-tests/openshift-pipelines-release-tests-release-v1.23-presubmits.yaml
  ci-operator/step-registry/openshift-pipelines/catalog-source/openshift-pipelines-catalog-source-commands.sh
  ci-operator/step-registry/openshift-pipelines/ginkgo-tests/openshift-pipelines-ginkgo-tests-ref.yaml
  core-services/image-mirroring/_config.yaml
Due: ci/prow/check-gh-automation, ci/prow/image-mirroring-config-validation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

override params temp
  ci-operator/config/redhat-developer/rhdh/redhat-developer-rhdh-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Revert "TEMPORARY: add debug sleep to z-stream vcs-ref extraction"
  ci-operator/step-registry/lvms/catalogsource/lvms-catalogsource-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

CMP-4147, CMP-4503: Add TLS scanner CI job for compliance-operator on OCP 5.0 (#84972)
  ci-operator/config/ComplianceAsCode/compliance-operator/ComplianceAsCode-compliance-operator-master.yaml
  ci-operator/jobs/ComplianceAsCode/compliance-operator/ComplianceAsCode-compliance-operator-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add auto-stale/close periodics for rosa-clusters-service PRs (#85095)
  ci-operator/jobs/infra-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Add OLMv1 opt-in to install-osc-operator step
  ci-operator/config/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel.yaml
  ci-operator/jobs/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel-presubmits.yaml
  ci-operator/step-registry/sandboxed-containers-operator/install-osc-operator/sandboxed-containers-operator-install-osc-operator-commands.sh
  ci-operator/step-registry/sandboxed-containers-operator/install-osc-operator/sandboxed-containers-operator-install-osc-operator-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

telcov10n: migrate Telco-KPIs step secrets from Vault to GSM
  ci-operator/step-registry/telcov10n/metal-single-node-spoke-kpis/hacks/deploy/telcov10n-metal-single-node-spoke-kpis-hacks-deploy-commands.sh
  ci-operator/step-registry/telcov10n/metal-single-node-spoke-kpis/hacks/deploy/telcov10n-metal-single-node-spoke-kpis-hacks-deploy-ref.yaml
  ci-operator/step-registry/telcov10n/metal-single-node-spoke-kpis/tests/cpu-util/telcov10n-metal-single-node-spoke-kpis-tests-cpu-util-commands.sh
  ci-operator/step-registry/telcov10n/metal-single-node-spoke-kpis/tests/cpu-util/telcov10n-metal-single-node-spoke-kpis-tests-cpu-util-ref.yaml
  ci-operator/step-registry/telcov10n/metal-single-node-spoke-kpis/tests/oslat/telcov10n-metal-single-node-spoke-kpis-tests-oslat-commands.sh
  ci-operator/step-registry/telcov10n/metal-single-node-spoke-kpis/tests/oslat/telcov10n-metal-single-node-spoke-kpis-tests-oslat-ref.yaml
  ci-operator/step-registry/telcov10n/metal-single-node-spoke-kpis/tests/ptp-reporting/telcov10n-metal-single-node-spoke-kpis-tests-ptp-reporting-commands.sh
  ci-operator/step-registry/telcov10n/metal-single-node-spoke-kpis/tests/ptp-reporting/telcov10n-metal-single-node-spoke-kpis-tests-ptp-reporting-ref.yaml
  ci-operator/step-registry/telcov10n/metal-single-node-spoke-kpis/tests/telco-operators/telcov10n-metal-single-node-spoke-kpis-tests-telco-operators-commands.sh
  ci-operator/step-registry/telcov10n/metal-single-node-spoke-kpis/tests/telco-operators/telcov10n-metal-single-node-spoke-kpis-tests-telco-operators-ref.yaml
  ci-operator/step-registry/telcov10n/system/telco-kpis/collect-node-info/telcov10n-system-telco-kpis-collect-node-info-ref.yaml
  ci-operator/step-registry/telcov10n/system/telco-kpis/common-functions-generator/telcov10n-system-telco-kpis-common-functions-generator-commands.sh
  ci-operator/step-registry/telcov10n/system/telco-kpis/deploy-vm-bastion/telcov10n-system-telco-kpis-deploy-vm-bastion-ref.yaml
  ci-operator/step-registry/telcov10n/system/telco-kpis/hub-deployment/deploy-sno-hub/telcov10n-system-telco-kpis-hub-deployment-deploy-sno-hub-ref.yaml
  ci-operator/step-registry/telcov10n/system/telco-kpis/hub-deployment/hub-config/telcov10n-system-telco-kpis-hub-deployment-hub-config-ref.yaml
  ci-operator/step-registry/telcov10n/system/telco-kpis/hub-deployment/install-hub-operators/telcov10n-system-telco-kpis-hub-deployment-install-hub-operators-ref.yaml
  ci-operator/step-registry/telcov10n/system/telco-kpis/hub-deployment/setup-spoke-hub-connectivity/telcov10n-system-telco-kpis-hub-deployment-setup-spoke-hub-connectivity-ref.yaml
  ci-operator/step-registry/telcov10n/system/telco-kpis/mirror-ran-test-images/telcov10n-system-telco-kpis-mirror-ran-test-images-ref.yaml
  ci-operator/step-registry/telcov10n/system/telco-kpis/reporting/generate-report/telcov10n-system-telco-kpis-reporting-generate-report-ref.yaml
  ci-operator/step-registry/telcov10n/system/telco-kpis/spoke-deployment/deploy-spoke-ztp/telcov10n-system-telco-kpis-spoke-deployment-deploy-spoke-ztp-ref.yaml
  ci-operator/step-registry/telcov10n/system/telco-kpis/spoke-deployment/mirror-ocp/telcov10n-system-telco-kpis-spoke-deployment-mirror-ocp-ref.yaml
  ci-operator/step-registry/telcov10n/system/telco-kpis/spoke-deployment/mirror-spoke-operators/telcov10n-system-telco-kpis-spoke-deployment-mirror-spoke-operators-ref.yaml
  ci-operator/step-registry/telcov10n/system/telco-kpis/tests/run-bios-validation-test/telcov10n-system-telco-kpis-tests-run-bios-validation-test-ref.yaml
  ci-operator/step-registry/telcov10n/system/telco-kpis/tests/run-cpu-util-test/telcov10n-system-telco-kpis-tests-run-cpu-util-test-ref.yaml
  ci-operator/step-registry/telcov10n/system/telco-kpis/tests/run-cyclictest-test/telcov10n-system-telco-kpis-tests-run-cyclictest-test-ref.yaml
  ci-operator/step-registry/telcov10n/system/telco-kpis/tests/run-oslat-test/telcov10n-system-telco-kpis-tests-run-oslat-test-ref.yaml
  ci-operator/step-registry/telcov10n/system/telco-kpis/tests/run-ptp-test/telcov10n-system-telco-kpis-tests-run-ptp-test-ref.yaml
  ci-operator/step-registry/telcov10n/system/telco-kpis/tests/run-rds-compare-test/telcov10n-system-telco-kpis-tests-run-rds-compare-test-ref.yaml
  ci-operator/step-registry/telcov10n/system/telco-kpis/tests/run-reboot-test/telcov10n-system-telco-kpis-tests-run-reboot-test-ref.yaml
  ci-operator/step-registry/telcov10n/system/telco-kpis/tests/run-rfc2544-test/telcov10n-system-telco-kpis-tests-run-rfc2544-test-ref.yaml
  ci-operator/step-registry/telcov10n/system/telco-kpis/tests/run-ztp-ai-deployment-time-test/telcov10n-system-telco-kpis-tests-run-ztp-ai-deployment-time-test-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Skip PodObservedGenerationTracking increment per update test for PowerVS 4.21 (#84728)
  ci-operator/step-registry/openshift/e2e/libvirt/conf/openshift-e2e-libvirt-conf-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Restore IOP_IMAGE_REF dependency on test-e2e step
  ci-operator/config/RedHatInsights/lightspeed-advisor-on-premise-ocp/RedHatInsights-lightspeed-advisor-on-premise-ocp-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

telcov10n: add GSM inventory test job for eco-ci-cd
  ci-operator/step-registry/telcov10n/functional/cnf-ran/ptp-gm-ztp/telcov10n-functional-cnf-ran-ptp-gm-ztp-workflow.yaml
  ci-operator/step-registry/telcov10n/functional/eco-ci-cd/tests/gsm-inventory/telcov10n-functional-eco-ci-cd-tests-gsm-inventory-commands.sh
  ci-operator/step-registry/telcov10n/functional/eco-ci-cd/tests/gsm-inventory/telcov10n-functional-eco-ci-cd-tests-gsm-inventory-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

bind cluster-secrets-devsandboxci-aws collection to devsandbox-aws rover group
  core-services/sync-rover-groups/_config.yaml
Due: branch-ci-openshift-release-master-gsm-secrets-reconciler, ci/prow/sync-rover-groups

remove trailing spaces
  core-services/sync-rover-groups/_config.yaml
Due: branch-ci-openshift-release-master-gsm-secrets-reconciler, ci/prow/sync-rover-groups

Add generic oape-ci-monitor step and must-gather pilot
  ci-operator/config/openshift-eng/oape-ai-e2e/openshift-eng-oape-ai-e2e-main.yaml
  ci-operator/config/openshift/must-gather-operator/openshift-must-gather-operator-master.yaml
  ci-operator/jobs/openshift/must-gather-operator/openshift-must-gather-operator-master-presubmits.yaml
  ci-operator/step-registry/oape/ci-monitor/OWNERS
  ci-operator/step-registry/oape/ci-monitor/oape-ci-monitor-commands.sh
  ci-operator/step-registry/oape/ci-monitor/oape-ci-monitor-ref.metadata.json
  ci-operator/step-registry/oape/ci-monitor/oape-ci-monitor-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Open firewall
  ci-operator/step-registry/dpf/hypervisor/network-tests/dpf-hypervisor-network-tests-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add oape-ci-monitor for cert-manager, ESO, and ZTWIM operators
  ci-operator/config/openshift/cert-manager-operator/openshift-cert-manager-operator-master.yaml
  ci-operator/config/openshift/external-secrets-operator/openshift-external-secrets-operator-main.yaml
  ci-operator/config/openshift/zero-trust-workload-identity-manager/openshift-zero-trust-workload-identity-manager-main.yaml
  ci-operator/jobs/openshift/cert-manager-operator/openshift-cert-manager-operator-master-presubmits.yaml
  ci-operator/jobs/openshift/external-secrets-operator/openshift-external-secrets-operator-main-presubmits.yaml
  ci-operator/jobs/openshift/zero-trust-workload-identity-manager/openshift-zero-trust-workload-identity-manager-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add oape-ci-monitor for secrets-store-csi-driver-operator
  ci-operator/config/openshift/secrets-store-csi-driver-operator/openshift-secrets-store-csi-driver-operator-main.yaml
  ci-operator/jobs/openshift/secrets-store-csi-driver-operator/openshift-secrets-store-csi-driver-operator-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Better firewall logic
  ci-operator/step-registry/dpf/hypervisor/network-tests/dpf-hypervisor-network-tests-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

openshift/metallb: add dualstack periodic ci (#84346)
  ci-operator/config/openshift/metallb/openshift-metallb-release-5.0__dualstack-periodics.yaml
  ci-operator/jobs/openshift/metallb/openshift-metallb-release-5.0-periodics.yaml
  ci-operator/step-registry/baremetalds/metallb-e2e/test/baremetalds-metallb-e2e-test-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ci(hypershift): support ODF catalog version overrides
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-5.0.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-5.0__periodics-mce.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-5.0__periodics.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-5.1.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-5.1__periodics.yaml
  ci-operator/step-registry/hypershift/kubevirt/install/odf/hypershift-kubevirt-install-odf-commands.sh
  ci-operator/step-registry/hypershift/kubevirt/install/odf/hypershift-kubevirt-install-odf-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix shellcheck SC2155 in oape-ci-monitor auth block
  ci-operator/step-registry/oape/ci-monitor/oape-ci-monitor-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add azure-stack-ipi-install-f28 install/destroy job for OCP 5.0
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.0__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.0-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Remove os-observability from openshift-priv whitelist
  core-services/openshift-priv/_whitelist.yaml
Due: none

Enable AWS Spot Instances for PTP Operator operator-e2e CI tests
  ci-operator/config/openshift/ptp-operator/openshift-ptp-operator-main.yaml
  ci-operator/config/openshift/ptp-operator/openshift-ptp-operator-release-4.12.yaml
  ci-operator/config/openshift/ptp-operator/openshift-ptp-operator-release-4.13.yaml
  ci-operator/config/openshift/ptp-operator/openshift-ptp-operator-release-4.14.yaml
  ci-operator/config/openshift/ptp-operator/openshift-ptp-operator-release-4.15.yaml
  ci-operator/config/openshift/ptp-operator/openshift-ptp-operator-release-4.16.yaml
  ci-operator/config/openshift/ptp-operator/openshift-ptp-operator-release-4.17.yaml
  ci-operator/config/openshift/ptp-operator/openshift-ptp-operator-release-4.18.yaml
  ci-operator/config/openshift/ptp-operator/openshift-ptp-operator-release-4.19.yaml
  ci-operator/config/openshift/ptp-operator/openshift-ptp-operator-release-4.20.yaml
  ci-operator/config/openshift/ptp-operator/openshift-ptp-operator-release-4.21.yaml
  ci-operator/config/openshift/ptp-operator/openshift-ptp-operator-release-4.22.yaml
  ci-operator/config/openshift/ptp-operator/openshift-ptp-operator-release-4.23.yaml
  ci-operator/config/openshift/ptp-operator/openshift-ptp-operator-release-5.0.yaml
  ci-operator/config/openshift/ptp-operator/openshift-ptp-operator-release-5.1.yaml
  ci-operator/config/openshift/ptp-operator/openshift-ptp-operator-release-5.2.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

[release] Reduce vSphere payload and periodic CI load (#85045)
  ci-operator/config/openshift/release/openshift-release-main__nightly-4.20.yaml
  ci-operator/config/openshift/release/openshift-release-main__nightly-4.21.yaml
  ci-operator/config/openshift/release/openshift-release-main__nightly-4.22.yaml
  ci-operator/config/openshift/release/openshift-release-main__nightly-4.23.yaml
  ci-operator/config/openshift/release/openshift-release-main__nightly-5.0.yaml
  ci-operator/config/openshift/release/openshift-release-main__nightly-5.1.yaml
  ci-operator/jobs/openshift/release/openshift-release-main-periodics.yaml
  core-services/release-controller/_releases/priv/release-ocp-4.20.json
  core-services/release-controller/_releases/priv/release-ocp-4.21.json
  core-services/release-controller/_releases/priv/release-ocp-4.22.json
  core-services/release-controller/_releases/priv/release-ocp-5.0.json
  core-services/release-controller/_releases/priv/release-ocp-5.1.json
  core-services/release-controller/_releases/release-ocp-4.20.json
  core-services/release-controller/_releases/release-ocp-4.21.json
  core-services/release-controller/_releases/release-ocp-4.22.json
  core-services/release-controller/_releases/release-ocp-5.0.json
  core-services/release-controller/_releases/release-ocp-5.1.json
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config

Auto-resolve latest open PR for oape-ci-monitor rehearsal.
  ci-operator/step-registry/oape/ci-monitor/oape-ci-monitor-commands.sh
  ci-operator/step-registry/oape/ci-monitor/oape-ci-monitor-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

distributed-tracing tracing-ui upstream: always run tests from main
  ci-operator/step-registry/distributed-tracing/tests/tracing-ui/upstream/distributed-tracing-tests-tracing-ui-upstream-commands.sh
  ci-operator/step-registry/distributed-tracing/tests/tracing-ui/upstream/distributed-tracing-tests-tracing-ui-upstream-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add ci for ExternalOIDCExternalClaimsSourcing (#84679)
  ci-operator/config/openshift/cluster-authentication-operator/openshift-cluster-authentication-operator-release-5.1.yaml
  ci-operator/config/openshift/cluster-authentication-operator/openshift-cluster-authentication-operator-release-5.1__periodics.yaml
  ci-operator/jobs/openshift/cluster-authentication-operator/openshift-cluster-authentication-operator-release-5.1-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

address CodeRabbit review: pin git clone to main branch explicitly
  ci-operator/step-registry/distributed-tracing/tests/tracing-ui/upstream/distributed-tracing-tests-tracing-ui-upstream-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

pin integration step's git clone to main branch explicitly too
  ci-operator/step-registry/distributed-tracing/tests/tracing-ui/integration/distributed-tracing-tests-tracing-ui-integration-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ci(quay): let the mailpit and jaeger steps own their Quay config
  ci-operator/step-registry/quay/deploy-aws-s3/quay-deploy-aws-s3-commands.sh
  ci-operator/step-registry/quay/deploy-aws-s3/quay-deploy-aws-s3-ref.yaml
  ci-operator/step-registry/quay/deploy-gcp-gcs/quay-deploy-gcp-gcs-commands.sh
  ci-operator/step-registry/quay/deploy-gcp-gcs/quay-deploy-gcp-gcs-ref.yaml
  ci-operator/step-registry/quay/deploy-jaeger/quay-deploy-jaeger-commands.sh
  ci-operator/step-registry/quay/deploy-jaeger/quay-deploy-jaeger-ref.yaml
  ci-operator/step-registry/quay/deploy-mailpit/quay-deploy-mailpit-commands.sh
  ci-operator/step-registry/quay/deploy-mailpit/quay-deploy-mailpit-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Bootstrap oape-ci-monitor with review-handler-agent image.
  ci-operator/step-registry/oape/ci-monitor/oape-ci-monitor-commands.sh
  ci-operator/step-registry/oape/ci-monitor/oape-ci-monitor-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

chore: split ginkgo changes to separate branch
  ci-operator/config/openshift-pipelines/release-tests-ginkgo/OWNERS
  ci-operator/config/openshift-pipelines/release-tests-ginkgo/openshift-pipelines-release-tests-ginkgo-main__openshift-pipelines-ocp4.22-e2e-osp.yaml
  ci-operator/config/openshift-pipelines/release-tests/openshift-pipelines-release-tests-release-v1.22__openshift-pipelines-ocp4.21-e2e-osp.yaml
  ci-operator/config/openshift-pipelines/release-tests/openshift-pipelines-release-tests-release-v1.23__openshift-pipelines-ocp-4.23-lp-interop.yaml
  ci-operator/config/openshift-pipelines/release-tests/openshift-pipelines-release-tests-release-v1.23__openshift-pipelines-ocp4.23-e2e-osp.yaml
  ci-operator/config/openshift-pipelines/release-tests/openshift-pipelines-release-tests-release-v1.23__openshift-pipelines-ocp4.23-lp-rosa-hypershift.yaml
  ci-operator/jobs/openshift-pipelines/release-tests-ginkgo/OWNERS
  ci-operator/jobs/openshift-pipelines/release-tests-ginkgo/openshift-pipelines-release-tests-ginkgo-main-presubmits.yaml
  ci-operator/jobs/openshift-pipelines/release-tests/openshift-pipelines-release-tests-release-v1.22-periodics.yaml
  ci-operator/jobs/openshift-pipelines/release-tests/openshift-pipelines-release-tests-release-v1.22-presubmits.yaml
  ci-operator/jobs/openshift-pipelines/release-tests/openshift-pipelines-release-tests-release-v1.23-periodics.yaml
  ci-operator/step-registry/openshift-pipelines/catalog-source/OWNERS
  ci-operator/step-registry/openshift-pipelines/catalog-source/openshift-pipelines-catalog-source-commands.sh
  ci-operator/step-registry/openshift-pipelines/catalog-source/openshift-pipelines-catalog-source-ref.metadata.json
  ci-operator/step-registry/openshift-pipelines/catalog-source/openshift-pipelines-catalog-source-ref.yaml
  ci-operator/step-registry/openshift-pipelines/ginkgo-tests/OWNERS
  ci-operator/step-registry/openshift-pipelines/ginkgo-tests/openshift-pipelines-ginkgo-tests-commands.sh
  ci-operator/step-registry/openshift-pipelines/ginkgo-tests/openshift-pipelines-ginkgo-tests-ref.metadata.json
  ci-operator/step-registry/openshift-pipelines/ginkgo-tests/openshift-pipelines-ginkgo-tests-ref.yaml
  core-services/image-mirroring/_config.yaml
  core-services/prow/02_config/openshift-pipelines/release-tests-ginkgo/_pluginconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Switch CLO 6.0 to Vector v0.47.0
  ci-operator/config/openshift/cluster-logging-operator/openshift-cluster-logging-operator-release-6.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add TLS scanner CI job for compliance-operator on OCP 4.22
  ci-operator/config/ComplianceAsCode/compliance-operator/ComplianceAsCode-compliance-operator-master.yaml
  ci-operator/jobs/ComplianceAsCode/compliance-operator/ComplianceAsCode-compliance-operator-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Fix oape-ci-monitor credential refs for step-registry.
  ci-operator/step-registry/oape/ci-monitor/oape-ci-monitor-commands.sh
  ci-operator/step-registry/oape/ci-monitor/oape-ci-monitor-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

update OWNERS for new team (#85220)
  clusters/app.ci/registry-access/medik8s/OWNERS
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

feat(clo): remove base image replacement for CLO 6.5
  ci-operator/config/openshift/cluster-logging-operator/openshift-cluster-logging-operator-release-6.5.yaml
  ci-operator/jobs/openshift/cluster-logging-operator/openshift-cluster-logging-operator-release-6.5-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

docs: confirm shared QE STS job direction (PROJQUAY-5850)
  ci-operator/step-registry/quay/sts/README.md
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck
