Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

Onboard openshift/evpn-gateway-appliance repo (#86165)
  ci-operator/config/openshift/evpn-gateway-appliance/OWNERS
  ci-operator/config/openshift/evpn-gateway-appliance/openshift-evpn-gateway-appliance-main.yaml
  ci-operator/jobs/openshift/evpn-gateway-appliance/OWNERS
  ci-operator/jobs/openshift/evpn-gateway-appliance/openshift-evpn-gateway-appliance-main-presubmits.yaml
  core-services/prow/02_config/openshift/evpn-gateway-appliance/OWNERS
  core-services/prow/02_config/openshift/evpn-gateway-appliance/_pluginconfig.yaml
  core-services/prow/02_config/openshift/evpn-gateway-appliance/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

interop-tests: switch ODF must-gather to official registry.redhat.io image (#86471)
  ci-operator/step-registry/interop-tests/deploy-odf/interop-tests-deploy-odf-commands.sh
  ci-operator/step-registry/interop-tests/ocs-tests/interop-tests-ocs-tests-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

feat(obs-logging): increase maxSize of pools
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-logging-ocp-4-12-0-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-logging-ocp-4-13-0-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-logging-ocp-4-14-0-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-logging-ocp-4-15-0-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-logging-ocp-4-16-0-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-logging-ocp-4-21-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-logging-ocp-4-22-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-logging-ocp-5-0-amd64-aws-us-east-2_clusterpool.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Create the ARO cluster's application before az aro create in e2e-aro-classic-operator (#86426)
  ci-operator/config/openshift/bgp-cloud-connector/openshift-bgp-cloud-connector-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci(hypershift): skip E2E tests on Makefile-only changes (#86515)
  ci-operator/config/openshift-priv/hypershift/openshift-priv-hypershift-main.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-main.yaml
  ci-operator/jobs/openshift-priv/hypershift/openshift-priv-hypershift-main-presubmits.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

RHOAIENG-95866: Alert on stalled Tide pools
  clusters/app.ci/openshift-user-workload-monitoring/mixins/prometheus_out/ci-alerts_prometheusrule.yaml
  clusters/core-ci/openshift-user-workload-monitoring/mixins/_prometheus/tide_alerts.libsonnet
  clusters/core-ci/openshift-user-workload-monitoring/mixins/prometheus_out/ci-alerts_prometheusrule.yaml
  docs/dptp-triage-sop/tide-pool-stalled.md
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Adding presubmits for 4.22 z-stream tests
  ci-operator/config/openshift/lvm-operator/openshift-lvm-operator-release-management__zstream-4.22.yaml
  ci-operator/jobs/openshift/lvm-operator/openshift-lvm-operator-release-management-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

test chaibot ci doctor pr
  ci-operator/step-registry/openshift/edge-tooling/lvms-ci/doctor/openshift-edge-tooling-lvms-ci-doctor-commands.sh
  ci-operator/step-registry/openshift/edge-tooling/microshift-ci/doctor/openshift-edge-tooling-microshift-ci-doctor-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

netobserv: perf test with customized loki labels: Layer+Dir
  ci-operator/step-registry/netobserv/perf-test/deploy/netobserv-perf-test-deploy-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ci: consolidate che-server tests from 19 to 6 clusters (#86514)
  ci-operator/config/eclipse-che/che-server/eclipse-che-che-server-main__v22.yaml
  ci-operator/jobs/eclipse-che/che-server/eclipse-che-che-server-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

feat(obs-logging): increase maxSize of pools (#86540)
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-logging-ocp-4-12-0-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-logging-ocp-4-13-0-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-logging-ocp-4-14-0-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-logging-ocp-4-15-0-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-logging-ocp-4-16-0-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-logging-ocp-4-21-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-logging-ocp-4-22-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-logging-ocp-5-0-amd64-aws-us-east-2_clusterpool.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

[WINC] Add missing periodic job variants for WMCO 11.0
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.0__amd64-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Prefer iad2 trusted-eng DNS before flaky rdu2 upstream.
  clusters/build-clusters/build10/openshift-dns/dns.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

NO-ISSUE: removing the unused brew pullsecret
  ci-operator/step-registry/assisted/common/setup/prepare/assisted-common-setup-prepare-commands.sh
  ci-operator/step-registry/assisted/common/setup/prepare/assisted-common-setup-prepare-ref.yaml
  core-services/ci-secret-bootstrap/gsm-config.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

revert(ci): restore East US 2 PROD E2E suite default (AROSLSRE-2373)
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main__e2e.yaml
  ci-operator/step-registry/aro-hcp/test/persistent/aro-hcp-test-persistent-commands.sh
  ci-operator/step-registry/aro-hcp/test/persistent/aro-hcp-test-persistent-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Prefer iad2 trusted-eng DNS before flaky rdu2 upstream. (#86548)
  clusters/build-clusters/build10/openshift-dns/dns.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

DEBUG Do not merge: 10.22 Z stream triggered jobs
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Fail grant-network-role when the grant never becomes visible
  ci-operator/config/openshift/bgp-cloud-connector/openshift-bgp-cloud-connector-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Run the e2e suite against an ARO cluster with managed identities
  ci-operator/config/openshift/bgp-cloud-connector/openshift-bgp-cloud-connector-main.yaml
  ci-operator/jobs/openshift/bgp-cloud-connector/openshift-bgp-cloud-connector-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Wait for a verifiable API certificate before using the ARO cluster
  ci-operator/config/openshift/bgp-cloud-connector/openshift-bgp-cloud-connector-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

infra: fix NETWORK_NAME for default installer path in co-located mode
  ci-operator/step-registry/upi/libvirt/infra/install/install/upi-libvirt-infra-install-install-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add multi-architecture support to mirror-ocp and mirror-spoke-operators Prow steps
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__telco-kpis-4.22.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__telco-kpis-5.0.yaml
  ci-operator/step-registry/telcov10n/system/telco-kpis/spoke-deployment/mirror-ocp/telcov10n-system-telco-kpis-spoke-deployment-mirror-ocp-commands.sh
  ci-operator/step-registry/telcov10n/system/telco-kpis/spoke-deployment/mirror-ocp/telcov10n-system-telco-kpis-spoke-deployment-mirror-ocp-ref.yaml
  ci-operator/step-registry/telcov10n/system/telco-kpis/spoke-deployment/mirror-spoke-operators/telcov10n-system-telco-kpis-spoke-deployment-mirror-spoke-operators-commands.sh
  ci-operator/step-registry/telcov10n/system/telco-kpis/spoke-deployment/mirror-spoke-operators/telcov10n-system-telco-kpis-spoke-deployment-mirror-spoke-operators-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ci(installer): limit auto vSphere presubmits (#86463)
  ci-operator/config/openshift/installer/openshift-installer-release-4.20.yaml
  ci-operator/config/openshift/installer/openshift-installer-release-4.21.yaml
  ci-operator/config/openshift/installer/openshift-installer-release-4.22.yaml
  ci-operator/config/openshift/installer/openshift-installer-release-4.23.yaml
  ci-operator/config/openshift/installer/openshift-installer-release-5.0.yaml
  ci-operator/config/openshift/installer/openshift-installer-release-5.1.yaml
  ci-operator/jobs/openshift/installer/openshift-installer-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/installer/openshift-installer-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift/installer/openshift-installer-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/installer/openshift-installer-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift/installer/openshift-installer-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift/installer/openshift-installer-release-5.1-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

vmo - catch preflight logging (#86524)
  ci-operator/step-registry/vcf-migration/execute/vcf-migration-execute-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Adding presubmits for 4.22 z-stream tests (#86544)
  ci-operator/config/openshift/lvm-operator/openshift-lvm-operator-release-management__zstream-4.22.yaml
  ci-operator/jobs/openshift/lvm-operator/openshift-lvm-operator-release-management-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

[BRANCH-CUT] oran-o2ims: Add release-5.0 config, generated Prow jobs, and 5.1 image mirroring (#86443)
  ci-operator/config/openshift-kni/oran-o2ims/openshift-kni-oran-o2ims-release-5.0.yaml
  ci-operator/jobs/openshift-kni/oran-o2ims/openshift-kni-oran-o2ims-release-5.0-periodics.yaml
  ci-operator/jobs/openshift-kni/oran-o2ims/openshift-kni-oran-o2ims-release-5.0-postsubmits.yaml
  ci-operator/jobs/openshift-kni/oran-o2ims/openshift-kni-oran-o2ims-release-5.0-presubmits.yaml
  core-services/image-mirroring/openshift-kni/mapping_openshift-kni_quay
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

SPLAT-2866: Run 4.21 e2e-vsphere-ovn-zones-techpreview-serial twice daily
  ci-operator/config/openshift/release/openshift-release-main__nightly-4.21.yaml
  ci-operator/jobs/openshift/release/openshift-release-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

add Chai Bot as trusted author in pre-commit check
  ci-operator/step-registry/ocp-art/validate/pre-commit-hooks/ocp-art-validate-pre-commit-hooks-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

remove old format
  ci-operator/step-registry/ocp-art/validate/pre-commit-hooks/ocp-art-validate-pre-commit-hooks-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Remove jianlinliu, yunjiang29, and jcpowermac from OWNERS
  ci-operator/step-registry/openshift/e2e/azure/capacity-reservation/OWNERS
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update approvers in capacity reservation workflow
  ci-operator/step-registry/openshift/e2e/azure/capacity-reservation/openshift-e2e-azure-capacity-reservation-workflow.metadata.json
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Remove users from OWNERS file
  ci-operator/step-registry/azure/validate/capacity-reservation/OWNERS
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

NO-JIRA: gather agent two-node artifacts on success
  ci-operator/config/openshift/release/openshift-release-main__nightly-4.22.yaml
  ci-operator/step-registry/agent/e2e/two-node/arbiter/ipv4/agent-e2e-two-node-arbiter-ipv4-workflow.yaml
  ci-operator/step-registry/agent/e2e/two-node/fencing/ipv4/agent-e2e-two-node-fencing-ipv4-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Remove duplicate approver from OWNERS file
  ci-operator/step-registry/azure/validate/OWNERS
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update approvers in capacity reservation metadata
  ci-operator/step-registry/azure/validate/capacity-reservation/azure-validate-capacity-reservation-ref.metadata.json
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

quay: run STS E2E for relevant changes (PROJQUAY-5850)
  ci-operator/config/quay/quay-operator/quay-quay-operator-master__ocp-latest.yaml
  ci-operator/jobs/quay/quay-operator/quay-quay-operator-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Remove users from OWNERS file
  ci-operator/step-registry/azure/provision/capacity-reservation/OWNERS
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update approvers in capacity reservation metadata
  ci-operator/step-registry/azure/provision/capacity-reservation/azure-provision-capacity-reservation-ref.metadata.json
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Remove multiple approvers from OWNERS file
  ci-operator/step-registry/azure/deprovision/capacity-reservation/OWNERS
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck
