Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

services-valid:
  commands: make check-services
  container:
    from: src

ci/openshift/promrules:
  decorate: true
  spec:
    containers:
    - command:
      - /go/entrypoint.sh
      image: registry.svc.ci.openshift.org/ci/promrules:latest
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
          cpu: 500m
        requests:
          cpu: 10m

ci/prow/pylint:
  decorate: true
  spec:
    containers:
    - args:
      - --rcfile=hack/.pylintrc
      - --ignore=lib
      - --persistent=n
      - hack
      command:
      - pylint
      image: registry.svc.ci.openshift.org/ci/python-validation
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
  ...

ci/prow/services-valid:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/stackrox-stackrox-stackrox-stackrox-check:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: stackrox-stackrox
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

branch-ci-openshift-release-master-gsm-secrets-reconciler:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/sync-rover-groups/_config.yaml
      - --log-level=info
      - --gcp-service-account-key-file=/tmp/gcp-credentials/key.json
      command:
      - gsm-secret-sync
      env:
  ...

branch-ci-openshift-release-master-label-sync:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/prow/02_config/_labels.yaml
      - --confirm=true
  ...

ci/prow/check-cluster-profiles-config:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    automountServiceAccountToken: true
    containers:
    - args:
      - --config-path=./ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml
      command:
      - check-cluster-profiles-config
  ...

ci/prow/check-gh-automation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --bot=openshift-merge-robot
      - --bot=openshift-ci-robot
      - --app=openshift-ci
      - --app-check-mode=standard
      - --candidate-path=.
  ...

ci/prow/check-gh-automation-tide:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --app=openshift-merge-bot
      - --app-check-mode=tide
      - --candidate-path=.
      - --config-path=./core-services/prow/02_config/_config.yaml
  ...

chore(RHIDP-13075): Add CPT jobs for big deployment teirs (#77582)
  ci-operator/config/redhat-performance/backstage-performance/redhat-performance-backstage-performance-main.yaml
  ci-operator/jobs/redhat-performance/backstage-performance/redhat-performance-backstage-performance-main-periodics.yaml
  ci-operator/step-registry/redhat-performance/backstage-performance/redhat-performance-backstage-performance-ref.yaml
  ci-operator/step-registry/redhat-performance/backstage-performance/scalability/redhat-performance-backstage-performance-scalability-ref.yaml
  ci-operator/step-registry/redhat-performance/backstage-performance/xl/redhat-performance-backstage-performance-xl-ref.yaml
  ci-operator/step-registry/redhat-performance/backstage-performance/xl/scalability/redhat-performance-backstage-performance-xl-scalability-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ROSAENG-300: Remove janitor Prow jobs, add CI image push to quay (#78099)
  ci-operator/config/openshift-online/rosa-regional-platform/openshift-online-rosa-regional-platform-main.yaml
  ci-operator/jobs/openshift-online/rosa-regional-platform/openshift-online-rosa-regional-platform-main-periodics.yaml
  ci-operator/jobs/openshift-online/rosa-regional-platform/openshift-online-rosa-regional-platform-main-postsubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Enable assign plugin for openshift-eng/cyborg (#78111)
  core-services/prow/02_config/openshift-eng/cyborg/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

[rosa-claude-plugins] Add prek pre-commit hook runner to CI (#78058)
  ci-operator/config/openshift-online/rosa-claude-plugins/openshift-online-rosa-claude-plugins-main.yaml
  ci-operator/jobs/openshift-online/rosa-claude-plugins/openshift-online-rosa-claude-plugins-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

stackrox: add ocp-vm-scanning-e2e-tests job (testing) (#77856)
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master__ocp-4-21.yaml
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-master-presubmits.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Automate publicize configuration sync Tue, 21 Apr 2026 16:16:37 UTC (#78126)
  clusters/app.ci/publicize/_config.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

openshift/crio: bump image to 4.23 (#78060)
  ci-operator/config/openshift/cri-o/openshift-cri-o-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ovn-kubernetes: use OCP-matching CNV version for BGP virt jobs on 4.22 (#77970)
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.22__periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

fleetshift - adding multi arch support for image mirroring (#78073)
  ci-operator/config/fleetshift/fleetshift-poc/.config.prowgen
  ci-operator/config/fleetshift/fleetshift-user-interface/.config.prowgen
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ROSAENG-300: Onboard aws-nuke-cf CI, decouple janitor image from rosa-regional-platform (#78106)
  ci-operator/config/openshift-online/aws-nuke-cf/OWNERS
  ci-operator/config/openshift-online/aws-nuke-cf/openshift-online-aws-nuke-cf-main.yaml
  ci-operator/config/openshift-online/rosa-regional-platform/openshift-online-rosa-regional-platform-main.yaml
  ci-operator/jobs/openshift-online/aws-nuke-cf/OWNERS
  ci-operator/jobs/openshift-online/aws-nuke-cf/openshift-online-aws-nuke-cf-main-postsubmits.yaml
  ci-operator/jobs/openshift-online/aws-nuke-cf/openshift-online-aws-nuke-cf-main-presubmits.yaml
  core-services/prow/02_config/openshift-online/aws-nuke-cf/_pluginconfig.yaml
  core-services/prow/02_config/openshift-online/aws-nuke-cf/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

removed release-2.18 from Installer components (#78051)
  ci-operator/config/stolostron/multiclusterhub-operator/stolostron-multiclusterhub-operator-main.yaml
  ci-operator/config/stolostron/multiclusterhub-operator/stolostron-multiclusterhub-operator-release-2.18.yaml
  ci-operator/jobs/stolostron/multiclusterhub-operator/stolostron-multiclusterhub-operator-release-2.18-postsubmits.yaml
  ci-operator/jobs/stolostron/multiclusterhub-operator/stolostron-multiclusterhub-operator-release-2.18-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

fix(RHIDP-13075): Enable orchestrator for CPT jobs (#78105)
  ci-operator/config/redhat-performance/backstage-performance/redhat-performance-backstage-performance-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add apollo-ci 0.5.7 image mirrors for stackrox for UBI9 (#77568)
  core-services/image-mirroring/_config.yaml
Due: ci/prow/image-mirroring-config-validation

Tag image as latest on postsubmit push (#78128)
  ci-operator/step-registry/rosa-regional-platform/image-push/rosa-regional-platform-image-push-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

(round 2) Fix GCP permissions for cri-o workflows by removing hardcoded cluster profiles (#77990)
  ci-operator/step-registry/cri-o/cgroupv2/e2e-crun/cri-o-cgroupv2-e2e-crun-workflow.yaml
  ci-operator/step-registry/cri-o/cgroupv2/e2e-features/cri-o-cgroupv2-e2e-features-workflow.yaml
  ci-operator/step-registry/cri-o/cgroupv2/e2e/cri-o-cgroupv2-e2e-workflow.yaml
  ci-operator/step-registry/cri-o/cgroupv2/integration/cri-o-cgroupv2-integration-workflow.yaml
  ci-operator/step-registry/cri-o/crun/e2e/cri-o-crun-e2e-workflow.yaml
  ci-operator/step-registry/cri-o/crun/integration/cri-o-crun-integration-workflow.yaml
  ci-operator/step-registry/cri-o/fedora/critest/cri-o-fedora-critest-workflow.yaml
  ci-operator/step-registry/cri-o/fedora/e2e/cri-o-fedora-e2e-workflow.yaml
  ci-operator/step-registry/cri-o/fedora/integration/cri-o-fedora-integration-workflow.yaml
  ci-operator/step-registry/cri-o/fedora/kata/cri-o-fedora-kata-workflow.yaml
  ci-operator/step-registry/cri-o/node/e2e/conformance/cri-o-node-e2e-conformance-workflow.yaml
  ci-operator/step-registry/cri-o/node/e2e/nodeconformance/cri-o-node-e2e-nodeconformance-workflow.yaml
  ci-operator/step-registry/cri-o/node/e2e/nodefeature/cri-o-node-e2e-nodefeature-workflow.yaml
  ci-operator/step-registry/cri-o/rhel/critest/cri-o-rhel-critest-workflow.yaml
  ci-operator/step-registry/cri-o/rhel/e2e/cri-o-rhel-e2e-workflow.yaml
  ci-operator/step-registry/cri-o/rhel/integration/cri-o-rhel-integration-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Enable prototype boxship external plugin for origin and sippy (#78120)
  core-services/prow/02_config/openshift/origin/_pluginconfig.yaml
  core-services/prow/02_config/openshift/sippy/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Hive: e2e-azure: increase timeout (#76486)
  ci-operator/config/openshift/hive/openshift-hive-master.yaml
  ci-operator/jobs/openshift/hive/openshift-hive-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

updating 4.22 clusterimageset to rc.0 and adjusting pools accordingly (#78136)
  clusters/hosted-mgmt/hive/pools/cvp/cvp-fips-ocp-4-22-amd64-aws-eu-central-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/cvp/cvp-ocp-4-22-amd64-aws-eu-central-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.22.0-rc.0-multi-for-4.22.0-0-to-4.23.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-ocp-4-22-0-amd64-aws-us-east-2_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/openshift-observability/obs-ocp-4-22-0-fips-amd64-aws-us-east-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/rh-openshift-ecosystem/rhoe-ocp-4-22-amd64-aws-us-west-1_clusterpool.yaml
  clusters/hosted-mgmt/hive/pools/rh-openshift-ecosystem/rhoe-ocp-4-22-amd64-aws-us-west-2_clusterpool.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Add network-tests and other script updates (#77562)
  ci-operator/config/rh-ecosystem-edge/openshift-dpf/.config.prowgen
  ci-operator/config/rh-ecosystem-edge/openshift-dpf/rh-ecosystem-edge-openshift-dpf-main.yaml
  ci-operator/jobs/rh-ecosystem-edge/openshift-dpf/rh-ecosystem-edge-openshift-dpf-main-presubmits.yaml
  ci-operator/step-registry/dpf/hypervisor/deploy-cluster/dpf-hypervisor-deploy-cluster-commands.sh
  ci-operator/step-registry/dpf/hypervisor/network-tests/OWNERS
  ci-operator/step-registry/dpf/hypervisor/network-tests/dpf-hypervisor-network-tests-commands.sh
  ci-operator/step-registry/dpf/hypervisor/network-tests/dpf-hypervisor-network-tests-ref.metadata.json
  ci-operator/step-registry/dpf/hypervisor/network-tests/dpf-hypervisor-network-tests-ref.yaml
  ci-operator/step-registry/dpf/hypervisor/sanity-existing/dpf-hypervisor-sanity-existing-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ci: konflux DisasterRecovery on selected changes (#78119)
  ci-operator/config/redhat-appstudio/infra-deployments/redhat-appstudio-infra-deployments-main.yaml
  ci-operator/jobs/redhat-appstudio/infra-deployments/redhat-appstudio-infra-deployments-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Revert "ci-operator/config/openshift/cluster-version-operator: Build cluster-update-lightspeed-skills (#77811)" (#78125)
  ci-operator/config/openshift/cluster-version-operator/openshift-cluster-version-operator-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

remove the osde2e jobs from releasecontroller and run them cron based (#78075)
  core-services/release-controller/_releases/priv/release-ocp-4.20.json
  core-services/release-controller/_releases/priv/release-ocp-4.21.json
  core-services/release-controller/_releases/priv/release-ocp-4.22.json
  core-services/release-controller/_releases/release-ocp-4.20.json
  core-services/release-controller/_releases/release-ocp-4.21.json
  core-services/release-controller/_releases/release-ocp-4.22.json
Due: ci/prow/ci-testgrid-allow-list, ci/prow/release-config

chore(RHIDP-12696): Enable uploading CPT results to OpenSearch (#77903)
  ci-operator/config/redhat-performance/backstage-performance/redhat-performance-backstage-performance-main.yaml
  ci-operator/step-registry/redhat-performance/backstage-performance/redhat-performance-backstage-performance-ref.yaml
  ci-operator/step-registry/redhat-performance/backstage-performance/xl/redhat-performance-backstage-performance-xl-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

chore/RHIDP-12691: Add jobs for RHDH UI performance tests (#78113)
  ci-operator/config/redhat-performance/backstage-performance/redhat-performance-backstage-performance-main.yaml
  ci-operator/jobs/redhat-performance/backstage-performance/redhat-performance-backstage-performance-main-presubmits.yaml
  ci-operator/step-registry/redhat-performance/backstage-performance/redhat-performance-backstage-performance-ref.yaml
  ci-operator/step-registry/redhat-performance/backstage-performance/scalability/redhat-performance-backstage-performance-scalability-ref.yaml
  ci-operator/step-registry/redhat-performance/backstage-performance/xl/redhat-performance-backstage-performance-xl-ref.yaml
  ci-operator/step-registry/redhat-performance/backstage-performance/xl/scalability/redhat-performance-backstage-performance-xl-scalability-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

fix(redhat-performance/backstage-performance): fix release branches base branch (#78117)
  ci-operator/config/redhat-performance/backstage-performance/redhat-performance-backstage-performance-rhdh-v1.7.x.yaml
  ci-operator/config/redhat-performance/backstage-performance/redhat-performance-backstage-performance-rhdh-v1.8.x.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

OCPBUGS-83718: add main branch config for openshift/etcd (#77725)
  ci-operator/config/openshift/etcd/OWNERS
  ci-operator/config/openshift/etcd/openshift-etcd-main.yaml
  ci-operator/jobs/openshift/etcd/openshift-etcd-main-postsubmits.yaml
  ci-operator/jobs/openshift/etcd/openshift-etcd-main-presubmits.yaml
  core-services/prow/02_config/openshift/etcd/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Pin hypershift kubevirt test management clusters to OCP 4.22 (#78138)
  ci-operator/config/openshift/hypershift/openshift-hypershift-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Skip PodObservedGenerationTracking test for PowerVS 4.21 only (#77907)
  ci-operator/step-registry/openshift/e2e/libvirt/conf/openshift-e2e-libvirt-conf-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

fix: review-agent dedup bot review bodies with inline comments (#78134)
  ci-operator/step-registry/hypershift/review-agent/process/hypershift-review-agent-process-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Sync OWNERS files by autoowners job at Wed, 22 Apr 2026 07:41:28 UTC (#78158)
  ci-operator/config/openshift/bpfman-operator/OWNERS
  ci-operator/config/stolostron/multicluster-global-hub/OWNERS
  ci-operator/jobs/openshift/bpfman-operator/OWNERS
  ci-operator/jobs/openshift/bpfman/OWNERS
  ci-operator/jobs/stolostron/multicluster-global-hub/OWNERS
  core-services/prow/02_config/openshift-online/aws-nuke-cf/OWNERS
  core-services/prow/02_config/openshift-online/rosa-enhancements/OWNERS
  core-services/prow/02_config/openshift/bpfman-catalog/OWNERS
  core-services/prow/02_config/openshift/bpfman-operator/OWNERS
  core-services/prow/02_config/openshift/bpfman/OWNERS
  core-services/prow/02_config/stolostron/multicluster-global-hub/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add openssl-devel package to build and unit tests the Rust code (#77522)
  ci-operator/config/openshift/insights-runtime-extractor/openshift-insights-runtime-extractor-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-tools: drop manifest-tool from ci-operator image (#78179)
  ci-operator/config/openshift/ci-tools/openshift-ci-tools-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-operator: azure-service-operator: add e2es (#78087)
  ci-operator/config/openshift/azure-service-operator/openshift-azure-service-operator-main.yaml
  ci-operator/config/openshift/azure-service-operator/openshift-azure-service-operator-release-4.21.yaml
  ci-operator/config/openshift/azure-service-operator/openshift-azure-service-operator-release-4.22.yaml
  ci-operator/jobs/openshift/azure-service-operator/openshift-azure-service-operator-main-presubmits.yaml
  ci-operator/jobs/openshift/azure-service-operator/openshift-azure-service-operator-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift/azure-service-operator/openshift-azure-service-operator-release-4.22-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add --job-iterations=100 to ROSA build-farm jobs for 4.21, 4.22, 4.23 (#78160)
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__rosa-4.21-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__rosa-4.22-nightly-x86.yaml
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__rosa-4.23-nightly-x86.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

konflux-ci: run cleanup scripts twice per day (#78162)
  ci-operator/config/konflux-ci/e2e-tests/konflux-ci-e2e-tests-main.yaml
  ci-operator/jobs/konflux-ci/e2e-tests/konflux-ci-e2e-tests-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Modified vSphere hybrid jobs to not exclude sig-storage. (#78026)
  ci-operator/config/openshift/release/openshift-release-main__nightly-4.22.yaml
  ci-operator/config/openshift/release/openshift-release-main__nightly-4.23.yaml
  ci-operator/config/openshift/release/openshift-release-main__nightly-5.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)
