Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

services-valid:
  commands: make check-services
  container:
    from: src

ci/openshift/promrules:
  decorate: true
  spec:
    containers:
    - command:
      - /go/entrypoint.sh
      image: registry.svc.ci.openshift.org/ci/promrules:latest
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
          cpu: 500m
        requests:
          cpu: 10m

ci/prow/pylint:
  decorate: true
  spec:
    containers:
    - args:
      - --rcfile=hack/.pylintrc
      - --ignore=lib
      - --persistent=n
      - hack
      command:
      - pylint
      image: registry.svc.ci.openshift.org/ci/python-validation
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
  ...

ci/prow/services-valid:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/stackrox-stackrox-stackrox-stackrox-check:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: stackrox-stackrox
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

branch-ci-openshift-release-master-gsm-secrets-reconciler:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/sync-rover-groups/_config.yaml
      - --log-level=info
      - --gcp-service-account-key-file=/tmp/gcp-credentials/key.json
      command:
      - gsm-secret-sync
      env:
  ...

branch-ci-openshift-release-master-label-sync:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/prow/02_config/_labels.yaml
      - --confirm=true
  ...

ci/prow/check-cluster-profiles-config:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    automountServiceAccountToken: true
    containers:
    - args:
      - --config-path=./ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml
      command:
      - check-cluster-profiles-config
  ...

ci/prow/check-gh-automation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --bot=openshift-merge-robot
      - --bot=openshift-ci-robot
      - --app=openshift-ci
      - --app-check-mode=standard
      - --candidate-path=.
  ...

ci/prow/check-gh-automation-tide:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --app=openshift-merge-bot
      - --app-check-mode=tide
      - --candidate-path=.
      - --config-path=./core-services/prow/02_config/_config.yaml
  ...

NO-ISSUE: fix(ci) adding the Quay art catalog step (#85938)
  ci-operator/config/quay/quay/_generator/README.md
  ci-operator/config/quay/quay/_generator/matrix.yaml.in
  ci-operator/config/quay/quay/_generator/model.py
  ci-operator/config/quay/quay/_generator/templates/presubmit/tests/e2e-install.yaml.j2
  ci-operator/config/quay/quay/_generator/templates/sources/nightly.yaml.j2
  ci-operator/config/quay/quay/_generator/templates/tests/e2e-install.yaml.j2
  ci-operator/config/quay/quay/_generator/tests/fixtures/quay-quay-master.yaml.in
  ci-operator/config/quay/quay/_generator/tests/fixtures/quay-quay-master__arm64.yaml.in
  ci-operator/config/quay/quay/_generator/tests/fixtures/quay-quay-redhat-3.18__aws-arm64-ocp422-e2e-install.yaml.in
  ci-operator/config/quay/quay/_generator/tests/fixtures/quay-quay-redhat-3.18__aws-ocp422-e2e-install.yaml.in
  ci-operator/config/quay/quay/_generator/tests/test_env.py
  ci-operator/config/quay/quay/quay-quay-master.yaml
  ci-operator/config/quay/quay/quay-quay-redhat-3.18__aws-arm64-ocp422-e2e-install.yaml
  ci-operator/config/quay/quay/quay-quay-redhat-3.18__aws-ocp422-e2e-install.yaml
  ci-operator/config/quay/quay/quay-quay-redhat-3.18__aws-ocp50-e2e-install.yaml
  ci-operator/config/quay/quay/quay-quay-redhat-3.18__gcp-ocp422-e2e-install.yaml
  ci-operator/config/quay/quay/quay-quay-redhat-3.18__libvirt-s390x-ocp422-e2e-install.yaml
  ci-operator/step-registry/quay/enable-catalogsource-art/OWNERS
  ci-operator/step-registry/quay/enable-catalogsource-art/quay-enable-catalogsource-art-commands.sh
  ci-operator/step-registry/quay/enable-catalogsource-art/quay-enable-catalogsource-art-ref.metadata.json
  ci-operator/step-registry/quay/enable-catalogsource-art/quay-enable-catalogsource-art-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Change report portal files to suite.xml (#86193)
  ci-operator/step-registry/telcov10n/functional/cnf-ran/ibu-eco-gotests-seed/telcov10n-functional-cnf-ran-ibu-eco-gotests-seed-commands.sh
  ci-operator/step-registry/telcov10n/functional/cnf-ran/ibu-eco-gotests-upgrade/telcov10n-functional-cnf-ran-ibu-eco-gotests-upgrade-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

multiarch: add second libvirt-s390x-vpn-amd64 lease from lnxocp11
  core-services/prow/02_config/_boskos.yaml
  core-services/prow/02_config/generate-boskos.py
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Re-add security-profiles periodic job for openshift-tests-private release-4.15
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.15__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.15-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

WIP: metal IPI hold jobs for QA verification
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.0__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.1__amd64-nightly.yaml
  ci-operator/config/openshift/release/openshift-release-main__nightly-5.1.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.0-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.1-periodics.yaml
  ci-operator/jobs/openshift/release/openshift-release-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

OCPBUGS-53187: cluster network operator master to main (#77890)
  ci-operator/config/openshift-priv/cluster-network-operator/openshift-priv-cluster-network-operator-main.yaml
  ci-operator/config/openshift/cluster-network-operator/openshift-cluster-network-operator-main.yaml
  ci-operator/config/openshift/cluster-network-operator/openshift-cluster-network-operator-main__5.1-upgrade-from-stable-5.0.yaml
  ci-operator/config/openshift/cluster-network-operator/openshift-cluster-network-operator-main__okd-scos.yaml
  ci-operator/jobs/openshift-priv/cluster-network-operator/openshift-priv-cluster-network-operator-main-postsubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-network-operator/openshift-priv-cluster-network-operator-main-presubmits.yaml
  ci-operator/jobs/openshift/cluster-network-operator/openshift-cluster-network-operator-main-periodics.yaml
  ci-operator/jobs/openshift/cluster-network-operator/openshift-cluster-network-operator-main-postsubmits.yaml
  ci-operator/jobs/openshift/cluster-network-operator/openshift-cluster-network-operator-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

fix(prow): enable ARO-Tools robot Tide path (AROSLSRE-2298) (#86195)
  core-services/prow/02_config/Azure/ARO-Tools/_pluginconfig.yaml
  core-services/prow/02_config/Azure/ARO-Tools/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

added the quay 3.18 azure e2e-install jobs
  ci-operator/config/quay/quay/quay-quay-redhat-3.18__azure-ocp422-e2e-install.yaml
  ci-operator/jobs/quay/quay/quay-quay-redhat-3.18-periodics.yaml
  ci-operator/jobs/quay/quay/quay-quay-redhat-3.18-presubmits.yaml
  ci-operator/step-registry/quay/deploy-azure-blob/OWNERS
  ci-operator/step-registry/quay/deploy-azure-blob/quay-deploy-azure-blob-commands.sh
  ci-operator/step-registry/quay/deploy-azure-blob/quay-deploy-azure-blob-ref.metadata.json
  ci-operator/step-registry/quay/deploy-azure-blob/quay-deploy-azure-blob-ref.yaml
  ci-operator/step-registry/quay/deprovision/quay-deprovision-commands.sh
  ci-operator/step-registry/quay/deprovision/quay-deprovision-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

updated the cluster profile
  ci-operator/config/quay/quay/quay-quay-redhat-3.18__azure-ocp422-e2e-install.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

changed the compute node to Standard_D8as_v7
  ci-operator/config/quay/quay/quay-quay-redhat-3.18__azure-ocp422-e2e-install.yaml
  ci-operator/step-registry/quay/deploy-azure-blob/quay-deploy-azure-blob-commands.sh
  ci-operator/step-registry/quay/deploy-azure-blob/quay-deploy-azure-blob-ref.yaml
  ci-operator/step-registry/quay/deprovision/quay-deprovision-commands.sh
  ci-operator/step-registry/quay/provisioning-tls/quay-provisioning-tls-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Disables virt-density in 5.0-nightly-x86-daily-virt-6nodes Signed-off-by: Charles CAPORALI <ccaporal@redhat.com>
  ci-operator/config/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main__metal-5.0-nightly-x86.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

medik8s: retry FBC SHA resolution against transient Quay gaps
  ci-operator/step-registry/medik8s/lib/medik8s-lib-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Disables virt-density in 5.0-nightly-x86-daily-virt-6nodes (#86201)
  ci-operator/config/openshift-eng/ocp-perfscale/openshift-eng-ocp-perfscale-main__metal-5.0-nightly-x86.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Enable ibu lane
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-ibu-4.16.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-ibu-4.18.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-ibu-4.20.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-ibu-4.22.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-ibu-5.0.yaml
  ci-operator/jobs/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main-periodics.yaml
  ci-operator/step-registry/telcov10n/functional/cnf-ran/ibu/telcov10n-functional-cnf-ran-ibu-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Thorough review
  ci-operator/step-registry/dpf/hypervisor/deploy-cluster/dpf-hypervisor-deploy-cluster-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

add umn & cmn variants
  ci-operator/config/openshift-eng/agent-qe-infra/openshift-eng-agent-qe-infra-release-4.22__amd64-nightly.yaml
  ci-operator/jobs/openshift-eng/agent-qe-infra/openshift-eng-agent-qe-infra-release-4.22-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

NO-ISSUE: fix(CI): Quay azure jobs from generator
  ci-operator/config/quay/quay/_generator/matrix.yaml.in
  ci-operator/config/quay/quay/_generator/templates/clouds/azure.yaml.j2
  ci-operator/config/quay/quay/_generator/tests/test_env.py
  ci-operator/config/quay/quay/_generator/tests/test_generate.py
  ci-operator/config/quay/quay/quay-quay-redhat-3.18__azure-ocp422-e2e-install.yaml
  ci-operator/jobs/quay/quay/quay-quay-redhat-3.18-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Remove nongroovy postsubmits, make presubmits optional
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

OCPBUGS-54574: Cilium on management cluster with KubeVirt (#81307)
  ci-operator/step-registry/cilium/conf/cilium-conf-commands.sh
  ci-operator/step-registry/cilium/conf/cilium-conf-ref.yaml
  ci-operator/step-registry/cucushift/hypershift-extended/cilium/cucushift-hypershift-extended-cilium-commands.sh
  ci-operator/step-registry/cucushift/hypershift-extended/cilium/cucushift-hypershift-extended-cilium-ref.yaml
  ci-operator/step-registry/hypershift/kubevirt/baremetalds/conformance-cilium/hypershift-kubevirt-baremetalds-conformance-cilium-workflow.yaml
  ci-operator/step-registry/hypershift/kubevirt/create/hypershift-kubevirt-create-commands.sh
  ci-operator/step-registry/hypershift/kubevirt/create/hypershift-kubevirt-create-ref.yaml
  ci-operator/step-registry/hypershift/mce/agent/metal3/conformance/cilium/hypershift-mce-agent-metal3-conformance-cilium-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

`make update`
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-master-postsubmits.yaml
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-master-presubmits.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

OOC-16: Mirror the playwright-base image into the CI registry
  core-services/image-mirroring/_config.yaml
Due: ci/prow/image-mirroring-config-validation

medik8s: paginate Quay tag lookup in resolve_commit_sha
  ci-operator/step-registry/medik8s/lib/medik8s-lib-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Adjust `release-x.y` template config consistently
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-x.y.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

`make update`
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-release-x.y-postsubmits.yaml
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-release-x.y-presubmits.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

fix(cilium): restore cniVersion 0.4.0 override (OCPBUGS-86033)
  ci-operator/step-registry/cilium/conf/cilium-conf-commands.sh
  ci-operator/step-registry/cucushift/hypershift-extended/cilium/cucushift-hypershift-extended-cilium-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

medik8s/system-tests: install NHC alongside SBR in e2e jobs
  ci-operator/config/openshift/rhwa-system-tests/openshift-rhwa-system-tests-main__4.22-konflux.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

OOC-16: Mirror the playwright-base image into the CI registry (#86204)
  core-services/image-mirroring/_config.yaml
Due: ci/prow/image-mirroring-config-validation

multiarch: run 4.15/4.16 IBM Z SNO on the existing libvirt VPN workflow.
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.15.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.16.yaml
  ci-operator/jobs/openshift/multiarch/openshift-multiarch-main-periodics.yaml
  ci-operator/step-registry/upi/conf/libvirt/agent/upi-conf-libvirt-agent-commands.sh
  ci-operator/step-registry/upi/conf/libvirt/agent/upi-conf-libvirt-agent-ref.yaml
  ci-operator/step-registry/upi/conf/libvirt/network/upi-conf-libvirt-network-commands.sh
  ci-operator/step-registry/upi/conf/libvirt/network/upi-conf-libvirt-network-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

multiarch: run latest IBM Z SNO jobs weekly on Sunday afternoons.
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.22.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.23.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-5.0.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-5.1.yaml
  ci-operator/jobs/openshift/multiarch/openshift-multiarch-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

multiarch: extend IBM Z SNO libvirt VPN jobs through 5.1.
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.17.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.18.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.19.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.20.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.21.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.22.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.23.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-5.0.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-5.1.yaml
  ci-operator/jobs/openshift/multiarch/openshift-multiarch-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

multiarch: keep IBM Z SNO jobs readiness-only.
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.15.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.16.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.17.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.18.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.19.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.20.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.21.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.22.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.23.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-5.0.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-5.1.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

multiarch: run Power-equivalent single-node e2e on IBM Z SNO.
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.15.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.16.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.17.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.18.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.19.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.20.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.21.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.22.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.23.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-5.0.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-5.1.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Install NHC alongside SBR in disconnected e2e jobs
  ci-operator/config/openshift/rhwa-system-tests/openshift-rhwa-system-tests-main__4.21-disconnected.yaml
  ci-operator/config/openshift/rhwa-system-tests/openshift-rhwa-system-tests-main__4.22-disconnected.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

fail if any IRI test is skipped
  ci-operator/step-registry/agent/e2e/test/conformance/iso-no-registry/agent-e2e-test-conformance-iso-no-registry-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Enable ibu lane (#86203)
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-ibu-4.16.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-ibu-4.18.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-ibu-4.20.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-ibu-4.22.yaml
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-ibu-5.0.yaml
  ci-operator/jobs/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main-periodics.yaml
  ci-operator/step-registry/telcov10n/functional/cnf-ran/ibu/telcov10n-functional-cnf-ran-ibu-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Added minio deployment for arm-ibx bastion
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-arm-ibx-4.20.yaml
  ci-operator/step-registry/telcov10n/functional/cnf-ran/arm-ibx/telcov10n-functional-cnf-ran-arm-ibx-workflow.yaml
  ci-operator/step-registry/telcov10n/functional/cnf-ran/ibu-prune-argocd-apps/telcov10n-functional-cnf-ran-ibu-prune-argocd-apps-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

OOC-16: Add the otel-ui qe-agent skill for the OpenTelemetry console UI tests
  ci-operator/step-registry/openshift-observability/qe-agent/README.md
  ci-operator/step-registry/openshift-observability/qe-agent/resources/shared/attribution.md
  ci-operator/step-registry/openshift-observability/qe-agent/resources/skills/otel-ui/OWNERS
  ci-operator/step-registry/openshift-observability/qe-agent/resources/skills/otel-ui/SKILL.md
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add wait-for-stable-cluster to iso-no-registry validation
  ci-operator/step-registry/agent/e2e/compact/ipv4/iso-no-registry/validation/agent-e2e-compact-ipv4-iso-no-registry-validation-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

OLS-0000 regenerate lightspeed-service presubmit jobs
  ci-operator/jobs/openshift/lightspeed-service/openshift-lightspeed-service-main-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Restore reliable NFV E2E workload execution
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__metal-nfv-e2e-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-presubmits.yaml
  ci-operator/step-registry/openshift-qe/rhoso/nfv-e2e/crucible/OWNERS
  ci-operator/step-registry/openshift-qe/rhoso/nfv-e2e/crucible/openshift-qe-rhoso-nfv-e2e-crucible-commands.sh
  ci-operator/step-registry/openshift-qe/rhoso/nfv-e2e/crucible/openshift-qe-rhoso-nfv-e2e-crucible-ref.metadata.json
  ci-operator/step-registry/openshift-qe/rhoso/nfv-e2e/crucible/openshift-qe-rhoso-nfv-e2e-crucible-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)
