Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

CORENET QE test rhcos10
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22-periodics.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/aws/ipi/disconnected/private/provision/cucushift-installer-rehearse-aws-ipi-disconnected-private-provision-chain.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Sync OWNERS files by autoowners job at Tue, 10 Mar 2026 07:41:29 UTC (#75974)
  ci-operator/config/integr8ly/integreatly-operator/OWNERS
  ci-operator/config/openshift-eng/ai-helpers/OWNERS
  ci-operator/config/openshift/assisted-installer-agent/OWNERS
  ci-operator/config/openshift/assisted-installer/OWNERS
  ci-operator/config/openshift/assisted-service/OWNERS
  ci-operator/config/openshift/aws-vpce-operator/OWNERS
  ci-operator/config/openshift/managed-scripts/OWNERS
  ci-operator/config/openshift/managed-upgrade-operator/OWNERS
  ci-operator/config/openshift/osdctl/OWNERS
  ci-operator/config/openshift/windows-machine-config-operator/OWNERS
  ci-operator/config/stolostron/multicluster-role-assignment/OWNERS
  ci-operator/jobs/integr8ly/integreatly-operator/OWNERS
  ci-operator/jobs/openshift-eng/ai-helpers/OWNERS
  ci-operator/jobs/openshift/assisted-installer-agent/OWNERS
  ci-operator/jobs/openshift/assisted-installer/OWNERS
  ci-operator/jobs/openshift/assisted-service/OWNERS
  ci-operator/jobs/openshift/aws-vpce-operator/OWNERS
  ci-operator/jobs/openshift/managed-scripts/OWNERS
  ci-operator/jobs/openshift/managed-upgrade-operator/OWNERS
  ci-operator/jobs/openshift/osdctl/OWNERS
  ci-operator/jobs/openshift/windows-machine-config-operator/OWNERS
  ci-operator/jobs/stolostron/multicluster-role-assignment/OWNERS
  core-services/prow/02_config/integr8ly/integreatly-operator/OWNERS
  core-services/prow/02_config/openshift-eng/ai-helpers/OWNERS
  core-services/prow/02_config/openshift/assisted-installer-agent/OWNERS
  core-services/prow/02_config/openshift/assisted-installer/OWNERS
  core-services/prow/02_config/openshift/assisted-service/OWNERS
  core-services/prow/02_config/openshift/aws-vpce-operator/OWNERS
  core-services/prow/02_config/openshift/managed-scripts/OWNERS
  core-services/prow/02_config/openshift/managed-upgrade-operator/OWNERS
  core-services/prow/02_config/openshift/osdctl/OWNERS
  core-services/prow/02_config/openshift/windows-machine-config-operator/OWNERS
  core-services/prow/02_config/stolostron/multicluster-role-assignment/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Revert service-mesh master branch jobs from IPI to hypershift workflow
  ci-operator/config/openshift-service-mesh/federation/openshift-service-mesh-federation-master.yaml
  ci-operator/config/openshift-service-mesh/istio/openshift-service-mesh-istio-master.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-main__ocp-4.20.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add aws-eusc-qe cluster profile support (#75441)
  core-services/ci-secret-bootstrap/_config.yaml
  core-services/prow/02_config/_boskos.yaml
  core-services/prow/02_config/generate-boskos.py
Due: ci/prow/check-gh-automation-tide, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config, ci/prow/secret-generator-config-valid

ci(kserve): pass distro build tag for llmisvc-controller image (#75952)
  ci-operator/config/opendatahub-io/kserve/opendatahub-io-kserve-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

RRP: update creds for ci
  ci-operator/config/openshift-online/rosa-regional-platform/openshift-online-rosa-regional-platform-main.yaml
  ci-operator/jobs/openshift-online/rosa-regional-platform/openshift-online-rosa-regional-platform-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Change command style for easier use & update docs
  hack/gcp-secret-manager/commands/create.py
  hack/gcp-secret-manager/commands/delete.py
  hack/gcp-secret-manager/commands/list.py
  hack/gcp-secret-manager/commands/update.py
  hack/gcp-secret-manager/util.py
Due: ci/prow/pylint

cnf ran two_sno: added eco_gotests step for 4.20 lane (#75908)
  ci-operator/config/openshift-kni/eco-ci-cd/openshift-kni-eco-ci-cd-main__cnf-ran-two-sno-4.20.yaml
  ci-operator/step-registry/telcov10n/functional/cnf-ran/eco-gotests-two-sno/OWNERS
  ci-operator/step-registry/telcov10n/functional/cnf-ran/eco-gotests-two-sno/telcov10n-functional-cnf-ran-eco-gotests-two-sno-commands.sh
  ci-operator/step-registry/telcov10n/functional/cnf-ran/eco-gotests-two-sno/telcov10n-functional-cnf-ran-eco-gotests-two-sno-ref.metadata.json
  ci-operator/step-registry/telcov10n/functional/cnf-ran/eco-gotests-two-sno/telcov10n-functional-cnf-ran-eco-gotests-two-sno-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Remove OCP 4.23 BM CPT jobs
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__metal-4.23-nightly-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

RRP: update creds for ci
  ci-operator/config/openshift-online/rosa-regional-platform/openshift-online-rosa-regional-platform-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

always extract installer from cluster payload in bastion install cases (#75962)
  ci-operator/step-registry/ipi/install/install/in-bastion/ipi-install-install-in-bastion-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add gpu_operator_version to provision and deprovision steps
  ci-operator/step-registry/amd-gpu-operator/deprovision/amd-gpu-operator-deprovision-commands.sh
  ci-operator/step-registry/amd-gpu-operator/deprovision/amd-gpu-operator-deprovision-ref.yaml
  ci-operator/step-registry/amd-gpu-operator/provision/amd-gpu-operator-provision-commands.sh
  ci-operator/step-registry/amd-gpu-operator/provision/amd-gpu-operator-provision-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ARO-HCP: Add a new postsubmit job to keep global resource group and kusto in sync (#75372)
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main.yaml
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-postsubmits.yaml
  ci-operator/step-registry/aro-hcp/provision/global-pipeline/OWNERS
  ci-operator/step-registry/aro-hcp/provision/global-pipeline/aro-hcp-provision-global-pipeline-commands.sh
  ci-operator/step-registry/aro-hcp/provision/global-pipeline/aro-hcp-provision-global-pipeline-ref.metadata.json
  ci-operator/step-registry/aro-hcp/provision/global-pipeline/aro-hcp-provision-global-pipeline-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Remove OCP 4.23 BM CPT jobs (#75978)
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__metal-4.23-nightly-x86.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add subresource field
  ci-operator/step-registry/hive/operator/install/hive-operator-install-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fixing script logic
  ci-operator/step-registry/ipi/libvirt/cleanup/ipi-libvirt-cleanup-commands.sh
  ci-operator/step-registry/upi/libvirt/cleanup/post/upi-libvirt-cleanup-post-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

add cucushift tests
  ci-operator/step-registry/cucushift/e2e/cucushift-e2e-commands.sh
  ci-operator/step-registry/cucushift/e2e/cucushift-e2e-ref.yaml
  ci-operator/step-registry/release-qe-tests/stage-testing/release-qe-tests-stage-testing-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Allow for a single underscore in names
  hack/gcp-secret-manager/tests/__init__.py
  hack/gcp-secret-manager/tests/test_validation.py
  hack/gcp-secret-manager/util.py
Due: ci/prow/pylint

Refactoring: Change PATH to SECRET_PATH
  hack/gcp-secret-manager/commands/create.py
  hack/gcp-secret-manager/commands/delete.py
  hack/gcp-secret-manager/commands/update.py
  hack/gcp-secret-manager/util.py
Due: ci/prow/pylint

Fix unbound variable
  ci-operator/step-registry/openshift-pipelines/install/openshift-pipelines-install-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

cnf ran: removed unused job from the project
  ci-operator/step-registry/telcov10n/functional/cnf-ran/cleanup/OWNERS
  ci-operator/step-registry/telcov10n/functional/cnf-ran/cleanup/telcov10n-functional-cnf-ran-cleanup-commands.sh
  ci-operator/step-registry/telcov10n/functional/cnf-ran/cleanup/telcov10n-functional-cnf-ran-cleanup-ref.metadata.json
  ci-operator/step-registry/telcov10n/functional/cnf-ran/cleanup/telcov10n-functional-cnf-ran-cleanup-ref.yaml
  ci-operator/step-registry/telcov10n/functional/cnf-ran/eco-gotests/OWNERS
  ci-operator/step-registry/telcov10n/functional/cnf-ran/eco-gotests/telcov10n-functional-cnf-ran-eco-gotests-commands.sh
  ci-operator/step-registry/telcov10n/functional/cnf-ran/eco-gotests/telcov10n-functional-cnf-ran-eco-gotests-ref.metadata.json
  ci-operator/step-registry/telcov10n/functional/cnf-ran/eco-gotests/telcov10n-functional-cnf-ran-eco-gotests-ref.yaml
  ci-operator/step-registry/telcov10n/functional/cnf-ran/report/OWNERS
  ci-operator/step-registry/telcov10n/functional/cnf-ran/report/telcov10n-functional-cnf-ran-report-commands.sh
  ci-operator/step-registry/telcov10n/functional/cnf-ran/report/telcov10n-functional-cnf-ran-report-ref.metadata.json
  ci-operator/step-registry/telcov10n/functional/cnf-ran/report/telcov10n-functional-cnf-ran-report-ref.yaml
  ci-operator/step-registry/telcov10n/functional/cnf-ran/ztp/OWNERS
  ci-operator/step-registry/telcov10n/functional/cnf-ran/ztp/telcov10n-functional-cnf-ran-ztp-workflow.metadata.json
  ci-operator/step-registry/telcov10n/functional/cnf-ran/ztp/telcov10n-functional-cnf-ran-ztp-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix naming
  ci-operator/config/openshift-online/rosa-regional-platform/openshift-online-rosa-regional-platform-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Fix unbound variable (#75980)
  ci-operator/step-registry/openshift-pipelines/install/openshift-pipelines-install-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Unblock build06
  core-services/sanitize-prow-jobs/_clusters.yaml
Due: none

verify-OCPBUGS-64840
  ci-operator/step-registry/cucushift/installer/rehearse/vsphere/ipi/disconnected/cucushift-installer-rehearse-vsphere-ipi-disconnected-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

dpu-operator fix for ci tests
  ci-operator/step-registry/dpu-operator/e2e-tests-workflow/tests/dpu-operator-e2e-tests-workflow-tests-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

cnf ran: removed unused job from the project (#75982)
  ci-operator/step-registry/telcov10n/functional/cnf-ran/cleanup/OWNERS
  ci-operator/step-registry/telcov10n/functional/cnf-ran/cleanup/telcov10n-functional-cnf-ran-cleanup-commands.sh
  ci-operator/step-registry/telcov10n/functional/cnf-ran/cleanup/telcov10n-functional-cnf-ran-cleanup-ref.metadata.json
  ci-operator/step-registry/telcov10n/functional/cnf-ran/cleanup/telcov10n-functional-cnf-ran-cleanup-ref.yaml
  ci-operator/step-registry/telcov10n/functional/cnf-ran/eco-gotests/OWNERS
  ci-operator/step-registry/telcov10n/functional/cnf-ran/eco-gotests/telcov10n-functional-cnf-ran-eco-gotests-commands.sh
  ci-operator/step-registry/telcov10n/functional/cnf-ran/eco-gotests/telcov10n-functional-cnf-ran-eco-gotests-ref.metadata.json
  ci-operator/step-registry/telcov10n/functional/cnf-ran/eco-gotests/telcov10n-functional-cnf-ran-eco-gotests-ref.yaml
  ci-operator/step-registry/telcov10n/functional/cnf-ran/report/OWNERS
  ci-operator/step-registry/telcov10n/functional/cnf-ran/report/telcov10n-functional-cnf-ran-report-commands.sh
  ci-operator/step-registry/telcov10n/functional/cnf-ran/report/telcov10n-functional-cnf-ran-report-ref.metadata.json
  ci-operator/step-registry/telcov10n/functional/cnf-ran/report/telcov10n-functional-cnf-ran-report-ref.yaml
  ci-operator/step-registry/telcov10n/functional/cnf-ran/ztp/OWNERS
  ci-operator/step-registry/telcov10n/functional/cnf-ran/ztp/telcov10n-functional-cnf-ran-ztp-workflow.metadata.json
  ci-operator/step-registry/telcov10n/functional/cnf-ran/ztp/telcov10n-functional-cnf-ran-ztp-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

fix(obs-mcp): add bearer token for monitoring route auth
  ci-operator/step-registry/rhobs/obs-mcp-e2e-tests/rhobs-obs-mcp-e2e-tests-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

overall script modified - key wrapping
  ci-operator/step-registry/openshift-observability/ibm-z/cluster-create/openshift-observability-ibm-z-cluster-create-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

feat(boskos): add cluster profile sets generator code
  core-services/prow/02_config/_boskos.yaml
  core-services/prow/02_config/generate-boskos.py
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Fix secret naming
  ci-operator/config/openshift-online/rosa-regional-platform/openshift-online-rosa-regional-platform-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Rename nightly resources janitor
  ci-operator/config/openshift-online/rosa-regional-platform/openshift-online-rosa-regional-platform-main.yaml
  ci-operator/jobs/openshift-online/rosa-regional-platform/openshift-online-rosa-regional-platform-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add verify-deps for cluster-api-provider-libvirt 4.12-4.18
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.12.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.13.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.14.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.15.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.16.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.17.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.18.yaml
  ci-operator/jobs/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.12-presubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.13-presubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.14-presubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.18-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Fix verify deps in cluster-api-provider-libvirt 4.19+
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-main.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.19.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.20.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.21.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.22.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-4.23.yaml
  ci-operator/config/openshift/cluster-api-provider-libvirt/openshift-cluster-api-provider-libvirt-release-5.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

regr. test for quay 3.9.18
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-412-quay-operator-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-412-quay-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-412-quay-upgrade-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-413-quay-operator-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-413-quay-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-413-quay-upgrade-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-414-quay-operator-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-414-quay-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-414-quay-upgrade-regression.yaml
  ci-operator/jobs/quay/quay-tests/quay-quay-tests-master-periodics.yaml
  ci-operator/step-registry/quay-tests/enable-quay-catalogsource/quay-tests-enable-quay-catalogsource-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

feat(boskos): add cluster profile sets generator code (#75743)
  core-services/prow/02_config/_boskos.yaml
  core-services/prow/02_config/generate-boskos.py
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Updating Openshift Pipelines operator to OCP4.22 for AWS-IPI testing
  ci-operator/config/openshift-pipelines/release-tests/openshift-pipelines-release-tests-release-v1.21__openshift-pipelines-ocp-4.22-lp-interop-cr.yaml
  ci-operator/jobs/openshift-pipelines/release-tests/openshift-pipelines-release-tests-release-v1.21-periodics.yaml
  ci-operator/jobs/openshift-pipelines/release-tests/openshift-pipelines-release-tests-release-v1.21-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Updated the image tag
  ci-operator/config/openshift-pipelines/release-tests/openshift-pipelines-release-tests-release-v1.21__openshift-pipelines-ocp-4.22-lp-interop-cr.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Enable verify-deps job for assisted-service 4.12-4.18
  ci-operator/config/openshift/assisted-service/openshift-assisted-service-release-4.13.yaml
  ci-operator/config/openshift/assisted-service/openshift-assisted-service-release-4.14.yaml
  ci-operator/config/openshift/assisted-service/openshift-assisted-service-release-4.15.yaml
  ci-operator/config/openshift/assisted-service/openshift-assisted-service-release-4.16.yaml
  ci-operator/config/openshift/assisted-service/openshift-assisted-service-release-4.17.yaml
  ci-operator/config/openshift/assisted-service/openshift-assisted-service-release-4.18.yaml
  ci-operator/config/openshift/assisted-service/openshift-assisted-service-release-5.0.yaml
  ci-operator/jobs/openshift/assisted-service/openshift-assisted-service-release-4.13-presubmits.yaml
  ci-operator/jobs/openshift/assisted-service/openshift-assisted-service-release-4.14-presubmits.yaml
  ci-operator/jobs/openshift/assisted-service/openshift-assisted-service-release-4.15-presubmits.yaml
  ci-operator/jobs/openshift/assisted-service/openshift-assisted-service-release-4.16-presubmits.yaml
  ci-operator/jobs/openshift/assisted-service/openshift-assisted-service-release-4.17-presubmits.yaml
  ci-operator/jobs/openshift/assisted-service/openshift-assisted-service-release-4.18-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics
