Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

sandboxed-containers-operator: Enable install trustee step (#83782)
  ci-operator/config/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel__downstream-candidate.yaml
  ci-operator/config/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel__downstream-candidate417.yaml
  ci-operator/config/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel__downstream-candidate418.yaml
  ci-operator/config/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel__downstream-candidate419.yaml
  ci-operator/config/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel__downstream-candidate420.yaml
  ci-operator/config/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel__downstream-candidate421.yaml
  ci-operator/config/openshift/sandboxed-containers-operator/openshift-sandboxed-containers-operator-devel__downstream-candidate422.yaml
  ci-operator/step-registry/sandboxed-containers-operator/create-prowjob/sandboxed-containers-operator-create-prowjob-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

MG-275: Add TLS scanner and PQC readiness jobs for must-gather-operator (#84176)
  ci-operator/config/openshift/must-gather-operator/openshift-must-gather-operator-master.yaml
  ci-operator/jobs/openshift/must-gather-operator/openshift-must-gather-operator-master-periodics.yaml
  ci-operator/jobs/openshift/must-gather-operator/openshift-must-gather-operator-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Update 4.22 jira-lifecycle-plugin target_version to 4.22.z (#84206)
  core-services/jira-lifecycle-plugin/config.yaml
Due: ci/prow/jira-lifecycle-config

ci: buffer downloads to temp files before applying
  ci-operator/step-registry/hypershift/gcp/gke/prerequisites/hypershift-gcp-gke-prerequisites-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

hypershift: fix v2-azure-self-managed e2e n-1 version
  ci-operator/config/openshift/hypershift/openshift-hypershift-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add ocp-virt-validation-checkup to disconnected baremetal-ove-compact job
  ci-operator/config/openshift-eng/agent-qe-infra/openshift-eng-agent-qe-infra-release-4.21__amd64-nightly.yaml
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/agent-qe-baremetal-install-ove-disconnected-chain.yaml
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/collect-validation-results/agent-qe-baremetal-install-ove-disconnected-collect-validation-results-commands.sh
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/configure-lso/agent-qe-baremetal-install-ove-disconnected-configure-lso-commands.sh
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/create-catalogsource/agent-qe-baremetal-install-ove-disconnected-create-catalogsource-commands.sh
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/install-lso/agent-qe-baremetal-install-ove-disconnected-install-lso-commands.sh
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/install-odf/agent-qe-baremetal-install-ove-disconnected-install-odf-commands.sh
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/mirror-validation-images/OWNERS
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/mirror-validation-images/agent-qe-baremetal-install-ove-disconnected-mirror-validation-images-commands.sh
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/mirror-validation-images/agent-qe-baremetal-install-ove-disconnected-mirror-validation-images-ref.metadata.json
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/mirror-validation-images/agent-qe-baremetal-install-ove-disconnected-mirror-validation-images-ref.yaml
  ci-operator/step-registry/agent-qe/baremetal/install/ove/disconnected/run-validation-checkup/agent-qe-baremetal-install-ove-disconnected-run-validation-checkup-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add jobs for sail-operator release-3.5 branch (#83556)
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.5__ocp-4.22.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.5__ocp-4.23.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.5__ocp-5.0.yaml
  ci-operator/jobs/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.5-periodics.yaml
  ci-operator/jobs/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.5-postsubmits.yaml
  ci-operator/jobs/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.5-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

vmo: bump periodic (#84182)
  ci-operator/config/openshift/vcf-migration-operator/openshift-vcf-migration-operator-main.yaml
  ci-operator/jobs/openshift/vcf-migration-operator/openshift-vcf-migration-operator-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

hypershift: fix n-1 references in v2-aws job configs (#84195)
  ci-operator/config/openshift/hypershift/openshift-hypershift-main.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.22__periodics.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.23__periodics.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-5.0__periodics.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-5.1__periodics.yaml
  ci-operator/step-registry/hypershift/aws/e2e-v2/hypershift-aws-e2e-v2-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

fix(trt): generate autodl schema in jq (#84207)
  ci-operator/step-registry/openshift/agentic/trt/emit-metrics/openshift-agentic-trt-emit-metrics-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

fix(gcp-hcp-infra): add TFC credentials to generate-bin postsubmit job
  ci-operator/config/openshift-online/gcp-hcp-infra/openshift-online-gcp-hcp-infra-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Fixup kube-compare 4.20 builder
  ci-operator/config/openshift/kube-compare/openshift-kube-compare-release-4.20.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Use release versions dev-bundle on hypershift jobs
  ci-operator/config/openshift/kueue-operator/openshift-kueue-operator-release-1.3.yaml
  ci-operator/config/openshift/kueue-operator/openshift-kueue-operator-release-1.4.yaml
  ci-operator/step-registry/kueue-operator/dev-bundle/kueue-operator-dev-bundle-commands.sh
  ci-operator/step-registry/kueue-operator/dev-bundle/kueue-operator-dev-bundle-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

INTEROP-9434: Suppress xtrace around S3 pod manifest expansion
  ci-operator/step-registry/interop/opp/odf-health/interop-opp-odf-health-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

gcp: migrate e2e-gcp-ovn-rt to N4 with hyperdisk-balanced (1/2) (#84090)
  ci-operator/config/openshift/release/openshift-release-main__nightly-4.22.yaml
  ci-operator/config/openshift/release/openshift-release-main__nightly-4.23.yaml
  ci-operator/config/openshift/release/openshift-release-main__nightly-5.0.yaml
  ci-operator/config/openshift/release/openshift-release-main__nightly-5.1.yaml
  ci-operator/step-registry/openshift/e2e/gcp/ovn-rt/openshift-e2e-gcp-ovn-rt-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

feat(clo): remove base image replacement for operator (#84130)
  ci-operator/config/openshift/cluster-logging-operator/openshift-cluster-logging-operator-master.yaml
  ci-operator/config/openshift/cluster-logging-operator/openshift-cluster-logging-operator-release-6.6.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Added ocp-priv base-rhel images into mirror
  core-services/image-mirroring/_config.yaml
Due: ci/prow/image-mirroring-config-validation

Move OCPBUGS-112613 verify job to periodics.
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.1__multi-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.1-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.1-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

fix(gcp-hcp-infra): regenerate postsubmit job config
  ci-operator/jobs/openshift-online/gcp-hcp-infra/openshift-online-gcp-hcp-infra-main-postsubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Added ocp-priv base-rhel images into mirror (#84216)
  core-services/image-mirroring/_config.yaml
Due: ci/prow/image-mirroring-config-validation

Fix TEST_SKIPS pattern to match actual IngressComponentRouteLabels test names
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-5.0__periodics.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-5.1__periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add function docstrings for CodeRabbit coverage check
  ci-operator/step-registry/cucushift/installer/check/cluster-health/cucushift-installer-check-cluster-health-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

NO-ISSUE: Update OCP versions/master external jobs which rely on assisted images to ocm-5.1
  ci-operator/config/openshift/assisted-image-service/openshift-assisted-image-service-main__edge.yaml
  ci-operator/config/openshift/assisted-image-service/openshift-assisted-image-service-main__mce.yaml
  ci-operator/config/openshift/assisted-installer-agent/openshift-assisted-installer-agent-master__edge.yaml
  ci-operator/config/openshift/assisted-installer-agent/openshift-assisted-installer-agent-master__mce.yaml
  ci-operator/config/openshift/assisted-installer/openshift-assisted-installer-master__edge.yaml
  ci-operator/config/openshift/assisted-installer/openshift-assisted-installer-master__mce.yaml
  ci-operator/config/openshift/assisted-service/openshift-assisted-service-master__edge.yaml
  ci-operator/config/openshift/assisted-service/openshift-assisted-service-master__mce.yaml
  ci-operator/config/openshift/assisted-test-infra/openshift-assisted-test-infra-master.yaml
  ci-operator/config/openshift/assisted-test-infra/openshift-assisted-test-infra-master__aws-cleanup.yaml
  ci-operator/config/openshift/assisted-test-infra/openshift-assisted-test-infra-master__oci-cleanup.yaml
  ci-operator/config/openshift/cluster-api-provider-agent/openshift-cluster-api-provider-agent-master.yaml
  ci-operator/config/openshift/cluster-api-provider-agent/openshift-cluster-api-provider-agent-master__mce.yaml
  ci-operator/config/openshift/cluster-etcd-operator/openshift-cluster-etcd-operator-main__periodics.yaml
  ci-operator/config/rh-ecosystem-edge/recert/rh-ecosystem-edge-recert-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ROSAENG-65963: Add hive-e2e tests for aws-account-operator
  ci-operator/config/openshift/aws-account-operator/openshift-aws-account-operator-master.yaml
  ci-operator/jobs/openshift/aws-account-operator/openshift-aws-account-operator-master-periodics.yaml
  ci-operator/jobs/openshift/aws-account-operator/openshift-aws-account-operator-master-postsubmits.yaml
  ci-operator/jobs/openshift/aws-account-operator/openshift-aws-account-operator-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Fixup kube-compare 4.20 builder (#84215)
  ci-operator/config/openshift/kube-compare/openshift-kube-compare-release-4.20.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

OPCT-454: bump OPCT CLI image to v0.6.7 (#83459)
  ci-operator/step-registry/opct/conformance/external-aws/opct-conformance-external-aws-workflow.yaml
  ci-operator/step-registry/opct/test/platform-external-vsphere/opct-test-platform-external-vsphere-workflow.yaml
  ci-operator/step-registry/opct/test/platform-none-vsphere/opct-test-platform-none-vsphere-workflow.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ROSAENG-65963: Add hive-e2e tests for aws-account-operator (#84202)
  ci-operator/config/openshift/aws-account-operator/openshift-aws-account-operator-master.yaml
  ci-operator/jobs/openshift/aws-account-operator/openshift-aws-account-operator-master-periodics.yaml
  ci-operator/jobs/openshift/aws-account-operator/openshift-aws-account-operator-master-postsubmits.yaml
  ci-operator/jobs/openshift/aws-account-operator/openshift-aws-account-operator-master-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

ci-operator/config: bump timeout for all opct vsphere upgrade tests
  ci-operator/config/redhat-openshift-ecosystem/opct/redhat-openshift-ecosystem-opct-main__4.17.yaml
  ci-operator/config/redhat-openshift-ecosystem/opct/redhat-openshift-ecosystem-opct-main__4.18.yaml
  ci-operator/config/redhat-openshift-ecosystem/opct/redhat-openshift-ecosystem-opct-main__4.21.yaml
  ci-operator/jobs/redhat-openshift-ecosystem/opct/redhat-openshift-ecosystem-opct-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

no-jira: Set rhcos 9 as the default image for GCD (#84178)
  ci-operator/config/openshift/installer/openshift-installer-release-4.22.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Remove retired Sippy Chat image
  ci-operator/config/openshift/sippy/openshift-sippy-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Regenerate Sippy Prow jobs
  ci-operator/jobs/openshift/sippy/openshift-sippy-main-postsubmits.yaml
  ci-operator/jobs/openshift/sippy/openshift-sippy-main-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

add Orion support for Regulus
  ci-operator/step-registry/openshift-qe/orion/regulus/OWNERS
  ci-operator/step-registry/openshift-qe/orion/regulus/openshift-qe-orion-regulus-commands.sh
  ci-operator/step-registry/openshift-qe/orion/regulus/openshift-qe-orion-regulus-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Remove RUN_ORION from regulus-jetlag-orion-only
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__metal-telco-x86-nightly.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-periodics.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

t push --force-with-lease origin metal-telco-x86-nightlyAdd nightly periodic for metal-telco-x86 regulus-jetlag
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__metal-telco-x86-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

add regulus-jetlag-orion-only job
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__metal-telco-x86-nightly.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Fix orion-regulus: use python/virtualenv matching existing orion steps
  ci-operator/step-registry/openshift-qe/orion/regulus/openshift-qe-orion-regulus-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

IGNORE rcos and kernel by default
  ci-operator/step-registry/openshift-qe/orion/regulus/openshift-qe-orion-regulus-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Rename job names to avoid double-regulus; use requirements.txt for deps
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__metal-telco-x86-regulus.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-periodics.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-presubmits.yaml
  ci-operator/step-registry/openshift-qe/orion/regulus/openshift-qe-orion-regulus-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Rename metal-telco-x86-nightly variant to metal-telco-x86-regulus
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__metal-telco-x86-regulus.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-periodics.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add regulus-jetlag-without-deploy job, fix ES_USER naming
  ci-operator/config/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main__metal-telco-x86-nightly.yaml
  ci-operator/jobs/openshift-eng/ocp-qe-perfscale-ci/openshift-eng-ocp-qe-perfscale-ci-main-presubmits.yaml
  ci-operator/step-registry/openshift-qe/installer/bm/regulus/openshift-qe-installer-bm-regulus-commands.sh
  ci-operator/step-registry/openshift-qe/orion/regulus/openshift-qe-orion-regulus-ref.metadata.json
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck
