Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

opendatahub: Set runningCount equal to size to disable hibernation (#78275)
  clusters/hosted-mgmt/hive/pools/opendatahub/opendatahub-ocp-4-20-amd64-aws_clusterpool.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

fix rosa list version in account role creation step (#78235)
  ci-operator/step-registry/rosa/sts/account-roles/create/rosa-sts-account-roles-create-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

ACM-31604: siteconfig - remove fast-forwarding from main->release-2.17 (#78286)
  ci-operator/config/stolostron/siteconfig/stolostron-siteconfig-main.yaml
  ci-operator/jobs/stolostron/siteconfig/stolostron-siteconfig-main-postsubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Azure: support all region/all instance type test (#73979)
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__installation-nightly-4.21.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__installation-nightly-4.22.yaml
  ci-operator/jobs/openshift/verification-tests/openshift-verification-tests-main-periodics.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cases/clusters/OWNERS
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cases/clusters/cucushift-installer-rehearse-azure-cases-clusters-workflow.metadata.json
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cases/clusters/cucushift-installer-rehearse-azure-cases-clusters-workflow.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cases/clusters/deprovision/OWNERS
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cases/clusters/deprovision/cucushift-installer-rehearse-azure-cases-clusters-deprovision-chain.metadata.json
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cases/clusters/deprovision/cucushift-installer-rehearse-azure-cases-clusters-deprovision-chain.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cases/clusters/deprovision/cucushift-installer-rehearse-azure-cases-clusters-deprovision-commands.sh
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cases/clusters/deprovision/cucushift-installer-rehearse-azure-cases-clusters-deprovision-ref.metadata.json
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cases/clusters/deprovision/cucushift-installer-rehearse-azure-cases-clusters-deprovision-ref.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cases/clusters/provision/OWNERS
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cases/clusters/provision/cucushift-installer-rehearse-azure-cases-clusters-provision-chain.metadata.json
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cases/clusters/provision/cucushift-installer-rehearse-azure-cases-clusters-provision-chain.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cases/clusters/provision/cucushift-installer-rehearse-azure-cases-clusters-provision-commands.sh
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cases/clusters/provision/cucushift-installer-rehearse-azure-cases-clusters-provision-ref.metadata.json
  ci-operator/step-registry/cucushift/installer/rehearse/azure/cases/clusters/provision/cucushift-installer-rehearse-azure-cases-clusters-provision-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Improve ROSA CI daily Slack status links (#78270)
  ci-operator/jobs/openshift-online/rosa-e2e/openshift-online-rosa-e2e-main-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Add OMR V2 testing with latest Konflux build for OCP 4.21 (#78228)
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__omr-ocp421-unreleased.yaml
  ci-operator/jobs/quay/quay-tests/quay-quay-tests-master-periodics.yaml
  ci-operator/step-registry/quay-tests/mirror-images-oc-adm/quay-tests-mirror-images-oc-adm-commands.sh
  ci-operator/step-registry/quay-tests/provisioning-omr-disconnected/quay-tests-provisioning-omr-disconnected-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

feat: add periodic to execute pr checks for edge team (#78227)
  ci-operator/config/openshift-eng/edge-tooling/.config.prowgen
  ci-operator/config/openshift-eng/edge-tooling/openshift-eng-edge-tooling-main.yaml
  ci-operator/jobs/openshift-eng/edge-tooling/openshift-eng-edge-tooling-main-periodics.yaml
  ci-operator/jobs/openshift-eng/edge-tooling/openshift-eng-edge-tooling-main-presubmits.yaml
  ci-operator/step-registry/openshift/edge-tooling/gh-notifier/OWNERS
  ci-operator/step-registry/openshift/edge-tooling/gh-notifier/openshift-edge-tooling-gh-notifier-commands.sh
  ci-operator/step-registry/openshift/edge-tooling/gh-notifier/openshift-edge-tooling-gh-notifier-ref.metadata.json
  ci-operator/step-registry/openshift/edge-tooling/gh-notifier/openshift-edge-tooling-gh-notifier-ref.yaml
  ci-operator/step-registry/openshift/edge-tooling/gh-notifier/openshift-edge-tooling-gh-notifier-workflow.metadata.json
  ci-operator/step-registry/openshift/edge-tooling/gh-notifier/openshift-edge-tooling-gh-notifier-workflow.yaml
  core-services/prow/02_config/openshift-eng/edge-tooling/_pluginconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix subscription name (#78282)
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main__periodic.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Revert "Fix 4.22 rhel9 repos (#78260)" (#78290)
  core-services/release-controller/_repos/ocp-4.22-rhel9.repo
Due: none

private-prow-configs-mirror --release-repo-path . --github-token-path /etc/github/oauth --github-endpoint http://ghproxy --dry-run=false --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  core-services/prow/02_config/openshift-priv/agentic-skills/_pluginconfig.yaml
  core-services/prow/02_config/openshift-priv/cluster-kube-controller-manager-operator/_pluginconfig.yaml
  core-services/prow/02_config/openshift-priv/cluster-update-console-plugin/_pluginconfig.yaml
  core-services/prow/02_config/openshift-priv/downstream-ptp-operator-monorepo/_pluginconfig.yaml
  core-services/prow/02_config/openshift-priv/mirror-gui/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Reverting as added in lvm-operator repo (#77959)
  ci-operator/config/openshift/openshift-tests-private/.config.prowgen
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22__multi-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

USHIFT-6863: MicroShift auto-rebase PRs merge automatically after passing all tests (#78244)
  ci-operator/step-registry/openshift/microshift/claude/ci-doctor/openshift-microshift-claude-ci-doctor-commands.sh
  core-services/prow/02_config/openshift/microshift/_pluginconfig.yaml
  core-services/prow/02_config/openshift/microshift/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/prow-config, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

feat: add e2e-aws smoke test for openshift-mcp-server release-0.3 (#78229)
  ci-operator/config/openshift/openshift-mcp-server/openshift-openshift-mcp-server-release-0.3.yaml
  ci-operator/jobs/openshift/openshift-mcp-server/openshift-openshift-mcp-server-release-0.3-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Sync OWNERS files by autoowners job at Fri, 24 Apr 2026 07:41:39 UTC (#78304)
  ci-operator/config/openshift-eng/aos-cd-jobs/OWNERS
  ci-operator/config/openshift-eng/art-tools/OWNERS
  ci-operator/config/openshift-online/aws-nuke-cf/OWNERS
  ci-operator/config/openshift-online/rosa-regional-platform-api/OWNERS
  ci-operator/config/openshift-online/rosa-regional-platform-cli/OWNERS
  ci-operator/config/openshift-online/rosa-regional-platform-internal/OWNERS
  ci-operator/config/openshift-online/rosa-regional-platform/OWNERS
  ci-operator/config/openshift/cluster-image-registry-operator/OWNERS
  ci-operator/config/stolostron/capi-tests/OWNERS
  ci-operator/config/stolostron/multicluster-global-hub/OWNERS
  ci-operator/jobs/openshift-eng/aos-cd-jobs/OWNERS
  ci-operator/jobs/openshift-eng/art-tools/OWNERS
  ci-operator/jobs/openshift-online/aws-nuke-cf/OWNERS
  ci-operator/jobs/openshift-online/rosa-regional-platform-api/OWNERS
  ci-operator/jobs/openshift-online/rosa-regional-platform-cli/OWNERS
  ci-operator/jobs/openshift-online/rosa-regional-platform-internal/OWNERS
  ci-operator/jobs/openshift-online/rosa-regional-platform/OWNERS
  ci-operator/jobs/openshift/cluster-image-registry-operator/OWNERS
  ci-operator/jobs/stolostron/capi-tests/OWNERS
  ci-operator/jobs/stolostron/multicluster-global-hub/OWNERS
  core-services/prow/02_config/openshift-eng/aos-cd-jobs/OWNERS
  core-services/prow/02_config/openshift-eng/art-tools/OWNERS
  core-services/prow/02_config/openshift-online/aws-nuke-cf/OWNERS
  core-services/prow/02_config/openshift-online/rosa-regional-platform-api/OWNERS
  core-services/prow/02_config/openshift-online/rosa-regional-platform-cli/OWNERS
  core-services/prow/02_config/openshift-online/rosa-regional-platform-internal/OWNERS
  core-services/prow/02_config/openshift-online/rosa-regional-platform/OWNERS
  core-services/prow/02_config/openshift/cluster-image-registry-operator/OWNERS
  core-services/prow/02_config/stolostron/multicluster-global-hub/OWNERS
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

ARO-HCP Extract aro-hcp-tests from aro-hcp-e2e-tools (#75802)
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main.yaml
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main__baseimage-generator.yaml
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main__e2e.yaml
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main__periodic.yaml
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-postsubmits.yaml
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-presubmits.yaml
  ci-operator/step-registry/aro-hcp/deprovision/cleanup-sweeper/aro-hcp-deprovision-cleanup-sweeper-ref.yaml
  ci-operator/step-registry/aro-hcp/deprovision/expired-app-registrations/aro-hcp-deprovision-expired-app-registrations-ref.yaml
  ci-operator/step-registry/aro-hcp/deprovision/expired-resource-groups/aro-hcp-deprovision-expired-resource-groups-ref.yaml
  ci-operator/step-registry/aro-hcp/deprovision/kusto-role-assignments/aro-hcp-deprovision-kusto-role-assignments-ref.yaml
  ci-operator/step-registry/aro-hcp/gather/custom-link-tools/aro-hcp-gather-custom-link-tools-ref.yaml
  ci-operator/step-registry/aro-hcp/gather/observability/aro-hcp-gather-observability-ref.yaml
  ci-operator/step-registry/aro-hcp/gather/test-visualization/aro-hcp-gather-test-visualization-ref.yaml
  ci-operator/step-registry/aro-hcp/local-e2e/aro-hcp-local-e2e-workflow.yaml
  ci-operator/step-registry/aro-hcp/test/local/run/OWNERS
  ci-operator/step-registry/aro-hcp/test/local/run/aro-hcp-test-local-run-commands.sh
  ci-operator/step-registry/aro-hcp/test/local/run/aro-hcp-test-local-run-ref.metadata.json
  ci-operator/step-registry/aro-hcp/test/local/run/aro-hcp-test-local-run-ref.yaml
  ci-operator/step-registry/aro-hcp/test/local/setup/OWNERS
  ci-operator/step-registry/aro-hcp/test/local/setup/aro-hcp-test-local-setup-commands.sh
  ci-operator/step-registry/aro-hcp/test/local/setup/aro-hcp-test-local-setup-ref.metadata.json
  ci-operator/step-registry/aro-hcp/test/local/setup/aro-hcp-test-local-setup-ref.yaml
  ci-operator/step-registry/aro-hcp/test/persistent/aro-hcp-test-persistent-ref.yaml
  ci-operator/step-registry/aro-hcp/write-config/aro-hcp-write-config-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Set ELM_HOME for Alertmanager test job (#78309)
  ci-operator/config/openshift/prometheus-alertmanager/openshift-prometheus-alertmanager-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

NO-JIRA: Install MetalLB from konflux in MCE jobs (#78236)
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.22__periodics-mce.yaml
  ci-operator/step-registry/hypershift/agent/create/metallb/catalogsource/hypershift-agent-create-metallb-catalogsource-commands.sh
  ci-operator/step-registry/hypershift/mce/agent/manual/conformance/hypershift-mce-agent-manual-conformance-workflow.yaml
  ci-operator/step-registry/hypershift/mce/agent/manual/create/hypershift-mce-agent-manual-create-chain.yaml
  ci-operator/step-registry/hypershift/mce/kubevirt/baremetalds/conformance/hypershift-mce-kubevirt-baremetalds-conformance-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

prowgen: migrate CSI and skip_operator_presubmits to ci-operator config (#78232)
  ci-operator/config/opendatahub-io/opendatahub-operator/.config.prowgen
  ci-operator/config/opendatahub-io/opendatahub-operator/opendatahub-io-opendatahub-operator-main.yaml
  ci-operator/config/openshift/ci-tools/.config.prowgen
  ci-operator/config/openshift/ci-tools/openshift-ci-tools-main.yaml
  ci-operator/config/openshift/csi-operator/.config.prowgen
  ci-operator/config/openshift/csi-operator/openshift-csi-operator-release-4.17__periodics.yaml
  ci-operator/config/openshift/csi-operator/openshift-csi-operator-release-4.18__periodics.yaml
  ci-operator/config/openshift/csi-operator/openshift-csi-operator-release-4.19__periodics.yaml
  ci-operator/config/openshift/csi-operator/openshift-csi-operator-release-4.20__periodics.yaml
  ci-operator/config/openshift/gcp-filestore-csi-driver-operator/.config.prowgen
  ci-operator/config/openshift/gcp-filestore-csi-driver-operator/openshift-gcp-filestore-csi-driver-operator-release-4.17__periodics.yaml
  ci-operator/config/openshift/gcp-filestore-csi-driver-operator/openshift-gcp-filestore-csi-driver-operator-release-4.18__periodics.yaml
  ci-operator/config/openshift/gcp-filestore-csi-driver-operator/openshift-gcp-filestore-csi-driver-operator-release-4.19__periodics.yaml
  ci-operator/config/openshift/gcp-filestore-csi-driver-operator/openshift-gcp-filestore-csi-driver-operator-release-4.20__periodics.yaml
  ci-operator/config/psalajova/test/.config.prowgen
  ci-operator/config/psalajova/test/psalajova-test-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Remove duplicate etcd release-* configs that conflict with openshift-* configs
  ci-operator/config/openshift-priv/etcd/openshift-priv-etcd-release-4.23.yaml
  ci-operator/config/openshift-priv/etcd/openshift-priv-etcd-release-5.0.yaml
  ci-operator/config/openshift-priv/etcd/openshift-priv-etcd-release-5.1.yaml
  ci-operator/config/openshift/etcd/openshift-etcd-release-4.23.yaml
  ci-operator/config/openshift/etcd/openshift-etcd-release-5.0.yaml
  ci-operator/config/openshift/etcd/openshift-etcd-release-5.1.yaml
  ci-operator/jobs/openshift-priv/etcd/openshift-priv-etcd-release-4.23-postsubmits.yaml
  ci-operator/jobs/openshift-priv/etcd/openshift-priv-etcd-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift-priv/etcd/openshift-priv-etcd-release-5.0-postsubmits.yaml
  ci-operator/jobs/openshift-priv/etcd/openshift-priv-etcd-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift-priv/etcd/openshift-priv-etcd-release-5.1-postsubmits.yaml
  ci-operator/jobs/openshift-priv/etcd/openshift-priv-etcd-release-5.1-presubmits.yaml
  ci-operator/jobs/openshift/etcd/openshift-etcd-release-4.23-postsubmits.yaml
  ci-operator/jobs/openshift/etcd/openshift-etcd-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift/etcd/openshift-etcd-release-5.0-postsubmits.yaml
  ci-operator/jobs/openshift/etcd/openshift-etcd-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift/etcd/openshift-etcd-release-5.1-postsubmits.yaml
  ci-operator/jobs/openshift/etcd/openshift-etcd-release-5.1-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Fixes for trusted apps
  core-services/prow/02_config/openshift-priv/agentic-skills/_pluginconfig.yaml
  core-services/prow/02_config/openshift-priv/cluster-update-console-plugin/_pluginconfig.yaml
  core-services/prow/02_config/openshift-priv/downstream-ptp-operator-monorepo/_pluginconfig.yaml
  core-services/prow/02_config/openshift-priv/mirror-gui/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Don't run ARO-HCP tests with OCP nightly in INT. Reschedule STG and PROD nightly jobs. (#78255)
  ci-operator/config/Azure/ARO-HCP/.config.prowgen
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main__periodic.yaml
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-periodics.yaml
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Point nightly-5.0 homogeneous Z libvirt tests at libvirt-s390x-vpn with (#77881)
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-5.0-upgrade-from-nightly-4.22.yaml
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-5.0.yaml
  ci-operator/jobs/openshift/multiarch/openshift-multiarch-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Mirror also postgresql-15 and postgresql-16 for disconnected env (#78238)
  ci-operator/step-registry/hypershift/mce/agent/create/agentserviceconfig/hypershift-mce-agent-create-agentserviceconfig-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

o/release: bump some stray 4.22 occurences in 5.0 configs (#77792)
  ci-operator/config/openshift/release/openshift-release-main__nightly-5.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add the jira plugin for edge-tooling (#78325)
  core-services/prow/02_config/openshift-eng/edge-tooling/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Exclude generated files from CodeRabbit review (#78262)
  .coderabbit.yaml
Due: none

Add QE integration tests to lvm operator (#77264)
  ci-operator/config/openshift/lvm-operator/.config.prowgen
  ci-operator/config/openshift/lvm-operator/openshift-lvm-operator-main.yaml
  ci-operator/jobs/openshift/lvm-operator/openshift-lvm-operator-main-periodics.yaml
  ci-operator/step-registry/storage/conf/csi-optional/topolvm/storage-conf-csi-optional-topolvm-chain.yaml
  ci-operator/step-registry/storage/conf/storageclass/set-default-storageclass/storage-conf-storageclass-set-default-storageclass-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Disabling coderabbit for prowjob-dispatcher jobs (#78294)
  ci-operator/jobs/infra-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Add /test e2e-capi-sno Prow command for CAPI provider (#78302)
  ci-operator/config/openshift-assisted/cluster-api-provider-openshift-assisted/openshift-assisted-cluster-api-provider-openshift-assisted-master.yaml
  ci-operator/jobs/openshift-assisted/cluster-api-provider-openshift-assisted/openshift-assisted-cluster-api-provider-openshift-assisted-master-presubmits.yaml
  ci-operator/step-registry/assisted/capi/test/assisted-capi-test-commands.sh
  ci-operator/step-registry/assisted/capi/test/assisted-capi-test-ref.yaml
  ci-operator/step-registry/assisted/ofcir/baremetal/capi/sno/OWNERS
  ci-operator/step-registry/assisted/ofcir/baremetal/capi/sno/assisted-ofcir-baremetal-capi-sno-workflow.metadata.json
  ci-operator/step-registry/assisted/ofcir/baremetal/capi/sno/assisted-ofcir-baremetal-capi-sno-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

request a gangway api token for the quay team (#78330)
  clusters/app.ci/gangway-tokens/quay-ambient-ci/admin_rbac.yaml
  clusters/app.ci/prow/03_deployment/gangway.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

fix rhel9 repo names for 4.22, 4.23, 5.0 and 5.1 (#78313)
  .claude/SLASH_COMMANDS.md
  .claude/commands/README.md
  .claude/commands/test-repo-files.md
  CLAUDE.md
  core-services/release-controller/_repos/ocp-4.22-rhel9.repo
  core-services/release-controller/_repos/ocp-4.23-rhel9.repo
  core-services/release-controller/_repos/ocp-5.0-rhel9.repo
  core-services/release-controller/_repos/ocp-5.1-rhel9.repo
Due: none

Deprecate the `plugins` CM in Release Controller (#78326)
  clusters/app.ci/release-controller/deploy-ocp-arm64-controller.yaml
  clusters/app.ci/release-controller/deploy-ocp-arm64-priv-controller.yaml
  clusters/app.ci/release-controller/deploy-ocp-controller.yaml
  clusters/app.ci/release-controller/deploy-ocp-multi-controller.yaml
  clusters/app.ci/release-controller/deploy-ocp-multi-priv-controller.yaml
  clusters/app.ci/release-controller/deploy-ocp-ppc64le-controller.yaml
  clusters/app.ci/release-controller/deploy-ocp-ppc64le-priv-controller.yaml
  clusters/app.ci/release-controller/deploy-ocp-priv-controller.yaml
  clusters/app.ci/release-controller/deploy-ocp-s390x-controller.yaml
  clusters/app.ci/release-controller/deploy-ocp-s390x-priv-controller.yaml
  clusters/app.ci/release-controller/deploy-origin-controller.yaml
  hack/generators/release-controllers/content/osd_rc_deployments.py
  hack/generators/release-controllers/content/utils.py
Due: ci/prow/pylint, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups
