Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

services-valid:
  commands: make check-services
  container:
    from: src

ci/openshift/promrules:
  decorate: true
  spec:
    containers:
    - command:
      - /go/entrypoint.sh
      image: registry.svc.ci.openshift.org/ci/promrules:latest
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
          cpu: 500m
        requests:
          cpu: 10m

ci/prow/pylint:
  decorate: true
  spec:
    containers:
    - args:
      - --rcfile=hack/.pylintrc
      - --ignore=lib
      - --persistent=n
      - hack
      command:
      - pylint
      image: registry.svc.ci.openshift.org/ci/python-validation
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
  ...

ci/prow/services-valid:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/stackrox-stackrox-stackrox-stackrox-check:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: stackrox-stackrox
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

branch-ci-openshift-release-master-gsm-secrets-reconciler:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/sync-rover-groups/_config.yaml
      - --log-level=info
      - --gcp-service-account-key-file=/tmp/gcp-credentials/key.json
      command:
      - gsm-secret-sync
      env:
  ...

branch-ci-openshift-release-master-label-sync:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/prow/02_config/_labels.yaml
      - --confirm=true
  ...

ci/prow/check-cluster-profiles-config:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    automountServiceAccountToken: true
    containers:
    - args:
      - --config-path=./ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml
      command:
      - check-cluster-profiles-config
  ...

ci/prow/check-gh-automation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --bot=openshift-merge-robot
      - --bot=openshift-ci-robot
      - --app=openshift-ci
      - --app-check-mode=standard
      - --candidate-path=.
  ...

ci/prow/check-gh-automation-tide:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --app=openshift-merge-bot
      - --app-check-mode=tide
      - --candidate-path=.
      - --config-path=./core-services/prow/02_config/_config.yaml
  ...

remove set -e from cleanup, remove BROKER_TYPE override
  ci-operator/config/openshift-hyperfleet/hyperfleet-infra/openshift-hyperfleet-hyperfleet-infra-main.yaml
  ci-operator/config/openshift-hyperfleet/hyperfleet-infra/openshift-hyperfleet-hyperfleet-infra-main__integration.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

VMFR image sync jobs for the oadp-1.6 branch (#76201)
  ci-operator/config/migtools/oadp-vm-file-restore/migtools-oadp-vm-file-restore-oadp-1.6.yaml
  ci-operator/jobs/migtools/oadp-vm-file-restore/migtools-oadp-vm-file-restore-oadp-1.6-postsubmits.yaml
  ci-operator/jobs/migtools/oadp-vm-file-restore/migtools-oadp-vm-file-restore-oadp-1.6-presubmits.yaml
  core-services/image-mirroring/konveyor/mapping_konveyor_latest
  core-services/prow/02_config/migtools/oadp-vm-file-restore/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Fix and add skip_if_only_changed for CNO and OVNK jobs
  ci-operator/config/openshift/cluster-network-operator/openshift-cluster-network-operator-master__4.22-upgrade-from-stable-4.21.yaml
  ci-operator/config/openshift/cluster-network-operator/openshift-cluster-network-operator-release-4.21.yaml
  ci-operator/config/openshift/cluster-network-operator/openshift-cluster-network-operator-release-4.21__4.21-upgrade-from-stable-4.20.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-master__4.22-upgrade-from-stable-4.21.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.21.yaml
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.21__4.21-upgrade-from-stable-4.20.yaml
  ci-operator/jobs/openshift/cluster-network-operator/openshift-cluster-network-operator-master-presubmits.yaml
  ci-operator/jobs/openshift/cluster-network-operator/openshift-cluster-network-operator-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-master-presubmits.yaml
  ci-operator/jobs/openshift/ovn-kubernetes/openshift-ovn-kubernetes-release-4.21-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

OTA-174_add_ota_4.22_jobs (#75509)
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__ota-multi-stable-4.22-upgrade-from-stable-4.21.yaml
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__ota-multi-stable-4.22-upgrade-from-stable-4.22.yaml
  ci-operator/jobs/openshift/verification-tests/openshift-verification-tests-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

fix typo in dir name
  ci-operator/step-registry/openshift-qe/rhoso/browbeat-run/openshift-qe-rhoso-browbeat-run-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update odf release 4.21.1
  core-services/jira-lifecycle-plugin/config.yaml
Due: ci/prow/jira-lifecycle-config

Fix chromium in dockerfile for arm
  ci-operator/config/quay/quay-tests/quay-quay-tests-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

regr. test for quay 3.12.15
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-412-quay-operator-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-412-quay-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-412-quay-upgrade-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-413-quay-operator-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-413-quay-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-413-quay-upgrade-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-414-quay-operator-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-414-quay-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-414-quay-upgrade-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-415-quay-operator-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-415-quay-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-415-quay-upgrade-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-416-quay-operator-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-416-quay-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-416-quay-upgrade-regression.yaml
  ci-operator/jobs/quay/quay-tests/quay-quay-tests-master-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

changging cluster profile
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-412-quay-operator-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-412-quay-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-412-quay-upgrade-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-413-quay-operator-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-413-quay-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-413-quay-upgrade-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-414-quay-operator-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-414-quay-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-414-quay-upgrade-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-415-quay-operator-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-415-quay-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-415-quay-upgrade-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-416-quay-operator-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-416-quay-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-416-quay-upgrade-regression.yaml
  ci-operator/jobs/quay/quay-tests/quay-quay-tests-master-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

For debug baremetal
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.20__periodics-mce.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.21__periodics-mce.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

fix typo in dir name (#76209)
  ci-operator/step-registry/openshift-qe/rhoso/browbeat-run/openshift-qe-rhoso-browbeat-run-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix firefox in dockerfile for arm
  ci-operator/config/quay/quay-tests/quay-quay-tests-master.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

updated files
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-412-quay-operator-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-412-quay-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-412-quay-upgrade-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-413-quay-operator-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-413-quay-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-413-quay-upgrade-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-414-quay-operator-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-414-quay-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-414-quay-upgrade-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-415-quay-operator-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-415-quay-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-415-quay-upgrade-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-416-quay-operator-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-416-quay-regression.yaml
  ci-operator/config/quay/quay-tests/quay-quay-tests-master__ocp-416-quay-upgrade-regression.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Update Prow jobs with latest FBC images
  ci-operator/config/rhobs/observability-operator/rhobs-observability-operator-main__amd64-ocp-4.12-azure.yaml
  ci-operator/config/rhobs/observability-operator/rhobs-observability-operator-main__amd64-ocp-4.14-azure.yaml
  ci-operator/config/rhobs/observability-operator/rhobs-observability-operator-main__amd64-ocp-4.17-gcp.yaml
  ci-operator/config/rhobs/observability-operator/rhobs-observability-operator-main__amd64-ocp-4.18-gcp.yaml
  ci-operator/config/rhobs/observability-operator/rhobs-observability-operator-main__amd64-ocp-4.19-gcp.yaml
  ci-operator/config/rhobs/observability-operator/rhobs-observability-operator-main__amd64-ocp-4.20-azure.yaml
  ci-operator/config/rhobs/observability-operator/rhobs-observability-operator-main__amd64-ocp-4.21-azure.yaml
  ci-operator/config/rhobs/observability-operator/rhobs-observability-operator-main__arm64-ocp-4.16-gcp.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

DPTP-4724: Fix clusterrolebinding for sprint-automation (#76135)
  clusters/build-clusters/build01/ci/admin_sprint-automation_rbac.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Use src as base and install podman
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main.yaml
  ci-operator/step-registry/aro-hcp/exporter/aro-hcp-exporter-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Try fuse overlays
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Switch user back
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Use ci operator to build and oc mirror for post submit
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main.yaml
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-postsubmits.yaml
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-presubmits.yaml
  ci-operator/step-registry/aro-hcp/exporter/aro-hcp-exporter-commands.sh
  ci-operator/step-registry/aro-hcp/exporter/aro-hcp-exporter-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Readonly mod
  ci-operator/step-registry/aro-hcp/exporter/aro-hcp-exporter-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Use podman src as base and install tools
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Add context dir
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main.yaml
  ci-operator/step-registry/aro-hcp/exporter/aro-hcp-exporter-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Try ocp mirrot
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main.yaml
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-postsubmits.yaml
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-presubmits.yaml
  ci-operator/step-registry/aro-hcp/exporter/aro-hcp-exporter-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Migrate exporter image to prow
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main.yaml
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-postsubmits.yaml
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-presubmits.yaml
  ci-operator/step-registry/aro-hcp/exporter/OWNERS
  ci-operator/step-registry/aro-hcp/exporter/aro-hcp-exporter-commands.sh
  ci-operator/step-registry/aro-hcp/exporter/aro-hcp-exporter-ref.metadata.json
  ci-operator/step-registry/aro-hcp/exporter/aro-hcp-exporter-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Debug on Azure
  ci-operator/config/openshift/verification-tests/openshift-verification-tests-main__installer-rehearse-4.22.yaml
  ci-operator/jobs/openshift/verification-tests/openshift-verification-tests-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

fix: adding OPENSHIFT_INSTALL_EXPERIMENTAL_DISABLE_IMAGE_POLICY to solve SNO BiP failures
  ci-operator/step-registry/baremetalds/sno/setup/baremetalds-sno-setup-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

oadp-qe: expose oadp-apps-deployer interop branch
  ci-operator/config/oadp-qe/oadp-apps-deployer/oadp-qe-oadp-apps-deployer-interop.yaml
  ci-operator/jobs/oadp-qe/oadp-apps-deployer/oadp-qe-oadp-apps-deployer-interop-postsubmits.yaml
  ci-operator/jobs/oadp-qe/oadp-apps-deployer/oadp-qe-oadp-apps-deployer-interop-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Use oc mirror
  ci-operator/step-registry/aro-hcp/exporter/aro-hcp-exporter-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

DPTP-4724: Remove unused sprint-automation on build04
  clusters/build-clusters/build04/ci/admin_sprint-automation_rbac.yaml
  core-services/ci-secret-generator/_config.yaml
Due: ci/prow/ci-secret-bootstrap-config-validation, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/prow/secret-generator-config-valid, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

CNTRLPLANE-2647: Configure Cilum CNI periodic job on 4.21
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.20__periodics.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.21__periodics-mce.yaml
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.21__periodics.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.20-periodics.yaml
  ci-operator/jobs/openshift/hypershift/openshift-hypershift-release-4.21-periodics.yaml
  ci-operator/step-registry/hypershift/aws/conformance-cilium/hypershift-aws-conformance-cilium-workflow.yaml
  ci-operator/step-registry/hypershift/mce/agent/metal3/conformance/cilium/hypershift-mce-agent-metal3-conformance-cilium-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Cleanup configs for nmstate
  core-services/prow/02_config/nmstate/nmstate-console-plugin/OWNERS
  core-services/prow/02_config/nmstate/nmstate-console-plugin/_pluginconfig.yaml
  core-services/prow/02_config/nmstate/nmstate-console-plugin/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

hcp-test
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.21__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.21-periodics.yaml
  ci-operator/step-registry/cucushift/installer/rehearse/baremetalds/assisted/hypershift-agent/mce/guest/cucushift-installer-rehearse-baremetalds-assisted-hypershift-agent-mce-guest-workflow.yaml
  ci-operator/step-registry/hypershift/mce/agent/create/hostedcluster/hypershift-mce-agent-create-hostedcluster-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fixed regex for skipping job when changing only .md files
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main.yaml
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Update ODF_OPERATOR source and channel to 4.21
  ci-operator/config/openshift/hypershift/openshift-hypershift-release-4.21__periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Cleanup configs for nmstate (#76220)
  core-services/prow/02_config/nmstate/nmstate-console-plugin/OWNERS
  core-services/prow/02_config/nmstate/nmstate-console-plugin/_pluginconfig.yaml
  core-services/prow/02_config/nmstate/nmstate-console-plugin/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Ensure ansible playbook error is not ignored
  ci-operator/step-registry/cri-o/setup-fedora/test/cri-o-setup-fedora-test-commands.sh
  ci-operator/step-registry/cri-o/setup/test/cri-o-setup-test-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Pass subscription id to custom-link-tools (#75960)
  ci-operator/step-registry/aro-hcp/gather/custom-link-tools/aro-hcp-gather-custom-link-tools-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Drop python from aro hcp image build (#76182)
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Run GCP RHCOS10 regression jobs for MAPI, CAPI, CCM, CPMS
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)
