Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)

snc: Use project to identify if gcp storage exist (#79852)
  ci-operator/step-registry/gather/snc/gather-snc-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update Sail Operator jobs to use 4.21 as base and 4.22 as next OCP version (#79669)
  ci-operator/config/openshift-service-mesh/sail-operator/README.md
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-main__ocp-4.20.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-main__ocp-4.21.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-main__ocp-4.22.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.0__ocp-4.20.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.0__ocp-4.21.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.0__ocp-4.22.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.1__ocp-4.20.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.1__ocp-4.21.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.1__ocp-4.22.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.2__ocp-4.20.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.2__ocp-4.21.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.2__ocp-4.22.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.3__ocp-4.20.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.3__ocp-4.21.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.3__ocp-4.22.yaml
  ci-operator/jobs/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-main-periodics.yaml
  ci-operator/jobs/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-main-presubmits.yaml
  ci-operator/jobs/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.0-periodics.yaml
  ci-operator/jobs/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.0-presubmits.yaml
  ci-operator/jobs/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.1-periodics.yaml
  ci-operator/jobs/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.1-presubmits.yaml
  ci-operator/jobs/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.2-periodics.yaml
  ci-operator/jobs/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.2-presubmits.yaml
  ci-operator/jobs/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.3-periodics.yaml
  ci-operator/jobs/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.3-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

[NVIDIA-850] Move signed precompiled drivers to registry.stage.redhat.io
  ci-operator/config/rh-ecosystem-edge/nvidia-ci/rh-ecosystem-edge-nvidia-ci-main__4.21-stable.yaml
  ci-operator/step-registry/nvidia-gpu-operator/e2e-aws/nvidia-gpu-operator-e2e-aws-workflow.yaml
  ci-operator/step-registry/nvidia-gpu-operator/merge-stage-credentials/OWNERS
  ci-operator/step-registry/nvidia-gpu-operator/merge-stage-credentials/nvidia-gpu-operator-merge-stage-credentials-commands.sh
  ci-operator/step-registry/nvidia-gpu-operator/merge-stage-credentials/nvidia-gpu-operator-merge-stage-credentials-ref.metadata.json
  ci-operator/step-registry/nvidia-gpu-operator/merge-stage-credentials/nvidia-gpu-operator-merge-stage-credentials-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Skip HAProxy router idled service test for PowerVS versions below 4.22
  ci-operator/step-registry/openshift/e2e/libvirt/conf/openshift-e2e-libvirt-conf-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

observability-operator: add Peter as reviewer and approver
  core-services/prow/02_config/rhobs/observability-operator/OWNERS
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

HIVE-3148: Adding HCMbundle tests using OTE
  ci-operator/config/openshift/hive/openshift-hive-master__periodic.yaml
  ci-operator/jobs/openshift/hive/openshift-hive-master-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

fix: set GOCACHE to writable dir for go install in CI
  ci-operator/step-registry/capz/test/k3s-e2e/capz-test-k3s-e2e-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fix possible credential leak
  ci-operator/step-registry/nvidia-gpu-operator/merge-stage-credentials/nvidia-gpu-operator-merge-stage-credentials-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Adjust timeout and machineCount wait condition
  ci-operator/step-registry/nvidia-gpu-operator/merge-stage-credentials/nvidia-gpu-operator-merge-stage-credentials-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add ove connected job (#79826)
  ci-operator/config/openshift-eng/agent-qe-infra/openshift-eng-agent-qe-infra-release-4.21__amd64-nightly.yaml
  ci-operator/jobs/openshift-eng/agent-qe-infra/openshift-eng-agent-qe-infra-release-4.21-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Protect finops-tools branches
  core-services/prow/02_config/openshift-online/finops-tools/_pluginconfig.yaml
  core-services/prow/02_config/openshift-online/finops-tools/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

increase compute nodes for serverless lp-interop jobs
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-release-1.37__ocp-4.22-lp-interop.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-test-mapping: better memory limits
  ci-operator/config/openshift-eng/ci-test-mapping/openshift-eng-ci-test-mapping-main.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Fix the ordering
  core-services/prow/02_config/openshift-online/finops-tools/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Use slot-manager for e2e jobs
  ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main.yaml
  ci-operator/jobs/Azure/ARO-HCP/Azure-ARO-HCP-main-presubmits.yaml
  ci-operator/step-registry/aro-hcp/lease/acquire/OWNERS
  ci-operator/step-registry/aro-hcp/lease/acquire/aro-hcp-lease-acquire-commands.sh
  ci-operator/step-registry/aro-hcp/lease/acquire/aro-hcp-lease-acquire-ref.metadata.json
  ci-operator/step-registry/aro-hcp/lease/acquire/aro-hcp-lease-acquire-ref.yaml
  ci-operator/step-registry/aro-hcp/lease/release/OWNERS
  ci-operator/step-registry/aro-hcp/lease/release/aro-hcp-lease-release-commands.sh
  ci-operator/step-registry/aro-hcp/lease/release/aro-hcp-lease-release-ref.metadata.json
  ci-operator/step-registry/aro-hcp/lease/release/aro-hcp-lease-release-ref.yaml
  ci-operator/step-registry/aro-hcp/local-e2e/aro-hcp-local-e2e-workflow.yaml
  ci-operator/step-registry/aro-hcp/provision/environment/aro-hcp-provision-environment-commands.sh
  ci-operator/step-registry/aro-hcp/provision/environment/aro-hcp-provision-environment-ref.yaml
  ci-operator/step-registry/aro-hcp/test/local/aro-hcp-test-local-commands.sh
  ci-operator/step-registry/aro-hcp/write-config/aro-hcp-write-config-commands.sh
  ci-operator/step-registry/aro-hcp/write-config/aro-hcp-write-config-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add bastion host validation to ovn-kubernetes CI for AWS, GCP, and Azure
  ci-operator/config/openshift/ovn-kubernetes/openshift-ovn-kubernetes-main.yaml
  ci-operator/step-registry/aws/validate/OWNERS
  ci-operator/step-registry/aws/validate/bastionhost/OWNERS
  ci-operator/step-registry/aws/validate/bastionhost/aws-validate-bastionhost-commands.sh
  ci-operator/step-registry/aws/validate/bastionhost/aws-validate-bastionhost-ref.metadata.json
  ci-operator/step-registry/aws/validate/bastionhost/aws-validate-bastionhost-ref.yaml
  ci-operator/step-registry/azure/provision/bastionhost/azure-provision-bastionhost-commands.sh
  ci-operator/step-registry/azure/validate/OWNERS
  ci-operator/step-registry/azure/validate/bastionhost/OWNERS
  ci-operator/step-registry/azure/validate/bastionhost/azure-validate-bastionhost-commands.sh
  ci-operator/step-registry/azure/validate/bastionhost/azure-validate-bastionhost-ref.metadata.json
  ci-operator/step-registry/azure/validate/bastionhost/azure-validate-bastionhost-ref.yaml
  ci-operator/step-registry/gcp/provision/bastionhost/gcp-provision-bastionhost-commands.sh
  ci-operator/step-registry/gcp/validate/OWNERS
  ci-operator/step-registry/gcp/validate/bastionhost/OWNERS
  ci-operator/step-registry/gcp/validate/bastionhost/gcp-validate-bastionhost-commands.sh
  ci-operator/step-registry/gcp/validate/bastionhost/gcp-validate-bastionhost-ref.metadata.json
  ci-operator/step-registry/gcp/validate/bastionhost/gcp-validate-bastionhost-ref.yaml
  ci-operator/step-registry/openshift/e2e/aws/ovn-bastion/OWNERS
  ci-operator/step-registry/openshift/e2e/aws/ovn-bastion/openshift-e2e-aws-ovn-bastion-workflow.metadata.json
  ci-operator/step-registry/openshift/e2e/aws/ovn-bastion/openshift-e2e-aws-ovn-bastion-workflow.yaml
  ci-operator/step-registry/openshift/e2e/azure/ovn-bastion/OWNERS
  ci-operator/step-registry/openshift/e2e/azure/ovn-bastion/openshift-e2e-azure-ovn-bastion-workflow.metadata.json
  ci-operator/step-registry/openshift/e2e/azure/ovn-bastion/openshift-e2e-azure-ovn-bastion-workflow.yaml
  ci-operator/step-registry/openshift/e2e/gcp/ovn-bastion/OWNERS
  ci-operator/step-registry/openshift/e2e/gcp/ovn-bastion/openshift-e2e-gcp-ovn-bastion-workflow.metadata.json
  ci-operator/step-registry/openshift/e2e/gcp/ovn-bastion/openshift-e2e-gcp-ovn-bastion-workflow.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Sleep 5h for debugging overlay networks
  ci-operator/step-registry/baremetalds/e2e/test/baremetalds-e2e-test-commands.sh
  ci-operator/step-registry/openshift/e2e/test/openshift-e2e-test-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Migrate to new lpGA variant
  ci-operator/config/openshift-pipelines/release-tests/openshift-pipelines-release-tests-release-v1.22__ocp-4.22-lpGA-lp-ocp-compat.yaml
  ci-operator/jobs/openshift-pipelines/release-tests/openshift-pipelines-release-tests-release-v1.22-periodics.yaml
  ci-operator/jobs/openshift-pipelines/release-tests/openshift-pipelines-release-tests-release-v1.22-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Test: Remove ipv4 security groups for aws bastion
  ci-operator/step-registry/aws/provision/bastionhost/aws-provision-bastionhost-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-lpinterop-3.3__ocp-4.22-lpGA-lp-ocp-compat.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-lpinterop-3.3__ocp-4.22-lpGA-lp-ocp-compat.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

add simple job for testing CO on RHCOS 10
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

make jobs
  ci-operator/jobs/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-lpinterop-3.3-periodics.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

Move all dev capacity to new leases. Add leases for new subscription
  core-services/prow/02_config/_boskos.yaml
  core-services/prow/02_config/generate-boskos.py
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

Migrate to new lpGA variant (#79868)
  ci-operator/config/openshift-pipelines/release-tests/openshift-pipelines-release-tests-release-v1.22__ocp-4.22-lpGA-lp-ocp-compat.yaml
  ci-operator/jobs/openshift-pipelines/release-tests/openshift-pipelines-release-tests-release-v1.22-periodics.yaml
  ci-operator/jobs/openshift-pipelines/release-tests/openshift-pipelines-release-tests-release-v1.22-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

CNTRLPLANE-3425: disable conversion webhook and limit CRD install for Azure and GCP
  ci-operator/step-registry/hypershift/install/hypershift-install-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Revert deletion of cp result files
  ci-operator/step-registry/servicemesh/sail-operator/e2e-lpinterop/servicemesh-sail-operator-e2e-lpinterop-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Revert deletion of cp result files
  ci-operator/step-registry/gitops-operator/tests/gitops-operator-tests-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Add image cache prune and increase disconnected step timeout
  ci-operator/config/openshift-cnv/ocp-virt-validation-checkup/openshift-cnv-ocp-virt-validation-checkup-main__periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Switch from cli to cli-jq image
  ci-operator/step-registry/nvidia-gpu-operator/merge-stage-credentials/nvidia-gpu-operator-merge-stage-credentials-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Apply suggestions from code review
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master__ocp-4.22-lpGA-lp-ocp-compat-acs-latest.yaml
  ci-operator/step-registry/stackrox/qa-e2e/stackrox-qa-e2e-commands.sh
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update ExitTrap to use generic approach
  ci-operator/step-registry/stackrox/compliance-e2e/stackrox-compliance-e2e-commands.sh
  ci-operator/step-registry/stackrox/qa-e2e/stackrox-qa-e2e-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

openstack-test: migrate CI config to OTE (openshift-tests-extension)
  ci-operator/config/openshift/openstack-test/openshift-openstack-test-main.yaml
  ci-operator/step-registry/openstack/test/openstack-ote/OWNERS
  ci-operator/step-registry/openstack/test/openstack-ote/openstack-test-openstack-ote-commands.sh
  ci-operator/step-registry/openstack/test/openstack-ote/openstack-test-openstack-ote-ref.metadata.json
  ci-operator/step-registry/openstack/test/openstack-ote/openstack-test-openstack-ote-ref.yaml
  ci-operator/step-registry/openstack/test/openstack/openstack-test-openstack-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Switch lpGA and lpMainline variants
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-master__ocp-4.22-lpMainline-lp-ocp-compat.yaml
  ci-operator/config/stackrox/stackrox/stackrox-stackrox-release-4.10__ocp-4-22-lpGA-lp-ocp-compat.yaml
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-master-periodics.yaml
  ci-operator/jobs/stackrox/stackrox/stackrox-stackrox-release-4.10-periodics.yaml
Due: ci/prow/stackrox-stackrox-stackrox-stackrox-check, ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

NO_ISSUE: test streaming pull optimization (cluster-tool)
  ci-operator/step-registry/osac-project/cluster-tool/boot/osac-project-cluster-tool-boot-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Fail immediately on timeout, only retry transient errors
  ci-operator/step-registry/mco/conf/day2/os-image-stream-default/mco-conf-day2-os-image-stream-default-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

NETOBSERV-2637: fir netobserv BM tests (#78402)
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.14__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.17__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.21__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22__amd64-nightly.yaml
  ci-operator/config/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.0__amd64-nightly.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.14-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.16-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.17-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.18-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.19-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.20-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.21-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-4.22-periodics.yaml
  ci-operator/jobs/openshift/openshift-tests-private/openshift-openshift-tests-private-release-5.0-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add incident detection UI tests to all 4.19+ observability-operator configs (#75225)
  ci-operator/config/rhobs/observability-operator/rhobs-observability-operator-main__amd64-ocp-4.20-azure.yaml
  ci-operator/config/rhobs/observability-operator/rhobs-observability-operator-main__amd64-ocp-4.21-azure.yaml
  ci-operator/config/rhobs/observability-operator/rhobs-observability-operator-main__amd64-ocp-4.21-gcp-interop.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Moved the script to generate prowjobs from GDocs to github
  hack/make-pjs.sh
Due: none
