Repository openshift/release: changes, and which Prow jobs are due for each by the changed paths.
All: services-valid, ci/openshift/promrules, ci/prow/pylint, ci/prow/services-valid, ci/prow/stackrox-stackrox-stackrox-stackrox-check, branch-ci-openshift-release-master-gsm-secrets-reconciler, branch-ci-openshift-release-master-label-sync, ci/prow/check-cluster-profiles-config, ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/image-mirroring-config-validation, ci/prow/ci-secret-bootstrap-config-validation, ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/prow/boskos-config, ci/prow/boskos-config-generation, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/ci-testgrid-allow-list, ci/prow/config, ci/prow/generated-config, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/prow/jira-lifecycle-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics, ci/prow/release-config, ci/prow/secret-generator-config-valid, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck, ci/build-farm/vsphere02-dry, ci/prow/pr-reminder-config, ci/prow/sync-rover-groups

services-valid:
  commands: make check-services
  container:
    from: src

ci/openshift/promrules:
  decorate: true
  spec:
    containers:
    - command:
      - /go/entrypoint.sh
      image: registry.svc.ci.openshift.org/ci/promrules:latest
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
          cpu: 500m
        requests:
          cpu: 10m

ci/prow/pylint:
  decorate: true
  spec:
    containers:
    - args:
      - --rcfile=hack/.pylintrc
      - --ignore=lib
      - --persistent=n
      - hack
      command:
      - pylint
      image: registry.svc.ci.openshift.org/ci/python-validation
      imagePullPolicy: Always
      name: ''
      resources:
        limits:
  ...

ci/prow/services-valid:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/stackrox-stackrox-stackrox-stackrox-check:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: stackrox-stackrox
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

branch-ci-openshift-release-master-gsm-secrets-reconciler:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/sync-rover-groups/_config.yaml
      - --log-level=info
      - --gcp-service-account-key-file=/tmp/gcp-credentials/key.json
      command:
      - gsm-secret-sync
      env:
  ...

branch-ci-openshift-release-master-label-sync:
  decorate: true
  labels:
    ci.openshift.io/role: infra
  spec:
    containers:
    - args:
      - --config=./core-services/prow/02_config/_labels.yaml
      - --confirm=true
  ...

ci/prow/check-cluster-profiles-config:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    automountServiceAccountToken: true
    containers:
    - args:
      - --config-path=./ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml
      command:
      - check-cluster-profiles-config
  ...

ci/prow/check-gh-automation:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --bot=openshift-merge-robot
      - --bot=openshift-ci-robot
      - --app=openshift-ci
      - --app-check-mode=standard
      - --candidate-path=.
  ...

ci/prow/check-gh-automation-tide:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --app=openshift-merge-bot
      - --app-check-mode=tide
      - --candidate-path=.
      - --config-path=./core-services/prow/02_config/_config.yaml
  ...

Remove duplicate ClusterRoleBinding in release-controller (#76369)
  clusters/app.ci/crt/admin_generated_rbac.yaml
  hack/generators/release-controllers/content/rbac_resources.py
  hack/generators/release-controllers/content/trt_rbac.py
Due: ci/prow/pylint, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Updating the scenario on ROSA HCP to OCP4.21 (#76355)
  ci-operator/config/rhbk/sso-test/rhbk-sso-test-main__rhsso-product-ocp4.21-lp-rosa-hypershift.yaml
  ci-operator/jobs/rhbk/sso-test/rhbk-sso-test-main-periodics.yaml
  ci-operator/jobs/rhbk/sso-test/rhbk-sso-test-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

OTA-1764: CVO: Add an Optional TLS Scanner Presubmit Job (#76044)
  ci-operator/config/openshift/cluster-version-operator/openshift-cluster-version-operator-main.yaml
  ci-operator/jobs/openshift/cluster-version-operator/openshift-cluster-version-operator-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add Slack alerts for rosa-regional-platform periodic job failures (#76392)
  core-services/prow/02_config/openshift-online/rosa-regional-platform/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

openshift/cluster-kube-scheduler-operator: split aws-ovn-serial job into shards (#74151)
  ci-operator/config/openshift/cluster-kube-scheduler-operator/openshift-cluster-kube-scheduler-operator-main.yaml
  ci-operator/config/openshift/cluster-kube-scheduler-operator/openshift-cluster-kube-scheduler-operator-release-4.19.yaml
  ci-operator/config/openshift/cluster-kube-scheduler-operator/openshift-cluster-kube-scheduler-operator-release-4.20.yaml
  ci-operator/config/openshift/cluster-kube-scheduler-operator/openshift-cluster-kube-scheduler-operator-release-4.21.yaml
  ci-operator/config/openshift/cluster-kube-scheduler-operator/openshift-cluster-kube-scheduler-operator-release-4.22.yaml
  ci-operator/config/openshift/cluster-kube-scheduler-operator/openshift-cluster-kube-scheduler-operator-release-4.23.yaml
  ci-operator/jobs/openshift/cluster-kube-scheduler-operator/openshift-cluster-kube-scheduler-operator-main-presubmits.yaml
  ci-operator/jobs/openshift/cluster-kube-scheduler-operator/openshift-cluster-kube-scheduler-operator-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift/cluster-kube-scheduler-operator/openshift-cluster-kube-scheduler-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift/cluster-kube-scheduler-operator/openshift-cluster-kube-scheduler-operator-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift/cluster-kube-scheduler-operator/openshift-cluster-kube-scheduler-operator-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/cluster-kube-scheduler-operator/openshift-cluster-kube-scheduler-operator-release-4.23-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Add baremetal clean up fixes (#76348)
  ci-operator/step-registry/baremetal/lab/ipi/deprovision/baremetal-lab-ipi-deprovision-commands.sh
  ci-operator/step-registry/baremetal/lab/post/wipe/baremetal-lab-post-wipe-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Update maistra/istio builder image (#76370)
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-main__ocp-4.20.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-main__ocp-4.21.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.0__ocp-4.20.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.1__ocp-4.20.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.2__ocp-4.20.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.2__ocp-4.21.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.3__ocp-4.20.yaml
  ci-operator/config/openshift-service-mesh/sail-operator/openshift-service-mesh-sail-operator-release-3.3__ocp-4.21.yaml
  core-services/image-mirroring/_config.yaml
Due: ci/prow/check-gh-automation, ci/prow/image-mirroring-config-validation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Fix rh-ecosystem-edge 4.17 cluster pool imageSetRef (#76391)
  clusters/hosted-mgmt/hive/pools/rh-ecosystem-edge/ocp-4-17-0_cluster-pool.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Increase ISO build timeout to 4h (#76384)
  ci-operator/step-registry/openshift/microshift/infra/iso-build/openshift-microshift-infra-iso-build-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Validate main promotion: Prow includedBranches + periodic current-release, require release-X disabled only when repo has main/master (#76343)
  Makefile
  hack/validate-main-promotion-guard.py
Due: ci/prow/pylint

Add namespace for templates on app.ci (#76385)
  clusters/app.ci/openshift-user-workload-monitoring/mixins/_prometheus/alertmanager_user_workload_secret.jsonnet
  clusters/app.ci/openshift-user-workload-monitoring/mixins/prometheus_out/alertmanager-user-workload-secret_template.yaml
  clusters/app.ci/payload-testing-ui/payload-testing-ui.yaml
  clusters/app.ci/prow/03_deployment/boskos.yaml
  clusters/app.ci/prow/03_deployment/deck.yaml
  clusters/app.ci/prow/03_deployment/gangway.yaml
  clusters/app.ci/prow/03_deployment/gcsweb-private.yaml
  clusters/app.ci/prow/03_deployment/gcsweb-qe-private-deck.yaml
  clusters/app.ci/prow/03_deployment/qe_private_deck.yaml
  clusters/app.ci/prow/staging/deck.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/generated-dashboards, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

add all oadp func test ocp5.0 (#76361)
  ci-operator/config/openshift/oadp-operator/openshift-oadp-operator-oadp-1.6__5.0.yaml
  ci-operator/jobs/openshift/oadp-operator/openshift-oadp-operator-oadp-1.6-periodics.yaml
  ci-operator/jobs/openshift/oadp-operator/openshift-oadp-operator-oadp-1.6-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

USHIFT-6707: Fix microshift branch selection for clone (#76380)
  ci-operator/step-registry/openshift/microshift/includes/openshift-microshift-includes-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Updating the scenario on ROSA HCP to OCP4.21 (#76358)
  ci-operator/config/redhat-developer/devspaces-interop-tests/redhat-developer-devspaces-interop-tests-main__devspaces-ocp4.21-lp-rosa-hypershift.yaml
  ci-operator/jobs/redhat-developer/devspaces-interop-tests/redhat-developer-devspaces-interop-tests-main-periodics.yaml
  ci-operator/jobs/redhat-developer/devspaces-interop-tests/redhat-developer-devspaces-interop-tests-main-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

add repo openshift vcf-migration-operator (#76346)
  ci-operator/config/openshift/vcf-migration-operator/OWNERS
  ci-operator/config/openshift/vcf-migration-operator/openshift-vcf-migration-operator-main.yaml
  core-services/prow/02_config/openshift/vcf-migration-operator/OWNERS
  core-services/prow/02_config/openshift/vcf-migration-operator/_pluginconfig.yaml
  core-services/prow/02_config/openshift/vcf-migration-operator/_prowconfig.yaml
Due: ci/prow/check-gh-automation, ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config, ci/prow/prow-config-filenames

feat: set presubmit prow jobs as optional for models-as-a-service (#76360)
  ci-operator/config/opendatahub-io/models-as-a-service/opendatahub-io-models-as-a-service-main.yaml
  ci-operator/config/opendatahub-io/models-as-a-service/opendatahub-io-models-as-a-service-rhoai.yaml
  ci-operator/config/opendatahub-io/models-as-a-service/opendatahub-io-models-as-a-service-stable.yaml
  ci-operator/jobs/opendatahub-io/models-as-a-service/opendatahub-io-models-as-a-service-main-presubmits.yaml
  ci-operator/jobs/opendatahub-io/models-as-a-service/opendatahub-io-models-as-a-service-rhoai-presubmits.yaml
  ci-operator/jobs/opendatahub-io/models-as-a-service/opendatahub-io-models-as-a-service-stable-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

oadp: fix tests (#75444)
  ci-operator/config/oadp-qe/oadp-qe-automation/oadp-qe-oadp-qe-automation-oadp-1.5__oadp1.5-ocp-4.21-lp-interop-cr.yaml
  ci-operator/step-registry/interop-tests/deploy-odf/interop-tests-deploy-odf-ref.yaml
  ci-operator/step-registry/oadp/execute-tests/oadp-execute-tests-commands.sh
  ci-operator/step-registry/oadp/execute-tests/oadp-execute-tests-ref.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

fix: updates for `deployOnHub` framework test name (#76164)
  core-services/prow/02_config/stolostron/cert-policy-controller/_prowconfig.yaml
  core-services/prow/02_config/stolostron/config-policy-controller/_prowconfig.yaml
  core-services/prow/02_config/stolostron/go-template-utils/_prowconfig.yaml
  core-services/prow/02_config/stolostron/governance-policy-addon-controller/_prowconfig.yaml
  core-services/prow/02_config/stolostron/governance-policy-framework-addon/_prowconfig.yaml
  core-services/prow/02_config/stolostron/governance-policy-framework/_prowconfig.yaml
  core-services/prow/02_config/stolostron/governance-policy-propagator/_prowconfig.yaml
  core-services/prow/02_config/stolostron/policy-generator-plugin/_prowconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

hive: pass basedomain for azure clusters (#76389)
  ci-operator/config/openshift/hive/openshift-hive-master.yaml
  ci-operator/config/openshift/hive/openshift-hive-master__periodic.yaml
  ci-operator/step-registry/ipi/conf/azure/ipi-conf-azure-commands.sh
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

GCP-401: Add CI infrastructure for HyperShift GCP e2e tests (#74552)
  ci-operator/step-registry/hypershift/gcp/control-plane-setup/OWNERS
  ci-operator/step-registry/hypershift/gcp/control-plane-setup/hypershift-gcp-control-plane-setup-commands.sh
  ci-operator/step-registry/hypershift/gcp/control-plane-setup/hypershift-gcp-control-plane-setup-ref.metadata.json
  ci-operator/step-registry/hypershift/gcp/control-plane-setup/hypershift-gcp-control-plane-setup-ref.yaml
  ci-operator/step-registry/hypershift/gcp/gke/deprovision/OWNERS
  ci-operator/step-registry/hypershift/gcp/gke/deprovision/hypershift-gcp-gke-deprovision-commands.sh
  ci-operator/step-registry/hypershift/gcp/gke/deprovision/hypershift-gcp-gke-deprovision-ref.metadata.json
  ci-operator/step-registry/hypershift/gcp/gke/deprovision/hypershift-gcp-gke-deprovision-ref.yaml
  ci-operator/step-registry/hypershift/gcp/gke/e2e/hypershift-gcp-gke-e2e-workflow.yaml
  ci-operator/step-registry/hypershift/gcp/gke/prerequisites/OWNERS
  ci-operator/step-registry/hypershift/gcp/gke/prerequisites/hypershift-gcp-gke-prerequisites-commands.sh
  ci-operator/step-registry/hypershift/gcp/gke/prerequisites/hypershift-gcp-gke-prerequisites-ref.metadata.json
  ci-operator/step-registry/hypershift/gcp/gke/prerequisites/hypershift-gcp-gke-prerequisites-ref.yaml
  ci-operator/step-registry/hypershift/gcp/gke/provision/OWNERS
  ci-operator/step-registry/hypershift/gcp/gke/provision/hypershift-gcp-gke-provision-commands.sh
  ci-operator/step-registry/hypershift/gcp/gke/provision/hypershift-gcp-gke-provision-ref.metadata.json
  ci-operator/step-registry/hypershift/gcp/gke/provision/hypershift-gcp-gke-provision-ref.yaml
  ci-operator/step-registry/hypershift/gcp/hosted-cluster-setup/OWNERS
  ci-operator/step-registry/hypershift/gcp/hosted-cluster-setup/hypershift-gcp-hosted-cluster-setup-commands.sh
  ci-operator/step-registry/hypershift/gcp/hosted-cluster-setup/hypershift-gcp-hosted-cluster-setup-ref.metadata.json
  ci-operator/step-registry/hypershift/gcp/hosted-cluster-setup/hypershift-gcp-hosted-cluster-setup-ref.yaml
  ci-operator/step-registry/hypershift/gcp/run-e2e/hypershift-gcp-run-e2e-commands.sh
  ci-operator/step-registry/hypershift/gcp/run-e2e/hypershift-gcp-run-e2e-ref.yaml
  ci-operator/step-registry/hypershift/install/hypershift-install-commands.sh
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Sync Serverless CI config/ (#76094)
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__4.20-techpreview.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__414.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__420-aws-ovn.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__420-azure.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__420-gcp.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__420-hypershift.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__420-single-node.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__420-vsphere.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__420.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main__421.yaml
  ci-operator/config/openshift-knative/serverless-operator/openshift-knative-serverless-operator-release-1.37__ocp-4.23-lp-interop-cr.yaml
  ci-operator/jobs/openshift-knative/serverless-operator/openshift-knative-serverless-operator-main-periodics.yaml
  ci-operator/jobs/openshift-knative/serverless-operator/openshift-knative-serverless-operator-release-1.37-periodics.yaml
  ci-operator/jobs/openshift-knative/serverless-operator/openshift-knative-serverless-operator-release-1.37-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

submariner-addon: bump 2.14-2.16 to ocp/4.20 (#75554)
  ci-operator/config/stolostron/submariner-addon/stolostron-submariner-addon-release-2.14.yaml
  ci-operator/config/stolostron/submariner-addon/stolostron-submariner-addon-release-2.15.yaml
  ci-operator/config/stolostron/submariner-addon/stolostron-submariner-addon-release-2.16.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Update oc-mirror integration tests (#76146)
  ci-operator/config/openshift/oc-mirror/openshift-oc-mirror-main.yaml
  ci-operator/config/openshift/oc-mirror/openshift-oc-mirror-release-4.21.yaml
  ci-operator/config/openshift/oc-mirror/openshift-oc-mirror-release-4.22.yaml
  ci-operator/config/openshift/oc-mirror/openshift-oc-mirror-release-4.23.yaml
  ci-operator/config/openshift/oc-mirror/openshift-oc-mirror-release-5.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

config-brancher --config-dir ./ci-operator/config --current-release 4.22 --skip-periodics --future-release 4.23 --future-release 5.0 --confirm
  ci-operator/config/openshift/cluster-kube-scheduler-operator/openshift-cluster-kube-scheduler-operator-release-5.0.yaml
  ci-operator/config/openshift/cluster-version-operator/openshift-cluster-version-operator-release-4.22.yaml
  ci-operator/config/openshift/cluster-version-operator/openshift-cluster-version-operator-release-4.23.yaml
  ci-operator/config/openshift/cluster-version-operator/openshift-cluster-version-operator-release-5.0.yaml
  ci-operator/config/openshift/monitoring-plugin/openshift-monitoring-plugin-release-4.22.yaml
  ci-operator/config/openshift/monitoring-plugin/openshift-monitoring-plugin-release-4.23.yaml
  ci-operator/config/openshift/monitoring-plugin/openshift-monitoring-plugin-release-5.0.yaml
  ci-operator/config/openshift/vcf-migration-operator/openshift-vcf-migration-operator-release-4.22.yaml
  ci-operator/config/openshift/vcf-migration-operator/openshift-vcf-migration-operator-release-4.23.yaml
  ci-operator/config/openshift/vcf-migration-operator/openshift-vcf-migration-operator-release-5.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-main.yaml
  ci-operator/config/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.19.yaml
  ci-operator/config/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.20.yaml
  ci-operator/config/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.21.yaml
  ci-operator/config/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.22.yaml
  ci-operator/config/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.23.yaml
  ci-operator/config/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-5.0.yaml
  ci-operator/config/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-main.yaml
  ci-operator/config/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-release-4.22.yaml
  ci-operator/config/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-release-4.23.yaml
  ci-operator/config/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-release-5.0.yaml
  ci-operator/config/openshift-priv/monitoring-plugin/openshift-priv-monitoring-plugin-main.yaml
  ci-operator/config/openshift-priv/monitoring-plugin/openshift-priv-monitoring-plugin-release-4.22.yaml
  ci-operator/config/openshift-priv/monitoring-plugin/openshift-priv-monitoring-plugin-release-4.23.yaml
  ci-operator/config/openshift-priv/monitoring-plugin/openshift-priv-monitoring-plugin-release-5.0.yaml
  ci-operator/config/openshift-priv/oadp-operator/openshift-priv-oadp-operator-oadp-1.6__5.0.yaml
  ci-operator/config/openshift-priv/vcf-migration-operator/openshift-priv-vcf-migration-operator-main.yaml
  ci-operator/config/openshift-priv/vcf-migration-operator/openshift-priv-vcf-migration-operator-release-4.22.yaml
  ci-operator/config/openshift-priv/vcf-migration-operator/openshift-priv-vcf-migration-operator-release-4.23.yaml
  ci-operator/config/openshift-priv/vcf-migration-operator/openshift-priv-vcf-migration-operator-release-5.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

clusterimageset-updater --pools ./clusters/hosted-mgmt/hive/pools --imagesets ./clusters/hosted-mgmt/hive/pools
  clusters/hosted-mgmt/hive/pools/ocp-release-4.16.58-multi-for-4.16.0-0-to-4.17.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.17.51-multi-for-4.17.0-0-to-4.18.0-0_clusterimageset.yaml
  clusters/hosted-mgmt/hive/pools/ocp-release-4.21.6-multi-for-4.21.0-0-to-4.22.0-0_clusterimageset.yaml
Due: ci/prow/clusterimageset-validate, ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/build-farm/hosted-mgmt-dry, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

ci-operator-prowgen --from-dir ./ci-operator/config --to-dir ./ci-operator/jobs
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift-priv/monitoring-plugin/openshift-priv-monitoring-plugin-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/monitoring-plugin/openshift-priv-monitoring-plugin-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift-priv/monitoring-plugin/openshift-priv-monitoring-plugin-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift-priv/monitoring-plugin/openshift-priv-monitoring-plugin-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift-priv/oadp-operator/openshift-priv-oadp-operator-oadp-1.6-presubmits.yaml
  ci-operator/jobs/openshift/cluster-kube-scheduler-operator/openshift-cluster-kube-scheduler-operator-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift/cluster-version-operator/openshift-cluster-version-operator-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/cluster-version-operator/openshift-cluster-version-operator-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift/cluster-version-operator/openshift-cluster-version-operator-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift/monitoring-plugin/openshift-monitoring-plugin-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/monitoring-plugin/openshift-monitoring-plugin-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift/monitoring-plugin/openshift-monitoring-plugin-release-5.0-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

[openshift-psap/topsail-ng] fix the secret path and exec into our entrypoint (#76401)
  ci-operator/config/openshift-psap/topsail-ng/openshift-psap-topsail-ng-main__jump.yaml
  ci-operator/config/openshift-psap/topsail-ng/openshift-psap-topsail-ng-main__llmd.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

sanitize-prow-jobs --prow-jobs-dir ./ci-operator/jobs --config-path ./core-services/sanitize-prow-jobs/_config.yaml
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.19-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.20-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.21-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-kube-scheduler-operator/openshift-priv-cluster-kube-scheduler-operator-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift-priv/cluster-version-operator/openshift-priv-cluster-version-operator-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift-priv/monitoring-plugin/openshift-priv-monitoring-plugin-main-presubmits.yaml
  ci-operator/jobs/openshift-priv/monitoring-plugin/openshift-priv-monitoring-plugin-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift-priv/monitoring-plugin/openshift-priv-monitoring-plugin-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift-priv/monitoring-plugin/openshift-priv-monitoring-plugin-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift-priv/oadp-operator/openshift-priv-oadp-operator-oadp-1.6-presubmits.yaml
  ci-operator/jobs/openshift/cluster-kube-scheduler-operator/openshift-cluster-kube-scheduler-operator-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift/cluster-version-operator/openshift-cluster-version-operator-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/cluster-version-operator/openshift-cluster-version-operator-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift/cluster-version-operator/openshift-cluster-version-operator-release-5.0-presubmits.yaml
  ci-operator/jobs/openshift/monitoring-plugin/openshift-monitoring-plugin-release-4.22-presubmits.yaml
  ci-operator/jobs/openshift/monitoring-plugin/openshift-monitoring-plugin-release-4.23-presubmits.yaml
  ci-operator/jobs/openshift/monitoring-plugin/openshift-monitoring-plugin-release-5.0-presubmits.yaml
Due: ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics

private-prow-configs-mirror --release-repo-path . --github-token-path /etc/github/oauth --github-endpoint http://ghproxy --dry-run false --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  core-services/prow/02_config/openshift-priv/vcf-migration-operator/_pluginconfig.yaml
Due: ci/prow/check-gh-automation-tide, ci/prow/boskos-config-generation, ci/prow/config, ci/prow/prow-config

ci-operator-config-mirror --config-dir ./ci-operator/config --to-org openshift-priv --only-org openshift --whitelist-file ./core-services/openshift-priv/_whitelist.yaml
  ci-operator/config/openshift-priv/oc-mirror/openshift-priv-oc-mirror-main.yaml
  ci-operator/config/openshift-priv/oc-mirror/openshift-priv-oc-mirror-release-4.21.yaml
  ci-operator/config/openshift-priv/oc-mirror/openshift-priv-oc-mirror-release-4.22.yaml
  ci-operator/config/openshift-priv/oc-mirror/openshift-priv-oc-mirror-release-4.23.yaml
  ci-operator/config/openshift-priv/oc-mirror/openshift-priv-oc-mirror-release-5.0.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames

Updating automated triggering and reporting for ROSA HCP 4.21 (#76416)
  ci-operator/config/rhpit/interop-tests/rhpit-interop-tests-main__weekly_trigger.yaml
  ci-operator/jobs/rhpit/interop-tests/rhpit-interop-tests-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

[INTEROP-8913] NFD: Updating the scenario on ROSA HCP to OCP4.21 (#76354)
  ci-operator/config/openshift/cluster-nfd-operator/openshift-cluster-nfd-operator-release-4.21__ocp4.21-lp-rosa-hypershift.yaml
  ci-operator/jobs/openshift/cluster-nfd-operator/openshift-cluster-nfd-operator-release-4.21-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

Use aos-team-dp-testplatform@redhat.com for Jira auth in periodics, slack-bot, and hook (#76421)
  ci-operator/jobs/infra-periodics-migrated.yaml
  clusters/app.ci/assets/slack-bot.yaml
  clusters/app.ci/prow/03_deployment/hook.yaml
Due: ci/build-farm/app-ci-config-dry, ci/build-farm/build01-dry, ci/build-farm/build02-dry, ci/build-farm/build03-dry, ci/build-farm/build04-dry, ci/build-farm/build05-dry, ci/build-farm/build06-dry, ci/build-farm/build09-dry, ci/build-farm/build10-dry, ci/build-farm/build11-dry, ci/prow/config, ci/prow/generated-config, ci/build-farm/hosted-mgmt-dry, ci/prow/ordered-prow-config, ci/prow/prow-config-semantics, ci/build-farm/vsphere02-dry, ci/prow/sync-rover-groups

Add rhcos10 techpreview job for IBM Z (orange zone) (#76263)
  ci-operator/config/openshift/multiarch/openshift-multiarch-main__nightly-4.22.yaml
  ci-operator/jobs/openshift/multiarch/openshift-multiarch-main-periodics.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

[kserve] Add v0.17 CI and llmisvc tests on master (#76351)
  ci-operator/config/opendatahub-io/kserve/opendatahub-io-kserve-release-v0.17.yaml
  ci-operator/jobs/opendatahub-io/kserve/opendatahub-io-kserve-release-v0.17-postsubmits.yaml
  ci-operator/jobs/opendatahub-io/kserve/opendatahub-io-kserve-release-v0.17-presubmits.yaml
Due: ci/prow/check-gh-automation, ci/prow/ci-operator-config, ci/prow/ci-operator-config-metadata, ci/prow/ci-operator-registry, ci/prow/config, ci/prow/generated-config, ci/prow/ordered-prow-config, ci/prow/prow-config-filenames, ci/prow/prow-config-semantics

neuron: upgrade ROSA compute nodes to inf2.8xlarge for vLLM memory (#76415)
  ci-operator/step-registry/aws-neuron-operator/conditional-e2e-rosa/aws-neuron-operator-conditional-e2e-rosa-workflow.yaml
  ci-operator/step-registry/aws-neuron-operator/e2e-rosa/aws-neuron-operator-e2e-rosa-workflow.yaml
  ci-operator/step-registry/aws-neuron-operator/rosa-cluster-provision/aws-neuron-operator-rosa-cluster-provision-commands.sh
  ci-operator/step-registry/aws-neuron-operator/rosa-cluster-provision/aws-neuron-operator-rosa-cluster-provision-ref.yaml
Due: ci/prow/ci-operator-config, ci/prow/ci-operator-registry, ci/prow/step-registry-metadata, ci/prow/step-registry-shellcheck

Path conditions:
  services-valid: any of: ^services/.*
  ci/openshift/promrules: any of: ^(projects/prometheus/prometheus.rules.yaml)$
  ci/prow/pylint: any of: ^hack/.*\.py$
  ci/prow/services-valid: any of: ^services/.*
  ci/prow/stackrox-stackrox-stackrox-stackrox-check: any of: ci-operator/(config|jobs)/stackrox/stackrox
  branch-ci-openshift-release-master-gsm-secrets-reconciler: any of: core-services/sync-rover-groups/_config.yaml
  branch-ci-openshift-release-master-label-sync: any of: core-services/prow/02_config/_labels.yaml
  ci/prow/check-cluster-profiles-config: any of: ^ci-operator/step-registry/cluster-profiles/cluster-profiles-config.yaml$
  ci/prow/check-gh-automation: any of: ^ci-operator/config/.*
  ci/prow/check-gh-automation-tide: any of: ^core-services/prow/02_config/.*
  ci/prow/image-mirroring-config-validation: any of: ^core-services/image-mirroring/_config.yaml
  ci/prow/ci-secret-bootstrap-config-validation: any of: ^(core-services/ci-secret-bootstrap/_config.yaml|core-services/ci-secret-generator/_config.yaml)
  ci/prow/clusterimageset-validate: any of: ^clusters/hosted-mgmt/hive/pools/.*
  ci/build-farm/app-ci-config-dry: any of: ^clusters/.*
  ci/prow/boskos-config: any of: ^core-services/prow/02_config/_boskos.yaml
  ci/prow/boskos-config-generation: any of: ^core-services/prow/02_config/.*
  ci/build-farm/build01-dry: any of: ^clusters/.*
  ci/build-farm/build02-dry: any of: ^clusters/.*
  ci/build-farm/build03-dry: any of: ^clusters/.*
  ci/build-farm/build04-dry: any of: ^clusters/.*
  ci/build-farm/build05-dry: any of: ^clusters/.*
  ci/build-farm/build06-dry: any of: ^clusters/.*
  ci/build-farm/build09-dry: any of: ^clusters/.*
  ci/build-farm/build10-dry: any of: ^clusters/.*
  ci/build-farm/build11-dry: any of: ^clusters/.*
  ci/prow/ci-operator-config: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-operator-config-metadata: any of: ^ci-operator/config/.*
  ci/prow/ci-operator-registry: any of: ^ci-operator/(config/|step-registry/).*
  ci/prow/ci-testgrid-allow-list: any of: ^core-services/(testgrid-config-generator/_allow-list.yaml|release-controller/_releases/.*)
  ci/prow/config: any of: ^(core-services/prow/02_config/|ci-operator/jobs/).*
  ci/prow/generated-config: any of: ^ci-operator/(config|jobs)/.*
  ci/prow/generated-dashboards: any of: ^(clusters/app.ci/openshift-user-workload-monitoring/.*)
  ci/build-farm/hosted-mgmt-dry: any of: ^clusters/.*
  ci/prow/jira-lifecycle-config: any of: ^core-services/jira-lifecycle-plugin/config.yaml
  ci/prow/ordered-prow-config: any of: ^(ci-operator/(config|jobs)/.*|core-services/sanitize-prow-jobs/_config.yaml)
  ci/prow/prow-config: any of: ^core-services/prow/02_config/.*
  ci/prow/prow-config-filenames: any of: ^ci-operator/config/.*
  ci/prow/prow-config-semantics: any of: ^ci-operator/jobs/.*
  ci/prow/release-config: any of: ^core-services/release-controller/_releases/.*
  ci/prow/secret-generator-config-valid: any of: ^core-services/(ci-secret-generator|ci-secret-bootstrap)/_config.yaml
  ci/prow/step-registry-metadata: any of: ^ci-operator/step-registry/.*
  ci/prow/step-registry-shellcheck: any of: ^ci-operator/step-registry/.*
  ci/build-farm/vsphere02-dry: any of: ^clusters/.*
  ci/prow/pr-reminder-config: any of: ^core-services/pr-reminder/_config.yaml
  ci/prow/sync-rover-groups: any of: ^(clusters/.*)|^(core-services/sync-rover-groups/.*)
