Repository openshift/kube-compare: changes, and which Prow jobs are due for each by the changed paths.
All: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy, ci/prow/unit-report-creator

Path conditions:
  markdownlint: any of: (\.md|^Makefile|^hack/.*markdown.*|^.markdown.*)$
  golint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/golint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/markdownlint: any of: (\.md|^Makefile|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/modtidy: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/unit-report-creator: any of: ^addon-tools/report-creator/*$

Fix API resource discovery to properly parse GroupVersion
  pkg/compare/compare.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Fix test mock to set GroupVersion on APIResourceList
  addon-tools/report-creator/report/testdata/CreationOfMissingCRsAndUnmatchedCRsAndDiffTestsSuitesWhenNoDiffs
  addon-tools/report-creator/report/testdata/CreationOfMissingCRsAndUnmatchedCRsAndDiffTestsSuitesWhenNoDiffs.golden
  pkg/compare/compare_test.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Add ownerReferences and RBAC subjects correlators
  pkg/compare/compare.go
  pkg/compare/compare_test.go
  pkg/compare/correlator.go
  pkg/compare/output.go
  pkg/compare/testdata/OwnerReferencesMatch/localout.golden
  pkg/compare/testdata/OwnerReferencesMatch/reference/clusterlogforwarder.yaml
  pkg/compare/testdata/OwnerReferencesMatch/reference/metadata.yaml
  pkg/compare/testdata/OwnerReferencesMatch/reference/provisioning.yaml
  pkg/compare/testdata/OwnerReferencesMatch/reference/storagecluster.yaml
  pkg/compare/testdata/OwnerReferencesMatch/resources/daemonset.yaml
  pkg/compare/testdata/OwnerReferencesMatch/resources/deployment.yaml
  pkg/compare/testdata/OwnerReferencesMatch/resources/metal3deployment.yaml
  pkg/compare/testdata/RBACSubjectsMatch/localout.golden
  pkg/compare/testdata/RBACSubjectsMatch/reference/metadata.yaml
  pkg/compare/testdata/RBACSubjectsMatch/reference/serviceaccount.yaml
  pkg/compare/testdata/RBACSubjectsMatch/resources/clusterrolebinding.yaml
Due: golint, ci/prow/golint, ci/prow/modtidy

ci: add pre-main workflow for tests and linting
  .github/workflows/pre-main.yml
  .golangci.yml
  Makefile
  addon-tools/helm-convert/convert/expectedvaluesfinder.go
  hack/krew-bump.sh
  hack/markdownlint.sh
  pkg/compare/compare.go
  pkg/compare/compare_test.go
  pkg/compare/correlator.go
  pkg/compare/referenceV1.go
  pkg/compare/referenceV2.go
  pkg/compare/testdata/AllRequiredTemplatesExistAndThereAreNoDiffs/localwith_diff_yout.golden
  pkg/compare/testdata/SomeDiffs/localwith_diff_yout.golden
  pkg/compare/testdata/TwoTemplatesWithSameKindNamespace/localVerboseout.golden
  pkg/compare/testdata/TwoTemplatesWithSameapiVersionKindNameNamespace/localVerboseout.golden
  pkg/compare/testdata/YAMLOutput/localout.golden
  pkg/compare/unstructured.go
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy

implementing reference generation
  docs/example/generate-config.yaml
  pkg/compare/compare.go
  pkg/generate/config.go
  pkg/generate/fetcher.go
  pkg/generate/generate.go
  pkg/generate/generator.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Fix typos in regexInlineDiff.go
  pkg/compare/regexInlineDiff.go
  pkg/compare/testdata/ReferenceV2InlineRegex/localinvalidRegexerr.golden
Due: golint, ci/prow/golint, ci/prow/modtidy

Parameterize source directory path in Dockerfile
  Dockerfile
Due: golint, ci/prow/golint, ci/prow/modtidy

re-use -f argument for when generating
  docs/example/generate-config.yaml
  pkg/compare/compare.go
Due: golint, ci/prow/golint, ci/prow/modtidy

sanitize output file names
  pkg/generate/generator.go
Due: golint, ci/prow/golint, ci/prow/modtidy

adding test cases
  pkg/generate/config_test.go
  pkg/generate/fetcher_test.go
  pkg/generate/generator_test.go
Due: golint, ci/prow/golint, ci/prow/modtidy

only remove specified annotations/labels, rather than all of them
  pkg/generate/generator.go
  pkg/generate/generator_test.go
Due: golint, ci/prow/golint, ci/prow/modtidy

allow a user to speciy labels and annotations to be ignored
  docs/example/generate-config.yaml
  pkg/generate/config.go
  pkg/generate/config_test.go
  pkg/generate/generator.go
  pkg/generate/generator_test.go
Due: golint, ci/prow/golint, ci/prow/modtidy

fix: correct JSON field name typo "ValidationIssuses" -> "ValidationIssues"
  addon-tools/report-creator/report/testdata/CreationOfMissingCRsAndUnmatchedCRsAndDiffTestsSuitesWhenNoDiffs
  addon-tools/report-creator/report/testdata/DiffTestSuiteCreationWhenThereAreDiffs
  addon-tools/report-creator/report/testdata/MissingCRstestsuitecreationwhenCRSareMissing
  docs/user-guide.md
  pkg/compare/output.go
  pkg/compare/testdata/JSONOutput/localout.golden
  pkg/compare/testdata/YAMLOutput/localout.golden
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy

docs: add migration note for renamed ValidationIssues JSON field
  docs/user-guide.md
Due: markdownlint, ci/prow/markdownlint

Consolidate V1/V2 template parsing into shared generic function
  pkg/compare/parsing.go
  pkg/compare/referenceV1.go
  pkg/compare/referenceV2.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Add pkg/rdsdiff: reusable library for RDS version diffing
  pkg/rdsdiff/compare.go
  pkg/rdsdiff/compare_test.go
  pkg/rdsdiff/constants.go
  pkg/rdsdiff/download.go
  pkg/rdsdiff/download_test.go
  pkg/rdsdiff/fileio.go
  pkg/rdsdiff/policygen.go
  pkg/rdsdiff/storage.go
Due: golint, ci/prow/golint, ci/prow/modtidy

coderabbit.ai suggestionsg
  go.mod
  pkg/compare/compare.go
  pkg/compare/compare_test.go
  pkg/generate/config.go
  pkg/generate/fetcher.go
  pkg/generate/fetcher_test.go
  pkg/generate/generate.go
  pkg/generate/generator.go
  pkg/generate/generator_test.go
Due: golint, ci/prow/golint, ci/prow/modtidy

fix linter issues
  pkg/generate/config_test.go
  pkg/generate/fetcher.go
  pkg/generate/fetcher_test.go
  pkg/generate/generator.go
  pkg/generate/generator_test.go
Due: golint, ci/prow/golint, ci/prow/modtidy

additional coderabbitai suggested fixes
  pkg/generate/fetcher.go
  pkg/generate/generator.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Handle swallowed errors across pkg/compare
  pkg/compare/compare.go
  pkg/compare/correlator.go
  pkg/compare/funcmap.go
  pkg/compare/output.go
  pkg/compare/referenceV2.go
  pkg/compare/regexInlineDiff.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Replace magic strings with named constants across pkg/compare
  pkg/compare/compare.go
  pkg/compare/container.go
  pkg/compare/correlator.go
  pkg/compare/httpfs.go
  pkg/compare/output.go
  pkg/compare/parsing.go
  pkg/compare/referenceV2.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Promote k8s.io/api from indirect to direct dependency
  go.mod
Due: golint, ci/prow/golint, ci/prow/modtidy

ci: add GitHub Actions workflow mirroring Prow CI jobs
  .github/workflows/pre-main.yml
Due: golint, ci/prow/golint, ci/prow/modtidy

coderabbit suggestion
  pkg/generate/fetcher.go
Due: golint, ci/prow/golint, ci/prow/modtidy

fixing linter issue
  pkg/generate/fetcher.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Fix typos and remove literal quotes in error messages
  pkg/compare/compare.go
  pkg/compare/testdata/NoInput/localerr.golden
  pkg/compare/testdata/ReferenceConfigFileDoesntExist/localerr.golden
  pkg/compare/testdata/ReferenceV2PerFieldMatcherValidation/localpathNotItTemplateerr.golden
  pkg/compare/testdata/UserOverride/localfailOutputerr.golden
Due: golint, ci/prow/golint, ci/prow/modtidy

junit: switch time to zero instead of timestamp
  pkg/compare/testdata/JunitOutput/localout.golden
  pkg/junit/junit.go
Due: golint, ci/prow/golint, ci/prow/modtidy

adding further documentation
  README.md
  docs/generating-references.md
Due: markdownlint, ci/prow/markdownlint

markdown nits + meta field consolidation
  README.md
  docs/generating-references.md
  pkg/compare/referenceV1.go
  pkg/compare/testdata/JSONOutput/localout.golden
  pkg/compare/testdata/JunitOutput/localout.golden
  pkg/compare/testdata/SomeDiffs/localout.golden
  pkg/compare/testdata/YAMLOutput/localout.golden
  pkg/generate/generator.go
  pkg/generate/generator_test.go
  pkg/objectmeta/server.go
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy

fix markdown linter errors
  docs/generating-references.md
Due: markdownlint, ci/prow/markdownlint

updating generate doc
  docs/generating-references.md
Due: markdownlint, ci/prow/markdownlint

Fix kc-cmp-001: Remove getHostByName from sprig FuncMap
  pkg/compare/funcmap.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Fix kc-cmp-004: use FuncMap in output.go
  pkg/compare/output.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Add Helm-compatible include template function
  docs/reference-config-guide-v1.md
  docs/reference-config-guide-v2.md
  pkg/compare/compare_test.go
  pkg/compare/funcmap.go
  pkg/compare/funcmap_include_test.go
  pkg/compare/parsing.go
  pkg/compare/testdata/IncludeFunction/liveout.golden
  pkg/compare/testdata/IncludeFunction/localout.golden
  pkg/compare/testdata/IncludeFunction/reference/_helpers.tpl
  pkg/compare/testdata/IncludeFunction/reference/cm.yaml
  pkg/compare/testdata/IncludeFunction/reference/metadata.yaml
  pkg/compare/testdata/IncludeFunction/resources/cm.yaml
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy

test: update report-creator golden files for deduplication fix
  addon-tools/report-creator/report/testdata/CreationOfMissingCRsAndUnmatchedCRsAndDiffTestsSuitesWhenNoDiffs
  addon-tools/report-creator/report/testdata/CreationOfMissingCRsAndUnmatchedCRsAndDiffTestsSuitesWhenNoDiffs.golden
  addon-tools/report-creator/report/testdata/DiffTestSuiteCreationWhenThereAreDiffs
  addon-tools/report-creator/report/testdata/DiffTestSuiteCreationWhenThereAreDiffs.golden
  addon-tools/report-creator/report/testdata/MissingCRstestsuitecreationwhenCRSareMissing
  addon-tools/report-creator/report/testdata/MissingCRstestsuitecreationwhenCRSareMissing.golden
Due: golint, ci/prow/golint, ci/prow/modtidy
