Repository openshift/kube-compare: changes, and which Prow jobs are due for each by the changed paths.
All: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy, ci/prow/unit-report-creator

markdownlint:
  always_run: false
  commands: 'hack/markdownlint.sh
  
    '
  container:
    from: test-bin

golint:
  commands: 'make golangci-lint
  
    '
  container:
    clone: true
    from: golangci-lint

ci/prow/golint:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/markdownlint:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/modtidy:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/unit-report-creator:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

test: update report-creator golden files for deduplication fix
  addon-tools/report-creator/report/testdata/CreationOfMissingCRsAndUnmatchedCRsAndDiffTestsSuitesWhenNoDiffs
  addon-tools/report-creator/report/testdata/CreationOfMissingCRsAndUnmatchedCRsAndDiffTestsSuitesWhenNoDiffs.golden
  addon-tools/report-creator/report/testdata/DiffTestSuiteCreationWhenThereAreDiffs
  addon-tools/report-creator/report/testdata/DiffTestSuiteCreationWhenThereAreDiffs.golden
  addon-tools/report-creator/report/testdata/MissingCRstestsuitecreationwhenCRSareMissing
  addon-tools/report-creator/report/testdata/MissingCRstestsuitecreationwhenCRSareMissing.golden
Due: golint, ci/prow/golint, ci/prow/modtidy

Fix kubectl differ.Diff signature and track vendor .swp file
  .gitignore
  pkg/compare/compare.go
  vendor/github.com/santhosh-tekuri/jsonschema/v6/.swp
Due: golint, ci/prow/golint, ci/prow/modtidy

Fix CVE-2026-33814: Update golang.org/x/net
  go.mod
  go.sum
  vendor/golang.org/x/mod/modfile/read.go
  vendor/golang.org/x/mod/modfile/rule.go
  vendor/golang.org/x/net/http2/hpack/encode.go
  vendor/golang.org/x/net/http2/hpack/hpack.go
  vendor/golang.org/x/net/http2/hpack/tables.go
  vendor/golang.org/x/net/http2/transport_wrap.go
  vendor/golang.org/x/net/idna/idna.go
  vendor/golang.org/x/tools/go/analysis/passes/nilness/nilness.go
  vendor/golang.org/x/tools/go/ssa/const.go
  vendor/golang.org/x/tools/go/types/objectpath/objectpath.go
  vendor/golang.org/x/tools/internal/imports/fix.go
  vendor/golang.org/x/tools/internal/imports/mod.go
  vendor/golang.org/x/tools/internal/imports/source_env.go
  vendor/golang.org/x/tools/internal/modindex/directories.go
  vendor/golang.org/x/tools/internal/modindex/index.go
  vendor/golang.org/x/tools/internal/modindex/lookup.go
  vendor/golang.org/x/tools/internal/modindex/modindex.go
  vendor/golang.org/x/tools/internal/modindex/symbols.go
  vendor/golang.org/x/tools/internal/stdlib/deps.go
  vendor/golang.org/x/tools/internal/stdlib/manifest.go
  vendor/modules.txt
Due: golint, ci/prow/golint, ci/prow/modtidy

build: Bump GOLANG_CROSS_VERSION to v1.26.5
  Makefile
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy

docs: Add AGENTS.md with Go version bump instructions
  AGENTS.md
Due: markdownlint, ci/prow/markdownlint

Enable wrapcheck linter and properly wrap all errors
  .golangci.yml
  fix-capturegroups.sh
  fix-compile.sh
  fix-container-test.sh
  fix-revive-2.sh
  fix-revive-3.sh
  fix-revive-4.sh
  fix-revive-5.sh
  fix-revive-6.sh
  fix-revive-7.sh
  fix-revive-8.sh
  fix-revive-9.sh
  fix-revive.sh
  pkg/compare/compare.go
  pkg/compare/funcmap.go
  pkg/generate/generate.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Enable revive linter and add required docstrings
  .golangci.yml
  addon-tools/helm-convert/convert/convert.go
  addon-tools/helm-convert/convert/expectedvaluesfinder.go
  addon-tools/helm-convert/convert/getdefaults.go
  addon-tools/helm-convert/helm-convert.go
  addon-tools/report-creator/report-creator.go
  addon-tools/report-creator/report/create.go
  addon-tools/report-creator/report/create_test.go
  cmd/kubectl-cluster_compare.go
  fix-capturegroups.sh
  fix-compile.sh
  fix-container-test.sh
  fix-revive-2.sh
  fix-revive-3.sh
  fix-revive-4.sh
  fix-revive-5.sh
  fix-revive-6.sh
  fix-revive-7.sh
  fix-revive-8.sh
  fix-revive-9.sh
  fix-revive.sh
  pkg/compare/capturegroupsInlineDiff.go
  pkg/compare/compare.go
  pkg/compare/compare_test.go
  pkg/compare/container_test.go
  pkg/compare/correlator.go
  pkg/compare/funcmap.go
  pkg/compare/httpfs.go
  pkg/compare/output.go
  pkg/compare/output_test.go
  pkg/compare/parsing.go
  pkg/compare/referenceV1.go
  pkg/compare/referenceV2.go
  pkg/compare/regexInlineDiff.go
  pkg/compare/unstructured.go
  pkg/compare/useroverride.go
  pkg/generate/config.go
  pkg/junit/junit.go
  pkg/objectmeta/server.go
  pkg/testutils/testutils.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Enable gofmt formatter and format code
  .golangci.yml
  cmd/kubectl-cluster_compare.go
  pkg/compare/compare.go
  pkg/compare/referenceV2.go
  pkg/compare/testdata/NoInput/localerr.golden
  pkg/compare/testdata/UserOverride/localfailOutputerr.golden
  pkg/compare/testdata/UserOverride/localnoReasonGenerateerr.golden
  pkg/generate/config.go
  pkg/objectmeta/server.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Fix 'entires' typo in user override generation error
  pkg/compare/compare.go
  pkg/compare/testdata/UserOverride/localfailOutputerr.golden
Due: golint, ci/prow/golint, ci/prow/modtidy

OCPBUGS-92051: Maintain a default sensitive-kind denylist for live queries
  README.md
  docs/user-guide.md
  pkg/compare/compare.go
  pkg/compare/compare_test.go
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy

OCPBUGS-92052: Replace os.DirFS with os.OpenRoot to confine symlinks
  pkg/compare/compare.go
  pkg/compare/compare_test.go
  pkg/compare/testdata/ReferenceContainsSymlinkOutsideRoot/localerr.golden
  pkg/compare/testdata/ReferenceContainsSymlinkOutsideRoot/localout.golden
  pkg/compare/testdata/ReferenceContainsSymlinkOutsideRoot/reference/metadata.yaml
  pkg/compare/testdata/ReferenceContainsSymlinkOutsideRoot/reference/templates/passwd.yaml
Due: golint, ci/prow/golint, ci/prow/modtidy

Fix typos and remove literal quotes in error messages
  pkg/compare/compare.go
  pkg/compare/testdata/NoInput/localerr.golden
  pkg/compare/testdata/ReferenceConfigFileDoesntExist/localerr.golden
  pkg/compare/testdata/ReferenceV2PerFieldMatcherValidation/localpathNotItTemplateerr.golden
Due: golint, ci/prow/golint, ci/prow/modtidy

Typo audit: fix various spelling errors and update golden files
  pkg/compare/correlator.go
  pkg/compare/output.go
  pkg/compare/referenceV1.go
  pkg/compare/referenceV2.go
  pkg/compare/testdata/CustomFieldsToOmitRefEntryNotFound/localerr.golden
  pkg/compare/testdata/JSONOutput/localout.golden
  pkg/compare/testdata/TemplateIsntYAMLAfterExecutionWithEmptyMap/localerr.golden
  pkg/compare/testdata/YAMLOutput/localout.golden
Due: golint, ci/prow/golint, ci/prow/modtidy

OCPBUGS-92052: Replace os.DirFS with os.OpenRoot to confine symlinks
  addon-tools/helm-convert/convert/convert.go
  pkg/compare/compare.go
  pkg/compare/compare_test.go
  pkg/compare/testdata/ReferenceContainsSymlinkOutsideRoot/localerr.golden
  pkg/compare/testdata/ReferenceContainsSymlinkOutsideRoot/localout.golden
  pkg/compare/testdata/ReferenceContainsSymlinkOutsideRoot/reference/metadata.yaml
  pkg/compare/testdata/ReferenceContainsSymlinkOutsideRoot/reference/templates/passwd.yaml
Due: golint, ci/prow/golint, ci/prow/modtidy

CVE-2026-87114: Run 'podman create' instead of 'podman run'
  pkg/compare/container.go
  pkg/compare/container_test.go
Due: golint, ci/prow/golint, ci/prow/modtidy

OCPBUGS-60764: Add inline diff reference options
  docs/reference-config-guide-v2.md
  pkg/compare/compare.go
  pkg/compare/compare_test.go
  pkg/compare/inlineDiffOptions.go
  pkg/compare/inlineDiffOptions_test.go
  pkg/compare/parsing.go
  pkg/compare/referenceV1.go
  pkg/compare/referenceV2.go
  pkg/compare/testdata/ReferenceV2InlineDiffOptions/localout.golden
  pkg/compare/testdata/ReferenceV2InlineDiffOptions/localwithMismatcherr.golden
  pkg/compare/testdata/ReferenceV2InlineDiffOptions/localwithMismatchout.golden
  pkg/compare/testdata/ReferenceV2InlineDiffOptions/reference/cm-mismatch.yaml
  pkg/compare/testdata/ReferenceV2InlineDiffOptions/reference/cm.yaml
  pkg/compare/testdata/ReferenceV2InlineDiffOptions/reference/metadata-with-mismatch.yaml
  pkg/compare/testdata/ReferenceV2InlineDiffOptions/reference/metadata.yaml
  pkg/compare/testdata/ReferenceV2InlineDiffOptions/resources/cm.yaml
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy

Fix trailing newline when filtering final comment line
  pkg/compare/inlineDiffOptions.go
  pkg/compare/inlineDiffOptions_test.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Fix GoReleaser version metadata
  .goreleaser.yml
  Makefile
  hack/verify-release-version.sh
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy

Gate release publishing on exact binary versions
  .goreleaser.yml
  Makefile
  hack/verify-release-version.sh
  hack/verify-release-version_test.sh
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy

Fix strict release version output validation
  hack/verify-release-version.sh
  hack/verify-release-version_test.sh
Due: golint, ci/prow/golint, ci/prow/modtidy

Test corrupt release archive rejection
  hack/verify-release-version_test.sh
Due: golint, ci/prow/golint, ci/prow/modtidy

helm-convert: fix trailing blank lines in rendered templates
  addon-tools/helm-convert/convert/convert.go
Due: golint, ci/prow/golint, ci/prow/modtidy

OCPBUGS-60764: Normalize inline diff comments symmetrically
  docs/reference-config-guide-v2.md
  pkg/compare/compare.go
  pkg/compare/inlineDiffOptions.go
  pkg/compare/inlineDiffOptions_test.go
  pkg/compare/referenceV2.go
  pkg/compare/testdata/ReferenceV2InlineDiffOptions/reference/metadata-with-mismatch.yaml
  pkg/compare/testdata/ReferenceV2InlineDiffOptions/reference/metadata.yaml
  pkg/compare/testdata/ReferenceV2InlineDiffOptions/resources/cm.yaml
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy

helm-convert: keep newline between ranged resources
  addon-tools/helm-convert/convert/convert.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Path conditions:
  markdownlint: any of: (\.md|^Makefile|^hack/.*markdown.*|^.markdown.*)$
  golint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/golint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/markdownlint: any of: (\.md|^Makefile|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/modtidy: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/unit-report-creator: any of: ^addon-tools/report-creator/*$
