Repository openshift/kube-compare: changes, and which Prow jobs are due for each by the changed paths.
All: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy, ci/prow/unit-report-creator

markdownlint:
  always_run: false
  commands: 'hack/markdownlint.sh
  
    '
  container:
    from: test-bin

golint:
  commands: 'make golangci-lint
  
    '
  container:
    clone: true
    from: golangci-lint

ci/prow/golint:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/markdownlint:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/modtidy:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/unit-report-creator:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Add test for diff -y
  pkg/compare/compare_test.go
  pkg/compare/testdata/AllRequiredTemplatesExistAndThereAreNoDiffs/localwith_diff_yout.golden
  pkg/compare/testdata/SomeDiffs/localwith_diff_yerr.golden
  pkg/compare/testdata/SomeDiffs/localwith_diff_yout.golden
Due: golint, ci/prow/golint, ci/prow/modtidy

Remove newline best match count and warn if exit code and internal diff do not match
  pkg/compare/compare.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Some refactoring
  pkg/compare/compare.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Introduce strict-match correlation flag
  docs/user-guide.md
  pkg/compare/compare.go
  pkg/compare/compare_test.go
  pkg/compare/correlator.go
  pkg/compare/parsing.go
  pkg/compare/testdata/StrictMatch/localerr.golden
  pkg/compare/testdata/StrictMatch/localout.golden
  pkg/compare/testdata/StrictMatch/localstrict_mode_onerr.golden
  pkg/compare/testdata/StrictMatch/localstrict_mode_onout.golden
  pkg/compare/testdata/StrictMatch/reference/deploymentDashboard.yaml
  pkg/compare/testdata/StrictMatch/reference/deploymentMetrics.yaml
  pkg/compare/testdata/StrictMatch/reference/metadata.yaml
  pkg/compare/testdata/StrictMatch/resources/d2.yaml
  pkg/compare/testdata/StrictMatch/resources/deploymentDashboard.yaml
  pkg/compare/testdata/StrictMatch/userconfig.yaml
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy

Revert "Introduce strict-match correlation flag"
  docs/user-guide.md
  pkg/compare/compare.go
  pkg/compare/compare_test.go
  pkg/compare/correlator.go
  pkg/compare/parsing.go
  pkg/compare/testdata/StrictMatch/localerr.golden
  pkg/compare/testdata/StrictMatch/localout.golden
  pkg/compare/testdata/StrictMatch/localstrict_mode_onerr.golden
  pkg/compare/testdata/StrictMatch/localstrict_mode_onout.golden
  pkg/compare/testdata/StrictMatch/reference/deploymentDashboard.yaml
  pkg/compare/testdata/StrictMatch/reference/deploymentMetrics.yaml
  pkg/compare/testdata/StrictMatch/reference/metadata.yaml
  pkg/compare/testdata/StrictMatch/resources/d2.yaml
  pkg/compare/testdata/StrictMatch/resources/deploymentDashboard.yaml
  pkg/compare/testdata/StrictMatch/userconfig.yaml
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy

Bump addon tools kube-compare dependencies
  addon-tools/helm-convert/go.mod
  addon-tools/helm-convert/go.sum
  addon-tools/report-creator/go.mod
  addon-tools/report-creator/go.sum
  vendor/modules.txt
Due: golint, ci/prow/golint, ci/prow/modtidy

Dependency sync
  vendor/modules.txt
Due: golint, ci/prow/golint, ci/prow/modtidy

Dependency bump github.com/stretchr/testify v1.10.0
  addon-tools/helm-convert/go.mod
  addon-tools/helm-convert/go.sum
  addon-tools/report-creator/go.mod
  addon-tools/report-creator/go.sum
  go.mod
  go.sum
  vendor/github.com/stretchr/testify/assert/assertion_compare.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_order.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_custom.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_default.go
  vendor/github.com/stretchr/testify/assert/yaml/yaml_fail.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require.go.tmpl
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/github.com/stretchr/testify/require/requirements.go
  vendor/modules.txt
Due: golint, ci/prow/golint, ci/prow/modtidy

add Nati to approvers
  OWNERS
Due: none

Add --version flag to cluster-compare and helpers
  Makefile
  addon-tools/helm-convert/helm-convert.go
  addon-tools/report-creator/report-creator.go
  cmd/kubectl-cluster_compare.go
  pkg/compare/compare.go
  pkg/compare/testdata/NoInput/localerr.golden
  pkg/compare/testdata/UserOverride/localfailOutputerr.golden
  pkg/compare/testdata/UserOverride/localnoReasonGenerateerr.golden
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy

Add Adhita Logan (adhil0) as reviewer and approver
  OWNERS
Due: none

Add Yang Zheng (zzztx) as reviewer and approver
  OWNERS
Due: none

Add example of a catch all template
  docs/reference-config-guide-v1.md
  docs/reference-config-guide-v2.md
  pkg/compare/compare_test.go
  pkg/compare/testdata/MachineConfigsCatchAll/localerr.golden
  pkg/compare/testdata/MachineConfigsCatchAll/localout.golden
  pkg/compare/testdata/MachineConfigsCatchAll/reference/01-container-mount-ns-and-kubelet-conf-master.yaml
  pkg/compare/testdata/MachineConfigsCatchAll/reference/01-container-mount-ns-and-kubelet-conf-worker.yaml
  pkg/compare/testdata/MachineConfigsCatchAll/reference/metadata.yaml
  pkg/compare/testdata/MachineConfigsCatchAll/reference/other_mcs.yaml
  pkg/compare/testdata/MachineConfigsCatchAll/resources/01-container-mount-ns-and-kubelet-conf-master.yaml
  pkg/compare/testdata/MachineConfigsCatchAll/resources/01-container-mount-ns-and-kubelet-conf-worker.yaml
  pkg/compare/testdata/MachineConfigsCatchAll/resources/other_mc.yaml
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy

Enforce capture group contents across multiple fields within an object
  docs/reference-config-guide-v2.md
  pkg/compare/capturegroupsInlineDiff.go
  pkg/compare/capturegroupsInlineDiff_test.go
  pkg/compare/compare.go
  pkg/compare/compare_test.go
  pkg/compare/referenceV2.go
  pkg/compare/regexInlineDiff.go
  pkg/compare/regexInlineDiff_test.go
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localWithDiffAcrossCapturegroupsAndRegexMismatcherr.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localWithDiffAcrossCapturegroupsAndRegexMismatchout.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localWithDiffAcrossCapturegroupsAndRegexout.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localWithDiffAcrossCapturegroupsMismatcherr.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localWithDiffAcrossCapturegroupsMismatchout.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localWithDiffAcrossCapturegroupsout.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/cm-with-diff-across-capturegroups-mismatch.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/cm-with-diff-across-capturegroups.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/metadata-with-diff-across-capture-groups-and-regex-mismatch.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/metadata-with-diff-across-capture-groups-and-regex.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/metadata-with-diff-across-capture-groups-mismatch.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/metadata-with-diff-across-capture-groups.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/resources/multi-mismatch.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/resources/multi.yaml
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy

Run InlineDiff in a 2-phase loop; once to capture all capturegroups, and once to use them
  pkg/compare/capturegroupsInlineDiff_test.go
  pkg/compare/compare.go
  pkg/compare/regexInlineDiff_test.go
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localWithDiffAcrossCapturegroupsAndRegexMismatchout.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localWithDiffAcrossCapturegroupsMismatchout.golden
Due: golint, ci/prow/golint, ci/prow/modtidy

Remove go workspace from source control
  addon-tools/helm-convert/go.mod
  addon-tools/helm-convert/go.sum
  addon-tools/report-creator/go.mod
  addon-tools/report-creator/go.sum
  go.mod
  go.sum
  go.work
  go.work.sum
  vendor/modules.txt
Due: golint, ci/prow/golint, ci/prow/modtidy

helm-convert: Change --version to --helm-version to stop collisions with the native --version flag
  addon-tools/helm-convert/convert/convert.go
  addon-tools/helm-convert/convert/convert_test.go
Due: golint, ci/prow/golint, ci/prow/modtidy

helm-convert: Enable capturegroup default substitution
  addon-tools/helm-convert/README.md
  addon-tools/helm-convert/convert/convert.go
  addon-tools/helm-convert/convert/convert_test.go
  addon-tools/helm-convert/convert/testdata/CapturegroupDefaults/reference/metadata.yaml
  addon-tools/helm-convert/convert/testdata/CapturegroupDefaults/reference/sa.yaml
  addon-tools/helm-convert/convert/testdata/CapturegroupDefaults/reference/secret.yaml
  addon-tools/helm-convert/convert/testdata/CapturegroupDefaults/result/Chart.yaml
  addon-tools/helm-convert/convert/testdata/CapturegroupDefaults/result/templates/_helpers.tpl
  addon-tools/helm-convert/convert/testdata/CapturegroupDefaults/result/templates/sa.yaml
  addon-tools/helm-convert/convert/testdata/CapturegroupDefaults/result/templates/secret.yaml
  addon-tools/helm-convert/convert/testdata/CapturegroupDefaults/result/values.yaml
  addon-tools/helm-convert/convert/testdata/CapturegroupDefaults/values.yaml
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy

Add ability to use references stored in container
  pkg/compare/compare.go
  pkg/compare/container.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Add unit tests for container utility functions
  pkg/compare/container_test.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Add usage example to README.md
  README.md
Due: markdownlint, ci/prow/markdownlint

Repair krew-bump script to auto-file the PR instead of opening a web browser
  hack/krew-bump.sh
Due: golint, ci/prow/golint, ci/prow/modtidy

Fix golint script to work without 'go work'
  hack/golangci-lint.sh
Due: golint, ci/prow/golint, ci/prow/modtidy

Update contributing guide to match removal of the go workspace
  docs/contributing.md
Due: markdownlint, ci/prow/markdownlint

Hide all reference correlation overlaps behind a single warning
  docs/user-guide.md
  pkg/compare/compare.go
  pkg/compare/compare_test.go
  pkg/compare/correlator.go
  pkg/compare/testdata/TwoTemplatesWithSameKindNamespace/localVerboseerr.golden
  pkg/compare/testdata/TwoTemplatesWithSameKindNamespace/localVerboseout.golden
  pkg/compare/testdata/TwoTemplatesWithSameapiVersionKindNameNamespace/localVerboseout.golden
  pkg/compare/testdata/TwoTemplatesWithSameapiVersionKindNameNamespace/localout.golden
  pkg/compare/testdata/WhenUsingDiffAllFlag-AllUnmatchedResourcesAppearInSummary/localout.golden
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy

Add capturegroup debugging details to verbose output
  pkg/compare/capturegroupsInlineDiff.go
  pkg/compare/compare.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Add full capturegroup text to CgInfo structure
  pkg/compare/capturegroupsInlineDiff.go
  pkg/compare/capturegroupsInlineDiff_test.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Implement better capturegroup escape mechanism
  pkg/compare/capturegroupsInlineDiff.go
  pkg/compare/capturegroupsInlineDiff_test.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Allow spaces in capturegroup regexes
  pkg/compare/capturegroupsInlineDiff.go
  pkg/compare/capturegroupsInlineDiff_test.go
  pkg/compare/compare.go
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localinvalidCapturegroupsLateDetectionout.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localinvalidCapturegroupserr.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/cm-invalid-capturegroups-late-detection.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/cm-invalid-capturegroups.yaml
Due: golint, ci/prow/golint, ci/prow/modtidy

Advance to golang-1.23
  go.mod
Due: golint, ci/prow/golint, ci/prow/modtidy

Fixup golangci-lint fixes for v1.63.4
  pkg/compare/compare.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Path conditions:
  markdownlint: any of: (\.md|^Makefile|^hack/.*markdown.*|^.markdown.*)$
  golint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/golint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/markdownlint: any of: (\.md|^Makefile|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/modtidy: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/unit-report-creator: any of: ^addon-tools/report-creator/*$
