Repository openshift/kube-compare: changes, and which Prow jobs are due for each by the changed paths.
All: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy, ci/prow/unit-report-creator

markdownlint:
  always_run: false
  commands: 'hack/markdownlint.sh
  
    '
  container:
    from: test-bin

golint:
  commands: 'make golangci-lint
  
    '
  container:
    clone: true
    from: golangci-lint

ci/prow/golint:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/markdownlint:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/modtidy:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/unit-report-creator:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Reorganize container code and remove temp dir
  addon-tools/helm-convert/convert/convert.go
  pkg/compare/compare.go
  pkg/compare/container.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Add unit tests for remaining container functions
  pkg/compare/container_test.go
Due: golint, ci/prow/golint, ci/prow/modtidy

convert error messages to lower case
  pkg/compare/container.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Change wording for documentation
  README.md
  pkg/compare/compare.go
  pkg/compare/container.go
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy

Refactor junit output logic into pkg/compare/output.go
  addon-tools/report-creator/report/create.go
  pkg/compare/output.go
  pkg/junit/junit.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Enable junit output via the main cluster-compare plugin '-o' option
  pkg/compare/compare.go
  pkg/compare/output.go
  pkg/junit/junit.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Add junit output unit tests and some refactoring/fixing
  addon-tools/report-creator/report/testdata/CreationOfMissingCRsAndUnmatchedCRsAndDiffTestsSuitesWhenNoDiffs.golden
  addon-tools/report-creator/report/testdata/DiffTestSuiteCreationWhenThereAreDiffs.golden
  addon-tools/report-creator/report/testdata/MissingCRstestsuitecreationwhenCRSareMissing.golden
  addon-tools/report-creator/report/testdata/UnmatchedCRsTestSuiteWhenCRsAreUnmatched.golden
  pkg/compare/output.go
  pkg/compare/output_test.go
  pkg/junit/junit.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Add skipped junit results for user-patched diffs
  addon-tools/report-creator/report/testdata/CreationOfMissingCRsAndUnmatchedCRsAndDiffTestsSuitesWhenNoDiffs.golden
  addon-tools/report-creator/report/testdata/DiffTestSuiteCreationWhenThereAreDiffs.golden
  addon-tools/report-creator/report/testdata/MissingCRstestsuitecreationwhenCRSareMissing.golden
  addon-tools/report-creator/report/testdata/UnmatchedCRsTestSuiteWhenCRsAreUnmatched.golden
  pkg/compare/output.go
  pkg/compare/output_test.go
  pkg/junit/junit.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Documentation for JSON and Junit output
  docs/user-guide.md
Due: markdownlint, ci/prow/markdownlint

Add metadata hash to junit output
  addon-tools/report-creator/report/testdata/CreationOfMissingCRsAndUnmatchedCRsAndDiffTestsSuitesWhenNoDiffs.golden
  addon-tools/report-creator/report/testdata/DiffTestSuiteCreationWhenThereAreDiffs.golden
  addon-tools/report-creator/report/testdata/MissingCRstestsuitecreationwhenCRSareMissing.golden
  pkg/compare/output.go
  pkg/compare/output_test.go
  pkg/compare/testdata/JunitOutput/localout.golden
  pkg/junit/junit.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Add e2e test for junit output
  pkg/compare/compare_test.go
  pkg/compare/testdata/JunitOutput/localerr.golden
  pkg/compare/testdata/JunitOutput/localout.golden
  pkg/compare/testdata/JunitOutput/reference/deploymentDashboard.yaml
  pkg/compare/testdata/JunitOutput/reference/deploymentMetrics.yaml
  pkg/compare/testdata/JunitOutput/reference/metadata.yaml
  pkg/compare/testdata/JunitOutput/resources/d2.yaml
  pkg/compare/testdata/semver/local_bad_version_out.golden
  pkg/testutils/testutils.go
Due: golint, ci/prow/golint, ci/prow/modtidy

add test cases
  pkg/compare/container_test.go
Due: golint, ci/prow/golint, ci/prow/modtidy

add struct to simplify output of parsePath()
  pkg/compare/container.go
  pkg/compare/container_test.go
Due: golint, ci/prow/golint, ci/prow/modtidy

convert warnings to klog's
  pkg/compare/container.go
Due: golint, ci/prow/golint, ci/prow/modtidy

remove unnecessary output from cleanup()
  pkg/compare/container.go
  pkg/compare/container_test.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Clean up temp directory in one place
  addon-tools/helm-convert/convert/convert.go
  pkg/compare/compare.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Fix linting issues
  README.md
  pkg/compare/compare.go
  pkg/compare/container.go
  pkg/compare/container_test.go
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy

Add FIXME comments to temp dir code
  pkg/compare/compare.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Add more test cases to increase coverage
  pkg/compare/container_test.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Add deferred removal for successful runs
  pkg/compare/compare.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Tighten up verbose messages for comparison and correlation debugging
  pkg/compare/capturegroupsInlineDiff.go
  pkg/compare/compare.go
  pkg/compare/testdata/NoDiffs/localwithVebosityFlagout.golden
  pkg/compare/testdata/SomeDiffs/localwithVebosityFlagout.golden
  pkg/compare/testdata/TwoTemplatesWithSameKindNamespace/localVerboseout.golden
  pkg/compare/testdata/TwoTemplatesWithSameapiVersionKindNameNamespace/localVerboseout.golden
Due: golint, ci/prow/golint, ci/prow/modtidy

Use a diffscore and not mergepatch leafCount to decide between multiple matches
  pkg/compare/compare.go
  pkg/compare/compare_test.go
  pkg/compare/testdata/MultitemplateTieBreaker/localerr.golden
  pkg/compare/testdata/MultitemplateTieBreaker/localfieldMismatcherr.golden
  pkg/compare/testdata/MultitemplateTieBreaker/localfieldMismatchout.golden
  pkg/compare/testdata/MultitemplateTieBreaker/locallengthMismatcherr.golden
  pkg/compare/testdata/MultitemplateTieBreaker/locallengthMismatchout.golden
  pkg/compare/testdata/MultitemplateTieBreaker/localout.golden
  pkg/compare/testdata/MultitemplateTieBreaker/reference/cm-correct.yaml
  pkg/compare/testdata/MultitemplateTieBreaker/reference/cm-extra-field.yaml
  pkg/compare/testdata/MultitemplateTieBreaker/reference/cm-missing-field.yaml
  pkg/compare/testdata/MultitemplateTieBreaker/reference/cm-same-fields-too-long.yaml
  pkg/compare/testdata/MultitemplateTieBreaker/reference/cm-same-fields-too-short.yaml
  pkg/compare/testdata/MultitemplateTieBreaker/reference/metadata-field-mismatch.yaml
  pkg/compare/testdata/MultitemplateTieBreaker/reference/metadata-length-mismatch.yaml
  pkg/compare/testdata/MultitemplateTieBreaker/reference/metadata.yaml
  pkg/compare/testdata/MultitemplateTieBreaker/resources/cm.yaml
  pkg/compare/testdata/NoDiffs/localwithVebosityFlagout.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localinvalidCapturegroupsLateDetectionout.golden
  pkg/compare/testdata/ReferenceV2PerFieldMatcherValidation/localpathNotItTemplateerr.golden
  pkg/compare/testdata/SomeDiffs/localwithVebosityFlagout.golden
  pkg/compare/testdata/TwoTemplatesWithSameKindNamespace/localVerboseout.golden
  pkg/compare/testdata/TwoTemplatesWithSameapiVersionKindNameNamespace/localVerboseout.golden
Due: golint, ci/prow/golint, ci/prow/modtidy

Cleanup verbose logging by using klog.V(1) where possible
  pkg/compare/compare.go
  pkg/compare/correlator.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Split main resource fetch and process into 2 steps
  pkg/compare/compare.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Introduce 'lookupCRs' 'lookupCR' template functions
  docs/reference-config-guide-v2.md
  pkg/compare/compare.go
  pkg/compare/compare_test.go
  pkg/compare/funcmap.go
  pkg/compare/referenceV1.go
  pkg/compare/referenceV2.go
  pkg/compare/testdata/LookupCRs/localout.golden
  pkg/compare/testdata/LookupCRs/reference/cm-lookupCR.yaml
  pkg/compare/testdata/LookupCRs/reference/cm-lookupCRs.yaml
  pkg/compare/testdata/LookupCRs/reference/deploymentDashboard.yaml
  pkg/compare/testdata/LookupCRs/reference/deploymentMetrics.yaml
  pkg/compare/testdata/LookupCRs/reference/metadata-lookupCR.yaml
  pkg/compare/testdata/LookupCRs/reference/metadata.yaml
  pkg/compare/testdata/LookupCRs/resources/cm.yaml
  pkg/compare/testdata/LookupCRs/resources/deploymentDashboard.yaml
  pkg/compare/testdata/LookupCRs/resources/deploymentMetrics.yaml
  pkg/compare/testdata/NoDiffs/localwithVebosityFlagout.golden
  pkg/compare/testdata/SomeDiffs/localwithVebosityFlagout.golden
  pkg/compare/testdata/TwoTemplatesWithSameKindNamespace/localVerboseout.golden
  pkg/compare/testdata/TwoTemplatesWithSameapiVersionKindNameNamespace/localVerboseout.golden
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy

helm-convert: Minor refactor and cleanup
  addon-tools/helm-convert/convert/convert.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Add capability to override lookup functions in helm-convert tool
  addon-tools/helm-convert/README.md
  addon-tools/helm-convert/convert/convert.go
  addon-tools/helm-convert/convert/convert_test.go
  addon-tools/helm-convert/convert/testdata/LookupSubstitution/reference/cm.yaml
  addon-tools/helm-convert/convert/testdata/LookupSubstitution/reference/metadata.yaml
  addon-tools/helm-convert/convert/testdata/LookupSubstitution/result/Chart.yaml
  addon-tools/helm-convert/convert/testdata/LookupSubstitution/result/templates/_helpers.tpl
  addon-tools/helm-convert/convert/testdata/LookupSubstitution/result/templates/cm.yaml
  addon-tools/helm-convert/convert/testdata/LookupSubstitution/result/values.yaml
  addon-tools/helm-convert/convert/testdata/LookupSubstitution/values.yaml
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy

Introduce 'doNotMatch' template function
  docs/reference-config-guide-v2.md
  pkg/compare/compare.go
  pkg/compare/compare_test.go
  pkg/compare/funcmap.go
  pkg/compare/testdata/DoNotMatch/localFilterout.golden
  pkg/compare/testdata/DoNotMatch/localNoMatcherr.golden
  pkg/compare/testdata/DoNotMatch/localNoMatchout.golden
  pkg/compare/testdata/DoNotMatch/localout.golden
  pkg/compare/testdata/DoNotMatch/reference/d1-anyname.yaml
  pkg/compare/testdata/DoNotMatch/reference/match.yaml
  pkg/compare/testdata/DoNotMatch/reference/metadata-filter.yaml
  pkg/compare/testdata/DoNotMatch/reference/metadata-nomatch.yaml
  pkg/compare/testdata/DoNotMatch/reference/metadata.yaml
  pkg/compare/testdata/DoNotMatch/reference/nevermatch.yaml
  pkg/compare/testdata/DoNotMatch/resources/cm.yaml
  pkg/compare/testdata/DoNotMatch/resources/d1.yaml
  pkg/compare/testdata/DoNotMatch/resources/d2.yaml
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy

Add '--show-template-functions' commandline flag
  docs/reference-config-guide-v2.md
  pkg/compare/compare.go
  pkg/compare/funcmap.go
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy

Fix junit 'skipped' count + unit tests
  pkg/junit/junit.go
  pkg/junit/junit_test.go
Due: golint, ci/prow/golint, ci/prow/modtidy

Adjust custom function descriptions
  docs/reference-config-guide-v2.md
  pkg/compare/funcmap.go
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint, ci/prow/modtidy

Opening a PR to see if a minimal reference is possible to help users try out the cluster-compare plugin quickly on any cluster
  docs/example/ClusterOperator.yaml
  docs/example/ClusterVersion.yaml
  docs/example/MachineConfigPool.yaml
  docs/example/README.md
  docs/example/metadata.yaml
Due: markdownlint, ci/prow/markdownlint

reference-config-guide-v2 updates
  docs/reference-config-guide-v2.md
Due: markdownlint, ci/prow/markdownlint

add note
  docs/reference-config-guide-v2.md
Due: markdownlint, ci/prow/markdownlint

OCPBUGS-62628: Enforce we only retain unique objects when reading from disk
  pkg/compare/compare.go
  pkg/compare/testdata/AllRequiredTemplatesExistAndThereAreNoDiffs/livebadAPIout.golden
  pkg/compare/testdata/AllRequiredTemplatesExistAndThereAreNoDiffs/liveout.golden
  pkg/compare/testdata/AllRequiredTemplatesExistAndThereAreNoDiffs/localout.golden
  pkg/compare/testdata/AllRequiredTemplatesExistAndThereAreNoDiffs/localwith_diff_yout.golden
  pkg/compare/testdata/AllRequiredTemplatesExistAndThereAreNoDiffsRefV2/liveout.golden
  pkg/compare/testdata/AllRequiredTemplatesExistAndThereAreNoDiffsRefV2/localout.golden
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShown/liveout.golden
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShown/localout.golden
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownAllQuoted/localout.golden
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownLeadingDot/localout.golden
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownNonDefault/localout.golden
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownPrefix/localout.golden
  pkg/compare/testdata/LookupCRs/resources/deploymentDashboard-Objlist.yaml
  pkg/compare/testdata/NoDiffs/localwithVebosityFlagout.golden
  pkg/compare/testdata/ReferenceV2All/localallOfout.golden
  pkg/compare/testdata/ReferenceV2All/localallOrNoneOfout.golden
  pkg/compare/testdata/ReferenceV2All/localanyOfout.golden
  pkg/compare/testdata/ReferenceV2All/localanyOneOfout.golden
  pkg/compare/testdata/ReferenceV2All/localnoneOfout.golden
  pkg/compare/testdata/ReferenceV2All/localoneOfout.golden
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/local_basic_include_out.golden
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/local_basic_out.golden
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/local_leading_dot_out.golden
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/local_non_default_out.golden
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/local_quoted_out.golden
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShownPrefix/localout.golden
  pkg/compare/testdata/SomeDiffs/localwithVebosityFlagout.golden
  pkg/compare/testdata/TwoTemplatesWithSameKindNamespace/localVerboseout.golden
  pkg/compare/testdata/TwoTemplatesWithSameapiVersionKindNameNamespace/localVerboseout.golden
  pkg/compare/testdata/WhenUsingDiffAllFlag-AllUnmatchedResourcesAppearInSummary/localout.golden
Due: golint, ci/prow/golint, ci/prow/modtidy

Update downstream documentation
  docs/downstream.md
Due: markdownlint, ci/prow/markdownlint

Path conditions:
  markdownlint: any of: (\.md|^Makefile|^hack/.*markdown.*|^.markdown.*)$
  golint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/golint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/markdownlint: any of: (\.md|^Makefile|^hack/.*markdown.*|^.markdown.*)$
  ci/prow/modtidy: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/unit-report-creator: any of: ^addon-tools/report-creator/*$
