Repository openshift/kube-compare: changes, and which Prow jobs are due for each by the changed paths.
All: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

Path conditions:
  markdownlint: any of: (\.md|^Makefile|^hack/.*markdown.*|^.markdown.*)$
  golint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/golint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/markdownlint: any of: (\.md|^Makefile|^hack/.*markdown.*|^.markdown.*)$

Don't forget go work sync
  addon-tools/helm-convert/go.sum
  addon-tools/report-creator/go.sum
Due: golint, ci/prow/golint

Be consistent with the name of the report-creator tool
  Makefile
  addon-tools/report-creator/README.md
  addon-tools/report-creator/report-creator.go
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

fix report-creator release
  .goreleaser.yml
Due: golint, ci/prow/golint

Add downstream container reference
  docs/downstream.md
  docs/image-build.md
Due: markdownlint, ci/prow/markdownlint

helm-convert: Remove hardcoded metadata filename
  addon-tools/helm-convert/convert/convert.go
Due: golint, ci/prow/golint

Add regex inline diff function
  docs/reference-config-guide-v2.md
  pkg/compare/compare.go
  pkg/compare/compare_test.go
  pkg/compare/parsing.go
  pkg/compare/referenceV1.go
  pkg/compare/referenceV2.go
  pkg/compare/testdata/ReferenceV2InlineRegex/localWithDiffInFirstLineerr.golden
  pkg/compare/testdata/ReferenceV2InlineRegex/localWithDiffInFirstLineout.golden
  pkg/compare/testdata/ReferenceV2InlineRegex/localinvalidRegexerr.golden
  pkg/compare/testdata/ReferenceV2InlineRegex/localinvalidRegexout.golden
  pkg/compare/testdata/ReferenceV2InlineRegex/localout.golden
  pkg/compare/testdata/ReferenceV2InlineRegex/localwithDifferr.golden
  pkg/compare/testdata/ReferenceV2InlineRegex/localwithDiffout.golden
  pkg/compare/testdata/ReferenceV2InlineRegex/reference/cm-invalidregex.yaml
  pkg/compare/testdata/ReferenceV2InlineRegex/reference/cm-regex-with-diff-in-first-line.yaml
  pkg/compare/testdata/ReferenceV2InlineRegex/reference/cm-regex-with-diff.yaml
  pkg/compare/testdata/ReferenceV2InlineRegex/reference/cm.yaml
  pkg/compare/testdata/ReferenceV2InlineRegex/reference/metadata-invalid-regex.yaml
  pkg/compare/testdata/ReferenceV2InlineRegex/reference/metadata-regex-with-diff-in-first-line.yaml
  pkg/compare/testdata/ReferenceV2InlineRegex/reference/metadata-regex-with-diff.yaml
  pkg/compare/testdata/ReferenceV2InlineRegex/reference/metadata.yaml
  pkg/compare/testdata/ReferenceV2InlineRegex/resources/cm.yaml
  pkg/compare/testdata/ReferenceV2PerFieldMatcherValidation/localmatcherNotExisterr.golden
  pkg/compare/testdata/ReferenceV2PerFieldMatcherValidation/localmatcherNotExistout.golden
  pkg/compare/testdata/ReferenceV2PerFieldMatcherValidation/localpathNotItTemplateerr.golden
  pkg/compare/testdata/ReferenceV2PerFieldMatcherValidation/localpathNotItTemplateout.golden
  pkg/compare/testdata/ReferenceV2PerFieldMatcherValidation/reference/cm.yaml
  pkg/compare/testdata/ReferenceV2PerFieldMatcherValidation/reference/metadata-does-not-exist.yaml
  pkg/compare/testdata/ReferenceV2PerFieldMatcherValidation/reference/metadata-path-does-not-exist-in-template.yaml
  pkg/compare/testdata/ReferenceV2PerFieldMatcherValidation/resources/cm.yaml
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

Handle capture groups in regex blob
  pkg/compare/compare_test.go
  pkg/compare/referenceV2.go
Due: golint, ci/prow/golint

Deal with the nondeterministic results from circular import detection
  pkg/compare/compare_test.go
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/local_circular_include_err.golden
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/local_circular_include_out.golden
Due: golint, ci/prow/golint

Allow references to supply per-template description text
  docs/reference-config-guide-v2.md
  pkg/compare/compare.go
  pkg/compare/compare_test.go
  pkg/compare/output.go
  pkg/compare/parsing.go
  pkg/compare/referenceV1.go
  pkg/compare/referenceV2.go
  pkg/compare/testdata/Description/local_hidden_for_match_out.golden
  pkg/compare/testdata/Description/local_shown_for_diff_err.golden
  pkg/compare/testdata/Description/local_shown_for_diff_out.golden
  pkg/compare/testdata/Description/local_shown_for_missing_file_err.golden
  pkg/compare/testdata/Description/local_shown_for_missing_file_out.golden
  pkg/compare/testdata/Description/reference/cm-diff.yaml
  pkg/compare/testdata/Description/reference/cm-matches.yaml
  pkg/compare/testdata/Description/reference/cm-missing.yaml
  pkg/compare/testdata/Description/reference/metadata_hidden_for_match.yaml
  pkg/compare/testdata/Description/reference/metadata_shown_for_diff.yaml
  pkg/compare/testdata/Description/reference/metadata_shown_for_missing_file.yaml
  pkg/compare/testdata/Description/resources/configmap.yaml
  pkg/compare/testdata/DescriptionV1/local_hidden_for_match_out.golden
  pkg/compare/testdata/DescriptionV1/local_shown_for_diff_err.golden
  pkg/compare/testdata/DescriptionV1/local_shown_for_diff_out.golden
  pkg/compare/testdata/DescriptionV1/local_shown_for_missing_file_err.golden
  pkg/compare/testdata/DescriptionV1/local_shown_for_missing_file_out.golden
  pkg/compare/testdata/DescriptionV1/reference/cm-diff.yaml
  pkg/compare/testdata/DescriptionV1/reference/cm-matches.yaml
  pkg/compare/testdata/DescriptionV1/reference/cm-missing.yaml
  pkg/compare/testdata/DescriptionV1/reference/metadata_hidden_for_match.yaml
  pkg/compare/testdata/DescriptionV1/reference/metadata_shown_for_diff.yaml
  pkg/compare/testdata/DescriptionV1/reference/metadata_shown_for_missing_file.yaml
  pkg/compare/testdata/DescriptionV1/resources/configmap.yaml
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

Improve regex handling
  pkg/compare/compare_test.go
  pkg/compare/referenceV2.go
Due: golint, ci/prow/golint

Error on nested capture statements
  pkg/compare/compare_test.go
  pkg/compare/referenceV2.go
Due: golint, ci/prow/golint

Fix bug in validation
  pkg/compare/compare_test.go
  pkg/compare/referenceV2.go
Due: golint, ci/prow/golint

Some little refactoring
  pkg/compare/compare_test.go
  pkg/compare/referenceV2.go
Due: golint, ci/prow/golint

Warn in validate instead of failing completely
  pkg/compare/compare_test.go
  pkg/compare/referenceV2.go
Due: golint, ci/prow/golint

Move comment
  pkg/compare/referenceV2.go
Due: golint, ci/prow/golint

Escape values if refernce filenames contain '.'
  addon-tools/helm-convert/convert/convert.go
  addon-tools/helm-convert/convert/convert_test.go
  addon-tools/helm-convert/convert/testdata/OddFilenames/reference/config-map.yaml
  addon-tools/helm-convert/convert/testdata/OddFilenames/reference/crb.yml
  addon-tools/helm-convert/convert/testdata/OddFilenames/reference/deployment.dashboard.yaml
  addon-tools/helm-convert/convert/testdata/OddFilenames/reference/metadata.yaml
  addon-tools/helm-convert/convert/testdata/OddFilenames/reference/subdir/cr.yaml
  addon-tools/helm-convert/convert/testdata/OddFilenames/result/Chart.yaml
  addon-tools/helm-convert/convert/testdata/OddFilenames/result/templates/_helpers.tpl
  addon-tools/helm-convert/convert/testdata/OddFilenames/result/templates/config-map.yaml
  addon-tools/helm-convert/convert/testdata/OddFilenames/result/templates/crb.yml
  addon-tools/helm-convert/convert/testdata/OddFilenames/result/templates/deployment.dashboard.yaml
  addon-tools/helm-convert/convert/testdata/OddFilenames/result/templates/subdir/cr.yaml
  addon-tools/helm-convert/convert/testdata/OddFilenames/result/values.yaml
Due: golint, ci/prow/golint

Introduce capturegroups inline diff mode
  docs/reference-config-guide-v2.md
  pkg/compare/capturegroupsInlineDiff.go
  pkg/compare/capturegroupsInlineDiff_test.go
  pkg/compare/compare_test.go
  pkg/compare/referenceV2.go
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localWithDiffBetweenCapturegroupserr.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localWithDiffBetweenCapturegroupsout.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localWithDiffInFirstLineerr.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localWithDiffInFirstLineout.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localWithMismatchedCapturegroupserr.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localWithMismatchedCapturegroupsout.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localinvalidCapturegroupserr.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localinvalidCapturegroupsout.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localout.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localwithDifferr.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localwithDiffout.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/cm-invalid-capturegroups.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/cm-with-diff-between-capturegroups.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/cm-with-diff-in-first-line.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/cm-with-diff.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/cm-with-mismatched-capturegroups.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/cm.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/metadata-invalid-capturegroups.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/metadata-with-diff-between-capture-groups.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/metadata-with-diff-in-first-line.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/metadata-with-diff.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/metadata-with-mismatched-capturegroups.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/metadata.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/resources/cm.yaml
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

Restructure RegexInlineDiff to its own source file
  pkg/compare/compare.go
  pkg/compare/referenceV2.go
  pkg/compare/regexInlineDiff.go
Due: golint, ci/prow/golint

Make capturegroup mismatches more visible
  pkg/compare/capturegroupsInlineDiff.go
  pkg/compare/capturegroupsInlineDiff_test.go
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localWithMismatchedCapturegroupsout.golden
Due: golint, ci/prow/golint

Explicitly add module github.com/sergi/go-diff
  addon-tools/helm-convert/go.mod
  addon-tools/helm-convert/go.sum
  addon-tools/report-creator/go.mod
  addon-tools/report-creator/go.sum
  go.mod
  go.sum
  vendor/github.com/sergi/go-diff/AUTHORS
  vendor/github.com/sergi/go-diff/CONTRIBUTORS
  vendor/github.com/sergi/go-diff/LICENSE
  vendor/github.com/sergi/go-diff/diffmatchpatch/diff.go
  vendor/github.com/sergi/go-diff/diffmatchpatch/diffmatchpatch.go
  vendor/github.com/sergi/go-diff/diffmatchpatch/match.go
  vendor/github.com/sergi/go-diff/diffmatchpatch/mathutil.go
  vendor/github.com/sergi/go-diff/diffmatchpatch/operation_string.go
  vendor/github.com/sergi/go-diff/diffmatchpatch/patch.go
  vendor/github.com/sergi/go-diff/diffmatchpatch/stringutil.go
  vendor/modules.txt
Due: golint, ci/prow/golint

Bump addon-tools dependencies for kube-compare:v0.3.0 release
  addon-tools/helm-convert/go.mod
  addon-tools/helm-convert/go.sum
  addon-tools/report-creator/go.mod
  addon-tools/report-creator/go.sum
  vendor/modules.txt
Due: golint, ci/prow/golint

Bump github.com/stretchr/testify v1.9.0
  addon-tools/helm-convert/go.mod
  addon-tools/helm-convert/go.sum
  addon-tools/report-creator/go.mod
  addon-tools/report-creator/go.sum
  go.mod
  go.sum
  go.work.sum
  vendor/github.com/stretchr/testify/assert/assertion_compare.go
  vendor/github.com/stretchr/testify/assert/assertion_compare_can_convert.go
  vendor/github.com/stretchr/testify/assert/assertion_compare_legacy.go
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/http_assertions.go
  vendor/github.com/stretchr/testify/require/require.go
  vendor/github.com/stretchr/testify/require/require_forward.go
  vendor/modules.txt
Due: golint, ci/prow/golint

Add 'make test-all' to make full end-to-end testing easier
  Makefile
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

Bump github.com/BurntSushi/toml to v1.4.0
  addon-tools/helm-convert/go.mod
  addon-tools/helm-convert/go.sum
  addon-tools/report-creator/go.mod
  addon-tools/report-creator/go.sum
  go.mod
  go.sum
  vendor/github.com/BurntSushi/toml/README.md
  vendor/github.com/BurntSushi/toml/decode.go
  vendor/github.com/BurntSushi/toml/decode_go116.go
  vendor/github.com/BurntSushi/toml/deprecated.go
  vendor/github.com/BurntSushi/toml/doc.go
  vendor/github.com/BurntSushi/toml/encode.go
  vendor/github.com/BurntSushi/toml/error.go
  vendor/github.com/BurntSushi/toml/lex.go
  vendor/github.com/BurntSushi/toml/meta.go
  vendor/github.com/BurntSushi/toml/parse.go
  vendor/github.com/BurntSushi/toml/type_fields.go
  vendor/github.com/BurntSushi/toml/type_toml.go
  vendor/modules.txt
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

Bump k8s.io/kubectl v0.31.2
  addon-tools/helm-convert/go.mod
  addon-tools/helm-convert/go.sum
  addon-tools/report-creator/go.mod
  addon-tools/report-creator/go.sum
  go.mod
  go.sum
  vendor/github.com/fvbommel/sortorder/.gitignore
  vendor/github.com/fvbommel/sortorder/LICENSE
  vendor/github.com/fvbommel/sortorder/README.md
  vendor/github.com/fvbommel/sortorder/doc.go
  vendor/github.com/fvbommel/sortorder/natsort.go
  vendor/k8s.io/component-base/version/base.go
  vendor/k8s.io/kubectl/pkg/cmd/apply/apply.go
  vendor/k8s.io/kubectl/pkg/cmd/apply/patcher.go
  vendor/k8s.io/kubectl/pkg/cmd/get/get.go
  vendor/k8s.io/kubectl/pkg/cmd/get/sorter.go
  vendor/k8s.io/kubectl/pkg/cmd/util/editor/editoptions.go
  vendor/k8s.io/kubectl/pkg/cmd/util/editor/editor.go
  vendor/k8s.io/kubectl/pkg/cmd/util/editor/launcher_others.go
  vendor/k8s.io/kubectl/pkg/cmd/util/editor/launcher_windows.go
  vendor/k8s.io/kubectl/pkg/cmd/util/helpers.go
  vendor/k8s.io/kubectl/pkg/cmd/wait/condition.go
  vendor/k8s.io/kubectl/pkg/cmd/wait/create.go
  vendor/k8s.io/kubectl/pkg/cmd/wait/delete.go
  vendor/k8s.io/kubectl/pkg/cmd/wait/json.go
  vendor/k8s.io/kubectl/pkg/cmd/wait/wait.go
  vendor/k8s.io/kubectl/pkg/describe/describe.go
  vendor/k8s.io/kubectl/pkg/polymorphichelpers/helpers.go
  vendor/k8s.io/kubectl/pkg/polymorphichelpers/interface.go
  vendor/k8s.io/kubectl/pkg/polymorphichelpers/logsforobject.go
  vendor/k8s.io/kubectl/pkg/util/completion/completion.go
  vendor/k8s.io/kubectl/pkg/util/i18n/translations/kubectl/ja_JP/LC_MESSAGES/k8s.po
  vendor/k8s.io/kubectl/pkg/util/pod_port.go
  vendor/modules.txt
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

Bump k8s.io/utils v0.0.0-20241104163129-6fe5fd82f078
  addon-tools/helm-convert/go.mod
  addon-tools/helm-convert/go.sum
  addon-tools/report-creator/go.mod
  addon-tools/report-creator/go.sum
  go.mod
  go.sum
  vendor/modules.txt
Due: golint, ci/prow/golint

Update top-level README
  README.md
Due: markdownlint, ci/prow/markdownlint

Allow Metadata Description to be set at Part and Component levels
  docs/reference-config-guide-v2.md
  pkg/compare/compare_test.go
  pkg/compare/referenceV2.go
  pkg/compare/testdata/Description/local_component_shown_for_diff_err.golden
  pkg/compare/testdata/Description/local_component_shown_for_diff_out.golden
  pkg/compare/testdata/Description/local_part_shown_for_diff_err.golden
  pkg/compare/testdata/Description/local_part_shown_for_diff_out.golden
  pkg/compare/testdata/Description/local_precidence_c_t_shown_for_diff_err.golden
  pkg/compare/testdata/Description/local_precidence_c_t_shown_for_diff_out.golden
  pkg/compare/testdata/Description/local_precidence_p_c_shown_for_diff_err.golden
  pkg/compare/testdata/Description/local_precidence_p_c_shown_for_diff_out.golden
  pkg/compare/testdata/Description/local_precidence_p_c_t_shown_for_diff_err.golden
  pkg/compare/testdata/Description/local_precidence_p_c_t_shown_for_diff_out.golden
  pkg/compare/testdata/Description/local_precidence_p_t_shown_for_diff_err.golden
  pkg/compare/testdata/Description/local_precidence_p_t_shown_for_diff_out.golden
  pkg/compare/testdata/Description/reference/metadata_component_shown_for_diff.yaml
  pkg/compare/testdata/Description/reference/metadata_part_shown_for_diff.yaml
  pkg/compare/testdata/Description/reference/metadata_precidence_c_t_shown_for_diff.yaml
  pkg/compare/testdata/Description/reference/metadata_precidence_p_c_shown_for_diff.yaml
  pkg/compare/testdata/Description/reference/metadata_precidence_p_c_t_shown_for_diff.yaml
  pkg/compare/testdata/Description/reference/metadata_precidence_p_t_shown_for_diff.yaml
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

Add test
  pkg/compare/compare_test.go
Due: golint, ci/prow/golint

Add matching of sub parts to handle and missing parts
  pkg/compare/compare_test.go
  pkg/compare/referenceV2.go
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/local_circular_include_err.golden
  pkg/compare/testdata/ReferenceV2InlineRegex/localWithDiffInFirstLineout.golden
  pkg/compare/testdata/ReferenceV2InlineRegex/localwithDiffout.golden
Due: golint, ci/prow/golint

Add stacktrace to test panic output
  pkg/compare/compare_test.go
Due: golint, ci/prow/golint

Perform field validation just-in-time for diff
  pkg/compare/compare.go
  pkg/compare/referenceV2.go
  pkg/compare/testdata/ReferenceV2PerFieldMatcherValidation/localpathNotItTemplateerr.golden
Due: golint, ci/prow/golint

Replace unstructured.NestedString with a copy that allows list traversal
  docs/reference-config-guide-v1.md
  pkg/compare/compare.go
  pkg/compare/correlator.go
  pkg/compare/referenceV2.go
  pkg/compare/unstructured.go
  pkg/compare/unstructured_test.go
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

Excercise list traversal pathToKey for capturegroups testing
  pkg/compare/compare_test.go
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localWithDiffBetweenCapturegroupsout.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localWithDiffInFirstLineout.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localWithMismatchedCapturegroupsout.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localinvalidCapturegroupsLateDetectionerr.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localinvalidCapturegroupsLateDetectionout.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localout.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/localwithDiffout.golden
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/cm-invalid-capturegroups-late-detection.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/cm-invalid-capturegroups.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/cm-with-diff-between-capturegroups.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/cm-with-diff-in-first-line.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/cm-with-diff.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/cm-with-mismatched-capturegroups.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/cm.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/metadata-invalid-capturegroups-late-detection.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/metadata-invalid-capturegroups.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/metadata-with-diff-between-capture-groups.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/metadata-with-diff-in-first-line.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/metadata-with-diff.yaml
  pkg/compare/testdata/ReferenceV2InlineCapturegroups/reference/metadata.yaml
Due: golint, ci/prow/golint

compare of named capture group values in inline regex
  pkg/compare/capturegroupsInlineDiff.go
  pkg/compare/capturegroupsInlineDiff_test.go
  pkg/compare/regexInlineDiff.go
  pkg/compare/regexInlineDiff_test.go
  pkg/compare/testdata/ReferenceV2InlineRegex/localWithDiffInFirstLineout.golden
  pkg/compare/testdata/ReferenceV2InlineRegex/reference/cm-regex-with-diff-in-first-line.yaml
Due: golint, ci/prow/golint

OCPBUGS-43700: Fix reporting of diff when using external diff 'diff -y'
  pkg/compare/compare.go
Due: golint, ci/prow/golint
