Repository openshift/kube-compare: changes, and which Prow jobs are due for each by the changed paths.
All: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

Path conditions:
  markdownlint: any of: (\.md|^Makefile|^hack/.*markdown.*|^.markdown.*)$
  golint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/golint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/markdownlint: any of: (\.md|^Makefile|^hack/.*markdown.*|^.markdown.*)$

Autodetect the container engine if not staged
  Makefile
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

Fix report tool tests
  addon-tools/report-creator/report/create_test.go
  pkg/compare/compare.go
Due: golint, ci/prow/golint

Select the best match from templates in cases of multiple matches
  docs/user-guide.md
  pkg/compare/compare.go
  pkg/compare/compare_test.go
  pkg/compare/correlator.go
  pkg/compare/testdata/OnlyResourcesThatWereNotMatchedBecauseMultipleMatchesAppearInSummary/localerr.golden
  pkg/compare/testdata/OnlyResourcesThatWereNotMatchedBecauseMultipleMatchesAppearInSummary/localout.golden
  pkg/compare/testdata/OnlyResourcesThatWereNotMatchedBecauseMultipleMatchesAppearInSummary/reference/apps.v1.DaemonSet.kube-system.kindnet.yaml
  pkg/compare/testdata/OnlyResourcesThatWereNotMatchedBecauseMultipleMatchesAppearInSummary/reference/apps.v1.DaemonSet.kube-system.kindnet2.yaml
  pkg/compare/testdata/OnlyResourcesThatWereNotMatchedBecauseMultipleMatchesAppearInSummary/reference/metadata.yaml
  pkg/compare/testdata/OnlyResourcesThatWereNotMatchedBecauseMultipleMatchesAppearInSummary/resources/apps.v1.DaemonSet.kube-system.kindnet.yaml
  pkg/compare/testdata/OnlyResourcesThatWereNotMatchedBecauseMultipleMatchesAppearInSummary/resources/apps.v1.DaemonSet.kube-system.test2.yaml
  pkg/compare/testdata/OnlyResourcesThatWereNotMatchedBecauseMultipleMatchesAppearInSummary/resources/cm.yaml
  pkg/compare/testdata/OnlyResourcesThatWereNotMatchedBecauseMultipleMatchesAppearInSummary/resources/cr.yaml
  pkg/compare/testdata/OnlyResourcesThatWereNotMatchedBecauseMultipleMatchesAppearInSummary/resources/crb.yaml
  pkg/compare/testdata/OnlyResourcesThatWereNotMatchedBecauseMultipleMatchesAppearInSummary/resources/d1.yaml
  pkg/compare/testdata/OnlyResourcesThatWereNotMatchedBecauseMultipleMatchesAppearInSummary/resources/d2.yaml
  pkg/compare/testdata/OnlyResourcesThatWereNotMatchedBecauseMultipleMatchesAppearInSummary/resources/ns.yaml
  pkg/compare/testdata/OnlyResourcesThatWereNotMatchedBecauseMultipleMatchesAppearInSummary/resources/rb.yaml
  pkg/compare/testdata/OnlyResourcesThatWereNotMatchedBecauseMultipleMatchesAppearInSummary/resources/resource.yaml
  pkg/compare/testdata/OnlyResourcesThatWereNotMatchedBecauseMultipleMatchesAppearInSummary/resources/role.yaml
  pkg/compare/testdata/OnlyResourcesThatWereNotMatchedBecauseMultipleMatchesAppearInSummary/resources/sa.yaml
  pkg/compare/testdata/OnlyResourcesThatWereNotMatchedBecauseMultipleMatchesAppearInSummary/resources/secret1.yaml
  pkg/compare/testdata/OnlyResourcesThatWereNotMatchedBecauseMultipleMatchesAppearInSummary/resources/secret2.yaml
  pkg/compare/testdata/OnlyResourcesThatWereNotMatchedBecauseMultipleMatchesAppearInSummary/resources/secret3.yaml
  pkg/compare/testdata/OnlyResourcesThatWereNotMatchedBecauseMultipleMatchesAppearInSummary/resources/service.yaml
  pkg/compare/testdata/OnlyResourcesThatWereNotMatchedBecauseMultipleMatchesAppearInSummary/resources/service2.yaml
  pkg/compare/testdata/TwoTemplatesWithSameKindNamespace/localout.golden
  pkg/compare/testdata/TwoTemplatesWithSameKindNamespace/reference/apps.v1.DaemonSet.kube-system.kindnet2.yaml
  pkg/compare/testdata/TwoTemplatesWithSameapiVersionKindNameNamespace/localerr.golden
  pkg/compare/testdata/TwoTemplatesWithSameapiVersionKindNameNamespace/localout.golden
  pkg/compare/testdata/TwoTemplatesWithSameapiVersionKindNameNamespace/reference/apps.v1.DaemonSet.kube-system.kindnet2.yaml
  pkg/compare/testdata/WhenUsingDiffAllFlag-AllUnmatchedResourcesAppearInSummary/localout.golden
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

use ocp:cli as base image
  Dockerfile
  Makefile
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

Update release guide with Krew index update instructions
  docs/release-guide.md
Due: markdownlint, ci/prow/markdownlint

Add metadata sha256 summary
  pkg/compare/compare.go
  pkg/compare/parsing.go
  pkg/compare/testdata/AllRequiredTemplatesExistAndThereAreNoDiffs/liveout.golden
  pkg/compare/testdata/AllRequiredTemplatesExistAndThereAreNoDiffs/localout.golden
  pkg/compare/testdata/CheckIgnoreUnspecifiedFieldsConfig/localout.golden
  pkg/compare/testdata/CheckMergingDoesNotOverwriteTemplateConfig/localout.golden
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShown/liveout.golden
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShown/localout.golden
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownAllQuoted/localout.golden
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownLeadingDot/localout.golden
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownNonDefault/localout.golden
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownPrefix/localout.golden
  pkg/compare/testdata/InvalidResourcesAreSkipped/localout.golden
  pkg/compare/testdata/JSONOutput/localout.golden
  pkg/compare/testdata/ManualCorrelationMatchesArePrioritizedOverGroupCorrelation/liveout.golden
  pkg/compare/testdata/ManualCorrelationMatchesArePrioritizedOverGroupCorrelation/localout.golden
  pkg/compare/testdata/NoDiffs/localout.golden
  pkg/compare/testdata/NoDiffs/localwithVebosityFlagout.golden
  pkg/compare/testdata/OnlyRequiredResourcesOfRequiredComponentAreReportedMissing(OptionalResourcesNotReported)/liveout.golden
  pkg/compare/testdata/OnlyRequiredResourcesOfRequiredComponentAreReportedMissing(OptionalResourcesNotReported)/localout.golden
  pkg/compare/testdata/RefContainsTemplatesWithFunctionTemplatesInSameFile/localout.golden
  pkg/compare/testdata/RefTemplateInSubDirNotReportedMissing/liveout.golden
  pkg/compare/testdata/RefTemplateInSubDirNotReportedMissing/localout.golden
  pkg/compare/testdata/RefTemplateInSubDirWorksWithManualCorrelation/liveout.golden
  pkg/compare/testdata/RefTemplateInSubDirWorksWithManualCorrelation/localout.golden
  pkg/compare/testdata/RefWithTemplateFunctionsRendersAsExpected/liveout.golden
  pkg/compare/testdata/RefWithTemplateFunctionsRendersAsExpected/localout.golden
  pkg/compare/testdata/RequiredResourcesOfOptionalComponentAreNotReportedMissing/liveout.golden
  pkg/compare/testdata/RequiredResourcesOfOptionalComponentAreNotReportedMissing/localout.golden
  pkg/compare/testdata/RequiredResourcesOfOptionalComponentAreReportedMissingIfAtLeastOneOfResourcesInGroupIsIncluded/liveout.golden
  pkg/compare/testdata/RequiredResourcesOfOptionalComponentAreReportedMissingIfAtLeastOneOfResourcesInGroupIsIncluded/localout.golden
  pkg/compare/testdata/SomeDiffs/localout.golden
  pkg/compare/testdata/SomeDiffs/localwithVebosityFlagout.golden
  pkg/compare/testdata/TemplatesContainKindThatIsNotRecognizableInLiveCluster/liveout.golden
  pkg/compare/testdata/TwoTemplatesWithSameKindNamespace/localout.golden
  pkg/compare/testdata/TwoTemplatesWithSameapiVersionKindNameNamespace/localout.golden
  pkg/compare/testdata/WhenUsingDiffAllFlag-AllUnmatchedResourcesAppearInSummary/localout.golden
  pkg/compare/testdata/YAMLOutput/localout.golden
Due: golint, ci/prow/golint

CNF-14098: Count each CR for the same template in total
  pkg/compare/compare.go
  pkg/compare/correlator.go
  pkg/compare/parsing.go
  pkg/compare/testdata/AllRequiredTemplatesExistAndThereAreNoDiffs/liveout.golden
  pkg/compare/testdata/AllRequiredTemplatesExistAndThereAreNoDiffs/localout.golden
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShown/liveout.golden
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShown/localout.golden
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownAllQuoted/localout.golden
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownLeadingDot/localout.golden
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownNonDefault/localout.golden
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownPrefix/localout.golden
  pkg/compare/testdata/ManualCorrelationMatchesArePrioritizedOverGroupCorrelation/liveout.golden
  pkg/compare/testdata/ManualCorrelationMatchesArePrioritizedOverGroupCorrelation/localout.golden
  pkg/compare/testdata/WhenUsingDiffAllFlag-AllUnmatchedResourcesAppearInSummary/localout.golden
Due: golint, ci/prow/golint

Fix typo in docs
  README.md
  docs/reference-config-guide.md
Due: markdownlint, ci/prow/markdownlint

Add downstream build documentation
  docs/downstream.md
Due: markdownlint, ci/prow/markdownlint

CNF-11871: Allow for user defined overrides
  pkg/compare/compare.go
  pkg/compare/compare_test.go
  pkg/compare/correlator.go
  pkg/compare/parsing.go
  pkg/compare/testdata/UserOverride/gotemplate.patch
  pkg/compare/testdata/UserOverride/localerr.golden
  pkg/compare/testdata/UserOverride/localfailOutputerr.golden
  pkg/compare/testdata/UserOverride/localfailOutputout.golden
  pkg/compare/testdata/UserOverride/localgotemplateerr.golden
  pkg/compare/testdata/UserOverride/localgotemplateout.golden
  pkg/compare/testdata/UserOverride/localnewOverridesWithReasonout.golden
  pkg/compare/testdata/UserOverride/localnewOverridesout.golden
  pkg/compare/testdata/UserOverride/localout.golden
  pkg/compare/testdata/UserOverride/localrfc6902err.golden
  pkg/compare/testdata/UserOverride/localrfc6902out.golden
  pkg/compare/testdata/UserOverride/reference/metadata.yaml
  pkg/compare/testdata/UserOverride/reference/namespace-no-patch.yaml
  pkg/compare/testdata/UserOverride/reference/namespace.yaml
  pkg/compare/testdata/UserOverride/resources/ns1.yaml
  pkg/compare/testdata/UserOverride/resources/ns2.yaml
  pkg/compare/testdata/UserOverride/rfc6902.patch
  pkg/compare/useroverride.go
Due: golint, ci/prow/golint

Fix exactMatch and add test
  pkg/compare/compare.go
  pkg/compare/compare_test.go
  pkg/compare/correlator.go
  pkg/compare/parsing.go
  pkg/compare/testdata/UserOverride/exactMatch.patch
  pkg/compare/testdata/UserOverride/localexactMatcherr.golden
  pkg/compare/testdata/UserOverride/localexactMatchout.golden
  pkg/compare/useroverride.go
Due: golint, ci/prow/golint

Add docs
  docs/user-guide.md
  pkg/compare/testdata/UserOverride/localexactMatchout.golden
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

Modify go-releaser to build arm64 and not 386
  .goreleaser.yml
Due: golint, ci/prow/golint

Fail if not reason
  pkg/compare/compare.go
  pkg/compare/compare_test.go
  pkg/compare/testdata/UserOverride/localnoReasonGenerateerr.golden
  pkg/compare/testdata/UserOverride/localnoReasonGenerateout.golden
  pkg/compare/testdata/UserOverride/localnoReasonLoaderr.golden
  pkg/compare/testdata/UserOverride/localnoReasonLoadout.golden
  pkg/compare/testdata/UserOverride/localsuccessfulerr.golden
  pkg/compare/testdata/UserOverride/localsuccessfulout.golden
  pkg/compare/testdata/UserOverride/noReason.patch
  pkg/compare/useroverride.go
Due: golint, ci/prow/golint

Added krew installation guide in install section
  README.md
Due: markdownlint, ci/prow/markdownlint

Add version to metadata but default to v1 if missing
  addon-tools/helm-convertor/convert/convert.go
  pkg/compare/compare.go
  pkg/compare/compare_test.go
  pkg/compare/parsing.go
  pkg/compare/testdata/ReferenceConfigFileIsntValidYAML/localerr.golden
  pkg/compare/testdata/ReferenceHasInvalidVersion/localerr.golden
  pkg/compare/testdata/ReferenceHasInvalidVersion/localout.golden
  pkg/compare/testdata/ReferenceHasInvalidVersion/reference/cm.yaml
  pkg/compare/testdata/ReferenceHasInvalidVersion/reference/metadata.yaml
  pkg/compare/testdata/ReferenceHasInvalidVersion/resources/cm.yaml
  pkg/compare/testdata/ReferenceHasValidVersion/localout.golden
  pkg/compare/testdata/ReferenceHasValidVersion/reference/cm.yaml
  pkg/compare/testdata/ReferenceHasValidVersion/reference/metadata.yaml
  pkg/compare/testdata/ReferenceHasValidVersion/resources/cm.yaml
Due: golint, ci/prow/golint

Configure dependabot to do go vendoring
  .github/dependabot.yml
Due: golint, ci/prow/golint

Revert "Configure dependabot to do go vendoring"
  .github/dependabot.yml
Due: golint, ci/prow/golint

Sync and vendor the workspace
  addon-tools/helm-convertor/go.mod
  addon-tools/helm-convertor/go.sum
  addon-tools/report-creator/go.mod
  addon-tools/report-creator/go.sum
  go.mod
  go.sum
  vendor/modules.txt
Due: golint, ci/prow/golint

Add dependencies label in Dependabot
  .github/dependabot.yml
Due: golint, ci/prow/golint

Make all reference parts interfaces
  addon-tools/helm-convertor/convert/convert.go
  addon-tools/helm-convertor/go.mod
  pkg/compare/compare.go
  pkg/compare/correlator.go
  pkg/compare/parsing.go
  pkg/compare/referenceV1.go
  pkg/compare/useroverride.go
Due: golint, ci/prow/golint

Add docs for metadata v2 API
  README.md
  docs/proposal.md
  docs/reference-config-guide-v1.md
  docs/reference-config-guide-v2.md
Due: markdownlint, ci/prow/markdownlint

Propogate summary changes to report-creator
  addon-tools/report-creator/report/create.go
  addon-tools/report-creator/report/create_test.go
  addon-tools/report-creator/report/testdata/CreationOfMissingCRsAndUnmatchedCRsAndDiffTestsSuitesWhenNoDiffs
  addon-tools/report-creator/report/testdata/DiffTestSuiteCreationWhenThereAreDiffs
  addon-tools/report-creator/report/testdata/MissingCRstestsuitecreationwhenCRSareMissing
  addon-tools/report-creator/report/testdata/MissingCRstestsuitecreationwhenCRSareMissing.golden
Due: golint, ci/prow/golint

Count leaves of the patch to find smallest diff
  pkg/compare/compare.go
  pkg/compare/testdata/WhenUsingDiffAllFlag-AllUnmatchedResourcesAppearInSummary/localout.golden
  pkg/compare/testdata/WhenUsingDiffAllFlag-AllUnmatchedResourcesAppearInSummary/reference/apps.v1.DaemonSet.kube-system.kindnet.yaml
Due: golint, ci/prow/golint

Add krew-bump.sh helper script for updating the krew index as part of release
  docs/release-guide.md
  hack/krew-bump.sh
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

Bump addon-tools dependencies to a more up-to-date kube-compare base module
  addon-tools/helm-convert/go.mod
  addon-tools/helm-convert/go.sum
  addon-tools/report-creator/go.mod
  addon-tools/report-creator/go.sum
  vendor/modules.txt
Due: golint, ci/prow/golint

Add includes to fields to omit
  pkg/compare/compare_test.go
  pkg/compare/referenceV1.go
  pkg/compare/referenceV2.go
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/local_basic_include_out.golden
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/local_basic_out.golden
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/local_circular_include_err.golden
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/local_circular_include_out.golden
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/local_leading_dot_out.golden
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/local_non_default_out.golden
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/local_quoted_out.golden
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/reference/deploymentMetrics.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/reference/metadata_basic.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/reference/metadata_basic_include.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/reference/metadata_circular_include.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/reference/metadata_leading_dot.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/reference/metadata_non_default.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/reference/metadata_quoted.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/resources/d1.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/resources/d2.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/resources/d3.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShownPrefix/localout.golden
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShownPrefix/reference/deploymentMetrics.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShownPrefix/reference/metadata.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShownPrefix/resources/d1.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShownPrefix/resources/d2.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShownPrefix/resources/d3.yaml
Due: golint, ci/prow/golint

Add warning if any api resources are missing a group
  pkg/compare/compare.go
  pkg/compare/compare_test.go
  pkg/compare/testdata/AllRequiredTemplatesExistAndThereAreNoDiffs/livebadAPIout.golden
Due: golint, ci/prow/golint

Add includes to fields to omit
  docs/reference-config-guide-v2.md
  pkg/compare/compare_test.go
  pkg/compare/referenceV1.go
  pkg/compare/referenceV2.go
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/local_basic_include_out.golden
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/local_basic_out.golden
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/local_circular_include_err.golden
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/local_circular_include_out.golden
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/local_leading_dot_out.golden
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/local_non_default_out.golden
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/local_quoted_out.golden
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/reference/deploymentMetrics.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/reference/metadata_basic.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/reference/metadata_basic_include.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/reference/metadata_circular_include.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/reference/metadata_leading_dot.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/reference/metadata_non_default.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/reference/metadata_quoted.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/resources/d1.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/resources/d2.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShown/resources/d3.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShownPrefix/localout.golden
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShownPrefix/reference/deploymentMetrics.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShownPrefix/reference/metadata.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShownPrefix/resources/d1.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShownPrefix/resources/d2.yaml
  pkg/compare/testdata/ReferenceV2DiffinCustomOmittedFieldsIsntShownPrefix/resources/d3.yaml
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

Add unit test for semver
  pkg/compare/compare_test.go
  pkg/compare/testdata/semver/local_bad_version_err.golden
  pkg/compare/testdata/semver/local_bad_version_out.golden
  pkg/compare/testdata/semver/local_good_version_out.golden
  pkg/compare/testdata/semver/reference/cv-4.18.yaml
  pkg/compare/testdata/semver/reference/cv-4.19.yaml
  pkg/compare/testdata/semver/reference/metadata_bad_version.yaml
  pkg/compare/testdata/semver/reference/metadata_good_version.yaml
  pkg/compare/testdata/semver/resources/cv.yaml
Due: golint, ci/prow/golint

Bump addon-tools to use latest kube-compare release
  addon-tools/helm-convert/go.mod
  addon-tools/report-creator/go.mod
  go.work.sum
  vendor/modules.txt
Due: golint, ci/prow/golint

Add an archive of addon tools to release artifacts
  .goreleaser.yml
Due: golint, ci/prow/golint

Adding README.md for addon-tools subdirectory and report-creator
  .goreleaser.yml
  addon-tools/README.md
  addon-tools/report-creator/README.md
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

Update GOLANG_CROSS_VERSION to 1.22.7
  Makefile
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint
