Repository openshift/kube-compare: changes, and which Prow jobs are due for each by the changed paths.
All: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

markdownlint:
  always_run: false
  commands: 'hack/markdownlint.sh
  
    '
  container:
    from: test-bin

golint:
  commands: 'make golangci-lint
  
    '
  container:
    clone: true
    from: golangci-lint

ci/prow/golint:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/markdownlint:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Fix use of template functions declared in the same file
  pkg/compare/compare_test.go
  pkg/compare/parsing.go
  pkg/compare/testdata/RefContainsTemplatesWithFunctionTemplatesInSameFile/localerr.golden
  pkg/compare/testdata/RefContainsTemplatesWithFunctionTemplatesInSameFile/localout.golden
  pkg/compare/testdata/RefContainsTemplatesWithFunctionTemplatesInSameFile/reference/cm.yaml
  pkg/compare/testdata/RefContainsTemplatesWithFunctionTemplatesInSameFile/reference/metadata.yaml
  pkg/compare/testdata/RefContainsTemplatesWithFunctionTemplatesInSameFile/resources/cm.yaml
Due: golint, ci/prow/golint

Add Dockerfile
  Dockerfile
Due: golint, ci/prow/golint

Fix typo in rhel9 image
  Dockerfile
Due: golint, ci/prow/golint

Update makefile to support cross platform build
  Makefile
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

Add image build
  Makefile
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

Add image build doc
  README.md
  docs/image-build.md
Due: markdownlint, ci/prow/markdownlint

use scratch as final base image
  Dockerfile
  docs/image-build.md
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

Remove extractMetadata, moving metadata into the ReferenceTemplate.
  pkg/compare/compare.go
  pkg/compare/compare_test.go
  pkg/compare/correlator.go
  pkg/compare/parsing.go
  pkg/compare/testdata/TemplateIsntYAMLAfterExecutionWithEmptyMap/localerr.golden
Due: golint, ci/prow/golint

Change the structure and syntax of fieldsToOmit and allow per template configuration.
  README.md
  docs/reference-config-guide.md
  pkg/compare/compare.go
  pkg/compare/compare_test.go
  pkg/compare/parsing.go
  pkg/compare/testdata/CustomFieldsToOmitDefaultKeyNotFound/localerr.golden
  pkg/compare/testdata/CustomFieldsToOmitDefaultKeyNotFound/localout.golden
  pkg/compare/testdata/CustomFieldsToOmitDefaultKeyNotFound/reference/deploymentMetrics.yaml
  pkg/compare/testdata/CustomFieldsToOmitDefaultKeyNotFound/reference/metadata.yaml
  pkg/compare/testdata/CustomFieldsToOmitRefEntryNotFound/localerr.golden
  pkg/compare/testdata/CustomFieldsToOmitRefEntryNotFound/localout.golden
  pkg/compare/testdata/CustomFieldsToOmitRefEntryNotFound/reference/deploymentMetrics.yaml
  pkg/compare/testdata/CustomFieldsToOmitRefEntryNotFound/reference/metadata.yaml
  pkg/compare/testdata/CustomFieldsToOmitRefEntryNotFound/resources/d1.yaml
  pkg/compare/testdata/CustomFieldsToOmitRefEntryNotFound/resources/d2.yaml
  pkg/compare/testdata/CustomFieldsToOmitRefEntryNotFound/resources/d3.yaml
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownAllQuoted/localout.golden
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownAllQuoted/reference/deploymentMetrics.yaml
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownAllQuoted/reference/metadata.yaml
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownAllQuoted/resources/d1.yaml
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownAllQuoted/resources/d2.yaml
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownAllQuoted/resources/d3.yaml
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownLeadingDot/localout.golden
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownLeadingDot/reference/deploymentMetrics.yaml
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownLeadingDot/reference/metadata.yaml
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownLeadingDot/resources/d1.yaml
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownLeadingDot/resources/d2.yaml
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownLeadingDot/resources/d3.yaml
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownNonDefault/localout.golden
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownNonDefault/reference/deploymentMetrics.yaml
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownNonDefault/reference/metadata.yaml
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownNonDefault/resources/d1.yaml
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownNonDefault/resources/d2.yaml
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownNonDefault/resources/d3.yaml
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownPrefix/localout.golden
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownPrefix/reference/deploymentMetrics.yaml
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownPrefix/reference/metadata.yaml
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownPrefix/resources/d1.yaml
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownPrefix/resources/d2.yaml
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownPrefix/resources/d3.yaml
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

Add 'make install' target to the Makefile
  Makefile
  README.md
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

Update README.md with update usage
  README.md
Due: markdownlint, ci/prow/markdownlint

update owners
  OWNERS
Due: none

Add - to seperate mode in test name
  pkg/compare/compare_test.go
Due: golint, ci/prow/golint

Add test builders
  pkg/compare/compare_test.go
Due: golint, ci/prow/golint

Fix bug overwrite when using prefix paths
  pkg/compare/compare.go
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownPrefix/resources/d3.yaml
Due: golint, ci/prow/golint

Fix report creation for CRs with no diffs
  addon-tools/report-creator/report/create.go
  addon-tools/report-creator/report/testdata/Creation Of Missing CRs And Unmatched CRs And Diff Tests Suites When No Diffs Creation Of Missing CRs And Unmatched CRs And Diff Tests Suites When No Diffs.golden
  addon-tools/report-creator/report/testdata/CreationOfMissingCRsAndUnmatchedCRsAndDiffTestsSuitesWhenNoDiffs
  addon-tools/report-creator/report/testdata/Diff Test Suite Creation When There Are Diffs Diff Test Suite Creation When There Are Diffs.golden
  addon-tools/report-creator/report/testdata/DiffTestSuiteCreationWhenThereAreDiffs
  addon-tools/report-creator/report/testdata/Missing CRs test suite creation when CRS are Missing Missing CRs test suite creation when CRS are Missing.golden
  addon-tools/report-creator/report/testdata/MissingCRstestsuitecreationwhenCRSareMissing
  addon-tools/report-creator/report/testdata/UnmatchedCRsTestSuiteWhenCRsAreUnmatched
Due: golint, ci/prow/golint

Ensure report creator uses latest JSON output format
  addon-tools/report-creator/report/create_test.go
  addon-tools/report-creator/report/testdata/CreationOfMissingCRsAndUnmatchedCRsAndDiffTestsSuitesWhenNoDiffs.golden
  addon-tools/report-creator/report/testdata/DiffTestSuiteCreationWhenThereAreDiffs
  addon-tools/report-creator/report/testdata/DiffTestSuiteCreationWhenThereAreDiffs.golden
  addon-tools/report-creator/report/testdata/MissingCRstestsuitecreationwhenCRSareMissing.golden
  addon-tools/report-creator/report/testdata/UnmatchedCRsTestSuiteWhenCRsAreUnmatched.golden
  pkg/compare/compare_test.go
  pkg/testutils/testutils.go
Due: golint, ci/prow/golint

Simplify isURL
  pkg/compare/httpfs.go
Due: golint, ci/prow/golint

Point reference flag to config file
  README.md
  pkg/compare/compare.go
  pkg/compare/compare_test.go
  pkg/compare/parsing.go
  pkg/compare/testdata/NoDiffs/localerr.golden
  pkg/compare/testdata/NoInput/localerr.golden
  pkg/compare/testdata/ReferenceConfigFileDoesntExist/localerr.golden
  pkg/compare/testdata/ReferenceDirectoryDoesntExist/localerr.golden
  pkg/compare/testdata/ReferenceDirectoryDoesntExist/localout.golden
  pkg/compare/testdata/YAMLOutput/localout.golden
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

Enable dependabot
  .github/dependabot.yml
Due: golint, ci/prow/golint

Simplify grouping of resources in test client
  pkg/compare/compare_test.go
  pkg/compare/correlator.go
Due: golint, ci/prow/golint

Add field corrilator
  pkg/compare/compare.go
  pkg/compare/compare_test.go
  pkg/compare/correlator.go
  pkg/compare/testdata/OnlyResourcesThatWereNotMatchedBecauseMultipleMatchesAppearInSummary/localout.golden
  pkg/compare/testdata/TwoTemplatesWithSameKindNamespace/localout.golden
  pkg/compare/testdata/TwoTemplatesWithSameapiVersionKindNameNamespace/localout.golden
  pkg/compare/testdata/WhenUsingDiffAllFlag-AllUnmatchedResourcesAppearInSummary/localout.golden
Due: golint, ci/prow/golint

Simplify code for getting kind grouped templates
  pkg/compare/compare.go
  pkg/compare/parsing.go
  pkg/compare/testdata/TemplateHasNoKind/liveerr.golden
Due: golint, ci/prow/golint

Remove subpackage groups as its no longer used
  pkg/groups/groups.go
Due: golint, ci/prow/golint

Select the best match from templates in cases of multiple matches
  docs/user-guide.md
  pkg/compare/compare.go
  pkg/compare/compare_test.go
  pkg/compare/correlator.go
  pkg/compare/parsing.go
  pkg/compare/testdata/OnlyResourcesThatWereNotMatchedBecauseMultipleMatchesAppearInSummary/localout.golden
  pkg/compare/testdata/OnlyResourcesThatWereNotMatchedBecauseMultipleMatchesAppearInSummary/userconfig.yaml
  pkg/compare/testdata/TwoTemplatesWithSameKindNamespace/localout.golden
  pkg/compare/testdata/TwoTemplatesWithSameKindNamespace/reference/apps.v1.DaemonSet.kube-system.kindnet2.yaml
  pkg/compare/testdata/TwoTemplatesWithSameapiVersionKindNameNamespace/localout.golden
  pkg/compare/testdata/TwoTemplatesWithSameapiVersionKindNameNamespace/reference/apps.v1.DaemonSet.kube-system.kindnet2.yaml
  pkg/compare/testdata/TwoTemplatesWithSameapiVersionKindNameNamespace/userconfig.yaml
  pkg/compare/testdata/WhenUsingDiffAllFlag-AllUnmatchedResourcesAppearInSummary/localout.golden
  pkg/compare/testdata/WhenUsingDiffAllFlag-AllUnmatchedResourcesAppearInSummary/userconfig.yaml
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

Add the label ok-to-test to dependabot's PRs by default
  .github/dependabot.yml
Due: golint, ci/prow/golint

Update go to 1.22
  addon-tools/report-creator/go.mod
  addon-tools/report-creator/go.sum
  go.mod
  go.work
Due: golint, ci/prow/golint

Update Parts -> parts and Components -> components
  README.md
  docs/proposal.md
  docs/reference-config-guide.md
  pkg/compare/testdata/AllRequiredTemplatesExistAndThereAreNoDiffs/reference/metadata.yaml
  pkg/compare/testdata/CheckIgnoreUnspecifiedFieldsConfig/reference/metadata.yaml
  pkg/compare/testdata/CheckMergingDoesNotOverwriteTemplateConfig/reference/metadata.yaml
  pkg/compare/testdata/CustomFieldsToOmitDefaultKeyNotFound/reference/metadata.yaml
  pkg/compare/testdata/CustomFieldsToOmitRefEntryNotFound/reference/metadata.yaml
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShown/reference/metadata.yaml
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownAllQuoted/reference/metadata.yaml
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownLeadingDot/reference/metadata.yaml
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownNonDefault/reference/metadata.yaml
  pkg/compare/testdata/DiffinCustomOmittedFieldsIsntShownPrefix/reference/metadata.yaml
  pkg/compare/testdata/InvalidResourcesAreSkipped/reference/metadata.yaml
  pkg/compare/testdata/JSONOutput/reference/metadata.yaml
  pkg/compare/testdata/ManualCorrelationMatchesArePrioritizedOverGroupCorrelation/reference/metadata.yaml
  pkg/compare/testdata/NoDiffs/reference/metadata.yaml
  pkg/compare/testdata/OnlyRequiredResourcesOfRequiredComponentAreReportedMissing(OptionalResourcesNotReported)/reference/metadata.yaml
  pkg/compare/testdata/OnlyResourcesThatWereNotMatchedBecauseMultipleMatchesAppearInSummary/reference/metadata.yaml
  pkg/compare/testdata/RefContainsTemplatesWithFunctionTemplatesInSameFile/reference/metadata.yaml
  pkg/compare/testdata/RefTemplateInSubDirNotReportedMissing/reference/metadata.yaml
  pkg/compare/testdata/RefTemplateInSubDirWorksWithManualCorrelation/reference/metadata.yaml
  pkg/compare/testdata/RefWithTemplateFunctionsRendersAsExpected/reference/metadata.yaml
  pkg/compare/testdata/ReferenceContainsFunctionTemplatesThatDontParse/reference/metadata.yaml
  pkg/compare/testdata/ReferenceContainsTemplatesThatDontExist/reference/metadata.yaml
  pkg/compare/testdata/ReferenceContainsTemplatesThatDontParse/reference/metadata.yaml
  pkg/compare/testdata/RequiredResourcesOfOptionalComponentAreNotReportedMissing/reference/metadata.yaml
  pkg/compare/testdata/RequiredResourcesOfOptionalComponentAreReportedMissingIfAtLeastOneOfResourcesInGroupIsIncluded/reference/metadata.yaml
  pkg/compare/testdata/SomeDiffs/reference/metadata.yaml
  pkg/compare/testdata/TemplateHasNoKind/reference/metadata.yaml
  pkg/compare/testdata/TemplateIsntYAMLAfterExecutionWithEmptyMap/reference/metadata.yaml
  pkg/compare/testdata/TemplatesContainKindThatIsNotRecognizableInLiveCluster/reference/metadata.yaml
  pkg/compare/testdata/TestLocalResourceFileDoesntexist/reference/metadata.yaml
  pkg/compare/testdata/TwoTemplatesWithSameKindNamespace/reference/metadata.yaml
  pkg/compare/testdata/TwoTemplatesWithSameapiVersionKindNameNamespace/reference/metadata.yaml
  pkg/compare/testdata/UserConfigDoesntExist/reference/metadata.yaml
  pkg/compare/testdata/UserConfigIsntCorrectYAML/reference/metadata.yaml
  pkg/compare/testdata/UserConfigManualCorrelationContainsTemplateThatDoesntExist/reference/metadata.yaml
  pkg/compare/testdata/WhenUsingDiffAllFlag-AllUnmatchedResourcesAppearInSummary/reference/metadata.yaml
  pkg/compare/testdata/YAMLOutput/reference/metadata.yaml
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

Bump Go version to 1.22.0
  addon-tools/report-creator/go.mod
  go.mod
  go.work
Due: golint, ci/prow/golint

Add helm-convertor tool for converting kube-compare reference configs to Helm charts
  Makefile
  addon-tools/compare-to-helm/README.md
  addon-tools/compare-to-helm/convert/collect_expected_values_visitor.go
  addon-tools/compare-to-helm/convert/convert_to_helm.go
  addon-tools/compare-to-helm/convert/get_defaults.go
  addon-tools/compare-to-helm/convert/tmplwalk.go
  addon-tools/compare-to-helm/go.mod
  addon-tools/compare-to-helm/go.sum
  addon-tools/compare-to-helm/helm-convert.go
  go.work
  go.work.sum
  pkg/compare/compare.go
  pkg/compare/funcmap.go
  pkg/compare/parsing.go
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

Add contributing.md notes about vendored go modules
  docs/contributing.md
Due: markdownlint, ci/prow/markdownlint

Detect tests that panic
  pkg/compare/compare_test.go
Due: golint, ci/prow/golint

Add example of a catch all template
  docs/reference-config-guide.md
  pkg/compare/compare_test.go
  pkg/compare/testdata/MachineConfigsCatchAll/localerr.golden
  pkg/compare/testdata/MachineConfigsCatchAll/localout.golden
  pkg/compare/testdata/MachineConfigsCatchAll/reference/01-container-mount-ns-and-kubelet-conf-master.yaml
  pkg/compare/testdata/MachineConfigsCatchAll/reference/01-container-mount-ns-and-kubelet-conf-worker.yaml
  pkg/compare/testdata/MachineConfigsCatchAll/reference/metadata.yaml
  pkg/compare/testdata/MachineConfigsCatchAll/reference/other_mcs.yaml
  pkg/compare/testdata/MachineConfigsCatchAll/resources/01-container-mount-ns-and-kubelet-conf-master.yaml
  pkg/compare/testdata/MachineConfigsCatchAll/resources/01-container-mount-ns-and-kubelet-conf-worker.yaml
  pkg/compare/testdata/MachineConfigsCatchAll/resources/other_mc.yaml
  pkg/compare/testdata/YAMLOutput/localout.golden
Due: markdownlint, golint, ci/prow/golint, ci/prow/markdownlint

Stop failing metadata collection from causing a panic
  pkg/compare/compare_test.go
  pkg/compare/parsing.go
  pkg/compare/testdata/FailMetadataCollection/localerr.golden
  pkg/compare/testdata/FailMetadataCollection/localout.golden
  pkg/compare/testdata/FailMetadataCollection/reference/badMeta.yaml
  pkg/compare/testdata/FailMetadataCollection/reference/metadata.yaml
  pkg/compare/testdata/FailMetadataCollection/resources/d.yaml
  pkg/compare/testdata/YAMLOutput/localout.golden
Due: golint, ci/prow/golint

Add check for unused error files
  pkg/compare/compare_test.go
Due: golint, ci/prow/golint

Stop failing metadata collection from causing a panic
  pkg/compare/parsing.go
  pkg/compare/testdata/TemplateIsntYAMLAfterExecutionWithEmptyMap/localerr.golden
  pkg/compare/testdata/YAMLOutput/localout.golden
Due: golint, ci/prow/golint

Path conditions:
  markdownlint: any of: (\.md|^Makefile|^hack/.*markdown.*|^.markdown.*)$
  golint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/golint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Z]+\.md$)
  ci/prow/markdownlint: any of: (\.md|^Makefile|^hack/.*markdown.*|^.markdown.*)$
