Repository kubevirt/ssp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests, win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test

Path conditions:
  unittests: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^OWNERS$|^PROJECT$|^LICENSE$
  e2e-functests: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^OWNERS$|^PROJECT$|^LICENSE$
  e2e-upgrade-functests: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^OWNERS$|^PROJECT$|^LICENSE$
  e2e-single-node-functests: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^OWNERS$|^PROJECT$|^LICENSE$
  win10-pipeline-example-test: any of: (^data/tekton-pipelines/.*|^data/tekton-tasks/.*|^internal/tekton-bundle/.*|^internal/operands/tekton-pipelines/.*|^internal/operands/tekton-tasks/.*)$
  win11-pipeline-example-test: any of: (^data/tekton-pipelines/.*|^data/tekton-tasks/.*|^internal/tekton-bundle/.*|^internal/operands/tekton-pipelines/.*|^internal/operands/tekton-tasks/.*)$
  win2k22-pipeline-example-test: any of: (^data/tekton-pipelines/.*|^data/tekton-tasks/.*|^internal/tekton-bundle/.*|^internal/operands/tekton-pipelines/.*|^internal/operands/tekton-tasks/.*)$

chore: update tekton-tasks manifests to v0.15.1
  data/tekton-tasks/kubernetes/kubevirt-tekton-tasks-kubernetes.yaml
  data/tekton-tasks/okd/kubevirt-tekton-tasks-okd.yaml
  internal/common/version.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests, win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test

Update common-templates bundle to version v0.27.0
  data/common-templates-bundle/common-templates-v0.27.0.yaml
  internal/operands/common-templates/version.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

Automated update of common-instancetypes bundles to v0.4.0
  data/common-instancetypes-bundle/common-clusterinstancetypes-bundle.yaml
  data/common-instancetypes-bundle/common-clusterpreferences-bundle.yaml
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

Update virtio image version to v1.1.1
  data/tekton-pipelines/windows-bios-installer-pipeline.yaml
  data/tekton-pipelines/windows-efi-installer-pipeline.yaml
  internal/common/environment.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests, win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test

rbac: Audit `*` verbs from kubevirt-tekton-tasks
  config/rbac/role.yaml
  data/olm-catalog/ssp-operator.clusterserviceversion.yaml
  internal/operands/tekton-tasks/tekton-tasks.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests, win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test

Revert "[release-v0.18] Update common-templates to v0.27.0"
  data/common-templates-bundle/common-templates-v0.27.0.yaml
  internal/operands/common-templates/version.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

Fix VirtualMachineCRCErrors not getting resolved
  controllers/vm_controller.go
  docs/metrics.md
  internal/operands/metrics/resources.go
  pkg/monitoring/metrics/rbd_metrics.go
  pkg/monitoring/metrics/rbd_metrics_test.go
  tests/monitoring_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

Add offset to ginkgo e2e validations
  tests/monitoring_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

fix: add required labels to pods
  internal/common/labels.go
  internal/operands/template-validator/reconcile.go
  internal/operands/vm-console-proxy/reconcile.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

Refactor monitoring metrics
  controllers/ssp_controller.go
  controllers/vm_controller.go
  internal/common/resource.go
  internal/operands/common-templates/reconcile.go
  internal/operands/common-templates/reconcile_test.go
  internal/template-validator/validator/app.go
  internal/template-validator/webhooks/hook.go
  main.go
  pkg/monitoring/metrics/ssp-operator/metrics.go
  pkg/monitoring/metrics/ssp-operator/metrics_suite_test.go
  pkg/monitoring/metrics/ssp-operator/operator_metrics.go
  pkg/monitoring/metrics/ssp-operator/rbd_metrics.go
  pkg/monitoring/metrics/ssp-operator/rbd_metrics_test.go
  pkg/monitoring/metrics/ssp-operator/template_metrics.go
  pkg/monitoring/metrics/template-validator/metrics.go
  pkg/monitoring/metrics/template-validator/template_metrics.go
  tests/metrics_test.go
  tools/metricsdocs/metricsdocs.go
  validator.Dockerfile
  vendor/github.com/prometheus/client_golang/prometheus/promauto/auto.go
  vendor/modules.txt
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

feat: configure dependabot
  .github/dependabot.yml
Due: none

chore: update vm-console-proxy manifests to v0.4.0
  data/vm-console-proxy-bundle/vm-console-proxy.yaml
  internal/operands/vm-console-proxy/defaults.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

fix: code after dependency bump
  go.mod
  tests/monitoring_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

feat: set special labels to dependabot PRs
  .github/dependabot.yml
Due: none

fix: increase partition1 size in windows efi configmaps
  data/tekton-pipelines/windows-efi-installer-configmaps.yaml
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests, win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test

feat: Move metrics rules and alerts to separate package
  internal/operands/metrics/resources.go
  pkg/monitoring/rules/rules.go
  tests/monitoring_test.go
  tools/metricsdocs/metricsdocs.go
  tools/prom-metrics-collector/metrics_collector.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

feat: run unit tests for metrics rules
  Makefile
  hack/metrics-rules-test.sh
  pkg/monitoring/rules/rules-tests.yaml
  tools/test-rules-writer/test_rules_writer.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

feat: add more tests for metrics alerts
  pkg/monitoring/rules/rules-tests.yaml
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

chore: metrics: Make a global variable private
  pkg/monitoring/rules/rules.go
  tools/metricsdocs/metricsdocs.go
  tools/prom-metrics-collector/metrics_collector.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

Update VM controller error handling
  controllers/vm_controller.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

feat: update golang to 1.21
  .github/workflows/pull-request.yaml
  .github/workflows/release.yaml
  Dockerfile
  api/go.mod
  ci-builder/Dockerfile
  go.mod
  go.sum
  validator.Dockerfile
  vendor/modules.txt
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

fix: unit tests
  go.sum
  internal/common/resource_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

fix: set boot source labels for DVs created by windows pipelines
  data/tekton-pipelines/windows-bios-installer-pipeline.yaml
  data/tekton-pipelines/windows-efi-installer-pipeline.yaml
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests, win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test

fix: Use TokenRequest API to get prometheus token
  tests/monitoring_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

Remove 'codingben' from OWNERS
  OWNERS
Due: none

chore: Remove workflow: add-reviewer-monitoring.yaml
  .github/workflows/add-reviewer-monitoring.yaml
Due: none

Rename VirtualMachineCRCErrors to VMStorageClassWarning
  pkg/monitoring/rules/rules-tests.yaml
  pkg/monitoring/rules/rules.go
  tests/monitoring_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

fix: Incorrect DataSource reconciliation
  internal/operands/data-sources/reconcile.go
  internal/operands/data-sources/reconcile_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests
