Repository kubevirt/ssp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests, win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test

unittests:
  steps:
    test:
    - as: unittests
      commands: export GOFLAGS= && make unittest
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi

e2e-functests:
  steps:
    cluster_profile: gcp-virtualization
    env:
      COMPUTE_NODE_TYPE: n2-standard-4
    test:
    - as: e2e-functests
      cli: latest
      commands: 'export GOFLAGS=
  
        ./automation/e2e-functests/run.sh
  
        '
      dependencies:
      - env: CI_OPERATOR_IMG
        name: ssp-operator-container
  ...

e2e-upgrade-functests:
  steps:
    cluster_profile: gcp-virtualization
    env:
      COMPUTE_NODE_TYPE: n2-standard-4
    test:
    - as: e2e-upgrade-functests
      cli: latest
      commands: 'export GOFLAGS=
  
        ./automation/e2e-upgrade-functests/run.sh
  
        '
      dependencies:
      - env: CI_OPERATOR_IMG
  ...

e2e-single-node-functests:
  steps:
    cluster_profile: gcp-virtualization
    test:
    - as: e2e-single-node-functests
      cli: latest
      commands: 'export TOPOLOGY_MODE=SingleReplica
  
        export GOFLAGS=
  
        ./automation/e2e-functests/run.sh
  
        '
      dependencies:
      - env: CI_OPERATOR_IMG
  ...

win10-pipeline-example-test:
  steps:
    cluster_profile: gcp-virtualization
    env:
      COMPUTE_NODE_TYPE: n2-standard-4
    test:
    - as: win10-pipeline-example-test
      commands: export TARGET=windows10 && ./automation/e2e-tekton/example-pipelines-test.sh
      credentials:
      - mount_path: /tmp/secrets
  ...

win11-pipeline-example-test:
  steps:
    cluster_profile: gcp-virtualization
    env:
      COMPUTE_NODE_TYPE: n2-standard-4
    test:
    - as: win11-pipeline-example-test
      commands: export TARGET=windows11 && ./automation/e2e-tekton/example-pipelines-test.sh
      credentials:
      - mount_path: /tmp/secrets
  ...

win2k22-pipeline-example-test:
  steps:
    cluster_profile: gcp-virtualization
    env:
      COMPUTE_NODE_TYPE: n2-standard-4
    test:
    - as: win11-pipeline-example-test
      commands: export TARGET=windows2k22 && ./automation/e2e-tekton/example-pipelines-test.sh
      credentials:
      - mount_path: /tmp/secrets
  ...

Update common-templates bundle to version v0.26.0
  data/common-templates-bundle/common-templates-v0.26.0.yaml
  internal/operands/common-templates/version.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

fix: bump k8s dependencies
  go.mod
  go.sum
  vendor/k8s.io/api/batch/v1/generated.proto
  vendor/k8s.io/api/batch/v1/types.go
  vendor/k8s.io/api/batch/v1/types_swagger_doc_generated.go
  vendor/k8s.io/api/core/v1/generated.proto
  vendor/k8s.io/api/core/v1/types.go
  vendor/k8s.io/api/core/v1/types_swagger_doc_generated.go
  vendor/k8s.io/client-go/discovery/aggregated_discovery.go
  vendor/k8s.io/client-go/discovery/discovery_client.go
  vendor/k8s.io/client-go/openapi/client.go
  vendor/k8s.io/client-go/openapi/groupversion.go
  vendor/k8s.io/client-go/tools/cache/controller.go
  vendor/k8s.io/client-go/tools/cache/delta_fifo.go
  vendor/k8s.io/client-go/tools/cache/shared_informer.go
  vendor/modules.txt
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

refactor(CNV-31248): remove namespace annotation
  automation/e2e-upgrade-functests/run.sh
  config/samples/ssp_v1beta2_ssp.yaml
  data/olm-catalog/ssp-operator.clusterserviceversion.yaml
  docs/configuration.md
  internal/operands/vm-console-proxy/reconcile.go
  internal/operands/vm-console-proxy/reconcile_test.go
  tests/env/env.go
  tests/tests_suite_test.go
  tests/vm_console_proxy_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

refactor(CNV-31248): remove namespace annotation
  automation/e2e-upgrade-functests/run.sh
  config/samples/ssp_v1beta2_ssp.yaml
  data/olm-catalog/ssp-operator.clusterserviceversion.yaml
  internal/operands/vm-console-proxy/reconcile.go
  internal/operands/vm-console-proxy/reconcile_test.go
  tests/env/env.go
  tests/tests_suite_test.go
  tests/vm_console_proxy_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

fix: fix wrong parsing of vm.spec.template.spec.domain.memory.guest in validator
  internal/template-validator/validation/path/path.go
  internal/template-validator/validation/path/path_test.go
  internal/template-validator/validation/test-utils/utils.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

Add controller for kubevirt_ssp_vm_rbd_volume metrics
  config/rbac/role.yaml
  controllers/vm_controller.go
  data/olm-catalog/ssp-operator.clusterserviceversion.yaml
  docs/development.md
  main.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

Add VirtualMachineCRCErrors alert
  internal/operands/metrics/resources.go
  tests/monitoring_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

Reduce VirtualMachineCRCErrors noise
  internal/operands/metrics/resources.go
  tests/monitoring_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

fix: Don't replace namespace annotation when kubevirt namespace is set in ssp CR
  data/tekton-pipelines/pipelines-rbac.yaml
  data/tekton-pipelines/windows-bios-installer-configmaps.yaml
  data/tekton-pipelines/windows-customize-configmaps.yaml
  internal/operands/tekton-pipelines/reconcile.go
  internal/operands/tekton-pipelines/reconcile_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests, win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test

fix: Don't replace namespace annotation when kubevirt namespace is set in ssp CR
  data/tekton-pipelines/pipelines-rbac.yaml
  data/tekton-pipelines/windows-bios-installer-configmaps.yaml
  data/tekton-pipelines/windows-customize-configmaps.yaml
  internal/operands/tekton-pipelines/tekton-pipelines.go
  internal/operands/tekton-pipelines/tekton-pipelines_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests, win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test

Do not register VM controller if KubeVirt CRDs are not installed
  controllers/setup.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

common-instancetypes: Update bundle to version v0.3.3
  data/common-instancetypes-bundle/common-clusterinstancetypes-bundle.yaml
  data/common-instancetypes-bundle/common-clusterpreferences-bundle.yaml
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

common-instancetypes: Wait until SSP is deployed during URI test
  tests/common_instancetypes_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

common-instancetypes: Bump version used by URL functest
  tests/common_instancetypes_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

refactor: cleanup tekton operands
  config/rbac/role.yaml
  controllers/setup.go
  data/olm-catalog/ssp-operator.clusterserviceversion.yaml
  internal/common/resource.go
  internal/operands/tekton-pipelines/reconcile.go
  internal/operands/tekton-tasks/reconcile.go
  internal/operands/tekton-tasks/reconcile_test.go
  internal/tekton-bundle/tekton-bundle.go
  internal/tekton-bundle/tekton-bundle_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests, win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test

chore: update tekton-tasks manifests to v0.16.0
  data/tekton-tasks/kubernetes/kubevirt-tekton-tasks-kubernetes.yaml
  data/tekton-tasks/okd/kubevirt-tekton-tasks-okd.yaml
  internal/common/version.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests, win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test

common-instancetypes: Update bundle to version v0.3.4
  data/common-instancetypes-bundle/common-clusterinstancetypes-bundle.yaml
  data/common-instancetypes-bundle/common-clusterpreferences-bundle.yaml
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

fix: remove "cdi.kubevirt.io/storage.bind.immediate.requested" annotation
  data/tekton-pipelines/windows-bios-installer-pipeline.yaml
  data/tekton-pipelines/windows-customize-pipeline.yaml
  data/tekton-pipelines/windows-efi-installer-pipeline.yaml
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests, win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test

chore: csv-generator: code cleanup
  hack/csv-generator.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

chore: csv-generator: Extract common functionality
  hack/csv-generator.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

chore: csv-generator: Extract generation to functions
  hack/csv-generator.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

rbac: Audit `*` verbs from kubevirt-tekton-tasks
  config/rbac/role.yaml
  data/olm-catalog/ssp-operator.clusterserviceversion.yaml
  internal/operands/tekton-tasks/reconcile.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests, win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test

WIP: test sonarcloud
  README.md
Due: none

feat: add snyk file to exclude vendor folders
  .snyk
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

Code change: Move CI scripts to automation directory
  automation/common/deploy-kubevirt-and-cdi.sh
  automation/e2e-functests/run.sh
  automation/e2e-functests/setup.sh
  automation/e2e-upgrade-functests/run.sh
  automation/e2e-upgrade-functests/setup.sh
  automation/e2e-upgrade-functests/ssp-cr-template.yaml
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

e2e-upgrade-functests lane tests release from a specified branch
  automation/e2e-upgrade-functests/run.sh
  hack/validate-no-offensive-lang.sh
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

Path conditions:
  unittests: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^OWNERS$|^PROJECT$|^LICENSE$
  e2e-functests: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^OWNERS$|^PROJECT$|^LICENSE$
  e2e-upgrade-functests: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^OWNERS$|^PROJECT$|^LICENSE$
  e2e-single-node-functests: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^OWNERS$|^PROJECT$|^LICENSE$
  win10-pipeline-example-test: any of: (^data/tekton-pipelines/.*|^data/tekton-tasks/.*|^internal/tekton-bundle/.*|^internal/operands/tekton-pipelines/.*|^internal/operands/tekton-tasks/.*)$
  win11-pipeline-example-test: any of: (^data/tekton-pipelines/.*|^data/tekton-tasks/.*|^internal/tekton-bundle/.*|^internal/operands/tekton-pipelines/.*|^internal/operands/tekton-tasks/.*)$
  win2k22-pipeline-example-test: any of: (^data/tekton-pipelines/.*|^data/tekton-tasks/.*|^internal/tekton-bundle/.*|^internal/operands/tekton-pipelines/.*|^internal/operands/tekton-tasks/.*)$
