Repository kubevirt/ssp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests, win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test

Path conditions:
  unittests: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^OWNERS$|^PROJECT$|^LICENSE$
  e2e-functests: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^OWNERS$|^PROJECT$|^LICENSE$
  e2e-upgrade-functests: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^OWNERS$|^PROJECT$|^LICENSE$
  e2e-single-node-functests: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^OWNERS$|^PROJECT$|^LICENSE$
  win10-pipeline-example-test: any of: (^data/tekton-pipelines/.*|^data/tekton-tasks/.*|^internal/tekton-bundle/.*|^internal/operands/tekton-pipelines/.*|^internal/operands/tekton-tasks/.*)$
  win11-pipeline-example-test: any of: (^data/tekton-pipelines/.*|^data/tekton-tasks/.*|^internal/tekton-bundle/.*|^internal/operands/tekton-pipelines/.*|^internal/operands/tekton-tasks/.*)$
  win2k22-pipeline-example-test: any of: (^data/tekton-pipelines/.*|^data/tekton-tasks/.*|^internal/tekton-bundle/.*|^internal/operands/tekton-pipelines/.*|^internal/operands/tekton-tasks/.*)$

Remove setup.sh scripts from automation folder
  automation/e2e-functests/setup.sh
  automation/e2e-upgrade-functests/run.sh
  automation/e2e-upgrade-functests/setup.sh
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

common-instancetypes: Ignore objects owned by virt-operator
  internal/operands/common-instancetypes/reconcile.go
  internal/operands/common-instancetypes/reconcile_test.go
  tests/common_instancetypes_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

CI: Fix Kubevirt and CDI versions
  automation/common/deploy-kubevirt-and-cdi.sh
  automation/common/versions.sh
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

common-instancetypes: Remove args from reconcileRemovedResources
  internal/operands/common-instancetypes/reconcile.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

fix: instance types tests by waiting for ssp to be deployed
  tests/common_instancetypes_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

Update virtio image version to v1.0.1
  data/tekton-pipelines/windows-bios-installer-pipeline.yaml
  data/tekton-pipelines/windows-efi-installer-pipeline.yaml
  internal/common/environment.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests, win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test

common-instancetypes: Add DeployCommonInstancetypes featureGate
  api/v1beta2/ssp_types.go
  api/v1beta2/zz_generated.deepcopy.go
  config/crd/bases/ssp.kubevirt.io_ssps.yaml
  data/crd/ssp.kubevirt.io_ssps.yaml
  internal/operands/common-instancetypes/reconcile.go
  internal/operands/common-instancetypes/reconcile_test.go
  tests/common_instancetypes_test.go
  vendor/kubevirt.io/ssp-operator/api/v1beta2/ssp_types.go
  vendor/kubevirt.io/ssp-operator/api/v1beta2/zz_generated.deepcopy.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

chore: update vm-console-proxy manifests to v0.3.2
  data/vm-console-proxy-bundle/vm-console-proxy.yaml
  internal/operands/vm-console-proxy/defaults.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

chore: Regenerate CRD in data folder
  data/crd/ssp.kubevirt.io_ssps.yaml
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

Fix total_restored_common_templates metric update
  internal/common/resource.go
  internal/operands/common-templates/reconcile.go
  internal/operands/common-templates/reconcile_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

fix: Incorrect DataSource reconciliation
  internal/operands/data-sources/reconcile.go
  internal/operands/data-sources/reconcile_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

Update github actions to use golang 1.18
  .github/workflows/pull-request.yaml
  .github/workflows/release.yaml
Due: none

chore: Update version of vm-console-proxy container.
  data/vm-console-proxy-bundle/vm-console-proxy.yaml
  internal/operands/vm-console-proxy/reconcile.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

reconcile: Restore test that go deleted by accident
  internal/operands/data-sources/reconcile_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

feat: add evictionStrategy to VMs in tekton pipelines
  data/tekton-pipelines/windows-bios-installer-pipeline.yaml
  data/tekton-pipelines/windows-customize-pipeline.yaml
  data/tekton-pipelines/windows-efi-installer-pipeline.yaml
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests, win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test

Automated update of common-instancetypes bundles to v0.3.4
  data/common-instancetypes-bundle/common-clusterinstancetypes-bundle.yaml
  data/common-instancetypes-bundle/common-clusterpreferences-bundle.yaml
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

fix: Keep Ginkgo version in Makefile and go.mod in sync
  Makefile
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

reconcile_test: Extend DataSource / DataImportCron restore test
  internal/operands/data-sources/reconcile_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

feat: add .snyk file
  .snyk
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

adding polarion Id for VirtualMachineCRCErrors test
  tests/monitoring_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

Update virtio image version to v1.1.0
  data/tekton-pipelines/windows-bios-installer-pipeline.yaml
  data/tekton-pipelines/windows-efi-installer-pipeline.yaml
  internal/common/environment.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests, win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test

chore: Regenerate CRD
  data/crd/ssp.kubevirt.io_ssps.yaml
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

chore: webhook: Extract common functionality to a function
  webhooks/ssp_webhook.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

fix: webhook: Don't check common template namespace
  tests/webhook_test.go
  webhooks/ssp_webhook.go
  webhooks/ssp_webhook_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

feat: introduce dependabot config
  .github/dependabot.yml
Due: none
