Repository kubevirt/ssp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests, win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test

Path conditions:
  unittests: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^OWNERS$|^PROJECT$|^LICENSE$
  e2e-functests: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^OWNERS$|^PROJECT$|^LICENSE$
  e2e-upgrade-functests: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^OWNERS$|^PROJECT$|^LICENSE$
  e2e-single-node-functests: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^OWNERS$|^PROJECT$|^LICENSE$
  win10-pipeline-example-test: any of: (^data/tekton-pipelines/.*|^data/tekton-tasks/.*|^internal/tekton-bundle/.*|^internal/operands/tekton-pipelines/.*|^internal/operands/tekton-tasks/.*)$
  win11-pipeline-example-test: any of: (^data/tekton-pipelines/.*|^data/tekton-tasks/.*|^internal/tekton-bundle/.*|^internal/operands/tekton-pipelines/.*|^internal/operands/tekton-tasks/.*)$
  win2k22-pipeline-example-test: any of: (^data/tekton-pipelines/.*|^data/tekton-tasks/.*|^internal/tekton-bundle/.*|^internal/operands/tekton-pipelines/.*|^internal/operands/tekton-tasks/.*)$

chore: update vm-console-proxy manifests to v0.3.0
  data/vm-console-proxy-bundle/vm-console-proxy.yaml
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

feat: replace namespace of configMaps and roleBindings
  internal/operands/tekton-pipelines/reconcile.go
  internal/operands/tekton-pipelines/reconcile_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests, win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test

fix: Failing github action
  .github/workflows/add-reviewer-monitoring.yaml
Due: none

fix: change delete object type in clean up section in efi pipeline
  data/tekton-pipelines/windows-efi-installer-pipeline.yaml
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests, win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test

Change metrics names
  controllers/ssp_controller.go
  docs/metrics.md
  internal/common/resource.go
  internal/operands/common-templates/reconcile.go
  internal/operands/common-templates/reconcile_test.go
  internal/operands/metrics/resources.go
  internal/template-validator/webhooks/hook.go
  main.go
  tests/metrics_test.go
  tests/metrics_test_utils.go
  tests/misc_test.go
  tests/monitoring_test.go
  tests/tests_common_test.go
  tests/validator_test.go
  tools/metricsdocs/metricsdocs.go
  tools/prom-metrics-collector/metrics_collector.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

chore: Fix github.com/openshift/api branch comment in go.mod
  go.mod
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

fix: Remove add user workflow
  .github/workflows/add-reviewer-monitoring.yaml
Due: none

feat: Rework add reviewer workflow
  .github/workflows/add-reviewer-monitoring.yaml
Due: none

fix: custom configuration of crio in testing cluster
  automation/e2e-tekton/example-pipelines-test.sh
  hack/set-crio-permissions-command.sh
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

crd-watch: Add test suite
  internal/crd-watch/crd_watch_suite_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

Force runbooks names to equal alerts names
  tests/metrics_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

fix: CI uses the latest released Kubevirt
  automation/common/versions.sh
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

chore: Move to kubevirt v1.0.0
  go.mod
  go.sum
  vendor/modules.txt
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

chore: Move to containerized-data-importer v1.57.0
  go.mod
  go.sum
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/types_swagger_generated.go
  vendor/kubevirt.io/containerized-data-importer-api/pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

Change metrics names
  controllers/ssp_controller.go
  docs/metrics.md
  internal/common/resource.go
  internal/operands/common-templates/reconcile.go
  internal/operands/common-templates/reconcile_test.go
  internal/operands/metrics/resources.go
  internal/template-validator/webhooks/hook.go
  main.go
  tests/metrics_test.go
  tests/metrics_test_utils.go
  tests/misc_test.go
  tests/monitoring_test.go
  tests/tests_common_test.go
  tests/validator_test.go
  tools/metricsdocs/metricsdocs.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

Update virtio image version to v1.0.0
  data/tekton-pipelines/windows-bios-installer-pipeline.yaml
  data/tekton-pipelines/windows-efi-installer-pipeline.yaml
  internal/common/environment.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests, win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test

fix(CNV-28185): add required labels
  controllers/services_controller.go
  tests/service_controller_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

chore: Audit template validator RBAC rules.
  config/rbac/role.yaml
  data/olm-catalog/ssp-operator.clusterserviceversion.yaml
  internal/operands/template-validator/reconcile.go
  internal/operands/template-validator/resources.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

common-instancetypes: Update bundle to version v0.3.2
  data/common-instancetypes-bundle/common-clusterinstancetypes-bundle.yaml
  data/common-instancetypes-bundle/common-clusterpreferences-bundle.yaml
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

feat: Change the event of github action
  .github/workflows/add-reviewer-monitoring.yaml
Due: none

Testing github action
  internal/operands/metrics/reconcile.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

test: remove part-of label expected
  tests/service_controller_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

feat: add pull secret for windows images
  automation/e2e-tekton/example-pipelines-test.sh
  automation/e2e-tekton/test-files/windows10-dv.yaml
  automation/e2e-tekton/test-files/windows11-dv.yaml
  automation/e2e-tekton/test-files/windows2k22-dv.yaml
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

fix: SSP operator moving to CrashLoopBackOff after tlsProfile change
  controllers/ssp_controller.go
  internal/common/crypto_policy.go
  internal/template-validator/tlsinfo/tlsinfo.go
  main.go
  tests/crypto_policy_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

feat: Use the latest image of vm-console-proxy
  .github/workflows/release-vm-console-proxy.yaml
  config/manager/manager.template.yaml
  config/rbac/role.yaml
  data/olm-catalog/ssp-operator.clusterserviceversion.yaml
  data/vm-console-proxy-bundle/vm-console-proxy.yaml
  hack/csv-generator.go
  hack/csv-generator_test.go
  internal/common/environment.go
  internal/operands/vm-console-proxy/defaults.go
  internal/operands/vm-console-proxy/reconcile.go
  internal/operands/vm-console-proxy/reconcile_test.go
  internal/vm-console-proxy-bundle/bundle-test-duplicate.yaml
  internal/vm-console-proxy-bundle/bundle-test-incorrect.yaml
  internal/vm-console-proxy-bundle/bundle-test.yaml
  internal/vm-console-proxy-bundle/bundle.go
  internal/vm-console-proxy-bundle/bundle_test.go
  tests/e2e-test-csv-generator.sh
  tests/tests_suite_test.go
  tests/vm_console_proxy_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

chore: Remove add-reviewer-monitoring workflow
  .github/workflows/add-reviewer-monitoring.yaml
Due: none

WIP chore: Add sig-monitoring OWNERS
  OWNERS
  OWNERS_ALIASES
  internal/operands/metrics/OWNERS
  tests/OWNERS
  tools/metricsdocs/OWNERS
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

Add VirtualMachineCRCErrors alert
  internal/operands/metrics/resources.go
  tests/monitoring_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests

feat: replace namespace of configMaps and roleBindings
  internal/operands/tekton-pipelines/tekton-pipelines.go
  internal/operands/tekton-pipelines/tekton-pipelines_test.go
Due: unittests, e2e-functests, e2e-upgrade-functests, e2e-single-node-functests, win10-pipeline-example-test, win11-pipeline-example-test, win2k22-pipeline-example-test
