Repository openshift/openshift-ansible: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/logging, ci/prow/gcp-crio

ci/prow/e2e-gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --target=e2e-gcp-crio
      - --template=/usr/local/e2e-gcp-crio
      command:
      - ci-operator
      env:
  ...

ci/openshift-jenkins/logging:
  labels:
    master: ci.openshift.redhat.com

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - command:
      - ci-operator
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      env:
      - name: TEST_FOCUS
  ...

Removing quotes while executing few aci related shell commands
  roles/aci/tasks/main.yml
Due: none

GlusterFS: Set max-op-version at end of upgrade
  roles/openshift_storage_glusterfs/tasks/glusterfs_upgrade.yml
Due: none

openshift_node: Allow storage_plugin tasks to work through import_role
  playbooks/openshift-glusterfs/private/setup_nodes.yml
  roles/openshift_node/tasks/main.yml
  roles/openshift_node/tasks/storage_plugin_ceph.yml
  roles/openshift_node/tasks/storage_plugin_iscsi.yml
  roles/openshift_node/tasks/storage_plugin_nfs.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Replace remote_group_id by remote_ip_prefix
  roles/openshift_openstack/templates/heat_stack.yaml.j2
Due: none

Automatic commit of package [openshift-ansible] release [3.9.80-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.7.113-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.6.173.0.163-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.5.198-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.111-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Avoid duplicate env vars in router deploymentconfig
  roles/lib_openshift/library/oc_adm_router.py
  roles/lib_openshift/src/class/oc_adm_router.py
  roles/lib_openshift/src/test/unit/test_oc_adm_router.py
Due: none

Fix typo in ACI plugin
  roles/aci/tasks/firewall.yml
Due: none

Fix typo in Cisco ACI roles
  roles/aci/tasks/firewall.yml
Due: none

Fix container registry block all not blocking all registries
  roles/container_runtime/defaults/main.yml
  roles/container_runtime/tasks/common/pre.yml
  roles/container_runtime/tasks/package_docker.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [3.10.143-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Update Fuse templates with 7.3 release
  roles/openshift_examples/files/examples/v3.10/xpaas-streams/fis-image-streams.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/eap-camel-amq-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/eap-camel-cdi-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/eap-camel-cxf-jaxrs-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/eap-camel-cxf-jaxws-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/eap-camel-jpa-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/fis-console-cluster-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/fis-console-namespace-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/fuse-apicurito.yml
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/karaf-camel-amq-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/karaf-camel-log-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/karaf-camel-rest-sql-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/karaf-cxf-rest-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/spring-boot-camel-amq-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/spring-boot-camel-config-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/spring-boot-camel-infinispan-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/spring-boot-camel-rest-3scale-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/spring-boot-camel-rest-sql-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/spring-boot-camel-teiid-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/spring-boot-camel-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/spring-boot-camel-xa-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/spring-boot-camel-xml-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/spring-boot-cxf-jaxrs-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/spring-boot-cxf-jaxws-template.json
Due: none

Update Fuse templates with 7.3 release
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/fis-image-streams.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-camel-amq-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-camel-cdi-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-camel-cxf-jaxrs-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-camel-cxf-jaxws-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-camel-jpa-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/fis-console-cluster-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/fis-console-namespace-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/fuse-apicurito.yml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/karaf-camel-amq-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/karaf-camel-log-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/karaf-camel-rest-sql-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/karaf-cxf-rest-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-amq-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-config-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-infinispan-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-rest-3scale-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-rest-sql-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-teiid-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-xa-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-xml-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-cxf-jaxrs-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-cxf-jaxws-template.json
Due: none

Adding sensible checks to verify that atomic-openshift-node service is a) running on a worker node and b) node-config.yaml has been copied by the sync pod.
  roles/openshift_node/tasks/upgrade/restart.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

adding checks to verify a) atomic-openshift-node is running and b) node-config.yaml file has been transferred successfully by the sync pod
  roles/openshift_node/tasks/upgrade/restart.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

When upgrading rerun package_docker
  roles/container_runtime/tasks/package_docker.yml
  roles/openshift_node/tasks/upgrade.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [3.11.112-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Remove myself from OWNERS due to pending absence
  OWNERS
Due: none

DEBUG ONLY
  roles/openshift_control_plane/tasks/check_master_api_is_ready.yml
Due: none

Fix container registry block all not blocking all registries
  roles/container_runtime/defaults/main.yml
  roles/container_runtime/tasks/common/pre.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [3.10.144-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.9.81-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.7.114-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.6.173.0.164-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.5.199-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.113-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Fix: generate hawkular-cassandra pvc (dynamic)
  roles/openshift_metrics/tasks/generate_cassandra_pvcs.yaml
Due: none

Automatic commit of package [openshift-ansible] release [3.10.145-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

GlusterFS: Mark heketi as missing after delete
  roles/openshift_storage_glusterfs/tasks/glusterfs_upgrade.yml
Due: none

GlusterFS: Skip upgrade tasks when non-native
  roles/openshift_storage_glusterfs/tasks/glusterfs_upgrade.yml
Due: none

GlusterFS: Backup heketi db on upgrade
  roles/openshift_storage_glusterfs/tasks/glusterfs_upgrade.yml
  roles/openshift_storage_glusterfs/tasks/heketi_db_backup.yml
Due: none

GlusterFS: Allow multiple nodes in cluster check
  roles/lib_utils/library/glusterfs_check_containerized.py
  roles/lib_utils/test/test_glusterfs_check_containerized.py
  roles/openshift_storage_glusterfs/tasks/cluster_health.yml
  roles/openshift_storage_glusterfs/tasks/glusterfs_restart_pod.yml
Due: none

GlusterFS: Check brick usage before upgrade
  roles/lib_utils/library/glusterfs_check_containerized.py
  roles/openshift_storage_glusterfs/tasks/cluster_health.yml
  roles/openshift_storage_glusterfs/tasks/glusterfs_upgrade.yml
Due: none

container needs privileged mode if hostmount used
  roles/openshift_logging_mux/templates/2.x/mux.j2
  roles/openshift_logging_mux/templates/5.x/mux.j2
Due: ci/openshift-jenkins/logging

BZ1702544 - Elasticsearch failed to start due to invalid cert date if hosts have non-UTC timezone
  roles/openshift_logging/files/generate-jks.sh
Due: ci/openshift-jenkins/logging

Path conditions:
  ci/prow/e2e-gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
  ci/openshift-jenkins/logging: any of: ^roles/openshift_logging.*|playbooks/openshift-logging/.*
  ci/prow/gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
