Repository openshift/openshift-ansible: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/logging, ci/prow/gcp-crio

Path conditions:
  ci/prow/e2e-gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
  ci/openshift-jenkins/logging: any of: ^roles/openshift_logging.*|playbooks/openshift-logging/.*
  ci/prow/gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)

compare solely md5sum for config change, not default md5sum output which includes file name
  roles/openshift_node_group/files/sync.yaml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Remove import playbook restart
  playbooks/openshift-node/private/join.yml
Due: none

GCP still failing CI. Remove `update-ca-trust extract`
  roles/openshift_node/tasks/distribute_bootstrap.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Fix test_image for additional registries
  roles/cockpit-ui/defaults/main.yml
  roles/container_runtime/defaults/main.yml
  roles/container_runtime/tasks/registry_auth.yml
  roles/kuryr/defaults/main.yaml
  roles/metrics_server/defaults/main.yaml
  roles/olm/defaults/main.yaml
  roles/openshift_autoheal/defaults/main.yml
  roles/openshift_cluster_autoscaler/defaults/main.yml
  roles/openshift_cluster_monitoring_operator/defaults/main.yml
  roles/openshift_console/defaults/main.yml
  roles/openshift_control_plane/defaults/main.yml
  roles/openshift_control_plane/tasks/pre_pull.yml
  roles/openshift_control_plane/tasks/registry_auth.yml
  roles/openshift_control_plane/tasks/static.yml
  roles/openshift_control_plane/tasks/upgrade.yml
  roles/openshift_control_plane/templates/master.yaml.v1.j2
  roles/openshift_descheduler/defaults/main.yaml
  roles/openshift_docker_gc/defaults/main.yml
  roles/openshift_examples/defaults/main.yml
  roles/openshift_examples/tasks/stream_secrets.yml
  roles/openshift_facts/defaults/main.yml
  roles/openshift_health_checker/defaults/main.yml
  roles/openshift_hosted/defaults/main.yml
  roles/openshift_logging/defaults/main.yml
  roles/openshift_logging_defaults/defaults/main.yml
  roles/openshift_metrics/defaults/main.yaml
  roles/openshift_node/defaults/main.yml
  roles/openshift_node/tasks/prepull.yml
  roles/openshift_node/tasks/registry_auth.yml
  roles/openshift_node_group/defaults/main.yml
  roles/openshift_node_group/tasks/migrate_imageconfig.yml
  roles/openshift_node_group/templates/node-config.yaml.j2
  roles/openshift_node_problem_detector/defaults/main.yaml
  roles/openshift_service_catalog/defaults/main.yml
  roles/openshift_web_console/defaults/main.yml
  roles/template_service_broker/defaults/main.yml
Due: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/logging, ci/prow/gcp-crio

tox
  roles/openshift_node/tasks/distribute_bootstrap.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

TEST CI do not merge.
  roles/openshift_gcp/tasks/configure_master_bootstrap.yml
  roles/openshift_gcp/templates/openshift-bootstrap-update.j2
Due: none

manually bump release version of openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.154-2].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Enable arch specific openshift_node packages
  roles/openshift_node/defaults/main.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Bug 1765646: Fluentd single pod logging performance regression 3.x
  roles/openshift_logging/README.md
  roles/openshift_logging_fluentd/defaults/main.yml
  roles/openshift_logging_fluentd/templates/fluentd.j2
Due: ci/openshift-jenkins/logging

Restrict new scaleup machinesets to 1 replica
  test/aws/create_machineset.yml
Due: none

revert change of update-ca-trust extract
  roles/openshift_node/tasks/distribute_bootstrap.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

for debugging docker restart
  playbooks/openshift-node/private/restart.yml
  roles/openshift_logging/defaults/main.yml
Due: ci/openshift-jenkins/logging

[GlusterFS]: Doc updates
  playbooks/openshift-glusterfs/README.md
  roles/openshift_storage_glusterfs/README.md
Due: none

Fix web console URL
  roles/openshift_web_console/tasks/install.yml
Due: none

Use Ansible 2.9.1 for testing
  images/installer/Dockerfile
  requirements.txt
Due: none

Increase the timeout for restart
  playbooks/openshift-node/private/restart.yml
Due: none

Bug 1747307 - The redeploy-certificates.yml failed when ops is enabled
  roles/openshift_logging_kibana/defaults/main.yml
Due: ci/openshift-jenkins/logging

Add logging certificate redeploy to main redeploy playbook
  playbooks/redeploy-certificates.yml
Due: none

Bug 1773634: Enable arch specific openshift_node packages
  roles/openshift_node/defaults/main.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Fail waiting for machine creation if phase is failed
  test/aws/create_machineset.yml
Due: none

add any_errors_fatal
  playbooks/common/openshift-cluster/upgrades/init.yml
Due: none

Update Fuse templates with 7.5 release
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/fis-image-streams.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-camel-amq-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-camel-cdi-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-camel-cxf-jaxrs-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-camel-cxf-jaxws-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-camel-jpa-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/fis-console-cluster-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/fis-console-namespace-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/fuse-apicurito.yml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/karaf-camel-amq-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/karaf-camel-log-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/karaf-camel-rest-sql-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/karaf-cxf-rest-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-amq-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-config-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-drools-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-infinispan-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-rest-3scale-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-rest-sql-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-xa-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-xml-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-cxf-jaxrs-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-cxf-jaxws-template.json
Due: none

Fix openshift_health_checker sdn.py key error
  playbooks/common/openshift-cluster/upgrades/v3_11/fix_first_master_node.yml
  playbooks/common/openshift-cluster/upgrades/v3_11/upgrade_control_plane_part2.yml
  playbooks/openshift-checks/private/adhoc.yml
  playbooks/openshift-checks/private/health.yml
  playbooks/openshift-checks/private/install.yml
  playbooks/openshift-checks/private/pre-install.yml
  roles/openshift_health_checker/openshift_checks/sdn.py
  roles/openshift_health_checker/test/sdn_tests.py
Due: none

Remove obsolete roles from local openshift.fact
  roles/openshift_facts/library/openshift_facts.py
Due: none

Ensure openshift_master_cluster_hostname is set when deploying multiple masters
  roles/openshift_sanitize_inventory/tasks/main.yml
Due: none

Insered a missing "endif"
  roles/openshift_logging_fluentd/templates/fluentd.j2
Due: ci/openshift-jenkins/logging

Automatic commit of package [openshift-ansible] release [3.11.155-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.156-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Remove cloud-utils-growpart from node package list
  roles/openshift_node/defaults/main.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [3.11.157-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Enable persistency on journal
  roles/openshift_node/tasks/install.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Ensure installed crio version matches cluster API
  roles/openshift_node/defaults/main.yml
  roles/openshift_node/tasks/install.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Use Ansible 2.9 for OCP 4.4
  README.md
  openshift-ansible.spec
  requirements.txt
  roles/openshift_node/callback_plugins/aa_version_requirement.py
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

[KIECLOUD-336] - Update RHPAM and RHDM templates and imagestreams on OpenShift Service Catalog for release 7.5.1
  roles/openshift_examples/examples-sync.sh
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/rhdm75-image-streams.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/rhpam75-image-streams.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm75-authoring-ha.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm75-authoring.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm75-kieserver.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm75-optaweb-employee-rostering.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm75-prod-immutable-kieserver-amq.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm75-prod-immutable-kieserver.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm75-trial-ephemeral.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam75-authoring-ha.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam75-authoring.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam75-kieserver-externaldb.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam75-kieserver-mysql.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam75-kieserver-postgresql.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam75-managed.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam75-prod-immutable-kieserver-amq.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam75-prod-immutable-kieserver.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam75-prod-immutable-monitor.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam75-prod.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam75-trial-ephemeral.yaml
Due: none

Added several features and fixed bugs
  playbooks/openshift-node/private/contrail_sanitize.yml
  playbooks/openshift-node/private/join.yml
  roles/contrail_common/tasks/determine_contrail_masters.yaml
  roles/contrail_common/tasks/hosts_to_ip.yaml
  roles/contrail_master/defaults/main.yml
  roles/contrail_master/tasks/main.yaml
  roles/contrail_master/tasks/os_contrail_common.yaml
  roles/contrail_master/tasks/os_contrail_master.yaml
  roles/contrail_master/tasks/os_contrail_nested.yaml
  roles/contrail_master/templates/contrail-agent-5.j2
  roles/contrail_master/templates/contrail-analytics-5.j2
  roles/contrail_master/templates/contrail-analytics-alarm-5.j2
  roles/contrail_master/templates/contrail-analytics-db-5.j2
  roles/contrail_master/templates/contrail-analytics-snmp-5.j2
  roles/contrail_master/templates/contrail-config-db-5.j2
  roles/contrail_master/templates/contrail-control-config-5.j2
  roles/contrail_master/templates/contrail-control-control-5.j2
  roles/contrail_master/templates/contrail-image-downloader-agent-5.j2
  roles/contrail_master/templates/contrail-image-downloader-analytics-5.j2
  roles/contrail_master/templates/contrail-image-downloader-controller-5.j2
  roles/contrail_master/templates/contrail-image-downloader-infra-5.j2
  roles/contrail_master/templates/contrail-infra-vars-5.j2
  roles/contrail_master/templates/contrail-kube-manager-5.j2
  roles/contrail_master/templates/contrail-nested.j2
  roles/contrail_master/templates/wait_for_pod.j2
Due: none

gluster: add env variable to run Heketis LVM commands through a wrapper
  roles/openshift_storage_glusterfs/tasks/heketi_deploy.yml
  roles/openshift_storage_glusterfs/templates/heketi-template.yml.j2
Due: none

Temporary workaround for crio dirs
  roles/openshift_node/tasks/install.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Remove directory creation for crio
  roles/openshift_node/tasks/install.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio
