Repository openshift/openshift-ansible: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/logging, ci/prow/gcp-crio

Path conditions:
  ci/prow/e2e-gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
  ci/openshift-jenkins/logging: any of: ^roles/openshift_logging.*|playbooks/openshift-logging/.*
  ci/prow/gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)

Automatic commit of package [openshift-ansible] release [3.7.123-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Contrail namespace edited
  roles/contrail_master/tasks/os_contrail_master.yaml
Due: none

Extend docker proxy evaluation.
  roles/container_runtime/defaults/main.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Add possibility to use certs on master as source
  roles/openshift_hosted/tasks/router.yml
  roles/openshift_named_certificates/tasks/main.yml
Due: none

Add readiness + liveness probes Service Catalog API server
  roles/openshift_service_catalog/templates/api_server.j2
Due: none

Option to use openshift_metrics_cassandra_pvc_name to denote exact name of PVC to be used by hawkular-cassandra
  roles/openshift_metrics/tasks/generate_cassandra_pvcs.yaml
  roles/openshift_metrics/templates/hawkular_cassandra_rc.j2
Due: none

endpoint is missing as part of ClusterRole rule. This in turn throws a error when gluster-block pod is provisioned.
  roles/openshift_storage_glusterfs/files/glusterblock-provisioner.yml
Due: none

Fix openshift_logging_elasticsearch handler (Ansible 2.8)
  roles/openshift_logging_elasticsearch/handlers/main.yml
Due: ci/openshift-jenkins/logging

openvswtich logrotate is missing due to sdn container change
  roles/openshift_sdn/files/sdn-ovs.yaml
Due: none

endpoint is missing as part of ClusterRole rule. This in turn throws a error when gluster-block pod is provisioned.
  roles/openshift_storage_glusterfs/files/v3.6/glusterblock-provisioner.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.9.85-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Add openshift ca to trust via node sync
  roles/openshift_node_group/files/sync.yaml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Ensure default vars are loaded for sanity checks
  playbooks/init/sanity_checks.yml
Due: none

Fix #11643 - Allow to not specify ca file for openid
  roles/openshift_control_plane/defaults/main.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.11.124-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

kube-proxy, namespace and firewalld corrections
  playbooks/openshift-node/private/contrail_sanitize.yml
  roles/contrail_master/tasks/main.yaml
  roles/contrail_master/tasks/os_contrail_master.yaml
Due: none

Ensure master facts are set executing node config
  playbooks/openshift-node/config.yml
Due: none

Fix issue with metrics undefined l_kubelet_node_name
  playbooks/openshift-metrics/config.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.9.86-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.10.150-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.9.87-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.7.124-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.125-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Fix indentation on Kuryr volumes
  roles/kuryr/templates/cni-daemonset.yaml.j2
  roles/kuryr/templates/controller-deployment.yaml.j2
Due: none

roles/openshift-metrics: Allow configuring heapster log level
  roles/openshift_metrics/defaults/main.yaml
  roles/openshift_metrics/templates/heapster.j2
Due: none

Update tox test environment vars
  setup.py
  test/tox-inventory.txt_extras
  tox.ini
Due: none

Update tox test environment vars
  setup.py
  test/tox-inventory.txt
  test/tox-inventory.txt_extras
  tox.ini
Due: none

Automatic commit of package [openshift-ansible] release [3.10.151-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.9.88-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Fix small typo in task name
  roles/openshift_control_plane/tasks/main.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.11.126-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

distribute ca to etcd hosts
  playbooks/openshift-etcd/private/config.yml
  playbooks/openshift-etcd/private/distribute_ca.yml
Due: none

Refactor openshift_node
  README.md
  images/installer/root/usr/local/bin/entrypoint-provider
  inventory/hosts.example
  roles/openshift_node/defaults/main.yml
  roles/openshift_node/tasks/apply_machine_config.yml
  roles/openshift_node/tasks/config.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Fix until conditionals to handle failed tasks
  roles/openshift_node/tasks/apply_machine_config.yml
  roles/openshift_node/tasks/config.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Install openshift RPMs based on cluster version
  images/installer/root/usr/local/bin/entrypoint-provider
  roles/openshift_node/defaults/main.yml
  roles/openshift_node/tasks/install.yml
  roles/openshift_node/tasks/upgrade.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Scaleup: Check new_workers for active nodes
  playbooks/scaleup.yml
  roles/openshift_node/defaults/main.yml
  roles/openshift_node/tasks/scaleup_checks.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Don't create dirs for crio
  roles/openshift_node/tasks/install.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio
