Repository openshift/openshift-ansible: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/logging, ci/prow/gcp-crio

ci/prow/e2e-gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --target=e2e-gcp-crio
      - --template=/usr/local/e2e-gcp-crio
      command:
      - ci-operator
      env:
  ...

ci/openshift-jenkins/logging:
  labels:
    master: ci.openshift.redhat.com

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - command:
      - ci-operator
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      env:
      - name: TEST_FOCUS
  ...

Automatic commit of package [openshift-ansible] release [3.10.119-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.8.45-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Run package installs with async
  playbooks/init/base_packages.yml
  roles/container_runtime/tasks/crio_firewall.yml
  roles/openshift_node40/tasks/install.yml
  roles/openshift_repos/tasks/main.yaml
  test/aws/scaleup.yml
  test/gcp/build_image.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Revert "[release-3.10] [release-3.11] Remove deprecated "openshift_logging_curator_run_timezone variable""
  roles/openshift_logging/README.md
  roles/openshift_logging/defaults/main.yml
  roles/openshift_logging/tasks/install_logging.yaml
  roles/openshift_logging/tasks/set_defaults_from_current.yml
  roles/openshift_logging_curator/defaults/main.yml
Due: ci/openshift-jenkins/logging

Add Data Grid 7.3 to OpenShift Cloud Platform
  roles/openshift_examples/examples-sync.sh
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/datagrid65-image-stream.json
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/datagrid71-image-stream.json
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/datagrid72-image-stream.json
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/datagrid73-image-stream.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/cache-service-template.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/datagrid-service-template.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/datagrid65-basic.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/datagrid65-https.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/datagrid65-mysql-persistent.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/datagrid65-mysql.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/datagrid65-postgresql.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/datagrid71-https.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/datagrid71-mysql-persistent.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/datagrid71-mysql.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/datagrid71-partition.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/datagrid71-postgresql-persistent.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/datagrid72-mysql-persistent.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/datagrid72-partition.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/datagrid72-postgresql.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/datagrid73-basic.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/datagrid73-https.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/datagrid73-image-stream.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/datagrid73-mysql-persistent.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/datagrid73-mysql.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/datagrid73-partition.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/datagrid73-postgresql-persistent.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/datagrid73-postgresql.json
Due: none

Install openshift_node packages using async to avoid issues with bastion
  roles/openshift_node40/tasks/install.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

fixing docs to match actual defaults
  roles/openshift_logging/README.md
Due: ci/openshift-jenkins/logging

Re-create webconsole secrets and pods after master certs were redeployed
  playbooks/openshift-master/redeploy-certificates.yml
  playbooks/openshift-web-console/redeploy-certificates.yml
Due: none

Add a playbook to redeploy web-console certs
  playbooks/openshift-web-console/redeploy-certificates.yml
Due: none

sanity checks: avoid extra hostvar lookups
  roles/lib_utils/action_plugins/sanity_checks.py
  roles/lib_utils/test/sanity_check_test.py
Due: none

Prevent OpenStack heat from trying to create router when provider network is specified
  roles/openshift_openstack/templates/heat_stack.yaml.j2
Due: none

Adding docker as waagent systemd dependency
  playbooks/azure/openshift-cluster/build_node_image.yml
  playbooks/azure/openshift-cluster/files/waagent.service
Due: none

Automatic commit of package [openshift-ansible] release [3.11.90-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Add Data Grid 7.3 to OpenShift Cloud Platform
  roles/openshift_examples/examples-sync.sh
  roles/openshift_examples/files/examples/v3.10/xpaas-streams/datagrid65-image-stream.json
  roles/openshift_examples/files/examples/v3.10/xpaas-streams/datagrid71-image-stream.json
  roles/openshift_examples/files/examples/v3.10/xpaas-streams/datagrid72-image-stream.json
  roles/openshift_examples/files/examples/v3.10/xpaas-streams/datagrid73-image-stream.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/cache-service-template.yaml
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/datagrid-service-template.yaml
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/datagrid65-basic.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/datagrid65-https.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/datagrid65-mysql-persistent.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/datagrid65-mysql.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/datagrid65-postgresql.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/datagrid71-https.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/datagrid71-mysql-persistent.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/datagrid71-mysql.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/datagrid71-partition.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/datagrid71-postgresql-persistent.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/datagrid72-mysql-persistent.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/datagrid72-partition.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/datagrid72-postgresql.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/datagrid73-basic.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/datagrid73-https.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/datagrid73-image-stream.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/datagrid73-mysql-persistent.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/datagrid73-mysql.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/datagrid73-partition.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/datagrid73-postgresql-persistent.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/datagrid73-postgresql.json
Due: none

Use correct Data Grid version
  roles/openshift_examples/examples-sync.sh
Due: none

Require ansible 2.6, allow ansible 2.7
  README.md
  images/installer/Dockerfile
  images/installer/origin-extra-root/etc/yum.repos.d/centos-ansible27.repo
  openshift-ansible.spec
  requirements.txt
  roles/lib_utils/callback_plugins/aa_version_requirement.py
Due: none

Dockerfile: install ansible 2.7.8
  images/installer/Dockerfile
Due: none

Set AWS_CA_BUNDLE via openshift_cloudprovider_aws_ca_bundle
  inventory/hosts.example
  roles/openshift_control_plane/tasks/main.yml
  roles/openshift_control_plane/templates/master.env.j2
  roles/openshift_node/tasks/aws.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [3.7.100-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.4.173-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.10.120-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Add instruction to install libvirt provider
  test/libvirt/README.md
Due: none

Automatic commit of package [openshift-ansible] release [3.7.101-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.6.173.0.153-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.5.189-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [4.0.14-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.91-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

added provisioner file path parameter to template
  roles/openshift_provisioners/templates/efs.j2
Due: none

Add lbaas check to router subnet
  roles/openshift_openstack/templates/heat_stack_server.yaml.j2
Due: none

Clean up lib_utils role (Part 2)
  roles/lib_utils/filter_plugins/oo_filters.py
  roles/lib_utils/library/docker_creds.py
  roles/lib_utils/test/test_data/bootstrap.ign.json
  roles/lib_utils/test/test_data/bs.ign.json
  roles/lib_utils/test/test_data/bs2.ign.json
  roles/lib_utils/test/test_data/example.ign.json
  roles/openshift_facts/defaults/main.yml
  roles/openshift_node40/tasks/install.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Add evars file to push to CI.
  test/evars/vars.yml
Due: none

Revert "Remove deprecated "openshift_logging_curator_run_timezone variable" as of v3.11"
  roles/openshift_logging/README.md
  roles/openshift_logging/defaults/main.yml
  roles/openshift_logging/tasks/install_logging.yaml
  roles/openshift_logging/tasks/set_defaults_from_current.yml
  roles/openshift_logging_curator/defaults/main.yml
Due: ci/openshift-jenkins/logging

Automatic commit of package [openshift-ansible] release [3.7.102-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.10.121-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

In atomic host, multipath file does not exists. Use the result while adding LIO-ORG section as well.
  roles/openshift_node/tasks/storage_plugins/iscsi.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

add subnet param in azure.conf.j2
  roles/openshift_cloud_provider/templates/azure.conf.j2
Due: none

Path conditions:
  ci/prow/e2e-gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
  ci/openshift-jenkins/logging: any of: ^roles/openshift_logging.*|playbooks/openshift-logging/.*
  ci/prow/gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
