Repository openshift/openshift-ansible: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/logging, ci/prow/gcp-crio

Path conditions:
  ci/prow/e2e-gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
  ci/openshift-jenkins/logging: any of: ^roles/openshift_logging.*|playbooks/openshift-logging/.*
  ci/prow/gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)

Automatic commit of package [openshift-ansible] release [3.11.114-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Add privileged permissions to mount 'filebufferstorage' as hostPath
  roles/openshift_logging_mux/templates/mux.j2
Due: ci/openshift-jenkins/logging

Remove bash debug flag from 99-origin-dns.sh script
  roles/openshift_node/files/networkmanager/99-origin-dns.sh
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [3.10.146-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Add privileged permissions only if buffer_storage_type == 'hostmount'
  roles/openshift_logging_mux/templates/mux.j2
Due: ci/openshift-jenkins/logging

Update specfile requirements
  images/installer/Dockerfile
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.115-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Fix openshift_kube_config_path defaults
  playbooks/upgrade.yml
  roles/openshift_node/defaults/main.yml
  roles/openshift_node/tasks/config.yml
  roles/openshift_node/tasks/upgrade.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

metrics-server: Add node selector variable
  roles/metrics_server/defaults/main.yaml
  roles/metrics_server/templates/metrics-server-deployment.j2
Due: none

Tar node & volume config to do md5sum comparison in sync pod.
  roles/openshift_node_group/files/sync.yaml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [3.7.115-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Add a condition not to add "compute" label badly when master scaleup.yml
  roles/openshift_manage_node/tasks/set_default_node_role.yml
Due: none

While upgrading to 3.10 add node-config file check
  roles/openshift_node/handlers/main.yml
  roles/openshift_node/tasks/upgrade/restart.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Update patch_configmap_file.yaml
  roles/openshift_logging/tasks/patch_configmap_file.yaml
Due: ci/openshift-jenkins/logging

Added output to master-restart. Avoid searchs and serves as doc
  roles/openshift_control_plane/files/scripts/crio/master-restart
  roles/openshift_control_plane/files/scripts/docker/master-restart
Due: none

GlusterFS: Fix brick capacity detection in health check
  roles/lib_utils/library/glusterfs_check_containerized.py
Due: none

openshift_node: always check for missing TCMU iSCSI device entry
  roles/openshift_node/tasks/storage_plugin_iscsi.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

[KIECLOUD-214] - Update RHDM and RHPAM 7.3.1 templates on OCP and OSO service catalog
  roles/openshift_examples/examples-sync.sh
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/rhdm73-image-streams.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/rhpam73-image-streams.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm73-authoring-ha.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm73-authoring.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm73-kieserver.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm73-optaweb-employee-rostering.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm73-prod-immutable-kieserver.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm73-trial-ephemeral.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam73-authoring-ha.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam73-authoring.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam73-kieserver-externaldb.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam73-kieserver-mysql.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam73-kieserver-postgresql.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam73-managed.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam73-prod-immutable-kieserver.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam73-prod-immutable-monitor.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam73-prod.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam73-trial-ephemeral.yaml
Due: none

RHEL upgrade: use API to get ignition from machine config
  roles/openshift_node/tasks/apply_machine_config.yml
  roles/openshift_node/tasks/upgrade.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Fix openshift sdn taint toleration
  roles/openshift_sdn/files/sdn.yaml
Due: none

creating playbook to do logging cert rotation and update secrets and redeploy pods
  playbooks/openshift-logging/private/check_es_health.yaml
  playbooks/openshift-logging/private/redeploy-certificates.yml
  playbooks/openshift-logging/redeploy-certificates.yml
  roles/openshift_logging/tasks/discover_namespace.yaml
  roles/openshift_logging/tasks/main.yaml
  roles/openshift_logging_curator/tasks/generate_secret.yaml
  roles/openshift_logging_curator/tasks/main.yaml
  roles/openshift_logging_elasticsearch/tasks/generate_secret.yaml
  roles/openshift_logging_elasticsearch/tasks/main.yaml
  roles/openshift_logging_elasticsearch/tasks/restart_pods.yaml
  roles/openshift_logging_fluentd/tasks/generate_secret.yaml
  roles/openshift_logging_fluentd/tasks/main.yaml
  roles/openshift_logging_kibana/tasks/generate_secret.yaml
  roles/openshift_logging_kibana/tasks/main.yaml
  roles/openshift_logging_kibana/tasks/restart_pods.yaml
  roles/openshift_logging_mux/tasks/generate_secret.yaml
  roles/openshift_logging_mux/tasks/main.yaml
Due: ci/openshift-jenkins/logging

DO NOT MERGE
  roles/openshift_node/tasks/upgrade.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Test using Ansible 2.8.0
  openshift-ansible.spec
  requirements.txt
Due: none

Add "openshift_master_audit_policyfile" to specify user-defined audit policy file
  roles/openshift_control_plane/tasks/main.yml
  roles/openshift_master_facts/tasks/main.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.7.116-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Handle deprecated openshift_set_node_ip variable.
  inventory/hosts.example
  roles/lib_utils/action_plugins/sanity_checks.py
  roles/openshift_node/defaults/main.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Remove deprecated openshift_ip host variable.
  playbooks/init/cluster_facts.yml
  playbooks/init/validate_hostnames.yml
  playbooks/openshift-logging/private/config.yml
  playbooks/openstack/resources.py
Due: ci/openshift-jenkins/logging

Make readinessProbe timeout configurable and add initialDelaySeconds
  roles/openshift_metrics/defaults/main.yaml
  roles/openshift_metrics/templates/hawkular_cassandra_rc.j2
Due: none

Remove deprecated variables openshift_ip and openshift_set_node_ip.
  images/installer/root/usr/local/bin/generate
  inventory/hosts.example
  playbooks/init/validate_hostnames.yml
  playbooks/openstack/inventory.py
  roles/lib_utils/action_plugins/sanity_checks.py
  roles/openshift_node/defaults/main.yml
  roles/openshift_node/templates/node.yaml.v1.j2
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Don't use hostvars fact for openshift_master_etcd_urls
  playbooks/openshift-node/private/additional_config.yml
  roles/calico_master/tasks/certs.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.7.117-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.7.118-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Test using Ansible 2.7.11
  images/installer/Dockerfile
  requirements.txt
Due: none

Enable ports population for new namespaces
  roles/kuryr/templates/configmap.yaml.j2
Due: none

Avoid duplicate env vars in router deploymentconfig
  roles/lib_openshift/library/oc_adm_router.py
  roles/lib_openshift/src/class/oc_adm_router.py
  roles/lib_openshift/src/test/unit/test_oc_adm_router.py
Due: none

retries
  roles/openshift_logging_elasticsearch/tasks/restart_cluster.yml
  roles/openshift_logging_elasticsearch/tasks/rolling_cluster_restart.yml
Due: ci/openshift-jenkins/logging

Automatic commit of package [openshift-ansible] release [3.7.119-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none
