Repository openshift/openshift-ansible: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/logging, ci/prow/gcp-crio

Path conditions:
  ci/prow/e2e-gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
  ci/openshift-jenkins/logging: any of: ^roles/openshift_logging.*|playbooks/openshift-logging/.*
  ci/prow/gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)

Automatic commit of package [openshift-ansible] release [4.0.0-0.184.0].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.89-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

test/ci: remove SG using `ec2_group`
  test/ci/deprovision.yml
Due: none

test/ci/deprovision: set shutdown behaviour when creating VMs
  test/ci/deprovision.yml
  test/ci/launch.yml
Due: none

test/ci/deprovision: wait for machine to be terminated
  test/ci/deprovision.yml
Due: none

Automatic commit of package [openshift-ansible] release [4.0.0-0.185.0].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

ssh_bastion: retry until ingress details appear in ssh bastion svc
  test/aws/ssh_bastion.yml
Due: none

Install systemd-journal-gateway
  playbooks/deploy_cluster_40.yml
  playbooks/init/base_packages.yml
Due: none

Update OWNERS file.
  OWNERS
Due: none

Run MCD task asynchronously
  roles/openshift_node40/tasks/config.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Remove deprecated "openshift_logging_curator_run_timezone variable" as of v3.11
  roles/openshift_logging/README.md
  roles/openshift_logging/defaults/main.yml
  roles/openshift_logging/tasks/install_logging.yaml
  roles/openshift_logging/tasks/set_defaults_from_current.yml
  roles/openshift_logging_curator/defaults/main.yml
Due: ci/openshift-jenkins/logging

Update releasers.conf
  .tito/releasers.conf
Due: none

Bump version
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [4.0.1-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [4.0.2-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Gather facts from nodes after reboot to avoid these being marked as unreachable
  roles/openshift_node40/tasks/config.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Get current release image from cluster version object
  playbooks/openshift-node/scaleup.yml
Due: none

Add a playbook to redeploy web-console certs
  playbooks/openshift-web-console/redeploy-certificates.yml
Due: none

Add async_status check to manifest apply
  roles/openshift_node40/tasks/config.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Re-create webconsole secrets and pods after master certs were redeployed
  playbooks/openshift-master/redeploy-certificates.yml
  playbooks/openshift-web-console/redeploy-certificates.yml
Due: none

Automatic commit of package [openshift-ansible] release [4.0.3-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Require Ansible 2.7.7
  README.md
  images/installer/Dockerfile
  openshift-ansible.spec
  requirements.txt
  roles/lib_utils/callback_plugins/aa_version_requirement.py
Due: none

Automatic commit of package [openshift-ansible] release [4.0.5-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Handle null values and multiple certs when checking namedCertificates.
  roles/lib_utils/library/openshift_cert_expiry.py
Due: none

ssh-bastion: set loglevel to DEBUG3 to debug connection breaks
  test/aws/files/sshd_config
Due: none

clean things up
  playbooks/init/base_packages.yml
  roles/container_runtime/tasks/package_crio.yml
  roles/lib_utils/callback_plugins/aa_version_requirement.py
  roles/openshift_node40/tasks/install.yml
  roles/openshift_repos/tasks/main.yaml
  test/aws/scaleup.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Run yum install with async when installing crio
  roles/container_runtime/tasks/package_crio.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Remove openshift_facts module, it's unused now
  roles/openshift_facts/library/openshift_facts.py
Due: none

Update roles/openshift_examples/files/examples/x86_64/xpaas-streams/eap-cd-image-stream.json
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/eap-cd-image-stream.json
Due: none

Add cri-o tasks to openshift_node40 and drop container_runtime role
  playbooks/deploy_cluster_40.yml
  playbooks/openshift-node/scaleup.yml
  roles/container_runtime/README.md
  roles/container_runtime/defaults/main.yml
  roles/container_runtime/handlers/main.yml
  roles/container_runtime/meta/main.yml
  roles/container_runtime/tasks/common/post.yml
  roles/container_runtime/tasks/common/pre.yml
  roles/container_runtime/tasks/common/setup_docker_symlink.yml
  roles/container_runtime/tasks/common/udev_workaround.yml
  roles/container_runtime/tasks/crio_firewall.yml
  roles/container_runtime/tasks/docker_storage_setup_overlay.yml
  roles/container_runtime/tasks/extra_storage_setup.yml
  roles/container_runtime/tasks/main.yml
  roles/container_runtime/tasks/package_crio.yml
  roles/container_runtime/tasks/registry_auth.yml
  roles/container_runtime/templates/80-openshift-sdn.conf.j2
  roles/container_runtime/templates/crio-network.j2
  roles/container_runtime/templates/docker_storage_setup.j2
  roles/container_runtime/templates/overlay.conf.j2
  roles/container_runtime/templates/registries.conf.j2
  roles/openshift_node40/defaults/main.yml
  roles/openshift_node40/tasks/install.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Bug 1671315 - Kibana and Curator pods names are with ops
  roles/openshift_logging/tasks/delete_logging.yaml
  roles/openshift_logging/tasks/install_logging.yaml
  roles/openshift_logging_curator/tasks/main.yaml
  roles/openshift_logging_elasticsearch/tasks/main.yaml
  roles/openshift_logging_eventrouter/tasks/install_eventrouter.yaml
  roles/openshift_logging_fluentd/tasks/main.yaml
  roles/openshift_logging_kibana/tasks/main.yaml
  roles/openshift_logging_mux/tasks/main.yaml
Due: ci/openshift-jenkins/logging

Automatic commit of package [openshift-ansible] release [3.7.99-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none
