Repository openshift/openshift-ansible: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/logging, ci/prow/gcp-crio

Path conditions:
  ci/prow/e2e-gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
  ci/openshift-jenkins/logging: any of: ^roles/openshift_logging.*|playbooks/openshift-logging/.*
  ci/prow/gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)

[Glusterfs]: Bring down the number of retries attempted for upgrade playbook.
  roles/openshift_storage_glusterfs/tasks/glusterfs_upgrade.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.10.156-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

[Glusterfs]: Ensure that all versions mentioned in image tag is same.
  roles/openshift_storage_glusterfs/tasks/version_check.yml
Due: none

Adding openshift_node_local_quota_per_fsgroup parameter creates incorrect node config. Fixes BZ 1728195
  roles/openshift_node_group/files/sync.yaml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [3.11.132-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.10.157-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.9.91-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.133-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.10.158-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Get heketi_pod name before invoking heketi-cli command.
  roles/openshift_storage_glusterfs/tasks/glusterfs_upgrade.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.11.134-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

[GlusterFS]: Fix registry daemonset deletion as part of upgrade.
  roles/openshift_storage_glusterfs/tasks/glusterfs_upgrade.yml
Due: none

Ensure cni port does not collide with kernel reserved ports
  roles/kuryr/templates/configmap.yaml.j2
Due: none

Fix ASB ConfigMap
  roles/ansible_service_broker/tasks/install.yml
Due: none

Fix ASB ConfigMap
  roles/ansible_service_broker/templates/configmap.yaml.j2
Due: none

Update tox test environment vars
  setup.py
  test/tox-inventory.txt_extras
  tox.ini
Due: none

Require Ansible 2.8.2 for release-4.2
  README.md
  openshift-ansible.spec
  requirements.txt
  roles/openshift_node/callback_plugins/aa_version_requirement.py
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Add ANSIBLE_CONFIG to tox.ini
  tox.ini
Due: none

Automatic commit of package [openshift-ansible] release [3.10.159-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

[GlusterFS]: Upgrade playbook is supported for converged mode only. If upgrade playbook is run for independent mode, fail with a message.
  roles/openshift_storage_glusterfs/tasks/glusterfs_upgrade.yml
Due: none

Drop ANSIBLE_CONFIG check from cli_installer_tests
  utils/test/cli_installer_tests.py
Due: none

[GlusterFS]: variable to skip brick size check
  roles/openshift_storage_glusterfs/defaults/main.yml
  roles/openshift_storage_glusterfs/tasks/glusterfs_config_facts.yml
  roles/openshift_storage_glusterfs/tasks/glusterfs_registry_facts.yml
  roles/openshift_storage_glusterfs/tasks/glusterfs_upgrade.yml
Due: none

import_tasks no longer supports inline variables
  roles/openshift_logging/tasks/generate_certs.yaml
Due: ci/openshift-jenkins/logging

Automatic commit of package [openshift-ansible] release [3.11.135-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.10.160-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.9.92-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.136-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Fixing generate_secret for redeploy-certificates and fixing up checkpoint names
  playbooks/openshift-logging/private/redeploy-certificates.yml
  roles/openshift_logging_elasticsearch/tasks/generate_secret.yaml
  roles/openshift_logging_fluentd/tasks/generate_secret.yaml
  roles/openshift_logging_mux/tasks/generate_secret.yaml
Due: ci/openshift-jenkins/logging

Automatic commit of package [openshift-ansible] release [3.10.161-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Update MCO image name
  roles/openshift_node/tasks/apply_machine_config.yml
  roles/openshift_node/tasks/config.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Run MCD in once-from mode via setting an entrypoint in MCO image
  roles/openshift_node/tasks/config.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Update l_docker_creds_test_image
  roles/container_runtime/tasks/registry_auth.yml
  roles/openshift_control_plane/tasks/registry_auth.yml
  roles/openshift_facts/defaults/main.yml
  roles/openshift_node/tasks/registry_auth.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [3.9.93-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

[KIECLOUD-268] - Update RHPAM and RHMD templates and imagestreams on OpenShift Service Catalog for release 7.4.0
  roles/openshift_examples/examples-sync.sh
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/rhdm74-image-streams.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/rhpam74-image-streams.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm74-authoring-ha.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm74-authoring.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm74-kieserver.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm74-optaweb-employee-rostering.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm74-prod-immutable-kieserver-amq.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm74-prod-immutable-kieserver.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm74-trial-ephemeral.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam74-authoring-ha.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam74-authoring.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam74-kieserver-externaldb.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam74-kieserver-mysql.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam74-kieserver-postgresql.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam74-managed.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam74-prod-immutable-kieserver-amq.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam74-prod-immutable-kieserver.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam74-prod-immutable-monitor.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam74-prod.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam74-trial-ephemeral.yaml
Due: none

Update MCO entrypoint for upgrade
  roles/openshift_node/tasks/apply_machine_config.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [3.9.94-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none
