Repository openshift/openshift-ansible: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/logging, ci/prow/gcp-crio

Path conditions:
  ci/prow/e2e-gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
  ci/openshift-jenkins/logging: any of: ^roles/openshift_logging.*|playbooks/openshift-logging/.*
  ci/prow/gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)

Automatic commit of package [openshift-ansible] release [3.9.82-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.7.121-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.117-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Remove kuryrnet handler from default kuryr configuration
  playbooks/openstack/configuration.md
  roles/kuryr/templates/configmap.yaml.j2
Due: none

Add redeploy cert for service catalog, asb and tsb
  playbooks/openshift-service-catalog/private/redeploy-certificates.yml
  playbooks/redeploy-certificates.yml
  roles/ansible_service_broker/tasks/delete_secrets.yml
  roles/ansible_service_broker/tasks/restart_pods.yml
  roles/ansible_service_broker/tasks/update_secrets.yml
  roles/openshift_service_catalog/tasks/delete_secrets.yml
  roles/openshift_service_catalog/tasks/restart_pods.yml
  roles/template_service_broker/tasks/delete_secrets.yml
  roles/template_service_broker/tasks/restart_pods.yml
  roles/template_service_broker/tasks/update_secrets.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.10.149-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Temporary work around for invalid crio.conf
  roles/openshift_node/tasks/config.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [3.11.118-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Update glusterfs_uninstall.yml
  roles/openshift_storage_glusterfs/tasks/glusterfs_uninstall.yml
Due: none

Updates changes service catalog certificate for Ansible 2.8
  roles/ansible_service_broker/tasks/install.yml
  roles/ansible_service_broker/tasks/restart_pods.yml
  roles/ansible_service_broker/tasks/update_secrets.yml
  roles/ansible_service_broker/tasks/upgrade.yml
  roles/openshift_service_catalog/tasks/restart_pods.yml
  roles/template_service_broker/tasks/restart_pods.yml
  roles/template_service_broker/tasks/update_secrets.yml
Due: none

Refactor openshift_node
  README.md
  images/installer/root/usr/local/bin/entrypoint-provider
  inventory/hosts.example
  roles/openshift_node/defaults/main.yml
  roles/openshift_node/tasks/apply_machine_config.yml
  roles/openshift_node/tasks/config.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Fix restart_pods.yml
  roles/openshift_service_catalog/tasks/restart_pods.yml
Due: none

Fix module_results for recent commits
  roles/openshift_logging_elasticsearch/tasks/main.yaml
Due: ci/openshift-jenkins/logging

glusterfs: add gluster block cli timeout value as a env. variable
  roles/openshift_storage_glusterfs/files/glusterfs-template.yml
Due: none

Update router.yml
  roles/openshift_hosted/tasks/router.yml
Due: none

test: wait for machineconfigpool to rollout
  test/aws/scaleup.yml
Due: none

node: create CNI dir
  roles/openshift_node/tasks/config.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [3.11.119-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Fix until conditionals to handle failed tasks
  roles/openshift_node/tasks/apply_machine_config.yml
  roles/openshift_node/tasks/config.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Add required dirs for crio 1.14.4
  roles/openshift_node/tasks/install.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Run networkmanager and selinux checks in prereqs
  playbooks/deploy_cluster.yml
  playbooks/init/sanity_checks.yml
  playbooks/openshift-master/scaleup.yml
  playbooks/prerequisites.yml
  roles/openshift_node/tasks/main.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Fix issue with metrics undefined l_kubelet_node_name
  playbooks/openshift-metrics/config.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.9.83-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.7.122-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Juniper Contrail SDN patch ** Contrail SDN **
  playbooks/openshift-master/private/config.yml
  playbooks/openshift-node/private/contrail_sanitize.yml
  playbooks/openshift-node/private/join.yml
  roles/contrail_common/README.md
  roles/contrail_common/defaults/main.yml
  roles/contrail_common/tasks/determine_contrail_masters.yaml
  roles/contrail_common/tasks/hosts_to_ip.yaml
  roles/contrail_common/tasks/main.yml
  roles/contrail_master/README.md
  roles/contrail_master/defaults/main.yml
  roles/contrail_master/meta/main.yml
  roles/contrail_master/tasks/main.yaml
  roles/contrail_master/tasks/os_contrail_master.yaml
  roles/contrail_master/tasks/os_contrail_nested.yaml
  roles/contrail_master/templates/contrail-agent-5.j2
  roles/contrail_master/templates/contrail-analytics-5.j2
  roles/contrail_master/templates/contrail-analytics-alarm-5.j2
  roles/contrail_master/templates/contrail-analytics-db-5.j2
  roles/contrail_master/templates/contrail-analytics-snmp-5.j2
  roles/contrail_master/templates/contrail-config-db-5.j2
  roles/contrail_master/templates/contrail-control-config-5.j2
  roles/contrail_master/templates/contrail-ext-redis-5.j2
  roles/contrail_master/templates/contrail-image-downloader-5.j2
  roles/contrail_master/templates/contrail-infra-vars-5.j2
  roles/contrail_master/templates/contrail-installer-4.j2
  roles/contrail_master/templates/contrail-kube-manager-5.j2
  roles/contrail_master/templates/contrail-namespace.j2
  roles/contrail_master/templates/contrail-nested.j2
  roles/contrail_master/templates/contrail-webui-5.j2
  roles/contrail_master/templates/getIp.j2
  roles/contrail_master/templates/wait_for_pod.j2
  roles/contrail_st/README.md
  roles/contrail_st/tasks/main.yaml
  roles/contrail_st/tasks/schema_transformer_sanity.yaml
Due: none

Remove subPaths when mounting Kuryr pods volumes
  roles/kuryr/templates/cni-daemonset.yaml.j2
  roles/kuryr/templates/controller-deployment.yaml.j2
Due: none

Automatic commit of package [openshift-ansible] release [3.11.120-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.121-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Fix: generate hawkular-cassandra pvc (dynamic)
  roles/openshift_metrics/tasks/generate_cassandra_pvcs.yaml
Due: none

Bug 1718142 - Redeploy catalog/broker certs
  playbooks/openshift-service-catalog/private/redeploy-certificates.yml
  playbooks/redeploy-certificates.yml
  roles/ansible_service_broker/tasks/generate_certs.yml
  roles/ansible_service_broker/tasks/install.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.11.122-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

fix failed to get stats
  roles/openshift_node_group/templates/node-config.yaml.j2
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

openshift_facts: fix MTU detection
  roles/openshift_facts/library/openshift_facts.py
Due: none

Automatic commit of package [openshift-ansible] release [3.11.123-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.9.84-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none
