Repository openshift/openshift-ansible: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/logging, ci/prow/gcp-crio

ci/prow/e2e-gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --target=e2e-gcp-crio
      - --template=/usr/local/e2e-gcp-crio
      command:
      - ci-operator
      env:
  ...

ci/openshift-jenkins/logging:
  labels:
    master: ci.openshift.redhat.com

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - command:
      - ci-operator
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      env:
      - name: TEST_FOCUS
  ...

Generate htpaswd inside hawkular metrics container
  roles/openshift_metrics/tasks/generate_hawkular_certificates.yaml
  roles/openshift_metrics/templates/hawkular_metrics_rc.j2
Due: none

Add restart back to openshift-node join
  playbooks/openshift-node/private/join.yml
Due: none

will checkout after test
  roles/openshift_logging/README.md
Due: ci/openshift-jenkins/logging

Use variable for EPEL RPM URL for CentOS
  roles/openshift_repos/defaults/main.yaml
  roles/openshift_repos/tasks/centos_repos.yml
Due: none

Add support to configure subnetpool prefixlen at Kuryr
  roles/openshift_openstack/defaults/main.yml
  roles/openshift_openstack/templates/heat_stack.yaml.j2
Due: none

gluster: use memory (tmpfs) emptydir for glusterfs-run volume
  roles/openshift_storage_glusterfs/files/glusterfs-template.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.11.218-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Add support for global namespaces and removal of remote_group_id
  playbooks/openstack/configuration.md
  roles/kuryr/defaults/main.yaml
  roles/kuryr/templates/configmap.yaml.j2
  roles/openshift_openstack/templates/heat_stack.yaml.j2
Due: none

Automatic commit of package [openshift-ansible] release [3.11.219-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Updating ES restart policy to allow primaries be placed and allow yellow status before continuing
  roles/openshift_logging_elasticsearch/tasks/full_cluster_restart.yml
  roles/openshift_logging_elasticsearch/tasks/restart_cluster.yml
  roles/openshift_logging_elasticsearch/tasks/restart_es_node.yml
  roles/openshift_logging_elasticsearch/tasks/rolling_cluster_restart.yml
Due: ci/openshift-jenkins/logging

Create test310.txt
  test310.txt
Due: none

[Bug 1828433] Bump up etcd release to 3.2.28
  roles/etcd/defaults/main.yaml
Due: none

Update OpenStack and Kuryr reviewers/approvers
  roles/kuryr/OWNERS
  roles/openshift_openstack/OWNERS
Due: none

[KIECLOUD-390] - Update RHPAM and RHDM templates adocs files and templates on ocp catalog.
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/rhdm77-image-streams.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/rhpam77-image-streams.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm77-authoring-ha.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm77-authoring.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm77-kieserver.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm77-prod-immutable-kieserver-amq.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm77-prod-immutable-kieserver.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm77-trial-ephemeral.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam77-authoring-ha.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam77-authoring.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam77-kieserver-externaldb.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam77-kieserver-mysql.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam77-kieserver-postgresql.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam77-managed.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam77-prod-immutable-kieserver-amq.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam77-prod-immutable-kieserver.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam77-prod-immutable-monitor.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam77-prod.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam77-trial-ephemeral.yaml
Due: none

Added expiration checks for aggregator-proxy certs
  roles/lib_utils/library/openshift_cert_expiry.py
Due: none

Enable seboolean for Azure mount support
  roles/openshift_node/tasks/config.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [3.11.220-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.221-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.222-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.223-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.224-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.225-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.226-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.227-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Correct terminology for ignore list
  .pylintrc
Due: none

Automatic commit of package [openshift-ansible] release [3.11.228-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Fixes #11697: Dont relay on ansible json auto parse
  roles/openshift_logging/tasks/set_defaults_from_current.yml
Due: ci/openshift-jenkins/logging

Automatic commit of package [openshift-ansible] release [3.11.229-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.230-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.231-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.232-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Create configmaps for all items in openshift_node_groups
  roles/openshift_node_group/tasks/main.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Bug 1841439: fix configmaps overriding curator.yaml
  roles/openshift_logging_curator/defaults/main.yml
  roles/openshift_logging_curator/tasks/main.yaml
Due: ci/openshift-jenkins/logging

Install cifs-utils, required for azure-file mounts
  roles/openshift_node/defaults/main.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Fix #12187
  roles/openshift_logging_curator/tasks/main.yaml
Due: ci/openshift-jenkins/logging

Path conditions:
  ci/prow/e2e-gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
  ci/openshift-jenkins/logging: any of: ^roles/openshift_logging.*|playbooks/openshift-logging/.*
  ci/prow/gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
