Repository openshift/openshift-ansible: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/logging, ci/prow/gcp-crio

ci/prow/e2e-gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --target=e2e-gcp-crio
      - --template=/usr/local/e2e-gcp-crio
      command:
      - ci-operator
      env:
  ...

ci/openshift-jenkins/logging:
  labels:
    master: ci.openshift.redhat.com

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - command:
      - ci-operator
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      env:
      - name: TEST_FOCUS
  ...

Kube Proxy needed to be deployed for ACI to run as a part of upgrade from OSP 3.9 to 3.10
  playbooks/common/openshift-cluster/upgrades/v3_10/upgrade_control_plane.yml
Due: none

Require Ansible 2.8.1 for release-4.2
  README.md
  openshift-ansible.spec
  requirements.txt
  roles/openshift_node/callback_plugins/aa_version_requirement.py
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [3.10.152-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

GlusterFS: Remove the default values used for keys
  roles/openshift_storage_glusterfs/templates/heketi.json.j2
Due: none

Add Kibana sar and delegate url for auth-delegator
  roles/openshift_logging_kibana/tasks/main.yaml
  roles/openshift_logging_kibana/templates/kibana.j2
Due: ci/openshift-jenkins/logging

Automatic commit of package [openshift-ansible] release [3.11.127-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

apiVersion moved to stable and to apps/v1
  roles/openshift_logging_fluentd/templates/fluentd.j2
Due: ci/openshift-jenkins/logging

GlusterFS: Fix version image check
  roles/openshift_storage_glusterfs/tasks/version_check.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.10.153-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.9.89-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Adds current docker-registry route hostname when generating the new certs.
  playbooks/openshift-hosted/private/redeploy-registry-certificates.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.7.125-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.128-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

translate_idps: use py3-specific infinity number if available
  roles/lib_utils/filter_plugins/openshift_master.py
Due: none

Kube Proxy needed to be deployed for ACI to run as a part of upgrade from 3.10 to 3.11
  playbooks/common/openshift-cluster/upgrades/v3_11/upgrade_control_plane_part2.yml
Due: none

restart.yml - check gluster health before and after restart
  playbooks/openshift-node/private/restart.yml
Due: none

Switch to the new default storage class annotation
  roles/lib_openshift/library/oc_storageclass.py
  roles/lib_openshift/src/lib/storageclass.py
  roles/lib_openshift/src/test/unit/test_oc_storageclass.py
Due: none

Setup NetworkManager script before starting dnsmasq
  roles/openshift_node/tasks/dnsmasq.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

GlusterFS: make pods cluster-critical
  roles/openshift_storage_glusterfs/files/deploy-heketi-template.yml
  roles/openshift_storage_glusterfs/files/glusterfs-template.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.11.129-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.10.154-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.9.90-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Write logs to disk when scaleup tests fail.
  test/aws/gather_logs.yml
  test/aws/scaleup.yml
Due: none

Wait the new scale group nodes to be ready before drain the nodes
  roles/openshift_aws/defaults/main.yml
  roles/openshift_aws/tasks/provision_nodes.yml
  roles/openshift_aws/tasks/wait_for_groups.yml
  roles/openshift_aws/tasks/wait_for_node.yml
Due: none

GlusterFS upgrade playbook related additional fixes
  playbooks/openshift-glusterfs/private/setup_nodes.yml
  playbooks/openshift-glusterfs/private/upgrade.yml
  playbooks/openshift-glusterfs/upgrade.yml
  roles/openshift_node/tasks/glusterfs.yml
  roles/openshift_node/tasks/main.yml
  roles/openshift_node/tasks/storage_plugin_ceph.yml
  roles/openshift_node/tasks/storage_plugin_iscsi.yml
  roles/openshift_node/tasks/storage_plugin_nfs.yml
  roles/openshift_storage_glusterfs/tasks/glusterfs_upgrade.yml
  roles/openshift_storage_glusterfs/tasks/heketi_db_backup.yml
  roles/openshift_storage_glusterfs/tasks/heketi_pod_check.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [3.7.126-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Fix web console deployment conditional
  roles/openshift_web_console/tasks/start.yml
Due: none

try to install it muti times
  roles/openshift_service_catalog/tasks/install.yml
Due: none

Addressing missing es_dc_index for ops install and adding assert for hostmount_path
  roles/openshift_logging/tasks/install_logging.yaml
  roles/openshift_logging_elasticsearch/tasks/main.yaml
Due: ci/openshift-jenkins/logging

Modify Updating vm.max_map_count value task to create 99-elasticsearch.conf file when vm.max_map_count is set to <= 262144
  playbooks/openshift-logging/private/config.yml
Due: ci/openshift-jenkins/logging

Update config.yml
  playbooks/openshift-logging/private/config.yml
Due: ci/openshift-jenkins/logging

[Glusterfs] Before upgrade, check for pending heketi operations. Still proceed with the upgrade after timeout.
  roles/openshift_storage_glusterfs/tasks/glusterfs_upgrade.yml
  roles/openshift_storage_glusterfs/tasks/heketi_ops_pending.yml
  roles/openshift_storage_glusterfs/tasks/heketi_set_ro.yml
Due: none

[KIECLOUD-202] - Update OpenShift catalog for RHIPS/DS 6.4.12
  roles/openshift_examples/examples-sync.sh
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/decisionserver64-image-stream.json
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/processserver64-image-stream.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/decisionserver64-amq-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/decisionserver64-basic-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/decisionserver64-https-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/processserver64-amq-mysql-persistent-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/processserver64-amq-mysql-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/processserver64-amq-postgresql-persistent-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/processserver64-amq-postgresql-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/processserver64-basic-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/processserver64-externaldb-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/processserver64-mysql-persistent-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/processserver64-mysql-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/processserver64-postgresql-persistent-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/processserver64-postgresql-s2i.json
Due: none

Automatic commit of package [openshift-ansible] release [3.11.130-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.10.155-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.131-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Path conditions:
  ci/prow/e2e-gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
  ci/openshift-jenkins/logging: any of: ^roles/openshift_logging.*|playbooks/openshift-logging/.*
  ci/prow/gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
