Repository openshift/openshift-ansible: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/logging, ci/prow/gcp-crio

Path conditions:
  ci/prow/e2e-gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
  ci/openshift-jenkins/logging: any of: ^roles/openshift_logging.*|playbooks/openshift-logging/.*
  ci/prow/gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)

BZ1694106 - Update crictl.yaml runtime-endpoint config to resolve warning
  roles/container_runtime/tasks/package_crio.yml
  roles/openshift_node/tasks/upgrade.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

openshift_ovirt: fix inventory creation of multi nodes
  roles/openshift_ovirt/tasks/create_inventory_from_vms.yaml
Due: none

Move repo setup into test.
  roles/openshift_repos/README.md
  roles/openshift_repos/defaults/main.yaml
  roles/openshift_repos/files/origin/gpg_keys/openshift-ansible-CentOS-SIG-PaaS
  roles/openshift_repos/handlers/main.yml
  roles/openshift_repos/tasks/centos_repos.yml
  roles/openshift_repos/tasks/main.yaml
  roles/openshift_repos/tasks/rhel_repos.yml
  roles/openshift_repos/templates/CentOS-OpenShift-Origin.repo.j2
  roles/openshift_repos/templates/CentOS-OpenShift-Origin14.repo.j2
  roles/openshift_repos/templates/CentOS-OpenShift-Origin15.repo.j2
  roles/openshift_repos/templates/CentOS-OpenShift-Origin310.repo.j2
  roles/openshift_repos/templates/CentOS-OpenShift-Origin36.repo.j2
  roles/openshift_repos/templates/CentOS-OpenShift-Origin37.repo.j2
  test/aws/additional_repos.yml
  test/aws/scaleup.yml
Due: none

Option to add and annotate namespaces for openshift-service-catalog
  roles/aci/defaults/main.yml
  roles/aci/tasks/main.yml
Due: none

BZ1695856 - redeploy certificates fails if use_crio_only
  playbooks/openshift-node/private/restart.yml
  playbooks/redeploy-certificates.yml
Due: none

tmpfile.d file clears the cni config on boot
  roles/openshift_node/tasks/systemd_units.yml
  roles/openshift_node/templates/cleanup-cni.j2
  roles/openshift_sdn/files/sdn.yaml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

ASB: use `${version}` in default image
  roles/ansible_service_broker/defaults/main.yml
Due: none

Update docs for scaleup and upgrade
  HOOKS.md
  README.md
  docs/pull_requests.md
  inventory/hosts.example
  roles/openshift_node/README.md
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Backport version requirement plugin fixes
  roles/lib_utils/callback_plugins/aa_version_requirement.py
Due: none

OLM: use olm_operator_version as a tag for Origin images
  roles/olm/defaults/main.yaml
Due: none

Automatic commit of package [openshift-ansible] release [3.6.173.0.159-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.5.195-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Add playbooks to regenerate secrets for openshift-monitoring
  playbooks/openshift-monitoring/private/redeploy-certificates.yml
  playbooks/openshift-monitoring/redeploy-certificates.yml
  playbooks/redeploy-certificates.yml
Due: none

Update README.md
  README.md
Due: none

Console cert redeploy: rerun install
  playbooks/openshift-console/private/redeploy-certificates.yml
Due: none

Backport of #10173
  playbooks/openstack/configuration.md
  roles/openshift_openstack/defaults/main.yml
Due: none

Change the cni-cleanup file path to /etc
  roles/openshift_node/tasks/systemd_units.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Dockerfile: install python2-psutil
  images/installer/Dockerfile
Due: none

remove azure cli version lock
  images/installer/Dockerfile
Due: none

Dockerfile: lock azure-cli-core to 2.0.61
  images/installer/Dockerfile
Due: none

Automatic commit of package [openshift-ansible] release [3.11.104-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.10.136-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Ensure master vars are passed to openshift_facts on upgrade
  playbooks/common/openshift-cluster/upgrades/pre/verify_cluster.yml
Due: none

Fix condition key for all opened ports by Contrail SDN
  roles/openshift_node/defaults/main.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Test using Ansible 2.7.10
  images/installer/origin-extra-root/etc/yum.repos.d/ansible-releases.repo
  images/installer/origin-extra-root/etc/yum.repos.d/centos-ansible27.repo
  openshift-ansible.spec
  requirements.txt
Due: none

Automatic commit of package [openshift-ansible] release [3.11.105-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Fixes NotReady nodes after ca and certificate update
  playbooks/openshift-node/private/certificates-backup.yml
  playbooks/redeploy-certificates.yml
Due: none

Resolving conflits for merge upstream
  playbooks/openshift-master/private/config.yml
  playbooks/openshift-node/private/join.yml
Due: none

bug 1695903. Pass token from logging proxy to es for metrics
  roles/openshift_logging_elasticsearch/templates/es.j2
Due: ci/openshift-jenkins/logging

Reboot after running mcd --once-from
  roles/openshift_node/tasks/config.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [3.10.137-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.9.77-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none
