Repository openshift/openshift-ansible: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/logging, ci/prow/gcp-crio

Path conditions:
  ci/prow/e2e-gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
  ci/openshift-jenkins/logging: any of: ^roles/openshift_logging.*|playbooks/openshift-logging/.*
  ci/prow/gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)

Update roles/nsx_node/tasks/main.yml
  roles/nsx_node/tasks/main.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.10.99-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Remove vendored ansible-profile callback
  ansible-profile/README.md
  ansible-profile/callback_plugins/profile_tasks.py
Due: none

Automatic commit of package [openshift-ansible] release [4.0.0-0.132.0].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Add debug info for oc get --raw step csr module
  roles/lib_openshift/library/oc_csr_approve.py
  roles/lib_openshift/test/test_oc_csr_approve.py
Due: none

deploy_cluster_40: bootkube service no longer removes itselfbootkube service now properly stops instead of removing itself
  playbooks/deploy_cluster_40.yml
Due: none

Use Filesystem label in container_runtime_extra_storage
  roles/container_runtime/tasks/extra_storage_setup.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [4.0.0-0.133.0].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.68-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [4.0.0-0.134.0].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [4.0.0-0.135.0].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [4.0.0-0.136.0].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Override of logging ES image pull secret
  roles/openshift_logging_elasticsearch/defaults/main.yml
  roles/openshift_logging_elasticsearch/tasks/main.yaml
Due: ci/openshift-jenkins/logging

Allow override of logging ES image
  roles/openshift_logging_elasticsearch/defaults/main.yml
  roles/openshift_logging_elasticsearch/tasks/main.yaml
Due: ci/openshift-jenkins/logging

GCP tests: install nfs-utils necessary for tests to pass
  test/gcp/install.yml
Due: none

remove check for container_runtime_extra_storage and add check for item.label length <=12
  roles/container_runtime/tasks/extra_storage_setup.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Add OWNERS file.
  OWNERS
Due: none

Automatic commit of package [openshift-ansible] release [4.0.0-0.137.0].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.10.100-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [4.0.0-0.138.0].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.69-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

glusterfs: Force delete heketi pod and avoid waiting for unmount, given that we will be deleting glusterfs pod as well.
  roles/openshift_storage_glusterfs/tasks/glusterfs_uninstall.yml
Due: none

[release 3.11] fix OpenStack heat template conditional
  roles/openshift_openstack/templates/heat_stack.yaml.j2
Due: none

fix 1665235. Specify logging cluster is requires restart
  roles/openshift_logging_elasticsearch/tasks/restart_cluster.yml
Due: ci/openshift-jenkins/logging

Automatic commit of package [openshift-ansible] release [4.0.0-0.139.0].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

sdn: upgrade SDN after all nodes are upgraded.
  playbooks/common/openshift-cluster/upgrades/upgrade_nodes.yml
  playbooks/common/openshift-cluster/upgrades/v3_10/upgrade_control_plane.yml
  roles/openshift_sdn/tasks/main.yml
Due: none

Fix auditConfig.policyConfiguration in master_check_paths_in_config
  roles/lib_utils/action_plugins/master_check_paths_in_config.py
Due: none

Automatic commit of package [openshift-ansible] release [3.10.101-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Modified md5sum call to remove output of filename
  roles/openshift_node_group/files/sync.yaml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Implemented error handling for the node annotation
  roles/openshift_node_group/files/sync.yaml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Update glusterfs_deploy.yml
  roles/openshift_storage_glusterfs/tasks/glusterfs_deploy.yml
Due: none

Port #10740 and #10981 to release-3.10
  roles/calico_master/tasks/main.yml
Due: none

Add new team members to OWNERS file.
  OWNERS
Due: none

[release 3.10] fix openstack facts when ec2 var is empty
  roles/openshift_facts/library/openshift_facts.py
Due: none

[release 3.9] fix openstack facts when ec2 var is empty
  roles/openshift_facts/library/openshift_facts.py
Due: none
