Repository openshift/openshift-ansible: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/logging, ci/prow/gcp-crio

ci/prow/e2e-gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --target=e2e-gcp-crio
      - --template=/usr/local/e2e-gcp-crio
      command:
      - ci-operator
      env:
  ...

ci/openshift-jenkins/logging:
  labels:
    master: ci.openshift.redhat.com

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - command:
      - ci-operator
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      env:
      - name: TEST_FOCUS
  ...

Automatic commit of package [openshift-ansible] release [3.10.162-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Convert Ansible service broker secrets to json instead of yaml
  roles/ansible_service_broker/templates/configmap.yaml.j2
Due: none

Configure Ansible service broker secrets
  roles/ansible_service_broker/defaults/main.yml
  roles/ansible_service_broker/templates/configmap.yaml.j2
Due: none

Refactor Ansible Service Broker set auth name and type facts
  roles/ansible_service_broker/defaults/main.yml
  roles/ansible_service_broker/tasks/install.yml
Due: none

Add check to ensure nodes are ready after scaleup
  roles/openshift_node/tasks/apply_machine_config.yml
  roles/openshift_node/tasks/config.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Standardize using ansible_nodename
  roles/openshift_node/tasks/apply_machine_config.yml
  roles/openshift_node/tasks/config.yml
  roles/openshift_node/tasks/upgrade.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [3.9.95-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.10.163-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

test: add timeouts to decrease amount of flakes
  test/aws/create_machineset.yml
  test/aws/files/sshd_config
Due: none

Increase wait for aggregated API availability
  roles/openshift_control_plane/tasks/check_master_api_is_ready.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.9.96-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Only delete and regenerate service signer cert when updating CA
  playbooks/openshift-master/private/certificates-backup.yml
Due: none

Fix ca node sync always applying certificate
  roles/openshift_node_group/files/sync.yaml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Use htpasswd hawkular metrics utility to generate SHA256 FIPS compliant hashes
  roles/openshift_metrics/defaults/main.yaml
  roles/openshift_metrics/tasks/generate_hawkular_certificates.yaml
Due: none

Bug 1735751: avoid excessive dentries due to console liveness probe
  roles/openshift_web_console/files/console-template.yaml
Due: none

[GlusterFS]: Fix version check avoiding minor version comparison
  roles/openshift_storage_glusterfs/tasks/version_check.yml
Due: none

[KIECLOUD-292] - Update RHPAM and RHMD templates and imagestreams on OpenShift Service Catalog for release 7.4.1
  roles/openshift_examples/examples-sync.sh
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/rhdm74-image-streams.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/rhpam74-image-streams.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm74-authoring-ha.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm74-authoring.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm74-kieserver.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm74-optaweb-employee-rostering.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm74-prod-immutable-kieserver-amq.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm74-prod-immutable-kieserver.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm74-trial-ephemeral.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam74-authoring-ha.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam74-authoring.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam74-kieserver-externaldb.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam74-kieserver-mysql.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam74-kieserver-postgresql.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam74-managed.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam74-prod-immutable-kieserver-amq.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam74-prod-immutable-kieserver.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam74-prod-immutable-monitor.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam74-prod.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam74-trial-ephemeral.yaml
Due: none

test: Remove task to delete CoreOS nodes
  test/aws/scaleup.yml
Due: none

Update Fuse templates with 7.4 release
  roles/openshift_examples/files/examples/v3.10/xpaas-streams/fis-image-streams.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/eap-camel-amq-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/eap-camel-cdi-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/eap-camel-cxf-jaxrs-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/eap-camel-cxf-jaxws-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/eap-camel-jpa-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/fis-console-cluster-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/fis-console-namespace-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/fuse-apicurito.yml
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/karaf-camel-amq-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/karaf-camel-log-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/karaf-camel-rest-sql-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/karaf-cxf-rest-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/spring-boot-camel-amq-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/spring-boot-camel-config-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/spring-boot-camel-drools-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/spring-boot-camel-infinispan-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/spring-boot-camel-rest-3scale-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/spring-boot-camel-rest-sql-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/spring-boot-camel-teiid-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/spring-boot-camel-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/spring-boot-camel-xa-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/spring-boot-camel-xml-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/spring-boot-cxf-jaxrs-template.json
  roles/openshift_examples/files/examples/v3.10/xpaas-templates/spring-boot-cxf-jaxws-template.json
Due: none

Update Fuse templates with 7.4 release
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/fis-image-streams.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-camel-amq-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-camel-cdi-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-camel-cxf-jaxrs-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-camel-cxf-jaxws-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-camel-jpa-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/fis-console-cluster-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/fis-console-namespace-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/fuse-apicurito.yml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/karaf-camel-amq-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/karaf-camel-log-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/karaf-camel-rest-sql-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/karaf-cxf-rest-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-amq-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-config-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-drools-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-infinispan-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-rest-3scale-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-rest-sql-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-teiid-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-xa-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-camel-xml-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-cxf-jaxrs-template.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/spring-boot-cxf-jaxws-template.json
Due: none

Disable firewalld service during adding RHEL worker node
  roles/openshift_node/tasks/config.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [3.9.97-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

address issue where kibana proxy related secrets and certs werent updated when regenerating other component certs
  playbooks/openshift-logging/private/redeploy-certificates.yml
  roles/openshift_logging_kibana/tasks/generate_oauth_client.yaml
  roles/openshift_logging_kibana/tasks/generate_proxy_secret_files.yaml
  roles/openshift_logging_kibana/tasks/generate_route.yaml
  roles/openshift_logging_kibana/tasks/load_secret_files.yaml
  roles/openshift_logging_kibana/tasks/main.yaml
Due: ci/openshift-jenkins/logging

Bug 1741713. Omit build api in standalone registry
  roles/openshift_control_plane/tasks/check_master_api_is_ready.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.9.98-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.9.99-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Update EAP CD to CD 17
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/eap-cd-image-stream.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-amq-persistent-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-amq-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-basic-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-https-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-mongodb-persistent-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-mongodb-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-mysql-persistent-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-mysql-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-postgresql-persistent-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-postgresql-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-sso-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-starter-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-third-party-db-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-tx-recovery-postgresql-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-tx-recovery-s2i.json
Due: none

Add retries to package command
  roles/openshift_node/tasks/install.yml
  test/aws/scaleup.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Bug 1732154: Explicitly pass storage class var to logging role
  roles/openshift_logging/tasks/install_logging.yaml
Due: ci/openshift-jenkins/logging

Automatic commit of package [openshift-ansible] release [3.11.137-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Gather node objects when node Ready check fails
  roles/openshift_node/tasks/apply_machine_config.yml
  roles/openshift_node/tasks/config.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Replay um changes from um-release-3.9
  roles/container_runtime/defaults/main.yml
  roles/openshift_hosted/tasks/router.yml
  roles/openshift_loadbalancer/defaults/main.yml
  roles/openshift_named_certificates/tasks/main.yml
  roles/openshift_nfs/defaults/main.yml
  roles/openshift_storage_nfs/defaults/main.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Path conditions:
  ci/prow/e2e-gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
  ci/openshift-jenkins/logging: any of: ^roles/openshift_logging.*|playbooks/openshift-logging/.*
  ci/prow/gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
