Repository openshift/openshift-ansible: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/logging, ci/prow/gcp-crio

ci/prow/e2e-gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --target=e2e-gcp-crio
      - --template=/usr/local/e2e-gcp-crio
      command:
      - ci-operator
      env:
  ...

ci/openshift-jenkins/logging:
  labels:
    master: ci.openshift.redhat.com

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - command:
      - ci-operator
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      env:
      - name: TEST_FOCUS
  ...

Automatic commit of package [openshift-ansible] release [3.11.170-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Adding Prometheus 0.23.2
  roles/olm/files/rh-operators.configmap.yaml
Due: none

Use MAO status.phase to determine machine readiness
  images/installer/root/usr/local/bin/generate
  roles/openshift_node/tasks/apply_machine_config.yml
  roles/openshift_node/tasks/config.yml
  roles/openshift_node/tasks/install.yml
  roles/openshift_node/tasks/proxy.yml
  roles/openshift_node/tasks/scaleup_checks.yml
  roles/openshift_node/tasks/upgrade.yml
  test/aws/create_machineset.yml
  test/aws/scaleup.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Use Ansible 2.9.4 for testing
  images/installer/Dockerfile
  requirements.txt
Due: none

Remove variable from logging task name
  roles/openshift_logging_elasticsearch/tasks/restart_cluster.yml
Due: ci/openshift-jenkins/logging

gluster: fix how lvm wrapper is passed to heketi templates
  roles/openshift_storage_glusterfs/defaults/main.yml
  roles/openshift_storage_glusterfs/files/deploy-heketi-template.yml
  roles/openshift_storage_glusterfs/files/heketi-template.yml
  roles/openshift_storage_glusterfs/tasks/glusterfs_config_facts.yml
  roles/openshift_storage_glusterfs/tasks/glusterfs_registry_facts.yml
  roles/openshift_storage_glusterfs/tasks/heketi_deploy.yml
  roles/openshift_storage_glusterfs/tasks/heketi_init_deploy.yml
Due: none

Update deploy-heketi-template.yml.j2
  roles/openshift_storage_glusterfs/templates/deploy-heketi-template.yml.j2
Due: none

Remove OVS pod force grace-period 0 on upgrade
  roles/openshift_node/tasks/upgrade.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Use Python3 for tests
  test-requirements.txt
  tox.ini
Due: none

Remove Python2 from Travis
  .travis.yml
Due: none

Fix cluster monitoring operator config map with etcd
  roles/openshift_cluster_monitoring_operator/templates/cluster-monitoring-operator-config.j2
Due: none

roles/openshift_cluster_monitoring_operator: configure retention
  roles/openshift_cluster_monitoring_operator/defaults/main.yml
  roles/openshift_cluster_monitoring_operator/templates/cluster-monitoring-operator-config.j2
Due: none

Gather debug data on task failure
  images/installer/root/usr/local/bin/generate
  roles/openshift_node/tasks/apply_machine_config.yml
  roles/openshift_node/tasks/config.yml
  roles/openshift_node/tasks/gather_debug.yml
  roles/openshift_node/tasks/install.yml
  roles/openshift_node/tasks/proxy.yml
  roles/openshift_node/tasks/scaleup_checks.yml
  roles/openshift_node/tasks/upgrade.yml
  test/aws/scaleup.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

test/aws/scaleup: gather machineconfigpool/worker on failure
  test/aws/scaleup.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.11.171-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Support adding machinesets with replicas > 1
  test/aws/create_machineset.yml
  test/aws/scaleup.yml
Due: none

Change bootstrap server to use 'api-int' for ignition config
  roles/openshift_node/defaults/main.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [3.11.172-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Add repository Glusterfs7 for CentOS. It will aline the version of Glusterfs between Images Heketi and GLusterfs and OS Glusterfs-Client.
  roles/openshift_repos/tasks/centos_repos.yml
  roles/openshift_repos/templates/CentOS-OpenShift-Origin40.repo.j2
Due: none

Automatic commit of package [openshift-ansible] release [3.11.173-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.174-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Retry podman pull
  roles/openshift_node/tasks/apply_machine_config.yml
  roles/openshift_node/tasks/config.yml
  roles/openshift_node/tasks/install.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [3.11.175-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Delete container.yaml
  images/installer/container.yaml
Due: none

Automatic commit of package [openshift-ansible] release [3.11.176-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Increase worker config rollout timeout
  test/aws/scaleup.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.11.177-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Increase podman pull timeout
  roles/openshift_node/tasks/apply_machine_config.yml
  roles/openshift_node/tasks/config.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [3.11.178-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.179-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.180-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.181-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.182-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Refine Python version for tox in travis
  tox.ini
Due: none

Automatic commit of package [openshift-ansible] release [3.11.183-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Path conditions:
  ci/prow/e2e-gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
  ci/openshift-jenkins/logging: any of: ^roles/openshift_logging.*|playbooks/openshift-logging/.*
  ci/prow/gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
