Repository openshift/openshift-ansible: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/logging, ci/prow/gcp-crio

Path conditions:
  ci/prow/e2e-gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
  ci/openshift-jenkins/logging: any of: ^roles/openshift_logging.*|playbooks/openshift-logging/.*
  ci/prow/gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)

Automatic commit of package [openshift-ansible] release [4.0.0-0.177.0].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Introducing retry in 'load heketi topology'
  roles/openshift_storage_glusterfs/tasks/heketi_load.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.7.95-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.10.116-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Revert "[release-3.11] Correct regressions of Curator5 template file"
  roles/openshift_logging_curator/templates/curator-cj.j2
Due: ci/openshift-jenkins/logging

bug 1678442. fix logging env var
  roles/openshift_logging_elasticsearch/templates/2.x/es.j2
Due: ci/openshift-jenkins/logging

Automatic commit of package [openshift-ansible] release [4.0.0-0.178.0].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Variables to specify failureThreshold for Hawkular probes
  roles/openshift_metrics/defaults/main.yaml
  roles/openshift_metrics/templates/hawkular_metrics_rc.j2
Due: none

Automatic commit of package [openshift-ansible] release [3.11.87-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Add limit to container storage for cri-o nodes
  roles/container_runtime/tasks/package_crio.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Switch manage-node to cordon
  test/aws/scaleup.yml
Due: none

Automatic commit of package [openshift-ansible] release [4.0.0-0.179.0].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

kibana, curator ops false; wait for es deploy
  roles/openshift_logging/tasks/install_logging.yaml
  roles/openshift_logging_elasticsearch/tasks/restart_es_node.yml
Due: ci/openshift-jenkins/logging

Adding samba-client to list of packages to install
  roles/openshift_node/defaults/main.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Set the SE boolean for docker to use samba
  playbooks/azure/openshift-cluster/build_node_image.yml
Due: none

JSON structure appears to have changed
  playbooks/azure/openshift-cluster/tasks/create_blob_from_vm.yml
Due: none

Ensure dns records are available when deleting the stack
  playbooks/openstack/openshift-cluster/uninstall.yml
Due: none

Fix when clause formatting.
  roles/openshift_node/tasks/storage_plugins/iscsi.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Use MCO --once-from instead of custom ansible module
  playbooks/deploy_cluster_40.yml
  playbooks/openshift-node/scaleup.yml
  roles/lib_utils/action_plugins/parse_ignition.py
  roles/lib_utils/test/test_parse_ignition.py
  roles/openshift_node40/defaults/main.yml
  roles/openshift_node40/tasks/config.yml
  roles/openshift_node40/tasks/create_files_from_ignition.yml
  roles/openshift_node40/tasks/systemd.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [3.7.96-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Fix for BZ 1679746 - where VM LB is used
  playbooks/openstack/openshift-cluster/install.yml
Due: none

Uninstall no longer unmounts openshift.local.volumes
  playbooks/adhoc/uninstall_openshift.yml
Due: none

Use pull-secret to pull release and MCD images
  roles/openshift_node40/defaults/main.yml
  roles/openshift_node40/tasks/config.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Fix OpenShiftSDN case
  inventory/install-config-example.yml
  test/libvirt/install-config.yml.template
Due: none

Deprecate openshift_sanitize_inventory
  playbooks/init/basic_facts.yml
  roles/openshift_sanitize_inventory/README.md
  roles/openshift_sanitize_inventory/action_plugins/check_deprecated.py
  roles/openshift_sanitize_inventory/filter_plugins/openshift_sanitize_inventory.py
  roles/openshift_sanitize_inventory/meta/main.yml
  roles/openshift_sanitize_inventory/tasks/__deprecations_logging.yml
  roles/openshift_sanitize_inventory/tasks/deprecations.yml
  roles/openshift_sanitize_inventory/tasks/main.yml
  roles/openshift_sanitize_inventory/tasks/unsupported.yml
  roles/openshift_sanitize_inventory/vars/main.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.10.117-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [4.0.0-0.180.0].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.88-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Uninstall: delete all cri-o containers.
  playbooks/adhoc/uninstall_openshift.yml
Due: none

Revert "JSON structure appears to have changed"
  playbooks/azure/openshift-cluster/tasks/create_blob_from_vm.yml
Due: none

Automatic commit of package [openshift-ansible] release [4.0.0-0.181.0].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [4.0.0-0.182.0].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.7.97-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.10.118-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.9.71-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Remove deprecated "openshift_logging_curator_run_timezone variable" as of v3.11
  roles/openshift_logging/README.md
  roles/openshift_logging/defaults/main.yml
  roles/openshift_logging/tasks/install_logging.yaml
  roles/openshift_logging/tasks/set_defaults_from_current.yml
  roles/openshift_logging_curator/defaults/main.yml
Due: ci/openshift-jenkins/logging

Automatic commit of package [openshift-ansible] release [3.7.98-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [4.0.0-0.183.0].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none
