Repository openshift/openshift-ansible: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/logging, ci/prow/gcp-crio

ci/prow/e2e-gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --target=e2e-gcp-crio
      - --template=/usr/local/e2e-gcp-crio
      command:
      - ci-operator
      env:
  ...

ci/openshift-jenkins/logging:
  labels:
    master: ci.openshift.redhat.com

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - command:
      - ci-operator
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      env:
      - name: TEST_FOCUS
  ...

WIP: Refactor nodename/hostname
  playbooks/init/validate_hostnames.yml
  roles/openshift_facts/library/openshift_facts.py
  roles/openshift_storage_glusterfs/tasks/cluster_health.yml
Due: none

Override ovsdb-server systemd unit timeout when upgrading.
  roles/openshift_node_upgrade/tasks/openvswitch.yml
  roles/openshift_node_upgrade/tasks/restart.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Override ovsdb-server systemd unit timeout when upgrading.
  roles/openshift_node/tasks/upgrade/openvswitch.yml
  roles/openshift_node/tasks/upgrade/restart.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Adding set-credential when set_loopback_cluster is changed
  roles/openshift_master/tasks/set_loopback_context.yml
Due: none

loopback_user varible changed to equal hostname
  roles/openshift_facts/library/openshift_facts.py
Due: none

Automatic commit of package [openshift-ansible] release [3.10.53-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

unmount just before removing
  roles/container_runtime/tasks/common/setup_docker_symlink.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Add CRI-O SELinux configuration
  inventory/hosts.example
  roles/container_runtime/defaults/main.yml
  roles/container_runtime/templates/crio.conf.j2
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [4.0.0-0.13.0].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Atomic upgrade: ensure /etc/origin/kubelet-plugins exists
  roles/openshift_control_plane/tasks/static.yml
Due: none

Automatic commit of package [openshift-ansible] release [4.0.0-0.14.0].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [4.0.0-0.15.0].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

DEBUG
  README.md
Due: none

Automatic commit of package [openshift-ansible] release [3.11.21-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

update kube-service-catalog apiserver ds when scaling up etcd
  playbooks/openshift-etcd/private/scaleup.yml
  roles/openshift_service_catalog/tasks/update_api_server.yml
Due: none

Update apiserver ds after master reset
  playbooks/openshift-etcd/private/scaleup.yml
Due: none

Increase number of retries in sync DS
  roles/openshift_manage_node/tasks/config.yml
  roles/openshift_node_group/tasks/sync.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Replace openshift.node.nodename with l_kubelet_node_name
  playbooks/byo/calico/legacy_upgrade.yml
  playbooks/common/openshift-cluster/upgrades/docker/docker_upgrade.yml
  playbooks/common/openshift-cluster/upgrades/upgrade_nodes.yml
  playbooks/common/openshift-cluster/upgrades/upgrade_scale_group.yml
  playbooks/init/cluster_facts.yml
  playbooks/openshift-glusterfs/private/add_hosts.yml
  playbooks/openshift-node/private/join.yml
  playbooks/openshift-node/private/registry_auth.yml
  playbooks/openshift-node/private/restart.yml
  roles/openshift_control_plane/tasks/main.yml
  roles/openshift_facts/defaults/main.yml
  roles/openshift_hosted/tasks/storage/glusterfs.yml
  roles/openshift_manage_node/tasks/config.yml
  roles/openshift_manage_node/tasks/main.yml
  roles/openshift_node/tasks/upgrade.yml
  roles/openshift_storage_glusterfs/README.md
  roles/openshift_storage_glusterfs/tasks/glusterfs_uninstall.yml
  roles/openshift_storage_glusterfs/tasks/label_nodes.yml
  roles/openshift_storage_glusterfs/templates/topology.json.j2
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Add boolean to uninstall docker (Backport from 9270 with couple of changes to remove docker package)
  playbooks/adhoc/uninstall.yml
  playbooks/adhoc/uninstall_docker.yml
  playbooks/adhoc/uninstall_openshift.yml
Due: none

Fail on openshift_hostname defined; add openshift_kubelet_name_override
  images/installer/root/usr/local/bin/generate
  inventory/hosts.example
  inventory/hosts.openstack
  playbooks/init/cluster_facts.yml
  playbooks/init/validate_hostnames.yml
  playbooks/openstack/resources.py
  roles/lib_utils/action_plugins/sanity_checks.py
  roles/openshift_openstack/tasks/node-configuration.yml
  roles/openshift_openstack/templates/heat_stack_server.yaml.j2
Due: none

bug 1627689. Peg logging-es-ops to appropriate configmap
  roles/openshift_logging_elasticsearch/tasks/main.yaml
  roles/openshift_logging_elasticsearch/templates/es.j2
Due: ci/openshift-jenkins/logging

Automatic commit of package [openshift-ansible] release [4.0.0-0.16.0].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Add support for only installing and running the schema installer job
  playbooks/openshift-metrics/private/schema.yml
  playbooks/openshift-metrics/schema.yml
  roles/openshift_metrics/tasks/cleanup.yaml
  roles/openshift_metrics/tasks/create_temp_dirs.yaml
  roles/openshift_metrics/tasks/main.yaml
  roles/openshift_metrics/tasks/run_schema_job.yaml
Due: none

fix trailing spaces and blank lines
  playbooks/common/openshift-cluster/upgrades/upgrade_nodes.yml
Due: none

Add a playbook that runs prerequisites.yml before the provision_install.yml
  playbooks/aws/openshift-cluster/provision_from_scratch.yml
Due: none

Add missing option in Openstack documentation and sample file.
  playbooks/openstack/configuration.md
  playbooks/openstack/sample-inventory/group_vars/OSEv3.yml
Due: none

Automatic commit of package [openshift-ansible] release [4.0.0-0.17.0].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Modify sync pod to check for KUBELET_HOSTNAME_OVERRIDE
  roles/openshift_node_group/files/sync.yaml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [3.11.22-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [4.0.0-0.18.0].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

README: ansible 2.7 is not supported
  README.md
Due: none

Logging playbook fails due to missing kubeconfig
  roles/openshift_logging_elasticsearch/tasks/get_es_version.yml
Due: ci/openshift-jenkins/logging

Path conditions:
  ci/prow/e2e-gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
  ci/openshift-jenkins/logging: any of: ^roles/openshift_logging.*|playbooks/openshift-logging/.*
  ci/prow/gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
