Repository openshift/openshift-ansible: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift-jenkins/logging, ci/prow/gcp-crio

Path conditions:
  ci/openshift-jenkins/logging: any of: ^roles/openshift_logging.*|playbooks/openshift-logging/.*
  ci/prow/gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)

small typo in comment for vpc
  roles/openshift_aws/tasks/vpc_and_subnet_id.yml
Due: none

Ensure connection local on local host play
  playbooks/openshift-node/private/bootstrap.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.10.36-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

make azure load balancer creation parameters as options
  roles/openshift_cloud_provider/templates/azure.conf.j2
  roles/openshift_sanitize_inventory/tasks/main.yml
Due: none

Add support for ak/orgid
  playbooks/openstack/openshift-cluster/provision.yml
Due: none

Dissalow custom CA file path for providers with CA path
  inventory/hosts.example
  roles/lib_utils/filter_plugins/openshift_master.py
  roles/openshift_control_plane/tasks/main.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.10.37-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Prefix identity provider's CA files with identity provider names
  roles/lib_utils/filter_plugins/openshift_master.py
  roles/openshift_control_plane/tasks/main.yml
Due: none

Add %{?dist} back into specfile release
  openshift-ansible.spec
Due: none

Add %{?dist} back into Release
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.10.38-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Fix server csr while loop oc_csr_approve
  roles/lib_openshift/library/oc_csr_approve.py
  roles/lib_openshift/test/test_oc_csr_approve.py
Due: none

Remove openshift_is_bootstrapped variable
  playbooks/gcp/openshift-cluster/install.yml
  playbooks/init/basic_facts.yml
  playbooks/init/cluster_facts.yml
  playbooks/openshift-node/private/bootstrap.yml
  playbooks/openshift-node/private/configure_bootstrap.yml
  roles/etcd/defaults/main.yaml
  roles/etcd/tasks/certificates/fetch_server_certificates_from_ca.yml
  roles/openshift_facts/library/openshift_facts.py
  roles/openshift_gcp/tasks/setup_scale_group_facts.yml
  roles/openshift_node/tasks/distribute_bootstrap.yml
Due: ci/prow/gcp-crio

Update pause image value in crio.conf after upgrade
  roles/openshift_node/tasks/upgrade/config_changes.yml
Due: ci/prow/gcp-crio

Ensure default StorageClass reclaimPolicy is set to nil instead of emptystring when reclaim_policy undefined
  roles/openshift_default_storage_class/tasks/main.yml
Due: none

Add extensions to tasks_from: directives
  playbooks/common/openshift-cluster/upgrades/v3_11/upgrade_control_plane.yml
  playbooks/openshift-metering/private/config.yml
  playbooks/openshift-metering/private/uninstall.yml
Due: none

Fix etcd helper function template error
  roles/etcd/templates/etcdctl.sh.j2
Due: none

Automatic commit of package [openshift-ansible] release [3.11.0-0.25.0].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Resolves openshift_release openshift_version conversion for AWS plays
  playbooks/aws/README.md
  playbooks/aws/openshift-cluster/build_ami.yml
  playbooks/aws/provisioning_vars.yml.example
Due: none

Enable context selector on console upgrade
  roles/openshift_console/tasks/install.yml
  roles/openshift_web_console/tasks/install.yml
Due: none

Add support for ak/orgid for RHEL
  playbooks/byo/rhel_subscribe.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.10.39-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.10.40-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Revert "Add networkmanager check to sanity checks"
  playbooks/deploy_cluster.yml
  playbooks/init/sanity_checks.yml
  playbooks/openshift-master/scaleup.yml
Due: none

Approve node CSRs during restart
  roles/openshift_node/tasks/upgrade/restart.yml
Due: ci/prow/gcp-crio

openshift-control-plane: check whether the sync pods are ready before selecting nodes
  roles/openshift_node_group/tasks/sync.yml
Due: ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [3.10.41-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

issue #9820
  roles/openshift_hosted/defaults/main.yml
  roles/openshift_hosted/templates/registry_config.j2
Due: none

Updated Selinux Requirement Check Logic to distinguish 'Permissive' and 'Enforcing'
  roles/openshift_node/tasks/main.yml
Due: ci/prow/gcp-crio

Rollback previous check logic and add another Selinux requirement check logic based on Selinux mode
  roles/openshift_node/tasks/main.yml
Due: ci/prow/gcp-crio

Ensure sebool container_manage_cgroup on upgrade
  roles/openshift_node/tasks/main.yml
  roles/openshift_node/tasks/selinux_container_cgroup.yml
  roles/openshift_node/tasks/upgrade.yml
Due: ci/prow/gcp-crio

Fix loop item
  playbooks/ovirt/openshift-cluster/ovirt-vm-uninstall.yml
Due: none

Fix cpu_limit check in eventrouter template
  roles/openshift_logging_eventrouter/templates/2.x/eventrouter-template.j2
Due: ci/openshift-jenkins/logging
