Repository openshift/openshift-ansible: changes, and which Prow jobs are due for each by the changed paths.
All: ci/openshift-jenkins/logging, ci/prow/gcp-crio

Path conditions:
  ci/openshift-jenkins/logging: any of: ^roles/openshift_logging.*|playbooks/openshift-logging/.*
  ci/prow/gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)

Fix ASG tagging
  roles/openshift_aws/defaults/main.yml
  roles/openshift_aws/tasks/build_node_group.yml
  roles/openshift_aws/tasks/scale_group.yml
Due: none

Ensure sebool container_manage_cgroup on upgrade
  roles/openshift_node/tasks/main.yml
  roles/openshift_node/tasks/selinux_container_cgroup.yml
  roles/openshift_node/tasks/upgrade.yml
Due: ci/prow/gcp-crio

Use rhel_subscribe playbook instead the role
  playbooks/openstack/openshift-cluster/provision.yml
Due: none

Support ak/orgid and user/password
  playbooks/init/repos.yml
  roles/openshift_repos/tasks/main.yaml
Due: none

Add retry to openstack heat stack create
  roles/openshift_openstack/tasks/provision.yml
Due: none

Remove docker excluder from image prep packages
  roles/openshift_node/defaults/main.yml
  roles/openshift_node/tasks/install_rpms.yml
Due: ci/prow/gcp-crio

Update deprecated crio.sock
  roles/container_runtime/defaults/main.yml
  roles/container_runtime/tasks/package_crio.yml
  roles/container_runtime/templates/crio.conf.j2
  roles/openshift_facts/defaults/main.yml
  roles/openshift_node/defaults/main.yml
  roles/openshift_node/tasks/upgrade.yml
  roles/openshift_node_group/defaults/main.yml
  roles/openshift_node_group/templates/node-config.yaml.j2
Due: ci/prow/gcp-crio

Expose container_runtime role to openshift_node
  playbooks/openshift-node/private/configure_nodes.yml
Due: none

Added support for route labelling to oc_label
  roles/lib_openshift/src/ansible/oc_label.py
  roles/lib_openshift/src/doc/label
Due: none

kube_proxy_and_dns: add role that runs standalone kube-proxy + DNS
  roles/calico_master/meta/main.yml
  roles/kube_proxy_and_dns/files/kube-proxy-and-dns-images.yaml
  roles/kube_proxy_and_dns/files/kube-proxy-and-dns-policy.yaml
  roles/kube_proxy_and_dns/files/kube-proxy-and-dns.yaml
  roles/kube_proxy_and_dns/meta/main.yaml
  roles/kube_proxy_and_dns/tasks/main.yml
Due: none

Move openshift_crio_pause_image to openshift_facts
  roles/container_runtime/defaults/main.yml
  roles/openshift_facts/defaults/main.yml
Due: ci/prow/gcp-crio

Set TTL 1 for /openshift.io/leases/controllers if controllerLeaseTTL is less than 1
  roles/etcd/tasks/migration/add_ttls.yml
Due: none

Refactor with_items usage with Ansible package module
  docs/best_practices_guide.adoc
  playbooks/adhoc/uninstall_openshift.yml
  playbooks/common/openshift-cluster/upgrades/docker/tasks/upgrade.yml
  playbooks/gcp/openshift-cluster/build_base_image.yml
  playbooks/init/base_packages.yml
  roles/cockpit/tasks/main.yml
  roles/container_runtime/tasks/package_crio.yml
  roles/container_runtime/tasks/package_docker.yml
  roles/etcd/tasks/rpm.yml
  roles/flannel/tasks/main.yml
  roles/nickhammond.logrotate/tasks/main.yml
  roles/nuage_ca/tasks/main.yaml
  roles/openshift_cli/tasks/main.yml
  roles/openshift_control_plane/tasks/htpass_provider.yml
  roles/openshift_expand_partition/tasks/main.yml
  roles/openshift_gcp/tasks/configure_master_healthcheck.yml
  roles/openshift_loadbalancer/tasks/main.yml
  roles/openshift_nfs/tasks/setup.yml
  roles/openshift_node/tasks/dnsmasq_install.yml
  roles/openshift_node/tasks/install.yml
  roles/openshift_node/tasks/install_rpms.yml
  roles/openshift_node/tasks/storage_plugins/iscsi.yml
  roles/openshift_node/tasks/upgrade.yml
  roles/openshift_repos/tasks/main.yaml
  roles/openshift_storage_glusterfs/tasks/glusterfs_common.yml
  roles/openshift_storage_nfs/tasks/main.yml
  roles/openshift_storage_nfs_lvm/tasks/nfs.yml
  roles/os_firewall/tasks/iptables.yml
  roles/os_update_latest/tasks/main.yml
Due: ci/prow/gcp-crio

Generated dependent files
  roles/lib_openshift/library/oc_label.py
Due: none

Fix incorrect formatting for ca file
  roles/lib_utils/filter_plugins/openshift_master.py
Due: none

SDN check: Ignore errors from `oc version`
  roles/openshift_health_checker/openshift_checks/sdn.py
Due: none

Update doc link on the etcd embedded group validation message
  playbooks/init/evaluate_groups.yml
Due: none

Install NetworkManager on OpenStack
  playbooks/openstack/openshift-cluster/install.yml
Due: none

Add back the etcd embedded group validation and update the doc link
  playbooks/init/evaluate_groups.yml
Due: none

Renames CRI-O pause_image to openshift_crio_pause_image.
  roles/container_runtime/defaults/main.yml
  roles/container_runtime/templates/crio.conf.j2
Due: ci/prow/gcp-crio

Rework test CI
  .dockerignore
  images/installer/root/usr/local/bin/entrypoint-provider
  inventory/.gitignore
  inventory/dynamic/aws/group_vars/all/.gitkeep
  test/ci/README.md
  test/ci/deprovision.yml
  test/ci/extra_vars/default.yml
  test/ci/install.sh
  test/ci/inventory/group_vars/OSEv3/checks.yml
  test/ci/inventory/group_vars/OSEv3/general.yml
  test/ci/inventory/group_vars/OSEv3/logging.yml
  test/ci/inventory/group_vars/OSEv3/vars.yml
  test/ci/inventory/group_vars/all.yml
  test/ci/inventory/group_vars/containerized_hosts.yml
  test/ci/inventory/host_vars/localhost.yml
  test/ci/inventory/local.txt
  test/ci/inventory/local_containerized.txt
  test/ci/launch.yml
  test/ci/template-inventory.j2
  test/ci/vars.yml.sample
Due: none

openshift-prometheus: improve uninstall process
  roles/openshift_prometheus/tasks/uninstall_prometheus.yaml
Due: none

_idp['name'] not availabe
  roles/lib_utils/filter_plugins/openshift_master.py
Due: none

Use correct container CLI for docker or cri-o
  playbooks/byo/calico/legacy_upgrade.yml
  playbooks/common/openshift-cluster/upgrades/pre/verify_upgrade_targets.yml
  roles/calico/tasks/main.yml
  roles/contiv/tasks/aci.yml
  roles/etcd/tasks/static.yml
  roles/openshift_control_plane/tasks/pre_pull.yml
  roles/openshift_facts/defaults/main.yml
  roles/openshift_node/tasks/prepull.yml
  roles/openshift_node/tasks/upgrade_pre.yml
Due: ci/prow/gcp-crio

Squash PR 8671
  playbooks/openstack/configuration.md
  playbooks/openstack/sample-inventory/group_vars/all.yml
  roles/openshift_openstack/defaults/main.yml
  roles/openshift_openstack/templates/heat_stack.yaml.j2
Due: none

Allow custom OpenStack network and subnet
  playbooks/openstack/configuration.md
  roles/openshift_openstack/defaults/main.yml
  roles/openshift_openstack/templates/heat_stack.yaml.j2
Due: none

Fixup PR #8671
  playbooks/openstack/configuration.md
  playbooks/openstack/sample-inventory/group_vars/all.yml
  roles/openshift_openstack/defaults/main.yml
  roles/openshift_openstack/templates/heat_stack.yaml.j2
Due: none

Ensure gquota set on slash filesystem
  playbooks/aws/openshift-cluster/build_ami.yml
  playbooks/openshift-node/private/clean_image.yml
Due: none

Add separate Calico etcd
  roles/calico_master/defaults/main.yaml
  roles/calico_master/tasks/certs.yml
  roles/calico_master/tasks/main.yml
  roles/calico_master/templates/calico-etcd.yml.j2
Due: none

update olm images to use openshift registry instead of quay
  roles/olm/defaults/main.yaml
  roles/olm/files/aggregated-edit.clusterrole.yaml
  roles/olm/files/aggregated-view.clusterrole.yaml
  roles/olm/files/catalogsource.crd.yaml
  roles/olm/files/clusterserviceversion.crd.yaml
  roles/olm/files/installplan.crd.yaml
  roles/olm/files/ocs.catalogsource.yaml
  roles/olm/files/ocs.configmap.yaml
  roles/olm/files/olm-operator.rolebinding.yaml
  roles/olm/files/olm-operator.serviceaccount.yaml
  roles/olm/files/subscription.crd.yaml
  roles/olm/tasks/install.yaml
  roles/olm/tasks/main.yaml
  roles/olm/tasks/remove_components.yaml
  roles/olm/templates/catalog-operator.deployment.j2
  roles/olm/templates/olm-operator.deployment.j2
Due: none

Forcing full cluster restart to treat dcs as set
  roles/openshift_logging_elasticsearch/tasks/full_cluster_restart.yml
  roles/openshift_logging_elasticsearch/tasks/restart_cluster.yml
Due: ci/openshift-jenkins/logging

Modify etcd.yaml to be a template so the --cipher-suites option may be specified according to the value of openshift_master_cipher_suites (https://bugzilla.redhat.com/show_bug.cgi?id=1623646)
  roles/etcd/templates/etcd.yaml.j2
Due: none

Modify etcd.yaml to be a template so the --cipher-suites option may be specified according to the value of openshift_master_cipher_suites (https://bugzilla.redhat.com/show_bug.cgi?id=1623646)
  roles/etcd/tasks/static.yml
  roles/etcd/templates/etcd.yaml.j2
Due: none
