Repository openshift/openshift-ansible: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/logging, ci/prow/gcp-crio

ci/prow/e2e-gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --target=e2e-gcp-crio
      - --template=/usr/local/e2e-gcp-crio
      command:
      - ci-operator
      env:
  ...

ci/openshift-jenkins/logging:
  labels:
    master: ci.openshift.redhat.com

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - command:
      - ci-operator
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      env:
      - name: TEST_FOCUS
  ...

Automatic commit of package [openshift-ansible] release [3.10.133-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

lib_utils to parse *_storage_host variables with get_templated
  roles/lib_utils/action_plugins/generate_pv_pvcs_list.py
Due: none

Fixes 11419 - missing default oreg_url value
  roles/container_runtime/defaults/main.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [3.11.102-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Re-apply tuned profile during upgrade
  playbooks/common/openshift-cluster/upgrades/upgrade_nodes.yml
  playbooks/openshift-master/private/upgrade.yml
Due: none

Re-apply tuned profile during upgrade
  playbooks/common/openshift-cluster/upgrades/upgrade_control_plane.yml
  playbooks/common/openshift-cluster/upgrades/upgrade_nodes.yml
Due: none

Providing default oreg_url for validation
  roles/container_runtime/tasks/common/pre.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Remove papr test files
  .papr-master-ha.inventory
  .papr.all-in-one.inventory
  .papr.inventory
  .papr.sh
  .papr.yml
Due: none

BZ1692418 - Make sure that volume.annotation is defined
  roles/openshift_persistent_volumes/templates/persistent-volume.yml.j2
Due: none

Fixed "AnsibleUndefinedVariable: 'dict object' has no attribute 'annotations'" error.
  roles/openshift_persistent_volumes/templates/persistent-volume-claim.yml.j2
  roles/openshift_persistent_volumes/templates/persistent-volume.yml.j2
Due: none

Updating OWNERS
  OWNERS
Due: none

Remove CI subdir from test.
  test/ci/README.md
  test/ci/deprovision.yml
  test/ci/inventory/group_vars/OSEv3/vars.yml
  test/ci/launch.yml
  test/ci/template-inventory.j2
  test/ci/vars.yml.sample
Due: none

Move libvirt folder from test to hack.
  hack/libvirt/README.md
  hack/libvirt/cleanup.sh
  hack/libvirt/deploy.sh
  hack/libvirt/deploy_centos.sh
  hack/libvirt/dnsmasq_setup.sh
  hack/libvirt/generate_assets.sh
  hack/libvirt/generate_inventory.sh
  hack/libvirt/group_vars/nodes.yml
  hack/libvirt/install-config.yml.template
  hack/libvirt/installrc
  hack/libvirt/installrc_centos
  hack/libvirt/inv.txt.template
  hack/libvirt/node_scaleup.sh
  hack/libvirt/playbooks/files/openshift-local.repo
  hack/libvirt/playbooks/localrepo.yml
  hack/libvirt/playbooks/prep.yml
  hack/libvirt/playbooks/rhel_prep.yml
  hack/libvirt/playbooks/templates/buildah_repo.sh
  hack/libvirt/rhel_setup.sh
  hack/libvirt/run_ansible.sh
  hack/libvirt/ssh_config.sh
  hack/libvirt/terraform/bootstrap/README.md
  hack/libvirt/terraform/bootstrap/main.tf
  hack/libvirt/terraform/bootstrap/meta-data.tpl
  hack/libvirt/terraform/bootstrap/user-data.tpl
  hack/libvirt/terraform/bootstrap/variables.tf
  hack/libvirt/terraform/config.tf
  hack/libvirt/terraform/main.tf
  hack/libvirt/terraform/terraform.tfvars.template
  hack/libvirt/terraform/user-data.tpl
  hack/libvirt/terraform/variables-libvirt.tf
  hack/libvirt/terraform/volume/main.tf
  hack/libvirt/terraform/volume/outputs.tf
  hack/libvirt/terraform/volume/variables.tf
  hack/libvirt/terraform_provision.sh
Due: none

Automatic commit of package [openshift-ansible] release [3.10.134-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.9.76-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

test/deprovision: retry attempts to destroy instances and SG
  test/ci/deprovision.yml
Due: none

Linting fixes in playbooks and roles
  playbooks/openshift-node/private/join.yml
  roles/aci/tasks/firewall.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.7.110-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.6.173.0.158-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.5.194-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.103-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Update kube-rbac-proxy to v0.4.1
  roles/openshift_monitor_availability/files/monitor-app-create.yaml
Due: none

openshift_ovirt: Support setting mac_address in the manifest
  roles/openshift_ovirt/README.md
  roles/openshift_ovirt/tasks/vms.j2
Due: none

Automatic commit of package [openshift-ansible] release [3.10.135-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Update main.yaml
  roles/openshift_logging_elasticsearch/tasks/main.yaml
Due: ci/openshift-jenkins/logging

Revert "bug 1666674. Add Kibana sar and delegate url for auth-delegator"
  roles/openshift_logging_kibana/tasks/main.yaml
  roles/openshift_logging_kibana/templates/kibana.j2
Due: ci/openshift-jenkins/logging

[KIECLOUD-171] - Update Application templates and imagestreams on OCP for RHDS and RHIPS
  roles/openshift_examples/examples-sync.sh
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/decisionserver62-image-stream.json
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/decisionserver63-image-stream.json
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/decisionserver64-image-stream.json
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/processserver63-image-stream.json
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/processserver64-image-stream.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/decisionserver64-amq-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/decisionserver64-basic-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/decisionserver64-https-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/processserver64-amq-mysql-persistent-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/processserver64-amq-mysql-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/processserver64-amq-postgresql-persistent-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/processserver64-amq-postgresql-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/processserver64-basic-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/processserver64-externaldb-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/processserver64-mysql-persistent-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/processserver64-mysql-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/processserver64-postgresql-persistent-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/processserver64-postgresql-s2i.json
Due: none

Update roles/openshift_logging_elasticsearch/tasks/main.yaml
  roles/openshift_logging_elasticsearch/tasks/main.yaml
Due: ci/openshift-jenkins/logging

[KIECLOUD-110] - Update RHDM and RHPAM 7.30 templates on OCP and OSO service catalog
  roles/openshift_examples/examples-sync.sh
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/rhdm73-image-streams.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/rhpam73-image-streams.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm73-authoring-ha.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm73-authoring.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm73-kieserver.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm73-optaweb-employee-rostering.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm73-prod-immutable-kieserver.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm73-trial-ephemeral.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam73-authoring-ha.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam73-authoring.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam73-kieserver-externaldb.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam73-kieserver-mysql.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam73-kieserver-postgresql.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam73-managed.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam73-prod-immutable-kieserver.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam73-prod-immutable-monitor.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam73-prod.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam73-trial-ephemeral.yaml
Due: none

openshift_ovirt: Support setting mac_address in the manifest
  roles/openshift_ovirt/README.md
  roles/openshift_ovirt/tasks/build_vm_list.yml
  roles/openshift_ovirt/templates/vms.j2
Due: none

Addition of NooBaa to Ansible
  playbooks/common/private/components.yml
  playbooks/openshift-noobaa/OWNERS
  playbooks/openshift-noobaa/README.md
  playbooks/openshift-noobaa/config.yml
  playbooks/openshift-noobaa/private/config.yml
  playbooks/openshift-noobaa/private/roles
  roles/openshift_noobaa/README.md
  roles/openshift_noobaa/defaults/main.yml
  roles/openshift_noobaa/files/noobaa-template.yml
  roles/openshift_noobaa/meta/main.yml
  roles/openshift_noobaa/tasks/install.yml
  roles/openshift_noobaa/tasks/main.yml
  roles/openshift_noobaa/tasks/uninstall.yml
Due: none

Fixed default installation
  playbooks/common/private/components.yml
Due: none

Use oc binary instead of k8s_facts
  README.md
  roles/openshift_node/tasks/config.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Remove block storageclass
  roles/openshift_storage_glusterfs/tasks/glusterfs_uninstall.yml
Due: none

Cisco ACI CNI Plugin support
  playbooks/init/main.yml
  playbooks/init/validate_aci_params.yml
  playbooks/openshift-master/private/config.yml
  playbooks/openshift-node/private/join.yml
  roles/aci/README.md
  roles/aci/defaults/main.yml
  roles/aci/tasks/firewall.yml
  roles/aci/tasks/main.yml
  roles/openshift_control_plane/defaults/main.yml
  roles/openshift_node/defaults/main.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Path conditions:
  ci/prow/e2e-gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
  ci/openshift-jenkins/logging: any of: ^roles/openshift_logging.*|playbooks/openshift-logging/.*
  ci/prow/gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
