Repository openshift/openshift-ansible: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/logging, ci/prow/gcp-crio

ci/prow/e2e-gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --target=e2e-gcp-crio
      - --template=/usr/local/e2e-gcp-crio
      command:
      - ci-operator
      env:
  ...

ci/openshift-jenkins/logging:
  labels:
    master: ci.openshift.redhat.com

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - command:
      - ci-operator
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      env:
      - name: TEST_FOCUS
  ...

ssh-bastion: create TCP-based NLB
  test/aws/files/01_service.yml
Due: none

Remove hidden tag for latest Fuse builders #11292
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/fis-image-streams.json
Due: none

Remove hidden tag for latest Fuse builders #11292
  roles/openshift_examples/files/examples/v3.10/xpaas-streams/fis-image-streams.json
Due: none

Templates for CloudForms 4.7 (cherry picked from commit 3cac3826a9ff538d9380b0a878687f4dac8633fc)
  roles/openshift_management/files/templates/cloudforms/cfme-backup-job.yaml
  roles/openshift_management/files/templates/cloudforms/cfme-restore-job.yaml
  roles/openshift_management/files/templates/cloudforms/cfme-template-ext-db.yaml
  roles/openshift_management/files/templates/cloudforms/cfme-template.yaml
  roles/openshift_management/files/templates/cloudforms/httpd-configmap-generator-template.yaml
Due: none

Remove cfme templates from openshift_examples directory
  roles/openshift_examples/files/examples/v3.10/cfme-templates/cfme-backup-job.yaml
  roles/openshift_examples/files/examples/v3.10/cfme-templates/cfme-backup-pvc.yaml
  roles/openshift_examples/files/examples/v3.10/cfme-templates/cfme-pv-backup-example.yaml
  roles/openshift_examples/files/examples/v3.10/cfme-templates/cfme-pv-db-example.yaml
  roles/openshift_examples/files/examples/v3.10/cfme-templates/cfme-pv-server-example.yaml
  roles/openshift_examples/files/examples/v3.10/cfme-templates/cfme-restore-job.yaml
  roles/openshift_examples/files/examples/v3.10/cfme-templates/cfme-scc-sysadmin.yaml
  roles/openshift_examples/files/examples/v3.10/cfme-templates/cfme-template-ext-db.yaml
  roles/openshift_examples/files/examples/v3.10/cfme-templates/cfme-template.yaml
  roles/openshift_examples/files/examples/v3.10/cfme-templates/httpd-configmap-generator-template.yaml
  roles/openshift_examples/files/examples/v3.10/cfme-templates/httpd-scc-sysadmin.yaml
  roles/openshift_examples/files/examples/v3.10/cfme-templates/jboss-middleware-manager-pv-example.yaml
  roles/openshift_examples/files/examples/v3.10/cfme-templates/jboss-middleware-manager-template.yaml
Due: none

Templates for CloudForms 4.7 (cherry picked from commit 3cac3826a9ff538d9380b0a878687f4dac8633fc)
  roles/openshift_management/files/templates/cloudforms/cfme-backup-job.yaml
  roles/openshift_management/files/templates/cloudforms/cfme-restore-job.yaml
  roles/openshift_management/files/templates/cloudforms/cfme-template-ext-db.yaml
  roles/openshift_management/files/templates/cloudforms/cfme-template.yaml
Due: none

Remove cfme templates from openshift_examples v3.9 directory
  roles/openshift_examples/files/examples/v3.9/cfme-templates/cfme-backup-job.yaml
  roles/openshift_examples/files/examples/v3.9/cfme-templates/cfme-backup-pvc.yaml
  roles/openshift_examples/files/examples/v3.9/cfme-templates/cfme-pv-backup-example.yaml
  roles/openshift_examples/files/examples/v3.9/cfme-templates/cfme-pv-db-example.yaml
  roles/openshift_examples/files/examples/v3.9/cfme-templates/cfme-pv-server-example.yaml
  roles/openshift_examples/files/examples/v3.9/cfme-templates/cfme-restore-job.yaml
  roles/openshift_examples/files/examples/v3.9/cfme-templates/cfme-scc-sysadmin.yaml
  roles/openshift_examples/files/examples/v3.9/cfme-templates/cfme-template-ext-db.yaml
  roles/openshift_examples/files/examples/v3.9/cfme-templates/cfme-template.yaml
  roles/openshift_examples/files/examples/v3.9/cfme-templates/jboss-middleware-manager-pv-example.yaml
  roles/openshift_examples/files/examples/v3.9/cfme-templates/jboss-middleware-manager-template.yaml
Due: none

Fix version checker, Require 2.7.8
  README.md
  images/installer/origin-extra-root/etc/yum.repos.d/centos-ansible27.repo
  openshift-ansible.spec
  requirements.txt
  roles/lib_utils/callback_plugins/aa_version_requirement.py
Due: none

ops-mirror.pem is mandatory for scaleup
  test/aws/scaleup.yml
Due: none

Merge openshift_facts role into openshift_node40
  playbooks/init/basic_facts.yml
  roles/openshift_facts/README.md
  roles/openshift_facts/defaults/main.yml
  roles/openshift_facts/library/openshift_facts.py
  roles/openshift_facts/meta/main.yml
  roles/openshift_node40/defaults/main.yml
  roles/openshift_node40/meta/main.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

additional provider network/octavia documentation
  playbooks/openstack/configuration.md
Due: none

Automatic commit of package [openshift-ansible] release [3.10.122-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Only use parse_version in compare
  roles/lib_utils/callback_plugins/aa_version_requirement.py
Due: none

bug 1685618. Modify default_md for logging cert generation bug 1685655. Update key size for logging cert generation
  roles/openshift_logging/tasks/generate_pems.yaml
  roles/openshift_logging/templates/signing.conf.j2
Due: ci/openshift-jenkins/logging

Relax version requirements
  openshift-ansible.spec
  roles/lib_utils/callback_plugins/aa_version_requirement.py
Due: none

Include iscsi storage only on non-atomic host installs.
  roles/openshift_node/tasks/main.yml
  roles/openshift_node/tasks/storage_plugins/iscsi.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Fix typo mistake: appliction 2 application.
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/datavirt63-secure-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-sso-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap64-sso-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap71-sso-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap72-sso-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/sso72-https.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/sso72-mysql-persistent.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/sso72-mysql.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/sso72-postgresql-persistent.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/sso72-postgresql.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/sso72-x509-https.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/sso72-x509-mysql-persistent.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/sso72-x509-postgresql-persistent.json
Due: none

Automatic commit of package [openshift-ansible] release [3.11.92-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

sync and SDN pods should tolerate all taints
  roles/openshift_node_group/files/sync.yaml
  roles/openshift_sdn/files/sdn.yaml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

fluentd: tolerate all taints
  roles/openshift_logging_fluentd/templates/fluentd.j2
Due: ci/openshift-jenkins/logging

Logs are already being shipped to journald
  playbooks/azure/openshift-cluster/files/waagent.service
Due: none

Adding new kuryr handler to avoid races
  roles/kuryr/templates/configmap.yaml.j2
Due: none

Replace oc_* module usage with upstream k8s module
  images/installer/Dockerfile
  openshift-ansible.spec
  playbooks/init/basic_facts.yml
  playbooks/openshift-node/scaleup.yml
  test/aws/create_machineset.yml
  test/aws/get_machinesets.yml
  test/aws/scaleup.yml
  test/aws/ssh_bastion.yml
Due: none

Use new machineset labels
  test/aws/create_machineset.yml
Due: none

Use tempfile module in place of command mktemp
  roles/openshift_node40/tasks/config.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [3.7.103-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.10.123-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Ensure kuryr has its own namespace
  roles/kuryr/defaults/main.yaml
  roles/kuryr/tasks/master.yaml
Due: none

pass http/s proxy env variables to kibana
  roles/openshift_logging_kibana/templates/kibana.j2
Due: ci/openshift-jenkins/logging

Dockerfile: build using RPM packages
  images/installer/Dockerfile
  images/installer/Dockerfile.ci
  images/installer/origin-extra-root/etc/yum.repos.d/azure-cli.repo
  images/installer/origin-extra-root/etc/yum.repos.d/centos-openshift-origin.repo
  images/installer/origin-extra-root/etc/yum.repos.d/google-cloud-sdk.repo
  images/installer/origin-extra-root/etc/yum.repos.d/openshift-origin-4.0-ci.repo
Due: none

openshift-ansible.spec: remove unnecessary deps
  images/installer/Dockerfile
  openshift-ansible.spec
Due: none

Encode the cert when loading it
  roles/lib_utils/library/openshift_cert_expiry.py
Due: none

No longer worry about openshift_version
  playbooks/init/main.yml
  playbooks/init/version.yml
Due: none

Only use openshift_repos from test playbooks
  playbooks/init/main.yml
  playbooks/init/repos.yml
  roles/rhel_subscribe/README.md
  roles/rhel_subscribe/defaults/main.yml
  roles/rhel_subscribe/meta/main.yml
  roles/rhel_subscribe/tasks/main.yml
  roles/rhel_subscribe/tasks/satellite.yml
  test/aws/scaleup.yml
Due: none

Remove runhour and runminute from curator config sample
  roles/openshift_logging_curator/files/curator.yml
Due: ci/openshift-jenkins/logging

Merge init playbooks into openshift_node
  playbooks/init/base_packages.yml
  playbooks/init/basic_facts.yml
  playbooks/init/evaluate_groups.yml
  playbooks/init/main.yml
  playbooks/init/roles
  playbooks/init/vars/cluster_hosts.yml
  playbooks/openshift-node/scaleup.yml
  roles/openshift_node40/defaults/main.yml
  roles/openshift_node40/tasks/config.yml
  roles/openshift_node40/tasks/main.yml
  test/aws/scaleup.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Simplify DaemonSet Update
  roles/openshift_sdn/tasks/update_daemonset.yml
Due: none

Path conditions:
  ci/prow/e2e-gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
  ci/openshift-jenkins/logging: any of: ^roles/openshift_logging.*|playbooks/openshift-logging/.*
  ci/prow/gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
