Repository openshift/openshift-ansible: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/logging, ci/prow/gcp-crio

Path conditions:
  ci/prow/e2e-gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
  ci/openshift-jenkins/logging: any of: ^roles/openshift_logging.*|playbooks/openshift-logging/.*
  ci/prow/gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)

Bug 1882203 - fixes from PR
  playbooks/openshift-master/private/redeploy-named-certificates.yml
  playbooks/openshift-master/redeploy-named-certificates.yml
  roles/openshift_named_certificates/tasks/main.yml
Due: none

Update playbook to install NetworkManager-ovs
  roles/openshift_node/defaults/main.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Update README.md
  README.md
Due: none

playbooks/container-runtime: Combine role import into one task
  playbooks/container-runtime/private/config.yml
  roles/container_runtime/tasks/install.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Bug 1879407: Pass openshift_logging_es_cluster_size for ops cluster when restarting
  roles/openshift_logging/tasks/install_logging.yaml
Due: ci/openshift-jenkins/logging

Automatic commit of package [openshift-ansible] release [3.11.302-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.303-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.304-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.305-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.306-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

playbooks/openshift-etcd: Ensure etcd CA is present on first etcd host
  playbooks/openshift-etcd/private/redeploy-certificates.yml
  roles/etcd/tasks/verify_ca_certificates.yml
Due: none

roles/openshift-node: Verify host matches cluster FIPS
  roles/openshift_node/tasks/install.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

roles/openshift_peristent_volumes: Correct persistent-volume.yml template
  roles/openshift_persistent_volumes/templates/persistent-volume.yml.j2
Due: none

Revert "Bug 1848454: OpenShift logging upgrade from 3.11.161 to 3.11.219 fails"
  roles/openshift_logging/tasks/install_logging.yaml
Due: ci/openshift-jenkins/logging

added node bootstrap autoapprover as part of upgrade component
  playbooks/common/openshift-cluster/upgrades/upgrade_components.yml
Due: none

Update upgrade_components.yml
  playbooks/common/openshift-cluster/upgrades/upgrade_components.yml
Due: none

removed trailing spaces
  playbooks/common/openshift-cluster/upgrades/upgrade_components.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.11.307-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

roles/openshift_control_plane: Verify local API health
  roles/openshift_control_plane/handlers/main.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.11.308-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.309-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.310-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.311-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

test/aws: Remove temporary kernel update
  test/aws/create_machines.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.11.312-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Wait for node to be ready' task should check that all vars are defined
  playbooks/openshift-node/private/registry_auth.yml
Due: none

Update registry_auth.yml
  playbooks/openshift-node/private/registry_auth.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.11.313-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.314-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.315-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.316-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.11.317-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

add php 7.2 into 3.11 cause cuppet says 7.1 will no longer work with sclorg/cakephp-ex
  roles/openshift_examples/files/examples/x86_64/image-streams/image-streams-rhel7.json
  roles/openshift_examples/files/examples/x86_64/quickstart-templates/cakephp-mysql-persistent.json
  roles/openshift_examples/files/examples/x86_64/quickstart-templates/cakephp-mysql.json
Due: none

Force kuryr pods to be prioritized
  roles/kuryr/templates/cni-daemonset.yaml.j2
  roles/kuryr/templates/controller-deployment.yaml.j2
Due: none

roles/openshift_version: Use only x.y version from first master
  playbooks/common/openshift-cluster/upgrades/init.yml
  roles/openshift_ca/tasks/main.yml
  roles/openshift_node/tasks/install.yml
  roles/openshift_version/tasks/first_master.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

openshift_node: Drain nodes and restart during join.yml
  playbooks/openshift-node/private/join.yml
  playbooks/openshift-node/private/restart.yml
  roles/openshift_node/tasks/sdn_delete.yml
  roles/openshift_node/tasks/upgrade.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

add php 7.2 into 3.11 cause cuppet says 7.1 will no longer work with sclorg/cakephp-ex (centos as with for CI/e2e testing)
  roles/openshift_examples/files/examples/x86_64/image-streams/image-streams-centos7.json
Due: none

roles/openshift_node: Update NetworkManager conf.d default
  roles/openshift_node/tasks/dnsmasq/network-manager.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

ignore failed msg when running task Verify if the ca-bundle contains the CA to trust the named certificate
  roles/openshift_named_certificates/tasks/main.yml
Due: none

BZ#1880784 - If cafile is not defined in named certificates run message
  roles/openshift_named_certificates/tasks/main.yml
  roles/openshift_named_certificates/vars/main.yml
Due: none
