Repository openshift/openshift-ansible: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/logging, ci/prow/gcp-crio

Path conditions:
  ci/prow/e2e-gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
  ci/openshift-jenkins/logging: any of: ^roles/openshift_logging.*|playbooks/openshift-logging/.*
  ci/prow/gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)

Automatic commit of package [openshift-ansible] release [3.11.83-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Fix gluster deploy checks
  roles/openshift_storage_glusterfs/tasks/glusterfs_deploy.yml
Due: none

add Initialize facts step to html_and_json_timestamp.yaml
  playbooks/openshift-checks/certificate_expiry/html_and_json_timestamp.yaml
Due: none

Ignore paths in `etcd-servers-overrides`
  roles/lib_utils/action_plugins/master_check_paths_in_config.py
  roles/lib_utils/test/test_master_check_paths_in_config.py
Due: none

bug 1668338. Fix the correct ds template
  roles/openshift_logging_fluentd/templates/2.x/fluentd.j2
Due: ci/openshift-jenkins/logging

Remove cfme templates from openshift_examples directory
  roles/openshift_examples/files/examples/x86_64/cfme-templates/cfme-backup-job.yaml
  roles/openshift_examples/files/examples/x86_64/cfme-templates/cfme-backup-pvc.yaml
  roles/openshift_examples/files/examples/x86_64/cfme-templates/cfme-pv-backup-example.yaml
  roles/openshift_examples/files/examples/x86_64/cfme-templates/cfme-pv-db-example.yaml
  roles/openshift_examples/files/examples/x86_64/cfme-templates/cfme-pv-server-example.yaml
  roles/openshift_examples/files/examples/x86_64/cfme-templates/cfme-restore-job.yaml
  roles/openshift_examples/files/examples/x86_64/cfme-templates/cfme-scc-sysadmin.yaml
  roles/openshift_examples/files/examples/x86_64/cfme-templates/cfme-template-ext-db.yaml
  roles/openshift_examples/files/examples/x86_64/cfme-templates/cfme-template.yaml
  roles/openshift_examples/files/examples/x86_64/cfme-templates/httpd-configmap-generator-template.yaml
  roles/openshift_examples/files/examples/x86_64/cfme-templates/httpd-scc-sysadmin.yaml
  roles/openshift_examples/files/examples/x86_64/cfme-templates/jboss-middleware-manager-pv-example.yaml
  roles/openshift_examples/files/examples/x86_64/cfme-templates/jboss-middleware-manager-template.yaml
Due: none

Automatic commit of package [openshift-ansible] release [4.0.0-0.170.0].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Make sure that the user we expect has proper credentials set.
  roles/openshift_control_plane/tasks/set_loopback_context.yml
  roles/openshift_facts/library/openshift_facts.py
Due: none

[release-3.9] Set credentials and proper hostname when updating loopback kubeconfig Make sure that the user we expect has proper credentials set.
  roles/openshift_facts/library/openshift_facts.py
  roles/openshift_master/tasks/set_loopback_context.yml
Due: none

scaleup: new namespace for machinesets
  test/aws/create_machineset.yml
  test/aws/get_machinesets.yml
  test/aws/scaleup.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.7.91-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.10.113-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [4.0.0-0.171.0].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

openshift_node: use init_file to replace journald.conf settings
  roles/openshift_node/tasks/journald.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Remove vendored ansible-profile callback
  ansible-profile/README.md
  ansible-profile/callback_plugins/profile_tasks.py
Due: none

Allow to configure BlockStorage.ignore-volume-az for Openstack Cloud Provider
  roles/openshift_cloud_provider/defaults/main.yml
  roles/openshift_cloud_provider/templates/openstack.conf.j2
Due: none

azure: pull RPMs from CDN
  playbooks/azure/openshift-cluster/group_vars/all/yum_repos.yml
Due: none

Add EAP CD 15 to xpass templates
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/eap-cd-image-stream.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-amq-persistent-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-amq-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-https-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-mongodb-persistent-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-mongodb-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-mysql-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-postgresql-persistent-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-postgresql-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-sso-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-starter-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-third-party-db-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-tx-recovery-postgresql-s2i.json
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/eap-cd-tx-recovery-s2i.json
Due: none

Juniper Contrail SDN patch
  inventory/ha-ose-install
  inventory/ose-install
  playbooks/openshift-master/private/config.yml
  playbooks/openshift-node/private/contrail_sanitize.yml
  playbooks/openshift-node/private/join.yml
  roles/contrail_common/README.md
  roles/contrail_common/tasks/determine_contrail_masters.yaml
  roles/contrail_common/tasks/hosts_to_ip.yaml
  roles/contrail_common/tasks/main.yml
  roles/contrail_master/README.md
  roles/contrail_master/defaults/main.yml
  roles/contrail_master/meta/main.yml
  roles/contrail_master/tasks/main.yaml
  roles/contrail_master/tasks/os_contrail_master.yaml
  roles/contrail_master/tasks/os_contrail_nested.yaml
  roles/contrail_master/templates/contrail-agent-5.j2
  roles/contrail_master/templates/contrail-analytics-5.j2
  roles/contrail_master/templates/contrail-analytics-alarm-5.j2
  roles/contrail_master/templates/contrail-analytics-db-5.j2
  roles/contrail_master/templates/contrail-analytics-snmp-5.j2
  roles/contrail_master/templates/contrail-config-db-5.j2
  roles/contrail_master/templates/contrail-control-config-5.j2
  roles/contrail_master/templates/contrail-ext-redis-5.j2
  roles/contrail_master/templates/contrail-image-downloader-5.j2
  roles/contrail_master/templates/contrail-infra-vars-5.j2
  roles/contrail_master/templates/contrail-installer-4.j2
  roles/contrail_master/templates/contrail-kube-manager-5.j2
  roles/contrail_master/templates/contrail-namespace.j2
  roles/contrail_master/templates/contrail-nested.j2
  roles/contrail_master/templates/contrail-webui-5.j2
  roles/contrail_master/templates/getIp.j2
  roles/contrail_master/templates/wait_for_pod.j2
  roles/contrail_st/README.md
  roles/contrail_st/tasks/main.yaml
  roles/contrail_st/tasks/schema_transformer_sanity.yaml
Due: none

If the multipath config file already exists, append LIO-ORG device configuration.
  roles/openshift_node/tasks/storage_plugins/iscsi.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Run firewall task on upgrades
  roles/openshift_node/tasks/upgrade.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Removing SystemKeepFree to use the default 15%
  roles/openshift_node/defaults/main.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Removing SystemKeepFree to use default value
  roles/openshift_node/defaults/main.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

[KIECLOUD-112] - Update RHPAM/DM templates on OpenShift Service Catalog for release 7.2.1
  roles/openshift_examples/examples-sync.sh
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/rhdm72-image-streams.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/rhpam72-image-streams.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm72-authoring-ha.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm72-authoring.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm72-kieserver.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm72-optaweb-employee-rostering-trial-ephemeral.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm72-prod-immutable-kieserver.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm72-trial-ephemeral.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam72-authoring-ha.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam72-authoring.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam72-kieserver-externaldb.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam72-kieserver-mysql.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam72-kieserver-postgresql.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam72-prod-immutable-kieserver.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam72-prod-immutable-monitor.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam72-prod.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam72-trial-ephemeral.yaml
Due: none

Automatic commit of package [openshift-ansible] release [3.11.84-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [4.0.0-0.172.0].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.7.92-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.10.114-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Add product as "TCMU device". Without product field "multipath -t" fails to list the device
  roles/openshift_node/tasks/storage_plugins/iscsi.yml
  roles/openshift_node/templates/multipath.conf.j2
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Remove LIO-ORG configuration in multipath conf as new task will take care of adding the device.
  roles/openshift_node/templates/multipath.conf.j2
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

test/aws: copy criotested cert if it was mounted by CI
  test/aws/scaleup.yml
Due: none

Change only pause_image and pause_command in crio config
  roles/container_runtime/tasks/package_crio.yml
  roles/container_runtime/templates/crio.conf.j2
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Wait for scaled up machines to become running
  test/aws/create_machineset.yml
Due: none
