Repository openshift/openshift-ansible: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/logging, ci/prow/gcp-crio

Path conditions:
  ci/prow/e2e-gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
  ci/openshift-jenkins/logging: any of: ^roles/openshift_logging.*|playbooks/openshift-logging/.*
  ci/prow/gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)

Automatic commit of package [openshift-ansible] release [3.11.109-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

fixing vm loadbalancer deployment if a predefined node subnet or net is defined
  roles/openshift_openstack/templates/heat_stack.yaml.j2
Due: none

import satellite tasks before attempting to register and fixed its when condition
  roles/rhel_subscribe/tasks/main.yml
Due: none

Remove systemd-journal-gateway from package list
  roles/openshift_node/defaults/main.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Add nodeName to node-config template for azure
  playbooks/prerequisites.yml
  roles/openshift_node_group/tasks/create_config.yml
  roles/openshift_node_group/templates/node-config.yaml.j2
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Test using Ansible 2.7.10
  images/installer/Dockerfile
  images/installer/origin-extra-root/etc/yum.repos.d/ansible-releases.repo
  images/installer/origin-extra-root/etc/yum.repos.d/centos-ansible24.repo
  requirements.txt
Due: none

Test using Ansible 2.7.10
  images/installer/Dockerfile
  images/installer/origin-extra-root/etc/yum.repos.d/ansible-releases.repo
  requirements.txt
Due: none

action_plugin_test: add necessary vars to support unittests in ansible 2.6
  roles/openshift_health_checker/test/action_plugin_test.py
Due: none

Stop gathering Ansible facts in openshift_facts
  playbooks/common/openshift-cluster/upgrades/pre/verify_cluster.yml
  playbooks/init/cluster_facts.yml
  playbooks/openshift-master/private/config.yml
  roles/openshift_builddefaults/tasks/main.yml
  roles/openshift_buildoverrides/tasks/main.yml
  roles/openshift_ca/tasks/main.yml
  roles/openshift_cloud_provider/tasks/main.yml
  roles/openshift_control_plane/tasks/main.yml
  roles/openshift_facts/library/openshift_facts.py
  roles/openshift_facts/vars/main.yml
  roles/openshift_management/tasks/add_container_provider.yml
  roles/openshift_master_facts/tasks/main.yml
  roles/openshift_named_certificates/tasks/main.yml
  roles/openshift_node/tasks/configure-proxy-settings.yml
  roles/openshift_node/tasks/distribute_bootstrap.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Fix ci tox, exlcude cluster-operator playbooks
  setup.py
Due: none

Ignoring ansible.constants to suppress warnings
  .pylintrc
Due: none

Automatic commit of package [openshift-ansible] release [3.10.142-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Removing quotes while executing few aci related shell commands
  roles/aci/tasks/main.yml
Due: none

Add crio defaults to openshift_facts
  roles/openshift_facts/defaults/main.yml
Due: none

glusterfs: Minor fixes to upgrade playbook
  playbooks/openshift-glusterfs/private/upgrade.yml
Due: none

glusterfs: Update glusterfs-fuse package as part of upgrade
  playbooks/openshift-glusterfs/private/upgrade.yml
  playbooks/openshift-glusterfs/upgrade.yml
  roles/openshift_node/tasks/glusterfs.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

glusterfs: Only check for heketi pod when it may be missing
  roles/openshift_storage_glusterfs/tasks/heketi_pod_check.yml
Due: none

glusterfs: Update iSCSI config as part of upgrade
  playbooks/openshift-glusterfs/private/setup_nodes.yml
Due: none

Fix openshift_logging set_fact FAILED in python3
  roles/openshift_logging/tasks/set_defaults_from_current.yml
  roles/openshift_logging_curator/templates/curator-cj.j2
Due: ci/openshift-jenkins/logging

Stop gathering Ansible facts in openshift_facts
  playbooks/common/openshift-cluster/upgrades/pre/verify_cluster.yml
  playbooks/init/cluster_facts.yml
  playbooks/openshift-master/private/config.yml
  playbooks/openshift-master/private/scaleup.yml
  playbooks/openshift-master/private/set_network_facts.yml
  playbooks/openshift-master/private/validate_restart.yml
  roles/etcd/tasks/upgrade/upgrade_image.yml
  roles/openshift_builddefaults/tasks/main.yml
  roles/openshift_buildoverrides/tasks/main.yml
  roles/openshift_ca/tasks/main.yml
  roles/openshift_cli/tasks/main.yml
  roles/openshift_cloud_provider/tasks/main.yml
  roles/openshift_facts/library/openshift_facts.py
  roles/openshift_facts/vars/main.yml
  roles/openshift_management/tasks/add_container_provider.yml
  roles/openshift_master/tasks/main.yml
  roles/openshift_master_facts/tasks/main.yml
  roles/openshift_named_certificates/tasks/main.yml
Due: none

Move modify_yaml test to appropriate directory
  roles/lib_utils/test/modify_yaml_tests.py
Due: none

imageconfig playbook fails with undefined variables
  playbooks/openshift-node/imageconfig.yml
  playbooks/openshift-node/private/registry_auth.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.11.110-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Add --debug flag to skopeo inspect in image health check.
  roles/openshift_health_checker/openshift_checks/docker_image_availability.py
  roles/openshift_health_checker/test/docker_image_availability_test.py
Due: none

Fix openshift_logging set_fact FAILED in python3
  roles/openshift_logging/tasks/set_defaults_from_current.yml
  roles/openshift_logging_curator/templates/5.x/curator-cj.j2
Due: ci/openshift-jenkins/logging

Correct usage of openshift_facts
  playbooks/openshift-hosted/private/install_docker_gc.yml
  playbooks/openshift-logging/private/config.yml
Due: ci/openshift-jenkins/logging

Correct usage of openshift_facts
  playbooks/openshift-hosted/private/install_docker_gc.yml
Due: none

SDN: tolerate taints
  roles/openshift_sdn/files/sdn.yaml
Due: none

Use SHA1 to generate hwpass for hawkular metrics
  roles/openshift_metrics/defaults/main.yaml
  roles/openshift_metrics/tasks/generate_hawkular_certificates.yaml
Due: none

Add redeploy-certificate for service catalog
  playbooks/openshift-service-catalog/private/redeploy-certificates.yml
  playbooks/redeploy-certificates.yml
Due: none

GlusterFS: Fix old-style relabeling
  roles/openshift_storage_glusterfs/tasks/glusterfs_upgrade.yml
Due: none

Revert "Removing quotes while executing few aci related shell commands"
  roles/aci/files/annotate_namespace.sh
  roles/aci/tasks/main.yml
Due: none
