Repository openshift/openshift-ansible: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-gcp-crio, ci/openshift-jenkins/logging, ci/prow/gcp-crio

ci/prow/e2e-gcp-crio:
  decorate: true
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --target=e2e-gcp-crio
      - --template=/usr/local/e2e-gcp-crio
      command:
      - ci-operator
      env:
  ...

ci/openshift-jenkins/logging:
  labels:
    master: ci.openshift.redhat.com

ci/prow/gcp-crio:
  decorate: true
  spec:
    containers:
    - command:
      - ci-operator
      - --artifact-dir=$(ARTIFACTS)
      - --secret-dir=/usr/local/e2e-gcp-crio-cluster-profile
      - --template=/usr/local/e2e-gcp-crio
      - --target=e2e-gcp-crio
      env:
      - name: TEST_FOCUS
  ...

Add possibility to use certs on master as source
  roles/openshift_hosted/defaults/main.yml
  roles/openshift_hosted/tasks/router.yml
  roles/openshift_named_certificates/defaults/main.yml
  roles/openshift_named_certificates/tasks/main.yml
Due: none

Increase timeout for control plane pod checks
  roles/openshift_control_plane/tasks/check_master_api_is_ready.yml
  roles/openshift_control_plane/tasks/main.yml
Due: none

JKS renewal bug
  roles/openshift_logging_elasticsearch/tasks/generate_secret.yaml
Due: ci/openshift-jenkins/logging

roles/openshift_cluster_monitoring_operator: remove limits
  roles/openshift_cluster_monitoring_operator/templates/cluster-monitoring-operator-deployment.j2
Due: none

openshift_facts: add more json facts
  roles/openshift_facts/library/openshift_facts.py
Due: none

Back up certificates on all masters
  playbooks/openshift-master/private/certificates-backup.yml
Due: none

Certificate expiration misses node certificates
  roles/lib_utils/library/openshift_cert_expiry.py
Due: none

Add CA to system trust
  roles/openshift_node/tasks/bootstrap.yml
  roles/openshift_node/tasks/distribute_bootstrap.yml
  roles/openshift_node/tasks/upgrade/config_changes.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

amended as per ewolinetz request
  roles/openshift_logging_elasticsearch/tasks/generate_secret.yaml
Due: ci/openshift-jenkins/logging

Fix redploy-certificates (metrics server)
  playbooks/common/openshift-cluster/upgrades/v3_11/upgrade_control_plane_part2.yml
  playbooks/common/private/components.yml
  playbooks/metrics-server/private/redeploy-certificates.yml
  playbooks/redeploy-certificates.yml
Due: none

Fix htpasswd for Hawkular when openshift_metrics_hawkular_fips is set.
  roles/openshift_metrics/tasks/generate_hawkular_certificates.yaml
Due: none

Updating kibana-proxy {http,https,no}_proxy variable sources
  roles/openshift_logging_kibana/templates/kibana.j2
Due: ci/openshift-jenkins/logging

Ensure openshift_metrics_install_metrics defaults are set
  playbooks/common/openshift-cluster/upgrades/v3_11/upgrade_control_plane_part2.yml
  playbooks/common/private/components.yml
  playbooks/redeploy-certificates.yml
  roles/openshift_facts/defaults/main.yml
  roles/openshift_master_facts/tasks/main.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.10.178-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Update docs to indicate that changing will break install
  roles/openshift_metrics/README.md
Due: none

Allow custom mirrored registry paths
  roles/openshift_facts/defaults/main.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.10.179-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

ignore failure on master
  playbooks/adhoc/uninstall_openshift.yml
Due: none

Fix satellite subscription registration
  roles/openshift_repos/tasks/rhel_repos.yml
  roles/rhel_subscribe/tasks/main.yml
Due: none

set openshift_certificate_expiry_warning_days to 6 months vs 365 days
  playbooks/common/openshift-cluster/upgrades/init.yml
Due: none

metrics_server: Add ClusterRole to allow users to access metrics API
  roles/metrics_server/files/metrics-server-aggregated-metrics-reader.yaml
  roles/metrics_server/tasks/generate_sa_and_rbac.yaml
Due: none

Escape literals in regex for test image
  roles/openshift_facts/defaults/main.yml
Due: none

add restart
  playbooks/openshift-node/private/join.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.10.180-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.10.181-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Don't abort if ElasticSearch is slow
  roles/openshift_logging_elasticsearch/tasks/restart_es_node.yml
Due: ci/openshift-jenkins/logging

Add possibility to add extra target for prometheus
  roles/openshift_cluster_monitoring_operator/defaults/main.yml
  roles/openshift_cluster_monitoring_operator/templates/cluster-monitoring-operator-config.j2
Due: none

Create configmaps only for used openshift_node_group_names
  playbooks/openshift-master/private/scaleup.yml
  playbooks/openshift-node/scaleup.yml
  roles/openshift_node_group/tasks/check_for_configs.yml
  roles/openshift_node_group/tasks/main.yml
  roles/openshift_node_group/tasks/upgrade.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Automatic commit of package [openshift-ansible] release [3.10.182-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Fix gluster after restart change
  playbooks/openshift-node/private/restart.yml
Due: none

Automatic commit of package [openshift-ansible] release [3.10.183-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.9.102-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Automatic commit of package [openshift-ansible] release [3.9.103-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Bug 1767111 - logging - expose undefined field, multiline parameters
  roles/openshift_logging/README.md
  roles/openshift_logging_fluentd/defaults/main.yml
  roles/openshift_logging_fluentd/templates/fluentd.j2
Due: ci/openshift-jenkins/logging

Add tasks to get detail about node not ready
  roles/openshift_node/tasks/config.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

BZ 1767238 make kibana inherit all no proxy parameters
  roles/openshift_logging_kibana/templates/kibana.j2
Due: ci/openshift-jenkins/logging

[KIECLOUD-316] - Update RHPAM and RHDM templates and imagestreams on OpenShift Service Catalog for release 7.5.0
  roles/openshift_examples/examples-sync.sh
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/rhdm75-image-streams.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-streams/rhpam75-image-streams.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm75-authoring-ha.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm75-authoring.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm75-kieserver.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm75-optaweb-employee-rostering.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm75-prod-immutable-kieserver-amq.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm75-prod-immutable-kieserver.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhdm75-trial-ephemeral.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam75-authoring-ha.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam75-authoring.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam75-kieserver-externaldb.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam75-kieserver-mysql.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam75-kieserver-postgresql.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam75-managed.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam75-prod-immutable-kieserver-amq.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam75-prod-immutable-kieserver.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam75-prod-immutable-monitor.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam75-prod.yaml
  roles/openshift_examples/files/examples/x86_64/xpaas-templates/rhpam75-trial-ephemeral.yaml
Due: none

Automatic commit of package [openshift-ansible] release [3.11.154-1].
  .tito/packages/openshift-ansible
  openshift-ansible.spec
Due: none

Relax RPM version requirement to major.minor
  roles/openshift_node/tasks/install.yml
Due: ci/prow/e2e-gcp-crio, ci/prow/gcp-crio

Path conditions:
  ci/prow/e2e-gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
  ci/openshift-jenkins/logging: any of: ^roles/openshift_logging.*|playbooks/openshift-logging/.*
  ci/prow/gcp-crio: any of: ^roles/(container_runtime|openshift_node|openshift_node_group)|^(playbooks/prerequisites)
