Repository opendatahub-io/opendatahub-operator: changes, and which Prow jobs are due for each by the changed paths.
All: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

opendatahub-operator-image-mirror:
  postsubmit: true
  steps:
    dependencies:
      SOURCE_IMAGE_REF: opendatahub-operator
    env:
      IMAGE_REPO: opendatahub-operator
      RELEASE_VERSION: main
    workflow: opendatahub-io-ci-image-mirror

opendatahub-operator-rhoai-image-mirror:
  postsubmit: true
  steps:
    dependencies:
      SOURCE_IMAGE_REF: opendatahub-operator-rhoai
    env:
      IMAGE_REPO: opendatahub-operator
      RELEASE_VERSION: rhoai
    workflow: opendatahub-io-ci-image-mirror

opendatahub-operator-e2e:
  steps:
    allow_best_effort_post_steps: true
    allow_skip_on_success: true
    cluster_profile: gcp-opendatahub
    dependencies:
      OO_BUNDLE: opendatahub-operator-bundle
    env:
      COMPUTE_NODE_TYPE: n2-standard-8
      OO_INSTALL_NAMESPACE: openshift-operators
    test:
    - as: e2e
      cli: latest
  ...

opendatahub-operator-rhoai-e2e:
  steps:
    allow_best_effort_post_steps: true
    allow_skip_on_success: true
    cluster_profile: gcp-opendatahub
    dependencies:
      OO_BUNDLE: opendatahub-operator-rhoai-bundle
    env:
      COMPUTE_NODE_TYPE: n2-standard-8
      OO_INSTALL_NAMESPACE: redhat-ods-operator
    test:
    - as: e2e
      cli: latest
  ...

opendatahub-operator-e2e-hypershift:
  optional: true
  steps:
    allow_best_effort_post_steps: true
    allow_skip_on_success: true
    cluster_profile: aws-opendatahub
    dependencies:
      OO_BUNDLE: opendatahub-operator-bundle
    env:
      BASE_DOMAIN: openshift-ci-aws.rhaiseng.com
      COMPUTE_NODE_TYPE: m5.2xlarge
  ...

ci/prow/opendatahub-operator-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp-opendatahub
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/opendatahub-operator-e2e-hypershift:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-opendatahub
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/opendatahub-operator-rhoai-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp-opendatahub
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

[+] Added monitors odh monitoring tag cluster validation policy
  config/monitoring/policies/monitors-namespace-validation.yaml
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

[+] Added mutation webhook registration for envtestutils
  internal/webhook/envtestutil/webhook_registration.go
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

[+] Added odh label e2e tests to e2e webhooks tests
  tests/e2e/monitoring_test.go
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

fixup! Optional OTel Target Allocator
  internal/controller/services/monitoring/resources/opentelemetry-collector.tmpl.yaml
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

[+] Added otel collector targfet allocator prometheus monitors dynamic targeting
  internal/controller/services/monitoring/resources/opentelemetry-collector.tmpl.yaml
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

[+] Added OTel Target Allocator e2e tests
  tests/e2e/monitoring_test.go
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

[+] Added rbac reqs for otel collector target allocator
  internal/controller/services/monitoring/resources/collector-rbac.tmpl.yaml
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

[+] Fix monitoring e2e tests
  tests/e2e/monitoring_test.go
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

Updating the operator repo with latest images and manifests
  build/manifests-config.yaml
  build/operands-map.yaml
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

[3.3] implement HPA for kube auth proxy (#2958)
  internal/controller/services/gateway/gateway_controller.go
  internal/controller/services/gateway/gateway_controller_actions.go
  internal/controller/services/gateway/gateway_support.go
  internal/controller/services/gateway/gateway_support_test.go
  internal/controller/services/gateway/resources/kube-auth-proxy-hpa.tmpl.yaml
  internal/controller/services/gateway/resources/kube-auth-proxy-oauth-deployment.tmpl.yaml
  internal/controller/services/gateway/resources/kube-auth-proxy-oidc-deployment.tmpl.yaml
  pkg/cluster/gvk/gvk.go
  tests/e2e/gateway_test.go
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

fix: simplify DSC-facing MaaS spec to feature flag only
  api/components/v1alpha1/modelsasservice_types.go
  api/components/v1alpha1/zz_generated.deepcopy.go
  docs/api-overview.md
  internal/controller/components/modelsasservice/modelsasservice.go
  internal/controller/components/modelsasservice/modelsasservice_controller_actions.go
  internal/controller/components/modelsasservice/modelsasservice_controller_actions_test.go
  internal/controller/components/modelsasservice/modelsasservice_test.go
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

dump ALL logs?
  tests/e2e/helper_test.go
  tests/e2e/test_context_test.go
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

fix: simplify DSC-facing MaaS spec to feature flag only (#3091)
  api/components/v1alpha1/modelsasservice_types.go
  api/components/v1alpha1/zz_generated.deepcopy.go
  docs/api-overview.md
  internal/controller/components/modelsasservice/modelsasservice.go
  internal/controller/components/modelsasservice/modelsasservice_controller_actions.go
  internal/controller/components/modelsasservice/modelsasservice_controller_actions_test.go
  internal/controller/components/modelsasservice/modelsasservice_test.go
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

chore: Update security scanning tools and implement baseline filtering
  .github/config/gitleaks.toml
  .github/config/hadolint.yaml
  .github/config/security-baseline.yaml
  .github/config/semgrep.yaml
  .github/scripts/acknowledge-findings.py
  .github/scripts/generate-security-report.py
  .github/scripts/rbac-analyzer.py
  .github/workflows/security-full-scan.yml
  .github/workflows/test-linter.yaml
  .kube-linter.yaml
  .yamllint
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift

Updating the operator repo with latest images and manifests
  .tekton/odh-operator-v3-3-push.yaml
  build/manifests-config.yaml
  build/operands-map.yaml
  build/schedule/operator-tekton-trigger.txt
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

Updating the operator repo with latest images and manifests
  .tekton/odh-operator-v3-3-push.yaml
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

patch16: more api timings
  tests/e2e/test_context_test.go
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

patch17: check for null
  tests/e2e/test_context_test.go
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

chore: update manifest commit SHAs
  get_all_manifests.sh
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

(fix): Fix the release to community workflow failing with perm issues
  .github/scripts/create-community-pr.sh
  .github/workflows/release-community.yaml
Due: none

chore: Upgrade kube-linter from v0.7.6 to v0.8.1
  .github/workflows/security-full-scan.yml
  .github/workflows/test-linter.yaml
Due: none

fix: Critical bug fixes for kube-linter parsing and Python 3.10 compatibility
  .github/scripts/acknowledge-findings.py
  .github/scripts/generate-security-report.py
  .github/workflows/security-full-scan.yml
  .github/workflows/test-linter.yaml
Due: none

feat: Enhance security scanning with kube-linter improvements (#3042)
  .github/config/gitleaks.toml
  .github/config/hadolint.yaml
  .github/config/security-baseline.yaml
  .github/config/semgrep.yaml
  .github/scripts/acknowledge-findings.py
  .github/scripts/generate-security-report.py
  .github/scripts/rbac-analyzer.py
  .github/workflows/security-full-scan.yml
  .github/workflows/test-linter.yaml
  .kube-linter.yaml
  .yamllint
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift

Isolate external operator degraded monitoring E2E tests
  tests/e2e/controller_test.go
  tests/e2e/kserve_test.go
  tests/e2e/kueue_test.go
  tests/e2e/trainer_test.go
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

Path conditions:
  opendatahub-operator-image-mirror: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^golangci|^crd-ref-docs\.config|^OWNERS$|^PROJECT$|^LICENSE$|^OWNERS_ALIASES$|^Makefile$|^cmd/[^/]+/
  opendatahub-operator-rhoai-image-mirror: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^golangci|^crd-ref-docs\.config|^OWNERS$|^PROJECT$|^LICENSE$|^OWNERS_ALIASES$|^Makefile$|^cmd/[^/]+/
  opendatahub-operator-e2e: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^golangci|^crd-ref-docs\.config|^OWNERS$|^PROJECT$|^LICENSE$|^OWNERS_ALIASES$|^Makefile$|^cmd/[^/]+/
  opendatahub-operator-rhoai-e2e: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^golangci|^crd-ref-docs\.config|^OWNERS$|^PROJECT$|^LICENSE$|^OWNERS_ALIASES$|^Makefile$|^cmd/[^/]+/
  opendatahub-operator-e2e-hypershift: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^golangci|^crd-ref-docs\.config|^OWNERS$|^PROJECT$|^LICENSE$|^OWNERS_ALIASES$|^Makefile$|^cmd/[^/]+/
  ci/prow/opendatahub-operator-e2e: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^golangci|^crd-ref-docs\.config|^OWNERS$|^PROJECT$|^LICENSE$|^OWNERS_ALIASES$|^Makefile$|^cmd/[^/]+/|^[^/]+\.(yaml|yml)$|^.gitleaksignore$|^.yamllint$
  ci/prow/opendatahub-operator-e2e-hypershift: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^golangci|^crd-ref-docs\.config|^OWNERS$|^PROJECT$|^LICENSE$|^OWNERS_ALIASES$|^Makefile$|^cmd/[^/]+/|^[^/]+\.(yaml|yml)$|^.gitleaksignore$|^.yamllint$
  ci/prow/opendatahub-operator-rhoai-e2e: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^golangci|^crd-ref-docs\.config|^OWNERS$|^PROJECT$|^LICENSE$|^OWNERS_ALIASES$|^Makefile$|^cmd/[^/]+/|^[^/]+\.(yaml|yml)$|^.gitleaksignore$|^.yamllint$
