Repository opendatahub-io/opendatahub-operator: changes, and which Prow jobs are due for each by the changed paths.
All: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

opendatahub-operator-image-mirror:
  postsubmit: true
  steps:
    dependencies:
      SOURCE_IMAGE_REF: opendatahub-operator
    env:
      IMAGE_REPO: opendatahub-operator
      RELEASE_VERSION: main
    workflow: opendatahub-io-ci-image-mirror

opendatahub-operator-rhoai-image-mirror:
  postsubmit: true
  steps:
    dependencies:
      SOURCE_IMAGE_REF: opendatahub-operator-rhoai
    env:
      IMAGE_REPO: opendatahub-operator
      RELEASE_VERSION: rhoai
    workflow: opendatahub-io-ci-image-mirror

opendatahub-operator-e2e:
  steps:
    allow_best_effort_post_steps: true
    allow_skip_on_success: true
    cluster_profile: gcp-opendatahub
    dependencies:
      OO_BUNDLE: opendatahub-operator-bundle
    env:
      COMPUTE_NODE_TYPE: n2-standard-8
      OO_INSTALL_NAMESPACE: openshift-operators
    test:
    - as: e2e
      cli: latest
  ...

opendatahub-operator-rhoai-e2e:
  steps:
    allow_best_effort_post_steps: true
    allow_skip_on_success: true
    cluster_profile: gcp-opendatahub
    dependencies:
      OO_BUNDLE: opendatahub-operator-rhoai-bundle
    env:
      COMPUTE_NODE_TYPE: n2-standard-8
      OO_INSTALL_NAMESPACE: redhat-ods-operator
    test:
    - as: e2e
      cli: latest
  ...

opendatahub-operator-e2e-hypershift:
  optional: true
  steps:
    allow_best_effort_post_steps: true
    allow_skip_on_success: true
    cluster_profile: aws-opendatahub
    dependencies:
      OO_BUNDLE: opendatahub-operator-bundle
    env:
      BASE_DOMAIN: openshift-ci-aws.rhaiseng.com
      COMPUTE_NODE_TYPE: m5.2xlarge
  ...

ci/prow/opendatahub-operator-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp-opendatahub
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/opendatahub-operator-e2e-hypershift:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-opendatahub
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/opendatahub-operator-rhoai-e2e:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp-opendatahub
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

Updating the operator repo with latest images and manifests
  build/manifests-config.yaml
  build/operands-map.yaml
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

[3.3] changed envoy filter to use EDS instead of strict DNS (#2953)
  internal/controller/services/gateway/resources/envoyfilter-authn.tmpl.yaml
  tests/e2e/gateway_test.go
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

chore: update manifest commit SHAs
  get_all_manifests.sh
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

add modelsasservice to internal objects
  config/manifests/bases/opendatahub-operator.clusterserviceversion.yaml
  config/rhoai/manifests/bases/rhods-operator.clusterserviceversion.yaml
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

feat: Add comprehensive security scanning with RBAC analysis
  .github/config/gitleaks.toml
  .github/config/hadolint.yaml
  .github/config/semgrep.yaml
  .github/config/shellcheck-paths.txt
  .github/scripts/create-security-advisory.js
  .github/scripts/generate-security-report.py
  .github/scripts/rbac-analyzer.py
  .github/workflows/security-full-scan.yml
  .yamllint
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift

Updating the operator repo with latest images and manifests
  build/manifests-config.yaml
  build/operands-map.yaml
  build/operator-nudging.yaml
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

feat: Enhance kube-linter with 36 security checks and severity-based blocking
  .github/scripts/generate-security-report.py
  .github/workflows/security-full-scan.yml
  .github/workflows/test-linter.yaml
  .kube-linter.yaml
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift

Creating maas-default-gateway for e2e test
  tests/e2e/modelsasservice_test.go
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

add modelsasservice to internal objects (#3039)
  config/manifests/bases/opendatahub-operator.clusterserviceversion.yaml
  config/rhoai/manifests/bases/rhods-operator.clusterserviceversion.yaml
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

feat: Add comprehensive security scanning with RBAC analysis
  .github/config/gitleaks.toml
  .github/config/hadolint.yaml
  .github/config/semgrep.yaml
  .github/config/shellcheck-paths.txt
  .github/scripts/generate-security-report.py
  .github/workflows/security-full-scan.yml
  .github/workflows/test-linter.yaml
  .kube-linter.yaml
  .yamllint
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift

feat: Add actionlint for GitHub Actions workflow validation
  .github/scripts/generate-security-report.py
  .github/workflows/security-full-scan.yml
Due: none

feat(monitoring): update Perses image to 1.3.1
  internal/controller/services/monitoring/monitoring_controller_support.go
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

feat: build catalog latest image
  .github/workflows/ci-build-push-catalog-latest.yaml
Due: none

fix: resolve various e2e tests flakiness
  pkg/utils/test/scheme/scheme.go
  tests/e2e/cleanup_test.go
  tests/e2e/creation_test.go
  tests/e2e/datasciencepipelines_test.go
  tests/e2e/helper_test.go
  tests/e2e/kueue_test.go
  tests/e2e/resource_options_test.go
  tests/e2e/test_context_test.go
  tests/e2e/v2tov3upgrade_test.go
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

Update tests/e2e/modelsasservice_test.go
  tests/e2e/modelsasservice_test.go
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

Isolate external operator degraded monitoring E2E tests
  tests/e2e/controller_test.go
  tests/e2e/kserve_test.go
  tests/e2e/kueue_test.go
  tests/e2e/trainer_test.go
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

Removing unused method and removing overly verbose logs
  internal/controller/components/modelsasservice/modelsasservice_controller_actions.go
  tests/e2e/modelsasservice_test.go
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

build: uplift go version to 1.25.0 in go.mod (#3032)
  cmd/component-codegen/go.mod
  cmd/component-codegen/go.sum
  cmd/test-retry/go.mod
  go.mod
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

add dayakar349 to OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

fix: Address CodeRabbit security findings
  .github/config/semgrep.yaml
  .github/workflows/security-full-scan.yml
Due: none

fix: Add kube-linter to security reports and fix actionlint ANSI parsing
  .github/scripts/generate-security-report.py
  .github/workflows/security-full-scan.yml
  .github/workflows/test-linter.yaml
Due: none

Updating the operator repo with latest images and manifests
  .tekton/odh-operator-v3-3-push.yaml
  build/schedule/operator-tekton-trigger.txt
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

Updating the operator repo with latest images and manifests
  .tekton/odh-operator-v3-3-push.yaml
  build/manifests-config.yaml
  build/operands-map.yaml
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

Updating the operator repo with latest images and manifests
  build/schedule/operator-tekton-trigger.txt
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

fix: lint makes wrong correction on the kubebuilder validation
  api/services/v1alpha1/monitoring_types.go
Due: opendatahub-operator-image-mirror, opendatahub-operator-rhoai-image-mirror, opendatahub-operator-e2e, opendatahub-operator-rhoai-e2e, opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-e2e, ci/prow/opendatahub-operator-e2e-hypershift, ci/prow/opendatahub-operator-rhoai-e2e

feat: add concurrency rules and specific path to the catalog latest build
  .github/workflows/ci-build-push-catalog-latest.yaml
Due: none

add dayakar349 to OWNERS_ALIASES (#3044)
  OWNERS_ALIASES
Due: none

Path conditions:
  opendatahub-operator-image-mirror: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^golangci|^crd-ref-docs\.config|^OWNERS$|^PROJECT$|^LICENSE$|^OWNERS_ALIASES$|^Makefile$|^cmd/[^/]+/
  opendatahub-operator-rhoai-image-mirror: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^golangci|^crd-ref-docs\.config|^OWNERS$|^PROJECT$|^LICENSE$|^OWNERS_ALIASES$|^Makefile$|^cmd/[^/]+/
  opendatahub-operator-e2e: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^golangci|^crd-ref-docs\.config|^OWNERS$|^PROJECT$|^LICENSE$|^OWNERS_ALIASES$|^Makefile$|^cmd/[^/]+/
  opendatahub-operator-rhoai-e2e: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^golangci|^crd-ref-docs\.config|^OWNERS$|^PROJECT$|^LICENSE$|^OWNERS_ALIASES$|^Makefile$|^cmd/[^/]+/
  opendatahub-operator-e2e-hypershift: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^golangci|^crd-ref-docs\.config|^OWNERS$|^PROJECT$|^LICENSE$|^OWNERS_ALIASES$|^Makefile$|^cmd/[^/]+/
  ci/prow/opendatahub-operator-e2e: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^golangci|^crd-ref-docs\.config|^OWNERS$|^PROJECT$|^LICENSE$|^OWNERS_ALIASES$|^Makefile$|^cmd/[^/]+/|^[^/]+\.(yaml|yml)$|^.gitleaksignore$|^.yamllint$
  ci/prow/opendatahub-operator-e2e-hypershift: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^golangci|^crd-ref-docs\.config|^OWNERS$|^PROJECT$|^LICENSE$|^OWNERS_ALIASES$|^Makefile$|^cmd/[^/]+/|^[^/]+\.(yaml|yml)$|^.gitleaksignore$|^.yamllint$
  ci/prow/opendatahub-operator-rhoai-e2e: unless all of: ^\.github/|^docs/|\.[mM][dD]$|^.gitignore$|^golangci|^crd-ref-docs\.config|^OWNERS$|^PROJECT$|^LICENSE$|^OWNERS_ALIASES$|^Makefile$|^cmd/[^/]+/|^[^/]+\.(yaml|yml)$|^.gitleaksignore$|^.yamllint$
