Repository openshift/multiarch-tuning-operator: changes, and which Prow jobs are due for each by the changed paths.
All: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

fmt:
  cluster: build10
  commands: NO_DOCKER=1 make fmt && make verify-diff
  container:
    from: src

vet:
  cluster: build10
  commands: NO_DOCKER=1 make vet && make verify-diff
  container:
    from: src

vendor:
  cluster: build10
  commands: NO_DOCKER=1 make vendor && make verify-diff
  container:
    from: src

goimports:
  cluster: build10
  commands: NO_DOCKER=1 make goimports && make verify-diff
  container:
    from: src

lint:
  cluster: build10
  commands: NO_DOCKER=1 make lint && make verify-diff
  container:
    from: src

sast:
  cluster: build10
  commands: NO_DOCKER=1 make gosec && make verify-diff
  container:
    from: src

manifests:
  cluster: build10
  commands: NO_DOCKER=1 make manifests && make verify-diff
  container:
    from: src

generate:
  cluster: build10
  commands: NO_DOCKER=1 make generate && make verify-diff
  container:
    from: src

unit:
  cluster: build10
  commands: NO_DOCKER=1 make unit
  container:
    from: src

security:
  cluster: build10
  optional: true
  steps:
    env:
      PROJECT_NAME: multiarch-tuning-operator
    workflow: openshift-ci-security

bundle:
  cluster: build10
  commands: unset VERSION; NO_DOCKER=1 make bundle-verify
  container:
    from: operator-sdk-mto

branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-2
    ci-operator.openshift.io/cluster: build01
    ci-operator.openshift.io/variant: ocp416
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
  ...

branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-3
    ci-operator.openshift.io/cluster: build01
    ci-operator.openshift.io/variant: ocp417
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
  ...

branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci-operator.openshift.io/cluster: build01
    ci-operator.openshift.io/variant: ocp418
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
  ...

branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-2
    ci-operator.openshift.io/cluster: build01
    ci-operator.openshift.io/variant: ocp419
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
  ...

test: add unit tests for resource apply idempotency
  pkg/utils/export_test.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

fix: filter status-only updates on primary CPPC watch
  internal/controller/operator/clusterpodplacementconfig_controller.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

fix: narrow mutex scope and harden CSV wait error handling
  hack/deploy-and-e2e.sh
  pkg/utils/resource.go
  pkg/utils/resource_test.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

test: add unit tests for requeueAfterError mechanism
  internal/controller/operator/requeue_test.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

test: extract cppcUpdatePredicate and add unit tests
  internal/controller/operator/clusterpodplacementconfig_controller.go
  internal/controller/operator/predicate_test.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

fix: stop reconciliation storm from no-op Service/Deploy/DaemonSet updates
  pkg/utils/resource.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

fix: add CSV stabilization wait before e2e tests for OLM deployments
  hack/deploy-and-e2e.sh
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

fix: use 5s requeue when progressing and filter Owns() watch events
  internal/controller/operator/clusterpodplacementconfig_controller.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

MULTIARCH-6269: fall back to APIReader when informer cache Get is empty
  cmd/main.go
  internal/controller/operator/clusterpodplacementconfig_controller.go
  internal/controller/operator/get_cache_with_api_fallback_test.go
  internal/controller/operator/suite_test.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Add new auto release docs
  docs/auto-release-workflow.md
Due: none

Update go dependence
  vendor/go.opentelemetry.io/otel/semconv/v1.40.0/MIGRATION.md
  vendor/go.opentelemetry.io/otel/semconv/v1.40.0/README.md
  vendor/go.opentelemetry.io/otel/semconv/v1.41.0/attribute_group.go
  vendor/go.opentelemetry.io/otel/semconv/v1.41.0/doc.go
  vendor/go.opentelemetry.io/otel/semconv/v1.41.0/exception.go
  vendor/go.opentelemetry.io/otel/semconv/v1.41.0/schema.go
  vendor/golang.org/x/net/http2/hpack/tables.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Update go dependence
  vendor/go.opentelemetry.io/otel/semconv/v1.41.0/attribute_group.go
  vendor/go.opentelemetry.io/otel/semconv/v1.41.0/doc.go
  vendor/go.opentelemetry.io/otel/semconv/v1.41.0/exception.go
  vendor/go.opentelemetry.io/otel/semconv/v1.41.0/schema.go
  vendor/golang.org/x/net/http2/hpack/tables.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

docs: update OCP release ProdSec and Pyxis guidance
  docs/ocp-release.md
Due: none

Bump go to 1.26.3 Pin k8s to 1.35.6
  vendor/go.opentelemetry.io/otel/semconv/v1.40.0/MIGRATION.md
  vendor/go.opentelemetry.io/otel/semconv/v1.40.0/README.md
Due: none

Update licencing
  README.md
  api/common/plugins/base_plugin.go
  api/common/plugins/execFormatErrorMonitor_plugin.go
  api/common/plugins/nodeaffinityscoring_plugin.go
  api/common/plugins/zz_generated.deepcopy.go
  api/v1alpha1/clusterPodPlacementConfig_conversion.go
  api/v1alpha1/clusterpodplacementconfig_types.go
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1beta1/clusterPodPlacementConfig_conversion.go
  api/v1beta1/clusterpodplacementconfig_types.go
  api/v1beta1/clusterpodplacementconfig_webhook.go
  api/v1beta1/enoexecevent_types.go
  api/v1beta1/groupversion_info.go
  api/v1beta1/podplacementconfig_types.go
  api/v1beta1/zz_generated.deepcopy.go
  cmd/main.go
  hack/boilerplate.go.txt
  internal/controller/enoexecevent/handler/enoexecevent_controller.go
  internal/controller/enoexecevent/handler/enoexecevent_model.go
  internal/controller/enoexecevent/handler/events.go
  internal/controller/enoexecevent/handler/suite_test.go
  internal/controller/operator/clusterpodplacementconfig_controller.go
  internal/controller/operator/clusterpodplacementconfig_controller_test.go
  internal/controller/operator/suite_test.go
  internal/controller/podplacement/global_pull_secret.go
  internal/controller/podplacement/pod_model.go
  internal/controller/podplacement/pod_reconciler.go
  internal/controller/podplacement/scheduling_gate_mutating_webhook.go
  internal/controller/podplacement/suite_test.go
  internal/controller/podplacementconfig/podplacementconfig_controller.go
  internal/controller/podplacementconfig/podplacementconfig_controller_test.go
  internal/controller/podplacementconfig/suite_test.go
  pkg/image/auth.go
  pkg/image/cache.go
  pkg/image/facade.go
  pkg/image/inspector.go
  pkg/image/interfaces.go
  pkg/image/systemconfig.go
  pkg/utils/secrets.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

[clean-version] Bump version to 1.3.4
  Dockerfile
  Makefile
  bundle.Dockerfile
  bundle.konflux.Dockerfile
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  config/manifests/bases/multiarch-tuning-operator.clusterserviceversion.yaml
  deploy/base/operators.coreos.com/subscriptions/openshift-multiarch-tuning-operator/subscription.yaml
  index.base.yaml
  konflux.Dockerfile
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

update OWNERS to add bshaw7
  OWNERS
Due: none

MULTIARCH-6339: Bump go.mod to 1.26.6
  go.mod
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

feat(operator): add NetworkPolicy for pod-placement operands
  internal/controller/operator/clusterpodplacementconfig_controller.go
  internal/controller/operator/podplacement_objects.go
  pkg/utils/const.go
  pkg/utils/resource.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

test: add unit tests and test infrastructure for NetworkPolicy
  internal/controller/operator/podplacement_objects_test.go
  pkg/testing/builder/network_policy.go
  pkg/testing/framework/cluster_pod_placement_config.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

MULTIARCH-5645: trim container image filesystem to reduce attack surface
  Dockerfile
  internal/controller/operator/enoexecevent_objects.go
  internal/controller/operator/objects.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

MULTIARCH-5645: trim konflux.Dockerfile filesystem to reduce attack surface
  konflux.Dockerfile
Due: bundle, ci/prow/bundle

update docs for releases
  docs/auto-release-workflow.md
Due: none

Path conditions:
  fmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  vet: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  vendor: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  goimports: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  sast: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  manifests: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  generate: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  security: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  bundle: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)
  branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/)konflux\.Dockerfile$)
  branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/)konflux\.Dockerfile$)
  branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/)konflux\.Dockerfile$)
  branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/)konflux\.Dockerfile$)
  branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/)konflux\.Dockerfile$)
  ci/prow/bundle: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)
  ci/prow/fmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/generate: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/goimports: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/manifests: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/ocp416-e2e-gcp: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/ocp417-e2e-gcp: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/ocp418-e2e-gcp: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/sast: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/security: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/vendor: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/vet: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
