Repository openshift/multiarch-tuning-operator: changes, and which Prow jobs are due for each by the changed paths.
All: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

fmt:
  cluster: build10
  commands: NO_DOCKER=1 make fmt && make verify-diff
  container:
    from: src

vet:
  cluster: build10
  commands: NO_DOCKER=1 make vet && make verify-diff
  container:
    from: src

vendor:
  cluster: build10
  commands: NO_DOCKER=1 make vendor && make verify-diff
  container:
    from: src

goimports:
  cluster: build10
  commands: NO_DOCKER=1 make goimports && make verify-diff
  container:
    from: src

lint:
  cluster: build10
  commands: NO_DOCKER=1 make lint && make verify-diff
  container:
    from: src

sast:
  cluster: build10
  commands: NO_DOCKER=1 make gosec && make verify-diff
  container:
    from: src

manifests:
  cluster: build10
  commands: NO_DOCKER=1 make manifests && make verify-diff
  container:
    from: src

generate:
  cluster: build10
  commands: NO_DOCKER=1 make generate && make verify-diff
  container:
    from: src

unit:
  cluster: build10
  commands: NO_DOCKER=1 make unit
  container:
    from: src

security:
  cluster: build10
  optional: true
  steps:
    env:
      PROJECT_NAME: multiarch-tuning-operator
    workflow: openshift-ci-security

bundle:
  cluster: build10
  commands: unset VERSION; NO_DOCKER=1 make bundle-verify
  container:
    from: operator-sdk-mto

ci/prow/bundle:
  decorate: true
  labels:
    ci-operator.openshift.io/cluster: build10
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/fmt:
  decorate: true
  labels:
    ci-operator.openshift.io/cluster: build10
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/generate:
  decorate: true
  labels:
    ci-operator.openshift.io/cluster: build10
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/goimports:
  decorate: true
  labels:
    ci-operator.openshift.io/cluster: build10
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/lint:
  decorate: true
  labels:
    ci-operator.openshift.io/cluster: build10
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/manifests:
  decorate: true
  labels:
    ci-operator.openshift.io/cluster: build10
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

changing the test suite run cases concurrently
  controllers/operator/suite_test.go
  controllers/podplacement/scheduling_gate_mutating_webhook.go
  controllers/podplacement/suite_test.go
  hack/ci-test.sh
  pkg/e2e/operator/pod_placement_config_test.go
  pkg/e2e/podplacement/e2e_test.go
  pkg/e2e/suites_lifecycle.go
  pkg/systemconfig/types.go
  pkg/testing/framework/utils.go
  pkg/testing/image/fake/registry/registry.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

MULTIARCH-5058: Implement the node affinity scoring specs in the ClusterPodPlacementConfig
  apis/multiarch/common/plugins.go
  apis/multiarch/common/plugins/base_plugin.go
  apis/multiarch/common/plugins/base_plugins_test.go
  apis/multiarch/common/plugins/nodeaffinityscoring_plugin.go
  apis/multiarch/common/plugins/zz_generated.deepcopy.go
  apis/multiarch/v1alpha1/clusterPodPlacementConfig_conversion.go
  apis/multiarch/v1alpha1/clusterpodplacementconfig_types.go
  apis/multiarch/v1alpha1/zz_generated.deepcopy.go
  apis/multiarch/v1beta1/clusterpodplacementconfig_types.go
  apis/multiarch/v1beta1/zz_generated.deepcopy.go
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  bundle/manifests/multiarch.openshift.io_clusterpodplacementconfigs.yaml
  config/crd/bases/multiarch.openshift.io_clusterpodplacementconfigs.yaml
  config/samples/nodeaffinityscoring/kustomization.yaml
  config/samples/nodeaffinityscoring/multiarch_v1beta1_nodeaffinityscoring_clusterpodplacementconfig.yaml
  controllers/podplacement/plugins_test.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Revert "changing the test suite run cases concurrently"
  controllers/operator/suite_test.go
  controllers/podplacement/scheduling_gate_mutating_webhook.go
  controllers/podplacement/suite_test.go
  hack/ci-test.sh
  pkg/e2e/operator/pod_placement_config_test.go
  pkg/e2e/podplacement/e2e_test.go
  pkg/e2e/suites_lifecycle.go
  pkg/systemconfig/types.go
  pkg/testing/framework/utils.go
  pkg/testing/image/fake/registry/registry.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Removed registry and mirror code
  controllers/podplacement/image_config.go
  controllers/podplacement/image_content_source_policy.go
  controllers/podplacement/image_digest_mirror_set.go
  controllers/podplacement/image_tag_mirror_set.go
  go.mod
  pkg/systemconfig/syncer.go
  pkg/systemconfig/types.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

re-enable run case in parallel
  controllers/operator/suite_test.go
  controllers/podplacement/scheduling_gate_mutating_webhook.go
  controllers/podplacement/suite_test.go
  hack/ci-test.sh
  pkg/e2e/operator/pod_placement_config_test.go
  pkg/e2e/podplacement/e2e_test.go
  pkg/e2e/suites_lifecycle.go
  pkg/systemconfig/types.go
  pkg/testing/framework/utils.go
  pkg/testing/image/fake/registry/registry.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Remove systemconfig
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/operator/objects.go
  controllers/podplacement/registry_certificates.go
  controllers/podplacement/suite_test.go
  controllers/podplacement/system_config.go
  go.mod
  main.go
  pkg/image/inspector.go
  pkg/image/systemconfig.go
  pkg/systemconfig/interfaces.go
  pkg/systemconfig/syncer.go
  pkg/systemconfig/types.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

MULTIARCH-5058: Implement the node affinity scoring specs in the ClusterPodPlacementConfig
  apis/multiarch/common/plugins/base_plugin.go
  apis/multiarch/common/plugins/base_plugins_test.go
  apis/multiarch/common/plugins/nodeaffinityscoring_plugin.go
  apis/multiarch/common/plugins/zz_generated.deepcopy.go
  apis/multiarch/v1alpha1/clusterPodPlacementConfig_conversion.go
  apis/multiarch/v1alpha1/clusterpodplacementconfig_types.go
  apis/multiarch/v1alpha1/zz_generated.deepcopy.go
  apis/multiarch/v1beta1/clusterpodplacementconfig_types.go
  apis/multiarch/v1beta1/zz_generated.deepcopy.go
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  bundle/manifests/multiarch.openshift.io_clusterpodplacementconfigs.yaml
  config/crd/bases/multiarch.openshift.io_clusterpodplacementconfigs.yaml
  config/samples/nodeaffinityscoring/kustomization.yaml
  config/samples/nodeaffinityscoring/multiarch_v1beta1_nodeaffinityscoring_clusterpodplacementconfig.yaml
  controllers/podplacement/clusterpodplacementconfig_plugin_test.go
  controllers/podplacement/plugins_test.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

enable run case in parallel
  controllers/operator/suite_test.go
  controllers/podplacement/scheduling_gate_mutating_webhook.go
  controllers/podplacement/suite_test.go
  hack/ci-test.sh
  pkg/e2e/operator/pod_placement_config_test.go
  pkg/e2e/podplacement/e2e_test.go
  pkg/e2e/suites_lifecycle.go
  pkg/image/systemconfig.go
  pkg/testing/framework/utils.go
  pkg/testing/image/fake/registry/registry.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

set operator test suite both Serial and Ordered
  controllers/operator/clusterpodplacementconfig_controller_test.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Fix naming of CRD in MTO-0001.md
  docs/enhancements/MTO-0001.md
Due: none

MULTIARCH-4252: Introducing the namespace-scoped PodPlacementConfig
  docs/enhancements/MTO-0002-local-pod-placement.md
Due: none

MULTIARCH-5320: Priority handling
  docs/enhancements/MTO-0002-local-pod-placement.md
Due: none

MULTIARCH-5058: Implement the node affinity scoring specs in the ClusterPodPlacementConfig
  apis/multiarch/common/plugins/base_plugin.go
  apis/multiarch/common/plugins/base_plugins_test.go
  apis/multiarch/common/plugins/nodeaffinityscoring_plugin.go
  apis/multiarch/common/plugins/zz_generated.deepcopy.go
  apis/multiarch/v1alpha1/clusterPodPlacementConfig_conversion.go
  apis/multiarch/v1alpha1/clusterpodplacementconfig_types.go
  apis/multiarch/v1alpha1/zz_generated.deepcopy.go
  apis/multiarch/v1beta1/clusterpodplacementconfig_types.go
  apis/multiarch/v1beta1/zz_generated.deepcopy.go
  bundle/manifests/multiarch.openshift.io_clusterpodplacementconfigs.yaml
  config/crd/bases/multiarch.openshift.io_clusterpodplacementconfigs.yaml
  config/samples/nodeaffinityscoring/kustomization.yaml
  config/samples/nodeaffinityscoring/multiarch_v1beta1_nodeaffinityscoring_clusterpodplacementconfig.yaml
  controllers/podplacement/clusterpodplacementconfig_plugin_test.go
  controllers/podplacement/plugins_test.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Move cache into clusterpodplacementconfg_informer.go Make clusterPodPlacementConfig private
  controllers/operator/clusterpodplacementconfig_controller_test.go
  controllers/operator/suite_test.go
  controllers/podplacement/clusterpodplacementconfg_informer.go
  pkg/informers/cache.go
  pkg/informers/interfaces.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

MULTIARCH-4974: Added preferredDuringSchedulingIgnoredDuringExecution during scheduling using append method
  controllers/operator/clusterpodplacementconfig_controller_test.go
  controllers/operator/objects.go
  controllers/podplacement/pod_model.go
  controllers/podplacement/pod_model_test.go
  controllers/podplacement/pod_reconciler.go
  main.go
  pkg/testing/builder/pod.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Moved Tekton tasks to a dedicated file for better organization and maintainability
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
  .tekton/multiarch-tuning-oprator-build-pipeline.yaml
  .tekton/multiarch-tuning-oprator-single-arch-build-pipeline.yaml
Due: none

Document changes
  docs/cluster-wide-weights.md
  docs/refrences/normilize-applied-to-arch.png
  docs/refrences/normilize-applied-to-every-weight.png
  docs/refrences/normilize-applied-to-existing.png
Due: none

MULTIARCH-5058: Implement the node affinity scoring specs in the ClusterPodPlacementConfig
  apis/multiarch/common/plugins/base_plugin.go
  apis/multiarch/common/plugins/nodeaffinityscoring_plugin.go
  apis/multiarch/common/plugins/plugins_test.go
  apis/multiarch/common/plugins/zz_generated.deepcopy.go
  apis/multiarch/v1beta1/clusterpodplacementconfig_types.go
  apis/multiarch/v1beta1/clusterpodplacementconfig_webhook.go
  apis/multiarch/v1beta1/zz_generated.deepcopy.go
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  bundle/manifests/multiarch.openshift.io_clusterpodplacementconfigs.yaml
  config/crd/bases/multiarch.openshift.io_clusterpodplacementconfigs.yaml
  config/samples/multiarch_v1beta1_clusterpodplacementconfig.yaml
  controllers/operator/clusterpodplacementconfig_controller_test.go
  pkg/e2e/operator/pod_placement_config_test.go
  pkg/testing/builder/clusterpodplacementconfig.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Add licenses/ folder based on the warnings in the preflight-checks
  konflux.Dockerfile
Due: bundle, ci/prow/bundle

Manually update the bundle resolver images
  .tekton/multiarch-tuning-oprator-build-pipeline.yaml
  .tekton/multiarch-tuning-oprator-single-arch-build-pipeline.yaml
Due: none

on-cel-expression update to build when only the Pipeline objects are modified
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
Due: none

Fix parameters
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
  .tekton/multiarch-tuning-oprator-build-pipeline.yaml
Due: none

Fix the name of the build-source task
  .tekton/multiarch-tuning-oprator-build-pipeline.yaml
  .tekton/multiarch-tuning-oprator-single-arch-build-pipeline.yaml
Due: none

Update pkg/testing/builder/clusterpodplacementconfig.go
  pkg/testing/builder/clusterpodplacementconfig.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Minor fixes and re-integrate rpms-signature-scan
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
  .tekton/multiarch-tuning-oprator-build-pipeline.yaml
  .tekton/multiarch-tuning-oprator-single-arch-build-pipeline.yaml
Due: none

Fix e2e cases
  pkg/e2e/operator/pod_placement_config_test.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Fix validation after using a pointer for Plugins
  apis/multiarch/v1beta1/clusterpodplacementconfig_webhook.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Generate the validating webhook
  PROJECT
  apis/multiarch/v1beta1/clusterpodplacementconfig_webhook.go
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  config/webhook/kustomization.yaml
  config/webhook/manifests.yaml
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Patch the ValidatingWebhookConfiguration to set service name and inject CA bundle
  config/webhook/kustomization.yaml
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Update pipelines
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
  .tekton/multiarch-tuning-oprator-build-pipeline.yaml
  .tekton/multiarch-tuning-oprator-single-arch-build-pipeline.yaml
Due: none

Update pipelines
  .tekton/multiarch-tuning-operator-build-pipeline.yaml
  .tekton/multiarch-tuning-operator-single-arch-build-pipeline.yaml
Due: none

Deprecate sbom-json-check
  .tekton/multiarch-tuning-operator-single-arch-build-pipeline.yaml
Due: none

Remove preflight check for bundle
  .tekton/multiarch-tuning-operator-single-arch-build-pipeline.yaml
Due: none

MULTIARCH-5058: Implement the node affinity scoring specs in the ClusterPodPlacementConfig
  PROJECT
  apis/multiarch/common/plugins/base_plugin.go
  apis/multiarch/common/plugins/nodeaffinityscoring_plugin.go
  apis/multiarch/common/plugins/plugins_test.go
  apis/multiarch/common/plugins/zz_generated.deepcopy.go
  apis/multiarch/v1beta1/clusterpodplacementconfig_types.go
  apis/multiarch/v1beta1/clusterpodplacementconfig_webhook.go
  apis/multiarch/v1beta1/zz_generated.deepcopy.go
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  bundle/manifests/multiarch.openshift.io_clusterpodplacementconfigs.yaml
  config/crd/bases/multiarch.openshift.io_clusterpodplacementconfigs.yaml
  config/samples/multiarch_v1beta1_clusterpodplacementconfig.yaml
  config/webhook/kustomization.yaml
  config/webhook/manifests.yaml
  controllers/operator/clusterpodplacementconfig_controller_test.go
  pkg/e2e/operator/pod_placement_config_test.go
  pkg/testing/builder/clusterpodplacementconfig.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

MULTIARCH-5058: Implement the node affinity scoring specs in the ClusterPodPlacementConfig
  apis/multiarch/common/plugins/base_plugins_test.go
  apis/multiarch/v1alpha1/clusterPodPlacementConfig_conversion.go
  apis/multiarch/v1alpha1/clusterpodplacementconfig_types.go
  apis/multiarch/v1alpha1/zz_generated.deepcopy.go
  config/samples/nodeaffinityscoring/kustomization.yaml
  config/samples/nodeaffinityscoring/multiarch_v1beta1_nodeaffinityscoring_clusterpodplacementconfig.yaml
  controllers/podplacement/clusterpodplacementconfig_plugin_test.go
  controllers/podplacement/plugins_test.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

MULTIARCH-4974: Added preferredDuringSchedulingIgnoredDuringExecution during scheduling using append method
  controllers/operator/objects.go
  controllers/podplacement/pod_model.go
  controllers/podplacement/pod_model_test.go
  controllers/podplacement/pod_reconciler.go
  main.go
  pkg/testing/builder/pod.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Added integration and e2e tests
  controllers/podplacement/pod_model_test.go
  controllers/podplacement/pod_reconciler_test.go
  controllers/podplacement/suite_test.go
  pkg/e2e/podplacement/pod_placement_test.go
  pkg/testing/builder/pod.go
  pkg/testing/builder/preferred_schedulingTerm.go
  pkg/testing/framework/node_affinity_equivalence_matcher.go
  pkg/testing/framework/pod.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Path conditions:
  fmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  vet: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  vendor: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  goimports: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  sast: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  manifests: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  generate: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  security: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  bundle: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)
  ci/prow/bundle: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)
  ci/prow/fmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/generate: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/goimports: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/manifests: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/ocp416-e2e-gcp: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/ocp417-e2e-gcp: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/ocp418-e2e-gcp: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/sast: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/security: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/vendor: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/vet: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
