Repository openshift/multiarch-tuning-operator: changes, and which Prow jobs are due for each by the changed paths.
All: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Path conditions:
  fmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  vet: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  vendor: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  goimports: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  sast: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  manifests: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  generate: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  security: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  bundle: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)
  branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/)konflux\.Dockerfile$)
  branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/)konflux\.Dockerfile$)
  branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/)konflux\.Dockerfile$)
  branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/)konflux\.Dockerfile$)
  branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/)konflux\.Dockerfile$)
  ci/prow/bundle: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)
  ci/prow/fmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/generate: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/goimports: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/manifests: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/ocp416-e2e-gcp: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/ocp417-e2e-gcp: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/ocp418-e2e-gcp: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/sast: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/security: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/vendor: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/vet: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)

Bump version to v1.2.2
  Dockerfile
  Makefile
  bundle.Dockerfile
  bundle.konflux.Dockerfile
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  config/manifests/bases/multiarch-tuning-operator.clusterserviceversion.yaml
  deploy/base/operators.coreos.com/subscriptions/openshift-multiarch-tuning-operator/subscription.yaml
  index.base.yaml
  konflux.Dockerfile
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

MULTIARCH-5381:Implement new fallbackArchitecture field in the API
  CLAUDE.md
  api/v1alpha1/clusterPodPlacementConfig_conversion.go
  api/v1beta1/clusterpodplacementconfig_types.go
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  bundle/manifests/multiarch.openshift.io_clusterpodplacementconfigs.yaml
  config/crd/bases/multiarch.openshift.io_clusterpodplacementconfigs.yaml
  internal/controller/operator/clusterpodplacementconfig_controller_test.go
  pkg/e2e/operator/pod_placement_config_test.go
  pkg/testing/builder/clusterpodplacementconfig.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Replace deprecated Requeue with RequeueAfter using immediate reconcile
  internal/controller/operator/clusterpodplacementconfig_controller.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

MULTIARCH-5800: Images with attestation manifests lead the operator to set a node affinity for the architecture "unknown"
  pkg/image/inspector.go
  pkg/image/inspector_test.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Update github.com/sigstore/fulcio to v1.8.5 to fix CVE-2025-66564
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/writesched_priority_rfc9218.go
  vendor/golang.org/x/net/websocket/hybi.go
  vendor/golang.org/x/sys/cpu/cpu_x86.go
  vendor/golang.org/x/term/terminal.go
  vendor/modules.txt
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Upgrade Go version to 1.25.7
  go.mod
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Update tools in Makefile
  Makefile
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Fix staticcheck warnings in ExecFormatErrorEventMessage
  pkg/utils/const.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Reduce memory usage in MTO image builds by setting GOGC=75
  Dockerfile
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Bump version to v1.3.0
  Dockerfile
  Makefile
  bundle.Dockerfile
  bundle.konflux.Dockerfile
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  config/manifests/bases/multiarch-tuning-operator.clusterserviceversion.yaml
  deploy/base/operators.coreos.com/subscriptions/openshift-multiarch-tuning-operator/subscription.yaml
  hack/bump-version.sh
  hack/patch-bundle-dockerfile.sh
  index.base.yaml
  konflux.Dockerfile
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Update kustomization.yaml to use current Kustomize v1beta1 API
  config/default/kustomization.yaml
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Add logVerbosity field to cluster metadata
  README.md
Due: none

Increase memory limits for integration tests
  .tekton/multiarch-tuning-operator-integration-tests.yaml
Due: none

Add comprehensive agentic documentation and improve CLAUDE.md
  AGENTS.md
  CLAUDE.md
  agentic/DESIGN.md
  agentic/DEVELOPMENT.md
  agentic/QUALITY_SCORE.md
  agentic/RELIABILITY.md
  agentic/SECURITY.md
  agentic/TESTING.md
  agentic/VALIDATION_REPORT.md
  agentic/design-docs/components/image-inspector.md
  agentic/design-docs/components/operator-controller.md
  agentic/design-docs/components/pod-placement-controller.md
  agentic/design-docs/components/pod-placement-webhook.md
  agentic/domain/concepts/clusterpodplacementconfig-api.md
  agentic/domain/concepts/image-inspection.md
  agentic/domain/concepts/node-affinity.md
  agentic/domain/concepts/scheduling-gates.md
  agentic/domain/workflows/pod-placement.md
  agentic/exec-plans/completed/generate-20260424-210105.md
  agentic/knowledge-graph/graph.json
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Add knowledge graph visualization of multiarch-tuning-operator
  graphify-out/GRAPH_REPORT.md
  graphify-out/graph.html
  graphify-out/graph.json
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

rEnable rapiDAST
  .tekton/rapidast-integration-pipeline.yaml
Due: none

chore: add weekly release automation trigger
  .github/workflows/weekly-release-trigger.yml
  bundle.konflux.Dockerfile
Due: bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle

Improve RapiDAST pipeline configuration
  .tekton/rapidast-integration-pipeline.yaml
Due: none

Add release pre and final pipeline for the operator and FBC
  .tekton/fbc-update-final-pipeline.yaml
  .tekton/snapshot-validation-pipeline.yaml
  .tekton/tag-release-commit-pipeline.yaml
Due: none

Add release pre and final pipeline for the operator and FBC
  .tekton/tag-release-commit-pipeline.yaml
Due: none

chore: Update FBC catalogs with bundle v1.3.0
  fbc-v4-16/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-17/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-18/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-19/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-20/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-21/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-22/catalog/multiarch-tuning-operator/index.yaml
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Update renovate so that we can use configmaps in konflux
  renovate.json
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Make bump-version.sh hermetic and manually update bundle files
  .tekton/single-arch-build-pipeline.yaml
  hack/bump-version.sh
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Increase golangci-lint timeout to 10 minutes
  .golangci.yaml
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Update bundle metadata for v1.3.0-606dcba
  fbc-v4-16/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-17/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-18/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-19/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-20/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-21/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-22/catalog/multiarch-tuning-operator/index.yaml
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Add v1.3.0-606dcba to channel graph
  fbc-v4-16/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-17/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-18/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-19/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-20/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-21/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-22/catalog/multiarch-tuning-operator/index.yaml
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

enable automatic go updates
  renovate.json
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Update Cel in operator on-push to run every time the bundle on-push runs
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
Due: none

Add run-script task to multi-arch build pipeline Add version bumping to multi-arch operator builds to match single-arch. Add release pre and final pipeline for the operator and FBC
  .tekton/fbc-update-final-pipeline.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
  .tekton/snapshot-validation-pipeline.yaml
  .tekton/tag-release-commit-pipeline.yaml
  hack/bump-version-manual.sh
  hack/bump-version.sh
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Update OWNERS
  OWNERS
Due: none

Update CEL for on-push for the operator so that it runs every time the bundle runs on-push.
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
Due: none
