Repository openshift/multiarch-tuning-operator: changes, and which Prow jobs are due for each by the changed paths.
All: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Path conditions:
  fmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  vet: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  vendor: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  goimports: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  sast: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  manifests: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  generate: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  security: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  bundle: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)
  ci/prow/bundle: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)
  ci/prow/fmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/generate: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/goimports: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/manifests: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/ocp416-e2e-gcp: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/ocp417-e2e-gcp: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/ocp418-e2e-gcp: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/sast: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/security: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/vendor: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/vet: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)

chore(deps): update multiarch-tuning-operator-v1-x to d87a4359
  bundle.konflux.Dockerfile
Due: bundle, ci/prow/bundle

Remove the devel tag
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
  .tekton/fbc-v4-20-pull-request.yaml
  .tekton/fbc-v4-20-push.yaml
Due: none

add pipelines for push and pull-request PipelineRuns referencing the shared pipeline
  .tekton/catalog-build-pipeline.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: none

Remove the devel tag
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
Due: none

migrate to using pipelines to reduce number of pipelineRefs
  .tekton/docker-build-pipeline.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
Due: none

Configure Renovate to auto-merge Konflux Tekton pipeline updates
  renovate.json
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Change the runtime image to UBI minimal for ocp 4.21
  Dockerfile
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Update renovate.json so that we only get 1 pr a week and dont ignore the tests
  renovate.json
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Add lwan-wanglin to the OWWERS file
  OWNERS
Due: none

chore: Update Konflux references for v1.x
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
Due: none

Adding v1.2.1 using snapshot multiarch-tuning-operator-v1-x-m2slf
  fbc-v4-16/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-17/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-18/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-19/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-20/catalog/multiarch-tuning-operator/index.yaml
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

chore(deps): update konflux references to 13f545a
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
  .tekton/fbc-v4-20-pull-request.yaml
  .tekton/fbc-v4-20-push.yaml
Due: none

Keep default scheduling and add more detailed pr names
  renovate.json
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

chore(deps): update multiarch-tuning-operator-v1-x to 3ec8c2762
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
Due: none

add pipelines for push and pull-request PipelineRuns referencing the shared pipeline
  .tekton/fbc-build-pipeline.yaml
  .tekton/multi-arch-build-pipeline.yaml
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
  .tekton/single-arch-build-pipeline.yaml
Due: none

chore(deps): update multiarch-tuning-operator-v1-x
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
Due: none

chore(deps): update fbc
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
  .tekton/fbc-v4-20-pull-request.yaml
  .tekton/fbc-v4-20-push.yaml
Due: none

Added v1.2.1 using snapshot multiarch-tuning-operator-v1-x-7wj7q
  fbc-v4-16/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-17/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-18/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-19/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-20/catalog/multiarch-tuning-operator/index.yaml
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Add v1.2.1 from push-event snapshot multiarch-tuning-operator-v1-x-bjhqn
  fbc-v4-16/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-17/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-18/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-19/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-20/catalog/multiarch-tuning-operator/index.yaml
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

chore(deps): update konflux references for pipeline-fbc-builder
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
  .tekton/fbc-v4-20-pull-request.yaml
  .tekton/fbc-v4-20-push.yaml
Due: none

chore(deps): update konflux references (v1.x)
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
Due: none

MULTIARCH-5818: Switch PipelineRun references to git resolver (v1.x)
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
Due: none

MULTIARCH-5818: Switch PipelineRun references to git resolver (fbc)
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
  .tekton/fbc-v4-20-pull-request.yaml
  .tekton/fbc-v4-20-push.yaml
Due: none

test
  cmd/main-binary/main.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

test
  .tekton/multiarch-tuning-operator-pull-request.yaml
  cmd/main-binary/main.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Change the runtime image to UBI minimal for ocp 4.21
  Dockerfile
  Makefile
  konflux.Dockerfile
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

For https://issues.redhat.com/browse/KONFLUX-6210, clair needs access to a name and cpe label that it can use to look up the image in VEX statements.
  Dockerfile
  bundle.Dockerfile
  bundle.konflux.Dockerfile
  hack/patch-bundle-dockerfile.sh
  konflux.Dockerfile
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

optimize func VerifyPodsEvents to reduce loops
  pkg/e2e/operator/pod_placement_config_test.go
  pkg/testing/framework/pod.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Updated release steps
  docs/ocp-release.md
Due: none
