Repository openshift/multiarch-tuning-operator: changes, and which Prow jobs are due for each by the changed paths.
All: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Path conditions:
  fmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  vet: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  vendor: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  goimports: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  sast: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  manifests: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  generate: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  security: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  bundle: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)
  branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/)konflux\.Dockerfile$)
  branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/)konflux\.Dockerfile$)
  branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/)konflux\.Dockerfile$)
  branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/)konflux\.Dockerfile$)
  branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/)konflux\.Dockerfile$)
  ci/prow/bundle: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)
  ci/prow/fmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/generate: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/goimports: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/manifests: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/ocp416-e2e-gcp: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/ocp417-e2e-gcp: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/ocp418-e2e-gcp: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/sast: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/security: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/vendor: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/vet: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)

Bump konflux files to go 1.26
  .tekton/multiarch-tuning-operator-integration-tests.yaml
  .tekton/run-prowjob-bundle.yaml
  .tekton/run-prowjob.yaml
  bundle.konflux.Dockerfile
  konflux.Dockerfile
Due: bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle

Bump version to 1.3.2 for konflux [clean-version]
  bundle.konflux.Dockerfile
  konflux.Dockerfile
Due: bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle

Use floating BUILD_IMAGE tag and surface dnf install failures
  Dockerfile
  Makefile
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

bump go to 1.26.4
  go.mod
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Update bundle metadata for v1.3.2
  fbc-v4-16/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-17/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-18/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-19/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-20/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-21/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-22/catalog/multiarch-tuning-operator/index.yaml
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Add v1.3.2 to channel graph
  fbc-v4-16/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-17/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-18/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-19/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-20/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-21/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-22/catalog/multiarch-tuning-operator/index.yaml
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Bump version to 1.3.3
  Dockerfile
  Makefile
  bundle.Dockerfile
  bundle.konflux.Dockerfile
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  config/manifests/bases/multiarch-tuning-operator.clusterserviceversion.yaml
  deploy/base/operators.coreos.com/subscriptions/openshift-multiarch-tuning-operator/subscription.yaml
  index.base.yaml
  konflux.Dockerfile
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Bump go to 1.26.4 [clean-version]
  go.mod
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Add logVerbosity field to cluster metadata
  README.md
Due: none

Increase golangci-lint timeout to 10 minutes
  .golangci.yaml
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet
