Repository openshift/multiarch-tuning-operator: changes, and which Prow jobs are due for each by the changed paths.
All: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

fmt:
  cluster: build10
  commands: NO_DOCKER=1 make fmt && make verify-diff
  container:
    from: src

vet:
  cluster: build10
  commands: NO_DOCKER=1 make vet && make verify-diff
  container:
    from: src

vendor:
  cluster: build10
  commands: NO_DOCKER=1 make vendor && make verify-diff
  container:
    from: src

goimports:
  cluster: build10
  commands: NO_DOCKER=1 make goimports && make verify-diff
  container:
    from: src

lint:
  cluster: build10
  commands: NO_DOCKER=1 make lint && make verify-diff
  container:
    from: src

sast:
  cluster: build10
  commands: NO_DOCKER=1 make gosec && make verify-diff
  container:
    from: src

manifests:
  cluster: build10
  commands: NO_DOCKER=1 make manifests && make verify-diff
  container:
    from: src

generate:
  cluster: build10
  commands: NO_DOCKER=1 make generate && make verify-diff
  container:
    from: src

unit:
  cluster: build10
  commands: NO_DOCKER=1 make unit
  container:
    from: src

security:
  cluster: build10
  optional: true
  steps:
    env:
      PROJECT_NAME: multiarch-tuning-operator
    workflow: openshift-ci-security

bundle:
  cluster: build10
  commands: unset VERSION; NO_DOCKER=1 make bundle-verify
  container:
    from: operator-sdk-mto

ci/prow/bundle:
  decorate: true
  labels:
    ci-operator.openshift.io/cluster: build10
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/fmt:
  decorate: true
  labels:
    ci-operator.openshift.io/cluster: build10
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/generate:
  decorate: true
  labels:
    ci-operator.openshift.io/cluster: build10
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/goimports:
  decorate: true
  labels:
    ci-operator.openshift.io/cluster: build10
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/lint:
  decorate: true
  labels:
    ci-operator.openshift.io/cluster: build10
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/manifests:
  decorate: true
  labels:
    ci-operator.openshift.io/cluster: build10
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

Revert "MULTIARCH-5365: Implement local PodPlacementConfig API"
  apis/multiarch/common/plugins/base_plugin.go
  apis/multiarch/common/plugins/zz_generated.deepcopy.go
  apis/multiarch/v1beta1/clusterpodplacementconfig_webhook.go
  apis/multiarch/v1beta1/podplacementconfig_types.go
  apis/multiarch/v1beta1/zz_generated.deepcopy.go
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
  bundle/manifests/multiarch.openshift.io_podplacementconfigs.yaml
  config/crd/bases/multiarch.openshift.io_podplacementconfigs.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_multiarch_podplacementconfigs.yaml
  config/crd/patches/webhook_in_multiarch_podplacementconfigs.yaml
  config/manifests/bases/multiarch-tuning-operator.clusterserviceversion.yaml
  config/rbac/multiarch_podplacementconfig_editor_role.yaml
  config/rbac/multiarch_podplacementconfig_viewer_role.yaml
  controllers/podplacementconfig/constant.go
  controllers/podplacementconfig/podplacementconfig_controller_test.go
  controllers/podplacementconfig/suite_test.go
  pkg/testing/builder/podplacementconfig.go
  pkg/testing/framework/suites_utils.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Update bundle
  bundle/manifests/multiarch-tuning-operator.clusterserviceversion.yaml
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Add DELETE permission to enoexec-event-daemon role for rollback functionality
  controllers/operator/enoexecevent_objects.go
  pkg/e2e/operator/pod_placement_config_test.go
  pkg/testing/framework/pod.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

update tekton integration test image
  .tekton/multiarch-tuning-operator-integration-tests.yaml
Due: none

optimize func VerifyPodsEvents to reduce loops
  pkg/e2e/operator/pod_placement_config_test.go
  pkg/testing/framework/pod.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

update dockerfile image snapshot: multiarch-tuning-operator-v1-x-r47zm
  bundle.konflux.Dockerfile
Due: bundle, ci/prow/bundle

chore(KONFLUX-6210): fix and set name and cpe label for multiarch-tuning-operator-v1-x
  konflux.Dockerfile
Due: bundle, ci/prow/bundle

chore(KONFLUX-6210): fix and set name and cpe label for multiarch-tuning-operator-bundle-v1-x
  Dockerfile
  bundle.Dockerfile
  bundle.konflux.Dockerfile
  hack/patch-bundle-dockerfile.sh
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Add v4.20 to fbc
  .tekton/fbc-v4-20-pull-request.yaml
  .tekton/fbc-v4-20-push.yaml
  fbc-v4-20/catalog/multiarch-tuning-operator/index.yaml
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

chore(deps): update konflux references to 4d8e8e5
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
  .tekton/fbc-v4-20-pull-request.yaml
  .tekton/fbc-v4-20-push.yaml
Due: none

update dockerfile image snapshot: multiarch-tuning-operator-v1-x-pzw8r
  bundle.konflux.Dockerfile
Due: bundle, ci/prow/bundle

chore(deps): update konflux references to d6fd96a
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
Due: none

chore(deps): update konflux references
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
Due: none

remove devel tag
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
  .tekton/fbc-v4-20-pull-request.yaml
  .tekton/fbc-v4-20-push.yaml
Due: none

Enable rapiDAST
  .tekton/rapidast-check.yaml
  .tekton/rapidast-integration-tests.yaml
Due: none

Fixes
  .tekton/rapidast-integration-tests.yaml
Due: none

Changed to pipelinerun
  .tekton/rapidast-integration-tests.yaml
Due: none

fix tags
  .tekton/rapidast-integration-tests.yaml
Due: none

Add pipeline
  .tekton/rapidast-integration-tests.yaml
  .tekton/rapidast-pipeline.yaml
Due: none

Switch back to pipeline
  .tekton/rapidast-integration-tests.yaml
Due: none

Clean up
  .tekton/rapidast-integration-tests.yaml
  .tekton/rapidast-pipeline.yaml
Due: none

Fix deploy-app
  .tekton/rapidast-integration-tests.yaml
Due: none

Putback SNAPSHOT
  .tekton/rapidast-integration-tests.yaml
Due: none

rename pipeline
  .tekton/rapidast-integration-pipeline.yaml
Due: none

add back revision
  .tekton/rapidast-integration-pipeline.yaml
Due: none

trying to fix revision
  .tekton/rapidast-integration-pipeline.yaml
Due: none

chore(deps): update konflux references to d3d4853a
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
  .tekton/fbc-v4-20-pull-request.yaml
  .tekton/fbc-v4-20-push.yaml
Due: none

Use different pipeline https://github.com/jenculltesting/rh-trex-test/blob/main/.tekton/rapidast-scan.yaml
  .tekton/rapidast-integration-pipeline.yaml
Due: none

chore(deps): update konflux references to d3d4853a
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
Due: none

chore(deps): update konflux references to ec68ef95 multiarch-tuning-operator-v1-x-t58zq
  bundle.konflux.Dockerfile
Due: bundle, ci/prow/bundle

update prams
  .tekton/rapidast-integration-pipeline.yaml
Due: none

Swap out deploy app test
  .tekton/rapidast-integration-pipeline.yaml
Due: none

Update deplopy-app to use operator-sdk
  .tekton/rapidast-integration-pipeline.yaml
Due: none

quay.io/konflux-ci/tekton-catalog/pipeline-docker-build-multi-platform-oci-ta 6f6477631c
  .tekton/multiarch-tuning-operator-bundle-pull-request.yaml
  .tekton/multiarch-tuning-operator-bundle-push.yaml
  .tekton/multiarch-tuning-operator-pull-request.yaml
  .tekton/multiarch-tuning-operator-push.yaml
Due: none

For https://issues.redhat.com/browse/KONFLUX-6210, clair needs access to a name and cpe label that it can use to look up the image in VEX statements.
  Dockerfile
  bundle.Dockerfile
  bundle.konflux.Dockerfile
  hack/patch-bundle-dockerfile.sh
  konflux.Dockerfile
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Path conditions:
  fmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  vet: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  vendor: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  goimports: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  sast: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  manifests: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  generate: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  security: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  bundle: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)
  ci/prow/bundle: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)
  ci/prow/fmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/generate: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/goimports: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/manifests: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/ocp416-e2e-gcp: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/ocp417-e2e-gcp: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/ocp418-e2e-gcp: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/sast: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/security: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/vendor: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/vet: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
