Repository openshift/multiarch-tuning-operator: changes, and which Prow jobs are due for each by the changed paths.
All: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

fmt:
  cluster: build10
  commands: NO_DOCKER=1 make fmt && make verify-diff
  container:
    from: src

vet:
  cluster: build10
  commands: NO_DOCKER=1 make vet && make verify-diff
  container:
    from: src

vendor:
  cluster: build10
  commands: NO_DOCKER=1 make vendor && make verify-diff
  container:
    from: src

goimports:
  cluster: build10
  commands: NO_DOCKER=1 make goimports && make verify-diff
  container:
    from: src

lint:
  cluster: build10
  commands: NO_DOCKER=1 make lint && make verify-diff
  container:
    from: src

sast:
  cluster: build10
  commands: NO_DOCKER=1 make gosec && make verify-diff
  container:
    from: src

manifests:
  cluster: build10
  commands: NO_DOCKER=1 make manifests && make verify-diff
  container:
    from: src

generate:
  cluster: build10
  commands: NO_DOCKER=1 make generate && make verify-diff
  container:
    from: src

unit:
  cluster: build10
  commands: NO_DOCKER=1 make unit
  container:
    from: src

security:
  cluster: build10
  optional: true
  steps:
    env:
      PROJECT_NAME: multiarch-tuning-operator
    workflow: openshift-ci-security

bundle:
  cluster: build10
  commands: unset VERSION; NO_DOCKER=1 make bundle-verify
  container:
    from: operator-sdk-mto

branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-2
    ci-operator.openshift.io/cluster: build01
    ci-operator.openshift.io/variant: ocp416
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
  ...

branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-3
    ci-operator.openshift.io/cluster: build01
    ci-operator.openshift.io/variant: ocp417
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
  ...

branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci-operator.openshift.io/cluster: build01
    ci-operator.openshift.io/variant: ocp418
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
  ...

branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-2
    ci-operator.openshift.io/cluster: build01
    ci-operator.openshift.io/variant: ocp419
    ci.openshift.io/generator: prowgen
  spec:
    containers:
    - args:
  ...

Remove bundle.konflux.Dockerfile from operator push CEL filter
  .tekton/multiarch-tuning-operator-push.yaml
Due: none

Remove bundle.konflux.Dockerfile from operator push CEL filter
  .tekton/multiarch-tuning-operator-push.yaml
  bundle.konflux.Dockerfile
Due: bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle

Adding V1.3.1 using Snapshot: multiarch-tuning-operator-v1-x-20260630-003734-000
  fbc-v4-16/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-17/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-18/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-19/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-20/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-21/catalog/multiarch-tuning-operator/index.yaml
  fbc-v4-22/catalog/multiarch-tuning-operator/index.yaml
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Fix tag pipeline: extract version from bundle CSV
  .tekton/tag-release-commit-pipeline.yaml
Due: none

Fix FBC update pipeline parsing
  .tekton/fbc-update-final-pipeline.yaml
Due: none

Add tests for FBC and tag pipeline script logic
  .tekton/tests/test-pipeline-scripts.sh
Due: none

MULTIARCH-6207: Fix ServiceMonitor scheme case mismatch on OCP 4.20+
  api/v1beta1/clusterpodplacementconfig_types.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

MULTIARCH-6186: Cleanup eNoExecEvent deadlock
  internal/controller/operator/clusterpodplacementconfig_controller.go
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Bump version to 1.3.2 for konflux [clean-version]
  bundle.konflux.Dockerfile
  konflux.Dockerfile
Due: bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle

Bump konflux files to go 1.26
  .tekton/multiarch-tuning-operator-integration-tests.yaml
  .tekton/run-prowjob-bundle.yaml
  .tekton/run-prowjob.yaml
  bundle.konflux.Dockerfile
  konflux.Dockerfile
Due: bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle

Add script to update ReleasePlan Jira fixVersion query
  hack/update-releaseplan-jira-query.sh
Due: fmt, vet, vendor, goimports, lint, sast, manifests, generate, unit, security, bundle, branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post, branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post, ci/prow/bundle, ci/prow/fmt, ci/prow/generate, ci/prow/goimports, ci/prow/lint, ci/prow/manifests, ci/prow/ocp416-e2e-gcp, ci/prow/ocp417-e2e-gcp, ci/prow/ocp418-e2e-gcp, ci/prow/sast, ci/prow/security, ci/prow/unit, ci/prow/vendor, ci/prow/vet

Path conditions:
  fmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  vet: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  vendor: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  goimports: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  sast: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  manifests: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  generate: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  security: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  bundle: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)
  branch-ci-openshift-multiarch-tuning-operator-main-ocp416-e2e-aws-ovn-mto-origin-post: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/)konflux\.Dockerfile$)
  branch-ci-openshift-multiarch-tuning-operator-main-ocp417-e2e-aws-ovn-mto-origin-post: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/)konflux\.Dockerfile$)
  branch-ci-openshift-multiarch-tuning-operator-main-ocp418-e2e-aws-ovn-mto-origin-post: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/)konflux\.Dockerfile$)
  branch-ci-openshift-multiarch-tuning-operator-main-ocp419-e2e-aws-ovn-mto-origin-post: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/)konflux\.Dockerfile$)
  branch-ci-openshift-multiarch-tuning-operator-main-ocp420-e2e-aws-ovn-mto-origin-post: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/)konflux\.Dockerfile$)
  ci/prow/bundle: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)
  ci/prow/fmt: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/generate: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/goimports: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/lint: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/manifests: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/ocp416-e2e-gcp: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/ocp417-e2e-gcp: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/ocp418-e2e-gcp: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/sast: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/security: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/unit: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/vendor: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
  ci/prow/vet: unless all of: (^docs/)|((^|/)OWNERS(_ALIASES)?$)|((^|/)[A-Za-z]+\.md$)|((^|/)\.github/)|((^|/)\.tekton/)|((^|/).*konflux\.Dockerfile$)
