Repository openshift/jobset-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-operand, ci/prow/e2e-aws-operator, ci/prow/fips-image-scan-jobset-operator, ci/prow/security

Path conditions:
  ci/prow/e2e-aws-operand: unless all of: ^\.tekton/|bundle.Dockerfile|\.md$|^(LICENSE|OWNERS)$
  ci/prow/e2e-aws-operator: unless all of: ^\.tekton/|bundle.Dockerfile|\.md$|^(LICENSE|OWNERS)$
  ci/prow/fips-image-scan-jobset-operator: unless all of: ^\.tekton/|\.md$|^(LICENSE|OWNERS)$
  ci/prow/security: unless all of: ^\.tekton/|\.md$|^(LICENSE|OWNERS)$

update release versions in Readme
  README.md
Due: none

make generate
  bindata/assets/jobset-controller-generated/admissionregistration.k8s.io_v1_mutatingwebhookconfiguration_jobset-mutating-webhook-configuration.yaml
  bindata/assets/jobset-controller-generated/admissionregistration.k8s.io_v1_validatingwebhookconfiguration_jobset-validating-webhook-configuration.yaml
  bindata/assets/jobset-controller-generated/apiextensions.k8s.io_v1_customresourcedefinition_jobsets.jobset.x-k8s.io.yaml
  bindata/assets/jobset-controller-generated/apps_v1_deployment_jobset-controller-manager.yaml
  bindata/assets/jobset-controller-generated/cert-manager.io_v1_certificate_jobset-metrics-cert.yaml
  bindata/assets/jobset-controller-generated/cert-manager.io_v1_certificate_jobset-serving-cert.yaml
  bindata/assets/jobset-controller-generated/cert-manager.io_v1_issuer_jobset-selfsigned-issuer.yaml
  bindata/assets/jobset-controller-generated/monitoring.coreos.com_v1_servicemonitor_jobset-controller-manager-metrics-monitor.yaml
  bindata/assets/jobset-controller-generated/rbac.authorization.k8s.io_v1_clusterrole_jobset-manager-role.yaml
  bindata/assets/jobset-controller-generated/rbac.authorization.k8s.io_v1_clusterrole_jobset-metrics-reader.yaml
  bindata/assets/jobset-controller-generated/rbac.authorization.k8s.io_v1_clusterrole_jobset-proxy-role.yaml
  bindata/assets/jobset-controller-generated/rbac.authorization.k8s.io_v1_clusterrolebinding_jobset-manager-rolebinding.yaml
  bindata/assets/jobset-controller-generated/rbac.authorization.k8s.io_v1_clusterrolebinding_jobset-metrics-reader-rolebinding.yaml
  bindata/assets/jobset-controller-generated/rbac.authorization.k8s.io_v1_clusterrolebinding_jobset-proxy-rolebinding.yaml
  bindata/assets/jobset-controller-generated/rbac.authorization.k8s.io_v1_role_jobset-leader-election-role.yaml
  bindata/assets/jobset-controller-generated/rbac.authorization.k8s.io_v1_role_jobset-manager-secrets-role.yaml
  bindata/assets/jobset-controller-generated/rbac.authorization.k8s.io_v1_role_jobset-prometheus-k8s.yaml
  bindata/assets/jobset-controller-generated/rbac.authorization.k8s.io_v1_rolebinding_jobset-leader-election-rolebinding.yaml
  bindata/assets/jobset-controller-generated/rbac.authorization.k8s.io_v1_rolebinding_jobset-manager-secrets-rolebinding.yaml
  bindata/assets/jobset-controller-generated/rbac.authorization.k8s.io_v1_rolebinding_jobset-prometheus-k8s.yaml
  bindata/assets/jobset-controller-generated/v1_service_jobset-controller-manager-metrics-service.yaml
  bindata/assets/jobset-controller-generated/v1_service_jobset-webhook-service.yaml
  bindata/assets/jobset-controller-generated/v1_serviceaccount_jobset-controller-manager.yaml
Due: ci/prow/e2e-aws-operand, ci/prow/e2e-aws-operator, ci/prow/fips-image-scan-jobset-operator, ci/prow/security

fix alm-examples
  manifests/jobset-operator.clusterserviceversion.yaml
Due: ci/prow/e2e-aws-operand, ci/prow/e2e-aws-operator, ci/prow/fips-image-scan-jobset-operator, ci/prow/security

add name validation for JobSetOperator
  deploy/00_jobset-operator.crd.yaml
  manifests/jobset-operator.crd.yaml
  pkg/apis/openshiftoperator/v1/types_jobsetoperator.go
Due: ci/prow/e2e-aws-operand, ci/prow/e2e-aws-operator, ci/prow/fips-image-scan-jobset-operator, ci/prow/security

introduce update-cluster-service-version.sh script to automatically
  Makefile
  hack/update-cluster-service-version.sh
Due: ci/prow/e2e-aws-operand, ci/prow/e2e-aws-operator, ci/prow/fips-image-scan-jobset-operator, ci/prow/security

make update
  deploy/12_deployment.yaml
  manifests/jobset-operator.clusterserviceversion.yaml
Due: ci/prow/e2e-aws-operand, ci/prow/e2e-aws-operator, ci/prow/fips-image-scan-jobset-operator, ci/prow/security

prepare for 1.0.0 JobSet Operator release
  manifests/jobset-operator.clusterserviceversion.yaml
Due: ci/prow/e2e-aws-operand, ci/prow/e2e-aws-operator, ci/prow/fips-image-scan-jobset-operator, ci/prow/security

use OCP 4.21 images in Dockerfile.ci for release-4.21 branch
  .ci-operator.yaml
  Dockerfile.ci
Due: ci/prow/e2e-aws-operand, ci/prow/e2e-aws-operator, ci/prow/fips-image-scan-jobset-operator, ci/prow/security

update operatorframework channel annotation to stable
  bundle.Dockerfile
  metadata/annotations.yaml
Due: ci/prow/e2e-aws-operand, ci/prow/e2e-aws-operator, ci/prow/fips-image-scan-jobset-operator, ci/prow/security

Update label to 1.0.0
  bundle.Dockerfile
Due: ci/prow/fips-image-scan-jobset-operator, ci/prow/security

Fix invalid json in csv
  manifests/jobset-operator.clusterserviceversion.yaml
Due: ci/prow/e2e-aws-operand, ci/prow/e2e-aws-operator, ci/prow/fips-image-scan-jobset-operator, ci/prow/security

update version to 1.0
  Dockerfile
  Dockerfile.ci
  Makefile
Due: ci/prow/e2e-aws-operand, ci/prow/e2e-aws-operator, ci/prow/fips-image-scan-jobset-operator, ci/prow/security

use 1.0 refs in tekton pipelines
  .tekton/jobset-operator-1-0-pull-request.yaml
  .tekton/jobset-operator-1-0-push.yaml
  .tekton/jobset-operator-bundle-1-0-pull-request.yaml
  .tekton/jobset-operator-bundle-1-0-push.yaml
Due: none

manually update image references in bundle.Dockerfile
  bundle.Dockerfile
Due: ci/prow/fips-image-scan-jobset-operator, ci/prow/security

bump OPERATOR_IMAGE in bundle.Dockerfile
  bundle.Dockerfile
Due: ci/prow/fips-image-scan-jobset-operator, ci/prow/security

update fbc for 1.0 release
  .tekton/images-mirror-set.yaml
  generate-fbc.sh
  v4.18/Containerfile.catalog
  v4.18/catalog-template.yaml
  v4.18/catalog/jobset-operator/catalog.json
  v4.19/Containerfile.catalog
  v4.19/catalog-template.yaml
  v4.19/catalog/jobset-operator/catalog.json
  v4.20/Containerfile.catalog
  v4.20/catalog-template.yaml
  v4.20/catalog/jobset-operator/catalog.json
  v4.21/Containerfile.catalog
  v4.21/catalog-template.yaml
  v4.21/catalog/jobset-operator/catalog.json
  v4.22/Containerfile.catalog
  v4.22/catalog-template.yaml
  v4.22/catalog/jobset-operator/catalog.json
Due: ci/prow/e2e-aws-operand, ci/prow/e2e-aws-operator, ci/prow/fips-image-scan-jobset-operator, ci/prow/security

add a VolumeClaimPolicies CRD validation workaround for 4.18 and lower
  pkg/operator/target_config_reconciler.go
Due: ci/prow/e2e-aws-operand, ci/prow/e2e-aws-operator, ci/prow/fips-image-scan-jobset-operator, ci/prow/security

update operators.operatorframework.io.bundle.channels.v1
  bundle.Dockerfile
  metadata/annotations.yaml
Due: ci/prow/e2e-aws-operand, ci/prow/e2e-aws-operator, ci/prow/fips-image-scan-jobset-operator, ci/prow/security

update operator image in bundle.Dockerfile
  bundle.Dockerfile
Due: ci/prow/fips-image-scan-jobset-operator, ci/prow/security

updat FBC images for v1.0 release
  v4.18/catalog-template.yaml
  v4.18/catalog/jobset-operator/catalog.json
  v4.19/catalog-template.yaml
  v4.19/catalog/jobset-operator/catalog.json
  v4.20/catalog-template.yaml
  v4.20/catalog/jobset-operator/catalog.json
  v4.21/catalog-template.yaml
  v4.21/catalog/jobset-operator/catalog.json
  v4.22/catalog-template.yaml
  v4.22/catalog/jobset-operator/catalog.json
Due: ci/prow/e2e-aws-operand, ci/prow/e2e-aws-operator, ci/prow/fips-image-scan-jobset-operator, ci/prow/security

Remove extends renovate
  renovate.json
Due: ci/prow/e2e-aws-operand, ci/prow/e2e-aws-operator, ci/prow/fips-image-scan-jobset-operator, ci/prow/security

Add control-plane-approvers to OWNERS
  OWNERS
  OWNERS_ALIASES
Due: ci/prow/e2e-aws-operand, ci/prow/e2e-aws-operator, ci/prow/fips-image-scan-jobset-operator, ci/prow/security

adding agentic SDLC documentation for jobset-operator
  AGENTS.md
  ARCHITECTURE.md
  CLAUDE.md
  CONTRIBUTING.md
  Makefile
Due: ci/prow/e2e-aws-operand, ci/prow/e2e-aws-operator, ci/prow/fips-image-scan-jobset-operator, ci/prow/security

Add NetworkPolicy RBAC to jobset CSV
  manifests/jobset-operator.clusterserviceversion.yaml
Due: ci/prow/e2e-aws-operand, ci/prow/e2e-aws-operator, ci/prow/fips-image-scan-jobset-operator, ci/prow/security

add FBC for 4.23 and 5.0
  .tekton/jobset-fbc-4-23-pull-request.yaml
  .tekton/jobset-fbc-4-23-push.yaml
  .tekton/jobset-fbc-5-0-pull-request.yaml
  .tekton/jobset-fbc-5-0-push.yaml
  generate-fbc.sh
  v4.18/catalog/jobset-operator/catalog.json
  v4.19/catalog/jobset-operator/catalog.json
  v4.20/catalog/jobset-operator/catalog.json
  v4.21/catalog/jobset-operator/catalog.json
  v4.23/Containerfile.catalog
  v4.23/catalog-template.yaml
  v4.23/catalog/jobset-operator/catalog.json
  v5.0/Containerfile.catalog
  v5.0/catalog-template.yaml
  v5.0/catalog/jobset-operator/catalog.json
Due: ci/prow/e2e-aws-operand, ci/prow/e2e-aws-operator, ci/prow/fips-image-scan-jobset-operator, ci/prow/security

Add NetworkPolicy RBAC to jobset CSV
  deploy/04_role.yaml
  manifests/jobset-operator.clusterserviceversion.yaml
Due: ci/prow/e2e-aws-operand, ci/prow/e2e-aws-operator, ci/prow/fips-image-scan-jobset-operator, ci/prow/security

update readme
  README.md
Due: none

Implment RBAC policy for jobset operator.
  bindata/assets/jobset-controller/networkpolicy-allow-operand.yaml
  bindata/assets/jobset-controller/networkpolicy-allow-operator.yaml
  bindata/assets/jobset-controller/networkpolicy-default-deny.yaml
  pkg/operator/starter.go
  test/e2e/network_policy_test.go
  test/e2e/testutils/utils.go
Due: ci/prow/e2e-aws-operand, ci/prow/e2e-aws-operator, ci/prow/fips-image-scan-jobset-operator, ci/prow/security

Add OTE infrastructure with test suite configuration
  .gitignore
  Dockerfile.ci
  README.md
  cmd/jobset-operator-tests-ext/main.go
Due: ci/prow/e2e-aws-operand, ci/prow/e2e-aws-operator, ci/prow/fips-image-scan-jobset-operator, ci/prow/security

Add OTE dual-mode test infrastructure for operator e2e tests
  Makefile
  cmd/jobset-operator-tests-ext/dependencymagnet.go
  deploy/embed.go
  hack/e2e-test.sh
  test/e2e/e2e_suite_test.go
  test/e2e/e2e_test.go
  test/e2e/helpers.go
  test/e2e/operator.go
  test/e2e/operator_test.go
  test/e2e/testutils/client.go
  test/e2e/testutils/utils.go
Due: ci/prow/e2e-aws-operand, ci/prow/e2e-aws-operator, ci/prow/fips-image-scan-jobset-operator, ci/prow/security

Apply operand SCC and termination policy in the reconciler.
  deploy/12_deployment.yaml
  manifests/jobset-operator.clusterserviceversion.yaml
  pkg/operator/target_config_reconciler.go
Due: ci/prow/e2e-aws-operand, ci/prow/e2e-aws-operator, ci/prow/fips-image-scan-jobset-operator, ci/prow/security
