Repository openshift/lightspeed-service: changes, and which Prow jobs are due for each by the changed paths.
All: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

fips-image-scan-service:
  steps:
    dependencies:
      SCAN_IMAGE: lightspeed-service-api
    test:
    - ref: fips-check-image-scan

ci/prow/e2e-ols-cluster:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/fips-image-scan-service:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/integration:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/ols-evaluation:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/verify:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

OLS-3442 Add reasoning token support spec
  .ai/spec/how/llm-providers.md
  .ai/spec/how/query-pipeline.md
  .ai/spec/what/config.md
  .ai/spec/what/conversation-history.md
  .ai/spec/what/llm-providers.md
Due: none

OLS-3313: Deprecate OCP-specific FAISS RAG in favor of OKP Solr
  .ai/spec/what/rag.md
  Containerfile
  docs/ai/config.md
  docs/config.puml
  examples/olsconfig-local-ollama.yaml
  examples/olsconfig.yaml
  examples/openshift-lightspeed-tls.yaml
  ols/app/endpoints/health.py
  ols/app/models/config.py
  ols/utils/config.py
  tests/unit/app/endpoints/test_health.py
  tests/unit/app/models/test_config.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

adding help to the invalid questions due to deepseek prioritizing help over assist
  tests/e2e/test_query_endpoint.py
  tests/e2e/test_streaming_query_endpoint.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

PR Title: OLS-1894 Add ROSA product support to Solr chunk filter query
  .ai/spec/what/rag.md
  ols/src/rag_index/solr_support.py
  tests/unit/rag_index/test_solr_support.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

increasing max completion tokens for every lseval
  eval/system_azure_openai_lseval.yaml
  eval/system_openai_lseval.yaml
  eval/system_rhelai_vllm_lseval.yaml
  eval/system_rhoai_vllm_lseval.yaml
  eval/system_watsonx_lseval.yaml
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3493 Align audit logging and observability specs with OTel GenAI
  .ai/spec/what/audit-logging.md
  .ai/spec/what/observability.md
Due: none

chore: bump dependencies to latest
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
  pyproject.toml
  requirements-build.txt
  requirements.hashes.source.txt
  requirements.hashes.wheel.txt
  requirements.overrides.txt
  requirements.txt
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-1341: add ormsgpack to EXTRA_WHEELS binary list
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
  requirements-build.txt
  scripts/konflux_requirements.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-1341: pin langchain-community>=0.3.81,<0.4.2
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
  pyproject.toml
  requirements-build.txt
  requirements.hashes.source.txt
  requirements.hashes.wheel.txt
  requirements.txt
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-1341: pin hpack==4.1.0 to avoid setuptools>=82 build dep
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
  requirements-build.txt
  requirements.hashes.source.txt
  requirements.hashes.wheel.txt
  requirements.overrides.txt
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3221 Add PostgreSQL auto-recovery after DB restart
  docs/openapi.json
  ols/app/endpoints/health.py
  ols/app/models/config.py
  ols/app/models/models.py
  ols/constants.py
  ols/src/cache/postgres_cache.py
  ols/utils/postgres.py
  tests/integration/test_liveness_readiness.py
  tests/unit/app/endpoints/test_health.py
  tests/unit/app/models/test_config.py
  tests/unit/cache/test_postgres_cache.py
  tests/unit/cache/test_postgres_cache_transaction_fix.py
  tests/unit/utils/test_postgres.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

test: trigger CI to verify main branch health
  ols/app/main.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

test: fix woke lint in CI trigger comment
  ols/app/main.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3562 Use rag_index_loader guard instead of duplicated reference_content check
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
  ols/app/endpoints/ols.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

feat: in-process LLM credential hot-reload (RFE-9380)
  docs/credential-hot-reload.md
  ols/app/models/config.py
  ols/src/llms/providers/azure_openai.py
  ols/src/llms/providers/bedrock.py
  ols/src/llms/providers/google_vertex.py
  ols/src/llms/providers/openai.py
  ols/src/llms/providers/rhelai_vllm.py
  ols/src/llms/providers/rhoai_vllm.py
  ols/src/llms/providers/watsonx.py
  ols/utils/checks.py
  tests/unit/app/models/test_config.py
  tests/unit/llms/providers/test_bedrock.py
  tests/unit/llms/providers/test_openai.py
  tests/unit/utils/test_checks.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3450: Gate hot-reload on credential_hot_reload config flag
  ols/app/models/config.py
  ols/src/llms/providers/bedrock.py
  tests/unit/app/models/test_config.py
  tests/unit/llms/providers/test_bedrock.py
  tests/unit/llms/providers/test_openai.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OTA-1870: enable built-in MCP sidecar for cluster-updates tests
  tests/config/operator_install/olsconfig.crd.openai_cluster_updates.yaml
  tests/e2e/utils/ols_installer.py
  tests/scripts/test-cluster-updates.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3493 Address CodeRabbit review: align with OTel GenAI v1.41
  .ai/spec/what/audit-logging.md
  .ai/spec/what/observability.md
Due: none

Address code review: consolidate AWS cred reads and guard optional role_arn
  ols/app/models/config.py
  ols/src/llms/providers/bedrock.py
  tests/unit/llms/providers/test_bedrock.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3526: spec note for standalone MCP server URL change
  .ai/spec/what/tools.md
Due: none

adding fix to empty rag index
  ols/app/endpoints/ols.py
  tests/unit/app/endpoints/test_ols.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3432 Add dynamic product filtering spec to RAG docs
  .ai/spec/what/rag.md
Due: none

skipping e2e rag based tests
  tests/e2e/test_query_endpoint.py
  tests/e2e/test_streaming_query_endpoint.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

upgrading openai versions
  eval/system.yaml
  eval/system_cluster_updates.yaml
  eval/troubleshooting/olsconfig/olsconfig-openai.yaml
  examples/olsconfig.yaml
  scripts/evaluation/eval_data/question_answer_pair.json
  scripts/evaluation/eval_data/result/README.md
  scripts/evaluation/utils/constants.py
  tests/config/operator_install/olsconfig.crd.evaluation.yaml
  tests/config/operator_install/olsconfig.crd.openai.yaml
  tests/config/operator_install/olsconfig.crd.openai_cluster_updates.yaml
  tests/config/operator_install/olsconfig.crd.openai_data_export.yaml
  tests/config/operator_install/olsconfig.crd.openai_lseval.yaml
  tests/config/operator_install/olsconfig.crd.openai_mcp.yaml
  tests/config/operator_install/olsconfig.crd.openai_quota.yaml
  tests/config/operator_install/olsconfig.crd.openai_tool_calling.yaml
  tests/e2e/conftest.py
  tests/e2e/test_api.py
  tests/scripts/test-cluster-updates.sh
  tests/scripts/test-e2e-cluster-periodics.sh
  tests/scripts/test-e2e-cluster.sh
  tests/scripts/test-evaluation.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

adding azure openai upgrade as well
  Makefile
  eval/system_azure_openai_lseval.yaml
  eval/troubleshooting/olsconfig/olsconfig-azure-openai.yaml
  scripts/evaluation/eval_data/question_answer_pair.json
  scripts/evaluation/eval_data/result/README.md
  scripts/evaluation/utils/constants.py
  tests/config/operator_install/olsconfig.crd.azure_openai.yaml
  tests/config/operator_install/olsconfig.crd.azure_openai_lseval.yaml
  tests/config/operator_install/olsconfig.crd.azure_openai_tool_calling.yaml
  tests/config/operator_install/olsconfig.crd.evaluation.yaml
  tests/e2e/conftest.py
  tests/e2e/test_api.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

adding readonlyHint to openshift docs related tools
  ols/src/rag_index/solr_support.py
  ols/src/skills/skills_rag.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3526: note standalone MCP is not near-term
  .ai/spec/what/tools.md
Due: none

konflux: update python package index to avoid EC exceptions of wild binary wheels
  .coderabbit.yaml
  .konflux/README.md
  .konflux/profiles.toml
  .konflux/pypi_wheel_only.txt
  .konflux/redhat.repo
  .konflux/requirements-build.txt
  .konflux/requirements.hashes.source.txt
  .konflux/requirements.hashes.wheel.pypi.txt
  .konflux/requirements.hashes.wheel.txt
  .konflux/requirements.hermetic.txt
  .konflux/requirements.overrides.txt
  .konflux/rpms.in.yaml
  .konflux/rpms.lock.yaml
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
  AGENTS.md
  Containerfile
  Makefile
  README.md
  build.args
  docs/update-requirements.md
  requirements-build.txt
  requirements.hashes.source.txt
  requirements.hashes.wheel.txt
  requirements.overrides.txt
  scripts/generate-rpm-lock.sh
  scripts/konflux_requirements.sh
  scripts/konflux_resolve.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3595 Fix OTLP trace export TLS to in-cluster OTEL collector
  ols/utils/otel.py
  runner.py
  tests/unit/utils/test_otel.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3665 Fix Solr streaming connection drops and harden RAG e2e tests
  ols/app/endpoints/streaming_ols.py
  ols/src/prompts/prompts.py
  ols/src/rag_index/solr_support.py
  ols/utils/config.py
  scripts/evaluation/eval_data/question_answer_pair.json
  scripts/evaluation/utils/constants.py
  tests/e2e/test_query_endpoint.py
  tests/e2e/test_streaming_query_endpoint.py
  tests/e2e/test_tool_output_offloading.py
  tests/unit/app/endpoints/test_streaming_ols.py
  tests/unit/prompts/test_prompt_generator.py
  tests/unit/rag_index/test_solr_support.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Removing RAG chunks checks from data_export test
  tests/e2e/test_api.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3434 Add CI check to verify hermetic build hash files are in sync
  Makefile
  scripts/verify_hermetic_requirements.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Removing RAG chunks checks from data_export test
  tests/e2e/test_api.py
  tests/e2e/test_query_endpoint.py
  tests/e2e/test_streaming_query_endpoint.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

fixes.
  ols/app/models/config.py
  tests/e2e/utils/wait_for_ols.py
  tests/unit/app/models/test_config.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OCP source warning - CI fix.
  ols/app/models/config.py
  tests/e2e/utils/wait_for_ols.py
  tests/unit/app/models/test_config.py
  tests/unit/utils/test_config.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

adding fix to empty rag index
  tests/unit/app/endpoints/test_ols.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

fixes.
  ols/app/endpoints/streaming_ols.py
  ols/src/query_helpers/llm_execution_agent.py
  tests/unit/query_helpers/test_llm_execution_agent.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

protect finally block in streaming response from crashing the stream
  ols/app/endpoints/streaming_ols.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Path conditions:
  fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-ols-cluster: any of: ^(Containerfile.*|Makefile|manifests/.*|ols/.*|pyproject.toml|pdm.lock|scripts/.*|tests/.*)$
  ci/prow/fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/integration: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/ols-evaluation: any of: ^(Containerfile|tests/e2e/scripts/test-evaluation.sh|tests/e2e/scripts/utils.sh|Makefile|tests/e2e/evaluation/.*|ols/src/llms/providers/.*|ols/src/prompts/.*|ols/src/query_helpers/docs_summarizer.py|ols/src/rag_index/.*|ols/src/tools/.*|ols/utils/token_handler.py|ols/constants.py)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
