Repository openshift/lightspeed-service: changes, and which Prow jobs are due for each by the changed paths.
All: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

fips-image-scan-service:
  steps:
    dependencies:
      SCAN_IMAGE: lightspeed-service-api
    test:
    - ref: fips-check-image-scan

ci/prow/e2e-ols-cluster:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/fips-image-scan-service:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/integration:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/ols-evaluation:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/verify:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

OLS-1680: Add AWS Bedrock provider to LLM provider specs
  .ai/spec/how/llm-providers.md
  .ai/spec/what/llm-providers.md
  docs/superpowers/bedrock-provider-findings.md
Due: none

OLS-1895 Add AWS Bedrock LLM provider
  .ai/spec/how/llm-providers.md
  .ai/spec/what/llm-providers.md
  docs/ai/providers.md
  docs/superpowers/bedrock-provider-findings.md
  examples/olsconfig.yaml
  ols/app/models/config.py
  ols/constants.py
  ols/src/llms/providers/bedrock.py
  ols/src/llms/providers/provider.py
  pyproject.toml
  tests/config/valid_config_with_bedrock.yaml
  tests/unit/llms/providers/test_bedrock.py
  tests/unit/llms/providers/test_providers.py
  tests/unit/utils/test_config.py
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

fix: temporary revert buildah-remote-oci-ta to version 0.9 to allow using x86 image of RAG content in ARM build
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
Due: none

OLS-3327 Add e2e test infrastructure spec for AWS Bedrock provider
  .ai/spec/README.md
  .ai/spec/how/e2e-bedrock.md
  .ai/spec/what/llm-providers.md
Due: none

OLS-3311 Bundle embedding models for hermetic build
  .gitignore
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
  .woke.yaml
  Containerfile
  Makefile
  artifacts.lock.yaml
  embeddings_model/all-mpnet-base-v2/1_Pooling/config.json
  embeddings_model/all-mpnet-base-v2/config.json
  embeddings_model/all-mpnet-base-v2/config_sentence_transformers.json
  embeddings_model/all-mpnet-base-v2/modules.json
  embeddings_model/all-mpnet-base-v2/sentence_bert_config.json
  embeddings_model/all-mpnet-base-v2/special_tokens_map.json
  embeddings_model/all-mpnet-base-v2/tokenizer.json
  embeddings_model/all-mpnet-base-v2/tokenizer_config.json
  embeddings_model/granite-embedding-30m-english/1_Pooling/config.json
  embeddings_model/granite-embedding-30m-english/config.json
  embeddings_model/granite-embedding-30m-english/modules.json
  embeddings_model/granite-embedding-30m-english/sentence_bert_config.json
  embeddings_model/granite-embedding-30m-english/special_tokens_map.json
  embeddings_model/granite-embedding-30m-english/tokenizer.json
  embeddings_model/granite-embedding-30m-english/tokenizer_config.json
  examples/olsconfig.yaml
  ols/constants.py
  ols/src/rag_index/index_loader.py
  ols/utils/environments.py
  scripts/evaluation/query_rag.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3327 Add language tags to fenced code blocks
  .ai/spec/how/e2e-bedrock.md
Due: none

OLS-3221 Add PostgreSQL auto-recovery after DB restart
  docs/openapi.json
  ols/app/endpoints/health.py
  ols/app/models/config.py
  ols/constants.py
  ols/src/cache/postgres_cache.py
  ols/utils/postgres.py
  tests/unit/app/endpoints/test_health.py
  tests/unit/app/models/test_config.py
  tests/unit/cache/test_postgres_cache.py
  tests/unit/utils/test_postgres.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-2866 add make tls-scan target for TLS profile compliance scanning
  Makefile
  scripts/tls-scan.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-2866 fix tls-scan review findings
  scripts/tls-scan.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Bump version to 1.1.2
  docs/openapi.json
  ols/version.py
  scripts/build-container.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3311 Fix HuggingFace cache dir permissions in Containerfile
  Containerfile
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Set the ALLOW_CROSS_PLATFORM_IMAGES flag on build-images task
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
Due: none

feat: in-process LLM credential hot-reload (RFE-9380)
  docs/credential-hot-reload.md
  ols/app/models/config.py
  ols/src/llms/providers/azure_openai.py
  ols/src/llms/providers/bedrock.py
  ols/src/llms/providers/google_vertex.py
  ols/src/llms/providers/openai.py
  ols/src/llms/providers/rhelai_vllm.py
  ols/src/llms/providers/rhoai_vllm.py
  ols/src/llms/providers/watsonx.py
  ols/utils/checks.py
  tests/unit/app/models/test_config.py
  tests/unit/llms/providers/test_bedrock.py
  tests/unit/llms/providers/test_openai.py
  tests/unit/utils/test_checks.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3275 Validate safetensors integrity after model download
  Containerfile
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3275 Add structured JSON audit events for request lifecycle
  .ai/spec/what/audit-logging.md
  ols/app/endpoints/ols.py
  ols/app/endpoints/streaming_ols.py
  ols/app/models/config.py
  ols/app/models/models.py
  ols/src/query_helpers/docs_summarizer.py
  ols/src/query_helpers/llm_execution_agent.py
  ols/src/tools/tools.py
  ols/utils/audit_logger.py
  ols/utils/otel.py
  ols/utils/suid.py
  pyproject.toml
  runner.py
  tests/unit/utils/test_audit_logger.py
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

chore: add :main tag to Konflux push pipeline images
  .tekton/lightspeed-service-push.yaml
Due: none

Revert prefetch-dependencies-oci-ta to previous working version
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
Due: none

Revert "Update Konflux references"
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
Due: none

Temporarily disable granite embedding for EC compliance
  Containerfile
  Makefile
  artifacts.lock.yaml
  ols/constants.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

chore: bump dependencies to latest
  ols/app/main.py
  requirements.txt
  scripts/evaluation/utils/plot.py
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

add bedrock test files and adaptations to existing scripts
  tests/config/operator_install/olsconfig.crd.bedrock_anthropic.yaml
  tests/config/operator_install/olsconfig.crd.bedrock_deepseek.yaml
  tests/config/operator_install/olsconfig.crd.bedrock_deepseek_tool_calling.yaml
  tests/e2e/utils/ols_installer.py
  tests/scripts/test-e2e-cluster-periodics.sh
  tests/scripts/test-e2e-cluster.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3417 Document surgical hermetic build hash file updates
  AGENTS.md
Due: none

OLS-3417 Add missing deps to Konflux hermetic build hash files
  requirements-build.txt
  requirements.hashes.source.txt
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Reduce container image size and improve build caching
  Containerfile
  pyproject.toml
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

feat: filter MCP tools by available UI extensions on client
  docs/openapi.json
  ols/app/endpoints/ols.py
  ols/app/models/models.py
  ols/src/query_helpers/docs_summarizer.py
  ols/utils/mcp_utils.py
  tests/unit/app/models/test_models.py
  tests/unit/utils/test_mcp_utils.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3434 Add CI check for hermetic build hash file sync
  Makefile
  scripts/verify_hermetic_requirements.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OTA-1927: Fix PostgreSQL transaction error in conversation cache
  ols/src/cache/postgres_cache.py
  tests/unit/cache/test_postgres_cache.py
  tests/unit/cache/test_postgres_cache_transaction_fix.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OTA-1927: Eval cluster update prompts
  Makefile
  eval/README.md
  eval/eval_data_cluster_updates.yaml
  eval/rbac-cluster-updates.yaml
  eval/system_cluster_updates.yaml
  pyproject.toml
  tests/config/operator_install/olsconfig.crd.openai_cluster_updates.yaml
  tests/e2e/evaluation/test_cluster_updates.py
  tests/e2e/pytest.ini
  tests/scripts/test-cluster-updates.sh
  tests/scripts/utils.sh
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Adding OKP for RAG support
  Containerfile
  artifacts.lock.yaml
  docs/ai/config.md
  docs/config.puml
  examples/olsconfig-local-ollama.yaml
  examples/olsconfig.yaml
  examples/openshift-lightspeed-tls.yaml
  ols/app/endpoints/ols.py
  ols/app/models/config.py
  ols/constants.py
  ols/src/prompts/prompt_generator.py
  ols/src/prompts/prompts.py
  ols/src/query_helpers/docs_summarizer.py
  ols/src/rag/hybrid_rag.py
  ols/src/rag/stop_words.py
  ols/src/rag_index/index_loader.py
  ols/src/rag_index/solr_support.py
  ols/src/tools/tools.py
  ols/utils/config.py
  ols/utils/environments.py
  pyproject.toml
  runner.py
  tests/e2e/utils/ols_installer.py
  tests/unit/app/endpoints/test_health.py
  tests/unit/app/models/test_config.py
  tests/unit/config_status/test_config_status.py
  tests/unit/prompts/test_prompt_generator.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/rag_index/test_index_loader.py
  tests/unit/rag_index/test_solr_support.py
  tests/unit/utils/test_config.py
  tests/unit/utils/test_environments.py
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

pinning langchain version to avoid ragas error in eval
  pyproject.toml
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

adding TODO
  pyproject.toml
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3221 Address CodeRabbit review comments
  ols/app/endpoints/health.py
  ols/app/models/config.py
  ols/app/models/models.py
  ols/src/cache/postgres_cache.py
  ols/utils/postgres.py
  tests/unit/app/endpoints/test_health.py
  tests/unit/cache/test_postgres_cache.py
  tests/unit/utils/test_postgres.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-0000: Add e2e test coverage spec for troubleshooting mode scenarios
  .ai/spec/what/agent-modes.md
Due: none

fix: CVE-2026-42311 upgrade pillow to 12.2.0
  requirements.hashes.source.txt
  requirements.hashes.wheel.txt
  requirements.overrides.txt
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-1894 Add ROSA-aware OKP retrieval spec
  .ai/spec/what/rag.md
Due: none

fix: resolve CVE-2026-42561 — bump python-multipart to 0.0.32
  requirements.txt
  uv.lock
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Downgrade model to gpt-4o-mini
  Makefile
  eval/system.yaml
  eval/system_azure_openai_lseval.yaml
  eval/system_cluster_updates.yaml
  eval/troubleshooting/olsconfig/olsconfig-azure-openai.yaml
  scripts/evaluation/eval_data/question_answer_pair.json
  scripts/evaluation/utils/constants.py
  tests/config/operator_install/olsconfig.crd.azure_openai.yaml
  tests/config/operator_install/olsconfig.crd.azure_openai_lseval.yaml
  tests/config/operator_install/olsconfig.crd.azure_openai_tool_calling.yaml
  tests/config/operator_install/olsconfig.crd.evaluation.yaml
  tests/config/operator_install/olsconfig.crd.openai.yaml
  tests/config/operator_install/olsconfig.crd.openai_data_export.yaml
  tests/config/operator_install/olsconfig.crd.openai_mcp.yaml
  tests/config/operator_install/olsconfig.crd.openai_quota.yaml
  tests/config/operator_install/olsconfig.crd.openai_tool_calling.yaml
  tests/e2e/conftest.py
  tests/e2e/evaluation/test_cluster_updates.py
  tests/e2e/test_api.py
  tests/scripts/test-cluster-updates.sh
  tests/scripts/test-e2e-cluster-periodics.sh
  tests/scripts/test-e2e-cluster.sh
  tests/scripts/test-evaluation.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Adding OKP for RAG support
  Containerfile
  artifacts.lock.yaml
  docs/ai/config.md
  docs/config.puml
  examples/olsconfig-local-ollama.yaml
  examples/olsconfig.yaml
  examples/openshift-lightspeed-tls.yaml
  ols/app/endpoints/ols.py
  ols/app/models/config.py
  ols/constants.py
  ols/src/prompts/prompt_generator.py
  ols/src/prompts/prompts.py
  ols/src/query_helpers/docs_summarizer.py
  ols/src/query_helpers/llm_execution_agent.py
  ols/src/rag/hybrid_rag.py
  ols/src/rag/stop_words.py
  ols/src/rag_index/index_loader.py
  ols/src/rag_index/solr_support.py
  ols/src/tools/tools.py
  ols/utils/config.py
  ols/utils/environments.py
  pyproject.toml
  runner.py
  tests/e2e/utils/ols_installer.py
  tests/unit/app/endpoints/test_health.py
  tests/unit/app/models/test_config.py
  tests/unit/config_status/test_config_status.py
  tests/unit/prompts/test_prompt_generator.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/rag_index/test_index_loader.py
  tests/unit/rag_index/test_solr_support.py
  tests/unit/skills/test_skills_rag.py
  tests/unit/tools/test_tools.py
  tests/unit/utils/test_config.py
  tests/unit/utils/test_environments.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OTA-1927 Fix cluster-updates model mismatch (gpt-4o-mini → gpt-4.1-mini)
  tests/config/operator_install/olsconfig.crd.openai_cluster_updates.yaml
  tests/scripts/test-cluster-updates.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Path conditions:
  fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-ols-cluster: any of: ^(Containerfile.*|Makefile|manifests/.*|ols/.*|pyproject.toml|pdm.lock|scripts/.*|tests/.*)$
  ci/prow/fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/integration: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/ols-evaluation: any of: ^(Containerfile|tests/e2e/scripts/test-evaluation.sh|tests/e2e/scripts/utils.sh|Makefile|tests/e2e/evaluation/.*|ols/src/llms/providers/.*|ols/src/prompts/.*|ols/src/query_helpers/docs_summarizer.py|ols/src/rag_index/.*|ols/src/tools/.*|ols/utils/token_handler.py|ols/constants.py)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
