Repository openshift/lightspeed-service: changes, and which Prow jobs are due for each by the changed paths.
All: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Path conditions:
  fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-ols-cluster: any of: ^(Containerfile.*|Makefile|manifests/.*|ols/.*|pyproject.toml|pdm.lock|scripts/.*|tests/.*)$
  ci/prow/fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/integration: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/ols-evaluation: any of: ^(Containerfile|tests/e2e/scripts/test-evaluation.sh|tests/e2e/scripts/utils.sh|Makefile|tests/e2e/evaluation/.*|ols/src/llms/providers/.*|ols/src/prompts/.*|ols/src/query_helpers/docs_summarizer.py|ols/src/rag_index/.*|ols/src/tools/.*|ols/utils/token_handler.py|ols/constants.py)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$

Add MCP Apps proxy endpoints for resource fetching and tool calling
  docs/openapi.json
  ols/app/endpoints/mcp_apps.py
  ols/app/models/models.py
  ols/app/routers.py
  tests/unit/app/endpoints/test_mcp_apps.py
  tests/unit/app/test_routers.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Add review-pr Cursor agent skill
  .cursor/skills/review-pr/SKILL.md
Due: none

Implemented tools local retries and "do not retry" reminder for LLM
  ols/src/tools/tools.py
  tests/unit/tools/test_tools.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

implemented approvals support code
  ols/src/tools/approval.py
  ols/utils/config.py
  tests/unit/tools/test_approval.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

fixing linting
  tests/e2e/test_api.py
  tests/e2e/test_attachments.py
  tests/e2e/test_query_endpoint.py
  tests/e2e/test_streaming_query_endpoint.py
  tests/e2e/test_user_feedback.py
  tests/e2e/utils/adapt_ols_config.py
  tests/e2e/utils/cluster.py
  tests/e2e/utils/constants.py
  tests/e2e/utils/data_collector_control.py
  tests/e2e/utils/metrics.py
  tests/e2e/utils/ols_installer.py
  tests/e2e/utils/wait_for_ols.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Adding more lcore skips and fixing some tests to pass with lcore
  tests/e2e/test_api.py
  tests/e2e/test_attachments.py
  tests/e2e/test_query_endpoint.py
  tests/e2e/test_streaming_query_endpoint.py
  tests/e2e/test_user_feedback.py
  tests/e2e/utils/metrics.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Adding adaptation to lcore tests
  tests/e2e/conftest.py
  tests/e2e/pytest.ini
  tests/e2e/test_api.py
  tests/e2e/test_attachments.py
  tests/e2e/test_query_endpoint.py
  tests/e2e/utils/adapt_ols_config.py
  tests/e2e/utils/cluster.py
  tests/e2e/utils/constants.py
  tests/e2e/utils/data_collector_control.py
  tests/e2e/utils/metrics.py
  tests/e2e/utils/ols_installer.py
  tests/e2e/utils/wait_for_ols.py
  tests/scripts/test-e2e-cluster.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

fixing bug where we waited for two containers for operator pod when tool calling enabled
  tests/e2e/utils/cluster.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Deactivating operator pod for data collection test
  tests/e2e/test_api.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

docs_summarizer.iterate_with_tools method refactoring
  docs/openapi.json
  ols/app/endpoints/ols.py
  ols/app/endpoints/streaming_ols.py
  ols/app/models/models.py
  ols/src/query_helpers/docs_summarizer.py
  tests/integration/test_ols.py
  tests/unit/app/models/test_models.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

setting up periodic CI LS eval.
  Makefile
  eval/system_watsonx_granite.yaml
  pyproject.toml
  scripts/evaluation/utils/constants.py
  tests/config/operator_install/olsconfig.crd.watsonx_lseval.yaml
  tests/e2e/conftest.py
  tests/e2e/evaluation/test_lseval_periodic.py
  tests/e2e/pytest.ini
  tests/e2e/utils/ols_installer.py
  tests/scripts/test-lseval-periodic.sh
  tests/scripts/utils.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Refactor history retrieval in preparation to summarization
  ols/app/endpoints/ols.py
  ols/app/endpoints/streaming_ols.py
  ols/app/models/models.py
  ols/src/query_helpers/docs_summarizer.py
  ols/src/query_helpers/history_support.py
  tests/config/config_for_compression_tests.yaml
  tests/integration/pytest.ini
  tests/integration/test_conversation_compression.py
  tests/integration/test_ols.py
  tests/mock_classes/mock_langchain_interface.py
  tests/mock_classes/mock_llm_loader.py
  tests/unit/app/endpoints/test_ols.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/query_helpers/test_history_support.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

implementing mcp invocation approvals
  docs/openapi.json
  ols/app/endpoints/ols.py
  ols/app/endpoints/streaming_ols.py
  ols/app/models/models.py
  ols/src/query_helpers/docs_summarizer.py
  ols/src/tools/approval.py
  ols/src/tools/tools.py
  ols/utils/config.py
  tests/integration/test_approvals.py
  tests/integration/test_ols.py
  tests/unit/app/endpoints/test_streaming_ols.py
  tests/unit/app/models/test_models.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/tools/test_approval.py
  tests/unit/tools/test_tools.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Propagate tool metadata and server name in streamed tool results
  ols/src/query_helpers/docs_summarizer.py
  tests/mock_classes/mock_tools.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Fix tool_call debug log to use enriched dict
  ols/src/query_helpers/docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Enrich tool_call events with tool_meta and server_name
  ols/src/query_helpers/docs_summarizer.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Extract _build_tool_result_chunks from iterate_with_tools
  ols/src/query_helpers/docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Tighten review-pr skill to reduce false positives and add subagent verification
  .cursor/skills/review-pr/SKILL.md
Due: none

Adding changes based on comments
  tests/e2e/utils/adapt_ols_config.py
  tests/e2e/utils/cluster.py
  tests/e2e/utils/constants.py
  tests/e2e/utils/ols_installer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Forward user credentials to MCP Apps proxy endpoints
  docs/openapi.json
  ols/app/endpoints/mcp_apps.py
  ols/app/models/models.py
  tests/unit/app/endpoints/test_mcp_apps.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Remove question validation subsystem
  docs/architecture_diagram.uml
  docs/config.puml
  docs/sequence_diagram.uml
  examples/olsconfig-local-ollama.yaml
  examples/olsconfig.yaml
  ols/app/endpoints/ols.py
  ols/app/endpoints/streaming_ols.py
  ols/app/metrics/__init__.py
  ols/app/metrics/metrics.py
  ols/app/models/config.py
  ols/app/models/models.py
  ols/constants.py
  ols/customize/__init__.py
  ols/customize/ols/__init__.py
  ols/customize/ols/keywords.py
  ols/customize/ols/prompts.py
  ols/src/query_helpers/question_validator.py
  tests/benchmarks/test_question_validator.py
  tests/e2e/test_api.py
  tests/integration/test_metrics.py
  tests/integration/test_ols.py
  tests/unit/app/endpoints/test_ols.py
  tests/unit/app/endpoints/test_streaming_ols.py
  tests/unit/app/models/test_config.py
  tests/unit/query_helpers/test_question_validator.py
  tests/unit/runners/test_quota_scheduler_runner.py
  tests/unit/runners/test_uvicorn_runner.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Replace git.md doc with raise-pr Cursor skill
  .cursor/skills/raise-pr/SKILL.md
  AGENTS.md
  docs/ai/git.md
Due: none

Fix httpx client leak and tighten types in MCP Apps proxy endpoints
  ols/app/endpoints/mcp_apps.py
  ols/app/models/models.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Regenerate OpenAPI schema with MCP Apps proxy endpoints
  docs/openapi.json
  ols/app/endpoints/mcp_apps.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Remove ols_llm_validation_errors_total from e2e metrics check
  tests/e2e/test_api.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Add TLS-aware httpx client factory for MCP server connections
  ols/utils/mcp_utils.py
  tests/unit/utils/test_mcp_utils.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Rebasing
  scripts/evaluation/driver.py
  scripts/evaluation/eval_data/question_answer_pair.json
  scripts/evaluation/utils/constants.py
  tests/config/operator_install/olsconfig.crd.evaluation.yaml
  tests/config/operator_install/olsconfig.crd.watsonx.yaml
  tests/config/operator_install/olsconfig.crd.watsonx_byok1.yaml
  tests/config/operator_install/olsconfig.crd.watsonx_byok2.yaml
  tests/config/operator_install/olsconfig.crd.watsonx_tool_calling.yaml
  tests/e2e/conftest.py
  tests/e2e/test_api.py
  tests/scripts/test-e2e-cluster-periodics.sh
  tests/scripts/test-e2e-cluster.sh
  tests/scripts/test-evaluation.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

deactivating granite tool calling tests in pre-commit pipelines
  tests/scripts/test-e2e-cluster.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

setting up periodic CI LS eval.
  Makefile
  eval/system_watsonx_granite.yaml
  pyproject.toml
  scripts/evaluation/eval_data/question_answer_pair.json
  tests/config/operator_install/olsconfig.crd.watsonx_lseval.yaml
  tests/e2e/conftest.py
  tests/e2e/evaluation/test_lseval_periodic.py
  tests/e2e/pytest.ini
  tests/e2e/utils/ols_installer.py
  tests/scripts/test-lseval-periodic.sh
  tests/scripts/utils.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

conf: renovate automatically add approved and lgtm labels to dependency update PRs
  renovate.json
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Adding additional logs to track llm provider flakiness.
  ols/app/endpoints/ols.py
  ols/app/endpoints/streaming_ols.py
  ols/src/llms/providers/watsonx.py
  ols/src/query_helpers/docs_summarizer.py
  ols/utils/errors_parsing.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Remove unused local stdio MCP server
  Containerfile
  Makefile
  mcp_local/openshift.py
  tests/mcp_local/__init__.py
  tests/mcp_local/test_openshift.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Tighten raise-pr skill with branch guard and existing PR check
  .cursor/skills/raise-pr/SKILL.md
Due: none

remaned variable name
  ols/src/llms/providers/azure_openai.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Remove contradictory tool-calling bullets from AGENT_SYSTEM_INSTRUCTION
  ols/customize/ols/prompts.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Always branch from upstream/main, not origin/main
  .cursor/skills/raise-pr/SKILL.md
Due: none

Remove OC client from container image
  Containerfile
  rpms.in.yaml
  rpms.lock.yaml
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify
