Repository openshift/lightspeed-service: changes, and which Prow jobs are due for each by the changed paths.
All: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Path conditions:
  fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-ols-cluster: any of: ^(Containerfile.*|Makefile|manifests/.*|ols/.*|pyproject.toml|pdm.lock|scripts/.*|tests/.*)$
  ci/prow/fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/integration: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/ols-evaluation: any of: ^(Containerfile|tests/e2e/scripts/test-evaluation.sh|tests/e2e/scripts/utils.sh|Makefile|tests/e2e/evaluation/.*|ols/src/llms/providers/.*|ols/src/prompts/.*|ols/src/query_helpers/docs_summarizer.py|ols/src/rag_index/.*|ols/src/tools/.*|ols/utils/token_handler.py|ols/constants.py)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$

OLS-0000: Add .ai/spec/decisions/ directory
  .ai/spec/decisions/README.md
Due: none

addressing conversation history failures
  tests/e2e/test_query_endpoint.py
  tests/e2e/test_streaming_query_endpoint.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

konflux: disable permissive mode of Hermeto ; prefetch uv from RHOAI index
  .konflux/profiles.toml
  .konflux/pypi_wheel_only.txt
  .konflux/rank_bm25_version.py
  .konflux/requirements-build.txt
  .konflux/requirements.hashes.source.txt
  .konflux/requirements.hashes.wheel.txt
  .konflux/requirements.hermetic.txt
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
  Containerfile
  pyproject.toml
  scripts/konflux_resolve.py
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

removing temperature param and pass threshold.
  eval/system_azure_openai_lseval.yaml
  eval/system_openai_lseval.yaml
  eval/system_rhelai_vllm_lseval.yaml
  eval/system_rhoai_vllm_lseval.yaml
  eval/system_watsonx_lseval.yaml
  eval/troubleshooting/system.yaml
  tests/e2e/evaluation/test_lseval_periodic.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3540 Add MCP semantic convention attributes on tool spans
  ols/src/tools/tools.py
  ols/utils/mcp_utils.py
  tests/unit/tools/test_tools.py
  tests/unit/utils/test_mcp_utils.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-0000 Update spec health report: previous stale issues resolved
  .ai/spec/health-report.md
Due: none

OLS-0000 Skip e2e suites with unreachable LLM endpoints
  tests/scripts/test-e2e-cluster-periodics.sh
  tests/scripts/test-e2e-cluster.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3541 Add gen_ai.* Prometheus histogram metrics
  ols/app/metrics/__init__.py
  ols/app/metrics/metrics.py
  ols/app/metrics/token_counter.py
  ols/src/query_helpers/llm_execution_agent.py
  ols/src/tools/tools.py
  tests/unit/app/metrics/test_token_counter.py
  tests/unit/query_helpers/test_llm_execution_agent.py
  tests/unit/tools/test_tools_metrics.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

adding lseval presubmit evaluations
  Makefile
  eval/system_bedrock_deepseek_lseval.yaml
  eval/system_vertex_claude_lseval.yaml
  eval/system_vertex_gemini_lseval.yaml
  tests/config/operator_install/olsconfig.crd.bedrock_deepseek_lseval.yaml
  tests/config/operator_install/olsconfig.crd.vertex_claude_lseval.yaml
  tests/config/operator_install/olsconfig.crd.vertex_gemini_lseval.yaml
  tests/e2e/evaluation/test_lseval_presubmit.py
  tests/scripts/test-lseval-presubmit.sh
  tests/scripts/utils.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3539 Replace dual-path audit with OTel-only span events
  ols/app/endpoints/ols.py
  ols/app/endpoints/streaming_ols.py
  ols/src/query_helpers/docs_summarizer.py
  ols/src/query_helpers/llm_execution_agent.py
  ols/src/tools/tools.py
  ols/utils/audit_logger.py
  ols/utils/otel.py
  ols/utils/suid.py
  runner.py
  tests/unit/conftest.py
  tests/unit/query_helpers/test_llm_execution_agent.py
  tests/unit/tools/test_tools.py
  tests/unit/utils/test_audit_logger.py
  tests/unit/utils/test_otel.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3648 bump pillow to 12.3.0 and pyasn1 to 0.6.4
  .konflux/requirements-build.txt
  .konflux/requirements.hashes.source.txt
  requirements.txt
  uv.lock
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-0000 Fix spec findings from 2026-07-23 verification
  .ai/spec/README.md
  .ai/spec/health-report.md
  .ai/spec/what/conversation-history.md
  .ai/spec/what/llm-providers.md
  .ai/spec/what/system-overview.md
  .ai/spec/what/tools.md
Due: none

fixing deepseek reference
  eval/system_bedrock_deepseek_lseval.yaml
  tests/config/operator_install/olsconfig.crd.bedrock_deepseek_lseval.yaml
  tests/scripts/test-lseval-presubmit.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3548 Omit temperature for models that deprecate it
  examples/olsconfig.yaml
  ols/app/models/config.py
  ols/src/llms/providers/provider.py
  tests/unit/app/models/test_config.py
  tests/unit/llms/providers/test_bedrock.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

adding a wait for ols and a retry to generated_service_certs_rotation, changed check condition for test_ca_service_certs_rotation and increased timeout (OKP pod takes longer to run)
  tests/e2e/test_api.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

upgrading gemini model and retrying query filter
  tests/config/operator_install/olsconfig.crd.google_vertex.yaml
  tests/config/operator_install/olsconfig.crd.google_vertex_tool_calling.yaml
  tests/e2e/test_streaming_query_endpoint.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Adding code owner sriroopar.
  OWNERS
Due: none

OLS-0000 Fix spec findings from 2026-07-24 verification
  .ai/spec/verification/lightspeed-service-report.md
  .ai/spec/what/audit-logging.md
  .ai/spec/what/conversation-history.md
  .ai/spec/what/rag.md
  .ai/spec/what/security.md
  .ai/spec/what/tools.md
Due: none

adding help to the invalid questions due to deepseek prioritizing help over assist
  tests/config/operator_install/olsconfig.crd.bedrock_deepseek.yaml
  tests/config/operator_install/olsconfig.crd.bedrock_deepseek_tool_calling.yaml
  tests/e2e/test_query_endpoint.py
  tests/e2e/test_streaming_query_endpoint.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3718 require all pod containers ready in e2e wait helper
  tests/e2e/utils/cluster.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3718 defer Solr version resolution into background thread
  runner.py
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3697 Update RAG spec for RHOKP standalone HTTPS service
  .ai/spec/what/rag.md
Due: none

adressing comments
  ols/utils/config.py
  runner.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

addressing comments
  tests/e2e/test_api.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3736 fix IPv6 addresses in no-proxy causing invalid port error
  ols/src/llms/providers/provider.py
  tests/unit/llms/providers/test_providers.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3081 Fix TLS hostname verification with custom certs
  ols/src/llms/providers/provider.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3080 Remove internal error details from HTTP responses
  ols/app/endpoints/mcp_apps.py
  ols/app/endpoints/ols.py
  ols/utils/errors_parsing.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3096 Add max_length validation to query field
  ols/app/models/models.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3100 Add size limits to attachment fields
  ols/app/models/models.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3077 Add user ownership to tool approval decisions
  ols/app/endpoints/tool_approvals.py
  ols/src/tools/approval.py
  ols/src/tools/tools.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

adding choices to fix precommit tests
  tests/e2e/conftest.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3548 Address CI failures and review feedback
  examples/olsconfig.yaml
  tests/unit/llms/providers/test_bedrock.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3736 Address CI and review feedback
  ols/src/llms/providers/provider.py
  tests/unit/llms/providers/test_providers.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3584: reduce e2e CI failures from readiness timeouts
  ols/app/endpoints/health.py
  tests/e2e/conftest.py
  tests/e2e/test_query_endpoint.py
  tests/e2e/test_streaming_query_endpoint.py
  tests/e2e/utils/adapt_ols_config.py
  tests/e2e/utils/cluster.py
  tests/e2e/utils/ols_installer.py
  tests/e2e/utils/wait_for_ols.py
  tests/scripts/utils.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

changing conditions for detecting query filter
  tests/e2e/test_query_endpoint.py
  tests/e2e/test_streaming_query_endpoint.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

ols-3755: specs update
  .ai/spec/README.md
  .ai/spec/how/llm-providers.md
  .ai/spec/what/config.md
  .ai/spec/what/llm-providers.md
  .ai/spec/what/system-overview.md
  docs/ai/providers.md
Due: none
