Repository openshift/lightspeed-service: changes, and which Prow jobs are due for each by the changed paths.
All: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

fips-image-scan-service:
  steps:
    dependencies:
      SCAN_IMAGE: lightspeed-service-api
    test:
    - ref: fips-check-image-scan

ci/prow/e2e-ols-cluster:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/fips-image-scan-service:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/integration:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/ols-evaluation:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/verify:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Adding A2A client
  ols/app/models/config.py
  ols/src/a2a/client.py
  ols/src/query_helpers/docs_summarizer.py
  ols/utils/config.py
  pyproject.toml
  tests/config/config_for_a2a_integration_tests.yaml
  tests/integration/test_a2a_client_headers.py
  tests/integration/test_metrics.py
  tests/unit/a2a_protocol/test_a2a_client.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Address review feedback: budget-driven offloading, per-session isolation, cleaner API
  ols/app/models/config.py
  ols/constants.py
  ols/src/query_helpers/docs_summarizer.py
  ols/src/tools/offloaded_content.py
  ols/src/tools/tools.py
  tests/unit/app/models/test_config.py
  tests/unit/tools/test_offloaded_content.py
  tests/unit/tools/test_tools.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Enabling cert rotation tests.
  tests/e2e/test_api.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

update dependencies
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
  pyproject.toml
  requirements-build.txt
  requirements.hashes.source.txt
  requirements.hashes.wheel.txt
  requirements.overrides.txt
  scripts/konflux_requirements.sh
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Add Google Vertex AI provider for Anthropic Claude models
  docs/ai/providers.md
  examples/olsconfig.yaml
  ols/app/models/config.py
  ols/constants.py
  ols/src/llms/providers/google_vertex.py
  ols/src/llms/providers/provider.py
  pyproject.toml
  tests/unit/llms/providers/test_google_vertex.py
  tests/unit/llms/providers/test_providers.py
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

feat: Google Vertex provider
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
  docs/ai/providers.md
  examples/olsconfig.yaml
  ols/app/models/config.py
  ols/constants.py
  ols/src/llms/providers/google_vertex_anthropic.py
  ols/src/llms/providers/provider.py
  ols/src/llms/providers/utils.py
  pyproject.toml
  requirements-build.txt
  requirements.hashes.source.txt
  requirements.hashes.wheel.txt
  tests/config/vertex_secret/service-account.json
  tests/unit/llms/providers/test_google_vertex_anthropic.py
  tests/unit/llms/providers/test_providers.py
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

fix: mypy issue error: Cannot access instance-only attribute "_custom_objects_api" on class object
  ols/src/auth/k8s.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Introduce TokenBudgetTracker for unified per-request token accounting
  docs/ai/config.md
  docs/config.puml
  ols/app/models/config.py
  ols/constants.py
  ols/src/query_helpers/docs_summarizer.py
  ols/src/tools/tools.py
  ols/utils/token_handler.py
  scripts/evaluation/utils/rag.py
  tests/integration/test_approvals.py
  tests/integration/test_ols.py
  tests/unit/app/models/test_config.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/tools/test_tools.py
  tests/unit/utils/test_token_handler.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Add Karpathy-Inspired agents,md information
  AGENTS.md
Due: none

Version bump to 1.0.12.
  docs/openapi.json
  ols/version.py
  scripts/build-container.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

feat: Google Vertex provider
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
  docs/ai/providers.md
  examples/olsconfig.yaml
  ols/app/models/config.py
  ols/constants.py
  ols/src/llms/providers/google_vertex_anthropic.py
  ols/src/llms/providers/provider.py
  ols/src/llms/providers/utils.py
  pyproject.toml
  requirements-build.txt
  requirements.hashes.source.txt
  requirements.hashes.wheel.txt
  tests/unit/llms/providers/test_google_vertex_anthropic.py
  tests/unit/llms/providers/test_providers.py
  tests/unit/llms/providers/utils.py
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Implementation of MCP e2e test
  tests/config/operator_install/olsconfig.crd.openai_mcp.yaml
  tests/e2e/conftest.py
  tests/e2e/mcp/olsconfig.yaml
  tests/e2e/mcp/server/Dockerfile
  tests/e2e/mcp/server/deployment.yaml
  tests/e2e/mcp/server/server.py
  tests/e2e/pytest.ini
  tests/e2e/test_mcp.py
  tests/e2e/utils/mcp_setup.py
  tests/scripts/test-e2e-cluster.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

avoiding configuring data exporter for disconnected (container would never become ready)
  tests/e2e/utils/adapt_ols_config.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

fixing lint and simplifying adapt_ols_config
  tests/e2e/utils/adapt_ols_config.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

docs: expand AGENTS.md with entry point, config, and workflow notes
  AGENTS.md
Due: none

feat: add chart generation instructions to troubleshooting prompt
  ols/src/prompts/prompts.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

adding rhaiis provider and fixing metrics for provider to name instead of type
  ols/app/metrics/metrics.py
  ols/src/query_helpers/docs_summarizer.py
  tests/config/operator_install/olsconfig.crd.rhaiis_vllm.yaml
  tests/integration/test_metrics.py
  tests/scripts/test-e2e-cluster-periodics.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

reverting a few metrics related changes
  ols/app/metrics/metrics.py
  ols/src/query_helpers/docs_summarizer.py
  tests/config/operator_install/olsconfig.crd.rhaiis_vllm.yaml
  tests/integration/test_metrics.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Linting fix
  ols/src/tools/offloaded_content.py
  ols/src/tools/tools.py
  tests/unit/tools/test_offloaded_content.py
  tests/unit/tools/test_tools.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Extract LLMExecutionAgent from DocsSummarizer
  .gitignore
  ols/src/query_helpers/docs_summarizer.py
  ols/src/query_helpers/llm_execution_agent.py
  tests/integration/test_approvals.py
  tests/integration/test_ols.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/query_helpers/test_llm_execution_agent.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-2882 rewrite spec files into what/how two-layer structure
  .ai/spec/README.md
  .ai/spec/how/README.md
  .ai/spec/how/cache.md
  .ai/spec/how/config.md
  .ai/spec/how/llm-providers.md
  .ai/spec/how/project-structure.md
  .ai/spec/how/query-pipeline.md
  .ai/spec/how/tools.md
  .ai/spec/what/README.md
  .ai/spec/what/agent-modes.md
  .ai/spec/what/api.md
  .ai/spec/what/auth.md
  .ai/spec/what/config.md
  .ai/spec/what/conversation-history.md
  .ai/spec/what/llm-providers.md
  .ai/spec/what/mcp-apps.md
  .ai/spec/what/observability.md
  .ai/spec/what/prompts.md
  .ai/spec/what/query-processing.md
  .ai/spec/what/quota.md
  .ai/spec/what/rag.md
  .ai/spec/what/security.md
  .ai/spec/what/skills.md
  .ai/spec/what/system-overview.md
  .ai/spec/what/tools.md
  AGENTS.md
Due: none

chore: bump dependencies to latest
  requirements.txt
  uv.lock
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Pre-warm tiktoken caching for non-runtime installs for disconnected env.
  Containerfile
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

adding A2A protocol to OLS
  docs/openapi.json
  ols/app/models/config.py
  ols/app/routers.py
  ols/src/a2a/__init__.py
  ols/src/a2a/client.py
  ols/src/a2a/server.py
  ols/src/query_helpers/docs_summarizer.py
  ols/utils/config.py
  pyproject.toml
  tests/config/config_for_a2a_integration_tests.yaml
  tests/integration/test_a2a_client_headers.py
  tests/integration/test_metrics.py
  tests/unit/a2a_protocol/__init__.py
  tests/unit/a2a_protocol/test_a2a.py
  tests/unit/a2a_protocol/test_a2a_client.py
  tests/unit/app/test_routers.py
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Default troubleshooting tool budget ratio to 0.5
  ols/app/models/config.py
  ols/constants.py
  ols/src/query_helpers/docs_summarizer.py
  tests/unit/app/models/test_config.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Format test_docs_summarizer.py with ruff
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Implementation of skills progressive disclosure
  docs/skills_progressive_disclosure.md
  ols/src/query_helpers/docs_summarizer.py
  ols/src/skills/skills_rag.py
  tests/unit/skills/test_skills_rag.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

chore(deps): update own-app-lightspeed-rag-content to 7dd8fe3
  Containerfile
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Raise default tool_budget_ratio from 0.25 to 0.5
  ols/app/models/config.py
  ols/constants.py
  ols/src/query_helpers/docs_summarizer.py
  tests/unit/app/models/test_config.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Adding all OLS supported providers to run lightspeed-evals.
  eval/system_azure_openai_lseval.yaml
  eval/system_rhelai_vllm_lseval.yaml
  eval/system_rhoai_vllm_lseval.yaml
  eval/system_watsonx_lseval.yaml
  eval/troubleshooting/evals.yaml
  eval/troubleshooting/olsconfig/olsconfig-azure-openai.yaml
  eval/troubleshooting/olsconfig/olsconfig-openai.yaml
  eval/troubleshooting/olsconfig/olsconfig-rhelai-vllm.yaml
  eval/troubleshooting/olsconfig/olsconfig-rhoai-vllm.yaml
  eval/troubleshooting/olsconfig/olsconfig-watsonx.yaml
  eval/troubleshooting/system.yaml
  tests/e2e/conftest.py
  tests/e2e/evaluation/test_lseval_periodic.py
  tests/e2e/evaluation/test_lseval_troubleshooting.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-2277: Offload large tool outputs to disk with search + read retrieval
  ols/app/main.py
  ols/app/models/config.py
  ols/constants.py
  ols/src/query_helpers/docs_summarizer.py
  ols/src/query_helpers/llm_execution_agent.py
  ols/src/tools/offloaded_content.py
  ols/src/tools/tools.py
  tests/e2e/test_tool_output_offloading.py
  tests/unit/app/models/test_config.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/tools/test_offloaded_content.py
  tests/unit/tools/test_tools.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

E2E: harden install and pod wait; disable introspection for MCP test
  tests/config/operator_install/olsconfig.crd.openai_mcp.yaml
  tests/e2e/utils/adapt_ols_config.py
  tests/e2e/utils/cluster.py
  tests/e2e/utils/ols_installer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OTA-1927: Eval cluster update prompts
  eval/eval_data.yaml
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Picking up lightspeed eval suite and removing troubleshooting evals.
  Makefile
  eval/system_azure_openai_lseval.yaml
  eval/system_openai_lseval.yaml
  eval/system_watsonx_lseval.yaml
  eval/troubleshooting/system.yaml
  tests/config/operator_install/olsconfig.crd.azure_openai_lseval.yaml
  tests/config/operator_install/olsconfig.crd.watsonx_lseval.yaml
  tests/e2e/conftest.py
  tests/e2e/evaluation/test_lseval_periodic.py
  tests/e2e/evaluation/test_lseval_troubleshooting.py
  tests/scripts/test-lseval-periodic.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Fixing temperature for judge llm and clearning summarization.
  eval/system_openai_lseval.yaml
  tests/e2e/evaluation/test_lseval_periodic.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Path conditions:
  fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-ols-cluster: any of: ^(Containerfile.*|Makefile|manifests/.*|ols/.*|pyproject.toml|pdm.lock|scripts/.*|tests/.*)$
  ci/prow/fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/integration: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/ols-evaluation: any of: ^(Containerfile|tests/e2e/scripts/test-evaluation.sh|tests/e2e/scripts/utils.sh|Makefile|tests/e2e/evaluation/.*|ols/src/llms/providers/.*|ols/src/prompts/.*|ols/src/query_helpers/docs_summarizer.py|ols/src/rag_index/.*|ols/src/tools/.*|ols/utils/token_handler.py|ols/constants.py)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
