Repository openshift/lightspeed-service: changes, and which Prow jobs are due for each by the changed paths.
All: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

fips-image-scan-service:
  steps:
    dependencies:
      SCAN_IMAGE: lightspeed-service-api
    test:
    - ref: fips-check-image-scan

ci/prow/e2e-ols-cluster:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/fips-image-scan-service:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/integration:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/ols-evaluation:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/verify:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Adding more lcore skips and fixing some tests to pass with lcore
  tests/e2e/test_api.py
  tests/e2e/test_attachments.py
  tests/e2e/test_query_endpoint.py
  tests/e2e/test_streaming_query_endpoint.py
  tests/e2e/test_user_feedback.py
  tests/e2e/utils/metrics.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Update own-app-lightspeed-rag-content
  Containerfile
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Upgrade watsonx to 4-h-small. If tool-calling is still problematic, we'll withold from using it with watsonx
  scripts/evaluation/driver.py
  scripts/evaluation/eval_data/question_answer_pair.json
  scripts/evaluation/utils/constants.py
  tests/config/operator_install/olsconfig.crd.evaluation.yaml
  tests/config/operator_install/olsconfig.crd.watsonx.yaml
  tests/config/operator_install/olsconfig.crd.watsonx_byok1.yaml
  tests/config/operator_install/olsconfig.crd.watsonx_byok2.yaml
  tests/config/operator_install/olsconfig.crd.watsonx_tool_calling.yaml
  tests/e2e/conftest.py
  tests/e2e/test_api.py
  tests/scripts/test-e2e-cluster-periodics.sh
  tests/scripts/test-e2e-cluster.sh
  tests/scripts/test-evaluation.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

deactivating granite tool calling tests in pre-commit pipelines
  tests/scripts/test-e2e-cluster.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

upgrading references to 4o mini to 4.1 mini and 4o to 5.1
  Makefile
  eval/system.yaml
  scripts/evaluation/eval_data/question_answer_pair.json
  scripts/evaluation/eval_data/result/README.md
  scripts/evaluation/utils/constants.py
  tests/config/operator_install/olsconfig.crd.azure_openai.yaml
  tests/config/operator_install/olsconfig.crd.azure_openai_tool_calling.yaml
  tests/config/operator_install/olsconfig.crd.evaluation.yaml
  tests/config/operator_install/olsconfig.crd.openai.yaml
  tests/config/operator_install/olsconfig.crd.openai_data_export.yaml
  tests/config/operator_install/olsconfig.crd.openai_quota.yaml
  tests/config/operator_install/olsconfig.crd.openai_tool_calling.yaml
  tests/e2e/conftest.py
  tests/e2e/test_api.py
  tests/scripts/test-e2e-cluster-periodics.sh
  tests/scripts/test-e2e-cluster.sh
  tests/scripts/test-evaluation.sh
  tests/unit/llms/providers/test_azure_openai.py
  tests/unit/llms/providers/test_openai.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Add accessModes to the Konflux volumenClaimTemplate
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
Due: none

Fix spurious GeneratorExit errors in LangChain streaming logs
  ols/src/query_helpers/docs_summarizer.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Refactor history retrieval in preparation to summarization
  ols/app/endpoints/ols.py
  ols/app/endpoints/streaming_ols.py
  ols/app/models/models.py
  ols/src/query_helpers/docs_summarizer.py
  ols/src/query_helpers/history_support.py
  pdm.lock
  tests/config/config_for_compression_tests.yaml
  tests/integration/pytest.ini
  tests/integration/test_conversation_compression.py
  tests/integration/test_ols.py
  tests/mock_classes/mock_langchain_interface.py
  tests/mock_classes/mock_llm_loader.py
  tests/unit/app/endpoints/test_ols.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/query_helpers/test_history_support.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Pin jiter to 0.10.0 to fix Konflux hermetic build failure
  pdm.lock
  pyproject.toml
  requirements.txt
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

added tools filtering
  ols/src/query_helpers/docs_summarizer.py
  ols/src/rag_index/index_loader.py
  ols/src/tools/tools_rag/__init__.py
  ols/src/tools/tools_rag/hybrid_tools_rag.py
  ols/utils/config.py
  ols/utils/mcp_utils.py
  pdm.lock
  pyproject.toml
  requirements.txt
  tests/config/_file_token_file.txt
  tests/config/config_with_tools_rag.yaml
  tests/integration/test_ols.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/tools/test_hybrid_tools_rag.py
  tests/unit/utils/test_mcp_utils.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Enable hermeto permissive mode for prefetch-dependencies
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
Due: none

Create mcp approval support configuration
  ols/app/models/config.py
  ols/utils/config.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Increase build-source-image memory limit to 12Gi
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
Due: none

Bumo memory for build jobs
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
Due: none

Don't export editables
  Makefile
  requirements.txt
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Use UV instead of PDM
  .gitignore
  AGENTS.md
  CONTRIBUTING.md
  Makefile
  README.md
  docs/requirements.uml
  docs/requirements_per_arch.uml
  eval/README.md
  pdm.lock
  pyproject.toml
  requirements.txt
  scripts/evaluation/README.md
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Remove jiter lock
  pyproject.toml
  requirements.txt
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Linting updates after dep bump
  ols/src/auth/k8s.py
  tests/benchmarks/test_attachment_appender.py
  tests/benchmarks/test_config_loader.py
  tests/unit/utils/test_config.py
  tests/unit/utils/test_errors_parsing.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Fix integration test for version check
  tests/integration/test_project_version_consistency.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Fix requirements generation
  Makefile
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Update AGENTS.md and add detailed AI reference docs
  AGENTS.md
  docs/ai/config.md
  docs/ai/git.md
  docs/ai/providers.md
  docs/ai/testing.md
Due: none

Fix test-eval target
  Makefile
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Bump Tekton workspace storage from 5Gi to 10Gi
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
Due: none

Change the order of steps before commit
  docs/ai/git.md
Due: none

Add eval dep
  pyproject.toml
  requirements.txt
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

upgrading references to 4o mini to 4.1 mini and 4o to 5.1
  Makefile
  eval/system.yaml
  scripts/evaluation/eval_data/question_answer_pair.json
  scripts/evaluation/eval_data/result/README.md
  scripts/evaluation/utils/constants.py
  tests/config/operator_install/olsconfig.crd.azure_openai.yaml
  tests/config/operator_install/olsconfig.crd.azure_openai_tool_calling.yaml
  tests/config/operator_install/olsconfig.crd.evaluation.yaml
  tests/config/operator_install/olsconfig.crd.openai.yaml
  tests/config/operator_install/olsconfig.crd.openai_data_export.yaml
  tests/config/operator_install/olsconfig.crd.openai_quota.yaml
  tests/config/operator_install/olsconfig.crd.openai_tool_calling.yaml
  tests/e2e/conftest.py
  tests/e2e/test_api.py
  tests/scripts/test-e2e-cluster-periodics.sh
  tests/scripts/test-e2e-cluster.sh
  tests/scripts/test-evaluation.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Bump dependencies
  requirements.txt
  uv.lock
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Regenerate api schema
  docs/openapi.json
Due: none

Linting fixes relevant to dep bump
  ols/runners/uvicorn.py
  tests/e2e/utils/data_collector_control.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Capture structured content from MCP tool artifacts
  ols/src/tools/tools.py
  tests/integration/test_ols.py
  tests/mock_classes/mock_tools.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/tools/test_tools.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Convert version-update Cursor rule to agent skill
  .cursor/rules/version-update.mdc
  .cursor/skills/version-update/SKILL.md
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Forward structured_content from MCP tool artifacts in streamed results
  ols/src/query_helpers/docs_summarizer.py
  tests/mock_classes/mock_tools.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Fix MCP tools with no arguments causing 500 errors
  ols/src/query_helpers/docs_summarizer.py
  ols/utils/mcp_utils.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/utils/test_mcp_utils.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Improve schema normalization for MCP tools without arguments
  ols/src/query_helpers/docs_summarizer.py
  ols/utils/mcp_utils.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

WIP: Stream reasoning tokens for OpenAI reasoning models
  ols/app/endpoints/streaming_ols.py
  ols/app/metrics/token_counter.py
  ols/app/models/models.py
  ols/src/llms/providers/openai.py
  ols/src/llms/providers/provider.py
  ols/src/query_helpers/docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Propagate tool metadata and server name in streamed tool results
  ols/src/query_helpers/docs_summarizer.py
  tests/mock_classes/mock_tools.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Extract _build_tool_result_chunks from iterate_with_tools
  ols/src/query_helpers/docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Enrich tool_call events with tool_meta and server_name
  ols/src/query_helpers/docs_summarizer.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Path conditions:
  fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-ols-cluster: any of: ^(Containerfile.*|Makefile|manifests/.*|ols/.*|pyproject.toml|pdm.lock|scripts/.*|tests/.*)$
  ci/prow/fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/integration: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/ols-evaluation: any of: ^(Containerfile|tests/e2e/scripts/test-evaluation.sh|tests/e2e/scripts/utils.sh|Makefile|tests/e2e/evaluation/.*|ols/src/llms/providers/.*|ols/src/prompts/.*|ols/src/query_helpers/docs_summarizer.py|ols/src/rag_index/.*|ols/src/tools/.*|ols/utils/token_handler.py|ols/constants.py)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
