Repository openshift/lightspeed-service: changes, and which Prow jobs are due for each by the changed paths.
All: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

fips-image-scan-service:
  steps:
    dependencies:
      SCAN_IMAGE: lightspeed-service-api
    test:
    - ref: fips-check-image-scan

ci/prow/e2e-ols-cluster:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/fips-image-scan-service:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/integration:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/ols-evaluation:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/verify:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ols-3755: add Anthropic provider (direct to Claude AI)
  .konflux/requirements-build.txt
  .konflux/requirements.hashes.source.txt
  ols/app/models/config.py
  ols/constants.py
  ols/src/llms/providers/anthropic.py
  ols/src/llms/providers/provider.py
  pyproject.toml
  tests/unit/llms/providers/test_anthropic.py
  tests/unit/llms/providers/test_providers.py
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3352: fix ModernType TLS profile startup crash
  ols/runners/uvicorn.py
  ols/utils/ssl.py
  tests/integration/test_runners.py
  tests/unit/runners/test_uvicorn_runner.py
  tests/unit/utils/test_ssl.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

fix: address CodeRabbit review comments (OLS-3352)
  ols/utils/ssl.py
  tests/unit/utils/test_ssl.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

adding fixture for ca certs rotation and must gather condition for missing pods
  tests/e2e/conftest.py
  tests/e2e/utils/cluster.py
  tests/scripts/must_gather.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Updating rhaiis provider endpoint
  tests/config/operator_install/olsconfig.crd.rhaiis_vllm.yaml
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

changing gemini from 3.5 flash which is not available to us to 3.1-flash-lite
  eval/system_vertex_gemini_lseval.yaml
  tests/config/operator_install/olsconfig.crd.vertex_gemini_lseval.yaml
  tests/scripts/test-lseval-presubmit.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

feat: in-process LLM credential hot-reload (RFE-9380)
  docs/credential-hot-reload.md
  ols/app/models/config.py
  ols/src/llms/providers/azure_openai.py
  ols/src/llms/providers/bedrock.py
  ols/src/llms/providers/google_vertex.py
  ols/src/llms/providers/openai.py
  ols/src/llms/providers/rhelai_vllm.py
  ols/src/llms/providers/rhoai_vllm.py
  ols/src/llms/providers/watsonx.py
  ols/utils/checks.py
  tests/unit/app/models/test_config.py
  tests/unit/llms/providers/test_bedrock.py
  tests/unit/llms/providers/test_openai.py
  tests/unit/utils/test_checks.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Address code review: consolidate AWS cred reads and guard optional role_arn
  ols/app/models/config.py
  ols/src/llms/providers/bedrock.py
  tests/unit/llms/providers/test_bedrock.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3450: Gate hot-reload on credential_hot_reload config flag
  ols/app/models/config.py
  ols/src/llms/providers/bedrock.py
  tests/unit/app/models/test_config.py
  tests/unit/llms/providers/test_bedrock.py
  tests/unit/llms/providers/test_openai.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3548 Use monkeypatch for dev_config mutation; clarify stripping order
  ols/src/llms/providers/provider.py
  tests/unit/llms/providers/test_bedrock.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3584: exclude rag tests from non-tool-calling e2e suites
  tests/scripts/test-e2e-cluster-periodics.sh
  tests/scripts/test-e2e-cluster.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3799: Fix permanent Solr connection loss when RHOKP starts slowly
  ols/src/rag_index/solr_support.py
  ols/utils/config.py
  runner.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

PR Title: OLS-3797 Simplify TLS cert handling — leverage operator-set SSL_CERT_FILE
  .ai/spec/how/llm-providers.md
  .ai/spec/how/project-structure.md
  .ai/spec/how/tools.md
  .ai/spec/what/audit-logging.md
  .ai/spec/what/config.md
  .ai/spec/what/llm-providers.md
  .ai/spec/what/rag.md
  .ai/spec/what/security.md
  .ai/spec/what/system-overview.md
  README.md
  docs/config.puml
  ols/app/models/config.py
  ols/constants.py
  ols/src/config_status/config_status.py
  ols/src/llms/providers/azure_openai.py
  ols/src/llms/providers/bedrock.py
  ols/src/llms/providers/openai.py
  ols/src/llms/providers/provider.py
  ols/src/llms/providers/rhelai_vllm.py
  ols/src/llms/providers/rhoai_vllm.py
  ols/utils/certificates.py
  ols/utils/mcp_utils.py
  ols/utils/otel.py
  runner.py
  tests/config/valid_config.yaml
  tests/config/valid_config_without_mcp.yaml
  tests/unit/app/models/test_config.py
  tests/unit/config_status/test_config_status.py
  tests/unit/extra_certs/test_extra_certs.py
  tests/unit/llms/providers/test_azure_openai.py
  tests/unit/llms/providers/test_openai.py
  tests/unit/llms/providers/test_providers.py
  tests/unit/llms/providers/test_rhelai_vllm.py
  tests/unit/llms/providers/test_rhoai_vllm.py
  tests/unit/runners/test_quota_scheduler_runner.py
  tests/unit/runners/test_uvicorn_runner.py
  tests/unit/utils/test_config.py
  tests/unit/utils/test_mcp_utils.py
  tests/unit/utils/test_otel.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

changing to valid deepseek model
  tests/config/operator_install/olsconfig.crd.bedrock_deepseek.yaml
  tests/config/operator_install/olsconfig.crd.bedrock_deepseek_tool_calling.yaml
  tests/scripts/test-e2e-cluster-periodics.sh
  tests/scripts/test-e2e-cluster.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3221 Add PostgreSQL auto-recovery after DB restart
  docs/openapi.json
  ols/app/endpoints/health.py
  ols/app/models/config.py
  ols/app/models/models.py
  ols/constants.py
  ols/src/cache/postgres_cache.py
  ols/utils/postgres.py
  tests/integration/test_liveness_readiness.py
  tests/unit/app/endpoints/test_health.py
  tests/unit/app/models/test_config.py
  tests/unit/cache/test_postgres_cache.py
  tests/unit/cache/test_postgres_cache_transaction_fix.py
  tests/unit/utils/test_postgres.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

removing temperature param and pass threshold.
  eval/system_azure_openai_lseval.yaml
  eval/system_openai_lseval.yaml
  eval/system_rhelai_vllm_lseval.yaml
  eval/system_rhoai_vllm_lseval.yaml
  eval/system_watsonx_lseval.yaml
  eval/troubleshooting/system.yaml
  tests/e2e/evaluation/test_lseval_periodic.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3601 PostgresCache.ready() reconnect after transient postgres outage
  ols/src/cache/postgres_cache.py
  tests/unit/cache/test_postgres_cache.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

had missed a place in tests
  tests/scripts/test-e2e-cluster-periodics.sh
  tests/scripts/test-e2e-cluster.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3540 Add MCP semantic convention attributes on tool spans
  ols/src/tools/tools.py
  ols/utils/mcp_utils.py
  tests/unit/tools/test_tools.py
  tests/unit/utils/test_mcp_utils.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3541 Add gen_ai.* Prometheus histogram metrics
  ols/app/metrics/__init__.py
  ols/app/metrics/metrics.py
  ols/app/metrics/token_counter.py
  ols/src/query_helpers/llm_execution_agent.py
  ols/src/tools/tools.py
  tests/unit/app/metrics/test_token_counter.py
  tests/unit/query_helpers/test_llm_execution_agent.py
  tests/unit/tools/test_tools_metrics.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3832: Replace cachi2.env with HERMETIC_BUILD build arg
  Containerfile
  build.args
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3353 Export tls-scan artifacts to ARTIFACT_DIR for CI collection
  scripts/tls-scan.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

updating spec
  .ai/spec/what/security.md
Due: none

changing to valid deepseek model
  tests/config/operator_install/olsconfig.crd.bedrock_deepseek.yaml
  tests/config/operator_install/olsconfig.crd.bedrock_deepseek_tool_calling.yaml
  tests/e2e/test_query_endpoint.py
  tests/e2e/test_streaming_query_endpoint.py
  tests/e2e/utils/ols_installer.py
  tests/scripts/test-e2e-cluster-periodics.sh
  tests/scripts/test-e2e-cluster.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3540 Add MCP semantic convention attributes on tool spans
  .ai/spec/what/audit-logging.md
  ols/src/tools/tools.py
  ols/utils/audit_logger.py
  ols/utils/mcp_utils.py
  tests/unit/tools/test_tools.py
  tests/unit/utils/test_audit_logger.py
  tests/unit/utils/test_mcp_utils.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Address review feedback on artifact export
  .ai/spec/what/security.md
  Makefile
  scripts/tls-scan.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3541 Add gen_ai.* Prometheus histogram metrics
  .ai/spec/what/observability.md
  ols/app/metrics/__init__.py
  ols/app/metrics/metrics.py
  ols/app/metrics/token_counter.py
  ols/src/query_helpers/llm_execution_agent.py
  ols/src/tools/tools.py
  tests/unit/app/metrics/test_token_counter.py
  tests/unit/query_helpers/test_llm_execution_agent.py
  tests/unit/tools/test_tools_metrics.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3824 fix: resolve CVE-2026-68770 — bump sentence-transformers to 5.7.0
  .konflux/requirements-build.txt
  .konflux/requirements.hashes.source.txt
  .konflux/requirements.hashes.wheel.txt
  .konflux/requirements.overrides.txt
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
  pyproject.toml
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3072 Fix remaining test failures from SAR changes
  docs/openapi.json
  tests/integration/test_ols.py
  tests/integration/test_tool_approvals.py
  tests/unit/app/endpoints/test_ols.py
  tests/unit/app/endpoints/test_streaming_ols.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3081 Fix TLS hostname verification with custom certs
  ols/src/llms/providers/provider.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3072 Fix tests and add coverage for SAR security fixes
  ols/src/tools/tools.py
  tests/unit/app/endpoints/test_tool_approvals.py
  tests/unit/app/models/test_models.py
  tests/unit/tools/test_approval.py
  tests/unit/utils/test_errors_parsing.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3077 Add user ownership to tool approval decisions
  ols/app/endpoints/tool_approvals.py
  ols/src/tools/approval.py
  ols/src/tools/tools.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3072 Fix black formatting
  tests/integration/test_tool_approvals.py
  tests/unit/app/endpoints/test_ols.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3096 Add max_length validation to query field
  ols/app/models/models.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3100 Add size limits to attachment fields
  ols/app/models/models.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3080 Remove internal error details from HTTP responses
  ols/app/endpoints/mcp_apps.py
  ols/app/endpoints/ols.py
  ols/utils/errors_parsing.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3072 Fix e2e tests and rebase conflict for SAR changes
  ols/src/llms/providers/provider.py
  tests/e2e/test_query_endpoint.py
  tests/e2e/test_streaming_query_endpoint.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3783 fix: resolve CVE-2026-69243/69244 — bump aiohttp to 3.14.3
  .konflux/requirements-build.txt
  .konflux/requirements.hashes.source.txt
  .konflux/requirements.hashes.wheel.txt
  .konflux/requirements.overrides.txt
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
  pyproject.toml
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3763 fix: resolve CVE-2026-61536 — bump banks to 2.5.0
  .konflux/requirements-build.txt
  .konflux/requirements.hashes.source.txt
  .konflux/requirements.hashes.wheel.txt
  .konflux/requirements.overrides.txt
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
  pyproject.toml
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Path conditions:
  fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-ols-cluster: any of: ^(Containerfile.*|Makefile|manifests/.*|ols/.*|pyproject.toml|pdm.lock|scripts/.*|tests/.*)$
  ci/prow/fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/integration: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/ols-evaluation: any of: ^(Containerfile|tests/e2e/scripts/test-evaluation.sh|tests/e2e/scripts/utils.sh|Makefile|tests/e2e/evaluation/.*|ols/src/llms/providers/.*|ols/src/prompts/.*|ols/src/query_helpers/docs_summarizer.py|ols/src/rag_index/.*|ols/src/tools/.*|ols/utils/token_handler.py|ols/constants.py)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
