Repository openshift/lightspeed-service: changes, and which Prow jobs are due for each by the changed paths.
All: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/4.18-ols-evaluation, ci/prow/fips-image-scan-service

Path conditions:
  fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/4.18-e2e-ols-cluster: any of: ^(Containerfile.*|Makefile|manifests/.*|ols/.*|pyproject.toml|pdm.lock|scripts/.*|tests/.*)$
  ci/prow/4.18-ols-evaluation: any of: ^(Containerfile|tests/e2e/scripts/test-evaluation.sh|tests/e2e/scripts/utils.sh|Makefile|tests/e2e/evaluation/.*|ols/src/llms/providers/.*|ols/src/prompts/.*|ols/src/query_helpers/docs_summarizer.py|ols/src/rag_index/.*|ols/src/tools/.*|ols/utils/token_handler.py|ols/constants.py)$
  ci/prow/fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$

Update konflux tasks
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
Due: none

updated tekton references
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
Due: none

updated init tekton task
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
Due: none

update version to 1.0.9
  docs/openapi.json
  ols/version.py
  scripts/build-container.sh
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Prefix make schema target
  Makefile
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/4.18-ols-evaluation, ci/prow/fips-image-scan-service

Add conversations endpoints
  docs/openapi.json
  ols/app/endpoints/conversations.py
  ols/app/models/models.py
  ols/app/routers.py
  ols/src/cache/cache.py
  ols/src/cache/in_memory_cache.py
  ols/src/cache/postgres_cache.py
  tests/unit/app/endpoints/test_conversations.py
  tests/unit/app/test_routers.py
  tests/unit/cache/test_in_memory_cache.py
  tests/unit/cache/test_postgres_cache.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Scaling up operator pod to run finalizer on olsconfig deletion
  tests/e2e/utils/adapt_ols_config.py
  tests/scripts/utils.sh
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

removed additional mcp transport, added MCP headers to query, streamlined MCP Auth resolution
  README.md
  docs/config.puml
  examples/olsconfig.yaml
  ols/app/models/config.py
  ols/constants.py
  ols/src/config_status/config_status.py
  ols/src/query_helpers/docs_summarizer.py
  ols/src/tools/mcp_config_builder.py
  ols/utils/checks.py
  tests/config/valid_config.yaml
  tests/integration/test_ols.py
  tests/unit/app/models/test_config.py
  tests/unit/config_status/test_config_status.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/tools/test_mcp_config_builder.py
  tests/unit/utils/test_checks.py
  tests/unit/utils/test_config.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/4.18-ols-evaluation, ci/prow/fips-image-scan-service

addressed review comments
  ols/app/models/config.py
  ols/src/query_helpers/docs_summarizer.py
  ols/utils/checks.py
  tests/config/valid_config.yaml
  tests/unit/app/models/test_config.py
  tests/unit/utils/test_checks.py
  tests/unit/utils/test_config.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/4.18-ols-evaluation, ci/prow/fips-image-scan-service

Add retry for liveness smoketest
  tests/e2e/test_api.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

add boris as approver
  OWNERS
Due: none

readme update
  README.md
Due: none

Adding adaptation to lcore tests
  tests/e2e/conftest.py
  tests/e2e/pytest.ini
  tests/e2e/test_api.py
  tests/e2e/test_attachments.py
  tests/e2e/test_query_endpoint.py
  tests/e2e/utils/adapt_ols_config.py
  tests/e2e/utils/cluster.py
  tests/e2e/utils/constants.py
  tests/e2e/utils/data_collector_control.py
  tests/e2e/utils/metrics.py
  tests/e2e/utils/ols_installer.py
  tests/e2e/utils/wait_for_ols.py
  tests/scripts/test-e2e-cluster.sh
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Adding more lcore skips and fixing some tests to pass with lcore
  tests/e2e/test_api.py
  tests/e2e/test_attachments.py
  tests/e2e/test_query_endpoint.py
  tests/e2e/test_streaming_query_endpoint.py
  tests/e2e/test_user_feedback.py
  tests/e2e/utils/metrics.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

OLS-2492: Have Konflux apply the 'latest' floating tag to the images it builds
  Containerfile
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/4.18-ols-evaluation, ci/prow/fips-image-scan-service

Check for conversation id before update attempt
  docs/openapi.json
  ols/app/endpoints/conversations.py
  tests/unit/app/endpoints/test_conversations.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

add alternative eval7 answer - post rag 384056d
  scripts/evaluation/eval_data/question_answer_pair.json
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Use token buffer
  ols/utils/token_handler.py
  tests/integration/test_ols.py
  tests/unit/utils/test_token_handler.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/4.18-ols-evaluation, ci/prow/fips-image-scan-service

fixing linting
  tests/e2e/test_api.py
  tests/e2e/test_attachments.py
  tests/e2e/test_query_endpoint.py
  tests/e2e/test_streaming_query_endpoint.py
  tests/e2e/test_user_feedback.py
  tests/e2e/utils/adapt_ols_config.py
  tests/e2e/utils/cluster.py
  tests/e2e/utils/constants.py
  tests/e2e/utils/data_collector_control.py
  tests/e2e/utils/metrics.py
  tests/e2e/utils/ols_installer.py
  tests/e2e/utils/wait_for_ols.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Cumulative tool budget
  ols/src/query_helpers/docs_summarizer.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/4.18-ols-evaluation, ci/prow/fips-image-scan-service

Update konflux tasks ref
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
Due: none

readme update
  README.md
  docs/config.puml
  examples/olsconfig.yaml
  ols/utils/checks.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Clair scan update
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
Due: none

Lint fix
  ols/src/query_helpers/docs_summarizer.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/4.18-ols-evaluation, ci/prow/fips-image-scan-service

Update renovate config
  renovate.json
Due: fips-image-scan-service, ci/prow/fips-image-scan-service

Reenable konflux tasks bumps
  renovate.json
Due: fips-image-scan-service, ci/prow/fips-image-scan-service

update rpms-signature task
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
Due: none

Deactivating operator pod for data collection test
  tests/e2e/test_api.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Update konflux refs
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
Due: none

Extend CacheEntry with tools
  ols/app/models/models.py
  tests/unit/app/models/test_models.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Store tools in cache
  ols/app/endpoints/ols.py
  ols/app/endpoints/streaming_ols.py
  tests/unit/app/endpoints/test_ols.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Include buffer for token calc
  ols/src/query_helpers/docs_summarizer.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/4.18-ols-evaluation, ci/prow/fips-image-scan-service

Fix test
  tests/integration/test_ols.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Include tools defs in token calculation
  ols/src/query_helpers/docs_summarizer.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/4.18-ols-evaluation, ci/prow/fips-image-scan-service
