Repository openshift/lightspeed-service: changes, and which Prow jobs are due for each by the changed paths.
All: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Path conditions:
  fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-ols-cluster: any of: ^(Containerfile.*|Makefile|manifests/.*|ols/.*|pyproject.toml|pdm.lock|scripts/.*|tests/.*)$
  ci/prow/fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/integration: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/ols-evaluation: any of: ^(Containerfile|tests/e2e/scripts/test-evaluation.sh|tests/e2e/scripts/utils.sh|Makefile|tests/e2e/evaluation/.*|ols/src/llms/providers/.*|ols/src/prompts/.*|ols/src/query_helpers/docs_summarizer.py|ols/src/rag_index/.*|ols/src/tools/.*|ols/utils/token_handler.py|ols/constants.py)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$

OLS-0000 Reduce E2E CI log noise
  Makefile
  tests/e2e/conftest.py
  tests/e2e/test_api.py
  tests/e2e/test_query_endpoint.py
  tests/e2e/utils/client.py
  tests/e2e/utils/cluster.py
  tests/e2e/utils/data_collector_control.py
  tests/unit/e2e/test_logging.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-0000 Align transcript cleanup assertion
  tests/e2e/test_api.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-0000 Format E2E test file
  tests/e2e/test_api.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-4293: Pass configured model temperature to LLM providers
  .ai/spec/what/config.md
  .ai/spec/what/llm-providers.md
  docs/ai/config.md
  docs/ai/providers.md
  examples/olsconfig.yaml
  ols/app/models/config.py
  ols/src/llms/providers/bedrock.py
  ols/src/llms/providers/google_vertex.py
  ols/src/llms/providers/provider.py
  ols/src/llms/providers/rhelai_vllm.py
  ols/src/llms/providers/rhoai_vllm.py
  ols/src/llms/providers/watsonx.py
  tests/unit/app/models/test_config.py
  tests/unit/llms/providers/test_azure_openai.py
  tests/unit/llms/providers/test_bedrock.py
  tests/unit/llms/providers/test_google_vertex.py
  tests/unit/llms/providers/test_openai.py
  tests/unit/llms/providers/test_providers.py
  tests/unit/llms/providers/test_rhelai_vllm.py
  tests/unit/llms/providers/test_rhoai_vllm.py
  tests/unit/llms/providers/test_watsonx.py
  tests/unit/rhoai/test_vllm_model_profiles.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-0000: Bump Python dependencies (2026-09-17)
  .konflux/requirements-build.txt
  .konflux/requirements.hashes.source.txt
  .konflux/requirements.hashes.wheel.txt
  requirements.txt
  scripts/verify_hermetic_requirements.sh
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3884 Handle absent feedback directory in e2e
  tests/e2e/test_api.py
  tests/e2e/test_user_feedback.py
  tests/e2e/utils/cluster.py
  tests/unit/e2e/test_cluster.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-0000 constrain matplotlib for LSEval compatibility
  pyproject.toml
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-0000 Remove obsolete CLAUDE.md
  CLAUDE.md
Due: none

OLS-0000 increase LSEval judge token budget
  eval/system_openai_lseval.yaml
  eval/system_watsonx_lseval.yaml
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

remove bedrock deepseek tests. Create bedrock openai tests. Move from gpt5.4-mini to gpt6-sol on all openai model providers.
  .ai/spec/how/e2e-bedrock.md
  eval/scripts/build_daily_eval_trends.py
  eval/system.yaml
  eval/system_azure_openai_lseval.yaml
  eval/system_bedrock_openai_lseval.yaml
  eval/system_cluster_updates.yaml
  eval/system_openai_lseval.yaml
  eval/troubleshooting/olsconfig/olsconfig-azure-openai.yaml
  eval/troubleshooting/olsconfig/olsconfig-openai.yaml
  tests/config/operator_install/olsconfig.crd.azure_openai.yaml
  tests/config/operator_install/olsconfig.crd.azure_openai_lseval.yaml
  tests/config/operator_install/olsconfig.crd.azure_openai_tool_calling.yaml
  tests/config/operator_install/olsconfig.crd.bedrock_openai.yaml
  tests/config/operator_install/olsconfig.crd.bedrock_openai_lseval.yaml
  tests/config/operator_install/olsconfig.crd.bedrock_openai_tool_calling.yaml
  tests/config/operator_install/olsconfig.crd.evaluation.yaml
  tests/config/operator_install/olsconfig.crd.openai.yaml
  tests/config/operator_install/olsconfig.crd.openai_cluster_updates.yaml
  tests/config/operator_install/olsconfig.crd.openai_data_export.yaml
  tests/config/operator_install/olsconfig.crd.openai_lseval.yaml
  tests/config/operator_install/olsconfig.crd.openai_mcp.yaml
  tests/config/operator_install/olsconfig.crd.openai_quota.yaml
  tests/config/operator_install/olsconfig.crd.openai_tool_calling.yaml
  tests/e2e/conftest.py
  tests/e2e/evaluation/test_lseval_presubmit.py
  tests/e2e/test_api.py
  tests/scripts/lseval-short-common.sh
  tests/scripts/test-cluster-updates.sh
  tests/scripts/test-e2e-cluster-periodics.sh
  tests/scripts/test-e2e-cluster.sh
  tests/unit/evaluation/test_lseval_daily.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-4207 OLS-4208 OLS-4209 add Classic tool-result inspection
  ols/app/endpoints/ols.py
  ols/app/endpoints/streaming_ols.py
  ols/app/models/config.py
  ols/src/prompts/prompts.py
  ols/src/query_helpers/docs_summarizer.py
  ols/src/query_helpers/llm_execution_agent.py
  ols/src/tools/tool_result_inspection.py
  ols/src/tools/tools.py
  ols/utils/audit_logger.py
  tests/mock_classes/mock_llm_loader.py
  tests/unit/app/endpoints/test_ols.py
  tests/unit/app/endpoints/test_streaming_ols.py
  tests/unit/app/models/test_config.py
  tests/unit/prompts/test_prompt_generator.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/query_helpers/test_llm_execution_agent.py
  tests/unit/tools/test_tool_result_inspection.py
  tests/unit/utils/test_audit_logger.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-4214 OLS-4215 validate Classic tool-result inspection
  eval/README.md
  eval/__init__.py
  eval/tool_result_inspection/README.md
  eval/tool_result_inspection/__init__.py
  eval/tool_result_inspection/corpus.py
  eval/tool_result_inspection/corpus_full.yaml
  eval/tool_result_inspection/corpus_smoke.yaml
  eval/tool_result_inspection/report.py
  eval/tool_result_inspection/runner.py
  tests/config/config_for_integration_tests.yaml
  tests/integration/test_tool_result_inspection.py
  tests/unit/eval/test_tool_result_inspection_corpus.py
  tests/unit/eval/test_tool_result_inspection_report.py
  tests/unit/eval/test_tool_result_inspection_runner.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-0000 Pin LangChain AWS for hermetic builds
  .konflux/requirements-build.txt
  .konflux/requirements.hashes.source.txt
  .konflux/requirements.overrides.txt
  pyproject.toml
  requirements.txt
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-4304,OLS-4314,OLS-4313,OLS-4319 bump PyJWT, virtualenv, anyio for CVEs
  .konflux/requirements-build.txt
  .konflux/requirements.hashes.source.txt
  .konflux/requirements.hashes.wheel.txt
  .konflux/requirements.overrides.txt
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
  pyproject.toml
  requirements.txt
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Add typing-extensions override for Konflux hermetic build
  .konflux/requirements-build.txt
  .konflux/requirements.hashes.source.txt
  .konflux/requirements.hashes.wheel.txt
  .konflux/requirements.overrides.txt
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

fixing openai and submitting bedrock query to enable model
  tests/config/operator_install/olsconfig.crd.openai.yaml
  tests/config/operator_install/olsconfig.crd.openai_cluster_updates.yaml
  tests/config/operator_install/olsconfig.crd.openai_data_export.yaml
  tests/config/operator_install/olsconfig.crd.openai_lseval.yaml
  tests/config/operator_install/olsconfig.crd.openai_mcp.yaml
  tests/config/operator_install/olsconfig.crd.openai_quota.yaml
  tests/config/operator_install/olsconfig.crd.openai_tool_calling.yaml
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3591: Add focused OKP retrieval coverage
  tests/e2e/test_okp_openai.py
  tests/integration/test_okp_tool_retrieval.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Add Konflux hermetic requirements step to deps-update skill
  .cursor/skills/deps-update/SKILL.md
Due: none

OLS-4301: SAFE-02 tool output boundary — spec and decision record
  .ai/spec/decisions/0001-tool-output-boundary.md
  .ai/spec/what/security.md
  .ai/spec/what/tools.md
Due: none

OLS-3929 Remove redaction from SAFE-02 processing order
  .ai/spec/decisions/0001-tool-output-boundary.md
  .ai/spec/what/tools.md
Due: none

ols-3755: specs update
  .ai/spec/README.md
  .ai/spec/how/llm-providers.md
  .ai/spec/what/config.md
  .ai/spec/what/llm-providers.md
  .ai/spec/what/system-overview.md
  docs/ai/providers.md
Due: none

ols-3755: add Anthropic provider (direct to Claude AI)
  .ai/spec/what/llm-providers.md
  .konflux/requirements-build.txt
  .konflux/requirements.hashes.source.txt
  ols/app/models/config.py
  ols/constants.py
  ols/src/llms/providers/anthropic.py
  ols/src/llms/providers/provider.py
  pyproject.toml
  tests/unit/llms/providers/test_anthropic.py
  tests/unit/llms/providers/test_providers.py
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3755 address code review feedback
  .ai/spec/what/audit-logging.md
  .ai/spec/what/llm-providers.md
  ols/app/models/config.py
  ols/src/llms/providers/anthropic.py
  tests/unit/llms/providers/test_anthropic.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3439 Add e2e test for troubleshooting mode with MCP tool calling
  tests/e2e/test_troubleshooting_mode.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3439 Assert cluster version in troubleshooting mode response
  tests/e2e/test_troubleshooting_mode.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3755 document Anthropic provider proxy CA limitation
  docs/ai/providers.md
Due: none

OLS-4344: Bump RHOAI base image and package index from 3.4 to 3.5
  .konflux/build.args
  .konflux/profiles.toml
  .konflux/redhat.repo
  .konflux/requirements-build.txt
  .konflux/requirements.hashes.source.txt
  .konflux/requirements.hashes.wheel.txt
  .konflux/requirements.hermetic.txt
  .konflux/requirements.overrides.txt
  .konflux/rpms.lock.yaml
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
  build.args
  docs/update-requirements.md
  ols/src/llms/providers/provider.py
  pyproject.toml
  scripts/generate-rpm-lock.sh
  scripts/konflux_resolve.py
  scripts/verify_hermetic_requirements.sh
  tests/mock_classes/mock_retrievers.py
  tests/mock_classes/mock_watsonxllm.py
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

quay.io/aipcc base image
  .konflux/build.args
  .konflux/rpms.in.yaml
  .konflux/rpms.lock.yaml
  Containerfile
  Makefile
  scripts/konflux_resolve.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-4301 clarify inspected tool output handling
  .ai/spec/what/audit-logging.md
  .ai/spec/what/tools.md
Due: none

OLS-4301 implement Classic tool-output boundary
  ols/src/prompts/prompt_generator.py
  ols/src/prompts/prompts.py
  ols/src/query_helpers/llm_execution_agent.py
  ols/src/tools/tools.py
  ols/utils/audit_logger.py
  tests/unit/prompts/test_prompt_generator.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/query_helpers/test_llm_execution_agent.py
  tests/unit/tools/test_tools.py
  tests/unit/utils/test_audit_logger.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-4301 fix audit and token budget edge cases
  ols/src/query_helpers/llm_execution_agent.py
  ols/src/tools/tools.py
  tests/unit/query_helpers/test_llm_execution_agent.py
  tests/unit/tools/test_tools.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Update rpms-signature-scan task bundle to known-good digest
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
Due: none

CVE: bump langgraph-sdk to 0.4.4, fsspec to 2026.6.0 in Konflux
  .konflux/requirements-build.txt
  .konflux/requirements.hashes.source.txt
  .konflux/requirements.hashes.wheel.txt
  .konflux/requirements.overrides.txt
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-4368 Bump service version to 1.1.5
  docs/openapi.json
  ols/version.py
  scripts/build-container.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-4301 align tool-output boundary contract
  .ai/spec/decisions/0001-tool-output-boundary.md
  .ai/spec/what/audit-logging.md
  .ai/spec/what/tools.md
Due: none

OLS-4301 harden Classic tool-output boundary
  ols/src/query_helpers/llm_execution_agent.py
  ols/src/tools/tools.py
  tests/integration/test_tool_result_inspection.py
  tests/unit/query_helpers/test_llm_execution_agent.py
  tests/unit/tools/test_tools.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-4366 Default OpenAI and Azure to Responses API
  .ai/spec/how/llm-providers.md
  .ai/spec/what/llm-providers.md
  .konflux/requirements-build.txt
  .konflux/requirements.hashes.source.txt
  .konflux/requirements.hashes.wheel.txt
  .konflux/requirements.overrides.txt
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
  docs/ai/providers.md
  ols/src/llms/providers/azure_openai.py
  ols/src/llms/providers/openai.py
  ols/src/llms/providers/provider.py
  ols/src/llms/providers/utils.py
  pyproject.toml
  tests/config/operator_install/olsconfig.crd.azure_openai_gpt6_tool_calling.yaml
  tests/config/operator_install/olsconfig.crd.openai_gpt6_tool_calling.yaml
  tests/e2e/pytest.ini
  tests/e2e/test_streaming_query_endpoint.py
  tests/scripts/test-e2e-cluster-periodics.sh
  tests/scripts/test-e2e-cluster.sh
  tests/unit/llms/providers/test_azure_openai.py
  tests/unit/llms/providers/test_openai.py
  tests/unit/llms/providers/test_rhelai_vllm.py
  tests/unit/llms/providers/test_rhoai_vllm.py
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-4344: Bump RHOAI base image and package index from 3.4 to 3.5
  .konflux/build.args
  .konflux/profiles.toml
  .konflux/redhat.repo
  .konflux/requirements-build.txt
  .konflux/requirements.hashes.source.txt
  .konflux/requirements.hashes.wheel.txt
  .konflux/requirements.hermetic.txt
  .konflux/requirements.overrides.txt
  .konflux/rpms.in.yaml
  .konflux/rpms.lock.yaml
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
  Containerfile
  Makefile
  build.args
  docs/update-requirements.md
  ols/src/llms/providers/provider.py
  pyproject.toml
  scripts/generate-rpm-lock.sh
  scripts/konflux_resolve.py
  scripts/verify_hermetic_requirements.sh
  tests/mock_classes/mock_retrievers.py
  tests/mock_classes/mock_watsonxllm.py
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

fix: forced summarization on gemini last iteration
  ols/src/query_helpers/llm_execution_agent.py
  tests/unit/query_helpers/test_llm_execution_agent.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify
