Repository openshift/lightspeed-service: changes, and which Prow jobs are due for each by the changed paths.
All: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Path conditions:
  fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-ols-cluster: any of: ^(Containerfile.*|Makefile|manifests/.*|ols/.*|pyproject.toml|pdm.lock|scripts/.*|tests/.*)$
  ci/prow/fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/integration: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/ols-evaluation: any of: ^(Containerfile|tests/e2e/scripts/test-evaluation.sh|tests/e2e/scripts/utils.sh|Makefile|tests/e2e/evaluation/.*|ols/src/llms/providers/.*|ols/src/prompts/.*|ols/src/query_helpers/docs_summarizer.py|ols/src/rag_index/.*|ols/src/tools/.*|ols/utils/token_handler.py|ols/constants.py)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$

Fix endpoint tests for BAM removal
  tests/integration/test_metrics.py
  tests/integration/test_ols.py
  tests/unit/app/endpoints/test_ols.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Remove remaining BAM references
  README.md
  docs/llms_packages.uml
  docs/openapi.json
  ols/app/models/models.py
  tests/benchmarks/test_config_loader.py
  tests/unit/llms/providers/test_fake_provider.py
  tests/unit/llms/providers/test_watsonx.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

docs_summarizer.iterate_with_tools method refactoring
  ols/app/endpoints/ols.py
  ols/app/endpoints/streaming_ols.py
  ols/app/models/models.py
  ols/src/query_helpers/docs_summarizer.py
  tests/unit/app/endpoints/test_streaming_ols.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Harden default TLS ciphers and remove weak ciphers from OldType profile
  ols/constants.py
  ols/utils/tls.py
  tests/integration/test_runners.py
  tests/unit/runners/test_uvicorn_runner.py
  tests/unit/utils/test_tls.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

added more usefull development skills
  .cursor/skills/find-complexity/SKILL.md
  .cursor/skills/find-dead-code/SKILL.md
  .cursor/skills/find-duplication/SKILL.md
  .cursor/skills/review-pr/SKILL.md
  .cursor/skills/safe-code-change/SKILL.md
  .cursor/skills/validate-and-fix/SKILL.md
Due: none

Enforce TLS 1.2+ in TLS security profile validation.
  ols/app/models/config.py
  tests/unit/app/models/test_config.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Add Google Vertex AI provider for Anthropic Claude models
  docs/ai/providers.md
  examples/olsconfig.yaml
  ols/app/models/config.py
  ols/constants.py
  ols/src/llms/providers/google_vertex.py
  ols/src/llms/providers/provider.py
  pyproject.toml
  tests/unit/llms/providers/test_google_vertex.py
  tests/unit/llms/providers/test_providers.py
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

replacing eval models with openai for api and judge.
  eval/system_openai_lseval.yaml
  tests/config/operator_install/olsconfig.crd.openai_lseval.yaml
  tests/e2e/evaluation/test_lseval_periodic.py
  tests/scripts/test-lseval-periodic.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Add CI failure investigation skill for Cursor
  .cursor/skills/investigate-ci-failure/SKILL.md
Due: none

Add FIPS-compatible CBC ciphers for HAProxy reencrypt compatibility
  ols/constants.py
  ols/utils/tls.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Log actual errors in wait_for_ols instead of silently swallowing them
  tests/e2e/utils/wait_for_ols.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Removing report portal dependency
  Makefile
  README.md
  pyproject.toml
  scripts/upload_artifact_s3.py
  tests/e2e/conftest.py
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Add detailed GCS artifact tree map and download instructions
  .cursor/skills/investigate-ci-failure/SKILL.md
Due: none

Add agent loop test harness with fake OCP tools and conversation fixtures
  tests/harness/README.md
  tests/harness/__init__.py
  tests/harness/conftest.py
  tests/harness/conversation_fixtures.py
  tests/harness/fake_tools.py
  tests/harness/provider_matrix.py
  tests/harness/pytest.ini
  tests/harness/test_conversation_fixtures.py
  tests/harness/test_fake_tools.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Consolidate token budget management into TokenHandler
  ols/src/query_helpers/docs_summarizer.py
  ols/utils/token_handler.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/utils/test_token_handler.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-666: Consolidate token budget management into TokenHandler
  .reins/plans/OLS-666.md
  ols/src/query_helpers/docs_summarizer.py
  ols/utils/token_handler.py
  tests/unit/utils/test_token_handler.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Move json import to module level in test_token_handler
  tests/unit/utils/test_token_handler.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Use enums for reasoning parameter validation.
  ols/app/models/config.py
  tests/unit/app/models/test_config.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Add reasoning model parameters and stream chunk types
  ols/app/models/config.py
  ols/app/models/models.py
  tests/unit/app/models/test_config.py
  tests/unit/app/models/test_models.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Remove redundant __eq__ from config models
  ols/app/models/config.py
  tests/unit/utils/test_config.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Adding lock adviosry to avoid deadlock on postgres table on initialization.
  ols/src/cache/postgres_cache.py
  tests/unit/cache/test_postgres_cache.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Refactor tool output truncation into two-layer defense with budget enforcement
  ols/src/query_helpers/docs_summarizer.py
  ols/src/tools/tools.py
  ols/utils/token_handler.py
  tests/unit/tools/test_tools.py
  tests/unit/utils/test_token_handler.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Adding flag for quick path testing.
  tests/e2e/conftest.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Consolidate Postgres Connection Management into a Shared Base Class
  ols/src/cache/postgres_cache.py
  ols/src/quota/cluster_quota_limiter.py
  ols/src/quota/quota_limiter.py
  ols/src/quota/revokable_quota_limiter.py
  ols/src/quota/token_usage_history.py
  ols/src/quota/user_quota_limiter.py
  ols/utils/connection_decorator.py
  ols/utils/postgres.py
  tests/unit/cache/test_postgres_cache.py
  tests/unit/quota/test_cluster_quota_limiter.py
  tests/unit/quota/test_token_usage_history.py
  tests/unit/quota/test_user_quota_limiter.py
  tests/unit/utils/test_connection_decorator.py
  tests/unit/utils/test_postgres.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Use buffered token count for tool output tracking
  ols/src/query_helpers/docs_summarizer.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Add reasoning token counting and metrics
  ols/app/endpoints/ols.py
  ols/app/metrics/metrics.py
  ols/app/metrics/token_counter.py
  tests/unit/app/endpoints/test_ols.py
  tests/unit/app/metrics/test_token_counter.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Consolidate context window token budget management
  ols/src/query_helpers/docs_summarizer.py
  ols/utils/token_handler.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/utils/test_token_handler.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Remove dead calculate_and_check_available_tokens mock
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Address review comments on token counter and metrics
  ols/app/metrics/token_counter.py
  tests/integration/test_metrics.py
  tests/unit/app/metrics/test_token_counter.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Consolidate calc_input/output/reasoning_tokens into calc_tokens
  ols/app/endpoints/ols.py
  ols/app/endpoints/streaming_ols.py
  tests/unit/app/endpoints/test_ols.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Fix flaky e2e test_feedback_storing_cluster
  pyproject.toml
  tests/e2e/utils/cluster.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Add install-deps step to validate-and-fix skill
  .cursor/skills/validate-and-fix/SKILL.md
Due: none

Wire reasoning token streaming through OpenAI provider and pipeline
  examples/olsconfig.yaml
  ols/app/endpoints/streaming_ols.py
  ols/src/llms/providers/openai.py
  ols/src/llms/providers/provider.py
  ols/src/query_helpers/docs_summarizer.py
  tests/unit/app/endpoints/test_streaming_ols.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

implementation of skills rag
  ols/app/models/config.py
  ols/src/rag/__init__.py
  ols/src/rag/hybrid_rag.py
  ols/src/skills/__init__.py
  ols/src/skills/skills_rag.py
  ols/src/tools/tools_rag/hybrid_tools_rag.py
  ols/utils/config.py
  pyproject.toml
  requirements.txt
  skills/degraded-operator-recovery/skill.md
  skills/namespace-troubleshooting/skill.md
  skills/node-not-ready/skill.md
  skills/pod-failure-diagnosis/skill.md
  skills/route-ingress-troubleshooting/skill.md
  tests/integration/test_skills_rag.py
  tests/test_skills/test-triage/skill.md
  tests/unit/app/models/test_config.py
  tests/unit/rag/__init__.py
  tests/unit/rag/test_hybrid_rag.py
  tests/unit/skills/__init__.py
  tests/unit/skills/test_skills_rag.py
  tests/unit/tools/test_hybrid_tools_rag.py
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Restore enforce_tool_token_budget dropped during rebase
  ols/src/query_helpers/docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Replace strict=False comment with full tool_choice="none" rationale
  ols/src/query_helpers/docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Move default_prompt_by_mode to module level
  ols/src/query_helpers/query_helper.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Weekly evals accross complete eval datset.
  Makefile
  tests/e2e/evaluation/test_lseval_periodic.py
  tests/scripts/test-lseval-periodic.sh
  tests/scripts/utils.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify
