Repository openshift/lightspeed-service: changes, and which Prow jobs are due for each by the changed paths.
All: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

fips-image-scan-service:
  steps:
    dependencies:
      SCAN_IMAGE: lightspeed-service-api
    test:
    - ref: fips-check-image-scan

ci/prow/e2e-ols-cluster:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/fips-image-scan-service:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/integration:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/ols-evaluation:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/verify:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Lint fix
  ols/src/query_helpers/docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Use token buffer
  ols/utils/token_handler.py
  tests/integration/test_ols.py
  tests/unit/utils/test_token_handler.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Add tool output truncation
  ols/app/models/config.py
  ols/constants.py
  ols/src/query_helpers/docs_summarizer.py
  ols/src/tools/tools.py
  ols/utils/token_handler.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/tools/test_tools.py
  tests/unit/utils/test_token_handler.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Expose tool calls in conversations endpoint
  docs/openapi.json
  ols/app/endpoints/conversations.py
  ols/app/models/models.py
  tests/unit/app/endpoints/test_conversations.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Fix mcp transport
  ols/src/query_helpers/docs_summarizer.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Changing model to 3-3 and changing tool calling prompt to request the result of the tool calling
  tests/config/operator_install/olsconfig.crd.evaluation.yaml
  tests/config/operator_install/olsconfig.crd.watsonx.yaml
  tests/config/operator_install/olsconfig.crd.watsonx_byok1.yaml
  tests/config/operator_install/olsconfig.crd.watsonx_byok2.yaml
  tests/config/operator_install/olsconfig.crd.watsonx_tool_calling.yaml
  tests/e2e/test_query_endpoint.py
  tests/e2e/test_streaming_query_endpoint.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Added complete user headers support
  docs/openapi.json
  ols/app/endpoints/mcp_auth.py
  ols/app/endpoints/ols.py
  ols/app/endpoints/streaming_ols.py
  ols/app/models/models.py
  ols/app/routers.py
  ols/src/query_helpers/docs_summarizer.py
  ols/utils/mcp_headers.py
  pdm.lock
  tests/unit/app/test_routers.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

additional testing
  docs/openapi.json
  tests/config/config_for_mcp_integration_tests.yaml
  tests/config/empty_secret.txt
  tests/config/mcp_test_token.txt
  tests/integration/test_mcp_client_headers.py
  tests/unit/utils/test_mcp_headers.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Refactor history retrieval in preparation to summarization
  ols/app/endpoints/ols.py
  ols/app/endpoints/streaming_ols.py
  ols/app/models/models.py
  ols/src/cache/cache.py
  ols/src/cache/in_memory_cache.py
  ols/src/cache/postgres_cache.py
  ols/src/query_helpers/docs_summarizer.py
  tests/integration/test_ols.py
  tests/unit/app/endpoints/test_ols.py
  tests/unit/cache/test_in_memory_cache.py
  tests/unit/cache/test_postgres_cache.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

add conversation history summarization
  ols/src/query_helpers/docs_summarizer.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Bump version 1.0.9 to 1.0.10
  docs/openapi.json
  ols/version.py
  scripts/build-container.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

added e2e summarization test
  tests/config/config_for_compression_tests.yaml
  tests/integration/test_conversation_compression.py
  tests/mock_classes/mock_langchain_interface.py
  tests/mock_classes/mock_llm_loader.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Bump langchain mcp adapters
  pdm.lock
  pyproject.toml
  requirements.txt
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

addressed review comments. Some code restructuring, better error handling
  docs/openapi.json
  ols/app/endpoints/mcp_client_headers.py
  ols/app/endpoints/ols.py
  ols/app/endpoints/streaming_ols.py
  ols/app/models/models.py
  ols/app/routers.py
  ols/src/query_helpers/docs_summarizer.py
  ols/utils/mcp_headers.py
  ols/utils/mcp_utils.py
  tests/integration/test_mcp_client_headers.py
  tests/integration/test_ols.py
  tests/unit/app/test_routers.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/utils/test_mcp_headers.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Use ainvoke
  ols/src/tools/tools.py
  tests/unit/tools/test_tools.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Added complete user headers support
  docs/openapi.json
  ols/app/endpoints/mcp_client_headers.py
  ols/app/endpoints/ols.py
  ols/app/endpoints/streaming_ols.py
  ols/app/models/models.py
  ols/app/routers.py
  ols/src/query_helpers/docs_summarizer.py
  ols/utils/mcp_utils.py
  pdm.lock
  tests/config/config_for_mcp_integration_tests.yaml
  tests/config/empty_secret.txt
  tests/config/mcp_test_token.txt
  tests/integration/test_mcp_client_headers.py
  tests/integration/test_ols.py
  tests/unit/app/test_routers.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Updating PR template with AI tool field.
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Capture structured content from MCP tool artifacts
  ols/src/tools/tools.py
  tests/unit/tools/test_tools.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Add MCP tool UI metadata registry
  ols/src/mcp/__init__.py
  ols/src/mcp/tool_registry.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Discover MCP tool UI metadata at startup
  ols/app/main.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Filter app-only tools and use UI placeholders in summarizer
  ols/src/query_helpers/docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Add MCP Apps REST API endpoints for UI resources and tool calls
  ols/app/endpoints/mcp_apps.py
  ols/app/models/models.py
  ols/app/routers.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Use granite-3-3-8b-instruct in eval
  scripts/evaluation/driver.py
  scripts/evaluation/eval_data/question_answer_pair.json
  scripts/evaluation/utils/constants.py
  tests/e2e/conftest.py
  tests/e2e/test_api.py
  tests/scripts/test-e2e-cluster-periodics.sh
  tests/scripts/test-e2e-cluster.sh
  tests/scripts/test-evaluation.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Adding mcp to fake LLM provider
  ols/app/models/config.py
  ols/src/llms/providers/fake_provider.py
  ols/src/llms/providers/provider.py
  tests/unit/llms/providers/test_fake_provider.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Update evaluation baseline answers for drifted model responses
  scripts/evaluation/eval_data/question_answer_pair.json
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Refactor history retrieval in preparation to summarization
  ols/app/endpoints/ols.py
  ols/app/endpoints/streaming_ols.py
  ols/app/models/models.py
  ols/src/cache/cache.py
  ols/src/cache/in_memory_cache.py
  ols/src/cache/postgres_cache.py
  ols/src/query_helpers/docs_summarizer.py
  tests/config/config_for_compression_tests.yaml
  tests/integration/test_conversation_compression.py
  tests/integration/test_ols.py
  tests/mock_classes/mock_langchain_interface.py
  tests/mock_classes/mock_llm_loader.py
  tests/unit/app/endpoints/test_ols.py
  tests/unit/cache/test_in_memory_cache.py
  tests/unit/cache/test_postgres_cache.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Fix MCP tools with no arguments causing 500 errors
  ols/utils/mcp_utils.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

added tools filtering
  .tekton/lightspeed-service-pull-request.yaml
  ols/src/query_helpers/docs_summarizer.py
  ols/src/rag_index/index_loader.py
  ols/src/tools/tools_rag/__init__.py
  ols/src/tools/tools_rag/hybrid_tools_rag.py
  ols/utils/config.py
  ols/utils/mcp_utils.py
  pdm.lock
  pyproject.toml
  requirements.txt
  tests/config/_file_token_file.txt
  tests/config/config_with_tools_rag.yaml
  tests/integration/test_ols.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/utils/test_mcp_utils.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Bump memory limits for SAST Konflux tasks
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
Due: none

Use UV instead of PDM
  .gitignore
  AGENTS.md
  CONTRIBUTING.md
  Makefile
  README.md
  docs/requirements.uml
  docs/requirements_per_arch.uml
  eval/README.md
  pdm.lock
  pyproject.toml
  requirements.txt
  scripts/evaluation/README.md
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Linting updates after dep bump
  ols/src/auth/k8s.py
  tests/benchmarks/test_attachment_appender.py
  tests/benchmarks/test_config_loader.py
  tests/unit/utils/test_config.py
  tests/unit/utils/test_errors_parsing.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Fix requirements generation
  Makefile
  requirements.txt
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Fix integration test for version check
  tests/integration/test_project_version_consistency.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Bump memory limits for some Konflux tasks
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
Due: none

Increase disk space for Konflux build
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
Due: none

fixing linting
  tests/e2e/test_api.py
  tests/e2e/test_attachments.py
  tests/e2e/test_query_endpoint.py
  tests/e2e/test_streaming_query_endpoint.py
  tests/e2e/test_user_feedback.py
  tests/e2e/utils/adapt_ols_config.py
  tests/e2e/utils/cluster.py
  tests/e2e/utils/constants.py
  tests/e2e/utils/data_collector_control.py
  tests/e2e/utils/metrics.py
  tests/e2e/utils/ols_installer.py
  tests/e2e/utils/wait_for_ols.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Adding adaptation to lcore tests
  tests/e2e/conftest.py
  tests/e2e/pytest.ini
  tests/e2e/test_api.py
  tests/e2e/test_attachments.py
  tests/e2e/test_query_endpoint.py
  tests/e2e/utils/adapt_ols_config.py
  tests/e2e/utils/cluster.py
  tests/e2e/utils/constants.py
  tests/e2e/utils/data_collector_control.py
  tests/e2e/utils/metrics.py
  tests/e2e/utils/ols_installer.py
  tests/e2e/utils/wait_for_ols.py
  tests/scripts/test-e2e-cluster.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Deactivating operator pod for data collection test
  tests/e2e/test_api.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Path conditions:
  fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-ols-cluster: any of: ^(Containerfile.*|Makefile|manifests/.*|ols/.*|pyproject.toml|pdm.lock|scripts/.*|tests/.*)$
  ci/prow/fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/integration: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/ols-evaluation: any of: ^(Containerfile|tests/e2e/scripts/test-evaluation.sh|tests/e2e/scripts/utils.sh|Makefile|tests/e2e/evaluation/.*|ols/src/llms/providers/.*|ols/src/prompts/.*|ols/src/query_helpers/docs_summarizer.py|ols/src/rag_index/.*|ols/src/tools/.*|ols/utils/token_handler.py|ols/constants.py)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
