Repository openshift/lightspeed-service: changes, and which Prow jobs are due for each by the changed paths.
All: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

fips-image-scan-service:
  steps:
    dependencies:
      SCAN_IMAGE: lightspeed-service-api
    test:
    - ref: fips-check-image-scan

ci/prow/e2e-ols-cluster:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/fips-image-scan-service:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/integration:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/ols-evaluation:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/verify:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Use stepSpecs instead of stepOverrides
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
Due: none

Adding retry logic for the http connection as well as limiting retry to a lower limit than the routes timeout
  tests/e2e/utils/client.py
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Revert "Adding retry logic for the http connection as well as limiting retry to a lower limit than the routes timeout"
  uv.lock
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Increase clair-scan memory limit to 12Gi
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
Due: none

docs_summarizer.iterate_with_tools method refactoring
  uv.lock
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Refactor history retrieval in preparation to summarization
  ols/app/endpoints/ols.py
  ols/app/endpoints/streaming_ols.py
  ols/app/models/models.py
  ols/src/query_helpers/docs_summarizer.py
  ols/src/query_helpers/history_support.py
  tests/config/config_for_compression_tests.yaml
  tests/integration/pytest.ini
  tests/integration/test_conversation_compression.py
  tests/integration/test_ols.py
  tests/mock_classes/mock_langchain_interface.py
  tests/mock_classes/mock_llm_loader.py
  tests/unit/app/endpoints/test_ols.py
  tests/unit/app/endpoints/test_streaming_ols.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/query_helpers/test_history_support.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Remove unused local stdio MCP server
  Containerfile
  Makefile
  mcp_local/openshift.py
  tests/mcp_local/__init__.py
  tests/mcp_local/test_openshift.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Remove OC client from container image
  Containerfile
  rpms.in.yaml
  rpms.lock.yaml
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

docs_summarizer.iterate_with_tools method refactoring
  ols/app/endpoints/ols.py
  ols/app/endpoints/streaming_ols.py
  ols/app/models/models.py
  ols/src/query_helpers/docs_summarizer.py
  tests/unit/app/endpoints/test_streaming_ols.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

readding azure to the evaluation
  tests/e2e/conftest.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

remove sensitive information from log
  ols/src/llms/providers/azure_openai.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Simplify httpx client factory for MCP connections
  ols/utils/mcp_utils.py
  tests/unit/utils/test_mcp_utils.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Linting fix
  tests/unit/utils/test_mcp_utils.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Bump dependencies and update lock file
  requirements.txt
  uv.lock
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Remove customize dir and redistribute components
  .woke.yaml
  ols/app/main.py
  ols/app/models/models.py
  ols/constants.py
  ols/customize/__init__.py
  ols/customize/ols/__init__.py
  ols/customize/ols/metadata.py
  ols/src/prompts/prompt_generator.py
  ols/src/prompts/prompts.py
  ols/src/query_helpers/docs_summarizer.py
  ols/src/query_helpers/query_helper.py
  ols/src/rag_index/reranker.py
  ols/src/ui/gradio_ui.py
  tests/e2e/test_api.py
  tests/integration/test_ols.py
  tests/integration/test_openapi.py
  tests/unit/prompts/test_prompt_generator.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Remove reranker
  ols/src/query_helpers/docs_summarizer.py
  ols/src/rag_index/reranker.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Add query mode field to support different response styles
  docs/openapi.json
  ols/app/endpoints/ols.py
  ols/app/models/models.py
  ols/constants.py
  ols/customize/ols/prompts.py
  ols/src/query_helpers/query_helper.py
  tests/unit/app/endpoints/test_ols.py
  tests/unit/app/models/test_models.py
  tests/unit/query_helpers/test_query_helper.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Simplify raise-pr skill
  .cursor/skills/raise-pr/SKILL.md
Due: none

wip: add troubleshooting prompt draft
  ols/customize/ols/prompts.py
  ols/src/prompts/prompt_generator.py
  tests/unit/prompts/test_prompt_generator.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Add ability to configure MAX tool call rounds and log their usage
  ols/app/models/config.py
  ols/constants.py
  ols/src/query_helpers/docs_summarizer.py
  tests/unit/app/models/test_config.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

support openai reasoning
  docs/reasoning-tokens.md
  examples/olsconfig.yaml
  ols/app/endpoints/ols.py
  ols/app/endpoints/streaming_ols.py
  ols/app/metrics/metrics.py
  ols/app/metrics/token_counter.py
  ols/app/models/config.py
  ols/app/models/models.py
  ols/src/llms/providers/openai.py
  ols/src/llms/providers/provider.py
  ols/src/query_helpers/docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

implemented approvals support code
  ols/src/tools/approval.py
  ols/utils/config.py
  tests/unit/tools/test_approval.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Refactor history retrieval in preparation to summarization
  ols/app/endpoints/ols.py
  ols/app/endpoints/streaming_ols.py
  ols/app/models/config.py
  ols/app/models/models.py
  ols/src/query_helpers/docs_summarizer.py
  ols/src/query_helpers/history_support.py
  tests/config/config_for_compression_tests.yaml
  tests/e2e/test_query_endpoint.py
  tests/e2e/test_streaming_query_endpoint.py
  tests/integration/pytest.ini
  tests/integration/test_conversation_compression.py
  tests/integration/test_ols.py
  tests/mock_classes/mock_langchain_interface.py
  tests/mock_classes/mock_llm_loader.py
  tests/unit/app/endpoints/test_ols.py
  tests/unit/app/endpoints/test_streaming_ols.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/query_helpers/test_history_support.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Don't use strict mode
  docs/reasoning-tokens.md
  ols/src/query_helpers/docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

implementing endpoint for approval submission
  docs/openapi.json
  ols/app/endpoints/tool_approvals.py
  ols/app/models/models.py
  ols/app/routers.py
  tests/integration/test_tool_approvals.py
  tests/unit/app/endpoints/test_tool_approvals.py
  tests/unit/app/test_routers.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Refactor tool call retry logic with explicit scenario labels
  ols/src/tools/tools.py
  tests/unit/tools/test_tools.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

refactor: rewrite system and agent prompts for diagnostics focus
  ols/customize/ols/prompts.py
  ols/src/prompts/prompt_generator.py
  tests/unit/prompts/test_prompt_generator.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

implementing mcp invocation approvals
  ols/app/endpoints/ols.py
  ols/app/endpoints/streaming_ols.py
  ols/app/models/models.py
  ols/src/query_helpers/docs_summarizer.py
  ols/src/tools/tools.py
  tests/integration/test_approvals.py
  tests/integration/test_ols.py
  tests/unit/app/endpoints/test_streaming_ols.py
  tests/unit/app/models/test_models.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/tools/test_tools.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

removed possible json check when tool calling
  ols/src/tools/tools.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

fixed format
  ols/src/tools/tools.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Add query mode field to support different response styles
  docs/openapi.json
  ols/app/endpoints/ols.py
  ols/app/models/models.py
  ols/constants.py
  ols/src/prompts/prompts.py
  ols/src/query_helpers/query_helper.py
  tests/unit/app/endpoints/test_ols.py
  tests/unit/app/models/test_models.py
  tests/unit/query_helpers/test_query_helper.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Log tool call on error
  ols/src/tools/tools.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Fix imports
  ols/src/query_helpers/query_helper.py
  tests/unit/query_helpers/test_query_helper.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Bump version from 1.0.10 to 1.0.11.
  docs/openapi.json
  ols/version.py
  scripts/build-container.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Remove service-side secret keyword tool filtering
  ols/src/tools/tools.py
  tests/unit/tools/test_tools.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

adding skills for clean/complex rebase
  .cursor/skills/rebase-clean/SKILL.md
Due: none

Distribute tool budget evenly across tools in a batch
  ols/src/query_helpers/docs_summarizer.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Tell the LLM that tool outputs are limited and may be truncated
  ols/src/prompts/prompts.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Path conditions:
  fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-ols-cluster: any of: ^(Containerfile.*|Makefile|manifests/.*|ols/.*|pyproject.toml|pdm.lock|scripts/.*|tests/.*)$
  ci/prow/fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/integration: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/ols-evaluation: any of: ^(Containerfile|tests/e2e/scripts/test-evaluation.sh|tests/e2e/scripts/utils.sh|Makefile|tests/e2e/evaluation/.*|ols/src/llms/providers/.*|ols/src/prompts/.*|ols/src/query_helpers/docs_summarizer.py|ols/src/rag_index/.*|ols/src/tools/.*|ols/utils/token_handler.py|ols/constants.py)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
