Repository openshift/lightspeed-service: changes, and which Prow jobs are due for each by the changed paths.
All: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

fips-image-scan-service:
  steps:
    dependencies:
      SCAN_IMAGE: lightspeed-service-api
    test:
    - ref: fips-check-image-scan

ci/prow/e2e-ols-cluster:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/fips-image-scan-service:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/integration:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/ols-evaluation:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/verify:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

OLS-3991: list wheel.pypi.txt in README hermetic files
  README.md
Due: none

OLS-3991 update langsmith lockfile
  uv.lock
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3991 bump langsmith to fix CVE-2026-45134
  .konflux/requirements-build.txt
  .konflux/requirements.hashes.source.txt
  .konflux/requirements.hashes.wheel.txt
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
  requirements.txt
  uv.lock
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Bump version to 1.1.4
  docs/openapi.json
  ols/version.py
  scripts/build-container.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

fix: update taskRunSpecs pipelineTaskName from clair-scan to roxctl-scan
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
Due: none

OLS-3599: Relax OKP tool mandate when BYOK content is configured
  .ai/spec/what/rag.md
  ols/src/prompts/prompt_generator.py
  ols/src/prompts/prompts.py
  ols/src/query_helpers/docs_summarizer.py
  tests/unit/prompts/test_prompt_generator.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Limit request body - register limiter outermost
  ols/app/main.py
  tests/integration/test_request_body_limit.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-0000 Sync .ai/spec with current code
  .ai/spec/README.md
  .ai/spec/health-report.md
  .ai/spec/how/cache.md
  .ai/spec/how/project-structure.md
  .ai/spec/what/api.md
  .ai/spec/what/conversation-history.md
Due: none

remove old eval code. It's been replaced in its entirety by lsevals.
  Makefile
  README.md
  scripts/evaluation/README.md
  scripts/evaluation/__init__.py
  scripts/evaluation/driver.py
  scripts/evaluation/eval_data/interview_qna_30_per_title.parquet
  scripts/evaluation/eval_data/ocp_doc_qna-edited.parquet
  scripts/evaluation/eval_data/question_answer_pair.json
  scripts/evaluation/eval_data/result/README.md
  scripts/evaluation/eval_data/result/model_evaluation_result-answer_relevancy.png
  scripts/evaluation/eval_data/result/model_evaluation_result-answer_similarity_llm.png
  scripts/evaluation/eval_data/result/model_evaluation_result-cos_score.png
  scripts/evaluation/eval_data/result/model_evaluation_result-rougeL_f1.png
  scripts/evaluation/eval_data/result/model_evaluation_result-rougeL_precision.png
  scripts/evaluation/eval_data/result/model_evaluation_result-rougeL_recall.png
  scripts/evaluation/eval_data/result/model_evaluation_summary.json
  scripts/evaluation/query_rag.py
  scripts/evaluation/rag_eval.py
  scripts/evaluation/response_eval_flow.png
  scripts/evaluation/response_evaluation.py
  scripts/evaluation/taxonomy_eval.py
  scripts/evaluation/utils/__init__.py
  scripts/evaluation/utils/constants.py
  scripts/evaluation/utils/models.py
  scripts/evaluation/utils/plot.py
  scripts/evaluation/utils/prompts.py
  scripts/evaluation/utils/rag.py
  scripts/evaluation/utils/relevancy_score.py
  scripts/evaluation/utils/response.py
  scripts/evaluation/utils/score.py
  scripts/evaluation/utils/similarity_score_llm.py
  tests/e2e/conftest.py
  tests/e2e/evaluation/test_evaluation.py
  tests/scripts/test-e2e-cluster-periodics.sh
  tests/scripts/test-e2e-cluster.sh
  tests/scripts/test-evaluation.sh
  tests/scripts/utils.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

address review comments: remove dead .snyk exclusion and README TOC link
  .snyk
  README.md
Due: none

OLS-3450 Update service specs for credential hot-reload
  .ai/spec/how/config.md
  .ai/spec/how/llm-providers.md
  .ai/spec/what/config.md
  .ai/spec/what/llm-providers.md
  .ai/spec/what/security.md
Due: none

Fix torn-read risk in get_aws_credentials()
  ols/app/models/config.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-2190: pass username and version for on-prem watsonx
  .ai/spec/how/llm-providers.md
  .ai/spec/what/llm-providers.md
  README.md
  ols/app/models/config.py
  ols/constants.py
  ols/src/llms/providers/watsonx.py
  tests/unit/llms/providers/test_watsonx.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3033 Wait for built-in MCP server in e2e
  tests/e2e/utils/adapt_ols_config.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3135 block non-streaming tool approval bypass
  ols/src/tools/approval.py
  ols/src/tools/tools.py
  tests/unit/tools/test_approval.py
  tests/unit/tools/test_tools.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3454 OLS-3455: Standardize reasoning configuration, migrate OpenAIto it
  .ai/spec/how/llm-providers.md
  .ai/spec/what/config.md
  .ai/spec/what/llm-providers.md
  docs/ai/testing.md
  ols/app/models/config.py
  ols/src/llms/providers/azure_openai.py
  ols/src/llms/providers/openai.py
  ols/src/llms/providers/provider.py
  runner.py
  tests/unit/app/models/test_config.py
  tests/unit/llms/providers/test_azure_openai.py
  tests/unit/llms/providers/test_openai.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-0000 address CodeRabbit review findings on spec-drift PR
  .ai/spec/health-report.md
  .ai/spec/how/cache.md
  .ai/spec/what/api.md
  .ai/spec/what/conversation-history.md
Due: none

chore(konflux): bump NLTK from 3.10.0 to 3.10.3 for CVE fixes
  .konflux/requirements.hashes.source.txt
  .konflux/requirements.hashes.wheel.txt
  .konflux/requirements.overrides.txt
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3884 Handle absent feedback directory in e2e
  tests/e2e/test_api.py
  tests/e2e/test_user_feedback.py
  tests/e2e/utils/cluster.py
  tests/unit/e2e/test_cluster.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3928 specify tool-result inspection
  .ai/spec/how/tools.md
  .ai/spec/what/audit-logging.md
  .ai/spec/what/config.md
  .ai/spec/what/observability.md
  .ai/spec/what/prompts.md
  .ai/spec/what/quota.md
  .ai/spec/what/tools.md
Due: none

OLS-0000: Bump Python dependencies (2026-09-17)
  .konflux/requirements-build.txt
  .konflux/requirements.hashes.source.txt
  requirements.txt
  scripts/verify_hermetic_requirements.sh
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3928 clarify tool-result inspection contracts
  .ai/spec/what/api.md
  .ai/spec/what/tools.md
Due: none

OLS-3928 consolidate tool-result inspection specs
  .ai/spec/how/tools.md
  .ai/spec/what/audit-logging.md
  .ai/spec/what/config.md
  .ai/spec/what/observability.md
  .ai/spec/what/tools.md
Due: none

Fix torn-read risk in get_aws_credentials()
  ols/app/models/config.py
  tests/unit/llms/providers/test_bedrock.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-0000 Bound operator SDK bundle installation
  tests/e2e/utils/ols_installer.py
  tests/unit/e2e/test_ols_installer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-4242: temporarily disable watsonx_byok2 e2e suite
  tests/scripts/test-e2e-cluster-periodics.sh
  tests/scripts/test-e2e-cluster.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Add masked debug logging for Azure Entra ID credentials
  tests/e2e/utils/ols_installer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

ols-3755: specs update
  .ai/spec/README.md
  .ai/spec/how/llm-providers.md
  .ai/spec/what/config.md
  .ai/spec/what/llm-providers.md
  .ai/spec/what/system-overview.md
  docs/ai/providers.md
Due: none

ols-3755: add Anthropic provider (direct to Claude AI)
  .ai/spec/what/llm-providers.md
  .konflux/requirements-build.txt
  .konflux/requirements.hashes.source.txt
  ols/app/models/config.py
  ols/constants.py
  ols/src/llms/providers/anthropic.py
  ols/src/llms/providers/provider.py
  pyproject.toml
  tests/unit/llms/providers/test_anthropic.py
  tests/unit/llms/providers/test_providers.py
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3755 address code review feedback
  .ai/spec/what/audit-logging.md
  .ai/spec/what/llm-providers.md
  ols/app/models/config.py
  ols/src/llms/providers/anthropic.py
  tests/unit/llms/providers/test_anthropic.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

adapting rhoai provisioning to gemma4
  tests/rhoai/README.md
  tests/rhoai/manifests/vllm/vllm-inference-service-gpu.yaml
  tests/rhoai/manifests/vllm/vllm-runtime-gpu.yaml
  tests/rhoai/scripts/deploy-vllm.sh
  tests/rhoai/scripts/model-profile.sh
  tests/unit/rhoai/test_vllm_model_profiles.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Add tool-call screening for off-topic questions
  ols/src/prompts/prompts.py
  tests/unit/prompts/test_prompt_generator.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Address review: extend topic guard to Granite and BYOK paths
  ols/src/prompts/prompt_generator.py
  ols/src/prompts/prompts.py
  tests/unit/prompts/test_prompt_generator.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Fix review: apply topic guard to troubleshooting mode
  ols/src/prompts/prompt_generator.py
  tests/unit/prompts/test_prompt_generator.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-4207 OLS-4208 OLS-4209 add Classic tool-result inspection
  ols/app/endpoints/ols.py
  ols/app/endpoints/streaming_ols.py
  ols/app/models/config.py
  ols/src/prompts/prompts.py
  ols/src/query_helpers/docs_summarizer.py
  ols/src/query_helpers/llm_execution_agent.py
  ols/src/tools/tool_result_inspection.py
  ols/src/tools/tools.py
  ols/utils/audit_logger.py
  tests/mock_classes/mock_llm_loader.py
  tests/unit/app/endpoints/test_ols.py
  tests/unit/app/endpoints/test_streaming_ols.py
  tests/unit/app/models/test_config.py
  tests/unit/prompts/test_prompt_generator.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/query_helpers/test_llm_execution_agent.py
  tests/unit/tools/test_tool_result_inspection.py
  tests/unit/utils/test_audit_logger.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3929 Mark tool output as untrusted data — content boundary + trust instruction
  .ai/spec/decisions/0001-tool-output-boundary.md
  .ai/spec/what/security.md
  .ai/spec/what/tools.md
  ols/src/prompts/prompt_generator.py
  ols/src/prompts/prompts.py
  ols/src/query_helpers/llm_execution_agent.py
  ols/src/tools/tools.py
  ols/utils/audit_logger.py
  tests/unit/prompts/test_prompt_generator.py
  tests/unit/query_helpers/test_llm_execution_agent.py
  tests/unit/tools/test_tools.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-0000: Bump Python dependencies (2026-09-17)
  .konflux/requirements-build.txt
  .konflux/requirements.hashes.source.txt
  .konflux/requirements.hashes.wheel.txt
  requirements.txt
  scripts/verify_hermetic_requirements.sh
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

adding daily periodic lseval
  Makefile
  eval/README.md
  eval/scripts/build_daily_eval_trends.py
  eval/scripts/update_eval_trends.py
  tests/scripts/lseval-short-common.sh
  tests/scripts/test-lseval-daily.sh
  tests/scripts/test-lseval-presubmit.sh
  tests/scripts/utils.sh
  tests/unit/evaluation/test_lseval_daily.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Path conditions:
  fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-ols-cluster: any of: ^(Containerfile.*|Makefile|manifests/.*|ols/.*|pyproject.toml|pdm.lock|scripts/.*|tests/.*)$
  ci/prow/fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/integration: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/ols-evaluation: any of: ^(Containerfile|tests/e2e/scripts/test-evaluation.sh|tests/e2e/scripts/utils.sh|Makefile|tests/e2e/evaluation/.*|ols/src/llms/providers/.*|ols/src/prompts/.*|ols/src/query_helpers/docs_summarizer.py|ols/src/rag_index/.*|ols/src/tools/.*|ols/utils/token_handler.py|ols/constants.py)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
