Repository openshift/lightspeed-service: changes, and which Prow jobs are due for each by the changed paths.
All: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Path conditions:
  fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-ols-cluster: any of: ^(Containerfile.*|Makefile|manifests/.*|ols/.*|pyproject.toml|pdm.lock|scripts/.*|tests/.*)$
  ci/prow/fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/integration: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/ols-evaluation: any of: ^(Containerfile|tests/e2e/scripts/test-evaluation.sh|tests/e2e/scripts/utils.sh|Makefile|tests/e2e/evaluation/.*|ols/src/llms/providers/.*|ols/src/prompts/.*|ols/src/query_helpers/docs_summarizer.py|ols/src/rag_index/.*|ols/src/tools/.*|ols/utils/token_handler.py|ols/constants.py)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$

Fix integration tests: increase context window instead of patching system prompt
  tests/config/config_for_integration_tests.yaml
  tests/integration/test_ols.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Replace 4-tuple return from _collect_round_llm_chunks with RoundLLMResult NamedTuple
  ols/src/query_helpers/docs_summarizer.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Default max_iterations to 15 for troubleshooting mode
  ols/app/models/config.py
  ols/constants.py
  ols/src/query_helpers/docs_summarizer.py
  ols/src/query_helpers/query_helper.py
  tests/unit/app/models/test_config.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/query_helpers/test_query_helper.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Simplified tools tokens usage configuration in preparation to making it configurable by operator
  ols/app/models/config.py
  ols/constants.py
  ols/src/query_helpers/docs_summarizer.py
  ols/src/tools/tools.py
  tests/config/config_for_integration_tests.yaml
  tests/config/config_with_tools_rag.yaml
  tests/integration/test_ols.py
  tests/unit/app/models/test_config.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/tools/test_tools.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

feat: add troubleshooting prompts
  ols/src/auth/k8s.py
  ols/src/prompts/prompt_generator.py
  ols/src/prompts/prompts.py
  ols/src/query_helpers/docs_summarizer.py
  tests/unit/auth/test_k8s.py
  tests/unit/prompts/test_prompt_generator.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Add rate-limit aware retry and improve tool error handling
  ols/src/tools/tools.py
  tests/unit/tools/test_tools.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

update review skill
  .cursor/skills/review-pr/SKILL.md
Due: none

Refactor history retrieval in preparation to summarization
  ols/app/endpoints/ols.py
  ols/app/endpoints/streaming_ols.py
  ols/app/models/config.py
  ols/app/models/models.py
  ols/src/query_helpers/docs_summarizer.py
  ols/src/query_helpers/history_support.py
  tests/config/config_for_compression_tests.yaml
  tests/e2e/test_query_endpoint.py
  tests/e2e/test_streaming_query_endpoint.py
  tests/integration/pytest.ini
  tests/integration/test_conversation_compression.py
  tests/integration/test_ols.py
  tests/mock_classes/mock_langchain_interface.py
  tests/mock_classes/mock_llm_loader.py
  tests/unit/app/endpoints/test_ols.py
  tests/unit/app/endpoints/test_streaming_ols.py
  tests/unit/app/models/test_models.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/query_helpers/test_history_support.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

use wheels from RHOAI 3.3 index
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
  Containerfile
  Makefile
  README.md
  build.args
  ols/src/llms/providers/provider.py
  pyproject.toml
  redhat.repo
  requirements-build.txt
  requirements.hashes.source.txt
  requirements.hashes.wheel.txt
  requirements.hermetic.txt
  requirements.overrides.txt
  requirements.txt
  rpms.in.yaml
  rpms.lock.yaml
  scripts/generate-rpm-lock.sh
  scripts/konflux_requirements.sh
  ubi.repo
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

implementing mcp invocation approvals
  ols/app/endpoints/streaming_ols.py
  ols/app/models/models.py
  ols/src/query_helpers/docs_summarizer.py
  ols/src/tools/tools.py
  pyproject.toml
  requirements.txt
  tests/config/config_for_integration_tests.yaml
  tests/integration/test_approvals.py
  tests/integration/test_ols.py
  tests/unit/app/endpoints/test_streaming_ols.py
  tests/unit/app/models/test_models.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/tools/test_tools.py
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Wire skills retrieval into query pipeline
  ols/app/endpoints/streaming_ols.py
  ols/app/models/models.py
  ols/src/prompts/prompt_generator.py
  ols/src/prompts/prompts.py
  ols/src/query_helpers/docs_summarizer.py
  ols/src/tools/tools_rag/hybrid_tools_rag.py
  ols/utils/config.py
  tests/unit/app/endpoints/test_streaming_ols.py
  tests/unit/prompts/test_prompt_generator.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

chore: bump dependencies to latest
  ols/src/llms/providers/provider.py
  requirements.txt
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

fix: reorder e2e data_export tests to prevent feedback storage race condition
  tests/e2e/conftest.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

add deps-update cursor skill
  .cursor/skills/deps-update/SKILL.md
Due: none

feat: add troubleshooting prompts
  ols/src/auth/k8s.py
  ols/src/prompts/prompt_generator.py
  ols/src/prompts/prompts.py
  ols/src/query_helpers/docs_summarizer.py
  ols/src/query_helpers/query_helper.py
  tests/unit/auth/test_k8s.py
  tests/unit/prompts/test_prompt_generator.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

refactor: cache cluster version per process and fetch only in troubleshooting mode
  ols/src/auth/k8s.py
  ols/src/query_helpers/docs_summarizer.py
  tests/unit/auth/test_k8s.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Break tool-calling loop when model emits no tool calls
  ols/src/query_helpers/docs_summarizer.py
  tests/integration/test_ols.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Update own-app-lightspeed-rag-content to 5a5b7e5
  Containerfile
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

fix: initialize version_data before try block to prevent UnboundLocalError
  ols/src/auth/k8s.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Wire skills retrieval into query pipeline
  ols/app/endpoints/streaming_ols.py
  ols/app/models/models.py
  ols/src/prompts/prompt_generator.py
  ols/src/prompts/prompts.py
  ols/src/query_helpers/docs_summarizer.py
  ols/src/rag/hybrid_rag.py
  ols/src/skills/skills_rag.py
  ols/src/tools/tools_rag/hybrid_tools_rag.py
  ols/utils/config.py
  tests/test_skills/test-migration/skill.md
  tests/test_skills/test-triage/skill.md
  tests/unit/app/endpoints/test_streaming_ols.py
  tests/unit/prompts/test_prompt_generator.py
  tests/unit/rag/test_hybrid_rag.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Add resolve-cve Cursor skill for CVE vulnerability triage
  .cursor/skills/resolve-cve/SKILL.md
Due: none

sq
  Containerfile
  README.md
  scripts/generate-rpm-lock.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Adding eval dependencies to support required metrics.
  Makefile
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Generated requirements.overrides.txt
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
  pyproject.toml
  requirements-build.txt
  requirements.hashes.source.txt
  requirements.hashes.wheel.txt
  requirements.overrides.txt
  scripts/generate_requirements_overrides.py
  scripts/konflux_requirements.sh
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Cap per-round tool budget to prevent subsequent rounds from being starved
  ols/src/query_helpers/docs_summarizer.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Cap per-round tool budget with progressive decay based on round index
  ols/src/query_helpers/docs_summarizer.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Divide tool token budget evenly across parallel tool calls
  ols/src/tools/tools.py
  tests/unit/tools/test_tools.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Changing lseval test config for reading API key info.
  tests/e2e/evaluation/test_lseval_periodic.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

use wheels from RHOAI 3.3 index
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
  AGENTS.md
  Containerfile
  Makefile
  README.md
  build.args
  pyproject.toml
  redhat.repo
  requirements-build.txt
  requirements.hashes.source.txt
  requirements.hashes.wheel.txt
  requirements.hermetic.txt
  requirements.overrides.txt
  requirements.txt
  rpms.in.yaml
  rpms.lock.yaml
  scripts/generate-rpm-lock.sh
  scripts/konflux_requirements.sh
  ubi.repo
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Setting no_tools to null and addressing error rates for lsevals.
  eval/system_openai_lseval.yaml
  tests/e2e/evaluation/test_lseval_periodic.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Introduce TokenBudgetTracker for unified per-request token accounting
  ols/src/query_helpers/docs_summarizer.py
  ols/utils/token_handler.py
  scripts/evaluation/utils/rag.py
  tests/integration/test_approvals.py
  tests/integration/test_ols.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/utils/test_token_handler.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Extract LLMExecutionAgent from DocsSummarizer
  ols/src/query_helpers/docs_summarizer.py
  ols/src/query_helpers/llm_execution_agent.py
  tests/integration/test_approvals.py
  tests/integration/test_ols.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/query_helpers/test_llm_execution_agent.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

adding A2A protocol to OLS
  docs/openapi.json
  ols/app/routers.py
  ols/src/a2a/__init__.py
  ols/src/a2a/server.py
  ols/src/query_helpers/docs_summarizer.py
  pyproject.toml
  tests/unit/a2a_protocol/__init__.py
  tests/unit/a2a_protocol/test_a2a.py
  tests/unit/app/test_routers.py
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Adding all supported graphs for weekly reporting.
  eval/system_openai_lseval.yaml
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Adding all OLS supported providers to run lightspeed-evals.
  eval/system_azure_openai_lseval.yaml
  eval/system_rhelai_vllm_lseval.yaml
  eval/system_rhoai_vllm_lseval.yaml
  eval/system_watsonx_lseval.yaml
  tests/e2e/conftest.py
  tests/e2e/evaluation/test_lseval_periodic.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Fixes for query_conter update flakiness in watsonx suite.
  tests/e2e/test_query_endpoint.py
  tests/e2e/utils/metrics.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Use max(config, mode_default) for max_iterations
  ols/src/query_helpers/docs_summarizer.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Implementation of MCP e2e test
  tests/config/operator_install/olsconfig.crd.openai_mcp.yaml
  tests/e2e/conftest.py
  tests/e2e/mcp/olsconfig.yaml
  tests/e2e/mcp/server/Dockerfile
  tests/e2e/mcp/server/deployment.yaml
  tests/e2e/mcp/server/server.py
  tests/e2e/pytest.ini
  tests/e2e/test_mcp.py
  tests/e2e/utils/mcp_setup.py
  tests/scripts/test-e2e-cluster.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-2277: Offload large tool outputs to disk with search + read retrieval
  .reins/adrs/adr-001.md
  .reins/adrs/adr-002-in-memory-offloading.md
  .reins/plans/OLS-2277.md
  ols/app/main.py
  ols/app/models/config.py
  ols/constants.py
  ols/src/query_helpers/docs_summarizer.py
  ols/src/tools/offloaded_content.py
  ols/src/tools/tools.py
  tests/unit/app/models/test_config.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/tools/test_offloaded_content.py
  tests/unit/tools/test_tools.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify
