Repository openshift/lightspeed-service: changes, and which Prow jobs are due for each by the changed paths.
All: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/4.18-ols-evaluation, ci/prow/fips-image-scan-service

fips-image-scan-service:
  steps:
    dependencies:
      SCAN_IMAGE: lightspeed-service-api
    test:
    - ref: fips-check-image-scan

ci/prow/4.18-e2e-ols-cluster:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: '4.18'
    ci.openshift.io/generator: prowgen
    job-release: '4.18'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/4.18-ols-evaluation:
  decorate: true
  labels:
    ci-operator.openshift.io/variant: '4.18'
    ci.openshift.io/generator: prowgen
    job-release: '4.18'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/fips-image-scan-service:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Raise build memory limit in konflux
  .tekton/lightspeed-service-pull-request.yaml
Due: none

Enhancing RAG related logging wrt BYOK sources.
  ols/src/query_helpers/docs_summarizer.py
  ols/src/rag_index/index_loader.py
  ols/utils/token_handler.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/4.18-ols-evaluation, ci/prow/fips-image-scan-service

update pypdf to 6.1.3
  pdm.lock
  pyproject.toml
  requirements.txt
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

updated container file
  Containerfile
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/4.18-ols-evaluation, ci/prow/fips-image-scan-service

updated llaman-index-core to 0.12.45
  pdm.lock
  pyproject.toml
  requirements.txt
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Bump mcp dep to CVE free version
  pyproject.toml
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Further increase memory for konflux build job
  .tekton/lightspeed-service-pull-request.yaml
Due: none

Raise memory for prefetch-dependencies Konflux job
  .tekton/lightspeed-service-pull-request.yaml
Due: none

Minor dep sync
  pdm.lock
  requirements.txt
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Fix GradioUI system promptShow description for cd38b84
  ols/src/ui/gradio_ui.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Remove data collector
  .coveragerc
  .snyk
  docs/config.puml
  ols/app/models/config.py
  ols/user_data_collection/README.md
  ols/user_data_collection/__init__.py
  ols/user_data_collection/data_collector.py
  ols/utils/config.py
  scripts/data_collection/README.md
  scripts/data_collection/__init__.py
  scripts/data_collection/delete_ols_archive.py
  scripts/data_collection/download_ols_archive.py
  scripts/data_collection/list_objects_in_ceph.py
  scripts/data_collection/print_acls.py
  scripts/data_collection/print_ownership_controls.py
  scripts/data_collection/update_google_sheet.py
  scripts/data_collection/user_data_aggregator.py
  tests/unit/app/models/test_config.py
  tests/unit/user_data_collection/__init__.py
  tests/unit/user_data_collection/test_data_collector.py
  tests/unit/utils/test_config.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

add example for ls-eval
  .gitignore
  .woke.yaml
  eval/README.md
  eval/eval_data.yaml
  eval/eval_data_short.yaml
  eval/system.yaml
Due: fips-image-scan-service, ci/prow/fips-image-scan-service

Remove question_gen script
  scripts/questions_gen.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Remove repo sync script
  scripts/sync_repos.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Add datamasking service adapted from codeready-toolchain/tarsy-bot
  .gitignore
  ols/app/models/config.py
  ols/app/models/masking_config.py
  ols/src/maskers/__init__.py
  ols/src/maskers/base_masker.py
  ols/src/maskers/builtin_config.py
  ols/src/maskers/data_masking_service.py
  ols/src/maskers/kubernetes_secret_masker.py
  ols/src/tools/tools.py
  ols/utils/config.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/4.18-ols-evaluation, ci/prow/fips-image-scan-service

Pin llama-index-core to CVE free version
  pyproject.toml
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Collect config features
  examples/olsconfig.yaml
  ols/app/main.py
  ols/app/models/config.py
  ols/src/config_status/__init__.py
  ols/src/config_status/config_status.py
  tests/unit/app/models/test_config.py
  tests/unit/config_status/__init__.py
  tests/unit/config_status/test_config_status.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

updated ols version to 1.0.8
  AGENTS.md
  docs/openapi.json
  ols/version.py
  scripts/build-container.sh
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

add response security headers
  ols/app/main.py
  tests/integration/test_security_headers.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Bump langchain
  pdm.lock
  pyproject.toml
  requirements.txt
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Cache optimizations
  ols/src/cache/in_memory_cache.py
  ols/src/cache/postgres_cache.py
  tests/unit/cache/test_postgres_cache.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Streamline config collected features
  ols/src/config_status/config_status.py
  tests/unit/config_status/test_config_status.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Update PR template with AI section
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Prevent one failing MCP server from disabling all tools
  ols/src/query_helpers/docs_summarizer.py
  tests/integration/test_ols.py
  tests/unit/query_helpers/test_docs_summarizer.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/4.18-ols-evaluation, ci/prow/fips-image-scan-service

Bump urllib3 to 2.6.2
  pdm.lock
  pyproject.toml
  requirements.txt
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Use --no-cache for pdm install
  Makefile
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/4.18-ols-evaluation, ci/prow/fips-image-scan-service

update eval exp resp for q3 & q7
  scripts/evaluation/eval_data/question_answer_pair.json
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

initial implementation
  ols/app/endpoints/hitl.py
  ols/app/endpoints/ols.py
  ols/app/models/config.py
  ols/app/models/models.py
  ols/app/routers.py
  ols/src/hitl/__init__.py
  ols/src/hitl/hitl_manager.py
  ols/utils/config.py
  tests/unit/app/endpoints/test_hitl.py
  tests/unit/app/models/test_hitl_config.py
  tests/unit/app/models/test_hitl_models.py
  tests/unit/app/test_routers.py
  tests/unit/hitl/__init__.py
  tests/unit/hitl/test_hitl_manager.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Bump aiohttp to 3.13.3
  pdm.lock
  pyproject.toml
  requirements.txt
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Create a version update rule for Cursor
  .cursor/rules/version-update.mdc
  AGENTS.md
Due: fips-image-scan-service, ci/prow/fips-image-scan-service

Bump urllib3 to 2.6.3
  pdm.lock
  pyproject.toml
  requirements.txt
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

OLS-2492: Have Konflux apply the 'latest' floating tag to the images it builds
  Containerfile
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/4.18-ols-evaluation, ci/prow/fips-image-scan-service

Lock kubernetes dependency
  pyproject.toml
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Cache optimizations
  ols/src/cache/in_memory_cache.py
  ols/src/cache/postgres_cache.py
  pdm.lock
  tests/unit/cache/test_in_memory_cache.py
  tests/unit/cache/test_postgres_cache.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Remove conversation_cache_type and custom_system_prompt_enabled from data
  ols/src/config_status/config_status.py
  tests/unit/config_status/test_config_status.py
  tests/unit/utils/test_config.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Adding advisory lock to be concurrency safe
  ols/src/cache/in_memory_cache.py
  ols/src/cache/postgres_cache.py
  tests/unit/cache/test_in_memory_cache.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Adding advisory lock to be concurrency safe
  ols/src/cache/in_memory_cache.py
  ols/src/cache/postgres_cache.py
  tests/unit/cache/test_in_memory_cache.py
  tests/unit/cache/test_postgres_cache.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/fips-image-scan-service

Use max_completion_tokens instead of deprecated max_tokens
  ols/constants.py
  ols/src/llms/providers/azure_openai.py
  ols/src/llms/providers/openai.py
  ols/src/llms/providers/provider.py
  ols/src/llms/providers/rhelai_vllm.py
  ols/src/llms/providers/rhoai_vllm.py
  tests/unit/llms/providers/test_azure_openai.py
  tests/unit/llms/providers/test_openai.py
  tests/unit/llms/providers/test_rhelai_vllm.py
  tests/unit/llms/providers/test_rhoai_vllm.py
Due: fips-image-scan-service, ci/prow/4.18-e2e-ols-cluster, ci/prow/4.18-ols-evaluation, ci/prow/fips-image-scan-service

Drop allow_binary for konflux
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
Due: none

Path conditions:
  fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/4.18-e2e-ols-cluster: any of: ^(Containerfile.*|Makefile|manifests/.*|ols/.*|pyproject.toml|pdm.lock|scripts/.*|tests/.*)$
  ci/prow/4.18-ols-evaluation: any of: ^(Containerfile|tests/e2e/scripts/test-evaluation.sh|tests/e2e/scripts/utils.sh|Makefile|tests/e2e/evaluation/.*|ols/src/llms/providers/.*|ols/src/prompts/.*|ols/src/query_helpers/docs_summarizer.py|ols/src/rag_index/.*|ols/src/tools/.*|ols/utils/token_handler.py|ols/constants.py)$
  ci/prow/fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
