Repository openshift/lightspeed-service: changes, and which Prow jobs are due for each by the changed paths.
All: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Path conditions:
  fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-ols-cluster: any of: ^(Containerfile.*|Makefile|manifests/.*|ols/.*|pyproject.toml|pdm.lock|scripts/.*|tests/.*)$
  ci/prow/fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/integration: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/ols-evaluation: any of: ^(Containerfile|tests/e2e/scripts/test-evaluation.sh|tests/e2e/scripts/utils.sh|Makefile|tests/e2e/evaluation/.*|ols/src/llms/providers/.*|ols/src/prompts/.*|ols/src/query_helpers/docs_summarizer.py|ols/src/rag_index/.*|ols/src/tools/.*|ols/utils/token_handler.py|ols/constants.py)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$

OLS-3824 OLS-3783 OLS-3763 fix: bump CVE deps (aiohttp, banks, sentence-transformers)
  .konflux/requirements-build.txt
  .konflux/requirements.hashes.source.txt
  .konflux/requirements.hashes.wheel.txt
  .konflux/requirements.overrides.txt
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
  pyproject.toml
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

updating spec
  .ai/spec/how/e2e-bedrock.md
Due: none

dropping podman call when binaries exist to avoid lack of permissions error in prow.
  scripts/tls-scan.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3824 fix: write sdist-only hashes in Konflux source requirements
  .konflux/requirements-build.txt
  .konflux/requirements.hashes.source.txt
  scripts/konflux_resolve.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3736 Address CI and review feedback
  ols/src/llms/providers/provider.py
  tests/unit/llms/providers/test_providers.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3736 fix IPv6 addresses in no-proxy causing invalid port error
  ols/src/llms/providers/provider.py
  tests/unit/llms/providers/test_providers.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3548 Use monkeypatch for dev_config mutation; clarify stripping order
  ols/src/llms/providers/provider.py
  tests/unit/llms/providers/test_bedrock.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3548 Omit temperature for models that deprecate it
  examples/olsconfig.yaml
  ols/app/models/config.py
  ols/src/llms/providers/provider.py
  tests/unit/app/models/test_config.py
  tests/unit/llms/providers/test_bedrock.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3548 Address CI failures and review feedback
  examples/olsconfig.yaml
  tests/unit/llms/providers/test_bedrock.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3736 Fix stale _construct_httpx_client call site after rebase
  tests/unit/llms/providers/test_providers.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

feat: in-process LLM credential hot-reload (RFE-9380)
  docs/credential-hot-reload.md
  ols/app/models/config.py
  ols/src/llms/providers/azure_openai.py
  ols/src/llms/providers/bedrock.py
  ols/src/llms/providers/google_vertex.py
  ols/src/llms/providers/openai.py
  ols/src/llms/providers/rhelai_vllm.py
  ols/src/llms/providers/rhoai_vllm.py
  ols/src/llms/providers/watsonx.py
  ols/utils/checks.py
  tests/unit/app/models/test_config.py
  tests/unit/llms/providers/test_bedrock.py
  tests/unit/llms/providers/test_openai.py
  tests/unit/utils/test_checks.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3450: Gate hot-reload on credential_hot_reload config flag
  ols/app/models/config.py
  ols/src/llms/providers/bedrock.py
  tests/unit/app/models/test_config.py
  tests/unit/llms/providers/test_bedrock.py
  tests/unit/llms/providers/test_openai.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Address code review: consolidate AWS cred reads and guard optional role_arn
  ols/app/models/config.py
  ols/src/llms/providers/bedrock.py
  tests/unit/llms/providers/test_bedrock.py
  tests/unit/llms/providers/test_openai.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3853 Bump version to 1.1.3
  docs/openapi.json
  ols/version.py
  scripts/build-container.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3782 Fix Azure Entra ID e2e test failure — proper error on token acquisition failure
  ols/src/llms/providers/azure_openai.py
  tests/unit/llms/providers/test_azure_openai.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

fix tls scan to address changes from OLS-3797
  scripts/tls-scan.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

fixing lseval gemini and deepseek olsconfigs
  eval/system_bedrock_deepseek_lseval.yaml
  tests/config/operator_install/olsconfig.crd.bedrock_deepseek_lseval.yaml
  tests/config/operator_install/olsconfig.crd.vertex_gemini_lseval.yaml
  tests/config/operator_install/olsconfig.crd.watsonx_byok1.yaml
  tests/config/operator_install/olsconfig.crd.watsonx_byok2.yaml
  tests/e2e/test_query_endpoint.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

disabling byok2 temporarily
  tests/scripts/test-e2e-cluster-periodics.sh
  tests/scripts/test-e2e-cluster.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

upgrading openai versions
  eval/system.yaml
  eval/system_cluster_updates.yaml
  eval/troubleshooting/olsconfig/olsconfig-openai.yaml
  examples/olsconfig.yaml
  scripts/evaluation/eval_data/question_answer_pair.json
  scripts/evaluation/eval_data/result/README.md
  scripts/evaluation/utils/constants.py
  tests/config/operator_install/olsconfig.crd.evaluation.yaml
  tests/config/operator_install/olsconfig.crd.openai.yaml
  tests/config/operator_install/olsconfig.crd.openai_cluster_updates.yaml
  tests/config/operator_install/olsconfig.crd.openai_data_export.yaml
  tests/config/operator_install/olsconfig.crd.openai_lseval.yaml
  tests/config/operator_install/olsconfig.crd.openai_mcp.yaml
  tests/config/operator_install/olsconfig.crd.openai_quota.yaml
  tests/config/operator_install/olsconfig.crd.openai_tool_calling.yaml
  tests/e2e/conftest.py
  tests/e2e/test_api.py
  tests/scripts/test-cluster-updates.sh
  tests/scripts/test-e2e-cluster-periodics.sh
  tests/scripts/test-e2e-cluster.sh
  tests/scripts/test-evaluation.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

adding azure openai upgrade as well
  Makefile
  eval/system_azure_openai_lseval.yaml
  eval/troubleshooting/olsconfig/olsconfig-azure-openai.yaml
  scripts/evaluation/eval_data/question_answer_pair.json
  scripts/evaluation/eval_data/result/README.md
  scripts/evaluation/utils/constants.py
  tests/config/operator_install/olsconfig.crd.azure_openai.yaml
  tests/config/operator_install/olsconfig.crd.azure_openai_lseval.yaml
  tests/config/operator_install/olsconfig.crd.azure_openai_tool_calling.yaml
  tests/config/operator_install/olsconfig.crd.evaluation.yaml
  tests/e2e/conftest.py
  tests/e2e/test_api.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

openai uses curly apostrophes instead of straight ones so we need to consider that situation
  tests/e2e/test_query_endpoint.py
  tests/e2e/test_streaming_query_endpoint.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

modifying the invalid question assertions
  tests/e2e/test_query_endpoint.py
  tests/e2e/test_streaming_query_endpoint.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

removing byok changes
  tests/config/operator_install/olsconfig.crd.watsonx_byok1.yaml
  tests/config/operator_install/olsconfig.crd.watsonx_byok2.yaml
  tests/e2e/test_query_endpoint.py
  tests/scripts/test-e2e-cluster-periodics.sh
  tests/scripts/test-e2e-cluster.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

fixing mcp test and invalid question tests
  scripts/evaluation/eval_data/result/README.md
  tests/e2e/test_api.py
  tests/e2e/test_mcp.py
  tests/e2e/test_query_endpoint.py
  tests/e2e/test_streaming_query_endpoint.py
  tests/scripts/test-e2e-cluster-periodics.sh
  tests/scripts/test-e2e-cluster.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

attempting to fix tls-scan
  scripts/tls-scan.sh
  tests/e2e/test_api.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

fixing the temperature of all gpt-5-mini judge models
  eval/system_azure_openai_lseval.yaml
  eval/system_openai_lseval.yaml
  eval/system_rhelai_vllm_lseval.yaml
  eval/system_rhoai_vllm_lseval.yaml
  eval/system_watsonx_lseval.yaml
  eval/troubleshooting/system.yaml
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

remove openshift and red hat assertions to account for watsonx
  tests/e2e/test_query_endpoint.py
  tests/e2e/test_streaming_query_endpoint.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OTA-1927: Update cluster-updates-critical queries to match console
  eval/eval_data_cluster_updates.yaml
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

fixing openai model consistency
  eval/system_openai_lseval.yaml
  tests/scripts/test-lseval-presubmit.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3832: Add trailing newline to build.args
  build.args
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

gpt-3.5-turbo was removed. Move to 4.1-mini for rhoai and rhelai tests
  eval/system_rhelai_vllm_lseval.yaml
  tests/config/operator_install/olsconfig.crd.rhelai_vllm.yaml
  tests/config/operator_install/olsconfig.crd.rhoai_vllm.yaml
  tests/scripts/test-e2e-cluster-periodics.sh
  tests/scripts/test-e2e-cluster.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Limit request body
  ols/app/main.py
  ols/app/models/models.py
  ols/constants.py
  tests/unit/app/models/test_models.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3221 Add PostgreSQL auto-recovery after DB restart
  docs/openapi.json
  ols/app/endpoints/health.py
  ols/app/models/config.py
  ols/app/models/models.py
  ols/constants.py
  ols/src/cache/postgres_cache.py
  ols/utils/postgres.py
  tests/unit/app/endpoints/test_health.py
  tests/unit/app/models/test_config.py
  tests/unit/cache/test_postgres_cache.py
  tests/unit/cache/test_postgres_cache_transaction_fix.py
  tests/unit/utils/test_postgres.py
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Limit request body - fixed bugs
  docs/openapi.json
  ols/app/main.py
  tests/unit/app/models/test_models.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3221 Reconnect Postgres cache after DB restart
  docs/config.puml
  ols/app/models/config.py
  ols/constants.py
  ols/src/cache/postgres_cache.py
  ols/utils/postgres.py
  tests/unit/cache/test_postgres_cache.py
  tests/unit/utils/test_postgres.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

OLS-3991: bump langsmith to 0.8.0
  .konflux/requirements-build.txt
  .konflux/requirements.hashes.source.txt
  .konflux/requirements.hashes.wheel.txt
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
  pyproject.toml
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3991: document Konflux-safe Python dependency bumps
  .konflux/README.md
  AGENTS.md
  CONTRIBUTING.md
  Makefile
  README.md
  docs/ai/dependencies.md
  docs/update-requirements.md
  scripts/verify_hermetic_requirements.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

LiteLLM: drop unsupported params
  eval/system.yaml
  eval/system_azure_openai_lseval.yaml
  eval/system_bedrock_deepseek_lseval.yaml
  eval/system_cluster_updates.yaml
  eval/system_openai_lseval.yaml
  eval/system_rhelai_vllm_lseval.yaml
  eval/system_rhoai_vllm_lseval.yaml
  eval/system_vertex_claude_lseval.yaml
  eval/system_vertex_gemini_lseval.yaml
  eval/system_watsonx_lseval.yaml
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify
