Repository openshift/lightspeed-service: changes, and which Prow jobs are due for each by the changed paths.
All: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

fips-image-scan-service:
  steps:
    dependencies:
      SCAN_IMAGE: lightspeed-service-api
    test:
    - ref: fips-check-image-scan

ci/prow/e2e-ols-cluster:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/fips-image-scan-service:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/integration:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/ols-evaluation:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/verify:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

removing temperature param and pass threshold.
  eval/system_azure_openai_lseval.yaml
  eval/system_openai_lseval.yaml
  eval/system_rhelai_vllm_lseval.yaml
  eval/system_rhoai_vllm_lseval.yaml
  eval/system_watsonx_lseval.yaml
  eval/troubleshooting/system.yaml
  tests/e2e/evaluation/test_lseval_periodic.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Prefix error messages with source to distinguish LLM backend and network errors
  ols/utils/errors_parsing.py
  tests/integration/test_ols.py
  tests/unit/app/endpoints/test_streaming_ols.py
  tests/unit/utils/test_errors_parsing.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Version bump to 1.1.0
  docs/openapi.json
  ols/version.py
  scripts/build-container.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

add coderabbit support
  .coderabbit.yaml
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Creating condition for when json file is added as a string
  tests/config/operator_install/olsconfig.crd.google_vertex_anthropic_tool_calling.yaml
  tests/config/operator_install/olsconfig.crd.google_vertex_tool_calling.yaml
  tests/scripts/test-e2e-cluster.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

adding tool calling
  tests/scripts/test-e2e-cluster-periodics.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

adding vertex as a provider using both claude and gemini as models
  ols/src/query_helpers/llm_execution_agent.py
  tests/config/operator_install/olsconfig.crd.google_vertex.yaml
  tests/config/operator_install/olsconfig.crd.google_vertex_anthropic.yaml
  tests/scripts/test-e2e-cluster-periodics.sh
  tests/scripts/test-e2e-cluster.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

migrating to sonnet from opus
  ols/src/query_helpers/llm_execution_agent.py
  tests/config/operator_install/olsconfig.crd.google_vertex_anthropic.yaml
  tests/config/operator_install/olsconfig.crd.google_vertex_anthropic_tool_calling.yaml
  tests/scripts/test-e2e-cluster-periodics.sh
  tests/scripts/test-e2e-cluster.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Adding OKP for RAG support
  docs/ai/config.md
  examples/olsconfig.yaml
  ols/app/endpoints/ols.py
  ols/app/models/config.py
  ols/constants.py
  ols/src/prompts/prompt_generator.py
  ols/src/prompts/prompts.py
  ols/src/query_helpers/docs_summarizer.py
  ols/src/rag/hybrid_rag.py
  ols/src/rag/stop_words.py
  ols/src/rag_index/solr_support.py
  ols/utils/config.py
  pyproject.toml
  tests/unit/app/endpoints/test_health.py
  tests/unit/app/models/test_config.py
  tests/unit/prompts/test_prompt_generator.py
  tests/unit/query_helpers/test_docs_summarizer.py
  tests/unit/rag_index/test_solr_support.py
  tests/unit/utils/test_config.py
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

Extend investigate-ci-failure skill to cover Konflux CI
  .cursor/skills/investigate-ci-failure/SKILL.md
Due: none

OLS-3183 Bump starlette to 1.2.0 for CVE-2026-48710
  pyproject.toml
  requirements.hashes.source.txt
  requirements.txt
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Align spec structure with spec-first conventions
  .ai/spec/README.md
  .ai/spec/how/README.md
  .ai/spec/what/README.md
  AGENTS.md
  ARCHITECTURE.md
Due: none

Fix all findings from spec health report
  .ai/spec/README.md
  .ai/spec/health-report.md
  .ai/spec/how/auth.md
  .ai/spec/how/project-structure.md
  .ai/spec/how/query-pipeline.md
  .ai/spec/how/quota.md
  .ai/spec/what/llm-providers.md
  .ai/spec/what/observability.md
  .ai/spec/what/system-overview.md
Due: none

Version bump 1.1.1
  docs/openapi.json
  ols/version.py
  scripts/build-container.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Add risk level rubric to AGENTS.md
  AGENTS.md
Due: none

Simplify risk levels to pointer — rubric enforced via hook
  AGENTS.md
Due: none

Address CodeRabbit review findings
  .ai/spec/health-report.md
  .ai/spec/how/auth.md
  .ai/spec/how/query-pipeline.md
  .ai/spec/how/quota.md
  ARCHITECTURE.md
Due: none

Add RHOAI self-provisioned vLLM support for lseval pipeline
  eval/system_rhoai_vllm_lseval.yaml
  tests/config/operator_install/olsconfig.crd.rhoai_vllm_lseval.yaml
  tests/e2e/conftest.py
  tests/e2e/evaluation/test_lseval_periodic.py
  tests/e2e/utils/ols_installer.py
  tests/rhoai/manifests/gpu/cluster-policy.yaml
  tests/rhoai/manifests/gpu/create-nfd.yaml
  tests/rhoai/manifests/namespaces/nfd.yaml
  tests/rhoai/manifests/namespaces/nvidia-operator.yaml
  tests/rhoai/manifests/operators/ds-cluster.yaml
  tests/rhoai/manifests/operators/operatorgroup.yaml
  tests/rhoai/manifests/operators/operators.yaml
  tests/rhoai/manifests/vllm/vllm-inference-service-gpu.yaml
  tests/rhoai/manifests/vllm/vllm-runtime-gpu.yaml
  tests/rhoai/scripts/bootstrap.sh
  tests/rhoai/scripts/deploy-vllm.sh
  tests/rhoai/scripts/fetch-vllm-image.sh
  tests/rhoai/scripts/get-vllm-pod-info.sh
  tests/rhoai/scripts/gpu-setup.sh
  tests/scripts/test-lseval-periodic.sh
  tests/scripts/utils.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

fixing rhoai eval and fixing gpt5 temp to 1 (only allowed value)
  eval/system_azure_openai_lseval.yaml
  eval/system_openai_lseval.yaml
  eval/system_rhelai_vllm_lseval.yaml
  eval/system_rhoai_vllm_lseval.yaml
  eval/system_watsonx_lseval.yaml
  tests/config/operator_install/olsconfig.crd.rhoai_vllm_lseval.yaml
  tests/config/operator_install/route.yaml
  tests/e2e/evaluation/test_lseval_periodic.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

addressing comments
  eval/system_rhoai_vllm_lseval.yaml
  tests/e2e/utils/ols_installer.py
  tests/rhoai/manifests/operators/operatorgroup.yaml
  tests/rhoai/scripts/gpu-setup.sh
  tests/scripts/test-lseval-periodic.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Add design spec for RHOAI self-provisioned vLLM ls-evals pipeline
  docs/superpowers/specs/2026-05-15-rhoai-lseval-pipeline-design.md
Due: none

Disable tool calling for gemini
  tests/scripts/test-e2e-cluster.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Revert "Add design spec for RHOAI self-provisioned vLLM ls-evals pipeline"
  docs/superpowers/specs/2026-05-15-rhoai-lseval-pipeline-design.md
Due: none

Revert "Disable tool calling for gemini"
  tests/scripts/test-e2e-cluster.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3235: revert the task-buildah-remote-oci-ta Konflux task to the previous version
  .tekton/lightspeed-service-pull-request.yaml
  .tekton/lightspeed-service-push.yaml
Due: none

Bump urllib to 2.7.0 for CVE-2026-44432.
  pyproject.toml
  requirements.txt
  uv.lock
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

chore: bump dependencies to latest
  requirements.txt
  uv.lock
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Regenerate Konflux hermetic requirements after deps bump
  requirements.hashes.source.txt
  requirements.hashes.wheel.txt
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Fix konflux prefetch by keeping python-dotenv on PyPI source
  requirements.hashes.source.txt
  requirements.hashes.wheel.txt
  scripts/konflux_requirements.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Surgically bump pyjwt and urllib3 in konflux hash files
  requirements.hashes.source.txt
  requirements.hashes.wheel.txt
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

feat: filter MCP tools by available UI extensions on client
  ols/app/endpoints/ols.py
  ols/app/models/models.py
  ols/src/query_helpers/docs_summarizer.py
  ols/utils/mcp_utils.py
  tests/unit/app/models/test_models.py
  tests/unit/utils/test_mcp_utils.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/ols-evaluation, ci/prow/unit, ci/prow/verify

add netobserv scenarios and skills
  .gitignore
  eval/README.md
  eval/netobserv/Makefile
  eval/netobserv/README.md
  eval/netobserv/olsconfig/olsconfig-azure-openai.yaml
  eval/netobserv/olsconfig/olsconfig-openai.yaml
  eval/netobserv/olsconfig/olsconfig-rhelai-vllm.yaml
  eval/netobserv/olsconfig/olsconfig-rhoai-vllm.yaml
  eval/netobserv/olsconfig/olsconfig-watsonx.yaml
  eval/netobserv/scenario_evals.yaml
  eval/netobserv/scenarios/common/check_prereqs.sh
  eval/netobserv/scenarios/common/wait_for.sh
  eval/netobserv/scenarios/dns_latency/cleanup.sh
  eval/netobserv/scenarios/dns_latency/fixtures/manifest.yaml
  eval/netobserv/scenarios/dns_latency/setup.sh
  eval/netobserv/scenarios/dns_nxdomain/cleanup.sh
  eval/netobserv/scenarios/dns_nxdomain/fixtures/manifest.yaml
  eval/netobserv/scenarios/dns_nxdomain/setup.sh
  eval/netobserv/scenarios/packet_drops_kernel/cleanup.sh
  eval/netobserv/scenarios/packet_drops_kernel/fixtures/manifest.yaml
  eval/netobserv/scenarios/packet_drops_kernel/setup.sh
  eval/netobserv/scenarios/packet_drops_policy/cleanup.sh
  eval/netobserv/scenarios/packet_drops_policy/fixtures/manifest.yaml
  eval/netobserv/scenarios/packet_drops_policy/setup.sh
  eval/netobserv/scenarios/tcp_rtt/cleanup.sh
  eval/netobserv/scenarios/tcp_rtt/fixtures/manifest.yaml
  eval/netobserv/scenarios/tcp_rtt/setup.sh
  eval/netobserv/scenarios/tls_issues/cleanup.sh
  eval/netobserv/scenarios/tls_issues/fixtures/manifest.yaml
  eval/netobserv/scenarios/tls_issues/setup.sh
  eval/netobserv/system.yaml
  eval/scripts/update_eval_trends.py
  eval/troubleshooting/README.md
  skills/netobserv-flow-logs/reference.md
  skills/netobserv-flow-logs/skill.md
  skills/netobserv-metrics/reference.md
  skills/netobserv-metrics/skill.md
  tests/integration/test_skills_rag.py
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

all in one eval
  eval/netobserv/Makefile
  eval/netobserv/README.md
  eval/netobserv/system.yaml
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

removed contexts and addressed feedback
  eval/netobserv/Makefile
  eval/netobserv/README.md
  eval/netobserv/olsconfig/olsconfig-azure-openai.yaml
  eval/netobserv/olsconfig/olsconfig-openai.yaml
  eval/netobserv/olsconfig/olsconfig-rhelai-vllm.yaml
  eval/netobserv/olsconfig/olsconfig-rhoai-vllm.yaml
  eval/netobserv/olsconfig/olsconfig-watsonx.yaml
  eval/netobserv/scenario_evals.yaml
  eval/netobserv/scenarios/common/check_prereqs.sh
  eval/netobserv/scenarios/common/wait_for.sh
  eval/netobserv/scenarios/dns_latency/fixtures/manifest.yaml
  eval/netobserv/scenarios/dns_latency/setup.sh
  eval/netobserv/scenarios/dns_nxdomain/fixtures/manifest.yaml
  eval/netobserv/scenarios/dns_nxdomain/setup.sh
  eval/netobserv/scenarios/packet_drops_kernel/fixtures/manifest.yaml
  eval/netobserv/scenarios/packet_drops_kernel/setup.sh
  eval/netobserv/scenarios/packet_drops_policy/fixtures/manifest.yaml
  eval/netobserv/scenarios/packet_drops_policy/setup.sh
  eval/netobserv/scenarios/tcp_rtt/fixtures/manifest.yaml
  eval/netobserv/scenarios/tcp_rtt/setup.sh
  eval/netobserv/scenarios/tls_issues/setup.sh
  skills/netobserv-flow-logs/reference.md
  skills/netobserv-flow-logs/skill.md
  skills/netobserv-metrics/reference.md
  skills/netobserv-metrics/skill.md
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

Evals for kiali-ossm tools
  eval/kiali-ossm/Makefile
  eval/kiali-ossm/README.md
  eval/kiali-ossm/mcp-config.toml
  eval/kiali-ossm/olsconfig/olsconfig-openai.yaml
  eval/kiali-ossm/scenario_evals.yaml
  eval/kiali-ossm/scenarios/fix_bookinfo_fault_injection/cleanup.sh
  eval/kiali-ossm/scenarios/fix_bookinfo_fault_injection/fixtures/manifests.yaml
  eval/kiali-ossm/scenarios/fix_bookinfo_fault_injection/setup.sh
  eval/kiali-ossm/scenarios/fix_bookinfo_routing/cleanup.sh
  eval/kiali-ossm/scenarios/fix_bookinfo_routing/fixtures/manifests.yaml
  eval/kiali-ossm/scenarios/fix_bookinfo_routing/setup.sh
  eval/kiali-ossm/scenarios/troubleshoot_latency_trace/cleanup.sh
  eval/kiali-ossm/scenarios/troubleshoot_latency_trace/fixtures/manifests.yaml
  eval/kiali-ossm/scenarios/troubleshoot_latency_trace/setup.sh
  eval/kiali-ossm/system.yaml
  eval/scripts/update_eval_trends.py
Due: fips-image-scan-service, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3024 Add compliance audit logging spec
  .ai/spec/what/audit-logging.md
Due: none

addressing comments
  eval/system_rhoai_vllm_lseval.yaml
  tests/e2e/utils/adapt_ols_config.py
  tests/e2e/utils/ols_installer.py
  tests/rhoai/README.md
  tests/rhoai/manifests/operators/operatorgroup.yaml
  tests/rhoai/scripts/gpu-setup.sh
  tests/scripts/test-lseval-periodic.sh
Due: fips-image-scan-service, ci/prow/e2e-ols-cluster, ci/prow/fips-image-scan-service, ci/prow/integration, ci/prow/unit, ci/prow/verify

OLS-3221 Add PostgreSQL resilience spec for auto-recovery after DB restart
  .ai/spec/how/cache.md
  .ai/spec/what/api.md
  .ai/spec/what/conversation-history.md
Due: none

OLS-2607 update RAG spec for OKP adoption
  .ai/spec/what/rag.md
Due: none

Path conditions:
  fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-ols-cluster: any of: ^(Containerfile.*|Makefile|manifests/.*|ols/.*|pyproject.toml|pdm.lock|scripts/.*|tests/.*)$
  ci/prow/fips-image-scan-service: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/integration: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/ols-evaluation: any of: ^(Containerfile|tests/e2e/scripts/test-evaluation.sh|tests/e2e/scripts/utils.sh|Makefile|tests/e2e/evaluation/.*|ols/src/llms/providers/.*|ols/src/prompts/.*|ols/src/query_helpers/docs_summarizer.py|ols/src/rag_index/.*|ols/src/tools/.*|ols/utils/token_handler.py|ols/constants.py)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
