Repository openshift/assisted-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-static-ip-suite

Path conditions:
  e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  e2e-metal-assisted-cnv: any of: .*operator.*
  e2e-metal-assisted-ocs: any of: .*operator.*
  e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-kube-api-net-suite: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-cnv: any of: .*operator.*
  ci/prow/e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-kube-api-net-suite: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-ocs: any of: .*operator.*
  ci/prow/e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$

NO-ISSUE - junit: don't add cluster_id to class names (#1624)
  requirements.txt
  src/service_client/assisted_service_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Adding a cluster method to set cluster network (#1623)
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-9840 - Move bring_assisted_service Makefile target to bash script. Rebase assisted-service with origin/master
  Makefile
  scripts/bring_assisted_service.sh
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-9350: Add iPXE boot flow (#1578)
  README.md
  scripts/install_environment.sh
  skipper.env
  src/assisted_test_infra/test_infra/controllers/__init__.py
  src/assisted_test_infra/test_infra/controllers/ipxe_controller/__init__.py
  src/assisted_test_infra/test_infra/controllers/ipxe_controller/ipxe_controller.py
  src/assisted_test_infra/test_infra/controllers/ipxe_controller/server/Dockerfile
  src/assisted_test_infra/test_infra/controllers/ipxe_controller/server/local_ipxe_server.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
  src/assisted_test_infra/test_infra/helper_classes/config/cluster_config.py
  src/assisted_test_infra/test_infra/helper_classes/config/controller_config.py
  src/assisted_test_infra/test_infra/utils/utils.py
  src/consts/consts.py
  src/service_client/assisted_service_api.py
  src/tests/base_test.py
  src/tests/global_variables/env_variables_defaults.py
  src/triggers/default_triggers.py
  terraform_files/baremetal/main.tf
  terraform_files/baremetal/terraform.tfvars.json
  terraform_files/baremetal/variables-libvirt.tf
  terraform_files/baremetal_host/main.tf
  terraform_files/baremetal_host/variables.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

Fix errors when test-infra tries to access data/ (#1616)
  Makefile
  scripts/deploy_assisted_service.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-9840 - Move bring_assisted_service Makefile target to bash script. Rebase assisted-service with origin/master (#1617)
  Makefile
  scripts/bring_assisted_service.sh
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Do not assign static VIPs to the VMs
  src/assisted_test_infra/test_infra/controllers/node_controllers/vsphere_controller.py
  terraform_files/vsphere-ci-machine/main.tf
  terraform_files/vsphere-ci-machine/variables-vsphere.tf
  terraform_files/vsphere/main.tf
  terraform_files/vsphere/variables-vsphere.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

NO-ISSUE - Assert if no PULL_SECRET provided
  src/tests/conftest.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-7336: add labels to the v2 api
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/infra_env.py
  src/service_client/assisted_service_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE - Assert if no PULL_SECRET provided (#1632)
  src/tests/conftest.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-7336: add labels to the v2 api (#1473)
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/infra_env.py
  src/service_client/assisted_service_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: Set global git user & email address when running in CI
  scripts/bring_assisted_service.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: Set global git user & email address when running in CI (#1633)
  scripts/bring_assisted_service.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-9849: convert test_kube_api to multi-node
  src/tests/base_kubeapi_test.py
  src/tests/test_kube_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-9849: convert test_kube_api to multi-node (#1613)
  src/tests/base_kubeapi_test.py
  src/tests/test_kube_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

[release-ocm-2.5] NO-ISSUE: Change catalog image to target ocm-2.5
  Makefile
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

debugging assisted service from beaker machine fixing - broke by https://github.com/openshift/assisted-service/pull/3491/
  scripts/deploy_assisted_service.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

debugging assisted service from beaker machine fixing - broke by https://github.com/openshift/assisted-service/pull/3491/ (#1637)
  scripts/deploy_assisted_service.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

[release-ocm-2.5] NO-ISSUE: Change catalog image to target ocm-2.5 (#1636)
  Makefile
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: Collect nodepool CR when collecting CAPI resources
  scripts/download_logs.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-10112 - Add info about how to add a new e2e test
  GUIDE.md
  README.md
Due: none

MGMT-10112 - Add info about how to add a new e2e test (#1635)
  GUIDE.md
  README.md
Due: none

NO-ISSUE: Collect nodepool CR when collecting CAPI resources (#1638)
  scripts/download_logs.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-10223: capi test should update nodepool replicas instead of nodeCount
  src/assisted_test_infra/test_infra/helper_classes/hypershift.py
  src/tests/test_kube_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-10223: capi test should update nodepool replicas instead of nodeCount (#1645)
  src/assisted_test_infra/test_infra/helper_classes/hypershift.py
  src/tests/test_kube_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-9682: fix disk sizes used in various places
  src/consts/consts.py
  src/consts/olm_operators.py
  src/consts/resources.py
  terraform_files/baremetal_host/variables.tf
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-static-ip-suite

MGMT-9682: fix disk sizes used in various places (#1647)
  src/consts/consts.py
  src/consts/olm_operators.py
  src/consts/resources.py
  terraform_files/baremetal_host/variables.tf
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-static-ip-suite

Log hosts' statuses (including status info) while waiting for the status of the cluster to update (#1652)
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/utils/utils.py
  src/assisted_test_infra/test_infra/utils/waiting.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-8938: Add support for bootstrap-in-place day-2 worker flow
  Makefile
  src/assisted_test_infra/resources/bootstrap_in_place/install-config.yaml
  src/assisted_test_infra/resources/bootstrap_in_place/sno-worker-install.sh
  src/assisted_test_infra/resources/bootstrap_in_place/sno-worker-live.ign.j2
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_entity_config.py
  src/assisted_test_infra/test_infra/helper_classes/config/nodes_config.py
  src/assisted_test_infra/test_infra/utils/oc_utils.py
  src/tests/test_bootstrap_in_place.py
  terraform_files/baremetal/main.tf
  terraform_files/baremetal/terraform.tfvars.json
  terraform_files/baremetal/variables-libvirt.tf
  terraform_files/baremetal_infra_env/main.tf
  terraform_files/baremetal_infra_env/terraform.tfvars.json
  terraform_files/baremetal_infra_env/variables-libvirt.tf
  terraform_files/none/main.tf
  terraform_files/none/terraform.tfvars.json
  terraform_files/none/variables-libvirt.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

Install swtpm packages only if need disk encryption
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Install swtpm packages only if need disk encryption (#1654)
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-8938: Add support for bootstrap-in-place day-2 worker flow (#1639)
  Makefile
  src/assisted_test_infra/resources/bootstrap_in_place/install-config.yaml
  src/assisted_test_infra/resources/bootstrap_in_place/sno-worker-install.sh
  src/assisted_test_infra/resources/bootstrap_in_place/sno-worker-live.ign.j2
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_entity_config.py
  src/assisted_test_infra/test_infra/helper_classes/config/nodes_config.py
  src/assisted_test_infra/test_infra/utils/oc_utils.py
  src/tests/test_bootstrap_in_place.py
  terraform_files/baremetal/main.tf
  terraform_files/baremetal/terraform.tfvars.json
  terraform_files/baremetal/variables-libvirt.tf
  terraform_files/baremetal_infra_env/main.tf
  terraform_files/baremetal_infra_env/terraform.tfvars.json
  terraform_files/baremetal_infra_env/variables-libvirt.tf
  terraform_files/none/main.tf
  terraform_files/none/terraform.tfvars.json
  terraform_files/none/variables-libvirt.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

Install swtpm packages only if need disk encryption (#1655)
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-9179 - Single node bootstrap-in-place flow should use OVNKubernetes
  src/assisted_test_infra/resources/bootstrap_in_place/install-config.yaml
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-9179 - Single node bootstrap-in-place flow should use OVNKubernetes (#1646)
  src/assisted_test_infra/resources/bootstrap_in_place/install-config.yaml
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

revert libvirt downgrade on Rocky Linux
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

revert libvirt downgrade on Rocky Linux (#1659)
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

revert libvirt downgrade on Rocky Linux (#1660)
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite
