Repository openshift/assisted-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-static-ip-suite

e2e-metal-assisted:
  steps:
    cluster_profile: packet-assisted
    workflow: assisted-baremetal

e2e-metal-assisted-cnv:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'OLM_OPERATORS=cnv
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-ocs:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'OLM_OPERATORS=ocs
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-day2:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'TEST_FUNC=test_deploy_day2_nodes_cloud
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-ipv6:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'IPv6=yes
  
        IPv4=no
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-ipv4v6:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'IPv6=yes
  
        IPv4=yes
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-none:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'PLATFORM=none
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-kube-api-net-suite:
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'KUBE_API=true
  
        ENABLE_KUBE_API=true
  
        NUM_MASTERS=1
  
        ISO_IMAGE_TYPE=minimal-iso
  
        STATIC_IPS=true
  
        TEST_FUNC=test_kubeapi
  
        MAKEFILE_TARGET="create_full_environment run test_kube_api_parallel"
  
  ...

e2e-metal-assisted-static-ip-suite:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'STATIC_IPS=true
  
        TEST_FUNC=test_networking
  
        '
    workflow: assisted-baremetal

ci/prow/e2e-metal-assisted:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-metal-assisted-cnv:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-metal-assisted-day2:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

NO-ISSUE: remove reject rules from LIBVIRT_FWI chain instead of flushing the chain (#1747)
  scripts/install_environment.sh
  scripts/setup_capi_env.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-11110 - Fix vsphere test
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/utils/terraform_util.py
  src/assisted_test_infra/test_infra/utils/utils.py
  src/tests/base_test.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-11110 - Remove unused default tfvars files from terraform template (#1745)
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/tools/terraform_utils.py
  src/assisted_test_infra/test_infra/utils/terraform_util.py
  src/assisted_test_infra/test_infra/utils/utils.py
  src/consts/consts.py
  src/tests/base_test.py
  terraform_files/baremetal/terraform.tfvars.json
  terraform_files/baremetal/variables-libvirt.tf
  terraform_files/baremetal_infra_env/terraform.tfvars.json
  terraform_files/baremetal_infra_env/variables-libvirt.tf
  terraform_files/none/terraform.tfvars.json
  terraform_files/none/variables-libvirt.tf
  terraform_files/vsphere-ci-machine/terraform.tfvars.json
  terraform_files/vsphere/terraform.tfvars.json
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

document vsphere special env variables
  README.md
  terraform_files/vsphere/variables-vsphere.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

document vsphere special env variables (#1754)
  README.md
  terraform_files/vsphere/variables-vsphere.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

DO NOT APPROVE - test
  README.md
  terraform_files/vsphere/variables-vsphere.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

Allow usage of AlmaLinux OS in assisted-test-infra
  GUIDE.md
  README.md
  scripts/create_full_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Allow usage of AlmaLinux OS in assisted-test-infra (#1756)
  GUIDE.md
  README.md
  scripts/create_full_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE - Remove flake8 select plugin limitations. Fix PEP8 violations.
  .flake8
  requirements-dev.txt
  src/assisted_test_infra/download_logs/download_logs.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
  src/assisted_test_infra/test_infra/helper_classes/hypershift.py
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/agent.py
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/agent_cluster_install.py
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/cluster_image_set.py
  src/assisted_test_infra/test_infra/utils/operators_utils.py
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-static-ip-suite

NO-ISSUE - Remove flake8 select plugin limitations. Fix PEP8 violations. (#1757)
  .flake8
  requirements-dev.txt
  src/assisted_test_infra/download_logs/download_logs.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
  src/assisted_test_infra/test_infra/helper_classes/hypershift.py
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/agent.py
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/agent_cluster_install.py
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/cluster_image_set.py
  src/assisted_test_infra/test_infra/utils/operators_utils.py
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-static-ip-suite

MGMT-11119: CI workaround: Get swtpm from source
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-11119: CI workaround: Get swtpm from source (#1748)
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE - Add makefile target for deleting all exits clusters
  Makefile
  src/tests/test_targets.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE - Add makefile target for deleting all exits clusters (#1758)
  Makefile
  src/tests/test_targets.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Fix is_static_ip configuration
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/cluster_host.py
  src/assisted_test_infra/test_infra/helper_classes/day2_cluster.py
  src/assisted_test_infra/test_infra/helper_classes/entity.py
  src/tests/base_kubeapi_test.py
  src/tests/base_test.py
  src/tests/test_kube_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Do not pull images from Dockerfile.*.ocp files
  scripts/pull_dockerfile_images.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE - Remove redundant destroy_nodes when preparing nodes
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
  src/tests/test_day2.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

Do not pull images from Dockerfile.*.ocp files (#1760)
  scripts/pull_dockerfile_images.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE - Allow KeyboardInterrupt during download logs
  src/assisted_test_infra/download_logs/__main__.py
  src/assisted_test_infra/download_logs/download_logs.py
  src/tests/base_test.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE - Allow KeyboardInterrupt during download logs (#1761)
  src/assisted_test_infra/download_logs/__main__.py
  src/assisted_test_infra/download_logs/download_logs.py
  src/tests/base_test.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE - Prevent from using the same assisted-service image while using DEBUG_SERVICE flag
  scripts/deploy_assisted_service.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE - Prevent from using the same assisted-service image while using DEBUG_SERVICE flag (#1764)
  scripts/deploy_assisted_service.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-11109 - Prepare nodes only after having an infra_env (#1744)
  src/assisted_test_infra/test_infra/controllers/node_controllers/node_controller.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/cluster_host.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_entity_config.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_infra_env_config.py
  src/assisted_test_infra/test_infra/helper_classes/config/cluster_config.py
  src/assisted_test_infra/test_infra/helper_classes/day2_cluster.py
  src/assisted_test_infra/test_infra/helper_classes/entity.py
  src/assisted_test_infra/test_infra/helper_classes/infra_env.py
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/infraenv.py
  src/assisted_test_infra/test_infra/helper_classes/nodes.py
  src/assisted_test_infra/test_infra/utils/utils.py
  src/service_client/assisted_service_api.py
  src/tests/base_kubeapi_test.py
  src/tests/base_test.py
  src/tests/config/global_configs.py
  src/tests/test_day2.py
  src/tests/test_kube_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

NO-ISSUE: provide baseDomain when creating hypershift hostedcluster
  src/assisted_test_infra/test_infra/helper_classes/hypershift.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: provide baseDomain when creating hypershift hostedcluster (#1765)
  src/assisted_test_infra/test_infra/helper_classes/hypershift.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

WIP NO-ISSUE: Define a fully dynamic IP range
  src/tests/base_kubeapi_test.py
  terraform_files/baremetal/main.tf
  terraform_files/baremetal_infra_env/limit_ip_dhcp_range.xsl
  terraform_files/baremetal_infra_env/main.tf
  terraform_files/limit_ip_dhcp_range.xsl
  terraform_files/none/limit_ip_dhcp_range.xsl
  terraform_files/none/main.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

WIP NO-ISSUE: Define a fully dynamic IP range (#1766)
  src/tests/base_kubeapi_test.py
  terraform_files/baremetal/main.tf
  terraform_files/baremetal_infra_env/limit_ip_dhcp_range.xsl
  terraform_files/baremetal_infra_env/main.tf
  terraform_files/limit_ip_dhcp_range.xsl
  terraform_files/none/limit_ip_dhcp_range.xsl
  terraform_files/none/main.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

Support podman-remote - connecting to the host podman socket and make the containers visible to host container tool
  Dockerfile.assisted-test-infra
  Makefile
  scripts/install_environment.sh
  scripts/run_minikube.sh
  scripts/test_ui.sh
  scripts/utils.sh
  skipper.yaml
  src/assisted_test_infra/test_infra/controllers/ipxe_controller/ipxe_controller.py
  src/assisted_test_infra/test_infra/controllers/tang_controller/tang_controller.py
  src/assisted_test_infra/test_infra/utils/utils.py
  src/consts/consts.py
  src/tests/test_bootstrap_in_place.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

Support podman-remote - connecting to the host podman socket and make the containers visible to host container tool (#1767)
  Dockerfile.assisted-test-infra
  Makefile
  scripts/install_environment.sh
  scripts/run_minikube.sh
  scripts/test_ui.sh
  scripts/utils.sh
  skipper.yaml
  src/assisted_test_infra/test_infra/controllers/ipxe_controller/ipxe_controller.py
  src/assisted_test_infra/test_infra/controllers/tang_controller/tang_controller.py
  src/assisted_test_infra/test_infra/utils/utils.py
  src/consts/consts.py
  src/tests/test_bootstrap_in_place.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

fix EPEL installation for RHEL and CentOS
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Fix swtpm installation not being idempotent
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

fix EPEL installation for RHEL and CentOS (#1774)
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Set default container tool to podman Fixing podman installation command
  scripts/deploy_assisted_service.sh
  scripts/install_environment.sh
  scripts/utils.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Fix swtpm installation not being idempotent (#1775)
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Set default container tool to podman (#1777)
  scripts/deploy_assisted_service.sh
  scripts/install_environment.sh
  scripts/utils.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: `download_logs.py` should include cluster infra-envs in `metadata.json`
  src/assisted_test_infra/download_logs/download_logs.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: `download_logs.py` should include cluster infra-envs in `metadata.json` (#1778)
  src/assisted_test_infra/download_logs/download_logs.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Fix podman verification code
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Fix podman verification code (#1776)
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

install podman from 4.0 stream on RHEL 8 machines
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Path conditions:
  e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  e2e-metal-assisted-cnv: any of: .*operator.*
  e2e-metal-assisted-ocs: any of: .*operator.*
  e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-kube-api-net-suite: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-cnv: any of: .*operator.*
  ci/prow/e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-kube-api-net-suite: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-ocs: any of: .*operator.*
  ci/prow/e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$
