Repository openshift/assisted-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted-4-18, e2e-metal-assisted-day2-4-18, e2e-metal-assisted-day2-sno-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-ipv6-4-18, e2e-metal-assisted-ipv4v6-4-18, e2e-metal-assisted-none-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-assisted-static-ip-suite-4-18, e2e-metal-assisted-bond-4-18, e2e-metal-sno-live-iso, e2e-metal-sno-with-worker-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-bond-4-18, ci/prow/e2e-metal-assisted-day2-4-18, ci/prow/e2e-metal-assisted-day2-sno-4-18, ci/prow/e2e-metal-assisted-ipv4v6-4-18, ci/prow/e2e-metal-assisted-ipv6-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-assisted-none-4-18, ci/prow/e2e-metal-assisted-static-ip-suite-4-18, ci/prow/e2e-metal-sno-live-iso, ci/prow/e2e-metal-sno-with-worker-live-iso

e2e-metal-assisted-4-18:
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'OPENSHIFT_VERSION=4.18
  
        '
      PACKET_PLAN: m3.small.x86
    workflow: assisted-baremetal

e2e-metal-assisted-day2-4-18:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'TEST_FUNC=test_deploy_day2_nodes_cloud
  
        OPENSHIFT_VERSION=4.18
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-day2-sno-4-18:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'NUM_MASTERS=1
  
        NUM_WORKERS=0
  
        TEST_FUNC=test_deploy_day2_nodes_cloud
  
        OPENSHIFT_VERSION=4.18
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-kube-api-late-binding-sno-4-18:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'WORKER_DISK=40000000000
  
        WORKER_CPU=3
  
        WORKER_MEMORY=10240
  
        OPENSHIFT_VERSION=4.18
  
        '
      PACKET_PLAN: m3.large.x86
  ...

e2e-metal-assisted-ipv6-4-18:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'IPv6=yes
  
        IPv4=no
  
        OPENSHIFT_VERSION=4.18
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-ipv4v6-4-18:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'IPv6=yes
  
        IPv4=yes
  
        OPENSHIFT_VERSION=4.18
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-none-4-18:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'PLATFORM=none
  
        OPENSHIFT_VERSION=4.18
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-kube-api-net-suite-4-18:
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'KUBE_API=true
  
        ENABLE_KUBE_API=true
  
        NUM_MASTERS=1
  
        ISO_IMAGE_TYPE=minimal-iso
  
        STATIC_IPS=true
  
        TEST_FUNC=test_kubeapi
  
        MAKEFILE_TARGET="test_kube_api_parallel"
  
        WORKER_DISK=40000000000
  ...

e2e-metal-assisted-static-ip-suite-4-18:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'STATIC_IPS=true
  
        OPENSHIFT_VERSION=4.18
  
        '
      PACKET_PLAN: m3.large.x86
    workflow: assisted-baremetal

e2e-metal-assisted-bond-4-18:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'IS_BONDED=true
  
        OPENSHIFT_VERSION=4.18
  
        '
    workflow: assisted-baremetal

e2e-metal-sno-live-iso:
  steps:
    cluster_profile: packet-sno
    workflow: baremetalds-sno

e2e-metal-sno-with-worker-live-iso:
  steps:
    cluster_profile: packet-sno
    env:
      PACKET_PLAN: c3.medium.x86
      TEST_FUNC: test_bip_add_worker
    workflow: baremetalds-sno

Update src/assisted_test_infra/test_infra/helper_classes/cluster.py
  Dockerfile.assisted-test-infra
  README.md
  src/assisted_test_infra/test_infra/controllers/node_controllers/__init__.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/kvm_s390x_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/node_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_terraform_config.py
  src/assisted_test_infra/test_infra/helper_classes/entity.py
  src/assisted_test_infra/test_infra/helper_classes/infra_env.py
  src/assisted_test_infra/test_infra/helper_classes/nodes.py
  src/assisted_test_infra/test_infra/tools/assets.py
  src/consts/consts.py
  src/tests/base_test.py
  src/tests/test_targets.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-ipv6-4-18, e2e-metal-assisted-ipv4v6-4-18, e2e-metal-assisted-none-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-assisted-static-ip-suite-4-18, e2e-metal-assisted-bond-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-bond-4-18, ci/prow/e2e-metal-assisted-ipv4v6-4-18, ci/prow/e2e-metal-assisted-ipv6-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-assisted-none-4-18, ci/prow/e2e-metal-assisted-static-ip-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-20164: Add NHO alongside its remediators
  src/consts/olm_operators.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MULTIARCH-5357: Add libvirt and install on s390x KVM a five node clus… (#2647)
  Dockerfile.assisted-test-infra
  Makefile
  README.md
  scripts/install_environment.sh
  skipper.env
  src/assisted_test_infra/test_infra/controllers/node_controllers/__init__.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/kvm_s390x_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/node_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/zvm_controller.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/infra_env.py
  src/assisted_test_infra/test_infra/helper_classes/nodes.py
  src/assisted_test_infra/test_infra/tools/assets.py
  src/consts/env_defaults.py
  src/tests/base_test.py
  src/tests/global_variables/env_variables_defaults.py
  src/tests/test_targets.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-ipv6-4-18, e2e-metal-assisted-ipv4v6-4-18, e2e-metal-assisted-none-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-assisted-static-ip-suite-4-18, e2e-metal-assisted-bond-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-bond-4-18, ci/prow/e2e-metal-assisted-ipv4v6-4-18, ci/prow/e2e-metal-assisted-ipv6-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-assisted-none-4-18, ci/prow/e2e-metal-assisted-static-ip-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-20164: Add NHO alongside its remediators (#2652)
  src/consts/olm_operators.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-20190: Add Node Maintenance Operator
  src/consts/olm_operators.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-20190: Add Node Maintenance Operator (#2653)
  src/consts/olm_operators.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Fix ip static validations. (#2650)
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

NO-ISSUE: Remove eran ifrach account from OWNERS
  OWNERS
Due: none

NO-ISSUE: Remove eran ifrach account from OWNERS (#2654)
  OWNERS
Due: none

NO-ISSUE: Remove eran ifrach account from OWNERS (#2655)
  OWNERS
Due: none

NO-ISSUE: Remove eran ifrach account from OWNERS (#2658)
  OWNERS
Due: none

NO-ISSUE: Remove eran ifrach account from OWNERS (#2657)
  OWNERS
Due: none

NO-ISSUE: Update OWNERS
  OWNERS
Due: none

NO-ISSUE: Update OWNERS (#2659)
  OWNERS
Due: none

NO-ISSUE: Remove eran ifrach account from OWNERS (#2656)
  OWNERS
Due: none

NO-ISSUE: Update OWNERS (#2660)
  OWNERS
Due: none

MGMT-20216: Remove nmstate operator memory and CPU requirements
  src/consts/olm_operators.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-20191: Add Kube Descheduler Operator
  src/consts/olm_operators.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-20191: Add Kube Descheduler Operator (#2663)
  src/consts/olm_operators.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-20216: Remove nmstate operator memory and CPU requirements (#2662)
  src/consts/olm_operators.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-20218: Add documentation to test-infra - getting started doc to ease the use of new users
  README.md
  docs/assisted-deployment.md
  docs/assisted-service-client.md
  docs/assisted-testing.md
  docs/build-image.md
  docs/getting-started.md
  docs/overview.md
  docs/prerequisites.md
  docs/setup.md
  docs/warning.md
Due: none

removed importing the Nodes from test_infra module because it assumes that assisted-service is being deployed and test_infra module can be called before assisted-service deployment
  src/assisted_test_infra/test_infra/__init__.py
  src/assisted_test_infra/test_infra/helper_classes/base_cluster.py
  src/tests/base_kubeapi_test.py
  src/tests/base_test.py
  src/tests/test_kube_api.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

removed importing the Nodes from test_infra module because it assumes that assisted-service is being deployed and test_infra module can be called before assisted-service deployment (#2666)
  src/assisted_test_infra/test_infra/__init__.py
  src/assisted_test_infra/test_infra/helper_classes/base_cluster.py
  src/tests/base_kubeapi_test.py
  src/tests/base_test.py
  src/tests/test_kube_api.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

NO-ISSUE: Fix pull-secret censor
  src/assisted_test_infra/download_logs/download_logs.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

NO-ISSUE: Fix pull-secret censor (#2668)
  src/assisted_test_infra/download_logs/download_logs.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-20168: Allow osImageVersion to be set on InfraEnv
  src/assisted_test_infra/test_infra/helper_classes/config/base_infra_env_config.py
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/infraenv.py
  src/tests/global_variables/env_variables_defaults.py
  src/tests/test_kube_api.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-20168: Allow osImageVersion to be set on InfraEnv
  README.md
  src/assisted_test_infra/test_infra/helper_classes/config/base_infra_env_config.py
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/infraenv.py
  src/tests/global_variables/env_variables_defaults.py
  src/tests/test_kube_api.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-20218: Add documentation to test-infra - getting started doc to (#2667)
  README.md
  docs/assisted-deployment.md
  docs/assisted-service-client.md
  docs/assisted-testing.md
  docs/build-image.md
  docs/getting-started.md
  docs/overview.md
  docs/prerequisites.md
  docs/setup.md
  docs/warning.md
Due: none

MGMT-20322: Add AI bundles env vars
  skipper.env
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-20322: Add AI bundles env vars (#2672)
  skipper.env
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-20322: Add AI operators environment requirements for testing
  scripts/deploy_assisted_service.sh
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-20322: Add AI operators environment requirements for testing (#2673)
  scripts/deploy_assisted_service.sh
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Path conditions:
  e2e-metal-assisted-4-18: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-day2-4-18: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-day2-sno-4-18: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-kube-api-late-binding-sno-4-18: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-ipv6-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-ipv4v6-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-none-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-kube-api-net-suite-4-18: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-static-ip-suite-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-bond-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-sno-live-iso: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-sno-with-worker-live-iso: any of: .*bootstrap_in_place.*
  ci/prow/e2e-metal-assisted-4-18: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-bond-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-day2-4-18: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-day2-sno-4-18: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-ipv4v6-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-ipv6-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-none-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-static-ip-suite-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-sno-live-iso: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-sno-with-worker-live-iso: any of: .*bootstrap_in_place.*
