Repository openshift/assisted-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted, e2e-metal-assisted-day2, e2e-metal-assisted-day2-single-node, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, e2e-metal-single-node-with-worker-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-day2-single-node, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-odf, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso, ci/prow/e2e-metal-single-node-with-worker-live-iso

Path conditions:
  e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-day2-single-node: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-kube-api-late-binding-single-node: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-kube-api-net-suite: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-bond: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-single-node-live-iso: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-single-node-with-worker-live-iso: any of: .*bootstrap_in_place.*
  ci/prow/e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-bond: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-cnv: any of: .*operator.*
  ci/prow/e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-day2-single-node: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-kube-api-net-suite: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-odf: any of: .*operator.*
  ci/prow/e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-single-node-live-iso: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-single-node-with-worker-live-iso: any of: .*bootstrap_in_place.*

MGMT-18856: add mtv operator
  src/consts/olm_operators.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-odf, ci/prow/e2e-metal-single-node-live-iso

MGMT-18856: add mtv operator (#2548)
  src/consts/olm_operators.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-odf, ci/prow/e2e-metal-single-node-live-iso

testing pr
  Dockerfile
  requirements.txt
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

Add OCI controller implemented with oracle API code.
  skipper.env
  src/assisted_test_infra/test_infra/controllers/__init__.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/__init__.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/oci_api_controller.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_oci_config.py
  src/tests/base_test.py
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

Add OCI controller implemented with oracle API code. (#2526)
  skipper.env
  src/assisted_test_infra/test_infra/controllers/__init__.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/__init__.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/oci_api_controller.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_oci_config.py
  src/tests/base_test.py
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

OCI - Add wait_callback while applying stack configuration Added interval value to reduce the total log messages. The message in log will be: counter and job status every minute
  src/assisted_test_infra/test_infra/controllers/node_controllers/oci_api_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

OCI - Add wait_callback while applying stack configuration (#2552)
  src/assisted_test_infra/test_infra/controllers/node_controllers/oci_api_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

Add default tag_namespace_name for terraform variables.
  src/assisted_test_infra/test_infra/controllers/node_controllers/oci_api_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

Add default tag_namespace_name for terraform variables. (#2556)
  src/assisted_test_infra/test_infra/controllers/node_controllers/oci_api_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-19248: Add OpenShift AI operator
  src/consts/olm_operators.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-odf, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: better handle pull secret or file of pull secret
  Makefile
  skipper.env
  src/assisted_test_infra/test_infra/utils/utils.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-19080: Setup test infra for testing new control_plane_count field in https://github.com/openshift/assisted-service/pull/6917
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/service_client/assisted_service_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-19080: Setup test infra for testing new control_plane_count field in https://github.com/openshift/assisted-service/pull/6917 (#2562)
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/service_client/assisted_service_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: better handle pull secret or file of pull secret (#2561)
  Makefile
  skipper.env
  src/assisted_test_infra/test_infra/utils/utils.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: building image with better caching
  Dockerfile.assisted-test-infra
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-19248: Add OpenShift AI operator (#2557)
  src/consts/olm_operators.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-odf, ci/prow/e2e-metal-single-node-live-iso

Increasing Terraform's timeout.
  Dockerfile.assisted-test-infra
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

Increasing Terraform's timeout. (#2564)
  Dockerfile.assisted-test-infra
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: qe workaround for running in staging
  scripts/bring_assisted_service.sh
  skipper.env
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

Revert "NO-ISSUE: better handle pull secret or file of pull secret (#2561)"
  Makefile
  skipper.env
  src/assisted_test_infra/test_infra/utils/utils.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

Revert "NO-ISSUE: better handle pull secret or file of pull secret (#2561)" (#2566)
  Makefile
  skipper.env
  src/assisted_test_infra/test_infra/utils/utils.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

Add network to clean os boot data
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

Revert "MGMT-19080: Setup test infra for testing new control_plane_count fiel…"
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/service_client/assisted_service_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: allow test infra to work with version missing field
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: allow test infra to work with version missing field (#2569)
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

Allow to modify files inside running container.
  src/assisted_test_infra/test_infra/controllers/containerized_controller.py
  src/assisted_test_infra/test_infra/controllers/ipxe_controller/ipxe_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

Allow to modify files inside running container. (#2558)
  src/assisted_test_infra/test_infra/controllers/containerized_controller.py
  src/assisted_test_infra/test_infra/controllers/ipxe_controller/ipxe_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

Add iscsi target controller , allow to boot from iscsi or attach
  Dockerfile.assisted-test-infra
  skipper.yaml
  src/assisted_test_infra/test_infra/controllers/__init__.py
  src/assisted_test_infra/test_infra/controllers/iscsi_target_controller.py
  src/tests/base_test.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

Add network to clean os boot data (#2567)
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

Add iscsi target controller , allow to boot from iscsi or attach (#2559)
  Dockerfile.assisted-test-infra
  skipper.yaml
  src/assisted_test_infra/test_infra/controllers/__init__.py
  src/assisted_test_infra/test_infra/controllers/iscsi_target_controller.py
  src/tests/base_test.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

Add sudo to targetcli commands in iscsi boot.
  src/assisted_test_infra/test_infra/controllers/iscsi_target_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

Add pull interval to iPXE when run in parallel.
  src/assisted_test_infra/test_infra/controllers/ipxe_controller/server/local_ipxe_server.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Fix logs gathering for kind deployment in the CI
  scripts/download_logs.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Fix logs gathering for kind deployment in the CI (#2575)
  scripts/download_logs.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Don't expect function call in utils.sh while sourcing
  scripts/download_logs.sh
  scripts/utils.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Use OCP release image payload in image override
  scripts/override_images/override_release_images.py
  src/assisted_test_infra/test_infra/utils/utils.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Don't expect function call in utils.sh while sourcing (#2576)
  scripts/download_logs.sh
  scripts/utils.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

Add Openshift sandboxed containers operator(OSC) support
  src/consts/olm_operators.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-odf, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Use `max` to calculate operator resources
  src/assisted_test_infra/test_infra/utils/operators_utils.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-odf, ci/prow/e2e-metal-single-node-live-iso

MGMT-19248: Set `OPENSHIFT_AI_REQUIRE_GPU` to `false`
  scripts/deploy_assisted_service.sh
  skipper.env
  src/update_assisted_service_cm.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso
