Repository openshift/assisted-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted, e2e-metal-assisted-day2, e2e-metal-assisted-day2-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, e2e-metal-single-node-with-worker-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-static-ip-suite

Path conditions:
  e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-day2-single-node: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-single-node-live-iso: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-single-node-with-worker-live-iso: any of: .*bootstrap_in_place.*
  ci/prow/e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-cnv: any of: .*operator.*
  ci/prow/e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-kube-api-net-suite: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-ocs: any of: .*operator.*
  ci/prow/e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$

oci configuration for test-infra
  ansible_files/oci_generic_create_ci_machine_playbook.yml
  ansible_files/roles/oci/create_infra/tasks/main.yml
  ansible_files/roles/oci/setup_oci_for_test_infra/tasks/main.yml
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/assisted-additional-config.j2
  terraform_files/oci-ci-machine/output.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

decouple oci ci machine stack from oci stack
  ansible_files/oci_generic_create_ci_machine_playbook.yml
  ansible_files/roles/common/setup_ssh_key_pair/tasks/main.yml
  ansible_files/roles/oci/create_infra/templates/terraform.tfvars.j2
  terraform_files/oci-ci-machine/01_networking.tf
  terraform_files/oci-ci-machine/02_network_security_groups.tf
  terraform_files/oci-ci-machine/03_compute.tf
  terraform_files/oci-ci-machine/output.tf
  terraform_files/oci-ci-machine/variables.tf
  terraform_files/oci/00_main.tf
  terraform_files/oci/01_network_security_groups.tf
  terraform_files/oci/02_custom_image.tf
  terraform_files/oci/03_compute.tf
  terraform_files/oci/04_load_balancer.tf
  terraform_files/oci/05_dns.tf
  terraform_files/oci/variables.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

init oci machine terraform
  Dockerfile.assisted-test-infra
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

WIP: Add OCI support
  terraform_files/oci-ci-machine/00_main.tf
  terraform_files/oci-ci-machine/01_networking.tf
  terraform_files/oci-ci-machine/02_compute.tf
  terraform_files/oci-ci-machine/output.tf
  terraform_files/oci-ci-machine/variables.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

add new role to export oci configuration to test-infra
  ansible_files/roles/oci/setup_oci_credentials/tasks/main.yml
  ansible_files/roles/oci/setup_oci_credentials/templates/assisted-additional-config.j2
  ansible_files/vars/ci_oci_infrastucture.yml
  terraform_files/oci-ci-machine/output.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

use bigger machines and Oracle Linux 8
  terraform_files/oci-ci-machine/03_compute.tf
  terraform_files/oci-ci-machine/variables.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

increase disk size + upgrade oci provider
  terraform_files/oci-ci-machine/00_main.tf
  terraform_files/oci-ci-machine/03_compute.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

increase resources
  terraform_files/oci-ci-machine/03_compute.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

specify BASE_DOMAIN
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/assisted-additional-config.j2
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

growfs
  terraform_files/oci-ci-machine/03_compute.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

grow fs manually
  terraform_files/oci-ci-machine/03_compute.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

remove oci terraform
  terraform_files/oci/00_main.tf
  terraform_files/oci/01_network_security_groups.tf
  terraform_files/oci/02_custom_image.tf
  terraform_files/oci/03_compute.tf
  terraform_files/oci/04_load_balancer.tf
  terraform_files/oci/05_dns.tf
  terraform_files/oci/output.tf
  terraform_files/oci/variables.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

example vars + typo
  ansible_files/oci_generic_destroy_ci_machine_playbook.yml
  ansible_files/vars/standalone_oci_sample.yml
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14092: Add ansible and terraform to provison CI machine on OCI (#2129)
  Dockerfile.assisted-test-infra
  ansible_files/oci_generic_create_ci_machine_playbook.yml
  ansible_files/oci_generic_destroy_ci_machine_playbook.yml
  ansible_files/roles/common/setup_ssh_key_pair/tasks/main.yml
  ansible_files/roles/common/setup_ssh_key_pair/templates/config.j2
  ansible_files/roles/oci/create_infra/tasks/main.yml
  ansible_files/roles/oci/create_infra/templates/terraform.tfvars.j2
  ansible_files/roles/oci/destroy_infra/tasks/main.yml
  ansible_files/roles/oci/export_connection_details/defaults/main.yml
  ansible_files/roles/oci/export_connection_details/files/fix-uid.sh
  ansible_files/roles/oci/export_connection_details/tasks/main.yml
  ansible_files/roles/oci/export_connection_details/templates/ci-machine-config.sh.j2
  ansible_files/roles/oci/export_connection_details/templates/inventory.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/tasks/main.yml
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/assisted-additional-config.j2
  ansible_files/vars/ci_oci_infrastucture.yml
  ansible_files/vars/standalone_oci_sample.yml
  terraform_files/oci-ci-machine/00_main.tf
  terraform_files/oci-ci-machine/01_networking.tf
  terraform_files/oci-ci-machine/02_network_security_groups.tf
  terraform_files/oci-ci-machine/03_compute.tf
  terraform_files/oci-ci-machine/output.tf
  terraform_files/oci-ci-machine/variables.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

Increase pending user input timeout to 45 minutes
  src/consts/consts.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14630: Removing support for openshift 4.8
  src/consts/consts.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14906: Add missing ODF support for future removal of OCS when adjustments will be completed
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/consts/consts.py
  src/consts/olm_operators.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs

MGMT-14630: Removing support for openshift 4.8 (#2190)
  src/consts/consts.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14906: Add missing ODF support for future removal of OCS when adjustments will be completed (#2193)
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/consts/consts.py
  src/consts/olm_operators.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs

Increase pending user input timeout to 45 minutes (#2192)
  src/consts/consts.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Add fall_on_pending_status for waiters (#2172)
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/utils/waiting.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Enabling use all parameter of list events, e.g. limit and offset in order test pagination
  src/assisted_test_infra/test_infra/helper_classes/events_handler.py
  src/service_client/assisted_service_api.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: Fix vsphere kubeapi CI teardown for ocm-2.7
  Makefile
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: Fix vsphere kubeapi CI teardown for ocm-2.7 (#2199)
  Makefile
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Enabling use all parameter of list events, (#2195)
  src/assisted_test_infra/test_infra/helper_classes/events_handler.py
  src/service_client/assisted_service_api.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

rename kernel
  skipper.env
  src/assisted_test_infra/test_infra/helper_classes/config/base_infra_env_config.py
  src/assisted_test_infra/test_infra/helper_classes/infra_env.py
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

rename kernel (#2194)
  skipper.env
  src/assisted_test_infra/test_infra/helper_classes/config/base_infra_env_config.py
  src/assisted_test_infra/test_infra/helper_classes/infra_env.py
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Extend and refactor verify_logs_uploaded
  src/assisted_test_infra/test_infra/utils/logs_utils.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Add support for day2 master and mixed worker and masters
  skipper.env
  src/assisted_test_infra/test_infra/helper_classes/base_cluster.py
  src/assisted_test_infra/test_infra/helper_classes/cluster_host.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_day2_cluster_config.py
  src/assisted_test_infra/test_infra/helper_classes/day2_cluster.py
  src/consts/env_defaults.py
  src/tests/base_test.py
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Add support for day2 master and mixed worker and masters (#2181)
  skipper.env
  src/assisted_test_infra/test_infra/helper_classes/base_cluster.py
  src/assisted_test_infra/test_infra/helper_classes/cluster_host.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_day2_cluster_config.py
  src/assisted_test_infra/test_infra/helper_classes/day2_cluster.py
  src/consts/env_defaults.py
  src/tests/base_test.py
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Extend and refactor verify_logs_uploaded (#2139)
  src/assisted_test_infra/test_infra/utils/logs_utils.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14095: Add OCI support to test-infra
  Makefile
  requirements.txt
  skipper.env
  skipper.yaml
  src/assisted_test_infra/test_infra/controllers/__init__.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/__init__.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/oci_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/tf_controller.py
  src/assisted_test_infra/test_infra/helper_classes/config/__init__.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_oci_config.py
  src/assisted_test_infra/test_infra/tools/terraform_utils.py
  src/assisted_test_infra/test_infra/utils/terraform_util.py
  src/consts/consts.py
  src/tests/base_test.py
  src/tests/config/__init__.py
  src/tests/config/global_configs.py
  src/tests/global_variables/env_variables_defaults.py
  src/tests/test_targets.py
  terraform_files/oci/00_main.tf
  terraform_files/oci/01_network_security_groups.tf
  terraform_files/oci/02_custom_image.tf
  terraform_files/oci/03_compute.tf
  terraform_files/oci/04_load_balancer.tf
  terraform_files/oci/05_dns.tf
  terraform_files/oci/variables.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

MGMT-14095: Fix OCI instance actions
  src/assisted_test_infra/test_infra/controllers/node_controllers/oci_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/tf_controller.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_oci_config.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

MGMT-14095: Add OCI support to test-infra (#2170)
  Makefile
  requirements.txt
  skipper.env
  skipper.yaml
  src/assisted_test_infra/test_infra/controllers/__init__.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/__init__.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/oci_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/tf_controller.py
  src/assisted_test_infra/test_infra/helper_classes/config/__init__.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_oci_config.py
  src/assisted_test_infra/test_infra/tools/terraform_utils.py
  src/assisted_test_infra/test_infra/utils/terraform_util.py
  src/consts/consts.py
  src/tests/base_test.py
  src/tests/config/__init__.py
  src/tests/config/global_configs.py
  src/tests/global_variables/env_variables_defaults.py
  src/tests/test_targets.py
  terraform_files/oci/00_main.tf
  terraform_files/oci/01_network_security_groups.tf
  terraform_files/oci/02_custom_image.tf
  terraform_files/oci/03_compute.tf
  terraform_files/oci/04_load_balancer.tf
  terraform_files/oci/05_dns.tf
  terraform_files/oci/variables.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

MGMT-14999: Add virtualization support for OCI nodes
  terraform_files/oci/00_main.tf
  terraform_files/oci/03_compute.tf
  terraform_files/oci/variables.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

MGMT-14999: Add virtualization support for OCI nodes (#2201)
  terraform_files/oci/00_main.tf
  terraform_files/oci/03_compute.tf
  terraform_files/oci/variables.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

default_triggers skip when update_param called from tests
  src/assisted_test_infra/test_infra/utils/env_var.py
  src/tests/base_test.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: Update nutanix terraform version
  terraform_files/nutanix/main.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

Current code use default_triggers and when we set env param that appears in the triggers we skipp it in is_user_set function that check __is_user_set equal to False
  src/assisted_test_infra/test_infra/helper_classes/config/base_config.py
  src/tests/base_test.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: Add option to mark variable origin
  src/assisted_test_infra/test_infra/helper_classes/config/base_config.py
  src/tests/base_test.py
  src/tests/global_variables/default_variables.py
  src/triggers/env_trigger.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite
