Repository openshift/assisted-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted-4-20, e2e-metal-assisted-ha-kube-api-ipv4-4-20, e2e-metal-sno-live-iso, e2e-metal-assisted-day2-4-20, e2e-metal-assisted-day2-sno-4-20, e2e-metal-sno-with-worker-live-iso, ci/prow/e2e-metal-assisted-4-20, ci/prow/e2e-metal-assisted-day2-4-20, ci/prow/e2e-metal-assisted-day2-sno-4-20, ci/prow/e2e-metal-assisted-ha-kube-api-ipv4-4-20, ci/prow/e2e-metal-sno-live-iso, ci/prow/e2e-metal-sno-with-worker-live-iso

e2e-metal-assisted-4-20:
  capabilities:
  - intranet
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'OPENSHIFT_VERSION=4.20
  
        '
    workflow: assisted-ofcir-baremetal

e2e-metal-assisted-ha-kube-api-ipv4-4-20:
  capabilities:
  - intranet
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'ENABLE_KUBE_API=true
  
        IPv4=true
  
        IPv6=false
  
        TEST_FUNC=test_kubeapi
  
        MAKEFILE_TARGET="test_kube_api_parallel"
  
        OPENSHIFT_VERSION=4.20
  
        '
  ...

e2e-metal-sno-live-iso:
  steps:
    cluster_profile: equinix-edge-enablement
    workflow: baremetalds-sno

e2e-metal-assisted-day2-4-20:
  capabilities:
  - intranet
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'TEST_FUNC=test_deploy_day2_nodes_cloud
  
        OPENSHIFT_VERSION=4.20
  
        '
    workflow: assisted-ofcir-baremetal

e2e-metal-assisted-day2-sno-4-20:
  capabilities:
  - intranet
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'NUM_MASTERS=1
  
        NUM_WORKERS=0
  
        TEST_FUNC=test_deploy_day2_nodes_cloud
  
        OPENSHIFT_VERSION=4.20
  
        '
    workflow: assisted-ofcir-baremetal

e2e-metal-sno-with-worker-live-iso:
  steps:
    cluster_profile: equinix-edge-enablement
    env:
      TEST_FUNC: test_bip_add_worker
    workflow: baremetalds-sno

ci/prow/e2e-metal-assisted-4-20:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci.openshift.io/generator: prowgen
    job-release: '4.20'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
  ...

ci/prow/e2e-metal-assisted-day2-4-20:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci.openshift.io/generator: prowgen
    job-release: '4.20'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
  ...

ci/prow/e2e-metal-assisted-day2-sno-4-20:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci.openshift.io/generator: prowgen
    job-release: '4.20'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
  ...

ci/prow/e2e-metal-assisted-ha-kube-api-ipv4-4-20:
  decorate: true
  labels:
    capability/intranet: intranet
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci.openshift.io/generator: prowgen
    job-release: '4.20'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
  ...

Add configurable vsphere_guest_net_timeout variable
  skipper.env
  src/assisted_test_infra/test_infra/helper_classes/config/base_vsphere_config.py
  src/tests/global_variables/env_variables_defaults.py
  terraform_files/vsphere/main.tf
  terraform_files/vsphere/variables-vsphere.tf
Due: e2e-metal-assisted-4-20, e2e-metal-assisted-ha-kube-api-ipv4-4-20, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-20, ci/prow/e2e-metal-assisted-ha-kube-api-ipv4-4-20, ci/prow/e2e-metal-sno-live-iso

Fix vsphere_disk_uuid_enabled not reading env var
  src/assisted_test_infra/test_infra/helper_classes/config/base_vsphere_config.py
Due: e2e-metal-assisted-4-20, e2e-metal-assisted-ha-kube-api-ipv4-4-20, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-20, ci/prow/e2e-metal-assisted-ha-kube-api-ipv4-4-20, ci/prow/e2e-metal-sno-live-iso

NO-ISSUE: add rivkyrizel to OWNERS
  OWNERS
Due: none

NO-ISSUE: add rivkyrizel to OWNERS (#2821)
  OWNERS
Due: none

Fix vsphere_disk_uuid_enabled not reading env var (#2820)
  src/assisted_test_infra/test_infra/helper_classes/config/base_vsphere_config.py
Due: e2e-metal-assisted-4-20, e2e-metal-assisted-ha-kube-api-ipv4-4-20, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-20, ci/prow/e2e-metal-assisted-ha-kube-api-ipv4-4-20, ci/prow/e2e-metal-sno-live-iso

refactor: remove SNO BiP tests after migration to dev-scripts
  Makefile
  src/assisted_test_infra/resources/bootstrap_in_place/install-config.yaml
  src/assisted_test_infra/resources/bootstrap_in_place/sno-worker-install.sh
  src/assisted_test_infra/resources/bootstrap_in_place/sno-worker-live.ign.j2
  src/tests/test_bootstrap_in_place.py
Due: e2e-metal-assisted-4-20, e2e-metal-assisted-ha-kube-api-ipv4-4-20, e2e-metal-sno-live-iso, e2e-metal-sno-with-worker-live-iso, ci/prow/e2e-metal-assisted-4-20, ci/prow/e2e-metal-assisted-ha-kube-api-ipv4-4-20, ci/prow/e2e-metal-sno-live-iso, ci/prow/e2e-metal-sno-with-worker-live-iso

refactor: remove SNO BiP tests after migration to dev-scripts (#2822)
  Makefile
  src/assisted_test_infra/resources/bootstrap_in_place/install-config.yaml
  src/assisted_test_infra/resources/bootstrap_in_place/sno-worker-install.sh
  src/assisted_test_infra/resources/bootstrap_in_place/sno-worker-live.ign.j2
  src/tests/test_bootstrap_in_place.py
Due: e2e-metal-assisted-4-20, e2e-metal-assisted-ha-kube-api-ipv4-4-20, e2e-metal-sno-live-iso, e2e-metal-sno-with-worker-live-iso, ci/prow/e2e-metal-assisted-4-20, ci/prow/e2e-metal-assisted-ha-kube-api-ipv4-4-20, ci/prow/e2e-metal-sno-live-iso, ci/prow/e2e-metal-sno-with-worker-live-iso

MGMT-24189: the verify_logs_uploaded function only processes tar archives (#2815)
  src/assisted_test_infra/test_infra/utils/logs_utils.py
Due: e2e-metal-assisted-4-20, e2e-metal-assisted-ha-kube-api-ipv4-4-20, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-20, ci/prow/e2e-metal-assisted-ha-kube-api-ipv4-4-20, ci/prow/e2e-metal-sno-live-iso

[backplane-5.0] NO-ISSUE: Update assisted-service image tag to ocm-5.0
  Makefile
Due: e2e-metal-assisted-4-20, e2e-metal-assisted-ha-kube-api-ipv4-4-20, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-20, ci/prow/e2e-metal-assisted-ha-kube-api-ipv4-4-20, ci/prow/e2e-metal-sno-live-iso

Path conditions:
  e2e-metal-assisted-4-20: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-ha-kube-api-ipv4-4-20: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-sno-live-iso: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-day2-4-20: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-day2-sno-4-20: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-sno-with-worker-live-iso: any of: .*bootstrap_in_place.*
  ci/prow/e2e-metal-assisted-4-20: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-day2-4-20: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-day2-sno-4-20: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-ha-kube-api-ipv4-4-20: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-sno-live-iso: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-sno-with-worker-live-iso: any of: .*bootstrap_in_place.*
