Repository openshift/assisted-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted, e2e-metal-assisted-day2, e2e-metal-assisted-day2-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, e2e-metal-single-node-with-worker-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-static-ip-suite

Path conditions:
  e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-day2-single-node: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-single-node-live-iso: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-single-node-with-worker-live-iso: any of: .*bootstrap_in_place.*
  ci/prow/e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-cnv: any of: .*operator.*
  ci/prow/e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-kube-api-net-suite: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-ocs: any of: .*operator.*
  ci/prow/e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$

Allow 'onprem' deploy-target in hub-cluster setup
  Makefile
  scripts/hub-cluster/create.sh
  scripts/hub-cluster/delete.sh
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Allow 'onprem' deploy-target in hub-cluster setup (#1942)
  Makefile
  scripts/hub-cluster/create.sh
  scripts/hub-cluster/delete.sh
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-12439: Deploy heterogeneous infrastructure
  .gitignore
  Dockerfile.assisted-test-infra
  ansible_files/ansible.cfg
  ansible_files/equinix_generic_destroy_infra_playbook.yml
  ansible_files/equinix_heterogeneous_create_infra_playbook.yml
  ansible_files/roles/common/setup_ipip_tunnel/tasks/main.yml
  ansible_files/roles/equinix/generic_destroy_infra/tasks/main.yml
  ansible_files/roles/equinix/heterogeneous_create_infra/tasks/main.yml
  ansible_files/roles/equinix/heterogeneous_create_infra/templates/terraform.tfvars.j2
  ansible_files/vars/ci.yml
  ansible_files/vars/ci_equinix_infrastucture.yml
  terraform_files/equinix-ci-machine/main.tf
  terraform_files/equinix-ci-machine/output.tf
  terraform_files/equinix-ci-machine/variables_equinix.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

NO-ISSUE: collect events and secrets when gathering capi relataed logs
  scripts/download_logs.sh
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: collect events and secrets when gathering capi relataed logs (#1944)
  scripts/download_logs.sh
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: fox download_logs
  scripts/download_logs.sh
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

fix download-logs.sh script syntax
  scripts/download_logs.sh
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

fix download-logs.sh script syntax (#1946)
  scripts/download_logs.sh
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-12881: fix REBOOT_TIMEOUT message string to match the message in assisted-service (#1948)
  src/consts/consts.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Fix iptables fixture and delete action
  src/assisted_test_infra/test_infra/controllers/iptables.py
  src/tests/base_test.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

Current iptables fixture tears down nodes in order modify iptables. When the machines started again the cached info must be refreshed.
  src/assisted_test_infra/test_infra/helper_classes/nodes.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: Update to terraform 1.3.6
  .gitignore
  Dockerfile.assisted-test-infra
  terraform_files/baremetal/main.tf
  terraform_files/baremetal/variables-libvirt.tf
  terraform_files/baremetal_host/main.tf
  terraform_files/baremetal_host/variables.tf
  terraform_files/baremetal_infra_env/main.tf
  terraform_files/baremetal_infra_env/variables-libvirt.tf
  terraform_files/none/main.tf
  terraform_files/none/variables-libvirt.tf
  terraform_files/nutanix-ci-machine/main.tf
  terraform_files/nutanix-ci-machine/output.tf
  terraform_files/nutanix-ci-machine/variables-nutanix.tf
  terraform_files/nutanix/main.tf
  terraform_files/nutanix/variables_nutanix.tf
  terraform_files/nutanix/virtual_machines.tf
  terraform_files/vsphere-ci-machine/main.tf
  terraform_files/vsphere-ci-machine/variables-vsphere.tf
  terraform_files/vsphere/main.tf
  terraform_files/vsphere/variables-vsphere.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

NO-ISSUE: Update to terraform 1.3.6 (#1955)
  .gitignore
  Dockerfile.assisted-test-infra
  terraform_files/baremetal/main.tf
  terraform_files/baremetal/variables-libvirt.tf
  terraform_files/baremetal_host/main.tf
  terraform_files/baremetal_host/variables.tf
  terraform_files/baremetal_infra_env/main.tf
  terraform_files/baremetal_infra_env/variables-libvirt.tf
  terraform_files/none/main.tf
  terraform_files/none/variables-libvirt.tf
  terraform_files/nutanix-ci-machine/main.tf
  terraform_files/nutanix-ci-machine/output.tf
  terraform_files/nutanix-ci-machine/variables-nutanix.tf
  terraform_files/nutanix/main.tf
  terraform_files/nutanix/variables_nutanix.tf
  terraform_files/nutanix/virtual_machines.tf
  terraform_files/vsphere-ci-machine/main.tf
  terraform_files/vsphere-ci-machine/variables-vsphere.tf
  terraform_files/vsphere/main.tf
  terraform_files/vsphere/variables-vsphere.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

Fix non platform domain name - unable to resolve redhat.com
  terraform_files/none/main.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

Current iptables fixture tears down nodes in order modify iptables. (#1954)
  src/assisted_test_infra/test_infra/helper_classes/nodes.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-12881: fix REBOOT_TIMEOUT message string to match the message in assisted-service (#1957)
  src/consts/consts.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Fix non platform domain name - unable to resolve redhat.com (#1956)
  terraform_files/none/main.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

MGMT-12439: Deploy heterogeneous infrastructure
  Dockerfile.assisted-test-infra
  ansible_files/ansible.cfg
  ansible_files/equinix_generic_destroy_infra_playbook.yml
  ansible_files/equinix_heterogeneous_create_infra_playbook.yml
  ansible_files/roles/common/setup_ipip_tunnel/tasks/main.yml
  ansible_files/roles/equinix/export_primary_device_connection_details/defaults/main.yml
  ansible_files/roles/equinix/export_primary_device_connection_details/tasks/main.yml
  ansible_files/roles/equinix/export_primary_device_connection_details/templates/ci-machine-config.sh.j2
  ansible_files/roles/equinix/generic_destroy_infra/tasks/main.yml
  ansible_files/roles/equinix/heterogeneous_create_infra/defaults/main.yaml
  ansible_files/roles/equinix/heterogeneous_create_infra/tasks/main.yml
  ansible_files/roles/equinix/heterogeneous_create_infra/templates/terraform.tfvars.j2
  ansible_files/vars/ci.yml
  ansible_files/vars/ci_equinix_infrastucture.yml
  ansible_files/vars/standalone_equinix_sample.yml
  requirements.txt
  terraform_files/equinix-ci-machine/main.tf
  terraform_files/equinix-ci-machine/output.tf
  terraform_files/equinix-ci-machine/variables_equinix.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

Iptables rules added without destination port due to iptables versions
  skipper.yaml
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-12439: Deploy heterogeneous infrastructure (#1949)
  Dockerfile.assisted-test-infra
  ansible_files/ansible.cfg
  ansible_files/equinix_generic_destroy_infra_playbook.yml
  ansible_files/equinix_heterogeneous_create_infra_playbook.yml
  ansible_files/roles/common/setup_ipip_tunnel/tasks/main.yml
  ansible_files/roles/equinix/export_primary_device_connection_details/defaults/main.yml
  ansible_files/roles/equinix/export_primary_device_connection_details/tasks/main.yml
  ansible_files/roles/equinix/export_primary_device_connection_details/templates/ci-machine-config.sh.j2
  ansible_files/roles/equinix/generic_destroy_infra/tasks/main.yml
  ansible_files/roles/equinix/heterogeneous_create_infra/defaults/main.yaml
  ansible_files/roles/equinix/heterogeneous_create_infra/tasks/main.yml
  ansible_files/roles/equinix/heterogeneous_create_infra/templates/terraform.tfvars.j2
  ansible_files/vars/ci.yml
  ansible_files/vars/ci_equinix_infrastucture.yml
  ansible_files/vars/standalone_equinix_sample.yml
  requirements.txt
  terraform_files/equinix-ci-machine/main.tf
  terraform_files/equinix-ci-machine/output.tf
  terraform_files/equinix-ci-machine/variables_equinix.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

MGMT-12439: Deploy heterogeneous infrastructure
  Dockerfile.assisted-test-infra
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-12440: Configure IPIP tunnel with heterogneneous setup
  Dockerfile.assisted-test-infra
  ansible_files/equinix_heterogeneous_create_infra_playbook.yml
  ansible_files/roles/common/setup_ipip_tunnel/defaults/main.yml
  ansible_files/roles/common/setup_ipip_tunnel/tasks/main.yml
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Iptables rules added without destination port due to iptables versions (#1962)
  skipper.yaml
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-12440: Configure IPIP tunnel with heterogeneous setup (#1958)
  ansible_files/equinix_heterogeneous_create_infra_playbook.yml
  ansible_files/roles/common/setup_ipip_tunnel/defaults/main.yml
  ansible_files/roles/common/setup_ipip_tunnel/tasks/main.yml
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-13038: Git fails to trust git repository because of mismatch with files
  Dockerfile.assisted-test-infra
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-13038: Git fails to trust git repository because of mismatch with files (#1964)
  Dockerfile.assisted-test-infra
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-12441: Install libvirtd on the ARM machine
  ansible_files/equinix_heterogeneous_create_infra_playbook.yml
  ansible_files/roles/common/setup_libvirtd/handlers/main.yml
  ansible_files/roles/common/setup_libvirtd/tasks/main.yml
  ansible_files/roles/common/setup_ssh_key_pair/defaults/main.yml
  ansible_files/roles/common/setup_ssh_key_pair/tasks/main.yml
  ansible_files/roles/common/setup_ssh_key_pair/templates/config.j2
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-12440: Configure IPIP tunnel with heterogneneous setup
  Dockerfile.assisted-test-infra
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-12441: Install libvirtd on the ARM machine (#1966)
  ansible_files/equinix_heterogeneous_create_infra_playbook.yml
  ansible_files/roles/common/setup_libvirtd/handlers/main.yml
  ansible_files/roles/common/setup_libvirtd/tasks/main.yml
  ansible_files/roles/common/setup_ssh_key_pair/defaults/main.yml
  ansible_files/roles/common/setup_ssh_key_pair/tasks/main.yml
  ansible_files/roles/common/setup_ssh_key_pair/templates/config.j2
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Allow overriding pytest flags
  Makefile
  skipper.env
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Allow overriding pytest flags (#1963)
  Makefile
  skipper.env
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Bump terraform-provider-libvirt to v0.7.1
  terraform_files/baremetal/main.tf
  terraform_files/baremetal_host/main.tf
  terraform_files/baremetal_infra_env/main.tf
  terraform_files/none/main.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

Cannot remove container as it is running issue
  src/assisted_test_infra/test_infra/utils/utils.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Cannot remove container as it is running issue (#1973)
  src/assisted_test_infra/test_infra/utils/utils.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Extending SNO installation timeout to 70 mins
  src/tests/test_bootstrap_in_place.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, e2e-metal-single-node-with-worker-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Extending SNO installation timeout to 70 mins (#1975)
  src/tests/test_bootstrap_in_place.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, e2e-metal-single-node-with-worker-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-13089: is_update_needed should return true if the cluster logs_info isn't completed or timedout
  src/assisted_test_infra/download_logs/download_logs.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite
