Repository openshift/assisted-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted, e2e-metal-assisted-day2, e2e-metal-assisted-day2-single-node, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, e2e-metal-single-node-with-worker-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-day2-single-node, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-odf, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso, ci/prow/e2e-metal-single-node-with-worker-live-iso

e2e-metal-assisted:
  steps:
    cluster_profile: packet-assisted
    env:
      PACKET_PLAN: m3.small.x86
    workflow: assisted-baremetal

e2e-metal-assisted-day2:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'TEST_FUNC=test_deploy_day2_nodes_cloud
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-day2-single-node:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'NUM_MASTERS=1
  
        NUM_WORKERS=0
  
        TEST_FUNC=test_deploy_day2_nodes_cloud
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-kube-api-late-binding-single-node:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'WORKER_DISK=40000000000
  
        '
      POST_INSTALL_COMMANDS: 'export TEST_FUNC=test_late_binding_kube_api_sno
  
        export KUBECONFIG=$(find ${KUBECONFIG} -type f)
  
  ...

e2e-metal-assisted-ipv6:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'IPv6=yes
  
        IPv4=no
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-ipv4v6:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'IPv6=yes
  
        IPv4=yes
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-none:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'PLATFORM=none
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-kube-api-net-suite:
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'KUBE_API=true
  
        ENABLE_KUBE_API=true
  
        NUM_MASTERS=1
  
        ISO_IMAGE_TYPE=minimal-iso
  
        STATIC_IPS=true
  
        TEST_FUNC=test_kubeapi
  
        MAKEFILE_TARGET="test_kube_api_parallel"
  
        WORKER_DISK=40000000000
  ...

e2e-metal-assisted-static-ip-suite:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'STATIC_IPS=true
  
        TEST_FUNC=test_networking
  
        '
      PACKET_PLAN: m3.large.x86
    workflow: assisted-baremetal

e2e-metal-assisted-bond:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'IS_BONDED=true
  
        TEST_FUNC=test_networking
  
        '
      PACKET_PLAN: m3.large.x86
      TEST_SUITE: full
    workflow: assisted-baremetal

e2e-metal-single-node-live-iso:
  steps:
    cluster_profile: packet-sno
    workflow: baremetalds-sno

e2e-metal-single-node-with-worker-live-iso:
  steps:
    cluster_profile: packet-sno
    env:
      PACKET_PLAN: c3.medium.x86
      TEST_FUNC: test_bip_add_worker
    workflow: baremetalds-sno

DNM: debug oci
  ansible_files/roles/oci/create_infra/tasks/main.yml
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

run dnf upgrade
  Dockerfile.assisted-test-infra
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

try
  Dockerfile.assisted-test-infra
  ansible_files/roles/oci/create_infra/tasks/main.yml
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Add dynamic CI SSH key in nutanix packer flow
  packer_files/nutanix_centos_template/centos-config/ks.cfg
  packer_files/nutanix_centos_template/sources.pkr.hcl
  packer_files/nutanix_centos_template/variables.pkr.hcl
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Add dynamic CI SSH key in nutanix packer flow (#2431)
  packer_files/nutanix_centos_template/centos-config/ks.cfg
  packer_files/nutanix_centos_template/sources.pkr.hcl
  packer_files/nutanix_centos_template/variables.pkr.hcl
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-17250: Support RHEL9 (#2419)
  scripts/create_full_environment.sh
  scripts/install_environment.sh
  scripts/utils.sh
  terraform_files/baremetal_host/main.tf
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-17250: Support RHEL9
  scripts/create_full_environment.sh
  scripts/install_environment.sh
  scripts/utils.sh
  terraform_files/baremetal_host/main.tf
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-17250: Support RHEL9 (#2432)
  scripts/create_full_environment.sh
  scripts/install_environment.sh
  scripts/utils.sh
  terraform_files/baremetal_host/main.tf
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Add my account in OWNERS
  OWNERS
Due: none

NO-ISSUE: Add my account in OWNERS (#2438)
  OWNERS
Due: none

MGMT-17250: Support RHEL9 (#2433)
  scripts/create_full_environment.sh
  scripts/install_environment.sh
  scripts/utils.sh
  terraform_files/baremetal_host/main.tf
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Add my account in OWNERS (#2439)
  OWNERS
Due: none

NO-ISSUE: Fix local auto VIPs allocation flow on Nutanix
  packer_files/vsphere_centos_template/variables.pkr.hcl
  src/assisted_test_infra/test_infra/controllers/node_controllers/nutanix_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Add my account in OWNERS (#2437)
  OWNERS
Due: none

MGMT-17250: Support RHEL9 (#2434)
  scripts/create_full_environment.sh
  scripts/install_environment.sh
  scripts/utils.sh
  terraform_files/baremetal_host/main.tf
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-17250: Support RHEL9 (#2435)
  scripts/create_full_environment.sh
  scripts/install_environment.sh
  scripts/utils.sh
  terraform_files/baremetal_host/main.tf
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Update requirements.txt to match the package naming conventions of the interpreter. (#2421)
  requirements.txt
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Fix missing distutils when trying to override_release_images
  requirements.txt
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Fix missing distutils when trying to override_release_images (#2443)
  requirements.txt
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Remove unused methods from BaseTest class. Add missing type hint annotations. Move collect_virsh_logs from BaseTest class ot be under LibvirtController
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_nodes_config.py
  src/tests/base_test.py
  src/tests/config/global_configs.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

Add status_info for waiting for specific host (#2377)
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/utils/waiting.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Fix failures when there are no nodes on entity initialization
  src/assisted_test_infra/test_infra/helper_classes/entity.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Fix failures when there are no nodes on entity initialization (#2445)
  src/assisted_test_infra/test_infra/helper_classes/entity.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Update vsphere packer plugin. Update default iso_url image ISO and remove image ISO checksum (due to the change in https://github.com/openshift/release/pull/52387)
  packer_files/vsphere_centos_template/build.pkr.hcl
  packer_files/vsphere_centos_template/variables.pkr.hcl
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

Revert "MGMT-15510: Initialize terraform controller after cluster registration (#2353)"
  src/assisted_test_infra/test_infra/controllers/node_controllers/node_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/tf_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/vsphere_controller.py
  src/assisted_test_infra/test_infra/helper_classes/entity.py
  src/assisted_test_infra/test_infra/helper_classes/nodes.py
  src/tests/test_targets.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

Add support for libvirt removable disks and bus types
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/node_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/tf_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/zvm_controller.py
  src/tests/base_test.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Update vsphere packer plugin and packer base ISO (#2440)
  packer_files/vsphere_centos_template/build.pkr.hcl
  packer_files/vsphere_centos_template/variables.pkr.hcl
  src/assisted_test_infra/test_infra/controllers/node_controllers/node_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/tf_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/vsphere_controller.py
  src/assisted_test_infra/test_infra/helper_classes/entity.py
  src/assisted_test_infra/test_infra/helper_classes/nodes.py
  src/tests/test_targets.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: fix for missing distutils
  requirements.txt
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-17246: add support for ignoring clusters that already exist on jira
  src/assisted_test_infra/download_logs/__main__.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_nodes_config.py
  src/service_client/assisted_service_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: fix for missing distutils (#2452)
  requirements.txt
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

[release-ocm-2.9] NO-ISSUE: fix for missing distutils
  requirements.txt
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

[release-ocm-2.8] NO-ISSUE: fix for missing distutils
  requirements.txt
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-17246: add support for ignoring clusters that already exist on jira (#2450)
  src/assisted_test_infra/download_logs/__main__.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_nodes_config.py
  src/service_client/assisted_service_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

Revert "MGMT-17246: add support for ignoring clusters that already exist on j…"
  src/assisted_test_infra/download_logs/__main__.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_nodes_config.py
  src/service_client/assisted_service_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

Path conditions:
  e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-day2-single-node: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-kube-api-late-binding-single-node: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-kube-api-net-suite: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-bond: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-single-node-live-iso: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-single-node-with-worker-live-iso: any of: .*bootstrap_in_place.*
  ci/prow/e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-bond: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-cnv: any of: .*operator.*
  ci/prow/e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-day2-single-node: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-kube-api-net-suite: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-odf: any of: .*operator.*
  ci/prow/e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-single-node-live-iso: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-single-node-with-worker-live-iso: any of: .*bootstrap_in_place.*
