Repository openshift/assisted-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-day2, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-static-ip-suite

e2e-metal-assisted:
  steps:
    cluster_profile: packet-assisted
    workflow: assisted-baremetal

e2e-metal-assisted-cnv:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'OLM_OPERATORS=cnv
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-ocs:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'OLM_OPERATORS=ocs
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-day2:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'TEST_FUNC=test_deploy_day2_nodes_cloud
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-ipv6:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'IPv6=yes
  
        IPv4=no
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-ipv4v6:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'IPv6=yes
  
        IPv4=yes
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-none:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'PLATFORM=none
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-kube-api-net-suite:
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'KUBE_API=true
  
        ENABLE_KUBE_API=true
  
        NUM_MASTERS=1
  
        ISO_IMAGE_TYPE=minimal-iso
  
        STATIC_IPS=true
  
        TEST_FUNC=test_kubeapi
  
        MAKEFILE_TARGET="create_full_environment run test_kube_api_parallel"
  
  ...

e2e-metal-assisted-static-ip-suite:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'STATIC_IPS=true
  
        TEST_FUNC=test_networking
  
        '
    workflow: assisted-baremetal

ci/prow/e2e-metal-assisted:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-metal-assisted-cnv:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-metal-assisted-day2:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

Change the default disk size from 120GB to 100GB (#1693) (#1707)
  src/consts/consts.py
  src/consts/resources.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Fix disk size calculation when formatting disks.
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

Fixing debugging the service from test-infra by setting DEBUG_SERVICE=true (#1711)
  skipper.env
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: Use ASSISTED_OPENSHIFT_INSTALL_RELEASE_IMAGE instead of OPENSHIFT_INSTALL_RELEASE_IMAGE for hypershift release image
  src/tests/test_kube_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE - Fix missing constructor arguments on proxy controller. Prevent running proxy on missing name.
  src/assisted_test_infra/test_infra/controllers/proxy_controller/proxy_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

Fix disk size calculation when formatting disks. (#1717)
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

NO-ISSUE - Fix missing constructor arguments on proxy controller. (#1719)
  src/assisted_test_infra/test_infra/controllers/proxy_controller/proxy_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

Remove redundant dependency
  requirements.txt
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-10775: Use smaller IPv4 range for libvirt DHCP
  src/tests/base_kubeapi_test.py
  terraform_files/baremetal/limit_ip_dhcp_range.xsl
  terraform_files/baremetal/main.tf
  terraform_files/baremetal_infra_env/limit_ip_dhcp_range.xsl
  terraform_files/baremetal_infra_env/main.tf
  terraform_files/none/limit_ip_dhcp_range.xsl
  terraform_files/none/main.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

MGMT-10965: collect the pods and cluster nodes yamls
  scripts/download_logs.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-10965: collect the pods and cluster nodes yamls (#1726)
  scripts/download_logs.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-9427: Add scale down the the CAPI e2e test
  src/tests/test_kube_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: Deploy assisted-image-service from prow
  skipper.env
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Remove redundant dependency (#1725)
  requirements.txt
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-9427: Add scale down the the CAPI e2e test (#1727)
  src/tests/test_kube_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-9909: Use centos stream 9 in Dockerfile (#1603)
  Dockerfile.assisted-test-infra
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-9909: Use centos stream 9 in Dockerfile (#1603) (#1729)
  Dockerfile.assisted-test-infra
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: Deploy assisted-image-service from prow (#1728)
  skipper.env
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: Deploy assisted-image-service from prow (#1730)
  skipper.env
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

add new Parameter to catch cluster event connected that used to be succeed is now failing
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/consts/consts.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

add new Parameter to catch cluster event connected that used to be succeed is now failing (#1731)
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/consts/consts.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

test
  Makefile
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Delete tfstate file during destroy nodes
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

NO-ISSUE: allow cross network traffic
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE - day2
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/node_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
  src/assisted_test_infra/test_infra/helper_classes/base_cluster.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/day2_cluster.py
  src/assisted_test_infra/test_infra/helper_classes/nodes.py
  src/tests/base_test.py
  src/tests/test_day2.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

NO-ISSUE - Remove _deploy_nodes deprecated target
  Makefile
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE - Clear images and logs only if `TEST_TEARDOWN!=false`
  Makefile
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: allow cross network traffic (#1738)
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Delete tfstate file during destroy nodes (#1739)
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

MGMT-9914: Integration of the ODF LVM operator with assisted installer
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/consts/consts.py
  src/consts/olm_operators.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted, e2e-metal-assisted-cnv, e2e-metal-assisted-ocs, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs

NO-ISSUE - Clear images and logs only if `TEST_TEARDOWN!=false` (#1743)
  Makefile
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE - Remove _deploy_nodes deprecated target (#1742)
  Makefile
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-10946: fix memory usage based on OCP requirements
  src/consts/consts.py
  src/consts/resources.py
  src/tests/base_kubeapi_test.py
  src/tests/test_bootstrap_in_place.py
  src/update_assisted_service_cm.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-10775: Use smaller IPv4 range for libvirt DHCP (#1713)
  src/tests/base_kubeapi_test.py
  terraform_files/baremetal/limit_ip_dhcp_range.xsl
  terraform_files/baremetal/main.tf
  terraform_files/baremetal_infra_env/limit_ip_dhcp_range.xsl
  terraform_files/baremetal_infra_env/main.tf
  terraform_files/none/limit_ip_dhcp_range.xsl
  terraform_files/none/main.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

NO-ISSUE: print ipatbles rules in case setup_capi_env failed to update iptables LIBVIRT_FWI chain
  scripts/setup_capi_env.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: remove reject rules from LIBVIRT_FWI and LIBVIRT_FWO chains instead of flushing the LIBVIRT_FWI chain
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: there is no longer a need to delete this rule since we remove all reject rules from this chain in install_environment.sh
  scripts/install_environment.sh
  scripts/setup_capi_env.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-10946: fix memory usage based on OCP requirements (#1732)
  src/consts/consts.py
  src/consts/resources.py
  src/tests/base_kubeapi_test.py
  src/tests/test_bootstrap_in_place.py
  src/update_assisted_service_cm.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-11110 - Remove unused default tfvars files from terraform template
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
  src/assisted_test_infra/test_infra/tools/terraform_utils.py
  src/assisted_test_infra/test_infra/utils/terraform_util.py
  src/consts/consts.py
  terraform_files/baremetal/terraform.tfvars.json
  terraform_files/baremetal/variables-libvirt.tf
  terraform_files/baremetal_infra_env/terraform.tfvars.json
  terraform_files/baremetal_infra_env/variables-libvirt.tf
  terraform_files/none/terraform.tfvars.json
  terraform_files/none/variables-libvirt.tf
  terraform_files/vsphere-ci-machine/terraform.tfvars.json
  terraform_files/vsphere/terraform.tfvars.json
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

Path conditions:
  e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  e2e-metal-assisted-cnv: any of: .*operator.*
  e2e-metal-assisted-ocs: any of: .*operator.*
  e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-kube-api-net-suite: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-cnv: any of: .*operator.*
  ci/prow/e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-kube-api-net-suite: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-ocs: any of: .*operator.*
  ci/prow/e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$
