Repository openshift/assisted-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted, e2e-metal-assisted-olm, e2e-metal-assisted-day2, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api, e2e-metal-assisted-networking, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-olm

Path conditions:
  e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  e2e-metal-assisted-olm: any of: .*operator.*
  e2e-metal-assisted-day2: any of: ^(day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-kube-api: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  e2e-metal-assisted-networking: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-kube-api: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-olm: any of: .*operator.*

MGMT-8181: added day2 cloud flow to e2e tests
  Makefile
  discovery-infra/day2.py
  discovery-infra/deprecated_utils.py
  discovery-infra/test_infra/consts/env_defaults.py
  discovery-infra/tests/test_day2.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-8181: added day2 cloud flow to e2e tests (#1234)
  Makefile
  discovery-infra/day2.py
  discovery-infra/deprecated_utils.py
  discovery-infra/test_infra/consts/env_defaults.py
  discovery-infra/tests/test_day2.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: always upgrade libgcrypt package using regular sources (#1245)
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: always upgrade libgcrypt package using regular sources
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Fix for logs test on V1
  discovery-infra/test_infra/utils/logs_utils.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Fix for logs test on V1 (#1247)
  discovery-infra/test_infra/utils/logs_utils.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: always upgrade libgcrypt package using regular sources (#1248)
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-8146: fix dual-stack installations
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/controllers/node_controllers/terraform_controller.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/config/cluster_config.py
  discovery-infra/test_infra/utils/global_variables/triggerable.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api, e2e-metal-assisted-networking, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

MGMT-7920: enable testing TPM disk encryption mode
  Dockerfile.test-infra
  README.md
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/consts/env_defaults.py
  discovery-infra/test_infra/controllers/node_controllers/terraform_controller.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/config/cluster_config.py
  discovery-infra/test_infra/utils/global_variables/env_variables_defaults.py
  scripts/install_environment.sh
  skipper.env
  terraform_files/baremetal/main.tf
  terraform_files/baremetal/variables-libvirt.tf
  terraform_files/baremetal_host/main.tf
  terraform_files/baremetal_host/variables.tf
  terraform_files/baremetal_infra_env/main.tf
  terraform_files/baremetal_infra_env/variables-libvirt.tf
  terraform_files/none/main.tf
  terraform_files/none/variables-libvirt.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api, e2e-metal-assisted-networking, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

MGMT-8146: fix dual-stack installations (#1238)
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/controllers/node_controllers/terraform_controller.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/config/cluster_config.py
  discovery-infra/test_infra/utils/global_variables/triggerable.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api, e2e-metal-assisted-networking, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

remove yuval from approver list
  OWNERS
Due: none

remove yuval from approver list (#1252)
  OWNERS
Due: none

NO-ISSUE: add pme-bot user for better jira integration
  OWNERS
Due: none

dummy_branch
  discovery-infra/test_infra/helper_classes/cluster.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: new Dockerfile with Python 3.9 in it
  Dockerfile.assisted-test-infra
  requirements-39.txt
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: new Dockerfile with Python 3.9 in it (#1255)
  Dockerfile.assisted-test-infra
  requirements-39.txt
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: need to change workdir to a different directory than /
  Dockerfile.assisted-test-infra
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: need to change workdir to a different directory than / (#1258)
  Dockerfile.assisted-test-infra
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Revert "NO-ISSUE: remove all elasticsearch-related code (#1237)"
  Makefile
  discovery-infra/log_scrap.py
  discovery-infra/monitoring/__init__.py
  discovery-infra/monitoring/docker-compose.yml
  discovery-infra/monitoring/process.py
  requirements.txt
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-8366 - Download image using url on v1 branch
  discovery-infra/test_infra/assisted_service_api.py
  discovery-infra/test_infra/utils/utils.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-8366 - Download image using url on v1 branch (#1260)
  discovery-infra/test_infra/assisted_service_api.py
  discovery-infra/test_infra/utils/utils.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: allow overriding dockerfile path
  Makefile
  skipper.env
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: allow overriding dockerfile path (#1261)
  Makefile
  skipper.env
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7351 - Move deployment scripts from assisted-service into test-infra
  Makefile
  scripts/deploy_assisted_service.sh
  scripts/operator/README.md
  scripts/operator/common.sh
  scripts/operator/deploy.sh
  scripts/operator/destroy.sh
  scripts/operator/gather.sh
  scripts/operator/libvirt_disks.sh
  scripts/operator/mirror_utils.sh
  scripts/operator/set_ca_bundle.py
  scripts/operator/setup_assisted_operator.sh
  scripts/operator/setup_hive.sh
  scripts/operator/setup_lso.sh
  scripts/operator/upgrade/README.md
  scripts/operator/upgrade/after_upgrade.sh
  scripts/operator/upgrade/before_upgrade.sh
  scripts/operator/upgrade/upgrade.sh
  scripts/operator/utils.sh
  scripts/operator/ztp/add-remote-nodes-playbook.yaml
  scripts/operator/ztp/add_day2_remote_nodes.sh
  scripts/operator/ztp/agentClusterInstall.j2
  scripts/operator/ztp/assisted-installer-crds-playbook.yaml
  scripts/operator/ztp/baremetalHost.j2
  scripts/operator/ztp/clusterDeployment.j2
  scripts/operator/ztp/clusterImageSet.j2
  scripts/operator/ztp/deploy_spoke_cluster.sh
  scripts/operator/ztp/infraEnv.j2
Due: e2e-metal-assisted, e2e-metal-assisted-olm, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-olm

MGMT-7351 - Move deployment scripts from assisted-service into test-infra (#1262)
  Makefile
  scripts/deploy_assisted_service.sh
  scripts/operator/README.md
  scripts/operator/common.sh
  scripts/operator/deploy.sh
  scripts/operator/destroy.sh
  scripts/operator/gather.sh
  scripts/operator/libvirt_disks.sh
  scripts/operator/mirror_utils.sh
  scripts/operator/set_ca_bundle.py
  scripts/operator/setup_assisted_operator.sh
  scripts/operator/setup_hive.sh
  scripts/operator/setup_lso.sh
  scripts/operator/upgrade/README.md
  scripts/operator/upgrade/after_upgrade.sh
  scripts/operator/upgrade/before_upgrade.sh
  scripts/operator/upgrade/upgrade.sh
  scripts/operator/utils.sh
  scripts/operator/ztp/add-remote-nodes-playbook.yaml
  scripts/operator/ztp/add_day2_remote_nodes.sh
  scripts/operator/ztp/agentClusterInstall.j2
  scripts/operator/ztp/assisted-installer-crds-playbook.yaml
  scripts/operator/ztp/baremetalHost.j2
  scripts/operator/ztp/clusterDeployment.j2
  scripts/operator/ztp/clusterImageSet.j2
  scripts/operator/ztp/deploy_spoke_cluster.sh
  scripts/operator/ztp/infraEnv.j2
Due: e2e-metal-assisted, e2e-metal-assisted-olm, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-olm

Use container command variable
  Makefile
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: revert changes to 39 requirements file
  requirements-39.txt
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-8389 - Fix download_logs host ignition failed to download
  discovery-infra/download_logs.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Use container command variable (#1269)
  Makefile
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-8389 - Fix download_logs host ignition failed to download (#1270)
  discovery-infra/download_logs.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: fix container id evaluation in start/stop load_balancer
  Makefile
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-8411 - Allow download ISO without ssl verification on test-infra
  discovery-infra/test_infra/assisted_service_api.py
  discovery-infra/test_infra/consts/env_defaults.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/config/base_entity_config.py
  discovery-infra/test_infra/utils/global_variables/env_variables_defaults.py
  discovery-infra/test_infra/utils/utils.py
  skipper.env
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: fix container id evaluation in start/stop load_balancer (#1271)
  Makefile
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

remove load-balancer container even if it stopped
  Makefile
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

remove load-balancer container even if it stopped (#1273)
  Makefile
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

add a new parameter for setting assisted-installer-deployment branch
  Jenkinsfile.download_logs
Due: none

add a new parameter for setting assisted-installer-deployment branch (#1274)
  Jenkinsfile.download_logs
Due: none

MGMT-8411 - Allow download ISO without ssl verification on test-infra
  discovery-infra/test_infra/consts/env_defaults.py
  discovery-infra/test_infra/helper_classes/config/base_infra_env_config.py
  discovery-infra/test_infra/helper_classes/infra_env.py
  discovery-infra/test_infra/utils/global_variables/env_variables_defaults.py
  discovery-infra/test_infra/utils/utils.py
  discovery-infra/tests/test_day2.py
  skipper.env
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-8411 - Allow download ISO without ssl verification on test-infra (#1275)
  discovery-infra/test_infra/consts/env_defaults.py
  discovery-infra/test_infra/helper_classes/config/base_infra_env_config.py
  discovery-infra/test_infra/helper_classes/infra_env.py
  discovery-infra/test_infra/utils/global_variables/env_variables_defaults.py
  discovery-infra/test_infra/utils/utils.py
  discovery-infra/tests/test_day2.py
  skipper.env
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api
