Repository openshift/assisted-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted, e2e-metal-assisted-day2, e2e-metal-assisted-day2-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, e2e-metal-single-node-with-worker-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-static-ip-suite

e2e-metal-assisted:
  steps:
    cluster_profile: packet-assisted
    env:
      PACKET_PLAN: m3.small.x86
    workflow: assisted-baremetal

e2e-metal-assisted-day2:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'TEST_FUNC=test_deploy_day2_nodes_cloud
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-day2-single-node:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'NUM_MASTERS=1
  
        NUM_WORKERS=0
  
        TEST_FUNC=test_deploy_day2_nodes_cloud
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-ipv6:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'IPv6=yes
  
        IPv4=no
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-ipv4v6:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'IPv6=yes
  
        IPv4=yes
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-none:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'PLATFORM=none
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-static-ip-suite:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'STATIC_IPS=true
  
        TEST_FUNC=test_networking
  
        '
      PACKET_PLAN: m3.large.x86
    workflow: assisted-baremetal

e2e-metal-single-node-live-iso:
  steps:
    cluster_profile: packet-sno
    workflow: baremetalds-sno

e2e-metal-single-node-with-worker-live-iso:
  steps:
    cluster_profile: packet-sno
    env:
      PACKET_PLAN: c3.medium.x86
      TEST_FUNC: test_bip_add_worker
    workflow: baremetalds-sno

ci/prow/e2e-metal-assisted:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-metal-assisted-cnv:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-metal-assisted-day2:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

Add support for update_install_config (#2122)
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/service_client/assisted_service_api.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14241: WIP: Running a test
  src/consts/consts.py
  src/tests/test_e2e_install.py
  src/tests/test_kube_api.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Add SSHException catch when ssh_connection
  src/assisted_test_infra/test_infra/controllers/node_controllers/node.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

NO-ISSUE: Fix readme file
  README.md
Due: none

Add SSHException catch when ssh_connection (#2126)
  src/assisted_test_infra/test_infra/controllers/node_controllers/node.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

Don't crash on non-binding infra-envs
  src/service_client/assisted_service_api.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Don't crash on non-binding infra-envs (#2130)
  src/service_client/assisted_service_api.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: Fix parsing olm operator, parse by space and comma separated
  src/assisted_test_infra/test_infra/utils/operators_utils.py
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs

NO-ISSUE: Fix parsing olm operator, parse by space and comma separated (#2025)
  src/assisted_test_infra/test_infra/utils/operators_utils.py
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs

MGMT-14411: Fix for OCM 2.8 test failures
  Makefile
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14411: Fix for OCM 2.8 test failures (#2138)
  Makefile
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14518: Fix vSphere and Nutanix teardown. Making test_destroy_terraform to work with all platforms.
  src/tests/test_targets.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14518: Fix vSphere and Nutanix teardown. Making test_destroy_terraform to work with all platforms. (#2137)
  src/tests/test_targets.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14568: Ensure test-infra image is built before trying to deploy
  Makefile
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: ensure ADDITIONAL_MANIFEST_DIR exists
  Makefile
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14563: Make deploy_nodes target to deploy nodes without networking
  Makefile
  README.md
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/day2_cluster.py
  src/assisted_test_infra/test_infra/helper_classes/entity.py
  src/tests/test_targets.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: ensure ADDITIONAL_MANIFEST_DIR exists (#2147)
  Makefile
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

dummy test nutanix
  README.md
Due: none

MGMT-14563: Make deploy_nodes target to deploy nodes without networking (#2145)
  Makefile
  README.md
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/day2_cluster.py
  src/assisted_test_infra/test_infra/helper_classes/entity.py
  src/tests/test_targets.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14602: Add MCE operator support
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/utils/operators_utils.py
  src/consts/olm_operators.py
  src/triggers/default_triggers.py
  src/triggers/env_trigger.py
  src/triggers/olm_operators_trigger.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs

Revert "MGMT-14518: Fix vSphere and Nutanix teardown. Making test_destroy_terraform to work with all platforms. (#2137)"
  src/tests/test_targets.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14602: Add MCE operator support (#2151)
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/utils/operators_utils.py
  src/consts/olm_operators.py
  src/triggers/default_triggers.py
  src/triggers/env_trigger.py
  src/triggers/olm_operators_trigger.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs

MGMT-14355: Make OCP 4.13 default on test-infra
  src/consts/consts.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Revert "MGMT-14518: Fix vSphere and Nutanix teardown. Making test_destroy_terraform to work with all platforms. (#2137)" (#2152)
  src/tests/test_targets.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14355: Make OCP 4.13 default on test-infra (#2153)
  src/consts/consts.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14369: Add 4.14 as valid version on test-infra
  src/consts/consts.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14369: Add 4.14 as valid version on test-infra (#2157)
  src/consts/consts.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14568: Ensure test-infra image is built before trying to deploy (#2146)
  Makefile
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Add support for ip6tables to handle ipv6 rules
  skipper.yaml
  src/assisted_test_infra/test_infra/controllers/iptables.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

Revert "MGMT-14568: Ensure test-infra image is built before trying to deploy (#2146)"
  Makefile
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Revert "MGMT-14568: Ensure test-infra image is built before trying to deploy (#2146)" (#2158)
  Makefile
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Add support for ip6tables to handle ipv6 rules (#2150)
  skipper.yaml
  src/assisted_test_infra/test_infra/controllers/iptables.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

NO-ISSUE: Update vsphere and nutanix packer RAM to 16GiB and not 16.59GiB
  README.md
  packer_files/nutanix_centos_template/variables.pkr.hcl
  packer_files/vsphere_centos_template/variables.pkr.hcl
  terraform_files/nutanix-ci-machine/variables-nutanix.tf
  terraform_files/vsphere/variables-vsphere.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

NO-ISSUE: Fail on pending input during installation instead of waiting for timeout
  src/assisted_test_infra/test_infra/exceptions.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/utils/waiting.py
  src/tests/test_e2e_install.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: Update vsphere and nutanix packer RAM to 16GiB and not 16.59GiB (#2160)
  README.md
  packer_files/nutanix_centos_template/variables.pkr.hcl
  packer_files/vsphere_centos_template/variables.pkr.hcl
  terraform_files/nutanix-ci-machine/variables-nutanix.tf
  terraform_files/vsphere/variables-vsphere.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

NO-ISSUE: Fail on pending input during installation instead of waiting for timeout (#2161)
  src/assisted_test_infra/test_infra/exceptions.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/utils/waiting.py
  src/tests/test_e2e_install.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: Remove extra disk from mce test
  src/consts/olm_operators.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs

NO-ISSUE: Remove extra disk from mce test (#2162)
  src/consts/olm_operators.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs

NO-ISSUE: Remove extra disk from sno mce test
  src/consts/olm_operators.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs

Path conditions:
  e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-day2-single-node: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-single-node-live-iso: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-single-node-with-worker-live-iso: any of: .*bootstrap_in_place.*
  ci/prow/e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-cnv: any of: .*operator.*
  ci/prow/e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-kube-api-net-suite: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-ocs: any of: .*operator.*
  ci/prow/e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$
