Repository openshift/assisted-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted, e2e-metal-assisted-day2, e2e-metal-assisted-day2-single-node, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, e2e-metal-single-node-with-worker-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-day2-single-node, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-odf, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso, ci/prow/e2e-metal-single-node-with-worker-live-iso

Path conditions:
  e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-day2-single-node: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-kube-api-late-binding-single-node: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-kube-api-net-suite: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-bond: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-single-node-live-iso: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-single-node-with-worker-live-iso: any of: .*bootstrap_in_place.*
  ci/prow/e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-bond: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-cnv: any of: .*operator.*
  ci/prow/e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-day2-single-node: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-kube-api-net-suite: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-odf: any of: .*operator.*
  ci/prow/e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-single-node-live-iso: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-single-node-with-worker-live-iso: any of: .*bootstrap_in_place.*

MGMT-19248: Adjust OpenShift AI resources
  src/consts/olm_operators.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-odf, ci/prow/e2e-metal-single-node-live-iso

Add osc sno operator testing
  src/triggers/default_triggers.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Remove leftover from https://github.com/openshift/assisted-test-infra/pull/2569
  src/service_client/assisted_service_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-19336: Enable assisted-service fetching by specific commit reference
  scripts/bring_assisted_service.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Remove leftover from https://github.com/openshift/assisted-test-infra/pull/2569 (#2584)
  src/service_client/assisted_service_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

Change the cpu/memory for osc
  src/consts/olm_operators.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-odf, ci/prow/e2e-metal-single-node-live-iso

MGMT-19336: Enable assisted-service fetching by specific commit reference (#2583)
  scripts/bring_assisted_service.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

Revert "NO-ISSUE: Don't expect function call in utils.sh while sourcing (#2576)"
  scripts/download_logs.sh
  scripts/utils.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

Add filtered controller logs when timeout during installation.
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/utils/logs_utils.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-19236: Add Openshift sandboxed containers operator(OSC) support (#2579)
  src/consts/olm_operators.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-odf, ci/prow/e2e-metal-single-node-live-iso

disable logging in os and release images scripts
  scripts/override_images/override_os_images.py
  scripts/override_images/override_release_images.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

test
  src/assisted_test_infra/test_infra/controllers/node_controllers/oci_api_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

wait
  ansible_files/oci_generic_create_ci_machine_playbook.yml
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

upgrade all packages and reboot
  ansible_files/roles/oci/create_infra/tasks/main.yml
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

add OCI custom manifests to cluster
  src/assisted_test_infra/test_infra/controllers/node_controllers/oci_api_controller.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/utils/manifests.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

update terraform URL
  ansible_files/roles/oci/setup_oci_for_test_infra/defaults/main.yml
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

remove pause
  ansible_files/oci_generic_create_ci_machine_playbook.yml
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

use log instead of print
  src/assisted_test_infra/test_infra/controllers/node_controllers/oci_api_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

create shared dir with tes-infra to store OCI artifacts
  ansible_files/roles/oci/setup_oci_for_test_infra/defaults/main.yml
  ansible_files/roles/oci/setup_oci_for_test_infra/tasks/main.yml
  skipper.yaml
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

add cleanup back
  src/assisted_test_infra/test_infra/controllers/node_controllers/oci_api_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

increase timeout
  src/assisted_test_infra/test_infra/controllers/node_controllers/oci_api_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

infra is at the root of zip
  src/assisted_test_infra/test_infra/controllers/node_controllers/oci_api_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Update oci e2e test
  ansible_files/oci_generic_create_ci_machine_playbook.yml
  ansible_files/roles/oci/setup_oci_for_test_infra/defaults/main.yml
  ansible_files/roles/oci/setup_oci_for_test_infra/tasks/custom_manifests.yml
  ansible_files/roles/oci/setup_oci_for_test_infra/tasks/main.yml
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/assisted-additional-config.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/machineconfig-ccm.yml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/machineconfig-csi.yml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-ccm.yml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-csi.yml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/vars/main.yml
  ansible_files/vars/standalone_oci_sample.yml
  terraform_files/oci-ci-machine/01_networking.tf
  terraform_files/oci-ci-machine/02_compute.tf
  terraform_files/oci-ci-machine/02_network_security_groups.tf
  terraform_files/oci-ci-machine/output.tf
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

set service url
  ansible_files/roles/oci/setup_oci_for_test_infra/tasks/main.yml
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/assisted-additional-config.j2
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

exclude preauth request from cleanup
  ansible_files/roles/oci/cleanup_resources/defaults/main.yml
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

specify right service and image base url
  scripts/deploy_assisted_service.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

update success condition after stack is applied
  src/assisted_test_infra/test_infra/controllers/node_controllers/oci_api_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: testing
  README.md
Due: none

MGMT-19278: Use multi-arch OCP release images with OPENSHIFT_VERSION configuration
  README.md
  scripts/deploy_assisted_service.sh
  scripts/override_images/override_os_images.py
  scripts/override_images/override_release_images.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/utils/utils.py
  src/consts/consts.py
  src/tests/global_variables/default_variables.py
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-19278: Use multi-arch OCP release images with OPENSHIFT_VERSION configuration (#2553)
  README.md
  scripts/deploy_assisted_service.sh
  scripts/override_images/override_os_images.py
  scripts/override_images/override_release_images.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/utils/utils.py
  src/consts/consts.py
  src/tests/global_variables/default_variables.py
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: static config
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/utils/utils.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Remove redundant line
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Remove redundant line (#2589)
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

oci returns no nodes
  src/assisted_test_infra/test_infra/controllers/node_controllers/oci_api_controller.py
  src/assisted_test_infra/test_infra/helper_classes/nodes.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

don't change that
  src/assisted_test_infra/test_infra/helper_classes/nodes.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Set workers hostname in 'none' platform according to their network
  terraform_files/none/main.tf
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Fix networking test OCP version handling
  src/tests/test_e2e_install.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Enable single arch OCP released image installation
  scripts/override_images/override_release_images.py
  src/assisted_test_infra/test_infra/utils/utils.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Enable single arch OCP released image installation (#2592)
  scripts/override_images/override_release_images.py
  src/assisted_test_infra/test_infra/utils/utils.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso
