Repository openshift/assisted-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted, e2e-metal-assisted-day2, e2e-metal-assisted-day2-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, e2e-metal-single-node-with-worker-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-static-ip-suite

Path conditions:
  e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-day2-single-node: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-single-node-live-iso: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-single-node-with-worker-live-iso: any of: .*bootstrap_in_place.*
  ci/prow/e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-cnv: any of: .*operator.*
  ci/prow/e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-kube-api-net-suite: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-ocs: any of: .*operator.*
  ci/prow/e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$

NO-ISSUE: Add option to mark variable origin (#2207)
  src/assisted_test_infra/test_infra/helper_classes/config/base_config.py
  src/tests/base_test.py
  src/tests/global_variables/default_variables.py
  src/triggers/env_trigger.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14945: Setup CCM manifests for OCI
  ansible_files/oci_generic_destroy_ci_machine_playbook.yml
  ansible_files/roles/oci/setup_oci_for_test_infra/tasks/custom_manifests.yml
  ansible_files/roles/oci/setup_oci_for_test_infra/tasks/main.yml
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/assisted-additional-config.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-cloud-controller-manager-config.yaml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-kubelet-providerid.bu.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/vars/main.yml
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14240: Plug OCI platform into CI
  ansible_files/ansible.cfg
  ansible_files/oci_generic_destroy_ci_machine_playbook.yml
  ansible_files/roles/oci/create_infra/tasks/main.yml
  src/assisted_test_infra/test_infra/controllers/node_controllers/oci_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/tf_controller.py
  src/assisted_test_infra/test_infra/utils/utils.py
  src/triggers/default_triggers.py
  terraform_files/oci-ci-machine/02_network_security_groups.tf
  terraform_files/oci-ci-machine/03_compute.tf
  terraform_files/oci/01_network_security_groups.tf
  terraform_files/oci/03_compute.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

MGMT-14240: Plug OCI platform into CI
  ansible_files/ansible.cfg
  ansible_files/oci_generic_destroy_ci_machine_playbook.yml
  ansible_files/roles/oci/create_infra/tasks/main.yml
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/assisted-additional-config.j2
  src/assisted_test_infra/test_infra/controllers/node_controllers/oci_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/tf_controller.py
  src/assisted_test_infra/test_infra/utils/utils.py
  src/triggers/default_triggers.py
  terraform_files/oci-ci-machine/02_network_security_groups.tf
  terraform_files/oci-ci-machine/03_compute.tf
  terraform_files/oci/01_network_security_groups.tf
  terraform_files/oci/03_compute.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

Containerized contoller cleanup when raised exception
  src/assisted_test_infra/test_infra/controllers/containerized_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

remove abstractmethod on set_dns
  src/assisted_test_infra/test_infra/controllers/node_controllers/tf_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

add `--connect-timeout` to curl to ensure retries
  Dockerfile.assisted-test-infra
  scripts/hub-cluster/kind/kind.sh
  scripts/hub-cluster/minikube.sh
  scripts/install_k8s_clients.sh
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Containerized contoller cleanup when raised exception (#2210)
  src/assisted_test_infra/test_infra/controllers/containerized_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

destroy should be best effort
  ansible_files/oci_generic_destroy_ci_machine_playbook.yml
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

retry git clone/fetch
  scripts/bring_assisted_service.sh
  scripts/utils.sh
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

add retry to terraform init
  Dockerfile.assisted-test-infra
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

need packet-conf.sh of baremetal bits
  ansible_files/roles/oci/export_connection_details/files/packet-conf.sh
  ansible_files/roles/oci/export_connection_details/tasks/main.yml
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-15071: Add MetalLB properties API and Ingress IPs environment variables
  skipper.env
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_cluster_config.py
  src/consts/olm_operators.py
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs

MGMT-14944: Implement custom manifests upload in test infra
  .gitignore
  README.md
  skipper.env
  skipper.yaml
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_cluster_config.py
  src/assisted_test_infra/test_infra/helper_classes/entity.py
  src/assisted_test_infra/test_infra/utils/manifests.py
  src/service_client/assisted_service_api.py
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

configure connection attempts in ssh
  ansible_files/roles/oci/export_connection_details/files/packet-conf.sh
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14944: Implement custom manifests upload in test infra (#2211)
  .gitignore
  README.md
  skipper.env
  skipper.yaml
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_cluster_config.py
  src/assisted_test_infra/test_infra/helper_classes/entity.py
  src/assisted_test_infra/test_infra/utils/manifests.py
  src/service_client/assisted_service_api.py
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Remove OCS OCS no longer supported, all OCS renamed to ODF
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/consts/consts.py
  src/consts/olm_operators.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs

MGMT-14240: Plug OCI platform e2e test into CI (#2209)
  Dockerfile.assisted-test-infra
  ansible_files/ansible.cfg
  ansible_files/oci_generic_destroy_ci_machine_playbook.yml
  ansible_files/roles/oci/create_infra/tasks/main.yml
  ansible_files/roles/oci/export_connection_details/files/packet-conf.sh
  ansible_files/roles/oci/export_connection_details/tasks/main.yml
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/assisted-additional-config.j2
  scripts/bring_assisted_service.sh
  scripts/hub-cluster/kind/kind.sh
  scripts/hub-cluster/minikube.sh
  scripts/install_k8s_clients.sh
  scripts/utils.sh
  src/assisted_test_infra/test_infra/controllers/node_controllers/oci_controller.py
  src/assisted_test_infra/test_infra/utils/utils.py
  src/triggers/default_triggers.py
  terraform_files/oci-ci-machine/02_network_security_groups.tf
  terraform_files/oci-ci-machine/03_compute.tf
  terraform_files/oci/01_network_security_groups.tf
  terraform_files/oci/03_compute.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

Remove OCS (#2215)
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/consts/consts.py
  src/consts/olm_operators.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs

MGMT-15071: Add MetalLB properties API and Ingress IPs environment variables (#2212)
  skipper.env
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_cluster_config.py
  src/consts/olm_operators.py
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs

Add support to update iso file for set_boot_order
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/node.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/node_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/nutanix_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

Add support to update iso file for set_boot_order (#2216)
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/node.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/node_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/nutanix_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

MGMT-15131: Raise more indicative exception on operator deployment failure
  src/assisted_test_infra/test_infra/utils/operators_utils.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs

MGMT-15131: Raise more indicative exception on operator deployment failure (#2217)
  src/assisted_test_infra/test_infra/utils/operators_utils.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs

NO-ISSUE: Add info to the raised exception instead of exception chaining
  src/assisted_test_infra/test_infra/utils/operators_utils.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs

NO-ISSUE: Add info to the raised exception instead of exception chaining (#2220)
  src/assisted_test_infra/test_infra/utils/operators_utils.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs

Fix paramiko incorrectly auto-detects private key method
  src/assisted_test_infra/test_infra/controllers/node_controllers/ssh.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

Fix paramiko incorrectly auto-detects private key method (#2221)
  src/assisted_test_infra/test_infra/controllers/node_controllers/ssh.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

Group dependabot updates in one PR
  .github/dependabot.yml
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Group dependabot updates in one PR (#2225)
  .github/dependabot.yml
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14945: Setup CCM manifests for OCI
  ansible_files/roles/oci/setup_oci_for_test_infra/tasks/custom_manifests.yml
  ansible_files/roles/oci/setup_oci_for_test_infra/tasks/main.yml
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-cloud-controller-manager-config.yaml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-kubelet-providerid.bu.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/vars/main.yml
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

cleanup
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-ccm-04-cloud-controller-manager-config.yaml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-ccm-05-daemon-set.yaml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-kubelet-providerid.bu.j2
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

change leader-elect-resource-name to match the RBAC rule
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/assisted-additional-config.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-ccm-05-daemon-set.yaml.j2
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

add extra flags to CCM bacause it runs in a dedicated namespace
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-ccm-05-daemon-set.yaml.j2
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

adapt CCM manifests to OCP
  ansible_files/roles/oci/setup_oci_for_test_infra/tasks/custom_manifests.yml
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-ccm-00-namespace.yaml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-ccm-01-service-account.yaml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-ccm-02-cluster-role.yaml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-ccm-03-cluster-role-binding.yaml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-ccm-04-cloud-controller-manager-config.yaml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-ccm-05-daemon-set.yaml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/vars/main.yml
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

remove ocp release
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/assisted-additional-config.j2
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

define CUSTOM_MANIFESTS_FILES variable
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/assisted-additional-config.j2
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

fix CCM configuration
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-cloud-controller-manager-config.yaml.j2
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

try with latest nightly
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/assisted-additional-config.j2
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14945: Setup CCM manifests for OCI (#2200)
  ansible_files/roles/oci/setup_oci_for_test_infra/tasks/custom_manifests.yml
  ansible_files/roles/oci/setup_oci_for_test_infra/tasks/main.yml
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/assisted-additional-config.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-ccm-00-namespace.yaml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-ccm-01-service-account.yaml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-ccm-02-cluster-role.yaml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-ccm-03-cluster-role-binding.yaml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-ccm-04-cloud-controller-manager-config.yaml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-ccm-05-daemon-set.yaml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-kubelet-providerid.bu.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/vars/main.yml
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite
