Repository openshift/assisted-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, e2e-metal-assisted-day2-4-19, e2e-metal-assisted-day2-sno-4-19, e2e-metal-sno-with-worker-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-bond-4-18, ci/prow/e2e-metal-assisted-day2-4-18, ci/prow/e2e-metal-assisted-day2-sno-4-18, ci/prow/e2e-metal-assisted-ipv4v6-4-18, ci/prow/e2e-metal-assisted-ipv6-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-assisted-none-4-18, ci/prow/e2e-metal-assisted-static-ip-suite-4-18, ci/prow/e2e-metal-sno-live-iso, ci/prow/e2e-metal-sno-with-worker-live-iso

Path conditions:
  e2e-metal-assisted-4-19: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-ha-kube-api-4-19: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-sno-live-iso: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-day2-4-19: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-day2-sno-4-19: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-sno-with-worker-live-iso: any of: .*bootstrap_in_place.*
  ci/prow/e2e-metal-assisted-4-18: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-bond-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-day2-4-18: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-day2-sno-4-18: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-ipv4v6-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-ipv6-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-none-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-static-ip-suite-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-sno-live-iso: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-sno-with-worker-live-iso: any of: .*bootstrap_in_place.*

fix container build failure (#2768)
  requirements.txt
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

upkeep: add centos stream match for epel install (#2767)
  scripts/install_environment.sh
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

upkeep: add centos stream match for epel install
  scripts/install_environment.sh
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

upkeep: add centos stream match for epel install (#2775)
  scripts/install_environment.sh
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

fix container build failure (#2774)
  requirements.txt
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

upkeep: add centos stream match for epel install (#2776)
  scripts/install_environment.sh
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-21418: Fix NAT hairpinning in onprem deployments (#2751)
  Makefile
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

UEFI boot support for libvirt Current installtion boot set to native BIOS. The code allows to users boot libvirt nodes from UEFI
  README.md
  scripts/install_environment.sh
  skipper.env
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_terraform_config.py
  src/consts/env_defaults.py
  src/tests/global_variables/env_variables_defaults.py
  src/virsh_cleanup/virsh_cleanup.py
  terraform_files/baremetal/main.tf
  terraform_files/baremetal/variables-libvirt.tf
  terraform_files/baremetal_host/main.tf
  terraform_files/baremetal_host/variables.tf
  terraform_files/baremetal_infra_env/main.tf
  terraform_files/baremetal_infra_env/variables-libvirt.tf
  terraform_files/none/main.tf
  terraform_files/none/variables-libvirt.tf
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-bond-4-18, ci/prow/e2e-metal-assisted-ipv4v6-4-18, ci/prow/e2e-metal-assisted-ipv6-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-assisted-none-4-18, ci/prow/e2e-metal-assisted-static-ip-suite-4-18, ci/prow/e2e-metal-sno-live-iso

UEFI boot support for libvirt (#2747)
  README.md
  scripts/install_environment.sh
  skipper.env
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_terraform_config.py
  src/consts/env_defaults.py
  src/tests/global_variables/env_variables_defaults.py
  src/virsh_cleanup/virsh_cleanup.py
  terraform_files/baremetal/main.tf
  terraform_files/baremetal/variables-libvirt.tf
  terraform_files/baremetal_host/main.tf
  terraform_files/baremetal_host/variables.tf
  terraform_files/baremetal_infra_env/main.tf
  terraform_files/baremetal_infra_env/variables-libvirt.tf
  terraform_files/none/main.tf
  terraform_files/none/variables-libvirt.tf
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-bond-4-18, ci/prow/e2e-metal-assisted-ipv4v6-4-18, ci/prow/e2e-metal-assisted-ipv6-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-assisted-none-4-18, ci/prow/e2e-metal-assisted-static-ip-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Add support for ai-chatbot
  skipper.env
  src/chatbot_client.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

fix container build failure podman/docker build failed likelly because libirt-python <= 11.1.0 is not supported any more now bumping some packages to overcome this issue
  Dockerfile.assisted-test-infra
  requirements.txt
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Add support for ai-chatbot (#2717)
  skipper.env
  src/chatbot_client.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

add support for streaming endpoint
  src/chatbot_client.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

add support for streaming endpoint (#2777)
  src/chatbot_client.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

parse ISO URL from streaming tool_result; refactor to pass C901
  src/chatbot_client.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

NO-ISSUE: add to owners_aliases
  OWNERS
Due: none

NO-ISSUE: add to owners_aliases (#2781)
  OWNERS
Due: none

primary_stack hardcoded names to const - before change to int
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/consts/consts.py
  src/consts/env_defaults.py
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-bond-4-18, ci/prow/e2e-metal-assisted-ipv4v6-4-18, ci/prow/e2e-metal-assisted-ipv6-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-assisted-none-4-18, ci/prow/e2e-metal-assisted-static-ip-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-22903: Add OCP 4.22 version and set OCP 4.21 as default in test-infra
  src/consts/consts.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

test
  requirements.txt
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Delete existing directory when create proxy folder
  src/assisted_test_infra/test_infra/controllers/proxy_controller/proxy_controller.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-bond-4-18, ci/prow/e2e-metal-assisted-ipv4v6-4-18, ci/prow/e2e-metal-assisted-ipv6-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-assisted-none-4-18, ci/prow/e2e-metal-assisted-static-ip-suite-4-18, ci/prow/e2e-metal-sno-live-iso

[release-ocm-2.16] NO-ISSUE: Update assisted-service image tag to ocm-2.16
  Makefile
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

[release-ocm-2.16] NO-ISSUE: Update assisted-service image tag to ocm-2.16 (#2790)
  Makefile
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-22903: Add OCP 4.22 version and set OCP 4.21 as default in test-infra (#2786)
  src/consts/consts.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

[release-ocm-2.16] NO-ISSUE: Reduce owners list for release-2.16 branch
  OWNERS
Due: none

[release-ocm-2.16] NO-ISSUE: Reduce owners list for release-2.16 branch (#2791)
  OWNERS
Due: none

Delete existing directory when create proxy folder (#2789)
  src/assisted_test_infra/test_infra/controllers/proxy_controller/proxy_controller.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-bond-4-18, ci/prow/e2e-metal-assisted-ipv4v6-4-18, ci/prow/e2e-metal-assisted-ipv6-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-assisted-none-4-18, ci/prow/e2e-metal-assisted-static-ip-suite-4-18, ci/prow/e2e-metal-sno-live-iso

fix(static_network): pass vlan_enabled and vlan_id to bonded network generator
  src/assisted_test_infra/test_infra/tools/static_network.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Add new network types
  src/consts/consts.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Add additional network types to const
  src/consts/consts.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Add bkopilov as owner
  OWNERS
Due: none

fix(static_network): pass vlan_enabled and vlan_id to bonded network generator (#2788)
  src/assisted_test_infra/test_infra/tools/static_network.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-21694: Network types (#2792)
  src/consts/consts.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Add STORAGE_POOL_PATH to skipper.env
  skipper.env
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Add STORAGE_POOL_PATH to skipper.env (#2795)
  skipper.env
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso
