Repository openshift/assisted-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted, e2e-metal-assisted-day2, e2e-metal-assisted-day2-single-node, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, e2e-metal-single-node-with-worker-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-day2-single-node, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-odf, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso, ci/prow/e2e-metal-single-node-with-worker-live-iso

Path conditions:
  e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-day2-single-node: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-kube-api-late-binding-single-node: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-kube-api-net-suite: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-bond: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-single-node-live-iso: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-single-node-with-worker-live-iso: any of: .*bootstrap_in_place.*
  ci/prow/e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-bond: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-cnv: any of: .*operator.*
  ci/prow/e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-day2-single-node: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-kube-api-net-suite: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-odf: any of: .*operator.*
  ci/prow/e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-single-node-live-iso: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-single-node-with-worker-live-iso: any of: .*bootstrap_in_place.*

MGMT-18333: Generate python client instead of using the one from assisted-service image (#2486)
  .gitignore
  Dockerfile.assisted-test-infra
  Makefile
  README.md
  scripts/bring_assisted_service.sh
  scripts/create_full_environment.sh
  scripts/utils.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-18333: Generate python client instead of using the one from assisted-service image (#2486) (#2498)
  .gitignore
  Dockerfile.assisted-test-infra
  Makefile
  README.md
  scripts/bring_assisted_service.sh
  scripts/create_full_environment.sh
  scripts/utils.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-18333: Generate python client instead of using the one from assisted-service image (#2486) (#2497)
  .gitignore
  Dockerfile.assisted-test-infra
  Makefile
  README.md
  scripts/bring_assisted_service.sh
  scripts/create_full_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

[MGMT-18102] fix for platform none/external on RHEL9 (#2490)
  scripts/deploy_assisted_service.sh
  scripts/utils.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-8357: Deploy assisted-service for e2e tests in Kind
  Makefile
  scripts/create_full_environment.sh
  scripts/deploy_assisted_service.sh
  scripts/deploy_ui.sh
  scripts/hub-cluster/create.sh
  scripts/hub-cluster/delete.sh
  scripts/hub-cluster/kind/kind-config.yaml
  scripts/hub-cluster/kind/kind.sh
  src/assisted_test_infra/test_infra/utils/utils.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: better clean up when using destory
  Makefile
  scripts/utils.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: better clean up when using destory (#2500)
  Makefile
  scripts/utils.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

iPXE assets download to container and modify iPxe script
  src/assisted_test_infra/test_infra/controllers/ipxe_controller/ipxe_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-18436: Enable override of assisted-service and assisted-image-service images in onprem deployments. This enables the CI to set this variables with the new built images in PRs
  scripts/deploy_assisted_service.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-18436: Enable override of assisted-service and assisted-image-service images in onprem deployments. This enables the CI to set this variables with the new built images in PRs (#2504)
  scripts/deploy_assisted_service.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: testing python workaround
  requirements.txt
  terraform_files/equinix-ci-machine/main.tf
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

rollback net addr version
  requirements.txt
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: testing python workaround (#2505)
  requirements.txt
  terraform_files/equinix-ci-machine/main.tf
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Fix name to fetch Rocky in OCI
  terraform_files/oci-ci-machine/03_compute.tf
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Fix name to fetch Rocky in OCI (#2507)
  terraform_files/oci-ci-machine/03_compute.tf
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

Support OCI ISCSI infrastructure
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/assisted-additional-config.j2
  skipper.env
  src/assisted_test_infra/test_infra/helper_classes/config/base_oci_config.py
  src/tests/global_variables/env_variables_defaults.py
  terraform_files/oci-ci-machine/01_networking.tf
  terraform_files/oci-ci-machine/output.tf
  terraform_files/oci/03_compute.tf
  terraform_files/oci/variables.tf
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-18378: fix for LVMs with worker nodes
  src/consts/olm_operators.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-odf, ci/prow/e2e-metal-single-node-live-iso

MGMT-18378: fix for LVMs with worker nodes (#2509)
  src/consts/olm_operators.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-odf, ci/prow/e2e-metal-single-node-live-iso

iPXE assets download to container and modify iPxe script (#2501)
  src/assisted_test_infra/test_infra/controllers/ipxe_controller/ipxe_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

Update requirements.txt
  requirements.txt
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

OCI - add support for attach / detach disk
  src/assisted_test_infra/test_infra/controllers/node_controllers/oci_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Fix python client generation when more than one client exist
  Makefile
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Fix python client generation when more than one client exist (#2516)
  Makefile
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-18442: Replace offline token authentication mechanism with service account
  Makefile
  README.md
  requirements.txt
  skipper.env
  src/assisted_test_infra/download_logs/__main__.py
  src/assisted_test_infra/download_logs/download_logs.py
  src/manage/manage.py
  src/service_client/__init__.py
  src/service_client/assisted_service_api.py
  src/service_client/client_factory.py
  src/tests/global_variables/default_variables.py
  src/tests/global_variables/env_variables_defaults.py
  src/update_assisted_service_cm.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-18442: Replace offline token authentication mechanism with service account (#2515)
  Makefile
  README.md
  requirements.txt
  skipper.env
  src/assisted_test_infra/download_logs/__main__.py
  src/assisted_test_infra/download_logs/download_logs.py
  src/manage/manage.py
  src/service_client/__init__.py
  src/service_client/assisted_service_api.py
  src/service_client/client_factory.py
  src/tests/global_variables/default_variables.py
  src/tests/global_variables/env_variables_defaults.py
  src/update_assisted_service_cm.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-8357: Deploy assisted-service for e2e tests in Kind
  Makefile
  README.md
  scripts/bring_assisted_service.sh
  scripts/create_full_environment.sh
  scripts/deploy_assisted_service.sh
  scripts/deploy_ui.sh
  scripts/hub-cluster/create.sh
  scripts/hub-cluster/delete.sh
  scripts/hub-cluster/kind/kind-config.yaml
  scripts/hub-cluster/kind/kind.sh
  scripts/hub-cluster/minikube.sh
  scripts/utils.sh
  src/assisted_test_infra/test_infra/utils/utils.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

Add TestClusterScaleUp for baremetal spanned clusters
  Makefile
  src/tests/templates/day2_baremetal.yaml.j2
  src/tests/templates/day2_machine.yaml.j2
  src/tests/test_ctlplane_scaleup.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

apply reformat
  src/tests/test_ctlplane_scaleup.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

Remove unused libraries
  src/tests/test_ctlplane_scaleup.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-18626: Add TestClusterScaleUp for baremetal spanned clusters (#2518)
  Makefile
  src/tests/templates/day2_baremetal.yaml.j2
  src/tests/templates/day2_machine.yaml.j2
  src/tests/test_ctlplane_scaleup.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-8357: Deploy assisted-service for e2e tests in Kind (#2473)
  Makefile
  README.md
  scripts/bring_assisted_service.sh
  scripts/create_full_environment.sh
  scripts/deploy_assisted_service.sh
  scripts/deploy_ui.sh
  scripts/hub-cluster/create.sh
  scripts/hub-cluster/delete.sh
  scripts/hub-cluster/kind/kind-config.yaml
  scripts/hub-cluster/kind/kind.sh
  scripts/hub-cluster/minikube.sh
  scripts/utils.sh
  src/assisted_test_infra/test_infra/utils/utils.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Fix UI pod readiness condition in UI deployment script
  scripts/deploy_ui.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: Fix UI pod readiness condition in UI deployment script (#2521)
  scripts/deploy_ui.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

Change authentication method for refresh token
  src/service_client/assisted_service_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-11143: Fix missing DNS entry for reclaim test
  src/tests/test_kube_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

[release-ocm-2.11] MGMT-18432: Upgrade setuptools to mitigate CVE-2024-6345
  requirements.txt
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

[release-ocm-2.10] MGMT-18432: Upgrade setuptools to mitigate CVE-2024-6345
  requirements.txt
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

[release-ocm-2.8] MGMT-18432: Upgrade setuptools to mitigate CVE-2024-6345
  requirements.txt
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso
