Repository openshift/assisted-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted, e2e-metal-assisted-day2, e2e-metal-assisted-day2-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, e2e-metal-single-node-with-worker-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-static-ip-suite

e2e-metal-assisted:
  steps:
    cluster_profile: packet-assisted
    env:
      PACKET_PLAN: m3.small.x86
    workflow: assisted-baremetal

e2e-metal-assisted-day2:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'TEST_FUNC=test_deploy_day2_nodes_cloud
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-day2-single-node:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'NUM_MASTERS=1
  
        NUM_WORKERS=0
  
        TEST_FUNC=test_deploy_day2_nodes_cloud
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-ipv6:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'IPv6=yes
  
        IPv4=no
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-ipv4v6:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'IPv6=yes
  
        IPv4=yes
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-none:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'PLATFORM=none
  
        '
    workflow: assisted-baremetal

e2e-metal-assisted-static-ip-suite:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'STATIC_IPS=true
  
        TEST_FUNC=test_networking
  
        '
      PACKET_PLAN: m3.large.x86
    workflow: assisted-baremetal

e2e-metal-single-node-live-iso:
  steps:
    cluster_profile: packet-sno
    workflow: baremetalds-sno

e2e-metal-single-node-with-worker-live-iso:
  steps:
    cluster_profile: packet-sno
    env:
      PACKET_PLAN: c3.medium.x86
      TEST_FUNC: test_bip_add_worker
    workflow: baremetalds-sno

ci/prow/e2e-metal-assisted:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-metal-assisted-cnv:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-metal-assisted-day2:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

MGMT-14094: Fix oci cleanup
  ansible_files/ansible.cfg
  ansible_files/oci_generic_cleanup_playbook.yml
  ansible_files/roles/oci/cleanup_resources/defaults/main.yml
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14094: Fix oci cleanup (#2257)
  ansible_files/ansible.cfg
  ansible_files/oci_generic_cleanup_playbook.yml
  ansible_files/roles/oci/cleanup_resources/defaults/main.yml
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-15703: Update vsphere ci machine base image. Update packer version
  Dockerfile.assisted-test-infra
  packer_files/vsphere_centos_template/variables.pkr.hcl
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-15703: Update vsphere ci machine base image. (#2260)
  Dockerfile.assisted-test-infra
  packer_files/vsphere_centos_template/variables.pkr.hcl
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Reduce stress when running start/stop in parallel runs
  src/assisted_test_infra/test_infra/controllers/node_controllers/node.py
  src/assisted_test_infra/test_infra/utils/utils.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

MGMT-14094: Install jmespath
  requirements.txt
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14094: Install jmespath (#2266)
  requirements.txt
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14094: Cleanup network load balancers in OCI
  ansible_files/roles/oci/cleanup_resources/tasks/main.yml
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-15707: Add s390x trigger
  src/consts/consts.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14094: Cleanup network load balancers in OCI (#2270)
  ansible_files/roles/oci/cleanup_resources/tasks/main.yml
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-15707: Add s390x trigger (#2271)
  src/consts/consts.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14094: Manage case when no resources are found in OCI
  ansible_files/roles/oci/cleanup_resources/defaults/main.yml
  ansible_files/roles/oci/cleanup_resources/tasks/cleanup_resources.yml
  ansible_files/roles/oci/cleanup_resources/tasks/main.yml
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-14094: Manage case when no resources are found in OCI (#2272)
  ansible_files/roles/oci/cleanup_resources/defaults/main.yml
  ansible_files/roles/oci/cleanup_resources/tasks/cleanup_resources.yml
  ansible_files/roles/oci/cleanup_resources/tasks/main.yml
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-15598: Bugfix - list all cluster manifests irrespective of type
  src/service_client/assisted_service_api.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: test_kube_api: enable disconnected mode
  skipper.env
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_cluster_config.py
  src/tests/global_variables/env_variables_defaults.py
  src/tests/test_kube_api.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-15598: Bugfix - list all cluster manifests irrespective of type (#2265)
  src/service_client/assisted_service_api.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: test_kube_api: enable disconnected mode (#2269)
  skipper.env
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_cluster_config.py
  src/tests/global_variables/env_variables_defaults.py
  src/tests/test_kube_api.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

WIP: use urlib3 < 2.0
  requirements.txt
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

WIP: use urlib3 < 2.0 (#2281)
  requirements.txt
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: Add bonding support to assisted test infra (#2274)
  README.md
  skipper.env
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_entity_config.py
  src/assisted_test_infra/test_infra/helper_classes/infra_env.py
  src/assisted_test_infra/test_infra/tools/static_network.py
  src/consts/env_defaults.py
  src/tests/base_kubeapi_test.py
  src/tests/global_variables/env_variables_defaults.py
  src/tests/test_kube_api.py
  terraform_files/baremetal/main.tf
  terraform_files/baremetal/variables-libvirt.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

NO-ISSUE: fix oci cleanup
  ansible_files/roles/oci/cleanup_resources/defaults/main.yml
  ansible_files/roles/oci/cleanup_resources/tasks/cleanup_resources.yml
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: fix oci cleanup (#2283)
  ansible_files/roles/oci/cleanup_resources/defaults/main.yml
  ansible_files/roles/oci/cleanup_resources/tasks/cleanup_resources.yml
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

test arm cluster on OCI
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/assisted-additional-config.j2
  terraform_files/oci/02_custom_image.tf
  terraform_files/oci/03_compute.tf
  terraform_files/oci/variables.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

Support passing registry CA to spokes in kube API disconnected mode
  README.md
  skipper.env
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_cluster_config.py
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/infraenv.py
  src/tests/global_variables/env_variables_defaults.py
  src/tests/test_kube_api.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

make arm shape compatible with the custom image
  terraform_files/oci/02_custom_image.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

uefi64 is required
  terraform_files/oci/02_custom_image.tf
  terraform_files/oci/03_compute.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

use multi-arch agent/controller/installer
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/assisted-additional-config.j2
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-15945: Pull service and index images from ocm-2.9 tag
  Makefile
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-15945: Pull service and index images from ocm-2.9 tag (#2287)
  Makefile
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: Update to python 3.12
  Dockerfile.assisted-test-infra
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

fix lint
  src/assisted_test_infra/test_infra/tools/static_network.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Run test-infra on ARM64
  skipper.env
  src/assisted_test_infra/test_infra/controllers/node_controllers/ipip_tunnel.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/remote_shell.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/ssh.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
  src/assisted_test_infra/test_infra/controllers/tang_controller/tang_controller.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_terraform_config.py
  src/assisted_test_infra/test_infra/tools/assets.py
  src/assisted_test_infra/test_infra/tools/ipip_tunnels.py
  src/assisted_test_infra/test_infra/utils/utils.py
  src/consts/consts.py
  src/tests/base_test.py
  src/tests/global_variables/env_variables_defaults.py
  src/virsh_cleanup/virsh_cleanup.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

adds custom manifest functions(list,delete,create_single) used in kni to test feature
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/service_client/assisted_service_api.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: add eifrach to owners
  OWNERS
Due: none

add rccrdpccl to OWNERS
  OWNERS
Due: none

NO-ISSUE: add eifrach to owners (#2291)
  OWNERS
Due: none

NO-ISSUE: add myself as an approver
  OWNERS
Due: none

adds custom manifest functions(list,delete,create_single) used in kni to test feature (#2252)
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/service_client/assisted_service_api.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: Update to python 3.12 (#2288)
  Dockerfile.assisted-test-infra
  src/assisted_test_infra/test_infra/tools/static_network.py
Due: e2e-metal-assisted, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: add myself as an approver (#2292)
  OWNERS
Due: none

Path conditions:
  e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-day2-single-node: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-single-node-live-iso: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-single-node-with-worker-live-iso: any of: .*bootstrap_in_place.*
  ci/prow/e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-cnv: any of: .*operator.*
  ci/prow/e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-kube-api-net-suite: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-ocs: any of: .*operator.*
  ci/prow/e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$
