Repository openshift/assisted-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted, e2e-metal-assisted-olm, e2e-metal-assisted-day2, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api, e2e-metal-assisted-networking, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-olm

e2e-metal-assisted:
  steps:
    cluster_profile: packet-assisted
    env:
      TEST_SUITE: minimal
    workflow: baremetalds-assisted-install

e2e-metal-assisted-olm:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'TEST_FUNC=test_olm_operator
  
        '
      TEST_SUITE: minimal
    workflow: baremetalds-assisted-install

e2e-metal-assisted-day2:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'TEST_FUNC=test_deploy_day2_nodes_cloud
  
        '
      TEST_SUITE: minimal
    workflow: baremetalds-assisted-install

e2e-metal-assisted-ipv6:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'IPv6=yes
  
        IPv4=no
  
        '
      TEST_SUITE: minimal
    workflow: baremetalds-assisted-install

e2e-metal-assisted-ipv4v6:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'IPv6=yes
  
        IPv4=yes
  
        '
      TEST_SUITE: minimal
    workflow: baremetalds-assisted-install

e2e-metal-assisted-none:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'PLATFORM=none
  
        '
      TEST_SUITE: minimal
    workflow: baremetalds-assisted-install

e2e-metal-assisted-kube-api:
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'NUM_MASTERS=1
  
        NUM_WORKERS=0
  
        IPv6=yes
  
        IPv4=no
  
        PROXY=yes
  
        ADDITIONAL_PARAMS="--with-static-network-config"
  
        ISO_IMAGE_TYPE=minimal-iso
  
        KUBE_API=yes
  
        ENABLE_KUBE_API=true
  
  ...

e2e-metal-assisted-networking:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'TEST_FUNC=test_networking
  
        '
      TEST_SUITE: minimal
    workflow: baremetalds-assisted-install

ci/prow/e2e-metal-assisted:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-metal-assisted-kube-api:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-metal-assisted-none:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

MGMT-7351 - Move deployment scripts from assisted-service into test-infra
  Makefile
  scripts/deploy_assisted_service.sh
  scripts/operator/README.md
  scripts/operator/common.sh
  scripts/operator/deploy.sh
  scripts/operator/destroy.sh
  scripts/operator/gather.sh
  scripts/operator/libvirt_disks.sh
  scripts/operator/mirror_utils.sh
  scripts/operator/set_ca_bundle.py
  scripts/operator/setup_assisted_operator.sh
  scripts/operator/setup_hive.sh
  scripts/operator/setup_lso.sh
  scripts/operator/upgrade/README.md
  scripts/operator/upgrade/after_upgrade.sh
  scripts/operator/upgrade/before_upgrade.sh
  scripts/operator/upgrade/upgrade.sh
  scripts/operator/utils.sh
  scripts/operator/ztp/add-remote-nodes-playbook.yaml
  scripts/operator/ztp/add_day2_remote_nodes.sh
  scripts/operator/ztp/agentClusterInstall.j2
  scripts/operator/ztp/assisted-installer-crds-playbook.yaml
  scripts/operator/ztp/baremetalHost.j2
  scripts/operator/ztp/clusterDeployment.j2
  scripts/operator/ztp/clusterImageSet.j2
  scripts/operator/ztp/deploy_spoke_cluster.sh
  scripts/operator/ztp/infraEnv.j2
Due: e2e-metal-assisted, e2e-metal-assisted-olm, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-olm

MGMT-8400: Use access-token when accessing Jira on Jenkins
  Jenkinsfile.download_logs
Due: none

MGMT-8400: Use access-token when accessing Jira on Jenkins (#1277)
  Jenkinsfile.download_logs
Due: none

MGMT-8399: Add script that setup the env for capi-provider-agent test
  .gitignore
  Makefile
  scripts/setup_capi_provider_agent_env.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Update readme with cpai e2e flow
  README.md
Due: none

Allow setting MINIKUBE_HOME
  skipper.env
  skipper.yaml
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-8399: Add e2e test for capi-provider-agent using hypershift controlplane and Assisted-installer
  discovery-infra/test_infra/helper_classes/hypershift.py
  discovery-infra/test_infra/helper_classes/kube_helpers/agent.py
  discovery-infra/test_infra/helper_classes/kube_helpers/cluster_deployment.py
  discovery-infra/test_infra/utils/utils.py
  discovery-infra/tests/test_kube_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Allow setting minikube ram and disk size Added env vars for MINIKUBE_RAM_MB and MINIKUBE_DISK_SIZE
  scripts/run_minikube.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-8399: Add e2e test for capi-provider-agent (#1283)
  .gitignore
  Makefile
  README.md
  discovery-infra/test_infra/helper_classes/hypershift.py
  discovery-infra/test_infra/helper_classes/kube_helpers/agent.py
  discovery-infra/test_infra/helper_classes/kube_helpers/cluster_deployment.py
  discovery-infra/test_infra/utils/utils.py
  discovery-infra/tests/test_kube_api.py
  requirements-39.txt
  requirements.txt
  scripts/run_minikube.sh
  scripts/setup_capi_provider_agent_env.sh
  skipper.env
  skipper.yaml
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7920: enable testing TPM disk encryption mode
  Dockerfile.test-infra
  README.md
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/consts/env_defaults.py
  discovery-infra/test_infra/controllers/node_controllers/terraform_controller.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/config/cluster_config.py
  discovery-infra/test_infra/utils/global_variables/env_variables_defaults.py
  scripts/install_environment.sh
  skipper.env
  terraform_files/baremetal/main.tf
  terraform_files/baremetal/variables-libvirt.tf
  terraform_files/baremetal_host/main.tf
  terraform_files/baremetal_host/variables.tf
  terraform_files/baremetal_infra_env/main.tf
  terraform_files/baremetal_infra_env/variables-libvirt.tf
  terraform_files/none/main.tf
  terraform_files/none/variables-libvirt.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api, e2e-metal-assisted-networking, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

MGMT-7920: enable testing TPM disk encryption mode (#1254)
  Dockerfile.test-infra
  README.md
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/consts/env_defaults.py
  discovery-infra/test_infra/controllers/node_controllers/terraform_controller.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/config/cluster_config.py
  discovery-infra/test_infra/utils/global_variables/env_variables_defaults.py
  scripts/install_environment.sh
  skipper.env
  terraform_files/baremetal/main.tf
  terraform_files/baremetal/variables-libvirt.tf
  terraform_files/baremetal_host/main.tf
  terraform_files/baremetal_host/variables.tf
  terraform_files/baremetal_infra_env/main.tf
  terraform_files/baremetal_infra_env/variables-libvirt.tf
  terraform_files/none/main.tf
  terraform_files/none/variables-libvirt.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api, e2e-metal-assisted-networking, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

NO-ISSUE: Retry to download minikube in case of failure (#1285)
  scripts/install_minikube.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: updated setup_capi_provider_agent_env BASE_DIR to build fixed a typo in HyperShift NODEPOOL_PLOURAL
  discovery-infra/test_infra/helper_classes/hypershift.py
  scripts/setup_capi_provider_agent_env.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: Install Golang when setting up capi-provider env (#1284)
  scripts/install_golang.sh
  scripts/setup_capi_provider_agent_env.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: updated setup_capi_provider_agent_env BASE_DIR to build (#1287)
  discovery-infra/test_infra/helper_classes/hypershift.py
  scripts/setup_capi_provider_agent_env.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: Test CI events - do not merge
  README.md
Due: none

NO-ISSUE: Install golang in the build container instead on the host Run the setup_capi_provider_agent_env.sh script with skipper
  Dockerfile.test-infra
  Makefile
  scripts/install_golang.sh
  scripts/setup_capi_provider_agent_env.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: Install golang in the build container instead on the host (#1290)
  Dockerfile.test-infra
  Makefile
  scripts/install_golang.sh
  scripts/setup_capi_provider_agent_env.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE - Tip users to run `make lint` on linter errors
  Makefile
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE - Tip users to run `make lint` on linter errors (#1291)
  Makefile
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-8300: Apply dual-stack configuration in a single step
  discovery-infra/test_infra/helper_classes/cluster.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-8300: Apply dual-stack configuration in a single step (#1292)
  discovery-infra/test_infra/helper_classes/cluster.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

dummy_branch
  discovery-infra/test_infra/helper_classes/cluster.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: updated the capi test (#1293)
  discovery-infra/test_infra/helper_classes/hypershift.py
  discovery-infra/tests/test_kube_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-8529 - Raise exception on ISO download failure
  discovery-infra/test_infra/utils/utils.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-8529 - Raise exception on ISO download failure (#1296)
  discovery-infra/test_infra/utils/utils.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: added default value to wait_for_nodes ready param
  discovery-infra/test_infra/helper_classes/hypershift.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Added eranco74 to OWNERS
  OWNERS
Due: none

NO-ISSUE: added default value to wait_for_nodes ready param (#1300)
  discovery-infra/test_infra/helper_classes/hypershift.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Added eranco74 to OWNERS (#1301)
  OWNERS
Due: none

MGMT-8564: Rename the UI deployment template
  Makefile
  scripts/deploy_ui.sh
  scripts/test_ui.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-8564: Rename the UI deployment template (#1302)
  Makefile
  scripts/deploy_ui.sh
  scripts/test_ui.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-8367 - Make global_configs part of tests package. Add download_logs package to lint and fix PEP8 violations.
  Makefile
  src/assisted_test_infra/download_logs/__init__.py
  src/assisted_test_infra/download_logs/__main__.py
  src/assisted_test_infra/download_logs/download_logs.py
  src/assisted_test_infra/test_infra/__init__.py
  src/assisted_test_infra/test_infra/consts/__init__.py
  src/assisted_test_infra/test_infra/consts/consts.py
  src/assisted_test_infra/test_infra/consts/env_defaults.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_config.py
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/cluster_deployment.py
  src/assisted_test_infra/test_infra/utils/__init__.py
  src/assisted_test_infra/test_infra/utils/global_variables/__init__.py
  src/tests/config/global_configs.py
  src/tests/global_variables/__init__.py
  src/tests/global_variables/default_variables.py
  src/tests/global_variables/env_variables_defaults.py
  src/tests/global_variables/triggers.py
  src/tests/test_e2e_install.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-8367 - Fix download_logs package. Fix vip_dhcp_allocation default value.
  Makefile
  scripts/download_logs.sh
  src/assisted_test_infra/download_logs/__init__.py
  src/assisted_test_infra/download_logs/__main__.py
  src/assisted_test_infra/download_logs/download_logs.py
  src/assisted_test_infra/test_infra/consts/env_defaults.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/node_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/vsphere_controller.py
  src/assisted_test_infra/test_infra/controllers/proxy_controller/proxy_controller.py
  src/assisted_test_infra/test_infra/utils/__init__.py
  src/assisted_test_infra/test_infra/utils/global_variables/env_variables_defaults.py
  src/tests/base_test.py
  src/tests/test_kube_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api, e2e-metal-assisted-networking, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

MGMT-8367 - Update project dir to PYTHONPATH
  Makefile
  scripts/utils.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Path conditions:
  e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  e2e-metal-assisted-olm: any of: .*operator.*
  e2e-metal-assisted-day2: any of: ^(day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-kube-api: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  e2e-metal-assisted-networking: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-kube-api: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-olm: any of: .*operator.*
