Repository openshift/assisted-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted, e2e-metal-assisted-day2, e2e-metal-assisted-day2-single-node, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, e2e-metal-single-node-with-worker-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-day2-single-node, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-odf, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso, ci/prow/e2e-metal-single-node-with-worker-live-iso

Path conditions:
  e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-day2-single-node: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-kube-api-late-binding-single-node: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-kube-api-net-suite: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-bond: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-single-node-live-iso: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-single-node-with-worker-live-iso: any of: .*bootstrap_in_place.*
  ci/prow/e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-bond: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-cnv: any of: .*operator.*
  ci/prow/e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-day2-single-node: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-kube-api-net-suite: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-odf: any of: .*operator.*
  ci/prow/e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-single-node-live-iso: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-single-node-with-worker-live-iso: any of: .*bootstrap_in_place.*

NO-ISSUE: upgrade pip (#2320)
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: upgrade pip (#2321)
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: upgrade pip
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: upgrade pip (#2322)
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-16318: test external platform
  README.md
  skipper.env
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_entity_config.py
  src/consts/consts.py
  src/consts/env_defaults.py
  src/tests/base_test.py
  src/tests/global_variables/env_variables_defaults.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

adjustments
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

don't set tf_platform with PLATFORM
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/tests/base_test.py
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-16319: Create OCI cluster nodes with iSCSI boot volume
  skipper.env
  src/assisted_test_infra/test_infra/helper_classes/config/base_oci_config.py
  src/tests/global_variables/env_variables_defaults.py
  terraform_files/oci/02_custom_image.tf
  terraform_files/oci/variables.tf
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

start LB when platform is external
  Makefile
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-16319: Create OCI cluster nodes with iSCSI boot volume (#2324)
  skipper.env
  src/assisted_test_infra/test_infra/helper_classes/config/base_oci_config.py
  src/tests/global_variables/env_variables_defaults.py
  terraform_files/oci/02_custom_image.tf
  terraform_files/oci/variables.tf
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: add avishayt as approver
  OWNERS
Due: none

external platform should use none terraform
  src/triggers/default_triggers.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: add avishayt as approver (#2325)
  OWNERS
Due: none

tidy up
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

fix lint
  src/triggers/default_triggers.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-16318: test external platform (#2323)
  Makefile
  README.md
  skipper.env
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_entity_config.py
  src/consts/consts.py
  src/consts/env_defaults.py
  src/tests/base_test.py
  src/tests/global_variables/env_variables_defaults.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

add the ability to update installer args
  skipper.env
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_infra_env_config.py
  src/assisted_test_infra/test_infra/helper_classes/infra_env.py
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

oci test iscsi on baremetal
  src/assisted_test_infra/test_infra/helper_classes/base_cluster.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/infra_env.py
  terraform_files/oci/03_compute.tf
  terraform_files/oci/variables.tf
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

MULTIARCH-3980: Add new Controller (as stub) for zVM (#2317)
  src/assisted_test_infra/test_infra/controllers/node_controllers/__init__.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/zvm_controller.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/tests/base_test.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: add the ability to update installer args
  README.md
  skipper.env
  src/assisted_test_infra/test_infra/helper_classes/base_cluster.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_infra_env_config.py
  src/assisted_test_infra/test_infra/helper_classes/infra_env.py
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

reformat
  src/assisted_test_infra/test_infra/helper_classes/infra_env.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: add the ability to update installer args (#2329)
  README.md
  skipper.env
  src/assisted_test_infra/test_infra/helper_classes/base_cluster.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_infra_env_config.py
  src/assisted_test_infra/test_infra/helper_classes/infra_env.py
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

revert ansible upgrade
  requirements.txt
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

use ansible dnf plugin to install packages
  ansible_files/roles/oci/setup_oci_for_test_infra/tasks/custom_manifests.yml
  requirements.txt
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

NO-ISSUE: use dnf instead of package plugin with ansible (#2331)
  ansible_files/roles/oci/setup_oci_for_test_infra/tasks/custom_manifests.yml
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-15695: check tf_platform to know if LB is required
  src/assisted_test_infra/test_infra/controllers/node_controllers/node_controller.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-15695: check tf_platform to know if LB is required (#2332)
  src/assisted_test_infra/test_infra/controllers/node_controllers/node_controller.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-assisted-bond, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-bond, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite, ci/prow/e2e-metal-single-node-live-iso

Add function name caller to test-infra logs
  src/service_client/logger.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

enable serial console in OCI to ease debugging
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/assisted-additional-config.j2
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-15695: Use oci external integration
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/assisted-additional-config.j2
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

use KERNEL_ARGUMENTS
  README.md
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/assisted-additional-config.j2
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-16319: enable serial console in OCI to ease debugging (#2334)
  README.md
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/assisted-additional-config.j2
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

Add function name caller to test-infra logs (#2333)
  src/service_client/logger.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

MGMT-15695: Use oci external integration (#2335)
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/assisted-additional-config.j2
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

Revert "Add function name caller to test-infra logs (#2333)"
  src/service_client/logger.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

Fix thread id in test-infra.log file
  src/service_client/logger.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

Fix thread id in test-infra.log file (#2338)
  src/service_client/logger.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

Use plural vips in test environment variables
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso

Add cluster as callback to fixture cluster
  dockerfile.assisted-test-infra
  src/tests/base_test.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-late-binding-single-node, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-late-binding-single-node, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-single-node-live-iso
