Repository openshift/assisted-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted-4-18, e2e-metal-assisted-day2-4-18, e2e-metal-assisted-day2-sno-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-ipv6-4-18, e2e-metal-assisted-ipv4v6-4-18, e2e-metal-assisted-none-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-assisted-static-ip-suite-4-18, e2e-metal-assisted-bond-4-18, e2e-metal-sno-live-iso, e2e-metal-sno-with-worker-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-bond-4-18, ci/prow/e2e-metal-assisted-day2-4-18, ci/prow/e2e-metal-assisted-day2-sno-4-18, ci/prow/e2e-metal-assisted-ipv4v6-4-18, ci/prow/e2e-metal-assisted-ipv6-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-assisted-none-4-18, ci/prow/e2e-metal-assisted-static-ip-suite-4-18, ci/prow/e2e-metal-sno-live-iso, ci/prow/e2e-metal-sno-with-worker-live-iso

Path conditions:
  e2e-metal-assisted-4-18: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-day2-4-18: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-day2-sno-4-18: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-kube-api-late-binding-sno-4-18: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-ipv6-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-ipv4v6-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-none-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-kube-api-net-suite-4-18: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-static-ip-suite-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-bond-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-sno-live-iso: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-sno-with-worker-live-iso: any of: .*bootstrap_in_place.*
  ci/prow/e2e-metal-assisted-4-18: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-bond-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-day2-4-18: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-day2-sno-4-18: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-ipv4v6-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-ipv6-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-none-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-static-ip-suite-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-sno-live-iso: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-sno-with-worker-live-iso: any of: .*bootstrap_in_place.*

NO-ISSUE: Update oci e2e test
  Makefile
  ansible_files/oci_generic_create_ci_machine_playbook.yml
  ansible_files/oci_generic_destroy_ci_machine_playbook.yml
  ansible_files/roles/oci/cleanup_resources/defaults/main.yml
  ansible_files/roles/oci/create_infra/tasks/main.yml
  ansible_files/roles/oci/setup_oci_for_test_infra/defaults/main.yml
  ansible_files/roles/oci/setup_oci_for_test_infra/tasks/custom_manifests.yml
  ansible_files/roles/oci/setup_oci_for_test_infra/tasks/main.yml
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/assisted-additional-config.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/machineconfig-ccm.yml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/machineconfig-csi.yml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-ccm.yml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-csi.yml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/vars/main.yml
  ansible_files/vars/standalone_oci_sample.yml
  scripts/deploy_assisted_service.sh
  skipper.yaml
  src/assisted_test_infra/test_infra/controllers/__init__.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/__init__.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/node.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/oci_api_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/oci_controller.py
  src/assisted_test_infra/test_infra/helper_classes/base_cluster.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/utils/manifests.py
  terraform_files/oci-ci-machine/00_main.tf
  terraform_files/oci-ci-machine/01_networking.tf
  terraform_files/oci-ci-machine/02_compute.tf
  terraform_files/oci-ci-machine/02_network_security_groups.tf
  terraform_files/oci-ci-machine/03_compute.tf
  terraform_files/oci-ci-machine/output.tf
  terraform_files/oci-ci-machine/variables.tf
  terraform_files/oci/00_main.tf
  terraform_files/oci/01_network_security_groups.tf
  terraform_files/oci/02_custom_image.tf
  terraform_files/oci/03_compute.tf
  terraform_files/oci/04_load_balancer.tf
  terraform_files/oci/05_dns.tf
  terraform_files/oci/variables.tf
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-ipv6-4-18, e2e-metal-assisted-ipv4v6-4-18, e2e-metal-assisted-none-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-assisted-static-ip-suite-4-18, e2e-metal-assisted-bond-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-bond-4-18, ci/prow/e2e-metal-assisted-ipv4v6-4-18, ci/prow/e2e-metal-assisted-ipv6-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-assisted-none-4-18, ci/prow/e2e-metal-assisted-static-ip-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-19949: Update Assisted Test Infra Default Service Image Tag
  Makefile
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-19949: Update Assisted Test Infra Default Service Image Tag (#2633)
  Makefile
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

NO-ISSUE: Trigger new omage promotiom to ocm-2.14 image stream
  README.md
Due: none

NO-ISSUE: Trigger new omage promotiom to ocm-2.14 image stream (#2635)
  README.md
Due: none

Revert "NO-ISSUE: Trigger new omage promotiom to ocm-2.14 image stream (#2635)"
  README.md
Due: none

Revert "NO-ISSUE: Trigger new omage promotiom to ocm-2.14 image stream (#2635)" (#2636)
  README.md
Due: none

starting to remove the reference for high_availability_mode
  Makefile
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_entity_config.py
  src/consts/consts.py
  src/consts/env_defaults.py
  src/tests/global_variables/env_variables_defaults.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-19419: remove all reference of HighAvailabilityMode
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/consts/consts.py
  src/consts/env_defaults.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Fix redfish validation for disk inserted
  src/assisted_test_infra/test_infra/controllers/node_controllers/redfish_controller.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-ipv6-4-18, e2e-metal-assisted-ipv4v6-4-18, e2e-metal-assisted-none-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-assisted-static-ip-suite-4-18, e2e-metal-assisted-bond-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-bond-4-18, ci/prow/e2e-metal-assisted-ipv4v6-4-18, ci/prow/e2e-metal-assisted-ipv6-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-assisted-none-4-18, ci/prow/e2e-metal-assisted-static-ip-suite-4-18, ci/prow/e2e-metal-sno-live-iso

adding back some high_availability_mode so it would be compatible with assisted-service
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_entity_config.py
  src/consts/consts.py
  src/tests/global_variables/env_variables_defaults.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Fix redfish validation for disk inserted (#2637)
  src/assisted_test_infra/test_infra/controllers/node_controllers/redfish_controller.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-ipv6-4-18, e2e-metal-assisted-ipv4v6-4-18, e2e-metal-assisted-none-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-assisted-static-ip-suite-4-18, e2e-metal-assisted-bond-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-bond-4-18, ci/prow/e2e-metal-assisted-ipv4v6-4-18, ci/prow/e2e-metal-assisted-ipv6-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-assisted-none-4-18, ci/prow/e2e-metal-assisted-static-ip-suite-4-18, ci/prow/e2e-metal-sno-live-iso

NO-ISSUE: Update README with testing image instructions, TOC
  README.md
Due: none

NO-ISSUE: Update oci e2e test (#2573)
  Makefile
  ansible_files/oci_generic_create_ci_machine_playbook.yml
  ansible_files/oci_generic_destroy_ci_machine_playbook.yml
  ansible_files/roles/oci/cleanup_resources/defaults/main.yml
  ansible_files/roles/oci/create_infra/tasks/main.yml
  ansible_files/roles/oci/setup_oci_for_test_infra/defaults/main.yml
  ansible_files/roles/oci/setup_oci_for_test_infra/tasks/custom_manifests.yml
  ansible_files/roles/oci/setup_oci_for_test_infra/tasks/main.yml
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/assisted-additional-config.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/machineconfig-ccm.yml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/machineconfig-csi.yml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-ccm.yml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/templates/oci-csi.yml.j2
  ansible_files/roles/oci/setup_oci_for_test_infra/vars/main.yml
  ansible_files/vars/standalone_oci_sample.yml
  scripts/deploy_assisted_service.sh
  skipper.yaml
  src/assisted_test_infra/test_infra/controllers/__init__.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/__init__.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/node.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/oci_api_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/oci_controller.py
  src/assisted_test_infra/test_infra/helper_classes/base_cluster.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/utils/manifests.py
  terraform_files/oci-ci-machine/00_main.tf
  terraform_files/oci-ci-machine/01_networking.tf
  terraform_files/oci-ci-machine/02_compute.tf
  terraform_files/oci-ci-machine/02_network_security_groups.tf
  terraform_files/oci-ci-machine/03_compute.tf
  terraform_files/oci-ci-machine/output.tf
  terraform_files/oci-ci-machine/variables.tf
  terraform_files/oci/00_main.tf
  terraform_files/oci/01_network_security_groups.tf
  terraform_files/oci/02_custom_image.tf
  terraform_files/oci/03_compute.tf
  terraform_files/oci/04_load_balancer.tf
  terraform_files/oci/05_dns.tf
  terraform_files/oci/variables.tf
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-ipv6-4-18, e2e-metal-assisted-ipv4v6-4-18, e2e-metal-assisted-none-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-assisted-static-ip-suite-4-18, e2e-metal-assisted-bond-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-bond-4-18, ci/prow/e2e-metal-assisted-ipv4v6-4-18, ci/prow/e2e-metal-assisted-ipv6-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-assisted-none-4-18, ci/prow/e2e-metal-assisted-static-ip-suite-4-18, ci/prow/e2e-metal-sno-live-iso

adding back some high_availability_mode so it would be compatible with assisted-service
  Makefile
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_entity_config.py
  src/consts/consts.py
  src/tests/global_variables/env_variables_defaults.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Adjust OCI to work with UI
  src/tests/test_targets.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Mgmt-19419: replace HighAvailabilityMode with ControlPlaneCount - phase 1 (#2632)
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_entity_config.py
  src/consts/consts.py
  src/consts/env_defaults.py
  src/tests/global_variables/env_variables_defaults.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Adjust OCI to work with UI (#2639)
  src/tests/test_targets.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-20006: Add OCP 4.19 version and set 4.18 is default
  src/consts/consts.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-20006: Add OCP 4.19 version and set 4.18 is default (#2642)
  src/consts/consts.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Update control plane count from trigger
  src/consts/consts.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Update control plane count from trigger (#2641)
  src/consts/consts.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

test
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_cluster_config.py
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-19831: Enable automatic testing user-managed load balancer with vSphere
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_cluster_config.py
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-19831: Enable automatic testing user-managed load balancer with vSphere (#2644)
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_cluster_config.py
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-19831: Fix platform condition for vSphere testing with umlb
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-19831: Fix platform condition for vSphere testing with umlb (#2645)
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-19831: Provide only one machine network for vSphere umlb
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-19831: Provide only one machine network for vSphere umlb (#2646)
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MULTIARCH-5357: Add libvirt and install on s390x KVM a five node cluster.
  Dockerfile.assisted-test-infra
  Makefile
  README.md
  scripts/install_environment.sh
  skipper.env
  src/assisted_test_infra/test_infra/controllers/node_controllers/__init__.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/kvm_s390x_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/node_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/zvm_controller.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_terraform_config.py
  src/assisted_test_infra/test_infra/helper_classes/entity.py
  src/assisted_test_infra/test_infra/helper_classes/infra_env.py
  src/assisted_test_infra/test_infra/helper_classes/nodes.py
  src/assisted_test_infra/test_infra/tools/assets.py
  src/consts/consts.py
  src/consts/env_defaults.py
  src/tests/base_test.py
  src/tests/global_variables/env_variables_defaults.py
  src/tests/test_targets.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-ipv6-4-18, e2e-metal-assisted-ipv4v6-4-18, e2e-metal-assisted-none-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-assisted-static-ip-suite-4-18, e2e-metal-assisted-bond-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-bond-4-18, ci/prow/e2e-metal-assisted-ipv4v6-4-18, ci/prow/e2e-metal-assisted-ipv6-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-assisted-none-4-18, ci/prow/e2e-metal-assisted-static-ip-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Update src/assisted_test_infra/test_infra/controllers/node_controllers/kvm_s390x_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/kvm_s390x_controller.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-ipv6-4-18, e2e-metal-assisted-ipv4v6-4-18, e2e-metal-assisted-none-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-assisted-static-ip-suite-4-18, e2e-metal-assisted-bond-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-bond-4-18, ci/prow/e2e-metal-assisted-ipv4v6-4-18, ci/prow/e2e-metal-assisted-ipv6-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-assisted-none-4-18, ci/prow/e2e-metal-assisted-static-ip-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Update src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/node_controller.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-ipv6-4-18, e2e-metal-assisted-ipv4v6-4-18, e2e-metal-assisted-none-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-assisted-static-ip-suite-4-18, e2e-metal-assisted-bond-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-bond-4-18, ci/prow/e2e-metal-assisted-ipv4v6-4-18, ci/prow/e2e-metal-assisted-ipv6-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-assisted-none-4-18, ci/prow/e2e-metal-assisted-static-ip-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Update src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/kvm_s390x_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/node_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_terraform_config.py
  src/assisted_test_infra/test_infra/helper_classes/infra_env.py
  src/assisted_test_infra/test_infra/helper_classes/nodes.py
  src/tests/base_test.py
  src/tests/test_targets.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-ipv6-4-18, e2e-metal-assisted-ipv4v6-4-18, e2e-metal-assisted-none-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-assisted-static-ip-suite-4-18, e2e-metal-assisted-bond-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-bond-4-18, ci/prow/e2e-metal-assisted-ipv4v6-4-18, ci/prow/e2e-metal-assisted-ipv6-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-assisted-none-4-18, ci/prow/e2e-metal-assisted-static-ip-suite-4-18, ci/prow/e2e-metal-sno-live-iso

NO-ISSUE: Fix running two targets when running make deploy_nodes
  Makefile
  src/tests/test_targets.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

NO-ISSUE: Fix running two targets when running make deploy_nodes (#2649)
  Makefile
  src/tests/test_targets.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Update src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/__init__.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/kvm_s390x_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/node_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_terraform_config.py
  src/assisted_test_infra/test_infra/helper_classes/entity.py
  src/assisted_test_infra/test_infra/helper_classes/infra_env.py
  src/assisted_test_infra/test_infra/helper_classes/nodes.py
  src/assisted_test_infra/test_infra/tools/assets.py
  src/tests/base_test.py
  src/tests/test_targets.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-ipv6-4-18, e2e-metal-assisted-ipv4v6-4-18, e2e-metal-assisted-none-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-assisted-static-ip-suite-4-18, e2e-metal-assisted-bond-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-bond-4-18, ci/prow/e2e-metal-assisted-ipv4v6-4-18, ci/prow/e2e-metal-assisted-ipv6-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-assisted-none-4-18, ci/prow/e2e-metal-assisted-static-ip-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Fix ip static validations. static configuration should support case when no address assigned.
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
Due: e2e-metal-assisted-4-18, e2e-metal-assisted-kube-api-late-binding-sno-4-18, e2e-metal-assisted-kube-api-net-suite-4-18, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso
