Repository openshift/assisted-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, e2e-metal-assisted-day2-4-19, e2e-metal-assisted-day2-sno-4-19, e2e-metal-sno-with-worker-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-bond-4-18, ci/prow/e2e-metal-assisted-day2-4-18, ci/prow/e2e-metal-assisted-day2-sno-4-18, ci/prow/e2e-metal-assisted-ipv4v6-4-18, ci/prow/e2e-metal-assisted-ipv6-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-assisted-none-4-18, ci/prow/e2e-metal-assisted-static-ip-suite-4-18, ci/prow/e2e-metal-sno-live-iso, ci/prow/e2e-metal-sno-with-worker-live-iso

e2e-metal-assisted-4-19:
  cluster: build05
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'OPENSHIFT_VERSION=4.19
  
        '
    workflow: assisted-ofcir-baremetal

e2e-metal-assisted-ha-kube-api-4-19:
  cluster: build05
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'KUBE_API=true
  
        ENABLE_KUBE_API=true
  
        ISO_IMAGE_TYPE=minimal-iso
  
        IPv4=true
  
        TEST_FUNC=test_kubeapi
  
        MAKEFILE_TARGET="test_kube_api_parallel"
  
        OPENSHIFT_VERSION=4.19
  
        '
  ...

e2e-metal-sno-live-iso:
  steps:
    cluster_profile: packet-sno
    workflow: baremetalds-sno

e2e-metal-assisted-day2-4-19:
  cluster: build05
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'TEST_FUNC=test_deploy_day2_nodes_cloud
  
        OPENSHIFT_VERSION=4.19
  
        '
    workflow: assisted-ofcir-baremetal

e2e-metal-assisted-day2-sno-4-19:
  cluster: build05
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'NUM_MASTERS=1
  
        NUM_WORKERS=0
  
        TEST_FUNC=test_deploy_day2_nodes_cloud
  
        OPENSHIFT_VERSION=4.19
  
        '
    workflow: assisted-ofcir-baremetal

e2e-metal-sno-with-worker-live-iso:
  steps:
    cluster_profile: packet-sno
    env:
      PACKET_PLAN: c3.medium.x86
      TEST_FUNC: test_bip_add_worker
    workflow: baremetalds-sno

ci/prow/e2e-metal-assisted-4-18:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci.openshift.io/generator: prowgen
    job-release: '4.18'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-metal-assisted-bond-4-18:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci.openshift.io/generator: prowgen
    job-release: '4.18'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-metal-assisted-day2-4-18:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci.openshift.io/generator: prowgen
    job-release: '4.18'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-metal-assisted-day2-sno-4-18:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet-edge
    ci-operator.openshift.io/cloud-cluster-profile: packet-assisted
    ci.openshift.io/generator: prowgen
    job-release: '4.18'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

iptables fixture - add all nodes ipv4 (#2708)
  src/tests/base_test.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-21173: Add new operators to virtualization bundle jobs
  src/consts/olm_operators.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Baremetal adapter controller on cleanup (#2709)
  src/assisted_test_infra/test_infra/controllers/node_controllers/adapter_controller.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-bond-4-18, ci/prow/e2e-metal-assisted-ipv4v6-4-18, ci/prow/e2e-metal-assisted-ipv6-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-assisted-none-4-18, ci/prow/e2e-metal-assisted-static-ip-suite-4-18, ci/prow/e2e-metal-sno-live-iso

add option to create clusters with 2 master nodes configuration for TNA
  src/consts/consts.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

support arbiter node for TNA Clusters
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/node.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/node_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_nodes_config.py
  src/assisted_test_infra/test_infra/helper_classes/nodes.py
  src/consts/consts.py
  src/triggers/default_triggers.py
  terraform_files/baremetal/main.tf
  terraform_files/baremetal/variables-libvirt.tf
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-bond-4-18, ci/prow/e2e-metal-assisted-ipv4v6-4-18, ci/prow/e2e-metal-assisted-ipv6-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-assisted-none-4-18, ci/prow/e2e-metal-assisted-static-ip-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-21158: Enable operator bundle selection
  README.md
  skipper.env
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_cluster_config.py
  src/service_client/assisted_service_api.py
  src/tests/conftest.py
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-21158: Enable operator bundle selection (#2713)
  README.md
  skipper.env
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_cluster_config.py
  src/service_client/assisted_service_api.py
  src/tests/conftest.py
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-14822: Add MetalLB operator
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_cluster_config.py
  src/consts/__init__.py
  src/tests/global_variables/env_variables_defaults.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-14822: Add MetalLB operator (#2706)
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_cluster_config.py
  src/consts/__init__.py
  src/tests/global_variables/env_variables_defaults.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

NO-ISSUE: Avoid deploying the UI in CI jobs
  scripts/deploy_ui.sh
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-20470: Add support for TNA clusters
  README.md
  scripts/deploy_assisted_service.sh
  skipper.env
  src/assisted_test_infra/test_infra/controllers/node_controllers/adapter_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/node.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/node_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_nodes_config.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_terraform_config.py
  src/assisted_test_infra/test_infra/helper_classes/nodes.py
  src/consts/consts.py
  src/consts/env_defaults.py
  src/consts/resources.py
  src/tests/global_variables/env_variables_defaults.py
  src/triggers/default_triggers.py
  terraform_files/baremetal/main.tf
  terraform_files/baremetal/variables-libvirt.tf
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-bond-4-18, ci/prow/e2e-metal-assisted-ipv4v6-4-18, ci/prow/e2e-metal-assisted-ipv6-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-assisted-none-4-18, ci/prow/e2e-metal-assisted-static-ip-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-20470: Add support for TNA clusters (#2716)
  README.md
  scripts/deploy_assisted_service.sh
  skipper.env
  src/assisted_test_infra/test_infra/controllers/node_controllers/adapter_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/node.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/node_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_nodes_config.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_terraform_config.py
  src/assisted_test_infra/test_infra/helper_classes/nodes.py
  src/consts/consts.py
  src/consts/env_defaults.py
  src/consts/resources.py
  src/tests/global_variables/env_variables_defaults.py
  src/triggers/default_triggers.py
  terraform_files/baremetal/main.tf
  terraform_files/baremetal/variables-libvirt.tf
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-bond-4-18, ci/prow/e2e-metal-assisted-ipv4v6-4-18, ci/prow/e2e-metal-assisted-ipv6-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-assisted-none-4-18, ci/prow/e2e-metal-assisted-static-ip-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-21416: Install fuse3 in heterogeneous workflow
  ansible_files/README.md
  ansible_files/roles/setup_sftp_share/tasks/main.yml
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-21416: Install fuse3 in heterogeneous workflow (#2719)
  ansible_files/README.md
  ansible_files/roles/setup_sftp_share/tasks/main.yml
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

add fix to some typos in regarding to tna cluster count and node count
  src/assisted_test_infra/test_infra/utils/kubeapi_utils.py
  src/assisted_test_infra/test_infra/utils/utils.py
  terraform_files/baremetal/variables-libvirt.tf
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-bond-4-18, ci/prow/e2e-metal-assisted-ipv4v6-4-18, ci/prow/e2e-metal-assisted-ipv6-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-assisted-none-4-18, ci/prow/e2e-metal-assisted-static-ip-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Add support for ai-chatbot
  skipper.env
  src/chatbot_client.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

NO-ISSUE: Add yoavsc0302 to OWNERS_ALIASES file
  OWNERS
Due: none

NO-ISSUE: Pass arbiter_count to AgentClusterInstall
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/agent_cluster_install.py
  src/tests/test_kube_api.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

add support to ex LB in testinfra
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/tests/test_targets.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

NO-ISSUE: Add yoavsc0302 to OWNERS_ALIASES file (#2721)
  OWNERS
Due: none

NO-ISSUE: Pass arbiter_count to AgentClusterInstall (#2722)
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/agent_cluster_install.py
  src/tests/test_kube_api.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-21280: Add IP change script
  Makefile
  scripts/sno-ip-change/README.md
  scripts/sno-ip-change/ip-change.sh
  scripts/sno-ip-change/lib/cluster.sh
  scripts/sno-ip-change/lib/crypto.sh
  scripts/sno-ip-change/lib/dns.sh
  scripts/sno-ip-change/lib/mc.sh
  scripts/sno-ip-change/lib/network.sh
  scripts/sno-ip-change/lib/recert.sh
  scripts/sno-ip-change/lib/ssh.sh
  scripts/sno-ip-change/lib/util.sh
  scripts/sno-ip-change/remote/node-actions.sh
  scripts/sno-ip-change/test-ip-change.sh
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-20807: Fix IPv6 kube API jobs (#2691)
  src/tests/test_kube_api.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

NO-ISSUE: Add Primary IP parameter for secondary ip change script to simulate actual ipv6 uplink -> ipv4 uplink change
  scripts/sno-ip-change/README.md
  scripts/sno-ip-change/flows/secondary-ip-change.sh
  scripts/sno-ip-change/remote/dual-node-actions.sh
  scripts/sno-ip-change/tests/test-secondary-ip-change.sh
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Adds gw and dns params
  scripts/sno-ip-change/README.md
  scripts/sno-ip-change/flows/dual-ip-change.sh
  scripts/sno-ip-change/flows/secondary-ip-change.sh
  scripts/sno-ip-change/flows/single-ip-change.sh
  scripts/sno-ip-change/lib/network.sh
  scripts/sno-ip-change/remote/dual-node-actions.sh
  scripts/sno-ip-change/remote/secondary-node-actions.sh
  scripts/sno-ip-change/remote/single-node-actions.sh
  scripts/sno-ip-change/tests/test-dual-ip-change.sh
  scripts/sno-ip-change/tests/test-secondary-ip-change.sh
  scripts/sno-ip-change/tests/test-single-ip-change.sh
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Added gw and dns params to ip change scripts
  scripts/sno-ip-change/README.md
  scripts/sno-ip-change/flows/dual-ip-change.sh
  scripts/sno-ip-change/flows/secondary-ip-change.sh
  scripts/sno-ip-change/flows/single-ip-change.sh
  scripts/sno-ip-change/lib/network.sh
  scripts/sno-ip-change/remote/dual-node-actions.sh
  scripts/sno-ip-change/remote/secondary-node-actions.sh
  scripts/sno-ip-change/remote/single-node-actions.sh
  scripts/sno-ip-change/tests/test-dual-ip-change.sh
  scripts/sno-ip-change/tests/test-secondary-ip-change.sh
  scripts/sno-ip-change/tests/test-single-ip-change.sh
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Added gw and dns params to ip change scripts (#2733)
  scripts/sno-ip-change/README.md
  scripts/sno-ip-change/flows/dual-ip-change.sh
  scripts/sno-ip-change/flows/secondary-ip-change.sh
  scripts/sno-ip-change/flows/single-ip-change.sh
  scripts/sno-ip-change/lib/network.sh
  scripts/sno-ip-change/remote/dual-node-actions.sh
  scripts/sno-ip-change/remote/secondary-node-actions.sh
  scripts/sno-ip-change/remote/single-node-actions.sh
  scripts/sno-ip-change/tests/test-dual-ip-change.sh
  scripts/sno-ip-change/tests/test-secondary-ip-change.sh
  scripts/sno-ip-change/tests/test-single-ip-change.sh
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

add vsphere integration with test-infra
  src/assisted_test_infra/test_infra/tools/terraform_utils.py
  src/tests/conftest.py
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

add job descriptions for the github ci jobs bot
  docs/job-descriptions.md
Due: none

add job descriptions for the github ci jobs bot (#2740)
  docs/job-descriptions.md
Due: none

[release-ocm-2.15] NO-ISSUE: Update assisted-service image tag to ocm-2.15
  Makefile
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

[release-ocm-2.15] NO-ISSUE: Reduce owners list for release-2.15 branch
  OWNERS
Due: none

[release-ocm-2.15] NO-ISSUE: Update assisted-service image tag to ocm-2.15 (#2744)
  Makefile
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

[release-ocm-2.15] NO-ISSUE: Reduce owners list for release-2.15 branch (#2745)
  OWNERS
Due: none

UEFI boot support for libvirt Current installtion boot set to native BIOS. The code allows to users boot libvirt nodes from UEFI
  README.md
  scripts/install_environment.sh
  skipper.env
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_terraform_config.py
  src/consts/env_defaults.py
  src/tests/global_variables/env_variables_defaults.py
  src/virsh_cleanup/virsh_cleanup.py
  terraform_files/baremetal/main.tf
  terraform_files/baremetal/variables-libvirt.tf
  terraform_files/baremetal_host/main.tf
  terraform_files/baremetal_host/variables.tf
  terraform_files/baremetal_infra_env/main.tf
  terraform_files/baremetal_infra_env/variables-libvirt.tf
  terraform_files/none/main.tf
  terraform_files/none/variables-libvirt.tf
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-bond-4-18, ci/prow/e2e-metal-assisted-ipv4v6-4-18, ci/prow/e2e-metal-assisted-ipv6-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-assisted-none-4-18, ci/prow/e2e-metal-assisted-static-ip-suite-4-18, ci/prow/e2e-metal-sno-live-iso

MGMT-22144: Pin community.general<12.0.0 for ansible compatibility
  requirements.txt
Due: e2e-metal-assisted-4-19, e2e-metal-assisted-ha-kube-api-4-19, e2e-metal-sno-live-iso, ci/prow/e2e-metal-assisted-4-18, ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18, ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18, ci/prow/e2e-metal-sno-live-iso

Path conditions:
  e2e-metal-assisted-4-19: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-ha-kube-api-4-19: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-sno-live-iso: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-day2-4-19: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-day2-sno-4-19: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-sno-with-worker-live-iso: any of: .*bootstrap_in_place.*
  ci/prow/e2e-metal-assisted-4-18: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-bond-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-day2-4-18: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-day2-sno-4-18: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-ipv4v6-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-ipv6-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-kube-api-late-binding-sno-4-18: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-kube-api-net-suite-4-18: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-assisted-none-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-static-ip-suite-4-18: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-sno-live-iso: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  ci/prow/e2e-metal-sno-with-worker-live-iso: any of: .*bootstrap_in_place.*
