Repository openshift/assisted-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted, e2e-metal-assisted-olm, e2e-metal-assisted-day2, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api, e2e-metal-assisted-networking, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-olm

e2e-metal-assisted:
  steps:
    cluster_profile: packet-assisted
    env:
      TEST_SUITE: minimal
    workflow: baremetalds-assisted-install

e2e-metal-assisted-olm:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'TEST_FUNC=test_olm_operator
  
        '
      TEST_SUITE: minimal
    workflow: baremetalds-assisted-install

e2e-metal-assisted-day2:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'TEST_FUNC=test_deploy_day2_nodes_cloud
  
        '
      TEST_SUITE: minimal
    workflow: baremetalds-assisted-install

e2e-metal-assisted-ipv6:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'IPv6=yes
  
        IPv4=no
  
        '
      TEST_SUITE: minimal
    workflow: baremetalds-assisted-install

e2e-metal-assisted-ipv4v6:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'IPv6=yes
  
        IPv4=yes
  
        '
      TEST_SUITE: minimal
    workflow: baremetalds-assisted-install

e2e-metal-assisted-none:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'PLATFORM=none
  
        '
      TEST_SUITE: minimal
    workflow: baremetalds-assisted-install

e2e-metal-assisted-kube-api:
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'NUM_MASTERS=1
  
        NUM_WORKERS=0
  
        IPv6=yes
  
        IPv4=no
  
        PROXY=yes
  
        ADDITIONAL_PARAMS="--with-static-network-config"
  
        ISO_IMAGE_TYPE=minimal-iso
  
        KUBE_API=yes
  
        ENABLE_KUBE_API=true
  
  ...

e2e-metal-assisted-networking:
  optional: true
  steps:
    cluster_profile: packet-assisted
    env:
      ASSISTED_CONFIG: 'TEST_FUNC=test_networking
  
        '
      TEST_SUITE: minimal
    workflow: baremetalds-assisted-install

ci/prow/e2e-metal-assisted:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-metal-assisted-kube-api:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-metal-assisted-none:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

MGMT-8423: remove hack for disable day2 validation (#1315)
  README.md
Due: none

NO-ISSUE: Get minikube logs in case it failed to start properly
  scripts/run_minikube.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Restart libvirtd in case minikube failed to start properly
  scripts/run_minikube.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: checkout_branch should refer to the branch name in origin (#1331)
  scripts/setup_capi_provider_agent_env.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: Get minikube logs in case it failed to start properly (#1332)
  scripts/run_minikube.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: don't fail the run_minikube script in case of failure to get the logs (#1333)
  scripts/run_minikube.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-8707: Do not merge - debugging swtpm issues
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Fixing none-platform network interfaces
  terraform_files/baremetal/main.tf
  terraform_files/baremetal_host/main.tf
  terraform_files/baremetal_host/variables.tf
  terraform_files/baremetal_infra_env/main.tf
  terraform_files/none/main.tf
  terraform_files/none/variables-libvirt.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api, e2e-metal-assisted-networking, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

Fixing none-platform network interfaces (#1339)
  terraform_files/baremetal/main.tf
  terraform_files/baremetal_host/main.tf
  terraform_files/baremetal_host/variables.tf
  terraform_files/baremetal_infra_env/main.tf
  terraform_files/none/main.tf
  terraform_files/none/variables-libvirt.tf
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api, e2e-metal-assisted-networking, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

MGMT-8705: Collect capi-provider-agent logs Collect CRs from all namespaces
  Makefile
  scripts/download_logs.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7555 - Make package form virsh_cleanup and remove duplicated file. Create target for destroying and creating onprem env
  Makefile
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
  src/delete_nodes.py
  src/deprecated_utils.py
  src/service_client/client_factory.py
  src/virsh_cleanup.py
  src/virsh_cleanup/__init__.py
  src/virsh_cleanup/__main__.py
  src/virsh_cleanup/virsh_cleanup.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api, e2e-metal-assisted-networking, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

MGMT-8705: Collect capi-provider-agent logs (#1340)
  Makefile
  scripts/download_logs.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7555 - Make package form virsh_cleanup and remove duplicated file. (#1329)
  Makefile
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
  src/delete_nodes.py
  src/deprecated_utils.py
  src/service_client/client_factory.py
  src/virsh_cleanup.py
  src/virsh_cleanup/__init__.py
  src/virsh_cleanup/__main__.py
  src/virsh_cleanup/virsh_cleanup.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api, e2e-metal-assisted-networking, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

Use skipper interactive env-var
  Jenkinsfile
  Jenkinsfile.download_all_logs
  Jenkinsfile.download_logs
  Jenkinsfile.test
  Makefile
  scripts/deploy_assisted_service.sh
  scripts/deploy_ui.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Use skipper interactive env-var (#1341)
  Jenkinsfile
  Jenkinsfile.download_all_logs
  Jenkinsfile.download_logs
  Jenkinsfile.test
  Makefile
  scripts/deploy_assisted_service.sh
  scripts/deploy_ui.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: Fix collect_kube_api_resources to get all CRs in the array
  scripts/download_logs.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

install go on Py39 Dockerfile
  Dockerfile.assisted-test-infra
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

install go on Py39 Dockerfile (#1344)
  Dockerfile.assisted-test-infra
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-8769 - Fail olm test on operator failure. (#1328)
  src/assisted_test_infra/test_infra/helper_classes/config/base_config.py
  src/assisted_test_infra/test_infra/utils/operators_utils.py
  src/consts/olm_operators.py
  src/tests/base_test.py
  src/tests/test_e2e_install.py
Due: e2e-metal-assisted, e2e-metal-assisted-olm, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-olm

fix SNO installations always picking OCP 4.8
  src/tests/global_variables/triggers.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: Fix collect_kube_api_resources to get all CRs in the array (#1343)
  scripts/download_logs.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Use interactive mode when running skipper externally
  scripts/deploy_assisted_service.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Use interactive mode when running skipper externally (#1346)
  scripts/deploy_assisted_service.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-8666 - Fix onprem logs destination in prow
  scripts/download_logs.sh
  src/junit_log_parser.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Use Python 3.9 image for assisted-test-infra
  Dockerfile.assisted-test-infra
  Dockerfile.test-infra
  Makefile
  requirements-39.txt
  requirements.txt
  skipper.env
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Assign pip packages maintainers when bumping dependencies
  .github/dependabot.yml
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-8666 - Fix onprem logs destination in prow (#1347)
  scripts/download_logs.sh
  src/junit_log_parser.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Use Python 3.9 image for assisted-test-infra (#1348)
  Dockerfile.assisted-test-infra
  Dockerfile.test-infra
  Makefile
  requirements-39.txt
  requirements.txt
  skipper.env
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Assign pip packages maintainers when bumping dependencies (#1349)
  .github/dependabot.yml
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

fix SNO installations always picking OCP 4.8 (#1345)
  src/tests/global_variables/triggers.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE - Fix type checking on python 3.9
  src/assisted_test_infra/test_infra/helper_classes/config/base_config.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE - Fix type checking on python 3.9 (#1351)
  src/assisted_test_infra/test_infra/helper_classes/config/base_config.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-8520 - Clear infraenv unused resources on test teardown
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/infra_env.py
  src/tests/base_test.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-8520 - Clear infraenv unused resources on test teardown (#1353)
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/infra_env.py
  src/tests/base_test.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-8470 - Use logger.log instead of logging library
  src/assisted_test_infra/test_infra/controllers/iptables.py
  src/assisted_test_infra/test_infra/controllers/nat_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/node.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/ssh.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
  src/assisted_test_infra/test_infra/controllers/proxy_controller/proxy_controller.py
  src/assisted_test_infra/test_infra/helper_classes/hypershift.py
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/agent.py
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/agent_cluster_install.py
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/cluster_deployment.py
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/cluster_image_set.py
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/common.py
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/infraenv.py
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/nmstate_config.py
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/secret.py
  src/assisted_test_infra/test_infra/helper_classes/nodes.py
  src/assisted_test_infra/test_infra/tools/assets.py
  src/assisted_test_infra/test_infra/tools/concurrently.py
  src/assisted_test_infra/test_infra/tools/terraform_utils.py
  src/assisted_test_infra/test_infra/utils/kubeapi_utils.py
  src/assisted_test_infra/test_infra/utils/logs_utils.py
  src/assisted_test_infra/test_infra/utils/terraform_util.py
  src/assisted_test_infra/test_infra/utils/utils.py
  src/tests/base_test.py
  src/tests/conftest.py
  src/tests/test_kube_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api, e2e-metal-assisted-networking, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

Revert "Use interactive mode when running skipper externally (#1346)"
  scripts/deploy_assisted_service.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Revert "Use skipper interactive env-var (#1341)"
  Jenkinsfile
  Jenkinsfile.download_all_logs
  Jenkinsfile.download_logs
  Jenkinsfile.test
  Makefile
  scripts/deploy_assisted_service.sh
  scripts/deploy_ui.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-8470 - Use logger.log instead of logging library (#1342)
  src/assisted_test_infra/test_infra/controllers/iptables.py
  src/assisted_test_infra/test_infra/controllers/nat_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/node.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/ssh.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
  src/assisted_test_infra/test_infra/controllers/proxy_controller/proxy_controller.py
  src/assisted_test_infra/test_infra/helper_classes/hypershift.py
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/agent.py
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/agent_cluster_install.py
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/cluster_deployment.py
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/cluster_image_set.py
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/common.py
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/infraenv.py
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/nmstate_config.py
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/secret.py
  src/assisted_test_infra/test_infra/helper_classes/nodes.py
  src/assisted_test_infra/test_infra/tools/assets.py
  src/assisted_test_infra/test_infra/tools/concurrently.py
  src/assisted_test_infra/test_infra/tools/terraform_utils.py
  src/assisted_test_infra/test_infra/utils/kubeapi_utils.py
  src/assisted_test_infra/test_infra/utils/logs_utils.py
  src/assisted_test_infra/test_infra/utils/terraform_util.py
  src/assisted_test_infra/test_infra/utils/utils.py
  src/tests/base_test.py
  src/tests/conftest.py
  src/tests/test_kube_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api, e2e-metal-assisted-networking, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

Revert/skipper interactive var (#1354)
  Jenkinsfile
  Jenkinsfile.download_all_logs
  Jenkinsfile.download_logs
  Jenkinsfile.test
  Makefile
  scripts/deploy_assisted_service.sh
  scripts/deploy_ui.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-8662: Dracut install failing with selinux-policy RPM
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Path conditions:
  e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  e2e-metal-assisted-olm: any of: .*operator.*
  e2e-metal-assisted-day2: any of: ^(day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-kube-api: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  e2e-metal-assisted-networking: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-kube-api: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-olm: any of: .*operator.*
