Repository openshift/assisted-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-assisted, e2e-metal-assisted-day2, e2e-metal-assisted-day2-single-node, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, e2e-metal-single-node-with-worker-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-day2, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-ocs, ci/prow/e2e-metal-assisted-static-ip-suite

Path conditions:
  e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-day2-single-node: any of: ^(.*/day2/.*|.*/cluster/.*)$
  e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-assisted-kube-api-net-suite: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$
  e2e-metal-single-node-live-iso: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE)$
  e2e-metal-single-node-with-worker-live-iso: any of: .*bootstrap_in_place.*
  ci/prow/e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-cnv: any of: .*operator.*
  ci/prow/e2e-metal-assisted-day2: any of: ^(.*/day2/.*|.*/cluster/.*)$
  ci/prow/e2e-metal-assisted-ipv4v6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-ipv6: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-kube-api-net-suite: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-ocs: any of: .*operator.*
  ci/prow/e2e-metal-assisted-static-ip-suite: any of: ^(terraform_files/.*|.*/controllers/.*)$

NO-ISSUE - Prevent tests from being skipped when test parameterized is empty (#1824)
  Makefile
  requirements.txt
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE - Prevent tests from being skipped when test parameterized is empty
  Makefile
  requirements.txt
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: fix must-gather log collection in case of hypershift cluster (#1822)
  src/assisted_test_infra/download_logs/download_logs.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: Add missing sudo in install_environment.sh (#1815)
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE - Prevent tests from being skipped when test parameterized is empty (#1825)
  Makefile
  requirements.txt
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-11706: Run e2e tests with the upgrade agent feature enabled
  src/update_assisted_service_cm.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-11586 - Add 4.12 to available openshift versions
  src/consts/consts.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

dummy pr
  Makefile
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-11586 - Add 4.12 to available openshift versions (#1829)
  src/consts/consts.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: Update skipper to 1.34.0
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: Improve log collection in case of hypershift/CAPI test * dump-guest-cluster as part of hypershift cluster dump * Collect must-gather logs from hypershift hosted-cluster
  src/assisted_test_infra/download_logs/download_logs.py
  src/assisted_test_infra/test_infra/helper_classes/hypershift.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: Update skipper to 1.34.0 (#1832)
  scripts/install_environment.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: Improve log collection in case of hypershift/CAPI test (#1831)
  src/assisted_test_infra/download_logs/download_logs.py
  src/assisted_test_infra/test_infra/helper_classes/hypershift.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-11143: Add e2e test for SNO agent reclaim
  scripts/deploy_assisted_service.sh
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/agent.py
  src/tests/base_kubeapi_test.py
  src/tests/global_variables/env_variables_defaults.py
  src/tests/test_kube_api.py
  src/update_assisted_service_cm.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-11143: Add e2e test for reclaiming agents in multinode cluster
  src/tests/test_kube_api.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Expose UMN as a setting
  skipper.env
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Expose UMN as a setting (#1834)
  skipper.env
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE - Upgrade to python 3.10
  Dockerfile.assisted-test-infra
  scripts/override_os_images.py
  scripts/override_release_images.py
  scripts/set_boot_order.by
  src/assisted_test_infra/test_infra/controllers/ipxe_controller/server/local_ipxe_server.py
  src/update_assisted_service_cm.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

MGMT-11981: FIx teardown on vsphere nodes
  src/assisted_test_infra/test_infra/controllers/node_controllers/vsphere_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

MGMT-11981: FIx teardown on vsphere nodes (#1835)
  src/assisted_test_infra/test_infra/controllers/node_controllers/vsphere_controller.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

NO-ISSUE - Upgrade to python 3.10 (#1827)
  Dockerfile.assisted-test-infra
  scripts/override_os_images.py
  scripts/override_release_images.py
  scripts/set_boot_order.by
  src/assisted_test_infra/test_infra/controllers/ipxe_controller/server/local_ipxe_server.py
  src/update_assisted_service_cm.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

NO-ISSUE: Adding MINIKUBE_HOME to skipper.env in order to fix ci
  skipper.env
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-11938 - Remove default platform from test env vars. (#1833)
  .flake8
  requirements-dev.txt
  skipper.env
  src/assisted_test_infra/test_infra/controllers/node_controllers/libvirt_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/node_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/nutanix_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/terraform_controller.py
  src/assisted_test_infra/test_infra/controllers/node_controllers/vsphere_controller.py
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/__init__.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_cluster_config.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_day2_cluster_config.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_entity_config.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_infra_env_config.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_nodes_config.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_nutanix_config.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_terraform_config.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_vsphere_config.py
  src/assisted_test_infra/test_infra/helper_classes/day2_cluster.py
  src/assisted_test_infra/test_infra/helper_classes/nodes.py
  src/assisted_test_infra/test_infra/utils/kubeapi_utils.py
  src/consts/consts.py
  src/tests/base_kubeapi_test.py
  src/tests/base_test.py
  src/tests/global_variables/env_variables_defaults.py
  src/tests/test_bootstrap_in_place.py
  src/tests/test_kube_api.py
  src/tests/test_targets.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted, e2e-metal-assisted-ipv6, e2e-metal-assisted-ipv4v6, e2e-metal-assisted-none, e2e-metal-assisted-kube-api-net-suite, e2e-metal-assisted-static-ip-suite, e2e-metal-single-node-live-iso, e2e-metal-single-node-with-worker-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-ipv4v6, ci/prow/e2e-metal-assisted-ipv6, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-static-ip-suite

Add support for cluster tags
  skipper.env
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_cluster_config.py
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: add describe cluster operators to download_must_gather (#1837)
  src/assisted_test_infra/download_logs/download_logs.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Add support for cluster tags (#1823)
  skipper.env
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/assisted_test_infra/test_infra/helper_classes/config/base_cluster_config.py
  src/tests/global_variables/env_variables_defaults.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: Remove michaellevy101 from owners
  OWNERS
Due: none

NO-ISSUE: Remove michaellevy101 from owners (#1843)
  OWNERS
Due: none

fix virt-format command missing
  Dockerfile.assisted-test-infra
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: fix describe__cluster_operators The parameter and the function had the same name
  src/assisted_test_infra/download_logs/download_logs.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

fix virt-format command missing (#1845)
  Dockerfile.assisted-test-infra
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: fix describe__cluster_operators (#1846)
  src/assisted_test_infra/download_logs/download_logs.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Optimize URL waiting logic to sleep less
  scripts/utils.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

Optimize URL waiting logic to sleep less (#1844)
  scripts/utils.sh
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-12026: do not reset trigger values
  src/assisted_test_infra/test_infra/utils/env_var.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-12026: do not reset trigger values (#1847)
  src/assisted_test_infra/test_infra/utils/env_var.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

MGMT-9914: Integration of the ODF LVM operator with assisted installer (#1683)
  src/assisted_test_infra/test_infra/helper_classes/cluster.py
  src/consts/consts.py
  src/consts/olm_operators.py
  src/triggers/default_triggers.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-cnv, ci/prow/e2e-metal-assisted-kube-api-net-suite, ci/prow/e2e-metal-assisted-ocs

NO-ISSUE: ensure dest folder exists in download_kubeconfig
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/agent_cluster_install.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite

NO-ISSUE: ensure dest folder exists in download_kubeconfig (#1848)
  src/assisted_test_infra/test_infra/helper_classes/kube_helpers/agent_cluster_install.py
Due: e2e-metal-assisted, e2e-metal-assisted-kube-api-net-suite, e2e-metal-single-node-live-iso, ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api-net-suite
