Repository openshift/lightspeed-operator: changes, and which Prow jobs are due for each by the changed paths.
All: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

bundle-e2e-4-15:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-1
    owner: ols
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  steps:
    pre:
    - ref: ipi-install-rbac
    test:
    - as: e2e-install
      cli: latest
      commands: 'oc create namespace openshift-lightspeed
  
  ...

bundle-e2e-4-16:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-1
    owner: ols
    product: ocp
    timeout: 1h0m0s
    version: '4.16'
  steps:
    pre:
    - ref: ipi-install-rbac
    test:
    - as: e2e-install
      cli: latest
      commands: 'oc create namespace openshift-lightspeed
  
  ...

bundle-e2e-4-17:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-1
    owner: ols
    product: ocp
    timeout: 1h0m0s
    version: '4.17'
  steps:
    pre:
    - ref: ipi-install-rbac
    test:
    - as: e2e-install
      cli: latest
      commands: 'oc create namespace openshift-lightspeed
  
  ...

fips-image-scan-operator:
  steps:
    dependencies:
      SCAN_IMAGE: lightspeed-operator
    test:
    - ref: fips-check-image-scan

ci/prow/bundle-e2e-4-20:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/fips-image-scan-operator:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/generate:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/lint:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20260812-175612-000
  lightspeed-catalog-4.16/bundle-v1.1.3.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/bundle-v1.1.3.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog-4.18/bundle-v1.1.3.yaml
  lightspeed-catalog-4.18/index.yaml
  lightspeed-catalog-4.19/bundle-v1.1.3.yaml
  lightspeed-catalog-4.19/index.yaml
  lightspeed-catalog-4.20/bundle-v1.1.3.yaml
  lightspeed-catalog-4.20/index.yaml
  lightspeed-catalog-4.21/bundle-v1.1.3.yaml
  lightspeed-catalog-4.21/index.yaml
  lightspeed-catalog-4.22/bundle-v1.1.3.yaml
  lightspeed-catalog-4.22/index.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3886 Tighten ClusterRole RBAC to prevent privilege escalation
  config/rbac/role.yaml
  internal/controller/alertsadapter/reconciler.go
  internal/controller/olsconfig_controller.go
  internal/controller/utils/constants.go
  internal/rbac/role_yaml_test.go
  internal/rbac/suite_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3886 Add pull-secret field selector to fix informer RBAC 403
  cmd/main.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3632: Add oc-ols CLI scaffolding and kubeconfig integration
  .ai/spec/how/cli.md
  AGENTS.md
  cli/kubeconfig.go
  cli/kubeconfig_test.go
  cli/root.go
  cli/root_test.go
  cli/testutil_test.go
  cli/version.go
  cli/version_test.go
  cmd/oc-ols/main.go
  go.mod
  go.sum
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3632: Address CodeRabbit review round 2
  cli/kubeconfig.go
  cli/kubeconfig_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3632: Address CodeRabbit review feedback
  cli/kubeconfig.go
  cli/kubeconfig_test.go
  cli/root.go
  cli/root_test.go
  cli/version.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3632: Add doc comment to loadCACertPool
  cli/kubeconfig.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3632: Convert CLI tests to Ginkgo/Gomega
  cli/kubeconfig_test.go
  cli/root_test.go
  cli/suite_test.go
  cli/version_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3632 Add --context global flag per review feedback
  cli/root.go
  cli/root_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3632 Add explicit context selection test
  cli/kubeconfig_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3887,OLS-3771,OLS-3828 Bump Go toolchain and dependencies for CVE fixes
  go.mod
  go.sum
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

fix: scope alerts adapter RBAC to openshift-lightspeed namespace
  internal/controller/alertsadapter/assets.go
  internal/controller/alertsadapter/assets_test.go
  internal/controller/alertsadapter/reconciler.go
  internal/controller/alertsadapter/reconciler_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/errors.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-0000 Switch service e2e pipelines to openshift-ci hypershift hosted clusters
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.16.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.17.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.18.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.19.yaml
Due: none

fix: remove unnecessary changes
  internal/controller/alertsadapter/reconciler.go
  internal/controller/utils/errors.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260820-161258-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20260820-170312-000
  lightspeed-catalog-4.16/bundle-v1.1.3.yaml
  lightspeed-catalog-4.17/bundle-v1.1.3.yaml
  lightspeed-catalog-4.18/bundle-v1.1.3.yaml
  lightspeed-catalog-4.19/bundle-v1.1.3.yaml
  lightspeed-catalog-4.20/bundle-v1.1.3.yaml
  lightspeed-catalog-4.21/bundle-v1.1.3.yaml
  lightspeed-catalog-4.22/bundle-v1.1.3.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-0000 Fix read-only kubeconfig in service e2e tests
  .tekton/integration-tests/scripts/run-service-integration-tests.sh
Due: none

OLS-3633: Implement endpoint configuration and context store
  .ai/spec/how/cli.md
  AGENTS.md
  cli/config/endpoint.go
  cli/config/endpoint_test.go
  cli/config/kubeconfig.go
  cli/config/persistence.go
  cli/config/persistence_test.go
  cli/config/suite_test.go
  cli/root.go
  cli/root_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3633: Mark conversation persistence as planned in spec
  .ai/spec/how/cli.md
Due: none

fixing rbac
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controller/olsconfig_controller.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

fix: remove dead code
  internal/controller/alertsadapter/reconciler.go
  internal/controller/alertsadapter/reconciler_test.go
  internal/controller/olsconfig_reconciler_test.go
  internal/controller/utils/constants.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

fix jq path for replacing postgres image which was silently failing and causing tests to fail
  .tekton/lightspeed-operator-pull-request.yaml
  hack/install/install-operator-direct.sh
Due: ci/prow/images

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260825-101921-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3899 Reframe bundle composition for agentic version gating
  .ai/spec/what/agentic-console-ui.md
  .ai/spec/what/bundle-composition.md
Due: none

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20260825-165158-000
  lightspeed-catalog-4.16/bundle-v1.1.3.yaml
  lightspeed-catalog-4.17/bundle-v1.1.3.yaml
  lightspeed-catalog-4.18/bundle-v1.1.3.yaml
  lightspeed-catalog-4.19/bundle-v1.1.3.yaml
  lightspeed-catalog-4.20/bundle-v1.1.3.yaml
  lightspeed-catalog-4.21/bundle-v1.1.3.yaml
  lightspeed-catalog-4.22/bundle-v1.1.3.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3990 restore OTEL Collector reconciliation and add service-ca trust for tracing
  .ai/spec/what/audit-logging.md
  .ai/spec/what/templog.md
  config/default/deployment-patch.yaml
  hack/deploy-jaeger-tls.sh
  internal/controller/agenticintegration/assets.go
  internal/controller/agenticintegration/assets_test.go
  internal/controller/agenticintegration/reconciler.go
  internal/controller/agenticintegration/reconciler_test.go
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/olsconfig_controller.go
  internal/controller/otelcollector/assets.go
  internal/controller/otelcollector/assets_test.go
  internal/controller/otelcollector/deployment.go
  internal/controller/otelcollector/deployment_test.go
  internal/controller/utils/constants.go
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

chore: update olsconfig crd
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3680 Note ocp-mcp _meta RBAC publishing (RFE)
  .ai/spec/what/ocpmcp.md
Due: none

OLS-2991 OLS-2992 Add OCP 4.23 and 5.0 release artifact spec
  .ai/spec/README.md
  .ai/spec/how/fbc-release.md
  .ai/spec/what/bundle-composition.md
Due: none

Bump version to 1.1.4
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-0000 Sync .ai/spec with current code
  .ai/spec/README.md
  .ai/spec/health-report.md
  .ai/spec/how/config-generation.md
  .ai/spec/how/deployment-generation.md
  .ai/spec/how/project-structure.md
  .ai/spec/how/reconciliation.md
  .ai/spec/what/agentic-sandbox-profile.md
  .ai/spec/what/app-server.md
  .ai/spec/what/crd-api.md
  .ai/spec/what/observability.md
  .ai/spec/what/ocpmcp.md
  .ai/spec/what/reconciliation.md
  .ai/spec/what/rhokp.md
  .ai/spec/what/security.md
  .ai/spec/what/templog.md
Due: none

OLS-3450 Update operator specs for credential hot-reload
  .ai/spec/how/config-generation.md
  .ai/spec/what/crd-api.md
  .ai/spec/what/resource-lifecycle.md
Due: none

OLS-3491: remove AgenticStepInstructions from OLSConfig CRD spec — instructions move to Agent CR
  .ai/spec/what/crd-api.md
Due: none

fix: update metrics toolset name in openshift-mcp-server-config
  internal/controller/ocpmcp/assets.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3634: ask command with SSE streaming
  cli/ask.go
  cli/ask_test.go
  cli/integration_test.go
  cli/kubeconfig.go
  cli/root.go
  cli/root_test.go
  cli/streaming.go
  cli/streaming_test.go
  cli/testutil_test.go
  cli/types.go
  cli/types_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-2190: require username and version for on-prem watsonx secrets
  README.md
  internal/controller/utils/constants.go
  internal/controller/utils/test_fixtures.go
  internal/controller/utils/utils.go
  internal/controller/utils/utils_misc_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260903-130616-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

address CodeRabbit review: context cancellation, HTTP validation, timeout test
  cli/ask.go
  cli/ask_test.go
  cli/streaming_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3033 Switch openshift-mcp-server image to openshift-mcp-tech-preview catalog
  .ai/spec/what/ocpmcp.md
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  internal/controller/ocpmcp/assets.go
  internal/controller/ocpmcp/assets_test.go
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Path conditions:
  bundle-e2e-4-15: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-16: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-17: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-20: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^renovate\.json|^\.golangci\.yaml|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/generate: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/lint: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/security: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
