Repository openshift/lightspeed-operator: changes, and which Prow jobs are due for each by the changed paths.
All: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

bundle-e2e-4-15:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-1
    owner: ols
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  steps:
    pre:
    - ref: ipi-install-rbac
    test:
    - as: e2e-install
      cli: latest
      commands: 'oc create namespace openshift-lightspeed
  
  ...

bundle-e2e-4-16:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-1
    owner: ols
    product: ocp
    timeout: 1h0m0s
    version: '4.16'
  steps:
    pre:
    - ref: ipi-install-rbac
    test:
    - as: e2e-install
      cli: latest
      commands: 'oc create namespace openshift-lightspeed
  
  ...

bundle-e2e-4-17:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-1
    owner: ols
    product: ocp
    timeout: 1h0m0s
    version: '4.17'
  steps:
    pre:
    - ref: ipi-install-rbac
    test:
    - as: e2e-install
      cli: latest
      commands: 'oc create namespace openshift-lightspeed
  
  ...

ci/prow/generate:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/lint:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

chore(deps): update lightspeed-operator to 3d6db57
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17

chore(deps): update lightspeed-console to 93aa6c1
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17

chore(deps): update lightspeed-service to afbd2a5
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17

chore(deps): update lightspeed-service to 8e992f6
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17

added APIVersion part of CRD
  api/v1alpha1/olsconfig_types.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  internal/controller/ols_app_server_assets.go
  internal/controller/ols_app_server_assets_test.go
  internal/controller/types.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

chore(deps): update lightspeed-operator to 4d5d3ca
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17

feature: operator's metrics server enforce TLS Security Profile
  cmd/main.go
  internal/tls/tls_security_profile.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

chore(deps): update lightspeed-console to 5500eeb
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17

fix: sync bundle manifest with source
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17

chore(deps): update lightspeed-console to f22217a
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17

chore(deps): update lightspeed-operator to abc7d93
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17

move image references into related_images.json
  Makefile
  config/default/kustomization.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  hack/update_bundle.sh
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

tool: build bundle from version and related images file
  Makefile
  hack/update_bundle.sh
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

bundle: images references uses CI image with latest tag
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17

makefile: add jq download
  Makefile
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

add support for providing custom certs for OLS and Custom ca for UI
  api/v1alpha1/olsconfig_types.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  hack/custom_certs/cr-with-custom-certs.yaml
  hack/custom_certs/generate-certs.sh
  internal/controller/ols_app_server_assets.go
  internal/controller/ols_app_server_reconciliator.go
  internal/controller/ols_console_reconciliator.go
  internal/controller/ols_console_ui_assets.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

customizable TLS key and cert on application HTTPS endpoint
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  hack/custom_certs/cr-with-custom-certs.yaml
  hack/custom_certs/generate-certs.sh
  internal/controller/ols_app_server_assets.go
  internal/controller/ols_app_server_assets_test.go
  internal/controller/ols_app_server_deployment.go
  internal/controller/ols_app_server_reconciliator.go
  internal/controller/ols_app_server_reconciliator_test.go
  internal/controller/ols_console_reconciliator.go
  internal/controller/ols_console_ui_assets.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

bundle: generate dockerfile from template
  hack/template_bundle.Containerfile
  hack/update_bundle.sh
Due: ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

makefile: deploy target - remove set image
  Makefile
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

chore(deps): update lightspeed-service to f0c4592
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17

tool: snapshot_to_image_list
  hack/snapshot_to_image_list.sh
Due: ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

bundle: dockerfile update with image replacement
  bundle.Dockerfile
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17

tool: snapshot_to_catalog simplified with snapshot_to_image_list
  hack/snapshot_to_catalog.sh
Due: ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

konflux: renovate bot does not update image references in catalogs
  renovate.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17

Red Hat Konflux purge test-bundle Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/test-bundle-pull-request.yaml
  .tekton/test-bundle-push.yaml
Due: none

Red Hat Konflux update test-bundle Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/test-bundle-pull-request.yaml
  .tekton/test-bundle-push.yaml
Due: none

Correcting cel expressions
  .tekton/test-bundle-pull-request.yaml
  .tekton/test-bundle-push.yaml
Due: none

chore(deps): update lightspeed-service to e8ad21d
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17

chore(deps): update lightspeed-console to 0feb814
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17

Adding UI pipelines
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-415.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-417.yaml
Due: none

fix: console plugin CRD for unit tests
  Makefile
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Removing direct dependency installs of dependencies previously being called without pdm
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-415.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-417.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.15.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.16.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.17.yaml
Due: none

Changing stepResult substitution
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-415.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-417.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.16.yaml
Due: none

FIPS: build operator with CGO_ENABLED=1 and the tag 'strictfipsruntime'
  Dockerfile
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

config: FIPS compliance - use rhel-9-4-els/rhel instead of ubi-minimal base image
  Dockerfile
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

config: FIPS compliance - use rhel-9-4-els/rhel instead of ubi-minimal base image in bundle
  bundle.Dockerfile
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17

Red Hat Konflux update lightspeed-operator Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/lightspeed-operator-pull-request.yaml
  .tekton/lightspeed-operator-push.yaml
Due: none

replacing get-kubeconfig reference
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-415.yaml
Due: none

Red Hat Konflux update bundle Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
Due: none

Path conditions:
  bundle-e2e-4-15: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-16: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-17: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/generate: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/images: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/lint: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/unit: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
