Repository openshift/lightspeed-operator: changes, and which Prow jobs are due for each by the changed paths.
All: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Path conditions:
  bundle-e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/generate: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/images: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/lint: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/unit: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$

Update README.md
  README.md
Due: none

reenable hermetic builds :
  .tekton/lightspeed-operator-pull-request.yaml
  .tekton/lightspeed-operator-push.yaml
Due: bundle-e2e

added prefetch
  .tekton/lightspeed-operator-pull-request.yaml
  .tekton/lightspeed-operator-push.yaml
Due: bundle-e2e

Stub for Tekton pipeline for integration tests
  konflux-integration/pipeline.yaml
Due: bundle-e2e

ci/cd: add Konflux pipelines for the bundle component
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
Due: bundle-e2e

Info about images to be tested
  konflux-integration/pipeline.yaml
Due: bundle-e2e

not restricting the secret to pull-secret as a temp fix
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controller/olsconfig_controller.go
  lightspeed-catalog/index.yaml
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Make int32Ptr generic
  test/e2e/autocorrection_test.go
  test/e2e/utils.go
Due: bundle-e2e

OLS716
  README.md
Due: none

fix: deployment equality with unset values
  internal/controller/utils.go
  internal/controller/utils_test.go
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Creating a pipeline for the provisioning and deprovisioning of ROSA clusters and running an 'installer' and 'test' tasks
  .tekton/integration-tests/pipelines/lightspeed-integration-test-pipeline.yaml
  .tekton/integration-tests/tasks/ols-e2e.yaml
  .tekton/integration-tests/tasks/ols-installer.yaml
Due: bundle-e2e

Correcting pathinRepo for installation
  .tekton/integration-tests/pipelines/lightspeed-integration-test-pipeline.yaml
Due: bundle-e2e

minor typo
  .tekton/integration-tests/pipelines/lightspeed-integration-test-pipeline.yaml
Due: bundle-e2e

Moving files to konflux-integration folder
  .tekton/integration-tests/pipelines/lightspeed-integration-test-pipeline.yaml
  konflux-integration/tasks/ols-e2e.yaml
  konflux-integration/tasks/ols-installer.yaml
Due: bundle-e2e

Trying to change the url and branch to fork
  .tekton/integration-tests/pipelines/lightspeed-integration-test-pipeline.yaml
Due: bundle-e2e

trying to use pipelinesascode
  .tekton/integration-tests/pipelines/lightspeed-integration-test-pipeline.yaml
  .tekton/integration-tests/tasks/ols-e2e.yaml
  .tekton/integration-tests/tasks/ols-installer.yaml
Due: bundle-e2e

Correcting potential typo
  .tekton/integration-tests/pipelines/lightspeed-integration-test-pipeline.yaml
Due: bundle-e2e

fix: remove cpu limit for all containers
  internal/controller/ols_app_server_assets_test.go
  internal/controller/ols_app_server_deployment.go
  internal/controller/ols_console_ui_assets.go
  internal/controller/ols_console_ui_assets_test.go
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

fix Tekton ols-installer task path
  .tekton/integration-tests/pipelines/lightspeed-integration-test-pipeline.yaml
Due: bundle-e2e

Adding pipelineRun file
  .tekton/integration-tests/pipelines/lightspeed-integration-test-pipeline.yaml
  .tekton/pull-request.yaml
Due: bundle-e2e

Fixing accidental tab
  .tekton/integration-tests/pipelines/lightspeed-integration-test-pipeline.yaml
Due: bundle-e2e

Fixing naming of tasks
  .tekton/integration-tests/tasks/ols-e2e.yaml
  .tekton/integration-tests/tasks/ols-installer.yaml
Due: bundle-e2e

Fixing naming of tasks
  .tekton/integration-tests/tasks/ols-installer.yaml
Due: bundle-e2e

konflux: bundle uses konflux built images
  .tekton/bundle-pull-request.yaml
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  config/manager/kustomization.yaml
Due: bundle-e2e

test triggering bundle build on konflux
  bundle/metadata/annotations.yaml
Due: bundle-e2e

test not triggering bundle build on konflux
  test/e2e/constants.go
Due: bundle-e2e

increase CPU request to 500m for app server container
  internal/controller/ols_app_server_assets_test.go
  internal/controller/ols_app_server_deployment.go
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

chore(deps): update lightspeed-operator to ecdb500
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e

chore(deps): update lightspeed-operator to b6a130f
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e

chore(deps): update lightspeed-console to 100fe09
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
Due: bundle-e2e

build: konflux does not build operator on unrelated changes
  .tekton/lightspeed-operator-pull-request.yaml
Due: bundle-e2e

test not trigger operator build
  test/e2e/constants.go
Due: bundle-e2e

wip
  README.md
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  hack/example_extra_ca.yaml
  internal/controller/ols_app_server_assets.go
  internal/controller/ols_app_server_deployment.go
  internal/controller/types.go
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

chore(deps): update lightspeed-service to de93445
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
Due: bundle-e2e

fix: multi-line syntax in konflux config
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
  .tekton/lightspeed-operator-pull-request.yaml
Due: bundle-e2e

chore(deps): update lightspeed-console to 578ff95
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
Due: bundle-e2e

chore(deps): update lightspeed-operator to 28884d2
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e

test trigger operator build
  internal/controller/ols_app_server_assets_test.go
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit
