Repository openshift/lightspeed-operator: changes, and which Prow jobs are due for each by the changed paths.
All: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Path conditions:
  bundle-e2e-4-15: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-16: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-17: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-20: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^renovate\.json|^\.golangci\.yaml|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/generate: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/lint: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/security: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260430-132013-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

fix: resolve CVE-2026-32280 — bump Go to 1.25.9
  .cursor/skills/resolve-cve/SKILL.md
  AGENTS.md
  go.mod
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Align deploy scripts and Makefile with agentic API review changes
  Dockerfile.dev
  Makefile
  config/crd/bases/agentic.openshift.io_agents.yaml
  config/crd/bases/agentic.openshift.io_llmproviders.yaml
  config/crd/bases/agentic.openshift.io_proposals.yaml
  config/rbac-agentic/role.yaml
  go.mod
  go.sum
  hack/agentic-lib.sh
  hack/deploy-agentic.sh
  hack/redeploy-agentic-agent.sh
  hack/redeploy-agentic-all.sh
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260430-214711-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20260430-235019-000
  lightspeed-catalog-4.16/bundle-v1.0.12.yaml
  lightspeed-catalog-4.17/bundle-v1.0.12.yaml
  lightspeed-catalog-4.18/bundle-v1.0.12.yaml
  lightspeed-catalog-4.19/bundle-v1.0.12.yaml
  lightspeed-catalog-4.20/bundle-v1.0.12.yaml
  lightspeed-catalog-4.21/bundle-v1.0.12.yaml
  lightspeed-catalog-4.22/bundle-v1.0.12.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Restructure agentic deploy scripts: parallel builds, minimal contexts, cleanup
  config/crd/bases/agentic.openshift.io_agents.yaml
  config/crd/bases/agentic.openshift.io_approvalpolicies.yaml
  config/crd/bases/agentic.openshift.io_llmproviders.yaml
  config/crd/bases/agentic.openshift.io_proposalapprovals.yaml
  config/crd/kustomization.yaml
  config/rbac-agentic/role.yaml
  hack/AGENTIC_DEPLOY.md
  hack/agentic/CLAUDE.md
  hack/agentic/deploy.sh
  hack/agentic/lib.sh
  hack/agentic/redeploy-agent.sh
  hack/agentic/redeploy-all.sh
  hack/agentic/redeploy-console.sh
  hack/agentic/redeploy-operator.sh
  hack/agentic/redeploy-skills.sh
  hack/agentic/undeploy.sh
  hack/redeploy-agentic-all.sh
  hack/redeploy-agentic-operator.sh
  hack/redeploy-agentic-skills.sh
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Fix deploy scripts and regenerate CRDs for e2e testing
  config/crd/bases/agentic.openshift.io_proposalapprovals.yaml
  config/crd/bases/agentic.openshift.io_proposals.yaml
  hack/agentic/deploy.sh
  hack/agentic/lib.sh
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Wire TLS security profile through operator to service config.
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/utils/types.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Add CRD manifests and RBAC for AnalysisResult, ExecutionResult, VerificationResult
  config/crd/bases/agentic.openshift.io_analysisresults.yaml
  config/crd/bases/agentic.openshift.io_executionresults.yaml
  config/crd/bases/agentic.openshift.io_proposals.yaml
  config/crd/bases/agentic.openshift.io_verificationresults.yaml
  config/crd/kustomization.yaml
  config/rbac-agentic/role.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Add EscalationResult CRD, agent RBAC for agentic resources, bump envtest
  Makefile
  cmd/main.go
  config/crd/bases/agentic.openshift.io_approvalpolicies.yaml
  config/crd/bases/agentic.openshift.io_escalationresults.yaml
  config/crd/bases/agentic.openshift.io_proposalapprovals.yaml
  config/crd/bases/agentic.openshift.io_proposals.yaml
  config/crd/kustomization.yaml
  config/rbac-agentic/role.yaml
  hack/agentic/lib.sh
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Regenerate CRDs for conditions migration and fix deploy cleanup
  config/crd/bases/agentic.openshift.io_agents.yaml
  config/crd/bases/agentic.openshift.io_analysisresults.yaml
  config/crd/bases/agentic.openshift.io_approvalpolicies.yaml
  config/crd/bases/agentic.openshift.io_escalationresults.yaml
  config/crd/bases/agentic.openshift.io_executionresults.yaml
  config/crd/bases/agentic.openshift.io_llmproviders.yaml
  config/crd/bases/agentic.openshift.io_proposals.yaml
  config/crd/bases/agentic.openshift.io_verificationresults.yaml
  hack/agentic/deploy.sh
  hack/agentic/lib.sh
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Regenerate CRDs for SandboxInfo timestamp removal
  config/crd/bases/agentic.openshift.io_analysisresults.yaml
  config/crd/bases/agentic.openshift.io_escalationresults.yaml
  config/crd/bases/agentic.openshift.io_executionresults.yaml
  config/crd/bases/agentic.openshift.io_proposals.yaml
  config/crd/bases/agentic.openshift.io_verificationresults.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260504-194250-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

fix: resolve CVE-2026-32280 — bump Go to 1.25.9
  go.mod
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260505-113056-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20260505-143421-000
  lightspeed-catalog-4.16/bundle-v1.0.12.yaml
  lightspeed-catalog-4.17/bundle-v1.0.12.yaml
  lightspeed-catalog-4.18/bundle-v1.0.12.yaml
  lightspeed-catalog-4.19/bundle-v1.0.12.yaml
  lightspeed-catalog-4.20/bundle-v1.0.12.yaml
  lightspeed-catalog-4.21/bundle-v1.0.12.yaml
  lightspeed-catalog-4.22/bundle-v1.0.12.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

update agents to include PR workflow
  AGENTS.md
Due: none

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260505-173447-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260506-015835-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20260506-034901-000
  lightspeed-catalog-4.16/bundle-v1.0.12.yaml
  lightspeed-catalog-4.17/bundle-v1.0.12.yaml
  lightspeed-catalog-4.18/bundle-v1.0.12.yaml
  lightspeed-catalog-4.19/bundle-v1.0.12.yaml
  lightspeed-catalog-4.20/bundle-v1.0.12.yaml
  lightspeed-catalog-4.21/bundle-v1.0.12.yaml
  lightspeed-catalog-4.22/bundle-v1.0.12.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Fix IntrospectionEnabled Default, removed -read-only
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/deployment.go
  internal/controller/appserver/deployment_test.go
  internal/controller/appserver/reconciler_test.go
  internal/controller/lcore/config.go
  internal/controller/lcore/config_test.go
  internal/controller/lcore/deployment.go
  internal/controller/lcore/deployment_test.go
  internal/controller/lcore/reconciler_test.go
  internal/controller/utils/mcp_server_config.go
  internal/controller/utils/test_fixtures.go
  internal/controller/utils/utils.go
  test/e2e/all_features_test.go
  test/e2e/assets.go
  test/e2e/upgrade_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update CRDs and deploy scripts for everettraven API review
  config/crd/bases/agentic.openshift.io_approvalpolicies.yaml
  config/crd/bases/agentic.openshift.io_proposalapprovals.yaml
  config/crd/bases/agentic.openshift.io_proposals.yaml
  config/rbac-agentic/component_owner_role.yaml
  hack/agentic/lib.sh
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Regenerate CRDs for result status subresource move
  config/crd/bases/agentic.openshift.io_analysisresults.yaml
  config/crd/bases/agentic.openshift.io_approvalpolicies.yaml
  config/crd/bases/agentic.openshift.io_escalationresults.yaml
  config/crd/bases/agentic.openshift.io_executionresults.yaml
  config/crd/bases/agentic.openshift.io_proposalapprovals.yaml
  config/crd/bases/agentic.openshift.io_proposals.yaml
  config/crd/bases/agentic.openshift.io_verificationresults.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Regenerate CRDs for non-blocking API review changes
  config/crd/bases/agentic.openshift.io_agents.yaml
  config/crd/bases/agentic.openshift.io_analysisresults.yaml
  config/crd/bases/agentic.openshift.io_approvalpolicies.yaml
  config/crd/bases/agentic.openshift.io_llmproviders.yaml
  config/crd/bases/agentic.openshift.io_proposalapprovals.yaml
  config/crd/bases/agentic.openshift.io_proposals.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260506-134236-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Regenerate CRDs for kube-api-linter fixes
  config/crd/bases/agentic.openshift.io_agents.yaml
  config/crd/bases/agentic.openshift.io_analysisresults.yaml
  config/crd/bases/agentic.openshift.io_approvalpolicies.yaml
  config/crd/bases/agentic.openshift.io_escalationresults.yaml
  config/crd/bases/agentic.openshift.io_executionresults.yaml
  config/crd/bases/agentic.openshift.io_llmproviders.yaml
  config/crd/bases/agentic.openshift.io_proposalapprovals.yaml
  config/crd/bases/agentic.openshift.io_proposals.yaml
  config/crd/bases/agentic.openshift.io_verificationresults.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Regenerate CRDs and fix deploy script examples for cluster testing
  config/crd/bases/agentic.openshift.io_proposalapprovals.yaml
  hack/agentic/lib.sh
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Regenerate CRDs for cluster testing fixes
  config/crd/bases/agentic.openshift.io_analysisresults.yaml
  config/crd/bases/agentic.openshift.io_proposalapprovals.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Regenerate CRDs for Result spec migration
  config/crd/bases/agentic.openshift.io_analysisresults.yaml
  config/crd/bases/agentic.openshift.io_escalationresults.yaml
  config/crd/bases/agentic.openshift.io_executionresults.yaml
  config/crd/bases/agentic.openshift.io_verificationresults.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Regenerate CRDs: remove Attempts/Attempt, tighten RetryIndex
  config/crd/bases/agentic.openshift.io_analysisresults.yaml
  config/crd/bases/agentic.openshift.io_escalationresults.yaml
  config/crd/bases/agentic.openshift.io_executionresults.yaml
  config/crd/bases/agentic.openshift.io_proposalapprovals.yaml
  config/crd/bases/agentic.openshift.io_proposals.yaml
  config/crd/bases/agentic.openshift.io_verificationresults.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Splitting e2e tests between bundle and operator
  .tekton/integration-tests/integration-test-scenarios/e2e-tests.yaml
  .tekton/integration-tests/integration-test-scenarios/konflux-integration-test-scenarios.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-pf5.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-pf6.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-417.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-418.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-419.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-419.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-420.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.16.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.17.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.18.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.19.yaml
  .tekton/integration-tests/pipelines/rapidast-scan.yaml
  .tekton/integration-tests/scripts/gather-extra.sh
  .tekton/integration-tests/scripts/install-oc-if-missing.sh
  .tekton/integration-tests/scripts/run-console-cypress-tests.sh
  .tekton/integration-tests/scripts/run-konflux-operator-install.sh
  .tekton/integration-tests/scripts/run-operator-e2e-tests.sh
  .tekton/integration-tests/scripts/run-operator-upgrade-tests.sh
  .tekton/integration-tests/scripts/run-service-integration-tests.sh
  .tekton/integration-tests/stepactions/gather-cluster-resources/0.1/gather-cluster-resources.yaml
  .tekton/ols-bundle-pull-request.yaml
  .tekton/ols-bundle-push.yaml
  Makefile
  hack/install/_lib.sh
  hack/install/install-operator-bundle.sh
  hack/install/install-operator-direct.sh
  test/e2e/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Regenerate CRDs: optional VerificationStep.Command, RollbackPlan.Command
  config/crd/bases/agentic.openshift.io_analysisresults.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

adding logs exporting
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-pf5.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-pf6.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-all-features.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-417.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-418.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-419.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-419.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-420.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.16.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.17.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.18.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.19.yaml
Due: none

OLS-2459 propagate APIServer TLS profile to olsconfig
  Makefile
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/suite_test.go
  internal/controller/olsconfig_controller.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

regenerate the bundle to align it with APIs
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  internal/controller/olsconfig_controller.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-2882 add operator specification files
  .ai/spec/README.md
  .ai/spec/how/README.md
  .ai/spec/how/config-generation.md
  .ai/spec/how/deployment-generation.md
  .ai/spec/how/project-structure.md
  .ai/spec/how/reconciliation.md
  .ai/spec/what/README.md
  .ai/spec/what/app-server.md
  .ai/spec/what/console-ui.md
  .ai/spec/what/crd-api.md
  .ai/spec/what/observability.md
  .ai/spec/what/postgres.md
  .ai/spec/what/reconciliation.md
  .ai/spec/what/resource-lifecycle.md
  .ai/spec/what/security.md
  .ai/spec/what/system-overview.md
  .ai/spec/what/tls.md
Due: none

Updating image to use 1.25.9 go toolset.
  .tekton/release/bundle-update/bundle-update.ContainerFile
  .tekton/release/bundle-update/pipeline.yaml
  .tekton/release/push-to-release/bundle-to-release-pipeline.yaml
Due: none

regenerate the bundle to align it with APIs
  api/v1alpha1/olsconfig_types.go
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit
