Repository openshift/lightspeed-operator: changes, and which Prow jobs are due for each by the changed paths.
All: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Path conditions:
  bundle-e2e-4-15: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-16: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-17: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-20: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^renovate\.json|^\.golangci\.yaml|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/generate: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/lint: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/security: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$

Change AgenticConsoleContainer and AlertsAdapter to pointer types and regenerate bundle
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  internal/controller/agenticconsole/deployment.go
  internal/controller/agenticconsole/reconciler_test.go
  internal/controller/alertsadapter/assets_test.go
  internal/controller/alertsadapter/deployment.go
  internal/controller/alertsadapter/reconciler_test.go
  internal/controller/utils/utils.go
  internal/controller/watchers/watchers_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle from snapshot
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

konflux: auto approve spec updates
  .tekton/auto-labeling.yaml
Due: none

Update related_images and bundle from snapshot
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Add Solr hybrid RAG via RHOKP sidecar
  .ai/spec/how/config-generation.md
  .ai/spec/how/deployment-generation.md
  .ai/spec/what/app-server.md
  .ai/spec/what/crd-api.md
  .gitignore
  Makefile
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/default/deployment-patch.yaml
  config/dev/metrics-reader-token.yaml
  hack/image_placeholders.json
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/deployment.go
  internal/controller/appserver/deployment_test.go
  internal/controller/appserver/reconciler_test.go
  internal/controller/appserver/rhokp.go
  internal/controller/appserver/rhokp_test.go
  internal/controller/appserver/suite_test.go
  internal/controller/olsconfig_helpers.go
  internal/controller/reconciler/interface.go
  internal/controller/utils/constants.go
  internal/controller/utils/resource_defaults_test.go
  internal/controller/utils/testing.go
  internal/controller/utils/types.go
  internal/controller/utils/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3448: Create cluster-internal Service for ocp-mcp sidecar
  .ai/spec/what/app-server.md
  internal/controller/appserver/assets.go
  internal/controller/appserver/reconciler.go
  internal/controller/appserver/reconciler_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/errors.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

fix: address CodeRabbit review comments (OLS-3448)
  internal/controller/appserver/assets.go
  internal/controller/appserver/reconciler.go
  internal/controller/utils/errors.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3448: Fix update path, error handling, and test coverage for MCP service
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/reconciler.go
  internal/controller/appserver/reconciler_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

fix: add TLS to MCP server Service via service-ca
  config/default/deployment-patch.yaml
  internal/controller/appserver/assets.go
  internal/controller/appserver/deployment.go
  internal/controller/utils/constants.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

fix: update unit tests for TLS-enabled MCP server
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/deployment_test.go
  internal/controller/appserver/reconciler_test.go
  internal/controller/utils/constants.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

fix: use TOML config for TLS instead of CLI flags
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/deployment.go
  internal/controller/appserver/deployment_test.go
  internal/controller/appserver/reconciler.go
  internal/controller/utils/mcp_server_config.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3442 Add reasoning token support spec
  .ai/spec/how/config-generation.md
  .ai/spec/what/crd-api.md
Due: none

OLS-3520: Grant operator RBAC to create alerts adapter proposals ClusterRole
  .ai/spec/how/project-structure.md
  .ai/spec/how/reconciliation.md
  .ai/spec/what/bundle-composition.md
  .ai/spec/what/reconciliation.md
  ARCHITECTURE.md
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controller/alertsadapter/assets.go
  internal/controller/alertsadapter/assets_test.go
  internal/controller/alertsadapter/reconciler.go
  internal/controller/alertsadapter/reconciler_test.go
  internal/controller/olsconfig_controller.go
  internal/controller/utils/constants.go
  internal/controller/utils/errors.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Title: OLS-1894: Set OLS_ROSA_PRODUCT on app-server for ROSA OKP retrieval
  .ai/spec/how/config-generation.md
  .ai/spec/how/deployment-generation.md
  .ai/spec/what/app-server.md
  cmd/main.go
  config/rbac/role.yaml
  internal/controller/appserver/deployment.go
  internal/controller/appserver/deployment_test.go
  internal/controller/appserver/suite_test.go
  internal/controller/olsconfig_controller.go
  internal/controller/olsconfig_helpers.go
  internal/controller/reconciler/interface.go
  internal/controller/utils/constants.go
  internal/controller/utils/testing.go
  internal/controller/utils/types.go
  internal/controller/utils/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Title: OLS-3522: Generate operator deployment args from related_images.json
  .ai/spec/what/bundle-composition.md
  Makefile
  config/default/deployment-patch.yaml
  config/default/kustomization.yaml
  docs/olm-bundle-management.md
  hack/generate_deployment_patch.sh
  hack/image_args_lib.sh
  hack/image_placeholders.json
  hack/install/install-operator-direct.sh
  hack/snapshot_to_image_list.sh
  hack/update_bundle.sh
  internal/controller/utils/constants.go
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3312: Update bundle — RHOKP replaces ocp-rag, refresh images from Quay
  .ai/spec/how/config-generation.md
  .ai/spec/how/deployment-generation.md
  .ai/spec/what/app-server.md
  .ai/spec/what/bundle-composition.md
  .ai/spec/what/system-overview.md
  .cursor/skills/update-bundle/SKILL.md
  .cursor/skills/version-update/SKILL.md
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  cmd/main.go
  config/default/deployment-patch.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  docs/olm-bundle-management.md
  hack/related_images_from_quay.sh
  hack/snapshot_to_image_list.sh
  hack/update_bundle.sh
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/types.go
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

increase cpu capacity since now we have an assured minimum of 3 cpus
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-all-features.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-417.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-418.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-419.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-419.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-420.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.16.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.17.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.18.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.19.yaml
  .tekton/integration-tests/pipelines/rapidast-scan.yaml
Due: none

OLS-0000: Standardize AGENTS.md content
  AGENTS.md
Due: none

OLS-3509 Redesign audit CRD and wire app-server OTEL to collector
  .ai/spec/what/audit-logging.md
  .ai/spec/what/crd-api.md
  .ai/spec/what/templog.md
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/olsconfig_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/olsconfig_helpers.go
  internal/controller/reconciler/interface.go
  internal/controller/utils/constants.go
  internal/controller/utils/resource_defaults_test.go
  internal/controller/utils/testing.go
  internal/controller/utils/types.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3450: Add credentialHotReload flag to skip app-server restart on LLM secret rotation
  api/v1alpha1/olsconfig_types.go
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  docs/credential-hot-reload.md
  internal/controller/olsconfig_controller.go
  internal/controller/olsconfig_helpers.go
  internal/controller/utils/types.go
  internal/controller/watchers/watchers.go
  internal/controller/watchers/watchers_test.go
  test/e2e/reconciliation_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3450: Rework hot-reload to annotation-based approach per review
  internal/controller/appserver/assets.go
  internal/controller/olsconfig_helpers.go
  internal/controller/utils/types.go
  internal/controller/watchers/watchers.go
  internal/controller/watchers/watchers_test.go
  test/e2e/reconciliation_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Address code review: collect annotation removal errors, use constant, add unit tests
  internal/controller/olsconfig_helpers.go
  internal/controller/olsconfig_helpers_test.go
  test/e2e/reconciliation_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3221 Reduce app server liveness probe failureThreshold to 3
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/deployment.go
  internal/controller/appserver/deployment_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

CVE-2026-42504 fix: go version update.
  go.mod
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update bundle CRD with credentialHotReload field
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Make annotation errors non-blocking to prevent ConfigMap update starvation
  internal/controller/olsconfig_helpers.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

fix(e2e): clear dangling AdditionalCAConfigMapRef before hot-reload test
  internal/controller/olsconfig_helpers.go
  test/e2e/reconciliation_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Fix duplicate Maintaining This Document section
  AGENTS.md
Due: none

OLS-3526: spec for standalone MCP server deployment
  .ai/spec/what/app-server.md
  .ai/spec/what/crd-api.md
  .ai/spec/what/reconciliation.md
  .ai/spec/what/resource-lifecycle.md
Due: none

OLS-3526: address CodeRabbit review comments
  .ai/spec/what/app-server.md
  .ai/spec/what/crd-api.md
Due: none

OLS-3526: name app-server SA explicitly in Rules 22-23
  .ai/spec/what/app-server.md
Due: none

OLS-3509: Regenerate bundle with OTEL collector related image
  .ai/spec/what/templog.md
  Makefile
  api/v1alpha1/olsconfig_types.go
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/default/deployment-patch.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  hack/bundle.Dockerfile
  internal/controller/utils/constants.go
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3520: Grant operator RBAC for alerts adapter Alertmanager RoleBinding
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controller/olsconfig_controller.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3509 OLS-3510 OLS-3511 OLS-3513: Deploy OTEL collector operand and wire audit logging
  .ai/spec/how/config-generation.md
  .ai/spec/how/project-structure.md
  .ai/spec/how/reconciliation.md
  .ai/spec/what/audit-logging.md
  .ai/spec/what/crd-api.md
  .ai/spec/what/postgres.md
  .ai/spec/what/reconciliation.md
  .ai/spec/what/templog.md
  .ai/spec/what/tls.md
  AGENTS.md
  cmd/main.go
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/deployment.go
  internal/controller/appserver/deployment_test.go
  internal/controller/appserver/reconciler_test.go
  internal/controller/olsconfig_controller.go
  internal/controller/otelcollector/assets.go
  internal/controller/otelcollector/assets_test.go
  internal/controller/otelcollector/deployment.go
  internal/controller/otelcollector/deployment_test.go
  internal/controller/otelcollector/reconciler.go
  internal/controller/otelcollector/reconciler_test.go
  internal/controller/otelcollector/suite_test.go
  internal/controller/postgres/assets.go
  internal/controller/postgres/assets_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/errors.go
  internal/controller/utils/types.go
  internal/controller/utils/utils.go
  internal/controller/watchers/watchers.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-1062 Add CLI architecture and distribution specs for oc-ols
  .ai/spec/how/cli-distribution.md
  .ai/spec/how/cli.md
Due: none

OLS-1062 Address CodeRabbit review feedback on CLI specs
  .ai/spec/how/cli-distribution.md
  .ai/spec/how/cli.md
Due: none

OLS-3510: Publish OTEL collector client ConfigMap and always-on admin API
  .ai/spec/how/config-generation.md
  .ai/spec/how/project-structure.md
  .ai/spec/what/postgres.md
  .ai/spec/what/reconciliation.md
  .ai/spec/what/security.md
  .ai/spec/what/templog.md
  .ai/spec/what/tls.md
  internal/controller/otelcollector/assets.go
  internal/controller/otelcollector/assets_test.go
  internal/controller/otelcollector/deployment.go
  internal/controller/otelcollector/deployment_test.go
  internal/controller/otelcollector/reconciler.go
  internal/controller/otelcollector/reconciler_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/errors.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

CNV-83516: Enable kubevirt toolset in default MCP server config
  internal/controller/utils/mcp_server_config.go
  internal/controller/utils/mcp_server_config_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit
