Repository openshift/lightspeed-operator: changes, and which Prow jobs are due for each by the changed paths.
All: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Path conditions:
  bundle-e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/generate: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/images: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/lint: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/unit: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$

feat: reduce Operator scope permissions
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  cmd/main.go
  config/rbac/role.yaml
  config/rbac/role_binding.yaml
  internal/controller/olsconfig_controller.go
  lightspeed-catalog/index.yaml
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

feat: add resource management for API server and Data collector containers
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  internal/controller/ols_app_server_assets_test.go
  internal/controller/ols_app_server_deployment.go
  internal/controller/ols_console_ui_assets.go
  internal/controller/ols_console_ui_assets_test.go
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Red Hat Konflux update lightspeed-operator
  .tekton/lightspeed-operator-pull-request.yaml
  .tekton/lightspeed-operator-push.yaml
Due: bundle-e2e

chore(deps): update rhtap references to 2cd38c4
  .tekton/lightspeed-operator-pull-request.yaml
  .tekton/lightspeed-operator-push.yaml
Due: bundle-e2e

Add spec.llm.providers.type
  README.md
Due: none

Increase InitialDelaySeconds to 120 for liveness Probe
  internal/controller/ols_app_server_deployment.go
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Container file to use UBI images
  Dockerfile
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

chore: remove development configuration settings
  api/v1alpha1/olsconfig_types.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  internal/controller/ols_app_server_assets.go
  internal/controller/ols_app_server_assets_test.go
  internal/controller/types.go
  lightspeed-catalog/index.yaml
  test/e2e/assets.go
  test/e2e/client.go
  test/e2e/http_client.go
  test/e2e/tls_test.go
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

chore(deps): update rhtap references to 7cd8020
  .tekton/lightspeed-operator-pull-request.yaml
  .tekton/lightspeed-operator-push.yaml
Due: bundle-e2e

enable hermetic build
  .tekton/lightspeed-operator-pull-request.yaml
  .tekton/lightspeed-operator-push.yaml
Due: bundle-e2e

added labels and used image SHA
  Dockerfile
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

chore(deps): update rhtap references to 9aec3ae
  .tekton/lightspeed-operator-pull-request.yaml
  .tekton/lightspeed-operator-push.yaml
Due: bundle-e2e

enabled default build source image
  .tekton/lightspeed-operator-pull-request.yaml
  .tekton/lightspeed-operator-push.yaml
Due: bundle-e2e

chore(deps): update rhtap references
  .tekton/lightspeed-operator-pull-request.yaml
  .tekton/lightspeed-operator-push.yaml
Due: bundle-e2e

use normal service account to test API endpoint access
  test/e2e/client.go
  test/e2e/tls_test.go
Due: bundle-e2e

feat: use MTLS on metric endpoint, replacing kube-rbac-proxy
  bundle/manifests/lightspeed-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/lightspeed-operator-controller-manager-service_v1_service.yaml
  bundle/manifests/lightspeed-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  cmd/main.go
  config/default/kustomization.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/default/manager_config_patch.yaml
  config/manager/manager.yaml
  config/prometheus/monitor-operator.yaml
  config/rbac/auth_proxy_client_clusterrole.yaml
  config/rbac/auth_proxy_role.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/auth_proxy_service.yaml
  config/rbac/kustomization.yaml
  config/rbac/leader_election_role.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/role.yaml
  config/rbac/role_binding.yaml
  config/rbac/service_account.yaml
  hack/publish_package_builds.sh
  hack/update_bundle_catalog.sh
  internal/controller/constants.go
  internal/controller/olsconfig_controller.go
  lightspeed-catalog/index.yaml
  test/e2e/http_client.go
  test/e2e/tls_test.go
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

use personal registry for operator image
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e

Use all fileds from secret
  internal/controller/constants.go
  internal/controller/ols_app_server_assets_test.go
  internal/controller/ols_app_server_deployment.go
  internal/controller/ols_app_server_reconciliator.go
  internal/controller/ols_app_server_reconciliator_test.go
  internal/controller/utils.go
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

data collector sidecar - raise memory limit to 512MB
  internal/controller/ols_app_server_deployment.go
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

added missed file
  internal/controller/ols_app_server_assets.go
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

added azure openai final state config
  internal/controller/constants.go
  internal/controller/ols_app_server_assets.go
  internal/controller/ols_app_server_assets_test.go
  internal/controller/types.go
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

updated comments
  internal/controller/ols_app_server_assets.go
  internal/controller/types.go
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

OLS-644: Use version-aligned OCP docs for RAG
  Makefile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controller/ols_app_server_assets.go
  internal/controller/ols_app_server_assets_test.go
  internal/controller/ols_app_server_reconciliator.go
  internal/controller/olsconfig_controller.go
  internal/controller/suite_test.go
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

fix: always update the latest version of CR in e2e reconciliation test
  test/e2e/reconciliation_test.go
Due: bundle-e2e

Lower collector container resources
  internal/controller/ols_app_server_deployment.go
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

updated model config
  internal/controller/ols_app_server_assets.go
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Add support for fake llm provider in operator as well
  api/v1alpha1/olsconfig_types.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Red Hat Konflux purge lightspeed-operator
  .tekton/lightspeed-operator-pull-request.yaml
  .tekton/lightspeed-operator-push.yaml
Due: bundle-e2e

cleanup: update catalog index to latest CRD
  lightspeed-catalog/index.yaml
Due: bundle-e2e

chore(deps): update konflux references
  .tekton/lightspeed-operator-pull-request.yaml
  .tekton/lightspeed-operator-push.yaml
Due: bundle-e2e

feat: use MTLS on metric endpoint, replacing kube-rbac-proxy
  bundle/manifests/lightspeed-operator-controller-manager-metrics-monitor_monitoring.coreos.com_v1_servicemonitor.yaml
  bundle/manifests/lightspeed-operator-controller-manager-service_v1_service.yaml
  bundle/manifests/lightspeed-operator-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  cmd/main.go
  config/default/kustomization.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/default/manager_config_patch.yaml
  config/manager/manager.yaml
  config/prometheus/monitor-operator.yaml
  config/rbac/auth_proxy_client_clusterrole.yaml
  config/rbac/auth_proxy_role.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/auth_proxy_service.yaml
  config/rbac/kustomization.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
  hack/publish_package_builds.sh
  hack/update_bundle_catalog.sh
  internal/controller/constants.go
  internal/controller/olsconfig_controller.go
  test/e2e/http_client.go
  test/e2e/metrics_test.go
  test/e2e/prometheus_client.go
  test/e2e/tls_test.go
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

feat: add data collection settings in OLSConfig CRD.
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  internal/controller/ols_app_server_assets.go
  internal/controller/ols_app_server_assets_test.go
  internal/controller/ols_app_server_deployment.go
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

add Snyk config to ignore test codes in security check
  .snyk
Due: bundle-e2e

feat: disable data collection when telemetry is off
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  cmd/main.go
  config/rbac/leader_election_role_binding.yaml
  config/rbac/role.yaml
  internal/controller/constants.go
  internal/controller/ols_app_server_assets_test.go
  internal/controller/ols_app_server_deployment.go
  internal/controller/olsconfig_controller.go
  internal/controller/resource_watchers.go
  internal/controller/suite_test.go
  internal/controller/utils.go
  lightspeed-catalog/index.yaml
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Copy license file into container
  Dockerfile
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Red Hat Konflux update bundle
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
Due: bundle-e2e

Update README.md
  README.md
Due: none
