Repository openshift/lightspeed-operator: changes, and which Prow jobs are due for each by the changed paths.
All: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

bundle-e2e-4-15:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-1
    owner: ols
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  steps:
    pre:
    - ref: ipi-install-rbac
    test:
    - as: e2e-install
      cli: latest
      commands: 'oc create namespace openshift-lightspeed
  
  ...

bundle-e2e-4-16:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-1
    owner: ols
    product: ocp
    timeout: 1h0m0s
    version: '4.16'
  steps:
    pre:
    - ref: ipi-install-rbac
    test:
    - as: e2e-install
      cli: latest
      commands: 'oc create namespace openshift-lightspeed
  
  ...

bundle-e2e-4-17:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-1
    owner: ols
    product: ocp
    timeout: 1h0m0s
    version: '4.17'
  steps:
    pre:
    - ref: ipi-install-rbac
    test:
    - as: e2e-install
      cli: latest
      commands: 'oc create namespace openshift-lightspeed
  
  ...

fips-image-scan-operator:
  steps:
    dependencies:
      SCAN_IMAGE: lightspeed-operator
    test:
    - ref: fips-check-image-scan

ci/prow/bundle-e2e-4-15:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/bundle-e2e-4-16:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/bundle-e2e-4-17:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/fips-image-scan-operator:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/generate:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Add image choosing based on OS version
  cmd/main.go
  internal/controller/constants.go
  internal/controller/olsconfig_controller.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

rolling back lint changes
  internal/controller/ols_app_server_assets.go
  internal/controller/resource_watchers.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

rolling back lint changes
  .golangci.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

moved getOpenshiftVersion to utils
  cmd/main.go
  internal/controller/ols_app_server_assets_test.go
  internal/controller/ols_app_server_reconciliator_test.go
  internal/controller/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

resolved conflicts
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

rolling back lint changes
  test/e2e/client.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

fixing tests
  internal/controller/ols_app_server_assets_test.go
  internal/controller/suite_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

rolling back lint changes
  Makefile
  internal/controller/ols_app_postgres_assets.go
  internal/controller/ols_app_postgres_reconciliator.go
  internal/controller/ols_app_server_assets.go
  internal/controller/ols_app_server_deployment.go
  internal/controller/ols_app_server_reconciliator.go
  internal/controller/ols_console_reconciliator.go
  internal/controller/operator_reconciliator.go
  internal/controller/resource_watchers.go
  test/e2e/assets.go
  test/e2e/client.go
  test/e2e/http_client.go
  test/e2e/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

fixing tests
  Makefile
  internal/controller/ols_app_server_assets_test.go
  internal/controller/ols_app_server_reconciliator_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

OLS-2118: Support disabling the OCP index in lightspeed-operator
  api/v1alpha1/olsconfig_types.go
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  hack/template_bundle.Containerfile
  internal/controller/ols_app_server_assets.go
  test/e2e/byok_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

refactoring olsconfig_controller as a preparation
  internal/controller/ols_app_server_reconciliator.go
  internal/controller/ols_app_server_reconciliator_test.go
  internal/controller/ols_console_reconciliator.go
  internal/controller/ols_console_reconciliator_test.go
  internal/controller/olsconfig_controller.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

fix: version bump patch update
  hack/version_patches/konflux-release-data.patch
  hack/version_patches/operator.patch
Due: ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

final implementation
  internal/controller/constants.go
  internal/controller/olsconfig_controller.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

updated 4.20 fbc files
  .tekton/fbc-v4-20-pull-request.yaml
  .tekton/fbc-v4-20-push.yaml
Due: none

Red Hat Konflux update fbc-v4-20
  .tekton/fbc-v4-20-pull-request.yaml
  .tekton/fbc-v4-20-push.yaml
Due: none

updated the base image for FBC 4.20
  lightspeed-catalog-4.20.Dockerfile
Due: none

Update related_images with snapshot crt-nshift-lightspeed-tenant/ols-g8llc
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

conf: fbc 4.20 pipeline trigger condition + hermetic + build source image
  .tekton/fbc-v4-20-pull-request.yaml
  .tekton/fbc-v4-20-push.yaml
Due: none

Red Hat Konflux purge fbc-v4-20
  .tekton/fbc-v4-20-pull-request.yaml
  .tekton/fbc-v4-20-push.yaml
Due: none

conf: konflux fbc-v4-20 - trigger condition
  .tekton/fbc-v4-20-pull-request.yaml
  .tekton/fbc-v4-20-push.yaml
Due: none

Update related_images with snapshot crt-nshift-lightspeed-tenant/ols-hcb4z
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

OLS-2170: Update the Postgres image for one with the application/vnd.docker.distribution.manifest.list.v2+json mediaType
  Makefile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  internal/controller/constants.go
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog-4.18/index.yaml
  lightspeed-catalog-4.19/index.yaml
  lightspeed-catalog-4.20/index.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

tool: include fbc 4.20 in automatic catalog update pipeline
  .tekton/release/catalog-update/pipeline.yaml
Due: none

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-zznnx
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog-4.18/index.yaml
  lightspeed-catalog-4.19/index.yaml
  lightspeed-catalog-4.20/index.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

Update related_images with snapshot crt-nshift-lightspeed-tenant/ols-6w2x2
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-dk56w
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog-4.18/index.yaml
  lightspeed-catalog-4.19/index.yaml
  lightspeed-catalog-4.20/index.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

tool: add fbc 4.20 release template
  hack/release-konflux/base/fbc-prod-v4-20.yaml
  hack/release-konflux/kustomization.yaml
Due: ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

moved getOpenshiftVersion to utils
  .golangci.yaml
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  cmd/main.go
  internal/controller/ols_app_postgres_assets.go
  internal/controller/ols_app_postgres_reconciliator.go
  internal/controller/ols_app_server_assets_test.go
  internal/controller/ols_app_server_deployment.go
  internal/controller/ols_app_server_reconciliator.go
  internal/controller/ols_app_server_reconciliator_test.go
  internal/controller/ols_console_reconciliator.go
  internal/controller/olsconfig_controller.go
  internal/controller/operator_reconciliator.go
  internal/controller/resource_watchers.go
  internal/controller/suite_test.go
  internal/controller/utils.go
  test/e2e/assets.go
  test/e2e/client.go
  test/e2e/http_client.go
  test/e2e/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Add image choosing based on OS version
  .golangci2.yaml
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  cmd/main.go
  internal/controller/constants.go
  internal/controller/ols_app_server_assets_test.go
  internal/controller/ols_app_server_reconciliator_test.go
  internal/controller/olsconfig_controller.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

bundle update
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

making Openshift version global
  .golangci.yaml
  internal/controller/ols_app_postgres_assets.go
  internal/controller/ols_app_postgres_reconciliator.go
  internal/controller/ols_app_server_assets.go
  internal/controller/ols_app_server_deployment.go
  internal/controller/ols_console_reconciliator.go
  internal/controller/olsconfig_controller.go
  internal/controller/operator_reconciliator.go
  internal/controller/resource_watchers.go
  test/e2e/assets.go
  test/e2e/client.go
  test/e2e/http_client.go
  test/e2e/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

updated clusterserviceversion.yaml
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

fix: MCP config should export settings for one transport only
  internal/controller/ols_app_server_assets.go
  internal/controller/ols_app_server_assets_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

refactoring olsconfig_controller
  internal/controller/constants.go
  internal/controller/ols_app_postgres_reconciliator_test.go
  internal/controller/ols_app_server_assets.go
  internal/controller/ols_app_server_assets_test.go
  internal/controller/ols_app_server_deployment.go
  internal/controller/ols_app_server_reconciliator.go
  internal/controller/ols_app_server_reconciliator_test.go
  internal/controller/ols_console_reconciliator.go
  internal/controller/ols_console_reconciliator_test.go
  internal/controller/olsconfig_controller.go
  internal/controller/resource_watchers.go
  internal/controller/resource_watchers_test.go
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog-4.18/index.yaml
  lightspeed-catalog-4.19/index.yaml
  lightspeed-catalog-4.20/index.yaml
  related_images.json
  test/e2e/reconciliation_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Conditional assignment of CONTAINER_TOOL
  Makefile
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Path conditions:
  bundle-e2e-4-15: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-16: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-17: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-15: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-16: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-17: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/generate: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/images: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/lint: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/unit: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
