Repository openshift/lightspeed-operator: changes, and which Prow jobs are due for each by the changed paths.
All: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Path conditions:
  bundle-e2e-4-15: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-16: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-17: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-15: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-16: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-17: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/generate: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/images: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/lint: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/unit: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$

Bundle Update from Snapshot crt-nshift-lightspeed-tenant/ols-8gp8t
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

removed time-based reconciliation
  ARCHITECTURE.md
  cmd/main.go
  internal/controller/olsconfig_controller.go
  internal/controller/olsconfig_helpers.go
  internal/controller/utils/constants.go
  internal/controller/utils/types.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Removing BAM references and supporting Watsonx.
  api/v1alpha1/olsconfig_types.go
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  internal/controller/appserver/assets_test.go
  internal/controller/lcore/assets_test.go
  internal/controller/lcore/config.go
  internal/controller/utils/test_fixtures.go
  internal/controller/utils/types.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

OLS-1829: Detect change in specified BYOK images
  Makefile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  cmd/main.go
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/crd/ocp/image.openshift.io_imagestreams.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
  hack/update_bundle.sh
  internal/controller/appserver/deployment.go
  internal/controller/appserver/rag.go
  internal/controller/appserver/rag_test.go
  internal/controller/appserver/reconciler.go
  internal/controller/appserver/suite_test.go
  internal/controller/console/reconciler.go
  internal/controller/lcore/deployment.go
  internal/controller/olsconfig_controller.go
  internal/controller/postgres/deployment.go
  internal/controller/suite_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/utils.go
  internal/controller/utils/utils_comparison_test.go
  internal/controller/utils/utils_deployment_test.go
  test/e2e/byok_test.go
  test/e2e/client.go
  test/e2e/image_utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Adding storage and fixing credentials for llama-stack 0.3.0
  config/default/kustomization.yaml
  internal/controller/lcore/config.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

reverting changes on apikey
  internal/controller/lcore/config.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

updated LCore config to use the latest image. Added Postgres for storing conversations
  cmd/main.go
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/deployment.go
  internal/controller/lcore/config.go
  internal/controller/lcore/deployment.go
  internal/controller/postgres/deployment.go
  internal/controller/utils/test_fixtures.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Exposing Lcore flag to csv
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

update version for 1.0.8
  AGENTS.md
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

add additional vllm based providers
  internal/controller/lcore/assets_test.go
  internal/controller/lcore/config.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

OLS-1829: Detect change in specified BYOK images
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-417.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-418.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-419.yaml
  Makefile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  cmd/main.go
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/crd/ocp/image.openshift.io_imagestreams.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
  hack/update_bundle.sh
  internal/controller/appserver/deployment.go
  internal/controller/appserver/rag.go
  internal/controller/appserver/rag_test.go
  internal/controller/appserver/reconciler.go
  internal/controller/appserver/suite_test.go
  internal/controller/console/reconciler.go
  internal/controller/lcore/deployment.go
  internal/controller/olsconfig_controller.go
  internal/controller/postgres/deployment.go
  internal/controller/suite_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/utils.go
  internal/controller/utils/utils_comparison_test.go
  internal/controller/utils/utils_deployment_test.go
  rpms.in.yaml
  rpms.lock.yaml
  test/e2e/byok_test.go
  test/e2e/client.go
  test/e2e/image_utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Reconciling app-server and postgres on cert rotation.
  internal/controller/appserver/deployment.go
  internal/controller/appserver/reconciler.go
  internal/controller/postgres/deployment.go
  internal/controller/utils/constants.go
  internal/controller/watchers/watchers.go
  test/e2e/postgres_restart_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Update related_images with snapshot crt-nshift-lightspeed-tenant/ols-xjbtb
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

updated pf5 image sha
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

implement detailed deployment diagnostics
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manager/manager.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controller/olsconfig_controller.go
  internal/controller/olsconfig_helpers.go
  internal/controller/olsconfig_helpers_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

changed coversations in llama stack to use Postgres instead of SQLlite
  internal/controller/lcore/config.go
  internal/controller/lcore/deployment.go
  internal/controller/lcore/deployment_test.go
  internal/controller/utils/constants.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-c4m6k
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog-4.18/index.yaml
  lightspeed-catalog-4.19/index.yaml
  lightspeed-catalog-4.20/index.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

fixed readiness probe
  internal/controller/lcore/deployment.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

updated fbc-fips-check-oci-ta version
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
  .tekton/fbc-v4-20-pull-request.yaml
  .tekton/fbc-v4-20-push.yaml
Due: none

add postgres image to relatedimages
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

removed so of the test flakiness tests
  test/e2e/autocorrection_test.go
  test/e2e/byok_test.go
  test/e2e/client.go
  test/e2e/database_test.go
  test/e2e/metrics_test.go
  test/e2e/postgres_restart_test.go
  test/e2e/proxy_test.go
  test/e2e/rapidast_test.go
  test/e2e/reconciliation_test.go
  test/e2e/suite_test.go
  test/e2e/tls_test.go
  test/e2e/upgrade_test.go
  test/e2e/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

enable quota support
  api/v1alpha1/olsconfig_types.go
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  internal/controller/lcore/config.go
  internal/controller/utils/constants.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Create Type-Safe LogLevel Enum
  api/v1alpha1/olsconfig_types.go
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/deployment.go
  internal/controller/appserver/reconciler_test.go
  internal/controller/lcore/config.go
  internal/controller/lcore/deployment.go
  internal/controller/utils/constants.go
  internal/controller/utils/test_fixtures.go
  test/e2e/assets.go
  test/e2e/reconciliation_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

App-server Postgres reconcilation on certificate rotation.
  internal/controller/appserver/deployment.go
  internal/controller/appserver/reconciler.go
  internal/controller/postgres/deployment.go
  internal/controller/utils/constants.go
  internal/controller/watchers/watchers.go
  test/e2e/postgres_restart_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

streamlining deployment config
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/deployment.go
  internal/controller/appserver/reconciler.go
  internal/controller/console/assets.go
  internal/controller/console/assets_test.go
  internal/controller/console/deployment.go
  internal/controller/lcore/assets.go
  internal/controller/lcore/deployment.go
  internal/controller/lcore/reconciler.go
  internal/controller/olsconfig_helpers.go
  internal/controller/postgres/assets_test.go
  internal/controller/postgres/deployment.go
  internal/controller/utils/utils.go
  test/e2e/assets.go
  test/e2e/reconciliation_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Adding key field to proxyCA config.
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/deployment.go
  internal/controller/appserver/reconciler_test.go
  internal/controller/lcore/reconciler.go
  internal/controller/lcore/reconciler_test.go
  internal/controller/olsconfig_helpers_test.go
  internal/controller/utils/utils.go
  test/e2e/proxy_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

OLS-2335: Add support for pull secrets for BYOK images
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/deployment.go
  internal/controller/lcore/deployment.go
  internal/controller/lcore/deployment_test.go
  test/e2e/byok_auth_test.go
  test/e2e/client.go
  test/e2e/postgres_restart_test.go
  test/e2e/rapidast_test.go
  test/e2e/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

OLS-2106: Operator connects Openshift RAG by default to LSC backend
  cmd/main.go
  internal/controller/appserver/deployment.go
  internal/controller/appserver/rag.go
  internal/controller/lcore/assets_test.go
  internal/controller/lcore/config.go
  internal/controller/lcore/deployment.go
  internal/controller/lcore/deployment_test.go
  internal/controller/olsconfig_helpers.go
  internal/controller/reconciler/interface.go
  internal/controller/utils/rag.go
  internal/controller/utils/rag_test.go
  internal/controller/utils/testing.go
  internal/controller/utils/types.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Add config_status into allowed data to export
  internal/controller/appserver/assets.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

implementing finalizer
  AGENTS.md
  ARCHITECTURE.md
  CONTRIBUTING.md
  internal/controller/console/reconciler.go
  internal/controller/olsconfig_controller.go
  internal/controller/olsconfig_finalizer_test.go
  internal/controller/olsconfig_helpers_test.go
  internal/controller/operator_assets_test.go
  internal/controller/suite_test.go
  internal/controller/utils/constants.go
  internal/controller/watchers/watchers.go
  test/e2e/autocorrection_test.go
  test/e2e/database_test.go
  test/e2e/metrics_test.go
  test/e2e/proxy_test.go
  test/e2e/reconciliation_test.go
  test/e2e/tls_test.go
  test/e2e/upgrade_test.go
  test/e2e/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Make querySystemPrompt work with non-lcore backend
  internal/controller/appserver/assets.go
  internal/controller/appserver/deployment.go
  internal/controller/utils/constants.go
  internal/controller/utils/types.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

OLS-2321: remove lightspeed-console from Prow CI
  Makefile
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  hack/template_bundle.Containerfile
  hack/update_bundle.sh
  internal/controller/utils/constants.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Adding key field to proxyCA config.
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/deployment.go
  internal/controller/appserver/reconciler.go
  internal/controller/appserver/reconciler_test.go
  internal/controller/lcore/config.go
  internal/controller/lcore/deployment.go
  internal/controller/lcore/reconciler.go
  internal/controller/lcore/reconciler_test.go
  internal/controller/olsconfig_helpers_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/utils.go
  test/e2e/proxy_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

fixed status reporting for the operator
  internal/controller/olsconfig_controller.go
  internal/controller/olsconfig_helpers.go
  internal/controller/olsconfig_helpers_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Add headers field descriptor
  api/v1alpha1/olsconfig_types.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog-4.18/index.yaml
  lightspeed-catalog-4.19/index.yaml
  lightspeed-catalog-4.20/index.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit
