Repository openshift/lightspeed-operator: changes, and which Prow jobs are due for each by the changed paths.
All: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Path conditions:
  bundle-e2e-4-15: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-16: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-17: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-20: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^renovate\.json|^\.golangci\.yaml|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/generate: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/lint: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/security: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260917-104257-000
  bundle/manifests/lightspeed-operator-ols-metrics-reader_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3928 consolidate tool-result inspection specs
  .ai/spec/how/config-generation.md
  .ai/spec/what/agentic-sandbox-profile.md
  .ai/spec/what/crd-api.md
Due: none

OLS-3188 Add agentic controller deployment and RBAC to v2 bundle
  config/agentic/README.md
  config/agentic/kustomization.yaml
  config/agentic/manager.yaml
  config/agentic/role.yaml
  config/agentic/role_binding.yaml
  config/agentic/run_approver_binding.yaml
  config/agentic/run_approver_role.yaml
  config/agentic/secret_reader_role_binding.yaml
  config/manifests/bases/lightspeed-operator-v2.clusterserviceversion.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-0000 Document agentic cluster RBAC limitation
  .ai/spec/what/security.md
Due: none

OLS-3569 specify Agentic collection deployment
  .ai/spec/README.md
  .ai/spec/how/deployment-generation.md
  .ai/spec/what/agentic-data-collection.md
  .ai/spec/what/agentic-sandbox-profile.md
  .ai/spec/what/crd-api.md
  .ai/spec/what/observability.md
  .ai/spec/what/templog.md
Due: none

OLS-3569 address Agentic collection spec review
  .ai/spec/how/deployment-generation.md
  .ai/spec/what/observability.md
Due: none

OLS-0000 add onmete and vimalk78 as approvers
  OWNERS
Due: none

OLS-4009 Split classic and agentic bundle identities
  .cursor/skills/version-update/SKILL.md
  .tekton/release/catalog-update/pipeline.yaml
  AGENTS.md
  Makefile
  config/default/deployment-patch.yaml
  config/manifests/bases/lightspeed-operator-v1.clusterserviceversion.yaml
  docs/olm-bundle-management.md
  docs/olm-catalog-management.md
  hack/bundle_to_catalog.sh
  hack/release_tools.md
  hack/update_bundle.sh
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4008 Add selector-driven bundle builds
  .cursor/skills/version-update/SKILL.md
  AGENTS.md
  Makefile
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/default/deployment-patch.yaml
  docs/olm-bundle-management.md
  hack/bundle.Dockerfile
  hack/release_tools.md
  hack/update_bundle.sh
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3450: Add credentialHotReload flag to skip app-server restart on LLM secret rotation
  api/v1alpha1/olsconfig_types.go
  bundle/manifests/lightspeed-operator-ols-metrics-reader_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  cmd/main.go
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  docs/credential-hot-reload.md
  internal/controller/appserver/assets.go
  internal/controller/olsconfig_controller.go
  internal/controller/olsconfig_helpers.go
  internal/controller/olsconfig_helpers_test.go
  internal/controller/utils/types.go
  internal/controller/watchers/watchers.go
  internal/controller/watchers/watchers_test.go
  test/e2e/reconciliation_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4243 Requeue OLSConfig when watched secrets are deleted
  .ai/spec/how/reconciliation.md
  .ai/spec/what/reconciliation.md
  .ai/spec/what/resource-lifecycle.md
  internal/controller/olsconfig_controller.go
  internal/controller/olsconfig_helpers.go
  internal/controller/olsconfig_reconciler_test.go
  internal/controller/watchers/watchers.go
  internal/controller/watchers/watchers_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4244 Validate defaultProvider and defaultModel against providers
  .ai/spec/how/config-generation.md
  .ai/spec/what/crd-api.md
  api/v1alpha1/olsconfig_types.go
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/olsconfig_helpers.go
  internal/controller/olsconfig_helpers_test.go
  internal/controller/utils/errors.go
  internal/controller/utils/utils.go
  internal/controller/utils/validate_defaults_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3038 document classic operator TLS handoff
  .ai/spec/how/project-structure.md
  .ai/spec/what/tls.md
Due: none

OLS-4245: publish TLS settings and additional CA for agentic operator
  .ai/spec/what/agentic-sandbox-profile.md
  .ai/spec/what/tls.md
  internal/controller/agenticintegration/assets.go
  internal/controller/agenticintegration/assets_test.go
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/errors.go
  internal/tls/tls_security_profile.go
  internal/tls/tls_security_profile_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

NO-JIRA Allow adapter config reads
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controller/alertsadapter/assets.go
  internal/controller/alertsadapter/assets_test.go
  internal/controller/alertsadapter/reconciler.go
  internal/controller/alertsadapter/reconciler_test.go
  internal/controller/olsconfig_controller.go
  internal/controller/utils/constants.go
  internal/controller/utils/errors.go
  internal/rbac/role_yaml_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3188 Add agentic controller deployment and RBAC to the v2 bundle
  config/agentic/README.md
  config/agentic/kustomization.yaml
  config/agentic/manager.yaml
  config/agentic/role.yaml
  config/agentic/role_binding.yaml
  config/agentic/run_approver_binding.yaml
  config/agentic/run_approver_role.yaml
  config/manifests/bases/lightspeed-operator-v2.clusterserviceversion.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3433 reconcile Affinity and TopologySpreadConstraints changes on deployments
  internal/controller/utils/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-0000 regenerate bundle with OTEL collector
  bundle/manifests/lightspeed-operator-ols-metrics-reader_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4250 deploy inspectable Agentic Collector spool
  .ai/spec/how/deployment-generation.md
  .ai/spec/what/agentic-data-collection.md
  internal/controller/otelcollector/assets.go
  internal/controller/otelcollector/assets_test.go
  internal/controller/otelcollector/deployment.go
  internal/controller/otelcollector/deployment_test.go
  internal/controller/utils/constants.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260923-113357-000
  bundle/manifests/lightspeed-operator-ols-metrics-reader_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20260923-160507-000
  lightspeed-catalog-4.16/bundle-v1.1.4.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/bundle-v1.1.4.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog-4.18/bundle-v1.1.4.yaml
  lightspeed-catalog-4.18/index.yaml
  lightspeed-catalog-4.19/bundle-v1.1.4.yaml
  lightspeed-catalog-4.19/index.yaml
  lightspeed-catalog-4.20/bundle-v1.1.4.yaml
  lightspeed-catalog-4.20/index.yaml
  lightspeed-catalog-4.21/bundle-v1.1.4.yaml
  lightspeed-catalog-4.21/index.yaml
  lightspeed-catalog-4.22/bundle-v1.1.4.yaml
  lightspeed-catalog-4.22/index.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4008 Add selector-driven bundle builds
  .cursor/skills/version-update/SKILL.md
  AGENTS.md
  Makefile
  bundle.Dockerfile
  config/default/deployment-patch.yaml
  docs/olm-bundle-management.md
  hack/bundle.Dockerfile
  hack/release_tools.md
  hack/update_bundle.sh
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260923-182925-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20260924-015048-000
  lightspeed-catalog-4.16/bundle-v1.1.4.yaml
  lightspeed-catalog-4.17/bundle-v1.1.4.yaml
  lightspeed-catalog-4.18/bundle-v1.1.4.yaml
  lightspeed-catalog-4.19/bundle-v1.1.4.yaml
  lightspeed-catalog-4.20/bundle-v1.1.4.yaml
  lightspeed-catalog-4.21/bundle-v1.1.4.yaml
  lightspeed-catalog-4.22/bundle-v1.1.4.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4210 propagate tool inspection configuration
  Makefile
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  internal/controller/agenticintegration/assets.go
  internal/controller/agenticintegration/assets_test.go
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/types.go
  internal/controller/utils/utils.go
  internal/controller/utils/utils_misc_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Bump openshift-mcp-server image from tech preview to GA
  .ai/spec/what/ocpmcp.md
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  internal/controller/ocpmcp/assets.go
  internal/controller/ocpmcp/assets_test.go
  internal/controller/ocpmcp/deployment.go
  internal/controller/ocpmcp/deployment_test.go
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3189 Sync agentic bundle manifests
  Makefile
  config/agentic/crds/agentic.openshift.io_agenticolsconfigs.yaml
  config/agentic/crds/agentic.openshift.io_agenticrunapprovals.yaml
  config/agentic/crds/agentic.openshift.io_agenticruns.yaml
  config/agentic/crds/agentic.openshift.io_agents.yaml
  config/agentic/crds/agentic.openshift.io_analysisresults.yaml
  config/agentic/crds/agentic.openshift.io_approvalpolicies.yaml
  config/agentic/crds/agentic.openshift.io_escalationresults.yaml
  config/agentic/crds/agentic.openshift.io_executionresults.yaml
  config/agentic/crds/agentic.openshift.io_llmproviders.yaml
  config/agentic/crds/agentic.openshift.io_verificationresults.yaml
  config/agentic/crds/kustomization.yaml
  config/agentic/role.yaml
  config/agentic/role_binding.yaml
  config/agentic/run_approver_binding.yaml
  config/agentic/run_approver_role.yaml
  config/agentic/service_account.yaml
  hack/sync_agentic_manifests.sh
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4010 Partition FBC catalogs by bundle version
  .tekton/lightspeed-agentic-operator-bundle-pull-request.yaml
  .tekton/lightspeed-agentic-operator-bundle-push.yaml
  .tekton/release/catalog-update/pipeline.yaml
  docs/olm-catalog-management.md
  hack/bundle_to_catalog.sh
  lightspeed-catalog-5.0.Dockerfile
  lightspeed-catalog-5.0/.gitkeep
Due: ci/prow/images

OLS-4280 specify terminal TTL handoff
  .ai/spec/what/agentic-sandbox-profile.md
  .ai/spec/what/crd-api.md
Due: none

fixing openshift4 image pull error
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-all-features.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline.yaml
  .tekton/integration-tests/pipelines/rapidast-scan.yaml
  konflux-integration/pipeline.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3450: Add credentialHotReload flag to skip app-server restart on LLM secret rotation
  api/v1alpha1/olsconfig_types.go
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  cmd/main.go
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  docs/credential-hot-reload.md
  internal/controller/appserver/assets.go
  internal/controller/olsconfig_controller.go
  internal/controller/olsconfig_helpers.go
  internal/controller/olsconfig_helpers_test.go
  internal/controller/utils/types.go
  internal/controller/watchers/watchers.go
  internal/controller/watchers/watchers_test.go
  test/e2e/reconciliation_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-0000 Pin Konflux CLI image to pullable RHEL 9 digest
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-all-features.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline.yaml
  .tekton/integration-tests/pipelines/rapidast-scan.yaml
  konflux-integration/pipeline.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-0000 Update OpenShift MCP server product image
  .ai/spec/what/ocpmcp.md
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  internal/controller/ocpmcp/assets.go
  internal/controller/ocpmcp/assets_test.go
  internal/controller/ocpmcp/deployment.go
  internal/controller/ocpmcp/deployment_test.go
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4290: Add terminal TTL to the agentic handoff
  .ai/spec/what/agentic-sandbox-profile.md
  .ai/spec/what/crd-api.md
  Makefile
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/olsconfig_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  internal/controller/agenticintegration/assets.go
  internal/controller/agenticintegration/assets_test.go
  internal/controller/agenticintegration/reconciler_test.go
  internal/controller/appserver/assets_test.go
  internal/controller/olsconfig_reconciler_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/types.go
  internal/tls/tls_security_profile_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-0000 Package generated v1 bundle in release update
  .tekton/release/bundle-update/pipeline.yaml
Due: none

OLS-0000 Generate classic bundle in packaged directory
  .tekton/release/bundle-update/pipeline.yaml
  hack/update_bundle.sh
Due: ci/prow/images

OLS-0000 Trigger classic bundle rebuild
  bundle.Dockerfile
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit
