Repository openshift/lightspeed-operator: changes, and which Prow jobs are due for each by the changed paths.
All: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

bundle-e2e-4-15:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-1
    owner: ols
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  steps:
    pre:
    - ref: ipi-install-rbac
    test:
    - as: e2e-install
      cli: latest
      commands: 'oc create namespace openshift-lightspeed
  
  ...

bundle-e2e-4-16:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-1
    owner: ols
    product: ocp
    timeout: 1h0m0s
    version: '4.16'
  steps:
    pre:
    - ref: ipi-install-rbac
    test:
    - as: e2e-install
      cli: latest
      commands: 'oc create namespace openshift-lightspeed
  
  ...

bundle-e2e-4-17:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-1
    owner: ols
    product: ocp
    timeout: 1h0m0s
    version: '4.17'
  steps:
    pre:
    - ref: ipi-install-rbac
    test:
    - as: e2e-install
      cli: latest
      commands: 'oc create namespace openshift-lightspeed
  
  ...

fips-image-scan-operator:
  steps:
    dependencies:
      SCAN_IMAGE: lightspeed-operator
    test:
    - ref: fips-check-image-scan

ci/prow/bundle-e2e-4-20:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/fips-image-scan-operator:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/generate:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/lint:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Pinning sha instead of label for OKP.
  .ai/spec/what/bundle-composition.md
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  docs/olm-bundle-management.md
  internal/controller/utils/constants.go
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260730-163442-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20260730-185124-000
  lightspeed-catalog-4.16/bundle-v1.1.2.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/bundle-v1.1.2.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog-4.18/bundle-v1.1.2.yaml
  lightspeed-catalog-4.18/index.yaml
  lightspeed-catalog-4.19/bundle-v1.1.2.yaml
  lightspeed-catalog-4.19/index.yaml
  lightspeed-catalog-4.20/bundle-v1.1.2.yaml
  lightspeed-catalog-4.20/index.yaml
  lightspeed-catalog-4.21/bundle-v1.1.2.yaml
  lightspeed-catalog-4.21/index.yaml
  lightspeed-catalog-4.22/bundle-v1.1.2.yaml
  lightspeed-catalog-4.22/index.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3726 Replace RHOKP sidecar with standalone HTTPS Deployment
  .ai/spec/how/project-structure.md
  .ai/spec/how/reconciliation.md
  .ai/spec/what/agentic-sandbox-profile.md
  .ai/spec/what/app-server.md
  .ai/spec/what/crd-api.md
  .ai/spec/what/ocpmcp.md
  .ai/spec/what/reconciliation.md
  .ai/spec/what/resource-lifecycle.md
  .ai/spec/what/rhokp.md
  .ai/spec/what/tls.md
  AGENTS.md
  api/v1alpha1/olsconfig_types.go
  cmd/main.go
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  internal/controller/agenticintegration/assets.go
  internal/controller/agenticintegration/assets_test.go
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/deployment.go
  internal/controller/appserver/deployment_test.go
  internal/controller/appserver/reconciler.go
  internal/controller/appserver/reconciler_test.go
  internal/controller/appserver/rhokp.go
  internal/controller/appserver/rhokp_test.go
  internal/controller/appserver/suite_test.go
  internal/controller/ocpmcp/reconciler.go
  internal/controller/olsconfig_controller.go
  internal/controller/olsconfig_helpers.go
  internal/controller/olsconfig_helpers_test.go
  internal/controller/rhokp/assets.go
  internal/controller/rhokp/deployment.go
  internal/controller/rhokp/reconciler.go
  internal/controller/rhokp/reconciler_test.go
  internal/controller/rhokp/suite_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/errors.go
  internal/controller/utils/types.go
  internal/controller/watchers/watchers.go
  internal/controller/watchers/watchers_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3593 detect RAG spec changes via annotation hash
  internal/controller/appserver/deployment.go
  internal/controller/utils/constants.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260803-121649-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3765 Add restricted securityContext to sandbox PodSpec in ConfigMap
  internal/controller/agenticintegration/assets.go
  internal/controller/agenticintegration/assets_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20260803-173354-000
  lightspeed-catalog-4.16/bundle-v1.1.2.yaml
  lightspeed-catalog-4.17/bundle-v1.1.2.yaml
  lightspeed-catalog-4.18/bundle-v1.1.2.yaml
  lightspeed-catalog-4.19/bundle-v1.1.2.yaml
  lightspeed-catalog-4.20/bundle-v1.1.2.yaml
  lightspeed-catalog-4.21/bundle-v1.1.2.yaml
  lightspeed-catalog-4.22/bundle-v1.1.2.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3450: Add credentialHotReload flag to skip app-server restart on LLM secret rotation
  api/v1alpha1/olsconfig_types.go
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  docs/credential-hot-reload.md
  internal/controller/olsconfig_controller.go
  internal/controller/olsconfig_helpers.go
  internal/controller/utils/types.go
  internal/controller/watchers/watchers.go
  internal/controller/watchers/watchers_test.go
  test/e2e/reconciliation_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3450: Rework hot-reload to annotation-based approach per review
  internal/controller/appserver/assets.go
  internal/controller/olsconfig_helpers.go
  internal/controller/utils/types.go
  internal/controller/watchers/watchers.go
  internal/controller/watchers/watchers_test.go
  test/e2e/reconciliation_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

fix(e2e): clear dangling AdditionalCAConfigMapRef before hot-reload test
  internal/controller/olsconfig_helpers.go
  test/e2e/reconciliation_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Address code review: collect annotation removal errors, use constant, add unit tests
  internal/controller/olsconfig_helpers.go
  internal/controller/olsconfig_helpers_test.go
  test/e2e/reconciliation_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Make annotation errors non-blocking to prevent ConfigMap update starvation
  internal/controller/olsconfig_helpers.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update bundle CRD with credentialHotReload field
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3546 Address CodeRabbit review: wrap SetControllerReference error with shared constant
  internal/controller/appserver/assets.go
  internal/controller/utils/errors.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3515 OLS-3728: Add ServiceMonitor for ocp-mcp server and fix OTEL routing condition
  internal/controller/ocpmcp/assets.go
  internal/controller/ocpmcp/assets_test.go
  internal/controller/ocpmcp/reconciler.go
  internal/controller/ocpmcp/reconciler_test.go
  internal/controller/ocpmcp/suite_test.go
  internal/controller/olsconfig_controller.go
  internal/controller/otelcollector/assets.go
  internal/controller/otelcollector/assets_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/errors.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3799 Add RHOKP wait init container spec for app-server deployment
  .ai/spec/how/deployment-generation.md
  .ai/spec/what/app-server.md
Due: none

OLS-3727: Add ServiceMonitor for RHOKP Solr metrics
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/reconciler.go
  internal/controller/ocpmcp/assets.go
  internal/controller/ocpmcp/assets_test.go
  internal/controller/ocpmcp/reconciler.go
  internal/controller/otelcollector/assets.go
  internal/controller/otelcollector/assets_test.go
  internal/controller/otelcollector/reconciler.go
  internal/controller/rhokp/assets.go
  internal/controller/rhokp/reconciler.go
  internal/controller/rhokp/reconciler_test.go
  internal/controller/rhokp/suite_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/errors.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3799 Add wait-for-rhokp init container to app-server deployment
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/deployment.go
  internal/controller/appserver/deployment_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/rhokp_wait.go
  internal/controller/utils/rhokp_wait_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260805-162319-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20260805-193717-000
  lightspeed-catalog-4.16/bundle-v1.1.2.yaml
  lightspeed-catalog-4.17/bundle-v1.1.2.yaml
  lightspeed-catalog-4.18/bundle-v1.1.2.yaml
  lightspeed-catalog-4.19/bundle-v1.1.2.yaml
  lightspeed-catalog-4.20/bundle-v1.1.2.yaml
  lightspeed-catalog-4.21/bundle-v1.1.2.yaml
  lightspeed-catalog-4.22/bundle-v1.1.2.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Removing agentic images fallback and passing empty string.
  internal/controller/olsconfig_controller.go
  internal/controller/otelcollector/deployment_test.go
  internal/controller/otelcollector/reconciler_test.go
  internal/controller/otelcollector/suite_test.go
  internal/controller/utils/constants.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260806-133348-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20260806-153142-000
  lightspeed-catalog-4.16/bundle-v1.1.2.yaml
  lightspeed-catalog-4.17/bundle-v1.1.2.yaml
  lightspeed-catalog-4.18/bundle-v1.1.2.yaml
  lightspeed-catalog-4.19/bundle-v1.1.2.yaml
  lightspeed-catalog-4.20/bundle-v1.1.2.yaml
  lightspeed-catalog-4.21/bundle-v1.1.2.yaml
  lightspeed-catalog-4.22/bundle-v1.1.2.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260806-175212-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20260806-210735-000
  lightspeed-catalog-4.16/bundle-v1.1.2.yaml
  lightspeed-catalog-4.17/bundle-v1.1.2.yaml
  lightspeed-catalog-4.18/bundle-v1.1.2.yaml
  lightspeed-catalog-4.19/bundle-v1.1.2.yaml
  lightspeed-catalog-4.20/bundle-v1.1.2.yaml
  lightspeed-catalog-4.21/bundle-v1.1.2.yaml
  lightspeed-catalog-4.22/bundle-v1.1.2.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260806-205251-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3632: Add oc-ols CLI scaffolding and kubeconfig integration
  .ai/spec/how/cli.md
  AGENTS.md
  cli/kubeconfig.go
  cli/kubeconfig_test.go
  cli/root.go
  cli/root_test.go
  cli/testutil_test.go
  cli/version.go
  cli/version_test.go
  cmd/oc-ols/main.go
  go.mod
  go.sum
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3632: Address CodeRabbit review feedback
  cli/kubeconfig.go
  cli/kubeconfig_test.go
  cli/root.go
  cli/root_test.go
  cli/version.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3632: Add doc comment to loadCACertPool
  cli/kubeconfig.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3632: Convert CLI tests to Ginkgo/Gomega
  cli/kubeconfig_test.go
  cli/root_test.go
  cli/suite_test.go
  cli/version_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3546 Add non-default namespace test for metrics reader CRB generator
  internal/controller/appserver/assets_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Enable MCP write tools by setting read_only=false in openshift-mcp-server config
  .ai/spec/what/security.md
  internal/controller/ocpmcp/assets.go
  internal/controller/ocpmcp/assets_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3546 Reconcile OwnerReferences/Labels and handle RoleRef drift on metrics reader CRB
  internal/controller/appserver/reconciler.go
  internal/controller/appserver/reconciler_test.go
  internal/controller/utils/errors.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3853 Bump version to 1.1.3
  Makefile
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-0000 Scope secrets RBAC from ClusterRole to namespace-scoped Role
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controller/olsconfig_controller.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3859 enable read-only Tekton tools
  internal/controller/ocpmcp/assets.go
  internal/controller/ocpmcp/assets_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3491 update specs for configurable agentic step instructions
  .ai/spec/what/agentic-sandbox-profile.md
  .ai/spec/what/crd-api.md
Due: none

OLS-3491 fix: address CodeRabbit review comments
  .ai/spec/what/agentic-sandbox-profile.md
  .ai/spec/what/crd-api.md
Due: none

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260812-145148-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Path conditions:
  bundle-e2e-4-15: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-16: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-17: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-20: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^renovate\.json|^\.golangci\.yaml|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/generate: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/lint: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/security: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
