Repository openshift/lightspeed-operator: changes, and which Prow jobs are due for each by the changed paths.
All: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Path conditions:
  bundle-e2e-4-15: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-16: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-17: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-15: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-16: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-17: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/generate: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/images: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/lint: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/unit: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$

fix: update the version patch of konflux-release-data
  hack/version_patches/konflux-release-data.patch
Due: ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Update related_images with snapshot crt-nshift-lightspeed-tenant/ols-tfwxx
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-sg4xn
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog-4.18/index.yaml
  lightspeed-catalog-4.19/index.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

git: ignore test-artifacts
  .gitignore
Due: none

test: add case of database persistency
  Makefile
  test/e2e/client.go
  test/e2e/database_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

tool: update konflux snapshots for 1.0.3 in release objects
  hack/release-konflux/kustomization.yaml
Due: ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Updating snapshot to image list to add postgres image.
  hack/snapshot_to_image_list.sh
Due: ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Adding proxy test, squid.conf under utils and modifications to client.go
  test/e2e/client.go
  test/e2e/proxy_test.go
  test/utils/squid.conf
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

refactoring using cursor
  test/e2e/proxy_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

feat: add validation webhook for OLSConfig CRD
  Makefile
  PROJECT
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/lightspeed-operator-webhook-service_v1_service.yaml
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  cmd/main.go
  config/crd/kustomization.yaml
  config/default/kustomization.yaml
  config/default/manager_webhook_patch.yaml
  config/default/webhookcainjection_patch.yaml
  config/webhook/kustomization.yaml
  config/webhook/kustomizeconfig.yaml
  config/webhook/manifests.yaml
  config/webhook/service.yaml
  internal/controller/operator_reconciliator.go
  internal/controller/operator_reconciliator_test.go
  internal/webhook/olsconfig_webhook.go
  internal/webhook/olsconfig_webhook_test.go
  internal/webhook/webhook_suite_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Creating upgrade test for OLS operator
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-418.yaml
  Makefile
  test/e2e/client.go
  test/e2e/upgrade_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Fixing tests based on solutions
  test/e2e/client.go
  test/e2e/proxy_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

sync auto generated codes
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/lightspeed-operator-webhook-service_v1_service.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  internal/webhook/olsconfig_webhook.go
  internal/webhook/olsconfig_webhook_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

fix: hide bearer token from test logs
  test/e2e/byok_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

OLS-1862: Replace the stdio MCP server config with a sidecar container Some of the code in this commit was generated by AI.
  Makefile
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  cmd/main.go
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  docs/olsconfig-ols-openshift-io-v1alpha1.adoc
  hack/template_bundle.Containerfile
  hack/update_bundle.sh
  hack/update_bundle_catalog.sh
  internal/controller/constants.go
  internal/controller/ols_app_server_assets.go
  internal/controller/ols_app_server_assets_test.go
  internal/controller/ols_app_server_deployment.go
  internal/controller/olsconfig_controller.go
  internal/controller/types.go
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog-4.18/index.yaml
  lightspeed-catalog-4.19/index.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

sync auto generated codes
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/lightspeed-operator-webhook-service_v1_service.yaml
  internal/webhook/olsconfig_webhook.go
  internal/webhook/olsconfig_webhook_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

explicitly patch service for webhook
  bundle/manifests/lightspeed-operator-controller-manager-service_v1_service.yaml
  config/crd/kustomization.yaml
  config/default/manager_webhook_patch.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

remove deprecated script hack/update_bundle_catalog.sh
  hack/update_bundle_catalog.sh
  hack/version_patches/operator.patch
Due: ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Added the MCP server component to the snapshot_to_image_list script
  hack/snapshot_to_image_list.sh
Due: ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

feat: add MCPConfig and Feature Gate to CRD
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  internal/controller/constants.go
  internal/controller/ols_app_server_assets.go
  internal/controller/ols_app_server_assets_test.go
  internal/controller/types.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

chore(deps): update konflux references
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
  .tekton/lightspeed-operator-pull-request.yaml
  .tekton/lightspeed-operator-push.yaml
  .tekton/ols-bundle-pull-request.yaml
  .tekton/ols-bundle-push.yaml
Due: none

fix: confirm removal of PVC after proxy test
  test/e2e/proxy_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

Adding 4.19 tests and other versions of operator upgrade tests
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-419.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-419.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-415.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-417.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-419.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.19.yaml
Due: none

golang update to 1.24
  Dockerfile
  go.mod
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Reconciling when ca cert deleted for postgres pod.
  internal/controller/constants.go
  internal/controller/ols_app_postgres_assets.go
  internal/controller/ols_app_postgres_reconciliator.go
  internal/controller/ols_app_server_reconciliator.go
  internal/controller/olsconfig_controller.go
  internal/controller/resource_watchers.go
  test/e2e/client.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Red Hat Konflux purge fbc-v4-15
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
Due: none

Add config collection option
  api/v1alpha1/olsconfig_types.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  internal/controller/ols_app_server_assets.go
  internal/controller/ols_app_server_assets_test.go
  internal/controller/ols_app_server_deployment.go
  internal/controller/types.go
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog-4.18/index.yaml
  lightspeed-catalog-4.19/index.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

updated go toolchain to 1.23.10
  go.mod
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Removing 415 tests in operator repository
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-415.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-415.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-415.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.15.yaml
Due: none

OLS-1700: Remove support for OCP 4.15
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-415.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-415.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.15.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.16.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.17.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.18.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.19.yaml
  .tekton/integration-tests/pipelines/rapidast-scan.yaml
  .tekton/release/catalog-update/pipeline.yaml
  README.md
  bundle.Dockerfile
  bundle/metadata/annotations.yaml
  hack/release-konflux/base/fbc-prod-v4-15.yaml
  hack/release-konflux/kustomization.yaml
  hack/template_bundle.Containerfile
  hack/update_bundle.sh
  hack/update_bundle_catalog.sh
  internal/controller/ols_app_server_assets_test.go
  internal/controller/ols_app_server_reconciliator_test.go
  lightspeed-catalog-4.15.Dockerfile
  lightspeed-catalog-4.15/index.yaml
  renovate.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

wip
  internal/controller/constants.go
  internal/controller/ols_app_server_assets.go
  internal/controller/ols_app_server_deployment.go
  internal/controller/ols_app_server_reconciliator.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

updated image mirror to GA reference
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-417.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-418.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-419.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-417.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-418.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-419.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-417.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-418.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-419.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.16.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.17.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.18.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.19.yaml
  config/manager/imagedigestmirrorset.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

Collect config when feedback or transcripts are enabled
  api/v1alpha1/olsconfig_types.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  internal/controller/ols_app_server_assets.go
  internal/controller/ols_app_server_deployment.go
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog-4.18/index.yaml
  lightspeed-catalog-4.19/index.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Fixing errors.
  test/e2e/client.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

Update the openshift-mcp-server image references
  Makefile
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  hack/template_bundle.Containerfile
  hack/update_bundle.sh
  internal/controller/constants.go
  internal/controller/ols_app_server_assets_test.go
  internal/controller/ols_app_server_deployment.go
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog-4.18/index.yaml
  lightspeed-catalog-4.19/index.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit
