Repository openshift/lightspeed-operator: changes, and which Prow jobs are due for each by the changed paths.
All: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Path conditions:
  bundle-e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/generate: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/images: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/lint: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/unit: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$

snapshot_to_catalog.sh: add migrate option for OCP 4.17+
  Makefile
  hack/snapshot_to_catalog.sh
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

update catalogs to snapshot ols-gl2mg
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
Due: bundle-e2e

chore(deps): update lightspeed-service to e9c3721
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
Due: bundle-e2e

chore(deps): update lightspeed-console to 00733f0
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e

Adding 4.15, 4.17 and changing the name of the 4.16 pipeline
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.15.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.16.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.17.yaml
Due: bundle-e2e

Red Hat Konflux update lightspeed-operator Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/lightspeed-operator-pull-request.yaml
  .tekton/lightspeed-operator-push.yaml
Due: bundle-e2e

Red Hat Konflux update bundle Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
Due: bundle-e2e

formatted doc for bundle
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e

disconnected is set to true and proxy-aware false
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e

OLS 0.2.0 version update Change the release channel to alpha
  Makefile
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  hack/operator.yaml
  hack/publish_package_builds.sh
  hack/snapshot_to_catalog.sh
  hack/update_bundle_catalog.sh
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog/index.yaml
  testbundle.Containerfile
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

chore(deps): update lightspeed-console to bfe0281
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e

chore(deps): update lightspeed-operator to ef3c3bf
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e

OLS release 0.2.0 component SHAs
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
Due: bundle-e2e

Restore Konflux pipeline settings after upgrade
  .tekton/lightspeed-operator-pull-request.yaml
  .tekton/lightspeed-operator-push.yaml
Due: bundle-e2e

OLS release 0.2.0 component SHAs: operator
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
Due: bundle-e2e

OLS release 0.2.0: openshift-lightspeed-beta -> openshift-lightspeed-tech-preview
  README.md
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  config/manager/imagedigestmirrorset.yaml
  config/manager/kustomization.yaml
  hack/snapshot_to_catalog.sh
  hack/update_bundle_catalog.sh
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog/index.yaml
  testbundle.Containerfile
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

OLS release 0.2.0 catalog updates
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
Due: bundle-e2e

OLS release 0.2.1 version update
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  hack/update_bundle_catalog.sh
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

chore(deps): update lightspeed-console to bac615c
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e

add TLSSecurityProfile field in OLSSpec and Provider to OLSConfig CRD
  Makefile
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controller/olsconfig_controller.go
  internal/controller/utils.go
  internal/controller/utils_test.go
  internal/tls/suite_test.go
  internal/tls/tls_security_profile.go
  internal/tls/tls_security_profile_test.go
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Dockerfile: add all sub dir of internal/ to build
  Dockerfile
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

add support for providing custom certs for OLS and Custom ca for UI
  api/v1alpha1/olsconfig_types.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  hack/custom_certs/cr-with-custom-certs.yaml
  hack/custom_certs/generate-certs.sh
  internal/controller/ols_app_server_assets.go
  internal/controller/ols_app_server_reconciliator.go
  internal/controller/ols_console_reconciliator.go
  internal/controller/ols_console_ui_assets.go
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

customizable TLS key and cert on application HTTPS endpoint
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  hack/custom_certs/cr-with-custom-certs.yaml
  hack/custom_certs/generate-certs.sh
  internal/controller/ols_app_server_assets.go
  internal/controller/ols_app_server_assets_test.go
  internal/controller/ols_app_server_deployment.go
  internal/controller/ols_app_server_reconciliator.go
  internal/controller/ols_app_server_reconciliator_test.go
  internal/controller/ols_console_reconciliator.go
  internal/controller/ols_console_ui_assets.go
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

chore(deps): update lightspeed-operator to 8c30be8
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
Due: bundle-e2e

chore(deps): update lightspeed-service to 723f92f
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
Due: bundle-e2e

add josh and removed vladimir from approvers
  OWNERS
Due: none

chore(deps): update lightspeed-console to ac57875
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e

add TLSSecurityProfile field in OLSSpec and Provider to OLSConfig CRD
  Makefile
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controller/olsconfig_controller.go
  internal/tls/suite_test.go
  internal/tls/tls_security_profile.go
  internal/tls/tls_security_profile_test.go
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

feature: operator's metrics server enforce TLS Security Profile
  cmd/main.go
  internal/controller/utils.go
  internal/tls/tls_security_profile.go
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

chore(deps): update lightspeed-operator to 490bf88
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
Due: bundle-e2e

Red Hat Konflux update bundle
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
Due: bundle-e2e

Red Hat Konflux update fbc-v4-15 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
Due: bundle-e2e

Red Hat Konflux update fbc-v4-16 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
Due: bundle-e2e

Red Hat Konflux update fbc-v4-17 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
Due: bundle-e2e

chore(deps): update lightspeed-service to 05e8265
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
Due: bundle-e2e

chore(deps): update lightspeed-console to 4d524fc
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e

fix: CSV yaml format
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e

Adds contact link to operator description.
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e
