Repository openshift/lightspeed-operator: changes, and which Prow jobs are due for each by the changed paths.
All: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Path conditions:
  bundle-e2e: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/generate: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/images: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/lint: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/unit: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$

add readme for update_bundle_catalog.sh
  README.md
Due: none

chore(deps): update lightspeed-operator to c8bbe3b
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e

chore(deps): update lightspeed-service to 02bfa5a
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e

chore(deps): update lightspeed-operator to 485b826
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e

OLS release 0.1.1
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  hack/update_bundle_catalog.sh
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

chore(deps): update lightspeed-service to cf1b945
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e

chore(deps): update lightspeed-console to 2cfe6fa
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e

OLS release 0.1.1: snapshot-to-catalog
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
Due: bundle-e2e

chore(deps): update lightspeed-service to dc38bef
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e

added example for azure openai secret
  README.md
Due: none

OLS 0.1.1 release: add skipRange and replaces to the CVS
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e

added upgrade graph with skipRange
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
Due: bundle-e2e

Add olsconfig to collector sidecar
  internal/controller/ols_app_server_assets_test.go
  internal/controller/ols_app_server_deployment.go
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

chore(deps): update lightspeed-operator to af95acf
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e

removed disconnect and fips compliant
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e

docs: fix wrong name and yaml format
  README.md
Due: none

refer quay.io for CI catalog
  lightspeed-catalog/index.yaml
Due: bundle-e2e

fix(KONFLUX-3663): format Tekton PipelineRun files
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
  .tekton/lightspeed-operator-pull-request.yaml
  .tekton/lightspeed-operator-push.yaml
Due: bundle-e2e

fix(KONFLUX-3663): upload SAST results to quay.io
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
  .tekton/lightspeed-operator-pull-request.yaml
  .tekton/lightspeed-operator-push.yaml
Due: bundle-e2e

OLS release 0.1.2 version update
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  hack/update_bundle_catalog.sh
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

chore(deps): update lightspeed-console to 193c1dc
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e

chore(deps): update lightspeed-service to f1fb75f
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e

chore(deps): update lightspeed-service to db19a87
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e

chore(deps): update lightspeed-console to 0c8c02f
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e

OLS 0.1.2 latest SHAs
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e

OLS 0.1.2 snapshot ols-fgzk4
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e

OLS 0.1.2 snapshot-to-catalog
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e

OLS 0.1.3 version update
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  hack/update_bundle_catalog.sh
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Commiting changes to pipeline and pipeline run to include eaas provisioning instead of ROSA
  .tekton/integration-tests/pipelines/lightspeed-integration-test-pipeline.yaml
  .tekton/pull-request.yaml
Due: bundle-e2e

Fixing referrences
  .tekton/integration-tests/pipelines/lightspeed-integration-test-pipeline.yaml
Due: bundle-e2e

OLS 0.1.3 latest SHAs
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e

OLS 0.1.2 snapshot-to-catalog with snapshot ols-dlgtp
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e

OLS 0.1.4 version update
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  hack/update_bundle_catalog.sh
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog/index.yaml
Due: bundle-e2e, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Removing parameters from pipeline to tak
  .tekton/integration-tests/pipelines/lightspeed-integration-test-pipeline.yaml
  .tekton/pull-request.yaml
Due: bundle-e2e

konflux: explicit hermetic parameter
  .tekton/bundle-push.yaml
Due: bundle-e2e

konflux: build source container + force prefetch-dependency to run
  .tekton/bundle-push.yaml
  .tekton/lightspeed-operator-push.yaml
Due: bundle-e2e

Trying to reference pipelinesascode
  .tekton/integration-tests/pipelines/lightspeed-integration-test-pipeline.yaml
  .tekton/integration-tests/tasks/ols-e2e-task.yaml
  .tekton/integration-tests/tasks/ols-installer.yaml
  .tekton/pull-request.yaml
Due: bundle-e2e

retrying
  .tekton/integration-tests/pipelines/lightspeed-integration-test-pipeline.yaml
Due: bundle-e2e

Fixing quotation marks
  .tekton/integration-tests/pipelines/lightspeed-integration-test-pipeline.yaml
Due: bundle-e2e

Adding reference task
  .tekton/integration-tests/pipelines/lightspeed-integration-test-pipeline.yaml
  .tekton/integration-tests/tasks/ols-installer.yaml
Due: bundle-e2e
