Repository openshift/lightspeed-operator: changes, and which Prow jobs are due for each by the changed paths.
All: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Path conditions:
  bundle-e2e-4-15: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-16: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-17: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-20: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^renovate\.json|^\.golangci\.yaml|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/generate: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/lint: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/security: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$

OLS-4243 Stabilize credential deletion e2e test
  .ai/spec/how/reconciliation.md
  .ai/spec/what/reconciliation.md
  .ai/spec/what/resource-lifecycle.md
  cmd/main.go
  internal/controller/olsconfig_controller.go
  internal/controller/olsconfig_helpers.go
  internal/controller/olsconfig_reconciler_test.go
  internal/controller/reconciler/interface.go
  internal/controller/utils/testing.go
  internal/controller/utils/utils.go
  internal/controller/watchers/watchers.go
  internal/controller/watchers/watchers_test.go
  test/e2e/client.go
  test/e2e/reconciliation_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

NO-JIRA Allow adapter config reads
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controller/alertsadapter/assets.go
  internal/controller/alertsadapter/assets_test.go
  internal/controller/alertsadapter/reconciler.go
  internal/controller/alertsadapter/reconciler_test.go
  internal/controller/olsconfig_controller.go
  internal/controller/utils/constants.go
  internal/controller/utils/errors.go
  internal/rbac/role_yaml_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

move from 4o mini to 6 luna
  .ai/spec/how/project-structure.md
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-all-features.yaml
  .tekton/integration-tests/scripts/run-operator-e2e-tests.sh
  .tekton/integration-tests/scripts/run-operator-upgrade-tests.sh
  README.md
  config/samples/ols_v1alpha1_olsconfig.yaml
  test/e2e/constants.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4324 Add alerts-adapter egress policy
  .ai/spec/what/reconciliation.md
  .ai/spec/what/security.md
  internal/controller/alertsadapter/assets.go
  internal/controller/alertsadapter/assets_test.go
  internal/controller/alertsadapter/reconciler.go
  internal/controller/alertsadapter/reconciler_test.go
  internal/controller/olsconfig_controller.go
  internal/controller/olsconfig_finalizer_test.go
  internal/controller/olsconfig_reconciler_test.go
  internal/controller/utils/constants.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4007 Allow alerts adapter to read AgenticOLSConfig
  bundle-v2/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controller/alertsadapter/assets.go
  internal/controller/alertsadapter/assets_test.go
  internal/controller/alertsadapter/reconciler.go
  internal/controller/alertsadapter/reconciler_test.go
  internal/controller/olsconfig_controller.go
  internal/controller/utils/constants.go
  internal/controller/utils/errors.go
  internal/rbac/role_yaml_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4349 Gate Classic agentic operands on completed upgrades
  internal/controller/agenticconsole/suite_test.go
  internal/controller/agenticintegration/assets.go
  internal/controller/agenticintegration/suite_test.go
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/client_ca_gate_test.go
  internal/controller/appserver/deployment.go
  internal/controller/appserver/deployment_test.go
  internal/controller/appserver/suite_test.go
  internal/controller/olsconfig_controller.go
  internal/controller/olsconfig_helpers.go
  internal/controller/olsconfig_reconciler_test.go
  internal/controller/suite_test.go
  internal/controller/upgrade_version_test.go
  internal/controller/utils/agentic_version_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4250 enable FileExporter trace data collection
  .ai/spec/README.md
  .ai/spec/how/deployment-generation.md
  .ai/spec/what/agentic-data-collection.md
  .ai/spec/what/agentic-sandbox-profile.md
  .ai/spec/what/crd-api.md
  .ai/spec/what/data-collection.md
  .ai/spec/what/observability.md
  .ai/spec/what/templog.md
  README.md
  internal/controller/otelcollector/assets.go
  internal/controller/otelcollector/assets_test.go
  internal/controller/otelcollector/deployment.go
  internal/controller/otelcollector/deployment_test.go
  internal/controller/utils/constants.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

updates after review
  internal/controller/alertsadapter/assets.go
  internal/controller/alertsadapter/assets_test.go
  internal/controller/alertsadapter/reconciler.go
  internal/controller/alertsadapter/reconciler_test.go
  internal/controller/utils/errors.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Fix broken rpms-signature-scan Tekton bundle digest
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
  .tekton/fbc-v4-20-pull-request.yaml
  .tekton/fbc-v4-20-push.yaml
  .tekton/lightspeed-operator-pull-request.yaml
  .tekton/lightspeed-operator-push.yaml
  .tekton/ols-bundle-pull-request.yaml
  .tekton/ols-bundle-push.yaml
Due: none

Enable the Tekton toolset
  .ai/spec/what/ocpmcp.md
  internal/controller/ocpmcp/assets.go
  internal/controller/ocpmcp/assets_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4368 Bump classic operator bundle to 1.1.5
  Makefile
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  hack/bundle.Dockerfile
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4349 Gate Agentic reconciliation on completed OCP version
  internal/controller/agenticconsole/suite_test.go
  internal/controller/agenticintegration/assets.go
  internal/controller/agenticintegration/suite_test.go
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/client_ca_gate_test.go
  internal/controller/appserver/deployment.go
  internal/controller/appserver/deployment_test.go
  internal/controller/appserver/suite_test.go
  internal/controller/olsconfig_controller.go
  internal/controller/olsconfig_finalizer_test.go
  internal/controller/olsconfig_helpers.go
  internal/controller/olsconfig_reconciler_test.go
  internal/controller/suite_test.go
  internal/controller/upgrade_version_test.go
  internal/controller/utils/agentic_version_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4349 Seed service CA secrets in reconcile tests
  internal/controller/olsconfig_reconciler_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4302 verify classic chat tracing via Jaeger E2E
  test/e2e/http_client.go
  test/e2e/jaeger_query_test.go
  test/e2e/otel_tracing_test.go
  test/e2e/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20261006-184034-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20261006-195154-000
  lightspeed-catalog-4.16/bundle-v1.1.5.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/bundle-v1.1.5.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog-4.18/bundle-v1.1.5.yaml
  lightspeed-catalog-4.18/index.yaml
  lightspeed-catalog-4.19/bundle-v1.1.5.yaml
  lightspeed-catalog-4.19/index.yaml
  lightspeed-catalog-4.20/bundle-v1.1.5.yaml
  lightspeed-catalog-4.20/index.yaml
  lightspeed-catalog-4.21/bundle-v1.1.5.yaml
  lightspeed-catalog-4.21/index.yaml
  lightspeed-catalog-4.22/bundle-v1.1.5.yaml
  lightspeed-catalog-4.22/index.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4250 enable FileExporter trace data collection
  .ai/spec/README.md
  .ai/spec/how/deployment-generation.md
  .ai/spec/what/agentic-data-collection.md
  .ai/spec/what/agentic-sandbox-profile.md
  .ai/spec/what/crd-api.md
  .ai/spec/what/data-collection.md
  .ai/spec/what/observability.md
  .ai/spec/what/templog.md
  README.md
  internal/controller/otelcollector/assets.go
  internal/controller/otelcollector/assets_test.go
  internal/controller/otelcollector/deployment.go
  internal/controller/otelcollector/deployment_test.go
  internal/controller/otelcollector/reconciler_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/utils.go
  internal/controller/utils/utils_comparison_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4250 Add Dataverse exporter to OTel Collector
  .ai/spec/README.md
  .ai/spec/how/config-generation.md
  .ai/spec/how/deployment-generation.md
  .ai/spec/how/project-structure.md
  .ai/spec/how/reconciliation.md
  .ai/spec/what/app-server.md
  .ai/spec/what/crd-api.md
  .ai/spec/what/data-collection.md
  .ai/spec/what/observability.md
  .ai/spec/what/reconciliation.md
  .ai/spec/what/resource-lifecycle.md
  .ai/spec/what/security.md
  .ai/spec/what/system-overview.md
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  cmd/main.go
  config/rbac/role.yaml
  internal/controller/olsconfig_controller.go
  internal/controller/olsconfig_helpers_test.go
  internal/controller/otelcollector/assets_test.go
  internal/controller/otelcollector/dataverse_exporter.go
  internal/controller/otelcollector/deployment.go
  internal/controller/otelcollector/deployment_test.go
  internal/controller/otelcollector/reconciler.go
  internal/controller/otelcollector/reconciler_test.go
  internal/controller/otelcollector/suite_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/utils.go
  internal/controller/utils/utils_comparison_test.go
  internal/controller/watchers/watchers.go
  internal/controller/watchers/watchers_test.go
  internal/rbac/role_yaml_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4349 Limit OCP version gate to agentic console
  .ai/spec/what/agentic-console-ui.md
  internal/controller/agenticintegration/assets.go
  internal/controller/agenticintegration/reconciler_test.go
  internal/controller/appserver/assets.go
  internal/controller/appserver/client_ca_gate_test.go
  internal/controller/olsconfig_controller.go
  internal/controller/olsconfig_reconciler_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4395 Probe RHOKP Solr and Apache for readiness
  .ai/spec/what/rhokp.md
  internal/controller/rhokp/deployment.go
  internal/controller/rhokp/reconciler_test.go
  internal/controller/utils/constants.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4399 Gate managed MCP NetObserv tools on API presence
  Makefile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  cmd/main.go
  config/rbac/role.yaml
  go.mod
  internal/controller/ocpmcp/assets.go
  internal/controller/ocpmcp/assets_test.go
  internal/controller/ocpmcp/netobserv.go
  internal/controller/ocpmcp/netobserv_config_test.go
  internal/controller/ocpmcp/netobserv_discovery_http_test.go
  internal/controller/ocpmcp/netobserv_test.go
  internal/controller/ocpmcp/reconciler.go
  internal/controller/ocpmcp/suite_test.go
  internal/controller/olsconfig_controller.go
  internal/controller/olsconfig_netobserv.go
  internal/controller/olsconfig_netobserv_lifecycle_test.go
  internal/controller/olsconfig_netobserv_test.go
  internal/controller/operator_assets_test.go
  internal/controller/suite_test.go
  internal/rbac/netobserv_permissions_test.go
  test/e2e/netobserv_lifecycle_test.go
  test/e2e/netobserv_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4352 Scope OCP 5.0 FBC builds to catalog changes
  .tekton/fbc-v5-0-pull-request.yaml
  .tekton/fbc-v5-0-push.yaml
Due: none

OLS-0000 Inject agentic skills image into alerts adapter
  cmd/main.go
  internal/controller/alertsadapter/assets_test.go
  internal/controller/alertsadapter/deployment.go
  internal/controller/olsconfig_helpers.go
  internal/controller/reconciler/interface.go
  internal/controller/utils/constants.go
  internal/controller/utils/testing.go
  internal/controller/utils/types.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

TRACING-6488: Enable observability/traces toolset in default MCP server config
  internal/controller/ocpmcp/assets.go
  internal/controller/ocpmcp/assets_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4352 Bootstrap OCP 5.0 FBC for unified bundle
  .tekton/fbc-v5-0-pull-request.yaml
  .tekton/fbc-v5-0-push.yaml
  .tekton/release/catalog-update/pipeline.yaml
  docs/olm-catalog-management.md
  lightspeed-catalog-5.0.Dockerfile
  lightspeed-catalog-5.0/.gitkeep
Due: none

OLS-3189 Sync pinned agentic CRDs and RBAC for unified bundle
  Makefile
  config/agentic/README.md
  config/agentic/crds/agentic.openshift.io_agenticolsconfigs.yaml
  config/agentic/crds/agentic.openshift.io_agenticrunapprovals.yaml
  config/agentic/crds/agentic.openshift.io_agenticruns.yaml
  config/agentic/crds/agentic.openshift.io_agents.yaml
  config/agentic/crds/agentic.openshift.io_analysisresults.yaml
  config/agentic/crds/agentic.openshift.io_approvalpolicies.yaml
  config/agentic/crds/agentic.openshift.io_escalationresults.yaml
  config/agentic/crds/agentic.openshift.io_executionresults.yaml
  config/agentic/crds/agentic.openshift.io_llmproviders.yaml
  config/agentic/crds/agentic.openshift.io_verificationresults.yaml
  config/agentic/crds/kustomization.yaml
  config/agentic/role.yaml
  config/agentic/role_binding.yaml
  config/agentic/run_approver_binding.yaml
  config/agentic/run_approver_role.yaml
  config/agentic/service_account.yaml
  hack/sync_agentic_manifests.sh
  hack/test_sync_agentic_manifests.sh
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4391 Specify NetObserv API-presence gating
  .ai/spec/decisions/0001-netobserv-api-presence-gating.md
  .ai/spec/what/ocpmcp.md
  .ai/spec/what/reconciliation.md
Due: none

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20261009-142305-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4391 Specify MCP-side NetObserv compatibility filtering
  .ai/spec/decisions/0001-netobserv-api-presence-gating.md
  .ai/spec/what/ocpmcp.md
  .ai/spec/what/reconciliation.md
Due: none

OLS-4391 Include NetObserv in OCP MCP server default toolsets
  internal/controller/ocpmcp/assets.go
  internal/controller/ocpmcp/assets_test.go
  internal/controller/ocpmcp/reconciler_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20261009-230636-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

adding reasoning config
  test/e2e/assets.go
  test/e2e/assets_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit
