Repository openshift/lightspeed-operator: changes, and which Prow jobs are due for each by the changed paths.
All: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

bundle-e2e-4-15:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-1
    owner: ols
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  steps:
    pre:
    - ref: ipi-install-rbac
    test:
    - as: e2e-install
      cli: latest
      commands: 'oc create namespace openshift-lightspeed
  
  ...

bundle-e2e-4-16:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-1
    owner: ols
    product: ocp
    timeout: 1h0m0s
    version: '4.16'
  steps:
    pre:
    - ref: ipi-install-rbac
    test:
    - as: e2e-install
      cli: latest
      commands: 'oc create namespace openshift-lightspeed
  
  ...

bundle-e2e-4-17:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-1
    owner: ols
    product: ocp
    timeout: 1h0m0s
    version: '4.17'
  steps:
    pre:
    - ref: ipi-install-rbac
    test:
    - as: e2e-install
      cli: latest
      commands: 'oc create namespace openshift-lightspeed
  
  ...

fips-image-scan-operator:
  steps:
    dependencies:
      SCAN_IMAGE: lightspeed-operator
    test:
    - ref: fips-check-image-scan

ci/prow/bundle-e2e-4-20:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/fips-image-scan-operator:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/generate:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/lint:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

refactor: rename RAG reference in tests
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/deployment_test.go
  internal/controller/appserver/reconciler_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3526: trim premature standalone MCP spec
  .ai/spec/what/app-server.md
  .ai/spec/what/crd-api.md
  .ai/spec/what/reconciliation.md
  .ai/spec/what/resource-lifecycle.md
Due: none

updated related images json to include the latest otel support
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3572 Add inter-operator configuration handoff spec
  .ai/spec/what/app-server.md
  .ai/spec/what/crd-api.md
Due: none

OLS-3546 Dynamically reconcile metrics-reader ClusterRoleBinding namespace
  config/prometheus/clusterrole_binding.yaml
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/reconciler.go
  internal/controller/appserver/reconciler_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/errors.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3546 Simplify subjects comparison per review feedback
  internal/controller/appserver/reconciler.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3656: Expose OTEL collector HTTPS metrics for Prometheus scraping
  .ai/spec/how/project-structure.md
  .ai/spec/what/observability.md
  .ai/spec/what/reconciliation.md
  .ai/spec/what/security.md
  .ai/spec/what/system-overview.md
  .ai/spec/what/templog.md
  .ai/spec/what/tls.md
  AGENTS.md
  internal/controller/appserver/reconciler.go
  internal/controller/otelcollector/assets.go
  internal/controller/otelcollector/assets_test.go
  internal/controller/otelcollector/deployment.go
  internal/controller/otelcollector/deployment_test.go
  internal/controller/otelcollector/reconciler.go
  internal/controller/otelcollector/reconciler_test.go
  internal/controller/otelcollector/suite_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/errors.go
  internal/controller/utils/service_monitor_reconciler.go
  internal/controller/utils/service_monitor_reconciler_test.go
  internal/controller/utils/suite_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-0000: Add .ai/spec/decisions/ directory
  .ai/spec/decisions/README.md
Due: none

adding a 5s delay to reconciler on cannot find RESTMapping error
  internal/controller/olsconfig_controller.go
  internal/controller/olsconfig_helpers.go
  internal/controller/olsconfig_helpers_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3696: update templog spec for phase storage
  .ai/spec/what/templog.md
Due: none

OLS-3705 Fix OTel collector crash: routing/traces table must not be empty
  internal/controller/otelcollector/assets.go
  internal/controller/otelcollector/assets_test.go
  internal/controller/utils/constants.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle from snapshot
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Updating go version in build pipeline.
  .tekton/release/bundle-update/bundle-update.ContainerFile
  .tekton/release/bundle-update/pipeline.yaml
Due: none

OLS-0000 Fix spec navigation: add missing what/ files to README Quick Start
  .ai/spec/README.md
  .ai/spec/health-report.md
Due: none

OLS-0000 Fix spec navigation: add missing what/ files to README Quick Start
  .ai/spec/README.md
Due: none

OLS-0000 Add spec verification report 2026-07-23
  .ai/spec/verification/spec-verify-2026-07-23.md
Due: none

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260723-223947-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-0000 Fix spec findings from 2026-07-23 verification
  .ai/spec/how/project-structure.md
  .ai/spec/how/reconciliation.md
  .ai/spec/what/app-server.md
  .ai/spec/what/crd-api.md
  .ai/spec/what/observability.md
  .ai/spec/what/security.md
Due: none

OLS-3683: Delete orphaned OTEL/MCP ConfigMaps on upgrade
  .ai/spec/how/deployment-generation.md
  .ai/spec/how/reconciliation.md
  .ai/spec/what/agentic-sandbox-profile.md
  .ai/spec/what/app-server.md
  .ai/spec/what/crd-api.md
  .ai/spec/what/ocpmcp.md
  .ai/spec/what/reconciliation.md
  .ai/spec/what/system-overview.md
  .ai/spec/what/templog.md
  internal/controller/ocpmcp/reconciler.go
  internal/controller/ocpmcp/reconciler_test.go
  internal/controller/otelcollector/reconciler.go
  internal/controller/otelcollector/reconciler_test.go
  internal/controller/utils/constants.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Add preStop lifecycle hook to postgres pod to prevent crash-loop after unclean shutdown
  internal/controller/postgres/assets_test.go
  internal/controller/postgres/deployment.go
  internal/controller/utils/constants.go
  internal/controller/utils/utils.go
  internal/controller/utils/utils_comparison_test.go
  test/e2e/all_features_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Removing agentic operator image references.
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/deployment-patch.yaml
  internal/controller/agenticconsole/assets_test.go
  internal/controller/agenticconsole/suite_test.go
  internal/controller/alertsadapter/assets_test.go
  internal/controller/alertsadapter/suite_test.go
  internal/controller/olsconfig_controller.go
  internal/controller/utils/constants.go
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-0000 Fix spec findings from 2026-07-24 verification
  .ai/spec/verification/lightspeed-operator-report.md
  .ai/spec/what/templog.md
Due: none

CNV-83516: Enable kubevirt toolset in default MCP server config
  internal/controller/ocpmcp/assets.go
  internal/controller/ocpmcp/assets_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Removing agentic operator image references.
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/deployment-patch.yaml
  internal/controller/agenticconsole/assets_test.go
  internal/controller/agenticconsole/suite_test.go
  internal/controller/alertsadapter/assets_test.go
  internal/controller/alertsadapter/suite_test.go
  internal/controller/olsconfig_controller.go
  internal/controller/olsconfig_reconciler_test.go
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3402: remove default resource limits on deployments
  internal/controller/alertsadapter/deployment.go
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/deployment.go
  internal/controller/console/assets_test.go
  internal/controller/otelcollector/deployment.go
  internal/controller/postgres/assets_test.go
  internal/controller/postgres/deployment.go
  internal/controller/utils/console_plugin_test.go
  internal/controller/utils/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3683 OLS-3684: regenerate bundle for agentic integration
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/deployment-patch.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Removing agentic references from related images.
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260729-105546-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3697 Add RHOKP standalone operand spec and update related specs
  .ai/spec/what/app-server.md
  .ai/spec/what/crd-api.md
  .ai/spec/what/ocpmcp.md
  .ai/spec/what/reconciliation.md
  .ai/spec/what/rhokp.md
  .ai/spec/what/tls.md
Due: none

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260729-224327-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3089 Disable SA token automount for non-API pods
  internal/controller/otelcollector/deployment.go
  internal/controller/postgres/deployment.go
  internal/controller/utils/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3737 Stop injecting otel-collector config into olsconfig.yaml
  .ai/spec/what/audit-logging.md
  .ai/spec/what/templog.md
  config/default/deployment-patch.yaml
  internal/controller/agenticintegration/assets.go
  internal/controller/agenticintegration/assets_test.go
  internal/controller/agenticintegration/reconciler.go
  internal/controller/agenticintegration/reconciler_test.go
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/olsconfig_controller.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3546 Address CodeRabbit review feedback
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/reconciler.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260730-124938-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Path conditions:
  bundle-e2e-4-15: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-16: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-17: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-20: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^renovate\.json|^\.golangci\.yaml|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/generate: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/lint: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/security: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
