Repository openshift/lightspeed-operator: changes, and which Prow jobs are due for each by the changed paths.
All: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Path conditions:
  bundle-e2e-4-15: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-16: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-17: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-20: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^renovate\.json|^\.golangci\.yaml|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/generate: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/lint: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/security: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260511-020847-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20260511-043830-000
  lightspeed-catalog-4.16/bundle-v1.0.12.yaml
  lightspeed-catalog-4.17/bundle-v1.0.12.yaml
  lightspeed-catalog-4.18/bundle-v1.0.12.yaml
  lightspeed-catalog-4.19/bundle-v1.0.12.yaml
  lightspeed-catalog-4.20/bundle-v1.0.12.yaml
  lightspeed-catalog-4.21/bundle-v1.0.12.yaml
  lightspeed-catalog-4.22/bundle-v1.0.12.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-2459 propagate APIServer TLS profile to olsconfig
  Makefile
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/suite_test.go
  internal/controller/olsconfig_controller.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260511-111219-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Version bump to 1.0.13.
  Makefile
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  hack/bundle.Dockerfile
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20260511-130349-000
  lightspeed-catalog-4.16/bundle-v1.0.12.yaml
  lightspeed-catalog-4.17/bundle-v1.0.12.yaml
  lightspeed-catalog-4.18/bundle-v1.0.12.yaml
  lightspeed-catalog-4.19/bundle-v1.0.12.yaml
  lightspeed-catalog-4.20/bundle-v1.0.12.yaml
  lightspeed-catalog-4.21/bundle-v1.0.12.yaml
  lightspeed-catalog-4.22/bundle-v1.0.12.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260511-201642-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260512-015723-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260512-040741-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20260512-064630-000
  lightspeed-catalog-4.16/bundle-v1.0.13.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/bundle-v1.0.13.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog-4.18/bundle-v1.0.13.yaml
  lightspeed-catalog-4.18/index.yaml
  lightspeed-catalog-4.19/bundle-v1.0.13.yaml
  lightspeed-catalog-4.19/index.yaml
  lightspeed-catalog-4.20/bundle-v1.0.13.yaml
  lightspeed-catalog-4.20/index.yaml
  lightspeed-catalog-4.21/bundle-v1.0.13.yaml
  lightspeed-catalog-4.21/index.yaml
  lightspeed-catalog-4.22/bundle-v1.0.13.yaml
  lightspeed-catalog-4.22/index.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260512-235109-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20260513-015757-000
  lightspeed-catalog-4.16/bundle-v1.0.13.yaml
  lightspeed-catalog-4.17/bundle-v1.0.13.yaml
  lightspeed-catalog-4.18/bundle-v1.0.13.yaml
  lightspeed-catalog-4.19/bundle-v1.0.13.yaml
  lightspeed-catalog-4.20/bundle-v1.0.13.yaml
  lightspeed-catalog-4.21/bundle-v1.0.13.yaml
  lightspeed-catalog-4.22/bundle-v1.0.13.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Adoption of recreate strategy for postgres pod.
  internal/controller/postgres/assets_test.go
  internal/controller/postgres/deployment.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260513-080903-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20260513-104408-000
  lightspeed-catalog-4.16/bundle-v1.0.13.yaml
  lightspeed-catalog-4.17/bundle-v1.0.13.yaml
  lightspeed-catalog-4.18/bundle-v1.0.13.yaml
  lightspeed-catalog-4.19/bundle-v1.0.13.yaml
  lightspeed-catalog-4.20/bundle-v1.0.13.yaml
  lightspeed-catalog-4.21/bundle-v1.0.13.yaml
  lightspeed-catalog-4.22/bundle-v1.0.13.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260513-125451-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20260514-034336-000
  lightspeed-catalog-4.16/bundle-v1.0.13.yaml
  lightspeed-catalog-4.17/bundle-v1.0.13.yaml
  lightspeed-catalog-4.18/bundle-v1.0.13.yaml
  lightspeed-catalog-4.19/bundle-v1.0.13.yaml
  lightspeed-catalog-4.20/bundle-v1.0.13.yaml
  lightspeed-catalog-4.21/bundle-v1.0.13.yaml
  lightspeed-catalog-4.22/bundle-v1.0.13.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260514-105417-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20260514-143457-000
  lightspeed-catalog-4.16/bundle-v1.0.13.yaml
  lightspeed-catalog-4.17/bundle-v1.0.13.yaml
  lightspeed-catalog-4.18/bundle-v1.0.13.yaml
  lightspeed-catalog-4.19/bundle-v1.0.13.yaml
  lightspeed-catalog-4.20/bundle-v1.0.13.yaml
  lightspeed-catalog-4.21/bundle-v1.0.13.yaml
  lightspeed-catalog-4.22/bundle-v1.0.13.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

test
  Dockerfile
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Add agentic deploy scripts, CRDs, and operator integration
  Dockerfile.dev
  Makefile
  api/v1alpha1/olsconfig_types.go
  cmd/main.go
  config/crd/bases/agentic.openshift.io_agents.yaml
  config/crd/bases/agentic.openshift.io_analysisresults.yaml
  config/crd/bases/agentic.openshift.io_approvalpolicies.yaml
  config/crd/bases/agentic.openshift.io_componenttools.yaml
  config/crd/bases/agentic.openshift.io_escalationresults.yaml
  config/crd/bases/agentic.openshift.io_executionresults.yaml
  config/crd/bases/agentic.openshift.io_llmproviders.yaml
  config/crd/bases/agentic.openshift.io_proposalapprovals.yaml
  config/crd/bases/agentic.openshift.io_proposals.yaml
  config/crd/bases/agentic.openshift.io_proposaltemplates.yaml
  config/crd/bases/agentic.openshift.io_verificationresults.yaml
  config/crd/bases/agentic.openshift.io_workflows.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/crd/kustomization.yaml
  config/default/deployment-patch.yaml
  config/rbac-agentic/admin_role.yaml
  config/rbac-agentic/component_owner_role.yaml
  config/rbac-agentic/kustomization.yaml
  config/rbac-agentic/role.yaml
  config/rbac-agentic/role_binding.yaml
  go.mod
  go.sum
  hack/agentic/CLAUDE.md
  hack/agentic/deploy.sh
  hack/agentic/lib.sh
  hack/agentic/redeploy-agent.sh
  hack/agentic/redeploy-all.sh
  hack/agentic/redeploy-console.sh
  hack/agentic/redeploy-operator.sh
  hack/agentic/redeploy-skills.sh
  hack/agentic/undeploy.sh
  hack/image_placeholders.json
  internal/agentic/setup.go
  internal/controller/utils/constants.go
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260519-022534-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20260519-052014-000
  lightspeed-catalog-4.16/bundle-v1.0.13.yaml
  lightspeed-catalog-4.17/bundle-v1.0.13.yaml
  lightspeed-catalog-4.18/bundle-v1.0.13.yaml
  lightspeed-catalog-4.19/bundle-v1.0.13.yaml
  lightspeed-catalog-4.20/bundle-v1.0.13.yaml
  lightspeed-catalog-4.21/bundle-v1.0.13.yaml
  lightspeed-catalog-4.22/bundle-v1.0.13.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

update agentic operator to v0.0.0-20260513171052-1682d6b70bae + include agentic operator CRD in the manifest generation
  Makefile
  config/crd/bases/agentic.openshift.io_componenttools.yaml
  config/crd/bases/agentic.openshift.io_proposals.yaml
  config/crd/bases/agentic.openshift.io_proposaltemplates.yaml
  config/crd/bases/agentic.openshift.io_workflows.yaml
  go.mod
  go.sum
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Version bump to 1.1.0
  Makefile
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  hack/bundle.Dockerfile
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

add code rabbit support
  .coderabbit.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260519-192219-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20260519-215908-000
  lightspeed-catalog-4.16/bundle-v1.1.0.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/bundle-v1.1.0.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog-4.18/bundle-v1.1.0.yaml
  lightspeed-catalog-4.18/index.yaml
  lightspeed-catalog-4.19/bundle-v1.1.0.yaml
  lightspeed-catalog-4.19/index.yaml
  lightspeed-catalog-4.20/bundle-v1.1.0.yaml
  lightspeed-catalog-4.20/index.yaml
  lightspeed-catalog-4.21/bundle-v1.1.0.yaml
  lightspeed-catalog-4.21/index.yaml
  lightspeed-catalog-4.22/bundle-v1.1.0.yaml
  lightspeed-catalog-4.22/index.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260520-005852-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260520-064105-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260520-091037-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260520-121258-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20260520-142605-000
  lightspeed-catalog-4.16/bundle-v1.1.0.yaml
  lightspeed-catalog-4.17/bundle-v1.1.0.yaml
  lightspeed-catalog-4.18/bundle-v1.1.0.yaml
  lightspeed-catalog-4.19/bundle-v1.1.0.yaml
  lightspeed-catalog-4.20/bundle-v1.1.0.yaml
  lightspeed-catalog-4.21/bundle-v1.1.0.yaml
  lightspeed-catalog-4.22/bundle-v1.1.0.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

update agents to include PR workflow
  AGENTS.md
Due: none

OLS-2882 add operator specification files
  .ai/spec/README.md
  .ai/spec/how/README.md
  .ai/spec/how/config-generation.md
  .ai/spec/how/deployment-generation.md
  .ai/spec/how/project-structure.md
  .ai/spec/how/reconciliation.md
  .ai/spec/what/README.md
  .ai/spec/what/app-server.md
  .ai/spec/what/console-ui.md
  .ai/spec/what/crd-api.md
  .ai/spec/what/observability.md
  .ai/spec/what/postgres.md
  .ai/spec/what/reconciliation.md
  .ai/spec/what/resource-lifecycle.md
  .ai/spec/what/security.md
  .ai/spec/what/system-overview.md
  .ai/spec/what/tls.md
Due: none

Add agentic deploy scripts, CRDs, and operator integration
  Dockerfile.dev
  Makefile
  api/v1alpha1/olsconfig_types.go
  cmd/main.go
  config/crd/bases/agentic.openshift.io_agents.yaml
  config/crd/bases/agentic.openshift.io_analysisresults.yaml
  config/crd/bases/agentic.openshift.io_approvalpolicies.yaml
  config/crd/bases/agentic.openshift.io_escalationresults.yaml
  config/crd/bases/agentic.openshift.io_executionresults.yaml
  config/crd/bases/agentic.openshift.io_llmproviders.yaml
  config/crd/bases/agentic.openshift.io_proposalapprovals.yaml
  config/crd/bases/agentic.openshift.io_proposals.yaml
  config/crd/bases/agentic.openshift.io_verificationresults.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/crd/kustomization.yaml
  config/default/deployment-patch.yaml
  config/rbac-agentic/admin_role.yaml
  config/rbac-agentic/component_owner_role.yaml
  config/rbac-agentic/kustomization.yaml
  config/rbac-agentic/role.yaml
  config/rbac-agentic/role_binding.yaml
  go.mod
  go.sum
  hack/agentic/CLAUDE.md
  hack/agentic/deploy.sh
  hack/agentic/lib.sh
  hack/agentic/redeploy-agent.sh
  hack/agentic/redeploy-all.sh
  hack/agentic/redeploy-console.sh
  hack/agentic/redeploy-operator.sh
  hack/agentic/redeploy-skills.sh
  hack/agentic/undeploy.sh
  hack/image_placeholders.json
  internal/controller/utils/constants.go
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Add Solr hybrid RAG via RHOKP sidecar
  .gitignore
  Makefile
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/default/deployment-patch.yaml
  hack/image_placeholders.json
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/deployment.go
  internal/controller/appserver/deployment_test.go
  internal/controller/appserver/rhokp.go
  internal/controller/appserver/rhokp_test.go
  internal/controller/appserver/suite_test.go
  internal/controller/olsconfig_helpers.go
  internal/controller/reconciler/interface.go
  internal/controller/utils/constants.go
  internal/controller/utils/resource_defaults_test.go
  internal/controller/utils/testing.go
  internal/controller/utils/types.go
  internal/controller/utils/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

adding investigate-ci-failure skills
  .cursor/skills/investigate-ci-failure/SKILL.md
Due: none

Enable MCP write tools by setting read_only=false in openshift-mcp-server config
  .ai/spec/what/security.md
  internal/controller/utils/mcp_server_config.go
  internal/controller/utils/mcp_server_config_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit
