Repository openshift/lightspeed-operator: changes, and which Prow jobs are due for each by the changed paths.
All: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

bundle-e2e-4-15:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-1
    owner: ols
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  steps:
    pre:
    - ref: ipi-install-rbac
    test:
    - as: e2e-install
      cli: latest
      commands: 'oc create namespace openshift-lightspeed
  
  ...

bundle-e2e-4-16:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-1
    owner: ols
    product: ocp
    timeout: 1h0m0s
    version: '4.16'
  steps:
    pre:
    - ref: ipi-install-rbac
    test:
    - as: e2e-install
      cli: latest
      commands: 'oc create namespace openshift-lightspeed
  
  ...

bundle-e2e-4-17:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-1
    owner: ols
    product: ocp
    timeout: 1h0m0s
    version: '4.17'
  steps:
    pre:
    - ref: ipi-install-rbac
    test:
    - as: e2e-install
      cli: latest
      commands: 'oc create namespace openshift-lightspeed
  
  ...

fips-image-scan-operator:
  steps:
    dependencies:
      SCAN_IMAGE: lightspeed-operator
    test:
    - ref: fips-check-image-scan

ci/prow/bundle-e2e-4-20:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/fips-image-scan-operator:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/generate:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/lint:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260929-014352-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-0000 Update google.golang.org/grpc to v1.83.2
  go.mod
  go.sum
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4293: Support per-model temperature in OLSConfig
  .ai/spec/how/config-generation.md
  .ai/spec/what/crd-api.md
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/olsconfig_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator-v2.clusterserviceversion.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/olsconfig_reconciler_test.go
  internal/controller/utils/types.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

removing flaky optional deprovisioning task
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-all-features.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline.yaml
  .tekton/integration-tests/pipelines/rapidast-scan.yaml
Due: none

TRACING-6488: Enable observability/traces toolset in default MCP server config
  internal/controller/ocpmcp/assets.go
  internal/controller/ocpmcp/assets_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260929-135305-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4302 add classic chat OTEL E2E test
  test/e2e/all_features_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3450: Add credentialHotReload flag to skip app-server restart on LLM secret rotation
  api/v1alpha1/olsconfig_types.go
  bundle.Dockerfile
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  cmd/main.go
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  docs/credential-hot-reload.md
  internal/controller/appserver/assets.go
  internal/controller/olsconfig_controller.go
  internal/controller/olsconfig_helpers.go
  internal/controller/olsconfig_helpers_test.go
  internal/controller/utils/types.go
  internal/controller/watchers/watchers.go
  internal/controller/watchers/watchers_test.go
  test/e2e/reconciliation_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-0000 Mark OTEL collector for both bundle variants
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-0000 Keep catalog related images to name and image
  hack/bundle_to_catalog.sh
  hack/snapshot_to_catalog.sh
  lightspeed-catalog-4.16/bundle-v1.1.4.yaml
  lightspeed-catalog-4.17/bundle-v1.1.4.yaml
  lightspeed-catalog-4.18/bundle-v1.1.4.yaml
  lightspeed-catalog-4.19/bundle-v1.1.4.yaml
  lightspeed-catalog-4.20/bundle-v1.1.4.yaml
  lightspeed-catalog-4.21/bundle-v1.1.4.yaml
  lightspeed-catalog-4.22/bundle-v1.1.4.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4302 harden OTEL E2E polling
  test/e2e/all_features_test.go
  test/e2e/http_client.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Gate Classic agentic operands on the cluster version
  internal/controller/agenticconsole/reconciler.go
  internal/controller/agenticconsole/removal_gate_test.go
  internal/controller/agenticintegration/assets.go
  internal/controller/agenticintegration/reconciler.go
  internal/controller/agenticintegration/suite_test.go
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/client_ca_gate_test.go
  internal/controller/appserver/deployment.go
  internal/controller/appserver/deployment_test.go
  internal/controller/olsconfig_controller.go
  internal/controller/utils/agentic_version_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20260929-232758-000
  lightspeed-catalog-4.16/bundle-v1.1.4.yaml
  lightspeed-catalog-4.17/bundle-v1.1.4.yaml
  lightspeed-catalog-4.18/bundle-v1.1.4.yaml
  lightspeed-catalog-4.19/bundle-v1.1.4.yaml
  lightspeed-catalog-4.20/bundle-v1.1.4.yaml
  lightspeed-catalog-4.21/bundle-v1.1.4.yaml
  lightspeed-catalog-4.22/bundle-v1.1.4.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-0000 Add sriroopar as bundle and catalog approver
  OWNERS
Due: none

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260930-013245-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-0000 Remove obsolete CLAUDE.md
  CLAUDE.md
Due: none

OLS-4302 bound classic chat E2E request
  test/e2e/all_features_test.go
  test/e2e/http_client.go
  test/e2e/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260930-142034-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3943: Allow Prometheus to scrape MCP and RHOKP metrics
  .ai/spec/what/observability.md
  .ai/spec/what/ocpmcp.md
  .ai/spec/what/rhokp.md
  .ai/spec/what/security.md
  internal/controller/ocpmcp/assets.go
  internal/controller/ocpmcp/assets_test.go
  internal/controller/ocpmcp/reconciler_test.go
  internal/controller/rhokp/assets.go
  internal/controller/rhokp/reconciler_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260930-221425-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20260930-231644-000
  lightspeed-catalog-4.16/bundle-v1.1.4.yaml
  lightspeed-catalog-4.17/bundle-v1.1.4.yaml
  lightspeed-catalog-4.18/bundle-v1.1.4.yaml
  lightspeed-catalog-4.19/bundle-v1.1.4.yaml
  lightspeed-catalog-4.20/bundle-v1.1.4.yaml
  lightspeed-catalog-4.21/bundle-v1.1.4.yaml
  lightspeed-catalog-4.22/bundle-v1.1.4.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-0000 Skip unchanged TLS secret updates
  internal/controller/appserver/reconciler.go
  internal/controller/appserver/reconciler_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-0000 Prefetch Go modules for bundle builds
  .tekton/ols-bundle-pull-request.yaml
  .tekton/ols-bundle-push.yaml
Due: none

OLS-0000 Prefetch Go modules in FBC builds
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  .tekton/fbc-v4-19-pull-request.yaml
  .tekton/fbc-v4-19-push.yaml
  .tekton/fbc-v4-20-pull-request.yaml
  .tekton/fbc-v4-20-push.yaml
  .tekton/fbc-v4-21-pull-request.yaml
  .tekton/fbc-v4-21-push.yaml
  .tekton/fbc-v4-22-pull-request.yaml
  .tekton/fbc-v4-22-push.yaml
Due: none

OLS-4210 propagate tool inspection configuration
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  internal/controller/agenticintegration/assets.go
  internal/controller/agenticintegration/assets_test.go
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/types.go
  internal/controller/utils/utils.go
  internal/controller/utils/utils_misc_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4244 fix empty provider admission test
  internal/controller/olsconfig_reconciler_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4244 validate default provider and model
  api/v1alpha1/olsconfig_types.go
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/olsconfig_reconciler_test.go
  internal/controller/utils/test_fixtures.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4244 address CodeRabbit validation findings
  api/v1alpha1/olsconfig_types.go
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/olsconfig_reconciler_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4244 reject duplicate providers and update bundle
  api/v1alpha1/olsconfig_types.go
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/olsconfig_reconciler_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4244 reject empty provider and model names
  api/v1alpha1/olsconfig_types.go
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/olsconfig_reconciler_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4171 Document operand network policy scope
  .ai/spec/what/agentic-console-ui.md
  .ai/spec/what/console-ui.md
  .ai/spec/what/postgres.md
  .ai/spec/what/reconciliation.md
  .ai/spec/what/rhokp.md
  .ai/spec/what/security.md
Due: none

OLS-3899 Select catalog images from rendered bundle
  hack/bundle_to_catalog.sh
  hack/snapshot_to_catalog.sh
Due: ci/prow/images

OLS-4068 Bootstrap OCP 5.0 FBC from ols-bundle
  .tekton/fbc-v5-0-pull-request.yaml
  .tekton/fbc-v5-0-push.yaml
  .tekton/release/catalog-update/pipeline.yaml
  docs/olm-catalog-management.md
  lightspeed-catalog-5.0.Dockerfile
  lightspeed-catalog-5.0/.gitkeep
Due: none

OLS-4068 Prefetch Go modules in OCP 5 FBC builds
  .tekton/fbc-v5-0-pull-request.yaml
  .tekton/fbc-v5-0-push.yaml
Due: none

OLS-0000 Inject agentic skills image into alerts adapter
  cmd/main.go
  internal/controller/alertsadapter/assets_test.go
  internal/controller/alertsadapter/deployment.go
  internal/controller/olsconfig_helpers.go
  internal/controller/reconciler/interface.go
  internal/controller/utils/constants.go
  internal/controller/utils/testing.go
  internal/controller/utils/types.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4244 validate legacy name lengths
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/olsconfig_reconciler_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4353: openshift-mcp config use correct AM port
  internal/controller/ocpmcp/assets.go
  internal/controller/ocpmcp/assets_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20261002-095339-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-4323 OLS-4324: Restrict operand egress
  .ai/spec/what/agentic-console-ui.md
  .ai/spec/what/console-ui.md
  .ai/spec/what/postgres.md
  .ai/spec/what/reconciliation.md
  .ai/spec/what/rhokp.md
  .ai/spec/what/security.md
  AGENTS.md
  internal/controller/agenticconsole/reconciler.go
  internal/controller/agenticconsole/reconciler_test.go
  internal/controller/console/reconciler.go
  internal/controller/console/reconciler_test.go
  internal/controller/olsconfig_controller.go
  internal/controller/postgres/reconciler.go
  internal/controller/postgres/reconciler_test.go
  internal/controller/rhokp/reconciler.go
  internal/controller/rhokp/reconciler_test.go
  internal/controller/utils/console_plugin_reconciler.go
  internal/controller/utils/console_plugin_test.go
  internal/controller/utils/errors.go
  internal/controller/utils/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Path conditions:
  bundle-e2e-4-15: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-16: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-17: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-20: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^renovate\.json|^\.golangci\.yaml|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/generate: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/lint: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/security: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
