Repository openshift/lightspeed-operator: changes, and which Prow jobs are due for each by the changed paths.
All: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Path conditions:
  bundle-e2e-4-15: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-16: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-17: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-15: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-16: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-17: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/generate: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/images: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/lint: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/unit: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$

Update the Konflux task-buildah-remote-oci-ta task to the latest version
  .tekton/ols-bundle-pull-request.yaml
  .tekton/ols-bundle-push.yaml
Due: none

added related image using snapshot ols-24ktd
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

updated konflux images
  .tekton/ols-bundle-pull-request.yaml
  .tekton/ols-bundle-push.yaml
Due: none

fixed output image path
  .tekton/ols-bundle-pull-request.yaml
  .tekton/ols-bundle-push.yaml
Due: none

updated the images with registry redat repo
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

Remove arch-specific rpm lockfiles, generate one multi-arch rpm lockfile
  rpms.in.yaml
  rpms.in.yaml.aarch64
  rpms.in.yaml.x86_64
  rpms.lock.yaml
  rpms.lock.yaml.aarch64
  rpms.lock.yaml.x86_64
  ubi.repo
  ubi.repo.aarch64
  ubi.repo.x86_64
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

updated catalog for v0.3.0 release
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
Due: none

reversed arm build for catalog
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
Due: none

Red Hat Konflux purge bundle Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
Due: none

Fix the LLM list markdown in the operator description
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  lightspeed-catalog-4.17/index.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

feat: add option introspectionEnabled
  api/v1alpha1/olsconfig_types.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  internal/controller/ols_app_server_assets.go
  internal/controller/ols_app_server_assets_test.go
  internal/controller/types.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

deleted bundle config files
  .tekton/bundle-pull-request.yaml
  .tekton/bundle-push.yaml
Due: none

updated konflux patch to update ols-bundle version
  hack/version_patches/konflux-release-data.patch
Due: ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Bump to version 0.3.1
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  hack/update_bundle_catalog.sh
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

updated patch to reflect lastet CSV file
  hack/version_patches/operator.patch
  hack/version_patches/service.patch
Due: ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

updated image list to compted from ols and ols-bundle
  hack/release_tools.md
  hack/snapshot_to_catalog.sh
  hack/snapshot_to_image_list.sh
Due: ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

feat: add RAGSpec into OLSConfig CRD
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

feat: copy RAG content from image to shared volume
  internal/controller/constants.go
  internal/controller/ols_app_server_assets_test.go
  internal/controller/ols_app_server_deployment.go
  internal/controller/ols_app_server_reconciliator_test.go
  internal/controller/rag.go
  internal/controller/rag_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

fix(CVP-4387): add fbc-target-index-pruning-check to FBC pipelines
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
Due: none

Adding imagesourcecontent to console tests to be able to run against bundle
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-415.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-417.yaml
Due: none

Temporary change to echo secret config. Will revert it. But need to check if konflux is reading secret.
  .tekton/integration-tests/pipelines/lightspeed-complete-e2e-tests-pipeline-417.yaml
Due: none

catalog removes OKE as valid subscription
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

updated release 0.3.1 with snapshot ols-lvdfg
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

Changing run calling to script.
  .tekton/integration-tests/pipelines/lightspeed-complete-e2e-tests-pipeline-415.yaml
  .tekton/integration-tests/pipelines/lightspeed-complete-e2e-tests-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-complete-e2e-tests-pipeline-417.yaml
Due: none

Dummy commit to trigger konflux tests
  .tekton/integration-tests/pipelines/lightspeed-complete-e2e-tests-pipeline-417.yaml
Due: none

Readding offline token and entraid
  .tekton/integration-tests/pipelines/lightspeed-complete-e2e-tests-pipeline-415.yaml
  .tekton/integration-tests/pipelines/lightspeed-complete-e2e-tests-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-complete-e2e-tests-pipeline-417.yaml
Due: none

updated related images with snapshot ols-4hs89
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

updated the catalog image with -s ols-4hs89 -b ols-bundle-wch9h
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
Due: none

fbc-fips-check-oci-ta check added
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
Due: none

feat: remove OKE from valid subscriptions in catalog
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

Dummy commit to trigger the pipeline
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
Due: none

testing artifact gathering konflux step
  .tekton/integration-tests/pipelines/lightspeed-complete-e2e-tests-pipeline-417.yaml
Due: none

bugfix: gracefully handle missing apitoken key in the LLM provider credential secret
  internal/controller/errors.go
  internal/controller/ols_app_server_assets.go
  internal/controller/ols_app_server_assets_test.go
  internal/controller/ols_app_server_reconciliator.go
  internal/controller/ols_app_server_reconciliator_test.go
  internal/controller/olsconfig_controller.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Bump to version 0.3.2
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  hack/update_bundle_catalog.sh
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

added fips check for bundle
  .tekton/ols-bundle-pull-request.yaml
  .tekton/ols-bundle-push.yaml
Due: none

added 4.18 FBC release
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
  lightspeed-catalog-4.18.Dockerfile
  lightspeed-catalog-4.18/index.yaml
Due: none

Red Hat Konflux update fbc-v4-18 Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
Due: none
