Repository openshift/lightspeed-operator: changes, and which Prow jobs are due for each by the changed paths.
All: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Path conditions:
  bundle-e2e-4-15: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-16: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-17: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-20: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^renovate\.json|^\.golangci\.yaml|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/generate: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/lint: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/security: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$

Remove pf5/419 Konflux artifacts and obsolete Cypress console pipeline
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-pf5.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-pf6.yaml
  .tekton/integration-tests/scripts/run-console-cypress-tests.sh
  config/manager/imagedigestmirrorset.yaml
  hack/snapshot_to_image_list.sh
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-2607 update specs for OKP adoption
  .ai/spec/how/config-generation.md
  .ai/spec/how/deployment-generation.md
  .ai/spec/what/app-server.md
Due: none

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260618-145551-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260618-190628-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260618-205850-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20260618-225739-000
  lightspeed-catalog-4.16/bundle-v1.1.1.yaml
  lightspeed-catalog-4.17/bundle-v1.1.1.yaml
  lightspeed-catalog-4.18/bundle-v1.1.1.yaml
  lightspeed-catalog-4.19/bundle-v1.1.1.yaml
  lightspeed-catalog-4.20/bundle-v1.1.1.yaml
  lightspeed-catalog-4.21/bundle-v1.1.1.yaml
  lightspeed-catalog-4.22/bundle-v1.1.1.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3210: Remove pf5/4-19 console images from related_images.json and bundle
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-pf5.yaml
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

fix: CVE-2026-42306
  go.mod
  go.sum
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-1680: Add bedrock to CRD provider type enum in spec
  .ai/spec/what/crd-api.md
Due: none

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260622-045649-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260623-111426-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3236 update specs for agentic operand deployment via lightspeed-operator
  .ai/spec/what/bundle-composition.md
  .ai/spec/what/crd-api.md
  .ai/spec/what/reconciliation.md
Due: none

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260623-161859-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-20260623-194724-000
  lightspeed-catalog-4.16/bundle-v1.1.1.yaml
  lightspeed-catalog-4.17/bundle-v1.1.1.yaml
  lightspeed-catalog-4.18/bundle-v1.1.1.yaml
  lightspeed-catalog-4.19/bundle-v1.1.1.yaml
  lightspeed-catalog-4.20/bundle-v1.1.1.yaml
  lightspeed-catalog-4.21/bundle-v1.1.1.yaml
  lightspeed-catalog-4.22/bundle-v1.1.1.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

fix: enforcing go version > 1.25.10 to avoid CVE-2026-42499 and CVE-2026-33811
  go.mod
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-2605: Add AWS Bedrock LLM provider to operator
  .ai/spec/what/crd-api.md
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  internal/controller/appserver/assets_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/test_fixtures.go
  internal/controller/utils/utils.go
  internal/controller/utils/utils_misc_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260624-132137-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-2605: Add bedrock provider type to OLM bundle CRD
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3221 Reduce app server liveness probe failureThreshold to 3
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/deployment.go
  internal/controller/appserver/deployment_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3236: Reconcile agentic console plugin in lightspeed-operator
  .ai/spec/README.md
  .ai/spec/how/project-structure.md
  .ai/spec/how/reconciliation.md
  .ai/spec/what/agentic-console-ui.md
  .ai/spec/what/console-ui.md
  AGENTS.md
  ARCHITECTURE.md
  Makefile
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  internal/controller/agenticconsole/assets.go
  internal/controller/agenticconsole/assets_test.go
  internal/controller/agenticconsole/deployment.go
  internal/controller/agenticconsole/reconciler.go
  internal/controller/agenticconsole/reconciler_test.go
  internal/controller/agenticconsole/suite_test.go
  internal/controller/appserver/reconciler.go
  internal/controller/console/assets.go
  internal/controller/console/assets_test.go
  internal/controller/console/deployment.go
  internal/controller/console/reconciler.go
  internal/controller/console/reconciler_test.go
  internal/controller/olsconfig_controller.go
  internal/controller/olsconfig_helpers.go
  internal/controller/reconciler/interface.go
  internal/controller/utils/console_plugin_reconciler.go
  internal/controller/utils/console_plugin_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/resource_defaults_test.go
  internal/controller/utils/suite_test.go
  internal/controller/utils/testing.go
  internal/controller/utils/types.go
  internal/controller/utils/utils.go
  internal/controller/watchers/watchers.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Version bump to 1.1.2
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  hack/bundle.Dockerfile
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

upgrade CI base image to rhel-9-release-golang-1.26-openshift-5.0
  .ci-operator.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3276 add spec.audit to OLSConfig CRD for audit logging and OTEL tracing
  .ai/spec/what/audit-logging.md
  .ai/spec/what/crd-api.md
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/olsconfig_types_test.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/utils/types.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3328: Add templog spec for operator Collector lifecycle
  .ai/spec/what/postgres.md
  .ai/spec/what/templog.md
Due: none

OLS-3348 Reconcile agentic alerts adapter as lightspeed-operator operand
  .ai/spec/how/deployment-generation.md
  .ai/spec/how/project-structure.md
  .ai/spec/how/reconciliation.md
  .ai/spec/what/agentic-console-ui.md
  .ai/spec/what/app-server.md
  .ai/spec/what/bundle-composition.md
  .ai/spec/what/crd-api.md
  .ai/spec/what/postgres.md
  .ai/spec/what/reconciliation.md
  .ai/spec/what/resource-lifecycle.md
  AGENTS.md
  ARCHITECTURE.md
  Makefile
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/rbac/role.yaml
  internal/controller/agenticconsole/suite_test.go
  internal/controller/alertsadapter/assets.go
  internal/controller/alertsadapter/assets_test.go
  internal/controller/alertsadapter/deployment.go
  internal/controller/alertsadapter/reconciler.go
  internal/controller/alertsadapter/reconciler_test.go
  internal/controller/alertsadapter/suite_test.go
  internal/controller/appserver/suite_test.go
  internal/controller/console/suite_test.go
  internal/controller/olsconfig_controller.go
  internal/controller/olsconfig_helpers.go
  internal/controller/reconciler/interface.go
  internal/controller/suite_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/errors.go
  internal/controller/utils/resource_defaults_test.go
  internal/controller/utils/suite_test.go
  internal/controller/utils/testing.go
  internal/controller/utils/types.go
  internal/controller/utils/utils.go
  internal/controller/watchers/watchers.go
  internal/controller/watchers/watchers_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3397: Update operator specs to remove default resource limits
  .ai/spec/how/deployment-generation.md
  .ai/spec/what/app-server.md
Due: none

OLS-3349: Wire agentic operand images into related_images.json and OLM bundle
  .ai/spec/what/agentic-console-ui.md
  .ai/spec/what/bundle-composition.md
  .ai/spec/what/crd-api.md
  .ai/spec/what/reconciliation.md
  Makefile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/default/deployment-patch.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  hack/image_placeholders.json
  hack/snapshot_to_image_list.sh
  hack/update_bundle.sh
  internal/controller/utils/constants.go
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Add Solr hybrid RAG via RHOKP sidecar
  .ai/spec/how/config-generation.md
  .ai/spec/how/deployment-generation.md
  .ai/spec/what/app-server.md
  .ai/spec/what/crd-api.md
  .gitignore
  Makefile
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  cmd/main.go
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/default/deployment-patch.yaml
  config/dev/metrics-reader-token.yaml
  hack/image_placeholders.json
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/deployment.go
  internal/controller/appserver/deployment_test.go
  internal/controller/appserver/reconciler_test.go
  internal/controller/appserver/rhokp.go
  internal/controller/appserver/rhokp_test.go
  internal/controller/appserver/suite_test.go
  internal/controller/olsconfig_helpers.go
  internal/controller/reconciler/interface.go
  internal/controller/utils/constants.go
  internal/controller/utils/resource_defaults_test.go
  internal/controller/utils/testing.go
  internal/controller/utils/types.go
  internal/controller/utils/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-3185 spec: create Service for ocp-mcp sidecar
  .ai/spec/what/app-server.md
Due: none

OLS-3402: remove default resource limits on deployments
  internal/controller/alertsadapter/deployment.go
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/deployment.go
  internal/controller/console/assets_test.go
  internal/controller/postgres/assets_test.go
  internal/controller/postgres/deployment.go
  internal/controller/utils/console_plugin_test.go
  internal/controller/utils/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

konflux: Replace release-bot service account with konflux-bot-0 in release pipelines
  .tekton/release/bundle-update/pipeline.yaml
  .tekton/release/bundle-update/pipelinerun.yaml
  .tekton/release/catalog-update/pipeline.yaml
  .tekton/release/catalog-update/pipelinerun.yaml
  .tekton/release/push-to-release/bundle-to-release-pipeline.yaml
  .tekton/release/release-bot/role.yaml
  .tekton/release/release-bot/rolebinding.yaml
  .tekton/release/release-bot/service-account.yaml
  .tekton/release/secrets/secret-github-token.yaml
  .tekton/release/secrets/secret-konflux-token.yaml
Due: none

OLS-3087: Replace wildcard RBAC verb on namespace-scoped roles/rolebindings
  config/rbac/role.yaml
  internal/controller/olsconfig_controller.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-1894 Add ROSA-aware OKP retrieval spec
  .ai/spec/how/config-generation.md
  .ai/spec/how/deployment-generation.md
  .ai/spec/what/app-server.md
Due: none

OLS-3087: Add missing watch and patch verbs to namespace-scoped RBAC
  config/rbac/role.yaml
  internal/controller/olsconfig_controller.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

konflux: add integration test pipeline of updating bundle from latest snapshot from main branch.
  .tekton/integration-tests/pipelines/bundle-update-pipeline.yaml
Due: none

LS-3492: Add Cursor skills for bundle dev update and release workflows
  .cursor/skills/update-bundle/SKILL.md
  .cursor/skills/version-update/SKILL.md
  AGENTS.md
Due: none

Update related_images and bundle from snapshot
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit
