Repository openshift/lightspeed-operator: changes, and which Prow jobs are due for each by the changed paths.
All: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

bundle-e2e-4-15:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-1
    owner: ols
    product: ocp
    timeout: 1h0m0s
    version: '4.15'
  steps:
    pre:
    - ref: ipi-install-rbac
    test:
    - as: e2e-install
      cli: latest
      commands: 'oc create namespace openshift-lightspeed
  
  ...

bundle-e2e-4-16:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-1
    owner: ols
    product: ocp
    timeout: 1h0m0s
    version: '4.16'
  steps:
    pre:
    - ref: ipi-install-rbac
    test:
    - as: e2e-install
      cli: latest
      commands: 'oc create namespace openshift-lightspeed
  
  ...

bundle-e2e-4-17:
  cluster_claim:
    architecture: amd64
    cloud: aws
    labels:
      region: us-east-1
    owner: ols
    product: ocp
    timeout: 1h0m0s
    version: '4.17'
  steps:
    pre:
    - ref: ipi-install-rbac
    test:
    - as: e2e-install
      cli: latest
      commands: 'oc create namespace openshift-lightspeed
  
  ...

fips-image-scan-operator:
  steps:
    dependencies:
      SCAN_IMAGE: lightspeed-operator
    test:
    - ref: fips-check-image-scan

ci/prow/bundle-e2e-4-15:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/bundle-e2e-4-16:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/bundle-e2e-4-17:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --hive-kubeconfig=/secrets/hive-hive-credentials/kubeconfig
  ...

ci/prow/fips-image-scan-operator:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/generate:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Fix the LLM list markdown in the operator description
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  lightspeed-catalog-4.17/index.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

OLS-1619: konflux: Split e2e pipelines for service and operator
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-415.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-417.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.15.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.16.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.17.yaml
Due: none

Red Hat Konflux purge test-bundle Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/test-bundle-pull-request.yaml
  .tekton/test-bundle-push.yaml
Due: none

Adding entraid tests
  .tekton/integration-tests/pipelines/lightspeed-complete-e2e-tests-pipeline-415.yaml
  .tekton/integration-tests/pipelines/lightspeed-complete-e2e-tests-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-complete-e2e-tests-pipeline-417.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-415.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-417.yaml
  test/e2e/assets.go
  test/e2e/constants.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

feat: add NetworkPolicy limiting ingress traffic.
  internal/controller/constants.go
  internal/controller/errors.go
  internal/controller/ols_app_postgres_assets.go
  internal/controller/ols_app_postgres_assets_test.go
  internal/controller/ols_app_postgres_reconciliator.go
  internal/controller/ols_app_postgres_reconciliator_test.go
  internal/controller/ols_app_server_assets.go
  internal/controller/ols_app_server_assets_test.go
  internal/controller/ols_app_server_reconciliator.go
  internal/controller/ols_app_server_reconciliator_test.go
  internal/controller/ols_console_reconciliator.go
  internal/controller/ols_console_reconciliator_test.go
  internal/controller/ols_console_ui_assets.go
  internal/controller/ols_console_ui_assets_test.go
  internal/controller/olsconfig_controller.go
  internal/controller/operator_reconciliator.go
  internal/controller/operator_reconciliator_test.go
  internal/controller/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

restricted rbac for secret and clusterrole/bindings
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controller/olsconfig_controller.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Bump to version 0.3.4
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  hack/update_bundle_catalog.sh
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

feat: add NetworkPolicy limiting ingress traffic.
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/controller/constants.go
  internal/controller/errors.go
  internal/controller/ols_app_postgres_assets.go
  internal/controller/ols_app_postgres_assets_test.go
  internal/controller/ols_app_postgres_reconciliator.go
  internal/controller/ols_app_postgres_reconciliator_test.go
  internal/controller/ols_app_server_assets.go
  internal/controller/ols_app_server_assets_test.go
  internal/controller/ols_app_server_reconciliator.go
  internal/controller/ols_app_server_reconciliator_test.go
  internal/controller/ols_console_reconciliator.go
  internal/controller/ols_console_reconciliator_test.go
  internal/controller/ols_console_ui_assets.go
  internal/controller/ols_console_ui_assets_test.go
  internal/controller/olsconfig_controller.go
  internal/controller/operator_reconciliator.go
  internal/controller/operator_reconciliator_test.go
  internal/controller/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

create bundle using snapshot ols-q445n
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

Konflux build pipeline service account migration for fbc-v4-15 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-15-pull-request.yaml
  .tekton/fbc-v4-15-push.yaml
Due: none

Konflux build pipeline service account migration for fbc-v4-16 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-16-pull-request.yaml
  .tekton/fbc-v4-16-push.yaml
Due: none

Konflux build pipeline service account migration for fbc-v4-17 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-17-pull-request.yaml
  .tekton/fbc-v4-17-push.yaml
Due: none

Konflux build pipeline service account migration for fbc-v4-18 Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/fbc-v4-18-pull-request.yaml
  .tekton/fbc-v4-18-push.yaml
Due: none

Konflux build pipeline service account migration for lightspeed-operator Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/lightspeed-operator-pull-request.yaml
  .tekton/lightspeed-operator-push.yaml
Due: none

Konflux build pipeline service account migration for ols-bundle Signed-off-by: konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/ols-bundle-pull-request.yaml
  .tekton/ols-bundle-push.yaml
Due: none

Fixing console tests and syncing with console pre-commit version
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-415.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-417.yaml
Due: none

tool: fix version patches
  hack/version_patches/konflux-release-data.patch
  hack/version_patches/service.patch
Due: ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Add artifact gathering and exporting to console tests
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-415.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-417.yaml
Due: none

fbc: release 0.3.4
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog-4.18/index.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

Moving directories to catch screenshots and videos
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-415.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-417.yaml
Due: none

updated bundle image to trigger another build
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

updated console label
  internal/controller/ols_console_ui_assets.go
  internal/controller/ols_console_ui_assets_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

OLS-1607: Resolve konflux EC failure on service repo - rpm_repos.ids_known
  .tekton/ols-bundle-pull-request.yaml
  .tekton/ols-bundle-push.yaml
  rpms.in.yaml
  rpms.in.yaml.aarch64
  rpms.in.yaml.x86_64
  rpms.lock.yaml
  rpms.lock.yaml.aarch64
  rpms.lock.yaml.x86_64
  ubi.repo
  ubi.repo.x86_64
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

bundle image using ols-ns8zc
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

Fixing console tests to install using bundle image instead of console image in bundle tests
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-415.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-417.yaml
Due: none

conf: update FBC for release 0.3.4
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog-4.18/index.yaml
Due: none

conf: update related images for bundle 0.3.4
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

OLS-1333: Fix prometheus metrics test flakyness
  test/e2e/client.go
  test/e2e/metrics_test.go
  test/e2e/prometheus_client.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

Corrected docs links on the operator installation tile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog-4.18/index.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

Adding operator sdk image to test run and removing bundle installation prior to tests
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.15.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.16.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.17.yaml
Due: none

feat: proxy configuration
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  internal/controller/constants.go
  internal/controller/errors.go
  internal/controller/ols_app_server_assets.go
  internal/controller/ols_app_server_assets_test.go
  internal/controller/ols_app_server_deployment.go
  internal/controller/ols_app_server_reconciliator.go
  internal/controller/ols_app_server_reconciliator_test.go
  internal/controller/types.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

OLS-1659: Support token quota in OLSConfig CRD
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  docs/olsconfig-ols-openshift-io-v1alpha1.adoc
  internal/controller/ols_app_server_assets.go
  internal/controller/ols_app_server_assets_test.go
  internal/controller/types.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Adding deploymentName and URL to olsconfig
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-415.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-417.yaml
  test/e2e/assets.go
  test/e2e/constants.go
  test/e2e/reconciliation_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

Adding artifact exporting
  test/e2e/constants.go
  test/e2e/reconciliation_test.go
  test/e2e/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

conf: operator does not nudge catalog.
  .tekton/lightspeed-operator-push.yaml
Due: none

OLS-1686: OLS should persist postgres data
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  internal/controller/constants.go
  internal/controller/errors.go
  internal/controller/ols_app_postgres_assets.go
  internal/controller/ols_app_postgres_assets_test.go
  internal/controller/ols_app_postgres_reconciliator.go
  internal/controller/ols_app_postgres_reconciliator_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Adding log gathering
  .gitignore
  test/e2e/autocorrection_test.go
  test/e2e/metrics_test.go
  test/e2e/rapidast_test.go
  test/e2e/reconciliation_test.go
  test/e2e/suite_test.go
  test/e2e/tls_test.go
  test/e2e/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

Running against PR version of tests. We need to remove this change after testing.
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-417.yaml
Due: none

OLS-1333: Fix e2e tls_test test flakyness
  test/e2e/client.go
  test/e2e/tls_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

Path conditions:
  bundle-e2e-4-15: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-16: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-17: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-15: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-16: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-17: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/generate: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/images: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/lint: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/unit: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
