Repository openshift/lightspeed-operator: changes, and which Prow jobs are due for each by the changed paths.
All: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Path conditions:
  bundle-e2e-4-15: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-16: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-17: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-20: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^renovate\.json|^\.golangci\.yaml|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/generate: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/images: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/lint: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/security: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$

Red Hat Konflux update fbc-v4-21
  .tekton/fbc-v4-21-pull-request.yaml
  .tekton/fbc-v4-21-push.yaml
Due: none

App-server Postgres reconcilation on certificate rotation.
  internal/controller/appserver/deployment.go
  internal/controller/postgres/deployment.go
  internal/controller/utils/constants.go
  internal/controller/watchers/watchers.go
  test/e2e/postgres_restart_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Adding key field to proxyCA config.
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/deployment.go
  internal/controller/appserver/reconciler.go
  internal/controller/appserver/reconciler_test.go
  internal/controller/lcore/config.go
  internal/controller/lcore/deployment.go
  internal/controller/lcore/reconciler.go
  internal/controller/lcore/reconciler_test.go
  internal/controller/olsconfig_helpers_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/utils.go
  test/e2e/proxy_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images with snapshot crt-nshift-lightspeed-tenant/ols-20260202-144151-000
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

adding support for library mode lcore deployment
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  cmd/main.go
  config/manager/manager.yaml
  internal/controller/lcore/config.go
  internal/controller/lcore/deployment.go
  internal/controller/lcore/deployment_test.go
  internal/controller/lcore/suite_test.go
  internal/controller/olsconfig_helpers.go
  internal/controller/reconciler/interface.go
  internal/controller/utils/constants.go
  internal/controller/utils/testing.go
  internal/controller/utils/types.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

modified MCP servers definition. Added Tool filtering config
  Makefile
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  config/samples/ols_v1alpha1_olsconfig.yaml
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/reconciler_test.go
  internal/controller/lcore/config.go
  internal/controller/lcore/config_test.go
  internal/controller/lcore/deployment_test.go
  internal/controller/olsconfig_helpers_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/types.go
  internal/controller/utils/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

aligned to the updated appserver config
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/lcore/deployment.go
  internal/controller/utils/types.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images with snapshot crt-nshift-lightspeed-tenant/ols-20260205-134152-000
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Generic Provider Config for LCore supported providers.
  api/v1alpha1/olsconfig_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  internal/controller/lcore/assets_test.go
  internal/controller/lcore/config.go
  internal/controller/lcore/deployment.go
  internal/controller/utils/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Bump version to 1.0.10
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-2574: Make related_images.json the only location that defines the OLS images
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-pf5.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-pf6.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-417.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-418.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-419.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-417.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-418.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-419.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.16.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.17.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.18.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.19.yaml
  .tekton/lightspeed-operator-push.yaml
  .tekton/ols-bundle-pull-request.yaml
  .tekton/ols-bundle-push.yaml
  Makefile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/default/deployment-patch.yaml
  config/default/kustomization.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  docs/olm-bundle-management.md
  hack/bundle.Dockerfile
  hack/image_placeholders.json
  hack/template_bundle.Containerfile
  hack/update_bundle.sh
  internal/controller/utils/constants.go
  internal/relatedimages/loader.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

OLS-2618: In bundle integration tests, match the versions of the tests and the image tested
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-pf5.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-pf6.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-417.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-418.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-419.yaml
Due: none

Update related_images with snapshot crt-nshift-lightspeed-tenant/ols-20260209-091518-000
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Adding CPE labels.
  .tekton/release/catalog-update/catalog-update.ContainerFile
  lightspeed-catalog-4.16.Dockerfile
  lightspeed-catalog-4.17.Dockerfile
  lightspeed-catalog-4.18.Dockerfile
  lightspeed-catalog-4.19.Dockerfile
  lightspeed-catalog-4.20.Dockerfile
  lightspeed-catalog-4.21.Dockerfile
Due: none

adding feature gate for tools filtering
  api/v1alpha1/olsconfig_types.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  internal/controller/appserver/assets.go
  internal/controller/utils/constants.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Updating PR template with ai tool field.
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

OLS-2641: Run make bundle when related_images.json is updated
  .tekton/release/bundle-update/pipeline.yaml
Due: none

add data collector support for LCore deployment
  internal/controller/appserver/deployment.go
  internal/controller/lcore/assets.go
  internal/controller/lcore/assets_test.go
  internal/controller/lcore/deployment.go
  internal/controller/lcore/deployment_test.go
  internal/controller/lcore/reconciler.go
  internal/controller/lcore/reconciler_test.go
  internal/controller/utils/constants.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

konflux: bundle-update pipeline base image add packages: yq kustomize operator-sdk
  .tekton/release/bundle-update/bundle-update.ContainerFile
  .tekton/release/bundle-update/pipeline.yaml
Due: none

OLS-1829: Detect change in specified BYOK images
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-417.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-418.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-e2e-test-pipeline-419.yaml
  Makefile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  cmd/main.go
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/crd/ocp/image.openshift.io_imagestreams.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
  internal/controller/appserver/deployment.go
  internal/controller/appserver/rag.go
  internal/controller/appserver/rag_test.go
  internal/controller/appserver/reconciler.go
  internal/controller/appserver/suite_test.go
  internal/controller/console/reconciler.go
  internal/controller/lcore/deployment.go
  internal/controller/olsconfig_controller.go
  internal/controller/postgres/deployment.go
  internal/controller/suite_test.go
  internal/controller/utils/constants.go
  internal/controller/utils/utils.go
  internal/controller/utils/utils_comparison_test.go
  internal/controller/utils/utils_deployment_test.go
  rpms.in.yaml
  rpms.lock.yaml
  test/e2e/byok_test.go
  test/e2e/client.go
  test/e2e/image_utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

removed dependabot as we have renovate bot
  .github/dependabot.yml
Due: none

Adding fake provider config for performance testing
  api/v1alpha1/olsconfig_types.go
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  internal/controller/appserver/assets.go
  internal/controller/utils/constants.go
  internal/controller/utils/types.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260212-191944-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update bundle version to v1.0.10
  Makefile
  hack/bundle.Dockerfile
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

fix pf5 tests
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-pf5.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-pf6.yaml
Due: none

deps: update module gopkg.in/evanphx/json-patch.v4 to v4.13.0
  go.mod
  go.sum
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

adding waiting times for operator pod to be running to run finalizers on deletion
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-pf5.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-pf6.yaml
  test/e2e/autocorrection_test.go
  test/e2e/database_test.go
  test/e2e/metrics_test.go
  test/e2e/proxy_test.go
  test/e2e/reconciliation_test.go
  test/e2e/tls_test.go
  test/e2e/upgrade_test.go
  test/e2e/utils.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

Update related_images and bundle with snapshot crt-nshift-lightspeed-tenant/ols-20260217-153639-000
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/lint, ci/prow/security, ci/prow/unit

App-server Postgres reconcilation on certificate rotation.
  internal/controller/appserver/assets_test.go
  internal/controller/appserver/deployment.go
  internal/controller/appserver/rag.go
  test/e2e/postgres_restart_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

conf: upgrade operator base image to go 1.25.7
  Dockerfile
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

deps: update module github.com/prometheus/common to v0.67.5
  go.mod
  go.sum
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/lcore/assets.go
  internal/controller/operator_assets.go
  internal/controller/operator_assets_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

deps: github.com/google/pprof digest to cb029da
  go.mod
  go.sum
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

deps: update k8s and openshift API packages to 0.35.1 and 20260213141500-06efc6dce93b
  go.mod
  go.sum
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

deps: update k8s.io/utils digest to b8788ab
  go.mod
  go.sum
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

deps: update go-openapi to 0.25.4
  go.mod
  go.sum
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit

deps: update github.com/prometheus-operator/prometheus-operator/pkg/apis/monitoring to v0.89.0
  go.mod
  go.sum
  internal/controller/appserver/assets.go
  internal/controller/appserver/assets_test.go
  internal/controller/lcore/assets.go
  internal/controller/operator_assets.go
  internal/controller/operator_assets_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-20, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/security, ci/prow/unit
