Repository openshift/lightspeed-operator: changes, and which Prow jobs are due for each by the changed paths.
All: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Path conditions:
  bundle-e2e-4-15: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-16: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  bundle-e2e-4-17: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-15: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-16: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/bundle-e2e-4-17: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/fips-image-scan-operator: unless all of: ^docs/|\.md$|lightspeed-catalog.*|^\.tekton/|^\.github/|^hack/|^(?:.*/)?(?:\.gitignore|\.snyk|\.dockerignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/generate: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/images: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/lint: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$
  ci/prow/unit: any of: ^(api/.*|cmd/.*|hack/.*|internal/.*|Dockerfile|Makefile|go\.mod|go\.sum)$

tools: fix yq jq path in bundle building
  Makefile
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

fixing issue with non-discoverable bundle image
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-417.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-418.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-419.yaml
Due: none

Update bundle
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  bundle/metadata/annotations.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

OLS-1700: Remove support for OCP 4.15
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.16.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.17.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.18.yaml
  .tekton/integration-tests/pipelines/lightspeed-service-integration-test-pipeline-4.19.yaml
  .tekton/integration-tests/pipelines/rapidast-scan.yaml
  .tekton/release/catalog-update/pipeline.yaml
  README.md
  bundle.Dockerfile
  bundle/metadata/annotations.yaml
  hack/release-konflux/base/fbc-prod-v4-15.yaml
  hack/release-konflux/kustomization.yaml
  hack/template_bundle.Containerfile
  hack/update_bundle.sh
  internal/controller/ols_app_server_assets_test.go
  internal/controller/ols_app_server_reconciliator_test.go
  lightspeed-catalog-4.15.Dockerfile
  renovate.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

OLS-2024: Update OLS version to 1.0.4
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  hack/release-konflux/kustomization.yaml
  hack/version_patches/konflux-release-data.patch
  lightspeed-catalog-4.15/index.yaml
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog-4.18/index.yaml
  lightspeed-catalog-4.19/index.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Fixing yq installation
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-417.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-418.yaml
  .tekton/integration-tests/pipelines/lightspeed-operator-upgrade-e2e-test-pipeline-419.yaml
Due: none

Remove config collection from spec
  api/v1alpha1/olsconfig_types.go
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  bundle/manifests/ols.openshift.io_olsconfigs.yaml
  config/crd/bases/ols.openshift.io_olsconfigs.yaml
  config/manifests/bases/lightspeed-operator.clusterserviceversion.yaml
  internal/controller/ols_app_server_assets_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

feat: add validation webhook for OLSConfig CRD
  Makefile
  PROJECT
  bundle/manifests/lightspeed-operator-webhook-service_v1_service.yaml
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  cmd/main.go
  config/crd/kustomization.yaml
  config/default/kustomization.yaml
  config/default/manager_webhook_patch.yaml
  config/default/webhookcainjection_patch.yaml
  config/webhook/kustomization.yaml
  config/webhook/kustomizeconfig.yaml
  config/webhook/manifests.yaml
  config/webhook/service.yaml
  internal/controller/operator_reconciliator.go
  internal/controller/operator_reconciliator_test.go
  internal/webhook/olsconfig_webhook.go
  internal/webhook/olsconfig_webhook_test.go
  internal/webhook/webhook_suite_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

sync auto generated codes
  internal/webhook/olsconfig_webhook.go
  internal/webhook/olsconfig_webhook_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

fix: hide bearer token from test logs
  test/e2e/byok_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

explicitly patch service for webhook
  bundle/manifests/lightspeed-operator-controller-manager-service_v1_service.yaml
  config/crd/kustomization.yaml
  config/default/manager_webhook_patch.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

Update related_images with snapshot crt-nshift-lightspeed-tenant/ols-vzncv
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

Update related_images.json for OLS 1.0.4
  hack/snapshot_to_image_list.sh
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-8l9t4
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog-4.18/index.yaml
  lightspeed-catalog-4.19/index.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

tools: add bundle-to-release-pipeline
  .tekton/release/push-to-release/bundle-to-release-pipeline.yaml
Due: none

tool: add testing pipeline run for bundle-to-release-pipeline
  .tekton/release/push-to-release/bundle-to-release-pipelinerun.yaml
Due: none

OLS-2024: OLS 1.0.4, snapshot-to-catalog
  hack/snapshot_to_image_list.sh
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog-4.18/index.yaml
  lightspeed-catalog-4.19/index.yaml
Due: ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

removing staging repos and fixing bundle quay repo
  config/manager/imagedigestmirrorset.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

Ensuring quota limits get updated in the new app-server configmap.
  internal/controller/ols_app_server_reconciliator.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

OLS-2024: OLS 1.0.4. Consistent use of openshift-mcp-server, operator changes
  cmd/main.go
  internal/controller/constants.go
  internal/controller/ols_app_server_assets.go
  internal/controller/ols_app_server_assets_test.go
  internal/controller/ols_app_server_deployment.go
  internal/controller/olsconfig_controller.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

OLS-2024: OLS 1.0.4. Consistent use of openshift-mcp-server, bundle changes
  Makefile
  bundle.Dockerfile
  bundle/manifests/lightspeed-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
  hack/snapshot_to_image_list.sh
  hack/template_bundle.Containerfile
  hack/update_bundle.sh
  lightspeed-catalog-4.15/index.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Adding test-case for configmap updation.
  internal/controller/ols_app_server_reconciliator_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Adding err_status variable to record the status of the test run
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-416.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-417.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-418.yaml
  .tekton/integration-tests/pipelines/lightspeed-console-e2e-test-pipeline-419.yaml
Due: none

Postgres pod reconcilation during ca cert alteration.
  internal/controller/ols_app_server_reconciliator.go
  internal/controller/olsconfig_controller.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Reconciling openshift-service-ca.crt with postgres.
  cmd/main.go
  internal/controller/ols_app_postgres_assets.go
  internal/controller/ols_app_server_reconciliator.go
  internal/controller/olsconfig_controller.go
  internal/controller/resource_watchers.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Fixiing linter issues and unit tests.
  cmd/main.go
  internal/controller/ols_app_postgres_assets.go
  internal/controller/olsconfig_controller.go
  internal/controller/resource_watchers.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Update related_images with snapshot crt-nshift-lightspeed-tenant/ols-pb7hh
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

Ensuring health of postgres pod.
  internal/controller/ols_app_postgres_assets.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Update catalog with bundle snapshot crt-nshift-lightspeed-tenant/ols-bundle-h7xxb
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog-4.18/index.yaml
  lightspeed-catalog-4.19/index.yaml
  related_images.json
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

feat: ClusterRole query-access added get verb to /ls-access.
  bundle/manifests/lightspeed-operator-query-access_rbac.authorization.k8s.io_v1_clusterrole.yaml
  config/user-access/query_access_clusterrole.yaml
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

OLS-2024: OLS 1.0.4 release. FBC catalog updates.
  lightspeed-catalog-4.16/index.yaml
  lightspeed-catalog-4.17/index.yaml
  lightspeed-catalog-4.18/index.yaml
  lightspeed-catalog-4.19/index.yaml
Due: none

fix: MCP config should export settings for one transport only
  internal/controller/ols_app_server_assets.go
  internal/controller/ols_app_server_assets_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit

Remove debug output of SA token from the BYOK e2e test
  test/e2e/byok_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

Fix for a race condition in the Postgres restart e2e test
  test/e2e/postgres_restart_test.go
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator

Conditional assignment of CONTAINER_TOOL
  Makefile
Due: bundle-e2e-4-15, bundle-e2e-4-16, bundle-e2e-4-17, fips-image-scan-operator, ci/prow/bundle-e2e-4-15, ci/prow/bundle-e2e-4-16, ci/prow/bundle-e2e-4-17, ci/prow/fips-image-scan-operator, ci/prow/generate, ci/prow/images, ci/prow/lint, ci/prow/unit
