Repository openshift/cluster-image-registry-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-openstack, ci/prow/e2e-vsphere, ci/prow/e2e-vsphere-operator, ci/prow/images, ci/prow/unit, ci/prow/verify

ci/prow/e2e-aws-operator:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ovn:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ovn-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ovn-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-azure-operator:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-azure-ovn:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-gcp-operator:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-gcp-ovn:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-openstack:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: openstack-vexxhost
    ci-operator.openshift.io/cloud-cluster-profile: openstack-vexxhost
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

Update rbac for featuregate
  manifests/02-rbac.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

pkg/operator: deactivate azure path fix job
  pkg/operator/azurepathfixcontroller.go
  pkg/resource/azurepathfixjob.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

pkg/operator: remove azure path fix controller conditions
  pkg/operator/azurepathfixcontroller.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

set required-scc for openshift workloads
  bindata/nodecadaemon.yaml
  manifests/07-operator.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

set required-scc for openshift workloads
  bindata/nodecadaemon.yaml
  manifests/07-operator-ibm-cloud-managed.yaml
  manifests/07-operator.yaml
  pkg/resource/azurepathfixjob.go
  pkg/resource/deployment.go
  pkg/resource/prunercronjob.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

Fixing the validation
  pkg/storage/s3/s3.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Power VS: Check endpoints against lower case strings
  pkg/storage/ibmcos/ibmcos.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

ARO-9391 Remove the Access Key dependency when using Federated Token
  pkg/storage/azure/azure.go
  pkg/storage/azure/azureclient/azureclient.go
  pkg/storage/azure/azureclient/azureclient_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

Revert "IR-467: Enable Azure MSI authentication"
  pkg/storage/azure/azure.go
  pkg/storage/azure/azureclient/azureclient.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

this is to pass the linter, and a decision of how to correctly handle configapiv1.IBMCloudServiceCOSConfig will be made at a later point, probably as part of OCPBUGS-36459
  pkg/storage/ibmcos/ibmcos.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Removing featuregate for chunkSizeMiB config
  pkg/resource/podtemplatespec_test.go
  pkg/storage/s3/s3.go
  pkg/storage/s3/s3_test.go
  pkg/storage/util/util.go
  test/e2e/aws_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Enable MSI override for ARO HCP
  pkg/storage/azure/azure.go
  pkg/storage/azure/azureclient/azureclient.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

remove alibaba
  manifests/01-registry-credentials-request-alibaba.yaml
  pkg/storage/ibmcos/ibmcos.go
  pkg/storage/oss/oss.go
  pkg/storage/oss/oss_test.go
  pkg/storage/storage.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Go mod tid && go mod vendor to test distribution changes
  go.mod
  vendor/modules.txt
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Update swift to use gophercloud v2
  pkg/storage/swift/swift.go
  pkg/storage/swift/swift_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-openstack, ci/prow/images, ci/prow/unit, ci/prow/verify

wip: force operator verbose logs
  cmd/cluster-image-registry-operator/main.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

ARO-9391 update unit tests for azblob clients
  pkg/storage/azure/azure.go
  pkg/storage/azure/azure_test.go
  pkg/storage/azure/azureclient/azureclient.go
  pkg/storage/azure/azureclient/azureclient_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

ARO-9391 update vendoring post rebase
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

ARO-9391 add container delete action to the cloud credential manifest
  manifests/01-registry-credentials-request-azure.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

MULTIARCH-4552: Sync ImageStreamImportMode setting in the image config
  pkg/operator/imageconfig.go
  pkg/operator/starter.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

pkg/storage/azure: do not retry remove storage operation
  pkg/storage/azure/azure.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

manifests: comment containers delete permission
  manifests/01-registry-credentials-request-azure.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  ci/prow/e2e-aws-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn-image-registry: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-azure-operator: any of: ^(.*azure.*|vendor/github\.com/Azure/.*)\.go$
  ci/prow/e2e-azure-ovn: any of: ^(.*azure.*|vendor/github\.com/Azure/.*)\.go$
  ci/prow/e2e-gcp-operator: any of: ^(.*gcs.*|vendor/(cloud\.google\.com|google\.golang\.org)/.*)\.go$
  ci/prow/e2e-gcp-ovn: any of: ^(.*gcs.*|vendor/(cloud\.google\.com|google\.golang\.org)/.*)\.go$
  ci/prow/e2e-openstack: any of: (^(.*swift.*|vendor/github\.com/gophercloud/.*)\.go$|.*openstack.*)
  ci/prow/e2e-vsphere: any of: ^(.*(vsphere|baremetal).*)\.go$
  ci/prow/e2e-vsphere-operator: any of: ^(.*(vsphere|baremetal).*)\.go$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
