Repository openshift/cluster-image-registry-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-openstack, ci/prow/e2e-vsphere, ci/prow/e2e-vsphere-operator, ci/prow/images, ci/prow/unit, ci/prow/verify

ci/prow/e2e-aws-operator:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ovn:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ovn-image-registry:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-aws-ovn-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-azure-operator:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-azure-ovn:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: azure4
    ci-operator.openshift.io/cloud-cluster-profile: azure4
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-gcp-operator:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-gcp-ovn:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-openstack:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: openstack-vexxhost
    ci-operator.openshift.io/cloud-cluster-profile: openstack-vexxhost
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
  ...

vendor: bump aws-sdk-go from v1.44 to v1.50
  go.mod
  go.sum
  vendor/github.com/aws/aws-sdk-go/aws/config.go
  vendor/github.com/aws/aws-sdk-go/aws/corehandlers/awsinternal.go
  vendor/github.com/aws/aws-sdk-go/aws/corehandlers/user_agent.go
  vendor/github.com/aws/aws-sdk-go/aws/credentials/endpointcreds/provider.go
  vendor/github.com/aws/aws-sdk-go/aws/credentials/ssocreds/token_provider.go
  vendor/github.com/aws/aws-sdk-go/aws/defaults/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/ec2metadata/token_provider.go
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/session/credentials.go
  vendor/github.com/aws/aws-sdk-go/aws/session/env_config.go
  vendor/github.com/aws/aws-sdk-go/aws/session/session.go
  vendor/github.com/aws/aws-sdk-go/aws/session/shared_config.go
  vendor/github.com/aws/aws-sdk-go/aws/signer/v4/v4.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/internal/ini/literal_tokens.go
  vendor/github.com/aws/aws-sdk-go/internal/ini/visitor.go
  vendor/github.com/aws/aws-sdk-go/service/s3/api.go
  vendor/github.com/aws/aws-sdk-go/service/s3/errors.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3iface/interface.go
  vendor/github.com/aws/aws-sdk-go/service/s3/s3manager/upload_input.go
  vendor/github.com/aws/aws-sdk-go/service/ssooidc/api.go
  vendor/github.com/aws/aws-sdk-go/service/ssooidc/doc.go
  vendor/github.com/aws/aws-sdk-go/service/ssooidc/errors.go
  vendor/github.com/aws/aws-sdk-go/service/ssooidc/service.go
  vendor/github.com/aws/aws-sdk-go/service/sts/api.go
  vendor/modules.txt
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

NO-JIRA: remove bparees from owners
  OWNERS
Due: none

Enable Azure MSI authentication
  pkg/storage/azure/azure.go
  pkg/storage/azure/azureclient/azureclient.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

azure-path-fix: fix validation for move-blobs command
  cmd/move-blobs/main.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

azure-path-fix: get client secret from k8s secret
  pkg/resource/azurepathfixjob.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

Power VS: Add support for endpoint overrides
  pkg/storage/ibmcos/ibmcos.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

add hypershit notation to patch
  profile-patches/ibm-cloud-managed/07-operator.yaml-patch
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

pkg/storage/s3: use force path style in favour of virtual hosted style
  pkg/resource/podtemplatespec_test.go
  pkg/storage/ibmcos/ibmcos.go
  pkg/storage/ibmcos/ibmcos_test.go
  pkg/storage/s3/s3.go
  pkg/storage/s3/s3_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

azurepathfix: check if platform status is nil before accessing it
  pkg/operator/azurepathfixcontroller.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

Fixing renamed & redundant implementation added by the api bump
  Dockerfile
  pkg/client/operatorclient.go
  pkg/operator/bootstrap.go
  pkg/storage/pvc/pvc.go
  test/e2e/pvc_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

increase timeout for cluster to be healthy
  test/framework/imageregistry.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Initailizing featureGate Accessor
  manifests/07-operator-ibm-cloud-managed.yaml
  manifests/07-operator.yaml
  pkg/operator/controller.go
  pkg/operator/starter.go
  pkg/resource/generator.go
  vendor/github.com/openshift/api/annotations/annotations.go
  vendor/github.com/openshift/library-go/pkg/certs/pem.go
  vendor/github.com/openshift/library-go/pkg/certs/util.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/OWNERS
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/annotations.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/cabundle.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/client_cert_rotation_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/config.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/label.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/metadata.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/signer.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/target.go
  vendor/github.com/openshift/library-go/pkg/operator/condition/condition.go
  vendor/github.com/openshift/library-go/pkg/operator/configobserver/config_observer_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/configobserver/featuregates/featuregate.go
  vendor/github.com/openshift/library-go/pkg/operator/configobserver/featuregates/hardcoded_featuregate_reader.go
  vendor/github.com/openshift/library-go/pkg/operator/configobserver/featuregates/observe_featuregates.go
  vendor/github.com/openshift/library-go/pkg/operator/configobserver/featuregates/simple_featuregate_reader.go
  vendor/github.com/openshift/library-go/pkg/operator/configobserver/unstructured.go
  vendor/github.com/openshift/library-go/pkg/operator/resourcesynccontroller/core.go
  vendor/github.com/openshift/library-go/pkg/operator/resourcesynccontroller/interfaces.go
  vendor/github.com/openshift/library-go/pkg/operator/resourcesynccontroller/resourcesync_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/status/condition.go
  vendor/github.com/openshift/library-go/pkg/operator/status/inertia.go
  vendor/github.com/openshift/library-go/pkg/operator/status/status_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/status/version.go
  vendor/modules.txt
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

vendor: run go mod vendor after golang bump
  vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/client_intermediate_cert.der
  vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/client_leaf_cert.der
  vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/client_root_cert.der
  vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/server_intermediate_cert.der
  vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/server_leaf_cert.der
  vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/server_root_cert.der
  vendor/github.com/google/s2a-go/internal/v2/remotesigner/testdata/client_cert.der
  vendor/github.com/google/s2a-go/internal/v2/remotesigner/testdata/client_cert.pem
  vendor/github.com/google/s2a-go/internal/v2/remotesigner/testdata/client_key.pem
  vendor/github.com/google/s2a-go/internal/v2/remotesigner/testdata/server_cert.der
  vendor/github.com/google/s2a-go/internal/v2/remotesigner/testdata/server_cert.pem
  vendor/github.com/google/s2a-go/internal/v2/remotesigner/testdata/server_key.pem
  vendor/github.com/google/s2a-go/internal/v2/testdata/client_cert.pem
  vendor/github.com/google/s2a-go/internal/v2/testdata/client_key.pem
  vendor/github.com/google/s2a-go/internal/v2/testdata/server_cert.pem
  vendor/github.com/google/s2a-go/internal/v2/testdata/server_key.pem
  vendor/github.com/google/s2a-go/internal/v2/tlsconfigstore/testdata/client_cert.pem
  vendor/github.com/google/s2a-go/internal/v2/tlsconfigstore/testdata/client_key.pem
  vendor/github.com/google/s2a-go/internal/v2/tlsconfigstore/testdata/server_cert.pem
  vendor/github.com/google/s2a-go/internal/v2/tlsconfigstore/testdata/server_key.pem
  vendor/github.com/google/s2a-go/testdata/client_cert.pem
  vendor/github.com/google/s2a-go/testdata/client_key.pem
  vendor/github.com/google/s2a-go/testdata/mds_client_cert.pem
  vendor/github.com/google/s2a-go/testdata/mds_client_key.pem
  vendor/github.com/google/s2a-go/testdata/mds_root_cert.pem
  vendor/github.com/google/s2a-go/testdata/mds_server_cert.pem
  vendor/github.com/google/s2a-go/testdata/mds_server_key.pem
  vendor/github.com/google/s2a-go/testdata/self_signed_cert.pem
  vendor/github.com/google/s2a-go/testdata/self_signed_key.pem
  vendor/github.com/google/s2a-go/testdata/server_cert.pem
  vendor/github.com/google/s2a-go/testdata/server_key.pem
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

CFE-962: Add permissions required for fetching GCP tags
  manifests/01-registry-credentials-request-gcs.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

CFE-962: Refactor code to mock GCP tag service for UTs
  pkg/storage/gcs/gcp_labels_tags.go
  pkg/storage/gcs/gcs.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

CFE-962: Add UTs for GCP tags implementation
  pkg/storage/gcs/gcp_labels_tags_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

pkg/resource,manifests: add SAR capability
  manifests/02-rbac.yaml
  pkg/resource/clusterrole.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Add chunksize variable to utilize
  manifests/02-rbac.yaml
  pkg/operator/azurepathfixcontroller.go
  pkg/operator/imageregistrycertificates.go
  pkg/operator/starter.go
  pkg/resource/caconfig.go
  pkg/resource/generator.go
  pkg/resource/imageregistryca.go
  pkg/resource/podtemplatespec_test.go
  pkg/storage/s3/s3.go
  pkg/storage/s3/s3_test.go
  pkg/storage/storage.go
  pkg/storage/util/util.go
  test/e2e/aws_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

Ensure affinity rules are applied for >=2 replicas
  pkg/resource/podtemplatespec.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Update rbac for featuregate
  manifests/02-rbac.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  ci/prow/e2e-aws-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn-image-registry: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-azure-operator: any of: ^(.*azure.*|vendor/github\.com/Azure/.*)\.go$
  ci/prow/e2e-azure-ovn: any of: ^(.*azure.*|vendor/github\.com/Azure/.*)\.go$
  ci/prow/e2e-gcp-operator: any of: ^(.*gcs.*|vendor/(cloud\.google\.com|google\.golang\.org)/.*)\.go$
  ci/prow/e2e-gcp-ovn: any of: ^(.*gcs.*|vendor/(cloud\.google\.com|google\.golang\.org)/.*)\.go$
  ci/prow/e2e-openstack: any of: (^(.*swift.*|vendor/github\.com/gophercloud/.*)\.go$|.*openstack.*)
  ci/prow/e2e-vsphere: any of: ^(.*(vsphere|baremetal).*)\.go$
  ci/prow/e2e-vsphere-operator: any of: ^(.*(vsphere|baremetal).*)\.go$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
