Repository openshift/cluster-image-registry-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-openstack, ci/prow/e2e-vsphere, ci/prow/e2e-vsphere-operator, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  ci/prow/e2e-aws-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn-image-registry: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-azure-operator: any of: ^(.*azure.*|vendor/github\.com/Azure/.*)\.go$
  ci/prow/e2e-azure-ovn: any of: ^(.*azure.*|vendor/github\.com/Azure/.*)\.go$
  ci/prow/e2e-gcp-operator: any of: ^(.*gcs.*|vendor/(cloud\.google\.com|google\.golang\.org)/.*)\.go$
  ci/prow/e2e-gcp-ovn: any of: ^(.*gcs.*|vendor/(cloud\.google\.com|google\.golang\.org)/.*)\.go$
  ci/prow/e2e-openstack: any of: (^(.*swift.*|vendor/github\.com/gophercloud/.*)\.go$|.*openstack.*)
  ci/prow/e2e-vsphere: any of: ^(.*(vsphere|baremetal).*)\.go$
  ci/prow/e2e-vsphere-operator: any of: ^(.*(vsphere|baremetal).*)\.go$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

TEST: Reproduce OCPBUGS-23514 for CVO
  manifests/07-operator.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Update RELEASE_VERSION value in operator manifest
  manifests/07-operator.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

ensure that storage names don't end in dashes
  pkg/storage/util/util.go
  pkg/storage/util/util_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove ARO HCP MIv2 Authentication Type
  pkg/storage/azure/azure.go
  pkg/storage/azure/azureclient/azureclient.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove filewatcher
  pkg/filewatcher/filewatcher.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove ARO HCP MIv2 Authentication Type
  go.mod
  pkg/storage/azure/azure.go
  pkg/storage/azure/azureclient/azureclient.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

The required-scc annotation should be on the template that gets applied to the pod itself, not the job.
  pkg/resource/prunercronjob.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

OSASINFRA-3747: Prefer CA cert from credentials secret
  pkg/storage/swift/swift.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-openstack, ci/prow/images, ci/prow/unit, ci/prow/verify

Revert "CNTRLPLANE-112: Remove ARO HCP MIv2 Authentication"
  go.mod
  pkg/filewatcher/filewatcher.go
  pkg/storage/azure/azure.go
  pkg/storage/azure/azureclient/azureclient.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

Authenticate to Azure only once in CPO
  pkg/storage/azure/azure.go
  pkg/storage/azure/azureclient/azureclient.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

bump golangci-lint and fix new lint issues
  Makefile
  pkg/operator/status.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

IR-455: setting read only root filesystem
  bindata/nodecadaemon.yaml
  manifests/07-operator-ibm-cloud-managed.yaml
  manifests/07-operator.yaml
  pkg/resource/podtemplatespec.go
  pkg/resource/prunercronjob.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

IR-523: setting read only root filesystem
  bindata/nodecadaemon.yaml
  manifests/07-operator-ibm-cloud-managed.yaml
  manifests/07-operator.yaml
  pkg/resource/podtemplatespec.go
  pkg/resource/prunercronjob.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

CVE-2025-22868: bump golang.org/x/oauth2 to v0.27.0
  go.mod
  go.sum
  vendor/golang.org/x/oauth2/LICENSE
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/externalaccount/aws.go
  vendor/golang.org/x/oauth2/google/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/jws/jws.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/pkce.go
  vendor/golang.org/x/oauth2/token.go
  vendor/modules.txt
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

dockerfile updated
  Dockerfile
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Set ownership annotation for image-registry-ca CA bundle
  pkg/resource/imageregistryca.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Set ownership annotation forimage-registry-certificates CA bundle
  pkg/resource/caconfig.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

chore: bump golang.org/x/oauth2 to the latest version
  go.mod
  go.sum
  vendor/golang.org/x/oauth2/LICENSE
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/authhandler/authhandler.go
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/externalaccount/aws.go
  vendor/golang.org/x/oauth2/google/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/externalaccount/executablecredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/filecredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/urlcredsource.go
  vendor/golang.org/x/oauth2/google/google.go
  vendor/golang.org/x/oauth2/google/internal/impersonate/impersonate.go
  vendor/golang.org/x/oauth2/google/internal/stsexchange/sts_exchange.go
  vendor/golang.org/x/oauth2/internal/doc.go
  vendor/golang.org/x/oauth2/internal/oauth2.go
  vendor/golang.org/x/oauth2/internal/token.go
  vendor/golang.org/x/oauth2/internal/transport.go
  vendor/golang.org/x/oauth2/jws/jws.go
  vendor/golang.org/x/oauth2/jwt/jwt.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/pkce.go
  vendor/golang.org/x/oauth2/token.go
  vendor/golang.org/x/oauth2/transport.go
  vendor/modules.txt
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-56363: bump golang.org/x/oauth2
  go.mod
  go.sum
  vendor/golang.org/x/oauth2/LICENSE
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/authhandler/authhandler.go
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/externalaccount/aws.go
  vendor/golang.org/x/oauth2/google/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/externalaccount/executablecredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/filecredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/urlcredsource.go
  vendor/golang.org/x/oauth2/google/google.go
  vendor/golang.org/x/oauth2/google/internal/impersonate/impersonate.go
  vendor/golang.org/x/oauth2/google/internal/stsexchange/sts_exchange.go
  vendor/golang.org/x/oauth2/internal/doc.go
  vendor/golang.org/x/oauth2/internal/oauth2.go
  vendor/golang.org/x/oauth2/internal/token.go
  vendor/golang.org/x/oauth2/internal/transport.go
  vendor/golang.org/x/oauth2/jws/jws.go
  vendor/golang.org/x/oauth2/jwt/jwt.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/pkce.go
  vendor/golang.org/x/oauth2/token.go
  vendor/golang.org/x/oauth2/transport.go
  vendor/modules.txt
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-51606: bump golang.org/x/oauth2
  go.mod
  go.sum
  vendor/golang.org/x/oauth2/LICENSE
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/externalaccount/aws.go
  vendor/golang.org/x/oauth2/google/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/jws/jws.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/token.go
  vendor/modules.txt
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-51596: bump golang.org/x/oauth2
  go.mod
  go.sum
  vendor/cloud.google.com/go/compute/LICENSE
  vendor/cloud.google.com/go/compute/internal/version.go
  vendor/cloud.google.com/go/compute/metadata/CHANGES.md
  vendor/cloud.google.com/go/compute/metadata/metadata.go
  vendor/cloud.google.com/go/compute/metadata/retry.go
  vendor/cloud.google.com/go/compute/metadata/tidyfix.go
  vendor/golang.org/x/oauth2/LICENSE
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/deviceauth.go
  vendor/golang.org/x/oauth2/google/appengine.go
  vendor/golang.org/x/oauth2/google/appengine_gen1.go
  vendor/golang.org/x/oauth2/google/appengine_gen2_flex.go
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/doc.go
  vendor/golang.org/x/oauth2/google/externalaccount/aws.go
  vendor/golang.org/x/oauth2/google/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/externalaccount/executablecredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/filecredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/header.go
  vendor/golang.org/x/oauth2/google/externalaccount/programmaticrefreshcredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/urlcredsource.go
  vendor/golang.org/x/oauth2/google/google.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/err.go
  vendor/golang.org/x/oauth2/google/internal/externalaccountauthorizeduser/externalaccountauthorizeduser.go
  vendor/golang.org/x/oauth2/google/internal/impersonate/impersonate.go
  vendor/golang.org/x/oauth2/google/internal/stsexchange/clientauth.go
  vendor/golang.org/x/oauth2/google/internal/stsexchange/sts_exchange.go
  vendor/golang.org/x/oauth2/internal/client_appengine.go
  vendor/golang.org/x/oauth2/internal/token.go
  vendor/golang.org/x/oauth2/internal/transport.go
  vendor/golang.org/x/oauth2/jws/jws.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/pkce.go
  vendor/golang.org/x/oauth2/token.go
  vendor/modules.txt
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-51598: bump golang.org/x/oauth2
  go.mod
  go.sum
  vendor/cloud.google.com/go/compute/LICENSE
  vendor/cloud.google.com/go/compute/internal/version.go
  vendor/cloud.google.com/go/compute/metadata/CHANGES.md
  vendor/cloud.google.com/go/compute/metadata/metadata.go
  vendor/cloud.google.com/go/compute/metadata/retry.go
  vendor/cloud.google.com/go/compute/metadata/tidyfix.go
  vendor/golang.org/x/oauth2/LICENSE
  vendor/golang.org/x/oauth2/README.md
  vendor/golang.org/x/oauth2/deviceauth.go
  vendor/golang.org/x/oauth2/google/appengine.go
  vendor/golang.org/x/oauth2/google/appengine_gen1.go
  vendor/golang.org/x/oauth2/google/appengine_gen2_flex.go
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/doc.go
  vendor/golang.org/x/oauth2/google/externalaccount/aws.go
  vendor/golang.org/x/oauth2/google/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/externalaccount/executablecredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/filecredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/header.go
  vendor/golang.org/x/oauth2/google/externalaccount/programmaticrefreshcredsource.go
  vendor/golang.org/x/oauth2/google/externalaccount/urlcredsource.go
  vendor/golang.org/x/oauth2/google/google.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/basecredentials.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/err.go
  vendor/golang.org/x/oauth2/google/internal/externalaccountauthorizeduser/externalaccountauthorizeduser.go
  vendor/golang.org/x/oauth2/google/internal/impersonate/impersonate.go
  vendor/golang.org/x/oauth2/google/internal/stsexchange/clientauth.go
  vendor/golang.org/x/oauth2/google/internal/stsexchange/sts_exchange.go
  vendor/golang.org/x/oauth2/internal/client_appengine.go
  vendor/golang.org/x/oauth2/internal/token.go
  vendor/golang.org/x/oauth2/internal/transport.go
  vendor/golang.org/x/oauth2/jws/jws.go
  vendor/golang.org/x/oauth2/oauth2.go
  vendor/golang.org/x/oauth2/pkce.go
  vendor/golang.org/x/oauth2/token.go
  vendor/modules.txt
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

Add readonlyRootFilesystem
  bindata/nodecadaemon.yaml
  manifests/07-operator-ibm-cloud-managed.yaml
  manifests/07-operator.yaml
  pkg/resource/podtemplatespec.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-53873: bump github.com/golang-jwt/jwt
  cmd/move-blobs/go.mod
  cmd/move-blobs/go.sum
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v4/parser.go
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/README.md
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/ecdsa.go
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/hmac.go
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/parser.go
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/token.go
  cmd/move-blobs/vendor/modules.txt
  go.mod
  go.sum
  pkg/storage/ibmcos/ibmcos.go
  vendor/github.com/golang-jwt/jwt/.gitignore
  vendor/github.com/golang-jwt/jwt/LICENSE
  vendor/github.com/golang-jwt/jwt/MIGRATION_GUIDE.md
  vendor/github.com/golang-jwt/jwt/README.md
  vendor/github.com/golang-jwt/jwt/VERSION_HISTORY.md
  vendor/github.com/golang-jwt/jwt/claims.go
  vendor/github.com/golang-jwt/jwt/doc.go
  vendor/github.com/golang-jwt/jwt/ecdsa.go
  vendor/github.com/golang-jwt/jwt/ecdsa_utils.go
  vendor/github.com/golang-jwt/jwt/ed25519.go
  vendor/github.com/golang-jwt/jwt/ed25519_utils.go
  vendor/github.com/golang-jwt/jwt/errors.go
  vendor/github.com/golang-jwt/jwt/hmac.go
  vendor/github.com/golang-jwt/jwt/map_claims.go
  vendor/github.com/golang-jwt/jwt/none.go
  vendor/github.com/golang-jwt/jwt/parser.go
  vendor/github.com/golang-jwt/jwt/rsa.go
  vendor/github.com/golang-jwt/jwt/rsa_pss.go
  vendor/github.com/golang-jwt/jwt/rsa_utils.go
  vendor/github.com/golang-jwt/jwt/signing_method.go
  vendor/github.com/golang-jwt/jwt/token.go
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/github.com/golang-jwt/jwt/v5/README.md
  vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  vendor/github.com/golang-jwt/jwt/v5/parser.go
  vendor/github.com/golang-jwt/jwt/v5/token.go
  vendor/modules.txt
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-53871: bump github.com/golang-jwt/jwt
  cmd/move-blobs/go.mod
  cmd/move-blobs/go.sum
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v4/parser.go
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/README.md
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/ecdsa.go
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/hmac.go
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/parser.go
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/token.go
  cmd/move-blobs/vendor/modules.txt
  go.mod
  go.sum
  pkg/storage/ibmcos/ibmcos.go
  vendor/github.com/golang-jwt/jwt/.gitignore
  vendor/github.com/golang-jwt/jwt/LICENSE
  vendor/github.com/golang-jwt/jwt/MIGRATION_GUIDE.md
  vendor/github.com/golang-jwt/jwt/README.md
  vendor/github.com/golang-jwt/jwt/VERSION_HISTORY.md
  vendor/github.com/golang-jwt/jwt/claims.go
  vendor/github.com/golang-jwt/jwt/doc.go
  vendor/github.com/golang-jwt/jwt/ecdsa.go
  vendor/github.com/golang-jwt/jwt/ecdsa_utils.go
  vendor/github.com/golang-jwt/jwt/ed25519.go
  vendor/github.com/golang-jwt/jwt/ed25519_utils.go
  vendor/github.com/golang-jwt/jwt/errors.go
  vendor/github.com/golang-jwt/jwt/hmac.go
  vendor/github.com/golang-jwt/jwt/map_claims.go
  vendor/github.com/golang-jwt/jwt/none.go
  vendor/github.com/golang-jwt/jwt/parser.go
  vendor/github.com/golang-jwt/jwt/rsa.go
  vendor/github.com/golang-jwt/jwt/rsa_pss.go
  vendor/github.com/golang-jwt/jwt/rsa_utils.go
  vendor/github.com/golang-jwt/jwt/signing_method.go
  vendor/github.com/golang-jwt/jwt/token.go
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/github.com/golang-jwt/jwt/v5/README.md
  vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  vendor/github.com/golang-jwt/jwt/v5/parser.go
  vendor/github.com/golang-jwt/jwt/v5/token.go
  vendor/modules.txt
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-53870: bump github.com/golang-jwt/jwt
  cmd/move-blobs/go.mod
  cmd/move-blobs/go.sum
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v4/parser.go
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/README.md
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/ecdsa.go
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/hmac.go
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/parser.go
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/token.go
  cmd/move-blobs/vendor/modules.txt
  go.mod
  go.sum
  pkg/storage/ibmcos/ibmcos.go
  vendor/github.com/golang-jwt/jwt/.gitignore
  vendor/github.com/golang-jwt/jwt/LICENSE
  vendor/github.com/golang-jwt/jwt/MIGRATION_GUIDE.md
  vendor/github.com/golang-jwt/jwt/README.md
  vendor/github.com/golang-jwt/jwt/VERSION_HISTORY.md
  vendor/github.com/golang-jwt/jwt/claims.go
  vendor/github.com/golang-jwt/jwt/doc.go
  vendor/github.com/golang-jwt/jwt/ecdsa.go
  vendor/github.com/golang-jwt/jwt/ecdsa_utils.go
  vendor/github.com/golang-jwt/jwt/ed25519.go
  vendor/github.com/golang-jwt/jwt/ed25519_utils.go
  vendor/github.com/golang-jwt/jwt/errors.go
  vendor/github.com/golang-jwt/jwt/hmac.go
  vendor/github.com/golang-jwt/jwt/map_claims.go
  vendor/github.com/golang-jwt/jwt/none.go
  vendor/github.com/golang-jwt/jwt/parser.go
  vendor/github.com/golang-jwt/jwt/rsa.go
  vendor/github.com/golang-jwt/jwt/rsa_pss.go
  vendor/github.com/golang-jwt/jwt/rsa_utils.go
  vendor/github.com/golang-jwt/jwt/signing_method.go
  vendor/github.com/golang-jwt/jwt/token.go
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/github.com/golang-jwt/jwt/v5/README.md
  vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  vendor/github.com/golang-jwt/jwt/v5/parser.go
  vendor/github.com/golang-jwt/jwt/v5/token.go
  vendor/modules.txt
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Add readonlyRootFilesystem
  manifests/07-operator-ibm-cloud-managed.yaml
  manifests/07-operator.yaml
  pkg/resource/prunercronjob.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

auth: add support for token-based authentication with Swift
  pkg/storage/swift/swift.go
  pkg/storage/swift/swift_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-openstack, ci/prow/images, ci/prow/unit, ci/prow/verify

Update patched manifest to match current generation output
  manifests/07-operator-ibm-cloud-managed.yaml
  manifests/07-operator.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify
