Repository openshift/cluster-image-registry-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-openstack, ci/prow/e2e-vsphere, ci/prow/e2e-vsphere-operator, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  ci/prow/e2e-aws-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn-image-registry: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-azure-operator: any of: ^(.*azure.*|vendor/github\.com/Azure/.*)\.go$
  ci/prow/e2e-azure-ovn: any of: ^(.*azure.*|vendor/github\.com/Azure/.*)\.go$
  ci/prow/e2e-gcp-operator: any of: ^(.*gcs.*|vendor/(cloud\.google\.com|google\.golang\.org)/.*)\.go$
  ci/prow/e2e-gcp-ovn: any of: ^(.*gcs.*|vendor/(cloud\.google\.com|google\.golang\.org)/.*)\.go$
  ci/prow/e2e-openstack: any of: (^(.*swift.*|vendor/github\.com/gophercloud/.*)\.go$|.*openstack.*)
  ci/prow/e2e-vsphere: any of: ^(.*(vsphere|baremetal).*)\.go$
  ci/prow/e2e-vsphere-operator: any of: ^(.*(vsphere|baremetal).*)\.go$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

pkg/storage/azure: support private storage accounts
  pkg/storage/azure/azure.go
  pkg/storage/azure/azure_test.go
  pkg/storage/azure/azureclient/azureclient.go
  pkg/storage/azure/azureclient/azureclient_test.go
  test/e2e/azure_test.go
  test/framework/clientset.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

pkg/metrics: disable http2
  pkg/metrics/server.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

manifests: request individual permissions for gcs
  manifests/01-registry-credentials-request-gcs.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

wip: vnet and subnet discovery
  pkg/storage/azure/azure.go
  pkg/storage/azure/azureclient/azureclient.go
  test/e2e/azure_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

annotate credentials request manifests
  manifests/01-registry-credentials-request-alibaba.yaml
  manifests/01-registry-credentials-request-azure.yaml
  manifests/01-registry-credentials-request-gcs.yaml
  manifests/01-registry-credentials-request-ibmcos.yaml
  manifests/01-registry-credentials-request-openstack.yaml
  manifests/01-registry-credentials-request-powervs.yaml
  manifests/01-registry-credentials-request.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-openstack, ci/prow/images, ci/prow/unit, ci/prow/verify

wip: use installer bootstrapped azure storage config
  pkg/operator/bootstrap.go
  pkg/operator/bootstrap_test.go
  pkg/resource/generator.go
  pkg/storage/storage.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

pkg/storage/azure: support vnet and subnet discovery
  pkg/storage/azure/azure.go
  pkg/storage/azure/azureclient/azureclient.go
  test/e2e/azure_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

pkg/storage/azure: support private endpoint creation with custom network resource group
  pkg/storage/azure/azure.go
  pkg/storage/azure/azureclient/azureclient.go
  pkg/storage/azure/azureclient/azureclient_test.go
  test/e2e/azure_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

TRT-1368: Revert "Merge pull request #935 from flavianmissi/CCO-248"
  manifests/01-registry-credentials-request-gcs.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

IR-412: IBMCloud: Add support for endpoint overrides
  pkg/storage/ibmcos/ibmcos.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Revert "Merge pull request #965 from jstuever/TRT-1368"
  manifests/01-registry-credentials-request-gcs.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

manifests: add private endpoint permissions to Azure credentials request
  manifests/01-registry-credentials-request-azure.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

pkg/storage/azure: avoid creation of multiple private endpoints
  pkg/storage/azure/azure.go
  pkg/storage/azure/azureclient/azureclient.go
  pkg/storage/azure/azureclient/azureclient_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

pkg/storage/azure: test private endpoint creation
  pkg/storage/azure/azure.go
  pkg/storage/azure/azure_test.go
  pkg/storage/azure/azureclient/azureclient_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

manifests/02-rbac.yaml: stop using wild cards
  manifests/02-rbac.yaml
  pkg/resource/prunerclusterrole.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

fix upstream Dockerfile
  Dockerfile.okd
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

PowerVS: update supported regions
  pkg/storage/ibmcos/ibmcos.go
  pkg/storage/ibmcos/powervs_regions.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

PowerVS: vendoring changes for github.com/ppc64le-cloud/powervs-utils
  go.mod
  go.sum
  vendor/github.com/ppc64le-cloud/powervs-utils/.gitignore
  vendor/github.com/ppc64le-cloud/powervs-utils/LICENSE
  vendor/github.com/ppc64le-cloud/powervs-utils/OWNERS
  vendor/github.com/ppc64le-cloud/powervs-utils/README.md
  vendor/github.com/ppc64le-cloud/powervs-utils/region.go
  vendor/modules.txt
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

add FallbackToLogsOnError for easier debugging
  bindata/nodecadaemon.yaml
  manifests/07-operator-ibm-cloud-managed.yaml
  manifests/07-operator.yaml
  pkg/resource/podtemplatespec.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

pkg/storage/s3: enable bucket key on encryption settings
  pkg/storage/s3/s3.go
  test/e2e/aws_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Add hack/local-dev.sh
  cmd/cluster-image-registry-operator/main.go
  hack/local-dev.sh
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

WIP Add AzurePathFix controller
  pkg/operator/azurepathfixcontroller.go
  pkg/operator/starter.go
  pkg/resource/azurepathfixjob.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify
