Repository openshift/cluster-image-registry-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-openstack, ci/prow/e2e-vsphere, ci/prow/e2e-vsphere-operator, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  ci/prow/e2e-aws-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn-image-registry: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-azure-operator: any of: ^(.*azure.*|vendor/github\.com/Azure/.*)\.go$
  ci/prow/e2e-azure-ovn: any of: ^(.*azure.*|vendor/github\.com/Azure/.*)\.go$
  ci/prow/e2e-gcp-operator: any of: ^(.*gcs.*|vendor/(cloud\.google\.com|google\.golang\.org)/.*)\.go$
  ci/prow/e2e-gcp-ovn: any of: ^(.*gcs.*|vendor/(cloud\.google\.com|google\.golang\.org)/.*)\.go$
  ci/prow/e2e-openstack: any of: (^(.*swift.*|vendor/github\.com/gophercloud/.*)\.go$|.*openstack.*)
  ci/prow/e2e-vsphere: any of: ^(.*(vsphere|baremetal).*)\.go$
  ci/prow/e2e-vsphere-operator: any of: ^(.*(vsphere|baremetal).*)\.go$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

Upgrade golangci-lint from v1 to v2
  .golangci.yaml
  Makefile
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Update golangci-lint to v2.11.4 and fix all lint violations
  pkg/client/clients.go
  pkg/client/listers.go
  pkg/operator/bootstrap.go
  pkg/operator/complete.go
  pkg/operator/controller.go
  pkg/operator/controller_test.go
  pkg/operator/controllerimagepruner.go
  pkg/operator/finalizer.go
  pkg/operator/imageconfig.go
  pkg/operator/status.go
  pkg/resource/azurepathfixjob.go
  pkg/resource/caconfig.go
  pkg/resource/clusteroperator.go
  pkg/resource/deployment.go
  pkg/resource/imageregistryca.go
  pkg/resource/podtemplatespec.go
  pkg/resource/podtemplatespec_test.go
  pkg/resource/prunercronjob.go
  pkg/resource/service.go
  pkg/storage/azure/azureclient/azureclient.go
  pkg/storage/gcs/gcp_labels_tags.go
  pkg/storage/gcs/gcp_labels_tags_test.go
  pkg/storage/swift/swift.go
  test/e2e/aws_test.go
  test/e2e/azure_test.go
  test/e2e/gcs_test.go
  test/framework/testenv.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-openstack, ci/prow/images, ci/prow/unit, ci/prow/verify

Add control-plane-approvers to OWNERS
  OWNERS
  OWNERS_ALIASES
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-63691: replace node-ca shell script with go implementation
  bindata/nodecadaemon.yaml
  cmd/cluster-image-registry-operator/main.go
  pkg/nodeca/nodeca.go
  pkg/nodeca/nodeca_test.go
  pkg/resource/nodecadaemon.go
  test/e2e/graceful_shutdown_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

use AlwaysAllow UnhealthyPodEvictionPolicy option
  pkg/resource/poddisruptionbudget.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-83922: remove deprecated call to goauth2.CredentialsFromJSON
  pkg/storage/gcs/gcs.go
  test/e2e/gcs_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-84725: Fix deployment race condition with atomic updates
  pkg/operator/controller.go
  pkg/resource/deployment.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

NO-JIRA: fix flaky TestGlobalTLSCopy unit test
  pkg/operator/controller_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-83863: Strip debug symbols from Go binaries
  Dockerfile
  hack/build/build.sh
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

bugfix: podtemplatespec: update topology spread constraints
  pkg/resource/podtemplatespec.go
  pkg/resource/podtemplatespec_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

test: nodeca: update nodeca certs syncing unit test to fix failure
  pkg/nodeca/nodeca_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

operator: Increase Unavailable degraded inertia from 2 to 5 minutes
  pkg/operator/status.go
  pkg/operator/status_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

operator: Add 2m degraded inertia to NodeCADaemonController
  pkg/operator/nodecadaemon.go
  pkg/operator/nodecadaemon_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

CORS-4412: Fix GCS bucket KMS encryption by setting it at creation time
  pkg/storage/gcs/gcs.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-85107: fix required-scc annotation on image-pruner pods
  pkg/resource/prunercronjob.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

docs: add Agentic SDLC context files and update CONTRIBUTING.md
  AGENTS.md
  ARCHITECTURE.md
  CLAUDE.md
  CONTRIBUTING.md
Due: none

Migrated go standard cases to ote
  .gitignore
  cmd/cluster-image-registry-operator-tests-ext/main.go
  test/e2e/aws.go
  test/e2e/azure.go
  test/e2e/baremetal.go
  test/e2e/bootstrap.go
  test/e2e/configuration.go
  test/e2e/emptydir.go
  test/e2e/failing.go
  test/e2e/gcs.go
  test/e2e/graceful_shutdown.go
  test/e2e/imageconfig.go
  test/e2e/leaderelection.go
  test/e2e/main_test.go
  test/e2e/managementstate.go
  test/e2e/network_policy.go
  test/e2e/network_policy_helpers.go
  test/e2e/nodecadaemon.go
  test/e2e/observedconfig.go
  test/e2e/pruner.go
  test/e2e/pvc.go
  test/e2e/readonly.go
  test/e2e/recreate_deployment.go
  test/e2e/remove.go
  test/e2e/s3endpoint.go
  test/framework/clientset.go
  test/framework/framework.go
  test/framework/imageregistry.go
  test/framework/route.go
  test/framework/testenv.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-vsphere, ci/prow/e2e-vsphere-operator, ci/prow/images, ci/prow/unit, ci/prow/verify

update minio image
  cmd/cluster-image-registry-operator-tests-ext/main.go
  test/e2e/aws.go
  test/e2e/azure.go
  test/e2e/baremetal.go
  test/e2e/bootstrap.go
  test/e2e/configuration.go
  test/e2e/emptydir.go
  test/e2e/failing.go
  test/e2e/gcs.go
  test/e2e/graceful_shutdown.go
  test/e2e/imageconfig.go
  test/e2e/leaderelection.go
  test/e2e/managementstate.go
  test/e2e/network_policy.go
  test/e2e/network_policy_enforcement.go
  test/e2e/network_policy_helpers.go
  test/e2e/nodecadaemon.go
  test/e2e/observedconfig.go
  test/e2e/pruner.go
  test/e2e/pvc.go
  test/e2e/readonly.go
  test/e2e/recreate_deployment.go
  test/e2e/remove.go
  test/e2e/s3endpoint.go
  test/framework/clusteroperators.go
  test/framework/framework.go
  test/framework/imageregistry.go
  test/framework/testenv.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-vsphere, ci/prow/e2e-vsphere-operator, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove redundant namespaceSelector: {} ingress rule from image-registry netpol
  bindata/image-registry-networkpolicy.yaml
  test/e2e/network_policy.go
  test/e2e/network_policy_helpers.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

GCP: Set Universe Domain
  pkg/storage/gcs/gcp_labels_tags.go
  pkg/storage/gcs/gcs.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

fix govet warning and improve image registry error message
  test/e2e/s3endpoint_test.go
  test/framework/imageregistry.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Revert CORENET-7355: temporary revert for performance validation
  bindata/image-registry-networkpolicy.yaml
  test/e2e/network_policy.go
  test/e2e/network_policy_helpers.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

GCP: Set Universe Domain
  pkg/resource/generator.go
  pkg/storage/gcs/gcp_labels_tags.go
  pkg/storage/gcs/gcp_labels_tags_test.go
  pkg/storage/gcs/gcs.go
  pkg/storage/gcs/gcs_test.go
  test/e2e/gcs_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

imageconfig: preserve ImageStreamImportMode during upgrade race
  pkg/operator/imageconfig.go
  pkg/operator/imageconfig_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-86308: do not report progressing during cluster scale up
  pkg/operator/nodecadaemon.go
  pkg/operator/nodecadaemon_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify
