Repository openshift/cluster-image-registry-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-openstack, ci/prow/e2e-vsphere, ci/prow/e2e-vsphere-operator, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  ci/prow/e2e-aws-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn-image-registry: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-azure-operator: any of: ^(.*azure.*|vendor/github\.com/Azure/.*)\.go$
  ci/prow/e2e-azure-ovn: any of: ^(.*azure.*|vendor/github\.com/Azure/.*)\.go$
  ci/prow/e2e-gcp-operator: any of: ^(.*gcs.*|vendor/(cloud\.google\.com|google\.golang\.org)/.*)\.go$
  ci/prow/e2e-gcp-ovn: any of: ^(.*gcs.*|vendor/(cloud\.google\.com|google\.golang\.org)/.*)\.go$
  ci/prow/e2e-openstack: any of: (^(.*swift.*|vendor/github\.com/gophercloud/.*)\.go$|.*openstack.*)
  ci/prow/e2e-vsphere: any of: ^(.*(vsphere|baremetal).*)\.go$
  ci/prow/e2e-vsphere-operator: any of: ^(.*(vsphere|baremetal).*)\.go$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

Update patched manifest to match current generation output
  pkg/resource/podtemplatespec.go
  pkg/resource/prunercronjob.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Add readonlyRootFilesystem
  bindata/nodecadaemon.yaml
  manifests/07-operator-ibm-cloud-managed.yaml
  manifests/07-operator.yaml
  pkg/resource/podtemplatespec.go
  pkg/resource/prunercronjob.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-53867: Bump github.com/golang-jwt/jwt
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/github.com/golang-jwt/jwt/v5/README.md
  vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  vendor/github.com/golang-jwt/jwt/v5/parser.go
  vendor/github.com/golang-jwt/jwt/v5/token.go
  vendor/modules.txt
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Reproducing OCPBUGS-58450 for CVO with 4.18
  manifests/07-operator.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-53867: Bump github.com/golang-jwt/jwt
  cmd/move-blobs/go.mod
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/github.com/golang-jwt/jwt/v5/README.md
  vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  vendor/github.com/golang-jwt/jwt/v5/parser.go
  vendor/github.com/golang-jwt/jwt/v5/token.go
  vendor/modules.txt
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-53867: Bump github.com/golang-jwt/jwt
  cmd/move-blobs/go.mod
  go.mod
  go.sum
  pkg/storage/ibmcos/ibmcos.go
  vendor/github.com/golang-jwt/jwt/.gitignore
  vendor/github.com/golang-jwt/jwt/LICENSE
  vendor/github.com/golang-jwt/jwt/MIGRATION_GUIDE.md
  vendor/github.com/golang-jwt/jwt/README.md
  vendor/github.com/golang-jwt/jwt/VERSION_HISTORY.md
  vendor/github.com/golang-jwt/jwt/claims.go
  vendor/github.com/golang-jwt/jwt/doc.go
  vendor/github.com/golang-jwt/jwt/ecdsa.go
  vendor/github.com/golang-jwt/jwt/ecdsa_utils.go
  vendor/github.com/golang-jwt/jwt/ed25519.go
  vendor/github.com/golang-jwt/jwt/ed25519_utils.go
  vendor/github.com/golang-jwt/jwt/errors.go
  vendor/github.com/golang-jwt/jwt/hmac.go
  vendor/github.com/golang-jwt/jwt/map_claims.go
  vendor/github.com/golang-jwt/jwt/none.go
  vendor/github.com/golang-jwt/jwt/parser.go
  vendor/github.com/golang-jwt/jwt/rsa.go
  vendor/github.com/golang-jwt/jwt/rsa_pss.go
  vendor/github.com/golang-jwt/jwt/rsa_utils.go
  vendor/github.com/golang-jwt/jwt/signing_method.go
  vendor/github.com/golang-jwt/jwt/token.go
  vendor/modules.txt
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

added new changes
  cmd/move-blobs/go.mod
  cmd/move-blobs/go.sum
  cmd/move-blobs/vendor/github.com/AzureAD/microsoft-authentication-library-for-go/LICENSE
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v4/parser.go
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/README.md
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/ecdsa.go
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/hmac.go
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/parser.go
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/token.go
  cmd/move-blobs/vendor/modules.txt
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Reproducing OCPBUGS-58450 for CVP with 4.18
  manifests/07-operator.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Revert "Add readonlyRootFilesystem"
  bindata/nodecadaemon.yaml
  manifests/07-operator-ibm-cloud-managed.yaml
  manifests/07-operator.yaml
  pkg/resource/podtemplatespec.go
  pkg/resource/prunercronjob.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

fix(azure): fix credential caching key mismatch in driver storageAccountsClient
  pkg/storage/azure/azure.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

fix(azure): fix credential caching key mismatch in azureclient
  pkg/storage/azure/azureclient/azureclient.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-58424: mount /etc/pki/ca-trust/extracted/pem/ as empty dir
  manifests/07-operator-ibm-cloud-managed.yaml
  manifests/07-operator.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Remove ChunkSizeMib featuregate
  pkg/resource/podtemplatespec_test.go
  pkg/storage/s3/s3.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

wip
  pkg/resource/generator.go
  pkg/storage/azure/azure.go
  pkg/storage/azure/azureclient/azureclient.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

OCPBUGS-53867: Bump github.com/golang-jwt/jwt
  cmd/move-blobs/go.mod
  cmd/move-blobs/go.sum
  cmd/move-blobs/vendor/github.com/AzureAD/microsoft-authentication-library-for-go/LICENSE
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v4/parser.go
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/README.md
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/SECURITY.md
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/ecdsa.go
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/hmac.go
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/parser.go
  cmd/move-blobs/vendor/github.com/golang-jwt/jwt/v5/token.go
  cmd/move-blobs/vendor/modules.txt
  go.mod
  go.sum
  pkg/storage/ibmcos/ibmcos.go
  vendor/github.com/golang-jwt/jwt/.gitignore
  vendor/github.com/golang-jwt/jwt/LICENSE
  vendor/github.com/golang-jwt/jwt/MIGRATION_GUIDE.md
  vendor/github.com/golang-jwt/jwt/README.md
  vendor/github.com/golang-jwt/jwt/VERSION_HISTORY.md
  vendor/github.com/golang-jwt/jwt/claims.go
  vendor/github.com/golang-jwt/jwt/doc.go
  vendor/github.com/golang-jwt/jwt/ecdsa.go
  vendor/github.com/golang-jwt/jwt/ecdsa_utils.go
  vendor/github.com/golang-jwt/jwt/ed25519.go
  vendor/github.com/golang-jwt/jwt/ed25519_utils.go
  vendor/github.com/golang-jwt/jwt/errors.go
  vendor/github.com/golang-jwt/jwt/hmac.go
  vendor/github.com/golang-jwt/jwt/map_claims.go
  vendor/github.com/golang-jwt/jwt/none.go
  vendor/github.com/golang-jwt/jwt/parser.go
  vendor/github.com/golang-jwt/jwt/rsa.go
  vendor/github.com/golang-jwt/jwt/rsa_pss.go
  vendor/github.com/golang-jwt/jwt/rsa_utils.go
  vendor/github.com/golang-jwt/jwt/signing_method.go
  vendor/github.com/golang-jwt/jwt/token.go
  vendor/modules.txt
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

feat(azure): add ensureUAMICredentials function with comprehensive tests
  pkg/storage/azure/azure.go
  pkg/storage/azure/azure_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

update OWNERS
  OWNERS
Due: none

** go.mod and go.sum package updates
  go.mod
  go.sum
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

pkg/resource/clusteroperator.go:
  pkg/resource/clusteroperator.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

pkg/storage:
  pkg/storage/gcs/gcs.go
  pkg/storage/storage.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

pkg/storage/gcs: ** Update tests to include fake feature gate information.
  pkg/storage/gcs/gcs_test.go
  pkg/storage/swift/swift_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-openstack, ci/prow/images, ci/prow/unit, ci/prow/verify

Fix the nil pointer dereference
  pkg/operator/clusteroperator.go
  pkg/resource/clusteroperator.go
  pkg/resource/clusteroperator_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Debug: Adding debugging statement to determine the storage endpoint
  pkg/storage/gcs/gcs.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

fix topology spread constraints for image registry deployment
  pkg/resource/podtemplatespec.go
  pkg/resource/podtemplatespec_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

wip: reset default pod affinity unless replica count is 2
  pkg/resource/podtemplatespec.go
  pkg/resource/podtemplatespec_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

wip: add a hash to deployment in attempt to generate a new version
  pkg/resource/podtemplatespec.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify
