Repository openshift/cluster-image-registry-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/e2e-gcp-operator, ci/prow/e2e-gcp-ovn, ci/prow/e2e-openstack, ci/prow/e2e-vsphere, ci/prow/e2e-vsphere-operator, ci/prow/images, ci/prow/unit, ci/prow/verify

Path conditions:
  ci/prow/e2e-aws-operator: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn-image-registry: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-aws-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/e2e-azure-operator: any of: ^(.*azure.*|vendor/github\.com/Azure/.*)\.go$
  ci/prow/e2e-azure-ovn: any of: ^(.*azure.*|vendor/github\.com/Azure/.*)\.go$
  ci/prow/e2e-gcp-operator: any of: ^(.*gcs.*|vendor/(cloud\.google\.com|google\.golang\.org)/.*)\.go$
  ci/prow/e2e-gcp-ovn: any of: ^(.*gcs.*|vendor/(cloud\.google\.com|google\.golang\.org)/.*)\.go$
  ci/prow/e2e-openstack: any of: (^(.*swift.*|vendor/github\.com/gophercloud/.*)\.go$|.*openstack.*)
  ci/prow/e2e-vsphere: any of: ^(.*(vsphere|baremetal).*)\.go$
  ci/prow/e2e-vsphere-operator: any of: ^(.*(vsphere|baremetal).*)\.go$
  ci/prow/images: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/unit: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  ci/prow/verify: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$

compact duplicate external hostnames
  go.mod
  pkg/operator/imageconfig.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

compact duplicate external hostnames
  go.mod
  go.sum
  pkg/operator/imageconfig.go
  vendor/golang.org/x/exp/LICENSE
  vendor/golang.org/x/exp/PATENTS
  vendor/golang.org/x/exp/constraints/constraints.go
  vendor/golang.org/x/exp/slices/slices.go
  vendor/golang.org/x/exp/slices/sort.go
  vendor/golang.org/x/exp/slices/zsortfunc.go
  vendor/golang.org/x/exp/slices/zsortordered.go
  vendor/modules.txt
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

leaderelection_test: assert on pods that have acquired leader lease
  test/e2e/leaderelection_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

wait longer for healthy cluster when testing proxy configuration
  test/e2e/configuration_test.go
  test/framework/imageregistry.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

manifests: add pvc related alerts to prometheus rule
  manifests/09-prometheus-rules.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

pkg/storage/s3: move endpoint related code to its own file
  pkg/storage/s3/endpoints.go
  pkg/storage/s3/s3.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

wip: support new aws regions without code changes
  pkg/storage/s3/s3.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Add filewatcher for Azure client certificate authentication
  go.mod
  go.sum
  pkg/filewatcher/filewatcher.go
  pkg/storage/azure/azure.go
  pkg/storage/azure/azureclient/azureclient.go
  vendor/k8s.io/kubernetes/LICENSE
  vendor/k8s.io/kubernetes/pkg/util/interrupt/interrupt.go
  vendor/modules.txt
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

update OWNERS
  OWNERS
Due: none

Update powervs-utils
  go.mod
  go.sum
  vendor/github.com/ppc64le-cloud/powervs-utils/region.go
  vendor/modules.txt
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

azurepathfix: continue reconciliation when storage isn't configured
  pkg/operator/azurepathfixcontroller.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

add runbook url on prometheus alert rules
  manifests/09-prometheus-rules.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

clean up AzurePathFix controller, removing unecessary informers
  pkg/defaults/defaults.go
  pkg/operator/azurepathfixcontroller.go
  pkg/operator/starter.go
  pkg/resource/azurepathfixjob.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

wip
  pkg/operator/azurepathfixcontroller.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

WIP - debug OCPBUGS-44910
  manifests/01-registry-credentials-request-openstack.yaml
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-openstack, ci/prow/images, ci/prow/unit, ci/prow/verify

Update go.mod to include fsnotify and kubernetes
  go.mod
  go.sum
  vendor/k8s.io/kubernetes/LICENSE
  vendor/k8s.io/kubernetes/pkg/util/interrupt/interrupt.go
  vendor/modules.txt
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Use Client Cert Auth for ARO HCP deployments
  pkg/storage/azure/azure.go
  pkg/storage/azure/azureclient/azureclient.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

MULTIARCH-4971: Set import mode in image config based on ClusterVersion desired Architecture
  cmd/cluster-image-registry-operator/main.go
  pkg/client/operatorclient.go
  pkg/operator/awstagcontroller.go
  pkg/operator/azurepathfixcontroller.go
  pkg/operator/azurestackcloud.go
  pkg/operator/clusteroperator.go
  pkg/operator/controller.go
  pkg/operator/controllerimagepruner.go
  pkg/operator/imageconfig.go
  pkg/operator/imageregistrycertificates.go
  pkg/operator/nodecadaemon.go
  pkg/operator/starter.go
  pkg/resource/nodecadaemon_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

wip: enable debug logs on s3 driver
  pkg/storage/s3/s3.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

pkg/resource: invoke update-ca-trust extract with --output
  pkg/resource/podtemplatespec.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

pkg/resource/azurepathfixjob: invoke update-ca-trust extract with --output
  pkg/resource/azurepathfixjob.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

Power VS: Revert #1076 to match new API validation
  pkg/storage/ibmcos/ibmcos.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify

Add new authentication type for managed Azure HCP
  pkg/storage/azure/azure.go
  pkg/storage/azure/azureclient/azureclient.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

Add context function parameter to getCreds
  pkg/storage/azure/azureclient/azureclient.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/e2e-azure-operator, ci/prow/e2e-azure-ovn, ci/prow/images, ci/prow/unit, ci/prow/verify

chore: update owners
  OWNERS
Due: none

ensure that storage names don't end in dashes
  pkg/storage/util/util.go
  pkg/storage/util/util_test.go
Due: ci/prow/e2e-aws-operator, ci/prow/e2e-aws-ovn, ci/prow/e2e-aws-ovn-image-registry, ci/prow/e2e-aws-ovn-upgrade, ci/prow/images, ci/prow/unit, ci/prow/verify
