Repository openshift/cluster-cloud-controller-manager-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-ibmcloud-ovn, e2e-openstack-ovn, e2e-vsphere-ovn, regression-vsphere-ipi-ccmo, e2e-nutanix-ovn

Path conditions:
  e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-azure-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-azure-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-ibmcloud-ovn: any of: ibm
  e2e-openstack-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-vsphere-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  regression-vsphere-ipi-ccmo: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*vsphere.*
  e2e-nutanix-ovn: any of: .*nutanix.*

Added new cmd flag to launch of vSphere CCM
  pkg/cloud/vsphere/assets/cloud-controller-manager-deployment.yaml
  pkg/cloud/vsphere/vsphere.go
  pkg/cloud/vsphere/vsphere_test.go
  pkg/config/config.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn, regression-vsphere-ipi-ccmo

add deny all network policy
  manifests/0000_26_cloud-controller-manager-operator_10_networkpolicy-default-deny.yaml
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

Sync OWNERS file
  OWNERS
Due: none

Update service selector to match deployment label
  manifests/0000_26_cloud-controller-manager-operator_05_metrics-service.yaml
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

deps/mod: bump CCM-AWS managed SG
  go.mod
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

feat/aws-ccm-nlb-sg: enforce to managed mode
  pkg/cloud/aws/aws_config_transformer.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

feat/ccm-nlb-sg: support featuregate on cfg syncer
  cmd/config-sync-controllers/main.go
  pkg/cloud/azure/azure.go
  pkg/cloud/azurestack/azurestack.go
  pkg/cloud/cloud.go
  pkg/cloud/common/config.go
  pkg/cloud/openstack/openstack.go
  pkg/cloud/vsphere/vsphere_config_transformer.go
  pkg/controllers/cloud_config_sync_controller.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn, regression-vsphere-ipi-ccmo

Updates provider deployments with services
  pkg/cloud/aws/assets/deployment.yaml
  pkg/cloud/azure/assets/cloud-controller-manager-deployment.yaml
  pkg/cloud/azurestack/assets/cloud-controller-manager-deployment.yaml
  pkg/cloud/gcp/assets/cloud-controller-manager.yaml
  pkg/cloud/ibm/assets/deployment.yaml
  pkg/cloud/nutanix/assets/cloud-controller-manager-deployment.yaml
  pkg/cloud/openstack/assets/deployment.yaml
  pkg/cloud/powervs/assets/deployment.yaml
  pkg/cloud/vsphere/assets/cloud-controller-manager-deployment.yaml
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-ibmcloud-ovn, e2e-openstack-ovn, e2e-vsphere-ovn, regression-vsphere-ipi-ccmo, e2e-nutanix-ovn

Update to Kube 1.33 dependencies
  Makefile
  go.mod
  go.sum
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

feat/config-sync: allowing FG to transformer on providers
  pkg/cloud/aws/aws_config_transformer.go
  pkg/cloud/aws/aws_config_transformer_test.go
  pkg/cloud/azure/azure.go
  pkg/cloud/azure/azure_test.go
  pkg/cloud/azurestack/azurestack.go
  pkg/cloud/azurestack/azurestack_test.go
  pkg/cloud/cloud.go
  pkg/cloud/common/config.go
  pkg/cloud/openstack/openstack.go
  pkg/cloud/openstack/openstack_test.go
  pkg/cloud/vsphere/vsphere_config_transformer.go
  pkg/cloud/vsphere/vsphere_config_transformer_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn, regression-vsphere-ipi-ccmo

feat/config-sync: setting up feature gate acessor
  cmd/config-sync-controllers/main.go
  pkg/controllers/cloud_config_sync_controller.go
  pkg/controllers/cloud_config_sync_controller_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

Add Service using common resource templating
  pkg/cloud/cloud_test.go
  pkg/cloud/common/resources.go
  pkg/controllers/clusteroperator_controller_test.go
  pkg/controllers/resourceapply/resourceapply.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

Generate a default cloud.conf on AWS
  pkg/cloud/aws/aws_config_transformer.go
  pkg/cloud/cloud.go
  pkg/controllers/cloud_config_sync_controller.go
  pkg/controllers/cloud_config_sync_controller_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

mod/feat/ccm-nlb-sg: bump to existing CCM PR
  go.mod
  go.sum
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

vendor/feat/ccm-nlb-sg: bump to existing CCM PR
  vendor/k8s.io/cloud-provider-aws/pkg/providers/v1/config/config.go
  vendor/modules.txt
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

Address review comments
  pkg/cloud/aws/aws_config_transformer.go
  pkg/cloud/aws/aws_config_transformer_test.go
  pkg/cloud/cloud.go
  pkg/controllers/cloud_config_sync_controller.go
  pkg/controllers/cloud_config_sync_controller_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

Add Microsoft.Network/publicIPAddresses/delete permission
  manifests/0000_26_cloud-controller-manager-operator_14_credentialsrequest-azure.yaml
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn
