Repository openshift/cluster-cloud-controller-manager-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-ibmcloud-ovn, e2e-openstack-ovn, e2e-vsphere-ovn, regression-vsphere-ipi-ccmo, e2e-nutanix-ovn

e2e-aws-ovn:
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws

e2e-aws-ovn-upgrade:
  steps:
    cluster_profile: aws
    workflow: openshift-upgrade-aws

e2e-azure-ovn:
  optional: true
  steps:
    cluster_profile: azure4
    workflow: openshift-e2e-azure

e2e-azure-ovn-upgrade:
  optional: true
  steps:
    cluster_profile: azure4
    workflow: openshift-upgrade-azure

e2e-gcp-ovn:
  optional: true
  steps:
    cluster_profile: gcp
    workflow: openshift-e2e-gcp

e2e-gcp-ovn-upgrade:
  optional: true
  steps:
    cluster_profile: gcp
    workflow: openshift-e2e-gcp-upgrade

e2e-ibmcloud-ovn:
  optional: true
  steps:
    cluster_profile: ibmcloud
    workflow: openshift-e2e-ibmcloud
  timeout: 6h0m0s

e2e-openstack-ovn:
  optional: true
  steps:
    cluster_profile: openstack-vexxhost
    env:
      BASE_DOMAIN: shiftstack.devcluster.openshift.com
      CONFIG_TYPE: minimal
    workflow: openshift-e2e-openstack-ipi

e2e-vsphere-ovn:
  optional: true
  steps:
    cluster_profile: vsphere-elastic
    workflow: openshift-e2e-vsphere

regression-vsphere-ipi-ccmo:
  optional: true
  steps:
    cluster_profile: vsphere-elastic
    env:
      TEST_FILTERS: CCM
      TEST_SCENARIOS: Cluster_Infrastructure
      TEST_TIMEOUT: '1200'
    test:
    - ref: openshift-extended-test
    - ref: openshift-e2e-test-qe-report
    workflow: cucushift-installer-rehearse-vsphere-ipi-zones

e2e-nutanix-ovn:
  cluster: build01
  optional: true
  steps:
    cluster_profile: nutanix
    workflow: openshift-e2e-nutanix

ccm: disable unused secure-serving port and webhook
  pkg/cloud/aws/assets/deployment.yaml
  pkg/cloud/azure/assets/cloud-controller-manager-deployment.yaml
  pkg/cloud/azurestack/assets/cloud-controller-manager-deployment.yaml
  pkg/cloud/gcp/assets/cloud-controller-manager.yaml
  pkg/cloud/nutanix/assets/cloud-controller-manager-deployment.yaml
  pkg/cloud/openstack/assets/deployment.yaml
  pkg/cloud/vsphere/assets/cloud-controller-manager-deployment.yaml
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn, regression-vsphere-ipi-ccmo, e2e-nutanix-ovn

Add Azure permissions for Private Link Service operations
  manifests/0000_26_cloud-controller-manager-operator_14_credentialsrequest-azure.yaml
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

feat/aws-ccm-nlb-sg: enforce to managed mode
  pkg/cloud/aws/aws_config_transformer.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

mod/feat/ccm-nlb-sg: bump to existing CCM PR
  go.mod
  go.sum
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

Add Microsoft.Network/publicIPAddresses/delete permission
  manifests/0000_26_cloud-controller-manager-operator_14_credentialsrequest-azure.yaml
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

test firewall permission omission on xpn clusters
  manifests/0000_26_cloud-controller-manager-operator_16_credentialsrequest-gcp.yaml
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

goimports: use latest compatible goimports version
  hack/goimports.sh
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

Added new cmd flag to launch of vSphere CCM
  pkg/cloud/vsphere/assets/cloud-controller-manager-deployment.yaml
  pkg/cloud/vsphere/vsphere.go
  pkg/cloud/vsphere/vsphere_test.go
  pkg/config/config.go
  pkg/config/config_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn, regression-vsphere-ipi-ccmo

Vendor updates
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/features/legacyfeaturegates.go
  vendor/github.com/openshift/api/features/util.go
  vendor/modules.txt
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

Revert "[release-4.16] OCPBUGS-63168: ccm: disable unused secure-serving port and webhook"
  pkg/cloud/aws/assets/deployment.yaml
  pkg/cloud/azure/assets/cloud-controller-manager-deployment.yaml
  pkg/cloud/azurestack/assets/cloud-controller-manager-deployment.yaml
  pkg/cloud/gcp/assets/cloud-controller-manager.yaml
  pkg/cloud/nutanix/assets/cloud-controller-manager-deployment.yaml
  pkg/cloud/openstack/assets/deployment.yaml
  pkg/cloud/vsphere/assets/cloud-controller-manager-deployment.yaml
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn, regression-vsphere-ipi-ccmo, e2e-nutanix-ovn

CORS-4209: ensure NodeIPFamilies field is kept as-is after transforming
  pkg/cloud/aws/aws_config_transformer.go
  pkg/cloud/aws/aws_config_transformer_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

Update to Kube 1.34 deps
  go.mod
  go.sum
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

Update spec hashes to be calculated during tests
  pkg/controllers/resourceapply/resourceapply_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

feat/aws/svc-nlb: Update Go and vendor for CCM-AWS with feature
  go.mod
  go.sum
  vendor/k8s.io/cloud-provider-aws/pkg/providers/v1/config/config.go
  vendor/modules.txt
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

Add ClusterRole to ClusterOperator relatedObjects
  manifests/0000_26_cloud-controller-manager-operator_12_clusteroperator.yaml
  pkg/controllers/status.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

feat/aws/svc-nlb: Enable config to manage security group
  pkg/cloud/aws/aws_config_transformer.go
  pkg/cloud/aws/aws_config_transformer_test.go
  pkg/controllers/cloud_config_sync_controller_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

change service.alpha to service.beta in metrics-service.yaml
  manifests/0000_26_cloud-controller-manager-operator_05_metrics-service.yaml
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

Add admission policy to deny changing an AWS LB type on an existing service
  pkg/cloud/aws/assets/validating-admission-policy-binding.yaml
  pkg/cloud/aws/assets/validating-admission-policy.yaml
  pkg/cloud/aws/aws.go
  pkg/cloud/aws/aws_test.go
  pkg/cloud/cloud_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

tls: use centralized TLS profile, remove kube-rbac-proxy
  cmd/cluster-cloud-controller-manager-operator/main.go
  cmd/config-sync-controllers/main.go
  go.mod
  go.sum
  manifests/0000_26_cloud-controller-manager-operator_02_rbac_operator.yaml
  manifests/0000_26_cloud-controller-manager-operator_03_rbac_provider.yaml
  manifests/0000_26_cloud-controller-manager-operator_05_metrics-service.yaml
  manifests/0000_26_cloud-controller-manager-operator_06_kube-rbac-proxy-config.yaml
  manifests/0000_26_cloud-controller-manager-operator_11_deployment.yaml
  manifests/image-references
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

inject TLS config to the CCM operands
  cmd/cluster-cloud-controller-manager-operator/main.go
  pkg/cloud/aws/assets/deployment.yaml
  pkg/cloud/aws/aws.go
  pkg/cloud/azure/assets/cloud-controller-manager-deployment.yaml
  pkg/cloud/azure/azure.go
  pkg/cloud/azurestack/assets/cloud-controller-manager-deployment.yaml
  pkg/cloud/azurestack/azurestack.go
  pkg/cloud/gcp/assets/cloud-controller-manager.yaml
  pkg/cloud/gcp/gcp.go
  pkg/cloud/ibm/assets/deployment.yaml
  pkg/cloud/ibm/ibm.go
  pkg/cloud/nutanix/assets/cloud-controller-manager-deployment.yaml
  pkg/cloud/nutanix/nutanix.go
  pkg/cloud/openstack/assets/deployment.yaml
  pkg/cloud/openstack/openstack.go
  pkg/cloud/powervs/assets/deployment.yaml
  pkg/cloud/powervs/powervs.go
  pkg/cloud/vsphere/assets/cloud-controller-manager-deployment.yaml
  pkg/cloud/vsphere/vsphere.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/controllers/clusteroperator_controller.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-ibmcloud-ovn, e2e-openstack-ovn, e2e-vsphere-ovn, regression-vsphere-ipi-ccmo, e2e-nutanix-ovn

deployments: pass down tls config also to --webhook-tls-*
  pkg/cloud/aws/assets/deployment.yaml
  pkg/cloud/azure/assets/cloud-controller-manager-deployment.yaml
  pkg/cloud/azurestack/assets/cloud-controller-manager-deployment.yaml
  pkg/cloud/gcp/assets/cloud-controller-manager.yaml
  pkg/cloud/ibm/assets/deployment.yaml
  pkg/cloud/nutanix/assets/cloud-controller-manager-deployment.yaml
  pkg/cloud/openstack/assets/deployment.yaml
  pkg/cloud/powervs/assets/deployment.yaml
  pkg/cloud/vsphere/assets/cloud-controller-manager-deployment.yaml
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-ibmcloud-ovn, e2e-openstack-ovn, e2e-vsphere-ovn, regression-vsphere-ipi-ccmo, e2e-nutanix-ovn

Do not set Degraded=True on transient errors
  pkg/controllers/cloud_config_sync_controller.go
  pkg/controllers/cloud_config_sync_controller_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

Handle transient errors for CA controller
  pkg/controllers/trusted_ca_bundle_controller.go
  pkg/controllers/trusted_ca_bundle_controller_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

Fix transient error handling in CloudOperatorReconciler and tests
  pkg/controllers/cloud_config_sync_controller.go
  pkg/controllers/clusteroperator_controller.go
  pkg/controllers/clusteroperator_controller_test.go
  pkg/controllers/trusted_ca_bundle_controller.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

Fix race on consecutiveFailureSince in cloud config sync test
  pkg/controllers/cloud_config_sync_controller_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

Path conditions:
  e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-azure-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-azure-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-ibmcloud-ovn: any of: ibm
  e2e-openstack-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-vsphere-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  regression-vsphere-ipi-ccmo: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*vsphere.*
  e2e-nutanix-ovn: any of: .*nutanix.*
