Repository openshift/cluster-cloud-controller-manager-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-ibmcloud-ovn, e2e-openstack-ovn, e2e-vsphere-ovn, regression-vsphere-ipi-ccmo, e2e-nutanix-ovn

e2e-aws-ovn:
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws

e2e-aws-ovn-upgrade:
  steps:
    cluster_profile: aws
    workflow: openshift-upgrade-aws

e2e-azure-ovn:
  optional: true
  steps:
    cluster_profile: azure4
    workflow: openshift-e2e-azure

e2e-azure-ovn-upgrade:
  optional: true
  steps:
    cluster_profile: azure4
    workflow: openshift-upgrade-azure

e2e-gcp-ovn:
  optional: true
  steps:
    cluster_profile: gcp
    workflow: openshift-e2e-gcp

e2e-gcp-ovn-upgrade:
  optional: true
  steps:
    cluster_profile: gcp
    workflow: openshift-e2e-gcp-upgrade

e2e-ibmcloud-ovn:
  optional: true
  steps:
    cluster_profile: ibmcloud
    workflow: openshift-e2e-ibmcloud
  timeout: 6h0m0s

e2e-openstack-ovn:
  optional: true
  steps:
    cluster_profile: openstack-vexxhost
    env:
      BASE_DOMAIN: shiftstack.devcluster.openshift.com
      CONFIG_TYPE: minimal
    workflow: openshift-e2e-openstack-ipi

e2e-vsphere-ovn:
  optional: true
  steps:
    cluster_profile: vsphere-elastic
    workflow: openshift-e2e-vsphere

regression-vsphere-ipi-ccmo:
  optional: true
  steps:
    cluster_profile: vsphere-elastic
    env:
      TEST_FILTERS: CCM
      TEST_SCENARIOS: Cluster_Infrastructure
      TEST_TIMEOUT: '1200'
    test:
    - ref: openshift-extended-test
    - ref: openshift-e2e-test-qe-report
    workflow: cucushift-installer-rehearse-vsphere-ipi-zones

e2e-nutanix-ovn:
  cluster: build01
  optional: true
  steps:
    cluster_profile: nutanix
    workflow: openshift-e2e-nutanix

Moved vSphere cloud config to library-go
  pkg/cloud/vsphere/vsphere_cloud_config/config.go
  pkg/cloud/vsphere/vsphere_cloud_config/config_test.go
  pkg/cloud/vsphere/vsphere_cloud_config/ini.go
  pkg/cloud/vsphere/vsphere_cloud_config/yaml.go
  pkg/cloud/vsphere/vsphere_config_transformer.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn, regression-vsphere-ipi-ccmo

Fixed issue where old vCenters not removed from new cloud config
  pkg/cloud/vsphere/vsphere_config_transformer.go
  pkg/cloud/vsphere/vsphere_config_transformer_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn, regression-vsphere-ipi-ccmo

init test running successfully for 5.5
  openshift-tests/ccm-aws-tests/cmd/healthserver/Dockerfile
  openshift-tests/ccm-aws-tests/cmd/healthserver/main.go
  openshift-tests/ccm-aws-tests/e2e/aws/health/client.go
  openshift-tests/ccm-aws-tests/e2e/aws/health/observer.go
  openshift-tests/ccm-aws-tests/e2e/aws/health/types.go
  openshift-tests/ccm-aws-tests/e2e/aws/lb_health_transition.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

health: add per-poll TG snapshots and TG attribute introspection
  openshift-tests/ccm-aws-tests/e2e/aws/health/observer.go
  openshift-tests/ccm-aws-tests/e2e/aws/health/types.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

e2e: add graceful shutdown, Scenario 5.2, consistent timing model
  openshift-tests/ccm-aws-tests/e2e/aws/lb_health_transition.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

e2e: master-node targeting, cross-zone, CAPA variant, t0-t4 timers
  openshift-tests/ccm-aws-tests/e2e/aws/health/observer.go
  openshift-tests/ccm-aws-tests/e2e/aws/lb_health_transition.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

e2e: 90s post-healthy observation, environment summary in report
  openshift-tests/ccm-aws-tests/e2e/aws/lb_health_transition.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

e2e: fix TG healthy wait stuck, add PollOnce, use control-plane label
  openshift-tests/ccm-aws-tests/e2e/aws/health/observer.go
  openshift-tests/ccm-aws-tests/e2e/aws/lb_health_transition.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

e2e: log client and observer start times
  openshift-tests/ccm-aws-tests/e2e/aws/lb_health_transition.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

health: add README documenting the NLB health transition test framework
  openshift-tests/ccm-aws-tests/e2e/aws/health/README.md
Due: none

e2e: add request statistics and per-phase breakdown to report
  openshift-tests/ccm-aws-tests/e2e/aws/lb_health_transition.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

e2e: add duration column to per-phase request breakdown
  openshift-tests/ccm-aws-tests/e2e/aws/lb_health_transition.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

e2e: restore removed comments in phase classification
  openshift-tests/ccm-aws-tests/e2e/aws/lb_health_transition.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

e2e: parallel client workers, fix unhealthy.draining state matching
  openshift-tests/ccm-aws-tests/e2e/aws/health/client.go
  openshift-tests/ccm-aws-tests/e2e/aws/lb_health_transition.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

health: update README with parallel workers, request stats, CAPA finding
  openshift-tests/ccm-aws-tests/e2e/aws/health/README.md
Due: none

e2e: add per-server request distribution and server-side verdict
  openshift-tests/ccm-aws-tests/e2e/aws/lb_health_transition.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

health: update README with per-server distribution and verdict sections
  openshift-tests/ccm-aws-tests/e2e/aws/health/README.md
Due: none

deployments: pass down tls config also to --webhook-tls-*
  pkg/cloud/aws/assets/deployment.yaml
  pkg/cloud/azure/assets/cloud-controller-manager-deployment.yaml
  pkg/cloud/azurestack/assets/cloud-controller-manager-deployment.yaml
  pkg/cloud/gcp/assets/cloud-controller-manager.yaml
  pkg/cloud/ibm/assets/deployment.yaml
  pkg/cloud/nutanix/assets/cloud-controller-manager-deployment.yaml
  pkg/cloud/openstack/assets/deployment.yaml
  pkg/cloud/powervs/assets/deployment.yaml
  pkg/cloud/vsphere/assets/cloud-controller-manager-deployment.yaml
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-ibmcloud-ovn, e2e-openstack-ovn, e2e-vsphere-ovn, regression-vsphere-ipi-ccmo, e2e-nutanix-ovn

Moved node sync job creation from manifest to operator controller
  cmd/config-sync-controllers/main.go
  cmd/node-label-sync-job/main.go
  manifests/0000_26_cloud-controller-manager-operator_02_rbac_operator.yaml
  manifests/0000_26_cloud-controller-manager-operator_50_deployment.yaml
  manifests/0000_90_cloud-controller-manager-operator_00_job.yaml
  pkg/controllers/common_consts.go
  pkg/controllers/node_label_sync_job_controller.go
  pkg/controllers/node_label_sync_job_controller_test.go
  pkg/controllers/vsphere_node_label_sync.go
  pkg/controllers/watch_predicates.go
  pkg/restmapper/predicates.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn, regression-vsphere-ipi-ccmo

Enhanced operator to own updatingvsphere cloud config in openshift-config-managed.
  manifests/0000_26_cloud-controller-manager-operator_02_rbac_operator.yaml
  pkg/controllers/cloud_config_sync_controller.go
  pkg/controllers/cloud_config_sync_controller_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

feat/config-sync: allowing FG to transformer on providers
  pkg/cloud/aws/aws_config_transformer.go
  pkg/cloud/aws/aws_config_transformer_test.go
  pkg/cloud/azure/azure.go
  pkg/cloud/azure/azure_test.go
  pkg/cloud/azurestack/azurestack.go
  pkg/cloud/azurestack/azurestack_test.go
  pkg/cloud/cloud.go
  pkg/cloud/common/config.go
  pkg/cloud/openstack/openstack.go
  pkg/cloud/openstack/openstack_test.go
  pkg/cloud/vsphere/vsphere_config_transformer.go
  pkg/cloud/vsphere/vsphere_config_transformer_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn, regression-vsphere-ipi-ccmo

feat/config-sync: setting up feature gate acessor
  cmd/config-sync-controllers/main.go
  pkg/controllers/cloud_config_sync_controller.go
  pkg/controllers/cloud_config_sync_controller_test.go
Due: e2e-aws-ovn, e2e-aws-ovn-upgrade, e2e-azure-ovn, e2e-azure-ovn-upgrade, e2e-gcp-ovn, e2e-gcp-ovn-upgrade, e2e-openstack-ovn, e2e-vsphere-ovn

Path conditions:
  e2e-aws-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-aws-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-azure-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-azure-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-gcp-ovn-upgrade: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-ibmcloud-ovn: any of: ibm
  e2e-openstack-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  e2e-vsphere-ovn: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  regression-vsphere-ipi-ccmo: any of: pkg/machineproviders/providers/openshift/machine/v1beta1/.*|.*vsphere.*
  e2e-nutanix-ovn: any of: .*nutanix.*
