Repository opendatahub-io/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  odh-notebook-controller-e2e: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)

fix(kf nbc): Template labels lag behind ObjectMeta labels on label-only updates.
  components/notebook-controller/controllers/notebook_controller.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

Add AGENTS.md and CLAUDE.md files for AI based IDEs
  AGENTS.md
  CLAUDE.md
Due: none

Fix pre-commit failures so we can introduce the pre-commit GHA
  .github/scripts/create-release.sh
  .github/workflows/create-release.yaml
  .github/workflows/notebook-controller-images-updater.yaml
  .github/workflows/odh_notebook_controller_unit_test.yaml
  CHANGELOG.md
  DEPENDENCIES.md
  ROADMAP.md
  components/base/README.md
  components/notebook-controller/.dockerignore
  components/notebook-controller/README.md
  components/notebook-controller/config/README.md
  components/notebook-controller/config/crd/patches/validation_patches.yaml
  components/notebook-controller/developer_guide.md
  components/notebook-controller/generate-metadata-yaml.sh
  components/notebook-controller/hack/boilerplate.go.txt
  components/notebook-controller/hack/dev_culling_authorization_policy.yaml
  components/notebook-controller/loadtest/jupyter_pvc.yaml
  components/notebook-controller/loadtest/jupyter_test.yaml
  components/notebook-controller/skaffold.yaml
  components/notebook-controller/third_party/license.txt
  components/odh-notebook-controller/README.md
  components/odh-notebook-controller/config/manager/manager.yaml
  components/odh-notebook-controller/config/samples/_v1_notebook_rbac.yaml
  components/odh-notebook-controller/hack/boilerplate.go.txt
  components/odh-notebook-controller/third_party/license.txt
  components/proposals/20220121-jupyter-notebook-idleness.md
  components/proposals/20230130-pvcviewer-controller.md
  conformance/1.5/README.md
  conformance/1.5/kfp-conformance.yaml
  conformance/1.5/report-pod.sh
  conformance/1.5/setup.yaml
  conformance/1.7/README.md
  conformance/1.7/kfp-conformance.yaml
  conformance/1.7/report-pod.sh
  conformance/1.7/setup.yaml
  releasing/README.md
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

Add a .pre-commit-config.yaml file
  .github/workflows/code-quality.yaml
  .pre-commit-config.yaml
  components/notebook-controller/.golang-ci.yaml
  components/notebook-controller/.golangci.yaml
  components/odh-notebook-controller/.golang-ci.yaml
  components/odh-notebook-controller/.golangci.yaml
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

chores: shift govuln check away from PR to branch-push
  .github/workflows/code-quality.yaml
  .github/workflows/govulncheck.yaml
Due: none

allow the govuln run to fail for capturing the alerts
  .github/workflows/govulncheck.yaml
Due: none

test: Add unit tests for cache transform functions
  components/odh-notebook-controller/main.go
  components/odh-notebook-controller/main_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

feat(odh-notebook-controller): add MLflow zero-touch support for notebooks
  .github/workflows/odh_notebook_controller_integration_test.yaml
  components/odh-notebook-controller/config/rbac/kustomization.yaml
  components/odh-notebook-controller/config/rbac/mlflow_bind_patch.yaml
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/config/webhook/kustomizeconfig.yaml
  components/odh-notebook-controller/config/webhook/manifests.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_mlflow.go
  components/odh-notebook-controller/controllers/notebook_mlflow_test.go
  components/odh-notebook-controller/controllers/notebook_mutating_webhook.go
  components/odh-notebook-controller/controllers/notebook_mutating_webhook_test.go
  components/odh-notebook-controller/controllers/notebook_validating_webhook.go
  components/odh-notebook-controller/controllers/notebook_validating_webhook_test.go
  components/odh-notebook-controller/controllers/notebook_webhook_utils.go
  components/odh-notebook-controller/controllers/notebook_webhook_utils_test.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

Use the mlflow-integration clusterrole for workbenches
  components/odh-notebook-controller/config/rbac/mlflow_bind_patch.yaml
  components/odh-notebook-controller/controllers/notebook_mlflow.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

fix the e2e delete operation
  components/odh-notebook-controller/controllers/notebook_mlflow_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

set another env var: MLFLOW_TRACKING_AUTH=kubernetes-namespaced for mlflow using workbenches
  components/odh-notebook-controller/controllers/notebook_mlflow.go
  components/odh-notebook-controller/controllers/notebook_mlflow_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

removed dynamic client references to rely on more direct approach
  components/odh-notebook-controller/controllers/notebook_mlflow.go
  components/odh-notebook-controller/controllers/notebook_mlflow_test.go
  components/odh-notebook-controller/controllers/notebook_mutating_webhook.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

place the helper function near the intended func
  components/odh-notebook-controller/controllers/notebook_mutating_webhook.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

chore(notebook-controller): fix of some of the linter errors
  components/notebook-controller/controllers/culling_controller.go
  components/notebook-controller/controllers/culling_controller_test.go
  components/notebook-controller/controllers/notebook_controller.go
  components/notebook-controller/pkg/culler/culler.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

fix(odh-notebook-controller): watch DSPA changes to keep Elyra secret in sync
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_dspa_watch_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

chore(konflux): use `main` tag for the push event images builds
  .tekton/README.md
  .tekton/odh-kf-notebook-controller-push.yaml
  .tekton/odh-notebook-controller-push.yaml
Due: none

feat: Add configurable MLflow feature flag and gateway URL
  components/odh-notebook-controller/config/base/kustomization.yaml
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/config/manager/manager.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_mlflow.go
  components/odh-notebook-controller/controllers/notebook_mlflow_test.go
  components/odh-notebook-controller/controllers/notebook_mutating_webhook.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

adjusted to read mlflow env vars in main setup
  components/odh-notebook-controller/config/base/kustomization.yaml
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/config/manager/manager.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_mlflow.go
  components/odh-notebook-controller/controllers/notebook_mlflow_test.go
  components/odh-notebook-controller/controllers/notebook_mutating_webhook.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

Fix pre-commit suggested fixes
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/config/manager/manager.yaml
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

Fix golang-lint suggested fixes
  components/odh-notebook-controller/controllers/notebook_mlflow.go
  components/odh-notebook-controller/controllers/notebook_mlflow_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

Adjust new fixes for the coderabbit
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_mlflow.go
  components/odh-notebook-controller/controllers/notebook_mutating_webhook.go
  components/odh-notebook-controller/controllers/suite_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

adjusted the comment details based on coderabbit
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_mutating_webhook.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

fix: cleanup workbench-trusted-ca-bundle when odh-trusted-ca-bundle is removed
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

fix: Use deterministic hash-based naming for HTTPRoutes
  components/odh-notebook-controller/controllers/notebook_route.go
  components/odh-notebook-controller/controllers/notebook_route_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

Fix `nakedret` linter errors
  components/odh-notebook-controller/controllers/opentelemetry_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

chore(linter): fix the goimport linter errors
  components/odh-notebook-controller/controllers/matchers_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

chore(linter): fix goconst linter errors
  components/notebook-controller/controllers/culling_controller.go
  components/notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_feast_config.go
  components/odh-notebook-controller/controllers/notebook_feast_config_test.go
  components/odh-notebook-controller/controllers/notebook_mlflow.go
  components/odh-notebook-controller/controllers/notebook_mutating_webhook.go
  components/odh-notebook-controller/controllers/notebook_mutating_webhook_test.go
  components/odh-notebook-controller/controllers/notebook_runtime.go
  components/odh-notebook-controller/e2e/notebook_creation_test.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

chore(linter): fix prealloc linter errors
  components/notebook-controller/api/v1/notebook_conversion.go
  components/notebook-controller/api/v1alpha1/notebook_conversion.go
  components/odh-notebook-controller/controllers/notebook_mutating_webhook_test.go
  components/odh-notebook-controller/controllers/opentelemetry_test.go
  components/odh-notebook-controller/e2e/helper_test.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

chore(linter): fix gofmt linter errors
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_feast_config_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

chore(linters): fix linter errors for unconvert linter type
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_kube_rbac_auth.go
  components/odh-notebook-controller/controllers/notebook_route.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

chore(linters): fix unused linter errors
  components/notebook-controller/api/v1beta1/notebook_webhook.go
  components/odh-notebook-controller/e2e/helper_test.go
  components/odh-notebook-controller/e2e/notebook_creation_test.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

chore(linters): disable the lll, dupl, gocyclo and unparam linters
  components/notebook-controller/.golangci.yaml
  components/odh-notebook-controller/.golangci.yaml
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

chore(linter): update the exception for the staticcheck linter
  components/odh-notebook-controller/controllers/notebook_mutating_webhook.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

chore(misc): use `ptr.To` wherever possible to keep code consistent
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_kube_rbac_auth.go
  components/odh-notebook-controller/controllers/notebook_route.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

test: extend strip check also with expected annotations and secrets
  components/odh-notebook-controller/main_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

chore(contributing): update the contributing guide
  CONTRIBUTING.md
Due: none

chore(makefile): introduce a common root makefile for both components
  Makefile
Due: none

fix: address PR review feedback for cert cleanup test
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

fix: split service-ca.crt certificate to meet line length limit
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

fix: Clean up auth-proxy sidecontainer when annotation is removed
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_kube_rbac_auth.go
  components/odh-notebook-controller/controllers/notebook_mutating_webhook.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e
