Repository opendatahub-io/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

kf-notebook-controller-unit:
  steps:
    test:
    - as: unit
      commands: 'unset GOFLAGS
  
        pushd components/notebook-controller
  
        make test
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi

odh-notebook-controller-unit:
  steps:
    test:
    - as: unit
      commands: 'unset GOFLAGS
  
        pushd components/odh-notebook-controller
  
        make test
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi

ci/prow/notebook-controller-unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

enable culling controller
  components/odh-notebook-controller/upgrade/suite_test.go
Due: odh-notebook-controller-unit

RHOAIENG-15748: chore(release): set the main tag to `main`, so we need not update it with digest updater from now on
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Modify notebook-controller-images-updater gha to be callable action and also to automerge or not the changes
  .github/workflows/notebook-controller-images-updater.yaml
Due: none

Update sync branches action to automerge the changes to the target branch and changed its name
  .github/workflows/sync-branches-through-pr.yaml
  .github/workflows/sync-branches.yaml
Due: none

Introduce create-release gha used as mockup to unblock the development untill be ready
  .github/workflows/create-release.yaml
Due: none

Introduce kubeflow-release action that orchestrates all previous manual steps
  .github/workflows/kubeflow-release.yaml
Due: none

little tweeks
  .github/workflows/create-release.yaml
  .github/workflows/kubeflow-release.yaml
Due: none

fix typos
  .github/workflows/kubeflow-release.yaml
Due: none

Add an option create-new-release to create or not release, for extra flexibility
  .github/workflows/kubeflow-release.yaml
Due: none

[Fix] RHOAIENG-8390: feat(odh-nbc): search for imagestreams only in the namespace the controller runs in (#375) * [Fix] search for imagestreams only in the namespace the controller runs in.
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_network.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit

Create a .yaml file with kubeflow version
  components/notebook-controller/config/.component_metadata.yamyaml
  components/notebook-controller/generate-metadata-yaml.sh
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

review suggestion, fix comment in tests
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

RHOAIENG-8390: feat(odh-nbc): search for imagestreams only in the namespace the controller runs in (#375) * [Fix] search for imagestreams only in the namespace the controller runs in.
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_network.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit

[RHOAIENG-15141] Fix failing E2E tests
  components/odh-notebook-controller/e2e/helper_test.go
  components/odh-notebook-controller/e2e/notebook_creation_test.go
  components/odh-notebook-controller/e2e/notebook_update_test.go
Due: odh-notebook-controller-unit

Apply suggestions from the review
  .github/workflows/kubeflow-release.yaml
  .github/workflows/notebook-controller-images-updater.yaml
  .github/workflows/sync-branches.yaml
Due: none

Update odh and notebook-controller with image 1.9-cae23d6
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

RHOAIENG-7610: fix(nbc): deduplicate culling-related configmap keys
  components/notebook-controller/config/manager/params.env
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Add a txt file
  test.txt
Due: none

Update odh and notebook-controller with image 1.9-343990c
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Update prow_config.yaml
  prow_config.yaml
Due: none

Set secret token to enable GHA tests to run when the automated PR opens
  .github/workflows/kubeflow-release.yaml
  .github/workflows/notebook-controller-images-updater.yaml
Due: none

chore(test): Integration Codecov coverage reporting for notebook-controller
  .github/workflows/notebook_controller_unit_test.yaml
Due: none

NO-ISSUE: chore(gha): run tests in a gha when gha itself is modified in a pr
  .github/workflows/notebook_controller_integration_test.yaml
  .github/workflows/notebook_controller_unit_test.yaml
  .github/workflows/odh_notebook_controller_unit_test.yaml
Due: none

chore(test): Integration Codecov coverage reporting for odh-notebook-controller
  .github/workflows/odh_notebook_controller_unit_test.yaml
  components/odh-notebook-controller/Makefile
Due: odh-notebook-controller-unit

fix(script): Improve generate-metadata-yaml.sh based on feedback
  components/notebook-controller/generate-metadata-yaml.sh
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

chore(owners): add myself as reviewer/approver
  OWNERS
Due: none

Update util.go to check https://issues.redhat.com/browse/RHOAIENG-11142
  components/common/reconcilehelper/util.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Update notebook_controller.go
  components/notebook-controller/controllers/notebook_controller.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Update notebook_webhook.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Remove JUPYTER_IMAGE enviroment variable
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

fixup robustness by adding a fallback cmp.Diff
  components/odh-notebook-controller/controllers/matchers_test.go
Due: odh-notebook-controller-unit

review suggestion, fix typo in components/odh-notebook-controller/controllers/matchers_test.go
  components/odh-notebook-controller/controllers/matchers_test.go
Due: odh-notebook-controller-unit

RHOAIENG-17634: chore(odh-nbc/tests): implement diff minimization for k8s objects diffs
  components/odh-notebook-controller/controllers/matchers_test.go
Due: odh-notebook-controller-unit

review suggestion, always print the full diff first, followed by minimized diff
  components/odh-notebook-controller/controllers/matchers_test.go
Due: odh-notebook-controller-unit

fixup a bug where I tried to set invalid values
  components/odh-notebook-controller/controllers/matchers_test.go
Due: odh-notebook-controller-unit

Fix pointer.Int32Ptr deprecation on oauth-client test
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
