Repository opendatahub-io/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)

If the Dashboard CR is absent we still build the Secret, with dashboard_url set to an empty string
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
Due: odh-notebook-controller-unit

NO-JIRA: chore(dev): update the logger names for the ODH notebook ctrl
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit

Update code-quality.yaml to include kustomize check within code-quality check github action
  .github/workflows/code-quality.yaml
Due: none

wip
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

RHOAIENG-24545: modified the runtime config map tests
  components/odh-notebook-controller/controllers/notebook_runtime_test.go
Due: odh-notebook-controller-unit

Update code-quality.yaml so kustomize check is its own job within the githhub action
  .github/workflows/code-quality.yaml
Due: none

Handle missing dspa crd case is is not in the cluster
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
Due: odh-notebook-controller-unit

RHOAIENG-24545: modified the runtime config map tests
  components/odh-notebook-controller/controllers/notebook_runtime_test.go
  components/odh-notebook-controller/controllers/suite_test.go
Due: odh-notebook-controller-unit

RHOAIENG-25707: feat(webhook): read namespace annotation on Notebook CR to locate ImageStream
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/controllers/notebook_webhook_test.go
Due: odh-notebook-controller-unit

RHOAIENG-9374: specify relative paths for sibling Kubeflow dependencies
  .github/workflows/notebook_controller_integration_test.yaml
  .github/workflows/notebook_controller_unit_test.yaml
  .github/workflows/odh_notebook_controller_integration_test.yaml
  .github/workflows/odh_notebook_controller_unit_test.yaml
  components/notebook-controller/go.mod
  components/notebook-controller/go.sum
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

fixup, interpret a "" image namespace as meaning the default controller namespace, because that's how dashboard does it
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/controllers/notebook_webhook_test.go
Due: odh-notebook-controller-unit

NO-JIRA: disable diagrams and poem by creating `.coderabbit.yaml`
  .coderabbit.yaml
Due: none

Update odh and notebook-controller with image 1.10-545e639
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

RHOAIENG-27813: extend coverage for the runtime config map tests
  components/odh-notebook-controller/controllers/notebook_runtime_test.go
  components/odh-notebook-controller/controllers/suite_test.go
Due: odh-notebook-controller-unit

RHOAIENG-27813: extend coverage for the runtime config map tests
  components/odh-notebook-controller/controllers/notebook_runtime_test.go
Due: odh-notebook-controller-unit

NO-JIRA: chore(tests): reduce the code duplication in runtime tests
  components/odh-notebook-controller/controllers/common.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_runtime_test.go
Due: odh-notebook-controller-unit

Delete components/notebook-controller/config/overlays/standalone-service-mesh/cert-secret.yaml
  components/notebook-controller/config/overlays/standalone-service-mesh/cert-secret.yaml
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Update kustomization.yaml
  components/notebook-controller/config/overlays/standalone-service-mesh/kustomization.yaml
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Revert of fix for RHOAIENG-24545
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_runtime_test.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Update odh and notebook-controller with image 1.10-de220c0
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

RHOAIENG-13916: refactor(tests): enhance Notebook webhook test cases to utilize helper functions for resource creation
  components/odh-notebook-controller/controllers/notebook_webhook_test.go
Due: odh-notebook-controller-unit

RHOAIENG-23765: enhance(tests): expand test coverage for Notebook webhook image resolution logic, including namespace-specific and multi-ImageStream scenarios
  components/odh-notebook-controller/controllers/notebook_webhook_test.go
Due: odh-notebook-controller-unit

NO-JIRA: chore(tests): fix import formatting in `notebook_webhook_test.go`
  components/odh-notebook-controller/controllers/notebook_webhook_test.go
Due: odh-notebook-controller-unit

Add finalizer to clean up OAuthClients on notebook deletion
  components/odh-notebook-controller/config/crd/external/oauthclients.oauth.openshift.io.yaml
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_oauth.go
  components/odh-notebook-controller/controllers/suite_test.go
Due: odh-notebook-controller-unit

Change controller tests to test only if the finalizer has been added and if the notebook has been deleted properly
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

Implement changes in the structure of the OAuth Cleanup tests
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

Fix linter issues and code review suggestions
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_oauth.go
Due: odh-notebook-controller-unit

Update OWNERS
  OWNERS
Due: none

Update .editorconfig
  .editorconfig
Due: none

[Add] Propagate labels from NB to StatefulSets
  components/notebook-controller/controllers/notebook_controller.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Extend simple test for Notebook -> StatefulSet labels propagation.
  components/notebook-controller/controllers/notebook_controller_bdd_test.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Update local context.Background() wiht global context in notebook controller tests
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

remove ACK_GINKGO_DEPRECATIONS=1.16.5 env var in make test
  components/odh-notebook-controller/Makefile
Due: odh-notebook-controller-unit

Update local context.Background() wiht global context in notebook controller tests
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_runtime_test.go
  components/odh-notebook-controller/controllers/notebook_webhook_test.go
  components/odh-notebook-controller/controllers/notebook_webhook_utils_test.go
Due: odh-notebook-controller-unit

sanitize replacer on the formatKeyName funtion for runtimes configmap population
  components/odh-notebook-controller/controllers/notebook_runtime.go
Due: odh-notebook-controller-unit

[RHOAIENG-29976] bump the envtest and go controller tools version
  components/notebook-controller/Makefile
  components/odh-notebook-controller/Makefile
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

[RHOAIENG-29976] update go dependencies for notebook-controller
  components/notebook-controller/config/crd/bases/kubeflow.org_notebooks.yaml
  components/notebook-controller/go.mod
  components/notebook-controller/go.sum
  components/odh-notebook-controller/go.mod
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

[RHOAIENG-29976] update go dependencies for odh-notebook-controller
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
Due: odh-notebook-controller-unit

Improve formatKeyName function to handle all invalid ConfigMap key characters
  components/odh-notebook-controller/controllers/notebook_runtime.go
  components/odh-notebook-controller/controllers/notebook_runtime_test.go
Due: odh-notebook-controller-unit
