Repository opendatahub-io/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  odh-notebook-controller-e2e: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)

fix(tests): address review feedback on DSPA watch test
  components/odh-notebook-controller/controllers/notebook_dspa_watch_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

fix: Address PR review feedback for auth-proxy cleanup
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_kube_rbac_auth.go
  components/odh-notebook-controller/controllers/notebook_mutating_webhook.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

fix(notebook-controller): correct HTTPRoute port for unauthenticated notebooks
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_route.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

fix(odh-notebook-controller): watch DSPA changes to keep Elyra secret in sync
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_dspa_watch_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

fix the GHA CI integration and e2e tests jobs executions
  .github/workflows/odh_notebook_controller_integration_test.yaml
  components/odh-notebook-controller/run-e2e-test.sh
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

chore(linter): fix the goimport linter errors
  components/odh-notebook-controller/controllers/matchers_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

Fix `nakedret` linter errors
  components/odh-notebook-controller/controllers/opentelemetry_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

chore(linter): fix goconst linter errors
  components/notebook-controller/controllers/culling_controller.go
  components/notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_feast_config.go
  components/odh-notebook-controller/controllers/notebook_feast_config_test.go
  components/odh-notebook-controller/controllers/notebook_mlflow.go
  components/odh-notebook-controller/controllers/notebook_mutating_webhook.go
  components/odh-notebook-controller/controllers/notebook_mutating_webhook_test.go
  components/odh-notebook-controller/controllers/notebook_runtime.go
  components/odh-notebook-controller/e2e/notebook_creation_test.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

chore(linter): fix prealloc linter errors
  components/notebook-controller/api/v1/notebook_conversion.go
  components/notebook-controller/api/v1alpha1/notebook_conversion.go
  components/odh-notebook-controller/controllers/notebook_mutating_webhook_test.go
  components/odh-notebook-controller/controllers/opentelemetry_test.go
  components/odh-notebook-controller/e2e/helper_test.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

chore(linter): fix gofmt linter errors
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_feast_config_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

chore(linters): fix unused linter errors
  components/notebook-controller/api/v1beta1/notebook_webhook.go
  components/odh-notebook-controller/e2e/helper_test.go
  components/odh-notebook-controller/e2e/notebook_creation_test.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

chore(linters): disable the lll, dupl, gocyclo and unparam linters
  components/notebook-controller/.golangci.yaml
  components/odh-notebook-controller/.golangci.yaml
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

chore(misc): use `ptr.To` wherever possible to keep code consistent
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_kube_rbac_auth.go
  components/odh-notebook-controller/controllers/notebook_route.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

chore(linters): fix linter errors for unconvert linter type
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_kube_rbac_auth.go
  components/odh-notebook-controller/controllers/notebook_route.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

chore(linter): update the exception for the staticcheck linter
  components/odh-notebook-controller/controllers/notebook_mutating_webhook.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

refactor: simplify release workflow with explicit versioning
  .github/scripts/create-release.sh
  .github/workflows/create-release.yaml
  .github/workflows/kubeflow-release.yaml
  .github/workflows/odh-kubeflow-release-pipeline.yaml
  .github/workflows/odh-kubeflow-release-tag.yaml
Due: none

read the image tag from latest v1.10-branch
  .github/workflows/odh-kubeflow-release-pipeline.yaml
  .github/workflows/odh-kubeflow-release-tag.yaml
Due: none

address the ci failure with respect to pre-commit
  .github/workflows/odh-kubeflow-release-pipeline.yaml
  .github/workflows/odh-kubeflow-release-tag.yaml
Due: none

make the description more clear for the new-image-tag
  .github/workflows/odh-kubeflow-release-pipeline.yaml
Due: none

allow sync of the branches based on flag
  .github/workflows/odh-kubeflow-release-pipeline.yaml
Due: none

fix the permission for the github action steps
  .github/workflows/odh-kubeflow-release-pipeline.yaml
Due: none

wip
  .tekton/README.md
  .tekton/kubeflow-promotion-e2e-gate.yaml
Due: none

asdf
  .tekton/kubeflow-promotion-e2e-gate.yaml
Due: none

use my branch
  .tekton/kubeflow-promotion-e2e-gate.yaml
Due: none

workaround to use older functional image
  .tekton/kubeflow-promotion-e2e-gate.yaml
Due: none

introduce a PR based branch synchronization GHA
  .github/scripts/merge-source-into-head.sh
  .github/workflows/sync-branches-pr.yaml
  .github/workflows/sync-branches.yaml
Due: none

chore(konflux): use `main` tag for the push event images builds
  .tekton/README.md
  .tekton/odh-kf-notebook-controller-push.yaml
  .tekton/odh-notebook-controller-push.yaml
Due: none

[RHOAIENG-48289] Don't reconcile labels we don't own
  components/common/reconcilehelper/util.go
  components/notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
  components/odh-notebook-controller/controllers/notebook_kube_rbac_auth.go
  components/odh-notebook-controller/controllers/notebook_network.go
  components/odh-notebook-controller/controllers/notebook_referencegrant.go
  components/odh-notebook-controller/controllers/notebook_route.go
  components/odh-notebook-controller/controllers/notebook_route_compare_test.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

optional
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

update the workflow definitions
  .github/workflows/notebook_controller_integration_test.yaml
  .github/workflows/notebook_controller_unit_test.yaml
  .github/workflows/odh_notebook_controller_integration_test.yaml
  .github/workflows/odh_notebook_controller_unit_test.yaml
Due: none

Use the common module directly from this repository
  components/notebook-controller/go.mod
  components/notebook-controller/go.sum
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

Use the notebook-controller module from this repository
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

odh-notebook-controller mod tidy
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

RHOAIENG-60592: Add nil guards in extractElyraRuntimeConfigInfo to prevent panic
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

RHOAIENG-60592: Align nil guard error messages with PR #743 and add SecretName validation
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

RHOAIENG-60592: Add empty-string validation for AccessKey and SecretKey fields
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

small polishing and added couple of test cases for actual reconciliation
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e
