Repository opendatahub-io/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)

configmap ownership defined for reconciliation
  components/odh-notebook-controller/controllers/notebook_controller.go
Due: odh-notebook-controller-unit

add dspa new permissions
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
Due: odh-notebook-controller-unit

rename continue
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_kube_rbac_auth.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

rename final
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_kube_rbac_auth.go
  components/odh-notebook-controller/controllers/notebook_route.go
  components/odh-notebook-controller/e2e/notebook_creation_test.go
Due: odh-notebook-controller-unit

fixup
  .github/workflows/odh_notebook_controller_integration_test.yaml
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

[RHOAIENG-34310] fix the way we retrieve public api url for elyra settings
  components/odh-notebook-controller/config/crd/external/gateway.networking.k8s.io_gateways.yaml
  components/odh-notebook-controller/config/crd/external/opendatahub.io_dashboard.yaml
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
Due: odh-notebook-controller-unit

[RHOAIENG-34310] reverts changes to matchers_test.go done recently
  components/odh-notebook-controller/controllers/matchers_test.go
Due: odh-notebook-controller-unit

[RHOAIENG-34310] use kube-auth-proxy image instead of kube-rbac-proxy
  components/odh-notebook-controller/config/base/params.env
Due: odh-notebook-controller-unit

Add a target for govulncheck to our component Makefiles
  components/notebook-controller/Makefile
  components/odh-notebook-controller/Makefile
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

small UX improvement for the failure message of the beMatchingk8sResource
  components/odh-notebook-controller/controllers/matchers_test.go
Due: odh-notebook-controller-unit

fix the linters
  components/odh-notebook-controller/controllers/matchers_test.go
Due: odh-notebook-controller-unit

fix the matchers_test implementation for maps
  components/odh-notebook-controller/controllers/matchers_test.go
Due: odh-notebook-controller-unit

Bump go-toolset images from golang 1.23 to 1.24
  components/notebook-controller/Dockerfile
  components/notebook-controller/go.mod
  components/odh-notebook-controller/Dockerfile
  components/odh-notebook-controller/go.mod
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

fix e2e test for long statefulset name and use long enough nb name
  components/odh-notebook-controller/e2e/helper_test.go
Due: odh-notebook-controller-unit

Remove configuration file for the wei/pull tool
  .github/pull.yml
Due: none

Bump go-toolset images from golang 1.24 to 1.25
  .github/workflows/code-quality.yaml
  components/notebook-controller/Dockerfile
  components/notebook-controller/go.mod
  components/odh-notebook-controller/Dockerfile
  components/odh-notebook-controller/go.mod
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

feat: mountFeastConfig if present on the notebook
  components/odh-notebook-controller/controllers/notebook_feast_config.go
  components/odh-notebook-controller/controllers/notebook_feast_config_test.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Add a target for govulncheck to our component Makefiles, update CI
  .github/workflows/code-quality.yaml
  components/notebook-controller/Makefile
  components/odh-notebook-controller/Makefile
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

feat: mountFeastConfig if feast enabled on notebook
  components/odh-notebook-controller/controllers/notebook_feast_config.go
  components/odh-notebook-controller/controllers/notebook_feast_config_test.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Fix the label name and tests
  components/odh-notebook-controller/controllers/notebook_feast_config.go
  components/odh-notebook-controller/controllers/notebook_feast_config_test.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

make govulcheck optional and non-blocking for pr's
  .github/workflows/code-quality.yaml
Due: none

imagestreams watch
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_runtime_test.go
Due: odh-notebook-controller-unit

[RHOAIENG-24545] Assure proper runtime images configmap presence
  components/odh-notebook-controller/controllers/notebook_runtime.go
  components/odh-notebook-controller/controllers/notebook_runtime_test.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

add support for feast cm unmount on disabled feature
  components/odh-notebook-controller/controllers/notebook_feast_config.go
  components/odh-notebook-controller/controllers/notebook_feast_config_test.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

remove redundant bits from the code
  components/odh-notebook-controller/controllers/notebook_feast_config_test.go
Due: odh-notebook-controller-unit

Removed checking for configmap
  components/odh-notebook-controller/controllers/notebook_feast_config.go
  components/odh-notebook-controller/controllers/notebook_feast_config_test.go
Due: odh-notebook-controller-unit

Removed unused params
  components/odh-notebook-controller/controllers/notebook_feast_config.go
  components/odh-notebook-controller/controllers/notebook_feast_config_test.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

wip
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
Due: odh-notebook-controller-unit

afaf
  components/notebook-controller/config/crd/bases/kubeflow.org_notebooks.yaml
  components/notebook-controller/go.mod
  components/notebook-controller/go.sum
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Bump the expected Go lang version also for the common module
  components/common/go.mod
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Bump the dependencies of the notebook-controller component
  components/notebook-controller/config/crd/bases/kubeflow.org_notebooks.yaml
  components/notebook-controller/go.mod
  components/notebook-controller/go.sum
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Bump the dependencies for the odh-notebook-controller component
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
Due: odh-notebook-controller-unit

Bump the dependencies of the notebook-controller component
  components/notebook-controller/go.mod
  components/notebook-controller/go.sum
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

update the workflow definitions
  .github/workflows/notebook_controller_integration_test.yaml
  .github/workflows/notebook_controller_unit_test.yaml
  .github/workflows/odh_notebook_controller_integration_test.yaml
  .github/workflows/odh_notebook_controller_unit_test.yaml
Due: none
