Repository opendatahub-io/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  odh-notebook-controller-e2e: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)

fix(security): bump Go to 1.25.5 for CVE remediation
  .gitignore
  components/common/go.mod
  components/notebook-controller/Dockerfile
  components/notebook-controller/Dockerfile.ci
  components/notebook-controller/go.mod
  components/odh-notebook-controller/Dockerfile
  components/odh-notebook-controller/go.mod
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

Red Hat Konflux update kubeflow-group
  .tekton/kubeflow-group-pull-request.yaml
  .tekton/kubeflow-group-push.yaml
Due: none

chores: include wait loop in make e2e-test
  components/odh-notebook-controller/run-e2e-test.sh
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

fixup
  components/odh-notebook-controller/run-e2e-test.sh
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

Fix e2e test flakiness from culling leaving notebooks stopped
  components/odh-notebook-controller/Makefile
  components/odh-notebook-controller/e2e/helper_test.go
  components/odh-notebook-controller/e2e/notebook_controller_setup_test.go
  components/odh-notebook-controller/e2e/notebook_creation_test.go
  components/odh-notebook-controller/e2e/notebook_update_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

fix(manifests): update nbc image references
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

chore: address PR feedback
  components/odh-notebook-controller/e2e/helper_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

chore: address coderabbit review comments
  components/odh-notebook-controller/e2e/helper_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

chore: more coderabbit PR review feedback
  components/odh-notebook-controller/e2e/helper_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

chore: continuing to address coderabbit pr feedback
  components/odh-notebook-controller/e2e/helper_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

chore: better diagnostics
  components/odh-notebook-controller/e2e/helper_test.go
  components/odh-notebook-controller/e2e/notebook_controller_setup_test.go
  components/odh-notebook-controller/e2e/notebook_controller_test.go
  components/odh-notebook-controller/e2e/notebook_creation_test.go
  components/odh-notebook-controller/e2e/notebook_deletion_test.go
  components/odh-notebook-controller/e2e/notebook_update_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

chore: reduce resource requirements for test notebooks
  components/odh-notebook-controller/e2e/helper_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

fix: coderabbit pr review feedback
  components/odh-notebook-controller/e2e/helper_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

chore: error handling in waitForStatefulSet
  components/odh-notebook-controller/e2e/helper_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

feat(odh-notebook-controller): add MLflow zero-touch support for notebooks
  .github/workflows/odh_notebook_controller_integration_test.yaml
  components/odh-notebook-controller/config/rbac/kustomization.yaml
  components/odh-notebook-controller/config/rbac/mlflow_bind_patch.yaml
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/config/webhook/kustomizeconfig.yaml
  components/odh-notebook-controller/config/webhook/manifests.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_mlflow.go
  components/odh-notebook-controller/controllers/notebook_mlflow_test.go
  components/odh-notebook-controller/controllers/notebook_mutating_webhook.go
  components/odh-notebook-controller/controllers/notebook_mutating_webhook_test.go
  components/odh-notebook-controller/controllers/notebook_validating_webhook.go
  components/odh-notebook-controller/controllers/notebook_validating_webhook_test.go
  components/odh-notebook-controller/controllers/notebook_webhook_utils.go
  components/odh-notebook-controller/controllers/notebook_webhook_utils_test.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

chore: remove redundant .coderabbit.yaml (covered by org-wide config)
  .coderabbit.yaml
Due: none

Replace dynamic Kubernetes clients with typed clients
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret_test.go
  components/odh-notebook-controller/controllers/notebook_runtime.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

stay with same port-name for workbenches managed by kueue
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/auth_proxy_resources_test.go
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_kube_rbac_auth.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/controllers/notebook_webhook_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

fix the decoding issue for port parsing
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

optional
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

Red Hat Konflux update odh-notebook-controller-ci-main
  .tekton/odh-notebook-controller-ci-main-pull-request.yaml
  .tekton/odh-notebook-controller-ci-main-push.yaml
Due: none

wip
  .tekton/odh-notebook-controller-ci-main-pull-request.yaml
Due: none

wip2
  .tekton/odh-notebook-controller-ci-main-pull-request.yaml
Due: none

wip3
  .tekton/odh-notebook-controller-ci-main-push.yaml
Due: none

wip4
  .tekton/odh-notebook-controller-ci-main-pull-request.yaml
  .tekton/odh-notebook-controller-ci-main-push.yaml
Due: none

wip5
  .tekton/odh-notebook-controller-ci-main-pull-request.yaml
  .tekton/odh-notebook-controller-ci-main-push.yaml
Due: none

wip6
  .tekton/odh-notebook-controller-ci-main-pull-request.yaml
  .tekton/odh-notebook-controller-ci-main-push.yaml
Due: none

add components/common/go.mod file into dependabot
  .github/dependabot.yml
Due: none

add an automatic way of the go.mod updates with the latest go release
  .github/workflows/go-directive-updater.yaml
  ci/bump-go-mod-go-version.sh
Due: none

fix(GHA): update the sync-branches.yaml to ignore the .tekton directory
  .github/workflows/sync-branches.yaml
Due: none

Use the mlflow-integration clusterrole for workbenches
  components/odh-notebook-controller/config/rbac/mlflow_bind_patch.yaml
  components/odh-notebook-controller/controllers/notebook_mlflow.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

[RHOAIENG-48289] Don't reconcile labels we don't own
  components/common/reconcilehelper/util.go
  components/notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
  components/odh-notebook-controller/controllers/notebook_kube_rbac_auth.go
  components/odh-notebook-controller/controllers/notebook_network.go
  components/odh-notebook-controller/controllers/notebook_referencegrant.go
  components/odh-notebook-controller/controllers/notebook_route.go
  components/odh-notebook-controller/controllers/notebook_route_compare_test.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

chore(notebook-controller): fix of some of the linter errors
  components/notebook-controller/controllers/culling_controller.go
  components/notebook-controller/controllers/culling_controller_test.go
  components/notebook-controller/controllers/notebook_controller.go
  components/notebook-controller/pkg/culler/culler.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

chore(test): Use t.Setenv to avoid cross-test environment leakage.
  components/notebook-controller/controllers/culling_controller_test.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

fix(kf nbc): Wrong annotation key is deleted; stale last-activity remains.
  components/notebook-controller/pkg/culler/culler.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

fix(kf nbc): bound Notebook API body decoding to prevent memory-exhaustion
  components/notebook-controller/controllers/culling_controller.go
  components/notebook-controller/pkg/culler/culler.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit
