Repository opendatahub-io/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

kf-notebook-controller-unit:
  steps:
    test:
    - as: unit
      commands: 'unset GOFLAGS
  
        pushd components/notebook-controller
  
        make test
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi

odh-notebook-controller-unit:
  steps:
    test:
    - as: unit
      commands: 'unset GOFLAGS
  
        pushd components/odh-notebook-controller
  
        make test
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi

ci/prow/notebook-controller-unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

feat: disables features conflicting with Istio
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_network.go
  components/odh-notebook-controller/controllers/notebook_oauth.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/controllers/suite_test.go
Due: odh-notebook-controller-unit

feat(e2e): introduces cli flag to run selected type of e2e tests
  components/odh-notebook-controller/Makefile
  components/odh-notebook-controller/e2e/helper_test.go
  components/odh-notebook-controller/e2e/notebook_controller_setup_test.go
Due: odh-notebook-controller-unit

chore: improves readibility of assertions depending on deployment scenario
  components/odh-notebook-controller/e2e/notebook_creation_test.go
  components/odh-notebook-controller/e2e/notebook_deletion_test.go
Due: odh-notebook-controller-unit

chore: reverts image tags
  components/notebook-controller/config/base/kustomization.yaml
  components/odh-notebook-controller/config/base/kustomization.yaml
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

feat(e2e): tests for relevant network policy creation and deletion
  components/odh-notebook-controller/e2e/notebook_creation_test.go
  components/odh-notebook-controller/e2e/notebook_deletion_test.go
Due: odh-notebook-controller-unit

chore: renames helper to be part of _test
  components/odh-notebook-controller/e2e/helper_test.go
Due: odh-notebook-controller-unit

feat: enables test filtering for OSSM and OAuth scenarios
  components/odh-notebook-controller/e2e/helper_test.go
  components/odh-notebook-controller/e2e/notebook_controller_setup_test.go
  components/odh-notebook-controller/e2e/notebook_creation_test.go
  components/odh-notebook-controller/e2e/notebook_deletion_test.go
Due: odh-notebook-controller-unit

chore: switches to os.ReadFile from deprecated ioutil counterpart
  components/odh-notebook-controller/controllers/notebook_network.go
Due: odh-notebook-controller-unit

chore(make): allows to set K8S_NS as env variable
  components/odh-notebook-controller/Makefile
Due: odh-notebook-controller-unit

add additional notebook env var REQUESTS_CA_BUNDLE if proxy spec trustedCA entry is present
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

use v4.10 tag digest from July 6 for all ose-oauth container image references
  components/odh-notebook-controller/config/manager/manager.yaml
  components/odh-notebook-controller/controllers/notebook_oauth.go
Due: odh-notebook-controller-unit

odh notebook controller test createOAuthContainer IfNotPresent imagrPullPolicy
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

odh notebook controller webhook injected oauth imagepullpolicy ifnotpresent
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

reverted change to digest in odh notebook controller manager pod cause not related to oauth sidecar injection
  components/odh-notebook-controller/config/manager/manager.yaml
Due: odh-notebook-controller-unit

changed comment in odh notebook-oauth injection in sha256 format golang code
  components/odh-notebook-controller/controllers/notebook_oauth.go
Due: odh-notebook-controller-unit

Add delegate url
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Updating the route with notebook path
  components/odh-notebook-controller/controllers/notebook_route.go
Due: odh-notebook-controller-unit

reverse skip-provider-button
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Add redirect url on the oauth proxy configs
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Revert redirect-url and skip provider button
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Revert to the initial config and add redirect url
  components/odh-notebook-controller/controllers/notebook_route.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Route with the sufix of the base url and remove the redirect url from the configs
  components/odh-notebook-controller/controllers/notebook_route.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Fix the Route path and delete skip-provider-button from the configs
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Revert to the original configs
  components/odh-notebook-controller/controllers/notebook_route.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Remove the --skip-provider-button because it causes infinite login page on the oauth
  components/odh-notebook-controller/controllers/notebook_route.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Updating route with path
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_route.go
Due: odh-notebook-controller-unit

Updating Route with a Path
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_route.go
Due: odh-notebook-controller-unit

remove dynamically added logout url
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Add SM overlays to notebook-ctrlrs
  components/notebook-controller/config/overlays/service-mesh/OWNERS
  components/notebook-controller/config/overlays/service-mesh/kustomization.yaml
  components/notebook-controller/config/overlays/service-mesh/ossm.env
  components/odh-notebook-controller/config/overlays/service-mesh/OWNERS
  components/odh-notebook-controller/config/overlays/service-mesh/kustomization.yaml
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

change sm overlay base to preserve openshift patches
  components/notebook-controller/config/overlays/service-mesh/kustomization.yaml
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

update go version to 1.19 in relevant sections
  components/common/go.mod
  components/notebook-controller/go.mod
  components/odh-notebook-controller/go.mod
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

added reconciliation logic notebook controller to add annotation to statefulset if present in notebook, to exclude image-fields from compare, to keep image-field to new value during reconcile.
  components/common/reconcilehelper/util.go
  components/notebook-controller/controllers/notebook_controller.go
  components/notebook-controller/go.mod
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

feat: add roles for workbench service account
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_oauth.go
Due: odh-notebook-controller-unit

chore: bump version of controller-runtime
  components/notebook-controller/controllers/notebook_controller_test.go
  components/notebook-controller/go.mod
  components/notebook-controller/go.sum
  components/notebook-controller/main.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
  components/odh-notebook-controller/main.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Update Dockerfile.ci
  components/notebook-controller/Dockerfile.ci
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

fix: remove replace from go.mod file
  components/notebook-controller/controllers/notebook_controller.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

chore: add Dependabot configuration file
  .github/dependabot.yml
Due: none

Pass kubeconfig as parameter,and handle the scenario of no namespaces that include the imagestream
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit

create a temporary kubeconfig file for the test setup
  components/odh-notebook-controller/controllers/suite_test.go
Due: odh-notebook-controller-unit

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
