Repository opendatahub-io/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

kf-notebook-controller-unit:
  steps:
    test:
    - as: unit
      commands: 'unset GOFLAGS
  
        pushd components/notebook-controller
  
        make test
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi

odh-notebook-controller-unit:
  steps:
    test:
    - as: unit
      commands: 'unset GOFLAGS
  
        pushd components/odh-notebook-controller
  
        make test
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi

ci/prow/notebook-controller-unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

fix typo error
  components/odh-notebook-controller/controllers/notebook_controller.go
Due: odh-notebook-controller-unit

chore(deps): update konflux references
  .tekton/kf-notebook-controller-pull-request.yaml
  .tekton/kf-notebook-controller-push.yaml
  .tekton/odh-notebook-controller-pull-request.yaml
  .tekton/odh-notebook-controller-push.yaml
Due: none

Add methods to handle OAuth client secret generation
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_oauth.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit

Add RBAC role to have access to OAuthClient objects
  components/odh-notebook-controller/config/rbac/role.yaml
Due: odh-notebook-controller-unit

Fix pointer.Int32Ptr deprecation on oauth-client test
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

Add validation when getting route from OAuthClient reconciler
  components/odh-notebook-controller/controllers/notebook_oauth.go
Due: odh-notebook-controller-unit

Change error message on OAuth Client creation error
  components/odh-notebook-controller/controllers/notebook_oauth.go
Due: odh-notebook-controller-unit

Add OAuthClient role to odh-notebook-controller's kubebuilder config
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
Due: odh-notebook-controller-unit

Fix pointer.Int32Ptr deprecation in webhook
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Fix linter complaints about r.Client presence
  components/odh-notebook-controller/controllers/notebook_oauth.go
Due: odh-notebook-controller-unit

Update branch references in kubeflow repo based the new release
  .github/scripts/create-release.sh
  .github/workflows/code-quality.yaml
  .github/workflows/kubeflow-release.yaml
  .github/workflows/notebook_controller_integration_test.yaml
  .github/workflows/notebook_controller_unit_test.yaml
  .github/workflows/odh_notebook_controller_integration_test.yaml
  .github/workflows/odh_notebook_controller_unit_test.yaml
  components/notebook-controller/generate-metadata-yaml.sh
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

update image references
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Update odh and notebook-controller with image 1.10-47152af
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Update odh and notebook-controller with image 1.10-2830879
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Remove oauthClient ownership code regarding rhods-operator
  components/odh-notebook-controller/controllers/notebook_oauth.go
Due: odh-notebook-controller-unit

Add proper description to empty comments
  components/odh-notebook-controller/controllers/notebook_oauth.go
Due: odh-notebook-controller-unit

Add label for notebook-owner to the oauthclient object
  components/odh-notebook-controller/controllers/notebook_oauth.go
Due: odh-notebook-controller-unit

Add ForceOwnership back to OAuthClient Patch
  components/odh-notebook-controller/controllers/notebook_oauth.go
Due: odh-notebook-controller-unit

Fix linter complaints about last commits
  components/odh-notebook-controller/controllers/notebook_oauth.go
Due: odh-notebook-controller-unit

Update odh and notebook-controller with image 1.10-8d5f3b5
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

fixup, update the required go version
  components/notebook-controller/Dockerfile
  components/notebook-controller/go.mod
  components/odh-notebook-controller/Dockerfile
  components/odh-notebook-controller/go.mod
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Update odh and notebook-controller with image 1.10-de6db1d
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/makefile-vars.mk
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Adjust the route url to maintain the sub-domain length less than 63 char
  components/notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_oauth.go
  components/odh-notebook-controller/controllers/notebook_route.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Include the env test case for the route generateName
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

Check limit for entire sub-domain instead of name and namespace
  components/odh-notebook-controller/controllers/notebook_route.go
Due: odh-notebook-controller-unit

Use constant vars for routelengthmax and namespacemax
  components/notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_route.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Adjust the statefulset naming based on the length
  components/notebook-controller/controllers/notebook_controller.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

adjust the finding of route for oauthclient
  components/odh-notebook-controller/controllers/notebook_oauth.go
Due: odh-notebook-controller-unit

Adjust the image selection to consider notebook namespace
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Update components/notebook-controller/controllers/notebook_controller.go
  components/notebook-controller/controllers/notebook_controller.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Update golang-ci lint to v2.1.6 in code-quality.yaml
  .github/workflows/code-quality.yaml
Due: none

feat(elyra): ds-pipeling-config secret reconciliation
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_pipeline.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Add env on the manager deployment and added some minor tunes
  components/odh-notebook-controller/config/manager/manager.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
Due: odh-notebook-controller-unit

NO-JIRA: default to building --platform=linux/amd64 images in Docker builds
  components/notebook-controller/Makefile
  components/odh-notebook-controller/Makefile
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Delete .tekton directory
  .tekton/kf-notebook-controller-pull-request.yaml
  .tekton/kf-notebook-controller-push.yaml
  .tekton/odh-notebook-controller-pull-request.yaml
  .tekton/odh-notebook-controller-push.yaml
Due: none

Red Hat Konflux purge odh-notebook-controller Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-notebook-controller-pull-request.yaml
  .tekton/odh-notebook-controller-push.yaml
Due: none

Red Hat Konflux purge kf-notebook-controller Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/kf-notebook-controller-pull-request.yaml
  .tekton/kf-notebook-controller-push.yaml
Due: none

Red Hat Konflux update kf-notebook-controller-odh-poc Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/kf-notebook-controller-odh-poc-pull-request.yaml
  .tekton/kf-notebook-controller-odh-poc-push.yaml
Due: none

Red Hat Konflux update kf-poc Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/kf-poc-pull-request.yaml
  .tekton/kf-poc-push.yaml
Due: none

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
