Repository opendatahub-io/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)

Remove the replace directive for the google.golang.org/grpc dependency
  components/notebook-controller/go.mod
  components/odh-notebook-controller/go.mod
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Bump the dependencies for the odh-notebook-controller component
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
Due: odh-notebook-controller-unit

Move back the Go version in go.mod file to 1.24
  components/common/go.mod
  components/notebook-controller/go.mod
  components/odh-notebook-controller/go.mod
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

[RHOAIENG-24545] Assure proper runtime images configmap presence
  components/odh-notebook-controller/controllers/notebook_runtime.go
  components/odh-notebook-controller/controllers/notebook_runtime_test.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

[RHOAIENG-24545] Assure proper pipelines runtime config/secret is present
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

pipelines secret watch
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

imagestreams watch
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_runtime_test.go
Due: odh-notebook-controller-unit

wip: replace dynamic client with the typed client also for dspa secret and gateway api
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
Due: odh-notebook-controller-unit

wip: replace dynamic client with the typed client
  components/odh-notebook-controller/controllers/notebook_runtime.go
Due: odh-notebook-controller-unit

Bump the expected Go lang version also for the common module
  components/common/go.mod
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Use the common module directly from this repository
  components/notebook-controller/go.mod
  components/notebook-controller/go.sum
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Use the notebook-controller module from this repository
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
Due: odh-notebook-controller-unit

odh-notebook-controller mod tidy
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
Due: odh-notebook-controller-unit

update the workflow definitions
  .github/workflows/notebook_controller_integration_test.yaml
  .github/workflows/notebook_controller_unit_test.yaml
  .github/workflows/odh_notebook_controller_integration_test.yaml
  .github/workflows/odh_notebook_controller_unit_test.yaml
Due: none

because of the previous commit, we have to have the DSPA CRD in our CI env too
  .github/workflows/odh_notebook_controller_integration_test.yaml
Due: none

add pipelineruns for odh ci builds
  .tekton/odh-kf-notebook-controller-pull-request.yaml
  .tekton/odh-kf-notebook-controller-push.yaml
  .tekton/odh-notebook-controller-pull-request.yaml
Due: none

optional
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret_test.go
Due: odh-notebook-controller-unit

fix e2e test for long statefulset name and use long enough nb name
  components/odh-notebook-controller/e2e/helper_test.go
Due: odh-notebook-controller-unit

Replace dynamic Kubernetes clients with typed clients
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret_test.go
  components/odh-notebook-controller/controllers/notebook_runtime.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

wip
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_network.go
  components/odh-notebook-controller/controllers/notebook_route.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/controllers/suite_test.go
Due: odh-notebook-controller-unit

Fix the content of the params.env file for odh-nbc kustomize
  components/odh-notebook-controller/config/base/params.env
Due: odh-notebook-controller-unit

simplify and streamline cluster-wide migration workflow, update Phase 1 script for annotation updates without pod restarts, and refine documentation for user communication and cleanup procedures
  knowledge_base_2.25_3.3_upgrade.md
Due: none

add phased migration scripts and user communication template for RHOAI 2.25 → 3.3 upgrade
  knowledge_base_2.25_3.3_upgrade.md
Due: none

add details on intermediate state during Phase 1 → Phase 2 in RHOAI 2.25 → 3.3 upgrade guide
  knowledge_base_2.25_3.3_upgrade.md
Due: none

sanitize upgrade guide by replacing internal cluster domain with `<CLUSTER_DOMAIN>` in document and git history
  knowledge_base_2.25_3.3_upgrade.md
Due: none

add detailed case study documenting live migration process for medium-pytorch-gpu-later during RHOAI 2.25 → 3.3 upgrade, including annotation updates, resource transitions, and exact commands
  knowledge_base_2.25_3.3_upgrade.md
Due: none

add detailed investigation and migration guide for RHOAI 2.25 → 3.3 upgrade, with security analysis and cleanup procedures
  knowledge_base_2.25_3.3_upgrade.md
Due: none

clarify migration guide for RHOAI 2.25 → 3.3 upgrade, correct Phase 1 workflow for annotations, and emphasize critical requirement to stop workbenches before migration
  knowledge_base_2.25_3.3_upgrade.md
Due: none

extend upgrade guide with detailed scenarios for unmigrated and partially migrated workbenches; refine Phase 1 workflow explanation and clarify risks of improper sequencing
  knowledge_base_2.25_3.3_upgrade.md
Due: none

document dashboard auto-migration behavior: editing workbench description triggers webhook, properly replaces oauth-proxy with kube-rbac-proxy; note URL bug and issues with orphaned routes
  knowledge_base_2.25_3.3_upgrade.md
Due: none

update upgrade guide: document Dashboard-triggered auto-migration for JupyterLab, confirm scenarios for RStudio/CodeServer redirects, and provide rebuild instructions for ImageStreams
  knowledge_base_2.25_3.3_upgrade.md
Due: none

document OAuthClient orphaning during notebook deletion after finalizer removal; add manual cleanup instructions for affected resources
  knowledge_base_2.25_3.3_upgrade.md
Due: none
