Repository opendatahub-io/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)

Add OAuthClient role to odh-notebook-controller's kubebuilder config
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
Due: odh-notebook-controller-unit

Change error message on OAuth Client creation error
  components/odh-notebook-controller/controllers/notebook_oauth.go
Due: odh-notebook-controller-unit

NO-JIRA: chore(.github/renovate.json): add doc links and disable the managers we are not ready to have around yet
  .github/renovate.json
Due: none

Red Hat Konflux update odh-notebook-controller Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-notebook-controller-pull-request.yaml
  .tekton/odh-notebook-controller-push.yaml
Due: none

Red Hat Konflux update kf-notebook-controller Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/kf-notebook-controller-pull-request.yaml
  .tekton/kf-notebook-controller-push.yaml
Due: none

RHOAIENG-18401: chore(.tekton/): implement Public Konflux build for ODH-io/kubeflow repository
  .github/renovate.json5
  .tekton/image-registry.yaml
  .tekton/kf-notebook-controller-odh-io-main-on-push.yaml
  .tekton/kf-notebook-controller-odh-io-main-pull-request.yaml
  .tekton/odh-notebook-controller-odh-io-main-on-push.yaml
  .tekton/odh-notebook-controller-odh-io-main-pull-request.yaml
  ci/konflux/generate_component_build_pipelines.py
  ci/konflux/generate_component_definitions.py
Due: none

add back notebook container env var from central proxy config logic so notebook containers have HTTP_PROXY, HTTPS_PROXY, NO_PROXY env vars injected if central cluster proxy config exists
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Adjust the route url to maintain the sub-domain length less than 63 char
  components/notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_oauth.go
  components/odh-notebook-controller/controllers/notebook_route.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Adjust the statefulset naming based on the length
  components/notebook-controller/controllers/notebook_controller.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Temporary adjustment of pvc, remove it and move it dashboard
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Utilize controllerNamspace in order to get dynamic the imageStreams
  components/odh-notebook-controller/controllers/notebook_runtime.go
Due: odh-notebook-controller-unit

Clean up the tests
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

Add mgr.GetConfig() on notebook_controller struct as well on main.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit

fix linter deprecated pointer
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_route.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Add imagestream ImportMode on external crd directory
  components/odh-notebook-controller/config/crd/external/imagestream.openshift.io_imagestreams.yaml
Due: odh-notebook-controller-unit

Update current framework to work with the new mounted rutime-images
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

Add imagestream crd on gha intergration test
  .github/workflows/odh_notebook_controller_integration_test.yaml
Due: none

rewrite Poll function to PollUntilContextTimeout
  components/odh-notebook-controller/e2e/helper_test.go
  components/odh-notebook-controller/e2e/notebook_creation_test.go
  components/odh-notebook-controller/e2e/notebook_deletion_test.go
  components/odh-notebook-controller/e2e/notebook_update_test.go
Due: odh-notebook-controller-unit

RHOAIENG-5114: chore(gha): print the notebook controller logs again at the end of the run
  .github/workflows/odh_notebook_controller_integration_test.yaml
Due: none

RHOAIENG-5114: fix(components/odh-notebook-controller): add RBAC on clusterrole for list imagestream, not sure why it was not there before
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
Due: odh-notebook-controller-unit

Add back kubeflow-resource-stopped annotation on the testing notebook
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

Remove time.sleep as it is not needed to add a delay
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

Add volume back on the reconcilation test
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

Use constant vars for routelengthmax and namespacemax
  components/notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_route.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Modify the checkConfigMapExist to remove redudant calls
  components/odh-notebook-controller/controllers/notebook_runtime.go
Due: odh-notebook-controller-unit

use the condition function context in the condition function
  components/odh-notebook-controller/e2e/notebook_creation_test.go
  components/odh-notebook-controller/e2e/notebook_deletion_test.go
  components/odh-notebook-controller/e2e/notebook_update_test.go
Due: odh-notebook-controller-unit
