Repository opendatahub-io/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

kf-notebook-controller-unit:
  steps:
    test:
    - as: unit
      commands: 'unset GOFLAGS
  
        pushd components/notebook-controller
  
        make test
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi

odh-notebook-controller-unit:
  steps:
    test:
    - as: unit
      commands: 'unset GOFLAGS
  
        pushd components/odh-notebook-controller
  
        make test
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi

odh-notebook-controller-e2e:
  steps:
    cluster_profile: aws-opendatahub
    env:
      BASE_DOMAIN: openshift-ci-aws.rhaiseng.com
      COMPUTE_NODE_TYPE: c5.xlarge
      HYPERSHIFT_AWS_REGION: us-west-2
      HYPERSHIFT_BASE_DOMAIN: openshift-ci-aws.rhaiseng.com
      HYPERSHIFT_CP_AVAILABILITY_POLICY: SingleReplica
  ...

ci/prow/notebook-controller-unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci: point workflows at odh/rhoai params.env overlay paths
  .github/workflows/notebook-controller-images-updater.yaml
  .github/workflows/odh-kubeflow-release-pipeline.yaml
  .github/workflows/odh-kubeflow-release-tag.yaml
  .github/workflows/odh_notebook_controller_integration_test.yaml
  .github/workflows/sync-branches.yaml
  components/base/kustomization.yaml
Due: none

test: align OpenShift TLS and chaos fixtures
  .github/workflows/odh_notebook_controller_integration_test.yaml
  chaos/knowledge/workbenches-openshift-rbac.yaml
  components/odh-notebook-controller/Makefile
  components/odh-notebook-controller/config/overlays/odh/kustomization.yaml
  components/odh-notebook-controller/config/overlays/rhoai/kustomization.yaml
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

fix(deps): bump grpc, otel, and cel-go to patched versions
  components/notebook-controller/go.mod
  components/notebook-controller/go.sum
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

ci: run early-gate only after relevant Konflux PR image builds
  .tekton/README.md
  .tekton/early-gate-ci-build.yaml
  .tekton/early-gate-ci-test.yaml
  .tekton/odh-kf-notebook-controller-pull-request.yaml
  .tekton/odh-notebook-controller-pull-request.yaml
  ARCHITECTURE.md
Due: none

wip
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_mutating_webhook.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

fix: stabilize CI unit tests by reducing reconciler blocking time
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

wip
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

wip
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

test: address review comments for lock-removal test and ConfigMap cleanup
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

fix(deps): bump OpenTelemetry stack to 1.45.0 in both controllers
  components/notebook-controller/go.mod
  components/notebook-controller/go.sum
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

qwer
  .github/workflows/odh_notebook_controller_upgrade_test.yaml
  components/testing/upgrade/README.md
  components/testing/upgrade/assert-invariants.sh
  components/testing/upgrade/cluster_kind.sh
  components/testing/upgrade/deploy_controllers.sh
  components/testing/upgrade/run-upgrade-test.sh
  components/testing/upgrade/seed-workbenches.sh
Due: none

feat(upgrade-tests): add KinD upgrade smoke for notebook controllers
  .github/workflows/odh_notebook_controller_upgrade_test.yaml
  .gitignore
  components/testing/gh-actions/install_istio.sh
  components/testing/upgrade/README.md
  components/testing/upgrade/assert-invariants.sh
  components/testing/upgrade/cluster_kind.sh
  components/testing/upgrade/cluster_openshift.sh
  components/testing/upgrade/deploy_controllers.sh
  components/testing/upgrade/kind-1-32-single.yaml
  components/testing/upgrade/run-upgrade-test.sh
  components/testing/upgrade/seed-workbenches.sh
  components/testing/upgrade/snapshot-state.sh
Due: none

RHOAIENG-96466: set Notebook ownerReference apiVersion to kubeflow.org/v1 Reconcile Notebooks with the CRD storage version so StatefulSet and Service ownerReferences match the live Notebook object.
  components/notebook-controller/chaostests/chaos_test.go
  components/notebook-controller/chaostests/suite_test.go
  components/notebook-controller/controllers/culling_controller.go
  components/notebook-controller/controllers/notebook_controller.go
  components/notebook-controller/controllers/notebook_controller_bdd_test.go
  components/notebook-controller/controllers/notebook_controller_test.go
  components/notebook-controller/controllers/suite_test.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

RHOAIENG-96466: Use v1 Notebook owner references for StatefulSets
  components/notebook-controller/controllers/notebook_controller.go
  components/notebook-controller/controllers/notebook_controller_bdd_test.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

RHOAIENG-96466: Avoid Notebook status conflicts in owner reference test
  components/notebook-controller/controllers/notebook_controller_bdd_test.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

chore(gha): stop Dependabot updates for security-config workflows
  .github/dependabot.yml
Due: none

feat: add dynamic ingress assignment based on namespace annotation
  ARCHITECTURE.md
  chaos/knowledge/workbenches.yaml
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/cache.go
  components/odh-notebook-controller/controllers/cache_test.go
  components/odh-notebook-controller/controllers/matchers_test.go
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_ingress_test.go
  components/odh-notebook-controller/controllers/notebook_kube_rbac_auth.go
  components/odh-notebook-controller/controllers/notebook_route.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/e2e/helper_test.go
  components/odh-notebook-controller/e2e/notebook_controller_setup_test.go
  components/odh-notebook-controller/e2e/notebook_creation_test.go
  components/odh-notebook-controller/e2e/notebook_ingress_test.go
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

RHOAIENG-99636: fix: add allow-ingress NetworkPolicy for odh-notebook-controller webhook
  components/odh-notebook-controller/config/overlays/odh/kustomization.yaml
  components/odh-notebook-controller/config/overlays/odh/network-policies.yaml
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  odh-notebook-controller-e2e: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
