Repository opendatahub-io/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)

Remove configmap and use a simple env in odh managers deployment
  components/odh-notebook-controller/config/manager/kustomization.yaml
  components/odh-notebook-controller/config/manager/manager.yaml
  components/odh-notebook-controller/config/manager/params.env
  components/odh-notebook-controller/controllers/notebook_controller.go
Due: odh-notebook-controller-unit

Swap deletion before creation on rbac controller
  components/odh-notebook-controller/controllers/notebook_rbac.go
Due: odh-notebook-controller-unit

Add log error in case of error on the rbac reconciler
  components/odh-notebook-controller/controllers/notebook_controller.go
Due: odh-notebook-controller-unit

Set proper the ownerReferences when we create a rolebinding
  components/odh-notebook-controller/controllers/notebook_rbac.go
Due: odh-notebook-controller-unit

RHOAIENG-15772: tests(odh-nbc): output struct diffs in gomega failure messages
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

RHOAIENG-15875: chore(gha): enable verbose govulncheck output
  .github/workflows/code-quality.yaml
Due: none

RHOAIENG-15875: fix(deps): upgrade protobuf package to unaffected version
  components/notebook-controller/go.mod
  components/notebook-controller/go.sum
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Create the oauth secrets in tests because we don't have rhods-operator to do it for us
  .github/workflows/odh_notebook_controller_integration_test.yaml
Due: none

Update sync workflow to hadle specific conflicts
  .github/workflows/sync-branches-through-pr.yaml
Due: none

fixup, use nondeprecated pointer func alternative, see similar fixes being made elsewhere
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

RHOAIENG-15772: tests(nbcs): use the direct (uncached) client to drive tests
  components/notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/controllers/suite_test.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

RHOAIENG-15772: tests(odh-nbc): fix unintended shadowing of `cfg` variable
  components/notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/controllers/suite_test.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

RHOAIENG-15772: tests(odh-nbc): wait for controller manager to stop before stopping envtest
  components/odh-notebook-controller/controllers/suite_test.go
Due: odh-notebook-controller-unit

RHOAIENG-15772: tests(odh-nbc): disable graceful shutdown period for envtest
  components/odh-notebook-controller/controllers/suite_test.go
Due: odh-notebook-controller-unit

fixup also pass in test context
  components/odh-notebook-controller/controllers/suite_test.go
Due: odh-notebook-controller-unit

Externalize KF_TAG variable to dedicated file outside of the makefile
  components/odh-notebook-controller/Makefile
  components/odh-notebook-controller/makefile-vars.mk
Due: odh-notebook-controller-unit

Update makefile logic handling
  .github/workflows/sync-branches-through-pr.yaml
Due: none

RHOAIENG-15772: tests(odh-nbc): write envtest kubeconfig to disk upon request
  components/odh-notebook-controller/controllers/suite_test.go
Due: odh-notebook-controller-unit

fixup docs and logging
  components/odh-notebook-controller/README.md
  components/odh-notebook-controller/controllers/suite_test.go
Due: odh-notebook-controller-unit

fixup move user creation as early as possible, and explain test verbosity
  components/odh-notebook-controller/README.md
  components/odh-notebook-controller/controllers/suite_test.go
Due: odh-notebook-controller-unit

Update components/odh-notebook-controller/README.md
  components/odh-notebook-controller/README.md
Due: odh-notebook-controller-unit

RHOAIENG-15772: tests(odh-nbc): write auditlogs from envtest tests to disk upon request
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/envtest-audit-policy.yaml
Due: odh-notebook-controller-unit

fixup logging and order and few comments
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/envtest-audit-policy.yaml
Due: odh-notebook-controller-unit

fixup readme and tweaks
  components/odh-notebook-controller/README.md
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/envtest-audit-policy.yaml
Due: odh-notebook-controller-unit

Update gha to auto commit the image tags changes instead of opening a pull request
  .github/workflows/notebook-controller-images-updater.yaml
Due: none

[Fix] update bash scripts for E2E tests run to propagate failures
  components/odh-notebook-controller/Makefile
  components/odh-notebook-controller/run-e2e-test-service-mesh.sh
  components/odh-notebook-controller/run-e2e-test.sh
Due: odh-notebook-controller-unit

asdf
  components/odh-notebook-controller/run-e2e-test.sh
Due: odh-notebook-controller-unit

fixup! dump of 2.13.0 YAMLs, without suspicious secrets as I don't want to leak something by accident
  components/odh-notebook-controller/upgrade/data/2.13.0/secret/builder-dockercfg-9k67n.yaml
  components/odh-notebook-controller/upgrade/data/2.13.0/secret/default-dockercfg-wg965.yaml
  components/odh-notebook-controller/upgrade/data/2.13.0/secret/deployer-dockercfg-9mpng.yaml
  components/odh-notebook-controller/upgrade/data/2.13.0/secret/pipeline-dockercfg-xh56l.yaml
  components/odh-notebook-controller/upgrade/data/2.13.0/secret/wb1-dockercfg-rstpd.yaml
Due: odh-notebook-controller-unit

update to latest route crd
  components/odh-notebook-controller/config/crd/external/route.openshift.io_routes.yaml
Due: odh-notebook-controller-unit

fixup gomod as I'm now using prometheus and go-cmp directly
  components/odh-notebook-controller/go.mod
Due: odh-notebook-controller-unit

commit README.md about upgrade tests
  components/odh-notebook-controller/upgrade/README.md
Due: odh-notebook-controller-unit

fixup! add test to makefile, gingko v1 version
  components/odh-notebook-controller/upgrade/suite_test.go
Due: odh-notebook-controller-unit

fixup! commit the tests themselves, using ginkgo v1
  components/odh-notebook-controller/upgrade/suite_test.go
Due: odh-notebook-controller-unit

add notebook-controller as test dep for odh-notebook-controller upgrade
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
Due: odh-notebook-controller-unit

commit the tests themselves, using ginkgo v1
  components/odh-notebook-controller/upgrade/controller_upgrade_test.go
  components/odh-notebook-controller/upgrade/suite_test.go
  components/odh-notebook-controller/upgrade/testutils_test.go
Due: odh-notebook-controller-unit

add test to makefile, gingko v1 version
  components/odh-notebook-controller/Makefile
Due: odh-notebook-controller-unit

fixup! commit the tests themselves, using ginkgo v1
  components/odh-notebook-controller/upgrade/controller_upgrade_test.go
Due: odh-notebook-controller-unit

NO-JIRA: temporarily comment out proper host name validation in route CRD since our test values don't pass it
  components/odh-notebook-controller/config/crd/external/route.openshift.io_routes.yaml
Due: odh-notebook-controller-unit

extract stability check
  components/odh-notebook-controller/upgrade/controller_upgrade_test.go
Due: odh-notebook-controller-unit
