Repository opendatahub-io/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

kf-notebook-controller-unit:
  steps:
    test:
    - as: unit
      commands: 'unset GOFLAGS
  
        pushd components/notebook-controller
  
        make test
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi

odh-notebook-controller-unit:
  steps:
    test:
    - as: unit
      commands: 'unset GOFLAGS
  
        pushd components/odh-notebook-controller
  
        make test
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi

ci/prow/notebook-controller-unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Red Hat Konflux update notebook-controller-poc Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/notebook-controller-poc-pull-request.yaml
  .tekton/notebook-controller-poc-push.yaml
Due: none

feat(elyra): ds-pipeling-config secret reconciliation
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_pipeline.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Add env on the manager deployment, added some minor fine tunes, construct the dsp-config secret
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/config/manager/manager.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
  components/odh-notebook-controller/controllers/notebook_rbac.go
Due: odh-notebook-controller-unit

Use dynamic client to fetch dspa
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
Due: odh-notebook-controller-unit

Seperated the info extraction to be modular
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
Due: odh-notebook-controller-unit

Update all pipeline details through nbc
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
Due: odh-notebook-controller-unit

add permissions for dashboard cr
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
Due: odh-notebook-controller-unit

change makefile
  components/odh-notebook-controller/Makefile
  components/odh-notebook-controller/config/base/params.env
Due: odh-notebook-controller-unit

add changes
  components/odh-notebook-controller/Makefile
Due: odh-notebook-controller-unit

Add finalizer to clean up OAuthClients on notebook deletion
  components/odh-notebook-controller/config/crd/external/oauthclients.oauth.openshift.io.yaml
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_oauth.go
  components/odh-notebook-controller/controllers/suite_test.go
Due: odh-notebook-controller-unit

Add test case for the ds-pipeline-config secret lifecycle
  components/odh-notebook-controller/config/crd/external/opendatahub.io_dashboard.yaml
  components/odh-notebook-controller/config/crd/external/opendatahub.io_dspa.yaml
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

Update test to cover testing for the secret mounting
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Remove Patch and update on the dspa role
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/suite_test.go
Due: odh-notebook-controller-unit

Fix golint issue
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

remove seperator of the dspa and dashboard CRDs
  components/odh-notebook-controller/config/crd/external/opendatahub.io_dashboard.yaml
  components/odh-notebook-controller/config/crd/external/opendatahub.io_dspa.yaml
Due: odh-notebook-controller-unit

Complete running 'kustomize edit fix --vars' on all components in notebook and odh-notebook
  components/base/kustomization.yaml
  components/notebook-controller/config/crd/kustomization.yaml
  components/notebook-controller/config/default/kustomization.yaml
  components/notebook-controller/config/manager/kustomization.yaml
  components/notebook-controller/config/overlays/kubeflow/kustomization.yaml
  components/notebook-controller/config/overlays/openshift/kustomization.yaml
  components/notebook-controller/config/overlays/openshift/manager_openshift_patch.yaml
  components/notebook-controller/config/overlays/service-mesh/kustomization.yaml
  components/notebook-controller/config/overlays/standalone-service-mesh/kustomization.yaml
  components/notebook-controller/config/overlays/standalone/kustomization.yaml
  components/notebook-controller/config/rbac/kustomization.yaml
  components/odh-notebook-controller/config/base/kustomization.yaml
  components/odh-notebook-controller/config/default/kustomization.yaml
  components/odh-notebook-controller/config/development/kustomization.yaml
  components/odh-notebook-controller/config/manager/kustomization.yaml
  components/odh-notebook-controller/config/rbac/kustomization.yaml
  components/odh-notebook-controller/config/webhook/kustomization.yaml
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Fxing targets in components/notebook-controller/ config/overlays/openshift and components/odh-notebook-controller/config/base/kustomization.yaml
  components/notebook-controller/config/overlays/openshift/kustomization.yaml
  components/odh-notebook-controller/config/base/kustomization.yaml
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Change target to kustomization.yaml in openshift overlay and base
  components/notebook-controller/config/overlays/openshift/kustomization.yaml
  components/odh-notebook-controller/config/base/kustomization.yaml
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

change targets to odh-kf-notebook-controller-image_PLACEHOLDER
  components/notebook-controller/config/overlays/openshift/kustomization.yaml
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

fixed up targets
  components/odh-notebook-controller/config/base/kustomization.yaml
  components/odh-notebook-controller/config/manager/manager.yaml
Due: odh-notebook-controller-unit

fixed up targets
  components/notebook-controller/config/overlays/openshift/kustomization.yaml
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Harshad suggested change
  components/notebook-controller/config/overlays/openshift/kustomization.yaml
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Add CRDs on the GHA
  .github/workflows/odh_notebook_controller_integration_test.yaml
Due: none

Fix new line in the end of the file
  components/odh-notebook-controller/config/crd/external/opendatahub.io_dashboard.yaml
  components/odh-notebook-controller/config/crd/external/opendatahub.io_dspa.yaml
  components/odh-notebook-controller/config/manager/manager.yaml
Due: odh-notebook-controller-unit

Append testNamespace
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/e2e/notebook_creation_test.go
Due: odh-notebook-controller-unit

NO-JIRA: chore(dev): ensure same webhookCertDir location on Linux and macOS
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit

Add afterEach back
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

Add condition on mounting of the elyra secret volume on the webhook
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Update the logger names in odh-notebook-controller tests
  components/odh-notebook-controller/controllers/suite_test.go
Due: odh-notebook-controller-unit

Add pure dspa secret controller
  components/odh-notebook-controller/config/manager/manager.yaml
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit

Add role
  components/odh-notebook-controller/config/rbac/role.yaml
Due: odh-notebook-controller-unit

Change controller tests to test only if the finalizer has been added and if the notebook has been deleted properly
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

Add apierror package from k8s.io to fix tests
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

Update logic to work as the dspa and dasboard are optional
  .github/workflows/odh_notebook_controller_integration_test.yaml
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
  components/odh-notebook-controller/e2e/notebook_creation_test.go
Due: odh-notebook-controller-unit

Revert "add back notebook container env var from central proxy config logic so notebook containers have HTTP_PROXY, HTTPS_PROXY, NO_PROXY env vars injected if central cluster proxy config exists"
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

fix(odh-nbc): remove permissions for reading OpenShift Proxy CR from controller serviceaccount
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
Due: odh-notebook-controller-unit

Introduce dspa secret controller to handle ds-pipeline-config lifecycle
  components/odh-notebook-controller/config/manager/manager.yaml
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit

Allow update from webhook if generation is one
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Refactor and test dspa secret lifecycle and related logic
  components/odh-notebook-controller/config/crd/external/opendatahub.io_dashboard.yaml
  components/odh-notebook-controller/config/crd/external/opendatahub.io_dspa.yaml
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/controllers/suite_test.go
Due: odh-notebook-controller-unit

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
