Repository opendatahub-io/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

kf-notebook-controller-unit:
  steps:
    test:
    - as: unit
      commands: 'unset GOFLAGS
  
        pushd components/notebook-controller
  
        make test
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi

odh-notebook-controller-unit:
  steps:
    test:
    - as: unit
      commands: 'unset GOFLAGS
  
        pushd components/odh-notebook-controller
  
        make test
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi

odh-notebook-controller-e2e:
  steps:
    cluster_profile: aws-opendatahub
    env:
      BASE_DOMAIN: openshift-ci-aws.rhaiseng.com
      COMPUTE_NODE_TYPE: c5.xlarge
      HYPERSHIFT_AWS_REGION: us-west-2
      HYPERSHIFT_BASE_DOMAIN: openshift-ci-aws.rhaiseng.com
      HYPERSHIFT_CP_AVAILABILITY_POLICY: SingleReplica
  ...

ci/prow/notebook-controller-unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

treat misconfigured dspa gracefully
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

introduce a PR based branch synchronization GHA
  .github/scripts/merge-source-into-head.sh
  .github/workflows/sync-branches-pr.yaml
  .github/workflows/sync-branches.yaml
Due: none

fix
  .github/workflows/sync-branches-pr.yaml
  .github/workflows/sync-branches.yaml
Due: none

fix(notebook-controller): correct HTTPRoute port for unauthenticated notebooks
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_route.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

feat: integrate with cluster TLS security profile
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

RHOAIENG-60592: Add empty-string validation for AccessKey and SecretKey fields
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

RHOAIENG-60592: Align nil guard error messages with PR #743 and add SecretName validation
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

RHOAIENG-60592: Add nil guards in extractElyraRuntimeConfigInfo to prevent panic
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

small polishing and added couple of test cases for actual reconciliation
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

fix: stabilize CI unit tests by reducing reconciler blocking time
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

wip
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

wip
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_mutating_webhook.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

wip
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

fix(gha): pin govulncheck to v1.3.0 to avoid Go 1.26 panic
  .github/workflows/govulncheck.yaml
Due: none

fix: Use DeepCopy in transform functions to prevent data races
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

revert: Remove unnecessary DeepCopy from transform functions
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

fix: TLS profile resilience (transient errors, adherence policy, watcher self-healing)
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

Add disconnected readiness workflow
  .github/workflows/disconnected-readiness.yaml
Due: none

[RHOAIENG-48289] Don't reconcile labels we don't own
  components/common/reconcilehelper/util.go
  components/notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_dspa_secret.go
  components/odh-notebook-controller/controllers/notebook_kube_rbac_auth.go
  components/odh-notebook-controller/controllers/notebook_network.go
  components/odh-notebook-controller/controllers/notebook_referencegrant.go
  components/odh-notebook-controller/controllers/notebook_route.go
  components/odh-notebook-controller/controllers/notebook_route_compare_test.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

fixup
  components/common/reconcilehelper/util.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_referencegrant.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

fixup
  components/common/reconcilehelper/util.go
  components/notebook-controller/controllers/notebook_controller_test.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

fix(gha): use promoted params.env tag as release version
  .github/workflows/odh-kubeflow-release-pipeline.yaml
  .github/workflows/odh-kubeflow-release-tag.yaml
Due: none

fix: add IsServerTimeout and DeadlineExceeded to transient error handling
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

fix(deps): bump golang.org/x/text v0.37.0 → v0.39.0 (GO-2026-5970)
  components/notebook-controller/go.mod
  components/notebook-controller/go.sum
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

feat(rbac): move config.openshift.io RBAC to OpenShift-only overlay (RHOAIENG-79004)
  components/odh-notebook-controller/config/overlays/rhoai/kustomization.yaml
  components/odh-notebook-controller/config/overlays/rhoai/rbac/kustomization.yaml
  components/odh-notebook-controller/config/overlays/rhoai/rbac/tls_clusterrole.yaml
  components/odh-notebook-controller/config/overlays/rhoai/rbac/tls_clusterrolebinding.yaml
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

fix(rhoai): fix kustomization resource path rbac/tls → rbac
  components/odh-notebook-controller/config/overlays/rhoai/kustomization.yaml
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

fix(rbac): apply OCP RBAC overlay in make deploy with correct namespace
  components/odh-notebook-controller/Makefile
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

feat(metrics): enable SecureServing HTTPS metrics for notebook controllers
  components/notebook-controller/config/overlays/openshift/kustomization.yaml
  components/notebook-controller/config/overlays/openshift/manager_service_openshift_patch.yaml
  components/notebook-controller/config/overlays/openshift/manager_tls_patch.yaml
  components/notebook-controller/config/overlays/openshift/monitor.yaml
  components/notebook-controller/config/overlays/openshift/openshift-service-ca-configmap.yaml
  components/notebook-controller/config/overlays/openshift/rbac/kustomization.yaml
  components/notebook-controller/config/overlays/openshift/rbac/metrics_auth_clusterrole.yaml
  components/notebook-controller/config/overlays/openshift/rbac/metrics_auth_clusterrolebinding.yaml
  components/notebook-controller/config/overlays/openshift/rbac/tls_clusterrole.yaml
  components/notebook-controller/config/overlays/openshift/rbac/tls_clusterrolebinding.yaml
  components/notebook-controller/config/overlays/openshift/tls_service_patch.yaml
  components/notebook-controller/go.mod
  components/notebook-controller/go.sum
  components/notebook-controller/main.go
  components/notebook-controller/pkg/tls/tls.go
  components/notebook-controller/pkg/tls/watcher.go
  components/odh-notebook-controller/config/manager/service.yaml
  components/odh-notebook-controller/config/overlays/rhoai/kustomization.yaml
  components/odh-notebook-controller/config/overlays/rhoai/manager_tls_args_patch.yaml
  components/odh-notebook-controller/config/overlays/rhoai/manager_tls_patch.yaml
  components/odh-notebook-controller/config/overlays/rhoai/monitor.yaml
  components/odh-notebook-controller/config/overlays/rhoai/openshift-service-ca-configmap.yaml
  components/odh-notebook-controller/config/overlays/rhoai/rbac/kustomization.yaml
  components/odh-notebook-controller/config/overlays/rhoai/rbac/metrics_auth_clusterrole.yaml
  components/odh-notebook-controller/config/overlays/rhoai/rbac/metrics_auth_clusterrolebinding.yaml
  components/odh-notebook-controller/config/overlays/rhoai/rbac/tls_clusterrole.yaml
  components/odh-notebook-controller/config/overlays/rhoai/rbac/tls_clusterrolebinding.yaml
  components/odh-notebook-controller/config/overlays/rhoai/tls_service_patch.yaml
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
  components/odh-notebook-controller/main.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

fix(odh-notebook-controller): fix CI lint errors in PR #869 files
  components/odh-notebook-controller/controllers/notebook_podspec_validation.go
  components/odh-notebook-controller/controllers/notebook_podspec_validation_test.go
  components/odh-notebook-controller/controllers/suite_test.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

fix(notebook-controller): remove hardcoded namespace from ClusterRoleBinding subjects
  components/notebook-controller/config/overlays/openshift/rbac/metrics_auth_clusterrolebinding.yaml
  components/notebook-controller/config/overlays/openshift/rbac/tls_clusterrolebinding.yaml
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

feat(rbac): move config.openshift.io RBAC to shared OpenShift overlay (RHOAIENG-79004)
  components/odh-notebook-controller/config/overlays/odh/kustomization.yaml
  components/odh-notebook-controller/config/overlays/openshift/kustomization.yaml
  components/odh-notebook-controller/config/overlays/openshift/rbac/kustomization.yaml
  components/odh-notebook-controller/config/overlays/openshift/rbac/tls_clusterrole.yaml
  components/odh-notebook-controller/config/overlays/openshift/rbac/tls_clusterrolebinding.yaml
  components/odh-notebook-controller/config/overlays/rhoai/kustomization.yaml
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

feat(metrics): enable SecureServing HTTPS metrics for notebook controllers
  components/notebook-controller/config/overlays/openshift/kustomization.yaml
  components/notebook-controller/config/overlays/openshift/manager_service_openshift_patch.yaml
  components/notebook-controller/config/overlays/openshift/manager_tls_patch.yaml
  components/notebook-controller/config/overlays/openshift/monitor.yaml
  components/notebook-controller/config/overlays/openshift/rbac/kustomization.yaml
  components/notebook-controller/config/overlays/openshift/rbac/metrics_auth_clusterrole.yaml
  components/notebook-controller/config/overlays/openshift/rbac/metrics_auth_clusterrolebinding.yaml
  components/notebook-controller/config/overlays/openshift/rbac/tls_clusterrole.yaml
  components/notebook-controller/config/overlays/openshift/rbac/tls_clusterrolebinding.yaml
  components/notebook-controller/config/overlays/openshift/tls_service_patch.yaml
  components/notebook-controller/go.mod
  components/notebook-controller/go.sum
  components/notebook-controller/main.go
  components/notebook-controller/pkg/tls/tls.go
  components/notebook-controller/pkg/tls/watcher.go
  components/odh-notebook-controller/config/manager/service.yaml
  components/odh-notebook-controller/config/overlays/rhoai/kustomization.yaml
  components/odh-notebook-controller/config/overlays/rhoai/manager_tls_args_patch.yaml
  components/odh-notebook-controller/config/overlays/rhoai/manager_tls_patch.yaml
  components/odh-notebook-controller/config/overlays/rhoai/monitor.yaml
  components/odh-notebook-controller/config/overlays/rhoai/rbac/kustomization.yaml
  components/odh-notebook-controller/config/overlays/rhoai/rbac/metrics_auth_clusterrole.yaml
  components/odh-notebook-controller/config/overlays/rhoai/rbac/metrics_auth_clusterrolebinding.yaml
  components/odh-notebook-controller/config/overlays/rhoai/tls_service_patch.yaml
  components/odh-notebook-controller/controllers/notebook_podspec_validation.go
  components/odh-notebook-controller/controllers/notebook_podspec_validation_test.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
  components/odh-notebook-controller/main.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

refactor(odh-notebook-controller): share OpenShift TLS RBAC via overlays/openshift
  components/notebook-controller/config/overlays/openshift/kustomization.yaml
  components/notebook-controller/config/overlays/openshift/manager_tls_patch.yaml
  components/notebook-controller/config/overlays/openshift/monitor.yaml
  components/odh-notebook-controller/config/overlays/odh/kustomization.yaml
  components/odh-notebook-controller/config/overlays/odh/params.env
  components/odh-notebook-controller/config/overlays/openshift/kustomization.yaml
  components/odh-notebook-controller/config/overlays/openshift/manager_tls_args_patch.yaml
  components/odh-notebook-controller/config/overlays/openshift/manager_tls_patch.yaml
  components/odh-notebook-controller/config/overlays/openshift/monitor.yaml
  components/odh-notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/overlays/openshift/rbac/kustomization.yaml
  components/odh-notebook-controller/config/overlays/openshift/rbac/metrics_auth_clusterrole.yaml
  components/odh-notebook-controller/config/overlays/openshift/rbac/metrics_auth_clusterrolebinding.yaml
  components/odh-notebook-controller/config/overlays/openshift/rbac/tls_clusterrolebinding.yaml
  components/odh-notebook-controller/config/overlays/openshift/tls_service_patch.yaml
  components/odh-notebook-controller/config/overlays/rhoai/kustomization.yaml
  components/odh-notebook-controller/config/overlays/rhoai/params.env
  components/odh-notebook-controller/config/overlays/rhoai/rbac/kustomization.yaml
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

fix(rbac): update chaos knowledge model and Makefile for OpenShift overlay (RHOAIENG-79004)
  .github/workflows/operator_chaos_validation.yaml
  chaos/knowledge/workbenches-openshift-rbac.yaml
  components/odh-notebook-controller/Makefile
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

refactor(config): consolidate params.env into odh and rhoai overlays
  components/odh-notebook-controller/Makefile
  components/odh-notebook-controller/config/base/kustomization.yaml
  components/odh-notebook-controller/config/base/params.env
  components/odh-notebook-controller/config/development/kustomization.yaml
  components/odh-notebook-controller/config/overlays/odh/kustomization.yaml
  components/odh-notebook-controller/config/overlays/openshift/kustomization.yaml
  components/odh-notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/config/overlays/rhoai/kustomization.yaml
Due: odh-notebook-controller-unit, odh-notebook-controller-e2e

docs: update deploy and chaos docs for overlay split (RHOAIENG-79004)
  AGENTS.md
  ARCHITECTURE.md
  components/notebook-controller/README.md
  components/odh-notebook-controller/README.md
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, odh-notebook-controller-e2e, ci/prow/notebook-controller-unit

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  odh-notebook-controller-e2e: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
