Repository opendatahub-io/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

kf-notebook-controller-unit:
  steps:
    test:
    - as: unit
      commands: 'unset GOFLAGS
  
        pushd components/notebook-controller
  
        make test
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi

odh-notebook-controller-unit:
  steps:
    test:
    - as: unit
      commands: 'unset GOFLAGS
  
        pushd components/odh-notebook-controller
  
        make test
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi

ci/prow/notebook-controller-unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Add logic on nbc-webhook to pickup internal or external registry
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Bump controller-runtime version from v0.15.0 to v0.18.0
  components/notebook-controller/go.mod
  components/notebook-controller/go.sum
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

add back notebook container env var from central proxy config logic so notebook containers have HTTP_PROXY, HTTPS_PROXY, NO_PROXY env vars injected if central cluster proxy config exists
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Dummy change
  components/notebook-controller/config/overlays/openshift/kustomization.yaml
  components/odh-notebook-controller/config/manager/kustomization.yaml
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Update kustomization to use params env and yml on kfnc and odh-kfnc
  components/notebook-controller/config/overlays/openshift/kustomization.yaml
  components/notebook-controller/config/overlays/openshift/params.env
  components/notebook-controller/config/overlays/openshift/params.yaml
  components/odh-notebook-controller/config/base/kustomization.yaml
  components/odh-notebook-controller/config/base/params.env
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Apply change requests from pr review
  components/notebook-controller/config/overlays/openshift/manager_openshift_patch.yaml
  components/odh-notebook-controller/config/manager/manager.yaml
  components/odh-notebook-controller/config/manager/params.yaml
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Adapt ci to take account the new parametrized changes from the kustomization files
  .github/workflows/odh_notebook_controller_integration_test.yaml
Due: none

Add missing param.yml file on manager/kustomization.yaml file
  components/odh-notebook-controller/config/manager/kustomization.yaml
Due: odh-notebook-controller-unit

Remove comments on ci workflow
  .github/workflows/odh_notebook_controller_integration_test.yaml
  components/odh-notebook-controller/config/manager/kustomization.yaml
Due: odh-notebook-controller-unit

chore: add `.snyk` config file to ignore directories that we don't build ODH from
  .snyk
Due: none

odh notebook controller imagestreams logic: do not hard-code namespace to look in. Take namespace controller runs in
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_network.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit

RHOAIENG-9935: feat(nbcs): get ose-oauth-proxy image with PullIfNeeded policy and use digest to specify the image
  components/odh-notebook-controller/config/manager/manager.yaml
  components/odh-notebook-controller/controllers/notebook_oauth.go
Due: odh-notebook-controller-unit

Remove > characters from conflict messages
  components/notebook-controller/go.mod
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

RHOAIENG-10827: feat(nbcs): update ose-oauth-proxy image digest reference from 4.8 to the latest 4.14 version
  components/odh-notebook-controller/config/manager/manager.yaml
  components/odh-notebook-controller/controllers/notebook_oauth.go
Due: odh-notebook-controller-unit

fixup, reference manifest digest
  components/odh-notebook-controller/config/manager/manager.yaml
  components/odh-notebook-controller/controllers/notebook_oauth.go
Due: odh-notebook-controller-unit

RHOAIENG-10827: feat(nbcs): update ose-oauth-proxy image digest reference from 4.8 to the latest 4.14 version (#386)
  components/odh-notebook-controller/config/manager/manager.yaml
  components/odh-notebook-controller/controllers/notebook_oauth.go
Due: odh-notebook-controller-unit

Update odh and notebook-controller with image 1.7-ddd1741
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/Makefile
  components/odh-notebook-controller/config/base/params.env
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Update gha to be version branch agnostic
  .github/workflows/notebook-controller-images-updater.yaml
Due: none

Remove debug code lines that break the gha
  .github/workflows/notebook-controller-images-updater.yaml
Due: none

Update odh and notebook-controller with image 1.9-1769b4b
  components/notebook-controller/config/overlays/openshift/params.env
  components/odh-notebook-controller/Makefile
  components/odh-notebook-controller/config/base/params.env
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

RHOAIENG-9824: gha(odh-nbc): improve the GitHub Actions integration test for odh-notebook-controller to start the controller successfully and run a notebook
  .github/workflows/odh_notebook_controller_integration_test.yaml
Due: none

NO-JIRA: chore(nbcs): run `make generate` in `components/notebook-controller` to update the yamls
  components/notebook-controller/config/crd/bases/kubeflow.org_notebooks.yaml
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

manifest changes after regen
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/config/webhook/manifests.yaml
Due: odh-notebook-controller-unit

apply the same changes for notebook-controller as for odh-notebook-controller previously
  components/notebook-controller/Makefile
  components/notebook-controller/api/v1/zz_generated.deepcopy.go
  components/notebook-controller/api/v1alpha1/zz_generated.deepcopy.go
  components/notebook-controller/api/v1beta1/zz_generated.deepcopy.go
  components/notebook-controller/config/crd/bases/kubeflow.org_notebooks.yaml
  components/notebook-controller/config/rbac/role.yaml
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

align with operator's and opendatahub-io/notebooks's kustomize version
  components/odh-notebook-controller/Makefile
Due: odh-notebook-controller-unit

``` bin/setup-envtest use 1.23 -p path unable to find a version that was supported for platform darwin/arm64 ```
  components/odh-notebook-controller/Makefile
Due: odh-notebook-controller-unit

[RHOAIENG-11895] Unable to clone a GitHub repo in JupyterLab when configuring customCABundles using "|-"
  components/odh-notebook-controller/controllers/notebook_controller.go
Due: odh-notebook-controller-unit

Revert "[v1.9-branch] RHOAIENG-10827: feat(nbcs): update ose-oauth-proxy image digest reference from 4.8 to the latest 4.14 version (#388)"
  components/odh-notebook-controller/config/manager/manager.yaml
  components/odh-notebook-controller/controllers/notebook_oauth.go
Due: odh-notebook-controller-unit

Allow approvers of the repo to run the gha
  .github/workflows/sync-branches-through-pr.yaml
Due: none

[RHOAIENG-11895] fix(odh-nbc): put a newline between certs in case input is missing a newline
  components/odh-notebook-controller/controllers/notebook_controller.go
Due: odh-notebook-controller-unit

Introduce rolebinding controller to handle rbacs
  components/odh-notebook-controller/config/rbac/role.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_controller_test.go
  components/odh-notebook-controller/controllers/notebook_rbac.go
Due: odh-notebook-controller-unit

Use SET_PIPELINE_RBAC configuration env
  components/odh-notebook-controller/config/manager/kustomization.yaml
  components/odh-notebook-controller/config/manager/manager.yaml
  components/odh-notebook-controller/config/manager/params.env
  components/odh-notebook-controller/controllers/notebook_controller.go
Due: odh-notebook-controller-unit

Skip tests if SET_PIPELINE_RBAC is set to false
  components/odh-notebook-controller/Makefile
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
