Repository opendatahub-io/kubeflow: changes, and which Prow jobs are due for each by the changed paths.
All: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

kf-notebook-controller-unit:
  steps:
    test:
    - as: unit
      commands: 'unset GOFLAGS
  
        pushd components/notebook-controller
  
        make test
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi

odh-notebook-controller-unit:
  steps:
    test:
    - as: unit
      commands: 'unset GOFLAGS
  
        pushd components/odh-notebook-controller
  
        make test
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi

ci/prow/notebook-controller-unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

fix the pre-existing code to also use the condition function context in the condition function
  components/odh-notebook-controller/e2e/helper_test.go
Due: odh-notebook-controller-unit

RHOAIENG-13916: fix(odh-notebook-controller): handle errored imagestreams in webhook
  components/odh-notebook-controller/config/crd/external/image.openshift.io_imagestream.yaml
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/controllers/notebook_webhook_test.go
Due: odh-notebook-controller-unit

fixup, update the error message to be appropriate for all circumstances
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Include the env test case for the route generateName
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

fix typo
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

remove some sleeps
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

sortof remove sleep, but need it because of RHOAIENG-15907
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

shorten the check interval
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

wip dump info when waiting
  components/odh-notebook-controller/e2e/helper_test.go
Due: odh-notebook-controller-unit

wait longer, try more condensed printing
  components/odh-notebook-controller/e2e/helper_test.go
  components/odh-notebook-controller/e2e/notebook_controller_setup_test.go
Due: odh-notebook-controller-unit

awefgawef
  components/odh-notebook-controller/e2e/helper_test.go
Due: odh-notebook-controller-unit

RHOAIENG-13916: deps({odh-}notebook-controller/tests): update to go1.22
  components/notebook-controller/Dockerfile
  components/notebook-controller/go.mod
  components/odh-notebook-controller/Dockerfile
  components/odh-notebook-controller/go.mod
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

NO-JIRA: chore(docs): Add guide for upgrading Go version and dependencies
  DEPENDENCIES.md
  README.md
Due: none

fixup, update the required go version
  components/notebook-controller/go.mod
  components/odh-notebook-controller/Dockerfile
  components/odh-notebook-controller/go.mod
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

NO-JIRA: chore(.tekton/): since ubi8 (and ubi9) minimal images fail in Konflux when subscribed with entitlement certificate, hide the certificate from our build so that it does not fail
  .tekton/kf-notebook-controller-pull-request.yaml
  .tekton/kf-notebook-controller-push.yaml
  .tekton/odh-notebook-controller-pull-request.yaml
  .tekton/odh-notebook-controller-push.yaml
Due: none

RHOAIENG-13916: chore(odh-notebook-controller/tests): introduce oTel testing
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/controllers/notebook_webhook_test.go
  components/odh-notebook-controller/controllers/opentelemetry_test.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/go.mod
  components/odh-notebook-controller/go.sum
Due: odh-notebook-controller-unit

Adjust the route url to maintain the sub-domain length less than 63 char
  components/notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_oauth.go
  components/odh-notebook-controller/controllers/notebook_route.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Use constant vars for routelengthmax and namespacemax
  components/notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_route.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Adjust the statefulset naming based on the length
  components/notebook-controller/controllers/notebook_controller.go
Due: kf-notebook-controller-unit, odh-notebook-controller-unit, ci/prow/notebook-controller-unit

Check limit for entire sub-domain instead of name and namespace
  components/odh-notebook-controller/controllers/notebook_route.go
Due: odh-notebook-controller-unit

Clean up the tests
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

Utilize controllerNamspace in order to get dynamic the imageStreams
  components/odh-notebook-controller/controllers/notebook_runtime.go
Due: odh-notebook-controller-unit

Add mgr.GetConfig() on notebook_controller struct as well on main.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit

Update current framework to work with the new mounted rutime-images
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

Remove time.sleep as it is not needed to add a delay
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

Add imagestream crd on gha intergration test
  .github/workflows/odh_notebook_controller_integration_test.yaml
Due: none

Check if the configMap exist before mounting
  components/odh-notebook-controller/controllers/notebook_runtime.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Make runtime-images optional
  components/odh-notebook-controller/controllers/notebook_runtime.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
Due: odh-notebook-controller-unit

Modify the checkConfigMapExist to remove redudant calls
  components/odh-notebook-controller/controllers/notebook_runtime.go
Due: odh-notebook-controller-unit

Add back kubeflow-resource-stopped annotation on the testing notebook
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

Add imagestream ImportMode on external crd directory
  components/odh-notebook-controller/config/crd/external/imagestream.openshift.io_imagestreams.yaml
Due: odh-notebook-controller-unit

Add volume back on the reconcilation test
  components/odh-notebook-controller/controllers/notebook_controller_test.go
Due: odh-notebook-controller-unit

RHOAIENG-5114: chore(gha): print the notebook controller logs again at the end of the run
  .github/workflows/odh_notebook_controller_integration_test.yaml
Due: none

Populate Elyra runtime images configMap from runtime images imagestreams and mounts it on the Notebook CR
  .github/workflows/odh_notebook_controller_integration_test.yaml
  components/odh-notebook-controller/controllers/notebook_controller.go
  components/odh-notebook-controller/controllers/notebook_runtime.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/controllers/suite_test.go
  components/odh-notebook-controller/main.go
Due: odh-notebook-controller-unit

Add seperated test cases e2e for runtime configmap
  components/odh-notebook-controller/controllers/notebook_runtime_test.go
Due: odh-notebook-controller-unit

create a new testing file
  components/odh-notebook-controller/controllers/notebook_runtime_test.go
  components/odh-notebook-controller/controllers/suite_test.go
Due: odh-notebook-controller-unit

remove runtime imagestream while the initialization
  components/odh-notebook-controller/controllers/notebook_runtime.go
  components/odh-notebook-controller/controllers/notebook_webhook.go
  components/odh-notebook-controller/controllers/suite_test.go
Due: odh-notebook-controller-unit

Fix review comment
  components/odh-notebook-controller/controllers/notebook_runtime_test.go
Due: odh-notebook-controller-unit

Path conditions:
  kf-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
  odh-notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*|components/odh-notebook-controller/.*)
  ci/prow/notebook-controller-unit: any of: ^(components/common/.*|components/notebook-controller/.*)
