Repository openshift/cluster-authentication-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

Path conditions:
  e2e-operator-encryption: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)

Upddate feedback
  test/e2e/network_policy.go
  test/e2e/network_policy_enforcement.go
Due: none

fix failures
  test/e2e/network_policy.go
  test/e2e/network_policy_enforcement.go
Due: none

fix failures
  test/e2e/network_policy_enforcement.go
Due: none

controllers: Prevent progressing on scaling only
  go.mod
  go.sum
  pkg/controllers/common/scaling/scaling.go
  pkg/controllers/common/scaling/scaling_test.go
  pkg/controllers/deployment/deployment_controller.go
  pkg/operator/starter.go
  pkg/operator/workload/sync_openshift_oauth_apiserver.go
  pkg/operator/workload/sync_openshift_oauth_apiserver_test.go
Due: none

go mod vendor
  vendor/github.com/openshift/api/.coderabbit.yaml
  vendor/github.com/openshift/api/apiextensions/v1alpha1/types_compatibilityrequirement.go
  vendor/github.com/openshift/api/apiextensions/v1alpha1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/types_insights.go
  vendor/github.com/openshift/api/config/v1/types_network.go
  vendor/github.com/openshift/api/config/v1/types_tlssecurityprofile.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/config/v1alpha1/register.go
  vendor/github.com/openshift/api/config/v1alpha1/types_cluster_monitoring.go
  vendor/github.com/openshift/api/config/v1alpha1/types_crio_credential_provider_config.go
  vendor/github.com/openshift/api/config/v1alpha1/types_insights.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/config/v1alpha2/types_insights.go
  vendor/github.com/openshift/api/config/v1alpha2/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/features/legacyfeaturegates.go
  vendor/github.com/openshift/api/machine/v1beta1/types_awsprovider.go
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/operator/v1/types_network.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_ingress_00_ingresscontrollers.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_70_network_01_networks.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/pkg/operator/apiserver/controller/workload/workload.go
  vendor/modules.txt
Due: none

OWNERS: add everettraven as reviewer/approver add ibihim as approver
  OWNERS
Due: none

Update library-go to get KMS encryption mode
  go.mod
  go.sum
  vendor/github.com/openshift/api/.coderabbit.yaml
  vendor/github.com/openshift/api/apiextensions/v1alpha1/types_compatibilityrequirement.go
  vendor/github.com/openshift/api/apiextensions/v1alpha1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/types_insights.go
  vendor/github.com/openshift/api/config/v1/types_network.go
  vendor/github.com/openshift/api/config/v1/types_tlssecurityprofile.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/config/v1alpha1/register.go
  vendor/github.com/openshift/api/config/v1alpha1/types_cluster_monitoring.go
  vendor/github.com/openshift/api/config/v1alpha1/types_crio_credential_provider_config.go
  vendor/github.com/openshift/api/config/v1alpha1/types_insights.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/config/v1alpha2/types_insights.go
  vendor/github.com/openshift/api/config/v1alpha2/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/features/legacyfeaturegates.go
  vendor/github.com/openshift/api/machine/v1beta1/types_awsprovider.go
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/machine/v1beta1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/operator/v1/types_network.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_ingress_00_ingresscontrollers.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_70_network_01_networks.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/crypto/keys.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptionconfig/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

deps: Update library-go to fix Progressing on scaling
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/apps/deployment/status.go
  vendor/github.com/openshift/library-go/pkg/operator/apiserver/controller/workload/workload.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/crypto/keys.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptionconfig/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

bindata: deploy: Set progressDeadlineSeconds to 900
  bindata/oauth-apiserver/deploy.yaml
  bindata/oauth-openshift/deployment.yaml
  pkg/operator/workload/testdata/sync_ds_scenario_1.yaml
  pkg/operator/workload/testdata/sync_ds_scenario_2.yaml
  pkg/operator/workload/testdata/sync_ds_scenario_3.yaml
  test-data/apply-configuration/overall/oauth-apiserver-creation-minimal/expected-output/Management/ApplyStatus/cluster-scoped-resources/operator.openshift.io/authentications/c5b3-body-cluster.yaml
  test-data/apply-configuration/overall/oauth-apiserver-creation-minimal/expected-output/Management/Create/namespaces/openshift-oauth-apiserver/apps/deployments/7350-body-apiserver.yaml
  test-data/apply-configuration/overall/oauth-server-creation-minimal/expected-output/Management/ApplyStatus/cluster-scoped-resources/operator.openshift.io/authentications/5749-body-cluster.yaml
  test-data/apply-configuration/overall/oauth-server-creation-minimal/expected-output/Management/Create/namespaces/openshift-authentication/apps/deployments/a3d6-body-oauth-openshift.yaml
Due: none

Convert e2e tests to parallel execution and fix race conditions
  README.md
  cmd/cluster-authentication-operator-tests-ext/main.go
  test/e2e/certs.go
  test/e2e/custom_route.go
  test/e2e/gitlab.go
  test/e2e/keycloak.go
  test/e2e/templates.go
  test/e2e/tokentimeout.go
  test/library/client.go
  test/library/keycloakidp.go
  test/library/names.go
Due: none

go mod vendor
  Makefile
  go.mod
  go.sum
  test/e2e-encryption-kms/encryption_kms_test.go
  test/e2e-encryption-kms/main_test.go
  vendor/github.com/openshift/library-go/pkg/config/clusteroperator/v1helpers/status.go
  vendor/github.com/openshift/library-go/pkg/manifestclient/mutation_tracker.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/client_cert_rotation_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/target.go
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourceapply/admissionregistration.go
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourceapply/generic.go
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourceapply/networking.go
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourceapply/storage.go
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourceread/networking.go
  vendor/github.com/openshift/library-go/pkg/operator/revisioncontroller/revision_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/v1helpers/informers.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_configmap.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_daemonset.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_namespace.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_rolebinding.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_serviceaccount.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/k8s_mock_kms_plugin_deployer.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-operator-encryption

Migrate encryption e2e test suites to Ginkgo v2 framework
  cmd/cluster-authentication-operator-tests-ext/main.go
  test/e2e-encryption-perf/encryption_perf.go
  test/e2e-encryption-perf/encryption_perf_test.go
  test/e2e-encryption-rotation/e2e-encryption-rotation_test.go
  test/e2e-encryption-rotation/encryption_rotation.go
  test/e2e-encryption/encryption.go
  test/e2e-encryption/encryption_test.go
  test/e2e-encryption/main_test.go
  test/e2e-oidc/external_oidc.go
  test/e2e-oidc/external_oidc_test.go
  test/library/encryption/perf_helpers.go
  test/library/encryption/scenarios.go
  test/library/encryption_wrappers.go
  test/library/waits.go
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

Add generation logic for new API fields in the Authentication CR
  go.mod
  go.sum
  pkg/controllers/externaloidc/externaloidc_controller.go
  pkg/controllers/externaloidc/externaloidc_controller_test.go
  pkg/operator/starter.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/crypto/keys.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptionconfig/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

increase timeout for case
  test/e2e-oidc/external_oidc.go
Due: none

moving userValidationRulesto be declared and populated within the feature gate check
  pkg/controllers/externaloidc/externaloidc_controller.go
Due: none

Migrate encryption and OIDC e2e tests to Ginkgo v2 framework
  cmd/cluster-authentication-operator-tests-ext/main.go
  test/e2e-encryption-perf/encryption_perf.go
  test/e2e-encryption-perf/encryption_perf_test.go
  test/e2e-encryption-rotation/e2e-encryption-rotation_test.go
  test/e2e-encryption-rotation/encryption_rotation.go
  test/e2e-encryption/encryption.go
  test/e2e-encryption/encryption_test.go
  test/e2e-encryption/main_test.go
  test/e2e-oidc/external_oidc.go
  test/e2e-oidc/external_oidc_test.go
  test/library/encryption/perf_helpers.go
  test/library/encryption/scenarios.go
  test/library/encryption_wrappers.go
  test/library/waits.go
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

update inject cert to beta
  bindata/oauth-apiserver/svc.yaml
  bindata/oauth-openshift/oauth-service.yaml
  manifests/02_service.yaml
  pkg/controllers/serviceca/service_ca_controller.go
  pkg/operator/starter.go
  test-data/apply-configuration/overall/minimal-cluster/expected-output/Management/Create/namespaces/openshift-authentication/core/services/421e-body-oauth-openshift.yaml
  test-data/apply-configuration/overall/minimal-cluster/expected-output/UserWorkload/Create/namespaces/openshift-oauth-apiserver/core/services/dfd1-body-api.yaml
  test-data/apply-configuration/overall/oauth-server-creation-minimal/input-dir/namespaces/openshift-authentication/core/configmaps.yaml
  test-data/apply-configuration/overall/oauth-server-payloadcontroller/input-dir/namespaces/openshift-authentication/core/services/oauth-openshift.yaml
  test-data/apply-configuration/overall/oauth-server-staticresource/expected-output/Management/Create/namespaces/openshift-authentication/core/services/421e-body-oauth-openshift.yaml
Due: none

Add KMS encryption test scenarios
  Makefile
  test/e2e-encryption-kms/encryption_kms_test.go
  test/e2e-encryption-kms/main_test.go
Due: e2e-operator-encryption

Improve OIDC e2e test integration with Ginkgo v2
  test/e2e-oidc/external_oidc.go
Due: none

Vendor library-go KMS test helpers
  go.mod
  go.sum
  test/e2e-encryption-kms/encryption_kms_test.go
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/signer.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_configmap.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_daemonset.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_namespace.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_rolebinding.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_serviceaccount.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/k8s_mock_kms_plugin_deployer.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-operator-encryption

bindata: add oauth-server pod and namespace network policies
  bindata/oauth-openshift/networkpolicy_namespace_default-deny-all.yaml
  bindata/oauth-openshift/networkpolicy_oauth-server.yaml
  pkg/cmd/mom/output_resources_command.go
  pkg/operator/starter.go
Due: none

bindata: add oauth-apiserver pod and namespace network policies
  bindata/oauth-apiserver/networkpolicy_namespace_default-deny-all.yaml
  bindata/oauth-apiserver/networkpolicy_oauth-apiserver.yaml
  pkg/cmd/mom/output_resources_command.go
  pkg/operator/starter.go
Due: none

Fix Ginkgo v2 migration issues in OIDC e2e test
  test/e2e-oidc/external_oidc.go
Due: none

Migrate e2e-encryption-kms tests to Ginkgo v2 framework
  cmd/cluster-authentication-operator-tests-ext/main.go
  test/e2e-encryption-kms/encryption_kms.go
  test/e2e-encryption-kms/encryption_kms_test.go
  test/e2e-encryption-kms/main_test.go
  test/library/encryption/scenarios.go
  test/library/encryption_wrappers.go
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

Conditionally add the KMS plugin volume mount to the oauth-apiserver container
  pkg/operator/starter.go
  pkg/operator/workload/sync_openshift_oauth_apiserver.go
Due: none

Fix unit test
  pkg/operator/workload/sync_openshift_oauth_apiserver_test.go
Due: none

Fix integration test
  pkg/operator/replacement_starter.go
Due: none

Add missing KMS encryption type support to complete Ginkgo v2 migration
  test/library/encryption/scenarios.go
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

carry test assertion
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/test/library/encryption/assertion.go
  vendor/modules.txt
Due: none

fixup! fix coderabbit findings
  bindata/oauth-apiserver/external-oidc-deploy.yaml
  pkg/controllers/common/external_oidc_test.go
  pkg/controllers/externaloidc/externaloidc_controller.go
  pkg/controllers/externaloidc/externaloidc_controller_test.go
  pkg/controllers/routercerts/controller_test.go
Due: none

Update library-go to get KMS
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/crypto/keys.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptionconfig/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

fixup! dockerfile + token-review svc
  Dockerfile.rhel7
  bindata/oauth-apiserver/token-review-svc.yaml
  pkg/controllers/webhookauthenticator/webhookauthenticator_controller.go
  pkg/operator/starter.go
Due: none

fixup! common namespace
  pkg/controllers/externaloidc/externaloidc_controller.go
Due: none

Refactor feature gate checks and fix OIDC test race condition
  test/e2e-encryption-kms/encryption_kms.go
  test/e2e-oidc/external_oidc.go
  test/library/featuregates.go
Due: e2e-operator-encryption

Remove unused imports from KMS encryption test
  test/e2e-encryption-kms/encryption_kms.go
Due: e2e-operator-encryption

wip: remove flags from external-oidc deployment, update kubeconfig secret template
  bindata/oauth-apiserver/authenticator-kubeconfig.yaml
  bindata/oauth-apiserver/external-oidc-deploy.yaml
Due: none
