Repository openshift/cluster-authentication-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

Path conditions:
  e2e-operator-encryption: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)

Migrate serial e2e tests to Ginkgo framework
  cmd/cluster-authentication-operator-tests-ext/main.go
  test/e2e/custom_route.go
  test/e2e/custom_route_test.go
  test/e2e/gitlab.go
  test/e2e/gitlab_test.go
  test/e2e/keycloak.go
  test/e2e/keycloak_test.go
  test/e2e/templates.go
  test/e2e/templates_test.go
  test/e2e/tokentimeout.go
  test/e2e/tokentimeout_test.go
  test/library/gitlabidp.go
  test/library/idpdeployment.go
  test/library/keycloakidp.go
Due: none

Fix code issues in migrated Ginkgo e2e tests
  test/e2e/custom_route.go
  test/e2e/keycloak.go
  test/e2e/templates.go
  test/e2e/tokentimeout.go
Due: none

Add KMS encryption test target
  Makefile
  test/e2e-encryption-kms/encryption_kms_test.go
  test/e2e-encryption-kms/main_test.go
Due: e2e-operator-encryption

manifests: add authentication-operator pod and namespace network policies
  manifests/0000_10_networkpolicy_00_authentication-operator.yaml
  manifests/0000_10_networkpolicy_99_namespace_default-deny-all.yaml
  pkg/cmd/mom/output_resources_command.go
Due: none

bindata: add oauth-server pod and namespace network policies
  bindata/oauth-openshift/networkpolicy_namespace_default-deny-all.yaml
  bindata/oauth-openshift/networkpolicy_oauth-server.yaml
  pkg/cmd/mom/output_resources_command.go
  pkg/operator/starter.go
Due: none

bindata: add oauth-apiserver pod and namespace network policies
  bindata/oauth-apiserver/networkpolicy_namespace_default-deny-all.yaml
  bindata/oauth-apiserver/networkpolicy_oauth-apiserver.yaml
  pkg/cmd/mom/output_resources_command.go
  pkg/operator/starter.go
Due: none

Conditionally add the KMS plugin volume mount to the oauth-apiserver container
  pkg/operator/starter.go
  pkg/operator/workload/sync_openshift_oauth_apiserver.go
Due: none

fix unit test
  pkg/operator/workload/sync_openshift_oauth_apiserver_test.go
Due: none

rm deleted PrometheusRule
  manifests/0000_90_cluster-authentication-operator_03_prometheusrule.yaml
Due: none

Fix unit test
  pkg/operator/workload/sync_openshift_oauth_apiserver_test.go
Due: none

Fix integration test
  pkg/operator/replacement_starter.go
Due: none

Fake bump to get encryption changes
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/crypto/keys.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptionconfig/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/kms.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

OCPBUGS-57444: set appropriate rolling update settings
  bindata/oauth-openshift/deployment.yaml
  pkg/controllers/deployment/deployment_controller.go
  pkg/controllers/deployment/deployment_controller_test.go
Due: none

Auth network policy e2e cases
  go.mod
  test/e2e/network_policy.go
  test/e2e/network_policy_enforcement.go
Due: none

vendor: update library-go kms test helpers
  go.mod
  go.sum
  test/e2e-encryption-kms/encryption_kms_test.go
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/pkg/operator/configobserver/apiserver/observe_tlssecurityprofile.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_configmap.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_daemonset.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_namespace.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_rolebinding.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_serviceaccount.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/k8s_mock_kms_plugin_deployer.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-operator-encryption

update tag to parallel
  test/e2e/network_policy.go
  test/e2e/network_policy_enforcement.go
Due: none

controllers: Prevent progressing on scaling only
  go.mod
  go.sum
  pkg/controllers/common/scaling/scaling.go
  pkg/controllers/common/scaling/scaling_test.go
  pkg/controllers/deployment/deployment_controller.go
  pkg/operator/starter.go
  pkg/operator/workload/sync_openshift_oauth_apiserver.go
  pkg/operator/workload/sync_openshift_oauth_apiserver_test.go
Due: none

go mod vendor
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/pkg/operator/apiserver/controller/workload/workload.go
  vendor/github.com/openshift/library-go/pkg/operator/configobserver/apiserver/observe_tlssecurityprofile.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: none

Fake bump to test kms
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/pkg/operator/configobserver/apiserver/observe_tlssecurityprofile.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/crypto/keys.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptionconfig/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/kms.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

updating logging for debug
  test/e2e/network_policy.go
  test/e2e/network_policy_enforcement.go
Due: none

manifests: add authentication-operator pod and namespace network policies
  manifests/0000_10_networkpolicy_00_authentication-operator.yaml
  manifests/0000_10_networkpolicy_99_namespace_default-deny-all.yaml
Due: none

Add Test encryption provider migration case
  test/e2e-encryption-kms/encryption_kms_test.go
Due: e2e-operator-encryption

go mod vendor
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: none

update test gaps
  test/e2e/network_policy.go
  test/e2e/network_policy_enforcement.go
Due: none

Convert e2e tests to parallel execution and fix timeouts
  README.md
  cmd/cluster-authentication-operator-tests-ext/main.go
  test/e2e/certs.go
  test/e2e/custom_route.go
  test/e2e/gitlab.go
  test/e2e/keycloak.go
  test/e2e/templates.go
  test/e2e/tokentimeout.go
  test/library/keycloakidp.go
  test/library/names.go
Due: none

Updated feedback
  cmd/cluster-authentication-operator-tests-ext/main.go
  test/e2e/network_policy.go
Due: none

Fix TestTokenInactivityTimeout timeout in CI
  test/e2e/tokentimeout.go
Due: none

deps: update library-go to fix CVE-2025-65637
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourceapply/storage.go
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourceread/admission.go
  vendor/github.com/sirupsen/logrus/README.md
  vendor/github.com/sirupsen/logrus/writer.go
  vendor/modules.txt
Due: none

go mod vendor
  go.mod
  go.sum
  test/e2e-encryption-kms/encryption_kms_test.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/k8s_mock_kms_plugin_deployer.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-operator-encryption

adding timeout for delete case
  test/e2e/network_policy.go
Due: none
