Repository openshift/cluster-authentication-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

e2e-operator-encryption:
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: 'make test-e2e-encryption JUNITFILE=${ARTIFACT_DIR}/junit_report.xml --warn-undefined-variables
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
      timeout: 4h0m0s
    workflow: ipi-gcp

e2e-gcp-operator-encryption-rotation:
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: 'make test-e2e-encryption-rotation JUNITFILE=${ARTIFACT_DIR}/junit_report.xml --warn-undefined-variables
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
      timeout: 4h0m0s
    workflow: ipi-gcp

e2e-gcp-operator-encryption-perf:
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: 'make test-e2e-encryption-perf JUNITFILE=${ARTIFACT_DIR}/junit_report.xml --warn-undefined-variables
  
        '
      from: src
      resources:
        requests:
          cpu: 100m
    workflow: ipi-gcp

kms: support deploying the vault mock plugin
  pkg/operator/workload/sync_openshift_oauth_apiserver.go
Due: none

bump(openshift/library-go): to get KMS plugin lifecycle changes
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/types_kmsencryption.go
  vendor/github.com/openshift/api/config/v1/types_network.go
  vendor/github.com/openshift/api/config/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/config/v1alpha1/types_cluster_monitoring.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/features/legacyfeaturegates.go
  vendor/github.com/openshift/api/route/v1/generated.proto
  vendor/github.com/openshift/api/route/v1/types.go
  vendor/github.com/openshift/api/route/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/secret.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/helpers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/pkg/operator/management/management_state.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/perf_scenarios.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

bump(openshift/library-go): fitting
  test/e2e-encryption-kms/encryption_kms.go
  test/e2e-encryption-kms/encryption_kms_test.go
  test/e2e-encryption-perf/encryption_perf_test.go
  test/e2e-encryption-rotation/e2e-encryption-rotation_test.go
  test/e2e-encryption/encryption_test.go
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

Remove old mock plugin de ployment
  test/e2e-encryption-kms/encryption_kms.go
Due: e2e-operator-encryption

CNTRLPLANE-2589: Migrate e2e-encryption tests to OpenShift Tests Extension framework
  cmd/cluster-authentication-operator-tests-ext/main.go
  go.mod
  go.sum
  pkg/controllers/readiness/wellknown_ready_controller.go
  test/e2e-encryption-kms/main_test.go
  test/e2e-encryption-perf/encryption_perf.go
  test/e2e-encryption-perf/encryption_perf_test.go
  test/e2e-encryption-rotation/e2e-encryption-rotation_test.go
  test/e2e-encryption-rotation/encryption_rotation.go
  test/e2e-encryption/encryption.go
  test/e2e-encryption/encryption_test.go
  test/e2e-encryption/main_test.go
  test/e2e-oidc/external_oidc.go
  test/e2e-oidc/external_oidc_test.go
  test/library/client.go
  test/library/encryption/helpers.go
  test/library/encryption/perf_helpers.go
  test/library/encryption/scenarios.go
  test/library/encryption_wrappers.go
  test/library/featuregates.go
  test/library/keycloakidp.go
  test/library/waits.go
  vendor/k8s.io/klog/v2/README.md
  vendor/k8s.io/klog/v2/internal/serialize/keyvalues.go
  vendor/k8s.io/klog/v2/internal/serialize/keyvalues_no_slog.go
  vendor/k8s.io/klog/v2/internal/serialize/keyvalues_slog.go
  vendor/k8s.io/klog/v2/klog.go
  vendor/k8s.io/klog/v2/klogr.go
  vendor/k8s.io/klog/v2/klogr_slog.go
  vendor/k8s.io/klog/v2/textlogger/options.go
  vendor/k8s.io/klog/v2/textlogger/textlogger.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

fix: Security and context management improvements in test code
  test/e2e-encryption-perf/encryption_perf.go
  test/e2e-encryption-rotation/encryption_rotation.go
  test/e2e-encryption/encryption.go
  test/e2e-oidc/external_oidc.go
  test/e2e/keycloak.go
  test/library/client.go
  test/library/encryption/helpers.go
  test/library/encryption/perf_helpers.go
  test/library/encryption/scenarios.go
  test/library/keycloakidp.go
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

Restore main_test.go files and add transitional comments
  test/e2e-encryption-kms/main_test.go
  test/e2e-encryption-perf/encryption_perf_test.go
  test/e2e-encryption-rotation/e2e-encryption-rotation_test.go
  test/e2e-encryption/encryption_test.go
  test/e2e-encryption/main_test.go
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

fake bump
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/target.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/secret.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

kms: use real vault plugin in tests
  test/e2e-encryption-kms/encryption_kms.go
Due: e2e-operator-encryption

bugfix: make WellKnownReadyControllerAvailable set to true when at least one well-known endpoint is available
  pkg/controllers/readiness/wellknown_ready_controller.go
Due: none

bugfix: controllers/readiness: replace 'Progressing' condition with 'DegradationObserved'
  pkg/controllers/readiness/error.go
  pkg/controllers/readiness/error_test.go
  pkg/controllers/readiness/wellknown_ready_controller.go
Due: none

common: remove unused common.ControllerProgressingError type and tests
  pkg/controllers/common/conditions.go
  pkg/controllers/common/conditions_test.go
Due: none

testing: controllers/readiness: add unit tests for isWellKnownEndpointsReady and sync methods.
  pkg/controllers/readiness/wellknown_ready_controller_test.go
Due: none

refactor: controllers/readiness: prefactoring for additional unit testing implementation
  pkg/controllers/readiness/wellknown_ready_controller.go
Due: none

chore: migrate deprecated ioutil package usage to io package
  pkg/controllers/readiness/wellknown_ready_controller.go
Due: none

test: e2e-oidc: update expected conditions
  test/e2e-oidc/external_oidc_test.go
Due: none

bump library-go changes
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/certrotation/target.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_configmap.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_daemonset.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_namespace.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_rolebinding.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/assets/k8s_mock_kms_plugin_serviceaccount.yaml
  vendor/github.com/openshift/library-go/test/library/encryption/kms/k8s_mock_kms_plugin_deployer.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/modules.txt
Due: none

remove the old tests
  test/e2e-encryption-kms/encryption_kms_test.go
Due: e2e-operator-encryption

NO-JIRA: Automatic agentic rebase: Update library-go to 0cf249e
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/OWNERS
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/OWNERS
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

NO-JIRA: Automatic agentic rebase: Update library-go to d8750ed
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/secret.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/pkg/operator/events/recorder_in_memory.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

Fix encryption rotation test for library-go API changes
  test/e2e-encryption-rotation/e2e-encryption-rotation_test.go
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation

bump(openshift/library-go): to get KMS plugin credentials change
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/secret.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/credentials.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

kms: switch to real Vault plugin in CI
  test/e2e-encryption-kms/encryption_kms.go
Due: e2e-operator-encryption

NO-JIRA: Automatic agentic rebase: Update library-go to 0710912
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

NO-JIRA: Automatic agentic rebase: Update library-go to 0469313
  go.mod
  go.sum
  pkg/operator/starter.go
  vendor/github.com/openshift/library-go/pkg/operator/apiserver/controllerset/apiservercontrollerset.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/secret.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

kms: wire up config overrides for KMS values
  go.mod
  go.sum
  pkg/operator/workload/sync_openshift_oauth_apiserver.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/unsupported_config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

NO-JIRA: Automatic agentic rebase: Update library-go to 7fd5f33
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/secret.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

Refactor e2e tests to use OpenShift Tests Extension framework
  cmd/cluster-authentication-operator-tests-ext/main.go
  test/e2e-encryption-perf/encryption_perf.go
  test/e2e-encryption-perf/encryption_perf_test.go
  test/e2e-encryption-rotation/e2e-encryption-rotation_test.go
  test/e2e-encryption-rotation/encryption_rotation.go
  test/e2e-encryption/encryption.go
  test/e2e-encryption/encryption_test.go
  test/e2e-encryption/main_test.go
  test/e2e-oidc/external_oidc.go
  test/e2e-oidc/external_oidc_test.go
  test/e2e/keycloak.go
  test/library/client.go
  test/library/encryption/helpers.go
  test/library/encryption/perf_helpers.go
  test/library/encryption/scenarios.go
  test/library/encryption_wrappers.go
  test/library/featuregates.go
  test/library/gitlabidp.go
  test/library/idpdeployment.go
  test/library/keycloakidp.go
  test/library/waits.go
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

NO-JIRA: kms rotation controller
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/encryption_rotation_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptionstatus/convergence.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptionstatus/migration.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptionstatus/operator.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptionstatus/rotation.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptionstatus/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

NO-JIRA: bump(library-go): kms_rotation_annotation branch
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/encryption_rotation_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_rotation_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/migration_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptiondata/config.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptionstatus/convergence.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptionstatus/migration.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptionstatus/operator.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptionstatus/rotation.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/encryptionstatus/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/configmap_reporter.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/kek.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/secrets.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/statemachine/transition.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

bump(openshift/library-go): to get KMS plugin CA bundle wiring
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/credentials.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

bump(openshift/library-go): to get KMS plugin security context
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/reference_data_resolver.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

poc: deploying upstream component
  pkg/operator/workload/sync_openshift_oauth_apiserver.go
Due: none

fixup! change the right deployment generation method...
  pkg/operator/workload/sync_openshift_oauth_apiserver.go
Due: none

wip: changes to get padlok image to work
  bindata/oauth-apiserver/externaloidc-deploy.yaml
Due: none

fake bump test
  go.mod
  go.sum
  test/e2e-encryption-kms/encryption_kms.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

Fake bump to test kms plugin builder
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/builder.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

Fake bump library-go
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/builder.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

Pass operator image for health reporter
  pkg/operator/workload/sync_openshift_oauth_apiserver.go
Due: none

Path conditions:
  e2e-operator-encryption: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)
