Repository openshift/cluster-authentication-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

Path conditions:
  e2e-operator-encryption: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)

Revert "NO-JIRA: add preflight command"
  cmd/authentication-operator/main.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/helpers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/assets/kms-preflight-pod.yaml
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/bindata.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/checker.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/pod_template.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

Rebump library-go
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/builder.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

fix
  pkg/operator/workload/sync_openshift_oauth_apiserver.go
Due: none

Update library-go
  go.mod
  go.sum
  manifests/07_deployment.yaml
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/builder.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/health_reporter.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

go*: use typed client for kms health reporter
  go.mod
  go.sum
Due: none

cmd,pkg/cmd: create implementation with typed client applying kms status
  cmd/authentication-operator/main.go
  pkg/cmd/kmshealthwriter/writer.go
Due: none

Align KMS with new signature
  pkg/operator/workload/sync_openshift_oauth_apiserver.go
Due: none

go*, vendor: add temp dep on PR for testing
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/options.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/prober.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/writers/writers.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

cmd: hook up health reporter
  cmd/authentication-operator/main.go
Due: none

NO-JIRA: bump library-go to test preflight pod status reporting
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/assets/kms-preflight-pod.yaml
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/checker.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/deployer.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/pod_status.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/pod_template.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion_auth.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion_oas.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers_auth.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers_oas.go
  vendor/github.com/openshift/library-go/test/library/encryption/perf_scenarios.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

POC: decouple oauthapiserver auth config generation for shared library use
  pkg/controllers/externaloidc/externaloidc_controller.go
  pkg/controllers/externaloidc/externaloidc_controller_test.go
  pkg/controllers/externaloidc/generation/kubeapiserver/generate.go
  pkg/controllers/externaloidc/generation/kubeapiserver/generate_test.go
  pkg/controllers/externaloidc/generation/oauthapiserver/generate.go
  pkg/controllers/externaloidc/generation/oauthapiserver/generate_test.go
Due: none

go.*: bump library-go
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/options.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/prober.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/writers/writers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/assets/kms-preflight-pod.yaml
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/deployer.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/pod_template.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

cmd: wire KMS health reporter status writer
  cmd/authentication-operator/main.go
Due: none

cmd/ote: add encryption-kms-2 OTE suite
  cmd/cluster-authentication-operator-tests-ext/main.go
Due: none

Bump library-go to sync
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/options.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion_auth.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion_oas.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers_auth.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers_oas.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

React to new test names
  test/e2e-encryption-kms/encryption_kms.go
  test/e2e-encryption-kms/encryption_kms_2.go
  test/e2e-encryption-perf/encryption_perf.go
  test/e2e-encryption-rotation/encryption_rotation.go
  test/e2e-encryption/encryption.go
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

Adapt tests and token observer to updated library-go APIs
  pkg/controllers/configobservation/oauth/observe_tokenconfig.go
  pkg/controllers/externaloidc/externaloidc_controller_test.go
  pkg/controllers/externaloidc/generation/kubeapiserver/generate_test.go
  pkg/controllers/externaloidc/generation/oauthapiserver/generate_test.go
  test/e2e-encryption-kms/encryption_kms_2.go
Due: e2e-operator-encryption

bump(*)
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/encryption_status_provider.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/options.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/writers/writers.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/builder.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

pkg/operator/encryptionstatusprovider/provider: with authenticationEncryptionStatusProvider
  cmd/authentication-operator/main.go
  pkg/operator/encryptionstatusprovider/provider.go
Due: none

encryptionstatusprovider: use AuthenticationInterface instead of Clientset
  pkg/operator/encryptionstatusprovider/provider.go
Due: none

encryptionstatusprovider: implement UpdateKMSEncryptionStatus
  pkg/operator/encryptionstatusprovider/provider.go
Due: none

bump(*)
  go.mod
  go.sum
  pkg/operator/workload/sync_openshift_oauth_apiserver.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/encryption_status_provider.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/builder.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/sidecar.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/assets/kms-preflight-pod.yaml
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/deployer.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/pod_template.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

NO-JIRA: Automatic agentic rebase: Update library-go to d8f45c2
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/deployer.go
  vendor/github.com/openshift/library-go/test/library/encryption/preflight_deploy.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

bugfix: make switched controller clear status conditions on delegate controller shutdown
  pkg/controllers/oauthclientscontroller/oauthclientscontroller.go
  pkg/controllers/switchedcontroller/switched_controller.go
  pkg/controllers/switchedcontroller/switched_controller_test.go
Due: none

Update openshift/*
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/config/v1/types_kmsencryption.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/envtest-releases.yaml
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/operator/v1/types_kmsencryption.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_30_openshift-apiserver_01_openshiftapiservers-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_30_openshift-apiserver_01_openshiftapiservers-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_30_openshift-apiserver_01_openshiftapiservers-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_ingress_00_ingresscontrollers-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_ingress_00_ingresscontrollers-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.model_name.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vaultkmspluginconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/internal/internal.go
  vendor/github.com/openshift/client-go/operator/applyconfigurations/internal/internal.go
  vendor/github.com/openshift/client-go/operator/applyconfigurations/operator/v1/kmsencryptionstatus.go
  vendor/github.com/openshift/client-go/operator/applyconfigurations/operator/v1/kmspreflightcheck.go
  vendor/github.com/openshift/client-go/operator/applyconfigurations/operator/v1/kmspreflightresult.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/pluginlifecycle/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

NO-JIRA: add KMS preflight deploy e2e to encryption-kms-2
  test/e2e-encryption-kms/encryption_kms_2.go
Due: e2e-operator-encryption

NO-JIRA: gofmt encryption_kms_2.go
  test/e2e-encryption-kms/encryption_kms_2.go
Due: e2e-operator-encryption

bump (*)
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/cmd.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/options.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/pod_status.go
  vendor/github.com/openshift/library-go/test/library/encryption/preflight_deploy.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

encryptionstatusprovider/provider: creates the provider from the operator client.
  cmd/authentication-operator/main.go
  pkg/operator/encryptionstatusprovider/provider.go
Due: none

Add component-scoped proxy support for the Authentication operator
  pkg/controllers/common/fake/fake.go
  pkg/controllers/common/fakeinformer/fakeinformer.go
  pkg/controllers/common/proxy.go
  pkg/controllers/common/proxy_resolver.go
  pkg/controllers/common/proxy_resolver_test.go
  pkg/controllers/common/proxy_test.go
  pkg/controllers/configobservation/configobservercontroller/observe_config_controller.go
  pkg/controllers/configobservation/oauth/idp_conversions.go
  pkg/controllers/configobservation/oauth/idp_conversions_test.go
  pkg/controllers/configobservation/oauth/observe_idps.go
  pkg/controllers/configobservation/oauth/observe_idps_test.go
  pkg/controllers/configobservation/oauth/observe_proxy_trusted_ca.go
  pkg/controllers/configobservation/oauth/observe_proxy_trusted_ca_test.go
  pkg/controllers/customroute/custom_route_conditions.go
  pkg/controllers/customroute/custom_route_controller.go
  pkg/controllers/deployment/default_deployment.go
  pkg/controllers/deployment/deployment_controller.go
  pkg/controllers/deployment/deployment_controller_test.go
  pkg/controllers/oauthendpoints/oauth_endpoints_controller.go
  pkg/controllers/proxyconfig/proxyconfig_controller.go
  pkg/controllers/proxyconfig/proxyconfig_controller_test.go
  pkg/internal/transporttest/transporttest.go
  pkg/libs/endpointaccessible/endpoint_accessible_controller.go
  pkg/operator/replacement_starter.go
  pkg/operator/starter.go
  pkg/transport/transport.go
  pkg/transport/transport_test.go
  test-data/apply-configuration/overall/minimal-cluster/expected-output/UserWorkload/Create/cluster-scoped-resources/certificates.k8s.io/certificatesigningrequests/810c-body-system-COLON-openshift-COLON-openshift-authenticator-.yaml
  test-data/apply-configuration/overall/minimal-cluster/expected-output/UserWorkload/Create/cluster-scoped-resources/certificates.k8s.io/certificatesigningrequests/9806-body-system-COLON-openshift-COLON-openshift-authenticator-.yaml
  test-data/apply-configuration/overall/minimal-cluster/expected-output/UserWorkload/Create/cluster-scoped-resources/certificates.k8s.io/certificatesigningrequests/9806-metadata-system-COLON-openshift-COLON-openshift-authenticator-.yaml
  test-data/apply-configuration/overall/oauth-server-creation-minimal/expected-output/Management/Create/namespaces/openshift-authentication/apps/deployments/b3b2-body-oauth-openshift.yaml
  test-data/apply-configuration/overall/oauth-server-creation-minimal/expected-output/Management/Create/namespaces/openshift-authentication/apps/deployments/b3b2-metadata-oauth-openshift.yaml
Due: none

Update openshift/*
  go.mod
  go.sum
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/operator/v1/types.go
  vendor/github.com/openshift/api/operator/v1/types_kmsencryption.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_12_etcd_01_etcds-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_25_kube-controller-manager_01_kubecontrollermanagers.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_25_kube-scheduler_01_kubeschedulers.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_30_openshift-apiserver_01_openshiftapiservers-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_30_openshift-apiserver_01_openshiftapiservers-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_30_openshift-apiserver_01_openshiftapiservers-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/baremetalplatformstatus.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vsphereplatformfailuredomainspec.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vsphereplatformspec.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/internal/internal.go
  vendor/github.com/openshift/client-go/operator/applyconfigurations/internal/internal.go
  vendor/github.com/openshift/client-go/operator/applyconfigurations/operator/v1/kmsencryptionstatus.go
  vendor/github.com/openshift/client-go/operator/applyconfigurations/operator/v1/kmspluginhealthreport.go
  vendor/github.com/openshift/client-go/operator/applyconfigurations/operator/v1/nodestatus.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/health/prober.go
  vendor/github.com/openshift/library-go/pkg/operator/resource/resourceapply/resource_cache.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

Add e2e test for proxy validation degraded condition
  cmd/cluster-authentication-operator-tests-ext/main.go
  test/e2e-component-proxy/component_proxy.go
Due: none

Add e2e test for IdPEndpointUnreachable warning event
  test/e2e-component-proxy/component_proxy.go
  test/library/proxy.go
Due: none

Refactor e2e proxy tests: extract SaveAndRestoreProxyConfig helper, add A1 test
  test/e2e-component-proxy/component_proxy.go
  test/library/proxy.go
Due: none
