Repository openshift/cluster-authentication-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

Path conditions:
  e2e-operator-encryption: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption)|^(test/library/encryption)
  e2e-gcp-operator-encryption-rotation: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-rotation)|^(test/library/encryption)
  e2e-gcp-operator-encryption-perf: any of: ^(vendor/github.com/openshift/library-go/pkg/operator/encryption)|^(test/e2e-encryption-perf)|^(test/library/encryption)

Remove deploymentutil package
  pkg/controllers/common/deploymentutil/proxy.go
  pkg/controllers/common/deploymentutil/proxy_test.go
  pkg/controllers/common/proxy.go
  pkg/controllers/common/proxy_resolver.go
  pkg/controllers/common/proxy_test.go
  pkg/controllers/deployment/default_deployment.go
  pkg/controllers/deployment/deployment_controller.go
  pkg/controllers/deployment/deployment_controller_test.go
  pkg/controllers/externaloidc/generation/oauthapiserver/generate.go
  pkg/controllers/externaloidc/generation/oauthapiserver/generate_test.go
  pkg/operator/workload/sync_openshift_oauth_apiserver.go
  pkg/operator/workload/sync_openshift_oauth_apiserver_test.go
Due: none

Cleanup
  pkg/controllers/configobservation/oauth/idp_conversions_test.go
  pkg/controllers/externaloidc/generation/oauthapiserver/generate.go
Due: none

CNTRLPLANE-4402: gate webhook architecture behind ExternalOIDCAsWebhook
  go.mod
  go.sum
  pkg/controllers/common/external_oidc.go
  pkg/controllers/externaloidc/externaloidc_controller.go
  pkg/controllers/webhookauthenticator/webhookauthenticator_controller.go
  pkg/operator/replacement_starter.go
  pkg/operator/starter.go
  pkg/operator/workload/sync_openshift_oauth_apiserver.go
  vendor/github.com/openshift/api/.golangci.yaml
  vendor/github.com/openshift/api/config/v1/types_cluster_image_policy.go
  vendor/github.com/openshift/api/config/v1/types_image_policy.go
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/features/legacyfeaturegates.go
  vendor/github.com/openshift/api/machine/v1beta1/types_vsphereprovider.go
  vendor/github.com/openshift/api/operator/v1/types_machineconfiguration.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Due: none

Add support for External OIDC component proxy
  pkg/controllers/common/fake/fake.go
  pkg/controllers/common/proxy.go
  pkg/controllers/common/proxy_resolver.go
  pkg/controllers/common/proxy_resolver_test.go
  pkg/controllers/common/proxy_test.go
  pkg/controllers/configobservation/configobservercontroller/observe_config_controller.go
  pkg/controllers/configobservation/oauth/idp_conversions_test.go
  pkg/controllers/customroute/custom_route_controller.go
  pkg/controllers/deployment/default_deployment.go
  pkg/controllers/deployment/deployment_controller.go
  pkg/controllers/deployment/deployment_controller_test.go
  pkg/controllers/externaloidc/externaloidc_controller.go
  pkg/controllers/externaloidc/externaloidc_controller_test.go
  pkg/controllers/externaloidc/generation/oauthapiserver/generate.go
  pkg/controllers/externaloidc/generation/oauthapiserver/generate_test.go
  pkg/controllers/oauthendpoints/oauth_endpoints_controller.go
  pkg/controllers/proxyconfig/proxyconfig_controller.go
  pkg/operator/replacement_starter.go
  pkg/operator/starter.go
  pkg/operator/workload/sync_openshift_oauth_apiserver.go
  pkg/operator/workload/sync_openshift_oauth_apiserver_test.go
Due: none

test ci
  cmd/cluster-authentication-operator-tests-ext/main.go
Due: none

bump(openshift/library-go): fitting
  pkg/operator/replacement_starter.go
  pkg/operator/starter.go
Due: none

OPRUN-4768: bump openshift/api
  go.mod
  go.sum
  vendor/github.com/openshift/api/.golangci.yaml
  vendor/github.com/openshift/api/config/v1/types.go
  vendor/github.com/openshift/api/config/v1/types_cluster_image_policy.go
  vendor/github.com/openshift/api/config/v1/types_image_policy.go
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/config/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/features/legacyfeaturegates.go
  vendor/github.com/openshift/api/machine/v1beta1/types_vsphereprovider.go
  vendor/github.com/openshift/api/operator/v1/types_machineconfiguration.go
  vendor/github.com/openshift/api/operator/v1/types_network.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_70_network_01_networks-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_70_network_01_networks-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Due: none

bump (*)
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/oauth/tokenrequest/request_token.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/encryption_configuration_computer.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/encryption_planner.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion.go
  vendor/github.com/openshift/library-go/test/library/encryption/helpers.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

Wire dynamicclient
  pkg/operator/replacement_starter.go
  pkg/operator/starter.go
Due: none

externaloidc: use oauthapiserver config generator from oauth-apiserver#232
  pkg/controllers/externaloidc/externaloidc_controller.go
Due: none

fake bump(*)
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/test/library/encryption/assertion.go
  vendor/modules.txt
Due: none

Wire dynamicclient to encryption controllers
  pkg/operator/replacement_starter.go
  pkg/operator/starter.go
Due: none

OCPBUGS-122888: Add high contrast support to oauth templates
  bindata/oauth-openshift/branding-secret.yaml
  test-data/apply-configuration/overall/minimal-cluster/expected-output/Management/Create/namespaces/openshift-authentication/core/secrets/4034-body-v4-0-config-system-ocp-branding-template.yaml
  test-data/apply-configuration/overall/oauth-server-staticresource/expected-output/Management/Create/namespaces/openshift-authentication/core/secrets/4034-body-v4-0-config-system-ocp-branding-template.yaml
Due: none

deps: bump o/api for the new ExternalOIDCAsWebhook feature gate
  go.mod
  go.sum
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/operator/v1/types_ingresscontroller.go
  vendor/github.com/openshift/api/operator/v1/types_machineconfiguration.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_ingress_00_ingresscontrollers-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_ingress_00_ingresscontrollers-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_ingress_00_ingresscontrollers-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_ingress_00_ingresscontrollers-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_ingress_00_ingresscontrollers-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/route/v1/generated.proto
  vendor/github.com/openshift/api/route/v1/types.go
  vendor/github.com/openshift/api/route/v1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Due: none

externaloidc: Enable webhook architecture for ExternalOIDCAsWebhook
  pkg/controllers/common/external_oidc.go
  pkg/controllers/common/external_oidc_test.go
  pkg/controllers/externaloidc/externaloidc_controller.go
  pkg/controllers/webhookauthenticator/webhookauthenticator_controller.go
  pkg/controllers/webhookauthenticator/webhookauthenticator_controller_test.go
  pkg/operator/replacement_starter.go
  pkg/operator/starter.go
  pkg/operator/workload/sync_openshift_oauth_apiserver.go
  pkg/operator/workload/sync_openshift_oauth_apiserver_test.go
Due: none

bump (*)
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/config/serving/options.go
  vendor/github.com/openshift/library-go/pkg/crypto/crypto.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/remote_key.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

externaloidc: use authentication config generator from library-go#2490
  pkg/controllers/externaloidc/externaloidc_controller.go
  pkg/controllers/externaloidc/externaloidc_controller_test.go
Due: none

bump (*)
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/checker.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/state/types.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

NO-JIRA: bump library-go to pick up KMS remote-key rotation core logic
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/migration_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/kms/preflight/checker.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/secrets/remote_key.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

WIP: replace library-go with KMS in-place update foundations
  go.mod
  go.sum
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/scenarios.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

test: enable KMS in-place field updates in kms-2 suite
  test/e2e-encryption-kms/encryption_kms_2.go
Due: e2e-operator-encryption

WIP: replace library-go with rebased version (to get the gate on preflight)
  go.mod
  go.sum
  vendor/github.com/openshift/api/.golangci.yaml
  vendor/github.com/openshift/api/authentication/install.go
  vendor/github.com/openshift/api/authentication/v1alpha1/doc.go
  vendor/github.com/openshift/api/authentication/v1alpha1/register.go
  vendor/github.com/openshift/api/authentication/v1alpha1/types_authentication_configuration.go
  vendor/github.com/openshift/api/authentication/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/authentication/v1alpha1/zz_generated.model_name.go
  vendor/github.com/openshift/api/authentication/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/install.go
  vendor/github.com/openshift/api/operator/v1/types_machineconfiguration.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/encryption_configuration_computer.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/encryption_planner.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

Update library-go
  go.mod
  go.sum
  vendor/github.com/openshift/api/.golangci.yaml
  vendor/github.com/openshift/api/authentication/install.go
  vendor/github.com/openshift/api/authentication/v1alpha1/doc.go
  vendor/github.com/openshift/api/authentication/v1alpha1/register.go
  vendor/github.com/openshift/api/authentication/v1alpha1/types_authentication_configuration.go
  vendor/github.com/openshift/api/authentication/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/authentication/v1alpha1/zz_generated.model_name.go
  vendor/github.com/openshift/api/authentication/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/install.go
  vendor/github.com/openshift/api/operator/v1/types_machineconfiguration.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/encryption_configuration_computer.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/encryption_planner.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

library go bump
  go.mod
  go.sum
  test/e2e-encryption-kms/encryption_kms_2.go
  vendor/github.com/openshift/api/.golangci.yaml
  vendor/github.com/openshift/api/authentication/install.go
  vendor/github.com/openshift/api/authentication/v1alpha1/doc.go
  vendor/github.com/openshift/api/authentication/v1alpha1/register.go
  vendor/github.com/openshift/api/authentication/v1alpha1/types_authentication_configuration.go
  vendor/github.com/openshift/api/authentication/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/authentication/v1alpha1/zz_generated.model_name.go
  vendor/github.com/openshift/api/authentication/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/install.go
  vendor/github.com/openshift/api/operator/v1/types_machineconfiguration.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/encryption_configuration_computer.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/encryption_planner.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/key_controller.go
  vendor/github.com/openshift/library-go/pkg/operator/encryption/controllers/kms_preflight_controller.go
  vendor/github.com/openshift/library-go/test/library/encryption/assertion.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/scenarios.go
  vendor/github.com/openshift/library-go/test/library/encryption/kms/vault.go
  vendor/github.com/openshift/library-go/test/library/encryption/scenarios.go
  vendor/modules.txt
Due: e2e-operator-encryption, e2e-gcp-operator-encryption-rotation, e2e-gcp-operator-encryption-perf

OCPBUGS-123142: Bump Go to 1.26 and protobuf to v1.36.12
  .ci-operator.yaml
  Dockerfile.rhel7
  go.mod
  go.sum
  vendor/google.golang.org/protobuf/encoding/protodelim/protodelim.go
  vendor/google.golang.org/protobuf/encoding/protojson/decode.go
  vendor/google.golang.org/protobuf/encoding/protojson/well_known_types.go
  vendor/google.golang.org/protobuf/encoding/prototext/decode.go
  vendor/google.golang.org/protobuf/internal/descfmt/stringer.go
  vendor/google.golang.org/protobuf/internal/editiondefaults/editions_defaults.binpb
  vendor/google.golang.org/protobuf/internal/editionssupport/editions.go
  vendor/google.golang.org/protobuf/internal/encoding/defval/default.go
  vendor/google.golang.org/protobuf/internal/encoding/tag/tag.go
  vendor/google.golang.org/protobuf/internal/encoding/text/decode.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc_init.go
  vendor/google.golang.org/protobuf/internal/filedesc/desc_lazy.go
  vendor/google.golang.org/protobuf/internal/filedesc/editions.go
  vendor/google.golang.org/protobuf/internal/genid/descriptor_gen.go
  vendor/google.golang.org/protobuf/internal/impl/codec_map.go
  vendor/google.golang.org/protobuf/internal/impl/decode.go
  vendor/google.golang.org/protobuf/internal/impl/validate.go
  vendor/google.golang.org/protobuf/internal/version/version.go
  vendor/google.golang.org/protobuf/proto/decode.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc.go
  vendor/google.golang.org/protobuf/reflect/protodesc/desc_init.go
  vendor/google.golang.org/protobuf/reflect/protodesc/editions.go
  vendor/google.golang.org/protobuf/reflect/protodesc/proto.go
  vendor/google.golang.org/protobuf/reflect/protoreflect/source_gen.go
  vendor/google.golang.org/protobuf/types/descriptorpb/descriptor.pb.go
  vendor/google.golang.org/protobuf/types/known/anypb/any.pb.go
  vendor/google.golang.org/protobuf/types/known/fieldmaskpb/field_mask.pb.go
  vendor/google.golang.org/protobuf/types/known/structpb/struct.pb.go
  vendor/google.golang.org/protobuf/types/known/timestamppb/timestamp.pb.go
  vendor/modules.txt
Due: none

bump api
  go.mod
  go.sum
  vendor/github.com/openshift/api/.gitignore
  vendor/github.com/openshift/api/.golangci.yaml
  vendor/github.com/openshift/api/config/v1alpha1/register.go
  vendor/github.com/openshift/api/config/v1alpha1/types_controllermanager.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.model_name.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/envtest-releases.yaml
  vendor/github.com/openshift/api/features.md
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/operator/v1/types_console.go
  vendor/github.com/openshift/api/operator/v1/types_kmsencryption.go
  vendor/github.com/openshift/api/operator/v1/types_machineconfiguration.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_20_kube-apiserver_01_kubeapiservers-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_30_openshift-apiserver_01_openshiftapiservers-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_30_openshift-apiserver_01_openshiftapiservers-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_30_openshift-apiserver_01_openshiftapiservers-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-Default.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-OKD.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_50_authentication_01_authentications-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-CustomNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-DevPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.crd-manifests/0000_80_machine-config_01_machineconfigurations-TechPreviewNoUpgrade.crd.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.model_name.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Due: none
