Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

[EPIC] Utilization Card updates
  frontend/packages/ceph-storage-plugin/locales/en/console-shared.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/area-chart.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/multi-utilization-item.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/prometheus-multi-utilization-item.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/prometheus-utilization-item.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/utilization-card.scss
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/utilization-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/utilization-item.tsx
  frontend/packages/ceph-storage-plugin/src/queries/ceph-queries.ts
Due: ci/prow/ceph-storage-plugin

Fix tektonhub task upgrading issue
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/pipeline-quicksearch-data.ts
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/pipeline-quicksearch-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/quicksearch/pipeline-quicksearch-utils.ts
Due: none

add HPCS KMS components
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/review-and-create-step/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/components/kms-config/hpcs-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/ibm-kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/providers.ts
  frontend/packages/ceph-storage-plugin/src/components/kms-config/utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/vault-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-ibm-kms-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-vault-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/packages/ceph-storage-plugin/src/constants/kms.ts
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
Due: ci/prow/ceph-storage-plugin

Bug 2006067: Fix OLM error handling
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/install-plan.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/install-plan.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-install-page.tsx
  frontend/packages/operator-lifecycle-manager/src/models.ts
  frontend/public/components/modals/error-modal.jsx
  frontend/public/components/modals/error-modal.tsx
  frontend/public/locales/en/public.json
Due: none

Revert useK8sWatchResources back to using rootstate and rename rootstate
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/k8s-watch-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sWatchResources.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useModelsLoaded.ts
  frontend/public/components/monitoring/alerting.tsx
Due: none

Monitoring dashboards: Improve series titles when a label is missing
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/query-browser.tsx
Due: none

Monitoring: Handle null ref.current in useIsVisible hook
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/hooks/useIsVisible.ts
Due: none

gherkin for Enhance Export App UX experience- ODC-6296
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/operators-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnCluster.ts
  frontend/packages/dev-console/integration-tests/support/pages/operators-page.ts
  frontend/packages/topology/integration-tests/features/export-application/export-of-applicaton.feature
  frontend/packages/topology/integration-tests/support/page-objects/export-applications-po.ts
  frontend/packages/topology/integration-tests/support/pages/export-application/export-applications.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-helper-page.ts
  frontend/packages/topology/integration-tests/support/step-definitions/common/topology.ts
  frontend/packages/topology/integration-tests/support/step-definitions/export-application/export-of-application.ts
Due: none

Add Support information in the event source catalog side panel
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/catalog.ts
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/catalog/__tests__/CatalogDetailsPanel.spec.tsx
  frontend/packages/console-shared/src/components/catalog/__tests__/catalog-item-data.ts
  frontend/packages/console-shared/src/components/catalog/details/CatalogDetailsPanel.tsx
  frontend/packages/console-shared/src/components/catalog/utils/catalog-utils.tsx
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/catalog/__tests__/eventSourceKamelets-data.ts
  frontend/packages/knative-plugin/src/catalog/__tests__/utils.spec.ts
  frontend/packages/knative-plugin/src/catalog/event-source-data.ts
  frontend/packages/knative-plugin/src/catalog/useEventSourceProvider.ts
  frontend/packages/knative-plugin/src/catalog/useKameletsProvider.ts
  frontend/packages/knative-plugin/src/catalog/utils.ts
Due: none

Add frontend OWNERS to demo plugin
  dynamic-demo-plugin/OWNERS
Due: none

[WIP] Running kubevirt plugin e2e tests on multicluster feature branch
  frontend/packages/kubevirt-plugin/src/plugin.tsx
Due: ci/prow/kubevirt-plugin

Scope toolbar for specific left alignment use on list pages Remove unscoped css rules targeting p,dl,ol,ul,hr,pre,blockquote,small
  frontend/packages/operator-lifecycle-manager/src/style.scss
  frontend/public/components/catalog/_catalog.scss
  frontend/public/components/factory/modal.tsx
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/markdown-view.tsx
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/search.tsx
  frontend/public/components/sidebars/explore-type-sidebar.tsx
  frontend/public/components/user.tsx
  frontend/public/style/_overrides.scss
  frontend/public/style/ancillary/_patternfly4.scss
Due: none

Automation of toast notification and route label for epic ODC-6266
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-git.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-git.ts
  frontend/public/components/routes.tsx
Due: none

Copy kindToAbbr to the SDK
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-get-resource.ts
Due: none

Monitoring dashboards: Allow tooltip width to extend further
  frontend/public/components/monitoring/query-browser.tsx
Due: none

Monitoring: Add runbook URLs to alert and rule details pages
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/locales/en/public.json
Due: none

Add K8sService as channel and broker subscribers
  frontend/packages/knative-plugin/src/components/pub-sub/PubSub.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/__tests__/pub-sub-utils.spec.ts
  frontend/packages/knative-plugin/src/components/pub-sub/form-fields/PubSubSubscriber.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/pub-sub-utils.ts
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/topology/src/data-transforms/transform-utils.ts
Due: none

Add support for storage class selection for mcg standalone
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-steps.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/advanced-section.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/select-deployment.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/capacity-and-nodes-step/capacity-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/body.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/create-local-volume-set-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/review-and-create-step/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-request-data.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
Due: ci/prow/ceph-storage-plugin

Remember the last selected node in topology
  frontend/packages/topology/src/components/page/TopologyPage.tsx
  frontend/packages/topology/src/components/page/TopologyView.tsx
  frontend/packages/topology/src/const.ts
Due: none

Bug 2032732: Fix styling conflicts stemming from console wide changes
  frontend/packages/ceph-storage-plugin/src/components/dashboards/common/capacity-card/capacity-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/capacity-breakdown/capacity-breakdown-card.scss
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/capacity-breakdown/capacity-breakdown-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/data-consumption-card/data-consumption-card.scss
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/data-consumption-card/data-consumption-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/storage-efficiency-card/storage-efficiency-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/capacity-breakdown-card/capacity-breakdown-card.scss
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/capacity-breakdown-card/capacity-breakdown-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/storage-efficiency-card/storage-efficiency-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/utilization-card.tsx
Due: ci/prow/ceph-storage-plugin

Fix an error to show Knative Services and Revisions also if the Service has no owner revision
  frontend/packages/knative-plugin/src/utils/__tests__/get-knative-resources.spec.ts
  frontend/packages/knative-plugin/src/utils/get-knative-resources.ts
Due: none

Fix k8s watch hooks to work with core resources
  dynamic-demo-plugin/src/components/ListPage.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sModel.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sWatchResource.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sWatchResources.ts
Due: none

UI integration with new auto update images
  frontend/packages/kubevirt-plugin/src/components/create-vm/create-vm.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/dev-console/dev-console-create-vm-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/dev-console/use-catalog-vm-templates.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/hooks/use-vm-templates-resources.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/select-template.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/customize-source/CustomizeSourceForm.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/VMTemplateRow.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/VMTemplateTable.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/types.ts
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-details-page.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/models/index.ts
  frontend/packages/kubevirt-plugin/src/statuses/template/template-source-status.ts
  frontend/packages/kubevirt-plugin/src/statuses/template/types.ts
  frontend/packages/kubevirt-plugin/src/types/api/V1alpha1DataVolumeSpec.ts
  frontend/packages/kubevirt-plugin/src/types/api/v1beta1DataVolumeSourceRef.ts
  frontend/packages/kubevirt-plugin/src/types/vm/index.ts
Due: ci/prow/kubevirt-plugin

Create new cluster inventory extension for custom components
  dynamic-demo-plugin/console-extensions.json
  dynamic-demo-plugin/locales/en/plugin__console-demo-plugin.json
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/src/components/ClusterOverview/Inventory.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/InventoryCard.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/cluster-overview.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/packages/console-shared/src/components/dashboard/inventory-card/InventoryCard.tsx
  frontend/packages/console-shared/src/components/dashboard/inventory-card/InventoryItem.tsx
  frontend/packages/console-shared/src/components/dashboard/inventory-card/inventory-card.scss
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-inventory-card.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/VMStatusInventoryItem.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/InventoryCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/dashboard/InventoryCard.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/inventory-card.tsx
Due: ci/prow/kubevirt-plugin

fix dev-catalog stuck in loading state
  frontend/packages/dev-console/src/components/catalog/catalog-view/CatalogTypeSelector.tsx
  frontend/packages/helm-plugin/src/catalog/providers/useHelmCharts.tsx
Due: none

Bug 2021632: Fix OLM breadcrumb link
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/public/components/factory/details.tsx
  frontend/public/components/utils/horizontal-nav.tsx
Due: none

set checked data attribute
  frontend/public/components/radio.tsx
Due: none

Migrate last k8s reducer to SDK
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/actions/k8s.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/reducers/k8s.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sModel.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sModels.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sWatchResource.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sWatchResources.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useModelsLoaded.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-utils.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/networking-tab/vm-wizard-nic-modal-enhanced.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/nic-modal/nic-modal-enhanced.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/VirtOverviewActivityCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/VirtOverviewStatusCard.tsx
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionsForm.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/resource-requirements.tsx
  frontend/public/components/RBAC/rules.jsx
  frontend/public/components/api-explorer.tsx
  frontend/public/components/cluster-settings/global-config.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/activity-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/status-card.tsx
  frontend/public/components/dashboard/dashboards-page/dashboards.tsx
  frontend/public/components/dashboard/project-dashboard/activity-card.tsx
  frontend/public/components/edit-yaml.jsx
  frontend/public/components/environment.jsx
  frontend/public/components/instantiate-template.tsx
  frontend/public/components/resource-dropdown.tsx
  frontend/public/components/utils/firehose.jsx
  frontend/public/kinds.ts
  frontend/public/module/k8s/k8s-models.ts
  frontend/public/reducers/k8s.ts
  frontend/public/redux.ts
Due: ci/prow/kubevirt-plugin

Do not render an empty button if it has no content to fix a11y check
  frontend/packages/console-shared/src/components/dashboard/utilization-card/TopConsumerPopover.tsx
Due: none

gherkin for dev console usability improvements-ODC-6303
  frontend/packages/dev-console/integration-tests/features/addFlow/quick-search-add.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-runs.feature
Due: none

Automation and Gherkin for dev console usability improvements
  frontend/packages/console-shared/src/components/quick-search/QuickSearchBar.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchDetails.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-git.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/quick-search-add.feature
  frontend/packages/dev-console/integration-tests/features/user-preferences/user-preferences-dev-perspective.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/quickStarts-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-quick-search.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-git.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/quick-search-add.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/userPreferences/user-preferences-dev-perspective.ts
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-runs.feature
  frontend/packages/pipelines-plugin/integration-tests/testData/petclinic-pipeline-all.yaml
  frontend/packages/topology/src/components/quick-search/TopologyQuickSearchButton.tsx
Due: none

Export Application view log
  frontend/packages/console-shared/src/constants/duration.ts
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/export-app/ExportApplication.tsx
  frontend/packages/topology/src/components/export-app/ExportApplicationModal.tsx
  frontend/packages/topology/src/components/export-app/ExportViewLogButton.tsx
  frontend/packages/topology/src/components/export-app/__tests__/ExportApplicationModal.spec.tsx
  frontend/packages/topology/src/components/export-app/__tests__/ExportViewLogButton.spec.tsx
  frontend/packages/topology/src/const.ts
Due: none

Show NADs from openshift-multus
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/configure.tsx
Due: ci/prow/ceph-storage-plugin

fix sdk build
  frontend/packages/git-service/src/services/base-service.ts
  frontend/public/components/factory/modal.tsx
Due: none

Block pool e2e testing
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/block-pool-create.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/block-pool-delete.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/block-pool-update.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/multiple-pool.spec.ts
  frontend/packages/ceph-storage-plugin/src/components/block-pool/block-pool-details-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/mirroring-card-item.tsx
  frontend/packages/console-shared/src/components/dashboard/details-card/DetailItem.tsx
Due: ci/prow/ceph-storage-plugin

Vault service account based authentication
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/review-and-create-step/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/kms-config/hpcs-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/vault-auth-methods.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/vault-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-vault-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/packages/ceph-storage-plugin/src/constants/kms.ts
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
Due: ci/prow/ceph-storage-plugin

Bug 2033290: Use TypeScript 4 when building SDK packages
  frontend/packages/console-dynamic-plugin-sdk/package.json
Due: none

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
