Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin

Fixes used capacity
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
Due: ci/prow/ceph-storage-plugin

Remove noobaa package
  frontend/packages/noobaa-storage-plugin/OWNERS
  frontend/packages/noobaa-storage-plugin/console-extensions.json
  frontend/packages/noobaa-storage-plugin/integration-tests/.eslintrc.js
  frontend/packages/noobaa-storage-plugin/integration-tests/OWNERS
  frontend/packages/noobaa-storage-plugin/integration-tests/mocks/default-backing-store.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/mocks/deploymentData.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/mocks/obcData.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/tests/backingStoreTest.scenario.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/tests/bucketClassTest.scenario.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/tests/obcTest.scenario.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/tests/objectServiceDashboard.scenario.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/utils/consts.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/views/createBC.view.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/views/createBS.view.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/views/noobaaDashboardPage.view.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/views/obcPage.view.ts
  frontend/packages/noobaa-storage-plugin/package.json
  frontend/packages/noobaa-storage-plugin/src/plugin.ts
Due: none

Disallow executable permissions for all groups.
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/multiple-pool.spec.ts
Due: ci/prow/ceph-storage-plugin

fix LSO devices utilization for storage cluster (Attached Mode)
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/storage-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-request-data.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/pvs-available-capacity.tsx
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
Due: ci/prow/ceph-storage-plugin

Bug 1942858: [RFE]Confusing detach volume UX
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/delete-disk-modal/delete-disk-modal.tsx
Due: ci/prow/kubevirt-plugin

Update CTA and description based on design
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/actions/knatify.ts
  frontend/packages/knative-plugin/src/components/knatify/CreateKnatifyPage.tsx
Due: none

Bug 1949410: Fix "Create binding" link from Role page, RoleBindings tab
  frontend/public/components/RBAC/role.jsx
Due: none

Add files required for plow deployment script
  frontend/packages/kubevirt-plugin/integration-tests/ci-scripts/add-support-annotations.sh
  frontend/packages/kubevirt-plugin/integration-tests/ci-scripts/hostpath-provisioner-setup.yml
Due: ci/prow/kubevirt-plugin

Bug 1949155: correctly check for favorited or last namespace on load
  frontend/packages/console-app/src/components/detect-namespace/namespace.ts
Due: none

Bug 1949514: make Location column visible at smaller screen resolutions
  frontend/public/components/routes.tsx
Due: none

Bug 1942864: Warning Alert for Encrypted PVs in Create StorageClass - 4.7 backport
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
Due: ci/prow/ceph-storage-plugin

fix add capacity usability issue
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/common/capacity-breakdown/consts.ts
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/raw-capacity-card/raw-capacity-card.scss
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/raw-capacity-card/raw-capacity-card.tsx
  frontend/packages/ceph-storage-plugin/src/utils/alert-action-path.tsx
Due: ci/prow/ceph-storage-plugin

makes review page consistent
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/review-page.tsx
Due: ci/prow/ceph-storage-plugin

Highlight only the navigation button when quick start hint clicked
  frontend/public/components/nav/section.tsx
Due: none

Add support for adding dynamic storage providers for a Deployment
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/package.json
  frontend/packages/ceph-storage-plugin/src/components/attach-obc/attach-obc-deployment.scss
  frontend/packages/ceph-storage-plugin/src/components/attach-obc/attach-obc-deployment.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/attach-deployment-obc-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/object-bucket-claim-page/create-obc.tsx
  frontend/packages/ceph-storage-plugin/src/components/object-bucket-page/state.ts
  frontend/packages/ceph-storage-plugin/src/utils/noobaa-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/storage-provider.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/public/components/app-contents.tsx
  frontend/public/components/storage/attach-pvc-storage.tsx
  frontend/public/components/storage/attach-storage.scss
  frontend/public/components/storage/attach-storage.tsx
Due: ci/prow/ceph-storage-plugin

Topology - Workload Sidebar
  frontend/packages/topology/integration-tests/features/topology/topology-workload-sidebar.feature
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-side-pane-page.ts
  frontend/packages/topology/integration-tests/support/step-definitions/common/topology.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/workload-sidebar.ts
Due: none

knative and admin perspective smoke test cases
  frontend/packages/dev-console/integration-tests/support/constants/staticText/global-text.ts
  frontend/packages/dev-console/integration-tests/support/constants/topology.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/modal.ts
  frontend/packages/dev-console/integration-tests/support/pages/operators-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-git.ts
  frontend/packages/knative-plugin/integration-tests/cypress.json
  frontend/packages/knative-plugin/integration-tests/features/knative/actions-on-knative-revision.feature
  frontend/packages/knative-plugin/integration-tests/features/knative/actions-on-knative-service.feature
  frontend/packages/knative-plugin/integration-tests/features/knative/cards-display-on-serverless-operator-installation.feature
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/knative/actions-on-knative-revision.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/knative/actions-on-knative-service.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/knative/create-apache-camel.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/knative/create-knative-workload.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/knative/side-bar-of-knative-revision-and-service.ts
  frontend/packages/knative-plugin/integration-tests/support/testData/installation-yamls/createBootStrap-CR.yaml
  frontend/packages/knative-plugin/integration-tests/support/testData/installation-yamls/createKnativeKafka-CR.yaml
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
Due: none

Fixes multi-namespace bucket class page, table and dropdown sync
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/namespace-store-pages/multi-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/namespace-store-dropdown.tsx
Due: ci/prow/ceph-storage-plugin

Fix start pipeline action access review
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-actions.spec.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-actions.tsx
Due: none

avoid memoizing topology sidebar component
  frontend/packages/topology/src/components/page/TopologyView.tsx
Due: none

create app-content div with modal-container as sibling
  frontend/packages/integration-tests-cypress/support/project.ts
  frontend/packages/integration-tests-cypress/tests/crud/namespace-crud.spec.ts
  frontend/packages/integration-tests-cypress/tests/monitoring/monitoring.spec.ts
  frontend/public/components/app.jsx
  frontend/public/components/factory/modal.tsx
Due: none

Bug 1948763: force postcss to ^8.2.0
  frontend/package.json
  frontend/yarn.lock
Due: none

Bug 1949774: force postcss to ^8.2.0
  frontend/package.json
  frontend/yarn.lock
Due: none

Bug 1862084: Consistent formatting of dates and times
  frontend/@types/console/index.d.ts
  frontend/__tests__/components/utils/datetime.spec.ts
  frontend/package.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/activity-card/data-resiliency-activity/data-resiliency-activity.tsx
  frontend/packages/console-shared/src/components/dashboard/activity-card/EventItem.tsx
  frontend/packages/console-shared/src/components/dashboard/activity-card/activity-card.scss
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationBody.tsx
  frontend/packages/dev-console/src/components/monitoring/overview/MonitoringOverviewEvents.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunDurationGraph.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunTaskRunGraph.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/pipeline-metrics-utils.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-utils.ts
  frontend/public/components/_icon-and-text.scss
  frontend/public/components/build.tsx
  frontend/public/components/cluster-settings/oauth.tsx
  frontend/public/components/graphs/area.tsx
  frontend/public/components/graphs/stack.tsx
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/components/utils/datetime.ts
  frontend/public/components/utils/timestamp.tsx
  frontend/public/i18n.js
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/builds.ts
  frontend/webpack.circular-deps.ts
  frontend/webpack.config.ts
  frontend/yarn.lock
Due: ci/prow/ceph-storage-plugin

Refactor Console plugin init code
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/__tests__/plugin-loader.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-init.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-loader.ts
  frontend/public/components/app.jsx
  frontend/public/plugins.ts
Due: none

Bug 1948566: Fix issue where react-modal was removing Operator modal from the DOM
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-community-provider-modal.tsx
Due: none

Fix dynamic demo plugin build
  frontend/dynamic-demo-plugin/package.json
  frontend/dynamic-demo-plugin/src/utils/bar.ts
  frontend/dynamic-demo-plugin/tsconfig.json
  frontend/dynamic-demo-plugin/yarn.lock
  frontend/packages/console-dynamic-plugin-sdk/package.json
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-pkg-assets.ts
Due: none

Bug 1948788: always link to metrics viewer even if graph is empty
  frontend/__tests__/components/graphs/area.spec.tsx
  frontend/__tests__/components/graphs/bar.spec.tsx
  frontend/public/components/graphs/area.tsx
  frontend/public/components/graphs/bar.tsx
  frontend/public/components/graphs/stack.tsx
Due: none

details-tab-not-translated-volumesnapshop
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-class-details.tsx
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-content-details.tsx
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-details.tsx
Due: none

implements increament when expanding storage
  frontend/public/components/modals/expand-pvc-modal.tsx
  frontend/public/locales/en/modal.json
Due: none

Bug 1949384: Localize Default Pull Secret modal
  frontend/public/components/modals/configure-ns-pull-secret-modal.jsx
  frontend/public/locales/en/public.json
Due: none

Bug 1924788 - Not clear error message when there are no NADs available for the user
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/form/form-row.scss
  frontend/packages/kubevirt-plugin/src/components/form/form-row.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/nic-modal/nic-modal.tsx
Due: ci/prow/kubevirt-plugin

Bug 1950912: kubevirt devconsole tests
  frontend/packages/kubevirt-plugin/integration-tests-cypress/README.md
  frontend/packages/kubevirt-plugin/integration-tests-cypress/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/cypress.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/customize-source.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tsconfig.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/expect-login.sh
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/actions.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/clone.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/dev-perspective.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/vm.ts
Due: ci/prow/kubevirt-plugin

Bug 1862989: [RFE]VM import wizard - storage class filter or a tooltip
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/storage-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/vm-wizard-storage-modal-enhanced.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/utils/strings.ts
Due: ci/prow/kubevirt-plugin

Revert "Merge pull request #8549 from metalice/bz-1942839-windows-vms-fail-to-start"
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/vm-disks/disk-summary.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/wintools.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/start-v2vvmware-controller.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/v2vvmware-configmap-validator.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/v2vvmware-configmap.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/volume.ts
Due: ci/prow/kubevirt-plugin

Pass all queries for area chart
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationItem.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/utilization-card.tsx
  frontend/public/components/graphs/area.tsx
  frontend/public/components/graphs/prometheus-graph.tsx
Due: none
