Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Annotations value updation in workloads
  frontend/packages/topology/src/components/workload/DeploymentSideBarDetails.tsx
  frontend/public/components/utils/details-page.tsx
Due: none

add button
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/AddButton/AddButton.tsx
Due: ci/prow/kubevirt-plugin

Bug 2015115: [RFE] PCI passthrough - grid list headers
  frontend/packages/kubevirt-plugin/src/components/GridListHeaders/GridListHeaders.tsx
Due: ci/prow/kubevirt-plugin

dynamic-plugin-sdk: Expose CreateResourceComponentProps
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/create-resource.ts
Due: none

update action provider actions
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/src/actions/provider.ts
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
Due: ci/prow/kubevirt-plugin

use new actions in vm lists
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-page-new.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
Due: ci/prow/kubevirt-plugin

Use the new action menu in virtual machines details page
  frontend/packages/kubevirt-plugin/src/components/vm-status/lazy-vm-row-kebab.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details-page.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vmi-details-page.tsx
Due: ci/prow/kubevirt-plugin

Bug 2005871: Cannot create Network Attachment Definition through UI
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionsForm.tsx
Due: none

verify removal of operands before uninstall operator
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
Due: none

Use actions in topology view
  frontend/packages/kubevirt-plugin/src/actions/provider.ts
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
  frontend/packages/kubevirt-plugin/src/topology/components/kubevirtComponentFactory.ts
  frontend/public/module/k8s/k8s-ref.ts
Due: ci/prow/kubevirt-plugin

edit-build-configs-epic-scripts-update
  frontend/packages/dev-console/integration-tests/features/build-config/edit-build-config.feature
  frontend/packages/dev-console/integration-tests/support/commands/app.ts
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/constants/topology.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/createGitWorkload.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/build-config/edit-build-config.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/dev-console/integration-tests/testData/yamls/build-config/buildconfig-with-strategy-docker-source-dockerfile.yaml
  frontend/packages/dev-console/integration-tests/testData/yamls/build-config/buildconfig-with-strategy-docker-source-git.yaml
  frontend/packages/dev-console/integration-tests/testData/yamls/build-config/buildconfig-with-strategy-source-source-binary.yaml
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-side-pane-page.ts
Due: none

switching to 'RH Integration - Camel K' Operator for e2e testing
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
Due: none

Remove inline style width from Namespace dropdown menu so it doesn't effect width of menu fix https://bugzilla.redhat.com/show_bug.cgi?id=2017141
  frontend/packages/console-shared/src/components/namespace/NamespaceMenuToggle.tsx
Due: none

use pf var to set min width on the namesapce dropdown component
  frontend/packages/console-shared/src/components/namespace/NamespaceDropdown.scss
Due: none

Update operand-link.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/operand-link.tsx
Due: none

Bug 2015506: Hard to select an item from Kebab
  frontend/public/components/default-resource.tsx
Due: none

Bug 2014238: Disable yaml create when not initialized
  frontend/packages/integration-tests-cypress/tests/crud/bulk-create-resources.spec.ts
  frontend/packages/integration-tests-cypress/views/yaml-editor.ts
  frontend/public/components/edit-yaml.jsx
Due: none

Internationalize all text strings for guage chart
  frontend/public/components/graphs/gauge.tsx
  frontend/public/locales/en/public.json
Due: none

Monitoring: Small refactoring of admin nav menu's Observe section
  frontend/public/components/nav/admin-nav.tsx
Due: none

Bug 2000628: Create IBM FlashSystem at the end of the wizard flow.
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
Due: ci/prow/ceph-storage-plugin

kubevirt: add test to verify send key for VNC console
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/console.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/string.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/console.ts
Due: ci/prow/kubevirt-plugin

console-dynamic-plugin-sdk: Expose DetailsPage
  frontend/packages/console-dynamic-plugin-sdk/src/api/core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/horizontal-nav-tabs.ts
  frontend/public/components/factory/details.tsx
Due: none

DetailsPageProps: Remove kindObj property
  frontend/__tests__/components/factory/details.spec.tsx
  frontend/packages/ceph-storage-plugin/src/components/block-pool/block-pool-details-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-resources/resource-details-page.tsx
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-class-details.tsx
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-content-details.tsx
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-details.tsx
  frontend/packages/console-app/src/status/snapshot.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-shared/src/hooks/useTabbedTableBreadcrumb.ts
  frontend/packages/container-security/src/components/image-manifest-vuln.tsx
  frontend/packages/dev-console/src/components/projects/details/ProjectDetailsPage.tsx
  frontend/packages/helm-plugin/src/components/details-page/HelmReleaseDetails.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/details/SubscriptionDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/details/TriggerDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/revisions/RevisionDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/routes/RouteDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/services/ServiceDetailsPage.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshot-details.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-details-page.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details-page.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vmi-details-page.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-details.tsx
  frontend/packages/pipelines-plugin/src/components/cluster-tasks/ClusterTaskDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/__tests__/PipelineRunDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/ClusterTriggerBindingPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/EventListenerPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelineDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/TriggerBindingPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/TriggerTemplatePage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/__tests__/pipelineDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineConditionDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineResourceDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/hooks.ts
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/TaskRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/events/__tests__/TaskRunDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/tasks/TaskDetailsPage.tsx
  frontend/public/components/factory/details.tsx
Due: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Bug 2013930: Disable ODF BackingStore, BucketClass, and NamespaceStore tabs and OCS BlockPool tab.
  frontend/packages/ceph-storage-plugin/src/components/dashboards/odf-system-dashboard.tsx
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Due: ci/prow/ceph-storage-plugin

make topology sidebar resizable
  frontend/packages/topology/src/__tests__/TopologySideBar.spec.tsx
  frontend/packages/topology/src/components/page/TopologyView.scss
  frontend/packages/topology/src/components/page/TopologyView.tsx
  frontend/packages/topology/src/components/side-bar/TopologySideBar.tsx
  frontend/packages/topology/src/const.ts
Due: none

DetailsPageProps: Reduce SDK-exposed properties
  frontend/__tests__/components/factory/details.spec.tsx
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-content-details.tsx
  frontend/packages/console-app/src/components/volume-snapshot/volume-snapshot-details.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/public/components/factory/details.tsx
Due: none

use new actions in vm lists
  frontend/packages/kubevirt-plugin/src/actions/provider.ts
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-page-new.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
Due: ci/prow/kubevirt-plugin

check for resource in SB service spec reference
  frontend/packages/rhoas-plugin/src/topology/rhoas-data-transformer.ts
Due: none

Try RH Business Automation
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
Due: none

added progress bar to 'cleaning up operands' step, removed timeout
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
Due: none

Bug 1988133: Cypress - re-enable OLM globall install test, handle multiple csv's crd versions
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-hub.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/views/operator.view.ts
Due: none

Bug 2001617: Disable sidebar navigation based on next button state
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/create-bc.tsx
Due: ci/prow/ceph-storage-plugin

kubevirt: improve 4.9 tests
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/pvc-upload/pvc-upload.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/action.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/vm.ts
Due: ci/prow/kubevirt-plugin

adds API tests in dynamic-demo-plugin
  dynamic-demo-plugin/console-extensions.json
  dynamic-demo-plugin/locales/en/plugin__console-demo-plugin.json
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/src/components/k8sConsumer/K8sAPIConsumer.tsx
  dynamic-demo-plugin/src/components/k8sConsumer/k8s-data.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/k8s-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-resource.ts
Due: none

Use conditions for status in Storage System list page
  frontend/packages/ceph-storage-plugin/src/components/odf-system/odf-system-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-system/utils.ts
Due: ci/prow/ceph-storage-plugin

Fix creation for BackingStore, BucketClass and NamespaceStore
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/create-bc.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/create-bs.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/create-namespace-store.tsx
Due: ci/prow/ceph-storage-plugin

move target port out of advanced routing options
  frontend/packages/console-shared/src/components/formik-fields/SelectInputField.tsx
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/advanced/AdvancedSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/RouteSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/__tests__/AdvancedSection.spec.tsx
  frontend/packages/dev-console/src/components/import/advanced/__tests__/RouteSection.spec.tsx
  frontend/packages/dev-console/src/components/import/route/CreateRoute.tsx
  frontend/packages/dev-console/src/components/import/route/PortInputField.tsx
  frontend/packages/dev-console/src/components/import/serverless/ServerlessRouteSection.tsx
  frontend/packages/dev-console/src/components/import/serverless/__tests__/ServerlessRouteSection.spec.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/KafkaSourceSection.tsx
Due: none

chore(i18n): update translations
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/metal3-plugin/locales/ja/metal3-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/ko/topology.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Due: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
