Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ODC-6132:Automation to verify the href url's from the quick starts
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick-start-devperspective.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/quickStarts-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/quck-starts/quick-start-devperspective.ts
Due: none

fix observer dashboard variables when screen size is reduced
  frontend/packages/dev-console/src/components/monitoring/MonitoringPage.scss
  frontend/packages/dev-console/src/components/monitoring/MonitoringPage.tsx
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/dashboards/index.tsx
Due: none

update gherkin scripts to include language preference
  frontend/packages/dev-console/integration-tests/features/user-preferences/user-preferences-dev-perspective.feature
Due: none

List the already mapped domain mappings in the warning message
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/serverless/ServerlessRouteSection.tsx
  frontend/packages/dev-console/src/components/import/serverless/__tests__/serverless-utils.spec.ts
  frontend/packages/dev-console/src/components/import/serverless/serverless-utils.ts
Due: none

Ensuring Administrator Perspective for noisy/shared setup
  frontend/packages/integration-tests-cypress/tests/crud/namespace-crud.spec.ts
Due: none

remove login prompt check until it's clearly needed
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/clone.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/migration.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/pvc-upload/pvc-upload.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/action.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-tabs.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/snapshot.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/expect-login.sh
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/vm.ts
Due: ci/prow/kubevirt-plugin

Use user token for listing operator's operands
  pkg/server/operands_handler.go
  pkg/server/server.go
  vendor/OWNERS
Due: none

i18n update server strings
  frontend/public/locales/en/public.json
Due: none

reload entered data if any when switching strategy
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/edit-deployment/deployment-strategy/DeploymentStrategySection.tsx
  frontend/packages/dev-console/src/components/edit-deployment/deployment-strategy/advanced-options/ExecNewPodForm.tsx
  frontend/packages/dev-console/src/components/edit-deployment/utils/edit-deployment-utils.ts
Due: none

disable drag for QuickSearch when over text input
  frontend/packages/console-shared/src/components/quick-search/QuickSearchBar.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchBar.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchContent.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModalBody.tsx
Due: none

Update alert info on dockerfile/devfile validation
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/ImportStrategySection.tsx
  frontend/packages/dev-console/src/components/import/ImportStrategySelector.tsx
  frontend/packages/dev-console/src/components/import/builder/BuilderSection.tsx
  frontend/packages/dev-console/src/components/import/devfile/DevfileStrategySection.tsx
  frontend/packages/dev-console/src/components/import/git/DockerSection.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/dev-console/src/components/import/import-types.ts
Due: none

Set required data on strategy select when multiple strategies exist
  frontend/packages/dev-console/src/components/import/builder/BuilderSection.tsx
  frontend/packages/dev-console/src/components/import/devfile/DevfileStrategySection.tsx
  frontend/packages/dev-console/src/components/import/git/DockerSection.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
Due: none

Uninstall Operator Modal: integrated with 'list-operands' endpoint, added Operands table, 'delete all' checkbox, and k8kill cmds to delete operands
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/promise.ts
  frontend/packages/console-shared/src/hooks/promise-handler.ts
  frontend/packages/console-shared/src/hooks/useOperands.ts
  frontend/packages/integration-tests-cypress/support/project.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-uninstall.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/views/operator.view.ts
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/operand-link.tsx
  frontend/packages/operator-lifecycle-manager/src/style.scss
  frontend/public/components/utils/resource-link.tsx
Due: none

replace user preference namespace dropdown with shared namespace dropdown
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/user-preferences/namespace/NamespaceDropdown.tsx
  frontend/packages/console-app/src/components/user-preferences/namespace/UserPreferenceNamespaceDropdown.scss
  frontend/packages/console-app/src/components/user-preferences/namespace/UserPreferenceNamespaceDropdown.tsx
  frontend/packages/console-app/src/components/user-preferences/namespace/__tests__/NamespaceDropdown.spec.tsx
  frontend/packages/console-app/src/components/user-preferences/namespace/__tests__/UserPreferenceNamespaceDropdown.spec.tsx
  frontend/packages/console-app/src/components/user-preferences/namespace/__tests__/namespace.data.ts
  frontend/packages/console-app/src/components/user-preferences/namespace/index.ts
  frontend/packages/console-app/src/components/user-preferences/namespace/usePreferredNamespace.ts
  frontend/packages/console-shared/src/components/namespace/NamespaceDropdown.tsx
  frontend/packages/console-shared/src/components/namespace/index.tsx
  frontend/public/components/namespace.jsx
Due: none

Fix devfile catalog flow
  frontend/packages/dev-console/src/components/import/GitImportForm.tsx
  frontend/packages/dev-console/src/components/import/SourceToImageForm.tsx
  frontend/packages/dev-console/src/components/import/builder/BuilderSection.tsx
  frontend/packages/dev-console/src/components/import/devfile/DevfileStrategySection.tsx
  frontend/packages/dev-console/src/components/import/devfile/devfileHooks.ts
  frontend/packages/dev-console/src/components/import/git/DockerSection.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/dev-console/src/components/import/import-validation-utils.ts
  frontend/packages/dev-console/src/components/import/validation-schema.ts
Due: none

create vm from template list and action dropdown
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/clone.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/migration.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-disk-preallocation.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-rootdisk.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-storage-profile.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ipv6/ipv6.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/pvc-upload/pvc-upload.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/regression/validate-nad-for-pxe.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/regression/validate-virtio-win-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/action.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-creation.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-tabs.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/snapshot.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/create-template-from-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/create-vm-from-template.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/advanced-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/cloud-init.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector-wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/wizard.ts
Due: ci/prow/kubevirt-plugin

Fix hardcoded texts and other textual changes in ODF flow
  frontend/packages/ceph-storage-plugin/src/constants/tooltips.tsx
  frontend/packages/ceph-storage-plugin/src/utils/ocs-storage-class-params.tsx
  frontend/packages/local-storage-operator-plugin/locales/en/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/body.tsx
Due: ci/prow/ceph-storage-plugin

update ODF wizard helper texts
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/capacity-and-nodes-step/capacity-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/body.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/selected-capacity.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/security-and-network-step/encryption.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/index.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/red-hat-ceph-storage/index.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/header.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
Due: ci/prow/ceph-storage-plugin

Kubevirt, use currect API when checking healthz
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/src/flags/const.ts
  frontend/packages/kubevirt-plugin/src/flags/detect-kubevirt-virtual-machines.ts
Due: ci/prow/kubevirt-plugin

Hide the import vm action
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vms/virtualization.tsx
Due: ci/prow/kubevirt-plugin

Adapted to last changes
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/hotplug.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/provisionSource.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/dialog.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector.ts
Due: ci/prow/kubevirt-plugin

Fix Noobaa resources details pages Add a wrapper around AddCapacityModal to inject StorageCluster Add missing actions for various resources
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/modals/edit-backingstore-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-resources/resource-details-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-resources/resource-list-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-system/actions.tsx
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Due: ci/prow/ceph-storage-plugin

Update referneces to OCS in Dashboards
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/__tests__/independent-dashboard-details-card.spec.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/details-card/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-external/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/ceph-storage-plugin/src/selectors/index.ts
Due: ci/prow/ceph-storage-plugin

enable side panel for Helm workloads
  frontend/packages/topology/console-extensions.json
  frontend/packages/topology/src/components/side-bar/getSelectedEntityDetails.tsx
  frontend/packages/topology/src/components/side-bar/providers/useDetailsResourceLink.tsx
  frontend/packages/topology/src/components/workload/CronJobSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/DaemonSetSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/DeploymentConfigSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/DeploymentSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/JobSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/PodSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/StatefulSetSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/jobs-tab-section.tsx
  frontend/packages/topology/src/components/workload/utils.ts
  frontend/packages/topology/src/components/workload/workload-resource-link.tsx
Due: none

revalidate git url on form reload
  frontend/packages/dev-console/src/components/buildconfig/BuildConfigForm.tsx
  frontend/packages/dev-console/src/components/buildconfig/EditBuildConfig.tsx
  frontend/packages/dev-console/src/components/buildconfig/form-utils/types.ts
  frontend/packages/dev-console/src/components/buildconfig/sections/SourceSection.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
Due: none

add update ocs option on details card
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/details-card.scss
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/details-card.tsx
Due: ci/prow/ceph-storage-plugin

Bug 2000573: Disable flexible scaling for internal mode
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/capacity-and-nodes-step/capacity-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/utils/create-storage-system.ts
Due: ci/prow/ceph-storage-plugin

Implementing crw-basic feature file.
  frontend/packages/dev-console/integration-tests/features/codeready-workspaces/crw-basic.feature
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/operators-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/crw/authorizeAccess.ts
  frontend/packages/dev-console/integration-tests/support/pages/crw/keycloak.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/installCRW.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnCluster.ts
  frontend/packages/dev-console/integration-tests/support/pages/operators-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/masthead.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/operatorParam.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/operators.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/crw/crw-basic.ts
  frontend/packages/integration-tests-cypress/views/masthead.ts
Due: none

Remove unnecessary change in masthead.ts.
  frontend/packages/integration-tests-cypress/views/masthead.ts
Due: none

crw-basic.feature target review remarks.
  frontend/packages/dev-console/integration-tests/features/codeready-workspaces/crw-basic.feature
  frontend/packages/dev-console/integration-tests/support/pages/functions/installCRW.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/masthead.ts
Due: none

Allow side nav borders to extend to left and right edges. fix Bug 2001959
  frontend/public/components/_horizontal-nav.scss
Due: none

Bug 1961391: Textual updates follow-up
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/utils/common.tsx
Due: ci/prow/ceph-storage-plugin

(test): Update flexible scaling unit tests
  frontend/packages/ceph-storage-plugin/src/__tests__/flexible-scaling.spec.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/storage-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/utils/create-storage-system.ts
  frontend/packages/ceph-storage-plugin/src/utils/install.ts
Due: ci/prow/ceph-storage-plugin

Address review remarks
  frontend/packages/dev-console/integration-tests/features/codeready-workspaces/crw-basic.feature
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/masthead.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/crw/crw-basic.ts
Due: none

find exact secret match for HelmRelease model
  frontend/packages/helm-plugin/src/topology/helm-data-transformer.ts
Due: none

adjust top properties to use 2 columns and bottom properties to span width of container
  frontend/public/components/container.tsx
Due: none

Bug 1996023: Fix select all nodes request
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/create-local-volume-set.tsx
Due: none

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
