Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

translate the page heading in the edit flow
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/edit-application/EditApplication.tsx
  frontend/packages/dev-console/src/components/edit-application/EditApplicationForm.tsx
  frontend/packages/dev-console/src/components/edit-application/__tests__/EditApplicationForm.spec.tsx
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-utils.spec.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
Due: none

fix NaN issue in add capacity modal
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
  frontend/packages/ceph-storage-plugin/src/constants/ocs-install.ts
Due: ci/prow/ceph-storage-plugin

link git secret to pipeine serviceaccount
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
Due: none

(fix): Hide RGW storage class in add capacity modal
  frontend/packages/ceph-storage-plugin/src/constants/ocs-install.ts
Due: ci/prow/ceph-storage-plugin

chore(i18n): update translations
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/ko/volume-snapshot-content.json
  frontend/packages/console-app/locales/ko/volume-snapshot-details.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/rhoas-plugin/locales/ja/rhoas-plugin.json
  frontend/packages/rhoas-plugin/locales/ko/rhoas-plugin.json
  frontend/packages/rhoas-plugin/locales/zh/rhoas-plugin.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Due: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Bug 1901720: Add loading state while PVs are getting provisioned
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/storage-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/sc-node-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/node-list.tsx
  frontend/packages/ceph-storage-plugin/src/selectors/index.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
Due: ci/prow/ceph-storage-plugin

PersistentVolumes page cannot sync project status
  frontend/public/components/start-guide.tsx
Due: none

Do not render samples column and helm link if customization hide them
  frontend/packages/console-shared/src/components/getting-started/GettingStartedCard.tsx
  frontend/packages/dev-console/src/components/add/DeveloperFeaturesGettingStartedCard.tsx
  frontend/packages/dev-console/src/components/add/SampleGettingStartedCard.tsx
  frontend/packages/dev-console/src/components/add/__tests__/DeveloperFeaturesGettingStartedCard.spec.tsx
  frontend/packages/dev-console/src/components/add/__tests__/SampleGettingStartedCard.spec.tsx
Due: none

chore(i18n): update translations
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/metal3-plugin/locales/zh/metal3-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Due: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Show most recent KMS connection details in SC creation form
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
Due: ci/prow/ceph-storage-plugin

Bug 1939753: Track and show error messages in modals
  frontend/__tests__/components/utils/promise-component.spec.tsx
  frontend/public/components/modals/delete-modal.tsx
  frontend/public/components/modals/taints-modal.tsx
  frontend/public/components/modals/tolerations-modal.tsx
  frontend/public/components/utils/promise-component.tsx
  frontend/public/locales/en/public.json
Due: none

Bug 1967658: improve failure alert for copied CSV
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Due: none

Fix page disappearing issue while creating sc for rbd provisioner
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
  frontend/public/components/storage-class-form.tsx
Due: ci/prow/ceph-storage-plugin

adds check for kamelet source in provider
  frontend/packages/knative-plugin/src/catalog/useKameletsProvider.ts
  frontend/packages/knative-plugin/src/const.ts
Due: none

Fix developer perspective navigation dom structure
  frontend/packages/integration-tests-cypress/support/a11y.ts
  frontend/public/components/nav/_perspective-nav.scss
  frontend/public/components/nav/admin-nav.tsx
  frontend/public/components/nav/index.tsx
  frontend/public/components/nav/perspective-nav.tsx
  frontend/public/components/nav/section.tsx
Due: none

Bug 1912929: i18n missed items
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/capacity-breakdown/capacity-breakdown-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/details-card/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/status-card/object-service-health.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-external/breakdown-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
  frontend/packages/console-shared/src/components/dashboard/inventory-card/inventory-card.scss
Due: ci/prow/ceph-storage-plugin

Updating .ci-operator.yaml `build_root_image` from openshift/release
  .ci-operator.yaml
Due: none

Add actions menu for Kafka Connection side panel
  frontend/packages/rhoas-plugin/src/topology/components/TopologyKafkaPanel.tsx
Due: none

Fix monitoring error box alignment
  frontend/public/components/monitoring/_monitoring.scss
Due: none

use http protocol for gitlab host
  frontend/packages/git-service/src/services/gitlab-service.ts
Due: none

fixes loader position on eventsources form
  frontend/packages/knative-plugin/src/components/add/EventSourcePage.tsx
Due: none

Upgrade PF packages to latest version
  frontend/package.json
  frontend/yarn.lock
Due: none

add aria-label for axe issues
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/common/capacity-breakdown/breakdown-chart.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/data-consumption-card/data-consumption-card-dropdown.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/data-consumption-card/data-consumption-graph.tsx
Due: ci/prow/ceph-storage-plugin

Add error boundary in edit-fows
  frontend/packages/dev-console/src/components/edit-application/EditApplicationPage.tsx
Due: none

kafka connection sidebar resource fixed to show secret resource if exist
  frontend/packages/rhoas-plugin/locales/en/rhoas-plugin.json
  frontend/packages/rhoas-plugin/src/topology/components/ResourceComponent.tsx
  frontend/packages/rhoas-plugin/src/topology/components/__mocks__/kafka-connection-mock.ts
  frontend/packages/rhoas-plugin/src/topology/components/__tests__/ResourceComponent.spec.tsx
Due: none

Show message if installedCSV is not found
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-item-details.tsx
Due: none

Fix time range issue for devconsole monitoring dashboard
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboard.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboardGraph.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/__tests__/MonitoringDashboard.spec.tsx
Due: none

Mark required fields in PipelineBuilderForm
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineParameters.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineResources.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineWorkspaces.tsx
Due: none

Bug 1968525: Warning - Operator Details page duplicate keys
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Due: none

fix storageclass issue in VCT form
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/VolumeClaimTemplateForm.tsx
Due: none

Bug 1934604: Add RetryOnConflict wrapper around helm chart install
  pkg/helm/actions/install_chart.go
  pkg/helm/testdata/test-cpu-limit.yaml
  pkg/helm/testdata/test-quota.yaml
Due: none

Bug 1934604: Add go test to recreate resourcequota update conflict
  pkg/helm/actions/resource_stress_test.go
  pkg/helm/testdata/gitlab-4.12.3.tgz
  pkg/helm/testdata/test-cpu-limit.yaml
  pkg/helm/testdata/test-quota.yaml
  test-backend.sh
Due: none

Bug 1934604: Wrap around cmd.Run only and set retry steps to 2
  pkg/helm/actions/install_chart.go
Due: none

Bug 1934604: Add k8s.io/client-go/util/retry to vendor
  vendor/github.com/googleapis/gnostic/OpenAPIv2/OpenAPIv2.pb.go
  vendor/k8s.io/client-go/util/retry/OWNERS
  vendor/k8s.io/client-go/util/retry/util.go
  vendor/modules.txt
Due: none

Fix catalog tile links and default behaviour with ctrl+click
  frontend/packages/dev-console/src/components/catalog/CatalogController.tsx
  frontend/packages/dev-console/src/components/catalog/CatalogTile.tsx
  frontend/packages/dev-console/src/components/catalog/utils/catalog-utils.tsx
Due: none

Don't return loaded true before data are fetched
  frontend/packages/dev-console/src/components/catalog/providers/__tests__/useDevfileSamples.data.ts
  frontend/packages/dev-console/src/components/catalog/providers/__tests__/useDevfileSamples.spec.ts
  frontend/packages/dev-console/src/components/catalog/providers/useDevfileSamples.tsx
Due: none

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
