Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Query Browser: Add seconds back to query browser tooltips
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/components/utils/datetime.ts
Due: none

Use FieldLevelHelp component instead of Popover
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vm-disks/guest-agent-file-systems.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-disks.tsx
Due: ci/prow/kubevirt-plugin

Translate pinned resources when labelPluralKey is available
  frontend/public/components/nav/perspective-nav.tsx
Due: none

Bug 1952209: Consistent formatting of dates and times
  frontend/packages/console-shared/src/components/dashboard/activity-card/EventItem.tsx
  frontend/packages/console-shared/src/components/dashboard/activity-card/activity-card.scss
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationBody.tsx
  frontend/packages/dev-console/src/components/monitoring/overview/MonitoringOverviewEvents.tsx
  frontend/public/components/_icon-and-text.scss
  frontend/public/components/build.tsx
  frontend/public/components/graphs/area.tsx
  frontend/public/components/graphs/stack.tsx
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/components/utils/datetime.ts
  frontend/public/components/utils/timestamp.tsx
  frontend/public/locales/en/public.json
Due: none

Bug 1952732: Users did not understand the boot source labels
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/customize-source.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/add-source.ts
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/add-template-source/add-template-source.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/VMTemplateTable.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-source.tsx
Due: ci/prow/kubevirt-plugin

removes extra annotations form spec template for ksvc
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
Due: none

Split cloud-init component to diffrent logic and view components
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/AdvancedTab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/CloudInitAdvancedTab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/CloudInitAuthKeyHelp.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/CloudInitCustomScript.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/CloudInitFormRows.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/CloudInitMessage.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/cloud-init.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/redux/actions.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/utils/Cloudinit.tsx
Due: ci/prow/kubevirt-plugin

Migrate Redux reducer extension type and its consumption
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/package.json
  frontend/packages/console-app/src/__tests__/extension-checks/reducers.spec.ts
  frontend/packages/console-app/src/plugin.tsx
  frontend/packages/console-plugin-sdk/src/typings/index.ts
  frontend/packages/console-plugin-sdk/src/typings/reducers.ts
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/package.json
  frontend/packages/kubevirt-plugin/src/plugin.tsx
  frontend/packages/topology/console-extensions.json
  frontend/packages/topology/package.json
  frontend/packages/topology/src/plugin.tsx
  frontend/packages/topology/src/redux/reducer.ts
  frontend/public/components/app.jsx
  frontend/public/redux.ts
Due: ci/prow/kubevirt-plugin

multiline pipeline params
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/MultiColumnField.scss
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/MultiColumnFieldRow.tsx
Due: none

enable tech preview badge for arbiter
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/_capacity-and-nodes.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/capacity-and-nodes.tsx
Due: ci/prow/ceph-storage-plugin

Revert "Bug 1954248: Disable Alertmanager e2e tests"
  frontend/integration-tests/tests/alertmanager.scenario.ts
  frontend/integration-tests/tests/monitoring.scenario.ts
  frontend/packages/integration-tests-cypress/tests/monitoring/monitoring.spec.ts
Due: none

CONSOLE-2508: Memsource automation
  frontend/i18n-scripts/export-pos.sh
  frontend/i18n-scripts/i18n-to-po.js
  frontend/i18n-scripts/languages.sh
  frontend/i18n-scripts/memsource-download.sh
  frontend/i18n-scripts/memsource-upload.sh
  frontend/i18n-scripts/po-to-i18n.js
  frontend/package.json
Due: none

UI Translation update
  frontend/i18n-scripts/memsource-download.sh
  frontend/packages/noobaa-storage-plugin/locales/ja/noobaa-storage-plugin.json
  frontend/packages/noobaa-storage-plugin/locales/ko/noobaa-storage-plugin.json
  frontend/packages/noobaa-storage-plugin/locales/zh/noobaa-storage-plugin.json
Due: none

Bump SDK dependencies: ts-json-schema-generator, typescript
  frontend/package.json
  frontend/packages/console-dynamic-plugin-sdk/package.json
  frontend/yarn.lock
Due: none

Add when expression in pipeline builder
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/MultiColumnField.tsx
  frontend/packages/console-shared/src/components/formik-fields/multi-column-field/MultiColumnFieldRow.tsx
  frontend/packages/console-shared/src/components/formik-fields/text-column-field/DragAndDrop.tsx
  frontend/packages/console-shared/src/components/formik-fields/text-column-field/TextColumnField.tsx
  frontend/packages/console-shared/src/components/formik-fields/text-column-field/TextColumnItem.tsx
  frontend/packages/console-shared/src/components/formik-fields/text-column-field/TextColumnItemContent.tsx
  frontend/packages/console-shared/src/components/formik-fields/text-column-field/TextColumnItemWithDnd.tsx
  frontend/packages/console-shared/src/components/formik-fields/text-column-field/__tests__/TextColumnItem.spec.tsx
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PipelineParameterSection.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderVisualization.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/__tests__/validation-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/hooks.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebar.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebar.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarWhenExpression.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarWhenExpression.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/validation-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/BuilderFinallyNode.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/BuilderFinallyNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/FinallyNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/TaskListNode.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/WhenExpressionDecorator.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/WhenExpressionForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/__tests__/utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/factories.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/utils.ts
  frontend/packages/pipelines-plugin/src/test-data/pipeline-data.ts
  frontend/packages/pipelines-plugin/src/types/pipeline.ts
Due: none

Consolidate A-E namespaces
  frontend/__tests__/components/cluster-settings/github-idp-form.spec.tsx
  frontend/__tests__/components/cluster-settings/gitlab-idp-form.spec.tsx
  frontend/__tests__/components/cluster-settings/google-idp-form.spec.tsx
  frontend/__tests__/components/cluster-settings/htpasswd-idp-form.spec.tsx
  frontend/__tests__/components/environment.spec.tsx
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/public/components/cluster-settings/github-idp-form.tsx
  frontend/public/components/cluster-settings/gitlab-idp-form.tsx
  frontend/public/components/cluster-settings/global-config.tsx
  frontend/public/components/cluster-settings/google-idp-form.tsx
  frontend/public/components/cluster-settings/htpasswd-idp-form.tsx
  frontend/public/components/cluster-settings/idp-cafile-input.tsx
  frontend/public/components/cluster-settings/idp-name-input.tsx
  frontend/public/components/environment.jsx
  frontend/public/components/events.jsx
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/group.tsx
  frontend/public/components/image-stream.tsx
  frontend/public/components/ingress.jsx
  frontend/public/components/monitoring/receiver-forms/email-receiver-form.tsx
  frontend/public/components/utils/name-value-editor.jsx
  frontend/public/components/utils/value-from-pair.jsx
  frontend/public/i18n.js
  frontend/public/locales/en/create-pvc.json
  frontend/public/locales/en/email-receiver-form.json
  frontend/public/locales/en/environment.json
  frontend/public/locales/en/events.json
  frontend/public/locales/en/filter-toolbar.json
  frontend/public/locales/en/github-idp-form.json
  frontend/public/locales/en/gitlab-idp-form.json
  frontend/public/locales/en/global-config.json
  frontend/public/locales/en/google-idp-form.json
  frontend/public/locales/en/group.json
  frontend/public/locales/en/htpasswd-idp-form.json
  frontend/public/locales/en/idp-cafile-input.json
  frontend/public/locales/en/idp-name-input.json
  frontend/public/locales/en/image-stream.json
  frontend/public/locales/en/ingress.json
  frontend/public/locales/en/public.json
Due: none

add validations to add capacity modal
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/mocks/storageclass.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/multiple-storageclass-selection.spec.ts
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/storage-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/capacity-and-nodes.tsx
  frontend/packages/ceph-storage-plugin/src/constants/ocs-install.ts
  frontend/packages/ceph-storage-plugin/src/utils/install.ts
Due: ci/prow/ceph-storage-plugin

Remove spaces between Pipeline Kinds translations
  frontend/packages/console-shared/src/components/multi-tab-list/MultiTabListPage.tsx
  frontend/packages/console-shared/src/components/multi-tab-list/multi-tab-list-page-types.ts
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/__tests__/PipelineRunDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunCustomDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunDetailsSection.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/__tests__/PipelineRunVisualization.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunHeader.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/list-page/PipelineRunList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines-lists/PipelinesListsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelineDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/EventListenerDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/TriggerTemplateDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/RemoveTriggerForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetrics.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunDurationGraph.tsx
  frontend/packages/pipelines-plugin/src/components/shared/results/__tests__/ResultsList.spec.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/TaskRunLog.tsx
  frontend/packages/pipelines-plugin/src/components/tasks/list-page/TasksListsPage.tsx
  frontend/packages/pipelines-plugin/src/components/triggers-lists/TriggersPage.tsx
  frontend/packages/pipelines-plugin/src/models/pipelines.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-actions.spec.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-actions.tsx
Due: none

Bug 1940206: i18n details page text
  frontend/public/components/utils/selector.tsx
  frontend/public/components/volumes-table.tsx
  frontend/public/locales/en/public.json
Due: none

Prevent cannot update a component error when viewing overview
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationItem.tsx
Due: none

Bump webpack-cli to 4.6.x
  frontend/package.json
  frontend/yarn.lock
Due: none

Plugin SDK: Improve TS diagnostics reporting when parsing TS files
  frontend/packages/console-dynamic-plugin-sdk/scripts/utils/typescript.ts
Due: none

Bump webpack-bundle-analyzer to 4.4.1
  frontend/package.json
  frontend/yarn.lock
Due: none

Consolidate i18n namespaces s-z
  frontend/public/components/edit-yaml.jsx
  frontend/public/components/monitoring/receiver-forms/slack-receiver-form.tsx
  frontend/public/components/monitoring/receiver-forms/webhook-receiver-form.tsx
  frontend/public/components/search.tsx
  frontend/public/components/service-account.jsx
  frontend/public/components/sidebars/resource-sidebar.tsx
  frontend/public/components/user.tsx
  frontend/public/i18n.js
  frontend/public/locales/en/public.json
  frontend/public/locales/en/search.json
  frontend/public/locales/en/service-account.json
  frontend/public/locales/en/sidebar.json
  frontend/public/locales/en/slack-receiver-form.json
  frontend/public/locales/en/storage-class-dropdown.json
  frontend/public/locales/en/storage-class-form.json
  frontend/public/locales/en/storage-class.json
  frontend/public/locales/en/user.json
  frontend/public/locales/en/webhook-receiver-form.json
  frontend/public/locales/en/yaml.json
Due: none

adding console.pages extension types to dynamic-plugin-sdk
  frontend/packages/console-dynamic-plugin-sdk/src/api/common-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/actions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/cluster-settings.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/feature-flags.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/navigation.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/pages.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/resource-metadata.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/yaml-templates.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
Due: none

- Add popover to storage in overview status card
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/en/dashboard.json
  frontend/packages/ceph-storage-plugin/src/components/storage-popover.tsx
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/console-app/src/components/dashboards-page/ControlPlaneStatus.tsx
Due: ci/prow/ceph-storage-plugin

adding console.dashboards extension types to dynamic-plugin-sdk
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/dashboards.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/packages/console-shared/src/components/dashboard/inventory-card/InventoryItem.tsx
Due: none

adding sdk support for dynamic page extensions
  frontend/public/components/api-explorer.tsx
  frontend/public/components/app-contents.tsx
  frontend/public/components/custom-resource-definition.tsx
  frontend/public/components/factory/details.tsx
  frontend/public/components/resource-list.tsx
  frontend/public/components/resource-pages.ts
  frontend/public/components/search.tsx
  frontend/public/module/k8s/k8s.ts
Due: none

convert kubevirt page extensions to dynamic
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/package.json
  frontend/packages/kubevirt-plugin/src/plugin.tsx
Due: ci/prow/kubevirt-plugin

update and add image vulnerability toggle group in IMV details page
  frontend/packages/container-security/locales/en/container-security.json
  frontend/packages/container-security/src/components/ImageVulnerabilitiesList.tsx
  frontend/packages/container-security/src/components/ImageVulnerabilitiesTable.tsx
  frontend/packages/container-security/src/components/ImageVulnerabilityRow.tsx
  frontend/packages/container-security/src/components/ImageVulnerabilityTogggleGroup.scss
  frontend/packages/container-security/src/components/ImageVulnerabilityToggleGroup.tsx
  frontend/packages/container-security/src/components/__tests__/ImageVulnerabilitiesList.spec.tsx
  frontend/packages/container-security/src/components/__tests__/ImageVulnerabilitiesTable.spec.tsx
  frontend/packages/container-security/src/components/__tests__/ImageVulnerabilityRow.spec.tsx
  frontend/packages/container-security/src/components/__tests__/ImageVulnerabilityToggleGroup.spec.tsx
  frontend/packages/container-security/src/components/__tests__/image-manifest-vuln.spec.tsx
  frontend/packages/container-security/src/components/__tests__/image-vulnerability-utils.spec.ts
  frontend/packages/container-security/src/components/__tests__/vulnerability-test-data.ts
  frontend/packages/container-security/src/components/image-manifest-vuln.scss
  frontend/packages/container-security/src/components/image-manifest-vuln.tsx
  frontend/packages/container-security/src/components/image-vulnerability-utils.ts
  frontend/packages/container-security/src/const.ts
  frontend/packages/container-security/src/plugin.ts
Due: none

fixes default image for operator backed list view
  frontend/packages/console-shared/src/utils/__tests__/icon-utils.spec.ts
  frontend/packages/console-shared/src/utils/icon-utils.ts
  frontend/packages/topology/src/components/graph-view/components/nodes/WorkloadNode.tsx
  frontend/public/components/catalog/catalog-item-icon.tsx
  frontend/public/imgs/logos/operator.svg
Due: none

Save additional parameters from build guidance container and drop it
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils-data.ts
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/devfile/DevfileImportForm.tsx
  frontend/packages/dev-console/src/components/import/devfile/devfileHooks.ts
Due: none

Fix Triggers section in eventlistener details page
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/EventListenerDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/EventListenerTriggers.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/__tests__/EventListenerDetails.spec.tsx
Due: none

update dnd icon
  frontend/packages/kubevirt-plugin/src/components/dnd-list/dnd-data-list-item.tsx
  frontend/public/components/utils/name-value-editor.jsx
Due: ci/prow/kubevirt-plugin

i18n translation of create route form Bug https://bugzilla.redhat.com/show_bug.cgi?id=1942548
  frontend/__tests__/components/routes/create-route.spec.tsx
  frontend/public/components/routes/create-route.tsx
  frontend/public/locales/en/public.json
Due: none

Fix analyze script
  analyze.sh
  frontend/package.json
  frontend/webpack.config.ts
  frontend/yarn.lock
Due: none

Allow users to select multiple filter options at once
  frontend/integration-tests/views/crud.view.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/helm-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/monitoring-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/monitoring/monitoring-page.ts
  frontend/packages/integration-tests-cypress/views/list-page.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/vms.list.view.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineRun-details-page.ts
  frontend/public/components/filter-toolbar.tsx
Due: ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
