Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin

Bug 1976072: Ensure supported details view x-descriptors take priority in Operand details view
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/const.ts
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/utils.tsx
Due: none

Preserve user annotations
  frontend/packages/dev-console/src/utils/resource-label-utils.ts
Due: none

Add unit test
  frontend/packages/dev-console/src/utils/__tests__/resource-label-utils-data.ts
  frontend/packages/dev-console/src/utils/__tests__/resource-label-utils.spec.tsx
  frontend/packages/dev-console/src/utils/resource-label-utils.ts
Due: none

Fixing Formik Promise.reject() issues by .resolve()-ing
  frontend/packages/dev-console/src/components/hpa/HPAFormikForm.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradePage.tsx
Due: none

Default to WaitForFirstConsumer volumeBindingMode
  frontend/public/components/storage-class-form.tsx
  frontend/public/locales/en/public.json
Due: none

Update PF packages to 2021-10
  frontend/package.json
  frontend/packages/console-shared/src/components/actions/menu/ActionMenuContent.tsx
  frontend/packages/console-shared/src/components/actions/menu/ActionMenuItem.tsx
  frontend/packages/pipelines-plugin/src/components/shared/common/auto-complete/AutoCompletePopover.tsx
  frontend/yarn.lock
Due: none

remove unused fileUpload state variable
  frontend/public/components/edit-yaml.jsx
Due: none

clear file upload in droppable component instead of edit-yaml, remove trim
  frontend/public/components/droppable-edit-yaml.tsx
  frontend/public/components/edit-yaml.jsx
Due: none

Bug 1986502: Fix previously deleted dragged files that show up in yaml editor
  frontend/public/components/edit-yaml.jsx
Due: none

Query Browser: Remove null value entries from the tooltip
  frontend/public/components/monitoring/query-browser.tsx
Due: none

Bug 1989507: replace configmap with storageprofile
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
Due: ci/prow/kubevirt-plugin

Render 404 create page if CRD model is missing
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/model-status-box.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/public/components/utils/horizontal-nav.tsx
Due: none

Increase timeout and adding non fail exit for delete resource command
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
Due: ci/prow/kubevirt-plugin

Do not drop values without name anymore and fix crash when ref is empty
  frontend/public/components/environment.jsx
  frontend/public/components/utils/value-from-pair.jsx
Due: none

Query browser: Add some transparency to line graph lines
  frontend/public/components/graphs/themes.ts
Due: none

remove victory mismatch causing larger footprint
  frontend/package.json
  frontend/yarn.lock
Due: none

Bug 1990024: Fix typo
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/network-policies/network-policy-peer-selectors.tsx
  frontend/public/components/app.jsx
  frontend/public/locales/en/public.json
Due: none

ODC-5966:Gherkin design for consolidating core dashboard with dev perspective monitoring
  frontend/packages/dev-console/integration-tests/features/monitoring/changing-context-monitoring-dashboard.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/dashboard-display.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/monitoring-alerts.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/topology-sidebar-actions.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/topology-sidebar-alert-details.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/workload-metrics-display.feature
Due: none

[release-4.8] Bug 1990141: Console overview operators shown upgrading when still waiting on approval
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/dashboard/status-card/states.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/dashboard/utils.ts
  frontend/packages/operator-lifecycle-manager/src/components/subscription.tsx
  frontend/packages/operator-lifecycle-manager/src/status/csv-status.ts
  frontend/packages/operator-lifecycle-manager/src/utils.ts
Due: none

Bug 1982675: Edit DeploymentConfig i18n misses
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/edit-deployment/deployment-strategy/DeploymentStrategySection.tsx
  frontend/packages/dev-console/src/components/edit-deployment/deployment-strategy/advanced-options/LifecycleHookForm.tsx
  frontend/packages/dev-console/src/components/edit-deployment/deployment-strategy/utils/types.ts
Due: none

Bug 1985356: Check for nonexistent CSVs in installed block
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-item-details.tsx
Due: none

Fix role display issue for project access
  frontend/packages/dev-console/src/components/project-access/project-access-form-validation-utils.ts
Due: none

Monitoring dashboards: Fix state transition during render
  frontend/public/components/monitoring/dashboards/index.tsx
Due: none

Bug 1986565: [OCP48][WebUI] "How to seal boot source for template usage" link points to /foo
  frontend/packages/kubevirt-plugin/src/components/modals/template-customization/FinishCustomizationModal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/customize-source/CustomizeSourceStatus.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm-templates/constants.ts
Due: ci/prow/kubevirt-plugin

Removing LoadIndexFile dependency in test modules.
  pkg/helm/chartproxy/proxy_test.go
  pkg/helm/chartproxy/repos_test.go
Due: none

Bug 1987171: When customizing boot source, password is shown in default font
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vms/vm-console/VMConsoles.tsx
Due: ci/prow/kubevirt-plugin

Migrate workload resource actions to new extensions
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/actions/creators/deployment-factory.ts
  frontend/packages/console-app/src/actions/creators/hpa-factory.ts
  frontend/packages/console-app/src/actions/creators/job-factory.ts
  frontend/packages/console-app/src/actions/providers/daemon-set-provider.ts
  frontend/packages/console-app/src/actions/providers/deployment-provider.ts
  frontend/packages/console-app/src/actions/providers/index.ts
  frontend/packages/console-app/src/actions/providers/job-provider.ts
  frontend/packages/console-app/src/actions/providers/pod-provider.ts
  frontend/packages/console-app/src/actions/providers/stateful-set-provider.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/common-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/actions.ts
  frontend/packages/console-shared/src/components/actions/loader/ActionsLoader.tsx
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/src/actions/providers.ts
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/src/actions/providers.ts
  frontend/public/components/cron-job.tsx
  frontend/public/components/daemon-set.tsx
  frontend/public/components/deployment-config.tsx
  frontend/public/components/job.tsx
  frontend/public/components/pod.tsx
  frontend/public/components/stateful-set.tsx
Due: none

add vm-status-2
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vm-status/lazy-vm-row-kebab.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-status/lazy-vm-status.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-status/use-vm-status-resources.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-status/vm-status.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/table-filters.ts
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
Due: ci/prow/kubevirt-plugin

Deleting VM resources in CY tests
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/sysprep/sysprep.spec.ts
Due: ci/prow/kubevirt-plugin

Bug 1975038: Cannot delete user created vm template
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/regression/validate-nad-for-pxe.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-vm-like-entity.ts
Due: ci/prow/kubevirt-plugin

Bug 1988406: Added support for SSH key is now passed from simple to advanced wizard
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/Cloudinit.tsx
Due: ci/prow/kubevirt-plugin

auto update resource name when internal registry details are changed
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamTagDropdown.tsx
Due: none

disable dashboard for ODF managed services
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/package.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/ocs-system-dashboard.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/odf-system-dashboard.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-resources/resource-list-page.tsx
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Due: ci/prow/ceph-storage-plugin

Gherkin: User should be able to manage user preferences-ODC-5227
  frontend/packages/dev-console/integration-tests/features/user-preferences/user-preferences-dev-perspective.feature
Due: none

Use `Immediate` as the default `volumeBindingMode`
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/storage-class.ts
  frontend/public/components/storage-class-form.tsx
Due: ci/prow/ceph-storage-plugin

Add CJK translation of Inspect link in monitoring
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
Due: none
