Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin

ODC-5030 - Gherkin Script Design
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-broker-actions.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-broker.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-create-sink-broker.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/domain-mapping.feature
Due: none

Change task selection method in integrations tests
  frontend/packages/console-shared/src/components/quick-search/QuickSearchContent.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchController.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModal.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModalBody.tsx
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/catalog/providers/useTasksProvider.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/BuilderFinallyNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/BuilderNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/ErrorNodeDecorator.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/InvalidTaskListNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/RemoveNodeDecorator.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/RemoveNodeDecorator.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/TaskList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/const.ts
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearch.tsx
  frontend/packages/topology/src/components/quick-search/TopologyQuickSearch.tsx
Due: none

updated helm scripts with new page objects
  frontend/packages/dev-console/integration-tests/support/constants/helm.ts
  frontend/packages/dev-console/integration-tests/support/constants/index.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/helm-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/catalog-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/helm-plugin/integration-tests/features/helm/actions-on-helm-release.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-compatibility.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-feature-flag.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-installation-view.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-navigation.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/install-helm-chart.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/topology-helm-release.feature
  frontend/packages/helm-plugin/integration-tests/support/commands/app.ts
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/helm-details-page.ts
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/helm-page.ts
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/upgrade-helm-release-page.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-release.ts
Due: none

update kubevirt test deployment
  frontend/packages/kubevirt-plugin/integration-tests/ci-scripts/add-support-annotations.sh
  frontend/packages/kubevirt-plugin/integration-tests/ci-scripts/hostpath-provisioner-setup.yml
  frontend/packages/kubevirt-plugin/integration-tests/ci-scripts/install-virtctl.sh
  frontend/packages/kubevirt-plugin/integration-tests/ci-scripts/setup-storage.sh
  frontend/packages/kubevirt-plugin/integration-tests/deploy-kubevirt-gating.sh
Due: ci/prow/kubevirt-plugin

Bug 1988092: Cypress - disable OLM globall install test, duplicate Operand tabs
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-global.spec.ts
Due: none

Hide rollback action when there is only 1 revision
  frontend/packages/dev-console/src/components/edit-deployment/__tests__/EditDeploymentForm.spec.tsx
  frontend/packages/helm-plugin/src/actions/creators.ts
  frontend/packages/helm-plugin/src/actions/providers.ts
  frontend/packages/helm-plugin/src/actions/types.ts
  frontend/packages/helm-plugin/src/components/details-page/HelmReleaseDetails.tsx
  frontend/packages/helm-plugin/src/components/details-page/history/HelmReleaseHistory.tsx
  frontend/packages/helm-plugin/src/components/details-page/history/HelmReleaseHistoryRow.tsx
  frontend/packages/helm-plugin/src/components/forms/rollback/HelmReleaseRollbackPage.tsx
  frontend/packages/helm-plugin/src/components/list-page/HelmReleaseListRow.tsx
  frontend/packages/helm-plugin/src/utils/helm-utils.ts
Due: none

Bug 1988133: Cypress - re-enable OLM globall install test, handle multiple csv's crd versions
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-global.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/views/operator.view.ts
Due: none

Bug 1986502: Fix previously deleted dragged files that show up in yaml editor
  frontend/public/components/edit-yaml.jsx
Due: none

updated the test-headless script in dev-console/package.json file Removed @bug tag as odc-6205 is fixed
  frontend/packages/dev-console/integration-tests/.gherkin-lintrc
  frontend/packages/dev-console/integration-tests/cypress.json
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-git.feature
  frontend/packages/dev-console/integration-tests/package.json
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-helper-page.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
Due: none

persist dashboard selection
  frontend/public/components/monitoring/dashboards/custom-time-range-modal.tsx
  frontend/public/components/monitoring/dashboards/graph.tsx
  frontend/public/components/monitoring/dashboards/index.tsx
Due: none

clear file upload in droppable component instead of edit-yaml, remove trim
  frontend/public/components/droppable-edit-yaml.tsx
  frontend/public/components/edit-yaml.jsx
Due: none

Bug 1972966: Virtualization is not available in Home Overview
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/health-item.tsx
Due: none

Bug 1987169: Cannot create network attachment definition while operator is installed.
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionsForm.tsx
Due: none

e2e flaky don't fail smoke tests if vm exist before test start
  frontend/packages/kubevirt-plugin/integration-tests-cypress/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/action.ts
Due: ci/prow/kubevirt-plugin

Bug 1986819: fix string typos for hot-plug disks
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/delete-disk-modal/delete-disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/HotplugFieldLevelHelp.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/RemovalDiskAlert.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/disk-bus.ts
Due: ci/prow/kubevirt-plugin

Bug 1975042: added v2v config map to customize flow
  frontend/packages/kubevirt-plugin/src/components/vm-templates/customize-source/CustomizeSourceForm.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-v2v-config-map.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vmtemplate/customize.ts
Due: ci/prow/kubevirt-plugin

Bug 1985933: Changed example label for image input
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/container-source.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/vm-settings-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/kubevirt-plugin/src/components/form/helper/container-source-help.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/utils/strings.ts
Due: ci/prow/kubevirt-plugin

Switch to add flow e2e tests
  frontend/packages/dev-console/integration-tests/package.json
Due: none

Bug 1985164: Regular user cannot restore VM snapshot
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-restore-modal/snapshot-restore-modal.tsx
Due: ci/prow/kubevirt-plugin

delete test project after creating it
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/clone.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/migration.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/pvc-upload/pvc-upload.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/regression/validate-nad-for-pxe.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/regression/validate-virtio-win-image.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/action.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/template-tabs.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-creation.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-tabs.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vmi-tabs.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/sysprep/sysprep.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/custom-template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/customize-source.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/advanced-wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/empty-state.spec.ts
Due: ci/prow/kubevirt-plugin

Fix a11y issues in project dropdown
  frontend/public/components/_dropdown.scss
  frontend/public/components/utils/dropdown.jsx
Due: none

Removing LoadIndexFile dependency in test modules.
  pkg/helm/chartproxy/proxy_test.go
  pkg/helm/chartproxy/repos_test.go
Due: none

Bug 1986297: Windows guest tool is always mounted
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/vm-settings-tab.tsx
  frontend/packages/kubevirt-plugin/src/selectors/vm/winimage.ts
Due: ci/prow/kubevirt-plugin

Use specific release for files used in e2e tests
  frontend/packages/kubevirt-plugin/integration-tests/deploy-kubevirt-gating.sh
Due: ci/prow/kubevirt-plugin

Add hostpath-provisioner-setup.yml used in release-4.8 tests
  frontend/packages/kubevirt-plugin/integration-tests/ci-scripts/add-support-annotations.sh
  frontend/packages/kubevirt-plugin/integration-tests/ci-scripts/hostpath-provisioner-setup.yml
Due: ci/prow/kubevirt-plugin

Migrate helm plugin to use dynamic extensions
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/package.json
  frontend/packages/helm-plugin/src/components/index.ts
  frontend/packages/helm-plugin/src/plugin.ts
  frontend/packages/helm-plugin/src/topology/helm-topology-plugin.tsx
  frontend/packages/helm-plugin/src/topology/helmFilters.ts
  frontend/packages/helm-plugin/src/topology/index.ts
  frontend/packages/helm-plugin/src/utils/helm-detection-utils.ts
  frontend/packages/helm-plugin/src/utils/index.ts
  frontend/packages/topology/src/components/page/TopologyView.tsx
Due: none

Remove check for two sections in help menu
  frontend/packages/integration-tests-cypress/tests/i18n/pseudolocalization.spec.ts
Due: none

remove unused fileUpload state variable
  frontend/public/components/edit-yaml.jsx
Due: none

fixup! Add multiple query support for IOPS, Throughput, and Latency
  frontend/packages/ceph-storage-plugin/src/queries/ceph-queries.ts
Due: ci/prow/ceph-storage-plugin

Monitoring dashboards: Add text filter to all dropdowns
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboard.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/__tests__/MonitoringDashboard.spec.tsx
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/timespan-dropdown.tsx
  frontend/public/locales/en/public.json
Due: none

Bug 1984954: Normal user cant create vm , no access to v2v config map
  frontend/packages/kubevirt-plugin/src/components/create-vm/create-vm.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/dev-console/dev-console-create-vm-form.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-v2v-config-map.ts
Due: ci/prow/kubevirt-plugin

Fix clusterNetwork only selection issue with OCS
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-request-data.ts
Due: ci/prow/ceph-storage-plugin

Add missing translation for deployment strategy
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/edit-deployment/EditDeploymentFormEditor.tsx
  frontend/packages/dev-console/src/components/edit-deployment/deployment-strategy/DeploymentStrategySection.tsx
  frontend/packages/dev-console/src/components/edit-deployment/deployment-strategy/utils/__tests__/deployment-strategy-utils.spec.ts
  frontend/packages/dev-console/src/components/edit-deployment/deployment-strategy/utils/deployment-strategy-utils.ts
  frontend/packages/dev-console/src/components/edit-deployment/deployment-strategy/utils/types.ts
  frontend/packages/dev-console/src/components/edit-deployment/utils/edit-deployment-utils.ts
Due: none

Bug 1988406: Added support for SSH key is now passed from simple to advanced wizard
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/Cloudinit.tsx
Due: ci/prow/kubevirt-plugin

Disable keyboard open
  frontend/packages/console-shared/src/components/quick-search/QuickSearchController.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModalBody.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearch.tsx
Due: none

Bug 1989462: MTV string chagnes
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vms/migration-tool/MigrationTool.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/migration-tool/MigrationToolContent.tsx
Due: ci/prow/kubevirt-plugin

rename-the-tags-in-gherkin-lintrc
  frontend/packages/dev-console/integration-tests/.gherkin-lintrc
  frontend/packages/dev-console/integration-tests/cypress.json
Due: none

Add CJK translation of Inspect link in monitoring
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
Due: none

updated test-cypress.sh file with helm details
  frontend/packages/dev-console/integration-tests/support/pageObjects/helm-po.ts
  frontend/packages/helm-plugin/integration-tests/cypress.json
  frontend/packages/helm-plugin/integration-tests/features/helm/actions-on-helm-release.feature
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/helm-details-page.ts
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/helm-page.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-release.ts
  test-cypress.sh
Due: none
