Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin

Bug 1946232: VM List can consume very high CPU
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/fixtures/nad.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/clone.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/migration.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/action.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/advanced-wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/selector.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/cdi-upload.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/baseVirtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.action.base.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.action.clone.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.action.migration.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.base.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.scheduling.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.list-filtering.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.resources.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.console.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.dashboard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmi.list-filtering.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/rhv/v2v.rhv.basic.import.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/vmware/v2v.import.windows.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/vmware/v2v.vmware.basic.import.scenario.ts
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/overview-dashboard/inventory.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/RemovalDiskAlert.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-status/lazy-vm-row-kebab.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-status/lazy-vm-status.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-status/vm-status.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/table-filters.ts
  frontend/packages/kubevirt-plugin/src/components/vms/virtualization.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-page-new.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/vm-status.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/selectors.ts
  frontend/packages/kubevirt-plugin/src/statuses/vm/vm-status.ts
  frontend/packages/kubevirt-plugin/src/topology/components/nodes/VmNode.tsx
  frontend/packages/kubevirt-plugin/src/types/vm/index.ts
Due: ci/prow/kubevirt-plugin

Disable broken test
  frontend/packages/dev-console/integration-tests/features/addFlow/developer-catalog-details.feature
Due: none

PF-2021-10.5 fix exception thrown with new dropdown
  frontend/package.json
  frontend/yarn.lock
Due: none

Add tekton hub tasks to pipeline builder
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/catalog.ts
  frontend/packages/console-shared/src/components/quick-search/QuickSearchContent.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchController.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchDetails.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchDetails.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModal.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModalBody.tsx
  frontend/packages/console-shared/src/components/quick-search/utils/quick-search-utils.tsx
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/catalog/const.ts
  frontend/packages/pipelines-plugin/src/components/catalog/hooks/useTaskCategories.ts
  frontend/packages/pipelines-plugin/src/components/catalog/hooks/useTaskResources.ts
  frontend/packages/pipelines-plugin/src/components/catalog/providers/index.ts
  frontend/packages/pipelines-plugin/src/components/catalog/providers/useTasksProvider.tsx
  frontend/packages/pipelines-plugin/src/components/catalog/providers/useTekonHubTasksProvider.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/hooks.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/update-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/InstallingNodeDecorator.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/InstallingNodeDecorator.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearch.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearchDetails.scss
  frontend/packages/pipelines-plugin/src/components/quicksearch/PiplineQuickSearchDetails.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/const.ts
  frontend/packages/pipelines-plugin/src/components/quicksearch/pipeline-quicksearch-utils.ts
  frontend/packages/pipelines-plugin/src/types/pipeline.ts
Due: none

Add access review checks
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/catalog.ts
  frontend/packages/console-shared/src/components/quick-search/QuickSearchContent.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchDetails.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModal.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModalBody.tsx
  frontend/packages/dev-console/src/components/catalog/catalog-view/CatalogView.tsx
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/catalog/hooks/useApiResponse.ts
  frontend/packages/pipelines-plugin/src/components/catalog/hooks/useTaskCategories.ts
  frontend/packages/pipelines-plugin/src/components/catalog/hooks/useTaskResources.ts
  frontend/packages/pipelines-plugin/src/components/catalog/providers/useTasksProvider.tsx
  frontend/packages/pipelines-plugin/src/components/catalog/providers/useTekonHubTasksProvider.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/hooks.ts
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearch.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearchDetails.scss
  frontend/packages/pipelines-plugin/src/components/quicksearch/PiplineQuickSearchDetails.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/pipeline-quicksearch-utils.ts
  frontend/packages/pipelines-plugin/src/types/tektonHub.ts
Due: none

Add new loading task type in pipeline builder
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/catalog.ts
  frontend/packages/console-shared/src/components/quick-search/QuickSearchContent.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchController.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchDetails.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchDetails.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModal.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModalBody.tsx
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/catalog/hooks/useApiResponse.ts
  frontend/packages/pipelines-plugin/src/components/catalog/providers/useTekonHubTasksProvider.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/form-switcher-validation.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/hooks.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebar.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarHeader.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/update-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/BuilderFinallyNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/LoadingNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/LoadingTask.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/LoadingTask.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/factories.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/utils.ts
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearch.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearchDetails.scss
  frontend/packages/pipelines-plugin/src/components/quicksearch/PiplineQuickSearchDetails.tsx
  frontend/packages/pipelines-plugin/src/types/pipeline.ts
  frontend/packages/pipelines-plugin/src/types/tektonHub.ts
Due: none

Add unit test for pipeline quick search
  frontend/packages/dev-console/src/components/catalog/catalog-view/CatalogView.tsx
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/hooks.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/utils.ts
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/pipeline-quicksearch-data.ts
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/pipeline-quicksearch-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/quicksearch/pipeline-quicksearch-utils.ts
Due: none

fix margin issue with ext details-card
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-external/details-card.tsx
Due: ci/prow/ceph-storage-plugin

expose VirtualizedGrid in dynamic SDK and use it in kubevirt
  frontend/dynamic-demo-plugin/console-extensions.json
  frontend/dynamic-demo-plugin/package.json
  frontend/dynamic-demo-plugin/src/components/VirtualizedGrid.tsx
  frontend/packages/console-dynamic-plugin-sdk/package.json
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-pkg-assets.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/types/VirtualizedGrid.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-api.ts
Due: none

Bug 1993788: VM creation (customize flow): storage class mismatch between actual SC and "Edit Disk" screen
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
Due: ci/prow/kubevirt-plugin

Move from v1veta to v1 for CSIDrivers Disable Ceph tests until downstream builds are ready with the updated versions
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/block-pool-delete.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/kms-encryption-sc.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/multiple-pool.spec.ts
  frontend/public/models/index.ts
Due: ci/prow/ceph-storage-plugin

Make customized template password a parameter
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/vm-common-templates-updater.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/create.ts
  frontend/packages/kubevirt-plugin/src/models/templates/vm-template-yaml.ts
Due: ci/prow/kubevirt-plugin

Improve sysprep helper text
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/sysprep/SysprepInfo.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/sysprep/sysprep-autounattend/SysprepAutounattendHelperPopup.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/sysprep/sysprep-unattend/SysprepUnattendHelperPopup.tsx
Due: ci/prow/kubevirt-plugin

Console 2537: Prompt the user to refresh on plugin change (UI changes)
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/console-operator/ConsoleOperatorConfig.tsx
Due: none

Console 2537: Prompt the user to refresh on plugin change (UI changes)
  frontend/packages/console-app/src/components/console-operator/ConsoleOperatorConfig.tsx
  frontend/public/locales/en/console-app.json
Due: none

Add help links to masthead so they can be translated
  frontend/packages/integration-tests-cypress/tests/i18n/pseudolocalization.spec.ts
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/locales/en/public.json
Due: none

Delete console-app.json
  frontend/public/locales/en/console-app.json
Due: none

Fix issues in Storage System List Page
  frontend/packages/ceph-storage-plugin/src/components/odf-system/odf-system-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-system/system-link.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-system/utils.ts
Due: ci/prow/ceph-storage-plugin

Prune styles no longer needed from getting started card
  frontend/packages/console-shared/src/components/getting-started/GettingStartedCard.scss
Due: none

Bug 1991439: i18n overlooked string
  frontend/public/components/routes.tsx
  frontend/public/locales/en/public.json
Due: none

StorageClass name displayed as a list in pool list page popover
  frontend/packages/ceph-storage-plugin/src/components/block-pool/block-pool-list-page.scss
  frontend/packages/ceph-storage-plugin/src/components/block-pool/block-pool-list-page.tsx
  frontend/packages/ceph-storage-plugin/src/utils/popover-helper.tsx
Due: ci/prow/ceph-storage-plugin

Expandable section in mirroring card is empty when no image found under a pool
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/mirroring-card.tsx
Due: ci/prow/ceph-storage-plugin

Bug 1975820: Handle patches for multiple plugins
  frontend/packages/console-shared/src/utils/console-plugin.ts
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
Due: none

Dont mark kubevirt provided and redhat supported templates as community templates
  frontend/packages/kubevirt-plugin/src/components/vm-templates/VMTemplateCommnunityLabel.tsx
Due: ci/prow/kubevirt-plugin

Bug 1994439: Review page of ODF wizard does not follow console guidelines
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/advanced-section.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/review-and-create-step/review-and-create-step.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/review-and-create-step/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/reducer.ts
  frontend/packages/ceph-storage-plugin/src/constants/create-storage-system.ts
Due: ci/prow/ceph-storage-plugin

Add checks for annotations in pipeline quicksearch utils
  frontend/packages/pipelines-plugin/src/components/quicksearch/PiplineQuickSearchDetails.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/pipeline-quicksearch-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/quicksearch/pipeline-quicksearch-utils.ts
Due: none

Fix NAD display issue for non-admin user
  frontend/packages/network-attachment-definition-plugin/console-extensions.json
  frontend/packages/network-attachment-definition-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/network-attachment-definition-plugin/package.json
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionDetails.tsx
  frontend/packages/network-attachment-definition-plugin/src/flags/check-nad-permissions.ts
  frontend/packages/network-attachment-definition-plugin/src/flags/const.ts
  frontend/packages/network-attachment-definition-plugin/src/flags/index.ts
Due: none

drag and resize quicksearch modal
  frontend/package.json
  frontend/packages/console-shared/src/components/quick-search/QuickSearchBar.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchBar.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchContent.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchContent.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchController.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchDetails.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchDetails.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModal.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModal.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModalBody.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModalBody.tsx
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearch.tsx
  frontend/packages/topology/src/components/quick-search/TopologyQuickSearch.tsx
  frontend/yarn.lock
Due: none

fix resource dropdown tech preview badge
  frontend/public/components/_resource-dropdown.scss
Due: none

fixes styles for revision and route list
  frontend/packages/knative-plugin/src/components/revisions/revision-table.ts
  frontend/packages/knative-plugin/src/components/routes/route-table.ts
Due: none

Bug 1992744: Incorrect spacing in ActionAlert component
  frontend/packages/ceph-storage-plugin/src/utils/common-ocs-install-el.tsx
Due: ci/prow/ceph-storage-plugin

use strict promoted template list
  frontend/packages/kubevirt-plugin/src/hooks/use-pinned-templates.ts
Due: ci/prow/kubevirt-plugin

Initial commit
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/hotplug.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/dialog.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/selector.ts
Due: ci/prow/kubevirt-plugin
