Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

add Quick Starts cta to create ProjectHelmChartRepository
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/catalog.ts
  frontend/packages/console-shared/src/components/catalog/CatalogController.tsx
  frontend/packages/console-shared/src/components/catalog/__tests__/CatalogController.spec.tsx
  frontend/packages/console-shared/src/components/catalog/hooks/useCatalogExtensions.ts
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/catalog/components/HelmCatalogTypeDescription.tsx
  frontend/packages/helm-plugin/src/catalog/index.ts
Due: none

Bug 2046594: "Requested template could not be found" while creating VM from user-created template
  frontend/packages/kubevirt-plugin/src/components/create-vm/create-vm.tsx
Due: ci/prow/kubevirt-plugin

Remove depracated v2v resources from plugin config
  frontend/packages/kubevirt-plugin/console-extensions.json
Due: ci/prow/kubevirt-plugin

Fix route annotations
  frontend/packages/dev-console/src/components/import/__mocks__/deployImage-validation-mock.ts
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/upload-jar-submit-utils.ts
  frontend/packages/dev-console/src/utils/__tests__/__snapshots__/shared-submit-utils.spec.ts.snap
  frontend/packages/dev-console/src/utils/resource-label-utils.ts
  frontend/packages/knative-plugin/src/topology/components/decorators/getServiceRouteDecorator.tsx
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/knative-plugin/src/utils/useRoutesURL.ts
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/UrlDecorator.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/__tests__/URLDecorator.spec.tsx
  frontend/packages/topology/src/data-transforms/useRoutesURL.ts
Due: none

can't send null should send undefined
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/create.ts
Due: ci/prow/kubevirt-plugin

check if the namespaced-hcr quickstart is available
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/catalog/components/HelmCatalogTypeDescription.tsx
  frontend/packages/helm-plugin/src/catalog/components/__tests__/HelmCatalogTypeDescription.spec.tsx
Due: none

Add empty state to running VMs card
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/EmptyState/EmptyStateNoVMs.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/VmStatusesSection.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/running-vms-per-template-card/RunningVMsPerTemplateCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/running-vms-per-template-card/running-vms-per-template-card.scss
Due: ci/prow/kubevirt-plugin

Fix TypeError when application has HelmRelease
  frontend/packages/topology/src/components/application-panel/TopologyApplicationResources.tsx
Due: none

docs/helm: update documentation according reviews
  docs/helm/configure-namespaced-helm-repos.md
Due: none

use prometheus tenancy URL to load data in devconsole observe dashboard
  frontend/public/components/monitoring/dashboards/bar-chart.tsx
  frontend/public/components/monitoring/dashboards/graph.tsx
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/single-stat.tsx
  frontend/public/components/monitoring/dashboards/table.tsx
Due: none

fix annotations on updating workload
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology-details.ts
  frontend/packages/topology/src/components/side-bar/providers/SideBarTabLoader.tsx
Due: none

set helm feature flag for project helm repositories
  frontend/packages/console-app/src/components/flags/FeatureFlagExtensionHookResolver.tsx
  frontend/packages/console-app/src/components/flags/FeatureFlagExtensionLoader.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/feature-flags.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/package.json
  frontend/packages/helm-plugin/src/models/helm.ts
  frontend/packages/helm-plugin/src/providers/__tests__/helm-detection-provider.spec.ts
  frontend/packages/helm-plugin/src/providers/helm-detection-provider.ts
  frontend/packages/helm-plugin/src/providers/index.ts
  frontend/packages/helm-plugin/src/utils/helm-detection-utils.ts
  frontend/packages/helm-plugin/src/utils/index.ts
  frontend/public/actions/features.ts
  frontend/public/components/app.jsx
Due: none

Update PF packages to release 2022-1
  frontend/package.json
  frontend/yarn.lock
Due: none

Monitoring: Redirect Prometheus UI format URLs to query browser page
  frontend/public/components/monitoring/alerting.tsx
Due: none

Init state should not assume PVC source type
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form-reducer.ts
Due: ci/prow/kubevirt-plugin

Fix Model does not exist when watching primer exports
  frontend/packages/topology/src/components/export-app/ExportApplication.tsx
  frontend/packages/topology/src/components/export-app/export-app-context.ts
Due: none

Add storage status to status card
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/VirtOverviewDetailsCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/VirtualizationOverviewPage.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/status-card/StatusCardStoragePopover.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/status-card/StorageHealthItem.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/status-card/VirtOverviewStatusCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/status-card/constants.ts
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/status-card/utils.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-kubevirt-storage-operator-csvs.ts
Due: ci/prow/kubevirt-plugin

defaulting to s2i if git type can't be figured out
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
Due: none

Bug 2030530: - Remove quotation marks surrounding VM pwd
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/initialize-vm.ts
Due: ci/prow/kubevirt-plugin

Switch OCP logo and title branding to use Red Hat OpenShift
  frontend/public/components/masthead.jsx
  frontend/public/imgs/openshift-platform-logo.svg
  frontend/public/index.html
Due: none

Uncomment and edit the automation code for ODC-6361
  frontend/packages/topology/integration-tests/features/topology/topology-workload-sidebar.feature
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/workload-sidebar.ts
Due: none

fix width of dropdowns in the applications tab
  frontend/packages/console-app/src/components/user-preferences/UserPreferenceForm.tsx
Due: none

Make namespace bar full width and sticky in console
  frontend/packages/dev-console/src/components/NamespacedPage.scss
  frontend/public/components/app-contents.tsx
  frontend/public/style/_layout.scss
  frontend/public/style/_overrides.scss
Due: none

fix topology list view
  frontend/packages/topology/src/components/list-view/TopologyListView.scss
  frontend/packages/topology/src/components/list-view/TopologyListView.tsx
  frontend/packages/topology/src/components/list-view/TopologyListViewAppGroup.tsx
  frontend/packages/topology/src/components/list-view/TopologyListViewUnassignedGroup.tsx
Due: none

Add brackets to nightlyl var
  test-cypress.sh
Due: none

test kubevirt gating
  frontend/package.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/cypress-kubevirt.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/plugins/index.js
  test-cypress.sh
Due: ci/prow/kubevirt-plugin

Customized wizard PVC name
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/os.tsx
  frontend/packages/kubevirt-plugin/src/types/types.ts
Due: ci/prow/kubevirt-plugin

fixing text visibility under "Token" text box
  frontend/packages/ceph-storage-plugin/src/components/kms-config/vault-auth-methods.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/vault-config.tsx
Due: ci/prow/ceph-storage-plugin

capitalization of titles first-word-only rule
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
Due: ci/prow/kubevirt-plugin

fix web terminal resize layout issue
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTerminal.scss
  frontend/public/style/_layout.scss
Due: none

Bug 2047371 - live snapshot is allowed with hotplugs
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/SnapshotsModal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshots.tsx
Due: ci/prow/kubevirt-plugin

improve import error message
  pkg/server/devfile-handler.go
Due: none

Bug 2048631: missing volumes list in snapshot modal
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/SupportedSnapshotVolumesList.tsx
Due: ci/prow/kubevirt-plugin

Show cluster name in URL
  frontend/packages/console-app/src/components/detect-cluster/cluster.ts
  frontend/public/actions/ui.ts
  frontend/public/components/app-contents.tsx
  frontend/public/components/app.jsx
  frontend/public/components/nav/nav-header.tsx
  frontend/public/components/utils/link.tsx
  frontend/public/components/utils/resource-link.tsx
Due: none

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
