Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

kubevirt-plugin: migrate docs links to access.redhat.com
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/consts.ts
  frontend/packages/kubevirt-plugin/src/components/form/helper/container-source-help.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/VMTemplateSupport.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm-templates/constants.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/default-os-selection.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-support-modal.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/basic.ts
  frontend/packages/kubevirt-plugin/src/utils/common.ts
  frontend/packages/kubevirt-plugin/src/utils/strings.ts
Due: ci/prow/kubevirt-plugin

operator-lifecycle-manager: migrate docs links to access.redhat.com
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
Due: none

dynamic-demo-plugin: migrate docs links to access.redhat.com
  dynamic-demo-plugin/README.md
Due: none

Bug 2015115: [feature] PCI passthrough - attach/detach HW modal to VM
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/HardwareDevicesList/HardwareDevicesList.tsx
  frontend/packages/kubevirt-plugin/src/components/HardwareDevicesList/HardwareDevicesListRow.tsx
  frontend/packages/kubevirt-plugin/src/components/HardwareDevicesList/HardwareDevicesListRowAddDevice.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/hardware-devices/HardwareDevicesModal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/hardware-devices/hardware-devices-context.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/types.ts
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/selectors/vm-like/next-run-changes.ts
  frontend/packages/kubevirt-plugin/src/utils/pending-changes.ts
Due: ci/prow/kubevirt-plugin

fix the serverless instalallation issues
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnCluster.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/knativeSubscriptions.ts
Due: none

fixing the topology scripts
  frontend/packages/topology/integration-tests/support/step-definitions/common/topology.ts
Due: none

Bug 2015115: [RFE] PCI passthrough - Add HW to create VM review
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/VirtualMachineHardware.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/create-vm-form.scss
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/create-vm-form.tsx
Due: ci/prow/kubevirt-plugin

Bug 1992961: Regular user cannot create VM because of an unclear error
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-storage-profile-settings.ts
Due: ci/prow/kubevirt-plugin

unexposed gerReferece from API's and use as internal utility for useK8sModel, useK8sWatchResource(s), and ResourceLink
  dynamic-demo-plugin/src/components/k8sConsumer/K8sAPIConsumer.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/api/core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/k8s-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/__tests__/k8s-ref.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-ref.ts
  frontend/packages/console-shared/src/hooks/useK8sModel.ts
  frontend/public/components/utils/k8s-watch-hook.ts
  frontend/public/components/utils/resource-link.tsx
Due: none

Bug 1992475: Add translation key for 'Disconnect' btn on vm console tab
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vms/vm-console/VMConsoles.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-console/connectors/SerialConsoleConnector.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-console/connectors/VncConsoleConnector.tsx
Due: ci/prow/kubevirt-plugin

CONSOLE-2870: Add notification drawer settings to User Preferences - add checkbox to filter user notifications
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/consts.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/status-card.tsx
  frontend/public/components/notification-drawer.tsx
  frontend/public/module/k8s/label-selector.js
Due: none

Update user workload notification user setting logic.
  frontend/packages/console-shared/src/constants/monitoring.ts
  frontend/packages/console-shared/src/hooks/useNotificationAlerts.ts
  frontend/public/actions/ui.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/status-card.tsx
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/components/notification-drawer.tsx
  frontend/public/reducers/ui.ts
Due: none

Bug 1997269, Bug 1815189: Fix API discovery edge cases
  frontend/__tests__/actions/k8s.spec.ts
  frontend/packages/dev-console/src/utils/__tests__/usePerspectiveDetection.spec.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/public/actions/k8s.ts
  frontend/public/components/app.jsx
  frontend/public/reducers/k8s.ts
Due: none

Bug 2020275: Fix ClusterOperators link
  frontend/public/components/cluster-settings/cluster-settings.tsx
Due: none

Bug 2011038: Render correct conditions for csv vs installplan and subscriptioncondition
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/public/components/conditions.tsx
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/types.ts
Due: none

VNC console login automation
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/cloud-init.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/provisionSource.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/console.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/wizard.ts
Due: ci/prow/kubevirt-plugin

add translation
  frontend/public/components/persistent-volume-claim.jsx
  frontend/public/locales/en/public.json
Due: none

Bug 2021337: Fix ResourceLink groupVersionKind
  frontend/public/components/utils/resource-link.tsx
Due: none

fixup! Bug 2008312: Add e2e test for Active Health Checks
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/active-health-checks.spec.ts
  frontend/packages/console-shared/src/components/dashboard/status-card/HealthItem.tsx
  frontend/packages/integration-tests-cypress/support/selectors.ts
Due: ci/prow/ceph-storage-plugin

migrate rhoas kafka and helm
  frontend/packages/helm-plugin/src/topology/components/helmComponentFactory.ts
  frontend/packages/rhoas-plugin/src/topology/components/rhoasComponentFactory.ts
Due: none

Dispatch name filter value to redux
  frontend/__tests__/components/factory/list-page.spec.tsx
  frontend/public/components/factory/list-page.tsx
Due: none

Bug 2000628: Fix creation of ibm storage system at backing storage step
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/utils/create-storage-system.ts
Due: ci/prow/ceph-storage-plugin

add kubevirt-internal pkg exports
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api-kubevirt.ts
  frontend/packages/console-dynamic-plugin-sdk/src/lib-internal-kubevirt.ts
Due: none

Bug 2015395: Table head on Affinity Rules modal is not fully expanded
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/affinity-modal.scss
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/connected-affinity-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/affinity-modal/helpers.ts
Due: ci/prow/kubevirt-plugin

Bug 2017469: key not a valid prop name causing display issue
  frontend/public/components/utils/value-from-pair.jsx
Due: none

moved verification interval into a useEffect
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
Due: none

omit extension when code ref resolution fails
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/__tests__/coderef-resolver.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/coderef-resolver.ts
Due: none

Create virtualization overview page and getting started card
  frontend/packages/console-shared/src/components/getting-started/GettingStartedCard.tsx
  frontend/packages/console-shared/src/components/getting-started/QuickStartGettingStartedCard.tsx
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/virtualization-overview/getting-started-card.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/virtualization-overview.ts
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/package.json
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/VirtualizationOverviewPage.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/getting-started-card/FeatureHighlightsCard.scss
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/getting-started-card/FeatureHighlightsCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/getting-started-card/GettingStartedContainerCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/getting-started-card/RecommendedOperatorsCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/getting-started-card/const.ts
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/getting-started-card/getting-started-container-card.scss
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/getting-started-card/recommended-operators-card.scss
  frontend/packages/kubevirt-plugin/src/image-files/operators_icon.svg
Due: ci/prow/kubevirt-plugin

Added MAC Spoof check for NAD
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinition.scss
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionsForm.tsx
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkTypeOptions.tsx
  frontend/packages/network-attachment-definition-plugin/src/constants/index.ts
  frontend/packages/network-attachment-definition-plugin/src/types/types.ts
Due: none

Bug 2015498: Fixes add capacity for MCG standalone
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-system/actions.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-system/odf-system-list.tsx
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Due: ci/prow/ceph-storage-plugin

Added support for common template change, now will update network device model
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/vm-common-templates-updater.ts
  frontend/packages/kubevirt-plugin/src/selectors/immutable/template/combined.ts
Due: ci/prow/kubevirt-plugin

Bug 2015549: Fix localization misses in TablePagination and Metrix components
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/table-pagination.tsx
  frontend/public/locales/en/public.json
Due: none

Adapt webpack 5 related code in dynamic plugin SDK
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/yarn.lock
  frontend/packages/console-dynamic-plugin-sdk/package.json
  frontend/packages/console-dynamic-plugin-sdk/scripts/package-definitions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/__tests__/shared-modules-init.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/__tests__/shared-modules-override.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/__tests__/plugin-loader.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-loader.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules-init.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules-override.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules.ts
  frontend/packages/console-dynamic-plugin-sdk/src/types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/test-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/ConsoleAssetPlugin.ts
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/ConsoleRemotePlugin.ts
  frontend/yarn.lock
Due: none

Bug 2022114: Don't log all proxy requests by default
  pkg/proxy/proxy.go
Due: none

Set larger widths for modals with modal-lg class
  frontend/public/components/modals/_modals.scss
Due: none

Use machine filter when on machine list page
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/machine.tsx
Due: none

Remove RowFilter type definition from filter-toolbar
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-shared/src/components/custom-resource-list/CustomResourceList.tsx
  frontend/packages/console-shared/src/components/custom-resource-list/__tests__/CustomResourceList.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/monitoring-alerts-utils.tsx
  frontend/packages/helm-plugin/src/utils/helm-utils.ts
  frontend/public/components/factory/list-page.tsx
  frontend/public/components/factory/table.tsx
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/types.ts
Due: none

Fix issue #9198
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/ConsoleAssetPlugin.ts
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/ConsoleRemotePlugin.ts
Due: none

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
