Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Remove orphaned Bootstrap and PatternFly styles
  frontend/public/vendor.scss
Due: none

CONSOLE-2361: remove orphaned styles
  frontend/public/style/_common.scss
  frontend/public/style/_icons.scss
Due: none

create vm by using customize wizard
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/regression/validate-nad-for-pxe.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/advanced-wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/selector-wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/selector.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/wizard.ts
Due: ci/prow/kubevirt-plugin

CONSOLE-2361: tidy base styles
  frontend/public/style/_base.scss
Due: none

copy shared hooks to kubevirt
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-debounce.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-deep-compare-memoize.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-previous.ts
  frontend/packages/kubevirt-plugin/src/utils/usePodsForVm.ts
Due: ci/prow/kubevirt-plugin

CNV-6071: UI for VM disk hot-plug
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/clone.ts
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/VMLabel.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/delete-disk-modal/delete-disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/HotplugFieldLevelHelp.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal-enhanced.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/storage-ui-source.ts
  frontend/packages/kubevirt-plugin/src/components/modals/save-and-restart-modal/save-and-restart-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/RemovalDiskAlert.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/disk-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-disks.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshot-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/ActionMessage.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/disk-bus.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/actions.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vmi/actions.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/data-volume-wrapper.ts
  frontend/packages/kubevirt-plugin/src/selectors/disks/hotplug.ts
  frontend/packages/kubevirt-plugin/src/types/api/V1AddVolumeOptions.ts
  frontend/packages/kubevirt-plugin/src/types/api/V1HotplugVolumeSource.ts
  frontend/packages/kubevirt-plugin/src/types/api/V1HotplugVolumeStatus.ts
  frontend/packages/kubevirt-plugin/src/types/api/V1RemoveVolumeOptions.ts
  frontend/packages/kubevirt-plugin/src/types/api/V1VirtualMachineVolumeRequest.ts
  frontend/packages/kubevirt-plugin/src/types/api/V1VolumeStatus.ts
  frontend/packages/kubevirt-plugin/src/types/api/index.ts
  frontend/packages/kubevirt-plugin/src/types/vm/index.ts
  frontend/packages/kubevirt-plugin/src/utils/pending-changes.ts
Due: ci/prow/kubevirt-plugin

Bug 1983707: filter null yaml ojbects before validating
  frontend/public/components/edit-yaml.jsx
Due: none

single-install test using RH CodeReady Workspaces Operator
  frontend/packages/integration-tests-cypress/views/list-page.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-global.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/views/operator.view.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
Due: none

global-install test using RH Service Binding Operator
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-global.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/views/operator.view.ts
  frontend/public/components/filter-toolbar.tsx
Due: none

Convert Bootstrap utility class small to PF equivalent
  frontend/packages/ceph-storage-plugin/src/utils/osd-size-dropdown.tsx
  frontend/packages/console-shared/src/components/dropdown/ResourceDropdown.tsx
  frontend/public/components/resource-dropdown.tsx
  frontend/public/components/search.tsx
  frontend/public/vendor.scss
Due: ci/prow/ceph-storage-plugin

disable Next if no configuration (MULTUS) is selected
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard.tsx
Due: ci/prow/ceph-storage-plugin

Pool list page
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/package.json
  frontend/packages/ceph-storage-plugin/src/components/block-pool/block-pool-list-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/block-pool/block-pool-menu-action.ts
  frontend/packages/ceph-storage-plugin/src/components/block-pool/create-block-pool.tsx
  frontend/packages/ceph-storage-plugin/src/components/block-pool/states.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/delete-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/update-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/queries/ceph-queries.ts
  frontend/packages/ceph-storage-plugin/src/utils/block-pool.tsx
  frontend/packages/ceph-storage-plugin/src/utils/common.tsx
  frontend/packages/ceph-storage-plugin/src/utils/popover-helper.tsx
Due: ci/prow/ceph-storage-plugin

(feat): Allow only object storage deployment
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/advanced-section.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-steps.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/reducer.ts
  frontend/packages/ceph-storage-plugin/src/constants/create-storage-system.ts
  frontend/packages/ceph-storage-plugin/src/utils/create-storage-system.ts
Due: ci/prow/ceph-storage-plugin

Add a tooltip to certified badge in helm catalog
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/catalog/utils/catalog-utils.tsx
Due: none

Update react-jsonschema-form package
  frontend/package.json
  frontend/packages/console-shared/src/components/dynamic-form/fields.tsx
  frontend/packages/console-shared/src/components/dynamic-form/index.tsx
  frontend/packages/console-shared/src/components/dynamic-form/templates.tsx
  frontend/packages/console-shared/src/components/dynamic-form/utils.spec.ts
  frontend/packages/console-shared/src/components/dynamic-form/utils.ts
  frontend/packages/console-shared/src/components/dynamic-form/widgets.tsx
  frontend/packages/console-shared/src/components/editor/YAMLEditorSidebar.tsx
  frontend/packages/console-shared/src/components/formik-fields/DynamicFormField.tsx
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/console-shared/src/utils/utils.ts
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradePage.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/EventSourceSection.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/conditions.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/utils.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/const.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/operand-form.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/utils.ts
  frontend/public/module/k8s/types.ts
  frontend/yarn.lock
Due: none

Fix cypress olm flake
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/views/operator.view.ts
Due: none

Added MTV to virtualization screen
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vms/migration-tool/MigrationTool.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/migration-tool/MigrationToolContent.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/migration-tool/migration-tool.scss
  frontend/packages/kubevirt-plugin/src/components/vms/virtualization.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-migration-tool.ts
  frontend/packages/kubevirt-plugin/src/models/index.ts
  frontend/packages/kubevirt-plugin/src/utils/migration-tool-utils.ts
Due: ci/prow/kubevirt-plugin

add Single-Node OpenShift to infrastructure features
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/index.ts
Due: none

fix source image test
  frontend/packages/kubevirt-plugin/integration-tests-cypress/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/cypress.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/customize-source.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/virtualization.ts
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/VMTemplateRow.tsx
Due: ci/prow/kubevirt-plugin

Fix missing build status translation in topology sidebar
  frontend/public/components/overview/build-overview.tsx
  frontend/public/locales/en/public.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Due: none

Fix smoke action to pause VM via UI and not kubectl
  frontend/packages/kubevirt-plugin/integration-tests-cypress/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/action.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/vm.ts
Due: ci/prow/kubevirt-plugin

Add multiple query support for IOPS, Throughput, and Latency
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/utilization-card.tsx
  frontend/packages/ceph-storage-plugin/src/queries/ceph-queries.ts
Due: ci/prow/ceph-storage-plugin

Add unit tests
  frontend/package.json
  frontend/packages/console-shared/src/components/alerts/SwitchToYAMLAlert.tsx
  frontend/packages/console-shared/src/components/form-utils/FormFooter.tsx
  frontend/packages/console-shared/src/components/formik-fields/EnvironmentField.tsx
  frontend/packages/console-shared/src/components/formik-fields/ResourceDropdownField.tsx
  frontend/packages/console-shared/src/components/formik-fields/SyncedEditorField.tsx
  frontend/packages/console-shared/src/components/formik-fields/YAMLEditorField.tsx
  frontend/packages/dev-console/src/components/edit-deployment/AdvancedSection.tsx
  frontend/packages/dev-console/src/components/edit-deployment/EditDeployment.tsx
  frontend/packages/dev-console/src/components/edit-deployment/EditDeploymentForm.tsx
  frontend/packages/dev-console/src/components/edit-deployment/EnvironmentVariablesSection.tsx
  frontend/packages/dev-console/src/components/edit-deployment/PauseRolloutsSection.tsx
  frontend/packages/dev-console/src/components/edit-deployment/__mocks__/MockForm.tsx
  frontend/packages/dev-console/src/components/edit-deployment/__mocks__/edit-deployment-data.ts
  frontend/packages/dev-console/src/components/edit-deployment/__tests__/AdvancedSection.spec.tsx
  frontend/packages/dev-console/src/components/edit-deployment/__tests__/DeploymentStrategySection.spec.tsx
  frontend/packages/dev-console/src/components/edit-deployment/__tests__/EditDeploymentForm.spec.tsx
  frontend/packages/dev-console/src/components/edit-deployment/__tests__/EnvironmentVariablesSection.spec.tsx
  frontend/packages/dev-console/src/components/edit-deployment/__tests__/ImagesSection.spec.tsx
  frontend/packages/dev-console/src/components/edit-deployment/__tests__/PauseRolloutsSection.spec.tsx
  frontend/packages/dev-console/src/components/edit-deployment/deployment-strategy/CustomStrategy.tsx
  frontend/packages/dev-console/src/components/edit-deployment/deployment-strategy/DeploymentStrategySection.tsx
  frontend/packages/dev-console/src/components/edit-deployment/deployment-strategy/RecreateStrategy.tsx
  frontend/packages/dev-console/src/components/edit-deployment/deployment-strategy/RollingStrategy.tsx
  frontend/packages/dev-console/src/components/edit-deployment/images/AdvancedImageOptions.tsx
  frontend/packages/dev-console/src/components/edit-deployment/images/ContainerImageField.tsx
  frontend/packages/dev-console/src/components/edit-deployment/images/ImagesSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/ScalingSection.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStream.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamTagDropdown.tsx
  frontend/packages/dev-console/src/components/import/section/FormSection.tsx
  frontend/public/components/factory/modal.tsx
  frontend/yarn.lock
Due: none

change display name
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/index.ts
Due: none

Replaced CDROM and rootDisk names, revised a translation
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/simple-create.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/disk-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/volume-wrapper.ts
  frontend/packages/kubevirt-plugin/src/utils/storage.ts
Due: ci/prow/kubevirt-plugin

(fix): Fix wizard requests
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/security-and-network-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/README.md
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/index.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/red-hat-ceph-storage/index.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/types.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/utils/create-storage-system.ts
Due: ci/prow/ceph-storage-plugin

Add react-router react-router-dom react-helmet as shared modules
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules.ts
Due: none

(feat): Add capacity and nodes step and review step to ODF wizard
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-steps.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/capacity-and-nodes-step/capacity-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/capacity-and-nodes-step/capacity-and-nodes.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/capacity-and-nodes-step/selected-nodes-table.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/connection-details-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/index.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/review-and-create-step/review-and-create-step.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/review-and-create-step/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/storage-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/capacity-and-nodes.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/select-capacity-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/utils/create-storage-system.ts
Due: ci/prow/ceph-storage-plugin

Update @patternfly/quickstarts to latest version
  frontend/package.json
  frontend/yarn.lock
Due: none

Minor fix to cnv_11794
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
Due: ci/prow/kubevirt-plugin

Bug 1976939: Interacting with CatalogSource page
  frontend/packages/integration-tests-cypress/support/selectors.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/catalog-source-details.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/views/catalog-source.view.ts
Due: none

Add create operand extension
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/create-operand.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.tsx
Due: none

create extensible git service hook
  frontend/packages/dev-console/src/components/import/devfile/devfileHooks.ts
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/git-service/src/services/__tests__/git-service.spec.ts
  frontend/packages/git-service/src/services/bitbucket-service.ts
  frontend/packages/git-service/src/services/git-service.ts
  frontend/packages/git-service/src/services/github-service.ts
  frontend/packages/git-service/src/services/gitlab-service.ts
  frontend/packages/git-service/src/services/hooks.ts
  frontend/packages/git-service/src/services/index.ts
  frontend/packages/git-service/src/types/git.ts
  frontend/packages/git-service/src/utils/__tests__/build-tool-detector.spec.ts
  frontend/packages/git-service/src/utils/__tests__/build-tool-type-detector.spec.ts
  frontend/packages/git-service/src/utils/__tests__/import-strategy-detector.spec.ts
  frontend/packages/git-service/src/utils/build-tool-detector.ts
  frontend/packages/git-service/src/utils/build-tool-type-detector.ts
  frontend/packages/git-service/src/utils/git-provider-detector.ts
  frontend/packages/git-service/src/utils/import-strategy-detector.ts
Due: none

Add create resource extension
  frontend/packages/ceph-storage-plugin/src/components/block-pool/create-block-pool.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/create-bc.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/create-bs-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/create-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/create-operand.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/create-resource.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/packages/console-shared/src/hooks/create-resource-hook.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-discovery/create-local-volume-discovery.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/create-local-volume-set.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/operand-yaml.tsx
  frontend/packages/operator-lifecycle-manager/src/plugin.tsx
  frontend/packages/operator-lifecycle-manager/src/style.scss
  frontend/public/components/app-contents.tsx
  frontend/public/components/create-resource.tsx
Due: ci/prow/ceph-storage-plugin

ODC-5577:Topology chart view automation
  frontend/packages/console-shared/src/components/quick-search/QuickSearchBar.tsx
  frontend/packages/dev-console/integration-tests/support/constants/staticText/global-text.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/topology/integration-tests/features/topology/topology-chart-area-visual.feature
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/chart-view.ts
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/ko/topology.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/packages/topology/src/components/page/TopologyEmptyState.tsx
  frontend/packages/topology/src/components/svg/SvgResourceIcon.tsx
  frontend/packages/topology/src/filters/KindFilterDropdown.tsx
  frontend/packages/topology/src/filters/TopologyFilterBar.tsx
Due: none

CONSOLE-2425: Support localization of dynamic plugins
  frontend/public/i18n.js
  pkg/plugins/handlers.go
  pkg/server/server.go
Due: none

Fix Pipeline Download All
  frontend/public/components/utils/line-buffer.ts
Due: none

CONSOLE-2877: Additional Operator badge for Single-Node Compatibility (#9577)
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/index.ts
Due: none

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
