Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

update localizedtoggletemplate to clear up i18n issue
  frontend/public/components/monitoring/table-pagination.tsx
  frontend/public/locales/en/public.json
Due: none

adpot devfile 2.2.0
  go.mod
  go.sum
  pkg/devfile/sample.go
  pkg/devfile/sample_test.go
  pkg/server/devfile-handler.go
  vendor/github.com/devfile/api/v2/LICENSE
  vendor/github.com/devfile/api/v2/pkg/apis/workspaces/v1alpha2/commands.go
  vendor/github.com/devfile/api/v2/pkg/apis/workspaces/v1alpha2/component_container.go
  vendor/github.com/devfile/api/v2/pkg/apis/workspaces/v1alpha2/component_image.go
  vendor/github.com/devfile/api/v2/pkg/apis/workspaces/v1alpha2/component_image_dockerfile.go
  vendor/github.com/devfile/api/v2/pkg/apis/workspaces/v1alpha2/component_volume.go
  vendor/github.com/devfile/api/v2/pkg/apis/workspaces/v1alpha2/components.go
  vendor/github.com/devfile/api/v2/pkg/apis/workspaces/v1alpha2/endpoint.go
  vendor/github.com/devfile/api/v2/pkg/apis/workspaces/v1alpha2/projects.go
  vendor/github.com/devfile/api/v2/pkg/apis/workspaces/v1alpha2/zz_generated.deepcopy.go
  vendor/github.com/devfile/api/v2/pkg/apis/workspaces/v1alpha2/zz_generated.getters.go
  vendor/github.com/devfile/api/v2/pkg/apis/workspaces/v1alpha2/zz_generated.parent_overrides.go
  vendor/github.com/devfile/api/v2/pkg/apis/workspaces/v1alpha2/zz_generated.plugin_overrides.go
  vendor/github.com/devfile/api/v2/pkg/apis/workspaces/v1alpha2/zz_generated.union_definitions.go
  vendor/github.com/devfile/api/v2/pkg/validation/commands.go
  vendor/github.com/devfile/api/v2/pkg/validation/components.go
  vendor/github.com/devfile/api/v2/pkg/validation/errors.go
  vendor/github.com/devfile/api/v2/pkg/validation/projects.go
  vendor/github.com/devfile/api/v2/pkg/validation/validation-rule.md
  vendor/github.com/devfile/api/v2/pkg/validation/variables/variables_command.go
  vendor/github.com/devfile/api/v2/pkg/validation/variables/variables_component.go
  vendor/github.com/devfile/api/v2/pkg/validation/variables/variables_project.go
  vendor/github.com/devfile/library/pkg/devfile/generator/generators.go
  vendor/github.com/devfile/library/pkg/devfile/generator/utils.go
  vendor/github.com/devfile/library/pkg/devfile/parser/context/apiVersion.go
  vendor/github.com/devfile/library/pkg/devfile/parser/data/v2/2.2.0/devfileJsonSchema220.go
  vendor/github.com/devfile/library/pkg/devfile/parser/data/v2/commands.go
  vendor/github.com/devfile/library/pkg/devfile/parser/data/v2/common/component_helper.go
  vendor/github.com/devfile/library/pkg/devfile/parser/data/v2/components.go
  vendor/github.com/devfile/library/pkg/devfile/parser/data/versions.go
  vendor/github.com/devfile/library/pkg/devfile/parser/devfileobj.go
  vendor/github.com/devfile/library/pkg/devfile/parser/parse.go
  vendor/modules.txt
Due: none

save the telemetry client name in a constant
  pkg/devfile/sample.go
Due: none

run go fmt
  pkg/devfile/sample.go
  pkg/server/devfile-handler.go
Due: none

omit extension when code ref resolution fails
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/__tests__/coderef-resolver.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/coderef-resolver.ts
Due: none

[release-4.8]Bug 2009224: Regular user cannot restore VM snapshot
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-restore-modal/snapshot-restore-modal.tsx
Due: ci/prow/kubevirt-plugin

VM dynamic actions
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/dynamic-actions.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector-wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/wizard.ts
Due: ci/prow/kubevirt-plugin

close modal after redirect to export primer
  frontend/public/components/modals/delete-modal.tsx
Due: none

Bug 2000628: Fix creation of ibm storage system at backing storage step
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/utils/create-storage-system.ts
Due: ci/prow/ceph-storage-plugin

internal-kubevirt npm pkg patches
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api-kubevirt.ts
  frontend/packages/console-shared/src/components/editor/YAMLEditor.tsx
  frontend/packages/topology/src/components/list-view/TopologyListViewNode.tsx
  frontend/packages/topology/src/components/list-view/cells/CpuCell.tsx
  frontend/packages/topology/src/components/list-view/cells/MemoryCell.tsx
Due: none

fix issue with standalone dashboards (4.9 backport)
  frontend/packages/ceph-storage-plugin/src/components/dashboards/ocs-system-dashboard.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/odf-system-dashboard.tsx
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Due: ci/prow/ceph-storage-plugin

Set larger widths for modals with modal-lg class
  frontend/public/components/modals/_modals.scss
Due: none

Remove table class causing bug.
  frontend/public/style/_overrides.scss
Due: none

Adjust Console plugin SDK dist pkg compilation
  frontend/packages/console-dynamic-plugin-sdk/package.json
Due: none

Monitoring dashboards: Translate "All" options to `.+` regex
  frontend/public/components/monitoring/dashboards/index.tsx
Due: none

Added jan as approver to all plugin folders
  frontend/packages/dev-console/integration-tests/OWNERS
  frontend/packages/gitops-plugin/integration-tests/OWNERS
  frontend/packages/helm-plugin/integration-tests/OWNERS
  frontend/packages/knative-plugin/integration-tests/OWNERS
  frontend/packages/pipelines-plugin/integration-tests/OWNERS
  frontend/packages/topology/integration-tests/OWNERS
Due: none

Monitoring dashboards: Fix switching from "All" option to other option
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/types.ts
Due: none

Fix LVS warning message (LSO wizard)
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/create-local-volume-set-step.tsx
Due: ci/prow/ceph-storage-plugin

cluster-dashboard: exclude iowait and steal from CPU Utilisation
  frontend/packages/console-shared/src/promql/cluster-dashboard.ts
Due: none

Create Virtualization Overview Details Card
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/VirtOverviewDetailsCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/VirtualizationOverviewPage.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-kubevirt-csv-details.ts
Due: ci/prow/kubevirt-plugin

chore(i18n): update translations
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/gitops-plugin/locales/ja/gitops-plugin.json
  frontend/packages/gitops-plugin/locales/ko/gitops-plugin.json
  frontend/packages/gitops-plugin/locales/zh/gitops-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/network-attachment-definition-plugin/locales/ko/kubevirt-plugin.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Due: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Bug 2015115: [RFE] PCI passthrough - add hardware to wizard redux
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/actions.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/advanced-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/internal-actions.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/reducers.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/types.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/hardware-devices/selectors.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
Due: ci/prow/kubevirt-plugin

Create Virtualization Overview Status card
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/VirtOverviewStatusCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/VirtualizationOverviewPage.tsx
  frontend/packages/kubevirt-plugin/src/models/index.ts
Due: ci/prow/kubevirt-plugin

Test for Win10 CDROM migration
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/win-cdrom-migration.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/provisionSource.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector-wizard.ts
Due: ci/prow/kubevirt-plugin

Bug 2015115: [RFE] PCI passthrough - align hardware list rows
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/HardwareDevicesList/HardwareDevicesList.tsx
  frontend/packages/kubevirt-plugin/src/components/HardwareDevicesList/HardwareDevicesListRow.tsx
  frontend/packages/kubevirt-plugin/src/components/HardwareDevicesList/HardwareDevicesListRowAddDevice.tsx
  frontend/packages/kubevirt-plugin/src/components/HardwareDevicesList/hardware-devices.scss
  frontend/packages/kubevirt-plugin/src/components/modals/hardware-devices/GPUDeviceModal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/hardware-devices/HardwareDevicesModal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/hardware-devices/HostDevicesModal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/hardware-devices/consts.ts
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/utils/pending-changes.ts
Due: ci/prow/kubevirt-plugin

clean up files for components which have been migrated to dynamic extensions
  frontend/packages/helm-plugin/src/topology/TopologyHelmWorkloadPanel.tsx
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/components/overview/KnativeResourceOverviewPage.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/KnativeResourceOverviewPage.spec.tsx
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/side-bar/SelectedEntityDetails.tsx
  frontend/packages/topology/src/components/side-bar/TopologyEdgePanel.tsx
  frontend/packages/topology/src/components/side-bar/TopologyResourcePanel.tsx
Due: none

Bug 1999619: #cloud-config is now added to yaml
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/initialize-vm.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/volume-wrapper.ts
Due: ci/prow/kubevirt-plugin

fix broken argo cd link image
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetails.tsx
  frontend/packages/gitops-plugin/src/images/argo.png
Due: none

frontend: package.json: migrate from Node Sass to Dart Sass
  frontend/package.json
  frontend/public/components/_build-pipeline.scss
  frontend/webpack.config.ts
Due: none

add toast for import
  frontend/__tests__/components/route-pages.spec.tsx
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/__mocks__/import-toast-mock.ts
  frontend/packages/dev-console/src/components/import/toast/ImportToastContent.tsx
  frontend/packages/dev-console/src/components/import/toast/__tests__/ImportToastContent.spec.tsx
  frontend/public/components/routes.tsx
  frontend/public/components/utils/link.tsx
  frontend/public/locales/en/public.json
  frontend/public/style/_common.scss
Due: none

frontend: Update yarn lock
  frontend/yarn.lock
Due: none

Bug 2015115: [RFE] PCI passthrough - Add hardware devices to advanced wizard
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/HardwareDevicesList/hardware-devices.scss
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/main-actions/create-vm.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/AdvancedTab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/hardware-devices/GPUDevices.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/hardware-devices/HardwareDevices.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/hardware-devices/HostDevices.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/review-tab/advanced-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/vm-settings-tab.tsx
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/initialize-vm.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/types.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/vm-wrapper.ts
  frontend/packages/kubevirt-plugin/src/utils/strings.ts
Due: ci/prow/kubevirt-plugin

Home Overview Virtualization status verification
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/home-overview.spec.ts
Due: ci/prow/kubevirt-plugin

fix: devfiles are now fetched correctly
  frontend/packages/dev-console/src/components/catalog/providers/useDevfile.tsx
  frontend/packages/dev-console/src/components/catalog/providers/useDevfileSamples.tsx
  pkg/server/devfile-handler.go
  pkg/server/server.go
Due: none

Update PF packages to release 2021-15
  frontend/package.json
  frontend/yarn.lock
Due: none

delete orphaned code
  frontend/__mocks__/catalogItemsMocks.ts
  frontend/__tests__/module/k8s/k8s-models.spec.ts
  frontend/__tests__/reducers/features.spec.tsx
  frontend/integration-tests/protractor.conf.ts
  frontend/integration-tests/tests/alertmanager.scenario.ts
  frontend/integration-tests/tests/monitoring.scenario.ts
  frontend/integration-tests/views/catalog.view.ts
  frontend/packages/console-shared/src/constants/common.ts
  frontend/packages/integration-tests-cypress/tests/crud/other-routes.spec.ts
  frontend/packages/operator-lifecycle-manager/mocks.ts
  frontend/public/actions/features.ts
  frontend/public/components/_cluster-service-instance.scss
  frontend/public/components/_resource.scss
  frontend/public/components/alert-manager.tsx
  frontend/public/components/app-contents.tsx
  frontend/public/components/broker-management.tsx
  frontend/public/components/catalog/catalog-item-icon.tsx
  frontend/public/components/chargeback.tsx
  frontend/public/components/cluster-service-broker.tsx
  frontend/public/components/cluster-service-class-info.tsx
  frontend/public/components/cluster-service-class.tsx
  frontend/public/components/cluster-service-plan.tsx
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/nav/admin-nav.tsx
  frontend/public/components/nav/section.tsx
  frontend/public/components/provisioned-services.tsx
  frontend/public/components/resource-pages.ts
  frontend/public/components/service-binding.tsx
  frontend/public/components/service-instance.tsx
  frontend/public/components/utils/horizontal-nav.tsx
  frontend/public/components/utils/link.tsx
  frontend/public/locales/en/public.json
  frontend/public/models/index.ts
  frontend/public/models/yaml-templates.ts
  frontend/public/reducers/features.ts
  frontend/public/style.scss
  frontend/public/style/_text.scss
  frontend/public/style/_vars.scss
Due: none

temp fix for menu scroll bug
  frontend/packages/console-shared/src/components/namespace/NamespaceDropdown.scss
  frontend/packages/console-shared/src/components/namespace/NamespaceDropdown.tsx
Due: none

Bug 2006067: Fix OLM error handling
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/install-plan.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/install-plan.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-install-page.tsx
  frontend/packages/operator-lifecycle-manager/src/models.ts
  frontend/public/components/modals/error-modal.jsx
  frontend/public/components/modals/error-modal.tsx
  frontend/public/locales/en/public.json
Due: none

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
