Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin

Add field level help at various OCS pages. - Adds help text in dashboards. - Adds help text in installation flow.
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/raw-capacity-card/raw-capacity-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboard-page/storage-dashboard/utilization-card/utilization-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/capacity-and-nodes.tsx
  frontend/packages/noobaa-storage-plugin/locales/en/noobaa-storage-plugin.json
  frontend/packages/noobaa-storage-plugin/src/components/bucket-class/wizard-pages/general-page.tsx
  frontend/packages/noobaa-storage-plugin/src/components/buckets-card/buckets-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/capacity-breakdown/capacity-breakdown-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/data-consumption-card/data-consumption-card.tsx
  frontend/packages/noobaa-storage-plugin/src/components/resource-providers-card/resource-providers-card.tsx
Due: ci/prow/ceph-storage-plugin

fix delete app modal error when resource not found
  frontend/packages/knative-plugin/src/topology/__tests__/data-transformer.spec.ts
  frontend/packages/topology/src/utils/application-utils.ts
Due: none

use sessionStorage for user-settings when impersonating
  frontend/packages/console-shared/src/hooks/__tests__/useUserSettings.spec.ts
  frontend/packages/console-shared/src/hooks/useUserSettings.ts
  frontend/packages/console-shared/src/hooks/useUserSettingsLocalStorage.ts
Due: none

Always use dataVolumeTemplate for user templates. Do not change user template VM spec when creating VM.
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/error-components/resource-load-errors.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/vm-settings-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/prefill-vm-template-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/vm-settings-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/selectors/immutable/storage.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/vm-wizard-storage-modal-enhanced.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/clone-pvc-source.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/vm-settings-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/storage-ui-source.ts
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-source.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/provision-source.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/create.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/initialize-vm.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/simple-create.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/vm-wrapper.ts
  frontend/packages/kubevirt-plugin/src/utils/index.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/vm/vm.ts
Due: ci/prow/kubevirt-plugin

[interop-ui-tests] update scenarios
  frontend/packages/dev-console/integration-tests/features/helm/actions-on-HelmRelease.feature
  frontend/packages/dev-console/integration-tests/features/helm/helm-Installation-View.feature
  frontend/packages/dev-console/integration-tests/features/helm/helm-Navigation.feature
  frontend/packages/dev-console/integration-tests/features/helm/install-HelmChart.feature
  frontend/packages/dev-console/integration-tests/features/helm/topology-HelmRelease.feature
Due: none

[interop-ui-tests] add empty line to avoid linter issue
  frontend/packages/dev-console/integration-tests/features/helm/helm-Installation-View.feature
Due: none

updated Readme with QE code review and automation process
  frontend/packages/dev-console/integration-tests/README.md
Due: none

Bug 1921836: Internationalize AccessTableRows
  frontend/public/components/api-explorer.tsx
  frontend/public/locales/en/public.json
Due: none

Address review comments & fix ESLint issues
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-manifest.ts
  frontend/public/plugins.ts
Due: none

Fix crash when loaded is true but the data set doesn't include the pods
  frontend/public/components/daemon-set.tsx
  frontend/public/components/deployment-config.tsx
  frontend/public/components/stateful-set.tsx
Due: none

fix pipeline rerun when pipelineSpec is embedded
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/__tests__/utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/utils.ts
  frontend/packages/pipelines-plugin/src/test-data/pipeline-data.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-actions.tsx
  frontend/packages/pipelines-plugin/src/utils/pipeline-augment.ts
Due: none

reduce thickness of donut chart in selected capacity
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/donut-chart.tsx
Due: ci/prow/ceph-storage-plugin

Updated accessMode and volumeMode for common-template without source pvc from storage class if exist
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-update-data-volume.ts
Due: ci/prow/kubevirt-plugin

project dropdown should close after user pick a project
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/select-template.tsx
Due: ci/prow/kubevirt-plugin

Data sanity was false
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/container-source.tsx
Due: ci/prow/kubevirt-plugin

added cypress scripts for pipeline triggers
  frontend/packages/dev-console/integration-tests/cypress.json
  frontend/packages/dev-console/integration-tests/features/pipelines/pipelines-triggers.feature
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/pipelines/pipelineDetails-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/pipelines/pipelines-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/topology.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/pipelines/pipelines-secrets.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/pipelines/pipelines-triggers.ts
Due: none

test: don't hard-code artifact dir path
  test-backend.sh
Due: none

[feat] claim 류 메뉴 추가
  frontend/public/models/hypercloud/index.ts
Due: none

[feat] ResourceListDropdown 컴포넌트 추가
  frontend/public/components/hypercloud/utils/resource-list-dropdown.tsx
Due: none

[feat] ResourceListDropdown 예시 추가
  frontend/public/components/hypercloud/create-sample.tsx
Due: none

[feat] service broker 바뀐 기획 반영
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/hypercloud/service-broker.tsx
Due: none

[feat] 파이프라인런 리스트 필터 적용
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/hypercloud/pipeline-run.tsx
Due: none

[refactor] plural 없이도 create-sample 페이지 뜨게 수정
  frontend/public/components/hypercloud/form/create-form.tsx
Due: none

[refactor] 리소스 리스트 드롭다운 일부 문구 resourceType 넣도록 수정
  frontend/public/components/hypercloud/create-sample.tsx
  frontend/public/components/hypercloud/utils/resource-list-dropdown.tsx
Due: none

revert endlines to backslach
  frontend/packages/kubevirt-plugin/integration-tests/tests/mocks/mocks.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.base.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.guest.agent.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.dashboard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.environment.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vmi.overview.scenario.ts
Due: ci/prow/kubevirt-plugin

[feat] cluster service class에 plan detail tab 구현
  frontend/public/components/hypercloud/cluster-service-class.tsx
  frontend/public/components/hypercloud/cluster-service-plan.tsx
Due: none

Fix poweroff modal
  frontend/packages/metal3-plugin/locales/en/metal3-plugin.json
  frontend/packages/metal3-plugin/src/components/modals/PowerOffHostModal.tsx
Due: none

[feat] federated service 동적 form editor 생성되게 추가
  frontend/public/components/hypercloud/form/index.ts
Due: none

[feat] Webhook endpoint 변경 및 https 변경
  cmd/bridge/main.go
  examples/run-bridge.sh
Due: none

added piplines workspaces scripts
  frontend/packages/dev-console/integration-tests/features/pipelines/pipelines-workspaces.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/pipelines-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/pipelines/pipelines-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/pipelines/pipelines-workspaces.ts
  frontend/packages/dev-console/integration-tests/testData/pipelines/pipelines-workspaces/pipeline-with-workspace.yaml
Due: none

[feat] 서비스브로커, 파이프라인 재발행된 기획 반영
  frontend/public/components/hypercloud/pipeline.tsx
  frontend/public/components/hypercloud/service-broker.tsx
Due: none

Update Insights widget state
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
  frontend/packages/insights-plugin/src/components/InsightsPopup/mappers.ts
  frontend/packages/insights-plugin/src/components/InsightsPopup/status.ts
Due: none

[feat] audit 페이지 시간 수정
  frontend/public/components/hypercloud/audit.jsx
Due: none

[feat] Dockerfile 수정 (config 폴더 생성 및 권한 부애)
  Dockerfile
Due: none

add missing trigger types and update the optional fields
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/EventListenerDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/EventListenerTriggers.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/__tests__/EventListenerDetails.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/resource-types/triggers.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/triggers.ts
  frontend/packages/pipelines-plugin/src/test-data/event-listener-data.ts
Due: none

Show links to common templates
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/VMDetailsItem.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/VMDetailsItemTemplate.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/types.ts
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vmi-details-page.tsx
  frontend/packages/kubevirt-plugin/src/topology/TopologyVmDetailsPanel.tsx
Due: ci/prow/kubevirt-plugin

Dont link to missing quickstarts
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinition.tsx
Due: ci/prow/kubevirt-plugin

Fix direct manipulation of state and clone the state before modifying the object
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
Due: ci/prow/ceph-storage-plugin

Remove Kanika from Maintainers file
  frontend/packages/ceph-storage-plugin/OWNERS
  frontend/packages/noobaa-storage-plugin/OWNERS
Due: ci/prow/ceph-storage-plugin
