Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

color matching of highlight border
  frontend/packages/console-shared/src/components/spotlight/StaticSpotlight.tsx
  frontend/packages/console-shared/src/components/spotlight/spotlight.scss
Due: none

move ObjectEnum from console-shared to dynamic plugin sdk
  frontend/packages/kubevirt-plugin/integration-tests-cypress/enums/provisionSource.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/baseVMBuilder.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachineTemplate.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/enums/provisionSource.ts
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/storage-ui-source.ts
  frontend/packages/kubevirt-plugin/src/constants/index.ts
  frontend/packages/kubevirt-plugin/src/constants/object-enum.ts
  frontend/packages/kubevirt-plugin/src/constants/select-dropdown-object-enum.ts
  frontend/packages/kubevirt-plugin/src/constants/status-enum.ts
  frontend/packages/kubevirt-plugin/src/constants/status-group.ts
  frontend/packages/kubevirt-plugin/src/constants/v2v-import/ovirt/ovirt-disk-bus.ts
  frontend/packages/kubevirt-plugin/src/constants/v2v-import/ovirt/ovirt-network-interface-model.ts
  frontend/packages/kubevirt-plugin/src/constants/v2v-import/ovirt/v2v-vm-import-status.ts
  frontend/packages/kubevirt-plugin/src/constants/v2v-import/ovirt/vm-import-type.ts
  frontend/packages/kubevirt-plugin/src/constants/v2v-import/vmware/vmware-firmware.ts
  frontend/packages/kubevirt-plugin/src/constants/vm-templates/support.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/console-type.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/default-os-selection.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/flavor.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/network/network-interface-model.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/network/network-interface-type.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/network/network-type.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/provision-source.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/access-mode.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/data-volume-source-type.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/disk-bus.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/disk-type.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/volume-mode.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/volume-type.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/vm-status.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/workload-profile.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/common/__tests__/mocks/smoothie-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/common/k8s-resource-object-with-type-property-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/common/object-with-type-property-wrapper.ts
  frontend/packages/kubevirt-plugin/src/statuses/pod-deployment/constants.ts
  frontend/packages/kubevirt-plugin/src/statuses/v2v/constants.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/template/template-validations.ts
Due: ci/prow/kubevirt-plugin

Bug 1978222: make Users list empty state message more clear
  frontend/packages/console-shared/src/hooks/oauth.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/cluster-setup-identity-provider-link.ts
  frontend/public/components/user.tsx
  frontend/public/locales/en/public.json
Due: none

Bug 1976072: Ignore deprecated descriptor x-capabilities
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/utils.tsx
Due: none

Small changes and fixes for advanced tab
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/AdvancedTab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/Cloudinit.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/CloudinitForm.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/CloudinitFormOrYamlSelector.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/CloudinitInfoHelper.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/cloud-init.scss
  frontend/packages/kubevirt-plugin/src/utils/validations/cloudint-utils.ts
Due: ci/prow/kubevirt-plugin

login function fix
  frontend/packages/integration-tests-cypress/support/login.ts
Due: none

Bug 1978225: add alert when new IDP is added
  frontend/public/components/cluster-settings/index.ts
  frontend/public/components/cluster-settings/oauth.tsx
  frontend/public/locales/en/public.json
Due: none

updated isPseudoLocalized() to correctly process multiple elements
  frontend/packages/console-shared/src/components/dashboard/dashboard-card/DashboardCardTitle.tsx
  frontend/packages/integration-tests-cypress/support/i18n.ts
  frontend/packages/integration-tests-cypress/tests/i18n/pseudolocalization.spec.ts
  frontend/packages/integration-tests-cypress/views/list-page.ts
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/cluster-settings.ts
Due: none

Migrate Helm actions on topology to use the new extensions
  frontend/packages/helm-plugin/src/topology/components/helmComponentFactory.ts
  frontend/packages/topology/src/actions/contextMenuActions.tsx
  frontend/packages/topology/src/components/graph-view/components/nodeContextMenu.tsx
Due: none

Adding comment for initial setup
  frontend/public/components/monitoring/alert-logs.tsx
Due: none

Bug 1980548: Add missing plugin locales folders to webpack config
  frontend/public/i18n.js
  frontend/webpack.config.ts
Due: none

removed deployment history page refs for 4.9
  frontend/packages/gitops-plugin/src/components/GitOpsDetailsPage.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsDeploymentSuccessSection.scss
  frontend/packages/gitops-plugin/src/components/details/GitOpsDeploymentSuccessSection.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetails.scss
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetails.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetailsController.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetailsNavBar.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsResourcesSection.tsx
  frontend/packages/gitops-plugin/src/components/utils/gitops-types.ts
Due: none

add vm clone and migration tests
  frontend/packages/kubevirt-plugin/integration-tests-cypress/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/cypress.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/fixtures/cdi-cloner.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/fixtures/nad.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/clone.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/migration.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/customize-source.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/actions.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/clone.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/dialog.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/selector.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/tab.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/vm.ts
Due: ci/prow/kubevirt-plugin

pipeline-plugin scripts are updated
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/pipelines-plugin/integration-tests/cypress.json
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/pipelines-plugin/integration-tests/support/commands/hooks.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-actions.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-runs.ts
Due: none

Monitoring dashboards: Support units for graph Y-axes
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/dashboards/graph.tsx
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/single-stat.tsx
  frontend/public/components/monitoring/dashboards/table.tsx
  frontend/public/components/monitoring/dashboards/types.ts
  frontend/public/components/monitoring/format.tsx
  frontend/public/components/monitoring/query-browser.tsx
Due: none

i18n with notification-drawer-heading
  frontend/packages/patternfly/src/components/notification-drawer/notification-drawer-heading.tsx
  frontend/public/locales/en/public.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Due: none

Add proxy endpoint for Prometheus targets
  pkg/server/server.go
Due: none

Conversion of bootstrap col grid and visibility classes to similar PF4 classes
  frontend/public/components/RBAC/role.jsx
  frontend/public/components/api-explorer.tsx
  frontend/public/components/chargeback.tsx
  frontend/public/components/cluster-settings/cluster-operator.tsx
  frontend/public/components/job.tsx
  frontend/public/components/machine-autoscaler.tsx
  frontend/public/components/machine-config-pool.tsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/volumes-table.tsx
  frontend/public/style/_overrides.scss
Due: none

Remove Bootstrap 3/PatternFly 3 button, button-group styles
  frontend/integration-tests/views/catalog-page.view.ts
  frontend/packages/ceph-storage-plugin/src/utils/time-duration-dropdown.tsx
  frontend/packages/kubevirt-plugin/src/components/edit-button.tsx
  frontend/public/components/RBAC/role.jsx
  frontend/public/components/_dropdown.scss
  frontend/public/components/api-explorer.tsx
  frontend/public/components/events.jsx
  frontend/public/components/pod-exec.jsx
  frontend/public/components/utils/dropdown.jsx
  frontend/public/components/utils/request-size-input.tsx
  frontend/public/style/_common.scss
  frontend/public/style/_overrides.scss
  frontend/public/vendor.scss
Due: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Bug 1977595: pseudo translation missing on OperatorHub page
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  frontend/public/components/utils/tile-view-page.jsx
  frontend/public/locales/en/public.json
Due: none

update devconsole empty state pages
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/ProjectSelectPage.tsx
  frontend/packages/dev-console/src/components/ProjectsExistWrapper.tsx
  frontend/packages/dev-console/src/components/SearchPage.tsx
  frontend/packages/dev-console/src/components/__tests__/ProjectsExistWrapper.spec.tsx
  frontend/packages/dev-console/src/components/add/AddPage.tsx
  frontend/packages/dev-console/src/components/add/__tests__/AddPage.spec.tsx
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/topology/src/__tests__/TopologyPage.spec.tsx
  frontend/packages/topology/src/components/page/TopologyPage.tsx
  frontend/public/components/search.tsx
  frontend/public/components/start-guide.tsx
Due: none

CONSOLE-2361: remove Bootstrap 3/PatternFly 3 dropdown styles
  frontend/integration-tests/views/crud.view.ts
  frontend/packages/ceph-storage-plugin/src/components/block-pool/body.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/backing-store-dropdown.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/namespace-store-dropdown.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/capacity-and-nodes.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/public/components/_dropdown.scss
  frontend/public/components/utils/dropdown.jsx
  frontend/public/components/utils/kebab.tsx
  frontend/public/style/_common.scss
  frontend/public/vendor.scss
Due: ci/prow/ceph-storage-plugin

Masthead dropdown opt not accessibl via keyboard
  frontend/packages/console-app/src/components/tour/GuidedTourMastheadTrigger.tsx
  frontend/public/components/masthead-toolbar.jsx
Due: none

CONSOLE-2361: Remove orphaned PatternFly 3 notifications drawer, toolbar css
  frontend/public/style/_overrides.scss
  frontend/public/vendor.scss
Due: none

single-install test using RH CodeReady Workspaces Operator
  frontend/packages/integration-tests-cypress/views/list-page.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-global.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/views/operator.view.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
Due: none

CONSOLE-2361: Remove orphaned Bootstrap 3 input-group styles
  frontend/public/components/modals/_modals.scss
  frontend/public/vendor.scss
Due: none

Remove orphaned patternfly-react 3 styles and patternfly-react 3 dependency
  frontend/package.json
  frontend/packages/kubevirt-plugin/src/style.scss
  frontend/packages/operator-lifecycle-manager/src/style.scss
  frontend/public/style/_overrides.scss
  frontend/yarn.lock
Due: ci/prow/kubevirt-plugin

global-install test using RH Service Binding Operator
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-global.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/views/operator.view.ts
Due: none

Shows error if multiple credentials are in a default secret
  frontend/public/components/modals/configure-ns-pull-secret-modal.jsx
  frontend/public/locales/en/public.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Due: none

add dynamic extension for user preferences
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/user-preferences.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
Due: none

NETOBSERV-1 Create NetworkPolicy dialog
  frontend/packages/console-app/src/__tests__/network-policies/create-network-policy.spec.tsx
  frontend/packages/console-app/src/__tests__/network-policies/network-policy-model.spec.ts
  frontend/packages/console-app/src/components/network-policies/_create-network-policy.scss
  frontend/packages/console-app/src/components/network-policies/create-network-policy.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-add-peer-dropdown.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-conditional-selector.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-form.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-model.ts
  frontend/packages/console-app/src/components/network-policies/network-policy-peer-ipblock.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-peer-selectors.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-ports.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-rule-config.tsx
  frontend/packages/integration-tests-cypress/tests/crud/resource-crud.spec.ts
  frontend/public/components/app-contents.tsx
  frontend/public/components/network-policy.tsx
  frontend/public/components/utils/name-value-editor.jsx
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/types.ts
Due: none

Update patternfly
  frontend/hack/update-patternfly.sh
  frontend/package.json
  frontend/public/components/nav/_nav-header.scss
  frontend/yarn.lock
Due: none

Add a wrapper around PageHeading with minimal props
  frontend/packages/console-shared/src/components/dashboard/page-heading/page-heading.tsx
Due: none

import remaining kubevirt selectors
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/error-components/utils.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/vm-settings-tab-validation.ts
  frontend/packages/kubevirt-plugin/src/components/form/size-unit-utils.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/cd-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-cds.tsx
  frontend/packages/kubevirt-plugin/src/hooks/storage-class-config-map.ts
  frontend/packages/kubevirt-plugin/src/utils/index.ts
Due: ci/prow/kubevirt-plugin

add user preferences page and set user preferences using extension
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/detect-perspective/__tests__/perspective.data.ts
  frontend/packages/console-app/src/components/detect-perspective/__tests__/useValuesForPerspectiveContext.spec.ts
  frontend/packages/console-app/src/components/detect-perspective/useValuesForPerspectiveContext.ts
  frontend/packages/console-app/src/components/user-preferences/UserPreferenceInputCheckbox.tsx
  frontend/packages/console-app/src/components/user-preferences/UserPreferenceInputDropdown.tsx
  frontend/packages/console-app/src/components/user-preferences/UserPreferences.scss
  frontend/packages/console-app/src/components/user-preferences/UserPreferences.tsx
  frontend/packages/console-app/src/components/user-preferences/__tests__/UserPreferenceInputCheckbox.spec.tsx
  frontend/packages/console-app/src/components/user-preferences/__tests__/UserPreferenceInputDropdown.spec.tsx
  frontend/packages/console-app/src/components/user-preferences/__tests__/UserPreferences.spec.tsx
  frontend/packages/console-app/src/components/user-preferences/__tests__/getTabContents.spec.tsx
  frontend/packages/console-app/src/components/user-preferences/__tests__/getUserSettingsGroups.spec.ts
  frontend/packages/console-app/src/components/user-preferences/__tests__/userPreferences.data.tsx
  frontend/packages/console-app/src/components/user-preferences/index.ts
  frontend/packages/console-app/src/components/user-preferences/perspective/usePreferredPerspective.ts
  frontend/packages/console-app/src/components/user-preferences/types.ts
  frontend/packages/console-app/src/components/user-preferences/utils/getTabContents.tsx
  frontend/packages/console-app/src/components/user-preferences/utils/getUserSettingsGroups.ts
  frontend/packages/console-app/src/plugin.tsx
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/user-preferences/topology/usePreferredTopologyView.ts
  frontend/packages/topology/src/__tests__/TopologyPage.spec.tsx
  frontend/packages/topology/src/components/page/TopologyPage.tsx
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/components/utils/list-dropdown.jsx
  frontend/public/locales/en/public.json
Due: none

set add page background based on active namespace
  frontend/packages/dev-console/src/components/add/AddPage.tsx
Due: none

Translate with Chinese customs
  frontend/public/locales/zh/public.json
Due: none

Netpol form: remove namespace
  frontend/packages/console-app/src/__tests__/network-policies/create-network-policy.spec.tsx
  frontend/packages/console-app/src/components/network-policies/create-network-policy.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-form.tsx
  frontend/public/locales/en/public.json
Due: none

Pool list page
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/package.json
  frontend/packages/ceph-storage-plugin/src/components/block-pool/block-pool-list-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/block-pool/block-pool-menu-action.ts
  frontend/packages/ceph-storage-plugin/src/components/block-pool/create-block-pool.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/delete-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/update-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/queries/ceph-queries.ts
  frontend/packages/ceph-storage-plugin/src/utils/block-pool.tsx
  frontend/packages/ceph-storage-plugin/src/utils/popover-helper.tsx
  frontend/packages/console-shared/src/components/status/Status.tsx
  frontend/public/components/utils/datetime.ts
Due: ci/prow/ceph-storage-plugin

Change OCM links from cloud. to console.redhat.com
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
Due: none

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
