Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin

Fix bug where the search results accordion section has incorrect spacing between sidebar. Also, restructure markup to use PatternFly PageSection component instead of custom PageHeading
  frontend/public/components/_resource-dropdown.scss
  frontend/public/components/_search.scss
  frontend/public/components/search.tsx
Due: none

Updated the version to meet known issue
  frontend/packages/console-dynamic-plugin-sdk/README.md
Due: none

Bug 1990384: Improve alertmanager unavailable message
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/types.ts
  frontend/public/locales/en/public.json
Due: none

[Dark Theme]: fix quick search bar and project selector in User Preferences page
  frontend/packages/console-app/src/components/user-preferences/namespace/NamespaceDropdown.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchBar.scss
Due: none

Added language translation on filter items
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/utils/pipeline-utils.ts
  frontend/public/components/pod.tsx
  frontend/public/components/secret.jsx
  frontend/public/locales/en/public.json
Due: none

event-sources-installation automation
  frontend/packages/dev-console/integration-tests/support/constants/add.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/knative-plugin/integration-tests/cypress.json
  frontend/packages/knative-plugin/integration-tests/features/eventing/event-sources-installation-view.feature
  frontend/packages/knative-plugin/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/knative-plugin/integration-tests/support/pages/dev-perspective/eventing-page.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/event-sources-installation-view.ts
  frontend/packages/knative-plugin/integration-tests/support/testData/createPingSource.yaml
Due: none

Update QE OWNERS roles
  frontend/packages/dev-console/integration-tests/OWNERS
  frontend/packages/gitops-plugin/integration-tests/OWNERS
  frontend/packages/helm-plugin/integration-tests/OWNERS
  frontend/packages/knative-plugin/integration-tests/OWNERS
  frontend/packages/pipelines-plugin/integration-tests/OWNERS
  frontend/packages/topology/integration-tests/OWNERS
Due: none

Bug 2082380: [4.10.z] customize wizard is crashed
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/vm-settings-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/selectors/immutable/template/combined.ts
Due: ci/prow/kubevirt-plugin

Bug 2083149: fix bug where "Update blocked" label incorrectly displays on new minor versions in the "Other available paths" modal
  frontend/public/components/modals/cluster-more-updates-modal.tsx
Due: none

Add missing tsdoc for dynamic plugin sdk util APIs
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-doc.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/templates/api.md.ejs
  frontend/packages/console-dynamic-plugin-sdk/src/api/core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/useResolvedExtensions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/safety-first.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/utils/rbac.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/reducers/core.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/reducers/coreSelectors.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/flags.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sModel.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sWatchResource.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sWatchResources.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-get-resource.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-ref.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-resource.ts
Due: none

Bug 20826210: correct ChannelDocLink url
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/utils/documentation.tsx
Due: none

Bug 2082610: correct ChannelDocLink url
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/utils/documentation.tsx
Due: none

chore(i18n): update translations
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/container-security/locales/ja/container-security.json
  frontend/packages/container-security/locales/ko/container-security.json
  frontend/packages/container-security/locales/zh/container-security.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/helm-plugin/locales/zh/helm-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/ja/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/ko/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/zh/lso-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Due: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

lint fixes
  frontend/public/components/utils/label-list.tsx
  frontend/public/components/utils/selector-input.jsx
Due: none

refactor(labels): swapped labels out for details view and modal
  frontend/public/components/modals/create-namespace-modal.jsx
  frontend/public/components/modals/labels-modal.jsx
  frontend/public/components/monitoring/labels.tsx
  frontend/public/components/overview/_overview.scss
  frontend/public/components/utils/_label.scss
  frontend/public/components/utils/label-list.tsx
  frontend/public/components/utils/selector-input.jsx
  frontend/public/style/_base.scss
  frontend/public/style/_common.scss
  frontend/public/style/_text.scss
Due: none

added co names to labels / groups
  frontend/integration-tests/views/crud.view.ts
  frontend/integration-tests/views/monitoring.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/virtualMachine.view.ts
  frontend/public/components/utils/_label.scss
  frontend/public/components/utils/label-list.tsx
  frontend/public/components/utils/selector-input.jsx
  frontend/public/style/_text.scss
Due: ci/prow/kubevirt-plugin

update tests
  frontend/integration-tests/views/crud.view.ts
  frontend/integration-tests/views/monitoring.view.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/virtualMachine.view.ts
  frontend/public/components/utils/_label.scss
  frontend/public/components/utils/label-list.tsx
Due: ci/prow/kubevirt-plugin

updated flex props / test config
  frontend/packages/kubevirt-plugin/integration-tests/views/virtualMachine.view.ts
  frontend/public/components/utils/_label.scss
Due: ci/prow/kubevirt-plugin

update
  frontend/packages/kubevirt-plugin/integration-tests/views/virtualMachine.view.ts
Due: ci/prow/kubevirt-plugin

TEMP additions to MNoltings update of labels
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/repositoryDetails-page.ts
  frontend/public/components/monitoring/alert-manager-config.tsx
  frontend/public/components/monitoring/labels.tsx
  frontend/public/components/utils/_details-item.scss
  frontend/public/components/utils/_label.scss
  frontend/public/components/utils/label-list.tsx
Due: none

Bug 2070457: bump PatternFly react-core to 4.211.5 to fix popover positioning bug
  frontend/package.json
  frontend/yarn.lock
Due: none

Bug 1989610: Don't render empty div for invalid descriptors.
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/common.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/types.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
Due: none

Add useDashboardResources hook
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-types.ts
  frontend/packages/console-shared/src/hooks/useDashboardResources.ts
  frontend/public/actions/dashboards.ts
  frontend/public/components/dashboard/with-dashboard-resources.tsx
  frontend/public/reducers/dashboards.ts
Due: none

SSH Service for vmi with any name
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHForm/ssh-form-utils.ts
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHModal.tsx
  frontend/packages/kubevirt-plugin/src/components/ssh-service/redux/actions.ts
  frontend/packages/kubevirt-plugin/src/components/ssh-service/redux/reducer.ts
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-ssh-command.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-ssh-selectors.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-ssh-service.ts
Due: ci/prow/kubevirt-plugin

Create VM from template that has sourceRef - will now reflect sourceRef at yaml
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/main-actions/create-vm.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/prefill-vm-template-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/vm-settings-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/selectors/immutable/wizard-selectors.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/os.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/utils/utils.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/create.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/initialize-vm.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/simple-create.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/types.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/data-volume-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/vm-wrapper.ts
  frontend/packages/kubevirt-plugin/src/redux/actions/sourceRef-actions.ts
  frontend/packages/kubevirt-plugin/src/redux/index.ts
  frontend/packages/kubevirt-plugin/src/redux/reducers/sourceRef-reducer.ts
  frontend/packages/kubevirt-plugin/src/statuses/template/template-source-status.ts
  frontend/packages/kubevirt-plugin/src/statuses/template/types.ts
Due: ci/prow/kubevirt-plugin

CONSOLE-3138: add conditional updates to cluster update modal
  frontend/__mocks__/clusterVersionMock.ts
  frontend/packages/console-shared/src/components/dropdown/dropdown-with-switch/DropdownWithSwitch.tsx
  frontend/packages/console-shared/src/components/dropdown/dropdown-with-switch/DropdownWithSwitchGroups.tsx
  frontend/packages/console-shared/src/components/dropdown/dropdown-with-switch/DropdownWithSwitchMenu.tsx
  frontend/packages/console-shared/src/components/dropdown/dropdown-with-switch/DropdownWithSwitchToggle.tsx
  frontend/packages/console-shared/src/components/dropdown/index.ts
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/modals/cluster-more-updates-modal.tsx
  frontend/public/components/modals/cluster-update-modal.tsx
  frontend/public/components/notification-drawer.tsx
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/cluster-settings.ts
  frontend/public/module/k8s/types.ts
  frontend/public/style/_common.scss
Due: none

CONSOLE-3136: add conditional updates to Cluster Settings
  frontend/__tests__/components/cluster-settings.spec.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/cluster-settings.ts
Due: none

feat: Add Deployment History Tab (#1950)
  frontend/packages/gitops-plugin/locales/en/gitops-plugin.json
  frontend/packages/gitops-plugin/src/components/GitOpsDetailsPage.tsx
  frontend/packages/gitops-plugin/src/components/GitOpsDetailsPageTabs.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetails.scss
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetails.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetailsPageHeading.scss
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetailsPageHeading.tsx
  frontend/packages/gitops-plugin/src/components/details/deploymentHistory/GitOpsDeploymentHistory.tsx
  frontend/packages/gitops-plugin/src/components/history/CommitRevision.tsx
  frontend/packages/gitops-plugin/src/components/history/GitOpsDeploymentHistory.scss
  frontend/packages/gitops-plugin/src/components/history/GitOpsDeploymentHistory.tsx
  frontend/packages/gitops-plugin/src/components/history/GitOpsDeploymentHistoryTableColumnClasses.tsx
  frontend/packages/gitops-plugin/src/components/history/GitOpsDeploymentHistoryTableHeader.tsx
  frontend/packages/gitops-plugin/src/components/history/GitOpsDeploymentHistoryTableRow.tsx
  frontend/packages/gitops-plugin/src/components/list/GitOpsTableRow.tsx
  frontend/packages/gitops-plugin/src/components/utils/gitops-types.ts
  frontend/packages/gitops-plugin/src/plugin.ts
Due: none

Fix Fitler Dropdown State Management
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/useLabelSelectionFix.ts
  frontend/public/components/useMirroredLocalState.ts
  frontend/public/components/useRowFilterFix.ts
Due: none

Improve dynamic plugin sdk tsdoc format for useActivePerspective, useActiveColumns, useListPageFilter, and useResolvedExtensions
  frontend/packages/console-dynamic-plugin-sdk/src/api/core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
Due: none

Bug 2081067: add help text indicating Cluster history may be excerpted
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/locales/en/public.json
Due: none

Improve type definitions for olm descriptor components
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/common.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/types.ts
Due: none

Bug 2079062: Update user from node to 1001 similar to console docker file user id
  Dockerfile.plugins.demo
Due: none

Monitoring: Add "fade out" horizontal gradient to Metrics page table
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/query-browser.tsx
Due: none

fixes apiversion for k8s svc and resource selection for sink for form yaml switcher
  frontend/packages/knative-plugin/src/components/add/event-sources/form-fields/SinkResources.tsx
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
Due: none

Fixed the issue
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
  frontend/packages/dev-console/src/utils/__tests__/shared-submit-utils.spec.ts
  frontend/packages/dev-console/src/utils/shared-submit-utils.ts
Due: none

Reposition low resolution alert
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/locales/en/public.json
Due: none
