Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Bug 1939069: Add source to vm template silently failed
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/boot-source.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/add-template-source/add-template-source.tsx
Due: ci/prow/kubevirt-plugin

updated package.json and merged the 2 differnt feature files
  frontend/package.json
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-container-image.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/page-details.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/runtime-Icon-display.feature
  frontend/packages/dev-console/integration-tests/features/common/project-creation.feature
  frontend/packages/dev-console/integration-tests/package.json
Due: none

Use digest for virtio-win container image
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
Due: ci/prow/kubevirt-plugin

fix: use fixed length service accounts names
  frontend/packages/rhoas-plugin/locales/en/rhoas-plugin.json
  frontend/packages/rhoas-plugin/src/utils/resourceCreators.ts
Due: none

updated helm changes
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/helm-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/catalog-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/createHelmChartFromAddPage.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/createHelmRelease.ts
  frontend/packages/dev-console/integration-tests/support/pages/topology/topology-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/topology/topology-side-pane-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-catalog.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/monitoring/topology-sidebar-actions.ts
  frontend/packages/helm-plugin/integration-tests/README.md
  frontend/packages/helm-plugin/integration-tests/features/helm/actions-on-helm-release.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-compatibility.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-feature-flag.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-installation-view.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-navigation.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/install-helm-chart.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/topology-helm-release.feature
  frontend/packages/helm-plugin/integration-tests/package.json
  frontend/packages/helm-plugin/integration-tests/support/commands/app.ts
  frontend/packages/helm-plugin/integration-tests/support/commands/index.ts
  frontend/packages/helm-plugin/integration-tests/support/constants/index.ts
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/helm-details-page.ts
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/helm-page.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-compatibility.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-installation-view.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-navigation.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-release.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm.ts
Due: none

Bug 1936620: Fix create operand form default boolean field
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/dynamic-form/fields.tsx
  frontend/packages/console-shared/src/components/dynamic-form/widgets.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/spec-descriptor-input.tsx
Due: none

Fix to show resources to filter by in Topology
  frontend/packages/topology/src/components/page/DroppableTopologyComponent.tsx
Due: none

Make updates to language files to prevent regressions
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ko/nodes.json
  frontend/packages/console-app/locales/zh/nodes.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/dev-console/src/components/hpa/__tests__/i18next.mock
  frontend/public/locales/ja/machine-autoscalers.json
  frontend/public/locales/ko/search.json
  frontend/public/locales/zh/details-page.json
  frontend/public/locales/zh/modal.json
  frontend/public/locales/zh/public.json
Due: ci/prow/ceph-storage-plugin

Bug 1942557: Remove cluster label from predefined monitoring queries
  frontend/packages/dev-console/src/components/monitoring/queries.ts
Due: none

Bug 1932281: inform user when channels are unknown
  frontend/__mocks__/clusterVersionMock.ts
  frontend/integration-tests/tests/cluster-settings.scenario.ts
  frontend/integration-tests/views/cluster-settings.view.ts
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/modals/cluster-channel-modal.tsx
  frontend/public/locales/en/cluster-channel-modal.json
  frontend/public/locales/en/cluster-settings.json
  frontend/public/module/k8s/cluster-settings.ts
  frontend/public/module/k8s/types.ts
Due: none

Bug 1926072: Fix close button in ocs warning alert modal
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/existing-cluster-modal.tsx
Due: ci/prow/ceph-storage-plugin

updates icon for serverless functions
  frontend/public/components/catalog/catalog-item-icon.tsx
  frontend/public/imgs/logos/serverlessfx.png
  frontend/public/imgs/logos/serverlessfx.svg
Due: none

Changes according to UX requirements
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHCreateService/SSHCreateService.tsx
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHDetailsPage/SSHDetailsPage.tsx
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHDetailsPage/ssh-details-page.scss
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHForm/SSHFormKey/SSHFormKey.tsx
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHPopover/SSHPopover.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-ssh-keys.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-ssh-selectors.ts
Due: ci/prow/kubevirt-plugin

changed ssh copy command to work with http and not only https
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
Due: ci/prow/kubevirt-plugin

provide code snippet to customize roles in project access
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/utils/sample-utils.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-utils-types.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-utils.ts
Due: none

workspaces in pipeline start modal
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PipelineWorkspacesSection.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PipelineWorkspacesSection.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/VolumeClaimTemplateForm.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/VolumeClaimTemplateForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/__tests__/utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/validation-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/start-pipeline/StartPipelineForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/AddTriggerForm.tsx
  frontend/packages/pipelines-plugin/src/types/pipelineRun.ts
Due: none

Remove Tech preview badge for OSP 1.4 operator
  frontend/packages/pipelines-plugin/src/components/cluster-tasks/ClusterTaskDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/cluster-tasks/ClusterTaskListPage.tsx
  frontend/packages/pipelines-plugin/src/components/conditions/ConditionListPage.tsx
  frontend/packages/pipelines-plugin/src/components/import/pipeline/PipelineSection.tsx
  frontend/packages/pipelines-plugin/src/components/pipeline-resources/list-page/PipelineResourcesListPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunsResourceList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/__tests__/PipelineRunsResourceList.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines-lists/PipelinesListsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelineDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelinesPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelinesResourceList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineConditionDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineResourceDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderHeader.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/TaskRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/TaskRunsListPage.tsx
  frontend/packages/pipelines-plugin/src/components/tasks/TaskDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/tasks/TaskListPage.tsx
  frontend/packages/pipelines-plugin/src/components/tasks/list-page/TasksListsPage.tsx
  frontend/packages/pipelines-plugin/src/models/pipelines.ts
  frontend/packages/pipelines-plugin/src/plugin.tsx
  frontend/packages/pipelines-plugin/src/utils/__tests__/hooks.spec.ts
  frontend/packages/pipelines-plugin/src/utils/hooks.ts
Due: none

Add types for action extensions and update common types
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/actions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/catalog.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/common.ts
  frontend/packages/dev-console/src/components/catalog/providers/useBuilderImages.tsx
  frontend/packages/dev-console/src/components/catalog/providers/useTemplates.tsx
  frontend/packages/dev-console/src/components/catalog/service/CatalogExtensionHookResolver.tsx
  frontend/packages/helm-plugin/src/catalog/providers/useHelmCharts.tsx
  frontend/packages/knative-plugin/src/catalog/useEventSourceProvider.ts
  frontend/packages/knative-plugin/src/catalog/useKameletsProvider.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm/dev-console/use-catalog-vm-templates.tsx
  frontend/packages/operator-lifecycle-manager/src/utils/useClusterServiceVersions.tsx
Due: ci/prow/kubevirt-plugin

Add types for topology details panel extensions
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/actions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology-details.ts
  frontend/packages/rhoas-plugin/src/catalog/providers/useRhoasCatalog.tsx
Due: none

Remove Tech preview badge for OSP 1.4 operator
  frontend/packages/pipelines-plugin/src/components/cluster-tasks/ClusterTaskDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/cluster-tasks/ClusterTaskListPage.tsx
  frontend/packages/pipelines-plugin/src/components/conditions/ConditionListPage.tsx
  frontend/packages/pipelines-plugin/src/components/import/pipeline/PipelineSection.tsx
  frontend/packages/pipelines-plugin/src/components/pipeline-resources/list-page/PipelineResourcesListPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/PipelineRunsResourceList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/__tests__/PipelineRunsResourceList.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines-lists/PipelinesListsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelineDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelinesPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelinesResourceList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineConditionDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineResourceDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderHeader.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/pipeline-operator.ts
  frontend/packages/pipelines-plugin/src/components/taskruns/TaskRunDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/TaskRunsListPage.tsx
  frontend/packages/pipelines-plugin/src/components/tasks/TaskDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/tasks/TaskListPage.tsx
  frontend/packages/pipelines-plugin/src/components/tasks/list-page/TasksListsPage.tsx
  frontend/packages/pipelines-plugin/src/models/pipelines.ts
  frontend/packages/pipelines-plugin/src/plugin.tsx
  frontend/packages/pipelines-plugin/src/utils/__tests__/hooks.spec.ts
  frontend/packages/pipelines-plugin/src/utils/hooks.ts
Due: none

fix backwards incompatible trigger api changes
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/__tests__/submit-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/__tests__/trigger-data.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/remove-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/resource-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/pipeline-operator.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/triggers.ts
Due: none

fixing-project-creation-and-updated-packageJson
  frontend/package.json
  frontend/packages/dev-console/integration-tests/features/common/operators.feature
  frontend/packages/dev-console/integration-tests/features/common/project-creation.feature
  frontend/packages/dev-console/integration-tests/features/project-creation.feature
  frontend/packages/dev-console/integration-tests/package.json
Due: none

Add missing i18n in pipelines
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PVCDropdown.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PiplelineWorkspacesSection.tsx
Due: none

Changes according to UX requirements
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHCreateService/SSHCreateService.tsx
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHDetailsPage/SSHDetailsPage.tsx
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHDetailsPage/ssh-details-page.scss
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHForm/SSHFormKey/SSHFormKey.tsx
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHPopover/SSHPopover.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-ssh-keys.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-ssh-selectors.ts
Due: ci/prow/kubevirt-plugin

Adds support for creating single namespace bucket class
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/bucket-class-spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/bc.ts
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/backingstore-table.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/create-bc.scss
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/create-bc.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/modals/edit-backingstore-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/review-utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/state.ts
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/backingstore-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/general-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/namespace-policy-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/namespace-store-pages/single-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/placement-policy-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/review-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/create-bs-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/create-bs-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/create-bs.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/capacity-breakdown/capacity-breakdown-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/create-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/namespace-store-dropdown.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/namespace-store-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/object-bucket-claim-page/create-obc.tsx
  frontend/packages/ceph-storage-plugin/src/constants/bucket-class.ts
  frontend/packages/ceph-storage-plugin/src/constants/providers.ts
  frontend/packages/ceph-storage-plugin/src/utils/bucket-class.ts
Due: ci/prow/ceph-storage-plugin

Add owners file to topology folder
  frontend/packages/topology/integration-tests/OWNERS
Due: none

workspaces in pipeline start and trigger
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/import/pipeline/pipeline-template-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PVCDropdown.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PipelineWorkspacesSection.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/__tests__/utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/utils.ts
  frontend/packages/pipelines-plugin/src/test-data/trigger-data.ts
Due: none

Monitoring: Merge reducers/ui.ts into components/monitoring/utils.ts
  frontend/packages/console-shared/src/utils/alert-utils.ts
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlerts.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlertsRulesDetailsPage.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceAlert.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceDurationDropdown.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/monitoring-alerts-utils.tsx
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/factory/table.tsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/silence-form.tsx
  frontend/public/components/monitoring/utils.ts
  frontend/public/reducers/monitoring.ts
  frontend/public/reducers/ui.ts
Due: none

Monitoring: Replace `../monitoring/` with `./` in import paths
  frontend/public/components/monitoring/alerting.tsx
Due: none

Bug 1932673: Virtual machine template provided by red hat should not be editable
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-disks.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-nics/vm-nics.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-details-page.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/types.ts
  frontend/public/components/utils/details-page.tsx
Due: ci/prow/kubevirt-plugin

Bug 1940361: enhance vm action test with storageClass HPP
  frontend/packages/kubevirt-plugin/integration-tests/tests/cdi-upload.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/baseVirtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/scripts/expect-login.sh
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.action.clone.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.action.migration.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.list-filtering.scenario.ts
Due: ci/prow/kubevirt-plugin

Fix for creation of visual connectors
  frontend/packages/rhoas-plugin/src/topology/createConnector.ts
Due: none

Monitoring: Move `TablePagination` to its own file
  frontend/public/components/monitoring/dashboards/table.tsx
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/table-pagination.tsx
Due: none

Support URLs in Result values
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/shared/results/ResultsList.tsx
  frontend/packages/pipelines-plugin/src/components/shared/results/__tests__/ResultsList.spec.tsx
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-utils.spec.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/render-utils.spec.tsx
  frontend/packages/pipelines-plugin/src/utils/pipeline-utils.ts
  frontend/packages/pipelines-plugin/src/utils/render-utils.scss
  frontend/packages/pipelines-plugin/src/utils/render-utils.tsx
Due: none

Bug 1916116: Pf update to fix NavExpandable component
  frontend/package.json
  frontend/yarn.lock
Due: none

Implement externalLink option for the org.w3 alm x-descriptor
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/mocks/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/const.ts
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/reference/reference.md
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/types.ts
Due: none

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
