Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin

update user preference namespace dropdown design
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/user-preferences/namespace/NamespaceDropdown.scss
  frontend/packages/console-app/src/components/user-preferences/namespace/NamespaceDropdown.tsx
  frontend/packages/console-app/src/components/user-preferences/namespace/__tests__/NamespaceDropdown.spec.tsx
  frontend/packages/console-shared/src/components/namespace/NamespaceDropdown.tsx
  frontend/packages/console-shared/src/components/namespace/NamespaceMenuToggle.tsx
Due: none

fix i18n for the channel form alert
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
Due: none

add subject name selector to sinkbinding form
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/components/add/event-sources/SinkBindingSection.tsx
  frontend/packages/knative-plugin/src/components/add/eventSource-validation-utils.ts
Due: none

fixing tests
  frontend/packages/dev-console/src/components/catalog/providers/__tests__/useDevfileSamples.spec.ts
Due: none

fix: devfiles are now fetched correctly
  frontend/packages/dev-console/src/components/catalog/providers/useDevfile.tsx
  frontend/packages/dev-console/src/components/catalog/providers/useDevfileSamples.tsx
  pkg/server/devfile-handler.go
  pkg/server/server.go
Due: none

Create Virtualization Overview Permissions card
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/VirtualizationOverviewPage.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/permissions-card/PermissionsCardPopover.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/permissions-card/PermissionsCountItem.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/permissions-card/PermissionsItem.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/permissions-card/VirtOverviewPermissionsCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/permissions-card/virt-overview-permissions-card.scss
  frontend/packages/kubevirt-plugin/src/constants/namespace.ts
  frontend/packages/kubevirt-plugin/src/flags/const.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-permissions-card-permissions.ts
Due: ci/prow/kubevirt-plugin

use prometheus tenancy URL to load data in devconsole observe dashboard
  frontend/public/components/monitoring/dashboards/bar-chart.tsx
  frontend/public/components/monitoring/dashboards/graph.tsx
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/single-stat.tsx
  frontend/public/components/monitoring/dashboards/table.tsx
Due: none

use namespace instead of useActivePerspective hooks to get the variables in Observe dashboard
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/monitoring-dashboard-utils.ts
  frontend/public/components/monitoring/dashboards/timespan-dropdown.tsx
  frontend/public/components/monitoring/dashboards/types.ts
Due: none

Pull in css to support react-virtualized-extension and remove overrides.
  frontend/public/components/factory/Table/VirtualizedTable.tsx
  frontend/public/components/factory/Table/_virtualized-table.scss
  frontend/public/components/factory/table.tsx
  frontend/public/components/filter-toolbar.tsx
  frontend/public/style.scss
  frontend/public/style/_overrides.scss
Due: none

migrate useK8sModel(s) to SDK
  frontend/packages/console-dynamic-plugin-sdk/src/api/core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sModel.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sModels.ts
  frontend/packages/console-shared/src/hooks/useK8sModel.ts
  frontend/packages/console-shared/src/hooks/useK8sModels.ts
Due: none

Dispatch name filter value to redux
  frontend/__tests__/components/factory/list-page.spec.tsx
  frontend/public/components/factory/list-page.tsx
Due: none

Add filter by label in topology
  frontend/packages/helm-plugin/src/topology/components/HelmReleaseGroup.tsx
  frontend/packages/helm-plugin/src/topology/components/HelmReleaseNode.tsx
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeServiceGroup.tsx
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeServiceNode.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/EventSource.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/EventingPubSubNode.tsx
  frontend/packages/kubevirt-plugin/src/topology/components/nodes/VmNode.tsx
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/graph-view/components/nodes/BaseNode.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/trapezoidNode/TrapezoidBaseNode.tsx
  frontend/packages/topology/src/components/page/TopologyView.tsx
  frontend/packages/topology/src/filters/NameLabelFilterDropdown.tsx
  frontend/packages/topology/src/filters/TopologyFilterBar.tsx
  frontend/packages/topology/src/filters/__tests__/useSearchFilter.spec.ts
  frontend/packages/topology/src/filters/filter-utils.ts
  frontend/packages/topology/src/filters/useSearchFilter.ts
  frontend/packages/topology/src/operators/components/OperatorBackedServiceGroup.tsx
  frontend/packages/topology/src/operators/components/OperatorBackedServiceNode.tsx
Due: ci/prow/kubevirt-plugin

Add label filter to topology list view
  frontend/packages/topology/src/components/list-view/TopologyListViewNode.tsx
Due: none

Add Dev Preview tag for IBM FlashSystem
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/index.ts
Due: ci/prow/ceph-storage-plugin

add dynamic sdk support for model metadata extensions
  frontend/__tests__/module/k8s/get-resources.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/resource-metadata.ts
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/rhoas-plugin/console-extensions.json
  frontend/public/module/k8s/get-resources.ts
  frontend/public/module/k8s/k8s-models.ts
Due: none

Bug 2019646: Display permission error modal for view only user
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/permissions-error-modal/permissions-error-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/RowActions.tsx
Due: ci/prow/kubevirt-plugin

implement UI for IBM ROKS HPCS KMS
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-steps.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/review-and-create-step/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/security-and-network-step/encryption.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/security-and-network-step/security-and-network-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/kms-config/ibm-kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/providers.ts
  frontend/packages/ceph-storage-plugin/src/components/kms-config/utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/vault-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-kms-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/configure.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/packages/ceph-storage-plugin/src/constants/kms.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
Due: ci/prow/ceph-storage-plugin

add ibm kms component
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/review-and-create-step/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/components/kms-config/ibm-kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/providers.ts
  frontend/packages/ceph-storage-plugin/src/components/kms-config/utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/vault-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-ibm-kms-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-vault-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/packages/ceph-storage-plugin/src/constants/kms.ts
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
Due: ci/prow/ceph-storage-plugin

gherkin for Enhance Export App UX experience- ODC-6296
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/operators-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnCluster.ts
  frontend/packages/dev-console/integration-tests/support/pages/operators-page.ts
  frontend/packages/topology/integration-tests/features/export-application/export-of-applicaton.feature
  frontend/packages/topology/integration-tests/support/page-objects/export-applications-po.ts
  frontend/packages/topology/integration-tests/support/pages/export-application/export-applications.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-helper-page.ts
  frontend/packages/topology/integration-tests/support/step-definitions/common/topology.ts
  frontend/packages/topology/integration-tests/support/step-definitions/export-application/export-of-application.ts
Due: none

Add encrypted RBD storage class during deployment
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/components/kms-config/utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-vault-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-request-data.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/packages/ceph-storage-plugin/src/constants/kms.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
Due: ci/prow/ceph-storage-plugin

optimize name validation regex for forms
  frontend/packages/console-shared/src/utils/__tests__/yup-validations.spec.ts
  frontend/packages/console-shared/src/utils/yup-validations.ts
  frontend/packages/dev-console/src/components/hpa/validation-utils.ts
  frontend/packages/dev-console/src/components/import/import-validation-utils.ts
Due: none

migrate k8s hooks to SDK
  frontend/__tests__/actions/k8s.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/actions/__tests__/k8s.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/actions/k8s.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/reducers/k8s.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/reducers/k8sSelector.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/redux-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/redux.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/k8s-watch-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/k8s-watcher.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useDeepCompareMemoize.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sWatchResource.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sWatchResources.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useModelsLoaded.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/usePrevious.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/ws-factory.ts
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlerts.tsx
  frontend/public/actions/k8s.ts
  frontend/public/components/factory/list-page.tsx
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/namespace.jsx
  frontend/public/components/row-filter.jsx
  frontend/public/components/utils/firehose.jsx
  frontend/public/components/utils/k8s-watch-hook.ts
  frontend/public/components/utils/k8s-watcher.js
  frontend/public/module/k8s/resource.ts
  frontend/public/module/ws-factory.ts
  frontend/public/reducers/k8s.ts
Due: none

Test boot source example URLs for VM templates
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/url-examples.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
Due: ci/prow/kubevirt-plugin

Bug 2024537: Change text to refer to Win iso instead of cloud image
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/form/helper/url-source-help.tsx
Due: ci/prow/kubevirt-plugin

Windows guest tool mount test
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/win-guest-tools-mount.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector-wizard.ts
Due: ci/prow/kubevirt-plugin

internal-kubevirt npm pkg patches
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api-kubevirt.ts
Due: none

fixed bz2027288
  frontend/packages/dev-console/src/components/catalog/providers/__tests__/useDevfileSamples.spec.ts
  frontend/packages/dev-console/src/components/catalog/providers/useDevfile.tsx
  frontend/packages/dev-console/src/components/catalog/providers/useDevfileSamples.tsx
  frontend/packages/dev-console/src/components/import/devfile/devfileHooks.ts
  pkg/server/server.go
Due: none

Bug 2024316: Display correct annotation in Template support modal
  frontend/packages/kubevirt-plugin/src/components/modals/support-modal/support-modal.tsx
Due: ci/prow/kubevirt-plugin

Bug 2027238: (dashboard) Allow leading and trailing spaces in legendFormat
  frontend/public/components/monitoring/dashboards/index.tsx
Due: none

[Release-4.8] Bug 2026950: Fix autofocus on pf select component for search resource dropdown
  frontend/package.json
  frontend/yarn.lock
Due: none

Add data-checked-state attribute to checkboxes
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/capacity-and-nodes-step/capacity-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/capacity-and-nodes-step/stretch-cluster.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/security-and-network-step/encryption.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/capacity-and-nodes.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/configure.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-thick-provisioner.tsx
  frontend/packages/console-app/src/components/nodes/NodeLogs.tsx
  frontend/packages/console-app/src/components/user-preferences/UserPreferenceCheckboxField.tsx
  frontend/packages/console-app/src/components/user-preferences/language/LanguageDropdown.tsx
  frontend/packages/console-shared/src/components/dynamic-form/widgets.tsx
  frontend/packages/console-shared/src/components/formik-fields/CheckboxField.tsx
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form-status.tsx
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/create-vm-form.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/clone-vm-modal/clone-vm-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/dedicated-resources-modal/dedicated-resources-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/eviction-strategy-modal/eviction-strategy-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/SnapshotsModal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/support-modal/support-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/template-customization/CustomizeSourceModal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/template-customization/FinishCustomizationModal.tsx
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHCreateService/SSHCreateService.tsx
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHForm/SSHFormSave/SSHFormSaveInNamespace.tsx
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHModal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/customize-source/CustomizeSourceForm.tsx
  frontend/packages/metal3-plugin/src/components/modals/PowerOffHostModal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/DEPRECATED_operand-form.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-community-provider-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
  frontend/public/components/RBAC/edit-rule.jsx
  frontend/public/components/checkbox.tsx
  frontend/public/components/container-selector.tsx
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/components/utils/resource-log.tsx
Due: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

reenable e2e tests, catch "> Unauthorized" exceptions
  frontend/packages/integration-tests-cypress/support/index.ts
  frontend/packages/integration-tests-cypress/support/login.ts
  frontend/packages/integration-tests-cypress/tests/crud/roles-rolebindings.spec.ts
  frontend/packages/integration-tests-cypress/tests/crud/secrets.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
Due: none

disable most dev-console e2e/add-flow-ci.feature tests due to accesibility violations
  frontend/packages/dev-console/integration-tests/features/e2e/add-flow-ci.feature
Due: none

pkg/server: use the correct Alertmanager tenancy proxy
  pkg/server/server.go
Due: none

Move usePrometheusPoll hook to dynamic plugin SDK
  frontend/packages/ceph-storage-plugin/src/components/odf-system/utils.ts
  frontend/packages/console-dynamic-plugin-sdk/@types/sdk/index.d.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/common-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/prometheus-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/dashboard-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/dashboards.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/lib-core.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/hooks/useSafeFetch.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/hooks/useURLPoll.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/hooks/usePoll.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/prometheus/hooks/usePrometheusPoll.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/prometheus/utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/time.ts
  frontend/packages/console-shared/src/constants/index.ts
  frontend/packages/console-shared/src/constants/time.ts
  frontend/public/components/build.tsx
  frontend/public/components/graphs/helpers.ts
  frontend/public/components/monitoring/types.ts
  frontend/public/components/utils/poll-hook.ts
  frontend/public/components/utils/safe-fetch-hook.ts
  frontend/public/components/utils/url-poll-hook.ts
Due: ci/prow/ceph-storage-plugin

Disabled the Name label dropdown in topology empty state
  frontend/packages/topology/src/filters/NameLabelFilterDropdown.tsx
  frontend/packages/topology/src/filters/TopologyFilterBar.tsx
Due: none
