Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

This is to fix the blue and orange title colors that were incorrectly changed in pr 11151
  frontend/packages/dev-console/src/components/add/DeveloperFeaturesGettingStartedCard.tsx
  frontend/packages/dev-console/src/components/add/SampleGettingStartedCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/getting-started-card/FeatureHighlightsCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/getting-started-card/RecommendedOperatorsCard.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/cluster-setup-getting-started-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/explore-admin-features-getting-started-card.tsx
  frontend/public/style/_theme-dark.scss
Due: ci/prow/kubevirt-plugin

add Edit Application Grouping on KafkaSink, EventSink, Add Delete application capability for EVent and KAfka sinks
  frontend/packages/knative-plugin/src/actions/providers.ts
  frontend/packages/knative-plugin/src/topology/__tests__/data-transformer.spec.ts
  frontend/packages/knative-plugin/src/topology/__tests__/topology-knative-test-data.ts
  frontend/packages/knative-plugin/src/topology/data-transformer.ts
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/topology/src/__tests__/topology-test-data.ts
  frontend/packages/topology/src/components/side-bar/components/SideBarBody.tsx
  frontend/packages/topology/src/utils/__tests__/application-utils.spec.ts
  frontend/packages/topology/src/utils/application-utils.ts
Due: none

Fixed side-bar scrolling issue
  frontend/packages/topology/src/components/side-bar/TopologySideBar.tsx
Due: none

Bug 1965934: Fix Run queries button UX
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/reducers/observe.ts
Due: none

Remove reference to deprecated v2v-vmware configmap
  frontend/packages/kubevirt-plugin/src/constants/v2v.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/v2vvmware-configmap-validator.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/v2vvmware-configmap.ts
Due: ci/prow/kubevirt-plugin

OverviewDetailItemProps: replace errorMessage by optional "error"
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/details-card/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-external/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/details-card.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/DetailsCard.tsx
  frontend/packages/console-plugin-shared/OWNERS
  frontend/packages/console-plugin-shared/package.json
  frontend/packages/console-plugin-shared/src/components/OverviewDetailItem.css
  frontend/packages/console-plugin-shared/src/components/OverviewDetailItem.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-details-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/details-card.tsx
Due: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Make @console/plugin-shared public package
  frontend/packages/ceph-storage-plugin/package.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/compression-details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/details-card/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-external/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/details-card.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/DetailsCard.tsx
  frontend/packages/console-plugin-shared/package.json
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-details-card.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/VirtOverviewDetailsCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/DetailsCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/dashboard/DetailsCard.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/details-card.tsx
  frontend/public/components/dashboard/project-dashboard/details-card.tsx
  frontend/yarn.lock
Due: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

console-plugin-shared: use scss over css
  frontend/packages/ceph-storage-plugin/package.json
  frontend/packages/console-plugin-shared/package.json
  frontend/packages/console-plugin-shared/src/components/OverviewDetailItem.scss
  frontend/packages/console-plugin-shared/src/components/OverviewDetailItem.tsx
  frontend/webpack.config.ts
  frontend/yarn.lock
Due: ci/prow/ceph-storage-plugin

Filter out global configs when cluster is externally managed
  frontend/packages/console-shared/src/hooks/useCanClusterUpgrade.ts
  frontend/public/components/about-modal.tsx
  frontend/public/components/cluster-settings/filterNonUpgradableResources.ts
  frontend/public/components/cluster-settings/global-config.tsx
Due: none

Gherkin and automation for project vulnerability-ODC-5131
  frontend/packages/console-shared/src/components/dashboard/status-card/HealthItem.tsx
  frontend/packages/container-security/src/components/summary.tsx
  frontend/packages/dev-console/integration-tests/features/vulnerability/project-vulnerability.feature
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/index.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/operators-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/vulnerability-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/operators-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/vulnerability.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/operators.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/vulnerability/project-vulnerability.ts
  frontend/packages/dev-console/integration-tests/testData/vulnerability/create-quarkus-deployment.yaml
Due: none

Roles RoleBindings tab doesn't show RB correctly
  frontend/public/components/factory/table-filters.ts
Due: none

Remove resources that do not appear on the config page
  frontend/public/components/cluster-settings/filterNonUpgradableResources.ts
Due: none

Bug 2024708: Don't use lodash startCase on default operand field labels
  frontend/packages/console-shared/src/components/dynamic-form/utils.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/descriptors.spec.ts
Due: none

Convert custom row-filter to use PatternFly ToggleGroup component for styling that is dark theme enabled.
  frontend/public/components/_row-filter.scss
  frontend/public/components/row-filter.jsx
Due: none

[Dark Theme]: fix Topology empty state to support dark theme
  frontend/public/style/_overrides.scss
Due: none

PDB Submit request failed for sample yaml in form
  frontend/packages/console-app/src/components/pdb/PDBFormPage.tsx
  frontend/public/models/yaml-templates.ts
Due: none

Inconsistent display of sample yaml for default user preferences
  frontend/public/models/yaml-templates.ts
Due: none

Adding required class to set margin spacing around breadcrumbs A followup to https://github.com/openshift/console/pull/11321
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetailsPageHeading.tsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/targets.tsx
Due: none

Fix firehose spec failures
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-utils.ts
Due: none

disable migrated components
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Due: ci/prow/ceph-storage-plugin

Added inline styling and removed -div in css classname
  frontend/packages/console-shared/src/components/catalog/catalog-view/CatalogToolbar.tsx
  frontend/public/components/catalog/_catalog.scss
Due: none

Fixed CSS Alignment
  frontend/packages/topology/src/components/graph-view/TopologyControlBar.scss
  frontend/packages/topology/src/components/graph-view/TopologyControlBar.tsx
  frontend/packages/topology/src/components/list-view/TopologyListView.scss
  frontend/packages/topology/src/filters/TopologyFilterBar.scss
  frontend/public/components/_dropdown.scss
  frontend/public/components/namespace.jsx
Due: none

fix integration test failure in dynamic-demo-plugin
  dynamic-demo-plugin/src/components/ExtensionConsumer.tsx
Due: none

Fix promql-input change handler and table styles
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/promql-expression-input.tsx
Due: none

console-plugin-shared: Introduce components/OverviewPage folder
  frontend/packages/console-plugin-shared/src/components/OverviewPage/OverviewDetailItem.scss
  frontend/packages/console-plugin-shared/src/components/OverviewPage/OverviewDetailItem.tsx
  frontend/packages/console-plugin-shared/src/components/OverviewPage/index.ts
  frontend/packages/console-plugin-shared/src/components/index.ts
Due: none

CONSOLE-3072: Cluster overview page changes for HyperShift provisioned clusters
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/details-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/cluster-setup-getting-started-card.spec.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/cluster-setup-getting-started-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/status-card.tsx
Due: none

Bug 1994117: remove orphaned Service Catalog and Chargeback code
  frontend/__mocks__/catalogItemsMocks.ts
  frontend/__tests__/reducers/features.spec.tsx
  frontend/integration-tests/protractor.conf.ts
  frontend/integration-tests/views/catalog.view.ts
  frontend/packages/console-shared/src/constants/common.ts
  frontend/packages/operator-lifecycle-manager/mocks.ts
  frontend/public/actions/features.ts
  frontend/public/components/_cluster-service-instance.scss
  frontend/public/components/app-contents.tsx
  frontend/public/components/broker-management.tsx
  frontend/public/components/catalog/_catalog.scss
  frontend/public/components/catalog/catalog-item-icon.tsx
  frontend/public/components/chargeback.tsx
  frontend/public/components/cluster-service-broker.tsx
  frontend/public/components/cluster-service-class-info.tsx
  frontend/public/components/cluster-service-class.tsx
  frontend/public/components/cluster-service-plan.tsx
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/factory/table.tsx
  frontend/public/components/instantiate-template.tsx
  frontend/public/components/nav/admin-nav.tsx
  frontend/public/components/nav/section.tsx
  frontend/public/components/provisioned-services.tsx
  frontend/public/components/resource-pages.ts
  frontend/public/components/service-binding.tsx
  frontend/public/components/service-catalog-parameters.tsx
  frontend/public/components/service-instance.tsx
  frontend/public/components/utils/horizontal-nav.tsx
  frontend/public/components/utils/index.tsx
  frontend/public/components/utils/link.tsx
  frontend/public/components/utils/service-catalog-status.tsx
  frontend/public/locales/en/public.json
  frontend/public/models/index.ts
  frontend/public/models/yaml-templates.ts
  frontend/public/module/k8s/index.ts
  frontend/public/module/k8s/service-catalog.ts
  frontend/public/reducers/features.ts
  frontend/public/style.scss
Due: none

fix integration test failure in dynamic-demo-plugin
  frontend/packages/integration-tests-cypress/tests/app/demo-dynamic-plugin.spec.ts
Due: none

Bug 2079062: increase timeout to render toast notification for demo plugin test
  frontend/packages/integration-tests-cypress/tests/app/demo-dynamic-plugin.spec.ts
Due: none

Added margin-bottom for the paragraph component
  frontend/packages/console-app/src/components/network-policies/_create-network-policy.scss
  frontend/packages/console-app/src/components/network-policies/network-policy-conditional-selector.tsx
  frontend/packages/dev-console/src/components/health-checks/AddHealthChecks.scss
  frontend/packages/dev-console/src/components/health-checks/AddHealthChecks.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebar.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebar.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarWhenExpression.tsx
  frontend/public/components/cluster-settings/_cluster-settings.scss
  frontend/public/components/cluster-settings/global-config.tsx
  frontend/public/components/modals/_modals.scss
  frontend/public/components/modals/add-secret-to-workload.tsx
  frontend/public/components/modals/configure-count-modal.tsx
  frontend/public/components/modals/configure-update-strategy-modal.tsx
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/silence-form.tsx
Due: none

Bug 2074756: fix bug where ClusterRole > RoleBindings did not display Namespace
  frontend/public/components/RBAC/role.jsx
Due: none

change default image features in RBD storageclass
  frontend/packages/ceph-storage-plugin/src/utils/ocs-storage-class-params.tsx
Due: ci/prow/ceph-storage-plugin

Fixed topology sidebar scrolling issue
  frontend/packages/topology/src/components/side-bar/TopologySideBar.tsx
Due: none

Bug 2079216: Update cluster update reference doc link
  frontend/public/components/modals/cluster-update-modal.tsx
Due: none

fix(skeleton): updated skeleton color definitions, updated sidebar shadow
  frontend/packages/console-shared/src/styles/skeleton-screen.scss
  frontend/public/style/_overrides.scss
  frontend/public/style/_theme-dark.scss
Due: none

Pipeline metrics: use prometheus-tenancy API to get data
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/hooks.ts
Due: none

show Limit exceeded state for large number of nodes in topology
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/page/LimitExceededState.tsx
  frontend/packages/topology/src/components/page/TopologyView.tsx
Due: none

fix kms issue for mcg standalone
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/security-and-network-step/encryption.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/hpcs-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/providers.ts
  frontend/packages/ceph-storage-plugin/src/components/kms-config/vault-config.tsx
Due: ci/prow/ceph-storage-plugin

Update MON_DISK_LOW whitelisted alert documentation URL
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/status-card/whitelisted-health-checks.ts
Due: ci/prow/ceph-storage-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
