Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin

Excessive eslint te[porarily disabled
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/hotplug.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/dialog.ts
Due: ci/prow/kubevirt-plugin

Fix issues in Storage System List Page
  frontend/packages/ceph-storage-plugin/src/components/odf-system/odf-system-list.tsx
Due: ci/prow/ceph-storage-plugin

Show 404 page only after all dynamic plugins are processed
  frontend/public/components/app-contents.tsx
Due: none

Translation addition to create volume snapshot form Fix Bug https://bugzilla.redhat.com/show_bug.cgi?id=1997422
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/volume-snapshot/create-volume-snapshot/create-volume-snapshot.tsx
Due: none

last
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/hotplug.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/dialog.ts
Due: ci/prow/kubevirt-plugin

Bug 1999292: Use "default projects" instead of "system projects"
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/namespace/NamespaceDropdown.tsx
Due: none

Fixture for Machine & MachineSet so the tests pass when no existing resource
  frontend/packages/integration-tests-cypress/tests/crud/other-routes.spec.ts
Due: none

Fixed localisation in tests
  frontend/packages/console-app/src/__tests__/network-policies/create-network-policy.spec.tsx
Due: none

Fix spelling of ActivityItem in plugin-api
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-api.ts
Due: none

Add feature flag for mcg standalone deployment
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/features.ts
Due: ci/prow/ceph-storage-plugin

(doc): Added mcg-standalone feature guard in README Signed-off-by: Afreen Rahman <afrahman@redhat.com>
  frontend/packages/ceph-storage-plugin/README.md
Due: ci/prow/ceph-storage-plugin

Updated the gherkin lint rules to fix the errors
  frontend/packages/dev-console/integration-tests/.gherkin-lintrc
Due: none

Remove unused data-test-id which logs a react warning
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/PipelineRow.tsx
Due: none

check only flag to decide if Project or Namespace
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/create-namespace.spec.ts
  frontend/public/components/utils/list-dropdown.jsx
Due: none

Remove the members from the owners file
  frontend/packages/dev-console/integration-tests/OWNERS
  frontend/packages/gitops-plugin/integration-tests/OWNERS
  frontend/packages/helm-plugin/integration-tests/OWNERS
  frontend/packages/knative-plugin/integration-tests/OWNERS
  frontend/packages/pipelines-plugin/integration-tests/OWNERS
  frontend/packages/topology/integration-tests/OWNERS
Due: none

Gherkin:create binding connections to any bindable external service shown as trapezoid in topology-ODC-5722
  frontend/packages/topology/integration-tests/features/topology/topology-chart-area-visual.feature
Due: none

Fixes LSO alert for StorageSystem installation
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/create-local-volume-set-step.tsx
Due: ci/prow/ceph-storage-plugin

Add help text for git repo url field
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
Due: none

gherkin for export of application in topology
  frontend/packages/topology/integration-tests/features/export-application/export-of-applicaton.feature
Due: none

use target closest method only when available
  frontend/packages/console-shared/src/components/namespace/NamespaceMenuToggle.tsx
Due: none

Bug 1998394: add tests for RHEL9 template
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/clone.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/migration.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-disk-preallocation.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-storage-profile.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/pvc-upload/pvc-upload.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/action.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-creation.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-tabs.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/snapshot.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/create-template-from-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/custom-template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/customize-source.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/template-rhel9.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/advanced-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector.ts
Due: ci/prow/kubevirt-plugin

Fix click issue with topology context menu
  frontend/packages/console-shared/src/components/actions/menu/ActionMenuItem.tsx
  frontend/packages/topology/src/actions/contextMenuActions.tsx
  frontend/packages/topology/src/components/graph-view/components/nodeContextMenu.tsx
Due: none

disable OCS dashboard for managed services
  frontend/packages/ceph-storage-plugin/src/constants/index.ts
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/noobaa-storage-plugin/src/plugin.ts
Due: ci/prow/ceph-storage-plugin

Bug 1999648: Remove remaining Storage Class string
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/modals/clone/clone-pvc-modal.tsx
Due: none

Disable import flow tests that are failing due to rate limiting
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-docker-file.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-git.feature
Due: none

fix pipeline run count chart discrepancies with other chart values
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunCount.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/pipeline-metrics-test-data.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/pipeline-metrics-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/charts/TimeSeriesChart.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/pipeline-metrics-utils.ts
Due: none

Linkify condition and alert messages
  frontend/public/components/cluster-settings/cluster-operator.tsx
  frontend/public/components/conditions.tsx
  frontend/public/components/monitoring/alerting.tsx
Due: none

fix install operator description iframe
  frontend/__tests__/components/markdown-view.spec.tsx
  frontend/packages/helm-plugin/src/components/details-page/__tests__/HelmReleaseNotes.spec.tsx
  frontend/packages/helm-plugin/src/topology/__tests__/TopologyHelmReleasePanel.spec.tsx
  frontend/public/components/markdown-view.tsx
Due: none

CONSOLE-2319: Expose instanceType in MachineSet list/details
  frontend/packages/console-shared/src/selectors/index.ts
  frontend/packages/console-shared/src/selectors/machineSet.ts
  frontend/public/components/factory/table.tsx
  frontend/public/components/machine-set.tsx
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/types.ts
Due: none

Fix accessibility issues in Wizard Modes
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/configure.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/types.ts
Due: ci/prow/ceph-storage-plugin

fixup! Fix accessibility issues in Wizard Modes
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
Due: ci/prow/ceph-storage-plugin

Bug 1999422: Guard display of supported vendors
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
  frontend/packages/ceph-storage-plugin/src/utils/create-storage-system.ts
Due: ci/prow/ceph-storage-plugin

(doc): Add vendors annotation as a prerequisite in contribution guide
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/README.md
Due: ci/prow/ceph-storage-plugin

test cases for PAC
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-as-code.feature
  frontend/packages/pipelines-plugin/integration-tests/testData/repository-crd-testdata/test-repo.yaml
Due: none

make local clickCount show in podring subtitle
  frontend/packages/console-shared/src/components/pod/PodRing.tsx
  frontend/packages/console-shared/src/utils/pod-ring-utils.ts
Due: none

Improve useDynamicPluginInfo hook
  frontend/packages/console-app/src/components/console-operator/ConsoleOperatorConfig.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/api/useResolvedExtensions.ts
  frontend/packages/console-plugin-sdk/src/api/pluginSubscriptionService.ts
  frontend/packages/console-plugin-sdk/src/api/useDynamicPluginInfo.ts
  frontend/packages/console-plugin-sdk/src/api/useExtensions.ts
  frontend/packages/console-shared/src/hooks/useTelemetry.ts
Due: none

Fix pods page unmount on node update
  frontend/packages/console-app/src/components/nodes/NodeDetailsPage.tsx
Due: none
