Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

update devconsole-ci-tests
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-container-image.feature
  frontend/packages/dev-console/integration-tests/package.json
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
Due: none

Removed dotnet related gherkin script from this pipelines plugin folder
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
Due: none

Bug 1964941: Increase HTTP plugin proxy request timeout
  pkg/server/server.go
Due: none

Move QuickSearch to Shared Package
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/index.ts
  frontend/packages/console-shared/src/components/quick-search/QuickSearchBar.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchBar.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchContent.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchContent.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchController.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchDetails.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchDetails.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchIcon.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModal.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModalBody.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModalBody.tsx
  frontend/packages/console-shared/src/components/quick-search/index.ts
  frontend/packages/console-shared/src/components/quick-search/utils/quick-search-types.ts
  frontend/packages/console-shared/src/components/quick-search/utils/quick-search-utils.tsx
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/page/TopologyView.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchButton.scss
  frontend/packages/topology/src/components/quick-search/TopologyQuickSearch.tsx
  frontend/packages/topology/src/components/quick-search/TopologyQuickSearchButton.scss
  frontend/packages/topology/src/components/quick-search/TopologyQuickSearchButton.tsx
  frontend/packages/topology/src/components/quick-search/topology-quick-search-utils.tsx
  frontend/packages/topology/src/filters/TopologyFilterBar.tsx
Due: none

move connectToFlags to avoid circular dependency
  frontend/__tests__/reducers/features.spec.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShell.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellExec.tsx
  frontend/packages/console-app/src/components/cloud-shell/setup/NamespaceSection.tsx
  frontend/packages/dev-console/src/components/import/section/ResourceSection.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
  frontend/packages/pipelines-plugin/src/components/import/pipeline/PipelineSection.tsx
  frontend/public/components/RBAC/bindings.jsx
  frontend/public/components/api-explorer.tsx
  frontend/public/components/app-contents.tsx
  frontend/public/components/chargeback.tsx
  frontend/public/components/command-line-tools.tsx
  frontend/public/components/console-notifier.tsx
  frontend/public/components/edit-yaml.jsx
  frontend/public/components/events.jsx
  frontend/public/components/graphs/require-prometheus.tsx
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/components/namespace.jsx
  frontend/public/components/network-policy.tsx
  frontend/public/components/persistent-volume-claim.jsx
  frontend/public/components/pod-exec.jsx
  frontend/public/components/resource-quota.jsx
  frontend/public/components/routes/route-metrics.tsx
  frontend/public/components/start-guide.tsx
  frontend/public/components/utils/resource-link.tsx
  frontend/public/reducers/connectToFlags.ts
  frontend/public/reducers/features.ts
Due: ci/prow/kubevirt-plugin

Remove NotStartedIcon as it is available in PatternFly
  frontend/packages/console-shared/src/components/status/NotStartedIcon.tsx
  frontend/packages/console-shared/src/components/status/Status.tsx
Due: none

Link to secret screen if default secret exists
  frontend/public/components/modals/configure-ns-pull-secret-modal.jsx
  frontend/public/components/namespace.jsx
Due: none

Re-fixing typo and i18n
  frontend/public/components/modals/configure-ns-pull-secret-modal.jsx
  frontend/public/locales/en/public.json
Due: none

CONSOLE-2361: Update react-catalog-view-extension to version that does not require PatternFly 3
  frontend/package.json
  frontend/public/components/nav/_nav-header.scss
  frontend/public/style.scss
  frontend/public/style/_overrides.scss
  frontend/public/vendor.scss
  frontend/yarn.lock
Due: none

Add help links to masthead so they can be translated
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/locales/en/public.json
Due: none

Update frontend/packages/console-app/src/components/quick-starts/utils/quick-start-context.tsx
  frontend/packages/console-app/src/components/quick-starts/utils/quick-start-context.tsx
Due: none

(feat): Setup create storage system wizard
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/package.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-steps.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/index.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/error-handler.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/header.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/reducer.ts
  frontend/packages/ceph-storage-plugin/src/constants/create-storage-system.ts
  frontend/packages/ceph-storage-plugin/src/models.ts
  frontend/packages/ceph-storage-plugin/src/odf-external-providers/external-providers.ts
  frontend/packages/ceph-storage-plugin/src/odf-external-providers/types.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
Due: ci/prow/ceph-storage-plugin

Added new scenarios for other builder images which are not auto-detected
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-git.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
Due: none

Making sure ISO flow is now working, both upload and import
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/vm-settings-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
Due: ci/prow/kubevirt-plugin

fix string typos in OCS
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/block-pool/create-block-pool.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/create-storage-class/create-storage-class-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install.tsx
  frontend/packages/ceph-storage-plugin/src/components/storage-popover.tsx
  frontend/packages/ceph-storage-plugin/src/constants/bucket-class.ts
  frontend/packages/ceph-storage-plugin/src/utils/block-pool.tsx
  frontend/packages/ceph-storage-plugin/src/utils/common-ocs-install-el.tsx
Due: ci/prow/ceph-storage-plugin

Fix a11y file input form issue, for example when creating a Secret
  frontend/public/components/utils/file-input.tsx
  frontend/public/locales/en/public.json
Due: none

copy shared annotations and namespace key to kubevirt
  frontend/packages/kubevirt-plugin/src/components/create-vm/dev-console/dev-console-create-vm-form.tsx
  frontend/packages/kubevirt-plugin/src/constants/namespace.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-namespace.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vmtemplate/customize.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/basic.ts
Due: ci/prow/kubevirt-plugin

copy shared patch builder to kubevirt
  frontend/packages/kubevirt-plugin/src/components/modals/boot-order-modal/boot-order-modal.tsx
  frontend/packages/kubevirt-plugin/src/k8s/enhancedK8sMethods/__tests__/enhancedK8sMethods.spec.ts
  frontend/packages/kubevirt-plugin/src/k8s/helpers/patch.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/utils.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-boot-patches.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-cpu-patches.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-disk-patches.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-nic-patches.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-patches.ts
  frontend/packages/kubevirt-plugin/src/k8s/patches/vm/vm-scheduling-patches.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/free-owned-resources.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/correct-vm-import-provider-secret-labels.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/create-ovirt-provider-object.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/create-v2vvmware-object.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/import/import-ovirt.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/import/import-v2vvmware.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/request-ovirt-provider-vm-detail.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/request-v2vmware-vm-detail.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/start-v2vvmware-controller.ts
Due: ci/prow/kubevirt-plugin

consolidate kubevirt cypress tests for d/s
  frontend/packages/kubevirt-plugin/integration-tests-cypress/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-advanced-wizard-testing.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-simple-wizard-test.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-vm-details-page-testing.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/source-image.spec.ts
Due: ci/prow/kubevirt-plugin

Fix a11y form errors when import a container image
  frontend/packages/console-shared/src/components/formik-fields/ToggleableFieldBase.tsx
  frontend/packages/dev-console/integration-tests/package.json
  frontend/packages/dev-console/src/components/import/icon/IconDropdown.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageSearch.tsx
Due: none

CONSOLE-2838: masthead changes to better align with ACM
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/locales/en/public.json
  frontend/public/style/_overrides.scss
Due: none

CONSOLE-2838: add ACM version to about modal
  frontend/public/components/about-modal.tsx
  frontend/public/locales/en/public.json
Due: none

Bug 1982090: Translate resource names in top consumers dropdown
  frontend/packages/console-shared/src/components/dashboard/utilization-card/TopConsumerPopover.tsx
Due: none

Skip empty categories (id and label) in OperatorHub tab view
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
Due: none

add tech preview badge for Multus
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/_configure.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/configure.tsx
Due: ci/prow/ceph-storage-plugin

Bug 1982079: Translate utilization card tooltip
  frontend/public/components/graphs/area.tsx
  frontend/public/components/graphs/utils.ts
  frontend/public/locales/en/public.json
Due: none

Conversion of Bootstrap text alignment class to PF utility classes
  frontend/integration-tests/views/crud.view.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/noobaa-sso.view.ts
  frontend/packages/dev-console/src/components/health-checks/AddHealthChecksForm.tsx
  frontend/packages/knative-plugin/src/components/overview/EventPubSubSubscribers.tsx
  frontend/packages/knative-plugin/src/components/overview/RevisionsOverviewListItem.tsx
  frontend/packages/knative-plugin/src/components/overview/RoutesOverviewListItem.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/RevisionsOverviewListItem.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/RoutesOverviewListItem.spec.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/modal-resource-launcher.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/guest-agent-file-systems.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-users.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/PipelineRunItem.tsx
  frontend/public/components/build.tsx
  frontend/public/components/chargeback.tsx
  frontend/public/components/conditions.tsx
  frontend/public/components/error.tsx
  frontend/public/components/events.jsx
  frontend/public/components/import-yaml-results.tsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/overview/pods-overview.tsx
  frontend/public/components/routes.tsx
  frontend/public/components/utils/status-box.tsx
  frontend/public/vendor.scss
Due: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

CONSOLE-2361: Update react-catalog-view-extension to version that does not require PatternFly 3
  analyze.sh
  frontend/package.json
  frontend/public/components/nav/_nav-header.scss
  frontend/public/style.scss
  frontend/public/style/_overrides.scss
  frontend/public/vendor.scss
  frontend/yarn.lock
Due: none

Remove kube admin notifier for kubeadmin crc user
  frontend/packages/console-shared/src/constants/common.ts
Due: none

Add RBAC check on view shortcuts actions
  frontend/packages/topology/src/__tests__/TopologyShortcuts.spec.tsx
  frontend/packages/topology/src/components/graph-view/TopologyShortcuts.tsx
  frontend/packages/topology/src/components/page/TopologyPageToolbar.tsx
Due: none

added data-test-attributes
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/src/components/catalog/catalog-view/CatalogCategories.tsx
  frontend/packages/dev-console/src/components/catalog/catalog-view/CatalogTypeSelector.tsx
Due: none

updated pageobjects for operator hub tiles
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/operators-po.ts
Due: none

sort evicted pods last
  frontend/public/components/overview/__tests__/pods-overview.spec.ts
  frontend/public/components/overview/pods-overview.tsx
Due: none

Chance cloud.redhat.com to console.redhat.com
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
  frontend/packages/rhoas-plugin/locales/en/rhoas-plugin.json
  frontend/packages/rhoas-plugin/src/components/access-services/ServicesToken.tsx
  frontend/packages/rhoas-plugin/src/components/service-list/ServiceInstance.tsx
  frontend/public/module/k8s/cluster-settings.ts
Due: none

Change OCM links from cloud. to console.redhat.com
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
  frontend/public/module/k8s/cluster-settings.ts
Due: none

Fix fuzzy text (pending task name) in pipeline run visualization
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.tsx
Due: none

fixing helm scripts
  frontend/packages/dev-console/integration-tests/support/constants/helm.ts
  frontend/packages/dev-console/integration-tests/support/constants/index.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/helm-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/catalog-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/helm-plugin/integration-tests/support/commands/app.ts
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/helm-details-page.ts
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/helm-page.ts
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/upgrade-helm-release-page.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-release.ts
Due: none

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
