Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin

migrate admin perspective
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/package.json
  frontend/packages/console-app/src/plugin.tsx
  frontend/packages/console-app/src/utils/perspective.tsx
Due: none

add new perspectives dynamic plugin extension
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/perspectives.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
Due: none

migrate console-demo-app perspective
  frontend/packages/console-demo-plugin/console-extensions.json
  frontend/packages/console-demo-plugin/package.json
  frontend/packages/console-demo-plugin/src/components/test-icon.tsx
  frontend/packages/console-demo-plugin/src/plugin.tsx
  frontend/packages/console-demo-plugin/src/utils/perspective.tsx
Due: none

remove static perspective extension
  frontend/packages/console-app/src/__tests__/extension-checks/nav-items.spec.ts
  frontend/packages/console-app/src/__tests__/extension-checks/perspectives.spec.ts
  frontend/packages/console-app/src/components/detect-perspective/DetectPerspective.tsx
  frontend/packages/console-app/src/components/detect-perspective/PerspectiveDetector.tsx
  frontend/packages/console-app/src/components/detect-perspective/__tests__/PerspectiveDetector.spec.tsx
  frontend/packages/console-app/src/components/detect-perspective/__tests__/perspective.data.ts
  frontend/packages/console-app/src/components/detect-perspective/useValuesForPerspectiveContext.ts
  frontend/packages/console-app/src/components/user-preferences/perspective/PerspectiveDropdown.tsx
  frontend/packages/console-app/src/components/user-preferences/perspective/__tests__/perspective.data.ts
  frontend/packages/console-plugin-sdk/src/typings/index.ts
  frontend/packages/console-plugin-sdk/src/typings/perspectives.ts
  frontend/packages/console-shared/src/hooks/__tests__/usePinnedResources.spec.ts
  frontend/packages/console-shared/src/hooks/usePinnedResources.ts
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/src/components/edit-application/EditApplication.tsx
  frontend/packages/dev-console/src/components/edit-deployment/EditDeployment.tsx
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/jar/UploadJar.tsx
  frontend/packages/knative-plugin/src/components/add/EventSource.tsx
  frontend/packages/knative-plugin/src/components/add/brokers/AddBroker.tsx
  frontend/packages/knative-plugin/src/components/add/channels/AddChannel.tsx
  frontend/packages/knative-plugin/src/components/knatify/CreateKnatifyPage.tsx
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
  frontend/public/components/app-contents.tsx
  frontend/public/components/instantiate-template.tsx
  frontend/public/components/nav/nav-header.tsx
  frontend/public/components/nav/section.tsx
Due: none

ODC-5676:gherkin for filter to show/hide Community Kamelets
  frontend/packages/dev-console/integration-tests/support/pages/operators-page.ts
  frontend/packages/knative-plugin/integration-tests/features/eventing/create-event-sources.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/event-sources-installation-view.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-camelk.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/kafka-event-source-actions.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/cards-display-on-serverless-operator-installation.feature
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/common/common.ts
Due: none

CONSOLE-2319: Expose instanceType in MachineSet list/details
  frontend/packages/console-shared/src/selectors/index.ts
  frontend/packages/console-shared/src/selectors/machineSet.ts
  frontend/public/components/machine-set.tsx
  frontend/public/components/utils/units.js
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/types.ts
Due: none

Bug 1997918: Add sorting for MachineSet instance type
  frontend/public/components/factory/table.tsx
  frontend/public/components/machine-set.tsx
Due: none

Add name field in edit deployment form
  frontend/packages/dev-console/src/components/edit-deployment/EditDeploymentFormEditor.tsx
Due: none

Automatically update app.openshift.io/vcs-* annotations
  frontend/packages/dev-console/src/components/buildconfig/form-utils/__tests__/convert-to-buildconfig.spec.ts
  frontend/packages/dev-console/src/components/buildconfig/form-utils/convert-to-buildconfig.ts
  frontend/packages/dev-console/src/components/buildconfig/types.ts
Due: none

Improve useDynamicPluginInfo hook
  frontend/packages/console-app/src/components/console-operator/ConsoleOperatorConfig.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/api/useResolvedExtensions.ts
  frontend/packages/console-plugin-sdk/src/api/pluginSubscriptionService.ts
  frontend/packages/console-plugin-sdk/src/api/useDynamicPluginInfo.ts
  frontend/packages/console-plugin-sdk/src/api/useExtensions.ts
  frontend/packages/console-shared/src/hooks/useTelemetry.ts
Due: none

Knative Gherkin review
  frontend/packages/knative-plugin/integration-tests/features/admin-perspective/eventing-page-admin.feature
  frontend/packages/knative-plugin/integration-tests/features/admin-perspective/filters-serving-eventing-admin.feature
  frontend/packages/knative-plugin/integration-tests/features/admin-perspective/serverless-admin-empty-state.feature
  frontend/packages/knative-plugin/integration-tests/features/admin-perspective/serving-page-admin.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/actions-on-knative-service.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/create-knative-workload.feature
Due: none

Remove leftover scenario
  frontend/packages/knative-plugin/integration-tests/features/serverless/actions-on-knative-service.feature
Due: none

Bug 1998397: fix typo in "Template source not ready' modal
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/vm-template-modals/source-modal.tsx
Due: ci/prow/kubevirt-plugin

POC to test how ACM thanos works in admin console
  cmd/bridge/main.go
  frontend/public/components/graphs/area.tsx
  frontend/public/components/graphs/bar.tsx
  frontend/public/components/graphs/graph-empty.tsx
  frontend/public/components/graphs/stack.tsx
Due: none

Fixed typos
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/hotplug.spec.ts
Due: ci/prow/kubevirt-plugin

avoid resetting dockerfile path
  frontend/packages/dev-console/src/components/import/devfile/DevfileStrategySection.tsx
Due: none

avoid setting lastViewedEditorType
  frontend/packages/console-shared/src/components/synced-editor/useEditorType.ts
Due: none

Remove backdrop from Pipeline tasks search modal
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModal.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/topology/src/components/page/TopologyView.scss
  frontend/packages/topology/src/components/page/TopologyView.tsx
Due: none

detect managed ODF when operator is installed
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Due: ci/prow/ceph-storage-plugin

Pan the selected workload into the full view
  frontend/packages/topology/src/components/graph-view/Topology.tsx
Due: none

Fix crash when insert a yaml which provides data by an extension
  frontend/packages/console-shared/src/components/editor/YAMLEditorSidebar.tsx
  frontend/packages/console-shared/src/components/formik-fields/YAMLEditorField.tsx
  frontend/packages/console-shared/src/components/formik-fields/__tests__/SyncedEditorField.spec.tsx
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/dev-console/src/components/buildconfig/BuildConfigForm.tsx
  frontend/packages/dev-console/src/components/edit-deployment/EditDeploymentForm.tsx
  frontend/packages/dev-console/src/components/hpa/HPAForm.tsx
  frontend/packages/dev-console/src/components/hpa/HPAFormikForm.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradeForm.tsx
  frontend/packages/knative-plugin/src/components/add/EventSourceForm.tsx
  frontend/packages/knative-plugin/src/components/add/brokers/AddBrokerForm.tsx
  frontend/packages/knative-plugin/src/components/add/channels/form-fields/ChannelYamlEditor.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/public/components/edit-yaml.jsx
  frontend/public/components/sidebars/resource-sidebar-samples.tsx
  frontend/public/components/sidebars/resource-sidebar.tsx
Due: none

fix: change secret key name
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/index.tsx
Due: ci/prow/ceph-storage-plugin

Fix machine page columns visibility
  frontend/public/components/factory/Table/VirtualizedTable.tsx
  frontend/public/components/factory/Table/active-columns-hook.ts
  frontend/public/components/machine.tsx
  frontend/public/components/pod.tsx
Due: none

fix: validate endpoint before go next
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/index.tsx
Due: ci/prow/ceph-storage-plugin

Finished
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/cloud-init.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/selector-wizard.ts
Due: ci/prow/kubevirt-plugin

Fix quick search modal missing icons
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModalBody.tsx
Due: none

Fix pods page unmount on node update
  frontend/packages/console-app/src/components/nodes/NodeDetailsPage.tsx
Due: none

create webhook secrets before knative resources
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
Due: none

fixed build error
  frontend/packages/console-app/src/__tests__/network-policies/create-network-policy.spec.tsx
Due: none

Initial
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/cloud-init.spec.ts
Due: ci/prow/kubevirt-plugin

added support for cancel and restart in export app
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/export-app/ExportApplication.tsx
  frontend/packages/topology/src/components/export-app/ExportApplicationModal.tsx
  frontend/packages/topology/src/components/export-app/__tests__/ExportApplicationModal.spec.tsx
  frontend/packages/topology/src/components/export-app/export-app-modal.tsx
  frontend/packages/topology/src/utils/__tests__/export-app-utils.spec.ts
  frontend/packages/topology/src/utils/export-app-utils.ts
Due: none

Initial commit
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/hotplug.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/dialog.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/selector.ts
Due: ci/prow/kubevirt-plugin

Excessive eslint te[porarily disabled
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/hotplug.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/dialog.ts
Due: ci/prow/kubevirt-plugin

Full automation
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/hotplug.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/add-source.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/dialog.ts
Due: ci/prow/kubevirt-plugin

Test PVC creation added
  frontend/packages/kubevirt-plugin/integration-tests-cypress/enums/provisionSource.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/hotplug.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/add-source.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/dialog.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/pvc.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/selector.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/vm.ts
Due: ci/prow/kubevirt-plugin

Adding pvcName and pvcNS to Disk
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/hotplug.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/add-source.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/dialog.ts
Due: ci/prow/kubevirt-plugin

Initial commit
  frontend/packages/kubevirt-plugin/integration-tests-cypress/types/vm.ts
Due: ci/prow/kubevirt-plugin
