Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin

Fix builder image version dropdown value in pipeline edit flow
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/pipelines-plugin/src/components/import/pipeline/__tests__/pipeline-template-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/import/pipeline/pipeline-template-utils.ts
  frontend/packages/pipelines-plugin/src/const.ts
Due: none

Add prop to AlertItem to hide default link - Disable default link from Ceph and Noobaa Dashboard - Add support for Rook related Alerts in Ceph Dashboard
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/status-card/status-card.tsx
  frontend/packages/ceph-storage-plugin/src/selectors/index.ts
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertItem.tsx
  frontend/packages/noobaa-storage-plugin/src/components/status-card/status-card.tsx
Due: ci/prow/ceph-storage-plugin

Add new registry server address help text
  frontend/public/components/secrets/create-secret.tsx
  frontend/public/locales/en/public.json
Due: none

Switch to sentence case for unknown secret types
  frontend/integration-tests/views/secrets.view.ts
  frontend/public/components/secrets/create-secret.tsx
  frontend/public/locales/en/public.json
Due: none

Translate Create Secret page
  frontend/packages/dev-console/src/components/import/CreateSecretModal.tsx
  frontend/public/components/secrets/create-secret.tsx
  frontend/public/locales/en/public.json
Due: none

Gherkin addition to improve Knative & Builds integration:ODC-4709
  frontend/packages/knative-plugin/integration-tests/features/Knative/actions-on-knative-revision.feature
Due: none

Update kubevirt types
  frontend/packages/kubevirt-plugin/src/types/vm/index.ts
  frontend/packages/kubevirt-plugin/src/types/vmi-guest-data-info/vmi-guest-agent-info.ts
Due: ci/prow/kubevirt-plugin

Remove offensive language
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/inclusive-language.spec.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/import-providers-tab/providers/ovirt-import-provider/ovirt-certificate.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/import-providers-tab/providers/ovirt-import-provider/ovirt-import-provider.tsx
  frontend/packages/kubevirt-plugin/src/topology/__tests__/topology-kubevirt-test-data.ts
  frontend/packages/kubevirt-plugin/src/types/vm/index.ts
  frontend/packages/kubevirt-plugin/src/types/vmi-guest-data-info/vmi-guest-agent-info.ts
Due: ci/prow/kubevirt-plugin

add support for workspaces in pipeline builder
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineWorkspaces.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/index.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderFormEditor.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/__tests__/update-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/hooks.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebar.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebar.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarWorkspace.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/update-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/validation-utils.ts
  frontend/packages/pipelines-plugin/src/types/task.ts
Due: none

gherkin for scaling advanced option for knative service ODC-4744
  frontend/packages/knative-plugin/integration-tests/features/Knative/create-knative-workload.feature
Due: none

Avoid deep merging extension properties
  frontend/packages/console-dynamic-plugin-sdk/src/api/useResolvedExtensions.ts
  frontend/packages/console-plugin-sdk/src/__tests__/store.spec.ts
  frontend/packages/console-plugin-sdk/src/api/useExtensions.ts
  frontend/packages/console-plugin-sdk/src/store.ts
Due: none

Improve standalone route page extension processing
  frontend/dynamic-demo-plugin/console-extensions.json
  frontend/dynamic-demo-plugin/package.json
  frontend/packages/console-dynamic-plugin-sdk/README.md
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/context-providers.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/feature-flags.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/pages.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/redux.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/test-utils.ts
  frontend/packages/kubevirt-plugin/package.json
  frontend/public/components/app.jsx
Due: ci/prow/kubevirt-plugin

Add pluginType to LoadedExtension interface
  frontend/__tests__/components/nav/navSortUtils.spec.ts
  frontend/packages/console-plugin-sdk/src/__tests__/store.spec.ts
  frontend/packages/console-plugin-sdk/src/store.ts
  frontend/packages/console-plugin-sdk/src/typings/base.ts
Due: none

Add badges support in catalog items and make cta optional
  frontend/packages/console-plugin-sdk/src/typings/dev-catalog.ts
  frontend/packages/dev-console/src/components/catalog/CatalogBadges.scss
  frontend/packages/dev-console/src/components/catalog/CatalogBadges.tsx
  frontend/packages/dev-console/src/components/catalog/CatalogTile.scss
  frontend/packages/dev-console/src/components/catalog/CatalogTile.tsx
  frontend/packages/dev-console/src/components/catalog/details/CatalogDetailsModal.tsx
  frontend/packages/dev-console/src/components/catalog/hooks/__tests__/useCtaLink.spec.ts
  frontend/packages/dev-console/src/components/catalog/hooks/useCtaLink.ts
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-items.tsx
  frontend/public/components/catalog/_catalog.scss
Due: none

(test): Unit tests for flexible scaling feature
  frontend/packages/ceph-storage-plugin/src/__tests__/flexible-scaling.spec.ts
  frontend/packages/ceph-storage-plugin/src/utils/install.ts
Due: ci/prow/ceph-storage-plugin

Migrate obcTest.scenario.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/mocks/deploymentData.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/obc-test.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/utils/consts.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/obcPage.ts
  frontend/packages/noobaa-storage-plugin/integration-tests/utils/consts.ts
  frontend/packages/noobaa-storage-plugin/src/components/object-bucket-claim-page/create-obc.tsx
  frontend/packages/noobaa-storage-plugin/src/components/object-bucket-claim-page/modals/attach-deployment-obc-modal.tsx
  frontend/packages/noobaa-storage-plugin/src/components/object-bucket-claim-page/object-bucket-claim.tsx
  frontend/packages/noobaa-storage-plugin/src/components/object-bucket-claim-page/secret.tsx
  frontend/public/components/utils/copy-to-clipboard.tsx
  frontend/public/components/utils/resource-link.tsx
  frontend/public/components/utils/status-box.tsx
Due: ci/prow/ceph-storage-plugin

Add storage.bind.immediate.requested annotation to golden image dvs
  frontend/packages/kubevirt-plugin/src/components/modals/add-template-source/add-template-source.tsx
Due: ci/prow/kubevirt-plugin

lock CDI version to v1.20.0
  frontend/packages/kubevirt-plugin/integration-tests/deploy-kubevirt-gating.sh
Due: ci/prow/kubevirt-plugin

lock kubevirt version
  frontend/packages/kubevirt-plugin/integration-tests/deploy-kubevirt-gating.sh
Due: ci/prow/kubevirt-plugin

visualize serverless function in topology
  frontend/packages/knative-plugin/src/const.ts
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeService.scss
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeServiceGroup.tsx
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/knative-plugin/src/topology/listView/KnativeServiceListViewNode.tsx
  frontend/packages/knative-plugin/src/utils/__tests__/knative-topology-utils.spec.ts
  frontend/public/components/catalog/catalog-item-icon.tsx
  frontend/public/imgs/logos/serverlessfx.png
Due: none

Create workloads from Templates
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-catalog.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-templates.feature
  frontend/packages/dev-console/integration-tests/support/constants/add.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/catalog-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-catalog.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/addFlow.ts
Due: none

update quick search to include quick starts
  frontend/packages/console-app/src/components/quick-starts/catalog/QuickStartTileDescription.tsx
  frontend/packages/console-app/src/components/quick-starts/utils/quick-start-types.ts
  frontend/packages/console-plugin-sdk/src/typings/dev-catalog.ts
  frontend/packages/dev-console/src/components/catalog/details/CatalogDetailsModal.tsx
  frontend/packages/dev-console/src/components/catalog/hooks/__tests__/useCtaLink.spec.ts
  frontend/packages/dev-console/src/components/catalog/hooks/useCtaLink.ts
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/quick-search/QuickSearch.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchContent.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchController.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchDetails.scss
  frontend/packages/topology/src/components/quick-search/QuickSearchDetails.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchList.scss
  frontend/packages/topology/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchModal.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchModalBody.tsx
  frontend/packages/topology/src/components/quick-search/utils/quick-search-types.ts
  frontend/packages/topology/src/components/quick-search/utils/quick-search-utils.tsx
Due: none

Gherkin:Added topology regression cases: ODC-4179
  frontend/packages/dev-console/integration-tests/features/monitoring/topology-sidebar-actions.feature
  frontend/packages/dev-console/integration-tests/features/topology/topology-application-grouping.feature
  frontend/packages/dev-console/integration-tests/features/topology/topology-chart-area-visual.feature
  frontend/packages/dev-console/integration-tests/features/topology/topology-editing-app-node.feature
  frontend/packages/dev-console/integration-tests/features/topology/topology-workload-sidebar.feature
Due: none

disable url download test
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/source-image.spec.ts
Due: ci/prow/kubevirt-plugin

Fix trigger annotation
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/utils/__tests__/resource-label-utils.spec.tsx
  frontend/packages/dev-console/src/utils/resource-label-utils.ts
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
Due: none

Do not override/remove container values
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/advanced/DeploymentConfigSection.tsx
  frontend/packages/dev-console/src/utils/__tests__/resource-label-utils-data.ts
  frontend/packages/dev-console/src/utils/__tests__/resource-label-utils.spec.tsx
  frontend/packages/dev-console/src/utils/resource-label-utils.ts
Due: none

adds context menu knatify for D/DC, utils for knatify. show form for knatify a workload, creation and maintain perspective context
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-data.ts
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-utils.spec.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/DeployImageForm.tsx
  frontend/packages/dev-console/src/components/import/__tests__/DeployImageForm.spec.tsx
  frontend/packages/dev-console/src/components/import/advanced/DeploymentConfigSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/__tests__/AdvancedSection.spec.tsx
  frontend/packages/dev-console/src/components/import/advanced/__tests__/DeploymentConfigSection.spec.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageSearchSection.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamDropdown.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamNsDropdown.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamTagDropdown.tsx
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/actions/__tests__/knatify.spec.ts
  frontend/packages/knative-plugin/src/actions/index.ts
  frontend/packages/knative-plugin/src/actions/knatify.ts
  frontend/packages/knative-plugin/src/components/knatify/CreateKnatifyPage.tsx
  frontend/packages/knative-plugin/src/components/knatify/__tests__/CreateKnatifyPage.spec.tsx
  frontend/packages/knative-plugin/src/plugin.tsx
  frontend/packages/knative-plugin/src/utils/__mocks__/knatify-mock.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knatify-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/kebab-actions.ts
  frontend/packages/knative-plugin/src/utils/knatify-utils.ts
Due: none

removes usage of isKnatifyForm in form section and update tests
  frontend/packages/dev-console/src/components/import/image-search/ImageSearchSection.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStream.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamDropdown.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamNsDropdown.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamTagDropdown.tsx
  frontend/packages/knative-plugin/src/components/knatify/CreateKnatifyPage.tsx
  frontend/packages/knative-plugin/src/components/knatify/KnatifyForm.tsx
  frontend/packages/knative-plugin/src/components/knatify/__tests__/KnatifyForm.spec.tsx
  frontend/packages/knative-plugin/src/utils/__tests__/knatify-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/knatify-utils.ts
Due: none

Bug 1932453: Update format for Japanese date/times
  frontend/public/components/utils/timestamp.tsx
  frontend/public/i18n.js
  frontend/public/locales/en-gb/public.json
  frontend/public/locales/en/public.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Due: none

updated autoscale utils/tests, added type
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-utils.spec.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/advanced/DeploymentConfigSection.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageSearchSection.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStream.tsx
  frontend/packages/dev-console/src/components/import/image-search/__tests__/ImageStream.spec.tsx
  frontend/packages/dev-console/src/components/import/serverless/__tests__/serverless-utils.spec.ts
  frontend/packages/dev-console/src/components/import/serverless/serverless-utils.ts
  frontend/packages/dev-console/src/components/import/serverless/useUpdateKnScalingDefaultValues.ts
  frontend/packages/knative-plugin/src/components/knatify/CreateKnatifyPage.tsx
  frontend/packages/knative-plugin/src/utils/__mocks__/knatify-mock.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knatify-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/knatify-utils.ts
Due: none

change addForm layout to make footer full length add box shadow to footer
  frontend/packages/console-shared/src/components/form-utils/FlexForm.tsx
  frontend/packages/console-shared/src/components/form-utils/FormBody.tsx
  frontend/packages/console-shared/src/components/form-utils/FormFooter.scss
  frontend/packages/console-shared/src/components/form-utils/FormFooter.tsx
  frontend/packages/console-shared/src/components/form-utils/__tests__/FlexForm.spec.tsx
  frontend/packages/console-shared/src/components/form-utils/form-utils-types.ts
  frontend/packages/console-shared/src/components/form-utils/index.ts
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/useScrollContainer.ts
  frontend/packages/dev-console/src/components/import/DeployImageForm.tsx
  frontend/packages/dev-console/src/components/import/DeployImagePage.tsx
  frontend/packages/dev-console/src/components/import/GitImportForm.tsx
  frontend/packages/dev-console/src/components/import/ImportPage.tsx
  frontend/packages/dev-console/src/components/import/ImportSampleForm.tsx
  frontend/packages/dev-console/src/components/import/ImportSamplePage.tsx
  frontend/packages/dev-console/src/components/import/SourceToImageForm.tsx
  frontend/packages/dev-console/src/components/import/__tests__/DeployImage.spec.tsx
  frontend/packages/dev-console/src/components/import/devfile/DevfileImportForm.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradeForm.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradePage.tsx
  frontend/packages/knative-plugin/src/components/add/EventSourceForm.tsx
  frontend/packages/knative-plugin/src/components/add/EventSourcePage.tsx
  frontend/packages/knative-plugin/src/components/add/EventingChannelPage.tsx
  frontend/packages/knative-plugin/src/components/add/channels/ChannelForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/public/components/utils/dom-utils.tsx
Due: none

Bug 1852743: Use consistent labels for CPU in node list
  frontend/packages/console-app/src/components/nodes/NodesPage.tsx
Due: none

toast notification provider
  frontend/__tests__/utils/hooks-utils.tsx
  frontend/packages/console-shared/src/components/index.ts
  frontend/packages/console-shared/src/components/toast/ToastContext.tsx
  frontend/packages/console-shared/src/components/toast/ToastProvider.tsx
  frontend/packages/console-shared/src/components/toast/__tests__/ToastProvider.spec.tsx
  frontend/packages/console-shared/src/components/toast/__tests__/useToast.spec.tsx
  frontend/packages/console-shared/src/components/toast/index.ts
  frontend/packages/console-shared/src/components/toast/useToast.ts
  frontend/public/components/app.jsx
  frontend/public/style/_overrides.scss
Due: none

override alert-group list-style
  frontend/public/style/_overrides.scss
Due: none

Create imagestream resource for samples step by step
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
Due: none

[feat] 02/25 발행된 string 문서 반영
  frontend/public/components/hypercloud/utils/langs/en.json
  frontend/public/components/hypercloud/utils/langs/ko.json
Due: none

[refactor] Service Catalog 메뉴들 i18n 적용
  frontend/public/components/hypercloud/catalog-service-claim.tsx
  frontend/public/components/hypercloud/cluster-service-broker.tsx
  frontend/public/components/hypercloud/cluster-service-class.tsx
  frontend/public/components/hypercloud/cluster-template.tsx
  frontend/public/components/hypercloud/service-binding.tsx
  frontend/public/components/hypercloud/service-broker.tsx
  frontend/public/components/hypercloud/service-class.tsx
  frontend/public/components/hypercloud/service-instance.tsx
  frontend/public/components/hypercloud/template-instance.tsx
  frontend/public/components/hypercloud/template.tsx
Due: none

[feat] Getting started에 docs 링크 수정
  frontend/public/components/start-guide.tsx
Due: none

[refactor] Workload 하위메뉴 리소스들 i18n 적용
  frontend/public/components/conditions.tsx
  frontend/public/components/configmap.jsx
  frontend/public/components/cron-job.tsx
  frontend/public/components/daemon-set.tsx
  frontend/public/components/deployment-config.tsx
  frontend/public/components/deployment.tsx
  frontend/public/components/environment.jsx
  frontend/public/components/hpa.tsx
  frontend/public/components/hypercloud/cluster-template.tsx
  frontend/public/components/hypercloud/service-instance.tsx
  frontend/public/components/hypercloud/template-instance.tsx
  frontend/public/components/hypercloud/template.tsx
  frontend/public/components/job.tsx
  frontend/public/components/pod.tsx
  frontend/public/components/replicaset.jsx
  frontend/public/components/secret.jsx
  frontend/public/components/stateful-set.tsx
  frontend/public/components/utils/container-table.tsx
  frontend/public/components/volumes-table.tsx
  frontend/public/components/workload-table.tsx
Due: none
