Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

CNV-14138: UI: overwrite storage section of the DV spec instead of the pvc section
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-a/advanced-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-a/console.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/ssh-advanced-wizard-testing.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/sysprep.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/wizard.ts
  frontend/packages/kubevirt-plugin/src/components/modals/clone-vm-modal/clone-vm-modal.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-storage-profile-settings.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-update-data-volume.ts
  frontend/packages/kubevirt-plugin/src/k8s/helpers/vm-clone.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/clone.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/data-volume-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/persistent-volume-claim-wrapper.ts
  frontend/packages/kubevirt-plugin/src/selectors/dv/selectors.ts
  frontend/packages/kubevirt-plugin/src/types/api/V1alpha1DataVolumeSpec.ts
  frontend/packages/kubevirt-plugin/src/types/api/V1beta1StorageSpec.ts
  frontend/packages/kubevirt-plugin/src/types/api/index.ts
Due: ci/prow/kubevirt-plugin

refactor KMS components for HPCS support
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-steps.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/review-and-create-step/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/security-and-network-step/encryption.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/security-and-network-step/security-and-network-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/kms-config/ibm-kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/providers.ts
  frontend/packages/ceph-storage-plugin/src/components/kms-config/utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/vault-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-kms-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/configure.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/packages/ceph-storage-plugin/src/constants/kms.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
Due: ci/prow/ceph-storage-plugin

RoleBindings tab doesn' show correct rolebindings
  frontend/public/components/factory/table-filters.ts
Due: none

use namespace instead of useActivePerspective hooks to get the variables in Observe dashboard
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/monitoring-dashboard-utils.ts
  frontend/public/components/monitoring/dashboards/timespan-dropdown.tsx
  frontend/public/components/monitoring/dashboards/types.ts
Due: none

convert vm,vmi actions to dynamic
  frontend/packages/console-shared/src/components/actions/menu/ActionMenuToggle.tsx
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/action.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.action.migration.scenario.ts
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/actions/provider.ts
  frontend/packages/kubevirt-plugin/src/components/modals/clone-vm-modal/clone-vm-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/menu-actions-modals/delete-vmi-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-status/lazy-vm-row-kebab.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details-page.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-page-new.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vmi-details-page.tsx
  frontend/packages/kubevirt-plugin/src/topology/components/kubevirtComponentFactory.ts
  frontend/packages/kubevirt-plugin/src/utils/index.ts
Due: ci/prow/kubevirt-plugin

e2e-console: wait for developer catalog to load before accessing it
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
Due: none

re-enable tests
  frontend/packages/dev-console/integration-tests/features/e2e/add-flow-ci.feature
Due: none

Bug 2022399: Fix troubleshoot link for MON_DISK_LOW
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/status-card/whitelisted-health-checks.ts
Due: ci/prow/ceph-storage-plugin

show context menu for operator backed service
  frontend/packages/topology/src/actions/__tests__/contextMenuActions.spec.ts
  frontend/packages/topology/src/actions/contextMenuActions.tsx
  frontend/packages/topology/src/operators/components/OperatorBackedService.tsx
  frontend/packages/topology/src/operators/components/OperatorBackedServiceGroup.tsx
  frontend/packages/topology/src/operators/components/OperatorBackedServiceNode.tsx
  frontend/packages/topology/src/operators/components/operatorsComponentFactory.ts
Due: none

chore(i18n): update translations
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/git-service/locales/ja/git-service.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Due: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Add selector for usek8sWatchResource hook reducers
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/reducers/k8s.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/reducers/k8sSelector.ts
Due: none

Bug 2023607: Fix blank page error for Installed Operators
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Due: none

Mock github API requests when importing projects in cypress tests
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/testData/git-import/cakephp-ex/contents.json
  frontend/packages/dev-console/integration-tests/testData/git-import/cakephp-ex/repo.json
  frontend/packages/dev-console/integration-tests/testData/git-import/dancer-ex/contents.json
  frontend/packages/dev-console/integration-tests/testData/git-import/dancer-ex/repo.json
  frontend/packages/dev-console/integration-tests/testData/git-import/django-ex/contents.json
  frontend/packages/dev-console/integration-tests/testData/git-import/django-ex/repo.json
  frontend/packages/dev-console/integration-tests/testData/git-import/golang-ex/contents.json
  frontend/packages/dev-console/integration-tests/testData/git-import/golang-ex/repo.json
  frontend/packages/dev-console/integration-tests/testData/git-import/nodejs-ex/contents.json
  frontend/packages/dev-console/integration-tests/testData/git-import/nodejs-ex/package.json
  frontend/packages/dev-console/integration-tests/testData/git-import/nodejs-ex/repo.json
  frontend/packages/dev-console/integration-tests/testData/git-import/repos.ts
  frontend/packages/dev-console/integration-tests/testData/git-import/ruby-ex/contents.json
  frontend/packages/dev-console/integration-tests/testData/git-import/ruby-ex/repo.json
  frontend/packages/dev-console/integration-tests/testData/git-import/spring-boot/contents.json
  frontend/packages/dev-console/integration-tests/testData/git-import/spring-boot/repo.json
Due: none

Add K8sServices as a sinkable resource
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/components/add/event-sources/SinkSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/form-fields/SinkResources.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/form-fields/SinkUri.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/form-fields/SinkUriResourcesGroup.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/form-fields/__tests__/SinkResources.spec.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/form-fields/PubSubSubscriber.tsx
  frontend/packages/knative-plugin/src/components/sink-pubsub/SinkPubsub.tsx
  frontend/packages/knative-plugin/src/components/sink-source/SinkSourceModal.tsx
  frontend/packages/knative-plugin/src/components/sink-source/__tests__/SinkSourceModal.spec.tsx
  frontend/packages/knative-plugin/src/utils/__tests__/get-knative-resources.spec.ts
  frontend/packages/knative-plugin/src/utils/get-knative-resources.ts
Due: none

Yaml editor will not show empty ssh array
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/Cloudinit.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/CloudinitForm.tsx
  frontend/packages/kubevirt-plugin/src/components/form-with-editor/form-with-editor-utils.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/cloud-init-data-helper.tsx
  frontend/packages/kubevirt-plugin/src/utils/validations/cloudint-utils.ts
Due: ci/prow/kubevirt-plugin

lint issues
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/testData/git-import/repos.ts
Due: none

Bug 2028170: Remove whitespaces around mirroring card popover
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/mirroring-card.tsx
Due: ci/prow/ceph-storage-plugin

Improving console.extensions links and routes
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-tabs.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-a/customize-source.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/empty-state.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/wizard.ts
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/package.json
  frontend/packages/kubevirt-plugin/src/components/VirtualizationWizardNavigator/VirtualizationWizardNavigator.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard-footer.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/create-vm.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/menu-actions-modals/utils.ts
  frontend/packages/kubevirt-plugin/src/components/modals/template-customization/CancelCustomizationModal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshot-details.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/customize-source/CustomizeSourceFinish.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/customize-source/CustomizeSourceForm.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/RowActions.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/VMCustomizeRow.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/VMTemplateRow.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-create-yaml.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-details-page.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-link.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/virtualization.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details-page.tsx
  frontend/packages/kubevirt-plugin/src/constants/url-params.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-customize-source-modal.ts
  frontend/packages/kubevirt-plugin/src/utils/url.ts
  frontend/packages/kubevirt-plugin/src/utils/utils.ts
Due: ci/prow/kubevirt-plugin

use dynamic add actions for topology context menu
  frontend/packages/console-shared/src/components/actions/loader/ActionsLoader.tsx
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/actions/add-actions.tsx
  frontend/packages/dev-console/src/actions/add-resources.tsx
  frontend/packages/dev-console/src/actions/context-menu.ts
  frontend/packages/dev-console/src/actions/providers.ts
  frontend/packages/dev-console/src/components/add/DeveloperFeaturesGettingStartedCard.tsx
  frontend/packages/dev-console/src/components/add/SampleGettingStartedCard.tsx
  frontend/packages/dev-console/src/components/add/hooks/__tests__/useAccessFilterExtensions.spec.ts
  frontend/packages/dev-console/src/components/add/hooks/useAccessFilterExtensions.ts
  frontend/packages/dev-console/src/utils/__tests__/add-resources-menu-utils.spec.tsx
  frontend/packages/dev-console/src/utils/add-resources-menu-utils.ts
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/helm-plugin/src/actions/add-resources.tsx
  frontend/packages/helm-plugin/src/actions/providers.ts
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/src/actions/add-broker.tsx
  frontend/packages/knative-plugin/src/actions/add-channel.tsx
  frontend/packages/knative-plugin/src/actions/add-event-source.tsx
  frontend/packages/knative-plugin/src/actions/add-subscription.ts
  frontend/packages/knative-plugin/src/actions/add-trigger.ts
  frontend/packages/knative-plugin/src/actions/providers.ts
  frontend/packages/knative-plugin/src/topology/components/knativeComponentFactory.ts
  frontend/packages/knative-plugin/src/topology/components/knativeComponentUtils.ts
  frontend/packages/knative-plugin/src/topology/create-connector-utils.ts
  frontend/packages/topology/console-extensions.json
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/actions/TopologyActions.tsx
  frontend/packages/topology/src/actions/__tests__/graphActions.spec.tsx
  frontend/packages/topology/src/actions/__tests__/groupActions.spec.tsx
  frontend/packages/topology/src/actions/graphActions.ts
  frontend/packages/topology/src/actions/groupActions.ts
  frontend/packages/topology/src/actions/index.ts
  frontend/packages/topology/src/actions/provider.ts
  frontend/packages/topology/src/components/application-panel/TopologyApplicationPanel.tsx
  frontend/packages/topology/src/components/graph-view/components/componentFactory.ts
  frontend/packages/topology/src/components/graph-view/components/nodeContextMenu.tsx
Due: none

Trim the strings before localCompare
  frontend/packages/dev-console/src/components/monitoring/metrics/MetricsQueryInput.tsx
Due: none

fix routing issue with resources horizontal nav tabs
  frontend/packages/ceph-storage-plugin/console-extensions.json
Due: ci/prow/ceph-storage-plugin

chore(i18n): update translations
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/ko/topology.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Due: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

resolve review comments
  frontend/packages/dev-console/src/components/catalog/providers/useDevfile.tsx
  vendor/OWNERS
Due: none

Code clean up for migrated k8s actions
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/actions/k8s.ts
Due: none

Update node-sass (to support Node.js 16)
  frontend/package.json
  frontend/yarn.lock
Due: none

Catch unhandled promises when running tests (to support Node.js 15)
  frontend/__tests__/components/resource-pages.spec.tsx
  frontend/before-tests.js
  frontend/packages/console-app/src/components/detect-namespace/__tests__/checkNamespaceExists.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/__tests__/coderef-resolver.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/__tests__/plugin-loader.spec.ts
  frontend/packages/dev-console/src/components/import/__tests__/DeployImage.spec.tsx
  frontend/packages/dev-console/src/components/import/serverless/useUpdateKnScalingDefaultValues.ts
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.spec.tsx
  frontend/packages/topology/src/components/export-app/ExportApplication.tsx
  frontend/packages/topology/src/components/export-app/__tests__/ExportApplication.spec.tsx
Due: none

Reset topology view when verifying workloads
  frontend/packages/topology/integration-tests/support/pages/topology/topology-helper-page.ts
Due: none

Reenable add flow tests
  frontend/packages/dev-console/integration-tests/features/e2e/add-flow-ci.feature
Due: none

Fix NodePort RDP bug
  frontend/packages/kubevirt-plugin/src/components/vms/vm-console/DesktopViewerSelector.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-console/VMConsoles.tsx
  frontend/packages/kubevirt-plugin/src/selectors/service/rdp/index.ts
Due: ci/prow/kubevirt-plugin

disable action if no href/callback (does nothing)
  frontend/public/components/utils/__tests__/kebab.spec.tsx
  frontend/public/components/utils/kebab.tsx
Due: none

[release-4.9] Bug 2029297: Fix troubleshoot link for MON_DISK_LOW
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/status-card/whitelisted-health-checks.ts
Due: ci/prow/ceph-storage-plugin

Fix all-projects-wizard link
  frontend/packages/kubevirt-plugin/src/constants/url-params.ts
Due: ci/prow/kubevirt-plugin

Bug 2029394: missing empty text for hardware devices at wizard review
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/VirtualMachineHardware.tsx
Due: ci/prow/kubevirt-plugin

add edge items to kubevirt data model factory
  frontend/packages/kubevirt-plugin/src/topology/kubevirt-data-transformer.ts
  frontend/packages/topology/src/utils/__tests__/connector-utils.spec.ts
  frontend/packages/topology/src/utils/connector-utils.ts
Due: ci/prow/kubevirt-plugin

Add new option for VIRTIOWIN ConfigMap name
  frontend/packages/kubevirt-plugin/src/constants/v2v.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/v2vvmware-configmap-validator.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/v2vvmware-configmap.ts
Due: ci/prow/kubevirt-plugin

check for extention kind only if kind is missing
  frontend/packages/topology/src/data-transforms/DataModelProvider.tsx
Due: none

Remove unutilized css causing bug
  frontend/public/components/_dropdown.scss
Due: none

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
