Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin

Bug 2041389: Check for currentDefinition variable
  frontend/public/components/sidebars/explore-type-sidebar.tsx
Due: none

Remove old labels from cypress tests
  frontend/packages/dev-console/integration-tests/features/user-preferences/user-preferences-dev-perspective.feature
  frontend/packages/dev-console/integration-tests/support/constants/add.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/createGitWorkload.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-devfile.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-docker-file.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-git.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/page-details.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/addFlow.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/monitoring/topology-sidebar-actions.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/userPreferences/user-preferences-dev-perspective.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/common/addFlow.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/actions-on-knative-revision.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/create-knative-workload.ts
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-add-options.ts
Due: none

remove the isloading for rulesAccess as it is not necessary
  frontend/public/components/notification-drawer.tsx
Due: none

default cache ns store ttl to 0
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/state.ts
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/namespace-store-pages/cache-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/utils/bucket-class.ts
  frontend/packages/ceph-storage-plugin/src/utils/time-duration-dropdown.tsx
Due: ci/prow/ceph-storage-plugin

Fix handling of the `defaultSortField` prop for tables
  frontend/public/components/factory/table-data-hook.ts
Due: none

Bug 2039618: Add validations to SAP HANA
  frontend/packages/kubevirt-plugin/src/components/vm-templates/instantiate-template/TemplateForm.tsx
Due: ci/prow/kubevirt-plugin

Replace invalid ConfigMap key characters with an underline
  frontend/packages/console-shared/src/hooks/__tests__/useUserSettings.spec.ts
  frontend/packages/console-shared/src/hooks/useUserSettings.ts
Due: none

Fetch imageStreamTag on reload
  frontend/packages/dev-console/src/components/edit-deployment/images/ContainerImageField.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStream.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamDropdown.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamTagDropdown.tsx
Due: none

rolebindings page doesn't load for normal users
  frontend/public/components/RBAC/bindings.jsx
Due: none

Mock all the remaining github requests in e2e suite
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-devfile.feature
  frontend/packages/dev-console/integration-tests/testData/git-import/devfile-sample/contents.json
  frontend/packages/dev-console/integration-tests/testData/git-import/devfile-sample/package.json
  frontend/packages/dev-console/integration-tests/testData/git-import/devfile-sample/repo.json
  frontend/packages/dev-console/integration-tests/testData/git-import/flask-dockerfile-example/contents.json
  frontend/packages/dev-console/integration-tests/testData/git-import/flask-dockerfile-example/repo.json
  frontend/packages/dev-console/integration-tests/testData/git-import/repos.ts
  frontend/packages/dev-console/integration-tests/testData/git-import/s2i-dotnetcore-ex/contents.json
  frontend/packages/dev-console/integration-tests/testData/git-import/s2i-dotnetcore-ex/repo.json
  frontend/packages/topology/integration-tests/support/step-definitions/common/topology.ts
Due: none

Show D/DC name in edit form
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/edit-deployment/EditDeploymentFormEditor.tsx
  frontend/packages/dev-console/src/components/edit-deployment/NameSection.tsx
Due: none

bump cnv version
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/pvc-upload.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests/deploy-kubevirt-gating.sh
Due: ci/prow/kubevirt-plugin

integrate PatternFly log viewer extension
  frontend/package.json
  frontend/packages/console-app/src/components/nodes/NodeLogs.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/logs/logs-utils.ts
  frontend/public/components/build-logs.jsx
  frontend/public/components/pod-logs.jsx
  frontend/public/components/utils/_log-window.scss
  frontend/public/components/utils/_resource-log.scss
  frontend/public/components/utils/index.tsx
  frontend/public/components/utils/line-buffer.ts
  frontend/public/components/utils/log-window.jsx
  frontend/public/components/utils/resource-log.tsx
  frontend/public/locales/en/public.json
  frontend/yarn.lock
Due: none

Bug 2039868: Enhance Insights widget empty states
  frontend/packages/insights-plugin/locales/en/insights-plugin.json
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
  frontend/packages/insights-plugin/src/components/InsightsPopup/mappers.ts
  frontend/packages/insights-plugin/src/components/InsightsPopup/status.ts
  frontend/packages/insights-plugin/src/plugin.tsx
Due: none

Gherkin and automation for trigeers section in sidebar of workload odc-6375
  frontend/packages/topology/integration-tests/features/topology/pipelines-on-topology.feature
  frontend/packages/topology/integration-tests/support/pages/topology/topology-side-pane-page.ts
  frontend/packages/topology/integration-tests/support/step-definitions/common/topology.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/pipelines-on-topology.ts
Due: none

Add a new devfile telemetry event
  frontend/packages/dev-console/src/components/import/devfile/DevfileStrategySection.tsx
Due: none

Address feedback
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-resource.ts
  frontend/public/components/nav/admin-nav.tsx
Due: none

Monitoring: Fix handling of ServiceMonitor's matchExpressions
  frontend/public/components/monitoring/targets.tsx
Due: none

check if name label is defined before comparing
  frontend/packages/console-shared/src/utils/resource-utils.ts
Due: none

kubevirt: only run smoke tests in CI
  frontend/packages/kubevirt-plugin/integration-tests-cypress/cypress.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/create-template-from-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/create-vm-from-customize-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/create-vm-from-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-actions.spec.ts
Due: ci/prow/kubevirt-plugin

Fix spacing between resource items in inventory card
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/ResourcesSection.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/VMStatusInventoryItem.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/VmStatusesSection.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/virt-overview-inventory-card.scss
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/vm-status-inventory-item.scss
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/vm-statuses-section.scss
Due: ci/prow/kubevirt-plugin

Inline client name constant
  frontend/packages/dev-console/src/components/import/devfile/DevfileStrategySection.tsx
Due: none

Prevent route external icon and copy-to-clipboard icon from wrapping separately from its associated inline text.
  frontend/public/components/routes.tsx
  frontend/public/components/utils/link.tsx
  frontend/public/style/_common.scss
Due: none

Make referenceForGroupVersionKind consume 3 params
  frontend/packages/ceph-storage-plugin/src/components/odf-system/odf-system-list.tsx
  frontend/packages/console-app/src/components/modals/service-binding/BindableServices.tsx
  frontend/packages/console-app/src/components/modals/service-binding/bindable-services-utils.ts
  frontend/packages/dev-console/src/components/topology/bindable-services/bindable-service-resources.ts
  frontend/packages/gitops-plugin/src/components/details/TimestampWrapper.tsx
  frontend/packages/knative-plugin/src/components/overview/EventSourceResources.tsx
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionsForm.tsx
  frontend/packages/operator-lifecycle-manager/src/components/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/k8s-resource.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-group.tsx
  frontend/packages/operator-lifecycle-manager/src/components/topology/sidebar/TopologyOperatorBackedResources.tsx
  frontend/public/components/cluster-settings/global-config.tsx
  frontend/public/components/machine-autoscaler.tsx
  frontend/public/module/k8s/k8s-models.ts
  frontend/public/module/k8s/k8s-ref.ts
  frontend/public/module/k8s/k8s.ts
  frontend/public/reducers/features.ts
Due: ci/prow/ceph-storage-plugin

Copy referenceForOwnerRef to SDK for managed-by
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-ref.ts
  frontend/public/components/utils/managed-by.tsx
Due: none

Bug 2042619: Avoid runtime error when no CSVs
  frontend/packages/console-shared/src/components/dashboard/status-card/OperatorStatusBody.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/state-utils.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/health-item.tsx
Due: none

Include the namespace-scoped Helm Chart Repositories in the dev catalog
  frontend/packages/console-shared/src/components/catalog/catalog-view/CatalogFilters.tsx
  frontend/packages/helm-plugin/src/catalog/providers/useHelmCharts.tsx
  frontend/packages/helm-plugin/src/components/forms/__tests__/HelmInstallUpgradeForm.spec.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmChartVersionDropdown.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradeForm.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradePage.tsx
Due: none

Changes to the project selector to allow system namespaces that are Favorited to be included in the Favorited list even when the option to Show default projects is unselected.
  frontend/packages/console-shared/src/components/namespace/NamespaceDropdown.tsx
Due: none

[release 4.9] Bug 2042683: Check rbac before polling for rules silences
  frontend/public/components/notification-drawer.tsx
  frontend/public/locales/en/public.json
Due: none

Conjunction in the ProgressiveListFooter is now translatable
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/buildconfig/BuildConfigFormEditor.tsx
  frontend/packages/dev-console/src/components/edit-deployment/AdvancedSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/AdvancedSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/__tests__/AdvancedSection.spec.tsx
  frontend/packages/dev-console/src/components/progressive-list/ProgressiveList.tsx
  frontend/packages/dev-console/src/components/progressive-list/ProgressiveListFooter.tsx
  frontend/packages/dev-console/src/components/progressive-list/__tests__/ProgressiveList.spec.tsx
  frontend/packages/dev-console/src/components/progressive-list/__tests__/ProgressiveListFooter.spec.tsx
Due: none

Monitoring: Fix JS error when dashboard JSON cannot be parsed
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/useFetchDashboards.ts
Due: none

disable smoke action test
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/create-template-from-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-actions.spec.ts
Due: ci/prow/kubevirt-plugin

ODC-6445: Visualize kamelets sinks
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology-details.ts
  frontend/packages/console-shared/src/components/pod/PodsOverview.tsx
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/actions/providers.ts
  frontend/packages/knative-plugin/src/topology/__tests__/topology-knative-test-data.ts
  frontend/packages/knative-plugin/src/topology/components/edges/EventSinkLink.tsx
  frontend/packages/knative-plugin/src/topology/components/knativeComponentFactory.ts
  frontend/packages/knative-plugin/src/topology/components/nodes/EventSink.tsx
  frontend/packages/knative-plugin/src/topology/const.ts
  frontend/packages/knative-plugin/src/topology/data-transformer.ts
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/knative-plugin/src/topology/listView/knativeListViewComponentFactory.ts
  frontend/packages/knative-plugin/src/topology/sidebar/KnativeOverviewSections.tsx
  frontend/packages/knative-plugin/src/topology/sidebar/index.ts
  frontend/packages/knative-plugin/src/topology/sidebar/knative-common-tab-sections.tsx
  frontend/packages/knative-plugin/src/topology/sidebar/knative-eventsource-tab-sections.tsx
  frontend/packages/knative-plugin/src/topology/sidebar/knative-resource-tab-sections.tsx
  frontend/packages/knative-plugin/src/topology/topology-types.ts
  frontend/packages/knative-plugin/src/utils/get-knative-resources.ts
  frontend/packages/topology/src/components/side-bar/SelectedEntityDetails.tsx
  frontend/packages/topology/src/components/workload/ResolveAdapter.ts
  frontend/packages/topology/src/components/workload/pods-tab-section.tsx
  frontend/packages/topology/src/operators/operatorsDataModelReconciler.ts
Due: none

Replace getList+useK8sWatchResource with a single useK8sWatchResource
  frontend/packages/console-shared/src/hooks/hpa-hooks.ts
Due: none

Add function names to components which are wrapped in memo to get their name in the react dev tools
  frontend/packages/console-app/src/components/detect-language/DetectLanguage.tsx
  frontend/packages/console-shared/src/components/error/error-boundary.tsx
  frontend/packages/console-shared/src/hoc/withLastNamespace.tsx
  frontend/packages/console-shared/src/hoc/withQuickStartContext.tsx
  frontend/packages/console-shared/src/hoc/withTelemetry.tsx
  frontend/packages/console-shared/src/hoc/withUserSettings.tsx
  frontend/packages/console-shared/src/hoc/withUserSettingsCompatibility.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/PodSet.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/WorkloadNode.tsx
  frontend/packages/topology/src/components/list-view/ListElementWrapper.tsx
  frontend/packages/topology/src/components/list-view/TopologyListView.tsx
  frontend/packages/topology/src/components/page/TopologyDataRenderer.tsx
  frontend/packages/topology/src/components/page/TopologyPageToolbar.tsx
  frontend/packages/topology/src/components/utils/subscribeOverviewAlerts.ts
  frontend/packages/topology/src/components/utils/subscribeOverviewMetrics.ts
  frontend/packages/topology/src/utils/withEditReviewAccess.tsx
  frontend/public/components/app.jsx
  frontend/public/components/namespace.jsx
  frontend/public/components/nav/index.tsx
Due: none

Changed validation of adding file content from not empty to not contain parsing errors
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/sysprep/SysprepFileField.tsx
Due: ci/prow/kubevirt-plugin

Update patternfly-topology to include latest bugfixes/improvements
  frontend/package.json
  frontend/yarn.lock
Due: none
