Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

[feat] service schema 수정
  frontend/public/models/hypercloud/structural-schema-template.ts
Due: none

e2e automation add wait for RDP data
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.guest.agent.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/consolesView.ts
Due: ci/prow/kubevirt-plugin

make ocs local volume set step responsive in wizard flow
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/attached-devices.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices/create-sc/wizard-pages/create-local-volume-set.tsx
Due: ci/prow/ceph-storage-plugin

Bug 1925020: Console demo plugin deployment image shoult not point to dockerhub
  frontend/dynamic-demo-plugin/oc-manifest.yaml
Due: none

Add tests for VM template source and VM empty state
  frontend/package.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/.eslintrc
  frontend/packages/kubevirt-plugin/integration-tests-cypress/README.md
  frontend/packages/kubevirt-plugin/integration-tests-cypress/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/cypress.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/enums/provisionSource.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/fixtures/data-volume.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/fixtures/example.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/plugins/index.js
  frontend/packages/kubevirt-plugin/integration-tests-cypress/reporter-config.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/empty-state.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tsconfig.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/add-source.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests/deploy-kubevirt-gating.sh
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-source.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
  test-prow-e2e.sh
Due: ci/prow/kubevirt-plugin

fix delete app modal error when resource not found
  frontend/packages/dev-console/src/utils/application-utils.ts
  frontend/packages/knative-plugin/src/topology/__tests__/data-transformer.spec.ts
Due: none

Bug 1923911: improve test for vm filter and details page
  frontend/packages/kubevirt-plugin/integration-tests/tests/cdi-upload.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/common.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/pvc.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.base.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.list-filtering.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/virtualMachine.view.ts
Due: ci/prow/kubevirt-plugin

Bug 1925039: Fix Test - ID(CNV-5327)
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.next.run.configuration.scenario.ts
Due: ci/prow/kubevirt-plugin

Query Browser: Fix graph crash after hiding and then showing a series
  frontend/public/components/monitoring/query-browser.tsx
Due: none

Unify template URLs
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-link.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/kubevirt-plugin/src/plugin.tsx
  frontend/packages/kubevirt-plugin/src/utils/utils.ts
Due: ci/prow/kubevirt-plugin

Add info about dev catalog to boot source column
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
Due: ci/prow/kubevirt-plugin

fix incorrect quickstart highlight
  frontend/public/components/nav/index.tsx
  frontend/public/components/nav/perspective-nav.tsx
Due: none

removes form validation from net(sasl/tls) section for kafkaSource
  frontend/packages/knative-plugin/src/components/add/SecretKeySelector.tsx
  frontend/packages/knative-plugin/src/components/add/__tests__/eventSource-validation-utils.spec.ts
  frontend/packages/knative-plugin/src/components/add/eventSource-validation-utils.ts
  frontend/packages/knative-plugin/src/utils/__tests__/create-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
Due: none

Bug 1915176: Update snapshot API CRDs to v1 in web-console when creating volumesnapshot related resource
  frontend/packages/integration-tests-cypress/mocks/snapshot.ts
  frontend/packages/integration-tests-cypress/tests/crud/k8-openshift-cruds.spec.ts
  frontend/packages/integration-tests-cypress/tests/storage/snapshot.spec.ts
  frontend/public/models/index.ts
  frontend/public/models/yaml-templates.ts
Due: none

Add unit test for createOrUpdateImageStream
  frontend/packages/dev-console/src/components/import/__mocks__/deployImage-validation-mock.ts
  frontend/packages/dev-console/src/components/import/__tests__/deployImage-submit-utils.spec.ts
Due: none

Force referencePolicy to to use cluster image registry
  frontend/packages/dev-console/src/components/import/__mocks__/deployImage-validation-mock.ts
  frontend/packages/dev-console/src/components/import/deployImage-submit-utils.ts
  frontend/packages/dev-console/src/utils/__tests__/imagestream-test-data.ts
Due: none

handle pipeline svg spin using wrapped <g>
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/StatusIcon.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/StatusIcon.tsx
Due: none

Use dompurify instead of sanitize-html
  frontend/package.json
  frontend/public/components/markdown-view.tsx
  frontend/yarn.lock
Due: none

Add tests for template provider and support
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/add-source.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/wizard.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/result-tab/success-results.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/support-modal/support-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/label.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/common.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/basic.ts
Due: ci/prow/kubevirt-plugin

prettier
  frontend/public/components/markdown-view.tsx
Due: none

Cypress: fix annotations test flake
  frontend/packages/integration-tests-cypress/tests/crud/annotations.spec.ts
Due: none

Bug 1908343: Allow clicking on column labels on column management dialog
  frontend/public/components/modals/column-management-modal.tsx
Due: none

keep id consistent and only use onClick when column is not disabled
  frontend/public/components/modals/column-management-modal.tsx
Due: none

allow data attr
  frontend/public/components/markdown-view.tsx
Due: none

Add '--ignore-not-found' to oc get for GITOPS_HOSTNAME
  contrib/oc-environment.sh
Due: none

simplify the solution and keep onChange handler for checkbox and text
  frontend/public/components/modals/column-management-modal.tsx
  frontend/public/style/_forms.scss
Due: none

[feat] multi cluster에 scale in out 기능 구현
  frontend/public/components/hypercloud/cluster.tsx
  frontend/public/components/hypercloud/modals/configure-count-modal.tsx
  frontend/public/components/hypercloud/modals/index.ts
Due: none

[refactor] cluster list 불러올 때
  frontend/public/module/k8s/resource.js
Due: none

Bug 1867400: Not allow creation of second storagecluster of different mode in a single OCS
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/existing-cluster-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
Due: ci/prow/ceph-storage-plugin

[feat] 줄정리
  frontend/public/components/pod.tsx
Due: none

[feat] cluster dropdown에 사용되는 api 변경
  frontend/public/components/hypercloud/nav/cluster-dropdown.tsx
Due: none

show warning when alert type doesn't match
  frontend/packages/console-shared/src/components/alerts/AlertSeverityIcon.tsx
  frontend/packages/console-shared/src/utils/__mocks__/alerts-and-rules-data.ts
  frontend/packages/console-shared/src/utils/__tests__/resource-utils.spec.ts
  frontend/packages/dev-console/src/components/monitoring/overview/__tests__/MonitoringOverview.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/overview/__tests__/MonitoringOverviewAlerts.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/overview/monitoring-overview-alerts-utils.ts
Due: none

[feat] kibana proxy 주소 변경
  cmd/bridge/main.go
Due: none

[feat] flag에 prometheus public url 추가
  cmd/bridge/main.go
Due: none

Multiple pool cypress testing
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/multiple-pool.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/utils/consts.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/multiple-pool.ts
  frontend/packages/ceph-storage-plugin/src/components/modals/storage-pool-modal/storage-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/public/components/storage-class-form.tsx
Due: ci/prow/ceph-storage-plugin

[feat] prometheus monitoring proxy 설정변경
  cmd/bridge/main.go
Due: none

Bug 1925415: waiting for VM importing before move on
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.action.base.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.detail.scheduling.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.resources.scenario.ts
Due: ci/prow/kubevirt-plugin

[feat] 프로메테우스 관련 코드 수정
  cmd/bridge/main.go
Due: none

[bugfix] search 페이지에서 pinnedResource 관련 코드 삭제
  frontend/public/components/hypercloud/search.tsx
Due: none

[feat] thanos 주소 변경 후 테스트
  cmd/bridge/main.go
Due: none

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
