Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin

Update risk labels' order and their naming
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
Due: none

adds devfile provider for catalog
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/catalog/providers/index.ts
  frontend/packages/dev-console/src/components/catalog/providers/useDevfile.tsx
  frontend/packages/helm-plugin/src/catalog/providers/useHelmCharts.tsx
Due: none

Bug 1951486: replace metrics queries
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/queries.ts
Due: ci/prow/kubevirt-plugin

Bug 1926776: "Template support" modal appears when select the RHEL6 common template
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/support-modal/support-modal.tsx
Due: ci/prow/kubevirt-plugin

Fix Uncaught TypeError for OCS internal mode
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/configure.tsx
Due: ci/prow/ceph-storage-plugin

converting yaml-templates extension types to dynamic-plugin-sdk
  frontend/packages/console-app/src/__tests__/extension-checks/yaml-templates.spec.ts
  frontend/packages/console-demo-plugin/src/plugin.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/yaml-templates.ts
  frontend/packages/console-plugin-sdk/src/typings/index.ts
  frontend/packages/console-plugin-sdk/src/typings/yaml-templates.ts
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/package.json
  frontend/packages/knative-plugin/src/plugin.tsx
  frontend/packages/knative-plugin/src/yaml-templates.ts
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/package.json
  frontend/packages/kubevirt-plugin/src/models/templates/vm-template-yaml.ts
  frontend/packages/kubevirt-plugin/src/models/templates/vm-yaml.ts
  frontend/packages/kubevirt-plugin/src/plugin.tsx
  frontend/packages/network-attachment-definition-plugin/console-extensions.json
  frontend/packages/network-attachment-definition-plugin/package.json
  frontend/packages/network-attachment-definition-plugin/src/models/templates/index.ts
  frontend/packages/network-attachment-definition-plugin/src/plugin.ts
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/package.json
  frontend/packages/pipelines-plugin/src/plugin.tsx
  frontend/public/components/create-yaml.tsx
  frontend/public/components/edit-yaml.jsx
  frontend/public/models/yaml-templates.ts
Due: ci/prow/kubevirt-plugin

Updated helm chart annotations namespace
  frontend/packages/helm-plugin/src/catalog/utils/const.ts
Due: none

Add helm config export in oc-environment script
  contrib/oc-environment.sh
Due: none

CONSOLE-2847: Cypress: port protractor Filtering tests
  frontend/integration-tests/protractor.conf.ts
  frontend/integration-tests/tests/filter.scenario.ts
  frontend/packages/integration-tests-cypress/tests/app/filtering-and-searching.spec.ts
Due: none

Local console for proxy
  cmd/bridge/main.go
Due: none

Bug 1960089: CamelCase ImageStream related pages and breadcrumb
  frontend/public/components/image-stream-tag.tsx
  frontend/public/components/image-stream.tsx
  frontend/public/locales/en/public.json
Due: none

Move kubevirt API to v1
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/fixtures/user-template.json
  frontend/packages/kubevirt-plugin/integration-tests/tests/mocks/mocks.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/types/types.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/templates/containerTemplate.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/templates/pxeTemplate.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/templates/urlTemplate.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/templates/validationCommonTemplate.yaml
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/templates/windowsVMForRDPL2.ts
  frontend/packages/kubevirt-plugin/src/components/info-messages/__tests__/mock_data.ts
  frontend/packages/kubevirt-plugin/src/components/vms/vm-console/connectors/VncConsoleConnector.tsx
  frontend/packages/kubevirt-plugin/src/models/index.ts
  frontend/packages/kubevirt-plugin/src/models/templates/vm-template-yaml.ts
  frontend/packages/kubevirt-plugin/src/topology/__tests__/topology-kubevirt-test-data.ts
Due: ci/prow/kubevirt-plugin

bypass failing tests
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/customize-source.spec.ts
Due: ci/prow/kubevirt-plugin

Followup to PR #8843
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard-footer.scss
  frontend/packages/kubevirt-plugin/src/components/vm-templates/VMTemplateSupport.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-support-modal.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/basic.ts
  frontend/packages/kubevirt-plugin/src/utils/common.ts
Due: ci/prow/kubevirt-plugin

override template apiversion
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/vm-template-wrapper.ts
Due: ci/prow/kubevirt-plugin

Monitoring dashboards: Support colored text for single values
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/single-stat.tsx
  frontend/public/components/monitoring/dashboards/types.ts
Due: none

add error handling if appGroups is null
  frontend/packages/gitops-plugin/locales/en/gitops-plugin.json
  frontend/packages/gitops-plugin/src/components/GitOpsListPage.tsx
  frontend/packages/gitops-plugin/src/components/list/GitOpsList.tsx
  frontend/packages/gitops-plugin/src/components/list/GitOpsTableRow.tsx
Due: none

Allow multiple selection on resources drop down
  frontend/public/components/_resource-dropdown.scss
  frontend/public/components/resource-dropdown.tsx
Due: none

Bug 1957756: Fix key value in replacement object
  frontend/packages/ceph-storage-plugin/src/components/disk-inventory/ocs-disks-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/disk-inventory/ocs-kebab-options.tsx
  frontend/packages/ceph-storage-plugin/src/components/disk-inventory/ocs-status-column.tsx
  frontend/packages/ceph-storage-plugin/src/components/disk-inventory/state-reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/modals/disk-replacement-modal.tsx
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
Due: ci/prow/ceph-storage-plugin

Fix crashing of VM Templates page
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
Due: ci/prow/kubevirt-plugin

Bug 1959550: Overly generic CSS rules for dd and dt elements breaks styling elsewhere in console
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/review-tab/review-tab.scss
Due: ci/prow/kubevirt-plugin

epic automation for workspaces
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipeline-task-runs-display.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-actions.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-runs.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-triggers.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-workspaces.feature
  frontend/packages/pipelines-plugin/integration-tests/support/constants/static-text/index.ts
  frontend/packages/pipelines-plugin/integration-tests/support/constants/static-text/pipeline-text.ts
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineDetails-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineRun-details-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelines-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/pipelines.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-builder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipeline-task-runs-display.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-actions.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-runs.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-workspaces.ts
Due: none

fix helm rollback form footer alignment
  frontend/packages/helm-plugin/src/components/forms/rollback/HelmReleaseRollbackForm.tsx
  frontend/packages/helm-plugin/src/components/forms/rollback/HelmReleaseRollbackPage.tsx
Due: none

Convert form help uses of Popover to FieldLevelHelp
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-simple-wizard-test.includes.ts
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/cloud-init-info-helper.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/kubevirt-plugin/src/components/form/form-row.tsx
  frontend/packages/kubevirt-plugin/src/components/form/popover-helper.tsx
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHPopover/SSHPopover.tsx
Due: ci/prow/kubevirt-plugin

fixes monitoring nav route for dev perspective
  frontend/packages/dev-console/console-extensions.json
Due: none

Add owners file to service mesh features folder
  frontend/packages/dev-console/integration-tests/features/serviceMesh/OWNERS
Due: none

Default to current namespace for non-common templates
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-details-page.tsx
Due: ci/prow/kubevirt-plugin

Bug 1960683: Fix hot loop in global config page
  frontend/public/components/cluster-settings/global-config.tsx
Due: none

Bug 1960686: Fix hot loop in global config page
  frontend/public/components/cluster-settings/global-config.tsx
Due: none

make taskrun calls namespace scoped
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/TaskRuns.tsx
  frontend/packages/pipelines-plugin/src/components/taskruns/list-page/TaskRunsListPage.tsx
Due: none

Global i18n mocks
  frontend/__mocks__/i18next.js
  frontend/__mocks__/react-i18next.js
Due: none

Fix CopyToClipboard tests that lacked mocks
  frontend/__tests__/components/utils/copy-to-clipboard.spec.tsx
Due: none

Bug 1942117: Add Storage page
  frontend/public/components/storage/attach-pvc-storage.tsx
  frontend/public/components/storage/attach-storage.tsx
  frontend/public/locales/en/public.json
Due: none

fixes issue with create menuitems on serverless, pipelines nav options
  frontend/packages/console-shared/src/components/multi-tab-list/MultiTabListPage.tsx
Due: none

Fix Cypress role binding test flake
  frontend/packages/integration-tests-cypress/views/list-page.ts
Due: none

GitOps: Add Sync Status and Latest Deployment Time to List Page (751)
  frontend/packages/gitops-plugin/locales/en/gitops-plugin.json
  frontend/packages/gitops-plugin/src/components/list/GitOpsList.tsx
  frontend/packages/gitops-plugin/src/components/list/GitOpsSyncFragment.tsx
  frontend/packages/gitops-plugin/src/components/list/GitOpsTableHeader.tsx
  frontend/packages/gitops-plugin/src/components/list/GitOpsTableRow.scss
  frontend/packages/gitops-plugin/src/components/list/GitOpsTableRow.tsx
  frontend/packages/gitops-plugin/src/components/utils/gitops-types.ts
  frontend/packages/gitops-plugin/src/components/utils/gitops-utils.ts
Due: none

Topology - Delete Workload
  frontend/packages/dev-console/integration-tests/support/constants/topology.ts
  frontend/packages/topology/integration-tests/features/topology/topoplogy-delete-workload.feature
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-actions-page.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-helper-page.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-side-pane-page.ts
  frontend/packages/topology/integration-tests/support/step-definitions/common/topology.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/delete-workload.ts
Due: none
