Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin

add data for quickStarts from configmap to window.SERVER_FLAGS
  cmd/bridge/main.go
  frontend/@types/console/index.d.ts
  pkg/server/server.go
  pkg/serverconfig/config.go
  pkg/serverconfig/types.go
  pkg/serverconfig/validate.go
  pkg/serverconfig/validate_test.go
Due: none

Bug 1952730: “Customize virtual machine” and the “Advanced” feature are confusing in wizard
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
Due: ci/prow/kubevirt-plugin

disable Quick Starts
  frontend/@types/console/index.d.ts
  frontend/packages/console-app/src/components/quick-starts/__tests__/quick-start-utils.spec.tsx
  frontend/packages/console-app/src/components/quick-starts/loader/QuickStartsLoader.tsx
  frontend/packages/console-app/src/components/quick-starts/utils/quick-start-types.ts
  frontend/packages/console-app/src/components/quick-starts/utils/quick-start-utils.ts
Due: none

Add option to wrap log lines
  frontend/public/components/utils/_log-window.scss
  frontend/public/components/utils/log-window.jsx
  frontend/public/components/utils/resource-log.tsx
  frontend/public/locales/en/logs.json
Due: none

VM will be turned off when creating snapshoting and a warning will be presented
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/snapshot-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshots.tsx
Due: ci/prow/kubevirt-plugin

Add .dockerignore file so that all node_modules files are ignored during docker build. This greatly improves performance of building an image locally.
  .dockerignore
  Dockerfile.dev
Due: none

updated imports from @patternfly/react-tokens
  frontend/packages/console-shared/src/components/dashboard/DashboardGrid.tsx
  frontend/packages/console-shared/src/components/editor/yaml-editor-utils.ts
  frontend/packages/console-shared/src/components/hpa/DeleteHPAModal.tsx
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-popover.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/RemoveTriggerForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/modals/index.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/BuilderFinallyNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/ErrorNodeDecorator.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/PlusNodeDecorator.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/WhenExpressionDecorator.tsx
  frontend/packages/pipelines-plugin/src/utils/pipeline-augment.ts
  frontend/public/components/graphs/utils.ts
Due: ci/prow/kubevirt-plugin

Bug 1953691: Remove unused mock file
  frontend/packages/dev-console/src/components/hpa/__tests__/i18next.mock
Due: none

Fix issues related to loading plugins via SERVER_FLAGS.consolePlugins
  frontend/dynamic-demo-plugin/README.md
  frontend/dynamic-demo-plugin/oc-manifest.yaml
  frontend/dynamic-demo-plugin/package.json
  frontend/dynamic-demo-plugin/webpack.config.ts
  frontend/packages/console-dynamic-plugin-sdk/README.md
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/__tests__/plugin-loader.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/__tests__/plugin-manifest.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-loader.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-manifest.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/plugin-manifest.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/plugin-package.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/url.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/ValidationAssertions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/ConsoleAssetPlugin.ts
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/ConsoleRemotePlugin.ts
  frontend/public/plugins.ts
Due: none

Support webpack ConcatenatedModule in ExtensionValidator
  frontend/packages/console-dynamic-plugin-sdk/src/validation/ExtensionValidator.ts
Due: none

Bug 1941801: Role bind toolbar dropdowns haven't been internationalized
  frontend/public/components/RBAC/bindings.jsx
  frontend/public/locales/en/bindings.json
Due: none

backport telemetry to release-4.7
  frontend/dynamic-demo-plugin/console-extensions.json
  frontend/dynamic-demo-plugin/package.json
  frontend/dynamic-demo-plugin/src/utils/telemetry.ts
  frontend/packages/console-app/src/components/quick-starts/utils/quick-start-context.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/telemetry.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/packages/console-shared/src/components/quick-starts/QuickStartsCatalogCard.tsx
  frontend/packages/console-shared/src/hoc/index.ts
  frontend/packages/console-shared/src/hoc/withTelemetry.tsx
  frontend/packages/console-shared/src/hooks/__tests__/usePinnedResources.spec.ts
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/usePinnedResources.ts
  frontend/packages/console-shared/src/hooks/useTelemetry.ts
  frontend/packages/dev-console/src/components/EmptyState.tsx
  frontend/packages/topology/src/components/page/TopologyView.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchController.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchDetails.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchModalBody.tsx
  frontend/public/components/app.jsx
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/components/nav/nav-header.tsx
Due: none

Bug 1941798: i18n kind on LimitRange and ResourceQuota list pages
  frontend/public/components/limit-range.tsx
  frontend/public/components/resource-quota.jsx
  frontend/public/locales/en/resource-quota.json
Due: none

suppress focus outline on topology group elements
  frontend/packages/topology/src/components/graph-view/Topology.scss
Due: none

Allow focus on all alerts in modals
  frontend/public/components/utils/button-bar.jsx
Due: none

Adding i18n for missed HPA form
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/hpa/HPAUtilizationField.tsx
  frontend/packages/dev-console/src/components/hpa/__tests__/hpa-utils.spec.ts
  frontend/packages/dev-console/src/components/hpa/hpa-utils.ts
Due: none

Provide add page customization config object as server flag
  cmd/bridge/main.go
  frontend/@types/console/index.d.ts
  pkg/server/server.go
  pkg/serverconfig/config.go
  pkg/serverconfig/types.go
  pkg/serverconfig/validate.go
  pkg/serverconfig/validate_test.go
Due: none

Hide add actions from the Add page which are defined in the server flag
  frontend/packages/dev-console/src/components/EmptyState.tsx
  frontend/packages/dev-console/src/utils/__tests__/useAddActionExtensions.spec.ts
  frontend/packages/dev-console/src/utils/useAddActionExtensions.ts
Due: none

adds samples to topology quick add catolog
  frontend/packages/dev-console/src/components/catalog/providers/useBuilderImageSamples.ts
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/quick-search/QuickSearch.tsx
Due: none

Bug 1953937: Fixing PVC creation page issue in 4.7(Reverting wrong commit)
  frontend/packages/console-shared/src/utils/storage-utils.ts
  frontend/public/components/storage/create-pvc.tsx
  frontend/public/components/storage/shared.ts
Due: none

enable external for IBM cloud
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
Due: ci/prow/ceph-storage-plugin

Add certification filter and certified badge in helm catalog
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/catalog.ts
  frontend/packages/dev-console/src/components/catalog/CatalogTile.tsx
  frontend/packages/dev-console/src/components/catalog/details/CatalogDetailsModal.tsx
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/helm-plugin/icons/certified.svg
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/catalog/utils/catalog-utils.tsx
  frontend/packages/helm-plugin/src/catalog/utils/const.ts
  frontend/packages/helm-plugin/src/types/helm-types.ts
Due: none

Update extension types and use new extension declaration
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/actions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/catalog.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology-details.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
Due: none

Bug 1952372: VM stop action should not be there if the VM is not running
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
Due: ci/prow/kubevirt-plugin

Not showing user creds if vm isnt up
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-vm-details-page-testing.includes.ts
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHDetailsPage/SSHDetailsPage.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
Due: ci/prow/kubevirt-plugin

Use latest WebTerminal plugin instead of 4.5.0
  frontend/packages/console-app/src/components/cloud-shell/cloud-shell-utils.ts
Due: none

Add ActionsLoader and migrate helm list actions
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/actions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/actions/ActionsHookResolver.tsx
  frontend/packages/console-shared/src/components/actions/ActionsLoader.tsx
  frontend/packages/console-shared/src/components/actions/index.ts
  frontend/packages/console-shared/src/components/index.ts
  frontend/packages/console-shared/src/components/kebab/KebabItem.tsx
  frontend/packages/console-shared/src/components/kebab/KebabMenu.tsx
  frontend/packages/console-shared/src/components/kebab/KebabMenuItems.tsx
  frontend/packages/console-shared/src/components/kebab/kebab-types.ts
  frontend/packages/console-shared/src/components/kebab/kebab-utils.ts
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/helm-plugin/package.json
  frontend/packages/helm-plugin/src/actions/creators.ts
  frontend/packages/helm-plugin/src/actions/index.ts
  frontend/packages/helm-plugin/src/actions/providers.ts
  frontend/packages/helm-plugin/src/actions/types.ts
  frontend/packages/helm-plugin/src/components/details-page/history/HelmReleaseHistoryRow.tsx
  frontend/packages/helm-plugin/src/components/list-page/HelmReleaseListRow.tsx
Due: none

fix IO operations chart tooltip
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/data-consumption-card/data-consumption-graph.tsx
Due: ci/prow/ceph-storage-plugin

show all visited tasks of quickstart, change icon of failed tasks, fix spacing od quickstarts
  frontend/packages/console-app/src/components/quick-starts/controller/QuickStartTaskHeader.tsx
  frontend/packages/console-app/src/components/quick-starts/controller/QuickStartTasks.tsx
  frontend/packages/console-app/src/components/quick-starts/controller/__tests__/QuickStartTasks.spec.tsx
  frontend/packages/console-app/src/components/quick-starts/utils/const.ts
  frontend/packages/console-app/src/components/quick-starts/utils/quick-start-context.ts
  frontend/packages/console-app/src/components/quick-starts/utils/quick-start-types.ts
  frontend/packages/console-app/src/components/quick-starts/utils/quick-start-utils.ts
Due: none

user-details-displays-unrelated-subjects-rolebinding
  frontend/public/components/factory/table-filters.ts
Due: none

Use live regions for alerts in modals
  frontend/public/components/utils/button-bar.jsx
Due: none

Save additional parameters from build guidance container and drop it
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils-data.ts
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/devfile/DevfileImportForm.tsx
  frontend/packages/dev-console/src/components/import/devfile/devfileHooks.ts
Due: none

Disabling Alertmanager Protractor e2e tests
  frontend/integration-tests/tests/alertmanager.scenario.ts
  frontend/integration-tests/tests/monitoring.scenario.ts
  frontend/packages/integration-tests-cypress/tests/monitoring/monitoring.spec.ts
Due: none

add support for login with normal user
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/customize-source.spec.ts
Due: ci/prow/kubevirt-plugin

Pipeline Builder AutoComplete - improved ux
  frontend/packages/console-shared/src/components/formik-fields/index.ts
  frontend/packages/console-shared/src/components/formik-fields/text-column-field/TextColumnField.tsx
  frontend/packages/console-shared/src/components/formik-fields/text-column-field/TextColumnItem.tsx
  frontend/packages/console-shared/src/components/formik-fields/text-column-field/text-column-types.ts
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebar.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebar.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarParam.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarParam.tsx
  frontend/packages/pipelines-plugin/src/components/shared/common/auto-complete/AutoCompletePopover.tsx
  frontend/packages/pipelines-plugin/src/components/shared/common/auto-complete/__tests__/autoCompleteUtils.spec.ts
  frontend/packages/pipelines-plugin/src/components/shared/common/auto-complete/autoCompleteUtils.ts
  frontend/packages/pipelines-plugin/src/components/shared/common/auto-complete/useAutoComplete.ts
  frontend/packages/pipelines-plugin/src/test-data/pipeline-data.ts
  frontend/packages/pipelines-plugin/src/test-data/task-data.ts
  frontend/packages/pipelines-plugin/src/types/coreTekton.ts
  frontend/packages/pipelines-plugin/src/types/pipelineRun.ts
Due: none

fixes: Web console displays a blank page- white space instead of cluster information
  frontend/public/components/app.jsx
  frontend/public/style/_layout.scss
Due: none

Bug 1944674: Project field become to "All projects" and disabled
  frontend/packages/kubevirt-plugin/src/components/create-vm/dev-console/dev-console-create-vm-form.tsx
Due: ci/prow/kubevirt-plugin

Bug 1952759: It was not immediately clear what the Star icon meant
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vm-templates/os-icons.scss
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/VMCustomizeRow.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/VMTemplateRow.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/VMTemplateTable.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/utils.ts
Due: ci/prow/kubevirt-plugin

Add two missing translations for topology list view
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/application-panel/TopologyApplicationResources.tsx
  frontend/packages/topology/src/components/list-view/TopologyListViewKindGroup.tsx
  frontend/packages/topology/src/components/list-view/cells/AlertsCell.tsx
  frontend/packages/topology/src/components/list-view/list-view-utils.tsx
Due: none
