Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Add resource pages under ODF Nav Bar
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/package.json
  frontend/packages/ceph-storage-plugin/src/components/odf-resources/link.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-resources/resource-details-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-resources/resource-list-page.tsx
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Due: ci/prow/ceph-storage-plugin

add data-test attributes to sysprep props
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/sysprep/sysprep.spec.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/sysprep/SysprepFileField.tsx
Due: ci/prow/kubevirt-plugin

retry twice
  frontend/packages/kubevirt-plugin/integration-tests-cypress/cypress.json
Due: ci/prow/kubevirt-plugin

Refactor OCS Dashboard to Support ODF Dashboard Abstraction Fix E2E tests
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/noobaa-sso.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/ocs-presistent-dashboard.spec.ts
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/ocs-dashboards.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/ocs-system-dashboard.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/activity-card/activity-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Due: ci/prow/ceph-storage-plugin

Add Extension Point for ODF Storage Providers to push dashboards
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/odf.ts
Due: none

Gracefully handle disabling alertmanager
  frontend/public/components/monitoring/alert-manager-config.tsx
  frontend/public/components/monitoring/alert-manager-utils.tsx
  frontend/public/components/monitoring/alert-manager-yaml-editor.tsx
  frontend/public/components/monitoring/alerting.tsx
Due: none

use patch over update for traffic split in serverless
  frontend/packages/knative-plugin/src/components/revisions/DeleteRevisionModalController.tsx
  frontend/packages/knative-plugin/src/components/traffic-splitting/TrafficSplitting.tsx
  frontend/packages/knative-plugin/src/utils/__tests__/traffic-splitting-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/traffic-splitting-utils.ts
Due: none

Expose useResolvedExtensions as part of the stable API Add a way to test useResolvedExtensions hook Fix dynamic demo plugin as well
  frontend/dynamic-demo-plugin/console-extensions.json
  frontend/dynamic-demo-plugin/package.json
  frontend/dynamic-demo-plugin/src/components/ExtensionConsumer.tsx
  frontend/dynamic-demo-plugin/src/utils/bar.ts
  frontend/dynamic-demo-plugin/tsconfig.json
  frontend/dynamic-demo-plugin/webpack.config.ts
  frontend/dynamic-demo-plugin/yarn.lock
  frontend/packages/console-dynamic-plugin-sdk/src/api/api-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/useResolvedExtensions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-api.ts
Due: none

Bug 1972968: "Add Disk" button should be disabled in common template disks tab
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-disks.tsx
Due: ci/prow/kubevirt-plugin

Fix topology crash while opening helm workload
  frontend/packages/console-shared/src/components/actions/ActionServiceProvider.tsx
Due: none

Bug 1982682: Remove explicitly passed namespace
  frontend/packages/ceph-storage-plugin/src/components/kms-config/utils.tsx
Due: ci/prow/ceph-storage-plugin

ODC-5584 - Application Groupings
  frontend/packages/dev-console/integration-tests/support/constants/topology.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/createGitWorkload.ts
  frontend/packages/topology/integration-tests/features/topology/topology-application-grouping.feature
  frontend/packages/topology/integration-tests/support/commands/app.ts
  frontend/packages/topology/integration-tests/support/commands/index.ts
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-actions-page.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-side-pane-page.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/application-groupings.ts
Due: none

Change label from java commands to java arguments
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/jar/section/JarSection.tsx
Due: none

(fix): Fixes for odf and ibm integration
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/advanced-section.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/body.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/body.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/create-local-volume-set-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/disk-list-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/selected-capacity.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/selected-capacity.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-storage-class-step/create-storage-class-step.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-storage-class-step/create-storage-class-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/index.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/index.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/models.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/index.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
Due: ci/prow/ceph-storage-plugin

add translation to Kafka Connection label
  frontend/packages/rhoas-plugin/locales/en/rhoas-plugin.json
  frontend/packages/rhoas-plugin/src/models/rhoas.ts
Due: none

(fix): Fixes for only mvg flow
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/advanced-section.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
Due: ci/prow/ceph-storage-plugin

first correction
  frontend/public/components/monitoring/alert-logs-view.tsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/pod-logs.jsx
  frontend/public/components/utils/horizontal-nav.tsx
Due: none

Second correction
  frontend/public/components/utils/horizontal-nav.tsx
Due: none

Third correction
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/pod-logs.jsx
Due: none

Fourth correction
  frontend/public/components/factory/details.tsx
  frontend/public/components/monitoring/alert-logs-view.tsx
  frontend/public/components/monitoring/alert-logs.jsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/utils/horizontal-nav.tsx
Due: none

Fifth correction
  frontend/public/components/factory/details.tsx
  frontend/public/components/monitoring/alert-logs.jsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/utils/headings.tsx
  frontend/public/components/utils/horizontal-nav.tsx
Due: none

Sixth correction
  frontend/public/components/factory/details.tsx
  frontend/public/components/monitoring/alert-logs.jsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/utils/horizontal-nav.tsx
Due: none

corrected mistake in renaming component
  frontend/public/components/monitoring/alert-logs.jsx
Due: none

converted AlertLogs into a functional component
  frontend/public/components/monitoring/alert-logs.jsx
Due: none

fixed navigation issue on alerts page
  frontend/public/components/monitoring/alert-logs.jsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/utils/horizontal-nav.tsx
Due: none

moved Details component into alert-details.tsx file
  frontend/public/components/monitoring/alert-details.tsx
  frontend/public/components/monitoring/alert-logs-utils.ts
  frontend/public/components/monitoring/alert-logs.tsx
  frontend/public/components/monitoring/alerting.tsx
Due: none

used type K8sResourceKind and made Details as functional component and other minor fixes
  frontend/public/components/monitoring/alert-details.tsx
  frontend/public/components/monitoring/alert-logs-utils.ts
  frontend/public/components/monitoring/alert-logs.tsx
  frontend/public/components/monitoring/alerting.tsx
Due: none

added typescript and alert-logs-utils file
  frontend/public/components/monitoring/alert-logs-utils.ts
  frontend/public/components/monitoring/alert-logs.jsx
  frontend/public/components/monitoring/alert-logs.tsx
  frontend/public/components/utils/horizontal-nav.tsx
Due: none

performed rebase with upstream
  frontend/public/components/monitoring/alerting.tsx
Due: none

fixing the frontend test
  frontend/public/locales/en/details-page.json
  frontend/public/locales/en/public.json
Due: none

corrected useEffect array
  frontend/public/components/monitoring/alert-logs.jsx
Due: none

Seventh correction
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlertsRulesDetailsPage.tsx
  frontend/public/components/monitoring/alert-details.tsx
  frontend/public/components/monitoring/alert-logs.tsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/locales/en/public.json
Due: none

rebased and fixed silenced by translation
  frontend/public/components/monitoring/alert-details.tsx
  frontend/public/locales/en/public.json
Due: none

deleted details-page.json
  frontend/public/locales/en/details-page.json
Due: none

Integrated Log Exploration API
  frontend/public/components/monitoring/alert-logs.tsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/utils/alert-resource-log.tsx
  frontend/public/locales/en/public.json
Due: none

minor changes for API
  frontend/public/components/monitoring/alerting.tsx
Due: none

List unnecessary ebs type
  frontend/public/components/storage-class-form.tsx
Due: none

Limit the textarea not to exceed the parent window
  frontend/public/components/modals/_modals.scss
Due: none

Convert task selection to quick search modal in pipeline builder
  frontend/packages/console-shared/src/components/quick-search/QuickSearchBar.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchContent.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchController.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchDetails.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModal.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModalBody.tsx
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/package.json
  frontend/packages/pipelines-plugin/src/components/catalog/index.ts
  frontend/packages/pipelines-plugin/src/components/catalog/providers/index.ts
  frontend/packages/pipelines-plugin/src/components/catalog/providers/useTasksProvider.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderFormEditor.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderVisualization.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/hooks.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/BuilderFinallyNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/RemoveNodeDecorator.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/RemoveNodeDecorator.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/TaskList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/TaskListNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/types.ts
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearch.tsx
  frontend/packages/pipelines-plugin/src/types/coreTekton.ts
  frontend/public/components/catalog/catalog-item-icon.tsx
  frontend/public/imgs/logos/build-icon.svg
Due: none

Fix table sorting
  frontend/public/components/factory/table-data-hook.ts
Due: none

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
