Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Bug 1952487: Template filter does not work properly
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/wizard.ts
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard-footer.scss
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/select-template.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/label.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/RowActions.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/VMTemplateRow.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.scss
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/basic.ts
Due: ci/prow/kubevirt-plugin

Bug 1942117: Fix Workloads i18n misses
  frontend/__tests__/components/modals/configure-update-strategy-modal.spec.tsx
  frontend/packages/console-app/src/components/access-modes/access-mode.tsx
  frontend/packages/console-app/src/components/modals/restore-pvc/restore-pvc-modal.tsx
  frontend/packages/console-app/src/components/volume-snapshot/create-volume-snapshot/create-volume-snapshot.tsx
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/dynamic-form/fields.tsx
  frontend/packages/console-shared/src/utils/multiselectdropdown.tsx
  frontend/packages/dev-console/src/components/hpa/HPAUtilizationField.tsx
  frontend/packages/dev-console/src/components/import/route/PortInputField.tsx
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/operand/const.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/VolumeClaimTemplateForm.tsx
  frontend/public/components/modals/configure-update-strategy-modal.tsx
  frontend/public/components/modals/remove-volume-modal.tsx
  frontend/public/components/persistent-volume.jsx
  frontend/public/components/pod-exec.jsx
  frontend/public/components/storage/attach-storage.tsx
  frontend/public/components/storage/create-pvc.tsx
  frontend/public/components/storage/shared.ts
  frontend/public/locales/en/public.json
Due: none

Bug 1942715: Fix User Management i18n misses
  frontend/public/components/RBAC/bindings.jsx
  frontend/public/components/modals/add-users-modal.tsx
  frontend/public/components/utils/list-dropdown.jsx
  frontend/public/locales/en/public.json
Due: none

Adding login template strings for translation
  frontend/public/components/pod.tsx
  frontend/public/locales/en/public.json
Due: none

Bug 1957895: Cypress helper projectDropdown.shouldContain is not an assertion
  frontend/packages/integration-tests-cypress/views/common.ts
Due: none

Added 'Advanced Cluster Management' to Perspective Switcher and '?perspective=<perspective_id>' url search query params
  frontend/packages/console-app/src/components/detect-perspective/DetectPerspective.tsx
  frontend/packages/console-shared/src/constants/common.ts
  frontend/packages/integration-tests-cypress/tests/app/auth-multiuser-login.spec.ts
  frontend/packages/integration-tests-cypress/tests/crud/other-routes.spec.ts
  frontend/packages/integration-tests-cypress/views/guided-tour.ts
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/components/nav/_nav-header.scss
  frontend/public/components/nav/nav-header.tsx
  frontend/public/imgs/ACM-icon.svg
  frontend/public/locales/en/public.json
Due: none

Use PatternFly's NumberInput component
  frontend/packages/console-shared/src/components/dynamic-form/widgets.tsx
  frontend/packages/console-shared/src/components/formik-fields/NumberSpinnerField.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/DEPRECATED_operand-form.tsx
  frontend/public/components/modals/configure-count-modal.tsx
  frontend/public/components/modals/configure-machine-autoscaler-modal.tsx
  frontend/public/components/utils/number-spinner.tsx
  frontend/public/components/utils/request-size-input.tsx
Due: none

chore(OWNERS): add christianvogt to root OWNERS file
  OWNERS
Due: none

updated divider under perspective switcher
  frontend/public/components/nav/_nav-header.scss
  frontend/public/components/nav/nav-header.tsx
  frontend/public/locales/en/public.json
Due: none

CONSOLE-2508: Memsource automation
  frontend/i18n-scripts/README.md
  frontend/i18n-scripts/export-pos.sh
  frontend/i18n-scripts/i18n-to-po.js
  frontend/i18n-scripts/languages.sh
  frontend/i18n-scripts/memsource-download.sh
  frontend/i18n-scripts/memsource-upload.sh
  frontend/i18n-scripts/po-to-i18n.js
  frontend/package.json
Due: none

Bug 1957561: lack of pseudolocalization for some text on Cluster Setting
  frontend/__tests__/components/cluster-settings.spec.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/locales/en/public.json
Due: none

Fix that boolean values (esp. false) are not loaded and synced correctly
  frontend/packages/console-shared/src/hooks/useUserSettingsLocalStorage.ts
Due: none

Added missing icons to VM states and removing popup when no actual message available
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/status/GuestAgentStatusHealth.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/status/VMStatusHealth.tsx
Due: ci/prow/kubevirt-plugin

fixes issue with html5 required validation for dynamic forms
  frontend/packages/console-shared/src/components/dynamic-form/widgets.tsx
Due: none

Add test for creating custom template from a common template
  frontend/packages/kubevirt-plugin/integration-tests-cypress/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/custom-template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/customize-source.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/add-source.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/vm-template/template-support-modal.ts
Due: ci/prow/kubevirt-plugin

Waiting long enough for the select IDP page to load
  frontend/integration-tests/tests/login.scenario.ts
  frontend/integration-tests/views/login.view.ts
Due: none

Use K8sModel as kindObj if available
  frontend/public/components/factory/details.tsx
Due: none

Translation of cluster updating message https://bugzilla.redhat.com/show_bug.cgi?id=1957590
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/dashboards-page/ClusterUpdateActivity.tsx
Due: none

Navigate user to respective catalog-page on pressing enter while focused on view-all link
  frontend/packages/topology/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchModalBody.tsx
Due: none

Fix node-v15 pipeline failures
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/__tests__/utils.spec.ts
Due: none

Bug 1959519: Fix typo in OperandDetails components
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
Due: none

give feedback when modal submit is clicked
  frontend/packages/console-shared/src/components/modals/DeleteResourceModal.tsx
Due: none

Disable pool compression via UI
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/update-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/utils/block-pool.tsx
Due: ci/prow/ceph-storage-plugin

Add Devfile Sample Endpoint
  pkg/devfile/sample-placeholder.go
  pkg/devfile/sample.go
  pkg/devfile/sample_test.go
  pkg/server/devfile-handler.go
  pkg/server/devfile-types.go
  pkg/server/server.go
Due: none

Fix documentation link to network policies
  frontend/public/components/network-policy.jsx
  frontend/public/components/utils/documentation.tsx
  frontend/public/locales/en/public.json
Due: none

Bug 1946243: Fix pool creation timout issue
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/block-pool/body.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/create-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/modal-footer.tsx
  frontend/packages/ceph-storage-plugin/src/constants/storage-pool-const.ts
  frontend/packages/ceph-storage-plugin/src/utils/block-pool.tsx
Due: ci/prow/ceph-storage-plugin

fill & hide sample app for preselected devfile
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/ImportSamplePage.tsx
  frontend/packages/dev-console/src/components/import/devfile/DevfileImportForm.tsx
  frontend/packages/dev-console/src/components/import/devfile/DevfileSampleInfo.tsx
  frontend/packages/dev-console/src/components/import/devfile/devfile-types.ts
  frontend/packages/dev-console/src/components/import/devfile/devfileHooks.ts
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/const.ts
Due: none

update devfile form for preselected devfile
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/devfile/DevfileImportForm.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
Due: none

Topology List View Automation
  frontend/package.json
  frontend/packages/topology/integration-tests/features/topology/topology-list-view.feature
  frontend/packages/topology/integration-tests/features/topology/topology-toolbar-filter.feature
  frontend/packages/topology/integration-tests/package.json
  frontend/packages/topology/integration-tests/support/commands/hooks.ts
  frontend/packages/topology/integration-tests/support/commands/index.ts
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/list-view.ts
  frontend/packages/topology/integration-tests/tsconfig.json
Due: none

Bug 1959041: "Troubleshoot" link doesn't exist after scaling down OSD pod.
  frontend/packages/ceph-storage-plugin/console-extensions.json
Due: ci/prow/ceph-storage-plugin

create item provider for devfile samples
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/catalog/providers/index.ts
  frontend/packages/dev-console/src/components/catalog/providers/useDevfileSamples.tsx
  frontend/packages/dev-console/src/components/import/devfile/DevfileImportForm.tsx
  frontend/packages/dev-console/src/components/import/devfile/devfileHooks.ts
Due: none

Bug 1916089: added a check on vmiProp
  frontend/packages/kubevirt-plugin/src/components/vm-nics/vm-nics.tsx
Due: ci/prow/kubevirt-plugin

Consolidate plugins/index.js file in cypress framework updated app.ts and index.js files
  frontend/packages/dev-console/integration-tests/cypress.json
  frontend/packages/dev-console/integration-tests/plugins/index.js
  frontend/packages/gitops-plugin/integration-tests/cypress.json
  frontend/packages/gitops-plugin/integration-tests/plugins/index.js
  frontend/packages/gitops-plugin/integration-tests/support/commands/hooks.ts
  frontend/packages/gitops-plugin/integration-tests/support/commands/index.ts
  frontend/packages/gitops-plugin/integration-tests/support/step-definitions/gitops/common.ts
  frontend/packages/helm-plugin/integration-tests/cypress.json
  frontend/packages/helm-plugin/integration-tests/support/commands/hooks.ts
  frontend/packages/helm-plugin/integration-tests/support/commands/index.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/knative-plugin/integration-tests/cypress.json
  frontend/packages/knative-plugin/integration-tests/plugins/index.js
  frontend/packages/knative-plugin/integration-tests/support/commands/app.ts
  frontend/packages/knative-plugin/integration-tests/support/commands/hooks.ts
  frontend/packages/knative-plugin/integration-tests/support/commands/index.ts
  frontend/packages/pipelines-plugin/integration-tests/cypress.json
  frontend/packages/pipelines-plugin/integration-tests/plugins/index.js
Due: none

Monitoring dashboards: Remove the "Grafana UI" link
  frontend/public/components/monitoring/dashboards/index.tsx
Due: none

Bug 1959550: Overly generic CSS rules for dd and dt elements breaks styling elsewhere in console
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/review-tab/review-tab.scss
Due: ci/prow/kubevirt-plugin

Bug 1920307: changed comparison type
  frontend/packages/kubevirt-plugin/src/utils/guest-agent-strings.ts
Due: ci/prow/kubevirt-plugin

Show Advisor content when there are 0 issues
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
Due: none

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
