Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

upgrade ocs on details card
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/details-card.tsx
Due: ci/prow/ceph-storage-plugin

GitOps environment UI page validation
  frontend/packages/gitops-plugin/integration-tests/features/gitops/add-manifest-url.feature
Due: none

Addressed review comment
  frontend/packages/gitops-plugin/integration-tests/features/gitops/add-manifest-url.feature
Due: none

touch all task fields when workspaces are updated
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/hooks.ts
Due: none

Bug 1967234: Console is continuously polling for ConsoleLink acm-link
  frontend/public/components/nav/nav-header.tsx
Due: none

fix pipeline graph height restriction issue
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/PipelineVisualizationSurface.tsx
Due: none

omit bitbucket branch in URL if it contains slash
  frontend/packages/topology/src/utils/topology-utils.ts
Due: none

fixes: console whitescreens if user settings fails to load
  frontend/packages/console-shared/src/hooks/__tests__/useUserSettings.spec.ts
  frontend/packages/console-shared/src/hooks/useUserSettings.ts
  frontend/packages/console-shared/src/hooks/useUserSettingsLocalStorage.ts
Due: none

Update helm OWNERS
  pkg/helm/OWNERS
Due: none

Bug 1936788: Fix for RBD + RWX Access Mode UI issue
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/access-modes/access-mode.tsx
  frontend/packages/console-app/src/components/modals/clone/clone-pvc-modal.tsx
  frontend/packages/console-app/src/components/modals/restore-pvc/restore-pvc-modal.tsx
  frontend/packages/console-app/src/components/volume-modes/volume-mode.tsx
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/VolumeClaimTemplateForm.tsx
  frontend/public/components/storage/create-pvc.tsx
  frontend/public/components/storage/shared.ts
  frontend/public/locales/en/public.json
Due: ci/prow/kubevirt-plugin

PF update to PF-2021-7
  frontend/package.json
  frontend/yarn.lock
Due: none

deprecated metric kubevirt_vmi_storage_traffic_bytes_total
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/queries.ts
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-utilization.tsx
Due: ci/prow/kubevirt-plugin

Updated the quick start scripts with respect to latest UX-ODC-5911
  frontend/packages/dev-console/integration-tests/features/guided-tour/associate-pipeline-with-application.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/create-serverless-application.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/getting-started-pipelines.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/getting-started-serverless.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/filter-quick-starts-catalog.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick-start-access-code-snippet.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick-start-devperspective.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick-starts-cluster-overview.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quickstart-sidepanel-hints.feature
Due: none

Upgrade OCS in details card
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/details-card.tsx
Due: ci/prow/ceph-storage-plugin

Scroll dev console add+ tab to bottom
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests/deploy-kubevirt-gating.sh
Due: ci/prow/kubevirt-plugin

fix the scripts for create-from-add-options feature
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/operators-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/dockerfile-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/index.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnCluster.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/knativeSubscriptions.ts
  frontend/packages/dev-console/integration-tests/support/pages/operators-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-git.ts
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-add-options.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-runs.ts
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-side-pane-page.ts
Due: none

Bug 1952049: Move testing CRDs from v1beta1 to v1
  frontend/packages/console-shared/src/utils/__tests__/test-resource-data.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/mocks/index.tsx
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/descriptors.spec.ts
Due: none

fixes: WebTerminal widget should send resize events
  frontend/packages/console-app/src/components/cloud-shell/CloudShellExec.tsx
  frontend/packages/console-app/src/components/cloud-shell/Terminal.tsx
Due: none

Deploy new version of FormWithEditor.
  frontend/packages/kubevirt-plugin/src/components/form-with-editor/FormWithEditor.tsx
  frontend/packages/kubevirt-plugin/src/components/form-with-editor/form-with-editor-utils.ts
Due: ci/prow/kubevirt-plugin

add ci scripts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/inclusive-language.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests/ci-scripts/install-virtctl.sh
  frontend/packages/kubevirt-plugin/integration-tests/ci-scripts/setup-storage.sh
Due: ci/prow/kubevirt-plugin

fix rotated pipelinerun status icon issue in safari
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.tsx
Due: none

add vm creation to smoke tests
  frontend/packages/kubevirt-plugin/integration-tests-cypress/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/enums/provisionSource.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/action.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-creation.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/expect-login.sh
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/actions.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/wizard.ts
Due: ci/prow/kubevirt-plugin

Bug 1963027: Upload qcow2 too PVC to small
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form-status.tsx
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/public/components/utils/request-size-input.tsx
Due: ci/prow/kubevirt-plugin

Add missing a11y label in application name dropdown
  frontend/packages/topology/src/components/dropdowns/ApplicationDropdown.tsx
  frontend/packages/topology/src/components/dropdowns/ApplicationSelector.tsx
Due: none

Fix a11y issues in developer catalog with missing role/alt text on icon
  frontend/packages/dev-console/src/components/import/devfile/DevfileSampleInfo.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmChartMetaDescription.tsx
  frontend/packages/knative-plugin/src/components/add/EventSourceMetadataDescription.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/dev-console/dev-console-create-vm-form.tsx
  frontend/packages/operator-lifecycle-manager/src/components/index.tsx
  frontend/public/components/instantiate-template.tsx
Due: ci/prow/kubevirt-plugin

Fix a11y issue in developer catalog
  frontend/packages/console-shared/src/components/virtualized-grid/Cell.tsx
  frontend/packages/console-shared/src/components/virtualized-grid/Grid.tsx
Due: none

Add missing a11y labels for build and pipeline decorators
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelineruns/status/LinkedPipelineRunTaskStatus.tsx
  frontend/packages/pipelines-plugin/src/topology/build-decorators/PipelineRunDecorator.tsx
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/BuildDecorator.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/Decorator.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/EditDecorator.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/MonitoringAlertsDecorator.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/UrlDecorator.tsx
Due: none

Enable cy.testA11y again to automatically check for accessibility issues
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/project-creation.ts
  frontend/packages/gitops-plugin/integration-tests/support/step-definitions/gitops/common.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/common.ts
Due: none

make sure queries work for worker|infra queries
  frontend/packages/console-shared/src/promql/cluster-dashboard.ts
Due: none

Restructure Knative Plugin
  frontend/packages/knative-plugin/integration-tests/features/eventing/event-sources-installation-view.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-broker.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-camelk.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/kafka-event-source-actions.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/kafka-source-connection-to-kafka-connection-instance.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/managed-services-kafka-connection.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/actions-on-knative-revision.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/actions-on-knative-service.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/cards-display-on-serverless-operator-installation.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/create-knative-service-from-deployment-or-deployment-config.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/create-knative-workload.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/serverless-function.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/side-bar-of-knative-revision-and-service.feature
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/actions-on-knative-revision.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/actions-on-knative-service.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/create-apache-camel.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/create-knative-workload.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/side-bar-of-knative-revision-and-service.ts
Due: none

Prevent awkward wrap of appended icons with getting started links and buttons Bug 1967275
  frontend/packages/console-shared/src/components/getting-started/GettingStartedCard.tsx
  frontend/packages/console-shared/src/components/getting-started/__tests__/GettingStartedCard.spec.tsx
  frontend/public/style/_common.scss
Due: none

fix the scripts for create-from-add-options feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/catalog-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/dockerfile-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-git.ts
  frontend/packages/helm-plugin/integration-tests/features/helm/actions-on-helm-release.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-feature-flag.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-navigation.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/install-helm-chart.feature
  frontend/packages/helm-plugin/integration-tests/support/commands/hooks.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-release.ts
  frontend/packages/helm-plugin/integration-tests/test-data/red-hat-helm-charts.yaml
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-add-options.ts
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
Due: none

update cluster-local label for ksvc
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-utils.spec.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/knative-plugin/src/utils/__tests__/create-knative-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
Due: none

fix resources fetched by firehose to show the correct Pod donut
  frontend/packages/console-shared/src/components/pod/PodRingDataController.tsx
Due: none

Rework web terminals to use different DevWorkspace Custom Resources depending on if the v1alpha2 devworkspace crds are available on the cluster or not
  frontend/packages/console-app/src/components/cloud-shell/CloudShellExec.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTerminal.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/cloud-shell-utils.spec.ts
  frontend/packages/console-app/src/components/cloud-shell/cloud-shell-utils.ts
  frontend/packages/console-app/src/components/cloud-shell/setup/CloudShellAdminSetup.tsx
  frontend/packages/console-app/src/components/cloud-shell/setup/CloudShellDeveloperSetup.tsx
  frontend/packages/console-app/src/components/cloud-shell/useCloudShellWorkspace.ts
  frontend/packages/console-app/src/models/index.ts
  pkg/terminal/proxy.go
Due: none

consolidate kubevirt tests
  frontend/packages/kubevirt-plugin/integration-tests-cypress/const/enums/provisionSource.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/action.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-tabs.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/custom-template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/customize-source.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/empty-state.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/add-source.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/wizard.ts
  frontend/packages/kubevirt-plugin/package.json
Due: ci/prow/kubevirt-plugin

Change loading mechanism
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/storage-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/sc-node-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/node-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-install.scss
  frontend/packages/ceph-storage-plugin/src/selectors/index.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
Due: ci/prow/ceph-storage-plugin

Update minor issues
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/storage-and-nodes-step.tsx
Due: ci/prow/ceph-storage-plugin

Adding translations and Spinner
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/sc-node-list.tsx
Due: ci/prow/ceph-storage-plugin

Fix minor issues
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/storage-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/sc-node-list.tsx
Due: ci/prow/ceph-storage-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
