Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

link git secret to pipeine serviceaccount
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
Due: none

fixup! fixup! Bug 1965391: Skip to 3rd step when SC present
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
Due: ci/prow/ceph-storage-plugin

Refactored for review feedback
  frontend/packages/dev-console/integration-tests/features/service-mesh/service-mesh-console-links-admin.feature
  frontend/packages/dev-console/integration-tests/features/service-mesh/service-mesh-console-links-nonadmin.feature
Due: none

Remove tooltips from masthead toolbar
  frontend/packages/console-app/locales/en/cloudshell.json
  frontend/packages/console-app/src/components/cloud-shell/CloudShellMastheadButton.tsx
  frontend/public/components/masthead-toolbar.jsx
Due: none

Add @smoke to scenarios
  frontend/packages/dev-console/integration-tests/features/service-mesh/service-mesh-console-links-admin.feature
  frontend/packages/dev-console/integration-tests/features/service-mesh/service-mesh-console-links-nonadmin.feature
Due: none

Fix syntax
  frontend/packages/dev-console/integration-tests/features/service-mesh/service-mesh-console-links-admin.feature
  frontend/packages/dev-console/integration-tests/features/service-mesh/service-mesh-console-links-nonadmin.feature
Due: none

Gherkin: Support in the Project Access page to allow to add custom roles and also to hide default ones-ODC-4650
  frontend/packages/dev-console/integration-tests/features/project/project-access.feature
Due: none

fix web terminal resize issue
  frontend/packages/console-app/src/components/cloud-shell/CloudShellExec.tsx
  frontend/packages/console-app/src/components/cloud-shell/Terminal.tsx
Due: none

Show link to OCM home page if clusterID is missing
  frontend/packages/insights-plugin/locales/en/insights-plugin.json
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
Due: none

Remove @smoke
  frontend/packages/dev-console/integration-tests/features/service-mesh/service-mesh-console-links-nonadmin.feature
Due: none

Update Image Stream to ImageStream
  frontend/public/components/image-stream.tsx
  frontend/public/locales/en/public.json
Due: none

Bug 1934229: Improve performance of ToolbarFilter
  frontend/integration-tests/tests/dashboards/project-dashboard.scenario.ts
  frontend/packages/integration-tests-cypress/tests/crud/namespace-crud.spec.ts
  frontend/public/components/_filter-toolbar.scss
  frontend/public/components/autocomplete.tsx
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/utils/router.ts
  frontend/public/locales/en/public.json
Due: none

Update frontend DevWorkspace model for Web Terminals to v1alpha2
  frontend/packages/console-app/src/components/cloud-shell/cloud-shell-utils.ts
  frontend/packages/console-app/src/models/index.ts
Due: none

Update backend to use DevWorkspaces v1alpha2 for Web Terminals
  pkg/terminal/proxy.go
Due: none

pipeline builder cleanup
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineWorkspaceSuggestionIcon.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarName.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarWhenExpression.tsx
Due: none

fixup! fixup! fixup! Bug 1965391: Skip to 3rd step when SC present
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
Due: ci/prow/ceph-storage-plugin

Change 'Final' to 'Finally'
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationStepList.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/BuilderFinallyNode.tsx
Due: none

add unique name to the radio buttons to avoid name collision
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/VolumeClaimTemplateForm.tsx
Due: none

Make string interpolated in PROGRESS_STATUS function for i18n
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/block-pool/body.tsx
  frontend/packages/ceph-storage-plugin/src/utils/block-pool.tsx
Due: ci/prow/ceph-storage-plugin

fixup! fixup! fixup! fixup! Bug 1965391: Skip to 3rd step when SC present
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/types.ts
Due: ci/prow/ceph-storage-plugin

Remove tabIndex from scrollable containers to fix keyboard scroll issue
  frontend/packages/dev-console/src/components/NamespacedPage.scss
  frontend/public/components/app-contents.tsx
  frontend/public/components/app.jsx
  frontend/public/components/sidebars/resource-sidebar.tsx
Due: none

Rename Insights and add missing parapgraph
  frontend/packages/insights-plugin/locales/en/insights-plugin.json
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
  frontend/packages/insights-plugin/src/plugin.tsx
Due: none

upgrade OCS in details card
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/details-card.tsx
Due: ci/prow/ceph-storage-plugin

Text changes in expand PVC modal
  frontend/public/components/modals/expand-pvc-modal.tsx
  frontend/public/locales/en/public.json
Due: none

string updates
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/block-pool.ts
  frontend/packages/ceph-storage-plugin/integration-tests/views/multiple-pool.view.ts
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/block-pool/create-block-pool.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/backingstore-table.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/backingstore-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/namespace-store-pages/cache-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/namespace-store-pages/multi-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/namespace-store-pages/single-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/create-bs-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/buckets-card/buckets-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-external/status-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/activity-card/cluster-expand-activity.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/activity-card/ocs-upgrade-activity.tsx
  frontend/packages/ceph-storage-plugin/src/components/disk-inventory/ocs-disks-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/delete-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/object-bucket-claim-page/object-bucket-claim.tsx
  frontend/packages/ceph-storage-plugin/src/components/object-bucket-page/object-bucket.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/create-storage-class/create-storage-class-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/storage-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/existing-cluster-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/external-mode/install.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/capacity-and-nodes.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/configure.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/review-and-create.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/select-capacity-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/packages/ceph-storage-plugin/src/components/storage-popover.tsx
  frontend/packages/ceph-storage-plugin/src/constants/bucket-class.ts
  frontend/packages/ceph-storage-plugin/src/constants/tooltips.tsx
  frontend/packages/ceph-storage-plugin/src/utils/block-pool.tsx
  frontend/packages/ceph-storage-plugin/src/utils/common-ocs-install-el.tsx
Due: ci/prow/ceph-storage-plugin

Seperator should be semicollon
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/add-template-source/add-template-source.tsx
Due: ci/prow/kubevirt-plugin

Fix isSubmitting logic of formik forms
  frontend/packages/console-app/src/components/cloud-shell/setup/CloudShellDeveloperSetup.tsx
  frontend/packages/console-app/src/components/modals/resource-limits/ResourceLimitsModal.tsx
  frontend/packages/console-app/src/components/modals/resource-limits/ResourceLimitsModalLauncher.tsx
  frontend/packages/dev-console/src/components/edit-deployment/EditDeploymentForm.tsx
  frontend/packages/dev-console/src/components/health-checks/AddHealthChecks.tsx
  frontend/packages/dev-console/src/components/health-checks/AddHealthChecksForm.tsx
  frontend/packages/dev-console/src/components/hpa/HPAForm.tsx
  frontend/packages/dev-console/src/components/hpa/HPAFormikForm.tsx
  frontend/packages/dev-console/src/components/project-access/ProjectAccess.tsx
  frontend/packages/dev-console/src/components/project-access/ProjectAccessForm.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradeForm.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradePage.tsx
  frontend/packages/helm-plugin/src/components/forms/rollback/HelmReleaseRollbackForm.tsx
  frontend/packages/helm-plugin/src/components/forms/rollback/HelmReleaseRollbackPage.tsx
  frontend/packages/knative-plugin/src/components/add/EventSource.tsx
  frontend/packages/knative-plugin/src/components/add/EventSourceForm.tsx
  frontend/packages/knative-plugin/src/components/add/channels/AddChannel.tsx
  frontend/packages/knative-plugin/src/components/add/channels/ChannelForm.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/PubSub.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/PubSubModal.tsx
  frontend/packages/knative-plugin/src/components/revisions/DeleteRevisionModal.tsx
  frontend/packages/knative-plugin/src/components/revisions/DeleteRevisionModalController.tsx
  frontend/packages/knative-plugin/src/components/sink-pubsub/SinkPubsub.tsx
  frontend/packages/knative-plugin/src/components/sink-source/SinkSource.tsx
  frontend/packages/knative-plugin/src/components/sink-uri/SinkUri.tsx
  frontend/packages/knative-plugin/src/components/traffic-splitting/TrafficSplitting.tsx
  frontend/packages/knative-plugin/src/components/traffic-splitting/TrafficSplittingModal.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/add-baremetal-host/AddBareMetalHost.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/ModalStructure.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PipelineSecretSection.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/start-pipeline/StartPipelineModal.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/AddTriggerModal.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/RemoveTriggerModal.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderPage.tsx
  frontend/packages/topology/src/components/modals/EditApplicationModal.tsx
  frontend/packages/topology/src/components/modals/MoveConnectionModal.tsx
Due: none

update eventsources static model version to latest supported
  frontend/packages/knative-plugin/src/models.ts
  frontend/packages/knative-plugin/src/utils/__mocks__/dynamic-event-source-crd-mock.ts
Due: none

Bug 1953606: Fixing failure domain issue with custom pools (4.7 backport)
  frontend/packages/ceph-storage-plugin/src/components/modals/storage-pool-modal/storage-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/types.ts
Due: ci/prow/ceph-storage-plugin

Bug 1959715: No relevant error when pg limit is reached in block pools page [4.7 Backport]
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/modals/storage-pool-modal/storage-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/constants/storage-pool-const.ts
  frontend/packages/ceph-storage-plugin/src/utils/storage-pool.tsx
Due: ci/prow/ceph-storage-plugin

fix issue with selected capacity donut chart
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/create-storage-class/selected-capacity.tsx
Due: ci/prow/ceph-storage-plugin

Update the name and value titles to primary texts
  frontend/public/components/utils/name-value-editor.jsx
Due: none

ODC-5013 - Epic Automation
  frontend/packages/dev-console/integration-tests/features/addFlow/add-page.feature
  frontend/packages/dev-console/integration-tests/support/constants/add.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/page-details.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/operators.ts
Due: none

fix the scripts for create-from-add-options feature
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/dockerfile-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/index.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-git.ts
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-add-options.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-runs.ts
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-side-pane-page.ts
Due: none

Add Codeready Workspaces feature files.
  frontend/packages/dev-console/integration-tests/features/codeready-workspaces/crw-basic.feature
  frontend/packages/dev-console/integration-tests/features/codeready-workspaces/open-app-in-crw.feature
Due: none

Resized Perspective Switcher to match height of side Nav Items
  frontend/public/components/nav/_nav-header.scss
  frontend/public/components/nav/nav-header.tsx
Due: none

Updated as per review comments
  frontend/packages/dev-console/integration-tests/features/addFlow/add-page.feature
Due: none

Bug 1933101: Add chart URl to annotations during helm install/upgrade
  pkg/helm/actions/install_chart.go
  pkg/helm/actions/install_chart_test.go
  pkg/helm/actions/upgrade_release.go
  pkg/helm/actions/upgrade_release_test.go
  pkg/helm/testdata/wildfly-1.0.0.tgz
Due: none

Bug 1966684: Verify creating snapshot for claim string
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/volume-snapshot/create-volume-snapshot/create-volume-snapshot.tsx
Due: none

Block pool management page capitalization
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/multiple-pool.spec.ts
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/block-pool/create-block-pool.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/create-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/delete-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/update-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/models.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Due: ci/prow/ceph-storage-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
