Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Bug 2015654: Separate handler for i18n proxy requests
  pkg/server/server.go
Due: none

HPA CPU averageValue did not show up HPA metrics
  frontend/public/components/hpa.tsx
Due: none

Update patternfly/react-console version
  frontend/packages/kubevirt-plugin/package.json
  frontend/yarn.lock
Due: ci/prow/kubevirt-plugin

Bug 2018428: PVC is deleted along with VM even with "Delete Disks" unchecked
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/actions.ts
Due: ci/prow/kubevirt-plugin

Update dynamic plugin SDK to latest webpack
  frontend/packages/console-dynamic-plugin-sdk/package.json
  frontend/packages/console-dynamic-plugin-sdk/scripts/package-definitions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/__tests__/shared-modules-override.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules-override.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules.ts
  frontend/packages/console-dynamic-plugin-sdk/src/types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/test-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/ConsoleRemotePlugin.ts
  frontend/webpack.config.ts
  frontend/yarn.lock
Due: none

Bug 2009298: Delete ssh service when vm is deleted
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHForm/ssh-form-utils.ts
Due: ci/prow/kubevirt-plugin

None admin users gan't fetch api url, fallback gracefully
  frontend/packages/kubevirt-plugin/src/hooks/use-ssh-command.ts
Due: ci/prow/kubevirt-plugin

HAC 63: Split core API dependencies from console dependencies
  frontend/packages/console-dynamic-plugin-sdk/src/api/core-api-console.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api-console.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api.ts
Due: none

Bug 2014245: i18n several aria-labels, external links, and labels
  frontend/public/components/build-pipeline.tsx
  frontend/public/components/cluster-settings/related-objects.tsx
  frontend/public/components/command-line-tools.tsx
  frontend/public/components/configmap.jsx
  frontend/public/components/factory/modal.tsx
  frontend/public/components/hpa.tsx
  frontend/public/components/image-stream-timeline.tsx
  frontend/public/components/ingress.jsx
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/components/monitoring/receiver-forms/alert-manager-receiver-forms.tsx
  frontend/public/components/nav/index.tsx
  frontend/public/components/nav/perspective-nav.tsx
  frontend/public/components/overview/jobs-overview.tsx
  frontend/public/components/prometheus.jsx
  frontend/public/components/secret.jsx
  frontend/public/components/service-catalog-parameters.tsx
  frontend/public/components/start-guide.tsx
  frontend/public/components/utils/build-strategy.tsx
  frontend/public/components/utils/horizontal-nav.tsx
  frontend/public/components/utils/kebab.tsx
  frontend/public/locales/en/public.json
Due: none

fix broken argo cd link image
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetails.tsx
  frontend/packages/gitops-plugin/src/images/argo.png
Due: none

call override on plugins built with older webpack
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules-override.ts
  frontend/packages/console-dynamic-plugin-sdk/src/types.ts
Due: none

Operator install modal padding vars assigned to correct class so that scroll shadows are positioned correctly.
  frontend/public/components/catalog/_catalog.scss
Due: none

migrate refereceFor utilities to dynamic-plugin-sdk
  dynamic-demo-plugin/src/components/k8sConsumer/K8sAPIConsumer.tsx
  dynamic-demo-plugin/src/components/k8sConsumer/k8s-data.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/k8s-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/__mocks__/k8s-data.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/__tests__/k8s-ref.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-ref.ts
  frontend/public/module/k8s/k8s-ref.ts
  frontend/public/module/k8s/k8s.ts
Due: none

Bug 1928285: Display loading message when PVs are being provisioned.
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/capacity-and-nodes-step/capacity-and-nodes-step.tsx
Due: ci/prow/ceph-storage-plugin

Bug 2019717: cant delete VM with un-owned pvc attached
  frontend/packages/kubevirt-plugin/src/hooks/use-owned-volume-referenced-resources.ts
Due: ci/prow/kubevirt-plugin

create dropdownfield to select template
  frontend/packages/pipelines-plugin/src/components/import/pipeline/PipelineTemplate.tsx
Due: none

virt: suggest users to download newest RHEL version
  frontend/packages/kubevirt-plugin/src/utils/strings.ts
Due: ci/prow/kubevirt-plugin

redirect to object dashboard for MCG only
  frontend/packages/ceph-storage-plugin/src/components/dashboards/odf-system-dashboard.tsx
Due: ci/prow/ceph-storage-plugin

remove un-used queries
  frontend/packages/ceph-storage-plugin/src/queries/ceph-queries.ts
  frontend/packages/ceph-storage-plugin/src/queries/odf-queries.ts
Due: ci/prow/ceph-storage-plugin

adds feature flag for all extension for knative plugin
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
Due: none

adds feature flag for static extension for knative plugin
  frontend/packages/knative-plugin/src/plugin.tsx
Due: none

remove placeholder
  pkg/devfile/sample-placeholder.go
Due: none

handle canceling setInverval on cancel and block navigating away from modal.
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
Due: none

Bug 2015806: Fix resource metrics 403 errors for project admin users
  frontend/packages/console-shared/src/promql/resource-metrics.ts
  frontend/packages/dev-console/src/components/monitoring/queries.ts
  frontend/public/components/utils/resource-metrics.tsx
Due: none

Bug 2020001: Update demo dynamic plugin dockerfile to reflect dir structure change
  Dockerfile.plugins.demo
Due: none

Bug 2020041: Dockerfile for dynamic-demo-plugin contains old path to its folder
  Dockerfile.plugins.demo
  Dockerfile.plugins.demo2
Due: none

Bug 2020162: PVC is deleted along with VM even with "Delete Disks" unchecked
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/actions.ts
Due: ci/prow/kubevirt-plugin

Revamp HorizontalNav component
  frontend/package.json
  frontend/packages/console-dynamic-plugin-sdk/src/api/core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/pages.ts
  frontend/public/components/HorizontalNav/HorizontalNav.tsx
  frontend/public/components/HorizontalNav/HorizontalNavContent.tsx
  frontend/public/components/utils/horizontal-nav.tsx
  frontend/yarn.lock
Due: none

dynamic plugin demo package and demo2 dockerfile
  Dockerfile.plugins.demo2
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/yarn.lock
Due: none

revert package.json and yarn.lock
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/yarn.lock
Due: none

Fix dynamic demo plugin build
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/webpack.config.ts
  dynamic-demo-plugin/yarn.lock
  frontend/packages/console-dynamic-plugin-sdk/scripts/package-definitions.ts
Due: none

error creating list of resources in Import YAML
  frontend/packages/integration-tests-cypress/tests/crud/bulk-create-resources.spec.ts
  frontend/public/components/edit-yaml.jsx
  frontend/public/components/import-yaml-results.tsx
Due: none

backend: migrate docs links to access.redhat.com
  cmd/bridge/main.go
  pkg/auth/auth_openshift.go
Due: none

frontend: migrate docs links to access.redhat.com
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/modals/configure-cluster-upstream-modal.tsx
  frontend/public/components/modals/create-namespace-modal.jsx
  frontend/public/components/utils/documentation.tsx
  frontend/public/module/k8s/cluster-settings.ts
Due: none

dev-console: migrate docs links to access.redhat.com
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/health-checks/AddHealthChecks.tsx
  frontend/packages/dev-console/src/components/project-access/ProjectAccess.tsx
Due: none

insights-plugin: migrate docs links to access.redhat.com
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
Due: none

knative-plugin: migrate docs links to access.redhat.com
  frontend/packages/knative-plugin/README.md
Due: none

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
