Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin

Monitoring dashboards: Show dashboard's tags in Dashboards dropdown
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/locales/en/public.json
Due: none

adds check for templates
  frontend/packages/dev-console/src/components/catalog/providers/useTemplates.tsx
Due: none

fixes time in cache namespace bucket class
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/state.ts
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/namespace-store-pages/cache-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/review-page.tsx
  frontend/packages/ceph-storage-plugin/src/utils/bucket-class.ts
Due: ci/prow/ceph-storage-plugin

Bug 1952325: Check support modal in ssh tests and skip template parentSupport
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-advanced-wizard-testing.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-simple-wizard-test.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/template-support.spec.ts
Due: ci/prow/kubevirt-plugin

Added a create override options on useSecret hook
  frontend/packages/kubevirt-plugin/src/components/create-vm/create-vm.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/dev-console/dev-console-create-vm-form.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-secret.ts
Due: ci/prow/kubevirt-plugin

Fix new selection after inserting a YAML snippet
  frontend/packages/console-shared/src/components/editor/YAMLEditorSidebar.tsx
Due: none

Add support for showing the dashboard based on components
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Due: ci/prow/ceph-storage-plugin

fixes tooltips to use common component
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/general-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-kms-modal.tsx
Due: ci/prow/ceph-storage-plugin

Disables the clone button if no storage class available
  frontend/packages/console-app/src/components/modals/clone/clone-pvc-modal.tsx
Due: none

Bug 1926776: "Template support" modal appears when select the RHEL6 common template
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/support-modal/support-modal.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-support-modal.ts
Due: ci/prow/kubevirt-plugin

Pipeline Builder Param AutoComplete
  frontend/packages/console-shared/src/components/formik-fields/TextAreaField.tsx
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebar.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebar.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarHeader.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarHeader.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarParam.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarShortcuts.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/utils.ts
  frontend/packages/pipelines-plugin/src/components/shared/common/auto-complete/AutoCompletePopover.tsx
  frontend/packages/pipelines-plugin/src/components/shared/common/auto-complete/autoCompleteUtils.ts
  frontend/packages/pipelines-plugin/src/components/shared/common/auto-complete/autoCompleteValueParsers.ts
  frontend/packages/pipelines-plugin/src/components/shared/common/auto-complete/useAutoComplete.ts
Due: none

Added styling to vm status events
  frontend/packages/kubevirt-plugin/src/components/vms/VMEventsStatusCard.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-events-status-card.scss
Due: ci/prow/kubevirt-plugin

Bug 1952578: Don't poll ClusterVersion when user doesn't have authority
  frontend/public/components/notification-drawer.tsx
Due: none

replaced cy.wait with waitFor
  frontend/packages/integration-tests-cypress/tests/crud/other-routes.spec.ts
  frontend/public/components/graphs/graph-empty.tsx
Due: none

add segment support to telemetry extension
  Dockerfile.plugins.demo2
  frontend/dynamic-demo-plugin/src/utils/telemetry.ts
  frontend/packages/console-app/src/components/quick-starts/utils/quick-start-context.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/telemetry.ts
  frontend/packages/console-shared/src/components/quick-starts/QuickStartsCatalogCard.tsx
  frontend/packages/console-shared/src/hoc/index.ts
  frontend/packages/console-shared/src/hoc/withTelemetry.tsx
  frontend/packages/console-shared/src/hooks/__tests__/usePinnedResources.spec.ts
  frontend/packages/console-shared/src/hooks/usePinnedResources.ts
  frontend/packages/console-shared/src/hooks/useTelemetry.ts
  frontend/packages/dev-console/src/components/EmptyState.tsx
  frontend/packages/topology/src/components/page/TopologyView.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchDetails.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchModalBody.tsx
  frontend/packages/topology/src/components/quick-search/utils/quick-search-utils.tsx
  frontend/public/components/app.jsx
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/components/nav/nav-header.tsx
Due: none

Bug 1952625: Remove model and use Trans
  frontend/public/components/hpa.tsx
  frontend/public/locales/en/public.json
  frontend/public/models/index.ts
Due: none

Bug 1942086: Fix Home i18n misses
  frontend/packages/dev-console/src/components/monitoring/alerts/monitoring-alerts-utils.tsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/locales/en/public.json
Due: none

update devfile form for preselected devfile
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/devfile/DevfileImportForm.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
Due: none

Add Trigger Param Auto Complete
  frontend/packages/console-shared/src/components/formik-fields/InputField.tsx
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PipelineParameterSection.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/AddTriggerForm.tsx
  frontend/packages/pipelines-plugin/src/components/shared/common/auto-complete/autoCompleteValueParsers.ts
Due: none

Fix for new storage pool failure_domain missing
  frontend/packages/ceph-storage-plugin/src/components/block-pool/body.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/delete-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/update-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/types.ts
  frontend/packages/ceph-storage-plugin/src/utils/block-pool.tsx
Due: ci/prow/ceph-storage-plugin

avoid setting JAVA_ARGS if cmd args are not given
  frontend/packages/dev-console/src/components/import/upload-jar-submit-utils.ts
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
Due: none

fixes issue with ksvc edit for upload jar flow
  frontend/packages/dev-console/src/components/import/upload-jar-submit-utils.ts
Due: none

fixes issue with KnativeServing not shown in list on global config page
  frontend/packages/knative-plugin/console-extensions.json
  frontend/public/components/cluster-settings/global-config.tsx
Due: none

Bug 1952635: Revert "create app-content div with modal-container as sibling"
  frontend/packages/integration-tests-cypress/support/project.ts
  frontend/packages/integration-tests-cypress/tests/crud/namespace-crud.spec.ts
  frontend/packages/integration-tests-cypress/tests/monitoring/monitoring.spec.ts
  frontend/public/components/app.jsx
  frontend/public/components/factory/modal.tsx
Due: none

Bug 1939753: Track and show error messages in modals
  frontend/__tests__/components/utils/promise-component.spec.tsx
  frontend/public/components/modals/delete-modal.tsx
  frontend/public/components/modals/taints-modal.tsx
  frontend/public/components/modals/tolerations-modal.tsx
  frontend/public/components/utils/promise-component.tsx
  frontend/public/locales/en/public.json
Due: none

use catalog extension type for catalog item labels
  frontend/packages/topology/src/components/quick-search/QuickSearch.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchContent.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchController.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchModalBody.tsx
  frontend/packages/topology/src/components/quick-search/utils/quick-search-types.ts
Due: none

Bug 1952958: Gracefully degrade when `Intl.RelativeTimeFormat` unavailable
  frontend/public/components/utils/datetime.ts
Due: none

Add new customization snippet to list all available Add page actions
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/utils/sample-utils.ts
  frontend/public/components/sidebars/resource-sidebar-samples.tsx
Due: none

Fixes used capacity
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
Due: ci/prow/ceph-storage-plugin

edits tooltips for storage efficiency card
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/storage-efficiency-card/storage-efficiency-card.tsx
Due: ci/prow/ceph-storage-plugin

Bug 1952394: Not able to create a project in the wizard
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/select-template.scss
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/select-template.tsx
Due: ci/prow/kubevirt-plugin

Bug 1952495: “Create” button on the Templates page is confuse
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/RowActions.tsx
Due: ci/prow/kubevirt-plugin

Bug 1952367: No VM status on overview page when VM is pending
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/status/VMStatusHealth.tsx
Due: ci/prow/kubevirt-plugin

Increase timeouts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/vm.ts
  frontend/packages/kubevirt-plugin/src/components/modals/modal/modal-footer.tsx
Due: ci/prow/kubevirt-plugin

replace dashboard namespace with ceph
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/__tests__/breakdown-body.spec.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/common/breakdown-card/breakdown-body.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/common/capacity-breakdown/breakdown-body.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/common/storage-efficiency/storage-efficiency-card-item.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/buckets-card/buckets-card-item.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/resource-providers-card/resource-providers-card-body.tsx
Due: ci/prow/ceph-storage-plugin

Bug 1953418: fix wizard validate tests
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.validation.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/views/wizard.view.ts
Due: ci/prow/kubevirt-plugin

fix: Update token length
  frontend/packages/rhoas-plugin/src/const.ts
Due: none

fix: add proper owners of the package
  frontend/packages/rhoas-plugin/OWNERS
Due: none

fix: remove wtrocki from owners
  frontend/packages/rhoas-plugin/OWNERS
Due: none

fixes issue with kamlets not shown on catalog for sources
  frontend/packages/knative-plugin/src/catalog/index.ts
Due: none
