Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Moved isWinToolsImage function to a different file
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/prefill-vm-template-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/combined-disk.ts
  frontend/packages/kubevirt-plugin/src/selectors/immutable/template/combined.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/volume.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/winimage.ts
Due: ci/prow/kubevirt-plugin

Enhance operator modal repo and container links
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-item-details.tsx
Due: none

QuickStart Actions
  frontend/packages/console-app/locales/en/quickstart.json
  frontend/packages/console-app/src/components/quick-starts/QuickStartController.tsx
  frontend/packages/console-app/src/components/quick-starts/catalog/QuickStartTile.tsx
  frontend/packages/console-app/src/components/quick-starts/catalog/QuickStartTileFooter.tsx
  frontend/packages/console-app/src/components/quick-starts/catalog/__tests__/QuickStartTileFooter.spec.tsx
  frontend/packages/console-app/src/components/quick-starts/controller/QuickStartFooter.scss
  frontend/packages/console-app/src/components/quick-starts/controller/QuickStartFooter.tsx
  frontend/packages/console-app/src/components/quick-starts/controller/__tests__/QuickStartFooter.spec.tsx
  frontend/packages/console-app/src/components/quick-starts/utils/quick-start-context.ts
Due: none

Revise container image to use co-select-to-copy over clipboardcopy widget
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-item-details.tsx
Due: none

Support webpack ConcatenatedModule in ExtensionValidator
  frontend/packages/console-dynamic-plugin-sdk/src/validation/ExtensionValidator.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/__tests__/ExtensionValidator.spec.ts
Due: none

Bug 1951169: Change "Explore" to "API Explorer"
  frontend/public/components/api-explorer.tsx
  frontend/public/components/nav/admin-nav.tsx
  frontend/public/locales/en/public.json
Due: none

build phase i18n miss
  frontend/public/components/build-config.tsx
  frontend/public/locales/en/public.json
Due: none

Bug 1951209: kubevirt-plugin: take into account Succeeded VMI Phase
  frontend/packages/kubevirt-plugin/src/components/modals/boot-order-modal/boot-order-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/clone-vm-modal/clone-vm-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/vm-flavor-modal/vm-flavor-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/disk-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/types.ts
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-disks.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-nics/nic-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-nics/types.ts
  frontend/packages/kubevirt-plugin/src/components/vm-nics/vm-nics.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshots.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/pending-changes-warning.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/clone.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/selectors.ts
  frontend/packages/kubevirt-plugin/src/statuses/vm/vm-status.ts
  frontend/packages/kubevirt-plugin/src/utils/pending-changes.ts
Due: ci/prow/kubevirt-plugin

Bug 1945630: Fix default resource log download file name
  frontend/public/components/utils/resource-log.tsx
Due: none

Bug 1951214: fix isEnvType null ptr and add missing volume types
  frontend/packages/kubevirt-plugin/src/constants/vm/storage/volume-type.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-like/next-run-changes.ts
Due: ci/prow/kubevirt-plugin

mock i18next in TriggerTemplateResourceLink
  frontend/packages/pipelines-plugin/src/components/pipelines/resource-overview/__tests__/TriggerTemplateResourceLink.spec.tsx
Due: none

Bug 1950532 - Include "update" when referring to operator approval and channel
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
  frontend/packages/operator-lifecycle-manager/src/components/subscription.tsx
Due: none

Bug 1951221: remove VMDisksFirehose component in favor of a hook
  frontend/packages/kubevirt-plugin/src/components/vm-disks/index.ts
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-disks.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-details-page.tsx
Due: ci/prow/kubevirt-plugin

Bug 1949404: Fix label selector translation on pvc creation page
  frontend/public/components/storage/create-pvc.tsx
  frontend/public/locales/en/public.json
Due: none

Bug: 1924728 added warning events to vm status and changed appearance to be more similat to cluster overview
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/status/GuestAgentStatusHealth.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/status/VMStatusHealth.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-alerts.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-details-card.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-status-card.scss
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-status-card.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/guest-agent-file-systems.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/VMEventsStatusCard.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-events-status-card.scss
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-users.tsx
  frontend/packages/kubevirt-plugin/src/constants/index.ts
  frontend/packages/kubevirt-plugin/src/constants/status-constants.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-guest-agent-info.ts
  frontend/packages/kubevirt-plugin/src/utils/guest-agent-utils.ts
Due: ci/prow/kubevirt-plugin

Bug 1922280: No oVirt label in upstream
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/strings/import-providers.ts
Due: ci/prow/kubevirt-plugin

fix: update strings and match designs (#148)
  frontend/packages/rhoas-plugin/console-extensions.json
  frontend/packages/rhoas-plugin/locales/en/rhoas-plugin.json
  frontend/packages/rhoas-plugin/src/catalog/catalog-content.ts
  frontend/packages/rhoas-plugin/src/catalog/providers/useRhoasCatalog.tsx
  frontend/packages/rhoas-plugin/src/components/access-services/ServicesToken.tsx
  frontend/packages/rhoas-plugin/src/components/service-list/ServiceInstance.tsx
  frontend/packages/rhoas-plugin/src/components/service-list/ServiceListPage.tsx
  frontend/packages/rhoas-plugin/src/components/service-table/ServiceIconStatus.tsx
  frontend/packages/rhoas-plugin/src/components/service-table/ServiceInstanceTable.tsx
  frontend/packages/rhoas-plugin/src/components/states/ServicesEmptyState.tsx
  frontend/packages/rhoas-plugin/src/components/states/ServicesEmptyStateIcon.tsx
  frontend/packages/rhoas-plugin/src/components/states/ServicesErrorState.scss
  frontend/packages/rhoas-plugin/src/components/states/ServicesErrorState.tsx
  frontend/packages/rhoas-plugin/src/components/states/index.ts
  frontend/packages/rhoas-plugin/src/utils/conditionHandler.ts
  frontend/packages/rhoas-plugin/src/utils/resourceCreators.ts
Due: none

Issue 164 (#165)
  frontend/packages/rhoas-plugin/locales/en/rhoas-plugin.json
  frontend/packages/rhoas-plugin/src/catalog/catalog-content.ts
  frontend/packages/rhoas-plugin/src/catalog/providers/useRhoasCatalog.tsx
Due: none

fix: pass string instead of obj to empty state
  frontend/packages/rhoas-plugin/locales/en/rhoas-plugin.json
  frontend/packages/rhoas-plugin/src/components/service-list/ServiceListPage.tsx
Due: none

fix: import order and strings
  frontend/packages/rhoas-plugin/locales/en/rhoas-plugin.json
  frontend/packages/rhoas-plugin/src/catalog/catalog-content.ts
  frontend/packages/rhoas-plugin/src/catalog/providers/useRhoasCatalog.tsx
  frontend/packages/rhoas-plugin/src/components/service-list/ServiceInstance.tsx
  frontend/packages/rhoas-plugin/src/components/service-list/ServiceListPage.tsx
  frontend/packages/rhoas-plugin/src/components/service-table/ServiceIconStatus.tsx
Due: none

adds DnD support to TextColumnField component
  frontend/packages/console-shared/src/components/formik-fields/TextColumnField.tsx
  frontend/packages/console-shared/src/components/formik-fields/index.ts
  frontend/packages/console-shared/src/components/formik-fields/text-column-field/TextColumnField.tsx
  frontend/packages/console-shared/src/components/formik-fields/text-column-field/TextColumnItem.tsx
  frontend/packages/console-shared/src/components/formik-fields/text-column-field/__tests__/TextColumnItem.spec.tsx
  frontend/packages/console-shared/src/components/formik-fields/text-column-field/text-column-types.ts
Due: none

Bug 1922063: "Virtual Machine" should be "Templates" in template wizard
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/form/form-field.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/vm-settings-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/strings/renderable-field.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/os.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/vm-settings-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/utils/renderable-field-utils.ts
Due: ci/prow/kubevirt-plugin

fix Quick Search CTA in topology
  frontend/packages/topology/src/components/page/TopologyEmptyState.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchButton.tsx
Due: none

test segment
  Dockerfile.plugins.demo2
  frontend/dynamic-demo-plugin/src/utils/telemetry.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/telemetry.ts
  frontend/packages/topology/src/components/page/TopologyView.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchDetails.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchModalBody.tsx
  frontend/public/components/masthead-toolbar.jsx
Due: none

add telemetry extension
  frontend/dynamic-demo-plugin/console-extensions.json
  frontend/dynamic-demo-plugin/package.json
  frontend/dynamic-demo-plugin/src/utils/telemetry.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/telemetry.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/usePinnedResources.ts
  frontend/packages/console-shared/src/hooks/useTelemetry.ts
  frontend/public/components/app.jsx
Due: none

Bug 1942839: Fix async return
  frontend/packages/kubevirt-plugin/src/constants/vm/wintools.ts
Due: ci/prow/kubevirt-plugin

Bug 1950532: Include "update" when referring to operator approval and channel
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
  frontend/packages/operator-lifecycle-manager/src/components/subscription.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/subscription.tsx
Due: none

Added a check for okd in ssh cypress testing
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-advanced-wizard-testing.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-simple-wizard-test.includes.ts
Due: ci/prow/kubevirt-plugin

Added a check for enableSSHService before adding a secret to a machine
  frontend/packages/kubevirt-plugin/src/components/create-vm/create-vm.tsx
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/simple-create.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vmtemplate/customize.ts
Due: ci/prow/kubevirt-plugin

Guard OBC from showing up in Attach Storage
  frontend/packages/ceph-storage-plugin/console-extensions.json
Due: ci/prow/ceph-storage-plugin

Add a number spinner to PVC expand modal
  frontend/public/components/modals/expand-pvc-modal.tsx
  frontend/public/components/utils/_number-spinner.scss
  frontend/public/components/utils/_request-size-input.scss
  frontend/public/components/utils/number-spinner.tsx
  frontend/public/components/utils/request-size-input.tsx
  frontend/public/style.scss
Due: none

Bug 1946232: VM Page search is slow with multiple rows
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
  frontend/public/components/factory/list-page.jsx
  frontend/public/components/filter-toolbar.tsx
Due: ci/prow/kubevirt-plugin

Update PF packages to 2021.5
  frontend/package.json
  frontend/yarn.lock
Due: none

fix: use add instead of replace for updating resources
  frontend/packages/rhoas-plugin/locales/en/rhoas-plugin.json
  frontend/packages/rhoas-plugin/src/utils/resourceCreators.ts
Due: none

Prevent accidental display of array length
  frontend/public/components/filter-toolbar.tsx
Due: none

adds check for templates
  frontend/packages/dev-console/src/components/catalog/providers/useTemplates.tsx
Due: none

Workspaces and Resource dropdowns are FormSelect
  frontend/packages/console-shared/src/components/formik-fields/FormSelectField.tsx
  frontend/packages/console-shared/src/components/formik-fields/field-types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineResources.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PipelineResourceDropdown.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarResource.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarWorkspace.tsx
Due: none

Add No Workspace value to Start Modal
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PipelineWorkspacesSection.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/__tests__/utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/start-pipeline/submit-utils.ts
Due: none

Support user help for workspaces over resources in the Pipeline Builder
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderFormEditor.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineWorkspaceSuggestionIcon.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineWorkspaceSuggestionIcon.tsx
Due: none

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
