Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Bug 2033138: No model registered for Templates
  frontend/packages/kubevirt-plugin/src/utils/redux/id-reference.ts
Due: ci/prow/kubevirt-plugin

Add support for checking .devfile.yaml during strategy detection
  frontend/packages/git-service/src/utils/import-strategy-detector.ts
Due: none

Show Create Service Binding modal on dnd of binding connector in topology
  frontend/packages/console-app/src/actions/creators/deployment-factory.ts
  frontend/packages/console-app/src/components/modals/service-binding/CreateServiceBindingForm.tsx
  frontend/packages/console-app/src/components/modals/service-binding/ServiceBindingModalLauncher.tsx
  frontend/packages/console-app/src/components/modals/service-binding/__tests__/CreateServiceBindingForm.spec.tsx
  frontend/packages/dev-console/src/components/topology/relationship-provider.ts
  frontend/packages/knative-plugin/src/topology/relationship-provider.ts
  frontend/packages/topology/src/operators/actions/serviceBindings.ts
  frontend/packages/topology/src/utils/connector-utils.ts
Due: none

Show provider information for devfiles in catalog
  frontend/packages/dev-console/src/components/catalog/providers/useDevfile.tsx
  frontend/packages/dev-console/src/components/catalog/providers/useDevfileSamples.tsx
  frontend/packages/dev-console/src/components/import/devfile/devfile-types.ts
Due: none

Show binding secret in service binding sidebar
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/side-bar/TopologyEdgeResourcesPanel.tsx
Due: none

fix user preferences project dropdown
  frontend/packages/console-app/src/components/user-preferences/namespace/NamespaceDropdown.tsx
Due: none

Fix network status in Status card
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/VirtOverviewStatusCard.tsx
Due: ci/prow/kubevirt-plugin

Create Virtualization Overview Running VMS per Template Card
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/VirtualizationOverviewPage.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/running-vms-per-template-card/RunningVMsPerTemplateCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/running-vms-per-template-card/running-vms-per-template-card.scss
Due: ci/prow/kubevirt-plugin

Bug 2032547: hardware devices table have filter when table is empty
  frontend/packages/kubevirt-plugin/src/components/FilteredTable/FilteredTable.tsx
Due: ci/prow/kubevirt-plugin

CNV-14752: Add UI to create a VM from SAP template
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/VirtualizationWizardNavigator/VirtualizationWizardNavigator.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/create-vm.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/menu-actions-modals/utils.ts
  frontend/packages/kubevirt-plugin/src/components/vm-templates/instantiate-template/CreateFromTemplate.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/instantiate-template/TemplateForm.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/instantiate-template/TemplateInfo.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/instantiate-template/TemplateResourceDetails.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/instantiate-template/template-form.scss
  frontend/packages/kubevirt-plugin/src/constants/url-params.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/workload-profile.ts
  frontend/packages/kubevirt-plugin/src/utils/url.ts
Due: ci/prow/kubevirt-plugin

cleanup helm files
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/actions/modify-helm-release.ts
  frontend/packages/helm-plugin/src/topology/TopologyHelmReleasePanel.tsx
  frontend/packages/helm-plugin/src/topology/__tests__/TopologyHelmReleaseNotesPanel.spec.tsx
  frontend/packages/helm-plugin/src/topology/actions/helmReleaseActions.ts
  frontend/packages/topology/src/components/graph-view/components/nodeContextMenu.tsx
Due: none

migrate context menu actions of WorkloadNode and application group
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api-kubevirt.ts
  frontend/packages/dev-console/src/components/topology/components/devConsoleComponetFactory.ts
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/dev-console/src/utils/__tests__/kebab-actions.spec.ts
  frontend/packages/dev-console/src/utils/kebab-actions.ts
  frontend/packages/kubevirt-plugin/src/topology/components/kubevirtComponentFactory.ts
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/actions/__tests__/modify-application.spec.ts
  frontend/packages/topology/src/actions/edgeActions.ts
  frontend/packages/topology/src/actions/index.ts
  frontend/packages/topology/src/actions/modify-application.ts
  frontend/packages/topology/src/actions/workloadActions.ts
  frontend/packages/topology/src/components/graph-view/components/componentFactory.ts
  frontend/packages/topology/src/components/graph-view/components/nodeContextMenu.tsx
Due: ci/prow/kubevirt-plugin

Add adv. option to customize route labels
  frontend/packages/console-shared/src/components/formik-fields/SelectorInputField.tsx
  frontend/packages/console-shared/src/components/formik-fields/__tests__/SelectorInputField.spec.tsx
  frontend/packages/console-shared/src/components/formik-fields/index.ts
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-git.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-git.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/addFlow.ts
  frontend/packages/dev-console/integration-tests/views/git-import-flow.view.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-data.ts
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-utils.spec.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/advanced/LabelSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/RouteSection.tsx
  frontend/packages/dev-console/src/components/import/advanced/__tests__/LabelSection.spec.tsx
  frontend/packages/dev-console/src/components/import/advanced/__tests__/RouteSection.spec.tsx
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/route/AdvancedRouteOptions.tsx
  frontend/packages/dev-console/src/components/import/route/__tests__/AdvancedRouteOptions.spec.tsx
  frontend/packages/dev-console/src/utils/__tests__/shared-submit-utils.spec.ts
  frontend/packages/dev-console/src/utils/shared-submit-utils.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/actions-on-knative-service.ts
Due: none

Add sort order for sinkable resources
  frontend/packages/console-shared/src/components/formik-fields/ResourceDropdownField.tsx
  frontend/packages/knative-plugin/src/components/add/EventSource.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/form-fields/SinkResources.scss
  frontend/packages/knative-plugin/src/components/add/event-sources/form-fields/SinkResources.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/__tests__/pub-sub-utils.spec.ts
  frontend/packages/knative-plugin/src/components/pub-sub/pub-sub-utils.ts
  frontend/packages/knative-plugin/src/components/sink-pubsub/SinkPubsub.tsx
  frontend/packages/knative-plugin/src/components/sink-pubsub/SinkPubsubModal.tsx
  frontend/packages/knative-plugin/src/components/sink-pubsub/__tests__/SinkPubsub.spec.tsx
  frontend/packages/knative-plugin/src/components/sink-source/SinkSource.tsx
  frontend/packages/knative-plugin/src/components/sink-source/SinkSourceModal.tsx
  frontend/packages/knative-plugin/src/components/sink-source/__tests__/SinkSourceModal.spec.tsx
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
Due: none

Gherkin and automation changes for topology-usability-improvements-odc-6361
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/topology/integration-tests/features/topology/topology-chart-area-visual.feature
  frontend/packages/topology/integration-tests/features/topology/topology-workload-sidebar.feature
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/chart-view.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/workload-sidebar.ts
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/Decorator.tsx
Due: none

Wait for the quota chart row to improve test stability
  frontend/integration-tests/tests/dashboards/project-dashboard.scenario.ts
Due: none

automation of export-of-application
  frontend/packages/topology/integration-tests/features/export-application/export-of-applicaton.feature
  frontend/packages/topology/integration-tests/support/pages/export-application/export-applications.ts
  frontend/packages/topology/integration-tests/support/step-definitions/export-application/export-of-application.ts
Due: none

implementing feedback from @serenamarie125
  frontend/@types/console/index.d.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/catalog.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/error/http-error.ts
  frontend/packages/console-shared/src/components/catalog/service/CatalogServiceProvider.tsx
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/operator-lifecycle-manager/console-extensions.json
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/pipelines-plugin/console-extensions.json
  frontend/packages/rhoas-plugin/console-extensions.json
  frontend/packages/rhoas-plugin/locales/en/rhoas-plugin.json
  frontend/public/components/utils/__tests__/status-box.spec.tsx
  frontend/public/components/utils/status-box.tsx
  frontend/public/locales/en/public.json
Due: ci/prow/kubevirt-plugin

partially loaded data is now displayed
  frontend/packages/console-dynamic-plugin-sdk/src/utils/error/http-error.ts
  frontend/packages/console-shared/src/components/catalog/service/CatalogExtensionHookResolver.tsx
  frontend/packages/console-shared/src/components/catalog/service/CatalogServiceProvider.tsx
  frontend/packages/dev-console/src/components/catalog/providers/useDevfile.tsx
  frontend/public/components/utils/__tests__/status-box.spec.tsx
  frontend/public/components/utils/status-box.tsx
  frontend/public/locales/en/public.json
Due: none

Fix secure route pre-filled issue in edit flow
  frontend/packages/dev-console/src/components/edit-application/__tests__/edit-application-data.ts
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/dev-console/src/components/import/DeployImage.tsx
  frontend/packages/dev-console/src/components/import/__mocks__/deployImage-validation-mock.ts
  frontend/packages/dev-console/src/components/import/__mocks__/import-validation-mock.ts
  frontend/packages/dev-console/src/components/import/__mocks__/upload-jar-mock.ts
  frontend/packages/dev-console/src/components/import/__tests__/deployImage-submit-utils-data.ts
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils-data.ts
  frontend/packages/dev-console/src/components/import/advanced/__tests__/RouteSection.spec.tsx
  frontend/packages/dev-console/src/components/import/form-initial-values.ts
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/route/SecureRoute.tsx
  frontend/packages/dev-console/src/utils/__tests__/__snapshots__/shared-submit-utils.spec.ts.snap
  frontend/packages/dev-console/src/utils/shared-submit-utils.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
Due: none

Enable Secure Route option by default in Deploy Image & Import from git flow
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-shared/src/components/formik-fields/DroppableFileInputField.tsx
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/package.json
  frontend/packages/dev-console/src/components/import/route/SecureRoute.tsx
  frontend/packages/dev-console/src/components/user-preferences/SecureRouteFields.tsx
  frontend/packages/dev-console/src/components/user-preferences/__tests__/SecureRouteFields.spec.tsx
  frontend/packages/dev-console/src/components/user-preferences/index.ts
  frontend/packages/dev-console/src/components/user-preferences/usePreferredRoutingOptions.tsx
Due: none

Update CSR model & fix approval/denial process
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/menu-actions.ts
  frontend/packages/metal3-plugin/src/selectors/csr.ts
  frontend/public/models/index.ts
Due: none

Add encrypted RBD storage class during deployment
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/components/kms-config/utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-request-data.ts
  frontend/packages/ceph-storage-plugin/src/constants/kms.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
Due: ci/prow/ceph-storage-plugin

Add new cluster utilization item extension
  dynamic-demo-plugin/console-extensions.json
  dynamic-demo-plugin/locales/en/plugin__console-demo-plugin.json
  dynamic-demo-plugin/package.json
  dynamic-demo-plugin/src/i18n.ts
  dynamic-demo-plugin/src/utils/cluster-overview.ts
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/utilization-item.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/NodeAlerts.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/UtilizationCard.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/utilization-popovers.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/cluster-overview.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/packages/console-shared/src/components/dashboard/utilization-card/TopConsumerPopover.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationItem.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/utilization-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/utilization-popovers.tsx
  frontend/public/components/dashboard/project-dashboard/utilization-card.tsx
  frontend/public/components/dashboard/project-dashboard/utilization-popovers.tsx
  frontend/public/locales/en/public.json
Due: ci/prow/ceph-storage-plugin

Bug 2033693: Support VM Descheduler integration in the UI
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/descheduler-modal/descheduler-modal.scss
  frontend/packages/kubevirt-plugin/src/components/modals/descheduler-modal/descheduler-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/models/index.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/vm/vm.ts
Due: ci/prow/kubevirt-plugin

Bug 2023560: "Network Attachment Definitions" has no project field on the top in the list view
  frontend/packages/network-attachment-definition-plugin/console-extensions.json
Due: none

Bug 2025525: overview page consume high CPU
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/overview-dashboard/health.ts
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/overview-dashboard/inventory.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/table-filters.ts
  frontend/packages/kubevirt-plugin/src/components/vms/vm-page-new.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/vm-status.ts
Due: ci/prow/kubevirt-plugin

focus name if create new application
  frontend/packages/topology/src/components/dropdowns/ApplicationSelector.tsx
Due: none

Gherkin for disabling tektonhub integration in pipeline builder
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
Due: none

fix loading of export details page
  frontend/packages/topology/src/models/gitops-primer.ts
Due: none

Bug 2019636: Actions in VM tabs should be disabled
  frontend/packages/kubevirt-plugin/src/components/vm-disks/vm-disks.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-nics/vm-nics.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshots.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-environment/vm-environment-page.tsx
Due: ci/prow/kubevirt-plugin

Bug 2019634: Pause and migration is enabled in action list
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
Due: ci/prow/kubevirt-plugin

Bug 2034243: regular user cant load template list
  frontend/packages/kubevirt-plugin/src/components/create-vm/hooks/use-vm-templates-resources.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
Due: ci/prow/kubevirt-plugin

Bug 2034257: regular user `Create VM` missing permissions alert
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/RowActions.tsx
Due: ci/prow/kubevirt-plugin

Bug 2018985: The rootdisk size is 15Gi of windows VM
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/selectors/immutable/template/combined.ts
Due: ci/prow/kubevirt-plugin

Create Virtualization Overview Top Consumer card
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/VirtualizationOverviewPage.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/top-consumers-card/NoDataAvailableMessage.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/top-consumers-card/TopConsumerCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/top-consumers-card/TopConsumersChartList.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/top-consumers-card/TopConsumersGridRow.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/top-consumers-card/TopConsumersProgressChart.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/top-consumers-card/VirtOverviewTopConsumersCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/top-consumers-card/queries.ts
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/top-consumers-card/top-consumers-card.scss
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/top-consumers-card/utils.ts
  frontend/packages/kubevirt-plugin/src/constants/virt-overview/index.ts
  frontend/packages/kubevirt-plugin/src/constants/virt-overview/top-consumers-card/top-consumer-metric.ts
  frontend/packages/kubevirt-plugin/src/constants/virt-overview/top-consumers-card/top-consumer-scope.ts
  frontend/packages/kubevirt-plugin/src/constants/virt-overview/top-consumers-card/top-consumers-metric.ts
Due: ci/prow/kubevirt-plugin

Bug 2025765: It should not try to load from storageProfile after unchecking"Apply optimized StorageProfile settings"
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
Due: ci/prow/kubevirt-plugin

Update PF packages to release 2021-16
  frontend/package.json
  frontend/yarn.lock
Due: none

Fix localization issues in Add Storage page
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/attach-obc/attach-obc-deployment.tsx
  frontend/public/components/storage/attach-storage.tsx
Due: ci/prow/ceph-storage-plugin

Uncommented code for export app epic
  frontend/packages/topology/integration-tests/support/page-objects/export-applications-po.ts
  frontend/packages/topology/integration-tests/support/step-definitions/export-application/export-of-application.ts
Due: none

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
