Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin

Show total text even if current utilization is 0.
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationItem.tsx
Due: none

Hide virtualization overview for non-admin users
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/ResourcesSection.tsx
  frontend/packages/kubevirt-plugin/src/utils/common.ts
Due: ci/prow/kubevirt-plugin

Filter out superseded helm release secrets and fix firehose to support partial metadata
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/helm-plugin/src/components/list-page/HelmReleaseList.tsx
  frontend/packages/helm-plugin/src/topology/helmResources.ts
  frontend/public/components/utils/firehose.jsx
Due: none

Resource is null right after helm upgrade. Return undefined/null until data is available. (#3)
  frontend/packages/helm-plugin/src/actions/providers.ts
  frontend/packages/helm-plugin/src/topology/helm-data-transformer.ts
  frontend/packages/helm-plugin/src/topology/sidebar/release-panel/resource-link.tsx
  frontend/packages/helm-plugin/src/topology/sidebar/release-panel/tab-sections.tsx
Due: none

Make recommended operator links internal
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/getting-started-card/RecommendedOperatorsCard.tsx
Due: ci/prow/kubevirt-plugin

Add debug terminal for pods
  frontend/public/components/_terminal.scss
  frontend/public/components/app-contents.tsx
  frontend/public/components/debug-terminal.tsx
  frontend/public/components/pod-exec.jsx
  frontend/public/components/pod.tsx
  frontend/public/components/utils/resource-log.tsx
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/pods.ts
Due: none

Fix undefined error in reducer when getting rbac
  frontend/public/reducers/ui.ts
Due: none

CCXDEV-7039 Severity links to Insights Advisor
  frontend/packages/insights-plugin/locales/en/insights-plugin.json
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
  frontend/packages/insights-plugin/src/components/InsightsPopup/mappers.ts
Due: none

Fix kamelet binding edge and added layout constraints
  frontend/packages/console-shared/src/components/pod/PodsOverview.tsx
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/src/actions/providers.ts
  frontend/packages/knative-plugin/src/topology/__tests__/topology-knative-test-data.ts
  frontend/packages/knative-plugin/src/topology/components/anchors/EventSinkSourceAnchor.ts
  frontend/packages/knative-plugin/src/topology/components/anchors/EventSinkTargetAnchor.ts
  frontend/packages/knative-plugin/src/topology/components/edges/EventSinkLink.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/EventSink.tsx
  frontend/packages/knative-plugin/src/topology/components/nodes/EventingPubSubNode.tsx
  frontend/packages/knative-plugin/src/topology/data-transformer.ts
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/knative-plugin/src/topology/layouts/layoutConstraints.ts
  frontend/packages/knative-plugin/src/topology/sidebar/knative-connectors-tab-sections.tsx
  frontend/packages/knative-plugin/src/topology/sidebar/knative-resource-tab-sections.tsx
  frontend/packages/knative-plugin/src/utils/get-knative-resources.ts
Due: none

Add prerequisites for active health checks test
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/status-card/status-card.tsx
Due: ci/prow/ceph-storage-plugin

Add user preferences to guided tour
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/guided-tour/index.ts
  frontend/public/components/masthead-toolbar.jsx
Due: none

Disable crw tests because operator could not be found in OperatorHub atm
  frontend/packages/dev-console/integration-tests/features/codeready-workspaces/crw-basic.feature
  frontend/packages/dev-console/integration-tests/features/codeready-workspaces/open-app-in-crw.feature
Due: none

Update CRW operator id to fix our e2e tests
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-uninstall.spec.ts
Due: none

Bug 1986819: fix string typos for hot-plug disks
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
Due: ci/prow/kubevirt-plugin

Update CRW operator name to fix failing e2e tests
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-uninstall.spec.ts
Due: none

improve test situation for upstream
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/create-template-from-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-actions.spec.ts
Due: ci/prow/kubevirt-plugin

updats text based on design (#4)
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/guided-tour/index.ts
Due: none

Use correct caps in 'Service name' & 'System name '
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/details-card/details-card.tsx
Due: ci/prow/ceph-storage-plugin

TEMPLATE_DATA_SOURCE and TEMPLATE_DATA_SOURCE_NAMESPACE parameters support
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/vm-settings-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/boot-source.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/add-template-source/add-template-source.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vmtemplate/customize.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/advanced.ts
  frontend/packages/kubevirt-plugin/src/statuses/template/template-source-status.ts
  frontend/packages/kubevirt-plugin/src/utils/index.ts
Due: ci/prow/kubevirt-plugin

getPVCName getPVCNamespace functions
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/vm-settings-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/boot-source.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/add-template-source/add-template-source.tsx
  frontend/packages/kubevirt-plugin/src/selectors/immutable/common.ts
  frontend/packages/kubevirt-plugin/src/selectors/selectors.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/advanced.ts
  frontend/packages/kubevirt-plugin/src/statuses/template/template-source-status.ts
  frontend/packages/kubevirt-plugin/src/utils/index.ts
Due: ci/prow/kubevirt-plugin

Replace getList+useK8sWatchResource with a single useK8sWatchResource
  frontend/packages/console-shared/src/hooks/hpa-hooks.ts
Due: none

Add support for fetching partial metadata and fix helm list page crash
  frontend/__tests__/actions/k8s.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/helm-plugin/src/components/list-page/HelmReleaseList.tsx
  frontend/packages/helm-plugin/src/topology/helmResources.ts
  frontend/public/actions/k8s.ts
  frontend/public/components/utils/k8s-watch-hook.ts
Due: none

Filter superseded helm secrets and fix firehose to support partial metadata
  frontend/packages/console-dynamic-plugin-sdk/src/api/common-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/helm-plugin/src/actions/providers.ts
  frontend/packages/helm-plugin/src/components/list-page/HelmReleaseList.tsx
  frontend/packages/helm-plugin/src/topology/helm-data-transformer.ts
  frontend/packages/helm-plugin/src/topology/helmResources.ts
  frontend/packages/helm-plugin/src/topology/sidebar/release-panel/resource-link.tsx
  frontend/packages/helm-plugin/src/topology/sidebar/release-panel/tab-sections.tsx
  frontend/public/components/utils/firehose.jsx
Due: none

Bug 2042851: Create template from SAP HANA template flow
  frontend/packages/kubevirt-plugin/src/components/vm-templates/instantiate-template/CreateFromTemplate.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/instantiate-template/TemplateForm.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/instantiate-template/TemplateInfo.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/instantiate-template/TemplateResourceDetails.tsx
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/common.ts
  frontend/packages/kubevirt-plugin/src/utils/url.ts
Due: ci/prow/kubevirt-plugin

Bug 2037237: Add "This is a CD-ROM boot source" checkbox to customize wizard
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/vm-settings-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/strings/renderable-field.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/CDRomBootSourceCheckbox.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/provision-source.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/vm-settings-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/utils/renderable-field-utils.ts
  frontend/packages/kubevirt-plugin/src/utils/storage.ts
Due: ci/prow/kubevirt-plugin

Bug 2041671: Redirect to list after template deletion
  frontend/packages/kubevirt-plugin/src/components/modals/menu-actions-modals/delete-vm-template-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/menu-actions-modals/utils.ts
Due: ci/prow/kubevirt-plugin

Update CRW operator name to fix failing e2e tests
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
Due: none

In tree provisioner storageclass aws
  frontend/public/components/storage-class-form.tsx
Due: none

Revert "Monitoring: Add runbook URLs to alert and rule details pages"
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/locales/en/public.json
Due: none

disable helm on multi cluster environment
  frontend/packages/dev-console/src/components/add/DeveloperFeaturesGettingStartedCard.tsx
  frontend/packages/dev-console/src/components/add/__tests__/DeveloperFeaturesGettingStartedCard.spec.tsx
  frontend/packages/helm-plugin/src/utils/helm-detection-utils.ts
Due: none

Bug 2025821: Make "Network Attachment Definitions" available to project-admin
  frontend/packages/network-attachment-definition-plugin/console-extensions.json
  frontend/packages/network-attachment-definition-plugin/package.json
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinition.tsx
  frontend/packages/network-attachment-definition-plugin/src/flags/check-nad-permissions.ts
  frontend/packages/network-attachment-definition-plugin/src/flags/const.ts
  frontend/packages/network-attachment-definition-plugin/src/flags/index.ts
Due: none

Bug 2015356: Different status shows on VM
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/status/VMStatusHealth.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-status-card.tsx
Due: ci/prow/kubevirt-plugin

Bug 2035602 - [e2e][automation] add tests for Virtualization Overview page cards
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/hotplug.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/virtualization-overview/getting-started-card.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/virtualization-overview/overview-cards.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/virtualization-overview.ts
Due: ci/prow/kubevirt-plugin

fix dev-catalog stuck in loading state
  frontend/packages/dev-console/src/components/catalog/catalog-view/CatalogTypeSelector.tsx
  frontend/packages/helm-plugin/src/catalog/providers/useHelmCharts.tsx
Due: none

Bug 2044201: Support for DATA_SOURCE_NAME and DATA_SOURCE_NAMESPACE fix
  frontend/packages/kubevirt-plugin/src/hooks/use-base-images.ts
Due: ci/prow/kubevirt-plugin

add subject name selector to sinkbinding form
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/components/add/event-sources/SinkBindingSection.tsx
  frontend/packages/knative-plugin/src/components/add/eventSource-validation-utils.ts
Due: none

Make ACM accessible via perspective switcher if the ACM plugin is not enabled
  frontend/public/components/nav/nav-header.tsx
  frontend/public/locales/en/public.json
Due: none
