Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

temp put in custom getActiveCluster method
  frontend/public/actions/ui.ts
  frontend/public/components/utils/resource-link.tsx
Due: none

Remove depracated v2v resources from plugin config
  frontend/packages/kubevirt-plugin/console-extensions.json
Due: ci/prow/kubevirt-plugin

Add empty state to running VMs card
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/EmptyState/EmptyStateNoVMs.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/VmStatusesSection.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/running-vms-per-template-card/RunningVMsPerTemplateCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/running-vms-per-template-card/running-vms-per-template-card.scss
Due: ci/prow/kubevirt-plugin

add support for new labels for serverless function
  frontend/packages/knative-plugin/src/const.ts
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-topology-utils.spec.ts
Due: none

pipeline-plugin scripts are updated
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnCluster.ts
  frontend/packages/dev-console/integration-tests/support/pages/operators-page.ts
  frontend/packages/pipelines-plugin/integration-tests/cypress.json
  frontend/packages/pipelines-plugin/integration-tests/features/e2e/pipeline-ci.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-actions.feature
  frontend/packages/pipelines-plugin/integration-tests/package.json
  frontend/packages/pipelines-plugin/integration-tests/support/commands/hooks.ts
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineRun-details-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/pipelines.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-builder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-actions.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-runs.ts
  frontend/packages/topology/integration-tests/features/e2e/topology-ci.feature
  frontend/packages/topology/integration-tests/features/topology/topology-chart-area-visual.feature
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/quick-search-topology.ts
  test-cypress.sh
Due: none

removed the specific pipelines code from generic function
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnCluster.ts
Due: none

wait for crds to load
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/operators-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnCluster.ts
  frontend/packages/dev-console/integration-tests/support/pages/operators-page.ts
  frontend/packages/pipelines-plugin/integration-tests/features/e2e/pipeline-ci.feature
Due: none

code fixes as per comments
  frontend/packages/ceph-storage-plugin/src/components/kms-config/vault-auth-methods.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/vault-config.tsx
Due: ci/prow/ceph-storage-plugin

Migrate Status
  frontend/packages/console-app/src/components/nodes/NodeDetailsConditions.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api-kubevirt.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/GenericStatus.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/PopoverStatus.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/Status.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/StatusIconAndText.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/icons.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/statuses.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/utils/camel-case-wrap.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/constants.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-shared/src/components/status/NodeUnschedulableStatus.tsx
  frontend/packages/console-shared/src/components/status/Status.tsx
  frontend/packages/console-shared/src/components/status/statuses.tsx
  frontend/packages/console-shared/src/components/status/types.ts
  frontend/public/components/conditions.tsx
  frontend/public/components/sidebars/explore-type-sidebar.tsx
  frontend/public/components/utils/index.tsx
Due: none

Migrate StatusIconAndText
  frontend/packages/ceph-storage-plugin/src/components/block-pool/block-pool-list-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/mirroring-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/utilization-item.tsx
  frontend/packages/ceph-storage-plugin/src/components/disk-inventory/ocs-status-column.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/StatusIconAndText.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/icons.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationItem.tsx
  frontend/packages/console-shared/src/components/status/LinkStatus.tsx
  frontend/packages/console-shared/src/components/status/icons.tsx
  frontend/packages/console-shared/src/components/status/index.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/import-providers-tab/providers/vm-import-provider-controller-status-row.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/import-providers-tab/providers/vm-import-provider-object-status.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostDetails.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/StatusCard.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/CSRStatus.tsx
  frontend/packages/metal3-plugin/src/components/maintenance/MaintenancePopover.tsx
  frontend/packages/operator-lifecycle-manager/src/components/catalog-source.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operator-install-page.tsx
  frontend/packages/operator-lifecycle-manager/src/components/subscription.tsx
  frontend/packages/topology/src/components/workload/BuildOverview.tsx
  frontend/public/components/overview/build-overview.tsx
Due: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Migrate PopoverStatus
  frontend/packages/ceph-storage-plugin/src/components/disk-inventory/ocs-status-column.tsx
  frontend/packages/console-app/src/components/nodes/popovers/MarkAsSchedulablePopover.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/PopoverStatus.tsx
  frontend/packages/console-shared/src/components/status/index.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/BareMetalHostStatus.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/CSRStatus.tsx
  frontend/packages/metal3-plugin/src/components/maintenance/MaintenancePopover.tsx
  frontend/packages/operator-lifecycle-manager/src/components/catalog-source.tsx
Due: ci/prow/ceph-storage-plugin

Migrate GenericStatus
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api-kubevirt.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/status/GenericStatus.tsx
  frontend/packages/console-shared/src/components/status/statuses.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-status/lazy-vm-status.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-status/vm-status.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-page-new.tsx
Due: ci/prow/kubevirt-plugin

minor fixes
  frontend/packages/ceph-storage-plugin/src/components/kms-config/vault-auth-methods.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/vault-config.tsx
Due: ci/prow/ceph-storage-plugin

select app group in list view
  frontend/packages/topology/src/components/list-view/TopologyListViewAppGroup.tsx
Due: none

Init state should not assume PVC source type
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form-reducer.ts
Due: ci/prow/kubevirt-plugin

Replace getList+useK8sWatchResource with a single useK8sWatchResource
  frontend/packages/console-shared/src/hooks/hpa-hooks.ts
Due: none

default apiDiscovery in SDK
  frontend/packages/console-dynamic-plugin-sdk/src/app/AppInitSDK.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/__tests__/AppInitSDK.spec.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/api-discovery/api-discovery-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/api-discovery/api-discovery.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/api-discovery/discovery-cache.ts
Due: none

Bug 2014640: Cannot change storage class of boot disk when cloning from template
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-update-data-volume.ts
Due: ci/prow/kubevirt-plugin

Query Browser: Fix widths of timespan text input
  frontend/public/components/monitoring/_monitoring.scss
Due: none

Monitoring: Comment to explain how Alertmanager links are handled
  frontend/public/components/monitoring/alerting.tsx
Due: none

update namespace/backing store for dedicated-admin (OSD)
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/create-bs-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/create-bs.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/namespace-store-form.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/noobaa-provider-endpoints/gcp-endpoint-type.tsx
  frontend/packages/ceph-storage-plugin/src/components/noobaa-provider-endpoints/noobaa-secret-dropdown.tsx
  frontend/packages/ceph-storage-plugin/src/components/noobaa-provider-endpoints/s3-endpoint-type.tsx
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
Due: ci/prow/ceph-storage-plugin

Migrate impersonateStateToProps
  frontend/packages/console-app/src/components/cloud-shell/CloudShellExec.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/reducers/coreSelectors.ts
  frontend/packages/console-shared/src/components/actions/menu/ActionMenuItem.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/PipelineStartButton.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/TriggerLastRunButton.tsx
  frontend/packages/pipelines-plugin/src/topology/build-decorators/PipelineRunDecorator.tsx
  frontend/public/components/utils/dropdown.jsx
  frontend/public/components/utils/kebab.tsx
  frontend/public/components/utils/rbac.tsx
  frontend/public/reducers/ui.ts
Due: none

createProject for non-admin users
  frontend/packages/integration-tests-cypress/support/project.ts
Due: none

making eslint prettier happy
  frontend/packages/integration-tests-cypress/support/project.ts
Due: none

Revert "fix annotations on updating workload"
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology-details.ts
  frontend/packages/topology/src/components/side-bar/providers/SideBarTabLoader.tsx
Due: none

Update jest
  frontend/package.json
Due: none

Update build error
  frontend/package.json
Due: none

Fix after rebase
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/utils/resource-status.tsx
  frontend/public/components/factory/table.tsx
  frontend/public/components/monitoring/targets.tsx
Due: none

Andrew's help with types
  frontend/packages/console-shared/src/components/editor/YAMLEditorSidebar.tsx
  frontend/public/components/dashboard/with-dashboard-resources.tsx
  frontend/public/reducers/connectToFlags.ts
Due: none

Back out tsconfig change since it's not needed
  frontend/package.json
  frontend/tsconfig.json
  frontend/yarn.lock
Due: none

Back out unneeded import changes
  frontend/before-tests.js
  frontend/packages/console-plugin-sdk/src/api/withExtensions.tsx
  frontend/public/components/utils/resource-log.tsx
Due: none

Fix monaco versioning issue
  frontend/package.json
Due: none

Fix after rebase
  frontend/yarn.lock
Due: none

Replace safeload and safedump with load and dump
  frontend/__tests__/components/create-yaml.spec.tsx
  frontend/integration-tests/tests/alertmanager.scenario.ts
  frontend/integration-tests/tests/crd-extensions.scenario.ts
  frontend/integration-tests/tests/environment.scenario.ts
  frontend/integration-tests/views/crud.view.ts
Due: none

Fix classnames imports
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/disk-list-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/mirroring-card-item.tsx
  frontend/packages/ceph-storage-plugin/src/components/disk-inventory/ocs-disks-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/vault-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/create-storage-class/disk-list-modal.tsx
  frontend/packages/ceph-storage-plugin/src/utils/common-ocs-install-el.tsx
  frontend/packages/console-shared/src/components/dashboard/details-card/DetailItem.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/HealthItem.tsx
  frontend/packages/console-shared/src/components/formik-fields/DropdownField.tsx
  frontend/packages/console-shared/src/components/formik-fields/DynamicFormField.tsx
  frontend/packages/console-shared/src/components/formik-fields/ResourceDropdownField.tsx
  frontend/packages/console-shared/src/components/formik-fields/SyncedEditorField.tsx
  frontend/packages/console-shared/src/components/layout/PageLayout.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchContent.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/dev-console/src/components/NamespacedPage.tsx
  frontend/packages/dev-console/src/components/add/AddPageLayout.tsx
  frontend/packages/dev-console/src/components/add/layout/Masonry.tsx
  frontend/packages/dev-console/src/components/import/section/FormSection.tsx
  frontend/packages/knative-plugin/src/components/eventing/subscription-list/subscription-table.ts
  frontend/packages/knative-plugin/src/components/eventing/triggers-list/trigger-table.ts
  frontend/packages/knative-plugin/src/components/overview/FilterTable.tsx
  frontend/packages/knative-plugin/src/components/revisions/RevisionRow.tsx
  frontend/packages/knative-plugin/src/components/routes/RouteRow.tsx
  frontend/packages/knative-plugin/src/components/services/ServiceRow.tsx
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/top-consumers-card/TopConsumersGridRow.tsx
  frontend/packages/local-storage-operator-plugin/src/components/disks-list/disks-list-page.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/StatusIcon.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/MultipleResourceKeySelector.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/TaskList.tsx
  frontend/packages/pipelines-plugin/src/components/shared/common/PipelineResourceRef.tsx
  frontend/packages/topology/src/components/svg/SvgResourceIcon.tsx
Due: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Fix remaining type issues
  frontend/__tests__/components/create-yaml.spec.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/k8s-watch-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sModel.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sModels.ts
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/status/index.tsx
Due: none

Replace safeLoad, safeDump with load, dump
  frontend/packages/dev-console/src/components/edit-deployment/EditDeployment.tsx
  frontend/packages/helm-plugin/src/catalog/providers/useHelmCharts.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmChartVersionDropdown.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradePage.tsx
  frontend/packages/integration-tests-cypress/tests/app/filtering-and-searching.spec.ts
  frontend/packages/integration-tests-cypress/tests/app/overview.spec.ts
  frontend/packages/integration-tests-cypress/tests/crud/customresourcedefinition.spec.ts
  frontend/packages/integration-tests-cypress/tests/crud/labels.spec.ts
  frontend/packages/integration-tests-cypress/tests/crud/quotas.spec.ts
  frontend/packages/integration-tests-cypress/tests/crud/resource-crud.spec.ts
  frontend/packages/integration-tests-cypress/tests/crud/roles-rolebindings.spec.ts
  frontend/packages/knative-plugin/src/components/add/brokers/AddBroker.tsx
  frontend/packages/knative-plugin/src/utils/create-channel-utils.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/utils.ts
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-create-yaml.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-create-yaml.tsx
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/cloud-init-data-helper.tsx
  frontend/packages/network-attachment-definition-plugin/integration-tests/tests/nad.actions.scenario.ts
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionCreateYaml.tsx
  frontend/packages/operator-lifecycle-manager/src/components/catalog-source.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderPage.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/pipeline-quicksearch-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/quicksearch/pipeline-quicksearch-utils.ts
Due: ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
