Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

fix k8sget import for bindable services fetch util
  frontend/packages/dev-console/src/components/topology/bindable-services/fetch-bindable-services-utils.ts
Due: none

[WIP] cypress role bindings test catching unhandled promise rejection
  frontend/packages/integration-tests-cypress/tests/crud/other-routes.spec.ts
Due: none

Donot show empty task box for a pipeline without finally task
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/utils.ts
  frontend/packages/pipelines-plugin/src/test-data/pipeline-data.ts
Due: none

Bug 2024750: Fix OLM files in need of i18n
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/create-catalog-source.tsx
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/resource-requirements.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/edit-registry-poll-interval-modal.tsx
Due: none

Bug 2023607: Fix blank page error for Installed Operators
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Due: none

fix test failure due to registry update
  pkg/devfile/sample_test.go
Due: none

Bug 2024399: Remove spaces from a couple of translations
  frontend/public/locales/zh/public.json
Due: none

update the integration test to use 2.2.0 sample
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-devfile.feature
  frontend/packages/dev-console/integration-tests/features/e2e/add-flow-ci.feature
Due: none

Migrate resource link to dynamic-plugin-sdk
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/resource-icon.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/resource-link.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-models.ts
  frontend/packages/console-shared/src/components/badges/badge-factory.tsx
  frontend/public/module/k8s/types.ts
Due: none

Add Virtualization Overview Activity Card
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/VirtOverviewActivityCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/VirtualizationOverviewPage.tsx
Due: ci/prow/kubevirt-plugin

VM dynamic actions menu tests
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/cloud-init-disk.spec.ts
Due: ci/prow/kubevirt-plugin

CNV-13716: Update VM Snapshots UI
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/SnapshotsModal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshots.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
  frontend/packages/kubevirt-plugin/src/selectors/disks/hotplug.ts
Due: ci/prow/kubevirt-plugin

[WIP]Test run for pf with upgraded react/types
  frontend/package.json
  frontend/yarn.lock
Due: none

Automation: Add flows should allow user to pick from a list of pipelines-ODC-6410
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-add-options.ts
  frontend/packages/pipelines-plugin/integration-tests/testData/customNodeDeployment.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/customPythonDeploymentConfig.yaml
Due: none

Catch api errors when user is not logged in to improve e2e stability
  frontend/packages/knative-plugin/src/topology/topology-plugin.ts
  frontend/public/actions/k8s.ts
  frontend/public/components/app.jsx
Due: none

Added pipeline as code feature automation scripts and fixed the pipelines scripts
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-as-code.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-secrets.feature
  frontend/packages/pipelines-plugin/integration-tests/support/commands/hooks.ts
  frontend/packages/pipelines-plugin/integration-tests/support/constants/pipelines.ts
  frontend/packages/pipelines-plugin/integration-tests/support/constants/static-text/pipeline-text.ts
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/functions/common.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/index.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineDetails-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineRun-details-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelines-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/repositories-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/repositoryDetails-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-builder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipeline-as-code.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-actions.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-runs.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-secrets.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-triggers.ts
Due: none

add ocs taints checkbox
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/capacity-and-nodes-step/capacity-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/capacity-and-nodes-step/capacity-and-nodes.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/review-and-create-step/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/reducer.ts
  frontend/packages/ceph-storage-plugin/src/utils/create-storage-system.ts
Due: ci/prow/ceph-storage-plugin

Add plugin seperator to admin nav
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/navigation.ts
  frontend/public/components/nav/admin-nav.tsx
  frontend/public/components/nav/section.tsx
Due: none

Bug 1996630: first ssh delete button is disabled on advanced wizard
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/CloudinitForm.tsx
Due: ci/prow/kubevirt-plugin

fix loading of export details page
  frontend/packages/topology/src/models/gitops-primer.ts
Due: none

disable Role and RoleBindings, OLM single install, and create key/value secrets e2e tests
  frontend/packages/integration-tests-cypress/tests/crud/roles-rolebindings.spec.ts
  frontend/packages/integration-tests-cypress/tests/crud/secrets.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
Due: none

CONSOLE-922: Support AppliedClusterResourceQuota for normal users
  frontend/__tests__/components/resource-quota.spec.tsx
  frontend/integration-tests/tests/dashboards/project-dashboard.scenario.ts
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/dashboard/resource-quota-card/AppliedClusterResourceQuotaItem.tsx
  frontend/packages/console-shared/src/components/dashboard/resource-quota-card/ResourceQuotaBody.tsx
  frontend/packages/integration-tests-cypress/tests/crud/quotas.spec.ts
  frontend/public/components/dashboard/project-dashboard/resource-quota-card.tsx
  frontend/public/components/dashboard/with-dashboard-resources.tsx
  frontend/public/components/factory/list-page.tsx
  frontend/public/components/graphs/donut.tsx
  frontend/public/components/resource-pages.ts
  frontend/public/components/resource-quota.jsx
  frontend/public/locales/en/public.json
  frontend/public/models/index.ts
  frontend/public/module/k8s/types.ts
Due: none

Add simple filter fix
  frontend/public/components/machine.tsx
Due: none

Migrate required k8s resources for resource link
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/resource-icon.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/components/resource-link.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/get-resources.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-models.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/models/index.ts
  frontend/public/module/k8s/types.ts
Due: none

kubevirt: reword 'patch' to 'modify'
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vm-templates/customize-source/CustomizeSourceFinish.tsx
Due: ci/prow/kubevirt-plugin

Remove Tech preview badge for the triggers component for triggers GA operator (1.6)
  frontend/packages/pipelines-plugin/src/components/pipelines/ClusterTriggerBindingPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/EventListenerPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/TriggerBindingPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/TriggerTemplatePage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/pipeline-operator.ts
  frontend/packages/pipelines-plugin/src/components/triggers-lists/TriggersPage.tsx
  frontend/packages/pipelines-plugin/src/models/pipelines.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/hooks.spec.ts
  frontend/packages/pipelines-plugin/src/utils/hooks.ts
Due: none

Update Noobaa Operator csv name
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
Due: ci/prow/ceph-storage-plugin

Keep track of active pages in local state
  frontend/packages/ceph-storage-plugin/src/components/dashboards/odf-system-dashboard.tsx
Due: ci/prow/ceph-storage-plugin

virt: warn users that the RHEL URL expire
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/form/helper/url-source-help.tsx
Due: ci/prow/kubevirt-plugin

virt: fix CentOS capitalizaion
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/form/helper/url-source-help.tsx
Due: ci/prow/kubevirt-plugin

create kms resources for IBM FlashSystem storage
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
Due: ci/prow/ceph-storage-plugin

gherkin for dev console usability improvements-ODC-6303
  frontend/packages/dev-console/integration-tests/features/addFlow/quick-search-add.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-runs.feature
Due: none

fix form view validation and yaml data first load
  frontend/packages/knative-plugin/src/components/add/channels/ChannelForm.tsx
  frontend/packages/knative-plugin/src/components/add/eventSource-validation-utils.ts
Due: none

debugging
  frontend/packages/integration-tests-cypress/support/index.ts
Due: none

migrate ws-factory to ts
  frontend/public/actions/k8s.ts
  frontend/public/module/k8s/resource.ts
  frontend/public/module/ws-factory.js
  frontend/public/module/ws-factory.ts
Due: none

Bug 2022861: Make Storage System tab text consistent across tabs.
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Due: ci/prow/ceph-storage-plugin

fix frontend test
  frontend/packages/dev-console/src/components/catalog/providers/__tests__/useDevfileSamples.data.ts
  frontend/packages/dev-console/src/components/catalog/providers/__tests__/useDevfileSamples.spec.ts
Due: none

Bug 2015498: Fixes add capacity for MCG standalone
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-system/actions.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-system/odf-system-list.tsx
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Due: ci/prow/ceph-storage-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
