Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

added data-test labels
  frontend/packages/console-app/src/__tests__/network-policies/network-policy-selector-preview.spec.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-form.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-peer-selectors.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-selector-preview.tsx
Due: none

update the BindableService CRD changes to align with BindableKinds
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/topology/bindable-services/fetch-bindable-services-utils.ts
  frontend/packages/dev-console/src/components/topology/bindable-services/models.ts
  frontend/packages/dev-console/src/components/topology/bindable-services/types.ts
Due: none

Expose all core PatternFly for dynamic plugin use
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules-override.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules.ts
  frontend/webpack.config.ts
Due: none

Update plugin SDK publish doc
  frontend/packages/console-dynamic-plugin-sdk/README.md
  frontend/packages/console-dynamic-plugin-sdk/publish.sh
  frontend/packages/console-dynamic-plugin-sdk/scripts/package-definitions.ts
Due: none

make ssh service optional
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disk/validate-rootdisk.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-advanced-wizard-testing.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-simple-wizard-test.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-vm-details-page-testing.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/details-bootorder.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/details.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector-tabs.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/vm.ts
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/edit-button.tsx
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHDetailsPage/SSHDetailsPage.tsx
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHDetailsPage/ssh-details-page.scss
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHForm/SSHFormSave/SSHFormSaveInNamespace.tsx
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHModal.tsx
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHWizard/SSHWizard.tsx
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHWizard/ssh-wizard.scss
  frontend/packages/kubevirt-plugin/src/components/ssh-service/redux/reducer.ts
  frontend/packages/kubevirt-plugin/src/components/vms/VMDetailsItem.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/VMEditWithPencil.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/ssh-details.scss
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm.scss
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/simple-create.ts
Due: ci/prow/kubevirt-plugin

Bug 1946232: VM List can consume very high CPU
  frontend/packages/kubevirt-plugin/src/components/vm-status/use-vm-status-resources.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
Due: ci/prow/kubevirt-plugin

Improve console tests
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/console.spec.ts
Due: ci/prow/kubevirt-plugin

fix missing OCS Overview nav item
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/storage-popover.tsx
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
Due: ci/prow/ceph-storage-plugin

Bug 2012317: Fix ListPageCreateDropdown alignment
  frontend/public/components/factory/ListPage/ListPageCreate.tsx
Due: none

Check for migration condition before default unknown status
  frontend/packages/kubevirt-plugin/src/statuses/vm/vm-status.ts
Due: ci/prow/kubevirt-plugin

Added support for SSH keys for custom templates
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/main-actions/create-vm.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/initialize-vm.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/simple-create.ts
Due: ci/prow/kubevirt-plugin

Change OCM links from cloud. to console.redhat.com
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
  frontend/packages/knative-plugin/src/utils/__tests__/knative-serving-data.ts
  frontend/packages/rhoas-plugin/locales/en/rhoas-plugin.json
  frontend/packages/rhoas-plugin/src/components/access-services/ServicesToken.tsx
  frontend/packages/rhoas-plugin/src/components/service-list/ServiceInstance.tsx
  frontend/public/module/k8s/cluster-settings.ts
Due: none

migrate dynamic event source , kamlets & kafka event source
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/src/actions/index.ts
  frontend/packages/knative-plugin/src/actions/providers.ts
  frontend/packages/knative-plugin/src/components/eventing/eventsource-list/EventSourceRow.tsx
  frontend/packages/knative-plugin/src/components/overview/KnativeResourceOverviewPage.tsx
  frontend/packages/knative-plugin/src/components/overview/OverviewDetailsKnativeResourcesTab.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/OverviewDetailsKnativeResourcesTab.spec.tsx
  frontend/packages/knative-plugin/src/topology/components/knativeComponentFactory.ts
  frontend/packages/knative-plugin/src/topology/sidebar/index.ts
  frontend/packages/knative-plugin/src/topology/sidebar/knative-common-tab-sections.tsx
  frontend/packages/knative-plugin/src/topology/sidebar/knative-eventsource-tab-sections.tsx
  frontend/packages/knative-plugin/src/topology/sidebar/knative-pubsub-tab-sections.tsx
  frontend/packages/knative-plugin/src/utils/kebab-actions.ts
  frontend/packages/topology/src/actions/contextMenuActions.tsx
  frontend/packages/topology/src/actions/index.ts
  frontend/packages/topology/src/components/side-bar/TopologyResourcePanel.tsx
Due: none

don't fail on empty list
  frontend/packages/metal3-plugin/src/components/baremetal-nodes/BareMetalNodesPage.tsx
Due: none

expose useActiveNamespace hook in dynamic sdk
  frontend/packages/console-app/src/actions/creators/hpa-factory.ts
  frontend/packages/console-app/src/components/file-upload/file-upload-context.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/useActiveNamespace.ts
  frontend/packages/console-dynamic-plugin-sdk/src/index.ts
  frontend/packages/console-shared/src/components/getting-started/__tests__/QuickStartGettingStartedCard.spec.tsx
  frontend/packages/console-shared/src/hoc/withLastNamespace.tsx
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/useActiveNamespace.ts
  frontend/packages/dev-console/src/actions/providers.ts
  frontend/packages/dev-console/src/components/add/AddPageLayout.tsx
  frontend/packages/dev-console/src/components/add/DeveloperFeaturesGettingStartedCard.tsx
  frontend/packages/dev-console/src/components/add/SampleGettingStartedCard.tsx
  frontend/packages/dev-console/src/components/add/__tests__/DeveloperFeaturesGettingStartedCard.spec.tsx
  frontend/packages/dev-console/src/components/add/__tests__/SampleGettingStartedCard.spec.tsx
  frontend/packages/dev-console/src/components/buildconfig/BuildConfigForm.tsx
  frontend/packages/dev-console/src/components/import/jar/useUploadJarFormToast.ts
  frontend/packages/dev-console/src/components/projects/CreateProjectListPage.tsx
  frontend/packages/knative-plugin/src/actions/providers.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard-footer.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-ssh-service.ts
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinition.tsx
  frontend/packages/rhoas-plugin/src/components/service-list/ServiceListPage.tsx
  frontend/public/components/RBAC/bindings.jsx
  frontend/public/components/factory/ListPage/ListPageCreate.tsx
  frontend/public/components/factory/Table/active-columns-hook.ts
  frontend/public/components/nav/admin-nav.tsx
  frontend/public/components/utils/namespace-redirect.tsx
Due: ci/prow/kubevirt-plugin

Bug 1992580: storageProfile should stay with the same value by check/uncheck the apply button
  frontend/packages/console-app/src/components/access-modes/access-mode.tsx
  frontend/packages/console-app/src/components/volume-modes/volume-mode.tsx
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
Due: ci/prow/kubevirt-plugin

[WIP]: patternfly 2021.13 version bump
  frontend/package.json
  frontend/yarn.lock
Due: none

updated scenarios to execute on CI
  frontend/packages/dev-console/integration-tests/support/commands/app.ts
  frontend/packages/dev-console/integration-tests/support/constants/add.ts
  frontend/packages/dev-console/integration-tests/support/constants/topology.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/global-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/addHealthChecks-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/createGitWorkload.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnCluster.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/knativeSubscriptions.ts
  frontend/packages/dev-console/integration-tests/support/pages/modal.ts
  frontend/packages/knative-plugin/integration-tests/README.md
  frontend/packages/knative-plugin/integration-tests/cypress.json
  frontend/packages/knative-plugin/integration-tests/features/e2e/knative-ci.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/kafka-event-source.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/actions-on-knative-revision.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/actions-on-knative-service.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/cards-display-on-serverless-operator-installation.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/create-knative-service-from-deployment-or-deployment-config.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/create-knative-workload.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/domain-mapping.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/serverless-function.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/side-bar-of-knative-revision-and-service.feature
  frontend/packages/knative-plugin/integration-tests/package.json
  frontend/packages/knative-plugin/integration-tests/support/commands/app.ts
  frontend/packages/knative-plugin/integration-tests/support/commands/hooks.ts
  frontend/packages/knative-plugin/integration-tests/support/commands/index.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/actions-on-knative-revision.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/actions-on-knative-service.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/side-bar-of-knative-revision-and-service.ts
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-actions-page.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-side-pane-page.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/chart-view.ts
  test-cypress.sh
Due: none

Migrating vm.wizard.cloud-init.scenario.ts to cypress. Bug 1999619, cloudinit is malformatted.
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/cloudi-init.creation.spec.ts
Due: ci/prow/kubevirt-plugin

Monitoring: Remove remaining uses of `connect`
  frontend/public/components/monitoring/alert-manager-config.tsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/timespan-dropdown.tsx
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/utils.ts
Due: none

KSVC: adds check for status in ksvc in util logic
  frontend/packages/knative-plugin/src/components/overview/RevisionsOverviewListItem.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/RevisionsOverviewListItem.spec.tsx
  frontend/packages/knative-plugin/src/utils/__tests__/get-knative-resources.spec.ts
  frontend/packages/knative-plugin/src/utils/get-knative-resources.ts
Due: none

fixes imagesteam from reference for alias to existing IS
  frontend/public/components/image-stream.tsx
Due: none

Monitoring dashboards: Improve series labels ordering in tooltips
  frontend/public/components/monitoring/query-browser.tsx
Due: none

Bug 1997967: StorageClass is now saved moving between wizards
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm/create-vm.tsx
  frontend/packages/kubevirt-plugin/src/types/url.ts
  frontend/packages/kubevirt-plugin/src/utils/url.ts
Due: ci/prow/kubevirt-plugin

Remove validation check for dockerfile
  frontend/packages/dev-console/src/components/import/validation-schema.ts
Due: none

Bug 2009298: Delete ssh service when vm is deleted
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHForm/ssh-form-utils.ts
Due: ci/prow/kubevirt-plugin

Bug 2012971: Disable operands deletes
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-uninstall.spec.ts
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
Due: none

Bug 2013384: Disable operands deletes
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-uninstall.spec.ts
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
Due: none

Namespace selector font size and positioning fixes
  frontend/packages/topology/src/components/page/TopologyView.scss
  frontend/public/components/_dropdown.scss
Due: none

Fix Service Name on Object Details Card
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/details-card/details-card.tsx
Due: ci/prow/ceph-storage-plugin

check for resource in SB service spec reference
  frontend/packages/rhoas-plugin/src/topology/rhoas-data-transformer.ts
Due: none

fix type error for create block pool
  frontend/packages/ceph-storage-plugin/src/components/block-pool/body.tsx
Due: ci/prow/ceph-storage-plugin

don't allow bad disk names
  frontend/packages/kubevirt-plugin/src/components/vms/vm-environment/selectors.ts
Due: ci/prow/kubevirt-plugin

use NetworkAttachmentDefinitions instead of Network Attachment Definitions
  frontend/packages/network-attachment-definition-plugin/console-extensions.json
  frontend/packages/network-attachment-definition-plugin/src/components/network-attachment-definitions/NetworkAttachmentDefinitionDetails.tsx
Due: none

Fix few of the rebranding issues
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/block-pool/create-block-pool.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/capacity-and-nodes.tsx
  frontend/packages/ceph-storage-plugin/src/constants/bucket-class.ts
  frontend/packages/ceph-storage-plugin/src/utils/common-ocs-install-el.tsx
Due: ci/prow/ceph-storage-plugin

Fixed extra } in pod preview label
  frontend/packages/console-app/src/components/network-policies/network-policy-peer-selectors.tsx
Due: none

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
