Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin

Added example how to set env in cypress kubevirt readme
  frontend/packages/kubevirt-plugin/integration-tests-cypress/README.md
Due: ci/prow/kubevirt-plugin

Added missing translations
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vms/vm-environment/VMEnvironmentFooter.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-environment/vm-environment-page.tsx
Due: ci/prow/kubevirt-plugin

Add hardware devices info to template cards in wizard
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/select-template.tsx
Due: ci/prow/kubevirt-plugin

Bug 2006025: Rephrases description to use an existing StorageClass
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/constants/tooltips.tsx
Due: ci/prow/ceph-storage-plugin

fix edit bucket class action
  frontend/packages/ceph-storage-plugin/src/components/odf-resources/resource-details-page.tsx
Due: ci/prow/ceph-storage-plugin

Bug 2014486: Fix failing OLM test scenario
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-hub.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-single-namespace.spec.ts
Due: none

Add Karthik to the Pipelines Package approvers
  frontend/packages/pipelines-plugin/OWNERS
Due: none

Fix plugin-manifest JSON schema import code
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-pkg-assets.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-schema.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/package-definitions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-manifest.ts
Due: none

Adding Hardware devices page
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/package.json
  frontend/packages/kubevirt-plugin/src/components/hardware-devices/Page/HardwareDeviceRow.tsx
  frontend/packages/kubevirt-plugin/src/components/hardware-devices/Page/HardwareDevicesPage.tsx
  frontend/packages/kubevirt-plugin/src/components/hardware-devices/Page/HardwareDevicesTable.tsx
  frontend/packages/kubevirt-plugin/src/components/hardware-devices/utils.ts
Due: ci/prow/kubevirt-plugin

re-enable Operand delete checkbox
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-uninstall.spec.ts
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
Due: none

update action dropdown
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/actions/provider.ts
  frontend/packages/kubevirt-plugin/src/components/vm-status/lazy-vm-row-kebab.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-details-page.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-page-new.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vmi-details-page.tsx
  frontend/packages/kubevirt-plugin/src/topology/components/kubevirtComponentFactory.tsx
Due: ci/prow/kubevirt-plugin

if operand deletion error(s), do not uninstall operator
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-uninstall.spec.ts
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
Due: none

migrate knative connector side panels
  frontend/packages/console-shared/src/components/actions/menu/ActionMenu.tsx
  frontend/packages/dev-console/src/components/topology/observe-tab-section.tsx
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/package.json
  frontend/packages/knative-plugin/src/actions/index.ts
  frontend/packages/knative-plugin/src/actions/providers.ts
  frontend/packages/knative-plugin/src/components/overview/KnativeResourceOverviewPage.tsx
  frontend/packages/knative-plugin/src/components/overview/KnativeTopologyEdgePanel.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/KnativeResourceOverviewPage.spec.tsx
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/knative-plugin/src/topology/sidebar/index.ts
  frontend/packages/knative-plugin/src/topology/sidebar/knative-connectors-tab-sections.tsx
  frontend/packages/knative-plugin/src/utils/__tests__/knative-topology-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/fetch-dynamic-eventsources-utils.ts
  frontend/packages/operator-lifecycle-manager/src/components/topology/operator-link-tab-section.tsx
  frontend/packages/topology/src/actions/index.ts
  frontend/packages/topology/src/actions/provider.ts
  frontend/packages/topology/src/components/side-bar/SelectedEntityDetails.tsx
  frontend/packages/topology/src/components/side-bar/TopologyEdgePanel.tsx
  frontend/packages/topology/src/components/side-bar/TopologyEdgeResourcesPanel.tsx
  frontend/packages/topology/src/components/workload/utils.ts
  frontend/packages/topology/src/components/workload/workload-resource-link.tsx
Due: none

Bug 2015557: i18n DeploymentConfig error message
  frontend/public/components/utils/status-box.tsx
  frontend/public/locales/en/public.json
Due: none

Translate "used" in GaugeChart
  frontend/public/components/graphs/gauge.tsx
  frontend/public/locales/en/public.json
Due: none

chore(i18n): update translations
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/container-security/locales/ja/container-security.json
  frontend/packages/container-security/locales/ko/container-security.json
  frontend/packages/container-security/locales/zh/container-security.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/rhoas-plugin/locales/ja/rhoas-plugin.json
  frontend/packages/rhoas-plugin/locales/ko/rhoas-plugin.json
  frontend/packages/rhoas-plugin/locales/zh/rhoas-plugin.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Due: ci/prow/ceph-storage-plugin

GITOPS-1438 display resources health and sync status
  frontend/packages/gitops-plugin/locales/en/gitops-plugin.json
  frontend/packages/gitops-plugin/src/components/details/GitOpsResourcesSection.tsx
Due: none

Bug 2008779: ODF tab is missing if user clicks on 'Refresh web console'
  frontend/public/components/app.jsx
Due: none

Bug 2015375: Add IBM Flashsystem volume types
  frontend/public/components/storage/shared.ts
Due: none

Init
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/__tests__/plugin-loader.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-init.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-loader.ts
  frontend/packages/console-dynamic-plugin-sdk/src/store.ts
  frontend/packages/console-dynamic-plugin-sdk/src/types.ts
  frontend/packages/console-plugin-sdk/src/api/pluginSubscriptionService.ts
  frontend/public/plugins.ts
Due: none

adds feature flag for all extension for knative plugin
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
Due: none

Block MCG standalone system creation, if no default SC
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/reducer.ts
Due: ci/prow/ceph-storage-plugin

Update PF packages to release 2021-13
  frontend/package.json
  frontend/yarn.lock
Due: none

Adding attach/detach modal for gpu and host devices under VM details page.
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/hardware-devices/HardwareDeviceAddButton.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/hardware-devices/HardwareDevicesEmptyState.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/hardware-devices/HardwareDevicesList.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/hardware-devices/HardwareDevicesListHeaders.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/hardware-devices/HardwareDevicesListRow.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/hardware-devices/HardwareDevicesModal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/hardware-devices/HardwareDevicesSelect.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/types.ts
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/vm-wrapper.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/vmi-wrapper.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm-like/next-run-changes.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/selectors.ts
  frontend/packages/kubevirt-plugin/src/selectors/vmi/basic.ts
  frontend/packages/kubevirt-plugin/src/utils/pending-changes.ts
Due: ci/prow/kubevirt-plugin

Internationalization sidebar definitionType
  frontend/public/components/sidebars/.explore-type-sidebar.tsx.swp
  frontend/public/components/sidebars/explore-type-sidebar.tsx
  frontend/public/locales/en/public.json
Due: none

Update public.json
  frontend/public/locales/en/public.json
Due: none

Update explore-type-sidebar.tsx
  frontend/public/components/sidebars/explore-type-sidebar.tsx
Due: none

Bug 2008767: Block MCG deploymeny when no storage class found
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/advanced-section.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/reducer.ts
Due: ci/prow/ceph-storage-plugin

Cloudinit user data works with VNC console login
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/cloud-init.spec.ts
Due: ci/prow/kubevirt-plugin

Add wrapper to require statements in console dynamic plugin SDK
  frontend/packages/console-dynamic-plugin-sdk/src/api/core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules-override.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/require.ts
Due: none

Convert requires to import/export syntax in dynamic plugin sdk
  frontend/packages/console-dynamic-plugin-sdk/src/api/core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api.ts
  frontend/packages/console-dynamic-plugin-sdk/tsconfig-internal.json
  frontend/packages/console-dynamic-plugin-sdk/tsconfig.json
Due: none

pipeline-plugin scripts are updated
  frontend/packages/dev-console/integration-tests/support/commands/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/installOperatorOnCluster.ts
  frontend/packages/dev-console/integration-tests/support/pages/operators-page.ts
  frontend/packages/pipelines-plugin/integration-tests/cypress.json
  frontend/packages/pipelines-plugin/integration-tests/features/e2e/pipeline-ci.feature
  frontend/packages/pipelines-plugin/integration-tests/features/e2e/pipelines.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-actions.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-secrets.feature
  frontend/packages/pipelines-plugin/integration-tests/package.json
  frontend/packages/pipelines-plugin/integration-tests/support/commands/hooks.ts
  frontend/packages/pipelines-plugin/integration-tests/support/constants/static-text/pipeline-text.ts
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineRun-details-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelines-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/pipelines.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-builder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-actions.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-runs.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-secrets.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-triggers.ts
  frontend/packages/topology/integration-tests/features/e2e/topology-ci.feature
  frontend/packages/topology/integration-tests/features/topology/topology-chart-area-visual.feature
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/quick-search-topology.ts
  test-cypress.sh
Due: none

Moving virtualization to a new menu section
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/regression/validate-virtio-win-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-advanced-wizard-testing.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-simple-wizard-test.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-vm-details-page-testing.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/sysprep/sysprep.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/template/customize-source.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/empty-state.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector-wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/wizard.ts
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/virtualization.tsx
  frontend/public/components/nav/admin-nav.tsx
  frontend/public/locales/en/public.json
Due: ci/prow/kubevirt-plugin

Bug 2008312: Add e2e test for Active Health Checks
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/common-operations.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/active-health-checks.spec.ts
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/status-card/status-card.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/HealthItem.tsx
  frontend/packages/console-shared/src/components/status/SecondaryStatus.tsx
Due: ci/prow/ceph-storage-plugin

update action provider actions
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/src/actions/provider.ts
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
Due: ci/prow/kubevirt-plugin

Fix creation for BackingStore, BucketClass and NamespaceStore
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/create-bc.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/create-bs.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/create-namespace-store.tsx
Due: ci/prow/ceph-storage-plugin

Validate exposed modules in shouldEmit hook
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/ConsoleAssetPlugin.ts
Due: none
