Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin

Monitoring: Clean up logic for whether to show Monitoring in nav
  frontend/public/components/nav/admin-nav.tsx
Due: none

Validate before switching to form view
  frontend/packages/console-shared/src/components/formik-fields/SyncedEditorField.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineBuilderForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/validation-utils.ts
Due: none

fix issues in add capacity modal
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.scss
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
Due: ci/prow/ceph-storage-plugin

fix optional workspace checkbox check/uncheck
  frontend/packages/console-shared/src/components/formik-fields/ToggleableFieldBase.tsx
Due: none

reduce bundle size, fix launching quick start via url param
  frontend/package.json
  frontend/packages/console-app/src/components/quick-starts/utils/quick-start-context.tsx
  frontend/packages/console-shared/src/hoc/index.ts
  frontend/packages/console-shared/src/hoc/withQuickStartContext.tsx
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/components/modals/language-preferences-modal.tsx
  frontend/yarn.lock
Due: none

smaller bundle size
  frontend/package.json
Due: none

handle array to string conversion for HTTPS checkbox value
  frontend/packages/dev-console/src/components/health-checks/__tests__/create-health-check-probe-utils.spec.ts
  frontend/packages/dev-console/src/components/health-checks/create-health-checks-probe-utils.ts
Due: none

Add useDynamicPluginInfo hook
  frontend/packages/console-dynamic-plugin-sdk/.gitignore
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/__tests__/plugin-loader.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/__tests__/plugin-manifest.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-init.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-loader.ts
  frontend/packages/console-plugin-sdk/src/__tests__/store.spec.ts
  frontend/packages/console-plugin-sdk/src/api/pluginSubscriptionService.ts
  frontend/packages/console-plugin-sdk/src/api/useDynamicPluginInfo.ts
  frontend/packages/console-plugin-sdk/src/api/useExtensions.ts
  frontend/packages/console-plugin-sdk/src/index.ts
  frontend/packages/console-plugin-sdk/src/store.ts
  frontend/packages/console-shared/src/utils/sample-utils.ts
  frontend/public/actions/features.ts
  frontend/public/components/app-contents.tsx
  frontend/public/components/utils/kebab.tsx
  frontend/public/plugins.ts
  frontend/public/reducers/features.ts
Due: none

Uninstall Operator Modal: integrated with 'list-operands' endpoint, added Operands table, 'delete all' checkbox, and k8kill cmds to delete operands
  frontend/packages/console-shared/src/hooks/promise-handler.ts
  frontend/packages/console-shared/src/hooks/useOperands.ts
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/operand-link.tsx
  frontend/packages/operator-lifecycle-manager/src/style.scss
  frontend/public/components/_resource.scss
  frontend/public/components/utils/resource-link.tsx
Due: none

Bug 1972060: Fix typo in olm message
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Due: none

Add enhancements to GitOpsDetailsPage
  frontend/packages/gitops-plugin/locales/en/gitops-plugin.json
  frontend/packages/gitops-plugin/src/components/GitOpsDetailsPage.tsx
  frontend/packages/gitops-plugin/src/components/GitOpsListPage.tsx
  frontend/packages/gitops-plugin/src/components/details/CommitDetails.scss
  frontend/packages/gitops-plugin/src/components/details/CommitDetails.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsDeploymentSuccessSection.scss
  frontend/packages/gitops-plugin/src/components/details/GitOpsDeploymentSuccessSection.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetails.scss
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetails.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetailsController.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetailsNavBar.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetailsPageHeading.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsResourcesSection.scss
  frontend/packages/gitops-plugin/src/components/details/GitOpsResourcesSection.tsx
  frontend/packages/gitops-plugin/src/components/details/GitOpsServiceDetailsSection.scss
  frontend/packages/gitops-plugin/src/components/details/GitOpsServiceDetailsSection.tsx
  frontend/packages/gitops-plugin/src/components/details/deploymentHistory/GitOpsDeploymentHistory.tsx
  frontend/packages/gitops-plugin/src/components/utils/useEnvDetails.ts
Due: none

Sysprep for advanced editor
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/sysprep/Sysprep.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/sysprep/SysprepFileField.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/sysprep/SysprepHelperPopup.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/sysprep/sysprep-auto-unattended/SysprepAutoUnattended.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/sysprep/sysprep-auto-unattended/SysprepAutoUnattendedHelperPopup.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/sysprep/sysprep-unattended/SysprepUnattended.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/sysprep/sysprep-unattended/SysprepUnattendedHelperPopup.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/sysprep/sysprep.scss
  frontend/packages/kubevirt-plugin/src/redux/actions/sysprep-actions.ts
  frontend/packages/kubevirt-plugin/src/redux/index.ts
  frontend/packages/kubevirt-plugin/src/redux/reducers/sysprep-reducer.ts
  frontend/packages/kubevirt-plugin/src/utils/strings.ts
  frontend/packages/kubevirt-plugin/src/utils/validations/common.ts
Due: ci/prow/kubevirt-plugin

add KindResourcePage dynamic extension
  frontend/packages/console-dynamic-plugin-sdk/src/api/common-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/pages.ts
  frontend/public/components/factory/details.tsx
  frontend/public/components/resource-list.tsx
  frontend/public/module/k8s/k8s.ts
Due: none

Add unit test
  frontend/packages/dev-console/src/utils/__tests__/resource-label-utils-data.ts
  frontend/packages/dev-console/src/utils/__tests__/resource-label-utils.spec.tsx
  frontend/packages/dev-console/src/utils/resource-label-utils.ts
Due: none

feature flag acm
  frontend/packages/console-app/src/features.ts
  frontend/packages/console-app/src/models/index.ts
  frontend/packages/console-app/src/plugin.tsx
  frontend/packages/console-app/src/utils/__tests__/useMCHDetection.spec.ts
  frontend/packages/console-app/src/utils/useMCHDetection.ts
Due: none

Bug 1961391: Textual Updates
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/block-pool-delete.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/block-pool.ts
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/namespace-store-pages/cache-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/delete-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/utils/common.tsx
Due: ci/prow/ceph-storage-plugin

Bug 1975696: compareOwnerReference should not accept a reference
  frontend/packages/console-shared/src/utils/owner-references.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/combined-disk.ts
Due: ci/prow/kubevirt-plugin

updated unit tests
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
Due: none

increase bundle size limit and ignore type import eslint rule
  analyze.sh
  frontend/package.json
  frontend/public/components/modals/language-preferences-modal.tsx
  frontend/yarn.lock
Due: none

lib adds cjs version for testing
  frontend/package.json
  frontend/yarn.lock
Due: none

Add i18n for overview page
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-app/src/plugin.tsx
  frontend/packages/insights-plugin/locales/en/insights-plugin.json
  frontend/packages/insights-plugin/locales/ja/insights-plugin.json
  frontend/packages/insights-plugin/locales/ko/insights-plugin.json
  frontend/packages/insights-plugin/locales/zh/insights-plugin.json
  frontend/packages/insights-plugin/src/components/InsightsPopup/status.ts
  frontend/public/components/notification-drawer.tsx
  frontend/public/i18n.js
  frontend/public/locales/en/notification-drawer.json
  frontend/webpack.config.ts
Due: none

Query Browser: Gracefully handle `string` type query results
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/locales/en/public.json
Due: none

Monitoring dashboards: Custom time range fixes
  frontend/public/components/monitoring/dashboards/custom-time-range-modal.tsx
Due: none

ODC-6065:Fix accessibility issue in quick start page-Buttons must have discernible text
  frontend/packages/console-app/locales/en/quickstart.json
  frontend/packages/console-app/src/components/quick-starts/catalog/QuickStartTileDescription.tsx
Due: none

Fix typo in const pedingPhases
  frontend/packages/operator-lifecycle-manager/src/status/csv-status.ts
Due: none

update i18n files
  frontend/package.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/locales/en/quickstart.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ja/quickstart.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/ko/quickstart.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-app/locales/zh/quickstart.json
  frontend/packages/console-app/src/components/quick-starts/QuickStartCatalogPage.tsx
  frontend/yarn.lock
Due: none

fix(proxy): use write mutex to protect frontend WebSocket
  pkg/proxy/proxy.go
Due: none

Cypress operator uninstall tests
  frontend/packages/integration-tests-cypress/support/project.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-uninstall.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/views/operator.ts
Due: none

Bug 1976582: Supported Storage message link directs to Import from VMware
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/storage-tab.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
Due: ci/prow/kubevirt-plugin

Fix serial console bug
  frontend/packages/kubevirt-plugin/src/components/vms/vm-console/connectors/SerialConsoleConnector.tsx
Due: ci/prow/kubevirt-plugin

Wrap page content and horizontal nav tab content in React.Suspense
  frontend/public/components/app-contents.tsx
  frontend/public/components/utils/horizontal-nav.tsx
Due: none

convert kubevirt topology extensions to dynamic
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/package.json
  frontend/packages/kubevirt-plugin/src/plugin.tsx
  frontend/packages/kubevirt-plugin/src/topology/topology-plugin.ts
  frontend/packages/topology/src/data-transforms/DataModelProvider.tsx
  frontend/public/module/k8s/k8s-models.ts
Due: ci/prow/kubevirt-plugin

Fix a11y warnings in External mode
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/external-mode/fileUpload.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/external-mode/install.tsx
Due: ci/prow/ceph-storage-plugin

tablecolumnclass update PR 4
  frontend/public/components/RBAC/bindings.jsx
  frontend/public/components/job.tsx
  frontend/public/components/limit-range.tsx
  frontend/public/components/machine-autoscaler.tsx
  frontend/public/components/machine-config-pool.tsx
  frontend/public/components/machine-config.tsx
  frontend/public/components/machine-health-check.tsx
  frontend/public/components/machine-set.tsx
  frontend/public/components/monitoring/alert-manager-config.tsx
  frontend/public/components/network-policy.tsx
  frontend/public/components/persistent-volume.jsx
  frontend/public/components/prometheus.jsx
  frontend/public/components/replication-controller.jsx
  frontend/public/components/resource-quota.jsx
  frontend/public/components/secret.jsx
  frontend/public/components/service-account.jsx
  frontend/public/components/service-monitor.jsx
  frontend/public/components/service.jsx
  frontend/public/components/storage-class.tsx
  frontend/public/components/template-instance.tsx
  frontend/public/components/user.tsx
  frontend/public/components/utils/webhooks.tsx
Due: none
