Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Don't show error message when all add actions are disabled
  frontend/packages/dev-console/src/components/add/AddPageLayout.tsx
  frontend/packages/dev-console/src/utils/useAddActionExtensions.ts
Due: none

Fix 1979620: Parent descriptors don't overwrite children
  frontend/packages/operator-lifecycle-manager/src/components/operand/utils.ts
Due: none

add broker support in knative plugin
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/utils/add-resources-menu-utils.ts
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/actions/add-broker.tsx
  frontend/packages/knative-plugin/src/components/add/EventSource.tsx
  frontend/packages/knative-plugin/src/components/add/EventingBrokerPage.tsx
  frontend/packages/knative-plugin/src/components/add/brokers/AddBroker.tsx
  frontend/packages/knative-plugin/src/components/add/brokers/AddBrokerForm.tsx
  frontend/packages/knative-plugin/src/components/add/brokers/__tests__/add-broker-utils.spec.ts
  frontend/packages/knative-plugin/src/components/add/brokers/add-broker-utils.ts
  frontend/packages/knative-plugin/src/components/add/brokers/broker-validation-utils.ts
  frontend/packages/knative-plugin/src/components/add/const.ts
  frontend/packages/knative-plugin/src/components/add/import-types.ts
  frontend/packages/knative-plugin/src/plugin.tsx
  frontend/packages/knative-plugin/src/topology/create-connector-utils.ts
  frontend/packages/topology/src/actions/__tests__/graphActions.spec.tsx
  frontend/packages/topology/src/actions/__tests__/groupActions.spec.tsx
Due: none

add access review checks to serverless add page cards
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/src/components/add/brokers/AddBroker.tsx
  frontend/packages/knative-plugin/src/components/add/brokers/__tests__/add-broker-utils.spec.ts
  frontend/packages/knative-plugin/src/components/eventing/EventingListPage.tsx
Due: none

Add cypress tests for name/value secrets with binary, ascii, and unicode values
  frontend/package.json
  frontend/packages/integration-tests-cypress/fixtures/asciisecret.txt
  frontend/packages/integration-tests-cypress/fixtures/binarysecret.bin
  frontend/packages/integration-tests-cypress/fixtures/unicodesecret.utf8
  frontend/packages/integration-tests-cypress/tests/crud/secrets.spec.ts
  frontend/packages/integration-tests-cypress/views/form.ts
  frontend/packages/integration-tests-cypress/views/secret.ts
  frontend/public/components/secrets/create-secret.tsx
  frontend/public/components/utils/file-input.tsx
  frontend/tsconfig.json
  frontend/yarn.lock
Due: none

Swapped coma for semi-colon in error strings
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/__tests__/validation-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/validation-utils.ts
Due: none

Fix 1970011: Fix edge case for "managed by" links
  frontend/public/components/utils/managed-by.tsx
  frontend/public/module/k8s/managed-by.ts
Due: none

Bug 1978403: Fix bracket regression
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
Due: none

Removes Pipeline Graph aligment setting
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/const.ts
Due: none

ODC-5577:Topology chart view automation
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/createGitWorkload.ts
  frontend/packages/topology/integration-tests/features/topology/topology-chart-area-visual.feature
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/chart-view.ts
  frontend/packages/topology/src/components/graph-view/components/nodes/BaseNode.tsx
  frontend/packages/topology/src/components/page/TopologyEmptyState.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchBar.tsx
  frontend/packages/topology/src/components/svg/SvgResourceIcon.tsx
  frontend/packages/topology/src/filters/KindFilterDropdown.tsx
  frontend/packages/topology/src/filters/TopologyFilterBar.tsx
Due: none

Fix NaN warning issue in request input size component
  frontend/public/components/utils/request-size-input.tsx
Due: none

Remove kube admin notifier for kubeadmin crc user
  frontend/packages/console-shared/src/constants/common.ts
Due: none

Monitoring dashboards: Add text filter to variable dropdowns
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboard.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/__tests__/MonitoringDashboard.spec.tsx
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/timespan-dropdown.tsx
  frontend/public/locales/en/public.json
Due: none

Override dynamic plugin sdk module in runtime
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-pkg-assets.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/api-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/libIndex.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-init.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules.ts
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/ConsoleRemotePlugin.ts
  frontend/packages/console-dynamic-plugin-sdk/tsconfig.json
  frontend/public/components/utils/k8s-watch-hook.ts
Due: none

handle admin side broker creation
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/components/add/EventingBrokerPage.tsx
  frontend/packages/knative-plugin/src/components/add/brokers/AddBrokerForm.tsx
Due: none

Convert list page to ts
  frontend/packages/container-security/src/components/ImageVulnerabilitiesList.tsx
  frontend/packages/helm-plugin/src/utils/helm-utils.ts
  frontend/packages/operator-lifecycle-manager/src/components/catalog-source.tsx
  frontend/public/locales/en/list-page.json
  frontend/public/locales/en/public.json
Due: none

Convert Table to React.FC
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/backingstore-table.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/namespace-store-table.tsx
  frontend/packages/container-security/src/components/__tests__/ImageVulnerabilitiesTable.spec.tsx
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlerts.tsx
  frontend/packages/helm-plugin/src/components/details-page/resources/__tests__/HelmResourcesList.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/install-plan.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/packages/operator-lifecycle-manager/src/components/package-manifest.tsx
  frontend/public/components/default-resource.tsx
  frontend/public/components/factory/table-data-hook.ts
  frontend/public/components/factory/table.tsx
Due: ci/prow/ceph-storage-plugin

Bug 1904155: Make utilization chart domain match duration
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-external/utilization-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/utilization-card.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/UtilizationCard.tsx
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/dashboard/duration-hook.ts
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationBody.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationDurationDropdown.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationItem.tsx
  frontend/packages/console-shared/src/constants/duration.ts
  frontend/packages/console-shared/src/constants/index.ts
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/useUtilizationDuration.ts
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-utilization.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/UtilizationCard.tsx
  frontend/public/actions/ui.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/utilization-card.tsx
  frontend/public/components/dashboard/project-dashboard/utilization-card.tsx
  frontend/public/reducers/ui.ts
Due: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

convert tfunction to Trans function
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/clusterserviceversion.tsx
Due: none

New ListPage components
  frontend/packages/console-shared/src/hooks/useK8sModel.ts
  frontend/packages/console-shared/src/hooks/useNamespace.ts
  frontend/packages/container-security/src/components/ImageVulnerabilitiesList.tsx
  frontend/packages/helm-plugin/src/utils/helm-utils.ts
  frontend/public/actions/k8s.ts
  frontend/public/components/RBAC/bindings.jsx
  frontend/public/components/cron-job.tsx
  frontend/public/components/factory/ListPage/ListPageBody.tsx
  frontend/public/components/factory/ListPage/ListPageCreate.tsx
  frontend/public/components/factory/ListPage/ListPageFilter.tsx
  frontend/public/components/factory/ListPage/ListPageHeader.tsx
  frontend/public/components/factory/ListPage/filter-hook.ts
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/factory/table.tsx
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/group.tsx
  frontend/public/components/machine.tsx
  frontend/public/components/pod.tsx
  frontend/public/components/user.tsx
  frontend/public/locales/en/bindings.json
  frontend/public/locales/en/machines.json
  frontend/public/locales/en/public.json
Due: none

Add RBAC check on view shortcuts actions
  frontend/packages/topology/src/__tests__/TopologyShortcuts.spec.tsx
  frontend/packages/topology/src/components/graph-view/TopologyShortcuts.tsx
  frontend/packages/topology/src/components/page/TopologyPageToolbar.tsx
Due: none

[WIP] testing Cypress Dashboard integration
  frontend/packages/integration-tests-cypress/cypress.json
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/cypress-olm.json
  test-prow-e2e.sh
Due: none

Deploy versioned HCO for prow
  frontend/packages/kubevirt-plugin/integration-tests/deploy-kubevirt-gating.sh
Due: ci/prow/kubevirt-plugin

quickstart locale keys for parser
  frontend/packages/console-app/src/components/quick-starts/utils/quick-start-context.tsx
Due: none

update
  frontend/packages/console-app/locales/en/console-app.json
Due: none

remove duplicate tests
  frontend/packages/kubevirt-plugin/package.json
Due: ci/prow/kubevirt-plugin

fix ODC-6091
  frontend/package.json
  frontend/yarn.lock
Due: none

disable failed test
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/custom-template-support.spec.ts
Due: ci/prow/kubevirt-plugin

Add an option to choose to use template size pvc or not
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
Due: ci/prow/kubevirt-plugin

Add create resource extension
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/create-operand.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/create-resource.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/operand-yaml.tsx
  frontend/packages/operator-lifecycle-manager/src/plugin.tsx
  frontend/public/components/app-contents.tsx
  frontend/public/components/create-resource.tsx
Due: none

ODC-5984:Unique URL to a QuickStart
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick-start-devperspective.feature
Due: none

Bug 1977037: VNC console stays in Connecting state
  frontend/packages/kubevirt-plugin/src/models/kubevirtReferenceForModel.ts
  frontend/packages/kubevirt-plugin/src/selectors/vmi/selectors.ts
Due: ci/prow/kubevirt-plugin

Rename monitoring tab to Observe
  frontend/packages/console-app/src/components/quick-starts/data/mocks/json/monitor-sampleapp-quickstart.ts
  frontend/packages/console-app/src/components/quick-starts/data/mocks/yamls/monitor-sampleapp-quickstart.yaml
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/constants/staticText/topology-text.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/monitoring.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/monitoring/dashboard-display.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/monitoring/topology-sidebar-actions.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/guided-tour/index.ts
  frontend/packages/dev-console/src/components/monitoring/MonitoringPage.tsx
  frontend/packages/dev-console/src/components/monitoring/__tests__/MonitoringPage.spec.tsx
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/integration-tests-cypress/tests/monitoring/monitoring.spec.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/MonitoringAlertsDecorator.tsx
  frontend/packages/topology/src/components/list-view/TopologyListViewNode.tsx
  frontend/public/components/nav/admin-nav.tsx
  frontend/public/components/nav/section.tsx
  frontend/public/locales/en/public.json
Due: none

Show the Active Health Checks on OCS Dashboard
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/status-card/status-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/status-card/utils.ts
  frontend/packages/console-plugin-sdk/src/typings/dashboards.ts
  frontend/packages/console-shared/src/components/dashboard/status-card/HealthItem.tsx
Due: ci/prow/ceph-storage-plugin

Bug 1979571: end shell process when exiting the terminal
  frontend/public/components/pod-exec.jsx
Due: none

Don't override template api in cusomtization wizard and demo yaml
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/vm-template-wrapper.ts
Due: ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
