Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

fix terminal new tab redirect
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTab.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/CloudShellTab.spec.tsx
Due: none

Add max height to resource and filter drop downs
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/resource-dropdown.tsx
Due: none

PR 9051 review: Replace "RAW" by "Raw" in "Raw Capacity" card.
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/raw-capacity-card/raw-capacity-card.tsx
Due: ci/prow/ceph-storage-plugin

Fix git type dropdown reset issue
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
Due: none

Removing library charts from the merged helm repo index entries.
  pkg/helm/chartproxy/proxy.go
  pkg/helm/chartproxy/proxy_test.go
  pkg/helm/chartproxy/testdata/mergedRepoLibrary.yaml
  pkg/helm/chartproxy/testdata/sampleRepoLibrary.yaml
Due: none

Bug 1964756: PVC status is always in Bound status when it is actually cloning
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/package.json
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/consts.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/vm-settings-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/os.tsx
  frontend/packages/kubevirt-plugin/src/components/pvc-status/clone-pvc-status.tsx
  frontend/packages/kubevirt-plugin/src/selectors/pvc/selectors.ts
Due: ci/prow/kubevirt-plugin

Update i18n keys
  frontend/packages/insights-plugin/locales/en/insights-plugin.json
  frontend/packages/insights-plugin/src/components/AdvisorChart/index.tsx
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
Due: none

Rename Insights to Insights Advisor
  frontend/packages/insights-plugin/locales/en/insights-plugin.json
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
  frontend/packages/insights-plugin/src/plugin.tsx
Due: none

loading indicator for add page
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/add/AddCardItem.tsx
  frontend/packages/dev-console/src/components/add/AddCardSection.tsx
  frontend/packages/dev-console/src/components/add/AddCardSectionEmptyState.tsx
  frontend/packages/dev-console/src/components/add/AddCardSectionSkeleton.scss
  frontend/packages/dev-console/src/components/add/AddCardSectionSkeleton.tsx
  frontend/packages/dev-console/src/components/add/AddPageLayout.scss
  frontend/packages/dev-console/src/components/add/AddPageLayout.tsx
  frontend/packages/dev-console/src/components/add/__tests__/AddCardItem.spec.tsx
  frontend/packages/dev-console/src/components/add/__tests__/AddCardSection.spec.tsx
  frontend/packages/dev-console/src/components/add/__tests__/AddCardSectionEmptyState.spec.tsx
  frontend/packages/dev-console/src/components/add/__tests__/AddPage.spec.tsx
  frontend/packages/dev-console/src/components/add/__tests__/AddPageLayout.spec.tsx
  frontend/packages/dev-console/src/components/add/__tests__/MasonryLayout.spec.tsx
  frontend/packages/dev-console/src/components/add/hooks/__tests__/useAccessFilterExtensions.spec.ts
  frontend/packages/dev-console/src/components/add/hooks/__tests__/useAddActionsAccessReviews.spec.ts
  frontend/packages/dev-console/src/components/add/hooks/__tests__/useShowAddCardItemDetails.spec.ts
  frontend/packages/dev-console/src/components/add/hooks/useAccessFilterExtensions.ts
  frontend/packages/dev-console/src/components/add/hooks/useAddActionsAccessReviews.ts
  frontend/packages/dev-console/src/components/add/hooks/useShowAddCardItemDetails.ts
  frontend/packages/dev-console/src/components/add/layout/MasonryLayout.scss
  frontend/packages/dev-console/src/components/add/layout/MasonryLayout.tsx
  frontend/packages/dev-console/src/hooks/useAddActionsAccessReviews.ts
Due: none

Add popover help for name field
  frontend/public/components/modals/create-namespace-modal.jsx
  frontend/public/locales/en/public.json
Due: none

Update i18n keys
  frontend/packages/insights-plugin/locales/en/insights-plugin.json
  frontend/packages/insights-plugin/src/components/AdvisorChart/index.tsx
Due: none

Fix keyboard scroll issue of namespaced pages
  frontend/packages/dev-console/src/components/NamespacedPage.scss
Due: none

github templates
  frontend/packages/dev-console/integration-tests/.github/PULL_REQUEST_TEMPLATE/qe-automation-pr.md
  frontend/packages/dev-console/integration-tests/features/.github/PULL_REQUEST_TEMPLATE/qe-pr.md
Due: none

Configuring gherkin-lintrc file
  frontend/package.json
  frontend/packages/dev-console/integration-tests/.gherkin-lintrc
Due: none

Remove monitoring labelling step for 4.7 tests
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/support/index.ts
Due: ci/prow/ceph-storage-plugin

Disable snapshot save button when save isn't possible
  frontend/packages/kubevirt-plugin/integration-tests/deploy-kubevirt-gating.sh
  frontend/packages/kubevirt-plugin/integration-tests/tests/mocks/mocks.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/utils/constants/common.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.snapshots.scenario.ts
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/NoSupportedVolumesSnapshotAlert.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/SnapshotsModal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/SupportedSnapshotVolumesList.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/UnsupportedVolumesSnapshotAlert.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/VmRunningSnapshotAlert.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/snapshot-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/snapshots-modal.scss
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshots.tsx
Due: ci/prow/kubevirt-plugin

Service Mesh Scenarios
  frontend/packages/dev-console/integration-tests/features/service-mesh/service-mesh-console-links-admin.feature
  frontend/packages/dev-console/integration-tests/features/service-mesh/service-mesh-console-links-nonadmin.feature
  frontend/packages/dev-console/integration-tests/features/serviceMesh/add-Namespace-ToServiceMesh-Admin.feature
  frontend/packages/dev-console/integration-tests/features/serviceMesh/add-Namespace-ToServiceMesh-Nonadmin.feature
Due: none

Fix Pipeline Parameters in Modals accept empty string defaults
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PipelineParameterSection.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PipelineSecretSection.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/__tests__/utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/validation-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/start-pipeline/StartPipelineForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/AddTriggerForm.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/__tests__/utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/TaskSidebarParam.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/validation-utils.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/common.spec.ts
  frontend/packages/pipelines-plugin/src/utils/common.ts
Due: none

Missing parens in the Last deployment column (#5899)
  frontend/packages/gitops-plugin/src/components/list/GitOpsTableRow.tsx
Due: none

Bug 1957756 - Device Replacemet UI, The status of the disk is "replacement ready" before I clicked on "start replacement"
  frontend/packages/ceph-storage-plugin/src/components/attached-devices-mode/lso-disk-inventory/disk-replacement-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/attached-devices-mode/lso-disk-inventory/ocs-disks-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/attached-devices-mode/lso-disk-inventory/ocs-kebab-options.tsx
  frontend/packages/console-dynamic-plugin-sdk/schema/console-extensions.js
  frontend/packages/console-dynamic-plugin-sdk/schema/console-extensions.json
  frontend/packages/console-dynamic-plugin-sdk/schema/plugin-manifest.js
  frontend/packages/console-dynamic-plugin-sdk/schema/plugin-manifest.json
  frontend/packages/console-dynamic-plugin-sdk/schema/plugin-package.js
  frontend/packages/console-dynamic-plugin-sdk/schema/plugin-package.json
Due: ci/prow/ceph-storage-plugin

Bug 1957756: Fix key value in replacement object
  frontend/packages/ceph-storage-plugin/src/components/attached-devices-mode/lso-disk-inventory/disk-replacement-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/attached-devices-mode/lso-disk-inventory/ocs-disks-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/attached-devices-mode/lso-disk-inventory/ocs-kebab-options.tsx
  frontend/packages/ceph-storage-plugin/src/components/attached-devices-mode/lso-disk-inventory/ocs-status-column.tsx
  frontend/packages/ceph-storage-plugin/src/components/attached-devices-mode/lso-disk-inventory/state-reducer.ts
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
Due: ci/prow/ceph-storage-plugin

Support code references at any level within extension's properties
  frontend/@types/console/index.d.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/useResolvedExtensions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/__tests__/coderef-resolver.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/coderef-resolver.ts
  frontend/packages/console-dynamic-plugin-sdk/src/types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/__tests__/object.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/__tests__/url.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/object.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/promise.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/store.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/url.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/ExtensionValidator.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/SchemaValidator.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/__tests__/ExtensionValidator.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/tsconfig.json
  frontend/packages/console-plugin-sdk/src/__tests__/store.spec.ts
  frontend/packages/console-plugin-sdk/src/api/useExtensions.ts
  frontend/packages/console-shared/src/hooks/useTelemetry.ts
Due: none

Add owners to web terminal features folder
  frontend/packages/dev-console/integration-tests/features/web-terminal/OWNERS
Due: none

show helptext for workspaces in start pipeline form
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PipelineWorkspacesSection.tsx
Due: none

Move Storage Class Provisioner from Static to Dynamic Extensions
  frontend/__tests__/components/storage-class-form.spec.tsx
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/package.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-thick-provisioner.tsx
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/ceph-storage-plugin/src/utils/ocs-storage-class-params.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/storage-class-provisioner.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/packages/console-plugin-sdk/src/typings/index.ts
  frontend/packages/console-plugin-sdk/src/typings/storage-class-params.ts
  frontend/public/components/storage-class-form.tsx
Due: ci/prow/ceph-storage-plugin

Update OWNERS for Insights plugin
  frontend/packages/insights-plugin/OWNERS
Due: none

Increase timeout for deployment created
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/mocks/deploymentData.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/obc-test.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/obcPage.ts
Due: ci/prow/ceph-storage-plugin

Bug 1957756: Missing already replaced condition in disk modal
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/attached-devices-mode/lso-disk-inventory/disk-replacement-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/attached-devices-mode/lso-disk-inventory/ocs-disks-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/attached-devices-mode/lso-disk-inventory/ocs-kebab-options.tsx
  frontend/packages/ceph-storage-plugin/src/components/attached-devices-mode/lso-disk-inventory/ocs-status-column.tsx
  frontend/packages/ceph-storage-plugin/src/components/attached-devices-mode/lso-disk-inventory/state-reducer.ts
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
  frontend/packages/console-dynamic-plugin-sdk/schema/console-extensions.js
  frontend/packages/console-dynamic-plugin-sdk/schema/console-extensions.json
  frontend/packages/console-dynamic-plugin-sdk/schema/plugin-manifest.js
  frontend/packages/console-dynamic-plugin-sdk/schema/plugin-manifest.json
  frontend/packages/console-dynamic-plugin-sdk/schema/plugin-package.js
  frontend/packages/console-dynamic-plugin-sdk/schema/plugin-package.json
Due: ci/prow/ceph-storage-plugin

Add and update data-test for new add page
  frontend/packages/console-shared/src/components/getting-started/GettingStartedCard.tsx
  frontend/packages/console-shared/src/components/getting-started/GettingStartedGrid.tsx
  frontend/packages/console-shared/src/components/getting-started/QuickStartGettingStartedCard.tsx
  frontend/packages/console-shared/src/components/getting-started/RestoreGettingStartedButton.tsx
  frontend/packages/console-shared/src/components/getting-started/__tests__/GettingStartedCard.spec.tsx
  frontend/packages/console-shared/src/components/getting-started/__tests__/QuickStartGettingStartedCard.spec.tsx
  frontend/packages/dev-console/integration-tests/features/healthChecks/add-health-checks-git-form.feature
  frontend/packages/dev-console/integration-tests/features/healthChecks/add-health-checks-topology-sidebar.feature
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/src/components/add/AddCard.tsx
  frontend/packages/dev-console/src/components/add/AddCardItem.scss
  frontend/packages/dev-console/src/components/add/AddCardItem.tsx
  frontend/packages/dev-console/src/components/add/AddCardSection.tsx
  frontend/packages/dev-console/src/components/add/AddPageLayout.tsx
  frontend/packages/dev-console/src/components/add/DeveloperFeaturesGettingStartedCard.tsx
  frontend/packages/dev-console/src/components/add/SampleGettingStartedCard.tsx
  frontend/packages/dev-console/src/components/add/__tests__/AddCard.spec.tsx
  frontend/packages/dev-console/src/components/add/__tests__/DeveloperFeaturesGettingStartedCard.spec.tsx
  frontend/packages/dev-console/src/components/add/__tests__/SampleGettingStartedCard.spec.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/cluster-setup-alert-receiver-link.spec.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/cluster-setup-getting-started-card.spec.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/cluster-setup-identity-provider-link.spec.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/explore-admin-features-getting-started-card.spec.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/cluster-setup-alert-receiver-link.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/cluster-setup-getting-started-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/cluster-setup-identity-provider-link.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/explore-admin-features-getting-started-card.tsx
Due: none

Bug 1966401: Revamp Ceph Table in Install Wizard flow
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/node-list.tsx
Due: ci/prow/ceph-storage-plugin

craft git url according to git provider
  frontend/package.json
  frontend/packages/dev-console/src/components/topology/data-transforms/__tests__/data-transformer.spec.ts
  frontend/packages/dev-console/src/components/topology/topology-utils.ts
  frontend/packages/dev-console/src/utils/__tests__/__snapshots__/shared-submit-utils.spec.ts.snap
  frontend/packages/dev-console/src/utils/resource-label-utils.ts
  frontend/yarn.lock
Due: none

Bug 1962429: Images are now saved globaly and can be accessed everywhere
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/selectors/selectors.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm/create-vm.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/dev-console/dev-console-create-vm-form.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/wintools.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-v2v-config-map.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/simple-create.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vmtemplate/customize.ts
  frontend/packages/kubevirt-plugin/src/redux/actions/v2v-config-map-actions.ts
  frontend/packages/kubevirt-plugin/src/redux/index.ts
  frontend/packages/kubevirt-plugin/src/redux/reducers/v2v-config-map-reducer.ts
Due: ci/prow/kubevirt-plugin

updates kafka source gherkin script
  frontend/packages/knative-plugin/integration-tests/features/kafka-event-source/eventing-kafka-event-source.feature
Due: none

CNV-6685-UI: Add preallocation option to advanced VM disk parameters
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/storage-ui-source.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/data-volume-wrapper.ts
  frontend/packages/kubevirt-plugin/src/selectors/dv/selectors.ts
  frontend/packages/kubevirt-plugin/src/types/api/V1alpha1DataVolumeSpec.ts
  frontend/packages/kubevirt-plugin/src/utils/strings.ts
Due: ci/prow/kubevirt-plugin

Block pool creation testing - cypress
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/block-pool-create.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/multiple-pool.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/block-pool.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/multiple-pool.ts
  frontend/packages/ceph-storage-plugin/src/components/block-pool/body.tsx
  frontend/packages/ceph-storage-plugin/src/components/block-pool/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/modal-footer.tsx
Due: ci/prow/ceph-storage-plugin

Bug 1966487: Update IP address on pods list to show podIP other than hostIP
  frontend/public/components/pod.tsx
Due: none

Fix traffic splitting modal crashing UI with no revision loaded
  frontend/packages/knative-plugin/src/utils/traffic-splitting-utils.ts
Due: none

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
