Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin

Bug 1824911: Fix RBAC check when creating a resource
  frontend/public/components/edit-yaml.jsx
Due: none

fix pipeline metrics endpoint for 1.4 osp
  frontend/packages/pipelines-plugin/src/components/pipelines/PipelineDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/__tests__/pipelineDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/PipelineRuns.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/__tests__/PipelineRuns.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineDetails.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/hooks.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetrics.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunCount.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunDurationGraph.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineRunTaskRunGraph.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineSuccessRatioDonut.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineMetrics.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineRunCount.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineRunDuration.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineRunTaskRunGraph.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/__tests__/PipelineSuccessRatioDonut.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/pipeline-metrics-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/__tests__/pipeline-operator.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/pipeline-operator.ts
Due: none

Bug 1933857: Follow on fix to ensure operand details page 404s when no model is found
  frontend/packages/console-shared/src/hooks/useK8sModel.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/public/components/utils/details-item.tsx
  frontend/public/components/utils/rbac.tsx
  frontend/public/module/k8s/swagger.ts
Due: none

fix warning alert while putting node in maintenance mode
  frontend/packages/metal3-plugin/src/components/modals/StartNodeMaintenanceModal.tsx
Due: none

Add namespaced attribute to main navigation links
  frontend/packages/console-plugin-sdk/src/typings/nav-items.ts
  frontend/packages/console-shared/src/utils/namespace.ts
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/helm-plugin/src/plugin.ts
  frontend/packages/knative-plugin/src/plugin.tsx
  frontend/packages/pipelines-plugin/src/plugin.tsx
  frontend/public/components/nav/admin-nav.tsx
  frontend/public/components/nav/items.tsx
  frontend/public/components/nav/perspective-nav.tsx
Due: none

Update the scope in GitOpsServiceModel
  frontend/packages/gitops-plugin/src/models/gitops.ts
Due: none

Gherkin:Add workspaces support for pipelines-ODC-3991
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipeline-task-runs-display.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-runs.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-workspaces.feature
Due: none

added OWNERS file to frontend/packages/integration-tests-cypress
  frontend/packages/integration-tests-cypress/OWNERS
Due: none

Thick-provisioned for Ceph RBD
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-thick-provisioner.tsx
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/utils/ocs-storage-class-params.tsx
  frontend/public/components/storage-class-form.tsx
Due: ci/prow/ceph-storage-plugin

[feat] 액세스 권합 탭, 팝업 - 기획, 수정된 API에 맞춰 수정
  frontend/public/components/hypercloud/members.tsx
  frontend/public/components/hypercloud/modals/invite-member-modal.tsx
  frontend/public/components/hypercloud/modals/modify-member-modal.tsx
  frontend/public/components/hypercloud/modals/remove-member-modal.tsx
Due: none

Implement Add Capacity Modal using PF
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.scss
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
Due: ci/prow/ceph-storage-plugin

[feat] ADD a flag for KeycloakUseHiddenIframe
  cmd/bridge/main.go
  pkg/server/server.go
Due: none

[feat] ADD script for getting resource-schema json
  build-backend.sh
Due: none

[feat][fix] REMOVE --wath, --progress flag
  frontend/package.json
Due: none

[feat] 액세스 권한 디자인 적용
  frontend/public/components/hypercloud/_members.scss
  frontend/public/components/hypercloud/members.tsx
  frontend/public/components/hypercloud/modals/invite-member-modal.tsx
  frontend/public/components/hypercloud/modals/modify-member-modal.tsx
Due: none

Improve fetching LSO status during cluster installation
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install.tsx
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
  frontend/packages/ceph-storage-plugin/src/selectors/index.ts
Due: ci/prow/ceph-storage-plugin

fixes i18n miss in PeojectAccess
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/project-access/ProjectAccess.tsx
  frontend/packages/dev-console/src/components/project-access/__tests__/ProjectAccess.spec.tsx
Due: none

adds topology actions to upload a jar file
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/actions/add-resources.tsx
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/dev-console/src/components/import/jar/UploadJar.tsx
  frontend/packages/dev-console/src/components/import/jar/UploadJarPage.tsx
  frontend/packages/dev-console/src/components/import/jar/__tests__/UploadJar.spec.tsx
  frontend/packages/dev-console/src/utils/__tests__/add-resources-menu-utils.spec.tsx
  frontend/packages/dev-console/src/utils/add-resources-menu-utils.ts
  frontend/packages/topology/src/actions/__tests__/graphActions.spec.tsx
  frontend/packages/topology/src/actions/__tests__/groupActions.spec.tsx
Due: none

Adds UI support for creating namespacestore resources
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/create-bs-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/create-bs-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/create-bs.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/create-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/namespace-store-form.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/noobaa-provider-endpoints/gcp-endpoint-type.tsx
  frontend/packages/ceph-storage-plugin/src/components/noobaa-provider-endpoints/noobaa-provider-endpoints.scss
  frontend/packages/ceph-storage-plugin/src/components/noobaa-provider-endpoints/pvc-endpoint-type.tsx
  frontend/packages/ceph-storage-plugin/src/components/noobaa-provider-endpoints/s3-endpoint-type.tsx
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
  frontend/packages/ceph-storage-plugin/src/constants/providers.ts
  frontend/packages/ceph-storage-plugin/src/models.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
  frontend/packages/ceph-storage-plugin/src/utils/noobaa-utils.ts
Due: ci/prow/ceph-storage-plugin

Removed prefix check
  frontend/packages/kubevirt-plugin/src/selectors/pod/selectors.ts
Due: ci/prow/kubevirt-plugin

Fix Add HorizontalPodAutoscaler page layout
  frontend/packages/dev-console/src/components/hpa/HPAForm.tsx
  frontend/packages/dev-console/src/components/hpa/HPAPage.tsx
  frontend/packages/dev-console/src/components/hpa/HPAPageHeader.tsx
Due: none

fix backwards incompatible trigger api changes
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/__tests__/submit-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/resource-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/submit-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/resource-types/triggers.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/__tests__/pipeline-operator.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/triggers.ts
  frontend/packages/pipelines-plugin/src/models/pipelines.ts
  frontend/packages/pipelines-plugin/src/test-data/trigger-data.ts
Due: none

Bug 1924641: Remove error message for "missing storage class"
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install.tsx
Due: ci/prow/ceph-storage-plugin

Fixes CSI provisioner params
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.scss
  frontend/public/components/storage-class-form.tsx
Due: ci/prow/ceph-storage-plugin

Monitoring: Add warning to list pages when silences cannot be loaded
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/locales/en/public.json
Due: none

Pool management list and creation
  frontend/packages/ceph-storage-plugin/README.md
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/multiple-pool.ts
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/block-pool/body.scss
  frontend/packages/ceph-storage-plugin/src/components/block-pool/body.tsx
  frontend/packages/ceph-storage-plugin/src/components/block-pool/create-block-pool.scss
  frontend/packages/ceph-storage-plugin/src/components/block-pool/create-block-pool.tsx
  frontend/packages/ceph-storage-plugin/src/components/block-pool/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-kms-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/create-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/storage-pool-modal/storage-pool-modal.scss
  frontend/packages/ceph-storage-plugin/src/components/modals/storage-pool-modal/storage-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/models.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/ceph-storage-plugin/src/utils/block-pool.tsx
  frontend/packages/ceph-storage-plugin/src/utils/kms-encryption.ts
  frontend/packages/ceph-storage-plugin/src/utils/storage-pool.tsx
Due: ci/prow/ceph-storage-plugin

Expose plugin API via window
  frontend/@types/console/index.d.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-api.ts
  frontend/public/plugins.ts
Due: none

Bug 1942843: Modified description for storage class encryption - 4.7 Backport
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/configure.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
Due: ci/prow/ceph-storage-plugin

Bug 1942395: Display Failed status for DeploymentConfig
  frontend/public/components/deployment-config.tsx
Due: none

[refactor] GNB 언어변경 드롭다운 복구
  frontend/public/components/masthead-toolbar.jsx
Due: none

quick search modal close on starting quickstart
  frontend/packages/topology/src/components/quick-search/QuickSearchContent.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchDetails.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchList.tsx
  frontend/packages/topology/src/components/quick-search/QuickSearchModalBody.tsx
  frontend/packages/topology/src/components/quick-search/utils/quick-search-utils.tsx
Due: none

support service binding operator version 0.5.0
  frontend/packages/dev-console/src/models/service-binding.ts
Due: none

Rework terminal to check if the operator is installed before showing the terminal button
  pkg/terminal/operator.go
  pkg/terminal/proxy.go
Due: none

Bug 1942694: decodeURIComponent for name in <title> so special chars display correctly
  frontend/public/components/resource-list.tsx
Due: none

Bug 1766287: Use httpd in workload YAML templates
  frontend/integration-tests/tests/crd-extensions.scenario.ts
  frontend/integration-tests/tests/environment.scenario.ts
  frontend/integration-tests/tests/event.scenario.ts
  frontend/integration-tests/tests/filter.scenario.ts
  frontend/integration-tests/tests/secrets.scenario.ts
  frontend/public/models/yaml-templates.ts
Due: none

Added thick-provision feature flag in Readme
  frontend/packages/ceph-storage-plugin/README.md
Due: ci/prow/ceph-storage-plugin

Bug 1939019: Add 'Roll Back' action for Replication Controllers
  frontend/packages/console-shared/src/utils/resource-utils.ts
  frontend/public/components/modals/index.ts
  frontend/public/components/modals/rollback-modal.jsx
  frontend/public/components/replicaset.jsx
  frontend/public/locales/en/modal.json
  frontend/public/locales/en/public.json
Due: none

Fix for topology sub context menus placement
  frontend/package.json
  frontend/yarn.lock
Due: none
