Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin

create template from wizard
  frontend/packages/kubevirt-plugin/integration-tests-cypress/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/create-template-from-wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/selector-wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/wizard.ts
Due: ci/prow/kubevirt-plugin

remove kubevirt dependants #1
  frontend/packages/kubevirt-plugin/integration-tests/tests/a-with-non-admin.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/kubevirtUIResource.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/rhvImportWizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/virtualMachine.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/vmwareImportWizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/models/wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.resources.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.dashboard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.tab.yaml.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.wizard.validation.scenario.ts
  frontend/packages/kubevirt-plugin/integration-tests/v2v/rhv/v2v.rhv.import.incorrect.names.negative.scenario.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/sysprep/utils/sysprep-utils.ts
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/status/GuestAgentStatusHealth.tsx
  frontend/packages/kubevirt-plugin/src/components/info-messages/__tests__/mock_data.ts
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHDetailsPage/SSHDetailsPage.tsx
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHForm/SSHForm.tsx
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHForm/ssh-form-utils.ts
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHModal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/customize-source/CustomizeSourceForm.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/VMEventsStatusCard.tsx
  frontend/packages/kubevirt-plugin/src/hooks/use-ssh-command.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-ssh-keys.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-ssh-service.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/cdi-upload/cdi-upload-requests.ts
  frontend/packages/kubevirt-plugin/src/utils/guest-agent-utils.ts
  frontend/packages/network-attachment-definition-plugin/integration-tests/tests/models/nadForm.ts
Due: ci/prow/kubevirt-plugin

Add name to coderef function. Async component compares functions by name too.
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/coderef-resolver.ts
  frontend/public/components/utils/async.tsx
Due: none

Fix routing for ODF 4.9(OCS) Dashboard and link Ceph Block Pools
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/package.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/ocs-system-dashboard.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/odf-system-dashboard.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-resources/resource-list-page.tsx
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Due: ci/prow/ceph-storage-plugin

Bug 1990577: Update Ingress to v1 API version
  frontend/public/components/ingress.jsx
  frontend/public/locales/en/public.json
  frontend/public/models/index.ts
  frontend/public/models/yaml-templates.ts
Due: none

Do not drop values without name anymore and fix crash when ref is empty
  frontend/public/components/environment.jsx
  frontend/public/components/utils/value-from-pair.jsx
Due: none

Bug 1983693: Null check when pressing enter on import yaml page
  frontend/packages/console-shared/src/components/editor/yaml-editor-utils.ts
Due: none

move TrapezoidBaseNode to topology base and contribute factory , datamodel, connector via dynamic extension
  frontend/packages/console-shared/src/utils/resource-utils.ts
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/package.json
  frontend/packages/dev-console/src/components/topology/components/BindableNode.tsx
  frontend/packages/dev-console/src/components/topology/components/const.ts
  frontend/packages/dev-console/src/components/topology/components/devConsoleComponetFactory.ts
  frontend/packages/dev-console/src/components/topology/createConnector.ts
  frontend/packages/dev-console/src/components/topology/dev-console-data-transformer.ts
  frontend/packages/dev-console/src/components/topology/topology-plugin.ts
  frontend/packages/topology/src/components/graph-view/components/nodes/index.ts
  frontend/packages/topology/src/components/graph-view/components/nodes/trapezoidNode/TrapezoidBaseNode.scss
  frontend/packages/topology/src/components/graph-view/components/nodes/trapezoidNode/TrapezoidBaseNode.tsx
  frontend/public/components/overview/resource-overview-page.tsx
Due: none

implemented plugin topology.relationship-provider and contributed relationship for SBR/kafka connection
  frontend/packages/console-dynamic-plugin-sdk/src/api/topology-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/package.json
  frontend/packages/dev-console/src/components/topology/components/BindableNode.tsx
  frontend/packages/dev-console/src/components/topology/components/devConsoleComponetFactory.ts
  frontend/packages/dev-console/src/components/topology/createConnector.ts
  frontend/packages/dev-console/src/components/topology/dev-console-data-transformer.ts
  frontend/packages/dev-console/src/components/topology/index.ts
  frontend/packages/dev-console/src/components/topology/relationship-provider.ts
  frontend/packages/dev-console/src/components/topology/topology-plugin.ts
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/package.json
  frontend/packages/knative-plugin/src/topology/relationship-provider.ts
  frontend/packages/knative-plugin/src/topology/topology.ts
  frontend/packages/rhoas-plugin/console-extensions.json
  frontend/packages/rhoas-plugin/locales/en/rhoas-plugin.json
  frontend/packages/rhoas-plugin/package.json
  frontend/packages/rhoas-plugin/src/components/index.ts
  frontend/packages/rhoas-plugin/src/plugin.ts
  frontend/packages/rhoas-plugin/src/topology/components/KafkaNode.scss
  frontend/packages/rhoas-plugin/src/topology/components/KafkaNode.tsx
  frontend/packages/rhoas-plugin/src/topology/components/rhoasComponentFactory.ts
  frontend/packages/rhoas-plugin/src/topology/components/rhoasComponentUtils.ts
  frontend/packages/rhoas-plugin/src/topology/createConnector.ts
  frontend/packages/rhoas-plugin/src/topology/index.ts
  frontend/packages/rhoas-plugin/src/topology/relationship-provider.ts
  frontend/packages/rhoas-plugin/src/topology/rhoas-data-transformer.ts
  frontend/packages/rhoas-plugin/src/topology/rhoas-topology-plugin.tsx
  frontend/packages/rhoas-plugin/src/topology/rhoasResources.ts
  frontend/packages/rhoas-plugin/src/utils/resourceCreators.ts
  frontend/packages/topology/src/components/graph-view/components/componentUtils.ts
  frontend/packages/topology/src/components/page/TopologyView.tsx
  frontend/packages/topology/src/utils/relationship-provider-utils.ts
Due: none

Bug 1991548: add test for disk preallocation
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-disk-preallocation.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/dialog.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/selector.ts
Due: ci/prow/kubevirt-plugin

return loadError from use storage profile
  frontend/packages/kubevirt-plugin/src/hooks/use-storage-profile-settings.ts
Due: ci/prow/kubevirt-plugin

moved bindableNode to topology package and used named exports for utils
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/src/components/topology/components/devConsoleComponetFactory.ts
  frontend/packages/dev-console/src/components/topology/const.ts
  frontend/packages/dev-console/src/components/topology/dev-console-data-transformer.ts
  frontend/packages/dev-console/src/components/topology/index.ts
  frontend/packages/rhoas-plugin/src/topology/components/rhoasComponentFactory.ts
  frontend/packages/rhoas-plugin/src/topology/index.ts
  frontend/packages/rhoas-plugin/src/topology/rhoas-data-transformer.ts
  frontend/packages/topology/src/components/graph-view/components/nodes/trapezoidNode/BindableNode.tsx
Due: none

Initial commit
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/hotplug.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/dialog.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/selector.ts
Due: ci/prow/kubevirt-plugin

Use a list of supported templates instead of logic
  frontend/packages/kubevirt-plugin/src/components/vm-templates/VMTemplateCommnunityLabel.tsx
Due: ci/prow/kubevirt-plugin

Excessive eslint te[porarily disabled
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/hotplug.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/dialog.ts
Due: ci/prow/kubevirt-plugin

Bug 1992714: use existing pvc hotplug crashes
  frontend/packages/kubevirt-plugin/src/components/modals/delete-disk-modal/delete-disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/storage-ui-source.ts
Due: ci/prow/kubevirt-plugin

enable action dropdown in topology sidepanel and create context for topology-actions
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology-details.ts
  frontend/packages/console-shared/src/components/topology/index.ts
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/actions/providers.ts
  frontend/packages/helm-plugin/src/topology/sidebar/release-panel/resource-link.tsx
  frontend/packages/helm-plugin/src/topology/sidebar/release-panel/tab-sections.tsx
  frontend/packages/operator-lifecycle-manager/src/components/topology/operator-link-tab-section.tsx
  frontend/packages/topology/console-extensions.json
  frontend/packages/topology/package.json
  frontend/packages/topology/src/actions/TopologyActions.tsx
  frontend/packages/topology/src/actions/modify-application.ts
  frontend/packages/topology/src/actions/provider.ts
  frontend/packages/topology/src/components/side-bar/components/SideBarHeading.tsx
  frontend/packages/topology/src/components/workload/CronJobSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/DaemonSetSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/DeploymentConfigSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/DeploymentSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/JobSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/ResolveAdapter.ts
  frontend/packages/topology/src/components/workload/StatefulSetSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/build-tab-section.tsx
  frontend/packages/topology/src/components/workload/jobs-tab-section.tsx
  frontend/packages/topology/src/components/workload/pods-tab-section.tsx
  frontend/packages/topology/src/components/workload/utils.ts
  frontend/packages/topology/src/components/workload/workload-resource-link.tsx
  frontend/packages/topology/src/utils/topology-utils.ts
  frontend/public/components/overview/cron-job-overview.tsx
  frontend/public/components/overview/daemon-set-overview.tsx
  frontend/public/components/overview/deployment-config-overview.tsx
  frontend/public/components/overview/deployment-overview.tsx
  frontend/public/components/overview/hpa-overview.tsx
  frontend/public/components/overview/job-overview.tsx
  frontend/public/components/overview/jobs-overview.tsx
  frontend/public/components/overview/pod-overview.tsx
  frontend/public/components/overview/resource-overview-page.tsx
  frontend/public/components/overview/resource-overview-pages.tsx
  frontend/public/components/overview/stateful-set-overview.tsx
Due: none

add monitoring tab to the topology side panel
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/src/components/topology/index.ts
  frontend/packages/dev-console/src/components/topology/observe-tab-section.tsx
  frontend/packages/helm-plugin/console-extensions.json
Due: none

remove dead code and refactor components for topology resource panel
  frontend/packages/console-shared/src/components/index.ts
  frontend/packages/console-shared/src/components/topology/SIdeBarTabSection.tsx
  frontend/packages/console-shared/src/components/topology/index.ts
  frontend/packages/dev-console/src/components/topology/hpa-tab-section.tsx
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/operator-lifecycle-manager/src/components/topology/operator-link-tab-section.tsx
  frontend/packages/pipelines-plugin/src/topology/index.ts
  frontend/packages/pipelines-plugin/src/topology/pipelinesTopologyPlugin.ts
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/actions/index.ts
  frontend/packages/topology/src/actions/modify-application.ts
  frontend/packages/topology/src/actions/provider.ts
  frontend/packages/topology/src/components/side-bar/TopologyResourcePanel.tsx
  frontend/packages/topology/src/components/side-bar/TopologySideBarTabSection.scss
  frontend/packages/topology/src/components/side-bar/TopologySideBarTabSection.tsx
  frontend/packages/topology/src/components/side-bar/components/SideBarHeading.tsx
  frontend/packages/topology/src/components/workload/BuildOverview.tsx
  frontend/packages/topology/src/components/workload/JobsOverview.tsx
  frontend/packages/topology/src/components/workload/NetworkingOverview.tsx
  frontend/packages/topology/src/components/workload/build-tab-section.tsx
  frontend/packages/topology/src/components/workload/jobs-tab-section.tsx
  frontend/packages/topology/src/components/workload/network-tab-section.tsx
  frontend/packages/topology/src/components/workload/pods-tab-section.tsx
Due: none

refactor useBuildsConfigWatcher to use useMemo instead of useState
  frontend/packages/console-shared/src/hooks/useBuildConfigsWatcher.ts
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/workload/BuildOverview.tsx
Due: none

Use user token for listing operator's operands
  cmd/bridge/main.go
  pkg/server/operands_handler.go
  pkg/server/server.go
Due: none

Uninstall Operator Modal: integrated with 'list-operands' endpoint, added Operands table, 'delete all' checkbox, and k8kill cmds to delete operands
  frontend/packages/console-shared/src/hooks/promise-handler.ts
  frontend/packages/console-shared/src/hooks/useOperands.ts
  frontend/packages/integration-tests-cypress/support/project.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-uninstall.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/views/operator.view.ts
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/operand-link.tsx
  frontend/packages/operator-lifecycle-manager/src/style.scss
  frontend/public/components/_resource.scss
  frontend/public/components/utils/resource-link.tsx
Due: none

Fix select builder image method
  frontend/packages/console-shared/src/components/formik-fields/item-selector-field/SelectorCard.tsx
  frontend/packages/dev-console/integration-tests/support/constants/add.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
Due: none

sweep frontend/public folder for i18n support - part 3
  frontend/public/components/alert-manager.tsx
  frontend/public/components/build-logs.jsx
  frontend/public/components/build-pipeline.tsx
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/cluster-settings.ts
  frontend/public/module/k8s/container.ts
  frontend/public/module/k8s/pods.ts
  frontend/public/module/k8s/probe.ts
Due: none

Use user token for listing operator's operands
  pkg/server/operands_handler.go
  pkg/server/server.go
Due: none

TS is giving warnings when re-exporting types
  frontend/public/components/monitoring/types.ts
Due: none

move event sources add option to serverless add group
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/src/components/add/__tests__/add-page-test-data.tsx
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-broker-actions.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-create-sink-broker.feature
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
Due: none

Monitoring: Memoize some components and other optimizations
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/timespan-dropdown.tsx
  frontend/public/locales/en/public.json
Due: none

Fill out the component name when catching a rate limit error
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-devfile.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-docker-file.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-git.feature
  frontend/packages/dev-console/integration-tests/support/constants/staticText/global-text.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/dev-file-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/git-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/createGitWorkload.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-container-image.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-devfile.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-docker-file.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-git.ts
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/common/addFlow.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/serverless/create-knative-workload.ts
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-page.ts
Due: none

migrate static plugin to dynamic for knative plugin
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/package.json
  frontend/packages/knative-plugin/src/components/add/index.ts
  frontend/packages/knative-plugin/src/components/eventing/index.ts
  frontend/packages/knative-plugin/src/components/index.ts
  frontend/packages/knative-plugin/src/components/knatify/index.ts
  frontend/packages/knative-plugin/src/components/overview/index.ts
  frontend/packages/knative-plugin/src/components/pub-sub/index.ts
  frontend/packages/knative-plugin/src/components/revisions/index.ts
  frontend/packages/knative-plugin/src/components/routes/index.ts
  frontend/packages/knative-plugin/src/components/services/index.ts
  frontend/packages/knative-plugin/src/plugin.tsx
  frontend/packages/knative-plugin/src/topology/components/decorators/getRevisionRouteDecorator.tsx
  frontend/packages/knative-plugin/src/topology/components/decorators/getServiceRouteDecorator.tsx
  frontend/packages/knative-plugin/src/topology/components/decorators/index.ts
  frontend/packages/knative-plugin/src/topology/create-connector-utils.ts
  frontend/packages/knative-plugin/src/topology/index.ts
  frontend/packages/knative-plugin/src/topology/knativeFilters.ts
  frontend/packages/knative-plugin/src/topology/topology-plugin.ts
  frontend/packages/knative-plugin/src/topology/topology.ts
Due: none

Add Repository Details Page
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryDetails.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryDetailsPage.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryLinkList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunHeader.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunListPage.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryPipelineRunRow.tsx
  frontend/packages/pipelines-plugin/src/components/repository/__tests__/RepositoryDetails.spec.tsx
  frontend/packages/pipelines-plugin/src/components/repository/__tests__/RepositoryLinkList.spec.tsx
  frontend/packages/pipelines-plugin/src/components/repository/consts.ts
  frontend/packages/pipelines-plugin/src/components/repository/types.ts
  frontend/packages/pipelines-plugin/src/plugin.tsx
  frontend/packages/pipelines-plugin/src/test-data/pipeline-data.ts
  frontend/packages/pipelines-plugin/src/types/pipelineRun.ts
Due: none

Filter system projects/ namespaces
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/index.ts
  frontend/packages/console-shared/src/components/namespace/NamespaceDropdown.scss
  frontend/packages/console-shared/src/components/namespace/NamespaceDropdown.tsx
  frontend/packages/console-shared/src/components/namespace/NamespaceMenuToggle.tsx
  frontend/packages/console-shared/src/components/namespace/filters.ts
  frontend/packages/console-shared/src/components/namespace/index.tsx
  frontend/packages/console-shared/src/constants/common.ts
  frontend/packages/integration-tests-cypress/views/common.ts
  frontend/public/actions/ui.ts
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/filter-toolbar.tsx
  frontend/public/components/namespace.jsx
  frontend/public/locales/en/public.json
Due: none

Update e2e tests to new namespace/project dropdown
  frontend/packages/console-shared/src/components/namespace/NamespaceDropdown.tsx
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/views/topology.view.ts
Due: none

Update patternfly
  frontend/package.json
  frontend/scripts/update-patternfly.sh
  frontend/yarn.lock
Due: none
