Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin

Review comments-1
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/storage-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/sc-node-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-install.scss
Due: ci/prow/ceph-storage-plugin

show `Stop` pipelinerun action if any of the tasks is running
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-augment.spec.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-actions.tsx
  frontend/packages/pipelines-plugin/src/utils/pipeline-augment.ts
Due: none

New IP's popover for multi ip's
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-details-card.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/VMIP.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-ip.scss
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm.tsx
Due: ci/prow/kubevirt-plugin

replace storage cluster with StorageCluster in external dashboard
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-external/status-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/status-card/status-card.tsx
Due: ci/prow/ceph-storage-plugin

Update hard coded colors to PF tokens and vars
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/modals/_bs-modal.scss
  frontend/packages/ceph-storage-plugin/src/components/dashboards/common/breakdown-card/utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/common/capacity-breakdown/utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/raw-capacity-card/raw-capacity-card.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellExec.scss
  frontend/packages/console-shared/src/components/editor/yaml-editor-utils.ts
  frontend/packages/console-shared/src/constants/pod.ts
  frontend/packages/knative-plugin/src/topology/components/groups/KnativeIcon.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/result-tab/error-results.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/result-tab/success-results.tsx
  frontend/packages/kubevirt-plugin/src/components/table/validation-cell.scss
  frontend/packages/operator-lifecycle-manager/src/style.scss
  frontend/packages/pipelines-plugin/src/components/charts/HorizontalStackedBars.scss
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunLogs.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/task-sidebar/Sidebar.scss
  frontend/packages/topology/src/components/quick-search/QuickSearchIcon.tsx
  frontend/packages/topology/src/components/svg/SvgDropShadowFilter.tsx
  frontend/packages/topology/src/components/svg/SvgResourceIcon.scss
  frontend/public/components/_autocomplete.scss
  frontend/public/components/_resource.scss
  frontend/public/components/_row-filter.scss
  frontend/public/components/catalog/_catalog.scss
  frontend/public/components/graphs/themes.ts
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/utils/_label.scss
  frontend/public/components/utils/_skeleton-screen.scss
  frontend/public/style/_common.scss
Due: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

update texts based on doc review (Install workflows)
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/create-storage-class/create-storage-class-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/discover-disks-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/capacity-and-nodes.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
  frontend/packages/local-storage-operator-plugin/locales/en/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-discovery/body.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-discovery/create-local-volume-discovery.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/body.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/header.tsx
Due: ci/prow/ceph-storage-plugin

Updating pipeline and topology gherkin
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-git.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipeline-metrics.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipeline-task-runs-display.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-runs.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-workspaces.feature
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/demo-optional-resources.yaml
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/sum-three-pipeline.yaml
  frontend/packages/topology/integration-tests/features/topology/pipelines-on-topology.feature
  frontend/packages/topology/integration-tests/features/topology/quick-search-topology.feature
Due: none

fix guided tour spotlight
  frontend/packages/console-shared/src/components/spotlight/Spotlight.tsx
  frontend/packages/console-shared/src/components/spotlight/__tests__/Spotlight.spec.tsx
Due: none

remove &apos; from the text
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/capacity-and-nodes.tsx
Due: ci/prow/ceph-storage-plugin

Bug 1965909: Replace "Enable Taint Nodes" by "Mark nodes as dedicated"
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/capacity-and-nodes.tsx
Due: ci/prow/ceph-storage-plugin

fix: satisfy yarn linter
  frontend/packages/console-app/src/components/cloud-shell/CloudShellExec.tsx
  frontend/packages/console-app/src/components/cloud-shell/setup/CloudShellAdminSetup.tsx
  frontend/packages/console-app/src/components/cloud-shell/setup/CloudShellDeveloperSetup.tsx
  frontend/packages/console-app/src/components/cloud-shell/useCloudShellWorkspace.ts
Due: none

Monitoring dashboards: Custom time range inputs should retain values
  frontend/public/components/monitoring/dashboards/custom-time-range-modal.tsx
  frontend/public/components/utils/datetime.ts
Due: none

Updated the quick start scripts with respect to latest UX-ODC-5911
  frontend/packages/dev-console/integration-tests/features/guided-tour/associate-pipeline-with-application.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/create-serverless-application.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/getting-started-pipelines.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/getting-started-serverless.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/filter-quick-starts-catalog.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick-start-access-code-snippet.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick-start-devperspective.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick-starts-cluster-overview.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quickstart-sidepanel-hints.feature
  frontend/packages/dev-console/integration-tests/testData/quick-start/copy-execute-demo.yaml
Due: none

Add a11y label to Loading, create non-a11y LoadingBox for app.jsx
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/public/components/app.jsx
  frontend/public/components/utils/status-box.tsx
  frontend/public/locales/en/public.json
Due: none

Fix rendering of add-capacity modal for small screen
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
Due: ci/prow/ceph-storage-plugin

Updating test step
  frontend/packages/gitops-plugin/integration-tests/features/gitops/add-manifest-url.feature
Due: none

link git secret to pipeine serviceaccount
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
Due: none

handles route decorator for revision
  frontend/packages/knative-plugin/src/topology/components/decorators/RevisionRouteDecorator.tsx
  frontend/packages/knative-plugin/src/topology/components/decorators/getRevisionRouteDecorator.tsx
  frontend/packages/knative-plugin/src/topology/components/decorators/index.ts
  frontend/packages/knative-plugin/src/topology/components/nodes/RevisionNode.tsx
  frontend/packages/knative-plugin/src/topology/topology-plugin.ts
  frontend/packages/knative-plugin/src/utils/useRoutesURL.ts
Due: none

Filter disabled add actions for topology menus
  frontend/packages/dev-console/src/actions/add-resources.tsx
  frontend/packages/dev-console/src/utils/useAddActionExtensions.ts
  frontend/packages/knative-plugin/src/actions/add-channel.tsx
  frontend/packages/knative-plugin/src/actions/add-event-source.tsx
  frontend/packages/knative-plugin/src/topology/create-connector-utils.ts
Due: none

Add metrics tab to Deployment, StatefulSet, and DaemonSet details pages
  frontend/packages/console-shared/src/promql/resource-metrics.ts
  frontend/public/components/build.tsx
  frontend/public/components/daemon-set.tsx
  frontend/public/components/deployment.tsx
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/components/pod.tsx
  frontend/public/components/routes.tsx
  frontend/public/components/routes/route-charts.tsx
  frontend/public/components/routes/route-metrics.tsx
  frontend/public/components/stateful-set.tsx
  frontend/public/components/utils/horizontal-nav.tsx
  frontend/public/components/utils/resource-metrics.tsx
  frontend/public/locales/en/public.json
Due: none

CONSOLE-1338: Add support for multiple documents when importing YAML
  frontend/__tests__/components/import-yaml-results.spec.tsx
  frontend/packages/integration-tests-cypress/tests/crud/bulk-create-resources.spec.ts
  frontend/packages/integration-tests-cypress/views/yaml-editor.ts
  frontend/public/components/_import-yaml-results.scss
  frontend/public/components/droppable-edit-yaml.tsx
  frontend/public/components/edit-yaml.jsx
  frontend/public/components/import-yaml-results.tsx
  frontend/public/components/import-yaml.tsx
  frontend/public/locales/en/public.json
  frontend/public/style.scss
Due: none

Fixup comments and fix tests
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTerminal.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/CloudShellTerminal.spec.tsx
  frontend/packages/console-app/src/components/cloud-shell/cloud-shell-utils.ts
Due: none

Add in flag for detecting if v1alpha2 devworkspaces are available
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTerminal.tsx
  frontend/packages/console-app/src/consts.ts
Due: none

Remove unneeded imports from cloud shell utils and cloud shell terminal tests
  frontend/packages/console-app/src/components/cloud-shell/__tests__/CloudShellTerminal.spec.tsx
  frontend/packages/console-app/src/components/cloud-shell/cloud-shell-utils.ts
Due: none

remove shoubhik & akash from Helm OWNERS list
  pkg/helm/OWNERS
Due: none

Mock useFlag in CloudShellTerminal tests
  frontend/packages/console-app/src/components/cloud-shell/__tests__/CloudShellTerminal.spec.tsx
Due: none

fix rotated pipelinerun status icon issue in safari
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/detail-page-tabs/pipeline-details/PipelineVisualizationTask.tsx
Due: none

Force rowgroup role for thead (for virtualized tables) to fix a11y issue
  frontend/public/components/factory/table.tsx
Due: none

Add role to allow aria-label on a span (which renders just an icon)
  frontend/packages/console-shared/src/components/getting-started/GettingStartedGrid.tsx
Due: none

clean up code for 4.8 release
  frontend/packages/dev-console/integration-tests/.gherkin-lintrc
  frontend/packages/dev-console/integration-tests/cypress.json
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-devfile.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/developer-catalog-details.feature
  frontend/packages/dev-console/integration-tests/features/getting-started/sample-card-add-page.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick-start-access-code-snippet.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick-start-devperspective.feature
  frontend/packages/dev-console/integration-tests/features/project/project-access.feature
  frontend/packages/gitops-plugin/integration-tests/cypress.json
  frontend/packages/helm-plugin/integration-tests/cypress.json
  frontend/packages/knative-plugin/integration-tests/cypress.json
  frontend/packages/knative-plugin/integration-tests/features/eventing/kafka-source-connection-to-kafka-connection-instance.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/managed-services-kafka-connection.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/create-knative-service-from-deployment-or-deployment-config.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/serverless-function.feature
  frontend/packages/pipelines-plugin/integration-tests/cypress.json
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipeline-task-runs-display.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-actions.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-triggers.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-workspaces.feature
  frontend/packages/topology/integration-tests/cypress.json
  frontend/packages/topology/integration-tests/features/topology/quick-search-topology.feature
Due: none

refactor multiple-storage-class-selection tests
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/mocks/storageclass.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/multiple-storageclass-selection.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/multiple-storageclass.ts
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
Due: ci/prow/ceph-storage-plugin

remove cy.wait from multiple-storageclass-selection tests
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/multiple-storageclass-selection.spec.ts
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
Due: ci/prow/ceph-storage-plugin

Fixing Pipeline runs scripts
  frontend/packages/dev-console/integration-tests/support/commands/app.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/topology.ts
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-runs.feature
  frontend/packages/pipelines-plugin/integration-tests/support/commands/hooks.ts
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineBuilder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelineRun-details-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/pages/pipelines/pipelines-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/pipelines.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-add-options.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipeline-task-runs-display.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-actions.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-runs.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-triggers.ts
Due: none

adds feature flag for revision decorator plugin
  frontend/packages/knative-plugin/src/topology/components/decorators/getRevisionRouteDecorator.tsx
  frontend/packages/knative-plugin/src/topology/topology-plugin.ts
Due: none

Fix quick starts label text
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/quick-search/utils/quick-search-utils.tsx
Due: none

Block pool deletion testing - cypress
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/block-pool-delete.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/kms-encryption-sc.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/block-pool.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/storage-class.ts
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/create-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/delete-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/modal-footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/update-block-pool-modal.tsx
  frontend/packages/ceph-storage-plugin/src/utils/block-pool.tsx
Due: ci/prow/ceph-storage-plugin

Upgrade OCS in add capacity modal
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/details-card.tsx
Due: ci/prow/ceph-storage-plugin

update cluster-local label for ksvc
  frontend/packages/dev-console/src/components/edit-application/edit-application-utils.ts
  frontend/packages/knative-plugin/src/utils/__tests__/create-knative-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
Due: none

fixed the create from builder image feature scripts
  frontend/packages/dev-console/integration-tests/features/addFlow/add-page.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/dashboard-display.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipeline-task-runs-display.feature
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/common/pipelines.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/create-from-builder-page.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-workspaces.ts
  frontend/packages/pipelines-plugin/integration-tests/testData/pipelines-workspaces/s2i-build-and-deploy-pipeline-using-workspace.yaml
Due: none

no color change on addcarditem hover:focus:active
  frontend/packages/console-shared/src/components/getting-started/GettingStartedCard.scss
  frontend/packages/dev-console/src/components/add/AddCardItem.scss
Due: none
