Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Bump react-redux types and monaco plugin
  frontend/package.json
  frontend/yarn.lock
Due: none

Fix type errors
  frontend/__tests__/components/factory/list-page.spec.tsx
  frontend/__tests__/components/utils/firehose.spec.tsx
  frontend/package.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/nodes/NodeLogs.tsx
  frontend/packages/console-app/src/components/user-preferences/UserPreferencePage.tsx
  frontend/packages/console-shared/src/components/catalog/CatalogTile.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/prometheus-hook.ts
  frontend/packages/knative-plugin/src/utils/create-channel-utils.ts
  frontend/packages/kubevirt-plugin/src/components/boot-order/boot-order.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/create-vm-wizard-footer.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/error-components/wizard-errors.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/storage-tab/vm-wizard-storage-row.tsx
  frontend/packages/kubevirt-plugin/src/components/errors/errors.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-console/connectors/SerialConsoleConnector.tsx
  frontend/packages/kubevirt-plugin/src/selectors/service/rdp/index.ts
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/index.tsx
  frontend/packages/pipelines-plugin/src/types/pipelineRun.ts
  frontend/public/components/monitoring/receiver-forms/alert-manager-receiver-forms.tsx
  frontend/public/components/monitoring/types.ts
  frontend/public/components/user.tsx
  frontend/public/components/utils/resource-log.tsx
  frontend/public/locales/en/public.json
  frontend/public/reducers/connectToFlags.ts
  frontend/yarn.lock
Due: ci/prow/kubevirt-plugin

linter errors
  frontend/__mocks__/i18next.ts
  frontend/packages/ceph-storage-plugin/src/components/object-bucket-claim-page/create-obc.tsx
Due: ci/prow/ceph-storage-plugin

Fix integration tests
  frontend/integration-tests/protractor.conf.ts
Due: none

Rebase fixes
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/detect-cluster/cluster.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sWatchResource.ts
  frontend/packages/knative-plugin/src/actions/providers.ts
  frontend/public/components/debug-terminal.tsx
  frontend/public/components/namespace.jsx
  frontend/public/components/nav/nav-header.tsx
  frontend/public/components/storage/attach-storage.tsx
  frontend/public/components/utils/resource-log.tsx
  frontend/public/components/utils/service-level.tsx
Due: none

Fix YAML editor
  frontend/package.json
  frontend/yarn.lock
Due: none

Fix new linter errors
  frontend/packages/knative-plugin/src/utils/useRoutesURL.ts
  frontend/packages/topology/src/data-transforms/useRoutesURL.ts
Due: none

Temporarily remove Bipul's JSDoc linter addition since it breaks a ton of files
  frontend/.eslintrc.js
  frontend/package.json
  frontend/yarn.lock
Due: none

Fix jest tests
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/__tests__/k8s-resource.spec.ts
  frontend/packages/console-plugin-sdk/src/__tests__/store.spec.ts
Due: none

Fix jest mocks and upgrade version
  frontend/__mocks__/i18next.ts
  frontend/__mocks__/react-i18next.ts
  frontend/package.json
  frontend/packages/console-dynamic-plugin-sdk/tsconfig-base.json
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/switch-to-form-validation-utils.ts
  frontend/tsconfig.json
Due: none

Fix remaining jest tests
  frontend/__tests__/actions/ui.spec.ts
  frontend/__tests__/components/cluster-settings.spec.tsx
  frontend/package.json
Due: none

Fix errors after rebase
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/api-discovery/api-discovery.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/SchemaValidator.ts
  frontend/packages/console-plugin-sdk/src/api/withExtensions.tsx
  frontend/packages/topology/src/utils/topology-utils.ts
  frontend/yarn.lock
Due: none

added test-id's to kms flows
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-vault-modal.tsx
Due: ci/prow/ceph-storage-plugin

Monitoring: Add duplicate query option to kebab menu
  frontend/public/actions/observe.ts
  frontend/public/components/monitoring/metrics.tsx
  frontend/public/locales/en/public.json
  frontend/public/reducers/observe.ts
Due: none

updated test id's
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-vault-modal.tsx
Due: ci/prow/ceph-storage-plugin

use namespaced links for dev perspective nav items
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/gitops-plugin/console-extensions.json
  frontend/packages/pipelines-plugin/console-extensions.json
Due: none

update namespace/backing store for dedicated-admin (OSD)
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/create-bs-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/create-bs.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/namespace-store-form.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/noobaa-provider-endpoints/gcp-endpoint-type.tsx
  frontend/packages/ceph-storage-plugin/src/components/noobaa-provider-endpoints/s3-endpoint-type.tsx
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
Due: ci/prow/ceph-storage-plugin

Fix imports leading to x is not declared writable or has no setter spyOn errors
  frontend/__tests__/components/routes/create-route.spec.tsx
  frontend/packages/console-app/src/components/detect-namespace/__tests__/namespace.spec.ts
Due: none

Fix linter error
  frontend/packages/console-dynamic-plugin-sdk/src/utils/flags.ts
Due: none

Fix more issues leading to x is not declared writable or has no setter spyOn errors'
  frontend/__tests__/components/create-yaml.spec.tsx
  frontend/__tests__/components/environment.spec.tsx
  frontend/__tests__/components/namespace.spec.tsx
  frontend/__tests__/components/utils/download-button.spec.tsx
  frontend/__tests__/components/utils/resource-link.spec.ts
  frontend/packages/console-app/src/components/cloud-shell/__tests__/CloudShellTab.spec.tsx
  frontend/packages/knative-plugin/src/topology/__tests__/data-transformer.spec.ts
  frontend/packages/knative-plugin/src/utils/__tests__/create-eventsources-utils.spec.ts
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/spec/resource-requirements.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/install-plan.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.spec.tsx
  frontend/packages/topology/src/__tests__/TopologyPageToolbar.spec.tsx
  frontend/packages/topology/src/utils/__tests__/application-utils.spec.ts
Due: none

Update fuzzy import
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/configure.tsx
  frontend/packages/console-app/src/components/modals/service-binding/BindableServices.tsx
  frontend/packages/console-shared/src/components/custom-resource-list/__tests__/CustomResourceList.spec.tsx
  frontend/packages/console-shared/src/components/dropdown/ResourceDropdown.tsx
  frontend/packages/console-shared/src/components/formik-fields/item-selector-field/ItemSelectorField.tsx
  frontend/packages/dev-console/src/components/buildconfig/sections/SecretsSection.tsx
  frontend/packages/dev-console/src/components/buildconfig/sections/TriggersSection.tsx
  frontend/packages/dev-console/src/components/import/icon/IconDropdown.tsx
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamTagDropdown.tsx
  frontend/packages/dev-console/src/components/monitoring/metrics/MetricsQueryInput.tsx
  frontend/packages/helm-plugin/src/utils/helm-utils.ts
  frontend/packages/knative-plugin/src/components/add/event-sources/form-fields/SinkResources.tsx
  frontend/packages/knative-plugin/src/components/dropdowns/ServiceAccountDropdown.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/form-fields/PubSubSubscriber.tsx
  frontend/packages/knative-plugin/src/components/sink-pubsub/SinkPubsubModal.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/select-template.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/MultipleResourceKeySelector.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PVCDropdown.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/TriggerBindingSelector.tsx
  frontend/public/components/RBAC/role.jsx
  frontend/public/components/api-explorer.tsx
  frontend/public/components/factory/table-filters.ts
  frontend/public/components/modals/add-secret-to-workload.tsx
  frontend/public/components/monitoring/alert-manager-config.tsx
  frontend/public/components/storage-class-form.tsx
  frontend/public/components/utils/list-dropdown.jsx
  frontend/public/components/utils/storage-class-dropdown.tsx
  frontend/public/components/utils/value-from-pair.jsx
Due: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Update parsebitbucketurl import
  frontend/packages/git-service/src/services/bitbucket-service.ts
Due: none

Fix more spyOns
  frontend/packages/console-app/src/components/tour/__tests__/GuidedTourMastheadTrigger.spec.tsx
  frontend/packages/console-plugin-sdk/src/codegen/__tests__/active-plugins.spec.ts
  frontend/packages/console-plugin-sdk/src/codegen/__tests__/plugin-integration-tests.spec.ts
  frontend/packages/console-plugin-sdk/src/codegen/__tests__/plugin-resolver.spec.ts
  frontend/packages/console-shared/src/components/health-checks/__tests__/HealthChecksAlert.spec.tsx
  frontend/packages/console-shared/src/components/pod/__tests__/PodRingSet.spec.tsx
  frontend/packages/console-shared/src/components/synced-editor/__tests__/useEditorType.spec.ts
  frontend/packages/dev-console/src/components/import/__tests__/deployImage-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/monitoring/__tests__/MonitoringPage.spec.tsx
  frontend/packages/dev-console/src/components/projects/details/__tests__/ProjectDetailsPage.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/RevisionsOverviewList.spec.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/RoutesOverviewList.spec.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/__tests__/PipelineRunDetailsPage.spec.tsx
  frontend/packages/pipelines-plugin/src/topology/build-decorators/__tests__/PipelineRunDecorator.spec.tsx
  frontend/packages/topology/src/components/dropdowns/__tests__/ApplicationSelector.spec.tsx
  frontend/packages/topology/src/components/export-app/__tests__/ExportApplication.spec.tsx
Due: none

Fix import
  frontend/packages/dev-console/src/components/projects/details/__tests__/ProjectDetailsPage.spec.tsx
Due: none

`valut` typo fixed
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/vault-config.tsx
Due: ci/prow/ceph-storage-plugin

add started-by annotation to rerun pipelines
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/__tests__/utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/utils.ts
Due: none

Bug 2051433: Create HANA VM does not use values from customized HANA templates
  frontend/packages/kubevirt-plugin/src/components/vm-templates/menu-actions.tsx
Due: ci/prow/kubevirt-plugin

Fix more spyOns
  frontend/packages/console-app/src/components/tour/__tests__/tour-context.spec.ts
  frontend/packages/operator-lifecycle-manager/src/components/modals/installplan-approval-modal.spec.tsx
Due: none

Fix import
  frontend/public/components/factory/modal.tsx
  frontend/public/components/markdown-view.tsx
Due: none

Try to fix protractor config error
  frontend/integration-tests/protractor.conf.ts
Due: none

Try to fix protractor
  frontend/integration-tests/protractor.conf.ts
  frontend/integration-tests/tsconfig.json
Due: none

omit rolebindings with no subjects
  frontend/packages/dev-console/src/components/project-access/__tests__/project-access-form-data.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-utils-types.ts
  frontend/packages/dev-console/src/components/project-access/project-access-form-utils.ts
Due: none

Bug 2052095: Fix auth redirect loop caused by duplicate state-token cookie
  pkg/auth/auth.go
Due: none

Remove tech preview badge for web terminal
  frontend/packages/console-app/src/components/cloud-shell/CloudShellDrawer.tsx
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTab.tsx
Due: none

Fix TypeError when application has HelmRelease
  frontend/packages/topology/src/components/application-panel/TopologyApplicationResources.tsx
Due: none

Fix error when selecting an application with just an Helm Release
  frontend/packages/topology/src/actions/groupActions.ts
Due: none

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
