Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin

Update failure_domain field of block pool from storage cluster CR
  frontend/packages/ceph-storage-plugin/src/components/block-pool/body.tsx
  frontend/packages/ceph-storage-plugin/src/types.ts
Due: ci/prow/ceph-storage-plugin

Fix Arbiter Text
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/storage-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/capacity-and-nodes.tsx
  frontend/packages/ceph-storage-plugin/src/constants/tooltips.tsx
Due: ci/prow/ceph-storage-plugin

Bug 1959281: Make utilization card chart domains match duration
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-external/utilization-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/utilization-card/utilization-card.tsx
  frontend/packages/console-app/src/components/nodes/node-dashboard/UtilizationCard.tsx
  frontend/packages/console-shared/src/components/dashboard/duration-hook.ts
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationBody.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationDurationDropdown.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationItem.tsx
  frontend/packages/console-shared/src/constants/duration.ts
  frontend/packages/console-shared/src/constants/index.ts
  frontend/packages/console-shared/src/hooks/index.ts
  frontend/packages/console-shared/src/hooks/useDateRange.ts
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-utilization.tsx
  frontend/packages/metal3-plugin/src/components/baremetal-hosts/dashboard/UtilizationCard.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/utilization-card.tsx
  frontend/public/components/dashboard/project-dashboard/utilization-card.tsx
Due: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Bug 1942736: update Admin resource translations to new standard
  frontend/public/components/cluster-settings/cluster-operator.tsx
  frontend/public/components/cluster-settings/cluster-version.tsx
  frontend/public/components/cluster-settings/oauth.tsx
  frontend/public/components/custom-resource-definition.tsx
  frontend/public/components/limit-range.tsx
  frontend/public/components/resource-quota.jsx
  frontend/public/locales/en/public.json
Due: none

disable add capacity submit button for no PVs
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
  frontend/packages/ceph-storage-plugin/src/utils/install.ts
Due: ci/prow/ceph-storage-plugin

Update public.json
  frontend/public/components/RBAC/edit-rule.jsx
  frontend/public/components/monitoring/alert-manager-config.tsx
  frontend/public/components/monitoring/dashboards/table.tsx
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/components/monitoring/receiver-forms/slack-receiver-form.tsx
  frontend/public/components/nav/confirmNavUnpinModal.tsx
  frontend/public/components/overview/cron-job-overview.tsx
  frontend/public/components/overview/job-overview.tsx
  frontend/public/components/overview/jobs-overview.tsx
  frontend/public/components/overview/networking-overview.tsx
  frontend/public/components/overview/pod-overview.tsx
  frontend/public/locales/en/public.json
Due: none

Disable OLM portworx test until api version is updated upstream
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-global.spec.ts
Due: none

Bug 1965370: Update ZH translation for "Route"
  frontend/public/locales/zh/public.json
Due: none

Bug 1965391: Skip to 3rd step when SC present
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
  frontend/packages/ceph-storage-plugin/src/types.ts
Due: ci/prow/ceph-storage-plugin

Bug 1964902: rework network policy details page
  frontend/public/components/network-policy.tsx
  frontend/public/locales/en/public.json
Due: none

fixes: multiline code snippet buttons doesn't work properly
  frontend/packages/console-shared/src/components/markdown-extensions/MarkdownCopyClipboard.tsx
  frontend/packages/console-shared/src/components/markdown-extensions/MarkdownExecuteSnippet.tsx
  frontend/packages/console-shared/src/hooks/index.ts
Due: none

chore(i18n): update translations
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-app/locales/zh/volume-snapshot-content.json
  frontend/packages/console-app/locales/zh/volume-snapshot-details.json
  frontend/packages/console-app/locales/zh/volume-snapshot.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/gitops-plugin/locales/ja/gitops-plugin.json
  frontend/packages/gitops-plugin/locales/ko/gitops-plugin.json
  frontend/packages/gitops-plugin/locales/zh/gitops-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/ja/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/ko/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/locales/zh/lso-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/patternfly/locales/ja/notification-drawer.json
  frontend/packages/patternfly/locales/ko/notification-drawer.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Due: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Pipeline Actions script fixes
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-actions.feature
  frontend/packages/pipelines-plugin/integration-tests/support/constants/pipelines.ts
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
Due: none

Monitoring dashboards: Add "Custom time range" modal
  frontend/public/components/monitoring/dashboards/custom-time-range-modal.tsx
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/query-browser.tsx
  frontend/public/locales/en/public.json
Due: none

adds upgrade ocs in details card
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/details-card.tsx
Due: ci/prow/ceph-storage-plugin

update kafka event source feature file
  frontend/packages/knative-plugin/integration-tests/features/eventing/kafka-event-source.feature
  frontend/packages/knative-plugin/integration-tests/features/kafka-event-source/eventing-kafka-event-source.feature
Due: none

omit bitbucket branch in URL if it contains slash
  frontend/packages/topology/src/utils/topology-utils.ts
Due: none

IP block: use sentence case
  frontend/public/components/network-policy.tsx
  frontend/public/locales/en/public.json
Due: none

allow installation storageClass as default in add capacity modal
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/storage-class-dropdown.scss
  frontend/packages/ceph-storage-plugin/src/components/modals/storage-class-dropdown.tsx
  frontend/packages/ceph-storage-plugin/src/constants/ocs-install.ts
  frontend/packages/ceph-storage-plugin/src/utils/install.ts
Due: ci/prow/ceph-storage-plugin

Gherkin:Devfile samples should be included in Samples catalog & searchable via Topology-ODC-22
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-devfile.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/developer-catalog-details.feature
  frontend/packages/dev-console/integration-tests/features/getting-started/sample-card-add-page.feature
  frontend/packages/topology/integration-tests/features/topology/quick-search-topology.feature
Due: none

cnv-5162: [dev] change mouse cursor and add URL to results step
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/review-tab/general-tab.tsx
Due: ci/prow/kubevirt-plugin

Issue #8762 - can't open terminal for pods that have more than one container running
  frontend/public/components/terminal.jsx
Due: none

handles check for kafkasource update with managed kafka
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/topology/components/knativeComponentUtils.ts
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
Due: none

Use isEqual when comparing async loaders
  frontend/public/components/utils/async.tsx
Due: none

update gherkin scripts and tags based on regression test suite
  frontend/packages/dev-console/integration-tests/features/addFlow/add-page.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/create-operator-backed.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/developer-catalog-details.feature
Due: none

Bug 1967197: Fix 404 errors loading i18n namespaces
  frontend/public/i18n.js
  frontend/webpack.config.ts
Due: none

Fix Pipeline Parameters in Modals accept empty string defaults
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/PipelineParameterSection.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/__tests__/utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/types.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/common/validation-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/utils.ts
Due: none

Bug 1967208: Use semver to parse version for "Getting started" card
  frontend/packages/console-shared/src/hooks/version.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/add/DeveloperFeaturesGettingStartedCard.tsx
  frontend/packages/dev-console/src/components/add/__tests__/DeveloperFeaturesGettingStartedCard.spec.tsx
  frontend/packages/dev-console/src/components/guided-tour/GuidedTourText.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/explore-admin-features-getting-started-card.spec.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/explore-admin-features-getting-started-card.tsx
Due: none

Support secondary text in ResourceDropdown Add namespace in Multus Dropdown# Please enter the commit message for your changes. Lines starting
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/configure.tsx
  frontend/packages/console-shared/src/components/dropdown/ResourceDropdown.tsx
  frontend/public/components/_dropdown.scss
Due: ci/prow/ceph-storage-plugin

Integrated Log Exploration API
  frontend/public/components/monitoring/alert-logs.tsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/utils/alert-resource-log.tsx
  frontend/public/locales/en/public.json
Due: none

add i18n for serverless breadcrumbs
  frontend/packages/console-shared/src/hooks/useTabbedTableBreadcrumb.ts
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/models.ts
  frontend/packages/knative-plugin/src/utils/__tests__/fetch-dynamic-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/fetch-dynamic-eventsources-utils.ts
Due: none

minor changes for API
  frontend/public/components/monitoring/alerting.tsx
Due: none

Storage class wide encryption using kms
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/helpers/vault.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/support/vault-standalone.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/kms-encryption-sc.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/common.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/storage-class.ts
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-kms-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
Due: ci/prow/ceph-storage-plugin

frontend/promql: update cluster queries to allow selecting node role
  frontend/packages/console-shared/src/promql/cluster-dashboard.ts
Due: none

fixes: multiline code snippet buttons doesn't work properly
  frontend/packages/console-shared/src/components/markdown-extensions/MarkdownCopyClipboard.tsx
  frontend/packages/console-shared/src/components/markdown-extensions/MarkdownExecuteSnippet.tsx
  frontend/public/components/markdown-view.tsx
Due: none

fixup! Bug 1965391: Skip to 3rd step when SC present
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
  frontend/packages/ceph-storage-plugin/src/types.ts
Due: ci/prow/ceph-storage-plugin

fixes: multiline code snippet buttons doesn't work properly
  frontend/public/components/markdown-view.tsx
Due: none

use <RenderExtension /> in IFrameMarkdownView component
  frontend/__tests__/components/markdown-view.spec.tsx
  frontend/public/components/markdown-view.tsx
Due: none

test: test pseudolocalization of all pages in CRUD tests
  frontend/packages/integration-tests-cypress/tests/crud/k8-openshift-cruds.spec.ts
  frontend/packages/integration-tests-cypress/tests/crud/resource-crud.spec.ts
Due: none

Fix the pipeline triggers scripts
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/pipelines-plugin/integration-tests/cypress.json
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-triggers.feature
  frontend/packages/pipelines-plugin/integration-tests/support/page-objects/pipelines-po.ts
  frontend/packages/pipelines-plugin/integration-tests/support/step-definitions/pipelines/pipelines-triggers.ts
Due: none
