Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Remove flavor and workflow when choosing a template familiy
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/select-template.tsx
Due: ci/prow/kubevirt-plugin

Add tooltip to creat new template kebab action item
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/virtualization.ts
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vm-templates/menu-actions.tsx
  frontend/public/components/utils/kebab.tsx
Due: ci/prow/kubevirt-plugin

gherkin to add certification filter and certified badge in helm catalog-ODC-5840
  frontend/packages/helm-plugin/integration-tests/features/helm/install-helm-chart.feature
Due: none

Topology - Connecting Workloads using Edit Annotations
  frontend/packages/topology/integration-tests/features/topology/topology-connecting-workloads.feature
  frontend/packages/topology/integration-tests/features/topology/topology-editing-workloads.feature
  frontend/packages/topology/integration-tests/support/page-objects/topology-po.ts
  frontend/packages/topology/integration-tests/support/step-definitions/topology/edit-workload.ts
Due: none

fixes scrollbar issue over topology on file drag
  frontend/packages/topology/src/components/page/TopologyView.scss
Due: none

Gherkin: QuickStarts-enhanced-capabilities-ODC-5010
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick-start-access-a-code-snippet.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick-start-in-developer-perspective.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick_start_in_developer_perspective.feature
  frontend/packages/topology/integration-tests/features/topology/quick-search-topology.feature
Due: none

Adds tests for NamespaceStore
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/namespace-store.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/store.ts
Due: ci/prow/ceph-storage-plugin

Fix scrollbar height issue in pod terminal
  frontend/public/components/_terminal.scss
Due: none

Add PVC link to disk table
  frontend/packages/kubevirt-plugin/src/components/vm-disks/disk-row.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-disks/types.ts
Due: ci/prow/kubevirt-plugin

Fix the alignment of success ratio and pipeline run count chart
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineSuccessRatioDonut.tsx
Due: none

update table column classes for pipeline, helm, revision
  frontend/packages/helm-plugin/src/components/details-page/history/HelmReleaseHistoryHeader.tsx
  frontend/packages/helm-plugin/src/components/details-page/resources/HelmReleaseResourcesHeader.tsx
  frontend/packages/helm-plugin/src/components/forms/rollback/RevisionListHeader.tsx
  frontend/packages/helm-plugin/src/components/list-page/HelmReleaseListHeader.tsx
  frontend/packages/knative-plugin/src/components/routes/route-table.ts
  frontend/packages/operator-lifecycle-manager/src/components/k8s-resource.tsx
  frontend/packages/operator-lifecycle-manager/src/components/subscription.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/list-page/pipeline-table.ts
Due: none

Small typos in ssh key dialog
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/CloudInitAuthKeyHelp.tsx
Due: ci/prow/kubevirt-plugin

Make disabled action items not clickable and focusable
  frontend/packages/console-shared/src/components/kebab/KebabItem.tsx
  frontend/public/components/utils/kebab.tsx
Due: none

update table column classes for pipeline, helm, revision
  frontend/packages/helm-plugin/src/components/list-page/HelmReleaseListHeader.tsx
  frontend/packages/operator-lifecycle-manager/src/components/k8s-resource.tsx
  frontend/packages/operator-lifecycle-manager/src/components/subscription.tsx
Due: none

Fix number spinner in NumberSizeInput without default values
  frontend/public/components/utils/request-size-input.tsx
Due: none

Add getting started section to the admin cluster dashboard
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/quick-starts/QuickStartsCatalogCard.scss
  frontend/packages/console-shared/src/components/quick-starts/QuickStartsCatalogCard.tsx
  frontend/packages/console-shared/src/components/quick-starts/__tests__/QuickStartsCatalogCard.spec.tsx
  frontend/packages/console-shared/src/components/quick-starts/quick-starts-catalog-card-constants.ts
  frontend/packages/console-shared/src/constants/common.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/cluster-dashboard.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/cluster-setup-alert-receiver-link.spec.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/cluster-setup-getting-started-card.spec.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/cluster-setup-identity-provider-link.spec.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/explore-admin-features-getting-started-card.spec.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/__tests__/getting-started-section.spec.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/cluster-setup-alert-receiver-link.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/cluster-setup-getting-started-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/cluster-setup-identity-provider-link.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/constants.ts
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/explore-admin-features-getting-started-card.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/getting-started-section.scss
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/getting-started/getting-started-section.tsx
  frontend/public/components/dashboard/dashboards-page/dashboards.tsx
  frontend/public/components/kube-admin-notifier.jsx
  frontend/public/components/monitoring/alert-manager-config.tsx
  frontend/public/components/monitoring/alert-manager-utils.tsx
  frontend/public/components/monitoring/alert-manager-yaml-editor.tsx
  frontend/public/components/monitoring/receiver-forms/alert-manager-receiver-forms.tsx
  frontend/public/components/utils/horizontal-nav.tsx
  frontend/public/locales/en/public.json
Due: none

CONSOLE-2769: Remove console plugin on operator uninstall
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
Due: none

externalization in storage menu navigation
  frontend/__tests__/components/storage-class-form.spec.tsx
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/volume-snapshot/create-volume-snapshot/create-volume-snapshot.tsx
  frontend/public/components/storage-class-form.tsx
  frontend/public/locales/en/public.json
Due: none

Added logs for the Alert Pod on Monitring/Alerts page
  frontend/public/components/monitoring/alert-logs-view.tsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/pod-logs.jsx
  frontend/public/components/utils/horizontal-nav.tsx
Due: none

added typescript and alert-logs-utils file
  frontend/public/components/monitoring/alert-logs-utils.ts
  frontend/public/components/monitoring/alert-logs.jsx
  frontend/public/components/monitoring/alert-logs.tsx
  frontend/public/components/utils/horizontal-nav.tsx
Due: none

converted AlertLogs into a functional component
  frontend/public/components/monitoring/alert-logs.jsx
Due: none

restructured alerts page v2
  frontend/public/components/utils/horizontal-nav.tsx
Due: none

corrected mistake in renaming component
  frontend/public/components/monitoring/alert-logs.jsx
Due: none

sample-commit
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/pod-logs.jsx
Due: none

rebased with upstream and structured alerts page
  frontend/public/components/factory/details.tsx
  frontend/public/components/monitoring/alert-logs.jsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/utils/headings.tsx
  frontend/public/components/utils/horizontal-nav.tsx
Due: none

removed changes in horizontalNav
  frontend/public/components/factory/details.tsx
  frontend/public/components/monitoring/alert-logs.jsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/utils/horizontal-nav.tsx
Due: none

fixed navigation issue on alerts page
  frontend/public/components/monitoring/alert-logs.jsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/utils/horizontal-nav.tsx
Due: none

used type K8sResourceKind and made Details as functional component and other minor fixes
  frontend/public/components/monitoring/alert-details.tsx
  frontend/public/components/monitoring/alert-logs-utils.ts
  frontend/public/components/monitoring/alert-logs.tsx
  frontend/public/components/monitoring/alerting.tsx
Due: none

performed rebase with upstream
  frontend/public/components/monitoring/alerting.tsx
Due: none

moved Details component into alert-details.tsx file
  frontend/public/components/monitoring/alert-details.tsx
  frontend/public/components/monitoring/alert-logs-utils.ts
  frontend/public/components/monitoring/alert-logs.tsx
  frontend/public/components/monitoring/alerting.tsx
Due: none

restructred monitoring alerts page
  frontend/public/components/factory/details.tsx
  frontend/public/components/monitoring/alert-logs-view.tsx
  frontend/public/components/monitoring/alert-logs.jsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/utils/horizontal-nav.tsx
Due: none

corrected useEffect array
  frontend/public/components/monitoring/alert-logs.jsx
Due: none

fixing the frontend test
  frontend/public/locales/en/details-page.json
  frontend/public/locales/en/public.json
Due: none

added translation for alert logs
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlertsRulesDetailsPage.tsx
  frontend/public/components/monitoring/alert-details.tsx
  frontend/public/components/monitoring/alert-logs.tsx
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/locales/en/public.json
Due: none

deleted details-page.json
  frontend/public/locales/en/details-page.json
Due: none

Adds tests for namespace bucket classes
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/mocks/bucket-class.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/bucket-class-spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/create-backing-store.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/tests/namespace-store.spec.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/bc.ts
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/store.ts
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/general-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/namespace-policy-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/backing-store-dropdown.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/namespace-store-dropdown.tsx
Due: ci/prow/ceph-storage-plugin

rebased and fixed silenced by translation
  frontend/public/components/monitoring/alert-details.tsx
  frontend/public/locales/en/public.json
Due: none

fixes terminal loading screen height on safari
  frontend/packages/console-shared/src/components/drawer/Drawer.scss
Due: none

fix_used_capacity_breakdown_pods_status
  frontend/packages/ceph-storage-plugin/src/constants/queries.ts
Due: ci/prow/ceph-storage-plugin

convert kubevirt dashboard extensions to dynamic
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/package.json
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/overview-dashboard/activity.tsx
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/overview-dashboard/health.ts
  frontend/packages/kubevirt-plugin/src/plugin.tsx
Due: ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
