Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin

auto populate app name and resource name
  frontend/packages/dev-console/src/components/import/image-search/ImageStreamTagDropdown.tsx
Due: none

Remove redundant help text
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmChartVersionDropdown.tsx
Due: none

Fix Unique key warning issue in P/PLR details page
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/FinallyNode.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/resource-overview/DynamicResourceLinkList.tsx
Due: none

add inspect url to devconsole monitoring chart
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboardGraph.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/__tests__/MonitoringDashboardGraph.spec.tsx
Due: none

Adding ebs type "gp3" when create storage class
  frontend/public/components/storage-class-form.tsx
Due: none

Bug 1942839: Fix async return
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/vm-disks/disk-summary.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/wintools.ts
  frontend/packages/kubevirt-plugin/src/constants/vm/wintools.ts~a06937e0d0 (Bug 1942839: Fix async return)
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/start-v2vvmware-controller.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/v2vvmware-configmap-validator.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/v2v/v2vvmware-configmap.ts
  frontend/packages/kubevirt-plugin/src/selectors/vm/volume.ts
Due: ci/prow/kubevirt-plugin

Fix 1976217: Make resource details metrics tab cards fixed height and consistent styles
  frontend/public/components/build.tsx
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/pod.tsx
  frontend/public/components/routes.tsx
  frontend/public/components/routes/route-metrics.tsx
  frontend/public/components/utils/_resource-metrics.scss
  frontend/public/components/utils/resource-metrics.tsx
  frontend/public/style.scss
Due: none

add topology panel extension point
  frontend/packages/console-dynamic-plugin-sdk/src/api/topology-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/src/topology/TopologyVmPanel.tsx
  frontend/packages/kubevirt-plugin/src/topology/topology-plugin.ts
  frontend/packages/topology/src/components/page/TopologyView.tsx
  frontend/packages/topology/src/components/side-bar/getSelectedEntityDetails.tsx
Due: ci/prow/kubevirt-plugin

Bug 1986389: Limit the textarea not to exceed the parent window (#9599)
  frontend/public/components/modals/_modals.scss
Due: none

Link to secret if exists instead of showing modal
  frontend/public/components/modals/configure-ns-pull-secret-modal.jsx
  frontend/public/components/namespace.jsx
  frontend/public/locales/en/public.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Due: none

add mirroring card on block-and-file dashboard
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/ocs-system-dashboard.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/mirroring-card/mirroring-card.tsx
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/resources.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
Due: ci/prow/ceph-storage-plugin

Fix translation of add secret description within modal Fix https://bugzilla.redhat.com/show_bug.cgi?id=1985161
  frontend/public/components/modals/add-secret-to-workload.tsx
  frontend/public/locales/en/public.json
Due: none

Fix Cypress OLM global install/create operand flake
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-global.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/views/operator.view.ts
Due: none

update quickstarts to 1.1.0
  frontend/package.json
  frontend/public/components/app.jsx
  frontend/yarn.lock
Due: none

Mark sink title as required form field
  frontend/packages/knative-plugin/src/components/add/event-sources/SinkSection.tsx
Due: none

Final conflict resolution
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlertsRulesDetailsPage.tsx
  frontend/public/components/utils/horizontal-nav.tsx
Due: none

Resolving build error
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlertsRulesDetailsPage.tsx
Due: none

When no issues, show Insights widget content
  frontend/packages/insights-plugin/src/components/InsightsPopup/index.tsx
Due: none

Bug 1969754: Windows vm fail to start. cherry pick from 4.8
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/selectors/selectors.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm/create-vm.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/dev-console/dev-console-create-vm-form.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/wintools.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-v2v-config-map.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/simple-create.ts
  frontend/packages/kubevirt-plugin/src/redux/actions/v2v-config-map-actions.ts
  frontend/packages/kubevirt-plugin/src/redux/index.ts
  frontend/packages/kubevirt-plugin/src/redux/reducers/v2v-config-map-reducer.ts
Due: ci/prow/kubevirt-plugin

redhat provided templates are always supported
  frontend/packages/kubevirt-plugin/src/components/vm-templates/VMTemplateCommnunityLabel.tsx
Due: ci/prow/kubevirt-plugin

Added missing translations to Affinity rules and Toleration rules
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
Due: ci/prow/kubevirt-plugin

use strict promoted template list
  frontend/packages/kubevirt-plugin/src/hooks/use-pinned-templates.ts
Due: ci/prow/kubevirt-plugin

deleting-pvc-inside-pvc-page-the-status
  frontend/public/components/modals/delete-pvc-modal.tsx
  frontend/public/components/persistent-volume-claim.jsx
Due: none

fix to persist yaml editor success message
  frontend/public/components/edit-yaml.jsx
Due: none

Bug 1982653: Internationalize Create Silence form time period dropdown
  frontend/public/components/monitoring/silence-form.tsx
  frontend/public/locales/en/public.json
Due: none

Bug 1983032: localize the start guide and the impersonate banner
  frontend/public/components/_global-notification.scss
  frontend/public/components/impersonate-notifier.jsx
  frontend/public/components/start-guide.tsx
  frontend/public/locales/en/public.json
Due: none

Add button around icon to make it accessibly via keyboard
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineWorkspaceSuggestionIcon.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/PipelineWorkspaceSuggestionIcon.tsx
Due: none

Bug 1986754: Internationalize chip group labels
  frontend/public/components/events.jsx
  frontend/public/locales/en/public.json
Due: none

Show all default pull secrets for a project. Show error if api call to get secrets fails.
  frontend/__tests__/components/namespace.spec.tsx
  frontend/public/components/namespace.jsx
  frontend/public/locales/en/public.json
Due: none

Open current console type when opening in new window
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vms/vm-console/DesktopViewerSelector.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-console/VMConsoles.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-console/connectors/SerialConsoleConnector.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-console/connectors/VncConsoleConnector.tsx
Due: ci/prow/kubevirt-plugin

user supported templates will not show supported flag
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/template-support.spec.ts
Due: ci/prow/kubevirt-plugin

Monitoring dashboards: Remove redundant styling for single stat panels
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/dashboards/single-stat.tsx
Due: none

Some values of container image return as promise
  frontend/packages/kubevirt-plugin/src/utils/validations/vm/disk.ts
Due: ci/prow/kubevirt-plugin

Bug 1984807: Move tooltip 'Restore is only enabled for offline virtual machine' to the button when it's disabled
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshot-row.tsx
Due: ci/prow/kubevirt-plugin

Add error boundary around each route components
  frontend/public/components/utils/horizontal-nav.tsx
Due: none

Uninstall Operator Modal: integrated with 'list-operands' endpoint, added Operands table, 'delete all' checkbox, and k8kill cmds to delete operands
  frontend/packages/console-shared/src/hooks/promise-handler.ts
  frontend/packages/console-shared/src/hooks/useOperands.ts
  frontend/packages/integration-tests-cypress/support/project.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-uninstall.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/views/operator.view.ts
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/operand-link.tsx
  frontend/packages/operator-lifecycle-manager/src/style.scss
  frontend/public/components/_resource.scss
  frontend/public/components/utils/resource-link.tsx
Due: none

handle array to string conversion for HTTPS checkbox value
  frontend/packages/dev-console/src/components/health-checks/__tests__/create-health-check-probe-utils.spec.ts
  frontend/packages/dev-console/src/components/health-checks/create-health-checks-probe-utils.ts
Due: none

Monitoring dashboards: Don't load panels until they scroll into view
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/hooks/useIsVisible.ts
Due: none
