Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin

Changes defaults volume binding mode to Immediate
  frontend/public/components/storage-class-form.tsx
  frontend/public/locales/en/public.json
Due: none

Bug 2001617: Disallow forward jumps for BucketClass Flow
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/backingstore-table.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/create-bc.tsx
Due: ci/prow/ceph-storage-plugin

hide OCS dashboards for ODF managed services
  frontend/packages/ceph-storage-plugin/src/constants/index.ts
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/noobaa-storage-plugin/src/plugin.ts
Due: ci/prow/ceph-storage-plugin

Updated patternfly to v4.125.3 and quickstarts to v1.2.3.
  frontend/package.json
  frontend/packages/console-app/src/components/user-preferences/UserPreferencePage.tsx
  frontend/packages/topology/src/components/quick-search/topology-quick-search-utils.tsx
  frontend/yarn.lock
Due: none

Bug 1990193: Internationalize Search page ToolbarFilter props
  frontend/public/components/search.tsx
Due: none

add test for vm scheduling policy
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/details-bootorder.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/details-scheduling.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/string.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector-tabs.ts
Due: ci/prow/kubevirt-plugin

Hotplug automation. 12 tests.
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disk/hotplug.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/provisionSource.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/dialog.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/vm.ts
Due: ci/prow/kubevirt-plugin

Bug 1999621: Removed ssh_authorized_keys empty array
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/utils/cloudinit-utils.tsx
Due: ci/prow/kubevirt-plugin

parent 0e914b708b6a477ef41dc2313df729fb0cc38efc author Leon Kladnitsky <lkladnit@redhat.com> 1631649293 +0300 committer Leon Kladnitsky <lkladnit@redhat.com> 1632064836 +0300
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disk/validate-rootdisk.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/errorString.ts
Due: ci/prow/kubevirt-plugin

Bug 2005493: CONSOLE-2152: Improve upgrade messaging when ClusterVersion Upgradeable=False
  frontend/__mocks__/clusterVersionMock.ts
  frontend/__tests__/components/cluster-settings.spec.tsx
  frontend/public/components/about-modal.tsx
  frontend/public/components/cluster-settings/_cluster-settings.scss
  frontend/public/components/cluster-settings/cluster-operator.tsx
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/modals/cluster-more-updates-modal.tsx
  frontend/public/components/modals/cluster-update-modal.tsx
  frontend/public/components/utils/index.tsx
  frontend/public/components/utils/release-notes-link.tsx
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/cluster-operator.ts
  frontend/public/module/k8s/cluster-settings.ts
  frontend/public/module/k8s/types.ts
Due: none

always maintain min width as placeholder
  frontend/packages/console-shared/src/components/quick-search/QuickSearchBar.tsx
Due: none

Bug 1981396: Faulty BlockPool status after deletion
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/delete-block-pool-modal.tsx
Due: ci/prow/ceph-storage-plugin

hide OCS dashboard for OCS managed service
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/ocs-dashboards.tsx
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Due: ci/prow/ceph-storage-plugin

update gherkin scripts for 4.9 Release and few more fixes
  frontend/packages/dev-console/integration-tests/cypress.json
  frontend/packages/dev-console/integration-tests/features/addFlow/add-page.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-devfile.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-git.feature
  frontend/packages/dev-console/integration-tests/features/e2e/add-flow-ci.feature
  frontend/packages/dev-console/integration-tests/package.json
  frontend/packages/dev-console/integration-tests/support/commands/app.ts
  frontend/packages/dev-console/integration-tests/support/commands/hooks.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-docker-file.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-git.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/page-details.ts
  frontend/packages/dev-console/integration-tests/testData/add-flow/git-dc.yaml
Due: none

Cluster operators don't show messages
  frontend/public/module/k8s/cluster-operator.ts
Due: none

add newline at end of json
  frontend/public/locales/en/dashboard.json
Due: none

Bug 2001604: BreadCrumbs and OCS/ODF naming fixes
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/create-bc.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/create-bs-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/create-namespace-store.tsx
Due: ci/prow/ceph-storage-plugin

Fix clusterNetwork only selection issue with OCS
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-request-data.ts
Due: ci/prow/ceph-storage-plugin

Active Health Checks cleanup chores
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/status-card/status-card.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/HealthItem.tsx
  frontend/packages/console-shared/src/components/status/SecondaryStatus.tsx
Due: ci/prow/ceph-storage-plugin

Bug 2005232: ListPageCreate component should create accessReview if its undefined
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/public/components/factory/ListPage/ListPageCreate.tsx
Due: none

Fix 2003120: Prevent null references and "ResizeObserver loop limit exceeded" errors in IFrameMarkdownView
  frontend/public/components/app.jsx
  frontend/public/components/markdown-view.tsx
Due: none

Typo fix:
  frontend/public/components/network-policy.tsx
  frontend/public/locales/en/public.json
Due: none

fix issue with standalone dashboards
  frontend/packages/ceph-storage-plugin/src/components/dashboards/ocs-system-dashboard.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/odf-system-dashboard.tsx
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Due: ci/prow/ceph-storage-plugin

Rephrased the test cases as it was confusing
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-navigation.feature
Due: none

fix routing issue with resources horizontal nav tabs
  frontend/packages/ceph-storage-plugin/console-extensions.json
Due: ci/prow/ceph-storage-plugin

Automation for Hotplug UI
  frontend/packages/kubevirt-plugin/integration-tests-cypress/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/provisionSource.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/dialog.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/vm.ts
Due: ci/prow/kubevirt-plugin

chore(i18n): update translations
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
Due: ci/prow/kubevirt-plugin

Bring app pages alignment closer to PF4 page structure so that less overrides are needed and do not interfere with default PF component usage. Relates to dynamic plugin override issues
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/cypress-ceph.json
  frontend/packages/integration-tests-cypress/cypress.json
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/cypress-olm.json
  frontend/public/components/_notification-drawer.scss
  frontend/public/components/app-contents.tsx
  frontend/public/components/app.jsx
  frontend/public/style/_layout.scss
  frontend/public/style/_overrides.scss
Due: ci/prow/ceph-storage-plugin

Bug 1999836: Add 'Unavailable' status for cluster operator
  frontend/public/components/cluster-settings/cluster-operator.tsx
  frontend/public/module/k8s/cluster-operator.ts
Due: none

Bug 1998235: Set csrf-token and openshift-session-token cookies SameSite attribute to Lax
  pkg/auth/auth.go
  pkg/auth/auth_openshift.go
Due: none

Upgrade webpack 4.x dependencies
  frontend/package.json
  frontend/packages/integration-tests-cypress/tsconfig.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tsconfig.json
  frontend/webpack.config.ts
  frontend/yarn.lock
Due: ci/prow/kubevirt-plugin

Update glslify-loader to 2.0.0
  frontend/package.json
Due: none

Bug 1993916: Visual feedback on OBC deletion
  frontend/packages/ceph-storage-plugin/src/components/object-bucket-claim-page/object-bucket-claim.tsx
  frontend/public/components/utils/kebab.tsx
Due: ci/prow/ceph-storage-plugin
