Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Prune empty values before switching to yaml or submitting form
  frontend/packages/console-shared/src/components/formik-fields/SyncedEditorField.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradeForm.tsx
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradePage.tsx
Due: none

Fix machine page columns visibility
  frontend/public/components/factory/Table/VirtualizedTable.tsx
  frontend/public/components/factory/Table/active-columns-hook.ts
  frontend/public/components/machine.tsx
  frontend/public/components/pod.tsx
Due: none

Bug 1999404: add test for rootdisk validation
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-rootdisk.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/template-rhel9.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/errorString.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/provisionSource.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/dialog.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector-wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector.ts
Due: ci/prow/kubevirt-plugin

removes techpreview badge from RH Camel K integration operator
  frontend/packages/knative-plugin/src/components/add/EventSourcePage.tsx
  frontend/packages/knative-plugin/src/models.ts
Due: none

Setting the user settings to localstorage
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/helm-plugin/integration-tests/.eslintrc
  frontend/packages/helm-plugin/integration-tests/support/commands/hooks.ts
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/helm-details-page.ts
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/upgrade-helm-release-page.ts
Due: none

Expandable section in mirroring card is empty when no image found under a pool
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/mirroring-card.tsx
Due: ci/prow/ceph-storage-plugin

avoid setting lastViewedEditorType
  frontend/packages/console-shared/src/components/synced-editor/useEditorType.ts
Due: none

Fix over-rendering of the upstream configuration details item
  frontend/packages/console-shared/src/constants/common.ts
  frontend/public/components/cluster-settings/cluster-version.tsx
  frontend/public/components/modals/configure-cluster-upstream-modal.tsx
  frontend/public/components/utils/details-page.tsx
Due: none

Console 2271: allow for configuring upstream server for air gapped envs
  frontend/packages/console-shared/src/constants/common.ts
  frontend/public/components/cluster-settings/cluster-settings.tsx
  frontend/public/components/modals/configure-cluster-upstream-modal.tsx
  frontend/public/components/modals/index.ts
  frontend/public/components/utils/details-page.tsx
  frontend/public/locales/en/public.json
Due: none

Bug 2000576: Change MCG only deployment payload
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
Due: ci/prow/ceph-storage-plugin

Bug 1999648: Remove remaining Storage Class string
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/modals/clone/clone-pvc-modal.tsx
Due: none

Cloudinit editor fields
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/cloud-init.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector-wizard.ts
Due: ci/prow/kubevirt-plugin

Bug 1998616: Add clusterwide hostname to Service details page
  frontend/public/components/service.jsx
Due: none

Fix status of StorageSystem in list page
  frontend/packages/ceph-storage-plugin/src/components/odf-system/odf-system-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-system/utils.ts
  frontend/packages/ceph-storage-plugin/src/queries/odf-queries.ts
Due: ci/prow/ceph-storage-plugin

Bug 1988905: External mode deployments fails on parsing json in ODF wizard
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-steps.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/review-and-create-step/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/red-hat-ceph-storage/index.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/red-hat-ceph-storage/index.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/types.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/use-fetch-csv.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/external-mode/utils.ts
Due: ci/prow/ceph-storage-plugin

Bug 2000391: review kubevirt skipped tests
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/custom-template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/advanced-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/empty-state.spec.ts
Due: ci/prow/kubevirt-plugin

fix issues in add capacity modal
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.scss
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
Due: ci/prow/ceph-storage-plugin

Created seperate spec for CI purpose
  frontend/packages/helm-plugin/integration-tests/features/helm-release.feature
  frontend/packages/helm-plugin/integration-tests/package.json
Due: none

fix user preference for language and sync with local storage
  frontend/packages/ceph-storage-plugin/src/utils/common.tsx
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/detect-language/DetectLanguage.tsx
  frontend/packages/console-app/src/components/quick-starts/utils/quick-start-context.tsx
  frontend/packages/console-app/src/components/user-preferences/language/LanguageDropdown.scss
  frontend/packages/console-app/src/components/user-preferences/language/LanguageDropdown.tsx
  frontend/packages/console-app/src/components/user-preferences/language/__tests__/LanguageDropdown.spec.tsx
  frontend/packages/console-app/src/components/user-preferences/language/const.ts
  frontend/packages/console-app/src/components/user-preferences/language/getLastLanguage.ts
  frontend/packages/console-app/src/components/user-preferences/language/index.ts
  frontend/packages/console-app/src/components/user-preferences/language/useLanguage.ts
  frontend/packages/console-app/src/components/user-preferences/language/usePreferredLanguage.ts
  frontend/public/components/app.jsx
  frontend/public/components/utils/datetime.ts
  frontend/public/i18n.js
Due: ci/prow/ceph-storage-plugin

detect managed ODF when operator is installed
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Due: ci/prow/ceph-storage-plugin

check only flag to decide if Project or Namespace
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/create-namespace.spec.ts
  frontend/public/components/utils/list-dropdown.jsx
Due: none

override list style for toast
  frontend/packages/console-shared/src/components/toast/ToastProvider.scss
  frontend/packages/console-shared/src/components/toast/ToastProvider.tsx
Due: none

Use user token for listing operator's operands
  pkg/server/operands_handler.go
  pkg/server/server.go
  vendor/OWNERS
Due: none

fix: use ip address to access flashsystem
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/index.tsx
Due: ci/prow/ceph-storage-plugin

fix observer dashboard variables when screen size is reduced
  frontend/packages/dev-console/src/components/monitoring/MonitoringPage.scss
  frontend/packages/dev-console/src/components/monitoring/MonitoringPage.tsx
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/dashboards/index.tsx
Due: none

fix react warnings while loading topology page
  frontend/packages/dev-console/src/plugin.tsx
  frontend/packages/helm-plugin/src/utils/helm-utils.ts
  frontend/packages/topology/src/__tests__/TopologyPage.spec.tsx
  frontend/packages/topology/src/components/graph-view/Topology.tsx
  frontend/packages/topology/src/components/list-view/TopologyListView.tsx
  frontend/packages/topology/src/components/page/TopologyPage.tsx
Due: none

ODC-6132:Automation to verify the href url's from the quick starts
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick-start-devperspective.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/quickStarts-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/quck-starts/quick-start-devperspective.ts
Due: none

react fragment around function component
  frontend/packages/topology/src/components/graph-view/components/nodeContextMenu.tsx
Due: none

Adding test cases for Pipeline run details page as part of PAC
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-as-code.feature
Due: none

Uninstall Operator Modal: integrated with 'list-operands' endpoint, added Operands table, 'delete all' checkbox, and k8kill cmds to delete operands
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/promise.ts
  frontend/packages/console-shared/src/hooks/promise-handler.ts
  frontend/packages/console-shared/src/hooks/useOperands.ts
  frontend/packages/integration-tests-cypress/support/project.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-uninstall.spec.ts
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/views/operator.view.ts
  frontend/packages/operator-lifecycle-manager/locales/en/olm.json
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/modals/uninstall-operator-modal.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/operand-link.tsx
  frontend/packages/operator-lifecycle-manager/src/style.scss
  frontend/public/components/utils/resource-link.tsx
Due: none

fix install operator description iframe
  frontend/__tests__/components/markdown-view.spec.tsx
  frontend/packages/helm-plugin/src/components/details-page/__tests__/HelmReleaseNotes.spec.tsx
  frontend/packages/helm-plugin/src/topology/__tests__/TopologyHelmReleasePanel.spec.tsx
  frontend/public/components/markdown-view.tsx
Due: none

dismiss toast if export cr gives 404
  frontend/packages/console-shared/src/components/toast/ToastContext.tsx
  frontend/packages/console-shared/src/components/toast/ToastProvider.tsx
  frontend/packages/console-shared/src/components/toast/__tests__/ToastProvider.spec.tsx
  frontend/packages/topology/src/components/export-app/export-app-context.ts
Due: none

update gherkin scripts to include language preference
  frontend/packages/dev-console/integration-tests/features/user-preferences/user-preferences-dev-perspective.feature
Due: none

reload entered data if any when switching strategy
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/edit-deployment/deployment-strategy/DeploymentStrategySection.tsx
  frontend/packages/dev-console/src/components/edit-deployment/deployment-strategy/advanced-options/ExecNewPodForm.tsx
  frontend/packages/dev-console/src/components/edit-deployment/utils/edit-deployment-utils.ts
Due: none

Add an alert for the domain mapping linked with other knative service
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/serverless/ServerlessRouteSection.tsx
  frontend/packages/dev-console/src/components/import/serverless/__tests__/ServerlessRouteSection.spec.tsx
  frontend/packages/dev-console/src/components/import/serverless/__tests__/serverless-utils.data.ts
  frontend/packages/dev-console/src/components/import/serverless/__tests__/serverless-utils.spec.ts
  frontend/packages/dev-console/src/components/import/serverless/serverless-utils.ts
  frontend/packages/dev-console/src/components/import/validation-schema.ts
  frontend/packages/knative-plugin/src/utils/create-knative-utils.ts
Due: none

Update alert info on dockerfile/devfile validation
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/ImportStrategySection.tsx
  frontend/packages/dev-console/src/components/import/ImportStrategySelector.tsx
  frontend/packages/dev-console/src/components/import/builder/BuilderSection.tsx
  frontend/packages/dev-console/src/components/import/devfile/DevfileStrategySection.tsx
  frontend/packages/dev-console/src/components/import/git/DockerSection.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/dev-console/src/components/import/import-types.ts
Due: none

Set required data on strategy select when multiple strategies exist
  frontend/packages/dev-console/src/components/import/builder/BuilderSection.tsx
  frontend/packages/dev-console/src/components/import/devfile/DevfileStrategySection.tsx
  frontend/packages/dev-console/src/components/import/git/DockerSection.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
Due: none

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
