Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

show context menu for application group
  frontend/packages/topology/src/components/graph-view/components/componentFactory.ts
Due: none

Re-enable testcase which checks for "Import from Git" action
  frontend/packages/dev-console/integration-tests/features/addFlow/add-page.feature
  frontend/packages/dev-console/integration-tests/support/constants/add.ts
  frontend/packages/dev-console/integration-tests/support/constants/topology.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/create-from-devfile.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/addFlow/page-details.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/userPreferences/user-preferences-dev-perspective.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-actions-page.ts
Due: none

fix project dashboard resource quota test
  frontend/integration-tests/tests/dashboards/project-dashboard.scenario.ts
Due: none

RoleBindings tab doesn' show correct rolebindings
  frontend/public/components/factory/table-filters.ts
Due: none

Bug 1946232: VM List high CPU usage
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vm-status/lazy-vm-status.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-status/use-vm-status-resources.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/table-filters.ts
  frontend/packages/kubevirt-plugin/src/components/vms/vm-page-new.tsx
  frontend/packages/kubevirt-plugin/src/constants/vm/vm-status.ts
  frontend/packages/kubevirt-plugin/src/statuses/vm/vm-status.ts
Due: ci/prow/kubevirt-plugin

Bug 2034647: missing volumes list in snapshot modal
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/SupportedSnapshotVolumesList.tsx
Due: ci/prow/kubevirt-plugin

Migrate last k8s reducer to SDK and revert sdkK8s back to k8s
  frontend/packages/console-dynamic-plugin-sdk/src/api/common-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/actions/k8s.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/reducers/k8s.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/k8s/reducers/k8sSelector.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/redux-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/redux.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-init.ts
  frontend/packages/console-dynamic-plugin-sdk/src/types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sWatchResources.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/k8s-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/models.ts
  frontend/packages/dev-console/src/components/monitoring/alerts/MonitoringAlerts.tsx
  frontend/packages/kubevirt-plugin/src/utils/redux/id-reference.ts
  frontend/public/actions/k8s.ts
  frontend/public/components/monitoring/alerting.tsx
  frontend/public/components/utils/firehose.jsx
  frontend/public/module/k8s/get-resources.ts
  frontend/public/reducers/features.ts
  frontend/public/reducers/k8s.ts
  frontend/public/redux.ts
Due: ci/prow/kubevirt-plugin

Additional checks for PVC's existence
  frontend/packages/kubevirt-plugin/src/statuses/template/template-source-status.ts
Due: ci/prow/kubevirt-plugin

add support for new labels for serverless function
  frontend/packages/knative-plugin/src/const.ts
  frontend/packages/knative-plugin/src/topology/knative-topology-utils.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knative-topology-utils.spec.ts
Due: none

Bug 2015422: No conflict checking on snapshot name
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/SnapshotsModal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshots.tsx
  frontend/packages/kubevirt-plugin/src/utils/validations/vm/snapshot.ts
Due: ci/prow/kubevirt-plugin

Bug 2034640: cant delete VM with un-owned pvc attached
  frontend/packages/kubevirt-plugin/src/hooks/use-owned-volume-referenced-resources.ts
Due: ci/prow/kubevirt-plugin

Bug 2034829: cant delete VM with un-owned pvc attached
  frontend/packages/kubevirt-plugin/src/hooks/use-owned-volume-referenced-resources.ts
Due: ci/prow/kubevirt-plugin

Bug 1992580: storageProfile should stay with the same value by check/uncheck the apply button
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/AccessMode/AccessModeSelector.tsx
  frontend/packages/kubevirt-plugin/src/components/VolumeMode/VolumeModeSelector.tsx
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
Due: ci/prow/kubevirt-plugin

Add support to show platform supported tektonhub tasks in pipeline builder
  frontend/packages/pipelines-plugin/src/components/catalog/__tests__/catalog-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/catalog/catalog-utils.ts
  frontend/packages/pipelines-plugin/src/components/catalog/providers/useTekonHubTasksProvider.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/PipelineQuickSearchVersionDropdown.spec.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/PipelineQuicksearchDetails.spec.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/pipeline-quicksearch-utils.spec.ts
  frontend/packages/pipelines-plugin/src/test-data/catalog-item-data.ts
  frontend/packages/pipelines-plugin/src/test-data/event-listener-data.ts
  frontend/packages/pipelines-plugin/src/types/tektonHub.ts
Due: none

chore(i18n): update translations
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/ko/topology.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Due: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Add unit tests
  frontend/packages/topology/src/components/side-bar/TopologyEdgeResourcesPanel.tsx
  frontend/packages/topology/src/components/side-bar/__tests__/TopologyEdgeResourcesPanel.spec.tsx
  frontend/packages/topology/src/components/side-bar/__tests__/topology-edge-resources-panel-data.ts
Due: none

Bug 2035348: Fix two grammar issues in kubevirt-plugin
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/RowActions.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/menu-actions.tsx
Due: ci/prow/kubevirt-plugin

Disable StorageSystem List page based on CSV annotations Disable Add Capacity Modal based on CSV annotations Replace all references to Guarded Features
  frontend/packages/ceph-storage-plugin/src/actions/csv-actions.ts
  frontend/packages/ceph-storage-plugin/src/components/block-pool/body.tsx
  frontend/packages/ceph-storage-plugin/src/components/block-pool/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/modals/edit-backingstore-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/wizard-pages/general-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/capacity-and-nodes-step/capacity-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/create-local-volume-set-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/review-and-create-step/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/security-and-network-step/encryption.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/security-and-network-step/security-and-network-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/vault-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/block-pool-modal/modal-footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/configure-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/create-storage-class/create-storage-class-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/storage-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-wizard/configure.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/configure.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/review-and-create.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard-steps/select-capacity-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-thick-provisioner.tsx
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Due: ci/prow/ceph-storage-plugin

Windows machine can be created with import URL
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/types.ts
Due: ci/prow/kubevirt-plugin

Bug 2019647: "Remove favorite" and "Create new Template" should be disabled
  frontend/packages/kubevirt-plugin/src/components/vm-templates/menu-actions.tsx
Due: ci/prow/kubevirt-plugin

kubevirt: updates tests for downstream
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/action.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/template-tabs.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-a/custom-template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-a/customize-source.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-a/dashboard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-a/details.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-a/nad.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-a/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-a/template-resource.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/empty-state.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/validate-storage-profile.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-b/validate-virtio-win-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/customize-source.ts
Due: ci/prow/kubevirt-plugin

add pipeline task hubURL link
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/catalog/const.ts
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearchDetails.scss
  frontend/packages/pipelines-plugin/src/components/quicksearch/PipelineQuickSearchDetails.tsx
  frontend/packages/pipelines-plugin/src/components/quicksearch/__tests__/PipelineQuicksearchDetails.spec.tsx
  frontend/packages/pipelines-plugin/src/test-data/catalog-item-data.ts
Due: none

Bug 2034248: GPU/Host device modal is too small
  frontend/packages/kubevirt-plugin/src/components/modals/hardware-devices/HardwareDevicesModal.tsx
Due: ci/prow/kubevirt-plugin

Bug 2035264: [RFE] Provide a proper message for nonpriv user who not able to add PCI devices
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
Due: ci/prow/kubevirt-plugin

Bug 2034647 - missing volumes list in snapshot modal
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/SupportedSnapshotVolumesList.tsx
Due: ci/prow/kubevirt-plugin

Automation and gherkin for Serverless Usability Improvements
  frontend/packages/dev-console/integration-tests/features/monitoring/dashboard-display.feature
  frontend/packages/dev-console/integration-tests/support/constants/add.ts
  frontend/packages/dev-console/integration-tests/support/constants/pageTitle.ts
  frontend/packages/dev-console/integration-tests/support/constants/topology.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/monitoring-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/functions/createBroker.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/monitoring/dashboard-display.ts
  frontend/packages/knative-plugin/integration-tests/features/eventing/create-event-sources.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-broker-trigger.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-channel-subscription.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-channel.feature
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/create-event-sources.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/eventing-broker-trigger.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/eventing-channel-subscription.ts
  frontend/packages/knative-plugin/integration-tests/support/step-definitions/eventing/eventing-channel.ts
  frontend/packages/knative-plugin/src/components/add/event-sources/ApiServerSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/ContainerSourceSection.tsx
  frontend/packages/knative-plugin/src/components/add/event-sources/SinkBindingSection.tsx
Due: none

Add ability to modify the URL of the URL decorator in Topology
  frontend/packages/dev-console/src/components/import/__mocks__/deployImage-validation-mock.ts
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils.spec.ts
  frontend/packages/dev-console/src/utils/__tests__/__snapshots__/shared-submit-utils.spec.ts.snap
  frontend/packages/dev-console/src/utils/resource-label-utils.ts
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/UrlDecorator.tsx
  frontend/packages/topology/src/components/graph-view/components/nodes/decorators/__tests__/URLDecorator.spec.tsx
  frontend/packages/topology/src/const.ts
Due: none

Bug 2030534: Node selector/tolerations rules are evaluated too early
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/shared/hooks.ts
Due: ci/prow/kubevirt-plugin

Added try and catch block to prevent crash
  frontend/packages/kubevirt-plugin/src/constants/vm/wintools.ts
Due: ci/prow/kubevirt-plugin

Use PF Title comp in popover
  frontend/packages/console-shared/src/components/popover/Popover.tsx
Due: none

Support OB/C pages for Ceph Standalone Mode if RGW is present
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/src/components/object-bucket-claim-page/object-bucket-claim.tsx
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Due: ci/prow/ceph-storage-plugin

Missing T function for translation
  frontend/packages/kubevirt-plugin/src/components/form/k8s-resource-select-row.tsx
Due: ci/prow/kubevirt-plugin

fix modal list style type
  frontend/public/components/factory/modal.tsx
Due: none

Add webhook resources in git import pipeline flow
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils-data.ts
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils.spec.ts
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/submit-utils.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/PipelineOverview.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/TriggerResourceLinks.scss
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/TriggerResourceLinks.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/TriggersOverview.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-overview/__tests__/TriggersOverview.spec.tsx
Due: none

Removed the check for windows machines
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/storage-tab-state-update.ts
Due: ci/prow/kubevirt-plugin

Added RHEL 9 as pinned template
  frontend/packages/kubevirt-plugin/src/constants/vm/constants.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-pinned-templates.ts
Due: ci/prow/kubevirt-plugin

Fix TypeError when application has HelmRelease
  frontend/packages/topology/src/components/application-panel/TopologyApplicationResources.tsx
Due: none

Bug 2035772: AccessMode and VolumeMode is not reserved for customize wizard
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/initial-state/storage-tab-initial-state.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm/create-vm.tsx
  frontend/packages/kubevirt-plugin/src/types/url.ts
  frontend/packages/kubevirt-plugin/src/utils/url.ts
Due: ci/prow/kubevirt-plugin

Bug 2035933: volume mode and access mode are empty in customize wizard review tab
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
Due: ci/prow/kubevirt-plugin

Bug 2035141: [RFE] Show GPU/Host devices in template's details tab
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/hardware-devices/GPUDeviceModal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/hardware-devices/HardwareDevicesModal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/hardware-devices/HostDevicesModal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/utils/pending-changes.ts
Due: ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
