Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin

enable redux store context in SDK from app host
  dynamic-demo-plugin/yarn.lock
  frontend/package.json
  frontend/packages/console-dynamic-plugin-sdk/@types/sdk/index.d.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/AppInitSDK.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/__tests__/AppInitSDK.spec.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/actions/core.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/reducers/__tests__/core.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/reducers/__tests__/utils/reducerTest.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/reducers/core.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/redux-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/redux.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/storeHandler.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/useReduxStore.ts
  frontend/packages/console-dynamic-plugin-sdk/src/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules-init.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/redux.ts
  frontend/packages/console-dynamic-plugin-sdk/tsconfig-base.json
  frontend/public/components/app.jsx
  frontend/public/module/k8s/cluster-settings.ts
  frontend/public/module/k8s/index.ts
  frontend/public/reducers/features.ts
  frontend/public/redux.ts
  frontend/yarn.lock
Due: none

add support for form/yaml switcher for channels
  frontend/packages/knative-plugin/src/components/add/channels/AddChannel.tsx
  frontend/packages/knative-plugin/src/components/add/channels/ChannelForm.tsx
  frontend/packages/knative-plugin/src/components/add/channels/form-fields/ChannelSelector.tsx
  frontend/packages/knative-plugin/src/components/add/channels/form-fields/ChannelYamlEditor.tsx
  frontend/packages/knative-plugin/src/components/add/channels/sections/DefaultChannelSection.tsx
  frontend/packages/knative-plugin/src/components/add/channels/sections/KafkaChannelSection.tsx
  frontend/packages/knative-plugin/src/components/add/eventSource-validation-utils.ts
  frontend/packages/knative-plugin/src/components/add/import-types.ts
  frontend/packages/knative-plugin/src/utils/__tests__/create-channel-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/create-channel-utils.ts
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
Due: none

kubevirt: add mac spoof check for nad
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tier1-a/nad.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/nad.ts
Due: ci/prow/kubevirt-plugin

Fix getting started card links
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/getting-started-card/FeatureHighlightsCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/getting-started-card/RecommendedOperatorsCard.tsx
Due: ci/prow/kubevirt-plugin

Missing SSH text change
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/ssh-service/SSHCreateService/SSHCreateService.tsx
Due: ci/prow/kubevirt-plugin

migrate k8s hooks to SDK
  frontend/packages/console-dynamic-plugin-sdk/src/api/core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sModel.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/k8s/hooks/useK8sModels.ts
  frontend/packages/console-shared/src/hooks/useK8sModel.ts
  frontend/packages/console-shared/src/hooks/useK8sModels.ts
Due: none

fixing tests
  frontend/packages/dev-console/src/components/catalog/providers/__tests__/useDevfileSamples.spec.ts
Due: none

Remove Tech preview badge for the triggers component for triggers GA operator (1.6)
  frontend/packages/pipelines-plugin/src/components/pipelines/ClusterTriggerBindingPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/EventListenerPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/TriggerBindingPage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/TriggerTemplatePage.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/utils/pipeline-operator.ts
  frontend/packages/pipelines-plugin/src/components/triggers-lists/TriggersPage.tsx
  frontend/packages/pipelines-plugin/src/models/pipelines.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/hooks.spec.ts
  frontend/packages/pipelines-plugin/src/utils/hooks.ts
Due: none

Add script for fetching published Console plugin SDK packages
  frontend/packages/console-dynamic-plugin-sdk/README.md
  frontend/packages/console-dynamic-plugin-sdk/get-published-package.sh
Due: none

address review comments
  pkg/devfile/sample.go
  pkg/server/devfile-handler.go
Due: none

bump pf package versions to get maxMenuHeight fix
  frontend/package.json
  frontend/packages/console-shared/src/components/namespace/NamespaceDropdown.scss
  frontend/packages/console-shared/src/components/namespace/NamespaceDropdown.tsx
  frontend/yarn.lock
Due: none

Bug fix
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetails.scss
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetails.tsx
Due: none

Add quick search to add page
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/add/AddPageLayout.scss
  frontend/packages/dev-console/src/components/add/AddPageLayout.tsx
Due: none

Removed exact on CreateResource route
  frontend/public/components/app-contents.tsx
Due: none

delete modal not showing in Delete Export action
  frontend/packages/operator-lifecycle-manager/src/actions/csv-actions.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/index.tsx
  frontend/public/components/modals/delete-modal.tsx
Due: none

add extension to override builder image envs
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/import-environments.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-git.feature
  frontend/packages/dev-console/integration-tests/support/constants/global.ts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/add-page.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/addFlow.ts
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/builder/BuilderImageEnvironments.tsx
  frontend/packages/dev-console/src/components/import/builder/BuilderImageTagSelector.tsx
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/integration-tests-cypress/views/details-page.ts
  frontend/packages/topology/integration-tests/support/pages/topology/topology-side-pane-page.ts
Due: none

Bug 2023781: initial hardware devices is not loading in wizard
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/vm-settings-tab.tsx
Due: ci/prow/kubevirt-plugin

Add Dev Preview tag for IBM FlashSystem
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/index.ts
Due: ci/prow/ceph-storage-plugin

Fix backingstore and namespacestore table css
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/_backingstore-table.scss
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/namespace-store-table.scss
Due: ci/prow/ceph-storage-plugin

Bug 2024115: Remove logging from proxy package
  pkg/proxy/proxy.go
Due: none

add i18n for helm release notes tab name
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradePage.tsx
Due: none

Migrate from Node Sass to Dart Sass
  frontend/package.json
  frontend/yarn.lock
Due: none

Remove python3 and node headers from Dockerfile.product
  Dockerfile.product
Due: none

Remove SKIP_SASS_BINARY_DOWNLOAD_FOR_CI from Dockerfile.product
  Dockerfile.product
Due: none

Improved label matching, added more options for registrey suggestions
  frontend/packages/kubevirt-plugin/src/components/form/helper/container-source-help.tsx
  frontend/packages/kubevirt-plugin/src/utils/strings.ts
Due: ci/prow/kubevirt-plugin

use prometheus tenancy URL to load data in devconsole observe dashboard
  frontend/public/components/monitoring/dashboards/bar-chart.tsx
  frontend/public/components/monitoring/dashboards/graph.tsx
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/dashboards/single-stat.tsx
  frontend/public/components/monitoring/dashboards/table.tsx
Due: none

Bug 2015806: Fix resource metrics 403 errors for project admin users
  frontend/packages/console-shared/src/promql/resource-metrics.ts
  frontend/packages/dev-console/src/components/monitoring/queries.ts
  frontend/public/components/utils/resource-metrics.tsx
Due: none

Bug 2024220: Cluster monitoring checkbox flickers when installing Operator in all-namespace mode
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
Due: none

Remove deprecated use of / for division in Sass
  frontend/public/components/_build-pipeline.scss
  frontend/public/components/sidebars/_resource-sidebar.scss
Due: none

Create Virtualization Overview Inventory Card
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-types.ts
  frontend/packages/console-shared/src/components/dashboard/inventory-card/InventoryItem.tsx
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/dashboards-page/vm-dashboard/vm-status-card.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/VirtualizationOverviewPage.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/ResourcesSection.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/VMStatusInventoryItem.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/VirtOverviewInventoryCard.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/VmStatusesSection.tsx
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/virt-overview-inventory-card.scss
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/vm-status-inventory-item.scss
  frontend/packages/kubevirt-plugin/src/components/virtualization-overview/inventory-card/vm-statuses-section.scss
  frontend/packages/kubevirt-plugin/src/components/vm-status/lazy-vm-status.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-status/vm-status.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/utils.ts
  frontend/packages/kubevirt-plugin/src/components/vm-templates/vm-template.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-page-new.tsx
Due: ci/prow/kubevirt-plugin

Fixed card width and minor bug
  frontend/packages/gitops-plugin/src/components/details/GitOpsDetails.scss
  frontend/packages/gitops-plugin/src/components/details/GitOpsResourcesSection.tsx
Due: none

Code reviw comments - create new files for APIs that will migrate
  frontend/packages/console-dynamic-plugin-sdk/src/api/core-api-console.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/dynamic-core-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api-console.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api.ts
Due: none

Monitoring: Fix destructure of undefined error on rule details page
  frontend/public/components/monitoring/alerting.tsx
Due: none

Add debugging to reduce openapi/swagger calls in a 2nd step
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch.ts
  frontend/packages/kubevirt-plugin/src/flags/detect-kubevirt-virtual-machines.ts
  frontend/public/actions/k8s.ts
  frontend/public/components/app.jsx
  frontend/public/module/k8s/swagger.ts
Due: ci/prow/kubevirt-plugin

create kms resources for IBM FlashSystem storage
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
Due: ci/prow/ceph-storage-plugin

Bug 2024535: hotplug disk missing OwnerReference
  frontend/packages/kubevirt-plugin/src/components/modals/delete-disk-modal/delete-disk-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/disk-modal/disk-modal.tsx
Due: ci/prow/kubevirt-plugin

expose reducers from SDK and consume in console
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTerminal.tsx
  frontend/packages/console-app/src/components/cloud-shell/setup/CloudShellDeveloperSetup.tsx
  frontend/packages/console-dynamic-plugin-sdk/README.md
  frontend/packages/console-dynamic-plugin-sdk/package.json
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-pkg-assets.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/package-definitions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/host-app-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/actions/core.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/reducers/__tests__/core.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/reducers/core.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/core/reducers/coreSelector.ts
  frontend/packages/console-dynamic-plugin-sdk/src/app/redux-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/lib-host-app.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules-init.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/tsconfig-host-app.json
  frontend/packages/console-shared/src/components/actions/menu/ActionMenuItem.tsx
  frontend/packages/console-shared/src/hooks/useUserSettings.ts
  frontend/packages/dev-console/src/components/monitoring/alerts/SilenceDurationDropdown.tsx
  frontend/packages/pipelines-plugin/src/components/pipelineruns/triggered-by/hooks.ts
  frontend/public/actions/common.ts
  frontend/public/actions/features.ts
  frontend/public/actions/k8s.ts
  frontend/public/actions/ui.ts
  frontend/public/components/app.jsx
  frontend/public/components/edit-yaml.jsx
  frontend/public/components/environment.jsx
  frontend/public/components/impersonate-notifier.jsx
  frontend/public/components/masthead-toolbar.jsx
  frontend/public/components/monitoring/silence-form.tsx
  frontend/public/components/pod-exec.jsx
  frontend/public/components/utils/kebab.tsx
  frontend/public/components/utils/rbac.tsx
  frontend/public/reducers/ui.ts
  frontend/public/redux.ts
Due: none

CNV-13716: Update VM Snapshots UI
  frontend/packages/kubevirt-plugin/src/components/modals/snapshot-modal/SnapshotsModal.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-snapshots/vm-snapshots.tsx
  frontend/packages/kubevirt-plugin/src/selectors/disks/hotplug.ts
Due: ci/prow/kubevirt-plugin

SSH Key will now move from simple to advanced wizard when clicking customize
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/state-update/advanced-tab-state-update.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/utils.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/selectors/immutable/wizard-selectors.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/Cloudinit.tsx
  frontend/packages/kubevirt-plugin/src/utils/validations/cloudint-utils.ts
Due: ci/prow/kubevirt-plugin
