Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

add monitoring tab to the topology side panel
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/src/components/topology/index.ts
  frontend/packages/dev-console/src/components/topology/observe-tab-section.tsx
  frontend/packages/helm-plugin/console-extensions.json
Due: none

fix i18n errors in BuildOverview component
  frontend/packages/topology/locales/en/topology.json
  frontend/packages/topology/src/components/workload/BuildOverview.tsx
Due: none

refactor useBuildsConfigWatcher to use useMemo instead of useState
  frontend/packages/console-shared/src/hooks/useBuildConfigsWatcher.ts
Due: none

remove dead code from topology resource panel
  frontend/packages/topology/src/components/side-bar/TopologyResourcePanel.tsx
Due: none

add comments and enable action dropdown
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology-details.ts
  frontend/packages/helm-plugin/console-extensions.json
  frontend/packages/helm-plugin/src/actions/providers.ts
  frontend/packages/helm-plugin/src/topology/sidebar/release-panel/resource-link.tsx
  frontend/packages/helm-plugin/src/topology/sidebar/release-panel/tab-sections.tsx
  frontend/packages/operator-lifecycle-manager/src/components/topology/operator-link-tab-section.tsx
  frontend/packages/topology/console-extensions.json
  frontend/packages/topology/package.json
  frontend/packages/topology/src/actions/TopologyActions.tsx
  frontend/packages/topology/src/actions/modify-application.ts
  frontend/packages/topology/src/actions/provider.ts
  frontend/packages/topology/src/components/side-bar/components/SideBarHeading.tsx
  frontend/packages/topology/src/components/workload/CronJobSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/DaemonSetSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/DeploymentConfigSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/DeploymentSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/JobSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/StatefulSetSideBarDetails.tsx
  frontend/packages/topology/src/components/workload/build-tab-section.tsx
  frontend/packages/topology/src/components/workload/jobs-tab-section.tsx
  frontend/packages/topology/src/components/workload/pods-tab-section.tsx
  frontend/packages/topology/src/components/workload/utils.ts
  frontend/packages/topology/src/components/workload/workload-resource-link.tsx
  frontend/packages/topology/src/utils/topology-utils.ts
  frontend/public/components/overview/cron-job-overview.tsx
  frontend/public/components/overview/daemon-set-overview.tsx
  frontend/public/components/overview/deployment-config-overview.tsx
  frontend/public/components/overview/deployment-overview.tsx
  frontend/public/components/overview/hpa-overview.tsx
  frontend/public/components/overview/job-overview.tsx
  frontend/public/components/overview/jobs-overview.tsx
  frontend/public/components/overview/pod-overview.tsx
  frontend/public/components/overview/resource-overview-page.tsx
  frontend/public/components/overview/resource-overview-pages.tsx
  frontend/public/components/overview/stateful-set-overview.tsx
Due: none

memoise the provider for helm-actions
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology-details.ts
  frontend/packages/console-shared/src/components/topology/index.ts
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/actions/providers.ts
  frontend/packages/topology/src/actions/modify-application.ts
  frontend/packages/topology/src/actions/provider.ts
  frontend/packages/topology/src/components/workload/ResolveAdapter.ts
  frontend/packages/topology/src/components/workload/utils.ts
Due: none

disable Overview nav item for ODF Managed
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
  frontend/packages/ceph-storage-plugin/src/features.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Due: ci/prow/ceph-storage-plugin

fix issues in add capacity modal
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.scss
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
Due: ci/prow/ceph-storage-plugin

update helm extension to use exposed module helmTopologySideBar
  frontend/packages/console-shared/src/components/topology/SIdeBarTabSection.tsx
  frontend/packages/console-shared/src/components/topology/index.ts
  frontend/packages/helm-plugin/console-extensions.json
Due: none

add aria-label for axe issues
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/common/capacity-breakdown/breakdown-chart.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/data-consumption-card/data-consumption-card-dropdown.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/data-consumption-card/data-consumption-graph.tsx
Due: ci/prow/ceph-storage-plugin

Hide unavailable network policy features for admin users
  frontend/packages/console-app/src/__tests__/network-policies/network-policy-form.spec.tsx
  frontend/packages/console-app/src/__tests__/network-policies/network-policy-peer-ipblock.spec.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-form.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-peer-ipblock.tsx
  frontend/public/models/index.ts
  frontend/public/module/k8s/network.ts
Due: none

Fixed hiding of some sections
  frontend/packages/console-app/src/__tests__/network-policies/network-policy-form.spec.tsx
  frontend/packages/console-app/src/__tests__/network-policies/network-policy-peer-ipblock.spec.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-form.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-peer-ipblock.tsx
Due: none

Merge OpenShift SDN alerts into one single alert message
  frontend/packages/console-app/src/__tests__/network-policies/create-network-policy.spec.tsx
  frontend/packages/console-app/src/__tests__/network-policies/network-policy-form.spec.tsx
  frontend/packages/console-app/src/__tests__/network-policies/network-policy-peer-ipblock.spec.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-form.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-peer-ipblock.tsx
  frontend/public/locales/en/public.json
  frontend/public/module/k8s/network.ts
Due: none

Fetch CNI type from config.openshift.io
  frontend/packages/console-app/src/__tests__/network-policies/network-policy-form.spec.tsx
  frontend/packages/console-app/src/__tests__/network-policies/network-policy-peer-ipblock.spec.tsx
  frontend/public/models/index.ts
  frontend/public/module/k8s/network.ts
Due: none

Fix NetworkPolicyForm IntrinsicAttributes error
  frontend/packages/console-app/src/components/network-policies/create-network-policy.tsx
Due: none

added new informational sentence to the alert
  frontend/packages/console-app/src/components/network-policies/network-policy-form.tsx
  frontend/public/locales/en/public.json
Due: none

Unbolded alert body
  frontend/packages/console-app/src/components/network-policies/network-policy-form.tsx
Due: none

chore(i18n): update translations
  frontend/packages/ceph-storage-plugin/locales/ja/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/ko/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/locales/zh/ceph-storage-plugin.json
  frontend/packages/console-app/locales/ja/console-app.json
  frontend/packages/console-app/locales/ko/console-app.json
  frontend/packages/console-app/locales/zh/console-app.json
  frontend/packages/console-shared/locales/ja/console-shared.json
  frontend/packages/console-shared/locales/ko/console-shared.json
  frontend/packages/console-shared/locales/zh/console-shared.json
  frontend/packages/dev-console/locales/ja/devconsole.json
  frontend/packages/dev-console/locales/ko/devconsole.json
  frontend/packages/dev-console/locales/zh/devconsole.json
  frontend/packages/helm-plugin/locales/ja/helm-plugin.json
  frontend/packages/helm-plugin/locales/ko/helm-plugin.json
  frontend/packages/helm-plugin/locales/zh/helm-plugin.json
  frontend/packages/knative-plugin/locales/ja/knative-plugin.json
  frontend/packages/knative-plugin/locales/ko/knative-plugin.json
  frontend/packages/knative-plugin/locales/zh/knative-plugin.json
  frontend/packages/kubevirt-plugin/locales/ja/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/ko/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/locales/zh/kubevirt-plugin.json
  frontend/packages/metal3-plugin/locales/ja/metal3-plugin.json
  frontend/packages/operator-lifecycle-manager/locales/ja/olm.json
  frontend/packages/operator-lifecycle-manager/locales/ko/olm.json
  frontend/packages/operator-lifecycle-manager/locales/zh/olm.json
  frontend/packages/pipelines-plugin/locales/ja/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/ko/pipelines-plugin.json
  frontend/packages/pipelines-plugin/locales/zh/pipelines-plugin.json
  frontend/packages/rhoas-plugin/locales/ja/rhoas-plugin.json
  frontend/packages/rhoas-plugin/locales/ko/rhoas-plugin.json
  frontend/packages/rhoas-plugin/locales/zh/rhoas-plugin.json
  frontend/packages/topology/locales/ja/topology.json
  frontend/packages/topology/locales/ko/topology.json
  frontend/packages/topology/locales/zh/topology.json
  frontend/public/locales/ja/public.json
  frontend/public/locales/ko/public.json
  frontend/public/locales/zh/public.json
Due: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

upgraded the helm scripts
  frontend/packages/dev-console/integration-tests/support/pages/add-flow/catalog-page.ts
  frontend/packages/dev-console/integration-tests/support/pages/app.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/common/common.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/monitoring/topology-sidebar-actions.ts
  frontend/packages/helm-plugin/integration-tests/cypress.json
  frontend/packages/helm-plugin/integration-tests/features/helm/actions-on-helm-release-after-upgrade.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/actions-on-helm-release.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-compatibility.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/helm-navigation.feature
  frontend/packages/helm-plugin/integration-tests/features/helm/install-helm-chart.feature
  frontend/packages/helm-plugin/integration-tests/support/pages/helm/rollBack-helm-release-page.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/actions-on-helm-release-after-upgrade.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-navigation.ts
  frontend/packages/helm-plugin/integration-tests/support/step-definitions/helm/helm-release.ts
Due: none

Add annotation to Web Terminals to enable Operator metrics
  frontend/packages/console-app/src/components/cloud-shell/cloud-shell-utils.ts
Due: none

Bug 1990493: add storageProfile settings tests
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-storage-profile.ts
Due: ci/prow/kubevirt-plugin

Bug 1991252: [e2e][automation] add to modal cancel button data-test prop
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-storage-profile.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/clone.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/selector.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/snapshot.ts
  frontend/packages/kubevirt-plugin/integration-tests/tests/vm.action.migration.scenario.ts
  frontend/packages/kubevirt-plugin/src/components/modals/add-template-source/add-template-source.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/modal/modal-footer.tsx
Due: ci/prow/kubevirt-plugin

add inspect url to devconsole monitoring chart
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboardGraph.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/__tests__/MonitoringDashboardGraph.spec.tsx
Due: none

[NETOBSERV-29] Turn on strictNullCheck on network-policies files
  frontend/packages/console-app/src/__tests__/network-policies/network-policy-model.spec.ts
  frontend/packages/console-app/src/components/network-policies/network-policy-conditional-selector.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-form.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-model.ts
  frontend/packages/console-app/src/components/network-policies/network-policy-rule-config.tsx
  frontend/packages/console-app/src/components/network-policies/tsconfig.json
  frontend/public/module/k8s/types.ts
Due: none

Review feedback: use i18n.t and AsyncComponentProps
  frontend/packages/console-app/src/components/network-policies/network-policy-conditional-selector.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-rule-config.tsx
Due: none

create vm from customize wizard using currect api
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/package.json
  frontend/packages/kubevirt-plugin/src/flags/const.ts
  frontend/packages/kubevirt-plugin/src/flags/detect-kubevirt-virtual-machines.ts
  frontend/packages/kubevirt-plugin/src/flags/index.ts
  frontend/packages/kubevirt-plugin/src/k8s/enhancedK8sMethods/enhancedK8sMethods.ts
Due: ci/prow/kubevirt-plugin

add Repository details to PipelineRun Details page
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelineruns/detail-page-tabs/PipelineRunCustomDetails.tsx
  frontend/packages/pipelines-plugin/src/components/repository/RepositoryLinkList.tsx
  frontend/packages/pipelines-plugin/src/components/repository/__tests__/RepositoryLinkList.spec.tsx
  frontend/packages/pipelines-plugin/src/components/repository/consts.ts
  frontend/packages/pipelines-plugin/src/models/pipelines.ts
  frontend/packages/pipelines-plugin/src/test-data/pipeline-data.ts
Due: none

[WIP][e2e][flaky] fix kubevirt hco creation
  frontend/packages/kubevirt-plugin/integration-tests/deploy-kubevirt-gating.sh
Due: ci/prow/kubevirt-plugin

Add ceph-dashboard link for ocs external cluster overview page
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-external/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
Due: ci/prow/ceph-storage-plugin

fix import issue with external mode details card
  frontend/packages/ceph-storage-plugin/src/components/dashboards/ocs-system-dashboard.tsx
Due: ci/prow/ceph-storage-plugin

Bug 1982765: Networking - Services - Edit Pod Selector : An incomprehensible Japanese sentence
  frontend/public/components/modals/labels-modal.jsx
  frontend/public/locales/en/public.json
Due: none

Move coFetch utilities to plugin SDK
  frontend/packages/console-dynamic-plugin-sdk/src/api/api-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/error/__tests__/custom-error.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/error/__tests__/http-error.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/error/__tests__/test-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/error/custom-error.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/error/http-error.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/__tests__/console-fetch.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch-utils.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/console-fetch.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/fetch/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/redux.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/actions.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vmi/actions.ts
  frontend/public/co-fetch.js
  frontend/public/components/utils/status-box.tsx
  frontend/public/module/k8s/resource.ts
Due: ci/prow/kubevirt-plugin

Add a new utility consumer to test consoleFetchJSON in demo plugin
  frontend/dynamic-demo-plugin/console-extensions.json
  frontend/dynamic-demo-plugin/package.json
  frontend/dynamic-demo-plugin/src/components/UtilityConsumer.tsx
Due: none

Bug 1989610: Don't render incompatible descriptors on operand details page.
  frontend/packages/operator-lifecycle-manager/src/components/descriptors/common.tsx
  frontend/public/locales/en/public.json
Due: none

Rebase & code improvements
  frontend/packages/console-dynamic-plugin-sdk/src/api/useResolvedExtensions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/__tests__/coderef-resolver.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/coderef-resolver.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/__tests__/object.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/__tests__/url.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/object.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/store.ts
  frontend/packages/console-dynamic-plugin-sdk/tsconfig.json
  frontend/packages/console-plugin-sdk/src/__tests__/store.spec.ts
  frontend/packages/console-plugin-sdk/src/api/useExtensions.ts
  frontend/packages/console-plugin-sdk/src/utils/extension-i18n.ts
  frontend/packages/console-plugin-sdk/src/utils/useTranslationExt.ts
Due: none

Support code references at any level within extension's properties
  frontend/@types/console/index.d.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/__tests__/coderef-resolver.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/coderef-resolver.ts
  frontend/packages/console-dynamic-plugin-sdk/src/types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/__tests__/object.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/__tests__/url.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/object.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/promise.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/store.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/url.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/ExtensionValidator.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/SchemaValidator.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/__tests__/ExtensionValidator.spec.ts
  frontend/packages/console-plugin-sdk/src/__tests__/store.spec.ts
  frontend/packages/console-plugin-sdk/src/api/useExtensions.ts
  frontend/packages/console-shared/src/hooks/useTelemetry.ts
Due: none

Address review comments and add unit test
  frontend/packages/console-plugin-sdk/src/utils/__tests__/extension-i18n.spec.ts
  frontend/packages/console-plugin-sdk/src/utils/__tests__/useTranslationExt.spec.ts
  frontend/packages/console-plugin-sdk/src/utils/extension-i18n.ts
  frontend/packages/console-plugin-sdk/src/utils/useTranslationExt.ts
Due: none

Fix aignment of (?) at sysprep and MTV button on FF
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/sysprep/sysprep.scss
  frontend/packages/kubevirt-plugin/src/components/vms/migration-tool/migration-tool.scss
Due: ci/prow/kubevirt-plugin

fix issues with SC KMS flow
  frontend/packages/ceph-storage-plugin/integration-tests-cypress/views/storage-class.ts
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-kms-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.scss
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/packages/ceph-storage-plugin/src/utils/kms-encryption.ts
  frontend/packages/ceph-storage-plugin/src/utils/ocs-storage-class-params.tsx
  frontend/packages/console-plugin-sdk/src/typings/storage-class-params.ts
Due: ci/prow/ceph-storage-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
