Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin

Limit the textarea not to exceed the parent window
  frontend/public/components/modals/_modals.scss
Due: none

Expose Dashboard Components as Internal API
  frontend/@types/console/index.d.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-pkg-assets.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/common-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal-api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal/dashboard/api.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal/dashboard/types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/internal/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/topology-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-api.ts
  frontend/packages/console-dynamic-plugin-sdk/tsconfig.json
  frontend/packages/console-shared/src/components/dashboard/activity-card/ActivityBody.tsx
  frontend/packages/console-shared/src/components/dashboard/activity-card/ActivityItem.tsx
  frontend/packages/console-shared/src/components/dashboard/dashboard-card/DashboardCard.tsx
  frontend/packages/console-shared/src/components/dashboard/dashboard-card/DashboardCardBody.tsx
  frontend/packages/console-shared/src/components/dashboard/dashboard-card/DashboardCardHeader.tsx
  frontend/packages/console-shared/src/components/dashboard/dashboard-card/DashboardCardTitle.tsx
  frontend/packages/console-shared/src/components/dashboard/details-card/DetailItem.tsx
  frontend/packages/console-shared/src/components/dashboard/details-card/DetailsBody.tsx
  frontend/packages/console-shared/src/components/dashboard/inventory-card/InventoryItem.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertItem.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/AlertsBody.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/HealthItem.tsx
  frontend/packages/console-shared/src/components/dashboard/status-card/states.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationBody.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationDurationDropdown.tsx
  frontend/packages/console-shared/src/components/dashboard/utilization-card/UtilizationItem.tsx
  frontend/packages/console-shared/src/graph-helper/data-utils.ts
  frontend/packages/console-shared/src/hooks/useUtilizationDuration.ts
  frontend/public/components/graphs/helpers.ts
  frontend/public/components/graphs/prometheus-poll-hook.ts
  frontend/public/components/monitoring/types.ts
Due: none

Convert resource.js to ts and add types
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/utils.tsx
  frontend/packages/console-app/src/components/modals/restore-pvc/restore-pvc-modal.tsx
  frontend/packages/dev-console/src/components/hpa/HPAFormikForm.tsx
  frontend/packages/dev-console/src/components/import/devfile/devfileHooks.ts
  frontend/packages/dev-console/src/utils/safe-k8s-hook.tsx
  frontend/packages/kubevirt-plugin/src/hooks/storage-class-config-map.ts
  frontend/packages/kubevirt-plugin/src/hooks/use-secret.ts
  frontend/packages/kubevirt-plugin/src/k8s/enhancedK8sMethods/enhancedK8sMethods.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/cdi-upload/cdi-upload-requests.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/k8s-kill-propagated.ts
  frontend/packages/kubevirt-plugin/src/k8s/requests/vm/create/create.ts
  frontend/packages/operator-lifecycle-manager/src/components/subscription.tsx
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/__tests__/remove-utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/modals/triggers/remove-utils.ts
  frontend/public/actions/k8s.ts
  frontend/public/components/modals/delete-modal.tsx
  frontend/public/module/k8s/resource.ts
Due: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Add create operand extension
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/create-operand.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.tsx
Due: none

Add create resource extension
  frontend/packages/ceph-storage-plugin/src/components/block-pool/create-block-pool.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/create-bc.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-backingstore-page/create-bs-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/create-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/install-page.tsx
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/create-operand.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/create-resource.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/index.ts
  frontend/packages/console-dynamic-plugin-sdk/src/schema/console-extensions.ts
  frontend/packages/console-shared/src/hooks/create-resource-hook.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-discovery/create-local-volume-discovery.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/create-local-volume-set.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.spec.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/create-operand.tsx
  frontend/packages/operator-lifecycle-manager/src/components/operand/operand-yaml.tsx
  frontend/packages/operator-lifecycle-manager/src/plugin.tsx
  frontend/packages/operator-lifecycle-manager/src/style.scss
  frontend/public/components/app-contents.tsx
  frontend/public/components/create-resource.tsx
Due: ci/prow/ceph-storage-plugin

Support multi level json schema for kamelets creation dynamic forms
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/src/components/add/event-sources/EventSourceSection.tsx
  frontend/packages/knative-plugin/src/components/eventing/EventingListPage.tsx
  frontend/packages/knative-plugin/src/components/eventing/__tests__/EventingListPage.spec.tsx
  frontend/packages/knative-plugin/src/utils/__tests__/create-eventsources-utils.spec.ts
  frontend/packages/knative-plugin/src/utils/create-eventsources-utils.ts
Due: none

feature: add flashsystem external storage
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/index.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/models.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/type.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/index.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/types.ts
Due: ci/prow/ceph-storage-plugin

i18n misses in trigger modal
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/components/pub-sub/PubSub.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/form-fields/PubSubFilter.tsx
Due: none

fix: cleanup unused code
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/index.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/models.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/index.ts
Due: ci/prow/ceph-storage-plugin

ODC-6008:Automation of quick-start-devperspective
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/filter-quick-starts-catalog.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick-start-devperspective.feature
  frontend/packages/dev-console/integration-tests/support/pageObjects/add-flow-po.ts
  frontend/packages/dev-console/integration-tests/support/pageObjects/quickStarts-po.ts
  frontend/packages/dev-console/integration-tests/support/pages/quickStartsPage.ts
  frontend/packages/dev-console/integration-tests/support/step-definitions/quck-starts/quick-start-devperspective.ts
Due: none

i18n misses in move subscription modal
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/actions/sink-pubsub.ts
  frontend/packages/knative-plugin/src/components/sink-pubsub/SinkPubsub.tsx
  frontend/packages/knative-plugin/src/components/sink-pubsub/SinkPubsubController.tsx
  frontend/packages/knative-plugin/src/components/sink-pubsub/__tests__/SinkPubsub.spec.tsx
Due: none

Consume new extension actions in deployment list and details page
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/actions/providers/deployment-provider.ts
  frontend/packages/console-shared/src/components/actions/loader/ActionsLoader.tsx
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/actions/providers.ts
  frontend/public/components/deployment.tsx
  frontend/public/components/factory/details.tsx
  frontend/public/components/utils/headings.tsx
  frontend/public/components/workload-table.tsx
Due: none

Create action service provider that supports multiple contexts
  frontend/packages/console-shared/src/components/actions/ActionServiceProvider.tsx
  frontend/packages/console-shared/src/components/actions/index.ts
  frontend/packages/console-shared/src/components/actions/loader/ActionsHookResolver.tsx
  frontend/packages/console-shared/src/components/actions/loader/ActionsLoader.tsx
  frontend/packages/helm-plugin/src/components/details-page/HelmReleaseDetails.tsx
  frontend/packages/helm-plugin/src/components/list-page/HelmReleaseListRow.tsx
  frontend/packages/topology/src/actions/TopologyActions.tsx
  frontend/packages/topology/src/actions/contextMenuActions.tsx
  frontend/public/components/deployment.tsx
Due: none

Migrate deployment actions to extension based creators and providers
  frontend/packages/console-app/console-extensions.json
  frontend/packages/console-app/package.json
  frontend/packages/console-app/src/actions/creators/common-factory.ts
  frontend/packages/console-app/src/actions/creators/deployment-factory.ts
  frontend/packages/console-app/src/actions/creators/health-checks-factory.ts
  frontend/packages/console-app/src/actions/creators/hpa-factory.ts
  frontend/packages/console-app/src/actions/creators/pvc-factory.ts
  frontend/packages/console-app/src/actions/index.ts
  frontend/packages/console-app/src/actions/providers/deployment-provider.ts
  frontend/packages/console-app/src/actions/providers/index.ts
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/package.json
  frontend/packages/dev-console/src/actions/creators.ts
  frontend/packages/dev-console/src/actions/index.ts
  frontend/packages/dev-console/src/actions/providers.ts
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/package.json
  frontend/packages/knative-plugin/src/actions/index.ts
  frontend/packages/knative-plugin/src/actions/knatify.ts
  frontend/packages/knative-plugin/src/actions/providers.ts
Due: none

Remove the serviceMesh folder and add OWNERS file to service-mesh folder
  frontend/packages/dev-console/integration-tests/features/service-mesh/OWNERS
  frontend/packages/dev-console/integration-tests/features/serviceMesh/add-namespace-to-service-mesh-admin.feature
  frontend/packages/dev-console/integration-tests/features/serviceMesh/add-namespace-to-service-mesh-nonadmin.feature
Due: none

Fixes Knative Translation Confusion
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/src/components/sink-pubsub/SinkPubsubModal.tsx
  frontend/packages/knative-plugin/src/components/sink-source/SinkSourceModal.tsx
  frontend/packages/knative-plugin/src/utils/__tests__/fetch-dynamic-eventsources-utils.spec.ts
Due: none

Created a lazy action menu that loads actions on hover
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/actions/creators/common-factory.ts
  frontend/packages/console-app/src/actions/creators/deployment-factory.ts
  frontend/packages/console-app/src/actions/creators/health-checks-factory.ts
  frontend/packages/console-app/src/actions/creators/hpa-factory.ts
  frontend/packages/console-app/src/actions/creators/pvc-factory.ts
  frontend/packages/console-app/src/actions/edit-resource-limits.ts
  frontend/packages/console-app/src/actions/modify-health-checks.ts
  frontend/packages/console-app/src/actions/modify-hpa.ts
  frontend/packages/console-app/src/actions/providers/deployment-provider.ts
  frontend/packages/console-shared/src/components/actions/ActionServiceProvider.tsx
  frontend/packages/console-shared/src/components/actions/LazyActionMenu.tsx
  frontend/packages/console-shared/src/components/actions/__tests__/utils-test-data.ts
  frontend/packages/console-shared/src/components/actions/__tests__/utils.spec.ts
  frontend/packages/console-shared/src/components/actions/index.ts
  frontend/packages/console-shared/src/components/actions/loader/ActionsHookResolver.tsx
  frontend/packages/console-shared/src/components/actions/loader/ActionsLoader.tsx
  frontend/packages/console-shared/src/components/actions/menu/ActionMenu.tsx
  frontend/packages/console-shared/src/components/actions/menu/ActionMenuContent.tsx
  frontend/packages/console-shared/src/components/actions/menu/ActionMenuItem.tsx
  frontend/packages/console-shared/src/components/actions/menu/ActionMenuRenderer.tsx
  frontend/packages/console-shared/src/components/actions/types.ts
  frontend/packages/console-shared/src/components/actions/utils.ts
  frontend/packages/dev-console/console-extensions.json
  frontend/packages/dev-console/src/actions/creators.ts
  frontend/packages/helm-plugin/src/actions/creators.ts
  frontend/packages/helm-plugin/src/components/list-page/HelmReleaseListRow.tsx
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/src/actions/knatify.ts
  frontend/packages/topology/src/components/graph-view/components/nodeContextMenu.tsx
  frontend/public/components/deployment.tsx
Due: none

CONSOLE-2276: Add relevent alerts to node and project overviews
  frontend/packages/console-app/src/components/nodes/node-dashboard/StatusCard.tsx
  frontend/public/components/dashboard/dashboards-page/cluster-dashboard/status-card.tsx
  frontend/public/components/dashboard/project-dashboard/status-card.tsx
Due: none

Pool overview dashbaord
  frontend/packages/ceph-storage-plugin/console-extensions.json
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/package.json
  frontend/packages/ceph-storage-plugin/src/components/block-pool/block-pool-details-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/block-pool/block-pool-list-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/block-pool/block-pool-menu-action.ts
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/block-pool-dashboard-context.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/block-pool-dashboard.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/inventory-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/mirroring-card-body.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/mirroring-card-item.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/mirroring-card.scss
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/mirroring-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/raw-capacity-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/states.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/status-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/utilization-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/common/capacity-card/capacity-card.scss
  frontend/packages/ceph-storage-plugin/src/components/dashboards/common/capacity-card/capacity-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/raw-capacity-card/raw-capacity-card.tsx
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/ceph-storage-plugin/src/queries/ceph-queries.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
  frontend/packages/ceph-storage-plugin/src/utils/common.tsx
Due: ci/prow/ceph-storage-plugin

feature: add endpoint validation and password hiding
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/index.tsx
Due: ci/prow/ceph-storage-plugin

Rebranding OCS to ODF
  frontend/packages/ceph-storage-plugin/integration-tests/views/multiple-pool.view.ts
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/block-pool/create-block-pool.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/backingstore-table.tsx
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/create-bc.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/storage-efficiency-card/storage-efficiency-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/ocs-dashboards.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/activity-card/cluster-expand-activity.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/activity-card/ocs-upgrade-activity.tsx
  frontend/packages/ceph-storage-plugin/src/components/disk-inventory/ocs-disks-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-kms-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/namespace-store/create-namespace-store.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/external-mode/install.tsx
  frontend/packages/ceph-storage-plugin/src/components/storage-popover.tsx
  frontend/packages/ceph-storage-plugin/src/constants/bucket-class.ts
  frontend/packages/ceph-storage-plugin/src/utils/block-pool.tsx
Due: ci/prow/ceph-storage-plugin

chore(OWNERS): add approvers
  OWNERS
  cmd/OWNERS
  vendor/OWNERS
Due: none

Console 2537: Prompt the user to refresh on plugin change (UI changes)
  frontend/packages/console-app/src/components/console-operator/ConsoleOperatorConfig.tsx
  frontend/public/components/app.jsx
  frontend/public/locales/en/console-app.json
Due: none

fix missing i18n in Advanced section
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/progressive-list/ProgressiveListFooter.tsx
  frontend/packages/dev-console/src/components/progressive-list/__tests__/ProgressiveList.spec.tsx
Due: none

fix: code format changes according to review comments
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/index.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/models.ts
Due: ci/prow/ceph-storage-plugin

Add list page for Storage Systems and Inject it via Horizontal Nav
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/odf-system/actions.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-system/odf-system-list.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-system/system-link.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-system/utils.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/ceph-storage-plugin/src/queries/index.ts
  frontend/packages/ceph-storage-plugin/src/queries/odf-queries.ts
  frontend/packages/ceph-storage-plugin/src/types.ts
Due: ci/prow/ceph-storage-plugin

kubevirt: add vm snapshot test
  frontend/packages/kubevirt-plugin/integration-tests-cypress/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/snapshot.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/selector-wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/selector.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/snapshot.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/vm.ts
Due: ci/prow/kubevirt-plugin

Adding 'Compression Savings' details to the pool list page
  frontend/packages/ceph-storage-plugin/src/components/block-pool/block-pool-list-page.tsx
  frontend/packages/ceph-storage-plugin/src/queries/ceph-queries.ts
Due: ci/prow/ceph-storage-plugin

(feat): Add create local volume set
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-steps.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set/body.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set/body.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set/create-local-volume-set-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set/disk-list-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set/selected-capacity.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set/selected-capacity.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/index.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/error-handler.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/use-fetch-csv.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard-steps/create-storage-class/create-storage-class-step.tsx
  frontend/packages/local-storage-operator-plugin/locales/en/lso-plugin.json
Due: ci/prow/ceph-storage-plugin

fix: refine code according to comments
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/index.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/models.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/type.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/index.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/types.ts
Due: ci/prow/ceph-storage-plugin

fix: lint check error
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/index.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/models.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/type.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/index.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/types.ts
Due: ci/prow/ceph-storage-plugin

Show the Active Health Checks on OCS Dashboard
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/status-card/healthchecks.scss
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/status-card/status-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/status-card/whitelisted-health-checks.ts
Due: ci/prow/ceph-storage-plugin

fix: code changes as comments
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/index.tsx
Due: ci/prow/ceph-storage-plugin

Trimming whitespaces at container image input
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/vm-settings-tab/container-source.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm/forms/boot-source-form.tsx
Due: ci/prow/kubevirt-plugin

Description is now align and editable
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
Due: ci/prow/kubevirt-plugin

Fix pencil button
  frontend/packages/kubevirt-plugin/src/components/vms/VMEditWithPencil.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm.scss
Due: ci/prow/kubevirt-plugin

(feat) Add security and network step
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/advanced-subscription/advanced-subscription.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/advanced-subscription/advanced-subscription.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-steps.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/capacity-and-nodes-step/capacity-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/index.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/review-and-create-step/review-and-create-step.scss
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/review-and-create-step/review-and-create-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/security-and-network-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/security-and-network-step/encryption.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/security-and-network-step/security-and-network-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/reducer.ts
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/utils.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/advanced-kms-modal/advanced-kms-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/internal-mode/install-wizard.tsx
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/ocs-request-data.ts
  frontend/packages/ceph-storage-plugin/src/components/ocs-storage-class-form/ocs-storage-class-form.tsx
  frontend/packages/ceph-storage-plugin/src/constants/create-storage-system.ts
  frontend/packages/ceph-storage-plugin/src/utils/create-storage-system.ts
Due: ci/prow/ceph-storage-plugin

Boot order edit button
  frontend/packages/kubevirt-plugin/src/components/vms/VMDetailsItem.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm-resource.tsx
  frontend/packages/kubevirt-plugin/src/components/vms/vm.scss
Due: ci/prow/kubevirt-plugin

(e2e)(flaky) use import instead of fixture
  frontend/packages/kubevirt-plugin/integration-tests-cypress/fixtures/nad.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/fixtures/nad.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/fixtures/ssh.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/fixtures/ssh.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/fixtures/vmi-ephemeral.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/fixtures/vmi-ephemeral.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/action.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vmi-tabs.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-advanced-wizard-testing.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-secret-testing.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh-simple-wizard-test.includes.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/sysprep/sysprep.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/add-source.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/selector-wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/wizard.ts
Due: ci/prow/kubevirt-plugin

Adding compression details card
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/block-pool-dashboard.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/block-pool/compression-details-card.tsx
  frontend/packages/ceph-storage-plugin/src/queries/ceph-queries.ts
Due: ci/prow/ceph-storage-plugin
