Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Bug 1970980: Remove usage of i18nKey in Trans components
  frontend/packages/console-app/locales/en/nodes.json
  frontend/packages/console-app/src/components/nodes/NodeTerminal.tsx
  frontend/packages/helm-plugin/locales/en/helm-plugin.json
  frontend/packages/helm-plugin/src/components/details-page/history/HelmReleaseHistoryRow.tsx
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/modals/boot-order-modal/boot-order-modal.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/menu-actions-modals/vmi-users-alert.tsx
  frontend/packages/kubevirt-plugin/src/components/modals/scheduling-modals/node-selector-modal/node-selector-modal.tsx
  frontend/public/components/build.tsx
  frontend/public/components/cluster-settings/github-idp-form.tsx
  frontend/public/components/image-stream.tsx
  frontend/public/components/modals/configure-machine-autoscaler-modal.tsx
  frontend/public/components/monitoring/silence-form.tsx
  frontend/public/i18n.js
  frontend/public/locales/en/public.json
Due: ci/prow/kubevirt-plugin

fix invalid runafter breaking pipeline builder issue
  frontend/packages/pipelines-plugin/locales/en/pipelines-plugin.json
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-builder/const.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/__tests__/utils.spec.ts
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-topology/utils.ts
Due: none

convert intervalDropdown component to use patternfly dropdown component
  frontend/packages/pipelines-plugin/src/components/pipelines/pipeline-metrics/PipelineMetricsRefreshDropdown.tsx
  frontend/public/components/monitoring/dashboards/index.tsx
  frontend/public/components/monitoring/hooks/useBoolean.ts
  frontend/public/components/monitoring/poll-interval-dropdown.tsx
Due: none

Evaluate dynamic route pages before static ones
  frontend/public/components/app-contents.tsx
Due: none

Fix punctuation in PVC upload size watning
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/cdi-upload-provider/upload-pvc-form/upload-pvc-form.tsx
Due: ci/prow/kubevirt-plugin

Use updated suffix for pipeline secret annotation
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/pipelines-plugin/src/utils/__tests__/pipeline-utils.spec.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-utils.ts
Due: none

Fix time range issue for devconsole monitoring dashboard
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboard.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboardGraph.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/__tests__/MonitoringDashboard.spec.tsx
Due: none

Bug 1933101: Add chart URl to annotations during helm install/upgrade
  pkg/helm/actions/install_chart.go
  pkg/helm/actions/install_chart_test.go
  pkg/helm/actions/upgrade_release.go
  pkg/helm/actions/upgrade_release_test.go
  pkg/helm/testdata/wildfly-1.0.0.tgz
Due: none

Add safety checks for nil values of Annotations and Metadata.
  pkg/helm/actions/install_chart.go
  pkg/helm/actions/upgrade_release.go
Due: none

Adds loading state in add capacity modal
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.scss
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
Due: ci/prow/ceph-storage-plugin

add plugin paths to tsconfig
  frontend/tsconfig.json
Due: none

add dynamic sdk support for topology extensions
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/console-types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/extensions/topology.ts
  frontend/packages/helm-plugin/src/topology/components/helmComponentFactory.ts
  frontend/packages/helm-plugin/src/topology/helm-topology-plugin.tsx
  frontend/packages/helm-plugin/src/topology/helmResources.ts
  frontend/packages/helm-plugin/src/topology/index.ts
  frontend/packages/knative-plugin/src/topology/components/knativeComponentFactory.ts
  frontend/packages/knative-plugin/src/topology/index.ts
  frontend/packages/knative-plugin/src/topology/topology-plugin.ts
  frontend/packages/knative-plugin/src/utils/get-knative-resources.ts
  frontend/packages/kubevirt-plugin/src/topology/components/kubevirtComponentFactory.ts
  frontend/packages/kubevirt-plugin/src/topology/index.ts
  frontend/packages/kubevirt-plugin/src/topology/topology-plugin.ts
  frontend/packages/pipelines-plugin/src/topology/pipelinesTopologyPlugin.ts
  frontend/packages/pipelines-plugin/src/utils/pipeline-plugin-utils.ts
  frontend/packages/rhoas-plugin/src/topology/components/rhoasComponentFactory.ts
  frontend/packages/rhoas-plugin/src/topology/index.ts
  frontend/packages/rhoas-plugin/src/topology/rhoas-topology-plugin.tsx
  frontend/packages/rhoas-plugin/src/topology/rhoasResources.ts
  frontend/packages/topology/src/components/dropdowns/ApplicationDropdown.tsx
  frontend/packages/topology/src/components/graph-view/Topology.tsx
  frontend/packages/topology/src/components/page/TopologyView.tsx
  frontend/packages/topology/src/data-transforms/DataModelExtension.tsx
  frontend/packages/topology/src/data-transforms/DataModelProvider.tsx
  frontend/packages/topology/src/extensions/topology.ts
  frontend/packages/topology/src/operators/components/operatorsComponentFactory.ts
  frontend/packages/topology/src/operators/index.ts
  frontend/packages/topology/src/operators/operatorResources.ts
  frontend/packages/topology/src/operators/operatorsTopologyPlugin.ts
Due: ci/prow/kubevirt-plugin

Bug 1973336: Use double brackets for Volume Mode locales
  frontend/packages/console-app/locales/en/console-app.json
  frontend/packages/console-app/src/components/volume-modes/volume-mode.tsx
Due: none

Fix comunity supported check
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/virtualization.ts
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/select-template.scss
  frontend/packages/kubevirt-plugin/src/components/create-vm/tabs/select-template.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/VMTemplateCommnunityLabel.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/label.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/RowActions.tsx
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/VMTemplateRow.tsx
  frontend/packages/kubevirt-plugin/src/selectors/vm-template/basic.ts
Due: ci/prow/kubevirt-plugin

Replacing all cloudinit form
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/utils.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/redux/validations/advanced-tab-validation.ts
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/AdvancedTab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/CloudInitAdvancedTab.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/CloudInitCustomScript.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/CloudInitFormRows.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/CloudInitMessage.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/Cloudinit.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/CloudinitForm.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/CloudinitFormOrYamlSelector.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/CloudinitInfoHelper.tsx
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/cloud-init.scss
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/tabs/advanced-tab/cloud-init/utils/cloudinit-utils.tsx
  frontend/packages/kubevirt-plugin/src/components/form-with-editor/FormWithEditor.tsx
  frontend/packages/kubevirt-plugin/src/components/form-with-editor/form-with-editor-utils.ts
  frontend/packages/kubevirt-plugin/src/components/form-with-editor/form-with-editor.scss
  frontend/packages/kubevirt-plugin/src/hooks/use-cloudinit-validations.ts
  frontend/packages/kubevirt-plugin/src/k8s/wrapper/vm/cloud-init-data-helper.tsx
  frontend/packages/kubevirt-plugin/src/utils/validations/cloudint-utils.ts
Due: ci/prow/kubevirt-plugin

resource_stress_test: Lookup KUBECONFIG before read from file
  pkg/helm/actions/resource_stress_test.go
Due: none

Add IDP menu items are not translated
  frontend/public/components/cluster-settings/oauth.tsx
Due: none

PF update packages to 2021.8
  frontend/package.json
  frontend/yarn.lock
Due: none

Fix HealthCheckProbeData type
  frontend/packages/dev-console/src/components/health-checks/HealthCheckProbe.scss
  frontend/packages/dev-console/src/components/health-checks/HealthCheckProbe.tsx
  frontend/packages/dev-console/src/components/health-checks/HealthChecks.tsx
  frontend/packages/dev-console/src/components/health-checks/__tests__/create-health-check-probe-utils.spec.ts
  frontend/packages/dev-console/src/components/health-checks/__tests__/create-health-checks-probe-data.ts
  frontend/packages/dev-console/src/components/health-checks/create-health-checks-probe-utils.ts
  frontend/packages/dev-console/src/components/health-checks/health-checks-probe-utils.ts
  frontend/packages/dev-console/src/components/health-checks/health-checks-types.ts
  frontend/packages/dev-console/src/components/import/__tests__/import-submit-utils-data.ts
  frontend/packages/dev-console/src/components/import/import-types.ts
  frontend/packages/knative-plugin/src/utils/__mocks__/knatify-mock.ts
  frontend/packages/knative-plugin/src/utils/__tests__/knatify-utils.spec.ts
Due: none

Correcting the test data for docker file-ODC-5753
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-secrets.feature
Due: none

Add git URL help text so that other sections doesn't jump down
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/edit-application/EditApplicationForm.tsx
  frontend/packages/dev-console/src/components/import/GitImportForm.tsx
  frontend/packages/dev-console/src/components/import/SourceToImageForm.tsx
  frontend/packages/dev-console/src/components/import/devfile/DevfileImportForm.tsx
  frontend/packages/dev-console/src/components/import/git/DockerSection.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/dev-console/src/components/import/import-submit-utils.ts
  frontend/packages/dev-console/src/utils/shared-submit-utils.ts
Due: none

Template boot source title change
  frontend/packages/kubevirt-plugin/src/components/vm-templates/table/VMTemplateTable.tsx
Due: ci/prow/kubevirt-plugin

Bug 1974689: In customize create vm wizard, warning on vm missing model
  frontend/packages/kubevirt-plugin/src/components/create-vm-wizard/error-components/resource-load-errors.tsx
Due: ci/prow/kubevirt-plugin

add kubevirt pvc upload test
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/pvc-upload/pvc-upload.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/pvc.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/view/vm.ts
Due: ci/prow/kubevirt-plugin

Bug 1974755: i18n default status strings
  frontend/packages/console-shared/locales/en/console-shared.json
  frontend/packages/console-shared/src/components/status/statuses.tsx
Due: none

Preserve user annotations
  frontend/packages/dev-console/src/utils/resource-label-utils.ts
Due: none

refactor add-page-utils to extract sorting utilities
  frontend/packages/console-shared/src/utils/index.ts
  frontend/packages/console-shared/src/utils/order-extensions.ts
  frontend/packages/dev-console/src/components/add/AddCardSection.tsx
  frontend/packages/dev-console/src/components/add/__tests__/add-page-test-data.tsx
  frontend/packages/dev-console/src/utils/__tests__/add-page-utils.spec.ts
  frontend/packages/dev-console/src/utils/add-page-utils.ts
Due: none

Fix time range for drag & drop in devconsole monitoring
  frontend/packages/dev-console/src/components/monitoring/dashboard/MonitoringDashboardGraph.tsx
  frontend/packages/dev-console/src/components/monitoring/dashboard/__tests__/MonitoringDashboardGraph.spec.tsx
Due: none

fix to persist yaml editor success message
  frontend/public/components/edit-yaml.jsx
Due: none

Support code references at any level within extension's properties
  frontend/@types/console/index.d.ts
  frontend/packages/console-dynamic-plugin-sdk/src/api/useResolvedExtensions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/__tests__/coderef-resolver.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/coderefs/coderef-resolver.ts
  frontend/packages/console-dynamic-plugin-sdk/src/types.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/__tests__/object.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/__tests__/url.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/object.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/promise.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/store.ts
  frontend/packages/console-dynamic-plugin-sdk/src/utils/url.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/ExtensionValidator.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/SchemaValidator.ts
  frontend/packages/console-dynamic-plugin-sdk/src/validation/__tests__/ExtensionValidator.spec.ts
  frontend/packages/console-dynamic-plugin-sdk/tsconfig.json
  frontend/packages/console-plugin-sdk/src/__tests__/store.spec.ts
  frontend/packages/console-plugin-sdk/src/api/useExtensions.ts
  frontend/packages/console-shared/src/hooks/useTelemetry.ts
Due: none

Bug 1966499 - re-enable olm global tests which use portworx-operator
  frontend/packages/operator-lifecycle-manager/integration-tests-cypress/tests/operator-install-global.spec.ts
Due: none

Fix 1973524: Fix edge case for "managed by" links
  frontend/public/components/utils/managed-by.tsx
  frontend/public/module/k8s/managed-by.ts
Due: none

Monitoring dashboards: Dropdowns default to "All" if present
  frontend/public/components/monitoring/dashboards/index.tsx
Due: none

handle array to string conversion for HTTPS checkbox value
  frontend/packages/dev-console/src/components/health-checks/__tests__/create-health-check-probe-utils.spec.ts
  frontend/packages/dev-console/src/components/health-checks/create-health-checks-probe-utils.ts
Due: none

metrics: Update all resource request/limit queries based on new labels
  frontend/packages/console-shared/src/promql/project-dashboard.ts
  frontend/public/components/pod.tsx
Due: none

Bug 1975232: VM Create YAML page 404 error
  frontend/packages/kubevirt-plugin/src/components/vms/vm-create-yaml.tsx
Due: ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
