Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin

Automation for Hotplug UI. 12 tests.
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disk/hotplug.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/dialog.ts
Due: ci/prow/kubevirt-plugin

Automation for Hotplug UI
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disk/hotplug.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/provisionSource.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/dialog.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/vm.ts
Due: ci/prow/kubevirt-plugin

Automation for Hotlpug UI
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disk/hotplug.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/provisionSource.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/dialog.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/vm.ts
Due: ci/prow/kubevirt-plugin

Update css-loader, sass-loader, thread-loader
  frontend/package.json
  frontend/webpack.config.ts
  frontend/yarn.lock
Due: none

PR changes that include:
  frontend/public/components/modals/create-namespace-modal.jsx
  frontend/public/locales/en/public.json
  frontend/public/style/_common.scss
Due: none

Introduce a new endpoint for getting the namespace where the web terminal is installed
  frontend/packages/console-app/src/components/cloud-shell/useCloudShellNamespace.ts
  pkg/server/server.go
  pkg/terminal/operator.go
  pkg/terminal/proxy.go
Due: none

Make the dashboard create web terminals that reference devworkspacetemplates in the namespace where the web terminal operators is installed
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTerminal.tsx
  frontend/packages/console-app/src/components/cloud-shell/__tests__/cloud-shell-utils.spec.ts
  frontend/packages/console-app/src/components/cloud-shell/cloud-shell-utils.ts
  frontend/packages/console-app/src/components/cloud-shell/setup/CloudShellAdminSetup.tsx
  frontend/packages/console-app/src/components/cloud-shell/setup/CloudShellDeveloperSetup.tsx
  frontend/packages/console-app/src/components/cloud-shell/useCloudShellWorkspace.ts
Due: none

Fix CloudShellTerminal tests now that namespace is autodetected
  frontend/packages/console-app/src/components/cloud-shell/__tests__/CloudShellTerminal.spec.tsx
Due: none

Refactor unrecoverableErrorFound
  frontend/packages/console-app/src/components/cloud-shell/CloudShellTerminal.tsx
Due: none

Switch from React.useState to useSafetyFirst in async context
  frontend/packages/console-app/src/components/cloud-shell/cloud-shell-utils.ts
  frontend/packages/console-app/src/components/cloud-shell/useCloudShellNamespace.ts
Due: none

Rename kubernetes error import to k8sErrors
  pkg/terminal/operator.go
Due: none

Ensure that all web terminal errors are send back to the frontend
  pkg/terminal/operator.go
  pkg/terminal/proxy.go
Due: none

Bug 1986502: Fix state bug to eliminate duplicates in dragged files
  frontend/public/components/droppable-edit-yaml.tsx
  frontend/public/components/import-yaml-results.tsx
Due: none

use class variable instead of global to track file upload contents
  frontend/public/components/droppable-edit-yaml.tsx
Due: none

CONSOLE-2319: Expose memory and CPUs in MachineSet list
  frontend/public/components/machine-set.tsx
  frontend/public/components/utils/units.js
  frontend/public/locales/en/public.json
Due: none

Rework dynamic plugin SDK dist packages
  frontend/.eslintignore
  frontend/dynamic-demo-plugin/package.json
  frontend/dynamic-demo-plugin/webpack.config.ts
  frontend/dynamic-demo-plugin/yarn.lock
  frontend/packages/console-dynamic-plugin-sdk/.gitignore
  frontend/packages/console-dynamic-plugin-sdk/README.md
  frontend/packages/console-dynamic-plugin-sdk/package.json
  frontend/packages/console-dynamic-plugin-sdk/publish.sh
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-doc.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-pkg-assets.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/generate-schema.ts
  frontend/packages/console-dynamic-plugin-sdk/scripts/package-definitions.ts
  frontend/packages/console-dynamic-plugin-sdk/src/lib-core.ts
  frontend/packages/console-dynamic-plugin-sdk/src/lib-internal.ts
  frontend/packages/console-dynamic-plugin-sdk/src/lib-webpack.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-loader.ts
  frontend/packages/console-dynamic-plugin-sdk/src/runtime/plugin-manifest.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules-override.ts
  frontend/packages/console-dynamic-plugin-sdk/src/shared-modules.ts
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/ConsoleAssetPlugin.ts
  frontend/packages/console-dynamic-plugin-sdk/src/webpack/ConsoleRemotePlugin.ts
  frontend/packages/console-dynamic-plugin-sdk/tsconfig-base.json
  frontend/packages/console-dynamic-plugin-sdk/tsconfig-internal.json
  frontend/packages/console-dynamic-plugin-sdk/tsconfig-webpack.json
  frontend/webpack.config.ts
Due: none

Failed to load RoleBindings list and Role name
  frontend/public/components/RBAC/bindings.jsx
  frontend/public/components/namespace.jsx
Due: none

Bug 2003845: provide active namespace to quay container security, image vulnerabilities page.
  frontend/packages/container-security/src/components/image-manifest-vuln.tsx
Due: none

add test for vm console tab
  frontend/packages/kubevirt-plugin/integration-tests-cypress/fixtures/user-template.json
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/console.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/dashboard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/details-scheduling.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/details.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/snapshot.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/template/customize-source.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/string.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/expect-login.sh
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/console.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector-tabs.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/tab.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/vm.ts
Due: ci/prow/kubevirt-plugin

Bug 2008256: Update Internationalization README with scope info
  INTERNATIONALIZATION.md
Due: none

Bug 2008321: Add correct documentation link for MON_DISK_LOW
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/status-card/whitelisted-health-checks.ts
Due: ci/prow/ceph-storage-plugin

Monitoring: Remove unused `query-browser__tech-preview` CSS class
  frontend/public/components/monitoring/_monitoring.scss
Due: none

Monitoring: Clean up tooltip CSS
  frontend/public/components/monitoring/_monitoring.scss
  frontend/public/components/monitoring/query-browser.tsx
Due: none

Fix storageSystem deployment type dropdown
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/advanced-section.tsx
Due: ci/prow/ceph-storage-plugin

Bug 2003711: Fix to fetch ocs csv in external mode
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/red-hat-ceph-storage/index.tsx
Due: ci/prow/ceph-storage-plugin

Provide options to file fstype in create-local-volume-set
  frontend/packages/ceph-storage-plugin/src/components/ocs-install/attached-devices-mode/reducer.ts
  frontend/packages/local-storage-operator-plugin/locales/en/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/body.tsx
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/request.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/state.ts
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/types.ts
  frontend/packages/local-storage-operator-plugin/src/constants/index.ts
Due: ci/prow/ceph-storage-plugin

Bug 2004578: Add monitoring and nodes label for external storage pltaforms
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
Due: ci/prow/ceph-storage-plugin

memoize knative filtered revisions for sidebar
  frontend/packages/knative-plugin/src/components/overview/RevisionsOverviewList.tsx
Due: none

contribute actions , sidepanel for channel, subscription, broker and trigger
  frontend/packages/knative-plugin/console-extensions.json
  frontend/packages/knative-plugin/locales/en/knative-plugin.json
  frontend/packages/knative-plugin/package.json
  frontend/packages/knative-plugin/src/actions/creators.ts
  frontend/packages/knative-plugin/src/actions/index.ts
  frontend/packages/knative-plugin/src/actions/providers.ts
  frontend/packages/knative-plugin/src/actions/sink-pubsub.ts
  frontend/packages/knative-plugin/src/components/eventing/subscription-list/SubscriptionRow.tsx
  frontend/packages/knative-plugin/src/components/eventing/triggers-list/TriggerRow.tsx
  frontend/packages/knative-plugin/src/components/overview/OverviewDetailsKnativeResourcesTab.tsx
  frontend/packages/knative-plugin/src/components/overview/__tests__/OverviewDetailsKnativeResourcesTab.spec.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/details/SubscriptionDetailsPage.tsx
  frontend/packages/knative-plugin/src/components/pub-sub/details/TriggerDetailsPage.tsx
  frontend/packages/knative-plugin/src/topology/sidebar/index.ts
  frontend/packages/knative-plugin/src/topology/sidebar/knative-tab-section.tsx
  frontend/packages/knative-plugin/src/utils/kebab-actions.ts
  frontend/packages/topology/src/components/side-bar/getSelectedEntityDetails.tsx
Due: none

SkipToContent added
  frontend/packages/console-mount/src/components/foundation/PageFrame.tsx
Due: none

Load Redux Reducer & Context Provider Extensions
  frontend/packages/console-mount/console-extensions.json
  frontend/packages/console-mount/package.json
  frontend/packages/console-mount/src/components/foundation/AppRoot.tsx
  frontend/packages/console-mount/src/components/foundation/EnhancedProvider.tsx
  frontend/packages/console-mount/src/components/foundation/MainAppContent.tsx
  frontend/packages/console-mount/src/components/foundation/TopLevelRoutes.tsx
  frontend/packages/console-mount/src/components/plugins/IncludePlugins.tsx
  frontend/packages/console-mount/src/demo/context.ts
  frontend/packages/console-mount/src/demo/reducer.ts
  frontend/packages/console-mount/src/redux/reducers/index.ts
  frontend/packages/console-mount/src/redux/useReduxReducerExtensions.ts
  frontend/packages/console-mount/src/redux/useReduxStore.ts
Due: none

Add Window Error Catch
  frontend/packages/console-mount/src/components/foundation/AppRoot.tsx
  frontend/packages/console-mount/src/components/foundation/useWindowErrorCatch.ts
Due: none
