Repository openshift/console: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ceph-storage-plugin, ci/prow/kubevirt-plugin

ci/prow/ceph-storage-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/kubevirt-plugin:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Add documentation link for MON_DISK_LOW
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/status-card/whitelisted-health-checks.ts
Due: ci/prow/ceph-storage-plugin

fix: add volume mode selection
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/index.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/type.ts
Due: ci/prow/ceph-storage-plugin

Fix devfile catalog flow
  frontend/packages/dev-console/src/components/import/GitImportForm.tsx
  frontend/packages/dev-console/src/components/import/SourceToImageForm.tsx
  frontend/packages/dev-console/src/components/import/builder/BuilderSection.tsx
  frontend/packages/dev-console/src/components/import/devfile/DevfileStrategySection.tsx
  frontend/packages/dev-console/src/components/import/devfile/devfileHooks.ts
  frontend/packages/dev-console/src/components/import/git/DockerSection.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
  frontend/packages/dev-console/src/components/import/import-validation-utils.ts
  frontend/packages/dev-console/src/components/import/validation-schema.ts
Due: none

disable drag for QuickSearch when over text input
  frontend/packages/console-shared/src/components/quick-search/QuickSearchBar.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchBar.tsx
  frontend/packages/console-shared/src/components/quick-search/QuickSearchContent.scss
  frontend/packages/console-shared/src/components/quick-search/QuickSearchModalBody.tsx
Due: none

persist last viewed tab on topology sidepanel
  frontend/packages/helm-plugin/src/components/forms/install-upgrade/HelmInstallUpgradePage.tsx
  frontend/packages/topology/src/components/side-bar/components/SideBarBody.tsx
Due: none

List the already mapped domain mappings in the warning message
  frontend/packages/dev-console/locales/en/devconsole.json
  frontend/packages/dev-console/src/components/import/serverless/ServerlessRouteSection.tsx
  frontend/packages/dev-console/src/components/import/serverless/__tests__/serverless-utils.spec.ts
  frontend/packages/dev-console/src/components/import/serverless/serverless-utils.ts
Due: none

Addressing review comments
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-as-code.feature
Due: none

fixing typo
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-as-code.feature
Due: none

remove login prompt check until it's clearly needed
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/clone.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/migration.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/pvc-upload/pvc-upload.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/action.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-tabs.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/snapshot.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/expect-login.sh
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/vm.ts
Due: ci/prow/kubevirt-plugin

create vm from template list and action dropdown
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/clone.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/migration.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-disk-preallocation.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-rootdisk.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-storage-profile.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ipv6/ipv6.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/pvc-upload/pvc-upload.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/regression/validate-nad-for-pxe.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/regression/validate-virtio-win-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/action.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-creation.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-tabs.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/snapshot.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/create-template-from-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/create-vm-from-template.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/advanced-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/cloud-init.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/types/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector-wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/vm.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/wizard.ts
Due: ci/prow/kubevirt-plugin

Bug 2002443: Fix disks undefined on create local volume set step
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/selected-capacity.tsx
Due: ci/prow/ceph-storage-plugin

Kubevirt, use currect API when checking healthz
  frontend/packages/kubevirt-plugin/console-extensions.json
  frontend/packages/kubevirt-plugin/src/flags/const.ts
  frontend/packages/kubevirt-plugin/src/flags/detect-kubevirt-virtual-machines.ts
Due: ci/prow/kubevirt-plugin

Bug 2000573: Disable flexible scaling for internal mode
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/capacity-and-nodes-step/capacity-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/payloads.ts
  frontend/packages/ceph-storage-plugin/src/utils/create-storage-system.ts
Due: ci/prow/ceph-storage-plugin

Bug 1961391: Textual updates follow-up
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/utils/common.tsx
Due: ci/prow/ceph-storage-plugin

Bug 1996023: Fix select all nodes request
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/create-local-volume-set.tsx
Due: none

Fix Noobaa resources details pages Add a wrapper around AddCapacityModal to inject StorageCluster Add missing actions for various resources
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/bucket-class/modals/edit-backingstore-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-resources/resource-details-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-resources/resource-list-page.tsx
  frontend/packages/ceph-storage-plugin/src/components/odf-system/actions.tsx
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
Due: ci/prow/ceph-storage-plugin

Bug 2001578: add tests for vm dashboard tab
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/dashboard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/details.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/virtualization.ts
Due: ci/prow/kubevirt-plugin

revalidate git url on form reload
  frontend/packages/dev-console/src/components/buildconfig/BuildConfigForm.tsx
  frontend/packages/dev-console/src/components/buildconfig/EditBuildConfig.tsx
  frontend/packages/dev-console/src/components/buildconfig/form-utils/types.ts
  frontend/packages/dev-console/src/components/buildconfig/sections/SourceSection.tsx
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
Due: none

Hide the import vm action
  frontend/packages/kubevirt-plugin/locales/en/kubevirt-plugin.json
  frontend/packages/kubevirt-plugin/src/components/vms/virtualization.tsx
Due: ci/prow/kubevirt-plugin

Bug 2001855: Enable add capacity if osd size is not matching
  frontend/packages/ceph-storage-plugin/src/components/modals/add-capacity-modal/add-capacity-modal.tsx
Due: ci/prow/ceph-storage-plugin

Update referneces to OCS in Dashboards
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/__tests__/independent-dashboard-details-card.spec.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/object-service/details-card/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-external/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/components/dashboards/persistent-internal/details-card.tsx
  frontend/packages/ceph-storage-plugin/src/constants/common.ts
  frontend/packages/ceph-storage-plugin/src/plugin.ts
  frontend/packages/ceph-storage-plugin/src/selectors/index.ts
Due: ci/prow/ceph-storage-plugin

Fix hardcoded texts and other textual changes in ODF flow
  frontend/packages/ceph-storage-plugin/src/constants/tooltips.tsx
  frontend/packages/ceph-storage-plugin/src/utils/ocs-storage-class-params.tsx
  frontend/packages/local-storage-operator-plugin/locales/en/lso-plugin.json
  frontend/packages/local-storage-operator-plugin/src/components/local-volume-set/body.tsx
Due: ci/prow/ceph-storage-plugin

update ODF wizard helper texts
  frontend/packages/ceph-storage-plugin/locales/en/ceph-storage-plugin.json
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/backing-storage-step/backing-storage-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/capacity-and-nodes-step/capacity-and-nodes-step.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/body.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/create-local-volume-set-step/selected-capacity.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/create-storage-system-steps/security-and-network-step/encryption.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/ibm-flashsystem/index.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/external-storage/red-hat-ceph-storage/index.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/header.tsx
  frontend/packages/ceph-storage-plugin/src/components/kms-config/kms-config.tsx
Due: ci/prow/ceph-storage-plugin

[NETOBSERV-29] Turn on strictNullCheck on network-policies files
  frontend/packages/console-app/src/__tests__/network-policies/network-policy-model.spec.ts
  frontend/packages/console-app/src/components/network-policies/network-policy-conditional-selector.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-form.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-model.ts
  frontend/packages/console-app/src/components/network-policies/network-policy-rule-config.tsx
  frontend/packages/console-app/src/components/network-policies/tsconfig.json
  frontend/public/module/k8s/types.ts
Due: none

add test to verify vm details tab
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-rootdisk.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/action.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/details.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/custom-template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/errorString.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/vm.ts
Due: ci/prow/kubevirt-plugin

add support/virtualization and improve deleteResource
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/clone.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/action/migration.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/devconsole/devconsole.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-disk-preallocation.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-rootdisk.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-storage-profile.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ipv6/ipv6.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/pvc-upload/pvc-upload.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/regression/validate-nad-for-pxe.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/regression/validate-virtio-win-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/action.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/template-tabs.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-creation.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vm-tabs.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/smoke/vmi-tabs.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/ssh/ssh.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/sysprep/sysprep.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/dashboard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/details.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/snapshot.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/create-template-from-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/create-vm-from-template.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/custom-template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/customize-source.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/template-rhel9.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/advanced-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/cloud-init.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm/empty-state.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/errorString.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/vm.ts
Due: ci/prow/kubevirt-plugin

find exact secret match for HelmRelease model
  frontend/packages/helm-plugin/src/topology/helm-data-transformer.ts
Due: none

Allow side nav borders to extend to left and right edges. fix Bug 2001959
  frontend/public/components/_horizontal-nav.scss
Due: none

Bug 1997245: Dont validate the install operator form when submitted
  frontend/packages/operator-lifecycle-manager/src/components/operator-hub/operator-hub-subscribe.tsx
Due: none

Fix Page Not Found error when clicking on Storage link provided in Overview page
  frontend/packages/ceph-storage-plugin/src/components/storage-popover.tsx
Due: ci/prow/ceph-storage-plugin

Show loading instead of flash of "No log files exist"
  frontend/packages/console-app/src/components/nodes/NodeLogs.tsx
Due: none

Bug 2002763: Fix creating two storage system for external RHCS
  frontend/packages/ceph-storage-plugin/src/components/create-storage-system/footer.tsx
Due: ci/prow/ceph-storage-plugin

Re-validate git url on changing git-type
  frontend/packages/dev-console/src/components/import/git/GitSection.tsx
Due: none

Bug 2001810: Fix list page route for build configs
  frontend/packages/dev-console/src/plugin.tsx
Due: none

Review feedback: use i18n.t and AsyncComponentProps
  frontend/packages/console-app/src/components/network-policies/network-policy-conditional-selector.tsx
  frontend/packages/console-app/src/components/network-policies/network-policy-rule-config.tsx
Due: none

check bootsource URL is displaying on review step
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/validate-rootdisk.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/regression/validate-nad-for-pxe.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/vm-template/template-rhel9.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector-wizard.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/wizard.ts
Due: ci/prow/kubevirt-plugin

Show image tag selector in s2i form
  frontend/packages/dev-console/src/components/import/ImportForm.tsx
  frontend/packages/dev-console/src/components/import/builder/BuilderImageTagSelector.tsx
Due: none

Bug 2001413: add/delete nic and disk to/from template
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disk/validate-disk-preallocation.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disk/validate-rootdisk.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disk/validate-storage-profile.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/disks/hotplug.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/template/create-template-from-wizard.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/template/create-vm-from-template.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/template/custom-template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/template/customize-source.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/template/source-image.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/template/template-resource.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/template/template-rhel9.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/template/template-support.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/utils/const/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/dialog.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/virtualization.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/vm.ts
Due: ci/prow/kubevirt-plugin

Remove 4.9 related epic tags
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-devfile.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-docker-file.feature
  frontend/packages/dev-console/integration-tests/features/addFlow/create-from-git.feature
  frontend/packages/dev-console/integration-tests/features/build-config/edit-build-config.feature
  frontend/packages/dev-console/integration-tests/features/guided-tour/quick-starts/quick-start-devperspective.feature
  frontend/packages/dev-console/integration-tests/features/healthChecks/add-health-checks-topology-sidebar.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/dashboard-display.feature
  frontend/packages/dev-console/integration-tests/features/monitoring/topology-sidebar-actions.feature
  frontend/packages/dev-console/integration-tests/features/service-mesh/service-mesh-console-links-admin.feature
  frontend/packages/dev-console/integration-tests/features/user-preferences/user-preferences-dev-perspective.feature
  frontend/packages/dev-console/integration-tests/features/web-terminal/web-teminal-basic.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-broker-actions.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-camelk.feature
  frontend/packages/knative-plugin/integration-tests/features/eventing/eventing-create-sink-broker.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/create-knative-workload.feature
  frontend/packages/knative-plugin/integration-tests/features/serverless/domain-mapping.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-add-options.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/create-from-builder-page.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-as-code.feature
  frontend/packages/pipelines-plugin/integration-tests/features/pipelines/pipelines-secrets.feature
  frontend/packages/topology/integration-tests/features/export-application/export-of-applicaton.feature
  frontend/packages/topology/integration-tests/features/topology/topology-chart-area-visual.feature
  frontend/packages/topology/integration-tests/features/topology/topology-in-context-add-options.feature
Due: none

add test for vm details bootorder
  frontend/packages/kubevirt-plugin/integration-tests-cypress/support/index.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/tests/tabs/details-bootorder.spec.ts
  frontend/packages/kubevirt-plugin/integration-tests-cypress/views/selector.ts
  frontend/packages/kubevirt-plugin/src/components/vms/VMEditWithPencil.tsx
Due: ci/prow/kubevirt-plugin

Path conditions:
  ci/prow/ceph-storage-plugin: any of: frontend/packages/ceph-storage-plugin
  ci/prow/kubevirt-plugin: any of: frontend/packages/kubevirt-plugin
