Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$

UPSTREAM: <carry>: Skip SELinux test with Feature:SELinuxMountReadWriteOncePodOnly
  openshift-hack/cmd/k8s-tests-ext/environment_selectors.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Fail SELinuxMount check on rebase
  openshift-hack/cmd/k8s-tests-ext/environment_selectors.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Add plugin for storage performant security policy
  openshift-kube-apiserver/admission/storage/performantsecuritypolicy/admission.go
Due: none

UPSTREAM: <carry>: add rphillips as downstream approver kubelet approver
  pkg/kubelet/DOWNSTREAM_OWNERS
Due: none

UPSTREAM: <carry>: disable slow and flaky tests rather than labeling them
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
  openshift-hack/cmd/k8s-tests-ext/labels.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Disable tests from featuregates that are not explicitly enabled
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
  openshift-hack/cmd/k8s-tests-ext/environment_selectors.go
  openshift-hack/test-kubernetes-e2e.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: Disable ServiceCIDR tests
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Revert "OCPBUGS-60507: Bump 1.33.4"
  CHANGELOG/CHANGELOG-1.33.md
  openshift-hack/images/hyperkube/Dockerfile.rhel
  plugin/pkg/admission/noderestriction/admission.go
  plugin/pkg/admission/noderestriction/admission_test.go
  staging/src/k8s.io/component-helpers/resource/helpers.go
  staging/src/k8s.io/component-helpers/resource/helpers_test.go
  test/e2e/common/node/runtime.go
  test/e2e_node/runtime_conformance_test.go
  test/images/.permitted-images
  test/utils/image/manifest.go
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: Revert "UPSTREAM: <carry>: Revert "OCPBUGS-60507: Bump 1.33.4""
  CHANGELOG/CHANGELOG-1.33.md
  plugin/pkg/admission/noderestriction/admission.go
  plugin/pkg/admission/noderestriction/admission_test.go
  staging/src/k8s.io/component-helpers/resource/helpers.go
  staging/src/k8s.io/component-helpers/resource/helpers_test.go
  test/e2e/common/node/runtime.go
  test/e2e_node/runtime_conformance_test.go
  test/images/.permitted-images
  test/utils/image/manifest.go
Due: none

UPSTREAM: 133425: Fix SELinux label comparison
  pkg/controller/volume/selinuxwarning/cache/volumecache_test.go
  pkg/controller/volume/selinuxwarning/translator/selinux_translator.go
  pkg/controller/volume/selinuxwarning/translator/selinux_translator_test.go
  test/e2e/storage/csimock/base.go
  test/e2e/storage/csimock/csi_selinux_mount.go
Due: none

UPSTREAM: <carry>: Fix audit event in early annotation test due to upstream struct changes.
  staging/src/k8s.io/apiserver/pkg/server/filters/with_early_late_annotations_test.go
Due: none

UPSTREAM: <carry>: Align to upstream diff library changes
  openshift-kube-apiserver/admission/customresourcevalidation/securitycontextconstraints/defaulting_scc_test.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/defaults_test.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/defaults_test.go
  openshift-kube-apiserver/filters/apirequestcount/apiaccess_count_controller_test.go
  openshift-kube-apiserver/filters/apirequestcount/request_counts_test.go
  openshift-kube-controller-manager/servicecacertpublisher/publisher_test.go
Due: none

UPSTREAM: revert: 133264: Revert "remove failing test that depends on expired credential, remove credential, add TODOs"
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  test/e2e/common/node/runtime.go
  test/e2e_node/runtime_conformance_test.go
  test/images/.permitted-images
  test/utils/image/manifest.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Disable KubeProxyNFAcct test
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts

UPSTREAM: 132028: podresources: list: use active pods in list
  pkg/features/kube_features.go
  pkg/kubelet/apis/podresources/server_v1.go
  pkg/kubelet/apis/podresources/server_v1_test.go
  pkg/kubelet/apis/podresources/types.go
  pkg/kubelet/kubelet.go
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh
  go.mod
  go.sum
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sysctl/mustmatchpatterns.go
  vendor/modules.txt
Due: none

UPSTREAM: <carry>: squash into something: update tests with creationTimestamp field
  openshift-kube-apiserver/admission/customresourcevalidation/securitycontextconstraints/defaulting_scc_test.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-role-bindings.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles-featuregates.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-role-bindings.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
Due: none

UPSTREAM: <carry>: squash into tooling: not sure why we made this not a comment - it results in invalid yaml
  hack/update-vendor.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: squash into tooling: more readonly module updates required to make build scripts work in our env
  hack/lib/protoc.sh
  hack/update-codegen.sh
  hack/update-owners-fmt.sh
  hack/verify-deadcode-elimination.sh
  hack/verify-owners-fmt.sh
Due: ci/prow/artifacts

add more logs to apimachine proxy code
  staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware.go
  test/e2e/kubectl/portforward.go
Due: none

UPSTREAM: <carry>: remove the backward compat featuregate for 132028
  pkg/features/kube_features.go
  pkg/kubelet/apis/podresources/server_v1.go
  pkg/kubelet/apis/podresources/server_v1_test.go
  pkg/kubelet/apis/podresources/testing/provider_mock.go
Due: none

Add a new field Mapped into openshift-test extension Image struct
  openshift-hack/cmd/k8s-tests-ext/k8s-tests.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/extension/types.go
Due: ci/prow/artifacts

UPSTREAM: <drop>: make update
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/zz_generated.defaults.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/zz_generated.deepcopy.go
Due: ci/prow/artifacts

UPSTREAM: <drop>: disable tests failing under RebaseInProgress
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts

UPSTREAM: <drop>: temporarily move past failing node tests
  pkg/features/kube_features.go
  pkg/kubelet/cm/cpumanager/policy_options_test.go
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
Due: none

UPSTREAM: <drop>: Do not enable race detection by default in integration test
  openshift-hack/test-integration.sh
Due: ci/prow/artifacts

UPSTREAM: <drop>: hack/update-vendor.sh
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
Due: none

UPSTREAM: <carry>: Don't retry storage calls with side effects.
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/etcd3retry/retry_etcdclient.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/etcd3retry/retry_etcdclient_test.go
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: Fix race condition in conntrack regression test by keying pending map with IP+port
  test/images/regression-issue-74839/main.go
Due: none

UPSTREAM: 133186: Do not remove PVC ClaimRef to fix flaky VAC test
  test/e2e/storage/testsuites/volume_modify.go
Due: none

UPSTREAM: <carry>: Add retries for GetCurrentResourceVersion.
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/etcd3retry/retry_etcdclient.go
Due: none

UPSTREAM: 131698: add 'dra' folder to csi image config
  test/utils/image/csi_manifest.go
  test/utils/image/csi_manifests_test.go
  test/utils/image/manifest.go
Due: none

UPSTREAM: <drop>: force go mod to point to tkashem/api
  go.mod
  go.sum
  vendor/OWNERS
  vendor/github.com/openshift/api/config/v1/types_authentication.go
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/config/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/config/v1alpha1/types_cluster_monitoring.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/config/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/features/legacyfeaturegates.go
  vendor/github.com/openshift/api/operator/v1/types_etcd.go
  vendor/github.com/openshift/api/operator/v1/types_machineconfiguration.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Due: none

UPSTREAN: <carry> enable DRA e2e tests
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts
