Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

ci/prow/artifacts:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-selfupgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-azure-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

UPSTREAM: <carry>: Prefer local endpoint for cluster DNS service
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
Due: none

UPSTREAM: <carry>: Remove ValidateHostExternalCertificate from route admission
  openshift-kube-apiserver/admission/route/hostassignment/admission.go
Due: none

UPSTREAM: <carry>: disable etcd readiness checks by default
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd_test.go
  test/e2e/apimachinery/health_handlers.go
Due: none

UPSTREAM: <carry>: add arbiter node role to known labels
  staging/src/k8s.io/kubelet/pkg/apis/well_known_openshift_labels.go
Due: none

UPSTREAM: <carry>: log only deprecated api requests
  openshift-kube-apiserver/filters/apirequestcount/apiaccess_count_controller.go
  openshift-kube-apiserver/filters/apirequestcount/apiaccess_count_controller_test.go
  openshift-kube-apiserver/filters/apirequestcount/deprecated.go
  openshift-kube-apiserver/filters/apirequestcount_filter.go
Due: none

UPSTREAM: <carry>: reintroduce non-suite annotation removal, with fix for missed disabled tests
  openshift-hack/cmd/k8s-tests-ext/environment_selectors.go
  openshift-hack/cmd/k8s-tests-ext/labels.go
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: unrevert: Mark admissionregistration.k8s.io/v1beta1 as deprecated."
  openshift-kube-apiserver/filters/apirequestcount/deprecated.go
Due: none

UPSTREAM: <carry>: Don't retry storage calls with side effects.
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/etcd3retry/retry_etcdclient.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/etcd3retry/retry_etcdclient_test.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/retry_etcdprobemonitor.go
Due: none

UPSTREAM: <carry>: admission: validate minimumKubeletVersion
  openshift-kube-apiserver/admission/customresourcevalidation/node/restrict_extreme_worker_latency_profile.go
  openshift-kube-apiserver/admission/customresourcevalidation/node/restrict_extreme_worker_latency_profile_test.go
  openshift-kube-apiserver/admission/customresourcevalidation/node/validate_node_config.go
  openshift-kube-apiserver/admission/customresourcevalidation/node/validate_node_config_test.go
  openshift-kube-apiserver/authorization/minimumkubeletversion/minimum_kubelet_version.go
  openshift-kube-apiserver/authorization/minimumkubeletversion/minimum_kubelet_version_test.go
  openshift-kube-apiserver/enablement/intialization.go
  pkg/features/openshift_features.go
  pkg/kubeapiserver/authorizer/modes/patch.go
  pkg/kubeapiserver/authorizer/patch.go
  pkg/kubeapiserver/authorizer/reload.go
Due: none

UPSTREAM: <carry>: Add volume group snapshot test driver
  openshift-hack/e2e/annotate/rules.go
  openshift-hack/test-kubernetes-e2e.sh
  test/e2e/storage/drivers/openshift_group_snapshot_driver.go
  test/e2e/storage/openshift_csi_volumes.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: allow TLS1.3 or modern profile to be specified
  openshift-kube-apiserver/admission/customresourcevalidation/apiserver/validate_apiserver.go
  openshift-kube-apiserver/admission/customresourcevalidation/apiserver/validate_apiserver_test.go
Due: none

UPSTREAM: <carry>: disable slow and flaky tests rather than labeling them
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
  openshift-hack/cmd/k8s-tests-ext/labels.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: skip specific LoadBalancer test for "none" platform
  openshift-hack/cmd/k8s-tests-ext/environment_selectors.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Fail SELinuxMount check on rebase
  openshift-hack/cmd/k8s-tests-ext/environment_selectors.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Skip SELinux test with Feature:SELinuxMountReadWriteOncePodOnly
  openshift-hack/cmd/k8s-tests-ext/environment_selectors.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Align to upstream diff library changes
  openshift-kube-apiserver/admission/customresourcevalidation/securitycontextconstraints/defaulting_scc_test.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/defaults_test.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/defaults_test.go
  openshift-kube-apiserver/filters/apirequestcount/apiaccess_count_controller_test.go
  openshift-kube-apiserver/filters/apirequestcount/request_counts_test.go
  openshift-kube-controller-manager/servicecacertpublisher/publisher_test.go
Due: none

UPSTREAM: <carry>: Fix audit event in early annotation test due to upstream struct changes.
  staging/src/k8s.io/apiserver/pkg/server/filters/with_early_late_annotations_test.go
Due: none

UPSTREAM: <carry>: squash into tooling: more readonly module updates required to make build scripts work in our env
  hack/lib/protoc.sh
  hack/update-codegen.sh
  hack/update-owners-fmt.sh
  hack/verify-deadcode-elimination.sh
  hack/verify-owners-fmt.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: squash into tooling: not sure why we made this not a comment - it results in invalid yaml
  hack/update-vendor.sh
Due: ci/prow/artifacts

UPSTREAM: 133425: Fix SELinux label comparison
  pkg/controller/volume/selinuxwarning/cache/volumecache_test.go
  pkg/controller/volume/selinuxwarning/translator/selinux_translator.go
  pkg/controller/volume/selinuxwarning/translator/selinux_translator_test.go
  test/e2e/storage/csimock/base.go
  test/e2e/storage/csimock/csi_selinux_mount.go
Due: none

UPSTREAM: <carry>: WIP do not query for node name from api for metrics resource
  pkg/kubelet/server/stats/handler.go
  pkg/kubelet/server/stats/summary.go
  pkg/kubelet/server/stats/summary_test.go
  pkg/kubelet/server/stats/summary_windows_test.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: add http logging for kubelet metrics endpoint
  pkg/kubelet/server/server.go
  pkg/kubelet/server/server_patch.go
Due: none

UPSTREAM: <carry>: stats: handful of optimizations
  pkg/kubelet/cm/cgroup_manager_linux.go
  pkg/kubelet/stats/cadvisor_stats_provider.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: squash into something: update tests with creationTimestamp field
  openshift-kube-apiserver/admission/customresourcevalidation/securitycontextconstraints/defaulting_scc_test.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-role-bindings.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles-featuregates.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-role-bindings.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
Due: none

UPSTREAM: <drop>: make update
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/zz_generated.defaults.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/zz_generated.deepcopy.go
Due: ci/prow/artifacts

UPSTREAM: <drop>: hack/update-vendor.sh
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
Due: none

UPSTREAM: <drop>: temporary - curious if kubelet starts up successfully without this feature locked on
  pkg/features/kube_features.go
Due: none

Added basic validation for OKD featureset
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-kube-apiserver/admission/customresourcevalidation/features/validate_features.go
  vendor/github.com/openshift/api/config/v1/types_feature.go
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Added validation to check if a image is being built for OKD
  build/root/Makefile
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-kube-apiserver/admission/customresourcevalidation/features/validate_features.go
  openshift-kube-apiserver/version/scos.go
  openshift-kube-apiserver/version/version.go
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Revert docker image change
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: temporary measure to deflake the test caused by CPU pressure
  test/e2e/common/node/container_probe.go
Due: none

WIP: UPSTREAM: <carry>: don't report metrics for host network pods
  vendor/github.com/google/cadvisor/container/crio/client.go
  vendor/github.com/google/cadvisor/container/crio/handler.go
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
