Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

ci/prow/artifacts:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-selfupgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-azure-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: change cgroups library import
  pkg/kubelet/cm/cgroup_manager_linux.go
Due: ci/prow/artifacts

UPSTREAM: <drop>: hack/update-vendor.sh
  LICENSES/vendor/github.com/opencontainers/runc/LICENSE
  go.mod
  go.sum
  go.work.sum
  vendor/github.com/opencontainers/runc/LICENSE
  vendor/github.com/opencontainers/runc/NOTICE
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/cgroups.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/file.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/getallpids.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/stats.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/v1_utils.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/blkio_device.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/cgroup_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/cgroup_unsupported.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/configs_fuzzer.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/hugepage_limit.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/intelrdt.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/interface_priority_map.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/mount.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/mount_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/mount_unsupported.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/namespaces.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/namespaces_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/namespaces_syscall.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/namespaces_syscall_unsupported.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/namespaces_unsupported.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/network.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/rdma.go
  vendor/github.com/opencontainers/runc/libcontainer/devices/device.go
  vendor/github.com/opencontainers/runc/libcontainer/devices/device_unix.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/cmsg.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils_unix.go
  vendor/modules.txt
Due: ci/prow/artifacts

UPSTREAM: <carry>: Revert "UPSTREAM: <drop>: Remove duplicate VolumeGroupSnapshottableTestSuite from CSISuites"
  test/e2e/storage/testsuites/base.go
Due: none

UPSTREAM: <drop>: manually resolve conflicts
  go.mod
  test/e2e/framework/pod/resize.go
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: 137123: Scale ReplicaSet in DRA test down once in total, not once per pod
  test/e2e/dra/utils/deploy.go
Due: none

UPSTREAM: <carry>: bump github.com/sirupsen/logrus to v1.9.3
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/github.com/sirupsen/logrus/README.md
  vendor/github.com/sirupsen/logrus/buffer_pool.go
  vendor/github.com/sirupsen/logrus/entry.go
  vendor/github.com/sirupsen/logrus/logger.go
  vendor/github.com/sirupsen/logrus/writer.go
  vendor/modules.txt
Due: none

UPSTREAM: <carry>: pause: bump image for 4.22
  build/pause/Dockerfile.Rhel
Due: none

UPSTREAM: <drop>: Update openshift-tests-extension dependency ./hack/update-vendor.sh
  go.mod
  go.sum
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/cmd/cmdrun/runsuite.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/cmd/cmdrun/runtest.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/extension/extensiontests/result.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/extension/extensiontests/result_writer.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/extension/extensiontests/spec.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/extension/extensiontests/types.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/extension/extensiontests/viewer.html
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/extension/types.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/ginkgo/logging.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/ginkgo/util.go
  vendor/modules.txt
Due: none

Use localhost image reference in PodObservedGenerationTracking test
  test/e2e/node/pods.go
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh, make udpate and update image
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: 74956: apiserver: switch authorization to use protobuf client
  staging/src/k8s.io/apiserver/pkg/server/options/authorization.go
Due: none

UPSTREAM: 93286: wait for apiservices on startup
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
Due: none

UPSTREAM: <carry>: filter out CustomResourceQuota paths from OpenAPI
  staging/src/k8s.io/apiserver/pkg/server/routes/openapi.go
Due: none

UPSTREAM: <carry>: patch aggregator to allow delegating resources
  pkg/controlplane/controller/crdregistration/crdregistration_controller.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/patch_always_local_delegate.go
Due: none

UPSTREAM: <carry>: Extend NodeLogQuery feature
  pkg/features/kube_features.go
  pkg/features/kube_features_test.go
  pkg/kubelet/apis/config/validation/validation_test.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_server_journal.go
  pkg/kubelet/kubelet_server_journal_linux.go
  pkg/kubelet/kubelet_server_journal_test.go
  pkg/kubelet/kubelet_server_journal_windows.go
  test/compatibility_lifecycle/cmd/feature_gates.go
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
Due: ci/prow/artifacts

UPSTREAM: <carry>: remove apiservice from sync in CRD registration when it exists
  pkg/controlplane/controller/crdregistration/crdregistration_controller.go
Due: none

UPSTREAM: <carry>: openshift-kube-apiserver: add kube-apiserver patches
  cmd/kube-apiserver/app/options/options.go
  cmd/kube-apiserver/app/server.go
  pkg/controlplane/apiserver/config.go
  pkg/kubeapiserver/authorizer/config.go
  pkg/kubeapiserver/authorizer/modes/patch.go
  pkg/kubeapiserver/authorizer/patch.go
  pkg/kubeapiserver/authorizer/reload.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/patch_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
  test/conformance/image/go-runner/testdata/tartest/out.tar.gz
Due: none

UPSTREAM: <carry>: kube-controller-manager: exclude some origin resources from quota
  pkg/quota/v1/install/patch_ignoredresources.go
Due: none

UPSTREAM: <carry>: kube-controller-manager: allow running bare kube-controller-manager
  cmd/kube-controller-manager/app/apps.go
  cmd/kube-controller-manager/app/config/config.go
  cmd/kube-controller-manager/app/config/patch.go
  cmd/kube-controller-manager/app/controllermanager.go
  cmd/kube-controller-manager/app/options/options.go
  cmd/kube-controller-manager/app/patch.go
  cmd/kube-controller-manager/app/patch_gc.go
  cmd/kube-controller-manager/app/patch_informers_openshift.go
  cmd/kube-controller-manager/app/patch_satoken.go
  cmd/kube-controller-manager/app/service_accounts.go
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/daemon/patch_nodeselector.go
  pkg/controller/daemon/patch_nodeselector_test.go
  pkg/controller/daemon/update.go
Due: none

UPSTREAM: <carry>: bootstrap-rbac-policy: move over .well-known rules
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-role-bindings.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles-featuregates.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
