Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

ci/prow/artifacts:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-selfupgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-azure-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

UPSTREAM: <carry>: add etcd3RetryingProberMonitor for retrying etcd Unavailable errors for the etcd health checker client
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/factory.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/retry_etcdprobemonitor.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/retry_etcdprobemonitor_test.go
Due: none

UPSTREAM: <carry>: temporarily disable reporting e2e text bugs and enforce 2nd labeling to make tests work
  test/e2e/framework/ginkgowrapper.go
  test/e2e/framework/internal/unittests/bugs/bugs_test.go
  test/e2e/framework/internal/unittests/list-labels/listlabels_test.go
  test/e2e/framework/internal/unittests/list-tests/listtests_test.go
  test/e2e/framework/test_context.go
Due: none

UPSTREAM: <carry>: Add openshift feature gates to kube-apiserver - inject openshift feature gates into pkg/features
  pkg/features/kube_features.go
  pkg/features/openshift_features.go
Due: none

UPSTREAM: <carry>: add arbiter node role to known labels
  staging/src/k8s.io/kubelet/pkg/apis/well_known_openshift_labels.go
Due: none

UPSTREAM: <carry>: Add plugin for storage performant security policy
  openshift-kube-apiserver/admission/admissionenablement/register.go
  openshift-kube-apiserver/admission/storage/performantsecuritypolicy/admission.go
  openshift-kube-apiserver/admission/storage/performantsecuritypolicy/admission_test.go
  pkg/features/openshift_features.go
Due: none

UPSTREAM: <carry>: allow TLS1.3 or modern profile to be specified
  openshift-kube-apiserver/admission/customresourcevalidation/apiserver/validate_apiserver.go
  openshift-kube-apiserver/admission/customresourcevalidation/apiserver/validate_apiserver_test.go
Due: none

UPSTREAM: <carry>: unrevert: Mark admissionregistration.k8s.io/v1beta1 as deprecated."
  openshift-kube-apiserver/filters/apirequestcount/deprecated.go
Due: none

UPSTREAM: 134442: Fix ResourceQuota test for CRDs with long names
  test/e2e/apimachinery/resource_quota.go
Due: none

UPSTREAM: <carry>: admission: validate minimumKubeletVersion
  openshift-kube-apiserver/admission/customresourcevalidation/node/restrict_extreme_worker_latency_profile.go
  openshift-kube-apiserver/admission/customresourcevalidation/node/restrict_extreme_worker_latency_profile_test.go
  openshift-kube-apiserver/admission/customresourcevalidation/node/validate_node_config.go
  openshift-kube-apiserver/admission/customresourcevalidation/node/validate_node_config_test.go
  openshift-kube-apiserver/authorization/minimumkubeletversion/minimum_kubelet_version.go
  openshift-kube-apiserver/authorization/minimumkubeletversion/minimum_kubelet_version_test.go
  openshift-kube-apiserver/enablement/intialization.go
  pkg/features/openshift_features.go
  pkg/kubeapiserver/authorizer/modes/patch.go
  pkg/kubeapiserver/authorizer/patch.go
  pkg/kubeapiserver/authorizer/reload.go
Due: none

UPSTREAM: <carry>: log only deprecated api requests
  openshift-kube-apiserver/filters/apirequestcount/apiaccess_count_controller.go
  openshift-kube-apiserver/filters/apirequestcount/apiaccess_count_controller_test.go
  openshift-kube-apiserver/filters/apirequestcount/deprecated.go
  openshift-kube-apiserver/filters/apirequestcount_filter.go
Due: none

UPSTREAM: <carry>: Add volume group snapshot test driver
  test/e2e/storage/drivers/openshift_group_snapshot_driver.go
  test/e2e/storage/openshift_csi_volumes.go
Due: none

UPSTREAM: <carry>: disable etcd readiness checks by default
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd_test.go
  test/e2e/apimachinery/health_handlers.go
Due: none

UPSTREAM: <carry>: Skip CPU resource status for workload-pinned pods
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/managed/managed.go
  pkg/kubelet/managed/managed_test.go
Due: none

UPSTREAM: <carry>: Add jacobsee and jubittajohn to DOWNSTREAM_OWNERS
  DOWNSTREAM_OWNERS
Due: none

UPSTREAM: <carry>: un-skip MutableCSINodeAllocatableCount tests
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: add SetCPULoadBalanceDisable() stub to qos_container_manager_linux_test.go
  pkg/kubelet/cm/qos_container_manager_linux_test.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Register OpenShift cloud providers in k8s-tests-ext
  openshift-hack/cmd/k8s-tests-ext/provider.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Fix ClusterIsIPv6() detection for dual-stack v6-primary clusters
  openshift-hack/cmd/k8s-tests-ext/provider.go
Due: ci/prow/artifacts

UPSTREAM: 138259: Filter out unschedulable nodes in kubectl describe e2e test
  test/e2e/kubectl/kubectl.go
Due: none

UPSTREAM: <carry>: adapt quota admission to upstream API changes
  openshift-kube-apiserver/openshiftkubeapiserver/patch.go
Due: none

UPSTREAM: <carry>: update builder images To be squashed with the following commit later:"UPSTREAM: <carry>: Add OpenShift tooling, images, configs and docs"
  .ci-operator.yaml
  build/pause/Dockerfile.Rhel
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-hack/images/installer-kube-apiserver-artifacts/Dockerfile.rhel
  openshift-hack/images/kube-proxy/Dockerfile.rhel
  openshift-hack/images/tests/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: add system_client="" to the expected metric strings in flagz_test.go and statusz_test.go
  staging/src/k8s.io/apiserver/pkg/server/flagz/flagz_test.go
  staging/src/k8s.io/apiserver/pkg/server/statusz/statusz_test.go
Due: none

UPSTREAM: <carry>: Export email validation functions
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/validation/validation_patch.go
Due: none

UPSTREAM: <carry>: authentication: enforce claims.email_verified usage when claims.email is used in username expression
  openshift-kube-apiserver/admission/customresourcevalidation/authentication/validate_authentication.go
  openshift-kube-apiserver/admission/customresourcevalidation/authentication/validate_authentication_test.go
Due: none

UPSTREAM: <drop>: make update
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/zz_generated.defaults.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/zz_generated.deepcopy.go
  test/compatibility_lifecycle/reference/feature_list.md
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
