Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$

UPSTREAM: <carry>: kube-controller-manager: allow running bare kube-controller-manager
  cmd/kube-controller-manager/app/apps.go
  pkg/controller/daemon/patch_nodeselector.go
Due: none

UPSTREAM: <carry>: add missing generated file
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: node admission plugin for cpu partitioning
  openshift-kube-apiserver/admission/admissionenablement/register.go
  openshift-kube-apiserver/admission/autoscaling/managednode/admission.go
  openshift-kube-apiserver/admission/autoscaling/managednode/admission_test.go
  openshift-kube-apiserver/admission/autoscaling/managednode/initializers.go
  openshift-kube-apiserver/admission/autoscaling/managementcpusoverride/admission.go
  openshift-kube-apiserver/admission/autoscaling/managementcpusoverride/admission_test.go
  openshift-kube-apiserver/openshiftkubeapiserver/patch.go
Due: none

UPSTREAM: <carry>: update hyperkube image version
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: 116945: Skip vendor directory when removing generated files
  hack/update-codegen.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: kubelet: fix readiness probes with pod termination
  pkg/kubelet/status/fake_status_manager.go
Due: none

UPSTREAM: <carry>: disable failing dnsPolicy test
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: add management support to kubelet
  pkg/kubelet/cm/cpumanager/policy_static.go
Due: none

UPSTREAM: <carry>: add icsp,idms,itms validation reject creating icsp with idms/itms exist
  openshift-kube-apiserver/admission/customresourcevalidation/customresourcevalidationregistration/cr_validation_registration.go
  openshift-kube-apiserver/admission/customresourcevalidation/imagecontentsourcepolicy/validate_imagecontentsourcepolicy.go
  openshift-kube-apiserver/admission/customresourcevalidation/imagecontentsourcepolicy/validate_imagecontentsourcepolicy_test.go
  openshift-kube-apiserver/admission/customresourcevalidation/imagedigestmirrorset/validate_imagedigestmirrorset.go
  openshift-kube-apiserver/admission/customresourcevalidation/imagedigestmirrorset/validate_imagedigestmirrorset_test.go
  openshift-kube-apiserver/admission/customresourcevalidation/imagetagmirrorset/validate_imagetagmirrorset.go
  openshift-kube-apiserver/admission/customresourcevalidation/imagetagmirrorset/validate_imagetagmirrorset_test.go
Due: none

UPSTREAM: <carry>: allows for switching KS to talk to Kube API over localhost
  cmd/kube-controller-manager/app/patch.go
  cmd/kube-scheduler/app/options/patch.go
  cmd/kube-scheduler/app/patch.go
  cmd/kube-scheduler/app/server.go
Due: none

UPSTREAM: <carry>: kubelet: fix readiness probes with pod termination
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/pod/mirror_client.go
  pkg/kubelet/prober/prober_manager_test.go
  pkg/kubelet/prober/results/results_manager.go
  pkg/kubelet/prober/results/results_manager_test.go
  pkg/kubelet/prober/scale_test.go
  pkg/kubelet/prober/worker_test.go
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/status/status_manager_test.go
  pkg/kubelet/status/testing/mock_pod_status_provider.go
  test/e2e_node/mirror_pod_readiness_test.go
Due: none
