Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$

UPSTREAM: <carry>: Don't retry storage calls with side effects.
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/etcd3retry/retry_etcdclient.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/etcd3retry/retry_etcdclient_test.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/retry_etcdprobemonitor.go
Due: none

UPSTREAM: <carry>: disable etcd readiness checks by default
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd_test.go
  test/e2e/apimachinery/health_handlers.go
Due: none

UPSTREAM: <carry>: Add OpenShift tooling, images, configs and docs
  .ci-operator.yaml
  .openshift-tests-extension/openshift_payload_hyperkube.json
  DOWNSTREAM_OWNERS
  build/pause/Dockerfile.Rhel
  hack/lib/golang.sh
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
  openshift-hack/cmd/k8s-tests-ext/environment_selectors.go
  openshift-hack/cmd/k8s-tests-ext/k8s-tests.go
  openshift-hack/cmd/k8s-tests-ext/labels.go
  openshift-hack/cmd/k8s-tests/k8s-tests.go
  openshift-hack/cmd/k8s-tests/provider.go
  openshift-hack/cmd/k8s-tests/runtest.go
  openshift-hack/cmd/k8s-tests/types.go
  openshift-hack/e2e/annotate/rules.go
  openshift-hack/e2e/include.go
  openshift-hack/e2e/kube_e2e_test.go
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-hack/images/installer-kube-apiserver-artifacts/Dockerfile.rhel
  openshift-hack/images/kube-proxy/Dockerfile.rhel
  openshift-hack/images/kube-proxy/test-kube-proxy.sh
  openshift-hack/images/tests/Dockerfile.rhel
  openshift-hack/test-kubernetes-e2e.sh
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: 131361: Wait for resource quota status to be populated
  test/e2e/node/pod_resize.go
Due: none

UPSTREAM: 131409: test/e2e/node/kubelet_authz.go: fix SAR to include SA groups
  test/e2e/framework/auth/helpers.go
  test/e2e/node/kubelet_authz.go
Due: none

UPSTREAM: 131518: Don't reinitialize test framework during each test case
  test/e2e/common/node/pod_resize.go
  test/e2e/node/pod_resize.go
Due: none

UPSTREAM: 131852: test/e2e/apimachinery/namespace.go: make OrderedNamespaceDeletion test serial
  test/e2e/apimachinery/namespace.go
Due: none

UPSTREAM: <drop>: make update
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/zz_generated.defaults.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/zz_generated.deepcopy.go
Due: ci/prow/artifacts

UPSTREAM: <drop>: hack/update-vendor.sh
  go.work.sum
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/cri-client/go.mod
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/dynamic-resource-allocation/go.mod
  staging/src/k8s.io/endpointslice/go.mod
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-controller/go.mod
  vendor/modules.txt
Due: none

UPSTREAM: <carry>: Initialize testContext before generating ginkgo tests
  openshift-hack/cmd/k8s-tests-ext/k8s-tests.go
  openshift-hack/cmd/k8s-tests-ext/provider.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Push CSI suite initialization to updateTestFrameworkForTests
  openshift-hack/cmd/k8s-tests-ext/provider.go
Due: ci/prow/artifacts

UPSTREAM: 74956: apiserver: switch authorization to use protobuf client
  staging/src/k8s.io/apiserver/pkg/server/options/authorization.go
Due: none

UPSTREAM: 93286: wait for apiservices on startup
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
Due: none

UPSTREAM: <carry>: Extend NodeLogQuery feature
  pkg/features/kube_features.go
  pkg/features/kube_features_test.go
  pkg/kubelet/apis/config/validation/validation_test.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_server_journal.go
  pkg/kubelet/kubelet_server_journal_linux.go
  pkg/kubelet/kubelet_server_journal_test.go
  pkg/kubelet/kubelet_server_journal_windows.go
  test/compatibility_lifecycle/cmd/feature_gates.go
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
Due: ci/prow/artifacts

UPSTREAM: <carry>: openshift-kube-apiserver: add kube-apiserver patches
  cmd/kube-apiserver/app/options/options.go
  cmd/kube-apiserver/app/server.go
  pkg/controlplane/apiserver/config.go
  pkg/kubeapiserver/authorizer/config.go
  pkg/kubeapiserver/authorizer/modes/patch.go
  pkg/kubeapiserver/authorizer/patch.go
  pkg/kubeapiserver/authorizer/reload.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/patch_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
  test/conformance/image/go-runner/testdata/tartest/out.tar.gz
Due: none

UPSTREAM: <carry>: filter out CustomResourceQuota paths from OpenAPI
  staging/src/k8s.io/apiserver/pkg/server/routes/openapi.go
Due: none

UPSTREAM: <carry>: kube-controller-manager: exclude some origin resources from quota
  pkg/quota/v1/install/patch_ignoredresources.go
Due: none

UPSTREAM: <carry>: remove apiservice from sync in CRD registration when it exists
  pkg/controlplane/controller/crdregistration/crdregistration_controller.go
Due: none

UPSTREAM: <carry>: patch aggregator to allow delegating resources
  pkg/controlplane/controller/crdregistration/crdregistration_controller.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/patch_always_local_delegate.go
Due: none
