Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$

UPSTREAM: <carry>: Prefer local endpoint for cluster DNS service
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
Due: none

UPSTREAM: <carry>: Remove ValidateHostExternalCertificate from route admission
  openshift-kube-apiserver/admission/route/hostassignment/admission.go
Due: none

UPSTREAM: <carry>: Add OpenShift tooling, images, configs and docs
  hack/make-rules/test.sh
  openshift-hack/e2e/annotate/rules.go
  staging/src/k8s.io/code-generator/examples/hack/verify-codegen.sh
  staging/src/k8s.io/code-generator/kube_codegen.sh
Due: ci/prow/artifacts

UPSTREAM: <drop>: disable ResilientWatchCacheInitialization feature
  pkg/features/versioned_kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Due: none

UPSTREAM: 129052: test/e2e/apimachinery/watchlist: select only wellknown secrets
  test/e2e/apimachinery/watchlist.go
Due: none

UPSTREAM: <drop>: make update
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/zz_generated.defaults.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/zz_generated.deepcopy.go
Due: ci/prow/artifacts

UPSTREAM: <drop>: attempt to fix pathological events
  pkg/kubelet/nodestatus/setters.go
Due: none

kubelet: Do not return an error if nodeAddress status updates fail
  pkg/kubelet/nodestatus/setters.go
Due: none

WIP: poc: OIDC patch for restrictusers
  openshift-kube-apiserver/admission/authorization/restrictusers/restrictusers.go
  openshift-kube-apiserver/openshiftkubeapiserver/patch.go
Due: none

UPSTREAM: 125923: e2e_node: add a test to verify the kubelet starts
  test/e2e_node/node_container_manager_test.go
Due: none

UPSTREAM: <carry>: kubelet/cm: fix bug where kubelet restarts from missing cpuset cgroup
  pkg/kubelet/cm/cgroup_manager_linux.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/node_container_manager_linux.go
  pkg/kubelet/cm/types.go
Due: ci/prow/artifacts

UPSTREAM: 125923: e2e_node: use restart instead of start stop
  test/e2e_node/node_container_manager_test.go
Due: none

UPSTREAM: <carry>: kubelet/cm: move CPU reading from cm to cm/cpumanager
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/cpumanager/cpu_manager.go
  pkg/kubelet/cm/cpumanager/cpu_manager_test.go
  pkg/kubelet/cm/cpumanager/fake_cpu_manager.go
  pkg/kubelet/cm/node_container_manager_linux.go
Due: ci/prow/artifacts

test
  pkg/kubelet/nodestatus/setters.go
Due: none

UPSTREAM: <drop>: manually resolve conflicts
  pkg/scheduler/schedule_one_test.go
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

WIP: poc: OIDC patch for restrictusers
  openshift-kube-apiserver/admission/authorization/restrictusers/authncache/authentication.go
  openshift-kube-apiserver/admission/authorization/restrictusers/authncache_test.go
  openshift-kube-apiserver/admission/authorization/restrictusers/intializers.go
  openshift-kube-apiserver/admission/authorization/restrictusers/restrictusers.go
  openshift-kube-apiserver/admission/authorization/restrictusers/restrictusers_test.go
  openshift-kube-apiserver/openshiftkubeapiserver/patch.go
Due: none

go fmt
  openshift-kube-apiserver/admission/authorization/restrictusers/intializers.go
Due: none

go fmt
  openshift-kube-apiserver/openshiftkubeapiserver/patch.go
Due: none

UPSTREAM: <carry>: filter out CustomResourceQuota paths from OpenAPI
  staging/src/k8s.io/apiserver/pkg/server/routes/openapi.go
Due: none

UPSTREAM: 93286: wait for apiservices on startup
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
Due: none

UPSTREAM: <carry>: patch aggregator to allow delegating resources
  pkg/controlplane/controller/crdregistration/crdregistration_controller.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/patch_always_local_delegate.go
Due: none

UPSTREAM: 74956: apiserver: switch authorization to use protobuf client
  staging/src/k8s.io/apiserver/pkg/server/options/authorization.go
Due: none

UPSTREAM: <carry>: Extend NodeLogQuery feature
  pkg/features/versioned_kube_features.go
  pkg/kubelet/apis/config/validation/validation_test.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_server_journal.go
  pkg/kubelet/kubelet_server_journal_linux.go
  pkg/kubelet/kubelet_server_journal_test.go
  pkg/kubelet/kubelet_server_journal_windows.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Due: ci/prow/artifacts
