Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$

UPSTREAM: 135340: cbor: bump limits
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/internal/modes/decode.go
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/cri-client/go.mod
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/dynamic-resource-allocation/go.mod
  staging/src/k8s.io/endpointslice/go.mod
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-controller/go.mod
  vendor/modules.txt
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: un-skip MutableCSINodeAllocatableCount tests
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts

UPSTREAM: 133262: Remove broken tests using a hardcoded secret
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  test/e2e/common/node/runtime.go
  test/e2e_node/runtime_conformance_test.go
  test/utils/image/manifest.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: x509: Fix tests using expired certificates
  staging/src/k8s.io/apiserver/pkg/authentication/request/x509/x509_test.go
Due: none

UPSTREAM: <carry>: tests: Disable breaking Azure tests
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_blobDiskController_test.go
Due: none

UPSTREAM: <carry>: Skip upstream flaking test
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: test: skip private registry test
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Improve WatchList test robustness
  test/e2e/apimachinery/watchlist.go
Due: none

UPSTREAM: <carry>: Allow setting webhook token authenticator when authentication type is OIDC
  openshift-kube-apiserver/admission/customresourcevalidation/authentication/validate_authentication.go
Due: none

UPSTREAM: <carry>: Fix ClusterIsIPv6() detection for dual-stack v6-primary clusters
  openshift-hack/cmd/k8s-tests-ext/provider.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Bump github.com/sirupsen/logrus to v1.9.3 for CVE-2025-65637
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/github.com/sirupsen/logrus/README.md
  vendor/github.com/sirupsen/logrus/buffer_pool.go
  vendor/github.com/sirupsen/logrus/entry.go
  vendor/github.com/sirupsen/logrus/logger.go
  vendor/github.com/sirupsen/logrus/writer.go
  vendor/modules.txt
Due: none

UPSTREAM: <carry>: authentication: enforce claims.email_verified usage when claims.email is used in username expression
  openshift-kube-apiserver/admission/customresourcevalidation/authentication/validate_authentication.go
  openshift-kube-apiserver/admission/customresourcevalidation/authentication/validate_authentication_test.go
Due: none

UPSTREAM: <carry>: authentication: add validateUserCELExpression to use CompileUserExpression for user validation rules
  openshift-kube-apiserver/admission/customresourcevalidation/authentication/validate_authentication.go
Due: none

UPSTREAM: <carry>: update hack/update-vendor.sh
  hack/update-vendor.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: disable flaky HPA test
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Add jacobsee and jubittajohn to DOWNSTREAM_OWNERS
  DOWNSTREAM_OWNERS
Due: none

UPSTREAM: 137090: Update HPA Configurable Tolerance e2e test feature
  test/e2e/autoscaling/horizontal_pod_autoscaling_behavior.go
Due: none

UPSTREAM: 137134: Mark HPA's configurable tolerance test as serial
  test/e2e/autoscaling/horizontal_pod_autoscaling_behavior.go
Due: none

UPSTREAM: 137168: Decrease likelihood of HPA flake in Configurable Tolerance
  test/e2e/autoscaling/horizontal_pod_autoscaling_behavior.go
Due: none

UPSTREAM: 137612: fix: [sig-autoscaling] flaky HPAConfigurableTolerance e2e should scale up but should not scale down
  test/e2e/autoscaling/horizontal_pod_autoscaling_behavior.go
  test/e2e/framework/autoscaling/autoscaling_utils.go
Due: none

UPSTREAM: 137926: KEP-961: demote maxUnavailable feature in statefulset to off by default
  pkg/features/kube_features.go
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
Due: none
