Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$

UPSTREAM: <carry>: kubelet: fix readiness probes with pod termination
  test/e2e_node/mirror_pod_readiness_test.go
Due: none

UPSTREAM: <carry>: Add OpenShift tooling, images, configs and docs
  .ci-operator.yaml
Due: none

UPSTREAM: <carry>: Add OpenShift tooling, images, configs and docs
  hack/verify-govet-levee.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: update hyperkube image version
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: apiserver: add system_client=kube-{apiserver,cm,s} to apiserver_request_total
  staging/src/k8s.io/kube-aggregator/pkg/controllers/openapiv3/aggregator/aggregator_test.go
Due: none

UPSTREAM: <carry>: kubelet: fix readiness probes with pod termination
  cmd/kube-controller-manager/app/controllermanager.go
  cmd/kube-controller-manager/app/patch.go
  cmd/kube-controller-manager/app/patch_test.go
Due: none

UPSTREAM: <carry>: Add OpenShift tooling, images, configs and docs
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Add OpenShift tooling, images, configs and docs
  build/pause/Dockerfile.Rhel
  openshift-hack/images/tests/Dockerfile.rhel
Due: ci/prow/artifacts

UPSTREAM: <carry>: Release lock on KCM and KS termination
  cmd/kube-controller-manager/app/testing/testserver.go
Due: none

UPSTREAM: <carry>: Add OpenShift tooling, images, configs and docs
  openshift-hack/lib/init.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: don't fail integration due to too many goroutines
  test/integration/framework/etcd.go
Due: none

UPSTREAM: <carry>: SCC pod extractor: assume default SA if SA is empty
  plugin/pkg/admission/security/podsecurity/patch_podspecextractor.go
Due: none

UPSTREAM: <carry>: Extend NodeLogQuery feature
  pkg/features/kube_features.go
  pkg/generated/openapi/zz_generated.openapi.go
  pkg/kubelet/apis/config/scheme/testdata/KubeletConfiguration/after/v1beta1.yaml
  pkg/kubelet/apis/config/scheme/testdata/KubeletConfiguration/roundtrip/default/v1beta1.yaml
  pkg/kubelet/apis/config/v1beta1/defaults.go
  pkg/kubelet/apis/config/v1beta1/defaults_test.go
  pkg/kubelet/apis/config/validation/validation_test.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_server_journal.go
  pkg/kubelet/kubelet_server_journal_linux.go
  pkg/kubelet/kubelet_server_journal_test.go
  pkg/kubelet/kubelet_server_journal_windows.go
  staging/src/k8s.io/kubelet/config/v1beta1/types.go
Due: ci/prow/artifacts

UPSTREAM: <drop>: make update
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/zz_generated.defaults.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/zz_generated.deepcopy.go
Due: ci/prow/artifacts

UPSTREAM: <drop>: Revert "certificates default to tolerate no key encipherment"
  pkg/apis/certificates/v1beta1/defaults.go
Due: none

UPSTREAM: <drop>: Revert "kubelet: add key encipherment usage only if it is rsa key"
  pkg/apis/certificates/helpers.go
  pkg/apis/certificates/v1beta1/defaults.go
  pkg/apis/certificates/v1beta1/defaults_test.go
  pkg/controller/certificates/approver/sarapprove.go
  pkg/controller/certificates/signer/signer.go
  pkg/kubelet/certificate/bootstrap/bootstrap.go
  pkg/kubelet/certificate/kubelet.go
  staging/src/k8s.io/client-go/util/certificate/certificate_manager.go
  staging/src/k8s.io/client-go/util/certificate/certificate_manager_test.go
Due: none

UPSTREAM: 117248: Limit growth of the client-go transport cache.
  staging/src/k8s.io/client-go/transport/cache.go
Due: none

Revert "OCPBUGS-11698: OCPBUGS-7267: More fixes to SCC PSa extractor"
  go.mod
  go.sum
  plugin/pkg/admission/security/podsecurity/patch_podspecextractor.go
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sccmatching/patched_sc_accessors.go
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sccmatching/provider.go
  vendor/modules.txt
Due: none

UPSTREAM: <drop>: legacy-cloud-providers: azure: do not detach masters from lb when unready
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
Due: none

UPSTREAM: <drop>: legacy-cloud-providers: azure: use kube-proxy based health probes by default
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
Due: none

UPSTREAM: 117021: Fix directory mismatch for `volume.SetVolumeOwnership()`
  pkg/volume/awsebs/aws_ebs.go
  pkg/volume/azuredd/azure_mounter.go
  pkg/volume/configmap/configmap.go
  pkg/volume/csi/csi_mounter.go
  pkg/volume/downwardapi/downwardapi.go
  pkg/volume/emptydir/empty_dir.go
  pkg/volume/fc/disk_manager.go
  pkg/volume/flexvolume/mounter.go
  pkg/volume/gcepd/gce_pd.go
  pkg/volume/git_repo/git_repo.go
  pkg/volume/iscsi/disk_manager.go
  pkg/volume/local/local.go
  pkg/volume/portworx/portworx.go
  pkg/volume/projected/projected.go
  pkg/volume/rbd/disk_manager.go
  pkg/volume/secret/secret.go
  pkg/volume/volume_linux.go
  pkg/volume/volume_linux_test.go
  pkg/volume/volume_unsupported.go
  pkg/volume/vsphere_volume/vsphere_volume.go
Due: ci/prow/artifacts

UPSTREAM: 116833: Fix memory leak in kubelet volume_manager populator processedPods
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator_test.go
Due: none

test scc hint
  go.mod
  go.sum
  vendor/github.com/openshift/api/security/v1/consts.go
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sccadmission/admission.go
  vendor/modules.txt
Due: none

debugging rules
  staging/src/k8s.io/apiserver/pkg/audit/policy/checker.go
Due: none

UPSTREAM: 74956: apiserver: switch authorization to use protobuf client
  staging/src/k8s.io/apiserver/pkg/server/options/authorization.go
Due: none

UPSTREAM: <carry>: kube-controller-manager: exclude some origin resources from quota
  pkg/quota/v1/install/patch_ignoredresources.go
Due: none

UPSTREAM: <carry>: Always test PDB's during service upgrade test
  test/e2e/upgrades/network/services.go
Due: none

UPSTREAM: 84466: gce: ensureInternalInstanceGroups: reuse instance-groups for internal load balancers
  staging/src/k8s.io/legacy-cloud-providers/gce/gce.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_fake.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_instancegroup.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal_test.go
Due: none

UPSTREAM: <carry>: hardcoded restmapper with a few entries to rebootstrap SDN when SDN is down
  pkg/kubeapiserver/admission/config.go
  pkg/kubeapiserver/admission/patch_restmapper.go
Due: none

UPSTREAM: <carry>: kube-controller-manager: allow running bare kube-controller-manager
  cmd/kube-controller-manager/app/apps.go
  cmd/kube-controller-manager/app/config/config.go
  cmd/kube-controller-manager/app/config/patch.go
  cmd/kube-controller-manager/app/controllermanager.go
  cmd/kube-controller-manager/app/options/options.go
  cmd/kube-controller-manager/app/patch.go
  cmd/kube-controller-manager/app/patch_gc.go
  cmd/kube-controller-manager/app/patch_informers_openshift.go
  cmd/kube-controller-manager/app/patch_satoken.go
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/daemon/patch_nodeselector.go
  pkg/controller/daemon/patch_nodeselector_test.go
Due: none
