Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$

UPSTREAM: <carry>: fix staging test discovery after hermetic vendor
  hack/make-rules/test.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: Register OpenShift cloud providers in k8s-tests-ext
  openshift-hack/cmd/k8s-tests-ext/provider.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: fix unit tests
  hack/make-rules/test.sh
  test/typecheck/main.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: fix verify after hermetic vendor
  cmd/importverifier/importverifier.go
  hack/lib/protoc.sh
  hack/update-codegen.sh
  hack/update-generated-protobuf-dockerized.sh
  hack/verify-import-boss.sh
  staging/publishing/import-restrictions.yaml
Due: ci/prow/artifacts

UPSTREAM: <carry>: update hack/update-vendor.sh
  hack/update-vendor.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: fix verify after hermetic vendor
  cmd/importverifier/importverifier.go
  hack/lib/protoc.sh
  hack/update-codegen.sh
  hack/update-generated-protobuf-dockerized.sh
  hack/verify-import-boss.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: fix unit tests
  hack/make-rules/test.sh
  test/e2e/framework/internal/output/output.go
  test/typecheck/main.go
Due: ci/prow/artifacts

UPSTREAM: 136913: Update the csi-driver-host-path version to 1.17.1
  test/e2e/testing-manifests/storage-csi/external-snapshotter/volume-group-snapshots/csi-hostpath-plugin.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-proxy.yaml
Due: none

UPSTREAM: <carry>: Add jacobsee and jubittajohn to DOWNSTREAM_OWNERS
  DOWNSTREAM_OWNERS
Due: none

UPSTREAM: 138159: Call removeNodeTaint variadically instead of in a loop
  test/e2e/framework/node/resource.go
Due: none

UPSTREAM: <carry>: Update the dra to 1.17.1
  test/e2e/testing-manifests/dra/dra-test-driver-proxy.yaml
Due: none

UPSTREAM: 138259: Filter out unschedulable nodes in kubectl describe e2e test
  test/e2e/kubectl/kubectl.go
Due: none

UPSTREAM: 136337: DRA E2E: use image utils to manage hostpath image
  test/e2e/dra/utils/deploy.go
  test/e2e/testing-manifests/dra/dra-test-driver-proxy.yaml
Due: none

UPSTREAM: <carry>: disabled_tests: add flaky InPlacePodVerticalScaling tests
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts

UPSTREAM: 138318: DRA: use full image name in test manifests
  test/e2e/testing-manifests/dra/dra-test-driver-proxy.yaml
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: switch to -mod=readonly
  cmd/importverifier/importverifier.go
  hack/lib/protoc.sh
  hack/make-rules/test.sh
  hack/update-codegen.sh
  hack/update-generated-protobuf-dockerized.sh
  hack/verify-import-boss.sh
  test/typecheck/main.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: switch to -mod=readonly
  cmd/importverifier/importverifier.go
  hack/lib/protoc.sh
  hack/update-codegen.sh
  hack/update-generated-protobuf-dockerized.sh
  hack/verify-import-boss.sh
  test/typecheck/main.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: fix verify after hermetic vendor
  build/root/Makefile
  cmd/importverifier/importverifier.go
  hack/lib/protoc.sh
  hack/update-codegen.sh
  hack/update-generated-protobuf-dockerized.sh
  hack/verify-generated-files.sh
  hack/verify-import-boss.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: update hack/update-vendor.sh
  hack/update-vendor.sh
  test/e2e/framework/internal/output/output.go
Due: ci/prow/artifacts
