Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$

UPSTREAM: <carry>: Fix tests after backport
  staging/src/k8s.io/apiserver/pkg/server/filters/with_early_late_annotations_test.go
Due: none

UPSTREAM: 131725: Avoid encoding in LogResponseObject when we are not going to use it
  staging/src/k8s.io/apiserver/pkg/audit/request.go
  staging/src/k8s.io/apiserver/pkg/audit/request_log_test.go
Due: none

UPSTREAM: 131694: Eliminate AuditContext`s SetEventLevel
  staging/src/k8s.io/apiserver/pkg/admission/audit_test.go
  staging/src/k8s.io/apiserver/pkg/audit/context.go
  staging/src/k8s.io/apiserver/pkg/audit/request.go
  staging/src/k8s.io/apiserver/pkg/authentication/token/cache/cached_token_authenticator.go
  staging/src/k8s.io/apiserver/pkg/authentication/token/cache/cached_token_authenticator_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/audit.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete_test.go
  staging/src/k8s.io/apiserver/pkg/util/x509metrics/server_cert_deprecations_test.go
Due: none

UPSTREAM: <carry>: Add audit annotation for watch rejections due to storage initialization
  staging/src/k8s.io/apiserver/pkg/audit/context.go
  staging/src/k8s.io/apiserver/pkg/audit/context_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/ready.go
Due: none

UPSTREAM: <carry>: Add audit annotation for watch rejections due to storage initialization
  staging/src/k8s.io/apiserver/pkg/audit/context.go
  staging/src/k8s.io/apiserver/pkg/audit/context_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/ready.go
Due: none

UPSTREAM: <carry>: Add audit annotations for watch rejections due to storage initializing
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
Due: none

UPSTREAM: <drop>: Remove duplicate VolumeGroupSnapshottableTestSuite from CSISuites
  test/e2e/storage/testsuites/base.go
Due: none

UPSTREAM: <drop>: attempt to fix VAC tests
  test/e2e/storage/framework/volume_resource.go
Due: none

UPSTREAM: 131850: fix uncore cache alignment for odd integer cpus
  pkg/kubelet/cm/cpumanager/cpu_assignment.go
  pkg/kubelet/cm/cpumanager/cpu_assignment_test.go
  pkg/kubelet/cm/cpumanager/policy_static_test.go
Due: none

UPSTREAM: 131850: add e2e_node tests for uncore alignment
  pkg/kubelet/cm/cpumanager/cpu_assignment.go
Due: none

[release-4.20] OCPBUGS-63601: Skip CPU resource status for workload-pinned pods
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/managed/managed.go
  pkg/kubelet/managed/managed_test.go
Due: none

UPSTREAM: <carry>: do not skip CBOR tests
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: add AGENTS.md for AI code contributions
  AGENTS.md
Due: none

UPSTREAM: <drop>: attempt to disable transcoding
  staging/src/k8s.io/apiextensions-apiserver/pkg/cmd/server/options/options.go
  staging/src/k8s.io/apimachinery/pkg/api/apitesting/roundtrip/unstructured.go
  staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/unstructured/unstructured_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/cbor.go
  staging/src/k8s.io/client-go/dynamic/scheme.go
  test/fuzz/cbor/cbor.go
  test/integration/etcd/etcd_storage_path_test.go
Due: none

UPSTREAM: <carry>: Skip CPU resource status for workload-pinned pods
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/managed/managed.go
  pkg/kubelet/managed/managed_test.go
Due: none

UPSTREAM: <drop>: resolve conflicts and update generated files
  container_output.log
  go.mod
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

override build image
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Use Go 1.25 builder image for all Dockerfiles
  .dockerignore
  openshift-hack/images/installer-kube-apiserver-artifacts/Dockerfile.rhel
  openshift-hack/images/kube-proxy/Dockerfile.rhel
  openshift-hack/images/tests/Dockerfile.rhel
Due: ci/prow/artifacts

change the version to 1.35.0 in hyperkube dockerfile
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

use RHEL 9 go 1.24 default build images
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-hack/images/installer-kube-apiserver-artifacts/Dockerfile.rhel
  openshift-hack/images/kube-proxy/Dockerfile.rhel
  openshift-hack/images/tests/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <drop>: attempt to disable transcoding
  staging/src/k8s.io/apimachinery/pkg/api/apitesting/roundtrip/unstructured.go
Due: none

Enable DRA and lock it to default
  pkg/features/kube_features.go
Due: none

Revert "Enable DRA and lock it to default"
  pkg/features/kube_features.go
Due: none

Disable DRA dependent features when DRA is disabled
  pkg/features/openshift_features.go
Due: none

Add DRA dependent features to OpenShift API feature gates
  pkg/features/openshift_features.go
  vendor/github.com/openshift/api/features/features.go
Due: none

Add a new field Mapped into openshift-test extension Image struct
  openshift-hack/cmd/k8s-tests-ext/k8s-tests.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/extension/types.go
Due: ci/prow/artifacts

Update openshift-tests-extension dependency
  go.mod
  go.sum
  vendor/OWNERS
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/extension/types.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/ginkgo/util.go
  vendor/modules.txt
Due: none

UPSTREAM: <drop>: bump apiserver-library-go
  go.mod
  go.sum
  go.work.sum
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sccadmission/admission.go
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sccmatching/matcher.go
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sccmatching/provider.go
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sysctl/mustmatchpatterns.go
  vendor/modules.txt
Due: none

UPSTREAM: <drop>: Disable volume group snapshot tests
  test/e2e/storage/openshift_csi_volumes.go
Due: none

UPSTREAM: 133392: add retry to getMetricsFromNode
  test/e2e/framework/metrics/kubelet_metrics.go
  test/e2e/framework/metrics/metrics_grabber.go
Due: none

Revert "TRT-2113: Remove annotation framework in favor of environment selectors"
  REBASE.openshift.md
  hack/update-test-annotations.sh
  hack/verify-test-annotations.sh
  openshift-hack/cmd/k8s-tests-ext/k8s-tests.go
  openshift-hack/e2e/annotate/annotate.go
  openshift-hack/e2e/annotate/annotate_test.go
  openshift-hack/e2e/annotate/cmd/main.go
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
  openshift-hack/e2e/annotate/rules_test.go
  openshift-hack/e2e/include.go
  openshift-hack/e2e/kube_e2e_test.go
  openshift-hack/update-test-annotations.sh
  openshift-hack/verify-test-annotations.sh
Due: ci/prow/artifacts

UPSTREAM: 135069: Update group snapshot tests to v1beta2
  test/e2e/storage/testsuites/volume_group_snapshottable.go
  test/e2e/storage/utils/volume_group_snapshot.go
  test/e2e/testing-manifests/storage-csi/external-snapshotter/groupsnapshot.storage.k8s.io_volumegroupsnapshotclasses.yaml
  test/e2e/testing-manifests/storage-csi/external-snapshotter/groupsnapshot.storage.k8s.io_volumegroupsnapshotcontents.yaml
  test/e2e/testing-manifests/storage-csi/external-snapshotter/groupsnapshot.storage.k8s.io_volumegroupsnapshots.yaml
  test/e2e/testing-manifests/storage-csi/external-snapshotter/volume-group-snapshots/csi-hostpath-plugin.yaml
  test/e2e/testing-manifests/storage-csi/external-snapshotter/volume-group-snapshots/run_group_snapshot_e2e.sh
Due: none

UPSTREAM: 135135: Update CSI manifests from csi-driver-hostpath master
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-snapshotter.yaml
Due: none

UPSTREAM: 133227: Concurrentmap Iteration
  pkg/volume/plugins.go
Due: none

UPSTREAM: 1234: Fix user namespace validation for runAsGroup, fsGroup, and supplementalGroups
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
Due: none

UPSTREAM: <carry>: Extend CRD deletion timeouts
  staging/src/k8s.io/apiextensions-apiserver/test/integration/fixtures/resources.go
Due: none

UPSTREAM: 1234: Fix user namespace validation for runAsGroup, fsGroup, and supplementalGroups2
  openshift-kube-apiserver/admission/customresourcevalidation/securitycontextconstraints/defaulting_scc_test.go
  openshift-kube-apiserver/admission/customresourcevalidation/securitycontextconstraints/defaults.go
  openshift-kube-apiserver/admission/customresourcevalidation/securitycontextconstraints/validation/validation.go
  vendor/github.com/openshift/api/security/v1/types.go
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sccmatching/provider.go
Due: none

change default
  openshift-kube-apiserver/admission/customresourcevalidation/securitycontextconstraints/defaulting_scc_test.go
  openshift-kube-apiserver/admission/customresourcevalidation/securitycontextconstraints/defaults.go
Due: none
