Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

ci/prow/artifacts:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-selfupgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-azure-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

UPSTREAM: 135623: Fix the preemption test
  test/e2e/storage/testsuites/readwriteoncepod.go
Due: none

UPSTREAM: 135680: test/e2e: increase memory limits in pod resize tests
  test/e2e/common/node/pod_resize.go
Due: none

UPSTREAM: <carry>: enable InPlace resize test
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts

UPSTREAM: 135476: Filter out the nodes created by other tests
  test/e2e/kubectl/kubectl.go
Due: none

UPSTREAM: <carry>: change iperf2 test case from parallel into serial
  openshift-hack/cmd/k8s-tests-ext/labels.go
Due: ci/prow/artifacts

UPSTREAM: 135340: cbor: bump limits
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/internal/modes/decode.go
Due: none

UPSTREAM: <carry>: Added validation to check if OKD featureset is being enabled on OKD clusters
  build/root/Makefile
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-kube-apiserver/admission/customresourcevalidation/features/scos.go
  openshift-kube-apiserver/admission/customresourcevalidation/features/validate_features.go
  openshift-kube-apiserver/admission/customresourcevalidation/features/version.go
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: Rename HPA test label filter
  openshift-hack/cmd/k8s-tests-ext/k8s-tests.go
  openshift-hack/cmd/k8s-tests-ext/labels.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: cgroups package has been moved, WriteFile function is available in the already-imported fscommon package
  pkg/kubelet/cm/cgroup_manager_linux.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: prober.recordContainerEvent requires context now
  pkg/kubelet/prober/patch_prober.go
Due: none

UPSTREAM: <carry>: storage.Interface.SetKeysFunc has been changed to EnableResourceSizeEstimation
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/etcd3retry/retry_etcdclient.go
Due: none

UPSTREAM: <carry>: Update service CA cert publisher controller & controller descriptor to new style
  cmd/kube-controller-manager/app/certificates.go
  cmd/kube-controller-manager/app/controller_descriptor.go
  openshift-kube-controller-manager/servicecacertpublisher/publisher.go
Due: none

UPSTREAM: <carry>: Feature gates must now declare dependencies, even if there are none.
  pkg/features/openshift_features.go
Due: none

UPSTREAM: <carry>: Run all tests including vendored ones in k8s-tests-ext
  openshift-hack/cmd/k8s-tests-ext/k8s-tests.go
Due: ci/prow/artifacts

UPSTREAM: <drop>: exclude failing tests
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts

UPSTREAM: <drop>: update kubernetes version
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: NewQuotaConfigurationForAdmission now requires a SharedInformerFactory
  openshift-kube-apiserver/openshiftkubeapiserver/patch.go
Due: none

UPSTREAM: <carry>: Update builder image
  .ci-operator.yaml
  build/pause/Dockerfile.Rhel
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-hack/images/installer-kube-apiserver-artifacts/Dockerfile.rhel
  openshift-hack/images/kube-proxy/Dockerfile.rhel
  openshift-hack/images/tests/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: ValidateTolerations function now takes a PodValidationOptions argument
  openshift-kube-apiserver/admission/customresourcevalidation/dns/validate_dns.go
Due: none

UPSTREAM: <drop>: make update
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/zz_generated.defaults.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/zz_generated.deepcopy.go
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh
  go.work.sum
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/cri-client/go.mod
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/dynamic-resource-allocation/go.mod
  staging/src/k8s.io/endpointslice/go.mod
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-controller/go.mod
  vendor/modules.txt
Due: none

DNM/TEST: chasing dualstack v6primary test perma-failures
  test/e2e/network/dns_common.go
  test/e2e/node/kubelet_authz.go
Due: none

UPSTREAM: <carry>: Disable AZURE blobdisk tests
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_blobDiskController_test.go
Due: none

UPSTREAM: <carry>: Ensure service ca is mounted for projected tokens
  cmd/kube-controller-manager/app/certificates.go
  cmd/kube-controller-manager/app/controller_descriptor.go
  cmd/kube-controller-manager/app/controllermanager_test.go
  cmd/kube-controller-manager/names/controller_names.go
  openshift-kube-controller-manager/servicecacertpublisher/metrics.go
  openshift-kube-controller-manager/servicecacertpublisher/metrics_test.go
  openshift-kube-controller-manager/servicecacertpublisher/publisher.go
  openshift-kube-controller-manager/servicecacertpublisher/publisher_test.go
  plugin/pkg/admission/serviceaccount/admission.go
  plugin/pkg/admission/serviceaccount/admission_test.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-role-bindings.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
