Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$

UPSTREAM: <drop>: manually resolve conflicts
  go.sum
  staging/src/k8s.io/client-go/go.sum
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  go.sum
  openshift-hack/images/hyperkube/Dockerfile.rhel
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

feat: add arbiter node role
  staging/src/k8s.io/kubelet/pkg/apis/well_known_openshift_labels.go
Due: none

UPSTREAM: <carry>: log only deprecated api requests
  openshift-kube-apiserver/filters/apirequestcount/apiaccess_count_controller.go
  openshift-kube-apiserver/filters/apirequestcount/apiaccess_count_controller_test.go
  openshift-kube-apiserver/filters/apirequestcount/deprecated.go
  openshift-kube-apiserver/filters/apirequestcount_filter.go
Due: none

carry: improve debug logs
  pkg/kubelet/cm/cpumanager/cpu_assignment.go
  pkg/kubelet/cm/cpumanager/cpu_manager.go
Due: none

CRD type check test fix
  test/e2e/apimachinery/validatingadmissionpolicy.go
Due: none

Update test/e2e/apimachinery/validatingadmissionpolicy.go
  test/e2e/apimachinery/validatingadmissionpolicy.go
Due: none

UPSTREAM: <carry>: Remove no-longer-matched annotation rules
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Fail updating annotations if any rules match 0 tests
  openshift-hack/e2e/annotate/annotate.go
Due: ci/prow/artifacts

authorization: add minimumkubeletversion package
  cmd/kube-apiserver/app/server.go
  openshift-kube-apiserver/authorization/minimumkubeletversion/minimum_kubelet_version.go
  openshift-kube-apiserver/authorization/minimumkubeletversion/minimum_kubelet_version_test.go
  pkg/kubeapiserver/authorizer/reload.go
Due: none

crdvalidation: move latency profile file to be agnostic of field
  openshift-kube-apiserver/admission/customresourcevalidation/node/validate_node_config.go
  openshift-kube-apiserver/admission/customresourcevalidation/node/validate_node_config_test.go
  openshift-kube-apiserver/authorization/minimumkubeletversion/minimum_kubelet_version.go
Due: none

admission: validate minimumKubeletVersion
  openshift-kube-apiserver/admission/customresourcevalidation/node/validate_node_config.go
  openshift-kube-apiserver/admission/customresourcevalidation/node/validate_node_config_test.go
Due: none

wip: test version bump for investigation
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: add DOWNSTREAM_OWNERS
  DOWNSTREAM_OWNERS
Due: none

UPSTREAM: <carry>: Prefer local endpoint for cluster DNS service
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
Due: none

UPSTREAM: <carry>: kubelet/cm: move CPU reading from cm to cm/cpumanager
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/cpumanager/cpu_manager.go
  pkg/kubelet/cm/cpumanager/cpu_manager_test.go
  pkg/kubelet/cm/cpumanager/fake_cpu_manager.go
  pkg/kubelet/cm/node_container_manager_linux.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: kubelet/cm: fix bug where kubelet restarts from missing cpuset cgroup
  pkg/kubelet/cm/cgroup_manager_linux.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/node_container_manager_linux.go
  pkg/kubelet/cm/types.go
Due: ci/prow/artifacts

UPSTREAM: 125923: e2e_node: use restart instead of start stop
  test/e2e_node/node_container_manager_test.go
Due: none

UPSTREAM: 125923: e2e_node: add a test to verify the kubelet starts
  test/e2e_node/node_container_manager_test.go
Due: none

UPSTREAM: <carry>: Add OpenShift tooling, images, configs and docs
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

HACK: fix request Host storing in openshift.io/during-graceful audit log annotation
  staging/src/k8s.io/apiserver/pkg/server/patch_genericapiserver.go
Due: none

Store "openshift.io/request-header-accept", "openshift.io/request-header-accept-encoding" and "openshift.io/request-header-content-length"
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/patch_genericapiserver.go
Due: none

Use protobuf for core clients
  hack/update-codegen.sh
  staging/src/k8s.io/apiextensions-apiserver/hack/update-codegen.sh
  staging/src/k8s.io/client-go/gentype/type.go
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/code-generator/cmd/client-gen/args/args.go
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/client_generator.go
  staging/src/k8s.io/code-generator/cmd/client-gen/generators/generator_for_type.go
  staging/src/k8s.io/code-generator/kube_codegen.sh
  staging/src/k8s.io/kube-aggregator/hack/update-codegen.sh
  staging/src/k8s.io/metrics/hack/update-codegen.sh
Due: ci/prow/artifacts

audit: store accept/accept-encoding/content-length audit log annotations
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/audit.go
Due: none

client-go/rest: move content type wiring from client to request
  staging/src/k8s.io/client-go/rest/client.go
  staging/src/k8s.io/client-go/rest/request.go
  staging/src/k8s.io/client-go/rest/request_test.go
Due: none

Store "openshift.io/request-header-host" annotation in audit logs
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/patch_genericapiserver.go
Due: none

Add takeByTopologyUnCoreCachePacked if policy option align-cpus-by-uncorecache is enabled.
  pkg/kubelet/cm/cpumanager/policy_static.go
Due: none

New policy optino 'align-cpus-by-uncorecache' for Split L3 Topology to take CPUs by uncourecache grouping.
  pkg/kubelet/cm/cpumanager/policy_options.go
Due: none

Add policy & test cases
  pkg/kubelet/cm/cpumanager/cpu_assignment.go
  pkg/kubelet/cm/cpumanager/cpu_assignment_test.go
  pkg/kubelet/cm/cpumanager/cpu_manager_test.go
  pkg/kubelet/cm/cpumanager/policy_options.go
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/cpumanager/policy_test.go
  pkg/kubelet/cm/cpumanager/topology/topology.go
  pkg/kubelet/cm/cpumanager/topology/topology_test.go
  pkg/kubelet/cm/cpumanager/topology_hints_test.go
Due: none

Adding new function to evaluate uncore cache id
  pkg/kubelet/cm/cpumanager/cpu_assignment.go
  pkg/kubelet/cm/cpumanager/cpu_assignment_test.go
  pkg/kubelet/cm/cpumanager/policy_options.go
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/cpumanager/policy_test.go
  pkg/kubelet/cm/cpumanager/topology/topology.go
  pkg/kubelet/cm/cpumanager/topology/topology_test.go
Due: none

reverse allocation logic
  pkg/kubelet/cm/cpumanager/cpu_assignment.go
  pkg/kubelet/cm/cpumanager/cpu_assignment_test.go
  pkg/kubelet/cm/cpumanager/policy_test.go
Due: none

implement preferAlignByUncorecache within TakeByTopologyNUMAPacked and test cases
  pkg/kubelet/cm/cpumanager/cpu_assignment.go
  pkg/kubelet/cm/cpumanager/cpu_assignment_test.go
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/cpumanager/policy_test.go
  pkg/kubelet/cm/cpumanager/topology/topology.go
  pkg/kubelet/cm/cpumanager/topology/topology_test.go
Due: none

simplified takepartial uncorecache and added logging. Added helper function with unit tests
  pkg/kubelet/cm/cpumanager/cpu_assignment.go
  pkg/kubelet/cm/cpumanager/topology/topology.go
  pkg/kubelet/cm/cpumanager/topology/topology_test.go
Due: none

backporting: compilation fixes
  pkg/kubelet/cm/cpumanager/cpu_assignment.go
  pkg/kubelet/cm/cpumanager/cpu_assignment_test.go
  pkg/kubelet/cm/cpumanager/policy_options.go
  pkg/kubelet/cm/cpumanager/policy_static.go
Due: none

UPSTREAM: <carry>: require configuration file enablement
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/llcalign/llcalign.go
Due: none
