Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$

UPSTREAM: <carry>: Prefer local endpoint for cluster DNS service
  pkg/proxy/iptables/proxier.go
  pkg/proxy/iptables/proxier_test.go
Due: none

UPSTREAM: <carry>: Remove ValidateHostExternalCertificate from route admission
  openshift-kube-apiserver/admission/route/hostassignment/admission.go
Due: none

UPSTREAM: <carry>: add arbiter node role to known labels
  staging/src/k8s.io/kubelet/pkg/apis/well_known_openshift_labels.go
Due: none

UPSTREAM: <carry>: Add OpenShift tooling, images, configs and docs
  .ci-operator.yaml
  .openshift-tests-extension/openshift_payload_hyperkube.json
  DOWNSTREAM_OWNERS
  build/pause/Dockerfile.Rhel
  hack/lib/golang.sh
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
  openshift-hack/cmd/k8s-tests-ext/environment_selectors.go
  openshift-hack/cmd/k8s-tests-ext/k8s-tests.go
  openshift-hack/cmd/k8s-tests-ext/labels.go
  openshift-hack/cmd/k8s-tests/k8s-tests.go
  openshift-hack/cmd/k8s-tests/provider.go
  openshift-hack/cmd/k8s-tests/runtest.go
  openshift-hack/cmd/k8s-tests/types.go
  openshift-hack/e2e/annotate/rules.go
  openshift-hack/e2e/include.go
  openshift-hack/e2e/kube_e2e_test.go
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-hack/images/installer-kube-apiserver-artifacts/Dockerfile.rhel
  openshift-hack/images/kube-proxy/Dockerfile.rhel
  openshift-hack/images/kube-proxy/test-kube-proxy.sh
  openshift-hack/images/tests/Dockerfile.rhel
  openshift-hack/test-kubernetes-e2e.sh
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: 131409: test/e2e/node/kubelet_authz.go: fix SAR to include service account groups
  test/e2e/framework/auth/helpers.go
  test/e2e/node/kubelet_authz.go
Due: none

UPSTREAM: <drop>: temporarily unlock features
  pkg/features/kube_features.go
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
Due: none

UPSTREAM: 131187: Update PodSecurityLevel used during Service CIDRs tests
  test/e2e/network/service_cidrs.go
Due: none

UPSTREAM: <carry>: Don't retry storage calls with side effects.
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/etcd3retry/retry_etcdclient.go
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/etcd3retry/retry_etcdclient_test.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/retry_etcdprobemonitor.go
Due: none

UPSTREAM: <carry>: log only deprecated api requests
  openshift-kube-apiserver/filters/apirequestcount/apiaccess_count_controller.go
  openshift-kube-apiserver/filters/apirequestcount/apiaccess_count_controller_test.go
  openshift-kube-apiserver/filters/apirequestcount/deprecated.go
  openshift-kube-apiserver/filters/apirequestcount_filter.go
Due: none

UPSTREAM: <carry>: allow TLS1.3 or modern profile to be specified
  openshift-kube-apiserver/admission/customresourcevalidation/apiserver/validate_apiserver.go
  openshift-kube-apiserver/admission/customresourcevalidation/apiserver/validate_apiserver_test.go
Due: none

UPSTREAM: 131518: use single namespace for pod resize tests
  test/e2e/common/node/pod_resize.go
Due: none

UPSTREAM: 131217: Shorten long directory names with e2e pod logs
  test/e2e/storage/utils/file.go
  test/e2e/storage/utils/file_test.go
  test/e2e/storage/utils/pod.go
Due: none

UPSTREAM: <carry>: admission: validate minimumKubeletVersion
  openshift-kube-apiserver/admission/customresourcevalidation/node/restrict_extreme_worker_latency_profile.go
  openshift-kube-apiserver/admission/customresourcevalidation/node/restrict_extreme_worker_latency_profile_test.go
  openshift-kube-apiserver/admission/customresourcevalidation/node/validate_node_config.go
  openshift-kube-apiserver/admission/customresourcevalidation/node/validate_node_config_test.go
  openshift-kube-apiserver/authorization/minimumkubeletversion/minimum_kubelet_version.go
  openshift-kube-apiserver/authorization/minimumkubeletversion/minimum_kubelet_version_test.go
  openshift-kube-apiserver/enablement/intialization.go
  pkg/features/openshift_features.go
  pkg/kubeapiserver/authorizer/modes/patch.go
  pkg/kubeapiserver/authorizer/patch.go
  pkg/kubeapiserver/authorizer/reload.go
Due: none

UPSTREAM: <carry>: Add volume group snapshot test driver
  openshift-hack/e2e/annotate/rules.go
  openshift-hack/test-kubernetes-e2e.sh
  test/e2e/storage/drivers/openshift_group_snapshot_driver.go
  test/e2e/storage/openshift_csi_volumes.go
Due: ci/prow/artifacts

UPSTREAM: 131361: Wait for resource quota status to be populated
  test/e2e/node/pod_resize.go
Due: none

UPSTREAM: 131249: Kubelet: Randomize ClusterRole name in e2e
  test/e2e/node/kubelet_authz.go
Due: none

UPSTREAM: <drop>: make update
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/zz_generated.defaults.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/zz_generated.deepcopy.go
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh
  go.work.sum
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/cri-client/go.mod
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/dynamic-resource-allocation/go.mod
  staging/src/k8s.io/endpointslice/go.mod
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-controller/go.mod
  vendor/modules.txt
Due: none

UPSTREAM: <drop>: make update
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
Due: ci/prow/artifacts

go.mod: bump apiserver-library-go for SCC annotation changes
  go.mod
Due: none

go work vendor
  go.work.sum
  vendor/OWNERS
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sccadmission/admission.go
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sccadmission/scc_authz_check.go
  vendor/modules.txt
Due: none

make update
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: enable VolumeAttributesClass tests
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: annotate VolumeAttributesClass test
  openshift-hack/cmd/k8s-tests-ext/labels.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: openshift-hack: enable userns e2e tests
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

UPSTREAM: 93286: wait for apiservices on startup
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
Due: none

UPSTREAM: 74956: apiserver: switch authorization to use protobuf client
  staging/src/k8s.io/apiserver/pkg/server/options/authorization.go
Due: none

UPSTREAM: <carry>: patch aggregator to allow delegating resources
  pkg/controlplane/controller/crdregistration/crdregistration_controller.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/patch_always_local_delegate.go
Due: none

UPSTREAM: <carry>: remove apiservice from sync in CRD registration when it exists
  pkg/controlplane/controller/crdregistration/crdregistration_controller.go
Due: none

UPSTREAM: <carry>: filter out CustomResourceQuota paths from OpenAPI
  staging/src/k8s.io/apiserver/pkg/server/routes/openapi.go
Due: none
