Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

ci/prow/artifacts:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-selfupgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-azure-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

UPSTREAM: <carry>: disable failing dnsPolicy test
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: kubelet: fix readiness probes with pod termination
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/pod/mirror_client.go
  pkg/kubelet/prober/prober_manager_test.go
  pkg/kubelet/prober/results/results_manager.go
  pkg/kubelet/prober/results/results_manager_test.go
  pkg/kubelet/prober/scale_test.go
  pkg/kubelet/prober/worker_test.go
  pkg/kubelet/status/fake_status_manager.go
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/status/status_manager_test.go
  pkg/kubelet/status/testing/mock_pod_status_provider.go
  test/e2e_node/mirror_pod_readiness_test.go
Due: none

UPSTREAM: <carry>: add shutdown annotation to response header
  staging/src/k8s.io/apiserver/pkg/server/filters/with_early_late_annotations.go
  staging/src/k8s.io/apiserver/pkg/server/filters/with_early_late_annotations_test.go
Due: none

UPSTREAM: <carry>: don't fail integration due to too many goroutines
  test/integration/framework/etcd.go
Due: none

UPSTREAM: <carry>: Create minimal wrapper needed to run k8s e2e tests
  hack/lib/golang.sh
  openshift-hack/cmd/k8s-tests/k8s-tests.go
  openshift-hack/cmd/k8s-tests/provider.go
  openshift-hack/cmd/k8s-tests/runtest.go
  openshift-hack/cmd/k8s-tests/types.go
  openshift-hack/e2e/annotate/annotate.go
  openshift-hack/e2e/annotate/cmd/main.go
  openshift-hack/e2e/annotate/rules.go
  openshift-hack/e2e/annotate/rules_test.go
  openshift-hack/e2e/namespace.go
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: 117242: vendor: bump runc to 1.1.6
  go.mod
  go.sum
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/ebpf/ebpf_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/fs.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/systemd/common.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/systemd/cpuset.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/systemd/v1.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/systemd/v2.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/utils.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/validate/validator.go
  vendor/github.com/opencontainers/runc/libcontainer/container_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/eaccess_go119.go
  vendor/github.com/opencontainers/runc/libcontainer/eaccess_stub.go
  vendor/github.com/opencontainers/runc/libcontainer/factory_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/init_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/rootfs_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/standard_init_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/sync.go
  vendor/github.com/opencontainers/runc/libcontainer/system/linux.go
  vendor/github.com/opencontainers/runc/libcontainer/user/user.go
  vendor/modules.txt
Due: ci/prow/artifacts

UPSTREAM: <carry>: disable load balancing on created cgroups when managed is enabled
  pkg/kubelet/cm/cgroup_manager_linux.go
Due: ci/prow/artifacts

UPSTREAM: 117310: kube-aggregator: correctly use client-go TLS cache with custom dialer
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy_test.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller_test.go
Due: none

UPSTREAM: <drop>: make update
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/zz_generated.defaults.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/zz_generated.deepcopy.go
Due: ci/prow/artifacts

DNM: extra logs
  pkg/kubelet/cm/devicemanager/manager.go
Due: none

node: device-mgr: Handle recovery by checking if healthy devices exist
  pkg/kubelet/cm/devicemanager/manager.go
  pkg/kubelet/cm/devicemanager/manager_test.go
Due: none

e2e: opt-out external IPs on srv to nodeport test
  openshift-hack/cmd/k8s-tests/k8s-tests.go
  test/e2e/framework/test_context.go
  test/e2e/network/service.go
Due: ci/prow/artifacts

UPSTREAM: 116376: node: device-mgr: Handle recovery by checking if healthy devices exist
  pkg/kubelet/cm/devicemanager/manager.go
  pkg/kubelet/cm/devicemanager/manager_test.go
Due: none

UPSTREAM: <drop>: manually resolve conflicts
  go.mod
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.mod
  vendor/modules.txt
Due: none

UPSTREAM: <drop>: manually resolve conflicts
  go.mod
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  vendor/modules.txt
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/images/hyperkube/Dockerfile.rhel
  staging/src/k8s.io/apiextensions-apiserver/examples/client-go/pkg/client/clientset/versioned/fake/register.go
  staging/src/k8s.io/apiextensions-apiserver/examples/client-go/pkg/client/clientset/versioned/scheme/register.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/fake/register.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/client/clientset/clientset/scheme/register.go
  staging/src/k8s.io/client-go/kubernetes/fake/register.go
  staging/src/k8s.io/client-go/kubernetes/scheme/register.go
  staging/src/k8s.io/code-generator/examples/HyphenGroup/clientset/versioned/fake/register.go
  staging/src/k8s.io/code-generator/examples/HyphenGroup/clientset/versioned/scheme/register.go
  staging/src/k8s.io/code-generator/examples/MixedCase/clientset/versioned/fake/register.go
  staging/src/k8s.io/code-generator/examples/MixedCase/clientset/versioned/scheme/register.go
  staging/src/k8s.io/code-generator/examples/apiserver/clientset/internalversion/fake/register.go
  staging/src/k8s.io/code-generator/examples/apiserver/clientset/versioned/fake/register.go
  staging/src/k8s.io/code-generator/examples/apiserver/clientset/versioned/scheme/register.go
  staging/src/k8s.io/code-generator/examples/crd/clientset/versioned/fake/register.go
  staging/src/k8s.io/code-generator/examples/crd/clientset/versioned/scheme/register.go
  staging/src/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/fake/register.go
  staging/src/k8s.io/kube-aggregator/pkg/client/clientset_generated/clientset/scheme/register.go
  staging/src/k8s.io/metrics/pkg/client/clientset/versioned/fake/register.go
  staging/src/k8s.io/metrics/pkg/client/clientset/versioned/scheme/register.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/clientset/versioned/fake/register.go
  staging/src/k8s.io/sample-apiserver/pkg/generated/clientset/versioned/scheme/register.go
  staging/src/k8s.io/sample-controller/pkg/generated/clientset/versioned/fake/register.go
  staging/src/k8s.io/sample-controller/pkg/generated/clientset/versioned/scheme/register.go
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

kubelet/cadvisor: change the housekeeping intervals
  pkg/kubelet/cadvisor/cadvisor_linux.go
Due: ci/prow/artifacts

kubelet: use more precise time in stats
  hack/lib/util.sh
  pkg/kubelet/eviction/helpers.go
  pkg/kubelet/metrics/collectors/resource_metrics_test.go
  pkg/kubelet/metrics/collectors/volume_stats_test.go
  pkg/kubelet/server/stats/summary.go
  pkg/kubelet/server/stats/summary_sys_containers.go
  pkg/kubelet/server/stats/summary_test.go
  pkg/kubelet/server/stats/volume_stat_calculator.go
  pkg/kubelet/stats/cadvisor_stats_provider.go
  pkg/kubelet/stats/cri_stats_provider.go
  pkg/kubelet/stats/cri_stats_provider_test.go
  pkg/kubelet/stats/cri_stats_provider_windows.go
  pkg/kubelet/stats/helper.go
  pkg/kubelet/stats/helper_test.go
  pkg/kubelet/stats/host_stats_provider.go
  pkg/kubelet/stats/host_stats_provider_fake.go
  pkg/kubelet/stats/pidlimit/pidlimit_linux.go
  pkg/kubelet/stats/provider.go
  pkg/kubelet/stats/provider_test.go
  staging/src/k8s.io/kubelet/pkg/apis/stats/v1alpha1/time.go
  staging/src/k8s.io/kubelet/pkg/apis/stats/v1alpha1/types.go
Due: ci/prow/artifacts

Revert "OCPBUGS-10048: UPSTREAM: <carry>: add conditional shutdown response header"
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/filters/with_early_late_annotations.go
  staging/src/k8s.io/apiserver/pkg/server/filters/with_early_late_annotations_test.go
Due: none

UPSTREAM: 117388: service controller: add providerID Node predicate
  staging/src/k8s.io/cloud-provider/controllers/service/controller.go
  staging/src/k8s.io/cloud-provider/controllers/service/controller_test.go
Due: none

UPSTREAM: <carry>: add DOWNSTREAM_OWNERS
  DOWNSTREAM_OWNERS
Due: none

Bug: OpenShift patch lost LegacyServiceAccountTokenNoAutoGeneration option.
  cmd/kube-controller-manager/app/controllermanager.go
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
