Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$

UPSTREAM: <carry>: temporarily disable reporting e2e text bugs and enforce 2nd labeling to make tests work
  openshift-hack/e2e/kube_e2e_test.go
  test/e2e/framework/ginkgowrapper.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Backport IP and CIDR CEL base for 1.28
  staging/src/k8s.io/apiserver/pkg/cel/environment/base.go
Due: none

UPSTREAM: <carry>: temporarily disable reporting e2e text bugs and enforce 2nd labeling to make tests work
  test/e2e/framework/internal/unittests/bugs/bugs_test.go
  test/e2e/framework/internal/unittests/list-labels/listlabels_test.go
  test/e2e/framework/internal/unittests/list-tests/listtests_test.go
  test/e2e/framework/test_context.go
Due: none

UPSTREAM: <carry>: Update management webhook pod admission logic
  openshift-kube-apiserver/admission/autoscaling/managementcpusoverride/admission.go
  openshift-kube-apiserver/admission/autoscaling/managementcpusoverride/admission_test.go
Due: none

UPSTREAM: <carry>: update test rules
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: switch to go1.21
  .ci-operator.yaml
  build/pause/Dockerfile.Rhel
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-hack/images/tests/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: permanently disable NodeLogQuery e2e test
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: use snyk file
  .snyk
Due: none

UPSTREAM: <carry>: Add Dockerfile to buld kube-apiserver for openshift-install architectures
  openshift-hack/images/installer-kube-apiserver-artifacts/Dockerfile.rhel
  openshift-hack/images/installer-kube-apiserver-artifacts/OWNERS
Due: ci/prow/artifacts

UPSTREAM: <carry>: clean OpenShift tooling
  hack/make-rules/verify.sh
  hack/verify-external-dependencies-version.sh
  hack/verify-govulncheck.sh
  hack/verify-openapi-spec.sh
  hack/verify-pkg-names.sh
  hack/verify-spelling.sh
  hack/verify-typecheck-providerless.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: Revert: Skip unit tests incompatible with openshift ci
  staging/src/k8s.io/kubectl/pkg/cmd/config/config_test.go
Due: none

UPSTREAM: <carry>: Revert: e2e-framework: don't autosync PodSecurity labels
  test/e2e/framework/framework.go
Due: none

UPSTREAM: <carry>: Add context to ObjectValidator TODO: add router validation logic to implement ctx add in ObjectValidator
  openshift-kube-apiserver/admission/customresourcevalidation/apirequestcount/validate_apirequestcount.go
  openshift-kube-apiserver/admission/customresourcevalidation/apirequestcount/validate_apirequestcount_test.go
  openshift-kube-apiserver/admission/customresourcevalidation/apiserver/validate_apiserver.go
  openshift-kube-apiserver/admission/customresourcevalidation/authentication/validate_authentication.go
  openshift-kube-apiserver/admission/customresourcevalidation/clusterresourcequota/validate_crq.go
  openshift-kube-apiserver/admission/customresourcevalidation/console/validate_console.go
  openshift-kube-apiserver/admission/customresourcevalidation/customresourcevalidator.go
  openshift-kube-apiserver/admission/customresourcevalidation/customresourcevalidator_test.go
  openshift-kube-apiserver/admission/customresourcevalidation/dns/validate_dns.go
  openshift-kube-apiserver/admission/customresourcevalidation/features/validate_features.go
  openshift-kube-apiserver/admission/customresourcevalidation/image/validate_image.go
  openshift-kube-apiserver/admission/customresourcevalidation/kubecontrollermanager/validate_kubecontrollermanager.go
  openshift-kube-apiserver/admission/customresourcevalidation/network/validate_network_config.go
  openshift-kube-apiserver/admission/customresourcevalidation/node/restrict_extreme_worker_latency_profile.go
  openshift-kube-apiserver/admission/customresourcevalidation/oauth/validate_oauth.go
  openshift-kube-apiserver/admission/customresourcevalidation/project/validate_project.go
  openshift-kube-apiserver/admission/customresourcevalidation/rolebindingrestriction/validate_rbr.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/validate_route.go
  openshift-kube-apiserver/admission/customresourcevalidation/scheduler/validate_scheduler.go
  openshift-kube-apiserver/admission/customresourcevalidation/securitycontextconstraints/validate_scc.go
Due: none

UPSTREAM: <carry>: Create minimal wrapper needed to run k8s e2e tests
  openshift-hack/e2e/namespace.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: RPM: Split apiserver, scheduler, k-c-m, kubelet into subpackages
  openshift.spec
Due: none

UPSTREAM: <carry>: openshift-hack/images/os: delete
  REBASE.openshift.md
  openshift-hack/images/os/Dockerfile
  openshift-hack/images/os/install.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: Enable SELinux tests
  openshift-hack/e2e/annotate/rules.go
  openshift-hack/e2e/kube_e2e_test.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: OCPBUGS-29520: fix cpu manager default cpuset check in workload partitioned env
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/cpumanager/policy_static_test.go
  pkg/kubelet/managed/managed.go
Due: none

UPSTREAM: <carry>: Set up CEL IP/CIDR library from 4.14 onwards
  staging/src/k8s.io/apiserver/pkg/cel/environment/base.go
Due: none

UPSTREAM: <carry>: fix [sig-auth] ServiceAccounts no secret-based service account token should be auto-generated
  test/e2e/auth/service_accounts.go
Due: none

UPSTREAM: <carry>: Add OpenShift tooling, images, configs and docs
  hack/update-vendor.sh
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Lock states when dumping
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  staging/src/k8s.io/kms/internal/plugins/_mock/go.mod
  staging/src/k8s.io/kms/internal/plugins/_mock/go.sum
Due: none

Add version to kubelet event
  pkg/kubelet/volumemanager/volume_manager.go
Due: none

UPSTREAM: <carry>: drop in 4.17 once all clusters have been through 4.15
  pkg/apis/core/validation/validation.go
Due: none

UPSTREAM: <drop>: manually resolve conflicts
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/kms/go.mod
  staging/src/k8s.io/kms/go.sum
  staging/src/k8s.io/kms/internal/plugins/mock/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  openshift-hack/images/hyperkube/Dockerfile.rhel
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/kms/go.mod
  staging/src/k8s.io/kms/go.sum
  staging/src/k8s.io/kms/internal/plugins/mock/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <drop>: manually resolve conflicts
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/kms/go.mod
  staging/src/k8s.io/kms/go.sum
  staging/src/k8s.io/kms/internal/plugins/mock/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
Due: none

git commit -m "UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image"
  openshift-hack/images/hyperkube/Dockerfile.rhel
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/kms/go.mod
  staging/src/k8s.io/kms/go.sum
  staging/src/k8s.io/kms/internal/plugins/mock/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: openshift-kube-apiserver: add kube-apiserver patches - fixes
  pkg/kubeapiserver/authorizer/config.go
  pkg/kubeapiserver/authorizer/reload.go
Due: none

UPSTREAM: <carry>: hardcoded restmapper with a few entries to rebootstrap SDN when SDN is down - fixes
  pkg/kubeapiserver/admission/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/admission.go
  staging/src/k8s.io/apiserver/pkg/server/options/patch_restmapper.go
Due: none

UPSTREAM: <carry>: use host etcd
  hack/update-openapi-spec.sh
Due: ci/prow/artifacts

UPSTREAM: <drop>: make update
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/zz_generated.defaults.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/zz_generated.deepcopy.go
  staging/src/k8s.io/code-generator/examples/go.work.sum
Due: ci/prow/artifacts

UPSTREAM: <carry>: clean OpenShift tooling
  hack/verify-typecheck-providerless.sh
Due: ci/prow/artifacts
