Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

ci/prow/artifacts:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-selfupgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-azure-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

UPSTREAM: <carry>: Copy hack scripts and tools from openshift/origin
  openshift-hack/build-rpms.sh
  openshift-hack/commitchecker/commitchecker
  openshift-hack/commitchecker/commitchecker.go
  openshift-hack/commitchecker/git.go
  openshift-hack/commitchecker/git_test.go
  openshift-hack/commitchecker/validate.go
  openshift-hack/commitchecker/validate_test.go
  openshift-hack/conformance-k8s.sh
  openshift-hack/images/OWNERS
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-hack/images/hyperkube/OWNERS
  openshift-hack/images/hyperkube/hyperkube
  openshift-hack/images/os/Dockerfile
  openshift-hack/images/tests/Dockerfile.rhel
  openshift-hack/images/tests/OWNERS
  openshift-hack/lib/build/binaries.sh
  openshift-hack/lib/build/rpm.sh
  openshift-hack/lib/build/version.sh
  openshift-hack/lib/cmd.sh
  openshift-hack/lib/constants.sh
  openshift-hack/lib/init.sh
  openshift-hack/lib/log/output.sh
  openshift-hack/lib/log/stacktrace.sh
  openshift-hack/lib/test/junit.sh
  openshift-hack/lib/util/ensure.sh
  openshift-hack/lib/util/environment.sh
  openshift-hack/lib/util/find.sh
  openshift-hack/lib/util/misc.sh
  openshift-hack/lib/util/text.sh
  openshift-hack/lib/util/trap.sh
  openshift-hack/verify-upstream-commits.sh
  origin.spec
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: Fix shellcheck failures for copied openshift-hack bash
  hack/.shellcheck_failures
  openshift-hack/build-rpms.sh
  openshift-hack/conformance-k8s.sh
  openshift-hack/lib/build/binaries.sh
  openshift-hack/lib/build/rpm.sh
  openshift-hack/lib/build/version.sh
  openshift-hack/lib/cmd.sh
  openshift-hack/lib/constants.sh
  openshift-hack/lib/test/junit.sh
  openshift-hack/lib/util/environment.sh
  openshift-hack/lib/util/misc.sh
  openshift-hack/lib/util/text.sh
  openshift-hack/verify-upstream-commits.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: Enable build, test and verify
  .gitignore
  build/run.sh
  hack/make-rules/update.sh
  hack/make-rules/verify.sh
  hack/update-vendor.sh
  hack/verify-vendor.sh
  openshift-hack/build-go.sh
  openshift-hack/build-rpms.sh
  openshift-hack/commitchecker/git.go
  openshift-hack/commitchecker/validate.go
  openshift-hack/commitchecker/validate_test.go
  openshift-hack/conformance-k8s.sh
  openshift-hack/create-or-update-rebase-branch.sh
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-hack/images/tests/Dockerfile.rhel
  openshift-hack/lib/build/rpm.sh
  openshift-hack/lib/build/version.sh
  openshift-hack/lib/deps.sh
  openshift-hack/lib/init.sh
  openshift-hack/lib/util/ensure.sh
  openshift-hack/test-go.sh
  openshift-hack/test-integration.sh
  openshift-hack/test-kubernetes-e2e.sh
  openshift-hack/verify-commits.sh
  openshift-hack/verify.sh
  openshift.spec
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: add readyz check for openshift apiserver availability
  openshift-kube-apiserver/openshiftkubeapiserver/patch.go
  openshift-kube-apiserver/openshiftkubeapiserver/sdn_readyz_wait.go
Due: none

UPSTREAM: <carry>: oauth-token-authn: switch to sha256~ prefix
  openshift-kube-apiserver/authentication/oauth/bootstrapauthenticator.go
  openshift-kube-apiserver/authentication/oauth/tokenauthenticator.go
  openshift-kube-apiserver/authentication/oauth/tokenauthenticator_test.go
Due: none

UPSTREAM: 93475: Strip unnecessary security contexts on Windows
  pkg/kubelet/kuberuntime/kuberuntime_container_windows.go
  pkg/kubelet/kuberuntime/kuberuntime_sandbox.go
  test/e2e/windows/security_context.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: noderestrictions: add node-role.kubernetes.io/* to allowed node labels
  pkg/kubelet/apis/well_known_labels.go
Due: none

UPSTREAM: <carry>: openshift-kube-apiserver: Add custom resource validation for network spec
  openshift-kube-apiserver/admission/customresourcevalidation/customresourcevalidationregistration/cr_validation_registration.go
  openshift-kube-apiserver/admission/customresourcevalidation/network/BUILD
  openshift-kube-apiserver/admission/customresourcevalidation/network/validate_network_config.go
Due: none

UPSTREAM: <carry>: use new access token inactivity timeout field.
  openshift-kube-apiserver/admission/customresourcevalidation/oauth/validate_idp.go
  openshift-kube-apiserver/admission/customresourcevalidation/oauth/validate_idp_test.go
  pkg/kubeapiserver/authenticator/patch_authenticator.go
Due: none

UPSTREAM: <carry>: oauth-authn: support sha256 prefixed tokens
  openshift-kube-apiserver/authentication/oauth/tokenauthenticator.go
  openshift-kube-apiserver/authentication/oauth/tokenauthenticator_test.go
Due: none

UPSTREAM: <carry>: Copy watch-termination command from openshift/origin
  cmd/watch-termination/main.go
  hack/lib/golang.sh
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: Build openshift-compatible kube e2e binary
  hack/make-rules/test.sh
  hack/make-rules/update.sh
  hack/update-test-annotations.sh
  hack/verify-test-annotations.sh
  openshift-hack/conformance-k8s.sh
  openshift-hack/e2e/annotate/annotate.go
  openshift-hack/e2e/annotate/cmd/main.go
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
  openshift-hack/e2e/annotate/rules_test.go
  openshift-hack/e2e/include.go
  openshift-hack/e2e/kube_e2e_test.go
  openshift-hack/images/tests/Dockerfile.rhel
  openshift-hack/test-kubernetes-e2e.sh
  openshift-hack/update-test-annotations.sh
  openshift-hack/verify-test-annotations.sh
  test/e2e/viperconfig.go
  test/typecheck/main.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Switch image and rpm build to golang 1.14
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-hack/images/tests/Dockerfile.rhel
  openshift-hack/lib/constants.sh
  openshift.spec
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: Switch carries to klog v2
  cmd/kube-controller-manager/app/patch.go
  cmd/kube-controller-manager/app/patch_informers_openshift.go
  cmd/watch-termination/main.go
  openshift-kube-apiserver/admission/authorization/restrictusers/restrictusers.go
  openshift-kube-apiserver/admission/autoscaling/clusterresourceoverride/admission.go
  openshift-kube-apiserver/admission/autoscaling/runonceduration/admission.go
  openshift-kube-apiserver/admission/network/externalipranger/externalip_admission.go
  openshift-kube-apiserver/admission/network/restrictedendpoints/endpoint_admission.go
  openshift-kube-apiserver/admission/scheduler/podnodeconstraints/admission.go
  openshift-kube-apiserver/authentication/oauth/timeoutvalidator.go
  openshift-kube-apiserver/configdefault/kubecontrolplane_default.go
  staging/src/k8s.io/apiserver/pkg/server/patch_genericapiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
Due: none

UPSTREAM: 94423: debugger scheduler plugin
  cmd/kube-scheduler/app/server_test.go
  pkg/scheduler/algorithmprovider/BUILD
  pkg/scheduler/algorithmprovider/registry.go
  pkg/scheduler/algorithmprovider/registry_test.go
  pkg/scheduler/apis/config/testing/compatibility_test.go
  pkg/scheduler/framework/plugins/BUILD
  pkg/scheduler/framework/plugins/debugger/BUILD
  pkg/scheduler/framework/plugins/debugger/debugger.go
  pkg/scheduler/framework/plugins/registry.go
Due: none

UPSTREAM: <carry>: only create valid LateConnections/GracefulTermination events
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
Due: none

UPSTREAM: <carry>: Updating openshift-hack/images/hyperkube/Dockerfile.rhel baseimages to mach ocp-build-data config
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: 94134: Make similar buckets for api and etcd request duration histogram
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/metrics/metrics.go
Due: none

UPSTREAM: <carry>: Skip unit tests incompatible with openshift ci
  staging/src/k8s.io/kubectl/pkg/cmd/config/config_test.go
Due: none

UPSTREAM: <carry>: Update hyperkube dockerfile with correct version
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: Update test annotation rules
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

UPSTREAM: 94614: e2e: fix deployment non-unique env vars to avoid SSA error
  test/e2e/apps/deployment.go
Due: none

UPSTREAM: <carry>: watch-termination: fix deletion race and write non-graceful message also to termination.log
  cmd/watch-termination/main.go
Due: none

UPSTREAM: 89885: legacy-cloud-provider/openstack: include / prefix in instance ID output
  staging/src/k8s.io/legacy-cloud-providers/openstack/openstack_instances.go
Due: none

UPSTREAM: revert: 94423: debugger scheduler plugin
  cmd/kube-scheduler/app/server_test.go
  pkg/scheduler/algorithmprovider/BUILD
  pkg/scheduler/algorithmprovider/registry.go
  pkg/scheduler/algorithmprovider/registry_test.go
  pkg/scheduler/apis/config/testing/compatibility_test.go
  pkg/scheduler/framework/plugins/BUILD
  pkg/scheduler/framework/plugins/debugger/BUILD
  pkg/scheduler/framework/plugins/debugger/debugger.go
  pkg/scheduler/framework/plugins/registry.go
Due: none

UPSTREAM: <carry>: Enable k8s-e2e-serial
  openshift-hack/test-kubernetes-e2e.sh
Due: ci/prow/artifacts

UPSTREAM: 94144: Reduce offline volume expansion flake
  pkg/controller/volume/expand/BUILD
  pkg/controller/volume/expand/expand_controller.go
  pkg/controller/volume/expand/expand_controller_test.go
  test/e2e/storage/testsuites/volume_expand.go
Due: none

UPSTREAM: <carry>: Stop ignoring test/e2e/generated/bindata.go
  hack/make-rules/clean.sh
  test/e2e/generated/.gitignore
Due: ci/prow/artifacts

UPSTREAM: <carry>: Update test annotation rules
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
  test/e2e/generated/bindata.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: (squash) Stop ignoring generated openapi definitions
  pkg/generated/openapi/.gitignore
  test/e2e/generated/.gitignore
Due: none

UPSTREAM: <carry>: Release lock on KCM and KS termination
  cmd/kube-controller-manager/app/controllermanager.go
  cmd/kube-scheduler/app/server.go
Due: none

UPSTREAM: <carry>: (squash) Stop installing recent bash and protoc from source
  openshift-hack/lib/deps.sh
  openshift-hack/test-go.sh
  openshift-hack/test-integration.sh
  openshift-hack/verify.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: Build with golang 1.15
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-hack/images/tests/Dockerfile.rhel
  openshift-hack/lib/constants.sh
  openshift.spec
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: 94766: apiserver: fix healthz vs. livez vs. readyz log output
  staging/src/k8s.io/apiserver/pkg/server/config_test.go
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz.go
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz_test.go
Due: none

UPSTREAM: <carry>: Add rebase instructions
  REBASE.openshift.md
  openshift-hack/commit-tag.png
Due: ci/prow/artifacts

UPSTREAM: <carry>: kube-apiserver: log non-probe requests before ready
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
  staging/src/k8s.io/apiserver/pkg/server/healthz.go
  staging/src/k8s.io/apiserver/pkg/server/healthz/healthz.go
  staging/src/k8s.io/apiserver/pkg/server/patch_genericapiserver.go
Due: none

UPSTREAM: <carry>: Update hyperkube dockerfile version
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Prevent sync&start duplication
  staging/src/k8s.io/kube-aggregator/pkg/controllers/autoregister/autoregister_controller.go
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
