Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$

UPSTREAM: <drop>: patch to use mapped images
  pkg/cmd/openshift-tests/images/images_command.go
  pkg/test/extensions/binary.go
  test/extended/util/image/zz_generated.txt
Due: none

Test with base-rhel9-minimal-test
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-hack/images/installer-kube-apiserver-artifacts/Dockerfile.rhel
  openshift-hack/images/kube-proxy/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <drop>: Temporarily unlock/un-default DRA feature gates
  pkg/features/kube_features.go
Due: none

UPSTREAM: <drop>: make update
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/zz_generated.defaults.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/zz_generated.deepcopy.go
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/cri-client/go.mod
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/dynamic-resource-allocation/go.mod
  staging/src/k8s.io/endpointslice/go.mod
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-controller/go.mod
  vendor/modules.txt
Due: none

UPSTREAM: <drop>: Update openshift-tests-extension dependency
  go.mod
  go.sum
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/extension/types.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/ginkgo/util.go
  vendor/modules.txt
Due: none

UPSTREAM: <carry>: Add a new field Mapped into openshift-test extension Image struct
  openshift-hack/cmd/k8s-tests-ext/k8s-tests.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: move disabled HPA tests from Broken to DedicatedJob
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
  openshift-hack/cmd/k8s-tests-ext/labels.go
Due: ci/prow/artifacts

UPSTREAM: 135372: fix(SchedulerPreemption/Async): schedule all medium priority pods first so all low priority pods can be preempted
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <drop>: bump apiserver-library-go
  go.mod
  go.sum
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sccadmission/admission.go
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sccmatching/matcher.go
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sccmatching/provider.go
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sysctl/mustmatchpatterns.go
  vendor/modules.txt
Due: none

UPSTREAM: <carry>: Add HPA specific OTE suite
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
  openshift-hack/cmd/k8s-tests-ext/k8s-tests.go
  openshift-hack/cmd/k8s-tests-ext/labels.go
  openshift-hack/test-kubernetes-e2e.sh
Due: ci/prow/artifacts

microdnf: Unable to handle: skip_missing_names_on_install=0
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Added basic validation for OKD featureset
  openshift-kube-apiserver/admission/customresourcevalidation/features/validate_features.go
  vendor/github.com/openshift/api/config/v1/types_feature.go
Due: none

UPSTREAM: <carry>: Extend HPA test timeout
  openshift-hack/cmd/k8s-tests-ext/k8s-tests.go
Due: ci/prow/artifacts

server: update metrics only when the request completes
  pkg/kubelet/server/server.go
Due: none

Added validation to check if a image is being built for OKD
  build/root/Makefile
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-kube-apiserver/admission/customresourcevalidation/features/validate_features.go
  openshift-kube-apiserver/version/scos.go
  openshift-kube-apiserver/version/version.go
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

go.mod: pick cadvisor commit
  go.mod
  go.sum
Due: none

UPSTREAM: <drop>: pin cadvisor to downstream fork
  go.mod
  go.sum
  vendor/OWNERS
  vendor/github.com/google/cadvisor/cache/memory/memory.go
  vendor/github.com/google/cadvisor/manager/container.go
  vendor/github.com/google/cadvisor/manager/manager.go
  vendor/modules.txt
Due: none

UPSTREAM: <drop>: make update
  go.sum
  vendor/OWNERS
Due: none

UPSTREAM: 135680: test/e2e: increase memory limits in pod resize tests
  test/e2e/common/node/pod_resize.go
Due: none

UPSTREAM: <drop>: WIP: check if this feature causes high cpu usage in openshift ci
  pkg/controller/namespace/deletion/namespaced_resources_deleter.go
  pkg/features/kube_features.go
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
  test/conformance/testdata/conformance.yaml
  test/e2e/apimachinery/namespace.go
Due: none

UPSTREAM: 135623: Fix the preemption test
  test/e2e/storage/testsuites/readwriteoncepod.go
Due: none

UPSTREAM: 135476: Filter out the nodes created by other tests
  test/e2e/kubectl/kubectl.go
Due: none

go.mod: update cadvisor dep
  go.mod
  go.sum
  vendor/github.com/google/cadvisor/fs/fs.go
  vendor/modules.txt
Due: none

UPSTREAM: <carry>: enable InPlace resize test
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts

Use Go 1.25 builder image for Kubernetes 1.35 rebase
  .ci-operator.yaml
Due: none

UPSTREAM: 93286: wait for apiservices on startup
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
Due: none

UPSTREAM: 74956: apiserver: switch authorization to use protobuf client
  staging/src/k8s.io/apiserver/pkg/server/options/authorization.go
Due: none

UPSTREAM: <carry>: filter out CustomResourceQuota paths from OpenAPI
  staging/src/k8s.io/apiserver/pkg/server/routes/openapi.go
Due: none

UPSTREAM: <carry>: Extend NodeLogQuery feature
  pkg/features/kube_features.go
  pkg/features/kube_features_test.go
  pkg/kubelet/apis/config/validation/validation_test.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_server_journal.go
  pkg/kubelet/kubelet_server_journal_linux.go
  pkg/kubelet/kubelet_server_journal_test.go
  pkg/kubelet/kubelet_server_journal_windows.go
  test/compatibility_lifecycle/cmd/feature_gates.go
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
Due: ci/prow/artifacts
