Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$

UPSTREAM: <carry>: skip specific LoadBalancer test for "none" platform
  openshift-hack/cmd/k8s-tests-ext/environment_selectors.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: admission: authentication: validate CEL expressions compilation
  openshift-kube-apiserver/admission/customresourcevalidation/authentication/validate_authentication.go
  openshift-kube-apiserver/admission/customresourcevalidation/authentication/validate_authentication_test.go
Due: none

UPSTREAM: <carry>: disable slow and flaky tests rather than labeling them
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
  openshift-hack/cmd/k8s-tests-ext/labels.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Skip SELinux test with Feature:SELinuxMountReadWriteOncePodOnly
  openshift-hack/cmd/k8s-tests-ext/environment_selectors.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Fail SELinuxMount check on rebase
  openshift-hack/cmd/k8s-tests-ext/environment_selectors.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Disable ServiceCIDR tests
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: add rphillips as downstream approver kubelet approver
  pkg/kubelet/DOWNSTREAM_OWNERS
Due: none

UPSTREAM: <carry>: Disable tests from featuregates that are not explicitly enabled
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
  openshift-hack/cmd/k8s-tests-ext/environment_selectors.go
  openshift-hack/test-kubernetes-e2e.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: Add plugin for storage performant security policy
  openshift-kube-apiserver/admission/storage/performantsecuritypolicy/admission.go
Due: none

UPSTREAM: 133682: Increase port-forward broken connection detection client timeout
  test/e2e/kubectl/portforward.go
Due: none

UPSTREAM: <carry>: Revert "OCPBUGS-60507: Bump 1.33.4"
  openshift-hack/images/hyperkube/Dockerfile.rhel
  plugin/pkg/admission/noderestriction/admission.go
  plugin/pkg/admission/noderestriction/admission_test.go
  staging/src/k8s.io/component-helpers/resource/helpers.go
  staging/src/k8s.io/component-helpers/resource/helpers_test.go
  test/e2e/common/node/runtime.go
  test/e2e_node/runtime_conformance_test.go
  test/images/.permitted-images
  test/utils/image/manifest.go
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: Revert "UPSTREAM: <carry>: Revert "OCPBUGS-60507: Bump 1.33.4""
  CHANGELOG/CHANGELOG-1.33.md
  plugin/pkg/admission/noderestriction/admission.go
  plugin/pkg/admission/noderestriction/admission_test.go
  staging/src/k8s.io/component-helpers/resource/helpers.go
  staging/src/k8s.io/component-helpers/resource/helpers_test.go
  test/e2e/common/node/runtime.go
  test/e2e_node/runtime_conformance_test.go
  test/images/.permitted-images
  test/utils/image/manifest.go
Due: none

UPSTREAM: revert: 133264: Revert "remove failing test that depends on expired credential, remove credential, add TODOs"
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  test/e2e/common/node/runtime.go
  test/e2e_node/runtime_conformance_test.go
  test/images/.permitted-images
  test/utils/image/manifest.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Disable KubeProxyNFAcct test
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Add retries for GetCurrentResourceVersion.
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/etcd3retry/retry_etcdclient.go
Due: none

UPSTREAM: <carry>: Align to upstream diff library changes
  openshift-kube-apiserver/admission/customresourcevalidation/securitycontextconstraints/defaulting_scc_test.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/defaults_test.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/defaults_test.go
  openshift-kube-apiserver/filters/apirequestcount/apiaccess_count_controller_test.go
  openshift-kube-apiserver/filters/apirequestcount/request_counts_test.go
  openshift-kube-controller-manager/servicecacertpublisher/publisher_test.go
Due: none

UPSTREAM: 133959: Do not remove PVC ClaimRef to fix flaky VAC test
  test/e2e/storage/testsuites/volume_modify.go
Due: none

UPSTREAM: <carry>: squash into tooling: more readonly module updates required to make build scripts work in our env
  hack/lib/protoc.sh
  hack/update-codegen.sh
  hack/update-owners-fmt.sh
  hack/verify-deadcode-elimination.sh
  hack/verify-owners-fmt.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: Fix audit event in early annotation test due to upstream struct changes.
  staging/src/k8s.io/apiserver/pkg/server/filters/with_early_late_annotations_test.go
Due: none

UPSTREAM: <carry>: squash into tooling: not sure why we made this not a comment - it results in invalid yaml
  hack/update-vendor.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: squash: storage interface underlying the retryClient has changed
  staging/src/k8s.io/apiserver/pkg/storage/etcd3/etcd3retry/retry_etcdclient.go
Due: none

UPSTREAM: <carry>: squash into something: update tests with creationTimestamp field
  openshift-kube-apiserver/admission/customresourcevalidation/securitycontextconstraints/defaulting_scc_test.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-role-bindings.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles-featuregates.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-role-bindings.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
Due: none

UPSTREAM: <drop>: make update
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/zz_generated.defaults.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/zz_generated.deepcopy.go
Due: ci/prow/artifacts

UPSTREAM: <drop>: temporarily move past failing tests
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
  pkg/features/kube_features.go
  pkg/kubelet/cm/cpumanager/policy_options_test.go
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
Due: ci/prow/artifacts

UPSTREAM: <drop>: Do not enable race detection by default in integration test
  openshift-hack/test-integration.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: Wait for quota to report used before creating pvc
  test/e2e/storage/csimock/base.go
Due: none

UPSTREAM: <carry>: Update image tags in DRA test to newer expected version
  test/e2e/dra/test-driver/deploy/example/pod-shared.yaml
  test/e2e/testing-manifests/dra/dra-test-driver-proxy.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-proxy.yaml
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh
  go.work.sum
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/cri-client/go.mod
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/dynamic-resource-allocation/go.mod
  staging/src/k8s.io/endpointslice/go.mod
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-controller/go.mod
  vendor/modules.txt
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
Due: none

UPSTREAM: <carry>: Add OpenShift tooling, images, configs and docs
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <drop>: hack/update-vendor.sh
  go.work.sum
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/cri-client/go.mod
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/dynamic-resource-allocation/go.mod
  staging/src/k8s.io/endpointslice/go.mod
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-controller/go.mod
  vendor/modules.txt
Due: none

UPSTREAM: <carry>: enable the resource v1beta1 and v1beta2 apis
  pkg/controlplane/instance.go
  pkg/features/kube_features.go
Due: none

UPSTREAM: 132960: Configure JSON content type for generic webhook RESTClient.
  staging/src/k8s.io/apiserver/pkg/util/webhook/webhook.go
  staging/src/k8s.io/apiserver/pkg/util/webhook/webhook_test.go
Due: none

test
  test/utils/image/csi_manifest.go
Due: none

UPSTREAM: <carry>: carry patch to disable DisableCPUQuotaWithExclusiveCPUs
  pkg/features/patch_kube_features.go
Due: none

UPSTREAM: 129334: Streaming JSON encoder for List
  pkg/features/kube_features.go
  pkg/registry/core/rest/storage_core_generic.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apimachinery/pkg/api/meta/help.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/codec_factory.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/collections.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/collections_test.go
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/json.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers_test.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
  staging/src/k8s.io/kms/internal/plugins/_mock/go.work.sum
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Due: none

adapt to older golang
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/json/collections.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
Due: none

UPSTREAM: 130281: Implement chunking for gzip encoder in deferredResponseWriter
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/writers_test.go
Due: none
