Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$

UPSTREAM: <carry>: Skip GlusterFS tests
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

UPSTREAM: 104268: kubelet: fix sandbox creation error suppression when pods are quickly deleted
  pkg/kubelet/kuberuntime/fake_kuberuntime_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
Due: none

UPSTREAM: <carry>: 1.22 alpha & other tests disablement
  openshift-hack/e2e/annotate/rules.go
  openshift-hack/test-kubernetes-e2e.sh
Due: ci/prow/artifacts

UPSTREAM: 104315: Fix build with multiple GOFLAGS
  hack/lib/golang.sh
Due: ci/prow/artifacts

UPSTREAM: 104281: send retry-after until the apiserver is ready
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/config_test.go
  staging/src/k8s.io/apiserver/pkg/server/filters/with_retry_after.go
  staging/src/k8s.io/apiserver/pkg/server/filters/with_retry_after_test.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver_graceful_termination_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/server_run_options.go
Due: none

UPSTREAM: <carry>: rename termination events to use lifecycleSignals
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
Due: none

UPSTREAM: 104466: bump k8s.io/util to get fix for LRU cache
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/mount-utils/go.mod
  staging/src/k8s.io/mount-utils/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/k8s.io/utils/clock/clock.go
  vendor/k8s.io/utils/lru/lru.go
  vendor/k8s.io/utils/pointer/pointer.go
  vendor/modules.txt
Due: none

UPSTREAM: <carry>: re-enable networking tests after rebase
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: enable internal traffic policy tests
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: expose HasBeenReady lifecycle signal
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
Due: none

UPSTREAM: <carry>: skip posting failures to aggregated APIs to avoid getting false positives until the server becomes ready
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go
  staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller_test.go
Due: none

UPSTREAM: <drop>: Update hyperkube image
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Add wait for OpenAPI aggregation test
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/apiserver.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/controller/openapi/controller.go
Due: none

UPSTREAM: 104314: legacy-cloud-providers: aws: Add support for consuming web identity credentials
  staging/src/k8s.io/legacy-cloud-providers/aws/aws.go
Due: none

Adds z stream release notes
  REBASE.openshift.md
Due: none

Add synchronous access to autoregister controller
  staging/src/k8s.io/kube-aggregator/pkg/controllers/autoregister/autoregister_controller.go
Due: none

fix
  pkg/controlplane/controller/crdregistration/crdregistration_controller.go
  pkg/controlplane/controller/crdregistration/crdregistration_controller_test.go
Due: none

Remove crdregistration wait for autoregistration controller
  cmd/kube-apiserver/app/aggregator.go
  pkg/controlplane/controller/crdregistration/crdregistration_controller.go
Due: none

UPSTREAM: 102690: stop leaking pvs in CSI mock snapshot test
  test/e2e/storage/csi_mock_volume.go
Due: none

UPSTREAM: 102292: Local PV e2e: fix leaked local volumes
  test/e2e/storage/persistent_volumes-local.go
Due: none

UPSTREAM: 104410: Fix use variables in the loop in vsphere_util
  staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere_util.go
Due: none

Create Sjenica1
  Sjenica1
Due: none

UPSTREAM: <carry>: ip allocator with reserved addresses
  pkg/registry/core/rest/storage_core.go
  pkg/registry/core/service/allocator/patch_bitmap.go
  pkg/registry/core/service/allocator/patch_bitmap_test.go
  pkg/registry/core/service/ipallocator/patch_allocator_test.go
Due: none

wip
  vendor/go.etcd.io/etcd/client/v3/logger.go
Due: none

UPSTREAM: 96345: refactor: disable insecure serving in kube-scheduler
  cmd/kube-scheduler/app/config/config.go
  cmd/kube-scheduler/app/config/config_test.go
  cmd/kube-scheduler/app/options/deprecated.go
  cmd/kube-scheduler/app/options/insecure_serving.go
  cmd/kube-scheduler/app/options/insecure_serving_test.go
  cmd/kube-scheduler/app/options/options.go
  cmd/kube-scheduler/app/options/options_test.go
  cmd/kube-scheduler/app/server.go
  cmd/kube-scheduler/app/server_test.go
  cmd/kube-scheduler/app/testing/testserver.go
  pkg/registry/core/rest/storage_core.go
  pkg/scheduler/apis/config/types.go
  pkg/scheduler/apis/config/v1beta1/defaults.go
  pkg/scheduler/apis/config/v1beta1/defaults_test.go
  pkg/scheduler/apis/config/v1beta2/defaults.go
  pkg/scheduler/apis/config/v1beta2/defaults_test.go
  pkg/scheduler/apis/config/validation/validation.go
  pkg/scheduler/apis/config/validation/validation_test.go
  staging/src/k8s.io/kube-scheduler/config/v1beta1/types.go
  staging/src/k8s.io/kube-scheduler/config/v1beta2/types.go
Due: none

UPSTREAM: 84466: gce: skip ensureInstanceGroup for a zone that has no remaining nodes for k8s managed IG
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal_test.go
Due: none

UPSTREAM: 84466: legacy-cloud-providers/gce/gce_fake.go: NewFakeGCECloud: make sure that the secondary zone is also part of managedZones
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_fake.go
Due: none

UPSTREAM: 93286: wait for apiservices on startup
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
Due: none
