Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$

UPSTREAM: <drop>: test integration failure
  cmd/kube-controller-manager/app/controllermanager.go
Due: none

UPSTREAM: <carry>: Fix event garbage collection when ClientsAllowTLSCacheGC is enabled
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
Due: none

UPSTREAM: <carry>: add system_client="" to the expected metric strings in flagz_test.go and statusz_test.go
  staging/src/k8s.io/apiserver/pkg/server/flagz/flagz_test.go
  staging/src/k8s.io/apiserver/pkg/server/statusz/statusz_test.go
Due: none

UPSTREAM: <carry>: Disable failing e2e tests
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: add SetCPULoadBalanceDisable() stub to qos_container_manager_linux_test.go
  pkg/kubelet/cm/qos_container_manager_linux_test.go
Due: ci/prow/artifacts

UPSTREAM: 139085: Fix DRA extended resource quota test race condition
  test/e2e/dra/dra.go
Due: none

UPSTREAM: <drop>: attempt to release object to fix integration issue
  pkg/controlplane/apiserver/server.go
  pkg/controlplane/controller/kubernetesservice/controller.go
Due: none

UPSTREAM: <carry>: Make usage of pinnedManagementEnabled thread-safe
  pkg/kubelet/managed/managed.go
Due: none

UPSTREAM: <drop>: make update
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/zz_generated.defaults.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/zz_generated.deepcopy.go
  test/compatibility_lifecycle/reference/feature_list.md
Due: none

UPSTREAM: <carry>: kubelet: fix in-place pod resize with non-admitted pods
  pkg/kubelet/allocation/allocation_manager.go
  pkg/kubelet/allocation/allocation_manager_test.go
Due: none

UPSTREAM: <carry>: kubelet: call UpdatePodFromAllocation in SyncPod
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pod_resize_allocation_test.go
Due: none

UPSTREAM: <carry>: reenable failing tests
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Store SELinuxWarningController upgrade check as a ConfigMap
  pkg/controller/volume/selinuxwarning/cache/openshift_patch.go
  pkg/controller/volume/selinuxwarning/openshift_upgrade_controller.go
  pkg/controller/volume/selinuxwarning/openshift_upgrade_controller_test.go
  pkg/controller/volume/selinuxwarning/selinux_warning_controller.go
  pkg/features/openshift_features.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: add AI agent documentation files
  AGENTS.md
  ARCHITECTURE.md
  CLAUDE.md
Due: none

UPSTREAM: <carry>: filter out CustomResourceQuota paths from OpenAPI
  staging/src/k8s.io/apiserver/pkg/server/routes/openapi.go
Due: none

UPSTREAM: <carry>: remove apiservice from sync in CRD registration when it exists
  pkg/controlplane/controller/crdregistration/crdregistration_controller.go
Due: none

UPSTREAM: 93286: wait for apiservices on startup
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
Due: none

UPSTREAM: <carry>: patch aggregator to allow delegating resources
  pkg/controlplane/controller/crdregistration/crdregistration_controller.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/patch_always_local_delegate.go
Due: none

UPSTREAM: 74956: apiserver: switch authorization to use protobuf client
  staging/src/k8s.io/apiserver/pkg/server/options/authorization.go
Due: none

UPSTREAM: <carry>: kube-controller-manager: exclude some origin resources from quota
  pkg/quota/v1/install/patch_ignoredresources.go
Due: none

UPSTREAM: <carry>: Extend NodeLogQuery feature
  pkg/features/kube_features.go
  pkg/features/kube_features_test.go
  pkg/kubelet/apis/config/validation/validation_test.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_server_journal.go
  pkg/kubelet/kubelet_server_journal_linux.go
  pkg/kubelet/kubelet_server_journal_test.go
  pkg/kubelet/kubelet_server_journal_windows.go
  test/compatibility_lifecycle/cmd/feature_gates.go
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
Due: ci/prow/artifacts

UPSTREAM: <carry>: kube-controller-manager: allow running bare kube-controller-manager
  cmd/kube-controller-manager/app/apps.go
  cmd/kube-controller-manager/app/config/config.go
  cmd/kube-controller-manager/app/config/patch.go
  cmd/kube-controller-manager/app/controllermanager.go
  cmd/kube-controller-manager/app/options/options.go
  cmd/kube-controller-manager/app/patch.go
  cmd/kube-controller-manager/app/patch_gc.go
  cmd/kube-controller-manager/app/patch_informers_openshift.go
  cmd/kube-controller-manager/app/patch_satoken.go
  cmd/kube-controller-manager/app/service_accounts.go
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/daemon/patch_nodeselector.go
  pkg/controller/daemon/patch_nodeselector_test.go
  pkg/controller/daemon/update.go
Due: none

UPSTREAM: <carry>: openshift-kube-apiserver: add kube-apiserver patches
  cmd/kube-apiserver/app/options/options.go
  cmd/kube-apiserver/app/server.go
  pkg/controlplane/apiserver/config.go
  pkg/kubeapiserver/authorizer/config.go
  pkg/kubeapiserver/authorizer/modes/patch.go
  pkg/kubeapiserver/authorizer/patch.go
  pkg/kubeapiserver/authorizer/reload.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/patch_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
  test/conformance/image/go-runner/testdata/tartest/out.tar.gz
Due: none

UPSTREAM: <carry>: bootstrap-rbac-policy: move over .well-known rules
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-role-bindings.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles-featuregates.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml
Due: none
