Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

ci/prow/artifacts:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-selfupgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-azure-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

UPSTREAM: 90452: refactor/improve CRD publishing e2e tests in an HA setup
  test/e2e/apimachinery/crd_publish_openapi.go
Due: none

UPSTREAM: 112076: Revert "promote LocalStorageCapacityIsolationFSQuotaMonitoring to beta"
  pkg/features/kube_features.go
  test/e2e_node/quota_lsci_test.go
Due: none

UPSTREAM: 110039: Add readinessProbe to aggregated api service test
  test/e2e/apimachinery/aggregator.go
Due: none

UPSTREAM: 111789: Update Netpol e2e tests to use framework CreateNamespace
  test/e2e/network/netpol/kubemanager.go
  test/e2e/network/netpol/model.go
  test/e2e/network/netpol/network_policy.go
  test/e2e/network/netpol/probe.go
  test/e2e/network/netpol/reachability.go
  test/e2e/network/netpol/test_helper.go
Due: none

UPSTREAM: <carry>: Remove reserved CPUs from default set
  pkg/kubelet/cm/cpumanager/policy_static.go
Due: none

UPSTREAM: 112046: rate limite etcd healthcheck request
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3_test.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/factory_test.go
Due: none

UPSTREAM: 112515: container_probe test: fix race by checking for pod deletion
  test/e2e/common/node/container_probe.go
Due: none

UPSTREAM: <drop>: make update
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/zz_generated.deepcopy.go
  pkg/kubelet/kubelet_server_journal_linux.go
  pkg/kubelet/kubelet_server_journal_others.go
  pkg/kubelet/kubelet_server_journal_windows.go
Due: ci/prow/artifacts

UPSTREAM: <drop>: add missing import restrictions
  cmd/kubeadm/.import-restrictions
Due: none

UPSTREAM: <carry>: Skip session affinity timeout tests
  openshift-hack/conformance-k8s.sh
  openshift-hack/e2e/annotate/rules.go
  openshift-hack/test-kubernetes-e2e.sh
Due: ci/prow/artifacts

fake: update README.md
  README.md
Due: none

revert openshift-hack/images/os changes
  openshift-hack/images/os/Dockerfile
  openshift-hack/images/os/install.sh
Due: ci/prow/artifacts

Revert "UPSTREAM: <carry>: optionally enable retry after until apiserver is ready"
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/filters/with_not_ready_patch.go
  staging/src/k8s.io/apiserver/pkg/server/filters/with_not_ready_patch_test.go
  staging/src/k8s.io/apiserver/pkg/server/options/server_run_options.go
Due: none

bump golang 1.19
  .ci-operator.yaml
  build/pause/Dockerfile.Rhel
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-hack/images/tests/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Test build
  REBASE.openshift.md
  openshift-hack/images/os/install.sh
Due: ci/prow/artifacts

Dockerfile: use centos:stream9
  openshift-hack/images/os/Dockerfile
Due: ci/prow/artifacts

UPSTREAM: <carry>: use centos:stream9 and golang1.19
  .ci-operator.yaml
  build/pause/Dockerfile.Rhel
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-hack/images/os/Dockerfile
  openshift-hack/images/tests/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

openshift-hack: Add Dockerfile.new targeting `rhel-coreos-8`
  openshift-hack/images/os/Dockerfile.new
Due: ci/prow/artifacts

Investigate endpointslice controller issue
  pkg/controller/endpointslice/endpointslice_controller.go
Due: none

UPSTREAM: <drop>: manually resolve conflicts
  go.mod
  go.sum
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/status/status_manager_test.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  test/e2e_node/node_shutdown_linux_test.go
  vendor/modules.txt
Due: ci/prow/artifacts

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  go.mod
  go.sum
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/images/hyperkube/Dockerfile.rhel
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/github.com/google/cadvisor/container/containerd/client.go
  vendor/github.com/google/cadvisor/container/containerd/handler.go
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_ingress.crd.yaml
  vendor/github.com/openshift/api/config/v1/types_cluster_operator.go
  vendor/github.com/openshift/api/config/v1/types_ingress.go
  vendor/github.com/openshift/apiserver-library-go/pkg/admission/quota/clusterresourcequota/admission.go
  vendor/modules.txt
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: kube-apiserver: wire through isTerminating into handler chain
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout_test.go
Due: none

test PR
  README.md
Due: none

DO_NOT_MERGE: UPSTREAM: <carry>: Wait for default service account in node authorizer test
  test/e2e/auth/node_authn.go
  test/e2e/auth/node_authz.go
Due: none

Revert "Move kubelet secret and configmap manager calls to sync_Pod functions"
  pkg/kubelet/kubelet.go
  pkg/kubelet/pod/pod_manager.go
Due: none

UPSTREAM: 113481: kubelet: fix pod log line corruption when using timestamps and long lines
  pkg/kubelet/kuberuntime/logs/logs.go
  pkg/kubelet/kuberuntime/logs/logs_test.go
Due: none

UPSTREAM: 113517: kubelet: fix pod log line corruption when using timestamps and long lines
  pkg/kubelet/kuberuntime/logs/logs.go
  pkg/kubelet/kuberuntime/logs/logs_test.go
Due: none

UPSTREAM: <drop>: update apiserver-library-go to add message about working with restricted, but not restricted-v2
  go.mod
  go.sum
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sccadmission/admission.go
  vendor/modules.txt
Due: none

Test k8s test
  README.md
Due: none

Very dirty ginkgo hack to save memory
  vendor/github.com/onsi/ginkgo/v2/internal/group.go
  vendor/github.com/onsi/ginkgo/v2/internal/node.go
  vendor/github.com/onsi/ginkgo/v2/internal/ordering.go
  vendor/github.com/onsi/ginkgo/v2/internal/spec.go
  vendor/github.com/onsi/ginkgo/v2/internal/suite.go
  vendor/github.com/onsi/ginkgo/v2/internal/tree.go
Due: none

UPSTREAM: <carry>: make the PSA workload admission warnings honor the changes that SCC will eventually make to the pod
  openshift-kube-apiserver/enablement/intialization.go
  openshift-kube-apiserver/openshiftkubeapiserver/patch.go
  staging/src/k8s.io/pod-security-admission/admission/admission.go
  staging/src/k8s.io/pod-security-admission/admission/admission_patch.go
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
