Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

ci/prow/artifacts:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-selfupgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-azure-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

UPSTREAM: <carry>: add shutdown annotation to response header
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/filters/with_early_late_annotations.go
  staging/src/k8s.io/apiserver/pkg/server/filters/with_early_late_annotations_test.go
Due: none

UPSTREAM: <carry>: Do not allow nodes to set forbidden openshift labels
  cmd/kubelet/app/options/options.go
  plugin/pkg/admission/noderestriction/admission.go
  staging/src/k8s.io/kubelet/pkg/apis/well_known_labels.go
  staging/src/k8s.io/kubelet/pkg/apis/well_known_openshift_labels.go
Due: none

UPSTREAM: <carry>: use host etcd
  hack/update-openapi-spec.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: Backport IP and CIDR CEL base for 1.28
  staging/src/k8s.io/apiserver/pkg/cel/environment/base.go
Due: none

UPSTREAM: <carry>: skip PodLifecycleSleepAction test
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: skip storage tests
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: extend termination events
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
  staging/src/k8s.io/apiserver/pkg/server/patch_genericapiserver.go
Due: none

UPSTREAM: <carry>: extend termination events
  cmd/kube-apiserver/app/patch_server.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/patch_genericapiserver.go
Due: none

UPSTREAM: <carry>: Disable e2e tests that need PersistentVolumeLabel
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: sync imports and update test rules
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
  openshift-hack/e2e/include.go
Due: ci/prow/artifacts

UPSTREAM: 125337: Account for differences in fork test suite
  test/integration/cloudprovider/ccm_test.go
Due: none

UPSTREAM: 125337: add more testing for node.status.addresses
  pkg/kubelet/kubelet_node_status.go
  pkg/kubelet/nodestatus/setters.go
  pkg/kubelet/nodestatus/setters_test.go
Due: none

UPSTREAM: <carry>: update base image
  build/pause/Dockerfile.Rhel
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-hack/images/installer-kube-apiserver-artifacts/Dockerfile.rhel
  openshift-hack/images/tests/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: inject k8s version from hyperkube Dockerfile
  hack/lib/version.sh
Due: ci/prow/artifacts

UPSTREAM: 125337: ccm integration test for node status addresses and provided-node-ip annotation
  test/integration/cloudprovider/ccm_test.go
Due: none

UPSTREAM: 125337: document kubelet node-ip with cloud provider external
  cmd/kubelet/app/options/options.go
  pkg/kubelet/nodestatus/setters.go
Due: none

UPSTREAM: <carry>: Add OpenShift tooling, images, configs and docs
  .ci-operator.yaml
  hack/make-rules/verify.sh
  openshift-hack/e2e/annotate/rules.go
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: bump cadvisor for 3516 upstream patches
  go.mod
  go.sum
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  vendor/github.com/google/cadvisor/info/v1/machine.go
  vendor/github.com/google/cadvisor/machine/machine.go
  vendor/github.com/google/cadvisor/utils/sysfs/sysfs.go
  vendor/github.com/google/cadvisor/utils/sysinfo/sysinfo.go
  vendor/modules.txt
Due: none

UPSTREAM: <carry>: add tool to validate test packages imported
  openshift-hack/cmd/go-imports-diff/main.go
  openshift-hack/verify-test-annotations.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: necessary fixes
  openshift-hack/e2e/include.go
  openshift-kube-apiserver/admission/admissionenablement/admission.go
  openshift-kube-apiserver/admission/admissionenablement/register.go
Due: ci/prow/artifacts

UPSTREAM: <drop>: make update
  go.work.sum
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/zz_generated.defaults.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/zz_generated.deepcopy.go
Due: ci/prow/artifacts

UPSTREAM: 126104: Add funcs in pkg/filesystem/util that can actually set file permissiosn on Windows and update container log dir perms to 660 on Windows
  pkg/kubelet/kubelet.go
  pkg/kubelet/kuberuntime/kuberuntime_manager.go
  pkg/util/filesystem/defaultfs.go
  pkg/util/filesystem/util_unix.go
  pkg/util/filesystem/util_windows.go
  pkg/util/filesystem/util_windows_test.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Add OpenShift tooling, images, configs and docs
  DOWNSTREAM_OWNERS
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
