Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$

UPSTREAM: <carry>: Add OpenShift tooling, images, configs and docs
  DOWNSTREAM_OWNERS
Due: none

UPSTREAM: 126470: Move APIServingWithRoutine to alpha and disabled by default.
  pkg/features/kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
Due: none

Drop openshift-sdn-specific skips
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

Fix default skips in test-kubernetes-e2e.sh
  openshift-hack/test-kubernetes-e2e.sh
Due: ci/prow/artifacts

UPSTREAM: 124541: Return from EnsureHostInPool on all NIC errors
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_standard.go
Due: none

UPSTREAM: 115702: fix viewing logs on kubelet log rotate
  pkg/kubelet/kuberuntime/logs/logs.go
  pkg/kubelet/kuberuntime/logs/logs_test.go
Due: none

WIP
  pkg/kubelet/cm/cpumanager/cpu_assignment.go
  pkg/kubelet/cm/cpumanager/policy_options.go
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/cpumanager/topology/topology.go
  pkg/kubelet/cm/cpumanager/topology/topology_test.go
  pkg/kubelet/cm/cpumanager/topology/topology_uncore.go
  pkg/kubelet/cm/cpumanager/uncore_cache.go
Due: none

Add missing cpuAccumulator.needsAtLeast
  pkg/kubelet/cm/cpumanager/cpu_assignment.go
Due: none

UPSTREAM: <carry>: drop slices package from StatefulSet test
  test/e2e/apps/statefulset.go
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/images/hyperkube/Dockerfile.rhel
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

this will fail
  staging/src/k8s.io/code-generator/examples/go.work.sum
  staging/src/k8s.io/kms/internal/plugins/_mock/go.work.sum
  test/e2e/apimachinery/validatingadmissionpolicy.go
Due: none

UPSTREAM: 126920: add missing RBAC to statefulset-controller for StatefulSetAutoDeletePVC feature
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
Due: none

UPSTREAM: <carry>: Clean up Multi-AZ Cluster matching rule
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

Add AMD Genoa test topology
  pkg/kubelet/cm/cpumanager/cpu_assignment_test.go
  pkg/kubelet/cm/cpumanager/policy_test.go
  pkg/kubelet/cm/cpumanager/topology/topology.go
Due: none

Fix CPUsInUncoreCaches and CoresInUncoreCaches
  pkg/kubelet/cm/cpumanager/topology/topology_uncore.go
Due: none

Fix cache groups test (and note the failure of the second one)
  pkg/kubelet/cm/cpumanager/cpu_assignment_test.go
Due: none

Align uncore caches when request is small (WDYT?)
  pkg/kubelet/cm/cpumanager/cpu_assignment.go
  pkg/kubelet/cm/cpumanager/cpu_assignment_test.go
  pkg/kubelet/cm/cpumanager/uncore_cache.go
Due: none

Add Prometheus metrics to expose emptyDir ivolumes used bytes and size limit per pod/volume.
  pkg/kubelet/kubelet.go
  pkg/kubelet/metrics/collectors/emptydir_metrics.go
  pkg/kubelet/metrics/collectors/emptydir_metrics_test.go
  pkg/kubelet/metrics/metrics.go
Due: none

Support modern TLS security Profile
  openshift-kube-apiserver/admission/customresourcevalidation/apiserver/validate_apiserver.go
  openshift-kube-apiserver/admission/customresourcevalidation/apiserver/validate_apiserver_test.go
Due: none

WIP: do not merge, just a test
  test/e2e/apimachinery/validatingadmissionpolicy.go
Due: none

another attempt
  test/e2e/apimachinery/validatingadmissionpolicy.go
Due: none

UPSTREAM: <carry>: bump cadvisor version to fix missing network stats
  go.mod
  go.sum
  go.work
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  vendor/github.com/google/cadvisor/container/crio/factory.go
  vendor/modules.txt
Due: none

Add Dockerfile for standalone kube-proxy image
  openshift-hack/images/kube-proxy/Dockerfile.rhel
  openshift-hack/images/kube-proxy/OWNERS
Due: ci/prow/artifacts

UPSTREAM: 126174: mount-utils: treat syscall.ENODEV as corrupted mount
  staging/src/k8s.io/mount-utils/mount_helper_unix.go
Due: none

Revert "UPSTREAM: <carry>: bump cadvisor version to fix missing network stats"
  go.mod
  go.sum
  go.work
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  vendor/github.com/google/cadvisor/container/crio/factory.go
  vendor/modules.txt
Due: none

UPSTREAM: <carry>: kube-controller-manager: allow running bare kube-controller-manager
  cmd/kube-controller-manager/app/apps.go
  cmd/kube-controller-manager/app/config/config.go
  cmd/kube-controller-manager/app/config/patch.go
  cmd/kube-controller-manager/app/controllermanager.go
  cmd/kube-controller-manager/app/options/options.go
  cmd/kube-controller-manager/app/patch.go
  cmd/kube-controller-manager/app/patch_gc.go
  cmd/kube-controller-manager/app/patch_informers_openshift.go
  cmd/kube-controller-manager/app/patch_satoken.go
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/daemon/patch_nodeselector.go
  pkg/controller/daemon/patch_nodeselector_test.go
Due: none

UPSTREAM: <carry>: Extend NodeLogQuery feature
  pkg/features/kube_features.go
  pkg/kubelet/apis/config/validation/validation_test.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_server_journal.go
  pkg/kubelet/kubelet_server_journal_linux.go
  pkg/kubelet/kubelet_server_journal_test.go
  pkg/kubelet/kubelet_server_journal_windows.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: kube-controller-manager: exclude some origin resources from quota
  pkg/quota/v1/install/patch_ignoredresources.go
Due: none

UPSTREAM: <carry>: remove apiservice from sync in CRD registration when it exists
  pkg/controlplane/controller/crdregistration/crdregistration_controller.go
Due: none

UPSTREAM: 74956: apiserver: switch authorization to use protobuf client
  staging/src/k8s.io/apiserver/pkg/server/options/authorization.go
Due: none

UPSTREAM: <carry>: filter out CustomResourceQuota paths from OpenAPI
  staging/src/k8s.io/apiserver/pkg/server/routes/openapi.go
Due: none
