Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$

UPSTREAM: <carry>: Fail SELinuxMount check on rebase
  openshift-hack/cmd/k8s-tests-ext/environment_selectors.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Skip SELinux test with Feature:SELinuxMountReadWriteOncePodOnly
  openshift-hack/cmd/k8s-tests-ext/environment_selectors.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: add rphillips as downstream approver kubelet approver
  pkg/kubelet/DOWNSTREAM_OWNERS
Due: none

UPSTREAM: <carry>: Add plugin for storage performant security policy
  openshift-kube-apiserver/admission/storage/performantsecuritypolicy/admission.go
Due: none

UPSTREAM: <carry>: Disable ServiceCIDR tests
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Disable tests from featuregates that are not explicitly enabled
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
  openshift-hack/cmd/k8s-tests-ext/environment_selectors.go
  openshift-hack/test-kubernetes-e2e.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: Revert "OCPBUGS-60507: Bump 1.33.4"
  CHANGELOG/CHANGELOG-1.33.md
  openshift-hack/images/hyperkube/Dockerfile.rhel
  plugin/pkg/admission/noderestriction/admission.go
  plugin/pkg/admission/noderestriction/admission_test.go
  staging/src/k8s.io/component-helpers/resource/helpers.go
  staging/src/k8s.io/component-helpers/resource/helpers_test.go
  test/e2e/common/node/runtime.go
  test/e2e_node/runtime_conformance_test.go
  test/images/.permitted-images
  test/utils/image/manifest.go
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: Fix audit event in early annotation test due to upstream struct changes.
  staging/src/k8s.io/apiserver/pkg/server/filters/with_early_late_annotations_test.go
Due: none

UPSTREAM: <carry>: Align to upstream diff library changes
  openshift-kube-apiserver/admission/customresourcevalidation/securitycontextconstraints/defaulting_scc_test.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/defaults_test.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/defaults_test.go
  openshift-kube-apiserver/filters/apirequestcount/apiaccess_count_controller_test.go
  openshift-kube-apiserver/filters/apirequestcount/request_counts_test.go
  openshift-kube-controller-manager/servicecacertpublisher/publisher_test.go
Due: none

UPSTREAM: <carry>: squash into something: update tests with creationTimestamp field
  openshift-kube-apiserver/admission/customresourcevalidation/securitycontextconstraints/defaulting_scc_test.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-role-bindings.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles-featuregates.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-role-bindings.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
Due: none

UPSTREAM: <carry>: squash into tooling: not sure why we made this not a comment - it results in invalid yaml
  hack/update-vendor.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: squash into tooling: more readonly module updates required to make build scripts work in our env
  hack/lib/protoc.sh
  hack/update-codegen.sh
  hack/update-owners-fmt.sh
  hack/verify-deadcode-elimination.sh
  hack/verify-owners-fmt.sh
Due: ci/prow/artifacts

UPSTREAM: <drop>: make update
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/zz_generated.defaults.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/zz_generated.deepcopy.go
Due: ci/prow/artifacts

UPSTREAM: <drop>: hack/update-vendor.sh
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
Due: none

UPSTREAM: <drop>: temporary - curious if kubelet starts up successfully without this feature locked on
  pkg/features/kube_features.go
Due: none

UPSTREAM: <drop>: Revert "remove failing test that depends on expired credential, remove credential, add TODOs"
  test/e2e/common/node/runtime.go
  test/e2e_node/runtime_conformance_test.go
  test/images/.permitted-images
  test/utils/image/manifest.go
Due: none

fix port-forward output parsing
  test/e2e/kubectl/portforward.go
Due: none

fix code so it builds
  test/e2e/kubectl/portforward.go
Due: none

wip
  openshift-hack/cmd/k8s-tests-ext/k8s-tests.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/cmd/cmd.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/cmd/cmdlistimages/cmdlistimages.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/extension/extension.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/extension/types.go
  vendor/modules.txt
Due: ci/prow/artifacts

UPSTREAM: <drop>: Do not enable race detection by default in integration test
  openshift-hack/test-integration.sh
Due: ci/prow/artifacts

UPSTREAM: 133625: Remove patch/update from ServiceCIDR API conformance test
  test/e2e/network/service_cidrs.go
Due: none

UPSTREAM: 133425: Fix SELinux label comparison
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  pkg/controller/volume/selinuxwarning/cache/volumecache_test.go
  pkg/controller/volume/selinuxwarning/translator/selinux_translator.go
  pkg/controller/volume/selinuxwarning/translator/selinux_translator_test.go
  test/e2e/storage/csimock/base.go
  test/e2e/storage/csimock/csi_selinux_mount.go
Due: ci/prow/artifacts

WIP: UPSTREAM: <carry>: don't report metrics for host network pods
  vendor/github.com/google/cadvisor/container/crio/client.go
  vendor/github.com/google/cadvisor/container/crio/handler.go
Due: none

UPSTREAM: <carry>: add http logging for kubelet metrics endpoint
  pkg/kubelet/server/server.go
  pkg/kubelet/server/server_patch.go
Due: none

WIP: log
  vendor/github.com/google/cadvisor/container/crio/handler.go
Due: none

UPSTREAM: <carry>: WIP do not query for node name from api for metrics resource
  pkg/kubelet/server/stats/handler.go
  pkg/kubelet/server/stats/summary.go
  pkg/kubelet/server/stats/summary_test.go
  pkg/kubelet/server/stats/summary_windows_test.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: stats: handful of optimizations
  pkg/kubelet/cm/cgroup_manager_linux.go
  pkg/kubelet/stats/cadvisor_stats_provider.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Dump flow rules for debugging invalid conntrack state test
  test/e2e/network/conntrack.go
Due: none

Add a new func to return ImageConfig with a new mapped image field
  test/utils/image/manifest.go
  test/utils/image/manifest_test.go
Due: none

Test commit to check correctness of dumpFlowRules function
  test/e2e/network/conntrack.go
Due: none

UPSTREAM: <carry>: Revert "UPSTREAM: <carry>: Revert "OCPBUGS-60507: Bump 1.33.4""
  .go-version
  CHANGELOG/CHANGELOG-1.33.md
  build/build-image/cross/VERSION
  build/common.sh
  build/dependencies.yaml
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/images/hyperkube/Dockerfile.rhel
  plugin/pkg/admission/noderestriction/admission.go
  plugin/pkg/admission/noderestriction/admission_test.go
  staging/publishing/rules.yaml
  staging/src/k8s.io/component-helpers/resource/helpers.go
  staging/src/k8s.io/component-helpers/resource/helpers_test.go
  test/e2e/common/node/runtime.go
  test/e2e_node/runtime_conformance_test.go
  test/images/.permitted-images
  test/images/Makefile
  test/utils/image/manifest.go
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: revert: 133264: Revert "remove failing test that depends on expired credential, remove credential, add TODOs"
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  test/e2e/common/node/runtime.go
  test/e2e_node/runtime_conformance_test.go
  test/images/.permitted-images
  test/utils/image/manifest.go
Due: ci/prow/artifacts

UPSTREAM: 129472: Fix API server crash on concurrent map iteration and write
  pkg/registry/core/serviceaccount/storage/storage_test.go
  staging/src/k8s.io/apiserver/pkg/admission/audit.go
  staging/src/k8s.io/apiserver/pkg/admission/audit_test.go
  staging/src/k8s.io/apiserver/pkg/audit/context.go
  staging/src/k8s.io/apiserver/pkg/audit/context_test.go
  staging/src/k8s.io/apiserver/pkg/audit/request.go
  staging/src/k8s.io/apiserver/pkg/authentication/token/cache/cached_token_authenticator.go
  staging/src/k8s.io/apiserver/pkg/authentication/token/cache/cached_token_authenticator_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/audit.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/audit_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authn_audit.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/authorization_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/impersonation.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/request_deadline.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/request_deadline_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete_test.go
  staging/src/k8s.io/apiserver/pkg/server/config_test.go
  staging/src/k8s.io/apiserver/pkg/util/x509metrics/server_cert_deprecations_test.go
Due: none

UPSTREAM: <carry>: Fix tests after backport
  staging/src/k8s.io/apiserver/pkg/server/filters/with_early_late_annotations_test.go
Due: none

UPSTREAM: 131725: Avoid encoding in LogResponseObject when we are not going to use it
  staging/src/k8s.io/apiserver/pkg/audit/request.go
  staging/src/k8s.io/apiserver/pkg/audit/request_log_test.go
Due: none

UPSTREAM: 131694: Eliminate AuditContext`s SetEventLevel
  staging/src/k8s.io/apiserver/pkg/admission/audit_test.go
  staging/src/k8s.io/apiserver/pkg/audit/context.go
  staging/src/k8s.io/apiserver/pkg/audit/request.go
  staging/src/k8s.io/apiserver/pkg/authentication/token/cache/cached_token_authenticator.go
  staging/src/k8s.io/apiserver/pkg/authentication/token/cache/cached_token_authenticator_test.go
  staging/src/k8s.io/apiserver/pkg/endpoints/filters/audit.go
  staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete_test.go
  staging/src/k8s.io/apiserver/pkg/util/x509metrics/server_cert_deprecations_test.go
Due: none

UPSTREAM: 74956: apiserver: switch authorization to use protobuf client
  staging/src/k8s.io/apiserver/pkg/server/options/authorization.go
Due: none
