Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

ci/prow/artifacts:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-selfupgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-azure-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

DNM: disable netpol tests
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts

test change to getMetricsFromNode
  test/e2e/framework/metrics/metrics_grabber.go
Due: none

UPSTREAM: 133392: test: add retry to getMetricsFromNode
  test/e2e/framework/metrics/kubelet_metrics.go
  test/e2e/framework/metrics/metrics_grabber.go
Due: none

UPSTREAM: 123381: bump nfs-provisioner-to-v4.0.8
  test/utils/image/manifest.go
Due: none

UPSTREAM: 123364: Use new 1.4 NFS image
  test/utils/image/manifest.go
Due: none

UPSTREAM: <carry>: add http logging for kubelet metrics endpoint
  pkg/kubelet/server/server.go
  pkg/kubelet/server/server_patch.go
Due: none

UPSTREAM: <carry>: WIP do not query for node name from api for metrics resource
  pkg/kubelet/server/stats/handler.go
  pkg/kubelet/server/stats/summary.go
  pkg/kubelet/server/stats/summary_test.go
  pkg/kubelet/server/stats/summary_windows_test.go
Due: ci/prow/artifacts

UPSTREAM: 133438: Increase termination timeout for `evicted pods should be terminal` test
  test/e2e/framework/pod/wait.go
  test/e2e/node/pods.go
Due: none

test
  pkg/kubelet/stats/cri_stats_provider.go
Due: none

UPSTREAM: <carry>: add http logging for kubelet metrics endpoint
  pkg/kubelet/metrics/collectors/resource_metrics_test.go
  pkg/kubelet/server/server.go
  pkg/kubelet/server/server_patch.go
Due: none

Revert "OCPBUGS-59533: Rebase v1.33.3 to master/4.20"
  CHANGELOG/CHANGELOG-1.33.md
  cmd/kubeadm/app/util/etcd/etcd.go
  openshift-hack/images/hyperkube/Dockerfile.rhel
  pkg/controller/job/job_controller.go
  pkg/kubelet/images/image_gc_manager.go
  pkg/kubelet/kuberuntime/kuberuntime_container_linux.go
  pkg/kubelet/kuberuntime/kuberuntime_sandbox_linux.go
  pkg/registry/batch/job/strategy.go
  pkg/registry/batch/job/strategy_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/delegator.go
  test/integration/apiserver/cel/validatingadmissionpolicy_test.go
  test/integration/job/job_test.go
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

make the stat gathering async
  pkg/kubelet/asyncinvoker/invoker.go
  pkg/kubelet/asyncinvoker/invoker_test.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_patch.go
  pkg/kubelet/server/server_patch.go
Due: none

UPSTREAM: <carry>: podresources: list: use active pods in list
  pkg/features/kube_features.go
  pkg/kubelet/apis/podresources/server_v1.go
  pkg/kubelet/apis/podresources/server_v1_test.go
  pkg/kubelet/apis/podresources/testing/pods_provider.go
  pkg/kubelet/apis/podresources/types.go
  pkg/kubelet/kubelet.go
Due: none

UPSTREAM: <carry>: remove the backward compat featuregate for 132028
  pkg/features/kube_features.go
  pkg/kubelet/apis/podresources/server_v1.go
Due: none

UPSTREAM: <carry>: Update rebase.sh to handle go versions major.minor.patch instead of just major.minor
  openshift-hack/rebase.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: test: add retry to getMetricsFromNode
  test/e2e/framework/metrics/kubelet_metrics.go
  test/e2e/framework/metrics/metrics_grabber.go
Due: none

UPSTREAM: <carry>: patch aggregator to allow delegating resources
  pkg/controlplane/controller/crdregistration/crdregistration_controller.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/patch_always_local_delegate.go
Due: none

UPSTREAM: 74956: apiserver: switch authorization to use protobuf client
  staging/src/k8s.io/apiserver/pkg/server/options/authorization.go
Due: none

UPSTREAM: <carry>: filter out CustomResourceQuota paths from OpenAPI
  staging/src/k8s.io/apiserver/pkg/server/routes/openapi.go
Due: none

UPSTREAM: 93286: wait for apiservices on startup
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
Due: none

UPSTREAM: <carry>: remove apiservice from sync in CRD registration when it exists
  pkg/controlplane/controller/crdregistration/crdregistration_controller.go
Due: none

UPSTREAM: <carry>: kube-controller-manager: exclude some origin resources from quota
  pkg/quota/v1/install/patch_ignoredresources.go
Due: none

UPSTREAM: <carry>: Extend NodeLogQuery feature
  pkg/features/kube_features.go
  pkg/features/kube_features_test.go
  pkg/kubelet/apis/config/validation/validation_test.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_server_journal.go
  pkg/kubelet/kubelet_server_journal_linux.go
  pkg/kubelet/kubelet_server_journal_test.go
  pkg/kubelet/kubelet_server_journal_windows.go
  test/compatibility_lifecycle/cmd/feature_gates.go
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
Due: ci/prow/artifacts

UPSTREAM: <carry>: openshift-kube-apiserver: add kube-apiserver patches
  cmd/kube-apiserver/app/options/options.go
  cmd/kube-apiserver/app/server.go
  pkg/controlplane/apiserver/config.go
  pkg/kubeapiserver/authorizer/config.go
  pkg/kubeapiserver/authorizer/modes/patch.go
  pkg/kubeapiserver/authorizer/patch.go
  pkg/kubeapiserver/authorizer/reload.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/patch_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
  test/conformance/image/go-runner/testdata/tartest/out.tar.gz
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
