Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$

UPSTREAM: <carry>: Add Dockerfile to buld kube-apiserver for openshift-install architectures
  openshift-hack/images/installer-kube-apiserver-artifacts/Dockerfile.rhel
  openshift-hack/images/installer-kube-apiserver-artifacts/OWNERS
Due: ci/prow/artifacts

UPSTREAM: <carry>: use snyk file
  .snyk
Due: none

UPSTREAM: <carry>: permanently disable NodeLogQuery e2e test
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: switch to go1.21
  .ci-operator.yaml
  build/pause/Dockerfile.Rhel
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-hack/images/tests/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: Revert: e2e-framework: don't autosync PodSecurity labels
  test/e2e/framework/framework.go
Due: none

UPSTREAM: <carry>: clean OpenShift tooling
  hack/make-rules/verify.sh
  hack/verify-external-dependencies-version.sh
  hack/verify-govulncheck.sh
  hack/verify-openapi-spec.sh
  hack/verify-pkg-names.sh
  hack/verify-spelling.sh
  hack/verify-typecheck-providerless.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: RPM: Split apiserver, scheduler, k-c-m, kubelet into subpackages
  openshift.spec
Due: none

UPSTREAM: <carry>: Revert: Skip unit tests incompatible with openshift ci
  staging/src/k8s.io/kubectl/pkg/cmd/config/config_test.go
Due: none

UPSTREAM: <carry>: Create minimal wrapper needed to run k8s e2e tests
  openshift-hack/e2e/namespace.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: openshift-hack/images/os: delete
  REBASE.openshift.md
  openshift-hack/images/os/Dockerfile
  openshift-hack/images/os/install.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: Add OpenShift tooling, images, configs and docs - fixes
  hack/lib/golang.sh
  hack/update-vendor.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: create termination events - fixes
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
Due: none

UPSTREAM: <carry>: provide events, messages, and bodies for probe failures of important pods - fixes
  pkg/kubelet/prober/prober.go
Due: none

UPSTREAM: <carry>: openshift-kube-apiserver: add kube-apiserver patches - fixes
  pkg/kubeapiserver/authorizer/config.go
  pkg/kubeapiserver/authorizer/reload.go
Due: none

UPSTREAM: <carry>: kube-controller-manager: allow running bare kube-controller-manager - fixes
  cmd/kube-controller-manager/app/controllermanager.go
Due: none

UPSTREAM: <carry>: use host etcd
  hack/update-openapi-spec.sh
Due: ci/prow/artifacts

UPSTREAM: <drop>: make update
  go.work.sum
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/zz_generated.defaults.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/zz_generated.deepcopy.go
  staging/src/k8s.io/code-generator/examples/go.work.sum
Due: ci/prow/artifacts

UPSTREAM: <carry>: hardcoded restmapper with a few entries to rebootstrap SDN when SDN is down - fixes
  pkg/kubeapiserver/admission/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/admission.go
  staging/src/k8s.io/apiserver/pkg/server/options/patch_restmapper.go
Due: none

UPSTREAM: <carry>: force go1.21
  go.mod
  go.work
  hack/lib/golang.sh
  hack/make-rules/test-integration.sh
  hack/make-rules/test.sh
  hack/tools/go.work
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/code-generator/examples/go.mod
  staging/src/k8s.io/code-generator/examples/go.work
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/dynamic-resource-allocation/go.mod
  staging/src/k8s.io/endpointslice/go.mod
  staging/src/k8s.io/kms/go.mod
  staging/src/k8s.io/kms/internal/plugins/_mock/go.mod
  staging/src/k8s.io/kms/internal/plugins/_mock/go.work
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/mount-utils/go.mod
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-controller/go.mod
Due: ci/prow/artifacts

UPSTREAM: <carry>: vendor: bump runc to 1.1.12 and cadvisor to 0.49.0
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  vendor/github.com/google/cadvisor/container/crio/client.go
  vendor/github.com/google/cadvisor/container/crio/factory.go
  vendor/github.com/google/cadvisor/container/crio/plugin.go
  vendor/github.com/google/cadvisor/fs/fs.go
  vendor/github.com/google/cadvisor/fs/types.go
  vendor/github.com/google/cadvisor/perf/collector_libpfm.go
  vendor/github.com/google/cadvisor/stats/types.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/file.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/memory.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs/paths.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/fs2/memory.go
  vendor/github.com/opencontainers/runc/libcontainer/cgroups/stats.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/config_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/validate/rootless.go
  vendor/github.com/opencontainers/runc/libcontainer/configs/validate/validator.go
  vendor/github.com/opencontainers/runc/libcontainer/container_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/init_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/setns_init_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/standard_init_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/userns/userns_maps.c
  vendor/github.com/opencontainers/runc/libcontainer/userns/userns_maps_linux.go
  vendor/github.com/opencontainers/runc/libcontainer/utils/utils_unix.go
  vendor/modules.txt
Due: ci/prow/artifacts

UPSTREAM: 121912: Add IP address CEL extension
  staging/src/k8s.io/apiserver/pkg/cel/cidr.go
  staging/src/k8s.io/apiserver/pkg/cel/ip.go
  staging/src/k8s.io/apiserver/pkg/cel/library/cidr.go
  staging/src/k8s.io/apiserver/pkg/cel/library/cidr_test.go
  staging/src/k8s.io/apiserver/pkg/cel/library/cost.go
  staging/src/k8s.io/apiserver/pkg/cel/library/cost_test.go
  staging/src/k8s.io/apiserver/pkg/cel/library/ip.go
  staging/src/k8s.io/apiserver/pkg/cel/library/ip_test.go
  staging/src/k8s.io/apiserver/pkg/cel/library/library_compatibility_test.go
Due: none

UPSTREAM: <carry>: Update IP/CIDR CEL for 1.28 compatibility
  staging/src/k8s.io/apiserver/pkg/cel/cidr.go
  staging/src/k8s.io/apiserver/pkg/cel/ip.go
  staging/src/k8s.io/apiserver/pkg/cel/library/cidr.go
  staging/src/k8s.io/apiserver/pkg/cel/library/cidr_test.go
  staging/src/k8s.io/apiserver/pkg/cel/library/ip.go
  staging/src/k8s.io/apiserver/pkg/cel/library/ip_test.go
  staging/src/k8s.io/apiserver/pkg/cel/library/libraries.go
  staging/src/k8s.io/apiserver/pkg/cel/library/library_compatibility_test.go
Due: none

UPSTREAM: <carry>: OCPBUGS-29520: fix cpu manager default cpuset check in workload partitioned env
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/cpumanager/policy_static_test.go
  pkg/kubelet/managed/managed.go
Due: none

UPSTREAM: 123603: fix UT failure TestPrintIPAddressList
  pkg/printers/internalversion/printers_test.go
Due: none

UPSTREAM: <drop>: use the right feature gate when reconstructing volumes
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
Due: none

Add extra logs to volume reconciler
  pkg/kubelet/volumemanager/cache/actual_state_of_world.go
  pkg/kubelet/volumemanager/cache/desired_state_of_world.go
  pkg/kubelet/volumemanager/reconciler/reconciler.go
  pkg/kubelet/volumemanager/reconciler/reconciler_new.go
  pkg/kubelet/volumemanager/volume_manager.go
Due: none

allow FSGroupPolicy and PodInfoOnMount to be mutable in CSIDriver.Spec
  pkg/apis/storage/types.go
  pkg/apis/storage/validation/validation.go
  pkg/apis/storage/validation/validation_test.go
  pkg/registry/storage/csidriver/strategy.go
  pkg/registry/storage/csidriver/strategy_test.go
  staging/src/k8s.io/api/storage/v1/types.go
  test/e2e/storage/csi_mock/base.go
  test/e2e/storage/csi_mock/csi_fsgroup_policy.go
  test/e2e/storage/csi_mock/csi_workload.go
Due: none

add preScore for volumeBinding
  cmd/kube-scheduler/app/server_test.go
  pkg/scheduler/apis/config/testing/defaults/defaults.go
  pkg/scheduler/framework/plugins/volumebinding/volume_binding.go
  pkg/scheduler/framework/plugins/volumebinding/volume_binding_test.go
Due: none

Remove ability to re-enable serving deprecated storagev1beta1 and storagev1alpha1 APIs
  pkg/registry/storage/rest/storage_storage.go
  test/integration/etcd/data.go
  test/integration/metrics/metrics_test.go
Due: none

Generated files
  api/openapi-spec/swagger.json
  api/openapi-spec/v3/apis__storage.k8s.io__v1_openapi.json
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/storage/v1/generated.proto
  staging/src/k8s.io/api/storage/v1/types_swagger_doc_generated.go
Due: none

client-go: allow adding indexes after informer starts
  staging/src/k8s.io/client-go/tools/cache/index.go
  staging/src/k8s.io/client-go/tools/cache/shared_informer.go
  staging/src/k8s.io/client-go/tools/cache/shared_informer_test.go
  staging/src/k8s.io/client-go/tools/cache/thread_safe_store.go
Due: none

cleanup the retrun style for cp execute function
  staging/src/k8s.io/kubectl/pkg/cmd/cp/cp.go
Due: none

Added comments
  pkg/scheduler/framework/runtime/framework.go
Due: none

verify-golangci-lint.sh: clarify intended usage of warnings
  hack/verify-golangci-lint.sh
Due: ci/prow/artifacts

Fixed extra lines
  cmd/kube-scheduler/app/options/configfile.go
Due: none

automatically setup etcd when running verify/update openapi-spec.sh
  hack/lib/etcd.sh
  hack/update-openapi-spec.sh
Due: ci/prow/artifacts

cluster/gce: add match conditions to PersistentVolume labeling webhook
  cluster/gce/addons/cloud-pvl-admission/mutating-webhook-configuration.yaml
Due: none
