Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

ci/prow/artifacts:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-selfupgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-azure-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

UPSTREAM: 111550: Add cli.RunContext to allow running with a caller-provided Context.
  cmd/kube-apiserver/apiserver.go
  cmd/kube-apiserver/app/server.go
  cmd/kube-controller-manager/app/controllermanager.go
  cmd/kube-controller-manager/controller-manager.go
  cmd/kube-scheduler/app/server.go
  cmd/kube-scheduler/scheduler.go
  cmd/kubelet/app/server.go
  cmd/kubelet/kubelet.go
  staging/src/k8s.io/component-base/cli/run.go
Due: none

WIP: UPSTREAM: <carry>: aws: skip health rules if they are a subnet of the client rule
  staging/src/k8s.io/legacy-cloud-providers/aws/aws_loadbalancer.go
Due: none

UPSTREAM: 89885: Fix panic in openstack.InstanceExistsByProviderID()
  staging/src/k8s.io/legacy-cloud-providers/openstack/openstack_instances.go
Due: none

UPSTREAM: <carry>: change registry.svc.ci to registry.ci
  openshift-hack/images/tests/Dockerfile.rhel
Due: ci/prow/artifacts

add the ability to run the kube-apiserver with a second port that serves 503 until the server is ready at least once
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/genericapiserver.go
  staging/src/k8s.io/apiserver/pkg/server/options/patch_serving_readyport.go
  staging/src/k8s.io/apiserver/pkg/server/options/recommended.go
  staging/src/k8s.io/apiserver/pkg/server/options/serving.go
  staging/src/k8s.io/apiserver/pkg/server/patch_genericapiserver.go
  staging/src/k8s.io/apiserver/pkg/server/patch_readyhandler.go
Due: none

UPSTREAM: <drop>: temporarily disable David's test
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/patch_etcd3.go
Due: none

UPSTREAM: <drop>: manually resolve conflicts
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics_test.go
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <drop>: manually resolve conflicts
  go.mod
  go.sum
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/status/status_manager_test.go
  test/e2e/apimachinery/crd_publish_openapi.go
  test/e2e_node/node_shutdown_linux_test.go
  test/integration/job/job_test.go
  vendor/modules.txt
Due: ci/prow/artifacts

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  go.mod
  go.sum
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/images/hyperkube/Dockerfile.rhel
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  vendor/modules.txt
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: kube-apiserver: wire through isTerminating into handler chain
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout_test.go
Due: none

UPSTREAM: <drop>: manually resolve conflicts
  go.mod
  go.sum
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/status/status_manager_test.go
  test/e2e_node/node_shutdown_linux_test.go
  vendor/modules.txt
Due: ci/prow/artifacts

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  go.mod
  go.sum
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/images/hyperkube/Dockerfile.rhel
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/github.com/google/cadvisor/container/containerd/client.go
  vendor/github.com/google/cadvisor/container/containerd/handler.go
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_ingress.crd.yaml
  vendor/github.com/openshift/api/config/v1/types_ingress.go
  vendor/github.com/openshift/apiserver-library-go/pkg/admission/quota/clusterresourcequota/admission.go
  vendor/modules.txt
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: 111789: Update Netpol e2e tests to use framework CreateNamespace
  test/e2e/network/netpol/kubemanager.go
  test/e2e/network/netpol/model.go
  test/e2e/network/netpol/network_policy.go
  test/e2e/network/netpol/probe.go
  test/e2e/network/netpol/reachability.go
  test/e2e/network/netpol/test_helper.go
Due: none

Revert "Add additional etcd check to readyz with 2 seconds timeout."
  cmd/kube-apiserver/app/options/options_test.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd.go
  staging/src/k8s.io/apiserver/pkg/server/options/etcd_test.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/config.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/factory.go
  staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/factory_test.go
Due: none

UPSTREAM: <carry>: Add a note that the bypass for this admission controller is API-ish
  openshift-kube-apiserver/admission/network/restrictedendpoints/endpoint_admission.go
Due: none

wip: test fedora 36
  openshift-hack/images/os/Dockerfile
  openshift-hack/images/os/install.sh
Due: ci/prow/artifacts

UPSTREAM: 74956: apiserver: switch authorization to use protobuf client
  staging/src/k8s.io/apiserver/pkg/server/options/authorization.go
Due: none

UPSTREAM: <carry>: filter out CustomResourceQuota paths from OpenAPI
  staging/src/k8s.io/apiserver/pkg/server/routes/openapi.go
Due: none

UPSTREAM: <carry>: remove apiservice from sync in CRD registration when it exists
  pkg/controlplane/controller/crdregistration/crdregistration_controller.go
Due: none

UPSTREAM: <carry>: hardcoded restmapper with a few entries to rebootstrap SDN when SDN is down
  pkg/kubeapiserver/admission/config.go
  pkg/kubeapiserver/admission/patch_restmapper.go
Due: none

UPSTREAM: <carry>: patch aggregator to allow delegating resources
  pkg/controlplane/controller/crdregistration/crdregistration_controller.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/patch_always_local_delegate.go
Due: none

UPSTREAM: 84466: gce: ensureInternalInstanceGroups: reuse instance-groups for internal load balancers
  staging/src/k8s.io/legacy-cloud-providers/gce/gce.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_fake.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_instancegroup.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal.go
  staging/src/k8s.io/legacy-cloud-providers/gce/gce_loadbalancer_internal_test.go
Due: none

UPSTREAM: <carry>: kube-apiserver: allow injection of kube-apiserver options
  cmd/kube-apiserver/app/patch_openshift.go
  cmd/kube-apiserver/app/server.go
  pkg/kubeapiserver/options/admission.go
  pkg/kubeapiserver/options/patch.go
  pkg/kubeapiserver/options/plugins.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/patch_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
Due: none

UPSTREAM: <carry>: kube-controller-manager: exclude some origin resources from quota
  pkg/quota/v1/install/patch_ignoredresources.go
Due: none

UPSTREAM: <carry>: kube-controller-manager: allow running bare kube-controller-manager
  cmd/kube-controller-manager/app/apps.go
  cmd/kube-controller-manager/app/config/config.go
  cmd/kube-controller-manager/app/config/patch.go
  cmd/kube-controller-manager/app/controllermanager.go
  cmd/kube-controller-manager/app/options/options.go
  cmd/kube-controller-manager/app/patch.go
  cmd/kube-controller-manager/app/patch_gc.go
  cmd/kube-controller-manager/app/patch_informers_openshift.go
  cmd/kube-controller-manager/app/patch_satoken.go
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/daemon/patch_nodeselector.go
  pkg/controller/daemon/patch_nodeselector_test.go
Due: none

UPSTREAM: <carry>: kubelet: Expose a simple journald shim on the kubelet logs endpoint
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_server_journal.go
  pkg/kubelet/kubelet_server_journal_test.go
Due: none

UPSTREAM: 93286: wait for apiservices on startup
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
Due: none

UPSTREAM: <carry>: Always test PDB's during service upgrade test
  test/e2e/upgrades/network/services.go
Due: none

UPSTREAM: <carry>: kube-apiserver: allow rewiring
  cmd/kube-apiserver/app/options/options.go
  cmd/kube-apiserver/app/patch_openshift.go
  cmd/kube-apiserver/app/server.go
  pkg/kubeapiserver/options/admission.go
  pkg/kubeapiserver/options/patch.go
  pkg/kubeapiserver/options/plugins.go
Due: none

UPSTREAM: 112427: Add zone field to vsphere test cloudconfig
  test/e2e/storage/vsphere/config.go
Due: none

UPSTREAM: <carry>: kube-apiserver: wire through isTerminating into handler chain
  cmd/kube-apiserver/app/server.go
  cmd/kube-scheduler/app/server.go
  pkg/kubelet/server/server.go
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout_test.go
  staging/src/k8s.io/apiserver/pkg/server/filters/wrap.go
  staging/src/k8s.io/apiserver/pkg/server/httplog/httplog.go
  staging/src/k8s.io/apiserver/pkg/server/httplog/httplog_test.go
  staging/src/k8s.io/apiserver/pkg/server/patch_config.go
  staging/src/k8s.io/controller-manager/app/serve.go
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
