Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$

UPSTREAM: <drop>: hack/update-metrics-documentation-list.sh
  hack/tools/instrumentation/documentation/documentation-list.yaml
Due: ci/prow/artifacts

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <drop>: Refresh vendor for CVE-2026-35469
  vendor/github.com/moby/spdystream/NOTICE
  vendor/github.com/moby/spdystream/connection.go
  vendor/github.com/moby/spdystream/spdy/LICENSE
  vendor/github.com/moby/spdystream/spdy/PATENTS
  vendor/github.com/moby/spdystream/spdy/dictionary.go
  vendor/github.com/moby/spdystream/spdy/options.go
  vendor/github.com/moby/spdystream/spdy/read.go
  vendor/github.com/moby/spdystream/spdy/types.go
  vendor/github.com/moby/spdystream/spdy/write.go
  vendor/modules.txt
Due: none

UPSTREAM: <carry>: OCPBUGS-128829: Handle k8s-tests-ext IP family probe failures
  openshift-hack/cmd/k8s-tests-ext/k8s-tests.go
  openshift-hack/cmd/k8s-tests-ext/k8s-tests_test.go
  openshift-hack/cmd/k8s-tests-ext/provider.go
  openshift-hack/cmd/k8s-tests-ext/provider_test.go
Due: ci/prow/artifacts

UPSTREAM: 141662: deflake pod resize deferred tests
  test/e2e/node/pod_resize.go
Due: none

UPSTREAM: 142106: e2e: check pod resized in WaitForPodResizeActuation
  test/e2e/common/node/framework/podresize/resize.go
  test/e2e/common/node/pod_level_resources_resize.go
  test/e2e/common/node/pod_resize.go
  test/e2e/node/pod_resize.go
  test/e2e_node/pod_resize_criproxy_linux_test.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Add needed labels to RHEL pause image
  build/pause/Dockerfile.Rhel
Due: none

wip: sdn readiness probe via aggregator instead of direct connect
  openshift-kube-apiserver/openshiftkubeapiserver/sdn_readyz_wait.go
Due: none

UPSTREAM: 136855: Fix duplicate output and nil panic with empty conditions
  staging/src/k8s.io/kubectl/pkg/cmd/wait/wait.go
Due: none

UPSTREAM: <carry>: Daemonset test has changed names -> needs corrected env selector
  openshift-hack/cmd/k8s-tests-ext/environment_selectors.go
Due: ci/prow/artifacts

OCPBUGS-113816: UPSTREAM: 139107: document top pod --field-selector node example
  staging/src/k8s.io/kubectl/pkg/cmd/top/top_pod.go
Due: none

UPSTREAM: <carry>: Fix SingleReplica test exclusions
  openshift-hack/cmd/k8s-tests-ext/environment_selectors.go
  openshift-hack/cmd/k8s-tests-ext/environment_selectors_test.go
  openshift-hack/cmd/k8s-tests-ext/k8s-tests.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Fix vSphere topology test exclusions
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
  openshift-hack/cmd/k8s-tests-ext/disabled_tests_test.go
Due: ci/prow/artifacts
