Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$

Fix resizing of ephemeral volumes
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator.go
Due: none

Ignore EndpointSlices that are already marked for deletion
  pkg/controller/util/endpointslice/endpointslice_tracker.go
  pkg/controller/util/endpointslice/endpointslice_tracker_test.go
Due: none

Add test for checking ephemeral volume expansion
  pkg/kubelet/volumemanager/populator/desired_state_of_world_populator_test.go
Due: none

Bump version to 1.24.2
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

fix audit union loop variables in closures
  staging/src/k8s.io/apiserver/pkg/audit/union.go
  staging/src/k8s.io/apiserver/pkg/audit/union_test.go
Due: none

Update CHANGELOG/CHANGELOG-1.24.md for v1.24.1
  CHANGELOG/CHANGELOG-1.24.md
Due: none

UPSTREAM: <drop>: manually resolve conflicts
  staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics_test.go
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Minor cleanup in test annotation generator
  openshift-hack/e2e/annotate/annotate.go
Due: ci/prow/artifacts

switch to unpatched ginkgo fork
  go.mod
  go.sum
Due: none

UPSTREAM: <drop>: manually resolve conflicts
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/status/status_manager_test.go
  test/e2e/apimachinery/crd_publish_openapi.go
  test/e2e_node/node_shutdown_linux_test.go
  test/integration/job/job_test.go
Due: ci/prow/artifacts

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  go.mod
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/images/hyperkube/Dockerfile.rhel
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/modules.txt
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <drop>: manually resolve conflicts
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/status/status_manager_test.go
  test/e2e_node/node_shutdown_linux_test.go
Due: ci/prow/artifacts

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  go.mod
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/images/hyperkube/Dockerfile.rhel
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/modules.txt
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: kube-apiserver: wire through isTerminating into handler chain
  staging/src/k8s.io/apiserver/pkg/server/filters/timeout_test.go
Due: none

UPSTREAM: <carry>: Enable "[sig-network] [Feature:Topology Hints] should distribute endpoints evenly" test
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: squash to all tooling
  openshift-hack/e2e/annotate/annotate.go
  openshift-hack/e2e/kube_e2e_test.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Enter mount namespace if set in $KUBENSMNT environment
  cmd/kubelet/app/server.go
  go.mod
  go.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  vendor/github.com/containers/kubensmnt/LICENSE
  vendor/github.com/containers/kubensmnt/README.md
  vendor/github.com/containers/kubensmnt/go.mod
  vendor/github.com/containers/kubensmnt/kubensmnt.c
  vendor/github.com/containers/kubensmnt/kubensmnt.go
  vendor/github.com/containers/kubensmnt/kubensmnt.h
  vendor/github.com/containers/kubensmnt/kubensmnt_linux.go
  vendor/github.com/containers/kubensmnt/kubensmnt_nonlinux.go
  vendor/modules.txt
Due: ci/prow/artifacts

UPSTREAM: 109580: e2e: add storage capability for offline volume expansion
  test/e2e/storage/drivers/csi.go
  test/e2e/storage/drivers/in_tree.go
  test/e2e/storage/external/external.go
  test/e2e/storage/framework/testdriver.go
  test/e2e/storage/testsuites/volume_expand.go
Due: none

[DO NOT MERGE - WIP] handle icsp api
  openshift-kube-apiserver/admission/customresourcevalidation/customresourcevalidationregistration/cr_validation_registration.go
  openshift-kube-apiserver/admission/customresourcevalidation/imagecontentsourcepolicy/validate_imagecontentsourcepolicy.go
  vendor/github.com/openshift/api/operator/v1alpha1/0000_10_config-operator_01_imagecontentsourcepolicy.crd.yaml
  vendor/github.com/openshift/api/operator/v1alpha1/doc.go
  vendor/github.com/openshift/api/operator/v1alpha1/register.go
  vendor/github.com/openshift/api/operator/v1alpha1/types.go
  vendor/github.com/openshift/api/operator/v1alpha1/types_image_content_source_policy.go
  vendor/github.com/openshift/api/operator/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/operator/v1alpha1/zz_generated.swagger_doc_generated.go
  vendor/modules.txt
Due: none

DO_NOT_MERGE:convertion icsp
  api/api-rules/violation_exceptions.list
  openshift-kube-apiserver/admission/customresourcevalidation/imagecontentsourcepolicy/conversion.go
  openshift-kube-apiserver/admission/customresourcevalidation/imagecontentsourcepolicy/validate_imagecontentsourcepolicy.go
  openshift-kube-apiserver/admission/customresourcevalidation/imagecontentsourcepolicy/zz_generated.conversion.go
Due: none

UPSTREAM: 109103: cpu manager policy set to none, no one remove container id from container map, lead memory leak
  pkg/kubelet/cm/containermap/container_map.go
  pkg/kubelet/cm/cpumanager/cpu_manager.go
  pkg/kubelet/cm/memorymanager/memory_manager.go
Due: none

update base image version and remove ci from registry
  openshift-hack/images/os/Dockerfile
Due: ci/prow/artifacts

UPSTREAM: 111034: e2e: bump Azure Disk in-tree timeouts
  test/e2e/storage/drivers/in_tree.go
Due: none

UPSTREAM: <drop>: manually resolve conflicts
  go.mod
  go.sum
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/status/status_manager_test.go
  test/e2e/apimachinery/crd_publish_openapi.go
  test/e2e_node/node_shutdown_linux_test.go
  test/integration/job/job_test.go
  vendor/modules.txt
Due: ci/prow/artifacts

UPSTREAM: <drop>: manually resolve conflicts
  go.mod
  go.sum
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/status/status_manager_test.go
  test/e2e_node/node_shutdown_linux_test.go
  vendor/modules.txt
Due: ci/prow/artifacts

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  go.mod
  go.sum
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/images/hyperkube/Dockerfile.rhel
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/github.com/google/cadvisor/container/containerd/client.go
  vendor/github.com/google/cadvisor/container/containerd/handler.go
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_ingress.crd.yaml
  vendor/github.com/openshift/api/config/v1/types_ingress.go
  vendor/github.com/openshift/apiserver-library-go/pkg/admission/quota/clusterresourcequota/admission.go
  vendor/modules.txt
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  go.mod
  go.sum
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/images/hyperkube/Dockerfile.rhel
  pkg/generated/openapi/zz_generated.openapi.go
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_ingress.crd.yaml
  vendor/github.com/openshift/api/config/v1/types_ingress.go
  vendor/modules.txt
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <drop>: manually resolve conflicts
  go.mod
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kubectl/go.sum
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  go.mod
  go.sum
  openshift-hack/images/hyperkube/Dockerfile.rhel
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/legacy-cloud-providers/go.mod
  staging/src/k8s.io/legacy-cloud-providers/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/github.com/openshift/api/config/v1/0000_10_config-operator_01_ingress.crd.yaml
  vendor/github.com/openshift/api/config/v1/types_ingress.go
  vendor/modules.txt
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

fix scheduling e2e tests to run PSa-restricted pods
  test/e2e/scheduling/predicates.go
Due: none

Revert "UPSTREAM: <carry>: CHECK(workload) disable kubectl client-side validation tests"
  test/e2e/apimachinery/crd_publish_openapi.go
Due: none
