Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

ci/prow/artifacts:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-selfupgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-azure-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

add sum-resources to get-pods
  staging/src/k8s.io/kubectl/pkg/cmd/get/get.go
  staging/src/k8s.io/kubectl/pkg/cmd/get/sum_resources.go
  staging/src/k8s.io/kubectl/pkg/cmd/get/sum_resources_test.go
Due: none

UPSTREAM: 138401: Improve WatchList test robustness
  test/e2e/apimachinery/watchlist.go
Due: none

UPSTREAM: 138244: devicemanager: constrain topology hints to device NUMA nodes
  pkg/kubelet/cm/devicemanager/topology_hints.go
  pkg/kubelet/cm/devicemanager/topology_hints_test.go
Due: none

UPSTREAM: <drop>: manually resolve conflicts
  go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/cri-api/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  go.sum
  openshift-hack/images/hyperkube/Dockerfile.rhel
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cri-api/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <drop>: manually resolve conflicts
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/cri-client/go.mod
  staging/src/k8s.io/externaljwt/go.mod
  staging/src/k8s.io/kms/go.mod
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/mount-utils/go.mod
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/sample-apiserver/go.mod
Due: none

UPSTREAM: <drop>: manually resolve conflicts
  go.mod
  go.sum
  hack/verify-govulncheck.sh
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/mount-utils/go.mod
  staging/src/k8s.io/mount-utils/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/modules.txt
Due: ci/prow/artifacts

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: Skip e2e test: attach on previously attached volumes should work
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

UPSTREAM: 74956: apiserver: switch authorization to use protobuf client
  staging/src/k8s.io/apiserver/pkg/server/options/authorization.go
Due: none

UPSTREAM: 93286: wait for apiservices on startup
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
Due: none

UPSTREAM: <carry>: filter out CustomResourceQuota paths from OpenAPI
  staging/src/k8s.io/apiserver/pkg/server/routes/openapi.go
Due: none

UPSTREAM: <carry>: patch aggregator to allow delegating resources
  pkg/controlplane/controller/crdregistration/crdregistration_controller.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/patch_always_local_delegate.go
Due: none

UPSTREAM: <carry>: remove apiservice from sync in CRD registration when it exists
  pkg/controlplane/controller/crdregistration/crdregistration_controller.go
Due: none

UPSTREAM: <carry>: Extend NodeLogQuery feature
  pkg/features/kube_features.go
  pkg/features/kube_features_test.go
  pkg/kubelet/apis/config/validation/validation_test.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_server_journal.go
  pkg/kubelet/kubelet_server_journal_linux.go
  pkg/kubelet/kubelet_server_journal_test.go
  pkg/kubelet/kubelet_server_journal_windows.go
  test/compatibility_lifecycle/cmd/feature_gates.go
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
Due: ci/prow/artifacts

UPSTREAM: <carry>: kube-controller-manager: allow running bare kube-controller-manager
  cmd/kube-controller-manager/app/apps.go
  cmd/kube-controller-manager/app/config/config.go
  cmd/kube-controller-manager/app/config/patch.go
  cmd/kube-controller-manager/app/controllermanager.go
  cmd/kube-controller-manager/app/options/options.go
  cmd/kube-controller-manager/app/patch.go
  cmd/kube-controller-manager/app/patch_gc.go
  cmd/kube-controller-manager/app/patch_informers_openshift.go
  cmd/kube-controller-manager/app/patch_satoken.go
  cmd/kube-controller-manager/app/service_accounts.go
  pkg/controller/daemon/daemon_controller.go
  pkg/controller/daemon/patch_nodeselector.go
  pkg/controller/daemon/patch_nodeselector_test.go
  pkg/controller/daemon/update.go
Due: none

UPSTREAM: <carry>: kube-controller-manager: exclude some origin resources from quota
  pkg/quota/v1/install/patch_ignoredresources.go
Due: none

UPSTREAM: <carry>: openshift-kube-apiserver: add kube-apiserver patches
  cmd/kube-apiserver/app/options/options.go
  cmd/kube-apiserver/app/server.go
  pkg/controlplane/apiserver/config.go
  pkg/kubeapiserver/authorizer/config.go
  pkg/kubeapiserver/authorizer/modes/patch.go
  pkg/kubeapiserver/authorizer/patch.go
  pkg/kubeapiserver/authorizer/reload.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/patch_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
  test/conformance/image/go-runner/testdata/tartest/out.tar.gz
Due: none

UPSTREAM: <carry>: bootstrap-rbac-policy: move over .well-known rules
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-role-bindings.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles-featuregates.yaml
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml
Due: none

UPSTREAM: 138318: DRA: use full image name in test manifests
  test/e2e/testing-manifests/dra/dra-test-driver-proxy.yaml
Due: none

UPSTREAM: 136913: Update the csi-driver-host-path version to 1.17.1
  test/e2e/testing-manifests/storage-csi/external-snapshotter/volume-group-snapshots/csi-hostpath-plugin.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-proxy.yaml
Due: none

UPSTREAM: 136337: DRA E2E: use image utils to manage hostpath image
  test/e2e/dra/utils/deploy.go
  test/e2e/testing-manifests/dra/dra-test-driver-proxy.yaml
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
