Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$

UPSTREAM: 74956: apiserver: switch authorization to use protobuf client
  staging/src/k8s.io/apiserver/pkg/server/options/authorization.go
Due: none

UPSTREAM: <carry>: filter out CustomResourceQuota paths from OpenAPI
  staging/src/k8s.io/apiserver/pkg/server/routes/openapi.go
Due: none

UPSTREAM: <carry>: Extend NodeLogQuery feature
  pkg/features/kube_features.go
  pkg/kubelet/apis/config/validation/validation_test.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_server_journal.go
  pkg/kubelet/kubelet_server_journal_linux.go
  pkg/kubelet/kubelet_server_journal_test.go
  pkg/kubelet/kubelet_server_journal_windows.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: add management support to kubelet
  pkg/kubelet/cm/cpumanager/cpu_manager.go
  pkg/kubelet/cm/cpumanager/policy_static.go
  pkg/kubelet/cm/cpumanager/policy_static_test.go
  pkg/kubelet/cm/qos_container_manager_linux.go
  pkg/kubelet/config/file.go
  pkg/kubelet/config/file_linux.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_node_status.go
  pkg/kubelet/managed/cpu_shares.go
  pkg/kubelet/managed/managed.go
  pkg/kubelet/managed/managed_test.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: kube-controller-manager: exclude some origin resources from quota
  pkg/quota/v1/install/patch_ignoredresources.go
Due: none

UPSTREAM: <carry>: patch aggregator to allow delegating resources
  pkg/controlplane/controller/crdregistration/crdregistration_controller.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/patch_always_local_delegate.go
Due: none

UPSTREAM: <carry>: add conditional shutdown response header
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/filters/with_early_late_annotations.go
  staging/src/k8s.io/apiserver/pkg/server/filters/with_early_late_annotations_test.go
Due: none

UPSTREAM: <carry>: Add update go workspace step to the update flow
  hack/make-rules/update.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: react to library-go changes
  openshift-kube-apiserver/admission/admissionenablement/register_test.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/validate_route.go
  openshift-kube-apiserver/admission/route/hostassignment/admission.go
Due: none

UPSTREAM: <carry>: create readyz event for kubeapi server
  staging/src/k8s.io/apiserver/pkg/server/healthz.go
Due: none

UPSTREAM: <carry>: openshift-kube-apiserver: add kube-apiserver patches - fixes
  pkg/kubeapiserver/authorizer/config.go
Due: none

UPSTREAM: <carry>: Add RouteExternalCertificate validation in Route ObjectValidator
  openshift-kube-apiserver/admission/customresourcevalidation/route/validate_route.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/validate_route_test.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/validation_opts.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/validation_wrapper.go
  openshift-kube-apiserver/admission/route/hostassignment/admission.go
Due: none

UPSTREAM: <carry>: Add OpenShift tooling, images, configs and docs
  .ci-operator.yaml
  build/pause/Dockerfile.Rhel
  hack/update-vendor.sh
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-hack/images/installer-kube-apiserver-artifacts/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: loosen authentication.spec.type validation
  openshift-kube-apiserver/admission/customresourcevalidation/authentication/validate_authentication.go
  openshift-kube-apiserver/admission/customresourcevalidation/authentication/validate_authentication_test.go
Due: none

UPSTREAM: <carry>: don't fail integration due to too many goroutines
  test/integration/framework/etcd.go
  test/integration/scheduler_perf/scheduler_perf.go
  test/integration/scheduler_perf/scheduler_test.go
Due: none

UPSTREAM: <carry>: add support for cpu limits into management workloads
  openshift-kube-apiserver/admission/autoscaling/managementcpusoverride/admission.go
  openshift-kube-apiserver/admission/autoscaling/managementcpusoverride/admission_test.go
  pkg/kubelet/managed/managed.go
  pkg/kubelet/managed/managed_test.go
Due: none

UPSTREAM: <carry>: openshift-kube-apiserver: add kube-apiserver patches
  openshift-kube-apiserver/admission/admissionenablement/register.go
  openshift-kube-apiserver/admission/autoscaling/managementcpusoverride/admission.go
  openshift-kube-apiserver/admission/autoscaling/managementcpusoverride/admission_test.go
  openshift-kube-apiserver/admission/autoscaling/mixedcpus/admission.go
  openshift-kube-apiserver/admission/autoscaling/mixedcpus/admission_test.go
  openshift-kube-apiserver/admission/autoscaling/mixedcpus/doc.go
  openshift-kube-apiserver/admission/customresourcevalidation/apirequestcount/validate_apirequestcount.go
  openshift-kube-apiserver/admission/customresourcevalidation/apirequestcount/validate_apirequestcount_test.go
  openshift-kube-apiserver/admission/customresourcevalidation/apiserver/validate_apiserver.go
  openshift-kube-apiserver/admission/customresourcevalidation/authentication/validate_authentication.go
  openshift-kube-apiserver/admission/customresourcevalidation/clusterresourcequota/validate_crq.go
  openshift-kube-apiserver/admission/customresourcevalidation/console/validate_console.go
  openshift-kube-apiserver/admission/customresourcevalidation/customresourcevalidator.go
  openshift-kube-apiserver/admission/customresourcevalidation/customresourcevalidator_test.go
  openshift-kube-apiserver/admission/customresourcevalidation/dns/validate_dns.go
  openshift-kube-apiserver/admission/customresourcevalidation/features/validate_features.go
  openshift-kube-apiserver/admission/customresourcevalidation/image/validate_image.go
  openshift-kube-apiserver/admission/customresourcevalidation/kubecontrollermanager/validate_kubecontrollermanager.go
  openshift-kube-apiserver/admission/customresourcevalidation/network/validate_network_config.go
  openshift-kube-apiserver/admission/customresourcevalidation/node/restrict_extreme_worker_latency_profile.go
  openshift-kube-apiserver/admission/customresourcevalidation/oauth/validate_oauth.go
  openshift-kube-apiserver/admission/customresourcevalidation/project/validate_project.go
  openshift-kube-apiserver/admission/customresourcevalidation/rolebindingrestriction/validate_rbr.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/validate_route.go
  openshift-kube-apiserver/admission/customresourcevalidation/scheduler/validate_scheduler.go
  openshift-kube-apiserver/admission/customresourcevalidation/securitycontextconstraints/validate_scc.go
  openshift-kube-apiserver/admission/scheduler/nodeenv/admission.go
  openshift-kube-apiserver/admission/scheduler/nodeenv/admission_test.go
Due: none

UPSTREAM: <carry>: Add Dockerfile to buld kube-apiserver for openshift-install architectures
  openshift-hack/images/installer-kube-apiserver-artifacts/Dockerfile.rhel
  openshift-hack/images/installer-kube-apiserver-artifacts/OWNERS
Due: ci/prow/artifacts
