Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

ci/prow/artifacts:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-selfupgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-azure-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

UPSTREAM: <carry>: kubelet: fix readiness probes with pod termination
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/pod/mirror_client.go
  pkg/kubelet/prober/prober_manager_test.go
  pkg/kubelet/prober/results/results_manager.go
  pkg/kubelet/prober/results/results_manager_test.go
  pkg/kubelet/prober/scale_test.go
  pkg/kubelet/prober/worker_test.go
  pkg/kubelet/status/fake_status_manager.go
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/status/status_manager_test.go
  pkg/kubelet/status/testing/mock_pod_status_provider.go
  test/e2e_node/mirror_pod_readiness_test.go
Due: none

UPSTREAM: <carry>: disable failing dnsPolicy test
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: don't fail integration due to too many goroutines
  test/integration/framework/etcd.go
Due: none

UPSTREAM: <carry>: legacy-cloud-providers: azure: do not detach masters from lb when unready
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer_test.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
Due: none

UPSTREAM: <carry>: add shutdown annotation to response header
  staging/src/k8s.io/apiserver/pkg/server/filters/with_early_late_annotations.go
  staging/src/k8s.io/apiserver/pkg/server/filters/with_early_late_annotations_test.go
Due: none

UPSTREAM: <carry>: Create minimal wrapper needed to run k8s e2e tests
  openshift-hack/cmd/k8s-tests/provider.go
  openshift-hack/e2e/annotate/rules.go
  openshift-hack/e2e/namespace.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: kubelet/cm: disable cpu load balancing on slices when using static cpu manager policy
  pkg/kubelet/cm/cgroup_manager_linux.go
  pkg/kubelet/cm/cgroup_manager_unsupported.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/types.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Create minimal wrapper needed to run k8s e2e tests
  hack/lib/golang.sh
  openshift-hack/cmd/k8s-tests/k8s-tests.go
  openshift-hack/cmd/k8s-tests/provider.go
  openshift-hack/cmd/k8s-tests/runtest.go
  openshift-hack/cmd/k8s-tests/types.go
  openshift-hack/e2e/annotate/annotate.go
  openshift-hack/e2e/annotate/cmd/main.go
  openshift-hack/e2e/annotate/rules.go
  openshift-hack/e2e/annotate/rules_test.go
  openshift-hack/e2e/namespace.go
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: disable load balancing on created cgroups when managed is enabled
  pkg/kubelet/cm/cgroup_manager_linux.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: update rebase doc
  REBASE.openshift.md
Due: none

UPSTREAM: <drop>: disable transient dep check
  hack/update-vendor.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: kubelet: fix readiness probes with pod termination
  test/e2e_node/mirror_pod_readiness_test.go
Due: none

UPSTREAM: <carry>: Add OpenShift tooling, images, configs and docs
  openshift-hack/e2e/include.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: kube-apiserver: allow injection of kube-apiserver options
  pkg/controlplane/apiserver/config.go
Due: none

UPSTREAM: <carry>: Add OpenShift tooling, images, configs and docs
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: Add OpenShift tooling, images, configs and docs
  openshift-hack/lib/init.sh
Due: ci/prow/artifacts

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
