Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

ci/prow/artifacts:
  decorate: true
  labels:
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-aws-selfupgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-aws-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-azure-upgrade:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: OCPBUGS-94059: backport kubernetes/conformance umbrella suite
  openshift-hack/cmd/k8s-tests-ext/k8s-tests.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: KEP-6063: Implement per-pod PID limit (Alpha)
  pkg/api/pod/util.go
  pkg/api/pod/util_test.go
  pkg/apis/core/helper/helpers.go
  pkg/apis/core/helper/helpers_test.go
  pkg/apis/core/types.go
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
  pkg/features/kube_features.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/pod_container_manager_linux.go
  pkg/kubelet/cm/pod_container_manager_linux_test.go
  pkg/kubelet/eviction/eviction_manager_test.go
  pkg/kubelet/metrics/metrics.go
  staging/src/k8s.io/api/core/v1/types.go
  staging/src/k8s.io/component-helpers/nodedeclaredfeatures/features/perpodpidlimit/feature.go
  staging/src/k8s.io/component-helpers/nodedeclaredfeatures/features/perpodpidlimit/feature_test.go
  staging/src/k8s.io/component-helpers/nodedeclaredfeatures/features/registry.go
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
  test/e2e_node/eviction_test.go
  test/e2e_node/pids_test.go
  test/instrumentation/documentation/documentation-list.yaml
Due: ci/prow/artifacts

UPSTREAM: <carry>: OCPBUGS-92836: fix bootstrap deadlock when ManagementCPUsOverride rejects pods with 0 nodes
  openshift-kube-apiserver/admission/autoscaling/managementcpusoverride/admission.go
  openshift-kube-apiserver/admission/autoscaling/managementcpusoverride/admission_test.go
Due: none

UPSTREAM: <carry>: Store SELinuxWarningController upgrade check as a ConfigMap
  pkg/controller/volume/selinuxwarning/cache/openshift_patch.go
  pkg/controller/volume/selinuxwarning/openshift_upgrade_controller.go
  pkg/controller/volume/selinuxwarning/openshift_upgrade_controller_test.go
  pkg/controller/volume/selinuxwarning/selinux_warning_controller.go
  pkg/features/openshift_features.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
Due: none

Version changed from 1.37 to 1.35 for testing purpose
  pkg/features/kube_features.go
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
  vendor/github.com/openshift/api/features/features.go
Due: none

UPSTREAM: 138768: move VolumeGroupSnapshot to V1
  test/e2e/storage/utils/volume_group_snapshot.go
  test/e2e/testing-manifests/storage-csi/external-snapshotter/volume-group-snapshots/csi-hostpath-plugin.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-snapshotter.yaml
Due: none

UPSTREAM: <carry>: Add NodeSelectorAdjuster admission plugin for HCP clusters
  openshift-kube-apiserver/admission/admissionenablement/register.go
  openshift-kube-apiserver/admission/scheduler/nodeselectoradjuster/admission.go
  openshift-kube-apiserver/admission/scheduler/nodeselectoradjuster/admission_test.go
Due: none

UPSTREAM: <carry>: Fix ClusterIsIPv6() detection for dual-stack v6-primary clusters
  openshift-hack/cmd/k8s-tests-ext/provider.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: upkeep cpu partitioning admission webhook
  openshift-kube-apiserver/admission/autoscaling/managementcpusoverride/admission.go
  openshift-kube-apiserver/admission/autoscaling/managementcpusoverride/admission_test.go
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  go.mod
  go.sum
  openshift-hack/images/hyperkube/Dockerfile.rhel
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/code-generator/examples/go.mod
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/dynamic-resource-allocation/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/pod-security-admission/go.mod
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-controller/go.mod
  vendor/github.com/openshift/api/config/v1/types_infrastructure.go
  vendor/github.com/openshift/api/config/v1/types_kmsencryption.go
  vendor/github.com/openshift/api/config/v1/zz_generated.featuregated-crd-manifests.yaml
  vendor/github.com/openshift/api/config/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/api/features/features.go
  vendor/github.com/openshift/api/operator/v1/types.go
  vendor/github.com/openshift/api/operator/v1/types_kmsencryption.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.deepcopy.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.model_name.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/config/v1/vaultkmspluginconfig.go
  vendor/github.com/openshift/client-go/config/applyconfigurations/internal/internal.go
  vendor/modules.txt
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  go.sum
  go.work.sum
  openshift-hack/images/hyperkube/Dockerfile.rhel
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/modules.txt
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  openshift-hack/images/hyperkube/Dockerfile.rhel
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/kubelet/go.sum
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: require all aggregated apiserver endpoints reachable in readyz check
  openshift-kube-apiserver/openshiftkubeapiserver/sdn_readyz_wait.go
  openshift-kube-apiserver/openshiftkubeapiserver/sdn_readyz_wait_test.go
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  openshift-hack/images/hyperkube/Dockerfile.rhel
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/cri-api/go.sum
  staging/src/k8s.io/externaljwt/go.sum
  staging/src/k8s.io/kms/go.sum
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/sample-controller/go.mod
  staging/src/k8s.io/sample-controller/go.sum
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: kube-aggregator: fast http2 health checking for backend connections
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/handler_proxy.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/patch_backend_transport.go
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/patch_backend_transport_test.go
Due: none

UPSTREAM: <carry>: Update openshift-hack/rebase.sh, REBASE.openshift.md
  REBASE.openshift.md
  openshift-hack/rebase.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: Revert "Merge pull request #2713 from eggfoobar/fix-managementcpuoverride"
  openshift-kube-apiserver/admission/autoscaling/managementcpusoverride/admission.go
  openshift-kube-apiserver/admission/autoscaling/managementcpusoverride/admission_test.go
Due: none

UPSTREAM: <drop>: manually resolve conflicts
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/cri-api/go.sum
  staging/src/k8s.io/externaljwt/go.sum
  staging/src/k8s.io/kms/go.sum
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/sample-controller/go.mod
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  openshift-hack/images/hyperkube/Dockerfile.rhel
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/cri-api/go.sum
  staging/src/k8s.io/externaljwt/go.sum
  staging/src/k8s.io/kms/go.sum
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/sample-controller/go.mod
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <drop>: manually resolve conflicts
  staging/src/k8s.io/apimachinery/go.mod
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/cri-api/go.sum
  staging/src/k8s.io/externaljwt/go.sum
  staging/src/k8s.io/kms/go.sum
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/sample-controller/go.mod
Due: none

UPSTREAM: <carry>: OCPBUGS-105592: backport kubernetes/conformance umbrella suite
  openshift-hack/cmd/k8s-tests-ext/k8s-tests.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: OCPBUGS-105593: backport kubernetes/conformance umbrella suite
  openshift-hack/cmd/k8s-tests-ext/k8s-tests.go
Due: ci/prow/artifacts

DO NOT MERGE: pre-merge testing CSI_PROW_ENABLE_SNAPSHOT_METADATA=true
  test/e2e/storage/drivers/csi.go
Due: none

UPSTREAM: 141325: kubelet: close resize race in sync pod
  pkg/kubelet/allocation/allocation_manager.go
  pkg/kubelet/container/testing/fake_runtime.go
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_test.go
Due: none

UPSTREAM: <carry>: enable pod-resize-retry-deferred-test-2
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts

Add bindMountOptions field to VolumeMount
  pkg/apis/core/types.go
  staging/src/k8s.io/api/core/v1/generated.proto
  staging/src/k8s.io/api/core/v1/types.go
Due: none

Add VolumeBindMountOptions feature gate
  pkg/features/kube_features.go
  test/compatibility_lifecycle/reference/feature_list.md
  test/compatibility_lifecycle/reference/versioned_feature_list.yaml
Due: none

Add validation for volumeMount bindMountOptions
  pkg/apis/core/validation/validation.go
  pkg/apis/core/validation/validation_test.go
Due: none

Add feature gate drop logic for volumeMount bindMountOptions
  pkg/api/pod/util.go
  pkg/api/pod/util_test.go
Due: none

Add mount_options to CRI Mount message
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.pb.go
  staging/src/k8s.io/cri-api/pkg/apis/runtime/v1/api.proto
Due: none

Implement kubelet support for bindMountOptions
  pkg/kubelet/container/runtime.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/kubelet_pods_test.go
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/kuberuntime/kuberuntime_container_test.go
Due: none

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
