Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$

UPSTREAM: <carry>: allows for switching KS to talk to Kube API over localhost-squash to other
  cmd/kube-scheduler/app/patch.go
Due: none

UPSTREAM: <carry>: enable should drop INVALID conntrack entries test
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

UPSTREAM: revert: <carry>: Unskip OCP SDN related tests
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Remove pod warning annotation when workload partitioning is disabled
  openshift-kube-apiserver/admission/autoscaling/managementcpusoverride/admission.go
  openshift-kube-apiserver/admission/autoscaling/managementcpusoverride/admission_test.go
Due: none

UPSTREAM: <carry>: Generate event when cache update failed
  pkg/scheduler/schedule_one.go
Due: none

UPSTREAM: <carry>: update list of deprecated apis
  openshift-kube-apiserver/filters/deprecatedapirequest/deprecated.go
Due: none

UPSTREAM: 108284: fix: exclude non-ready nodes and deleted nodes from azure load balancers
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
Due: none

UPSTREAM: <carry>: ignore invalid apirequestcounts
  openshift-kube-apiserver/filters/deprecatedapirequest/apiaccess_count_controller.go
  openshift-kube-apiserver/filters/deprecatedapirequest/apiaccess_count_controller_test.go
Due: none

UPSTREAM: <carry>: use hardcoded rest mapper from library-go
  pkg/kubeapiserver/admission/patch_restmapper.go
Due: none

UPSTREAM: <carry>: Skip in-tree topology tests win Azure Disk migrated to CSI
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: enable e2e test after 1.23 rebase in sdn
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Unskip OCP SDN related tests
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: (squash) remove egressnetworkpolicies from gc ignored resources
  cmd/kube-controller-manager/app/patch_gc.go
Due: none

UPSTREAM: <carry>: update e2es
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: apirequestcount validation
  openshift-kube-apiserver/admission/customresourcevalidation/apirequestcount/validate_apirequestcount.go
  openshift-kube-apiserver/admission/customresourcevalidation/apirequestcount/validate_apirequestcount_test.go
  openshift-kube-apiserver/admission/customresourcevalidation/attributes.go
  openshift-kube-apiserver/admission/customresourcevalidation/customresourcevalidationregistration/cr_validation_registration.go
Due: none

UPSTREAM: <drop>: use go 1.18.0 as minimum version
  hack/lib/golang.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: update hyperkube and image version
  .ci-operator.yaml
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-hack/images/tests/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: 108309: no auto-generation of secret-based service account token
  cmd/kube-controller-manager/app/controllermanager.go
  pkg/controller/serviceaccount/tokens_controller.go
  pkg/controller/serviceaccount/tokens_controller_test.go
  pkg/features/kube_features.go
  test/e2e/auth/node_authz.go
  test/e2e/auth/service_accounts.go
  test/integration/serviceaccount/service_account_test.go
Due: none

UPSTREAM: 108309: pkg/features: disable LegacyServiceAccountTokenNoAutoGeneration by default
  pkg/features/kube_features.go
Due: none

UPSTREAM: <carry>: kube-apiserver: prioritize machine api group
  pkg/controlplane/controller/crdregistration/patch.go
Due: none

UPSTREAM: 109931: fix: exclude non-ready nodes and deleted nodes from azure load balancers
  staging/src/k8s.io/legacy-cloud-providers/azure/azure.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go
  staging/src/k8s.io/legacy-cloud-providers/azure/azure_test.go
Due: none

UPSTREAM: <carry>: add DOWNSTREAM_OWNERS
  DOWNSTREAM_OWNERS
Due: none

UPSTREAM: <carry>: Allow overriding/hooking into kube-proxy
  cmd/kube-proxy/app/server_openshift.go
  pkg/proxy/iptables/proxier_openshift.go
  pkg/proxy/userspace/proxier_openshift.go
Due: none

UPSTREAM: <carry>: Prefer local endpoint for cluster DNS service
  pkg/proxy/iptables/proxier.go
Due: none

UPSTREAM: <carry>: implement "local-with-fallback" external traffic policy
  pkg/proxy/iptables/proxier.go
Due: none

userspace: Don't sync every iptables rule on every service change
  pkg/proxy/iptables/proxier_openshift.go
  pkg/proxy/userspace/proxier.go
  pkg/proxy/userspace/proxier_openshift.go
Due: none

reset downstream owners to match upstream
  DOWNSTREAM_OWNERS
Due: none

e2e: services with evicted pods doesn't have endpoints
  test/e2e/network/service.go
Due: none

UPSTREAM: 110191: to validate ovn upgrade run
  pkg/kubelet/kubelet.go
  pkg/kubelet/kubelet_pods.go
  pkg/kubelet/nodeshutdown/nodeshutdown_manager_linux.go
  pkg/kubelet/prober/prober_manager.go
  pkg/kubelet/prober/testing/fake_manager.go
Due: ci/prow/artifacts
