Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

test commit
  CONTRIBUTING.md
Due: none

UPSTREAM: 123055: Fix race condition between resizer and kubelet
  pkg/kubelet/volumemanager/reconciler/reconciler_test.go
  pkg/volume/csi/expander.go
  pkg/volume/testing/testing.go
  pkg/volume/util/operationexecutor/operation_generator.go
  pkg/volume/util/types/types.go
Due: none

UPSTREAM: <carry>: Skip eviction test on tainted nodes for SNO jobs
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: OCPBUGS-34102: force static build of linux binaries
  openshift-hack/images/installer-kube-apiserver-artifacts/Dockerfile.rhel
Due: ci/prow/artifacts

UPSTREAM: <carry>: add shutdown annotation to response header
  staging/src/k8s.io/apiserver/pkg/server/config.go
  staging/src/k8s.io/apiserver/pkg/server/filters/with_early_late_annotations.go
  staging/src/k8s.io/apiserver/pkg/server/filters/with_early_late_annotations_test.go
Due: none

UPSTREAM: <carry>: don't fail integration due to too many goroutines
  test/integration/framework/etcd.go
  test/integration/scheduler_perf/scheduler_perf.go
  test/integration/scheduler_perf/scheduler_test.go
Due: none

UPSTREAM: <carry>: disable load balancing on created cgroups when managed is enabled
  pkg/kubelet/cm/cgroup_manager_linux.go
  pkg/kubelet/cm/cgroup_manager_unsupported.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/types.go
Due: ci/prow/artifacts
