Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$

UPSTREAM: <carry>: skip LocalhostNodePorts tests on OVN-Kubernetes
  openshift-hack/cmd/k8s-tests-ext/environment_selectors.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Mark NetworkPolicy nonexistent named port test as broken
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts

UPSTREAM: <drop>: temporarily skip CSI mount SELinux tests due to STOR-3089
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
  openshift-hack/test-kubernetes-e2e.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: skip LocalhostNodePorts tests in k8s jobs when network plugin is OVNKubernetes
  openshift-hack/test-kubernetes-e2e.sh
Due: ci/prow/artifacts

UPSTREAM: 141984: apiserver/cel: propagate ResultSize for URL accessor cost estimates
  staging/src/k8s.io/apiserver/pkg/cel/library/cost.go
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  openshift-hack/images/hyperkube/Dockerfile.rhel
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kubelet/go.mod
  vendor/golang.org/x/crypto/ssh/channel.go
  vendor/golang.org/x/crypto/ssh/mux.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/server_wrap.go
  vendor/golang.org/x/net/http2/transport_wrap.go
  vendor/golang.org/x/tools/go/types/objectpath/objectpath.go
  vendor/golang.org/x/tools/internal/gcimporter/iimport.go
  vendor/golang.org/x/tools/internal/gcimporter/ureader.go
  vendor/golang.org/x/tools/internal/stdlib/deps.go
  vendor/golang.org/x/tools/internal/stdlib/manifest.go
  vendor/golang.org/x/tools/internal/typesinternal/element.go
  vendor/golang.org/x/tools/internal/typesinternal/types.go
  vendor/golang.org/x/tools/internal/typesinternal/zerovalue.go
  vendor/modules.txt
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <drop>: update builder image to golang 1.26
  build/pause/Dockerfile.Rhel
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-hack/images/installer-kube-apiserver-artifacts/Dockerfile.rhel
  openshift-hack/images/kube-proxy/Dockerfile.rhel
  openshift-hack/images/tests/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <drop>: update builder image to golang 1.25
  build/pause/Dockerfile.Rhel
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-hack/images/installer-kube-apiserver-artifacts/Dockerfile.rhel
  openshift-hack/images/kube-proxy/Dockerfile.rhel
  openshift-hack/images/tests/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <drop>: update builder image to golang 1.25
  .ci-operator.yaml
  build/pause/Dockerfile.Rhel
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-hack/images/installer-kube-apiserver-artifacts/Dockerfile.rhel
  openshift-hack/images/kube-proxy/Dockerfile.rhel
  openshift-hack/images/tests/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  openshift-hack/images/hyperkube/Dockerfile.rhel
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/cri-api/go.sum
  staging/src/k8s.io/cri-client/go.mod
  staging/src/k8s.io/externaljwt/go.mod
  staging/src/k8s.io/externaljwt/go.sum
  staging/src/k8s.io/kms/go.mod
  staging/src/k8s.io/kms/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kubelet/go.mod
  vendor/golang.org/x/crypto/ssh/channel.go
  vendor/golang.org/x/crypto/ssh/mux.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/server_wrap.go
  vendor/golang.org/x/net/http2/transport_wrap.go
  vendor/golang.org/x/tools/go/types/objectpath/objectpath.go
  vendor/golang.org/x/tools/internal/gcimporter/iimport.go
  vendor/golang.org/x/tools/internal/gcimporter/ureader.go
  vendor/golang.org/x/tools/internal/stdlib/deps.go
  vendor/golang.org/x/tools/internal/stdlib/manifest.go
  vendor/golang.org/x/tools/internal/typesinternal/element.go
  vendor/golang.org/x/tools/internal/typesinternal/types.go
  vendor/golang.org/x/tools/internal/typesinternal/zerovalue.go
  vendor/modules.txt
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <drop>: update builder image to golang 1.26
  .ci-operator.yaml
  build/pause/Dockerfile.Rhel
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-hack/images/installer-kube-apiserver-artifacts/Dockerfile.rhel
  openshift-hack/images/kube-proxy/Dockerfile.rhel
  openshift-hack/images/tests/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

USTREAM: 134950: Address review comments by using 2 pods instead of 3 pods and simlify the logic.
  test/e2e/node/pod_resize.go
Due: none

UPSTREAM: 141662: deflake pod resize deferred tests
  test/e2e/node/pod_resize.go
Due: none

UPSTREAM: 142106: e2e: check pod resized in WaitForPodResizeActuation
  test/e2e/common/node/framework/podresize/resize.go
  test/e2e/common/node/pod_level_resources_resize.go
  test/e2e/common/node/pod_resize.go
  test/e2e/node/pod_resize.go
Due: none

UPSTREAM: 134950: Resize pod to request for more cpu so it will remain in deffered state
  test/e2e/node/pod_resize.go
Due: none

UPSTREAM: <carry>: OCPBUGS-102156: http2: validate SETTINGS before applying them
  vendor/golang.org/x/net/http2/transport.go
Due: none

UPSTREAM: <carry>: Add NodeSelectorAdjuster admission plugin for HCP clusters
  openshift-kube-apiserver/admission/admissionenablement/register.go
  openshift-kube-apiserver/admission/scheduler/nodeselectoradjuster/admission.go
  openshift-kube-apiserver/admission/scheduler/nodeselectoradjuster/admission_test.go
Due: none

UPSTREAM: <carry>: Fix ClusterIsIPv6() detection for dual-stack v6-primary clusters
  openshift-hack/cmd/k8s-tests-ext/provider.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Use FROM scratch for RHEL pause image
  build/pause/Dockerfile.Rhel
Due: none

UPSTREAM: <carry>: skip SELinuxMountReadWriteOncePodOnly tests now that SELinuxMount is GA
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
  openshift-hack/cmd/k8s-tests-ext/environment_selectors.go
  openshift-hack/test-kubernetes-e2e.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: CNTRLPLANE-3652: add authentication trust TLS metadata
  pkg/controlplane/controller/clusterauthenticationtrust/cluster_authentication_trust_controller.go
  pkg/controlplane/controller/clusterauthenticationtrust/cluster_authentication_trust_controller_test.go
Due: none

UPSTREAM: <carry>: add explicit merge commit message to openshift-hack/rebase.sh
  openshift-hack/rebase.sh
Due: ci/prow/artifacts

UPSTREAM: 142168: Refuse UNC symlink targets in Windows subPath resolution
  pkg/volume/util/subpath/subpath_windows.go
  pkg/volume/util/subpath/subpath_windows_test.go
Due: ci/prow/artifacts

UPSTREAM: 142167: Refuse UNC symlink targets in Windows subPath resolution
  pkg/volume/util/subpath/subpath_windows.go
  pkg/volume/util/subpath/subpath_windows_test.go
Due: ci/prow/artifacts
