Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$

UPSTREAM: <carry>: allow TLS1.3 or modern profile to be specified
  openshift-kube-apiserver/admission/customresourcevalidation/apiserver/validate_apiserver.go
  openshift-kube-apiserver/admission/customresourcevalidation/apiserver/validate_apiserver_test.go
Due: none

UPSTREAM: <carry>: Add plugin for storage performant security policy
  openshift-kube-apiserver/admission/admissionenablement/register.go
  openshift-kube-apiserver/admission/storage/performantsecuritypolicy/admission.go
  openshift-kube-apiserver/admission/storage/performantsecuritypolicy/admission_test.go
  pkg/features/openshift_features.go
Due: none

UPSTREAM: 134442: Fix ResourceQuota test for CRDs with long names
  test/e2e/apimachinery/resource_quota.go
Due: none

UPSTREAM: <carry>: Skip CPU resource status for workload-pinned pods
  pkg/kubelet/kuberuntime/kuberuntime_container.go
  pkg/kubelet/managed/managed.go
  pkg/kubelet/managed/managed_test.go
Due: none

UPSTREAM: <carry>: unrevert: Mark admissionregistration.k8s.io/v1beta1 as deprecated."
  openshift-kube-apiserver/filters/apirequestcount/deprecated.go
Due: none

UPSTREAM: <carry>: remove RouteExternalCertificate feature gate
  openshift-kube-apiserver/admission/customresourcevalidation/route/validate_route.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/validate_route_test.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/validation_opts.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/validation_wrapper.go
  openshift-kube-apiserver/admission/route/hostassignment/admission.go
Due: none

UPSTREAM: <carry>: Add NodeSelectorAdjuster admission plugin for standalone clusters
  openshift-kube-apiserver/admission/admissionenablement/register.go
  openshift-kube-apiserver/admission/scheduler/nodeselectoradjuster/admission.go
  openshift-kube-apiserver/admission/scheduler/nodeselectoradjuster/admission_test.go
Due: none

UPSTREAM: <carry>: Store SELinuxWarningController upgrade check as a ConfigMap
  pkg/controller/volume/selinuxwarning/cache/openshift_patch.go
  pkg/controller/volume/selinuxwarning/openshift_upgrade_controller.go
  pkg/controller/volume/selinuxwarning/openshift_upgrade_controller_test.go
  pkg/controller/volume/selinuxwarning/selinux_warning_controller.go
  pkg/features/openshift_features.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/controller_policy.go
  plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/controller-roles.yaml
Due: none

UPSTREAM: <carry>: disable DRA extended resource test that requires dedicated DRA infrastructure
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Export email validation functions
  staging/src/k8s.io/apiserver/pkg/apis/apiserver/validation/validation_patch.go
Due: none

UPSTREAM: <carry>: react to test framework changes in v1.37
  openshift-hack/cmd/k8s-tests-ext/provider.go
  openshift-hack/e2e/include.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Re-enable kubectl kuberc commands e2e tests
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: management node functions need to carry a logger now
  pkg/kubelet/kubelet_node_status.go
Due: none

UPSTREAM: <carry>: replace authorizer.Authorizer with union.NamedAuthorizer
  pkg/kubeapiserver/authorizer/reload.go
Due: none

UPSTREAM: <carry>: authorizer.Authorizer now requires ConditionsAwareAuthorize and EvaluateConditions and related changes
  openshift-kube-apiserver/admission/network/restrictedendpoints/endpoint_admission.go
  openshift-kube-apiserver/authorization/browsersafe/authorizer.go
  openshift-kube-apiserver/authorization/browsersafe/authorizer_test.go
  openshift-kube-apiserver/authorization/minimumkubeletversion/minimum_kubelet_version.go
  openshift-kube-apiserver/authorization/scopeauthorizer/authorizer.go
  staging/src/k8s.io/apiserver/pkg/server/options/authorization.go
Due: none

UPSTREAM: <carry>: remove unused noopoteltrace
  pkg/controlplane/apiserver/config.go
Due: none

UPSTREAM: <carry>: fix testdriver interface change
  test/e2e/storage/drivers/openshift_group_snapshot_driver.go
Due: none

UPSTREAM: <carry>: SetAuthorizer -> SetUnconditionalAuthorizer
  cmd/kubelet/app/patch_auth.go
  openshift-kube-apiserver/openshiftkubeapiserver/patch.go
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh
  go.work.sum
Due: none

UPSTREAM: <carry>: more places where authorizer tests need ConditionsAwareAuthorize and EvaluateConditions
  openshift-kube-apiserver/admission/network/externalipranger/externalip_admission_test.go
  openshift-kube-apiserver/admission/route/ingress_admission_test.go
  openshift-kube-apiserver/admission/scheduler/podnodeconstraints/admission_test.go
  pkg/registry/authorization/selfsubjectaccessreview/rest_test.go
Due: none

UPSTREAM: <carry>: test - instrumentation directory has a new vendor dir that needs excluding now
  hack/verify-pkg-names.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: test - temporarily remove cluster trust bundle from conformance
  test/conformance/testdata/conformance.yaml
  test/e2e/auth/projected_clustertrustbundle.go
Due: none

UPSTREAM: <carry>: hack/update-metrics-documentation-list.sh
  hack/tools/instrumentation/documentation/documentation-list.yaml
Due: ci/prow/artifacts

UPSTREAM: <carry>: Update secret validation patch test for declarative validation
  pkg/apis/core/validation/validation_patch_test.go
Due: none

UPSTREAM: <carry>: test - temporarily remove projected podcertificate from conformance
  test/conformance/testdata/conformance.yaml
  test/e2e/auth/projected_podcertificate.go
Due: none

UPSTREAM: <carry>: test - disable new invariant checks in secret type mutation
  test/integration/apiserver/openshift_secret_updates_type_mutation_test.go
Due: none

UPSTREAM: <carry>: Fix selfsubjectaccessreview test for declarative validation
  pkg/registry/authorization/selfsubjectaccessreview/rest_test.go
Due: none

UPSTREAM: <carry>: lower delay to 10s
  pkg/controlplane/apiserver/aggregator.go
Due: none

UPSTREAM: 141089: nodelifecycle: mark pods NotReady on False to Unknown
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
  pkg/controller/nodelifecycle/node_lifecycle_controller_test.go
Due: none

UPSTREAM: <carry>: nodelifecycle: populate nodeHealthMap before pod workers
  pkg/controller/nodelifecycle/node_lifecycle_controller.go
  pkg/controller/nodelifecycle/node_lifecycle_controller_test.go
Due: none

UPSTREAM: <carry>: bump the graceful termination timeout to 240s to accomodate longer load balancer settling times observed
  cmd/watch-termination/main.go
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  go.sum
  go.work.sum
  openshift-hack/images/hyperkube/Dockerfile.rhel
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apimachinery/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/examples/go.sum
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/cri-api/go.mod
  staging/src/k8s.io/cri-api/go.sum
  staging/src/k8s.io/cri-client/go.sum
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/dynamic-resource-allocation/go.sum
  staging/src/k8s.io/endpointslice/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-controller-manager/go.sum
  staging/src/k8s.io/kube-proxy/go.sum
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubectl/go.sum
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/metrics/go.sum
  staging/src/k8s.io/mount-utils/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  staging/src/k8s.io/sample-cli-plugin/go.sum
  staging/src/k8s.io/sample-controller/go.sum
  vendor/modules.txt
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <drop>: update builder image to golang 1.26
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

OCPBUGS-109667: UPSTREAM: <drop>: add cluster repro for SMTAlignmentError StatusUnknown
  openshift-hack/repro/OCPBUGS-109667/smt-odd-cpu-deployment.yaml
Due: ci/prow/artifacts

OCPBUGS-109667: UPSTREAM: <carry>: kubelet: keep admission-rejected pods from StatusUnknown
  pkg/kubelet/status/status_manager.go
  pkg/kubelet/status/status_manager_test.go
Due: none
