Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$

UPSTREAM: <carry>: NewQuotaConfigurationForAdmission now requires a SharedInformerFactory
  openshift-kube-apiserver/openshiftkubeapiserver/patch.go
Due: none

UPSTREAM: <carry>: Update builder image
  .ci-operator.yaml
  build/pause/Dockerfile.Rhel
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-hack/images/installer-kube-apiserver-artifacts/Dockerfile.rhel
  openshift-hack/images/kube-proxy/Dockerfile.rhel
  openshift-hack/images/tests/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: ValidateTolerations function now takes a PodValidationOptions argument
  openshift-kube-apiserver/admission/customresourcevalidation/dns/validate_dns.go
Due: none

UPSTREAM: <drop>: hack/update-vendor.sh
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/cli-runtime/go.mod
  staging/src/k8s.io/cli-runtime/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/cloud-provider/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/controller-manager/go.mod
  staging/src/k8s.io/cri-client/go.mod
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/dynamic-resource-allocation/go.mod
  staging/src/k8s.io/endpointslice/go.mod
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-controller-manager/go.mod
  staging/src/k8s.io/kube-proxy/go.mod
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kubectl/go.mod
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/metrics/go.mod
  staging/src/k8s.io/sample-apiserver/go.mod
  staging/src/k8s.io/sample-cli-plugin/go.mod
  staging/src/k8s.io/sample-controller/go.mod
  vendor/modules.txt
Due: none

UPSTREAM: <drop>: make update
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/clusterresourceoverride/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/autoscaling/apis/runonceduration/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/customresourcevalidation/route/zz_generated.defaults.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/externalipranger/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/network/apis/restrictedendpoints/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/hostassignment/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/route/apis/ingressadmission/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.conversion.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/v1/zz_generated.deepcopy.go
  openshift-kube-apiserver/admission/scheduler/apis/podnodeconstraints/zz_generated.deepcopy.go
Due: none

OCPBUGS-61515: UPSTREAM: 135372: Re-enable temporarily disabled SchedulerPreemption test (#2524)
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
  test/e2e/scheduling/preemption.go
Due: ci/prow/artifacts

UPSTREAM: 135372: fix(SchedulerPreemption/Async): schedule all medium priority pods first so all low priority pods can be preempted
  test/e2e/scheduling/preemption.go
Due: none

UPSTREAM: 135372: fix(SchedulerPreemption/Async): schedule all medium priority pods first so all low priority pods can be preempted
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts

kubelet: don't use non-admitted pods in calculation used allocation
  pkg/kubelet/allocation/allocation_manager.go
Due: none

UPSTREAM: <carry>: Run all tests including vendored ones in k8s-tests-ext
  openshift-hack/cmd/k8s-tests-ext/k8s-tests.go
Due: ci/prow/artifacts

WIP: spoof vendor of https://github.com/coreos/go-systemd/pull/496
  go.mod
  go.work.sum
  vendor/OWNERS
  vendor/github.com/coreos/go-systemd/v22/daemon/sdnotify_other.go
  vendor/github.com/coreos/go-systemd/v22/daemon/sdnotify_unix.go
  vendor/github.com/coreos/go-systemd/v22/daemon/watchdog.go
  vendor/github.com/coreos/go-systemd/v22/dbus/dbus.go
  vendor/github.com/coreos/go-systemd/v22/dbus/methods.go
  vendor/github.com/coreos/go-systemd/v22/dbus/set.go
  vendor/github.com/coreos/go-systemd/v22/dbus/subscription.go
  vendor/github.com/coreos/go-systemd/v22/dbus/subscription_set.go
  vendor/github.com/coreos/go-systemd/v22/internal/dlopen/dlopen.go
  vendor/github.com/coreos/go-systemd/v22/internal/dlopen/dlopen_example.go
  vendor/github.com/coreos/go-systemd/v22/journal/journal.go
  vendor/github.com/coreos/go-systemd/v22/journal/journal_unix.go
  vendor/github.com/coreos/go-systemd/v22/util/util.go
  vendor/github.com/coreos/go-systemd/v22/util/util_cgo.go
  vendor/modules.txt
Due: none

test some improvements
  vendor/github.com/coreos/go-systemd/v22/dbus/methods.go
Due: none

[release-4.21] OCPBUGS-72378: UPSTREAM: 135372: Re-enable temporarily disabled SchedulerPreemption test (#2556)
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
  test/e2e/scheduling/preemption.go
Due: ci/prow/artifacts

UPSTREAM: <drop>: exclude failing tests
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: change iperf2 test case from parallel into serial
  openshift-hack/cmd/k8s-tests-ext/labels.go
Due: ci/prow/artifacts

UPSTREAM: 135340: cbor: bump limits
  staging/src/k8s.io/apimachinery/pkg/runtime/serializer/cbor/internal/modes/decode.go
Due: none

UPSTREAM: <carry>: Added validation to check if OKD featureset is being enabled on OKD clusters
  build/root/Makefile
  openshift-hack/images/hyperkube/Dockerfile.rhel
  openshift-kube-apiserver/admission/customresourcevalidation/features/scos.go
  openshift-kube-apiserver/admission/customresourcevalidation/features/validate_features.go
  openshift-kube-apiserver/admission/customresourcevalidation/features/version.go
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <carry>: Disable mutable CSINode allocatable tests for now
  openshift-hack/test-kubernetes-e2e.sh
Due: ci/prow/artifacts

UPSTREAM: <carry>: Skip e2e test: attach on previously attached volumes should work
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Update deprecation warning to indicate that removal timelines may change
  staging/src/k8s.io/apiserver/pkg/endpoints/deprecation/deprecation.go
  staging/src/k8s.io/apiserver/pkg/endpoints/deprecation/deprecation_test.go
Due: none

UPSTREAM: <carry>: Rename HPA test label filter
  openshift-hack/cmd/k8s-tests-ext/k8s-tests.go
  openshift-hack/cmd/k8s-tests-ext/labels.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: Bump github.com/sirupsen/logrus to v1.9.3
  go.mod
  go.sum
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/client-go/go.mod
  staging/src/k8s.io/client-go/go.sum
  staging/src/k8s.io/cloud-provider/go.sum
  staging/src/k8s.io/cluster-bootstrap/go.mod
  staging/src/k8s.io/cluster-bootstrap/go.sum
  staging/src/k8s.io/code-generator/go.mod
  staging/src/k8s.io/code-generator/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/controller-manager/go.sum
  staging/src/k8s.io/csi-translation-lib/go.mod
  staging/src/k8s.io/csi-translation-lib/go.sum
  staging/src/k8s.io/dynamic-resource-allocation/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  staging/src/k8s.io/kube-scheduler/go.mod
  staging/src/k8s.io/kube-scheduler/go.sum
  staging/src/k8s.io/kubelet/go.mod
  staging/src/k8s.io/kubelet/go.sum
  staging/src/k8s.io/pod-security-admission/go.sum
  staging/src/k8s.io/sample-apiserver/go.sum
  vendor/github.com/sirupsen/logrus/README.md
  vendor/github.com/sirupsen/logrus/writer.go
  vendor/modules.txt
Due: none

UPSTREAM: <carry>: Remove some unnecessary sig-network test skips
  openshift-hack/cmd/k8s-tests-ext/disabled_tests.go
Due: ci/prow/artifacts

kubelet: Fix race condition when pods are rejected
  pkg/kubelet/kubelet_pods.go
Due: none

Fix filterOutInactivePods for evicted pods
  pkg/kubelet/kubelet_pods.go
Due: none

Add unit tests for new FilterOutInactivePods logic
  pkg/kubelet/kubelet_test.go
Due: none

UPSTREAM: <carry>: Remove StoragePerformantSecurityPolicy featuregate
  openshift-kube-apiserver/admission/storage/performantsecuritypolicy/admission.go
  openshift-kube-apiserver/admission/storage/performantsecuritypolicy/admission_test.go
  pkg/features/openshift_features.go
Due: none

UPSTREAM: 74956: apiserver: switch authorization to use protobuf client
  staging/src/k8s.io/apiserver/pkg/server/options/authorization.go
Due: none

UPSTREAM: 93286: wait for apiservices on startup
  staging/src/k8s.io/kube-aggregator/pkg/apiserver/apiserver.go
Due: none
