Repository openshift/kubernetes: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Path conditions:
  ci/prow/artifacts: any of: ^(hack/)|^(openshift-hack/)|(Makefile)|(.*_(windows|linux|darwin|unsupported)(_test)?\.go)$
  ci/prow/e2e-aws-selfupgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-aws-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$
  ci/prow/e2e-azure-upgrade: any of: ^(openshift-hack/images/hyperkube/.*|)$

UPSTREAM: <carry>: Disable VolumeGroupSnapshot tests
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
Due: ci/prow/artifacts

UPSTREAM: 128972: Add crd from external snapshotter
  test/e2e/storage/framework/volume_group_snapshot_resource.go
  test/e2e/storage/testsuites/volume_group_snapshottable.go
  test/e2e/storage/utils/volume_group_snapshot.go
  test/e2e/testing-manifests/storage-csi/external-snapshotter/groupsnapshot.storage.k8s.io_volumegroupsnapshotclasses.yaml
  test/e2e/testing-manifests/storage-csi/external-snapshotter/groupsnapshot.storage.k8s.io_volumegroupsnapshotcontents.yaml
  test/e2e/testing-manifests/storage-csi/external-snapshotter/groupsnapshot.storage.k8s.io_volumegroupsnapshots.yaml
  test/e2e/testing-manifests/storage-csi/external-snapshotter/volume-group-snapshots/csi-hostpath-plugin.yaml
  test/e2e/testing-manifests/storage-csi/external-snapshotter/volume-group-snapshots/run_group_snapshot_e2e.sh
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml
Due: none

Revert "UPSTREAM: <drop>: disable ResilientWatchCacheInitialization feature"
  pkg/features/versioned_kube_features.go
  staging/src/k8s.io/apiserver/pkg/features/kube_features.go
  test/featuregates_linter/test_data/versioned_feature_list.yaml
Due: none

UPSTREAM: 129618: Bump CSI sidecars to fix resizing tests
  test/e2e/storage/csimock/csi_volume_expansion.go
  test/e2e/testing-manifests/storage-csi/gce-pd/controller_ss.yaml
  test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-attacher.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-resizer.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-snapshotter.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver.yaml
  test/e2e/testing-manifests/storage-csi/mock/csi-mock-proxy.yaml
Due: none

UPSTREAM: <drop>: manually resolve conflicts
  pkg/kubelet/kubelet_server_journal_linux.go
  pkg/kubelet/kubelet_server_journal_windows.go
  pkg/volume/util/atomic_writer.go
Due: ci/prow/artifacts

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

Fix for Test_getLoggingCmd test
  pkg/kubelet/kubelet_server_journal_linux.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: kubelet/cm: fix bug where kubelet restarts from missing cpuset cgroup
  pkg/kubelet/cm/cgroup_manager_linux.go
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/node_container_manager_linux.go
  pkg/kubelet/cm/types.go
Due: ci/prow/artifacts

UPSTREAM: 125923: e2e_node: add a test to verify the kubelet starts
  test/e2e_node/node_container_manager_test.go
Due: none

UPSTREAM: <carry>: kubelet/cm: move CPU reading from cm to cm/cpumanager
  pkg/kubelet/cm/container_manager_linux.go
  pkg/kubelet/cm/cpumanager/cpu_manager.go
  pkg/kubelet/cm/cpumanager/cpu_manager_test.go
  pkg/kubelet/cm/cpumanager/fake_cpu_manager.go
  pkg/kubelet/cm/node_container_manager_linux.go
Due: ci/prow/artifacts

UPSTREAM: <carry>: e2e_node: use restart instead of start stop
  test/e2e_node/node_container_manager_test.go
Due: none

UPSTREAM: 129180: prevent unnecessary resolving of iscsi/fc devices to dm
  pkg/volume/util/device_util_linux.go
  pkg/volume/util/device_util_linux_test.go
Due: ci/prow/artifacts

test
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/e2e/annotate/rules.go
  test/e2e/node/pod_admission.go
Due: ci/prow/artifacts

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  openshift-hack/e2e/annotate/generated/zz_generated.annotations.go
  openshift-hack/images/hyperkube/Dockerfile.rhel
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <drop>: manually resolve conflicts
  pkg/kubelet/kubelet_server_journal_linux.go
  pkg/kubelet/kubelet_server_journal_test.go
  pkg/kubelet/kubelet_server_journal_windows.go
  pkg/volume/util/atomic_writer.go
Due: ci/prow/artifacts

wip: require static pod node statuses to begin with revision unset
  openshift-kube-apiserver/admission/customresourcevalidation/customresourcevalidationregistration/cr_validation_registration.go
  openshift-kube-apiserver/admission/customresourcevalidation/staticpodoperator/validate_static_pod_operator.go
Due: none

UPSTREAM: 130137: authentication: show more details when cert verification fails
  staging/src/k8s.io/apiserver/pkg/authentication/request/x509/x509.go
  staging/src/k8s.io/apiserver/pkg/authentication/request/x509/x509_test.go
Due: none

UPSTREAM: <carry>: update vendor to use new apiserver/node package
  vendor/github.com/openshift/library-go/pkg/apiserver/node/minimum_kubelet_version.go
  vendor/modules.txt
Due: none

UPSTREAM: <carry>: admission: validate minimumKubeletVersion
  openshift-kube-apiserver/admission/customresourcevalidation/node/validate_node_config.go
  openshift-kube-apiserver/admission/customresourcevalidation/node/validate_node_config_test.go
Due: none

UPSTREAM: <carry>: crdvalidation: move latency profile file to be agnostic of field
  openshift-kube-apiserver/admission/customresourcevalidation/node/validate_node_config.go
  openshift-kube-apiserver/admission/customresourcevalidation/node/validate_node_config_test.go
Due: none

UPSTREAM: <carry>: cherry-pick https://github.com/openshift/google-cadvisor/pull/29/ to fix OCPBUGS-48834
  go.mod
  go.sum
  staging/src/k8s.io/api/go.mod
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.mod
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.mod
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/component-base/go.mod
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.mod
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/kube-aggregator/go.mod
  staging/src/k8s.io/kube-aggregator/go.sum
  vendor/github.com/google/cadvisor/fs/fs.go
  vendor/modules.txt
Due: none

UPSTREAM: <carry>: update min kubelet version admission for comments
  openshift-kube-apiserver/admission/customresourcevalidation/node/validate_node_config.go
  openshift-kube-apiserver/admission/customresourcevalidation/node/validate_node_config_test.go
Due: none

UPSTREAM: <drop>: manually resolve conflicts
  go.sum
  hack/verify-govulncheck.sh
  vendor/modules.txt
Due: ci/prow/artifacts

UPSTREAM: <drop>: hack/update-vendor.sh, make update and update image
  go.sum
  openshift-hack/images/hyperkube/Dockerfile.rhel
  vendor/modules.txt
Due: ci/prow/artifacts, ci/prow/e2e-aws-selfupgrade, ci/prow/e2e-aws-upgrade, ci/prow/e2e-azure-upgrade

UPSTREAM: <drop>: manually resolve conflicts
  hack/verify-govulncheck.sh
  pkg/kubelet/kubelet_server_journal_linux.go
  pkg/kubelet/kubelet_server_journal_test.go
  pkg/kubelet/kubelet_server_journal_windows.go
  pkg/volume/util/atomic_writer.go
Due: ci/prow/artifacts

UPSTREAM: <drop>: ./hack/update-vendor.sh for openshift-tests-extension
  go.mod
  go.sum
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/extension/extension.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/extension/extensiontests/environment.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/extension/extensiontests/spec.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/extension/extensiontests/types.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/extension/types.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/ginkgo/util.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/util/sets/LICENSE
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/util/sets/README.md
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/util/sets/byte.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/util/sets/doc.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/util/sets/empty.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/util/sets/int.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/util/sets/int32.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/util/sets/int64.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/util/sets/set.go
  vendor/github.com/openshift-eng/openshift-tests-extension/pkg/util/sets/string.go
  vendor/modules.txt
Due: none

Propagate error when creating CustomResourceStorage instead of panicking
  staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/etcd.go
  staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/etcd_test.go
Due: none

WIP: backport SELinux changes to 4.19
  pkg/controller/volume/selinuxwarning/cache/volumecache.go
  pkg/controller/volume/selinuxwarning/cache/volumecache_test.go
  pkg/controller/volume/selinuxwarning/selinux_warning_controller.go
  pkg/controller/volume/selinuxwarning/selinux_warning_controller_test.go
  pkg/controller/volume/selinuxwarning/translator/selinux_translator.go
  pkg/controller/volume/selinuxwarning/translator/selinux_translator_test.go
  test/e2e/storage/csimock/base.go
  test/e2e/storage/csimock/csi_selinux_mount.go
Due: none

UPSTREAM: <carry>: bump apiserver-library-go to consume user namespaces SCC change
  go.mod
  go.sum
  go.work.sum
  staging/src/k8s.io/api/go.sum
  staging/src/k8s.io/apiextensions-apiserver/go.sum
  staging/src/k8s.io/apiserver/go.sum
  staging/src/k8s.io/component-base/go.sum
  staging/src/k8s.io/component-helpers/go.sum
  staging/src/k8s.io/kube-aggregator/go.sum
  vendor/github.com/openshift/apiserver-library-go/pkg/securitycontextconstraints/sccmatching/provider.go
  vendor/modules.txt
Due: none

OCPBUGS-52169: <carry>: Workload partitioning of static init containers
  pkg/kubelet/managed/managed.go
  pkg/kubelet/managed/managed_test.go
Due: none

UPSTREAM: 129657: storage/cacher/ready: dynamically calculate the retryAfterSeconds
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/cacher_whitebox_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/ready.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/ready_test.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/util.go
  staging/src/k8s.io/apiserver/pkg/storage/cacher/util_test.go
Due: none

HACK: log test OS
  test/e2e/storage/csimock/csi_selinux_mount.go
Due: none
