Repository openshift/microshift: changes, and which Prow jobs are due for each by the changed paths.
All: test-rpm, test-rebase, microshift-metal-tests, microshift-metal-cache, microshift-metal-cache-arm, metal-periodic-test, ci/prow/e2e-aws-ai-model-serving, ci/prow/e2e-aws-footprint-and-performance, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-bootc-release, ci/prow/e2e-aws-tests-bootc-release-arm, ci/prow/e2e-aws-tests-bootc-upstream, ci/prow/e2e-aws-tests-bootc-upstream-arm, ci/prow/e2e-aws-tests-cache, ci/prow/e2e-aws-tests-cache-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm, ci/prow/e2e-aws-tests-release, ci/prow/e2e-aws-tests-release-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase, ci/prow/test-rpm

test-rpm:
  cluster: build02
  commands: RPM_INFO=true make rpm srpm
  container:
    from: microshift-test-rpm

test-rebase:
  cluster: build02
  optional: true
  steps:
    env:
      DRY_RUN: y
    workflow: openshift-microshift-rebase

microshift-metal-tests:
  cluster: build02
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-02b8534ff4b424939
      EC2_INSTANCE_TYPE: c5n.metal
    workflow: openshift-microshift-e2e-metal-tests

microshift-metal-cache:
  cluster: build02
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-02b8534ff4b424939
    workflow: openshift-microshift-e2e-metal-cache

microshift-metal-cache-arm:
  cluster: build02
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-08c7e766098f8cb4f
      EC2_INSTANCE_TYPE: t4g.2xlarge
    workflow: openshift-microshift-e2e-metal-cache

metal-periodic-test:
  cluster: build02
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-02b8534ff4b424939
      EC2_INSTANCE_TYPE: c5n.metal
    workflow: openshift-microshift-e2e-metal-tests

ci/prow/e2e-aws-ai-model-serving:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-2
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-aws-footprint-and-performance:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-aws-tests:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-aws-tests-arm:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-2
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-aws-tests-bootc:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-aws-tests-bootc-arm:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-2
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

regenerate config
  cmd/generate-config/config/config-openapi-spec.json
  packaging/microshift/config.yaml
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rpm

add prerun logic
  pkg/admin/prerun/featuregate_lock.go
  pkg/admin/prerun/featuregate_lock_test.go
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus

update etcd vendor
  etcd/vendor/github.com/openshift/microshift/pkg/config/apiserver.go
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus

refactor upgradeCheckPass, update config
  cmd/generate-config/config/config-openapi-spec.json
  docs/user/howto_config.md
  packaging/microshift/config.yaml
  pkg/admin/prerun/featuregate_lock.go
  pkg/config/apiserver.go
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rpm

blocking logic fix
  pkg/admin/prerun/featuregate_lock.go
  pkg/config/apiserver.go
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus

add feature exemption lists
  pkg/admin/prerun/featuregate_lock.go
  pkg/admin/prerun/featuregate_lock_test.go
  pkg/config/apiserver.go
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus

add unit tests for special handling upgrade exceptions
  pkg/admin/prerun/featuregate_lock_test.go
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus

Extend greenboot timeout for optional images
  test/scenarios-bootc/presubmits/el96-src@ai-model-serving-online.sh
  test/scenarios-bootc/presubmits/el96-src@optional.sh
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

Update layer1-base images
  test/image-blueprints-bootc/layer1-base/group2/rhel98-bootc-crel-isolated.containerfile
  test/image-blueprints-bootc/layer1-base/group2/rhel98-bootc-crel-optionals.containerfile
  test/image-blueprints-bootc/layer1-base/group2/rhel98-bootc-crel.containerfile
  test/image-blueprints-bootc/layer1-base/group2/rhel98-bootc.image-bootc
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

Update layer2-presubmit images
  test/image-blueprints-bootc/layer2-presubmit/group1/rhel98-bootc-source-base.containerfile
  test/image-blueprints-bootc/layer2-presubmit/group1/rhel98-bootc-source.containerfile
  test/image-blueprints-bootc/layer2-presubmit/group2/rhel98-bootc-source-aux.containerfile
  test/image-blueprints-bootc/layer2-presubmit/group2/rhel98-bootc-source-fake-next-minor.containerfile
  test/image-blueprints-bootc/layer2-presubmit/group2/rhel98-bootc-source-fips.containerfile
  test/image-blueprints-bootc/layer2-presubmit/group2/rhel98-bootc-source-optionals.containerfile
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

Update layer3-periodic images
  test/image-blueprints-bootc/layer3-periodic/group1/rhel98-bootc-source-ai-model-serving.containerfile
  test/image-blueprints-bootc/layer3-periodic/group1/rhel98-bootc-source-isolated.containerfile
  test/image-blueprints-bootc/layer3-periodic/group2/rhel96-bootc-source-isolated.image-bootc
  test/image-blueprints-bootc/layer3-periodic/group2/rhel98-bootc-source-ai-model-serving.image-bootc
  test/image-blueprints-bootc/layer3-periodic/group2/rhel98-bootc-source-gitops.containerfile
  test/image-blueprints-bootc/layer3-periodic/group2/rhel98-bootc-source-isolated.image-bootc
Due: microshift-metal-tests, metal-periodic-test, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

Update presubmit scenarios
  test/Makefile
  test/scenarios-bootc/presubmits/el96-base@src@opt@delta-upgrade-ok.sh
  test/scenarios-bootc/presubmits/el96-prel@el98-src@upgrade-ok.sh
  test/scenarios-bootc/presubmits/el98-base@el98-src@upgrade-ok.sh
  test/scenarios-bootc/presubmits/el98-base@src@opt@delta-upgrade-ok.sh
  test/scenarios-bootc/presubmits/el98-src@ai-model-serving-online.sh
  test/scenarios-bootc/presubmits/el98-src@auto-recovery.sh
  test/scenarios-bootc/presubmits/el98-src@backup-and-restore-on-reboot.sh
  test/scenarios-bootc/presubmits/el98-src@backups.sh
  test/scenarios-bootc/presubmits/el98-src@configuration.sh
  test/scenarios-bootc/presubmits/el98-src@downgrade-block.sh
  test/scenarios-bootc/presubmits/el98-src@dual-stack.sh
  test/scenarios-bootc/presubmits/el98-src@el100-src@upgrade-ok.sh
  test/scenarios-bootc/presubmits/el98-src@ipv6.sh
  test/scenarios-bootc/presubmits/el98-src@multi-nic.sh
  test/scenarios-bootc/presubmits/el98-src@optional.sh
  test/scenarios-bootc/presubmits/el98-src@router.sh
  test/scenarios-bootc/presubmits/el98-src@standard-suite1.sh
  test/scenarios-bootc/presubmits/el98-src@standard-suite2.sh
  test/scenarios-bootc/presubmits/el98-src@storage.sh
  test/scenarios-bootc/presubmits/el98-src@upgrade-fails-then-recovers.sh
  test/scenarios-bootc/presubmits/el98-src@upgrade-fails.sh
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

update last_rebase.sh
  scripts/auto-rebase/last_rebase.sh
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rebase

update changelog
  scripts/auto-rebase/changelog.txt
  scripts/auto-rebase/commits.txt
Due: test-rebase, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rebase

update component images
  packaging/crio.conf.d/10-microshift_amd64.conf
  packaging/crio.conf.d/10-microshift_arm64.conf
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rpm

update manifests
  assets/optional/multus/kustomization.aarch64.yaml
  assets/optional/multus/kustomization.x86_64.yaml
  assets/optional/multus/release-multus-aarch64.json
  assets/optional/multus/release-multus-x86_64.json
  assets/optional/operator-lifecycle-manager/kustomization.aarch64.yaml
  assets/optional/operator-lifecycle-manager/kustomization.x86_64.yaml
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

update buildfiles
  Makefile.version.aarch64.var
  Makefile.version.x86_64.var
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

update microshift/deps
  deps/github.com/openshift/kubernetes/staging/src/k8s.io/apiserver/pkg/cel/library/cidr.go
  deps/github.com/openshift/kubernetes/staging/src/k8s.io/apiserver/pkg/cel/library/cidr_test.go
Due: ci/prow/test-rebase

update microshift/vendor
  vendor/k8s.io/apiserver/pkg/cel/library/cidr.go
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

update buildfiles
  Makefile.kube_git.var
  Makefile.version.aarch64.var
  Makefile.version.x86_64.var
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

update manifests
  assets/components/multus/kustomization.aarch64.yaml
  assets/components/multus/kustomization.x86_64.yaml
  assets/components/multus/release-multus-aarch64.json
  assets/components/multus/release-multus-x86_64.json
  assets/optional/operator-lifecycle-manager/kustomization.aarch64.yaml
  assets/optional/operator-lifecycle-manager/kustomization.x86_64.yaml
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

Update AI Model Serving for MicroShift
  assets/optional/ai-model-serving/kserve/inferenceservice-config-microshift-patch.yaml
  assets/optional/ai-model-serving/kserve/overlays/odh/kustomization.yaml
  assets/optional/ai-model-serving/kserve/overlays/odh/params.env
  assets/optional/ai-model-serving/kserve/overlays/odh/patches/patch-inferenceservice-config.yaml
  assets/optional/ai-model-serving/release-ai-model-serving-x86_64.json
  assets/optional/ai-model-serving/runtimes/vllm-gaudi.yaml
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

update microshift/deps
  deps/github.com/openshift/kubernetes/pkg/volume/csi/csi_plugin.go
Due: ci/prow/test-rebase

update microshift/vendor
  vendor/k8s.io/kubernetes/pkg/volume/csi/csi_plugin.go
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

update manifests
  assets/components/multus/kustomization.aarch64.yaml
  assets/components/multus/release-multus-aarch64.json
  assets/components/multus/release-multus-x86_64.json
  assets/controllers/openshift-default-scc-manager/0000_20_kube-apiserver-operator_00_scc-anyuid.yaml
  assets/controllers/openshift-default-scc-manager/0000_20_kube-apiserver-operator_00_scc-hostaccess.yaml
  assets/controllers/openshift-default-scc-manager/0000_20_kube-apiserver-operator_00_scc-hostmount-anyuid.yaml
  assets/controllers/openshift-default-scc-manager/0000_20_kube-apiserver-operator_00_scc-hostnetwork-v2.yaml
  assets/controllers/openshift-default-scc-manager/0000_20_kube-apiserver-operator_00_scc-hostnetwork.yaml
  assets/controllers/openshift-default-scc-manager/0000_20_kube-apiserver-operator_00_scc-nonroot-v2.yaml
  assets/controllers/openshift-default-scc-manager/0000_20_kube-apiserver-operator_00_scc-nonroot.yaml
  assets/controllers/openshift-default-scc-manager/0000_20_kube-apiserver-operator_00_scc-restricted-v2.yaml
  assets/controllers/openshift-default-scc-manager/0000_20_kube-apiserver-operator_00_scc-restricted-v3.yaml
  assets/controllers/openshift-default-scc-manager/0000_20_kube-apiserver-operator_00_scc-restricted.yaml
  assets/optional/operator-lifecycle-manager/kustomization.aarch64.yaml
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

Path conditions:
  test-rpm: any of: ^(rpm/*|packaging/.*|Makefile)
  test-rebase: any of: ^(assets/.*|scripts/auto-rebase/.*|go\.mod)
  microshift-metal-tests: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh|.*\.ks\.template)
  microshift-metal-cache: any of: ^test\/bin\/(ci_phase_iso_build|manage_build_cache)\.sh$
  microshift-metal-cache-arm: any of: ^(test/bin/ci_phase_iso_build.sh|test/bin/manage_build_cache.sh)
  metal-periodic-test: any of: (.*periodic.*|^test/bin/.*)
  ci/prow/e2e-aws-ai-model-serving: any of: ^(scripts/ci-ai-model-serving/.*)$
  ci/prow/e2e-aws-footprint-and-performance: any of: ^(scripts/ci-footprint-and-performance/.*)$
  ci/prow/e2e-aws-tests: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-arm: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-bootc: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-bootc-arm: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-bootc-periodic: any of: ^(test/bin/.*|test/scenarios-bootc/periodics/.*)$
  ci/prow/e2e-aws-tests-bootc-periodic-arm: any of: ^(test/bin/.*|test/scenarios-bootc/periodics/.*)$
  ci/prow/e2e-aws-tests-bootc-release: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/e2e-aws-tests-bootc-release-arm: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/e2e-aws-tests-bootc-upstream: any of: ^(test/scenarios-bootc/upstream/.*)$
  ci/prow/e2e-aws-tests-bootc-upstream-arm: any of: ^(test/scenarios-bootc/upstream/.*)$
  ci/prow/e2e-aws-tests-cache: any of: ^test\/bin\/(ci_phase_iso_build|manage_build_cache)\.sh$
  ci/prow/e2e-aws-tests-cache-arm: any of: ^test\/bin\/(ci_phase_iso_build|manage_build_cache)\.sh$
  ci/prow/e2e-aws-tests-periodic: any of: ^(test/bin/.*|test/scenarios-periodics/.*|test/scenarios/periodics/.*)$
  ci/prow/e2e-aws-tests-periodic-arm: any of: ^(test/bin/.*|test/scenarios-periodics/.*|test/scenarios/periodics/.*)$
  ci/prow/e2e-aws-tests-release: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/e2e-aws-tests-release-arm: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/ocp-full-conformance-rhel-eus: any of: ^(origin/.*|assets/.*|etcd/.*|pkg/.*|vendor/.*)$
  ci/prow/ocp-full-conformance-serial-rhel-eus: any of: ^(origin/.*|assets/.*|etcd/.*|pkg/.*|vendor/.*)$
  ci/prow/test-rebase: any of: ^(assets/.*|scripts/auto-rebase/.*|go\.mod|vendor/.*|deps/.*)$
  ci/prow/test-rpm: any of: ^(rpm/.*|packaging/.*|Makefile)$
