Repository openshift/microshift: changes, and which Prow jobs are due for each by the changed paths.
All: test-srpm, e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

test-srpm:
  commands: make srpm
  container:
    from: src

e2e-rpm-install:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-rpm-install

e2e-openshift-conformance-sig-api-machinery:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-api-machinery

e2e-openshift-conformance-sig-apps:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-apps

e2e-openshift-conformance-sig-arch:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-arch

e2e-openshift-conformance-sig-auth:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-auth

e2e-openshift-conformance-sig-cli:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-cli

e2e-openshift-conformance-sig-instrumentation:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-instrumentation

e2e-openshift-conformance-sig-network:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-network

e2e-openshift-conformance-sig-node:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-node

e2e-openshift-conformance-sig-scheduling:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-scheduling

e2e-openshift-conformance-sig-storage:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-storage

e2e-reboot:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-reboot-tests

fail in case of a clean init
  pkg/cmd/run.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

init: generate the kubelet serving cert by the csr signer
  pkg/cmd/init.go
  pkg/controllers/kube-apiserver.go
  pkg/node/kubelet.go
  pkg/util/cryptomaterial/certpaths.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

init: generate the kubelet client cert by the csr signer
  pkg/cmd/init.go
  pkg/util/cryptomaterial/certpaths.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

update component images
  pkg/release/release.go
  pkg/release/release_amd64.go
  pkg/release/release_arm64.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Update rebase.sh
  scripts/rebase.sh
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery

update manifests
  assets/bindata_timestamp.txt
  assets/components/kube-apiserver/defaultconfig.yaml
  assets/components/openshift-router/ingress-to-route-controller-clusterrole.yaml
  assets/components/service-ca/deployment.yaml
  assets/components/service-ca/role.yaml
  assets/core/namespace-openshift-infra.yaml
  assets/scc/0000_20_kube-apiserver-operator_00_cr-scc-anyuid.yaml
  assets/scc/0000_20_kube-apiserver-operator_00_cr-scc-hostaccess.yaml
  assets/scc/0000_20_kube-apiserver-operator_00_cr-scc-hostmount-anyuid.yaml
  assets/scc/0000_20_kube-apiserver-operator_00_cr-scc-hostnetwork-v2.yaml
  assets/scc/0000_20_kube-apiserver-operator_00_cr-scc-hostnetwork.yaml
  assets/scc/0000_20_kube-apiserver-operator_00_cr-scc-nonroot-v2.yaml
  assets/scc/0000_20_kube-apiserver-operator_00_cr-scc-nonroot.yaml
  assets/scc/0000_20_kube-apiserver-operator_00_cr-scc-privileged.yaml
  assets/scc/0000_20_kube-apiserver-operator_00_cr-scc-restricted-v2.yaml
  assets/scc/0000_20_kube-apiserver-operator_00_cr-scc-restricted.yaml
  assets/scc/0000_20_kube-apiserver-operator_00_crb-systemauthenticated-scc-restricted-v2.yaml
  pkg/assets/bindata.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

update Makefile, RPM, CI image
  Makefile
  packaging/images/openshift-ci/Dockerfile
  packaging/rpm/make-rpm.sh
  packaging/rpm/microshift.spec
Due: test-srpm, e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Add missing SCC CRs and CRBs
  pkg/controllers/openshift-default-scc-manager.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

temp: pin ovn-k image until fix lands upstream
  scripts/rebase.sh
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery

Fix wait-for-pods command in performance test scripts not to depend on the number of pods
  ansible/roles/common/tasks/readinesscheck.yml
Due: none

Document error messages generated when unsupported APIs are used in the oc CLI
  README.md
  docs/enable_apis.md
  docs/enabled_apis.md
Due: none

Reorg rebase scripts into subdir
  Makefile
  scripts/auto-rebase/create_pr.py
  scripts/auto-rebase/rebase.sh
  scripts/auto-rebase/rebase_patches/.gitkeep
  scripts/auto-rebase/rebase_patches/0001-Fix-CSI-initialization-conflict.patch
  scripts/auto-rebase/rebase_patches/0002-disable-APIrequestcount-controller.patch
  scripts/auto-rebase/rebase_patches/0010-kube-apiserver-command-context.patch
  scripts/auto-rebase/rebase_patches/0020-klog-component-names.patch
Due: test-srpm, e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Update to reflect new script location
  docs/rebase.md
Due: none

Change cadvisor port to not conflict with image-builder
  ansible/roles/install-logging/templates/prometheus.yml.j2
  ansible/roles/setup-microshift-host/templates/cadvisor.service.j2
Due: none

Refactor OpenShift Controller Manager configuration
  pkg/controllers/openshift-controller-manager.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

update go.mod
  go.mod
  go.sum
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

update vendoring
  vendor/k8s.io/legacy-cloud-providers/aws/aws_loadbalancer.go
  vendor/modules.txt
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

update manifests
  assets/bindata_timestamp.txt
  pkg/assets/bindata.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Accept context for OCM run go routing
  pkg/controllers/openshift-controller-manager.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Fix and document automatic manifest apply on startup
  docs/howto_config.md
  pkg/config/config.go
  pkg/kustomize/apply.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

add etcd shim to microshift until we package proper etcd separately
  cmd/microshift/main.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Refactor ansible logging exporter installation and update the docs
  ansible/README.md
  ansible/inventory/inventory
  ansible/roles/common/tasks/readinesscheck.yml
  ansible/roles/install-logging-exporters/defaults/main.yml
  ansible/roles/install-logging-exporters/tasks/main.yml
  ansible/roles/install-logging-exporters/templates/cadvisor.service.j2
  ansible/roles/install-microshift/tasks/main.yml
  ansible/roles/manage-repos/tasks/main.yml
  ansible/roles/microshift-start/tasks/main.yml
  ansible/roles/setup-microshift-host/defaults/main.yml
  ansible/roles/setup-microshift-host/tasks/main.yml
  ansible/run-perf.yml
  ansible/setup-node.yml
  ansible/vars/all.yml
Due: none

Avoid unnecessary go routines for OCM
  pkg/controllers/openshift-controller-manager.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Enable kube-apiserver option send-retry-after-while-not-ready-once
  pkg/controllers/kube-apiserver.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Refactor microshift-start standalone role - Make disk space task common - Change error handling - Install grafana on logging host - Update README with new vars
  ansible/README.md
  ansible/roles/common/tasks/disk.yml
  ansible/roles/common/tasks/readinesscheck.yml
  ansible/roles/install-logging/defaults/main.yml
  ansible/roles/install-logging/tasks/main.yml
  ansible/roles/install-microshift/tasks/main.yml
  ansible/roles/microshift-start/defaults/main.yml
  ansible/roles/microshift-start/tasks/main.yml
  ansible/run-perf.yml
  ansible/vars/all.yml
Due: none

Fix auto-apply for manifests to run in a non-default namespace
  docs/howto_config.md
Due: none

csi snapshotter
  assets/components/csi-snapshot/clusterrole.yaml
  assets/components/csi-snapshot/clusterrolebinding.yaml
  assets/components/csi-snapshot/controller-deployment.yaml
  assets/components/csi-snapshot/role.yaml
  assets/components/csi-snapshot/rolebinding.yaml
  assets/components/csi-snapshot/service-account.yaml
  assets/components/csi-snapshot/snapshot.storage.k8s.io_volumesnapshotclasses.crd.yaml
  assets/components/csi-snapshot/snapshot.storage.k8s.io_volumesnapshotcontents.crd.yaml
  assets/components/csi-snapshot/snapshot.storage.k8s.io_volumesnapshots.crd.yaml
  assets/components/csi-snapshot/validating-webhook-config.yaml
  assets/components/csi-snapshot/webhook-deployment.yaml
  assets/components/csi-snapshot/webhook-service.yaml
  assets/components/odf-lvm/topolvm-controller_deployment.yaml
  assets/components/odf-lvm/topolvm-controller_rbac.authorization.k8s.io_v1_clusterrole.yaml
  pkg/assets/admission.go
  pkg/assets/bindata.go
  pkg/assets/crd.go
  pkg/components/components.go
  pkg/components/storage.go
  pkg/release/release_amd64.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Remove unused authorization.openshift.io APIService
  assets/crd/authorizationv1-local-apiservice.yaml
  pkg/assets/bindata.go
  pkg/assets/crd.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Add RHEL4Edge example to README.md
  ansible/README.md
Due: none

upgrade topolvm
  pkg/release/release_amd64.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Update documentation with the supported configuration options
  docs/howto_config.md
  pkg/config/config_test.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

use cli.Run for executing boilerplate and initializing logs
  cmd/microshift/main.go
  pkg/config/config.go
  pkg/config/config_test.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

make vendor
  vendor/k8s.io/component-base/cli/OWNERS
  vendor/k8s.io/component-base/cli/run.go
  vendor/modules.txt
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

sequester lvmd types to their own file to clarify diff b/w them and ushift supporting coding
  assets/components/odf-lvm/topolvm-lvmd-config_configmap_v1.yaml
  assets/components/odf-lvm/topolvm-node_daemonset.yaml
  pkg/assets/bindata.go
  pkg/cmd/run.go
  pkg/components/components.go
  pkg/components/render.go
  pkg/components/render_test.go
  pkg/components/storage.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/lvmd/lvmd.go
  pkg/config/lvmd/lvmd_test.go
  pkg/config/lvmd/test/config.yaml
  pkg/config/lvmd/test/lvmd.yaml
  pkg/config/lvmd/test/valueMismatch.yaml
  pkg/config/lvmd/types.go
  scripts/tools.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Use config and leaderelection defaults
  pkg/controllers/openshift-controller-manager.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

fix 4.12 rebase
  go.mod
  vendor/modules.txt
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Switch to ovnk local gateway mode
  assets/components/ovn/configmap.yaml
  assets/components/ovn/master/daemonset.yaml
  pkg/assets/bindata.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

support external gateway interface br-ex1
  assets/components/ovn/master/daemonset.yaml
  pkg/assets/bindata.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Path conditions:
  test-srpm: any of: ^(rpm/*|packaging/.*|Makefile)
  e2e-rpm-install: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  e2e-openshift-conformance-sig-api-machinery: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  e2e-openshift-conformance-sig-apps: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-arch: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-auth: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod)|Makefile
  e2e-openshift-conformance-sig-cli: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-instrumentation: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-network: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-node: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-scheduling: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-storage: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-reboot: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
