Repository openshift/microshift: changes, and which Prow jobs are due for each by the changed paths.
All: test-srpm, e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, e2e-reboot, e2e-reboot-arm, e2e-greenboot, e2e-greenboot-arm, e2e-router-smoke-test, e2e-router-smoke-test-arm, e2e-loadbalancer-smoke-test, e2e-loadbalancer-smoke-test-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

test-srpm:
  cluster: build02
  commands: make srpm
  container:
    from: src

e2e-openshift-conformance-reduced:
  cluster: build02
  steps:
    cluster_profile: gcp
    env:
      GOOGLE_COMPUTE_IMAGE_NAME: rhel-9-v20230203
    workflow: openshift-microshift-e2e-openshift-conformance-reduced

e2e-openshift-conformance-reduced-arm:
  cluster: build02
  steps:
    cluster_profile: gcp
    env:
      GOOGLE_COMPUTE_IMAGE_NAME: rhel-9-arm64-v20230306
      GOOGLE_COMPUTE_MACHINE_TYPE: t2a-standard-4
    workflow: openshift-microshift-e2e-openshift-conformance-reduced

e2e-reboot:
  cluster: build02
  steps:
    cluster_profile: gcp
    env:
      GOOGLE_COMPUTE_IMAGE_NAME: rhel-9-v20230203
    workflow: openshift-microshift-e2e-reboot-tests

e2e-reboot-arm:
  cluster: build02
  steps:
    cluster_profile: gcp
    env:
      GOOGLE_COMPUTE_IMAGE_NAME: rhel-9-arm64-v20230306
      GOOGLE_COMPUTE_MACHINE_TYPE: t2a-standard-4
    workflow: openshift-microshift-e2e-reboot-tests

e2e-greenboot:
  cluster: build02
  optional: true
  steps:
    cluster_profile: gcp
    env:
      GOOGLE_COMPUTE_IMAGE_NAME: rhel-9-v20230203
    workflow: openshift-microshift-e2e-greenboot

e2e-greenboot-arm:
  cluster: build02
  optional: true
  steps:
    cluster_profile: gcp
    env:
      GOOGLE_COMPUTE_IMAGE_NAME: rhel-9-arm64-v20230306
      GOOGLE_COMPUTE_MACHINE_TYPE: t2a-standard-4
    workflow: openshift-microshift-e2e-greenboot

e2e-router-smoke-test:
  cluster: build02
  optional: true
  steps:
    cluster_profile: gcp
    env:
      GOOGLE_COMPUTE_IMAGE_NAME: rhel-9-v20230203
    workflow: openshift-microshift-e2e-router-smoke-test

e2e-router-smoke-test-arm:
  cluster: build02
  optional: true
  steps:
    cluster_profile: gcp
    env:
      GOOGLE_COMPUTE_IMAGE_NAME: rhel-9-arm64-v20230306
      GOOGLE_COMPUTE_MACHINE_TYPE: t2a-standard-4
    workflow: openshift-microshift-e2e-router-smoke-test

e2e-loadbalancer-smoke-test:
  cluster: build02
  optional: true
  steps:
    cluster_profile: gcp
    env:
      GOOGLE_COMPUTE_IMAGE_NAME: rhel-9-v20230203
    workflow: openshift-microshift-e2e-loadbalancer-smoke-test

e2e-loadbalancer-smoke-test-arm:
  cluster: build02
  optional: true
  steps:
    cluster_profile: gcp
    env:
      GOOGLE_COMPUTE_IMAGE_NAME: rhel-9-arm64-v20230306
      GOOGLE_COMPUTE_MACHINE_TYPE: t2a-standard-4
    workflow: openshift-microshift-e2e-loadbalancer-smoke-test

ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci-operator.openshift.io/cluster: build02
    ci-operator.openshift.io/variant: rhel-8-x86_64
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  ...

command: `ostree schedule-backup`
  cmd/microshift/main.go
  pkg/cmd/ostree.go
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, e2e-reboot, e2e-reboot-arm, e2e-greenboot, e2e-greenboot-arm, e2e-router-smoke-test, e2e-router-smoke-test-arm, e2e-loadbalancer-smoke-test, e2e-loadbalancer-smoke-test-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

change dir struct to keep everything in one
  ansible/roles/microshift-start/defaults/main.yml
  docs/devenv_setup.md
  docs/devenv_setup_auto.md
  docs/getting_started.md
  docs/howto_amq_broker.md
  docs/howto_http_proxy.md
  docs/howto_kubeconfig.md
  docs/howto_load_balancer.md
  docs/howto_sysconf_watch.md
  docs/openshift_ci.md
  docs/rhel4edge_iso.md
  e2e/main.sh
  etcd/vendor/github.com/openshift/microshift/pkg/config/files.go
  etcd/vendor/github.com/openshift/microshift/pkg/util/util.go
  hack/scc-prep.sh
  packaging/greenboot/functions.sh
  pkg/backup/backup.go
  pkg/cmd/data.go
  pkg/cmd/run.go
  pkg/config/files.go
  pkg/ostree/pre_run_action.go
  scripts/devenv-builder/configure-vm.sh
  scripts/image-builder/config/kickstart.ks.template
  validate-microshift/cluster-debug-info.sh
Due: test-srpm, e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, e2e-reboot, e2e-reboot-arm, e2e-greenboot, e2e-greenboot-arm, e2e-router-smoke-test, e2e-router-smoke-test-arm, e2e-loadbalancer-smoke-test, e2e-loadbalancer-smoke-test-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

Remove config flag externalGatewayInterface from ovn.yaml
  docs/network/default_cni_plugin.md
  docs/network/host_networking.md
  packaging/microshift/ovn.yaml
  pkg/config/ovn/ovn.go
Due: test-srpm, e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, e2e-reboot, e2e-reboot-arm, e2e-greenboot, e2e-greenboot-arm, e2e-router-smoke-test, e2e-router-smoke-test-arm, e2e-loadbalancer-smoke-test, e2e-loadbalancer-smoke-test-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

USHIFT-1122: set minimum container-selinux dependency to 2.208
  packaging/rpm/microshift.spec
Due: test-srpm, e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, e2e-reboot, e2e-reboot-arm, e2e-greenboot, e2e-greenboot-arm, e2e-router-smoke-test, e2e-router-smoke-test-arm, e2e-loadbalancer-smoke-test, e2e-loadbalancer-smoke-test-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

USHIFT-1221: disable selinux for 4.13 CI temporarily
  scripts/devenv-builder/configure-vm.sh
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, e2e-greenboot, e2e-greenboot-arm, e2e-router-smoke-test, e2e-router-smoke-test-arm, e2e-loadbalancer-smoke-test, e2e-loadbalancer-smoke-test-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

USHIFT-1222: add default pylint configuration
  .pylintrc
Due: none

update changelog
  scripts/auto-rebase/changelog.txt
  scripts/auto-rebase/commits.txt
Due: e2e-greenboot, e2e-greenboot-arm

update last_rebase.sh
  scripts/auto-rebase/last_rebase.sh
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, e2e-greenboot, e2e-greenboot-arm, e2e-router-smoke-test, e2e-router-smoke-test-arm, e2e-loadbalancer-smoke-test, e2e-loadbalancer-smoke-test-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

rebase.sh failure artifacts
  assets/components/lvms/topolvm-controller_v1_serviceaccount.yaml
  assets/components/lvms/topolvm-csi-provisioner_rbac.authorization.k8s.io_v1_role.yaml
  assets/components/lvms/topolvm-csi-provisioner_rbac.authorization.k8s.io_v1_rolebinding.yaml
  assets/components/lvms/topolvm-node_v1_serviceaccount.yaml
  assets/components/openshift-dns/dns/daemonset.yaml
  assets/components/openshift-dns/dns/service.yaml
  assets/components/openshift-dns/node-resolver/daemonset.yaml
  assets/components/openshift-router/deployment.yaml
  assets/components/openshift-router/service-internal.yaml
  assets/components/service-ca/deployment.yaml
  assets/components/service-ca/ns.yaml
  assets/controllers/kube-apiserver/config-overrides.yaml
  assets/controllers/kube-apiserver/defaultconfig.yaml
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
  rebase_sh.log
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, e2e-reboot, e2e-reboot-arm, e2e-greenboot, e2e-greenboot-arm, e2e-router-smoke-test, e2e-router-smoke-test-arm, e2e-loadbalancer-smoke-test, e2e-loadbalancer-smoke-test-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update manifests
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, e2e-reboot, e2e-reboot-arm, e2e-greenboot, e2e-greenboot-arm, e2e-router-smoke-test, e2e-router-smoke-test-arm, e2e-loadbalancer-smoke-test, e2e-loadbalancer-smoke-test-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update microshift/go.mod
  go.mod
  go.sum
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, e2e-reboot, e2e-reboot-arm, e2e-greenboot, e2e-greenboot-arm, e2e-router-smoke-test, e2e-router-smoke-test-arm, e2e-loadbalancer-smoke-test, e2e-loadbalancer-smoke-test-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update etcd/go.mod
  etcd/go.mod
  etcd/go.sum
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, e2e-reboot, e2e-reboot-arm, e2e-greenboot, e2e-greenboot-arm, e2e-router-smoke-test, e2e-router-smoke-test-arm, e2e-loadbalancer-smoke-test, e2e-loadbalancer-smoke-test-arm

update microshift/vendor
  vendor/github.com/openshift/cluster-policy-controller/pkg/psalabelsyncer/sccrolecache.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/customresourcevalidation/customresourcevalidationregistration/cr_validation_registration.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/customresourcevalidation/operator/deny_delete_cluster_operator_resource.go
  vendor/k8s.io/kubernetes/pkg/controller/volume/attachdetach/attach_detach_controller.go
  vendor/k8s.io/kubernetes/pkg/features/kube_features.go
  vendor/k8s.io/kubernetes/pkg/features/patch_kube_features.go
  vendor/k8s.io/kubernetes/pkg/volume/csi/csi_plugin.go
  vendor/k8s.io/kubernetes/pkg/volume/csimigration/patch_adc_plugin_manager.go
  vendor/k8s.io/kubernetes/pkg/volume/csimigration/plugin_manager.go
  vendor/k8s.io/kubernetes/pkg/volume/vsphere_volume/vsphere_volume.go
  vendor/modules.txt
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, e2e-reboot, e2e-reboot-arm, e2e-greenboot, e2e-greenboot-arm, e2e-router-smoke-test, e2e-router-smoke-test-arm, e2e-loadbalancer-smoke-test, e2e-loadbalancer-smoke-test-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update etcd/vendor
  etcd/vendor/modules.txt
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, e2e-reboot, e2e-reboot-arm, e2e-greenboot, e2e-greenboot-arm, e2e-router-smoke-test, e2e-router-smoke-test-arm, e2e-loadbalancer-smoke-test, e2e-loadbalancer-smoke-test-arm

update component images
  packaging/crio.conf.d/microshift_amd64.conf
Due: test-srpm, e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, e2e-reboot, e2e-reboot-arm, e2e-greenboot, e2e-greenboot-arm, e2e-router-smoke-test, e2e-router-smoke-test-arm, e2e-loadbalancer-smoke-test, e2e-loadbalancer-smoke-test-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

update buildfiles
  Makefile.kube_git.var
  Makefile.version.aarch64.var
  Makefile.version.x86_64.var
Due: test-srpm, e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, e2e-reboot, e2e-reboot-arm, e2e-greenboot, e2e-greenboot-arm, e2e-router-smoke-test, e2e-router-smoke-test-arm, e2e-loadbalancer-smoke-test, e2e-loadbalancer-smoke-test-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

Temporarily downgrade container policy to 2.167.0-1 to avoid Image Builder errors
  packaging/rpm/microshift.spec
Due: test-srpm, e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, e2e-reboot, e2e-reboot-arm, e2e-greenboot, e2e-greenboot-arm, e2e-router-smoke-test, e2e-router-smoke-test-arm, e2e-loadbalancer-smoke-test, e2e-loadbalancer-smoke-test-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

USHIFT-1222: move pylint configuration from calling script to config file
  .pylintrc
  scripts/verify/verify-py.sh
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, e2e-greenboot, e2e-greenboot-arm, e2e-router-smoke-test, e2e-router-smoke-test-arm, e2e-loadbalancer-smoke-test, e2e-loadbalancer-smoke-test-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

USHIFT-1222: disable no-member rule in pylint
  .pylintrc
Due: none

USHIFT-1222: fix linter errors in release notes script
  scripts/release-notes/gen_ec_release_notes.py
Due: e2e-greenboot, e2e-greenboot-arm

USHIFT-1222: disable no-self-use rule in python
  .pylintrc
Due: none

manually backport configure-vm.sh from main to 4.13 so CI will skip dependency installation
  scripts/devenv-builder/configure-vm.sh
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, e2e-greenboot, e2e-greenboot-arm, e2e-router-smoke-test, e2e-router-smoke-test-arm, e2e-loadbalancer-smoke-test, e2e-loadbalancer-smoke-test-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

remove version specifier for container-selinux
  packaging/rpm/microshift.spec
Due: test-srpm, e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, e2e-reboot, e2e-reboot-arm, e2e-greenboot, e2e-greenboot-arm, e2e-router-smoke-test, e2e-router-smoke-test-arm, e2e-loadbalancer-smoke-test, e2e-loadbalancer-smoke-test-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

USHIFT-1229: fix the location of kube-apiserver configuration assets
  scripts/auto-rebase/assets.yaml
Due: e2e-greenboot, e2e-greenboot-arm

release-4.13 specifically disables selinux on rhel 9.1, so re-add the logic to the configure script
  scripts/devenv-builder/configure-vm.sh
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, e2e-greenboot, e2e-greenboot-arm, e2e-router-smoke-test, e2e-router-smoke-test-arm, e2e-loadbalancer-smoke-test, e2e-loadbalancer-smoke-test-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

OCPBUGS-11421: add list of volume groups to ci debug output
  validate-microshift/cluster-debug-info.sh
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, e2e-router-smoke-test, e2e-router-smoke-test-arm, e2e-loadbalancer-smoke-test, e2e-loadbalancer-smoke-test-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

fixing typo with crio package in kickstart file - from criu -> crio
  docs/config/microshift-starter.ks
Due: none

update buildfiles
  Makefile.version.aarch64.var
  Makefile.version.x86_64.var
Due: test-srpm, e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, e2e-reboot, e2e-reboot-arm, e2e-greenboot, e2e-greenboot-arm, e2e-router-smoke-test, e2e-router-smoke-test-arm, e2e-loadbalancer-smoke-test, e2e-loadbalancer-smoke-test-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

Path conditions:
  test-srpm: any of: ^(rpm/*|packaging/.*|Makefile)
  e2e-openshift-conformance-reduced: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  e2e-openshift-conformance-reduced-arm: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  e2e-reboot: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-reboot-arm: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-greenboot: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|scripts/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-greenboot-arm: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|scripts/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-router-smoke-test: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  e2e-router-smoke-test-arm: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  e2e-loadbalancer-smoke-test: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  e2e-loadbalancer-smoke-test-arm: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-8-x86_64-e2e-reboot: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  ci/prow/rhel-8-x86_64-e2e-router-smoke-test: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-8-x86_64-test-srpm: any of: ^(rpm/*|packaging/.*|Makefile)
  ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-aarch64-e2e-reboot: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  ci/prow/rhel-9-aarch64-e2e-router-smoke-test: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-aarch64-e2e-rpm-install: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-aarch64-test-srpm: any of: ^(rpm/*|packaging/.*|Makefile)
  ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-x86_64-e2e-reboot: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  ci/prow/rhel-9-x86_64-e2e-router-smoke-test: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-x86_64-e2e-rpm-install: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-x86_64-test-srpm: any of: ^(rpm/*|packaging/.*|Makefile)
