Repository openshift/microshift: changes, and which Prow jobs are due for each by the changed paths.
All: test-srpm, e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Path conditions:
  test-srpm: any of: ^(rpm/*|packaging/.*|Makefile)
  e2e-rpm-install: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  e2e-openshift-conformance-sig-api-machinery: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  e2e-openshift-conformance-sig-apps: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-arch: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-auth: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod)|Makefile
  e2e-openshift-conformance-sig-cli: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-instrumentation: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-network: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-node: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-scheduling: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-storage: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-reboot: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)

update manifests
  assets/release/release-aarch64.json
Due: none

update component images
  packaging/crio.conf.d/microshift_amd64.conf
  packaging/crio.conf.d/microshift_arm64.conf
Due: test-srpm, e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

update manifests
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: none

Cherrypick 4.12: Upgrade TopoLVM image to v4.12.0-2
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: none

USHIFT-549 USHIFT-679: Python script for rebase job
  scripts/auto-rebase/create_pr.py
  scripts/auto-rebase/rebase.py
  scripts/auto-rebase/rebase.sh
  scripts/auto-rebase/rebase_job_entrypoint.sh
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery

rebase: optimize logic for finding the commits used by embedded components
  scripts/auto-rebase/rebase.sh
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery

rebase: add changelog step
  scripts/auto-rebase/rebase.sh
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery

rebase: refactor clone function
  scripts/auto-rebase/rebase.sh
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery

rebase: do not reclone repos that exist
  scripts/auto-rebase/rebase.sh
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery

rebase: add changelog step to the manual instructions
  docs/rebase.md
Due: none

rebase: include image data in changelog
  scripts/auto-rebase/rebase.sh
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery

rebase: initial commits file for changelog tracking
  scripts/auto-rebase/commits.txt
Due: none

update changelog
  scripts/auto-rebase/changelog.txt
  scripts/auto-rebase/commits.txt
Due: none

update last_rebase.sh
  scripts/auto-rebase/last_rebase.sh
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery

update go.mod
  go.mod
  go.sum
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

update vendoring
  vendor/github.com/openshift/cluster-policy-controller/pkg/quota/clusterquotareconciliation/reconciliation_controller.go
  vendor/k8s.io/kubernetes/plugin/pkg/admission/security/podsecurity/patch_podspecextractor.go
  vendor/modules.txt
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

update manifests
  assets/components/openshift-router/deployment.yaml
  assets/controllers/kube-apiserver/defaultconfig.yaml
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: none

update buildfiles
  Makefile.kube_git.var
Due: test-srpm, e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

update vendoring
  vendor/github.com/openshift/cluster-policy-controller/pkg/quota/clusterquotareconciliation/reconciliation_controller.go
  vendor/modules.txt
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

rebase: populate initial commits for changlog
  scripts/auto-rebase/commits.txt
Due: none
