Repository openshift/microshift: changes, and which Prow jobs are due for each by the changed paths.
All: test-rpm, test-rebase, microshift-metal-tests, microshift-metal-cache, microshift-metal-cache-arm, metal-periodic-test, ci/prow/e2e-aws-ai-model-serving, ci/prow/e2e-aws-footprint-and-performance, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-bootc-release, ci/prow/e2e-aws-tests-bootc-release-arm, ci/prow/e2e-aws-tests-bootc-upstream, ci/prow/e2e-aws-tests-bootc-upstream-arm, ci/prow/e2e-aws-tests-cache, ci/prow/e2e-aws-tests-cache-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm, ci/prow/e2e-aws-tests-release, ci/prow/e2e-aws-tests-release-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase, ci/prow/test-rpm

Path conditions:
  test-rpm: any of: ^(rpm/*|packaging/.*|Makefile)
  test-rebase: any of: ^(assets/.*|scripts/auto-rebase/.*|go\.mod)
  microshift-metal-tests: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh|.*\.ks\.template)
  microshift-metal-cache: any of: ^test\/bin\/(ci_phase_iso_build|manage_build_cache)\.sh$
  microshift-metal-cache-arm: any of: ^(test/bin/ci_phase_iso_build.sh|test/bin/manage_build_cache.sh)
  metal-periodic-test: any of: (.*periodic.*|^test/bin/.*)
  ci/prow/e2e-aws-ai-model-serving: any of: ^(scripts/ci-ai-model-serving/.*)$
  ci/prow/e2e-aws-footprint-and-performance: any of: ^(scripts/ci-footprint-and-performance/.*)$
  ci/prow/e2e-aws-tests: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-arm: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-bootc: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-bootc-arm: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-bootc-periodic: any of: ^(test/bin/.*|test/scenarios-bootc/periodics/.*)$
  ci/prow/e2e-aws-tests-bootc-periodic-arm: any of: ^(test/bin/.*|test/scenarios-bootc/periodics/.*)$
  ci/prow/e2e-aws-tests-bootc-release: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/e2e-aws-tests-bootc-release-arm: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/e2e-aws-tests-bootc-upstream: any of: ^(test/scenarios-bootc/upstream/.*)$
  ci/prow/e2e-aws-tests-bootc-upstream-arm: any of: ^(test/scenarios-bootc/upstream/.*)$
  ci/prow/e2e-aws-tests-cache: any of: ^test\/bin\/(ci_phase_iso_build|manage_build_cache)\.sh$
  ci/prow/e2e-aws-tests-cache-arm: any of: ^test\/bin\/(ci_phase_iso_build|manage_build_cache)\.sh$
  ci/prow/e2e-aws-tests-periodic: any of: ^(test/bin/.*|test/scenarios-periodics/.*|test/scenarios/periodics/.*)$
  ci/prow/e2e-aws-tests-periodic-arm: any of: ^(test/bin/.*|test/scenarios-periodics/.*|test/scenarios/periodics/.*)$
  ci/prow/e2e-aws-tests-release: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/e2e-aws-tests-release-arm: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/ocp-full-conformance-rhel-eus: any of: ^(origin/.*|assets/.*|etcd/.*|pkg/.*|vendor/.*)$
  ci/prow/ocp-full-conformance-serial-rhel-eus: any of: ^(origin/.*|assets/.*|etcd/.*|pkg/.*|vendor/.*)$
  ci/prow/test-rebase: any of: ^(assets/.*|scripts/auto-rebase/.*|go\.mod|vendor/.*|deps/.*)$
  ci/prow/test-rpm: any of: ^(rpm/.*|packaging/.*|Makefile)$

fix: address RPM scenario failures
  test/scenarios-rpm/common-scenarios-rpm.sh
  test/scenarios-rpm/presubmits/el102@configuration1.sh
  test/scenarios-rpm/presubmits/el102@configuration2.sh
  test/scenarios-rpm/presubmits/el102@dual-stack.sh
  test/scenarios-rpm/presubmits/el102@ipv6.sh
  test/scenarios-rpm/presubmits/el102@low-latency.sh
  test/scenarios-rpm/presubmits/el102@multi-nic.sh
  test/scenarios-rpm/presubmits/el102@router.sh
  test/scenarios-rpm/presubmits/el102@standard1.sh
  test/scenarios-rpm/presubmits/el102@standard2.sh
  test/scenarios-rpm/presubmits/el102@storage.sh
  test/scenarios-rpm/presubmits/el102@upgrade.sh
  test/scenarios-rpm/presubmits/el98@multi-nic.sh
  test/scenarios-rpm/presubmits/el98@storage.sh
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

feat: parameterize RPM scenarios by RHEL version
  test/scenarios-rpm/common-scenarios-rpm.sh
  test/scenarios-rpm/presubmits/configuration1.sh
  test/scenarios-rpm/presubmits/configuration2.sh
  test/scenarios-rpm/presubmits/dual-stack.sh
  test/scenarios-rpm/presubmits/el102@configuration1.sh
  test/scenarios-rpm/presubmits/el102@configuration2.sh
  test/scenarios-rpm/presubmits/el102@dual-stack.sh
  test/scenarios-rpm/presubmits/el102@multi-nic.sh
  test/scenarios-rpm/presubmits/el102@router.sh
  test/scenarios-rpm/presubmits/el102@standard1.sh
  test/scenarios-rpm/presubmits/el102@standard2.sh
  test/scenarios-rpm/presubmits/el102@storage.sh
  test/scenarios-rpm/presubmits/el102@upgrade.sh
  test/scenarios-rpm/presubmits/el98@configuration1.sh
  test/scenarios-rpm/presubmits/el98@configuration2.sh
  test/scenarios-rpm/presubmits/el98@dual-stack.sh
  test/scenarios-rpm/presubmits/el98@ipv6.sh
  test/scenarios-rpm/presubmits/el98@low-latency.sh
  test/scenarios-rpm/presubmits/el98@router.sh
  test/scenarios-rpm/presubmits/el98@standard1.sh
  test/scenarios-rpm/presubmits/el98@standard2.sh
  test/scenarios-rpm/presubmits/el98@storage.sh
  test/scenarios-rpm/presubmits/el98@upgrade.sh
  test/scenarios-rpm/presubmits/ipv6.sh
  test/scenarios-rpm/presubmits/low-latency.sh
  test/scenarios-rpm/presubmits/multi-nic.sh
  test/scenarios-rpm/presubmits/router.sh
  test/scenarios-rpm/presubmits/standard1.sh
  test/scenarios-rpm/presubmits/standard2.sh
  test/scenarios-rpm/presubmits/storage.sh
  test/scenarios-rpm/presubmits/upgrade.sh
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

refactor: move ISO download logic to manage_build_cache.sh
  test/bin/ci_phase_iso_build.sh
  test/bin/manage_build_cache.sh
Due: microshift-metal-tests, microshift-metal-cache, microshift-metal-cache-arm, metal-periodic-test, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-cache, ci/prow/e2e-aws-tests-cache-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm

fix: address PR review findings
  test/bin/ci_phase_iso_build.sh
  test/bin/manage_build_cache.sh
  test/scenarios-rpm/common-scenarios-rpm.sh
  test/scenarios-rpm/presubmits/standard1.sh
Due: microshift-metal-tests, microshift-metal-cache, microshift-metal-cache-arm, metal-periodic-test, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-cache, ci/prow/e2e-aws-tests-cache-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm

chore: rename rpm scenarios to elxy-src@<suite>.sh naming convention
  test/scenarios-rpm/presubmits/elxy-src@configuration1.sh
  test/scenarios-rpm/presubmits/elxy-src@configuration2.sh
  test/scenarios-rpm/presubmits/elxy-src@dual-stack.sh
  test/scenarios-rpm/presubmits/elxy-src@ipv6.sh
  test/scenarios-rpm/presubmits/elxy-src@low-latency.sh
  test/scenarios-rpm/presubmits/elxy-src@multi-nic.sh
  test/scenarios-rpm/presubmits/elxy-src@router.sh
  test/scenarios-rpm/presubmits/elxy-src@standard1.sh
  test/scenarios-rpm/presubmits/elxy-src@standard2.sh
  test/scenarios-rpm/presubmits/elxy-src@storage.sh
  test/scenarios-rpm/presubmits/elxy-src@upgrade.sh
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

Add devenv-vm
  scripts/devenv-bootc/SLIDES.md
  scripts/devenv-vm/Containerfile.vm
  scripts/devenv-vm/devenv.sh
  scripts/devenv-vm/rhel-versions.json
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

feat: add action_setup phase for RPM scenario VM configuration
  test/bin/scenario.sh
  test/scenarios-rpm/common-scenarios-rpm.sh
  test/scenarios-rpm/presubmits/elxy-src@configuration1.sh
  test/scenarios-rpm/presubmits/elxy-src@configuration2.sh
  test/scenarios-rpm/presubmits/elxy-src@dual-stack.sh
  test/scenarios-rpm/presubmits/elxy-src@ipv6.sh
  test/scenarios-rpm/presubmits/elxy-src@low-latency.sh
  test/scenarios-rpm/presubmits/elxy-src@multi-nic.sh
  test/scenarios-rpm/presubmits/elxy-src@router.sh
  test/scenarios-rpm/presubmits/elxy-src@standard1.sh
  test/scenarios-rpm/presubmits/elxy-src@standard2.sh
  test/scenarios-rpm/presubmits/elxy-src@storage.sh
  test/scenarios-rpm/presubmits/elxy-src@upgrade.sh
Due: microshift-metal-tests, metal-periodic-test, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm

refactor: move common setup to rpm_setup_and_install_microshift helper
  test/scenarios-rpm/common-scenarios-rpm.sh
  test/scenarios-rpm/presubmits/elxy-src@configuration1.sh
  test/scenarios-rpm/presubmits/elxy-src@configuration2.sh
  test/scenarios-rpm/presubmits/elxy-src@dual-stack.sh
  test/scenarios-rpm/presubmits/elxy-src@ipv6.sh
  test/scenarios-rpm/presubmits/elxy-src@low-latency.sh
  test/scenarios-rpm/presubmits/elxy-src@multi-nic.sh
  test/scenarios-rpm/presubmits/elxy-src@router.sh
  test/scenarios-rpm/presubmits/elxy-src@standard1.sh
  test/scenarios-rpm/presubmits/elxy-src@standard2.sh
  test/scenarios-rpm/presubmits/elxy-src@storage.sh
  test/scenarios-rpm/presubmits/elxy-src@upgrade.sh
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

refactor: split rpm_setup_and_install_microshift into separate calls
  test/scenarios-rpm/common-scenarios-rpm.sh
  test/scenarios-rpm/presubmits/elxy-src@configuration1.sh
  test/scenarios-rpm/presubmits/elxy-src@configuration2.sh
  test/scenarios-rpm/presubmits/elxy-src@dual-stack.sh
  test/scenarios-rpm/presubmits/elxy-src@ipv6.sh
  test/scenarios-rpm/presubmits/elxy-src@low-latency.sh
  test/scenarios-rpm/presubmits/elxy-src@multi-nic.sh
  test/scenarios-rpm/presubmits/elxy-src@router.sh
  test/scenarios-rpm/presubmits/elxy-src@standard1.sh
  test/scenarios-rpm/presubmits/elxy-src@standard2.sh
  test/scenarios-rpm/presubmits/elxy-src@storage.sh
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

chore: remove extra blank lines in rpm scenarios
  test/scenarios-rpm/presubmits/elxy-src@configuration1.sh
  test/scenarios-rpm/presubmits/elxy-src@configuration2.sh
  test/scenarios-rpm/presubmits/elxy-src@dual-stack.sh
  test/scenarios-rpm/presubmits/elxy-src@ipv6.sh
  test/scenarios-rpm/presubmits/elxy-src@router.sh
  test/scenarios-rpm/presubmits/elxy-src@standard1.sh
  test/scenarios-rpm/presubmits/elxy-src@standard2.sh
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

refactor: inline install_microshift into rpm_install_microshift
  test/scenarios-rpm/common-scenarios-rpm.sh
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

fix: remove COMPOSER_CLI_BUILDS override for rpm_only mode
  test/bin/ci_phase_iso_build.sh
Due: microshift-metal-tests, microshift-metal-cache, microshift-metal-cache-arm, metal-periodic-test, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-cache, ci/prow/e2e-aws-tests-cache-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm

Revert "fix: remove COMPOSER_CLI_BUILDS override for rpm_only mode"
  test/bin/ci_phase_iso_build.sh
Due: microshift-metal-tests, microshift-metal-cache, microshift-metal-cache-arm, metal-periodic-test, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-cache, ci/prow/e2e-aws-tests-cache-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm

revert: restore original parallel citation suppression
  test/bin/build_rpms.sh
Due: microshift-metal-tests, metal-periodic-test, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm

fix: address all failing RPM scenario root causes
  test/scenarios-rpm/common-scenarios-rpm.sh
  test/scenarios-rpm/presubmits/elxy-src@dual-stack.sh
  test/scenarios-rpm/presubmits/elxy-src@ipv6.sh
  test/scenarios-rpm/presubmits/elxy-src@low-latency.sh
  test/scenarios-rpm/presubmits/elxy-src@multi-nic.sh
  test/scenarios-rpm/presubmits/elxy-src@storage.sh
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

update last_rebase.sh
  scripts/auto-rebase/last_rebase.sh
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rebase

update changelog
  scripts/auto-rebase/changelog.txt
  scripts/auto-rebase/commits.txt
Due: test-rebase, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rebase

update microshift/go.mod
  go.mod
  go.sum
Due: test-rebase, microshift-metal-tests, ci/prow/test-rebase

update microshift/deps
  deps/github.com/openshift/kubernetes/openshift-hack/cmd/k8s-tests-ext/k8s-tests.go
  deps/github.com/openshift/kubernetes/openshift-kube-apiserver/admission/admissionenablement/register.go
  deps/github.com/openshift/kubernetes/openshift-kube-apiserver/admission/scheduler/nodeselectoradjuster/admission.go
  deps/github.com/openshift/kubernetes/openshift-kube-apiserver/admission/scheduler/nodeselectoradjuster/admission_test.go
Due: ci/prow/test-rebase

update etcd/go.mod
  etcd/go.mod
  etcd/go.sum
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus

update component images
  packaging/crio.conf.d/10-microshift_amd64.conf
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rpm

update manifests
  assets/components/multus/kustomization.x86_64.yaml
  assets/components/multus/release-multus-aarch64.json
  assets/components/multus/release-multus-x86_64.json
  assets/optional/operator-lifecycle-manager/kustomization.aarch64.yaml
  assets/optional/operator-lifecycle-manager/kustomization.x86_64.yaml
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

update buildfiles
  Makefile.kube_git.var
  Makefile.version.aarch64.var
  Makefile.version.x86_64.var
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

make generate-config
  cmd/generate-config/config/config-openapi-spec.json
  docs/user/howto_config.md
  packaging/microshift/config.yaml
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rpm

fix: storage topolvm-node wait and disable low-latency
  test/scenarios-rpm/presubmits/elxy-src@low-latency.sh.disabled
  test/scenarios-rpm/presubmits/elxy-src@storage.sh
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

update microshift/deps
  deps/github.com/openshift/kubernetes/openshift-hack/cmd/k8s-tests-ext/k8s-tests.go
Due: ci/prow/test-rebase

update component images
  packaging/crio.conf.d/10-microshift_amd64.conf
  packaging/crio.conf.d/10-microshift_arm64.conf
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rpm

Update AI Model Serving for MicroShift
  assets/components/csi-snapshot-controller/05_operand_rbac.yaml
  assets/components/csi-snapshot-controller/csi_controller_deployment.yaml
  assets/components/csi-snapshot-controller/serviceaccount.yaml
  assets/components/openshift-dns/dns/daemonset.yaml
  assets/components/openshift-dns/dns/hosts-configmap-role.yaml
  assets/components/openshift-dns/dns/hosts-configmap-rolebinding.yaml
  assets/components/openshift-dns/dns/service.yaml
  assets/components/openshift-dns/node-resolver/daemonset.yaml
  assets/components/openshift-router/deployment.yaml
  assets/components/openshift-router/ingress-class.yaml
  assets/components/openshift-router/service-cloud.yaml
  assets/components/openshift-router/service-internal.yaml
  assets/components/service-ca/deployment.yaml
  assets/components/service-ca/ns.yaml
  assets/controllers/kube-apiserver/defaultconfig.yaml
  assets/controllers/kube-controller-manager/defaultconfig.yaml
  assets/core/kubelet.yaml
  assets/crd/0000_03_config-operator_01_securitycontextconstraints.crd.yaml
  assets/optional/operator-lifecycle-manager/0000_50_olm_00-namespace.yaml
  assets/optional/operator-lifecycle-manager/0000_50_olm_07-olm-operator.deployment.yaml
  assets/optional/operator-lifecycle-manager/0000_50_olm_08-catalog-operator.deployment.yaml
  assets/optional/operator-lifecycle-manager/kustomization.aarch64.yaml
  assets/optional/operator-lifecycle-manager/kustomization.x86_64.yaml
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

Update SR-IOV for MicroShift
  assets/optional/sriov/kustomization.aarch64.yaml
  assets/optional/sriov/kustomization.x86_64.yaml
  assets/optional/sriov/release-sriov-aarch64.json
  assets/optional/sriov/release-sriov-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

rebase.sh failure artifacts
  assets/optional/cert-manager/crd/bases/certificaterequests.cert-manager.io-crd.yaml
  assets/optional/cert-manager/crd/bases/certificates.cert-manager.io-crd.yaml
  assets/optional/cert-manager/crd/bases/challenges.acme.cert-manager.io-crd.yaml
  assets/optional/cert-manager/crd/bases/clusterissuers.cert-manager.io-crd.yaml
  assets/optional/cert-manager/crd/bases/issuers.cert-manager.io-crd.yaml
  assets/optional/cert-manager/crd/bases/operator.openshift.io_certmanagers.yaml
  assets/optional/cert-manager/crd/bases/operator.openshift.io_istiocsrs.yaml
  assets/optional/cert-manager/crd/bases/orders.acme.cert-manager.io-crd.yaml
  assets/optional/cert-manager/crd/kustomization.yaml
  assets/optional/cert-manager/manager/images-aarch64.yaml
  assets/optional/cert-manager/manager/images-x86_64.yaml
  assets/optional/cert-manager/manager/manager.yaml
  assets/optional/cert-manager/rbac/kustomization.yaml
  assets/optional/cert-manager/rbac/role.yaml
  assets/optional/cert-manager/release-cert-manager-aarch64.json
  assets/optional/cert-manager/release-cert-manager-x86_64.json
  rebase.log
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

Update devenv-vm
  scripts/devenv-bootc/SLIDES.md
  scripts/devenv-vm/Containerfile.vm
  scripts/devenv-vm/devenv.sh
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

fix: remove topolvm-node wait from storage scenario
  test/scenarios-rpm/presubmits/elxy-src@storage.sh
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

feat: move osconfig-lifecycle-core-api to rpm presubmits
  test/scenarios-rpm/presubmits/elxy-src@low-latency.sh.disabled
  test/scenarios-rpm/presubmits/elxy-src@osconfig-lifecycle-core-api.sh
  test/scenarios-rpm/presubmits/elxy-src@storage.sh
  test/scenarios/periodics/el98-src@storage.sh
Due: microshift-metal-tests, metal-periodic-test, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm

USHIFT-6996+1: fix CI test: reorder suite setup to wait for healthcheck before reading kubeconfig
  test/suites/tuned/workload-partitioning.robot
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

USHIFT-6987+4: fix CI test: increase TEST_EXECUTION_TIMEOUT to 60m for upstream optional scenarios
  test/scenarios-bootc/upstream/cos10-src@optional.sh
  test/scenarios-bootc/upstream/cos9-src@optional.sh
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-upstream, ci/prow/e2e-aws-tests-bootc-upstream-arm
