Repository openshift/microshift: changes, and which Prow jobs are due for each by the changed paths.
All: test-srpm, e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

test-srpm:
  commands: make srpm
  container:
    from: src

e2e-rpm-install:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-rpm-install

e2e-openshift-conformance-sig-api-machinery:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-api-machinery

e2e-openshift-conformance-sig-apps:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-apps

e2e-openshift-conformance-sig-arch:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-arch

e2e-openshift-conformance-sig-auth:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-auth

e2e-openshift-conformance-sig-cli:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-cli

e2e-openshift-conformance-sig-instrumentation:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-instrumentation

e2e-openshift-conformance-sig-network:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-network

e2e-openshift-conformance-sig-node:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-node

e2e-openshift-conformance-sig-scheduling:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-scheduling

e2e-openshift-conformance-sig-storage:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-storage

e2e-reboot:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-reboot-tests

update manifests
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: none

selective merge of latest 4.12 LVMS-Operator generated deployment and daemonset manifests. ignored hardcoded images, default resource requests, snapshotter container spec.
  assets/components/lvms/topolvm-controller_deployment.yaml
  assets/components/lvms/topolvm-node_daemonset.yaml
Due: none

tweak node affinity
  assets/components/lvms/topolvm-node_daemonset.yaml
Due: none

update last_rebase.sh
  scripts/auto-rebase/last_rebase.sh
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery

update changelog
  scripts/auto-rebase/changelog.txt
  scripts/auto-rebase/commits.txt
Due: none

update component images
  packaging/crio.conf.d/microshift_arm64.conf
Due: test-srpm, e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

default value of spareGb will produce unexpected behavior for users, set to zero
  pkg/config/lvmd/types.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Prefer OVN-K gateway IP as the nodeIP
  pkg/util/net.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

rebase.sh failure artifacts
  go.mod
  go.sum
  rebase_sh.log
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

NO-ISSUE: Add LVMS to last_rebase.sh
  scripts/auto-rebase/rebase.sh
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery

update unit test
  pkg/components/render_test.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

USHIFT-583: add script for generating API docs
  docs/howto_gen_api_guide.md
  hack/Dockerfile.apidocs
  hack/cleanup_openapi.py
  hack/gen-api-docs.sh
  hack/openshift-apidocs-gen-config.yaml
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery

Fix ovn config file path
  pkg/components/networking.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Document rebase job internals and testing
  docs/rebase.md
Due: none

setting GH app as trusted
  docs/rebase.md
Due: none

rebase - try taking ORG n REPO from ENV
  docs/rebase.md
  scripts/auto-rebase/rebase_job_entrypoint.sh
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery

MicroShift devenv to support RHEL 9 and CentOS 9
  README.md
  ansible/README.md
  docs/default_csi_plugin.md
  docs/devenv_cloud.md
  docs/devenv_setup.md
  docs/devenv_setup_auto.md
  docs/network/default_cni_plugin.md
  docs/rebase.md
  docs/rhel4edge_iso.md
  scripts/devenv-builder/configure-vm.sh
  scripts/devenv-builder/create-vm.sh
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery

OCPBUGS-7084: hostnameOverride config missing in kubelet
  pkg/node/kubelet.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

quiet git fetch to reduce unnecessary logs
  scripts/auto-rebase/rebase.sh
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery

Add minimum CRIO version as rpm requirement
  packaging/rpm/microshift.spec
Due: test-srpm, e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Revert "optimize rbac for ovnkube-master"
  assets/components/ovn/clusterrole.yaml
  assets/components/ovn/clusterrolebinding.yaml
  assets/components/ovn/configmap.yaml
  assets/components/ovn/master/daemonset.yaml
  assets/components/ovn/role.yaml
  assets/components/ovn/rolebinding.yaml
  pkg/components/networking.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Revert "Combine ovnkube master and node to single pod"
  assets/components/ovn/clusterrolebinding.yaml
  assets/components/ovn/master/daemonset.yaml
  assets/components/ovn/node/daemonset.yaml
  assets/components/ovn/node/serviceaccount.yaml
  assets/components/ovn/rolebinding.yaml
  pkg/components/networking.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Path conditions:
  test-srpm: any of: ^(rpm/*|packaging/.*|Makefile)
  e2e-rpm-install: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  e2e-openshift-conformance-sig-api-machinery: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  e2e-openshift-conformance-sig-apps: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-arch: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-auth: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod)|Makefile
  e2e-openshift-conformance-sig-cli: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-instrumentation: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-network: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-node: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-scheduling: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-storage: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-reboot: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
