Repository openshift/microshift: changes, and which Prow jobs are due for each by the changed paths.
All: test-rpm, test-rebase, microshift-metal-tests, microshift-metal-cache, microshift-metal-cache-arm, metal-periodic-test, ci/prow/e2e-aws-ai-model-serving, ci/prow/e2e-aws-footprint-and-performance, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-bootc-release, ci/prow/e2e-aws-tests-bootc-release-arm, ci/prow/e2e-aws-tests-bootc-upstream, ci/prow/e2e-aws-tests-bootc-upstream-arm, ci/prow/e2e-aws-tests-cache, ci/prow/e2e-aws-tests-cache-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm, ci/prow/e2e-aws-tests-release, ci/prow/e2e-aws-tests-release-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase, ci/prow/test-rpm

test-rpm:
  cluster: build02
  commands: RPM_INFO=true make rpm srpm
  container:
    from: microshift-test-rpm

test-rebase:
  cluster: build02
  optional: true
  steps:
    env:
      DRY_RUN: y
    workflow: openshift-microshift-rebase

microshift-metal-tests:
  cluster: build02
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-02b8534ff4b424939
      EC2_INSTANCE_TYPE: c5n.metal
    workflow: openshift-microshift-e2e-metal-tests

microshift-metal-cache:
  cluster: build02
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-02b8534ff4b424939
    workflow: openshift-microshift-e2e-metal-cache

microshift-metal-cache-arm:
  cluster: build02
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-08c7e766098f8cb4f
      EC2_INSTANCE_TYPE: t4g.2xlarge
    workflow: openshift-microshift-e2e-metal-cache

metal-periodic-test:
  cluster: build02
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-02b8534ff4b424939
      EC2_INSTANCE_TYPE: c5n.metal
    workflow: openshift-microshift-e2e-metal-tests

ci/prow/e2e-aws-ai-model-serving:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-2
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-aws-footprint-and-performance:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-aws-tests:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-aws-tests-arm:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-2
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-aws-tests-bootc:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-aws-tests-bootc-arm:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-2
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

update etcd/go.mod
  etcd/go.mod
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus

update microshift/vendor
  vendor/k8s.io/client-go/tools/leaderelection/resourcelock/leaselock.go
  vendor/k8s.io/client-go/util/cert/cert.go
  vendor/k8s.io/dynamic-resource-allocation/structured/internal/experimental/allocator_experimental.go
  vendor/k8s.io/dynamic-resource-allocation/structured/internal/incubating/allocator_incubating.go
  vendor/k8s.io/dynamic-resource-allocation/structured/internal/stable/allocator_stable.go
  vendor/k8s.io/kubectl/pkg/cmd/apiresources/apiresources.go
  vendor/k8s.io/kubernetes/pkg/api/service/warnings.go
  vendor/k8s.io/kubernetes/pkg/apis/batch/validation/validation.go
  vendor/k8s.io/kubernetes/pkg/controller/controller_utils.go
  vendor/k8s.io/kubernetes/pkg/controller/daemon/daemon_controller.go
  vendor/k8s.io/kubernetes/pkg/controller/history/controller_history.go
  vendor/k8s.io/kubernetes/pkg/controller/job/job_controller.go
  vendor/k8s.io/kubernetes/pkg/controller/replicaset/replica_set.go
  vendor/k8s.io/kubernetes/pkg/controller/statefulset/stateful_set.go
  vendor/k8s.io/kubernetes/pkg/controller/statefulset/stateful_set_control.go
  vendor/k8s.io/kubernetes/pkg/features/kube_features.go
  vendor/k8s.io/kubernetes/pkg/kubelet/cm/dra/plugin/dra_plugin_manager.go
  vendor/k8s.io/kubernetes/pkg/kubelet/prober/worker.go
  vendor/k8s.io/kubernetes/pkg/registry/batch/job/strategy.go
  vendor/k8s.io/kubernetes/pkg/scheduler/framework/plugins/tainttoleration/taint_toleration.go
  vendor/k8s.io/kubernetes/pkg/scheduler/framework/preemption/preemption.go
  vendor/k8s.io/kubernetes/pkg/volume/csi/csi_attacher.go
  vendor/k8s.io/kubernetes/pkg/volume/plugins.go
  vendor/k8s.io/kubernetes/pkg/volume/portworx/portworx.go
  vendor/modules.txt
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

update etcd/vendor
  etcd/vendor/k8s.io/client-go/util/cert/cert.go
  etcd/vendor/modules.txt
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus

update component images
  packaging/crio.conf.d/10-microshift_amd64.conf
  packaging/crio.conf.d/10-microshift_arm64.conf
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rpm

update manifests
  assets/components/multus/kustomization.x86_64.yaml
  assets/components/multus/release-multus-aarch64.json
  assets/components/multus/release-multus-x86_64.json
  assets/optional/operator-lifecycle-manager/kustomization.x86_64.yaml
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

update buildfiles
  Makefile.kube_git.var
  Makefile.version.aarch64.var
  Makefile.version.x86_64.var
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

Unfreeze OVN-K images
  scripts/auto-rebase/rebase.sh
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rebase

Update OVN-K images
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

add microshift-rt repo into the containerfiles
  test/image-blueprints-bootc/layer1-base/group4/rhel96-bootc-brew-ec-with-optional-tuned.containerfile
  test/image-blueprints-bootc/layer1-base/group4/rhel96-bootc-brew-rc-with-optional-tuned.containerfile
  test/image-blueprints-bootc/layer1-base/group4/rhel96-bootc-brew-zstream-with-optional-tuned.containerfile
  test/package-sources-bootc/microshift-rt.repo
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

add temp AWS bucket
  test/bin/manage_build_cache.sh
Due: microshift-metal-tests, microshift-metal-cache, microshift-metal-cache-arm, metal-periodic-test, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-cache, ci/prow/e2e-aws-tests-cache-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm

add new manage_brew_rpms download mechanism
  test/bin/build_rpms.sh
Due: microshift-metal-tests, metal-periodic-test, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm

fix dir names
  test/bin/manage_brew_rpms.sh
Due: microshift-metal-tests, metal-periodic-test, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm

add remove kernel in containerfile
  test/image-blueprints-bootc/layer1-base/group4/rhel96-bootc-brew-ec-with-optional-tuned.containerfile
  test/image-blueprints-bootc/layer1-base/group4/rhel96-bootc-brew-rc-with-optional-tuned.containerfile
  test/image-blueprints-bootc/layer1-base/group4/rhel96-bootc-brew-zstream-with-optional-tuned.containerfile
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

USHIFT-6379: Fix dual stack flaky test
  test/suites/ipv6/dualstack.robot
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

use basic systemctl stop command instead of Stop Microshift because the later waits for the service to be "dead" but test is expecting "failed"
  test/suites/standard2/configuration.robot
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

update last_rebase.sh
  scripts/auto-rebase/last_rebase.sh
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rebase

update changelog
  scripts/auto-rebase/changelog.txt
  scripts/auto-rebase/commits.txt
Due: test-rebase, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rebase

update buildfiles
  Makefile.version.aarch64.var
  Makefile.version.x86_64.var
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

update manifests
  assets/optional/multus/release-multus-aarch64.json
  assets/optional/multus/release-multus-x86_64.json
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

update changelog
  scripts/auto-rebase/changelog.txt
Due: test-rebase, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rebase

update manifests
  assets/components/multus/kustomization.aarch64.yaml
  assets/components/multus/kustomization.x86_64.yaml
  assets/components/multus/release-multus-aarch64.json
  assets/components/multus/release-multus-x86_64.json
  assets/optional/operator-lifecycle-manager/kustomization.aarch64.yaml
  assets/optional/operator-lifecycle-manager/kustomization.x86_64.yaml
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

update manifests
  assets/components/multus/release-multus-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/release/release-aarch64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

update buildfiles
  Makefile.version.aarch64.var
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

update component images
  packaging/crio.conf.d/10-microshift_amd64.conf
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rpm

update manifests
  assets/optional/multus/kustomization.aarch64.yaml
  assets/optional/multus/kustomization.x86_64.yaml
  assets/optional/multus/release-multus-aarch64.json
  assets/optional/multus/release-multus-x86_64.json
  assets/optional/operator-lifecycle-manager/kustomization.aarch64.yaml
  assets/optional/operator-lifecycle-manager/kustomization.x86_64.yaml
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

Update common_versions.sh
  test/bin/common_versions.sh
Due: microshift-metal-tests, metal-periodic-test, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm

USHIFT-6344: Remove brew tests from ostree scenarios
  test/scenarios/periodics/el96-crel@el96-src@optional-upgrade.sh
  test/scenarios/periodics/el96-crel@el96-src@upgrade-fails.sh
  test/scenarios/periodics/el96-crel@optional-sigstore.sh
  test/scenarios/periodics/el96-prel@el96-crel@upgrade-ok.sh
  test/scenarios/presubmits/el96-crel@el96-src@upgrade-ok.sh
Due: microshift-metal-tests, metal-periodic-test, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm

Path conditions:
  test-rpm: any of: ^(rpm/*|packaging/.*|Makefile)
  test-rebase: any of: ^(assets/.*|scripts/auto-rebase/.*|go\.mod)
  microshift-metal-tests: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh|.*\.ks\.template)
  microshift-metal-cache: any of: ^test\/bin\/(ci_phase_iso_build|manage_build_cache)\.sh$
  microshift-metal-cache-arm: any of: ^(test/bin/ci_phase_iso_build.sh|test/bin/manage_build_cache.sh)
  metal-periodic-test: any of: (.*periodic.*|^test/bin/.*)
  ci/prow/e2e-aws-ai-model-serving: any of: ^(scripts/ci-ai-model-serving/.*)$
  ci/prow/e2e-aws-footprint-and-performance: any of: ^(scripts/ci-footprint-and-performance/.*)$
  ci/prow/e2e-aws-tests: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-arm: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-bootc: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-bootc-arm: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-bootc-periodic: any of: ^(test/bin/.*|test/scenarios-bootc/periodics/.*)$
  ci/prow/e2e-aws-tests-bootc-periodic-arm: any of: ^(test/bin/.*|test/scenarios-bootc/periodics/.*)$
  ci/prow/e2e-aws-tests-bootc-release: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/e2e-aws-tests-bootc-release-arm: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/e2e-aws-tests-bootc-upstream: any of: ^(test/scenarios-bootc/upstream/.*)$
  ci/prow/e2e-aws-tests-bootc-upstream-arm: any of: ^(test/scenarios-bootc/upstream/.*)$
  ci/prow/e2e-aws-tests-cache: any of: ^test\/bin\/(ci_phase_iso_build|manage_build_cache)\.sh$
  ci/prow/e2e-aws-tests-cache-arm: any of: ^test\/bin\/(ci_phase_iso_build|manage_build_cache)\.sh$
  ci/prow/e2e-aws-tests-periodic: any of: ^(test/bin/.*|test/scenarios-periodics/.*|test/scenarios/periodics/.*)$
  ci/prow/e2e-aws-tests-periodic-arm: any of: ^(test/bin/.*|test/scenarios-periodics/.*|test/scenarios/periodics/.*)$
  ci/prow/e2e-aws-tests-release: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/e2e-aws-tests-release-arm: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/ocp-full-conformance-rhel-eus: any of: ^(origin/.*|assets/.*|etcd/.*|pkg/.*|vendor/.*)$
  ci/prow/ocp-full-conformance-serial-rhel-eus: any of: ^(origin/.*|assets/.*|etcd/.*|pkg/.*|vendor/.*)$
  ci/prow/test-rebase: any of: ^(assets/.*|scripts/auto-rebase/.*|go\.mod|vendor/.*|deps/.*)$
  ci/prow/test-rpm: any of: ^(rpm/.*|packaging/.*|Makefile)$
