Repository openshift/microshift: changes, and which Prow jobs are due for each by the changed paths.
All: test-srpm, e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

test-srpm:
  cluster: build02
  commands: make srpm
  container:
    from: src

e2e-openshift-conformance-reduced:
  cluster: build02
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-07f5ac8ddbcfbb96e
    workflow: openshift-microshift-e2e-openshift-conformance-reduced-aws

e2e-openshift-conformance-reduced-arm:
  cluster: build02
  optional: true
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-0c231be9fb222349e
      EC2_INSTANCE_TYPE: c7g.4xlarge
    workflow: openshift-microshift-e2e-openshift-conformance-reduced-aws

microshift-e2e:
  cluster: build02
  optional: true
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-07f5ac8ddbcfbb96e
    workflow: openshift-microshift-e2e-microshift-tests-aws

microshift-e2e-arm:
  cluster: build02
  optional: true
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-0c231be9fb222349e
      EC2_INSTANCE_TYPE: c7g.4xlarge
    workflow: openshift-microshift-e2e-microshift-tests-aws

ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci-operator.openshift.io/cluster: build02
    ci-operator.openshift.io/variant: rhel-8-x86_64
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  ...

ci/prow/rhel-8-x86_64-e2e-reboot:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci-operator.openshift.io/cluster: build02
    ci-operator.openshift.io/variant: rhel-8-x86_64
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  ...

ci/prow/rhel-8-x86_64-e2e-router-smoke-test:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci-operator.openshift.io/cluster: build02
    ci-operator.openshift.io/variant: rhel-8-x86_64
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  ...

ci/prow/rhel-8-x86_64-test-srpm:
  decorate: true
  labels:
    ci-operator.openshift.io/cluster: build02
    ci-operator.openshift.io/variant: rhel-8-x86_64
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci-operator.openshift.io/cluster: build02
    ci-operator.openshift.io/variant: rhel-9-aarch64
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  ...

update etcd/vendor
  etcd/vendor/k8s.io/api/batch/v1/generated.proto
  etcd/vendor/k8s.io/api/batch/v1/types.go
  etcd/vendor/k8s.io/api/batch/v1/types_swagger_doc_generated.go
  etcd/vendor/k8s.io/api/core/v1/generated.proto
  etcd/vendor/k8s.io/api/core/v1/types.go
  etcd/vendor/k8s.io/api/core/v1/types_swagger_doc_generated.go
  etcd/vendor/k8s.io/client-go/discovery/aggregated_discovery.go
  etcd/vendor/k8s.io/client-go/discovery/discovery_client.go
  etcd/vendor/k8s.io/client-go/openapi/client.go
  etcd/vendor/k8s.io/client-go/openapi/groupversion.go
  etcd/vendor/modules.txt
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm

update component images
  packaging/crio.conf.d/microshift_amd64.conf
  packaging/crio.conf.d/microshift_arm64.conf
Due: test-srpm, e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

update manifests
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update buildfiles
  Makefile.kube_git.var
  Makefile.version.aarch64.var
  Makefile.version.x86_64.var
Due: test-srpm, e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

update last_rebase.sh
  scripts/auto-rebase/last_rebase.sh
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update changelog
  scripts/auto-rebase/changelog.txt
  scripts/auto-rebase/commits.txt
Due: none

update buildfiles
  Makefile.version.aarch64.var
  Makefile.version.x86_64.var
Due: test-srpm, e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

update go.mod
  go.mod
  go.sum
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update buildfiles
  Makefile.kube_git.var
Due: test-srpm, e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

make SSH re-connect after reboot more robust
  e2e/tests/0040-reboot.sh
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

save and load images
  e2e/tests/assets/greenboot-test.sh
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

save at the start
  e2e/tests/assets/greenboot-test.sh
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

Update greenboot-test.sh
  e2e/tests/assets/greenboot-test.sh
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

simple backup on boot
  packaging/greenboot/green.sh
  packaging/greenboot/red.sh
  packaging/rpm/microshift.spec
  pkg/admin/data/data_manager.go
  pkg/cmd/run.go
Due: test-srpm, e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

add boot timestamp checking
  e2e/tests/0040-reboot.sh
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

move prerun to separate file
  pkg/admin/prerun/prerun.go
  pkg/cmd/run.go
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

use boot_id for backup name
  packaging/greenboot/green.sh
  packaging/greenboot/red.sh
  pkg/admin/prerun/prerun.go
Due: test-srpm, e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

chore: replace `github.com/ghodss/yaml` with `sigs.k8s.io/yaml`
  go.mod
  pkg/config/lvmd/lvmd.go
  pkg/controllers/kube-controller-manager.go
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update microshift/go.mod
  go.mod
  go.sum
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update microshift/vendor
  vendor/k8s.io/kubernetes/pkg/kubelet/cm/cgroup_manager_linux.go
  vendor/k8s.io/kubernetes/pkg/kubelet/cm/cgroup_manager_unsupported.go
  vendor/k8s.io/kubernetes/pkg/kubelet/cm/container_manager_linux.go
  vendor/k8s.io/kubernetes/pkg/kubelet/cm/types.go
  vendor/modules.txt
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update etcd/go.mod
  etcd/go.mod
  etcd/go.sum
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm

update etcd/vendor
  etcd/vendor/modules.txt
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm

Path conditions:
  test-srpm: any of: ^(rpm/*|packaging/.*|Makefile)
  e2e-openshift-conformance-reduced: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  e2e-openshift-conformance-reduced-arm: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  microshift-e2e: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  microshift-e2e-arm: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-8-x86_64-e2e-reboot: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  ci/prow/rhel-8-x86_64-e2e-router-smoke-test: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-8-x86_64-test-srpm: any of: ^(rpm/*|packaging/.*|Makefile)
  ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-aarch64-e2e-reboot: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  ci/prow/rhel-9-aarch64-e2e-router-smoke-test: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-aarch64-e2e-rpm-install: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-aarch64-test-srpm: any of: ^(rpm/*|packaging/.*|Makefile)
  ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-x86_64-e2e-reboot: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  ci/prow/rhel-9-x86_64-e2e-router-smoke-test: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-x86_64-e2e-rpm-install: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-x86_64-test-srpm: any of: ^(rpm/*|packaging/.*|Makefile)
