Repository openshift/microshift: changes, and which Prow jobs are due for each by the changed paths.
All: test-rpm, test-rebase, microshift-metal-tests, microshift-metal-cache, microshift-metal-cache-arm, metal-periodic-test, ci/prow/e2e-aws-ai-model-serving, ci/prow/e2e-aws-footprint-and-performance, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-bootc-release, ci/prow/e2e-aws-tests-bootc-release-arm, ci/prow/e2e-aws-tests-bootc-upstream, ci/prow/e2e-aws-tests-bootc-upstream-arm, ci/prow/e2e-aws-tests-cache, ci/prow/e2e-aws-tests-cache-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm, ci/prow/e2e-aws-tests-release, ci/prow/e2e-aws-tests-release-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase, ci/prow/test-rpm

Path conditions:
  test-rpm: any of: ^(rpm/*|packaging/.*|Makefile)
  test-rebase: any of: ^(assets/.*|scripts/auto-rebase/.*|go\.mod)
  microshift-metal-tests: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh|.*\.ks\.template)
  microshift-metal-cache: any of: ^test\/bin\/(ci_phase_iso_build|manage_build_cache)\.sh$
  microshift-metal-cache-arm: any of: ^(test/bin/ci_phase_iso_build.sh|test/bin/manage_build_cache.sh)
  metal-periodic-test: any of: (.*periodic.*|^test/bin/.*)
  ci/prow/e2e-aws-ai-model-serving: any of: ^(scripts/ci-ai-model-serving/.*)$
  ci/prow/e2e-aws-footprint-and-performance: any of: ^(scripts/ci-footprint-and-performance/.*)$
  ci/prow/e2e-aws-tests: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-arm: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-bootc: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-bootc-arm: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-bootc-periodic: any of: ^(test/bin/.*|test/scenarios-bootc/periodics/.*)$
  ci/prow/e2e-aws-tests-bootc-periodic-arm: any of: ^(test/bin/.*|test/scenarios-bootc/periodics/.*)$
  ci/prow/e2e-aws-tests-bootc-release: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/e2e-aws-tests-bootc-release-arm: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/e2e-aws-tests-bootc-upstream: any of: ^(test/scenarios-bootc/upstream/.*)$
  ci/prow/e2e-aws-tests-bootc-upstream-arm: any of: ^(test/scenarios-bootc/upstream/.*)$
  ci/prow/e2e-aws-tests-cache: any of: ^test\/bin\/(ci_phase_iso_build|manage_build_cache)\.sh$
  ci/prow/e2e-aws-tests-cache-arm: any of: ^test\/bin\/(ci_phase_iso_build|manage_build_cache)\.sh$
  ci/prow/e2e-aws-tests-periodic: any of: ^(test/bin/.*|test/scenarios-periodics/.*|test/scenarios/periodics/.*)$
  ci/prow/e2e-aws-tests-periodic-arm: any of: ^(test/bin/.*|test/scenarios-periodics/.*|test/scenarios/periodics/.*)$
  ci/prow/e2e-aws-tests-release: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/e2e-aws-tests-release-arm: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/ocp-full-conformance-rhel-eus: any of: ^(origin/.*|assets/.*|etcd/.*|pkg/.*|vendor/.*)$
  ci/prow/ocp-full-conformance-serial-rhel-eus: any of: ^(origin/.*|assets/.*|etcd/.*|pkg/.*|vendor/.*)$
  ci/prow/test-rebase: any of: ^(assets/.*|scripts/auto-rebase/.*|go\.mod|vendor/.*|deps/.*)$
  ci/prow/test-rpm: any of: ^(rpm/.*|packaging/.*|Makefile)$

update manifests
  assets/optional/multus/kustomization.aarch64.yaml
  assets/optional/multus/kustomization.x86_64.yaml
  assets/optional/multus/release-multus-aarch64.json
  assets/optional/multus/release-multus-x86_64.json
  assets/optional/operator-lifecycle-manager/kustomization.aarch64.yaml
  assets/optional/operator-lifecycle-manager/kustomization.x86_64.yaml
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

update buildfiles
  Makefile.version.aarch64.var
  Makefile.version.x86_64.var
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

update etcd/go.mod
  etcd/go.mod
  etcd/go.sum
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus

update component images
  packaging/crio.conf.d/10-microshift_amd64.conf
  packaging/crio.conf.d/10-microshift_arm64.conf
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rpm

update manifests
  assets/components/multus/kustomization.aarch64.yaml
  assets/components/multus/kustomization.x86_64.yaml
  assets/components/multus/release-multus-aarch64.json
  assets/components/multus/release-multus-x86_64.json
  assets/optional/operator-lifecycle-manager/kustomization.aarch64.yaml
  assets/optional/operator-lifecycle-manager/kustomization.x86_64.yaml
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

update buildfiles
  Makefile.kube_git.var
  Makefile.version.aarch64.var
  Makefile.version.x86_64.var
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

Update AI Model Serving for MicroShift
  assets/optional/ai-model-serving/release-ai-model-serving-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

Update SR-IOV for MicroShift
  assets/optional/sriov/kustomization.aarch64.yaml
  assets/optional/sriov/kustomization.x86_64.yaml
  assets/optional/sriov/release-sriov-aarch64.json
  assets/optional/sriov/release-sriov-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

update manifests
  assets/components/multus/release-multus-x86_64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

update buildfiles
  Makefile.version.x86_64.var
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

update last_rebase.sh
  scripts/auto-rebase/last_rebase.sh
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rebase

update changelog
  scripts/auto-rebase/changelog.txt
  scripts/auto-rebase/commits.txt
Due: test-rebase, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rebase

update component images
  packaging/crio.conf.d/10-microshift_amd64.conf
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rpm

update manifests
  assets/components/multus/kustomization.x86_64.yaml
  assets/components/multus/release-multus-x86_64.json
  assets/optional/operator-lifecycle-manager/kustomization.x86_64.yaml
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

feat: USHIFT-7412 add configure_rpm_scenario to scenario.sh
  test/bin/scenario.sh
Due: microshift-metal-tests, metal-periodic-test, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm

USHIFT-7442: Add Ansible lint tooling
  .ansible-lint
  CONTRIBUTING.md
  Makefile
  ansible/roles/create-service-account/files/metrics-sa.yaml
  ansible/roles/setup-localhost/tasks/main.yml
  scripts/fetch_tools.sh
  scripts/requirements-ansible.lock
  scripts/requirements-ansible.txt
  scripts/requirements-ansible.yml
  scripts/verify/verify-ansible.sh
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rpm

USHIFT-7446: add MicroShift 5.0 pod counts
  ansible/vars/microshift_versions.yml
Due: none

USHIFT-7440: support alternate source checkouts
  ansible/README.md
  ansible/roles/install-microshift/defaults/main.yml
  ansible/roles/install-microshift/tasks/main.yml
Due: none

update microshift/go.mod
  go.mod
  go.sum
Due: test-rebase, microshift-metal-tests, ci/prow/test-rebase

fix: USHIFT-7428 download Go modules before building openshift-tests-private
  scripts/fetch_tools.sh
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm
