Repository openshift/microshift: changes, and which Prow jobs are due for each by the changed paths.
All: test-rpm, test-rebase, microshift-metal-tests, microshift-metal-cache, microshift-metal-cache-arm, metal-periodic-test, ci/prow/e2e-aws-ai-model-serving, ci/prow/e2e-aws-footprint-and-performance, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-bootc-release, ci/prow/e2e-aws-tests-bootc-release-arm, ci/prow/e2e-aws-tests-bootc-upstream, ci/prow/e2e-aws-tests-bootc-upstream-arm, ci/prow/e2e-aws-tests-cache, ci/prow/e2e-aws-tests-cache-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm, ci/prow/e2e-aws-tests-release, ci/prow/e2e-aws-tests-release-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase, ci/prow/test-rpm

test-rpm:
  cluster: build02
  commands: RPM_INFO=true make rpm srpm
  container:
    from: microshift-test-rpm

test-rebase:
  cluster: build02
  optional: true
  steps:
    env:
      DRY_RUN: y
    workflow: openshift-microshift-rebase

microshift-metal-tests:
  cluster: build02
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-02b8534ff4b424939
      EC2_INSTANCE_TYPE: c5n.metal
    workflow: openshift-microshift-e2e-metal-tests

microshift-metal-cache:
  cluster: build02
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-02b8534ff4b424939
    workflow: openshift-microshift-e2e-metal-cache

microshift-metal-cache-arm:
  cluster: build02
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-08c7e766098f8cb4f
      EC2_INSTANCE_TYPE: t4g.2xlarge
    workflow: openshift-microshift-e2e-metal-cache

metal-periodic-test:
  cluster: build02
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-02b8534ff4b424939
      EC2_INSTANCE_TYPE: c5n.metal
    workflow: openshift-microshift-e2e-metal-tests

ci/prow/e2e-aws-ai-model-serving:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-2
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-aws-footprint-and-performance:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-aws-tests:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-aws-tests-arm:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-2
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-aws-tests-bootc:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-aws-tests-bootc-arm:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-2
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

update buildfiles
  Makefile.version.aarch64.var
  Makefile.version.x86_64.var
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

update last_rebase.sh
  scripts/auto-rebase/last_rebase.sh
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rebase

update manifests
  assets/components/multus/release-multus-aarch64.json
  assets/components/multus/release-multus-x86_64.json
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

USHIFT-7427: pin origin to known-good commit in openshift-tests-private build
  scripts/fetch_tools.sh
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

USHIFT-7427: use origin release-4.22 branch in openshift-tests-private build
  scripts/fetch_tools.sh
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

USHIFT-7267: Fix OVN stale socket race after upstream flag removal
  assets/components/ovn/multi-node/master/daemonset.yaml
  assets/components/ovn/multi-node/node/daemonset.yaml
  assets/components/ovn/single-node/master/daemonset.yaml
  assets/components/ovn/single-node/node/daemonset.yaml
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

Remove deprecated --no-address and --sb-address flags in ovnkube binary
  assets/components/ovn/multi-node/master/daemonset.yaml
  assets/components/ovn/multi-node/node/daemonset.yaml
  assets/components/ovn/single-node/master/daemonset.yaml
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

USHIFT-7267: Use runtime node IP for northd DB addresses
  assets/components/ovn/multi-node/master/daemonset.yaml
  pkg/components/networking.go
  pkg/config/multinode.go
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

Update OVNK flags
  assets/components/ovn/multi-node/master/daemonset.yaml
  assets/components/ovn/single-node/master/daemonset.yaml
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

Split ovnkube into node and cluster manager containers
  assets/components/ovn/multi-node/master/daemonset.yaml
  assets/components/ovn/single-node/master/daemonset.yaml
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

update component images
  packaging/crio.conf.d/10-microshift_arm64.conf
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rpm

update manifests
  assets/components/multus/kustomization.aarch64.yaml
  assets/components/multus/release-multus-aarch64.json
  assets/components/multus/release-multus-x86_64.json
  assets/optional/operator-lifecycle-manager/kustomization.aarch64.yaml
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

USHIFT-7408: Add kernel-modules-extra dependency for RHEL 10
  packaging/rpm/microshift.spec
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rpm

USHIFT-7430: Fix uncore-cache test regex for kubelet JSON log format
  test/suites/tuned/uncore-cache.robot
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

update component images
  packaging/crio.conf.d/10-microshift_amd64.conf
  packaging/crio.conf.d/10-microshift_arm64.conf
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rpm

update manifests
  assets/components/multus/kustomization.aarch64.yaml
  assets/components/multus/kustomization.x86_64.yaml
  assets/components/multus/release-multus-aarch64.json
  assets/components/multus/release-multus-x86_64.json
  assets/optional/operator-lifecycle-manager/kustomization.aarch64.yaml
  assets/optional/operator-lifecycle-manager/kustomization.x86_64.yaml
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

Update SR-IOV for MicroShift
  assets/optional/sriov/kustomization.aarch64.yaml
  assets/optional/sriov/kustomization.x86_64.yaml
  assets/optional/sriov/release-sriov-aarch64.json
  assets/optional/sriov/release-sriov-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

USHIFT-7408: Use conditional dep for kernel-modules-extra to support kernel-rt
  packaging/rpm/microshift.spec
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rpm

USHIFT-7408: Re-enable tuned blueprint and low-latency scenario
  test/image-blueprints/layer2-presubmit/group1/rhel98-source-tuned.toml
  test/scenarios/presubmits/el98-src@low-latency.sh
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

test: OCPQE-32095: build openshift-tests-private from mffiedler's fix branch
  scripts/fetch_tools.sh
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

fix: clone from upstream repo and fetch PR ref instead of fork
  scripts/fetch_tools.sh
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

update manifests
  assets/optional/multus/release-multus-aarch64.json
  assets/optional/multus/release-multus-x86_64.json
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

update changelog
  scripts/auto-rebase/changelog.txt
  scripts/auto-rebase/commits.txt
Due: test-rebase, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rebase

update etcd/vendor
  etcd/vendor/github.com/openshift/microshift/pkg/config/multinode.go
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus

Path conditions:
  test-rpm: any of: ^(rpm/*|packaging/.*|Makefile)
  test-rebase: any of: ^(assets/.*|scripts/auto-rebase/.*|go\.mod)
  microshift-metal-tests: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh|.*\.ks\.template)
  microshift-metal-cache: any of: ^test\/bin\/(ci_phase_iso_build|manage_build_cache)\.sh$
  microshift-metal-cache-arm: any of: ^(test/bin/ci_phase_iso_build.sh|test/bin/manage_build_cache.sh)
  metal-periodic-test: any of: (.*periodic.*|^test/bin/.*)
  ci/prow/e2e-aws-ai-model-serving: any of: ^(scripts/ci-ai-model-serving/.*)$
  ci/prow/e2e-aws-footprint-and-performance: any of: ^(scripts/ci-footprint-and-performance/.*)$
  ci/prow/e2e-aws-tests: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-arm: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-bootc: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-bootc-arm: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-bootc-periodic: any of: ^(test/bin/.*|test/scenarios-bootc/periodics/.*)$
  ci/prow/e2e-aws-tests-bootc-periodic-arm: any of: ^(test/bin/.*|test/scenarios-bootc/periodics/.*)$
  ci/prow/e2e-aws-tests-bootc-release: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/e2e-aws-tests-bootc-release-arm: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/e2e-aws-tests-bootc-upstream: any of: ^(test/scenarios-bootc/upstream/.*)$
  ci/prow/e2e-aws-tests-bootc-upstream-arm: any of: ^(test/scenarios-bootc/upstream/.*)$
  ci/prow/e2e-aws-tests-cache: any of: ^test\/bin\/(ci_phase_iso_build|manage_build_cache)\.sh$
  ci/prow/e2e-aws-tests-cache-arm: any of: ^test\/bin\/(ci_phase_iso_build|manage_build_cache)\.sh$
  ci/prow/e2e-aws-tests-periodic: any of: ^(test/bin/.*|test/scenarios-periodics/.*|test/scenarios/periodics/.*)$
  ci/prow/e2e-aws-tests-periodic-arm: any of: ^(test/bin/.*|test/scenarios-periodics/.*|test/scenarios/periodics/.*)$
  ci/prow/e2e-aws-tests-release: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/e2e-aws-tests-release-arm: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/ocp-full-conformance-rhel-eus: any of: ^(origin/.*|assets/.*|etcd/.*|pkg/.*|vendor/.*)$
  ci/prow/ocp-full-conformance-serial-rhel-eus: any of: ^(origin/.*|assets/.*|etcd/.*|pkg/.*|vendor/.*)$
  ci/prow/test-rebase: any of: ^(assets/.*|scripts/auto-rebase/.*|go\.mod|vendor/.*|deps/.*)$
  ci/prow/test-rpm: any of: ^(rpm/.*|packaging/.*|Makefile)$
