Repository openshift/microshift: changes, and which Prow jobs are due for each by the changed paths.
All: test-rpm, test-rebase, microshift-metal-tests, microshift-metal-cache, microshift-metal-cache-arm, metal-periodic-test, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

Path conditions:
  test-rpm: any of: ^(rpm/*|packaging/.*|Makefile)
  test-rebase: any of: ^(assets/.*|scripts/auto-rebase/.*|go\.mod)
  microshift-metal-tests: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh|.*\.ks\.template)
  microshift-metal-cache: any of: ^test\/bin\/(ci_phase_iso_build|manage_build_cache)\.sh$
  microshift-metal-cache-arm: any of: ^(test/bin/ci_phase_iso_build.sh|test/bin/manage_build_cache.sh)
  metal-periodic-test: any of: (.*periodic.*|^test/bin/.*)
  ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-8-x86_64-e2e-reboot: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  ci/prow/rhel-8-x86_64-e2e-router-smoke-test: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-8-x86_64-test-srpm: any of: ^(rpm/*|packaging/.*|Makefile)
  ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-aarch64-e2e-reboot: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  ci/prow/rhel-9-aarch64-e2e-router-smoke-test: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-aarch64-e2e-rpm-install: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-aarch64-test-srpm: any of: ^(rpm/*|packaging/.*|Makefile)
  ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-x86_64-e2e-reboot: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  ci/prow/rhel-9-x86_64-e2e-router-smoke-test: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-x86_64-e2e-rpm-install: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-x86_64-test-srpm: any of: ^(rpm/*|packaging/.*|Makefile)

update component images
  packaging/crio.conf.d/10-microshift_arm64.conf
Due: test-rpm, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

update manifests
  assets/components/multus/kustomization.aarch64.yaml
  assets/components/multus/release-multus-aarch64.json
  assets/optional/kube-proxy/kustomization.aarch64.yaml
  assets/optional/kube-proxy/release-kube-proxy-aarch64.json
  assets/optional/operator-lifecycle-manager/kustomization.aarch64.yaml
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/release/release-aarch64.json
Due: test-rebase, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update buildfiles
  Makefile.version.aarch64.var
Due: test-rpm, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

Debug information about unpulled & failed images
  pkg/healthcheck/debug_info.go
  pkg/healthcheck/debug_info_test.go
  pkg/healthcheck/workloads.go
Due: microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

Capture SOS on failure
  test/bin/scenario.sh
  test/resources/sos-on-failure-listener.py
  test/suites/optional/gateway-api.robot
Due: microshift-metal-tests, metal-periodic-test, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

Log the path to sos report
  test/resources/sos-on-failure-listener.py
Due: microshift-metal-tests

Finer configuration and extra args passthrough
  scripts/microshift-sos-report.sh
Due: microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

Respect SKIP_SOS env var
  test/bin/scenario.sh
  test/resources/sos-on-failure-listener.py
Due: microshift-metal-tests, metal-periodic-test, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

Allow non-root healthcheck
  pkg/cmd/healthcheck.go
  pkg/healthcheck/workloads.go
Due: microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

Add test for GDP device allocation
  test/suites/optional/generic-device-plugin.robot
  test/suites/optional/strings.py
Due: microshift-metal-tests

Catch potential KUBECONFIG problems to give more descriptive error
  pkg/healthcheck/workloads.go
Due: microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

Add test to verify count in GDP config
  test/suites/optional/generic-device-plugin.robot
  test/suites/optional/strings.py
Due: microshift-metal-tests

Add HTTP01 ACME test for cert-manager
  test/assets/cert-manager/pebble-server.yaml
  test/suites/optional/cert-manager.robot
Due: microshift-metal-tests

update last_rebase.sh
  scripts/auto-rebase/last_rebase.sh
Due: test-rebase, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update changelog
  scripts/auto-rebase/changelog.txt
  scripts/auto-rebase/commits.txt
Due: test-rebase

update component images
  packaging/crio.conf.d/10-microshift_amd64.conf
  packaging/crio.conf.d/10-microshift_arm64.conf
Due: test-rpm, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

update manifests
  assets/optional/multus/kustomization.aarch64.yaml
  assets/optional/multus/kustomization.x86_64.yaml
  assets/optional/multus/release-multus-aarch64.json
  assets/optional/multus/release-multus-x86_64.json
  assets/optional/operator-lifecycle-manager/kustomization.aarch64.yaml
  assets/optional/operator-lifecycle-manager/kustomization.x86_64.yaml
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update buildfiles
  Makefile.version.aarch64.var
  Makefile.version.x86_64.var
Due: test-rpm, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

update manifests
  assets/components/multus/kustomization.aarch64.yaml
  assets/components/multus/kustomization.x86_64.yaml
  assets/components/multus/release-multus-aarch64.json
  assets/components/multus/release-multus-x86_64.json
  assets/optional/kube-proxy/kustomization.aarch64.yaml
  assets/optional/kube-proxy/kustomization.x86_64.yaml
  assets/optional/kube-proxy/release-kube-proxy-aarch64.json
  assets/optional/kube-proxy/release-kube-proxy-x86_64.json
  assets/optional/operator-lifecycle-manager/kustomization.aarch64.yaml
  assets/optional/operator-lifecycle-manager/kustomization.x86_64.yaml
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

Fix SOS namespace option
  test/resources/sos-on-failure-listener.py
Due: microshift-metal-tests

Address comment
  test/suites/gitops/gitops.robot
Due: microshift-metal-tests

Fix linter
  test/suites/gitops/gitops.robot
Due: microshift-metal-tests

first commit adding ostree and bootc new scenarios for release testing
  test/scenarios-bootc/release-testing/el94-y2@el96-lrel@upgrade-ok.sh
  test/scenarios-bootc/release-testing/el96-lrel@optional.sh
  test/scenarios-bootc/release-testing/el96-lrel@standard1.sh
  test/scenarios-bootc/release-testing/el96-lrel@standard2.sh
  test/scenarios-bootc/release-testing/el96-lrel@storage.sh
  test/scenarios-bootc/release-testing/el96-y1@el96-lrel@upgrade-ok.sh
  test/scenarios/release-testing/el94-yminus2@el96-lrel@upgrade-ok.sh
  test/scenarios/release-testing/el96-lrel@optional.sh
  test/scenarios/release-testing/el96-lrel@standard1.sh
  test/scenarios/release-testing/el96-lrel@standard2.sh
  test/scenarios/release-testing/el96-lrel@storage.sh
Due: microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

Increase timeout limit
  test/suites/gitops/gitops.robot
Due: microshift-metal-tests

Ignore empty serial messages
  test/assets/generic-device-plugin/fake-serial-communication.py
Due: microshift-metal-tests

Add lifecycle hook test for pod creation with sleep action
  origin/skip.txt
Due: none
