Repository openshift/microshift: changes, and which Prow jobs are due for each by the changed paths.
All: test-rpm, test-rebase, microshift-metal-tests, microshift-metal-cache, microshift-metal-cache-arm, metal-periodic-test, ci/prow/e2e-aws-ai-model-serving, ci/prow/e2e-aws-footprint-and-performance, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-bootc-release, ci/prow/e2e-aws-tests-bootc-release-arm, ci/prow/e2e-aws-tests-bootc-upstream, ci/prow/e2e-aws-tests-bootc-upstream-arm, ci/prow/e2e-aws-tests-cache, ci/prow/e2e-aws-tests-cache-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm, ci/prow/e2e-aws-tests-release, ci/prow/e2e-aws-tests-release-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase, ci/prow/test-rpm

test-rpm:
  cluster: build02
  commands: RPM_INFO=true make rpm srpm
  container:
    from: microshift-test-rpm

test-rebase:
  cluster: build02
  optional: true
  steps:
    env:
      DRY_RUN: y
    workflow: openshift-microshift-rebase

microshift-metal-tests:
  cluster: build02
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-02b8534ff4b424939
      EC2_INSTANCE_TYPE: c5n.metal
    workflow: openshift-microshift-e2e-metal-tests

microshift-metal-cache:
  cluster: build02
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-02b8534ff4b424939
    workflow: openshift-microshift-e2e-metal-cache

microshift-metal-cache-arm:
  cluster: build02
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-08c7e766098f8cb4f
      EC2_INSTANCE_TYPE: t4g.2xlarge
    workflow: openshift-microshift-e2e-metal-cache

metal-periodic-test:
  cluster: build02
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-02b8534ff4b424939
      EC2_INSTANCE_TYPE: c5n.metal
    workflow: openshift-microshift-e2e-metal-tests

ci/prow/e2e-aws-ai-model-serving:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-2
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-aws-footprint-and-performance:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-aws-tests:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-aws-tests-arm:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-2
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-aws-tests-bootc:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

ci/prow/e2e-aws-tests-bootc-arm:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aws
    ci-operator.openshift.io/cloud-cluster-profile: aws-2
    ci.openshift.io/generator: prowgen
    job-release: '4.21'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

Add support for vX.Y.Z-NNN version match
  scripts/auto-rebase/rebase_lvms.sh
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rebase

update last_rebase_lvms.sh
  scripts/auto-rebase/last_rebase_lvms.sh
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rebase

update LVMS manifests
  assets/components/lvms/lvm.topolvm.io_lvmclusters.yaml
  assets/components/lvms/lvm.topolvm.io_lvmvolumegroups.yaml
  assets/components/lvms/lvms-operator_rbac.authorization.k8s.io_v1_clusterrole.yaml
  assets/components/lvms/topolvm-configmap_lvms-version.yaml
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

Add server-side filtering on returned LVMS versions
  scripts/auto-rebase/rebase_lvms.sh
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rebase

Add reboot test suite
  test/resources/c2cc.resource
  test/suites/c2cc/reboot.robot
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

fixed cluster health checks
  test/suites/c2cc/reboot.robot
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

register cluster-a as remote and remove unused code
  test/resources/c2cc.resource
  test/suites/c2cc/reboot.robot
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

OCPEDGE-2550: Update README.md for contextification
  README.md
Due: none

OCPEDGE-2552: Add AGENTS.md for contextification
  AGENTS.md
Due: none

OCPEDGE-2551: Add CONTRIBUTING.md for contextification
  CONTRIBUTING.md
Due: none

OCPEDGE-2557: Add docs directory for contextification
  docs/contributor/README.md
  docs/contributor/architecture.md
  docs/contributor/openshift_ci.md
  docs/contributor/rebase/guidelines.md
  docs/contributor/rebase/procedure.md
  docs/contributor/rebase/rebase.md
  docs/contributor/test_harness.md
Due: none

Add disruptive test tag and addressed PR comments
  test/resources/c2cc.resource
  test/suites/c2cc/reboot.robot
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

Fixed linting and addressed PR comments
  test/resources/c2cc.resource
  test/suites/c2cc/reboot.robot
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

Update packaging/rpm/microshift.spec
  packaging/rpm/microshift.spec
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rpm

Extend NextHop to be a slice
  cmd/generate-config/config/config-openapi-spec.json
  docs/user/howto_config.md
  etcd/vendor/github.com/openshift/microshift/pkg/config/c2cc.go
  packaging/microshift/config.yaml
  pkg/config/c2cc.go
  pkg/config/c2cc_test.go
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rpm

Setup multiple next hops
  pkg/controllers/c2cc/healthcheck.go
  pkg/controllers/c2cc/healthcheck_test.go
  pkg/controllers/c2cc/helpers_test.go
  pkg/controllers/c2cc/ovn.go
  pkg/controllers/c2cc/ovn_test.go
  pkg/controllers/c2cc/routes.go
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus

align node-exporter client-ca mounting with ksm and ms which use a configmap instead of hostpath
  assets/optional/node-exporter/03-daemonset.yaml
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

small verification fix
  test/resources/c2cc.resource
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

Add CLAUDE.md to repo root
  CLAUDE.md
Due: none

Prepare c2cc_common.sh for dualstack scenario
  test/bin/c2cc_common.sh
Due: microshift-metal-tests, metal-periodic-test, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm

removed disruptive.robot filtering
  test/scenarios-bootc/c2cc/el102-src@c2cc-disruptive.sh
  test/scenarios-bootc/c2cc/el98-src@c2cc-disruptive.sh
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

Initial implementation of bootc devenv
  scripts/devenv-bootc/Containerfile.bootc-builder
  scripts/devenv-bootc/README.md
  scripts/devenv-bootc/devenv.sh
  scripts/devenv-bootc/rhel-versions.json
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

Fall back to main if branch is not in rhel-versions.json
  scripts/devenv-bootc/devenv.sh
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

Remove host entitlement symlink so subscription-manager registers a fresh subscription
  scripts/devenv-bootc/Containerfile.bootc-builder
  scripts/devenv-bootc/devenv.sh
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

Fix container exec options
  scripts/devenv-bootc/devenv.sh
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

Resolve podman network conflict inside bootc containers
  scripts/devenv-bootc/Containerfile.bootc-builder
  scripts/devenv-bootc/devenv.sh
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

update last_rebase.sh
  scripts/auto-rebase/last_rebase.sh
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rebase

update changelog
  scripts/auto-rebase/changelog.txt
  scripts/auto-rebase/commits.txt
Due: test-rebase, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rebase

update component images
  packaging/crio.conf.d/10-microshift_amd64.conf
  packaging/crio.conf.d/10-microshift_arm64.conf
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rpm

update manifests
  assets/components/multus/kustomization.aarch64.yaml
  assets/components/multus/kustomization.x86_64.yaml
  assets/components/multus/release-multus-aarch64.json
  assets/components/multus/release-multus-x86_64.json
  assets/optional/operator-lifecycle-manager/kustomization.aarch64.yaml
  assets/optional/operator-lifecycle-manager/kustomization.x86_64.yaml
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

update buildfiles
  Makefile.version.aarch64.var
  Makefile.version.x86_64.var
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

Path conditions:
  test-rpm: any of: ^(rpm/*|packaging/.*|Makefile)
  test-rebase: any of: ^(assets/.*|scripts/auto-rebase/.*|go\.mod)
  microshift-metal-tests: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh|.*\.ks\.template)
  microshift-metal-cache: any of: ^test\/bin\/(ci_phase_iso_build|manage_build_cache)\.sh$
  microshift-metal-cache-arm: any of: ^(test/bin/ci_phase_iso_build.sh|test/bin/manage_build_cache.sh)
  metal-periodic-test: any of: (.*periodic.*|^test/bin/.*)
  ci/prow/e2e-aws-ai-model-serving: any of: ^(scripts/ci-ai-model-serving/.*)$
  ci/prow/e2e-aws-footprint-and-performance: any of: ^(scripts/ci-footprint-and-performance/.*)$
  ci/prow/e2e-aws-tests: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-arm: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-bootc: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-bootc-arm: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-bootc-periodic: any of: ^(test/bin/.*|test/scenarios-bootc/periodics/.*)$
  ci/prow/e2e-aws-tests-bootc-periodic-arm: any of: ^(test/bin/.*|test/scenarios-bootc/periodics/.*)$
  ci/prow/e2e-aws-tests-bootc-release: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/e2e-aws-tests-bootc-release-arm: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/e2e-aws-tests-bootc-upstream: any of: ^(test/scenarios-bootc/upstream/.*)$
  ci/prow/e2e-aws-tests-bootc-upstream-arm: any of: ^(test/scenarios-bootc/upstream/.*)$
  ci/prow/e2e-aws-tests-cache: any of: ^test\/bin\/(ci_phase_iso_build|manage_build_cache)\.sh$
  ci/prow/e2e-aws-tests-cache-arm: any of: ^test\/bin\/(ci_phase_iso_build|manage_build_cache)\.sh$
  ci/prow/e2e-aws-tests-periodic: any of: ^(test/bin/.*|test/scenarios-periodics/.*|test/scenarios/periodics/.*)$
  ci/prow/e2e-aws-tests-periodic-arm: any of: ^(test/bin/.*|test/scenarios-periodics/.*|test/scenarios/periodics/.*)$
  ci/prow/e2e-aws-tests-release: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/e2e-aws-tests-release-arm: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/ocp-full-conformance-rhel-eus: any of: ^(origin/.*|assets/.*|etcd/.*|pkg/.*|vendor/.*)$
  ci/prow/ocp-full-conformance-serial-rhel-eus: any of: ^(origin/.*|assets/.*|etcd/.*|pkg/.*|vendor/.*)$
  ci/prow/test-rebase: any of: ^(assets/.*|scripts/auto-rebase/.*|go\.mod|vendor/.*|deps/.*)$
  ci/prow/test-rpm: any of: ^(rpm/.*|packaging/.*|Makefile)$
