Repository openshift/microshift: changes, and which Prow jobs are due for each by the changed paths.
All: test-rpm, test-rebase, microshift-metal-tests, microshift-metal-cache, microshift-metal-cache-arm, metal-periodic-test, ci/prow/e2e-aws-ai-model-serving, ci/prow/e2e-aws-footprint-and-performance, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-bootc-release, ci/prow/e2e-aws-tests-bootc-release-arm, ci/prow/e2e-aws-tests-bootc-upstream, ci/prow/e2e-aws-tests-bootc-upstream-arm, ci/prow/e2e-aws-tests-cache, ci/prow/e2e-aws-tests-cache-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm, ci/prow/e2e-aws-tests-release, ci/prow/e2e-aws-tests-release-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase, ci/prow/test-rpm

Path conditions:
  test-rpm: any of: ^(rpm/*|packaging/.*|Makefile)
  test-rebase: any of: ^(assets/.*|scripts/auto-rebase/.*|go\.mod)
  microshift-metal-tests: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh|.*\.ks\.template)
  microshift-metal-cache: any of: ^test\/bin\/(ci_phase_iso_build|manage_build_cache)\.sh$
  microshift-metal-cache-arm: any of: ^(test/bin/ci_phase_iso_build.sh|test/bin/manage_build_cache.sh)
  metal-periodic-test: any of: (.*periodic.*|^test/bin/.*)
  ci/prow/e2e-aws-ai-model-serving: any of: ^(scripts/ci-ai-model-serving/.*)$
  ci/prow/e2e-aws-footprint-and-performance: any of: ^(scripts/ci-footprint-and-performance/.*)$
  ci/prow/e2e-aws-tests: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-arm: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-bootc: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-bootc-arm: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-bootc-periodic: any of: ^(test/bin/.*|test/scenarios-bootc/periodics/.*)$
  ci/prow/e2e-aws-tests-bootc-periodic-arm: any of: ^(test/bin/.*|test/scenarios-bootc/periodics/.*)$
  ci/prow/e2e-aws-tests-bootc-release: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/e2e-aws-tests-bootc-release-arm: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/e2e-aws-tests-bootc-upstream: any of: ^(test/scenarios-bootc/upstream/.*)$
  ci/prow/e2e-aws-tests-bootc-upstream-arm: any of: ^(test/scenarios-bootc/upstream/.*)$
  ci/prow/e2e-aws-tests-cache: any of: ^test\/bin\/(ci_phase_iso_build|manage_build_cache)\.sh$
  ci/prow/e2e-aws-tests-cache-arm: any of: ^test\/bin\/(ci_phase_iso_build|manage_build_cache)\.sh$
  ci/prow/e2e-aws-tests-periodic: any of: ^(test/bin/.*|test/scenarios-periodics/.*|test/scenarios/periodics/.*)$
  ci/prow/e2e-aws-tests-periodic-arm: any of: ^(test/bin/.*|test/scenarios-periodics/.*|test/scenarios/periodics/.*)$
  ci/prow/e2e-aws-tests-release: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/e2e-aws-tests-release-arm: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/ocp-full-conformance-rhel-eus: any of: ^(origin/.*|assets/.*|etcd/.*|pkg/.*|vendor/.*)$
  ci/prow/ocp-full-conformance-serial-rhel-eus: any of: ^(origin/.*|assets/.*|etcd/.*|pkg/.*|vendor/.*)$
  ci/prow/test-rebase: any of: ^(assets/.*|scripts/auto-rebase/.*|go\.mod|vendor/.*|deps/.*)$
  ci/prow/test-rpm: any of: ^(rpm/.*|packaging/.*|Makefile)$

update manifests
  assets/optional/multus/kustomization.aarch64.yaml
  assets/optional/multus/kustomization.x86_64.yaml
  assets/optional/multus/release-multus-aarch64.json
  assets/optional/multus/release-multus-x86_64.json
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

update buildfiles
  Makefile.version.aarch64.var
  Makefile.version.x86_64.var
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

update etcd/go.mod
  etcd/go.mod
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus

update microshift/vendor
  vendor/k8s.io/client-go/util/cert/cert.go
  vendor/k8s.io/dynamic-resource-allocation/structured/allocator.go
  vendor/k8s.io/kubernetes/pkg/apis/batch/validation/validation.go
  vendor/k8s.io/kubernetes/pkg/registry/batch/job/strategy.go
  vendor/k8s.io/kubernetes/pkg/volume/csi/csi_attacher.go
  vendor/k8s.io/kubernetes/pkg/volume/plugins.go
  vendor/k8s.io/kubernetes/pkg/volume/portworx/portworx.go
  vendor/modules.txt
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

update component images
  packaging/crio.conf.d/10-microshift_amd64.conf
  packaging/crio.conf.d/10-microshift_arm64.conf
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rpm

update etcd/vendor
  etcd/vendor/k8s.io/client-go/util/cert/cert.go
  etcd/vendor/modules.txt
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus

update manifests
  assets/components/multus/release-multus-aarch64.json
  assets/components/multus/release-multus-x86_64.json
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

update buildfiles
  Makefile.kube_git.var
  Makefile.version.aarch64.var
  Makefile.version.x86_64.var
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

update kubernetes version in CNCF scripts
  scripts/multinode/configure-sec.sh
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

update component images
  packaging/crio.conf.d/10-microshift_arm64.conf
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rpm

update buildfiles
  Makefile.version.aarch64.var
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

update manifests
  assets/components/multus/release-multus-aarch64.json
  assets/optional/operator-lifecycle-manager/kustomization.aarch64.yaml
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/release/release-aarch64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

Update SR-IOV for MicroShift
  assets/optional/sriov/deploy/operator.yaml
  assets/optional/sriov/release-sriov-aarch64.json
  assets/optional/sriov/release-sriov-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

update last_rebase.sh
  scripts/auto-rebase/last_rebase.sh
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rebase

update changelog
  scripts/auto-rebase/changelog.txt
Due: test-rebase, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rebase

update manifests
  assets/optional/multus/release-multus-aarch64.json
  assets/optional/multus/release-multus-x86_64.json
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

USHIFT-6358: Add comment about SYNC_FREQUENCY
  test/scenarios-bootc/presubmits/el96-src@standard-suite1.sh
  test/scenarios/presubmits/el96-src@standard-suite1.sh
  test/suites/standard1/dns.robot
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

USHIFT-6359: Force SRIOV_CNI_BIN_PATH value
  scripts/auto-rebase/rebase_sriov.sh
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rebase

Add sriov test
  test/bin/common.sh
  test/bin/scenario.sh
  test/image-blueprints-bootc/layer2-presubmit/group2/rhel96-bootc-source-optionals.containerfile
  test/suites/optional/sriov.robot
Due: microshift-metal-tests, metal-periodic-test, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm

Fix shellcheck
  test/bin/scenario.sh
Due: microshift-metal-tests, metal-periodic-test, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm

Minor fixes
  test/bin/scenario.sh
  test/image-blueprints-bootc/layer2-presubmit/group2/rhel96-bootc-source-optionals.containerfile
Due: microshift-metal-tests, metal-periodic-test, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm

Add entry for healthcheck, fix RF test naming
  pkg/healthcheck/microshift_optional_workloads.go
  test/bin/common.sh
  test/scenarios-bootc/presubmits/el96-src@optional.sh
  test/suites/optional/sriov.robot
Due: microshift-metal-tests, metal-periodic-test, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus

Add test case, address comments
  test/assets/sriov/sriov-network-policy-template.yaml
  test/bin/common.sh
  test/suites/optional/sriov.robot
Due: microshift-metal-tests, metal-periodic-test, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm

Address comments
  test/bin/scenario.sh
  test/suites/optional/sriov.robot
Due: microshift-metal-tests, metal-periodic-test, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm

Add debug line
  test/suites/optional/sriov.robot
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

Minor workload fix
  test/assets/sriov/sriov-network-policy-template.yaml
  test/suites/optional/sriov.robot
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

USHIFT-6141: Fix sriov node policy syntax
  test/assets/sriov/sriov-network-policy-template.yaml
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

USHIFT-6141: Update SRIOV tests with new checks
  test/suites/optional/sriov.robot
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

update changelog
  scripts/auto-rebase/changelog.txt
  scripts/auto-rebase/commits.txt
Due: test-rebase, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rebase

Update AI Model Serving for MicroShift
  assets/optional/ai-model-serving/kserve/overlays/odh/params.env
  assets/optional/ai-model-serving/release-ai-model-serving-x86_64.json
  assets/optional/ai-model-serving/runtimes/kustomization.x86_64.yaml
  assets/optional/ai-model-serving/runtimes/vllm-gaudi.yaml
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

Update common_versions.sh
  test/bin/common_versions.sh
Due: microshift-metal-tests, metal-periodic-test, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm

cert-manager tests increase timeout in routes with Custom certificate
  test/suites/optional/cert-manager.robot
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm
