Repository openshift/microshift: changes, and which Prow jobs are due for each by the changed paths.
All: test-srpm, e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

Path conditions:
  test-srpm: any of: ^(rpm/*|packaging/.*|Makefile)
  e2e-openshift-conformance-reduced: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  e2e-openshift-conformance-reduced-arm: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  microshift-e2e: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  microshift-e2e-arm: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-8-x86_64-e2e-reboot: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  ci/prow/rhel-8-x86_64-e2e-router-smoke-test: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-8-x86_64-test-srpm: any of: ^(rpm/*|packaging/.*|Makefile)
  ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-aarch64-e2e-reboot: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  ci/prow/rhel-9-aarch64-e2e-router-smoke-test: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-aarch64-e2e-rpm-install: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-aarch64-test-srpm: any of: ^(rpm/*|packaging/.*|Makefile)
  ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-x86_64-e2e-reboot: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  ci/prow/rhel-9-x86_64-e2e-router-smoke-test: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-x86_64-e2e-rpm-install: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-x86_64-test-srpm: any of: ^(rpm/*|packaging/.*|Makefile)

update etcd/vendor
  etcd/vendor/k8s.io/api/batch/v1/generated.proto
  etcd/vendor/k8s.io/api/batch/v1/types.go
  etcd/vendor/k8s.io/api/batch/v1/types_swagger_doc_generated.go
  etcd/vendor/k8s.io/api/core/v1/generated.proto
  etcd/vendor/k8s.io/api/core/v1/types.go
  etcd/vendor/k8s.io/api/core/v1/types_swagger_doc_generated.go
  etcd/vendor/k8s.io/apimachinery/pkg/types/namespacedname.go
  etcd/vendor/k8s.io/cli-runtime/pkg/resource/fallback_query_param_verifier.go
  etcd/vendor/k8s.io/cli-runtime/pkg/resource/query_param_verifier_v3.go
  etcd/vendor/k8s.io/client-go/discovery/discovery_client.go
  etcd/vendor/k8s.io/client-go/openapi/client.go
  etcd/vendor/k8s.io/client-go/openapi/groupversion.go
  etcd/vendor/modules.txt
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm

update component images
  packaging/crio.conf.d/microshift_amd64.conf
  packaging/crio.conf.d/microshift_arm64.conf
Due: test-srpm, e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

rebase.sh failure artifacts
  assets/components/lvms/topolvm-controller_v1_serviceaccount.yaml
  assets/components/lvms/topolvm-csi-provisioner_rbac.authorization.k8s.io_v1_role.yaml
  assets/components/lvms/topolvm-csi-provisioner_rbac.authorization.k8s.io_v1_rolebinding.yaml
  assets/components/lvms/topolvm-node_v1_serviceaccount.yaml
  assets/components/openshift-dns/dns/daemonset.yaml
  assets/components/openshift-dns/dns/service.yaml
  assets/components/openshift-dns/node-resolver/daemonset.yaml
  assets/components/openshift-router/deployment.yaml
  assets/components/openshift-router/service-internal.yaml
  assets/components/service-ca/deployment.yaml
  assets/components/service-ca/ns.yaml
  assets/controllers/kube-apiserver/defaultconfig.yaml
  assets/controllers/kube-controller-manager/defaultconfig.yaml
  assets/controllers/route-controller-manager/0000_50_cluster-openshift-route-controller-manager_00_namespace.yaml
  assets/controllers/route-controller-manager/informer-clusterrole.yaml
  assets/controllers/route-controller-manager/informer-clusterrolebinding.yaml
  assets/controllers/route-controller-manager/route-controller-manager-ingress-to-route-controller-clusterrole.yaml
  assets/controllers/route-controller-manager/route-controller-manager-ingress-to-route-controller-clusterrolebinding.yaml
  assets/controllers/route-controller-manager/route-controller-manager-leader-role.yaml
  assets/controllers/route-controller-manager/route-controller-manager-leader-rolebinding.yaml
  assets/controllers/route-controller-manager/route-controller-manager-sa.yaml
  assets/controllers/route-controller-manager/route-controller-manager-separate-sa-role.yaml
  assets/controllers/route-controller-manager/route-controller-manager-separate-sa-rolebinding.yaml
  assets/controllers/route-controller-manager/route-controller-manager-tokenreview-clusterrole.yaml
  assets/controllers/route-controller-manager/route-controller-manager-tokenreview-clusterrolebinding.yaml
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
  rebase_sh.log
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update last_rebase.sh
  scripts/auto-rebase/last_rebase.sh
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update changelog
  scripts/auto-rebase/changelog.txt
  scripts/auto-rebase/commits.txt
Due: none

update go.mod
  go.mod
  go.sum
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update manifests
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update buildfiles
  Makefile.kube_git.var
Due: test-srpm, e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

revert assets
  scripts/auto-rebase/assets.yaml
Due: none

update microshift/go.mod
  go.mod
  go.sum
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update etcd/go.mod
  etcd/go.mod
  etcd/go.sum
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm

update manifests
  assets/controllers/route-controller-manager/informer-clusterrole.yaml
  assets/controllers/route-controller-manager/informer-clusterrolebinding.yaml
  assets/controllers/route-controller-manager/ingress-to-route-controller-clusterrole.yaml
  assets/controllers/route-controller-manager/ingress-to-route-controller-clusterrolebinding.yaml
  assets/controllers/route-controller-manager/route-controller-informer-clusterrole.yaml
  assets/controllers/route-controller-manager/route-controller-informer-clusterrolebinding.yaml
  assets/controllers/route-controller-manager/route-controller-leader-role.yaml
  assets/controllers/route-controller-manager/route-controller-leader-rolebinding.yaml
  assets/controllers/route-controller-manager/route-controller-sa.yaml
  assets/controllers/route-controller-manager/route-controller-separate-sa-role.yaml
  assets/controllers/route-controller-manager/route-controller-separate-sa-rolebinding.yaml
  assets/controllers/route-controller-manager/route-controller-tokenreview-clusterrole.yaml
  assets/controllers/route-controller-manager/route-controller-tokenreview-clusterrolebinding.yaml
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update buildfiles
  Makefile.kube_git.var
  Makefile.version.aarch64.var
  Makefile.version.x86_64.var
Due: test-srpm, e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

release-4.13: Port Getting Started instructions to use RHEL 9.2 and MicroShift 4.13
  docs/config/microshift-starter.ks
  docs/getting_started.md
Due: none

revert RCM assets
  pkg/controllers/openshift-route-controller-manager.go
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

--force to overwrite backup via cli
  pkg/admin/data/backup.go
  pkg/admin/data/manager.go
  pkg/admin/data/types.go
  pkg/cmd/admin.go
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

rename manager.go for better logs
  pkg/admin/data/data_manager.go
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

interface impl assertion and better 'Restore not impl' log
  pkg/admin/data/data_manager.go
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update etcd/vendor
  etcd/vendor/k8s.io/api/batch/v1/generated.proto
  etcd/vendor/k8s.io/api/batch/v1/types.go
  etcd/vendor/k8s.io/api/batch/v1/types_swagger_doc_generated.go
  etcd/vendor/k8s.io/api/core/v1/generated.proto
  etcd/vendor/k8s.io/api/core/v1/types.go
  etcd/vendor/k8s.io/api/core/v1/types_swagger_doc_generated.go
  etcd/vendor/k8s.io/client-go/discovery/aggregated_discovery.go
  etcd/vendor/k8s.io/client-go/discovery/discovery_client.go
  etcd/vendor/k8s.io/client-go/openapi/client.go
  etcd/vendor/k8s.io/client-go/openapi/groupversion.go
  etcd/vendor/modules.txt
Due: e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm

update changelog
  scripts/auto-rebase/changelog.txt
Due: none

update buildfiles
  Makefile.version.aarch64.var
  Makefile.version.x86_64.var
Due: test-srpm, e2e-openshift-conformance-reduced, e2e-openshift-conformance-reduced-arm, microshift-e2e, microshift-e2e-arm, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm
