Repository openshift/microshift: changes, and which Prow jobs are due for each by the changed paths.
All: test-rpm, test-rebase, microshift-metal-tests, microshift-metal-cache, microshift-metal-cache-arm, metal-periodic-test, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

test-rpm:
  cluster: build02
  commands: RPM_INFO=true make rpm srpm
  container:
    from: microshift-test-rpm

test-rebase:
  cluster: build02
  optional: true
  steps:
    env:
      DRY_RUN: y
    workflow: openshift-microshift-rebase

microshift-metal-tests:
  cluster: build02
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-02b8534ff4b424939
      EC2_INSTANCE_TYPE: c5n.metal
    workflow: openshift-microshift-e2e-metal-tests

microshift-metal-cache:
  cluster: build02
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-02b8534ff4b424939
    workflow: openshift-microshift-e2e-metal-cache

microshift-metal-cache-arm:
  cluster: build02
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-08c7e766098f8cb4f
      EC2_INSTANCE_TYPE: t4g.2xlarge
    workflow: openshift-microshift-e2e-metal-cache

metal-periodic-test:
  cluster: build02
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-02b8534ff4b424939
      EC2_INSTANCE_TYPE: c5n.metal
    workflow: openshift-microshift-e2e-metal-tests

ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci-operator.openshift.io/cluster: build02
    ci-operator.openshift.io/variant: rhel-8-x86_64
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  ...

ci/prow/rhel-8-x86_64-e2e-reboot:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci-operator.openshift.io/cluster: build02
    ci-operator.openshift.io/variant: rhel-8-x86_64
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  ...

ci/prow/rhel-8-x86_64-e2e-router-smoke-test:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci-operator.openshift.io/cluster: build02
    ci-operator.openshift.io/variant: rhel-8-x86_64
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  ...

ci/prow/rhel-8-x86_64-test-srpm:
  decorate: true
  labels:
    ci-operator.openshift.io/cluster: build02
    ci-operator.openshift.io/variant: rhel-8-x86_64
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci-operator.openshift.io/cluster: build02
    ci-operator.openshift.io/variant: rhel-9-aarch64
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  ...

Bootc container image and installer for AI Model Serving tests
  test/image-blueprints-bootc/layer2-source/group2/rhel95-bootc-source-ai-model-serving.containerfile
  test/image-blueprints-bootc/layer2-source/group3/rhel95-bootc-source-ai-model-serving.image-bootc
Due: microshift-metal-tests

Add _stream_file generator function
  test/resources/qemu-guest-agent.py
Due: microshift-metal-tests

Fix pycheck
  test/resources/qemu-guest-agent.py
Due: microshift-metal-tests

Build ai-model-serving only on x86_64
  test/bin/pyutils/build_bootc_images.py
  test/image-blueprints-bootc/layer2-source/group2/rhel95-bootc-source-ai-model-serving.containerfile
  test/image-blueprints-bootc/layer2-source/group3/rhel95-bootc-source-ai-model-serving.image-bootc
  test/scenarios-bootc/presubmits/el95-src@ai-model-serving.sh
Due: microshift-metal-tests, metal-periodic-test, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

Resnet OCI image
  test/suites/ai-model-serving/Containerfile
Due: microshift-metal-tests

Check microshift.service for all healthchecks
  pkg/healthcheck/healthcheck.go
  test/suites/optional/healthchecks-disabled-service.robot
Due: microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

CI add optional-skipped-rpms option to configure-vm
  scripts/devenv-builder/configure-vm.sh
Due: microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

Replace GenerateUniqueTempPath call in node.go
  pkg/config/node.go
Due: microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

Fix hadolint
  test/image-blueprints-bootc/layer2-source/group2/rhel95-bootc-source-ai-model-serving.containerfile
Due: microshift-metal-tests

rebase.sh failure artifacts
  rebase_sh.log
Due: none

update changelog
  scripts/auto-rebase/changelog.txt
  scripts/auto-rebase/commits.txt
Due: test-rebase

update last_rebase.sh
  scripts/auto-rebase/last_rebase.sh
Due: test-rebase, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update manifests
  assets/optional/multus/release-multus-aarch64.json
  assets/optional/multus/release-multus-x86_64.json
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update buildfiles
  Makefile.version.aarch64.var
  Makefile.version.x86_64.var
Due: test-rpm, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

update manifests
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update manifests
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update changelog
  scripts/auto-rebase/changelog.txt
Due: test-rebase

update microshift/go.mod
  go.mod
  go.sum
Due: test-rebase, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update microshift/vendor
  vendor/go.etcd.io/etcd/api/v3/version/version.go
  vendor/go.etcd.io/etcd/client/v3/lease.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/customresourcevalidation/node/restrict_extreme_worker_latency_profile.go
  vendor/k8s.io/kubernetes/openshift-kube-apiserver/admission/customresourcevalidation/node/validate_node_config.go
  vendor/modules.txt
Due: microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update etcd/go.mod
  etcd/go.mod
  etcd/go.sum
Due: microshift-metal-tests

update etcd/vendor
  etcd/vendor/github.com/golang-jwt/jwt/v4/parser.go
  etcd/vendor/github.com/openshift/microshift/pkg/util/net.go
  etcd/vendor/go.etcd.io/etcd/api/v3/version/version.go
  etcd/vendor/go.etcd.io/etcd/client/v3/lease.go
  etcd/vendor/go.etcd.io/etcd/server/v3/embed/etcd.go
  etcd/vendor/go.etcd.io/etcd/server/v3/embed/serve.go
  etcd/vendor/go.etcd.io/etcd/server/v3/etcdserver/server.go
  etcd/vendor/go.etcd.io/etcd/server/v3/mvcc/key_index.go
  etcd/vendor/go.etcd.io/etcd/server/v3/mvcc/kvstore.go
  etcd/vendor/modules.txt
Due: microshift-metal-tests

update component images
  packaging/crio.conf.d/10-microshift_amd64.conf
  packaging/crio.conf.d/10-microshift_arm64.conf
Due: test-rpm, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

update manifests
  assets/controllers/kube-apiserver/defaultconfig.yaml
  assets/optional/multus/kustomization.x86_64.yaml
  assets/optional/multus/release-multus-aarch64.json
  assets/optional/multus/release-multus-x86_64.json
  assets/optional/operator-lifecycle-manager/kustomization.aarch64.yaml
  assets/optional/operator-lifecycle-manager/kustomization.x86_64.yaml
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update buildfiles
  Makefile.kube_git.var
  Makefile.version.aarch64.var
  Makefile.version.x86_64.var
Due: test-rpm, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

OCPBUGS-51366: Update comment
  pkg/util/net.go
Due: microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

OCPBUGS-51366: Sort interfaces by index
  pkg/util/net.go
Due: microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

explicitly specify authorization-mode
  pkg/controllers/kube-apiserver.go
Due: microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

Create offline.resource for common usage
  test/resources/offline.resource
  test/suites/network/offline.robot
Due: microshift-metal-tests

AI Model Serving Offline Sanity Test
  test/scenarios-bootc/presubmits/el95-src@ai-model-serving.sh
  test/suites/ai-model-serving/ai-model-serving.robot
Due: microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

Path conditions:
  test-rpm: any of: ^(rpm/*|packaging/.*|Makefile)
  test-rebase: any of: ^(assets/.*|scripts/auto-rebase/.*|go\.mod)
  microshift-metal-tests: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh|.*\.ks\.template)
  microshift-metal-cache: any of: ^test\/bin\/(ci_phase_iso_build|manage_build_cache)\.sh$
  microshift-metal-cache-arm: any of: ^(test/bin/ci_phase_iso_build.sh|test/bin/manage_build_cache.sh)
  metal-periodic-test: any of: (.*periodic.*|^test/bin/.*)
  ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-8-x86_64-e2e-reboot: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  ci/prow/rhel-8-x86_64-e2e-router-smoke-test: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-8-x86_64-test-srpm: any of: ^(rpm/*|packaging/.*|Makefile)
  ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-aarch64-e2e-reboot: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  ci/prow/rhel-9-aarch64-e2e-router-smoke-test: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-aarch64-e2e-rpm-install: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-aarch64-test-srpm: any of: ^(rpm/*|packaging/.*|Makefile)
  ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-x86_64-e2e-reboot: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  ci/prow/rhel-9-x86_64-e2e-router-smoke-test: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-x86_64-e2e-rpm-install: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-x86_64-test-srpm: any of: ^(rpm/*|packaging/.*|Makefile)
