Repository openshift/microshift: changes, and which Prow jobs are due for each by the changed paths.
All: test-rpm, test-rebase, microshift-metal-tests, microshift-metal-cache, microshift-metal-cache-arm, metal-periodic-test, ci/prow/e2e-aws-ai-model-serving, ci/prow/e2e-aws-footprint-and-performance, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-bootc-release, ci/prow/e2e-aws-tests-bootc-release-arm, ci/prow/e2e-aws-tests-bootc-upstream, ci/prow/e2e-aws-tests-bootc-upstream-arm, ci/prow/e2e-aws-tests-cache, ci/prow/e2e-aws-tests-cache-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm, ci/prow/e2e-aws-tests-release, ci/prow/e2e-aws-tests-release-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase, ci/prow/test-rpm

Path conditions:
  test-rpm: any of: ^(rpm/*|packaging/.*|Makefile)
  test-rebase: any of: ^(assets/.*|scripts/auto-rebase/.*|go\.mod)
  microshift-metal-tests: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh|.*\.ks\.template)
  microshift-metal-cache: any of: ^test\/bin\/(ci_phase_iso_build|manage_build_cache)\.sh$
  microshift-metal-cache-arm: any of: ^(test/bin/ci_phase_iso_build.sh|test/bin/manage_build_cache.sh)
  metal-periodic-test: any of: (.*periodic.*|^test/bin/.*)
  ci/prow/e2e-aws-ai-model-serving: any of: ^(scripts/ci-ai-model-serving/.*)$
  ci/prow/e2e-aws-footprint-and-performance: any of: ^(scripts/ci-footprint-and-performance/.*)$
  ci/prow/e2e-aws-tests: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-arm: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-bootc: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-bootc-arm: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|Makefile.*|scripts/.*)$
  ci/prow/e2e-aws-tests-bootc-periodic: any of: ^(test/bin/.*|test/scenarios-bootc/periodics/.*)$
  ci/prow/e2e-aws-tests-bootc-periodic-arm: any of: ^(test/bin/.*|test/scenarios-bootc/periodics/.*)$
  ci/prow/e2e-aws-tests-bootc-release: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/e2e-aws-tests-bootc-release-arm: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/e2e-aws-tests-bootc-upstream: any of: ^(test/scenarios-bootc/upstream/.*)$
  ci/prow/e2e-aws-tests-bootc-upstream-arm: any of: ^(test/scenarios-bootc/upstream/.*)$
  ci/prow/e2e-aws-tests-cache: any of: ^test\/bin\/(ci_phase_iso_build|manage_build_cache)\.sh$
  ci/prow/e2e-aws-tests-cache-arm: any of: ^test\/bin\/(ci_phase_iso_build|manage_build_cache)\.sh$
  ci/prow/e2e-aws-tests-periodic: any of: ^(test/bin/.*|test/scenarios-periodics/.*|test/scenarios/periodics/.*)$
  ci/prow/e2e-aws-tests-periodic-arm: any of: ^(test/bin/.*|test/scenarios-periodics/.*|test/scenarios/periodics/.*)$
  ci/prow/e2e-aws-tests-release: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/e2e-aws-tests-release-arm: any of: ^(test/scenarios-bootc/releases/.*|test/scenarios/releases/.*)$
  ci/prow/ocp-full-conformance-rhel-eus: any of: ^(origin/.*|assets/.*|etcd/.*|pkg/.*|vendor/.*)$
  ci/prow/ocp-full-conformance-serial-rhel-eus: any of: ^(origin/.*|assets/.*|etcd/.*|pkg/.*|vendor/.*)$
  ci/prow/test-rebase: any of: ^(assets/.*|scripts/auto-rebase/.*|go\.mod|vendor/.*|deps/.*)$
  ci/prow/test-rpm: any of: ^(rpm/.*|packaging/.*|Makefile)$

update last_rebase.sh
  scripts/auto-rebase/last_rebase.sh
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rebase

update changelog
  scripts/auto-rebase/changelog.txt
  scripts/auto-rebase/commits.txt
Due: test-rebase, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rebase

update component images
  packaging/crio.conf.d/10-microshift_amd64.conf
  packaging/crio.conf.d/10-microshift_arm64.conf
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/test-rpm

update manifests
  assets/optional/multus/kustomization.aarch64.yaml
  assets/optional/multus/kustomization.x86_64.yaml
  assets/optional/multus/release-multus-aarch64.json
  assets/optional/multus/release-multus-x86_64.json
  assets/optional/operator-lifecycle-manager/kustomization.aarch64.yaml
  assets/optional/operator-lifecycle-manager/kustomization.x86_64.yaml
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

update buildfiles
  Makefile.version.aarch64.var
  Makefile.version.x86_64.var
Due: test-rpm, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

update manifests
  assets/components/multus/kustomization.aarch64.yaml
  assets/components/multus/kustomization.x86_64.yaml
  assets/components/multus/release-multus-aarch64.json
  assets/components/multus/release-multus-x86_64.json
  assets/optional/operator-lifecycle-manager/kustomization.aarch64.yaml
  assets/optional/operator-lifecycle-manager/kustomization.x86_64.yaml
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

OCPEDGE-3091: Run kubelet credential provider RF suite on ostree and bootc hosts
  test/suites/standard2/kubelet-credential-provider.robot
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

Revert "Install kernel-modules-extra package on CentOS 10 to provide for the missing kernel modules"
  test/image-blueprints-bootc/upstream/group1/cos10-test-agent.containerfile
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

Delete upstream bootc images
  test/image-blueprints-bootc/README.md
  test/image-blueprints-bootc/upstream/group1/cos10-test-agent.containerfile
  test/image-blueprints-bootc/upstream/group1/cos9-test-agent.containerfile
  test/image-blueprints-bootc/upstream/group2/centos10-bootc.image-bootc
  test/image-blueprints-bootc/upstream/group2/centos9-bootc.image-bootc
  test/image-blueprints-bootc/upstream/group2/cos10-bootc-source.containerfile
  test/image-blueprints-bootc/upstream/group2/cos9-bootc-source.containerfile
  test/image-blueprints-bootc/upstream/group3/cos10-bootc-source-isolated.containerfile
  test/image-blueprints-bootc/upstream/group3/cos10-bootc-source-optionals.containerfile
  test/image-blueprints-bootc/upstream/group3/cos9-bootc-source-isolated.containerfile
  test/image-blueprints-bootc/upstream/group3/cos9-bootc-source-optionals.containerfile
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

Delete upstream bootc scenarios
  test/scenarios-bootc/upstream/cos10-src@configuration1.sh
  test/scenarios-bootc/upstream/cos10-src@greenboot.sh
  test/scenarios-bootc/upstream/cos10-src@isolated-net.sh
  test/scenarios-bootc/upstream/cos10-src@multi-nic.sh
  test/scenarios-bootc/upstream/cos10-src@optional.sh
  test/scenarios-bootc/upstream/cos10-src@standard-suite1.sh
  test/scenarios-bootc/upstream/cos10-src@standard-suite2.sh
  test/scenarios-bootc/upstream/cos9-src@configuration1.sh
  test/scenarios-bootc/upstream/cos9-src@greenboot.sh
  test/scenarios-bootc/upstream/cos9-src@isolated-net.sh
  test/scenarios-bootc/upstream/cos9-src@multi-nic.sh
  test/scenarios-bootc/upstream/cos9-src@optional.sh
  test/scenarios-bootc/upstream/cos9-src@standard-suite1.sh
  test/scenarios-bootc/upstream/cos9-src@standard-suite2.sh
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-upstream, ci/prow/e2e-aws-tests-bootc-upstream-arm

OCPBUGS-128456: Reconnect SSH while waiting for greenboot health check
  test/resources/ostree-health.resource
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

Disable xtrace when handling pull secret
  test/bin/scenario.sh
Due: microshift-metal-tests, metal-periodic-test, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/e2e-aws-tests-bootc-periodic, ci/prow/e2e-aws-tests-bootc-periodic-arm, ci/prow/e2e-aws-tests-periodic, ci/prow/e2e-aws-tests-periodic-arm

USHIFT-7443: modernize Ansible task syntax
  .ansible-lint
  ansible/roles/add-kubelet-logging/files/metrics-sa.yaml
  ansible/roles/add-kubelet-logging/tasks/main.yml
  ansible/roles/common/tasks/boot.yml
  ansible/roles/common/tasks/disk.yml
  ansible/roles/common/tasks/nodename.yml
  ansible/roles/common/tasks/results-dir.yml
  ansible/roles/configure-firewall/defaults/main.yml
  ansible/roles/configure-firewall/tasks/main.yml
  ansible/roles/create-service-account/files/metrics-sa.yaml
  ansible/roles/create-service-account/tasks/main.yml
  ansible/roles/create-vm/handlers/main.yml
  ansible/roles/create-vm/tasks/main.yml
  ansible/roles/fetch-kubeconfig/tasks/main.yml
  ansible/roles/install-logging-exporters/defaults/main.yml
  ansible/roles/install-logging-exporters/tasks/main.yml
  ansible/roles/install-logging/tasks/main.yml
  ansible/roles/install-microshift/tasks/main.yml
  ansible/roles/manage-repos/defaults/main.yml
  ansible/roles/manage-repos/tasks/create-mirrors.yaml
  ansible/roles/manage-repos/tasks/main.yml
  ansible/roles/manage-repos/tasks/probe-mirror.yaml
  ansible/roles/microshift-start/tasks/main.yml
  ansible/roles/nvidia-gpu-setup/defaults/main.yml
  ansible/roles/nvidia-gpu-setup/tasks/main.yml
  ansible/roles/nvidia-gpu-test/defaults/main.yml
  ansible/roles/nvidia-gpu-test/tasks/main.yml
  ansible/roles/quick-microshift-boot/tasks/main.yml
  ansible/roles/run-workloads/tasks/kube-burner.yml
  ansible/roles/run-workloads/tasks/main.yml
  ansible/roles/setup-localhost/defaults/main.yml
  ansible/roles/setup-localhost/tasks/main.yml
  ansible/roles/setup-microshift-host/defaults/main.yml
  ansible/roles/setup-microshift-host/handlers/main.yml
  ansible/roles/setup-microshift-host/tasks/main.yml
  ansible/roles/setup-microshift-host/tasks/storage.yml
  ansible/setup-node.yml
  ansible/vars/all.yml
  ansible/vars/microshift_versions.yml
Due: none

OCPBUGS-128590: Assert downgrade-block backup by deployment, not boot ID
  test/resources/libostree.py
  test/resources/ostree-data.resource
  test/suites/upgrade/downgrade-block.robot
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

fix interconnect mode for multinode in ovnk
  assets/components/ovn/common/configmap.yaml
  assets/components/ovn/multi-node/master/daemonset.yaml
  assets/components/ovn/multi-node/node/daemonset.yaml
  pkg/components/networking.go
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

OCPBUGS-128590: Assert downgrade-block version failure via journal cursor
  test/resources/ostree.resource
  test/suites/upgrade/downgrade-block.robot
Due: microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm

OCPBUGS-128796: fix interconnect mode for multinode in ovnk
  assets/components/ovn/common/configmap.yaml
  assets/components/ovn/multi-node/master/daemonset.yaml
  assets/components/ovn/multi-node/node/daemonset.yaml
  pkg/components/networking.go
Due: test-rebase, microshift-metal-tests, ci/prow/e2e-aws-tests, ci/prow/e2e-aws-tests-arm, ci/prow/e2e-aws-tests-bootc, ci/prow/e2e-aws-tests-bootc-arm, ci/prow/ocp-full-conformance-rhel-eus, ci/prow/ocp-full-conformance-serial-rhel-eus, ci/prow/test-rebase

USHIFT-7538: Ansible: install only core RPMs for source builds
  ansible/README.md
  ansible/roles/install-microshift/defaults/main.yml
  ansible/roles/install-microshift/tasks/main.yml
Due: none
