Repository openshift/microshift: changes, and which Prow jobs are due for each by the changed paths.
All: test-rpm, test-rebase, microshift-metal-tests, microshift-metal-cache, microshift-metal-cache-arm, metal-periodic-test, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

test-rpm:
  cluster: build02
  commands: RPM_INFO=true make rpm srpm
  container:
    from: microshift-test-rpm

test-rebase:
  cluster: build02
  optional: true
  steps:
    env:
      DRY_RUN: y
    workflow: openshift-microshift-rebase

microshift-metal-tests:
  cluster: build02
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-02b8534ff4b424939
      EC2_INSTANCE_TYPE: c5n.metal
    workflow: openshift-microshift-e2e-metal-tests

microshift-metal-cache:
  cluster: build02
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-02b8534ff4b424939
    workflow: openshift-microshift-e2e-metal-cache

microshift-metal-cache-arm:
  cluster: build02
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-08c7e766098f8cb4f
      EC2_INSTANCE_TYPE: t4g.2xlarge
    workflow: openshift-microshift-e2e-metal-cache

metal-periodic-test:
  cluster: build02
  steps:
    cluster_profile: aws
    env:
      EC2_AMI: ami-02b8534ff4b424939
      EC2_INSTANCE_TYPE: c5n.metal
    workflow: openshift-microshift-e2e-metal-tests

ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci-operator.openshift.io/cluster: build02
    ci-operator.openshift.io/variant: rhel-8-x86_64
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  ...

ci/prow/rhel-8-x86_64-e2e-reboot:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci-operator.openshift.io/cluster: build02
    ci-operator.openshift.io/variant: rhel-8-x86_64
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  ...

ci/prow/rhel-8-x86_64-e2e-router-smoke-test:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci-operator.openshift.io/cluster: build02
    ci-operator.openshift.io/variant: rhel-8-x86_64
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  ...

ci/prow/rhel-8-x86_64-test-srpm:
  decorate: true
  labels:
    ci-operator.openshift.io/cluster: build02
    ci-operator.openshift.io/variant: rhel-8-x86_64
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: gcp
    ci-operator.openshift.io/cloud-cluster-profile: gcp
    ci-operator.openshift.io/cluster: build02
    ci-operator.openshift.io/variant: rhel-9-aarch64
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  ...

update buildfiles
  Makefile.kube_git.var
  Makefile.version.aarch64.var
  Makefile.version.x86_64.var
Due: test-rpm, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

Removed unused nginx_conf
  test/bin/manage_webserver.sh
Due: microshift-metal-tests, metal-periodic-test, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

merged build_rpms.sh and create_local_repo.sh
  test/bin/build_rpms.sh
  test/bin/create_local_repo.sh
Due: microshift-metal-tests, metal-periodic-test, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

Minor wording changes after review
  docs/contributor/image_mode.md
Due: none

Updated doc
  test/README.md
Due: microshift-metal-tests

Added back recreation of dnf cache
  test/bin/build_rpms.sh
Due: microshift-metal-tests, metal-periodic-test, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

Early warning low latency job
  scripts/ci-footprint-and-performance/1-setup.sh
  scripts/ci-footprint-and-performance/2-test.sh
  scripts/ci-footprint-and-performance/setup/001-configure-wp-lowlat.sh
  scripts/ci-footprint-and-performance/setup/010-build-microshift.sh
  scripts/ci-footprint-and-performance/setup/020-enable-profile.sh
  scripts/ci-footprint-and-performance/setup/021-install-kernel-rt.sh
  scripts/ci-footprint-and-performance/setup/100-reboot.sh
  scripts/ci-footprint-and-performance/tests/001-wait-for-greenboot.sh
  scripts/ci-footprint-and-performance/tests/002-get-kubeconfig.sh
  scripts/ci-footprint-and-performance/tests/010-hwlatdetect.sh
  scripts/ci-footprint-and-performance/tests/011-oslat.sh
  scripts/ci-footprint-and-performance/tests/100-push-results-to-s3.sh
  scripts/ci-footprint-and-performance/tests/101-fail-if-latency-too-high.sh
  scripts/ci-footprint-and-performance/tests/functions.sh
Due: microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

Fixed ci_phase_iso_build.sh calling nonexistent script
  test/bin/ci_phase_iso_build.sh
Due: microshift-metal-tests, microshift-metal-cache, microshift-metal-cache-arm, metal-periodic-test, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update changelog
  scripts/auto-rebase/changelog.txt
  scripts/auto-rebase/commits.txt
Due: test-rebase

update last_rebase.sh
  scripts/auto-rebase/last_rebase.sh
Due: test-rebase, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update manifests
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update buildfiles
  Makefile.version.x86_64.var
Due: test-rpm, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

update component images
  packaging/crio.conf.d/microshift_amd64.conf
  packaging/crio.conf.d/microshift_arm64.conf
Due: test-rpm, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

update manifests
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update buildfiles
  Makefile.version.aarch64.var
  Makefile.version.x86_64.var
Due: test-rpm, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

update microshift/go.mod
  go.mod
  go.sum
Due: test-rebase, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update microshift/vendor
  vendor/k8s.io/kubernetes/pkg/controller/endpoint/endpoints_controller.go
  vendor/k8s.io/kubernetes/pkg/controller/endpoint/endpoints_tracker.go
  vendor/k8s.io/kubernetes/pkg/controller/volume/persistentvolume/pv_controller.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kuberuntime/kuberuntime_manager.go
  vendor/k8s.io/kubernetes/pkg/scheduler/internal/queue/scheduling_queue.go
  vendor/k8s.io/kubernetes/pkg/securitycontext/util.go
  vendor/k8s.io/kubernetes/pkg/util/filesystem/defaultfs.go
  vendor/k8s.io/kubernetes/pkg/util/filesystem/util_unix.go
  vendor/k8s.io/kubernetes/pkg/util/filesystem/util_windows.go
  vendor/k8s.io/kubernetes/pkg/volume/git_repo/git_repo.go
  vendor/modules.txt
Due: microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update etcd/go.mod
  etcd/go.mod
  etcd/go.sum
Due: microshift-metal-tests

update manifests
  assets/optional/multus/kustomization.aarch64.yaml
  assets/optional/multus/kustomization.x86_64.yaml
  assets/optional/multus/release-multus-aarch64.json
  assets/optional/multus/release-multus-x86_64.json
  assets/optional/operator-lifecycle-manager/0000_50_olm_00-catalogsources.crd.yaml
  assets/optional/operator-lifecycle-manager/0000_50_olm_00-clusterserviceversions.crd.yaml
  assets/optional/operator-lifecycle-manager/0000_50_olm_00-installplans.crd.yaml
  assets/optional/operator-lifecycle-manager/0000_50_olm_00-namespace.yaml
  assets/optional/operator-lifecycle-manager/0000_50_olm_00-olmconfigs.crd.yaml
  assets/optional/operator-lifecycle-manager/0000_50_olm_00-operatorconditions.crd.yaml
  assets/optional/operator-lifecycle-manager/0000_50_olm_00-operatorgroups.crd.yaml
  assets/optional/operator-lifecycle-manager/0000_50_olm_00-operators.crd.yaml
  assets/optional/operator-lifecycle-manager/0000_50_olm_00-packageserver.pdb.yaml
  assets/optional/operator-lifecycle-manager/0000_50_olm_00-subscriptions.crd.yaml
  assets/optional/operator-lifecycle-manager/0000_50_olm_01-olm-operator.serviceaccount.yaml
  assets/optional/operator-lifecycle-manager/0000_50_olm_02-olmconfig.yaml
  assets/optional/operator-lifecycle-manager/0000_50_olm_02-services.yaml
  assets/optional/operator-lifecycle-manager/0000_50_olm_09-aggregated.clusterrole.yaml
  assets/optional/operator-lifecycle-manager/0000_50_olm_13-operatorgroup-default.yaml
  assets/optional/operator-lifecycle-manager/0000_50_olm_15-csv-viewer.rbac.yaml
  assets/optional/operator-lifecycle-manager/kustomization.aarch64.yaml
  assets/optional/operator-lifecycle-manager/kustomization.x86_64.yaml
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

update etcd/vendor
  etcd/vendor/modules.txt
Due: microshift-metal-tests

update component images
  packaging/crio.conf.d/10-microshift_amd64.conf
  packaging/crio.conf.d/10-microshift_arm64.conf
Due: test-rpm, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

update manifests
  assets/optional/multus/release-multus-aarch64.json
  assets/optional/multus/release-multus-x86_64.json
  assets/optional/operator-lifecycle-manager/release-olm-aarch64.json
  assets/optional/operator-lifecycle-manager/release-olm-x86_64.json
  assets/release/release-aarch64.json
  assets/release/release-x86_64.json
Due: test-rebase, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

make reboot as separate top-level step
  scripts/ci-footprint-and-performance/2-reboot.sh
  scripts/ci-footprint-and-performance/3-test.sh
Due: microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

Workload partionting RF tests
  test/resources/common.resource
  test/scenarios/presubmits/el94-src@low-latency.sh
  test/suites/standard2/workload-partitioning.robot
  test/suites/tuned/workload-partitioning.robot
Due: microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

Add secure registry handling when pulling ostree images
  docs/contributor/image_mode.md
Due: none

implementation of Optional CSI Config: openshift/enhancements#1635
  cmd/generate-config/config/config-openapi-spec.json
  docs/user/howto_config.md
  etcd/vendor/github.com/openshift/microshift/pkg/config/config.go
  etcd/vendor/github.com/openshift/microshift/pkg/config/storage.go
  packaging/greenboot/functions.sh
  packaging/greenboot/microshift-running-check.sh
  packaging/microshift/config.yaml
  packaging/rpm/microshift.spec
  pkg/components/csi-snapshot-controller.go
  pkg/components/storage.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/storage.go
  pkg/config/storage_test.go
  test/resources/oc.resource
  test/suites/standard1/configuration.robot
  test/suites/tuned/microshift-tuned.robot
Due: test-rpm, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

wip
  packaging/crio.conf.d/11-microshift-ovn.conf
Due: test-rpm, microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-8-x86_64-test-srpm, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-aarch64-test-srpm, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install, ci/prow/rhel-9-x86_64-test-srpm

update microshift/vendor
  vendor/k8s.io/kubernetes/pkg/kubelet/kubelet.go
  vendor/k8s.io/kubernetes/pkg/kubelet/kuberuntime/kuberuntime_manager.go
  vendor/k8s.io/kubernetes/pkg/util/filesystem/defaultfs.go
  vendor/k8s.io/kubernetes/pkg/util/filesystem/util_unix.go
  vendor/k8s.io/kubernetes/pkg/util/filesystem/util_windows.go
  vendor/modules.txt
Due: microshift-metal-tests, ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-8-x86_64-e2e-reboot, ci/prow/rhel-8-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-aarch64-e2e-reboot, ci/prow/rhel-9-aarch64-e2e-router-smoke-test, ci/prow/rhel-9-aarch64-e2e-rpm-install, ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced, ci/prow/rhel-9-x86_64-e2e-reboot, ci/prow/rhel-9-x86_64-e2e-router-smoke-test, ci/prow/rhel-9-x86_64-e2e-rpm-install

Path conditions:
  test-rpm: any of: ^(rpm/*|packaging/.*|Makefile)
  test-rebase: any of: ^(assets/.*|scripts/auto-rebase/.*|go\.mod)
  microshift-metal-tests: any of: ^(assets/.*|cmd/.*|etcd/.*|pkg/.*|packaging/.*|test/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh|.*\.ks\.template)
  microshift-metal-cache: any of: ^test\/bin\/(ci_phase_iso_build|manage_build_cache)\.sh$
  microshift-metal-cache-arm: any of: ^(test/bin/ci_phase_iso_build.sh|test/bin/manage_build_cache.sh)
  metal-periodic-test: any of: (.*periodic.*|^test/bin/.*)
  ci/prow/rhel-8-x86_64-e2e-openshift-conformance-reduced: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-8-x86_64-e2e-reboot: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  ci/prow/rhel-8-x86_64-e2e-router-smoke-test: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-8-x86_64-test-srpm: any of: ^(rpm/*|packaging/.*|Makefile)
  ci/prow/rhel-9-aarch64-e2e-openshift-conformance-reduced: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-aarch64-e2e-reboot: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  ci/prow/rhel-9-aarch64-e2e-router-smoke-test: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-aarch64-e2e-rpm-install: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-aarch64-test-srpm: any of: ^(rpm/*|packaging/.*|Makefile)
  ci/prow/rhel-9-x86_64-e2e-openshift-conformance-reduced: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-x86_64-e2e-reboot: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  ci/prow/rhel-9-x86_64-e2e-router-smoke-test: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-x86_64-e2e-rpm-install: any of: ^(assets/.*|cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  ci/prow/rhel-9-x86_64-test-srpm: any of: ^(rpm/*|packaging/.*|Makefile)
