Repository openshift/microshift: changes, and which Prow jobs are due for each by the changed paths.
All: test-srpm, e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

test-srpm:
  commands: make srpm
  container:
    from: src

e2e-rpm-install:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-rpm-install

e2e-openshift-conformance-sig-api-machinery:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-api-machinery

e2e-openshift-conformance-sig-apps:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-apps

e2e-openshift-conformance-sig-arch:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-arch

e2e-openshift-conformance-sig-auth:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-auth

e2e-openshift-conformance-sig-cli:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-cli

e2e-openshift-conformance-sig-instrumentation:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-instrumentation

e2e-openshift-conformance-sig-network:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-network

e2e-openshift-conformance-sig-node:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-node

e2e-openshift-conformance-sig-scheduling:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-scheduling

e2e-openshift-conformance-sig-storage:
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-openshift-conformance-sig-storage

e2e-reboot:
  optional: true
  steps:
    cluster_profile: gcp
    workflow: openshift-microshift-e2e-reboot-tests

USHIFT-19: fix location of example configuration file in RPM
  packaging/microshift/config.yaml
  packaging/rpm/microshift.spec
Due: test-srpm, e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

restore example-user-containers.yaml in packaging directory
  packaging/rpm/example-user-containers.yaml
Due: test-srpm, e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

update base of route CRD
  assets/crd/0000_01_route.crd.yaml
  pkg/assets/bindata.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

USHIFT-333: update validation for tls in route crd
  assets/crd/0000_01_route.crd.yaml
  pkg/assets/bindata.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Make nodeport range configurable
  assets/components/openshift-router/service-cloud.yaml
  pkg/assets/bindata.go
  pkg/controllers/kube-apiserver.go
  scripts/rebase.sh
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Add k8s node IP env var in ovn daemonsets
  assets/components/ovn/master/daemonset.yaml
  assets/components/ovn/node/daemonset.yaml
  pkg/assets/bindata.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

rebase.sh go.mod
  go.mod
  go.sum
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Use lorax outside of container during iso creation
  scripts/image-builder/build.sh
  scripts/image-builder/configure.sh
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery

add OPC to rebase script and update go.mod
  go.mod
  scripts/rebase.sh
  vendor/modules.txt
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Create local APIServices for formerly-openshift-apiserver CRDs.
  assets/crd/authorizationv1-local-apiservice.yaml
  assets/crd/securityv1-local-apiservice.yaml
  pkg/assets/bindata.go
  pkg/assets/crd.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

add show-config command
  cmd/microshift/main.go
  pkg/cmd/showConfig.go
  pkg/config/config.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

create a function to add run-related flags to a cobra command
  pkg/cmd/run.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Enable kube-apiserver option send-retry-after-while-not-ready-once
  pkg/controllers/kube-apiserver.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Use lorax outside of container during iso creation (#921)
  scripts/image-builder/build.sh
  scripts/image-builder/configure.sh
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery

apply rebase.sh to service-ca manifests
  assets/components/service-ca/clusterrole.yaml
  assets/components/service-ca/deployment.yaml
  assets/components/service-ca/ns.yaml
  assets/components/service-ca/role.yaml
  assets/components/service-ca/rolebinding.yaml
  pkg/assets/bindata.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Add generic asset templating
  pkg/assets/applier.go
  pkg/components/render.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Simplify asset rendering
  pkg/components/components.go
  pkg/components/controllers.go
  pkg/components/networking.go
  pkg/components/render.go
  pkg/components/storage.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

expand configuration section of design guidelines
  docs/design.md
Due: none

USHIFT-362: consolidate all build output directories
  .gitignore
  Makefile
  docs/rhel4edge_iso.md
  packaging/rpm/make-rpm.sh
  scripts/image-builder/build.sh
  scripts/image-builder/cleanup.sh
Due: test-srpm, e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Add missing clusterIP parameter
  pkg/components/controllers.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Update cleaned build dirs
  Makefile
Due: test-srpm, e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Enable crio by default in the development environment
  docs/devenv_rhel8.md
  scripts/devenv-builder/configure-vm.sh
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery

Update some more references to build dirs
  docs/devenv_rhel8.md
  docs/rhel4edge_iso.md
  scripts/devenv-builder/configure-vm.sh
  scripts/image-builder/build.sh
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery

Temporarily copy RPMs to the old location
  packaging/rpm/make-rpm.sh
Due: test-srpm, e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Remove debug output
  packaging/rpm/make-rpm.sh
Due: test-srpm, e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Fix microshift executable location in the devenv docs
  docs/devenv_rhel8.md
  packaging/rpm/make-rpm.sh
Due: test-srpm, e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

move to go 1.18 for generics
  go.mod
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

add mtu config option
  assets/components/ovn/configmap.yaml
  pkg/assets/bindata.go
  pkg/components/render.go
  pkg/config/config.go
  pkg/config/config_test.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Use yaml key in the example config file
  packaging/microshift/config.yaml
Due: test-srpm, e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

apply rebase.sh to openshift-dns manifests
  assets/bindata_timestamp.txt
  assets/components/openshift-dns/dns/daemonset.yaml
  assets/components/openshift-dns/dns/namespace.yaml
  assets/components/openshift-dns/dns/service.yaml
  pkg/assets/bindata.go
  scripts/rebase.sh
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Do not send errors to /dev/null
  scripts/rebase.sh
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery

Do not try to update OVN manifests
  scripts/rebase.sh
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery

Sync core and crd manifests
  assets/core/0000_50_cluster-openshift-controller-manager_00_namespace.yaml
  assets/crd/0000_03_securityinternal-openshift_02_rangeallocation.crd.yaml
  pkg/assets/bindata.go
  scripts/rebase.sh
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

Commenting MicroShift specific manifests for rebase
  scripts/rebase.sh
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery

USHIFT-375: fix capitalization in show-config output
  pkg/config/config.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

USHIFT-375: fix case of field names in default config file
  packaging/microshift/config.yaml
Due: test-srpm, e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

USHIFT-375: switch config file reading to k8s yaml parser
  pkg/config/config.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

USHIFT-375: add missing annotation to pprof config field
  pkg/config/config.go
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

USHIFT-369: add MTU field to example config file
  packaging/microshift/config.yaml
Due: test-srpm, e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery, e2e-openshift-conformance-sig-apps, e2e-openshift-conformance-sig-arch, e2e-openshift-conformance-sig-auth, e2e-openshift-conformance-sig-cli, e2e-openshift-conformance-sig-instrumentation, e2e-openshift-conformance-sig-network, e2e-openshift-conformance-sig-node, e2e-openshift-conformance-sig-scheduling, e2e-openshift-conformance-sig-storage, e2e-reboot

USHIFT-362: toml.template url updates.
  scripts/image-builder/build.sh
  scripts/image-builder/config/custom-rpms.toml.template
  scripts/image-builder/config/microshift-local.toml.template
  scripts/image-builder/config/openshift-local.toml.template
Due: e2e-rpm-install, e2e-openshift-conformance-sig-api-machinery

Path conditions:
  test-srpm: any of: ^(rpm/*|packaging/.*|Makefile)
  e2e-rpm-install: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  e2e-openshift-conformance-sig-api-machinery: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile|.*\.sh)
  e2e-openshift-conformance-sig-apps: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-arch: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-auth: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod)|Makefile
  e2e-openshift-conformance-sig-cli: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-instrumentation: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-network: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-node: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-scheduling: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-openshift-conformance-sig-storage: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
  e2e-reboot: any of: ^(cmd/.*|pkg/.*|packaging/.*|vendor/.*|go\.sum|go\.mod|Makefile)
