Repository openshift-metal3/dev-scripts: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

e2e-metal-ipi-bm:
  cluster: build05
  steps:
    cluster_profile: equinix-ocp-metal
    env:
      CLUSTERTYPE: baremetal
    workflow: baremetalds-e2e-ovn-ipv4

e2e-metal-ipi-bm-bond:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    env:
      DEVSCRIPTS_CONFIG: 'IP_STACK=v4
  
        BOND_PRIMARY_INTERFACE=true
  
        NETWORK_CONFIG_FOLDER=./network-configs/bond
  
        '
    workflow: baremetalds-e2e-ovn-ipv4

e2e-metal-ipi-ovn-ipv6:
  cluster: build05
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-ovn-ipv6

e2e-metal-ipi-ovn-dualstack:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-ovn-dualstack

e2e-metal-ipi-serial-ipv4:
  cluster: build05
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-serial-ovn-ipv4
  timeout: 5h0m0s

e2e-metal-ipi-serial-ovn-ipv6:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-serial-ovn-ipv6
  timeout: 5h0m0s

e2e-metal-ipi-virtualmedia:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-virtualmedia

e2e-agent-compact-ipv4:
  cluster: build05
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: agent-e2e-compact-ipv4
  timeout: 6h0m0s

e2e-agent-sno-ipv6:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: agent-e2e-sno-ipv6

e2e-agent-ha-dualstack:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    env:
      DEVSCRIPTS_CONFIG: 'AGENT_E2E_TEST_SCENARIO=HA_IPV4V6_DHCP
  
        MIRROR_IMAGES=true
  
        '
    workflow: agent-e2e-generic
  timeout: 6h0m0s

e2e-agent-4control-ipv4:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    env:
      DEVSCRIPTS_CONFIG: 'AGENT_E2E_TEST_SCENARIO=4CONTROL_IPV4
  
        '
    workflow: agent-e2e-generic
  timeout: 6h0m0s

e2e-agent-5control-ipv4:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    env:
      DEVSCRIPTS_CONFIG: 'AGENT_E2E_TEST_SCENARIO=5CONTROL_IPV4
  
        '
    workflow: agent-e2e-generic
  timeout: 6h0m0s

ci/prow/e2e-agent-compact-ipv4:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci-operator.openshift.io/cluster: build05
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
  ...

ci/prow/e2e-agent-ha-dualstack:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci-operator.openshift.io/cluster: build05
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
  ...

AGENT-1134: Dev-scripts support to build OVE ISO
  Makefile
  agent/01_agent_requirements.sh
  agent/05_agent_configure.sh
  agent/06_agent_create_cluster.sh
  agent/cleanup.sh
  agent/common.sh
  agent/e2e/agent-tui/automate-no-registry-agent-tui.sh
  agent/e2e/agent-tui/test-fix-wrong-dns.sh
  agent/e2e/agent-tui/utils.sh
  common.sh
  config_example.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Clone installer to correct directory (#1737)
  03_build_installer.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

AGENT-1134: Dev-scripts support to build OVE ISO
  agent/01_agent_requirements.sh
  agent/03_agent_build_installer.sh
  agent/04_agent_prepare_release.sh
  agent/05_agent_configure.sh
  agent/06_agent_create_cluster.sh
  agent/agent_post_install_validation.sh
  agent/common.sh
  agent/e2e/agent-tui/automate-no-registry-agent-tui.sh
  agent/e2e/agent-tui/test-fix-wrong-dns.sh
  agent/e2e/agent-tui/utils.sh
  common.sh
  config_example.sh
  ocp_cleanup.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

AGENT-1134: Dev-scripts support to build OVE ISO (#1745)
  agent/01_agent_requirements.sh
  agent/03_agent_build_installer.sh
  agent/04_agent_prepare_release.sh
  agent/05_agent_configure.sh
  agent/06_agent_create_cluster.sh
  agent/agent_post_install_validation.sh
  agent/common.sh
  agent/e2e/agent-tui/automate-no-registry-agent-tui.sh
  agent/e2e/agent-tui/test-fix-wrong-dns.sh
  agent/e2e/agent-tui/utils.sh
  common.sh
  config_example.sh
  ocp_cleanup.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

NO-ISSUE: ISOBuilder
  agent/01_agent_requirements.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

NO-ISSUE: Cleanup
  host_cleanup.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

NO-ISSUE: ISOBuilder (#1753)
  agent/01_agent_requirements.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

AGENT-1194: Fix premature oc extraction
  agent/01_agent_requirements.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Remove duplicate call to early_deploy_validation
  agent/01_agent_requirements.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Restructure cloning agent-installer-utils
  agent/01_agent_requirements.sh
  agent/06_agent_create_cluster.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

AGENT-1194: Fix premature oc extraction (#1755)
  agent/01_agent_requirements.sh
  agent/06_agent_create_cluster.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

agent: Use string for ApplianceConfig.ocpRelease.version
  agent/roles/manifests/templates/appliance-config_yaml.j2
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

agent: Use string for ApplianceConfig.ocpRelease.version (#1756)
  agent/roles/manifests/templates/appliance-config_yaml.j2
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

AGENT-1196: OVE create dummy files
  agent/06_agent_create_cluster.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

OCPBUGS-55776: Increase disk size
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

AGENT-1196: OVE create dummy files (#1758)
  agent/06_agent_create_cluster.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

OCPBUGS-55776: Increase disk size (#1759)
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Change the default version to 4.20 on main
  common.sh
  config_example.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Change the default version to 4.20 on main (#1760)
  common.sh
  config_example.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

OCPBUGS-55386: Update oc-mirror to use -v2
  agent/05_agent_configure.sh
  common.sh
  oc_mirror.sh
  oc_mirror_cleanup.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

appliance: copy disk images to WORKING_DIR
  agent/01_agent_requirements.sh
  agent/06_agent_create_cluster.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Don't restart NetworkManager unnecessarily
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

OCPEDGE-1825: [TNF] Reworked TNF logic to render fencing block conditionally.
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Disable cert validation if needed
  agent/05_agent_configure.sh
  agent/roles/manifests/templates/install-config_baremetal_yaml.j2
  agent/roles/manifests/vars/main.yml
  ocp_install_env.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

OCPBUGS-55386: Update oc-mirror to use -v2
  agent/05_agent_configure.sh
  agent/roles/manifests/templates/install-config_baremetal_yaml.j2
  common.sh
  config_example.sh
  oc_mirror.sh
  oc_mirror_cleanup.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

appliance: remove cache/temp dirs
  agent/06_agent_create_cluster.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

OCPEDGE-1825: [TNF] Reworked TNF logic to render fencing block conditionally. (#1751)
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

appliance: remove cache/temp dirs (#1763)
  agent/06_agent_create_cluster.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

AGENT-1193: Allow openshift-appliance to work with ephemeral payload
  agent/04_agent_prepare_release.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Disable cert validation if needed
  01_install_requirements.sh
  agent/05_agent_configure.sh
  agent/roles/manifests/templates/install-config_baremetal_yaml.j2
  agent/roles/manifests/vars/main.yml
  ocp_install_env.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Don't restart NetworkManager unnecessarily (#1762)
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

OCPBUGS-55386: Update oc-mirror to use -v2 (#1752)
  agent/05_agent_configure.sh
  agent/roles/manifests/templates/install-config_baremetal_yaml.j2
  common.sh
  config_example.sh
  oc_mirror.sh
  oc_mirror_cleanup.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Fix agent regression for dual-stack
  agent/roles/manifests/templates/install-config_baremetal_yaml.j2
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Fix agent regression for dual-stack (#1765)
  agent/roles/manifests/templates/install-config_baremetal_yaml.j2
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Disable cert validation if needed (#1757)
  01_install_requirements.sh
  agent/05_agent_configure.sh
  agent/roles/manifests/templates/install-config_baremetal_yaml.j2
  agent/roles/manifests/vars/main.yml
  ocp_install_env.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

AGENT-1211: Validate and Enforce Expected Size Limit for OVE ISO
  agent/06_agent_create_cluster.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Docs: Move api hosts entry to its designated ip
  README.md
Due: none

Take screenshot after each console key press
  agent/e2e/agent-tui/utils.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Docs: address pr question / comment
  README.md
Due: none

feat: add ability to define capability set
  config_example.sh
  ocp_install_env.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Path conditions:
  e2e-metal-ipi-bm: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-bm-bond: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-ovn-dualstack: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-serial-ipv4: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-serial-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-virtualmedia: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-compact-ipv4: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-sno-ipv6: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-ha-dualstack: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-4control-ipv4: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-5control-ipv4: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-compact-ipv4: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-ha-dualstack: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-sno-ipv6: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-bm: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-bm-bond: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-ovn-dualstack: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-serial-ipv4: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-serial-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-virtualmedia: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
