Repository openshift-metal3/dev-scripts: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Path conditions:
  e2e-metal-ipi-bm: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-bm-bond: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-ovn-dualstack: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-serial-ipv4: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-serial-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-virtualmedia: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-compact: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-sno-ipv6: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-compact-ipv4: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-ha-dualstack: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-sno-ipv6: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-bm: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-bm-bond: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-ovn-dualstack: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-serial-ipv4: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-serial-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-virtualmedia: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)

Revert "METAL-759: Add nfs a backed persistent volume (#1608)" (#1616)
  01_install_requirements.sh
  02_configure_host.sh
  06_create_cluster.sh
  common.sh
  config_example.sh
  host_cleanup.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

METAL-759: Add nfs a backed persistent volume (#1608)
  01_install_requirements.sh
  02_configure_host.sh
  06_create_cluster.sh
  common.sh
  config_example.sh
  host_cleanup.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Work around the impending openshift-sdn deprecation in the installer
  network.sh
  ocp_install_env.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

AGENT-337: When using ZTP manifests, support both VIP and VIPs (#1604)
  agent/roles/manifests/templates/agent-cluster-install_yaml.j2
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

METAL-759: Add nfs a backed persistent volume (#1608) (#1615)
  01_install_requirements.sh
  02_configure_host.sh
  06_create_cluster.sh
  common.sh
  config_example.sh
  host_cleanup.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

AGENT-736: Dev-script support for generic external platform (#1611)
  agent/05_agent_configure.sh
  agent/common.sh
  agent/docs/none-and-external-platform.md
  agent/roles/manifests/templates/agent-cluster-install_yaml.j2
  agent/roles/manifests/templates/install-config_yaml.j2
  agent/roles/manifests/vars/main.yml
  config_example.sh
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Work around the impending openshift-sdn deprecation in the installer (#1614)
  network.sh
  ocp_install_env.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

AGENT-742: Add baremetal host BMC configuration to install-config (#1601)
  04_setup_ironic.sh
  agent/05_agent_configure.sh
  agent/roles/manifests/templates/install-config_baremetal_yaml.j2
  agent/roles/manifests/vars/main.yml
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

NO-ISSUE: Install packet-python in 3.11 environment
  images/Dockerfile.ci
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

NO-ISSUE: Install packet-python in 3.11 environment (#1617)
  images/Dockerfile.ci
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Add build arg to custom release. Always extract installer from the local mirror
  agent/04_agent_prepare_release.sh
  agent/docs/custom-release.md
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Add build arg to custom release. Always extract installer from the local mirror (#1609)
  agent/04_agent_prepare_release.sh
  agent/docs/custom-release.md
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

06_create_cluster.sh: remove white spaces
  06_create_cluster.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

06_create_cluster.sh: use 2 replicas when using pvc for imageregistry
  06_create_cluster.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

OCPBUGS-18596: use 2 replicas when the image registry is backed by a PVC (#1618)
  06_create_cluster.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

MGMT-16396: Install ansible.posix collection
  images/Dockerfile.ci
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

MGMT-16396: Install ansible.posix collection (#1619)
  images/Dockerfile.ci
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Fix yq command to be compatible with yq v4
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

AGENT-687: Add DNS entries
  agent/05_agent_configure.sh
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Cleanup
  agent/05_agent_configure.sh
  agent/cleanup.sh
  agent/common.sh
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

AGENT-687: Add DNS entries in case of SNO (#1624)
  agent/05_agent_configure.sh
  agent/cleanup.sh
  agent/common.sh
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Move release_info functions to a separate script
  04_setup_ironic.sh
  06_create_cluster.sh
  agent/03_agent_build_installer.sh
  agent/05_agent_configure.sh
  agent/06_agent_create_cluster.sh
  generate_clouds_yaml.sh
  ocp_cleanup.sh
  ocp_install_env.sh
  release_info.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

CORS-2969: Don't default to OpenShiftSDN after deprecation
  network.sh
  ocp_install_env.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

CORS-2969: Don't default to OpenShiftSDN after deprecation (#1622)
  04_setup_ironic.sh
  06_create_cluster.sh
  agent/03_agent_build_installer.sh
  agent/05_agent_configure.sh
  agent/06_agent_create_cluster.sh
  generate_clouds_yaml.sh
  network.sh
  ocp_cleanup.sh
  ocp_install_env.sh
  release_info.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

OCPBUGS-27189: Fix dependency issue
  06_create_cluster.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

OCPBUGS-27189: Fix dependency issue (#1625)
  06_create_cluster.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Fix delete PATH_CONF_DNSMASQ
  network.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Avoid git fetch error when using PR number (#1600)
  04_setup_ironic.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

network: fix generation of VIPs for single- and dual-stack setups
  network.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Document METAL3_DEV_ENV variable
  config_example.sh
Due: none

Document METAL3_DEV_ENV variable (#1627)
  config_example.sh
Due: none

Use go 1.21
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

NO-ISSUE: In Centos9/RHEL9 update install location for network tools
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Use nmcli instead of legacy network scripts
  01_install_requirements.sh
  02_configure_host.sh
  host_cleanup.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

MGMT-16990: Make the go version installed configurable
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Use nmcli instead of legacy network scripts (#1631)
  01_install_requirements.sh
  02_configure_host.sh
  host_cleanup.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

AGENT-724: Deploy vSphere clusters with credentials
  agent/06_agent_create_cluster.sh
  agent/roles/manifests/tasks/install-config.yml
  agent/roles/manifests/templates/install-config_vsphere_yaml.j2
  common.sh
  config_example.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Also need to enable virtproxyd for RHEL9 when installing libvirt (#1635)
  02_configure_host.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Update default RELEASE_STREAM to 4.15
  common.sh
  config_example.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

MGMT-16990: Make the go version installed configurable (#1634)
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia
