Repository openshift-metal3/dev-scripts: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

e2e-metal-ipi:
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-ipv4

e2e-metal-ipi-ovn-ipv6:
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-ovn-ipv6

e2e-metal-ipi-ovn-dualstack:
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-ovn-dualstack

e2e-metal-ipi-serial-ipv4:
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-serial-ipv4

e2e-metal-ipi-serial-ovn-ipv6:
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-serial-ovn-ipv6

e2e-metal-ipi-virtualmedia:
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-virtualmedia

e2e-metal-ipi-proxy-ipv4:
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-proxy-ipv4

e2e-metal-ipi-proxy-ipv6:
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-proxy-ipv6

ci/prow/e2e-metal-ipi:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet
    ci-operator.openshift.io/cloud-cluster-profile: packet
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-metal-ipi-ovn-ipv6:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet
    ci-operator.openshift.io/cloud-cluster-profile: packet
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

AGENT-216: Add agent support for disconnected installs (#1413)
  04_setup_ironic.sh
  agent/03_agent_build_installer.sh
  agent/04_agent_configure.sh
  agent/common.sh
  utils.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Upgrade golang to 1.18.3
  01_install_requirements.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

[DNM] TEST CI
  network.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Bump Ansible version to 5.9.0
  01_install_requirements.sh
  02_configure_host.sh
  network.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

rhcos.sh: support FCOS artifacts (#1402)
  rhcos.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Fixes to Agent Scenario configuration (#1421)
  common.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Bump Ansible version to 5.9.0 (#1407)
  01_install_requirements.sh
  02_configure_host.sh
  network.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

AGENT-283: Remove unwanted ClusterDeployment.Spec fields
  agent/04_agent_configure.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

For agent mirror testing force disconnect from masters
  agent/05_agent_create_cluster.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

AGENT-283: Remove unwanted ClusterDeployment.Spec fields (#1425)
  agent/04_agent_configure.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

For agent mirror testing force disconnect from masters (#1424)
  agent/05_agent_create_cluster.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Add ENABLE_BOOTSTRAP_STATIC_IP option
  common.sh
  config_example.sh
  ocp_install_env.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Add Cluster Bot docs (#1362)
  docs/clusterbot.md
Due: none

Add ENABLE_BOOTSTRAP_STATIC_IP option (#1336)
  common.sh
  config_example.sh
  ocp_install_env.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Install the yq util system-wise
  01_install_requirements.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Install the yq util system-wise (#1426)
  01_install_requirements.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Support CentOS Stream 9 and RHEL 9
  01_install_requirements.sh
  02_configure_host.sh
  validation.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Upgrade golang to 1.18.3 (#1422)
  01_install_requirements.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

agent: add extra manifests
  agent/04_agent_configure.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Use manifest listed registry to support arm
  common.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

AGENT-265: Use --dir option to openshift-install
  agent/05_agent_create_cluster.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

AGENT-265: Use --dir option to openshift-install (#1429)
  agent/05_agent_create_cluster.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

AGENT-174: Use wait-for commands to wait for bootstrap
  agent/05_agent_create_cluster.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Support CentOS Stream 9 and RHEL 9 (#1367)
  01_install_requirements.sh
  02_configure_host.sh
  validation.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

agent: add extra manifests (#1427)
  agent/04_agent_configure.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

AGENT-174: Use wait-for commands to wait for bootstrap (#1430)
  agent/05_agent_create_cluster.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

agent: enable assisted ui
  agent/05_agent_create_cluster.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Use manifest listed registry to support arm (#1428)
  common.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Add support for bonding the primary interface
  vm_setup_vars.yml
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Add interface for custom networkConfig
  utils.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Add DNS custom host support
  vm_setup_vars.yml
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Make sure we test for containers with a full name match
  04_setup_ironic.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

agent: enable assisted ui (#1431)
  agent/05_agent_create_cluster.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

AGENT-173: Use wait-for install-complete to wait for install
  agent/05_agent_create_cluster.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Document network config and bond parameters
  config_example.sh
  network.sh
  utils.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

AGENT-173: Use wait-for install-complete to wait for install (#1434)
  agent/05_agent_create_cluster.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Agent: Create kubeadmin password
  agent/05_agent_create_cluster.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

billi release script
  agent/release/billi-release.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Add Alma and Rocky Linux as supported host OSes
  01_install_requirements.sh
  02_configure_host.sh
  README.md
  common.sh
  host_cleanup.sh
  validation.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Adjust for image-customization-controller image rename
  04_setup_ironic.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Path conditions:
  e2e-metal-ipi: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|(\.md$)|((^|/)OWNERS$)
  e2e-metal-ipi-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE|OWNERS)$
  e2e-metal-ipi-ovn-dualstack: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE|OWNERS)$
  e2e-metal-ipi-serial-ipv4: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE|OWNERS)$
  e2e-metal-ipi-serial-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE|OWNERS)$
  e2e-metal-ipi-virtualmedia: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE|OWNERS)$
  e2e-metal-ipi-proxy-ipv4: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE|OWNERS)$
  e2e-metal-ipi-proxy-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE|OWNERS)$
  ci/prow/e2e-metal-ipi: unless all of: (^(docs|.github)/)|(\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-ovn-ipv6: unless all of: (^(docs|.github)/)|(\.md$)|((^|/)OWNERS$)
