Repository openshift-metal3/dev-scripts: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Path conditions:
  e2e-metal-ipi-bm: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-bm-bond: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-ovn-dualstack: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-serial-ipv4: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-serial-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-virtualmedia: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-compact-ipv4: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-sno-ipv6: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-ha-dualstack: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-4control-ipv4: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-5control-ipv4: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-compact-ipv4: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-ha-dualstack: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-sno-ipv6: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-bm: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-bm-bond: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-ovn-dualstack: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-serial-ipv4: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-serial-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-virtualmedia: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)

feat: initial arbiter node addition
  common.sh
  config_example.sh
  ocp_install_env.sh
  utils.sh
  vm_setup_vars.yml
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

feat: initial arbiter node addition (#1731)
  common.sh
  config_example.sh
  ocp_install_env.sh
  utils.sh
  vm_setup_vars.yml
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

AGENT-1127: Add ability to test operator configuration with ABI
  agent/06_agent_create_cluster.sh
  agent/common.sh
  config_example.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Add support for Alma 9 (#1675)
  01_install_requirements.sh
  02_configure_host.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

fix: change node role arbiter logic
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

fix: add space to correctly compare in bash for almalinux9
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

AGENT-1127: Add ability to test operator configuration with ABI
  agent/06_agent_create_cluster.sh
  common.sh
  config_example.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

DNM: Increase memory for agent installer 4 and 5 node tests
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

OCPEDGE-1645: fix: change node role arbiter logic (#1734)
  01_install_requirements.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

DNM: Increase memory for agent installer 4 and 5 node tests (#1735)
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

AGENT-1127: Add ability to test operator configuration with ABI (#1733)
  agent/06_agent_create_cluster.sh
  common.sh
  config_example.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

AGENT-1134: Dev-scripts support to build OVE ISO
  Makefile
  agent/08_agent_build_agent_installer_utils.sh
  agent/cleanup.sh
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Clone installer to correct directory
  03_build_installer.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

agent: use release 'url' in ApplianceConfig
  agent/roles/manifests/templates/appliance-config_yaml.j2
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

agent: use release 'url' in ApplianceConfig (#1738)
  agent/roles/manifests/templates/appliance-config_yaml.j2
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Update go and installer versions
  go.mod
  go.sum
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

feat: add workload partitioning
  config_example.sh
  ocp_install_env.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

feat: add control plane fencing credentials
  ocp_install_env.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

agent: fix extra worker step
  agent/05_agent_configure.sh
  agent/07_agent_add_extraworker_nodes.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

agent: support for isolated network
  agent/05_agent_configure.sh
  agent/common.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

agent: fix extra worker step (#1741)
  agent/05_agent_configure.sh
  agent/07_agent_add_extraworker_nodes.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

AGENT-1108: Gather console screenshots as part of agent-gather
  agent/06_agent_create_cluster.sh
  agent/gather.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

initial changes
  Makefile
  agent/01_agent_requirements.sh
  agent/06_agent_create_cluster.sh
  agent/08_agent_build_agent_installer_utils.sh
  agent/e2e/agent-tui/test-fix-wrong-dns.sh
  agent/e2e/agent-tui/test-no-registry-agent-tui.sh
  agent/e2e/agent-tui/utils.sh
  common.sh
  config_example.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

NO-ISSUE: Code restructure - Moved utility functions ( to be reused for iso-builder) into agent/e2e/agent-tui/utils.sh - No need to pass CLUSTER_NAME to test-fix-wrong-dns.sh as its a global var
  agent/06_agent_create_cluster.sh
  agent/e2e/agent-tui/test-fix-wrong-dns.sh
  agent/e2e/agent-tui/utils.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

AGENT-1108: Gather console screenshots as part of agent-gather (#1743)
  agent/06_agent_create_cluster.sh
  agent/gather.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

add config var doc
  config_example.sh
Due: none

OCPEDGE-1703: Add workload partitioning and two node fencing block to install config (#1740)
  config_example.sh
  ocp_install_env.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

AGENT-378: support for isolated network (#1742)
  agent/05_agent_configure.sh
  agent/common.sh
  config_example.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Remove digest for pushing to local registry but keep it when pulling
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

NO-ISSUE: Code restructure (#1744)
  agent/06_agent_create_cluster.sh
  agent/e2e/agent-tui/test-fix-wrong-dns.sh
  agent/e2e/agent-tui/utils.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

AGENT-1134: Dev-scripts support to build OVE ISO
  Makefile
  agent/01_agent_requirements.sh
  agent/06_agent_create_cluster.sh
  agent/08_agent_clone_agent_installer_utils.sh
  agent/cleanup.sh
  agent/common.sh
  agent/e2e/agent-tui/test-fix-wrong-dns.sh
  agent/e2e/agent-tui/test-no-registry-agent-tui.sh
  agent/e2e/agent-tui/utils.sh
  common.sh
  config_example.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

assisted-service: Add imageStorage to the service configuration (#1365)
  assisted_deployment.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Fix issue with OVMF_CODE.fd symlink (#1698)
  02_configure_host.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Pin collections to latest ansible 2.15 compatible versions
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Pin collections to latest ansible 2.15 compatible versions (#1747)
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Relax pinned versions to use breaking ones as upper limits
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Fix mirror config for v6-primary
  common.sh
  network.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

DNM: Temporarily force redfish BMC driver
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

fix for the incorrectly formatted
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Relax pinned versions to use breaking ones as upper limits (#1749)
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia
