Repository openshift-metal3/dev-scripts: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

e2e-metal-ipi-bm:
  cluster: build05
  steps:
    cluster_profile: equinix-ocp-metal
    env:
      CLUSTERTYPE: baremetal
    workflow: baremetalds-e2e-ipv4

e2e-metal-ipi-bm-bond:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    env:
      DEVSCRIPTS_CONFIG: 'IP_STACK=v4
  
        NETWORK_TYPE=OpenShiftSDN
  
        BOND_PRIMARY_INTERFACE=true
  
        NETWORK_CONFIG_FOLDER=./network-configs/bond
  
        '
    workflow: baremetalds-e2e-ipv4

e2e-metal-ipi-ovn-ipv6:
  cluster: build05
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-ovn-ipv6

e2e-metal-ipi-ovn-dualstack:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-ovn-dualstack

e2e-metal-ipi-serial-ipv4:
  cluster: build05
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-serial-ipv4

e2e-metal-ipi-serial-ovn-ipv6:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-serial-ovn-ipv6

e2e-metal-ipi-virtualmedia:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-virtualmedia

e2e-agent-compact:
  cluster: build05
  steps:
    cluster_profile: equinix-ocp-metal
    env:
      DEVSCRIPTS_CONFIG: 'AGENT_E2E_TEST_SCENARIO=HA_IPV4
  
        '
    workflow: agent-e2e-compact-ipv4

e2e-agent-sno-ipv6:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    env:
      DEVSCRIPTS_CONFIG: 'AGENT_E2E_TEST_SCENARIO=SNO_IPV6
  
        AGENT_USE_ZTP_MANIFESTS=true
  
        '
    workflow: agent-e2e-generic

ci/prow/e2e-metal-ipi:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet
    ci-operator.openshift.io/cloud-cluster-profile: packet
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-metal-ipi-ovn-ipv6:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet
    ci-operator.openshift.io/cloud-cluster-profile: packet
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

agent: filter installer output
  agent/06_agent_create_cluster.sh
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

agent: filter installer output (#1502)
  agent/06_agent_create_cluster.sh
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

remove agent specific function for creating bootstrap image
  oc_mirror.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

minor text changes
  config_example.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Move registry cleanup back to realclean (#1498)
  Makefile
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

use min/maxVersion in imageset to limit imagesize
  oc_mirror.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Change deprecated egrep with grep -E
  metal3-dev/local-bmo.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Agent: Remove hosts section from platform.baremetal (#1491)
  agent/roles/manifests/templates/install-config_yaml.j2
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

agent: optionally disable automation services (#1499)
  agent/06_agent_create_cluster.sh
  config_example.sh
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Add mko as reviewer and approver
  OWNERS
Due: none

Fixes for auth when using quay registry
  02_configure_host.sh
  oc_mirror.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Fixes from review
  oc_mirror.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Speed up dnf downloads
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Fixes for auth when using quay registry (#1496)
  02_configure_host.sh
  oc_mirror.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Bump go_version to 1.19.4
  01_install_requirements.sh
  go.mod
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Change deprecated egrep with grep -E (#1503)
  metal3-dev/local-bmo.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Speed up dnf downloads (#1505)
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

AGENT-509: Warn if podman registry in use when configured for quay
  oc_mirror.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Bump go_version to 1.19.4 (#1506)
  01_install_requirements.sh
  go.mod
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

AGENT-500: Add configurable step to oc-mirror to generate tarfile (#1497)
  common.sh
  config_example.sh
  oc_mirror.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

AGENT-509: Warn if podman registry in use when configured for quay (#1507)
  oc_mirror.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Fix unbound variable in agent/common.sh
  agent/common.sh
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Fix unbound variable in agent/common.sh (#1508)
  agent/common.sh
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Bump default master disk size to 50G
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Bump default master disk size to 50G (#1511)
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Configure local mirror for community-e2e-images
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

WIP: Add support for doing mirroring from host
  agent/04_agent_prepare_release.sh
  agent/05_agent_configure.sh
  agent/06_agent_create_cluster.sh
  agent/node_registry.sh
  common.sh
  config_example.sh
  oc_mirror.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Dockerfile.ci: add ipcalc
  images/Dockerfile.ci
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Add support for ipv6-primary dual stack
  config_example.sh
  network.sh
  ocp_install_env.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Avoid unbound variables
  02_configure_host.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Avoid unbound variables (#1373)
  02_configure_host.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

remove restart network service step
  02_configure_host.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Use ansible 6
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Make shebang portable
  scripts/periodics_pass_rates.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Add padding to pass rates script output (#1487)
  scripts/periodics_pass_rates.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Update dev-scripts CI image
  images/Dockerfile.ci
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Update dev-scripts CI image (#1515)
  images/Dockerfile.ci
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

sample script for testing agent-tui in automated way
  agent/e2e/agent-tui/test-fix-wrong-dns.sh
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Update Default RELEASE_STREAM to 4.14
  common.sh
  config_example.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Add support for ipv6-primary dual stack (#1510)
  config_example.sh
  network.sh
  ocp_install_env.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Path conditions:
  e2e-metal-ipi-bm: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-bm-bond: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-ovn-dualstack: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-serial-ipv4: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-serial-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-virtualmedia: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-compact: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-sno-ipv6: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi: unless all of: (^(docs|.github)/)|(\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-ovn-ipv6: unless all of: (^(docs|.github)/)|(\.md$)|((^|/)OWNERS$)
