Repository openshift-metal3/dev-scripts: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

e2e-metal-ipi-bm:
  capabilities:
  - intranet
  steps:
    cluster_profile: equinix-ocp-metal
    env:
      CLUSTERTYPE: baremetal
    workflow: baremetalds-e2e-ovn-ipv4

e2e-metal-ipi-bm-bond:
  capabilities:
  - intranet
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    env:
      DEVSCRIPTS_CONFIG: 'IP_STACK=v4
  
        BOND_PRIMARY_INTERFACE=true
  
        NETWORK_CONFIG_FOLDER=./network-configs/bond
  
        '
    workflow: baremetalds-e2e-ovn-ipv4

e2e-metal-ipi-ovn-ipv6:
  capabilities:
  - intranet
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-ovn-ipv6

e2e-metal-ipi-ovn-dualstack:
  capabilities:
  - intranet
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-ovn-dualstack

e2e-metal-ipi-serial-ipv4:
  capabilities:
  - intranet
  shard_count: 2
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-serial-ovn-ipv4

e2e-metal-ipi-serial-ovn-ipv6:
  capabilities:
  - intranet
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-serial-ovn-ipv6

e2e-metal-ipi-virtualmedia:
  capabilities:
  - intranet
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-virtualmedia

e2e-agent-compact-ipv4:
  capabilities:
  - intranet
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: agent-e2e-compact-ipv4

e2e-agent-sno-ipv6:
  capabilities:
  - intranet
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: agent-e2e-sno-ipv6

e2e-metal-ovn-arbiter:
  capabilities:
  - intranet
  optional: true
  steps:
    cluster_profile: equinix-edge-enablement
    workflow: baremetalds-two-node-arbiter

e2e-agent-ha-dualstack:
  capabilities:
  - intranet
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    env:
      DEVSCRIPTS_CONFIG: 'AGENT_E2E_TEST_SCENARIO=HA_IPV4V6_DHCP
  
        MIRROR_IMAGES=true
  
        '
    workflow: agent-e2e-generic

e2e-agent-4control-ipv4:
  capabilities:
  - intranet
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    env:
      DEVSCRIPTS_CONFIG: 'AGENT_E2E_TEST_SCENARIO=4CONTROL_IPV4
  
        '
    workflow: agent-e2e-generic

e2e-agent-5control-ipv4:
  capabilities:
  - intranet
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    env:
      DEVSCRIPTS_CONFIG: 'AGENT_E2E_TEST_SCENARIO=5CONTROL_IPV4
  
        '
    workflow: agent-e2e-generic

e2e-agent-compact-ipv4-iso-no-registry:
  capabilities:
  - intranet
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: agent-e2e-compact-ipv4-iso-no-registry

e2e-agent-bad-dns:
  capabilities:
  - intranet
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    env:
      DEVSCRIPTS_CONFIG: 'AGENT_E2E_TEST_SCENARIO=SNO_IPV4
  
        AGENT_TEST_CASES=bad_dns
  
        '
    workflow: agent-e2e-generic

Fix baremetal registry DNS and creds after #1922 (#1937)
  02_configure_host.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

BGP VIP management: render an IPv6 ToR peer on dual-stack deployments
  config_example.sh
  ocp_install_env.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Pin argcomplete<3.7 only if Python < 3.10 (#1944)
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Fix quay-proxy ServiceAccount login username (#1941)
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Fix race condition in extra worker BMH application
  06_create_cluster.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

bgp-vip: exercise every optional peer field in e2e deployments
  bgp/configure_bgp_tor.sh
  config_example.sh
  ocp_install_env.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Fix race condition in extra worker BMH application (#1946)
  06_create_cluster.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Reduce race condition in extra worker BMH application
  06_create_cluster.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Revert argcomplete manual pinning. Was fixed in pypi 3.7.2 requires Python 3.10+ and 3.7.1 was yanked
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

agent: address review feedback for static networking test
  agent/06_agent_create_cluster.sh
  agent/common.sh
  agent/e2e/agent-tui/test-static-ip.sh
  config_example.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ovn-arbiter

agent: retry ssh in static_ip verification for node reboot window
  agent/06_agent_create_cluster.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ovn-arbiter

agent: shorten static_ip verification retry budget to ~5 min
  agent/06_agent_create_cluster.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ovn-arbiter

Bump default OCP main version to 5.1
  common.sh
  config_example.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

owners: remove derekhiggins
  OWNERS
Due: none

owners: remove derekhiggins (#1950)
  OWNERS
Due: none

Bump default OCP main version to 5.1 (#1949)
  common.sh
  config_example.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Add NAT64/DNS64 support for IPv6-only clusters on IPv4-only hosts
  01_install_requirements.sh
  02_configure_host.sh
  common.sh
  config_example.sh
  host_cleanup.sh
  nat64.sh
  network.sh
  ocp_cleanup.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

NAT64: make sushy BMC cert valid for the IPv6 baremetal address
  02_configure_host.sh
  nat64.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Revert argcomplete manual pinning. Was fixed in pypi (#1948)
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

apply PR review fixes, systemd TAYGA, unbound DNS64, sudo-safe sushy cert + BMC rewrite, idempotent firewall/cleanup, and config validation
  01_install_requirements.sh
  02_configure_host.sh
  common.sh
  config_example.sh
  host_cleanup.sh
  nat64.sh
  ocp_cleanup.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Reduce race condition in extra worker BMH application (#1947)
  06_create_cluster.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

AGENT-1581: For ABI allow pre-built OVE ISO via AGENT_OVE_ISO_SOURCE
  agent/06_agent_create_cluster.sh
  agent/common.sh
  agent/iso_no_registry.sh
  agent/isobuilder/ui_driven_cluster_installation/main.go
  config_example.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ovn-arbiter

Fix image builds that don't use --build-arg (#1936)
  04_setup_ironic.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

feat: add macAddress as alternative identifier for fencing credentials
  agent/05_agent_configure.sh
  agent/roles/manifests/templates/install-config_baremetal_yaml.j2
  agent/roles/manifests/vars/main.yml
  common.sh
  config_example.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

feat: add macAddress as alternative identifier for fencing credentials (#1916)
  agent/05_agent_configure.sh
  agent/roles/manifests/templates/install-config_baremetal_yaml.j2
  agent/roles/manifests/vars/main.yml
  common.sh
  config_example.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

NAT64: support BMC_DRIVER=mixed/ipmi and harden set -e paths
  common.sh
  config_example.sh
  nat64.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

NAT64: publish virthost AAAA so IPv6-only nodes can mount the registry NFS PV
  02_configure_host.sh
  network.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

OPNET-772: Add NAT64/DNS64 support for IPv6-only clusters on IPv4-only hosts (#1952)
  01_install_requirements.sh
  02_configure_host.sh
  common.sh
  config_example.sh
  host_cleanup.sh
  nat64.sh
  network.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

fix(agent): skip DHCPv4 default gateway option for IPv6 networks
  agent/05_agent_configure.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ovn-arbiter

Pull CI images from quay-proxy instead of the old location
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Harden pinned Go download setup
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Pull CI images from quay-proxy instead of the old location (#1953)
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Auto-generate registry credentials instead of hardcoding
  agent/docs/config-presets-and-options.md
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

fix(agent): skip DHCPv4 default gateway option for IPv6 networks (#1954)
  agent/05_agent_configure.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ovn-arbiter

Do not source a file from /tmp
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

AGENT-1581: For ABI allow pre-built OVE ISO via AGENT_OVE_ISO_SOURCE
  agent/06_agent_create_cluster.sh
  agent/common.sh
  agent/iso_no_registry.sh
  common.sh
  config_example.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

agent: shorten static_ip verification retry budget to ~5 min
  agent/06_agent_create_cluster.sh
  agent/e2e/agent-tui/test-static-ip.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ovn-arbiter

fix(agent): Fix IPv6 default route for isolated network and single-stack UI selection
  agent/05_agent_configure.sh
  agent/isobuilder/ui_driven_cluster_installation/main.go
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ovn-arbiter

AGENT-1579: Agent-based installer - add static networking support for ISO_NO_REGISTRY mode (#1940)
  agent/06_agent_create_cluster.sh
  agent/common.sh
  agent/e2e/agent-tui/test-static-ip.sh
  agent/e2e/agent-tui/utils.sh
  config_example.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ovn-arbiter

Run vbmc and sushy-tools with less privileges
  04_setup_ironic.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Path conditions:
  e2e-metal-ipi-bm: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-bm-bond: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-ovn-dualstack: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-serial-ipv4: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-serial-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-virtualmedia: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-compact-ipv4: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-sno-ipv6: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ovn-arbiter: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-ha-dualstack: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-4control-ipv4: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-5control-ipv4: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-compact-ipv4-iso-no-registry: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-bad-dns: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-4control-ipv4: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-5control-ipv4: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-bad-dns: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-compact-ipv4: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-compact-ipv4-iso-no-registry: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-ha-dualstack: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-sno-ipv6: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-bm: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-bm-bond: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-ovn-dualstack: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-serial-ipv4-1of2: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-serial-ipv4-2of2: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-serial-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-virtualmedia: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ovn-arbiter: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
