Repository openshift-metal3/dev-scripts: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Path conditions:
  e2e-metal-ipi-bm: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-bm-bond: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-ovn-dualstack: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-serial-ipv4: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-serial-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-virtualmedia: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-compact-ipv4: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-sno-ipv6: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ovn-arbiter: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-ha-dualstack: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-4control-ipv4: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-5control-ipv4: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-compact-ipv4-iso-no-registry: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-bad-dns: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-4control-ipv4: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-5control-ipv4: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-bad-dns: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-compact-ipv4: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-compact-ipv4-iso-no-registry: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-ha-dualstack: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-sno-ipv6: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-bm: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-bm-bond: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-ovn-dualstack: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-serial-ipv4-1of2: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-serial-ipv4-2of2: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-serial-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-virtualmedia: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ovn-arbiter: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)

vm-setup: remove unsupported operating systems
  vm-setup/roles/libvirt/tasks/network_setup_tasks.yml
  vm-setup/roles/libvirt/tasks/network_teardown_tasks.yml
  vm-setup/roles/packages_installation/defaults/main.yml
  vm-setup/roles/packages_installation/tasks/main.yml
  vm-setup/roles/packages_installation/tasks/suse_required_packages.yml
  vm-setup/roles/packages_installation/tasks/ubuntu_required_packages.yml
  vm-setup/roles/virtbmc/tasks/teardown_tasks.yml
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

vm-setup: remove hacks from 02_configure_host
  02_configure_host.sh
  vm-setup/roles/libvirt/tasks/network_setup_tasks.yml
  vm-setup/roles/virtbmc/tasks/setup_tasks.yml
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

vm-setup: move all defaults to the roles
  02_configure_host.sh
  README.md
  host_cleanup.sh
  remote_nodes.sh
  vm-setup/roles/common/defaults/main.yml
  vm-setup/roles/libvirt/defaults/main.yml
  vm_setup_vars.yml
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

AGENT-1581: For ABI allow pre-built OVE ISO via AGENT_OVE_ISO_SOURCE (#1951)
  agent/06_agent_create_cluster.sh
  agent/common.sh
  agent/iso_no_registry.sh
  common.sh
  config_example.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

fix(agent): Fix IPv6 default route for isolated network and single-stack UI selection (#1959)
  agent/05_agent_configure.sh
  agent/isobuilder/ui_driven_cluster_installation/main.go
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ovn-arbiter

Hack: apply metal3-dev-env/pull/1725 until that merges
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Auto-generate registry credentials instead of hardcoding (#1956)
  agent/docs/config-presets-and-options.md
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Do not source a file from /tmp (#1957)
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Hack: apply metal3-dev-env/pull/1725 until that merges (#1961)
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Run vbmc and sushy-tools without --privileged
  04_setup_ironic.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Hack: add go checksum to the download
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

OCPBUGS-122256: Fix SNO IPv6 DNS resolution for prometheus-k8s route
  agent/05_agent_configure.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ovn-arbiter

Do not break DNS if nameservers are configured via resolv.conf
  common.sh
  config_example.sh
  host_cleanup.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Fix IPv6 VIPs DNS lookup for baremetal deployments (#1814)
  network.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Install ipcalc if missing
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Stop recording passwords in the logs
  02_configure_host.sh
  common.sh
  metal3-templater.go
  oc_mirror.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Do not break DNS if nameservers are configured via resolv.conf (#1964)
  common.sh
  config_example.sh
  host_cleanup.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

OCPBUGS-122256: Fix SNO IPv6 DNS resolution for prometheus-k8s route (#1963)
  agent/05_agent_configure.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ovn-arbiter

Stop recording passwords in the logs (#1965)
  02_configure_host.sh
  common.sh
  metal3-templater.go
  oc_mirror.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Remove support for OCP versions prior to 4.12
  04_setup_ironic.sh
  clouds.yaml.template
  common.sh
  metal3-templater.go
  ocp_install_env.sh
  rhcos.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

For ABI, handle ssh key field in UI when using prebuilt ISO
  agent/isobuilder/ui_driven_cluster_installation/main.go
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ovn-arbiter

NAT64: use host IPv6 address for node NTP so chrony can sync
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Add external physical worker manifest rendering
  05_create_install_config.sh
  README.md
  common.sh
  config_example.sh
  docs/external-worker.example.json
  scripts/generate_external_worker_manifests.sh
  scripts/test_generate_external_worker_manifests.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Download oc-mirror from new location
  agent/01_agent_requirements.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ovn-arbiter

Add owners from agent installer team
  OWNERS
Due: none

Download oc-mirror from new location (#1971)
  agent/01_agent_requirements.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ovn-arbiter

For ABI, handle ssh key field in UI when using prebuilt ISO (#1967)
  agent/isobuilder/ui_driven_cluster_installation/main.go
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ovn-arbiter

NAT64: remove default value from ENABLE_NAT64 variable check.
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

NAT64: use host IPv6 address for node NTP so chrony can sync (#1968)
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Remove support for OCP versions prior to 4.12 (#1966)
  04_setup_ironic.sh
  clouds.yaml.template
  common.sh
  metal3-templater.go
  ocp_install_env.sh
  rhcos.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

bgp-vip: align peer fields with the renamed install-config surface
  config_example.sh
  ocp_install_env.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Skip get_vips for SNO in OVE UI-driven install
  agent/06_agent_create_cluster.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ovn-arbiter

Fix mirror config for v6-primary
  common.sh
  network.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

DNM: Temporarily force redfish BMC driver
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Open local registry port on libvirt-to-host for virtual baremetal
  06_create_cluster.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Add debugging of pull secret file
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter

Retry pip installs in 01_install_requirements.sh on PyPI timeouts
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-metal-ovn-arbiter, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, e2e-agent-compact-ipv4-iso-no-registry, e2e-agent-bad-dns, ci/prow/e2e-agent-4control-ipv4, ci/prow/e2e-agent-5control-ipv4, ci/prow/e2e-agent-bad-dns, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-compact-ipv4-iso-no-registry, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4-1of2, ci/prow/e2e-metal-ipi-serial-ipv4-2of2, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia, ci/prow/e2e-metal-ovn-arbiter
