Repository openshift-metal3/dev-scripts: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

e2e-metal-ipi-bm:
  cluster: build05
  steps:
    cluster_profile: equinix-ocp-metal
    env:
      CLUSTERTYPE: baremetal
    workflow: baremetalds-e2e-ovn-ipv4

e2e-metal-ipi-bm-bond:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    env:
      DEVSCRIPTS_CONFIG: 'IP_STACK=v4
  
        BOND_PRIMARY_INTERFACE=true
  
        NETWORK_CONFIG_FOLDER=./network-configs/bond
  
        '
    workflow: baremetalds-e2e-ovn-ipv4

e2e-metal-ipi-ovn-ipv6:
  cluster: build05
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-ovn-ipv6

e2e-metal-ipi-ovn-dualstack:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-ovn-dualstack

e2e-metal-ipi-serial-ipv4:
  cluster: build05
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-serial-ovn-ipv4
  timeout: 5h0m0s

e2e-metal-ipi-serial-ovn-ipv6:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-serial-ovn-ipv6
  timeout: 5h0m0s

e2e-metal-ipi-virtualmedia:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-virtualmedia

e2e-agent-compact-ipv4:
  cluster: build05
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: agent-e2e-compact-ipv4
  timeout: 6h0m0s

e2e-agent-sno-ipv6:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: agent-e2e-sno-ipv6

e2e-agent-ha-dualstack:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    env:
      DEVSCRIPTS_CONFIG: 'AGENT_E2E_TEST_SCENARIO=HA_IPV4V6_DHCP
  
        MIRROR_IMAGES=true
  
        '
    workflow: agent-e2e-generic
  timeout: 6h0m0s

e2e-agent-4control-ipv4:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    env:
      DEVSCRIPTS_CONFIG: 'AGENT_E2E_TEST_SCENARIO=4CONTROL_IPV4
  
        '
    workflow: agent-e2e-generic
  timeout: 6h0m0s

e2e-agent-5control-ipv4:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    env:
      DEVSCRIPTS_CONFIG: 'AGENT_E2E_TEST_SCENARIO=5CONTROL_IPV4
  
        '
    workflow: agent-e2e-generic
  timeout: 6h0m0s

ci/prow/e2e-agent-compact-ipv4:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci-operator.openshift.io/cluster: build05
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
  ...

ci/prow/e2e-agent-ha-dualstack:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci-operator.openshift.io/cluster: build05
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
  ...

test: using advised minimums for agent based flow
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

fix: resolve error in certificateVerification for tnf agent (#1804)
  agent/roles/manifests/templates/install-config_baremetal_yaml.j2
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

feat(install): add retry logic with exponential backoff for ansible-galaxy
  01_install_requirements.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Add extra worker to cluster after dev-scripts install is complete Assisted by: Claude
  .add_worker_implementation_summary.md
  Makefile
  README.md
  WORKER_QUICK_START.md
  add_worker_node.sh
  auto_approve_csrs.sh
  docs/add-worker-post-install.md
  examples/add_worker_example.sh
  remove_worker_node.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Restore metal3-dev-env only if it exists (#1784)
  ocp_cleanup.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Update common.sh
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Update metal3-dev-env hash 2025-11-10
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

avoid creating unnecessary vfs folder when not needed
  agent/cleanup.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Update metal3-dev-env hash 2025-11-10 (#1809)
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Ignore signatures when using oc-mirror
  oc_mirror.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Add Tudor to the list of the approvers (#1802)
  OWNERS
Due: none

AGENT-1207: automate OVE cluster installation (#1796)
  agent/01_agent_requirements.sh
  agent/06_agent_create_cluster.sh
  agent/agent_post_install_validation.sh
  agent/gather.sh
  agent/isobuilder/ui_driven_cluster_installation/go.mod
  agent/isobuilder/ui_driven_cluster_installation/go.sum
  agent/isobuilder/ui_driven_cluster_installation/main.go
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Fix IPv6 VIPs DNS lookup for baremetal deployments
  network.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

fix: re-order how we populate nodes
  02_configure_host.sh
  ocp_install_env.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

AGENT-1207: Fix paths
  agent/06_agent_create_cluster.sh
  agent/isobuilder/ui_driven_cluster_installation/main.go
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

AGENT-1207: Fix paths (#1816)
  agent/06_agent_create_cluster.sh
  agent/isobuilder/ui_driven_cluster_installation/main.go
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Fix agent gather screenshots
  agent/gather.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Fix agent gather screenshots (#1817)
  agent/gather.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

fix: re-order how we populate nodes (#1815)
  02_configure_host.sh
  ocp_install_env.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Temp change to save CI generated ISO
  agent/gather.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Enable TLS validation for Redfish emulator
  ocp_install_env.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Make vCPU/Disk/Memory configurable in agent scenarios
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Restore agent MASTER_MEMORY default to 16GiB
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Remove digest for pushing to local registry but keep it when pulling (#1746)
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Enable TLS validation for Redfish emulator
  01_install_requirements.sh
  ocp_install_env.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Enable TLS validation for Redfish emulator (#1812)
  01_install_requirements.sh
  ocp_install_env.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Add REGISTRY_INSECURE option for mirror registry without certificate validation
  02_configure_host.sh
  agent/05_agent_configure.sh
  agent/roles/manifests/tasks/main.yml
  agent/roles/manifests/tasks/ztp.yml
  agent/roles/manifests/templates/install-config_baremetal_yaml.j2
  agent/roles/manifests/templates/install-config_vsphere_yaml.j2
  agent/roles/manifests/templates/install-config_yaml.j2
  agent/roles/manifests/templates/registries_conf.j2
  agent/roles/manifests/vars/main.yml
  config_example.sh
  oc_mirror.sh
  ocp_install_env.sh
  release_info.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Revert "Enable TLS validation for Redfish emulator (#1812)"
  01_install_requirements.sh
  ocp_install_env.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Partially revert "Enable TLS validation for Redfish emulator"
  ocp_install_env.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

add copy-mac-from and enable both ipv4 and ipv6 dhcp on br-ex ovs-interface
  network-configs/nmstate-brex-bond/00-nmstate-brex-bond-master.yml
  network-configs/nmstate-brex-bond/00-nmstate-brex-bond-worker.yml
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Partially revert "Enable TLS validation for Redfish emulator" (#1823)
  ocp_install_env.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

AGENT-1383: Use agent-iso-builder image
  agent/06_agent_create_cluster.sh
  agent/cleanup.sh
  agent/common.sh
  common.sh
  config_example.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

AGENT-1383: Use agent-iso-builder image (#1820)
  agent/06_agent_create_cluster.sh
  agent/cleanup.sh
  agent/common.sh
  common.sh
  config_example.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Support running with external loadbalancer
  06_create_cluster.sh
  config_example.sh
  external_loadbalancer.sh
  network.sh
  ocp_install_env.sh
  vm_setup_vars.yml
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

add copy-mac-from and enable both ipv4 and ipv6 dhcp on br-ex ovs-interface (#1824)
  network-configs/nmstate-brex-bond/00-nmstate-brex-bond-master.yml
  network-configs/nmstate-brex-bond/00-nmstate-brex-bond-worker.yml
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Bump AGENT_OVE_ISO_SIZE to 70Gb
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Bump AGENT_OVE_ISO_SIZE to 70Gb (#1826)
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

OCPBUGS-67300: Fixes for Agent installer OVE UI driven installation
  agent/06_agent_create_cluster.sh
  agent/agent_post_install_validation.sh
  agent/cleanup.sh
  agent/common.sh
  agent/isobuilder/ui_driven_cluster_installation/main.go
  config_example.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

OCPBUGS-67300: Fixes for Agent installer OVE UI driven installation
  agent/06_agent_create_cluster.sh
  agent/agent_post_install_validation.sh
  agent/cleanup.sh
  agent/common.sh
  agent/isobuilder/ui_driven_cluster_installation/main.go
  common.sh
  config_example.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, e2e-agent-4control-ipv4, e2e-agent-5control-ipv4, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Path conditions:
  e2e-metal-ipi-bm: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-bm-bond: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-ovn-dualstack: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-serial-ipv4: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-serial-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-virtualmedia: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-compact-ipv4: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-sno-ipv6: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-ha-dualstack: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-4control-ipv4: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-5control-ipv4: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-compact-ipv4: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-ha-dualstack: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-sno-ipv6: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-bm: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-bm-bond: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-ovn-dualstack: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-serial-ipv4: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-serial-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-virtualmedia: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
