Repository openshift-metal3/dev-scripts: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

e2e-metal-ipi-bm:
  cluster: build05
  steps:
    cluster_profile: equinix-ocp-metal
    env:
      CLUSTERTYPE: baremetal
    workflow: baremetalds-e2e-ipv4

e2e-metal-ipi-bm-bond:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    env:
      DEVSCRIPTS_CONFIG: 'IP_STACK=v4
  
        NETWORK_TYPE=OpenShiftSDN
  
        BOND_PRIMARY_INTERFACE=true
  
        NETWORK_CONFIG_FOLDER=./network-configs/bond
  
        '
    workflow: baremetalds-e2e-ipv4

e2e-metal-ipi-ovn-ipv6:
  cluster: build05
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-ovn-ipv6

e2e-metal-ipi-ovn-dualstack:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-ovn-dualstack

e2e-metal-ipi-serial-ipv4:
  cluster: build05
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-serial-ipv4

e2e-metal-ipi-serial-ovn-ipv6:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-serial-ovn-ipv6

e2e-metal-ipi-virtualmedia:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-virtualmedia

e2e-agent-compact-ipv4:
  cluster: build05
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: agent-e2e-compact-ipv4
  timeout: 6h0m0s

e2e-agent-sno-ipv6:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: agent-e2e-sno-ipv6

e2e-agent-ha-dualstack:
  cluster: build05
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    env:
      DEVSCRIPTS_CONFIG: 'AGENT_E2E_TEST_SCENARIO=HA_IPV4V6_DHCP
  
        MIRROR_IMAGES=true
  
        '
    workflow: agent-e2e-generic
  timeout: 6h0m0s

ci/prow/e2e-agent-compact-ipv4:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci-operator.openshift.io/cluster: build05
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
  ...

ci/prow/e2e-agent-ha-dualstack:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci-operator.openshift.io/cluster: build05
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
  ...

ci/prow/e2e-agent-sno-ipv6:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: equinix-ocp-metal
    ci-operator.openshift.io/cloud-cluster-profile: equinix-ocp-metal
    ci-operator.openshift.io/cluster: build05
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
  ...

Install ansible inside a venv instead of globally
  01_install_requirements.sh
  02_configure_host.sh
  agent/05_agent_configure.sh
  common.sh
  host_cleanup.sh
  network.sh
  remote_nodes.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Add mko as reviewer and approver
  OWNERS
Due: none

fix bad dns agent test for ocp 4.16+ (#1661)
  agent/06_agent_create_cluster.sh
  agent/e2e/agent-tui/test-fix-wrong-dns.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Upgrade golang to 1.22.3 (#1662)
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Pull latest coreos-installer image for agent appliance (#1655)
  agent/06_agent_create_cluster.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Restart NetworkManager after updating packages
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Upgrade to Ansible 7 (#1523)
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Add mko as reviewer and approver (#1504)
  OWNERS
Due: none

AGENT-864: New make target to add day2 node with agent
  Makefile
  agent/05_agent_configure.sh
  agent/07_agent_add_node.sh
  agent/common.sh
  agent/roles/manifests/tasks/install-config.yml
  agent/roles/manifests/templates/nodes-config_yaml.j2
  agent/roles/manifests/vars/main.yml
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Document how to add nodes to a cluster using agent_add_node target
  agent/docs/add-nodes.md
Due: none

Terminate approver_csrs function, add AGENT_EXTRAWORKER_NODE_TO_ADD
  agent/07_agent_add_node.sh
  agent/common.sh
  config_example.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Revert "Upgrade to Ansible 7 (#1523)"
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Revert "Upgrade to Ansible 7 (#1523)" (#1665)
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

appliance: fix disk attach using virt-xml
  agent/06_agent_create_cluster.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Reapply "Upgrade to Ansible 7 (#1523)" (#1665)
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Pass the right interface name to metal3-dev-env firewall config
  02_configure_host.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Restart NetworkManager after updating packages (#1664)
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Avoid installing yq twice
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Refactor get_static_ips_and_macs to also handle extra worker nodes
  agent/07_agent_add_node.sh
  agent/common.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Move add-nodes to own yaml file
  agent/roles/manifests/tasks/add-nodes.yml
  agent/roles/manifests/tasks/install-config.yml
  agent/roles/manifests/tasks/main.yml
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Another attempt to update Ansible and metal3-dev-env (#1666)
  01_install_requirements.sh
  02_configure_host.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Fix yq -iy unsupported flag
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

AGENT-925: Block port 22624 when adding day 2 worker node
  agent/05_agent_configure.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

agent_add_node target adds all extraworker nodes
  agent/07_agent_add_node.sh
  agent/common.sh
  agent/docs/add-nodes.md
  config_example.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Add agent_plus_add_node target
  Makefile
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Move to Ansible 8
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Move to Ansible 8 (#1672)
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Enable CRB repo in RHEL9
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Move get_static_ips_and_macs back to 05_agent_configure.sh
  agent/05_agent_configure.sh
  agent/07_agent_add_node.sh
  agent/common.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Add support for Alma 9
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Avoid installing yq twice (#1668)
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Install python-devel package based on OS version
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Fix no route to host error
  02_configure_host.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Save node-joiner scripts to OCP_DIR
  agent/07_agent_add_node.sh
Due: e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6

Added `-L` flag to curl command
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

use -L (--location) for "curl openshift client" command
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Add -L option to curl command to follow redirects
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Add -L option to curl command to follow redirects (#1680)
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact-ipv4, e2e-agent-sno-ipv6, e2e-agent-ha-dualstack, ci/prow/e2e-agent-compact-ipv4, ci/prow/e2e-agent-ha-dualstack, ci/prow/e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi-bm, ci/prow/e2e-metal-ipi-bm-bond, ci/prow/e2e-metal-ipi-ovn-dualstack, ci/prow/e2e-metal-ipi-ovn-ipv6, ci/prow/e2e-metal-ipi-serial-ipv4, ci/prow/e2e-metal-ipi-serial-ovn-ipv6, ci/prow/e2e-metal-ipi-virtualmedia

Path conditions:
  e2e-metal-ipi-bm: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-bm-bond: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-ovn-dualstack: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-serial-ipv4: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-serial-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-virtualmedia: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-compact-ipv4: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-sno-ipv6: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-ha-dualstack: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-compact-ipv4: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-ha-dualstack: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-agent-sno-ipv6: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-bm: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-bm-bond: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-ovn-dualstack: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-serial-ipv4: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-serial-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-virtualmedia: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
