Repository openshift-metal3/dev-scripts: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Path conditions:
  e2e-metal-ipi-bm: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-bm-bond: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-ovn-dualstack: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-serial-ipv4: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-serial-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-virtualmedia: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-compact: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-sno-ipv6: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi: unless all of: (^(docs|.github)/)|(\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-ovn-ipv6: unless all of: (^(docs|.github)/)|(\.md$)|((^|/)OWNERS$)

Increase the VM memory size as a temporary workaround for the live iso in-memory storage size
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Increase the VM memory size as a temporary workaround for the live iso in-memory storage size (#1519)
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Update Default RELEASE_STREAM to 4.14 (#1517)
  common.sh
  config_example.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

WIP: Add support for doing mirroring from host
  agent/04_agent_prepare_release.sh
  agent/05_agent_configure.sh
  agent/06_agent_create_cluster.sh
  agent/node_registry.sh
  config_example.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Use 100 GB for agent default disk size
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Adding some skeleton code for bmctest
  Makefile
  bmctest/bmctest.sh
  bmctest/ocpbmctest.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

bmctest: working on dev-scripts libvirt
  bmctest/_clouds_yaml/clouds.yaml
  bmctest/bmctest.sh
  bmctest/ocpbmctest.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

bmctest: run tests in parallel
  bmctest/bmctest.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

bmctest: idrac support
  bmctest/bmctest.sh
  bmctest/ocpbmctest.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

bmctest: run baremetal CLI inside container
  bmctest/bmctest.sh
  bmctest/clouds.yaml
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

bmctest:
  bmctest/bmctest.sh
  bmctest/ocpbmctest.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Upgrade to Ansible 7
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Agent-613: Support imageDigestSources for oc adm release mirror
  agent/05_agent_configure.sh
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Agent-613: Support imageDigestSources for oc adm release mirror (#1525)
  agent/05_agent_configure.sh
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

metallb: Override external frr image
  metallb/run_e2e.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

AGENT-603: Dev-scripts support to create pxe assests for ABI
  agent/06_agent_create_cluster.sh
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Default boot mode as ISO,parameterized agent subcommands and improved docc
  agent/06_agent_create_cluster.sh
  common.sh
  config_example.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Minor changes
  agent/06_agent_create_cluster.sh
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Fixed missing "
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Seperate checks for sub commands, space fixed
  agent/06_agent_create_cluster.sh
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Use `AGENT_E2E_TEST_BOOT_MODE` env var
  agent/06_agent_create_cluster.sh
  agent/README.md
  common.sh
  config_example.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Update README.md
  agent/README.md
Due: none

Update docs
  config_example.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Update README.md (#1529)
  agent/README.md
Due: none

Use 100 GB for agent default disk size (#1521)
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

AGENT-603: Support 'create pxe-files' command for ABI (#1526)
  agent/06_agent_create_cluster.sh
  agent/README.md
  common.sh
  config_example.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

agent: add support for PXE booting
  02_configure_host.sh
  agent/06_agent_create_cluster.sh
  agent/cleanup.sh
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

agent: add support for PXE booting (#1528)
  02_configure_host.sh
  agent/06_agent_create_cluster.sh
  agent/cleanup.sh
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

AGENT-611 Add support for unconfigured ignition
  agent/06_agent_create_cluster.sh
  agent/common.sh
  config_example.sh
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Open pxe agent server port.
  02_configure_host.sh
  agent/06_agent_create_cluster.sh
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Open pxe agent server port. (#1532)
  02_configure_host.sh
  agent/06_agent_create_cluster.sh
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Agent can PXE boot on IPV6 as well
  config_example.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Agent can PXE boot on IPV6 as well (#1530)
  config_example.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

OCPBUGS-15056: Use v4 provisioning network for v4-primary dual stack
  network.sh
  vm_setup_vars.yml
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

AGENT-655: Use installer generated iPXE script
  agent/06_agent_create_cluster.sh
  agent/roles/manifests/templates/agent-config_yaml.j2
  agent/roles/manifests/vars/main.yml
  network.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Fix CVO overrides
  start-mao.sh
  stop-cbo.sh
  stop-mao.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Fix pxe boot mode setup. Use pxe boot file generated by the installer
  agent/06_agent_create_cluster.sh
  agent/common.sh
  agent/roles/manifests/templates/agent-config_yaml.j2
  agent/roles/manifests/vars/main.yml
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Fix pxe boot mode setup. Use pxe boot file generated by the installer (#1539)
  agent/06_agent_create_cluster.sh
  agent/common.sh
  agent/roles/manifests/templates/agent-config_yaml.j2
  agent/roles/manifests/vars/main.yml
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6
