Repository openshift-metal3/dev-scripts: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

e2e-metal-ipi:
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-ipv4

e2e-metal-ipi-ovn-ipv6:
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-ovn-ipv6

e2e-metal-ipi-ovn-dualstack:
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-ovn-dualstack

e2e-metal-ipi-serial-ipv4:
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-serial-ipv4

e2e-metal-ipi-serial-ovn-ipv6:
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-serial-ovn-ipv6

e2e-metal-ipi-virtualmedia:
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-virtualmedia

e2e-metal-ipi-proxy-ipv4:
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-proxy-ipv4

e2e-metal-ipi-proxy-ipv6:
  optional: true
  steps:
    cluster_profile: equinix-ocp-metal
    workflow: baremetalds-e2e-proxy-ipv6

ci/prow/e2e-metal-ipi:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet
    ci-operator.openshift.io/cloud-cluster-profile: packet
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-metal-ipi-ovn-ipv6:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: packet
    ci-operator.openshift.io/cloud-cluster-profile: packet
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

Add Alma and Rocky Linux as supported host OSes (#1348)
  01_install_requirements.sh
  02_configure_host.sh
  README.md
  common.sh
  host_cleanup.sh
  validation.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Fix support for Rocky and Alma Linux
  01_install_requirements.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

billi release script (#1437)
  agent/release/billi-release.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Add interface for custom networkConfig (#1418)
  config_example.sh
  network.sh
  utils.sh
  vm_setup_vars.yml
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Fix support for Rocky and Alma Linux (#1441)
  01_install_requirements.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Bug 2087096: Add a dummy interface to IPv6 bridge
  02_configure_host.sh
  host_cleanup.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Fix another missing Alma/Rocky reference
  02_configure_host.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Bug 2087096: Add a dummy interface to IPv6 bridge (#1442)
  02_configure_host.sh
  host_cleanup.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

AGENT-325: Set AgentClusterInstall networkType
  agent/04_agent_configure.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

AGENT-325: Set AgentClusterInstall networkType (#1445)
  agent/04_agent_configure.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Agent-239: Use IPv6 addresses in nmstate config
  agent/04_agent_configure.sh
  agent/05_agent_create_cluster.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Agent: Create kubeadmin password (#1439)
  agent/05_agent_create_cluster.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Agent-239: Use IPv6 addresses in nmstate config (#1444)
  agent/04_agent_configure.sh
  agent/05_agent_create_cluster.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Handle error with ip link using dummy interface
  02_configure_host.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Used fixed name for dummy ipv6 interface to avoid length issue
  02_configure_host.sh
  host_cleanup.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Used fixed name for dummy ipv6 interface to avoid length issue (#1447)
  02_configure_host.sh
  host_cleanup.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

agent: use binary release version
  agent/04_agent_configure.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

agent: use master branch when building installer from sources
  agent/03_agent_build_installer.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

agent: fixes for using 4.12 branch (#1450)
  agent/03_agent_build_installer.sh
  agent/04_agent_configure.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Remove erroneous OWNERS entry
  OWNERS
Due: none

Retire inactive approvers
  OWNERS
Due: none

Add Bob Fournier to approvers
  OWNERS
Due: none

Keep ClusterImageSet releaseImage aligned with the current binary version
  agent/04_agent_configure.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

agent: add config var to deploy mce
  agent/04_agent_configure.sh
  agent/05_agent_create_cluster.sh
  agent/assets/mce/agent_mce_0_01_lso_namespace.yaml
  agent/assets/mce/agent_mce_0_02_lso_operatorgroup.yaml
  agent/assets/mce/agent_mce_0_03_lso_subscription.yaml
  agent/assets/mce/agent_mce_0_03_mce_namespace.yaml
  agent/assets/mce/agent_mce_0_04_mce_operatorgroup.yaml
  agent/assets/mce/agent_mce_0_05_mce_subscription.yaml
  agent/assets/mce/agent_mce_1_01_localvolumes.yaml
  agent/assets/mce/agent_mce_1_02_mce.yaml
  agent/assets/mce/agent_mce_1_03_agentserviceconfig.yaml
  agent/assets/mce/agent_mce_1_04_clusterimageset.yaml
  common.sh
  utils.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Managed cluster image set template
  agent/04_agent_configure.sh
  agent/05_agent_create_cluster.sh
  agent/assets/mce/agent_mce_1_04_clusterimageset.yaml
  agent/assets/mce/agent_mce_1_05_autoimport.yaml
  agent/common.sh
  common.sh
  utils.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Add doc for the AGENT_DEPLOY_MCE config var
  config_example.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Fixed conflicts and getReleaseImage
  agent/common.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

agent: Update README about AGENT_E2E_TEST_SCENARIO variable
  agent/README.md
Due: none

AGENT-329: add mce deployment (#1448)
  agent/04_agent_configure.sh
  agent/05_agent_create_cluster.sh
  agent/assets/mce/agent_mce_0_01_lso_namespace.yaml
  agent/assets/mce/agent_mce_0_02_lso_operatorgroup.yaml
  agent/assets/mce/agent_mce_0_03_lso_subscription.yaml
  agent/assets/mce/agent_mce_0_03_mce_namespace.yaml
  agent/assets/mce/agent_mce_0_04_mce_operatorgroup.yaml
  agent/assets/mce/agent_mce_0_05_mce_subscription.yaml
  agent/assets/mce/agent_mce_1_01_localvolumes.yaml
  agent/assets/mce/agent_mce_1_02_mce.yaml
  agent/assets/mce/agent_mce_1_03_agentserviceconfig.yaml
  agent/assets/mce/agent_mce_1_04_clusterimageset.yaml
  agent/assets/mce/agent_mce_1_05_autoimport.yaml
  agent/common.sh
  common.sh
  config_example.sh
  utils.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Update approvers list (#1451)
  OWNERS
Due: none

Test waiting twice to double the timeout before giving up
  agent/05_agent_create_cluster.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Add static and bond network configs
  network-configs/bond/ostest-master-0.yaml
  network-configs/bond/ostest-master-1.yaml
  network-configs/bond/ostest-master-2.yaml
  network-configs/bond/ostest-worker-0.yaml
  network-configs/bond/ostest-worker-1.yaml
  network-configs/static/hosts.yaml
  network-configs/static/ostest-master-0.yaml
  network-configs/static/ostest-master-1.yaml
  network-configs/static/ostest-master-2.yaml
  network-configs/static/ostest-worker-0.yaml
  network-configs/static/ostest-worker-1.yaml
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Fix another missing Alma/Rocky reference (#1443)
  02_configure_host.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Add static and bond network configs (#1457)
  network-configs/bond/ostest-master-0.yaml
  network-configs/bond/ostest-master-1.yaml
  network-configs/bond/ostest-master-2.yaml
  network-configs/bond/ostest-worker-0.yaml
  network-configs/bond/ostest-worker-1.yaml
  network-configs/static/hosts.yaml
  network-configs/static/ostest-master-0.yaml
  network-configs/static/ostest-master-1.yaml
  network-configs/static/ostest-master-2.yaml
  network-configs/static/ostest-worker-0.yaml
  network-configs/static/ostest-worker-1.yaml
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

agent: Update README about AGENT_E2E_TEST_SCENARIO variable (#1455)
  agent/README.md
Due: none

Adjust for image-customization-controller image rename (#1440)
  04_setup_ironic.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Review fixes
  agent/04_agent_configure.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Renamed vars
  agent/04_agent_configure.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Use OVN-Kubernetes for SNO
  agent/04_agent_configure.sh
  common.sh
Due: e2e-metal-ipi, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-metal-ipi-proxy-ipv4, e2e-metal-ipi-proxy-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Generate agent config & install config seperately
  agent/04_agent_configure.sh
Due: ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Path conditions:
  e2e-metal-ipi: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|(\.md$)|((^|/)OWNERS$)
  e2e-metal-ipi-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE|OWNERS)$
  e2e-metal-ipi-ovn-dualstack: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE|OWNERS)$
  e2e-metal-ipi-serial-ipv4: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE|OWNERS)$
  e2e-metal-ipi-serial-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE|OWNERS)$
  e2e-metal-ipi-virtualmedia: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE|OWNERS)$
  e2e-metal-ipi-proxy-ipv4: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE|OWNERS)$
  e2e-metal-ipi-proxy-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE|OWNERS)$
  ci/prow/e2e-metal-ipi: unless all of: (^(docs|.github)/)|(\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-ovn-ipv6: unless all of: (^(docs|.github)/)|(\.md$)|((^|/)OWNERS$)
