Repository openshift-metal3/dev-scripts: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Path conditions:
  e2e-metal-ipi-bm: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-bm-bond: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-ovn-dualstack: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-serial-ipv4: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-serial-ovn-ipv6: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-metal-ipi-virtualmedia: unless all of: (^(agent|docs|.github)/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-compact: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  e2e-agent-sno-ipv6: unless all of: (^docs|.github/)|^config_example.sh$|\.md$|^(DCO|LICENSE)$|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi: unless all of: (^(docs|.github)/)|(\.md$)|((^|/)OWNERS$)
  ci/prow/e2e-metal-ipi-ovn-ipv6: unless all of: (^(docs|.github)/)|(\.md$)|((^|/)OWNERS$)

OCPBUGS-16912: Agent use nmstateconfig for DHCP tests
  agent/roles/manifests/templates/agent-config_yaml.j2
  agent/roles/manifests/templates/net_macros.yaml
  agent/roles/manifests/templates/nmstateconfig_yaml.j2
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Use external_subnet_vX_prefixlen for nmstateconfig
  agent/roles/manifests/templates/nmstateconfig_yaml.j2
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Revert the workaround for the rhcos storage issue (#1542)
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Fix failure if nmstateconfig.yaml doesn't exist (#1552)
  agent/06_agent_create_cluster.sh
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Add TEST_SW_RAID option
  common.sh
  config_example.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

agent: introduce openshift-appliance flow (#1547)
  agent/06_agent_create_cluster.sh
  agent/cleanup.sh
  agent/common.sh
  agent/roles/manifests/tasks/appliance.yml
  agent/roles/manifests/tasks/main.yml
  agent/roles/manifests/templates/agent-config_yaml.j2
  agent/roles/manifests/templates/appliance-config_yaml.j2
  agent/roles/manifests/templates/install-config_yaml.j2
  common.sh
  config_example.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

appliance: added userCorePass to appliance-config
  agent/roles/manifests/templates/appliance-config_yaml.j2
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Added support for disconnected environments
  config_example.sh
  vm_setup_vars.yml
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

appliance: ensure config-image is created once
  agent/06_agent_create_cluster.sh
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

appliance: added userCorePass to appliance-config (#1559)
  agent/roles/manifests/templates/appliance-config_yaml.j2
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

add new variable for dhcp and use current behaviour by default
  agent/common.sh
  agent/roles/manifests/templates/agent-config_yaml.j2
  agent/roles/manifests/vars/main.yml
  config_example.sh
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

appliance: ensure config-image is created once (#1561)
  agent/06_agent_create_cluster.sh
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

OCPBUGS-16912: Agent use nmstateconfig for DHCP tests (#1557)
  agent/common.sh
  agent/roles/manifests/templates/agent-config_yaml.j2
  agent/roles/manifests/templates/net_macros.yaml
  agent/roles/manifests/templates/nmstateconfig_yaml.j2
  agent/roles/manifests/vars/main.yml
  config_example.sh
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Removing sourcing of the non-step network.sh script, as it introduces unwanted dependency
  agent/common.sh
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Removing sourcing of the non-step network.sh script, as it introduces unwanted dependency (#1562)
  agent/common.sh
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

utils: fix mechanism for mirroring OLM operators
  04_setup_ironic.sh
  agent/docs/config-presets-and-options.md
  config_example.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

utils: fix mechanism for mirroring OLM operators (#1563)
  04_setup_ironic.sh
  agent/docs/config-presets-and-options.md
  config_example.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

utils: allow mirroring single container image
  04_setup_ironic.sh
  agent/docs/config-presets-and-options.md
  config_example.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Do not run 'adm release extract' with KUBECONFIG set
  ocp_install_env.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Remove agent workaround for kubeadmin-password
  agent/06_agent_create_cluster.sh
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Bring down bm interface before virsh bring it back up
  02_configure_host.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

AGENT-428: Add agent support for bonding
  agent/05_agent_configure.sh
  agent/common.sh
  agent/roles/manifests/tasks/install-config.yml
  agent/roles/manifests/templates/agent-config_bond_yaml.j2
  agent/roles/manifests/templates/net_macros.yaml
  agent/roles/manifests/vars/main.yml
  config_example.sh
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

configure bonding in common area so that unique macs are alway used
  02_configure_host.sh
  agent/05_agent_configure.sh
  agent/common.sh
  agent/roles/manifests/vars/main.yml
  config_example.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

supporting bonding with ZTP manifests
  agent/05_agent_configure.sh
  agent/common.sh
  agent/roles/manifests/tasks/ztp.yml
  agent/roles/manifests/templates/agent-config_bond_yaml.j2
  agent/roles/manifests/templates/agent-config_yaml.j2
  agent/roles/manifests/templates/net_macros.yaml
  agent/roles/manifests/templates/nmstateconfig_bond_yaml.j2
  config_example.sh
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

use mac configured for first interface to suppot DHCP
  agent/05_agent_configure.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Fix agent-config jinja
  agent/common.sh
  config_example.sh
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Remove agent workaround for kubeadmin-password (#1567)
  agent/06_agent_create_cluster.sh
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Add mirroring support to ASSETS_EXTRA_FOLDER
  config_example.sh
  utils.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

TEST: wondering if anything passes
  ocp_install_env.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Remove v6v4 from if stetment evaluation
  common.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

set BOND_PRIMARY_INTERFACE if BOND_CONFIG is set
  network.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Bring down bm interface before virsh bring it back up (#1568)
  02_configure_host.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

appliance: remove unused appliance.raw disk image
  agent/06_agent_create_cluster.sh
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

appliance: remove unused appliance.raw disk image (#1572)
  agent/06_agent_create_cluster.sh
Due: e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Clean dnf data before system upgrade
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Clean dnf data before system upgrade (#1573)
  01_install_requirements.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6

Update OWNERS
  OWNERS
Due: none

Add Riccardo to OWNERS
  OWNERS
Due: none

Update OWNERS (#1574)
  OWNERS
Due: none

Power down redfish bm nodes before provisioning (#1543)
  02_configure_host.sh
Due: e2e-metal-ipi-bm, e2e-metal-ipi-bm-bond, e2e-metal-ipi-ovn-ipv6, e2e-metal-ipi-ovn-dualstack, e2e-metal-ipi-serial-ipv4, e2e-metal-ipi-serial-ovn-ipv6, e2e-metal-ipi-virtualmedia, e2e-agent-compact, e2e-agent-sno-ipv6, ci/prow/e2e-metal-ipi, ci/prow/e2e-metal-ipi-ovn-ipv6
