Repository openstack-k8s-operators/placement-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/functional, ci/prow/images, ci/prow/placement-operator-build-deploy-kuttl, ci/prow/precommit-check

Path conditions:
  ci/prow/functional: unless all of: ^(renovate.json|.*\.md|tests/kuttl/.*|OWNERS.*|LICENSE.*)$
  ci/prow/images: unless all of: ^renovate.json|^README.md
  ci/prow/placement-operator-build-deploy-kuttl: unless all of: ^(renovate.json|.*\.md|tests/functional/.*|OWNERS.*|LICENSE.*)$
  ci/prow/precommit-check: unless all of: ^renovate.json|^README.md

[functional] verify LastAppliedTopology != nil before checking name
  tests/functional/placementapi_controller_test.go
Due: ci/prow/functional, ci/prow/images, ci/prow/precommit-check

verify LastAppliedTopology != nil before checking name
  tests/functional/placementapi_controller_test.go
Due: ci/prow/functional, ci/prow/images, ci/prow/precommit-check

Update openstack-k8s-operators
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: ci/prow/functional, ci/prow/images, ci/prow/placement-operator-build-deploy-kuttl, ci/prow/precommit-check

Update k8s.io to v0.29.15
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: ci/prow/functional, ci/prow/images, ci/prow/placement-operator-build-deploy-kuttl, ci/prow/precommit-check

Improve webhook validation for topology references
  api/go.mod
  api/go.sum
  api/v1beta1/placementapi_types.go
  api/v1beta1/placementapi_webhook.go
  go.mod
  go.sum
  tests/functional/placementapi_webhook_test.go
Due: ci/prow/functional, ci/prow/images, ci/prow/placement-operator-build-deploy-kuttl, ci/prow/precommit-check

Update openstack-k8s-operators
  go.mod
  go.sum
Due: ci/prow/functional, ci/prow/images, ci/prow/placement-operator-build-deploy-kuttl, ci/prow/precommit-check

[run-with-webhook] Handle operator deploy by Openstack initialization
  hack/run_with_local_webhook.sh
Due: ci/prow/functional, ci/prow/images, ci/prow/placement-operator-build-deploy-kuttl, ci/prow/precommit-check

add zuul noop jobs
  .zuul.yaml
Due: ci/prow/functional, ci/prow/images, ci/prow/placement-operator-build-deploy-kuttl, ci/prow/precommit-check

add basic zuul jobs
  .zuul.yaml
  Makefile
  ci/olm.sh
  ci/placement-operator-kuttl/deploy_webhooks.yaml
  ci/playbooks/collect-logs.yaml
Due: ci/prow/functional, ci/prow/images, ci/prow/placement-operator-build-deploy-kuttl, ci/prow/precommit-check

testing merge behvior
  tests/functional/base_test.go
Due: ci/prow/functional, ci/prow/images, ci/prow/precommit-check

Add ratailor and auniyal61 to OWNERS
  OWNERS_ALIASES
Due: ci/prow/images, ci/prow/precommit-check

remove placeholder design section from the readme
  README.md
Due: none

Update module github.com/k8snetworkplumbingwg/network-attachment-definition-client to v1.7.6
  go.mod
  go.sum
Due: ci/prow/functional, ci/prow/images, ci/prow/placement-operator-build-deploy-kuttl, ci/prow/precommit-check

Improve topology testing coverage
  tests/functional/base_test.go
  tests/functional/placementapi_controller_test.go
Due: ci/prow/functional, ci/prow/images, ci/prow/precommit-check

Use deployment.IsReady() to validate status
  controllers/placementapi_controller.go
  go.mod
  go.sum
  tests/functional/placementapi_controller_test.go
Due: ci/prow/functional, ci/prow/images, ci/prow/placement-operator-build-deploy-kuttl, ci/prow/precommit-check

Update github.com/openstack-k8s-operators/keystone-operator/api digest to 10f5f7e
  go.mod
  go.sum
Due: ci/prow/functional, ci/prow/images, ci/prow/placement-operator-build-deploy-kuttl, ci/prow/precommit-check

Use deployment.IsReady() to validate status
  api/go.mod
  api/go.sum
  controllers/placementapi_controller.go
  go.mod
  go.sum
  tests/functional/placementapi_controller_test.go
Due: ci/prow/functional, ci/prow/images, ci/prow/placement-operator-build-deploy-kuttl, ci/prow/precommit-check

Add make force-bump target
  Makefile
Due: ci/prow/functional, ci/prow/images, ci/prow/placement-operator-build-deploy-kuttl, ci/prow/precommit-check

Optmize handling topology logic
  api/go.mod
  api/go.sum
  api/v1beta1/placementapi_types.go
  controllers/placementapi_controller.go
  go.mod
  go.sum
  tests/functional/base_test.go
  tests/functional/placementapi_controller_test.go
  tests/functional/suite_test.go
Due: ci/prow/functional, ci/prow/images, ci/prow/placement-operator-build-deploy-kuttl, ci/prow/precommit-check
