Repository opendatahub-io/odh-model-controller: changes, and which Prow jobs are due for each by the changed paths.
All: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

unit:
  commands: HOME=/go GOFLAGS=-mod=mod make test
  container:
    from: src

pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: odh-model-controller
    env:
      IMAGE_REPO: odh-model-controller
    workflow: opendatahub-io-ci-image-mirror

stable-image-mirror:
  postsubmit: true
  steps:
    dependencies:
      SOURCE_IMAGE_REF: odh-model-controller
    env:
      IMAGE_REPO: odh-model-controller
      RELEASE_VERSION: stable
    workflow: opendatahub-io-ci-image-mirror

ci/prow/pr-image-mirror:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

fix(webhook): fix ConnectionsAPI webhook configuration
  config/webhook/kustomization.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

add agents.md and architecture.md (#829)
  AGENTS.md
  CLAUDE.md
  architecture.md
Due: ci/prow/pr-image-mirror, ci/prow/unit

chore: update OWNERS -- add KillianGolds as approver and reviewer
  OWNERS
Due: none

feat: migrate from kubeflow/model-registry to kubeflow/hub
  go.mod
  go.sum
  internal/controller/serving/reconcilers/model_registry_reconciler.go
  test/e2e/modelregistry_controller_e2e_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

refactor(webhook): rename ServiceAccountCreation to CreateServiceAccountIfNeeded
  internal/webhook/connectionapi/utils.go
  internal/webhook/serving/v1beta1/inferenceservice_webhook.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

feat(webhook): extend LLMInferenceService webhook to cover v1alpha1
  config/webhook/kustomization.yaml
  config/webhook/manifests.yaml
  internal/webhook/serving/v1alpha2/llminferenceservice_webhook.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

test(webhook): centralize secret test helpers and clean up tests
  internal/webhook/serving/v1alpha2/llminferenceservice_webhook_test.go
  internal/webhook/serving/v1beta1/inferenceservice_connectionsapi_test.go
  test/utils/secret.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

chore: update OWNERS -- add KillianGolds as approver and reviewer (#830)
  OWNERS
Due: none

fix: align OTel trace exporter versions with core/sdk v1.43.0
  go.mod
  go.sum
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

RHOAIENG-60245: update istio dependencies to v1.27.8 for CVE-2026-31837
  go.mod
  go.sum
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

feat: migrate from kubeflow/model-registry to kubeflow/hub (#831)
  go.mod
  go.sum
  internal/controller/serving/reconcilers/model_registry_reconciler.go
  test/e2e/modelregistry_controller_e2e_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

[RHOAIENG-60245] - CVE-2026-31837 - Istio Information disclosure and authentication bypass via JWKS resolver unavailability
  go.mod
  go.sum
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

[RHOAIENG-60245] - CVE-2026-31837 - Istio Information disclosure and authentication bypass via JWKS resolver unavailability (#834)
  go.mod
  go.sum
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

[RHOAIENG-60245] - CVE-2026-31837 - Istio Information disclosure and authentication bypass via JWKS resolver unavailability (#835)
  go.mod
  go.sum
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

feat: Add vLLM-Omni CUDA ServingRuntime template for multimodal inference (Dev Preview)
  architecture.md
  config/base/kustomization.yaml
  config/base/params.env
  config/component_metadata.yaml
  config/runtimes/kustomization.yaml
  config/runtimes/vllm-omni-cuda-template.yaml
  internal/controller/constants/constants.go
  internal/controller/serving/reconcilers/kserve_metrics_dashboard_reconciler.go
  internal/controller/serving/reconcilers/kserve_metrics_dashboard_reconciler_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

test(webhook): add v1alpha1 dispatch coverage for LLMInferenceService defaulter
  internal/webhook/serving/v1alpha2/llminferenceservice_webhook_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Updated Runtimes Templates version 3.5 ea2
  config/runtimes/vllm-cpu-template.yaml
  config/runtimes/vllm-cpu-x86-template.yaml
  config/runtimes/vllm-cuda-template.yaml
  config/runtimes/vllm-gaudi-template.yaml
  config/runtimes/vllm-multinode-template.yaml
  config/runtimes/vllm-rocm-template.yaml
  config/runtimes/vllm-spyre-ppc64le-template.yaml
  config/runtimes/vllm-spyre-s390x-template.yaml
  config/runtimes/vllm-spyre-x86-template.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

Updated Runtimes Templates version 3.5 ea2 (#838)
  config/runtimes/vllm-cpu-template.yaml
  config/runtimes/vllm-cpu-x86-template.yaml
  config/runtimes/vllm-cuda-template.yaml
  config/runtimes/vllm-gaudi-template.yaml
  config/runtimes/vllm-multinode-template.yaml
  config/runtimes/vllm-rocm-template.yaml
  config/runtimes/vllm-spyre-ppc64le-template.yaml
  config/runtimes/vllm-spyre-s390x-template.yaml
  config/runtimes/vllm-spyre-x86-template.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

[RHOAIENG-66829] - Fix lint line-length and IPv4-like hostname validation
  server/gateway/filter.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

[RHOAIENG-66829] - Address review feedback: validate gateway hostnames, fix test assertions
  server/gateway/filter.go
  server/gateway/filter_test.go
  server/handlers/gateways_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

[RHOAIENG-66829] - Return gateway connection metadata from model-serving-api
  server/gateway/filter.go
  server/gateway/filter_test.go
  server/gateway/types.go
  server/handlers/gateways_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

[RHOAIENG-68180] Reorder fast image keys in params.env near stable counterparts
  config/base/params.env
Due: ci/prow/pr-image-mirror, ci/prow/unit

[RHOAIENG-68180] Address review: fix annotation and remove LoadRestrictionsNone
  Makefile
  config/default/kustomization.yaml
  config/runtimes-fast-1/kustomization.yaml
  config/runtimes-fast-2/kustomization.yaml
  config/runtimes-fast/kustomization.yaml
  config/runtimes/kustomization.yaml
  config/runtimes/vllm/kustomization.yaml
  config/runtimes/vllm/vllm-cuda-template.yaml
  config/runtimes/vllm/vllm-gaudi-template.yaml
  config/runtimes/vllm/vllm-rocm-template.yaml
  config/runtimes/vllm/vllm-spyre-ppc64le-template.yaml
  config/runtimes/vllm/vllm-spyre-s390x-template.yaml
  config/runtimes/vllm/vllm-spyre-x86-template.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

[RHOAIENG-68180] Reuse vllm-cuda-image-fast keys for multinode fast templates
  config/base/kustomization.yaml
  config/base/params.env
Due: ci/prow/pr-image-mirror, ci/prow/unit

[RHOAIENG-68180] Add kustomize overlays for fast-1 and fast-2 vLLM ServingRuntime templates
  Makefile
  config/base/kustomization.yaml
  config/base/params.env
  config/default/kustomization.yaml
  config/runtimes-fast/fast-1/kustomization.yaml
  config/runtimes-fast/fast-2/kustomization.yaml
  config/runtimes-fast/kustomization.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

[RHOAIENG-68180] Expand fast overlays to all vLLM templates and remove redundant labels
  config/base/kustomization.yaml
  config/base/params.env
  config/runtimes-fast-1/kustomization.yaml
  config/runtimes-fast-2/kustomization.yaml
  config/runtimes/kustomization.yaml
  config/runtimes/vllm/kustomization.yaml
  config/runtimes/vllm/vllm-cpu-template.yaml
  config/runtimes/vllm/vllm-cpu-x86-template.yaml
  config/runtimes/vllm/vllm-multinode-template.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

feat(webhook): migrate ConnectionsAPI injection to odh-model-controller (#827)
  cmd/main.go
  config/webhook/kustomization.yaml
  config/webhook/manifests.yaml
  internal/webhook/connectionapi/annotations.go
  internal/webhook/connectionapi/utils.go
  internal/webhook/serving/v1alpha2/llminferenceservice_webhook.go
  internal/webhook/serving/v1alpha2/llminferenceservice_webhook_test.go
  internal/webhook/serving/v1alpha2/webhook_suite_test.go
  internal/webhook/serving/v1beta1/inferenceservice_connectionsapi_test.go
  internal/webhook/serving/v1beta1/inferenceservice_webhook.go
  test/utils/secret.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

fix(release): exclude llm-d images from params.env update in kserve
  .github/workflows/odh-release.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

fix(release): exclude llm-d images from params.env update in kserve (#845)
  .github/workflows/odh-release.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

fix: update gateway ref types to match kserve v1alpha2 API change
  go.mod
  go.sum
  internal/controller/serving/llm/fixture/llmisvc_builders.go
  internal/controller/serving/llm/gateway_controller.go
  internal/controller/serving/llm/gateway_controller_test.go
  internal/controller/serving/llm/gateway_filter_test.go
  internal/controller/serving/llm/llm_inferenceservice_controller_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

fix(e2e): remove conflicting kustomize set image calls
  Makefile
Due: ci/prow/pr-image-mirror, ci/prow/unit

fix: update gateway ref types for kserve v1alpha2 and fix e2e image injection (#846)
  Makefile
  go.mod
  go.sum
  internal/controller/serving/llm/fixture/llmisvc_builders.go
  internal/controller/serving/llm/gateway_controller.go
  internal/controller/serving/llm/gateway_controller_test.go
  internal/controller/serving/llm/gateway_filter_test.go
  internal/controller/serving/llm/llm_inferenceservice_controller_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Revert "feat(webhook): migrate ConnectionsAPI injection to odh-model-controll…"
  cmd/main.go
  config/webhook/kustomization.yaml
  config/webhook/manifests.yaml
  internal/webhook/connectionapi/annotations.go
  internal/webhook/connectionapi/utils.go
  internal/webhook/serving/v1alpha2/llminferenceservice_webhook.go
  internal/webhook/serving/v1alpha2/llminferenceservice_webhook_test.go
  internal/webhook/serving/v1alpha2/webhook_suite_test.go
  internal/webhook/serving/v1beta1/inferenceservice_connectionsapi_test.go
  internal/webhook/serving/v1beta1/inferenceservice_webhook.go
  test/utils/secret.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Revert "feat(webhook): migrate ConnectionsAPI injection to odh-model-controll…" (#848)
  cmd/main.go
  config/webhook/kustomization.yaml
  config/webhook/manifests.yaml
  internal/webhook/connectionapi/annotations.go
  internal/webhook/connectionapi/utils.go
  internal/webhook/serving/v1alpha2/llminferenceservice_webhook.go
  internal/webhook/serving/v1alpha2/llminferenceservice_webhook_test.go
  internal/webhook/serving/v1alpha2/webhook_suite_test.go
  internal/webhook/serving/v1beta1/inferenceservice_connectionsapi_test.go
  internal/webhook/serving/v1beta1/inferenceservice_webhook.go
  test/utils/secret.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Update image refs and .tekton/ pipelines for release odh-v3.5-EA2
  .tekton/odh-model-controller-push.yaml
  .tekton/odh-model-serving-api-ci-on-push.yaml
  config/base/params.env
  go.mod
  go.sum
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

feat: integrate with cluster TLS security profile
  Containerfile
  cmd/main.go
  config/rbac/role.yaml
  internal/controller/serving/inferenceservice_controller.go
  pkg/tls/tls.go
  pkg/tls/tls_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

fix(release): add go build smoke test after kserve dep update
  .github/workflows/odh-release.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

Path conditions:
  unit: unless all of: ^(?:config|\.github|hack)/|\.md$|^(?:\.gitignore|\.pre-commit-config\.yaml|OWNERS|PROJECT|LICENSE|\.dockerignore|Makefile)$
  pr-image-mirror: unless all of: ^(?:config|\.github|hack)/|\.md$|^(?:\.gitignore|\.pre-commit-config\.yaml|OWNERS|PROJECT|LICENSE|\.dockerignore|Makefile)$
  stable-image-mirror: unless all of: ^(?:config|\.github|hack)/|\.md$|^(?:\.gitignore|\.pre-commit-config\.yaml|OWNERS|PROJECT|LICENSE|\.dockerignore|Makefile)$
  ci/prow/pr-image-mirror: unless all of: ^(?:.*\/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|LICENSE|.*\.develop)$
  ci/prow/unit: unless all of: ^(?:.*\/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|LICENSE|.*\.develop)$
