Repository opendatahub-io/odh-model-controller: changes, and which Prow jobs are due for each by the changed paths.
All: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

unit:
  commands: HOME=/go GOFLAGS=-mod=mod make test
  container:
    from: src

pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: odh-model-controller
    env:
      IMAGE_REPO: odh-model-controller
    workflow: opendatahub-io-ci-image-mirror

stable-image-mirror:
  postsubmit: true
  steps:
    dependencies:
      SOURCE_IMAGE_REF: odh-model-controller
    env:
      IMAGE_REPO: odh-model-controller
      RELEASE_VERSION: stable
    workflow: opendatahub-io-ci-image-mirror

ci/prow/pr-image-mirror:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

fix: when AuthPolicy CRD not exist(Kuadrant not installed) KserveAuthPolicyReconciler should return nil than err
  internal/controller/serving/llm/reconcilers/kserve_authpolicy_reconciler.go
  internal/controller/serving/llm/reconcilers/kserve_authpolicy_reconciler_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

fix: lint
  internal/controller/serving/llm/reconcilers/kserve_authpolicy_reconciler_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

fix(metrics): fix vLLM REQUEST_COUNT metric query for dashboard
  internal/controller/constants/runtime-metrics.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

test(metrics): add validation tests for runtime metrics templates
  internal/controller/serving/reconcilers/kserve_metrics_dashboard_reconciler_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

test(metrics): assert REQUEST_COUNT section exists and enforce query order
  internal/controller/serving/reconcilers/kserve_metrics_dashboard_reconciler_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

fix(metrics): fix vLLM REQUEST_COUNT metric query for dashboard
  internal/controller/constants/runtime-metrics.go
  internal/controller/serving/reconcilers/kserve_metrics_dashboard_reconciler_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Add external JWT issuers section to multi-cluster auth design
  internal/controller/resources/template/MULTI_CLUSTER_AUTH.md
Due: ci/prow/pr-image-mirror, ci/prow/unit

fix(metrics): fix vLLM REQUEST_COUNT metric query for dashboard (#806)
  internal/controller/constants/runtime-metrics.go
  internal/controller/serving/reconcilers/kserve_metrics_dashboard_reconciler_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

ci(release): [RHOAIENG-58438] enable tag-push Konflux builds
  .github/workflows/odh-release.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

fix: read prometheus.io/path annotation for ServiceMonitor endpoint path
  internal/controller/serving/reconcilers/kserve_metrics_servicemonitor_reconciler.go
  internal/controller/serving/reconcilers/kserve_metrics_servicemonitor_reconciler_test.go
  internal/controller/utils/nim.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

fix: trim and normalize prometheus.io/path annotation before setting Endpoint.Path
  internal/controller/serving/reconcilers/kserve_metrics_servicemonitor_reconciler.go
  internal/controller/serving/reconcilers/kserve_metrics_servicemonitor_reconciler_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

fix: trim and normalize prometheus.io/path annotation before setting Endpoint.Path
  internal/controller/serving/reconcilers/kserve_metrics_servicemonitor_reconciler_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

test: add Ginkgo suite bootstrap for reconcilers package
  internal/controller/serving/reconcilers/suite_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

fix: read prometheus.io/path annotation for ServiceMonitor endpoint path (#809)
  internal/controller/serving/reconcilers/kserve_metrics_servicemonitor_reconciler.go
  internal/controller/serving/reconcilers/kserve_metrics_servicemonitor_reconciler_test.go
  internal/controller/serving/reconcilers/suite_test.go
  internal/controller/utils/nim.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

fix: read prometheus.io/path annotation for ServiceMonitor endpoint path (#808)
  internal/controller/serving/reconcilers/kserve_metrics_servicemonitor_reconciler.go
  internal/controller/serving/reconcilers/kserve_metrics_servicemonitor_reconciler_test.go
  internal/controller/utils/nim.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

ci(release): add dry-run option and no-match error guard
  .github/workflows/odh-release.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

ci(release): integrate llm-d-kv-cache and workload-variant-autoscaler repos
  .github/workflows/odh-release.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

ci(release): enable full Fix 2 for all repos
  .github/workflows/odh-release.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

Update .github/workflows/odh-release.yaml
  .github/workflows/odh-release.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

ci(release): harden workflow against script injection
  .github/workflows/odh-release.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

ci(release): [RHOAIENG-58438] enable tag-push Konflux builds (#807)
  .github/workflows/odh-release.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

Update with Vault PoC / Testing
  internal/controller/resources/template/MULTI_CLUSTER_AUTH.md
  internal/controller/resources/template/VAULT_INTEGRATION_TEST_PLAN.md
Due: ci/prow/pr-image-mirror, ci/prow/unit

[RHOAIENG-56831] - Fix Go JOSE DoS via crafted JWE object (CVE-2026-34986)
  go.mod
  go.sum
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

[RHOAIENG-56859] - Fix Go JOSE DoS via crafted JWE object (CVE-2026-34986)
  go.mod
  go.sum
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

[RHOAIENG-56859] - Fix Go JOSE DoS via crafted JWE object (CVE-2026-34986) (#811)
  go.mod
  go.sum
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

fix(release): split git add to avoid fatal abort on missing pathspec
  .github/workflows/odh-release.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

chore: update OWNERS -- add jlost, remove rnetser and hdefazio
  OWNERS
Due: none

chore: update OWNERS -- add jlost, remove rnetser and hdefazio (#813)
  OWNERS
Due: none

chore: switch params.env to Konflux-built images (RHOAIENG-53839)
  .github/workflows/verify-odh-model-controller-img-tag.yaml
  config/base/params.env
Due: ci/prow/pr-image-mirror, ci/prow/unit

chore: switch params.env to Konflux-built images (RHOAIENG-53839) (#814)
  .github/workflows/verify-odh-model-controller-img-tag.yaml
  config/base/params.env
Due: ci/prow/pr-image-mirror, ci/prow/unit

feat(release): pin kserve dep at release time, add MLServer repo
  .github/workflows/odh-release.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

chore: bump kserve dependency to odh-v3.5
  go.mod
  go.sum
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

chore: bump kserve dependency to odh-v3.5 (#816)
  go.mod
  go.sum
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

fix(release): add odh-stable to omc image tag pattern
  .github/workflows/odh-release.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

feat(release): [RHOAIENG-58438] pin kserve dep at release time, add MLServer (#815)
  .github/workflows/odh-release.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

Update image refs and .tekton/ pipelines for release odh-v3.5-EA1
  .tekton/odh-model-controller-push.yaml
  .tekton/odh-model-serving-api-ci-on-push.yaml
  config/base/params.env
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Updated Runtimes Templates version 3.5 ea1
  config/runtimes/vllm-cpu-template.yaml
  config/runtimes/vllm-cpu-x86-template.yaml
  config/runtimes/vllm-cuda-template.yaml
  config/runtimes/vllm-gaudi-template.yaml
  config/runtimes/vllm-multinode-template.yaml
  config/runtimes/vllm-rocm-template.yaml
  config/runtimes/vllm-spyre-ppc64le-template.yaml
  config/runtimes/vllm-spyre-s390x-template.yaml
  config/runtimes/vllm-spyre-x86-template.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

Improvements
  internal/controller/resources/template/MULTI_CLUSTER_AUTH.md
Due: ci/prow/pr-image-mirror, ci/prow/unit

test trigger
  .tekton/odh-model-controller-pull-request.yaml
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Path conditions:
  unit: unless all of: ^(?:config|\.github|hack)/|\.md$|^(?:\.gitignore|\.pre-commit-config\.yaml|OWNERS|PROJECT|LICENSE|\.dockerignore|Makefile)$
  pr-image-mirror: unless all of: ^(?:config|\.github|hack)/|\.md$|^(?:\.gitignore|\.pre-commit-config\.yaml|OWNERS|PROJECT|LICENSE|\.dockerignore|Makefile)$
  stable-image-mirror: unless all of: ^(?:config|\.github|hack)/|\.md$|^(?:\.gitignore|\.pre-commit-config\.yaml|OWNERS|PROJECT|LICENSE|\.dockerignore|Makefile)$
  ci/prow/pr-image-mirror: unless all of: ^(?:.*\/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|LICENSE|.*\.develop)$
  ci/prow/unit: unless all of: ^(?:.*\/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|LICENSE|.*\.develop)$
