Repository opendatahub-io/odh-model-controller: changes, and which Prow jobs are due for each by the changed paths.
All: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

unit:
  commands: HOME=/go GOFLAGS=-mod=mod make test
  container:
    from: src

pr-image-mirror:
  steps:
    dependencies:
      SOURCE_IMAGE_REF: odh-model-controller
    env:
      IMAGE_REPO: odh-model-controller
    workflow: opendatahub-io-ci-image-mirror

stable-image-mirror:
  postsubmit: true
  steps:
    dependencies:
      SOURCE_IMAGE_REF: odh-model-controller
    env:
      IMAGE_REPO: odh-model-controller
      RELEASE_VERSION: stable
    workflow: opendatahub-io-ci-image-mirror

ci/prow/pr-image-mirror:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/unit:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

chore: removes dead code
  internal/controller/serving/llm/reconcilers/kserve_envoyfilter_reconciler.go
  internal/controller/utils/llmisvc.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

fix(auth): only bootstrap auth for gateways actively in use
  internal/controller/serving/llm/gateway_controller.go
  internal/controller/serving/llm/gateway_controller_test.go
  internal/controller/serving/llm/llm_inferenceservice_controller.go
  internal/controller/serving/llm/llm_inferenceservice_controller_test.go
  internal/controller/utils/utils.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Update image refs for release odh-v3.4-EA1
  config/base/params.env
Due: ci/prow/pr-image-mirror, ci/prow/unit

chore(konflux): Bump ODH tag to odh-v3.4-EA2
  .tekton/odh-model-controller-push.yaml
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

fix(auth): respect opendatahub.io/managed as both label and annotation
  internal/controller/constants/constants.go
  internal/controller/serving/llm/gateway_controller.go
  internal/controller/serving/llm/gateway_controller_test.go
  internal/controller/utils/utils.go
  internal/controller/utils/utils_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

chore(🐇): align copyright year in gateway controller test
  internal/controller/serving/llm/gateway_controller_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

fix(🐰): propagate error from isGatewayReferencedByLLMService
  internal/controller/serving/llm/gateway_controller.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

fix(🐇): reconcile gateways on LLMInferenceService deletion
  internal/controller/serving/llm/gateway_controller.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

feat(🐰🐇): watch LLMInferenceServiceConfig for gateway reconciliation
  internal/controller/serving/llm/gateway_controller.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

chore(test): additional test coverage
  internal/controller/resources/authpolicy.go
  internal/controller/resources/authpolicy_test.go
  internal/controller/resources/template/authpolicy_anonymous.yaml
  internal/controller/serving/llm/gateway_controller.go
  internal/controller/serving/llm/reconcilers/kserve_authpolicy_reconciler.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Make LLMISVC authpolicy auth rules apply as "OR"
  internal/controller/resources/template/authpolicy_llm_isvc_userdefined.yaml
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Deny unhandled methods
  internal/controller/resources/template/authpolicy_llm_isvc_userdefined.yaml
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

update runtime versions on rhoai-3.4ea1 branch
  config/runtimes/ovms-kserve-template.yaml
  config/runtimes/vllm-cpu-template.yaml
  config/runtimes/vllm-cpu-x86-template.yaml
  config/runtimes/vllm-cuda-template.yaml
  config/runtimes/vllm-gaudi-template.yaml
  config/runtimes/vllm-rocm-template.yaml
  config/runtimes/vllm-spyre-ppc64le-template.yaml
  config/runtimes/vllm-spyre-s390x-template.yaml
  config/runtimes/vllm-spyre-x86-template.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

cherrypick pr 694 update runtime versions
  config/runtimes/ovms-kserve-template.yaml
  config/runtimes/vllm-cpu-template.yaml
  config/runtimes/vllm-cpu-x86-template.yaml
  config/runtimes/vllm-cuda-template.yaml
  config/runtimes/vllm-gaudi-template.yaml
  config/runtimes/vllm-rocm-template.yaml
  config/runtimes/vllm-spyre-ppc64le-template.yaml
  config/runtimes/vllm-spyre-s390x-template.yaml
  config/runtimes/vllm-spyre-x86-template.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

cherrypick pr 694 update runtime versions (#695)
  config/runtimes/ovms-kserve-template.yaml
  config/runtimes/vllm-cpu-template.yaml
  config/runtimes/vllm-cpu-x86-template.yaml
  config/runtimes/vllm-cuda-template.yaml
  config/runtimes/vllm-gaudi-template.yaml
  config/runtimes/vllm-rocm-template.yaml
  config/runtimes/vllm-spyre-ppc64le-template.yaml
  config/runtimes/vllm-spyre-s390x-template.yaml
  config/runtimes/vllm-spyre-x86-template.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

update runtime versions on rhoai-3.4ea1 branch (#694)
  config/runtimes/ovms-kserve-template.yaml
  config/runtimes/vllm-cpu-template.yaml
  config/runtimes/vllm-cpu-x86-template.yaml
  config/runtimes/vllm-cuda-template.yaml
  config/runtimes/vllm-gaudi-template.yaml
  config/runtimes/vllm-rocm-template.yaml
  config/runtimes/vllm-spyre-ppc64le-template.yaml
  config/runtimes/vllm-spyre-s390x-template.yaml
  config/runtimes/vllm-spyre-x86-template.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

Remove endpoint-access auth block
  internal/controller/resources/template/authpolicy_llm_isvc_userdefined.yaml
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Re-add priority
  internal/controller/resources/template/authpolicy_llm_isvc_userdefined.yaml
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Upgrade Go to 1.25.7
  Dockerfile.konflux
  go.mod
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Upgrade Go to 1.25.7 (#696)
  Dockerfile.konflux
  go.mod
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Make LLMISVC AuthPolicy auth rules apply as OR (#693)
  internal/controller/resources/template/authpolicy_llm_isvc_userdefined.yaml
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

add .claude to gitignore
  .gitignore
Due: none

fix: update Go to 1.25.7 for CVE-2025-61729, CVE-2025-61728
  Containerfile
  go.mod
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

test: configure default Eventually timeouts for core tests
  internal/controller/core/suite_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

test: replace manual retry loops in secret controller tests
  internal/controller/core/secret_controller_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

fix: add data validation to configmap controller tests
  internal/controller/core/configmap_controller_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

feat(gateway-discovery): add gateway types, status extraction, and listener filtering
  server/gateway/filter.go
  server/gateway/filter_test.go
  server/gateway/status.go
  server/gateway/status_test.go
  server/gateway/types.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

feat(gateway-discovery): add auth, logging, recovery, and security middleware
  server/middleware/auth.go
  server/middleware/auth_test.go
  server/middleware/logging.go
  server/middleware/recovery.go
  server/middleware/security.go
  server/middleware/testing.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

feat(gateway-discovery): add handlers, discovery, config, and server bootstrap
  server/config.go
  server/gateway/discovery.go
  server/handlers/gateways.go
  server/handlers/gateways_test.go
  server/handlers/health.go
  server/httputil/response.go
  server/main.go
  server/server.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

feat(gateway-discovery): add Kustomize deployment manifests
  config/server/clusterrole.yaml
  config/server/clusterrolebinding.yaml
  config/server/kustomization.yaml
  config/server/server.yaml
  config/server/service.yaml
  config/server/service_account.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

docs(gateway-discovery): add feature documentation and implementation spec
  server/features/gateway-discovery/Discover_Gateways.md
  server/features/gateway-discovery/spec.md
Due: ci/prow/pr-image-mirror, ci/prow/unit

feat(gateway-discovery): add model-serving-api image replacement in config/base
  config/base/kustomization.yaml
  config/base/params.env
  config/default/kustomization.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

Removed creation and reconciliation of gateway level authpolicy, added tests
  .github/workflows/test-authpolicy-removal.yml
  Makefile
  cmd/main.go
  config/rbac/role.yaml
  config/webhook/kustomization.yaml
  config/webhook/manifests.yaml
  internal/controller/comparators/authpolicy_comparator.go
  internal/controller/comparators/authpolicy_comparator_test.go
  internal/controller/comparators/role_comparator.go
  internal/controller/comparators/rolebinding_comparator.go
  internal/controller/constants/constants.go
  internal/controller/resources/authpolicy.go
  internal/controller/resources/authpolicy_test.go
  internal/controller/resources/template/authpolicy_anonymous.yaml
  internal/controller/resources/template/authpolicy_llm_isvc_userdefined.yaml
  internal/controller/serving/llm/fixture/authpolicy_helpers.go
  internal/controller/serving/llm/fixture/common_helpers.go
  internal/controller/serving/llm/fixture/llmisvc_builders.go
  internal/controller/serving/llm/fixture/required_resources.go
  internal/controller/serving/llm/llm_inferenceservice_controller.go
  internal/controller/serving/llm/llm_inferenceservice_controller_test.go
  internal/controller/serving/llm/reconcilers/kserve_authpolicy_reconciler.go
  internal/controller/serving/llm/testdata/deploy/test-llm-inference-service-2.yaml
  internal/controller/serving/llm/testdata/deploy/test-llm-inference-service.yaml
  internal/controller/serving/reconcilers/llm_role_reconciler.go
  internal/controller/serving/reconcilers/llm_rolebinding_reconciler.go
  internal/controller/serving/reconcilers/llm_rolebinding_reconciler_test.go
  internal/controller/serving/reconcilers/tier_config.go
  internal/controller/utils/utils.go
  internal/webhook/core/v1/tier_configmap_webhook.go
  internal/webhook/core/v1/tier_configmap_webhook_test.go
  internal/webhook/core/v1/webhook_suite_test.go
  internal/webhook/nim/v1/webhook_suite_test.go
  internal/webhook/serving/v1alpha1/llminferenceservice_webhook.go
  internal/webhook/serving/v1alpha1/llminferenceservice_webhook_test.go
  internal/webhook/serving/v1alpha1/webhook_suite_test.go
  internal/webhook/serving/v1beta1/webhook_suite_test.go
  test/e2e/test-remove-authpolicy-tiers.sh
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

fix(gateway-discovery): address lint errors and kustomize validation
  config/default/kustomization.yaml
  server/config.go
  server/gateway/status.go
  server/gateway/status_test.go
  server/handlers/gateways_test.go
  server/httputil/response.go
  server/main.go
  server/middleware/auth_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

fix(gateway-discovery): fix gofmt and remaining errcheck findings
  server/gateway/discovery.go
  server/gateway/filter.go
  server/gateway/filter_test.go
  server/gateway/status.go
  server/gateway/status_test.go
  server/gateway/types.go
  server/handlers/gateways.go
  server/handlers/gateways_test.go
  server/handlers/health.go
  server/middleware/auth.go
  server/middleware/auth_test.go
  server/middleware/logging.go
  server/middleware/recovery.go
  server/middleware/security.go
  server/middleware/testing.go
  server/server.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Removed creation and reconciliation of gateway level authpolicy, added tests
  .github/workflows/test-authpolicy-removal.yml
  Makefile
  cmd/main.go
  config/rbac/role.yaml
  config/webhook/kustomization.yaml
  config/webhook/manifests.yaml
  internal/controller/comparators/authpolicy_comparator.go
  internal/controller/comparators/authpolicy_comparator_test.go
  internal/controller/comparators/role_comparator.go
  internal/controller/comparators/rolebinding_comparator.go
  internal/controller/constants/constants.go
  internal/controller/resources/authpolicy.go
  internal/controller/resources/authpolicy_test.go
  internal/controller/resources/template/FLOW_CONTROL.md
  internal/controller/resources/template/authpolicy_anonymous.yaml
  internal/controller/resources/template/authpolicy_llm_isvc_userdefined.yaml
  internal/controller/serving/llm/fixture/authpolicy_helpers.go
  internal/controller/serving/llm/fixture/common_helpers.go
  internal/controller/serving/llm/fixture/llmisvc_builders.go
  internal/controller/serving/llm/fixture/required_resources.go
  internal/controller/serving/llm/llm_inferenceservice_controller.go
  internal/controller/serving/llm/llm_inferenceservice_controller_test.go
  internal/controller/serving/llm/reconcilers/kserve_authpolicy_reconciler.go
  internal/controller/serving/llm/testdata/deploy/test-llm-inference-service-2.yaml
  internal/controller/serving/llm/testdata/deploy/test-llm-inference-service.yaml
  internal/controller/serving/reconcilers/llm_role_reconciler.go
  internal/controller/serving/reconcilers/llm_rolebinding_reconciler.go
  internal/controller/serving/reconcilers/llm_rolebinding_reconciler_test.go
  internal/controller/serving/reconcilers/tier_config.go
  internal/controller/utils/utils.go
  internal/webhook/core/v1/tier_configmap_webhook.go
  internal/webhook/core/v1/tier_configmap_webhook_test.go
  internal/webhook/core/v1/webhook_suite_test.go
  internal/webhook/nim/v1/webhook_suite_test.go
  internal/webhook/serving/v1alpha1/llminferenceservice_webhook.go
  internal/webhook/serving/v1alpha1/llminferenceservice_webhook_test.go
  internal/webhook/serving/v1alpha1/webhook_suite_test.go
  internal/webhook/serving/v1beta1/webhook_suite_test.go
  test/e2e/test-remove-authpolicy-tiers.sh
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Fixing lint issues
  internal/controller/serving/llm/fixture/llmisvc_builders.go
  internal/controller/serving/llm/fixture/required_resources.go
  internal/controller/serving/llm/llm_inferenceservice_controller.go
  internal/webhook/core/v1/webhook_suite_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Linter fixes
  internal/webhook/nim/v1/webhook_suite_test.go
  internal/webhook/serving/v1alpha1/webhook_suite_test.go
  internal/webhook/serving/v1beta1/webhook_suite_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Fixing code rabbit reported issues
  .github/workflows/test-authpolicy-removal.yml
  test/e2e/test-remove-authpolicy-tiers.sh
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

add MLSERVER_MODEL_IMPLEMENTATION to env and remove MLSERVER_MODEL_NAME from env(it will be added by webhook)
  config/runtimes/mlserver-template.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

Path conditions:
  unit: unless all of: ^(?:config|\.github|hack)/|\.md$|^(?:\.gitignore|\.pre-commit-config\.yaml|OWNERS|PROJECT|LICENSE|\.dockerignore|Makefile)$
  pr-image-mirror: unless all of: ^(?:config|\.github|hack)/|\.md$|^(?:\.gitignore|\.pre-commit-config\.yaml|OWNERS|PROJECT|LICENSE|\.dockerignore|Makefile)$
  stable-image-mirror: unless all of: ^(?:config|\.github|hack)/|\.md$|^(?:\.gitignore|\.pre-commit-config\.yaml|OWNERS|PROJECT|LICENSE|\.dockerignore|Makefile)$
  ci/prow/pr-image-mirror: unless all of: ^(?:.*\/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|LICENSE|.*\.develop)$
  ci/prow/unit: unless all of: ^(?:.*\/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|LICENSE|.*\.develop)$
