Repository opendatahub-io/odh-model-controller: changes, and which Prow jobs are due for each by the changed paths.
All: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Path conditions:
  unit: unless all of: ^(?:config|\.github|hack)/|\.md$|^(?:\.gitignore|\.pre-commit-config\.yaml|OWNERS|PROJECT|LICENSE|\.dockerignore|Makefile)$
  pr-image-mirror: unless all of: ^(?:config|\.github|hack)/|\.md$|^(?:\.gitignore|\.pre-commit-config\.yaml|OWNERS|PROJECT|LICENSE|\.dockerignore|Makefile)$
  stable-image-mirror: unless all of: ^(?:config|\.github|hack)/|\.md$|^(?:\.gitignore|\.pre-commit-config\.yaml|OWNERS|PROJECT|LICENSE|\.dockerignore|Makefile)$
  ci/prow/pr-image-mirror: unless all of: ^(?:.*\/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|LICENSE|.*\.develop)$
  ci/prow/unit: unless all of: ^(?:.*\/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|LICENSE|.*\.develop)$

upgrading authorino package version to v0.20.0 (#395)
  go.mod
  go.sum
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Update image refs for odh release.
  config/base/params.env
Due: ci/prow/pr-image-mirror, ci/prow/unit

[RHOAIENG-20597] vLLM Serving Runtime Template naming changes
  config/base/kustomization.yaml
  config/base/params.env
  config/runtimes/kustomization.yaml
  config/runtimes/vllm-cuda-template.yaml
  config/runtimes/vllm-gaudi-template.yaml
  config/runtimes/vllm-multinode-template.yaml
  config/runtimes/vllm-rocm-template.yaml
  internal/controller/serving/testdata/configmaps/odh-model-controller-parameters.yaml
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

revert: revert "Update status post frequency for NIM account controller (#360)" (#380)
  internal/controller/nim/account_controller.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Use annotation instead of label to enable auth for RawDeployment (#382) (#575)
  internal/controller/constants/constants.go
  internal/controller/resources/authconfig.go
  internal/controller/serving/inferencegraph_controller_test.go
  internal/controller/serving/inferenceservice_controller_test.go
  internal/controller/serving/reconcilers/kserve_raw_clusterrolebinding_reconciler.go
  internal/controller/serving/reconcilers/kserve_raw_route_reconciler.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Depricate TGIS-2.19
  config/base/kustomization.yaml
  config/base/params.env
  config/runtimes/kustomization.yaml
  config/runtimes/tgis-template.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

[RHOAIENG-20597] vLLM Serving Runtime Template naming changes (#398)
  config/base/kustomization.yaml
  config/base/params.env
  config/runtimes/kustomization.yaml
  config/runtimes/vllm-cuda-template.yaml
  config/runtimes/vllm-gaudi-template.yaml
  config/runtimes/vllm-multinode-template.yaml
  config/runtimes/vllm-rocm-template.yaml
  internal/controller/serving/testdata/configmaps/odh-model-controller-parameters.yaml
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

chore: added logs for nim api responses (#383)
  hack/verify_nvidia_nim_api.go
  internal/controller/nim/account_controller.go
  internal/controller/utils/nim.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

chore: filter events for the nim controller (#384)
  internal/controller/nim/account_controller.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

fix: legally blocked content should not break NIM integration (#390)
  hack/verify_nvidia_nim_api.go
  internal/controller/nim/account_controller.go
  internal/controller/nim/account_controller_test.go
  internal/controller/nim/testdata/ngc_catalog_response_page_0.json
  internal/controller/nim/testdata/ngc_catalog_response_page_1.json
  internal/controller/utils/nim.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Depricate TGIS-2.19 (#399)
  config/base/kustomization.yaml
  config/base/params.env
  config/runtimes/kustomization.yaml
  config/runtimes/tgis-template.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

Update approvers in owners file with runtimes team members
  OWNERS
Due: none

fix: TGIS image removal not completely done
  config/base/kustomization.yaml
  internal/controller/serving/testdata/configmaps/odh-model-controller-parameters.yaml
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

fix: TGIS image removal not completely done (#401)
  config/base/kustomization.yaml
  internal/controller/serving/testdata/configmaps/odh-model-controller-parameters.yaml
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

chore: nim account controller should trigger for secrets metadata changes
  internal/controller/nim/account_controller.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Update vLLM CPU template addition (#589)
  config/base/kustomization.yaml
  config/base/params-vllm-cpu.env
  config/runtimes/kustomization.yaml
  config/runtimes/vllm-cpu-template.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

[RHOAIENG-19955] - [UBI 9 upgrade] OpenDataHub - ODH Model Controller (#389)
  Containerfile
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

chore: nim account controller should trigger for secrets metadata changes (#402)
  internal/controller/nim/account_controller.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

chore: nim account controller should trigger for secrets metadata changes (#402) (#403)
  internal/controller/nim/account_controller.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

chore: nim setup should use the setup logger (#391)
  cmd/main.go
  internal/controller/nim/account_controller.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

chore: refactor hack script for verifying nim integration (#392)
  hack/verify_nvidia_nim_api.go
Due: ci/prow/pr-image-mirror, ci/prow/unit

update instant merge logic
  .github/workflows/instant-merge.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

correct tgis deprecation changes
  config/base/kustomization.yaml
  config/base/params.env
Due: ci/prow/pr-image-mirror, ci/prow/unit

Update approvers in owners file with runtimes team members (#400)
  OWNERS
Due: none

fix: nim integration tries to deserialize empty bodies
  internal/controller/utils/nim.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Allow users to select NIM models to display in the dashboard NIM model list for deployment
  api/nim/v1/account_types.go
  api/nim/v1/zz_generated.deepcopy.go
  config/crd/bases/nim.opendatahub.io_accounts.yaml
  internal/controller/nim/account_controller.go
  internal/controller/nim/account_controller_test.go
  internal/controller/utils/nim.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

fix: nim integration tries to deserialize empty bodies (#406)
  internal/controller/utils/nim.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Allow users to select NIM models to display in the dashboard NIM model list for deployment (#405)
  api/nim/v1/account_types.go
  api/nim/v1/zz_generated.deepcopy.go
  config/crd/bases/nim.opendatahub.io_accounts.yaml
  internal/controller/nim/account_controller.go
  internal/controller/nim/account_controller_test.go
  internal/controller/utils/nim.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

correct tgis deprecation changes (#404)
  config/base/kustomization.yaml
  config/base/params.env
Due: ci/prow/pr-image-mirror, ci/prow/unit

Add workflow for merging incubating with main
  .github/workflows/prow-merge-incubating-with-main.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

Update instant-merge
  .github/workflows/instant-merge.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

Restore code removed by mistake
  cmd/main.go
  internal/controller/serving/inferenceservice_controller.go
  internal/controller/serving/suite_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

:sparkles: added huggingface detector runtime template
  config/base/params.env
  config/runtimes/hf-detector-template.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

adding both custom and trusted certs to odh-kserve-custom-ca-bundle configmap
  internal/controller/constants/constants.go
  internal/controller/core/configmap_controller.go
  internal/controller/core/configmap_controller_test.go
  internal/controller/core/secret_controller.go
  internal/controller/core/secret_controller_test.go
  internal/controller/core/testdata/configmaps/odh-kserve-custom-ca-cert-configmap-updated.yaml
  internal/controller/core/testdata/configmaps/odh-kserve-custom-ca-cert-configmap.yaml
  internal/controller/core/testdata/configmaps/odh-trusted-ca-bundle-configmap-updated.yaml
  internal/controller/core/testdata/configmaps/odh-trusted-ca-bundle-configmap.yaml
  internal/controller/core/testdata/secrets/storageconfig-cert-encoded.yaml
  internal/controller/core/testdata/secrets/storageconfig-updated-cert-encoded.yaml
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit
