Repository opendatahub-io/odh-model-controller: changes, and which Prow jobs are due for each by the changed paths.
All: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Path conditions:
  unit: unless all of: ^(?:config|\.github|hack)/|\.md$|^(?:\.gitignore|\.pre-commit-config\.yaml|OWNERS|PROJECT|LICENSE|\.dockerignore|Makefile)$
  pr-image-mirror: unless all of: ^(?:config|\.github|hack)/|\.md$|^(?:\.gitignore|\.pre-commit-config\.yaml|OWNERS|PROJECT|LICENSE|\.dockerignore|Makefile)$
  stable-image-mirror: unless all of: ^(?:config|\.github|hack)/|\.md$|^(?:\.gitignore|\.pre-commit-config\.yaml|OWNERS|PROJECT|LICENSE|\.dockerignore|Makefile)$
  ci/prow/pr-image-mirror: unless all of: ^(?:.*\/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|LICENSE|.*\.develop)$
  ci/prow/unit: unless all of: ^(?:.*\/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|LICENSE|.*\.develop)$

Move MergeSpec to main reconciler
  internal/controller/resources/authpolicy.go
  internal/controller/resources/authpolicy_test.go
  internal/controller/serving/llm/llm_inferenceservice_controller.go
  internal/controller/serving/llm/llm_inferenceservice_controller_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Fix flaky tests
  internal/controller/core/secret_controller_test.go
  internal/controller/serving/inferenceservice_controller_test.go
  internal/webhook/serving/v1alpha1/llminferenceservice_webhook_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Move MergeSpec to main reconciler (#565)
  internal/controller/resources/authpolicy.go
  internal/controller/resources/authpolicy_test.go
  internal/controller/serving/llm/llm_inferenceservice_controller.go
  internal/controller/serving/llm/llm_inferenceservice_controller_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Remove caikit standalone runtime from incubating
  config/base/kustomization.yaml
  config/base/params.env
  config/runtimes/caikit-standalone-template.yaml
  config/runtimes/kustomization.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

feat: Remove Serverless/Istio/ServiceMesh support from odh-model-controller
  go.sum
  internal/controller/core/secret_controller_test.go
  internal/controller/utils/nim.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

refactor: improve resource management utility functions
  internal/controller/constants/constants.go
  internal/controller/resources/authpolicy.go
  internal/controller/resources/authpolicy_test.go
  internal/controller/resources/envoyfilter.go
  internal/controller/resources/envoyfilter_test.go
  internal/controller/serving/llm/llm_inferenceservice_controller.go
  internal/controller/serving/llm/llm_inferenceservice_controller_test.go
  internal/controller/serving/llm/reconcilers/kserve_authpolicy_reconciler.go
  internal/controller/serving/llm/reconcilers/kserve_envoyfilter_reconciler.go
  internal/controller/utils/client_helpers.go
  internal/controller/utils/utils.go
  internal/controller/utils/utils_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Remove caikit standalone runtime from incubating (#553)
  config/base/kustomization.yaml
  config/base/params.env
  config/runtimes/caikit-standalone-template.yaml
  config/runtimes/kustomization.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

refactor: improve resource management utility functions (#562)
  internal/controller/constants/constants.go
  internal/controller/resources/authpolicy.go
  internal/controller/resources/authpolicy_test.go
  internal/controller/resources/envoyfilter.go
  internal/controller/resources/envoyfilter_test.go
  internal/controller/serving/llm/llm_inferenceservice_controller.go
  internal/controller/serving/llm/llm_inferenceservice_controller_test.go
  internal/controller/serving/llm/reconcilers/kserve_authpolicy_reconciler.go
  internal/controller/serving/llm/reconcilers/kserve_envoyfilter_reconciler.go
  internal/controller/utils/client_helpers.go
  internal/controller/utils/utils.go
  internal/controller/utils/utils_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Allow APIServer to send webhook requests
  config/network-policy/allow-metrics-traffic.yaml
  config/network-policy/allow-webhook-traffic.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

updating kserve package version to latest commit on release-v0.15 branch
  go.mod
  go.sum
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

updating push job to target odh-v3.0 tag and adding on-comment annotation
  .tekton/odh-model-controller-push.yaml
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

updating go.mod with latest kserve package version forelease-v0.15
  go.mod
  go.sum
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

odh-v3.0 release prep (#569)
  .tekton/odh-model-controller-push.yaml
  go.mod
  go.sum
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Update image refs for odh release.
  config/base/params.env
Due: ci/prow/pr-image-mirror, ci/prow/unit

bump release tag to odh-v3.1 in push job
  .tekton/odh-model-controller-push.yaml
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

bump release tag to odh-v3.1 in push job (#570)
  .tekton/odh-model-controller-push.yaml
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Delete NetworkPolicies
  config/default/kustomization.yaml
  config/network-policy/allow-metrics-traffic.yaml
  config/network-policy/allow-webhook-traffic.yaml
  config/network-policy/kustomization.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

chore(workflows): create PRs instead of direct push for ODH tag bumps
  .github/workflows/create-release.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

Add vivekk16 to OWNERS
  OWNERS
Due: none

feat(workflow): add comprehensive summary with clickable links
  .github/workflows/create-release.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

Add vivekk16 to OWNERS (#572)
  OWNERS
Due: none

feat(workflow): switch to PR-based release workflow for branch protection compliance
  .github/workflows/create-release.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

fix: use needs context for job output reference
  .github/workflows/create-release.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

test: set tag to odh-v3.99 for workflow testing
  .tekton/odh-model-controller-push.yaml
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

revert: restore tag to odh-v3.1 from incubating branch
  .tekton/odh-model-controller-push.yaml
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

fix(workflow): move tag validation to early workflow stage
  .github/workflows/create-release.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

fix(workflow): remove unused param_env output
  .github/workflows/create-release.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

Optimized for Z specific changes
  config/runtimes/vllm-spyre-s390x-template.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

refactor(workflow): use gh CLI JSON output for PR extraction
  .github/workflows/create-release.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

Delete network policies, rely on ODH operator ones (#568)
  config/default/kustomization.yaml
  config/network-policy/allow-metrics-traffic.yaml
  config/network-policy/allow-webhook-traffic.yaml
  config/network-policy/kustomization.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

Fix Prometheus metrics port for HF Detector Runtime
  config/runtimes/hf-detector-template.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

fix(workflow): correct Python script indentation in YAML
  .github/workflows/create-release.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

fix(workflow): initialize PR outputs before early exits
  .github/workflows/create-release.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

fix(workflow): add GitHub token to update-params-env checkout
  .github/workflows/create-release.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

Write the HF Detector pod name into an env var for the container
  config/runtimes/hf-detector-template.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

fix(workflow): correct typo in tag validation message
  .github/workflows/create-release.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

feat(workflow): make release workflow idempotent
  .github/workflows/create-release.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit
