Repository opendatahub-io/odh-model-controller: changes, and which Prow jobs are due for each by the changed paths.
All: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Path conditions:
  unit: unless all of: ^(?:config|\.github|hack)/|\.md$|^(?:\.gitignore|\.pre-commit-config\.yaml|OWNERS|PROJECT|LICENSE|\.dockerignore|Makefile)$
  pr-image-mirror: unless all of: ^(?:config|\.github|hack)/|\.md$|^(?:\.gitignore|\.pre-commit-config\.yaml|OWNERS|PROJECT|LICENSE|\.dockerignore|Makefile)$
  stable-image-mirror: unless all of: ^(?:config|\.github|hack)/|\.md$|^(?:\.gitignore|\.pre-commit-config\.yaml|OWNERS|PROJECT|LICENSE|\.dockerignore|Makefile)$
  ci/prow/pr-image-mirror: unless all of: ^(?:.*\/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|LICENSE|.*\.develop)$
  ci/prow/unit: unless all of: ^(?:.*\/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|LICENSE|.*\.develop)$

[RHOAIENG-21207] - Publish the Grafana Dashboard to the ODH repository
  monitoring/README.md
  monitoring/grafana/nvidia/nvidia-vllm-dashboard.yaml
  monitoring/inputs.env
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

review additions
  monitoring/README.md
Due: ci/prow/pr-image-mirror, ci/prow/unit

Red Hat Konflux update odh-model-controller-odh-poc Signed-off-by: red-hat-konflux <konflux@no-reply.konflux-ci.dev>
  .tekton/odh-model-controller-odh-poc-pull-request.yaml
  .tekton/odh-model-controller-odh-poc-push.yaml
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

fix(make): ensures tools are always in the correct version (#429)
  Makefile
Due: ci/prow/pr-image-mirror, ci/prow/unit

add power/z mentions in vllm cpu template
  config/runtimes/vllm-cpu-template.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

Add HF runtime image to rhds main
  config/base/params.env
Due: ci/prow/pr-image-mirror, ci/prow/unit

chore: updated the account api print columns
  api/nim/v1/account_types.go
  config/crd/bases/nim.opendatahub.io_accounts.yaml
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

fix: model selection should update the account status for failurs
  internal/controller/nim/handlers/configmap_handler.go
  internal/controller/nim/handlers/handlers.go
  internal/controller/nim/handlers/validation_handler.go
  internal/controller/utils/nim.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

upgrade to go 1.23 (#424)
  Containerfile
  go.mod
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

add repo specific PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: ci/prow/pr-image-mirror, ci/prow/unit

add repo specific PR template (#448)
  .github/PULL_REQUEST_TEMPLATE.md
Due: ci/prow/pr-image-mirror, ci/prow/unit

KServe 0.15 CRDs
  Makefile
  config/crd/external/serving.kserve.io_inferencegraphs.yaml
  config/crd/external/serving.kserve.io_inferenceservices.yaml
  config/crd/external/serving.kserve.io_servingruntimes.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

Bump kserve to 0.15
  go.mod
  go.sum
  internal/controller/serving/reconcilers/kserve_route_reconciler.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Use latest release-0.15 revision
  Makefile
Due: ci/prow/pr-image-mirror, ci/prow/unit

rollback hf detector cherrypick
  config/base/params.env
Due: ci/prow/pr-image-mirror, ci/prow/unit

Remove Makefile changes, split in separate PRs
  Makefile
Due: ci/prow/pr-image-mirror, ci/prow/unit

Aggregate code coverage for `make test`
  Makefile
Due: ci/prow/pr-image-mirror, ci/prow/unit

Consistent and automated KServe CRDs revision download
  Makefile
  config/crd/external/.kserve_manifests_revision
Due: ci/prow/pr-image-mirror, ci/prow/unit

Add bartoszmajsak and pierDipi to OWNERS
  OWNERS
Due: none

RHOAIENG-25652: Bump KServe to 0.15 (#447)
  config/crd/external/serving.kserve.io_inferencegraphs.yaml
  config/crd/external/serving.kserve.io_inferenceservices.yaml
  config/crd/external/serving.kserve.io_servingruntimes.yaml
  go.mod
  go.sum
  internal/controller/serving/reconcilers/kserve_route_reconciler.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Aggregate code coverage for `make test` (#449)
  Makefile
Due: ci/prow/pr-image-mirror, ci/prow/unit

Consistent and automated KServe CRDs revision download (#450)
  Makefile
  config/crd/external/.kserve_manifests_revision
Due: ci/prow/pr-image-mirror, ci/prow/unit

Add bartoszmajsak and pierDipi to OWNERS (#451)
  OWNERS
Due: none

Update image refs for odh release.
  config/base/params.env
Due: ci/prow/pr-image-mirror, ci/prow/unit

Add KEDA reconciler for raw deployment mode
  config/crd/external/keda.sh_triggerauthentications.yaml
  config/rbac/role.yaml
  go.mod
  go.sum
  internal/controller/serving/inferenceservice_controller.go
  internal/controller/serving/inferenceservice_controller_test.go
  internal/controller/serving/reconcilers/kserve_keda_reconciler.go
  internal/controller/serving/reconcilers/kserve_raw_inferenceservice_reconciler.go
  internal/controller/utils/init.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Add back params-vllm-cpu in kustomization (#731)
  config/base/kustomization.yaml
Due: ci/prow/pr-image-mirror, ci/prow/unit

chore: updated the account api print columns (#446)
  api/nim/v1/account_types.go
  config/crd/bases/nim.opendatahub.io_accounts.yaml
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Route that is not managed by the InferenceService gets deleted
  internal/controller/serving/inferenceservice_controller_test.go
  internal/controller/serving/reconcilers/kserve_route_reconciler.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Update ClusterRole through kubebuilder tags
  config/rbac/role.yaml
  internal/controller/serving/inferenceservice_controller.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Route that is not managed by the InferenceService gets deleted (#459)
  internal/controller/serving/inferenceservice_controller_test.go
  internal/controller/serving/reconcilers/kserve_route_reconciler.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

feat: update mr inferenceservice controller to commit hash bdcbb032a58e22c5615ea6af2720a1b1dadab897
  go.mod
  go.sum
  test/e2e/modelregistry_controller_e2e_test.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

fix: model selection should update the account status for failurs (#444)
  internal/controller/nim/handlers/configmap_handler.go
  internal/controller/nim/handlers/handlers.go
  internal/controller/nim/handlers/validation_handler.go
  internal/controller/utils/nim.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Improve test readability
  internal/controller/serving/inferenceservice_controller_test.go
  internal/controller/serving/keda_fixtures_test.go
  test/matchers/gomega_uid_matcher.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

Update OVMS image
  config/base/params-cuda.env
Due: ci/prow/pr-image-mirror, ci/prow/unit

Improve logging
  internal/controller/serving/reconcilers/kserve_keda_reconciler.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

AsOwnerRef separate file
  internal/controller/serving/keda_fixtures_test.go
  internal/controller/serving/reconcilers/kserve_keda_reconciler.go
  internal/controller/serving/reconcilers/meta.go
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit

chore(mr): add relevant comment on go.mod line
  go.mod
  go.sum
Due: unit, pr-image-mirror, stable-image-mirror, ci/prow/pr-image-mirror, ci/prow/unit
