Repository openshift-kni/lifecycle-agent: changes, and which Prow jobs are due for each by the changed paths.
All: integration, markdownlint

integration:
  always_run: false
  steps:
    cluster_profile: aws-telco
    env:
      BASE_DOMAIN: sysdeseng.devcluster.openshift.com
      OO_CHANNEL: alpha
      OO_INSTALL_NAMESPACE: openshift-lifecycle-agent
      OO_PACKAGE: lifecycle-agent
      OO_TARGET_NAMESPACES: '!install'
      USER_TAGS: 'ci-job-source prowci
  
  ...

markdownlint:
  always_run: false
  commands: 'hack/markdownlint.sh
  
    '
  container:
    from: test-bin

enable wrapcheck linter
  .golangci.yml
  controllers/ibu_controller.go
  controllers/idle_handlers.go
  controllers/prep_handlers.go
  controllers/seedgen_controller.go
  controllers/upgrade_handlers.go
  controllers/utils/conditions.go
  controllers/utils/secrets.go
  hack/golangci-lint.sh
  ib-cli/cmd/createiso.go
  ib-cli/installationiso/installationiso.go
  internal/backuprestore/backup.go
  internal/backuprestore/common.go
  internal/backuprestore/restore.go
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/lvmconfig.go
  internal/common/utils.go
  internal/extramanifest/extramanifest.go
  internal/extramanifest/policy.go
  internal/healthcheck/healthcheck.go
  internal/ostreeclient/ostreeclient.go
  internal/precache/helper.go
  internal/precache/precache.go
  internal/precache/workload/pullImages.go
  internal/prep/prep.go
  internal/reboot/reboot.go
  internal/recert/recert.go
  lca-cli/cmd/initmonitor.go
  lca-cli/cmd/root.go
  lca-cli/ibi-preparation/ibipreparation.go
  lca-cli/ops/ops.go
  lca-cli/postpivot/postpivot.go
  lca-cli/seedclusterinfo/seedclusterinfo.go
  lca-cli/seedcreator/seedcreator.go
  lca-cli/seedrestoration/seedcleanup.go
  main/main.go
  utils/client_helper.go
  utils/crypto_dir.go
  utils/utils.go
Due: integration

Address invalid transition rollback condition preventing reset
  controllers/ibu_controller.go
  controllers/ibu_controller_test.go
Due: integration

Add valid next stage list to IBU status
  api/v1alpha1/types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/lca.openshift.io_imagebasedupgrades.yaml
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/crd/bases/lca.openshift.io_imagebasedupgrades.yaml
  config/manifests/bases/lifecycle-agent.clusterserviceversion.yaml
  controllers/ibu_controller.go
  controllers/ibu_controller_test.go
  controllers/utils/conditions.go
Due: integration

Refactor code to use utils.GetSecretData
  controllers/prep_handlers.go
  controllers/utils/secrets.go
Due: integration

Remove unnecessary local var for return value
  controllers/ibu_controller.go
Due: integration

Update version to 4.15.0
  Makefile
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/lifecycle-agent.clusterserviceversion.yaml
  config/samples/lca_v1alpha1_imagebasedupgrade.yaml
  ib-cli/cmd/createiso.go
  utils/utils_test.go
Due: integration, markdownlint

Re-check in progress stage
  controllers/ibu_controller.go
  controllers/ibu_controller_test.go
Due: integration

Quick fix for IBU reset
  controllers/ibu_controller.go
Due: integration

Limit scope of backup apply label to one backup
  docs/backuprestore-with-oadp.md
  internal/backuprestore/backup.go
  internal/backuprestore/backup_test.go
  internal/backuprestore/common.go
  internal/backuprestore/common_test.go
Due: integration, markdownlint

Update seedgen sample CR with invalid image reference
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/samples/lca_v1alpha1_seedgenerator.yaml
Due: integration

Remove duplicate objs from backup apply-lablel annotation
  internal/backuprestore/backup.go
  internal/common/utils.go
  internal/common/utils_test.go
Due: integration

Update version to 4.16
  Makefile
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/lifecycle-agent.clusterserviceversion.yaml
  config/samples/lca_v1alpha1_imagebasedupgrade.yaml
  ib-cli/cmd/createiso.go
Due: integration, markdownlint

Health check enhancements and associated reconciler changes
  controllers/ibu_controller.go
  controllers/seedgen_controller.go
  controllers/upgrade_handlers.go
  controllers/upgrade_handlers_test.go
  internal/healthcheck/healthcheck.go
  internal/healthcheck/healthcheck_test.go
Due: integration

Updates for review comments and additional test results
  HACKING.md
  controllers/ibu_controller.go
  controllers/ibu_controller_test.go
  controllers/idle_handlers_test.go
  controllers/prep_handlers_test.go
  controllers/rollback_handlers.go
  controllers/seedgen_controller.go
  controllers/upgrade_handlers.go
  controllers/upgrade_handlers_test.go
  controllers/utils/conditions.go
  docs/seed-image-generation.md
  internal/common/utils.go
  main/main.go
Due: integration, markdownlint

MGMT-16873: Change pull secret as part of recert reconfiguration Post pivot will override the config.json in order to be able to pull recert image but recert will override all other places
  internal/recert/recert.go
  lca-cli/postpivot/postpivot.go
  lca-cli/postpivot/postpivot_test.go
  lca-cli/seedcreator/seedcreator.go
Due: integration

MGMT-16652: add precache disabled and best effort support to ib-cli
  ib-cli/README.md
  ib-cli/cmd/createiso.go
  ib-cli/installationiso/data/ibi-butane.template
  ib-cli/installationiso/data/install-rhcos-and-restore-seed.sh
  ib-cli/installationiso/installationiso.go
  ib-cli/installationiso/installationiso_test.go
  lca-cli/cmd/ibi.go
Due: integration, markdownlint

Add scorecard test Makefile target and fix existing warnings
  Makefile
  api/seedgenerator/v1alpha1/types.go
  api/v1alpha1/types.go
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/manifests/bases/lifecycle-agent.clusterserviceversion.yaml
Due: integration, markdownlint

Seed restoration will also restore seed password hash
  go.mod
  go.sum
  internal/recert/recert.go
  lca-cli/cmd/create.go
  lca-cli/cmd/restore.go
  lca-cli/ops/mock_ops.go
  lca-cli/ops/ops.go
  lca-cli/seedcreator/seedcreator.go
  lca-cli/seedrestoration/seedrestoration.go
  utils/crypto_dir.go
  vendor/golang.org/x/crypto/LICENSE
  vendor/golang.org/x/crypto/PATENTS
  vendor/golang.org/x/crypto/bcrypt/base64.go
  vendor/golang.org/x/crypto/bcrypt/bcrypt.go
  vendor/golang.org/x/crypto/blowfish/block.go
  vendor/golang.org/x/crypto/blowfish/cipher.go
  vendor/golang.org/x/crypto/blowfish/const.go
  vendor/modules.txt
Due: integration

Reduce approvers for release-4.15 to control cherry-picks
  OWNERS
Due: integration

Reject seedgen request if required ostree feature not present
  controllers/seedgen_controller.go
Due: integration

MGMT-16968: Remove old rendered machine-configs from seed Removing machine-configs on seedcreation that are not used by mcp
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/seedgen_controller.go
Due: integration

Unite setup workspace functions as linter fails on cyclomatic complexity
  controllers/seedgen_controller.go
Due: integration

Fix catalog targets
  Makefile
Due: integration, markdownlint

Update default recert image tag from v0 to release-4.15
  internal/common/consts.go
Due: integration

Fix lca bundle with workload.openshift.io/allowed annotation
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/manifests/bases/lifecycle-agent.clusterserviceversion.yaml
Due: integration

Add supported architectures to lca bundle
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/manifests/bases/lifecycle-agent.clusterserviceversion.yaml
Due: integration

Update for review comments, reduce health check interval
  controllers/ibu_controller.go
  controllers/seedgen_controller.go
  controllers/upgrade_handlers.go
  controllers/upgrade_handlers_test.go
  internal/healthcheck/healthcheck.go
Due: integration

seedgen: Add MCP health check to pull-secret sanitization
  controllers/seedgen_controller.go
Due: integration

seedgen: Remove hubKubeconfig and hub interaction
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/seedgen_controller.go
  docs/seed-image-generation.md
Due: integration, markdownlint

Update reconcilers to return error if CR DB update fails
  controllers/ibu_controller.go
  controllers/seedgen_controller.go
Due: integration

Drop hubKubeconfig references from HACKING.md
  HACKING.md
Due: markdownlint

Path conditions:
  integration: unless all of: (\.md|^hack)$
  markdownlint: any of: (\.md|^Makefile|^hack/.*markdown.*|^.markdown.*)$
