Repository openshift-kni/lifecycle-agent: changes, and which Prow jobs are due for each by the changed paths.
All: integration, markdownlint

ci-operator/config/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-main.yaml:

base_images:
  base:
    name: "4.16"
    namespace: ocp
    tag: base
build_root:
  from_repository: true
images:
- dockerfile_path: Dockerfile
  from: base
  to: lifecycle-agent-operator
- dockerfile_path: bundle.Dockerfile
  to: lifecycle-agent-operator-bundle
operator:
  bundles:
  - dockerfile_path: bundle.Dockerfile
  substitutions:
  - pullspec: quay.io/openshift-kni/lifecycle-agent-operator:.*
    with: pipeline:lifecycle-agent-operator
promotion:
  to:
  - name: "4.16"
    namespace: ocp-kni
releases:
  initial:
    integration:
      name: "4.16"
      namespace: ocp
  latest:
    integration:
      include_built_images: true
      name: "4.16"
      namespace: ocp
resources:
  '*':
    limits:
      memory: 4Gi
    requests:
      cpu: 100m
      memory: 200Mi
test_binary_build_commands: |
  ./hack/install-markdownlint.sh
tests:
- as: ci-job
  commands: |
    unset VERSION
    make ci-job
  container:
    from: src
- always_run: false
  as: integration
  skip_if_only_changed: ^docs/|LICENSE|OWNERS|\.md$|^hack$
  steps:
    cluster_profile: aws-telco
    env:
      BASE_DOMAIN: sysdeseng.devcluster.openshift.com
      OO_CHANNEL: alpha
      OO_INSTALL_NAMESPACE: openshift-lifecycle-agent
      OO_PACKAGE: lifecycle-agent
      OO_TARGET_NAMESPACES: '!install'
      USER_TAGS: |
        ci-job-source prowci
        ci-job-branch main
        ci-job-fullname openshift-kni-lifecycle-agent-main
        ci-job-type optional-operators-ci-aws
        ci-repo-name lifecycle-agent
        ci-org-name openshift-kni
    test:
    - as: integration
      cli: latest
      commands: |
        make test
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi
    workflow: optional-operators-ci-aws
- always_run: false
  as: markdownlint
  commands: |
    hack/markdownlint.sh
  container:
    from: test-bin
  run_if_changed: (\.md|^Makefile|^hack/.*markdown.*|^.markdown.*)$
zz_generated_metadata:
  branch: main
  org: openshift-kni
  repo: lifecycle-agent

remove auth file content from logs
  controllers/seedgen_controller.go
Due: integration

fix policy watch error
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/extramanifest/policy.go
Due: integration

troubleshooting: Add common symptoms and solutions for LVMS problems
  docs/troubleshooting.md
Due: markdownlint

docs: Add adjustments for when LVMS is used
  docs/backuprestore-with-oadp.md
  docs/image-based-upgrade.md
Due: markdownlint

Only use `summary_file_clean` recert option
  internal/recert/recert.go
Due: integration

remove kubeadmin secret check from seedgen validation
  controllers/seedgen_controller.go
Due: integration

MGMT-17606: Providing file as output to butane
  ib-cli/installationiso/installationiso.go
  ib-cli/installationiso/installationiso_test.go
Due: integration

Change the matching versions of target-ocp-version label
  controllers/upgrade_handlers.go
  controllers/upgrade_handlers_test.go
  docs/image-based-upgrade.md
  internal/extramanifest/extramanifest.go
  internal/extramanifest/extramanifest_test.go
  internal/extramanifest/policy.go
Due: integration, markdownlint

Reduce upgrade prepivot function complexity
  controllers/upgrade_handlers.go
  controllers/upgrade_handlers_test.go
  internal/backuprestore/backup.go
  internal/backuprestore/common.go
Due: integration

ibu: Remove SR-IOV workaround from upgrade handler
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/upgrade_handlers.go
Due: integration

Add check for when PVs are created manually
  internal/backuprestore/backup.go
Due: integration

Pass through proxy env vars from LCA to seed gen container
  controllers/seedgen_controller.go
Due: integration

Validate the count of manifests extracted from policies
  controllers/prep_handlers.go
  controllers/upgrade_handlers.go
  controllers/upgrade_handlers_test.go
  docs/image-based-upgrade.md
  internal/extramanifest/extramanifest.go
  internal/extramanifest/extramanifest_test.go
  internal/extramanifest/mocks/mock_extramanifest.go
  internal/extramanifest/policy.go
Due: integration, markdownlint

seedgen: Reduce log verbosity
  controllers/seedgen_controller.go
Due: integration

Update bundle-run target in Makefile
  Makefile
Due: integration, markdownlint

IBU: Update rollbackAvailabilityExpiration status field to metav1.Time
  api/v1alpha1/types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/lca.openshift.io_imagebasedupgrades.yaml
  config/crd/bases/lca.openshift.io_imagebasedupgrades.yaml
  controllers/idle_handlers.go
  controllers/rollback_handlers.go
  controllers/upgrade_handlers.go
  docs/image-based-upgrade.md
Due: integration, markdownlint

IBU: Add rollbackAvailabilityExpiration status field
  api/v1alpha1/types.go
  bundle/manifests/lca.openshift.io_imagebasedupgrades.yaml
  config/crd/bases/lca.openshift.io_imagebasedupgrades.yaml
  controllers/idle_handlers.go
  controllers/rollback_handlers.go
  controllers/upgrade_handlers.go
  docs/image-based-upgrade.md
  docs/precache-plugin.md
Due: integration, markdownlint

backuprestore: Reduce time complexity of ValidateOadpConfigmaps
  internal/backuprestore/common.go
Due: integration

backuprestore: Add check for localVolume presence in CleanupStaleBackups
  internal/backuprestore/backup.go
  internal/backuprestore/common.go
  internal/backuprestore/common_test.go
Due: integration

deletionBackupRequests check update
  controllers/ibu_controller.go
  internal/backuprestore/backup.go
Due: integration

MGMT-17586: [IBI] Shutdown the node after the RHCOS image is written to the disk Adding unchroot as inside chroot we can't run some commands
  ib-cli/cmd/createiso.go
  ib-cli/installationiso/data/ibi-butane.template
  ib-cli/installationiso/data/install-rhcos-and-restore-seed.sh
  ib-cli/installationiso/installationiso.go
  ib-cli/installationiso/installationiso_test.go
  lca-cli/cmd/ibi.go
  lca-cli/ibi-preparation/ibipreparation.go
  lca-cli/ops/mock_ops.go
  lca-cli/ops/ops.go
Due: integration

Revert "MGMT-16807: set correct no proxy and proxyStatus"
  internal/clusterconfig/clusterconfig_test.go
  lca-cli/postpivot/postpivot.go
  lca-cli/postpivot/postpivot_test.go
  lca-cli/seedclusterinfo/seedclusterinfo.go
  utils/client_helper.go
Due: integration

backuprestore: Reduce time complexity of CleanupBackups
  internal/backuprestore/backup.go
Due: integration

backuprestore: Add check for existing label in patchObj
  internal/backuprestore/backup.go
  internal/backuprestore/common.go
Due: integration

Include acls and xattrs in tar commands for seed image
  internal/common/consts.go
  lca-cli/ops/ops.go
  lca-cli/seedcreator/seedcreator.go
Due: integration

Rephrasing of the rollback `HACKING.md` docs
  HACKING.md
Due: markdownlint

Pass `fips=1` flag to new stateroot if MC is fips
  internal/prep/prep.go
Due: integration

Revert "Add check for localVolume presence in CleanupStaleBackups"
  internal/backuprestore/backup.go
  internal/backuprestore/common.go
  internal/backuprestore/common_test.go
Due: integration

seedgen: Exclude /etc/hostname from seed image
  lca-cli/seedcreator/seedcreator.go
Due: integration

`Dockerfile` should set `CGO_ENALBED=1` for FIPS compliance
  Dockerfile
Due: integration

# Issue / Requirement / Reason for change
  .github/pull_request_template.md
Due: markdownlint

Fix config file error check in init monitor watchdog
  lca-cli/initmonitor/initmonitor.go
Due: integration

setup stateroot with a job and other prep stage refactoring
  DEVELOPING.md
  api/v1alpha1/types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/ibu_controller.go
  controllers/idle_handlers.go
  controllers/idle_handlers_test.go
  controllers/prep_handlers.go
  docs/image-based-upgrade.md
  docs/precache-plugin.md
  go.mod
  internal/common/utils.go
  internal/extramanifest/extramanifest.go
  internal/extramanifest/extramanifest_test.go
  internal/extramanifest/mocks/mock_extramanifest.go
  internal/precache/constants.go
  internal/precache/helper.go
  internal/precache/helper_test.go
  internal/precache/precache.go
  internal/precache/precache_test.go
  internal/precache/workload/pullImages.go
  internal/prep/prep.go
  internal/prep/prep_stateroot_setup_job.go
  internal/reboot/mock_reboot.go
  internal/reboot/reboot.go
  lca-cli/cmd/create.go
  lca-cli/cmd/ibuStaterootSetup.go
  main/main.go
Due: integration, markdownlint

MGMT-17305: Wipe installation disk on IBI 1. Adding installation disk cleanup feature 2. In order to make it work as full flow in ibipreparation moved bash commands to it
  go.mod
  go.sum
  ib-cli/cmd/createiso.go
  ib-cli/installationiso/data/ibi-butane.template
  ib-cli/installationiso/data/install-rhcos-and-restore-seed.sh
  ib-cli/installationiso/installationiso.go
  ib-cli/installationiso/installationiso_test.go
  lca-cli/cmd/ibi.go
  lca-cli/ibi-preparation/ibipreparation.go
  lca-cli/ibi-preparation/ibipreparation_test.go
  lca-cli/ops/mock_ops.go
  lca-cli/ops/ops.go
  vendor/github.com/rh-ecosystem-edge/preinstall-utils/pkg/disk_ops.go
  vendor/github.com/rh-ecosystem-edge/preinstall-utils/pkg/execute_interface.go
  vendor/github.com/rh-ecosystem-edge/preinstall-utils/pkg/mock_disk_ops.go
  vendor/github.com/rh-ecosystem-edge/preinstall-utils/pkg/mock_execute_interface.go
  vendor/modules.txt
Due: integration

Create SECURITY.md
  SECURITY.md
Due: markdownlint

Update SECURITY.md
  SECURITY.md
Due: markdownlint

resync branch with main
  OWNERS
  controllers/prep_handlers.go
  controllers/seedgen_controller.go
  controllers/upgrade_handlers.go
  internal/backuprestore/backup.go
  internal/extramanifest/extramanifest.go
  internal/extramanifest/mocks/mock_extramanifest.go
  internal/precache/precache.go
Due: integration

reset version to 4.15 after resync with main
  Dockerfile
  Makefile
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/lifecycle-agent.clusterserviceversion.yaml
  internal/common/consts.go
Due: integration, markdownlint

move precache workload cli into lca-cli
  Dockerfile
  internal/precache/helper.go
  internal/precache/helper_test.go
  lca-cli/cmd/ibuPrecacheWorkload.go
Due: integration
