Repository openshift-kni/lifecycle-agent: changes, and which Prow jobs are due for each by the changed paths.
All: integration, markdownlint

ci-operator/config/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-main.yaml:

base_images:
  base:
    name: "4.16"
    namespace: ocp
    tag: base
build_root:
  from_repository: true
images:
- dockerfile_path: Dockerfile
  from: base
  to: lifecycle-agent-operator
- dockerfile_path: bundle.Dockerfile
  to: lifecycle-agent-operator-bundle
operator:
  bundles:
  - dockerfile_path: bundle.Dockerfile
  substitutions:
  - pullspec: quay.io/openshift-kni/lifecycle-agent-operator:.*
    with: pipeline:lifecycle-agent-operator
promotion:
  to:
  - name: "4.16"
    namespace: ocp-kni
releases:
  initial:
    integration:
      name: "4.16"
      namespace: ocp
  latest:
    integration:
      include_built_images: true
      name: "4.16"
      namespace: ocp
resources:
  '*':
    limits:
      memory: 4Gi
    requests:
      cpu: 100m
      memory: 200Mi
test_binary_build_commands: |
  ./hack/install-markdownlint.sh
tests:
- as: ci-job
  commands: |
    unset VERSION
    make ci-job
  container:
    from: src
- always_run: false
  as: integration
  skip_if_only_changed: ^docs/|LICENSE|OWNERS|\.md$|^hack$
  steps:
    cluster_profile: aws-telco
    env:
      BASE_DOMAIN: sysdeseng.devcluster.openshift.com
      OO_CHANNEL: alpha
      OO_INSTALL_NAMESPACE: openshift-lifecycle-agent
      OO_PACKAGE: lifecycle-agent
      OO_TARGET_NAMESPACES: '!install'
      USER_TAGS: |
        ci-job-source prowci
        ci-job-branch main
        ci-job-fullname openshift-kni-lifecycle-agent-main
        ci-job-type optional-operators-ci-aws
        ci-repo-name lifecycle-agent
        ci-org-name openshift-kni
    test:
    - as: integration
      cli: latest
      commands: |
        make test
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi
    workflow: optional-operators-ci-aws
- always_run: false
  as: markdownlint
  commands: |
    hack/markdownlint.sh
  container:
    from: test-bin
  run_if_changed: (\.md|^Makefile|^hack/.*markdown.*|^.markdown.*)$
- as: ibu-e2e-flow
  cluster: build02
  optional: true
  steps:
    cluster_profile: aws
    dependencies:
      LCA_PULL_REF: pipeline:lifecycle-agent-operator
    env:
      IB_ORCHESTRATE_VM_REF: 55c806baca64c94d96107565f16afe79b842df4e
      SEED_IMAGE_TAG_FORMAT: presubmit
      SEED_VERSION: 4.14.10
    workflow: openshift-image-based-upgrade-presubmit
  timeout: 4h0m0s
zz_generated_metadata:
  branch: main
  org: openshift-kni
  repo: lifecycle-agent

improve prep statge error handling to allow for unexpected apiserver or network issues
  controllers/ibu_controller.go
  controllers/prep_handlers.go
  internal/common/utils.go
  internal/precache/precache.go
  internal/precache/precache_test.go
  internal/prep/prep_stateroot_setup_job.go
Due: integration

add additional checks to validate if oadp is installed
  controllers/idle_handlers.go
  internal/backuprestore/backup.go
  internal/backuprestore/common.go
  internal/backuprestore/mocks/mock_backuprestore.go
Due: integration

NO-ISSUE: in case there is no oadp content we should not try to bring it
  controllers/upgrade_handlers.go
Due: integration

MGMT-16859: Provide an option to configure mirror registry in installation iso
  api/ibiconfig/ibiconfig.go
  ib-cli/cmd/createiso.go
  ib-cli/installationiso/data/ibi-butane.template
  ib-cli/installationiso/installationiso.go
  ib-cli/installationiso/installationiso_test.go
Due: integration

Use the new recert additional trust bundle options
  api/seedreconfig/seedreconfig.go
  controllers/prep_handlers.go
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_test.go
  internal/common/consts.go
  internal/recert/recert.go
  lca-cli/ops/ops.go
  lca-cli/postpivot/postpivot.go
  lca-cli/seedclusterinfo/seedclusterinfo.go
  lca-cli/seedcreator/seedcreator.go
  utils/client_helper.go
Due: integration

Import/regenerate server SSH keys
  api/seedreconfig/seedreconfig.go
  go.mod
  go.sum
  internal/clusterconfig/clusterconfig.go
  internal/common/consts.go
  internal/recert/recert.go
  lca-cli/ops/ops.go
  lca-cli/postpivot/postpivot.go
  vendor/github.com/opencontainers/selinux/LICENSE
  vendor/github.com/opencontainers/selinux/go-selinux/doc.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/label/label_stub.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_linux.go
  vendor/github.com/opencontainers/selinux/go-selinux/selinux_stub.go
  vendor/github.com/opencontainers/selinux/go-selinux/xattrs_linux.go
  vendor/github.com/opencontainers/selinux/pkg/pwalkdir/README.md
  vendor/github.com/opencontainers/selinux/pkg/pwalkdir/pwalkdir.go
  vendor/modules.txt
Due: integration, markdownlint

introduce middleware to make all client calls reriable
  controllers/ibu_controller.go
  controllers/seedgen_controller.go
  internal/common/utils.go
  lca-cli/cmd/ibuStaterootSetup.go
  lca-cli/postpivot/postpivot.go
  main/main.go
  utils/client_middleware.go
  utils/utils.go
Due: integration

remove redundant retries
  controllers/ibu_controller.go
  controllers/prep_handlers.go
  controllers/seedgen_controller.go
  controllers/utils/conditions.go
  internal/backuprestore/backup.go
  internal/common/utils.go
  lca-cli/postpivot/postpivot.go
  main/main.go
  utils/utils.go
Due: integration

IBU: Inspect seed image before pulling
  controllers/prep_handlers.go
Due: integration

fix wrong error check
  utils/utils.go
Due: integration

NO-ISSUE: update ib-cli documentation
  api/ibiconfig/ibiconfig.go
  ib-cli/README.md
  ib-cli/cmd/createiso.go
Due: integration, markdownlint

Add CSV relatedImages to seed containers.list
  lca-cli/seedcreator/seedcreator.go
Due: integration

Add container storage mountpoint checks
  controllers/ibu_controller.go
  controllers/prep_handlers.go
  controllers/seedgen_controller.go
  lca-cli/ops/mock_ops.go
  lca-cli/ops/ops.go
  lca-cli/seedclusterinfo/seedclusterinfo.go
  lca-cli/seedcreator/seedcreator.go
  main/main.go
Due: integration

NO-ISSUE: in case node ip was not provided, dnsmasq condifuration should run after setting node ip
  lca-cli/postpivot/postpivot.go
  lca-cli/postpivot/postpivot_test.go
Due: integration

NO-ISSUE: ibi config api comments updates
  api/ibiconfig/ibiconfig.go
Due: integration

MGMT-17258: Allow ignition customization Adding new field IgnitionConfigOverride that allows to provide user ignition that will be merged into installation iso
  api/ibiconfig/ibiconfig.go
  ib-cli/installationiso/installationiso.go
  ib-cli/installationiso/installationiso_test.go
Due: integration

missing quotes
  docs/image-based-upgrade.md
Due: markdownlint

update logging msg for retry middleware
  utils/client_middleware.go
Due: integration

Add pull-secret example to IBU doc
  docs/image-based-upgrade.md
Due: markdownlint

TEST
  lca-cli/postpivot/postpivot.go
Due: integration

NO-ISSUE: remove sed in post pivot flow as logic was moved to recert
  lca-cli/postpivot/postpivot.go
Due: integration

introduce new .status.history field to undertand timing of each stage and their phases
  api/imagebasedupgrade/v1/types.go
  api/imagebasedupgrade/v1/zz_generated.deepcopy.go
  bundle/manifests/lca.openshift.io_imagebasedupgrades.yaml
  config/crd/bases/lca.openshift.io_imagebasedupgrades.yaml
  controllers/ibu_controller.go
  controllers/prep_handlers.go
  controllers/rollback_handlers.go
  controllers/upgrade_handlers.go
  controllers/utils/conditions.go
  controllers/utils/history.go
  controllers/utils/history_test.go
  docs/image-based-upgrade.md
Due: integration, markdownlint

seedgen: Add check to reject when PVs are present
  controllers/seedgen_controller.go
Due: integration

seedgen: Add check to reject when DPA is present
  controllers/seedgen_controller.go
  internal/backuprestore/common.go
  internal/backuprestore/mocks/mock_backuprestore.go
  main/main.go
Due: integration

seedgen: Add check to reject when LocalVolume is present
  controllers/seedgen_controller.go
  go.mod
  go.sum
  main/main.go
  vendor/github.com/openshift/local-storage-operator/LICENSE
  vendor/github.com/openshift/local-storage-operator/api/v1/groupversion_info.go
  vendor/github.com/openshift/local-storage-operator/api/v1/localvolume_types.go
  vendor/github.com/openshift/local-storage-operator/api/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: integration

seedgen: Add check to reject when OADP version ain't supported
  controllers/seedgen_controller.go
  go.mod
  internal/backuprestore/common.go
  internal/backuprestore/mocks/mock_backuprestore.go
Due: integration

fix: use rhel9 for the CI build root
  .ci-operator.yaml
Due: integration

IBU: Add automated container storage cleanup to Prep stage
  HACKING.md
  controllers/ibu_controller.go
  controllers/prep_handlers.go
  docs/image-based-upgrade.md
  internal/common/consts.go
  internal/imagemgmt/imagemgmt.go
  internal/imagemgmt/imagemgmt_test.go
  internal/imagemgmt/mock_imagemgmt.go
  lca-cli/ops/ops.go
  lca-cli/seedcreator/seedcreator.go
  main/main.go
Due: integration, markdownlint

chore: switching builder to be ocp 4.15
  .ci-operator.yaml
Due: integration

Revert "fix: use rhel9 for the CI build root"
  .ci-operator.yaml
Due: integration

Update docs/image-based-upgrade.md
  docs/image-based-upgrade.md
Due: markdownlint
