Repository openshift-kni/lifecycle-agent: changes, and which Prow jobs are due for each by the changed paths.
All: integration, markdownlint, ibu-e2e-flow, ibi-e2e-flow, security

integration:
  always_run: false
  steps:
    cluster_profile: aws-telco
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      OO_CHANNEL: alpha
      OO_INSTALL_NAMESPACE: openshift-lifecycle-agent
      OO_PACKAGE: lifecycle-agent
      OO_TARGET_NAMESPACES: '!install'
      USER_TAGS: 'ci-job-source prowci
  
  ...

markdownlint:
  always_run: false
  commands: 'hack/markdownlint.sh
  
    '
  container:
    from: test-bin

ibu-e2e-flow:
  cluster: build02
  optional: true
  steps:
    cluster_profile: aws
    dependencies:
      LCA_PULL_REF: pipeline:lifecycle-agent-operator
    env:
      OCP_BASE_VERSION: '4.16'
      OCP_IMAGE_SOURCE: ci
      SEED_IMAGE_TAG_FORMAT: presubmit
    workflow: openshift-image-based-upgrade-presubmit
  timeout: 4h0m0s

ibi-e2e-flow:
  cluster: build02
  optional: true
  steps:
    cluster_profile: aws
    dependencies:
      LCA_PULL_REF: pipeline:lifecycle-agent-operator
    env:
      OCP_BASE_VERSION: '4.17'
      OCP_IMAGE_SOURCE: ci
      SEED_IMAGE_TAG_FORMAT: presubmit
      SEED_IMAGE_TAG_PREFIX: ibi
  ...

security:
  optional: true
  steps:
    env:
      PROJECT_NAME: lifecycle-agent
      SNYK_CODE_ADDITIONAL_ARGS: --policy-path=.snyk
    workflow: openshift-ci-security

build env update for linux on arm
  internal/precache/workload/pullImages.go
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

Upversion golang to 1.22
  Dockerfile
  go.mod
  vendor/github.com/otiai10/copy/test/data/case18/assets/README.md
Due: integration, markdownlint, ibu-e2e-flow, ibi-e2e-flow, security

OCPBUGS-42966: Readding node labels from target on post pivot
  api/seedreconfig/seedreconfig.go
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_test.go
  lca-cli/postpivot/postpivot.go
  lca-cli/postpivot/postpivot_test.go
  utils/client_helper.go
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

Adding unitest for seedreconfiguration reading from file
  utils/utils_test.go
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

adding extraPartitionEnd functionality to make the varlibcontainers partition more configurable
  api/ibiconfig/ibiconfig.go
  lca-cli/ibi-preparation/ibipreparation.go
  lca-cli/ibi-preparation/ibipreparation_test.go
  lca-cli/ops/mock_ops.go
  lca-cli/ops/ops.go
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

changing new config option to extraPartitionSize to make more sense
  api/ibiconfig/ibiconfig.go
  lca-cli/ibi-preparation/ibipreparation.go
  lca-cli/ibi-preparation/ibipreparation_test.go
  lca-cli/ops/mock_ops.go
  lca-cli/ops/ops.go
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

Fix ingress crt not signed by target ingress CA key
  api/seedreconfig/seedreconfig.go
  internal/clusterconfig/clusterconfig_test.go
  internal/recert/recert.go
  lca-cli/seedclusterinfo/seedclusterinfo.go
  lca-cli/seedcreator/seedcreator.go
  utils/client_helper.go
  utils/crypto_dir.go
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

MGMT-19191: Provide a way to add coreos installer params for installation phase Adding new field CoreosInstallerArgs to image based install command to customize coreos installer command in lca cli
  api/ibiconfig/ibiconfig.go
  lca-cli/ibi-preparation/ibipreparation.go
  lca-cli/ibi-preparation/ibipreparation_test.go
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

MGMT-19168: Cleanup original stateroot after IBI install
  lca-cli/ibi-preparation/ibipreparation.go
  lca-cli/ibi-preparation/ibipreparation_test.go
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

Upversion golang to 1.22
  .ci-operator.yaml
  Dockerfile
  Makefile
  bundle/manifests/lca.openshift.io_imagebasedupgrades.yaml
  bundle/manifests/lca.openshift.io_seedgenerators.yaml
  config/crd/bases/lca.openshift.io_imagebasedupgrades.yaml
  config/crd/bases/lca.openshift.io_seedgenerators.yaml
  go.mod
  vendor/github.com/otiai10/copy/test/data/case18/assets/README.md
Due: integration, markdownlint, ibu-e2e-flow, ibi-e2e-flow, security

Upversion controller-gen to v0.14.0
  Makefile
  bundle/manifests/lca.openshift.io_imagebasedupgrades.yaml
  bundle/manifests/lca.openshift.io_seedgenerators.yaml
  config/crd/bases/lca.openshift.io_imagebasedupgrades.yaml
  config/crd/bases/lca.openshift.io_seedgenerators.yaml
Due: integration, markdownlint, ibu-e2e-flow, ibi-e2e-flow, security

Update go.mod
  go.mod
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

The purpose of this PR is to pick up a change to disk cleanup made in rh-ecosystem-edge/preinstall-utils@cf01558
  go.mod
  go.sum
  vendor/github.com/rh-ecosystem-edge/preinstall-utils/LICENSE
  vendor/github.com/rh-ecosystem-edge/preinstall-utils/pkg/disk_ops.go
  vendor/modules.txt
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

Update docs/image-based-upgrade.md
  docs/image-based-upgrade.md
Due: markdownlint

introduce new .status.history field to undertand timing of each stage and their phases
  api/imagebasedupgrade/v1/types.go
  api/imagebasedupgrade/v1/zz_generated.deepcopy.go
  bundle/manifests/lca.openshift.io_imagebasedupgrades.yaml
  config/crd/bases/lca.openshift.io_imagebasedupgrades.yaml
  controllers/ibu_controller.go
  controllers/prep_handlers.go
  controllers/rollback_handlers.go
  controllers/upgrade_handlers.go
  controllers/utils/conditions.go
  controllers/utils/history.go
  controllers/utils/history_test.go
  docs/image-based-upgrade.md
Due: integration, markdownlint, ibu-e2e-flow, ibi-e2e-flow, security

Path conditions:
  integration: unless all of: ^docs/|LICENSE|OWNERS|\.md$|^hack$
  markdownlint: any of: (\.md|^Makefile|^hack/.*markdown.*|^.markdown.*)$
  ibu-e2e-flow: unless all of: ^docs/|LICENSE|OWNERS|\.md$|^hack$
  ibi-e2e-flow: unless all of: ^docs/|LICENSE|OWNERS|\.md$|^hack$
  security: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
