Repository openshift-kni/lifecycle-agent: changes, and which Prow jobs are due for each by the changed paths.
All: integration, markdownlint, ibu-e2e-flow, ibi-e2e-flow, security

ci-operator/config/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-main.yaml:

base_images:
  base:
    name: "4.17"
    namespace: ocp
    tag: base
build_root:
  from_repository: true
images:
- dockerfile_path: Dockerfile
  from: base
  to: lifecycle-agent-operator
- dockerfile_path: bundle.Dockerfile
  to: lifecycle-agent-operator-bundle
operator:
  bundles:
  - dockerfile_path: bundle.Dockerfile
  substitutions:
  - pullspec: quay.io/openshift-kni/lifecycle-agent-operator:.*
    with: pipeline:lifecycle-agent-operator
promotion:
  to:
  - name: "4.17"
    namespace: ocp-kni
releases:
  initial:
    integration:
      name: "4.17"
      namespace: ocp
  latest:
    integration:
      include_built_images: true
      name: "4.17"
      namespace: ocp
resources:
  '*':
    limits:
      memory: 4Gi
    requests:
      cpu: 100m
      memory: 200Mi
test_binary_build_commands: |
  ./hack/install-markdownlint.sh
tests:
- as: ci-job
  commands: |
    unset VERSION
    make ci-job
  container:
    from: src
- always_run: false
  as: integration
  skip_if_only_changed: ^docs/|LICENSE|OWNERS|\.md$|^hack$
  steps:
    cluster_profile: aws-telco
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      OO_CHANNEL: alpha
      OO_INSTALL_NAMESPACE: openshift-lifecycle-agent
      OO_PACKAGE: lifecycle-agent
      OO_TARGET_NAMESPACES: '!install'
      USER_TAGS: |
        ci-job-source prowci
        ci-job-branch main
        ci-job-fullname openshift-kni-lifecycle-agent-main
        ci-job-type optional-operators-ci-aws
        ci-repo-name lifecycle-agent
        ci-org-name openshift-kni
    test:
    - as: integration
      cli: latest
      commands: |
        make test
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi
    workflow: optional-operators-ci-aws
- always_run: false
  as: markdownlint
  commands: |
    hack/markdownlint.sh
  container:
    from: test-bin
  run_if_changed: (\.md|^Makefile|^hack/.*markdown.*|^.markdown.*)$
- as: ibu-e2e-flow
  cluster: build02
  optional: true
  skip_if_only_changed: ^docs/|LICENSE|OWNERS|\.md$|^hack$
  steps:
    cluster_profile: aws
    dependencies:
      LCA_PULL_REF: pipeline:lifecycle-agent-operator
    env:
      OCP_BASE_VERSION: "4.16"
      OCP_IMAGE_SOURCE: ci
      SEED_IMAGE_TAG_FORMAT: presubmit
    workflow: openshift-image-based-upgrade-presubmit
  timeout: 4h0m0s
- as: ibi-e2e-flow
  cluster: build02
  optional: true
  skip_if_only_changed: ^docs/|LICENSE|OWNERS|\.md$|^hack$
  steps:
    cluster_profile: aws
    dependencies:
      LCA_PULL_REF: pipeline:lifecycle-agent-operator
    env:
      OCP_BASE_VERSION: "4.17"
      OCP_IMAGE_SOURCE: ci
      SEED_IMAGE_TAG_FORMAT: presubmit
      SEED_IMAGE_TAG_PREFIX: ibi
    workflow: openshift-image-based-install
  timeout: 3h0m0s
- as: security
  optional: true
  skip_if_only_changed: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
  steps:
    env:
      PROJECT_NAME: lifecycle-agent
      SNYK_CODE_ADDITIONAL_ARGS: --policy-path=.snyk
    workflow: openshift-ci-security
zz_generated_metadata:
  branch: main
  org: openshift-kni
  repo: lifecycle-agent

Update docs/image-based-upgrade.md
  docs/image-based-upgrade.md
Due: markdownlint

Upversion to 4.19
  Makefile
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/lifecycle-agent.clusterserviceversion.yaml
Due: integration, markdownlint, ibu-e2e-flow, ibi-e2e-flow, security

MGMT-19344: adding retry to static network apply as it it will fail in ibi case for some period of time and log and error
  lca-cli/postpivot/postpivot.go
  lca-cli/postpivot/postpivot_test.go
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

MGMT-19505: IBU fails during lca-prep-stateroot-setup: failed to complete stateroot setup
  internal/prep/prep.go
  lca-cli/ops/execute.go
  lca-cli/ops/mock_ops.go
  lca-cli/ops/ops.go
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

OCPBUGS-44851: Delete ACM CRDs before ACM namespaces
  controllers/seedgen_controller.go
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

Update dependabot.yml
  .github/dependabot.yml
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

OCPBUGS-49692: fix seedgen container being stuck as stopped
  controllers/seedgen_controller.go
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

Add support for mirror registries in IBI prepare
  api/ibiconfig/ibiconfig.go
  controllers/prep_handlers.go
  internal/common/consts.go
  internal/precache/constants.go
  internal/prep/prep.go
  lca-cli/cmd/ibuStaterootSetup.go
  lca-cli/ibi-preparation/ibipreparation.go
  lca-cli/postpivot/postpivot.go
  lca-cli/seedcreator/seedcreator.go
  utils/client_helper.go
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

Improve condition messages on backup cleanup failures
  internal/backuprestore/backup.go
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

Add Raul/Steven as OWNERS for Konflux work
  OWNERS
Due: none

Add owners for .tekton
  .tekton/OWNERS
  OWNERS
Due: none

Include labels/annotations when saving idms/icsp
  internal/clusterconfig/clusterconfig.go
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

Update OWNERS
  .tekton/OWNERS
Due: none

Add Steven and Raul as reviewers
  OWNERS
Due: none

Add Steven and Raul as reviewers (#745)
  .tekton/OWNERS
  OWNERS
Due: none

CNF-15329: Ignore linter warnings exposed by updating linter to 1.64.5
  controllers/seedgen_controller.go
  internal/extramanifest/extramanifest.go
  internal/healthcheck/healthcheck.go
  internal/imagemgmt/imagemgmt.go
  internal/precache/helper.go
  lca-cli/cmd/ibuStaterootSetup.go
  lca-cli/ops/ops.go
  lca-cli/postpivot/postpivot.go
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

CNF-15329: Update golangci-lint to 1.64.5 - Also make the script more robust for installating the correct linter version
  hack/golangci-lint.sh
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

CNF-15329: Pre-Konflux Alignment for LCA Repo - Update project to golang 1.23.0 - Prep Dockerfile for Konflux build
  .ci-operator.yaml
  Dockerfile
  go.mod
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

CNF-15329: Use single ARG when defining architecture used in Dockerfile
  Dockerfile
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

CNF-15329: Fix dockerfile working directory pathing due to image change
  Dockerfile
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

CNF-15329: Move note on origin-cli to arg
  Dockerfile
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

Update go.mod
  go.mod
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

Fix linter error
  internal/reboot/reboot.go
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

CNF-15329: Copy pipelines from TALM
  .tekton/build-pipeline.yaml
  .tekton/lifecycle-agent-4-19-pull-request.yaml
  .tekton/lifecycle-agent-4-19-push.yaml
  .tekton/lifecycle-agent-bundle-4-19-pull-request.yaml
  .tekton/lifecycle-agent-bundle-4-19-push.yaml
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security
