Repository openshift-kni/lifecycle-agent: changes, and which Prow jobs are due for each by the changed paths.
All: integration, markdownlint, ibu-e2e-flow, ibi-e2e-flow, security

integration:
  always_run: false
  steps:
    cluster_profile: aws-telco
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      OO_CHANNEL: alpha
      OO_INSTALL_NAMESPACE: openshift-lifecycle-agent
      OO_PACKAGE: lifecycle-agent
      OO_TARGET_NAMESPACES: '!install'
      USER_TAGS: 'ci-job-source prowci
  
  ...

markdownlint:
  always_run: false
  commands: 'hack/markdownlint.sh
  
    '
  container:
    from: test-bin

ibu-e2e-flow:
  cluster: build02
  optional: true
  steps:
    cluster_profile: aws
    dependencies:
      LCA_PULL_REF: pipeline:lifecycle-agent-operator
    env:
      OCP_BASE_VERSION: '4.16'
      OCP_IMAGE_SOURCE: ci
      SEED_IMAGE_TAG_FORMAT: presubmit
    workflow: openshift-image-based-upgrade-presubmit
  timeout: 4h0m0s

ibi-e2e-flow:
  cluster: build02
  optional: true
  steps:
    cluster_profile: aws
    dependencies:
      LCA_PULL_REF: pipeline:lifecycle-agent-operator
    env:
      OCP_BASE_VERSION: '4.17'
      OCP_IMAGE_SOURCE: ci
      SEED_IMAGE_TAG_FORMAT: presubmit
      SEED_IMAGE_TAG_PREFIX: ibi
  ...

security:
  optional: true
  steps:
    env:
      PROJECT_NAME: lifecycle-agent
      SNYK_CODE_ADDITIONAL_ARGS: --policy-path=.snyk
    workflow: openshift-ci-security

Run `make konflux-filter-unused-redhat-repos`
  .konflux/lock-runtime/redhat.repo
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

Add my account as owner
  OWNERS_ALIASES
Due: security

OCPBUGS-58600: Bump github.com/golang/glog from 1.2.0 to 1.2.4 to resolve CVE-2024-45339
  go.mod
  go.sum
  vendor/github.com/golang/glog/glog.go
  vendor/github.com/golang/glog/glog_file.go
  vendor/github.com/golang/glog/glog_file_nonwindows.go
  vendor/github.com/golang/glog/glog_file_windows.go
  vendor/modules.txt
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

OCPBUGS-58603: Bump github.com/golang/glog from 1.2.0 to 1.2.4 to resolve CVE-2024-45339
  go.mod
  go.sum
  vendor/github.com/golang/glog/glog.go
  vendor/github.com/golang/glog/glog_file.go
  vendor/github.com/golang/glog/glog_file_nonwindows.go
  vendor/github.com/golang/glog/glog_file_windows.go
  vendor/modules.txt
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

OCPBUGS-58602: Bump github.com/golang/glog from 1.2.0 to 1.2.4 to resolve CVE-2024-45339
  go.mod
  go.sum
  vendor/github.com/golang/glog/glog.go
  vendor/github.com/golang/glog/glog_file.go
  vendor/github.com/golang/glog/glog_file_nonwindows.go
  vendor/github.com/golang/glog/glog_file_windows.go
  vendor/modules.txt
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

OCPBUGS-58604: Bump glog version to 1.2.4 to resolve CVE-2024-45339
  go.mod
  go.sum
  vendor/github.com/golang/glog/glog.go
  vendor/github.com/golang/glog/glog_file.go
  vendor/github.com/golang/glog/glog_file_nonwindows.go
  vendor/github.com/golang/glog/glog_file_windows.go
  vendor/modules.txt
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

Fix bundle version overlay
  .konflux/overlay/release.in.yaml
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

Align with changes from oran
  .konflux/Dockerfile.catalog
  Makefile
Due: integration, markdownlint, ibu-e2e-flow, ibi-e2e-flow, security

Red Hat Konflux purge lifecycle-agent-operator-bundle-4-15
  .tekton/lifecycle-agent-operator-bundle-4-15-pull-request.yaml
  .tekton/lifecycle-agent-operator-bundle-4-15-push.yaml
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

Red Hat Konflux purge lifecycle-agent-4-15
  .tekton/lifecycle-agent-4-15-pull-request.yaml
  .tekton/lifecycle-agent-4-15-push.yaml
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

Red Hat Konflux purge lifecycle-agent-fbc-4-15
  .tekton/lifecycle-agent-fbc-4-15-pull-request.yaml
  .tekton/lifecycle-agent-fbc-4-15-push.yaml
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

Red Hat Konflux update lifecycle-agent-fbc-4-15
  .tekton/lifecycle-agent-fbc-4-15-pull-request.yaml
  .tekton/lifecycle-agent-fbc-4-15-push.yaml
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

Fix versioning for tools
  Makefile
Due: integration, markdownlint, ibu-e2e-flow, ibi-e2e-flow, security

Ensure when exporting $PATH that the $LOCALBIN value is an absolute path - If this is exported using a relative path then weird things can happen
  Makefile
Due: integration, markdownlint, ibu-e2e-flow, ibi-e2e-flow, security

Separate download and run targets for yamllint - Its a little bit cleaner if they are separate targets
  Makefile
Due: integration, markdownlint, ibu-e2e-flow, ibi-e2e-flow, security

Add git submodule sync to sync target - This ensures the following submodule update command will work more reliably
  Makefile
Due: integration, markdownlint, ibu-e2e-flow, ibi-e2e-flow, security

Update konflux-update-tekton-task-refs - This task should depend on the submodules being synced since it uses a script from there - Update the find command to remove redundent args and simplify it
  Makefile
Due: integration, markdownlint, ibu-e2e-flow, ibi-e2e-flow, security

Use absolute paths when referencing hack scripts
  Makefile
Due: integration, markdownlint, ibu-e2e-flow, ibi-e2e-flow, security

Tweak several konflux targets - Add missing sync-git-submodule dependencies - Align help output
  Makefile
Due: integration, markdownlint, ibu-e2e-flow, ibi-e2e-flow, security

Fix typo in comment
  Makefile
Due: integration, markdownlint, ibu-e2e-flow, ibi-e2e-flow, security

Add comment about hermetic building
  .konflux/Dockerfile.catalog
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

Make `sync-git-submodules` the first dependency where applicable
  Makefile
Due: integration, markdownlint, ibu-e2e-flow, ibi-e2e-flow, security

Separate download and run tasks for bashate, golangci-lint, and shellcheck
  Makefile
Due: integration, markdownlint, ibu-e2e-flow, ibi-e2e-flow, security

Use $(LOCALBIN) for all instances of $(PROJECT_DIR)/bin
  Makefile
Due: integration, markdownlint, ibu-e2e-flow, ibi-e2e-flow, security

Path conditions:
  integration: unless all of: ^docs/|LICENSE|OWNERS|\.md$|^hack$
  markdownlint: any of: (\.md|^Makefile|^hack/.*markdown.*|^.markdown.*)$
  ibu-e2e-flow: unless all of: ^docs/|LICENSE|OWNERS|\.md$|^hack$
  ibi-e2e-flow: unless all of: ^docs/|LICENSE|OWNERS|\.md$|^hack$
  security: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
