Repository openshift-kni/lifecycle-agent: changes, and which Prow jobs are due for each by the changed paths.
All: integration, markdownlint

integration:
  always_run: false
  steps:
    cluster_profile: aws-telco
    env:
      BASE_DOMAIN: sysdeseng.devcluster.openshift.com
      OO_CHANNEL: alpha
      OO_INSTALL_NAMESPACE: openshift-lifecycle-agent
      OO_PACKAGE: lifecycle-agent
      OO_TARGET_NAMESPACES: '!install'
      USER_TAGS: 'ci-job-source prowci
  
  ...

markdownlint:
  always_run: false
  commands: 'hack/markdownlint.sh
  
    '
  container:
    from: test-bin

Support replace/merge when applying extra manifests
  internal/common/consts.go
  internal/extramanifest/extramanifest.go
  internal/extramanifest/extramanifest_test.go
  internal/extramanifest/merge.go
  internal/extramanifest/policy.go
Due: integration

bundle: Update csv annotations in LCA bundle
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/manifests/bases/lifecycle-agent.clusterserviceversion.yaml
Due: integration

MGMT-17801: Change lca-cli cmd flags into configuration file 1. Adding configuration file for lca-cli command 2. Changing iso builder to create configuration file for lca-cli
  api/ibiconfig/ibiconfig.go
  ib-cli/cmd/createiso.go
  ib-cli/installationiso/data/ibi-butane.template
  ib-cli/installationiso/data/install-rhcos-and-restore-seed.sh
  ib-cli/installationiso/installationiso.go
  ib-cli/installationiso/installationiso_test.go
  lca-cli/cmd/ibi.go
  lca-cli/cmd/ibuStaterootSetup.go
  lca-cli/ibi-preparation/ibipreparation.go
  lca-cli/ibi-preparation/ibipreparation_test.go
  lca-cli/ops/mock_ops.go
  lca-cli/ops/ops.go
  utils/ibi_config.go
Due: integration

export associated storage classes when exporting localvolumes
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/rbac/role.yaml
  internal/clusterconfig/lvmconfig.go
  internal/clusterconfig/lvmconfig_test.go
Due: integration

Lock cli and rbac proxy image version
  Dockerfile
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/default/manager_auth_proxy_patch.yaml
Due: integration

Update version base
  Dockerfile
  Makefile
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/lifecycle-agent.clusterserviceversion.yaml
  config/samples/lca_v1_imagebasedupgrade.yaml
Due: integration, markdownlint

Revert "Update version base"
  Dockerfile
  Makefile
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/lifecycle-agent.clusterserviceversion.yaml
  config/samples/lca_v1_imagebasedupgrade.yaml
Due: integration, markdownlint

Fix api version replacement
  controllers/ibu_controller.go
  controllers/ibu_controller_test.go
  controllers/idle_handlers.go
  controllers/idle_handlers_test.go
  controllers/prep_handlers.go
  controllers/rollback_handlers.go
  controllers/seedgen_controller.go
  controllers/upgrade_handlers.go
  controllers/upgrade_handlers_test.go
  controllers/utils/conditions.go
  internal/backuprestore/backup.go
  internal/backuprestore/backup_test.go
  internal/backuprestore/common.go
  internal/backuprestore/restore.go
  internal/common/utils.go
  internal/extramanifest/extramanifest.go
  internal/extramanifest/extramanifest_test.go
  internal/precache/helper.go
  internal/precache/helper_test.go
  internal/precache/precache.go
  internal/precache/precache_test.go
  internal/prep/prep_stateroot_setup_job.go
  internal/reboot/reboot.go
  internal/reboot/reboot_test.go
  lca-cli/cmd/create.go
  lca-cli/cmd/ibuStaterootSetup.go
  main/main.go
  utils/utils.go
Due: integration

Upversion main to 4.17
  Dockerfile
  Makefile
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/lifecycle-agent.clusterserviceversion.yaml
Due: integration, markdownlint

Update seed format version due to the api version change
  internal/common/consts.go
Due: integration

Update version base to 4.14
  Dockerfile
  Makefile
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/lifecycle-agent.clusterserviceversion.yaml
  config/samples/lca_v1_imagebasedupgrade.yaml
Due: integration, markdownlint

Fix misspell, ineffassign and gofmt issues
  controllers/upgrade_handlers_test.go
  internal/backuprestore/restore_test.go
  internal/extramanifest/extramanifest_test.go
  internal/extramanifest/policy_test.go
  pkg/dependencymagnet/doc.go
Due: integration

Update README.md with some badges
  README.md
Due: markdownlint

Add code-coverage targets to Makefile
  .testcoverage.yml
  Makefile
Due: integration, markdownlint

handle sigterm when stateroot job is progress
  controllers/idle_handlers.go
  controllers/prep_handlers.go
  docs/image-based-upgrade.md
  internal/common/utils.go
  internal/prep/prep_stateroot_setup_job.go
  lca-cli/cmd/ibuStaterootSetup.go
Due: integration, markdownlint

OCPBUGS-33786 - Fix SELinux issues in IBI when running outside of a container
  ib-cli/installationiso/data/ibi-butane.template
Due: integration

prep stage doc updates and unify logs and naming
  controllers/prep_handlers.go
  docs/assets/precache_design.svg
  docs/image-based-upgrade.md
  docs/precache-plugin.md
  internal/precache/constants.go
  internal/precache/helper.go
  internal/precache/helper_test.go
  internal/precache/precache.go
  internal/precache/precache_test.go
Due: integration, markdownlint

Enforce FIPS compatibility
  controllers/prep_handlers.go
  lca-cli/cmd/create.go
  lca-cli/seedclusterinfo/seedclusterinfo.go
  lca-cli/seedcreator/seedcreator.go
  utils/client_helper.go
Due: integration

Refine subscription health check
  controllers/idle_handlers.go
  controllers/prep_handlers.go
  controllers/seedgen_controller.go
  controllers/upgrade_handlers.go
  controllers/upgrade_handlers_test.go
  docs/image-based-upgrade.md
  docs/seed-image-generation.md
  internal/healthcheck/healthcheck.go
  internal/healthcheck/healthcheck_test.go
Due: integration, markdownlint

Introduce Subscription health check
  controllers/idle_handlers.go
  controllers/prep_handlers.go
  controllers/seedgen_controller.go
  controllers/upgrade_handlers.go
  controllers/upgrade_handlers_test.go
  docs/image-based-upgrade.md
  docs/seed-image-generation.md
  internal/healthcheck/healthcheck.go
  internal/healthcheck/healthcheck_test.go
Due: integration, markdownlint

MGMT-17652: Possibly improve etcd performance through defrag/compaction Adding etcd defrag as part of seed creation right after recert Currently added as best-effort.
  lca-cli/ops/ops.go
Due: integration

OCPBUGS-34010: In case proxy status was set there is no reason to update proxy in post pivot phase (IBU flow)
  lca-cli/postpivot/postpivot.go
Due: integration

extramanifest configmaps validation update
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/idle_handlers.go
  controllers/prep_handlers.go
  controllers/upgrade_handlers.go
  controllers/upgrade_handlers_test.go
  docs/image-based-upgrade.md
  internal/extramanifest/extramanifest.go
  internal/extramanifest/extramanifest_test.go
  internal/extramanifest/mocks/mock_extramanifest.go
Due: integration, markdownlint

MGMT-16515: in order to set machine network in node ip hint file in post pivot we should take it from target
  internal/clusterconfig/clusterconfig.go
  utils/client_helper.go
Due: integration

docs: Update seedgen prereqs section
  docs/seed-image-generation.md
Due: markdownlint

Reset version to 4.16 after initial resync with main
  Dockerfile
  Makefile
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/lifecycle-agent.clusterserviceversion.yaml
Due: integration, markdownlint

Reset version to 4.15 after resync with main
  Dockerfile
  Makefile
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/lifecycle-agent.clusterserviceversion.yaml
Due: integration, markdownlint

Reset version to 4.14 after resync with main
  Dockerfile
  Makefile
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/lifecycle-agent.clusterserviceversion.yaml
Due: integration, markdownlint

backup restore doc update
  docs/backuprestore-with-oadp.md
Due: markdownlint

MGMT-17949: Proxy params for installation iso Setting proxy setting as part of installation service in installation iso
  api/ibiconfig/ibiconfig.go
  ib-cli/cmd/createiso.go
  ib-cli/installationiso/data/ibi-butane.template
  ib-cli/installationiso/installationiso.go
  ib-cli/installationiso/installationiso_test.go
Due: integration

MGMT-17011: Allow providing additional trusted bundle to installation iso.
  api/ibiconfig/ibiconfig.go
  ib-cli/cmd/createiso.go
  ib-cli/installationiso/data/ibi-butane.template
  ib-cli/installationiso/installationiso.go
  ib-cli/installationiso/installationiso_test.go
Due: integration

Path conditions:
  integration: unless all of: ^docs/|LICENSE|OWNERS|\.md$|^hack$
  markdownlint: any of: (\.md|^Makefile|^hack/.*markdown.*|^.markdown.*)$
