Repository openshift-kni/lifecycle-agent: changes, and which Prow jobs are due for each by the changed paths.
All: integration, markdownlint, ibu-e2e-flow, ibi-e2e-flow, security

integration:
  always_run: false
  steps:
    cluster_profile: aws-telco
    env:
      BASE_DOMAIN: telco5g-ci.devcluster.openshift.com
      OO_CHANNEL: alpha
      OO_INSTALL_NAMESPACE: openshift-lifecycle-agent
      OO_PACKAGE: lifecycle-agent
      OO_TARGET_NAMESPACES: '!install'
      USER_TAGS: 'ci-job-source prowci
  
  ...

markdownlint:
  always_run: false
  commands: 'hack/markdownlint.sh
  
    '
  container:
    from: test-bin

ibu-e2e-flow:
  cluster: build02
  optional: true
  steps:
    cluster_profile: aws
    dependencies:
      LCA_PULL_REF: pipeline:lifecycle-agent-operator
    env:
      OCP_BASE_VERSION: '4.16'
      OCP_IMAGE_SOURCE: ci
      SEED_IMAGE_TAG_FORMAT: presubmit
    workflow: openshift-image-based-upgrade-presubmit
  timeout: 4h0m0s

ibi-e2e-flow:
  cluster: build02
  optional: true
  steps:
    cluster_profile: aws
    dependencies:
      LCA_PULL_REF: pipeline:lifecycle-agent-operator
    env:
      OCP_BASE_VERSION: '4.17'
      OCP_IMAGE_SOURCE: ci
      SEED_IMAGE_TAG_FORMAT: presubmit
      SEED_IMAGE_TAG_PREFIX: ibi
  ...

security:
  optional: true
  steps:
    env:
      PROJECT_NAME: lifecycle-agent
      SNYK_CODE_ADDITIONAL_ARGS: --policy-path=.snyk
    workflow: openshift-ci-security

seedgen: Add check to reject when LocalVolume is present
  controllers/seedgen_controller.go
  go.mod
  go.sum
  main/main.go
  vendor/github.com/openshift/local-storage-operator/LICENSE
  vendor/github.com/openshift/local-storage-operator/api/v1/groupversion_info.go
  vendor/github.com/openshift/local-storage-operator/api/v1/localvolume_types.go
  vendor/github.com/openshift/local-storage-operator/api/v1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

seedgen: Add check to reject when PVs are present
  controllers/seedgen_controller.go
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

seedgen: Add check to reject when OADP version ain't supported
  controllers/seedgen_controller.go
  go.mod
  internal/backuprestore/common.go
  internal/backuprestore/mocks/mock_backuprestore.go
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

seedgen: Add check to reject when DPA is present
  controllers/seedgen_controller.go
  internal/backuprestore/common.go
  internal/backuprestore/mocks/mock_backuprestore.go
  main/main.go
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

Update .ci-operator.yaml
  .ci-operator.yaml
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

Revert update .ci-operator.yaml
  .ci-operator.yaml
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

docs: Update seedgen prereqs section
  docs/seed-image-generation.md
Due: markdownlint

missing quotes
  docs/image-based-upgrade.md
Due: markdownlint

Fix applying backup label not preserving existing labels
  internal/backuprestore/backup.go
  internal/backuprestore/backup_test.go
  internal/backuprestore/common.go
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

update logging msg for retry middleware
  utils/client_middleware.go
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

Add pull-secret example to IBU doc
  docs/image-based-upgrade.md
Due: markdownlint

CNF-12722: clear temporary files when cleaning up unbooted stateroot
  controllers/idle_handlers.go
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

Fix ci-job
  controllers/idle_handlers_test.go
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

The purpose of this PR is to pick up a change to disk cleanup made in rh-ecosystem-edge/preinstall-utils@cf01558
  go.mod
  go.sum
  vendor/github.com/rh-ecosystem-edge/preinstall-utils/pkg/disk_ops.go
  vendor/github.com/thoas/go-funk/.gitignore
  vendor/github.com/thoas/go-funk/.travis.yml
  vendor/github.com/thoas/go-funk/CHANGELOG.md
  vendor/github.com/thoas/go-funk/LICENSE
  vendor/github.com/thoas/go-funk/Makefile
  vendor/github.com/thoas/go-funk/README.rst
  vendor/github.com/thoas/go-funk/assign.go
  vendor/github.com/thoas/go-funk/builder.go
  vendor/github.com/thoas/go-funk/chain_builder.go
  vendor/github.com/thoas/go-funk/compact.go
  vendor/github.com/thoas/go-funk/fill.go
  vendor/github.com/thoas/go-funk/helpers.go
  vendor/github.com/thoas/go-funk/intersection.go
  vendor/github.com/thoas/go-funk/join.go
  vendor/github.com/thoas/go-funk/join_primitives.go
  vendor/github.com/thoas/go-funk/lazy_builder.go
  vendor/github.com/thoas/go-funk/map.go
  vendor/github.com/thoas/go-funk/max.go
  vendor/github.com/thoas/go-funk/min.go
  vendor/github.com/thoas/go-funk/operation.go
  vendor/github.com/thoas/go-funk/options.go
  vendor/github.com/thoas/go-funk/permutation.go
  vendor/github.com/thoas/go-funk/predicate.go
  vendor/github.com/thoas/go-funk/presence.go
  vendor/github.com/thoas/go-funk/reduce.go
  vendor/github.com/thoas/go-funk/retrieve.go
  vendor/github.com/thoas/go-funk/scan.go
  vendor/github.com/thoas/go-funk/short_if.go
  vendor/github.com/thoas/go-funk/subset.go
  vendor/github.com/thoas/go-funk/subtraction.go
  vendor/github.com/thoas/go-funk/transform.go
  vendor/github.com/thoas/go-funk/typesafe.go
  vendor/github.com/thoas/go-funk/union.go
  vendor/github.com/thoas/go-funk/utils.go
  vendor/github.com/thoas/go-funk/without.go
  vendor/github.com/thoas/go-funk/zip.go
  vendor/modules.txt
Due: integration, markdownlint, ibu-e2e-flow, ibi-e2e-flow, security

IBU: Add automated container storage cleanup to Prep stage
  HACKING.md
  controllers/ibu_controller.go
  controllers/prep_handlers.go
  docs/image-based-upgrade.md
  internal/common/consts.go
  internal/imagemgmt/imagemgmt.go
  internal/imagemgmt/imagemgmt_test.go
  internal/imagemgmt/mock_imagemgmt.go
  lca-cli/ops/ops.go
  lca-cli/seedcreator/seedcreator.go
  main/main.go
Due: integration, markdownlint, ibu-e2e-flow, ibi-e2e-flow, security

Update README.md
  README.md
Due: markdownlint

Upversion to 4.18
  Dockerfile
  Makefile
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/lifecycle-agent.clusterserviceversion.yaml
Due: integration, markdownlint, ibu-e2e-flow, ibi-e2e-flow, security

Pin version of origin-cli-artifacts and kube-rbac-proxy
  Dockerfile
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/default/manager_auth_proxy_patch.yaml
Due: integration, ibu-e2e-flow, ibi-e2e-flow, security

Path conditions:
  integration: unless all of: ^docs/|LICENSE|OWNERS|\.md$|^hack$
  markdownlint: any of: (\.md|^Makefile|^hack/.*markdown.*|^.markdown.*)$
  ibu-e2e-flow: unless all of: ^docs/|LICENSE|OWNERS|\.md$|^hack$
  ibi-e2e-flow: unless all of: ^docs/|LICENSE|OWNERS|\.md$|^hack$
  security: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|PROJECT|LICENSE)$
