Repository openshift-kni/lifecycle-agent: changes, and which Prow jobs are due for each by the changed paths.
All: integration, markdownlint

integration:
  always_run: false
  steps:
    cluster_profile: aws-telco
    env:
      BASE_DOMAIN: sysdeseng.devcluster.openshift.com
      OO_CHANNEL: alpha
      OO_INSTALL_NAMESPACE: openshift-lifecycle-agent
      OO_PACKAGE: lifecycle-agent
      OO_TARGET_NAMESPACES: '!install'
      USER_TAGS: 'ci-job-source prowci
  
  ...

markdownlint:
  always_run: false
  commands: 'hack/markdownlint.sh
  
    '
  container:
    from: test-bin

Update for review comments, reduce health check interval
  controllers/ibu_controller.go
  controllers/seedgen_controller.go
  controllers/upgrade_handlers.go
  controllers/upgrade_handlers_test.go
  internal/healthcheck/healthcheck.go
Due: integration

Add extra manifests configmap validation
  HACKING.md
  controllers/ibu_controller.go
  controllers/prep_handlers.go
  controllers/upgrade_handlers.go
  docs/image-based-upgrade.md
  internal/backuprestore/common.go
  internal/backuprestore/mocks/mock_backuprestore.go
  internal/common/utils.go
  internal/extramanifest/extramanifest.go
  internal/extramanifest/extramanifest_test.go
  internal/extramanifest/mocks/mock_extramanifest.go
  main/main.go
  utils/utils.go
Due: integration, markdownlint

seedgen: Add MCP health check to pull-secret sanitization
  controllers/seedgen_controller.go
Due: integration

seedgen: Remove hubKubeconfig and hub interaction
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/seedgen_controller.go
  docs/seed-image-generation.md
Due: integration, markdownlint

Update reconcilers to return error if CR DB update fails
  controllers/ibu_controller.go
  controllers/seedgen_controller.go
Due: integration

Drop hubKubeconfig references from HACKING.md
  HACKING.md
Due: markdownlint

Clarifies backup documentation with OADP
  docs/backuprestore-with-oadp.md
Due: markdownlint

Ensure initMonitorTimeoutSeconds positive values only
  api/v1alpha1/types.go
  bundle/manifests/lca.openshift.io_imagebasedupgrades.yaml
  config/crd/bases/lca.openshift.io_imagebasedupgrades.yaml
Due: integration

CNF-11418: Allow spec changes when transitioning to idle
  api/v1alpha1/types.go
  bundle/manifests/lca.openshift.io_imagebasedupgrades.yaml
  config/crd/bases/lca.openshift.io_imagebasedupgrades.yaml
  controllers/idle_handlers.go
Due: integration

MGMT-16687: IBI use separate partition for /var/lib/containers
  ib-cli/README.md
  ib-cli/cmd/createiso.go
  ib-cli/installationiso/data/ibi-butane.template
  ib-cli/installationiso/data/install-rhcos-and-restore-seed.sh
  ib-cli/installationiso/installationiso.go
  ib-cli/installationiso/installationiso_test.go
Due: integration, markdownlint

support must gather
  .gitignore
  DEVELOPING.md
  Dockerfile
  docs/must-gather.md
  must-gather/README.md
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_lca
  must-gather/collection-scripts/gather_oadp
  must-gather/collection-scripts/gather_sriov
  must-gather/collection-scripts/version
Due: integration, markdownlint

Restore fix for IBU with no rhcos delta
  controllers/prep_handlers.go
  internal/ostreeclient/mock_ostreeclient.go
  internal/ostreeclient/ostreeclient.go
  internal/prep/prep.go
Due: integration

postpivot: Check if recert exists before pulling
  lca-cli/postpivot/postpivot.go
Due: integration

Add version info to kargs for deploy in IBU
  internal/prep/prep.go
Due: integration

postpivot: Fix ssh key machineconfig filenames
  lca-cli/postpivot/postpivot.go
Due: integration

MGMT-16610: add proxy to seed reconfiguration api Part 1: adding proxy to api
  api/seedreconfig/seedreconfig.go
Due: integration

post-pivot: Delete SriovNetworkNodeState CR if exists
  lca-cli/postpivot/postpivot.go
Due: integration

MGMT-17115: Save the custom catalog sources as extra manifests
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/rbac/role.yaml
  go.mod
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_test.go
Due: integration

Move OADP secrets and DPA restoration to installation-configuration service
  controllers/upgrade_handlers.go
  controllers/upgrade_handlers_test.go
  internal/backuprestore/backup.go
  internal/backuprestore/backup_test.go
  internal/backuprestore/common.go
  internal/backuprestore/mocks/mock_backuprestore.go
  internal/backuprestore/restore.go
  internal/backuprestore/restore_test.go
  lca-cli/postpivot/postpivot.go
Due: integration

Update upgrade pre-pivot status message
  controllers/upgrade_handlers.go
  controllers/upgrade_handlers_test.go
Due: integration

Revert "MGMT-17115: Save the custom catalog sources as extra manifests"
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/rbac/role.yaml
  go.mod
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_test.go
Due: integration

CNF-11186: Raise validation error if there is a MachineConfig in extramanifests
  internal/extramanifest/extramanifest.go
  internal/extramanifest/extramanifest_test.go
Due: integration

Fix broken vbom.ml/util dep
  go.mod
  go.sum
  vendor/modules.txt
Due: integration

MGMT-16819: LCA should use the same recert image across seed generation and post-pivot
  lca-cli/ops/mock_ops.go
  lca-cli/ops/ops.go
  lca-cli/seedclusterinfo/seedclusterinfo.go
  lca-cli/seedcreator/seedcreator.go
Due: integration

CNF-11561: snyk secure ignore vendor
  .snyk
Due: integration

seedgen: add description to seedgen.spec fields
  api/seedgenerator/v1alpha1/types.go
  bundle/manifests/lca.openshift.io_seedgenerators.yaml
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/crd/bases/lca.openshift.io_seedgenerators.yaml
  config/manifests/bases/lifecycle-agent.clusterserviceversion.yaml
Due: integration

seedgen: Use RELATED_IMAGE_RECERT_IMAGE, if available
  controllers/seedgen_controller.go
  internal/common/consts.go
Due: integration

reconcile when job updates
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/ibu_controller.go
  controllers/idle_handlers.go
  controllers/prep_handlers.go
  internal/precache/constants.go
  internal/precache/helper.go
  internal/precache/helper_test.go
  internal/precache/precache.go
  internal/precache/precache_test.go
  main/main.go
Due: integration

Add documentation for Finalize/Abort failed
  docs/image-based-upgrade.md
  docs/troubleshooting.md
Due: markdownlint

Add description to several IBU spec fields
  api/v1alpha1/types.go
  bundle/manifests/lca.openshift.io_imagebasedupgrades.yaml
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/crd/bases/lca.openshift.io_imagebasedupgrades.yaml
  config/manifests/bases/lifecycle-agent.clusterserviceversion.yaml
Due: integration

Save localvolumes to the manifests dir for post-pivot service to restore
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/rbac/role.yaml
  docs/backuprestore-with-oadp.md
  docs/image-based-upgrade.md
  internal/clusterconfig/lvmconfig.go
  internal/clusterconfig/lvmconfig_test.go
Due: integration, markdownlint

Refactor post-pivot applyManfests with go client
  internal/clusterconfig/clusterconfig.go
  internal/extramanifest/extramanifest.go
  lca-cli/postpivot/postpivot.go
  lca-cli/postpivot/postpivot_test.go
  main/main.go
  utils/utils.go
Due: integration

CNF-11561: fix non-vendor snyk errors
  .snyk
  internal/backuprestore/restore.go
  utils/crypto_dir.go
  utils/utils.go
Due: integration

Path conditions:
  integration: unless all of: (\.md|^hack)$
  markdownlint: any of: (\.md|^Makefile|^hack/.*markdown.*|^.markdown.*)$
