Repository openshift-kni/lifecycle-agent: changes, and which Prow jobs are due for each by the changed paths.
All: integration, markdownlint

ci-operator/config/openshift-kni/lifecycle-agent/openshift-kni-lifecycle-agent-main.yaml:

base_images:
  base:
    name: "4.16"
    namespace: ocp
    tag: base
build_root:
  from_repository: true
images:
- dockerfile_path: Dockerfile
  from: base
  to: lifecycle-agent-operator
- dockerfile_path: bundle.Dockerfile
  to: lifecycle-agent-operator-bundle
operator:
  bundles:
  - dockerfile_path: bundle.Dockerfile
  substitutions:
  - pullspec: quay.io/openshift-kni/lifecycle-agent-operator:.*
    with: pipeline:lifecycle-agent-operator
promotion:
  to:
  - name: "4.16"
    namespace: ocp-kni
releases:
  initial:
    integration:
      name: "4.16"
      namespace: ocp
  latest:
    integration:
      include_built_images: true
      name: "4.16"
      namespace: ocp
resources:
  '*':
    limits:
      memory: 4Gi
    requests:
      cpu: 100m
      memory: 200Mi
test_binary_build_commands: |
  ./hack/install-markdownlint.sh
tests:
- as: ci-job
  commands: |
    unset VERSION
    make ci-job
  container:
    from: src
- always_run: false
  as: integration
  skip_if_only_changed: ^docs/|LICENSE|OWNERS|\.md$|^hack$
  steps:
    cluster_profile: aws-telco
    env:
      BASE_DOMAIN: sysdeseng.devcluster.openshift.com
      OO_CHANNEL: alpha
      OO_INSTALL_NAMESPACE: openshift-lifecycle-agent
      OO_PACKAGE: lifecycle-agent
      OO_TARGET_NAMESPACES: '!install'
      USER_TAGS: |
        ci-job-source prowci
        ci-job-branch main
        ci-job-fullname openshift-kni-lifecycle-agent-main
        ci-job-type optional-operators-ci-aws
        ci-repo-name lifecycle-agent
        ci-org-name openshift-kni
    test:
    - as: integration
      cli: latest
      commands: |
        make test
      from: src
      resources:
        requests:
          cpu: 100m
          memory: 200Mi
    workflow: optional-operators-ci-aws
- always_run: false
  as: markdownlint
  commands: |
    hack/markdownlint.sh
  container:
    from: test-bin
  run_if_changed: (\.md|^Makefile|^hack/.*markdown.*|^.markdown.*)$
zz_generated_metadata:
  branch: main
  org: openshift-kni
  repo: lifecycle-agent

backuprestore: Add CleanupStaleBackups check to Prep stage
  controllers/prep_handlers.go
  internal/backuprestore/common.go
Due: integration

Improve CleanupStaleBackups function
  internal/backuprestore/backup.go
Due: integration

MGMT-17360: Etcd peer url should be https and not http
  lca-cli/postpivot/postpivot.go
Due: integration

Handle invalid stage transition condition
  api/v1alpha1/types.go
  bundle/manifests/lca.openshift.io_imagebasedupgrades.yaml
  config/crd/bases/lca.openshift.io_imagebasedupgrades.yaml
  controllers/ibu_controller.go
  controllers/ibu_controller_test.go
  controllers/rollback_handlers.go
  controllers/upgrade_handlers.go
  controllers/upgrade_handlers_test.go
  controllers/utils/conditions.go
  controllers/utils/constants.go
  docs/image-based-upgrade.md
Due: integration, markdownlint

MGMT-17364: Allow providing subnet for IBI installation Adding new api field MachineNetwork it will be used to set nodeip hint that will point nodeip-configuration to the right ip
  api/seedreconfig/seedreconfig.go
  lca-cli/postpivot/postpivot.go
  lca-cli/postpivot/postpivot_test.go
Due: integration

Handle invalid stage transition condition
  api/v1alpha1/types.go
  bundle/manifests/lca.openshift.io_imagebasedupgrades.yaml
  config/crd/bases/lca.openshift.io_imagebasedupgrades.yaml
  controllers/ibu_controller.go
  controllers/ibu_controller_test.go
  controllers/rollback_handlers.go
  controllers/upgrade_handlers.go
  controllers/upgrade_handlers_test.go
  controllers/utils/conditions.go
  controllers/utils/constants.go
  docs/image-based-upgrade.md
  docs/troubleshooting.md
Due: integration, markdownlint

backuprestore: Add CleanupStaleBackups to Upgrade (pre-pivot) stage
  controllers/upgrade_handlers.go
Due: integration

Adjust upgrade_handler unittests to accommodate CleanupStaleBackups
  controllers/upgrade_handlers_test.go
Due: integration

Update OADP docs to specify automatic cleanup of stale Backups
  docs/backuprestore-with-oadp.md
Due: markdownlint

backuprestore: Ensure backup and restore CRs use cluster-ID'ed resources
  internal/backuprestore/backup.go
  internal/backuprestore/common.go
  internal/backuprestore/restore.go
Due: integration

Adjust backup / restore unittests to ensure clusterID is used
  internal/backuprestore/backup_test.go
  internal/backuprestore/restore_test.go
Due: integration

Do not store kubeadmin hash in seed image
  lca-cli/ops/ops.go
  lca-cli/seedcreator/seedcreator.go
Due: integration

OCPBUGS-31771: block creation of multiple IBU and seedgen resources
  api/seedgenerator/v1alpha1/types.go
  api/v1alpha1/types.go
  bundle/manifests/lca.openshift.io_imagebasedupgrades.yaml
  bundle/manifests/lca.openshift.io_seedgenerators.yaml
  config/crd/bases/lca.openshift.io_imagebasedupgrades.yaml
  config/crd/bases/lca.openshift.io_seedgenerators.yaml
Due: integration

ib-cli: make extra-partition-start flag mandatory
  ib-cli/cmd/createiso.go
Due: integration

IBI: Detect partition filepaths and use partition labels when possible
  ib-cli/installationiso/data/install-rhcos-and-restore-seed.sh
Due: integration

Quick fix of manual cleanup label in the doc
  docs/image-based-upgrade.md
Due: markdownlint

remove autoRollback config params from spec except InitMonitorTimeoutSeconds and use annotations instead
  HACKING.md
  api/v1alpha1/types.go
  bundle/manifests/lca.openshift.io_imagebasedupgrades.yaml
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/crd/bases/lca.openshift.io_imagebasedupgrades.yaml
  config/manifests/bases/lifecycle-agent.clusterserviceversion.yaml
  controllers/upgrade_handlers.go
  docs/image-based-upgrade.md
  internal/common/consts.go
  internal/reboot/reboot.go
Due: integration, markdownlint

Include command name in log
  lca-cli/ops/ops.go
Due: integration

OCPBUGS-31896: Moving set of sshkey before network manipulations in order to allow ssh connection in case something will go wrong with network config but ip will exist
  lca-cli/postpivot/postpivot.go
Due: integration

MGMT-17463: Fix SELinux problems while unpacking tar files
  ib-cli/installationiso/data/install-rhcos-and-restore-seed.sh
  internal/common/utils.go
  lca-cli/ops/ops.go
  utils/utils.go
Due: integration

fix log paths and collect recert-seed-creation-summary and recert-seed-restoration-summary
  docs/must-gather.md
  internal/recert/recert.go
  must-gather/collection-scripts/gather_lca
Due: integration, markdownlint

Check status phase only for CSV healthcheck
  internal/healthcheck/healthcheck.go
  internal/healthcheck/healthcheck_test.go
Due: integration

Move oadp storage backend connection check to healthcheck
  controllers/upgrade_handlers.go
  controllers/upgrade_handlers_test.go
  internal/backuprestore/backup.go
  internal/backuprestore/backup_test.go
  internal/backuprestore/common.go
  internal/backuprestore/restore.go
  internal/backuprestore/restore_test.go
  internal/healthcheck/healthcheck.go
  internal/healthcheck/healthcheck_test.go
Due: integration

Use recert for proxy seed reconfiguration
  api/seedreconfig/seedreconfig.go
  controllers/prep_handlers.go
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_test.go
  internal/common/consts.go
  internal/recert/recert.go
  lca-cli/postpivot/postpivot.go
  lca-cli/seedclusterinfo/seedclusterinfo.go
  lca-cli/seedcreator/seedcreator.go
  utils/client_helper.go
Due: integration

Retry apply of manifest on retriable failure
  internal/common/utils.go
  lca-cli/postpivot/postpivot.go
Due: integration

Fix invalid condition
  controllers/prep_handlers.go
Due: integration

Extend lca-rollback-csr-approver validation criteria
  internal/bindata/lca-rollback-csr-approver.sh
  internal/generated/zz_generated.bindata.go
Due: integration

Update lca-rollback-csr-approver.sh to check signer and requestor
  internal/bindata/lca-rollback-csr-approver.sh
  internal/generated/zz_generated.bindata.go
Due: integration

Add string validations for SeedImage, RecertImage and Image
  api/seedgenerator/v1alpha1/types.go
  api/v1alpha1/types.go
  bundle/manifests/lca.openshift.io_imagebasedupgrades.yaml
  bundle/manifests/lca.openshift.io_seedgenerators.yaml
  config/crd/bases/lca.openshift.io_imagebasedupgrades.yaml
  config/crd/bases/lca.openshift.io_seedgenerators.yaml
Due: integration

CNF-11188: docs update for disable-auto-import annotation
  docs/backuprestore-with-oadp.md
  docs/image-based-upgrade.md
Due: markdownlint

allow export of CRs only if IBU points to at least one OADPContent
  controllers/upgrade_handlers.go
  controllers/upgrade_handlers_test.go
  internal/backuprestore/backup.go
  internal/backuprestore/common.go
  internal/backuprestore/restore.go
  internal/common/manifest_helpers.go
Due: integration

idle: Restore Reclaim Policy in PVs created by LVMS
  controllers/idle_handlers.go
Due: integration

post-pivot: Restore Reclaim Policy in PVs created by LVMS
  controllers/upgrade_handlers.go
  controllers/upgrade_handlers_test.go
  internal/backuprestore/backup.go
  internal/backuprestore/common.go
  internal/backuprestore/mocks/mock_backuprestore.go
Due: integration

pre-pivot: Handle Reclaim Policy in PVs created by LVMS
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/upgrade_handlers.go
  controllers/upgrade_handlers_test.go
  internal/backuprestore/backup.go
  internal/backuprestore/backup_test.go
  internal/backuprestore/common.go
  internal/backuprestore/mocks/mock_backuprestore.go
Due: integration

pull precache images unconditionally
  internal/precache/precache.go
  internal/precache/progress.go
  internal/precache/workload/pullImages.go
Due: integration

fix all the spelling error with lifecycle
  HACKING.md
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/manager/manager.yaml
  internal/precache/helper.go
  must-gather/collection-scripts/gather_lca
Due: integration, markdownlint

CNF-11418: Allow spec changes when transitioning to idle
  api/v1alpha1/types.go
  bundle/manifests/lca.openshift.io_imagebasedupgrades.yaml
  config/crd/bases/lca.openshift.io_imagebasedupgrades.yaml
  controllers/idle_handlers.go
Due: integration

ibu: Remove unused fields from CRD spec
  api/v1alpha1/types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/lca.openshift.io_imagebasedupgrades.yaml
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/crd/bases/lca.openshift.io_imagebasedupgrades.yaml
  config/manifests/bases/lifecycle-agent.clusterserviceversion.yaml
  config/samples/lca_v1alpha1_imagebasedupgrade.yaml
  docs/examples.md
Due: integration, markdownlint
