Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile

Add kubevirt to defaultPlugins doc, extends #563
  docs/config/plugins.md
Due: none

update oadp type
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Edited oadp_types.go, moved `PrometheusRule` to `config/..`, ran `make bundle`, `go mod tidy`
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/oadp-operator_monitoring.coreos.com_v1_prometheusrule.yaml
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  bundle/manifests/openshift-adp-controller-manager_v1_serviceaccount.yaml
  bundle/manifests/velero_v1_serviceaccount.yaml
  bundle/tests/scorecard/config.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  config/manifests/kustomization.yaml
  config/prometheus/kustomization.yaml
  config/prometheus/oadp-metrics-recording-rule.yaml
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add kubevirt to defaultPlugins doc, extends #563 (#583)
  docs/config/plugins.md
Due: none

Add status descriptors to CSV (#580)
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/oadp-operator_monitoring.coreos.com_v1_prometheusrule.yaml
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
  config/manifests/kustomization.yaml
  config/prometheus/kustomization.yaml
  config/prometheus/oadp-metrics-recording-rule.yaml
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Makefile refactor `deploy-tmp` to `velero-role-tmp` expose `apply-velerosa-role` (#581)
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

cloud storage gcp addition
  api/v1alpha1/cloud_storage_types.go
  bundle/manifests/oadp.openshift.io_cloudstorages.yaml
  config/crd/bases/oadp.openshift.io_cloudstorages.yaml
  go.mod
  go.sum
  pkg/bucket/aws.go
  pkg/bucket/client.go
  pkg/bucket/gcp.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Treat ErrBucketNotExist as exist == false
  pkg/bucket/gcp.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add common func TrimVeleroPrefix
  pkg/common/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

AppendCloudProviderVolumes handles CloudStorage BackupLocations
  controllers/restic.go
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

use common.TrimPrefix
  controllers/bsl.go
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fix nil errors with cloudStorage in restic.go
  controllers/restic.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

make test formatting
  controllers/restic.go
  pkg/bucket/gcp.go
  pkg/common/common.go
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Eliminate "perform updated on dpa metrics service" from logs
  controllers/monitor.go
  controllers/monitor_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add available OADP versions to issue template
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

add available OADP versions to issue template (#586)
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

add-1.0.1 to version matrix
  README.md
Due: none

add-1.0.1 to version matrix (#587)
  README.md
Due: none

restic reconcile log reduction
  controllers/restic.go
  controllers/restic_test.go
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

reduce velero deployment reconcile logs
  controllers/velero.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

setDsDefaults is not needed
  controllers/restic.go
  controllers/restic_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Revert "Eliminate "perform updated on dpa metrics service" from logs"
  controllers/monitor.go
  controllers/monitor_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

defaultMode no longer needed
  controllers/restic.go
  controllers/restic_test.go
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove prevDs
  controllers/restic.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

No need to save deploymentName and ownerRefs
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

uses strconv.ParseBool
  controllers/bucket_controller.go
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

loglevel
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/velero.go
  controllers/velero_test.go
  docs/API_ref.md
  go.mod
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add kubevirt to pluginSpecificFields, rm unused var
  controllers/velero_test.go
  docs/developer/OnboardingDefaultPlugin.md
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

also update docs when adding new plugin
  docs/developer/OnboardingDefaultPlugin.md
Due: none

pr template
  .github/pull_request_template.md
Due: none

Event name update addressing https://github.com/openshift/oadp-operator/pull/574#pullrequestreview-903283919
  controllers/bucket_controller.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

rm typemeta ignores
  controllers/restic.go
  controllers/restic_test.go
  controllers/velero.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Remove panic and fatal
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add kubevirt to pluginSpecificFields, rm unused var (#589)
  controllers/velero_test.go
  docs/developer/OnboardingDefaultPlugin.md
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Reduce "perform updated on X ..." reconciler logs (#584)
  controllers/restic.go
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

CloudStorage: Only delete and remove finalizer if there exists an annotation. (#574)
  controllers/bucket_controller.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

resolves https://github.com/openshift/oadp-operator/pull/588/files#r823051753, https://github.com/openshift/oadp-operator/pull/588/files#r823050949
  controllers/velero_test.go
  docs/API_ref.md
  go.mod
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

refactor err
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Don't use "simply expanded variables" for every target
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Don't use "simply expanded variables" for every target (#591)
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test
