Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci/prow/ci-index:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-unit-test:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

remove unused configmap
  pkg/bucket/aws.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove added internal methods from interface, passes more parameters
  go.mod
  pkg/bucket/aws.go
  pkg/bucket/azure.go
  pkg/bucket/client.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

azure wip
  api/v1alpha1/cloud_storage_types.go
  config/crd/bases/oadp.openshift.io_cloudstorages.yaml
  pkg/bucket/aws.go
  pkg/bucket/azure.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

indent
  pkg/bucket/client.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove wip azure.go
  pkg/bucket/azure.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add a unique owners file for tests/e2e
  tests/e2e/OWNERS
Due: none

Update README.md
  README.md
Due: none

address https://github.com/openshift/oadp-operator/pull/561#pullrequestreview-878255237
  api/v1alpha1/cloud_storage_types.go
  bundle/manifests/oadp.openshift.io_cloudstorages.yaml
  config/crd/bases/oadp.openshift.io_cloudstorages.yaml
  controllers/bsl.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding changes from ci-multi-cloud branch
  Makefile
  controllers/bsl.go
  controllers/registry.go
  pkg/credentials/credentials.go
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/kube_helpers.go
  tests/e2e/scripts/azure_setting.sh
  tests/e2e/scripts/gcp_settings.sh
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Updating flags in makefile
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update defaults
  Makefile
  tests/e2e/scripts/aws_settings.sh
  tests/e2e/scripts/azure_setting.sh
  tests/e2e/scripts/gcp_settings.sh
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fix helpers
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Cleaning up makefile
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update makefile
  Makefile
  config/manager/kustomization.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update kustomization
  config/manager/kustomization.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Cleaning up Makefile
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding changes for AWS CredentialFile
  Makefile
  config/manager/kustomization.yaml
  controllers/registry.go
  pkg/credentials/credentials.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Handling no default backuplocations
  tests/e2e/dpa_deployment_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Removing comments
  tests/e2e/e2e_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding config check in helpers
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fix AWS Test case
  tests/e2e/dpa_deployment_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fix basic review comments
  config/manager/kustomization.yaml
  tests/e2e/e2e_suite_test.go
  tests/e2e/lib/kube_helpers.go
  tests/e2e/utils/common_utils.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Multi cloud E2E Updates (#568)
  Makefile
  controllers/bsl.go
  controllers/registry.go
  pkg/credentials/credentials.go
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/kube_helpers.go
  tests/e2e/scripts/azure_setting.sh
  tests/e2e/scripts/gcp_settings.sh
  tests/e2e/subscription_suite_test.go
  tests/e2e/utils/common_utils.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add a unique owners file for tests/e2e (#567)
  tests/e2e/OWNERS
Due: none

aws cloudstorage bucket refactor (#561)
  api/v1alpha1/cloud_storage_types.go
  bundle/manifests/oadp.openshift.io_cloudstorages.yaml
  config/crd/bases/oadp.openshift.io_cloudstorages.yaml
  controllers/bsl.go
  go.mod
  go.sum
  pkg/bucket/aws.go
  pkg/bucket/client.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fixing Azure to run locally
  tests/e2e/e2e_suite_test.go
  tests/e2e/scripts/azure_settings.sh
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Aligning json
  tests/e2e/scripts/azure_settings.sh
Due: none

remove finalizers when delete is successful
  controllers/bucket_controller.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

E2E Tests: Fix azure templating name. (#573)
  tests/e2e/e2e_suite_test.go
  tests/e2e/scripts/azure_settings.sh
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Test
  README.md
Due: none

Delete bucket if annotation exist, add finalizer only if not deleting, create if not exist & no err
  controllers/bucket_controller.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

implemented removeKey outside Reconcile func
  controllers/bucket_controller.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add metrics recording rule
  bundle/manifests/oadp-metrics-recording-rule.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

add status descriptors to CSV
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/openshift-adp-controller-manager_v1_serviceaccount.yaml
  bundle/manifests/velero_v1_serviceaccount.yaml
  bundle/tests/scorecard/config.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

fix sdk version
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Makefile refactor `deploy-tmp` to `velero-role-tmp` expose `apply-velerosa-role`
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

hanged backup suite to be more generic & changed mssql app to mysql
  Makefile
  go.mod
  go.sum
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/lib/backup.go
  tests/e2e/lib/csi_helpers.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/kube_helpers.go
  tests/e2e/sample-applications/gp2-csi/volumeSnapshotClass.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-csi-template.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-template.yaml
  tests/e2e/scripts/aws_settings.sh
  tests/e2e/scripts/azure_settings.sh
  tests/e2e/scripts/gcp_settings.sh
  tests/e2e/utils/common_utils.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add metrics recording rule (#579)
  bundle/manifests/oadp-metrics-recording-rule.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile
