Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile

master: OADP-2377 Add mustgather registry image to relatedImage (#1135)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Adds kopia/restic uploader type
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  config/samples/oadp_v1alpha1_dpa.yaml
  controllers/dpa_controller.go
  controllers/nodeagent.go
  controllers/nodeagent_test.go
  controllers/validator.go
  controllers/validator_test.go
  controllers/velero.go
  docs/TROUBLESHOOTING.md
  docs/config/azure_plugin.md
  docs/config/bsl_and_vsl.md
  docs/config/custom_plugin_images.md
  docs/config/noobaa/install_oadp_noobaa.md
  docs/config/resource_req_limits.md
  docs/config/self_signed_certs.md
  docs/credentials.md
  docs/design/node_agent_config-design.md
  docs/examples/CSI/csi_example.md
  docs/examples/data_mover.md
  docs/examples/datamover_advanced_voloptions.md
  docs/examples/stateful.md
  docs/examples/stateless.md
  docs/install_olm.md
  docs/upgrade.md
  pkg/velero/server/config.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix: OADP-2139 remove old restic DaemonSet and old CRD
  controllers/dpa_controller.go
  controllers/validator.go
  docs/upgrade1-1.md
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-2094: RestoreResourcePriorities for OpenShift workloads with SecurityContextConstraints (#1132)
  api/v1alpha1/oadp_types.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Change restore order in AutoCorrect functionality
  api/v1alpha1/oadp_types.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Restore order update when restic:true
  controllers/validator.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Listing all the resources
  controllers/validator.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Remove code from validator
  api/v1alpha1/oadp_types.go
  controllers/validator.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add mustgather registry image to relatedImage (#1136)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

[oadp-1.2] OADP-2094: RestoreResourcePriorities for OpenShift workloads with SecurityContextConstraints (#1138)
  api/v1alpha1/oadp_types.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-2420: RestoreResourcePriorities for OpenShift workloads with SecurityContextConstraints
  api/v1alpha1/oadp_types.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add extra note for existing restore resource priority list
  docs/TROUBLESHOOTING.md
Due: none

fixup! fix: OADP-2139 remove old restic DaemonSet and old CRD
  controllers/validator.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-2420: RestoreResourcePriorities for OpenShift workloads with SecurityContextConstraints (#1140)
  api/v1alpha1/oadp_types.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixup! fix: OADP-2139 remove old restic DaemonSet and old CRD
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

OADP-2410: Manual workaround for restic restore failure due to changed PSA polic… (#1133)
  docs/TROUBLESHOOTING.md
Due: none

OADP-1057: CloudStorageLocation Prefix/CACert support (#1126)
  api/v1alpha1/cloud_storage_types.go
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/bsl.go
  controllers/bsl_test.go
  controllers/dpa_controller.go
  controllers/validator.go
  controllers/validator_test.go
  controllers/vsl.go
  controllers/vsl_test.go
  tests/e2e/lib/velero_helpers.go
  tests/e2e/lib/velero_helpers_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix: defaultPlugins validations (#1098)
  api/v1alpha1/cloud_storage_types.go
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

velero main rebase to topic branch, 7 Aug 2023 (#1121)
  bundle/manifests/velero.io_downloadrequests.yaml
  bundle/manifests/velero.io_restores.yaml
  config/crd/bases/velero.io_downloadrequests.yaml
  config/crd/bases/velero.io_restores.yaml
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci-Dockerfile chmod $(go env GOCACHE) (#1095)
  build/ci-Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

remove `builder AS test` (#1099)
  build/ci-Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

ci-Dockerfile: `git config core.filemode false` (#1096)
  build/ci-Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

use latest builder golang image (#1094)
  build/ci-Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

OADP-1057: CloudStorageLocation Prefix/CACert support (#1126) (#1141)
  api/v1alpha1/cloud_storage_types.go
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/bsl.go
  controllers/bsl_test.go
  controllers/dpa_controller.go
  controllers/validator.go
  controllers/validator_test.go
  controllers/vsl.go
  controllers/vsl_test.go
  tests/e2e/lib/velero_helpers.go
  tests/e2e/lib/velero_helpers_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix: OADP-2094 Always check restore resource priorities
  api/v1alpha1/oadp_types.go
  controllers/velero.go
  controllers/velero_test.go
  pkg/common/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixup! fix: OADP-2094 Always check restore resource priorities
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adds kopia/restic uploader type (#1102)
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  config/samples/oadp_v1alpha1_dpa.yaml
  controllers/dpa_controller.go
  controllers/nodeagent.go
  controllers/nodeagent_test.go
  controllers/validator.go
  controllers/validator_test.go
  controllers/velero.go
  docs/TROUBLESHOOTING.md
  docs/config/azure_plugin.md
  docs/config/bsl_and_vsl.md
  docs/config/custom_plugin_images.md
  docs/config/noobaa/install_oadp_noobaa.md
  docs/config/resource_req_limits.md
  docs/config/self_signed_certs.md
  docs/credentials.md
  docs/design/node_agent_config-design.md
  docs/examples/CSI/csi_example.md
  docs/examples/data_mover.md
  docs/examples/datamover_advanced_voloptions.md
  docs/examples/stateful.md
  docs/examples/stateless.md
  docs/install_olm.md
  docs/upgrade.md
  pkg/velero/server/config.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixup! fix: OADP-2094 Always check restore resource priorities
  controllers/velero.go
  controllers/velero_test.go
  pkg/common/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix: OADP-2094 Always check restore resource priorities
  api/v1alpha1/oadp_types.go
  controllers/velero.go
  controllers/velero_test.go
  pkg/common/common.go
  tests/e2e/must-gather_suite_test.go
  tests/e2e/utils/common_utils.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix: [oadp-1.1] OADP-2094 Always check restore resource priorities (#1143)
  api/v1alpha1/oadp_types.go
  controllers/velero.go
  controllers/velero_test.go
  pkg/common/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

velero main rebase to topic branch, 7 Aug 2023 (#1121)
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  bundle/manifests/velero.io_downloadrequests.yaml
  bundle/manifests/velero.io_restores.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/velero.io_downloadrequests.yaml
  config/crd/bases/velero.io_restores.yaml
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix: OADP-2094 Always check restore resource priorities (#1146)
  api/v1alpha1/oadp_types.go
  controllers/velero.go
  controllers/velero_test.go
  pkg/common/common.go
  tests/e2e/must-gather_suite_test.go
  tests/e2e/utils/common_utils.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-2505: Add additional types to default restore priorities
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/velero.go
  controllers/velero_test.go
  pkg/common/common.go
  pkg/velero/server/config.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix: README OCP versions for E2E tests
  README.md
Due: none
