Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci/prow/ci-index:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-unit-test:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Revert "Remove comments" in favor of Tiger's edit
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

New infrastructure annotation format (#1155)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

buildVeleroDeployment Unit-test client fix and typos
  controllers/velero.go
  controllers/velero_test.go
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

New infrastructure annotation format (#1155) (#1156)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Document workaround for combining must-gather options.
  must-gather/README.md
Due: none

Document workaround for combining must-gather options. (#1158)
  must-gather/README.md
Due: none

fixup! fix: Testing instructions
  Makefile
  docs/developer/testing/TESTING.md
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

implement GCP WIF support (#1112)
  controllers/dpa_controller.go
  controllers/velero.go
  controllers/velero_test.go
  pkg/client/client.go
  pkg/credentials/credentials.go
  pkg/credentials/credentials_test.go
  pkg/credentials/gcp.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixup! fix: Testing instructions
  Makefile
  docs/developer/testing/TESTING.md
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/e2e_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixup! fix: Testing instructions
  docs/developer/testing/TESTING.md
  tests/e2e/dpa_deployment_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixup! fix: Testing instructions
  Makefile
  docs/developer/testing/TESTING.md
  go.mod
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixup! fix: Testing instructions
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-1737: [oadp-1.2] Fix defaultl credentials logic
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

velero 1.12.0 release update
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-1737: [oadp-1.2] Fix defaultl credentials logic (#1159)
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-1737: [oadp-1.2] Fix defaultl credentials logic (#1163)
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

velero 1.12.0 release update (#1162)
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixup! fix: OADP-2139 remove old restic DaemonSet and old CRD
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/restic.go
  controllers/validator.go
  docs/upgrade1-1.md
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-2139: [oadp-1.2] remove old restic DaemonSet (#1137)
  controllers/dpa_controller.go
  controllers/restic.go
  docs/upgrade1-1.md
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix: CRD description of default restore resource priorities (#1151)
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/velero.go
  controllers/velero_test.go
  pkg/common/common.go
  pkg/velero/server/config.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix: Remove 1.1 CRD
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/dpa_controller.go
  controllers/restic.go
  docs/upgrade1-1.md
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-2745: Testing instructions for AWS/IBM Cloud (#1153)
  Makefile
  docs/developer/testing/TESTING.md
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/e2e_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix velero tags
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

version compliance with oadp release
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

fixup! Refactor shell code to Go
  docs/examples/getDataMoverResources.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix: Remove 1.1 daemonset
  controllers/dpa_controller.go
  controllers/nodeagent.go
  docs/upgrade_1-1_to_1-2.md
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixup! fix: Remove 1.1 CRD
  controllers/restic.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Apply suggestions from code review
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

update for `make bundle`
  Makefile
  config/manager/kustomization.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add skipRange and replaces
  Makefile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix: Remove 1.1 daemonset (#1167)
  controllers/dpa_controller.go
  controllers/nodeagent.go
  docs/upgrade_1-1_to_1-2.md
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Move replaces to spec
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

oadp-1.1: Fix oadp operator image tag (#1165)
  Makefile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add pvc configs for use of default storage class
  tests/e2e/sample-applications/mongo-persistent/pvc/default_sc.yaml
  tests/e2e/sample-applications/mysql-persistent/pvc-twoVol/default_sc.yaml
  tests/e2e/sample-applications/mysql-persistent/pvc/default_sc.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

add note in testing instructions
  docs/developer/testing/TESTING.md
Due: none

add pvc configs for use of default storage class (#1168)
  docs/developer/testing/TESTING.md
  tests/e2e/sample-applications/mongo-persistent/pvc/default_sc.yaml
  tests/e2e/sample-applications/mysql-persistent/pvc-twoVol/default_sc.yaml
  tests/e2e/sample-applications/mysql-persistent/pvc/default_sc.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

oadp-1.2: Correct operator name in bundle to oadp-operator.v1.2.2 (#1166)
  Makefile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-659 Remove port numbers if HTTP or HTTPS.
  controllers/bsl.go
  pkg/bucket/aws.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile
