Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci/prow/ci-index:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-unit-test:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

add "blob unknown" to failure log ignore
  tests/e2e/lib/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

disable backupImages for GCP provider
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add import b/r entry name clarification update
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-205: Remove registry deployment in favor of plugin enhancement (#743)
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
  controllers/registry.go
  controllers/registry_test.go
  controllers/velero.go
  controllers/velero_test.go
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/velero_helpers.go
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update test owners file
  tests/e2e/OWNERS
Due: none

update-dm-plugin-image
  pkg/common/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove csi main image usage
  pkg/common/common.go
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update CSI Datamover plugin image (#756)
  pkg/common/common.go
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update volumesnapshotrestore CRD
  config/crd/bases/datamover.oadp.openshift.io_volumesnapshotrestores.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

add deletecollections
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

adding func to accomodate different s3 url style
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update volumesnapshotrestore CRD (#757)
  config/crd/bases/datamover.oadp.openshift.io_volumesnapshotrestores.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

add sc name and vsclass name to vsb/vsr crds
  bundle/manifests/datamover.oadp.openshift.io_volumesnapshotbackups.yaml
  bundle/manifests/datamover.oadp.openshift.io_volumesnapshotrestores.yaml
  config/crd/bases/datamover.oadp.openshift.io_volumesnapshotbackups.yaml
  config/crd/bases/datamover.oadp.openshift.io_volumesnapshotrestores.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

add deletecollections (#758)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

minor updates
  bundle/manifests/datamover.oadp.openshift.io_volumesnapshotbackups.yaml
  bundle/manifests/datamover.oadp.openshift.io_volumesnapshotrestores.yaml
  config/crd/bases/datamover.oadp.openshift.io_volumesnapshotbackups.yaml
  config/crd/bases/datamover.oadp.openshift.io_volumesnapshotrestores.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

return volsync not found err
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add sc name and vsclass name to vsb/vsr crds (#759)
  bundle/manifests/datamover.oadp.openshift.io_volumesnapshotbackups.yaml
  bundle/manifests/datamover.oadp.openshift.io_volumesnapshotrestores.yaml
  config/crd/bases/datamover.oadp.openshift.io_volumesnapshotbackups.yaml
  config/crd/bases/datamover.oadp.openshift.io_volumesnapshotrestores.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

add vol-snap-mover to related images
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

adding insecure tls suuport
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_logs
  must-gather/collection-scripts/logs/gather_logs_backup
  must-gather/collection-scripts/logs/gather_logs_restore
Due: none

post-restore script for restores with DCs and defaultVolumesToRestic
  docs/scripts/dc-restic-post-restore.sh
Due: none

add vol-snap-mover to related images (#761)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

add privileged pod security labels to operator ns
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  main.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

rectify operator permissions
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

make vsm relatedImage name consistent
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

OADP-600: Validate volsync install for data mover (#752)
  controllers/datamover.go
  pkg/common/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

rectify operator permissions (#764)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Adding tls support script
  must-gather/Dockerfile
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_with_tls
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

adding tls skip support to velero describe backup/restore'
  must-gather/collection-scripts/logs/gather_logs_backup
  must-gather/collection-scripts/logs/gather_logs_restore
Due: none

Adding make bundle changes
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Adding make bundle crd changes
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

update storageclass apigroup in csv
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

update dpa api reference to include datamover
  docs/API_ref.md
Due: none

update dpa api reference to include datamover (#767)
  docs/API_ref.md
Due: none

Changing restic secret name to dm-credential
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding docs for insecure tls support
  must-gather/README.md
Due: none

adding api changes
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

make vsm relatedImage name consistent (#765)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

update storageclass apigroup in csv (#766)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Move DM restic secret creation to reconcile batch and add other review feedback
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/datamover.go
  controllers/dpa_controller.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

adding DM feature conditional
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile
