Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile

CI run use uuid preifx (#383)
  tests/e2e/e2e_suite_test.go
  tests/e2e/install_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

local relative url fix (#378)
  docs/API_ref.md
Due: none

Update namespace in CSV file (#365)
  deploy/olm-catalog/bundle/manifests/oadp-operator.v99.0.0.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Add conditions design doc (#270)
  docs/design/conditions.md
Due: none

fix custom plugin name (#387)
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding minor change to local dev environment docs (#359)
  docs/developer/local_dev.md
Due: none

Mention velero version explicitly in CR example, linked api reference. (#374)
  docs/API_ref.md
  docs/upgrade.md
Due: none

create a pattern for correctly reconciling with immutable fields
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add --no-default-backup-location (#380)
  api/v1alpha1/velero_types.go
  config/crd/bases/oadp.openshift.io_veleroes.yaml
  controllers/bsl.go
  controllers/bsl_test.go
  docs/API_ref.md
  tests/e2e/install_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

typos
  docs/API_ref.md
Due: none

typos (#392)
  docs/API_ref.md
Due: none

create a pattern for correctly reconciling with immutable fields (#391)
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

wait for registry deployments to be available
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/registry_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

installCase waits for registryDeployment
  tests/e2e/install_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

adding docs for custom plugin images
  README.md
  docs/config/custom_plugin_images.md
Due: none

e2e: dump conditions, and velero pod log errors (#381)
  tests/e2e/apps.go
  tests/e2e/backup.go
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/install_suite_test.go
  tests/e2e/registry_helpers.go
  tests/e2e/restore.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

timeout multiplier
  Makefile
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/install_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

registry_helpers deploymentList length check
  tests/e2e/registry_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Different error for 0 deployment vs unready
  tests/e2e/registry_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add operator labels
  controllers/bsl.go
  controllers/bsl_test.go
  controllers/registry.go
  controllers/registry_test.go
  controllers/restic.go
  controllers/restic_test.go
  controllers/velero.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add operator labels (#397)
  controllers/bsl.go
  controllers/bsl_test.go
  controllers/registry.go
  controllers/registry_test.go
  controllers/restic.go
  controllers/restic_test.go
  controllers/velero.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

E2E Fix registry_helpers deployment check (#396)
  tests/e2e/registry_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

prevent terminating namespace error when looping on 1 test
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Increase liveness and readiness probe delays
  deploy/olm-catalog/bundle/manifests/oadp-operator.v99.0.0.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Update CSV for 0.4.0 release
  deploy/olm-catalog/bundle/manifests/oadp-operator.v0.4.0.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Add startupProbe for long cache startup
  config/manager/manager.yaml
  deploy/olm-catalog/bundle/manifests/oadp-operator.v99.0.0.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Add startupProbe for long cache startup (#401)
  config/manager/manager.yaml
  deploy/olm-catalog/bundle/manifests/oadp-operator.v99.0.0.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Update velero version matrix
  README.md
Due: none

Update velero version matrix (#402)
  README.md
Due: none

timeout multiplier (#393)
  Makefile
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/install_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update OLM Velero CRD
  deploy/olm-catalog/bundle/manifests/veleroes.crd.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

remove ---
  deploy/olm-catalog/bundle/manifests/veleroes.crd.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Update OLM Velero CRD (#403)
  deploy/olm-catalog/bundle/manifests/veleroes.crd.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Update CSV for 0.4.0 release (#400)
  deploy/olm-catalog/bundle/manifests/oadp-operator.v0.4.0.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

snapshotLocation typo
  controllers/vsl.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

snapshotLocation typo (#404)
  controllers/vsl.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Using the existing plugin maps
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Remove noobaa flag
  api/v1alpha1/velero_types.go
  controllers/bsl.go
  controllers/bsl_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

updated manifest
  config/crd/bases/oadp.openshift.io_veleroes.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e
