Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci/prow/ci-index:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-unit-test:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

e2e retries CreateOrUpdate on DPA to resolve "... please apply your changes to the latest version ..." (#653)
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

replace the parks-app with todolist on mongo (#649)
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/sample-applications/deprecated/parks-app/manifest.yaml
  tests/e2e/sample-applications/deprecated/parks-app/manifest4.8.yaml
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-csi-template.yaml
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

restic only mount secretVolume if NoDefaultBackupLocation is found.
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

go fmt
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

CLUSTER_TYPE auto discovery
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

go fmt
  controllers/registry_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove else
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update tests/e2e/backup_restore_suite_test.go
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update Makefile
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

address https://github.com/openshift/oadp-operator/pull/664/files#r864759600 feedback
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix OADP-487
  controllers/restic_test.go
  controllers/velero.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

rebase and fix unit tests
  controllers/registry_test.go
  controllers/velero_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fix OADP-487 (#667)
  controllers/registry_test.go
  controllers/restic_test.go
  controllers/velero.go
  controllers/velero_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

deploy-olm make target uses tmp to avoid modifying repo
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

rm before mkdir, move comments away from commands.
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix-OADP-487-for-oadp-1.0.0
  controllers/restic_test.go
  controllers/velero.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Reduce "perform updated on X ..." reconciler logs (#584)
  controllers/restic.go
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-378 cherry-pick 1.0
  Makefile
  controllers/bucket_controller.go
  controllers/registry.go
  controllers/registry_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix-OADP-487-for-oadp-1.0.0 (#670)
  controllers/restic_test.go
  controllers/velero.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP 486 - Update velero service account permissions
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/velero/velero-role.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Add back velero-privileged
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

OADP-378 cherry-pick 1.0 (#672)
  Makefile
  controllers/bucket_controller.go
  controllers/registry.go
  controllers/registry_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Reduce "perform updated on X ..." reconciler logs (#584) (#671)
  controllers/restic.go
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

bump version table, issue template (#663)
  .github/ISSUE_TEMPLATE/bug_report.yaml
  README.md
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Add #643 to step 3 restic DC troubleshooting (#656)
  docs/TROUBLESHOOTING.md
Due: none

Update upstream kubevirt tag in manager deployment env, preserve #611 changes in config (#615)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

OADP-329 - velero loglevel feature flag (#588)
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/velero.go
  controllers/velero_test.go
  docs/API_ref.md
  go.mod
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Use expanded variable DEPLOY_TMP
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add cache to .gitignore
  .gitignore
Due: none

Bring back `component: velero` label (#638)
  controllers/bsl.go
  controllers/monitor.go
  controllers/registry.go
  controllers/restic.go
  controllers/velero.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

label diff for "given valid DPA CR, appropriate velero deployment is build with aws plugin specific specs"
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix missing err return for updateRegistrySecret function
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding checks for mongo with todolist
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/lib/apps.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add catalog-build-replaces
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP 486 - Update velero service account permissions (#673)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/velero/velero-role.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Update upstream kubevirt tag in manager deployment env, preserve #611 changes in config (#615) (#675)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

OADP-329 - velero loglevel feature flag (#588) (#676)
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/velero.go
  controllers/velero_test.go
  docs/API_ref.md
  go.mod
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Cherry-pick 1.0 OADP-452, OADP-458: Bring back component: velero label (#638) (#677)
  controllers/bsl.go
  controllers/monitor.go
  controllers/registry.go
  controllers/restic.go
  controllers/velero.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile
