Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci/prow/ci-index:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-unit-test:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

troubleshoot docs update
  TROUBLESHOOTING.md
Due: none

Add Travis multiarch build
  .travis-build-image.sh
  .travis-push-manifest.sh
  .travis.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Add Travis multiarch build (#431)
  .travis-build-image.sh
  .travis-push-manifest.sh
  .travis.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

CSI Backrestore E2E test
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/sample-applications/mssql-persistent/mssql-persistent-csi-template.yaml
  tests/e2e/sample-applications/mssql-persistent/volumeSnapshotClass.yaml
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

adding more test cases and cleanup
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update docs for TLS config typo and note for BSL/VSL default profile warnings (#423)
  docs/config/bsl_and_vsl.md
  docs/config/noobaa/install_oadp_noobaa.md
  docs/config/self_signed_certs.md
Due: none

Ignore macos `.DS_Store` (#426)
  .gitignore
Due: none

Add progressing condition
  api/v1alpha1/velero_types.go
  controllers/bsl.go
  controllers/bsl_test.go
  controllers/registry.go
  controllers/restic.go
  controllers/velero.go
  controllers/velero_controller.go
  controllers/velero_test.go
  controllers/vsl.go
  controllers/vsl_test.go
  tests/e2e/apps.go
  tests/e2e/install_suite_test.go
  tests/e2e/registry_helpers.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Addressing review feedback
  tests/e2e/e2e_suite_test.go
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Rebase master
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

go mod tidy
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Changes for multi cloud
  Makefile
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/install_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding s3 pre configure
  Makefile
  go.mod
  go.sum
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/install_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding cloud creds from CI
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Checking for install case
  tests/e2e/install_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Removing aws helpers
  Makefile
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/install_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Correcting credentials
  tests/e2e/install_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Renaming cred and bucket
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Modifying for backup restore
  tests/e2e/install_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding vsl region
  Makefile
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/install_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Writing credentials to a new file
  tests/e2e/common.go
  tests/e2e/install_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding new line
  tests/e2e/install_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding vel credentials
  tests/e2e/install_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding error handling
  tests/e2e/install_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Pushing changes
  Makefile
  tests/e2e/e2e_suite_test.go
  tests/e2e/install_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Cleaning up
  tests/e2e/e2e_suite_test.go
  tests/e2e/install_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Moving create credentials to before suite
  tests/e2e/install_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding different instance name for br
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/install_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update image refs in csv
  deploy/olm-catalog/bundle/manifests/oadp-operator.v99.0.0.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Reverting rename
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/install_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding bsl profile to e2e test suite
  tests/e2e/install_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding profile for BSL in registry
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding RegistryStorageS3RegionEnvVarKey to cloudProviderEnvVarMap
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding RegistryStorageS3RegionEnvVarKey to cloudProviderEnvVarMap in UT
  controllers/registry_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Make travis scripts executable
  .travis-build-image.sh
  .travis-push-manifest.sh
Due: none

code refactoring and, Postbackup-restore varify for MSSQL
  tests/e2e/apps.go
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/sample-applications/gp2-csi/volumeSnapshotClass.yaml
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Make travis scripts executable (#436)
  .travis-build-image.sh
  .travis-push-manifest.sh
Due: none

Install_suite e2e Refractor (#428)
  tests/e2e/e2e_suite_test.go
  tests/e2e/install_suite_test.go
  tests/e2e/plugins_helpers.go
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Convert OADP operator to a namespace scoped operator (#427)
  config/manager/manager.yaml
  deploy/olm-catalog/bundle/manifests/oadp-operator.v99.0.0.clusterserviceversion.yaml
  main.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile
