Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile

Remove duplicate default plugins (#555)
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Updates for 0.5.6 bundle
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

change mtc-oadp-upgrade fix workflow
  controllers/dpa_controller.go
  controllers/restic.go
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update install instructions in examples
  docs/config/bsl_and_vsl.md
  docs/examples/csi_example.md
  docs/examples/stateful.md
  docs/examples/stateless.md
Due: none

Update travis goproxy (#553)
  .travis.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Uses regex volumeSnapshots([:\.]+) replace with snapshotLocations$1
  docs/config/bsl_and_vsl.md
  docs/config/custom_plugin_images.md
  docs/config/self_signed_certs.md
  docs/credentials.md
  docs/examples/stateful.md
  docs/install_olm.md
  docs/upgrade.md
Due: none

Uses regex volumeSnapshots([:\.]+) replace with snapshotLocations$1 (#558)
  docs/config/bsl_and_vsl.md
  docs/config/custom_plugin_images.md
  docs/config/self_signed_certs.md
  docs/credentials.md
  docs/examples/stateful.md
  docs/install_olm.md
  docs/upgrade.md
Due: none

upgraded ginkgo on tests to ginkgo 2.0
  Makefile
  build/ci-Dockerfile
  build/custom-ci-Dockerfile
  docs/developer/TESTING.md
  go.mod
  go.sum
  tests/e2e/apps.go
  tests/e2e/backup.go
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/restore.go
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Ignore the temporary yaml files created as part of processing in templates dir
  .gitignore
Due: none

Required dependencies for yaml templating in tests
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Rebased with master
  go.mod
  go.sum
  tests/e2e/common.go
  tests/e2e/dpa_helpers.go
  tests/e2e/templates/dpa_template.tmpl
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Test to demonstrate working of yaml templating feature
  tests/e2e/velero_yaml_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Updated template to basic bsl format
  tests/e2e/templates/velero_bsl_template.tmpl
Due: none

Updated template as per API v1 rewrite
  tests/e2e/templates/velero_bsl_template.tmpl
Due: none

Added template for velero custom resource definition yaml having one bsl
  tests/e2e/templates/velero_bsl_template.tmpl
Due: none

Updated tests to read dynamic test data
  tests/e2e/velero_yaml_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Added yaml dpa spec as dpa custom resource
  tests/e2e/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Updated the reference to dpa custom resource
  tests/e2e/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Rebase with master
  tests/e2e/velero_yaml_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Rebased with master
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add upgrade MTC-OADP integration upgrade steps
  docs/developer/MTC_OADP_Upgrade.md
Due: none

fix typo
  docs/developer/MTC_OADP_Upgrade.md
Due: none

fix typo2
  docs/developer/MTC_OADP_Upgrade.md
Due: none

Refactored changes to accomdate package structuring
  .gitignore
  go.mod
  go.sum
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/lib/apps.go
  tests/e2e/lib/backup.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/kube_helpers.go
  tests/e2e/lib/plugins_helpers.go
  tests/e2e/lib/registry_helpers.go
  tests/e2e/lib/restic_helpers.go
  tests/e2e/lib/restore.go
  tests/e2e/lib/subscription_helpers.go
  tests/e2e/subscription_suite_test.go
  tests/e2e/templates/dpa_template.tmpl
  tests/e2e/utils/common_utils.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Removed commented code
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/kube_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

KubeVirt Plugin
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
  pkg/common/common.go
  pkg/credentials/credentials.go
  pkg/credentials/credentials_test.go
  tests/e2e/common.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/e2e_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add kubevirt to defaultPlugins used in e2e
  tests/e2e/templates/default_settings.json
Due: none

add kubevirt to alm-examples
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/samples/oadp_v1alpha1_dpa.yaml
  pkg/credentials/credentials_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

switched to konveyor
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
  pkg/common/common.go
  pkg/credentials/credentials_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

set ENV
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

remove redundant entry. Already added plugin to settings.json
  tests/e2e/dpa_deployment_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

KubeVirt Default Image (#563)
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
  config/samples/oadp_v1alpha1_dpa.yaml
  pkg/common/common.go
  pkg/credentials/credentials.go
  pkg/credentials/credentials_test.go
  tests/e2e/common.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/templates/default_settings.json
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Added CSI Example to Docs (#554)
  README.md
  docs/config/bsl_and_vsl.md
  docs/examples/csi_example.md
  docs/examples/manifests/mssql/VolumeSnapshotClass.yaml
  docs/examples/manifests/mssql/csi-mssql-template.yaml
  docs/examples/manifests/mssql/mssql-backup.yaml
  docs/examples/manifests/mssql/mssql-restore.yaml
  docs/examples/manifests/mssql/mssql-template.yaml
  docs/examples/manifests/nginx/nginx-deployment.yaml
  docs/examples/manifests/nginx/nginx-stateless-backup.yaml
  docs/examples/manifests/nginx/nginx-stateless-restore.yaml
  docs/examples/stateless.md
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

upgraded ginkgo on tests to ginkgo 2.0 (#560)
  Makefile
  build/ci-Dockerfile
  build/custom-ci-Dockerfile
  docs/developer/TESTING.md
  go.mod
  go.sum
  tests/e2e/apps.go
  tests/e2e/backup.go
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/restore.go
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Removed yaml templating changes and fixed ginkgo version2 errors for test run
  go.mod
  go.sum
  tests/e2e/lib/apps.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/kube_helpers.go
  tests/e2e/templates/dpa_template.tmpl
  tests/e2e/utils/common_utils.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

minor fixes
  docs/developer/MTC_OADP_Upgrade.md
Due: none

New structural changes to test repo (#531)
  .gitignore
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/lib/apps.go
  tests/e2e/lib/backup.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/kube_helpers.go
  tests/e2e/lib/plugins_helpers.go
  tests/e2e/lib/registry_helpers.go
  tests/e2e/lib/restic_helpers.go
  tests/e2e/lib/restore.go
  tests/e2e/lib/subscription_helpers.go
  tests/e2e/subscription_suite_test.go
  tests/e2e/utils/common_utils.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add upgrade MTC-OADP integration upgrade steps (#562)
  docs/developer/MTC_OADP_Upgrade.md
Due: none

Add e2e-stage directory for weekly periodic
  Makefile
  tests/e2e-stage/OWNERS
  tests/e2e-stage/README.MD
  tests/e2e-stage/backup_restore_suite_test.go
  tests/e2e-stage/dpa_deployment_suite_test.go
  tests/e2e-stage/e2e_suite_test.go
  tests/e2e-stage/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

aws cloudstorage bucket refactor
  api/v1alpha1/cloud_storage_types.go
  controllers/bsl.go
  go.mod
  go.sum
  pkg/bucket/aws.go
  pkg/bucket/client.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test
