Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile

Timeout for must-gather failed backups (#497)
  must-gather/README.md
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_logs
  must-gather/collection-scripts/logs/gather_logs_backup
  must-gather/collection-scripts/logs/gather_logs_restore
  must-gather/collection-scripts/time_window_gather/gather_with_timeout
Due: none

updaye csv
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

update alm-examples
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

fix perms
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Remove vsphere env vars
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

remove VSPHERE env configs for csv
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

remove VSPHERE env configs for csv (#512)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

update troubleshooting doc (#509)
  TROUBLESHOOTING.md
Due: none

add deploy-tmp-cleanup
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding review comments
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Remove: logging sensitive info
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding support for service principal credential for Azure plugin (#507)
  controllers/registry.go
  controllers/registry_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

make deploy velero namespace fix (#506)
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding Azure SP related doc
  docs/config/azure_plugin.md
Due: none

Fixing title
  docs/config/azure_plugin.md
Due: none

Fixing nit
  docs/config/azure_plugin.md
Due: none

fix aws registry env vars
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix aws registry env vars (#515)
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Azure SP docs (#514)
  docs/config/azure_plugin.md
Due: none

adding negative error testing to e2e test suite
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/plugins_helpers.go
  tests/e2e/registry_helpers.go
  tests/e2e/restic_helpers.go
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

updating functions to get tests to run
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-153, Close #424
  api/v1alpha1/oadp_types.go
  controllers/bsl.go
  controllers/bsl_test.go
  controllers/registry.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/velero_deployment_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Registry should not be deployed when Azure SP is used
  api/v1alpha1/oadp_types.go
  controllers/bsl.go
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Nil restic Config should delete previous restic daemonset
  controllers/restic.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fixing unit tests
  controllers/bsl_test.go
  controllers/registry_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

only check restic config if it is not nil
  tests/e2e/velero_deployment_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding review comments
  api/v1alpha1/oadp_types.go
  controllers/bsl.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fixing typos
  controllers/bsl.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

installCase wantError implement
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding registry label to BSL
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Make err more verbose
  controllers/bsl.go
  tests/e2e/velero_deployment_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

commit metav1
  tests/e2e/velero_deployment_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Updating azure credentials documentation
  docs/config/azure_plugin.md
Due: none

Registry should not be deployed when Azure SP is used (#518)
  api/v1alpha1/oadp_types.go
  controllers/bsl.go
  controllers/bsl_test.go
  controllers/registry.go
  controllers/registry_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Updating azure credentials documentation (#519)
  docs/config/azure_plugin.md
Due: none

Changes for BackupImages considerations
  api/v1alpha1/oadp_types.go
  controllers/bsl.go
  controllers/bsl_test.go
  controllers/registry.go
  tests/e2e/velero_deployment_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fake client fix
  controllers/bsl_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

AWS plugin config: BSL Region not required when s3ForcePathStyle is false and BackupImages is false (#517)
  api/v1alpha1/oadp_types.go
  controllers/bsl.go
  controllers/bsl_test.go
  controllers/registry.go
  controllers/restic.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Bundle update for 0.5.3
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

removed vsphere from source manager config
  config/manager/manager.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e
