Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci/prow/ci-index:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-unit-test:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

oadp-1.2: e2e: Add restore warning and in-cluster version to errorIgnorePatterns (#1198)
  tests/e2e/lib/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-2767: Upgrade: Remove unbreaking references to VSM/Volsync DataMover (#1171)
  Makefile
  README.md
  api/v1alpha1/oadp_types.go
  blogs/data-mover/data-mover-1.2.0-overview.md
  blogs/data-mover/data-mover-overview.md
  bundle/manifests/datamover.oadp.openshift.io_volumesnapshotbackups.yaml
  bundle/manifests/datamover.oadp.openshift.io_volumesnapshotrestores.yaml
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/datamover.oadp.openshift.io_volumesnapshotbackups.yaml
  config/crd/bases/datamover.oadp.openshift.io_volumesnapshotrestores.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/datamover.go
  controllers/datamover_test.go
  controllers/dpa_controller.go
  controllers/validator.go
  controllers/validator_test.go
  controllers/velero.go
  deploy/disconnected-prep.sh
  docs/TROUBLESHOOTING.md
  docs/config/plugins.md
  docs/credentials.md
  docs/examples/data_mover.md
  docs/oadp_cheat_sheet.md
  docs/restic_troubleshooting.md
  docs/upgrade_1-2_to_1-3.md
  must-gather/collection-scripts/gather_versions
  pkg/common/common.go
  pkg/credentials/credentials.go
  pkg/credentials/credentials_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-2988 Fix CVE-2023-45142 otelhttp
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

WIP: Update the upgrade instructions
  docs/install_olm.md
  docs/upgrade_1-1_to_1-2.md
  docs/upgrade_1-2_to_1-3.md
Due: none

fix: dc post restore script logic to delete disconnected pods
  docs/scripts/dc-post-restore.sh
Due: none

OADP-2988 Fix CVE-2023-45142 otelhttp (#1207)
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update OADP Readme to point to proper product docs
  README.md
Due: none

fix: dc post restore script logic to delete disconnected pods (#1209)
  docs/scripts/dc-post-restore.sh
Due: none

update to latest vs. versioned url
  README.md
Due: none

remove duplicate link to production docs
  README.md
Due: none

update the text for the official doc
  README.md
Due: none

make things a little cleaner, easier to read
  docs/upgrade_1-1_to_1-2.md
  docs/upgrade_1-2_to_1-3.md
Due: none

address comments
  docs/upgrade_1-2_to_1-3.md
Due: none

fix: make test command succeeds locally (#1184)
  Makefile
  controllers/bsl_test.go
  controllers/validator.go
  controllers/validator_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixup! fix: One kubernetes client per E2E suite run
  tests/e2e/lib/subscription_helpers.go
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix: One kubernetes client per E2E suite run
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/lib/apps.go
  tests/e2e/lib/backup.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/kube_helpers.go
  tests/e2e/lib/nodeagent_helpers.go
  tests/e2e/lib/plugins_helpers.go
  tests/e2e/lib/registry_helpers.go
  tests/e2e/lib/restore.go
  tests/e2e/lib/subscription_helpers.go
  tests/e2e/lib/velero_helpers.go
  tests/e2e/must-gather_suite_test.go
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixup! fix: One kubernetes client per E2E suite run
  Makefile
  docs/developer/testing/TESTING.md
  tests/e2e/e2e_suite_test.go
  tests/e2e/lib/apps.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/kube_helpers.go
  tests/e2e/lib/nodeagent_helpers.go
  tests/e2e/lib/plugins_helpers.go
  tests/e2e/lib/registry_helpers.go
  tests/e2e/lib/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update README.md
  README.md
Due: none

fix TOC link
  README.md
Due: none

[OADP-2959] Add missing descriptions to all CRDs
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

address addtional comments
  docs/upgrade_1-1_to_1-2.md
  docs/upgrade_1-2_to_1-3.md
Due: none

update yaml format
  docs/upgrade_1-2_to_1-3.md
Due: none

vsc label is still required
  docs/upgrade_1-2_to_1-3.md
Due: none

Update OADP Readme to point to proper product docs (#1210)
  README.md
Due: none

Update the upgrade instructions (#1208)
  docs/install_olm.md
  docs/upgrade_1-1_to_1-2.md
  docs/upgrade_1-2_to_1-3.md
Due: none

fixup! fix: One kubernetes client per E2E suite run
  tests/e2e/e2e_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

[OADP-2959] Add missing descriptions to all CRDs (#1200)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Remove VSB and VSR from OADP 1.3+
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
  docs/API_ref.md
  docs/examples/datamover_resources.sh
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

[oadp-1.2] [OADP-2959] Add missing descriptions to all CRDs (#1200)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Update dpa args fs-backup-timeout default to match velero
  Makefile
  api/v1alpha1/oadp_types.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

[oadp-1.2] [OADP-2959] Add missing descriptions to all CRDs (#1200) (#1213)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Remove VSB and VSR from OADP 1.3+ (#1212)
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
  docs/API_ref.md
  docs/examples/datamover_resources.sh
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

fix: Remove unused code in OADP 1.2
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

fix: Remove unused code in OADP 1.2 (#1217)
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

do not touch format_data unless formated
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-block.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Fix DPA reconcile on empty BSL secret name and key
  controllers/validator.go
  controllers/validator_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

WIP: first pass at an updated OADP-1.3.0 DM blog post
  blogs/data-mover/backup-13-workflow.png
  blogs/data-mover/data-mover-1.3.0-overview.md
  blogs/data-mover/data-mover-13-backup-sequence.png
  blogs/data-mover/restore-13-workflow.png
Due: none

OADP-3054: BSL default configuration validation
  controllers/bsl.go
  controllers/bsl_test.go
  controllers/validator_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-3054: BSL default configuration validation (#1220)
  controllers/bsl.go
  controllers/bsl_test.go
  controllers/validator_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix: One kubernetes client per E2E suite run (#1205)
  Makefile
  docs/developer/testing/TESTING.md
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/lib/apps.go
  tests/e2e/lib/backup.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/kube_helpers.go
  tests/e2e/lib/nodeagent_helpers.go
  tests/e2e/lib/plugins_helpers.go
  tests/e2e/lib/registry_helpers.go
  tests/e2e/lib/restore.go
  tests/e2e/lib/subscription_helpers.go
  tests/e2e/lib/velero_helpers.go
  tests/e2e/must-gather_suite_test.go
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile
