Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci/prow/ci-index:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-unit-test:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

s/Adding AWS plugin/Provider plugin/
  tests/e2e/dpa_deployment_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

oadp-1.0: OADP-812 Reduce logging after reconciled is reached. (#842)
  controllers/bsl.go
  controllers/common.go
  controllers/monitor.go
  controllers/monitor_test.go
  controllers/registry.go
  controllers/restic.go
  controllers/restic_test.go
  controllers/restore_resource_version_priority.go
  controllers/velero.go
  controllers/velero_test.go
  controllers/vsl.go
  docs/API_ref.md
  go.mod
  go.sum
  pkg/common/common.go
  pkg/credentials/credentials.go
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/kube_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

oadp-1.1: OADP-812 Reduce logging after reconciled is reached. (#841)
  controllers/bsl.go
  controllers/common.go
  controllers/datamover.go
  controllers/monitor.go
  controllers/monitor_test.go
  controllers/registry.go
  controllers/restic.go
  controllers/restic_test.go
  controllers/restore_resource_version_priority.go
  controllers/velero.go
  controllers/velero_test.go
  controllers/vsl.go
  go.mod
  go.sum
  pkg/common/common.go
  pkg/credentials/credentials.go
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/kube_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

master: OADP-812 Reduce logging after reconciled is reached. (#843)
  controllers/bsl.go
  controllers/common.go
  controllers/datamover.go
  controllers/monitor.go
  controllers/monitor_test.go
  controllers/registry.go
  controllers/restic.go
  controllers/restic_test.go
  controllers/restore_resource_version_priority.go
  controllers/velero.go
  controllers/velero_test.go
  controllers/vsl.go
  go.mod
  go.sum
  pkg/common/common.go
  pkg/credentials/credentials.go
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/kube_helpers.go
  tests/e2e/lib/subscription_helpers.go
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Makefile automate operator-sdk installation
  Makefile
  build/Dockerfile.bundle
  bundle.Dockerfile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

pin yq to 4.28.1 for go 1.17
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Preserve DPA nullables for `make test`
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

address oadp-1.0.z with ocp 4.11 csi compatibility issue
  controllers/validator.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove version info logs
  controllers/validator.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove redundant plugin loop
  controllers/validator.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update validation error message
  controllers/validator.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-823: Address oadp-1.0.z with ocp 4.11 csi compatibility issue (#848)
  controllers/validator.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update manual-gather-crs.sh
  must-gather/manual-gather-crs.sh
Due: none

unit test for oadp-1.0 csi plugin cluster version validation
  controllers/dpa_controller.go
  controllers/validator.go
  controllers/validator_test.go
  main.go
  pkg/scheme/scheme.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Auto Format: 'go mod tidy'
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

setup go cache
  .github/workflows/go-autoformat.yml
  .github/workflows/go-tests.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

split into two commits & pushes for fmt and tidy.
  .github/workflows/go-autoformat.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Display and error on git diff
  .github/workflows/go-autoformat.yml
  .github/workflows/go-check.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

rename path to go-check
  .github/workflows/go-check.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

rename jobs to go-check
  .github/workflows/go-check.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

cache key change
  .github/workflows/go-check.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

use different cache restore key to go-test
  .github/workflows/go-autoformat.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

key update, don't fail job if has nothing to commit. push only if commit successfully.
  .github/workflows/go-autoformat.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

force commits before merge to be tidy & formatted.
  .github/workflows/go-autoformat.yml
  .github/workflows/go-tests.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Auto Format: 'go fmt ./...'
  api/v1alpha1/groupversion_info.go
  controllers/datamover.go
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

key update
  .github/workflows/go-autoformat.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

correct path workflow trigger
  .github/workflows/go-autoformat.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

replace ticks to `'`
  .github/workflows/go-autoformat.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

add precommit to makefile
  Makefile
  go.sum
  tests/e2e/dpa_deployment_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-823 unit test for oadp-1.0 csi plugin cluster version validation (#850)
  controllers/dpa_controller.go
  controllers/validator.go
  controllers/validator_test.go
  main.go
  pkg/scheme/scheme.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-642: spec field descriptions in web console matches yaml case. (#836)
  api/v1alpha1/cloud_storage_types.go
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_cloudstorages.yaml
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_cloudstorages.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove trailing backticks
  api/v1alpha1/cloud_storage_types.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove backticks
  api/v1alpha1/cloud_storage_types.go
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_cloudstorages.yaml
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_cloudstorages.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

CRD Camel Case
  api/v1alpha1/cloud_storage_types.go
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_cloudstorages.yaml
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_cloudstorages.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add datamover gcp support
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Ensure go mod matches ginkgo bin installed
  build/ci-Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

[oadp-1.1] OADP-642: spec field descriptions in web console matches yaml case. (#851)
  api/v1alpha1/cloud_storage_types.go
  api/v1alpha1/oadp_types.go
  build/ci-Dockerfile
  bundle/manifests/oadp.openshift.io_cloudstorages.yaml
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_cloudstorages.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile
