Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile

update csv for 0.4.2
  deploy/olm-catalog/bundle/manifests/oadp-operator.v0.4.2.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Update SHA to be correct one
  deploy/olm-catalog/bundle/manifests/oadp-operator.v0.4.2.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Deleting registry envs
  controllers/registry.go
  controllers/registry_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding error check for profile
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding changes to velero deployment suite to support BackupRestoreType
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

CSI Backup-restore E2E test (#430)
  tests/e2e/apps.go
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/sample-applications/gp2-csi/volumeSnapshotClass.yaml
  tests/e2e/sample-applications/mssql-persistent/mssql-persistent-csi-template.yaml
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Removing old comments
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding profile support for registry (#442)
  controllers/registry.go
  controllers/registry_test.go
  tests/e2e/registry_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update layout to kubebuilderv3 and fix make bundle
  PROJECT
  bundle.Dockerfile
  bundle/manifests/oadp-operator.v99.clusterserviceversion.yaml
  bundle/manifests/oadp.openshift.io_veleroes.yaml
  bundle/manifests/openshift-adp-controller-manager-metrics-service_v1_service.yaml
  bundle/manifests/openshift-adp-controller-manager_v1_serviceaccount.yaml
  bundle/manifests/openshift-adp-manager-config_v1_configmap.yaml
  bundle/manifests/openshift-adp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/velero.io_backups.yaml
  bundle/manifests/velero.io_backupstoragelocations.yaml
  bundle/manifests/velero.io_deletebackuprequests.yaml
  bundle/manifests/velero.io_downloadrequests.yaml
  bundle/manifests/velero.io_podvolumebackups.yaml
  bundle/manifests/velero.io_podvolumerestores.yaml
  bundle/manifests/velero.io_resticrepositories.yaml
  bundle/manifests/velero.io_restores.yaml
  bundle/manifests/velero.io_schedules.yaml
  bundle/manifests/velero.io_serverstatusrequests.yaml
  bundle/manifests/velero.io_volumesnapshotlocations.yaml
  bundle/metadata/annotations.yaml
  bundle/tests/scorecard/config.yaml
  config/manifests/bases/oadp-operator.v99.0.0.clusterserviceversion.yaml
  deploy/crds/konveyor.openshift.io_v1alpha1_velero_cr.yaml
  deploy/crds/konveyor.openshift.io_veleros_crd.yaml
  deploy/olm-catalog/bundle/metadata/annotations.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

make bundle fix
  Makefile
  PROJECT
  bundle.Dockerfile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/oadp.openshift.io_veleroes.yaml
  bundle/metadata/annotations.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
  config/samples/oadp_v1alpha1_velero.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

version fix
  Makefile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update layout to `go.kubebuilder.io/v3` layout. `make bundle`, and update bundle manifests, remove /deploy (#395)
  Makefile
  PROJECT
  bundle.Dockerfile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/oadp.openshift.io_veleroes.yaml
  bundle/manifests/openshift-adp-controller-manager-metrics-service_v1_service.yaml
  bundle/manifests/openshift-adp-controller-manager_v1_serviceaccount.yaml
  bundle/manifests/openshift-adp-manager-config_v1_configmap.yaml
  bundle/manifests/openshift-adp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/velero.io_backups.yaml
  bundle/manifests/velero.io_backupstoragelocations.yaml
  bundle/manifests/velero.io_deletebackuprequests.yaml
  bundle/manifests/velero.io_downloadrequests.yaml
  bundle/manifests/velero.io_podvolumebackups.yaml
  bundle/manifests/velero.io_podvolumerestores.yaml
  bundle/manifests/velero.io_resticrepositories.yaml
  bundle/manifests/velero.io_restores.yaml
  bundle/manifests/velero.io_schedules.yaml
  bundle/manifests/velero.io_serverstatusrequests.yaml
  bundle/manifests/velero.io_volumesnapshotlocations.yaml
  bundle/metadata/annotations.yaml
  bundle/tests/scorecard/config.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
  config/samples/oadp_v1alpha1_velero.yaml
  deploy/crds/konveyor.openshift.io_v1alpha1_velero_cr.yaml
  deploy/crds/konveyor.openshift.io_veleros_crd.yaml
  deploy/olm-catalog/bundle/metadata/annotations.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Rework API for generic DPA
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/oadp_types.go
  api/v1alpha1/velero_types.go
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Deleting a velero resource will take down the controller thread
  controllers/velero_controller.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Rework API for generic DPA (#433)
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/oadp_types.go
  api/v1alpha1/velero_types.go
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Rename everything for DPA
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_veleroes.yaml
  config/rbac/role.yaml
  controllers/bsl.go
  controllers/bsl_test.go
  controllers/dpa_controller.go
  controllers/registry.go
  controllers/registry_test.go
  controllers/restic.go
  controllers/restic_test.go
  controllers/restore_resource_version_priority.go
  controllers/velero.go
  controllers/velero_test.go
  controllers/vsl.go
  controllers/vsl_test.go
  main.go
  pkg/credentials/credentials.go
  pkg/credentials/credentials_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Ignore the temporary yaml files created as part of processing in templates dir
  .gitignore
Due: none

Required dependencies for yaml templating in tests
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Added function to parse a template file as a yaml
  tests/e2e/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Added function to create Velero CR from yaml template file to be able to provide multiple options
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Added template for velero custom resource definition yaml having one bsl
  tests/e2e/templates/velero_bsl_template.tmpl
Due: none

Test to demonstrate working of yaml templating feature
  tests/e2e/velero_yaml_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Revert "update layout to `go.kubebuilder.io/v3` layout. `make bundle`, and update bundle manifests, remove /deploy (#395)"
  Makefile
  PROJECT
  build/Dockerfile.bundle
  bundle.Dockerfile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/openshift-adp-controller-manager-metrics-service_v1_service.yaml
  bundle/manifests/openshift-adp-controller-manager_v1_serviceaccount.yaml
  bundle/manifests/openshift-adp-manager-config_v1_configmap.yaml
  bundle/manifests/openshift-adp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/metadata/annotations.yaml
  bundle/tests/scorecard/config.yaml
  config/samples/oadp_v1alpha1_velero.yaml
  deploy/crds/konveyor.openshift.io_v1alpha1_velero_cr.yaml
  deploy/crds/konveyor.openshift.io_veleros_crd.yaml
  deploy/olm-catalog/bundle/manifests/backup.crd.yaml
  deploy/olm-catalog/bundle/manifests/backupstoragelocation.crd.yaml
  deploy/olm-catalog/bundle/manifests/deletebackuprequest.crd.yaml
  deploy/olm-catalog/bundle/manifests/downloadrequest.crd.yaml
  deploy/olm-catalog/bundle/manifests/oadp-operator.v99.0.0.clusterserviceversion.yaml
  deploy/olm-catalog/bundle/manifests/podvolumebackup.crd.yaml
  deploy/olm-catalog/bundle/manifests/podvolumerestore.crd.yaml
  deploy/olm-catalog/bundle/manifests/resticrepository.crd.yaml
  deploy/olm-catalog/bundle/manifests/restore.crd.yaml
  deploy/olm-catalog/bundle/manifests/schedule.crd.yaml
  deploy/olm-catalog/bundle/manifests/serverstatusrequest.crd.yaml
  deploy/olm-catalog/bundle/manifests/veleroes.crd.yaml
  deploy/olm-catalog/bundle/manifests/volumesnapshotlocation.crd.yaml
  deploy/olm-catalog/bundle/metadata/annotations.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Revert "update layout to `go.kubebuilder.io/v3` layout. `make bundle`, and update bundle manifests, remove /deploy (#395)" (#457)
  Makefile
  PROJECT
  build/Dockerfile.bundle
  bundle.Dockerfile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/openshift-adp-controller-manager-metrics-service_v1_service.yaml
  bundle/manifests/openshift-adp-controller-manager_v1_serviceaccount.yaml
  bundle/manifests/openshift-adp-manager-config_v1_configmap.yaml
  bundle/manifests/openshift-adp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/metadata/annotations.yaml
  bundle/tests/scorecard/config.yaml
  config/samples/oadp_v1alpha1_velero.yaml
  deploy/crds/konveyor.openshift.io_v1alpha1_velero_cr.yaml
  deploy/crds/konveyor.openshift.io_veleros_crd.yaml
  deploy/olm-catalog/bundle/manifests/backup.crd.yaml
  deploy/olm-catalog/bundle/manifests/backupstoragelocation.crd.yaml
  deploy/olm-catalog/bundle/manifests/deletebackuprequest.crd.yaml
  deploy/olm-catalog/bundle/manifests/downloadrequest.crd.yaml
  deploy/olm-catalog/bundle/manifests/oadp-operator.v99.0.0.clusterserviceversion.yaml
  deploy/olm-catalog/bundle/manifests/podvolumebackup.crd.yaml
  deploy/olm-catalog/bundle/manifests/podvolumerestore.crd.yaml
  deploy/olm-catalog/bundle/manifests/resticrepository.crd.yaml
  deploy/olm-catalog/bundle/manifests/restore.crd.yaml
  deploy/olm-catalog/bundle/manifests/schedule.crd.yaml
  deploy/olm-catalog/bundle/manifests/serverstatusrequest.crd.yaml
  deploy/olm-catalog/bundle/manifests/veleroes.crd.yaml
  deploy/olm-catalog/bundle/manifests/volumesnapshotlocation.crd.yaml
  deploy/olm-catalog/bundle/metadata/annotations.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

sample folder fix
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
  config/samples/backup.yaml
  config/samples/backupstoragelocation.yaml
  config/samples/deletebackuprequest.yaml
  config/samples/downloadrequest.yaml
  config/samples/kustomization.yaml
  config/samples/oadp_v1alpha1_velero.yaml
  config/samples/podvolumebackup.yaml
  config/samples/podvolumerestore.yaml
  config/samples/resticrepository.yaml
  config/samples/restore.yaml
  config/samples/schedule.yaml
  config/samples/serverstatusrequest.yaml
  config/samples/volumesnapshotlocation.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

rbac update
  bundle/manifests/openshift-adp-velero-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/openshift-adp-velero-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/openshift-adp-velero_v1_serviceaccount.yaml
  config/rbac/kustomization.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Exit loop if none of the secret file pattern matches
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

make bundle now generates velero SA, role, and rolebinding.
  bundle.Dockerfile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/openshift-adp-controller-manager_v1_serviceaccount.yaml
  bundle/manifests/velero-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/velero-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/velero-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/velero-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/velero_v1_serviceaccount.yaml
  bundle/metadata/annotations.yaml
  bundle/tests/scorecard/config.yaml
  config/manifests/kustomization.yaml
  config/rbac/kustomization.yaml
  config/velero/kustomization.yaml
  config/velero/velero-role.yaml
  config/velero/velero-role_binding.yaml
  config/velero/velero-service_account.yaml
  config/velero/velero_editor_role.yaml
  config/velero/velero_viewer_role.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Makefile bundle target copies created dockerfile to build folder for ci
  Makefile
  build/Dockerfile.bundle
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

removed items that are regenerated by `make bundle` to reduce confusion
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

autogen update
  api/v1alpha1/zz_generated.deepcopy.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

simplify build-deploy
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

updated velero rbac location
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

`deploy-olm` target build new image and bundle to install via olm
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Added annotations from 0.4.2 csvs
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

oc create namespace for `deploy-olm`
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

operator serviceaccount permission from 0.4.2 csv
  config/rbac/role.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

update role to current `make bundle`
  api/v1alpha1/zz_generated.deepcopy.go
  config/rbac/role.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

tag nit
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Scoped operator controller rbac
  Makefile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test
