Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci/prow/ci-index:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-unit-test:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Update restic tests
  controllers/restic_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fix unit tests
  controllers/registry_test.go
  controllers/restic_test.go
  controllers/velero.go
  controllers/vsl.go
  controllers/vsl_test.go
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fix e2e tests
  tests/e2e/e2e_suite_test.go
  tests/e2e/plugins_helpers.go
  tests/e2e/restic_helpers.go
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update velero tests
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fix E2E tests
  tests/e2e/velero_deployment_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add e2e test: custom plugin
  tests/e2e/plugins_helpers.go
  tests/e2e/velero_deployment_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fix E2E tests
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update OADP usage docs acc to new API
  docs/config/bsl_and_vsl.md
  docs/config/custom_plugin_images.md
  docs/config/features_flag.md
  docs/config/noobaa/install_oadp_noobaa.md
  docs/config/plugins.md
  docs/config/resource_req_limits.md
  docs/config/self_signed_certs.md
  docs/install_olm.md
Due: none

Fix test errors
  controllers/restic_test.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update oadp api reference
  docs/API_ref.md
Due: none

update examples and dev docs
  docs/developer/install_non-olm.md
  docs/developer/olm_hacking.md
  docs/examples/stateful.md
  docs/examples/stateless.md
  docs/upgrade.md
Due: none

add e2e tests: aws plugin and resource alloc
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Remove metadata for BSL/VSL
  api/v1alpha1/oadp_types.go
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  config/samples/oadp_v1alpha1_dpa.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update bundle
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Fix build errors
  api/v1alpha1/zz_generated.deepcopy.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

bump time to be ready
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Roundabout fix for HTTPS_PROXY failure
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

E2E for subscription-proxy test
  go.mod
  go.sum
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/subscription_helpers.go
  tests/e2e/subscription_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

log/comment cleanup
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

unfocus test
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixing log path
  must-gather/collection-scripts/gather_logs
Due: none

rebase apiv1
  tests/e2e/subscription_helpers.go
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

CR name changes
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_crs
  must-gather/collection-scripts/gather_logs
Due: none

CR name changes1
  must-gather/collection-scripts/gather_crs
Due: none

remove dup import
  go.sum
  tests/e2e/plugins_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

log container name
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fixing quay repo path
  must-gather/README.md
Due: none

add oadp api validator
  controllers/dpa_controller.go
  controllers/validator.go
  controllers/validator_test.go
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding must-gather for oadp (#463)
  must-gather/Dockerfile
  must-gather/Makefile
  must-gather/README.md
  must-gather/collection-scripts/_metrics_chart_template_part_1.html
  must-gather/collection-scripts/_metrics_chart_template_part_2.html
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_crs
  must-gather/collection-scripts/gather_logs
  must-gather/collection-scripts/gather_metrics
  must-gather/collection-scripts/gather_metrics_dump
  must-gather/collection-scripts/logs/gather_logs_backup
  must-gather/collection-scripts/logs/gather_logs_pods
  must-gather/collection-scripts/logs/gather_logs_pvb
  must-gather/collection-scripts/logs/gather_logs_pvr
  must-gather/collection-scripts/logs/gather_logs_restore
  must-gather/collection-scripts/pwait
  must-gather/collection-scripts/time_window_gather/gather_1h
  must-gather/collection-scripts/time_window_gather/gather_1h_essential
  must-gather/collection-scripts/time_window_gather/gather_24h
  must-gather/collection-scripts/time_window_gather/gather_24h_essential
  must-gather/collection-scripts/time_window_gather/gather_6h
  must-gather/collection-scripts/time_window_gather/gather_6h_essential
  must-gather/collection-scripts/time_window_gather/gather_72h
  must-gather/collection-scripts/time_window_gather/gather_72h_essential
  must-gather/collection-scripts/time_window_gather/gather_all
  must-gather/collection-scripts/time_window_gather/gather_all_essential
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add prometheus metrics
  controllers/dpa_controller.go
  controllers/metrics.go
  go.mod
  go.sum
  main.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update logs
  controllers/metrics.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add oadp cr metrics
  controllers/metrics.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Backup/Restore troubleshooting (#445)
  TROUBLESHOOTING.md
Due: none

add oadp api validator (#472)
  controllers/dpa_controller.go
  controllers/validator.go
  controllers/validator_test.go
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Rename everything for DPA (#456)
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/bsl.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update all the controllers for new API
  controllers/bsl.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OLM updates
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Fix test errors
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fix e2e tests
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile
