Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile

Update README.md
  docs/tekton-oadp-nonadmin/README.md
Due: none

macos compatible sed
  docs/tekton-oadp-nonadmin/demo_users/create_demousers.sh
Due: none

ensure sed is updating all entries
  docs/tekton-oadp-nonadmin/demo_users/create_demousers.sh
  docs/tekton-oadp-nonadmin/install_templates/templates/05-build-and-deploy.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

add a prereq check and bail if we're overwriting oauth config
  docs/tekton-oadp-nonadmin/check_prerequisites.sh
  docs/tekton-oadp-nonadmin/demo_users/create_demousers.sh
Due: none

fix up prereq script
  docs/tekton-oadp-nonadmin/check_prerequisites.sh
Due: none

data mover security context option
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

redirect customer/partner bugs to jira only
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Update bug_report.yaml
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

velero upstream main rebase as of Mar 20, 2023
  bundle/manifests/velero.io_backups.yaml
  bundle/manifests/velero.io_downloadrequests.yaml
  bundle/manifests/velero.io_restores.yaml
  bundle/manifests/velero.io_schedules.yaml
  config/crd/bases/velero.io_backups.yaml
  config/crd/bases/velero.io_downloadrequests.yaml
  config/crd/bases/velero.io_restores.yaml
  config/crd/bases/velero.io_schedules.yaml
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add restore pipeline
  docs/tekton-oadp-nonadmin/install_templates/templates/05-build-and-deploy.yaml
  docs/tekton-oadp-nonadmin/restore_cr/restore.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

restore cr needs a backupname
  docs/tekton-oadp-nonadmin/install_templates/templates/05-build-and-deploy.yaml
  docs/tekton-oadp-nonadmin/restore_cr/restore.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

nit on the restore status
  docs/tekton-oadp-nonadmin/install_templates/templates/05-build-and-deploy.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Redirect customers and partners to open issues and bugs in jira via the bug template #928
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Update VSB and VSR CRDs with batching status changes
  bundle/manifests/datamover.oadp.openshift.io_volumesnapshotbackups.yaml
  bundle/manifests/datamover.oadp.openshift.io_volumesnapshotrestores.yaml
  config/crd/bases/datamover.oadp.openshift.io_volumesnapshotbackups.yaml
  config/crd/bases/datamover.oadp.openshift.io_volumesnapshotrestores.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Update VSB and VSR CRDs with batching status changes (#934)
  bundle/manifests/datamover.oadp.openshift.io_volumesnapshotbackups.yaml
  bundle/manifests/datamover.oadp.openshift.io_volumesnapshotrestores.yaml
  config/crd/bases/datamover.oadp.openshift.io_volumesnapshotbackups.yaml
  config/crd/bases/datamover.oadp.openshift.io_volumesnapshotrestores.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

velero upstream main rebase as of Mar 20, 2023 (#929)
  bundle/manifests/velero.io_backups.yaml
  bundle/manifests/velero.io_downloadrequests.yaml
  bundle/manifests/velero.io_restores.yaml
  bundle/manifests/velero.io_schedules.yaml
  config/crd/bases/velero.io_backups.yaml
  config/crd/bases/velero.io_downloadrequests.yaml
  config/crd/bases/velero.io_restores.yaml
  config/crd/bases/velero.io_schedules.yaml
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add Velero --resource-timeout (#909)
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/velero.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test
