Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile

Update to support volume snapshot bug
  controllers/restic_test.go
  controllers/validator_test.go
  controllers/velero.go
  go.mod
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding necessary credential changes for azure (#525)
  Makefile
  controllers/bsl.go
  controllers/registry.go
  pkg/credentials/credentials.go
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/common.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding logic to custom secrets handler
  controllers/bsl.go
  controllers/dpa_controller.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-193: Fix restic enablement with custom BSL secret (#530)
  controllers/restic.go
  controllers/restic_test.go
  controllers/validator_test.go
  controllers/velero.go
  go.mod
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update troubleshooting docs for Restic backup failure (#527)
  docs/TROUBLESHOOTING.md
Due: none

Added yaml dpa spec as dpa custom resource
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Updated the reference to dpa custom resource
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Modifying create/update/generic fns of the event handler
  controllers/dpa_controller.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding review feedbacks
  controllers/bsl.go
  controllers/dpa_controller.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Remove namespace label
  controllers/bsl.go
  controllers/dpa_controller.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Passing azure creds]
  Makefile
  go.mod
  tests/e2e/common.go
  tests/e2e/e2e_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

known issues
  docs/known_issues.md
Due: none

Adding azure_resource_file flag
  tests/e2e/e2e_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add credential docs
  docs/credentials.md
Due: none

add examples
  docs/credentials.md
Due: none

known issues (#533)
  docs/known_issues.md
Due: none

Getting CI Azure Resource Group (#532)
  Makefile
  go.mod
  tests/e2e/common.go
  tests/e2e/e2e_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-176: Fix sensitive data exposed in registry env vars
  controllers/dpa_controller.go
  controllers/registry.go
  controllers/registry_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Remove restic verification CRD changes
  bundle/manifests/velero.io_podvolumerestores.yaml
  bundle/manifests/velero.io_restores.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

remove ---
  bundle/manifests/velero.io_podvolumerestores.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

remove reduntant len check
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update non-olm CRDs
  config/crd/bases/podvolumerestore.crd.yaml
  config/crd/bases/restore.crd.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

OADP-176: Fix sensitive data exposed in registry env vars (#535)
  controllers/dpa_controller.go
  controllers/registry.go
  controllers/registry_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Remove restic verification CRD changes (#536)
  bundle/manifests/velero.io_podvolumerestores.yaml
  bundle/manifests/velero.io_restores.yaml
  config/crd/bases/podvolumerestore.crd.yaml
  config/crd/bases/restore.crd.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

OADP-200: Limit velero servicemonitor to keep bounded cardinality
  controllers/monitor.go
  controllers/monitor_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Check more than one velero pod, log status if not running. (#522)
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/subscription_suite_test.go
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-200: Limit velero servicemonitor to keep bounded cardinality (#537)
  controllers/monitor.go
  controllers/monitor_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding review feedback
  controllers/bsl.go
  controllers/dpa_controller.go
  controllers/predicate.go
  controllers/vsl.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

reorganize update label func into bsl.go
  controllers/bsl.go
  controllers/vsl.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update func name and other review feedback
  controllers/bsl.go
  controllers/dpa_controller.go
  controllers/vsl.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Making oadpv1alpha1 alias consistent across the repo
  controllers/predicate.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding secrets watch (#528)
  controllers/bsl.go
  controllers/dpa_controller.go
  controllers/vsl.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Making oadpv1alpha1 alias consistent across the repo (#539)
  controllers/predicate.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update bundle for oadp-0.5.5
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Changing key
  tests/e2e/common.go
  tests/e2e/e2e_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

made tests' structure more generic
  Makefile
  docs/developer/TESTING.md
  go.sum
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/common.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/scripts/aws_settings.sh
  tests/e2e/subscription_suite_test.go
  tests/e2e/templates/default_settings.json
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

replaced jq with aws
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixed makefile
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Added check for wait condition for velero pods to be running
  tests/e2e/velero_yaml_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

small fix in subscription suite
  tests/e2e/subscription_helpers.go
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test
