Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile

Adding mount support for creds - gcp
  pkg/credentials/credentials.go
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update screen captures (#489)
  docs/images/OADP-OLM-2.png
  docs/images/OADP-OLM-3.png
  docs/images/Velero-CR-1.png
  docs/images/Velero-CR-2.png
  docs/images/click-install-again.png
  docs/images/click-install.png
  docs/images/create-dpa-cr-yaml.png
  docs/images/dpa-cr.png
  docs/install_olm.md
Due: none

Adding known limitations to must-gather (#493)
  must-gather/README.md
Due: none

Setting different mount path in registry if cred file specified
  controllers/registry.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove default secret volumes when using cloud storage provider (#491)
  controllers/validator.go
  controllers/velero.go
  controllers/velero_test.go
  go.sum
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix resource allocation config typos (#492)
  docs/config/resource_req_limits.md
Due: none

Docs update with Restic NFS root_squash (#429)
  TROUBLESHOOTING.md
Due: none

GCP Credentials Mount (#494)
  controllers/registry.go
  pkg/credentials/credentials.go
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix first test case failure
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Addressing feedback from merged PR.
  controllers/velero.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding implementation details for timeout
  must-gather/README.md
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_logs
  must-gather/collection-scripts/logs/gather_logs_backup
  must-gather/collection-scripts/logs/gather_logs_restore
  must-gather/collection-scripts/time_window_gather/gather_with_timeout
Due: none

Add arg for CSI test case
  Makefile
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Also test restic pods
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

e2e proxy: fix first test case failure (#495)
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Addressing feedback from merged PR. (#496)
  controllers/velero.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add arg for CSI test case (#498)
  Makefile
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

api v1 upgrade CR typo
  docs/upgrade.md
Due: none

turn OCP versions from int to string
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

api v1 upgrade CR typo (#501)
  docs/upgrade.md
Due: none

Adding validation for azure creds
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding CRED Files for diff. envs.
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Removing kube-rbac-proxy from the containers needed
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Removing kube-rbac-proxy from the containers needed (#504)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/default/kustomization.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Adding account key check
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix indentation
  config/samples/oadp_v1alpha1_dpa.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Changing cluster type
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix unit tests and remove comments
  controllers/monitor.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

make deploy velero namespace fix
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add changes for undeploy
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix indentation (#505)
  config/samples/oadp_v1alpha1_dpa.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

turn OCP versions from int to string (#502)
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Adding checks to validate SP if storage key is not present
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding prometheus metrics
  must-gather/collection-scripts/gather_metrics
Due: none

update troubleshooting doc
  TROUBLESHOOTING.md
Due: none

v0.5.2 bundle changes
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Updating Makefile with GCP variables
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding unit test#1
  controllers/registry_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Ensure velero is deleted
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding a test case for service principal
  controllers/registry_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Ensure velero is deleted (#510)
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test
