Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci/prow/ci-index:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-unit-test:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

OADP-2047: Make data mover dummy pod configurable (#1053)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  controllers/datamover.go
  controllers/datamover_test.go
  pkg/common/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

default datamover SC and add mover annotation
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/datamover.go
  pkg/common/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

[oadp-1.2] Add must-gather test suite, add pod logs to artifacts dir on failure. (#1054)
  must-gather/Makefile
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/lib/apps.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/kube_helpers.go
  tests/e2e/must-gather_suite_test.go
  tests/e2e/utils/common_utils.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove moversecuritycontent instructions for dm
  docs/examples/datamover_advanced_voloptions.md
Due: none

remove moversecuritycontent instructions for dm (#1059)
  docs/examples/datamover_advanced_voloptions.md
Due: none

add note about priviledged annotation
  docs/examples/data_mover.md
Due: none

add note about priviledged annotation (#1060)
  docs/examples/data_mover.md
Due: none

add doc with datamover advanced volumeoptions example
  docs/examples/datamover_advanced_voloptions.md
Due: none

update from suggestions
  docs/examples/datamover_advanced_voloptions.md
Due: none

[oadp-1.2] Doc with Datamover Advanced VolumeOptions Example (#1061)
  docs/examples/datamover_advanced_voloptions.md
Due: none

OADP-2047: Make data mover dummy pod configurable (#1053) (#1055)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  controllers/datamover.go
  controllers/datamover_test.go
  pkg/common/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

default datamover SC and add mover annotation (#1058)
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/datamover.go
  pkg/common/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

clean up scripts and README
  docs/tekton-oadp-nonadmin/README.md
  docs/tekton-oadp-nonadmin/check_prerequisites.sh
  docs/tekton-oadp-nonadmin/demo_users/create_demousers.sh
Due: none

remove moversecuritycontent instructions for dm (#1063)
  docs/examples/datamover_advanced_voloptions.md
Due: none

update the README
  docs/tekton-oadp-nonadmin/README.md
  docs/tekton-oadp-nonadmin/check_prerequisites.sh
  docs/tekton-oadp-nonadmin/install.sh
Due: none

Update README.md
  docs/tekton-oadp-nonadmin/README.md
Due: none

fix typo
  docs/tekton-oadp-nonadmin/README.md
Due: none

default datamover SC and add mover annotation (#1064)
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/datamover.go
  pkg/common/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

sed in-place command fix for macos
  docs/tekton-oadp-nonadmin/demo_users/create_demousers.sh
  docs/tekton-oadp-nonadmin/demo_users/oauth.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Updated Readme with improved screenshots, new diagrams. Rework of check_prerequisites.sh script to check and then print summary of all errors.
  docs/tekton-oadp-nonadmin/README.md
  docs/tekton-oadp-nonadmin/check_prerequisites.sh
  docs/tekton-oadp-nonadmin/readme_img/backup_pipeline_done.png
  docs/tekton-oadp-nonadmin/readme_img/backup_pipeline_run.png
  docs/tekton-oadp-nonadmin/readme_img/oadp_non_admin_arch.png
  docs/tekton-oadp-nonadmin/readme_img/openshift_pipelines.png
  docs/tekton-oadp-nonadmin/readme_img/pipeline_actions.png
  docs/tekton-oadp-nonadmin/readme_img/restore_pipeline.png
  docs/tekton-oadp-nonadmin/readme_img/restore_pipeline_done.png
  docs/tekton-oadp-nonadmin/readme_img/restore_pipeline_in_progress.png
  docs/tekton-oadp-nonadmin/readme_img/restore_pipeline_run.png
  docs/tekton-oadp-nonadmin/readme_img/trigger_backup.png
Due: none

add tigers diagram
  docs/images/OADP_Non_Admin.png
Due: none

move new diagram
  docs/tekton-oadp-nonadmin/README.md
  docs/tekton-oadp-nonadmin/readme_img/OADP_Non_Admin.png
Due: none

move tekton demo to blog section of repo
  blogs/tekton-oadp-nonadmin/README.md
  blogs/tekton-oadp-nonadmin/check_prerequisites.sh
  blogs/tekton-oadp-nonadmin/demo_users/01-new-project-request_template.yaml
  blogs/tekton-oadp-nonadmin/demo_users/create_demousers.sh
  blogs/tekton-oadp-nonadmin/demo_users/oauth.yaml
  blogs/tekton-oadp-nonadmin/demo_users/user.yaml
  blogs/tekton-oadp-nonadmin/install.sh
  blogs/tekton-oadp-nonadmin/install_templates/02-tekton-operator.yaml
  blogs/tekton-oadp-nonadmin/install_templates/templates/03-rbac-pipeline-role.yaml
  blogs/tekton-oadp-nonadmin/install_templates/templates/04-service-account_template.yaml
  blogs/tekton-oadp-nonadmin/install_templates/templates/05-build-and-deploy.yaml
  blogs/tekton-oadp-nonadmin/oadp-tekton-container/Dockerfile
  blogs/tekton-oadp-nonadmin/oadp-tekton-container/advanced_backup.yaml
  blogs/tekton-oadp-nonadmin/oadp-tekton-container/backup.yaml
  blogs/tekton-oadp-nonadmin/oadp-tekton-container/check_backup_namespace.sh
  blogs/tekton-oadp-nonadmin/oadp-tekton-container/get_restore_namespace.sh
  blogs/tekton-oadp-nonadmin/oadp-tekton-container/restore.yaml
  blogs/tekton-oadp-nonadmin/readme_img/OADP_Non_Admin.png
  blogs/tekton-oadp-nonadmin/readme_img/backup_pipeline_done.png
  blogs/tekton-oadp-nonadmin/readme_img/backup_pipeline_run.png
  blogs/tekton-oadp-nonadmin/readme_img/oadp_non_admin_arch.png
  blogs/tekton-oadp-nonadmin/readme_img/openshift_pipelines.png
  blogs/tekton-oadp-nonadmin/readme_img/pipeline_actions.png
  blogs/tekton-oadp-nonadmin/readme_img/restore_pipeline.png
  blogs/tekton-oadp-nonadmin/readme_img/restore_pipeline_done.png
  blogs/tekton-oadp-nonadmin/readme_img/restore_pipeline_in_progress.png
  blogs/tekton-oadp-nonadmin/readme_img/restore_pipeline_run.png
  blogs/tekton-oadp-nonadmin/readme_img/trigger_backup.png
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Fix 3 CSI sample app deployment issue
  tests/e2e/sample-applications/minimal-8csivol/minimal-3csivol.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Add velero replica count override for debugging.
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add datamover replica count override for debugging.
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fix 3 CSI sample app deployment issue (#1067)
  tests/e2e/sample-applications/minimal-8csivol/minimal-3csivol.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Update README.md
  blogs/tekton-oadp-nonadmin/README.md
Due: none

Add unit test for Velero replica count override.
  controllers/velero.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add unit test for datamover replica count override.
  controllers/datamover.go
  controllers/datamover_test.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix spelling
  blogs/tekton-oadp-nonadmin/README.md
Due: none

Add a way to override velero/datamover replicas for debug purposes. (#1068)
  controllers/datamover.go
  controllers/datamover_test.go
  controllers/velero.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile
