Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile

Mysql restic e2e test failure on ocp4.12
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

feat: Add uninstall command
  Makefile
  docs/developer/install_from_source.md
  docs/developer/olm_hacking.md
  docs/developer/testing/AttatchingIDEDebuggers.md
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

feat: Add uninstall command (#1118)
  Makefile
  docs/developer/install_from_source.md
  docs/developer/olm_hacking.md
  docs/developer/testing/AttatchingIDEDebuggers.md
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Mysql restic e2e test failure on ocp4.12 (#1113)
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Revert "Mysql restic e2e test failure on ocp4.12 (#1113)"
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

velero main rebase to topic branch, 7 Aug 2023
  bundle/manifests/velero.io_downloadrequests.yaml
  bundle/manifests/velero.io_restores.yaml
  config/crd/bases/velero.io_downloadrequests.yaml
  config/crd/bases/velero.io_restores.yaml
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

GID 27 is not allowed
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

title, move imagestreamtag into goals
  docs/design/gcp-wif-support_design.md
Due: none

Mysql-restic template to aligned with changed pod security on OCP-4.12 (#1122)
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

add defaultPlugins
  docs/design/gcp-wif-support_design.md
Due: none

remove google volume
  docs/design/gcp-wif-support_design.md
Due: none

Apply suggestions from code review
  docs/design/gcp-wif-support_design.md
Due: none

WIF support design (#1109)
  docs/design/gcp-wif-support_design.md
Due: none

updates to vbdm design (#1108)
  docs/design/upstream-datamover.md
Due: none

Fix typo in CRD description (#1100)
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update velero dep to 1.11.1
  Dockerfile
  build/ci-Dockerfile
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Mysql-restic template to aligned with changed pod security on OCP-4.12 (#1122) (#1124)
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

validator and type updates
  api/v1alpha1/cloud_storage_types.go
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/validator.go
  controllers/validator_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

validator and type updates
  api/v1alpha1/zz_generated.deepcopy.go
  controllers/bsl.go
  controllers/bsl_test.go
  controllers/dpa_controller.go
  controllers/validator.go
  controllers/validator_test.go
  controllers/vsl.go
  controllers/vsl_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

CloudStorageLocation prefix is added to BSL
  controllers/bsl.go
  controllers/bsl_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

clarify backupImages error
  controllers/bsl.go
  controllers/bsl_test.go
  controllers/validator.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

validator refactor returns err from validating funcs
  controllers/validator.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update velero dep to 1.11.1 (#1125)
  Dockerfile
  build/ci-Dockerfile
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

unit tests fix
  controllers/bsl.go
  controllers/validator.go
  controllers/validator_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

simplify expression
  controllers/validator.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Correct indentation re:PSA policy warnings
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Add ignorable restore error logs and unit test
  tests/e2e/lib/velero_helpers.go
  tests/e2e/lib/velero_helpers_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ensure by default a non-admin user can NOT restore a backup
  blogs/tekton-oadp-nonadmin/README.md
  blogs/tekton-oadp-nonadmin/install_templates/templates/03-rbac-pipeline-role.yaml.README
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

fix permissions
  blogs/tekton-oadp-nonadmin/install_templates/templates/03-rbac-pipeline-role.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

consistent error string across bl.velero and bl.cloudstorage
  controllers/validator.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Manual workaround for restic restore failure due to changed PSA policy on ocp 4.14
  docs/TROUBLESHOOTING.md
Due: none

Change restore order in AutoCorrect functionality
  api/v1alpha1/oadp_types.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Listing all the resources
  controllers/validator.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Restore order update when restic:true
  controllers/validator.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Remove code from validator
  api/v1alpha1/oadp_types.go
  controllers/validator.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add mustgather registry image to relatedImage
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Apply suggestions from code review
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

OADP-1057: CloudStorageLocation Prefix/CACert support (#1126)
  api/v1alpha1/cloud_storage_types.go
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/bsl.go
  controllers/bsl_test.go
  controllers/dpa_controller.go
  controllers/validator.go
  controllers/validator_test.go
  controllers/vsl.go
  controllers/vsl_test.go
  tests/e2e/lib/velero_helpers.go
  tests/e2e/lib/velero_helpers_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test
