Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile

set defaultVolumesToRestic in e2e for restic backup
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/lib/apps.go
  tests/e2e/lib/backup.go
  tests/e2e/lib/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

variable renames, DpaCustomResource struct cleanup
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove two-phase restore. Use single restore with post restore script.
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/lib/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixing post-restore script to work for long restore names.
  docs/scripts/dc-restic-post-restore.sh
Due: none

add datamover timeout to API ref
  docs/API_ref.md
Due: none

refactor DoesBSLExist, DoesVSLExist
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove placeholder deployment, use operator-sdk `--extra-service-accounts`, yq +nullables
  Makefile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  config/velero/kustomization.yaml
  config/velero/velero.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add datamover timeout to API ref (#795)
  docs/API_ref.md
Due: none

e2e: set defaultVolumesToRestic for restic backup, enable restic restore data verification, remove two-phase restore. (#790)
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/lib/apps.go
  tests/e2e/lib/backup.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/velero_helpers.go
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Don't set default for oadp-example-snapclass
  tests/e2e/sample-applications/snapclass-csi/aws.yaml
  tests/e2e/sample-applications/snapclass-csi/azure.yaml
  tests/e2e/sample-applications/snapclass-csi/gcp.yaml
  tests/e2e/sample-applications/snapclass-csi/ibmcloud.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Don't set default for oadp-example-snapclass (#798)
  tests/e2e/sample-applications/snapclass-csi/aws.yaml
  tests/e2e/sample-applications/snapclass-csi/azure.yaml
  tests/e2e/sample-applications/snapclass-csi/gcp.yaml
  tests/e2e/sample-applications/snapclass-csi/ibmcloud.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Update DC troubleshooting to reflect 1.1 changes
  docs/TROUBLESHOOTING.md
Due: none

use var to shorten yq eval expression
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update DC troubleshooting to reflect 1.1 changes (#799)
  docs/TROUBLESHOOTING.md
Due: none

e2e: do not print container logs on server version skip
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

e2e: Increase app build timeouts to 5 minutes
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add `"num errors=0"` to errorIgnorePatterns
  tests/e2e/lib/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add `"num errors=0"` to errorIgnorePatterns (#803)
  tests/e2e/lib/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Create PVC for CSI before installing app.
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add mongo pvc for ibm cloud
  tests/e2e/sample-applications/mongo-persistent/pvc/ibmcloud.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

InstallApplication Update if already exists. Resolves issue if existing is outdated
  tests/e2e/lib/apps.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Revert "Create PVC for CSI before installing app."
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

e2e: resolve pvc create failure if previous test fail to uninstall app namespace
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Change backup timeout to 12 minutes
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Resolve azure 4.8, 4.9 fallback namespace deletion failure due to empty resource name.
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Don't set default for oadp-example-snapclass (#800)
  tests/e2e/sample-applications/snapclass-csi/aws.yaml
  tests/e2e/sample-applications/snapclass-csi/azure.yaml
  tests/e2e/sample-applications/snapclass-csi/gcp.yaml
  tests/e2e/sample-applications/snapclass-csi/ibmcloud.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Do not perform csi backup on restic test
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Do not perform csi backup on restic test (#804)
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixing post-restore script to work for long restore names. (#794)
  docs/scripts/dc-restic-post-restore.sh
Due: none

detect sha256sum is working else use shasum
  docs/scripts/dc-restic-post-restore.sh
Due: none

use variable
  docs/scripts/dc-restic-post-restore.sh
Due: none

[oadp-1.1] detect sha256sum is working else use shasum (#807)
  docs/scripts/dc-restic-post-restore.sh
Due: none

Do not perform csi backup on restic test (#805)
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test
