Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci/prow/ci-index:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-unit-test:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Adding case gcp for e2e
  pkg/credentials/credentials.go
  tests/e2e/e2e_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove dup import (#467)
  tests/e2e/plugins_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

deploy-olm vars can be overriden (#466)
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

adding deploymentconfigs to readme for clarity
  TROUBLESHOOTING.md
Due: none

Forgot to remove the manifest files
  bundle/manifests/velero-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/velero-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/velero_v1_serviceaccount.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Forgot to remove the manifest files (#481)
  bundle/manifests/velero-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/velero-rolebinding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/velero_v1_serviceaccount.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

update restic root_squash docs
  TROUBLESHOOTING.md
Due: none

update backup manifests to match doc, dpa-sample
  docs/examples/manifests/mssql-backup.yaml
  docs/examples/manifests/nginx-stateless-backup.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Updated template as per API v1 rewrite
  tests/e2e/templates/velero_bsl_template.tmpl
Due: none

DeploymentConfig troubleshooting (#470)
  TROUBLESHOOTING.md
Due: none

E2E for subscription-proxy test (#465)
  go.mod
  go.sum
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/subscription_helpers.go
  tests/e2e/subscription_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update backup manifests to match doc, dpa-sample (#484)
  docs/examples/manifests/mssql-backup.yaml
  docs/examples/manifests/nginx-stateless-backup.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Fix disconnected script
  deploy/disconnected-prep.sh
Due: none

CSV updates
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Disconnected fix and CSV updates (#486)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  deploy/disconnected-prep.sh
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Bundle updates for 0.5.1
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  deploy/disconnected-prep.sh
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

4.9 mongodb image
  tests/e2e/sample-applications/parks-app/manifest4.8.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

enable ingestion of the exposed metrics by openshift-montoring
  config/manager/manager.yaml
  controllers/dpa_controller.go
  controllers/monitor.go
  go.mod
  go.sum
  main.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add velero sm and svc
  controllers/dpa_controller.go
  controllers/monitor.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

incorporate new OADP API
  config/rbac/role.yaml
  controllers/monitor.go
  go.mod
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix labels
  controllers/monitor.go
  controllers/velero.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Hardcoded stuff to make this work
  controllers/monitor.go
  controllers/velero.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add velero deployment to CSV so velero SA/roles are added to CSV
  Makefile
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/velero/kustomization.yaml
  config/velero/velero-role_binding.yaml
  config/velero/velero-service_account.yaml
  config/velero/velero.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

use yq remove placeholder velero deployment
  Makefile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

channel stable
  Makefile
  build/Dockerfile.bundle
  bundle.Dockerfile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Comment placeholder deployment
  config/velero/velero.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

change maturity to stable in csv
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

add unit tests
  controllers/dpa_controller.go
  controllers/monitor.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add monitoring uts
  config/manager/manager.yaml
  controllers/monitor_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update screen captures
  docs/images/OADP-OLM-2.png
  docs/images/OADP-OLM-3.png
  docs/images/Velero-CR-1.png
  docs/images/Velero-CR-2.png
  docs/images/click-install-again.png
  docs/images/click-install.png
  docs/images/create-dpa-cr-yaml.png
  docs/images/dpa-cr.png
  docs/install_olm.md
Due: none

Adding credentials
  pkg/credentials/credentials.go
  tests/e2e/e2e_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove default secret volumes when using cloud storage provider
  controllers/validator.go
  controllers/velero.go
  controllers/velero_test.go
  go.sum
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix resource allocation config typos
  docs/config/resource_req_limits.md
Due: none

update permissions in csv
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Adding known limitations to must-gather
  must-gather/README.md
Due: none

Mounting in velero container
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Changing the mount point
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add velero deployment to CSV so velero SA/roles are added to CSV then removing it (#482)
  Makefile
  api/v1alpha1/zz_generated.deepcopy.go
  build/Dockerfile.bundle
  bundle.Dockerfile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
  config/velero/kustomization.yaml
  config/velero/velero-role_binding.yaml
  config/velero/velero-service_account.yaml
  config/velero/velero.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

4.9 mongodb image (#487)
  tests/e2e/sample-applications/parks-app/manifest4.8.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Update bug_report.yaml (#478)
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile
