Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile

[oadp-1.2] OADP-1690: Add volsync snapshot retain policy support (#998)
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

oadp-1.1: OADP-1557 Add all velero server args supported to DPA (#987)
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/bucket_controller.go
  controllers/common.go
  controllers/dpa_controller.go
  controllers/monitor.go
  controllers/restic.go
  controllers/restore_resource_version_priority.go
  controllers/validator.go
  controllers/velero.go
  controllers/velero_test.go
  go.mod
  go.sum
  pkg/common/common.go
  pkg/common/common_test.go
  pkg/klog/klog.go
  pkg/klog/zz_generated.deepcopy.go
  pkg/velero/client/config.go
  pkg/velero/client/zz_generated.deepcopy.go
  pkg/velero/server/args.go
  pkg/velero/server/config.go
  pkg/velero/server/zz_generated.deepcopy.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update VSB/VSR CRDs to add batchingStatus printer column
  bundle/manifests/datamover.oadp.openshift.io_volumesnapshotbackups.yaml
  bundle/manifests/datamover.oadp.openshift.io_volumesnapshotrestores.yaml
  config/crd/bases/datamover.oadp.openshift.io_volumesnapshotbackups.yaml
  config/crd/bases/datamover.oadp.openshift.io_volumesnapshotrestores.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

minor fixes
  bundle/manifests/datamover.oadp.openshift.io_volumesnapshotbackups.yaml
  bundle/manifests/datamover.oadp.openshift.io_volumesnapshotrestores.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Get restic version in must-gather.
  must-gather/collection-scripts/gather_versions
Due: none

Get velero client and deployment versions.
  must-gather/collection-scripts/gather_versions
Due: none

add 8 and 3 vol b/r manifest and b/r crs
  tests/e2e/sample-applications/minimal-8csivol/minimal-3csivol-backup.yaml
  tests/e2e/sample-applications/minimal-8csivol/minimal-3csivol-restore.yaml
  tests/e2e/sample-applications/minimal-8csivol/minimal-3csivol.yaml
  tests/e2e/sample-applications/minimal-8csivol/minimal-8csivol-backup.yaml
  tests/e2e/sample-applications/minimal-8csivol/minimal-8csivol-restore.yaml
  tests/e2e/sample-applications/minimal-8csivol/minimal-8csivol.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

add 8 and 3 vol b/r manifest and b/r crs (#1001)
  tests/e2e/sample-applications/minimal-8csivol/minimal-3csivol-backup.yaml
  tests/e2e/sample-applications/minimal-8csivol/minimal-3csivol-restore.yaml
  tests/e2e/sample-applications/minimal-8csivol/minimal-3csivol.yaml
  tests/e2e/sample-applications/minimal-8csivol/minimal-8csivol-backup.yaml
  tests/e2e/sample-applications/minimal-8csivol/minimal-8csivol-restore.yaml
  tests/e2e/sample-applications/minimal-8csivol/minimal-8csivol.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Get storage classes (short) and DPA details.
  must-gather/collection-scripts/gather_versions
Due: none

Add debug script directory and a small example.
  must-gather/Dockerfile
  must-gather/collection-scripts/debug/tail_failed_pods
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Check bundle is up to date in unit-test
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update VSB/VSR CRDs to add batchingStatus printer column (#999)
  bundle/manifests/datamover.oadp.openshift.io_volumesnapshotbackups.yaml
  bundle/manifests/datamover.oadp.openshift.io_volumesnapshotrestores.yaml
  config/crd/bases/datamover.oadp.openshift.io_volumesnapshotbackups.yaml
  config/crd/bases/datamover.oadp.openshift.io_volumesnapshotrestores.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

[oadp-1.2] Update VSB/VSR CRDs to add batchingStatus printer column (#1003)
  bundle/manifests/datamover.oadp.openshift.io_volumesnapshotbackups.yaml
  bundle/manifests/datamover.oadp.openshift.io_volumesnapshotrestores.yaml
  config/crd/bases/datamover.oadp.openshift.io_volumesnapshotbackups.yaml
  config/crd/bases/datamover.oadp.openshift.io_volumesnapshotrestores.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Create directory up front, avoid whole DPA CR.
  must-gather/collection-scripts/gather_versions
Due: none

Save full YAML for DPAs and StorageClasses.
  must-gather/collection-scripts/gather_versions
Due: none

Remove default SC, add CSI VSC gathering.
  must-gather/collection-scripts/gather_versions
Due: none

Add defaults for debug file and skip_tls.
  must-gather/collection-scripts/gather_versions
Due: none

Add missing --insecure-skip-tls-verify arguments.
  must-gather/collection-scripts/debug/tail_failed_pods
  must-gather/collection-scripts/gather_versions
Due: none

One more missing --insecure-skip-tls-verify.
  must-gather/collection-scripts/debug/tail_failed_pods
Due: none

OADP-1801: Include restic and velero binaries in must-gather image, and gather various pieces of version information. (#994)
  must-gather/Dockerfile
  must-gather/collection-scripts/debug/tail_failed_pods
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_versions
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Record versions of OADP and volsync operators.
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_versions
Due: none

Build restic and velero for must-gather image.
  must-gather/Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Respect skip_tls option in gather_versions.
  must-gather/collection-scripts/gather_versions
Due: none

Move oadp-debug-info to cluster subdirectory.
  must-gather/collection-scripts/gather
Due: none

Clean up build steps to avoid running out of space.
  must-gather/Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

[oadp-1.2] OADP-1801: Include restic and velero binaries in must-gather image, and gather various pieces of version information. (#1004)
  must-gather/Dockerfile
  must-gather/collection-scripts/debug/tail_failed_pods
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_versions
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

OADP-148 Replace velero pod exec with local velero.
  must-gather/collection-scripts/logs/gather_logs_backup
  must-gather/collection-scripts/logs/gather_logs_restore
Due: none

Assorted small fixes for must-gather.
  must-gather/Dockerfile
  must-gather/collection-scripts/gather_versions
  must-gather/collection-scripts/logs/gather_logs_backup
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e
