Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci/prow/ci-index:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-unit-test:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

remove mediawiki pv, it is not used
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-csi-template.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-template.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Fix mysql/maria sample to have a sampleapp and data (#612)
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-csi-template.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-template.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Adding function to verify BackUp / Restore data
  tests/e2e/lib/apps.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix OADP-425
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix OADP-425 (#625)
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix OADP-425 for oadp-1.0
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix OADP-425 for oadp-1.0 (#626)
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update docs/examples, use ci templates and mysql
  docs/examples/csi_example.md
  docs/examples/manifests/mysql
  docs/examples/manifests/nginx
  docs/examples/stateful.md
  tests/e2e/sample-applications/deprecated/mssql-persistent/mssql-persistent-csi-template.yaml
  tests/e2e/sample-applications/deprecated/mssql-persistent/mssql-persistent-template.yaml
  tests/e2e/sample-applications/mssql-persistent/mssql-persistent-csi-template.yaml
  tests/e2e/sample-applications/mssql-persistent/mssql-persistent-template.yaml
  tests/e2e/sample-applications/mysql-persistent/VolumeSnapshotClass.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-backup.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-restore.yaml
  tests/e2e/sample-applications/nginx/nginx-deployment.yaml
  tests/e2e/sample-applications/nginx/nginx-stateless-backup.yaml
  tests/e2e/sample-applications/nginx/nginx-stateless-restore.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

update symlinks to be a relative path
  docs/examples/manifests/mysql
  docs/examples/manifests/nginx
Due: none

test travis
  .travis.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

prefix `v` to kubevirt tag
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Update upstream kubevirt tag in manager deployment env, preserve #611 changes in config (#615)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

OADP-329 - velero loglevel feature flag (#588)
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/velero.go
  controllers/velero_test.go
  docs/API_ref.md
  go.mod
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update docs/examples, use ci templates and mysql (#627)
  docs/examples/csi_example.md
  docs/examples/manifests/mysql
  docs/examples/manifests/nginx
  docs/examples/stateful.md
  tests/e2e/sample-applications/deprecated/mssql-persistent/mssql-persistent-csi-template.yaml
  tests/e2e/sample-applications/deprecated/mssql-persistent/mssql-persistent-template.yaml
  tests/e2e/sample-applications/mssql-persistent/mssql-persistent-csi-template.yaml
  tests/e2e/sample-applications/mssql-persistent/mssql-persistent-template.yaml
  tests/e2e/sample-applications/mysql-persistent/VolumeSnapshotClass.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-backup.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-restore.yaml
  tests/e2e/sample-applications/nginx/nginx-deployment.yaml
  tests/e2e/sample-applications/nginx/nginx-stateless-backup.yaml
  tests/e2e/sample-applications/nginx/nginx-stateless-restore.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Changing Credentials Mount Name for BSL for GCP
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fix DefaultPlugin for credentialsFile
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Changing Credentials Mount Name for BSL when CredentialsFile key is used in Config - Fixes CI (#637)
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Bring back `component: velero` label, fix OADP-452
  controllers/bsl.go
  controllers/monitor.go
  controllers/registry.go
  controllers/restic.go
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix component:server on deployment, unit test update
  controllers/registry.go
  controllers/velero.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add DPA to oc get all
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

decode secret
  blogs/oadp-odf/oadp-blog.md
Due: none

Table of Content*s*
  blogs/oadp-odf/oadp-blog.md
Due: none

Update oadp-blog.md
  blogs/oadp-odf/oadp-blog.md
Due: none

Direct docs to Customer Portal
  README.md
Due: none

Bring back `component: velero` label (#638)
  controllers/bsl.go
  controllers/monitor.go
  controllers/registry.go
  controllers/restic.go
  controllers/velero.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Don't getProviderSecret when noDefaultBackupLocation: true, backupImages: false (#607)
  controllers/validator.go
  controllers/validator_test.go
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add templateinstances to troubleshooting doc
  docs/TROUBLESHOOTING.md
Due: none

DNM, testing latest PR CI
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

DNM test PR CI on oadp-1.0 branch
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding verification for mysql
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding Openshift CI params
  Makefile
  tests/e2e/scripts/azure_settings.sh
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding azure parameters
  Makefile
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/scripts/azure_settings.sh
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Changing azure oadp cred dir to tmp
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding cred ref
  tests/e2e/dpa_deployment_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update Test Suite and Helpers
  tests/e2e/e2e_suite_test.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/kube_helpers.go
  tests/e2e/utils/common_utils.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Changing test instance name
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Removing OpenShift CI
  Makefile
  pkg/credentials/credentials.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fixing duplicate error
  tests/e2e/scripts/azure_settings.sh
Due: none

Changing the AWS BSL Profile to default
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile
