Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci/prow/ci-index:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-unit-test:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Fixing nits
  docs/design/datamover.md
Due: none

cli bucket name fix
  blogs/oadp-odf/oadp-blog.md
Due: none

update velero CRDs to konveyor-dev latest
  bundle/manifests/velero.io_backupstoragelocations.yaml
  config/crd/bases/velero.io_backupstoragelocations.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Running must gather after each tests
  Makefile
  tests/e2e/e2e_suite_test.go
  tests/e2e/lib/apps.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding gather_logs_without_zip script for the use case of #594
  must-gather/collection-scripts/gather_logs_without_zip
Due: none

Adding gather_logs_without_zip script for the use case of #594 (#599)
  must-gather/collection-scripts/gather_logs_without_zip
Due: none

Adding intial feedback
  docs/design/datamover.md
Due: none

Remove gp2 storage class
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-template.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Remove gp2 storage class (#601)
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-template.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Add kubevirt to pluginSpecificFields, rm unused var (#589)
  controllers/velero_test.go
  docs/developer/OnboardingDefaultPlugin.md
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update velero CRDs to konveyor-dev latest (#598)
  bundle/manifests/velero.io_backupstoragelocations.yaml
  config/crd/bases/velero.io_backupstoragelocations.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Adding gather_logs_without_zip parameter to RunMustGather
  tests/e2e/lib/apps.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding Multi Cloud Testing Docs
  docs/developer/testing/ MULTI_CLOUD_TESTING_UPDATES.md
  docs/developer/testing/TESTING.md
Due: none

remove support for `make deploy`
  Makefile
  docs/developer/install_olm.md
  docs/developer/olm_hacking.md
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fixing grammar, moving links to MD Links
  docs/developer/testing/ MULTI_CLOUD_TESTING_UPDATES.md
Due: none

Adding additional info regarding multiple profiles
  docs/developer/testing/ MULTI_CLOUD_TESTING_UPDATES.md
Due: none

Adding bulletins for credentials
  docs/developer/testing/ MULTI_CLOUD_TESTING_UPDATES.md
Due: none

Fixing spacing issues as its different from HackMD
  docs/developer/testing/ MULTI_CLOUD_TESTING_UPDATES.md
Due: none

Adding env params info
  docs/developer/testing/ MULTI_CLOUD_TESTING_UPDATES.md
Due: none

Fix basic review comments
  docs/developer/testing/ MULTI_CLOUD_TESTING_UPDATES.md
Due: none

Fix secret `=` edge case
  Makefile
  controllers/bucket_controller.go
  controllers/registry.go
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

revert `-d` for go-get-tool
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove `=` from azure match key
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add unit test case with `=` in secretkey value
  controllers/registry_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Copy ParseLevel function, use hardcoded error str
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

GHActions: Automatic catalog creation/update on push
  .github/workflows/edge-catalog.yml
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding feedback
  docs/design/datamover.md
Due: none

nit: changing the selector field name
  docs/design/datamover.md
Due: none

OADP-339: Introduce stable-1.0 channel
  build/Dockerfile.bundle
  bundle.Dockerfile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Include `make bundle`'s `yq` execution changes
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Don't getProviderSecret when noDefaultBackupLocation flag set
  controllers/validator.go
  controllers/validator_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add check that when NoDefaultBackupLocation is set, dpa.Spec.BackupImages is false
  controllers/validator.go
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix test case
  controllers/validator_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

nit: re consistentency of templates and PR#601
  tests/e2e/sample-applications/mssql-persistent/mssql-persistent-template.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

allow quotes and spaces + tests
  controllers/registry.go
  controllers/registry_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Remove space via replaceAll instead of trim
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-339: Introduce stable-1.0 channel (#606)
  build/Dockerfile.bundle
  bundle.Dockerfile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Adding OC CLI client env
  Makefile
  tests/e2e/e2e_suite_test.go
  tests/e2e/lib/apps.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Required CSV annotation for RH layered products
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile
