Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci/prow/ci-index:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-unit-test:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Adding datamoverenable check func
  controllers/datamover.go
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Removing GO exports and changing file name
  must-gather/Dockerfile
  must-gather/collection-scripts/gather_without_tls
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

fixing make bundle output issue
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

handle empty operator ns case
  main.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix function name typo
  main.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Correct API References property casing.
  docs/API_ref.md
Due: none

OADP-552: Add privileged pod security labels to operator namespace (#763)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  main.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Revert incorrect datamover changes.
  docs/API_ref.md
Due: none

link correction
  docs/API_ref.md
Due: none

correct logLevel options, bump velero docs version to 1.9
  docs/API_ref.md
Due: none

Adding bundle changes for vsb CR
  bundle/manifests/datamover.oadp.openshift.io_volumesnapshotbackups.yaml
  config/crd/bases/datamover.oadp.openshift.io_volumesnapshotbackups.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Add labels to PodConfig section
  docs/API_ref.md
Due: none

CSI e2e backupRestore test for cluster-profile Azure
  Makefile
  go.mod
  go.sum
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-csi-azure-template.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-csi-azure-template.yaml
  tests/e2e/sample-applications/snapclass-csi/azure.yaml
  tests/e2e/sample-applications/storageclass-csi/azure.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

adding more validations to restic secret check
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

edit restic secret desc in crd/bases & manifests
  bundle/manifests/datamover.oadp.openshift.io_volumesnapshotbackups.yaml
  config/crd/bases/datamover.oadp.openshift.io_volumesnapshotbackups.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Don't set resource limits
  controllers/restic_test.go
  controllers/velero.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-599: Auto create s3 restic secrets for volsync from BSLs (#747)
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/datamover.oadp.openshift.io_volumesnapshotbackups.yaml
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/datamover.oadp.openshift.io_volumesnapshotbackups.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/datamover.go
  controllers/datamover_test.go
  controllers/dpa_controller.go
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

bump to v0.0.0-20220727202820-c5f87df8fafd
  docs/API_ref.md
Due: none

updating design doc for data mover
  docs/design/datamover.md
Due: none

fixing repo url creation
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Use Min and Max K8s to skip the azure version
  Makefile
  go.mod
  go.sum
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/sample-applications/storageclass-csi/azure.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Move server version check outside Azure CSI conditional
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixing repo url creation (#775)
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

adding noobaa s3 repo
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

refractor s3 prefix
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update resource req limits doc
  docs/config/resource_req_limits.md
Due: none

Adding links to datamover, correct property names
  docs/API_ref.md
Due: none

handle panic for describe functions when backup fails
  tests/e2e/lib/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

reduce velero logs panic recover repeated code
  tests/e2e/lib/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-652: Adding noobaa s3 repo (#777)
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

CSI E2E backupRestore test for cluster-profile Azure on 4.10+ (#771)
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-csi-azure-template.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-csi-azure-template.yaml
  tests/e2e/sample-applications/snapclass-csi/azure.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-648 Don't set default pod resource limits (#773)
  controllers/restic_test.go
  controllers/velero.go
  controllers/velero_test.go
  docs/config/resource_req_limits.md
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Comment out GCP backupImage false, add unsupportedOverrides
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Clean up tamplates
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/sample-applications/gp2-csi/volumeSnapshotClass.yaml
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-csi-aws-template.yaml
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-csi-gcp-template.yaml
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-csi.yaml
  tests/e2e/sample-applications/mongo-persistent/pvc/aws.yaml
  tests/e2e/sample-applications/mongo-persistent/pvc/azure.yaml
  tests/e2e/sample-applications/mongo-persistent/pvc/gcp.yaml
  tests/e2e/sample-applications/mysql-persistent/VolumeSnapshotClass.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-csi-aws-template.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-csi-azure-template.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-csi-ibmcloud-template.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-csi.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent.yaml
  tests/e2e/sample-applications/mysql-persistent/pvc/aws.yaml
  tests/e2e/sample-applications/mysql-persistent/pvc/azure.yaml
  tests/e2e/sample-applications/mysql-persistent/pvc/gcp.yaml
  tests/e2e/sample-applications/mysql-persistent/pvc/ibmcloud.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Address review feedback
  docs/design/datamover.md
Due: none

Correct upstream API References property casing, bump velero docs version (#772)
  docs/API_ref.md
Due: none

OADP:613 updating design doc for data mover (#774)
  docs/design/datamover.md
Due: none

remove image overrides because https://github.com/openshift/openshift-velero-plugin/pull/151 is merged
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Clean up tamplates (#779)
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/sample-applications/gp2-csi/volumeSnapshotClass.yaml
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-csi-aws-template.yaml
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-csi-gcp-template.yaml
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-csi.yaml
  tests/e2e/sample-applications/mongo-persistent/pvc/aws.yaml
  tests/e2e/sample-applications/mongo-persistent/pvc/azure.yaml
  tests/e2e/sample-applications/mongo-persistent/pvc/gcp.yaml
  tests/e2e/sample-applications/mysql-persistent/VolumeSnapshotClass.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-csi-aws-template.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-csi-azure-template.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-csi-ibmcloud-template.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-csi.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent.yaml
  tests/e2e/sample-applications/mysql-persistent/pvc/aws.yaml
  tests/e2e/sample-applications/mysql-persistent/pvc/azure.yaml
  tests/e2e/sample-applications/mysql-persistent/pvc/gcp.yaml
  tests/e2e/sample-applications/mysql-persistent/pvc/ibmcloud.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add datamover support for azure blob storage
  api/v1alpha1/oadp_types.go
  controllers/datamover.go
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile
