Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile

Required CSV annotation for RH layered products
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Required CSV annotation for RH layered products (#610)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Required CSV annotation for RH layered products (#611)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

QEMU and multi-arch
  .github/workflows/edge-catalog.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

limit qemu platform
  .github/workflows/edge-catalog.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

platform define in single line
  .github/workflows/edge-catalog.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

limit platform in builds
  .github/workflows/edge-catalog.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Fix mysql/maria sample to have a sampleapp and data
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-csi-template.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-template.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

automate yq install with go install
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Preserve #611 bundle changes in config manifests
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Fix access key value containing `=` edge case (#603)
  Makefile
  controllers/bucket_controller.go
  controllers/registry.go
  controllers/registry_test.go
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove support for `make deploy` (#600)
  Makefile
  docs/developer/install_olm.md
  docs/developer/olm_hacking.md
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Redirect users to docs.openshift.com for install instructions.
  HACKING.md
  README.md
  TROUBLESHOOTING.md
Due: none

ImageStreamsBackup Custom Resource design
  docs/design/imagestream.md
Due: none

Add `ImageStreamsBackupReference`
  docs/design/imagestream.md
Due: none

start on completion
  docs/design/imagestream.md
Due: none

replace sha256 with dockerImageReferences field
  docs/design/imagestream.md
Due: none

clarify dockerImageReference registry path behavior on restore
  docs/design/imagestream.md
Due: none

dockerImageReferences must be a digest
  docs/design/imagestream.md
Due: none

Add alternative approach previously considered
  docs/design/imagestream.md
Due: none

add Why new controller?
  docs/design/imagestream.md
Due: none

approaches
  docs/design/imagestream.md
Due: none

Add benefits of velero post backup plugin
  docs/design/imagestream.md
Due: none

add to differences between restore and backup type
  docs/design/imagestream.md
Due: none

use todolist app vs. mediawiki
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-csi-template.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-template.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

ensure mariadb uses mysql as the meta name
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-csi-template.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-template.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

automate yq install with go install (#613)
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Running must gather after each tests (#594)
  Makefile
  tests/e2e/e2e_suite_test.go
  tests/e2e/lib/apps.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add e2e-app labels
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-csi-template.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-template.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Adding review comments
  docs/design/datamover.md
Due: none

Adding plugin clarification
  docs/design/datamover.md
Due: none

updating image to reflect the latest design
  docs/images/datamovercrd.png
Due: none

nit: re consistentency of templates and PR#601 (#608)
  tests/e2e/sample-applications/mssql-persistent/mssql-persistent-template.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Redirect users to docs.openshift.com for install instructions. (#617)
  HACKING.md
  README.md
  TROUBLESHOOTING.md
Due: none

Adding Multi Cloud Testing Docs (#602)
  docs/developer/testing/ MULTI_CLOUD_TESTING_UPDATES.md
  docs/developer/testing/TESTING.md
Due: none

Update edge-catalog.yml
  .github/workflows/edge-catalog.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Update CSV docs url
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Update CSV docs url (#620)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

fix mariadb local storage path
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-csi-template.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-template.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e
