Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile

Modified enhacement document and changed diagrams
  docs/design/velero-krm-enhancement.md
  docs/images/velero-exisitng-addon.png
  docs/images/velero-new-design.png
  docs/images/velero_phase2_design.png
  docs/images/velero_phase3_design.png
Due: none

add missed err handling
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Enable CSI testing for GCP (#744)
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-csi-aws-template.yaml
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-csi-gcp-template.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-csi-gcp-template.yaml
  tests/e2e/sample-applications/snapclass-csi/gcp.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update perms for snapshot.storage.k8s.io (#745)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

adding restic secret creation per bsl
  api/v1alpha1/oadp_types.go
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add missed err handling (#746)
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding per bsl restic secret creation
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixing minor bugs
  api/v1alpha1/oadp_types.go
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding owner ref
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add crd bases changes
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Update README "Velero Version Relationship" table
  README.md
Due: none

Update README "Velero Version Relationship" table (#748)
  README.md
Due: none

adding review feedback
  api/v1alpha1/oadp_types.go
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add more storage resource perms
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

remove delete verb
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Add more storage resource perms (#750)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

feedback changes
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

set env var for data-mover if enabled via dpa
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

set env var for data-mover if enabled via dpa (#751)
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-363 plugin-registry design, registry deployment removal proposal (#737)
  docs/design/plugin-registry.md
  docs/design/plugin-registry.svg
Due: none

adding review feedback
  api/v1alpha1/oadp_types.go
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/datamover.go
  controllers/datamover_test.go
  controllers/velero.go
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

adding manifest changes
  api/v1alpha1/oadp_types.go
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixing typpo
  api/v1alpha1/oadp_types.go
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

adding checks
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/datamover.go
  controllers/velero.go
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

check for volsync install for data mover
  controllers/datamover.go
  pkg/common/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

comment out empty func
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove registry unsupportedOverride key
  api/v1alpha1/oadp_types.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove commented code
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

wip
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Remove func and tests for code deprecated or moved to plugin repo
  controllers/registry.go
  controllers/registry_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove registry from CSV
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

add name/ns to deletion event message
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove registry deployment waits, add TODO for s3 check
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add OPENSHIFT_IMAGESTREAM_BACKUP env to velero container
  controllers/velero.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

force velero loglevel to debug to expose registry logs
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Print velero container logs after each entry
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

log build object
  tests/e2e/lib/apps.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

typo
  tests/e2e/lib/apps.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ignore debug logs we don't care about
  tests/e2e/lib/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove FEntry
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test
