Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile

Adding test cases for profile matching
  controllers/registry_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add awsSecretDataWithMissingProfile
  controllers/registry_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

cluster-wide proxy
  api/v1alpha1/zz_generated.deepcopy.go
  controllers/registry.go
  controllers/restic.go
  controllers/restic_test.go
  controllers/velero.go
  controllers/velero_test.go
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove unused go-cmp
  go.mod
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding must-gather for oadp
  must-gather/Dockerfile
  must-gather/Makefile
  must-gather/README.md
  must-gather/collection-scripts/_metrics_chart_template_part_1.html
  must-gather/collection-scripts/_metrics_chart_template_part_2.html
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_crs
  must-gather/collection-scripts/gather_logs
  must-gather/collection-scripts/gather_metrics
  must-gather/collection-scripts/gather_metrics_dump
  must-gather/collection-scripts/gather_pprof
  must-gather/collection-scripts/logs/gather_logs_backup
  must-gather/collection-scripts/logs/gather_logs_pods
  must-gather/collection-scripts/logs/gather_logs_pvb
  must-gather/collection-scripts/logs/gather_logs_pvr
  must-gather/collection-scripts/logs/gather_logs_restore
  must-gather/collection-scripts/pwait
  must-gather/collection-scripts/time_window_gather/gather_1h
  must-gather/collection-scripts/time_window_gather/gather_1h_essential
  must-gather/collection-scripts/time_window_gather/gather_24h
  must-gather/collection-scripts/time_window_gather/gather_24h_essential
  must-gather/collection-scripts/time_window_gather/gather_6h
  must-gather/collection-scripts/time_window_gather/gather_6h_essential
  must-gather/collection-scripts/time_window_gather/gather_72h
  must-gather/collection-scripts/time_window_gather/gather_72h_essential
  must-gather/collection-scripts/time_window_gather/gather_all
  must-gather/collection-scripts/time_window_gather/gather_all_essential
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update developer doc with vs debug instructions
  docs/developer/TESTING.md
Due: none

update developer doc with vs debug instructions (#464)
  docs/developer/TESTING.md
Due: none

Cluster wide proxy (#462)
  api/v1alpha1/zz_generated.deepcopy.go
  controllers/registry.go
  controllers/restic.go
  controllers/restic_test.go
  controllers/velero.go
  controllers/velero_test.go
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Exit loop if none of the secret file pattern matches (#460)
  controllers/registry.go
  controllers/registry_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Removing extras
  tests/e2e/e2e_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Added changes from #330
  Makefile
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/common.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding extra changes
  tests/e2e/velero_deployment_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding unstaged changes for gcp
  Makefile
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

go mod
  config/samples/oadp_v1alpha1_velero_gcp.yaml
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Removing memory profile & changing log pat
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_logs
  must-gather/collection-scripts/gather_pprof
Due: none

Editing prom metrics
  must-gather/collection-scripts/gather_metrics
Due: none

deploy-olm vars can be overriden
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Editing log path for cr files
  must-gather/collection-scripts/gather_crs
Due: none

Removing MTC references
  must-gather/README.md
  must-gather/collection-scripts/logs/gather_logs_pods
Due: none

enhance backup/restore error by adding velero logs
  tests/e2e/backup.go
  tests/e2e/restore.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Multi Cloud Changes for AWS (#454)
  Makefile
  config/samples/oadp_v1alpha1_velero_gcp.yaml
  go.sum
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/common.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

deploymentconfig troubleshooting
  TROUBLESHOOTING.md
Due: none

Updated template to basic bsl format
  tests/e2e/templates/velero_bsl_template.tmpl
Due: none

Updated tests to read dynamic test data
  tests/e2e/velero_yaml_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

enhance backup/restore error by adding velero logs (#469)
  tests/e2e/backup.go
  tests/e2e/restore.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Deleting a velero resource will take down the controller thread (#455)
  controllers/velero_controller.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Rework API for generic DPA (#433)
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/oadp_types.go
  api/v1alpha1/velero_types.go
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Rename everything for DPA (#456)
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_veleroes.yaml
  config/rbac/role.yaml
  controllers/bsl.go
  controllers/bsl_test.go
  controllers/dpa_controller.go
  controllers/registry.go
  controllers/registry_test.go
  controllers/restic.go
  controllers/restic_test.go
  controllers/restore_resource_version_priority.go
  controllers/velero.go
  controllers/velero_test.go
  controllers/vsl.go
  controllers/vsl_test.go
  main.go
  pkg/credentials/credentials.go
  pkg/credentials/credentials_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

E2E tests are passinggit statusgit status!
  api/v1alpha1/oadp_types.go
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  config/samples/oadp_v1alpha1_dpa.yaml
  tests/e2e/restic_helpers.go
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OLM updates
  Makefile
  bundle/manifests/dpa-editor-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/dpa-viewer-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  bundle/manifests/oadp.openshift.io_veleroes.yaml
  bundle/metadata/annotations.yaml
  config/crd/patches/cainjection_in_dpas.yaml
  config/crd/patches/webhook_in_dpas.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
  config/samples/kustomization.yaml
  config/samples/oadp_v1alpha1_velero.yaml
  config/velero/dpa_editor_role.yaml
  config/velero/dpa_viewer_role.yaml
  config/velero/kustomization.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Remove ttl.sh reference
  config/manager/kustomization.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Update all the controllers for new API
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/bsl.go
  controllers/registry.go
  controllers/restic.go
  controllers/restore_resource_version_priority.go
  controllers/velero.go
  controllers/vsl.go
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update unit test for bsl, vsl, registry and credentials
  controllers/bsl_test.go
  controllers/registry_test.go
  controllers/vsl_test.go
  pkg/credentials/credentials_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Remove focus
  tests/e2e/velero_deployment_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

More test updates
  config/crd/kustomization.yaml
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Remove all multiple VSL tests
  config/samples/oadp_v1alpha1_dpa.yaml
  tests/e2e/velero_deployment_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fix bsl tests
  controllers/bsl.go
  controllers/bsl_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Final updates to API and tests
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/registry.go
  controllers/registry_test.go
  controllers/vsl.go
  controllers/vsl_test.go
  docs/API_ref.md
  tests/e2e/plugins_helpers.go
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update CSV bundle
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e
