Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci/prow/ci-index:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-unit-test:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

bump probe to 10s (#718)
  controllers/registry.go
  controllers/registry_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

set podman/docker build platform to linux/amd64
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add deletecollection for pvcs
  config/rbac/role.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

update csv
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

consistent formatting nit
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

set podman/docker build platform to linux/amd64 for dev cluster (#735)
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

plugin-registry design
  docs/design/plugin-registry.md
Due: none

indent, add info on generated transport name
  docs/design/plugin-registry.md
Due: none

Add deletecollection for pvcs (#736)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Change data before preBackup and compare data after restore.
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/lib/apps.go
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-csi-template.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

updating CRDs and velero go mod dep for 1.9 release branch
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/velero.io_backupstoragelocations.yaml
  bundle/manifests/velero.io_deletebackuprequests.yaml
  bundle/manifests/velero.io_downloadrequests.yaml
  bundle/manifests/velero.io_podvolumebackups.yaml
  bundle/manifests/velero.io_podvolumerestores.yaml
  bundle/manifests/velero.io_resticrepositories.yaml
  bundle/manifests/velero.io_schedules.yaml
  bundle/manifests/velero.io_serverstatusrequests.yaml
  config/crd/bases/velero.io_backupstoragelocations.yaml
  config/crd/bases/velero.io_deletebackuprequests.yaml
  config/crd/bases/velero.io_downloadrequests.yaml
  config/crd/bases/velero.io_podvolumebackups.yaml
  config/crd/bases/velero.io_podvolumerestores.yaml
  config/crd/bases/velero.io_resticrepositories.yaml
  config/crd/bases/velero.io_schedules.yaml
  config/crd/bases/velero.io_serverstatusrequests.yaml
  config/manager/manager.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
  config/velero/velero.yaml
  controllers/velero_test.go
  go.mod
  go.sum
  pkg/common/common.go
  pkg/credentials/credentials_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add scc check for mongo
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add udistribution details and linked lucidchart
  docs/design/plugin-registry.md
  docs/design/plugin-registry.svg
Due: none

allow empty volumesnapshotlist
  tests/e2e/lib/apps.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Created Enhancement document for adding KRM functions
  docs/design/velero-krm-enhancement.md
  docs/images/velero-exisitng-addon.png
  docs/images/velero-new-design.png
Due: none

update to VolumeSnapshotContent
  tests/e2e/lib/apps.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-572 updating CRDs and velero go mod dep for konveyor-1.9 branch (#738)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/velero.io_backupstoragelocations.yaml
  bundle/manifests/velero.io_deletebackuprequests.yaml
  bundle/manifests/velero.io_downloadrequests.yaml
  bundle/manifests/velero.io_podvolumebackups.yaml
  bundle/manifests/velero.io_podvolumerestores.yaml
  bundle/manifests/velero.io_resticrepositories.yaml
  bundle/manifests/velero.io_schedules.yaml
  bundle/manifests/velero.io_serverstatusrequests.yaml
  config/crd/bases/velero.io_backupstoragelocations.yaml
  config/crd/bases/velero.io_deletebackuprequests.yaml
  config/crd/bases/velero.io_downloadrequests.yaml
  config/crd/bases/velero.io_podvolumebackups.yaml
  config/crd/bases/velero.io_podvolumerestores.yaml
  config/crd/bases/velero.io_resticrepositories.yaml
  config/crd/bases/velero.io_schedules.yaml
  config/crd/bases/velero.io_serverstatusrequests.yaml
  config/manager/manager.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
  config/velero/velero.yaml
  controllers/velero_test.go
  go.mod
  go.sum
  pkg/common/common.go
  pkg/credentials/credentials_test.go
  tests/e2e/lib/apps.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding data checks for mongo with todolist, add mongo CSI entry (#734)
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/lib/apps.go
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-csi-template.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

check for volsync deployment if enableDataMover
  controllers/datamover.go
  pkg/common/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

replaces with
  docs/design/plugin-registry.md
Due: none

motivation and goals
  docs/design/plugin-registry.md
Due: none

drivers
  docs/design/plugin-registry.md
Due: none

clarify environment variables and udistribution parameters
  docs/design/plugin-registry.md
Due: none

clarify log level
  docs/design/plugin-registry.md
Due: none

e2e checks for images in object store.
  docs/design/plugin-registry.md
Due: none

bsl rewording
  docs/design/plugin-registry.md
Due: none

clarify how images data will exists in object store
  docs/design/plugin-registry.md
Due: none

Add details about App's ServeHTTP function
  docs/design/plugin-registry.md
Due: none

link NewTransportFromNewConfig function
  docs/design/plugin-registry.md
Due: none

reword ServeHTTP explaination
  docs/design/plugin-registry.md
Due: none

link modified makeRequestsToResolvedURLOnce
  docs/design/plugin-registry.md
Due: none

initializes Registry App
  docs/design/plugin-registry.md
Due: none

specified in dpa BSLs.
  docs/design/plugin-registry.md
Due: none

Remove alternative from non-goal
  docs/design/plugin-registry.md
Due: none

reword
  docs/design/plugin-registry.md
Due: none

add e2e case to test plan
  docs/design/plugin-registry.md
Due: none

simplify design diagram, add some UML
  docs/design/plugin-registry.svg
Due: none

Enable CSI testing for GCP
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-csi-gcp-template.yaml
  tests/e2e/sample-applications/snapclass-csi/gcp.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update mongo-persistent-csi for GCP
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-csi-aws-template.yaml
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-csi-gcp-template.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update perms for snapshot.storage.k8s.io
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile
