Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile

implement GCP WIF support
  controllers/dpa_controller.go
  controllers/velero.go
  pkg/client/client.go
  pkg/credentials/credentials.go
  pkg/credentials/credentials_test.go
  pkg/credentials/gcp.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix: README OCP versions for E2E tests (#1148)
  README.md
Due: none

Add .dockerignore (#1103)
  .dockerignore
Due: none

Add .dockerignore
  .dockerignore
Due: none

Refactor shell code to Go
  docs/examples/datamover_resources.sh
  docs/examples/debug.md
  docs/examples/getDataMoverResources.go
  docs/oadp_cheat_sheet.md
  go.mod
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Support the standardized STS configuration flow via OLM and CCO for OADP
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/bucket_controller.go
  go.mod
  main.go
  pkg/bucket/client.go
  pkg/common/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add role arn instructions in operator description
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  tests/e2e/sample-applications/nginx/nginx-stateless-backup.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

fix bundle test
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
  go.mod
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix: CRD description of default restore resource priorities
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/velero.go
  controllers/velero_test.go
  pkg/common/common.go
  pkg/velero/server/config.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-2505: Add additional types to default restore priorities (#1147)
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/velero.go
  controllers/velero_test.go
  pkg/common/common.go
  pkg/velero/server/config.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

minor fixes
  main.go
  tests/e2e/sample-applications/nginx/nginx-stateless-backup.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Welcome docs back to Dockerfiles
  .dockerignore
Due: none

Apply suggestions from code review
  .dockerignore
Due: none

Welcome docs back to Dockerfiles (#1152)
  .dockerignore
Due: none

fix: OADP-2094 Always check restore resource priorities
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/velero.go
  controllers/velero_test.go
  pkg/common/common.go
  pkg/velero/server/config.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix: OADP-2094 Always check restore resource priorities (#1139)
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/velero.go
  controllers/velero_test.go
  pkg/common/common.go
  pkg/velero/server/config.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

[oadp-1.2] Add .dockerignore (#1150)
  .dockerignore
Due: none

address PR feedback
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/bucket_controller.go
  main.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

minor updates
  controllers/bucket_controller.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix nits
  main.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add relevant logs
  controllers/bucket_controller.go
  main.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix: Testing instructions
  Makefile
  docs/developer/testing/TESTING.md
  go.mod
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-2112: Support the standardized STS configuration flow via OLM and CCO for OADP (#1106)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/bucket_controller.go
  main.go
  pkg/bucket/client.go
  pkg/common/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

[oadp-1.2] OADP-2112: Support the standardized STS configuration flow via OLM and CCO for OADP (#1154)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/bucket_controller.go
  main.go
  pkg/bucket/client.go
  pkg/common/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

New infrastructure annotation format
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Address review feedback
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

make bundle
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Remove comments
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e
