Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci/prow/ci-index:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-unit-test:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

add VERY basic block pv setup
  tests/e2e/sample-applications/block-pv/Dockerfile
  tests/e2e/sample-applications/block-pv/notes.txt
  tests/e2e/sample-applications/block-pv/pod.yaml
  tests/e2e/sample-applications/block-pv/pv.yaml
  tests/e2e/sample-applications/block-pv/pvc.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

add VERY basic block pv setup (#1005)
  tests/e2e/sample-applications/block-pv/Dockerfile
  tests/e2e/sample-applications/block-pv/notes.txt
  tests/e2e/sample-applications/block-pv/pod.yaml
  tests/e2e/sample-applications/block-pv/pv.yaml
  tests/e2e/sample-applications/block-pv/pvc.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

SC to datamover api
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/datamover.go
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Remove hard-coded namespace from debug example.
  must-gather/collection-scripts/debug/tail_failed_pods
Due: none

OADP-1931: Update description in CSV
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Remove hard-coded namespace from debug example. (#1007)
  must-gather/collection-scripts/debug/tail_failed_pods
Due: none

check for existing sc in cluster
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-1931: Update description in CSV (#1008)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Redirect users to oc-explain for references. (#990)
  .gitignore
  docs/API_ref.md
Due: none

Remove hard-coded namespace from debug example. (#1009)
  must-gather/collection-scripts/debug/tail_failed_pods
Due: none

OADP-148 First attempt at speeding up must-gather. (#1002)
  must-gather/Dockerfile
  must-gather/collection-scripts/gather_versions
  must-gather/collection-scripts/logs/gather_logs_backup
  must-gather/collection-scripts/logs/gather_logs_restore
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Assorted small fixes for must-gather.
  must-gather/Dockerfile
  must-gather/collection-scripts/gather_versions
  must-gather/collection-scripts/logs/gather_logs_backup
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

OADP-148 Replace velero pod exec with local velero.
  must-gather/collection-scripts/logs/gather_logs_backup
  must-gather/collection-scripts/logs/gather_logs_restore
Due: none

OADP-1931: Update description in CSV (#1010)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Validation to ensure vsm plugin is removed from DPA if DM is false
  controllers/validator.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update validation error message
  controllers/validator.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-1844: Validation to ensure vsm plugin is removed from DPA if DM is false (#1012)
  controllers/validator.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update documentation for datamover and docs/faq
  README.md
  docs/examples/data_mover.md
Due: none

[oadp-1.2] OADP-1844: Validation to ensure vsm plugin is removed from DPA if DM is false (#1013)
  controllers/validator.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

shallow-copy only impacts backup times
  docs/examples/data_mover.md
Due: none

default moverSecurityContext to true for datamover
  api/v1alpha1/oadp_types.go
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update documentation for datamover and docs/faq (#1014)
  README.md
  docs/examples/data_mover.md
Due: none

[oadp-1.2] OADP-148 First attempt at speeding up must-gather. (#1011)
  must-gather/Dockerfile
  must-gather/collection-scripts/gather_versions
  must-gather/collection-scripts/logs/gather_logs_backup
  must-gather/collection-scripts/logs/gather_logs_restore
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

oadp-1.1: OADP-1557 Add all velero server args supported to DPA (#987)
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/common.go
  controllers/dpa_controller.go
  controllers/monitor.go
  controllers/restic.go
  controllers/restore_resource_version_priority.go
  controllers/validator.go
  controllers/velero.go
  controllers/velero_test.go
  go.mod
  go.sum
  pkg/common/common.go
  pkg/common/common_test.go
  pkg/klog/klog.go
  pkg/klog/zz_generated.deepcopy.go
  pkg/velero/client/config.go
  pkg/velero/client/zz_generated.deepcopy.go
  pkg/velero/server/args.go
  pkg/velero/server/config.go
  pkg/velero/server/zz_generated.deepcopy.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

default moverSecurityContext to true for datamover (#1015)
  api/v1alpha1/oadp_types.go
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-1927: Fix VSL secret validation
  controllers/vsl.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

oadp-1.2 changes.
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/velero_test.go
  pkg/klog/klog.go
  pkg/velero/server/args.go
  pkg/velero/server/config.go
  pkg/velero/server/zz_generated.deepcopy.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Use 4h for fs-backup-timeout
  api/v1alpha1/oadp_types.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

use oadp restic default timeout of 1h
  api/v1alpha1/oadp_types.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-1927: Fix VSL secret validation (#1018)
  controllers/vsl.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

bundle updates
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Use typed strings for accessMode
  api/v1alpha1/oadp_types.go
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add spec.features.datamover.storageclass to e2e with provider storageclass name.
  go.mod
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/dpa_helpers_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

default moverSecurityContext to true for datamover (#1017)
  api/v1alpha1/oadp_types.go
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile
