Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci/prow/ci-index:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-unit-test:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Update restic_troubleshooting.md
  docs/restic_troubleshooting.md
Due: none

Update docs/oadp_cheat_sheat.md
  docs/oadp_cheat_sheat.md
Due: none

Cheat sheet (#1074)
  docs/oadp_cheat_sheat.md
Due: none

Restic troubleshooting (#1075)
  docs/restic_troubleshooting.md
Due: none

Add volsync cron expression support
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update schedule paramter description
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add rosa sts mobb doc to troubleshooting
  docs/TROUBLESHOOTING.md
Due: none

add rosa sts mobb doc to troubleshooting (#1083)
  docs/TROUBLESHOOTING.md
Due: none

Make use of restic secret to pass datamover retain policy instead of datamover config map (#1079)
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-2048:Add volsync cron expression support (#1080)
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-2048:Add volsync cron expression support (#1080) (#1084)
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix typo in cheet_sheet file name
  docs/oadp_cheat_sheet.md
Due: none

another typo in url
  docs/TROUBLESHOOTING.md
Due: none

fix typo in cheat_sheet file name (#1085)
  docs/TROUBLESHOOTING.md
  docs/oadp_cheat_sheet.md
Due: none

fix: update few details
  blogs/data-mover/data-mover-1.2.0-overview.md
Due: none

OADP-2045: WIP Remove the unused dataMover.timeout field
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/validator.go
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix tests/e2e
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix the comment for maxConcurrentBackupVolume
  api/v1alpha1/oadp_types.go
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Documentation for the OADP Monitoring stack
  docs/examples/manifests/user_monitoring/1_enable_user_workload_monitoring.yaml
  docs/examples/manifests/user_monitoring/2_configure_user_workload_monitoring.yaml
  docs/examples/manifests/user_monitoring/3_create_oadp_service_monitor.yaml
  docs/examples/manifests/user_monitoring/4_create_oadp_alert_rule.yaml
  docs/images/metrics_targets.png
  docs/images/oadp_backup_failing_alert.png
  docs/images/oadp_metrics_query.png
  docs/oadp_monitoring.md
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Documentation for the OADP Monitoring stack (#1082)
  docs/examples/manifests/user_monitoring/1_enable_user_workload_monitoring.yaml
  docs/examples/manifests/user_monitoring/2_configure_user_workload_monitoring.yaml
  docs/examples/manifests/user_monitoring/3_create_oadp_service_monitor.yaml
  docs/examples/manifests/user_monitoring/4_create_oadp_alert_rule.yaml
  docs/images/metrics_targets.png
  docs/images/oadp_backup_failing_alert.png
  docs/images/oadp_metrics_query.png
  docs/oadp_monitoring.md
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

updating to velero main (1.12 devel)
  Dockerfile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  bundle/manifests/velero.io_backuprepositories.yaml
  bundle/manifests/velero.io_backups.yaml
  bundle/manifests/velero.io_backupstoragelocations.yaml
  bundle/manifests/velero.io_datadownloads.yaml
  bundle/manifests/velero.io_datauploads.yaml
  bundle/manifests/velero.io_deletebackuprequests.yaml
  bundle/manifests/velero.io_downloadrequests.yaml
  bundle/manifests/velero.io_podvolumebackups.yaml
  bundle/manifests/velero.io_podvolumerestores.yaml
  bundle/manifests/velero.io_restores.yaml
  bundle/manifests/velero.io_schedules.yaml
  bundle/manifests/velero.io_serverstatusrequests.yaml
  bundle/manifests/velero.io_volumesnapshotlocations.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/velero.io_backuprepositories.yaml
  config/crd/bases/velero.io_backups.yaml
  config/crd/bases/velero.io_backupstoragelocations.yaml
  config/crd/bases/velero.io_datadownloads.yaml
  config/crd/bases/velero.io_datauploads.yaml
  config/crd/bases/velero.io_deletebackuprequests.yaml
  config/crd/bases/velero.io_downloadrequests.yaml
  config/crd/bases/velero.io_podvolumebackups.yaml
  config/crd/bases/velero.io_podvolumerestores.yaml
  config/crd/bases/velero.io_restores.yaml
  config/crd/bases/velero.io_schedules.yaml
  config/crd/bases/velero.io_serverstatusrequests.yaml
  config/crd/bases/velero.io_volumesnapshotlocations.yaml
  config/crd/kustomization.yaml
  controllers/bucket_controller.go
  controllers/suite_test.go
  go.mod
  go.sum
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/must-gather_suite_test.go
  tests/e2e/utils/common_utils.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci-Dockerfile update to go1.20
  build/ci-Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

ci-Dockerfile: `chmod -R 777 $(go env GOPATH)`
  build/ci-Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

use konveyor/builder:latest
  build/ci-Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

e2e: Wait for VSB to cleanup before simulating disaster
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/lib/apps.go
  tests/e2e/must-gather_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update docs to reflect new VSL credentials field
  docs/credentials.md
Due: none

Update docs to reflect new VSL credentials field (#1090)
  docs/credentials.md
Due: none

Mark data mover e2e pending
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/must-gather_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

mark restic tests pending, to be resolved in velero rebase PR.
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Suggestion from last scrum
  blogs/data-mover/data-mover-1.2.0-overview.md
  blogs/data-mover/data-mover-backup.png
  blogs/data-mover/data-mover-restore.png
Due: none

point to 1.2 branch for velero and csi plugin on master
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  controllers/suite_test.go
  controllers/velero_test.go
  pkg/common/common.go
  pkg/credentials/credentials_test.go
  tests/e2e/must-gather_suite_test.go
  tests/e2e/utils/common_utils.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

rearrange vsb/vsr feilds, update volsync repo
  blogs/data-mover/data-mover-1.2.0-overview.md
Due: none

add `/opt/app-root/src/go/bin` to GOPATH to expose ginkgo CLI
  build/ci-Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Update data-mover-1.2.0-overview.md
  blogs/data-mover/data-mover-1.2.0-overview.md
Due: none

e2e: ignore level=debug logs containing "error"
  tests/e2e/lib/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update blogs/data-mover/data-mover-1.2.0-overview.md
  blogs/data-mover/data-mover-1.2.0-overview.md
Due: none

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile
