Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci/prow/ci-index:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-unit-test:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

removed vsphere from source manager config (#520)
  config/manager/manager.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Update README.md
  README.md
Due: none

badge relocate
  README.md
Due: none

badge relocate (#521)
  README.md
Due: none

Check more than one velero pod, log status if not running.
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/subscription_suite_test.go
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Made changes to rename Velero occurences to Dpa
  tests/e2e/templates/velero_bsl_template.tmpl
  tests/e2e/velero_helpers.go
  tests/e2e/velero_yaml_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Replaced Velero naming with DPA
  tests/e2e/templates/dpa_template.tmpl
  tests/e2e/velero_helpers.go
  tests/e2e/velero_yaml_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Added aws as profile for cluster test run
  tests/e2e/templates/dpa_template.tmpl
  tests/e2e/velero_yaml_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Rebase changes with the new OADP API (#479)
  Makefile
  config/samples/oadp_v1alpha1_velero_gcp.yaml
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/common.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/subscription_suite_test.go
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

GCP Credentials Mount (#494)
  controllers/registry.go
  pkg/credentials/credentials.go
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding CRED Files for diff. envs.
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Updating Makefile with GCP variables
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Changing cluster type
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove prometheus role and rolebinding creation
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/dpa_controller.go
  controllers/monitor.go
  controllers/monitor_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Updating metrics
  must-gather/collection-scripts/gather_metrics
Due: none

Adding prometheus metrics to OADP must-gather (#508)
  must-gather/collection-scripts/gather_metrics
Due: none

Adding necessary credential changes for azure
  docs/examples/manifests/mssql-backup.yaml
  oadp_v1alpha1_dpa_azure.yaml
  pkg/credentials/credentials.go
  tests/e2e/common.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Refactoring azure config
  config/manager/kustomization.yaml
  oadp_v1alpha1_dpa_azure.yaml
  tests/e2e/e2e_suite_test.go
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update makefile
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add BslStorageAccountAccessKey
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/common.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/subscription_suite_test.go
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding helpers
  tests/e2e/e2e_suite_test.go
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding storage account access key
  oadp_v1alpha1_dpa_azure.yaml
  tests/e2e/velero_deployment_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Correcting controllers and test
  controllers/bsl.go
  controllers/registry.go
  tests/e2e/velero_deployment_suite_test copy.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Moving AWS to private tests
  tests/e2e/velero_deployment_suite_test copy.go
  tests/e2e/velero_deployment_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update e2e tests velero label
  tests/e2e/subscription_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding ability for a BSL with credentials to pass validation.
  controllers/validator_test.go
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Enable ingestion of the exposed metrics by openshift-montoring (#410)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/rbac/role.yaml
  controllers/dpa_controller.go
  controllers/monitor.go
  controllers/monitor_test.go
  controllers/velero.go
  controllers/velero_test.go
  go.mod
  go.sum
  main.go
  tests/e2e/subscription_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update troubleshooting docs for Restic backup failure
  docs/TROUBLESHOOTING.md
Due: none

Adding ability for a BSL with credentials to pass validation. (#524)
  controllers/validator_test.go
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Bundle updates for oadp 0.5.4
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Adding secrets watch
  controllers/bsl.go
  controllers/dpa_controller.go
  controllers/predicate.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Refactor openshift ci and normal mode
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding back tests
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-193: Fix restic enablement with custom BSL secret
  controllers/restic.go
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Revert config
  config/manager/kustomization.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

New structural changes to test repo
  Makefile
  go.mod
  go.sum
  tests/e2e/lib/apps.go
  tests/e2e/lib/backup.go
  tests/e2e/lib/plugins_helpers.go
  tests/e2e/lib/registry_helpers.go
  tests/e2e/lib/restic_helpers.go
  tests/e2e/lib/restore.go
  tests/e2e/lib/subscription_helpers.go
  tests/e2e/lib/velero_helpers.go
  tests/e2e/suites/backup_restore_suite_test.go
  tests/e2e/suites/e2e_suite_test.go
  tests/e2e/suites/subscription_suite_test.go
  tests/e2e/suites/velero_deployment_suite_test.go
  tests/e2e/utils/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

persisting label changes
  controllers/bsl.go
  controllers/dpa_controller.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Changing bucket names
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Check for error in jsondata
  tests/e2e/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Cleaning up
  docs/examples/manifests/mssql-backup.yaml
  oadp_v1alpha1_dpa_azure.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile
