Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci/prow/ci-index:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-unit-test:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

rename volumeoptions sc
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/datamover.go
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update crds
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

master: OADP-1182 - Velero server args in DPA (#1016)
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/common.go
  controllers/dpa_controller.go
  controllers/monitor.go
  controllers/restic.go
  controllers/restore_resource_version_priority.go
  controllers/validator.go
  controllers/velero.go
  controllers/velero_test.go
  go.mod
  go.sum
  pkg/common/common.go
  pkg/common/common_test.go
  pkg/klog/klog.go
  pkg/klog/zz_generated.deepcopy.go
  pkg/velero/client/config.go
  pkg/velero/client/zz_generated.deepcopy.go
  pkg/velero/server/args.go
  pkg/velero/server/config.go
  pkg/velero/server/zz_generated.deepcopy.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

watch volumemover resources live
  docs/examples/datamover_resources.sh
  docs/examples/debug.md
Due: none

oadp-1.2: OADP-1182 - Velero server args in DPA (#1016)
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/bucket_controller.go
  controllers/common.go
  controllers/dpa_controller.go
  controllers/monitor.go
  controllers/restic.go
  controllers/restore_resource_version_priority.go
  controllers/suite_test.go
  controllers/validator.go
  controllers/velero.go
  controllers/velero_test.go
  go.mod
  go.sum
  pkg/common/common.go
  pkg/common/common_test.go
  pkg/klog/klog.go
  pkg/klog/zz_generated.deepcopy.go
  pkg/velero/client/config.go
  pkg/velero/client/zz_generated.deepcopy.go
  pkg/velero/server/args.go
  pkg/velero/server/config.go
  pkg/velero/server/zz_generated.deepcopy.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add directions
  docs/examples/debug.md
Due: none

add restore example
  docs/examples/debug.md
Due: none

set privledged to false
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-twovol-csi.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

don't change go.mod in ci
  build/ci-Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

OADP-1927: Add unit test for custom BSL and VSL secret
  controllers/validator_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-1927: Add unit test for custom BSL and VSL secret (#1023)
  controllers/validator_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

oadp-1.2: OADP-1182 - Velero server args in DPA (#1016) (#1020)
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  build/ci-Dockerfile
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/bucket_controller.go
  controllers/common.go
  controllers/dpa_controller.go
  controllers/monitor.go
  controllers/restic.go
  controllers/restore_resource_version_priority.go
  controllers/suite_test.go
  controllers/validator.go
  controllers/velero.go
  controllers/velero_test.go
  go.mod
  go.sum
  pkg/common/common.go
  pkg/common/common_test.go
  pkg/klog/klog.go
  pkg/klog/zz_generated.deepcopy.go
  pkg/velero/client/config.go
  pkg/velero/client/zz_generated.deepcopy.go
  pkg/velero/server/args.go
  pkg/velero/server/config.go
  pkg/velero/server/zz_generated.deepcopy.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fix `ProviderStorageClassName()` relative path
  go.mod
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/dpa_helpers_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-1821: storageClass mapping for data mover volumeOptions (#1006)
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/datamover.go
  go.mod
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/dpa_helpers_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

oadp-1.2: OADP-1182 - Velero server args in DPA (#1016) (#1020)
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/datamover.go
  go.mod
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/dpa_helpers_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Make deploy-olm work in master
  Makefile
  api/v1alpha1/groupversion_info.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/bucket_controller.go
  controllers/datamover.go
  controllers/suite_test.go
  controllers/velero_test.go
  go.mod
  go.sum
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/lib/apps.go
  tests/e2e/lib/restore.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

avoid ginkgo go mod updates
  build/ci-Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

oadp-1.2: OADP-1182 - Velero server args in DPA (#1016) (#1020) (#1025)
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/datamover.go
  go.mod
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/dpa_helpers_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Remove reference to unknown revision `github.com/openshift/api v3.9.0`
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update help, and sure help w/ no options
  docs/examples/datamover_resources.sh
Due: none

OADP-1931: Update description in CSV (#1008)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Revert 'oneliner' description
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Remove reference to unknown revision `github.com/openshift/api v3.9.0` (#1026)
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

set privledged to false (#1022)
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-twovol-csi.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Volumemover live debug (#1021)
  docs/examples/datamover_resources.sh
  docs/examples/debug.md
Due: none

OADP-1931: Update description in CSV (#1008) (#1027)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

test lord emily's image
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Use readWriteOnce accessMode for sourceVolumeOptions
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

[oadp-1.2] OADP-1931: Update description in CSV (#1008) (#1029)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Use readWriteOnce accessMode for sourceVolumeOptions (#1031)
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

set privledged to false (#1028)
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-twovol-csi.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Update openshift/velero references in go.mod (#1024)
  Makefile
  api/v1alpha1/groupversion_info.go
  build/ci-Dockerfile
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/bucket_controller.go
  controllers/datamover.go
  controllers/suite_test.go
  controllers/velero_test.go
  go.mod
  go.sum
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/lib/apps.go
  tests/e2e/lib/restore.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update CSI doc
  docs/examples/CSI/csi_example.md
Due: none

Use readWriteOnce accessMode for sourceVolumeOptions (#1032)
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update CSI doc (#1033)
  docs/examples/CSI/csi_example.md
Due: none

add samples for cephfs/rbd for documentation
  tests/e2e/sample-applications/mysql-persistent/pvc-twoVol/cephfs.yml
  tests/e2e/sample-applications/mysql-persistent/pvc-twoVol/cephrbd.yml
  tests/e2e/sample-applications/mysql-persistent/storageclass/cephfs.yml
  tests/e2e/sample-applications/mysql-persistent/storageclass/cephrbd.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile
