Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile

panic fatal removed from error message
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

blog init
  blogs/oadp-odf/OADP-OLM-1.png
  blogs/oadp-odf/ODFfinishedInstall.png
  blogs/oadp-odf/ODFlocalStorageDev.png
  blogs/oadp-odf/ObjectBucketClaimCreate.png
  blogs/oadp-odf/ObjectBucketClaimFields.png
  blogs/oadp-odf/ObjectBucketClaimReady.png
  blogs/oadp-odf/firstMessage.png
  blogs/oadp-odf/localStorage.png
  blogs/oadp-odf/oadp-blog.md
  blogs/oadp-odf/odfInstall.png
  blogs/oadp-odf/operatorhub.png
  blogs/oadp-odf/readyToUse.png
  blogs/oadp-odf/secretKeyValCreate.png
  blogs/oadp-odf/secretKeyValFields.png
Due: none

update
  blogs/oadp-odf/oadp-blog.md
Due: none

updated velero CRDs to velero 1.8.0, fix common.go quay image tags
  bundle/manifests/velero.io_backups.yaml
  bundle/manifests/velero.io_backupstoragelocations.yaml
  bundle/manifests/velero.io_deletebackuprequests.yaml
  bundle/manifests/velero.io_downloadrequests.yaml
  bundle/manifests/velero.io_podvolumebackups.yaml
  bundle/manifests/velero.io_podvolumerestores.yaml
  bundle/manifests/velero.io_resticrepositories.yaml
  bundle/manifests/velero.io_restores.yaml
  bundle/manifests/velero.io_schedules.yaml
  bundle/manifests/velero.io_serverstatusrequests.yaml
  bundle/manifests/velero.io_volumesnapshotlocations.yaml
  config/crd/bases/velero.io_backups.yaml
  config/crd/bases/velero.io_backupstoragelocations.yaml
  config/crd/bases/velero.io_deletebackuprequests.yaml
  config/crd/bases/velero.io_downloadrequests.yaml
  config/crd/bases/velero.io_podvolumebackups.yaml
  config/crd/bases/velero.io_podvolumerestores.yaml
  config/crd/bases/velero.io_resticrepositories.yaml
  config/crd/bases/velero.io_restores.yaml
  config/crd/bases/velero.io_schedules.yaml
  config/crd/bases/velero.io_serverstatusrequests.yaml
  config/crd/bases/velero.io_volumesnapshotlocations.yaml
  config/crd/kustomization.yaml
  pkg/common/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

address https://github.com/openshift/oadp-operator/pull/592#pullrequestreview-907620485
  blogs/oadp-odf/oadp-blog.md
Due: none

resolves https://github.com/openshift/oadp-operator/pull/592#pullrequestreview-907621416
  blogs/oadp-odf/oadp-blog.md
Due: none

resolves https://github.com/openshift/oadp-operator/pull/592#pullrequestreview-907623658
  blogs/oadp-odf/oadp-blog.md
Due: none

updated velero CRDs to velero 1.8.0, fix common.go quay image tags (#593)
  bundle/manifests/velero.io_backups.yaml
  bundle/manifests/velero.io_backupstoragelocations.yaml
  bundle/manifests/velero.io_deletebackuprequests.yaml
  bundle/manifests/velero.io_downloadrequests.yaml
  bundle/manifests/velero.io_podvolumebackups.yaml
  bundle/manifests/velero.io_podvolumerestores.yaml
  bundle/manifests/velero.io_resticrepositories.yaml
  bundle/manifests/velero.io_restores.yaml
  bundle/manifests/velero.io_schedules.yaml
  bundle/manifests/velero.io_serverstatusrequests.yaml
  bundle/manifests/velero.io_volumesnapshotlocations.yaml
  config/crd/bases/velero.io_backups.yaml
  config/crd/bases/velero.io_backupstoragelocations.yaml
  config/crd/bases/velero.io_deletebackuprequests.yaml
  config/crd/bases/velero.io_downloadrequests.yaml
  config/crd/bases/velero.io_podvolumebackups.yaml
  config/crd/bases/velero.io_podvolumerestores.yaml
  config/crd/bases/velero.io_resticrepositories.yaml
  config/crd/bases/velero.io_restores.yaml
  config/crd/bases/velero.io_schedules.yaml
  config/crd/bases/velero.io_serverstatusrequests.yaml
  config/crd/bases/velero.io_volumesnapshotlocations.yaml
  config/crd/kustomization.yaml
  pkg/common/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update
  blogs/oadp-odf/backupCreateInstance.png
  blogs/oadp-odf/backupRocketChat.png
  blogs/oadp-odf/create-dpa-cr-yaml.png
  blogs/oadp-odf/createRestoreInstance.png
  blogs/oadp-odf/deleteRocketChat.png
  blogs/oadp-odf/firstMessageNew.png
  blogs/oadp-odf/oadp-blog.md
  blogs/oadp-odf/obc-default-oadp-bucket.png
  blogs/oadp-odf/restoreRocketChat.png
  blogs/oadp-odf/rocketChatReady.png
  blogs/oadp-odf/secretKeyValFields.png
Due: none

check previous message
  blogs/oadp-odf/oadp-blog.md
Due: none

label update
  blogs/oadp-odf/oadp-blog.md
Due: none

remove unused png
  blogs/oadp-odf/firstMessageNew.png
Due: none

the shall not pass
  blogs/oadp-odf/oadp-blog.md
Due: none

team breakfast is due at Red Hat Cafe
  blogs/oadp-odf/oadp-blog.md
Due: none

remove unused comments so table of content autoupdates
  blogs/oadp-odf/oadp-blog.md
Due: none

Clear up sentences
  blogs/oadp-odf/oadp-blog.md
Due: none

rm old txt reference
  blogs/oadp-odf/oadp-blog.md
Due: none

clarify fields to update dpa template
  blogs/oadp-odf/oadp-blog.md
Due: none

replacing mssql with multi-arch mysql
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/sample-applications/mssql-persistent/mssql-persistent-template.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-csi-template.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-template.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

replacing mssql with multi-arch mysql (#595)
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/sample-applications/mssql-persistent/mssql-persistent-template.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-csi-template.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-template.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

resolves https://github.com/openshift/oadp-operator/pull/588#discussion_r827084018
  api/v1alpha1/oadp_types.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

cleanup Gathering information from Object Bucket
  blogs/oadp-odf/oadp-blog.md
Due: none

grammar update
  blogs/oadp-odf/oadp-blog.md
Due: none

make bundle to update crd
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Removing centos mirror for must-gather image
  must-gather/Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Refer user to ODF deployment docs, verify ODF
  blogs/oadp-odf/oadp-blog.md
Due: none

remove redundant step
  blogs/oadp-odf/oadp-blog.md
Due: none

add bucket name/host query
  blogs/oadp-odf/oadp-blog.md
Due: none

definitions
  blogs/oadp-odf/oadp-blog.md
Due: none

query secret
  blogs/oadp-odf/oadp-blog.md
Due: none

Rearrange bucket info gathering
  blogs/oadp-odf/oadp-blog.md
Due: none

bucket name, bucket host commands prefix title
  blogs/oadp-odf/oadp-blog.md
Due: none

bucket name/host cleanup
  blogs/oadp-odf/oadp-blog.md
Due: none

Rearrange Modifying VolumeSnapshotClass, add cli
  blogs/oadp-odf/oadp-blog.md
Due: none

the teleport
  blogs/oadp-odf/oadp-blog.md
Due: none

backup typo
  blogs/oadp-odf/oadp-blog.md
Due: none

Removing centos mirror for must-gather image (#596)
  must-gather/Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Adding initial datamover design
  docs/design/datamover.md
  docs/images/datamovercrd.png
Due: none

Typo in reviewers
  docs/design/datamover.md
Due: none

Add summary & user stories
  docs/design/datamover.md
Due: none
