Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci/prow/ci-index:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-unit-test:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

[OADP-592]: must-gather adding insecure tls support (#762)
  must-gather/Dockerfile
  must-gather/README.md
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_logs
  must-gather/collection-scripts/gather_without_tls
  must-gather/collection-scripts/logs/gather_logs_backup
  must-gather/collection-scripts/logs/gather_logs_restore
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

add datamover support for azure blob storage (#780)
  api/v1alpha1/oadp_types.go
  controllers/datamover.go
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add CSI backup/restore step diagrams
  README.md
  docs/examples/CSI/E2E_test_flow.md
  docs/examples/CSI/csi_example.md
Due: none

Update README.md
  README.md
Due: none

post-restore script for restores with DCs and defaultVolumesToRestic (#684)
  docs/scripts/dc-restic-post-restore.sh
Due: none

Testing: OADP-602 reinstate GCP image backup test (#778)
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

testing: Recover describe/log functions from panic when backup fails (#733)
  tests/e2e/lib/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

correct fields, link updates.
  docs/API_ref.md
Due: none

CloudStorageLocation spec
  docs/API_ref.md
Due: none

automates
  docs/API_ref.md
Due: none

a
  docs/API_ref.md
Due: none

make datamover timeout configurable
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

`make bundle`
  build/Dockerfile.bundle
  bundle.Dockerfile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/manager/manager.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

go changes
  controllers/datamover.go
  controllers/restic.go
  controllers/restic_test.go
  controllers/velero.go
  pkg/credentials/credentials.go
  pkg/credentials/credentials_test.go
  tests/e2e/lib/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

UPPERCASE
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  controllers/datamover.go
  controllers/restic.go
  controllers/restic_test.go
  controllers/velero.go
  pkg/credentials/credentials.go
  pkg/credentials/credentials_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

_
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  controllers/datamover.go
  controllers/restic.go
  controllers/restic_test.go
  pkg/credentials/credentials.go
  pkg/credentials/credentials_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

location to store backup objects
  docs/API_ref.md
Due: none

update crd and add timeout parsing validation
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/validator.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Doc: correct fields, link updates. (#783)
  docs/API_ref.md
Due: none

OADP-698, OADP-296 Get data mover image from manager env, migrate to RELATED_IMAGE_ (#786)
  build/Dockerfile.bundle
  bundle.Dockerfile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/manager/manager.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
  controllers/datamover.go
  controllers/restic.go
  controllers/restic_test.go
  controllers/velero.go
  pkg/credentials/credentials.go
  pkg/credentials/credentials_test.go
  tests/e2e/lib/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-644: Make datamover timeout configurable (#785)
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/validator.go
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add velero 1.9.1 to support matrix
  README.md
Due: none

golang 1.17, velero 1.9.1 CRDs, update go.mod
  .ci-operator.yaml
  Dockerfile
  build/ci-Dockerfile
  bundle/manifests/velero.io_backups.yaml
  bundle/manifests/velero.io_schedules.yaml
  config/crd/bases/velero.io_backups.yaml
  config/crd/bases/velero.io_schedules.yaml
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add velero 1.9.1 to support matrix (#788)
  README.md
Due: none

golang 1.17, velero 1.9.1 CRDs, update go.mod (#787)
  .ci-operator.yaml
  Dockerfile
  build/ci-Dockerfile
  bundle/manifests/velero.io_backups.yaml
  bundle/manifests/velero.io_schedules.yaml
  config/crd/bases/velero.io_backups.yaml
  config/crd/bases/velero.io_schedules.yaml
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-382: Introduce stable-1.1 channel
  build/Dockerfile.bundle
  bundle.Dockerfile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

align Makefile with stable-1.1 channel changes
  Makefile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-382: Introduce stable-1.1 channel (#789)
  Makefile
  build/Dockerfile.bundle
  bundle.Dockerfile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

set defaultVolumesToRestic in e2e for restic backup
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/lib/backup.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

trim restore name, run post restore script
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/lib/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

keep 43 chars for restore name with uuid
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ignore log `num errors=0`
  tests/e2e/lib/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixing post-restore script to work for long restore names.
  docs/scripts/dc-restic-post-restore.sh
Due: none

Print command output, fix err handling.
  tests/e2e/lib/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Data verification for restic
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/lib/apps.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixing post-restore script to work for long restore names. (#791)
  docs/scripts/dc-restic-post-restore.sh
Due: none

detect sha256sum is working else use shasum
  docs/scripts/dc-restic-post-restore.sh
Due: none

use variable
  docs/scripts/dc-restic-post-restore.sh
Due: none

detect sha256sum is working else use shasum (#793)
  docs/scripts/dc-restic-post-restore.sh
Due: none

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile
