Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci/prow/ci-index:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-unit-test:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Updating Velero version for OADP 1.3.0
  README.md
Due: none

Updating Velero version for OADP 1.3.0 (#1251)
  README.md
Due: none

fixup! feat: Update Operator SDK version strategy
  .dockerignore
  .gitignore
  api/v1alpha1/cloudstorage_types.go
  api/v1alpha1/dataprotectionapplication_types.go
  api/v1alpha1/groupversion_info.go
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/oadp.openshift.io_cloudstorages.yaml
  config/crd/bases/oadp.openshift.io_cloudstorages.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
  controllers/predicate.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixup! feat: Update Operator SDK version strategy
  controllers/cloudstorage_controller.go
  controllers/dataprotectionapplication_controller.go
  controllers/velero.go
  main.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-3193: Warn user about required default secrets
  controllers/bsl.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

make `validateProviderPluginAndSecret` default check changes less provider specific
  controllers/bsl.go
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update to incorporate David's comments
  blogs/data-mover/data-mover-1.3/data-mover-1.3.0-overview.md
Due: none

fixup! feat: Update Operator SDK version strategy
  api/v1alpha1/cloudstorage_types.go
  api/v1alpha1/dataprotectionapplication_types.go
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/oadp.openshift.io_cloudstorages.yaml
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_cloudstorages.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixup! fix: Remove restic config from master branch
  Makefile
  config/samples/kustomization.yaml
  config/samples/resticrepository.yaml
  controllers/nodeagent.go
  controllers/validator.go
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix nits and url for Scott's review
  blogs/data-mover/data-mover-1.3/data-mover-1.3.0-overview.md
Due: none

fix search and replace error
  blogs/data-mover/data-mover-1.3/data-mover-1.3.0-overview.md
Due: none

feat: Add golangci-lint
  .golangci.yaml
  Makefile
  controllers/bsl.go
  controllers/bucket_controller.go
  controllers/dpa_controller.go
  controllers/nodeagent.go
  controllers/nodeagent_test.go
  controllers/registry.go
  controllers/registry_test.go
  controllers/validator.go
  controllers/velero.go
  controllers/vsl.go
  controllers/vsl_test.go
  main.go
  pkg/bucket/client.go
  pkg/credentials/credentials.go
  tests/e2e/lib/apps.go
  tests/e2e/lib/restore.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update for Shubhams review
  blogs/data-mover/data-mover-1.3/data-mover-1.3.0-overview.md
Due: none

updates for readability
  blogs/data-mover/data-mover-1.3/data-mover-1.3.0-overview.md
Due: none

updated OADP-1.3.0 DM blog post (#1219)
  blogs/data-mover/data-mover-1.2/data-mover-1.2.0-overview.md
  blogs/data-mover/data-mover-1.2/data-mover-backup.png
  blogs/data-mover/data-mover-1.2/data-mover-overview.md
  blogs/data-mover/data-mover-1.2/data-mover-restore.png
  blogs/data-mover/data-mover-1.3/backup-13-workflow.png
  blogs/data-mover/data-mover-1.3/data-mover-1.3.0-overview.md
  blogs/data-mover/data-mover-1.3/data-mover-13-backup-sequence.png
  blogs/data-mover/data-mover-1.3/data-mover-13-restore-sequence.png
  blogs/data-mover/data-mover-1.3/restore-13-workflow.png
Due: none

fix: Fix codecov post job
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Indicate to user a new vsc def is required (#1242)
  docs/examples/CSI/csi_example.md
Due: none

fixup! fix: Fix codecov post job
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix: Fix codecov post job (#1255)
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixup! fix: Remove restic config from master branch
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/nodeagent_test.go
  controllers/validator.go
  controllers/validator_test.go
  docs/developer/testing/test_oadp_version_upgrade.md
  docs/images/test_oadp_version_upgrade_catalog.png
  docs/images/test_oadp_version_upgrade_channel.png
  docs/images/test_oadp_version_upgrade_subscription.png
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

feat: Nullable logic in code
  Makefile
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/nodeagent_test.go
  controllers/validator_test.go
  controllers/velero_test.go
  go.mod
  tests/e2e/dpa_deployment_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixup! fix: Remove restic config from master branch
  Makefile
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/nodeagent_test.go
  controllers/validator_test.go
  controllers/velero_test.go
  tests/e2e/dpa_deployment_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Must-gather, Store PIDs of all the subprocesses
  must-gather/collection-scripts/gather
Due: none

Change operator image pull policy to IfNotPresent
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

remove unrelated changes from csv
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Must-gather, Store PIDs of all the subprocesses (#1262)
  must-gather/collection-scripts/gather
Due: none

fixup! fix: Remove restic config from master branch
  api/v1alpha1/oadp_types.go
  controllers/validator.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update default restore resource priorities
  controllers/velero_test.go
  pkg/common/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixup! fix: Remove restic config from master branch
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Use full URI as the mongodb container image path.
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-block.yaml
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-csi.yaml
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Use more reliable way for checking if DB is alive from sample app.
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-block.yaml
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-csi.yaml
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-csi.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-twovol-csi.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Use pre-built containers for the Mongo Sample app
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-block.yaml
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-csi.yaml
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Use pre-built containers for the Mongo Sample app (#1273)
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-block.yaml
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-csi.yaml
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

update restore priorities list in DPA CRD
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  pkg/velero/server/config.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix: Add old datamover fields back to DPA
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/validator.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add livenessProbe and startupProbe to the sample-applications
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/lib/apps.go
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-block.yaml
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-csi.yaml
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-csi.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-twovol-csi.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixup! feat: Add golangci-lint
  .golangci.yaml
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Use full URI as the mongodb container image path. (#1271)
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-block.yaml
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent-csi.yaml
  tests/e2e/sample-applications/mongo-persistent/mongo-persistent.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

OADP-2866: Add DPA support for default-volumes-to-fs-backup and snapshot-move-data
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/velero.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

velero dep update for 1.12.3 rebase
  controllers/nodeagent_test.go
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile
