Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile

increase waiting time after restore
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Increase script timeout and other minor Travis fixes
  .travis-build-image.sh
  .travis-push-manifest.sh
  .travis.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Increase script timeout and other minor Travis fixes (#437)
  .travis-build-image.sh
  .travis-push-manifest.sh
  .travis.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

oadp-0.4.1 csv updates
  deploy/olm-catalog/bundle/manifests/oadp-operator.v0.4.1.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Rewrite Travis Build
  .travis-build-image.sh
  .travis-push-manifest.sh
  .travis.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

code refactoring and, Postbackup-restore varify for MSSQL
  tests/e2e/apps.go
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/sample-applications/gp2-csi/volumeSnapshotClass.yaml
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

CSI Backrestore E2E test
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/sample-applications/mssql-persistent/mssql-persistent-csi-template.yaml
  tests/e2e/sample-applications/mssql-persistent/volumeSnapshotClass.yaml
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Rewrite Travis Build (#438)
  .travis-build-image.sh
  .travis-push-manifest.sh
  .travis.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Rewrite Travis Build (#438) (#441)
  .travis-build-image.sh
  .travis-push-manifest.sh
  .travis.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Initial debug steps
  TROUBLESHOOTING.md
Due: none

Add debug steps for restore and minor cleanup
  TROUBLESHOOTING.md
Due: none

Update script to work better with PRs
  .travis.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Add debug steps for backup restic
  TROUBLESHOOTING.md
Due: none

remove vel.build from e2e_suit_test.go
  tests/e2e/e2e_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update script to work better with PRs (#443)
  .travis.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Update script to work better with PRs (#444)
  .travis.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Use arm64-graviton2 for arm builds
  .travis.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Use arm64-graviton2 for arm builds (#446)
  .travis.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Use arm64-graviton2 for arm builds (#447)
  .travis.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Checking index for profile
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding profile support for registry
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding registry envs.
  controllers/registry.go
  controllers/registry_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Updating comments
  config/manager/kustomization.yaml
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Removing debug statements
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Rebasing with upstream
  config/manager/kustomization.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Update test cases
  controllers/registry.go
  controllers/registry_test.go
  tests/e2e/apps.go
  tests/e2e/registry_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add oadp disconnected support
  deploy/disconnected-prep.sh
Due: none

Add troubleshooing info for backup log errors
  TROUBLESHOOTING.md
Due: none

Update disconnected prep script and CSV
  deploy/disconnected-prep.sh
  deploy/olm-catalog/bundle/manifests/oadp-operator.v99.0.0.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

More CSV updates
  deploy/olm-catalog/bundle/manifests/oadp-operator.v99.0.0.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Remove comments
  deploy/disconnected-prep.sh
Due: none

Add oadp disconnected support (#448)
  deploy/disconnected-prep.sh
  deploy/olm-catalog/bundle/manifests/oadp-operator.v99.0.0.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Add required keys for arm builds
  .travis.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Add required keys for arm builds (#449)
  .travis.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Add supported multiarch labels
  deploy/olm-catalog/bundle/manifests/oadp-operator.v99.0.0.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Add supported multiarch labels (#450)
  deploy/olm-catalog/bundle/manifests/oadp-operator.v99.0.0.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e
