Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile

FEntry typo
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

enable volsync MoverSecurityContext
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update mysql/mariadb pod securityContext to match Dockerfile USER for volsync to pick up.
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-csi.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

add vsmv1alpha1 to client scheme for failure cleanup
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Put custom CA in existing restic secret.
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Validate custom CA configuration earlier.
  controllers/bsl.go
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Move custom CA secret to its own reconciler.
  controllers/datamover.go
  controllers/dpa_controller.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Pass along empty custom CA field.
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Revert "Create a custom CA secret for volsync."
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Revert "Move custom CA secret to its own reconciler."
  controllers/datamover.go
  controllers/dpa_controller.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Revert "Validate custom CA configuration earlier."
  controllers/bsl.go
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Create a custom CA secret for volsync.
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Avoid setting empty custom CA secret.
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

velero upstream rebase to main as of Apr 11, 2023 (#956)
  bundle/manifests/datamover.oadp.openshift.io_volumesnapshotbackups.yaml
  bundle/manifests/datamover.oadp.openshift.io_volumesnapshotrestores.yaml
  bundle/manifests/velero.io_backups.yaml
  bundle/manifests/velero.io_schedules.yaml
  config/crd/bases/velero.io_backups.yaml
  config/crd/bases/velero.io_schedules.yaml
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

upstream release-1.11 branch rebase to oadp-1.2
  bundle/manifests/velero.io_backups.yaml
  bundle/manifests/velero.io_schedules.yaml
  config/crd/bases/velero.io_backups.yaml
  config/crd/bases/velero.io_schedules.yaml
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

upstream release-1.11 branch rebase to oadp-1.2 (#959)
  bundle/manifests/velero.io_backups.yaml
  bundle/manifests/velero.io_schedules.yaml
  config/crd/bases/velero.io_backups.yaml
  config/crd/bases/velero.io_schedules.yaml
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update ci-Dockerfile to go 1.19 for oadp-1.0
  build/ci-Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

remove TODO comment
  build/ci-Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

go 1.18 `make kustomize` fix, GH Actions: go 1.18, submit-coverage fix (#716)
  .github/workflows/go-tests.yml
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

oadp-1.0: Update ci-Dockerfile, Makefile for go 1.19 (#962)
  .github/workflows/go-tests.yml
  Makefile
  build/ci-Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

oadp-1.0: ci-Dockerfile `RUN chmod -R 777 /go/`
  build/ci-Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

oadp-1.0: ci-Dockerfile `RUN chmod -R 777 /go/` (#963)
  build/ci-Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

remove `go get -d -u` from ci-Dockerfile
  build/ci-Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

remove `go get -d -u` from ci-Dockerfile (#964)
  build/ci-Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Don't delete "" namespace when Skip() is called.
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

master: Add data mover to e2e cherrypick of #863 (#955)
  Makefile
  build/ci-Dockerfile
  go.mod
  go.sum
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/lib/apps.go
  tests/e2e/lib/backup.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/kube_helpers.go
  tests/e2e/lib/restore.go
  tests/e2e/lib/subscription_helpers.go
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-csi.yaml
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent.yaml
  tests/e2e/subscription_suite_test.go
  tests/e2e/volsync/volsync-sub.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Create app, and therefore namespace, before creating PVC into namespace
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

master: Add data mover to e2e cherrypick of #863
  Makefile
  build/ci-Dockerfile
  go.mod
  go.sum
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/lib/apps.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/kube_helpers.go
  tests/e2e/lib/subscription_helpers.go
  tests/e2e/subscription_suite_test.go
  tests/e2e/volsync/volsync-sub.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

1.2 update
  tests/e2e/lib/backup.go
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Remove duplicate application installs, add CSIDataMover failure deletion handling, volsync channel stable-0.7
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/lib/apps.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/volsync/volsync-sub.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

workaround to fix existing PVC of the same name found..
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/lib/apps.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add restorePhase async plugin waiting phases
  tests/e2e/lib/restore.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Don't delete "" namespace when Skip() is called. (#965)
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update oadp velero version relationship table.
  README.md
Due: none

Use 1.0.z
  README.md
Due: none

Add owner reference to cloud storage BSLs.
  controllers/bsl.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test
