Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci/prow/ci-index:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-unit-test:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

OADP-1224: restic node-agent refactor label (#879)
  controllers/restic.go
  controllers/restic_test.go
  controllers/velero_test.go
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/lib/restic_helpers.go
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-1269: Integrate velero-plugin-for-vsm with OADP Operator (#899)
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  controllers/validator.go
  controllers/validator_test.go
  deploy/disconnected-prep.sh
  pkg/common/common.go
  pkg/credentials/credentials.go
  pkg/credentials/credentials_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add velero-plugin-for-vsm to docs
  docs/config/plugins.md
  docs/examples/data_mover.md
Due: none

add velero-plugin-for-vsm to docs (#900)
  docs/config/plugins.md
  docs/examples/data_mover.md
Due: none

update descriptions
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add source and destination types
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Makefile: split `build-olm`, `run-olm` from `deploy-olm`
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

noSecret option
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/bsl.go
  controllers/validator.go
  controllers/validator_test.go
  controllers/velero.go
  controllers/velero_test.go
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add label to dm configmap
  api/v1alpha1/oadp_types.go
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Remove unused velero reconcilers
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

init use same resources as the main container
  controllers/velero_test.go
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add more version options to bug report template
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

rename datamover func
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update pkg/credentials/credentials.go
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

8pvc test template
  tests/e2e/sample-applications/minimal-8csivol/list.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

OADP-1231: Add config values for data mover (#897)
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/datamover.go
  controllers/dpa_controller.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

init use same resources as the main container (#898)
  controllers/velero_test.go
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add more version options to bug report template (#908)
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

8pvc test template (#910)
  tests/e2e/sample-applications/minimal-8csivol/list.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

OADP-1332: Add DPA support for new Async velero server parameters
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/velero.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

demo-oadp-1.2
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/datamover.oadp.openshift.io_volumesnapshotbackups.yaml
  config/crd/bases/datamover.oadp.openshift.io_volumesnapshotrestores.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/velero.io_backups.yaml
  config/crd/bases/velero.io_schedules.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

OADP-1332: Add DPA support for new Async velero server parameters (#916)
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/velero.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

velero upstream main rebase as of Mar 13, 2023
  bundle/manifests/velero.io_backups.yaml
  bundle/manifests/velero.io_downloadrequests.yaml
  bundle/manifests/velero.io_restores.yaml
  bundle/manifests/velero.io_schedules.yaml
  config/crd/bases/velero.io_backups.yaml
  config/crd/bases/velero.io_downloadrequests.yaml
  config/crd/bases/velero.io_restores.yaml
  config/crd/bases/velero.io_schedules.yaml
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

WIP: first pass at non-admin tekton backup
  docs/tekton-oadp-nonadmin/01-new-project-request_template.yaml
  docs/tekton-oadp-nonadmin/02-tekton-operator.yaml
  docs/tekton-oadp-nonadmin/03-rbac-pipeline-role.yaml
  docs/tekton-oadp-nonadmin/04-service-account_template.yaml
  docs/tekton-oadp-nonadmin/05-build-and-deploy.yaml
  docs/tekton-oadp-nonadmin/README.md
  docs/tekton-oadp-nonadmin/operator_tekton_demo_values.yaml.sample
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

remove old files
  docs/tekton-oadp-nonadmin/README.md
  docs/tekton-oadp-nonadmin/operator_tekton_demo_values.yaml.sample
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

remove cruft
  docs/tekton-oadp-nonadmin/05-build-and-deploy.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

support --resource-timeout
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add WithServiceAccountName("velero") when creating velero/restic
  bundle/manifests/velero.io_backups.yaml
  config/crd/bases/velero.io_backups.yaml
  controllers/restic.go
  controllers/velero.go
  go.mod
  go.sum
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

got it all working, need to retest
  docs/tekton-oadp-nonadmin/03-rbac-pipeline-role.yaml
  docs/tekton-oadp-nonadmin/05-build-and-deploy.yaml
  docs/tekton-oadp-nonadmin/backup_cr/backup.yaml
  docs/tekton-oadp-nonadmin/install/01-new-project-request_template.yaml
  docs/tekton-oadp-nonadmin/install/02-tekton-operator.yaml
  docs/tekton-oadp-nonadmin/install/03-rbac-pipeline-role.yaml
  docs/tekton-oadp-nonadmin/install/04-service-account_template.yaml
  docs/tekton-oadp-nonadmin/install/05-build-and-deploy.yaml
  docs/tekton-oadp-nonadmin/user.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

mysql-persistent-twovol add missing e2e-app labels, sleep 20 sec after data writing before starting CSI backup
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-twovol-csi.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

bump to 30s
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

velero upstream main rebase as of Mar 13, 2023 (#917)
  bundle/manifests/velero.io_backups.yaml
  bundle/manifests/velero.io_downloadrequests.yaml
  bundle/manifests/velero.io_restores.yaml
  bundle/manifests/velero.io_schedules.yaml
  config/crd/bases/velero.io_backups.yaml
  config/crd/bases/velero.io_downloadrequests.yaml
  config/crd/bases/velero.io_restores.yaml
  config/crd/bases/velero.io_schedules.yaml
  controllers/restic.go
  controllers/velero.go
  go.mod
  go.sum
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/sample-applications/mysql-persistent/mysql-persistent-twovol-csi.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

setup almost working again with templates
  docs/tekton-oadp-nonadmin/README.md
  docs/tekton-oadp-nonadmin/install.sh
  docs/tekton-oadp-nonadmin/install/01-new-project-request_template.yaml
  docs/tekton-oadp-nonadmin/install/04-service-account_template.yaml
  docs/tekton-oadp-nonadmin/install/05-build-and-deploy.yaml
  docs/tekton-oadp-nonadmin/install_templates/02-tekton-operator.yaml
  docs/tekton-oadp-nonadmin/install_templates/03-rbac-pipeline-role.yaml
  docs/tekton-oadp-nonadmin/install_templates/templates/01-new-project-request_template.yaml
  docs/tekton-oadp-nonadmin/install_templates/templates/04-service-account_template.yaml
  docs/tekton-oadp-nonadmin/install_templates/templates/05-build-and-deploy.yaml
  docs/tekton-oadp-nonadmin/install_templates/templates/user.yaml
  docs/tekton-oadp-nonadmin/user.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

fix namespace for image import
  docs/tekton-oadp-nonadmin/install_templates/templates/05-build-and-deploy.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Update README.md
  docs/tekton-oadp-nonadmin/README.md
Due: none

update the path where we list the backup cr
  docs/tekton-oadp-nonadmin/install_templates/templates/05-build-and-deploy.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

add steps to check status and finally
  docs/tekton-oadp-nonadmin/install_templates/templates/05-build-and-deploy.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

unit test for resourceTimeout
  controllers/velero.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add script to create htpasswd oauth
  docs/tekton-oadp-nonadmin/README.md
  docs/tekton-oadp-nonadmin/demo_users/create_demousers.sh
  docs/tekton-oadp-nonadmin/demo_users/oauth.yaml
  docs/tekton-oadp-nonadmin/install.sh
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile
