Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile

fix: Refactor and removal of dupliucations in E2E tests
  Makefile
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/lib/apps.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/must-gather_suite_test.go
  tests/e2e/subscription_suite_test.go
  tests/e2e/utils/common_utils.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixup! fix: Refactor and removal of dupliucations in E2E tests
  docs/scripts/dc-post-restore.sh
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/lib/apps.go
  tests/e2e/lib/backup.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/kube_helpers.go
  tests/e2e/lib/restore.go
  tests/e2e/lib/velero_helpers.go
  tests/e2e/must-gather_suite_test.go
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix: Update operator CSV for version 1.3.0
  Makefile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixup! fix: Update operator CSV for version 1.3.0
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

fixup! fix: Update operator CSV for version 1.3.0
  Makefile
  build/Dockerfile.bundle
  bundle.Dockerfile
  bundle/metadata/annotations.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

[oadp-1.3] fix: Update operator CSV for version 1.3.0 (#1226)
  Makefile
  build/Dockerfile.bundle
  bundle.Dockerfile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix: Refactor and removal of duplications in E2E tests (#1223)
  Makefile
  docs/scripts/dc-post-restore.sh
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/lib/apps.go
  tests/e2e/lib/backup.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/kube_helpers.go
  tests/e2e/lib/restore.go
  tests/e2e/lib/velero_helpers.go
  tests/e2e/must-gather_suite_test.go
  tests/e2e/subscription_suite_test.go
  tests/e2e/utils/common_utils.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix: Periodic E2E tests run links in README
  README.md
Due: none

fix: Remove 1.3 code from master branch
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/datamover.go
  controllers/dpa_controller.go
  controllers/nodeagent.go
  controllers/validator.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix: Periodic E2E tests run links in README (#1231)
  README.md
Due: none

fix: Remove unused CI file
  .ci-operator.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

[oadp-1.3] fix: Refactor and removal of duplications in E2E tests (#1230)
  Makefile
  docs/scripts/dc-post-restore.sh
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/lib/apps.go
  tests/e2e/lib/backup.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/kube_helpers.go
  tests/e2e/lib/restore.go
  tests/e2e/lib/velero_helpers.go
  tests/e2e/must-gather_suite_test.go
  tests/e2e/subscription_suite_test.go
  tests/e2e/utils/common_utils.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

updates to the dm flow
  blogs/data-mover/data-mover-1.3.0-overview.md
Due: none

add the backup simple workflow
  blogs/data-mover/data-mover-1.3.0-overview.md
Due: none

fix title
  blogs/data-mover/data-mover-1.3.0-overview.md
Due: none

Indicate to user a new vsc def is required
  docs/examples/CSI/csi_example.md
Due: none

doc: How to update OCP version jobs in CI
  README.md
  docs/developer/PROW_CI.md
  docs/developer/testing/TESTING.md
Due: none

fixup! doc: How to update OCP version jobs in CI
  docs/developer/PROW_CI.md
Due: none

fix: Remove 1.3 code from master branch (#1232)
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/datamover.go
  controllers/dpa_controller.go
  controllers/nodeagent.go
  controllers/validator.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

doc: How to update OCP version jobs in CI (#1237)
  README.md
  docs/developer/PROW_CI.md
  docs/developer/testing/TESTING.md
Due: none

update the transcribed workflow of dm backup
  blogs/data-mover/data-mover-1.3.0-overview.md
Due: none

organize and update for restore
  blogs/data-mover/data-mover-1.2/data-mover-1.2.0-overview.md
  blogs/data-mover/data-mover-1.2/data-mover-backup.png
  blogs/data-mover/data-mover-1.2/data-mover-overview.md
  blogs/data-mover/data-mover-1.2/data-mover-restore.png
  blogs/data-mover/data-mover-1.3/backup-13-workflow.png
  blogs/data-mover/data-mover-1.3/data-mover-1.3.0-overview.md
  blogs/data-mover/data-mover-1.3/data-mover-13-backup-sequence.png
  blogs/data-mover/data-mover-1.3/data-mover-13-restore-sequence.png
  blogs/data-mover/data-mover-1.3/restore-13-workflow.png
Due: none

update status section
  blogs/data-mover/data-mover-1.3/data-mover-1.3.0-overview.md
Due: none

doc: How to create new release branch CI files
  docs/developer/PROW_CI.md
Due: none

fixup! doc: How to create new release branch CI files
  Makefile
  build/ci-Dockerfile
  docs/developer/PROW_CI.md
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix: README 1.3 CI links
  README.md
Due: none

fix: Remove restic config from master branch
  Makefile
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/nodeagent.go
  controllers/nodeagent_test.go
  controllers/validator.go
  controllers/validator_test.go
  controllers/velero.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/lib/dpa_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixup! fix: Remove restic config from master branch
  Makefile
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixup! fix: Remove restic config from master branch
  controllers/nodeagent_test.go
  controllers/validator_test.go
  controllers/velero_test.go
  tests/e2e/dpa_deployment_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix: Remove unused CI file (#1239)
  .ci-operator.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

update from comments
  docs/examples/CSI/csi_example.md
Due: none

updates storage class clarity
  docs/examples/CSI/csi_example.md
Due: none

updates for restore and blockMode
  blogs/data-mover/data-mover-1.3/data-mover-1.3.0-overview.md
Due: none

add block restore
  blogs/data-mover/data-mover-1.3/data-mover-1.3.0-overview.md
Due: none

fix: README 1.3 CI links (#1248)
  README.md
Due: none

feat: Update Operator SDK version strategy
  Dockerfile
  Makefile
  PROJECT
  api/v1alpha1/dataprotectionapplication_types.go
  build/Dockerfile.bundle
  bundle.Dockerfile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/openshift-adp-controller-manager-metrics-service_v1_service.yaml
  bundle/manifests/openshift-adp-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/metadata/annotations.yaml
  bundle/tests/scorecard/config.yaml
  config/default/kustomization.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/default/manager_config_patch.yaml
  config/manager/controller_manager_config.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
  config/prometheus/missing.txt
  config/rbac/auth_proxy_client_clusterrole.yaml
  config/rbac/auth_proxy_role.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/auth_proxy_service.yaml
  config/rbac/leader_election_role.yaml
  config/rbac/leader_election_role_binding.yaml
  config/rbac/role_binding.yaml
  config/rbac/service_account.yaml
  config/scorecard/patches/basic.config.yaml
  config/scorecard/patches/olm.config.yaml
  controllers/suite_test.go
  go.mod
  go.sum
  oadp.mk
  op.diff
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test
