Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci/prow/ci-index:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-unit-test:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

eeek param backingSnapshot was removed
  tests/e2e/sample-applications/mysql-persistent/storageclass/cephfs.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

add OG storage classes for my love
  tests/e2e/sample-applications/mysql-persistent/storageclass/ocs-storagecluster-ceph-rbd.yaml
  tests/e2e/sample-applications/mysql-persistent/storageclass/ocs-storagecluster-cephfs.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Check bundle is up to date in unit-test (#1000)
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Check bundle is up to date in unit-test
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add namespace for direct velero commands.
  must-gather/collection-scripts/logs/gather_logs_backup
  must-gather/collection-scripts/logs/gather_logs_restore
Due: none

wes IS dumb
  tests/e2e/sample-applications/mysql-persistent/pvc-twoVol/cephfs.yml
  tests/e2e/sample-applications/mysql-persistent/pvc-twoVol/cephrbd.yml
  tests/e2e/sample-applications/mysql-persistent/storageclass/cephfs-shallow.yml
  tests/e2e/sample-applications/mysql-persistent/storageclass/cephrbd.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Check bundle is up to date in unit-test (#1035)
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add namespace for direct velero commands. (#1036)
  must-gather/collection-scripts/logs/gather_logs_backup
  must-gather/collection-scripts/logs/gather_logs_restore
Due: none

Add namespace for direct velero commands. (#1037)
  must-gather/collection-scripts/logs/gather_logs_backup
  must-gather/collection-scripts/logs/gather_logs_restore
Due: none

add doc with datamover advanced volumeoptions example
  docs/examples/datamover_advanced_voloptions.md
Due: none

DNM: Test with 3 storage classes, no change to params/settings
  tests/e2e/sample-applications/mysql-persistent/namespaced/mysql-persistent-twovol-csi-aws/aws.yaml
  tests/e2e/sample-applications/mysql-persistent/namespaced/mysql-persistent-twovol-csi-aws/mysql-backup.yaml
  tests/e2e/sample-applications/mysql-persistent/namespaced/mysql-persistent-twovol-csi-aws/mysql-persistent-twovol-csi-aws.yaml
  tests/e2e/sample-applications/mysql-persistent/namespaced/mysql-persistent-twovol-csi-aws/mysql-restore.yaml
  tests/e2e/sample-applications/mysql-persistent/namespaced/mysql-persistent-twovol-csi-cephfs/cephfs.yml
  tests/e2e/sample-applications/mysql-persistent/namespaced/mysql-persistent-twovol-csi-cephfs/mysql-backup.yaml
  tests/e2e/sample-applications/mysql-persistent/namespaced/mysql-persistent-twovol-csi-cephfs/mysql-persistent-twovol-csi-cephfs.yaml
  tests/e2e/sample-applications/mysql-persistent/namespaced/mysql-persistent-twovol-csi-cephfs/mysql-restore.yaml
  tests/e2e/sample-applications/mysql-persistent/namespaced/mysql-persistent-twovol-csi-cephrbd/cephrbd.yml
  tests/e2e/sample-applications/mysql-persistent/namespaced/mysql-persistent-twovol-csi-cephrbd/mysql-backup.yaml
  tests/e2e/sample-applications/mysql-persistent/namespaced/mysql-persistent-twovol-csi-cephrbd/mysql-persistent-twovol-csi-cephrbd.yaml
  tests/e2e/sample-applications/mysql-persistent/namespaced/mysql-persistent-twovol-csi-cephrbd/mysql-restore.yaml
  tests/e2e/sample-applications/mysql-persistent/namespaced/notes/backup.txt
  tests/e2e/sample-applications/mysql-persistent/namespaced/notes/dpa.yaml
  tests/e2e/sample-applications/mysql-persistent/namespaced/notes/restores.txt
  tests/e2e/sample-applications/mysql-persistent/namespaced/notes/s3.txt
  tests/e2e/sample-applications/mysql-persistent/namespaced/notes/storageclass.txt
  tests/e2e/sample-applications/mysql-persistent/namespaced/notes/volumesnapshotclass.txt
  tests/e2e/sample-applications/mysql-persistent/namespaced/notes/vsb.txt
  tests/e2e/sample-applications/mysql-persistent/namespaced/notes/vsc.txt
  tests/e2e/sample-applications/mysql-persistent/namespaced/notes/vsc_labels.txt
  tests/e2e/sample-applications/mysql-persistent/namespaced/notes/vsc_retention.txt
  tests/e2e/sample-applications/mysql-persistent/namespaced/notes/vsr.txt
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

add samples for cephfs/rbd for documentation (#1034)
  tests/e2e/sample-applications/mysql-persistent/pvc-twoVol/cephfs.yml
  tests/e2e/sample-applications/mysql-persistent/pvc-twoVol/cephrbd.yml
  tests/e2e/sample-applications/mysql-persistent/storageclass/cephfs-shallow.yml
  tests/e2e/sample-applications/mysql-persistent/storageclass/ocs-storagecluster-ceph-rbd.yaml
  tests/e2e/sample-applications/mysql-persistent/storageclass/ocs-storagecluster-cephfs.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

update from suggestions
  docs/examples/datamover_advanced_voloptions.md
Due: none

Doc with Datamover Advanced VolumeOptions Example (#1038)
  docs/examples/datamover_advanced_voloptions.md
Due: none

build a container w/ b/r cr's on it
  docs/tekton-oadp-nonadmin/oadp-tekton-container/Dockerfile
  docs/tekton-oadp-nonadmin/oadp-tekton-container/backup.yaml
  docs/tekton-oadp-nonadmin/oadp-tekton-container/restore.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

simplify pipeline
  docs/tekton-oadp-nonadmin/install_templates/templates/05-build-and-deploy.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

include the RESTORE_NAME in templates
  docs/tekton-oadp-nonadmin/install_templates/templates/05-build-and-deploy.yaml
  docs/tekton-oadp-nonadmin/oadp-tekton-container/restore.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

add check to see if user has access to provided namespace
  docs/tekton-oadp-nonadmin/install.sh
  docs/tekton-oadp-nonadmin/install_templates/templates/05-build-and-deploy.yaml
  docs/tekton-oadp-nonadmin/oadp-tekton-container/Dockerfile
  docs/tekton-oadp-nonadmin/oadp-tekton-container/check_namespace.sh
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

put in restore checks
  docs/tekton-oadp-nonadmin/backup_cr/backup.yaml
  docs/tekton-oadp-nonadmin/install_templates/templates/05-build-and-deploy.yaml
  docs/tekton-oadp-nonadmin/oadp-tekton-container/Dockerfile
  docs/tekton-oadp-nonadmin/oadp-tekton-container/check_backup_namespace.sh
  docs/tekton-oadp-nonadmin/oadp-tekton-container/get_restore_namespace.sh
  docs/tekton-oadp-nonadmin/restore_cr/restore.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

turn off shell debug
  docs/tekton-oadp-nonadmin/install_templates/templates/05-build-and-deploy.yaml
  docs/tekton-oadp-nonadmin/oadp-tekton-container/get_restore_namespace.sh
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

break out image import to be one time operation
  docs/tekton-oadp-nonadmin/install_templates/templates/05-build-and-deploy.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

create an advanced backup cr example
  docs/tekton-oadp-nonadmin/install_templates/templates/05-build-and-deploy.yaml
  docs/tekton-oadp-nonadmin/oadp-tekton-container/advanced_backup.yaml
  docs/tekton-oadp-nonadmin/oadp-tekton-container/backup.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

must-gather suite test
  must-gather/Makefile
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/lib/apps.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/kube_helpers.go
  tests/e2e/must-gather_suite_test.go
  tests/e2e/utils/common_utils.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add must-gather validation function to suite brCase
  tests/e2e/must-gather_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fix dpa name expected to match instance name
  tests/e2e/must-gather_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add shallow copy params for datamover restore
  docs/examples/datamover_advanced_voloptions.md
Due: none

Remove test from docker-build
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Remove test from docker-build (#1050)
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add note: cephfs shallow for restore is not supported
  docs/examples/datamover_advanced_voloptions.md
Due: none

Add Note: CephsFS ShallowCopy not supported for datamover restore (#1049)
  docs/examples/datamover_advanced_voloptions.md
Due: none

Remove test from docker-build (#1051)
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

[WIP] Make data mover dummy pod configurable
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  controllers/datamover.go
  pkg/common/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add must-gather test suite, add pod logs to artifacts dir on failure. (#1041)
  must-gather/Makefile
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/lib/apps.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/lib/kube_helpers.go
  tests/e2e/must-gather_suite_test.go
  tests/e2e/utils/common_utils.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix datamover_test for dummy pod image env
  controllers/datamover_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update config/manager/manager.yaml
  config/manager/manager.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile
