Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile

Updated namespace to be dynamic
  tests/e2e/templates/dpa_template.tmpl
  tests/e2e/velero_yaml_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Tidy up go mod
  go.mod
  go.sum
  tests/e2e/velero_yaml_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fixed unit test failure due to local scope functions
  tests/e2e/velero_yaml_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding documentation for secret watches
  docs/design/watches.md
Due: none

made tests' structure more generic (#540)
  Makefile
  docs/developer/TESTING.md
  go.sum
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/common.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/scripts/aws_settings.sh
  tests/e2e/subscription_helpers.go
  tests/e2e/subscription_suite_test.go
  tests/e2e/templates/default_settings.json
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding feedback
  docs/design/watches.md
Due: none

Adding quotes to tags
  docs/design/watches.md
Due: none

added AWS plugin info
  docs/credentials.md
Due: none

Credential Usage Docs (#534)
  docs/credentials.md
Due: none

Adding documentation for secret watches (#541)
  docs/design/watches.md
Due: none

Rebased with master
  tests/e2e/velero_yaml_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Removed test file
  tests/e2e/velero_yaml_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update version matrix
  README.md
Due: none

Update Makefile
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update Makefile (#543)
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fix unsupported override for velero image
  api/v1alpha1/oadp_types.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update version matrix (#542)
  README.md
Due: none

Adding blended creds to known issues
  docs/known_issues.md
Due: none

Update docs
  docs/config/custom_plugin_images.md
Due: none

adding checks for cloud storage & velero spec credentials
  controllers/bsl.go
  controllers/registry.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

delete MTC velero
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

adding unit tests
  controllers/registry_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Making code look fancy and removing unused variable
  controllers/registry.go
  controllers/registry_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

adding credential check for cloud storage & velero spec in bsl (#546)
  controllers/bsl.go
  controllers/registry.go
  controllers/registry_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding blended creds to known issues (#545)
  docs/known_issues.md
Due: none

extend substitutions to include `}`
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

dumppodstatus
  tests/e2e/apps.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Replace `vel` with `dpaCR`, rename velero_ to dpa_
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/dpa_helpers.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add get old velero call
  bundle/manifests/mtc2-oadp-operator.v1.0.0.clusterserviceversion.yaml
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

E2e bucket name json `awk` fix (#548)
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Replace `vel` with `dpaCR`, rename velero_ to dpa_ (#549)
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/dpa_deployment_suite_test.go
  tests/e2e/dpa_helpers.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

dumppodstatus (#550)
  tests/e2e/apps.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fix unsupported override for velero image (#544)
  api/v1alpha1/oadp_types.go
  docs/config/custom_plugin_images.md
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix restic for oadp-mtc upgrade issue
  controllers/restic.go
  controllers/restic_test.go
  controllers/velero.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update travis goproxy
  .travis.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

manifest-metadata-csv for testing
  build/Dockerfile.bundle
  bundle/manifests/mtc2-oadp-operator.v1.0.0.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

added CSI example
  docs/examples/csi_example.md
  docs/examples/manifests/mssql/VolumeSnapshotClass.yaml
  docs/examples/manifests/mssql/csi-mssql-template.yaml
  docs/examples/manifests/mssql/mssql-backup.yaml
  docs/examples/manifests/mssql/mssql-restore.yaml
  docs/examples/manifests/mssql/mssql-template.yaml
  docs/examples/manifests/nginx/nginx-deployment.yaml
  docs/examples/manifests/nginx/nginx-stateless-backup.yaml
  docs/examples/manifests/nginx/nginx-stateless-restore.yaml
  docs/examples/stateless.md
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Remove duplicate default plugins
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update README
  README.md
  docs/examples/csi_example.md
  docs/examples/stateful.md
  docs/examples/stateless.md
Due: none
