Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci/prow/ci-index:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-unit-test:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

Enable e2e tests to execute against downstream build (#811)
  tests/e2e/e2e_suite_test.go
  tests/e2e/lib/subscription_helpers.go
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP: cherry-pick:811 enable e2e tests to execute against downstream build
  Makefile
  tests/e2e/e2e_suite_test.go
  tests/e2e/subscription_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

updating references to velero fork as of 1.9.2-rc.1
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/velero.io_downloadrequests.yaml
  config/crd/bases/velero.io_downloadrequests.yaml
  config/manager/manager.yaml
  config/velero/velero.yaml
  controllers/velero_test.go
  go.mod
  go.sum
  pkg/common/common.go
  pkg/credentials/credentials_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update go.mod references.
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

updating references to velero fork as of 1.9.2-rc.1 (#824)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/velero.io_downloadrequests.yaml
  config/crd/bases/velero.io_downloadrequests.yaml
  config/manager/manager.yaml
  config/velero/velero.yaml
  controllers/velero_test.go
  go.mod
  go.sum
  pkg/common/common.go
  pkg/credentials/credentials_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Use yq to add nullables to bundle CRD (#796)
  Makefile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  config/velero/kustomization.yaml
  config/velero/velero.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update Time
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add must-gather to travis
  .travis.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Remove BslMountPath from pluginSpecificMap
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

[oadp-1.1] OADP-774 must-gather: add timeout to velero logs/describe, var typos, remove duplicate logs, add `make run` (#821)
  must-gather/Makefile
  must-gather/collection-scripts/logs/gather_logs_backup
  must-gather/collection-scripts/logs/gather_logs_pvb
  must-gather/collection-scripts/logs/gather_logs_pvr
  must-gather/collection-scripts/logs/gather_logs_restore
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Pulled in velero main updates as of 21 Sept 2022.
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  bundle/manifests/velero.io_schedules.yaml
  bundle/manifests/velero.io_volumesnapshotlocations.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/velero.io_schedules.yaml
  config/crd/bases/velero.io_volumesnapshotlocations.yaml
  go.mod
  go.sum
  tests/e2e/lib/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Exclude build pod from backup by label
  tests/e2e/lib/apps.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add must-gather to travis (#826)
  .travis.yml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Pulled in velero main updates as of 21 Sept 2022. (#825)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  bundle/manifests/velero.io_schedules.yaml
  bundle/manifests/velero.io_volumesnapshotlocations.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/velero.io_schedules.yaml
  config/crd/bases/velero.io_volumesnapshotlocations.yaml
  go.mod
  go.sum
  tests/e2e/lib/apps.go
  tests/e2e/lib/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Remove BslMountPath from pluginSpecificMap (#828)
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add data mover to docs (#814)
  docs/TROUBLESHOOTING.md
  docs/config/custom_plugin_images.md
  docs/credentials.md
  docs/examples/data_mover.md
  docs/images/volsync_install.png
Due: none

Use yq to add nullables to bundle CRD (#796) (#813)
  Makefile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  config/velero/kustomization.yaml
  config/velero/velero.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Split test go.mod to reduce package dependency
  Makefile
  build/ci-Dockerfile
  tests/go.mod
  tests/go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update reviewers list and add John back to approvers
  OWNERS
Due: none

update owners file
  OWNERS
Due: none

[oadp-1.0] Update OWNERS file (#829)
  OWNERS
Due: none

fix help menu for makefile (#817)
  Makefile
  docs/developer/install_from_source.md
  docs/developer/local_dev.md
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Preserve DPA nullables for `make test`
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

updating plugin/velero images to use 1.0 branches.
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
  config/velero/velero.yaml
  controllers/velero.go
  controllers/velero_test.go
  pkg/common/common.go
  pkg/credentials/credentials.go
  pkg/credentials/credentials_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update RELATED_IMAGE for registry image ENV. CSV name version update.
  Makefile
  build/Dockerfile.bundle
  bundle.Dockerfile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/manager/manager.yaml
  controllers/registry.go
  pkg/common/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Makefile version 1.0.5
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove `stable` from CHANNELS Makefile env
  Makefile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

CSV manifest name s/1.0.4/1.0.5/
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

CSV .spec.version 1.0.5
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Update wantImage and setEnvVars velero_test.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update restic to use `RELATED_IMAGE_VELERO_RESTIC_RESTORE_HELPER`
  controllers/restic.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update restic_test to use `RELATED_IMAGE_VELERO_RESTIC_RESTORE_HELPER`
  controllers/restic_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update Dockerfile.bundle
  build/Dockerfile.bundle
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Update bundle.Dockerfile
  bundle.Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Update annotations.yaml
  bundle/metadata/annotations.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

`go get github.com/prometheus/client_golang@v1.11.1`
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

updating plugin/velero images to use 1.0 branches. (#832)
  Makefile
  build/Dockerfile.bundle
  bundle.Dockerfile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/manager/manager.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
  config/velero/velero.yaml
  controllers/registry.go
  controllers/restic.go
  controllers/restic_test.go
  controllers/velero.go
  controllers/velero_test.go
  pkg/common/common.go
  pkg/credentials/credentials.go
  pkg/credentials/credentials_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

switched label used to get velero pod to be oadp-1.0 compatible.
  must-gather/collection-scripts/logs/gather_logs_backup
  must-gather/collection-scripts/logs/gather_logs_restore
Due: none

`go get github.com/prometheus/client_golang@v1.11.1` (#833)
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile
