Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci/prow/ci-index:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-unit-test:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

add server package for velero server options
  pkg/velero/server/config.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-1526: Validate existence of VSL credentials.
  controllers/validator.go
  controllers/validator_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

wip
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/common.go
  controllers/restic.go
  controllers/restore_resource_version_priority.go
  controllers/util.go
  controllers/velero.go
  controllers/velero_test.go
  go.mod
  go.sum
  pkg/common/common.go
  pkg/common/common_test.go
  pkg/klog/klog.go
  pkg/klog/zz_generated.deepcopy.go
  pkg/velero/client/config.go
  pkg/velero/client/zz_generated.deepcopy.go
  pkg/velero/server/args.go
  pkg/velero/server/config.go
  pkg/velero/server/zz_generated.deepcopy.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Redirect users to oc-explain for references.
  docs/API_ref.md
Due: none

Update API_ref.md
  docs/API_ref.md
Due: none

Update docs/API_ref.md
  docs/API_ref.md
Due: none

OADP-708/OADP-1526: Validation for BSL/VSL credentials secrets (#989)
  api/v1alpha1/oadp_types.go
  controllers/validator.go
  controllers/validator_test.go
  controllers/velero.go
  controllers/velero_test.go
  controllers/vsl.go
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

allow gcp without secrets when setup with Workload Identity
  api/v1alpha1/oadp_types.go
  controllers/validator.go
  controllers/validator_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

check default bsl name if credential not specified, use empty struct map.
  controllers/validator.go
  controllers/validator_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

test update
  controllers/validator_test.go
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Validate secrets in BSL, no default secrets without VSL, veleroIOPrefix const.
  controllers/validator.go
  controllers/velero.go
  controllers/vsl.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Use golang-set/v2 for validator functions
  controllers/validator.go
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

[oadp-1.2] OADP-708/OADP-1526: Validation for BSL/VSL credentials secrets (#991)
  api/v1alpha1/oadp_types.go
  controllers/validator.go
  controllers/validator_test.go
  controllers/velero.go
  controllers/velero_test.go
  controllers/vsl.go
  go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

replace apimachinery to avoid velero update
  controllers/bucket_controller.go
  go.mod
  go.sum
  pkg/common/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update docs/API_ref.md
  .gitignore
  docs/API_ref.md
Due: none

Delete util.go
  controllers/util.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

use `base := make(map[T]T)`
  pkg/common/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update go.mod, remove todo comment.
  go.mod
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Revert "use `base := make(map[T]T)`"
  pkg/common/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

controllers: add debugMode
  controllers/dpa_controller.go
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add metrics port parsing error
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

simplified range expression
  controllers/common.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

rely on remove duplicate at the end of the function
  api/v1alpha1/oadp_types.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Apply suggestions from code review
  controllers/restic.go
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Build restic and velero for must-gather image.
  must-gather/Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

fix datamover volume options nil case
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Clean up build steps to avoid running out of space.
  must-gather/Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

fix datamover volume options nil case (#995)
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

minor fixes
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

add add volsync snapshot retain support
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix datamover volume options nil case (#996)
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

OADP-1690: Add volsync snapshot retain policy support (#997)
  api/v1alpha1/oadp_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  controllers/datamover.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Record versions of OADP and volsync operators.
  must-gather/collection-scripts/gather
  must-gather/collection-scripts/gather_versions
Due: none

Respect skip_tls option in gather_versions.
  must-gather/collection-scripts/gather_versions
Due: none

Move oadp-debug-info to cluster subdirectory.
  must-gather/collection-scripts/gather
Due: none

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile
