Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci/prow/ci-index:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-unit-test:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

updating for the final review
  blogs/data-mover/data-mover-1.2.0-overview.md
Due: none

Datamover blog update for 1.2.x (#1087)
  blogs/data-mover/data-mover-1.2.0-overview.md
  blogs/data-mover/data-mover-backup.png
  blogs/data-mover/data-mover-restore.png
Due: none

point to 1.2 branch for velero and csi plugin on master (#1091)
  build/ci-Dockerfile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  controllers/suite_test.go
  controllers/velero_test.go
  pkg/common/common.go
  pkg/credentials/credentials_test.go
  tests/e2e/lib/velero_helpers.go
  tests/e2e/must-gather_suite_test.go
  tests/e2e/utils/common_utils.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Disable cluster monitoring for Velero and remove ServiceMonitor from the Velero deployment.
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/oadp-operator_monitoring.coreos.com_v1_prometheusrule.yaml
  config/manager/manager.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
  config/manifests/kustomization.yaml
  config/prometheus/kustomization.yaml
  config/prometheus/monitor.yaml
  config/prometheus/oadp-metrics-recording-rule.yaml
  controllers/dpa_controller.go
  controllers/monitor.go
  controllers/monitor_test.go
  deploy/disconnected-prep.sh
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Disable cluster monitoring for Velero and remove ServiceMonitor from the Velero deployment. (#1081)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/oadp-operator_monitoring.coreos.com_v1_prometheusrule.yaml
  config/manager/manager.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
  config/manifests/kustomization.yaml
  config/prometheus/kustomization.yaml
  config/prometheus/monitor.yaml
  config/prometheus/oadp-metrics-recording-rule.yaml
  controllers/dpa_controller.go
  controllers/monitor.go
  controllers/monitor_test.go
  deploy/disconnected-prep.sh
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Disable cluster monitoring for Velero and remove ServiceMonitor from the Velero deployment. (#1092)
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/oadp-operator_monitoring.coreos.com_v1_prometheusrule.yaml
  config/manager/manager.yaml
  config/manifests/bases/oadp-operator.clusterserviceversion.yaml
  config/manifests/kustomization.yaml
  config/prometheus/kustomization.yaml
  config/prometheus/monitor.yaml
  config/prometheus/oadp-metrics-recording-rule.yaml
  controllers/dpa_controller.go
  controllers/monitor.go
  controllers/monitor_test.go
  deploy/disconnected-prep.sh
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

use latest builder golang image
  build/ci-Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

use latest builder golang image (#1094)
  build/ci-Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

ci-Dockerfile chmod /.cache/go-build, add git config safe.directory
  build/ci-Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

ci-Dockerfile chmod $(go env GOCACHE) (#1095)
  build/ci-Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

ci-Dockerfile: `git config core.filemode false`
  build/ci-Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

ci-Dockerfile: `git config core.filemode false` (#1096)
  build/ci-Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Fix typo in CRD description
  api/v1alpha1/oadp_types.go
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix: CRD validations
  Makefile
  api/v1alpha1/cloud_storage_types.go
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_cloudstorages.yaml
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_cloudstorages.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fixup! fix: CRD validations
  Makefile
  api/v1alpha1/cloud_storage_types.go
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_cloudstorages.yaml
  config/crd/bases/oadp.openshift.io_cloudstorages.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

run `make bundle`
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

remove `builder AS test`
  build/ci-Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

remove `builder AS test` (#1099)
  build/ci-Dockerfile
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

Fix typo in CRD description (#1097)
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

point back to latest for velero+csi plugin
  build/ci-Dockerfile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  controllers/velero_test.go
  pkg/common/common.go
  pkg/credentials/credentials_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

updating to velero main (1.12 devel)
  Dockerfile
  bundle/manifests/oadp-operator.clusterserviceversion.yaml
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  bundle/manifests/velero.io_backuprepositories.yaml
  bundle/manifests/velero.io_backups.yaml
  bundle/manifests/velero.io_backupstoragelocations.yaml
  bundle/manifests/velero.io_datadownloads.yaml
  bundle/manifests/velero.io_datauploads.yaml
  bundle/manifests/velero.io_deletebackuprequests.yaml
  bundle/manifests/velero.io_downloadrequests.yaml
  bundle/manifests/velero.io_podvolumebackups.yaml
  bundle/manifests/velero.io_podvolumerestores.yaml
  bundle/manifests/velero.io_restores.yaml
  bundle/manifests/velero.io_schedules.yaml
  bundle/manifests/velero.io_serverstatusrequests.yaml
  bundle/manifests/velero.io_volumesnapshotlocations.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/velero.io_backuprepositories.yaml
  config/crd/bases/velero.io_backups.yaml
  config/crd/bases/velero.io_backupstoragelocations.yaml
  config/crd/bases/velero.io_datadownloads.yaml
  config/crd/bases/velero.io_datauploads.yaml
  config/crd/bases/velero.io_deletebackuprequests.yaml
  config/crd/bases/velero.io_downloadrequests.yaml
  config/crd/bases/velero.io_podvolumebackups.yaml
  config/crd/bases/velero.io_podvolumerestores.yaml
  config/crd/bases/velero.io_restores.yaml
  config/crd/bases/velero.io_schedules.yaml
  config/crd/bases/velero.io_serverstatusrequests.yaml
  config/crd/bases/velero.io_volumesnapshotlocations.yaml
  config/crd/kustomization.yaml
  controllers/bucket_controller.go
  go.mod
  go.sum
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/lib/dpa_helpers.go
  tests/e2e/must-gather_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Mark data mover e2e pending
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/must-gather_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

e2e: Wait for VSB to cleanup before simulating disaster
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/lib/apps.go
  tests/e2e/must-gather_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fix typo in CRD description
  api/v1alpha1/oadp_types.go
  bundle/manifests/oadp.openshift.io_dataprotectionapplications.yaml
  config/crd/bases/oadp.openshift.io_dataprotectionapplications.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Revert "e2e: Wait for VSB to cleanup before simulating disaster"
  Makefile
  bundle/manifests/velero.io_restores.yaml
  config/crd/bases/velero.io_restores.yaml
  go.mod
  go.sum
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/lib/apps.go
  tests/e2e/lib/velero_helpers.go
  tests/e2e/must-gather_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Add .dockerignore
  .dockerignore
Due: none

Velero Built-in Data Mover design for OADP
  docs/design/upstream-datamover.md
Due: none

Velero Built-in Data Mover design for OADP (#1107)
  docs/design/upstream-datamover.md
Due: none

Node Agent Configuration design and design template
  docs/design/_template.md
  docs/design/node_agent_config-design.md
Due: none

Node Agent Configuration design and design template (#1101)
  docs/design/_template.md
  docs/design/node_agent_config-design.md
Due: none

updates to vbdm design
  docs/design/upstream-datamover.md
Due: none

add new OADP versions to velero support matrix
  README.md
Due: none

add new OADP versions to velero support matrix (#1110)
  README.md
Due: none

WIF support design
  docs/design/gcp-wif-support_design.md
Due: none

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile
