Repository openshift/oadp-operator: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

ci/prow/ci-index:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/images:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-e2e:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/operator-unit-test:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

changing function name and conditionl
  controllers/velero.go
  controllers/velero_controller.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

fix B/R tests
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove focus flag
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Remove noobaa flag (#405)
  api/v1alpha1/velero_types.go
  config/crd/bases/oadp.openshift.io_veleroes.yaml
  controllers/bsl.go
  controllers/bsl_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fixing typo and removing extra logic wrt secret name
  controllers/velero.go
  controllers/velero_controller.go
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fixing unit tests
  controllers/restic_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove noobaa from APT ref doc
  docs/API_ref.md
Due: none

enable pulling custom registry image
  api/v1alpha1/velero_types.go
  controllers/registry.go
  controllers/registry_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

enable pulling custom registry image (#411)
  api/v1alpha1/velero_types.go
  controllers/registry.go
  controllers/registry_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

remove noobaa from APT ref doc (#409)
  docs/API_ref.md
Due: none

Breaking the loop once the plugin has been found
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Update README.md
  README.md
Due: none

Refractoring code
  controllers/velero.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

adding unit tests
  controllers/velero_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Fixing volume mount issue (#369)
  controllers/restic_test.go
  controllers/velero.go
  controllers/velero_controller.go
  controllers/velero_test.go
  pkg/credentials/credentials.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update ns name in docs
  docs/developer/olm_hacking.md
  docs/install_olm.md
  docs/upgrade.md
Due: none

add 0.4.x to issue version selector
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

add 0.4.x to issue version selector (#416)
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e

update ns name in docs (#415)
  docs/developer/olm_hacking.md
  docs/install_olm.md
  docs/upgrade.md
Due: none

adding docs for custom plugin images (#394)
  README.md
  docs/config/custom_plugin_images.md
Due: none

Test 0.4.0
  .github/Build-Check.md
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Rebasing go.mod
  go.sum
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Test Build 0.4.0 (#418)
  .github/Build-Check.md
Due: none

Stub for Install suite e2e refractor
  tests/e2e/velero_deployment_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Bump parks app timeout to 10 minutes
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

volume validation for mssql
  tests/e2e/app_helpers.go
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Bump parks app timeout to 10 minutes (#421)
  tests/e2e/backup_restore_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

update docs for TLS config typo and note for BSL/VSL default profile warnings
  docs/config/bsl_and_vsl.md
  docs/config/noobaa/install_oadp_noobaa.md
  docs/config/self_signed_certs.md
Due: none

Logic for checking default velero plugins
  tests/e2e/velero_deployment_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding bsl,vsl stub functions in helpers
  tests/e2e/velero_deployment_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding validations for velero tolerations
  tests/e2e/velero_deployment_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Volume Validation for Mssql (#422)
  tests/e2e/app_helpers.go
  tests/e2e/backup_restore_suite_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Ignore macos `.DS_Store`
  .gitignore
Due: none

Expanding vsl,bsl functions
  tests/e2e/velero_deployment_test.go
  tests/e2e/velero_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

convert oadp to ns scoped
  config/manager/manager.yaml
  deploy/olm-catalog/bundle/manifests/oadp-operator.v99.0.0.clusterserviceversion.yaml
  main.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

refractor code
  tests/e2e/e2e_suite_test.go
  tests/e2e/install_suite_test.go
  tests/e2e/plugins_helpers.go
  tests/e2e/velero_deployment_suite_test.go
  tests/e2e/velero_deployment_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Ported over entries from Install suite
  tests/e2e/velero_deployment_suite_test.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Adding plugin exists check
  tests/e2e/plugins_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

refractor plugin exists code
  tests/e2e/plugins_helpers.go
Due: ci/prow/ci-index, ci/prow/images, ci/prow/operator-e2e, ci/prow/operator-unit-test

Path conditions:
  ci/prow/ci-index: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/images: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-e2e: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile|Dockerfile|.*\.ya{0,1}ml|build/.+
  ci/prow/operator-unit-test: any of: .+\.go|go\.(\bmod\b|\bsum\b)|Makefile
