Repository openshift/machine-config-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Path conditions:
  e2e-aws: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-aws-serial: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-gcp-op: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-agnostic-upgrade: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-aws-workers-rhel7: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-aws-disruptive: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-metal-ipi: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-vsphere-upgrade: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-ovn-step-registry: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-gcp-op-single-node: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-aws-upgrade-single-node: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-openstack: any of: .*/on-prem/.*|.*openstack.*
  ci/prow/e2e-aws: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  ci/prow/e2e-gcp-op: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$

configure-ovs: clone inactive autoconnect slaves
  templates/common/_base/files/configure-ovs-network.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

DNM: testing CI
  docs/ContainerRuntimeConfigDesign.md
Due: none

WIP: Bug 2107090: Machine config server hangs on handling large number of requests in parallel
  pkg/server/cluster_server.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Round off SYSTEM_RESERVED_MEMORY if value is in decimal
  templates/common/_base/files/kubelet-auto-sizing.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Fix problem with retaining data in string array in piped while loop
  templates/common/_base/files/configure-ovs-network.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

fixes config decompression lint issue
  pkg/controller/common/helpers.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

ctrcfg: add DefaultRuntime field
  pkg/apis/machineconfiguration.openshift.io/v1/types.go
  pkg/controller/container-runtime-config/container_runtime_config_bootstrap.go
  pkg/controller/container-runtime-config/container_runtime_config_controller.go
  pkg/controller/container-runtime-config/container_runtime_config_controller_test.go
  pkg/controller/container-runtime-config/helpers.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

CRD: add new ctrcfg CRD for DefaultRuntime
  install/0000_80_machine-config-operator_02_containerruntimeconfig.crd.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

daemon: Use just one NodeUpdaterClient instance
  pkg/daemon/daemon.go
  pkg/daemon/update.go
  pkg/daemon/update_test.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

WIP: test graceful node shutdown
  templates/master/01-master-kubelet/_base/files/kubelet.yaml
  templates/worker/01-worker-kubelet/_base/files/kubelet.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

OCPBUGS-224: Make sure there is a search domain in resolv.conf
  templates/common/on-prem/files/NetworkManager-resolv-prepender.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Fix .ssh directory not owned by core when created by Machine Config Daemon
  pkg/daemon/update.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Allow render controller to react to feature gate
  cmd/machine-config-controller/start.go
  pkg/controller/bootstrap/bootstrap.go
  pkg/controller/common/helpers.go
  pkg/controller/render/render_controller.go
  pkg/controller/render/render_controller_test.go
  pkg/controller/template/render.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Add kubens.service and crio/kubelet dropins
  Makefile
  go.mod
  go.sum
  hack/update-templates.sh
  hack/verify-templates.sh
  templates/common/_base/units/crio.service-kubens.yaml
  templates/common/_base/units/kubelet.service-kubens.yaml
  templates/common/_base/units/kubens.service.yaml
  tools.go
  vendor/github.com/containers/kubensmnt/LICENSE
  vendor/github.com/containers/kubensmnt/utils/systemd/README.md
  vendor/github.com/containers/kubensmnt/utils/systemd/embed.go
  vendor/github.com/containers/kubensmnt/utils/systemd/kubens-dropin.conf
  vendor/github.com/containers/kubensmnt/utils/systemd/kubens.service
  vendor/modules.txt
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Prefix kubelet execution with kubensenter script
  hack/update-templates.sh
  templates/master/01-master-kubelet/_base/files/kubenswrapper.yaml
  templates/master/01-master-kubelet/_base/units/kubelet.service.yaml
  templates/master/01-master-kubelet/alibabacloud/units/kubelet.service.yaml
  templates/master/01-master-kubelet/on-prem/units/kubelet.service.yaml
  templates/worker/01-worker-kubelet/_base/files/kubenswrapper.yaml
  templates/worker/01-worker-kubelet/_base/units/kubelet.service.yaml
  templates/worker/01-worker-kubelet/alibabacloud/units/kubelet.service.yaml
  templates/worker/01-worker-kubelet/on-prem/units/kubelet.service.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Avoid kubernetes node port range
  templates/master/00-master/on-prem/files/haproxy-haproxy.yaml
  templates/master/00-master/on-prem/files/haproxy.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Update controllerconfig with new fields
  manifests/controllerconfig.crd.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Switch keepalived template to use new fields
  manifests/on-prem/coredns-corefile.tmpl
  manifests/on-prem/coredns.yaml
  manifests/on-prem/keepalived.conf.tmpl
  manifests/on-prem/keepalived.yaml
  pkg/controller/template/render.go
  pkg/operator/render.go
  pkg/operator/sync.go
  templates/common/on-prem/files/NetworkManager-onprem.conf.yaml
  templates/common/on-prem/files/NetworkManager-resolv-prepender.yaml
  templates/common/on-prem/files/coredns-corefile.yaml
  templates/common/on-prem/files/coredns.yaml
  templates/common/on-prem/files/keepalived.yaml
  templates/common/on-prem/units/nodeip-configuration.service.yaml
  templates/master/00-master/on-prem/files/haproxy.yaml
  templates/master/00-master/on-prem/files/keepalived-keepalived.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

OCPBUGS-631: Pull container image as a separate step
  templates/common/on-prem/files/NetworkManager-resolv-prepender.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op
