Repository openshift/machine-config-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

e2e-aws:
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws

e2e-aws-serial:
  optional: true
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-serial

e2e-gcp-op:
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: make test-e2e
      from: src
      resources:
        requests:
          cpu: 100m
    workflow: ipi-gcp

e2e-agnostic-upgrade:
  steps:
    cluster_profile: azure4
    workflow: openshift-upgrade-azure

e2e-aws-workers-rhel7:
  optional: true
  steps:
    cluster_profile: aws
    env:
      PLATFORM_VERSION: '7.9'
    workflow: openshift-e2e-aws-workers-rhel

e2e-aws-disruptive:
  optional: true
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-disruption

e2e-metal-ipi:
  optional: true
  steps:
    cluster_profile: packet
    env:
      DEVSCRIPTS_CONFIG: 'IP_STACK=v4
  
        NETWORK_TYPE=OpenShiftSDN
  
        '
    workflow: baremetalds-e2e

e2e-vsphere-upgrade:
  optional: true
  steps:
    cluster_profile: vsphere
    workflow: openshift-upgrade-vsphere

e2e-ovn-step-registry:
  optional: true
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-ovn

e2e-gcp-op-single-node:
  optional: true
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: make test-e2e-single-node
      from: src
      resources:
        requests:
          cpu: 100m
    workflow: openshift-e2e-gcp-single-node

e2e-aws-upgrade-single-node:
  optional: true
  steps:
    cluster_profile: aws
    workflow: openshift-upgrade-aws-single-node

e2e-openstack:
  optional: true
  steps:
    cluster_profile: openstack-vexxhost
    env:
      BASE_DOMAIN: shiftstack.devcluster.openshift.com
      CONFIG_TYPE: minimal
      TEST_SUITE: experimental/reliability/minimal
    workflow: openshift-e2e-openstack-ipi

ci/prow/e2e-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-gcp-op:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

envtest: update CRD install location
  test/framework/envtest.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

OCPBUGS-38012: Do not use 'restart' for 'oneshot' service
  templates/common/_base/units/wait-for-primary-ip.yaml
  templates/common/on-prem/units/on-prem-resolv-prepender.service.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

kubelet-service: provide path to restorecon command
  templates/master/01-master-kubelet/_base/units/kubelet.service.yaml
  templates/master/01-master-kubelet/on-prem/units/kubelet.service.yaml
  templates/worker/01-worker-kubelet/_base/units/kubelet.service.yaml
  templates/worker/01-worker-kubelet/on-prem/units/kubelet.service.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

noop
  docs/README.md
Due: none

openstack: fix non-old systemd compatible unit
  templates/common/openstack/units/afterburn-hostname.service.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

templates/*: make crun as the default container runtime
  templates/master/01-master-container-runtime/_base/files/crio.yaml
  templates/worker/01-worker-container-runtime/_base/files/crio.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Race in configure-ovs.sh affects bonding interface configuration.
  templates/common/_base/files/configure-ovs-network.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

NO-JIRA: clean up node cluster dashboard
  install/0000_90_machine-config_01_node_dashboard.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

operator: sync entitlement secret before build
  cmd/machine-config-operator/start.go
  pkg/controller/build/build_controller.go
  pkg/controller/build/image_build_request.go
  pkg/controller/common/constants.go
  pkg/controller/common/controller_context.go
  pkg/operator/operator.go
  pkg/operator/sync.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

openstack: relax openstack-kubelet-nodename systemd dependency
  templates/common/openstack/files/usr-local-bin-openstack-kubelet-nodename.yaml
  templates/common/openstack/units/openstack-kubelet-nodename.service.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Add a condition in the config node object
  pkg/controller/kubelet-config/helpers.go
  pkg/controller/kubelet-config/kubelet_config_nodes.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

operator: add unit tests for secret sync
  pkg/operator/sync_test.go
  test/helpers/helpers.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

operator: add error check before clearing degrade
  pkg/operator/sync.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

bug: Fix configure-ip-forwarding.sh
  templates/common/on-prem/files/configure-ip-forwarding.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Add sysstat extension support
  docs/MachineConfig.md
  pkg/daemon/update.go
  test/e2e-single-node/sno_mcd_test.go
  test/e2e/mcd_test.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

OCPBUGS-38012: Do not use 'restart' for 'oneshot' service
  templates/common/on-prem/units/on-prem-resolv-prepender.service.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

go formatted the pkg/daemon/update.go file
  pkg/daemon/update.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

node_controller: sync all old custom pools
  pkg/controller/node/node_controller.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

node_controller: add nil check for oldPool
  pkg/controller/node/node_controller.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Set ESP offloads off in bonds if slaves don't support them
  templates/common/_base/files/bond-esp-offload.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Check for kernel arg diff in updateOnClusterBuild
  pkg/daemon/update.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Implement ImagePolicy CRD
  docs/ClusterImagePolicyAndImagePolicyDesign.md
  manifests/machineconfigcontroller/clusterrole.yaml
  pkg/apihelpers/apihelpers.go
  pkg/controller/bootstrap/bootstrap.go
  pkg/controller/container-runtime-config/container_runtime_config_bootstrap.go
  pkg/controller/container-runtime-config/container_runtime_config_controller.go
  pkg/controller/container-runtime-config/container_runtime_config_controller_test.go
  pkg/controller/container-runtime-config/helpers.go
  pkg/controller/container-runtime-config/helpers_test.go
  pkg/daemon/constants/constants.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Path conditions:
  e2e-aws: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-aws-serial: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-gcp-op: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-agnostic-upgrade: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-aws-workers-rhel7: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-aws-disruptive: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-metal-ipi: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-vsphere-upgrade: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-ovn-step-registry: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-gcp-op-single-node: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-aws-upgrade-single-node: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-openstack: any of: .*/on-prem/.*|.*openstack.*
  ci/prow/e2e-aws: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  ci/prow/e2e-gcp-op: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
