Repository openshift/machine-config-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

e2e-aws:
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws

e2e-aws-serial:
  optional: true
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-serial

e2e-gcp-op:
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: make test-e2e
      from: src
      resources:
        requests:
          cpu: 100m
    workflow: ipi-gcp

e2e-agnostic-upgrade:
  steps:
    cluster_profile: azure4
    workflow: openshift-upgrade-azure

e2e-aws-workers-rhel7:
  optional: true
  steps:
    cluster_profile: aws
    env:
      PLATFORM_VERSION: '7.9'
    workflow: openshift-e2e-aws-workers-rhel

e2e-aws-disruptive:
  optional: true
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-disruption

e2e-metal-ipi:
  optional: true
  steps:
    cluster_profile: packet
    env:
      DEVSCRIPTS_CONFIG: 'IP_STACK=v4
  
        NETWORK_TYPE=OpenShiftSDN
  
        '
    workflow: baremetalds-e2e

e2e-vsphere-upgrade:
  optional: true
  steps:
    cluster_profile: vsphere
    workflow: openshift-upgrade-vsphere

e2e-ovn-step-registry:
  optional: true
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-ovn

e2e-gcp-op-single-node:
  optional: true
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: make test-e2e-single-node
      from: src
      resources:
        requests:
          cpu: 100m
    workflow: openshift-e2e-gcp-single-node

e2e-aws-upgrade-single-node:
  optional: true
  steps:
    cluster_profile: aws
    workflow: openshift-upgrade-aws-single-node

e2e-openstack:
  optional: true
  steps:
    cluster_profile: openstack-vexxhost
    env:
      BASE_DOMAIN: shiftstack.devcluster.openshift.com
      CONFIG_TYPE: minimal
      TEST_SUITE: experimental/reliability/minimal
    workflow: openshift-e2e-openstack-ipi

ci/prow/e2e-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-gcp-op:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

use setup-envtest to download kubebuilder toolchain
  test/e2e-bootstrap/bootstrap_test.go
  test/framework/envtest.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Avoid NM managing patch port between br-int and br-ex
  templates/common/_base/files/nm-ignore-sdn.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

NM resolve prepender: chown systemd resolved config
  templates/common/on-prem/files/NetworkManager-resolv-prepender.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

on-prem: respect NM dispatcher timeout and pull image in background
  templates/common/on-prem/files/NetworkManager-resolv-prepender.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

kubelet: wait for /run/resolv-prepender-kni-conf-done to be created
  templates/common/on-prem/files/NetworkManager-resolv-prepender.yaml
  templates/common/on-prem/units/kubelet.service-wait-resolv.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

fixes OCPBUGS-3909
  pkg/daemon/config_drift_monitor_test.go
  pkg/daemon/file_writers.go
  pkg/daemon/on_disk_validation.go
  pkg/daemon/update.go
  test/helpers/helpers.go
  test/helpers/utils.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

adds e2e test for OCPBUGS-3909
  test/e2e-shared-tests/helpers.go
  test/e2e-shared-tests/mcd_config_drift.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Add templates for required sysctls max_map_count and arp_announce
  templates/common/_base/files/sysctl-arp.conf.yaml
  templates/common/_base/files/sysctl-vm-max-map.conf.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Do not allow empty system reserved values
  pkg/controller/kubelet-config/helpers.go
  templates/common/_base/files/kubelet-auto-sizing.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

OCPBUGS-1257: Have keepalived check for haproxy status for API VIP
  templates/master/00-master/on-prem/files/keepalived-keepalived.yaml
  templates/master/00-master/on-prem/files/keepalived-script-both.yaml
  templates/master/00-master/on-prem/files/keepalived-script.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Ensure HAProxy health depends on the presence of backends
  templates/master/00-master/on-prem/files/haproxy-haproxy.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

OCPBUGS-3508: Don't make https call to http endpoint
  templates/master/00-master/on-prem/files/keepalived-script-both.yaml
  templates/master/00-master/on-prem/files/keepalived-script.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

kubelet client certificate verification ca bundle should match kube-apiserver
  pkg/operator/sync.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

DEBUG vsphere hostname on OKD
  templates/common/vsphere/files/vsphere-hostname.yaml
  templates/common/vsphere/units/vsphere-hostname.service.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

vsphere-hostname: check that /etc/hostname is not empty
  templates/common/vsphere/files/vsphere-hostname.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

docs: Using layering phase 0
  docs/README.md
  docs/UsingLayering.md
Due: none

load alibaba instance id from kubelet template
  templates/common/alibabacloud/files/usr-local-lib-systemd-system-generators-alibaba-kubelet-extra-env-generator.sh.yaml
  templates/master/01-master-kubelet/alibabacloud/units/kubelet.service.yaml
  templates/worker/01-worker-kubelet/alibabacloud/units/kubelet.service.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Bump openshift/api: to get CSI migration for vSphere and Azure File
  vendor/github.com/openshift/api/config/v1/types_feature.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Default empty config when not using FRR
  pkg/controller/template/render.go
  templates/master/00-master/on-prem/files/haproxy-haproxy.yaml
  templates/master/00-master/on-prem/files/keepalived-keepalived.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Path conditions:
  e2e-aws: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-aws-serial: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-gcp-op: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-agnostic-upgrade: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-aws-workers-rhel7: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-aws-disruptive: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-metal-ipi: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-vsphere-upgrade: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-ovn-step-registry: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-gcp-op-single-node: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-aws-upgrade-single-node: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-openstack: any of: .*/on-prem/.*|.*openstack.*
  ci/prow/e2e-aws: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  ci/prow/e2e-gcp-op: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
