Repository openshift/machine-config-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

e2e-aws:
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws

e2e-aws-serial:
  optional: true
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-serial

e2e-gcp-op:
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: make test-e2e
      from: src
      resources:
        requests:
          cpu: 100m
    workflow: ipi-gcp

e2e-agnostic-upgrade:
  steps:
    cluster_profile: azure4
    workflow: openshift-upgrade-azure

e2e-aws-workers-rhel7:
  optional: true
  steps:
    cluster_profile: aws
    env:
      PLATFORM_VERSION: '7.9'
    workflow: openshift-e2e-aws-workers-rhel

e2e-aws-disruptive:
  optional: true
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-disruption

e2e-metal-ipi:
  optional: true
  steps:
    cluster_profile: packet
    env:
      DEVSCRIPTS_CONFIG: 'IP_STACK=v4
  
        NETWORK_TYPE=OpenShiftSDN
  
        '
    workflow: baremetalds-e2e

e2e-vsphere-upgrade:
  optional: true
  steps:
    cluster_profile: vsphere
    workflow: openshift-upgrade-vsphere

e2e-ovn-step-registry:
  optional: true
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-ovn

e2e-gcp-op-single-node:
  optional: true
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: make test-e2e-single-node
      from: src
      resources:
        requests:
          cpu: 100m
    workflow: openshift-e2e-gcp-single-node

e2e-aws-upgrade-single-node:
  optional: true
  steps:
    cluster_profile: aws
    workflow: openshift-upgrade-aws-single-node

e2e-openstack:
  optional: true
  steps:
    cluster_profile: openstack-vexxhost
    env:
      BASE_DOMAIN: shiftstack.devcluster.openshift.com
      CONFIG_TYPE: minimal
      TEST_SUITE: experimental/reliability/minimal
    workflow: openshift-e2e-openstack-ipi

ci/prow/e2e-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-gcp-op:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

update go.mod
  go.mod
  go.sum
  vendor/github.com/openshift/runtime-utils/pkg/registries/registries.go
  vendor/k8s.io/code-generator/generate-groups.sh
  vendor/k8s.io/code-generator/generate-internal-groups.sh
  vendor/modules.txt
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

metrics: only allow http/1.1 request and allowable CipherSuites
  pkg/controller/common/metrics.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

controller: allow custom pool configs to take priority
  pkg/controller/common/constants.go
  pkg/controller/common/helpers.go
  pkg/controller/common/helpers_test.go
  test/helpers/helpers.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

OCPBUGS-22721: Don't retry node-ip show in resolv-prepender
  templates/common/on-prem/files/resolv-prepender.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Upgrade resource lock to use configmaps leases
  cmd/common/helpers.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

pkg: `make update` to update generated packages
  pkg/generated/clientset/versioned/clientset.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

changed with zacks suggestions
  pkg/daemon/daemon.go
  pkg/daemon/update.go
  test/e2e-layering/onclusterbuild_test.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

keepalived: disable Unicast if topoligy is single-node
  manifests/on-prem/keepalived.yaml
  pkg/controller/template/render.go
  pkg/operator/render.go
  templates/common/on-prem/files/keepalived.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

modified e2e tests
  test/e2e-layering/onclusterbuild_test.go
  test/helpers/utils.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Create pod for state controller (RBAC)
  cmd/machine-state-controller/main.go
  cmd/machine-state-controller/start.go
  cmd/machine-state-controller/version.go
  manifests/machine-state-controller/clusterrole.yaml
  manifests/machine-state-controller/clusterrolebinding.yaml
  manifests/machine-state-controller/deployment.yaml
  manifests/machine-state-controller/events-clusterrole.yaml
  manifests/machine-state-controller/events-rolebinding-default.yaml
  manifests/machine-state-controller/events-rolebinding-target.yaml
  manifests/machine-state-controller/sa.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

controller receiver setup
  cmd/machine-config-controller/start.go
  pkg/controller/common/helpers.go
  pkg/controller/node/node_controller.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

service test
  install/0000_80_machine-config-operator_00_service.yaml
  manifests/machineconfigcontroller/deployment.yaml
  manifests/machineconfigdaemon/daemonset.yaml
  pkg/controller/node/node_controller.go
  pkg/daemon/update.go
  pkg/operator/status.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Setting up RBAC for prometheus in the StateController
  install/0000_80_machine-config-operator_00_service.yaml
  install/0000_90_machine-config-operator_00_servicemonitor.yaml
  manifests/machine-state-controller/clusterrole.yaml
  manifests/machine-state-controller/deployment.yaml
  manifests/machine-state-controller/kube-rbac-proxy-config.yaml
  manifests/machine-state-controller/prometheus-rbac.yaml
  manifests/machine-state-controller/prometheus-rolebinding-target.yaml
  pkg/operator/sync.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Centralize metric spinning up mechanism in the state controller
  cmd/machine-state-controller/start.go
  pkg/controller/state/metrics.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

docs/HACKING: Update command for building customize OCP release
  docs/HACKING.md
Due: none

Wait for br-ex up event before node-valid-hostname
  templates/common/on-prem/files/NetworkManager-resolv-prepender.yaml
  templates/common/on-prem/files/wait-for-br-ex-up.yaml
  templates/common/on-prem/units/wait-for-br-ex-up.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

[release-4.13] support icsp and idms objects
  pkg/controller/container-runtime-config/container_runtime_config_controller.go
  pkg/controller/container-runtime-config/container_runtime_config_controller_test.go
  pkg/controller/container-runtime-config/helpers_test.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

dnm: RHEL-16316
  templates/common/kubevirt/files/002-nmstate-arp-proxy-ipv6-gw.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Ensure machine-config-controller has correct RBAC for lease migration
  manifests/machineconfigcontroller/clusterrole.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

CNV-34844: workaround nmstate bug by configuring ipv{4,6} addresses
  templates/common/kubevirt/files/002-nmstate-arp-proxy-ipv6-gw.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

machine-os-builder should perform leader election
  cmd/machine-os-builder/start.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Fix syntax in vsphere-hostname.yaml for CAPI machines
  templates/common/vsphere/files/vsphere-hostname.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

adds machine-os-builder documentation
  docs/MachineOSBuilderDesign.md
  docs/MachineOSBuilderDiagram.svg
  docs/OnClusterBuildInstructions.md
Due: none

kubevirt: Activate nodeip-configuration.service
  templates/common/_base/units/nodeip-configuration.service.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

kubevirt: Activate nodeip-configuration.service
  templates/common/kubevirt/units/nodeip-configuration.service.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Path conditions:
  e2e-aws: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-aws-serial: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-gcp-op: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-agnostic-upgrade: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-aws-workers-rhel7: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-aws-disruptive: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-metal-ipi: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-vsphere-upgrade: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-ovn-step-registry: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-gcp-op-single-node: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-aws-upgrade-single-node: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-openstack: any of: .*/on-prem/.*|.*openstack.*
  ci/prow/e2e-aws: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  ci/prow/e2e-gcp-op: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
