Repository openshift/machine-config-operator: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

e2e-aws:
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws

e2e-aws-serial:
  optional: true
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-serial

e2e-gcp-op:
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: make test-e2e
      from: src
      resources:
        requests:
          cpu: 100m
    workflow: ipi-gcp

e2e-agnostic-upgrade:
  steps:
    cluster_profile: azure4
    workflow: openshift-upgrade-azure

e2e-aws-workers-rhel7:
  optional: true
  steps:
    cluster_profile: aws
    env:
      PLATFORM_VERSION: '7.9'
    workflow: openshift-e2e-aws-workers-rhel

e2e-aws-disruptive:
  optional: true
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-disruption

e2e-metal-ipi:
  optional: true
  steps:
    cluster_profile: packet
    env:
      DEVSCRIPTS_CONFIG: 'IP_STACK=v4
  
        NETWORK_TYPE=OpenShiftSDN
  
        '
    workflow: baremetalds-e2e

e2e-vsphere-upgrade:
  optional: true
  steps:
    cluster_profile: vsphere
    workflow: openshift-upgrade-vsphere

e2e-ovn-step-registry:
  optional: true
  steps:
    cluster_profile: aws
    workflow: openshift-e2e-aws-ovn

e2e-gcp-op-single-node:
  optional: true
  steps:
    cluster_profile: gcp
    test:
    - as: test
      cli: latest
      commands: make test-e2e-single-node
      from: src
      resources:
        requests:
          cpu: 100m
    workflow: openshift-e2e-gcp-single-node

e2e-aws-upgrade-single-node:
  optional: true
  steps:
    cluster_profile: aws
    workflow: openshift-upgrade-aws-single-node

e2e-openstack:
  optional: true
  steps:
    cluster_profile: openstack-vexxhost
    env:
      BASE_DOMAIN: shiftstack.devcluster.openshift.com
      CONFIG_TYPE: minimal
      TEST_SUITE: experimental/reliability/minimal
    workflow: openshift-e2e-openstack-ipi

ci/prow/e2e-aws:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

ci/prow/e2e-gcp-op:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --artifact-dir=$(ARTIFACTS)
      - --give-pr-author-access-to-namespace=true
  ...

Require a hostname override for AWS
  templates/common/aws/files/usr-local-bin-aws-kubelet-nodename.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Bug OCPBUGS-4476: keepalived/ingress: change healthcheck script
  templates/common/on-prem/files/keepalived-script-default-ingress.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

install/0000_90_machine-config-operator_90_deletion: Drop this file
  install/0000_90_machine-config-operator_90_deletion.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

CRI-O: Use `127.0.0.1` for stream server with random port
  templates/master/01-master-container-runtime/_base/files/crio.yaml
  templates/worker/01-worker-container-runtime/_base/files/crio.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

OCPBUGS-15613: Soften grep pattern for ingress default router
  templates/common/on-prem/files/keepalived-script-default-ingress.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

configure-ovs: handle SIGINT and SIGTERM
  templates/common/_base/files/configure-ovs-network.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

sync crds from vendor
  install/0000_80_machine-config-operator_01_containerruntimeconfig.crd.yaml
  install/0000_80_machine-config-operator_01_kubeletconfig.crd.yaml
  install/0000_80_machine-config-operator_01_machineconfig.crd.yaml
  install/0000_80_machine-config-operator_01_machineconfigpool.crd.yaml
  manifests/controllerconfig.crd.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

fixes bugs for ssh and passwd add a separate onClusterBuild update function
  pkg/daemon/daemon.go
  pkg/daemon/update.go
  test/e2e-layering/onclusterbuild_test.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

sync crds from vendor
  Makefile
  hack/crds-sync.sh
  install/0000_80_machine-config-operator_01_containerruntimeconfig.crd.yaml
  install/0000_80_machine-config-operator_01_kubeletconfig.crd.yaml
  install/0000_80_machine-config-operator_01_machineconfig.crd.yaml
  install/0000_80_machine-config-operator_01_machineconfigpool.crd.yaml
  manifests/controllerconfig.crd.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

OCPBUGS-11997: Prevent NM from unsetting the hostname
  templates/common/_base/files/usr-local-bin-mco-hostname.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

MCO - currentConfig missing on the filesystem
  pkg/daemon/daemon.go
  pkg/daemon/update.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Add kernel-64k extension
  docs/MachineConfiguration.md
  pkg/controller/common/constants.go
  pkg/controller/common/helpers.go
  pkg/daemon/update.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Add an error message if kernel-64k is targeted and the node is not aarch64
  pkg/daemon/update.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Add a documentation note about realtime and 64k pages being mutually exclusive
  docs/MachineConfiguration.md
Due: none

Retry fetching OpenStack hostname if it fails
  templates/common/openstack/files/usr-local-bin-openstack-kubelet-nodename.yaml
  templates/common/openstack/units/kubelet-node-env.dropin.yaml
  templates/common/openstack/units/openstack-kubelet-nodename.service.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

OCPBUGS-18771: Consider ingress VIPs when selecting node IP
  templates/common/on-prem/units/nodeip-configuration.service.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, e2e-openstack, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

OCPBUGS-21814: bump golang.org/x/net to v0.17.0
  go.mod
  go.sum
  pkg/controller/common/metrics.go
  vendor/k8s.io/apimachinery/pkg/util/runtime/runtime.go
  vendor/k8s.io/code-generator/generate-groups.sh
  vendor/k8s.io/code-generator/generate-internal-groups.sh
  vendor/modules.txt
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

kubelet-dependencies: Document rpc-statd.service dependency
  templates/common/_base/units/kubelet-dependencies.target.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

metrics: only allow http/1.1 request and allowable CipherSuites
  pkg/controller/common/metrics.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Create pod for state controller (RBAC)
  cmd/machine-state-controller/main.go
  cmd/machine-state-controller/start.go
  cmd/machine-state-controller/version.go
  manifests/machine-state-controller/clusterrole.yaml
  manifests/machine-state-controller/clusterrolebinding.yaml
  manifests/machine-state-controller/deployment.yaml
  manifests/machine-state-controller/events-clusterrole.yaml
  manifests/machine-state-controller/events-rolebinding-default.yaml
  manifests/machine-state-controller/events-rolebinding-target.yaml
  manifests/machine-state-controller/sa.yaml
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

kube 1.28 bump
  go.mod
  go.sum
  vendor/github.com/openshift/api/operator/v1/0000_50_ingress-operator_00-ingresscontroller.crd.yaml
  vendor/github.com/openshift/api/operator/v1/stable.ingresscontroller.testsuite.yaml
  vendor/github.com/openshift/api/operator/v1/types_ingress.go
  vendor/github.com/openshift/api/operator/v1/zz_generated.swagger_doc_generated.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

drop old MCO api, update imports to openshift/api
  Makefile
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

progression work
  cmd/machine-config-controller/start.go
  install/0000_80_machine-config-operator_01_machinestate.crd.yaml
  lib/resourcemerge/machineconfig.go
  manifests/bootstrap.machinestate.yaml
  manifests/mcc.machinestate.yaml
  manifests/mcd.machinestate.yaml
  manifests/metrics.machinestate.yaml
  manifests/operator.machinestate.yaml
  manifests/upgrade.master.machinestate.yaml
  manifests/upgrade.worker.machinestate.yaml
  pkg/controller/common/controller.go
  pkg/controller/container-runtime-config/container_runtime_config_controller.go
  pkg/controller/drain/drain_controller.go
  pkg/controller/kubelet-config/kubelet_config_controller.go
  pkg/controller/node/node_controller.go
  pkg/controller/render/render_controller.go
  pkg/controller/template/template_controller.go
  pkg/daemon/daemon.go
  test/e2e-bootstrap/bootstrap_test.go
  vendor/github.com/openshift/api/machineconfiguration/v1/register.go
  vendor/github.com/openshift/api/machineconfiguration/v1/types.go
  vendor/github.com/openshift/client-go/machineconfiguration/clientset/versioned/typed/machineconfiguration/v1/fake/fake_machineconfiguration_client.go
  vendor/github.com/openshift/client-go/machineconfiguration/clientset/versioned/typed/machineconfiguration/v1/generated_expansion.go
  vendor/github.com/openshift/client-go/machineconfiguration/clientset/versioned/typed/machineconfiguration/v1/machineconfiguration_client.go
  vendor/github.com/openshift/client-go/machineconfiguration/informers/externalversions/generic.go
  vendor/github.com/openshift/client-go/machineconfiguration/informers/externalversions/machineconfiguration/v1/interface.go
  vendor/github.com/openshift/client-go/machineconfiguration/listers/machineconfiguration/v1/expansion_generated.go
Due: e2e-aws, e2e-aws-serial, e2e-gcp-op, e2e-agnostic-upgrade, e2e-aws-workers-rhel7, e2e-aws-disruptive, e2e-metal-ipi, e2e-vsphere-upgrade, e2e-ovn-step-registry, e2e-gcp-op-single-node, e2e-aws-upgrade-single-node, ci/prow/e2e-aws, ci/prow/e2e-gcp-op

Path conditions:
  e2e-aws: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-aws-serial: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-gcp-op: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-agnostic-upgrade: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-aws-workers-rhel7: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-aws-disruptive: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-metal-ipi: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-vsphere-upgrade: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-ovn-step-registry: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-gcp-op-single-node: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-aws-upgrade-single-node: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  e2e-openstack: any of: .*/on-prem/.*|.*openstack.*
  ci/prow/e2e-aws: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
  ci/prow/e2e-gcp-op: any of: ^([^d]|d(d|o(d|cd))*([^do]|o([^cd]|c[^ds])))*(d(d|o(d|cd))*(oc?)?)?$
