Repository openshift/assisted-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-olm

Path conditions:
  ci/prow/e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-kube-api: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-olm: any of: .*operator.*

NO-ISSUE: ignore SCPException when sosreport gathering fails
  discovery-infra/download_logs.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7151 - Fix logs to use SensitiveFormatter on cluster. Add support to SensitiveFormatter for filtering object printing.
  discovery-infra/logger.py
  discovery-infra/test_infra/helper_classes/cluster.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE - Fix proxy to support ipv4 addresses
  discovery-infra/test_infra/controllers/proxy_controller/proxy_controller.py
  discovery-infra/tests/base_test.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

MGMT-7156: Set DNS configuration for single node pytest flow
  discovery-infra/test_infra/helper_classes/cluster.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7151 - Fix logs to use SensitiveFormatter on cluster. Add support to SensitiveFormatter for filtering object printing. (#943)
  discovery-infra/logger.py
  discovery-infra/test_infra/helper_classes/cluster.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7060 - Move cluster name to cluster config scope. Create configs fixture for getting single instance of configs per test. Remove some of duplicate variables from ClusterConfig.
  discovery-infra/bootstrap_in_place.py
  discovery-infra/test_infra/controllers/node_controllers/terraform_controller.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/config/base_config.py
  discovery-infra/test_infra/helper_classes/config/nodes_config.py
  discovery-infra/test_infra/utils/cluster_name.py
  discovery-infra/test_infra/utils/global_variables/env_variables_utils.py
  discovery-infra/tests/base_test.py
  discovery-infra/tests/config/__init__.py
  discovery-infra/tests/config/global_configs.py
  discovery-infra/tests/test_e2e_install.py
  discovery-infra/tests/test_kube_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

MGMT-7060 - Move cluster name to cluster config scope. Create configs fixture for getting single instance of configs per test. Remove some of duplicate variables from ClusterConfig. (#908)
  discovery-infra/bootstrap_in_place.py
  discovery-infra/test_infra/controllers/node_controllers/terraform_controller.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/config/base_config.py
  discovery-infra/test_infra/helper_classes/config/nodes_config.py
  discovery-infra/test_infra/utils/cluster_name.py
  discovery-infra/test_infra/utils/global_variables/env_variables_utils.py
  discovery-infra/tests/base_test.py
  discovery-infra/tests/config/__init__.py
  discovery-infra/tests/config/global_configs.py
  discovery-infra/tests/test_e2e_install.py
  discovery-infra/tests/test_kube_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

NO-ISSUE - Fix proxy to support ipv4 addresses (#941)
  discovery-infra/test_infra/controllers/proxy_controller/proxy_controller.py
  discovery-infra/tests/base_test.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

NO-ISSUE: ignore SCPException when sosreport gathering fails (#942)
  discovery-infra/download_logs.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7156: Set DNS configuration for single node pytest flow (#944)
  discovery-infra/test_infra/helper_classes/cluster.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7071 - Fix PEP8 violations on utils
  discovery-infra/test_infra/utils/__init__.py
  discovery-infra/test_infra/utils/global_variables/__init__.py
  discovery-infra/test_infra/utils/global_variables/env_variables_utils.py
  discovery-infra/test_infra/utils/global_variables/global_variables.py
  discovery-infra/test_infra/utils/kubeapi_utils.py
  discovery-infra/test_infra/utils/logs_utils.py
  discovery-infra/test_infra/utils/operators_utils.py
  discovery-infra/test_infra/utils/utils.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-olm

MGMT-7071 - Fix PEP8 violations on utils (#912)
  discovery-infra/test_infra/utils/__init__.py
  discovery-infra/test_infra/utils/global_variables/__init__.py
  discovery-infra/test_infra/utils/global_variables/env_variables_utils.py
  discovery-infra/test_infra/utils/global_variables/global_variables.py
  discovery-infra/test_infra/utils/kubeapi_utils.py
  discovery-infra/test_infra/utils/logs_utils.py
  discovery-infra/test_infra/utils/operators_utils.py
  discovery-infra/test_infra/utils/utils.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-olm

NO-ISSUE: Fix DNS setting for IPv6 flow
  discovery-infra/test_infra/helper_classes/cluster.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: Fix DNS setting for IPv6 flow (#946)
  discovery-infra/test_infra/helper_classes/cluster.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: add colors for critical level event
  discovery-infra/events.html
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7202: Collecto custom manifests yaml when downloading cluster logs
  discovery-infra/download_logs.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: add colors for critical level event (#947)
  discovery-infra/events.html
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: Support oVirt on ansible collections (#910)
  ansible-bm-install/collections/ansible_collections/okd/assisted_installer/roles/boot_iso/tasks/main.yml
  ansible-bm-install/collections/ansible_collections/okd/assisted_installer/roles/boot_iso/tasks/ovirt.yml
  ansible-bm-install/collections/ansible_collections/okd/assisted_installer/roles/clean/defaults/main.yml
  ansible-bm-install/collections/ansible_collections/okd/assisted_installer/roles/clean/meta/main.yml
  ansible-bm-install/collections/ansible_collections/okd/assisted_installer/roles/clean/tasks/main.yml
  ansible-bm-install/collections/ansible_collections/okd/assisted_installer/roles/clean/tasks/ovirt.yml
  ansible-bm-install/collections/ansible_collections/okd/assisted_installer/roles/host_iso/tasks/main.yml
  ansible-bm-install/collections/ansible_collections/okd/assisted_installer/roles/host_iso/tasks/ovirt.yml
  ansible-bm-install/collections/ansible_collections/okd/assisted_installer/roles/validations/tasks/main.yml
  ansible-bm-install/collections/ansible_collections/okd/assisted_installer/roles/validations/tasks/ovirt.yml
  ansible-bm-install/inventory/hosts_without_os.sample
  ansible-bm-install/requirements.yml
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7202: Collecto custom manifests yaml when downloading cluster logs (#948)
  discovery-infra/download_logs.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-6664: merge PR commit for assisted-service and assisted-installer
  Makefile
  skipper.env
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: Organize README parameters table
  README.md
Due: none

NO-ISSUE: Organize README parameters table (#955)
  README.md
Due: none

MGMT-6664: merge PR commit for assisted-service and assisted-installer (#954)
  Makefile
  skipper.env
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Use Terraform libvirt provider
  Dockerfile.test-infra
  Makefile
  discovery-infra/test_infra/tools/terraform_utils.py
  terraform_files/baremetal/main.tf
  terraform_files/none/main.tf
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

Support SNO in update_oc_config
  discovery-infra/tests/base_test.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Support SNO in update_oc_config (#945)
  discovery-infra/tests/base_test.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Update dependabot.yml to support docker as well
  .github/dependabot.yml
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Upgrading terraform to 0.14 Adding hcl2 to read a terraform files Add vsphere env variables
  Dockerfile.test-infra
  discovery-infra/test_infra/utils/global_variables/env_variables_utils.py
  requirements.txt
  skipper.env
  terraform_files/vsphere/main.tf
  terraform_files/vsphere/terraform.tfvars.json
  terraform_files/vsphere/variables-vsphere.tf
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

MGMT-6480 remove get_host_requirements
  discovery-infra/test_infra/assisted_service_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Update dependabot.yml to support docker as well (#957)
  .github/dependabot.yml
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Upgrading terraform to 0.14 Adding hcl2 to read a terraform files Add vsphere env variables Resolve terraform variables Query terraform resources
  Dockerfile.test-infra
  discovery-infra/test_infra/tools/terraform_utils.py
  discovery-infra/test_infra/utils/global_variables/env_variables_utils.py
  requirements.txt
  skipper.env
  terraform_files/baremetal/main.tf
  terraform_files/none/main.tf
  terraform_files/vsphere/main.tf
  terraform_files/vsphere/terraform.tfvars.json
  terraform_files/vsphere/variables-vsphere.tf
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

Upgrading terraform to 0.14 (#958)
  Dockerfile.test-infra
  discovery-infra/test_infra/tools/terraform_utils.py
  discovery-infra/test_infra/utils/global_variables/env_variables_utils.py
  requirements.txt
  skipper.env
  terraform_files/baremetal/main.tf
  terraform_files/none/main.tf
  terraform_files/vsphere/main.tf
  terraform_files/vsphere/terraform.tfvars.json
  terraform_files/vsphere/variables-vsphere.tf
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

MGMT-6480 remove get_host_requirements (#959)
  discovery-infra/test_infra/assisted_service_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Set fixed versions on requirements.txt
  requirements.txt
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Set fixed versions on requirements.txt (#962)
  requirements.txt
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Update dependabot.yml
  .github/dependabot.yml
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Update dependabot.yml (#963)
  .github/dependabot.yml
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Catch libvirt error during disks teardown
  discovery-infra/tests/base_test.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Catch libvirt error during disks teardown (#968)
  discovery-infra/tests/base_test.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Delete test dummy
  discovery-infra/tests/test_e2e_install.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api
