Repository openshift/assisted-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-olm

Path conditions:
  ci/prow/e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-kube-api: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-olm: any of: .*operator.*

Add lranjbar to OWNERS file (#1056)
  OWNERS
Due: none

NO-ISSUE: Fix pip not upgrading correctly in image build (#1055)
  Dockerfile.test-infra
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Adding wait for specific host stage (#1054)
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/utils/utils.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE - fix default network type from OVNKubernetes to OpenShiftSDN
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/consts/env_defaults.py
  discovery-infra/test_infra/utils/global_variables/global_variables.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE - fix default network type from OVNKubernetes to OpenShiftSDN (#1058)
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/consts/env_defaults.py
  discovery-infra/test_infra/utils/global_variables/global_variables.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7153: add vsphere worker nodes Support it in terraform and update vsphere controller Add NETWORK_TYPE to the skipper env file
  discovery-infra/test_infra/controllers/node_controllers/vsphere_controller.py
  discovery-infra/test_infra/helper_classes/config/controller_config.py
  skipper.env
  terraform_files/vsphere/main.tf
  terraform_files/vsphere/variables-vsphere.tf
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

MGMT-7105 - Create a VMWare Centos8 template to clone for the CI
  packer_files/vsphere_centos_template/build.pkr.hcl
  packer_files/vsphere_centos_template/centos-config/centos8-ks.cfg
  packer_files/vsphere_centos_template/sources.pkr.hcl
  packer_files/vsphere_centos_template/variables.pkr.hcl
  packer_files/vsphere_centos_template/vars.json
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7473: Add support for infra-env (Late binding) - Add support for infra-env with V2 API. The infra-env creates nodes that are expected to reach 'known-unbound' status - No bind/unbind support yet.
  discovery-infra/test_infra/assisted_service_api.py
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/controllers/node_controllers/libvirt_controller.py
  discovery-infra/test_infra/controllers/node_controllers/node_controller.py
  discovery-infra/test_infra/controllers/node_controllers/terraform_controller.py
  discovery-infra/test_infra/helper_classes/config/__init__.py
  discovery-infra/test_infra/helper_classes/config/base_entity_config.py
  discovery-infra/test_infra/helper_classes/config/base_infra_env_config.py
  discovery-infra/test_infra/helper_classes/infra_env.py
  discovery-infra/test_infra/utils/base_name.py
  discovery-infra/test_infra/utils/cluster_name.py
  discovery-infra/test_infra/utils/global_variables/env_variables_utils.py
  discovery-infra/test_infra/utils/infra_env_name.py
  discovery-infra/test_infra/utils/utils.py
  discovery-infra/tests/base_test.py
  discovery-infra/tests/config/__init__.py
  discovery-infra/tests/config/global_configs.py
  discovery-infra/tests/test_e2e_install.py
  terraform_files/baremetal_infra_env/consolemodel.xsl
  terraform_files/baremetal_infra_env/limit_ipv6_dhcp_range.xsl
  terraform_files/baremetal_infra_env/main.tf
  terraform_files/baremetal_infra_env/terraform.tfvars.json
  terraform_files/baremetal_infra_env/variables-libvirt.tf
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

MGMT-7153: add vsphere worker nodes (#1059)
  discovery-infra/test_infra/controllers/node_controllers/vsphere_controller.py
  discovery-infra/test_infra/helper_classes/config/controller_config.py
  skipper.env
  terraform_files/vsphere/main.tf
  terraform_files/vsphere/variables-vsphere.tf
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

MGMT-7473: Add support for infra-env (Late binding) (#1057)
  discovery-infra/test_infra/assisted_service_api.py
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/controllers/node_controllers/libvirt_controller.py
  discovery-infra/test_infra/controllers/node_controllers/node_controller.py
  discovery-infra/test_infra/controllers/node_controllers/terraform_controller.py
  discovery-infra/test_infra/helper_classes/config/__init__.py
  discovery-infra/test_infra/helper_classes/config/base_entity_config.py
  discovery-infra/test_infra/helper_classes/config/base_infra_env_config.py
  discovery-infra/test_infra/helper_classes/infra_env.py
  discovery-infra/test_infra/utils/base_name.py
  discovery-infra/test_infra/utils/cluster_name.py
  discovery-infra/test_infra/utils/global_variables/env_variables_utils.py
  discovery-infra/test_infra/utils/infra_env_name.py
  discovery-infra/test_infra/utils/utils.py
  discovery-infra/tests/base_test.py
  discovery-infra/tests/config/__init__.py
  discovery-infra/tests/config/global_configs.py
  discovery-infra/tests/test_e2e_install.py
  terraform_files/baremetal_infra_env/consolemodel.xsl
  terraform_files/baremetal_infra_env/limit_ipv6_dhcp_range.xsl
  terraform_files/baremetal_infra_env/main.tf
  terraform_files/baremetal_infra_env/terraform.tfvars.json
  terraform_files/baremetal_infra_env/variables-libvirt.tf
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

MGMT-7105 - Create a VMWare Centos8 template to clone for the CI (#1044)
  packer_files/vsphere_centos_template/build.pkr.hcl
  packer_files/vsphere_centos_template/centos-config/centos8-ks.cfg
  packer_files/vsphere_centos_template/sources.pkr.hcl
  packer_files/vsphere_centos_template/variables.pkr.hcl
  packer_files/vsphere_centos_template/vars.json
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: fixed unexpected keyword argument 'cluster_config' when initializing TerraformController from bootstrap_in_place.py
  discovery-infra/bootstrap_in_place.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: fixed unexpected keyword argument 'cluster_config' when initializing TerraformController from bootstrap_in_place.py (#1060)
  discovery-infra/bootstrap_in_place.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: fix keyword argument of Controller c'tor
  discovery-infra/download_logs.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: fix keyword argument of Controller c'tor (#1061)
  discovery-infra/download_logs.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Merge Jenkinsfile.download_logs create tickets commands under a single stage
  Jenkinsfile.download_logs
Due: none

Merge Jenkinsfile.download_logs create tickets commands under a single stage (#1063)
  Jenkinsfile.download_logs
Due: none

Update rhcos-live-iso version to 4.8.2 and add retry (#1062)
  discovery-infra/bootstrap_in_place.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: Removed --retry-all-errors due to old curl version in the CI machine Added retry decorator in order to overcome SSL_ERROR_SYSCALL
  discovery-infra/bootstrap_in_place.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: vsphere controller warnings
  discovery-infra/test_infra/controllers/node_controllers/vsphere_controller.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

Adding status_info validation for wrong boot order
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/utils/utils.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Support dynamic OCP default version
  discovery-infra/start_discovery.py
  discovery-infra/test_infra/assisted_service_api.py
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/consts/env_defaults.py
  discovery-infra/test_infra/utils/global_variables/env_variables_utils.py
  discovery-infra/test_infra/utils/global_variables/global_variables.py
  discovery-infra/test_infra/utils/utils.py
  discovery-infra/tests/config/__init__.py
  discovery-infra/tests/config/env_config.py
  discovery-infra/tests/config/global_configs.py
  discovery-infra/tests/conftest.py
  discovery-infra/tests/test_e2e_install.py
  discovery-infra/tests/test_kube_api.py
  scripts/install_environment.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: Removed --retry-all-errors due to old curl version in the CI (#1065)
  discovery-infra/bootstrap_in_place.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Support dynamic OCP default version (#1049)
  discovery-infra/start_discovery.py
  discovery-infra/test_infra/assisted_service_api.py
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/consts/env_defaults.py
  discovery-infra/test_infra/utils/global_variables/env_variables_utils.py
  discovery-infra/test_infra/utils/global_variables/global_variables.py
  discovery-infra/test_infra/utils/utils.py
  discovery-infra/tests/config/__init__.py
  discovery-infra/tests/config/env_config.py
  discovery-infra/tests/config/global_configs.py
  discovery-infra/tests/conftest.py
  discovery-infra/tests/test_e2e_install.py
  discovery-infra/tests/test_kube_api.py
  scripts/install_environment.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Fix broken set_cluster_name method
  discovery-infra/test_infra/helper_classes/cluster.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Adding status_info validation for wrong boot order (#1064)
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/utils/utils.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Add custom manifest new format file (#991)
  discovery-infra/download_logs.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Fix broken set_cluster_name method (#1072)
  discovery-infra/test_infra/helper_classes/cluster.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: vsphere controller warnings (#1066)
  discovery-infra/test_infra/controllers/node_controllers/vsphere_controller.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

MGMT-7727 - Remove redundant cluster and entity config properties
  discovery-infra/test_infra/helper_classes/config/base_entity_config.py
  discovery-infra/test_infra/helper_classes/config/base_infra_env_config.py
  discovery-infra/test_infra/helper_classes/config/cluster_config.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE - Remove junk target in Makefile that was accidentally committed
  Makefile
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7727 - Remove redundant cluster and entity config properties (#1074)
  discovery-infra/test_infra/helper_classes/config/base_entity_config.py
  discovery-infra/test_infra/helper_classes/config/base_infra_env_config.py
  discovery-infra/test_infra/helper_classes/config/cluster_config.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Adding restart method
  discovery-infra/test_infra/controllers/node_controllers/node.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

Expose master configuration (num of CPU and disks)
  skipper.env
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE - Remove junk target in Makefile that was accidentally committed (#1076)
  Makefile
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7731 - Rearrange entities operations
  discovery-infra/bootstrap_in_place.py
  discovery-infra/test_infra/controllers/node_controllers/libvirt_controller.py
  discovery-infra/test_infra/controllers/node_controllers/terraform_controller.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/config/base_entity_config.py
  discovery-infra/test_infra/helper_classes/config/base_infra_env_config.py
  discovery-infra/test_infra/helper_classes/config/cluster_config.py
  discovery-infra/test_infra/helper_classes/infra_env.py
  discovery-infra/test_infra/utils/cluster_name.py
  discovery-infra/test_infra/utils/entity_name.py
  discovery-infra/test_infra/utils/infra_env_name.py
  discovery-infra/test_infra/utils/kubeapi_utils.py
  discovery-infra/tests/config/global_configs.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

NO-ISSUE - Fix Proxy_Server teardown is always executing
  discovery-infra/tests/base_test.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE - Fix Nat teardown is always executing
  discovery-infra/tests/base_test.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE - Fix Proxy_Server teardown is always executing (#1079)
  discovery-infra/tests/base_test.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Expose master configuration (num of CPU and disks) (#1078)
  skipper.env
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api
