Repository openshift/assisted-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-olm

Path conditions:
  ci/prow/e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-kube-api: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-olm: any of: .*operator.*

Delete test dummy (#971)
  discovery-infra/tests/test_e2e_install.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7291: Collect degraded clusters
  discovery-infra/download_logs.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7289 - Change configs.host in python client
  discovery-infra/test_infra/assisted_service_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7293: Add networkType as cluster create params
  discovery-infra/test_infra/consts/env_defaults.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/config/cluster_config.py
  discovery-infra/test_infra/utils/global_variables/env_variables_utils.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7289 - Change configs.host in python client (#970)
  discovery-infra/test_infra/assisted_service_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7293: Add networkType as cluster create params (#973)
  discovery-infra/test_infra/consts/env_defaults.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/config/cluster_config.py
  discovery-infra/test_infra/utils/global_variables/env_variables_utils.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7153 support multi-platform test (#960)
  discovery-infra/bootstrap_in_place.py
  discovery-infra/download_logs.py
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/controllers/node_controllers/libvirt_controller.py
  discovery-infra/test_infra/controllers/node_controllers/node_controller.py
  discovery-infra/test_infra/controllers/node_controllers/terraform_controller.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/config/cluster_config.py
  discovery-infra/test_infra/helper_classes/config/controller_config.py
  discovery-infra/test_infra/helper_classes/config/nodes_config.py
  discovery-infra/test_infra/helper_classes/nodes.py
  discovery-infra/test_infra/utils/global_variables/global_variables.py
  discovery-infra/test_infra/utils/terraform_util.py
  discovery-infra/test_infra/utils/utils.py
  discovery-infra/tests/base_test.py
  discovery-infra/tests/config/__init__.py
  discovery-infra/tests/config/global_configs.py
  discovery-infra/tests/conftest.py
  discovery-infra/tests/test_e2e_install.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

MGMT-7291: Collect degraded clusters (#972)
  discovery-infra/download_logs.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE controller config doesn't contain base_dns_domain anymore
  discovery-infra/test_infra/controllers/node_controllers/terraform_controller.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

test
  README.md
Due: none

MGMT-7298: retry creating minikube with the registry addon
  scripts/run_minikube.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE controller config doesn't contain base_dns_domain anymore (#975)
  discovery-infra/test_infra/controllers/node_controllers/terraform_controller.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

MGMT-7298: retry creating minikube with the registry addon (#976)
  scripts/run_minikube.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7293: Add networkType as cluster create params to discovery
  discovery-infra/start_discovery.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Fixing ipv6 tests issues: node.macs is an attribute, and pass request object to BaseTest.is_test_failed function
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/config/cluster_config.py
  discovery-infra/test_infra/utils/global_variables/env_variables_utils.py
  discovery-infra/tests/base_test.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Fixing ipv6 tests issues: node.macs is an attribute, and pass request object to BaseTest.is_test_failed function (#979)
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/config/cluster_config.py
  discovery-infra/test_infra/utils/global_variables/env_variables_utils.py
  discovery-infra/tests/base_test.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Fix libvirt error
  discovery-infra/tests/base_test.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Fix libvirt error (#980)
  discovery-infra/tests/base_test.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE - Improve the way of setting the api host address
  discovery-infra/test_infra/assisted_service_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7153 adding vsphere controlller Creates the VSphere vm configure the iso file set the hostnames hosts are ready to the networking stage
  discovery-infra/logger.py
  discovery-infra/test_infra/controllers/node_controllers/__init__.py
  discovery-infra/test_infra/controllers/node_controllers/node_controller.py
  discovery-infra/test_infra/controllers/node_controllers/vsphere_controller.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/config/vsphere_config.py
  discovery-infra/test_infra/helper_classes/nodes.py
  discovery-infra/test_infra/tools/terraform_utils.py
  discovery-infra/tests/base_test.py
  requirements.txt
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

MGMT-7153 adding vsphere controlller (#961)
  discovery-infra/logger.py
  discovery-infra/test_infra/controllers/node_controllers/__init__.py
  discovery-infra/test_infra/controllers/node_controllers/node_controller.py
  discovery-infra/test_infra/controllers/node_controllers/vsphere_controller.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/config/vsphere_config.py
  discovery-infra/test_infra/helper_classes/nodes.py
  discovery-infra/test_infra/tools/terraform_utils.py
  discovery-infra/tests/base_test.py
  requirements.txt
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

Remove tf plugins
  Dockerfile.test-infra
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE - Improve the way of setting the api host address (#981)
  discovery-infra/test_infra/assisted_service_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE - Fix API client not supporting https inventory url
  discovery-infra/test_infra/assisted_service_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE - Fix API client not supporting https inventory url (#983)
  discovery-infra/test_infra/assisted_service_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Remove tf plugins (#982)
  Dockerfile.test-infra
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Replace FETCH_BASE with FETCH_NEW
  Makefile
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Replace FETCH_BASE with FETCH_NEW (#986)
  Makefile
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7153 vsphere platform configure networking support vsphere dhcp vip allocation mode move dns libvirt specific code to the controllers
  discovery-infra/test_infra/controllers/node_controllers/libvirt_controller.py
  discovery-infra/test_infra/controllers/node_controllers/node_controller.py
  discovery-infra/test_infra/controllers/node_controllers/terraform_controller.py
  discovery-infra/test_infra/controllers/node_controllers/vsphere_controller.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/cluster_host.py
  discovery-infra/test_infra/helper_classes/nodes.py
  discovery-infra/test_infra/utils/global_variables/global_variables.py
  discovery-infra/test_infra/utils/network_utils.py
  discovery-infra/tests/base_test.py
  discovery-infra/tests/test_kube_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

MGMT-7153 vsphere platform configure networking (#984)
  discovery-infra/test_infra/controllers/node_controllers/libvirt_controller.py
  discovery-infra/test_infra/controllers/node_controllers/node_controller.py
  discovery-infra/test_infra/controllers/node_controllers/terraform_controller.py
  discovery-infra/test_infra/controllers/node_controllers/vsphere_controller.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/cluster_host.py
  discovery-infra/test_infra/helper_classes/nodes.py
  discovery-infra/test_infra/utils/global_variables/global_variables.py
  discovery-infra/test_infra/utils/network_utils.py
  discovery-infra/tests/base_test.py
  discovery-infra/tests/test_kube_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

Revert "Replace FETCH_BASE with FETCH_NEW (#986)"
  Makefile
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Revert "Replace FETCH_BASE with FETCH_NEW (#986)" (#989)
  Makefile
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: use default ssh keys for SSH connections
  GUIDE.md
  Makefile
  README.md
  discovery-infra/bootstrap_in_place.py
  discovery-infra/test_infra/consts/__init__.py
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/consts/env_defaults.py
  scripts/install_environment.sh
  ssh_key/key
  ssh_key/key.pub
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Add custom manifest new format file
  discovery-infra/download_logs.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-6417- Add pytest deploy_nodes target
  discovery-infra/tests/base_test.py
  discovery-infra/tests/test_targets.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: use default ssh keys for SSH connections (#987)
  GUIDE.md
  Makefile
  README.md
  discovery-infra/bootstrap_in_place.py
  discovery-infra/test_infra/consts/__init__.py
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/consts/env_defaults.py
  scripts/install_environment.sh
  ssh_key/key
  ssh_key/key.pub
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-6417- Add pytest deploy_nodes target (#990)
  discovery-infra/tests/base_test.py
  discovery-infra/tests/test_targets.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: use 'log.warning' instead of 'log.warn' as 'warn' is deprecated
  discovery-infra/download_logs.py
  discovery-infra/log_scrap.py
  discovery-infra/monitoring/process.py
  discovery-infra/test_infra/utils/utils.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7153-4 cluster.get_cluster_host should recieve a model cluster not test-infra helper object cluster
  discovery-infra/test_infra/helper_classes/cluster.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: use 'log.warning' instead of 'log.warn' as 'warn' is deprecated (#992)
  discovery-infra/download_logs.py
  discovery-infra/log_scrap.py
  discovery-infra/monitoring/process.py
  discovery-infra/test_infra/utils/utils.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api
