Repository openshift/assisted-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-olm

ci/prow/e2e-metal-assisted:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-metal-assisted-kube-api:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/e2e-metal-assisted-none:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

ci/prow/e2e-metal-assisted-olm:
  decorate: true
  labels:
    ci-operator.openshift.io/prowgen-controlled: 'true'
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
  ...

MGMT-7523: Made `set_single_node_ip` a no-op on non-sno clusters
  discovery-infra/tests/test_kube_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7523: Add highly-available / single-node late binding kubeapi tests
  discovery-infra/tests/test_kube_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7523: Fix indentation and other code review comments
  discovery-infra/test_infra/helper_classes/kube_helpers/agent.py
  discovery-infra/tests/test_kube_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: check for None when searching for a node
  discovery-infra/test_infra/helper_classes/cluster.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7523: Add highly-available / single-node late binding kubeapi tests (#1117)
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/controllers/node_controllers/node_controller.py
  discovery-infra/test_infra/helper_classes/kube_helpers/agent.py
  discovery-infra/test_infra/helper_classes/kube_helpers/agent_cluster_install.py
  discovery-infra/tests/test_kube_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

Add more info about nodes and don't continue
  discovery-infra/test_infra/helper_classes/cluster.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Log libvirt node interfaces
  discovery-infra/test_infra/controllers/node_controllers/libvirt_controller.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

Ignore this PR, testing CI
  ignore
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: Force load balancer container to use the host as DNS
  Makefile
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Use rpmfind.net/linux/centos/8 path to install libgcrypt (#1105)
  scripts/install_environment.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-6763: Add IS_IPV4/IPv4 config
  discovery-infra/test_infra/consts/env_defaults.py
  discovery-infra/test_infra/controllers/node_controllers/node_controller.py
  discovery-infra/test_infra/controllers/node_controllers/terraform_controller.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/config/base_entity_config.py
  discovery-infra/test_infra/helper_classes/config/controller_config.py
  discovery-infra/test_infra/helper_classes/nodes.py
  discovery-infra/test_infra/utils/global_variables/env_variables_defaults.py
  discovery-infra/test_infra/utils/global_variables/global_variables.py
  discovery-infra/tests/base_test.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

MGMT-6763: Add IS_IPV4/IPv4 config (#1112)
  discovery-infra/test_infra/consts/env_defaults.py
  discovery-infra/test_infra/controllers/node_controllers/node_controller.py
  discovery-infra/test_infra/controllers/node_controllers/terraform_controller.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/config/base_entity_config.py
  discovery-infra/test_infra/helper_classes/config/controller_config.py
  discovery-infra/test_infra/helper_classes/nodes.py
  discovery-infra/test_infra/utils/global_variables/env_variables_defaults.py
  discovery-infra/test_infra/utils/global_variables/global_variables.py
  discovery-infra/tests/base_test.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

NO-ISSUE: Force load balancer container to use the host as DNS (#1126)
  Makefile
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: Check IPS on static IPs mode
  discovery-infra/test_infra/controllers/node_controllers/libvirt_controller.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/infra_env.py
  discovery-infra/test_infra/helper_classes/nodes.py
  discovery-infra/test_infra/utils/operators_utils.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-olm

NO-ISSUE: Check IPS on static IPs mode (#1127)
  discovery-infra/test_infra/controllers/node_controllers/libvirt_controller.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/infra_env.py
  discovery-infra/test_infra/helper_classes/nodes.py
  discovery-infra/test_infra/utils/operators_utils.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-olm

NO-ISSUE - Change suppressed message on download_logs.py logged on exception
  discovery-infra/download_logs.py
  discovery-infra/logger.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7900: Test infra proxy may fail if install-config contains Proxy (Capitalized) instead of proxy (#1134)
  discovery-infra/test_infra/controllers/proxy_controller/templates/squid.conf.j2
  discovery-infra/tests/base_test.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

NO-ISSUE - Change suppressed message on download_logs.py logged on exception (#1005)
  discovery-infra/download_logs.py
  discovery-infra/logger.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Support REST API dual-stack
  discovery-infra/delete_nodes.py
  discovery-infra/deprecated_utils.py
  discovery-infra/start_discovery.py
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/consts/env_defaults.py
  discovery-infra/test_infra/controllers/nat_controller.py
  discovery-infra/test_infra/controllers/node_controllers/node_controller.py
  discovery-infra/test_infra/controllers/node_controllers/terraform_controller.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/config/cluster_config.py
  discovery-infra/test_infra/helper_classes/config/nodes_config.py
  discovery-infra/test_infra/helper_classes/nodes.py
  discovery-infra/test_infra/tools/assets.py
  discovery-infra/test_infra/tools/static_network.py
  discovery-infra/test_infra/utils/global_variables/env_variables_defaults.py
  discovery-infra/test_infra/utils/global_variables/global_variables.py
  discovery-infra/test_infra/utils/kubeapi_utils.py
  discovery-infra/test_infra/utils/utils.py
  discovery-infra/tests/base_test.py
  discovery-infra/tests/test_kube_api.py
  terraform_files/baremetal/main.tf
  terraform_files/baremetal/terraform.tfvars.json
  terraform_files/baremetal/variables-libvirt.tf
  terraform_files/baremetal_infra_env/main.tf
  terraform_files/baremetal_infra_env/terraform.tfvars.json
  terraform_files/baremetal_infra_env/variables-libvirt.tf
  terraform_files/none/main.tf
  terraform_files/none/terraform.tfvars.json
  terraform_files/none/variables-libvirt.tf
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

Support REST API dual-stack
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/consts/env_defaults.py
  discovery-infra/test_infra/controllers/node_controllers/terraform_controller.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/config/cluster_config.py
  discovery-infra/test_infra/helper_classes/nodes.py
  discovery-infra/test_infra/utils/global_variables/env_variables_defaults.py
  discovery-infra/test_infra/utils/global_variables/global_variables.py
  discovery-infra/tests/base_test.py
  discovery-infra/tests/test_kube_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

Rename get_machine_cidr into get_primary_machine_cidr
  discovery-infra/test_infra/controllers/node_controllers/node_controller.py
  discovery-infra/test_infra/controllers/node_controllers/terraform_controller.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/tests/base_test.py
  discovery-infra/tests/test_kube_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

MGMT-7902: Test infra IPv6 static ips not working (#1135)
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/nodes.py
  discovery-infra/test_infra/tools/static_network.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Support REST API dual-stack (#1136)
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/consts/env_defaults.py
  discovery-infra/test_infra/controllers/node_controllers/node_controller.py
  discovery-infra/test_infra/controllers/node_controllers/terraform_controller.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/config/cluster_config.py
  discovery-infra/test_infra/helper_classes/nodes.py
  discovery-infra/test_infra/utils/global_variables/env_variables_defaults.py
  discovery-infra/test_infra/utils/global_variables/global_variables.py
  discovery-infra/tests/base_test.py
  discovery-infra/tests/test_kube_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

MGMT-7483: use release images defaults
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/utils/utils.py
  requirements.txt
  scripts/deploy_assisted_service.sh
  scripts/override_release_images.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7483: use release images defaults (#1128)
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/utils/utils.py
  requirements.txt
  scripts/deploy_assisted_service.sh
  scripts/override_release_images.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE - Update linter max line length to be 120
  .flake8
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: remove reduntant consts
  discovery-infra/test_infra/consts/consts.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: remove reduntant consts (#1138)
  discovery-infra/test_infra/consts/consts.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7928: Use infrenv api to generate and download image
  discovery-infra/test_infra/assisted_service_api.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/config/base_infra_env_config.py
  discovery-infra/test_infra/helper_classes/infra_env.py
  discovery-infra/tests/base_test.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE - Wrap kube_api_late_binding preparation test with junit_testcase
  discovery-infra/tests/test_kube_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE - Wrap kube_api_late_binding preparation test with junit_testcase (#1149)
  discovery-infra/tests/test_kube_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7928: Use infrenv api to generate and download image (#1139)
  discovery-infra/test_infra/assisted_service_api.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/config/base_infra_env_config.py
  discovery-infra/test_infra/helper_classes/infra_env.py
  discovery-infra/tests/base_test.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Move general cluster APIs to use v2
  discovery-infra/test_infra/assisted_service_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Move general cluster APIs to use v2 (#1140)
  discovery-infra/test_infra/assisted_service_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Moving events to v2
  discovery-infra/test_infra/assisted_service_api.py
  discovery-infra/test_infra/helper_classes/cluster.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7934 Move general APIs not related to cluster or infraenv to v2
  discovery-infra/test_infra/assisted_service_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE - Delete deprecated `create_client` method
  discovery-infra/day2.py
  discovery-infra/delete_nodes.py
  discovery-infra/download_logs.py
  discovery-infra/install_cluster.py
  discovery-infra/ocp.py
  discovery-infra/start_discovery.py
  discovery-infra/test_infra/assisted_service_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

use v2 for host apis
  discovery-infra/download_logs.py
  discovery-infra/test_infra/assisted_service_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7934 Move general APIs not related to cluster or infraenv to v2 (#1141)
  discovery-infra/test_infra/assisted_service_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7969 - Remove `InfraEnvConfig` from `cluster.py`
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/infra_env.py
  discovery-infra/tests/base_test.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Path conditions:
  ci/prow/e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-kube-api: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-olm: any of: .*operator.*
