Repository openshift/assisted-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none, ci/prow/e2e-metal-assisted-olm

Path conditions:
  ci/prow/e2e-metal-assisted: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-kube-api: unless all of: ^docs/|\.md$|^(?:.*/)?(?:\.gitignore|OWNERS|OWNERS_ALIASES|PROJECT|LICENSE|Jenkinsfile.*)$
  ci/prow/e2e-metal-assisted-none: any of: ^(terraform_files/.*|.*/controllers/.*)$
  ci/prow/e2e-metal-assisted-olm: any of: .*operator.*

NO-ISSUE - Fix PEP8 violations on assisted_service_api.py. Remove invalid character from create_infra_env
  discovery-infra/test_infra/assisted_service_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE - Fix Nat teardown is always executing (#1080)
  discovery-infra/tests/base_test.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE - Fix base test prepare_nodes fixtures. PEP8 fixes.
  discovery-infra/tests/base_test.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE - Move get_copy to BaseConfig class instead of duplicate it on each configuration
  discovery-infra/test_infra/helper_classes/config/base_config.py
  discovery-infra/test_infra/helper_classes/config/controller_config.py
  discovery-infra/test_infra/helper_classes/config/vsphere_config.py
  discovery-infra/tests/config/global_configs.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE - Fix base test prepare_nodes fixtures. (#1081)
  discovery-infra/tests/base_test.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7731 - Rearrange entities operations (#1075)
  discovery-infra/bootstrap_in_place.py
  discovery-infra/test_infra/controllers/node_controllers/libvirt_controller.py
  discovery-infra/test_infra/controllers/node_controllers/terraform_controller.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/config/base_entity_config.py
  discovery-infra/test_infra/helper_classes/config/base_infra_env_config.py
  discovery-infra/test_infra/helper_classes/config/cluster_config.py
  discovery-infra/test_infra/helper_classes/infra_env.py
  discovery-infra/test_infra/utils/cluster_name.py
  discovery-infra/test_infra/utils/entity_name.py
  discovery-infra/test_infra/utils/infra_env_name.py
  discovery-infra/test_infra/utils/kubeapi_utils.py
  discovery-infra/tests/config/global_configs.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

NO-ISSUE - Fix PEP8 violations on assisted_service_api.py. (#1082)
  discovery-infra/test_infra/assisted_service_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7643: supporting versions newer than 4.8 on deploy
  scripts/deploy_assisted_service.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Update OWNERS
  OWNERS
Due: none

Update OWNERS (#1085)
  OWNERS
Due: none

Call are_hosts_in_status using named arguments
  discovery-infra/test_infra/utils/utils.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Adding restart method (#1077)
  discovery-infra/test_infra/controllers/node_controllers/node.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

NO-ISSUE: use kubeconfig path that always exists
  discovery-infra/resources/man_sosreport.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Add infraenv delete and get methods
  discovery-infra/test_infra/assisted_service_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE - Move get_copy to BaseConfig class instead of duplicate it on each configuration (#1083)
  discovery-infra/test_infra/helper_classes/config/base_config.py
  discovery-infra/test_infra/helper_classes/config/controller_config.py
  discovery-infra/test_infra/helper_classes/config/vsphere_config.py
  discovery-infra/tests/config/global_configs.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE - Make _EnvVariablesUtils singleton. Rename _EnvVariablesUtils to _EnvVariablesDefaults
  discovery-infra/test_infra/utils/global_variables/env_variables_defaults.py
  discovery-infra/test_infra/utils/global_variables/global_variables.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE - Make _EnvVariablesUtils singleton. Rename _EnvVariablesUtils to _EnvVariablesDefaults
  discovery-infra/test_infra/helper_classes/config/controller_config.py
  discovery-infra/tests/base_test.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Call are_hosts_in_status using named arguments (#1087)
  discovery-infra/test_infra/utils/utils.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7643: supporting versions newer than 4.8 on deploy (#1086)
  scripts/deploy_assisted_service.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: use kubeconfig path that always exists (#1088)
  discovery-infra/resources/man_sosreport.sh
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Add infraenv delete and get methods (#1073)
  discovery-infra/test_infra/assisted_service_api.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE - Add log on load balancer successful connection. Set LB default port as const
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/controllers/load_balancer_controller.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

NO-ISSUE - Add log on load balancer successful connection. (#1089)
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/controllers/load_balancer_controller.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

NO-ISSUE - Make _EnvVariablesUtils singleton. (#1084)
  discovery-infra/test_infra/helper_classes/config/controller_config.py
  discovery-infra/test_infra/utils/global_variables/env_variables_defaults.py
  discovery-infra/test_infra/utils/global_variables/global_variables.py
  discovery-infra/tests/base_test.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7105 Add CI For VSphere (#1015)
  discovery-infra/test_infra/controllers/node_controllers/vsphere_controller.py
  discovery-infra/test_infra/tools/terraform_utils.py
  terraform_files/vsphere-ci-machine/main.tf
  terraform_files/vsphere-ci-machine/terraform.tfvars.json
  terraform_files/vsphere-ci-machine/variables-vsphere.tf
  terraform_files/vsphere/main.tf
  terraform_files/vsphere/terraform.tfvars.json
  terraform_files/vsphere/variables-vsphere.tf
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

MGMT-6699 - Move libvirt functions to controller. Move unused utils functions to deprecated_utils.py.
  discovery-infra/bootstrap_in_place.py
  discovery-infra/day2.py
  discovery-infra/delete_nodes.py
  discovery-infra/deprecated_utils.py
  discovery-infra/install_cluster.py
  discovery-infra/start_discovery.py
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/controllers/node_controllers/libvirt_controller.py
  discovery-infra/test_infra/controllers/node_controllers/terraform_controller.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/infra_env.py
  discovery-infra/test_infra/utils/kubeapi_utils.py
  discovery-infra/test_infra/utils/utils.py
  discovery-infra/test_infra/utils/waiting.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

MGMT-7480: OS_IMAGES & RELEASE_IMAGES support
  README.md
  skipper.env
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7480: OS_IMAGES & RELEASE_IMAGES support (#1091)
  README.md
  skipper.env
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE:readme update
  README.md
Due: none

NO-ISSUE:readme update (#1092)
  README.md
Due: none

MGMT-1690: Switch minikube to k3d
  .gitignore
  GUIDE.md
  Jenkinsfile
  Jenkinsfile.test
  Makefile
  create_full_environment.sh
  discovery-infra/test_infra/controllers/node_controllers/terraform_controller.py
  discovery-infra/virsh_cleanup.py
  scripts/delete_local_cluster.sh
  scripts/deploy_local_cluster.sh
  scripts/deploy_local_registry.sh
  scripts/install_cluster_tools.sh
  skipper.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

MGMT-6699 - Move libvirt functions to controller. (#1090)
  discovery-infra/bootstrap_in_place.py
  discovery-infra/day2.py
  discovery-infra/delete_nodes.py
  discovery-infra/deprecated_utils.py
  discovery-infra/install_cluster.py
  discovery-infra/start_discovery.py
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/controllers/node_controllers/libvirt_controller.py
  discovery-infra/test_infra/controllers/node_controllers/terraform_controller.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/infra_env.py
  discovery-infra/test_infra/utils/kubeapi_utils.py
  discovery-infra/test_infra/utils/utils.py
  discovery-infra/test_infra/utils/waiting.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

NO-ISSUE - Fix missing extract_installer on bootstrap_in_place.py
  discovery-infra/bootstrap_in_place.py
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

NO-ISSUE: fix static IPs config option and use a new name
  Makefile
  README.md
  discovery-infra/start_discovery.py
  discovery-infra/test_infra/consts/env_defaults.py
  discovery-infra/test_infra/controllers/node_controllers/libvirt_controller.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/nodes.py
  discovery-infra/test_infra/utils/global_variables/env_variables_defaults.py
  skipper.env
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

NO-ISSUE: fix static IPs config option and use a new name (#1099)
  Makefile
  README.md
  discovery-infra/start_discovery.py
  discovery-infra/test_infra/consts/env_defaults.py
  discovery-infra/test_infra/controllers/node_controllers/libvirt_controller.py
  discovery-infra/test_infra/helper_classes/cluster.py
  discovery-infra/test_infra/helper_classes/nodes.py
  discovery-infra/test_infra/utils/global_variables/env_variables_defaults.py
  skipper.env
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api, ci/prow/e2e-metal-assisted-none

MGMT-7173: podman support upgrade podman to 3.2.3 and start podman socket upgrade skipper to the latest version work on skipper with podman-remote only
  Dockerfile.test-infra
  Makefile
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/utils/utils.py
  scripts/deploy_assisted_service.sh
  scripts/install_environment.sh
  scripts/test_ui.sh
  scripts/utils.sh
  skipper.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

MGMT-7173: podman support (#1101)
  Dockerfile.test-infra
  Makefile
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/utils/utils.py
  scripts/deploy_assisted_service.sh
  scripts/install_environment.sh
  scripts/test_ui.sh
  scripts/utils.sh
  skipper.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Update dependabot.yml
  .github/dependabot.yml
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api

Revert "MGMT-7173: podman support (#1101)"
  Dockerfile.test-infra
  Makefile
  discovery-infra/test_infra/consts/consts.py
  discovery-infra/test_infra/utils/utils.py
  scripts/deploy_assisted_service.sh
  scripts/install_environment.sh
  scripts/test_ui.sh
  scripts/utils.sh
  skipper.yaml
Due: ci/prow/e2e-metal-assisted, ci/prow/e2e-metal-assisted-kube-api
