Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-parallel, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Path conditions:
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|demo/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitignore|\.gitleaks\.toml|\.golangci\.yml|hack/|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/create-aro-hcp-in-integration: any of: ^(demo)
  ci/prow/create-aro-hcp-in-prod: any of: ^(demo)
  ci/prow/create-aro-hcp-in-stage: any of: ^(demo)
  ci/prow/integration-e2e-parallel: any of: ^(test|demo)
  ci/prow/prod-e2e-parallel: any of: ^(test|demo)
  ci/prow/stage-e2e-parallel: any of: ^(test|demo)

WIP
  test/cmd/aro-hcp-tests/gather-logs/cmd.go
  test/cmd/aro-hcp-tests/gather-logs/options.go
  test/cmd/aro-hcp-tests/main.go
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

e2e: use log fields for provisioningState instead of fmt.Sprintf
  test/e2e/admin_credential_lifecycle.go
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Add nodepool conditions
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  internal/api/enums.go
  internal/api/types_nodepool.go
  internal/validation/validate_nodepools.go
Due: e2e-parallel

Add hcpCluster conditions
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  internal/api/enums.go
  internal/api/types_cluster.go
  internal/validation/validate_cluster.go
Due: e2e-parallel

refactor the error wrapping handler for reuse
  frontend/cmd/cmd.go
  frontend/pkg/frontend/cluster.go
  frontend/pkg/frontend/context.go
  frontend/pkg/frontend/external_auth.go
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/helpers.go
  frontend/pkg/frontend/helpers_test.go
  frontend/pkg/frontend/middleware_audit.go
  frontend/pkg/frontend/middleware_audit_test.go
  frontend/pkg/frontend/middleware_correlation.go
  frontend/pkg/frontend/middleware_correlation_test.go
  frontend/pkg/frontend/middleware_locksubscription.go
  frontend/pkg/frontend/middleware_logging.go
  frontend/pkg/frontend/middleware_logging_test.go
  frontend/pkg/frontend/middleware_panic.go
  frontend/pkg/frontend/middleware_resourceid.go
  frontend/pkg/frontend/middleware_resourceid_test.go
  frontend/pkg/frontend/middleware_systemdata.go
  frontend/pkg/frontend/middleware_systemdata_test.go
  frontend/pkg/frontend/middleware_tracing.go
  frontend/pkg/frontend/middleware_validateapi.go
  frontend/pkg/frontend/middleware_validatesubscription.go
  frontend/pkg/frontend/middleware_validatesubscription_test.go
  frontend/pkg/frontend/node_pool.go
  frontend/pkg/frontend/operations.go
  frontend/pkg/frontend/routes.go
  frontend/pkg/metrics/metrics.go
  frontend/test/simulate/utils.go
  internal/errorutils/error.go
  internal/utils/context.go
  internal/utils/logger.go
Due: e2e-parallel

Add admin endpoint for dumping all related cosmos data
  admin/server/cmd/server/options.go
  admin/server/handlers/cosmosdump/dump_cosmos.go
  admin/server/handlers/hcp/helloworld.go
  admin/server/middleware/context.go
  admin/server/middleware/hcpresourceid.go
  internal/database/crud_untyped_resource.go
Due: e2e-parallel

Add pipelines to grant AKS access
  dev-infrastructure/Makefile
  dev-infrastructure/mgmt-kubeconfig.yaml
  dev-infrastructure/svc-kubeconfig.yaml
  topology.yaml
Due: e2e-parallel

database: Improve the error message for a failed transaction
  internal/database/transaction.go
Due: e2e-parallel

Update condition types degraded/completed
  internal/api/enums.go
Due: e2e-parallel

add data dumps just prior to deletion and for every long running operation
  admin/server/handlers/cosmosdump/dump_cosmos.go
  backend/go.mod
  backend/operations_scanner.go
  frontend/pkg/frontend/frontend.go
  internal/serverutils/dump_data.go
Due: e2e-parallel

bump aro-tools to latest for helm dry run fix
  test/go.mod
  test/go.sum
  tooling/hcpctl/go.mod
  tooling/hcpctl/go.sum
  tooling/helmtest/go.mod
  tooling/helmtest/go.sum
  tooling/pipeline-documentation/go.mod
  tooling/pipeline-documentation/go.sum
  tooling/secret-sync/go.mod
  tooling/secret-sync/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
  tooling/yamlwrap/go.mod
  tooling/yamlwrap/go.sum
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

bump frontend
  config/config.msft.clouds-overlay.yaml
  config/config.yaml
Due: e2e-parallel

materialize
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/prow/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Due: e2e-parallel

backend: add SLO metrics for backend operations
  backend/operations_scanner.go
  backend/operations_scanner_test.go
Due: e2e-parallel

dummy logging
  backend/main.go
  frontend/pkg/frontend/frontend.go
Due: e2e-parallel

frontend: add CS restriction on multiple external auth creations to frontend
  frontend/pkg/frontend/external_auth.go
  frontend/pkg/frontend/external_auth_test.go
  internal/admission/admit_externalauth.go
  test/e2e/external_auth_list_and_verify.go
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

observability: implement alert override support in prometheus-rules generator
  dev-infrastructure/modules/metrics/rules/generatedHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedMsftPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  tooling/prometheus-rules/internal/generator.go
Due: e2e-parallel

mixed grafana dashboard, vibed...
  observability/grafana-dashboards/kas-monitor/global_kas_api_slo.json
Due: e2e-parallel

Add maxLength for condition fields
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
Due: e2e-parallel

observability: regenerate Prometheus alert rules
  dev-infrastructure/modules/metrics/rules/generatedHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedMsftPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
Due: e2e-parallel

Remove unnecessary 'containers_image_openpgp' build tag since it's no longer used in image-sync
  .github/workflows/ci-go.yml
  CLAUDE.md
  Makefile
Due: e2e-parallel

fix: preserve insertion order in Prometheus rules generator
  tooling/prometheus-rules/internal/generator.go
Due: e2e-parallel

chore: regenerate Prometheus alert rules with deterministic ordering
  dev-infrastructure/modules/metrics/rules/generatedHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedMsftPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
Due: e2e-parallel

frontend: use admission for external auth resource type and check for existing external auth resource type
  frontend/pkg/frontend/external_auth.go
  frontend/pkg/frontend/external_auth_test.go
  frontend/test/simulate/artifacts/ExternalAuthMutation/multiple-external-auth/cosmos-state/cosmos-01-cluster.json
  frontend/test/simulate/artifacts/ExternalAuthMutation/multiple-external-auth/cosmos-state/cosmos-02-externalauth.json
  frontend/test/simulate/artifacts/ExternalAuthMutation/multiple-external-auth/create.json
  frontend/test/simulate/artifacts/ExternalAuthMutation/multiple-external-auth/expected-errors.txt
  internal/admission/admit_externalauth.go
  test/e2e/external_auth_list_and_verify.go
  test/go.sum
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

e2e: make external auth test informing until frontend is deployed with proper error handling around multiple external auth instances
  test/e2e/external_auth_list_and_verify.go
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

int to stage promotion
  config/config.msft.clouds-overlay.yaml
Due: e2e-parallel

stg - prod
  config/config.msft.clouds-overlay.yaml
Due: e2e-parallel

feat: update max ocp version for stable channel to allow install up to 4.20.5 in dev env
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/prow/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Due: e2e-parallel

fix: ensure HcpOpenShiftVersion.Enabled boolean is always present in JSON response
  internal/api/v20240610preview/hcpopenshiftversions_methods.go
  internal/api/v20251223preview/hcpopenshiftversions_methods.go
Due: e2e-parallel

fix: ensure NodePool.EnableEncryptionAtHost boolean is always present in JSON response
  frontend/test/simulate/artifacts/NodePoolMutation/basic/expected.json
  frontend/test/simulate/artifacts/NodePoolMutation/minimal/expected.json
  frontend/test/simulate/artifacts/NodePoolMutation/noop-update/expected.json
  internal/api/v20240610preview/nodepools_methods.go
  internal/api/v20251223preview/nodepools_methods.go
Due: e2e-parallel

docs: add link to the OpenShift CI documentation
  docs/prow.md
Due: none

DUMMY: Fix formatting of verbosity flag description
  tooling/templatize/main.go
Due: e2e-parallel

Add dummy shellIdentity
  dev-infrastructure/mgmt-kubeconfig.yaml
  dev-infrastructure/svc-kubeconfig.yaml
Due: e2e-parallel

Fix fmy
  dev-infrastructure/mgmt-kubeconfig.yaml
  dev-infrastructure/svc-kubeconfig.yaml
Due: e2e-parallel

clean: output summary table when verbosity is 0
  tooling/image-updater/README.md
  tooling/image-updater/cmd/update.go
  tooling/image-updater/internal/clients/acr.go
  tooling/image-updater/internal/clients/generic.go
  tooling/image-updater/internal/clients/quay.go
  tooling/image-updater/internal/output/output.go
  tooling/image-updater/internal/output/output_test.go
  tooling/image-updater/internal/updater/updater.go
  tooling/image-updater/internal/updater/updater_test.go
  tooling/image-updater/main.go
Due: e2e-parallel

feat: default logger set to 0 for fatal errors
  tooling/image-updater/main.go
Due: e2e-parallel

feat: use sets for spring maps
  tooling/image-updater/internal/config/config.go
  tooling/image-updater/internal/output/output.go
Due: e2e-parallel

clean: remove summary from output
  tooling/image-updater/internal/output/output.go
  tooling/image-updater/internal/output/output_test.go
  tooling/image-updater/internal/updater/updater.go
Due: e2e-parallel

clean: remove high-staleness information from the readme
  tooling/image-updater/README.md
Due: none
