Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

observability-prometheus:
  steps:
    test:
    - ref: aro-hcp-observability-prometheus

observability-grafana:
  steps:
    test:
    - ref: aro-hcp-observability-grafana

e2e-parallel:
  always_run: true
  steps:
    cluster_profile: aro-hcp-dev
    env:
      LOCATION: westus3
    workflow: aro-hcp-local-e2e

ci/prow/e2e-parallel:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aro-hcp-dev
    ci-operator.openshift.io/cloud-cluster-profile: aro-hcp-dev
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

fix(ci): close case-based bypass in supply-chain check
  .claude/skills/pr-standards/SKILL.md
  CONTRIBUTING.md
  hack/verify-supply-chain/main.go
  hack/verify-supply-chain/main_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(ci): match execution keys only in key position
  hack/verify-supply-chain/main.go
  hack/verify-supply-chain/main_test.go
  hack/verify-supply-chain/testdata/settings-malformed-benign.json
Due: e2e-parallel, ci/prow/e2e-parallel

fix(observability): rename IDMS burn-rate alerts to window-style names
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts/idms-mirror-slo-prometheusRule.yaml
  observability/alerts/idms-mirror-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

kevinobriendotca/ARO-25981-etcd-availability-alerts
  observability/alerts-rp-hcps.yaml
  observability/alerts/UserJourneyEtcdAvailability-prometheusRule.yaml
  observability/alerts/UserJourneyEtcdAvailability-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

kevinobriendotca/ARO-25981-etcd-availability-alerts
  observability/alerts/UserJourneyEtcdAvailability-prometheusRule.yaml
  observability/alerts/UserJourneyEtcdAvailability-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

kevinobriendotca/ARO-25981-etcd-availability-alerts
  observability/alerts/UserJourneyEtcdAvailability-prometheusRule.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

kevinobriendotca/ARO-25981-etcd-availability-alerts Addressing PR comments.
  dev-infrastructure/modules/metrics/rules/generatedRPHCPPrometheusAlertingRules.bicep
  observability/alerts/UserJourneyEtcdAvailability-prometheusRule.yaml
  observability/alerts/UserJourneyEtcdAvailability-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

kevinobriendotca/ARO-25981-etcd-availability-alerts
  dev-infrastructure/modules/metrics/rules/generatedHCPRecordingRules.bicep
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_arohcp_monitor.yaml
  observability/alerts/UserJourneyEtcdAvailability-prometheusRule.yaml
  observability/alerts/UserJourneyEtcdAvailability-prometheusRule_test.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources_unset.yaml
  observability/prometheus/values-mgmt.yaml
  observability/recording-rules-hcps.yaml
  observability/recording-rules/namespace-hcp-cluster-resource-id-recordingRule.yaml
  observability/recording-rules/namespace-hcp-cluster-resource-id-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

kevinobriendotca/ARO-25981-etcd-availability-alerts
  dev-infrastructure/modules/metrics/rules/generatedRPHCPPrometheusAlertingRules.bicep
  observability/alerts-rp-hcps.yaml
  observability/alerts/UserJourneyEtcdAvailability-prometheusRule.yaml
  observability/alerts/UserJourneyEtcdAvailability-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

docs: add operator managed identity reference with Azure RBAC permission tables
  docs/operator-identities/README.md
  docs/operator-identities/disk-csi-driver.md
  docs/operator-identities/file-csi-driver.md
  docs/operator-identities/image-registry.md
Due: none

test: add E2E test for Azure Disk and File CSI persistent volume provisioning
  test/e2e/cluster_csi_persistent_volume.go
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_dev_cd_check_paralleldev_cd_check_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_integration_parallelintegration_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_prod_parallelprod_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallelrp_api_compat_all_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_stage_parallelstage_parallel.txt
  test/util/verifiers/csi_persistent_volume.go
Due: e2e-parallel, ci/prow/e2e-parallel

Debug commit: remove role assignment
  hack/bicep-golden-fixtures/cluster-nodepool-osdisk.json
  hack/bicep-golden-fixtures/cluster-only.json
  hack/bicep-golden-fixtures/demo.json
  hack/bicep-golden-fixtures/infra-only.json
  hack/bicep-golden-fixtures/modules/managed-identities.json
  hack/bicep-golden-fixtures/modules/non-msi-scoped-assignments.json
  hack/bicep-golden-fixtures/no-cni.json
  test/e2e-setup/bicep/modules/non-msi-scoped-assignments.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

Add console availability check to nodepool update test
  test/e2e/nodepool_update_nodes.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: reduce dev e2e identity containers per slot
  test/e2e-config/e2e-slots.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix: limit resource-scoped e2e coverage to one test
  test/e2e/cluster_delete_cx_rg.go
  test/e2e/nodepool_labels_taints.go
  test/e2e/simple_negative_cases.go
Due: e2e-parallel, ci/prow/e2e-parallel

ExternalAuth deletion deadlocks
  backend/pkg/controllers/externalauth/deletion/external_auth_cluster_service_id_clearer.go
  backend/pkg/controllers/externalauth/deletion/external_auth_cluster_service_id_clearer_test.go
  docs/cosmos-data-flow.md
Due: e2e-parallel, ci/prow/e2e-parallel

feat(backend): add controller that fetches and persists identity metadata from different sources
  backend/cmd/hardcoded_identity_wiring.go
  backend/cmd/root.go
  backend/pkg/app/backend.go
  backend/pkg/controllers/cluster/identity/fetch_managed_identities_info.go
  backend/pkg/controllers/cluster/identity/fetch_managed_identities_info_test.go
  backend/pkg/controllers/cluster/identity/fetch_msi_identities_info_synconce_test.go
  backend/pkg/controllers/cluster/identity/fetch_msi_identities_info_test.go
  docs/cosmos-data-flow.md
  internal/api/coreapi/types_serviceprovider_cluster.go
  internal/api/coreapi/zz_generated.deepcopy.go
  internal/apihelpers/coreapihelpers/identity_metadata_value.go
  internal/apihelpers/coreapihelpers/identity_metadata_value_test.go
  test-integration/backend/launch/metrics_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: update internal cluster data type name
  backend/pkg/controllers/cluster/roleassignments/role_assignments_controller.go
  backend/pkg/controllers/cluster/roleassignments/role_assignments_controller_test.go
  backend/pkg/controllers/cluster/roleassignments/role_assignments_intent_controller.go
Due: e2e-parallel, ci/prow/e2e-parallel

remove resourceid as part of roleassignmentkey and add it as part of targetidentity
  backend/pkg/controllers/cluster/operations/operation_cluster_create_test.go
  backend/pkg/controllers/cluster/roleassignments/role_assignments_controller.go
  backend/pkg/controllers/cluster/roleassignments/role_assignments_intent_controller.go
  backend/pkg/controllers/cluster/roleassignments/role_assignments_intent_controller_test.go
  internal/api/coreapi/types_serviceprovider_cluster.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(backend): update roleassignment controller to support full lifecycle and identity replacement
  backend/pkg/app/backend.go
  backend/pkg/azure/azuremockclient/mock_clients.go
  backend/pkg/azure/client/errors.go
  backend/pkg/azure/client/mock_role_assignments_client.go
  backend/pkg/azure/client/role_assignments_client.go
  backend/pkg/controllers/cluster/operations/operation_cluster_create.go
  backend/pkg/controllers/cluster/operations/operation_cluster_create_test.go
  backend/pkg/controllers/cluster/roleassignments/role_assignments_controller.go
  backend/pkg/controllers/cluster/roleassignments/role_assignments_controller_test.go
  backend/pkg/controllers/cluster/roleassignments/role_assignments_intent_controller.go
  backend/pkg/controllers/cluster/roleassignments/role_assignments_intent_controller_test.go
  docs/cosmos-data-flow.md
  internal/api/coreapi/types_serviceprovider_cluster.go
  internal/api/coreapi/zz_generated.deepcopy.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: use coreapihelper for identity metadata resolved information check
  backend/pkg/controllers/cluster/roleassignments/role_assignments_intent_controller.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: rename SPC RoleAssignments to RoleAssignmentsOverManagedResourceGroup
  backend/pkg/controllers/cluster/operations/operation_cluster_create_test.go
  backend/pkg/controllers/cluster/roleassignments/role_assignments_controller.go
  backend/pkg/controllers/cluster/roleassignments/role_assignments_controller_test.go
  backend/pkg/controllers/cluster/roleassignments/role_assignments_intent_controller.go
  backend/pkg/controllers/cluster/roleassignments/role_assignments_intent_controller_test.go
  internal/api/coreapi/types_serviceprovider_cluster.go
  internal/api/coreapi/zz_generated.deepcopy.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs: update e2e identity pool capacity guidance
  docs/ci/identity-leasing.md
  test/cmd/aro-hcp-tests/slot-manager/DESIGN.md
Due: none

test: enforce canonical resource-scoped e2e spec
  hack/verify-mi-containers/main.go
  hack/verify-mi-containers/main_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: delete mrg upon completed cs cluster deletion if orphaned
  backend/pkg/controllers/cluster/azureresources/managed_resource_group_controller.go
  backend/pkg/controllers/cluster/azureresources/managed_resource_group_controller_test.go
  docs/cosmos-data-flow.md
  docs/diagrams/controller-flows/cluster-delete.dot
  docs/diagrams/controller-flows/cluster-delete.png
Due: e2e-parallel, ci/prow/e2e-parallel

more changes and refactors
  backend/pkg/controllers/cluster/operations/operation_cluster_create.go
  backend/pkg/controllers/cluster/roleassignments/role_assignments_controller_test.go
  backend/pkg/controllers/cluster/roleassignments/role_assignments_intent_controller.go
  backend/pkg/controllers/cluster/roleassignments/role_assignments_intent_controller_test.go
  internal/api/coreapi/types_serviceprovider_cluster.go
  internal/api/coreapi/zz_generated.deepcopy.go
  internal/apihelpers/coreapihelpers/serviceprovider_cluster.go
Due: e2e-parallel, ci/prow/e2e-parallel

Harden hosted cluster data-plane identity handoff
  backend/cmd/root.go
  backend/deploy/templates/backend.deployment.yaml
  backend/pkg/app/backend.go
  backend/pkg/controllers/cluster/dataplaneworkloads/hosted_cluster_identity_controller.go
  backend/pkg/controllers/cluster/dataplaneworkloads/hosted_cluster_identity_controller_test.go
  backend/pkg/controllers/cluster/dataplaneworkloads/oidc_federation_controller.go
  backend/pkg/controllers/cluster/dataplaneworkloads/oidc_federation_controller_test.go
  backend/pkg/controllers/cluster/dataplaneworkloads/oidc_federation_intent_controller.go
  backend/pkg/controllers/cluster/dataplaneworkloads/oidc_federation_intent_controller_test.go
  backend/pkg/controllers/cluster/denyassignments/deny_assignment_controller.go
  backend/pkg/controllers/cluster/denyassignments/deny_assignment_controller_test.go
  backend/pkg/controllers/cluster/denyassignments/deny_assignment_definitions.go
  backend/pkg/controllers/clusterresources/cluster_resources_controller.go
  backend/pkg/controllers/clusterresources/cluster_resources_controller_test.go
  backend/pkg/kubeapplierhelpers/hosted_cluster_identity_handoff.go
  backend/pkg/kubeapplierhelpers/hosted_cluster_identity_handoff_test.go
  backend/testdata/zz_fixture_TestHelmTemplate_backend_clstr_scoped_identities_role_set_name_public.yaml
  backend/testdata/zz_fixture_TestHelmTemplate_backend_mi_mock_and_arm_perms_mgr_identities_unset.yaml
  backend/testdata/zz_fixture_TestHelmTemplate_backend_mi_mock_ids_from_kv_secret.yaml
  backend/values.yaml
  backend/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_aro_hcp_backend_dev.yaml
  config/config.schema.json
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  docs/cosmos-data-flow.md
  internal/api/coreapi/types_serviceprovider_cluster.go
  internal/api/coreapi/zz_generated.deepcopy.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(hcpctl): add snapshot from-cluster subcommand
  .gitignore
  tooling/hcpctl/cmd/snapshot/cmd.go
  tooling/hcpctl/cmd/snapshot/from_cluster_cmd.go
  tooling/hcpctl/cmd/snapshot/from_cluster_cmd_test.go
  tooling/hcpctl/pkg/snapshot/gatherer.go
  tooling/hcpctl/pkg/snapshot/gatherer_test.go
  tooling/hcpctl/pkg/snapshot/manifest.go
  tooling/hcpctl/pkg/snapshot/queries.go
  tooling/hcpctl/pkg/snapshot/queries/backend/clusterByResourceGroup/README.md
  tooling/hcpctl/pkg/snapshot/queries/backend/clusterByResourceGroup/query.kql
  tooling/hcpctl/pkg/snapshot/queries/backend/cosmosResourceDiscovery/README.md
  tooling/hcpctl/pkg/snapshot/queries/backend/cosmosResourceDiscovery/query.kql
  tooling/hcpctl/pkg/snapshot/queries/backend/resourceControllerConditionTimeline/query.kql
  tooling/hcpctl/pkg/snapshot/queries/backend/resourceControllerConditions/query.kql
  tooling/hcpctl/pkg/snapshot/queries/backend/resourceInternalId/README.md
  tooling/hcpctl/pkg/snapshot/queries/backend/resourceInternalId/query.kql
  tooling/hcpctl/pkg/snapshot/queries/backend/serviceProviderState/query.kql
  tooling/hcpctl/pkg/snapshot/queries/hypershift/hostedClusterConditionTimeline/query.kql
  tooling/hcpctl/pkg/snapshot/queries/hypershift/hostedClusterConditions/query.kql
  tooling/hcpctl/pkg/snapshot/queries/hypershift/hostedClusterMetadata/README.md
  tooling/hcpctl/pkg/snapshot/queries/hypershift/hostedClusterMetadata/query.kql
  tooling/hcpctl/pkg/snapshot/queries/partials/bundleMap.kql
  tooling/hcpctl/pkg/snapshot/queries_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: preserve integer precision in NeedsUpdate RawExtension comparison
  internal/controllerutils/needs_update.go
  internal/controllerutils/needs_update_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: calculate in operation cluster create the role assignment creation state
  backend/pkg/app/backend.go
  backend/pkg/controllers/cluster/operations/operation_cluster_create.go
  backend/pkg/controllers/cluster/operations/operation_cluster_create_test.go
  backend/pkg/controllers/cluster/roleassignments/role_assignments_intent_controller.go
  backend/pkg/controllers/cluster/roleassignments/role_assignments_intent_controller_test.go
  internal/apihelpers/coreapihelpers/identity_resolution.go
  internal/apihelpers/coreapihelpers/serviceprovider_cluster_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(hcpctl): add --skip-cosmos-git to must-gather query
  tooling/hcpctl/README.md
  tooling/hcpctl/cmd/must-gather/query_cmd.go
  tooling/hcpctl/cmd/must-gather/query_options.go
  tooling/hcpctl/cmd/must-gather/query_options_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: use newer AKS API for node pool updates
  dev-infrastructure/scripts/aks-cluster-create/deployment.go
  dev-infrastructure/scripts/aks-cluster-create/deployment_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(backend): update denyassignment controller to support full lifecycle and identity replacement
  backend/pkg/app/backend.go
  backend/pkg/controllers/cluster/creation/cluster_cluster_service_create_controller.go
  backend/pkg/controllers/cluster/creation/cluster_cluster_service_create_controller_test.go
  backend/pkg/controllers/cluster/denyassignments/deny_assignment_controller.go
  backend/pkg/controllers/cluster/denyassignments/deny_assignment_controller_test.go
  backend/pkg/controllers/cluster/denyassignments/deny_assignment_definitions.go
  backend/pkg/controllers/cluster/denyassignments/deny_assignment_intent_controller.go
  backend/pkg/controllers/cluster/denyassignments/deny_assignment_intent_controller_test.go
  internal/api/coreapi/types_serviceprovider_cluster.go
  internal/api/coreapi/zz_generated.deepcopy.go
Due: e2e-parallel, ci/prow/e2e-parallel

more changes
  backend/pkg/controllers/cluster/creation/cluster_cluster_service_create_controller.go
  internal/api/coreapi/types_serviceprovider_cluster.go
  internal/apihelpers/coreapihelpers/deny_assignment.go
  internal/apihelpers/coreapihelpers/serviceprovider_cluster.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(test): remove private KAS e2e DNS workaround and add regression check
  test/e2e/cluster_create_private_kas.go
  test/util/framework/resource_group_helper.go
Due: e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
