Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$

fix(test): Update the ignored fields list in checkOperationResult
  .claude/skills/bootstrap-api-version/SKILL.md
  test/util/framework/hcp_helper.go
Due: e2e-parallel, ci/prow/e2e-parallel

chore(api): Delete unused autorest config files
  api/readme.md
  api/testsdk.md
Due: none

test: add E2E test for deny assignment allowed customer permissions
  test/e2e/cluster_deny_assignment_permissions.go
  test/go.mod
  test/go.sum
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_dev_cd_check_paralleldev_cd_check_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_integration_parallelintegration_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_prod_parallelprod_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallelrp_api_compat_all_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_stage_parallelstage_parallel.txt
Due: e2e-parallel, ci/prow/e2e-parallel

Add install distribution comparisons
  observability/grafana-dashboards/sre/user-journey/sli-slo-metrics.json
Due: e2e-parallel, ci/prow/e2e-parallel

Paginate large Kusto query results
  tooling/hcpctl/pkg/kusto/client.go
  tooling/hcpctl/pkg/kusto/client_test.go
  tooling/hcpctl/pkg/kusto/query.go
  tooling/hcpctl/pkg/kusto/query_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs: add docs for local grafana development
  docs/grafana-dashboards.md
  docs/sre/hcp-metrics.md
  observability/grafana-dashboards/sre/cluster-health/README.md
Due: none

docs: add docs for PR grafana previews
  docs/ci/README.md
  docs/grafana-dashboards.md
  observability/grafana-dashboards/sre/cluster-health/README.md
  tooling/grafanactl/README.md
Due: none

fix: exclude soft-deleted MI's from sweeper retention
  tooling/cleanup-sweeper/pkg/engine/steps/roleassignments/delete.go
  tooling/cleanup-sweeper/pkg/engine/steps/roleassignments/delete_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

add user facing condion if ca expires
  backend/pkg/controllers/externalauth/status/externalauth_degraded_aggregator.go
  backend/pkg/controllers/externalauth/status/externalauth_degraded_aggregator_test.go
  internal/validation/validate_externalauth_comprehensive_test.go
  internal/validation/validators.go
  test-integration/frontend/artifacts/FrontendCRUD/ExternalAuth/invalid-format/04-httpCreate-externalauth/expected-error.txt
Due: e2e-parallel, ci/prow/e2e-parallel

fix: gate backend, fleet and frontend startup on Cosmos queries
  backend/deploy/templates/backend.deployment.yaml
  backend/pkg/app/backend.go
  backend/testdata/zz_fixture_TestHelmTemplate_backend_clstr_scoped_identities_role_set_name_public.yaml
  backend/testdata/zz_fixture_TestHelmTemplate_backend_mi_mock_and_arm_perms_mgr_identities_unset.yaml
  backend/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_aro_hcp_backend_dev.yaml
  fleet/deploy/templates/controller.deployment.yaml
  fleet/pkg/manager/manager.go
  fleet/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_fleet.yaml
  frontend/deploy/templates/frontend.deployment.yaml
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/routes.go
  frontend/testdata/zz_fixture_TestHelmTemplate_frontend_connect_socket.yaml
  frontend/testdata/zz_fixture_TestHelmTemplate_frontend_mise_enabled.yaml
  frontend/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_aro_hcp_frontend_dev.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix: gate backend, fleet and frontend startup on Cosmos queries
  backend/deploy/templates/backend.deployment.yaml
  backend/pkg/app/backend.go
  backend/testdata/zz_fixture_TestHelmTemplate_backend_clstr_scoped_identities_role_set_name_public.yaml
  backend/testdata/zz_fixture_TestHelmTemplate_backend_mi_mock_and_arm_perms_mgr_identities_unset.yaml
  backend/testdata/zz_fixture_TestHelmTemplate_backend_mi_mock_ids_from_kv_secret.yaml
  backend/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_aro_hcp_backend_dev.yaml
  fleet/deploy/templates/controller.deployment.yaml
  fleet/pkg/manager/manager.go
  fleet/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_fleet.yaml
  frontend/deploy/templates/frontend.deployment.yaml
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/routes.go
  frontend/testdata/zz_fixture_TestHelmTemplate_frontend_connect_socket.yaml
  frontend/testdata/zz_fixture_TestHelmTemplate_frontend_mise_enabled.yaml
  frontend/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_aro_hcp_frontend_dev.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

refactor: share ARM LRO retry policy
  test/util/framework/azure_client_policies.go
  test/util/framework/azure_client_policies_test.go
  test/util/framework/per_invocation_framework.go
  tooling/templatize/pkg/azclient/lro_poller_retry_policy.go
  tooling/templatize/pkg/azclient/lro_poller_retry_policy_test.go
  tooling/templatize/pkg/pipeline/arm.go
  tooling/templatize/pkg/pipeline/arm_retry_policy.go
Due: e2e-parallel, ci/prow/e2e-parallel

observability: Add cluster deletion alerting rules (ARO-26216)
  observability/alerts-rp-services.yaml
  observability/alerts/HCPClusterDeletion-prometheusRule.yaml
  observability/alerts/HCPClusterDeletion-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-deletion.json
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: address reviewer feedback on cluster deletion SLO alerts
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/HCPClusterDeletion-prometheusRule.yaml
  observability/alerts/HCPClusterDeletion-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-deletion.json
  observability/recording-rules-services.yaml
  observability/recording-rules/cluster-deletion-slo-recordingRule.yaml
  observability/recording-rules/cluster-deletion-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: add component label and fix stuck-op summary for cluster deletion alerts
  observability/alerts/HCPClusterDeletion-prometheusRule.yaml
  observability/alerts/HCPClusterDeletion-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

address review comments on cluster deletion SLO alerts
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/cluster-deletion-slo-prometheusRule.yaml
  observability/alerts/cluster-deletion-slo-prometheusRule_test.yaml
  observability/recording-rules/cluster-deletion-slo-recordingRule.yaml
  observability/recording-rules/cluster-deletion-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: finalize cluster deletion SLO alerts with fixes
  observability/alerts/cluster-deletion-slo-prometheusRule.yaml
  observability/alerts/cluster-deletion-slo-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-deletion.json
  observability/recording-rules/cluster-deletion-slo-recordingRule.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

Fix: Latency, renaming, duplication alert
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/cluster-deletion-slo-prometheusRule.yaml
  observability/alerts/cluster-deletion-slo-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-deletion.json
  observability/recording-rules/cluster-deletion-slo-recordingRule.yaml
  observability/recording-rules/cluster-deletion-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

regenerate recording rules Bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

fix indentation under prometheusrule
  observability/alerts/cluster-deletion-slo-prometheusRule.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

regenerate Bicep alerts and recording rules after rebase
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

fix: preserve retry defaults for empty options
  test/util/framework/azure_client_policies_test.go
  tooling/templatize/pkg/azclient/lro_poller_retry_policy.go
  tooling/templatize/pkg/azclient/lro_poller_retry_policy_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

test: bump to a locally built CS image to test latest version of CS integration with read desire
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_azuredb.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_containerdb.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_distinct_arm_helper.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_shared_arm_helper.yaml
  cluster-service/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_cluster_service.yaml
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

chore: add machi1990 as backend approver
  backend/OWNERS
Due: e2e-parallel, ci/prow/e2e-parallel

refactor: remove redundant Copilot session send gate
  tooling/hcpctl/pkg/agent/agent.go
  tooling/hcpctl/pkg/agent/copilot_session_error_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(e2e): make missing lease releases idempotent (AROSLSRE-2075)
  test/cmd/aro-hcp-tests/slot-manager/slots/leaseproxy.go
  test/cmd/aro-hcp-tests/slot-manager/slots/leaseproxy_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

added integration test artifact for invalid availability zone type
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/invalid-availability-zone-type/00-httpCreate-subscription/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/invalid-availability-zone-type/00-httpCreate-subscription/subscription.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/invalid-availability-zone-type/01-httpCreate-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/invalid-availability-zone-type/01-httpCreate-cluster/cluster.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/invalid-availability-zone-type/02-setClusterServiceID-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/invalid-availability-zone-type/03-completeOperation-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/invalid-availability-zone-type/04-httpCreate-nodepool/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/invalid-availability-zone-type/04-httpCreate-nodepool/expected-error.txt
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/invalid-availability-zone-type/04-httpCreate-nodepool/nodepool.json
Due: e2e-parallel, ci/prow/e2e-parallel

docs(ci): add E2E cleanup triage guidance and job identification
  docs/ci/cleanup.md
  docs/ci/dev-ci-monitoring.md
Due: none

fix(hcpctl): correlate Copilot session errors
  tooling/hcpctl/pkg/agent/agent.go
  tooling/hcpctl/pkg/agent/copilot_send_dispatcher.go
  tooling/hcpctl/pkg/agent/copilot_send_dispatcher_test.go
  tooling/hcpctl/pkg/agent/copilot_session_error.go
  tooling/hcpctl/pkg/agent/copilot_session_error_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

wip: identity replacement approach based on granular steps and storing all identity info with oidc federation example
  backend/cmd/hardcoded_identity_fpa_mi_dataplane_wiring.go
  backend/cmd/root.go
  backend/pkg/app/backend.go
  backend/pkg/azure/client/errors.go
  backend/pkg/azure/client/federated_identity_credentials_client.go
  backend/pkg/azure/client/mock_federated_identity_credentials_client.go
  backend/pkg/azure/client/mock_smi_client_builder.go
  backend/pkg/azure/client/smi_client_builder.go
  backend/pkg/azure/federatedidentitycredential/federatedidentitycredential.go
  backend/pkg/controllers/cluster/dataplaneworkloads/oidc_federation_controller.go
  backend/pkg/controllers/cluster/dataplaneworkloads/oidc_federation_controller_test.go
  backend/pkg/controllers/cluster/dataplaneworkloads/oidc_federation_intent_controller.go
  backend/pkg/controllers/cluster/dataplaneworkloads/oidc_federation_intent_controller_test.go
  backend/pkg/controllers/cluster/dataplaneworkloads/oidc_federation_test_helpers_test.go
  backend/pkg/controllers/cluster/deletion/cluster_child_resources_cleanup_controller.go
  backend/pkg/controllers/cluster/deletion/cluster_child_resources_cleanup_mrg_gate_test.go
  backend/pkg/controllers/cluster/identity/fetch_managed_identities_info.go
  backend/pkg/controllers/cluster/identity/fetch_managed_identities_info_test.go
  backend/pkg/utils/validationutils/azure_nodepool_nsg_based_required_connectivity_validation_test.go
  docs/cosmos-data-flow.md
  internal/api/coreapi/types_serviceprovider_cluster.go
  internal/api/coreapi/types_serviceprovider_cluster_dataplane_oidc_test.go
  internal/api/coreapi/zz_generated.deepcopy.go
  test-integration/backend/launch/metrics_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

Add user facing condition for ca which has future start date and no error while admission
  backend/pkg/controllers/externalauth/status/externalauth_degraded_aggregator.go
  backend/pkg/controllers/externalauth/status/externalauth_degraded_aggregator_test.go
  internal/validation/validate_externalauth_comprehensive_test.go
  internal/validation/validators.go
Due: e2e-parallel, ci/prow/e2e-parallel

test: add E2E test for node cordon, drain, and uncordon
  test/e2e/nodepool_cordon.go
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_dev_cd_check_paralleldev_cd_check_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_integration_parallelintegration_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_prod_parallelprod_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallelrp_api_compat_all_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_stage_parallelstage_parallel.txt
Due: e2e-parallel, ci/prow/e2e-parallel

feat: gate ManagementCluster readiness on shared-ingress availability
  admin/server/handlers/stamp/managementcluster.go
  fleet/pkg/controllers/lifecycle/controller.go
  fleet/pkg/controllers/lifecycle/controller_test.go
  fleet/pkg/controllers/sharedingress/controller_test.go
  fleet/pkg/controllers/sharedingress/create_shared_ingress_read_desire_controller.go
  fleet/pkg/controllers/sharedingress/shared_ingress_reporting_controller.go
  fleet/pkg/controllers/sharedingress/sharedingress.go
  fleet/pkg/manager/manager.go
  internal/api/fleetapi/types_management_cluster.go
  internal/api/fleetapi/zz_generated.deepcopy.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(mgmt-agent): prepare mgmt-agent for AMA hybrid monitoring
  config/config.schema.json
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  mgmt-agent/cmd/options.go
  mgmt-agent/deploy/templates/clusterrole.yaml
  mgmt-agent/deploy/templates/deployment.yaml
  mgmt-agent/deploy/templates/servicemonitor.yaml
  mgmt-agent/pkg/controller/amanetpolicy/controller.go
  mgmt-agent/pkg/controller/amanetpolicy/controller_test.go
  mgmt-agent/pkg/controller/amanetpolicy/testdata/zz_fixture_TestBuildNetworkPolicy.yaml
  mgmt-agent/pkg/controller/ksmhcp/resources.go
  mgmt-agent/pkg/controller/monitortranslator/controller.go
  mgmt-agent/pkg/controller/monitortranslator/controller_test.go
  mgmt-agent/pkg/controller/monitortranslator/testdata/zz_fixture_TestTranslatePodMonitor.yaml
  mgmt-agent/pkg/controller/monitortranslator/testdata/zz_fixture_TestTranslateServiceMonitor.yaml
  mgmt-agent/values.yaml
  mgmt-agent/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_mgmt_agent.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add KSM HCP E2E test with rendered config and shared Prometheus utilities
  nonlocal-e2e-specs.txt
  test/cmd/aro-hcp-tests/custom-link-tools/options.go
  test/cmd/aro-hcp-tests/gather-observability/options.go
  test/cmd/aro-hcp-tests/gather-observability/promql.go
  test/cmd/aro-hcp-tests/gather-observability/workspace.go
  test/e2e/ksm_hcp_metrics.go
  test/e2e/kusto_logs_present.go
  test/util/framework/per_invocation_framework.go
  test/util/framework/per_test_framework.go
  test/util/prometheus/prometheus.go
  test/util/testconfig/config.go
  test/util/verifiers/kusto.go
  test/util/verifiers/must_gather_cli.go
Due: e2e-parallel, ci/prow/e2e-parallel

refactor: replace rendered config loading with environment variables
  Makefile
  test/E2ELocal.mk
  test/Env.mk
  test/cmd/aro-hcp-tests/custom-link-tools/options.go
  test/cmd/aro-hcp-tests/gather-observability/options.go
  test/cmd/aro-hcp-tests/gather-observability/promql.go
  test/cmd/aro-hcp-tests/gather-observability/workspace.go
  test/cmd/aro-hcp-tests/internal/testutil/config.go
  test/e2e/ksm_hcp_metrics.go
  test/e2e/kusto_logs_present.go
  test/util/framework/per_invocation_framework.go
  test/util/framework/per_test_framework.go
  test/util/verifiers/kusto.go
  test/util/verifiers/must_gather_cli.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: default RENDERED_CONFIG in e2e-local/run target
  Makefile
  test/E2ELocal.mk
Due: e2e-parallel, ci/prow/e2e-parallel

Add missing label AroRpApiCompatible
  nonlocal-e2e-specs.txt
  test/e2e/ksm_hcp_metrics.go
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_dev_cd_check_paralleldev_cd_check_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
Due: e2e-parallel, ci/prow/e2e-parallel
