Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$

simplied the error assertion content
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/invalid-availability-zone-type/04-httpCreate-nodepool/expected-error.txt
Due: e2e-parallel, ci/prow/e2e-parallel

wip
  mgmt-agent/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_mgmt_agent.yaml
  test/e2e/setup.go
  test/util/config/config.go
  test/util/verifiers/must_gather_cli.go
Due: e2e-parallel, ci/prow/e2e-parallel

Update expected error message for invalid availability zone
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/invalid-availability-zone-type/04-httpCreate-nodepool/expected-error.txt
Due: e2e-parallel, ci/prow/e2e-parallel

test: tighten invalid availabilityZone expected-error assertion
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/invalid-availability-zone-type/04-httpCreate-nodepool/expected-error.txt
Due: e2e-parallel, ci/prow/e2e-parallel

refactor: move orphaned MRG env vars to BackendRootCmdFlags
  backend/cmd/root.go
  backend/pkg/app/backend.go
  backend/pkg/controllers/cluster/deletion/orphaned_managed_resource_group_controller.go
  backend/pkg/controllers/cluster/deletion/orphaned_managed_resource_group_controller_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

Add RBAC for Swift PodNetwork and PodNetworkInstance CRs
  kube-applier/deploy/templates/clusterrole.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

chore(api): Update OWNERS list
  api/OWNERS
Due: e2e-parallel, ci/prow/e2e-parallel

Regenerate Helm golden fixtures for Swift PodNetwork RBAC rule
  kube-applier/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_kube_applier.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix(test): compare DNS-resolved IP against internal LB IP for exactness
  test/e2e/cluster_create_private_kas.go
  test/util/framework/resource_group_helper.go
Due: e2e-parallel, ci/prow/e2e-parallel

frontend: require a CSR for admin credential requests
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/frontend_test.go
  test-integration/frontend/artifacts/FrontendCRUD/AdminCredentials/request-missing-csr/00-httpCreate-subscription/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/AdminCredentials/request-missing-csr/00-httpCreate-subscription/subscription.json
  test-integration/frontend/artifacts/FrontendCRUD/AdminCredentials/request-missing-csr/01-load-initial-cosmos-state/01-cluster.json
  test-integration/frontend/artifacts/FrontendCRUD/AdminCredentials/request-missing-csr/02-httpPost-request-credentials/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/AdminCredentials/request-missing-csr/02-httpPost-request-credentials/body.json
  test-integration/frontend/artifacts/FrontendCRUD/AdminCredentials/request-missing-csr/02-httpPost-request-credentials/expected-error.txt
  test-integration/frontend/artifacts/FrontendCRUD/AdminCredentials/request-provisioning-conflict/02-httpPost-request-credentials/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/AdminCredentials/request-provisioning-conflict/02-httpPost-request-credentials/body.json
  test-integration/frontend/artifacts/FrontendCRUD/AdminCredentials/request/03-listActiveOperations-request-credentials/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/AdminCredentials/request/03-listActiveOperations-request-credentials/operation-request-credential.json
Due: e2e-parallel, ci/prow/e2e-parallel

feat(api): remove activeKey in 10-03-preview in favor of keyURL
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/examples/2026-10-03-preview/HcpOpenShiftClusters_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/examples/2026-10-03-preview/HcpOpenShiftClusters_Get_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/examples/2026-10-03-preview/HcpOpenShiftClusters_ListByResourceGroup_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/examples/2026-10-03-preview/HcpOpenShiftClusters_ListBySubscription_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/examples/2026-10-03-preview/HcpOpenShiftClusters_Update_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2026-10-03-preview/examples/HcpOpenShiftClusters_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2026-10-03-preview/examples/HcpOpenShiftClusters_Get_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2026-10-03-preview/examples/HcpOpenShiftClusters_ListByResourceGroup_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2026-10-03-preview/examples/HcpOpenShiftClusters_ListBySubscription_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2026-10-03-preview/examples/HcpOpenShiftClusters_Update_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2026-10-03-preview/openapi.json
  internal/api/coreapi/defaults_test.go
  internal/api/coreapi/types_cluster.go
  internal/apitesting/coreapitesting/fuzz.go
  internal/azureapi/v20240610preview/conversion_fuzz_test.go
  internal/azureapi/v20240610preview/hcpopenshiftclusters_methods.go
  internal/azureapi/v20251223preview/conversion_fuzz_test.go
  internal/azureapi/v20251223preview/hcpopenshiftclusters_methods.go
  internal/azureapi/v20260630preview/conversion_fuzz_test.go
  internal/azureapi/v20260630preview/hcpopenshiftclusters_methods.go
  internal/azureapi/v20260901preview/hcpopenshiftclusters_methods.go
  internal/azureapi/v20261001preview/hcpopenshiftclusters_methods.go
  internal/azureapi/v20261003preview/generated/models.go
  internal/azureapi/v20261003preview/generated/models_serde.go
  internal/azureapi/v20261003preview/hcpopenshiftclusters_methods.go
  internal/database/cosmosstorage/cosmosstorageutils/convert_defaults_consistency_test.go
  test-integration/frontend/artifacts/VersionCompliance/Cluster/basic-cluster/expected/get/2026-10-03-preview.json
  test-integration/frontend/artifacts/VersionCompliance/Cluster/basic-cluster/expected/list/2026-10-03-preview.json
  test-integration/frontend/cross_version_roundtrip_test.go
  test/sdk/v20261003preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/models.go
  test/sdk/v20261003preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/models_serde.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(cosmosmigration): backfill keyencryptionkeyurl in older docs
  backend/pkg/controllers/cosmosmigration/cosmos_migration.go
  backend/pkg/controllers/cosmosmigration/cosmos_migration_test.go
  docs/cosmos-data-flow.md
  test-integration/frontend/artifacts/FrontendCRUD/Migration/migrate-old-data/99-cosmosCompare-confirm-migration/cluster-create-with-tags.json
Due: e2e-parallel, ci/prow/e2e-parallel

fix: address PR review feedback for orphaned MRG controller
  backend/pkg/controllers/cluster/deletion/orphaned_managed_resource_group_controller.go
  backend/pkg/utils/controllerutils/managed_resource_group_watching_controller.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: reduce hourly backup retention to two days
  backend/pkg/controllers/cluster/backups/config.go
  docs/backups.md
Due: e2e-parallel, ci/prow/e2e-parallel

fix(ev2): set identity retries to three attempts (AROSLSRE-2101)
  dev-infrastructure/global-pipeline-stg.yaml
  dev-infrastructure/global-pipeline.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

templatize: disambiguate our JUnit suite from ci-operator
  tooling/templatize/pkg/pipeline/run.go
  tooling/templatize/pkg/pipeline/run_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: check AllNodesHealthy and report all failing conditions in node pool update status
  backend/pkg/controllers/nodepool/operations/operation_node_pool_update_state_calculation.go
  backend/pkg/controllers/nodepool/operations/operation_node_pool_update_state_calculation_test.go
  backend/pkg/controllers/nodepool/operations/operation_node_pool_update_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: attribute Cosmos DB RU costs in CI artifacts
  admin/server/cmd/server/options.go
  docs/cosmos-data-flow.md
  internal/database/cosmosstorage/corecosmosstorage/database.go
  internal/database/cosmosstorage/cosmosmetrics/policy.go
  internal/database/cosmosstorage/cosmosmetrics/policy_test.go
  internal/database/informers/coreinformers/attribution_test.go
  internal/database/informers/coreinformers/informers.go
  internal/database/informers/fleetinformers/fleet_informers.go
  internal/database/informers/informerutils/changefeed_attribution_test.go
  internal/database/informers/informerutils/context.go
  internal/database/informers/informerutils/list_watch.go
  internal/database/informers/informerutils/list_watch_test.go
  internal/database/informers/kubeapplierinformers/informers.go
  test/cmd/aro-hcp-tests/gather-observability/artifacts/metricspanel.html.tmpl
  test/cmd/aro-hcp-tests/gather-observability/chart.go
  test/cmd/aro-hcp-tests/gather-observability/chart_test.go
  test/cmd/aro-hcp-tests/gather-observability/options.go
  test/cmd/aro-hcp-tests/gather-observability/promql.go
  test/cmd/aro-hcp-tests/gather-observability/promql_test.go
  test/cmd/aro-hcp-tests/gather-observability/queries.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

Add changes as per alignment from arch discussion and e2e
  backend/pkg/app/backend.go
  backend/pkg/controllers/externalauth/creation/create_service_provider_externalauth_controller.go
  backend/pkg/controllers/externalauth/status/externalauth_available_controller.go
  backend/pkg/controllers/externalauth/status/externalauth_available_controller_test.go
  backend/pkg/controllers/externalauth/status/externalauth_userfacing_aggregator.go
  docs/cosmos-data-flow.md
  internal/api/coreapi/externalauth_conditions.go
  internal/api/coreapi/types_externalauth.go
  test/e2e/external_auth_create.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(image-updater): defer ACR credential construction to first authenticated use (AROSLSRE-2081)
  tooling/image-updater/internal/clients/acr.go
  tooling/image-updater/internal/clients/acr_test.go
  tooling/image-updater/internal/clients/auth.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs: add AllNodesHealthyConditionType for OperationNodePoolUpdate in cosmos-data-flow.md
  docs/cosmos-data-flow.md
Due: none

add Latency SLI stuck operation alert and recording rule for cluster provisioning
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/cluster-provision-slo-prometheusRule.yaml
  observability/alerts/cluster-provision-slo-prometheusRule_test.yaml
  observability/recording-rules/cluster-provision-slo-recordingRule.yaml
  observability/recording-rules/cluster-provision-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

Apply suggestions from code review
  observability/alerts/cluster-provision-slo-prometheusRule.yaml
  observability/recording-rules/cluster-provision-slo-recordingRule.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

use recording rule in stuck operation alert and fix alert name casing
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts/cluster-provision-slo-prometheusRule.yaml
  observability/alerts/cluster-provision-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

add test to assert clear after alert clears
  observability/alerts/cluster-provision-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

update threshold to 30 minutes and clear on terminal state for the alert
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts/cluster-provision-slo-prometheusRule.yaml
  observability/alerts/cluster-provision-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

apply copilot suggestion and update alert prefix to UserJourney
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/cluster-provision-slo-prometheusRule.yaml
  observability/alerts/cluster-provision-slo-prometheusRule_test.yaml
  observability/recording-rules/cluster-provision-slo-recordingRule.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

Regenrate bicep for recording rules
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

window cluster-provision error rate by terminal transition time
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/cluster-provision-slo-prometheusRule.yaml
  observability/alerts/cluster-provision-slo-prometheusRule_test.yaml
  observability/recording-rules/cluster-provision-slo-recordingRule.yaml
  observability/recording-rules/cluster-provision-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

chore: regenerate recording rules bicep after rebase
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

exclude canceled ops from SLO denominator
  observability/grafana-dashboards/sre/user-journey/cluster-provisioning-slo.json
  observability/recording-rules/cluster-provision-slo-recordingRule_test.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

feat(backend): add conditional permission requirements to control-plane identity validation
  backend/pkg/utils/validationutils/control_plane_identities_permissions_cluster_validation.go
  backend/pkg/utils/validationutils/control_plane_identities_permissions_cluster_validation_test.go
  backend/pkg/utils/validationutils/identity_authorization_result.go
  internal/azure/cluster_scoped_identities_config.go
Due: e2e-parallel, ci/prow/e2e-parallel

ARO-29503 fixes for review comments
  backend/pkg/controllers/cluster/version/control_plane_active_version_controller.go
  backend/pkg/controllers/cluster/version/control_plane_active_version_controller_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

observability: add MaestroAgentMetricsProxyDown (ARO-26256)
  dev-infrastructure/modules/metrics/rules/generatedDevServicesPrometheusAlertingRules.bicep
  docs/alerts/metrics-proxy.md
  observability/alerts-dev-services.yaml
  observability/alerts/metrics-proxy-prometheusRule.yaml
  observability/alerts/metrics-proxy-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel
