Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Path conditions:
  create-aro-hcp-in-integration: any of: ^(demo)
  ci/prow/create-aro-hcp-in-integration: any of: ^(demo)
  ci/prow/create-aro-hcp-in-prod: any of: ^(demo)
  ci/prow/create-aro-hcp-in-stage: any of: ^(demo)
  ci/prow/integration-e2e-parallel: any of: ^(test|demo)
  ci/prow/prod-e2e-parallel: any of: ^(test|demo)
  ci/prow/stage-e2e-parallel: any of: ^(test|demo)

bump aro-tools
  test/go.mod
  test/go.sum
  tooling/pipeline-documentation/go.mod
  tooling/pipeline-documentation/go.sum
  tooling/secret-sync/go.mod
  tooling/secret-sync/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
  tooling/yamlwrap/go.mod
  tooling/yamlwrap/go.sum
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

don't run the test if no job name is given
  test/execute-prow-job.sh
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

e2e: don't eventually wait for the revocation, it should happen immediately
  test/e2e/admin_credential_lifecycle.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Improve kubectl exec command in postgres-breakglass.md
  docs/ops/postgres-breakglass.md
Due: none

fixing OutputOnly check
  tooling/templatize/pkg/pipeline/bicep.go
Due: none

adding test
  dev-infrastructure/modules/global-rp-resources.bicep
  tooling/templatize/internal/end2end/e2e_test.go
Due: none

removing unwanted change
  dev-infrastructure/modules/global-rp-resources.bicep
Due: none

api: Remove unused ValidateRequest parameter
  frontend/pkg/frontend/external_auth.go
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/node_pool.go
  internal/api/hcpopenshiftcluster.go
  internal/api/hcpopenshiftcluster_test.go
  internal/api/hcpopenshiftclusterexternalauth.go
  internal/api/hcpopenshiftclusterexternalauth_test.go
  internal/api/hcpopenshiftclusternodepool.go
  internal/api/hcpopenshiftclusternodepool_test.go
  internal/api/registry.go
  internal/api/v20240610preview/external_auth_methods.go
  internal/api/v20240610preview/hcpopenshiftclusters_methods.go
  internal/api/v20240610preview/nodepools_methods.go
  internal/api/validate.go
Due: none

api: Add versioned factory method for version resources
  internal/api/registry.go
  internal/api/v20240610preview/hcpopenshiftversions_methods.go
Due: none

api: Remove versioned marshal methods for resources
  frontend/pkg/frontend/external_auth.go
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/node_pool.go
  internal/api/registry.go
  internal/api/v20240610preview/external_auth_methods.go
  internal/api/v20240610preview/hcpopenshiftclusters_methods.go
  internal/api/v20240610preview/hcpopenshiftversions_methods.go
  internal/api/v20240610preview/nodepools_methods.go
Due: none

api: Simplify HCPOpenShiftCluster.Validate
  internal/api/hcpopenshiftcluster.go
Due: none

api: Define standalone validation functions
  frontend/pkg/frontend/external_auth.go
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/node_pool.go
  internal/api/registry.go
  internal/api/v20240610preview/external_auth_methods.go
  internal/api/v20240610preview/hcpopenshiftclusters_methods.go
  internal/api/v20240610preview/nodepools_methods.go
Due: none

api: Add GetValidator method to Version interface
  internal/api/registry.go
  internal/api/v20240610preview/register.go
Due: none

api: Move ValidateRequest calls back into ValidateStatic methods
  internal/api/hcpopenshiftcluster.go
  internal/api/hcpopenshiftcluster_test.go
  internal/api/hcpopenshiftclusterexternalauth.go
  internal/api/hcpopenshiftclusterexternalauth_test.go
  internal/api/hcpopenshiftclusternodepool.go
  internal/api/hcpopenshiftclusternodepool_test.go
  internal/api/v20240610preview/external_auth_methods.go
  internal/api/v20240610preview/hcpopenshiftclusters_methods.go
  internal/api/v20240610preview/nodepools_methods.go
Due: none

api: Add Resource and VersionedResource interfaces
  internal/api/hcpopenshiftcluster.go
  internal/api/hcpopenshiftclusterexternalauth.go
  internal/api/hcpopenshiftclusternodepool.go
  internal/api/hcpopenshiftversion.go
  internal/api/registry.go
  internal/api/testhelpers.go
  internal/api/v20240610preview/external_auth_methods.go
  internal/api/v20240610preview/hcpopenshiftclusters_methods.go
  internal/api/v20240610preview/hcpopenshiftversions_methods.go
  internal/api/v20240610preview/nodepools_methods.go
Due: none

add new HCPCluster fields
  frontend/pkg/frontend/external_auth.go
  frontend/pkg/frontend/external_auth_test.go
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/node_pool.go
  frontend/pkg/frontend/node_pool_test.go
  frontend/pkg/frontend/routes.go
  internal/api/testhelpers.go
  internal/database/database.go
  internal/database/document.go
  internal/database/transaction.go
  internal/database/typeddocument.go
  internal/database/typeddocument_test.go
  internal/database/types_empty.go
  internal/database/types_hcpcluster.go
  internal/mocks/dbclient.go
  internal/mocks/dbtransaction.go
Due: none

e2e: allow 2 minutes for aad/msgraph token propagation
  test/e2e/external_auth_create.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

adding better test cases
  tooling/templatize/internal/end2end/e2e.go
  tooling/templatize/internal/end2end/e2e_test.go
Due: none

add the mandatory kms managed identity in the cluster definition in crluster-creation doc
  cluster-service/cluster-creation.md
Due: none

Add bicep dependency for MI/HCP instance
  test/e2e-setup/bicep/cluster-only.bicep
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

fixing lint errors
  tooling/templatize/internal/end2end/e2e_test.go
Due: none

bump aro-tools to fix helm install
  test/go.mod
  test/go.sum
  tooling/pipeline-documentation/go.mod
  tooling/pipeline-documentation/go.sum
  tooling/secret-sync/go.mod
  tooling/secret-sync/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
  tooling/yamlwrap/go.mod
  tooling/yamlwrap/go.sum
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

update Prometheus and prometheus operator images in int and dev
  config/config.msft.clouds-overlay.yaml
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Due: none

try ginkgowriter for logs instead, implement retry for http request.
  test/util/verifiers/serving_app.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

backend: log out the operation failure should one occur
  backend/operations_scanner.go
Due: none

test: increase timeout for ext auth access token retrieval
  test/e2e/external_auth_create.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

feat: make ocp version config configurable based on env
  cluster-service/.gitignore
  cluster-service/Makefile
  cluster-service/deploy/ocp-versions.tmpl
  cluster-service/deploy/templates/aro-hcp-ocp-versions-config.configmap.yaml
  cluster-service/deploy/values.yaml
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Due: none

Don't do PR checks for ai context PRs
  .github/workflows/bicep-lint.yml
  .github/workflows/ci-observability.yml
  .github/workflows/config-change-detection.yml
  .github/workflows/services-pr-check.yml
  .github/workflows/yaml-lint.yml
Due: none

Update README to reflect changes. Update naming of test suites.
  test/cmd/aro-hcp-tests/main.go
  test/e2e/README.md
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

frontend: Simplify /healthz handling
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/frontend_test.go
  internal/database/database.go
  internal/mocks/dbclient.go
Due: none

frontend: Refactor routes functions
  frontend/pkg/frontend/routes.go
Due: none

frontend: Do not use middleware for /healthz or /location
  frontend/pkg/frontend/routes.go
Due: none

set decrease to 20m
  hypershiftoperator/deploy/templates/cluster.clustersizingconfiguration.yaml
Due: none

Add Persistence to OSDisk spec
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_Get_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_ListByParent_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_Update_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_Get_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_ListByParent_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_Update_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  internal/api/v20240610preview/generated/constants.go
  internal/api/v20240610preview/generated/models.go
  internal/api/v20240610preview/generated/models_serde.go
Due: none

correct the casing of the field persistence
  demo/bicep/nodepool.bicep
  demo/node_pool.tmpl.json
  test/e2e-setup/bicep/modules/nodepool.bicep
Due: create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Add style and syntax simplification suggestions
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  internal/api/testhelpers.go
  internal/ocm/convert.go
  internal/ocm/convert_test.go
Due: none

update sdk and frontend with CS changes for OSdisk
  demo/bicep/nodepool.bicep
  demo/node_pool.tmpl.json
  frontend/utils/create.go
  go.work.sum
  test/e2e-setup/bicep/modules/nodepool.bicep
Due: create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

changes to support PascalCase Enum
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  internal/api/enums.go
  internal/api/hcpopenshiftclusternodepool_test.go
  internal/api/v20240610preview/generated/constants.go
Due: none

Remove E2E edit
  test/e2e-setup/bicep/modules/nodepool.bicep
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Add test for osDisk encryption validation
  internal/api/hcpopenshiftclusternodepool_test.go
Due: none
