Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$

disable Prometheus on SVC clusters and filter health alerts
  dev-infrastructure/modules/metrics/rules/generatedMsftPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/underlay-clusters-metric.bicep
  dev-infrastructure/svc-pipeline.yaml
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
  observability/alerts/prometheus-prometheusRule.yaml
  observability/alerts/prometheus-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

refactor: move ama-metrics-settings-configmap to service-lifecycle chart
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_arohcp_monitor.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_service_lifecycle.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_arohcp_monitor.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_service_lifecycle.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources_unset.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_svc_resources.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_svc_resources_unset.yaml
  service-lifecycle/deploy/templates/ama-metrics-settings-configmap.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat: add etcd gRPC latency recording rules, alerts, and inline docs
  dev-infrastructure/modules/metrics/rules/generatedHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedHCPRecordingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPHCPPrometheusAlertingRules.bicep
  observability/alerts-rp-hcps.yaml
  observability/alerts-sre-hcps.yaml
  observability/alerts/HCPetcd-grpc-latency-prometheusRule_test.yaml
  observability/alerts/UserJourneyEtcdLatencyMonitor-prometheusRule.yaml
  observability/alerts/UserJourneyEtcdLatencyMonitor-prometheusRule_test.yaml
  observability/alerts/UserJourneyEtcdLatencyRecord-prometheusRule.yaml
  observability/alerts/UserJourneyEtcdLatencyRecord-prometheusRule_test.yaml
  observability/recording-rules-hcps.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: enable AMA kube-state-metrics scraping on SVC clusters
  dev-infrastructure/mgmt-pipeline.yaml
  dev-infrastructure/svc-pipeline.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_service_lifecycle.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_service_lifecycle.yaml
  service-lifecycle/deploy/templates/ama-metrics-settings-configmap.yaml
  service-lifecycle/deploy/values-mgmt.yaml
  service-lifecycle/deploy/values-svc.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

add select control plane version function
  backend/pkg/hcpversionselection/select_version.go
  backend/pkg/hcpversionselection/select_version_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

add simple test server for cincinnati
  internal/cincinnati/testserver/graph.go
  internal/cincinnati/testserver/server.go
  internal/cincinnati/testserver/server_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

caching cincinnati client
  internal/cincinnati/caching_client.go
  internal/cincinnati/caching_client_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

chore: add SVC cluster prometheus cleanup script and pipeline step
  dev-infrastructure/scripts/cleanup-prometheus.sh
  dev-infrastructure/svc-pipeline.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix: address PR review feedback on Cincinnati version selection
  backend/pkg/controllers/cluster/version/control_plane_desired_version_controller.go
  backend/pkg/controllers/cluster/version/control_plane_desired_version_controller_test.go
  backend/pkg/hcpversionselection/select_version.go
  internal/cincinnati/caching_client.go
  internal/cincinnati/caching_client_test.go
  internal/cincinnati/testserver/server.go
  internal/cincinnati/testserver/server_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

basic usage attempt
  backend/pkg/app/backend.go
  backend/pkg/controllers/cluster/version/control_plane_desired_version_controller.go
  backend/pkg/controllers/cluster/version/control_plane_desired_version_controller_test.go
  backend/pkg/controllers/nodepool/version/nodepool_version_controller.go
  backend/pkg/controllers/nodepool/version/nodepool_version_controller_test.go
  internal/cincinnati/cache.go
  internal/cincinnati/cache_test.go
  internal/cincinnati/mock_cache.go
  test/e2e/control_plane_minor_upgrade.go
Due: e2e-parallel, ci/prow/e2e-parallel

f
  backend/pkg/controllers/cluster/version/control_plane_desired_version_controller_test.go
  backend/pkg/hcpversionselection/select_version_test.go
  internal/cincinnati/caching_client.go
  internal/cincinnati/caching_client_test.go
  test/e2e/control_plane_minor_upgrade.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: skip y-stream upgrade E2E test when no Cincinnati upgrade path exists
  backend/pkg/controllers/cluster/version/control_plane_desired_version_controller_test.go
  test/e2e/control_plane_minor_upgrade.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add MinimumVersions field, controller override, and admin APIs
  admin/server/handlers/hcp/minimumversions.go
  admin/server/handlers/hcp/minimumversions_test.go
  admin/server/handlers/minimumversions.go
  admin/server/handlers/minimumversions_test.go
  admin/server/server/admin.go
  backend/pkg/controllers/cluster/version/control_plane_desired_version_controller.go
  backend/pkg/controllers/cluster/version/minimum_version_override.go
  backend/pkg/controllers/cluster/version/minimum_version_override_test.go
  internal/api/types_serviceprovider_cluster.go
  internal/api/zz_generated.deepcopy.go
Due: e2e-parallel, ci/prow/e2e-parallel

refactor(mgmt-agent): derive node-health success from the pod LIST (AROSLSRE-1588)
  mgmt-agent/pkg/controller/nodehealth/controller.go
  mgmt-agent/pkg/controller/nodehealth/controller_test.go
  mgmt-agent/pkg/controller/nodehealth/detectors/README.md
  mgmt-agent/pkg/controller/nodehealth/detectors/decide.go
  mgmt-agent/pkg/controller/nodehealth/detectors/decide_test.go
  mgmt-agent/pkg/controller/nodehealth/detectors/production_evidence_test.go
  mgmt-agent/pkg/controller/nodehealth/detectors/signature_detector.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs(node-health): success is read from the pod LIST, not a kept history (AROSLSRE-1588)
  docs/controllers/node-health.md
Due: none

feat:cache SKUs API reponse for VM validations
  backend/go.mod
  backend/go.sum
  backend/pkg/app/backend.go
  backend/pkg/azure/cachedreader/virtual_machine_resource_skus_cached_reader.go
  backend/pkg/azure/cachedreader/virtual_machine_resource_skus_cached_reader_test.go
  backend/pkg/azure/client/fpa_client_builder.go
  backend/pkg/azure/client/mock_fpa_client_builder.go
  backend/pkg/azure/client/mock_resource_skus_client.go
  backend/pkg/azure/client/mock_usage_client.go
  backend/pkg/azure/client/resource_skus_client.go
  backend/pkg/azure/client/usage_client.go
  test-integration/go.mod
  test-integration/go.sum
Due: e2e-parallel, ci/prow/e2e-parallel

docs: update alert-verification with Explore tab and Scratchpad folder
  docs/alert-verification.md
Due: none

docs: drop env-info skill references, just say prod grafana
  docs/alert-verification.md
Due: none

docs(node-health): note the finished-pod success path in the diagram and RBAC (AROSLSRE-1588)
  docs/controllers/node-health.md
Due: none

fix(mgmt-agent): drop the redundant embedded Time selector (AROSLSRE-1588)
  mgmt-agent/pkg/controller/nodehealth/detectors/signature_detector.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs(mgmt-agent): describe the absolute skew window precisely (AROSLSRE-1588)
  mgmt-agent/pkg/controller/nodehealth/detectors/README.md
Due: none

docs: remove all grafana-datasource references
  docs/alert-verification.md
Due: none

fix(mgmt-agent): only count a container's first run as a sandbox success (AROSLSRE-1588)
  mgmt-agent/pkg/controller/nodehealth/detectors/README.md
  mgmt-agent/pkg/controller/nodehealth/detectors/decide_test.go
  mgmt-agent/pkg/controller/nodehealth/detectors/signature_detector.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs(node-health): only a container's first run is sandbox evidence (AROSLSRE-1588)
  docs/controllers/node-health.md
Due: none

fix(dev-infrastructure): unset workingDir on postgres-access reconcile steps (AROSLSRE-1699)
  dev-infrastructure/svc-pipeline.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

docs(mgmt-agent): DecisionUnknown no longer describes a restart cold view (AROSLSRE-1588)
  mgmt-agent/pkg/controller/nodehealth/controller.go
  mgmt-agent/pkg/controller/nodehealth/detectors/decide.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add ClusterDenyAssignment controller for Azure deny assignments
  backend/pkg/app/backend.go
  backend/pkg/azure/azuremockclient/mock_clients.go
  backend/pkg/azure/client/deny_assignments_client.go
  backend/pkg/azure/client/fpa_client_builder.go
  backend/pkg/azure/client/generic_resources_client.go
  backend/pkg/controllers/cluster/creation/cluster_cluster_service_create_controller.go
  backend/pkg/controllers/cluster/creation/cluster_cluster_service_create_controller_test.go
  backend/pkg/controllers/cluster/deletion/cluster_child_resources_cleanup_controller.go
  backend/pkg/controllers/cluster/denyassignments/deny_assignment_controller.go
  backend/pkg/controllers/cluster/denyassignments/deny_assignment_controller_test.go
  backend/pkg/controllers/cluster/denyassignments/deny_assignment_definitions.go
  backend/pkg/controllers/cluster/denyassignments/deny_assignment_permissions.go
  backend/pkg/controllers/controllerutils/util.go
  internal/api/types_cosmosdata.go
  internal/api/types_serviceprovider_cluster.go
  internal/api/zz_generated.deepcopy.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: report hcpctl token usage
  docs/snapshot-analysis.md
  tooling/hcpctl/cmd/snapshot/analyze_cmd.go
  tooling/hcpctl/pkg/agent/agent.go
  tooling/hcpctl/pkg/agent/analyze.go
  tooling/hcpctl/pkg/agent/claude_provider.go
  tooling/hcpctl/pkg/agent/provider.go
  tooling/hcpctl/pkg/agent/provider_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: report hcpctl token usage
  docs/snapshot-analysis.md
  tooling/hcpctl/cmd/snapshot/analyze_cmd.go
  tooling/hcpctl/cmd/snapshot/analyze_cmd_test.go
  tooling/hcpctl/pkg/agent/agent.go
  tooling/hcpctl/pkg/agent/analyze.go
  tooling/hcpctl/pkg/agent/claude_provider.go
  tooling/hcpctl/pkg/agent/provider.go
  tooling/hcpctl/pkg/agent/provider_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: capture live Copilot usage events
  docs/snapshot-analysis.md
  tooling/hcpctl/pkg/agent/agent.go
  tooling/hcpctl/pkg/agent/provider_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

chore: automate tenant-quota image updates
  config/config-dev-ci.yaml
  tooling/image-updater/config.yaml
  tooling/tenant-quota/deploy/values.yaml
  tooling/tenant-quota/deploy/values.yaml.tmpl
Due: e2e-parallel, ci/prow/e2e-parallel

ocpbugs-98213 verification: override CPO version on private key vault test
  test/e2e/cluster_create_private_kv.go
Due: e2e-parallel, ci/prow/e2e-parallel

bump cpo image
  test/e2e/cluster_create_private_kv.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: correct import ordering in analyze_cmd_test.go
  tooling/hcpctl/cmd/snapshot/analyze_cmd_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

Add CPO override tests for 5.0 installation to confirm router ordering
  test/e2e/cluster_create_cpo_override_20240610.go
  test/e2e/cluster_create_cpo_override_20251223.go
  test/e2e/cluster_create_private_kv.go
  test/e2e/setup.go
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_dev_cd_check_paralleldev_cd_check_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_integration_parallelintegration_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_prod_parallelprod_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallelrp_api_compat_all_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_stage_parallelstage_parallel.txt
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add oncall-shift and create-jira-issue skills for AI-assisted operations
  tooling/triage/skills/create-jira-issue/SKILL.md
  tooling/triage/skills/oncall-shift/SKILL.md
Due: none

docs: enforce lowercase labels and clarify aro/hcp usage in JIRA skill
  tooling/triage/skills/create-jira-issue/SKILL.md
Due: none

docs: add Dev merge queue monitoring to oncall-shift skill
  tooling/triage/skills/oncall-shift/SKILL.md
Due: none

docs: add IcM triage, coverage model, and ops policy to oncall skill
  tooling/triage/skills/oncall-shift/SKILL.md
Due: none
