Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$

fix(observability): de-duplicate HA replica scrapes in SLO recording rules
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/recording-rules/access-cluster-slo-recordingRule.yaml
  observability/recording-rules/access-cluster-slo-recordingRule_test.yaml
  observability/recording-rules/nodepool-slo-recordingRule.yaml
  observability/recording-rules/nodepool-slo-recordingRule_test.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix(observability): window Access Cluster and Node Pool SLO error rates by terminal transition time
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/access-cluster-slo-prometheusRule.yaml
  observability/alerts/access-cluster-slo-prometheusRule_test.yaml
  observability/alerts/nodepool-slo-prometheusRule.yaml
  observability/alerts/nodepool-slo-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/access-cluster-slo.json
  observability/grafana-dashboards/sre/user-journey/nodepool-slo.json
  observability/recording-rules-services.yaml
  observability/recording-rules/access-cluster-slo-recordingRule.yaml
  observability/recording-rules/access-cluster-slo-recordingRule_test.yaml
  observability/recording-rules/nodepool-slo-recordingRule.yaml
  observability/recording-rules/nodepool-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix(observability): restore the Degradation early-warning tier for Access Cluster and Node Pool
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts/access-cluster-slo-prometheusRule.yaml
  observability/alerts/access-cluster-slo-prometheusRule_test.yaml
  observability/alerts/nodepool-slo-prometheusRule.yaml
  observability/alerts/nodepool-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix(observability): address SLO alert, dashboard, and test review findings
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts/access-cluster-slo-prometheusRule.yaml
  observability/alerts/access-cluster-slo-prometheusRule_test.yaml
  observability/alerts/nodepool-slo-prometheusRule.yaml
  observability/alerts/nodepool-slo-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/access-cluster-slo.json
  observability/grafana-dashboards/sre/user-journey/nodepool-slo.json
  observability/recording-rules/access-cluster-slo-recordingRule_test.yaml
  observability/recording-rules/nodepool-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix(observability): restore conventional Errors{1h5m,6h30m,3d} alert names
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts/access-cluster-slo-prometheusRule.yaml
  observability/alerts/access-cluster-slo-prometheusRule_test.yaml
  observability/alerts/nodepool-slo-prometheusRule.yaml
  observability/alerts/nodepool-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

observability: preserve region on MaestroAgentMetricsProxyDown aggregations
  dev-infrastructure/modules/metrics/rules/generatedDevServicesPrometheusAlertingRules.bicep
  docs/alerts/metrics-proxy.md
Due: e2e-parallel, ci/prow/e2e-parallel

observability: regenerate alerting Bicep via make alerts (ARO-26256)
  dev-infrastructure/modules/metrics/rules/generatedDevServicesPrometheusAlertingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

deduplicate HA replicas in recording rules, restore degradation alert, update dashboard
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/cluster-provision-slo-prometheusRule.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-provisioning-slo.json
  observability/recording-rules/cluster-provision-slo-recordingRule.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: address Copilot review on MaestroAgentMetricsProxyDown (ARO-26256)
  dev-infrastructure/modules/metrics/rules/generatedDevServicesPrometheusAlertingRules.bicep
  docs/alerts/metrics-proxy.md
  observability/alerts/metrics-proxy-prometheusRule.yaml
  observability/alerts/metrics-proxy-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

chore: remove bennerv from OWNERS files
  OWNERS
  api/OWNERS
  test/OWNERS
  tooling/helmtest/OWNERS
  tooling/kiota/OWNERS
Due: e2e-parallel, ci/prow/e2e-parallel

docs: refine control plane resize procedure
  docs/ops/override-cluster-size.md
Due: none

docs: add production resize validation reference
  docs/ops/override-cluster-size.md
Due: none

fix: bump ACM/MCE bundles to 2.17 (acm-217 / mce-217)
  acm/deploy/helm/multicluster-engine-config/charts/policy/Chart.yaml
  acm/deploy/helm/multicluster-engine-config/charts/policy/charts/cluster-lifecycle/Chart.yaml
  acm/deploy/helm/multicluster-engine-config/charts/policy/charts/grc/Chart.yaml
  acm/deploy/helm/multicluster-engine-config/charts/policy/values.yaml
  acm/deploy/helm/multicluster-engine-crds/Chart.yaml
  acm/deploy/helm/multicluster-engine-crds/templates/multiclusterengines.multicluster.openshift.io.customresourcedefinition.yaml
  acm/deploy/helm/multicluster-engine/Chart.yaml
  acm/deploy/helm/multicluster-engine/templates/multicluster-engine-operator.deployment.yaml
  acm/deploy/helm/multicluster-engine/templates/multicluster-engine-x5d5x8b93c5mh334chde54vpu6bfnweigxlxg6wtmnd.clusterrole.yaml
  acm/deploy/helm/multicluster-engine/templates/multicluster-engine-x5d5x8b93c5mh334chde54vpu6bfnweigxlxg6wtmnd.clusterrolebinding.yaml
  acm/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_mce.yaml
  acm/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_mce_crds.yaml
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  tooling/image-updater/config.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix(image-updater): unpin aksCommandRuntime back to tagPattern (AROSLSRE-2025)
  tooling/image-updater/config.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

tooling/tenant-quota: bump alert `for` durations to PT30M
  tooling/tenant-quota/alerting.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

chore: update aksCommandRuntime digest to master.260914.1
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

Fix TenantQuotaCollectorUp annotation to match new PT30M threshold
  tooling/tenant-quota/alerting.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

ci: enable declarative DEV release bot RBAC
  config/config-dev-ci.schema.json
  config/config-dev-ci.yaml
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  dev-infrastructure/dev-ci/e2e-subscription-rbac-grants/pipeline.yaml
  dev-infrastructure/templates/ci-bot-rbac-subscription.bicep
  dev-infrastructure/templates/ci-bot-rbac.bicep
  dev-infrastructure/templates/geneva-identities.bicep
  dev-infrastructure/templates/mise-identity.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

foo
  test/e2e/ksm_hcp_metrics.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(backend): add controller that fetches and persists identity metadata from different sources
  backend/cmd/hardcoded_identity_wiring.go
  backend/cmd/root.go
  backend/pkg/app/backend.go
  backend/pkg/controllers/cluster/identity/fetch_managed_identities_info.go
  backend/pkg/controllers/cluster/identity/fetch_managed_identities_info_test.go
  backend/pkg/controllers/cluster/identity/fetch_msi_identities_info_synconce_test.go
  backend/pkg/controllers/cluster/identity/fetch_msi_identities_info_test.go
  docs/cosmos-data-flow.md
  internal/api/coreapi/types_serviceprovider_cluster.go
  internal/api/coreapi/zz_generated.deepcopy.go
  test-integration/backend/launch/metrics_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(image-updater): source registry credentials from Docker config (AROSLSRE-2106)
  docs/secret-sync.md
  tooling/image-updater/AGENTS.md
  tooling/image-updater/README.md
  tooling/image-updater/config.yaml
  tooling/image-updater/go.mod
  tooling/image-updater/go.sum
  tooling/image-updater/internal/clients/auth.go
  tooling/image-updater/internal/clients/auth_test.go
  tooling/image-updater/internal/config/config.go
  tooling/image-updater/internal/config/config_test.go
  tooling/image-updater/internal/options/options.go
  tooling/image-updater/internal/options/options_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(test): identify KAS internal LB by kube-apiserver rule name
  test/util/framework/resource_group_helper.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs: address resize SOP review feedback
  docs/ops/override-cluster-size.md
Due: none

Initial implementation of destruct chain in ClusterResourcesController
  backend/pkg/app/backend.go
  backend/pkg/controllers/cluster/deletion/cluster_cluster_service_delete_dispatch_controller.go
  backend/pkg/controllers/cluster/deletion/cluster_cluster_service_delete_dispatch_controller_test.go
  backend/pkg/controllers/cluster/operations/operation_cluster_delete.go
  backend/pkg/controllers/clusterresources/apply_desire_removal_chain.go
  backend/pkg/controllers/clusterresources/apply_desire_removal_chain_test.go
  backend/pkg/controllers/clusterresources/apply_desire_removal_steps.go
  backend/pkg/controllers/clusterresources/cluster_resources_controller.go
  backend/pkg/controllers/clusterresources/desire_names.go
  kube-applier/deploy/templates/clusterrole.yaml
  kube-applier/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_kube_applier.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix(ev2): correct identity retry count (AROSLSRE-2101)
  dev-infrastructure/global-pipeline-stg.yaml
  dev-infrastructure/global-pipeline.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix(test): identify KAS internal LB by name prefix and kube-apiserver rule
  test/util/framework/resource_group_helper.go
Due: e2e-parallel, ci/prow/e2e-parallel

test: verify HCP clusters via Insights Operator
  test/e2e/cluster_insights_operator.go
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_integration_parallelintegration_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_prod_parallelprod_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_stage_parallelstage_parallel.txt
  test/util/verifiers/insights.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: order Cosmos container role assignments
  dev-infrastructure/modules/rp-cosmos.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

hardcode CloudReplacement
  test/util/config/config.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: expose Copilot retry-after metadata
  tooling/hcpctl/pkg/agent/agent.go
  tooling/hcpctl/pkg/agent/copilot_session_error.go
  tooling/hcpctl/pkg/agent/copilot_session_error_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

chore: bump maestro image (AROSLSRE-2073)
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

Revert "observability: Frontend ARM RP SLO burn-rate alerts (ARO-28707)"
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts-rp-services.yaml
  observability/alerts/frontend-slo-prometheusRule.yaml
  observability/alerts/frontend-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

perf(image-updater): parallelize discovery without stale fallback (AROSLSRE-2109)
  tooling/image-updater/go.mod
  tooling/image-updater/go.sum
  tooling/image-updater/internal/clients/acr.go
  tooling/image-updater/internal/clients/acr_test.go
  tooling/image-updater/internal/clients/auth_test.go
  tooling/image-updater/internal/clients/common.go
  tooling/image-updater/internal/clients/common_test.go
  tooling/image-updater/internal/clients/generic.go
  tooling/image-updater/internal/clients/generic_test.go
  tooling/image-updater/internal/clients/quay.go
  tooling/image-updater/internal/clients/quay_test.go
  tooling/image-updater/internal/clients/utils.go
  tooling/image-updater/internal/updater/updater.go
  tooling/image-updater/internal/updater/updater_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

test: extend v20260630 preview timebomb
  test/util/framework/constants.go
Due: e2e-parallel, ci/prow/e2e-parallel

Ensure there are ReadDesires for each cluster resource created
  backend/pkg/controllers/cluster/deletion/cluster_child_resources_cleanup_controller.go
  backend/pkg/controllers/clusterresources/apply_desire_removal_chain.go
  backend/pkg/controllers/clusterresources/apply_desire_removal_chain_test.go
  backend/pkg/controllers/clusterresources/apply_desire_removal_steps.go
  backend/pkg/controllers/clusterresources/cluster_resources_controller.go
  backend/pkg/controllers/clusterresources/cluster_resources_controller_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

refactor(slot-manager): use standard set semantics
  test/cmd/aro-hcp-tests/slot-manager/slots/catalog.go
  test/cmd/aro-hcp-tests/slot-manager/slots/catalog_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

ci: manage DEV release bot identity declaratively
  dev-infrastructure/configurations/ci-bot-identity.tmpl.bicepparam
  dev-infrastructure/templates/ci-bot-identity.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

observability: pause frontend p99 latency SLO alerts
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts/frontend-slo-prometheusRule.yaml
  observability/alerts/frontend-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

refactor(slot-manager): type region selection modes
  test/cmd/aro-hcp-tests/slot-manager/acquire.go
  test/cmd/aro-hcp-tests/slot-manager/acquire_test.go
  test/cmd/aro-hcp-tests/slot-manager/slots/catalog.go
  test/cmd/aro-hcp-tests/slot-manager/slots/catalog_test.go
Due: e2e-parallel, ci/prow/e2e-parallel
