Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$

fix: remove FrontendPathLatency from known issues
  test/cmd/aro-hcp-tests/gather-observability/known-issues/knownIssues.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add Prow CI health alerts
  tooling/tenant-quota/alerting.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

feat: expose consecutive Prow job failures
  tooling/tenant-quota/pkg/prow/collector.go
  tooling/tenant-quota/pkg/prow/collector_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

Remove v2024-06-10-preview API from e2e bicep templates
  test/e2e-setup/bicep/cluster-nodepool-osdisk.bicep
  test/e2e-setup/bicep/cluster-only.bicep
  test/e2e-setup/bicep/demo.bicep
  test/e2e-setup/bicep/infra-only.bicep
  test/e2e-setup/bicep/modules/cluster.bicep
  test/e2e-setup/bicep/modules/customer-infra.bicep
  test/e2e-setup/bicep/modules/managed-identities.bicep
  test/e2e-setup/bicep/modules/nodepool.bicep
  test/e2e-setup/bicep/modules/non-msi-scoped-assignments.bicep
  test/e2e-setup/bicep/no-cni.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

Propagate integration subnet changes into modules-4.19
  test/e2e-setup/bicep/modules-4.19/customer-infra.bicep
  test/e2e-setup/bicep/modules-4.19/managed-identities.bicep
  test/e2e-setup/bicep/modules-4.19/non-msi-scoped-assignments.bicep
  test/e2e-setup/bicep/modules/cluster.bicep
  test/e2e/cluster_version_backlevel.go
Due: e2e-parallel, ci/prow/e2e-parallel

Correctly pass the integrationSubnetName parameter from e2e tests
  test/e2e/cluster_delayed_role_assignments.go
  test/util/framework/helpers_v20240610preview.go
  test/util/framework/helpers_v20251223preview.go
  test/util/framework/helpers_v20260630preview.go
  test/util/framework/helpers_v20260901preview.go
  test/util/framework/identities_helper.go
Due: e2e-parallel, ci/prow/e2e-parallel

test: remove expired APIService verifier retry deadline
  test/util/verifiers/apiservice.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: restore shared Clusters Service ARM helper
  cluster-service/testdata/helmtest_cs-distinct-arm-helper.yaml
  cluster-service/testdata/helmtest_cs-shared-arm-helper-fallback.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_distinct_arm_helper.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_shared_arm_helper_fallback.yaml
  cluster-service/values.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix: align stacked area series to common timestamps
  test/cmd/aro-hcp-tests/gather-observability/chart.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add cluster info metric and faceted stacked area chart for MC assignment visibility
  backend/pkg/app/backend.go
  backend/pkg/controllers/metrics/cluster_info_metrics_handler.go
  backend/pkg/controllers/metrics/cluster_info_metrics_handler_test.go
  test/cmd/aro-hcp-tests/gather-observability/artifacts/metricspanel.html.tmpl
  test/cmd/aro-hcp-tests/gather-observability/chart.go
  test/cmd/aro-hcp-tests/gather-observability/chart_test.go
  test/cmd/aro-hcp-tests/gather-observability/options.go
  test/cmd/aro-hcp-tests/gather-observability/promql.go
  test/cmd/aro-hcp-tests/gather-observability/queries.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix: skip gap marker nulls during stacked area timestamp alignment
  backend/pkg/app/backend.go
  backend/pkg/controllers/metrics/cluster_info_metrics_handler.go
  backend/pkg/controllers/metrics/cluster_info_metrics_handler_test.go
  test/cmd/aro-hcp-tests/gather-observability/artifacts/metricspanel.html.tmpl
  test/cmd/aro-hcp-tests/gather-observability/chart.go
  test/cmd/aro-hcp-tests/gather-observability/options.go
  test/cmd/aro-hcp-tests/gather-observability/promql.go
  test/cmd/aro-hcp-tests/gather-observability/queries.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add cluster version selection-to-active SLO rules and alerts
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts-rp-services.yaml
  observability/alerts/userJourneyClusterUpgradeMonitor-prometheusRule.yaml
  observability/alerts/userJourneyClusterUpgradeMonitor-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-upgrade-slo.json
  observability/recording-rules-services.yaml
  observability/recording-rules/userJourneyClusterUpgrade-recordingRule.yaml
  observability/recording-rules/userJourneyClusterUpgrade-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: lower Prow healthcheck alert threshold
  tooling/tenant-quota/alerting.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add e2e test for BYOK OS Disks
  internal/ocm/convert_test.go
  test/e2e-setup/bicep/modules/customer-infra.bicep
  test/e2e/nodepool_osdisk_encryption.go
  test/go.mod
  test/go.sum
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_dev_cd_check_paralleldev_cd_check_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_integration_parallelintegration_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_prod_parallelprod_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallelrp_api_compat_all_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_stage_parallelstage_parallel.txt
  test/util/framework/disk_encryption_set_helper.go
  test/util/framework/helpers_v20240610preview.go
  test/util/framework/helpers_v20251223preview.go
  test/util/framework/helpers_v20260630preview.go
  test/util/framework/helpers_v20260901preview.go
  test/util/framework/per_invocation_framework.go
  test/util/framework/per_test_framework.go
  test/util/framework/per_test_framework_test.go
  test/util/verifiers/osdisk_encryption.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: enable customer-managed key for nodePool OS disk encryption
  internal/ocm/convert.go
  internal/ocm/convert_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(api): introduce full kms key URL to 2026-09-01-preview
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/examples/2026-09-01-preview/HcpOpenShiftClusters_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/examples/2026-09-01-preview/HcpOpenShiftClusters_Get_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/examples/2026-09-01-preview/HcpOpenShiftClusters_ListByResourceGroup_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/examples/2026-09-01-preview/HcpOpenShiftClusters_ListBySubscription_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/examples/2026-09-01-preview/HcpOpenShiftClusters_Update_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2026-09-01-preview/examples/HcpOpenShiftClusters_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2026-09-01-preview/examples/HcpOpenShiftClusters_Get_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2026-09-01-preview/examples/HcpOpenShiftClusters_ListByResourceGroup_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2026-09-01-preview/examples/HcpOpenShiftClusters_ListBySubscription_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2026-09-01-preview/examples/HcpOpenShiftClusters_Update_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2026-09-01-preview/examples/HcpOpenShiftVersions_List_MinimumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2026-09-01-preview/examples/HcpOperatorIdentityRoleSets_List_MinimumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2026-09-01-preview/openapi.json
  docs/cosmos-data-flow.md
  internal/api/coreapi/types_cluster.go
  internal/apitesting/coreapitesting/fuzz.go
  internal/azureapi/v20240610preview/conversion_fuzz_test.go
  internal/azureapi/v20240610preview/hcpopenshiftclusters_methods.go
  internal/azureapi/v20251223preview/conversion_fuzz_test.go
  internal/azureapi/v20251223preview/hcpopenshiftclusters_methods.go
  internal/azureapi/v20260630preview/conversion_fuzz_test.go
  internal/azureapi/v20260630preview/hcpopenshiftclusters_methods.go
  internal/azureapi/v20260901preview/generated/models.go
  internal/azureapi/v20260901preview/generated/models_serde.go
  internal/azureapi/v20260901preview/hcpopenshiftclusters_methods.go
  test-integration/frontend/artifacts/VersionCompliance/Cluster/basic-cluster/expected/get/2026-09-01-preview.json
  test-integration/frontend/artifacts/VersionCompliance/Cluster/basic-cluster/expected/list/2026-09-01-preview.json
  test-integration/frontend/cross_version_roundtrip_test.go
  test/sdk/v20260901preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/models.go
  test/sdk/v20260901preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/models_serde.go
  test/util/framework/helpers_v20260901preview.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(*Desires) add Tag filtering to *Desire
  internal/api/kubeapplierapi/types_apply_desire.go
  internal/api/kubeapplierapi/types_read_desire.go
  internal/api/kubeapplierapi/zz_generated.deepcopy.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: drop apiserver_request_total watch/connect verb series from SRE metric set
  hypershiftoperator/deploy/templates/sre-metrics-set.configmap.yaml
  hypershiftoperator/testdata/zz_fixture_TestHelmTemplate_hypershift_performance_metrics.yaml
  hypershiftoperator/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_hypershift.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add validating admission check for cluster version channel upgrades
  CLAUDE.md
  backend/pkg/controllers/cluster/version/control_plane_active_version_controller.go
  docs/cosmos-data-flow.md
  frontend/pkg/frontend/cluster.go
  internal/admission/CLAUDE.md
  internal/admission/admit_cluster.go
  internal/admission/admit_cluster_test.go
  internal/api/coreapi/types_serviceprovider_cluster.go
  internal/api/coreapi/zz_generated.deepcopy.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: select CS ARM helper after EV2 substitution
  cluster-service/deploy/templates/_helpers.tpl
  cluster-service/deploy/templates/cs-keyvault.secret.yaml
  cluster-service/deploy/templates/deployment.yaml
  cluster-service/deploy/values.yaml
  cluster-service/testdata/helmtest_cs-distinct-arm-helper.yaml
  cluster-service/testdata/helmtest_cs-shared-arm-helper-fallback.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_distinct_arm_helper.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_shared_arm_helper_fallback.yaml
  cluster-service/values.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

feat(kusto): add entity-groups pipeline step and retain deployer Admin
  dev-infrastructure/geography-pipeline-stg.yaml
  dev-infrastructure/geography-pipeline.yaml
  dev-infrastructure/modules/logs/kusto/cluster.bicep
  dev-infrastructure/modules/logs/kusto/main.bicep
  test/go.mod
  test/go.sum
  tooling/kustoctl/go.mod
  tooling/kustoctl/go.sum
  tooling/kustoctl/main.go
  tooling/templatize/go.mod
  tooling/templatize/go.sum
  tooling/templatize/pkg/pipeline/kusto_entity_groups.go
  tooling/templatize/pkg/pipeline/kusto_entity_groups_test.go
  tooling/templatize/pkg/pipeline/run.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(informers): wait for change feed watcher shutdown
  internal/database/informers/informerutils/changefeed_list_watch.go
Due: e2e-parallel, ci/prow/e2e-parallel

test(kusto): cover pipeline dispatch and watcher cancellation
  internal/database/informers/informerutils/changefeed_list_watch.go
  internal/database/informers/informerutils/changefeed_list_watch_test.go
  tooling/kustoctl/go.sum
  tooling/templatize/pkg/pipeline/kusto_entity_groups.go
  tooling/templatize/pkg/pipeline/kusto_entity_groups_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

refactor: make CS ARM helper configuration explicit
  cluster-service/deploy/templates/_helpers.tpl
  cluster-service/deploy/templates/cs-keyvault.secret.yaml
  cluster-service/deploy/templates/deployment.yaml
  cluster-service/deploy/values.yaml
  cluster-service/testdata/helmtest_cs-shared-arm-helper.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_shared_arm_helper.yaml
  cluster-service/values.yaml
  docs/ci/dev-mock-identities.md
  docs/ci/identity-leasing.md
  hack/ci/build-config-override.sh
Due: e2e-parallel, ci/prow/e2e-parallel

test: align duplicate-series fixture with alert rename
  observability/alerts/nodepool-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: align RP lane alert naming with ADR-001 (ARO-28534)
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts/access-cluster-slo-prometheusRule.yaml
  observability/alerts/access-cluster-slo-prometheusRule_test.yaml
  observability/alerts/cluster-provision-slo-prometheusRule.yaml
  observability/alerts/cluster-provision-slo-prometheusRule_test.yaml
  observability/alerts/nodepool-slo-prometheusRule.yaml
  observability/alerts/nodepool-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

Add backup schedule admin api endpoints
  admin/server/cmd/server/options.go
  admin/server/go.mod
  admin/server/go.sum
  admin/server/handlers/hcp/backups.go
  admin/server/handlers/hcp/backups_test.go
  admin/server/server/admin.go
  test-integration/admin/artifacts/AdminCRUD/HCP/pause-unpause-backup-schedule/00-load-initial-cosmos-state/01-cluster.json
  test-integration/admin/artifacts/AdminCRUD/HCP/pause-unpause-backup-schedule/00-load-initial-cosmos-state/02-service-provider-cluster.json
  test-integration/admin/artifacts/AdminCRUD/HCP/pause-unpause-backup-schedule/01-loadClusterService-initial-state/01-cluster.json
  test-integration/admin/artifacts/AdminCRUD/HCP/pause-unpause-backup-schedule/02-httpGet-verify-initial-state-enabled/00-key.json
  test-integration/admin/artifacts/AdminCRUD/HCP/pause-unpause-backup-schedule/02-httpGet-verify-initial-state-enabled/backup-schedules-enabled.json
  test-integration/admin/artifacts/AdminCRUD/HCP/pause-unpause-backup-schedule/03-httpPatch-disable-backup-schedule/00-key.json
  test-integration/admin/artifacts/AdminCRUD/HCP/pause-unpause-backup-schedule/03-httpPatch-disable-backup-schedule/disable-backup-schedule.json
  test-integration/admin/artifacts/AdminCRUD/HCP/pause-unpause-backup-schedule/04-httpGet-verify-state-disabled/00-key.json
  test-integration/admin/artifacts/AdminCRUD/HCP/pause-unpause-backup-schedule/04-httpGet-verify-state-disabled/backup-schedules-disabled.json
  test-integration/admin/artifacts/AdminCRUD/HCP/pause-unpause-backup-schedule/05-httpPatch-enable-backup-schedule/00-key.json
  test-integration/admin/artifacts/AdminCRUD/HCP/pause-unpause-backup-schedule/05-httpPatch-enable-backup-schedule/enable-backup-schedule.json
  test-integration/admin/artifacts/AdminCRUD/HCP/pause-unpause-backup-schedule/06-httpGet-verify-state-enabled/00-key.json
  test-integration/admin/artifacts/AdminCRUD/HCP/pause-unpause-backup-schedule/06-httpGet-verify-state-enabled/backup-schedules-enabled.json
  test-integration/backend/launch/metrics_test.go
  test-integration/utils/integrationutils/utils.go
Due: e2e-parallel, ci/prow/e2e-parallel

Add backup schedule e2e tests
  test/e2e/hcp_backups.go
  test/go.mod
  test/go.sum
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_dev_cd_check_paralleldev_cd_check_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
  test/util/framework/admin_api_helpers.go
  test/util/framework/constants.go
Due: e2e-parallel, ci/prow/e2e-parallel

Add backup system documentation & cosmos data flow
  docs/backups.md
  docs/cosmos-data-flow.md
Due: none

feat(test): add HyperShift presubmit e2e test label, suite, and test
  nonlocal-e2e-specs.txt
  test/cmd/aro-hcp-tests/main.go
  test/cmd/aro-hcp-tests/main_test.go
  test/e2e/cluster_create_hypershift_presubmit.go
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_hypershift_presubmit_parallelhypershift_presubmit_parallel.txt
  test/util/labels/labels.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(test): add ARO_HCP_OPENSHIFT_VERSION_ID and ARO_HCP_E2E_SUITE env vars
  Makefile
  test/util/framework/deployment_params.go
Due: e2e-parallel, ci/prow/e2e-parallel

test: align rebased access-cluster alert fixture
  observability/alerts/access-cluster-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat: add ACR pull via managed identity to ARM API, RP↔CS conversion, and validation (ARO-24037)
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/examples/2026-06-30-preview/HcpOpenShiftClusters_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/examples/2026-06-30-preview/HcpOpenShiftClusters_Get_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/examples/2026-06-30-preview/HcpOpenShiftClusters_ListByResourceGroup_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/examples/2026-06-30-preview/HcpOpenShiftClusters_ListBySubscription_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/examples/2026-06-30-preview/HcpOpenShiftClusters_Update_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2026-06-30-preview/examples/HcpOpenShiftClusters_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2026-06-30-preview/examples/HcpOpenShiftClusters_Get_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2026-06-30-preview/examples/HcpOpenShiftClusters_ListByResourceGroup_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2026-06-30-preview/examples/HcpOpenShiftClusters_ListBySubscription_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2026-06-30-preview/examples/HcpOpenShiftClusters_Update_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2026-06-30-preview/openapi.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2026-09-01-preview/openapi.json
  backend/pkg/utils/validationutils/container_registry_pull_credentials_permission_validation.go
  backend/pkg/utils/validationutils/container_registry_pull_credentials_permission_validation_test.go
  internal/api/coreapi/types_cluster.go
  internal/api/coreapi/zz_generated.deepcopy.go
  internal/azureapi/v20240610preview/conversion_fuzz_test.go
  internal/azureapi/v20251223preview/conversion_fuzz_test.go
  internal/azureapi/v20260630preview/generated/models.go
  internal/azureapi/v20260630preview/generated/models_serde.go
  internal/azureapi/v20260630preview/hcpopenshiftclusters_methods.go
  internal/azureapi/v20260901preview/generated/models.go
  internal/azureapi/v20260901preview/generated/models_serde.go
  internal/azureapi/v20260901preview/hcpopenshiftclusters_methods.go
  internal/ocm/convert.go
Due: e2e-parallel, ci/prow/e2e-parallel

kevinobriendotca/ARO-25981-etcd-prometheus-alerts
  observability/alerts-sl-services.yaml
  observability/alerts/etcd-availability-prometheusRule.yaml
  observability/alerts/etcd-availability-prometheusRule_test.yaml
  observability/alerts/kubernetesControlPlane-prometheusRule.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

kevinobriendotca/ARO-25981-etcd-prometheus-alerts
  dev-infrastructure/modules/metrics/rp-service-rules.bicep
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPServicePrometheusAlertingRules.bicep
  dev-infrastructure/templates/monitoring.bicep
  observability/alerts-rp-services.yaml
  observability/alerts-sl-services.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

kevinobriendotca/ARO-25981-etcd-prometheus-alerts
  observability/alerts/etcd-availability-prometheusRule.yaml
  observability/alerts/etcd-availability-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

kevinobriendotca/ARO-25981-etcd-prometheus-alerts
  observability/alerts/etcd-availability-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

kevinobriendotca/ARO-25981-etcd-prometheus-alerts
  dev-infrastructure/templates/monitoring.bicep
  tooling/prometheus-rules/Makefile
Due: e2e-parallel, ci/prow/e2e-parallel
