Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: create-aro-hcp-in-integration, create-aro-hcp-in-stage, create-aro-hcp-in-prod, integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

create-aro-hcp-in-integration:
  always_run: false
  steps:
    allow_best_effort_post_steps: true
    env:
      CLUSTER_NAME: premerge-integration-cluster-2
      CUSTOMER_RESOURCE_GROUP_PREFIX: premerge-integration-customer-rg
      LOCATION: uksouth
      SUBSCRIPTION: ARO SRE Team - INT (EA Subscription 3)
    post:
  ...

create-aro-hcp-in-stage:
  always_run: false
  optional: true
  steps:
    allow_best_effort_post_steps: true
    env:
      CLUSTER_NAME: premerge-stage-cluster
      CUSTOMER_RESOURCE_GROUP_PREFIX: premerge-stage-customer-rg
      LOCATION: uksouth
      SUBSCRIPTION: ARO HCP - STAGE testing (EA Subscription)
    post:
  ...

create-aro-hcp-in-prod:
  always_run: false
  optional: true
  steps:
    allow_best_effort_post_steps: true
    env:
      CLUSTER_NAME: premerge-prod-cluster
      CUSTOMER_RESOURCE_GROUP_PREFIX: premerge-prod-customer-rg
      LOCATION: uksouth
      SUBSCRIPTION: ARO Hosted Control Planes (EA Subscription 1)
    post:
  ...

integration-e2e-parallel:
  always_run: false
  optional: true
  steps:
    allow_best_effort_post_steps: true
    env:
      ARO_HCP_SUITE_NAME: integration/parallel
      CUSTOMER_SUBSCRIPTION: ARO SRE Team - INT (EA Subscription 3)
      LOCATION: uksouth
    post:
    - ref: aro-hcp-provision-aro-hcp-gather-extra
  ...

stage-e2e-parallel:
  always_run: false
  optional: true
  steps:
    allow_best_effort_post_steps: true
    env:
      ARO_HCP_SUITE_NAME: stage/parallel
      CUSTOMER_SUBSCRIPTION: ARO HCP - STAGE testing (EA Subscription)
      LOCATION: uksouth
    post:
    - ref: aro-hcp-provision-aro-hcp-gather-extra
  ...

prod-e2e-parallel:
  always_run: false
  optional: true
  steps:
    allow_best_effort_post_steps: true
    env:
      ARO_HCP_SUITE_NAME: prod/parallel
      CUSTOMER_SUBSCRIPTION: ARO Hosted Control Planes (EA Subscription 1)
      LOCATION: uksouth
    post:
    - ref: aro-hcp-provision-aro-hcp-gather-extra
  ...

ci/prow/create-aro-hcp-in-integration:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/create-aro-hcp-in-prod:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/create-aro-hcp-in-stage:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

make cidrblockaccess update mutable
  internal/ocm/convert.go
Due: none

Added support for kube-API IP Access Control
  demo/README.md
  demo/cluster.tmpl.json
  internal/ocm/convert.go
Due: create-aro-hcp-in-integration, create-aro-hcp-in-stage, create-aro-hcp-in-prod, integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

refactor and add unit tests for nodePool Convert
  internal/ocm/convert.go
  internal/ocm/convert_test.go
Due: none

update unit tests to handle autoscaler
  internal/ocm/convert_test.go
Due: none

Minor fixes for e2e
  internal/ocm/convert.go
  test/e2e/cluster_authorized_cidrs_connectivity.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Address comments from mbukatov
  test/e2e-setup/bicep/modules/cluster.bicep
  test/e2e-setup/bicep/modules/test-vm.bicep
  test/e2e/cluster_authorized_cidrs_connectivity.go
  test/util/framework/hcp_helper.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

fix e2e and unit tests
  internal/ocm/convert_test.go
  test/e2e/cluster_authorized_cidrs_connectivity.go
  test/e2e/cluster_create_authorized_cidrs.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

admin api: FPA token credential access Signed-off-by: Gerd Oberlechner <goberlec@redhat.com>
  admin/Env.mk
  admin/Makefile
  admin/deploy/templates/admin.deployment.yaml
  admin/deploy/templates/admin.fpa.secretproviderclass.yaml
  admin/hack/run-as-mi.sh
  admin/hack/run-with-cert-bundle.sh
  admin/hack/run-with-port-forward.sh
  admin/server/cmd/server/options.go
  admin/server/go.mod
  admin/server/go.sum
  admin/server/handlers/hcp/helloworld.go
  admin/testdata/zz_fixture_TestHelmTemplate_admin_api_mise_enabled.yaml
  admin/testdata/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_admin_api.yaml
  admin/values.yaml
  dev-infrastructure/templates/svc-cluster.bicep
  internal/fpa/token_credential_retriever.go
  internal/fpa/token_credential_retriever_test.go
  internal/utils/fswatcher.go
  internal/utils/fswatcher_test.go
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_arobit.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_arobit.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_kusto_disabled_svc.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mdsd_and_kusto_enabled_mgmt.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mdsd_and_kusto_enabled_svc.yaml
Due: none

add max cidr block validation unit test case
  internal/validation/validate_cluster_comprehensive_test.go
Due: none

ARO-22863 | Add mock FPA check access to the CS PR environment
  cluster-service/Makefile
  cluster-service/cspr/cluster-service-namespace.yaml
Due: none

target to enable istio ingress on dev clusters for developer IP
  admin/Env.mk
  admin/Makefile
  admin/hack/allow-istio-ingress-from-current-ip.sh
Due: none

add endpoints to fetch kubeconfig
  admin/server/cmd/server/options.go
  admin/server/handlers/getsession.go
  admin/server/handlers/session/session.go
  admin/server/handlers/startsession.go
Due: none

refactor for reader interface
  admin/server/cmd/server/options.go
  internal/fpa/certificate_reader.go
  internal/fpa/file_certificate_reader.go
  internal/fpa/file_certificate_reader_test.go
  internal/fpa/test_helpers.go
  internal/fpa/token_credential_retriever.go
  internal/fpa/token_credential_retriever_test.go
  internal/fpa/watching_file_certificate_reader.go
  internal/fpa/watching_file_certificate_reader_test.go
Due: none

regenerate helm template test
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_arobit.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_arobit.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_kusto_disabled_svc.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mdsd_and_kusto_enabled_mgmt.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mdsd_and_kusto_enabled_svc.yaml
Due: none

remove unnecessary patches from the cluster create transaction
  frontend/pkg/frontend/cluster.go
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/helpers.go
  frontend/pkg/frontend/operations.go
  internal/api/types_cluster.go
  internal/api/v20240610preview/conversion_fuzz_test.go
  internal/api/v20251223preview/conversion_fuzz_test.go
  internal/conversion/readonly_cluster.go
  internal/database/convert_cluster.go
  internal/database/transaction.go
Due: none

Run Helmtest in service pr check
  .github/workflows/services-pr-check.yml
  Makefile
  tooling/helmtest/Makefile
Due: none

Fix for cluster creation methods which have moved.
  test/e2e/cluster_pullsecret.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Add Kubernetes Events Table
  dev-infrastructure/modules/logs/kusto/main.bicep
Due: none

test: Change return type of UpdateHCPCluster
  test/util/framework/hcp_helper.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

test: Check operation result content in helper functions
  test/go.mod
  test/util/framework/hcp_helper.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

test: Clarify reasoning for checkOperationResult
  test/util/framework/hcp_helper.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

test/util: fix timing output names
  test/util/framework/per_test_framework.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

switch to use internal API types from transaction results
  frontend/pkg/frontend/cluster.go
  internal/database/transaction.go
  internal/mocks/dbtransaction.go
Due: none

refine helper names and error handling
  frontend/pkg/frontend/cluster.go
  frontend/pkg/frontend/helpers.go
  internal/database/transaction.go
Due: none

assign old cluster fields and document reasoning
  frontend/pkg/frontend/cluster.go
Due: none

update expected mutation test results for stomping fields
  frontend/test/simulate/artifacts/ClusterMutation/some-immutable-field-checks/expected-errors.txt
  internal/database/transaction.go
Due: none

switch hypershift repo
  config/config.msft.clouds-overlay.yaml
  config/config.yaml
Due: none

test: record start and stop time for each test
  test/util/framework/per_test_framework.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

render digests in dev and int
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/prow/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
  hypershiftoperator/testdata/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_hypershift.yaml
Due: none

Revert "ARO-22863 | Create a new SP for mock FPA"
  dev-infrastructure/Makefile
  dev-infrastructure/templates/mock-identities.bicep
Due: none

golang version consistency
  .bingo/addlicense.mod
  .bingo/bingo.mod
  .bingo/goimports.mod
  .bingo/gojq.mod
  .bingo/golangci-lint.mod
  .bingo/helm.mod
  .bingo/mockgen.mod
  .bingo/oras.mod
  .bingo/yamlfmt.mod
  .bingo/yq.mod
  admin/client/go.mod
  admin/server/go.mod
  backend/go.mod
  frontend/go.mod
  internal/go.mod
  test/go.mod
  test/sdk/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/go.mod
  test/sdk/v20240610preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/go.mod
  tooling/hcpctl/go.mod
  tooling/image-updater/go.mod
  tooling/olm-bundle-repkg/go.mod
  tooling/pipeline-documentation/go.mod
  tooling/prometheus-rules/go.mod
  tooling/secret-sync/go.mod
  tooling/templatize/go.mod
  tooling/yamlwrap/go.mod
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Fixed timeout for cluster deployment in external_auth_list_and_verify test
  test/e2e/external_auth_list_and_verify.go
Due: integration-e2e-parallel, stage-e2e-parallel, prod-e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

ARO-22863 | Create a Contributor role assignment for the ARM helper
  dev-infrastructure/Makefile
Due: none

Start deleting with oldest pods, delete max 5 at a time
  mgmt-fixes/deploy/mitigations/templates/cluster-image-registry-operator-recycle.yaml
  mgmt-fixes/deploy/testdata/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_mitigations.yaml
Due: none

Only delete image registry pods older than 30 minutes
  mgmt-fixes/deploy/mitigations/templates/cluster-image-registry-operator-recycle.yaml
  mgmt-fixes/deploy/testdata/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_mitigations.yaml
Due: none

Adjust to new schema
  dev-infrastructure/modules/logs/kusto/tables/containerLogs.kql
  tooling/hcpctl/.gitignore
  tooling/hcpctl/cmd/must-gather/cmd.go
  tooling/hcpctl/cmd/must-gather/queries.go
  tooling/hcpctl/pkg/kusto/queries.go
Due: none

Additional fixes, set limit only when required and fix to docs
  docs/sops/gather-logs.md
  tooling/hcpctl/cmd/must-gather/queries.go
Due: none

Fix for legacy, use correct DB name
  tooling/hcpctl/cmd/must-gather/queries.go
  tooling/hcpctl/pkg/kusto/queries.go
Due: none

Path conditions:
  create-aro-hcp-in-integration: any of: ^(demo)
  create-aro-hcp-in-stage: any of: ^(demo)
  create-aro-hcp-in-prod: any of: ^(demo)
  integration-e2e-parallel: any of: ^(test|demo)
  stage-e2e-parallel: any of: ^(test|demo)
  prod-e2e-parallel: any of: ^(test|demo)
  ci/prow/create-aro-hcp-in-integration: any of: ^(demo)
  ci/prow/create-aro-hcp-in-prod: any of: ^(demo)
  ci/prow/create-aro-hcp-in-stage: any of: ^(demo)
  ci/prow/integration-e2e-parallel: any of: ^(test|demo)
  ci/prow/prod-e2e-parallel: any of: ^(test|demo)
  ci/prow/stage-e2e-parallel: any of: ^(test|demo)
