Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$

fix(ci): require APPLY to equal 1 exactly for legacy-rbac deletion
  dev-infrastructure/scripts/delete-legacy-bot-rbac.sh
Due: e2e-parallel, ci/prow/e2e-parallel

fix(ci): surface az errors on bot SP lookup in legacy-rbac cleanup
  dev-infrastructure/scripts/delete-legacy-bot-rbac.sh
Due: e2e-parallel, ci/prow/e2e-parallel

fix(ci): limit legacy-rbac cleanup to subscription-scope assignments
  dev-infrastructure/scripts/delete-legacy-bot-rbac.sh
Due: e2e-parallel, ci/prow/e2e-parallel

fix(ci): match legacy-rbac cleanup to per-subscription pipeline grants
  dev-infrastructure/scripts/delete-legacy-bot-rbac.sh
Due: e2e-parallel, ci/prow/e2e-parallel

feature: Registering Microsoft.ContainerService/IdentityBindingPreview
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

refactor: move CI AMW-to-Grafana integration from bicep to grafanactl
  dev-infrastructure/configurations/ci-monitoring.tmpl.bicepparam
  dev-infrastructure/global-pipeline.yaml
  dev-infrastructure/templates/ci-monitoring.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

chore: regenerate helm fixtures after merging main
  acm/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_mce_config.yaml
  admin/testdata/zz_fixture_TestHelmTemplate_admin_api_mise_enabled.yaml
  admin/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_admin_api.yaml
  backend/testdata/zz_fixture_TestHelmTemplate_backend_clstr_scoped_identities_role_set_name_public.yaml
  backend/testdata/zz_fixture_TestHelmTemplate_backend_mi_mock_and_arm_perms_mgr_identities_unset.yaml
  backend/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_aro_hcp_backend_dev.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_azuredb.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_containerdb.yaml
  cluster-service/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_cluster_service.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_arobit.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_arohcp_monitor.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_arobit.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_arohcp_monitor.yaml
  hypershiftoperator/testdata/zz_fixture_TestHelmTemplate_hypershift_performance_metrics.yaml
  hypershiftoperator/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_hypershift.yaml
  istio/testdata/zz_fixture_TestHelmTemplate_istio_mise_enabled.yaml
  maestro/agent/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_maestro_agent.yaml
  maestro/server/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_maestro_server.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_buffering_disabled_svc.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_kusto_disabled_svc.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_kusto_unlimited_memory_svc.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mdsd_and_kusto_enabled_mgmt.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mdsd_and_kusto_enabled_svc.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_ci.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources_unset.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_svc_resources.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_svc_resources_unset.yaml
  secret-sync-controller/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_secret_sync_controller.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat(mgmt-agent): add the node-health detector library (AROSLSRE-1588)
  mgmt-agent/pkg/controller/nodehealth/detectors/README.md
  mgmt-agent/pkg/controller/nodehealth/detectors/decide.go
  mgmt-agent/pkg/controller/nodehealth/detectors/signature_detector.go
  mgmt-agent/pkg/controller/nodehealth/detectors/swift_vf.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(mgmt-agent): add the node-health controller and labeler (AROSLSRE-1588)
  mgmt-agent/go.mod
  mgmt-agent/pkg/controller/nodehealth/config.go
  mgmt-agent/pkg/controller/nodehealth/consts.go
  mgmt-agent/pkg/controller/nodehealth/controller.go
  mgmt-agent/pkg/controller/nodehealth/labeler.go
  mgmt-agent/pkg/controller/nodehealth/metrics.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(mgmt-agent): run the node-health controller in mgmt-agent (AROSLSRE-1588)
  mgmt-agent/cmd/cmd.go
  mgmt-agent/cmd/options.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(mgmt-agent): deploy the node-health controller (AROSLSRE-1588)
  .yamllint.yml
  mgmt-agent/deploy/templates/clusterrole.yaml
  mgmt-agent/deploy/templates/deployment.yaml
  mgmt-agent/deploy/templates/node-health-config.yaml
  mgmt-agent/values.yaml
  mgmt-agent/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_mgmt_agent.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

test(mgmt-agent): pin the detector against captured production evidence (AROSLSRE-1588)
  mgmt-agent/pkg/controller/nodehealth/detectors/production_evidence_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

test(mgmt-agent): cover the node-health controller and labeler (AROSLSRE-1588)
  mgmt-agent/pkg/controller/nodehealth/config_test.go
  mgmt-agent/pkg/controller/nodehealth/controller_test.go
  mgmt-agent/pkg/controller/nodehealth/labeler_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

test(mgmt-agent): table-test the node-health decision core (AROSLSRE-1588)
  mgmt-agent/pkg/controller/nodehealth/detectors/decide_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs(controllers): add the node-health controller design doc (AROSLSRE-1588)
  docs/controllers/node-health.md
Due: none

docs: index the node-health design doc (AROSLSRE-1588)
  docs/README.md
Due: none

docs(controllers): describe what the disabled node-health controller records (AROSLSRE-1588)
  mgmt-agent/pkg/controller/nodehealth/config.go
  mgmt-agent/pkg/controller/nodehealth/controller.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs(controllers): clarify the disabled off-switch behavior and fix wording (AROSLSRE-1588)
  docs/controllers/node-health.md
Due: none

docs(controllers): title-case the node-health doc heading (AROSLSRE-1588)
  docs/README.md
  docs/controllers/node-health.md
Due: none

docs(controllers): scope the ControllerName comment to its actual use (AROSLSRE-1588)
  mgmt-agent/pkg/controller/nodehealth/consts.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs(mgmt-agent): correct the node-health scoping claim in the help text (AROSLSRE-1588)
  mgmt-agent/cmd/cmd.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(controllers): reject unknown node-health config keys and record nothing while disabled (AROSLSRE-1588)
  mgmt-agent/pkg/controller/nodehealth/config.go
  mgmt-agent/pkg/controller/nodehealth/config_test.go
  mgmt-agent/pkg/controller/nodehealth/controller.go
  mgmt-agent/pkg/controller/nodehealth/controller_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs(controllers): document strict config parsing and the disabled off switch (AROSLSRE-1588)
  docs/controllers/node-health.md
Due: none

feat: route opstool alerts to PagerDuty
  dev-infrastructure/configurations/opstool-alerting.tmpl.bicepparam
  dev-infrastructure/modules/keyvault/keyvault.bicep
  dev-infrastructure/modules/metrics/pagerduty-actiongroup.bicep
  dev-infrastructure/templates/opstool-alerting.bicep
  dev-infrastructure/templates/opstool-cluster.bicep
  dev-infrastructure/templates/output-opstool-cluster.bicep
  docs/ci/quota-monitoring.md
  docs/ops/opstool-cluster-guide.md
  tooling/tenant-quota/README.md
Due: e2e-parallel, ci/prow/e2e-parallel

docs: update opstool action group description
  docs/ops/opstool-cluster-guide.md
Due: none

refactor(detectors): give Detector a Window method and compute MaxWindow once (AROSLSRE-1588)
  mgmt-agent/pkg/controller/nodehealth/detectors/decide.go
  mgmt-agent/pkg/controller/nodehealth/detectors/signature_detector.go
Due: e2e-parallel, ci/prow/e2e-parallel

refactor(detectors): rename Detector.Fires to MeetsThreshold (AROSLSRE-1588)
  mgmt-agent/pkg/controller/nodehealth/detectors/README.md
  mgmt-agent/pkg/controller/nodehealth/detectors/decide.go
  mgmt-agent/pkg/controller/nodehealth/detectors/signature_detector.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs(controllers): rename Fires and move the Ready gate into detection (AROSLSRE-1588)
  docs/controllers/node-health.md
Due: none

perf(controllers): skip the pod and event scan for nodes no detector owns (AROSLSRE-1588)
  mgmt-agent/pkg/controller/nodehealth/controller.go
  mgmt-agent/pkg/controller/nodehealth/detectors/decide.go
  mgmt-agent/pkg/controller/nodehealth/detectors/decide_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(controllers): report the matched node-health signature for triage (AROSLSRE-1588)
  mgmt-agent/pkg/controller/nodehealth/consts.go
  mgmt-agent/pkg/controller/nodehealth/controller.go
  mgmt-agent/pkg/controller/nodehealth/detectors/README.md
  mgmt-agent/pkg/controller/nodehealth/detectors/decide.go
  mgmt-agent/pkg/controller/nodehealth/detectors/decide_test.go
  mgmt-agent/pkg/controller/nodehealth/detectors/production_evidence_test.go
  mgmt-agent/pkg/controller/nodehealth/detectors/signature_detector.go
  mgmt-agent/pkg/controller/nodehealth/labeler.go
  mgmt-agent/pkg/controller/nodehealth/labeler_test.go
  mgmt-agent/pkg/controller/nodehealth/metrics.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs(controllers): document the node-health signature annotation (AROSLSRE-1588)
  docs/controllers/node-health.md
Due: none

fix(controllers): self-heal an incomplete node-health detection record (AROSLSRE-1588)
  mgmt-agent/pkg/controller/nodehealth/labeler.go
  mgmt-agent/pkg/controller/nodehealth/labeler_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs(controllers): correct the node-health RBAC summary (AROSLSRE-1588)
  docs/controllers/node-health.md
Due: none

fix(controllers): keep the node-health detection record honest when repairing it (AROSLSRE-1588)
  mgmt-agent/pkg/controller/nodehealth/labeler.go
  mgmt-agent/pkg/controller/nodehealth/labeler_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

Revert "Revert "test: add e2e test for private KAS (api.visibility: Private)""
  test/e2e/cluster_authorized_cidrs_connectivity.go
  test/e2e/cluster_create_private_ingress.go
  test/e2e/cluster_create_private_kas.go
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_dev_cd_check_paralleldev_cd_check_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_integration_parallelintegration_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_prod_parallelprod_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallelrp_api_compat_all_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_stage_parallelstage_parallel.txt
  test/util/framework/connectivity_helper.go
  test/util/framework/resource_group_helper.go
  test/util/framework/sample_app.go
  test/util/framework/vm_helper.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(controllers): publish a per-node wedged gauge for node-health (AROSLSRE-1588)
  mgmt-agent/pkg/controller/nodehealth/controller.go
  mgmt-agent/pkg/controller/nodehealth/controller_test.go
  mgmt-agent/pkg/controller/nodehealth/metrics.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs(controllers): document the per-node wedged gauge (AROSLSRE-1588)
  docs/controllers/node-health.md
Due: none

fix(controllers): do not count a node-health action on a deleted node (AROSLSRE-1588)
  mgmt-agent/pkg/controller/nodehealth/labeler.go
  mgmt-agent/pkg/controller/nodehealth/labeler_test.go
Due: e2e-parallel, ci/prow/e2e-parallel
