Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

observability-prometheus:
  steps:
    test:
    - ref: aro-hcp-observability-prometheus

observability-grafana:
  steps:
    test:
    - ref: aro-hcp-observability-grafana

e2e-parallel:
  always_run: true
  steps:
    cluster_profile: aro-hcp-dev
    env:
      LOCATION: westus3
    workflow: aro-hcp-local-e2e

ci/prow/e2e-parallel:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aro-hcp-dev
    ci-operator.openshift.io/cloud-cluster-profile: aro-hcp-dev
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

feat(mgmt-agent): add configmap watcher for swift router cm
  mgmt-agent/cmd/options.go
  mgmt-agent/pkg/controller/cmwatcher.go
  mgmt-agent/pkg/controller/cmwatcher_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

correct copilot comments
  backend/pkg/controllers/billingcontrollers/orphaned_billing_cleanup.go
  backend/pkg/controllers/controllerutils/generic_watching_controller.go
  backend/pkg/controllers/do_nothing.go
  backend/pkg/controllers/mismatchcontrollers/cluster_service_cluster_matching.go
  backend/pkg/controllers/mismatchcontrollers/delete_orphaned_cosmos.go
  backend/pkg/controllers/operationcontrollers/generic_operation.go
  backend/pkg/controllers/upgradecontrollers/trigger_control_plane_upgrade_controller.go
  internal/api/arm/types_runtime.go
  internal/api/fleet/types_runtime.go
  internal/api/kubeapplier/types_runtime.go
  internal/api/types_runtime.go
  internal/database/database.go
  internal/database/informers/changefeed_list_watch.go
  internal/database/kube_applier_client.go
Due: e2e-parallel, ci/prow/e2e-parallel

tooling/hcpctl: teach the AI how to analyze node boot diagnostics
  tooling/hcpctl/cmd/snapshot/analyze_cmd.go
  tooling/hcpctl/cmd/snapshot/from_prow_job_cmd.go
  tooling/hcpctl/pkg/agent/analyze.go
  tooling/hcpctl/pkg/agent/hydration.go
  tooling/hcpctl/pkg/agent/prompts/exemplars/cluster-installation-ignition-failure.md
  tooling/hcpctl/pkg/agent/prompts/references/architecture.md
  tooling/hcpctl/pkg/agent/prompts/system.md
  tooling/hcpctl/pkg/agent/render.go
  tooling/hcpctl/pkg/agent/schema.go
  tooling/hcpctl/pkg/agent/validation.go
  tooling/hcpctl/pkg/snapshot/analysis.go
  tooling/hcpctl/pkg/snapshot/console.go
  tooling/hcpctl/pkg/snapshot/console_test.go
  tooling/hcpctl/pkg/snapshot/gather_enriched.go
  tooling/hcpctl/pkg/snapshot/manifest.go
  tooling/hcpctl/pkg/snapshot/prow.go
Due: e2e-parallel, ci/prow/e2e-parallel

changing default to 30s
  test/util/framework/constants.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix goroutine leak in test
  test-integration/backend/changefeed/changefeed_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

apply review suggestion
  docs/alerts.md
Due: none

backend/metricscontrollers: scope operation metric cleanup to operation_type
  backend/pkg/controllers/metricscontrollers/operation_phase_metrics_controller.go
  backend/pkg/controllers/metricscontrollers/operation_phase_metrics_controller_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

add review suggestions by copilot
  docs/alert-verification.md
  docs/alerts.md
Due: none

Apply suggestions from copilot code review
  docs/alert-verification.md
Due: none

changing default to 60s
  test/util/framework/constants.go
Due: e2e-parallel, ci/prow/e2e-parallel

observability: add kubernetesResourceSnapshots Kusto table
  dev-infrastructure/modules/logs/kusto/main.bicep
  dev-infrastructure/modules/logs/kusto/tables/kubernetesResourceSnapshots.kql
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_arobit.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_arobit.yaml
  mgmt-agent/pkg/controller/podwatcher.go
  mgmt-agent/pkg/controller/resourcewatcher.go
  observability/arobit/deploy/templates/forwarder-configmap.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_buffering_disabled_svc.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_kusto_disabled_svc.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_kusto_unlimited_memory_svc.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mdsd_and_kusto_enabled_mgmt.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mdsd_and_kusto_enabled_svc.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

observability: add cosmosResourceSnapshots Kusto table
  backend/pkg/controllers/datadumpcontrollers/dump_management_cluster.go
  backend/pkg/controllers/datadumpcontrollers/dump_subscription_non_cluster.go
  dev-infrastructure/modules/logs/kusto/main.bicep
  dev-infrastructure/modules/logs/kusto/tables/cosmosResourceSnapshots.kql
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_arobit.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_arobit.yaml
  internal/serverutils/dump_data.go
  observability/arobit/deploy/templates/forwarder-configmap.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_buffering_disabled_svc.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_kusto_disabled_svc.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_kusto_unlimited_memory_svc.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mdsd_and_kusto_enabled_mgmt.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mdsd_and_kusto_enabled_svc.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

dev: bump default AMW limits
  config/config.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

feat: enable setting maxSurge and maxUnavailable per env
  config/config.schema.json
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  dev-infrastructure/configurations/mgmt-cluster.tmpl.bicepparam
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/modules/aks/pool.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

set required and minimum 0
  config/config.schema.json
Due: e2e-parallel, ci/prow/e2e-parallel

Revert "Merge pull request #5844 from Azure/amw-hcp-internal-api"
  dev-infrastructure/configurations/region.tmpl.bicepparam
  dev-infrastructure/modules/metrics/monitor.bicep
  dev-infrastructure/templates/region.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

chore(config): bump opstool AKS to 1.34 toward fleet parity (AROSLSRE-1414)
  config/config-dev-ci.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix: update e2e simple negative cases removing instance type check
  test/e2e/simple_negative_cases.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add additional disk encryption set validations for nodepool
  internal/validation/validate_nodepools.go
  internal/validation/validate_nodepools_comprehensive_test.go
  internal/validation/validators.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: enable nodepool create from frontend to backend
  frontend/pkg/frontend/node_pool.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add additional nodepool node drain timeout validations
  internal/validation/validate_nodepools.go
  internal/validation/validate_nodepools_comprehensive_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

chore: route kernel (kmsg) logs to Kusto systemdLogs for node-freeze investigation
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_arobit.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_arobit.yaml
  observability/arobit/deploy/templates/forwarder-configmap.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_buffering_disabled_svc.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_kusto_disabled_svc.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_kusto_unlimited_memory_svc.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mdsd_and_kusto_enabled_mgmt.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mdsd_and_kusto_enabled_svc.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

test(known-issues): mark BackendAsyncOperation*Stuck alerts as known (AROSLSRE-1471)
  test/cmd/aro-hcp-tests/gather-observability/known-issues/knownIssues.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add backend cluster update dispatch and richer cluster update operation state checks
  admin/server/handlers/hcp/desiredcontrolplanesize.go
  backend/go.mod
  backend/pkg/app/backend.go
  backend/pkg/controllers/clusterpropertiescontroller/desired_control_plane_size_sync.go
  backend/pkg/controllers/clusterpropertiescontroller/desired_control_plane_size_sync_test.go
  backend/pkg/controllers/clusterupdate/cluster_cluster_service_update_dispatch_controller.go
  backend/pkg/controllers/clusterupdate/cluster_cluster_service_update_dispatch_controller_test.go
  backend/pkg/controllers/operationcontrollers/operation_cluster_create.go
  backend/pkg/controllers/operationcontrollers/operation_cluster_create_test.go
  backend/pkg/controllers/operationcontrollers/operation_cluster_update.go
  backend/pkg/controllers/operationcontrollers/operation_cluster_update_state_calculation.go
  backend/pkg/controllers/operationcontrollers/operation_cluster_update_state_calculation_test.go
  backend/pkg/controllers/operationcontrollers/operation_cluster_update_test.go
  backend/pkg/controllers/operationcontrollers/operation_external_auth_create.go
  backend/pkg/controllers/operationcontrollers/operation_node_pool_create.go
  backend/pkg/controllers/operationcontrollers/operation_node_pool_create_test.go
  backend/pkg/controllers/operationcontrollers/operation_node_pool_update.go
  backend/pkg/controllers/operationcontrollers/operation_node_pool_update_test.go
  backend/pkg/controllers/operationcontrollers/operation_state.go
  backend/pkg/controllers/operationcontrollers/operation_state_test.go
  backend/pkg/controllers/operationcontrollers/test_helpers_test.go
  internal/api/types_serviceprovider_cluster.go
  internal/ocm/cluster_update_dispatch_config.go
  internal/ocm/cluster_update_dispatch_config_test.go
  internal/ocm/convert.go
  internal/ocm/convert_test.go
  internal/ocm/update_dispatch_config.go
  internal/ocm/update_dispatch_config_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add backend node pool update dispatch and richer node pool update operation state checks
  backend/go.mod
  backend/pkg/app/backend.go
  backend/pkg/controllers/nodepoolupdate/node_pool_cluster_service_update_dispatch_controller.go
  backend/pkg/controllers/nodepoolupdate/node_pool_cluster_service_update_dispatch_controller_test.go
  backend/pkg/controllers/operationcontrollers/operation_node_pool_update.go
  backend/pkg/controllers/operationcontrollers/operation_node_pool_update_state_calculation.go
  backend/pkg/controllers/operationcontrollers/operation_node_pool_update_state_calculation_test.go
  backend/pkg/controllers/operationcontrollers/operation_node_pool_update_test.go
  internal/ocm/convert.go
  internal/ocm/node_pool_update_dispatch_config.go
  internal/ocm/node_pool_update_dispatch_config_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add backend external auth update dispatch and richer external auth update operation state checks
  backend/pkg/app/backend.go
  backend/pkg/controllers/externalauthupdate/external_auth_cluster_service_update_dispatch_controller.go
  backend/pkg/controllers/externalauthupdate/external_auth_cluster_service_update_dispatch_controller_test.go
  backend/pkg/controllers/operationcontrollers/operation_external_auth_update.go
  backend/pkg/controllers/operationcontrollers/operation_external_auth_update_state_calculation.go
  backend/pkg/controllers/operationcontrollers/operation_external_auth_update_state_calculation_test.go
  backend/pkg/controllers/operationcontrollers/operation_external_auth_update_test.go
  backend/pkg/controllers/operationcontrollers/test_helpers_test.go
  backend/pkg/controllers/operationcontrollers/utils.go
  internal/ocm/convert.go
  internal/ocm/external_auth_update_dispatch_config.go
  internal/ocm/external_auth_update_dispatch_config_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs: add SSA conflict troubleshooting to cluster size override SOP
  docs/ops/override-cluster-size.md
Due: none

Scope RBAC permissions for hypershift-installer and Velero
  hypershiftoperator/deploy/templates/installer.clusterrolebinding.yaml
  hypershiftoperator/deploy/templates/installer.serviceaccount.yaml
  velero/deploy/templates/installer-rbac.yaml
  velero/deploy/templates/velero-rbac.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

feat(observability): restore UJ KAS availability alert files
  dev-infrastructure/modules/metrics/rp-hcp-rules.bicep
  observability/alerts-rp-hcps.yaml
  observability/alerts/HCPkasRecord-prometheusRule-KSM.yaml
  observability/alerts/UJKubeApiserverAvailabilityMonitor-prometheusRule-KSM.yaml
  observability/alerts/UJKubeApiserverAvailabilityMonitor-prometheusRule-KSM_test.yaml
  observability/alerts/UJKubeApiserverAvailabilityRecord-prometheusRule-KSM.yaml
  observability/alerts/UJKubeApiserverAvailabilityRecord-prometheusRule-KSM_test.yaml
  observability/recording-rules-hcps.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

backend: add a controller to auto-scale the Azure Monitor Workspace
  backend/cmd/root.go
  backend/deploy/templates/backend.deployment.yaml
  backend/go.mod
  backend/go.sum
  backend/pipeline.yaml
  backend/pkg/app/backend.go
  backend/pkg/app/backend_identity_wiring.go
  backend/pkg/controllers/amwscaling/controller.go
  backend/pkg/controllers/amwscaling/controller_test.go
  backend/pkg/controllers/amwscaling/metrics_containers_client.go
  backend/pkg/controllers/amwscaling/propose.go
  backend/pkg/controllers/amwscaling/propose_test.go
  backend/testdata/zz_fixture_TestHelmTemplate_backend_clstr_scoped_identities_role_set_name_public.yaml
  backend/testdata/zz_fixture_TestHelmTemplate_backend_mi_mock_and_arm_perms_mgr_identities_unset.yaml
  backend/values.yaml
  backend/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_aro_hcp_backend_dev.yaml
  config/config.msft.clouds-overlay.yaml
  config/config.schema.json
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  dev-infrastructure/configurations/backend-amw-permissions.tmpl.bicepparam
  dev-infrastructure/configurations/backend-lookup.tmpl.bicepparam
  dev-infrastructure/configurations/region.tmpl.bicepparam
  dev-infrastructure/svc-pipeline.yaml
  dev-infrastructure/templates/backend-amw-permissions.bicep
  dev-infrastructure/templates/backend-lookup.bicep
  dev-infrastructure/templates/region.bicep
  test-integration/go.mod
  test-integration/go.sum
Due: e2e-parallel, ci/prow/e2e-parallel

fix(hcpctl): use kubeAudit table for mgmtAuditLogs snapshot query
  tooling/hcpctl/pkg/snapshot/queries/maestro/mgmtAuditLogs/query.kql
Due: e2e-parallel, ci/prow/e2e-parallel

fix(config): require string aksUpgradeSettings so Ev2 bicepparam renders (AROSLSRE-1470)
  config/config.schema.json
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

docs: remove ephemeral annotation option from cluster size override SOP
  docs/ops/override-cluster-size.md
Due: none

fix(observability): fix externalLabels range bug and add helmtest_ci fixture
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_arohcp_monitor.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_arohcp_monitor.yaml
  observability/prometheus/deploy/templates/prometheus.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_ci.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources_unset.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_svc_resources.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_svc_resources_unset.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

docs: clarify Admin API PascalCase size names vs CR lowercase
  docs/ops/override-cluster-size.md
Due: none

feat(global): associate global subscription with OneCert domain (AROSLSRE-1477)
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
