Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Path conditions:
  create-aro-hcp-in-integration: any of: ^(demo)
  ci/prow/create-aro-hcp-in-integration: any of: ^(demo)
  ci/prow/create-aro-hcp-in-prod: any of: ^(demo)
  ci/prow/create-aro-hcp-in-stage: any of: ^(demo)
  ci/prow/integration-e2e-parallel: any of: ^(test|demo)
  ci/prow/prod-e2e-parallel: any of: ^(test|demo)
  ci/prow/stage-e2e-parallel: any of: ^(test|demo)

api: Add TestVersionedNullPatch test helper function
  internal/api/testhelpers.go
  internal/api/v20240610preview/register_test.go
Due: none

tooling/prometheus-rules: remove unnecessary `concat()`
  dev-infrastructure/modules/metrics/rules/generatedHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/msftPrometheusAlertingRules.bicep
  tooling/prometheus-rules/internal/generator.go
  tooling/prometheus-rules/testdata/generated.bicep
  tooling/prometheus-rules/testdata/generated_5m.bicep
Due: none

changes to support PascalCase Enum
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  frontend/pkg/frontend/ocm.go
  go.work.sum
  internal/api/enums.go
  internal/api/hcpopenshiftclusternodepool_test.go
  internal/api/v20240610preview/generated/constants.go
Due: none

chore: update the frontend with new conversion patterns
  frontend/pkg/frontend/node_pool.go
  frontend/pkg/frontend/ocm.go
  frontend/pkg/frontend/ocm_test.go
  go.work.sum
  internal/api/hcpopenshiftclusternodepool_test.go
Due: none

Add test for osDisk encryption validation
  internal/api/hcpopenshiftclusternodepool_test.go
Due: none

Add Persistence to OSDisk spec
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_Get_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_ListByParent_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_Update_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_Get_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_ListByParent_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_Update_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  internal/api/v20240610preview/generated/constants.go
  internal/api/v20240610preview/generated/models.go
  internal/api/v20240610preview/generated/models_serde.go
Due: none

run all tidy
  go.work.sum
Due: none

running all tidy
  internal/go.mod
Due: none

Add support for the OSDisk Encryption
  frontend/pkg/frontend/ocm.go
Due: none

update examples with Osdisk changes
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_Get_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_ListByParent_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/NodePools_Update_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_Get_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_ListByParent_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/NodePools_Update_MaximumSet_Gen.json
Due: none

add more checks before calling encrypt
  frontend/pkg/frontend/ocm.go
Due: none

Update Unit tests
  frontend/pkg/frontend/node_pool_test.go
  frontend/pkg/frontend/ocm_test.go
Due: none

Rebase Struct changes to OSDisk profile
  go.work.sum
  internal/api/enums.go
  internal/api/hcpopenshiftclusternodepool.go
  internal/api/hcpopenshiftclusternodepool_test.go
  internal/api/testhelpers.go
  internal/api/v20240610preview/nodepools_methods.go
  internal/api/v20240610preview/register.go
  internal/api/v20240610preview/register_test.go
Due: none

correct the casing of the field persistence
  demo/bicep/nodepool.bicep
  demo/node_pool.tmpl.json
  test/e2e-setup/bicep/modules/nodepool.bicep
Due: create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

update sdk and frontend with CS changes for OSdisk
  backend/go.mod
  backend/go.sum
  demo/bicep/nodepool.bicep
  demo/node_pool.tmpl.json
  frontend/go.mod
  frontend/go.sum
  frontend/pkg/frontend/ocm.go
  frontend/utils/create.go
  go.work.sum
  internal/go.mod
  internal/go.sum
  test/e2e-setup/bicep/modules/nodepool.bicep
Due: create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

add encryption id to the conversion function
  go.work.sum
Due: none

Rollout clusters-service in INT
  config/config.msft.clouds-overlay.yaml
Due: none

tooling/templatize: allow using an explicit record of sub ids
  tooling/templatize/cmd/pipeline/inspect/options.go
  tooling/templatize/cmd/pipeline/run/options.go
  tooling/templatize/cmd/rolloutoptions.go
  tooling/templatize/internal/end2end/e2e.go
  tooling/templatize/internal/end2end/e2e_test.go
  tooling/templatize/pkg/pipeline/executiontarget.go
  tooling/templatize/pkg/pipeline/inspect.go
  tooling/templatize/pkg/pipeline/inspect_test.go
  tooling/templatize/pkg/settings/settings.go
Due: none

tooling/prometheus-rules: duplicate description as title
  dev-infrastructure/modules/metrics/rules/generatedHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/msftPrometheusAlertingRules.bicep
  observability/alerts/HCPkasMonitor-prometheusRule.yaml
  tooling/prometheus-rules/internal/generator.go
  tooling/prometheus-rules/testdata/generated.bicep
  tooling/prometheus-rules/testdata/generated_5m.bicep
Due: none

Create negative and positive test case for updating cluster details
  test/e2e/cluster_update.go
  test/util/framework/hcp_helper.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Update error message based on actual results
  test/e2e/cluster_update.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

fix artifactSync arm deployment error - adds query "Tags" to sync all artifacts
  dev-infrastructure/modules/acr/mcr-artifact-sync.bicep
Due: none

write mise image to a different repository
  dev-infrastructure/templates/global-acr.bicep
Due: none

e2e: update clean resource groups to clean app registrations too
  go.work.sum
  internal/go.mod
  internal/go.sum
  internal/graph/util/client.go
  test/cmd/aro-hcp-tests/cleanup.go
  test/cmd/aro-hcp-tests/main.go
  test/go.mod
  test/util/framework/msgraph_helper.go
  test/util/framework/per_test_framework.go
  test/util/verifiers/serving_app.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

e2e: ensure we're owner over the app registration prior to cleaning
  test/cmd/aro-hcp-tests/cleanup.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

e2e: configure external auth clients for console and cli
  test/e2e/external_auth_create.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

api: don't set max length on disk encryption set id
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
Due: none

api: remote unused imports
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/HcpCluster.Management/hcpCluster.tsp
  api/redhatopenshift/HcpCluster.Management/hcpVersion.tsp
  api/redhatopenshift/HcpCluster.Management/main.tsp
Due: none

frontend/backend: bump image digests
  config/config.msft.clouds-overlay.yaml
Due: none

Checking for cluster permissions before assigning cluster admin role
  tooling/templatize/pkg/aks/admin.go
Due: none

removing comment
  tooling/templatize/pkg/aks/admin.go
Due: none

Wait for operator recocilation before proceeding with pull secret verification.
  test/e2e/cluster_pullsecret.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

override default ClusterSizingConfiguration
  hypershiftoperator/deploy/templates/cluster.clustersizingconfiguration.yaml
Due: none

make all-tidy
  test/e2e/cluster_pullsecret.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

set default storage class to PremiumV2
  mgmt-fixes/Makefile
  mgmt-fixes/deploy/default-sc/Chart.yaml
  mgmt-fixes/deploy/default-sc/templates/managed-csi-premiumv2.storageclass.yaml
  mgmt-fixes/deploy/mitigations/valuaes.yaml
  mgmt-fixes/deploy/mitigations/values.yaml
Due: none

add frontend e2e tests
  go.work.sum
  test/e2e/admin_credential_lifecycle.go
  test/e2e/cluster_versions.go
  test/util/framework/per_test_framework.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

try 5 minutes for operator reconciliation.
  test/e2e/cluster_pullsecret.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

e2e: fix bug in constructing the armresources client factory
  test/util/framework/per_test_framework.go
Due: ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

go.work.sum
  go.work.sum
Due: none

arm: Provide a centralized place to store Azure location
  internal/api/arm/location.go
Due: none
