Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$

feat(observability): add IDMS image mirror SLO dashboard
  observability/grafana-dashboards/sre/user-journey/idms-mirror-slo.json
Due: e2e-parallel, ci/prow/e2e-parallel

fix(observability): rename IDMS burn-rate alerts to window-style names
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts/idms-mirror-slo-prometheusRule.yaml
  observability/alerts/idms-mirror-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

window IDMS burn-rate alerts by terminal transition time
  backend/alerts/backend-cluster-update-slo-recordingRule.yaml
  backend/alerts/backend-cluster-update-slo-recordingRule_test.yaml
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/idms-mirror-slo-prometheusRule.yaml
  observability/alerts/idms-mirror-slo-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/idms-mirror-slo.json
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat(observability): add cluster update SLO recording rules
  backend/alerts/backend-cluster-update-slo-recordingRule.yaml
  backend/alerts/backend-cluster-update-slo-recordingRule_test.yaml
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/recording-rules-services.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

point IDMS alerts at journey-specific runbook
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts/idms-mirror-slo-prometheusRule.yaml
  observability/alerts/idms-mirror-slo-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/idms-mirror-slo.json
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat: add Ingress Latency burn-rate alerts (ARO-25969)
  observability/alerts/ingress-availability-slo-prometheusRule.yaml
  observability/alerts/ingress-availability-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat: add Ingress Availability and Latency SLI/SLO recording rules and alerts (ARO-25969)
  observability/alerts-rp-hcps.yaml
  observability/alerts/ingress-availability-slo-prometheusRule.yaml
  observability/alerts/ingress-availability-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: use windowed error rates and volume floors for ingress burn-rate alerts
  dev-infrastructure/modules/metrics/rules/generatedHCPRecordingRules.bicep
  observability/alerts/ingress-availability-slo-prometheusRule.yaml
  observability/alerts/ingress-availability-slo-prometheusRule_test.yaml
  observability/recording-rules/ingress-availability-slo-recordingRule.yaml
  observability/recording-rules/ingress-availability-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

chore: rebase onto main, drop reverted etcd alert registration
  dev-infrastructure/modules/metrics/rules/generatedRPHCPPrometheusAlertingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

fix: true MWMBR pairing, absent alert, naming, and correlationId per review
  dev-infrastructure/modules/metrics/rules/generatedHCPRecordingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPHCPPrometheusAlertingRules.bicep
  observability/alerts/ingress-availability-slo-prometheusRule.yaml
  observability/alerts/ingress-availability-slo-prometheusRule_test.yaml
  observability/recording-rules/ingress-availability-slo-recordingRule.yaml
  observability/recording-rules/ingress-availability-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

test(alertdiagnostics): add IDMS SLO alerts to repository corpus
  test/util/alertdiagnostics/testdata/zz_fixture_TestRepositoryCorpus.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

docs: add operator managed identity reference with Azure RBAC permission tables
  docs/operator-identities/README.md
  docs/operator-identities/disk-csi-driver.md
  docs/operator-identities/file-csi-driver.md
  docs/operator-identities/image-registry.md
Due: none

chore: keep personal-dev identity testing helpers local
  Makefile
  dev-infrastructure/modules/infrastructure-identities.bicep
  docs/ci/infrastructure-identity-deployment.md
  docs/personal-dev.md
  hack/latest-services-override_test.py
  hack/prepare-leased-infra-identities.sh
  hack/prepare-leased-infra-identities_test.sh
Due: e2e-parallel, ci/prow/e2e-parallel

feat(observability): add cluster-autoscaler SLO rules and dashboard
  dev-infrastructure/modules/metrics/rules/generatedHCPRecordingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPHCPPrometheusAlertingRules.bicep
  observability/alerts-rp-hcps.yaml
  observability/alerts/cluster-autoscaler-slo-prometheusRule.yaml
  observability/alerts/cluster-autoscaler-slo-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-autoscaler-slo.json
  observability/recording-rules-hcps.yaml
  observability/recording-rules/cluster-autoscaler-slo-recordingRule.yaml
  observability/recording-rules/cluster-autoscaler-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix(deps): reconcile open agentic PRs (AROSLSRE-2347)
  .github/workflows/dependabot-remediation.lock.yml
  .github/workflows/dependabot-remediation.md
Due: e2e-parallel, ci/prow/e2e-parallel

feat: reconcile required Azure resource-provider registrations via privileged dev-ci pipeline
  config/config-dev-ci.schema.json
  config/config-dev-ci.yaml
  dev-infrastructure/dev-ci/e2e-subscription-providers/pipeline.yaml
  docs/ci/e2e-subscription-onboarding.md
  docs/ci/external-subscription-onboarding.md
  topology-dev-ci.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

auto gen the pipeline for registration
  Makefile
  dev-infrastructure/dev-ci/e2e-subscription-providers/pipeline.yaml
  docs/ci/e2e-subscription-onboarding.md
  hack/generate-e2e-provider-pipeline.sh
  hack/verify-e2e-provider-pipeline.sh
Due: e2e-parallel, ci/prow/e2e-parallel

fix the identity problem
  dev-infrastructure/dev-ci/e2e-subscription-providers/pipeline.yaml
  docs/ci/e2e-subscription-onboarding.md
  docs/ci/external-subscription-onboarding.md
  hack/generate-e2e-provider-pipeline.sh
Due: e2e-parallel, ci/prow/e2e-parallel

docs: drop the incorrect Compute/Network quota prerequisite
  docs/ci/e2e-subscription-onboarding.md
Due: none

docs: drop duplicated Test Tenant exclusion note
  docs/ci/external-subscription-onboarding.md
Due: none

refactor: register E2E providers by subscription ID via a shell step
  Makefile
  config/config-dev-ci.schema.json
  config/config-dev-ci.yaml
  dev-infrastructure/dev-ci/e2e-subscription-providers/pipeline.yaml
  dev-infrastructure/scripts/e2e-register-providers.sh
  docs/ci/dev-ci-topology.md
  docs/ci/e2e-subscription-onboarding.md
  hack/generate-e2e-provider-pipeline.sh
  hack/verify-e2e-provider-pipeline.sh
Due: e2e-parallel, ci/prow/e2e-parallel

fix: share one wait budget across provider registrations
  dev-infrastructure/scripts/e2e-register-providers.sh
Due: e2e-parallel, ci/prow/e2e-parallel

docs: make the provider-registration wait loop actually wait
  docs/ci/e2e-subscription-onboarding.md
  docs/ci/external-subscription-onboarding.md
Due: none

fix(deps): allow Prow diagnostics in agent workflow (AROSLSRE-2347)
  .github/workflows/dependabot-remediation.lock.yml
  .github/workflows/dependabot-remediation.md
Due: e2e-parallel, ci/prow/e2e-parallel

fix(deps): guard PR reconciliation and complete evidence (AROSLSRE-2347)
  .github/workflows/dependabot-remediation.lock.yml
  .github/workflows/dependabot-remediation.md
Due: e2e-parallel, ci/prow/e2e-parallel

fix(deps): emit only typed Prow commands (AROSLSRE-2347)
  .github/workflows/dependabot-remediation.lock.yml
  .github/workflows/dependabot-remediation.md
Due: e2e-parallel, ci/prow/e2e-parallel

fix(deps): reject duplicate PR mutations (AROSLSRE-2347)
  .github/workflows/dependabot-remediation.lock.yml
  .github/workflows/dependabot-remediation.md
Due: e2e-parallel, ci/prow/e2e-parallel

fix(deps): reject NUL in Prow evidence (AROSLSRE-2347)
  .github/workflows/dependabot-remediation.lock.yml
  .github/workflows/dependabot-remediation.md
Due: e2e-parallel, ci/prow/e2e-parallel

fix: use helmtest instead of script
  Makefile
  docs/swift-recorder-deployment.md
  swift-recorder/Makefile
  swift-recorder/README.md
  swift-recorder/pipeline.yaml
  swift-recorder/testdata/capture-all.yaml
  swift-recorder/testdata/ci-bootstrap.yaml
  swift-recorder/testdata/enabled.yaml
  swift-recorder/testdata/helmtest_capture-all.yaml
  swift-recorder/testdata/helmtest_enabled.yaml
  swift-recorder/testdata/helmtest_mgmt-agent.yaml
  swift-recorder/testdata/test-deploy.sh
  swift-recorder/testdata/zz_fixture_TestHelmTemplate_swift_recorder_capture_all.yaml
  swift-recorder/testdata/zz_fixture_TestHelmTemplate_swift_recorder_enabled.yaml
  swift-recorder/testdata/zz_fixture_TestHelmTemplate_swift_recorder_mgmt_agent.yaml
  swift-recorder/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_swift_recorder.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix cluster autoscaler alert names
  dev-infrastructure/modules/metrics/rules/generatedRPHCPPrometheusAlertingRules.bicep
  observability/alerts/cluster-autoscaler-slo-prometheusRule.yaml
  observability/alerts/cluster-autoscaler-slo-prometheusRule_test.yaml
  test/util/alertdiagnostics/testdata/zz_fixture_TestRepositoryCorpus.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

Add unit tests
  frontend/pkg/frontend/external_auth.go
  frontend/pkg/frontend/external_auth_metrics_test.go
  frontend/pkg/frontend/metrics_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

Expose State Transition Counter Metrics
  backend/pkg/utils/operationutils/utils.go
  backend/pkg/utils/operationutils/utils_test.go
  frontend/pkg/frontend/external_auth.go
  frontend/pkg/frontend/metrics.go
  frontend/pkg/frontend/metrics_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(observability): update dashboards to use recording rules
  dev-infrastructure/modules/metrics/rules/generatedHCPRecordingRules.bicep
  observability/grafana-dashboards/sre/user-journey/cluster-autoscaler-slo.json
  observability/recording-rules/cluster-autoscaler-slo-recordingRule.yaml
  observability/recording-rules/cluster-autoscaler-slo-recordingRule_test.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

Bump CS image
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix(observability): cluster autoscaler dashboard updates
  observability/grafana-dashboards/sre/user-journey/cluster-autoscaler-slo.json
Due: e2e-parallel, ci/prow/e2e-parallel

fix: improve invalid scopes error message
  admin/server/handlers/alertmanagement/alertprocessingrules.go
Due: e2e-parallel, ci/prow/e2e-parallel

DO NOT MERGE: e2e: run a single test in the INT and STG suites
  test/cmd/aro-hcp-tests/main.go
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_integration_parallelintegration_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_stage_parallelstage_parallel.txt
Due: e2e-parallel, ci/prow/e2e-parallel

update sdk owners file add twolff-gh
  test/sdk/OWNERS
Due: e2e-parallel, ci/prow/e2e-parallel
