Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$

Add rate limiter to reduce the request flow to checkaccess API
  backend/cmd/root.go
  backend/go.mod
  backend/go.sum
  backend/pkg/azure/client/rate_limited_check_access_v2_client.go
  backend/pkg/azure/client/rate_limited_check_access_v2_client_test.go
  backend/pkg/utils/validationutils/control_plane_identities_permissions_cluster_validation.go
  backend/pkg/utils/validationutils/control_plane_identities_permissions_cluster_validation_test.go
  test-integration/go.mod
  test-integration/go.sum
Due: e2e-parallel, ci/prow/e2e-parallel

fix lint
  test/e2e/nodepool_nsg_deny_subnet.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add controller that retrieves information about MSI based identities
  backend/pkg/app/backend.go
  backend/pkg/controllers/fetch_msi_identities_info.go
  internal/api/coreapi/types_cluster.go
  internal/api/coreapi/zz_generated.deepcopy.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: bump ACM/MCE bundles to 2.17 (acm-217 / mce-217)
  acm/deploy/helm/multicluster-engine-config/charts/policy/Chart.yaml
  acm/deploy/helm/multicluster-engine-config/charts/policy/charts/cluster-lifecycle/Chart.yaml
  acm/deploy/helm/multicluster-engine-config/charts/policy/charts/grc/Chart.yaml
  acm/deploy/helm/multicluster-engine-config/charts/policy/values.yaml
  acm/deploy/helm/multicluster-engine-crds/Chart.yaml
  acm/deploy/helm/multicluster-engine-crds/templates/multiclusterengines.multicluster.openshift.io.customresourcedefinition.yaml
  acm/deploy/helm/multicluster-engine/Chart.yaml
  acm/deploy/helm/multicluster-engine/templates/multicluster-engine-operator.deployment.yaml
  acm/deploy/helm/multicluster-engine/templates/multicluster-engine-x5d5x8b93c5mh334chde54vpu6bfnweigxlxg6wtmnd.clusterrole.yaml
  acm/deploy/helm/multicluster-engine/templates/multicluster-engine-x5d5x8b93c5mh334chde54vpu6bfnweigxlxg6wtmnd.clusterrolebinding.yaml
  acm/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_mce.yaml
  acm/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_mce_crds.yaml
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  tooling/image-updater/config.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix: port UserFacingConditions to v20260901preview
  internal/azureapi/v20260901preview/external_auth_methods.go
  internal/azureapi/v20260901preview/hcpopenshiftclusters_methods.go
  internal/azureapi/v20260901preview/nodepools_methods.go
  test-integration/frontend/artifacts/VersionCompliance/Cluster/basic-cluster/expected/get/2026-09-01-preview.json
  test-integration/frontend/artifacts/VersionCompliance/Cluster/basic-cluster/expected/list/2026-09-01-preview.json
  test-integration/frontend/artifacts/VersionCompliance/NodePool/basic-nodepool/expected/get/2026-09-01-preview.json
  test-integration/frontend/artifacts/VersionCompliance/NodePool/basic-nodepool/expected/list/2026-09-01-preview.json
Due: e2e-parallel, ci/prow/e2e-parallel

disable Prometheus on SVC clusters and filter health alerts
  dev-infrastructure/modules/metrics/rules/generatedMsftPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/underlay-clusters-metric.bicep
  dev-infrastructure/svc-pipeline.yaml
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
  observability/alerts/prometheus-prometheusRule.yaml
  observability/alerts/prometheus-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: enable AMA kube-state-metrics scraping on SVC clusters
  dev-infrastructure/mgmt-pipeline.yaml
  dev-infrastructure/svc-pipeline.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_service_lifecycle.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_service_lifecycle.yaml
  service-lifecycle/deploy/templates/ama-metrics-settings-configmap.yaml
  service-lifecycle/deploy/values-mgmt.yaml
  service-lifecycle/deploy/values-svc.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

various fixes
  .yamllint.yml
  dev-infrastructure/cleanup-prometheus.pipeline.yaml
  dev-infrastructure/svc-pipeline.yaml
  docs/pipelines.md
  observability/prometheus/deploy/templates/prometheus.podmonitor.yaml
  observability/prometheus/values-opstool.yaml
  topology.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

refactor: move ama-metrics-settings-configmap to service-lifecycle chart
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_arohcp_monitor.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_service_lifecycle.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_arohcp_monitor.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_service_lifecycle.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources_unset.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_svc_resources.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_svc_resources_unset.yaml
  service-lifecycle/deploy/templates/ama-metrics-settings-configmap.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

chore: add SVC cluster prometheus cleanup script and pipeline step
  dev-infrastructure/scripts/cleanup-prometheus.sh
  dev-infrastructure/svc-pipeline.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

feat: discover role assignment quota from Azure
  tooling/tenant-quota/README.md
  tooling/tenant-quota/go.mod
  tooling/tenant-quota/go.sum
  tooling/tenant-quota/pkg/config/config.go
  tooling/tenant-quota/pkg/config/config_test.go
  tooling/tenant-quota/pkg/subscriptionquota/collector.go
  tooling/tenant-quota/pkg/subscriptionquota/roleassignmentmetrics.go
  tooling/tenant-quota/pkg/subscriptionquota/roleassignmentmetrics_test.go
  tooling/tenant-quota/pkg/subscriptionquota/roleassignments.go
  tooling/tenant-quota/pkg/subscriptionquota/roleassignments_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs: remove static role assignment limit setup
  docs/ci/e2e-subscription-onboarding.md
Due: none

more changes
  backend/pkg/app/backend.go
  backend/pkg/controllers/cluster/identity/fetch_msi_identities_info.go
  internal/api/coreapi/types_cluster.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add standalone kube-state-metrics chart for custom resource state metrics
  .yamllint.yml
  dev-infrastructure/mgmt-pipeline.yaml
  observability/kube-state-metrics/deploy/Chart.yaml
  observability/kube-state-metrics/deploy/templates/clusterrole.yaml
  observability/kube-state-metrics/deploy/templates/clusterrolebinding.yaml
  observability/kube-state-metrics/deploy/templates/configmap.yaml
  observability/kube-state-metrics/deploy/templates/deployment.yaml
  observability/kube-state-metrics/deploy/templates/service.yaml
  observability/kube-state-metrics/deploy/templates/serviceaccount.yaml
  observability/kube-state-metrics/deploy/templates/servicemonitor.yaml
  observability/kube-state-metrics/deploy/values-mgmt.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix: retry transient ARM deployment polling 404s
  tooling/templatize/pkg/pipeline/arm.go
  tooling/templatize/pkg/pipeline/arm_retry_policy.go
  tooling/templatize/pkg/pipeline/arm_retry_policy_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

Fix typo in docs/snapshot-analysis.md
  docs/snapshot-analysis.md
Due: none

feat: deploy standalone kube-state-metrics to both MGMT and SVC clusters
  dev-infrastructure/mgmt-pipeline.yaml
  dev-infrastructure/svc-pipeline.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_kube_state_metrics_crs.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_service_lifecycle.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_kube_state_metrics_crs.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_service_lifecycle.yaml
  observability/kube-state-metrics/deploy/templates/clusterrole.yaml
  observability/kube-state-metrics/deploy/templates/configmap.yaml
  observability/kube-state-metrics/deploy/templates/deployment.yaml
  observability/kube-state-metrics/values-mgmt.yaml
  observability/kube-state-metrics/values-svc.yaml
  service-lifecycle/deploy/templates/ama-metrics-settings-configmap.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

feat: restrict Grafana public network access and document VPN requirement
  config/config.schema.json
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  dev-infrastructure/global-pipeline-stg.yaml
  dev-infrastructure/global-pipeline.yaml
  dev-infrastructure/grafana-pipeline.yaml
  docs/ai/grafana-debugging.md
  docs/alert-verification.md
  docs/grafana-dashboards.md
  docs/monitoring.md
  docs/network-security.md
  docs/ops/kubernetes-provisioning-diagnostics.md
  docs/sops/grafana-vpn-access.md
  tooling/templatize/pkg/pipeline/grafana_reconcile.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: close role assignment metrics responses
  tooling/tenant-quota/pkg/subscriptionquota/roleassignmentmetrics.go
  tooling/tenant-quota/pkg/subscriptionquota/roleassignmentmetrics_test.go
  tooling/tenant-quota/pkg/subscriptionquota/roleassignments_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

chore: bump ARO-Tools to 4afdafb (PublicNetworkAccess support)
  test/go.mod
  test/go.sum
  tooling/grafanactl/go.mod
  tooling/grafanactl/go.sum
  tooling/helmtest/go.mod
  tooling/helmtest/go.sum
  tooling/pipeline-documentation/go.mod
  tooling/pipeline-documentation/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
Due: e2e-parallel, ci/prow/e2e-parallel

docs: add DEV CI regional failover runbook
  docs/ci/README.md
  docs/ci/dev-ci-monitoring.md
  docs/ci/dev-region-failover.md
  docs/ci/operations.md
Due: none

feat: manage mock identity owners declaratively
  config/config-dev-ci.schema.json
  config/config-dev-ci.yaml
  dev-infrastructure/configurations/mock-identity-apps-int.tmpl.bicepparam
  dev-infrastructure/configurations/mock-identity-apps.tmpl.bicepparam
  dev-infrastructure/templates/mock-identity-apps.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

fix: express creation timeout as delta from default
  test/e2e/cluster_delayed_role_assignments.go
Due: e2e-parallel, ci/prow/e2e-parallel

Add test name in list of tests
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
Due: e2e-parallel, ci/prow/e2e-parallel

chore: add the summarize to the event
  tooling/hcpctl/pkg/snapshot/queries/acm/klusterletEvents/query.kql
Due: e2e-parallel, ci/prow/e2e-parallel

test(hcpctl): add unit tests for taxonomy classification
  tooling/hcpctl/pkg/agent/classification_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

use kubernetesResourceSnapshots table
  tooling/hcpctl/pkg/agent/prompts/exemplars/cluster-deletion-timeout-because-managedcluster-cr-deletion-stuck.md
  tooling/hcpctl/pkg/snapshot/queries/acm/klusterletLogs/README.md
  tooling/hcpctl/pkg/snapshot/queries/acm/klusterletLogs/query.kql
  tooling/hcpctl/pkg/snapshot/queries/acm/managedClusterConditions/README.md
  tooling/hcpctl/pkg/snapshot/queries/acm/managedClusterConditions/query.kql
Due: e2e-parallel, ci/prow/e2e-parallel

revert cleanup removals, switch to errors.join approach
  test/go.mod
  test/go.sum
  test/util/framework/per_invocation_framework.go
  test/util/framework/per_test_framework.go
  test/util/framework/per_test_framework_test.go
  test/util/verifiers/osdisk_encryption.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: enable customer-managed key for nodePool OS disk encryption
  internal/ocm/convert.go
  internal/ocm/convert_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add e2e test for BYOK OS Disks
  internal/ocm/convert_test.go
  test/e2e-setup/bicep/modules/customer-infra.bicep
  test/e2e/nodepool_osdisk_encryption.go
  test/go.mod
  test/go.sum
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_dev_cd_check_paralleldev_cd_check_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_integration_parallelintegration_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_prod_parallelprod_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallelrp_api_compat_all_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_stage_parallelstage_parallel.txt
  test/util/framework/disk_encryption_set_helper.go
  test/util/framework/helpers_v20240610preview.go
  test/util/framework/helpers_v20251223preview.go
  test/util/framework/helpers_v20260630preview.go
  test/util/framework/helpers_v20260901preview.go
  test/util/framework/per_invocation_framework.go
  test/util/framework/per_test_framework.go
  test/util/framework/per_test_framework_test.go
  test/util/verifiers/osdisk_encryption.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(*Desires) add Tag filtering to *Desire
  internal/api/kubeapplierapi/types_apply_desire.go
  internal/api/kubeapplierapi/types_read_desire.go
  internal/api/kubeapplierapi/zz_generated.deepcopy.go
Due: e2e-parallel, ci/prow/e2e-parallel

Add backup system documentation & cosmos data flow
  docs/backups.md
  docs/cosmos-data-flow.md
Due: none

Add backup schedule e2e tests
  test/e2e/hcp_backups.go
  test/go.mod
  test/go.sum
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_dev_cd_check_paralleldev_cd_check_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
  test/util/framework/admin_api_helpers.go
  test/util/framework/constants.go
Due: e2e-parallel, ci/prow/e2e-parallel

Add backup schedule admin api endpoints
  admin/server/cmd/server/options.go
  admin/server/go.mod
  admin/server/go.sum
  admin/server/handlers/hcp/backups.go
  admin/server/handlers/hcp/backups_test.go
  admin/server/server/admin.go
  test-integration/admin/artifacts/AdminCRUD/HCP/pause-unpause-backup-schedule/00-load-initial-cosmos-state/01-cluster.json
  test-integration/admin/artifacts/AdminCRUD/HCP/pause-unpause-backup-schedule/00-load-initial-cosmos-state/02-service-provider-cluster.json
  test-integration/admin/artifacts/AdminCRUD/HCP/pause-unpause-backup-schedule/01-loadClusterService-initial-state/01-cluster.json
  test-integration/admin/artifacts/AdminCRUD/HCP/pause-unpause-backup-schedule/02-httpGet-verify-initial-state-enabled/00-key.json
  test-integration/admin/artifacts/AdminCRUD/HCP/pause-unpause-backup-schedule/02-httpGet-verify-initial-state-enabled/backup-schedules-enabled.json
  test-integration/admin/artifacts/AdminCRUD/HCP/pause-unpause-backup-schedule/03-httpPatch-disable-backup-schedule/00-key.json
  test-integration/admin/artifacts/AdminCRUD/HCP/pause-unpause-backup-schedule/03-httpPatch-disable-backup-schedule/disable-backup-schedule.json
  test-integration/admin/artifacts/AdminCRUD/HCP/pause-unpause-backup-schedule/04-httpGet-verify-state-disabled/00-key.json
  test-integration/admin/artifacts/AdminCRUD/HCP/pause-unpause-backup-schedule/04-httpGet-verify-state-disabled/backup-schedules-disabled.json
  test-integration/admin/artifacts/AdminCRUD/HCP/pause-unpause-backup-schedule/05-httpPatch-enable-backup-schedule/00-key.json
  test-integration/admin/artifacts/AdminCRUD/HCP/pause-unpause-backup-schedule/05-httpPatch-enable-backup-schedule/enable-backup-schedule.json
  test-integration/admin/artifacts/AdminCRUD/HCP/pause-unpause-backup-schedule/06-httpGet-verify-state-enabled/00-key.json
  test-integration/admin/artifacts/AdminCRUD/HCP/pause-unpause-backup-schedule/06-httpGet-verify-state-enabled/backup-schedules-enabled.json
  test-integration/utils/integrationutils/utils.go
Due: e2e-parallel, ci/prow/e2e-parallel

chore: default grafanaPublicNetworkAccess to Enabled
  config/config.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

docs: soften VPN requirement language to reflect current state
  docs/ai/grafana-debugging.md
  docs/alert-verification.md
  docs/grafana-dashboards.md
  docs/monitoring.md
  docs/network-security.md
  docs/ops/kubernetes-provisioning-diagnostics.md
  docs/sops/grafana-vpn-access.md
Due: none

test: add unit tests for Grafana publicNetworkAccess pipeline wiring
  tooling/templatize/pkg/pipeline/grafana_reconcile_test.go
Due: e2e-parallel, ci/prow/e2e-parallel
