Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: create-aro-hcp-in-integration, integration-e2e-parallel

create-aro-hcp-in-integration:
  always_run: false
  steps:
    env:
      CLUSTER_NAME: premerge-integration-cluster-2
      CUSTOMER_RG_NAME: premerge-integration-customer-rg
      LOCATION: uksouth
      SUBSCRIPTION: ARO SRE Team - INT (EA Subscription 3)
    post:
    - ref: aro-hcp-provision-aro-hcp-gather-extra
  ...

integration-e2e-parallel:
  always_run: false
  optional: true
  steps:
    env:
      ARO_HCP_SUITE_NAME: integration/parallel
      CUSTOMER_SUBSCRIPTION: ARO SRE Team - INT (EA Subscription 3)
      LOCATION: uksouth
    post:
    - ref: aro-hcp-provision-aro-hcp-gather-extra
    test:
    - ref: aro-hcp-tests-run-aro-hcp-tests

frontend: Cleanup routes
  frontend/pkg/frontend/routes.go
Due: none

frontend: MiddlewareLockSubscription always applies
  frontend/pkg/frontend/middleware_locksubscription.go
Due: none

Represent effectiveOutboundIp array elements as object w/ id param
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/HcpOpenShiftClusters_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/HcpOpenShiftClusters_Get_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/HcpOpenShiftClusters_ListByResourceGroup_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/HcpOpenShiftClusters_ListBySubscription_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2024-06-10-preview/HcpOpenShiftClusters_Update_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/HcpOpenShiftClusters_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/HcpOpenShiftClusters_Get_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/HcpOpenShiftClusters_ListByResourceGroup_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/HcpOpenShiftClusters_ListBySubscription_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/examples/HcpOpenShiftClusters_Update_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  internal/api/v20240610preview/generated/models.go
  internal/api/v20240610preview/generated/models_serde.go
Due: none

add deployment operation collection
  test/e2e/cluster_create_missing_info.go
  test/util/framework/deployment_helper.go
  test/util/framework/per_test_framework.go
Due: integration-e2e-parallel

permissions for MIs
  demo/bicep/cluster.bicep
  demo/deploy-hcp-bicep.sh
Due: create-aro-hcp-in-integration, integration-e2e-parallel

MSI Refresher - add msiKeyvaultUri to config schema
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Due: none

Add certificate bicep modules from #2221
  dev-infrastructure/modules/keyvault/key-vault-cert-with-access.bicep
  dev-infrastructure/modules/maestro/maestro-consumer.bicep
  dev-infrastructure/modules/maestro/maestro-server.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Due: none

Add refactoring from https://github.com/Azure/ARO-HCP/pull/2240
  config/config.schema.json
Due: none

Update configuration to match merged schema
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
  dev-infrastructure/configurations/mgmt-cluster.tmpl.bicepparam
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
Due: none

Simplify schema, use same hostname/san for mgmt and svc
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
  dev-infrastructure/configurations/mgmt-cluster.tmpl.bicepparam
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
Due: none

Always create certificates, refactor config to add missing properties
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
  dev-infrastructure/configurations/mgmt-cluster.tmpl.bicepparam
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Due: none

Use context to generate DNS Zone for geneva auth certificates
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
  dev-infrastructure/configurations/mgmt-cluster.tmpl.bicepparam
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Due: none

make materialze
  config/dev.digests.yaml
Due: none

materialize
  config/dev.digests.yaml
Due: none

temporary fix with etcd defaults
  demo/cluster.tmpl.json
  frontend/pkg/frontend/ocm.go
  frontend/pkg/frontend/ocm_test.go
  internal/api/hcpopenshiftcluster.go
Due: create-aro-hcp-in-integration, integration-e2e-parallel

git: ignore env files
  test/e2e-setup/.gitignore
Due: integration-e2e-parallel

place tag information info to the kv schema (#2255)
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
  dev-infrastructure/configurations/global-infra.tmpl.bicepparam
  dev-infrastructure/configurations/mgmt-cluster.tmpl.bicepparam
  dev-infrastructure/configurations/mgmt-infra.tmpl.bicepparam
  dev-infrastructure/configurations/mgmt-nsp.tmpl.bicepparam
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/configurations/svc-infra.tmpl.bicepparam
  dev-infrastructure/modules/aks-cluster-base.bicep
  dev-infrastructure/modules/keyvault/keyvault.bicep
  dev-infrastructure/modules/oidc/global/frontdoor-keyvault.bicep
  dev-infrastructure/modules/oidc/global/main.bicep
  dev-infrastructure/modules/oidc/region/customDomain-route-origin.bicep
  dev-infrastructure/modules/oidc/region/main.bicep
  dev-infrastructure/templates/global-infra.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/mgmt-infra.bicep
  dev-infrastructure/templates/svc-cluster.bicep
  dev-infrastructure/templates/svc-infra.bicep
Due: none

initial bicep setup based on demo
  test/e2e-setup/bicep/modules/cluster.bicep
  test/e2e-setup/bicep/modules/customer-infra.bicep
  test/e2e-setup/bicep/modules/nodepool.bicep
Due: integration-e2e-parallel

README for E2E Setup
  test/e2e-setup/README.md
Due: integration-e2e-parallel

tooling/olm-bundle-repkg (#2225)
  acm/Makefile
  acm/deploy/helm/multicluster-engine/templates/clusterlifecycle-state-metrics-v2.servicemonitor.yaml
  acm/olm-bundle-repkg-config.yaml
  acm/scaffold/metrics-servicemonitor.yaml
  acm/scaffold/multiclusterengine.yaml
  go.work
  go.work.sum
  tooling/mcerepkg/README.md
  tooling/mcerepkg/internal/customize/customize.go
  tooling/mcerepkg/internal/customize/utils.go
  tooling/mcerepkg/internal/customize/validation.go
  tooling/mcerepkg/internal/customize/validation_test.go
  tooling/olm-bundle-repkg/README.md
  tooling/olm-bundle-repkg/configs/example.yaml
  tooling/olm-bundle-repkg/go.mod
  tooling/olm-bundle-repkg/go.sum
  tooling/olm-bundle-repkg/internal/customize/config.go
  tooling/olm-bundle-repkg/internal/customize/config_test.go
  tooling/olm-bundle-repkg/internal/customize/customize.go
  tooling/olm-bundle-repkg/internal/customize/customize_test.go
  tooling/olm-bundle-repkg/internal/customize/scaffold.go
  tooling/olm-bundle-repkg/internal/customize/utils.go
  tooling/olm-bundle-repkg/internal/customize/utils_test.go
  tooling/olm-bundle-repkg/internal/customize/validation.go
  tooling/olm-bundle-repkg/internal/customize/validation_test.go
  tooling/olm-bundle-repkg/internal/olm/extract.go
  tooling/olm-bundle-repkg/internal/rukpak/README.md
  tooling/olm-bundle-repkg/internal/rukpak/convert/registryv1.go
  tooling/olm-bundle-repkg/internal/rukpak/operator-registry/registry.go
  tooling/olm-bundle-repkg/internal/rukpak/util/fs.go
  tooling/olm-bundle-repkg/internal/rukpak/util/hash.go
  tooling/olm-bundle-repkg/internal/rukpak/util/tar.go
  tooling/olm-bundle-repkg/internal/rukpak/util/util.go
  tooling/olm-bundle-repkg/main.go
Due: none

explicit output for infra-only bicep file
  test/e2e-setup/bicep/infra-only.bicep
Due: integration-e2e-parallel

update CS image to include MIs and MI DP interaction fix in integrated dev (#2265)
  config/config.msft.clouds-overlay.yaml
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Due: none

node pool
  test/e2e-setup/bicep/demo.bicep
  test/e2e-setup/bicep/modules/nodepool.bicep
Due: integration-e2e-parallel

fix global-infra dependencies (#2262)
  dev-infrastructure/global-pipeline.yaml
Due: none

update readme
  test/e2e-setup/README.md
Due: integration-e2e-parallel

CS MSFT stage bump - msi dataplane fix (#2259)
  config/config.msft.clouds-overlay.yaml
Due: none

secret sync for prod (#2263)
  dev-infrastructure/data/encryptedsecrets.yaml
  docs/overview.png
  docs/secret-sync.md
Due: none

refine etcd defaults
  test/e2e-setup/bicep/modules/cluster.bicep
Due: integration-e2e-parallel

feat: update cs image to 5a131d6 in int env (#2251)
  config/config.msft.clouds-overlay.yaml
Due: none

cluster
  test/e2e-setup/bicep/demo.bicep
  test/e2e-setup/bicep/modules/cluster.bicep
Due: integration-e2e-parallel

config: record just one ID for reader role in subs (#2266)
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Due: none

refactor e2e testcontext for auto cleanup
  test/e2e/cluster_create_missing_info.go
  test/e2e/complete_cluster_create.go
  test/util/framework/per_invocation_framework.go
  test/util/framework/per_test_framework.go
  test/util/framework/zero_dep.go
Due: integration-e2e-parallel

managed identities
  test/e2e-setup/bicep/demo.bicep
  test/e2e-setup/bicep/infra-only.bicep
  test/e2e-setup/bicep/modules/managed-identities.bicep
  test/e2e-setup/bicep/setup.sh
Due: integration-e2e-parallel

Path conditions:
  create-aro-hcp-in-integration: any of: ^(demo)
  integration-e2e-parallel: any of: ^(test|demo)
