Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$

feat(observability): graduate RP alerts to Sev2 for paging
  dev-infrastructure/modules/metrics/rules/generatedRPHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts/UserJourneyKubeApiserverAvailabilityMonitor-prometheusRule-KSM.yaml
  observability/alerts/UserJourneyKubeApiserverAvailabilityMonitor-prometheusRule-KSM_test.yaml
  observability/alerts/cluster-provision-slo-prometheusRule.yaml
  observability/alerts/cluster-provision-slo-prometheusRule_test.yaml
  observability/alerts/frontend-slo-prometheusRule.yaml
  observability/alerts/frontend-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: retry transient cert-manager manifest download failures
  test/e2e/cluster_ingress_cert_letsencrypt.go
  test/util/framework/manifest.go
  test/util/framework/manifest_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: do not overwrite status code 206 in serialconsole handler
  admin/server/handlers/hcp/serialconsole.go
Due: e2e-parallel, ci/prow/e2e-parallel

refactor(ci): narrow supply-chain check to its requested scope
  .claude/skills/pr-standards/SKILL.md
  CONTRIBUTING.md
  hack/verify-supply-chain/main.go
  hack/verify-supply-chain/main_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(ci): skip non-regular index entries before reading file contents
  hack/verify-supply-chain/main.go
  hack/verify-supply-chain/main_test.go
  hack/verify-supply-chain/testdata/settings-malformed.json
Due: e2e-parallel, ci/prow/e2e-parallel

Automated - Update component image digests
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix(ci): reject agent JSON that cannot be read instead of skipping it
  .claude/skills/pr-standards/SKILL.md
  CONTRIBUTING.md
  hack/verify-supply-chain/main.go
  hack/verify-supply-chain/main_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(ci): scan the indexed blob rather than the working-tree path
  hack/verify-supply-chain/main.go
  hack/verify-supply-chain/main_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs: add docs for local grafana development
  docs/grafana-dashboards.md
  docs/sre/hcp-metrics.md
  observability/grafana-dashboards/sre/cluster-health/README.md
Due: none

test: e2e y-stream upgrade still completes when dataplane is degraded
  test/e2e/control_plane_minor_upgrade_blocked_pod_creation.go
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_dev_cd_check_paralleldev_cd_check_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
  test/util/verifiers/pod_admission.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add Ingress Availability and Latency SLI/SLO recording rules and alerts (ARO-25969)
  observability/alerts-rp-hcps.yaml
  observability/alerts/ingress-availability-slo-prometheusRule.yaml
  observability/alerts/ingress-availability-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat: add Ingress Latency burn-rate alerts (ARO-25969)
  observability/alerts/ingress-availability-slo-prometheusRule.yaml
  observability/alerts/ingress-availability-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: use windowed error rates and volume floors for ingress burn-rate alerts
  dev-infrastructure/modules/metrics/rules/generatedHCPRecordingRules.bicep
  observability/alerts/ingress-availability-slo-prometheusRule.yaml
  observability/alerts/ingress-availability-slo-prometheusRule_test.yaml
  observability/recording-rules/ingress-availability-slo-recordingRule.yaml
  observability/recording-rules/ingress-availability-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

chore: rebase onto main, drop reverted etcd alert registration
  dev-infrastructure/modules/metrics/rules/generatedHCPRecordingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPHCPPrometheusAlertingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

fix: true MWMBR pairing, absent alert, naming, and correlationId per review
  dev-infrastructure/modules/metrics/rules/generatedHCPRecordingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPHCPPrometheusAlertingRules.bicep
  observability/alerts/ingress-availability-slo-prometheusRule.yaml
  observability/alerts/ingress-availability-slo-prometheusRule_test.yaml
  observability/recording-rules/ingress-availability-slo-recordingRule.yaml
  observability/recording-rules/ingress-availability-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat: add SVC certificate health dashboard
  observability/grafana-dashboards/infra-dashboards/certificate-rotation.json
Due: e2e-parallel, ci/prow/e2e-parallel

refactor(backend): CSStateDump reads cluster and node pools from listers
  backend/pkg/controllers/datadump/cs_state_dump.go
  backend/pkg/controllers/datadump/cs_state_dump_test.go
  backend/pkg/controllers/datadump/registration.go
  docs/cosmos-data-flow.md
Due: e2e-parallel, ci/prow/e2e-parallel

feat(observability): add cluster-autoscaler SLO rules and dashboard
  dev-infrastructure/modules/metrics/rules/generatedHCPRecordingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPHCPPrometheusAlertingRules.bicep
  observability/alerts-rp-hcps.yaml
  observability/alerts/cluster-autoscaler-slo-prometheusRule.yaml
  observability/alerts/cluster-autoscaler-slo-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-autoscaler-slo.json
  observability/recording-rules-hcps.yaml
  observability/recording-rules/cluster-autoscaler-slo-recordingRule.yaml
  observability/recording-rules/cluster-autoscaler-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix(backend): label CSStateDump read errors as informer cache, not cosmos
  backend/pkg/controllers/datadump/cs_state_dump.go
Due: e2e-parallel, ci/prow/e2e-parallel

POC : feat(backend): add ExternalAuthAvailableController to surface OIDC client availability
  backend/pkg/controllers/externalauth/status/externalauth_available_controller.go
  backend/pkg/controllers/externalauth/status/externalauth_available_controller_test.go
  internal/api/coreapi/externalauth_conditions.go
  internal/api/coreapi/types_externalauth.go
Due: e2e-parallel, ci/prow/e2e-parallel

introduce ServiceProviderExternalAuth resource and status aggregation
  backend/pkg/controllers/externalauth/creation/create_service_provider_externalauth_controller.go
  backend/pkg/controllers/externalauth/creation/create_service_provider_externalauth_controller_test.go
  backend/pkg/controllers/externalauth/status/externalauth_available_controller.go
  backend/pkg/controllers/externalauth/status/externalauth_available_controller_test.go
  backend/pkg/controllers/externalauth/status/externalauth_userfacing_aggregator.go
  backend/pkg/utils/controllerutils/external_auth_watching_controller.go
  internal/api/coreapi/externalauth_conditions.go
  internal/api/coreapi/registry.go
  internal/api/coreapi/types_externalauth.go
  internal/api/coreapi/types_runtime.go
  internal/api/coreapi/types_serviceprovider_externalauth.go
  internal/api/coreapi/zz_generated.deepcopy.go
  internal/apihelpers/coreapihelpers/types_cosmosdata.go
  internal/database/cosmosstorage/corecosmosstorage/database.go
  internal/database/cosmosstorage/corecosmosstorage/global_lister.go
  internal/database/cosmosstorage/corecosmosstorage/service_provider_externalauth.go
  internal/database/cosmosstoragetesting/corecosmosstoragetesting/mock_init.go
  internal/database/cosmosstoragetesting/corecosmosstoragetesting/mock_resources_crud.go
  internal/database/cosmosstoragetesting/corecosmosstoragetesting/mock_resources_db_client.go
  internal/database/cosmosstoragetesting/corecosmosstoragetesting/mock_resources_global_lister.go
  internal/database/informers/coreinformers/informers.go
  internal/database/informers/coreinformers/types.go
  internal/database/listers/corelisters/service_provider_externalauth_lister.go
  internal/database/listertesting/corelistertesting/db_listers.go
  internal/database/listertesting/corelistertesting/helpers.go
  internal/database/listertesting/corelistertesting/slice_listers.go
Due: e2e-parallel, ci/prow/e2e-parallel

Add changes as per alignment from arch discussion and e2e
  backend/pkg/controllers/externalauth/creation/create_service_provider_externalauth_controller.go
  backend/pkg/controllers/externalauth/creation/create_service_provider_externalauth_controller_test.go
  backend/pkg/controllers/externalauth/status/externalauth_available_controller.go
  backend/pkg/controllers/externalauth/status/externalauth_available_controller_test.go
  backend/pkg/controllers/externalauth/status/externalauth_userfacing_conditions_aggregator.go
  backend/pkg/controllers/externalauth/status/externalauth_userfacing_conditions_aggregator_test.go
  internal/api/coreapi/externalauth_conditions.go
  internal/api/coreapi/types_externalauth.go
  internal/database/cosmosstorage/corecosmosstorage/database.go
  internal/database/cosmosstoragetesting/corecosmosstoragetesting/mock_resources_db_client.go
  internal/database/informers/coreinformers/informers.go
  internal/database/listers/corelisters/service_provider_externalauth_lister.go
  internal/database/listertesting/corelistertesting/db_listers.go
  internal/database/listertesting/corelistertesting/slice_listers.go
  test/e2e/external_auth_create.go
Due: e2e-parallel, ci/prow/e2e-parallel

chore: DO NOT MERGE - override CS image to MR-426 build for e2e validation
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_azuredb.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_containerdb.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_distinct_arm_helper.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_shared_arm_helper.yaml
  cluster-service/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_cluster_service.yaml
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

docs(ci): explain per-region PROD gate suite caps (AROSLSRE-2285)
  docs/ci/README.md
  docs/ci/ev2-integration.md
Due: none

chore(hypershiftoperator): trim HCP metricsSet to consumed metrics
  hypershiftoperator/deploy/templates/sre-metrics-set.configmap.yaml
  hypershiftoperator/testdata/zz_fixture_TestHelmTemplate_hypershift_performance_metrics.yaml
  hypershiftoperator/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_hypershift.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix(observability): suppress HCP KAS availability burn alerts on stuck deleting clusters
  dev-infrastructure/modules/metrics/rules/generatedHCPRecordingRules.bicep
  observability/alerts/HCPkasRecord-prometheusRule-KSM.yaml
  observability/alerts/HCPkasRecord-prometheusRule-KSM_test.yaml
  observability/alerts/UserJourneyKubeApiserverAvailabilityMonitor-prometheusRule-KSM.yaml
  observability/alerts/UserJourneyKubeApiserverAvailabilityMonitor-prometheusRule-KSM_test.yaml
  observability/alerts/UserJourneyKubeApiserverAvailabilityRecord-prometheusRule-KSM.yaml
  observability/alerts/UserJourneyKubeApiserverAvailabilityRecord-prometheusRule-KSM_test.yaml
  observability/prometheus/values-mgmt.yaml
  tooling/prometheus-rules/internal/generator.go
  tooling/prometheus-rules/internal/generator_test.go
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat(observability): Regenerated helm to include "deleting" metric
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_arohcp_monitor.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources_unset.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

Add 3-day SLIs for deleting cluster in Prometheus rules
  observability/alerts/HCPkasRecord-prometheusRule-KSM_test.yaml
  tooling/prometheus-rules/internal/generator.go
  tooling/prometheus-rules/internal/generator_test.go
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: Address bug found by copilot wherein deletion filter suppresses healthy clusters and disables KAS SLIs
  dev-infrastructure/modules/metrics/rules/generatedHCPRecordingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPHCPPrometheusAlertingRules.bicep
  observability/alerts/HCPkasRecord-prometheusRule-KSM.yaml
  observability/alerts/HCPkasRecord-prometheusRule-KSM_test.yaml
  observability/alerts/UserJourneyKubeApiserverAvailabilityMonitor-prometheusRule-KSM_test.yaml
  observability/alerts/UserJourneyKubeApiserverAvailabilityRecord-prometheusRule-KSM.yaml
  observability/alerts/UserJourneyKubeApiserverAvailabilityRecord-prometheusRule-KSM_test.yaml
  observability/prometheus/values-mgmt.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: Remove stray leading blank line so copilot does not mistake me as changing recording rule "kas:apiserver_inflight_requests:avg_5m"
  dev-infrastructure/modules/metrics/rules/generatedHCPRecordingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

fix: Regenerate helm fixtures as per repo guidance in CLAUDE.md:225-226
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_arohcp_monitor.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources_unset.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

test(e2e): collect richer cluster fields via v20260901preview SDK
  test/util/framework/rp_resource_collector.go
  test/util/framework/rp_resource_collector_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

test(e2e): use version-free names in RP resource collector
  test/util/framework/rp_resource_collector.go
  test/util/framework/rp_resource_collector_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

chore(hypershiftoperator): broaden HCP metricsSet trim to all zero-consumer families
  hypershiftoperator/deploy/templates/sre-metrics-set.configmap.yaml
  hypershiftoperator/testdata/zz_fixture_TestHelmTemplate_hypershift_performance_metrics.yaml
  hypershiftoperator/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_hypershift.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

feat(swift-recorder): record root link state
  swift-recorder/LOG_RECORDS.md
  swift-recorder/README.md
  swift-recorder/cmd/cmd.go
  swift-recorder/go.mod
  swift-recorder/integration_test.go
  swift-recorder/pkg/capture/capture_linux.go
  swift-recorder/pkg/capture/capture_linux_test.go
  swift-recorder/pkg/netwatch/INTERACTION.md
  swift-recorder/pkg/netwatch/correlation_test.go
  swift-recorder/pkg/netwatch/log.go
  swift-recorder/pkg/netwatch/log_test.go
  swift-recorder/pkg/netwatch/netwatch.go
  swift-recorder/pkg/netwatch/netwatch_test.go
  swift-recorder/pkg/netwatch/observe.go
  swift-recorder/pkg/netwatch/observe_test.go
  swift-recorder/pkg/netwatch/record.go
  swift-recorder/pkg/netwatch/record_test.go
  swift-recorder/pkg/netwatch/recovery_test.go
  swift-recorder/pkg/netwatch/state.go
  swift-recorder/pkg/netwatch/state_test.go
  swift-recorder/pkg/netwatch/testdata/record_change.json
  swift-recorder/pkg/netwatch/testdata/record_departure.json
  swift-recorder/pkg/rtnl/monitor.go
  swift-recorder/pkg/rtnl/rtnl.go
  swift-recorder/pkg/rtnl/rtnl_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix experimental flag
  test/e2e/cluster_create_mi_reuse.go
Due: e2e-parallel, ci/prow/e2e-parallel

test: new negative E2E - reuse managed MIs within cluster
  test/e2e/cluster_create_mi_reuse.go
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_integration_parallelintegration_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_prod_parallelprod_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallelrp_api_compat_all_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_stage_parallelstage_parallel.txt
Due: e2e-parallel, ci/prow/e2e-parallel

mustFilter
  test/cmd/aro-hcp-tests/main.go
Due: e2e-parallel, ci/prow/e2e-parallel

restore temp tag, fix unit test
  internal/validation/cluster_test.go
  test/e2e/cluster_create_mi_reuse.go
Due: e2e-parallel, ci/prow/e2e-parallel

restructure as a positive test case
  test/e2e/cluster_create_mi_reuse.go
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_dev_cd_check_paralleldev_cd_check_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_integration_parallelintegration_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_prod_parallelprod_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallelrp_api_compat_all_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_stage_parallelstage_parallel.txt
Due: e2e-parallel, ci/prow/e2e-parallel
