Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: create-aro-hcp-in-integration, integration-e2e-parallel

ci-operator/config/Azure/ARO-HCP/Azure-ARO-HCP-main.yaml:

binary_build_commands: make -C backend backend
build_root:
  image_stream_tag:
    name: builder
    namespace: ocp
    tag: rhel-9-golang-1.24-openshift-4.20
images:
- dockerfile_literal: |
    FROM src
    RUN cat /etc/dnf/dnf.conf || true
    RUN rpm --import https://packages.microsoft.com/keys/microsoft.asc
    RUN dnf install -y https://packages.microsoft.com/config/rhel/9.0/packages-microsoft-prod.rpm
    RUN ln -s /etc/yum.repos.d/microsoft-prod.repo /etc/yum.repos.art/ci/
    RUN dnf install -y azure-cli libicu
  from: src
  to: src-plus-az
resources:
  '*':
    limits:
      memory: 4Gi
    requests:
      cpu: 100m
      memory: 200Mi
test_binary_build_commands: make test-compile
tests:
- always_run: false
  as: create-aro-hcp-in-integration
  run_if_changed: ^(demo)
  steps:
    env:
      CLUSTER_NAME: premerge-integration-cluster-2
      CUSTOMER_RG_NAME: premerge-integration-customer-rg
      LOCATION: uksouth
      SUBSCRIPTION: ARO SRE Team - INT (EA Subscription 3)
    post:
    - ref: aro-hcp-provision-aro-hcp-gather-extra
    - chain: aro-hcp-provision-teardown-cluster
    test:
    - chain: aro-hcp-provision-create-functional-cluster
- always_run: false
  as: integration-e2e-parallel
  optional: true
  run_if_changed: ^(test|demo)
  steps:
    env:
      ARO_HCP_SUITE_NAME: integration/parallel
      CUSTOMER_SUBSCRIPTION: ARO SRE Team - INT (EA Subscription 3)
      LOCATION: uksouth
    post:
    - ref: aro-hcp-provision-aro-hcp-gather-extra
    test:
    - ref: aro-hcp-tests-run-aro-hcp-tests
zz_generated_metadata:
  branch: main
  org: Azure
  repo: ARO-HCP

add CAA + TXT record to CX parent zone (#2253)
  dev-infrastructure/templates/global-infra.bicep
Due: none

cluster infra
  test/e2e-setup/bicep/demo.bicep
  test/e2e-setup/bicep/infra-only.bicep
  test/e2e-setup/bicep/modules/customer-infra.bicep
  test/e2e-setup/bicep/setup.sh
Due: integration-e2e-parallel

symlink bingo binary basenames (#2270)
  .bingo/Symlinks.mk
  Makefile
  dev-infrastructure/global-pipeline.yaml
Due: none

teardown script
  test/e2e-setup/bicep/teardown.sh
Due: integration-e2e-parallel

added release management group to config
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Due: none

Add required fields to config schema for refresher deploy (#2246)
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Due: none

make materialze
  config/dev.digests.yaml
Due: none

define randomSuffix based on resource group ID
  test/e2e-setup/bicep/modules/cluster.bicep
Due: integration-e2e-parallel

use general variable names
  test/e2e-setup/README.md
  test/e2e-setup/bicep/setup.sh
Due: integration-e2e-parallel

Use context to generate DNS Zone for geneva auth certificates
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
  dev-infrastructure/configurations/mgmt-cluster.tmpl.bicepparam
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Due: none

Simplify schema, use same hostname/san for mgmt and svc
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
  dev-infrastructure/configurations/mgmt-cluster.tmpl.bicepparam
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
Due: none

move svc kv tags to global defaults (#2260)
  config/config.yaml
Due: none

etcd error fix
  demo/bicep/cluster.bicep
  demo/cluster.tmpl.json
  frontend/pkg/frontend/ocm.go
  frontend/pkg/frontend/ocm_test.go
  internal/api/hcpopenshiftcluster.go
Due: create-aro-hcp-in-integration, integration-e2e-parallel

Make AROBit use MSI for MDSD authentication
  arobit/Makefile
  arobit/deploy/templates/_helpers.tpl
  arobit/deploy/templates/forwarder-clusterrole.yaml
  arobit/deploy/templates/forwarder-clusterrolebinding.yaml
  arobit/deploy/templates/forwarder-configmap.yaml
  arobit/deploy/templates/forwarder-daemonset.yaml
  arobit/deploy/templates/forwarder-exporter-configmap.yaml
  arobit/deploy/templates/forwarder-service.yaml
  arobit/deploy/templates/serviceaccount.yaml
  arobit/deploy/values.yaml
  config/config.schema.json
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
  dev-infrastructure/configurations/svc-cluster.tmpl.bicepparam
  dev-infrastructure/global-pipeline.yaml
  dev-infrastructure/svc-pipeline.yaml
  dev-infrastructure/templates/svc-cluster.bicep
Due: none

acm policies required for consuming ingress tls certificate on hosted cluster data plane (#1899)
  acm/deploy/helm/policies/templates/default-ingress-cert.policy.yaml
  acm/deploy/helm/policies/templates/ingress-controller-check.policy.yaml
Due: none

Add roivaz to CODEOWNERS
  CODEOWNERS
Due: none

Add roivaz to CODEOWNERS (#2279)
  CODEOWNERS
Due: none

remove the unused comment
  internal/api/hcpopenshiftcluster.go
Due: none

remove unneccessary comment from Default function
  internal/api/hcpopenshiftcluster.go
Due: none

ensure subscription
  demo/deploy-hcp-bicep.sh
Due: create-aro-hcp-in-integration, integration-e2e-parallel

udpate demo cluster creation bicep module with MI usage (#2274)
  demo/bicep/cluster.bicep
  demo/deploy-hcp-bicep.sh
Due: create-aro-hcp-in-integration, integration-e2e-parallel

In dev this fails
  dev-infrastructure/templates/mgmt-cluster.bicep
Due: none

aro-tools bump
  tooling/pipeline-documentation/go.mod
  tooling/pipeline-documentation/go.sum
  tooling/secret-sync/go.mod
  tooling/secret-sync/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
Due: none

add policy deployment as dedicated step to the ACM pipeline
  acm/deploy.sh
  acm/pipeline.yaml
Due: none

add policy deployment as dedicated step to the ACM pipeline (#2283)
  acm/deploy.sh
  acm/pipeline.yaml
Due: none

frontend: Remove unused "info" make goal
  frontend/Makefile
Due: none

frontend: Makefile variable name cleanups
  frontend/Dockerfile
  frontend/Makefile
Due: none

frontend: Add a "vcs-ref" label to the image
  frontend/Dockerfile
  frontend/Makefile
Due: none

expose nsg and subnet from main infra template, update test to use new template
  test/e2e-setup/bicep/infra-only.bicep
  test/e2e/cluster_lifecycle_test.go
Due: integration-e2e-parallel

backend: Makefile variable name cleanups
  backend/Dockerfile
  backend/Makefile
Due: none

backend: Add a "vcs-ref" label to the image
  backend/Dockerfile
  backend/Makefile
Due: none

make all-tidy
  test/e2e/cluster_lifecycle_test.go
  test/go.mod
Due: integration-e2e-parallel

update monitoring documentation
  docs/monitoring.md
Due: none

Update to use new framework
  test/e2e/cluster_lifecycle_test.go
Due: integration-e2e-parallel

update subscription display name
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Due: none

update tests to work with new demo bicep templates
  test/e2e/cluster_create_missing_info.go
  test/e2e/complete_cluster_create.go
Due: integration-e2e-parallel

ARO-17707 add ClusterImageRegistryProfile to internal/api/hcpopenshiftcluster.go
  internal/api/hcpopenshiftcluster.go
Due: none

ARO-17707 add ClusterImageRegistryProfileState and consts to internal/api/enums.go
  internal/api/enums.go
Due: none
