Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-parallel, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

e2e-parallel:
  always_run: true
  optional: true
  steps:
    cluster_profile: aro-hcp-dev
    env:
      LOCATION: westus3
    workflow: aro-hcp-local-e2e

ci/prow/create-aro-hcp-in-integration:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/create-aro-hcp-in-prod:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/create-aro-hcp-in-stage:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/integration-e2e-parallel:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/prod-e2e-parallel:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

ci/prow/stage-e2e-parallel:
  decorate: true
  labels:
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  optional: true
  spec:
    containers:
    - args:
      - --gcs-upload-secret=/secrets/gcs/service-account.json
      - --image-import-pull-secret=/etc/pull-secret/.dockerconfigjson
  ...

security: bump golang.org/x/crypto from 0.45.0 to 0.46.0
  admin/client/go.mod
  admin/client/go.sum
  admin/server/go.mod
  admin/server/go.sum
  backend/go.mod
  backend/go.sum
  frontend/go.mod
  frontend/go.sum
  internal/go.mod
  internal/go.sum
  test/go.mod
  test/go.sum
  tooling/hcpctl/go.mod
  tooling/hcpctl/go.sum
  tooling/helmtest/go.mod
  tooling/helmtest/go.sum
  tooling/image-updater/go.mod
  tooling/image-updater/go.sum
  tooling/olm-bundle-repkg/go.mod
  tooling/olm-bundle-repkg/go.sum
  tooling/prometheus-rules/go.mod
  tooling/prometheus-rules/go.sum
  tooling/secret-sync/go.mod
  tooling/secret-sync/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

build(deps): bump go.uber.org/mock from 0.5.2 to 0.6.0
  backend/go.mod
  backend/go.sum
  frontend/go.mod
  frontend/go.sum
  internal/go.mod
  internal/go.sum
Due: e2e-parallel

chore: execute image-updater for all components
  config/config.msft.clouds-overlay.yaml
  config/config.yaml
Due: e2e-parallel

chore: render ACM helm-charts
  acm/deploy/helm/multicluster-engine-config/charts/policy/crds/agent.open-cluster-management.io_klusterletaddonconfigs_crd.yaml
  acm/deploy/helm/multicluster-engine-config/charts/policy/values.yaml
  acm/deploy/helm/multicluster-engine-crds/Chart.yaml
  acm/deploy/helm/multicluster-engine/Chart.yaml
  acm/deploy/helm/multicluster-engine/templates/multicluster-engine-operator.deployment.yaml
Due: e2e-parallel

chore: render digests using materialize
  acm/deploy/helm/testdata/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_mce.yaml
  acm/deploy/helm/testdata/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_mce_config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/prow/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Due: e2e-parallel

Automated - Update component image digests
  acm/deploy/helm/multicluster-engine-config/charts/policy/crds/agent.open-cluster-management.io_klusterletaddonconfigs_crd.yaml
Due: e2e-parallel

e2e: add logging of cluster name and resource group on cluster creating using test framework utils
  test/e2e/admin_credential_lifecycle.go
  test/e2e/arm64_nodepool.go
  test/e2e/cluster_create_no_cni.go
  test/e2e/cluster_name_validation.go
  test/e2e/cluster_update.go
  test/e2e/complete_cluster_create.go
  test/e2e/image_registry_cluster_create.go
  test/util/framework/deployment_helper.go
  test/util/framework/hcp_helper.go
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

feat: add Cluster Service logs link to custom-link-tools
  test/cmd/aro-hcp-tests/custom-link-tools/options.go
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

refactor: rename Cluster Service deployment containers for clarity
  cluster-service/helm-charts/cluster-service/templates/deployment.yaml
Due: e2e-parallel

docs: update container name reference in CS values.yaml comments
  cluster-service/helm-charts/cluster-service/values.yaml
Due: e2e-parallel

e2e: add SelfSubjectReview request on admin_credential_lifecycle when both verifying and revoking the admin credential endpoint
  test/e2e/README.md
  test/e2e/admin_credential_lifecycle.go
  test/util/framework/identities_helper.go
  test/util/verifiers/admin.go
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Update typespec to allow properties.version.id to be updatable
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
Due: e2e-parallel

Update generated openapi spec
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2025-12-23-preview/openapi.json
Due: e2e-parallel

Add status sub-model to VersionProfile
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2025-12-23-preview/openapi.json
  internal/api/v20251223preview/generated/models.go
  internal/api/v20251223preview/generated/models_serde.go
Due: e2e-parallel

security: bump js-yaml from 4.1.0 to 4.1.1 in /api
  api/package-lock.json
Due: e2e-parallel

security: fix glob command injection vulnerability in /api
  api/package-lock.json
Due: e2e-parallel

build(deps): bump TypeSpec packages and oav in /api
  api/package-lock.json
  api/package.json
Due: e2e-parallel

build: add --legacy-peer-deps to npm ci commands
  .devcontainer/postCreate.sh
  .github/workflows/api.yml
Due: e2e-parallel

actions(gh): bump actions/checkout from different versions to v6.0.1
  .github/workflows/api.yml
  .github/workflows/aro-hcp-e2e-tests-image.yaml
  .github/workflows/bicep-lint.yml
  .github/workflows/ci-observability.yml
  .github/workflows/ci-yaml.yml
  .github/workflows/config-change-detection.yml
  .github/workflows/environment-infra-cd.yml
  .github/workflows/runbook-cicd.yml
  .github/workflows/services-cd.yml
  .github/workflows/services-ci.yml
  .github/workflows/yaml-lint.yml
Due: e2e-parallel

build(deps): bump Azure SDK azidentity from 1.12.0 to 1.13.0
  admin/client/go.mod
  admin/client/go.sum
  admin/server/go.mod
  admin/server/go.sum
  backend/go.mod
  backend/go.sum
  frontend/go.mod
  frontend/go.sum
  internal/go.mod
  internal/go.sum
  test/go.mod
  test/go.sum
  tooling/hcpctl/go.mod
  tooling/hcpctl/go.sum
  tooling/helmtest/go.mod
  tooling/helmtest/go.sum
  tooling/image-updater/go.mod
  tooling/image-updater/go.sum
  tooling/prometheus-rules/go.mod
  tooling/prometheus-rules/go.sum
  tooling/secret-sync/go.mod
  tooling/secret-sync/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

get consistent BUILD_ID
  config/Makefile
  config/dev.digests.yaml
  config/rendered/dev/prow/westus3.yaml
Due: e2e-parallel

test/util: retry connection failures in dev
  test/go.mod
  test/util/framework/per_invocation_framework.go
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

e2e: move verification into scope and log changes in SSR response
  test/e2e/admin_credential_lifecycle.go
  test/util/verifiers/admin.go
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

rebase and make all tidy
  tooling/image-updater/internal/updater/updater.go
Due: e2e-parallel

make all-tidy
  tooling/image-updater/internal/config/config_test.go
  tooling/image-updater/internal/updater/updater.go
Due: e2e-parallel

Add environment-based promotion to image-updater
  tooling/image-updater/README.md
  tooling/image-updater/config.yaml
  tooling/image-updater/internal/config/config.go
  tooling/image-updater/internal/config/config_test.go
  tooling/image-updater/internal/options/options.go
  tooling/image-updater/internal/options/options_test.go
  tooling/image-updater/internal/updater/updater.go
Due: e2e-parallel

Update env in more digests
  tooling/image-updater/config.yaml
Due: e2e-parallel

combine operation codepaths and align to non-patch methods
  backend/operations_scanner.go
  backend/operations_scanner_test.go
  frontend/test/simulate/utils.go
  internal/database/operation_status.go
Due: e2e-parallel

remove final usages of untyped getResource
  frontend/pkg/frontend/frontend.go
  frontend/pkg/frontend/frontend_test.go
  frontend/pkg/frontend/helpers.go
  frontend/pkg/frontend/helpers_test.go
Due: e2e-parallel

remove unuse methods
  internal/database/database.go
  internal/database/transaction.go
  internal/database/types_operation.go
  internal/database/types_resource.go
  internal/database/types_typeddocument.go
  internal/database/types_typeddocument_test.go
  internal/mocks/dbclient.go
  internal/mocks/dbtransaction.go
Due: e2e-parallel

Ran image-updater for all components
  config/config.msft.clouds-overlay.yaml
  config/config.yaml
Due: e2e-parallel

Automated - Update component image digests
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/prow/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Due: e2e-parallel

Fix name, it appears dots are not allowed
  dev-infrastructure/modules/metrics/rules/generatedHCPPrometheusAlertingRules.bicep
  observability/alerts/mgmt-capacity-prometheusRule.yaml
Due: e2e-parallel

ARO-23202 | Delete 'ci-yaml' Workflow
  .github/workflows/ci-yaml.yml
Due: e2e-parallel

add manual tooling AKS cluster infrastructure
  acrpull/testdata/zz_fixture_TestHelmTemplate_dev_westus3_sre_tooling_acrpull.yaml
  acrpull/testdata/zz_fixture_TestHelmTemplate_sre_tooling_acrpull.yaml
  config/config.schema.json
  config/config.sre-tooling-dev-override.yaml
  config/config.sre-tooling-pers-override.yaml
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/prow/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
  dev-infrastructure/configurations/kusto-sre-tooling-ingest.tmpl.bicepparam
  dev-infrastructure/configurations/output-sre-tooling-cluster.tmpl.bicepparam
  dev-infrastructure/configurations/sre-tooling-cluster.tmpl.bicepparam
  dev-infrastructure/configurations/sre-tooling-infra-lookup.tmpl.bicepparam
  dev-infrastructure/configurations/sre-tooling-infra.tmpl.bicepparam
  dev-infrastructure/sre-tooling-pipeline.yaml
  dev-infrastructure/templates/output-sre-tooling-cluster.bicep
  dev-infrastructure/templates/sre-tooling-cluster.bicep
  dev-infrastructure/templates/sre-tooling-infra-lookup.bicep
  dev-infrastructure/templates/sre-tooling-infra.bicep
  dev-infrastructure/templates/sre-tooling-mgmt-permissions.bicep
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_dev_westus3_sre_tooling_arobit.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_sre_tooling_arobit.yaml
  observability/arobit/values-sre-tooling.yaml
  observability/kube-events/testdata/zz_fixture_TestHelmTemplate_dev_westus3_sre_tooling_kube_events.yaml
  observability/kube-events/testdata/zz_fixture_TestHelmTemplate_sre_tooling_kube_events.yaml
  observability/prometheus/namespace.sre-tooling.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_dev_westus3_sre_tooling_arohcp_monitor.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_sre_tooling_arohcp_monitor.yaml
  observability/prometheus/values-sre-tooling.yaml
  topology.yaml
Due: e2e-parallel

fix unit test case for simpleDefault
  internal/ocm/convert_test.go
Due: e2e-parallel

make cidrblockaccess update mutable
  internal/ocm/convert.go
Due: e2e-parallel

refactor and add unit tests for nodePool Convert
  internal/ocm/convert.go
  internal/ocm/convert_test.go
Due: e2e-parallel

update unit tests to handle autoscaler
  internal/ocm/convert_test.go
Due: e2e-parallel

Added support for kube-API IP Access Control
  demo/README.md
  demo/cluster.tmpl.json
  internal/ocm/convert.go
Due: e2e-parallel, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Path conditions:
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|demo/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitignore|\.gitleaks\.toml|\.golangci\.yml|hack/|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/create-aro-hcp-in-integration: any of: ^(demo)
  ci/prow/create-aro-hcp-in-prod: any of: ^(demo)
  ci/prow/create-aro-hcp-in-stage: any of: ^(demo)
  ci/prow/integration-e2e-parallel: any of: ^(test|demo)
  ci/prow/prod-e2e-parallel: any of: ^(test|demo)
  ci/prow/stage-e2e-parallel: any of: ^(test|demo)
