Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

observability-prometheus:
  steps:
    test:
    - ref: aro-hcp-observability-prometheus

observability-grafana:
  steps:
    test:
    - ref: aro-hcp-observability-grafana

e2e-parallel:
  always_run: true
  steps:
    cluster_profile: aro-hcp-dev
    env:
      LOCATION: westus3
    workflow: aro-hcp-local-e2e

ci/prow/e2e-parallel:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aro-hcp-dev
    ci-operator.openshift.io/cloud-cluster-profile: aro-hcp-dev
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

chore: tidy templatize go.mod
  tooling/templatize/go.mod
Due: e2e-parallel, ci/prow/e2e-parallel

chore: remove unused testing code
  tooling/templatize/pkg/istio/aks.go
  tooling/templatize/pkg/istio/configmap.go
  tooling/templatize/pkg/istio/decide.go
  tooling/templatize/pkg/istio/decide_test.go
  tooling/templatize/pkg/istio/health.go
  tooling/templatize/pkg/istio/health_test.go
  tooling/templatize/pkg/istio/inspect.go
  tooling/templatize/pkg/istio/mesh-config.yaml
  tooling/templatize/pkg/istio/upgrade.go
  tooling/templatize/pkg/istio/upgrade_test.go
  tooling/templatize/pkg/istio/webhooks.go
  tooling/templatize/pkg/istio/webhooks_test.go
  tooling/templatize/pkg/istio/workloads.go
  tooling/templatize/pkg/istio/workloads_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: honour pipeline step timeout for istio-upgrade
  tooling/templatize/pkg/pipeline/istio.go
  tooling/templatize/pkg/pipeline/run.go
  tooling/templatize/pkg/pipeline/run_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add result accounting and SUMMARY to istio-verify-state
  hack/istio-verify-state.sh
Due: e2e-parallel, ci/prow/e2e-parallel

fix: presence+quality checks for shared ConfigMaps in istio-verify
  hack/istio-verify-state.sh
Due: e2e-parallel, ci/prow/e2e-parallel

fix: remove check_connectivity from istio-verify-state
  hack/istio-verify-state.sh
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add (none) sentinels and read-only docs to istio-verify
  hack/istio-verify-state.sh
Due: e2e-parallel, ci/prow/e2e-parallel

fix: presence checks for control planes, deployments, ingress PIP, injection
  hack/istio-verify-state.sh
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add verify-file mode + offline test harness for istio-verify-state
  hack/istio-verify-state.sh
  hack/istio-verify-state_test.sh
  hack/testdata/istio-verify/cm-no-ext-authz.txt
  hack/testdata/istio-verify/happy.txt
  hack/testdata/istio-verify/missing-shared-cm.txt
  hack/testdata/istio-verify/no-ingress-pip.txt
Due: e2e-parallel, ci/prow/e2e-parallel

fix: restore istio shared ConfigMap Helm template so upgrades from main do not prune it
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_istio.yaml
  istio/deploy/templates/istio-shared-configmap.yml
  istio/testdata/zz_fixture_TestHelmTemplate_istio_mise_enabled.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix: update istio to asm-1-29
  config/config-dev-ci.yaml
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

chore: increase timeout to match aro-tools
  dev-infrastructure/svc-pipeline.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

chore: updated schema comment
  config/config.schema.json
Due: e2e-parallel, ci/prow/e2e-parallel

Automated - Update component image digests
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

resolve review comments
  backend/pkg/app/backend.go
  backend/pkg/utils/validationutils/azure_nodepool_customer_nsg_validation.go
  backend/pkg/utils/validationutils/azure_nodepool_nsg_based_required_connectivity_validation.go
  backend/pkg/utils/validationutils/azure_nodepool_nsg_based_required_connectivity_validation_test.go
  backend/pkg/utils/validationutils/nsg_evaluator.go
  backend/pkg/utils/validationutils/nsg_evaluator_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

Replace shuf with RANDOM
  test-integration/hack/start-cosmos-emulator.sh
Due: e2e-parallel, ci/prow/e2e-parallel

docs: simplify DEV region failover SOP
  docs/ci/README.md
  docs/ci/dev-ci-monitoring.md
  docs/ci/dev-region-failover.md
  docs/ci/operations.md
Due: none

observability: Add cluster deletion alerting rules (ARO-26216)
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts-rp-services.yaml
  observability/alerts/HCPClusterDeletion-prometheusRule.yaml
  observability/alerts/HCPClusterDeletion-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-deletion.json
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: address reviewer feedback on cluster deletion SLO alerts
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/HCPClusterDeletion-prometheusRule.yaml
  observability/alerts/HCPClusterDeletion-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-deletion.json
  observability/recording-rules-services.yaml
  observability/recording-rules/cluster-deletion-slo-recordingRule.yaml
  observability/recording-rules/cluster-deletion-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix indentation under prometheusrule
  observability/alerts/cluster-deletion-slo-prometheusRule.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

address review comments on cluster deletion SLO alerts
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts-rp-services.yaml
  observability/alerts/cluster-deletion-slo-prometheusRule.yaml
  observability/alerts/cluster-deletion-slo-prometheusRule_test.yaml
  observability/recording-rules/cluster-deletion-slo-recordingRule.yaml
  observability/recording-rules/cluster-deletion-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: add component label and fix stuck-op summary for cluster deletion alerts
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts/HCPClusterDeletion-prometheusRule.yaml
  observability/alerts/HCPClusterDeletion-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: finalize cluster deletion SLO alerts with fixes
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts/cluster-deletion-slo-prometheusRule.yaml
  observability/alerts/cluster-deletion-slo-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-deletion.json
  observability/recording-rules/cluster-deletion-slo-recordingRule.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

regenerate recording rules Bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add etcd gRPC latency recording rules and MWMBR alerts
  dev-infrastructure/modules/metrics/rules/generatedHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedHCPRecordingRules.bicep
  observability/alerts-sre-hcps.yaml
  observability/alerts/HCPetcd-grpc-latency-prometheusRule.yaml
  observability/alerts/HCPetcd-grpc-latency-prometheusRule_test.yaml
  observability/recording-rules-hcps.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

docs: address failover SOP review
  docs/ci/dev-region-failover.md
Due: none

Calculate latest y-stream OCP version when ARO_HCP_OPENSHIFT_LATEST_Z_STREAM is set to true.
  test/e2e/README.md
  test/util/framework/deployment_params.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: address review comments on Private KAS validation
  internal/validation/validate_cluster.go
Due: e2e-parallel, ci/prow/e2e-parallel

ARO-25472 | Fall back to cluster version for NP CREATE skew validation
  frontend/pkg/frontend/node_pool.go
  internal/admission/admit_nodepool.go
  internal/admission/admit_nodepool_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fixed new review comments
  backend/pkg/app/backend.go
  backend/pkg/utils/validationutils/azure_nodepool_nsg_based_required_connectivity_validation.go
  backend/pkg/utils/validationutils/azure_nodepool_nsg_based_required_connectivity_validation_test.go
  backend/pkg/utils/validationutils/nsg_evaluator.go
  backend/pkg/utils/validationutils/nsg_evaluator_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(mgmt-agent): address capacity reporting PR feedback
  mgmt-agent/go.mod
  mgmt-agent/pkg/apis/capacityreport/v1alpha1/types.go
  mgmt-agent/pkg/apis/capacityreport/v1alpha1/zz_generated.deepcopy.go
  mgmt-agent/pkg/controller/capacityreporting/controller.go
  mgmt-agent/pkg/controller/capacityreporting/controller_test.go
  mgmt-agent/pkg/controller/capacityreporting/testdata/zz_fixture_TestBuildReport_full_report.yaml
  mgmt-agent/pkg/controller/capacityreporting/testdata/zz_fixture_TestBuildReport_multiple_skus.yaml
  mgmt-agent/pkg/controller/capacityreporting/testdata/zz_fixture_TestBuildReport_no_ready_hcps.yaml
  mgmt-agent/pkg/controller/capacityreporting/testdata/zz_fixture_TestBuildReport_swift_nic_in_usage_and_requested.yaml
  mgmt-agent/pkg/controller/capacityreporting/testdata/zz_fixture_TestRetainStatusWithCondition_empty_status_produces_valid_required_fields.yaml
  mgmt-agent/pkg/controller/capacityreporting/testdata/zz_fixture_TestRetainStatusWithCondition_preserves_full_existing_status.yaml
  mgmt-agent/pkg/controller/capacityreporting/testdata/zz_fixture_TestRetainStatusWithCondition_preserves_status_without_optional_fields.yaml
  mgmt-agent/pkg/generated/applyconfiguration/capacityreport/v1alpha1/capacityreportstatus.go
  sessiongate/Makefile
Due: e2e-parallel, ci/prow/e2e-parallel

chore(api): Add @autorest/core to package.json
  api/package-lock.json
  api/package.json
Due: e2e-parallel, ci/prow/e2e-parallel

refactor(api): Use a different comment style for some TypeSpec annotations
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2024-06-10-preview/openapi.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2025-12-23-preview/openapi.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2026-06-30-preview/openapi.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2026-09-01-preview/openapi.json
  internal/azureapi/v20260901preview/generated/models.go
  test/sdk/v20240610preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/models.go
  test/sdk/v20251223preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/models.go
  test/sdk/v20260630preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/models.go
  test/sdk/v20260901preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/models.go
Due: e2e-parallel, ci/prow/e2e-parallel

chore(api): Add service.yaml
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/service.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

refactor(api): Add client.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/client.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/main.tsp
Due: e2e-parallel, ci/prow/e2e-parallel

chore(api): Add 2026-09-01-preview to service.yaml
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/service.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

feat: label kube-applier operation metrics by target GVK
  kube-applier/pkg/app/desire_operation_metrics.go
  observability/grafana-dashboards/kube-applier/kube-applier.json
  observability/observability.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fmt
  mgmt-agent/deploy/templates/capacityreport-crd.yaml
  mgmt-agent/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_mgmt_agent.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
