Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$

feat(maestro): grant fleet controller access and drop legacy registration job
  .yamllint.yml
  maestro/agent/pipeline.yaml
  maestro/agent/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_hcp_underlay_usw3_mgmt_1.yaml
  maestro/registration/deploy/Chart.yaml
  maestro/registration/deploy/templates/registration.job.yaml
  maestro/registration/deploy/templates/script.yaml
  maestro/registration/values.yaml
  maestro/server/deploy/templates/allow-fleet-controller.authorizationpolicy.yaml
  maestro/server/deploy/templates/allow-registration-job-to-maestro.authorizationpolicy.yaml
  maestro/server/values.yaml
  maestro/server/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_maestro_server.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

refactor(ocm): export provision-shard constants and fix provision-shard HREF pattern
  internal/ocm/convert.go
  internal/ocm/convert_test.go
  internal/ocm/internalid.go
  internal/ocm/internalid_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(fleet): wire registration controllers into manager and deployment
  .yamllint.yml
  fleet/cmd/controller/options.go
  fleet/cmd/controller/options_test.go
  fleet/deploy/templates/controller.deployment.yaml
  fleet/pkg/manager/manager.go
  fleet/values.yaml
  fleet/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_fleet.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

feat(cluster-service): move provision-shard registration to fleet; split Makefile
  cluster-service/Deploy.mk
  cluster-service/Env.mk
  cluster-service/Makefile
  cluster-service/helm-charts/cluster-service/templates/istio.yml
  cluster-service/helm-charts/cluster-service/templates/provisioning-shards.secret.yaml
  cluster-service/helm-charts/cluster-service/values.yaml
  cluster-service/pipeline.yaml
  fleet/cmd/register/cmd.go
  fleet/cmd/register/cmd_test.go
  fleet/cmd/register/options.go
  fleet/cmd/register/options_test.go
  fleet/go.mod
Due: e2e-parallel, ci/prow/e2e-parallel

feat(validation): add immutableByReflectOnceSet validator and relax ClusterServiceProvisionShardID
  internal/validation/validate_management_cluster.go
  internal/validation/validate_management_cluster_test.go
  internal/validation/validators.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(fleet): add lifecycle controller
  fleet/pkg/controllers/lifecycle/controller.go
  fleet/pkg/controllers/lifecycle/controller_test.go
  fleet/pkg/manager/manager.go
  internal/api/fleet/types_management_cluster.go
Due: e2e-parallel, ci/prow/e2e-parallel

Automated - Update component image digests
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

Regenerate alert artifacts after PrometheusFailedRate updates.
  dev-infrastructure/modules/metrics/rules/generatedMsftPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  observability/alerts/prometheus-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

Add mixed-schema coverage for PrometheusFailedRate tests.
  observability/alerts/prometheus-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat: declarative CI bot identity management via Bicep + Graph
  config/config-dev-ci.schema.json
  config/config-dev-ci.yaml
  dev-infrastructure/configurations/ci-bot-identity.tmpl.bicepparam
  dev-infrastructure/configurations/ci-bot-rbac-int.tmpl.bicepparam
  dev-infrastructure/configurations/ci-bot-rbac-prod.tmpl.bicepparam
  dev-infrastructure/configurations/ci-bot-rbac-stg.tmpl.bicepparam
  dev-infrastructure/configurations/dev-operator-roles.tmpl.bicepparam
  dev-infrastructure/configurations/e2e-subscription-rbac-assignments.tmpl.bicepparam
  dev-infrastructure/configurations/mock-identity-roles.tmpl.bicepparam
  dev-infrastructure/dev-ci/e2e-subscription-rbac/pipeline.yaml
  dev-infrastructure/modules/entra/app.bicep
  dev-infrastructure/scripts/ci-bot-ensure-secret.sh
  dev-infrastructure/templates/ci-bot-identity.bicep
  dev-infrastructure/templates/ci-bot-rbac-subscription.bicep
  dev-infrastructure/templates/ci-bot-rbac.bicep
  docs/ci/dev-ci-topology.md
  docs/ci/dev-e2e-subscription-onboarding.md
  docs/ci/identity-leasing.md
Due: e2e-parallel, ci/prow/e2e-parallel

Prefer current-schema PrometheusFailedRate math in mixed metrics.
  dev-infrastructure/modules/metrics/rules/generatedMsftPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  observability/alerts/prometheus-prometheusRule.yaml
  observability/alerts/prometheus-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat: Allow node pool to use a different channel group than its cluster
  internal/admission/admit_nodepool.go
  internal/admission/admit_nodepool_test.go
  internal/api/types_nodepool.go
  internal/api/utils.go
  internal/validation/validate_cluster.go
  internal/validation/validate_nodepools.go
  internal/validation/validate_nodepools_comprehensive_test.go
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/allow-creation-when-cluster-and-nodepool-channel-group-different/00-httpCreate-subscription/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/allow-creation-when-cluster-and-nodepool-channel-group-different/00-httpCreate-subscription/subscription.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/allow-creation-when-cluster-and-nodepool-channel-group-different/01-httpCreate-cluster-stable-channel/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/allow-creation-when-cluster-and-nodepool-channel-group-different/01-httpCreate-cluster-stable-channel/cluster.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/allow-creation-when-cluster-and-nodepool-channel-group-different/02-completeOperation-cluster-stable-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/allow-creation-when-cluster-and-nodepool-channel-group-different/03-httpCreate-nodepool-fast-channel/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/allow-creation-when-cluster-and-nodepool-channel-group-different/03-httpCreate-nodepool-fast-channel/nodepool.json
Due: e2e-parallel, ci/prow/e2e-parallel

fix(infra): address Copilot nits — trim numeric envs, ticker poll (AROSLSRE-1136)
  dev-infrastructure/scripts/delete-extra-infra-nodepools/config.go
  dev-infrastructure/scripts/internal/aksnode/node.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(infra): resolve lint/verify/config CI failures (AROSLSRE-1136)
  dev-infrastructure/mgmt-pipeline.yaml
  dev-infrastructure/scripts/delete-extra-infra-nodepools/clients.go
  dev-infrastructure/scripts/delete-extra-infra-nodepools/go.mod
  dev-infrastructure/scripts/delete-extra-infra-nodepools/go.sum
  dev-infrastructure/scripts/internal/go.mod
  dev-infrastructure/scripts/internal/go.sum
  dev-infrastructure/svc-pipeline.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix(infra): never delete all pools — refuse cleanup that leaves zero nodes (AROSLSRE-1136)
  dev-infrastructure/scripts/delete-extra-infra-nodepools/main_test.go
  dev-infrastructure/scripts/delete-extra-infra-nodepools/run.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(infra): resolve region availability zones for pool naming (AROSLSRE-1136)
  dev-infrastructure/scripts/delete-extra-infra-nodepools/main_test.go
  dev-infrastructure/scripts/delete-extra-infra-nodepools/run.go
  dev-infrastructure/scripts/internal/azregions/regions.go
  dev-infrastructure/scripts/internal/azregions/regions_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

Configure new STG e2e sub
  config/config-dev-ci.yaml
  docs/ci/execution.md
  test/e2e-config/e2e-slots.yaml
  tooling/tenant-quota/scripts/manage-service-principals.sh
Due: e2e-parallel, ci/prow/e2e-parallel

Add new INT pool
  test/e2e-config/e2e-slots.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

test: add cross-file recording rule dependency (expected to fail)
  observability/alerts-sre-hcps.yaml
  observability/alerts/fake-alert-prometheusRule.yaml
  observability/alerts/fake-alert-prometheusRule_test.yaml
  observability/alerts/fake-record-prometheusRule.yaml
  observability/alerts/fake-record-prometheusRule_test.yaml
  observability/recording-rules-hcps.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix(aks): upgrade to latest available patch for configured minor (AROSLSRE-1162)
  dev-infrastructure/scripts/upgrade-aks-cluster.sh
Due: e2e-parallel, ci/prow/e2e-parallel

fix(aks): keep version-resolution fallback under set -euo pipefail
  dev-infrastructure/scripts/upgrade-aks-cluster.sh
Due: e2e-parallel, ci/prow/e2e-parallel

Fake bicep alert
  dev-infrastructure/modules/metrics/rules/generatedHCPPrometheusAlertingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

Review fixes
  dev-infrastructure/scripts/ci-bot-ensure-secret.sh
  dev-infrastructure/templates/ci-bot-rbac-subscription.bicep
  dev-infrastructure/templates/ci-bot-rbac.bicep
  docs/ci/dev-ci-topology.md
  docs/ci/execution.md
  test/e2e-config/e2e-slots.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

feat(monitoring): add KAS error budget burn alerts routed to RP ICM
  dev-infrastructure/modules/metrics/rp-hcp-rules.bicep
  dev-infrastructure/modules/metrics/rules/generatedHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedHCPRecordingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedMsftPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/templates/monitoring.bicep
  observability/alerts-rp-hcps.yaml
  observability/alerts/UJKubeApiserverAvailabilityMonitor-prometheusRule-KSM.yaml
  observability/alerts/UJKubeApiserverAvailabilityMonitor-prometheusRule-KSM_test.yaml
  observability/alerts/UJKubeApiserverAvailabilityRecord-prometheusRule-KSM.yaml
  observability/alerts/UJKubeApiserverAvailabilityRecord-prometheusRule-KSM_test.yaml
  observability/recording-rules-hcps.yaml
  tooling/prometheus-rules/Makefile
  tooling/prometheus-rules/internal/generator.go
  tooling/prometheus-rules/testdata/generated.bicep
  tooling/prometheus-rules/testdata/generated_5m.bicep
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat(aks): disable AKS-managed automatic cluster upgrades
  dev-infrastructure/modules/aks-cluster-base.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

feat(aks): upgrade node images from the pipeline (replaces nodeOSUpgradeChannel)
  dev-infrastructure/scripts/upgrade-aks-cluster.sh
Due: e2e-parallel, ci/prow/e2e-parallel

docs(aks): clarify node-image upgrade pairs with disabling auto-upgrade in #5628
  dev-infrastructure/scripts/upgrade-aks-cluster.sh
Due: e2e-parallel, ci/prow/e2e-parallel

docs(ci): document resource provider registration for new dev E2E subs
  docs/ci/dev-e2e-subscription-onboarding.md
Due: none

docs(ci): add quota request, Microsoft.Quota, and tenant-quota monitoring to dev E2E onboarding (ARO-27549)
  docs/ci/dev-e2e-subscription-onboarding.md
Due: none

Adding safeguard for uptime in case of prometheus dead
  dev-infrastructure/modules/metrics/amw-ingestion-alerts.bicep
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  observability/alerts/prometheus-prometheusRule.yaml
  observability/alerts/prometheus-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: narrow gather-observability metric window to test execution
  test/cmd/aro-hcp-tests/gather-observability/options.go
Due: e2e-parallel, ci/prow/e2e-parallel

poc: cluster update based on sha
  backend/pkg/app/backend.go
  backend/pkg/controllers/clusterupdate/cluster_cluster_service_update_dispatch_controller.go
  backend/pkg/controllers/clusterupdate/cluster_cluster_service_update_dispatch_controller_test.go
  backend/pkg/controllers/operationcontrollers/operation_cluster_update.go
  backend/pkg/controllers/operationcontrollers/operation_cluster_update_state_calculation.go
  backend/pkg/controllers/operationcontrollers/operation_cluster_update_state_calculation_test.go
  backend/pkg/controllers/operationcontrollers/operation_cluster_update_test.go
  frontend/pkg/frontend/cluster.go
  internal/api/types_cluster.go
  internal/api/types_serviceprovider_cluster.go
  internal/api/v20240610preview/conversion_fuzz_test.go
  internal/api/v20251223preview/conversion_fuzz_test.go
  internal/ocm/cluster_updatable_config.go
  internal/ocm/cluster_updatable_config_test.go
  internal/ocm/convert.go
Due: e2e-parallel, ci/prow/e2e-parallel

api: make kmsKey.version updatable
  api/package-lock.json
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/HcpCluster.Management/main.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2026-06-30-preview/openapi.json
Due: e2e-parallel, ci/prow/e2e-parallel

cosmos: wire InstanceVersion, require etag on every replace
  backend/pkg/informers/informers_test.go
  frontend/pkg/frontend/frontend.go
  internal/api/arm/types_cosmosdata.go
  internal/api/v20240610preview/conversion_fuzz_test.go
  internal/api/v20251223preview/conversion_fuzz_test.go
  internal/database/crud_fleet_helpers.go
  internal/database/crud_helpers.go
  internal/database/crud_helpers_test.go
  internal/database/crud_kube_applier_helpers.go
  internal/databasetesting/mock_dbclient_test.go
  internal/databasetesting/mock_resources_crud.go
Due: e2e-parallel, ci/prow/e2e-parallel

Rotate slot-manager acquire starting pool
  test/cmd/aro-hcp-tests/slot-manager/DESIGN.md
  test/cmd/aro-hcp-tests/slot-manager/acquire.go
  test/cmd/aro-hcp-tests/slot-manager/acquire_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

Support FIPS mode via feature flags & cluster tags
  internal/admission/admit_cluster.go
  internal/api/featureflags.go
  internal/api/types_experimental.go
  internal/ocm/convert.go
Due: e2e-parallel, ci/prow/e2e-parallel

FIPS via feature flags: tests
  internal/admission/admit_cluster_test.go
  internal/ocm/convert_test.go
Due: e2e-parallel, ci/prow/e2e-parallel
