Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$

test: exercise current rollout writers on legacy documents
  backend/pkg/controllers/cluster/version/rollout/legacy_writers_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(ci): block every tracked file under .vscode/, not four filenames
  hack/verify-supply-chain/main.go
  hack/verify-supply-chain/main_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(ci): block editor workspace files anywhere in the tree
  hack/verify-supply-chain/main.go
  hack/verify-supply-chain/main_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs(ci): move supply-chain check rationale out of main.go
  CONTRIBUTING.md
  docs/README.md
  docs/ci/README.md
  docs/ci/supply-chain-presubmit.md
  hack/verify-supply-chain/main.go
Due: e2e-parallel, ci/prow/e2e-parallel

add mi stage test update micontainers to 1, only one ever used at a time replaced VerifyNodeCount + VerifyNodesReady with verifiers.VerifyNodePoolReadyAndSchedulableNodeCount to account for cordon
  test/e2e/cluster_container_registry.go
Due: e2e-parallel, ci/prow/e2e-parallel

test: bump cs image to trigger E2E for MR 483
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_azuredb.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_containerdb.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_distinct_arm_helper.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_shared_arm_helper.yaml
  cluster-service/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_cluster_service.yaml
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix(observability): update recovery tests for short-window MWMBR conditions
  dev-infrastructure/modules/metrics/rules/generatedDevHcpsPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedDevServicesPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedHCPRecordingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedKustoOnlyHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedKustoOnlyServicePrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedMsftPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/access-cluster-slo-prometheusRule_test.yaml
  observability/alerts/nodepool-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

test: add E2E test for deny assignment allowed customer permissions
  test/e2e/cluster_deny_assignment_permissions.go
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_dev_cd_check_paralleldev_cd_check_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_integration_parallelintegration_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_prod_parallelprod_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallelrp_api_compat_all_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_stage_parallelstage_parallel.txt
Due: e2e-parallel, ci/prow/e2e-parallel

feat(backend): honor backup-schedule-override
  backend/pkg/controllers/cluster/backups/config.go
  backend/pkg/controllers/cluster/backups/config_test.go
  backend/pkg/controllers/cluster/backups/schedule_controller.go
  backend/pkg/controllers/cluster/backups/schedule_controller_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(e2e): remove timebomb from backup tests
  test/e2e/hcp_backups.go
Due: e2e-parallel, ci/prow/e2e-parallel

test(e2e): opt backup spec into active schedules
  test/e2e/hcp_backups.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs(backups): document override precedence
  docs/backups.md
  docs/cosmos-data-flow.md
Due: none

Automated - Update component image digests
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

feat(e2e): add integration/parallel/all combined suite (AROSLSRE-2352)
  test/cmd/aro-hcp-tests/main.go
  test/cmd/aro-hcp-tests/main_test.go
  test/e2e/README.md
Due: e2e-parallel, ci/prow/e2e-parallel

fix(test): regenerate alertdiagnostics corpus for short-window conditions
  test/util/alertdiagnostics/testdata/zz_fixture_TestRepositoryCorpus.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

[DONOTMERGE] Bump CS to validate MR !487
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_azuredb.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_containerdb.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_distinct_arm_helper.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_shared_arm_helper.yaml
  cluster-service/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_cluster_service.yaml
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix(ci): scan only auto-discovered agent config for execution keys
  hack/verify-supply-chain/main.go
  hack/verify-supply-chain/main_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(ci): give remediation per rule instead of one blanket instruction
  hack/verify-supply-chain/main.go
  hack/verify-supply-chain/main_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs(ci): reconcile the documented scope with the implemented rules
  .claude/skills/pr-standards/SKILL.md
  docs/ci/supply-chain-presubmit.md
Due: none

fix(mgmt-agent): watch secret provider and sync resources
  mgmt-agent/pkg/controller/resourcewatcher.go
Due: e2e-parallel, ci/prow/e2e-parallel

test(mgmt-agent): cover explicit secret resource watches
  docs/cosmos-data-flow.md
  mgmt-agent/pkg/controller/resourcewatcher_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(ci): report content findings alongside the path finding
  docs/ci/supply-chain-presubmit.md
  hack/verify-supply-chain/main.go
  hack/verify-supply-chain/main_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs(ci): correct the stated scope of the skills carve-out
  CONTRIBUTING.md
  docs/ci/supply-chain-presubmit.md
Due: none

fix(mgmt-agent): redact secret sync hashes from snapshots
  docs/cosmos-data-flow.md
  mgmt-agent/pkg/controller/resourcewatcher.go
  mgmt-agent/pkg/controller/resourcewatcher_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(ci): cover .copilot and .cursor agent configuration
  .claude/skills/pr-standards/SKILL.md
  CONTRIBUTING.md
  docs/ci/supply-chain-presubmit.md
  hack/verify-supply-chain/main.go
  hack/verify-supply-chain/main_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs: add troubleshooting guide for personal dev env setup
  docs/personal-dev.md
Due: none

test: reduce keep-alive sleep from 2h to 30m
  test/e2e/nodepool_autoscaling.go
Due: e2e-parallel, ci/prow/e2e-parallel

observability: Add cluster deletion alerting rules (ARO-26216)
  observability/alerts-rp-services.yaml
  observability/alerts/HCPClusterDeletion-prometheusRule.yaml
  observability/alerts/HCPClusterDeletion-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-deletion.json
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: address reviewer feedback on cluster deletion SLO alerts
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/HCPClusterDeletion-prometheusRule.yaml
  observability/alerts/HCPClusterDeletion-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-deletion.json
  observability/recording-rules-services.yaml
  observability/recording-rules/cluster-deletion-slo-recordingRule.yaml
  observability/recording-rules/cluster-deletion-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: add component label and fix stuck-op summary for cluster deletion alerts
  observability/alerts/HCPClusterDeletion-prometheusRule.yaml
  observability/alerts/HCPClusterDeletion-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix indentation under prometheusrule
  observability/alerts/cluster-deletion-slo-prometheusRule.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

address review comments on cluster deletion SLO alerts
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/cluster-deletion-slo-prometheusRule.yaml
  observability/alerts/cluster-deletion-slo-prometheusRule_test.yaml
  observability/recording-rules/cluster-deletion-slo-recordingRule.yaml
  observability/recording-rules/cluster-deletion-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: finalize cluster deletion SLO alerts with fixes
  observability/alerts/cluster-deletion-slo-prometheusRule.yaml
  observability/alerts/cluster-deletion-slo-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-deletion.json
  observability/recording-rules/cluster-deletion-slo-recordingRule.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

Fix: Latency, renaming, duplication alert
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/cluster-deletion-slo-prometheusRule.yaml
  observability/alerts/cluster-deletion-slo-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-deletion.json
  observability/recording-rules/cluster-deletion-slo-recordingRule.yaml
  observability/recording-rules/cluster-deletion-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

regenerate recording rules Bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

fix: add prometheus_replica dedup to dashboard absolute-count panels
  observability/grafana-dashboards/sre/user-journey/cluster-deletion.json
Due: e2e-parallel, ci/prow/e2e-parallel

regenerate Bicep alerts and recording rules after rebase
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

rebase fix
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/cluster-deletion-slo-prometheusRule.yaml
  observability/alerts/cluster-deletion-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

added max by function and cleaned the deletion phase
  observability/alerts/cluster-deletion-slo-prometheusRule.yaml
  observability/alerts/cluster-deletion-slo-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-deletion.json
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel
