Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

observability-prometheus:
  steps:
    test:
    - ref: aro-hcp-observability-prometheus

observability-grafana:
  steps:
    test:
    - ref: aro-hcp-observability-grafana

e2e-parallel:
  always_run: true
  steps:
    cluster_profile: aro-hcp-dev
    env:
      LOCATION: westus3
    workflow: aro-hcp-local-e2e

ci/prow/e2e-parallel:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aro-hcp-dev
    ci-operator.openshift.io/cloud-cluster-profile: aro-hcp-dev
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

feat: assign KeyVaultCryptoOfficer role to CI bot
  dev-infrastructure/openshift-ci/grant-openshift-release-bot-dev.sh
  dev-infrastructure/templates/ci-bot-rbac-subscription.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

fix typo
  observability/alerts/leaderelection-prometheusRule.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

for LeaderElectionLeaseStale change threshold to 720 and for: to 25 and update tests and doc accordingly
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  observability/alerts/leaderelection-prometheusRule.yaml
  observability/alerts/leaderelection-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

make sure there's enough samples for the whole tests
  observability/alerts/leaderelection-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix claudes review findings
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  observability/alerts/leaderelection-prometheusRule.yaml
  observability/alerts/leaderelection-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

set explicit non-root RunAsUser
  test/e2e/cluster_pullsecret.go
Due: e2e-parallel, ci/prow/e2e-parallel

address Copilot comments
  test/e2e/cluster_pullsecret.go
Due: e2e-parallel, ci/prow/e2e-parallel

assign mgmt-agent and backend to LeaderElectionLeaseStaleCritical alert
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  observability/alerts/leaderelection-prometheusRule.yaml
  observability/alerts/leaderelection-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

Automated - Update component image digests
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix(e2e): restrict VM SKU fallbacks to RP-allowlisted instance types
  test/util/framework/vm_sku_selection.go
Due: e2e-parallel, ci/prow/e2e-parallel

Use namespace that is not excluded for test "LeaderElectionLeaseStale does not fire when lease is renewed every minute"
  observability/alerts/leaderelection-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

add documentation for developing and testing alerts
  docs/alert-verification.md
  docs/alerts.md
Due: none

feat(observability): add Kusto-only alert lanes
  dev-infrastructure/modules/metrics/kusto-hcp-rules.bicep
  dev-infrastructure/modules/metrics/kusto-service-rules.bicep
  dev-infrastructure/modules/metrics/rules/generatedKustoOnlyHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedKustoOnlyServicePrometheusAlertingRules.bicep
  dev-infrastructure/templates/monitoring.bicep
  observability/alerts-kusto-hcps.yaml
  observability/alerts-kusto-services.yaml
  tooling/prometheus-rules/Makefile
Due: e2e-parallel, ci/prow/e2e-parallel

refactor(observability): move svc kube alerts to Kusto-only lane
  dev-infrastructure/modules/metrics/rules/generatedKustoOnlyServicePrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedSvcKubePrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/svc-kube-rules.bicep
  dev-infrastructure/templates/monitoring.bicep
  observability/alerts-kusto-services.yaml
  observability/alerts-sl-svc-kube.yaml
  tooling/prometheus-rules/Makefile
Due: e2e-parallel, ci/prow/e2e-parallel

fix(observability): alert on old prod e2e clusters
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  observability/alerts/hcp-test-clusters-prometheusRule.yaml
  observability/alerts/hcp-test-clusters-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

Add GRPC operation metrics panels to Maestro dashboard
  observability/grafana-dashboards/maestro/maestro-server.json
Due: e2e-parallel, ci/prow/e2e-parallel

update dependencies for cosmos changefeeds
  admin/server/go.mod
  admin/server/go.sum
  backend/go.mod
  backend/go.sum
  fleet/go.mod
  fleet/go.sum
  frontend/go.mod
  frontend/go.sum
  internal/go.mod
  internal/go.sum
  kube-applier/go.mod
  kube-applier/go.sum
  mgmt-agent/go.sum
  sessiongate/go.sum
  test-integration/go.mod
  test-integration/go.sum
  test/go.mod
  test/go.sum
  tooling/cleanup-sweeper/go.sum
Due: e2e-parallel, ci/prow/e2e-parallel

prevent panics in nodepool version controllers
  internal/validation/validators.go
Due: e2e-parallel, ci/prow/e2e-parallel

ignore not found errors for condition aggregation.
  backend/pkg/controllers/statuscontrollers/cluster_degraded_aggregator.go
  backend/pkg/controllers/statuscontrollers/externalauth_degraded_aggregator.go
  backend/pkg/controllers/statuscontrollers/nodepool_degraded_aggregator.go
Due: e2e-parallel, ci/prow/e2e-parallel

remove active operations when they're no longer active
  backend/pkg/informers/informers.go
  internal/database/informers/changefeed_list_watch.go
  test-integration/backend/changefeed/changefeed_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

Wire changefeed support into our informers and controllers
  backend/pkg/app/backend.go
  backend/pkg/informers/informers.go
  backend/pkg/informers/informers_test.go
  backend/pkg/informers/types.go
  fleet/pkg/controllers/base/stamp_watching_controller.go
  frontend/pkg/frontend/cluster.go
  frontend/pkg/frontend/external_auth.go
  frontend/pkg/frontend/node_pool.go
  internal/database/database.go
  internal/database/informers/changefeed_list_watch.go
  internal/database/informers/fleet_informers.go
  internal/database/informers/informers.go
  internal/database/informers/informers_test.go
  internal/database/informers/types.go
  internal/database/kube_applier_client.go
  internal/database/unioninformers/kubeapplier/controller_test.go
  internal/database/unioninformers/kubeapplier/factory.go
  internal/database/unioninformers/kubeapplier/union_informers_test.go
  internal/databasetesting/mock_kube_applier_client.go
  internal/databasetesting/mock_resources_db_client.go
  internal/utils/context.go
  kube-applier/cmd/root.go
  kube-applier/pkg/app/cosmos_wiring.go
  kube-applier/pkg/app/kube_applier.go
  kube-applier/pkg/controllers/read_desire_kubernetes/controller.go
  test-integration/backend/controllers/mismatches/delete_orphaned_cosmos_test.go
  test-integration/backend/launch/notification_test.go
  test-integration/backend/unionkubeapplierinformers/integration_test.go
  test-integration/frontend/informer_test.go
  test-integration/kube-applier/framework/framework.go
Due: e2e-parallel, ci/prow/e2e-parallel

ignore cluster-service down when triggered without object to work on
  backend/pkg/controllers/mismatchcontrollers/cluster_service_cluster_matching.go
Due: e2e-parallel, ci/prow/e2e-parallel

Add fake resourceversion
  internal/api/arm/types_runtime.go
  internal/api/fleet/types_runtime.go
  internal/api/kubeapplier/types_runtime.go
  internal/api/types_runtime.go
Due: e2e-parallel, ci/prow/e2e-parallel

update datadump to use the changefeed input
  internal/database/informers/changefeed_list_watch.go
  internal/databasetesting/mock_resources_changefeed.go
  test-integration/backend/changefeed/changefeed_test.go
  tooling/hcpctl/cmd/datadump-to-git/cmd.go
Due: e2e-parallel, ci/prow/e2e-parallel

comments on changefeed
  backend/pkg/informers/informers.go
  internal/controllerutils/cooldown.go
  internal/database/informers/changefeed_list_watch.go
Due: e2e-parallel, ci/prow/e2e-parallel

Stop using ACM to watch the IngressController
  acm/deploy/helm/policies/templates/ingress-controller-check.policy.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

Expose IngressController metrics via per-HCP kube-state-metrics
  mgmt-agent/cmd/options.go
  mgmt-agent/deploy/templates/clusterrole.yaml
  mgmt-agent/pkg/controller/ksmhcp/controller.go
  mgmt-agent/pkg/controller/ksmhcp/controller_test.go
  mgmt-agent/pkg/controller/ksmhcp/resources.go
  mgmt-agent/pkg/controller/ksmhcp/testdata/zz_fixture_TestBuildConfigMap.yaml
  mgmt-agent/pkg/controller/ksmhcp/testdata/zz_fixture_TestBuildDeployment.yaml
  mgmt-agent/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_mgmt_agent.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

Update ingress serving cert injection so it will orphan
  acm/deploy/helm/policies/templates/default-ingress-cert.policy.yaml
  acm/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_policy.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

chore: update mgmt fixes helm fixture
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_mgmt_fixes.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add maestro server queue alerts and panels
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  maestro/alerts/maestro-prometheusRule.yaml
  maestro/alerts/maestro-prometheusRule_test.yaml
  observability/grafana-dashboards/maestro/maestro-server.json
Due: e2e-parallel, ci/prow/e2e-parallel

fix(mgmt-agent): correctly place podwatcher to always run regardless if ksm is enabled
  mgmt-agent/cmd/options.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: make frontend cluster create idempotent to prevent CS duplicate collisions
  backend/pkg/controllers/clustercreation/cluster_cluster_service_create_controller.go
  backend/pkg/controllers/clustercreation/cluster_cluster_service_create_controller_test.go
  frontend/pkg/frontend/cluster.go
  internal/ocm/client.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(observability): address Copilot feedback on CI monitoring implementation
  dev-infrastructure/configurations/ci-monitoring.tmpl.bicepparam
  observability/observability.yaml
  observability/prometheus/deploy/templates/prometheus.yaml
  observability/prometheus/testdata/helmtest_ci.yml
  observability/prometheus/values-ci.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix(observability): address additional Copilot feedback on CI monitoring
  dev-infrastructure/global-pipeline.yaml
  observability/prometheus/deploy/templates/prometheus.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

Potential fix for pull request finding
  mgmt-fixes/kubelet-ds.values.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

Potential fix for pull request finding
  mgmt-fixes/deploy/kubelet-ds/templates/ds-kubelet-parameters.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

e2e: use delta-only logging in all polling loops, remove event dumps
  test/e2e/cluster_authorized_cidrs_connectivity.go
  test/e2e/cluster_delayed_role_assignments.go
  test/e2e/external_auth_create.go
  test/util/verifiers/cilium.go
  test/util/verifiers/clusteroperator.go
Due: e2e-parallel, ci/prow/e2e-parallel

backend: add alerting for stuck async operations
  backend/alerts/backend-async-operations-prometheusRule.yaml
  backend/alerts/backend-async-operations-prometheusRule_test.yaml
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  observability/alerts-sl-services.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

chore: update cluster deletion time for int p99
  test/util/framework/constants.go
Due: e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
