Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$

fix(helmtest): improve error messages and test reliability
  tooling/helmtest/settings.yaml
  tooling/helmtest/testrunner/policy_checks.go
  tooling/helmtest/testrunner/policy_checks_test.go
  tooling/helmtest/testrunner/test_runner.go
Due: e2e-parallel, ci/prow/e2e-parallel

regenerate Bicep after rebase onto latest main
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

regenerate Bicep after rebase onto latest main
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

regenerate Bicep after rebase onto latest main
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

fix(helmtest): correct allowlist patterns to match actual resources
  tooling/helmtest/settings.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix(helmtest): reduce comment alignment spacing in policy_checks_test.go
  tooling/helmtest/testrunner/policy_checks_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(observability): spread PrometheusAgent replicas per-shard
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_arohcp_monitor.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_arohcp_monitor.yaml
  observability/prometheus/deploy/templates/prometheus.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources_unset.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_svc_resources.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_svc_resources_unset.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

Add alerts for dead prometheus or missing data samples
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  observability/alerts/prometheus-prometheusRule.yaml
  observability/alerts/prometheus-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat(observability): remove HCPClusterVersionUnhealthy alert
  dev-infrastructure/modules/metrics/rules/generatedHCPPrometheusAlertingRules.bicep
  observability/alerts-sre-hcps.yaml
  observability/alerts/HCPclusterHealth-prometheusRule.yaml
  observability/alerts/HCPclusterHealth-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat: add alerts-sl-hcps.yaml config for SL alerts on HCP workspace
  dev-infrastructure/modules/metrics/rules/generatedSLHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/sl-hcp-rules.bicep
  dev-infrastructure/templates/monitoring.bicep
  observability/alerts-sl-hcps.yaml
  tooling/prometheus-rules/Makefile
Due: e2e-parallel, ci/prow/e2e-parallel

feat(observability): add HCP cluster operator health alerts
  dev-infrastructure/modules/metrics/rules/generatedHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedSLHCPPrometheusAlertingRules.bicep
  observability/alerts-sl-hcps.yaml
  observability/alerts/HCPclusterOperators-prometheusRule.yaml
  observability/alerts/HCPclusterOperators-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

docs: add hcp-cluster-operators alert documentation
  docs/alerts/hcp-cluster-operators.md
Due: none

feat(observability): temporarily reduce HCPClusterOperatorUnavailable to SEV 3
  dev-infrastructure/modules/metrics/rules/generatedSLHCPPrometheusAlertingRules.bicep
  docs/alerts/hcp-cluster-operators.md
  observability/alerts/HCPclusterOperators-prometheusRule.yaml
  observability/alerts/HCPclusterOperators-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

Revert "fix: apply cs-keyvault SecretProviderClass as pre-upgrade hook - to make personal dev env creation work with azuredb"
  cluster-service/deploy/templates/cs-keyvault.secret.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_azuredb.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_containerdb.yaml
  cluster-service/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_cluster_service.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

Revert "add tenantId as annotaion (potential bug fix for cs nil pointer)"
  cluster-service/deploy/templates/serviceaccount.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_azuredb.yaml
  cluster-service/testdata/zz_fixture_TestHelmTemplate_cs_containerdb.yaml
  cluster-service/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_cluster_service.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

Bump limit for svc/systemdlogs
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  observability/alerts/kusto-logs-age-prometheusRule.yaml
  observability/alerts/kusto-logs-age-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

include label for desire type in description
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  kube-applier/alerts/kube-applier-prometheusRule.yaml
  kube-applier/alerts/kube-applier-prometheusRule_test.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

make summaries more verbose
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  kube-applier/alerts/kube-applier-prometheusRule.yaml
  kube-applier/alerts/kube-applier-prometheusRule_test.yaml
  observability/alerts/leaderelection-prometheusRule.yaml
  observability/alerts/leaderelection-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

Update ARO Tools dependencies
  test/go.mod
  test/go.sum
  tooling/grafanactl/go.mod
  tooling/grafanactl/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
Due: e2e-parallel, ci/prow/e2e-parallel

feat: option to use latest ACR images for personal-dev-env
  Makefile
  admin/Makefile
  backend/Makefile
  fleet/Makefile
  frontend/Makefile
  hack/record-latest-image-override.sh
  kube-applier/Makefile
  mgmt-agent/Makefile
  sessiongate/Makefile
Due: e2e-parallel, ci/prow/e2e-parallel

Fix format
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

add title with helpful details
  kube-applier/alerts/kube-applier-prometheusRule.yaml
  kube-applier/alerts/kube-applier-prometheusRule_test.yaml
  observability/alerts/leaderelection-prometheusRule.yaml
  observability/alerts/leaderelection-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

add alert for crashlooping pods
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  observability/alerts-sl-services.yaml
  observability/alerts/crashlooping-services-prometheusRule.yaml
  observability/alerts/crashlooping-services-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

Update docs
  docs/pipelines.md
Due: none

api: make kmsKey.version updatable
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2026-06-30-preview/openapi.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2025-12-23-preview/openapi.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2026-06-30-preview/openapi.json
  internal/api/v20260630preview/generated/models.go
  internal/api/v20260630preview/generated/models_serde.go
  test/sdk/v20260630preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/models.go
  test/sdk/v20260630preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/models_serde.go
Due: e2e-parallel, ci/prow/e2e-parallel

change lease selection to opt-out
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  observability/alerts/leaderelection-prometheusRule.yaml
  observability/alerts/leaderelection-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix(observability): lower Prometheus remote-write batchSendDeadline
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_arohcp_monitor.yaml
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_arohcp_monitor.yaml
  observability/prometheus/deploy/templates/prometheus.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources_unset.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_svc_resources.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_svc_resources_unset.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

use opt-out for crash looping pods alert
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  observability/alerts/crashlooping-services-prometheusRule.yaml
  observability/alerts/crashlooping-services-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

reduce unnecessary alert firings: only fire when the lease renewal takes longer than 300s for 10 mins
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  observability/alerts/leaderelection-prometheusRule.yaml
  observability/alerts/leaderelection-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

Enable the 2 new PROD pools for e2e
  test/e2e-config/e2e-slots.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

feat(templatize): enforce simple field access in bicepparam templates
  Makefile
  mgmt-agent/go.mod
  mgmt-agent/go.sum
  test/go.mod
  test/go.sum
  tooling/grafanactl/go.mod
  tooling/grafanactl/go.sum
  tooling/hcpctl/go.mod
  tooling/hcpctl/go.sum
  tooling/helmtest/go.mod
  tooling/helmtest/go.sum
  tooling/pipeline-documentation/go.mod
  tooling/pipeline-documentation/go.sum
  tooling/secret-sync/go.mod
  tooling/secret-sync/go.sum
  tooling/templatize/cmd/entrypoint/run/options.go
  tooling/templatize/cmd/pipeline/run/options.go
  tooling/templatize/cmd/pipeline/validate/bicepparam.go
  tooling/templatize/cmd/pipeline/validate/bicepparam_test.go
  tooling/templatize/cmd/pipeline/validate/cmd.go
  tooling/templatize/cmd/pipeline/validate/testdata/svc-a/network.tmpl.bicepparam
  tooling/templatize/cmd/pipeline/validate/testdata/svc-a/pipeline.yaml
  tooling/templatize/cmd/pipeline/validate/testdata/svc-b/cluster.tmpl.bicepparam
  tooling/templatize/cmd/pipeline/validate/testdata/svc-b/pipeline.yaml
  tooling/templatize/cmd/pipeline/validate/testdata/svc-c/pipeline.yaml
  tooling/templatize/cmd/pipeline/validate/testdata/svc-invalid/invalid.tmpl.bicepparam
  tooling/templatize/cmd/pipeline/validate/testdata/svc-invalid/pipeline.yaml
  tooling/templatize/cmd/pipeline/validate/testdata/topology-invalid.yaml
  tooling/templatize/cmd/pipeline/validate/testdata/topology.yaml
  tooling/templatize/go.mod
  tooling/templatize/go.sum
  tooling/templatize/pkg/pipeline/arm.go
  tooling/templatize/pkg/pipeline/arm_stack.go
  tooling/templatize/pkg/pipeline/bicep.go
  tooling/templatize/pkg/pipeline/run.go
  tooling/yamlwrap/go.mod
  tooling/yamlwrap/go.sum
Due: e2e-parallel, ci/prow/e2e-parallel

Revert "Merge pull request #5858 from miguelsorianod/reintroduce-backendnodepoolcreate-async-disabled"
  backend/pkg/app/backend.go
  backend/pkg/controllers/nodepoolcreationcontrollers/node_pool_cluster_service_create_controller.go
  backend/pkg/controllers/nodepoolcreationcontrollers/node_pool_cluster_service_create_controller_test.go
  backend/pkg/controllers/operationcontrollers/operation_node_pool_create.go
  backend/pkg/controllers/operationcontrollers/operation_node_pool_create_test.go
  backend/pkg/controllers/operationcontrollers/test_helpers_test.go
  backend/pkg/controllers/operationcontrollers/utils.go
Due: e2e-parallel, ci/prow/e2e-parallel

refactor(infra): drop redundant inline Swift VNet RBAC from vnet module (ARO-28045)
  dev-infrastructure/modules/network/vnet.bicep
  dev-infrastructure/templates/mgmt-cluster.bicep
  dev-infrastructure/templates/opstool-cluster.bicep
  dev-infrastructure/templates/svc-cluster.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

fix(infra): create/tag Swift VNet via a managed-identity container (ARO-28045)
  dev-infrastructure/configurations/swift-vnet-permissions.tmpl.bicepparam
  dev-infrastructure/mgmt-pipeline.yaml
  dev-infrastructure/mgmt-solo-pipeline.yaml
  dev-infrastructure/modules/network/vnet-rbac.bicep
  dev-infrastructure/modules/network/vnet.bicep
  dev-infrastructure/scripts/swift-vnet.sh
  dev-infrastructure/templates/swift-vnet-permissions.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

Reduce to only one alert
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  observability/alerts/kusto-logs-age-prometheusRule.yaml
  observability/alerts/kusto-logs-age-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

reapply "Merge pull request #5874 from miguelsorianod/revert-mr-5858"
  backend/pkg/app/backend.go
  backend/pkg/controllers/nodepoolcreationcontrollers/node_pool_cluster_service_create_controller.go
  backend/pkg/controllers/nodepoolcreationcontrollers/node_pool_cluster_service_create_controller_test.go
  backend/pkg/controllers/operationcontrollers/operation_node_pool_create.go
  backend/pkg/controllers/operationcontrollers/operation_node_pool_create_test.go
  backend/pkg/controllers/operationcontrollers/test_helpers_test.go
  backend/pkg/controllers/operationcontrollers/utils.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: recognize transactional batch step errors in IsPreconditionFailedError
  backend/pkg/controllers/operationcontrollers/operation_node_pool_create_test.go
  internal/database/database.go
  internal/database/errors.go
  internal/database/errors_test.go
  internal/database/transaction.go
  internal/databasetesting/mock_resources_db_client.go
Due: e2e-parallel, ci/prow/e2e-parallel

Validate control plane operators permissions on user provided infra
  backend/cmd/root.go
  backend/go.mod
  backend/go.sum
  backend/pkg/app/backend.go
  backend/pkg/app/backend_test.go
  backend/pkg/azure/azurehelpers/role_definitions.go
  backend/pkg/azure/azurehelpers/role_definitions_test.go
  backend/pkg/azure/cachedreader/mock_role_definitions_cached_reader.go
  backend/pkg/azure/cachedreader/role_definitions.go
  backend/pkg/azure/client/check_access_v2_client.go
  backend/pkg/azure/client/check_access_v2_client_builder.go
  backend/pkg/azure/client/mi_dataplane_based_identity_access_token_retriever.go
  backend/pkg/azure/client/mock_check_access_v2_client.go
  backend/pkg/azure/client/mock_check_access_v2_client_builder.go
  backend/pkg/azure/client/mock_mi_dataplane_based_identity_access_token_retriever.go
  backend/pkg/azure/client/mock_smi_client_builder.go
  backend/pkg/azure/client/mock_subnets_client.go
  backend/pkg/azure/client/smi_client_builder.go
  backend/pkg/azure/client/subnets_client.go
  backend/pkg/controllers/validationcontrollers/validations/control_plane_identities_permissions_cluster_validation.go
  backend/pkg/controllers/validationcontrollers/validations/control_plane_identities_permissions_cluster_validation_test.go
  backend/pkg/controllers/validationcontrollers/validations/identity_authorization_result.go
  test-integration/backend/launch/metrics_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

Migrate remaining Key Vault access policy patterns to RBAC
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/hcpCluster-models.tsp
  dev-infrastructure/modules/oidc/global/frontdoor-keyvault.bicep
  dev-infrastructure/scripts/dev-application.sh
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add cluster service create controller for async CS provisioning
  backend/pkg/app/backend.go
  backend/pkg/controllers/clustercreation/cluster_cluster_service_create_controller.go
  backend/pkg/controllers/clustercreation/cluster_cluster_service_create_controller_test.go
  backend/pkg/controllers/operationcontrollers/operation_cluster_create.go
  backend/pkg/controllers/operationcontrollers/operation_cluster_create_test.go
  backend/pkg/controllers/operationcontrollers/operation_cluster_delete.go
  backend/pkg/controllers/operationcontrollers/operation_cluster_delete_legacy.go
  backend/pkg/controllers/operationcontrollers/operation_cluster_update.go
  backend/pkg/controllers/operationcontrollers/utils.go
  backend/pkg/controllers/operationcontrollers/utils_test.go
  backend/pkg/controllers/upgradecontrollers/control_plane_desired_version_controller.go
Due: e2e-parallel, ci/prow/e2e-parallel
