Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$

feat: add SystemAdminCredentialRequest informer and CredentialRequestWatchingController
  backend/pkg/controllers/controllerutils/credential_request_watching_controller.go
  backend/pkg/controllers/controllerutils/util.go
  backend/pkg/informers/informers.go
  backend/pkg/informers/types.go
  backend/pkg/listers/system_admin_credential_request_lister.go
  internal/api/types_runtime.go
  internal/api/types_systemadmincredential.go
  internal/api/zz_generated.deepcopy.go
  internal/database/global_lister.go
  internal/databasetesting/mock_resources_global_lister.go
Due: e2e-parallel, ci/prow/e2e-parallel

refactor: migrate all credential controllers to fire on credential request events
  backend/pkg/controllers/systemadmincredentialcontrollers/ca_bundle_sync.go
  backend/pkg/controllers/systemadmincredentialcontrollers/cluster_deletion_cleanup.go
  backend/pkg/controllers/systemadmincredentialcontrollers/desires_creator.go
  backend/pkg/controllers/systemadmincredentialcontrollers/issuance_observer.go
  backend/pkg/controllers/systemadmincredentialcontrollers/issuance_observer_test.go
  backend/pkg/controllers/systemadmincredentialcontrollers/post_issuance_cleanup.go
  backend/pkg/controllers/systemadmincredentialcontrollers/revoked_gc.go
  backend/pkg/controllers/systemadmincredentialcontrollers/revoked_gc_test.go
  backend/pkg/controllers/systemadmincredentialcontrollers/serving_ca_read_desire_creator.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs: update PLAN.md with credential request informer rationale
  docs/system-admin-credentials/PLAN.md
Due: none

kevinobriendotca/ARO-25981-etcd-prometheus-alerts
  observability/alerts-sl-services.yaml
  observability/alerts/etcd-availability-prometheusRule.yaml
  observability/alerts/etcd-availability-prometheusRule_test.yaml
  observability/alerts/kubernetesControlPlane-prometheusRule.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

revert https://github.com/Azure/ARO-HCP/pull/4564
  config/config.schema.json
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  dev-infrastructure/configurations/kusto-stg.tmpl.bicepparam
  dev-infrastructure/configurations/kusto.tmpl.bicepparam
  dev-infrastructure/modules/logs/kusto/main.bicep
  dev-infrastructure/templates/kusto.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

kevinobriendotca/ARO-25981-etcd-prometheus-alerts
  dev-infrastructure/modules/metrics/rules/generatedHCPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedMsftPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  observability/alerts-sre-hcps.yaml
  observability/alerts/etcd-availability-prometheusRule.yaml
  observability/alerts/etcd-availability-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

kevinobriendotca/ARO-25981-etcd-prometheus-alerts
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  observability/alerts-sl-services.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

docs: reference other repositories
  docs/snapshot-analysis.md
Due: none

remove autovacuum panels and fix spacing
  observability/grafana-dashboards/infra-dashboards/postgres-azure.json
Due: e2e-parallel, ci/prow/e2e-parallel

docs: update system-admin-credentials plan and kube-applier types docs
  docs/system-admin-credentials/PLAN.md
  kube-applier/docs/02-api-types.md
Due: none

feat: add DeleteTimestamp to SystemAdminCredentialRequestStatus
  internal/api/types_systemadmincredential.go
  internal/api/zz_generated.deepcopy.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add SystemAdminCredentialRequest-scoped desire resource types
  internal/api/kubeapplier/registry.go
  internal/api/kubeapplier/types_cosmosdata.go
  internal/api/kubeapplier/types_cosmosdata_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

refactor: rewire CA controllers to ClusterWatchingController
  backend/pkg/controllers/operationcontrollers/operation_cluster_create.go
  backend/pkg/controllers/operationcontrollers/operation_cluster_create_test.go
  backend/pkg/controllers/systemadmincredentialcontrollers/ca_bundle_sync.go
  backend/pkg/controllers/systemadmincredentialcontrollers/serving_ca_read_desire_creator.go
Due: e2e-parallel, ci/prow/e2e-parallel

refactor: update cluster_deletion_cleanup for DeleteTimestamp-based teardown
  backend/pkg/controllers/systemadmincredentialcontrollers/cluster_deletion_cleanup.go
Due: e2e-parallel, ci/prow/e2e-parallel

refactor: rename createApplyDesire/createReadDesire to ensure* variants
  backend/pkg/controllers/systemadmincredentialcontrollers/desires_creator.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs: design + e2e plan for AKV-sourced ingress serving certs
  docs/ingress-certificates/README.md
  docs/ingress-certificates/design.md
  docs/ingress-certificates/e2e-test-plan.md
  test/e2e/cluster_ingress_cert_from_kv.go
  test/go.mod
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_integration_parallelintegration_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_prod_parallelprod_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_stage_parallelstage_parallel.txt
  test/util/framework/keyvault_cert_helper.go
Due: e2e-parallel, ci/prow/e2e-parallel

test/e2e: grant the caller KV Certificates Officer before issuing the cert
  test/e2e/cluster_ingress_cert_from_kv.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: update e2e ingress cert test to use versioned framework APIs
  docs/ingress-certificates/e2e-test-plan.md
  test/e2e/cluster_ingress_cert_from_kv.go
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_dev_cd_check_paralleldev_cd_check_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallelrp_api_compat_all_parallel.txt
Due: e2e-parallel, ci/prow/e2e-parallel

fix: retry UAMI role assignments on PrincipalNotFound in ingress cert E2E
  test/e2e/cluster_ingress_cert_from_kv.go
Due: e2e-parallel, ci/prow/e2e-parallel

hardcode around mess
  test/e2e/cluster_ingress_cert_from_kv.go
Due: e2e-parallel, ci/prow/e2e-parallel

order test better
  test/e2e/cluster_ingress_cert_from_kv.go
Due: e2e-parallel, ci/prow/e2e-parallel

refactor: export IdentifyCallerFromToken and clean up ingress cert test
  docs/ingress-certificates/e2e-test-plan.md
  internal/graph/util/client.go
  test/e2e/cluster_ingress_cert_from_kv.go
Due: e2e-parallel, ci/prow/e2e-parallel

monitoring: temporarily lower cosmosdb RU alert threshold to 3% for validation
  dev-infrastructure/modules/metrics/cosmos-alerts.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

monitoring: add cosmosdb normalized RU consumption monitoring
  dev-infrastructure/configurations/monitoring.tmpl.bicepparam
  dev-infrastructure/modules/metrics/cosmos-alerts.bicep
  dev-infrastructure/monitoring-pipeline.yaml
  dev-infrastructure/templates/monitoring.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

fix(helmtest): align comment formatting in policy_checks_test.go
  tooling/helmtest/testrunner/policy_checks_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: wire ContainerRegistry into v20260630preview and fix test expectations
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/preview/2026-06-30-preview/openapi.json
  internal/api/v20260630preview/conversion_fuzz_test.go
  internal/api/v20260630preview/generated/constants.go
  internal/api/v20260630preview/generated/models.go
  internal/api/v20260630preview/generated/models_serde.go
  internal/api/v20260630preview/hcpopenshiftclusters_methods.go
  internal/ocm/convert_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

docs: add upgrade-path presubmit documentation (ARO-27255)
  docs/ci-upgrade-path-presubmit.md
Due: none

Apply suggestions from code review
  tooling/helmtest/settings.yaml
  tooling/helmtest/testrunner/policy_checks.go
Due: e2e-parallel, ci/prow/e2e-parallel

ci(provision): add MGMT sizing overrides and parameterize entrypoint call
  hack/ci/provision-environment.sh
Due: e2e-parallel, ci/prow/e2e-parallel

Potential fix for pull request finding
  tooling/helmtest/testrunner/policy_checks.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(helmtest): use require for setup assertions in RunTestHelmTemplate
  tooling/helmtest/testrunner/test_runner.go
Due: e2e-parallel, ci/prow/e2e-parallel

Add billing repository value to config
  config/config.schema.json
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

add Access the Cluster SLO alert rules and tests (ARO-26192)
  observability/alerts-rp-services.yaml
  observability/alerts/access-cluster-slo-prometheusRule.yaml
  observability/alerts/access-cluster-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

generate Bicep alert rules for Access the Cluster (ARO-26192)
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

fix: use consistent metric label names in comments and descriptions
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts/access-cluster-slo-prometheusRule.yaml
  observability/alerts/access-cluster-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

rename UJ to userJourney, move recording rules to separate file per review feedback
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/access-cluster-slo-prometheusRule.yaml
  observability/alerts/access-cluster-slo-prometheusRule_test.yaml
  observability/recording-rules-services.yaml
  observability/recording-rules/access-cluster-slo-recordingRule.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

add recording rule test file, fix testDependency loading for recording rules
  observability/recording-rules-services.yaml
  observability/recording-rules/access-cluster-slo-recordingRule_test.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

regenerate Bicep with az bicep v0.44.1 formatting
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel
