Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$

fix(swift-vnet): gate on DNS readiness and widen retry budget to absorb ACI cold-start (ARO-28244)
  dev-infrastructure/scripts/swift-vnet.sh
Due: e2e-parallel, ci/prow/e2e-parallel

adding skills to analyze stuck deletion
  tooling/hcpctl/pkg/agent/prompts/exemplars/cluster-deletion-addon-pod-eviction.md
  tooling/hcpctl/pkg/agent/prompts/references/architecture.md
  tooling/hcpctl/pkg/agent/prompts/references/service-components.md
Due: none

relist more frequently for deletion responsiveness
  backend/pkg/informers/informers.go
  internal/database/informers/informers.go
Due: e2e-parallel, ci/prow/e2e-parallel

teach the ai analyze tooling to detect stuck deletion pattern
  docs/ai/query-cookbook.md
  tooling/hcpctl/pkg/agent/prompts/exemplars/cluster-deletion-addon-pod-eviction.md
  tooling/hcpctl/pkg/agent/prompts/references/service-components.md
  tooling/hcpctl/pkg/snapshot/queries.go
  tooling/hcpctl/pkg/snapshot/queries/clustersService/logs/README.md
  tooling/hcpctl/pkg/snapshot/queries/clustersService/phases/README.md
  tooling/hcpctl/pkg/snapshot/queries/mgmtAgent/podEvents/README.md
  tooling/hcpctl/pkg/snapshot/queries/mgmtAgent/podEvents/query.kql
  tooling/hcpctl/pkg/snapshot/queries/mgmtAgent/podEvictions/README.md
  tooling/hcpctl/pkg/snapshot/queries/mgmtAgent/podEvictions/query.kql
Due: e2e-parallel, ci/prow/e2e-parallel

Apply suggestions from code review
  tooling/helmtest/settings.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix: rename test to match promoteAndSortDeletionTargets
  tooling/cleanup-sweeper/cmd/workflow/resourcegroup/discovery_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix copilot review comments: path conventions and hardcoded count
  docs/ai/query-cookbook.md
  tooling/hcpctl/pkg/snapshot/queries/clustersService/logs/README.md
  tooling/hcpctl/pkg/snapshot/queries/clustersService/phases/README.md
Due: none

fix: swaps slog to logr
  tooling/cleanup-sweeper/cmd/workflow/resourcegroup/discovery.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: list RGs in explicit-only mode so child promotion applies to CLI targets
  tooling/cleanup-sweeper/cmd/workflow/resourcegroup/discovery.go
Due: e2e-parallel, ci/prow/e2e-parallel

chore: grant chai-bot app registration AllDatabasesViewer on dev Kusto
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

feat: split maestro certCN from certSAN to enforce CN length limit
  config/config.schema.json
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  dev-infrastructure/mgmt-pipeline.yaml
  dev-infrastructure/svc-pipeline.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix: weight PrometheusUptime by sample count
  docs/alerts/Prometheus.md
  observability/alerts/prometheus-prometheusRule.yaml
  observability/alerts/prometheus-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: clarify PrometheusUptimeSampleCount wording
  observability/alerts/prometheus-prometheusRule.yaml
  observability/alerts/prometheus-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

chore: regenerate Prometheus alert bicep
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

fix: add region to AMW incident titles
  dev-infrastructure/configurations/monitoring.tmpl.bicepparam
  dev-infrastructure/modules/metrics/amw-ingestion-alerts.bicep
  dev-infrastructure/templates/monitoring.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

stronger schema enforcement
  config/config.schema.json
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  observability/arobit/testdata/zz_fixture_TestHelmTemplate_helmtest_mdsd_and_kusto_enabled_mgmt.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

deps: bump oras.land/oras-go/v2 to v2.6.1
  test/go.mod
  test/go.sum
  tooling/helmtest/go.mod
  tooling/helmtest/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
Due: e2e-parallel, ci/prow/e2e-parallel

deps: bump golang.org/x/net to v0.55.0 in test SDK modules
  test/sdk/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/go.mod
  test/sdk/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/go.sum
  test/sdk/v20240610preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/go.mod
  test/sdk/v20240610preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/go.sum
  test/sdk/v20251223preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/go.mod
  test/sdk/v20251223preview/resourcemanager/redhatopenshifthcp/armredhatopenshifthcp/go.sum
Due: e2e-parallel, ci/prow/e2e-parallel

fix non-OData retry logic and double time.Now() calls per Copilot feedback
  internal/graph/util/applications.go
  test/e2e/cluster_authorized_cidrs_connectivity.go
  test/e2e/external_auth_create.go
Due: e2e-parallel, ci/prow/e2e-parallel

deps: bump npm transitive deps in api to fix 3 CVEs
  api/package-lock.json
  api/package.json
Due: e2e-parallel, ci/prow/e2e-parallel

deps: add missing x/crypto go.mod hash in prometheus-rules go.sum (AROSLSRE-1455)
  tooling/prometheus-rules/go.sum
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add assign/action to MSI mock role for ACR pull MI support (ARO-24037)
  dev-infrastructure/templates/e2e-subscription-rbac-assignment-subscription.bicep
  dev-infrastructure/templates/mock-identities.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

fix: downgrading credential refresher alerts from sev2 -> sev3
  dev-infrastructure/modules/metrics/rules/generatedMsftPrometheusAlertingRules.bicep
  observability/alerts/msi-credential-refresher-prometheusRule.yaml
  observability/alerts/msi-credential-refresher-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

update comments to reflect actual retry logic and document clock skew fix
  internal/graph/util/applications.go
  test/e2e/cluster_authorized_cidrs_connectivity.go
  test/e2e/external_auth_create.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(api): Update dotnet tspconfig emitter namespace per feeedback
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpopenshiftclusters/tspconfig.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

docs: design + e2e plan for AKV-sourced ingress serving certs
  docs/ingress-certificates/README.md
  docs/ingress-certificates/design.md
  docs/ingress-certificates/e2e-test-plan.md
  test/e2e/cluster_ingress_cert_from_kv.go
  test/go.mod
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_integration_parallelintegration_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_prod_parallelprod_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_stage_parallelstage_parallel.txt
  test/util/framework/keyvault_cert_helper.go
Due: e2e-parallel, ci/prow/e2e-parallel

test/e2e: implement AKV-sourced ingress serving cert E2E test
  docs/ingress-certificates/e2e-test-plan.md
  internal/graph/util/client.go
  test/e2e/cluster_ingress_cert_from_kv.go
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_dev_cd_check_paralleldev_cd_check_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_integration_parallelintegration_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_prod_parallelprod_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallel_01rp_api_compat_all_parallel_development.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_rp_api_compat_all_parallelrp_api_compat_all_parallel.txt
  test/testdata/zz_fixture_TestMainListSuitesForEachSuite_stage_parallelstage_parallel.txt
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add assign/action to subscription-scoped MSI mock role definition
  dev-infrastructure/templates/mock-identity-roles.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

fix: normalize kubelet fix DS image to pinned Azure Linux runtime
  dev-infrastructure/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_mgmt_fixes.yaml
  mgmt-fixes/deploy/kubelet-ds/templates/ds-kubelet-parameters.yaml
  mgmt-fixes/kubelet-ds.values.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

docs: add SOP for overriding hosted cluster control plane size
  docs/ops/override-cluster-size.md
Due: none

docs: add persistent Admin API option to cluster size override SOP
  docs/ops/override-cluster-size.md
Due: none

fix: add automatedRetry to Kusto deploy steps in geography pipelines
  dev-infrastructure/geography-pipeline-stg.yaml
  dev-infrastructure/geography-pipeline.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

validation(fix): config validation for stamp
  config/config.schema.json
  tooling/templatize/cmd/configuration/validate/options.go
Due: e2e-parallel, ci/prow/e2e-parallel

for LeaderElectionLeaseStaleFast change threshold to 180 and for: to 3m - and adjust tests and doc accordingly
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  observability/alerts/leaderelection-prometheusRule.yaml
  observability/alerts/leaderelection-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

simplify pull secret E2E test to use simple workload
  test/cmd/aro-hcp-tests/main.go
  test/e2e/cluster_pullsecret.go
Due: e2e-parallel, ci/prow/e2e-parallel

resolve conflicts and adjust for changes in #5365, remove verifier poll interval
  test/cmd/aro-hcp-tests/main.go
  test/e2e/cluster_pullsecret.go
Due: e2e-parallel, ci/prow/e2e-parallel

make kube-applier leader election staleness critical
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  observability/alerts/leaderelection-prometheusRule.yaml
  observability/alerts/leaderelection-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel
