Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

observability-prometheus:
  steps:
    test:
    - ref: aro-hcp-observability-prometheus

observability-grafana:
  steps:
    test:
    - ref: aro-hcp-observability-grafana

e2e-parallel:
  always_run: true
  steps:
    cluster_profile: aro-hcp-dev
    env:
      LOCATION: westus3
    workflow: aro-hcp-local-e2e

ci/prow/e2e-parallel:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aro-hcp-dev
    ci-operator.openshift.io/cloud-cluster-profile: aro-hcp-dev
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

fix: updating alert for metric change
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  observability/alerts/HCPdeletionStuck-prometheusRule.yaml
  observability/alerts/HCPdeletionStuck-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat: add containerRegistry field to ARM API for ACR pull via managed identity (ARO-24037)
  api/redhatopenshift/HcpCluster.Management/examples/2025-12-23-preview/HcpOpenShiftClusters_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2025-12-23-preview/HcpOpenShiftClusters_Get_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2025-12-23-preview/HcpOpenShiftClusters_ListByResourceGroup_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2025-12-23-preview/HcpOpenShiftClusters_ListBySubscription_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2025-12-23-preview/HcpOpenShiftClusters_Update_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2025-12-23-preview/examples/HcpOpenShiftClusters_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2025-12-23-preview/examples/HcpOpenShiftClusters_Get_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2025-12-23-preview/examples/HcpOpenShiftClusters_ListByResourceGroup_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2025-12-23-preview/examples/HcpOpenShiftClusters_ListBySubscription_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2025-12-23-preview/examples/HcpOpenShiftClusters_Update_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2025-12-23-preview/openapi.json
  internal/api/enums.go
  internal/api/types_cluster.go
  internal/api/v20240610preview/conversion_fuzz_test.go
  internal/api/v20240610preview/hcpopenshiftclusters_methods.go
  internal/api/v20251223preview/conversion_fuzz_test.go
  internal/api/v20251223preview/generated/constants.go
  internal/api/v20251223preview/generated/models.go
  internal/api/v20251223preview/generated/models_serde.go
  internal/api/v20251223preview/hcpopenshiftclusters_methods.go
  internal/api/zz_generated.deepcopy.go
  internal/validation/validate_cluster.go
  internal/validation/validate_cluster_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

cluster label issues
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  observability/alerts/HCPdeletionStuck-prometheusRule.yaml
  observability/alerts/HCPdeletionStuck-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

extract methods and improve naming
  backend/pkg/azure/azurehelpers/role_definitions.go
  backend/pkg/azure/azurehelpers/role_definitions_test.go
  backend/pkg/azure/client/mi_dataplane_base_identity_access_token_retriever.go
  backend/pkg/azure/client/subnets_client.go
  backend/pkg/controllers/validationcontrollers/validations/control_plane_identities_permissions_validation.go
  backend/pkg/controllers/validationcontrollers/validations/control_plane_identities_permissions_validation_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

Doc update to cover subscription sharding for e2e-parallel presubmit
  docs/ci/README.md
  docs/ci/e2e-testing.md
  docs/ci/execution.md
  docs/ci/identity-leasing.md
  docs/ci/image-lifecycle.md
Due: none

ARO-25472 | Implement node pool version skew validation with control plane versions
  frontend/pkg/frontend/node_pool.go
  internal/admission/admit_nodepool.go
  internal/admission/admit_nodepool_test.go
  internal/validation/validators.go
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/invalid-version-update/04-httpCreate-nodepool/nodepool.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/reject-nodepool-creation-version-skew-minus-3/00-httpCreate-subscription/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/reject-nodepool-creation-version-skew-minus-3/00-httpCreate-subscription/subscription.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/reject-nodepool-creation-version-skew-minus-3/01-httpCreate-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/reject-nodepool-creation-version-skew-minus-3/01-httpCreate-cluster/cluster.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/reject-nodepool-creation-version-skew-minus-3/02-completeOperation-cluster/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/reject-nodepool-creation-version-skew-minus-3/03-loadCosmos-serviceProviderCluster/serviceProviderCluster.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/reject-nodepool-creation-version-skew-minus-3/04-httpCreate-nodepool/00-key.json
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/reject-nodepool-creation-version-skew-minus-3/04-httpCreate-nodepool/expected-error.txt
  test-integration/frontend/artifacts/FrontendCRUD/NodePool/reject-nodepool-creation-version-skew-minus-3/04-httpCreate-nodepool/nodepool.json
Due: e2e-parallel, ci/prow/e2e-parallel

add new management cluster triage Grafana dashboard
  observability/grafana-dashboards/sre/user-journey/mgmt-cluster-triage.json
Due: e2e-parallel, ci/prow/e2e-parallel

Rename observability config files to type-queue-datasource format
  docs/alerts.md
  docs/prometheus-rules.md
  docs/sre/hcp-metrics.md
  observability/Makefile
  observability/alerts-msft-services.yaml
  observability/alerts-rp-services.yaml
  observability/alerts-sl-services.yaml
  observability/alerts-sre-hcps.yaml
  observability/observability.yaml
  observability/recording-rules-hcps.yaml
  observability/recording-rules-services.yaml
  tooling/prometheus-rules/Makefile
  tooling/prometheus-rules/README.md
Due: e2e-parallel, ci/prow/e2e-parallel

address copilot review comments
  observability/grafana-dashboards/sre/user-journey/mgmt-cluster-triage.json
Due: e2e-parallel, ci/prow/e2e-parallel

chore: ignore binaries from dev-infrastructure/scripts folders
  dev-infrastructure/.gitignore
Due: e2e-parallel, ci/prow/e2e-parallel

Enable source.prow.runs controller
  dev-infrastructure/dev-ci/cihealth/deploy/templates/controllers-deployment.yaml
  dev-infrastructure/dev-ci/cihealth/deploy/values.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

Bump CIHealth image
  config/config-dev-ci.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add data plane ha proxy image configuration to the cs deployment
  cluster-service/Makefile
  cluster-service/helm-charts/cluster-service/templates/deployment.yaml
  cluster-service/helm-charts/cluster-service/values.yaml
  cluster-service/pipeline.yaml
  config/config.schema.json
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

Add default for afd key vault name
  dev-infrastructure/templates/output-global.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

observability: add Node Pool Management SLO alerting rules (ARO-25967)
  observability/alerts/nodepool-slo-prometheusRule.yaml
  observability/alerts/nodepool-slo-prometheusRule_test.yaml
  observability/observability.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

Add canceled terminal state, fix queue name regex, add slo label to degradation alert
  observability/alerts/nodepool-slo-prometheusRule.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

Fix workqueue regex: use camelCase .*NodePool.* to match actual queue names per Simon review
  observability/alerts/nodepool-slo-prometheusRule.yaml
  observability/alerts/nodepool-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

Regenerate bicep with nodepool SLO alerts
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

Regenerate bicep with alert fixes
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

Fix test failures: revert workqueue regex to lowercase, add slo label to degradation test
  observability/alerts/nodepool-slo-prometheusRule.yaml
  observability/alerts/nodepool-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

Move nodepool alerts from SRE lane to RP lane (observability-rp.yaml)
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts-rp-services.yaml
  observability/observability.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix: rename burn-rate alerts to match ADR naming convention (1h5m, 6h30m, 3d)
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts/nodepool-slo-prometheusRule.yaml
  observability/alerts/nodepool-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

Address review feedback: use recording rules, fix NaN, harden stuck alert
  observability/alerts/nodepool-slo-prometheusRule.yaml
  observability/alerts/nodepool-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

Fix inaccurate test comments for stuck operation tests
  observability/alerts/nodepool-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: address ADR review - aka.ms runbook URLs, Sev 4 for slow/degradation/saturation, UJ naming, count by cluster
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts/nodepool-slo-prometheusRule.yaml
  observability/alerts/nodepool-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

Fix severity labels: use critical/warning keywords to match codebase convention
  observability/alerts/nodepool-slo-prometheusRule.yaml
  observability/alerts/nodepool-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: downgrade all alerts to non-paging, add cluster label to summaries
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  observability/alerts/nodepool-slo-prometheusRule.yaml
  observability/alerts/nodepool-slo-prometheusRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

Regenerate bicep after alert rule refactor
  dev-infrastructure/modules/metrics/rules/generatedPrometheusAlertingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

chore(infra): remove legacy user nodepool cleanup steps
  dev-infrastructure/mgmt-pipeline.yaml
  dev-infrastructure/svc-pipeline.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

infra: refactor sql role assignments There was a leading '/' character at the beginning of all our roleDefinitionIDs for our sql role assignments for comsosdb, which are now fixed.
  dev-infrastructure/modules/rp-cosmos-kube-applier.bicep
  dev-infrastructure/modules/rp-cosmos.bicep
  dev-infrastructure/templates/dev-roleassignments.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

fix: run yamlfmt on alert YAML files to pass CI verify
  observability/alerts/nodepool-slo-prometheusRule.yaml
  observability/alerts/nodepool-slo-prometheusRule_test.yaml
  observability/observability.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

chore(infra): remove unused nodepool deletion scripts
  dev-infrastructure/scripts/delete-aks-nodepools.sh
  dev-infrastructure/scripts/delete-user-nodepools.sh
Due: e2e-parallel, ci/prow/e2e-parallel

fix: scope recording rules to update/delete operations only
  observability/alerts/nodepool-slo-prometheusRule.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

monitoring: externalize adx datasource shell step
  dev-infrastructure/geography-pipeline.yaml
  dev-infrastructure/scripts/add-kusto-grafana-datasource.sh
Due: e2e-parallel, ci/prow/e2e-parallel

monitoring: fix geography pipeline metadata
  dev-infrastructure/geography-pipeline.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

monitoring: use real geo short ID in ADX tests
  tooling/templatize/pkg/pipeline/grafana_datasources_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

monitoring: use typed GrafanaDatasources for ADX
  config/config.schema.json
  dev-infrastructure/geography-pipeline.yaml
  dev-infrastructure/modules/logs/kusto/grant-access.bicep
  docs/monitoring.md
  tooling/templatize/pkg/pipeline/grafana_datasources.go
  tooling/templatize/pkg/pipeline/grafana_datasources_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

monitoring: fail adx datasource shell pipelines
  dev-infrastructure/geography-pipeline.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
