Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: e2e-parallel, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Path conditions:
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|demo/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitignore|\.gitleaks\.toml|\.golangci\.yml|hack/|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/create-aro-hcp-in-integration: any of: ^(demo)
  ci/prow/create-aro-hcp-in-prod: any of: ^(demo)
  ci/prow/create-aro-hcp-in-stage: any of: ^(demo)
  ci/prow/integration-e2e-parallel: any of: ^(test|demo)
  ci/prow/prod-e2e-parallel: any of: ^(test|demo)
  ci/prow/stage-e2e-parallel: any of: ^(test|demo)

*: bump ARO-Tools
  test/go.mod
  test/go.sum
  tooling/hcpctl/go.mod
  tooling/hcpctl/go.sum
  tooling/helmtest/go.mod
  tooling/helmtest/go.sum
  tooling/pipeline-documentation/go.mod
  tooling/pipeline-documentation/go.sum
  tooling/secret-sync/go.mod
  tooling/secret-sync/go.sum
  tooling/templatize/go.mod
  tooling/templatize/go.sum
  tooling/yamlwrap/go.mod
  tooling/yamlwrap/go.sum
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

fix return type so nil means nil
  internal/utils/line_tracking_error.go
  internal/utils/line_tracking_error_test.go
Due: e2e-parallel

stop individually patching clusters, nodepools, and externalauth
  frontend/pkg/frontend/cluster.go
  frontend/pkg/frontend/external_auth.go
  frontend/pkg/frontend/node_pool.go
  frontend/test/simulate/artifacts/ClusterMutation/replace-with-tags-with-empty/create.json
  frontend/test/simulate/artifacts/ClusterMutation/replace-with-tags-with-empty/expected.json
  frontend/test/simulate/artifacts/ClusterMutation/replace-with-tags-with-empty/update.json
  frontend/test/simulate/artifacts/ClusterMutation/replace-with-tags-with-nil/create.json
  frontend/test/simulate/artifacts/ClusterMutation/replace-with-tags-with-nil/expected.json
  frontend/test/simulate/artifacts/ClusterMutation/replace-with-tags-with-nil/update.json
  frontend/test/simulate/artifacts/NodePoolMutation/initial-cluster-service-state/update-tags-with-empty-cluster.json
  frontend/test/simulate/artifacts/NodePoolMutation/initial-cluster-service-state/update-tags-with-nil-cluster.json
  frontend/test/simulate/artifacts/NodePoolMutation/update-tags-with-empty/cosmos-state/cosmos-01-cluster.json
  frontend/test/simulate/artifacts/NodePoolMutation/update-tags-with-empty/create.json
  frontend/test/simulate/artifacts/NodePoolMutation/update-tags-with-empty/expected.json
  frontend/test/simulate/artifacts/NodePoolMutation/update-tags-with-empty/update.json
  frontend/test/simulate/artifacts/NodePoolMutation/update-tags-with-nil/cosmos-state/cosmos-01-cluster.json
  frontend/test/simulate/artifacts/NodePoolMutation/update-tags-with-nil/create.json
  frontend/test/simulate/artifacts/NodePoolMutation/update-tags-with-nil/expected.json
  frontend/test/simulate/artifacts/NodePoolMutation/update-tags-with-nil/update.json
  internal/database/crud_helpers.go
  internal/database/crud_nested_resource.go
  internal/database/transaction.go
  internal/database/types_resource.go
  internal/mocks/dbtransaction.go
Due: e2e-parallel

observability: reduce alert noise and improve signal-to-noise ratio
  dev-infrastructure/modules/metrics/rules/generatedHCPPrometheusAlertingRules.bicep
  observability/alerts/HCPkasMonitor-prometheusRule.yaml
  observability/alerts/HCPkasMonitor-prometheusRule_test.yaml
  observability/alerts/aro-hcp-kubernetes-overrides-prometheusRule.yaml
  observability/alerts/aro-hcp-kubernetes-overrides-prometheusRule_test.yaml
  observability/observability-hcp.yaml
Due: e2e-parallel

Review remarks
  tooling/templatize/pkg/pipeline/run.go
Due: e2e-parallel

Implement file-based pooled identity leasing for e2e tests
  test/cmd/aro-hcp-tests/main.go
  test/e2e-setup/bicep/cluster-nodepool-osdisk.bicep
  test/e2e-setup/bicep/cluster-only.bicep
  test/e2e-setup/bicep/demo.bicep
  test/e2e-setup/bicep/infra-only.bicep
  test/e2e-setup/bicep/modules/cluster-identities.bicep
  test/e2e-setup/bicep/modules/managed-identities-reader-roles.bicep
  test/e2e-setup/bicep/modules/managed-identities.bicep
  test/e2e-setup/bicep/modules/msi-scoped-assignments.bicep
  test/e2e-setup/bicep/modules/non-msi-scoped-assignments.bicep
  test/e2e-setup/bicep/msi-pools.bicep
  test/e2e-setup/bicep/no-cni.bicep
  test/e2e/admin_credential_lifecycle.go
  test/e2e/arm64_nodepool.go
  test/e2e/cluster_create_missing_info.go
  test/e2e/cluster_create_no_cni.go
  test/e2e/cluster_create_nodepool_osdisk.go
  test/e2e/cluster_list_no_infra.go
  test/e2e/cluster_name_validation.go
  test/e2e/cluster_tls_endpoints.go
  test/e2e/cluster_update.go
  test/e2e/clusters_sharing_resgroup.go
  test/e2e/complete_cluster_create.go
  test/e2e/external_auth_create.go
  test/e2e/external_auth_list_and_verify.go
  test/e2e/gpu_nodepools_create_delete.go
  test/e2e/image_registry_cluster_create.go
  test/go.mod
  test/go.sum
  test/hack/apply-msi-pool.sh
  test/util/framework/deployment_helper.go
  test/util/framework/deployment_params.go
  test/util/framework/identities_helper.go
  test/util/framework/per_invocation_framework.go
  test/util/framework/per_test_framework.go
  test/util/integration/fill_setup_bicep.go
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Extend collectDebugInfo() and fetchOperationsFor()
  test/util/framework/deployment_operations.go
  test/util/framework/per_test_framework.go
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Extend e2e cleanup commad line
  test/cmd/aro-hcp-tests/cleanup/cmd.go
  test/cmd/aro-hcp-tests/main.go
  test/util/cleanup/resourcegroups/options.go
  test/util/cleanup/resourcegroups/run.go
  test/util/framework/per_invocation_framework.go
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

ARO-23143. Reduce the list of ARM64 types for testing.
  test/e2e/arm64_nodepool.go
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Reduce stg&prod test parallelism even further
  test/cmd/aro-hcp-tests/main.go
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Script to quickly parse frontend log obtained with must-gather and show relevant errors
  tooling/hcpctl/show_frontend_errors.sh
Due: e2e-parallel

ARO-22498 change sizeGiB to ptr
  internal/api/types_nodepool.go
  internal/validation/validate_nodepools.go
  internal/validation/validate_nodepools_comprehensive_test.go
Due: e2e-parallel

ARO-22498 add unit test cases - 2
  internal/api/v20240610preview/nodepools_methods_test.go
  internal/api/v20251223preview/nodepools_methods_test.go
  internal/validation/validate_nodepools_comprehensive_test.go
Due: e2e-parallel

ARO-22498 update create util
  frontend/utils/create.go
Due: e2e-parallel

ARO-22498 add min to typespec
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2025-12-23-preview/openapi.json
Due: e2e-parallel

ARO-22498 update conversions
  internal/api/v20240610preview/nodepools_methods.go
  internal/api/v20251223preview/nodepools_methods.go
  internal/ocm/convert.go
Due: e2e-parallel

ARO-22498 fix linting & unit-tests
  internal/api/v20240610preview/nodepools_methods_test.go
  internal/api/v20251223preview/nodepools_methods_test.go
  internal/ocm/convert.go
  internal/ocm/convert_test.go
Due: e2e-parallel

ARO-22498 update sizeGiB to 64
  api/redhatopenshift/HcpCluster.Management/hcpCluster-models.tsp
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2024-06-10-preview/openapi.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2025-12-23-preview/openapi.json
  frontend/utils/create.go
  internal/validation/validate_nodepools.go
  internal/validation/validate_nodepools_comprehensive_test.go
Due: e2e-parallel

ARO-22498 update osDisk.sizeGiB mutation e2e value
  frontend/test/simulate/artifacts/NodePoolMutation/immutability/update.json
Due: e2e-parallel

ARO-22498 update api examples
  api/redhatopenshift/HcpCluster.Management/examples/2025-12-23-preview/NodePools_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2025-12-23-preview/NodePools_Get_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2025-12-23-preview/NodePools_ListByParent_MaximumSet_Gen.json
  api/redhatopenshift/HcpCluster.Management/examples/2025-12-23-preview/NodePools_Update_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2025-12-23-preview/examples/NodePools_CreateOrUpdate_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2025-12-23-preview/examples/NodePools_Get_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2025-12-23-preview/examples/NodePools_ListByParent_MaximumSet_Gen.json
  api/redhatopenshift/resource-manager/Microsoft.RedHatOpenShift/hcpclusters/preview/2025-12-23-preview/examples/NodePools_Update_MaximumSet_Gen.json
Due: e2e-parallel

fix unit test case for simpleDefault
  internal/ocm/convert_test.go
Due: e2e-parallel

Added support for kube-API IP Access Control
  demo/README.md
  demo/cluster.tmpl.json
  internal/ocm/convert.go
Due: e2e-parallel, ci/prow/create-aro-hcp-in-integration, ci/prow/create-aro-hcp-in-prod, ci/prow/create-aro-hcp-in-stage, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

refactor and add unit tests for nodePool Convert
  internal/ocm/convert.go
  internal/ocm/convert_test.go
Due: e2e-parallel

update unit tests to handle autoscaler
  internal/ocm/convert_test.go
Due: e2e-parallel

make cidrblockaccess update mutable
  internal/ocm/convert.go
Due: e2e-parallel

Add e2e testing for AuthorizedCIDRs field
  test/e2e-setup/bicep/modules/cluster.bicep
  test/e2e-setup/bicep/modules/test-vm.bicep
  test/e2e/cluster_authorized_cidrs_connectivity.go
  test/e2e/cluster_create_authorized_cidrs.go
  test/go.mod
  test/util/framework/deployment_params.go
  test/util/framework/hcp_helper.go
  test/util/framework/per_test_framework.go
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

authorized cidrs lint fix
  nonlocal-e2e-specs.txt
  test/e2e/cluster_authorized_cidrs_connectivity.go
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

add max cidr block validation unit test case
  internal/validation/validate_cluster_comprehensive_test.go
Due: e2e-parallel

Address comments from mbukatov
  test/e2e-setup/bicep/modules/cluster.bicep
  test/e2e-setup/bicep/modules/test-vm.bicep
  test/e2e/cluster_authorized_cidrs_connectivity.go
  test/util/framework/hcp_helper.go
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Minor fixes for e2e
  internal/ocm/convert.go
  test/e2e/cluster_authorized_cidrs_connectivity.go
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Remove basic cluster creation e2es with atuhorized cidrs
  nonlocal-e2e-specs.txt
  test/e2e/cluster_create_authorized_cidrs.go
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

fix e2e and unit tests
  internal/ocm/convert_test.go
  test/e2e/cluster_authorized_cidrs_connectivity.go
  test/e2e/cluster_create_authorized_cidrs.go
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Address comments from patriksuba
  test/e2e/cluster_authorized_cidrs_connectivity.go
  test/e2e/cluster_create_authorized_cidrs.go
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

update nonlocal-e2e-specs
  nonlocal-e2e-specs.txt
  test/e2e/cluster_authorized_cidrs_connectivity.go
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

Address comments from stevekuznetsov
  test/e2e/cluster_authorized_cidrs_connectivity.go
  test/util/framework/hcp_helper.go
  test/util/framework/per_test_framework.go
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

refactor convert unit test
  internal/ocm/convert_test.go
Due: e2e-parallel

Fix typo in verbosity flag description
  tooling/templatize/main.go
Due: e2e-parallel

Refactor E2E test 'clusters_sharing_resgroup.go' to use direct RP approach
  nonlocal-e2e-specs.txt
  test/e2e/clusters_sharing_resgroup.go
  test/util/framework/deployment_params.go
Due: e2e-parallel, ci/prow/integration-e2e-parallel, ci/prow/prod-e2e-parallel, ci/prow/stage-e2e-parallel

disallow authorizedCIDR empty list
  internal/ocm/convert.go
  internal/ocm/convert_test.go
  internal/validation/validate_cluster.go
  internal/validation/validate_cluster_comprehensive_test.go
Due: e2e-parallel

chore: update clusters-service image to a399f0f in DEV and INT environments
  config/config.msft.clouds-overlay.yaml
  config/config.yaml
  config/dev.digests.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/ntly/uksouth.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  config/rendered/dev/prow/westus3.yaml
  config/rendered/dev/swft/uksouth.yaml
Due: e2e-parallel
