Repository Azure/ARO-HCP: changes, and which Prow jobs are due for each by the changed paths.
All: observability-prometheus, observability-grafana, e2e-parallel, ci/prow/e2e-parallel

observability-prometheus:
  steps:
    test:
    - ref: aro-hcp-observability-prometheus

observability-grafana:
  steps:
    test:
    - ref: aro-hcp-observability-grafana

e2e-parallel:
  always_run: true
  steps:
    cluster_profile: aro-hcp-dev
    env:
      LOCATION: westus3
    workflow: aro-hcp-local-e2e

ci/prow/e2e-parallel:
  decorate: true
  labels:
    ci-operator.openshift.io/cloud: aro-hcp-dev
    ci-operator.openshift.io/cloud-cluster-profile: aro-hcp-dev
    ci.openshift.io/generator: prowgen
    pj-rehearse.openshift.io/can-be-rehearsed: 'true'
  spec:
    containers:
    - args:
  ...

chore(observability): regenerate bicep output
  dev-infrastructure/modules/metrics/rules/generatedHCPRecordingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRPHCPPrometheusAlertingRules.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

docs: remove static role assignment limit setup
  docs/ci/e2e-subscription-onboarding.md
Due: none

small comments
  backend/pkg/app/backend.go
  backend/pkg/controllers/cluster/credentialrequest/creation/desires_creator.go
  backend/pkg/controllers/cluster/credentialrequest/creation/issuance_observer.go
  backend/pkg/controllers/cluster/credentialrequest/deletion/cluster_deletion_cleanup.go
  backend/pkg/controllers/cluster/credentialrequest/deletion/post_issuance_cleanup.go
  backend/pkg/controllers/cluster/credentialrequest/deletion/revoked_gc.go
  backend/pkg/controllers/cluster/credentialrequest/operations/dispatch_request_credential.go
  backend/pkg/controllers/cluster/credentialrequest/operations/operation_request_credential.go
  backend/pkg/controllers/cluster/credentialrevocation/creation/revocation_desires.go
  backend/pkg/controllers/cluster/credentialrevocation/creation/revocation_mark_requests.go
  backend/pkg/controllers/cluster/credentialrevocation/deletion/revocation_completion.go
  backend/pkg/controllers/cluster/credentialrevocation/deletion/revocation_deletion.go
  backend/pkg/controllers/cluster/credentialrevocation/operations/operation_revoke_credentials.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: remove per-credential RBAC desire creation
  backend/pkg/controllers/cluster/credentialrequest/creation/desires_creator.go
  backend/pkg/controllers/cluster/credentialrevocation/creation/revocation_desires.go
  internal/systemadmincredential/builders.go
  internal/systemadmincredential/builders_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix(observability): update KAS availability alerts for review feedback
  observability/alerts-rp-hcps.yaml
  observability/alerts/HCPkasRecord-prometheusRule-KSM.yaml
  observability/alerts/HCPkasRecord-prometheusRule-KSM_test.yaml
  observability/alerts/UserJourneyKubeApiserverAvailabilityMonitor-prometheusRule-KSM.yaml
  observability/alerts/UserJourneyKubeApiserverAvailabilityMonitor-prometheusRule-KSM_test.yaml
  observability/alerts/UserJourneyKubeApiserverAvailabilityRecord-prometheusRule-KSM.yaml
  observability/alerts/UserJourneyKubeApiserverAvailabilityRecord-prometheusRule-KSM_test.yaml
  observability/grafana-dashboards/kas-monitor/kas_golden_signals.json
  observability/recording-rules-hcps.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

fix: restore CVO cluster version metric
  hypershiftoperator/deploy/templates/sre-metrics-set.configmap.yaml
  hypershiftoperator/testdata/zz_fixture_TestHelmTemplate_hypershift_performance_metrics.yaml
  hypershiftoperator/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_hypershift.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

refactor: remove Username from SystemAdminCredentialRequestSpec
  backend/pkg/controllers/cluster/credentialrequest/creation/test_helpers_test.go
  backend/pkg/controllers/cluster/credentialrequest/deletion/test_helpers_test.go
  backend/pkg/controllers/cluster/credentialrequest/operations/dispatch_request_credential.go
  backend/pkg/controllers/cluster/credentialrequest/operations/operation_request_credential_test.go
  backend/pkg/controllers/cluster/credentialrevocation/creation/test_helpers_test.go
  backend/pkg/controllers/cluster/deletion/cluster_credential_deletion_marker_controller_test.go
  internal/api/coreapi/types_systemadmincredential.go
  test-integration/backend/launch/datadump_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: correct v4 config format to match upstream chart
  cert-exporter/mgmt/deploy/templates/configmap.yaml
  cert-exporter/mgmt/deploy/templates/deployment.yaml
  cert-exporter/mgmt/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_cert_exporter.yaml
  cert-exporter/svc/deploy/templates/configmap.yaml
  cert-exporter/svc/deploy/templates/deployment.yaml
  cert-exporter/svc/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_cert_exporter.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix: remove stale RBAC references from desires controller doc comments
  backend/pkg/controllers/cluster/credentialrequest/creation/desires_creator.go
  backend/pkg/controllers/cluster/credentialrevocation/creation/revocation_desires.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: grant kube-applier RBAC for certificatesigningrequestapprovals
  kube-applier/deploy/templates/clusterrole.yaml
  kube-applier/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_kube_applier.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix: use v4 YAML config file instead of deprecated v3 CLI flags
  cert-exporter/mgmt/deploy/templates/configmap.yaml
  cert-exporter/mgmt/deploy/templates/deployment.yaml
  cert-exporter/mgmt/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_cert_exporter.yaml
  cert-exporter/svc/deploy/templates/configmap.yaml
  cert-exporter/svc/deploy/templates/deployment.yaml
  cert-exporter/svc/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_cert_exporter.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

feat: wire cert-exporter into topology and Makefile
  Makefile
  topology.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

Adding kasGoMemLimit for a missing size
  hypershiftoperator/deploy/templates/cluster.clustersizingconfiguration.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

refactor: use cluster lister instead of live Get in credential controllers
  backend/pkg/app/backend.go
  backend/pkg/controllers/cluster/credentialrequest/creation/desires_creator.go
  backend/pkg/controllers/cluster/credentialrequest/creation/desires_creator_test.go
  backend/pkg/controllers/cluster/credentialrequest/operations/dispatch_request_credential.go
  backend/pkg/controllers/cluster/credentialrequest/operations/dispatch_request_credential_test.go
  backend/pkg/controllers/cluster/credentialrevocation/creation/revocation_desires.go
  backend/pkg/controllers/cluster/credentialrevocation/creation/revocation_desires_test.go
  backend/pkg/controllers/cluster/credentialrevocation/operations/dispatch_revoke_credentials.go
  backend/pkg/controllers/cluster/credentialrevocation/operations/dispatch_revoke_credentials_test.go
  backend/pkg/controllers/cluster/credentialrevocation/operations/operation_revoke_credentials.go
  backend/pkg/controllers/cluster/credentialrevocation/operations/operation_revoke_credentials_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat(observability): restore UJ KAS availability alert files
  dev-infrastructure/modules/metrics/rp-hcp-rules.bicep
  observability/alerts-rp-hcps.yaml
  observability/alerts/HCPkasRecord-prometheusRule-KSM.yaml
  observability/alerts/UJKubeApiserverAvailabilityMonitor-prometheusRule-KSM.yaml
  observability/alerts/UJKubeApiserverAvailabilityMonitor-prometheusRule-KSM_test.yaml
  observability/alerts/UJKubeApiserverAvailabilityRecord-prometheusRule-KSM.yaml
  observability/alerts/UJKubeApiserverAvailabilityRecord-prometheusRule-KSM_test.yaml
  observability/recording-rules-hcps.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat: validate CSR subject in requestAdminCredential
  frontend/pkg/frontend/frontend.go
Due: e2e-parallel, ci/prow/e2e-parallel

chore: materialize config for cert-exporter
  cert-exporter/mgmt/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_cert_exporter.yaml
  cert-exporter/svc/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_cert_exporter.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix: scope MGMT cert-exporter to ARO-28763 target secrets
  cert-exporter/mgmt/deploy/templates/configmap.yaml
  cert-exporter/mgmt/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_cert_exporter.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix(ci): support periodic promoted image provisioning
  hack/ci/provision-from-main.sh
  hack/ci/resolve-acr-images.sh
Due: e2e-parallel, ci/prow/e2e-parallel

Add backup system documentation & cosmos data flow
  docs/backups.md
  docs/cosmos-data-flow.md
Due: none

fix: close role assignment metrics responses
  tooling/tenant-quota/pkg/subscriptionquota/roleassignmentmetrics.go
  tooling/tenant-quota/pkg/subscriptionquota/roleassignmentmetrics_test.go
  tooling/tenant-quota/pkg/subscriptionquota/roleassignments_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

simple comments
  backend/pkg/controllers/cluster/credentialrequest/operations/dispatch_request_credential.go
  backend/pkg/controllers/cluster/credentialrequest/operations/operation_request_credential.go
  backend/pkg/controllers/cluster/credentialrevocation/operations/dispatch_revoke_credentials.go
  frontend/asynchronous-operations.md
  frontend/pkg/frontend/frontend.go
  internal/database/cosmosstoragetesting/corecosmosstoragetesting/mock_init.go
  internal/systemadmincredential/builders.go
  internal/systemadmincredential/keypair.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: remove unused revokeOpSuffix parameter from GetCachedCertificateRevocationRequestForSystemAdminCredentialRevocation
  backend/pkg/controllers/cluster/credentialrevocation/deletion/revocation_completion.go
  backend/pkg/kubeapplierhelpers/system_admin_credentials.go
Due: e2e-parallel, ci/prow/e2e-parallel

feat: replace desires with updated spec when content changes
  backend/pkg/kubeapplierhelpers/desire_helpers.go
  backend/pkg/kubeapplierhelpers/desire_helpers_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: use acrDNSSuffix instead of hardcoded .azurecr.io and require k8s in schema
  cert-exporter/mgmt/values.yaml
  cert-exporter/svc/values.yaml
  config/config.schema.json
Due: e2e-parallel, ci/prow/e2e-parallel

chore: regenerate docs/pipelines.md for cert-exporter topology entries
  docs/pipelines.md
Due: none

fix: require mock identity owners
  config/config-dev-ci.schema.json
  dev-infrastructure/templates/mock-identity-apps.bicep
Due: e2e-parallel, ci/prow/e2e-parallel

chore: add cert-exporter configuration and schema
  Makefile
  config/config-dev-ci.schema.json
  config/config-dev-ci.yaml
  config/config.msft.clouds-overlay.yaml
  config/config.schema.json
  config/config.yaml
  config/rendered/dev/ci00/centralus.yaml
  config/rendered/dev/ci01/centralus.yaml
  config/rendered/dev/cspr/westus3.yaml
  config/rendered/dev/dev/westus3.yaml
  config/rendered/dev/perf/westus3.yaml
  config/rendered/dev/pers/westus3.yaml
  go.work
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add cert-exporter deployment for service cluster
  cert-exporter/svc/deploy/Chart.yaml
  cert-exporter/svc/deploy/templates/acrpullbinding.yaml
  cert-exporter/svc/deploy/templates/allow-metrics.authorizationpolicy.yaml
  cert-exporter/svc/deploy/templates/clusterrole.yaml
  cert-exporter/svc/deploy/templates/configmap.yaml
  cert-exporter/svc/deploy/templates/deployment.yaml
  cert-exporter/svc/deploy/templates/peerauthentication.yaml
  cert-exporter/svc/deploy/templates/rolebinding.yaml
  cert-exporter/svc/deploy/templates/service.yaml
  cert-exporter/svc/deploy/templates/serviceaccount.yaml
  cert-exporter/svc/deploy/templates/servicemonitor.yaml
  cert-exporter/svc/namespace.yaml
  cert-exporter/svc/pipeline.yaml
  cert-exporter/svc/values.yaml
  cert-exporter/svc/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_cert_exporter.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add cert-exporter deployment for management cluster
  cert-exporter/mgmt/deploy/Chart.yaml
  cert-exporter/mgmt/deploy/templates/acrpullbinding.yaml
  cert-exporter/mgmt/deploy/templates/clusterrole.yaml
  cert-exporter/mgmt/deploy/templates/configmap.yaml
  cert-exporter/mgmt/deploy/templates/deployment.yaml
  cert-exporter/mgmt/deploy/templates/service.yaml
  cert-exporter/mgmt/deploy/templates/serviceaccount.yaml
  cert-exporter/mgmt/deploy/templates/servicemonitor.yaml
  cert-exporter/mgmt/namespace.yaml
  cert-exporter/mgmt/pipeline.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

feat: add RBAC controller for dynamic namespace management
  cert-exporter/.gitignore
  cert-exporter/Dockerfile
  cert-exporter/Env.mk
  cert-exporter/Makefile
  cert-exporter/controller.go
  cert-exporter/controller_test.go
  cert-exporter/go.mod
  cert-exporter/go.sum
  cert-exporter/main.go
  cert-exporter/mgmt/deploy/templates/rbac-controller-acrpullbinding.yaml
  cert-exporter/mgmt/deploy/templates/rbac-controller-clusterrole.yaml
  cert-exporter/mgmt/deploy/templates/rbac-controller-clusterrolebinding.yaml
  cert-exporter/mgmt/deploy/templates/rbac-controller-deployment.yaml
  cert-exporter/mgmt/deploy/templates/rbac-controller-service.yaml
  cert-exporter/mgmt/deploy/templates/rbac-controller-serviceaccount.yaml
  cert-exporter/mgmt/deploy/templates/rbac-controller-servicemonitor.yaml
  cert-exporter/mgmt/deploy/templates/rbac-controller-validatingadmissionpolicy.yaml
  cert-exporter/mgmt/values.yaml
  cert-exporter/mgmt/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_cert_exporter.yaml
  cert-exporter/status.go
  cert-exporter/status_test.go
Due: e2e-parallel, ci/prow/e2e-parallel

fix: route cert-exporter metrics by secret_namespace label
  observability/prometheus/deploy/templates/prometheus.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_mgmt_resources_unset.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_svc_resources.yaml
  observability/prometheus/testdata/zz_fixture_TestHelmTemplate_helmtest_svc_resources_unset.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

docs: add cert-exporter validation and design documentation
  cert-exporter/BLOCKERS-RESOLVED.md
  cert-exporter/VALIDATION.md
  cert-exporter/design/ARCHITECTURE.md
  cert-exporter/design/OVERVIEW.md
  cert-exporter/design/README.md
  cert-exporter/validate-metrics.sh
Due: e2e-parallel, ci/prow/e2e-parallel

fix: address Copilot code review feedback
  cert-exporter/mgmt/deploy/templates/rbac-controller-clusterrolebinding.yaml
  cert-exporter/mgmt/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_cert_exporter.yaml
  cert-exporter/svc/deploy/templates/clusterrole.yaml
  cert-exporter/svc/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_cert_exporter.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

Fix: Latency, renaming, duplication alert
  dev-infrastructure/modules/metrics/rules/generatedRPPrometheusAlertingRules.bicep
  dev-infrastructure/modules/metrics/rules/generatedRecordingRules.bicep
  observability/alerts/cluster-deletion-slo-prometheusRule.yaml
  observability/alerts/cluster-deletion-slo-prometheusRule_test.yaml
  observability/grafana-dashboards/sre/user-journey/cluster-deletion.json
  observability/recording-rules/cluster-deletion-slo-recordingRule.yaml
  observability/recording-rules/cluster-deletion-slo-recordingRule_test.yaml
Due: observability-prometheus, e2e-parallel, ci/prow/e2e-parallel

feat(backups) add capture etcd snapshot with backup hooks
  backend/pkg/controllers/cluster/backups/schedule.go
  docs/backups.md
  internal/backup/backup.go
  internal/backup/backup_test.go
  velero/deploy/templates/velero-rbac.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

doc: add hcp etcd restore documentation
  docs/etcd-restore.md
Due: none

fix: add missing newlines at end of YAML files
  cert-exporter/mgmt/deploy/templates/rbac-controller-acrpullbinding.yaml
  cert-exporter/mgmt/deploy/templates/rbac-controller-clusterrole.yaml
  cert-exporter/mgmt/deploy/templates/rbac-controller-clusterrolebinding.yaml
  cert-exporter/mgmt/deploy/templates/rbac-controller-deployment.yaml
  cert-exporter/mgmt/deploy/templates/rbac-controller-service.yaml
  cert-exporter/mgmt/deploy/templates/rbac-controller-serviceaccount.yaml
  cert-exporter/mgmt/deploy/templates/rbac-controller-servicemonitor.yaml
  cert-exporter/mgmt/deploy/templates/rbac-controller-validatingadmissionpolicy.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

fix: remove invalid port selector from ServiceMonitor
  cert-exporter/mgmt/deploy/templates/servicemonitor.yaml
  cert-exporter/mgmt/zz_fixture_TestHelmTemplate_dev_westus3_mgmt_1_cert_exporter.yaml
  cert-exporter/svc/zz_fixture_TestHelmTemplate_dev_westus3_svc_1_cert_exporter.yaml
Due: e2e-parallel, ci/prow/e2e-parallel

Path conditions:
  observability-prometheus: any of: ^observability/(alerts|prometheus)/
  observability-grafana: any of: ^observability/grafana/
  e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
  ci/prow/e2e-parallel: unless all of: ^(?:action\.yml|AGENTS\.md|CLAUDE\.md|CODEOWNERS|CONTRIBUTING\.md|\.bingo/|\.cursor/|\.devcontainer/|docs/|\.editorconfig|GEMINI\.md|generate-repo\.sh|generate-tag\.sh|get-digest\.sh|get-tag-sha\.sh|\.gitattributes|\.gitguardian\.yaml|\.github/|\.gitleaks\.toml|\.golangci\.yml|LICENSE|\.mega-linter\.yml|README\.md|SECURITY\.md|svc-deploy\.sh|\.vscode/|\.yamlfmt\.yaml|\.yamllint\.yml)$|\.md$
